<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Introduction to control elements in processes</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Get a basic overview of the control elements you’ll be working with in plentymarkets processes: loop, jump, split, filter, dialogue and end.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/225378593" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>"Look! Up in the sky, it’s a bird…​"<br>
"It’s a plane…​"<br>
"It’s Dr. Process!"</p>
</div>
<div class="paragraph">
<p>Our superhero never fails to show up when procedures need to be automated. With his arsenal of superpowers, Dr. Process is equipped to turn your workflow into a cakewalk!
But how does he do it!?!
Well actually, Dr. Process' superpowers aren’t even that mythical. All they are is control elements like the loop, jump, split, filter, dialogue and end. So fear not, mere mortal! You too can conquer that entrepreneurial kryptonite by simplifying and automating otherwise time-consuming procedures!</p>
</div>
<div class="paragraph">
<p>In this tutorial, I’ll give you a quick rundown of an example process that includes almost all of the control elements available to you. Make sure to check out our other videos that deal with various control elements and their individual functions. And also, if you want to know more about how this particular process works in day-to-day business, just check out the multi-order picking video that REALLY delves into the nitty gritty.</p>
</div>
<div class="paragraph">
<p>So what is the actual purpose of this process?
Now first of all, you don’t need to create a process as sophisticated as this. It might make more sense for you to create several small and simple processes. All of that’s up to you.
But to introduce you to the control elements, we’ll be working with a multi-picking process. And at the risk of wearing out the term superhero, this is essentially the superhero of all processes because it pretty much includes everything necessary to process your orders.</p>
</div>
<div class="paragraph">
<p>Alright so this process first includes a pick list search. Now just to be clear, these pick lists have already been created in a short separate process. You then scan or manually enter the items you’ve collected individually and place them in their assigned box. Each box represents an individual order that can contain various amounts of items.
Once the items have been registered and placed in their corresponding boxes, the process continues - so your order goes through the shipping centre where shipping labels are printed and then both the invoice and delivery note are generated.</p>
</div>
<div class="paragraph">
<p>As I mentioned, this process includes all control elements - so a filter and the corresponding reset filter, a jump, dialogue, loop and split. But we’ll take a look at the individual functions of those control elements in separate videos.
Now since all processes should always be tailored to the unique demands of your online store, it’s not always a good idea to copy a process one-to-one.
But if you want, you can nonetheless download this process in the video description and use it as the basis for your own individualised process.
Just keep in mind that when you download a process, you’ll have to configure your printer as well as re-enter various order statuses.</p>
</div>
<div class="paragraph">
<p>Faster than a speeding bullet, more powerful than a locomotive, able to leap tall buildings at a single bound.
Dr. Process at your service!</p>
</div>
</div>
</div>
</main>