<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Importing and exporting processes</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Find out where to download plentymarkets processes and what settings must be re-entered into a newly imported process.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/228964827" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Now you already know that Dr. Process has an impressive arsenal of superpowers! But did you know that he’s happy to share his wealth with the masses?
Download and import any of Dr. Process' superpowers from our website or forum. You’ll also find a download link in most of our process videos. And once you’ve tweaked the downloaded processes to your heart’s content, you yourself can share them with the world using the export function.</p>
</div>
<div class="paragraph">
<p>Right, so you’ve completed the download. Simply go to System &gt; Processes &gt; Import and give your process a name and upload the file to your system. After reloading the tab, voila! There it is!
Ready for transmutation!</p>
</div>
<div class="paragraph">
<p>Alright, so you may want to try out this process right away. But ugh - error messages!
Not to worry! This is an easy fix and only happens because some of the settings that were entered in someone else’s local system simply can’t be imported into your own system and are lost or jumbled en route.
So let’s fine-tune this baby!</p>
</div>
<div class="paragraph">
<p>This ID, for example, tells us that something’s wrong with element 1518.
And when we switch back to the process settings, we can see that 1518 is "Item registration".
The problem here is that sometimes newly imported processes don’t know where to jump to. And this happens because the IDs in your system are likely different than the IDs in another person’s system.
No problem. Just tell plentymarkets that you want to jump down to this filter right here.
That’ll be my filter with the ID 1521.
If you’re not sure which ID your filter has, just move your mouse over the element like so.</p>
</div>
<div class="paragraph">
<p>OK, one error down. Next up, element 738.
That’s this sub-procedure right here, so change status. As a general rule, statuses always have to be re-linked after a process has been imported.
In this case, just select whichever status you want to use in case of errors and do the same for the other "Change status" sub-procedure down here.</p>
</div>
<div class="paragraph">
<p>Last up, we’ve got …​ one …​ two …​ three …​ "Print" sub-procedures. Anytime an imported process includes a print function, you’ll have to link the correct printer in the sub-procedure. So make sure you’ve configured the printers you’ll be using in your system beforehand.</p>
</div>
<div class="paragraph">
<p>Okay, now before you start using this process, you may want to edit any text that will be displayed to your warehouse technician.
Perfect!</p>
</div>
<div class="paragraph">
<p>Now to share your brilliance with the world!
Exporting a process from plentymarkets is just like importing one - only backwards!
And if you want, let’s say, two slightly different versions of a process in your system, simply copy an existing process and begin transmutation anew!
With Dr Process as your ally, become your own superhero!</p>
</div>
</div>
</div>
</main>