<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <div class="paragraph">
<p>﻿= Best Practices
:lang: en
:keywords: Key figures, app statistics, orders, sold items, show revenue, show new customers, dashboard
:position: 1000</p>
</div><div class="paragraph">
<p>Best practices for statistics can be found on this page.</p>
</div><div class="sect1">
<h2 id="_setting_up_key_figures_in_the_plentymarkets_app">Setting up key figures in the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Want to know how many orders have come in this month? Or do you want to know how many new customers you have gained? In the plentymarkets app, you can display the most important key figures on the start page.
In this best practice, we want to introduce you to some of important key figures.</p>
</div>
<div class="paragraph">
<p>First, set up a <code>page</code> on the app’s start page. You need at least one page. To create this page, go to the dashboard of the plentymarkets app. Click on the pen symbol to the right and then on <strong>Add a new page</strong>. Give the page a name, e.g. <code>Daily overview</code>.</p>
</div>
<div class="paragraph">
<p>To show you how to set up key figures, we describe how to keep up to date with revenue data in the plentymarkets app.</p>
</div>
<div class="sect2">
<h3 id="_example_showing_revenue_data">Example: Showing revenue data</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Click on the pen symbol to the right and then on <strong>Add new key figures</strong>.<br>
→ The menu for key figures opens.</p>
</li>
<li>
<p>Select the option <strong>Revenue</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on the field you created to carry out additional settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>A period of 30 days is selected by default. Alternatively, you can select a different period such as <code>Today</code>.
Other useful settings are: Name, colour, status, client and order referrer.</p>
</div>
<div class="paragraph">
<p>If you no longer need the key figure, you can delete it in the settings.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/assets/key-figures.jpg" alt="key figures" width="50%">
</div>
<div class="title">Figure 1. 30 days summary</div>
</div>
<div class="paragraph">
<p>Other key figures that you can set up in the same way in the plentymarkets app are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Average orders</p>
</li>
<li>
<p>New customer types</p>
</li>
<li>
<p>Sold items</p>
</li>
<li>
<p>Unassigned Payments</p>
</li>
<li>
<p>Orders</p>
</li>
<li>
<p>Paid orders only</p>
</li>
<li>
<p>New items</p>
</li>
<li>
<p>Average revenue</p>
</li>
<li>
<p>Average sold items</p>
</li>
<li>
<p>Items per order</p>
</li>
<li>
<p>Active listings</p>
</li>
<li>
<p>Active listings</p>
</li>
<li>
<p>Incoming items</p>
</li>
<li>
<p>Reorder level</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>