<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#110"><span>1.</span><span> General settings</span></a></li>
<li><a href="#120"><span>2.</span><span> Scan item</span></a></li>
<li><a href="#130"><span>3.</span><span> Add order notes</span></a></li>
<li><a href="#140"><span>4.</span><span> Remove from procedure</span></a></li>
<li><a href="#150"><span>5.</span><span> Scan reorder</span></a></li>
<li><a href="#160"><span>6.</span><span> Carry out booking</span></a></li>
<li><a href="#170"><span>7.</span><span> Reset booking</span></a></li>
<li><a href="#180"><span>8.</span><span> Print</span></a></li>
<li><a href="#190"><span>9.</span><span> Change owner</span></a></li>
<li><a href="#200"><span>10.</span><span> Show note</span></a></li>
<li><a href="#210"><span>11.</span><span> Change flag</span></a></li>
<li><a href="#230"><span>12.</span><span> Order notes</span></a></li>
<li><a href="#240"><span>13.</span><span> Customer notes</span></a></li>
<li><a href="#245"><span>14.</span><span> Save online</span></a></li>
<li><a href="#250"><span>15.</span><span> Scan package number</span></a></li>
<li><a href="#260"><span>16.</span><span> Register serial numbers</span></a></li>
<li><a href="#270"><span>17.</span><span> Sounds</span></a></li>
<li><a href="#280"><span>18.</span><span> Save</span></a></li>
<li><a href="#290"><span>19.</span><span> Change status</span></a></li>
<li><a href="#300"><span>20.</span><span> Change shipping service provider</span></a></li>
<li><a href="#310"><span>21.</span><span> Shipping packages</span></a></li>
<li><a href="#320"><span>22.</span><span> Change shipping profile</span></a></li>
<li><a href="#330"><span>23.</span><span> Send</span></a></li>
<li><a href="#340"><span>24.</span><span> Change payment method</span></a></li>
<li><a href="#350"><span>25.</span><span> Save to clipboard</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Sub-procedures</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual contains information about the sub-procedures you can add to the procedures of processes in the <strong>System » Processes</strong> menu.</p>
</div>
<div class="paragraph">
<p>The sub-procedures are listed in alphabetical order. The information is presented based on the following pattern:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Short explanation of the sub-procedure</p>
</li>
<li>
<p>The procedures for which the sub-procedure is available</p>
</li>
<li>
<p>Any settings that are specific to this sub-procedure and available in addition to the <a href="/en/basics/automation/processes/sub-procedures#100">general settings</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The information presented on this page serves as reference for users familiar with the basic concept of plentymarkets procedures. For basic information on processes, refer to the <a href="/en/basics/automation/processes/setting-up-processes">Setting up processes</a> page of the manual.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Tool plentyBase required</div>
<div class="paragraph">
<p>To create and run processes, you need plentyBase. You can download the installation files in the <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="110">1. General settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some settings are available for all sub-procedures. The following table explains these settings.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. General settings for sub-procedures</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The sub-procedure’s current position in the procedure. The sub-procedure with the lowest position number is run first. Select a different position from the drop-down list to change the order in which the sub-procedures are run in the procedure.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">2. Scan item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Scan item</strong> sub-procedure to open an entry mask for scanning items with a barcode scanner.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#160">Item search</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="130">3. Add order notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Add order notes</strong> sub-procedure to add a note to an order.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. <strong>Add order notes</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Note</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of note to be added to the order.<br>
<strong>Individual note</strong> = Allows the user to enter a message during the process. This message is saved as a note for the order.<br>
<strong>Predefined note</strong> = Opens a window. Enter a message into the <strong>Message</strong> area. This message will be saved automatically for errors during the process.<br>
<strong>No note</strong> = (Procedure "In case of error" only) Notes are never saved in the order. This option is recommended if you want to save the error message only as the order note.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Save error message as additional note</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(Procedure "In case of error" only) Place a check mark to save the error message displayed in the process as an order note.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="140">4. Remove from procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Remove from process</strong> sub-procedure to remove orders from the process. The sub-procedure also removes the order from filters and previously started box picking.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="150">5. Scan reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Scan reorder</strong> sub-procedure opens a window that allows you to book in items using a barcode scanner.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#200">Reorder search</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="160">6. Carry out booking</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Carry out booking</strong> sub-procedure to book incoming items or outgoing items automatically.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#440">Outgoing items</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#450">Incoming items (reorder)</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="170">7. Reset booking</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Reset booking</strong> sub-procedure to reset outgoing items that were booked for selected orders.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#440">Outgoing items</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="180">8. Print</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Select the desired printer when adding this sub-procedure. This will allow you to print documents, e.g. delivery notes or invoices.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#110">Pick-up/delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#120">Address label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#130">Offer</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#150">Item label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#180">Order confirmation</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#210">Documents</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#240">Entry certificate (Gelangensbestätigung)</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#250">Credit note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#270">Adjustment form</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#280">Warehouse pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#290">Delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#300">Dunning letter</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#310">packing list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#320">pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#350">Invoice</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#360">Repair slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#380">Return label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#390">Return slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#430">Shipping center</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. <strong>Print</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Printer setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the <a href="/en/basics/working-with-plentymarkets/printer">printer profiles</a> saved in the <strong>System » Settings » Printers</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Copies</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of copies per print.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">As multi-document</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place a check mark to merge all documents into a single document. This single document will be printed.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="190">9. Change owner</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Change owner</strong> sub-procedure to change the owner. You can select from the owners saved in your system.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. <strong>Change owner</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Owner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner to be assigned with the sub-procedure from the drop-down list. You can select an owner from all those saved in your system.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">10. Show note</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Note</strong> sub-procedure shows a note that you have saved in advance. You can choose how much time should elapse before the note is hidden.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#260">Note</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. <strong>Note</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a title for the note to be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Close automatically</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specify whether the note should be closed automatically after it was shown.<br>
<strong>Never</strong> = The user has to click on the note to close it.<br>
<strong>After 1–5 seconds</strong> = The note is closed automatically after the selected time has elapsed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Message</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the text that is to be shown as the note.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="210">11. Change flag</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Change flag</strong> sub-procedure to change the flag. You can select from the flags saved in your system.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. <strong>Change flag</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the flag to be assigned with the sub-procedure from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="230">12. Order notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By combining the <strong>Order notes</strong> sub-procedure with the <a href="/en/basics/automation/processes/procedures#260">Note</a> procedure, you can display the information saved in the <a href="/en/order-processing/orders/managing-sales-orders#changing-order">Orders » Edit orders » Tab: Overview</a> menu during the process so you employees can take appropriate action.<br>
The customer can write notes during the order process. Example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Please do not send your promotional product. I have no use for it!</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Or you can enter the notes yourself. Example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The customer does not want the promotional product. Do not include in the package!</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#260">Note</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 7. <strong>Order notes</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Visibility</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the notes to be displayed.<br>
<strong>ALL</strong> = All notes are shown during the process.<br>
<strong>Customer notes only</strong> = Only notes entered by customers are shown during the process.<br>
<strong>Employee notes only</strong> = Only notes entered by an employee are shown during the process.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="240">13. Customer notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By combining the <strong>Customer notes</strong> sub-procedure with the <a href="/en/basics/automation/processes/procedures#260">Note</a> procedure, you can display the information saved in the <strong>CRM » Edit customer » Tab: Notes</strong> menu during the process so you employees can take appropriate action.<br>
Example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The customer does not want to receive any advertisement.</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#260">Note</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="245">14. Save online</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Save online</strong> sub-procedure to save an online pick list that you can retrieve and process it in the plentymarkets App.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#320">pick list</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">15. Scan package number</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Scan package number</strong> sub-procedure to register a package number.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 8. <strong>Scan package number</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Package number format</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the package number format from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="260">16. Register serial numbers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Register serial numbers</strong> sub-procedure to register <a href="/en/item/managing-items#820">serial numbers</a> using a barcode scanner during the process. Decide whether to permit new serial numbers and whether serial numbers should be saved automatically.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#420">Serial numbers</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 9. <strong>Register serial numbers</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New serial numbers</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allow</strong> = Serial numbers that were not registered along with the incoming items can be scanned with the outgoing items.<br>
<strong>Do not permit</strong> = Serial numbers have to be scanned with incoming items and again with outgoing items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatic save</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong> = The process will be saved once serial numbers have been registered for all of the stock units. The process will continue automatically.<br>
<strong>No:</strong> Users have to click on <strong>Save</strong> once serial numbers have been registered for all of the stock units. The process will not continue until this is done.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="270">17. Sounds</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Sounds</strong> sub-procedure if you want an acoustic signal to be played as confirmation that the procedure was carried out.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#110">Pick-up/delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#120">Address label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#130">Offer</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#150">Item label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#160">Item search</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#180">Order confirmation</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#210">Documents</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#220">Email</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#240">Entry certificate (Gelangensbestätigung)</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#250">Credit note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#260">Note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#270">Adjustment form</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#280">Warehouse pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#290">Delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#300">Dunning letter</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#310">packing list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#320">pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#340">Polling</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#350">Invoice</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#360">Repair slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#380">Return label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#390">Return slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#400">SEPA Pain001</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#410">SEPA Pain008</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#430">Shipping center</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#440">Outgoing items</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 10. <strong>Sounds</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sounds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the acoustic signal to be generated when a procedure has been carried out.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="280">18. Save</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The documents will be saved in the folder that you selected when creating the sub-procedure. If the process is to be carried out by more than one user, specify a folder that can be accessed by all users.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#110">Pick-up/delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#120">Address label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#130">Offer</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#150">Item label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#180">Order confirmation</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#210">Documents</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#220">Email</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#230">Finance export</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#240">Entry certificate (Gelangensbestätigung)</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#250">*Credit note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#270">Adjustment form</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#280">Warehouse pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#290">Delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#300">Dunning letter</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#310">packing list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#320">pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#340">Polling</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#350">Invoice</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#360">Repair slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#380">Return label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#390">Return slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#400">SEPA Pain001</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#410">SEPA Pain008</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#430">Shipping center</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 11. <strong>Save</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Target folder</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on the pencil icon and select the path for saving the documents.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">File name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the name with which the documents are to be saved.<br>
<strong>Standard</strong> = Files are assigned the default name.<br>
<strong>User-defined</strong> = Enter a user-defined name. Available variable: $PlentyID.<br>
<strong>Create subfolder</strong> = The documents are saved in a subfolder. This subfolder is created based on the pattern target_folder/type_date_time/.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">As multi-document</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place a check mark to merge all documents into a single document. Only this single document will be saved.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="290">19. Change status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Change status</strong> sub-procedure to change the status. You can select from the statuses saved in your system.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 12. <strong>Change status</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status to be assigned with the sub-procedure from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">20. Change shipping service provider</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Change shipping service provider</strong> sub-procedure to change the shipping service provider.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 13. <strong>Order</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping service provider</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping service provider from the drop-down menu that you want to assign with this sub-procedure. You can select a shipping service provider from all those saved in your system.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="310">21. Shipping packages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Shipping packages</strong> sub-procedure to create and process shipping packages.</p>
</div>
<div class="paragraph">
<p>Procedures This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="320">22. Change shipping profile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Change shipping profile</strong> sub-procedure to change the shipping profile.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 14. <strong>Change shipping profile</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping profile from the drop-down list that you want to assign with this sub-procedure. You can select a shipping profile from all those saved in your system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Checkbox</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place a check mark if you want to use different shipping costs than the ones saved in the selected shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping costs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the shipping costs. If you placed a check mark in the checkbox, then the shipping costs that are entered will be used.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="330">23. Send</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Send</strong> sub-procedure sends the email template that was selected for the <a href="/en/basics/automation/processes/procedures#220">email</a> procedure.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#220">Email</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="340">24. Change payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Change payment method</strong> sub-procedure to change the payment method of an order.</p>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>The following table explains the additional settings for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 15. <strong>Print</strong> sub-procedure</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the payment method to be assigned to the orders with the sub-procedure from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="350">25. Save to clipboard</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It can take a long time to print or save a large number of documents. This leads to waiting times. You can avoid this by using the <strong>Save to clipboard</strong> sub-procedure. For example, you can use it before a procedure that takes longer to carry out than it does to save. The information will be saved in the background while the procedure is carried out. You can follow this e.g. by the <strong>Print</strong> sub-procedure. The printer will access and print the documents that were saved in the background.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Do not combine Save to clipboard with procedures for error handling</div>
<div class="paragraph">
<p>Do not configure the sub-procedure Save to clipboard for a procedure for which you also want to configure a procedure for error handling. Because documents are cached asynchronously, this combination would mean that the process cannot execute correctly.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Procedures</p>
</div>
<div class="paragraph">
<p>This sub-procedure is available for the following procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/processes/procedures#110">Pick-up/delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#120">Address label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#130">Offer</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#150">Item label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#180">Order confirmation</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#210">Documents</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#240">Entry certificate (Gelangensbestätigung)</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#250">Credit note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#270">Adjustment form</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#280">Warehouse pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#290">Delivery note</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#300">Dunning letter</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#310">packing list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#320">pick list</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#350">Invoice</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#360">Repair slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#380">Return label</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#390">Return slip</a></p>
</li>
<li>
<p><a href="/en/basics/automation/processes/procedures#430">Shipping center</a></p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Settings</p>
</div>
<div class="paragraph">
<p>No additional settings are required for this sub-procedure. The general settings for sub-procedures are described in <a href="/en/basics/automation/processes/sub-procedures#100">table&nbsp;1</a>.</p>
</div>
</div>
</div>
</main>