<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_troubleshooting_for_processes"><span>1.</span><span> Troubleshooting for processes</span></a></li>
<li><a href="#_configuration"><span>2.</span><span> Configuration</span></a></li>
<li><a href="#_procedures_and_sub_procedures"><span>3.</span><span> Procedures and sub-procedures</span></a>
<ul class="sectlevel2">
<li><a href="#_overview"><span>3.1.</span><span> Overview</span></a></li>
<li><a href="#_email_procedure"><span>3.2.</span><span> Email procedure</span></a></li>
<li><a href="#_order_procedure"><span>3.3.</span><span> Order procedure</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Troubleshooting</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Processes</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_troubleshooting_for_processes">1. Troubleshooting for processes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to fix errors so that processes are not aborted due to one or more faulty orders. You can also save notes for faulty orders that remind you to correct these orders later. All of the other orders are processed as usual. Troubleshooting will only be carried out if it was first configured for all of the necessary the procedures.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Troubleshooting availability</div>
<div class="paragraph">
<p>A gray beetle identifies the procedures that troubleshooting is available for (image 1). A red beetle identifies the procedures that troubleshooting was already configured for (image 2).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1 linkBox">
<h2 id="_configuration">2. Configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The procedure <a href="/en/basics/automation/processes/procedures#430">Shipping center</a> will be used to explain how to configure the troubleshooting.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Option for procedures that include troubleshooting</div>
<div class="paragraph">
<p>The option <strong>In case of error</strong> is available for procedures that include troubleshooting. Select what should happen to the process if an error occurs. You can either choose to <strong>cancel the process</strong>, <strong>jump to a specific procedure</strong> or <strong>continue with the next procedure</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Settings-Processes-Procedures-Troubleshooting-01.png" alt="Troubleshooting">
</div>
<div class="title">Figure 1. <strong>Shipping center</strong> procedure with a troubleshooting option</div>
</div>
<div class="paragraph instruction">
<p>Configuring troubleshooting:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Processes</strong>.</p>
</li>
<li>
<p>Decide which procedure you want to configure troubleshooting for. Open the process that contains this procedure.</p>
</li>
<li>
<p>Use your mouse to <strong><em>right-click</em></strong> on the desired procedure with a gray beetle (image 1, blue arrow).<br>
→ A context menu will open.</p>
</li>
<li>
<p>Click on the option <strong>Add procedure for occurring errors</strong> in the context menu (image 1, red arrow).</p>
</li>
<li>
<p>Select the desired <strong>procedure</strong> from the drop-down list (section 3).</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The procedure will be created. Procedures that are created for troubleshooting are displayed in red frames(image 2).</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_procedures_and_sub_procedures">3. Procedures and sub-procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can choose to add the procedure <strong>Order</strong> and/or <strong>Email</strong>.</p>
</div>
<div class="sect2">
<h3 id="_overview">3.1. Overview</h3>
<div class="paragraph">
<p>Available procedures and corresponding sub-procedures for troubleshooting:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Procedure: <a href="/en/basics/automation/processes/procedures#220">Email</a></p>
</li>
<li>
<p>Sub-procedure: <a href="/en/basics/automation/processes/sub-procedures#330">Send</a></p>
</li>
<li>
<p>Procedure: <a href="/en/basics/automation/processes/procedures#170">Order</a></p>
</li>
<li>
<p>Sub-procedure: <a href="/en/basics/automation/processes/sub-procedures#290">Change status</a></p>
</li>
<li>
<p>Sub-procedure: <a href="/en/basics/automation/processes/sub-procedures#130">Add order notes</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_email_procedure">3.2. Email procedure</h3>
<div class="paragraph">
<p>Use the <strong>Email</strong> procedure together with the <strong>Send</strong> sub-procedure to send an email template, e.g. as a reminder of the faulty orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_order_procedure">3.3. Order procedure</h3>
<div class="paragraph">
<p>Use the <strong>Order</strong> procedure together with sub-procedures to edit the faulty order.<br>
The sub-procedure <strong>Change status</strong> changes the status of the faulty order. The status will change to whatever status is selected from the drop-down list.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Individual status</div>
<div class="paragraph">
<p>The easiest way to find faulty orders is to assign a separate status. This status is assigned to faulty orders during troubleshooting. You can then filter for this status in the <strong>Orders</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Depending on the configuration, the sub-procedure <a href="/en/basics/automation/processes/sub-procedures#130">Add order notes</a> can be used to add an individual note to every faulty order. Alternatively, a saved note can be inserted for all of the faulty orders within a process. We also recommend that you attach the error message to the order.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/processes/assets/EN-Settings-Processes-Procedures-Troubleshooting--02.png" alt="Troubleshooting">
</div>
<div class="title">Figure 2. <strong>Shipping center</strong> procedure with a troubleshooting option</div>
</div>
<div class="paragraph">
<p>In the example shown above, faulty orders are given a new status and a note is saved for the orders. This makes it easy to find the orders in the order overview and correct the errors. Once they were corrected, the orders can go through the process again and be completed.</p>
</div>
</div>
</div>
</div>
</main>