<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 08. Juli 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 01. Juli 2021 bis zum 08. Juli 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Release nach stable verschoben</div>
<div class="paragraph">
<p>Der Release nach stable wurde diese Woche verschoben. Aus diesem Grund kann es vereinzelt Abweichungen bei den Angaben auf dieser Seite geben.</p>
</div>
<div class="paragraph">
<p><a href="https://forum.plentymarkets.com/t/kein-release-von-early-zu-stable-diese-woche-no-release-from-early-to-stable-this-week/644756" target="_blank" rel="noopener">Weitere Informationen zum verschobenen Release findest du im Forum.</a></p>
</div>
</td>
</tr>
</tbody></table>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es kann nun eingestellt werden, wie das Verhalten für die Versandkosten beim Teilen von Aufträgen sein soll. Die Einstellung befindet sich im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
</ul>
</div>
<h3 id="_kaufland_de" class="discrete">Kaufland.de</h3>
<div class="ulist">
<ul>
<li>
<p>Durch das sogenannte Mehrwertsteuer-Digitalpaket, das am 01.07.2021 in Kraft tritt, ändern sich auch Regelungen zur Umsatzsteuer in EU-Ländern. Kaufland.de reagiert darauf mit dem <a href="https://knowledge.plentymarkets.com/maerkte/kaufland-de/kaufland-de-einrichten#225" target="_blank" rel="noopener">Modell Fiktiver Lieferer</a>. Durch die Gesetzesänderungen wird Kaufland.de zum fiktiven Lieferer und wird dadurch teilweise umsatzsteuerpflichtig. Das Modell basiert auf dem Standort des Firmensitzes, dem Standort von Lagern und dem Wert der Lieferung.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Lager außerhalb der EU müssen daher mit einem Lager von Kaufland.de verknüpft werden. Nutze dafür die Einstellung <strong>Lager verknüpfen</strong>. Hier werden alle deine Lager vom Typ <strong>Vertrieb</strong> aufgelistet. Wähle deine Lager aus und verknüpfe sie jeweils mit dem passenden Lager von Kaufland.de. So werden Bestände deiner Lager mit den Lagern von Kaufland.de verknüpft. Diese Einstellung ist nicht relevant, wenn deine Lager innerhalb der EU sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_fruugo" class="discrete">Fruugo</h3>
<div class="ulist">
<ul>
<li>
<p>Im Zusammenhang mit Änderungen zur Mehrwertsteuer ab dem 01.07.2021 zu Aufträgen ins außereuropäische Ausland erhalten wir bei Fruugo-Aufträgen die Information, ob die Steuer vom Marktplatz oder vom Händler abgeführt wird.
Wenn Fruugo die Steuer abführt, dann speichern wir die Steuer-ID und die EORI von Fruugo in den OrderProperties mit den TypeIDs 88 und 89.</p>
<div class="paragraph">
<p>Die Darstellung dieser auf den Zolldokumenten erfolgt durch ein separates Update eines anderen Teams in naher Zukunft.</p>
</div>
<div class="paragraph">
<p>Außerdem wurden die Log-Einträge zum Auftragsimport angepasste. Alle Einträge sind jetzt unter dem Identifikator <strong>fruugo</strong> und dem Referenztyp <strong>action</strong> und dem Referenzwert <strong>orderImport</strong>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 07.07.2021 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/t/aktuelle-merkmalsstrukturen-master-datei/532293" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<h3 id="_zahlungsarten" class="discrete">Zahlungsarten</h3>
<div class="ulist">
<ul>
<li>
<p>Der Menüpunkt <strong>Einrichtung » Aufträge » Zahlungen » Methoden</strong> wurde geändert zu <strong>Einrichtung » Aufträge » Zahlungen » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Der Menüpunkt <strong>Einrichtung » Aufträge » Zahlungen » Methoden [Veraltet]</strong> wurde geändert zu <strong>Einrichtung » Aufträge » Zahlungen » Zahlungsarten [Veraltet]</strong>.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Speichern und Auslesen der Amazon-Einstellungen zu den Optionen <code>Verkäufer-ID</code>, <code>Händler-Token</code> und <code>E-Mail-Adresse</code> werden Leerzeichen an Beginn und Ende des Eingabewertes entfernt, da diese fehlerhafte Eingabe immer wieder zu Problemen in unterschiedlichen Amazon-Prozessen geführt hat.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Warenkorbschaltfläche hat in der neuen Auftragsanlage die Tabelleneinstellungen im Kompakt-Modus verdeckt. Dies wurde nun behoben. Die individualisierbaren Tabellen-Header können wieder im Kompaktmodus genutzt werden.</p>
</li>
<li>
<p>In der neuen Auftragsanlage konnten die Filter in der Artikelsuche nicht zurückgesetzt werden nach Auftragserstellung. Dies wurde behoben. Alle Filter werden zurückgesetzt wenn ein Auftrag erstellt wurde.</p>
</li>
<li>
<p>Durch eine Änderung der Leselogik von Aufträgen wurden die Beträge mit Vorzeichen im Spezialexport <strong>Rechnungsbuch</strong> bei Gutschriften, Korrekturbelegen und Stornobelegen mit falschem Vorzeichen ausgegeben. Dies wurde gefixt.</p>
</li>
<li>
<p>Wurde zu einer Gutschrift der zugehörige Hauptauftrag gelöscht, kam es an verschiedenen Stellen im System zu Problemen, z.B. ließ sich die Gutschrift nicht öffnen oder der Spezialexport <strong>Finanzbuchhaltung</strong> wurde abgebrochen. Dies wurde behoben.</p>
</li>
<li>
<p>Eine kurze Zeit lang konnten keine Nachrichten auf dem Nachbestellung-PDF ausgegeben werden. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_hood" class="discrete">Hood</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Hood-Aufträgen, die mit Klarna oder Amazon Pay bezahlt wurden, wird nur noch dann eine Zahlung hinzugefügt, wenn die Zahlung vom Zahlungsanbieter nicht abgelehnt wurde. Aufträge, bei denen die Zahlung abgelehnt wurde oder bei denen die Prüfung der Zahlung noch aussteht, werden unbezahlt importiert. Ändert sich der Status der Zahlung im Nachhinein, wird die Zahlung später hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn der Abgleich einer Auftragsposition zu keinem Ergebnis führte, wurde der Import abgebrochen. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_kaufland_de_2" class="discrete">Kaufland.de</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn unter <strong>Einrichtung » Märkte » Kaufland.de » Einstellungen » [Öffne Konto] » Bereich: Angebotseinstellungen</strong> die Option <strong>Exportiere Artikelverfügbarkeit</strong> deaktiviert war, dann wurden bei der Command-Datei die letzten 4 Spalten (zwei davon Platzhalter, sowie die minimale und maximale Lieferzeit) weggelassen. Diese konnte dann nicht von Kaufland verarbeitet werden. Die Command-Datei wird für die stündliche Aktualisierung der Angebotsdaten wie Bestände und Preise verwendet. Dies wurde nun behoben und diese Spalten werden nun korrekterweise leer übertragen, statt diese wegzulassen.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Speichern/Drucken von Retourenetiketten in den Prozessen kam es vor, dass entweder die Dokumente fehlerhaft oder die gleichen Dokumente für alle Aufträge ausgegeben wurden. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_abonnements" class="discrete">Abonnements</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Erstellen eines neuen Abonnements wird die Zahlungsart automatisch vorausgewählt, wenn diese in den Optionen im Kontaktdatensatz hinterlegt ist.</p>
</li>
<li>
<p>Eine neue Grundeinstellung wurde hinzugefügt. Im Menü <strong>Einrichtung » Aufträge » Auftragstypen » Abonnement</strong> kannst du nun entscheiden, wie hinzugefügte Artikel im Warenkorb dargestellt werden sollen. Entweder als eine Auftragsposition mit Mengenerhöhung (Standardeinstellung) oder als separat geführte Positionen in eigenen Zeilen.</p>
</li>
<li>
<p>Die Warenkorb-Schaltfläche wurde verbessert, indem ein Effekt beim hinzufügen von Auftragspositionen implementiert wurde.</p>
</li>
<li>
<p>In der Artikelsuche des Abonnements wurden die Filter durch die neueste Filterkomponente ausgetauscht.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der Artikelsuche für Bestellungen wurden die neuen Filter hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt entscheiden, für welche Artikel du Meldebestand (und hiermit Bestellvorschlag) haben solltest.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Man muss keinen Wert im Feld Meldebestand im Tab Lager haben, bzw. man muss auch den standarmäßigen Wert 0 löschen. Sollte man im Tab Lager mehrere Lager für eine Variante hinterlegt haben, muss man für jedes Lager den Wert 0 im Feld Meldebestand eingeben. Man kann aber selbstverständlich auch entscheiden, ob man für ein Lager den Meldebestand für eine Variante aktiviert möchte und man kann den Meldebestand für andere Lager deaktivieren.</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/warenwirtschaft-artikel-meldebestand.png" alt="Eigene Werte exportieren." width="640"></span></p>
</div>
<div class="paragraph">
<p>Verwende den Import vom Typ Artikel, wenn du den Wert für zahlreiche Varianten löschen möchtest. In der Zuordnung muss man das Zielfeld Lager/Meldebestand aktivieren und die entsprechende Spalte muss in der CSV Datei leer bleiben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_zahlungsarten_2" class="discrete">Zahlungsarten</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben das Präfix „Plugin“ bei den Zahlungsarten, die über das Interface durch ein Plugin oder einen Marktplatz registriert wurden, entfernt. Gleichzeitig haben wir das Präfix „Legacy“ für alle alten Zahlungsarten hinzugefügt, sofern diese noch in Verwendung sind. Dies hat nur Auswirkungen auf die Anzeige dieser Zahlungsarten in Filtern etc. innerhalb des Backends. Funktionalitäten sind ist hiervon nicht betroffen.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der Artikelsuche der Auftragsanlage (Beta) waren die Checkbox-Filter auch dann sichtbar, wenn man versucht hat sie zu entfernen oder die Zurücksetzen-Funktion genutzt hat. Dies wurde behoben, die Checkbox-Filter sind nur sichtbar, wenn sie aktiv sind.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/customerclasshomepage_6067" target="_blank" rel="noopener">Customer Class HomePage</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.2.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dotsliderwidget_54878" target="_blank" rel="noopener">Dot Slider - Präsentieren Sie mehrere Angebote auf Ihren Bannern</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feed4multicontentwidget_6816" target="_blank" rel="noopener">Feed4MultiContentWidget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/galaxus_4788" target="_blank" rel="noopener">Galaxus.ch</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.12.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/gaxsys_5992" target="_blank" rel="noopener">gaxsys Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.2.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach dem Update auf Version 4.0.4 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/lenando_4767" target="_blank" rel="noopener">lenando.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.17</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent Toolbox</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.6.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bitte regenerieren Sie den Inhalt nach dem Aktualisieren von MultiContent, um alle Änderungen zu erhalten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/pospaymentmethodrenaming_6813" target="_blank" rel="noopener">plentyPOS Zahlungsarten</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.25.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourseochecktool5_6973" target="_blank" rel="noopener">SEO Check Frontend Tool 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.9.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/tawkto_6602" target="_blank" rel="noopener">Tawk.to</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/trackingmanager_54743" target="_blank" rel="noopener">TrackingManager</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/voelknerextension_6949" target="_blank" rel="noopener">Voelkner</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.17</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/woocommerce_5102" target="_blank" rel="noopener">woocommerce.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.8.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>