<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> How can I retrieve the API log?</span></a></li>
<li><a href="#100"><span>2.</span><span> I receive the error message that no order data is available. What can I do?</span></a></li>
<li><a href="#200"><span>3.</span><span> I receive the error message that the shipper name is missing or invalid. What can I do?</span></a></li>
<li><a href="#300"><span>4.</span><span> I receive the error message that the Ship to phone number is missing or invalid. What can I do?</span></a></li>
<li><a href="#400"><span>5.</span><span> I receive the error message that the shipper phone number is missing or invaild. What can I do?</span></a></li>
<li><a href="#500"><span>6.</span><span> I receive the error message that the service code is missing or invalid. What can I do?</span></a></li>
<li><a href="#600"><span>7.</span><span> I receive the error message that the service is unavailable between the selected locations. What can I do?</span></a></li>
<li><a href="#700"><span>8.</span><span> I receive the error message that the shipper number is invalid. What can I do?</span></a></li>
<li><a href="#800"><span>9.</span><span> I receive the error message that the XML document is not well formed. What can I do?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ: UPS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In the following sub-chapters, you will find error messages that are sent back from UPS to plentymarkets via the interface, as well as possible solutions.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. How can I retrieve the API log?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can retrieve the registration data and the response with possible error messages for a duration of two weeks in the <strong>Data » API Log » Tab: Shipping centre API log</strong> menu. Click on <strong>Open request log</strong> in the right column to open a window that displays the registration data. Click on <strong>Open response log</strong> to open a window with the response message from UPS.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/UPS_shipping_center_API_Log.png" alt="UPS shipping center API Log" width="640" height="360">
</div>
<div class="title">Figure 1. Shipping centre API-Log</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. I receive the error message that no order data is available. What can I do?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This error message indicates that the shipping service provider and/or the shipping profile at the order does not correspond to the registered order. For example, you changed the shipping service provider in the order, but selected an inappropriate shipping profile.</p>
</div>
<div class="paragraph">
<p>Screenshot from the test system:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/UPS_shipping_profile.png" alt="UPS shipping profile" width="640" height="360">
</div>
</div>
<div class="paragraph">
<p>Another reason is that the standard shipping profile has been saved in the order because no valid shipping profile was found. When editing the shipping profile, the message <code>Kein Wert gefunden</code> (= <code>No value found</code>) would be displayed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. I receive the error message that the shipper name is missing or invalid. What can I do?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following error message is displayed:
<code>120110 (Hard): Missing or invalid Shipper AttentionName oder 120101 (Hard): Missing or invalid Shipper Name</code></p>
</div>
<div class="paragraph">
<p>Like the other shipping service providers, UPS requires shipper data. However, this data must not be saved in the settings of the shipping service provider itself, but in the <strong>Setup » Orders » Shipping » Service provider » Settings</strong> menu for the required warehouses.</p>
</div>
<div class="paragraph">
<p><strong>Shipper AttentionName</strong> is the contact person, <strong>ShipperName</strong> is the company name.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. I receive the error message that the Ship to phone number is missing or invalid. What can I do?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following error message is displayed:
<code>120209 (Hard): Missing or invalid Ship to phone number</code>.</p>
</div>
<div class="paragraph">
<p>The telephone number of the recipient is mandatory for international shipping. However, the interface requires also a telephone number for national shipping inside Germany, even though the UPS back end does not.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. I receive the error message that the shipper phone number is missing or invaild. What can I do?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following error message is displayed:
<code>120109 (Hard): Missing or invalid shipper phone number</code>.</p>
</div>
<div class="paragraph">
<p>The telephone number of the shipper must not be missing. It is most likely that the required field for the warehouse that you selected for the order in the <strong>Setup » Orders » Shipping » Service providers » Settings</strong>  menu is not filled in. Go to this menu and fill in the field. Please note that this might be the "first" message we receive from UPS. It might be possible that further fields will be checked. The fields for company and contact person must be filled as well as described above for error messages <a href="/en/fulfilment/best-practices-ups#200">120110 and 1202101</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. I receive the error message that the service code is missing or invalid. What can I do?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following error message is displayed:
<code>120500 (Hard): Missing or invalid service code</code>.</p>
</div>
<div class="paragraph">
<p>When this error message is displayed, you should check the table of shipping charges of the shipping profile. The service cannot be transferred if the table of shipping charges of a region was not saved. This can be recognised by the following note:</p>
</div>
<div class="paragraph">
<p><code>Region not used in shipping profile. Save price to use region. Save and reload table of shipping charges to show shipping service provider settings.</code></p>
</div>
<div class="paragraph">
<p>Screenshot from the test system:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/UPS_table_of_shipping_charges.png" alt="][width=640" height="360">
</div>
<div class="title">Figure 2. Region that is not used in the table of shipping charges of the shipping profile</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. I receive the error message that the service is unavailable between the selected locations. What can I do?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following error message is displayed:
<code>120124 (Hard) : The requested service is unavailable between the selected locations</code>.</p>
</div>
<div class="paragraph">
<p>This error message will be displayed if the selected UPS service in the table of shipping charges is not allowed for the countries of shipper and recipient. The first value for <strong>UPS Services</strong> will be selected as standard when saving the table of shipping charges. This value may not necessarily permitted for certain country combinations. Please contact UPS and ask which country combinations are valid.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. I receive the error message that the shipper number is invalid. What can I do?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following error message is displayed:</p>
</div>
<div class="paragraph">
<p><code>120122 (Hard): Invalid Shipper ShipperNumber</code>.</p>
</div>
<div class="paragraph">
<p>This error message will be displayed for the following two reasons:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The customer number saved in the <strong>Setup » Orders » Shipping » Service provider » UPS</strong> menu is incorrect.</p>
</li>
<li>
<p>The customer number saved in the <strong>Setup » Orders » Shipping » Service provider » UPS</strong> menu has not yet been verified by UPS.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="800">9. I receive the error message that the XML document is not well formed. What can I do?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following error message is displayed:</p>
</div>
<div class="paragraph">
<p><code>Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. 10001: The XML document is not well formed</code>.</p>
</div>
<div class="paragraph">
<p>This error message will be displayed when there is an error in the data to be transferred to UPS. This error makes the file "not valid".</p>
</div>
<div class="paragraph">
<p>For example, it is possible that the direct login to UPS is working, but the interface, however, is acting more strictly. It could be the case that special characters and/or umlauts were saved in the user name or password. This must be adjusted accordingly in the plentymarkets back end. After having saved the login data, try to register the order again.</p>
</div>
</div>
</div>
</main>