<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> What is the use of shipping groups?</span></a></li>
<li><a href="#200"><span>2.</span><span> How to carry out the settings on real.de</span></a></li>
<li><a href="#300"><span>3.</span><span> How to carry out the settings in plentymarkets</span></a></li>
<li><a href="#400"><span>4.</span><span> Which settings to carry out in plentymarkets</span></a></li>
<li><a href="#500"><span>5.</span><span> Which shipping profiles can be matched?</span></a></li>
<li><a href="#600"><span>6.</span><span> Which shipping profile is matched?</span></a></li>
<li><a href="#700"><span>7.</span><span> How to set up shipping profiles</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best practice: Integration of shipping groups</h1><div class="sect1">
<h2 id="100">1. What is the use of shipping groups?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On real.de, shipping groups are set up in the <strong>Händlereinstellungen » Versandeinstellungen</strong> [Seller settings » Shipping settings] area. With shipping groups, shipping costs can be calculated based on the country of delivery.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. How to carry out the settings on real.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Händlereinstellungen » Versandeinstellungen</strong> [Seller settings » Shipping settings].</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. How to carry out the settings in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Select the client and go to <strong>Setup » Markets » real.de » Settings</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Which settings to carry out in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to carry out two settings in the <strong>Match shipping profiles</strong> area.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Download the shipping groups from real.de by clicking on <strong>Update shipping groups</strong>.</p>
</li>
<li>
<p>The shipping profiles which are released for real.de are listed on the left-hand side. On the right-hand side, you can select and match a real.de shipping group from the drop-down list.</p>
</li>
</ol>
</div>
<div id="shipping-profile-matching" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-real-match-shipping-profiles.png" alt="bp real match shipping profiles">
</div>
<div class="title">Figure 1. Matching shipping profiles</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Which shipping profiles can be matched?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Only shipping groups which are released for real.de are displayed. You can release shipping groups in the corresponding shipping profile in the <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong> menu by activating the order referrer.</p>
</div>
<div id="order-referrer-shipping-profile" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-real-order-referrer.png" alt="bp real order referrer">
</div>
<div class="title">Figure 2. Order referrer for the shipping profile</div>
</div>
<h3 id="_step_1" class="discrete">Step 1</h3>
<div class="paragraph">
<p>Set up the <strong>shipping groups</strong> in the <strong>Händlereinstellungen » Versandeinstellungen</strong> area at <strong>real.de</strong>.</p>
</div>
<h3 id="_step_2" class="discrete">Step 2</h3>
<div class="paragraph">
<p>Import the real.de shipping groups in the <strong>Setup » Markets » real.de » Settings</strong> menu in plentymarkets. To do so, click on <strong>Update shipping groups</strong> in the <strong>Match shipping profiles</strong> area.</p>
</div>
<h3 id="_step_3" class="discrete">Step 3</h3>
<div class="paragraph">
<p>Match the real.de shipping groups with the desired plentymarkets shipping groups in the <strong>Setup » Markets » real.de » Settings</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Which shipping profile is matched?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If an item is linked to several shipping profiles with different shipping groups, then the shipping group of the shipping profile with the lowest category and the highest priority is assigned.
The category and the priority of the shipping profile are set up in the <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong> menu in the <strong>Base</strong> tab of each shipping profile.</p>
</div>
<div id="priority-shipping-profile" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-real-priority-category.png" alt="bp real priority category">
</div>
<div class="title">Figure 3. Priority and category of a shipping profile</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. How to set up shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you only have a few shipping profiles and a simple structure, you do not need to carry out any particular settings.
If you have to reproduce a complex structure with the shipping profiles, then you should create separate shipping profiles for the snychronisation of the shipping groups. Those shipping profiles should only be released for real.de. Additionally, you should not release any other shipping profiles for real.de. This may initially be a lot of work, but you will have a clear structure which facilitates any further tasks afterwards.
Use the data format <strong>ItemParcelServicePreset</strong> to add the shipping profiles to your items afterwards. To use the data format <strong>ItemParcelServicePreset</strong>, the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/ElasticExportShippingProfiles_4747" target="_blank" rel="noopener">plentymarkets shipping profiles</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plugin must be installed. The data format <strong>ItemParcelServicePreset</strong> is available in the <strong>Data » Custom export</strong> menu.</p>
</div>
</div>
</div>
</main>