<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#850"><span>1.</span><span> Editing the invoice</span></a>
<ul class="sectlevel2">
<li><a href="#860"><span>1.1.</span><span> Entering a note for the payment method real.de:</span></a></li>
<li><a href="#870"><span>1.2.</span><span> Hiding bank details on real.de invoices</span></a></li>
</ul>
</li>
<li><a href="#890"><span>2.</span><span> Automatically creating invoices</span></a></li>
<li><a href="#895"><span>3.</span><span> Automatically uploading invoices</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: Automatically uploading invoices</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You can now upload invoices to real.de automatically in your plentymarkets system. To do so, you set up the event procedure <strong>Upload invoice to real.de</strong>.</p>
</div>
<div class="paragraph">
<p>Uploading invoices automatically has the following advantages:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Your customers automatically receive their invoice and are notified by email. This helps you achieve a high level of customer satisfaction.</p>
</li>
<li>
<p>You reduce any workload resulting from customer tickets.</p>
</li>
<li>
<p>Your real.de service KPIs will improve.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>As such, we strongly recommend that you set up this event procedure as soon as possible. Find out how to set up automatic uploading of invoices below.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="850">1. Editing the invoice</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to modify the invoices for real.de. Two adjustments have to be made:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter a note for the payment method <a href="#Activating the payment method">real.de Payment</a>. (<a href="#860">How it’s done</a>)</p>
</li>
<li>
<p>Your bank details must not appear on the invoice. (<a href="#870">How it’s done</a>)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How to carry out these adjustments is described below.</p>
</div>
<div class="sect2">
<h3 id="860">1.1. Entering a note for the payment method real.de:</h3>
<div class="paragraph">
<p>The following note must appear on all real.de invoices:</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note for real.de invoices</div>
<div class="literalblock">
<div class="content">
<pre>Achtung! Bitte veranlassen Sie keine Zahlungen auf unser Konto. Die Bezahlung erfolgt an die real,- Digital Payment &amp; Technology Services GmbH. Sollten Sie per Klarna bezahlt haben, erhalten Sie eine separate Zahlungsanweisung von Klarna. Für weitere Informationen zu Klarna besuchen Sie link:https://www.klarna.com/de/[www.klarna.de^]{nbsp}icon:external-link[].</pre>
</div>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to save this note for the payment method real.de Payment.</p>
</div>
<div class="paragraph instruction">
<p>Entering a note for the payment method real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: Template</strong>.</p>
</li>
<li>
<p>In the <strong>Optional elements below stock unit table</strong> area, enter the note given above for the <strong>Payment instruction</strong> option for the payment method <strong>real.de Payment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The note only appears on the invoices for orders with the payment method <strong>real.de Payment</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="870">1.2. Hiding bank details on real.de invoices</h3>
<div class="paragraph">
<p>The payment is processed via real.de. To prevent customers from paying money directly to you, do not enter bank details on invoices for real.de.</p>
</div>
<div class="paragraph">
<p>How you hide your bank details on real.de invoices depends on how you show your bank details in the first place. <a href="#hide-bank-details">Table 1</a> describes the different methods.</p>
</div>
<table id="hide-bank-details" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Hiding bank details</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Method</th>
<th class="tableblock halign-left valign-top">Instructions</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bank details in PDF template</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you use a <a href="/en/orders/order-documents#1700">PDF template</a> to display your bank details on an invoice, then create another PDF template for real.de that does not contain bank data. You can also save the real.de logo for this PDF template. To save this PDF template for the payment method <strong>real.de Payment</strong>, go to <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: PDF template</strong>. Your bank details are not displayed on invoices for real.de.<br></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/real_logo.jpg" alt="real logo">
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bank details in payment instructions</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you entered your bank details in the <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: Template</strong> menu for the <strong>Payment instruction</strong> option, then you do not need to carry out any further settings. If you use this method, your bank details are not displayed on real.de invoices.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="890">2. Automatically creating invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically create invoices for real.de.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-invoices-real">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-invoices-real">Table 2</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Status and filters for the event procedure</div>
<div class="paragraph">
<p>The status and filters listed in <a href="#creating-invoices-real">[creating-invoices-real]</a> only serve as an example for creating an event procedure. Select filters and statuses for the event procedure which best suit your work flow.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="event-procedure-invoices-real" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Event procedure for automatically creating invoices for real.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [7] Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents &gt; Generate invoice</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="895">3. Automatically uploading invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically upload invoices to real.de.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-invoice-upload-real">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-invoice-upload-real">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Status and filters for the event procedure</div>
<div class="paragraph">
<p>The statuses and filters in <a href="#event-procedure-invoice-upload-real">Table 3</a> only serve as an example for creating an event procedure. Select filters and statuses for the event procedure which best suit your work flow.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="event-procedure-invoice-upload-real" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically uploading invoices to real.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, for example <strong>Order change: Status change</strong>, <strong>Order: Invoice generated</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Upload invoice to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>