<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with real.de</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up real.de in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining SKU manually</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up real.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.real.de/" target="_blank" rel="noopener">real.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is one of the largest fixed price markets in Germany. You can sell items from various product categories on real.de. Real.de also processes payments for you. In other words, you are neither charged with payment costs nor do you have to worry about debt collection.<br></p>
</div>
<div class="paragraph">
<p>How to set up the market real.de in plentymarkets is described in this video tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Setting up real.de in plentymarkets</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/331004662" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with real.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use the real.de interface, you have to register your real.de user account as a seller account. To do so, go to the <a href="https://www.real.de/seller/new/" target="_blank" rel="noopener">real.de website</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and save your VAT number in the <strong>Mein Konto (My account)</strong> area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up real.de in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up real.de in plentymarkets to offer items on real.de. In order to set up real.de in plentymarkets, you need your real.de interface access data. You can set up a real.de account for each online store or client (store).</p>
</div>
<div class="paragraph instruction">
<p>Setting up the access to real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » real.de » Settings</strong>.</p>
</li>
<li>
<p>Open the submenu of the online store that you would like to set up access for.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#real-de-settings">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="real-de-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the market real.de</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate interface to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Activate the interface to real.de.<br></p>
</li>
<li>
<p><strong>No</strong> = Do not activate the interface to real.de.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">API data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the client key that you received from real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secret Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the secret key that you received from real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting applies to the order import. Orders are imported either as paid or not paid. Regardless of this setting, items will immediately be cleared for shipping when they have sufficient stock. With the option <strong>open</strong>, you could also set the order to paid when the actual incoming payment from real.de is received. In this way, real.de can be tested.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match shipping service providers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">After the shipment has been confirmed, this option allows real.de to use the package number in order to send the customer an email with the correct tracking link.<br>
<strong><em>Important:</em></strong> You have to assign each of your service providers to one of the service providers from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate item export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the item export to real.de should be activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export only items with flags</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>All items</strong> = All items are exported.</p>
</li>
<li>
<p><strong>All items with flag 1</strong> or <strong>2</strong> = Only items with this flag are exported.<br></p>
</li>
<li>
<p><strong>All items without flag 1</strong> or <strong>2</strong> = Only items without this flag are exported.<br></p>
</li>
<li>
<p>Select one particular flag = Only items with this flag are exported.<br>
This setting applies to item data and order data.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy efficiency label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position. Every image that should be transferred as an energy efficiency label must have this position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add technical data to the item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the technical data saved in the <strong>Texts</strong> tab of an item should be added to the item description for real.de. <strong>Yes</strong> is selected by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate item file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option creates an item file. This file can be viewed via <strong>Item file preview</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item file preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display the item file preview.<br>
<strong><em>Note:</em></strong> If you have not fully set up the interface to real.de but want to take a look at the item file preview, then you have to activate the interface temporarily. Otherwise, the item file preview will be empty. In order to view the item file preview when the interface is not active, activate the interface and click on <strong>Item file preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>). Deactivate the interface immediately afterwards by selecting the option <strong>No</strong> for the <strong>Activate interface to real.de</strong> setting and saving the setting. This way, you can prevent items from being transferred too soon.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send item file to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Send the item file to real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Offer settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate offer update</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> (default setting) = Offers are updated once per hour and once per day at real.de. Only if both this option and the option <strong>Activate interface to real.de</strong> are activated, the daily complete offer update and the hourly update for offers that were changed is executed.<br></p>
</li>
<li>
<p><strong>No</strong> = The offer update is deactivated.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file (Inventory)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Yes</strong> or <strong>No</strong>.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Stock is saved in the cache on a daily basis. <br></p>
</li>
<li>
<p><strong>No</strong> = Stock is not saved in the cache.<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> We recommend using the option <strong>Yes</strong> because bigger stock changes may result in errors.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the warehouses from which stock should be transferred to real.de. Select one warehouse or <strong>Total in all warehouses</strong>.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Total in all warehouses</strong> = The stock from all distribution warehouses is added up and transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item quantity for items that are not limited to stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items for which <strong>no limitation</strong> has been selected in the <a href="/en/stock-management/managing-stocks">Stock tab</a> of an item are offered on real.de with the quantity entered here. As soon as an item has been sold, the quantity saved here is newly transmitted for sale at the next full hour.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the minimum price, i.e. the lowest price that the item should be offered for.<br>
A minimum price must be saved for the item for the selected price. The minimum price must be released for the referrer real.de.<br>
<strong><em>Important:</em></strong> The minimum price does not apply to item variations which have surcharges for attributes. In this case, <strong>deactivate</strong> this option. If you would like to use the minimum price, then create each variation as a separate item with a defined minimum price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comments on items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up <strong>free text fields</strong> for item comments here or assign this function to the <strong>Global item comment</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Global item comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter text. The entered text is displayed with every offer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Linking shipping profiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option enables you to link the real.de shipping groups to the plentymarkets shipping profiles. If an item has more than one shipping profile, the shipping profile with the lowest category and the highest priority is exported. The category and the priority of a shipping profile are configured within <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong> in the <strong>Base</strong> tab of each shipping profile.<br>
<strong><em>Important:</em></strong> If the shipping groups are changed on real.de, you can update them by clicking on <strong>Update shipping groups</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export item availabilities</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether item availabilities should be transferred to real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match item availabilities</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Match plentymarkets item availabilities with a minimum and maximum delivery time in working days.<br>
Enter the minimum and maximum delivery time in working days into the <strong>Minimum delivery time (in working days)</strong> and <strong>Maximum delivery time (in working days)</strong> fields that match the plentymarkets item availability.<br>
<strong><em>Note:</em></strong> real specifies Monday to Friday as working days.<br>
The plentymarkets availability IDs 1-10 correspond to the item availabilities defined in the <strong>Setup » Item » Availability</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate offer file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option creates an offer file. This file can be viewed via <strong>Preview offer file</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview offer file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display the offer file preview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send offer file to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Send the offer file to real.de.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Setting up real.de in plentymarkets allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly stock and price synchronisation</p>
</li>
<li>
<p>daily item export (only for items which have been changed within the last 26 hours)</p>
</li>
<li>
<p>hourly order import</p>
</li>
<li>
<p>hourly transfer of the flag <strong>Sent</strong> to real.de<br>
→ <strong>Sent</strong> is transferred after the outgoing items have been booked.</p>
</li>
<li>
<p>export of surcharges for attribute values (item variations)</p>
</li>
<li>
<p>transfer of the description text saved in the <strong>Texts</strong> tab</p>
</li>
<li>
<p>transfer of the technical data selected in table 1</p>
</li>
<li>
<p>image export selected in the item’s <strong>Images</strong> tab</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with real.de. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not group real.de orders</div>
<div class="paragraph">
<p>During the order import, real.de orders are synchronised by the external order number. However, because the external order number does not exist any longer in a grouped order, grouping orders might result in orders being created anew when they are retrieved again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on real.de. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use group function or batch processing</div>
<div class="paragraph">
<p>You can edit the availability of several variations at once by using either the <a href="/en/item/managing-items#100">variation group function</a> or <a href="/en/item/managing-items#400">batch processing</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on real.de.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on real.de, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>real.de</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for real.de.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
</div>
</div>
</main>