<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with real.de</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up real.de in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining SKU manually</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#450"><span>7.</span><span> Defining the barcode</span></a></li>
<li><a href="#500"><span>8.</span><span> Linking properties</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>8.1.</span><span> Linking plentymarkets properties with real.de attributes</span></a></li>
</ul>
</li>
<li><a href="#600"><span>9.</span><span> Linking categories</span></a></li>
<li><a href="#800"><span>10.</span><span> Activating the payment method</span></a></li>
<li><a href="#850"><span>11.</span><span> Editing the invoice</span></a>
<ul class="sectlevel2">
<li><a href="#860"><span>11.1.</span><span> Entering a note for the payment method real.de:</span></a></li>
<li><a href="#870"><span>11.2.</span><span> Hiding bank data on real.de invoices</span></a></li>
</ul>
</li>
<li><a href="#890"><span>12.</span><span> Automatically creating invoices</span></a></li>
<li><a href="#900"><span>13.</span><span> Automatically sending cancellations</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up real.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.real.de/" target="_blank" rel="noopener">real.de</a> is one of the largest fixed price markets in Germany. You can sell items from various product categories on real.de. Real.de also processes payments for you. In other words, you are neither charged with payment costs nor do you have to worry about debt collection.<br></p>
</div>
<div class="paragraph">
<p>How to set up the market real.de in plentymarkets is described in this video tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Setting up real.de in plentymarkets</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/331004662" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with real.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use the real.de interface, you have to register your real.de user account as a seller account. To do so, go to the <a href="https://www.real.de/seller/new/" target="_blank" rel="noopener">real.de website</a> and save your VAT number in the <strong>Mein Konto (My account)</strong> area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up real.de in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up real.de in plentymarkets to offer items on real.de. In order to set up real.de in plentymarkets, you need your real.de interface access data. You can set up a real.de account for each online store or client (store).</p>
</div>
<div class="paragraph instruction">
<p>Setting up the access to real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » real.de » Settings</strong>.</p>
</li>
<li>
<p>Open the submenu of the online store that you would like to set up access for.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#real-de-settings">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="real-de-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the market real.de</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate interface to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong> = Activate the interface to real.de.<br>
<strong>No</strong> = Do not activate the interface to real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">API data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the client key that you received from real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secret Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the secret key that you received from real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting applies to the order import. Orders are imported either as paid or not paid. Regardless of this setting, items will immediately be cleared for shipping when they have sufficient stock. With the setting <strong>open</strong>, one could also set the order to paid when the actual incoming payment from real.de is received. In this way, real.de can be tested.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match shipping service providers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">After the shipment has been confirmed, this option allows real.de to use the package number in order to send the customer an email with the correct tracking link.<br>
<strong>Important:</strong> You have to assign each of your service providers to one of the service providers from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate item export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the item export to real.de should be activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export only items with flags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All items</strong> = All items are exported.<br>
<strong>All items with flag 1</strong> or <strong>2</strong> = Only items with this flag are exported.<br>
<strong>All items without flag 1</strong> or <strong>2</strong> = Only items without this flag are exported.<br>
Select one particular flag = Only items with this flag are exported.<br>
This setting applies to item data and order data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy efficiency label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position. Every image that should be transferred as an energy efficiency label must have this position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add technical data to the item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the technical data saved in the <strong>Texts</strong> tab of an item should be added to the item description for real.de. <strong>Yes</strong> is selected by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate item file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option creates an item file. This file can be viewed via <strong>Item file preview</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item file preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display the item file preview.<br>
<strong>Tip:</strong> If you have not fully set up the interface to real.de but want to take a look at the item file preview, then you have to activate the interface temporarily. Otherwise, the item file preview will be empty. In order to view the item file preview when the interface is not active, activate the interface and click on <strong>Item file preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>). Deactivate the interface immediately afterwards by selecting <strong>No</strong> for the <strong>Activate interface to real.de</strong> and saving the settings. This way you can prevent items from being transferred too soon.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send item file to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Send the item file to real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Offer settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate offer update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong> = Offers are updated once per hour and once per day at real.de. Only if both this option and the option <strong>Activate interface to real.de</strong> are activated, the daily complete offer update and the hourly update for offers that were changed is executed.<br>
<strong>No</strong> = The offer update is deactivated.<br>
<strong>Yes</strong> is selected by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file (Inventory)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> or <strong>No</strong>.<br>
<strong>Yes</strong> = Stock is saved in the cache on a daily basis. <br>
<strong>No</strong> = Stock is not saved in the cache.<br>
<strong>Note</strong>: We recommend using the option <strong>Yes</strong> because bigger stock changes may result in errors.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the warehouses from which stock should be transferred to real.de. Select one warehouse or <strong>Total in all warehouses</strong>.<br>
<strong>Total in all warehouses</strong> = The stock from all distribution warehouses is added up and transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item quantity for items that are not limited to stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items for which <strong>no limitation</strong> has been selected in the <a href="/en/stock-management/managing-stocks">Stock tab</a> of an item are offered on real.de with the quantity entered here. As soon as an item has been sold, the quantity saved here is newly transmitted for sale at the next full hour.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the minimum price, i.e. the lowest price that the item should be offered for.<br>
A minimum price must be saved for the item for the selected price. The minimum price must be released for the referrer real.de.<br>
<strong>Important:</strong> The minimum price does not apply to item variations which have surcharges for attributes. In this case, <strong>deactivate</strong> this setting. If you would like to use the minimum price, then create each variation as a separate item with a defined minimum price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comments on items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up <strong>free text fields</strong> for item comments here or assign this function to the <strong>Global item comment</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Global item comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter text. The entered text is displayed with every offer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Linking shipping profiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option enables you to link the real.de shipping groups to the plentymarkets shipping profiles. If an item has more than one shipping profile, the shipping profile with the lowest category and the highest priority is exported. The category and the priority of a shipping profile are configured within <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong> in the <strong>Base</strong> tab of each shipping profile.<br>
<strong>Important:</strong> If the shipping groups are changed on real.de, you can update them by clicking on <strong>Update shipping groups</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export item availabilities</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether item availabilities should be transferred to real.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match item availabilities</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Match plentymarkets item availabilities with a minimum and maximum delivery time in working days.<br>
Enter the minimum and maximum delivery time in working days into the <strong>Minimum delivery time (in working days)</strong> and <strong>Maximum delivery time (in working days)</strong> fields that match the plentymarkets item availability.<br>
<strong>Note:</strong> real specifies Monday to Friday as working days.<br>
The plentymarkets availability IDs 1-10 correspond to the item availabilities defined in the <strong>Setup » Item » Availability</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate offer file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option creates an offer file. This file can be viewed via <strong>Preview offer file</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview offer file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display the offer file preview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send offer file to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Send the offer file to real.de.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Setting up real.de in plentymarkets allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly stock and price synchronisation</p>
</li>
<li>
<p>daily item export (only for items which have been changed within the last 26 hours)</p>
</li>
<li>
<p>hourly order import</p>
</li>
<li>
<p>hourly transfer of the flag <strong>Sent</strong> to real.de<br>
→ <strong>Sent</strong> is transferred after the outgoing items have been booked.</p>
</li>
<li>
<p>export of surcharges for attribute values (item variations)</p>
</li>
<li>
<p>transfer of the description text saved in the <strong>Texts</strong> tab</p>
</li>
<li>
<p>transfer of the technical data selected in table 1</p>
</li>
<li>
<p>image export selected in the item’s <strong>Images</strong> tab</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with real.de, you have to activate the order referrer real.de in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for real.de</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not group real.de orders</div>
<div class="paragraph">
<p>During the order import, real.de orders are synchronised by the external order number. However, because the external order number does not exist any longer in a grouped order, grouping orders might result in orders being created anew when they are retrieved again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on real.de. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » Open item » Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on real.de</div>
<div class="paragraph">
<p>If you want to sell all variations of an item on real.de, carry out the settings below for the item’s main variation. All other variations of the item then inherit the settings of the main variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on real.de.</p>
</li>
<li>
<p>In the <strong>Availability</strong> section, active the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>real.de</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<h5 id="_further_requirements_for_the_item_availability" class="discrete">Further requirements for the item availability</h5>
<div class="paragraph">
<p>In order for your items to be available on the market real.de, the following requirements must also be fulfilled:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You are required to specify an <strong>EAN</strong> or <strong>ISBN</strong>. Otherwise, the item will not be transferred to real.de.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) in the <strong>SKU</strong> section.<br>
→ The <strong>New SKU</strong> window is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>real.de</strong>.</p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer real.de. The price is displayed on real.de.</p>
</div>
<div class="paragraph instruction">
<p>Creating a sales price for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Defining the barcode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a barcode for the order referrer real.de. This barcode is transferred to real.de for the variation.</p>
</div>
<div class="paragraph instruction">
<p>Defining a barcode for real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Barcode » Open barcode</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Afterwards, <a href="/en/item/managing-items#250">link</a> the barcode with the desired variations if you have not done so.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use <a href="/en/item/managing-items#480">properties</a> for the real.de market, these properties have to be linked with real.de.</p>
</div>
<div class="paragraph instruction">
<p>Linking the property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Open the property.</p>
</li>
<li>
<p>Activate the option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="550">8.1. Linking plentymarkets properties with real.de attributes</h3>
<div class="paragraph">
<p>It is possible to overwrite attributes with plentymarkets properties or to add real.de attributes.<br>
<strong>Important:</strong> In order for the plentymarkets properties to be correctly assigned during the real.de export, the internal name of the plentymarkets property must be the same as the column header in the real.de Product.csv file.<br>
The real.de attributes EAN, title, description, manufacturer and picture are mandatory entries for the item export. These attributes are transferred by plentymarkets by default. These attributes can only be overwritten by an attribute. Other attributes, such as "material_composition", "clothing_size" or "weight” can be added if a corresponding property is created in plentymarkets.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Mandatory entries for the item export</div>
<div class="paragraph">
<p>The real.de attributes <strong>ean</strong>, <strong>title</strong>, <strong>description</strong>, <strong>manufacturer</strong> and <strong>picture</strong> are mandatory entries for the item export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New property</strong> tab.</p>
</li>
<li>
<p>Enter the name of the real.de attribute into the <strong>Name (internal)</strong> field.<br>
→ The entered name is displayed in the item data record when linking properties.</p>
</li>
<li>
<p>Enter a name in the <strong>Webshop</strong> field. <br>
→ This name is used in the item overview of the online store.</p>
</li>
<li>
<p>Select the <strong>Property type</strong>.</p>
</li>
<li>
<p>Activate the option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about linking properties with real.de, refer to the <a href="/en/markets/real-de/best-practices-real-linking-properties">Linking properties to attributes</a> best practice page.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your online store categories to the real.de categories in order to display your items in these categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » real.de » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The <strong>Select category</strong> window opens.</p>
</li>
<li>
<p>Select the real.de category that best matches your online store category.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The ID and category path of the real.de category are displayed.</p>
</li>
<li>
<p>If you already know the ID of the real.de category, enter it directly into the <strong>Market category field</strong> to link it to your online store category.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Subcategories do not have to be linked</div>
<div class="paragraph">
<p>In some cases, your subcategories may not match the real.de subcategories. In this case, link your items with real.de’s corresponding main category. real.de automatically assigns your items to a subcategory. You should not transfer items to real.de that have not been assigned to a real.de category.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>real.de Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating real.de payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Click on <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Click on the <strong>DE &gt; real.de Payment</strong> folder.<br>
→ The settings for the real.de payment method are displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-payment-method-real">Table 2</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="settings-payment-method-real" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.<br>
We recommend using the name <strong>Payment via real.de</strong> because this name appears on the invoice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a client.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract.<br>
<strong>Important:</strong> Do not enter a value into both fields. <br>
For further information, refer to the <a href="/en/basics/working-with-plentymarkets/statistics/managing-statistics">Managing statistics</a> page. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="850">11. Editing the invoice</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to modify the invoices for real.de. Two adjustments have to be made:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter a note for the payment method <a href="#800">real.de Payment</a>.</p>
</li>
<li>
<p>Your bank data must not appear on the invoice.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How to carry out these adjustments is described below.</p>
</div>
<div class="sect2">
<h3 id="860">11.1. Entering a note for the payment method real.de:</h3>
<div class="paragraph">
<p>The following note must appear on real.de invoices:</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note for real.de invoices</div>
<div class="literalblock">
<div class="content">
<pre>Achtung! Bitte veranlassen Sie keine Zahlungen auf unser Konto. Die Bezahlung erfolgt an die real,- Digital Payment &amp; Technology Services GmbH. Sollten Sie per Klarna bezahlt haben, erhalten Sie eine separate Zahlungsanweisung von Klarna. Für weitere Informationen zu Klarna besuchen Sie link:https://www.klarna.com/de/[www.klarna.de^].</pre>
</div>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Entering a note for the payment method real.de:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: Template</strong>.</p>
</li>
<li>
<p>In the <strong>Optional elements below stock unit table</strong> section, enter the note given above for the <strong>Payment instruction</strong> option for the payment method <strong>real.de Payment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The note only appears on the invoices for orders with the payment method <strong>real.de Payment</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="870">11.2. Hiding bank data on real.de invoices</h3>
<div class="paragraph">
<p>The payment is processed via real.de. To prevent customers from paying money directly to you, do not enter bank data on invoices for real.de.<br></p>
</div>
<div class="paragraph">
<p>If you use a <a href="/en/orders/order-documents#1700">PDF template</a> to display your bank data on an invoice, then create another PDF template for real.de that does not contain bank data. You can also save the real.de logo for this PDF template. To save this PDF template for the payment method <strong>real.de Payment</strong>, go to <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: PDF template</strong>. Your bank data is not displayed on invoices for real.de.</p>
</div>
<div id="image-real-logo" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/real_logo.jpg" alt="real logo">
</div>
<div class="title">Figure 1. real.de logo</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying bank data with payment instructions</div>
<div class="paragraph">
<p>If you have entered your bank data in the <strong>Setup » Client » Standard » Locations » Germany (standard) » Documents » Invoice » Tab: Template</strong> menu for the <strong>Payment instruction</strong> option, then you do not need to carry out any further settings. If you use this method, your bank data is not displayed on real.de invoices.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="890">12. Automatically creating invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically create invoices for real.de.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-invoices-real">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out the further settings. Pay attention to the explanations given in <a href="#event-procedure-invoices-real">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Status and filters for the event procedure</div>
<div class="paragraph">
<p>The status and filters in <a href="#event-procedure-invoices-real">Table 3</a> only serve as an example for creating an event procedure. Select filters and statuses for the event procedure which best suit your work flow.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="event-procedure-invoices-real" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically creating invoices for real.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [7] Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents &gt; Generate invoice</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">13. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform real.de of cancellations. Whenever you are dealing with cancellations, you need to send real.de a reason for the cancellation. Open the <strong>Setup » Orders » Status</strong> menu and create additional order statuses as needed. The following cancellation reasons can be transferred to real.de:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Exchange by customer</p>
</li>
<li>
<p>Cancellation by customer</p>
</li>
<li>
<p>Wrong delivery address</p>
</li>
<li>
<p>Wrong item description</p>
</li>
<li>
<p>Customer did not receive goods</p>
</li>
<li>
<p>Item out of stock</p>
</li>
<li>
<p>Wrong sales price</p>
</li>
<li>
<p>No delivery to this delivery address</p>
</li>
<li>
<p>Other reason</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-cancellations-real">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings. Pay attention to the explanations given in <a href="#event-procedure-cancellations-real">Table 4</a>.</p>
</li>
<li>
<p>Select a reason.<br></p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-real" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically sending cancellations to real.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: Status [8] Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send cancellation to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a reason.</p></td>
</tr>
</tbody>
</table>
<h5 id="_returns_for_real_de" class="discrete">Returns for real.de</h5>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Returns for real.de</div>
<div class="paragraph">
<p>Unlike other marketplaces, you cannot send returns to real.de with an event procedure via plentymarkets yet. Process returns for real.de directly in your real.de seller account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>