{% extends getPartial('page-design') %}
{% import "PlentyManual::Macros.Breadcrumbs" as Breadcrumbs %}

{% set pageTitle = currentPage.title %}

{% block PartialHead %}
    <meta name="description" content="{{ currentPage.description }}">
    <meta name="keywords" content="{{ currentPage.keywords }}">
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block Navigation %}
    {% include "PlentyManual::Partials.Navigation" %}
{% endblock %}

{% block PageBody %}
    {% if currentPage %}
        <div class="docs-container textcontent manual-content" data-tg="docs-container">
            {{ Breadcrumbs.print( currentPage.url ) }}
            <div>
                {% include [contentTemplate, "PlentyManual::Partials.404"] ignore missing %}
            </div>
            <p>Last modified at {{ node.getChangedTime|date('m/d/y') }}</p>
        </div>
    {% else %}
        {% include "PlentyManual::Partials.404" %}
    {% endif %}
{% endblock %}

{% block Footer %}
    {% include "PlentyManual::Partials.Footer" %}
{% endblock %}
