{% extends getPartial('page-design') %}
{% import "PlentyManual::Macros.Breadcrumbs" as Breadcrumbs %}

{% set lang = services.sessionStorage.getLang() %}
{% set pageTitle = currentPage.title %}

{% block PartialHead %}
    <meta name="description" content="{{ currentPage.description }}">
    <meta name="keywords" content="{{ currentPage.keywords }}">
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block Navigation %}
    {% include "PlentyManual::Partials.Navigation" %}
{% endblock %}

{% block PageBody %}
    {% include "PlentyManual::Partials.DataProcessingInformation" %}
    {% if currentPage %}
        <div class="container textcontent manual-content">
            <div class="row">
                <div class="col-12 col-md-9">
                    {{ Breadcrumbs.print( currentPage.url ) }}
                </div>
            </div>
            <div class="row flex-row-reverse">
                {% include [contentTemplate, "PlentyManual::Partials.404"] ignore missing %}
            </div>
        </div>
    {% else %}
        {% include "PlentyManual::Partials.404" %}
    {% endif %}
{% endblock %}

{% block Footer %}
    {% include "PlentyManual::Partials.Footer" %}
{% endblock %}