<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_backing_up_and_restoring_data"><span>1.</span><span> Backing up and restoring data</span></a>
<ul class="sectlevel2">
<li><a href="#_storing_a_backup_locally"><span>1.1.</span><span> Storing a backup locally</span></a></li>
<li><a href="#_importing_a_backup"><span>1.2.</span><span> Importing a backup</span></a></li>
<li><a href="#_showing_backup_logs"><span>1.3.</span><span> Showing backup logs</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Database backup</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the backup function in the <strong>Setup » Settings » Hosting » Backup</strong> menu to reset data in the database to a previous state or restore deleted data.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Limitations</div>
<div class="paragraph">
<p>You can only use the backup function within the same version of plentymarkets. This means that it is not possible to import a backup of an older version of plentymarkets. In addition, this function is not a regular data backup, but a database backup. Thus, this function can <strong>not</strong> be used to restore content saved in the cloud storage, such as order documents or item images.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_backing_up_and_restoring_data">1. Backing up and restoring data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Setup » Settings » Hosting » Backup</strong> menu offers an overview of the existing backups with the corresponding dates. They are automatically created on a daily basis.</p>
</div>
<div class="sect2">
<h3 id="_storing_a_backup_locally">1.1. Storing a backup locally</h3>
<div class="paragraph">
<p>As an additional safeguard, you can save backup files locally. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Storing a backup locally:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Hosting » Backup</strong>.</p>
</li>
<li>
<p>Select the backup you want to download.</p>
</li>
<li>
<p>Click on <strong>Download backup</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
The backup is downloaded in compressed form.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Waiting for backup</div>
<div class="paragraph">
<p>The download of large files will take some time. Once the process is complete, the download button is activated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_importing_a_backup">1.2. Importing a backup</h3>
<div class="paragraph">
<p>You can reset your system to the status of any backup.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Possible data loss:</div>
<div class="paragraph">
<p>Note that importing a backup can overwrite current data. Data that have changed since the last backup creation can be lost irreversibly.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Importing a backup:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Hosting » Backup</strong>.</p>
</li>
<li>
<p>Click on <strong>Import backup</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).<br>
→ The window for the backup import opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-import-options">Table 1</a> and <a href="#table-backup-types">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Import backup</strong> to import the backup.<br>
→ The backup is imported.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The dropdown menu offers two different import options.</p>
</div>
<table id="table-import-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Import options</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Import option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partially import data base</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you can select the areas that you want to import.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Completely import data base</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option considers and restores all available data.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Select the area of the system that you want to reset or in which you want to restore data.</p>
</div>
<table id="table-backup-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Backup types</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Backup type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores company data records including addresses, their relation to the company, address options, contacts, their relation to the company, contact options, contact type, bank details, contact properties, allowed payment methods, events and the order overview.<br>
Messages (previously notes) are not considered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores categories and the structure of the category tree in the <strong>Item » Categories</strong> menu.<br>
In this process, the categories are not linked to the individual variations. Use the backup type <strong>ItemVariationCategoryValues</strong> in order to solely restore the category links. Alternatively, use the backup type <strong>ItemVariation</strong> in order to restore the category links together with further variation data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores information about listings and market listings (title, subtitle, description), all information in the <strong>Marketplace</strong> tab of a listing, eBay properties, options templates, listing schedulers, listing directories, active listings and the list of future listings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores all orders and the corresponding order information (plus reorders).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Process</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores processes in the <strong>Setup » Processes</strong> menu including work steps, procedures, sub-procedures and control elements.<br>
You may need to set <a href="/en/automation/processes/setting-up-processes#220">system- specific settings</a> such as those for printer or status once again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores ticket data, files, owners, questions, roles, types, references, statuses and templates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores users registered in the system and the settings they have carried out (rights, roles etc.).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores warehouses and the warehouse structure, such as dimensions and storage locations.<br>
Does not include the stock. However, you can save your stock on a daily basis by creating a backup.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FacetDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores facets, values and settings in the <strong>Setup » Client » Settings » Services » Faceted search</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores item data records including descriptions, shipping profile links, cross-selling settings, FBA settings and item sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAttribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores attributes and attribute values in the <strong>Setup » Item » Attributes</strong> menu.<br>
In this process, the categories are not linked to the individual variations. Use the backup type <strong>ItemVariation</strong> in order to restore the links together with further variation data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemBarCodeDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the barcodes in the <strong>Setup » Item » Barcode</strong> menu.<br>
In this process, the barcodes are not linked to the individual variations. Use the backup type <strong>ItemVariation</strong> in order to restore the links together with further variation data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCharacterDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the characteristics and characteristic groups in the <strong>Setup » Item » Characteristics</strong> menu.<br>
In this process, the characteristics are not linked to the individual items. Use the backup type <strong>ItemCharacterValues</strong> in order to restore the values of the characteristic links.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCharacterValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the values of the characteristic links that are directly saved on the item in the <strong>Characteristics</strong> tab.<br>
Assumes that the characteristics and characteristic groups already exist or have been restored with the backup type <strong>itemCharacterDefinition</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceCalculation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the price calculations in the <strong>Setup » Item » Calculation</strong> menu.<br>
In this process, the price calculations are not linked to the individual variations. Use the backup type <strong>ItemVariation</strong> in order to restore the links together with further variation data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemManufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the manufacturer data in the <strong>Setup » Item » Manufacturers</strong> menu.<br>
In this process, the manufacturers are not linked to the individual variations. Use the backup type <strong>ItemVariation</strong> in order to restore the links together with further variation data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSalesPriceDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the sales prices in the <strong>Setup » Item » Sales prices</strong> menu.<br>
In this process, the sales prices are not linked to the individual variations, nor are the monetary prices entered. Use the backup type <strong>itemVariationSalesPriceValues</strong> in order to solely restore the links and prices. Alternatively, use the backup type <strong>ItemVariation</strong> in order to restore the links and prices together with further variation data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemUnit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the units in the <strong>Setup » Item » Units</strong> menu.<br>
In this process, the units are not linked to the individual variations. Use the backup type <strong>ItemVariation</strong> in order to restore the links together with further variation data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores variation data records.
This also includes the <em>links</em> between variations and other data, such as barcodes, categories, standard categories, images, ASINs, prices, suppliers, warehouses etc.</p>
<p class="tableblock"><strong><em>Note</em></strong>: The links can only be restored if the data that should be linked (i.e. the actual barcodes, categories, images, etc.) still exist or have already been restored with a corresponding backup type.</p>
<p class="tableblock">Item bundles are restored, too.
Tags are not restored.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariationCategoryValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the category links that are directly saved on the variation in the <strong>Categories</strong> tab.<br>
Alternatively, use the backup type <strong>ItemVariation</strong> in order to restore the category links together with further variation data. Assumes that the categories and the structure of the category tree already exist or have been restored with the backup type <strong>Category</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariationSalesPriceValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the sales price links and monetary prices that are directly saved on the variation in the <strong>Settings</strong> tab.
Alternatively, use the backup type <strong>ItemVariation</strong> in order to restore the links and prices together with further variation data.<br>
Assumes that the sales prices already exist or have been restored with the backup type <strong>ItemSalesPriceDefinition</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_showing_backup_logs">1.3. Showing backup logs</h3>
<div class="paragraph">
<p>By clicking the button in the toolbar, backup logs and possible error messages are shown.</p>
</div>
<div class="paragraph instruction">
<p>Showing backup logs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Hosting » Backup</strong>.</p>
</li>
<li>
<p>Click on <strong>Show backup logs</strong>.<br>
→ The window with the backup logs opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/data/datalog">Data log</a> manual page.</p>
</div>
</div>
</div>
</div>
</main>