<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Backing up database data</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the backup function in the menu <strong>Setup » Settings » Data » Backup</strong> to reset data in the database to a previous state or restore deleted data.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Important</div>
</td>
<td class="content">
<div class="title">Limitations</div>
<div class="paragraph">
<p>You can only use the backup function within the same version of plentymarkets. This means that it is not possible to import a backup of an older version of plentymarkets. This means that it is not possible to import a backup of an older version of plentymarkets. In addition, this function is not a regular data backup, but a database backup. Thus, this function can <strong>not</strong> be used to restore content saved in the cloud storage, such as order documents or item images.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_backing_up_and_restoring_data">Backing up and restoring data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Setup » Settings » Data » Backup</strong> offers an overview of the existing backups with the corresponding dates. They are automatically created on a daily basis.</p>
</div>
<div class="sect2">
<h3 id="_storing_a_backup_locally">Storing a backup locally</h3>
<div class="paragraph">
<p>As an additional safeguard, you can save backup files locally. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Storing a backup locally:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Data » Backup</strong>.</p>
</li>
<li>
<p>Select the backup you want to download.</p>
</li>
<li>
<p>Click on <strong>Download backup</strong>.<br>
→ The backup is downloaded in compressed form.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
<div class="title">Waiting for backup</div>
<div class="paragraph">
<p>The download of large files will take some time. Once the process is complete, the download button is activated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_importing_a_backup">Importing a backup</h3>
<div class="paragraph">
<p>You can reset your system to the status of any backup.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Warning</div>
</td>
<td class="content">
<div class="title">Possible data loss:</div>
<div class="paragraph">
<p>Note that importing a backup can overwrite current data. Data that have changed since the last backup creation can be lost irreversibly.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Importing a backup:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Data » Backup</strong>.</p>
</li>
<li>
<p>Click on <strong>Import backup</strong>.<br>
The window for the backup import opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-import-options">Import options</a> and <a href="#table-backup-types">Backup types</a>.</p>
</li>
<li>
<p>Click on <strong>Import backup</strong> to import the backup.<br>
→ The backup is imported.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The dropdown menu offers two different import options.</p>
</div>
<table id="table-import-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Import options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Import option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partially import data base</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you can select the areas that you want to import.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Completely import data base</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option considers and restores all available data.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Select the area of the system that you want to reset or in which you want to restore data.</p>
</div>
<table id="table-backup-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Backup types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Backup type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company, contact and address<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Categories of the menu <strong>Item » Categories</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information about listings and market listings, active listings, listing settings for eBay, hood and ricardo, sales plans, listing directories, listing texts and translations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order and order item data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Process</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automated procedures organised with plentyBase<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reorder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reorders in <strong>Stock » Reorders</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ticket</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Users registered in the system and the settings selected by the user</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse and inventory, such as dimensions and storage locations. <strong><em>Note:</em></strong> Does not include the stock! However, <a href="https://knowledge.plentymarkets.com/en/stock-management/best-practices-saving-stock">stock can be saved on a daily basis</a>. The saved stock can be used to create a backup.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FacetDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facets for the search in <strong>Setup » Client » Settings » Services » Faceted search</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item master data, mainly in the <strong>Global</strong> tab</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAttribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributes of the items in <strong>Setup » Item » Attributes</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemBarCodeDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link of the barcode to the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCharacterDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristics of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCharacterValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Values of the item links</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceCalculation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price calculations that are specified for the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemManufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSalesPriceDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales price link to the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemUnit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variations of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariationCategoryValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category links of the variations</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariationSalesPriceValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Values from the price link to the variations</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_showing_backup_logs">Showing backup logs</h3>
<div class="paragraph">
<p>By clicking the button in the toolbar, backup logs and possible error messages are shown.</p>
</div>
<div class="paragraph instruction">
<p>Showing backup logs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Data » Backup</strong>.</p>
</li>
<li>
<p>Click on <strong>Show backup logs</strong>.<br>
→ The window with the backup logs opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/data/datalog">Data log</a> page of the manual.</p>
</div>
</div>
</div>
</div>
</main>