<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Change history</h1><div class="paragraph">
<p>Via the change history in the <strong>Data » Change history</strong> menu, you can track which user changed data of a data record in your system at which time.</p>
</div><div class="paragraph">
<p>Proceed as follows to display the change history.</p>
</div><div class="paragraph instruction">
<p>Displaying the change history:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Change history</strong>.</p>
</li>
<li>
<p>Select an option from the drop-down list <strong>Reference type</strong>.</p>
</li>
<li>
<p>Enter the reference ID.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ A list of changes with the old and new values, the change date as well as the name and ID of the user who did the changes appears.</p>
</li>
</ol>
</div><div class="paragraph">
<p>By clicking on the line, a window opens which contains further information. <a href="#image-data-change-history">Figure 1</a> shows an example of the change history.</p>
</div><div id="image-data-change-history" class="imageblock">
<div class="content">
<img src="/data/assets/data-change-history.png" alt="data change history" width="640" height="360">
</div>
<div class="title">Figure 1. View in the <strong>Data » Change history</strong> menu (example)</div>
</div><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Currently available reference types</div>
<div class="paragraph">
<p>The following reference types are currently available in the change history:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Contact</p>
</li>
<li>
<p>Address</p>
</li>
<li>
<p>Company</p>
</li>
<li>
<p>Configuration of data cleansing</p>
</li>
<li>
<p>ShopBooster</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</main>