<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting the visibility of the menu for variable users</span></a></li>
<li><a href="#200"><span>2.</span><span> Entering deletion values</span></a></li>
<li><a href="#300"><span>3.</span><span> Automatically deleting tickets</span></a></li>
<li><a href="#400"><span>4.</span><span> Viewing the log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Carrying out data cleansing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes how to delete certain data records after a certain time period has expired. You determine this time period in the <strong>System » System settings » Settings » Data » Cleanup</strong> menu.<br></p>
</div>
<div class="paragraph">
<p>There are 2 main reasons for deleting data using the data cleansing function. According to GDPR regulations, you as a seller are obliged to delete personal data saved in your system. In addition, you can use the data cleansing function to reduce memory usage. For example, this can help if the free memory capacity included in your plentymarkets tariff.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting the visibility of the menu for variable users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order that the <strong>System » System settings » Settings » Data » Cleansing</strong> menu is visible for users with the user class <strong>Variable</strong>, the menu must be activated in the user account.</p>
</div>
<div class="paragraph">
<p>In addition, rights in the <strong>REST API</strong> menu must be activated.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility of the menu for variable users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user with the user class <strong>Variable</strong> for whom you would like to activate the visibility of the menu.</p>
</li>
<li>
<p>Open the <strong>Right</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Menu</strong> tab.</p>
</li>
<li>
<p>Expand the section <strong>Settings » Basic settings » Data</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Cleansing</strong>.</p>
</li>
<li>
<p>Open the <strong>REST API</strong> tab.</p>
</li>
<li>
<p>Expand the section <strong>Data cleansing</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Show configuration</strong> and <strong>Save configuration</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Entering deletion values</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order that data records are deleted in your plentymarkets system after a certain time period has expired, you must enter values for this time period. To do so, proceed as follows.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Further functions will be added to this menu step by step</div>
<div class="paragraph">
<p>Currently, you can automatically delete unassigned addresses, unused contacts, orders, the history and the IP addresses attached to an order. Step by step, further areas will be added to this menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Entering deletion values:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » Data » Cleanup</strong>.</p>
</li>
<li>
<p>Enter a value in the input field. Pay attention to the information given in <a href="#table-settings-data-cleansing">Table 1</a>.</p>
</li>
<li>
<p>Activate the toggle button.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-data-cleansing" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings in the System » System settings » Settings » Data » Cleanup menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of unused addresses (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, unused addresses are automatically deleted from your plentymarkets system. Unused addresses are those addresses that do not have any relation to a contact, an order, a POS or a warehouse.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of unused contacts (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, unused contacts are automatically deleted from your plentymarkets system. Unused contacts are those contacts that do not have any relation to incoming goods, tickets or orders.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of orders (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, orders are automatically deleted from your plentymarkets system. Orders are deleted including the documents belonging to them. Minimum value: 60 days.<br>
<strong><em>Important:</em></strong> The data deleted here are relevant for tax purposes that can not be restored.<br>
<strong><em>Note</em>:</strong> Orders containing a document with the last number of the number range are not deleted until a more recent document has been generated in another order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of the change history (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, entries in the <a href="/en/crm/managing-contacts#5100">change history</a> entries are automatically deleted from your plentymarkets system. The change history logs changes made to the data in your plentymarkets system. Maximum value: 365 days.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of IP addresses in the order (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, IP addresses saved in the order are automatically deleted from your plentymarkets system.<br></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activate the toggle button</div>
<div class="paragraph">
<p>Data is only deleted if the toggle button is activated and the settings have been saved.<br>
If you do not want to delete the data automatically after the number of days entered, deactivate the toggle button and save the settings once again.<br>
<strong>Exception</strong>: The deletion of the change history still takes place even if the toggle button is deactivated. The maximum value of 365 days is used.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Number of data records to be deleted</div>
<div class="paragraph">
<p>Up to 5,000 data records are currently deleted per day. plentymarkets will monitor this behaviour and adjust this value if necessary.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Automatically deleting tickets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Delete tickets automatically from your ticket system. This setting is not carried out in the <strong>System » System settings » Settings » Data » Cleanup</strong> menu, but via the procedure manager in the ticket system in the <strong>System » System settings » CRM » Ticket system » Procedures</strong> menu.</p>
</div>
<div class="paragraph">
<p>Further information about the ticket system as well as an example scenario can be found on the <a href="/en/crm/using-the-ticket-system#3000">Using the ticket system</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Viewing the log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All changes made in the <strong>System » System settings » Settings » Data » Cleanup</strong> menu are saved in the <strong>Data » Log</strong> menu for a period of 4 weeks. The date and time as well as the user who made changes to the values are logged in this menu.</p>
</div>
<div class="paragraph">
<p>For further information about the log, refer to the <a href="/en/data/datalog">Data log</a> page of the manual.</p>
</div>
</div>
</div>
</main>