<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Deprecated tools</h1><p>Welcome to the topic Deprecated tools. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/data/export-import">Deprecated: Dynamic data exchange</a></li><li><a href="/en/business-decisions/plenty-bi/statistics">Deprecated: Statistics</a></li><li><a href="/en/data/api-log">Deprecated: API log</a></li></ul>
</main>