<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Exporting data</h1><p>Welcome to the topic Exporting data. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/data/exporting-data/elastic-export">Elastic export</a></li><li><a href="/en/data/exporting-data/FormatDesigner">Creating data formats with FormatDesigner</a></li><li><a href="/en/data/exporting-data/best-practices-elasticexport-dropshipping">Best Practices: Drop shipping and Elastic export</a></li><li><a href="/en/data/exporting-data/Managing-catalogs">Managing catalogues</a></li></ul>
</main>