<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Report</h1><p>Welcome to the topic Report. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/data/report/report">Managing reports</a></li><li><a href="/en/data/report/data-formats">Data formats</a></li></ul>
</main>