<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_grundlagen_der_preisberechnung_in_plentymarkets"><span>1.</span><span> Grundlagen der Preisberechnung in plentymarkets</span></a></li>
<li><a href="#_speichern_und_runden_einstellen"><span>2.</span><span> Speichern und Runden einstellen</span></a>
<ul class="sectlevel2">
<li><a href="#_beispielberechnungen"><span>2.1.</span><span> Beispielberechnungen</span></a></li>
</ul>
</li>
<li><a href="#_umsatzsteuereinstellungen_vornehmen"><span>3.</span><span> Umsatzsteuereinstellungen vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#_kleinunternehmerregelung_anwenden"><span>3.1.</span><span> Kleinunternehmerregelung anwenden</span></a></li>
<li><a href="#_rechnungsstellung_bei_innergemeinschaftlichen_eu_lieferungen_einstellen"><span>3.2.</span><span> Rechnungsstellung bei innergemeinschaftlichen EU-Lieferungen einstellen</span></a>
<ul class="sectlevel3">
<li><a href="#_beispiele_für_einstellungsauswirkung"><span>3.2.1.</span><span> Beispiele für Einstellungsauswirkung</span></a></li>
</ul>
</li>
<li><a href="#_rechnungsstellung_bei_ausfuhrlieferung_einstellen"><span>3.3.</span><span> Rechnungsstellung bei Ausfuhrlieferung einstellen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Buchhaltung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie mehr über buchhaltungsrelevante Einstellungen in plentymarkets.
Hierzu zählen in plentymarkets Umsatzsteuersätze, Währungen, Umrechnungskurse, die Berechnung von Auftragspreisen, Buchhungsschlüssel, Erlöskonten, Debitorenkonen, aber auch Dokumente. Die meisten buchhaltungsrelevanten Einstellungen lassen sich in plentymarkets standortspezifisch vornehmen. Lediglich die Berechnung von Auftragspreisen gilt global für das gesamte System.<br>
Die genaue Einrichtung von Dokumenten wird auf einer anderen Seite ausführlich beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_grundlagen_der_preisberechnung_in_plentymarkets">1. Grundlagen der Preisberechnung in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Preisberechnung in Aufträgen beruht auf dem Bruttopreis der Varianten.
Ausgehend von diesem Bruttopreis wird der Nettopreis der Varianten für den Auftrag errechnet.
Die Auftragspositionsummen errechnen sich durch Multiplikation der Einzelpreise mit der gekauften Anzahl.
Die Bruttosumme einer Auftragsposition errechnet sich also aus dem Bruttoeinzelpreis multipliziert der Anzahl.
Die Nettosumme einer Auftragsposition errechnet sich aus dem errechneten und auf 4 oder 2 Nachkommastellen gerundeten Nettoeinzelpreis multipliziert mit der gekauften Anzahl.
Die Nachkommastellen des Einzelpreises werden durch die Einstellungen in der Buchhaltung bestimmt.
Der Umsatzsteuerbetrag für eine Auftragsposition ist die Differenz aus Bruttosumme minus Nettosumme.<br>
Ab irgendeinem Moment in der Preisberechnung wird der Preis auf 2 Nachkommastellen gerundet und anschließend mit diesem gerundeten Werten weiter gerechnet. Durch Ihre Einstellungen bestimmen Sie wie lange mit 4 Nachkommastellen gerechnet wird und ab wann mit 2 Nachkommastellen gerechnet wird.
Mithilfe der Einstellungen lassen sich folgende Ergebnisse erreichen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gerundete Einzelpreise</p>
</li>
<li>
<p>Gerundete Auftragspositionssummen</p>
</li>
<li>
<p>Gerundete Gesamtbeträge</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_speichern_und_runden_einstellen">2. Speichern und Runden einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü, in dem die 2 Einstellungen, sich befinden sowie eine Erläuterung der Einstellungen. Berücksichtigt für die Berechnung der Auftragspreise werden die Einstellungen, die beim Anlegen eines Auftrags eingestellt waren.</p>
</div>
<div class="paragraph instruction">
<p>Speichern und Runden einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte » Standort wählen » Buchhaltung</strong>. <br>
Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellung vor. Beachten Sie die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Speicher- und Rundungseinstellungen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anzahl Nachkommstellen bei Preisen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2 oder 4 Nachkommastellen wählen <br>
<strong>2</strong> = Preise im Auftrag werden mit nur 2 Nachkommastellen gespeichert. Dadurch wird indirekt auch erreicht, dass der Einzelpreis gerundet wird. Die weitere Berechnung der Summen und des Rechnungsbetrages erfolgt dann basierend auf den gerundeten Einzelpreisen. <br>
<strong>4</strong> = Preise werden im Auftrag mit 4 Nachkommastellen gespeichert. Wenn 4 Nachkommstellen gewählt werden, werden standardmäßig die Summen von Auftragsposition gerundet. Im Hintergrund werden die Summen jedoch ungerundet mit 4 Nachkommastellen gespeichert, so dass es möglich bleibt, später auch nur die Gesamtbeträge zu runden. Durch ein Häkchen bei <strong>Nur Gesamtpreise runden</strong> wird das standardmäßige Rundungsverhalten bei 4 Nachkommastellen aufgehoben und erst zu einem späteren Zeitpunkt gerundet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nur Gesamtpreise runden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Häkchen setzen, um das standardmäßge Runden bei 4 Nachkommastellen außer Kraft zu setzen und stattdessen erst die Gesamtbeträge zu runden. Gesamtbeträge bezieht sich auf den Warenwert eines Auftrages. Bezogen auf die Dokumenteinstellungen einer Rechnung sind das die Werte, die unter der Überschrift Summen aufgeführt werden. <br>
Bei 4 Nachkommastellen werden ohne das Häkchen die Summen der Auftragspositionen gerundet. <br>
Bei 2 Nachkommastellen hat das Häkchen keine Auswirkungen, da bereits der Einzelpreis gerundet wird.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_beispielberechnungen">2.1. Beispielberechnungen</h3>
<div class="paragraph">
<p>Im folgenden wird ein Vergleich der unterschiedlichen Berechnungvarianten und der resultierenden Beträge anhand eines Beispiels dargestellt.<br>
Verkauft wurden Stoffe. Es wurde mehrere Bahnen des gleichen Stoffs in einer Breite von 50 Zentimeter und von 30 Zentimeter gekauft. Die 50-Zentimeterbahn wurde 8 mal gekauft und die 30-Zentimeterbahn 7 mal. 30 Zentimeter kosten 2,187 € und 50 Zentimeter kosten 3,645 €. Die Preise basieren auf einem Meterpreis von 7,29 €. Welche Einstellungen für welche Variante gewählt werden müssen, steht ebenfalls in der Tabelle.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/Preise-runden.png" alt="Preisrunden" width="849" height="417">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Preisrundungsvarianten im Vergleich**</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_umsatzsteuereinstellungen_vornehmen">3. Umsatzsteuereinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Einstellungen zur Umsatzsteuer sind standortabhängig. Sie können also für jeden Standort andere Einstellungen festlegen. Zu den umsatzsteuerrelevanten Grundeinstellungen zählen Festlegungen zum Umgang bei Umsatzsteuer-ID des Käufers, zum Umgang mit Ausfuhrlieferungen und zur Anzeige der Umsatzsteuer von Versandkosten. Ausgangspunkt für die Beschreibungen in diesem Abschnitt sowie für die korrekte Funktionsweise der Einstellungen ist die Annahme, dass sich der Standort in der Europäischen Union befindet.</p>
</div>
<div class="sect2">
<h3 id="_kleinunternehmerregelung_anwenden">3.1. Kleinunternehmerregelung anwenden</h3>
<div class="paragraph">
<p>Wenn Sie Kleinunternehmer sind und erreichen wollen, dass auf Rechnungen keine Steuersätze angewendet werden, genügt das Setzen eines Häkchens in den Standorteinstellungen. Für eine korrekte Funktionsweise des Systems müssen Sie jedoch trotzdem Umsatzsteuersätze speichern. Diese werden allerdings nicht angewendet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kleinunternehmereinstellung nur sichtbar bei Deutschland als Systemland</div>
<div class="paragraph">
<p>Die Einstellung Kleinunternehmer ist nur sichtbar, wenn für Ihr System Deutschland als Systemland gespeichert wurde. Es handelt sich hierbei um eine Einstellung auf die Sie keinen Zugriff haben und die anhand Ihrer Informationen beim Bestellen eines plentymarkets Systems gewählt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kleinunternehmerregelung anwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie einen Standort unter <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Kleinunternehmer (nur für Deutschland)</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kleinunternehmerhinweis auf Rechnungen ausgeben</div>
<div class="paragraph">
<p>Als Kleinunternehmer müssen Sie den Grund für die fehlenden Umsatzsteuerangaben auf der Rechnung ausgeben. Tragen Sie also einen Hinweis in der Rechnungsvorlage ein. Die oben beschriebene Einstellung sorgt nicht dafür, dass auf der Rechnung automatisch ein Hinweis ausgegeben wird, der Sie als Kleinunternehmer ausweist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_rechnungsstellung_bei_innergemeinschaftlichen_eu_lieferungen_einstellen">3.2. Rechnungsstellung bei innergemeinschaftlichen EU-Lieferungen einstellen</h3>
<div class="paragraph">
<p>Für Lieferungen innerhalb der Europäischen Union können Sie wählen, ob Kunden mit einer Umsatzsteuer-ID eine Netto-Rechnung oder eine Brutto-Rechnung erhalten. In vielen Fällen haben hierbei die Daten des Lieferempfängers Vorrang. Damit eine Netto-Rechnung ausgestellt wird, muss die Lieferadresse in einem anderen EU-Mitgliedsland liegen als dem Land des Versenders. Bei Lieferungen innerhalb eines EU-Mitgliedslandes wird unabhängig von der gewählten Einstellung immer Umsatzsteuer berechnet. Um das zu verhindern muss der Lieferung eine Gelangensbestätigung beigelegt werden und dies im Auftrag bei der Lieferanschrift gewählt werden.
Bei Privatkäufen wird ebenfalls immer eine Rechnung mit Umsatzsteuer ausgestellt, es sei denn Sie nutzen die Kleinunternehmereinstellung.</p>
</div>
<div class="paragraph instruction">
<p>Brutto- oder Nettorechnung für innergemeinschaftliche Lieferungen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie einen Standort unter <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie für <strong>Umsatzsteuer-ID</strong> eine Option aus dem Dropdownmenü. Beachten Sie die Erläuterungen in Tabelle …​</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erläuterung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umsatzsteuer-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Gilt nur für Lieferungen innerhalb der EU. Ent+
<strong>Brutto-Rechnung</strong> = Alle Rechnungen für innergemeinschaftliche Lieferungen werden brutto ausgestellt.<br>
<strong>Netto-Rechnung</strong> = Rechnungen bei Kunden, die eine Umsatzsteuer-ID haben, werden netto, d.h. ohne Umsatzsteuer, ausgestellt.<br>
Liegt die Lieferadresse dieses Kunden innerhalb Deutschlands, wird für den Auftrag trotzdem Umsatzsteuer berechnet. Per Gesetz ist es jedoch zulässig, bei Kunden mit gültiger Umsatzsteuer-ID im europäischen Ausland auch bei einer deutschen Lieferadresse den Auftrag netto auszuführen, wenn dem Auftrag eine <a href="/omni-channel/online-shop/mandanten-einrichten/dokumente/gelangensbestaetigung"><strong>Gelangensbestätigung</strong></a> beigelegt wird. Daher gibt es im Menü <strong><a href="/crm/kundendaten-verwalten#1900">Lieferanschriften</a></strong> die Option <strong>Gelangensbestätigung</strong>. Wird die Option <strong>Gelangensbestätigung</strong> aktiviert (Häkchen gesetzt), werden Lieferungen ins EU-Ausland mit deutscher Lieferanschrift wie eine EU-Auslandssendung behandelt. Ob die Rechnung brutto oder netto ausgestellt wird, ist dann von den Einstellungen <strong>Umsatzsteuer-ID</strong> und <strong>Ausfuhrlieferung</strong> in diesem Menü abhängig. Ist die Option <strong>Gelangensbestätigung</strong> nicht aktiviert, werden diese Aufträge brutto berechnet.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="_beispiele_für_einstellungsauswirkung">3.2.1. Beispiele für Einstellungsauswirkung</h4>
<div class="paragraph">
<p>Im folgenden werden 6 mögliche Kombinationen und die Auswirkungen beschrieben.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender, der Lieferempfänger und der Rechnungsempfänger im gleichen EU-Land sind?</p>
</div>
<div class="paragraph">
<p>In diesem Fall wird die Rechnung trotz der Einstellung Nettorechnung immer brutto ausgestellt.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender und der Lieferempfänger im gleichen EU-Land sind, aber der Rechnungsempfänger in einem anderen EU-Land ist?</p>
</div>
<div class="paragraph">
<p>In diesem Fall wird die Rechnung trotz der Einstellung Nettorechnung brutto ausgestellt. Jedoch ist, wenn der Rechnungsempfänger eine Ust.-Id.-Nr. hat, eine Nettorechnung zulässig. Damit die Rechnung tatsächlich netto ausgestellt wird, muss aber zusätzlich in den Lieferadressdaten des Auftrags die Gelangensbestätigung aktiviert sein. Wenn die Gelangensbestätigung nicht aktiviert ist, wird eine Brutto-Rechnung ausgestellt. Die Gelangensbestätigung muss in jedem Auftrag individuell aktiviert werden.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender und der Rechnungsempfänger im gleichen EU-Land sind, aber der Lieferempfänger in einem anderen EU-Land ist?</p>
</div>
<div class="paragraph">
<p>Wenn der Empfänger der Lieferung eine Ust.-Id.-Nr. wird die Rechnung netto ausgestellt. Der inländische Rechnungsempfänger spielt in diesem Fall keine Rolle.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender in einem EU-Land ist, aber der Lieferempfänger und der Rechnungsempfänger in einem anderen EU-Land sind?</p>
</div>
<div class="paragraph">
<p>Sobald einer von beiden, Liefer- oder Rechnungsempfänger, eine Ust.-Id.-Nr. hat, wird die Rechnung netto ausgestellt. Wenn keiner von beiden eine Ust.-Id.-Nr. hat, wird die Rechnung brutto ausgestellt.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender in einem EU-Land, aber der Lieferempfänger in einem anderen EU-Land und der Rechnungsempfänger außerhalb der EU ist?</p>
</div>
<div class="paragraph">
<p>Sobald einer von beiden, Liefer- oder Rechnungsempfänger, eine Ust.-Id.-Nr. hat, wird die Rechnung netto ausgestellt. Wenn keiner von beiden eine Ust.-Id.-Nr. hat, wird die Rechnung brutto ausgestellt.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender in einem EU-Land, aber der Rechnungsempfänger in einem anderen EU-Land und der Lieferempfänger außerhalb der EU ist?</p>
</div>
<div class="paragraph">
<p>In diesem Fall handelt es sich um eine Ausfuhrlieferung und die Einstellung für Ausfuhrlieferung wird angewendet. Welche Einstellungsoptionen Sie für Ausfuhrlieferungen haben, wird im nächsten Abschnitt beschrieben.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_rechnungsstellung_bei_ausfuhrlieferung_einstellen">3.3. Rechnungsstellung bei Ausfuhrlieferung einstellen</h3>
<div class="paragraph">
<p>Sie können für jeden Standort festlegen, ob für Ausfuhrlieferungen eine Netto-Rechnung oder eine Brutto-Rechnung ausgestellt wird. Grundlage für eine Ausfuhrlieferung ist die Annahme, dass Sie Ihr Geschäft in der EU betreiben. Die gewählte Einstellung greift, wenn die Lieferung in ein Land erfolgt, das nicht zur Europäischen Union gehört. Netto-Rechnung bedeutet, dass Kunden eine Rechnung ohne Umsatzsteuer erhalten.</p>
</div>
<div class="paragraph instruction">
<p>Brutto- oder Nettorechnung für Ausfuhrlieferung einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie einen Standort unter <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie für <strong>Ausfuhrlieferung</strong> eine Option aus dem Dropdownmenü. Beachten Sie die Erläuterungen in Tabelle …​</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erläuterung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ausfuhrlieferung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Netto-Rechnung</strong> = Rechnungen für Ausfuhrlieferungen werden ohne Umsatzsteuer ausgestellt.<br>
<strong>Brutto-Rechnung</strong> = Die Umsatzsteuer wird auf Rechnungen für Ausfuhrlieferungen ausgewiesen.<br>
Wenn ein Umsatzsteuersatz für ein Ausfuhr-Lieferland eingestellt wurde, erfolgt immer eine Brutto-Rechnung.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>