<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Grundlagen der Preisberechnung in plentymarkets</span></a></li>
<li><a href="#150"><span>2.</span><span> Speichern und Runden einstellen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>2.1.</span><span> Beispielberechnungen</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Umsatzsteuereinstellungen vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#_neuen_standort_anlegen"><span>3.1.</span><span> Neuen Standort anlegen</span></a></li>
<li><a href="#_standort_löschen"><span>3.2.</span><span> Standort löschen</span></a></li>
<li><a href="#350"><span>3.3.</span><span> Kleinunternehmerregelung anwenden</span></a></li>
<li><a href="#400"><span>3.4.</span><span> Rechnungsstellung bei innergemeinschaftlichen EU-Lieferungen einstellen</span></a>
<ul class="sectlevel3">
<li><a href="#450"><span>3.4.1.</span><span> Beispiele für Einstellungsauswirkung</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.5.</span><span> Rechnungsstellung bei Ausfuhrlieferung einstellen</span></a></li>
<li><a href="#550"><span>3.6.</span><span> Umsatzsteuersätze einrichten</span></a></li>
<li><a href="#600"><span>3.7.</span><span> Umsatzsteuer für digitale Artikel</span></a></li>
</ul>
</li>
<li><a href="#650"><span>4.</span><span> Buchungsschlüssel, Erlös- und Debitorenkonten einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>4.1.</span><span> Buchungsschlüssel einrichten</span></a></li>
<li><a href="#750"><span>4.2.</span><span> Debitorenkonten einrichten</span></a></li>
<li><a href="#800"><span>4.3.</span><span> Erlöskonten einrichten</span></a></li>
<li><a href="#910"><span>4.4.</span><span> Buchungskonten für Kassenvorfälle speichern (ab plentymarkets App Version 1.7.3)</span></a></li>
</ul>
</li>
<li><a href="#850"><span>5.</span><span> Einstellungen auf andere Standorte übertragen</span></a></li>
<li><a href="#900"><span>6.</span><span> Buchhaltungsdaten exportieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Buchhaltung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie mehr über buchhaltungsrelevante Einstellungen in plentymarkets. Hierzu zählen in plentymarkets Umsatzsteuersätze, Währungen, Umrechnungskurse, die Berechnung von Auftragspreisen, Buchhungsschlüssel, Erlöskonten, Debitorenkonten, aber auch Dokumente. Die meisten buchhaltungsrelevanten Einstellungen lassen sich in plentymarkets standortspezifisch vornehmen. Lediglich die Berechnung von Auftragspreisen gilt global für das gesamte System.<br>
Die genaue Einrichtung von Dokumenten wird auf einer anderen Seite ausführlich beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Grundlagen der Preisberechnung in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Preisberechnung in Aufträgen beruht auf dem Bruttopreis der Varianten. Ausgehend von diesem Bruttopreis wird der Nettopreis der Varianten für den Auftrag errechnet. Die Auftragspositionsummen errechnen sich durch Multiplikation der Einzelpreise mit der gekauften Anzahl. Die Bruttosumme einer Auftragsposition errechnet sich also aus dem Bruttoeinzelpreis multipliziert der Anzahl. Die Nettosumme einer Auftragsposition errechnet sich aus dem errechneten und auf 4 oder 2 Nachkommastellen gerundeten Nettoeinzelpreis multipliziert mit der gekauften Anzahl. Die Nachkommastellen des Einzelpreises werden durch die Einstellungen in der Buchhaltung bestimmt. Der Umsatzsteuerbetrag für eine Auftragsposition ist die Differenz aus Bruttosumme minus Nettosumme.<br>
Durch Ihre Einstellungen bestimmen Sie ab wann der Preis auf 2 Nachkommastellen gerundet wird. Anschließende Berechnungen erfolgen mit diesen gerundeten Werten. Mithilfe der Einstellungen lassen sich folgende Ergebnisse erreichen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gerundete Einzelpreise</p>
</li>
<li>
<p>Gerundete Auftragspositionssummen</p>
</li>
<li>
<p>Gerundete Gesamtbeträge</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="150">2. Speichern und Runden einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü, in dem die 2 Einstellungen sich befinden sowie eine Erläuterung der Einstellungen. Berücksichtigt für die Berechnung der Auftragspreise werden die Einstellungen, die beim Anlegen eines Auftrags eingestellt waren.</p>
</div>
<div class="paragraph instruction">
<p>Speichern und Runden einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>. <br>
Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellung vor. Beachten Sie die Erläuterungen in <a href="#tabelle-Preise-runden-und-speichern">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-Preise-runden-und-speichern" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Speicher- und Rundungseinstellungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl Nachkommastellen bei Preisen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2 oder 4 Nachkommastellen wählen <br>
<strong>2</strong> = Preise im Auftrag werden mit nur 2 Nachkommastellen gespeichert. Dadurch wird indirekt auch erreicht, dass der Einzelpreis gerundet wird. Die weitere Berechnung der Summen und des Rechnungsbetrages erfolgt dann basierend auf den gerundeten Einzelpreisen. <br>
<strong>4</strong> = Preise werden im Auftrag mit 4 Nachkommastellen gespeichert. Wenn 4 Nachkommstellen gewählt werden, werden standardmäßig die Summen von Auftragsposition gerundet. Im Hintergrund werden die Summen jedoch ungerundet mit 4 Nachkommastellen gespeichert, so dass es möglich bleibt, später auch nur die Gesamtbeträge zu runden. Durch ein Häkchen bei <strong>Nur Gesamtpreise runden</strong> wird das standardmäßige Rundungsverhalten bei 4 Nachkommastellen aufgehoben und erst zu einem späteren Zeitpunkt gerundet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Gesamtpreise runden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um das standardmäßge Runden bei 4 Nachkommastellen außer Kraft zu setzen und stattdessen erst die Gesamtbeträge zu runden. Gesamtbeträge bezieht sich auf den Warenwert eines Auftrages. Bezogen auf die Dokumenteinstellungen einer Rechnung sind das die Werte, die unter der Überschrift Summen aufgeführt werden. <br>
Bei 4 Nachkommastellen werden ohne das Häkchen die Summen der Auftragspositionen gerundet. <br>
Bei 2 Nachkommastellen hat das Häkchen keine Auswirkungen, da bereits der Einzelpreis gerundet wird.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="200">2.1. Beispielberechnungen</h3>
<div class="paragraph">
<p>Im folgenden wird ein Vergleich der unterschiedlichen Berechnungvarianten und der resultierenden Beträge anhand eines Beispiels dargestellt.<br>
Verkauft wurden Stoffe. Es wurde mehrere Bahnen des gleichen Stoffs in einer Breite von 50 Zentimeter und von 30 Zentimeter gekauft. Die 50-Zentimeterbahn wurde 8 mal gekauft und die 30-Zentimeterbahn 7 mal. 30 Zentimeter kosten 2,187 € und 50 Zentimeter kosten 3,645 €. Die Preise basieren auf einem Meterpreis von 7,29 €. Welche Einstellungen für welche Variante gewählt werden müssen, steht ebenfalls in der Tabelle.</p>
</div>
<div id="bild-Preise-runden-Vergleich" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/Preise-runden.png" alt="Preisrunden" width="849" height="417">
</div>
<div class="title">Bild 1. Preisrundungsvarianten im Vergleich</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Umsatzsteuereinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Einstellungen zur Umsatzsteuer sind standortabhängig. Sie können also für jeden Standort andere Einstellungen festlegen. Standorte sind notwendig für Firmensitze oder Versandländer, d.h. Länder aus denen Sie versenden. Standardmäßig sind 2 Standorte, Deutschland und United Kingdom, in Ihrem System eingerichtet. Für den Produktivbetrieb benötigen Sie eigene Standorte.<br>
Ihr System unterscheidet bei Standortländern zwischen Mitgliedsländern der EU und anderen Ländern. Wenn Sie einen Standort einrichten, der nicht in der EU liegt, wird jede Lieferung in ein anderes Land als Ausfuhrlieferung betrachtet. Wenn Ihr Standort in der EU liegt, wird zwischen innergemeinschaftlichen Lieferungen und Ausfuhrlieferungen unterschieden.<br>
Zu den umsatzsteuerrelevanten Grundeinstellungen zählen Festlegungen zum Umgang mit Ausfuhrlieferungen und zur Anzeige der Umsatzsteuer von Versandkosten. Für EU-Standorte legen Sie außerdem fest wie sich das System bei einer Umsatzsteuer-ID im Auftrag verhält. 
Bei der Überschreitung von Lieferschwellen legen Sie eine <a href="/auftragsabwicklung/auftraege/buchhaltung#550">neue Steuerkonfiguration</a> für das Lieferland in einem bereits bestehenden Standort an. Legen Sie bei Lieferschwellenüberschreitung keinen neuen Standort an.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Standortbeispiele nicht für den Produktivbetrieb nutzen</div>
<div class="paragraph">
<p>Die Standorte Deutschland und United Kingdom sind Beispiele und nicht für den Produktivbetreib geeignet. Legen Sie eigene Standorte an oder bearbeiten Sie die bestehenden Standorte. Fügen Sie mindestens eine neue Steuerkonfiguration mit Ihrer korrekten Ust.-IdNr. sowie den korrekten Steuersätze hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_neuen_standort_anlegen">3.1. Neuen Standort anlegen</h3>
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um einen neuen Standort anzulegen. Legen Sie außerdem einen Standort als Ihren <a href="/omni-channel/online-shop/mandanten-verwalten#20">Standard-Standort</a> fest. Der Standard-Standort ist sozusagen der Hauptfirmensitz.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Standort anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System&nbsp;» Mandant » Mandant wählen&nbsp;» Standorte</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit dem Cursor auf den Menüpunkt <strong>Standorte</strong>.<br>
→ Rechts wird ein Pfeil eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf den <strong>Pfeil</strong>.<br>
→ Die Option <strong>Neuer Standort</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Standort</strong>.<br>
→ Ein Bearbeitungsfenster wird angezeigt.</p>
</li>
<li>
<p>Geben Sie den <strong>Namen</strong> des neuen Standorts ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Land</strong> des neuen Standorts.
→ Nur aktive Lieferländer stehen zur Wahl.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.
→ Der Standort wird der Liste der Standorte hinzugefügt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Jeder Standort ist unterteilt in die folgenden 3 Untermenüs:
* Einstellungen
* Buchhaltung und
* Dokumente</p>
</div>
<div class="paragraph">
<p>Das Untermenü Einstellungen enthält die ID, den Namen und das Land des Standortes. Das Untermenü Buchhaltung enthält mehrere Tabs und die Möglichkeiten werden auf dieser Seite ab dem Kapitel <a href="#350">Kleinunternehmerregelung anwenden</a> ausführlich beschrieben. Im Untermenü Dokumente richten Sie standortspezifische Dokumente ein, z.B. Lieferschein und Rechnung.</p>
</div>
</div>
<div class="sect2">
<h3 id="_standort_löschen">3.2. Standort löschen</h3>
<div class="paragraph">
<p>Sie können einen Standort nur löschen, wenn ein weiterer Standort vorhanden ist. Ein Standort, der im Menü <a href="#20">Grundeinstellungen</a> als <strong>Standard-Standort</strong> hinterlegt ist, kann nicht gelöscht werden.</p>
</div>
<div class="paragraph instruction">
<p>Standort löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System&nbsp;» Mandant » Mandant wählen&nbsp;» Standorte</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Untermenü <strong>Einstellungen</strong> des zu löschenden Standorts.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Der Standort wird nach einer Sicherheitsabfrage gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="350">3.3. Kleinunternehmerregelung anwenden</h3>
<div class="paragraph">
<p>Wenn Sie Kleinunternehmer sind und erreichen wollen, dass auf Rechnungen keine Steuersätze angewendet werden, genügt das Setzen eines Häkchens in den Standorteinstellungen. Für eine korrekte Funktionsweise des Systems müssen Sie jedoch trotzdem Umsatzsteuersätze speichern. Diese werden allerdings nicht angewendet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kleinunternehmereinstellung nur sichtbar bei Deutschland als Systemland</div>
<div class="paragraph">
<p>Die Einstellung Kleinunternehmer ist nur sichtbar, wenn für Ihr System Deutschland als Systemland gespeichert wurde. Es handelt sich hierbei um eine Einstellung auf die Sie keinen Zugriff haben und die anhand Ihrer Informationen beim Bestellen eines plentymarkets Systems gewählt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kleinunternehmerregelung anwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Kleinunternehmer (nur für Deutschland)</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kleinunternehmerhinweis auf Rechnungen ausgeben</div>
<div class="paragraph">
<p>Als Kleinunternehmer müssen Sie den Grund für die fehlenden Umsatzsteuerangaben auf der Rechnung ausgeben. Tragen Sie also einen Hinweis in der Rechnungsvorlage ein. Die oben beschriebene Einstellung sorgt nicht dafür, dass auf der Rechnung automatisch ein Hinweis ausgegeben wird, der Sie als Kleinunternehmer ausweist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">3.4. Rechnungsstellung bei innergemeinschaftlichen EU-Lieferungen einstellen</h3>
<div class="paragraph">
<p>Für Lieferungen innerhalb der Europäischen Union können Sie wählen, ob Kunden mit einer Umsatzsteuer-ID eine Netto-Rechnung oder eine Brutto-Rechnung erhalten. In vielen Fällen haben hierbei die Daten des Lieferempfängers Vorrang. Damit eine Netto-Rechnung ausgestellt wird, muss die Lieferadresse in einem anderen EU-Mitgliedsland liegen als dem Land des Versenders. Bei Lieferungen innerhalb eines EU-Mitgliedslandes wird unabhängig von der gewählten Einstellung immer Umsatzsteuer berechnet. Um das zu verhindern muss der Lieferung eine Gelangensbestätigung beigelegt werden und dies im Auftrag bei der Lieferanschrift gewählt werden. Bei Privatkäufen wird ebenfalls immer eine Rechnung mit Umsatzsteuer ausgestellt, es sei denn Sie nutzen die Kleinunternehmereinstellung.</p>
</div>
<div class="paragraph instruction">
<p>Brutto- oder Nettorechnung für innergemeinschaftliche Lieferungen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie einen Standort unter <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie für <strong>Umsatzsteuer-ID</strong> eine Option aus dem Dropdownmenü. Beachten Sie die Erläuterungen in <a href="#tabelle-innergemeinschaftliche-Rechnungen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-innergemeinschaftliche-Rechnungen" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Rechnungseinstellung für innergemeinschaftliche EU-Lieferungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzsteuer-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gilt nur für Lieferungen innerhalb der EU.<br>
Für Standorte außerhalb der EU hat die Einstellung keine Auswirkung.<br>
<br>
<strong>Brutto-Rechnung</strong> = Alle Rechnungen für innergemeinschaftliche Lieferungen werden brutto ausgestellt.<br>
<strong>Netto-Rechnung</strong> = Rechnungen bei Kunden, die eine Umsatzsteuer-ID haben, werden netto, d.h. ohne Umsatzsteuer, ausgestellt.<br>
Liegt die Lieferadresse dieses Kunden im selben Land wie der Standort, wird für den Auftrag trotzdem Umsatzsteuer berechnet. Per Gesetz ist es jedoch zulässig, bei Kunden mit gültiger Umsatzsteuer-ID im europäischen Ausland auch bei einer deutschen Lieferadresse den Auftrag netto auszuführen, wenn dem Auftrag eine <a href="/omni-channel/online-shop/mandanten-einrichten/dokumente/gelangensbestaetigung"><strong>Gelangensbestätigung</strong></a> beigelegt wird. Daher gibt es in der Lieferanschrift im Auftrag und in den Kundendaten die Einstellung <strong>Gelangensbestätigung</strong>. Das Aktivieren im Auftrag bewirkt, dass die Gelangensbestätigung einmalig für diesen Auftrag angewendet wird. Das Aktivieren in den Kundendaten bewirkt, dass die Gelangensbestätigung immer bei dieser Lieferadresse des Kunden angewendet wird. Wird die Option <strong>Gelangensbestätigung</strong> aktiviert (Häkchen gesetzt), werden Lieferungen ins EU-Ausland mit deutscher Lieferanschrift wie eine EU-Auslandssendung behandelt. Ob die Rechnung brutto oder netto ausgestellt wird, ist dann von den Einstellungen <strong>Umsatzsteuer-ID</strong> und <strong>Ausfuhrlieferung</strong> in diesem Menü abhängig. Ist die Option <strong>Gelangensbestätigung</strong> nicht aktiviert, werden diese Aufträge brutto berechnet.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="450">3.4.1. Beispiele für Einstellungsauswirkung</h4>
<div class="paragraph">
<p>Im folgenden werden 6 mögliche Kombinationen und die Auswirkungen beschrieben.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender, der Lieferempfänger und der Rechnungsempfänger im gleichen EU-Land sind?</p>
</div>
<div class="paragraph">
<p>In diesem Fall wird die Rechnung trotz der Einstellung Nettorechnung immer brutto ausgestellt.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender und der Lieferempfänger im gleichen EU-Land sind, aber der Rechnungsempfänger in einem anderen EU-Land ist?</p>
</div>
<div class="paragraph">
<p>In diesem Fall wird die Rechnung trotz der Einstellung Nettorechnung brutto ausgestellt. Jedoch ist, wenn der Rechnungsempfänger eine Ust.-Id.-Nr. hat, eine Nettorechnung zulässig. Damit die Rechnung tatsächlich netto ausgestellt wird, muss aber zusätzlich in den Lieferadressdaten des Auftrags die Gelangensbestätigung aktiviert sein. Wenn die Gelangensbestätigung nicht aktiviert ist, wird eine Brutto-Rechnung ausgestellt. Die Gelangensbestätigung muss in jedem Auftrag individuell aktiviert werden.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender und der Rechnungsempfänger im gleichen EU-Land sind, aber der Lieferempfänger in einem anderen EU-Land ist?</p>
</div>
<div class="paragraph">
<p>Wenn der Empfänger der Lieferung eine Ust.-Id.-Nr. hat, wird die Rechnung netto ausgestellt. Der inländische Rechnungsempfänger spielt in diesem Fall keine Rolle.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender in einem EU-Land ist, aber der Lieferempfänger und der Rechnungsempfänger in einem anderen EU-Land sind?</p>
</div>
<div class="paragraph">
<p>Sobald einer von beiden, Liefer- oder Rechnungsempfänger, eine Ust.-Id.-Nr. hat, wird die Rechnung netto ausgestellt. Wenn keiner von beiden eine Ust.-Id.-Nr. hat, wird die Rechnung brutto ausgestellt.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender in einem EU-Land, aber der Lieferempfänger in einem anderen EU-Land und der Rechnungsempfänger außerhalb der EU ist?</p>
</div>
<div class="paragraph">
<p>Sobald einer von beiden, Liefer- oder Rechnungsempfänger, eine Ust.-Id.-Nr. hat, wird die Rechnung netto ausgestellt. Wenn keiner von beiden eine Ust.-Id.-Nr. hat, wird die Rechnung brutto ausgestellt.</p>
</div>
<div class="paragraph subhead">
<p>Wie wirkt sich die Einstellung Nettorechnung aus, wenn der Versender in einem EU-Land, aber der Rechnungsempfänger in einem anderen EU-Land und der Lieferempfänger außerhalb der EU ist?</p>
</div>
<div class="paragraph">
<p>In diesem Fall handelt es sich um eine Ausfuhrlieferung und die Einstellung für Ausfuhrlieferung wird angewendet. Welche Einstellungsoptionen Sie für Ausfuhrlieferungen haben, wird im nächsten Abschnitt beschrieben.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">3.5. Rechnungsstellung bei Ausfuhrlieferung einstellen</h3>
<div class="paragraph">
<p>Sie können für jeden Standort festlegen, ob für Ausfuhrlieferungen eine Netto-Rechnung oder eine Brutto-Rechnung ausgestellt wird. Grundlage für eine Ausfuhrlieferung ist die Annahme, dass Sie Ihr Geschäft in der EU betreiben. Die gewählte Einstellung greift, wenn die Lieferung in ein Land erfolgt, das nicht zur Europäischen Union gehört. Netto-Rechnung bedeutet, dass Kunden eine Rechnung ohne Umsatzsteuer erhalten.</p>
</div>
<div class="paragraph instruction">
<p>Brutto- oder Nettorechnung für Ausfuhrlieferung einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>. Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie für <strong>Ausfuhrlieferung</strong> eine Option aus dem Dropdownmenü. Beachten Sie die Erläuterungen in <a href="#tabelle-Rechnung-bei-Ausfuhr">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-Rechnung-bei-Ausfuhr" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Rechnungseinstellungen für Ausfuhrlieferung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausfuhrlieferung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto-Rechnung</strong> = Rechnungen für Ausfuhrlieferungen werden ohne Umsatzsteuer ausgestellt.<br>
Diese Einstellung wird jedoch ignoriert, wenn für das Ausfuhr-Lieferland Steuersätze eingetragen sind. In diesem Fall wird die Rechnung trotzdem brutto.
<strong>Brutto-Rechnung</strong> = Die Umsatzsteuer wird auf Rechnungen für Ausfuhrlieferungen ausgewiesen.<br>
Welcher Steuersatz angewendet wird, hängt davon ab, ob für das Ausfuhr-Lieferland ein Umsatzsteuersatz eingestellt wurde oder nicht. Wenn für das Ausfuhr-Lieferland Steursätze eingestellt sind, werden diese verwendet. Wenn für das Ausfuhr-Lieferland kein Steuersatz eingestellt ist, wird der Steuersatz das Standortlandes angewendet.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="550">3.6. Umsatzsteuersätze einrichten</h3>
<div class="paragraph">
<p>In plentymarkets ist die Unterscheidung zwischen Standorten und Lieferländern, in denen Sie steuerpflichtig sind, wichtig. Ein Standort ist sozusagen ein Firmensitz. Standardmäßig sind in plentymarkets 2 Standorte vorangelegt. Diese Standorte sind Deutschland und United Kingdom. Sie benötigen mindestens einen Standort und weitere Standorte, wenn Sie in weiteren Ländern Niederlassungen haben. Für die beiden vorangelegten Standorte ist bereits je eine Beispielkonfiguration mit Steuersätzen eingerichtet. Verwenden Sie diese Konfigurationen jedoch nicht für den Produktivbetrieb Ihres Systems. Fügen Sie eigene Konfigurationen hinzu und löschen Sie anschließend die vorangelegten. Sie müssen also mindestens eine Konfiguration einrichten. Sie können mit dieser Konfiguration in verschiedene Länder versenden. Sobald Sie die Lieferschwelle für ein Land überschreiten, müssen Sie eine weitere Konfiguration hinzufügen, damit die Steuerabgaben korrekt berechnet werden. Standorte fügen Sie für Firmensitze hinzu und das Land des Standortes mit Steuerkonfiguration für korrekte Abrechnungen. Erst wenn Sie in weiteren Ländern steuerpflichtig werden, weil Sie die Lieferschwelle überschreiten, fügen Sie einem Standort weitere Länder mit Steuerkonfiguration hinzu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Informationen des Bundesamts für Steuern</div>
<div class="paragraph">
<p>Steuerliche Informationen zu den europäischen Lieferländern sowie USA und Japan finden Sie zum Beispiel auf der Website des <a href="http://www.bzst.de/DE/Steuern_International/Vorsteuerverguetung/02_Unternehmer_Ausland_EU/FAQ/FAQ_node.html"><strong>Bundeszentralamts für Steuern</strong></a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="bild-vorangelegte-Standorte-bearbeiten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/vorangelegteStandorteUndSteuersaetze.png" alt="vorangelegteStandorteUndSteuersaetze">
</div>
<div class="title">Bild 2. Vorangelegte Umsatzsteuersätze und Standorte</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorangelegte Steuerkonfiguration und Standorte ersetzen</div>
<div class="paragraph">
<p>Die in <a href="#bild-vorangelegte-Standorte-bearbeiten">Bild 2</a> gezeigte Steuerkonfiguration ist vorangelegt, enthält jedoch eine Phantasieumsatzsteuer-ID, weshalb Sie zwingend eine eigene Konfiguration anlegen müssen und anschließend die vorangelegte löschen können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Umsatzsteuersätze einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie einen Standort unter <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Umsatzsteuersätze</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue Konfiguration</strong>.</p>
</li>
<li>
<p>Wählen Sie ein <strong>Land</strong>.</p>
</li>
<li>
<p>Tragen Sie den höchsten Steuersatz in <strong>Steuersatz A</strong> ein.
→ Weitere Steuersätze absteigend eintragen</p>
</li>
<li>
<p>Tragen Sie Ihre Umsatzsteuer-ID ein.</p>
</li>
<li>
<p>Wählen Sie ein Datum, ab dem dieser Steuersatz gelten soll.</p>
</li>
<li>
<p>Beachten Sie die Erläuterungen zu den Einstellungen in <a href="#tabelle-Steuerkonfiguration-vornehmen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.
→ Die neue Konfiguration wird geöffnet und die Einstellung für Differenzbesteuerung wird zusätzlich angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-Steuerkonfiguration-vornehmen" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Einstellungen einer Steuerkonfiguration vornehmen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land wählen, in dem Sie steuerpflichtig sind<br>
<strong><em>Wichtig</em></strong>: Nachträglich kann das Land nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Steuersatz A in %</strong><br>
<strong>Steuersatz B in %</strong><br>
<strong>Steuersatz C in %</strong><br>
<strong>Steuersatz D in %</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Steuersätze eintragen, beginnend mit dem höchsten und dann absteigend.<br>
<strong><em>Wichtig</em></strong>: Nachträglich können einer Konfiguration keine Steuersätze hinzugefügt oder bestehende geändert werden. Die Namen sind nur für die Buchhaltungssoftware Xero relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gültig ab</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum im Kalender wählen, ab dem die Steuersätze gelten sollen.<br>
<strong><em>Wichtig</em></strong>: Bei manueller Eingabe das Jahr vierstellig eintragen, da eine zweistellige Eingabe, z.B. 14 statt 2014, zu Fehlern führt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ungültig ab</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum im Kalender wählen, ab dem die Steuersätze nicht länger gelten sollen.<br>
Stellen Sie ein Datum ein, wenn Sie z.B. nicht länger steuerpflichtig in einem Lieferland sind, weil Sie die Lieferschwelle länger nicht überschritten haben oder weil Sie nicht länger in das Land liefern.<br>
<strong><em>Wichtig</em></strong>: Bei manueller Eingabe das Jahr vierstellig eintragen, da eine zweistellige Eingabe, z.B. 14 statt 2014, zu Fehlern führt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur für digitale Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren durch Häkchen setzen, wenn die Steuerkonfiguration nur für digitale Artikel gelten soll. Beachten Sie das Kapitel Umsatzsteuer für digitale Artikel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Differenzbesteuerung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angeben, welcher Steuersatz für differenzbesteuerte Artikelpositionen in Rechnungen benutzt werden soll. Wenn kein Steuersatz ausgewählt ist, können differenzbesteuerte Artikelpositionen in Rechnungen nicht angezeigt werden (= Grundeinstellung).<br>
Die Einstellung wird erst nach dem Speichern einer Konfiguration sichtbar.<br>
<strong><em>Wichtig</em></strong>: Bei der Einstellung Differenzbesteuerung handelt es sich um eine ältere Sonderimplementierung, bei der der Steuersatz für den gesamten Betrag der differenzbesteuerten Artikelpositionen verwendet wird und nicht nur für die Differenz zwischen Verkaufs- und Einkaufspreis.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">3.7. Umsatzsteuer für digitale Artikel</h3>
<div class="paragraph">
<p>Für digitale Artikel muss der Steuersatz des Käufers angewendet werden. Diese Steuersätze werden aufgrund einer EU-Verordnung seit 1.1.2015 benötigt. Wenn für ein Lieferland bereits ein Steuersatz vorhanden ist, z.B. weil die Lieferschwelle überschritten wurde, braucht kein weiterer Steuersatz nur für digitale Artikel angelegt werden. Der vorhandene Steuersatz wird verwendet. Sind für ein oder mehrere Lieferländer keine Steuersätze eingerichtet, richten Sie Ihre Buchhaltung dafür in plentymarkets wie im Folgenden beschrieben ein.<br>
Die EU-Verordnung betrifft B2C-Umsätze. B2B-Umsätze ohne Umsatzsteuer werden davon nicht berührt.</p>
</div>
<div class="paragraph instruction">
<p>Digitale Artikel steuerlich auszeichnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Umsatzsteuersätze</strong>.</p>
</li>
<li>
<p>Legen Sie eine Steuerkonfiguration für jedes Lieferland an, in dem Sie digitale Artikel verkaufen.</p>
</li>
<li>
<p>Aktivieren Sie in der Steuerkonfiguration die Einstellung <strong>Nur für digitale Artikel</strong>.</p>
</li>
<li>
<p>Legen Sie ein <a href="/artikel/artikel-verwalten#500">Merkmal</a> für digitale Artikel an, z.B. mit dem Namen <strong>Digital</strong>. Das Merkmal darf kein Bestellmerkmal sein.</p>
</li>
<li>
<p>Stellen Sie das Merkmal im Menü <strong>System » Artikel » Einstellungen</strong> bei der Option <strong>Artikelmerkmal zur Erkennung von digitalen Produkten</strong> ein.</p>
</li>
<li>
<p>Hinterlegen Sie das Merkmal bei jedem Artikel, der als digitales Medium verkauft wird, im Tab <a href="/artikel/artikel-verwalten#500">Merkmale</a>.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="650">4. Buchungsschlüssel, Erlös- und Debitorenkonten einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Buchungsschlüssel sind einzig für den DATEV-Export relevant. Wenn Sie nicht mit DATEV arbeiten, können Sie das Menü für Buchungsschlüssel ignorieren. Erlöskonten richten Sie ein, um Ihre Umsatzerlöse zu verbuchen. Debitorenkonten richten Sie ein, um Ihre Forderungen zu verwalten.</p>
</div>
<div class="sect2">
<h3 id="700">4.1. Buchungsschlüssel einrichten</h3>
<div class="paragraph">
<p>Die Buchungsschlüssel sind für den DATEV-Export relevant. Wenn Sie nicht mit DATEV arbeiten, überspringen Sie dieses Kapitel. Buchungsschlüssel heißen bei DATEV Steuerschlüssel und dienen der korrekten Übertragung von Buchungsdaten. DATEV hat einige Standardsteuerschlüssel. Der Standardsteuerschlüssel für 19 % Umsatzsteuer gemäß Standardkontenrahmen 03 und Standardkontenrahmen 04 ist 3. Die für Sie gültigen Steuerschlüssel entnehmen Sie bitte Ihrem Kontenplan. plentymarkets ermittelt automatisch, ob es sich um eine Soll- (S) oder eine Haben-Buchung (H) handelt. Diese Information wird dann im Export in einer eigenen Spalte ausgegeben.</p>
</div>
<div class="paragraph instruction">
<p>Buchungsschlüssel einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Konten</strong>.<br>
→ Das Tab <strong>Buchungsschlüssel</strong> wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie pro Steuersatz einen Buchungsschlüssel ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="750">4.2. Debitorenkonten einrichten</h3>
<div class="paragraph">
<p>Debitorenkonten richten Sie z.B. für Ihre Forderungen ein. In plentymarkets können Sie wählen anhand welches Kriteriums Forderungen Debitorenkonten zugeordnet werden. Sie können z.B. die Nachnamen der Debitoren oder das Lieferland zur Zuordnung nutzen. Legen Sie also zuerst das Kriterium fest und tragen Sie dann die Konten ein.</p>
</div>
<div class="paragraph instruction">
<p>Debitorenkonten einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Konten</strong>.<br>
→ Das Tab <strong>Buchungsschlüssel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Debitorenkonten</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-Debitorenkonten-einrichten">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-Debitorenkonten-einrichten" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Debitorenkonten einrichten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Debitorkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Standard-Debitorkonto eintragen, das verwendet wird, wenn kein anderes Debitorkonto zutrifft oder eingerichtet wurde.<br>
<em><strong>Wichtig:</strong></em> Wenn im Kundendatensatz eines Kunden ein Debitorkonto gespeichert wurde, wird immer dieses exportiert.<br>
Das Debitorkonto wird in den Kundendaten hinterlegt, sobald es das erste Mal ermittelt wird. Dazu muss mindestens ein Umsatzexport ausgeführt werden, der die Debitorenkonten ausgibt, z.B. ein DATEV- oder Collmex-Export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichere Debitorkonto am Kundenstammdatensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, damit im Kundendatensatz ein Debitorkonto gespeichert wird, wenn dort noch kein Debitorkonto gespeichert ist. Das Debitorkonto wird nach der eingestellten Option für <strong>Automatische Vergabe von Debitorkonten</strong> vergeben.<br>
Wenn zu dem gewählten Verfahren kein Debitorkonto hinterlegt ist, wird das Standard-Debitorkonto verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Vergabe von Debitorkonten nach</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Kriterium aus der Dropdown-Liste wählen, nach dem die Debitorkonten vergeben werden sollen.<br>
Je nach gewähltem Kriterium müssen später die tatsächlichen Konten eingetragen werden.<br>
<strong>Anfangsbuchstabe</strong> = Debitorkonto wird anhand der Anfangsbuchstaben von Kundendaten zugeordnet. Welche Kundendaten und in welcher Reihenfolge berücksichtigt werden, bestimmen Sie durch die 2. Dropdown-Liste.<br>
Die Reihenfolge <strong>Firma, Nachname, Vorname</strong> sorgt dafür, dass zuerst der Firmenname berücksichtigt wird. Wenn kein Firmenname eingetragen wurde, wird der Nachname berücksichtigt usw.<br>
<strong>Zahlungsart</strong> = Debitorkonto wird anhand der Zahlungsart eines Auftrages zugeordnet.<br>
<strong>Lieferland</strong> = Debitorkonto wird anhand des Lieferlandes eines Auftrages zugeordnet.<br>
<strong>Lieferland, für Inland jedoch Zahlungsart</strong> = Debitorkonto wird anhand des Lieferlandes eines Auftrages zugeordnet und wenn das Lieferland des Auftrages dem Land der Steuerkonfiguration entspricht, dann wird die Zahlungsart als weiteres Kriterium berücksichtigt.<br>
<strong><em>Hinweis:</em></strong> Stimmen Sie die Wahl des Verfahrens mit Ihrer Finanzbuchhaltung bzw. Ihrem Steuerbüro ab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anfangsbuchstaben (A - Z bzw. 0 - 9 Debitorkonto)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorkonten eintragen, die in Abhängigkeit des <strong>Anfangsbuchstabens</strong> verwendet werden sollen. Tragen Sie nur Debitorenkonten ein, wenn Sie die Debitorenkonten nach Anfangsbuchstaben vergeben lassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorkonten für die in Ihrem System eingerichteten Lieferländer hinterlegen. Tragen Sie nur Debitorenkonten ein, wenn Sie die Debitorenkonten nach Lieferländern vergeben lassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorkonten für die in Ihrem System eingerichteten Zahlungsarten hinterlegen. Tragen Sie nur Debitorenkonten ein, wenn Sie die Debitorenkonten nach Zahlungsarten vergeben lassen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">4.3. Erlöskonten einrichten</h3>
<div class="paragraph">
<p>Richten Sie Erlöskonten ein, um Ihre Umsatzerlöse Konten zuzuordnen. Sie haben die Möglichkeit für steuerpflichtige Erlöse pro Steuersatz ein Erlöskonto anzugeben sowie für umsatzsteuerfreie Erlöse.</p>
</div>
<div class="paragraph instruction">
<p>Erlöskonten für steuerpflichtige Erlöse einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Konten</strong>.<br>
→ Das Tab <strong>Buchungsschlüssel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Erlöskonten</strong>.</p>
</li>
<li>
<p>Tragen Sie pro Steuersatz, den Sie nutzen, ein Konto ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Erlöskonten für umsatzsteuerfreie Erlöse einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Konten</strong>.<br>
→ Das Tab <strong>Buchungsschlüssel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Umsatzsteuerfreie Erlöse</strong>.</p>
</li>
<li>
<p>Tragen Sie bei <strong>Erlöse aus EU</strong> ein Konto für Erlöse aus umsatzsteuerfreien innergemeinschaftlichen Verkäufen ein.</p>
</li>
<li>
<p>Tragen Sie bei <strong>Erlöse bei Ausfuhr</strong> ein Konto für Erlöse aus umsatzsteuerfreien Ausfuhrlieferungen ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="910">4.4. Buchungskonten für Kassenvorfälle speichern (ab plentymarkets App Version 1.7.3)</h3>
<div class="paragraph">
<p>Aufträge, die über plentymarkets POS generiert werden, werden den in plentymarkets gespeicherten Erlöskonten zugewiesen. Da Einlagen, Entnahmen und Differenzen aus Kassenstürzen keine Aufträge sind, können Sie für diese Kassenvorfälle eigene Buchungskonten speichern. Wie Sie Buchungskonten für Kassenvorfälle speichern, erfahren Sie auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/buchhaltung#940">POS einrichten</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="850">5. Einstellungen auf andere Standorte übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Funktion <strong>Einstellungen übertragen</strong> kopieren Sie Einstellungen des aktuellen Standortes auf einen oder mehrere andere Standorte. Dabei können Sie die Einstellungen entsprechend der Tabs der Buchhaltung einzeln oder zusammen übertragen.</p>
</div>
<div class="paragraph">
<p>Folgende Einstellungen sind übertragbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Grundeinstellungen</strong></p>
</li>
<li>
<p><strong>Umsatzsteuersätze</strong></p>
</li>
<li>
<p><strong>Konten</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gehen Sie wie folgt vor, um Einstellungen auf einen oder mehrere Standorte zu übertragen:</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen auf einen oder mehrere Standorte übertragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Einstellungen auf anderen Standort übertragen</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen unter <strong>Standort</strong> bei einem oder mehreren Standorten, auf die Sie die Einstellungen übertragen möchten.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei den <strong>Optionen</strong>, die Sie übertragen möchten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Übertragen</strong>.<br>
→ Die Einstellungen werden auf die Standorte übertragen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">6. Buchhaltungsdaten exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet die Möglichkeit Buchhaltungsdaten zu exportieren und so an ein Buchhaltungsprogramm zu übergeben. Beim Export werden Debitorenkonten, Erlöskonten und Buchungsschlüssel vergeben, wenn Sie wie oben beschrieben die Einstellungen vorgenommen haben.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Daten » Daten-Export</strong> wählen Sie das Datenformat und nehmen den <a href="/basics/datenaustausch/daten-exportieren#10">Datenexport</a> vor.</p>
</div>
</div>
</div>
</main>