<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_wichtige_vorbedingungen_beachten"><span>1.</span><span> Wichtige Vorbedingungen beachten</span></a></li>
<li><a href="#_grundeinstellungen_konfigurieren"><span>2.</span><span> Grundeinstellungen konfigurieren</span></a></li>
<li><a href="#_lager_optionen"><span>3.</span><span> Lager-Optionen</span></a>
<ul class="sectlevel2">
<li><a href="#_lager_im_verhältnis_zu_aufträgen_und_artikeln"><span>3.1.</span><span> Lager im Verhältnis zu Aufträgen und Artikeln</span></a></li>
<li><a href="#_auftrags_bzw_artikelbezogene_grundeinstellungen_für_lager_vornehmen"><span>3.2.</span><span> Auftrags- bzw- artikelbezogene Grundeinstellungen für Lager vornehmen</span></a></li>
<li><a href="#_tipps_zur_konfiguration"><span>3.3.</span><span> Tipps zur Konfiguration</span></a>
<ul class="sectlevel3">
<li><a href="#_variante_1_ein_lager_logistiker"><span>3.3.1.</span><span> Variante 1 - ein Lager/Logistiker</span></a></li>
<li><a href="#_variante_2_mehrere_lager_logistiker"><span>3.3.2.</span><span> Variante 2 - mehrere Lager/Logistiker</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Grundeinstellungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>System » Aufträge » Einstellungen</strong> wählen Sie die Einstellungen, die für Aufträge automatisch eingestellt werden bzw. bei bestimmten Zuständen (Status) oder Bedingungen gelten sollen. Zum Beispiel wählen Sie Standard-Einstellungen für die Auftragsherkunft und den Status von Aufträgen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_wichtige_vorbedingungen_beachten">1. Wichtige Vorbedingungen beachten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei neuen Systemen sind Standard-Werte eingestellt, z.B. für Retouren der Status 9 und für Gutschriften der Status 11. Diese Einstellungen sind änderbar. Wählen Sie dazu einen anderen Status. Alternativ legen Sie im Menü <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten">System » Aufträge » Auftragsstatus</a></strong> einen neuen Status an. Ein dort angelegter Status wird hier im Menü <strong>Grundeinstellungen</strong> angezeigt und ist auch als Standard-Status einstellbar.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Grundeinstellungen speichern</div>
<div class="paragraph">
<p>Die Grundeinstellungen des Menüs <strong>System » Aufträge » Einstellungen</strong> müssen bei Inbetriebnahme des Systems gespeichert werden, damit die Einstellungen wirksam sind. Speichern Sie daher die Einstellungen auch, wenn Sie keine Änderungen vorgenommen haben, d.h. die Standardkonfiguration verwenden möchten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Wichtig: Benutzer-Login</div>
<div class="paragraph">
<p>Wenn Sie in diesem Menü Änderungen vornehmen, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündigen Sie Änderungen daher ggf. weiteren Benutzern an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_grundeinstellungen_konfigurieren">2. Grundeinstellungen konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die Grundeinstellungen zu konfigurieren.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Herkunft, die bei Aufträgen automatisch voreingestellt werden soll, einen Anbieter bzw. Marktplatz oder die Einstellung <strong>Webshop</strong> wählen. <strong>Manuelle Eingabe</strong> wählen, wenn keine Voreinstellung gewünscht ist, d.h. die Auftragsherkunft individuell hinterlegt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#retoure"><strong>Retouren</strong></a> automatisch eingestellt sein soll. Der Status kann beim Anlegen der Retoure angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Gutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#gutschrift"><strong>Gutschriften</strong></a> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Reparatur</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei Reparatur-Aufträgen automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Sammelauftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <a href="/auftragsabwicklung/auftraege/sammelauftraege"><strong>Sammelaufträgen</strong></a> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Sammelgutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei Sammelgutschriften automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Rückbuchung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei Rückbuchungen automatisch eingestellt sein soll.<br>
<em><strong>Beispiel</strong></em>: benutzerdefinierter Status <strong>6.4 Warenausgang storniert</strong>.<br>
Wenn kein besonderer Status benötigt wird, <strong>Letzter Status</strong> wählen. Dann wird der vor dem Warenausgang durchlaufene Status wieder eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status stornierter Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Statusbereich für stornierte Aufträge wählen.<br>
<em><strong>Hintergrund</strong></em>: Sobald ein Auftrag in diesem Statusbereich ankommt, werden alle Bestandsreservierungen der darin enthaltenen Artikel aufgehoben. Das heißt, der Warenbestand steht wieder für Bestellungen zur Verfügung. Status können von dieser Automatik ausgenommen werden, wenn dies nötig ist bzw. wenn Artikel mit dem Status nicht rückgebucht werden sollen.<br>
<em><strong>Wichtig</strong></em>: Den Statusbereich aufsteigend hinterlegen, z.B. 8.0 bis 8.5.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status Auftragsreservierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sobald ein Auftrag in dem hier gewählten Status ankommt, wird automatisch für die im Auftrag enthaltenen Artikel Bestand reserviert. Die Einstellung ist bis einschließlich Status 6.9 möglich. Zusätzlich ist wählbar, ob die Einstellung für alle Aufträge oder nur für bezahlte Aufträge gelten soll. Wenn z.B. für nicht bezahlte Aufträge kein Bestand reserviert werden soll, die Option <strong>Nur bezahlte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten in Gewährleistung übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>JA</strong> = Die Versandkosten werden dem Käufer rückwirkend erstattet.<br>
<strong>NEIN</strong> = Der Kunde muss die Versandkosten auch im Falle einer Gewährleistung selbst tragen. Die Versandkosten werden nicht erstattet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In Auftrag/Auftragsübersicht anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob im Auftrag bzw. in der Auftragsübersicht die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpreis-Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Preise der Artikelliste im Auftrag <strong>Brutto</strong> oder <strong>Netto</strong> dargestellt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zuordnung des Lagers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Lagerzuordnung wählen.<br>
<strong>a) pro Auftrag kann ein Lager zugeordnet werden</strong> = Wählen, wenn nur mit einem Lager bzw. Logistiker gearbeitet wird.<br>
<strong>b) pro Artikelposition kann ein Lager zugeordnet werden</strong> = Wählen, wenn mit mehreren Lagern bzw. Logistikern gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Lagerauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kriterien wählen, nach denen das Lager gewählt wird.<br>
<strong>a) in Abhängigkeit des Lieferlandes</strong> = Das Lager für das <strong>Lieferland</strong> ist im Menü <strong>System » Aufträge » Versand » Optionen » Tab: Lieferländer</strong> hinterlegt.<br>
<em><strong>Tipp</strong></em>: Bei Wahl dieser Option die Lagerzuordnung zu den Lieferländern prüfen.<br>
<strong>b) in Abhängigkeit des Hauptlagers des Artikels</strong> = Es wird das Lager bestimmt, das beim jeweiligen Artikel als Hauptlager hinterlegt ist.<br>
<em><strong>Wichtig</strong></em>: Wenn für einen Artikel kein Hauptlager hinterlegt wurde, wird das Lager anhand des Lieferlandes gewählt.<br>
<strong>c) in Abhängigkeit des Warenbestandes</strong> = Der Auftrag wird dem Lager mit dem höchsten Warenbestand der Artikelposition zugeordnet.<br>
<strong>d) in Abhängigkeit des Warenbestandes und der Lagerpriorität</strong> = Der Auftrag wird einem Lager nach folgenden Kriterien zugeordnet. Dabei wird nach folgender Reihenfolge geprüft:<br>
1) Es muss ausreichend Warenbestand vorhanden sein.<br>
2) Nach der <strong>Priorität</strong> des Lagers (Option in den Lagereinstellungen).<br>
Bei ausreichendem bzw. gleichem Warenbestand in allen Lagern wird das Lager nach Priorität gewählt. Es kommt bei Kriterium 1 nicht auf die Menge an, sondern nur darauf, dass genügend Bestand vorhanden ist. Das heißt, dass kein Lager aufgrund der Menge bevorzugt wird, sondern dann mit Kriterium 2 anhand der Priorität. Umgekehrt ist mangelnder Bestand ein Ausschlusskriterium.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahlung auf Produktionsware</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Höhe einer Anzahlung (in Prozent) oder <strong>keine Anzahlung anbieten</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel auf 4 statt 5, wenn Warenbestand fehlt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option auf <strong>Ja</strong> setzen, wenn ein Auftrag erst für den Versand freigegeben werden soll, wenn genügend Ware auf Lager ist. Sobald genügend Ware eingebucht wurde, wird der <a href="/auftragsabwicklung/auftraege/auftraege-verwalten"><strong>Auftragsstatus</strong></a> von <strong>4</strong> auf <strong>5</strong> geändert.<br>
<strong>Status 4</strong> = In Versandvorbereitung<br>
<strong>Status 5</strong> = Freigabe Versand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betroffener Statusbereich im Status 4.x</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Statusbereich eingrenzen, wenn eigene Statusvarianten im Bereich von Status 4 angelegt wurden.<br>
Standardeinstellung: von <strong>[4] In Versandvorbereitung</strong> bis <strong>[4] In Versandvorbereitung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zusätzlich ist Status 3.2 betroffen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status 3.2</strong> bezeichnet das Warten auf Ware bei Teilzahlungen. Wenn eine Teilzahlung erfolgt, wechselt der Auftrag automatisch statt in Status 4 in diesen Status. Ist Ware vorhanden, wechselt der Auftrag in Status 3.3.<br>
<strong>Status 3.2</strong> = In Warteposition</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Erläuterung der Optionen im Menü <strong>Grundeinstellungen</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Auftragsbearbeitung durch variable Benutzer</div>
<div class="paragraph">
<p>Damit variable Benutzer Aufträge öffnen können, müssen hier Standard-Status für <strong>Retouren</strong> und <strong>Gutschriften</strong> gespeichert sein. In der Grundeinstellung ist kein Status voreingestellt.<br>
Variable Benutzer müssen außerdem in ihrem Benutzerprofil unter <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#90"><strong>Berechtigung » Tab: Menü » Bereich: Aufträge</strong></a> zur Bearbeitung von Aufträgen berechtigt werden.</p>
</div>
<div class="paragraph">
<p><strong>Berechtigung der Standardstatus für variable Benutzer</strong></p>
</div>
<div class="paragraph">
<p>Damit variable Benutzer Aufträge der Typen <strong>Retoure</strong>, <strong>Gewährleistung</strong> und <strong>Reparatur</strong> anlegen können, müssen sie für die im Menü <strong>System » Aufträge » Einstellungen</strong> hinterlegten Standard-Status dieser drei Auftragstypen berechtigt sein. Die Berechtigung erfolgt im Benutzerprofil des variablen Benutzers unter <strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#100">Berechtigung » Tab: Sichtbarkeiten</a></strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_lager_optionen">3. Lager-Optionen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_lager_im_verhältnis_zu_aufträgen_und_artikeln">3.1. Lager im Verhältnis zu Aufträgen und Artikeln</h3>
<div class="paragraph">
<p>Zur Konfiguration Ihres <strong><a href="/warenwirtschaft/lager-einrichten">Lagers</a></strong> bzw. mehrerer Lager bezüglich der Zuordnung zu Aufträgen oder Artikeln stellt Ihnen dieses Menü einige Grundeinstellungen zur Verfügung. Beachten Sie dazu auch die Zuordnung zwischen Lieferland und Lager sowie die Lagerkonfiguration. Diese Konfiguration erfolgt im Menü <strong><a href="/warenwirtschaft/lager-einrichten">System » Waren » Lager » Einstellungen</a></strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_auftrags_bzw_artikelbezogene_grundeinstellungen_für_lager_vornehmen">3.2. Auftrags- bzw- artikelbezogene Grundeinstellungen für Lager vornehmen</h3>
<div class="paragraph">
<p>Je nach Konfiguration Ihres plentymarkets-Systems ergeben sich vielfältige und vor allem sinnvolle Kombinationsmöglichkeiten, die mögliche Fehlereffekte verhindern. So kann es bei ungünstiger Konfiguration z.B. passieren, dass Sie für einen Artikel ein bestimmtes Lager als Hauptlager eingestellt haben, Sie bei der Bestellung jedoch feststellen, dass im Auftrag ein anderes Lager erscheint. Möglicherweise war die automatische Lagerauswahl in Abhängigkeit des Lieferlandes eingestellt und dort das betreffende, aber nicht gewünschte, Lager hinterlegt. Wenn dann in diesem Lager kein Warenbestand hinterlegt wurde, ist das doppelt unangenehm. Daher sind diese Grundeinstellungen sehr wichtig für eine korrekte Abwicklung Ihrer Aufträge. Beachten Sie daher auch die Querverbindungen zwischen Lagerkonfiguration, Hinterlegung beim Artikel und den Lieferländern sowie die Grundeinstellungen in Tabelle 1.</p>
</div>
</div>
<div class="sect2">
<h3 id="_tipps_zur_konfiguration">3.3. Tipps zur Konfiguration</h3>
<div class="paragraph">
<p>Je nachdem, mit wie vielen Logistikern Sie arbeiten (möchten), bieten sich unterschiedliche Einstellungen an.</p>
</div>
<div class="sect3">
<h4 id="_variante_1_ein_lager_logistiker">3.3.1. Variante 1 - ein Lager/Logistiker</h4>
<div class="paragraph">
<p>Nehmen Sie folgende Einstellungen vor, wenn Sie mit nur einem Lager/Logistiker arbeiten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Zuordnung des Lagers</strong> = a) pro Auftrag kann ein Lager zugeordnet werden</p>
</li>
<li>
<p><strong>Automatische Lagerauswahl</strong> = a) in Abhängigkeit des Lieferlandes</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Dem Logistiker wird der ganze Auftrag übertragen, d.h. auch Artikelpositionen, die woanders gelagert und verwaltet werden.</p>
</div>
</div>
<div class="sect3">
<h4 id="_variante_2_mehrere_lager_logistiker">3.3.2. Variante 2 - mehrere Lager/Logistiker</h4>
<div class="paragraph">
<p>Wenn Sie mit mehreren Lagern oder Logistikern arbeiten, empfehlen wir folgende Einstellungen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Zuordnung des Lagers</strong> = b) pro Artikelposition kann ein Lager zugeordnet werden</p>
</li>
<li>
<p><strong>Automatische Lagerauswahl</strong> = b) die Zuordnung von neuen Aufträgen in Abhängigkeit des Hauptlagers</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei Eingang eines Auftrags mit Artikeln aus zwei oder mehr Lagern wird nur der relevante Teil des Auftrags an den Logistiker gemeldet, nicht der ganze Auftrag. Für diese Einstellung steht Ihnen unser Feature <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten#lieferauftrag">Lieferaufträge</a></strong> zur Verfügung.</p>
</div>
</div>
</div>
</div>
</div>
</main>