<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_einstellung_im_menü"><span>1.</span><span> Einstellung im Menü</span></a></li>
<li><a href="#10"><span>2.</span><span> Verwendungsmöglichkeiten von Gutscheinen</span></a></li>
<li><a href="#15"><span>3.</span><span> Artikel für Gutscheinzahlung vorbereiten</span></a></li>
<li><a href="#20"><span>4.</span><span> Eine Kampagne anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#25"><span>4.1.</span><span> Beispiel für die Berechnung von Aktions- und Verkaufsgutscheinen</span></a></li>
</ul>
</li>
<li><a href="#50"><span>5.</span><span> Kampagnen suchen</span></a></li>
<li><a href="#60"><span>6.</span><span> Gutschein-Codes erzeugen</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>6.1.</span><span> Gutschein-Codes manuell generieren</span></a></li>
<li><a href="#80"><span>6.2.</span><span> Externe oder eigene Gutschein-Codes manuell eintragen</span></a></li>
<li><a href="#90"><span>6.3.</span><span> Gutschein-Codes per Datenaustausch bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#100"><span>7.</span><span> Gutschein-Codes direkt in E-Mails einfügen</span></a></li>
<li><a href="#110"><span>8.</span><span> Gutscheine verkaufen</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>8.1.</span><span> Gutscheinartikel anlegen</span></a></li>
<li><a href="#130"><span>8.2.</span><span> Gutscheinartikel mit Kampagne verknüpfen</span></a></li>
<li><a href="#140"><span>8.3.</span><span> Gutschein-Vorlage konfigurieren</span></a></li>
<li><a href="#150"><span>8.4.</span><span> Gutschein erzeugen</span></a></li>
<li><a href="#160"><span>8.5.</span><span> Gutschein automatisch als PDF-Anhang verschicken</span></a></li>
<li><a href="#170"><span>8.6.</span><span> Gutscheinsumme auf Rechnungen anzeigen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Gutscheine</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Gutscheine</strong> sind ein beliebtes Mittel zur Absatzsteigerung und werden z. B. im Weihnachtsgeschäft von Kunden gern angenommen. plentymarkets verfügt über ein umfangreiches und differenziertes Gutscheinmodul. Es können Kampagnen mit verschiedenen Rabattmöglichkeiten angelegt werden. Ein Gutschein ist ein bestimmter Code (Zeichenkette), der einer Kampagne angehört und entweder einmal oder mehrfach eingelöst werden kann. Die Einlösung erfolgt während des Bestellvorgangs. Dabei wird der entsprechende Rabattwert direkt angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellung_im_menü">1. Einstellung im Menü</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Aufträge » Gutscheine</strong> wählen Sie das <strong>Freitextfeld</strong>, das Sie für <strong>Gutscheinkampagnen</strong> verwenden möchten (Bild 1, roter Pfeil). Nachdem Sie die Einstellung gespeichert haben, wird das Feld <strong>Kampagne ID</strong> im Tab <strong><a href="/artikel/artikel-verwalten#75">Felder</a></strong> der Artikel angezeigt (Bild 2, roter Pfeil).</p>
</div>
<div class="paragraph instruction">
<p>Freitextfeld wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Wählen Sie das gewünschte <strong>Kampagnenfeld</strong> aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.<br>
→ Das Feld <strong>Kampagne ID</strong> wird im Tab <strong><a href="/artikel/artikel-verwalten#75">Felder</a></strong> der Artikel angezeigt.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Einstellungen-Auftraege-Gutscheine-02.png" alt="DE Einstellungen Auftraege Gutscheine 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Feld <strong>Kampagne ID</strong> in der Artikelbearbeitung</em></p>
</div>
<div class="paragraph">
<p>Gutscheine sind ein beliebtes Mittel zur Neukundengewinnung, Kundenbindung und Absatzsteigerung. Sie werden z.B. im Weihnachtsgeschäft von Kunden gern angenommen. plentymarkets verfügt im Menü <strong>Aufträge » Gutscheine</strong> über ein differenziertes Gutscheinmodul. In diesem Menü können Kampagnen mit unterschiedlichen Rabattarten angelegt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Verwendungsmöglichkeiten von Gutscheinen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Gutschein enthält einen Code, der einer Kampagne angehört und entweder nur einmal oder mehrfach eingelöst werden kann. Die Einlösung erfolgt während des Bestellvorgangs. Dabei wird der Rabattwert direkt angezeigt. Gutscheine können als Code in einer E-Mail verschickt werden oder als Artikel angelegt und verkauft werden. Der Käufer erhält den Gutschein dann als PDF-Dokument.</p>
</div>
<div class="paragraph">
<p>Die folgende Übersicht zeigt die Verwendungsmöglichkeiten von Gutscheinen:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Gutschein</th>
<th class="tableblock halign-left valign-top">Verwendung</th>
<th class="tableblock halign-left valign-top">per E-Mail</th>
<th class="tableblock halign-left valign-top">Webshop</th>
<th class="tableblock halign-left valign-top">PDF</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Code</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einlösung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ja</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ja</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>nein</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Gutschein</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verkauf und Einlösung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ja</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ja</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ja</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Voucher</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verkauf</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ja</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>nein</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ja</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Verwendungsmöglichkeiten</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="15">3. Artikel für Gutscheinzahlung vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor Sie mit Gutscheinen arbeiten, überlegen Sie zunächst, welche Artikel aus Ihrem Sortiment per Gutschein bezahlbar sein sollen.</p>
</div>
<div class="paragraph instruction">
<p>Artikel per Gutschein bezahlbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Artikel, der per Gutschein bezahlbar sein soll.</p>
</li>
<li>
<p>Öffnen Sie das Tab <a href="/artikel/artikel-verwalten#40"><strong>Global</strong></a>.</p>
</li>
<li>
<p>Stellen Sie die Option <strong>Gutschein</strong> auf <strong>Möglich</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen. <br>
→ Beim Kauf dieses Artikels kann ein Gutschein eingelöst werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Stellen Sie die Option <strong>Gutschein</strong> auf <strong>Verboten</strong>, wenn der Artikel nicht per Gutschein bezahlbar sein soll. Legt der Kunde einen solchen Artikel in den Warenkorb, wird der Rabattbetrag für diesen Artikel nicht angezogen. Dies ist z.B. bei Sonderangeboten sinnvoll, die nicht weiter rabattiert werden sollen. Soll ein Artikel nur per Gutschein bezahlbar sein, wählen Sie die Einstellung <strong>Nur mit Gutschein kaufbar</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">4. Eine Kampagne anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Da jeder Gutschein einer Kampagne angehört, muss zuerst eine Kampagne angelegt werden. Kampagnen erstellen Sie im Menü <strong>Aufträge » Gutscheine</strong> mit einem Klick auf <strong>Neue Kampagne</strong>. Zuerst konfigurieren Sie die grundlegenden Optionen zu dieser Kampagne im Tab <strong>Einstellungen</strong> und klicken anschließend auf <strong>Speichern</strong>. Die Kampagne wird damit angelegt und <a href="/auftragsabwicklung/auftraege/gutscheine#50"><strong>in der Übersicht angezeigt</strong></a>. Bereits angelegte Kampagnen enthalten zwei weitere Tabs: <a href="/auftragsabwicklung/auftraege/gutscheine#60"><strong>Codes</strong></a> und <a href="/auftragsabwicklung/auftraege/gutscheine#140"><strong>Vorlagen</strong></a>.</p>
</div>
<div class="paragraph instruction">
<p>Eine Kampagne anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue Kampagne</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen. <br>
→ Die neue Kampagne wird angelegt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Einstellungen werden automatisch ein- und ausgeblendet</div>
<div class="paragraph">
<p>Abhängig davon, welchen Gutscheintyp Sie wählen, werden die Einstellungen in diesem Menü automatisch ein- oder ausgeblendet. Für die <a href="/auftragsabwicklung/auftraege/gutscheine#22"><strong>Gutscheintypen Gutschein und Voucher</strong></a> werden unterschiedliche Einstellungen benötigt. Tabelle 2 erläutert alle Einstellungen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Kampagne[#21]</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der <strong>Titel</strong> der Kampagne.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Beschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong>Beschreibung</strong> der Kampagne.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Konzept: Code</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Im oberen Dropdown-Menü die Einstellung für die Codes wählen: <br>
<strong>Ein Code</strong> = Pro Kampagne wird ein Gutschein-Code erzeugt, der mehrmals einlösbar ist. <br>
<strong>Mehrere Codes</strong> = Es werden einzelne Gutschein-Codes erzeugt, die nur einmal einlösbar sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Konzept: Einlösungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Im unteren Dropdown-Menü die Einstellung für die Einlösung(en) wählen: <br>
<strong>Mehrere Einlösungen pro Kunde</strong> = Ein Kunde kann den Gutscheinbetrag mehrmals abrufen. <br>
<strong>Vorsicht</strong>: Wenn der Gutschein an mehrere Kunden verschickt wird, können diese den Gutschein unbegrenzt oft abrufen. In diesem Fall können hohe Gesamtbeträge erreicht werden! <br>
<strong>Eine Einlösung pro Kunde</strong> = Ein Gutschein kann nur einmal pro Kunde vollständig oder in Teilbeträgen abgerufen werden. Bei mehreren Kunden können diese einen niedrigeren Betrag abrufen, doch sobald der erste Kunde den Gutscheinbetrag erreicht, ist keine weitere Einlösung mehr möglich. <br>
<strong>Hinweis</strong>: Ist der Kunde kein registrierter Kunde und loggt sich über einen Gastzugang ein, wird er im System als neuer Kunde geführt. Wird die Gutscheinsumme nicht komplett verbraucht, kann der Gutschein immer wieder verwendet werden, da eine Einlösung PRO Kunde eingestellt ist - also neuer Kunde, neuer Gutschein. <br>
<strong>Vorsicht</strong>: Teilbeträge, die unter dem Gutscheinbetrag liegen, können von allen Kunden parallel abgerufen werden. Erst wenn der erste Kunde den vollen Betrag erreicht, endet die Einlöseoption. In diesem Fall können hohe Gesamtbeträge erreicht werden! <br>
<strong>Einlösung bis Wert aufgebraucht ist</strong> = Der gesamte Betrag kann insgesamt nur einmal abgerufen werden. Ruft ein Kunde mehrere Teilbeträge ab, dürfen alle Teilbeträge zusammen nur so hoch sein wie der Gutscheinbetrag. Der Gutschein kann nicht durch mehrere Kunden eingelöst werden. <br>
<strong>Eine einzige Einlösung</strong> = Nur ein Einlösungsvorgang ist möglich. Auch wenn dies nur ein geringer Teilbetrag ist, sind keine weiteren Einlösungen möglich.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nutzung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Einzelbestellungen</strong> oder <a href="/auftragsabwicklung/auftraege/scheduler"><strong>Abonnements</strong></a> oder beides wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mindestbestellwert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Mindest-Bestellwert, der erreicht werden muss, damit der Gutschein eingelöst werden kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Gültigkeiten</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Startdatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das Datum, ab dem die Kampagne aktiv sein soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Enddatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das Datum, bis zu dem die Kampagne aktiv sein soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Code-Gültigkeit in Wochen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Wochen eintragen, die die Gutschein-Codes gültig sein sollen, z.B. 12, wenn die Gutschein-Codes 12 Wochen lang gültig sein sollen. Die Gültigkeit darf dabei nicht mit der vorigen Option (Start-/Enddatum) verwechselt werden. Die Gültigkeit kann z.B. ein Jahr betragen (Eintrag: 52) und die Kampagne in diesem Zeitraum mehrfach gestartet und wieder beendet werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Gutschein[#22]</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutscheintyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutschein</strong> oder <strong>Voucher</strong> wählen. <br>
Anders als der Gutscheintyp <strong>Gutschein</strong> werden Gutscheine vom Typ <strong>Voucher</strong> nicht im Webshop, sondern bei Drittanbietern eingelöst. Voucher werden vor allem in der Hotellerie eingesetzt und dienen gleichzeitig auch als Reservierungsbestätigung. <br>
<strong>Hinweis</strong>: Bei Wahl der Option <strong>Voucher</strong> stehen nur die dafür nötigen Optionen zur Verfügung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Code-Zuweisung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nur bei Gutscheintyp <strong>Voucher</strong> sichtbar. <br>
Wählen, ob die <strong>Gutscheincodes neu erstellt</strong> werden sollen oder <strong>vorhandene benutzt</strong> werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutscheinart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktionsgutschein</strong> oder <strong>Verkaufsgutschein</strong> wählen. Bestimmt, wie die Gutscheine im Auftrag eingelöst und in den PDF-Dokumenten dargestellt werden. <br>
Für Kampagnen mit Gutscheinen, die über den Webshop verkauft werden, <strong>Verkaufsgutschein</strong> wählen. <br>
Diese Einstellung hat auch Einfluss darauf, wie der Gutschein im Webshop verrechnet wird. <a href="/auftragsabwicklung/auftraege/gutscheine#25"><strong>Ein Beispiel erläutert die Berechnungsmethode</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Code-Länge</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Zeichenlänge des Gutschein-Codes wählen. Gutschein-Codes können <strong>6</strong>, <strong>16</strong> oder <strong>24</strong> Zeichen lang sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rabattart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Art des Rabatts wählen. <br>
<strong>Festbetrag</strong> = Einen festen Rabattbetrag eintragen. <br>
<strong>Prozentwert</strong> = Einen Prozentwert vom Rechnungsbetrag eintragen, z.B. 10, wenn 10 Prozent des Rechnungsbetrags abgezogen werden soll. <br>
<strong>Stück</strong> = Stückzahlen eintragen, z.B. 3 Artikel zum Preis von 2 Artikeln. <br>
<strong>Versand</strong> = Der Rabatt besteht in kostenlosem Versand.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rabattwert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Den Rabattwert des Gutscheins eintragen. Wählen, ob die <strong>Versandkosten</strong> im Rabattwert eingeschlossen sein sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Filter</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikel über Preisportale</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Erlauben</strong> = Gutscheine gelten auch für Artikel über <a href="/omni-channel/multi-channel"><strong>Preisportale</strong></a>, d.h. für Artikel, die gleichzeitig auf anderen Marktplätzen angeboten werden. <br>
<strong>Nicht erlauben</strong> = Gutscheine können nicht für Artikel über Preisportale verwendet werden (Standard).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kategorien</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Kategorien wählen, bei denen der Gutschein einlösbar sein soll. Die Auswahl gilt auch für alle Unterkategorien einer markierten Kategorie.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bis zu 20 Artikel hinzufügen, für die die Gutscheine der Kampagne einlösbar sein sollen: Die Artikel-ID in das Textfeld eintragen und auf das grüne Plus klicken. Es wird ein Eintrag in der Artikelliste angelegt mit Artikel-ID und einem Löschen-Icon. Alle gewünschten Artikel nach diesem Muster hinzufügen. <br>
<strong>Link</strong> = Über die ID eines Artikels wird die Artikelbearbeitung des Artikels aufgerufen. <br>
<strong>Löschen-Icon</strong> = Artikel aus der Liste löschen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandanten (Shops)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/omni-channel/online-shop"><strong>Mandanten (Shops)</strong></a> wählen, für die der Gutschein einlösbar sein soll. Es muss mindestens ein Mandant gewählt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundenklassen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/crm/kundendaten-verwalten#100"><strong>Kundenklassen</strong></a> wählen, für die der Gutschein einlösbar sein soll. Es muss mindestens eine Kundenklasse gewählt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundentypen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/crm/kundendaten-verwalten#300"><strong>Kundentypen</strong></a> wählen, für die der Gutschein einlösbar sein soll. Es muss mindestens ein Kundentyp gewählt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>E-Mail-Vorlage</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Variable</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Variable für <a href="/crm/e-mails-versenden"><strong>E-Mail-Vorlagen</strong></a> wählen (siehe unten). Die Option <strong>Keine Variable</strong> ist voreingestellt. Eine gewählte Variable ist für weitere Kampagnen nicht mehr verfügbar.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Einstellungen für eine neue Gutschein-Kampagne</em></p>
</div>
<div class="sect2">
<h3 id="25">4.1. Beispiel für die Berechnung von Aktions- und Verkaufsgutscheinen</h3>
<div class="paragraph">
<p>Die Auswahl der <strong>Gutscheinart</strong> im Tab <strong>Einstellungen</strong> im Bereich <strong>Gutschein</strong> hat Einfluss darauf, wie der Gutschein im Webshop verrechnet wird. <strong>Aktionsgutscheine</strong> werden z.B. ähnlich wie Rabatte verrechnet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>Ein Kunde hat einen Gutschein im Wert von 15 Euro. Der Kunde kauft für 25 Euro ohne MwSt. ein. Er kauft 2 Artikel. Einen Artikel für 17,95 Euro, der mit 19 % MwSt. versteuert werden muss, und einen Artikel für 7,05 Euro, auf den nur 7 % MwSt. angewendet werden. Handelt es sich bei dem Gutschein um einen <strong>Verkaufsgutschein</strong>, wird der Gutscheinwert vom Gesamtbetrag inkl. Steuern abgezogen. Handelt es sich um einen <strong>Aktionsgutschein</strong>, wird der Gutscheinwert zuerst abgezogen und dann der Restbetrag besteuert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Verkaufsgutschein</th>
<th class="tableblock halign-left valign-top">Aktionsgutschein</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Betrag vor Abzug des Gutscheinwertes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>28,91 Euro inklusive MwSt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>25 Euro exklusive MwSt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Betrag nach Abzug des Gutscheinwertes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>13,91 Euro inklusive MwSt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>10 Euro exklusive MwSt.</p>
</div>
<div class="paragraph">
<p>11,56 Euro inklusive MwSt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Durch den Kunden zu zahlender Endbetrag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>13,91 Euro</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>11,56 Euro</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 3: Vergleich von Aktionsgutschein und Verkaufsgutschein</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Kampagnen suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Kampagnen</strong> werden die wichtigsten Eigenschaften der angelegten Kampagnen in der Übersicht angezeigt.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ende</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt das Datum an, bis zu dem die Kampagne aktiv ist. Nicht mit der Gültigkeit zu verwechseln; dazu die Erläuterung zur Option <strong>Code-Gültigkeit in Wochen</strong> in Tabelle 2 beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutscheinart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zu den Gutscheinarten <strong>Aktionsgutschein</strong> und <strong>Verkaufsgutschein</strong> die Erläuterungen in Tabelle 2 sowie das Beispiel unter Tabelle 2 beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Konzept</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das Konzept bestimmt z.B. ob ein Gutschein nur einmal oder mehrfach eingelöst werden kann. Erläuterungen dazu in Tabelle 2 beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Einlösungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die rote Ziffer steht für die Anzahl der eingelösten Gutscheine. Die grüne Ziffer steht für die Anzahl der noch nicht eingelösten Gutscheine.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klicken Sie auf den grünen Pfeil am Zeilenende einer Kampagne, um die Kampagnedaten in einer CSV-Datei zu exportieren.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 4: Wichtige Werte in der Gutschein-Übersicht</em></p>
</div>
<div class="paragraph">
<p>Um Kampagnen zu suchen, wählen Sie die gewünschten Suchparameter im Tab <strong>Filter</strong> und klicken auf <strong>Suchen</strong>. In der Standardeinstellung der Filter werden alle Kampagnen gesucht und angezeigt. Über die Suchfelder <strong>ID</strong> und <strong>Gutschein-Code</strong> können Sie z.B. gezielt nach bestimmten Kampagnen oder einem Gutschein-Code suchen.</p>
</div>
<div class="paragraph">
<p>In der <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#suche"><strong>Auftragssuche</strong></a> steht ein Suchfilter für Gutschein-Codes zur Verfügung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Gutschein-Codes erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Codes</strong> einer Kampagne finden Sie den Gutschein-Generator. Zur Erzeugung von Gutschein-Codes mit dem Gutschein-Generator stehen zwei Verfahren zur Verfügung, die im Folgenden erläutert werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Gültige Zeichen für Gutschein-Codes</div>
<div class="paragraph">
<p>Ein Gutschein-Code kann aus Klein- oder Großbuchstaben, Ziffern, den Sonderzeichen _ und - oder aus einer Kombination aus diesen Zeichen bestehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="70">6.1. Gutschein-Codes manuell generieren</h3>
<div class="paragraph">
<p>Mit dieser Funktion erzeugen Sie gleichzeitig mehrere Gutschein-Codes. Diese Codes werden automatisch generiert und der Codeliste hinzugefügt.</p>
</div>
<div class="paragraph instruction">
<p>Gutschein-Codes manuell generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Kampagne, für die Sie Gutschein-Codes erzeugen möchten.</p>
</li>
<li>
<p>Wählen Sie das Tab <strong>Codes</strong>.</p>
</li>
<li>
<p>Tragen Sie links die gewünschte <strong>Anzahl</strong> an Gutschein-Codes ein, die erzeugt werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Die Gutschein-Codes werden erzeugt und darunter in der Liste der Gutschein-Codes hinzugefügt.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mehr Codes als Einlösungen</div>
<div class="paragraph">
<p>Die Anzahl der offenen Gutscheine kann die maximale Anzahl der Einlösungen überschreiten. Somit können noch offene Gutschein-Codes übrig bleiben, nachdem die maximale Anzahl an Einlösungen erreicht ist. Diese sind nicht mehr einlösbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="80">6.2. Externe oder eigene Gutschein-Codes manuell eintragen</h3>
<div class="paragraph">
<p>Hier fügen Sie Ihren Gutschein-Codes eigene Codes hinzu. Dabei kann es sich um Codes handeln, die Sie erhalten haben und die nicht hier erzeugt wurden oder um eigene Codes, die Sie individuell benennen und dort eintragen.</p>
</div>
<div class="paragraph instruction">
<p>Gutschein-Code manuell eintragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Kampagne, für die Sie einen Gutschein-Code eintragen möchten.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Codes</strong>.</p>
</li>
<li>
<p>Tragen Sie rechts einen <strong>Code</strong> mit 6 bis 24 Zeichen ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen. <br>
→ Der Gutschein-Code wird generiert und darunter der Liste der Gutschein-Codes hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">6.3. Gutschein-Codes per Datenaustausch bearbeiten</h3>
<div class="paragraph">
<p>Verwenden Sie das Datenformat <strong><a href="/basics/datenaustausch/datenformate/campaigncoupon">CampaignCoupon</a></strong>, um Gutschein-Codes zeitsparend zu <strong><a href="/basics/datenaustausch/daten-exportieren">exportieren</a></strong>, zu bearbeiten und zu <strong><a href="/basics/datenaustausch/daten-importieren">importieren</a></strong>.
Auf diese Weise ist es z.B. möglich, größere Mengen an Gutscheincodes in einem Arbeitsgang zu importieren, statt sie einzeln manuell einzutragen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Gutschein-Codes direkt in E-Mails einfügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gutschein-Codes können automatisch in E-Mails eingebunden werden. Beim Versand einer E-Mail wird immer ein neuer Gutschein-Code erzeugt und versendet.
So kann auch per Newsletter jedem Kunden ein automatisch generierter Gutschein-Code zugeschickt werden. <br>
Dazu muss der Kampagne zunächst eine <a href="/omni-channel/online-shop/cms-syntax#grundlagen-template-variablen"><strong>Template-Variable</strong></a> zugewiesen werden, z.B. <strong>CouponCode1</strong>.</p>
</div>
<div class="paragraph">
<p>Danach kann diese Template-Variable <strong>$CouponCode1</strong> in eine <a href="/crm/e-mails-versenden#1200"><strong>E-Mail-Vorlage</strong></a> eingefügt werden.
Bei jedem Versand wird dann automatisch ein neuer Gutschein für die gewählte Kampagne angelegt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Eine Variable pro Kampagne</div>
<div class="paragraph">
<p>Eine Template-Variable kann jeweils nur einer Kampagne zugeordnet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Template-Variable einer Kampagne zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Kampagne, der Sie eine Variable zuornden möchten. <br>
→ Im Tab <strong>Einstellungen</strong> der Kampagne befindet sich der Abschnitt <strong>E-Mail-Vorlage</strong>.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Variable</strong> aus dem Dropdown-Menü.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110">8. Gutscheine verkaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor Sie Gutscheine in Ihrem Shop verkaufen können, müssen Sie eine <a href="/auftragsabwicklung/auftraege/gutscheine#20"><strong>Gutscheinkampagne</strong></a> mit der Gutscheinart <strong>Verkaufsgutschein</strong> anlegen (Tabelle 2).
Um Gutscheine zu verkaufen, benötigen Sie außerdem ein Freitextfeld sowie eine Gutscheinvorlage für die Kampagne.
Gehen Sie wie in diesem Kapitel beschrieben vor, um Gutscheine in Ihrem Shop zu verkaufen.</p>
</div>
<div class="sect2">
<h3 id="120">8.1. Gutscheinartikel anlegen</h3>
<div class="paragraph">
<p>Legen Sie nun einen <strong><a href="/artikel/artikel-verwalten">Gutscheinartikel</a></strong> an, dem Sie z.B. die Bezeichnung <strong>Gutschein1</strong> geben. Hinterlegen Sie einen Preis und eine Kurzbeschreibung. Verknüpfen Sie den Gutscheinartikel mit einer Kategorie. Legen Sie ggf. eine eigene Kategorie für Gutscheine an.<br>
Diese Parameter werden wie bei jedem Artikel im Webshop angezeigt.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">8.2. Gutscheinartikel mit Kampagne verknüpfen</h3>
<div class="paragraph">
<p>Die Verknüpfung der Kampagne mit dem Gutscheinartikel erfolgt über ein <a href="/artikel/artikel-verwalten#70"><strong>Freitextfeld</strong></a>.
Gehen Sie wie unten beschrieben vor, um den Gutscheinartikel mit dem Freitextfeld <strong>Kampagne ID</strong> zu verknüpfen.</p>
</div>
<div class="paragraph">
<p>Legen Sie zunächst ein Freitextfeld fest.</p>
</div>
<div class="paragraph instruction">
<p>Freitextfeld festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Artikel » Freitextfelder</strong>.</p>
</li>
<li>
<p>Geben Sie <strong>Kampagne ID</strong> als Feldbezeichnung ein.</p>
</li>
<li>
<p>Wählen Sie den Datentyp <strong>Zahl</strong>.</p>
</li>
<li>
<p>Geben Sie eine Zeichenlänge ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Nur Kampagne ID als Feldbezeichnung zulässig</div>
<div class="paragraph">
<p>Achten Sie auf die Schreibweise des Freitextfeldes. Der Name <strong>Kampagne ID</strong> ist nur in der Schreibweise mit Leerzeichen gültig. Anderen Namen und Schreibweisen sind nicht erlaubt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Legen Sie anschließend das Freitextfeld als Kampagnenfeld fest.</p>
</div>
<div class="paragraph instruction">
<p>Kampagnenfeld festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Wählen Sie <strong>Kampagne ID</strong> als <strong>Kampagnenfeld</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Verknüpfen Sie Ihre Kampagne mit einem Gutscheinartikel.</p>
</div>
<div class="paragraph instruction">
<p>Gutscheinartikel mit Kampagne verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Gutscheinartikel.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Felder</strong>.</p>
</li>
<li>
<p>Geben Sie in das Freitextfeld, das Sie im Menü <a href="/auftragsabwicklung/auftraege/gutscheine"><strong>Einstellungen » Aufträge » Gutscheine</strong></a> für Gutscheinkampagnen eingestellt haben, die ID der Kampagne ein, die Sie mit dem Gutscheinartikel verknüpfen möchten.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="140">8.3. Gutschein-Vorlage konfigurieren</h3>
<div class="paragraph">
<p>Im Tab <strong>Vorlagen</strong> einer Kampagne hinterlegen Sie eine Gutschein-Vorlage für die Kampagne, d.h., Sie hinterlegen für jede Kampagne eine eigene Vorlage. Die Vorlage ist der Hintergrund der Gutscheine, den Sie entwerfen und als PDF-Datei speichern. Im Untermenü <strong>Gutschein-Layout</strong> legen Sie die Elemente für den Gutschein und ihre Position fest. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">PDF-Version</div>
<div class="paragraph">
<p>plentymarkets unterstützt derzeit PDF-Dokumentenformate bis Version 1.4.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Gutschein-Vorlage hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicken Sie in der Übersicht auf die Gutschein-Kampagne, für die Sie die Vorlagen bearbeiten möchten.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Vorlagen</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Untermenü <strong>Gutschein-Vorlage</strong>.</p>
</li>
<li>
<p>Klicken Sie bei <strong>Dokumenten-Vorlage Upload</strong> auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Markieren Sie das gewünschte Dokument.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen. <br>
<strong>Tipp</strong>: Nach erfolgreichen Upload wird eine Erfolgsmeldung angezeigt. Sollten Sie diese nicht erhalten und Ihnen nach dem Klicken auf <strong>Vorlage anzeigen</strong> eine Fehlermeldung angezeigt werden, wenden Sie sich bitte an den Support. Unter Umständen ist das Gutscheinverkaufsmodul für Ihr System nicht aktiviert.</p>
</li>
<li>
<p>Öffnen Sie das Untermenü <strong>Gutschein-Layout</strong>.</p>
</li>
<li>
<p>Tragen Sie Werte für die <strong>X-</strong> und <strong>Y-Koordinaten</strong> ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
<strong>Tipp</strong>: Nach erfolgreichem Speichern wird eine Erfolgsmeldung angezeigt. Klicken Sie auf <strong>Vorschau anzeigen</strong>, um einen Eindruck davon zu bekommen, wie der Gutschein aussehen wird und korrigieren Sie die Werte, bis Sie mit dem Ergebnis zufrieden sind.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erläuterung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeichensatz</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen den Zeichensätzen <strong>ISO-8859-1</strong> und <strong>Unicode</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Koordinaten und Schriftgrößen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Koordinaten eintragen und die Schriftgrößen der Gutscheintexte wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 5: Optionen der Gutschein-Vorlagenkonfiguration</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Koordinaten</div>
<div class="paragraph">
<p>Mit der <strong>X-Koordinate</strong> stellen Sie den Abstand zum linken Rand der Seite ein. Die <strong>Y-Koordinate</strong> bestimmt den Abstand zum oberen Rand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="150">8.4. Gutschein erzeugen</h3>
<div class="paragraph">
<p>Der Prozess zum Kauf eines Gutscheins unterscheidet sich nicht vom Kaufprozess eines normalen Artikels. Sobald Ihr Kunde den Gutschein erworben hat, kann er die Gutscheintexte für die Gutschein-Vorlage hinterlegen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Hinweistext</div>
<div class="paragraph">
<p>Um einen persönlichen Text zu hinterlegen, muss der Kunde in seinem <strong>Mein Konto</strong>-Bereich des Webshops beim Artikel noch einmal auf <strong>Ändern</strong> klicken. Hinterlegen Sie am besten einen kurzen Hinweis in der Beschreibung des Gutschein-Artikels, um Kunden darüber zu informieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nachdem der Kunde den Gutschein gekauft hat, kann er die Gutscheintexte wie folgt anpassen:</p>
</div>
<div class="paragraph instruction">
<p>Gutscheintexte im Mein Konto anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Im Webshop einloggen.</p>
</li>
<li>
<p>Den Bereich <strong>Mein Konto</strong> des Webshops im Bereich <strong>Auftragshistorie</strong> öffnen.</p>
</li>
<li>
<p>Den Auftrag mit dem betreffenden Gutschein öffnen.</p>
</li>
<li>
<p>Beim Artikel auf <strong>Ändern</strong> klicken.</p>
</li>
<li>
<p>Dort kann nun ein <strong>Empfänger</strong>, ein <strong>Absender</strong> sowie ein <strong>Text</strong> hinterlegt werden. <br>
→ Diese Texte werden auf der Gutschein-Vorlage angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn der Kunde den Gutschein bezahlt hat, wird der Download der PDF-Vorlage bereitgestellt. Dies ist am PDF-Symbol erkennbar.</p>
</div>
<div class="paragraph">
<p>Nachdem das PDF-Dokument durch Klick auf <strong>PDF erzeugen</strong> angelegt wurde, kann der Kunde es direkt drucken oder speichern.</p>
</div>
</div>
<div class="sect2">
<h3 id="160">8.5. Gutschein automatisch als PDF-Anhang verschicken</h3>
<div class="paragraph">
<p>Gutscheine als PDF-Anhang zu verschicken ist z.B. sinnvoll, wenn Sie in Ihrem Shop Geschenkgutscheine oder Reisegutscheine verkaufen.</p>
</div>
<div class="paragraph">
<p>Wenn Sie Gutscheine verkaufen und nicht im Mein-Konto-Bereich als PDF-Download zur Verfügung stellen, sondern per E-Mail versenden möchten, erzeugen und versenden Sie Gutscheine per <strong>Ereignisaktion</strong>. Für den E-Mail-Versand benötigen Sie eine <a href="/crm/e-mails-versenden#1200"><strong>E-Mail-Vorlage</strong></a>, bei der Sie für die Option <strong>PDF-Anhang</strong> den Typ <strong>Voucher</strong> einstellen. Der Gutschein wird der E-Mail-Vorlage dann automatisch als PDF-Anhang hinzugefügt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Voraussetzungen für Versand per Ereignisaktion</div>
<div class="paragraph">
<p>Sie benötigen eine Gutschein-Kampagne. Diese müssen Sie am Artikel mittels Freitextfeld hinterlegt haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong><a href="/crm/e-mails-versenden">Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</a></strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue E-Mail-Vorlage</strong>.</p>
</li>
<li>
<p>Tragen Sie im Fenster <strong>Neue E-Mail-Vorlage</strong> einen Namen für die Vorlage ein, z.B. <strong>Reisegutschein</strong>.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Eigner</strong> oder <strong>Alle</strong> aus dem Dropdown-Menü. <br>
→ Die E-Mail-Vorlage wird angelegt, in die Liste eingeordnet und geöffnet.</p>
</li>
<li>
<p>Wählen Sie <strong>Voucher</strong> als PDF-Anhang.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail-Nachricht</strong>.</p>
</li>
<li>
<p>Tragen Sie <strong>Betreff</strong> und <strong>Inhalt</strong> ein.</p>
</li>
<li>
<p>Verwenden Sie Template-Variablen, um z.B. den Namen des Kunden einzufügen. Fügen Sie jedoch nicht die Template-Variable für Gutscheine <strong>CouponCode</strong> ein, da der Gutschein ja als Anhang versendet werden soll.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Gutscheinversand per Ereignisaktion anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong><a href="/basics/automatisierung/ereignisaktionen">Einstellungen » Aufträge » Ereignisaktionen</a></strong>.</p>
</li>
<li>
<p>Klicken Sie links unten auf das <strong>grüne Plus</strong>, um eine neue Ereignisaktion zu erstellen.</p>
</li>
<li>
<p>Tragen Sie im Bearbeitungsfenster einen <strong>Namen</strong> ein, z.B. <strong>Gutschein erzeugen &amp; versenden</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Ereignis</strong> die Option <strong>Zahlung &gt; Vollständig</strong></p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>. <br>
→ Die Ereignisaktion wird angelegt.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> einen <strong>Filter</strong> des Filtertyps <strong>Auftrag &gt; Auftragstyp</strong> hinzu. <br>
→ Der Filter wird angelegt.</p>
</li>
<li>
<p>Markieren Sie im Filter die Option <strong>Auftrag</strong>.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> einen <strong>Filter</strong> des Filtertyps <strong>Artikel &gt; Artikel enthalten</strong> hinzu. <br>
→ Der Filter wird angelegt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong> und tragen Sie in das Eingabefeld die ID des Artikels ein, bei dem die Ereignisaktion greifen soll.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> eine <strong>Aktion</strong> des Aktionstyps <strong>Dokumente &gt; Verkaufsgutschein erzeugen</strong> hinzu. <br>
→ Diese Aktion wird nur für bezahlte Aufträge ausgeführt.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> eine <strong>Aktion</strong> des Aktionstyps <strong>Auftrag &gt; Status ändern</strong> hinzu.</p>
</li>
<li>
<p>Wählen Sie in der Aktion den gewünschten <strong>Status</strong>.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> eine <strong>Aktion</strong> des Aktionstyps <strong>Kunde &gt; E-Mail versenden</strong> hinzu.</p>
</li>
<li>
<p>Wählen Sie in der Aktion die gewünschte <strong>E-Mail-Vorlage</strong> und als Empfänger <strong>Kunde</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="170">8.6. Gutscheinsumme auf Rechnungen anzeigen</h3>
<div class="paragraph">
<p>Verkaufte Gutscheine werden auf Rechnungen als Artikelpositionen aufgeführt. Um die Summe von eingelösten Gutscheinen auf Rechnungen anzuzeigen, muss im Layout des Rechnungsdokuments ein Feldname bei <strong><a href="/auftragsabwicklung/auftraege/auftragsdokumente#90">Gutscheinsumme</a></strong> eingetragen sein.</p>
</div>
</div>
</div>
</div>
</main>