<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_grundeinstellungen"><span>1.</span><span> Grundeinstellungen</span></a></li>
<li><a href="#_fallbeispiele"><span>2.</span><span> Fallbeispiele</span></a>
<ul class="sectlevel2">
<li><a href="#_sammelauftrag_pro_kunde"><span>2.1.</span><span> Sammelauftrag pro Kunde</span></a></li>
<li><a href="#_sammelauftrag_pro_kundenklasse"><span>2.2.</span><span> Sammelauftrag pro Kundenklasse</span></a></li>
</ul>
</li>
<li><a href="#_einen_sammelauftrag_anlegen"><span>3.</span><span> Einen Sammelauftrag anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#_sammelauftrag_pro_kundenklasse_generieren"><span>3.1.</span><span> Sammelauftrag pro Kundenklasse generieren</span></a></li>
<li><a href="#_kundenspezifischen_sammelauftrag_generieren"><span>3.2.</span><span> Kundenspezifischen Sammelauftrag generieren</span></a></li>
</ul>
</li>
<li><a href="#_sammelrechnung_generieren"><span>4.</span><span> Sammelrechnung generieren</span></a>
<ul class="sectlevel2">
<li><a href="#_fulfillment_einstellungen"><span>4.1.</span><span> Fulfillment-Einstellungen</span></a></li>
<li><a href="#_sammelrechnung_generieren_2"><span>4.2.</span><span> Sammelrechnung generieren</span></a></li>
<li><a href="#_sammelrechnung_per_ereignisaktion_automatisch_generieren"><span>4.3.</span><span> Sammelrechnung per Ereignisaktion automatisch generieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Sammelaufträge</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>System » Aufträge » Auftragstypen » Multi-Order</strong> konfigurieren Sie die Grundeinstellungen für <strong><a href="/auftragsabwicklung/auftraege/sammelauftraege">Sammelaufträge</a></strong>. Hier legen Sie z.B. fest, für welche Auftragstypen und Auftragsstatus Sammelaufträge angelegt werden können.</p>
</div>
<div class="paragraph instruction">
<p>Sammelaufträge konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Auftragstypen » Multi-Order</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstypen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Auftragstypen wählen, die für Sammelaufträge verwendbar sein sollen (Mehrfachwahl möglich). Es sind nur die hier verfügbaren Auftragstypen für Sammelaufträge nutzbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeltext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Optionen für die Spalte <strong>Artikeltext</strong> der Artikelpositionen eines Sammelauftrags wählen (Mehrfachwahl möglich). Die gewählten Optionen werden für jeden Einzelauftrag separat im Sammelauftrag aufgelistet und ermöglichen eine Zuordnung zum Kunden und zum Einzelauftrag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragssortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie die einzelnen Aufträge im Sammelauftrag sortiert sein sollen. Diese Aufträge sind gemäß der Auftrags-ID oder dem Zeitpunkt des Warenausgangs auf- oder absteigend sortierbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Auftragsstatus von Aufträgen für Sammelaufträge berücksichtigt werden soll (Mehrfachwahl möglich). Um gezielt nur Aufträge zu erfassen, die für Sammelaufträge vorgesehen sind, empfiehlt sich je nach Fall einen eigenen Auftragsstatus anzulegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus Gutschriften</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Auftragsstatus von Gutschriften für Sammelgutschriften berücksichtigt werden soll (Mehrfachwahl möglich).</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Optionen für Sammelaufträge</em></p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Sammelaufträge</strong> haben Sie die Möglichkeit, noch nicht bezahlte Aufträge in einen Sammelauftrag zu übernehmen. Es lassen sich dabei kundenspezifische Sammelaufträge erzeugen oder Sammelaufträge pro Kundenklasse. In den Sammelaufträgen ist dann die Erzeugung von Sammelrechnungen möglich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_grundeinstellungen">1. Grundeinstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor Sie mit dieser Funktion arbeiten, nehmen Sie die Grundeinstellungen für Sammelaufträge im Menü <a href="/auftragsabwicklung/auftraege/sammelauftraege"><strong>System » Aufträge » Auftrags-Typen » Sammelauftrag</strong></a> vor. Weiterhin legen Sie im Menü <a href="/auftragsabwicklung/auftraege/_grundeinstellungen"><strong>System » Aufträge » Einstellungen</strong></a> mit der Option <strong>Standard-Status Sammelauftrag</strong> fest, welchen Auftragsstatus ein Sammelauftrag beim Anlegen erhalten soll. Es steht dafür der Status <strong>[13] Sammelauftrag</strong> zur Verfügung. Die folgenden Fallbeispiele sollen Ihnen dabei eine Orientierungshilfe geben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_fallbeispiele">2. Fallbeispiele</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Fallbeispiele sind nur eine Auswahl verschiedener Möglichkeiten mit Sammelaufträgen.</p>
</div>
<div class="sect2">
<h3 id="_sammelauftrag_pro_kunde">2.1. Sammelauftrag pro Kunde</h3>
<div class="paragraph">
<p>Ein Kunde möchte nicht jede Rechnung einzeln bezahlen, sondern pro Monat oder pro Quartal bezahlen. Die Aufträge werden wie gewohnt bearbeitet und die Artikel versendet, bleiben jedoch unbezahlt. Über das Icon <strong>Sammelauftrag</strong> in den Kundendaten des Kunden wird der Sammelauftrag zum gewünschten Zeitpunkt anhand der eingestellten Kriterien erzeugt. Im Sammelauftrag kann im Tab <strong>Belege</strong> dann eine Sammelrechnung generiert werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="_sammelauftrag_pro_kundenklasse">2.2. Sammelauftrag pro Kundenklasse</h3>
<div class="paragraph">
<p>Ein Unternehmen möchte für die Mitarbeiter monatlich die aufgelaufenen Rechnungen in Ihrem Webshop bezahlen. Richten Sie dafür eine eigene Kundenklasse ein. Mit der Kunden-ID in der vorgesehenen Kundenklasse wird der Rechnungsempfänger bestimmt. Dieser Rechnungsempfänger erhält dann die Sammelrechnung, die direkt aus dem Sammelauftrag heraus erzeugt wird.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_einen_sammelauftrag_anlegen">3. Einen Sammelauftrag anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Sammelauftrag ist nur für Aufträge möglich, die noch nicht bezahlt wurden. Sie können in der Auftragssuche im Menü <strong>Aufträge</strong> oder im Tab <strong>Aufträge</strong> eines Kunden mit dem Suchfilter <strong>Auftragsstatus</strong>, z.B. anhand eines Status im Bereich <strong>[3] Warten auf Zahlung</strong>, nach solchen Aufträgen suchen. Sie haben zwei Möglichkeiten, Sammelaufträge zu erzeugen, die nachfolgend beschrieben werden.</p>
</div>
<div class="sect2">
<h3 id="_sammelauftrag_pro_kundenklasse_generieren">3.1. Sammelauftrag pro Kundenklasse generieren</h3>
<div class="paragraph">
<p>Einen Sammelauftrag für eine bestimmte Kundenklasse sowie einen Zeitraum generieren Sie im Menü <strong>Aufträge » Sammelaufträge</strong>. Es werden alle unbezahlten Aufträge der Kundenklasse gesammelt in einem Sammelauftrag abgelegt. In den Einstellungen der Kundenklassen müssen Sie noch anhand der Option <strong>Kunden-ID</strong> hinterlegen, welcher Kunde für die Kundenklasse als Eigner des Sammelauftrags sowie als Empfänger der Sammelrechnung hinterlegt sein soll. Je nach Anforderung empfiehlt es sich, eigene <a href="/crm/kontakte-verwalten#15"><strong>Kundenklassen</strong></a> für Sammelaufträge anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Sammelauftrag für eine Kundenklasse generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Sammelaufträge</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Untermenü <strong>Sammelaufträge generieren</strong>.</p>
</li>
<li>
<p>Wählen Sie die <strong>Kundenklasse</strong> und einen <strong>Zeitraum</strong> (optional).<br>
→ Der Zeitraum bezieht sich auf das Datum des Auftragseingangs.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>Zahnrad</strong>, um einen Sammelauftrag zu generieren.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Auftraege-Sammelauftraege-01.png" alt="DE Auftraege Sammelauftraege 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Sammelauftrag mit Sammelrechnung</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_kundenspezifischen_sammelauftrag_generieren">3.2. Kundenspezifischen Sammelauftrag generieren</h3>
<div class="paragraph">
<p>Einen Sammelauftrag für einen bestimmten Kunden generieren Sie direkt im Kundendatensatz.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Auftraege-Sammelauftraege-02.png" alt="DE Auftraege Sammelauftraege 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Einen Sammelauftrag generieren</em></p>
</div>
<div class="paragraph">
<p>Dort finden Sie die Funktion direkt in der Kopfzeile des Tabs <strong>Kundendaten</strong>. Um einen Sammelauftrag mit allen noch nicht bezahlten Aufträgen zu generieren, klicken Sie auf das Icon <strong>Sammelauftrag</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Aufträge prüfen</div>
<div class="paragraph">
<p>Damit Sie sicher gehen können, dass geeignete Aufträge für die Erzeugung eines Sammelauftrags vorhanden sind, suchen Sie im Tab <strong>Aufträge</strong> des Kunden nach unbezahlten Aufträgen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_sammelrechnung_generieren">4. Sammelrechnung generieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erfahren Sie, wie Sie Sammelrechnungen konfigurieren und generieren. Die Erstellung von Sammelrechnungen ist nur in Sammelaufträgen verfügbar.</p>
</div>
<div class="sect2">
<h3 id="_fulfillment_einstellungen">4.1. Fulfillment-Einstellungen</h3>
<div class="paragraph">
<p>Im Menü <strong><a href="/auftragsabwicklung/auftraege/_grundeinstellungen">System » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Sammelrechnung</a></strong> können Sie detaillierte Dokumenteinstellungen vornehmen sowie eine <strong><a href="/auftragsabwicklung/auftraege/auftragsdokumente">Dokumenten-Vorlage</a></strong> in Form einer PDF-Datei hinterlegen. In der Grundeinstellung der Vorlage sind bereits Standardwerte hinterlegt, die Sie bei Bedarf durch Kopie aus einer anderen Vorlage, z.B. der Dokumentenvorlage <strong>Rechnung</strong>, mit geringem Aufwand weiter vervollständigen können.</p>
</div>
</div>
<div class="sect2">
<h3 id="_sammelrechnung_generieren_2">4.2. Sammelrechnung generieren</h3>
<div class="paragraph">
<p>Eine Sammelrechnung generieren Sie im Tab <strong>Belege</strong> des Sammelauftrags.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/assets/DE-Auftraege-Sammelauftraege-03.png" alt="DE Auftraege Sammelauftraege 03">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Sammelrechnung generieren</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_sammelrechnung_per_ereignisaktion_automatisch_generieren">4.3. Sammelrechnung per Ereignisaktion automatisch generieren</h3>
<div class="paragraph">
<p>In den Ereignisaktionen gibt es das Ereignis <strong>Sammelauftrag angelegt</strong> mit der neuen Aktion <strong>Sammelrechnung erzeugen</strong>. Gehen Sie wie nachfolgend beschrieben vor, um eine Ereignisaktion für die automatische Erzeugung von Sammelrechnungen zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Ereignisaktion für Sammelrechnungen erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie links unten auf das <strong>grüne Plus</strong>, um eine neue Ereignisaktion zu erstellen.</p>
</li>
<li>
<p>Tragen Sie im Bearbeitungsfenster einen Namen ein, z.B. <strong>Sammelrechnungen erstellen</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Ereignis</strong> die Option <strong>Auftragsanlage &gt; Neuer Sammelauftrag</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Die Ereignisaktion wird angelegt.</p>
</li>
<li>
<p>Fügen Sie mit dem grünen Plus eine Aktion des Aktionstyps <strong>Dokumente &gt; Sammelrechnung erzeugen</strong> hinzu. In der Aktion haben Sie die Möglichkeit, ein Zahlungsziel und eine Skonto-Option einzustellen.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>