<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Dokumentenvorlage für Abhollieferungen einrichten</span></a></li>
<li><a href="#200"><span>2.</span><span> Einzelne Abhollieferung erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Abhollieferung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ware wird bei dir abgeholt? Nutze dafür das Dokument Abhollieferung, auch Abhol-/Lieferschein genannt. Dieser kann als PDF-Datei generiert werden, um diesen dann zum Beispiel zu drucken oder als E-Mail-Anhang zu verschicken.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Dokumentenvorlage für Abhollieferungen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Abhollieferungen generieren kannst, muss eine Dokumentenvorlage eingerichtet werden. Dies geschieht im Menü <strong>Einrichtung » Mandant » <em>Mandant wählen</em> » Standorte » <em>Standort wählen</em> » Dokumente » Abhol-Lieferschein</strong>.<br>
Weitere Informationen und Anleitungen zur Einrichtung der Dokumentenvorlage findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Einzelne Abhollieferung erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Dokument Abhollieferung kannst du manuell an verschiedenen Auftragstypen erzeugen. Gehe dafür wir im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Dokument Abhollieferung manuell erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.<br>
→ Die Auftragsübersicht öffnet sich.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) anhand der Filtereinstellungen den Auftrag, für den ein Dokument Abhollieferung erzeugt werden soll.</p>
</li>
<li>
<p>Öffne den gewünschten Auftrag.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Belege</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Beleg erstellen</strong> das Dokument <strong>Abhollieferung</strong> aus.<br></p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-abhollieferung-erzeugen">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen, um das Dokument Abhollieferung zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong> mit dem soeben erzeugten Dokument Abhollieferung.</p>
</li>
</ol>
</div>
<table id="tabelle-abhollieferung-erzeugen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für Dokument Abhollieferung im Menü <strong>Beleg erstellen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib das Datum an, das als auf dem Dokument Abhollieferung angezeigt wird. Standardmäßig ist das aktuelle Datum voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Nummer des Dokuments wird automatisch vergeben. Hier muss keine Angabe gemacht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Buche Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> auswählen, ob mit dem Erzeugen des Dokuments Abhollieferung auch der Warenausgang gebucht werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus auf Status</strong> (Aktion)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status wählen, in den der Auftrag nach dem Erzeugen des Dokuments Abhollieferung wechseln sollen. Wenn kein Statuswechsel gewünscht ist, die Option <strong>Keine Änderung</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Text eingeben, der auf dem Dokument Abhollieferung unterhalb der Artikelpositionen angezeigt wird. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>