<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Dokumentenvorlage für Gutschriften einrichten</span></a></li>
<li><a href="#300"><span>2.</span><span> Einzelne Gutschrift erzeugen</span></a></li>
<li><a href="#400"><span>3.</span><span> Mehrere Gutschriften erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Gutschriften</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets kannst du Gutschriften als PDF-Dateien generieren, um diese z.B. zu drucken oder deine Kunden als E-Mail Anhang zukommen zu lassen.<br>
Gutschriften nutzt du beispielsweise, um bei bereits bezahlten Aufträgen nachträgliche Preisnachlässe zu gewähren oder wenn im Rahmen von Retouren Rückerstattungen veranlasst werden sollen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Standardeinstellungen für Gutschriften</div>
<div class="paragraph">
<p>Nimm im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong> einmalig die gewünschten Standardeinstellungen zu Gutschriften vor und speichere diese ab. Nur so werden die Einstellungen zum Standard-Status von Gutschriften und zur Übernahme der Versandkosten in Gutschriften wirksam. Weitere Informationen zu den Grundeinstellungen für Aufträge findest du auf der Handbuchseite zum Thema <a href="/auftraege/grundeinstellungen">Grundeinstellungen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Dokumentenvorlage für Gutschriften einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Gutschriften generieren kannst, muss eine Dokumentenvorlage eingerichtet werden. Dies geschieht im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong>.<br>
Weitere Informationen und Anleitungen zur Einrichtung der Dokumentenvorlage findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Einzelne Gutschrift erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Einzelne Gutschriften kannst du bei Bedarf manuell am jeweiligen Gutschriftauftrag erzeugen. Weitere Informationen und Anleitungen zum Anlegen von Gutschriftaufträgen findest du im Kapitel <a href="/auftraege/auftraege-verwalten#500">Gutschrift anlegen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Einzelne Gutschrift erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.<br>
→ Die Auftragsübersicht öffnet sich.</p>
</li>
<li>
<p>Wähle durch Klick auf die <strong>Auftrag-ID</strong> den Gutschriftauftrag, für den eine Gutschrift erzeugt werden soll.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Belege</strong>.<br></p>
</li>
<li>
<p>Wähle im Drop-Down-Menü <strong>Beleg erstellen</strong> das Dokument <strong>Gutschrift</strong> aus.<br></p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-gutschriftauftrag-belege-gutschrift">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen, um die Gutschrift zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong> mit der soeben erzeugten Gutschrift.</p>
</li>
</ol>
</div>
<table id="tabelle-gutschriftauftrag-belege-gutschrift" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Beleg erstellen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, das auf der Gutschrift angezeigt wird. Standardmäßig ist das aktuelle Datum voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Nummer des Dokuments wird automatisch vergeben. Hier muss keine Angabe gemacht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus auf Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status wählen, in den der Auftrag nach dem Erzeugen der Gutshrift wechseln soll. Wenn kein Statuswechsel gewünscht ist, die Option <strong>Keine Änderung</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Text eingeben, der auf der Gutschrift unterhalb der Artikelpositionen angezeigt wird. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">3. Mehrere Gutschriften erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sollen mehrere Gutschriften zugleich erzeugt werden, kannst du über einen Suchfilter im Menü <strong>Aufträge » Fulfillment</strong> festlegen, welche Aufträge berücksichtigt werden. Zudem kannst du in diesem Menü festlegen, ob der Status des Auftrags geändert werden soll, nachdem die Gutschriften erzeugt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Gutschriften erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Gutschriften / Korrekturbelege erzeugen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-einstellungen-fulfillment-gutschriften">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Gutschriften zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong>, in der die zugehörigen Gutschriften aller von dir durch die Suchfilter bestimmten Aufträge enthalten sind.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-fulfillment-gutschriften" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen im Menü <strong>Gutschriften / Korrekturbelege erzeugen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumenttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob Dokumente vom Typ <strong>Gutschrift</strong> oder <strong>Korrekturbeleg</strong> erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Liste den Status der Aufträge wählen, die für die Erstellung der Gutschriften berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner aus, für dessen Aufträge die Gutschriften erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Gutschriften erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standort aus, für den die Gutschriften erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Lager oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine der Zahlungsarten oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, wie die erzeugten Gutschriften sortiert werden sollen. Die Optionen <strong>Gutschriftnummer</strong>, <strong>Auftrags-ID</strong>, <strong>Kunden-ID</strong> und <strong>Artikel-ID</strong> geben verschiedene Sortierungen aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, wie viele Gutschriften maximal pro Durchgang erzeugt werden. Das Maximum liegt bei <strong>200</strong> Gutschriften.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status, in den die Aufträge nach Erzeugung der Gutschriften wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du kannst hier einen Text verfassen, der später auf allen erzeugten Gutschriften unterhalb der Artikelpositionen erscheint. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>