<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Artikeldaten darstellen</span></a></li>
<li><a href="#200"><span>2.</span><span> PDF-Vorlage hochladen</span></a></li>
<li><a href="#300"><span>3.</span><span> Lager-Pickliste ändern</span></a></li>
<li><a href="#400"><span>4.</span><span> Lager-Pickliste erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lager-Picklisten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets kannst du Lager-Picklisten als PDF-Dateien erzeugen, um diese z.B. zu drucken oder in andere Programme zu importieren. Im Gegensatz zur regulären <a href="/auftraege/auftragsdokumente/pickliste">Pickliste</a> gibt die Lager-Pickliste die relevanten Artikelpositionen für ein spezifisches Lager aus. Wenn du mehrere Lager nutzt, kannst du somit die Lager-Pickliste nutzen, um deinen Kommissionierungsprozess effektiver zu gestalten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Artikeldaten darstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Dokumente » Lager-Pickliste</strong> bestimmst du, welche Artikeldaten deine Lager-Picklisten enthalten, z.B. <strong>Artikel-ID</strong>, <strong>Menge</strong>, <strong>Lagerort</strong> oder <strong>Rechnungsnummer</strong>. Außerdem kannst du festlegen, an welchen Positionen und in welcher Reihenfolge diese Daten auf der Lager-Pickliste erscheinen.</p>
</div>
<div class="paragraph">
<p>Für die meisten der in <a href="#tabelle-auftraege-optionen-lager-pickliste">Tabelle 1</a> beschriebenen Felder kannst du eine individuelle <strong>Breite</strong>, Schriftgröße und Schriftstärke einstellen, mit der diese Felder auf der erzeugten Lager-Pickliste erscheinen. Nutze die Funktion <strong>Vorschau</strong>, um die Ergebnisse deiner Einstellungen zu kontrollieren, während du die Dokumentenvorlage einrichtest.
Weise den Feldern die Positionsnummern 1 bis 14 aus dem jeweiligen Drop-Down-Menü zu, um sie in der Reihenfolge deiner Wahl auf der Lager-Pickliste auszugeben. Soll ein Feld nicht angezeigt werden, wähle die Option <strong>Pos</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Pflichteinstellung</div>
<div class="paragraph">
<p>Es muss mindestens eins der Felder <strong>Auftrags-ID</strong> oder <strong>Rechnungsnummer</strong> aktiviert sein. Dies geschieht durch Zuweisung einer <strong>Position</strong> auf der Lager-Pickliste. Wähle hier eine der noch nicht vergebenen Positionsnummern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Lager-Pickliste-01.png" alt="DE Einstellungen Auftraege Dokumente Lager Pickliste 01">
</div>
<div class="title">Bild 1. Optionen im Menü <strong>Lager-Pickliste</strong></div>
</div>
<div class="paragraph instruction">
<p>Artikeldaten darstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Dokumente » Lager-Pickliste</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-auftraege-optionen-lager-pickliste">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-auftraege-optionen-lager-pickliste" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Lager-Pickliste</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenrand oben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Wert (in mm) für den oberen Seitenrand eintragen. Den Wert bei Bedarf anpassen, wenn z.B. eine PDF-Vorlage verwendet wird, die oben im "Briefpapier" die Firmenangaben und ein Logo enthält und dieser "Header" oberhalb der Lager-Pickliste positioniert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, in welchem Zeichensatz Ihre Lager-Pickliste codiert wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der <strong>Lagerort</strong> auf der Lager-Pickliste dargestellt wird. Es kann z.B. nur der Lagerortname angezeigt werden oder eine Kombination aus Lager-Informationen, d.h. <strong>Dimensionen/Lagerortname</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Artikelmenge auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Artikel-ID auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Variantennummer auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die GTIN des Artikels auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das entsprechende <strong>Freitextfeld 1-20</strong> aus der Dropdown-Liste wählen.<br>
Freitextfelder zuerst im Menü <strong><a href="/artikel/artikel-verwalten#70">Einrichtung » Artikel » Freitextfelder</a></strong> anlegen. Danach die angelegten Freitextfelder mit den entsprechenden Artikeln verknüpfen und die Werte für die Felder eintragen. Dies erfolgt im Menü <a href="/artikel/artikel-verwalten#75"><strong>Artikel » Artikel bearbeiten » Tab: Felder</strong></a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, welche Informationen die Artikelbeschreibung in der Lager-Pickliste enthalten soll. Der <strong>Artikelname</strong> wird immer mit diesem Feld angezeigt. Zusätzlich können noch weitere Angaben ausgewählt werden, z.B. <strong>Artikel-ID</strong>, <strong>Externe Artikel-ID</strong>, <strong>Artikelnummer</strong> und <strong>EAN</strong>. Sollen Parameter in der Lager-Pickliste nicht angezeigt werden, Häkchen jeweils entfernen.&nbsp;Die Auswahl gilt auch für Varianten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Auftrags-ID auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Rechnungsnummer auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferschein-Nr</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Lieferscheinnummer auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der Hersteller auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der Artikelpreis auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MHD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie das Mindesthaltbarkeitsdatum auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Charge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Chargennummer auf der Lager-Pickliste dargestellt wird.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Mit den in Bild 1 angezeigten Einstellungen sieht eine Lager-Pickliste beispielsweise so aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Lager-Pickliste-02.png" alt="DE Einstellungen Auftraege Dokumente Lager Pickliste 02">
</div>
<div class="title">Bild 2. Beispiel für eine Lager-Pickliste</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. PDF-Vorlage hochladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Vorlage wird für das "Briefpapier" deines Shops benötigt, also eine Seite, die deine Firmendaten, Layoutelemente gemäß dem Corporate Design deines Unternehmens sowie dein Logo enthält. Diese Vorlage wird für das System im PDF-Format benötigt. Mit plentymarkets kannst du eine Dokumenten-Vorlage im PDF-Format für die Lager-Pickliste verwenden. Gehe wie im Folgenden beschrieben vor, um eine PDF-Vorlage hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Dokumente » Lager-Pickliste</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Durchsuchen</strong>.</p>
</li>
<li>
<p>Wähle eine PDF-Datei als Vorlage aus.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die PDF-Vorlage erscheint nun im Tab <strong>Vorlagen</strong>. Du kannst dort eine Vorschau sehen oder die PDF-Vorlage wieder löschen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Wenn du z.B. eine PDF-Vorlage mit "Header" verwendest und du diesen Header oberhalb der Lager-Pickliste positionieren möchtest, musst du ggf. den hinterlegten Wert im Feld <strong>Seitenrand oben</strong> noch anpassen (siehe Tabelle 1).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Details zu Dokumenten-Vorlagen findest du auf der Handbuchseite <strong><a href="/auftraege/auftragsdokumente">Dokumente</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Lager-Pickliste ändern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Fulfillment » Lager-Pickliste</strong> hast du die Möglichkeit, eine Lager-Pickliste zu erzeugen sowie dabei eine Statusänderung einzustellen. Die Lager-Pickliste wird als PDF-Datei erzeugt.
Prüfe die Konfiguration der Dokumentenvorlage in den Einstellungen der Lager-Pickliste, bevor du eine Lager-Pickliste erzeugst.
Der Link <strong>PDF-Pickliste ändern</strong> im Menü Lager-Pickliste führt zu den Einstellungen im Menü <strong>Einrichtung » Aufträge » Dokumente » <a href="/auftraege/auftragsdokumente/lager-pickliste">Lager-Pickliste</a></strong>, in dem die Vorlage für das Dokument und die PDF-Vorlage für die Lager-Pickliste konfiguriert werden.
Nachfolgend ein Beispiel einer Lager-Pickliste mit Angabe der <strong>Auftrags-ID</strong> sowie der <strong>Rechnungsnummer</strong>. Es ist zu empfehlen, die <strong>Auftrags-ID</strong> in jedem Fall zu aktivieren, da nicht immer bereits eine Rechnung verfügbar ist, wie im folgenden Beispiel zu sehen ist.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/DE-Auftraege-Fulfillment-Lager-Pickliste-01.png" alt="DE Auftraege Fulfillment Lager Pickliste 01">
</div>
<div class="title">Bild 3. PDF-Ausgabe der Lager-Pickliste</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Lager-Pickliste erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die Einstellungen anhand <a href="#tabelle-auftraege-optionen-lager-pickliste">Tabelle 1</a> vorgenommen hast, kannst du im Bereich <strong>Aufträge » Fulfillment</strong> festlegen, welche Aufträge die Lager-Pickliste beinhalten soll. Über einen <strong>Suchfilter</strong> kannst du festlegen, welche Aufträge berücksichtigt werden und wie diese auf der Lager-Pickliste sortiert werden.</p>
</div>
<div class="paragraph">
<p>Gehe wie nachfolgend beschrieben vor, um eine Lager-Pickliste zu erzeugen.</p>
</div>
<div class="paragraph instruction">
<p>Lager-Pickliste erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Lager-Pickliste</strong>.</p>
</li>
<li>
<p>Wähle die Einstellungen anhand der Erläuterungen in <a href="#tabelle-fulfillment-optionen-lager-pickliste">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Lager-Pickliste zu erzeugen.</p>
</li>
</ol>
</div>
<table id="tabelle-fulfillment-optionen-lager-pickliste" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen im Untermenü <strong>Lager-Pickliste</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status der Aufträge wählen, die für die Lager-Pickliste berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Eigner wählen, für dessen Aufträge die Dokumente erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Dokumente erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong> = nur Standard-Webshop<br>
<strong>ALLE</strong> = Webshop und Mandanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Lager oder die Option <strong>ALLE</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragslimit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie viele Aufträge pro Durchgang bearbeitet werden sollen. Einstellbar ist ein Wert zwischen 5 und 300.<br>
Es kann pro Durchgang höchstens das maximal einstellbare Limit an Aufträgen bearbeitet werden. Wenn die Anzahl der Aufträge, die bearbeitet werden sollen, größer ist, als das höchste einstellbare Limit, muss der Prozess entsprechend oft wiederholt werden. Je geringer das eingestellte Limit, desto optimaler ist die Systemleistung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungen anhängen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option <strong>Ja</strong>, um im Anschluss an die Lager-Pickliste die Rechnungen nach Auftrags-ID sortiert in die PDF-Datei einzufügen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungen pro Gruppierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, wie viele Rechnungen pro Gruppierung ausgegeben werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen, in den die Aufträge nach dem Erzeugen der Lager-Pickliste wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>