<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Dokumentenvorlage für Lieferscheine einrichten</span></a></li>
<li><a href="#200"><span>2.</span><span> Einzelnen Lieferschein erzeugen</span></a></li>
<li><a href="#300"><span>3.</span><span> Mehrere Lieferscheine erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lieferscheine</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets kannst dz Lieferscheine als PDF-Dateien generieren, um diese z.B. zu drucken oder in andere Programme zu importieren. Lieferscheine sind für deine Kunden ein wichtiges Dokument zur Prüfung des Wareneingangs.
Stelle deshalb sicher, dass wichtige Angaben wie das Bestelldatum, die Artikelpositionen und die Mengenangaben richtig angezeigt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Dokumentenvorlage für Lieferscheine einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Lieferscheine generieren kannst, muss eine Dokumentenvorlage eingerichtet werden. Dies geschieht im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong>.<br>
Weitere Informationen und Anleitungen zur Einrichtung der Dokumentenvorlage findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Einzelnen Lieferschein erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Einen einzelnen Lieferschein kannst du in plentymarkets bei Bedarf manuell am Auftrag erzeugen.</p>
</div>
<div class="paragraph instruction">
<p>Einzelnen Lieferschein erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.<br>
→ Die Auftragsübersicht öffnet sich.</p>
</li>
<li>
<p>Wähle durch Klick auf die <strong>Auftrag-ID</strong> den Auftrag aus, für den ein Lieferschein erzeugt werden soll.<br></p>
</li>
<li>
<p>Wechsle in das Tab <strong>Belege</strong>.<br></p>
</li>
<li>
<p>Wähle im Drop-Down-Menü <strong>Beleg erstellen</strong> das Dokument <strong>Lieferschein</strong> aus.<br></p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-auftraege-belege-lieferschein">Tabelle 1</a> vor.<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen, um den Lieferschein zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong> mit dem soeben erzeugten Lieferschein.</p>
</li>
</ol>
</div>
<table id="tabelle-auftraege-belege-lieferschein" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Beleg erstellen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, das auf dem Lieferschein angezeigt wird. Standardmäßig ist das aktuelle Datum voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Nummer des Dokuments wird automatisch vergeben. Hier muss keine Angabe gemacht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Buche Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> auswählen, ob mit dem Erzeugen des Lieferscheins auch der Warenausgang gebucht werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> wählen, wenn alle Artikelpositionen angezeigt werden sollen, auch wenn sie aus verschiedenen Lagern geliefert werden. Ein spezielles Lager aus der Liste wählen, um nur Artikelpositionen aus dem ausgewählen Lager auf dem Lieferschein anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus auf Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status wählen, in den der Auftrag nach dem Erzeugen des Lieferscheins wechseln soll. Wenn kein Statuswechsel gewünscht ist, die Option <strong>Keine Änderung</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Text eingeben, der auf dem Lieferschein unterhalb der Artikelpositionen angezeigt wird. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Mehrere Lieferscheine erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sollen mehrere Lieferscheine zugleich erzeugt werden, kannst du über einen Suchfilter im Menü <strong>Aufträge » Fulfillment</strong> festlegen, welche Aufträge berücksichtigt werden. Zudem kannst du in diesem Menü festlegen, ob der Status des Auftrags geändert werden soll, nachdem die Lieferscheine erzeugt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Lieferscheine erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Lieferscheine erzeugen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-einstellungen-fulfillment-lieferscheine">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Lieferscheine zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong>, in der die zugehörigen Lieferscheine aller von dir durch die Suchfilter bestimmten Aufträge enthalten sind.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-fulfillment-lieferscheine" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen im Untermenü <strong>Lieferscheine erzeugen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Liste den Status der Aufträge wählen, die für die Lieferscheine berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausdruck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, ob nur Lieferscheine für Aufträge generiert werden, für die eine Lieferanschrift vorhanden ist, oder für <strong>ALLE</strong> Aufträge.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgangsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Datum aus dem Kalender aus, das als Warenausgangsdatum auf den Lieferscheinen erscheinen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner aus, für dessen Aufträge die Lieferscheine erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Lieferscheine erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standort aus, für den die Lieferscheine erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Lager oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine der Zahlungsarten oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, wie die erzeugten Lieferscheine sortiert werden sollen. Die Optionen <strong>Rechnungsnummer</strong>, <strong>Auftrags-ID</strong>, <strong>Kunden-ID</strong> und <strong>Artikel-ID</strong> geben verschiedene Sortierungen aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, wie viele Lieferscheine maximal pro Durchgang erzeugt werden. Das Maximum liegt bei <strong>200</strong> Lieferscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferscheindatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Datum aus dem Kalender aus, das als Lieferscheindatum auf den Lieferscheinen erscheinen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status, in den die Aufträge nach Erzeugung der Lieferscheine wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier kannst du einen Text verfassen, der später auf allen Lieferscheinen unterhalb der Artikelpositionen erscheint. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>