<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Artikeldaten darstellen</span></a></li>
<li><a href="#300"><span>2.</span><span> PDF-Vorlage hochladen</span></a></li>
<li><a href="#400"><span>3.</span><span> Packliste erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Packlisten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets kannst du Packlisten als PDF-Dateien generieren.<br>
Eine Packliste liefert dir eine Übersicht der Aufträge inklusive aller enthaltenen Auftragspositionen. Zudem ist die Auftrags-ID als Barcode abgebildet. So kann der Warenausgang der Aufträge nach dem Versand mittels Scannen des Barcodes gebucht werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Artikeldaten darstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Dokumente » Packliste</strong> bestimmst du mithilfe der Optionen <strong>anzeigen</strong> und <strong>nicht anzeigen</strong>, welche Artikeldaten auf deinen Packlisten angezeigt werden, z.B. <strong>Artikel-ID</strong>, <strong>Menge</strong> oder <strong>Artikelbild</strong>.<br></p>
</div>
<div class="paragraph">
<p>Für einige der in <a href="#tabelle-optionen-packliste">Tabelle 1</a> beschriebenen Felder kannst du eine individuelle <strong>Breite</strong> und Schriftgröße einstellen, mit der diese Felder auf der erzeugten Packliste erscheinen. Nutze die Funktion <strong>Vorschau</strong>, um die Ergebnisse deiner Einstellungen zu kontrollieren, während du die Dokumentenvorlage einrichtest.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Standardinformationen auf der Packliste</div>
<div class="paragraph">
<p>Unabhängig von den Einstellungen, die du im Menü <strong>Einrichtung » Aufträge » Dokumente » Packliste</strong> vornimmt, werden in plentymarkets folgende Daten standardmäßig auf jeder Packliste ausgegeben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kundenname und -adresse</p>
</li>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Auftragsdatum</p>
</li>
<li>
<p>Artikelmenge und -bezeichnung</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
<li>
<p>Zahlungsart</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Packliste-01.png" alt="DE Einstellungen Auftraege Dokumente Packliste 01">
</div>
<div class="title">Bild 1. Optionen im Menü <strong>Packliste</strong></div>
</div>
<div class="paragraph instruction">
<p>Artikeldaten darstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Dokumente » Packliste</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dabei die Erläuterungen in <a href="#tabelle-optionen-packliste">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-packliste" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Packliste</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenrand oben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Wert (in mm) für den oberen Seitenrand eintragen. Den Wert ggf. anpassen wenn eine PDF-Vorlage verwendet wird, die oben im "Briefpapier" z.B. die Firmenangaben und ein Logo enthält und dieser "Header" oberhalb der Packliste positioniert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, in welchem Zeichensatz deine Packliste codiert wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Darstellungen der Auftragsinformationstexte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, welche Informationstexte auf der Packliste angezeigt werden sollen. Zwischen den Optionen <strong>Kundenwünsche &amp; Auftragsinformationstexte</strong> und <strong>nur Kundenwünsche</strong> wählen. In Bild 2 ist zu sehen, wie die Kundenwünsche (blauer Pfeil) und Auftragsinformationstexte (roter Pfeil) auf der Packliste angezeigt werden.<br>
Kunden können bestimmte Wünsche zu der Bestellung im <strong>Mein Konto-Bereich</strong> des Webshops eingeben. Dies erfolgt in der Auftragshistorie im Bereich <strong>Hinweise</strong>.<br>
Im Menü <strong>Aufträge » Aufträge bearbeiten » Tab: Übersicht » Tab: Auftragsnotiz</strong> können Informationstexte zu einem Auftrag hinterlegt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Artikelmenge auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der Barcode auf der Packliste dargestellt wird. Zur Wahl stehen die Optionen <strong>GTIN13</strong> und <strong>CODE128</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Artikel-ID auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Varianten-ID auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Varianten-Nummer auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die GTIN auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die externe Varianten-ID, die beispielsweise dein Lieferant vergibt, auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellmerkmale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie Bestellmerkmale auf der Packliste dargestellt werden. Informationen zur Verwaltung von Merkmalen und Bestellmerkmalen findest du auf der Handbuchseite <strong><a href="/artikel/artikel-verwalten#480">Artikel verwalten</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der <strong>Lagerortname</strong> auf der Packliste dargestellt wird. Entweder nur den Lagerortnamen anzeigen lassen oder verschiede Kombinationen aus Lager-Informationen, wie <strong>Regal/Regalboden/Lagerortname</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie ein Artikelbild der bestellten Variante auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MHD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie das Mindesthaltbarkeitdatum auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Charge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Chargennummer auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telefonnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob die Telefonnummer des Kunden auf der Packliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob die E-Mail Adresse des Kunden auf der Packliste dargestelllt wird.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Mit den in Bild 1 angezeigten Einstellungen sieht die erzeugte Packliste beispielsweise so aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Packliste-02.png" alt="DE Einstellungen Auftraege Dokumente Packliste 02">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. PDF-Vorlage hochladen</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>PDF-Vorlage hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Dokumente » Packliste</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Öffne das das Tab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Durchsuchen</strong>.</p>
</li>
<li>
<p>Wähle die PDF-Dokumenten-Vorlage aus.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die PDF-Vorlage erscheint nun im Tab <strong>Vorlagen</strong>. Du kannst dort eine Vorschau sehen oder die PDF-Vorlage wieder löschen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Wenn deine Vorlage einen Header enthält, ist es sinnvoll, den Header oberhalb der Packliste zu positionen. Achte deshalb darauf, dass der obere Rand groß genug für deinen Header ist und passe den Wert falls nötig an (siehe <a href="#tabelle-optionen-packliste">Tabelle 1</a>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Packliste erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die Einstellungen anhand <a href="#tabelle-optionen-packliste">Tabelle 1</a> vorgenommen hast, kannst du im Bereich <strong>Aufträge » Fulfillment</strong> festlegen, welche Aufträge die Packliste beinhalten soll. Über einen <strong>Suchfilter</strong> kannst du festlegen, welche Aufträge berücksichtigt werden und wie diese auf der Packliste sortiert werden.</p>
</div>
<div class="paragraph">
<p>Um eine Packliste zu erzeugen, gehe wie nachfolgend beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Packliste erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Packliste</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-einstellungen-fulfillment-packliste">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Packliste zu erzeugen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-fulfillment-packliste" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen im Untermenü <strong>Packliste</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Liste den Status der Aufträge wählen, die für die Packliste berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü einen Eigner wählen, für dessen Aufträge die Dokumente erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Dokumente erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong> = nur Standard-Webshop<br>
<strong>ALLE</strong> = Webshop und Mandanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü ein Lager oder die Option <strong>ALLE</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü wählen, wie die Posten auf der Packliste sortiert werden. Die Optionen <strong>Auftrags-ID</strong>, <strong>Rechnungsnummer</strong> und <strong>Artikel-ID</strong> geben verschiedene Sortierungen aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü wählen, wie viele Aufträge pro Durchgang bearbeitet werden. Einstellbar ist ein Wert zwischen 50 und 200.<br>
Es kann pro Durchgang höchstens das maximal einstellbare Limit an Aufträgen bearbeitet werden. Sollen mehr Aufträge bearbeitet werden, muss der Prozess entsprechend oft wiederholt werden. Je geringer das eingestellte Limit, desto optimaler ist die Systemleistung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status, in den die Aufträge nach dem Erzeugen der Packliste wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Der Link <strong>Packliste ändern</strong> führt zu den Einstellungen im Menü <strong>Einrichtung » Aufträge » Dokumente » Packliste</strong>, in dem die Vorlage für das Dokument und die PDF-Vorlage eingerichtet werden.</p>
</div>
<div class="paragraph">
<p>Achtung: Wenn du in diesem Menü Änderungen vornimmst, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündige Änderungen daher ggf. weiteren Benutzern an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>