<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Artikeldaten darstellen</span></a></li>
<li><a href="#200"><span>2.</span><span> PDF-Vorlage hochladen</span></a></li>
<li><a href="#300"><span>3.</span><span> Pickliste erzeugen</span></a></li>
<li><a href="#400"><span>4.</span><span> Abgeschlossene Picklisten löschen</span></a>
<ul class="sectlevel2">
<li><a href="#410"><span>4.1.</span><span> Abgeschlossene Picklisten wählen und löschen</span></a></li>
<li><a href="#420"><span>4.2.</span><span> Alle abgeschlossenen Picklisten auf einmal löschen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Picklisten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets generierst du Picklisten als PDF- oder CSV-Dateien, um diese z.B. zu drucken oder in andere Programme zu importieren. Wenn du Barcodes auf deiner Pickliste abbildest, kannst du die Artikel auf der Pickliste direkt scannen, um nach der Kommissionierung den anschließenden Warenausgang zu buchen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Artikeldaten darstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Dokumente » Pickliste</strong> bestimmst du, welche Artikeldaten auf deinen Picklisten angezeigt werden, z.B. <strong>Artikel-ID</strong>, <strong>Hersteller</strong> oder <strong>Artikelpreis</strong>.<br></p>
</div>
<div class="paragraph">
<p>Für die meisten der in <a href="#tabelle-optionen-pickliste">Tabelle 1</a> beschriebenen Felder kannst du eine individuelle <strong>Breite</strong>, Schriftgröße und Schriftstärke einstellen, mit der diese Felder auf der erzeugten Pickliste erscheinen. Nutze die Funktion <strong>Vorschau</strong>, um die Ergebnisse deiner Einstellungen zu kontrollieren, während du die Dokumentenvorlage einrichtest.
Weise den Feldern die Positionsnummern 1 bis 14 aus dem jeweiligen Drop-Down-Menü zu, um sie in der Reihenfolge deiner Wahl auf der Pickliste auszugeben. Soll ein Feld nicht angezeigt werden, wähle die Option <strong>Pos</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Artikeldaten darstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Dokumente » Pickliste</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dabei die Erläuterungen in <a href="#tabelle-optionen-pickliste">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-pickliste" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Pickliste</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenrand oben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Wert (in mm) für den oberen Seitenrand eintragen. Den Wert bei Bedarf anpassen, wenn z.B. eine PDF-Vorlage verwendet wird, die oben im "Briefpapier" die Firmenangaben und ein Logo enthält und dieser "Header" oberhalb der Lager-Pickliste positioniert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, in welchem Zeichensatz deine Pickliste codiert wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID-Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Auftrags-ID in Form eines Barcodes an. Mithilfe der Variablen <strong>X</strong> und <strong>Y</strong> bestimmen, an welcher Position der <strong>ID-Barcode</strong> angezeigt werden soll. Gibst du beispielsweise für beide Variablen den Wert 0 an, wird der <strong>ID-Barcode</strong> in der linken oberen Ecke der Pickliste angezeigt. Weitere Informationen zum Positionieren von Elementen über die Eingabe von Koordinaten findest du auf der entsprechenden <a href="/auftraege/auftragsdokumente#50">Handbuchseite</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Artikelmenge auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Artikel-ID auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die externe Varianten-ID, die beispielsweise dein Lieferant vergibt, auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Varianten-ID auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Variantennummer auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die erste GTIN einer Variante aus. GTINs legst du als Barcodes an und trägst sie dann beim Artikel ein. Der GTIN-Barcode, den du als erstes angelegt hast und der somit die niedrigste ID hat, wird hier ausgegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN-Barcode</strong><br>
Wir empfehlen, die Option <strong>Barcode</strong> zu nutzen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die erste GTIN einer Variante als Barcode aus. GTINs legst du als Barcodes an und trägst sie dann beim Artikel ein. Der GTIN-Barcode, den du als erstes angelegt hast und der somit die niedrigste ID hat, wird hier ausgegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der Barcode auf der Pickliste dargestellt wird. Zur Wahl steht die Variantennummer sowie alle von dir angelegten Barcodes der folgenden Typen:<br>
<strong>Variantennummer</strong>, <strong>GTIN13</strong>, <strong>GTIN128</strong> und <strong>UPC</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto-Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der Netto-Warenbestand auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brutto-Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der Brutto-Warenbestand auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der <strong>Lagerortname</strong> auf der Pickliste dargestellt wird. Es kann z.B. nur der Lagerortname angezeigt werden oder verschiede Kombinationen aus Lager-Informationen, wie Dimensionen / Lagerortname.<br>
Standardmäßig werden auch Angaben zur Menge am Lagerort angezeigt. Wenn dies nicht gewünscht ist, die Option <strong>Menge am Lagerort ausblenden</strong> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MHD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie das Mindesthaltbarkeitsdatum einer Variante dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Charge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Chargennummer einer Variante dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Freitextfeld wählen, dessen Inhalt auf der Pickliste dargestellt wird.<br>
Freitextfelder zuerst im Menü <strong>Einrichtung » Artikel » Freitextfelder</strong> anlegen. Danach die angelegten Freitextfelder mit Artikeln verknüpfen und Werte für die Felder eintragen. Dies erfolgt im Tab <strong>Felder</strong> eines Artikels.<br>
Siehe dazu die Handbuchseite <strong><a href="/artikel/artikel-verwalten#70">Artikel verwalten</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle durch Setzen des Häkchens, welche Informationen die Artikelbeschreibung in der Pickliste enthalten soll. Der <strong>Artikelname</strong> wird immer mit diesem Feld angezeigt. Zusätzlich können noch weitere Angaben ausgewählt werden, z.B. <strong>Artikel-ID</strong>, <strong>Externe Artikel-ID</strong>, <strong>Varianten-Nr.</strong> und <strong>GTIN</strong>.<br>
Sollen Parameter in der Pickliste nicht angezeigt werden, Häkchen jeweils entfernen. Die Auswahl gilt auch für Varianten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der Name des Herstellers auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie der Artikelpreis auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie das Artikelbild auf der Pickliste dargestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob eine Auftragsliste angezeigt werden soll. Die Auftragsliste gibt die Auftrags-ID des Auftrages an, zu dem ein Artikel gehört. Ist ein Artikel in mehreren Aufträgen enthalten, werden die IDs dieser Aufträge aufgelistet.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Mit den in Bild 1 angezeigten Einstellungen sieht eine Pickliste beispielsweise so aus:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Pickliste-02.png" alt="DE Einstellungen Auftraege Dokumente Pickliste 02">
</div>
<div class="title">Bild 1. Beispiel einer Pickliste</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. PDF-Vorlage hochladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Vorlage wird für das "Briefpapier" deines Shops benötigt, also eine Seite, die deine Firmendaten, Layoutelemente gemäß dem Corporate Design deines Unternehmens sowie dein Logo enthält. Diese Vorlage wird für das System im PDF-Format benötigt. Mit plentymarkets kannst du eine Dokumenten-Vorlage im PDF-Format für die Pickliste verwenden. Gehe wie nachfolgend beschrieben vor, um eine PDF-Vorlage hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Dokumente » Pickliste</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Durchsuchen</strong> und wähle die PDF-Dokumenten-Vorlage aus.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die PDF-Vorlage erscheint nun im Tab <strong>Vorlagen</strong>. Du kannst dort eine Vorschau sehen oder die PDF-Vorlage wieder löschen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Wenn deine Vorlage einen Header enthält, ist es sinnvoll, den Header oberhalb der Pickliste zu positionen. Achte deshalb darauf, dass der obere Rand groß genug für deinen Header ist und passe den Wert falls nötig an (siehe <a href="#tabelle-optionen-pickliste">Tabelle 1</a>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Pickliste erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die Einstellungen anhand <a href="#tabelle-optionen-pickliste">Tabelle 1</a> vorgenommen hast, kannst du im Bereich <strong>Aufträge » Fulfillment</strong> festlegen, welche Aufträge die Pickliste beinhalten soll. Über einen <strong>Suchfilter</strong> kannst du festlegen, welche Aufträge berücksichtigt werden und wie diese auf der Pickliste sortiert werden.</p>
</div>
<div class="paragraph">
<p>Gehe wie nachfolgend beschrieben vor, um eine Pickliste zu erzeugen.</p>
</div>
<div class="paragraph instruction">
<p>Pickliste erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Pickliste</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-einstellungen-fulfillment-pickliste">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Pickliste zu erzeugen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-fulfillment-pickliste" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen im Untermenü <strong>Pickliste</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Liste den Status der Aufträge wählen, die für die Pickliste berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü einen Eigner wählen, für dessen Aufträge die Dokumente erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Dokumente erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong> = nur Standard-Webshop<br>
<strong>ALLE</strong> = Webshop und Mandanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü ein Lager oder die Option <strong>ALLE</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü wählen, wie die Posten auf der Pickliste sortiert werden. Die Optionen <strong>Artikel-ID</strong>, <strong>Artikelnummer</strong>, <strong>Position Lagerort</strong> und <strong>Kategoriename der Standardkategorie aus dem Hauptshop (nur erste Ebene)</strong> geben verschiedene Sortierungen aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragslimit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü wählen, wie viele Aufträge pro Durchgang bearbeitet werden. Einstellbar ist ein Wert zwischen 5 und 300.<br>
Es kann pro Durchgang höchstens das maximal einstellbare Limit an Aufträgen bearbeitet werden. Wenn die Anzahl der Aufträge, die bearbeitet werden sollen, größer ist als das höchste einstellbare Limit, muss der Prozess entsprechend oft wiederholt werden. Je geringer das eingestellte Limit, desto optimaler ist die Systemleistung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausgabeformat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü wählen, in welchem Dateiformat die Pickliste exportiert werden soll. Zur Auswahl stehen die Formate <strong>PDF</strong> und <strong>CSV</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status, in den die Aufträge nach dem Erzeugen der Pickliste wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Der Link <strong>PDF-Pickliste ändern</strong> führt zu den Einstellungen im Menü <strong>Einrichtung » Aufträge » Dokumente » Pickliste</strong>, in dem die Vorlage für das Dokument und die PDF-Vorlage eingerichtet werden. Über den Link <strong>CSV-Pickliste ändern</strong> gelangst du in ein separates Menü, in dem du die Spalten einstellen kannst, wenn die Pickliste im CSV-Format ausgegeben werden soll.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Abgeschlossene Picklisten löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst entweder bis zu 50 abgeschlossene Picklisten wählen und gemeinsam löschen, oder du löschst alle abgeschlossenen Picklisten auf einmal. Picklisten, die noch nicht abgeschlossen sind, können nicht gelöscht werden.</p>
</div>
<div class="sect2">
<h3 id="410">4.1. Abgeschlossene Picklisten wählen und löschen</h3>
<div class="paragraph">
<p>Wenn du die Picklisten explizit auswählst und anschließend löschst, hast du noch einmal die Möglichkeit zu überblicken, was du löschst. Die abgeschlossenen Picklisten werden absteigend nach Datum sortiert. Somit werden die neuesten abgeschlossenen Picklisten zuerst angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Picklisten auswählen und löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Pickliste</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Löschen</strong>.</p>
</li>
<li>
<p>Wähle bis zu 50 Picklisten aus der Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Picklisten löschen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Anschließend kannst du erneut bis zu 50 Picklisten auswählen und löschen.</p>
</div>
</div>
<div class="sect2">
<h3 id="420">4.2. Alle abgeschlossenen Picklisten auf einmal löschen</h3>
<div class="paragraph">
<p>Wenn du alle abgeschlossenen Picklisten auf einmal löschst, bleibt dir keine Möglichkeit, die Picklisten noch einmal zu überblicken.</p>
</div>
<div class="paragraph instruction">
<p>Alle abgeschlossenenen Picklisten löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Pickliste</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Löschen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Alle abgeschlossenen Picklisten löschen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>OK</strong>, um die Sicherheitsabfrage zu bestätigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>