<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Dokumentenvorlagen für Rechnungen einrichten</span></a></li>
<li><a href="#200"><span>2.</span><span> Einzelne Rechnung erzeugen</span></a></li>
<li><a href="#300"><span>3.</span><span> Mehrere Rechnungen erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Rechnungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets generierst du Rechnungen entweder einzeln oder gesammelt als PDF-Dateien, um diese z.B. zu drucken oder deinen Kunden als E-Mail Anhang zukommen zu lassen.<br>
Je nach Lieferland und Standort unterliegen Rechnungen verschiedenen gesetzlichen Bestimmungen. Informiere sich genau über diese Bestimmungen und stelle sicher, dass alle jeweils vorgegebenen Rechnungsdaten enthalten sind.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Dokumentenvorlagen für Rechnungen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Rechnungen generieren kannst, muss eine Dokumentenvorlage eingerichtet werden. Dokumentenvorlagen richtest du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong> ein.<br>
Weitere Informationen und Anleitungen zur Einrichtung der Dokumentenvorlage findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Angaben zu Zahlungsziel und Skonto auf der Rechnung</div>
<div class="paragraph">
<p>Damit Angaben zu Valuta, Zahlungsziel und Skontierung grundsätzlich auf Rechnungen angezeigt werden, müssen diese Optionen zwingend beim Einrichten der Dokumentenvorlage für Rechnungen aktiviert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Einzelne Rechnung erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine einzelne Rechnung kannst du in plentymarkets bei Bedarf direkt an einem beliebigen Auftrag erzeugen.</p>
</div>
<div class="paragraph instruction">
<p>Einzelne Rechnung erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.<br>
→ Die Auftragsübersicht öffnet sich.</p>
</li>
<li>
<p>Wähle durch Klick auf die <strong>Auftrag-ID</strong> den Auftrag aus, für den eine Rechnung erzeugt werden soll.<br></p>
</li>
<li>
<p>Wechsle in das Tab <strong>Belege</strong>.<br></p>
</li>
<li>
<p>Wähle im Drop-Down-Menü <strong>Beleg erstellen</strong> das Dokument <strong>Rechnung</strong> aus.<br></p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-auftraege-belege-rechnung">Tabelle 1</a> vor.<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen, um die Rechnung zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong> mit der soeben erzeugten Rechnung.</p>
</li>
</ol>
</div>
<table id="tabelle-auftraege-belege-rechnung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Beleg erstellen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Datum angeben, das als Rechnungsdatum auf der Rechnung angezeigt wird. Standardmäßig ist das aktuelle Datum voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valuta/Zahlungsziel/Skonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> auswählen, ob Zahlungsziel, Valuta oder Skonto auf der Rechnung angezeigt werden.<br>
<strong>Hinweis</strong>: Damit diese Informationen korrekt auf der Rechnung angezeigt werden, müssen sie am entsprechenden Kunden im Menü <strong>CRM » Kontakte</strong> hinterlegt sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsziel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soweit noch nicht in den Kundendaten hinterlegt, hier eine Anzahl von Tagen eingeben, die als Zahlungsziel auf der Rechnung erscheinen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skonto von X % bei Zahlung binnen X Tagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soweit noch nicht in den Kundendaten hinterlegt, hier einen Prozentsatz und eine Anzahl von Tagen angeben, um die Skontobedingungen festzulegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Buche Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> auswählen, ob mit dem Erzeugen der Rechnung auch der Warenausgang gebucht werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus auf Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status wählen, in den der Auftrag nach dem Erzeugen der Rechnung wechseln sollen. Wenn kein Statuswechsel gewünscht ist, die Option <strong>Keine Änderung</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Text eingeben, der auf der Rechnung unterhalb der Artikelpositionen angezeigt wird. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Gesperrte Aufträge</div>
<div class="paragraph">
<p>Nach dem Erzeugen einer Rechnung werden Aufträge standardmäßig gesperrt. Es können dann z.B. keine Artikelpositionen mehr hinzugefügt werden. Erstelle einen Stornobeleg, um einen Auftrag trotz vorhandener Rechnung zu bearbeiten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Mehrere Rechnungen erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sollen mehrere Rechnungen zugleich erzeugt werden, legst du über einen Suchfilter im Menü <strong>Aufträge » Fulfillment</strong> fest, welche Aufträge berücksichtigt werden. Zudem kannst du in diesem Menü festlegen, ob der Status des Auftrags geändert werden soll, nachdem die Rechnungen erzeugt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Rechnungen erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Rechnungen erzeugen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-einstellungen-fulfillment-rechnungen">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Rechnungen zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong>, in der die zugehörigen Rechnungen aller von dir durch die Suchfilter bestimmten Aufträge enthalten sind.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-fulfillment-rechnungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen im Untermenü <strong>Rechnungen erzeugen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Liste den Status der Aufträge wählen, die für die Rechnung berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner aus, für dessen Aufträge die Rechnungen erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Rechnungen erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standort aus, für den die Rechnungen erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Lager oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Kundenklasse aus, für die die Rechnungen erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Kundenklassen die Rechnungen erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine der Zahlungsarten oder die Option <strong>ALLE</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, wie die erzeugten Rechnungen sortiert werden sollen. Die Optionen <strong>Auftrags-ID</strong>, <strong>Kunden-ID</strong> und <strong>Artikel-ID</strong> geben verschiedene Sortierungen aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, wie viele Rechnungen maximal pro Durchgang erzeugt werden. Das Maximum liegt bei <strong>200</strong> Rechnungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Datum aus dem Kalender aus, das als Rechnungsdatum auf den Rechnungen erscheinen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status, in den die Aufträge nach Erzeugung der Rechnungen wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>