<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Dokumentenvorlage für Rücksendescheine einrichten</span></a></li>
<li><a href="#300"><span>2.</span><span> Einzelnen Rücksendeschein erzeugen</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>2.1.</span><span> Rücksendeschein am Hauptauftrag erzeugen</span></a></li>
<li><a href="#500"><span>2.2.</span><span> Rücksendeschein am Retourenauftrag erzeugen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>3.</span><span> Mehrere Rücksendescheine erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Rücksendescheine</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets generierst du Rücksendescheine als PDF-Dateien, um diese z.B. zu drucken oder deinen Kunden als E-Mail Anhang zukommen zu lassen.<br>
Somit können deine Kunden Rücksendescheine beispielsweise beim Umtausch von Artikeln oder bei Retouren einfach der Warensendung beilegen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Dokumentenvorlage für Rücksendescheine einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Rücksendescheine generieren kannst, muss eine Dokumentenvorlage eingerichtet werden. Dokumentenvorlagen richtest du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong> ein.<br>
Weitere Informationen und Anleitungen zur Einrichtung der Dokumentenvorlage findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Einzelnen Rücksendeschein erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In manchen Fällen macht es Sinn, Rücksendescheine zu bestimmten Aufträgen manuell zu erzeugen. Dies geschieht sowohl für reguläre Aufträge als auch für Retourenaufträge in der Auftragsübersicht.</p>
</div>
<div class="sect2">
<h3 id="400">2.1. Rücksendeschein am Hauptauftrag erzeugen</h3>
<div class="paragraph">
<p>Einen einzelnen Rücksendeschein kannst du in plentymarkets bei Bedarf manuell direkt am Hauptauftrag erzeugen. Der so erzeugte Rücksendeschein beinhaltet dann alle im Auftrag enthaltenen Artikelpositionen. Nutze diese Methode, um jedem Paket, das du versendest, einen unausgefüllten Rücksendeschein beizulegen. Weitere Informationen hierzu findest du im Kapitel <strong><a href="/auftraege/auftraege-verwalten#450">Rücksendeschein erstellen</a></strong>.</p>
</div>
<div class="paragraph instruction">
<p>Rücksendeschein am Haupauftrag erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.<br>
→ Die Auftragsübersicht öffnet sich.</p>
</li>
<li>
<p>Wähle durch Klick auf die <strong>Auftrag-ID</strong> den Auftrag aus, für den ein Rücksendeschein erzeugt werden soll.<br></p>
</li>
<li>
<p>Wechsle in das Tab <strong>Belege</strong>.<br></p>
</li>
<li>
<p>Wähle im Drop-Down-Menü <strong>Beleg erstellen</strong> das Dokument <strong>Rücksendeschein</strong> aus.<br></p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-auftraege-belege-ruecksendeschein">Tabelle 1</a> vor.<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen, um den Rücksendeschein zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong> mit dem soeben erzeugten Rücksendeschein.</p>
</li>
</ol>
</div>
<table id="tabelle-auftraege-belege-ruecksendeschein" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Beleg erstellen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, das auf dem Rücksendeschein angezeigt wird. Standardmäßig ist das aktuelle Datum voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Nummer des Dokuments wird automatisch vergeben. Hier muss keine Angabe gemacht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus auf Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status wählen, in den der Auftrag nach dem Erzeugen des Rücksendescheins wechseln soll. Wenn kein Statuswechsel gewünscht ist, die Option <strong>Keine Änderung</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Text eingeben, der auf dem Rücksendeschein unterhalb der Artikelpositionen angezeigt wird. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.2. Rücksendeschein am Retourenauftrag erzeugen</h3>
<div class="paragraph">
<p>Möchtedz du deinen Kunden einen Rücksendeschein zur Verfügung stellen, z.B. wenn diese im Mein-Konto-Bereich des Webshops eine Retoure zu einem bestimmten Auftrag beantragen, erstelle einen Rücksendeschein im dazugehörigen Retourenauftrag.</p>
</div>
<div class="paragraph instruction">
<p>Rücksendeschein am Retourenauftrag erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.<br>
→ Die Auftragsübersicht öffnet sich.</p>
</li>
<li>
<p>Wähle durch Klick auf die <strong>Auftrags-ID</strong> den Retourenauftrag aus, für den ein Rücksendeschein erzeugt werden soll.<br></p>
</li>
<li>
<p>Wechsle in das Tab <strong>Belege</strong>.<br></p>
</li>
<li>
<p>Wähle im Drop-Down-Menü <strong>Beleg erstellen</strong> das Dokument <strong>Rücksendeschein</strong> aus.<br></p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-auftraege-belege-ruecksendeschein">Tabelle 1</a> vor.<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen, um den Rücksendeschein zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong> mit dem soeben erzeugten Rücksendeschein.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Mehrere Rücksendescheine erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sollen für mehrere Aufträge zugleich Rücksendescheine erzeugt werden, kannst du über einen Suchfilter im Menü <strong>Aufträge » Fulfillment</strong> festlegen, welche Aufträge berücksichtigt werden. Zudem kannst du in diesem Menü festlegen, ob der Status des Auftrags geändert werden soll, nachdem die Rücksendescheine erzeugt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Rücksendescheine erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Rücksendeschein erzeugen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-einstellungen-fulfillment-ruecksendeschein">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Rücksendescheine zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong>, in der die zugehörigen Rücksendescheine aller von dir durch die Suchfilter bestimmten Aufträge enthalten sind.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-fulfillment-ruecksendeschein" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen im Menü <strong>Rücksendeschein erzeugen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Liste den Status der Aufträge wählen, die für das Erzeugen der Rücksendescheine berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner aus, für dessen Aufträge die Rücksendescheine erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Rücksendescheine erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standort aus, für den die Rücksendescheine erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Lager oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine der Zahlungsarten oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, wie die erzeugten Rücksendescheine sortiert werden sollen. Die Optionen <strong>Auftrags-ID</strong>, <strong>Kunden-ID</strong> und <strong>Artikel-ID</strong> geben verschiedene Sortierungen aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, wie viele Rücksendescheine maximal pro Durchgang erzeugt werden. Das Maximum liegt bei <strong>200</strong> Rücksendescheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status, in den die Aufträge nach Erzeugung der Rücksendescheine wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Text eingeben, der auf allen Rücksendescheinen unterhalb der Artikelpositionen erscheint. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>