<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> App und Begleitmaterial herunterladen</span></a></li>
<li><a href="#300"><span>2.</span><span> Demo-Modus starten</span></a></li>
<li><a href="#400"><span>3.</span><span> Diagramm der POS-Warenkorb: Handy vs. Tablet</span></a></li>
<li><a href="#_probiere_die_kasse_selbst_aus"><span>4.</span><span> Probiere die Kasse selbst aus!</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>4.1.</span><span> Artikel erfassen</span></a></li>
<li><a href="#900"><span>4.2.</span><span> Zahlung entgegennehmen</span></a></li>
<li><a href="#1300"><span>4.3.</span><span> Geschenkgutscheine</span></a></li>
<li><a href="#1600"><span>4.4.</span><span> Rabatte gewähren</span></a></li>
<li><a href="#1900"><span>4.5.</span><span> Stornierungen und Retouren</span></a></li>
<li><a href="#2210"><span>4.6.</span><span> Berichtswesen</span></a></li>
<li><a href="#2300"><span>4.7.</span><span> Weitere Funktionen</span></a></li>
</ul>
</li>
<li><a href="#3000"><span>5.</span><span> Zur Vollversion wechseln</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Demo-Modus</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hast du dich entschieden, deine Ladentheke mit deinem Online-Business zu verbinden? Glückwunsch! Wir von plentymarkets helfen dir gerne bei der Suche nach dem richtigen Kassensystem.
Nutze den Demo-Modus von plentymarkets POS kostenlos und unverbindlich. Schaue dich noch heute im Kassensystem um und überzeuge dich selbst von der Funktionalität, Benutzerfreundlichkeit und Leistungsfähigkeit der plentymarkets Kasse!</p>
</div>
<h4 id="_deine_vorteile_auf_einen_blick" class="discrete">Deine Vorteile auf einen Blick</h4>
<div class="ulist">
<ul>
<li>
<p>zeitlich unbeschränkt</p>
</li>
<li>
<p>kostenlos</p>
</li>
<li>
<p>unverbindlich</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. App und Begleitmaterial herunterladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die kostenlose plentymarkets App ist bei Google Play und iTunes erhältlich. Installiere die App auf das mobile Endgerät, mit dem du die Kasse testen möchtest.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=de" target="_blank" rel="noopener">plentymarkets App bei Google Play</a></p>
</li>
<li>
<p><a href="https://apps.apple.com/de/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets App bei iTunes</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Empfohlene Hardware</div>
<div class="paragraph">
<p>Gerne können wir dir <a href="/app/installation#400">Hardware für das Kassensystem plentymarkets POS empfehlen</a>. Grundsätzlich werden jedoch Android-Geräte mit OS-Version ab 4.2.2 und iOS-Geräte mit OS-Version ab 8 unterstützt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Begleitmaterial zum Demo-Modus</div>
<div class="paragraph">
<p>Möchtest du die Demoversion mit einem Scanner ausprobieren? Wir haben einige <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo_Modus_Mockdaten.pdf" target="_blank" rel="noopener">Barcodes in einer PDF-Datei</a> für dich aufbereitet. Lade die Datei herunter und scanne die Barcodes, um:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/pos/demo#500">Artikel zu erfassen</a></p>
</li>
<li>
<p><a href="/pos/demo#1300">Gutscheine zu verkaufen und einzulösen</a></p>
</li>
<li>
<p><a href="/pos/demo#2700">Diversartikel zu verkaufen</a></p>
</li>
<li>
<p><a href="/pos/demo#2800">An Stammkunden zu verkaufen</a></p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Demo-Modus starten</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Bereit, den Demo-Modus zu starten? Das geht in drei einfachen Schritten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die plentymarkets App auf deinem mobilen Gerät.</p>
</li>
<li>
<p>Tippe auf <strong>POS im Demo-Modus betreten</strong>.<br>
→ Der Startbildschirm wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-shopping-cart" style="color:darkGrey"></i></span> <strong>Kassieren</strong>.<br>
→ Der POS-Warenkorb wird angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Diagramm der POS-Warenkorb: Handy vs. Tablet</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst plentymarkets POS auf einem Tablett oder Smartphone nutzen. Da die Bildschirme jedoch unterschiedliche Formate und Größen haben, sind einige der Funktionen je nach Gerät unterschiedlich angeordnet.</p>
</div>
<table class="tableblock frame-none grid-all stretch">
<caption class="title">Tabelle 1. Diagramm der POS-Warenkorb: Handy vs. Tablet</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tablet-Ansicht</th>
<th class="tableblock halign-left valign-top">Handy-Ansicht</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/pos/assets/tablet-ansicht-POS-warenkorb.png" alt="tablet ansicht POS warenkorb">
</div>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/pos/assets/handy-ansicht-POS-warenkorb.png" alt="handy ansicht POS warenkorb">
</div>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_probiere_die_kasse_selbst_aus">4. Probiere die Kasse selbst aus!</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="500">4.1. Artikel erfassen</h3>
<div id="600" class="openblock collapseBox">
<div class="title"><strong>Artikeletikett scannen</strong></div>
<div class="content">
<div class="paragraph">
<p>Wurden deine Artikel mit Etiketten versehen? Dann startest du den Kassiervorgang, indem du die Barcodes aller vom Kunden gewünschten Artikel nacheinander scannst. Probiere es selbst aus! Wir haben dafür einige <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo_Modus_Mockdaten.pdf" target="_blank" rel="noopener">Demo-Barcodes in einer PDF-Datei</a> aufbereitet.</p>
</div>
<div class="paragraph instruction">
<p>Artikeletiketten scannen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo_Modus_Mockdaten.pdf" target="_blank" rel="noopener">Lade die Demo-Barcodes als PDF-Datei herunter</a>.</p>
</li>
<li>
<p>Öffne die PDF-Datei, um die darin enthaltenen Barcodes zu sehen.</p>
</li>
<li>
<p>Scanne eine der Etiketten mit deinem Barcode Scanner.<br>
→ Der Artikel wird mit einer Menge von 1 in den POS-Warenkorb gelegt. Scanne nochmal, um die Menge zu erhöhen.<br>
→ Die zu zahlende Summe wird dynamisch aktualisiert.</p>
</li>
<li>
<p>Scanne weitere Etiketten, um die entsprechenden Artikel zum Auftrag hinzuzufügen.</p>
</li>
</ol>
</div>
<h5 id="_lieber_die_integrierte_kamera_nutzen" class="discrete">Lieber die integrierte Kamera nutzen?</h5>
<div class="paragraph">
<p>Tippe im POS-Warenkorb auf das Etikettensymbol (<span class="icon"><i class="fa fa-barcode" style="color:blue"></i></span>), um die Kamera deines Mobilgeräts zu öffnen. Scanne jetzt den Barcode indem du ein Bild machst. Der Artikel wird mit einer Menge von 1 in den POS-Warenkorb gelegt. Die zu zahlende Summe wird aktualisiert.</p>
</div>
</div>
</div>
<div id="700" class="openblock collapseBox">
<div class="title"><strong>Artikel aus der Favoritenliste wählen</strong></div>
<div class="content">
<div class="paragraph">
<p>Häufig gekaufte Artikel kannst du als Favoriten kennzeichnen, um sie noch schneller zum Warenkorb hinzuzufügen. Deine Demo-Kasse enthält bereits einige Favoritenartikel, die du testen kannst.</p>
</div>
<div class="paragraph instruction">
<p>Favoritenartikel wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe links auf einen Artikel, um ihn in den Warenkorb zu legen.<br>
→ Das Fenster <strong>Menge eingeben</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib die Menge des Artikels ein, die du in den Warenkorb legen möchtest.<br>
→ Der Artikel wird in den Warenkorb gelegt.<br>
→ Die zu zahlende Summe wird dynamisch aktualisiert.</p>
</li>
</ol>
</div>
<h5 id="_vorgehensweise_für_handy_nutzer" class="discrete">Vorgehensweise für Handy-Nutzer</h5>
<div class="paragraph">
<p>Tippe zuerst im POS-Warenkorb auf den Stern (<span class="icon"><i class="fa fa-star" style="color:blue"></i></span>), um die Liste der Favoriten zu öffnen. Wähle dann einen Artikel (<span class="icon"><i class="fa fa-check" style="color:green"></i></span>), um ihn in den Warenkorb zu legen.</p>
</div>
</div>
</div>
<div id="800" class="openblock collapseBox">
<div class="title"><strong>Artikel aus der Datenbank suchen</strong></div>
<div class="content">
<div class="paragraph">
<p>Jeder kennt die Situation: ein Kunde steht vor dir und will etwas kaufen. Der Barcode lässt sich aber nicht scannen und der Artikel gehört nicht zu deinen Favoriten. Kein Problem! Verwende die Artikelsuche und greife auf deinen gesamten Produktkatalog zu.</p>
</div>
<div class="paragraph instruction">
<p>Artikel aus der Datenbank suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe im POS-Warenkorb auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Artikelsuche wird geöffnet.</p>
</li>
<li>
<p>Gib ein Suchkriterium ein, z.B. die Artikel-ID 1002.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-search" style="color:blue"></i></span> <strong>Suchen</strong>.<br>
→ Die gefundenen Artikel werden aufgelistet.</p>
</li>
<li>
<p>Wähle einen Artikel (<span class="icon"><i class="fa fa-check" style="color:green"></i></span>), um ihn in den Warenkorb zu legen.<br>
→ Das Fenster <strong>Menge eingeben</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib die Menge des Artikels ein, die du in den Warenkorb legen möchtest.<br>
→ Der Artikel wird in den Warenkorb gelegt.<br>
→ Die zu zahlende Summe wird dynamisch aktualisiert.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">4.2. Zahlung entgegennehmen</h3>
<div id="1000" class="openblock collapseBox">
<div class="title"><strong>Barzahlung</strong></div>
<div class="content">
<div class="paragraph">
<p>Nachdem du alle Artikel in den POS-Warenkorb gelegt hast, nimmst du die Zahlung entgegen. Probiere es bereits in der Demo-Modus mit einer Barzahlung aus!</p>
</div>
<div class="paragraph instruction">
<p>Bargeld entgegennehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib über das Ziffernfeld den Betrag ein, den du erhalten hast.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-money" style="color:green"></i></span> <strong>Betrag erhalten</strong>.<br>
→ Der Auftrag wird erstellt und du siehst, wie viel Rückgeld du geben sollst.<br>
→ Ein Beleg wird gedruckt. Im Demo-Modus wird der Druck simuliert.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-shopping-cart" style="color:blue"></i></span> <strong>Neuer Auftrag</strong>, um den nächsten Kassiervorgang zu starten.</p>
</li>
</ol>
</div>
<h5 id="_vorgehensweise_für_handy_nutzer_2" class="discrete">Vorgehensweise für Handy-Nutzer</h5>
<div class="paragraph">
<p>Tippe zuerst im POS-Warenkorb auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>), um die Zahlungsansicht zu öffnen.</p>
</div>
</div>
</div>
<div id="1100" class="openblock collapseBox">
<div class="title"><strong>Kartenzahlung</strong></div>
<div class="content">
<div class="paragraph">
<p>Nimmst du auch EC-Karten an? <a href="/pos/demo#3000">In der Vollversion</a> kannst du deine EC-Terminals direkt mit plentymarkets verbinden. Dies ist in der Demoversion leider nicht möglich, aber du kannst trotzdem ein Gefühl für Kartenzahlungen bekommen, indem du den Ablauf mit einem nicht angeschlossenen Kartenterminal simulierst.</p>
</div>
<div class="paragraph instruction">
<p>Kartenzahlung annehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-credit-card" style="color:blue"></i></span> <strong>EC-Terminal</strong>.</p>
</li>
<li>
<p>Schließe die Transaktion auf deinem EC-Terminal ab.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-check" style="color:green"></i></span> <strong>Betrag erhalten/Zahlung abschließen</strong>.<br>
→ Der Auftrag wird erstellt.<br>
→ Ein Beleg wird gedruckt. Im Demo-Modus wird der Druck simuliert.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-shopping-cart" style="color:blue"></i></span> <strong>Neuer Auftrag</strong>, um den nächsten Kassiervorgang zu starten.</p>
</li>
</ol>
</div>
<h5 id="_vorgehensweise_für_handy_nutzer_3" class="discrete">Vorgehensweise für Handy-Nutzer</h5>
<div class="paragraph">
<p>Tippe zuerst im POS-Warenkorb auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>), um die Zahlungsansicht zu öffnen.</p>
</div>
</div>
</div>
<div id="1200" class="openblock collapseBox">
<div class="title"><strong>Teilzahlung oder gemischte Zahlung</strong></div>
<div class="content">
<div class="paragraph">
<p>Möchte dein Kunde einen Teil des Betrags in bar und den Rest mit einer EC-Karte bezahlen? Kein Problem! Probiere Teilzahlungen und gemischte Zahlungen im Demo-Modus aus.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Zahlungen mit unterschiedlichen Zahlungsmethoden akzeptieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib über das Ziffernfeld den Betrag ein, den du mit dem ersten Zahlungsmittel, z.B. Bargeld, erhalten hast.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-money" style="color:green"></i></span> <strong>Betrag erhalten</strong>.<br>
→ Der Restbetrag wird automatisch aktualisiert.</p>
</li>
<li>
<p>Gib über das Ziffernfeld den Betrag ein, den du mit dem zweiten Zahlungsmittel, z.B. EC-Karte, erhalten hast.<br></p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-credit-card" style="color:blue"></i></span> <strong>EC-Terminal</strong>.</p>
</li>
<li>
<p>Schließe die Transaktion auf deinem EC-Terminal ab.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-check" style="color:green"></i></span> <strong>Betrag erhalten/Zahlung abschließen</strong>.<br>
→ Der Restbetrag wird automatisch aktualisiert.</p>
</li>
<li>
<p>Wiederhole diese Schritte, bis die gesamte Summe bezahlt wurde.<br>
→ Der Auftrag wird erstellt.<br>
→ Ein Beleg wird gedruckt. Im Demo-Modus wird der Druck simuliert.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-shopping-cart" style="color:blue"></i></span> <strong>Neuer Auftrag</strong>, um den nächsten Kassiervorgang zu starten.</p>
</li>
</ol>
</div>
<h5 id="_vorgehensweise_für_handy_nutzer_4" class="discrete">Vorgehensweise für Handy-Nutzer</h5>
<div class="paragraph">
<p>Tippe zuerst im POS-Warenkorb auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>), um die Zahlungsansicht zu öffnen.</p>
</div>
<h5 id="_teilzahlungen_ansehen_oder_rückgängig_machen" class="discrete">Teilzahlungen ansehen oder rückgängig machen</h5>
<div class="paragraph">
<p>Tippe auf die blaue <strong>Gegeben</strong> Leiste, um bereits eingegangene Teilzahlungen zu sehen. Tippe dann auf das Löschen-Symbol (<span class="icon"><i class="fa fa-trash" style="color:red"></i></span>), um eine Teilzahlung rückgängig zu machen. Der Restbetrag wird dabei automatisch aktualisiert.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1300">4.3. Geschenkgutscheine</h3>
<div id="1400" class="openblock collapseBox">
<div class="title"><strong>Geschenkgutscheine verkaufen</strong></div>
<div class="content">
<div class="paragraph">
<p>Gutscheine und Guthabenkarten sind eine beliebte Geschenkidee. Mit plentymarkets POS kannst du Geschenkgutscheine nicht nur verkaufen, sondern auch als Zahlungsmethode akzeptieren. Probiere es mit einem Beispiel-Gutschein aus!</p>
</div>
<div class="paragraph">
<p>Genau wie bei jedem anderen Artikel, fügst du Geschenkgutscheine zum POS-Warenkorb hinzu indem du <a href="/pos/demo#600">den Barcode scannst</a>, ihn <a href="/pos/demo#700">aus der Favoriten-Liste wählst</a> oder indem du seine <a href="/pos/demo#800">Artikelnummer manuell eingibst</a>.</p>
</div>
<div class="paragraph">
<p>Der Demo-Modus beinhaltet einen fiktiven Geschenkgutschein, mit dem du arbeiten kannst. <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo_Modus_Mockdaten.pdf" target="_blank" rel="noopener">Lade die PDF-Datei herunter</a> und scanne den Barcode des Beispiel-Gutscheins. Füge alternativ den "Gutschein" Artikel (ID 1076) manuell zum Warenkorb hinzu.</p>
</div>
<div class="paragraph">
<p>Danach aktivierst du den Gutschein, indem du einen neuen Code generierst oder einen vorhandenen Code verwendest. Der Gutschein-Code wird schließlich auf dem Kassenbeleg mit ausgegeben.</p>
</div>
</div>
</div>
<div id="1500" class="openblock collapseBox">
<div class="title"><strong>Geschenkgutscheine als Zahlungsmittel annehmen</strong></div>
<div class="content">
<div class="paragraph">
<p>Kunden können für ihre Artikel mit Geschenkgutscheinen bezahlen. Nachdem du <a href="/pos/demo#500">alle gewünschten Artikel wie gewohnt erfasst hast</a>, akzeptierst du die Zahlung ganz oder teilweise mit einem Geschenkgutschein.</p>
</div>
<div class="paragraph">
<p>Wir haben vier fiktive Geschenkgutscheine im Demo-Modus geschaffen, mit denen du arbeiten kannst. Jeder Geschenkgutschein ist für einen anderen Geldbetrag gültig und hat einen anderen Code.</p>
</div>
<div class="paragraph instruction">
<p>Geschenkgutschein als Zahlungsmittel annehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo_Modus_Mockdaten.pdf" target="_blank" rel="noopener">Lade die Demo-Geschenkgutscheine als PDF-Datei herunter</a>.</p>
</li>
<li>
<p>Öffne die PDF-Datei und suche nach Gutscheinen vom Typ Mehrzweck.</p>
</li>
<li>
<p>Scanne den Barcode auf dem Geschenkgutschein.<br>
→ Die zu zahlende Summe wird dynamisch aktualisiert.</p>
</li>
<li>
<p>Wenn der Gutschein nicht den gesamten Betrag abdeckt, nimm die Zahlung des Restbetrags an.<br>
→ Der Auftrag wird erstellt.<br>
→ Ein Beleg wird gedruckt. Im Demo-Modus wird der Druck simuliert.</p>
</li>
</ol>
</div>
<h5 id="_vorgehensweise_für_handy_nutzer_5" class="discrete">Vorgehensweise für Handy-Nutzer</h5>
<div class="paragraph">
<p>Tippe zuerst im POS-Warenkorb auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>), um die Zahlungsansicht zu öffnen.</p>
</div>
<h5 id="_gutschein_code_manuell_eingeben" class="discrete">Gutschein-Code manuell eingeben</h5>
<div class="paragraph">
<p>Du kannst den Gutschein-Code auch manuell eingeben, anstatt den Barcode zu scannen. Tippe ganz einfach auf das Geschenk-Symbol (<span class="icon"><i class="fa fa-gift" style="color:blue"></i></span>) und gib den Gutschein-Code manuell in das Feld ein.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1600">4.4. Rabatte gewähren</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Den Preis für einen bestimmten Artikel senken</strong></div>
<div class="content">
<div class="paragraph">
<p>Hast du dich mit deinem Kunden auf einen Sonderpreis geeinigt? Vielleicht ist zum Beispiel ein Artikel defekt und du hast dich bereit erklärt, ihn zum halben Preis zu verkaufen.</p>
</div>
<div class="paragraph">
<p>Tippe auf einen Artikel und ändere die Daten direkt beim Kassieren. Die Änderungen wirken sich grundsätzlich nur auf diesen Auftrag aus, nicht auf den Datensatz des Artikels im plentymarkets ERP-System.</p>
</div>
</div>
</div>
<div id="1700" class="openblock collapseBox">
<div class="title"><strong>Den Preis für die gesamte Bestellung senken</strong></div>
<div class="content">
<div class="paragraph">
<p>Schaffst du Anreize für deine Kunden, noch ein bisschen mehr zu kaufen? Bekommen Kunden beispielsweise einen Rabatt von 5%, wenn sie 50 Euro oder mehr ausgeben? Oder bekommen Kunden 5 Euro Rabatt auf eine bestimmte Marke? Mit plentymarkets POS ist es einfach, Rabatte auf die gesamte Bestellung zu gewähren.</p>
</div>
<div class="paragraph instruction">
<p>Rabatt auf die gesamte Bestellung gewähren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe im POS-Warenkorb auf das Geschenk (<span class="icon"><i class="fa fa-gift" style="color:blue"></i></span>).<br>
→ Der Rabattbildschirm wird eingeblendet.</p>
</li>
<li>
<p>Gib eine Zahl in das Feld <strong>Rabatt</strong> ein, z.B. 5.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-percent" style="color:darkGrey"></i></span> <strong>Prozentual</strong> oder <span class="icon"><i class="fa fa-money" style="color:darkGrey"></i></span> <strong>Fest</strong>, um zu bestimmen, ob sich die 5 auf einen Prozentsatz oder auf einen festen Geldbetrag bezieht, z.B. 5% oder 5 Euro.<br>
→ Die zu zahlende Summe wird dynamisch aktualisiert.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="1800" class="openblock collapseBox">
<div class="title"><strong>Werbegutscheine akzeptieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Werbekampagnen sind eine gute Möglichkeit, Kunden in deinen Laden zu locken. Schaffe Anreize, indem du Rabatte gibst, wie z.B:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>20% auf ausgewählte Produkte</p>
</li>
<li>
<p>Zwei kaufen, eine gratis Ausgabe bekommen</p>
</li>
<li>
<p>50 Cent Rabatt</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Nachdem du <a href="/pos/demo#500">alle gewünschten Artikel wie gewohnt erfasst hast</a>, ziehst du den Wert der Coupons von der zu zahlenden Summe ab.</p>
</div>
<div class="paragraph">
<p>Wir haben zwei fiktive Werbegutscheine im Demo-Modus geschaffen, mit denen du arbeiten kannst. Jeder Werbegutschein ist für einen anderen Rabattwert gültig und hat einen anderen Code.</p>
</div>
<div class="paragraph instruction">
<p>Werbegutscheine von der zu zahlenden Summe abziehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo_Modus_Mockdaten.pdf" target="_blank" rel="noopener">Lade die Demo-Werbegutscheine als PDF-Datei herunter</a>.</p>
</li>
<li>
<p>Öffne die PDF-Datei und suche nach Gutscheinen vom Typ Aktion.</p>
</li>
<li>
<p>Scanne den Barcode auf dem Werbegutschein.<br>
→ Die zu zahlende Summe wird dynamisch aktualisiert.</p>
</li>
<li>
<p>Nimm die Zahlung des Restbetrags an.<br>
→ Der Auftrag wird erstellt.<br>
→ Ein Beleg wird gedruckt. Im Demo-Modus wird der Druck simuliert.</p>
</li>
</ol>
</div>
<h5 id="_vorgehensweise_für_handy_nutzer_6" class="discrete">Vorgehensweise für Handy-Nutzer</h5>
<div class="paragraph">
<p>Tippe zuerst im POS-Warenkorb auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>), um die Zahlungsansicht zu öffnen.</p>
</div>
<h5 id="_gutschein_code_manuell_eingeben_2" class="discrete">Gutschein-Code manuell eingeben</h5>
<div class="paragraph">
<p>Du kannst den Gutschein-Code auch manuell eingeben, anstatt den Barcode zu scannen. Tippe ganz einfach auf das Geschenk-Symbol (<span class="icon"><i class="fa fa-gift" style="color:blue"></i></span>) und gib den Gutschein-Code manuell in das Feld ein.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1900">4.5. Stornierungen und Retouren</h3>
<div id="2000" class="openblock collapseBox">
<div class="title"><strong>Stornierung eines Auftrags direkt nach dem Kauf</strong></div>
<div class="content">
<div class="paragraph">
<p>Dein Kunde hat gerade einen Artikel gekauft. Aber hoppla, er merkt, dass er den falschen genommen hat. Jetzt möchte er die Transaktion stornieren.</p>
</div>
<div class="paragraph instruction">
<p>Auftrag direkt nach dem Kauf stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe vom Endbildschirm aus auf <span class="icon"><i class="fa fa-trash" style="color:red"></i></span> <strong>Auftrag stornieren</strong>.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-check" style="color:blue"></i></span> <strong>Ja</strong>.<br></p>
</li>
<li>
<p>War die ursprüngliche Bestellung eine Kartenzahlung? Wähle, ob die Stornierung in bar (<span class="icon"><i class="fa fa-money" style="color:blue"></i></span>) oder mit dem Terminal (<span class="icon"><i class="fa fa-credit-card" style="color:blue"></i></span>) erstattet werden soll.<br>
→ Der Auftrag wird storniert.</p>
</li>
<li>
<p>Zahle den stornierten Betrag aus oder wickele die Rückzahlung über das Kassenterminal ab.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="2100" class="openblock collapseBox">
<div class="title"><strong>Stornierung eines Auftrags am Tag seiner Bestellung</strong></div>
<div class="content">
<div class="paragraph">
<p>Dein Kunde hat am Morgen einen Artikel gekauft und am Nachmittag gemerkt, dass er den falschen genommen hat. Kann er die Transaktion noch stornieren?</p>
</div>
<div class="paragraph">
<p>Mit plentymarkets POS kannst du Aufträge stornieren, wenn sie <em>seit dem letzten Tagesabschluss</em> über die Kasse erstellt wurden.</p>
</div>
<div class="paragraph">
<p>Auftrag stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe vom Startbildschirm aus auf <span class="icon"><i class="fa fa-trash" style="color:darkGrey"></i></span> <strong>Auftrag stornieren</strong>.<br>
→ Nicht stornierte Aufträge, die seit dem letzten Tagesabschluss über die Kasse erstellt wurden, werden aufgelistet.</p>
</li>
<li>
<p>Tippe auf den Papierkorb (<span class="icon"><i class="fa fa-trash" style="color:red"></i></span>) bei der entsprechenden Bestellung.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-check" style="color:blue"></i></span> <strong>Ja</strong>.</p>
</li>
<li>
<p>War die ursprüngliche Bestellung eine Kartenzahlung? Wähle, ob die Stornierung in bar (<span class="icon"><i class="fa fa-money" style="color:blue"></i></span>) oder mit dem Terminal (<span class="icon"><i class="fa fa-credit-card" style="color:blue"></i></span>) erstattet werden soll.<br>
→ Der Auftrag wird storniert.</p>
</li>
<li>
<p>Zahle den stornierten Betrag aus oder wickele die Rückzahlung über das Kassenterminal ab.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="2200" class="openblock collapseBox">
<div class="title"><strong>Dein Kunde will die Bestellung retournieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Stell dir vor, dein Kunde hat jedem seiner drei Neffen zu Weihnachten einen neuen Pullover gekauft. Aber Kinder wachsen wie Unkraut und zwei der Kinder passen an Heiligabend nicht in ihren Pullover. Jetzt im Januar will dein Kunde zwei der drei Pullover zurückgeben.</p>
</div>
<div class="paragraph">
<p>Da dieser Auftrag noch <a href="/pos/demo#2230">vor dem letzten Tagesabschluss</a> erstellt wurde, kann er nicht mehr storniert werden. Die Bestellung muss stattdessen <em>retourniert</em> werden.</p>
</div>
<h5 id="_hat_dein_kunde_den_kassenbon_mitgebracht" class="discrete">Hat dein Kunde den Kassenbon mitgebracht?</h5>
<div class="paragraph">
<p>Wenn dein Kunde den Beleg mitgebracht hat, kannst du die ursprüngliche Bestellung, z.B. anhand der Belegnummer, finden. In diesem Fall kannst du die Retoure direkt mit dem ursprünglichen Auftrag verknüpfen.</p>
</div>
<div class="paragraph">
<p>Wenn du die Retoure <em>nicht</em> mit der ursprünglichen Bestellung verknüpfen kannst, ist es natürlich trotzdem möglich, die Retoure anzunehmen. Du gehst nur ein wenig anders vor. Beide Verfahren werden im Folgenden beschrieben.</p>
</div>
<h5 id="_verwendest_du_einen_scanner" class="discrete">Verwendest du einen Scanner?</h5>
<div class="paragraph">
<p>Die Vorgehensweise ist ein bisschen unterschiedlich, je nachdem, ob du einen Scanner benutzt oder ob du die Daten manuell eingibst. Beide Verfahren werden im Folgenden beschrieben.</p>
</div>
<table id="tabelle-retoure-kassenbon" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Beleg + Scanner</th>
<th class="tableblock halign-left valign-top">Beleg + manuelle Dateneingabe</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist instruction">
<ol class="instruction">
<li>
<p>Tippe vom Startbildschirm aus auf <span class="icon"><i class="fa fa-undo" style="color:darkGrey"></i></span> <strong>Retoure</strong>.</p>
</li>
<li>
<p><strong><em>Handy-Nutzer</em></strong>: Tippe auf die Datei (<span class="icon"><i class="fa fa-file-text-o" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-search" style="color:blue"></i></span> <strong>Auftrag suchen</strong>.</p>
</li>
<li>
<p>Scanne den Barcode auf dem Beleg.<br>
→ Die Auftragsdaten werden angezeigt.</p>
</li>
<li>
<p>Scanne den Barcode der Artikel, die zurückgegeben werden.<br>
→ Der gescannte Artikel wird mit der Menge 1 zur Retoure hinzugefügt. Jeder Artikel, der zurückgegeben werden soll, muss also einzeln gescannt werden.</p>
</li>
<li>
<p><strong><em>Handy-Nutzer</em></strong>: Tippe auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>).<br>
→ Eine Zusammenfassung der Retoure wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-money" style="color:green"></i></span> <strong>Abschließen und Bargeld</strong> auszahlen oder auf <span class="icon"><i class="fa fa-gift" style="color:green"></i></span> <strong>Abschließen und Gutschein erstellen</strong>.</p>
</li>
<li>
<p>Zahle den Retourenbetrag aus oder händige den Gutschein aus.</p>
</li>
</ol>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist instruction">
<ol class="instruction">
<li>
<p>Tippe vom Startbildschirm aus auf <span class="icon"><i class="fa fa-undo" style="color:darkGrey"></i></span> <strong>Retoure</strong>.</p>
</li>
<li>
<p><strong><em>Handy-Nutzer</em></strong>: Tippe auf die Datei (<span class="icon"><i class="fa fa-file-text-o" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-search" style="color:blue"></i></span> <strong>Auftrag suchen</strong>.</p>
</li>
<li>
<p>Gib ein Suchkriterium ein.<br>
→ Die Auftragsdaten werden angezeigt und alle Artikel sind vorausgewählt.</p>
</li>
<li>
<p>Tippe auf den Papierkorb (<span class="icon"><i class="fa fa-trash" style="color:red"></i></span>) bei allen Artikeln, die nicht retourniert werden sollen.</p>
</li>
<li>
<p><strong><em>Handy-Nutzer</em></strong>: Tippe auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>).<br>
→ Eine Zusammenfassung der Retoure wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-money" style="color:green"></i></span> <strong>Abschließen und Bargeld</strong> auszahlen oder auf <span class="icon"><i class="fa fa-gift" style="color:green"></i></span> <strong>Abschließen und Gutschein erstellen</strong>.</p>
</li>
<li>
<p>Zahle den Retourenbetrag oder händige den Gutschein aus.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
<table id="tabelle-retoure-kein-kassenbon" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Kein Beleg + Scanner</th>
<th class="tableblock halign-left valign-top">Kein Beleg + manuelle Dateneingabe</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist instruction">
<ol class="instruction">
<li>
<p>Tippe vom Startbildschirm aus auf <span class="icon"><i class="fa fa-undo" style="color:darkGrey"></i></span> <strong>Retoure</strong>.</p>
</li>
<li>
<p>Scanne den Barcode der Artikel, die zurückgegeben werden.<br>
→ Der gescannte Artikel wird mit der Menge 1 zur Retoure hinzugefügt. Jeder Artikel, der zurückgegeben werden soll, muss also einzeln gescannt werden.</p>
</li>
<li>
<p><strong><em>Handy-Nutzer</em></strong>: Tippe auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>).<br>
→ Eine Zusammenfassung der Retoure wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-money" style="color:green"></i></span> <strong>Abschließen und Bargeld</strong> auszahlen oder auf <span class="icon"><i class="fa fa-gift" style="color:green"></i></span> <strong>Abschließen und Gutschein erstellen</strong>.</p>
</li>
<li>
<p>Zahle den Retourenbetrag oder händige den Gutschein aus.</p>
</li>
</ol>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist instruction">
<ol class="instruction">
<li>
<p>Tippe vom Startbildschirm aus auf <span class="icon"><i class="fa fa-undo" style="color:darkGrey"></i></span> <strong>Retoure</strong>.</p>
</li>
<li>
<p>Tippe auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Artikelsuche wird geöffnet.</p>
</li>
<li>
<p>Gib ein Suchkriterium ein.<br></p>
</li>
<li>
<p>Tippe auf (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) <strong>Suchen</strong>.<br>
→ Die gefundenen Artikel werden aufgelistet.</p>
</li>
<li>
<p>Wähle einen Artikel (<span class="icon"><i class="fa fa-check" style="color:green"></i></span>), um ihn zur Retoure hinzuzufügen.<br>
→ Das Fenster <strong>Menge eingeben</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib die Menge des Artikels ein, die du zur Retoure hinzufügen möchtest.<br>
→ Der Artikel wird zur Retoure hinzugefügt.</p>
</li>
<li>
<p><strong><em>Handy-Nutzer</em></strong>: Tippe auf den grünen Pfeil (<span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span>).<br>
→ Eine Zusammenfassung der Retoure wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-money" style="color:green"></i></span> <strong>Abschließen und Bargeld</strong> auszahlen oder auf <span class="icon"><i class="fa fa-gift" style="color:green"></i></span> <strong>Abschließen und Gutschein erstellen</strong>.</p>
</li>
<li>
<p>Zahle den Retourenbetrag oder händige den Gutschein aus.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2210">4.6. Berichtswesen</h3>
<div id="2220" class="openblock collapseBox">
<div class="title"><strong>Bargeldbestand dokumentieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Wie viel Bargeld sich in der Kassenschublade befindet, kannst du jederzeit dokumentieren. Dies erfolgt mit einem sogenannten Kassensturz. Dazu werden die Geldscheinen und Münzen physisch gezählt und das Ergebnis wird dokumentiert.</p>
</div>
<div class="paragraph">
<p>Kassensturzergebnis erfassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe vom Startbildschirm aus auf <span class="icon"><i class="fa fa-money" style="color:darkGrey"></i></span> <strong>Kassensturz</strong>.<br>
→ Die Stückelung <strong>1 Cent</strong> ist automatisch ausgewählt.</p>
</li>
<li>
<p>Gib über das Ziffernfeld die Menge der vorhandenen 1-Cent-Stücke ein.</p>
</li>
<li>
<p>Tippe auf den Return-Pfeil (<span class="icon"><i class="fa fa-level-down" style="color:green"></i></span>), um zur nächsten Stückelung zu springen. Wiederhole den Vorgang, bis du die Menge für alle vorhandenen Münzen und Geldscheine eingegeben hast.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-check" style="color:green"></i></span> <strong>Kassensturz speichern</strong>.<br>
→ Ein Kassensturzbericht wird erstellt. In der Vollversion wird das Ergebnis in deinem plentymarkets ERP-System gespeichert. Im Demo-Modus wird das Ergebnis lediglich simuliert.</p>
</li>
<li>
<p>Wenn der Ist-Kassenbestand vom Soll-Kassenbestand abweicht, kann die Differenz optional gebucht werden.</p>
</li>
</ol>
</div>
<h5 id="_handy_vs_tablet_ansicht" class="discrete">Handy vs. Tablet-Ansicht</h5>
<div class="paragraph">
<p>Wenn du ein Handy benutzt, kannst du mit dem Finger nach links oder rechts über den Bildschirm streichen, um von einer Stückelung zur nächsten zu wechseln.<br>
Wenn du ein Tablett verwendest, kannst du direkt auf die Stückelung links tippen.</p>
</div>
<h5 id="_was_wenn_ich_nicht_jede_münze_und_jeden_geldschein_einzeln_zählen_möchte" class="discrete">Was, wenn ich nicht jede Münze und jeden Geldschein einzeln zählen möchte?</h5>
<div class="paragraph">
<p>Wenn du ein Handy benutzt und nicht jede Stückelung einzeln eingeben möchtest, tippe auf <span class="icon"><i class="fa fa-long-arrow-right" style="color:green"></i></span> <strong>Stückzahleingabe überspringen</strong> und gib den Gesamtbetrag ein.<br>
Wenn du ein Tablett verwendest und nicht jede Stückelung einzeln eingeben möchtest, tippe auf das Feld <strong>Überschreiben</strong> und gib den Gesamtbetrag ein.</p>
</div>
</div>
</div>
<div id="2230" class="openblock collapseBox">
<div class="title"><strong>Tagesumsätze dokumentieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Am Ende des Tages wird üblicherweise dokumentiert, wie viel Umsatz in den letzten 24 Stunden erwirtschaftet wurde. Dies erfolgt durch die Erstellung eines sogenannten Tagesabschlussberichts oder Z-Berichts.</p>
</div>
<div class="paragraph">
<p>Genau genommen dokumentiert ein Tagesabschlussbericht die seit dem letzten Tagesabschlussbericht getätigten Umsätze. Solche Berichte dienen auch als Nachweis gegenüber dem Finanzamt.</p>
</div>
<div class="paragraph">
<p>Tagesabschlussbericht erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe vom Startbildschirm aus auf <span class="icon"><i class="fa fa-file-text-o" style="color:darkGrey"></i></span> <strong>Tagesabschluss</strong>.</p>
</li>
<li>
<p>Prüfe den tatsächlichen Kassenbestand und gib diesen Ist-Bestand ein.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-check" style="color:green"></i></span> <strong>Tagesabschluss erstellen</strong>.<br>
→ Ein Tagesabschlussbericht wird erstellt. In der Vollversion wird der Bericht mit einer fortlaufenden Nummer versehen und in deinem plentymarkets ERP-System gespeichert. Im Demo-Modus wird der Bericht lediglich simuliert.<br>
→ Die Tagesumsätze werden auf 0 zurückgesetzt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2300">4.7. Weitere Funktionen</h3>
<div id="2400" class="openblock collapseBox">
<div class="title"><strong>Transaktionen pausieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Stell dir vor, du bist mitten im Kassiervorgang und dein Kunde sagt, dass er etwas vergessen hat. Der nächste Kunde steht aber bereits Schlange. Keine Sorge! Du brauchst lediglich den Kaufvorgang des ersten Kunden zu "parken". In der Zwischenzeit kannst du den zweiten Kunden kassieren.</p>
</div>
<div class="paragraph instruction">
<p>Auftrag parken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe im POS-Warenkorb oben rechts auf die vertikale Ellipse (<span class="icon"><i class="fa fa-ellipsis-v" style="color:blue"></i></span>).<br>
→ Weitere Optionen werden eingeblendet.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-download" style="color:blue"></i></span> <strong>Bon parken</strong>.<br>
→ Das Fenster <strong>Bon parken</strong> wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-check" style="color:blue"></i></span> <strong>Ja</strong>.<br>
→ Der Auftrag wird gespeichert und ein neuer Kaufvorgang gestartet.</p>
</li>
</ol>
</div>
<h5 id="_geparkten_auftrag_zurückholen" class="discrete">Geparkten Auftrag zurückholen</h5>
<div class="paragraph">
<p>Tippe erneut auf die vertikale Ellipse (<span class="icon"><i class="fa fa-ellipsis-v" style="color:blue"></i></span>) und dann auf <span class="icon"><i class="fa fa-upload" style="color:blue"></i></span> <strong>Bon laden</strong>. Eine Übersicht aller geparkten Aufträge wird angezeigt. Tippe auf den gewünschten Auftrag, um ihn zu laden und weiter zu bearbeiten.</p>
</div>
</div>
</div>
<div id="2500" class="openblock collapseBox">
<div class="title"><strong>Artikeldaten in Sonderfälle ändern</strong></div>
<div class="content">
<div class="paragraph">
<p>Hast du aus Versehen die falsche Artikelmenge eingegeben? Oder ist ein Exemplar des Artikels beschädigt und du hast dich mit dem Kunden auf einen Sonderpreis geeinigt?</p>
</div>
<div class="paragraph">
<p>Tippe auf einen Artikel und ändere die Daten direkt beim Kassieren. Die Änderungen wirken sich grundsätzlich nur auf diesen Auftrag aus, nicht auf den Datensatz des Artikels im plentymarkets ERP-System.</p>
</div>
</div>
</div>
<div id="2600" class="openblock collapseBox">
<div class="title"><strong>Einlage oder Entnahme der Kassenschublade</strong></div>
<div class="content">
<div class="paragraph">
<p>Deinem Kassierer geht langsam das Wechselgeld aus? Dann ist es an der Zeit, Geld in die Kasse einzulegen und das Ganze natürlich auch korrekt zu dokumentieren.</p>
</div>
<div class="paragraph">
<p>Einlage oder Entnahme verbuchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe vom Startbildschirm aus auf <span class="icon"><i class="fa fa-money" style="color:darkGrey"></i></span> <strong>Einlagen und Entnahmen</strong>.</p>
</li>
<li>
<p>Wähle einen Grund aus der Dropdown-Liste aus.</p>
</li>
<li>
<p>Gib einen Text in das Feld <strong>Zusätzliche Angaben</strong> ein, um den Vorfall möglichst genau zu definieren.</p>
</li>
<li>
<p>Tippe den Betrag über den Ziffernblock ein.</p>
</li>
<li>
<p>Tippe je nach Situation auf <span class="icon"><i class="fa fa-long-arrow-down" style="color:green"></i></span> <strong>Einlage</strong> oder <span class="icon"><i class="fa fa-long-arrow-up" style="color:red"></i></span> <strong>Entnahme</strong>.<br>
→ Die Kassenlade wird geöffnet und ein Beleg wird gedruckt. Im Demo-Modus wird der Druck simuliert.</p>
</li>
</ol>
</div>
<h5 id="_speichere_deine_eigenen_gründe_und_konten_in_der_vollversion" class="discrete">Speichere deine eigenen Gründe und Konten in der Vollversion</h5>
<div class="paragraph">
<p>Alles, was nicht durch Verkäufe in deine Kasse strömt und auch wieder hinaus gelangt, wird separat verbucht.
Verkäufe werden auf sogenannte <em>Erlöskonten</em> gebucht, während Kassenvorfälle wie Einlagen und Entnahmen zusammen mit den passenden Gründen auf <em>Buchungskonten</em> gebucht werden.</p>
</div>
<div class="paragraph">
<p>Die Demoversion enthält bereits einige Beispielgründe für Kassenvorfälle. In die Vollversion kannst du aber natürlich deine eigenen Gründe und Buchungskonten hinterlegen. Damit hast du die Möglichkeit, zwischen Vorfällen, die sich auf deinen Umsatz auswirken, und jenen, die das nicht tun, zu unterscheiden.</p>
</div>
</div>
</div>
<div id="2700" class="openblock collapseBox">
<div class="title"><strong>Diversartikel mit Dummy-Datensätzen</strong></div>
<div class="content">
<div class="paragraph">
<p>Hast du einen Wühltisch in deinem Laden? Diversartikel, Saisonware, Überreste - all das sind Artikel, für die sich die komplette Erfassung mit plentymarkets meistens nicht lohnt. Solche Artikel kannst du dennoch mit Hilfe von Dummy-Datensätzen kassieren. Probiere es direkt in der Demoversion aus!</p>
</div>
<div class="paragraph">
<p>Genau wie bei jedem anderen Artikel, erfasst du Dummy-Artikel indem du <a href="/pos/demo#600">den Barcode scannst</a>, ihn <a href="/pos/demo#700">aus der Favoriten-Liste wählst</a> oder indem du seine <a href="/pos/demo#800">Artikelnummer manuell eingibst</a>.
Danach gibst du den Preis ein, zu dem dieser Artikel verkauft werden soll.</p>
</div>
<div class="paragraph">
<p>Scanne den Beispiel-Dummy-Artikel oder füge den "Dummy" Artikel (ID 1080) zum Warenkorb hinzu.</p>
</div>
</div>
</div>
<div id="2800" class="openblock collapseBox">
<div class="title"><strong>Verkauf an Stammkunden</strong></div>
<div class="content">
<div class="paragraph">
<p>Behandelst du einige Kunden wie VIPs? Mit plentymarkets POS kannst du gezielt Kundendatensätze laden und diese zum reduzierten Preis einkaufen lassen.</p>
</div>
<div class="paragraph instruction">
<p>Bestandskunde auswählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe im POS-Warenkorb auf die Adresskarte (<span class="icon"><i class="fa fa-address-card-o" style="color:blue"></i></span>).<br>
→ Der aktuelle Kundendatensatz wird eingeblendet.</p>
</li>
<li>
<p>Tippe auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Kundensuche wird geöffnet.</p>
</li>
<li>
<p>Gib ein Suchkriterium ein.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-search" style="color:blue"></i></span> <strong>Suchen</strong>.<br>
→ Die gefundenen Kunden-Datensätze werden aufgelistet.</p>
</li>
<li>
<p>Tippe auf einen Datensatz, um ihn zu wählen.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-check" style="color:green"></i></span> <strong>Adresse verwenden</strong>, um diesen Kundendatensatz für die aktuelle Transaktion zu verwenden.</p>
</li>
<li>
<p>Entscheide, ob die Preise für diesen Kunden aktualisiert werden sollen.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="2850" class="openblock collapseBox">
<div class="title"><strong>Ware online verkaufen und im Laden aushändigen (Click &amp; Collect)</strong></div>
<div class="content">
<div class="paragraph">
<p>Hast du neben deinem Ladengeschäft auch einen Online-Shop? Falls ja, kannst du Kunden die Möglichkeit geben, Artikel online zu kaufen und persönlich in deinem lokalen Laden abzuholen.</p>
</div>
<div class="paragraph">
<p>Darüber hinaus können Kunden entscheiden, ob sie ihre Artikel bereits online während der Bestellung bezahlen wollen oder ob sie lieber persönlich bei Abholung bezahlen möchten.</p>
</div>
<div class="paragraph instruction">
<p>Online-Bestellung an der Kasse abschließen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe im POS-Warenkorb oben rechts auf die vertikale Ellipse (<span class="icon"><i class="fa fa-ellipsis-v" style="color:blue"></i></span>).<br>
→ Weitere Optionen werden eingeblendet.</p>
</li>
<li>
<p>Tippe auf <span class="icon"><i class="fa fa-file-text-o" style="color:blue"></i></span> <strong>Auftrag laden</strong>.<br>
→ Die Auftragssuche wird geöffnet.</p>
</li>
<li>
<p>Hat dein Kunde einen Kassenbon mitgebracht? Falls ja, scanne den Barcode. Andernfalls gib ein Suchkriterium ein und tippe auf <span class="icon"><i class="fa fa-search" style="color:blue"></i></span> <strong>Suchen</strong>.<br>
→ Die Auftragsdaten werden in die Kasse geladen.</p>
</li>
<li>
<p>Falls die Bestellung nicht im Voraus bezahlt wurde, nimm die Zahlung wie gewohnt entgegen.</p>
</li>
<li>
<p>Händige die Ware aus.</p>
</li>
<li>
<p>Tippe auf <span class="fa-stack fa-lg"><i class="fa fa-cube fa-stack-2x" style="color:green"></i><i class="fa fa-arrow-right fa-stack-1x lr" style="color:green"></i></span> <strong>Warenausgang buchen</strong>.<br>
→ Die Ware wird aus dem Lager ausgebucht.</p>
</li>
</ol>
</div>
<h5 id="_probiere_es_mit_bezahlten_und_unbezahlten_bestellungen_aus" class="discrete">Probiere es mit bezahlten und unbezahlten Bestellungen aus!</h5>
<div class="paragraph">
<p>Der Demo-Modus beinhaltet drei fiktive Aufträge, die <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo_Modus_Mockdaten.pdf" target="_blank" rel="noopener">in der PDF-Datei</a> zu sehen sind. Suche nach diesen Aufträgen und probiere somit unterschiedliche Click-and-Collect Szenarien aus:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID 1 wurde teilweise bezahlt</p>
</li>
<li>
<p>Auftrags-ID 2 wurde vollständig bezahlt</p>
</li>
<li>
<p>Auftrags-ID 3 wurde noch nicht bezahlt</p>
</li>
</ul>
</div>
</div>
</div>
<div id="2900" class="openblock collapseBox">
<div class="title"><strong>Benutzerkonto wechseln</strong></div>
<div class="content">
<div class="paragraph">
<p>Werden sich mehrere Mitarbeiter ein Gerät teilen? Falls ja, dann kann das ständige Ein- und Ausloggen viel Zeit in Anspruch nehmen. Schneller geht es wenn der eingeloggte Benutzer sich nicht direkt abmeldet, sondern wenn das Konto mit einer PIN gewechselt wird.</p>
</div>
<div class="paragraph">
<p>Probiere es direkt im Demo-Modus aus! Wir haben drei fiktive Kassierer geschaffen, mit denen du arbeiten kannst. Jeder dieser Kassierer hat seine eigene App-PIN.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto im laufenden Betrieb wechseln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo_Modus_Mockdaten.pdf" target="_blank" rel="noopener">Lade die Kassierer-App-PINs als PDF-Datei herunter</a>.</p>
</li>
<li>
<p>Öffne die PDF-Datei, um die darin enthaltenen App-PINs zu sehen.</p>
</li>
<li>
<p>Tippe vom Startbildschirm der App aus auf das Benutzersymbol (<span class="icon"><i class="fa fa-user" style="color:blue"></i></span>) oben rechts.<br>
→ Eine Liste der Personen wird angezeigt, für die eine App-PIN gespeichert ist.<br></p>
</li>
<li>
<p>Tippe auf das gewünschte Benutzerkonto.</p>
</li>
<li>
<p>Gib den App-Pin für den Benutzer ein.<br>
→ Das Benutzerkonto wird gewechselt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3000">5. Zur Vollversion wechseln</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Haben wir deine Interesse geweckt? Dann hol dir direkt die Vollversion!</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://get.plentymarkets.com/?contract_type=startbasic#order-now" target="_blank" rel="noopener">https://get.plentymarkets.com/</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Hast du noch Fragen zu plentymarkets POS oder zu den Tarifen? Wir beraten dich gerne! Setze dich jederzeit mit unserem <a href="https://www.plentymarkets.eu/unternehmen/kontakt/" target="_blank" rel="noopener">Vertriebsteam</a> in Verbindung.</p>
</div>
</div>
</div>
</main>