<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Rechtssicherheit in Deutschland</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Kassenvorgänge als PDF- oder CSV-Datei exportieren</span></a></li>
<li><a href="#300"><span>1.2.</span><span> IDEA-Export erstellen</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Umgang mit der Kassensicherungsverordnung</span></a>
<ul class="sectlevel3">
<li><a href="#500"><span>1.3.1.</span><span> Technische Sicherheitseinrichtung in Betrieb nehmen</span></a></li>
<li><a href="#600"><span>1.3.2.</span><span> Bei Ausfall der TSE kassieren</span></a></li>
<li><a href="#700"><span>1.3.3.</span><span> TSE-Export in der plentymarkets App erstellen</span></a></li>
<li><a href="#800"><span>1.3.4.</span><span> TSE-Exportdateien herunterladen</span></a></li>
<li><a href="#900"><span>1.3.5.</span><span> TSE-Informationen in der plentymarkets App einsehen</span></a></li>
<li><a href="#950"><span>1.3.6.</span><span> DSFinV-K-Export erstellen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1000"><span>2.</span><span> Rechtssicherheit in Österreich</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>2.1.</span><span> Monatsbeleg erstellen</span></a></li>
<li><a href="#1200"><span>2.2.</span><span> Bei Ausfall der Signatureinheit kassieren</span></a></li>
<li><a href="#1300"><span>2.3.</span><span> Kontrollbeleg auf Verlangen der Finanzpolizei erstellen</span></a></li>
<li><a href="#1400"><span>2.4.</span><span> plentymarkets POS in Österreich nutzen</span></a></li>
</ul>
</li>
<li><a href="#900"><span>3.</span><span> plentyPOS in Österreich nutzen</span></a>
<ul class="sectlevel3">
<li><a href="#1500"><span>3.1.</span><span> Übersicht: Inbetriebnahme der Kasse</span></a></li>
<li><a href="#1600"><span>3.2.</span><span> Startbeleg erstellen (Standort Österreich)</span></a></li>
<li><a href="#1700"><span>3.3.</span><span> Kassenvorgänge in Österreich belegen</span></a>
<ul class="sectlevel3">
<li><a href="#1800"><span>3.3.1.</span><span> DEP-Export erstellen</span></a></li>
<li><a href="#1900"><span>3.3.2.</span><span> Monatsbeleg erstellen</span></a>
<ul class="sectlevel4">
<li><a href="#2000"><span>Berechtigungen für Monatsbelege erteilen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#2100"><span>3.4.</span><span> SOS: Die Signatureinheit ist ausgefallen - was jetzt?</span></a></li>
<li><a href="#2200"><span>3.5.</span><span> Kontrollbeleg auf Verlangen der Finanzpolizei erstellen</span></a></li>
<li><a href="#2300"><span>3.6.</span><span> Kasse außer Betrieb nehmen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Rechtssicher arbeiten mit POS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Bei der Verwendung von plentyPOS gibt es einige Punkte, die beachten solltest, um rechtssicher zu arbeiten. Zumeist handelt es sich um steuer- und finanzrechtliche Themen. Einige Aspekte sind bereits bei der Einrichtung der Kasse relevant, andere werden abhängig von Kontrollen durch die Finanzbehörden notwendig. Diese Handbuchseite beschreibt alle notwendigen Vorgehensweisen, damit du plentyPOS rechtssicher verwendest. Dabei wird zwischen den Ländern Deutschland und Österreich differenziert, da in beiden Ländern unterschiedliche rechtliche Grundlagen für den Betrieb von Registrierkassen gelten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Rechtssicherheit in Deutschland</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Kapitel beschreiben die für den Kassenbetrieb in Deutschland vorgeschriebenen Schritte zum rechtssicheren Arbeiten mit plentyPOS.</p>
</div>
<div class="paragraph">
<p>In Deutschland gelten mehrere Verordnungen für den Betrieb von Registrierkassen. Unter anderem sind die "Grundsätze zur ordnungsmäßigen Führung und Aufbewahrung von Büchern, Aufzeichnungen und Unterlagen in elektronischer Form sowie zum Datenzugriff" (<strong>GoBD</strong>) für den Kassenbetrieb relevant. Grundsätzlich müssen Kassenvorgänge elektronisch unveränderbar aufgezeichnet sowie digital lesbar archiviert werden. Informiere dich genau bei deinem Steuerberater über die geltenden Gesetze und bespreche, welche Daten du exportieren und archivieren solltest.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">plentymarkets POS ist GoBD-zertifiziert</div>
<div class="paragraph">
<p>Die Funktionalitäten von plentymarkets POS sind GoBD-konform. Das Zertifikat kannst du beispielsweise zum Nachweis gegenüber deinem Steuerberater oder Behörden <a href="https://www.plentymarkets.eu/documents/category/3339/GoBD-Export-Zertifikat-plentymarkets.pdf" target="_blank" rel="noopener">hier</a> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Kassenvorgänge als PDF- oder CSV-Datei exportieren</h3>
<div class="paragraph">
<p>Die im Kassenjournal angezeigten Kassenvorgänge kannst du entweder als PDF-Datei oder als CSV-Datei exportieren. Exportiert werden die über die Suche gefilterten Kassenvorgänge. Gehe wie unten beschrieben vor, um Kassenvorgänge zu exportieren. Nachdem du einen Exportvorgang gestartet hast, ist das Starten weiterer Kassenjournalexporte zwei Minuten lang nicht möglich.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Menü-Sichtbarkeit für variable Benutzer aktivieren</div>
<div class="paragraph">
<p>Für Kassenbenutzer, die als variable Benutzer auf das plentymarkets Backend zugreifen, musst du die <a href="/basics/admin-aufgaben/benutzer-verwalten#100">Menü-Sichtbarkeit</a> aktivieren, damit diese Benutzer Zugriff auf das oben beschriebene Menü erhalten.
Öffne dazu das Menü <strong>Einrichtung » Einstellungen » Benutzer » variablen Benutzer wählen » Rechte</strong>. Aktiviere im Bereich <strong>Menü-Sichtbarkeiten</strong> unter <strong>Aufträge » POS</strong> die Option <strong>Kassenjournal</strong>. Klicke abschließend auf <strong>Speichern</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kassenvorgänge als PDF- oder CSV-Datei exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » POS » Kassenjournal</strong>.</p>
</li>
<li>
<p>Wähle die Filter. Beachte die Erläuterungen in <a href="#tabelle-POS-kassenjournal-menue">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon blue"><i class="fa fa-search  "></i></span>), um die Suche auszuführen.
→ Die Kassenvorgänge, die den Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
<li>
<p>Klicke je nach gewünschtem Dateiformat auf <strong>PDF-Export</strong> oder <strong>Kassenbuch-Export (CSV)</strong><br>
→ Eine Datei der gefilterten Kassenvorgänge wird generiert. Abhängig von der Anzahl der Datensätze kann dieser Vorgang mehrere Minuten dauern.<br>
→ Die Datei wird in einem separaten Browser-Fenster angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon lightGrey"><i class="fa fa-save  "></i></span>)die Datei.</p>
</li>
</ol>
</div>
<table id="tabelle-POS-kassenjournal-menue" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Kassenjournal</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Filtereinstellungen auf <strong>Suchen</strong> klicken, um alle Kassenvorgänge anzuzeigen.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Die Suchergebnisse durch Filtereinstellungen eingrenzen und auf <strong>Suchen</strong> klicken. Die gefundenen Kassenvorgänge werden aufgelistet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt die zuvor eingestellten Filterkriterien zurück.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Belegnummer: von</strong>;<br>
<strong>Belegnummer: bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Belegnummer des ersten und des letzten Belegs eingeben, um Kassenvorgänge einer bestimmten Belegabfolge anzuzeigen. Um nur einen Beleg anzuzeigen, die gesuchte Belegnummer in die Felder <strong>Belegnummer: von</strong> und <strong>Belegnummer: bis</strong> eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Buchungskonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein <a href="/pos/pos-einrichten#950">Buchungskonto</a> eingeben, um Kassenvorgänge eines bestimmten Buchungskontos anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verk. Gutscheine zu Betrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du verkaufte Gutscheine wie Umsätze behandeln?<br>
<strong>Häkchen gesetzt</strong> = Gutscheinverkäufe zählen zum Umsatz. Die Beträge werden also als "Einnahmen" im Kassenjournal verzeichnet. Gutscheinverkäufe fließen in den Wert rein, der rechts in die Spalte <strong>Betrag</strong> zu sehen ist. Gutscheine werden auch im PDF-Export und CSV-Export wie Umsätze behandelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Mandanten (Shop) aus der Dropdown-Liste wählen, um die Ergebnisse auf Kassenvorgänge dieses Mandanten einzugrenzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Kasse aus der Dropdown-Liste wählen, um die Ergebnisse auf Kassenvorgänge dieser Kasse einzugrenzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Benutzer aus der Dropdown-Liste wählen, um die Ergebnisse auf Kassenvorgänge dieser Kassenkraft einzugrenzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Zahlungsart aus der Dropdown-Liste wählen, um die Ergebnisse auf Kassenvorgänge mit dieser Zahlungsart einzugrenzen. Die Dropdown-Liste enthält nur aktive Zahlungsarten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Zeitspanne wählen, um die angezeigten Kassenvorgänge auf diesen Zeitraum zu beschränken.<br>
Um Belege eines benutzerdefinierten Zeitraums anzuzeigen, die Option <strong>Datumsauswahl</strong> wählen und im Feld <strong>von</strong> das Startdatum und im Feld <strong>bis</strong> das Enddatum eingeben oder aus dem angezeigten Kalender wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Typ aus der Dropdown-Liste wählen, um die Ergebnisse auf Kassenvorgänge dieses Typs einzugrenzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Kassenjournal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit des Kassenvorgangs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob der Vorgang eine Einnahme (<strong>E</strong>) oder eine Ausgabe (<strong>A</strong>) ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Wert des Kassenvorgangs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Belegnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die fortlaufende Nummer des Belegs, der für den Kassenvorgang erstellt wurde. Auf die Belegnummer klicken, um den Beleg im PDF-Format zu öffnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Typ des Kassenvorgangs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Barbestand der Kassen nach Abschluss des Kassenvorgangs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID des in plentymarkets erstellten Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Steuersatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Steuersätze, die für diesen Auftrag zum Tragen kommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>USt.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die im Auftragswert enthaltene Umsatzsteuer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Buchungstext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Buchungstext für den Kassenvorgang. Bei Einlagen und Entnahmen entspricht der Buchungstext dem Grund der Bargeldbewegung.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. IDEA-Export erstellen</h3>
<div class="paragraph">
<p>Laut den deutschen handels- und steuerrechtlichen Ordnungsvorschriften (GoBD) musst du bei einer Außenprüfung auf Verlangen der Finanzverwaltung nicht nur aufzeichnungs- und aufbewahrungspflichtige Daten vorlegen, sondern auch alle zur Auswertung der Daten notwendigen Strukturinformationen in maschinell auswertbarer Form bereitstellen. Deshalb stellt plentymarkets einen GoBD-konformen Export der Kassenvorgänge bereit. Die Exportdateien ermöglichen Betriebsprüfern, deine Kassendaten vollständig und effizient auszuwerten. Gehe wie unten beschrieben vor, um einen IDEA-Export zu erstellen:</p>
</div>
<div class="paragraph instruction">
<p>IDEA-Dateien exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » POS » IDEA-Export</strong>.</p>
</li>
<li>
<p>Wähle das Kalenderjahr, für das du die Daten exportieren möchtest.</p>
</li>
<li>
<p>Klicke auf das Zahnrad (<span class="icon darkGrey"><i class="fa fa-icon-execute  "></i></span>), um den Export zu generieren.<br>
→ Der Export wird über Nacht generiert.<br>
→ Der Export ist abgeschlossen, wenn der Status <strong>Fertig</strong> angezeigt wird.</p>
</li>
<li>
<p>Klicke auf das Download-Symbol (<span class="icon purple"><i class="fa fa-download  "></i></span>)in der Spalte <strong>Aktionen</strong>.</p>
</li>
<li>
<p>Wähle einen Speicherort und bestätige die Auswahl.<br>
→ Die IDEA-Dateien werden exportiert und als ZIP-Datei gespeichert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Menü-Sichtbarkeit für variable Benutzer aktivieren</div>
<div class="paragraph">
<p>Für Kassenbenutzer, die als variable Benutzer auf das plentymarkets Backend zugreifen, musst du die <a href="/basics/admin-aufgaben/benutzer-verwalten#100">Menü-Sichtbarkeit</a> aktivieren, damit diese Benutzer Zugriff auf das oben beschriebene Menü erhalten.
Öffne dazu das Menü <strong>Einrichtung » Einstellungen » Benutzer » variablen Benutzer wählen » Rechte</strong>. Aktiviere im Bereich <strong>Menü-Sichtbarkeiten</strong> unter <strong>Aufträge » POS</strong> die Option <strong>IDEA-Export</strong>. Klicke abschließend auf <strong>Speichern</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Umgang mit der Kassensicherungsverordnung</h3>
<div class="paragraph">
<p>In Deutschland gilt für alle Registrierkassen die Kassensicherungsverordnung (KassenSichV). Aufgrund dieser gesetzlichen Vorgabe bist du verpflichtet, alle deine Kassen mit einer so genannten technischen Sicherheitseinrichtung (TSE) auszustatten. Die TSE signiert alle Kassenbelege und legt die Kassenvorgänge unveränderbar in einem speziellen Dateiformat ab. Einen TSE-Export, der diese Daten enthält, solltest du täglich erstellen. Im Rahmen einer Prüfung durch die Finanzbehörden bist du außerdem verpflichtet, einen Export der vorhandenen gesammelten TSE-Daten vorzulegen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktuelle Information zur Kassensicherungsverordnung</div>
<div class="paragraph">
<p>Der Registrierungsvorgang für technische Sicherheitseinrichtungen ist vonseiten der Finanzämter noch nicht final durch Formulare und Schnittstellen geregelt. Daher werden aktuell betriebene, aber nicht registrierte Kassen momentan noch durch eine Nichtbeanstanstadungsregelung geduldet (Stand 04/2020). <a href="https://www.bundesfinanzministerium.de/Content/DE/Downloads/BMF_Schreiben/Weitere_Steuerthemen/Abgabenordnung/2019-11-05-nichtbeanstandungsregelung-bei-verwendung-elektronischer-aufzeichnungssysteme.pdf?__blob=publicationFile&amp;v=2" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="500">1.3.1. Technische Sicherheitseinrichtung in Betrieb nehmen</h4>
<div class="paragraph">
<p>Um deine Kasse mit einer technischen Sicherheitseinrichtung zu verbinden und somit KassenSichV-konform zu betreiben, beachte die Informationen in <a href="#tabelle-inbetriebnahme-tse-deutschland">Tabelle 2</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eine TSE pro Kasse verwenden</div>
<div class="paragraph">
<p>Wir empfehlen, für jede verwendete Kasse eine eigene technische Sicherheitseinrichtung zu verwenden. Die Kombination aus mehreren Kassen, die auf eine TSE zugreifen, führt zu Verzögerungen und Wartezeiten bei Kassiervorgängen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Separate TSE pro Mandant verwenden</div>
<div class="paragraph">
<p>Wenn du Kassen innerhalb mehrerer Mandanten betreibst, dürfen keine Kassen aus verschiedenen Mandanten mit derselben TSE gekoppelt werden. Bei 2 Mandanten mit Kassenbetrieb werden also mindestens 2 separate Sicherheitseinrichtungen benötigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-inbetriebnahme-tse-deutschland" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Technische Sicherheitseinrichtung koppeln</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 33.3333%;">
<col style="width: 50.0001%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Reihenfolge</th>
<th class="tableblock halign-left valign-top">Schritt</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hardware beschaffen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach dem 01.01.2020 angeschaffte Hardware muss per Gesetz entweder bereits KassenSichV-konform oder aufrüstbar sein. Kontaktiere deinen Hardware-Anbieter, um neue Bondrucker mit integrierter TSE zu beschaffen. <strong><em>Alternativ</em></strong>: Informiere dich bei deinem Hardware-Anbieter, ob deine aktuell verwendete Hardware aufgerüstet werden kann oder muss.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TSE-Einheit koppeln</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schließe deine Hardware an dein Kassensystem an. Daraufhin wird vom Bondrucker automatisch ein Beleg ausgegeben.<br>
Öffne die plentymarkets App und klicke im Menü auf <strong>Einstellungen</strong>. Gib die IP-Adresse der TSE-Einheit ein, die auf dem Bon vermerkt ist. Tippe dann auf <strong>TSE-Einheit koppeln</strong>.<br>
Im Menü <strong>Einrichtung » Mandant » Mandant wählen » POS</strong> wird im Tab <strong>Grundeinstellungen</strong> im Bereich <strong>Fiskalisierung (Deutschland)</strong> die <strong>Seriennummer der TSE</strong> und der <strong>Public Key</strong> der TSE nach der Kopplung automatisch eingetragen und gespeichert. Bei Bedarf kannst du die Daten hier einsehen und kontrollieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Registrierung der TSE-Einheit beim Finanzamt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Melde deine TSE inklusive der <strong>Seriennummer</strong> (siehe vorheriger Schritt) an dein zuständiges Finanzamt. Weitere Informationen zur Meldepflicht und zum Registrierungsvorgang folgen, sobald sie vom Bundesfinanzministerium festgelegt werden.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">IP-Adresse der TSE notieren</div>
<div class="paragraph">
<p>Wir empfehlen, die IP-Adresse der TSE separat zu notieren. Bestenfalls bringst du nach erfolgreicher Kopplung ein Etikett mit der IP-Adresse außen am Bondrucker an. So kannst du nach Verbindungsabbrüchen oder anderen Störungen einfach auf die bei der Kopplung gespeicherte IP-Adresse zugreifen und vermeidest, dass die falsche TSE gekoppelt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="600">1.3.2. Bei Ausfall der TSE kassieren</h4>
<div class="paragraph">
<p>Falls die technische Sicherheitseinrichtung ausfällt, kannst du weiterhin Kassiervorgänge an der Kasse durchführen. Bei einem Ausfall wird jeder Kassenbeleg, der nach dem Ausfall erzeugt wird, mit einem entsprechenden Vermerk versehen.<br>
Beachte jedoch zwingend die folgenden Schritte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Notiere den Zeitpunkt des Ausfalls.</p>
</li>
<li>
<p>Weiche wenn möglich auf eine Registrierkasse mit funktionierender TSE aus.</p>
</li>
<li>
<p>Wenn keine andere Kasse verfügbar ist, kannst du trotz ausgefallener Signatureinheit weiter kassieren. Alle Belege werden dann mit einem Hinweis versehen. Dieser besagt, dass die TSE zum Zeitpunkt des Belegdrucks ausgefallen ist.</p>
</li>
<li>
<p>Kontaktiere umgehend deinen TSE- bzw. Hardware-Anbieter, um die TSE wieder instandzusetzen oder sie bei Bedarf auszutauschen.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Kassenpersonal schulen</div>
<div class="paragraph">
<p>Schule dein Kassenpersonal sorgfältig mithilfe der oben genannten Punkte, damit ein eventueller Ausfall der TSE stets richtig behandelt und intern vermerkt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="700">1.3.3. TSE-Export in der plentymarkets App erstellen</h4>
<div class="paragraph">
<p>Den TSE-Export solltest du täglich nach dem <a href="/pos/pos-kassenbenutzer#230">Tagesabschluss</a> erstellen. Dazu startest du zuerst den TSE-Export über die plentymarkets App. Die Exportdatei wird anschließend automatisch hochgeladen und steht im zweiten Schritt im plentymarkets Backend zum Download zur Verfügung.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">TSE-Export täglich erstellen</div>
<div class="paragraph">
<p>Wir empfehlen, darauf zu achten, nach jedem Tagesabschluss auch gleich einen TSE-Export durchzuführen, damit alle Kassenvorgänge seit dem letzten Tagesabschluss sauber dokumentiert sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um den TSE-Export zu erstellen:</p>
</div>
<div class="paragraph instruction">
<p>TSE-Export erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die plentymarkets App.</p>
</li>
<li>
<p>Tippe oben links auf das Menüsymbol.<br>
→ Das Menü wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <strong>TSE-Einheit</strong>.</p>
</li>
<li>
<p>Tippe unten im Bereich <strong>Export</strong> auf <strong>Erstellen und hochladen</strong>.<br>
→ Bestätige die Sicherheitsabfrage. Der Export wird nun erstellt und die Exportdatei in das plentymarkets Backend hochgeladen. <strong><em>Hinweis</em></strong>: Es kann einige Minuten dauern, bis der Vorgang abgeschlossen ist.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="800">1.3.4. TSE-Exportdateien herunterladen</h4>
<div class="paragraph">
<p>Im plentymarkets Backend stehen dir nach Erstellung über die App alle bisher generierten TSE-Exportdateien zur Verfügung. Im Fall einer Überprüfung durch die Finanzbehören greifst du über das Menü <strong>Aufträge » POS » TSE-Export</strong> auf die Exportdateien zu und kannst diese in einem einheitlichen Format herunterladen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Kassenpersonal schulen</div>
<div class="paragraph">
<p>Im Fall einer Prüfung durch die Finanzbehörden muss jeder Kassenbenutzer in der Lage sein, den TSE-Export unverzüglich erstellen und in elektronischer Form übergeben zu können. Schule deshalb dein Kassenpersonal sorgfältig mithilfe der folgenden Anleitung!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um TSE-Exportdateien herunterzuladen.</p>
</div>
<div class="paragraph instruction">
<p>TSE-Exporte herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » POS » TSE-Export</strong>.</p>
</li>
<li>
<p>Wähle im Dropdown-Menü die Seriennummer der betreffenden TSE-Einheit aus.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Wähle über den Filter das Start- und Enddatum für den Zeitraum, über den du die Exportdateien herunterladen möchtest.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon blue"><i class="fa fa-search  "></i></span>), um die Suche auszuführen.<br>
→ Die Liste der verfügbaren Exportdateien wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Alle Exporte herunterladen</strong>, um alle auf der Seite angezeigten Exportdateien direkt herunterzuladen.<br>
→ <strong><em>Oder</em></strong>: Setze ein Häkchen für einzelne Einträge in der Liste und klicke auf <strong>Ausgewählte Exporte herunterladen</strong>.<br>
→ Die Exportdateien heruntergeladen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Menü-Sichtbarkeit für variable Benutzer aktivieren</div>
<div class="paragraph">
<p>Für Kassenbenutzer, die als variable Benutzer auf das plentymarkets Backend zugreifen, musst du zuvor die <a href="/basics/admin-aufgaben/benutzer-verwalten#100">Menü-Sichtbarkeit</a> aktivieren, damit diese Benutzer Zugriff auf das oben beschriebene Menü erhalten.
Öffne dazu das Menü <strong>Einrichtung » Einstellungen » Benutzer » variablen Benutzer wählen » Rechte</strong>. Aktiviere im Bereich <strong>Menü-Sichtbarkeiten</strong> unter <strong>Aufträge » POS</strong> die Option <strong>TSE-Export</strong>. Klicke abschließend auf <strong>Speichern</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="900">1.3.5. TSE-Informationen in der plentymarkets App einsehen</h4>
<div class="paragraph">
<p>Neben der Erstellung und dem Herunterladen der eigentlichen TSE-Exportdateien bietet dir die plentymarkets App Einblick in den aktuellen Status deiner TSE-Einheit.</p>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Informationen zur TSE-Einheit in der plentymarkets App einzusehen.</p>
</div>
<div class="paragraph instruction">
<p>TSE-Informationen in der plentymarkets App einsehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die plentymarkets App.</p>
</li>
<li>
<p>Tippe oben links auf das Menüsymbol.<br>
→ Das Menü wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <strong>TSE-Einheit</strong>.<br>
→ Die verfügbaren Informationen zur TSE-Einheit werden aufgelistet. Beachte dazu <a href="#tabelle-app-tse-einheit">Tabelle 3</a>.</p>
</li>
</ol>
</div>
<table id="tabelle-app-tse-einheit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. TSE-Informationen in der App</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Informationen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den aktuellen Status der TSE-Einheit an.<br>
Sobald die TSE-Einheit erfolgreich gekoppelt wurde, wird der Standard-Status <strong>INITIALIZED</strong> angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zertifikat gültig bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt das Gültigkeitsdatum des TSE-Zertifikats an. Nach Ablauf des angezeigten Datums muss beim Anbieter ein neues Zertifikat für die betroffene TSE erworben werden. Im Fall eines abgelaufenen Zertifikats kann die Kasse zwar weiter betrieben werden, jedoch muss das Zertifikat baldmöglichst erneuert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Registrierte Clients</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl aller Kassen, die mit der TSE verbunden sind. Im Optimalfall ist jede Kasse mit einer eigenen TSE ausgestattet und der Wert <strong>1</strong> wird angezeigt. Es ist möglich, mehrere Kassen in Verbindung mit derselben TSE zu betreiben. Allerdings kann es bei diesem Vorgehen zu Wartezeiten bei der Erstellung von Kassenbelegen kommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gestartete Transaktionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Transaktionen, also der Kassenvorgänge, die aktuell ausgeführt und durch die TSE signiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Signaturen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erstellt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Signaturen, die bislang auf der aktuell verwendeten TSE erstellt wurden. Hierzu zählen alle Vorgänge, die die TSE im Hintergrund abwickelt (Anmeldungsvorgang, Einstellungsänderungen, Zeitabgleiche) sowie jeder einzelne durch die TSE signierte Kassenbeleg.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verbleibend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der verbleibenden Signaturen, die für die aktuell verwendete TSE noch zur Verfügung stehen, bis die maximale Gesamtanzahl (siehe Wert <strong>Gesamt</strong>) erreicht ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Signaturen, die auf der aktuell verwendeten TSE maximal erstellt werden können. Ist diese Anzahl erreicht, muss die TSE-Einheit beim Anbieter ausgetauscht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Speicher</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den aktuell auf der TSE-Einheit verwendeten Speicher an. Der Speicher der TSE-Einheit wird durch die TSE-Exportdateien belegt und kann durch das <a href="/pos/pos-rechtssicherheit#600">Erstellen einen Exports</a> geleert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den maximal verfügbaren Gesamtspeicherplatz auf der TSE-Einheit an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Export</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzter Export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt das Datum, an dem der letzte TSE-Export über die plentymarkets App erstellt und erfolgreich hochgeladen wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktuelle Exportgröße</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die voraussichtliche Dateigröße des nächsten anstehenden TSE-Exports an.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="950">1.3.6. DSFinV-K-Export erstellen</h4>
<div class="paragraph">
<p>Mithilfe der sogenannten Digitalen Schnittstelle der Finanzverwaltung für Kassensysteme (DSFinV-K) wird sichergestellt, dass sämtliche Transaktionsdaten von Kassensystemen in einem einheitlichen Format gespeichert werden.</p>
</div>
<div class="paragraph">
<p>In plentymarkets erstellte DSFinV-K-Exporte sind GoBD-konform, enthalten jedoch zusätzliche Informationen. DSFinV-K-Exporte können von Finanzämtern zur Überprüfung angefordert werden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Kassenpersonal schulen</div>
<div class="paragraph">
<p>Im Fall einer Prüfung durch die Finanzbehörden muss jeder Kassenbenutzer in der Lage sein, den DSFinV-K-Export unverzüglich erstellen und in elektronischer Form übergeben zu können. Schule deshalb dein Kassenpersonal sorgfältig mithilfe der folgenden Anleitung!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>DSFinV-K-Export erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » POS » DSFinV-K-Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Export erstellen</strong>.<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle aus dem Dropdown-Menü einen Mandanten, für den der Export erstellt werden soll.</p>
</li>
<li>
<p>Wähle ein Jahr, für das die Daten in den zu erstellenden Export übernommen werden sollen.</p>
</li>
<li>
<p>Klicke auf <strong>Export erstellen</strong>.<br>
→ Der Export wird zur Erstellung vorgemerkt und über Nacht generiert.<br>
→ Sobald der Export vollständig generiert wurde, wird er im Menü <strong>Aufträge » POS » DSFinV-K-Export</strong> mit dem Status <strong>Abgeschlossen</strong> angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Herunterladen</strong>.<br>
→ Die Exportdatei wird heruntergeladen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<div class="title">Menü-Sichtbarkeit für variable Benutzer aktivieren</div>
<p>Für Kassenbenutzer, die als variable Benutzer auf das plentymarkets Backend zugreifen, musst du zuvor die Menü-Sichtbarkeit aktivieren, damit diese Benutzer Zugriff auf das oben beschriebene Menü erhalten.
Öffne dazu das Menü <strong>Einrichtung » Einstellungen » Benutzer » variablen Benutzer wählen » Rechte</strong>. Aktiviere im Bereich <strong>Menü-Sichtbarkeiten</strong> unter <strong>Aufträge » POS</strong> die Option <strong>DSFinV-K-Export</strong>. Klicke abschließend auf <strong>Speichern</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">2. Rechtssicherheit in Österreich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Österreichische Kassen sind mit einer Signatureinheit ausgestattet. Daraus ergeben sich einige Besonderheiten, die im Folgenden näher beschrieben werden.</p>
</div>
<div class="sect2">
<h3 id="1100">2.1. Monatsbeleg erstellen</h3>
<div class="paragraph">
<p>Monatsbelege sind signierte Kontrollbelege mit einem Betrag von Null (0,00) Euro. Laut RKSV muss am Ende jedes Monats ein Monatsbeleg erstellt werden. Der Monatsbeleg für den Monat Dezember dient gleichzeitig als Jahresbeleg.</p>
</div>
<div class="paragraph instruction">
<p>Monatsbeleg erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melde dich in der plentymarkets App an.</p>
</li>
<li>
<p>Tippe in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>POS</strong>.<br>
→ Das POS-Menü wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <strong>Monatsbeleg (AT)</strong>.<br>
→ Der Monatsbeleg wird gedruckt.<br>
→ Der Monatsbeleg wird in plentymarkets importiert und im Menü <strong>Aufträge » Dokumentenarchiv</strong> gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">2.2. Bei Ausfall der Signatureinheit kassieren</h3>
<div class="paragraph">
<p>Der österreichische Gesetzgeber gibt vor, wie du vorgehen sollst, falls die Signatureinheit der Registrierkasse ausfällt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Notiere den Zeitpunkt des Ausfalls.</p>
</li>
<li>
<p>Weiche wenn möglich auf eine Registrierkasse mit funktionierender Signatureinheit aus.</p>
</li>
<li>
<p>Wenn keine andere Kasse verfügbar ist, kannst du trotz ausgefallener Signatureinheit weiter kassieren. Alle Belege werden dann mit dem Hinweis <strong>Sicherheitseinrichtung ausgefallen</strong> versehen.</p>
</li>
<li>
<p>Sobald die Signatureinheit wieder funktioniert, wird in plentyPOS automatisch ein Sammelbeleg erstellt und gedruckt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Schritte sind Empfehlungen zum Einhalten der RKSV. Erkundige dich außerdem bei deiner Vorgesetzten, wie du bei einem Ausfall genau vorgehen sollst.</p>
</div>
</div>
<div class="sect2">
<h3 id="1300">2.3. Kontrollbeleg auf Verlangen der Finanzpolizei erstellen</h3>
<div class="paragraph">
<p>Bei einer Kassenrückschau durch die österreichische Finanzpolizei muss auf Verlangen ein Kontrollbeleg mit dem Betrag Null erstellt werden. Dieser Kontrollbeleg ermöglicht der prüfenden Person, die Gültigkeit der Signatur mit einer Prüf-App direkt vor Ort in deinem Laden zu prüfen. Du benötigst keine zusätzlichen Berechtigungen, um den Kontrollbeleg zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Kontrollbeleg auf Verlangen erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melde dich bei der plentymarkets App an.</p>
</li>
<li>
<p>Tippe in der Menüleiste auf das <strong>Menüsymbol</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>POS</strong>.<br>
→ Das POS-Menü wird angezeigt.</p>
</li>
<li>
<p>Tippe auf <strong>Kontrollbeleg</strong>.<br>
→ Der Kontrollbeleg wird gedruckt.<br>
→ Der Kontrollbeleg wird in plentymarkets importiert und im Menü <strong>Aufträge » Dokumentenarchiv</strong> gespeichert.<br>
<strong><em>Hinweis:</em></strong> Die Finanzpolizei darf den Kontrollbeleg als Beweismittel einbehalten.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1400">2.4. plentymarkets POS in Österreich nutzen</h3>

</div>
</div>
</div><div class="sect1">
<h2 id="900">3. plentyPOS in Österreich nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Laut Registrierkassensicherheitsverordnung (RKSV) müssen Registrierkassen in Österreich mit einer technischen Sicherheitseinrichtung ausgestattet sein, die dafür sorgt, dass die über die Kasse abgewickelten Kassenvorgänge manipulationssicher, also nicht mehr veränderbar sind. Sichtbares Zeichen für diesen Manipulationsschutz ist der QR-Code auf dem Kassenbeleg. Hier erfährst du, wie du Kassen in Betrieb nimmst und nutzt, die in Österreich betrieben werden sollen.</p>
</div>
<div class="sect3">
<h4 id="1500">3.1. Übersicht: Inbetriebnahme der Kasse</h4>
<div class="paragraph">
<p>Für Kassen mit Standort Österreich sind die in <a href="#tabelle-inbetriebnahme-kasse-österreich">Tabelle 4</a> erläuterten Schritte notwendig, um die von der RKSV vorgeschriebene Sicherheitseinrichtung in Betrieb zu nehmen. Detaillierte Informationen zu diesen rechtlichen Anforderungen findest du auf der Website des österreichischen <a href="https://www.bmf.gv.at/steuern/selbststaendige-unternehmer/Sicherheitseinrichtung_in_Registrierkassen.html" target="_blank" rel="noopener">Bundesministeriums für Finanzen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Auf dieser Handbuchseite werden nur die Schritte beschrieben, die erforderlich sind, um eine plentyPOS Kasse mit Standort Österreich in Betrieb zu nehmen. Die Beschreibung ersetzt keine rechtliche und steuerrechtliche Beratung.</p>
</div>
<table id="tabelle-inbetriebnahme-kasse-österreich" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Kasse in Österreich in Betrieb nehmen</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 33.3333%;">
<col style="width: 50.0001%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Reihenfolge</th>
<th class="tableblock halign-left valign-top">Schritt</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Signaturkarte und Signaturkartenleser beschaffen</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>plentyPOS ist für den Einsatz mit dem Feitian Smartcard-Leser <a href="http://www.cryptoshop.com/feitian-br301-bluetooth-reader.html" target="_blank" rel="noopener">bR301</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> optimiert.</p>
</li>
<li>
<p>plentymarkets testet mit den Signaturkarten des Vertrauensdiensteanbieters <a href="https://www.prime-sign.com/" target="_blank" rel="noopener">PrimeSign</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manipulationssichere Registrierkasse initialisieren</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Siehe <a href="/pos/pos-einrichten#50">Grundeinstellungen der Kasse vornehmen</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startbeleg erstellen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Siehe <a href="/pos/pos-einrichten#900">Startbeleg erstellen</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Signaturkarte und Registrierkasse bei FinanzOnline registrieren</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nachdem der Startbeleg erstellt wurde, registrierst du Signaturkarte und Registrierkasse bei FinanzOnline. Für die Registrierung benötigst du die folgenden Daten:<br></p>
</div>
<div class="paragraph">
<p>Signaturkarte (Unterlagen der Signaturkarte):<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Seriennummer des Signaturzertifikats</p>
</li>
<li>
<p>Den Namen des Vertrauensdiensteanbieters, bei dem das Zertifikat erworben wurde</p>
</li>
<li>
<p>Die PIN des Signaturzertifikats</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Registrierkasse (<strong>Einstellungen » Mandant » Standard » POS » Kasse öffnen » Tab: Grundeinstellungen</strong>):<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Kassenidentifikationsnummer der plentyPOS Kasse. Die <strong>Kassenidentifikationsnummer</strong> findest du im Menü <strong>Einstellungen » Mandant » Standard » POS » Kasse öffnen » Tab: Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Den <strong>Benutzerschlüssel AES-256</strong>, der im Menü <strong>Einstellungen » Mandant » Standard » POS » Kasse öffnen » Tab: Grundeinstellungen</strong> angezeigt wird.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startbeleg mit der BMF-Belegcheck-App scannen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Scanne den QR-Code auf dem Startbeleg der Kasse, nachdem du die Registrierung bei FinanzOnline abgeschlossen hast. Die App prüft dabei die Gültigkeit der Signatur auf den Belegen der Registrierkasse.<br>
<strong><em>Tipp:</em></strong> Zwischen dem Zeitpunkt der Registrierung von Signaturkarte und Registrierkasse über FinanzOnline und der Prüfung des Startbelegs darf nicht mehr als eine Woche liegen.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Existierende Kassen mit Standort Österreich</div>
<div class="paragraph">
<p>Existierende Kassen können nicht nachträglich manipulationssicher gemacht werden. Wenn du bereits eine plentyPOS-Kasse in Österreich betreibst, erstellst du eine neue Kasse und nimmst die alte Kasse außer Betrieb.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="1600">3.2. Startbeleg erstellen (Standort Österreich)</h4>
<div class="paragraph">
<p>Erstelle nun den Startbeleg, um die Kasse in Betrieb zu nehmen. Du benötigst die PIN für das Signaturzertifikat des Vertrauensdiensteanbieters, um den Startbeleg zu erstellen. Den Startbeleg erstellst du im POS-Menü der plentymarkets App. Nachdem der Startbeleg erstellt wurde, kann das Standortland der Kasse nicht mehr geändert werden.</p>
</div>
<div class="paragraph instruction">
<p>Startbeleg erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die plentymarkets App.</p>
</li>
<li>
<p>Öffne das Menü <strong>plentymarkets App » Einstellungen » POS</strong>.</p>
</li>
<li>
<p>Gib die PIN für das Signaturzertifikat des Vertrauensdiensteanbieters ein.</p>
</li>
<li>
<p>Tippe auf <strong>Startbeleg erstellen</strong>.<br>
→ Der Startbeleg wird gedruckt.<br>
→ Der Startbeleg wird im Kassenjournal und im Dokumentenarchiv gespeichert.<br>
→ Die Kasse kann in Betrieb genommen werden.<br>
→ Belege werden signiert und der QR-Code auf Belegen ausgegeben.<br>
→ Kassenvorgänge werden DEP-konform im System gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">3.3. Kassenvorgänge in Österreich belegen</h3>
<div class="paragraph">
<p>Laut der österreichischen Registrierkassensicherheitsverordnung (RKSV) müssen Belege signiert und mit einem QR-Code versehen werden. Dieser QR-Code enthält die wesentlichen Beleginhalte, einen verschlüsselten Umsatzzähler und einen Verweis auf den letzten Beleg. Dieser Verweis sorgt dafür, dass die vorhergehenden Belege nicht mehr verändert oder gelöscht werden können. Außerdem muss für jede Registrierkasse ein Datenerfassungsprotokoll geführt werden, das jederzeit lokal exportiert werden kann.</p>
</div>
<div class="paragraph">
<p>Damit du diesen gesetzlichen Anforderungen nachkommen kannst, stellt plentymarkets verschiedene Exportfunktionen bereit. Bespreche mit deinem Steuerbüro, welche Daten du exportieren und archivieren solltest, um rechtssicher zu arbeiten.</p>
</div>
<div class="sect3">
<h4 id="1800">3.3.1. DEP-Export erstellen</h4>
<div class="paragraph">
<p>Laut §7 der österreichischen Registrierkassensicherheitsverordnung (RKSV) muss jede Registrierkasse über ein Datenerfassungsprotokoll (DEP) verfügen. Im DEP sind mindestens die Signierung von Belegen im Zusammenhang mit Barumsätzen und die Stornierung von Barumsätzen zu speichern. Die Unveränderlichkeitkeit der Daten ergibt sich dabei aus der Signaturverkettung. Pro DEP darf nur eine Kasse abgebildet werden.</p>
</div>
<div class="paragraph">
<p>Der DEP-Export wird als JSON-Datei bereitgestellt und enthält die folgenden Belegdaten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Belege-Gruppe</p>
</li>
<li>
<p>Signaturzertifikat</p>
</li>
<li>
<p>Zertifizierungsstellen</p>
</li>
<li>
<p>Belege-kompakt</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Das DEP einer Registrierkasse muss dabei auf Verlangen jederzeit auf einen externen Datenträger im vorgesehenen Exportformat exportiert werden können. Gehe wie unten beschrieben vor, um einen DEP-Export zu erstellen:</p>
</div>
<div class="paragraph instruction">
<p>DEP-Dateien exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » POS » DEP-Export</strong>.</p>
</li>
<li>
<p>Wähle den Mandanten (Shop), für den du Daten exportieren möchtst.</p>
</li>
<li>
<p>Wähle die Kasse, für die du Daten exportieren möchtst.</p>
</li>
<li>
<p>Wähle das Datum, ab dem du Daten exportieren möchtst.</p>
</li>
<li>
<p>Wähle das Datum, bis zu dem du Daten exportieren möchtst.</p>
</li>
<li>
<p>Klicke auf <strong>Herunterladen</strong>.<br>
→ Die Datei wird im Standard-Download-Ordner des Browsers gespeichert.<br>
<strong><em>Tipp:</em></strong> Der Dateiname enthält den Exportzeitraum, zum Beispiel depExport_9-1-2017-9-2-2017.json für Daten von 9.1. bis 9.2.2017.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Menü-Sichtbarkeit für variable Benutzer aktivieren</div>
<div class="paragraph">
<p>Für Kassenbenutzer, die als variable Benutzer auf das plentymarkets Backend zugreifen, musst du die <a href="/basics/admin-aufgaben/benutzer-verwalten#100">Menü-Sichtbarkeit</a> aktivieren, damit diese Benutzer Zugriff auf das oben beschriebene Menü erhalten.
Öffne dazu das Menü <strong>Einrichtung » Einstellungen » Benutzer » variablen Benutzer wählen » Rechte</strong>. Aktiviere im Bereich <strong>Menü-Sichtbarkeiten</strong> unter <strong>Aufträge » POS</strong> die Option <strong>DEP-Export</strong>. Klicke abschließend auf <strong>Speichern</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="1900">3.3.2. Monatsbeleg erstellen</h4>
<div class="paragraph">
<p>Monatsbelege sind signierte Kontrollbelege mit einem Betrag von Null (0,00) Euro. Laut RKSV muss am Ende jedes Monats ein Monatsbeleg erstellt werden. Der Monatsbeleg für den Monat Dezember dient gleichzeitig als Jahresbeleg. Diesen Jahresbeleg musst du jedes Jahr zusätzlich ausdrucken, aufbewahren und den Barcode mit der BMF Belegcheck-App prüfen.</p>
</div>
<div class="sect4">
<h5 id="2000">Berechtigungen für Monatsbelege erteilen</h5>
<div class="paragraph">
<p>Kassenpersonal mit Admin-Rechten hat standardmäßig die Berechtigung, Monatsbelege zu erstellen. Kassenpersonal mit der Benutzerklasse <strong>Backend</strong> muss diese Berechtigung erteilt werden.</p>
</div>
<div class="paragraph instruction">
<p>Benutzern Berechtigungen für Monatsbelege erteilen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer</strong>.</p>
</li>
<li>
<p>Öffne das Konto des Benutzers.</p>
</li>
<li>
<p>Öffne das Tab <strong>Mobile</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>POS-Funktionen</strong> die Berechtigung <strong>Monatsbeleg (AT)</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Kassenbenutzerin ist berechtigt, <a href="/pos/pos-kassenbenutzer#270">Monatsbelege in plentyPOS</a> zu erstellen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2100">3.4. SOS: Die Signatureinheit ist ausgefallen - was jetzt?</h3>
<div class="paragraph">
<p>Die RKSV gibt vor, wie du vorgehen musst, falls die Signatureinheit der Registrierkasse ausfällt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn die Signatureinheit ausfällt, musst du Geschäftsfälle auf einer anderen Registrierkasse mit funktionierender Signatureinheit erfassen.</p>
</li>
<li>
<p>Wenn keine andere Registrierkasse verfügbar ist, kann die Registrierkasse temporär ohne Signatureinheit betrieben werden.</p>
</li>
<li>
<p>Dauert der Ausfall der Signatureinheit länger als 48 Stunden, musst du Beginn und Ende des Ausfalls innerhalb einer Woche über FinanzOnline dem Finanzamt melden.</p>
</li>
<li>
<p>Sämtliche nicht signierte Belege müssen mit dem Hinweis <strong>Sicherheitseinrichtung ausgefallen</strong> versehen werden.<br>
→ In plentyPOS werden Belege automatisch mit diesem Hinweis versehen, wenn die Signatureinheit ausfällt.</p>
</li>
<li>
<p>Sobald die Signatureinheit wieder funktioniert, muss ein signierter Sammelbeleg erstellt werden, der sämtliche Geschäftsvorfälle enthält, die im Ausfallzeitraum über die Registrierkasse abgewickelt wurden.<br>
→ plentyPOS erstellt automatisch einen signierten Sammelbeleg, wenn die Signatureinheit wieder in Betrieb genommen wird.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="2200">3.5. Kontrollbeleg auf Verlangen der Finanzpolizei erstellen</h3>
<div class="paragraph">
<p>Bei einer Kassenrückschau durch die Finanzpolizei muss auf Verlangen ein Kontrollbeleg mit dem Betrag Null erstellt werden. Mit diesem Kontrollbeleg kann die prüfende Person die Gültigkeit der Signatur mit einer Prüf-App direkt vor Ort in deinem Laden prüfen. Jede Kassenkraft kann einen solchen <a href="/pos/pos-kassenbenutzer#270">Kontrollbeleg auf Verlangen</a> erstellen. Zum Erstellen des Kontrollbelegs sind keine zusätzlichen Berechtigungen erforderlich.</p>
</div>
</div>
<div class="sect2">
<h3 id="2300">3.6. Kasse außer Betrieb nehmen</h3>
<div class="paragraph">
<p>Um eine Kasse mit Standort Österreich dauerhaft außer Betrieb zu nehmen, erstellst du einen Endbeleg. Ein Endbeleg ist ein signierter Kontrollbelege mit einem Betrag von Null (0,00) Euro, der nur erstellt werden kann, wenn für die Kasse auch ein Startbeleg erstellt wurde. Den Endbeleg erstellst du im POS-Menü der plentymarkets App. Nachdem ein Endbeleg für die Kasse erstellt wurde, kann die Kasse nicht mehr verwendet werden.</p>
</div>
<div class="paragraph instruction">
<p>Endbeleg erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die plentymarkets App.</p>
</li>
<li>
<p>Öffne das Menü <strong>plentymarkets App » Einstellungen » POS</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Endbeleg erstellen</strong>.<br>
→ Der Endbeleg wird gedruckt.<br>
→ Der Endbeleg wird im Kassenjournal und im Dokumentenarchiv gespeichert.<br>
→ Die Kasse kann nicht mehr verwendet werden.</p>
</li>
<li>
<p>Melde dem Finanzamt, dass die Kasse außer Betrieb genommen wurde.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>