<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Abholung und Bezahlung von Online-Aufträgen vorbereiten</span></a></li>
<li><a href="#150"><span>2.</span><span> Wichtige Hinweise zu Online-Aufträgen</span></a></li>
<li><a href="#200"><span>3.</span><span> Vorbereitende Einstellungen für Online-Aufträge</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Versandeinstellungen</span></a>
<ul class="sectlevel3">
<li><a href="#400"><span>3.1.1.</span><span> Versanddienstleister für Abholung in der Filiale erstellen</span></a></li>
<li><a href="#500"><span>3.1.2.</span><span> Versandprofil für Abholung in der Filiale erstellen</span></a></li>
<li><a href="#600"><span>3.1.3.</span><span> Versandprofil für Abholung in der Filiale am Artikel aktivieren</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.2.</span><span> Zahlungsart für Zahlung im Laden aktivieren</span></a></li>
<li><a href="#800"><span>3.3.</span><span> Warenbewegungen festlegen</span></a></li>
</ul>
</li>
<li><a href="#900"><span>4.</span><span> Online-Aufträge abschließen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Online-Bestellungen mit plentyPOS abwickeln</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Online-Aufträge (auch unter dem Begriff <strong>Click &amp; Collect</strong> bekannt) können über deinen Webshop, Marktplätze oder aus anderen Herkünften in dein System gelangen. Diese Aufträge kannst du auf zwei Wegen mit plentyPOS verarbeiten. Kund:innen bestellen die Ware online und bezahlen sie entweder online oder in deinem Ladengeschäft. Die Abholung erfolgt dann in deinem Ladengeschäft. Befolge die unten beschriebenen Schritte, um dein plentyPOS für Click &amp; Collect vorzubereiten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Vorausgesetzte App-Version</div>
<div class="paragraph">
<p>Um Online-Aufträge über plentyPOS abwickeln zu können, muss mindestens Version 1.9 der plentymarkets App <a href="/willkommen/schnelleinstieg/systemvoraussetzungen#500">auf der passenden Hardware</a> installiert sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Abholung und Bezahlung von Online-Aufträgen vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Vorbereitungen sind für plentyPOS notwendig, wenn du deinen Kund:innen anbieten möchtest, Online-Aufträge im Ladengeschäft abzuwickeln.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aufträge können nur anhand der Auftrags-ID in die Kasse geladen werden.<br>
Stelle deshalb sicher, dass Auftragsbestätigungen die Auftrags-ID enthalten. Weise deine Kund:innen explizit darauf hin, dass diese Auftrags-ID benötigt wird, um den Auftrag im Laden zu bearbeiten.</p>
</li>
<li>
<p>Erkläre deinen Kassenkräften, wie sie die Identität von Personen prüfen, die bezahlte Ware im Ladengeschäft abholen. Sonst kann es passieren, dass Kassenkräfte die Ware an Unbefugte aushändigen.</p>
</li>
<li>
<p>Nutzt du Prozesse und/oder Ereignisaktionen, um Aufträge zu bearbeiten, die über den Webshop oder Marktplätze in dein plentymarkets System gelangen? Prüfe diese Ereignisaktionen und Prozesse, bevor du eine Abholung im Laden anbietest. Stelle sicher, dass Aufträge erst in den Status <strong>Warenausgang gebucht</strong> gesetzt werden, wenn die Ware im Laden abgeholt wurde.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Warenausgang am Auftrag prüfen</div>
<div class="paragraph">
<p>plentyPOS zeigt an, dass die Ware übergeben wurde, wenn in plentymarkets ein Warenausgang für den Auftrag gebucht wurde. Falls Probleme auftreten und jemand darauf besteht, die Ware noch nicht erhalten zu haben, prüfe den Auftrag im plentymarkets Backend. Möglicherweise wurde der Warenausgang zu früh automatisch gebucht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="150">2. Wichtige Hinweise zu Online-Aufträgen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Umgang mit Online-Aufträgen gibt es einige Besonderheiten im Vergleich zu regulären Kassenaufträgen. Beachte daher die folgenden Hinweise und Einschränkungen beim Abholen und Bezahlen von Online-Aufträgen im Laden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Online-Aufträge und die dazugehörigen Daten können an der Kasse nicht bearbeitet werden. Das Kassenpersonal kann nur Zahlungen erstellen und Notizen zum Auftrag speichern.</p>
</li>
<li>
<p>Ab App-Version 1.9.10 wird für Online-Aufträge automatisch eine Rechnung erstellt, sobald in plentyPOS eine Zahlung zum jeweiligen Auftrag gebucht wird. Die Rechnung wird auch erzeugt, wenn für den Auftrag noch kein Warenausgang gebucht wurde. Dieses Verhalten ist aus Gründen der Rechtssicherheit standardmäßig vorgegeben, da es in plentyPOS keine Zahlungen ohne Belege geben darf.</p>
</li>
<li>
<p>Online-Aufträge können an der Kasse erst ab App-Version 1.9.2 mit Mehrzweckgutscheinen bezahlt werden. Voraussetzung ist, dass für den Auftrag noch keine Zahlung durchgeführt wurde und noch kein Rechnungsdokument für den Auftrag erstellt wurde.</p>
</li>
<li>
<p>Zahlungen, die an der Kasse getätigt werden, um einen Online-Auftrag zu bezahlen, sind für die Kasse umsatzneutral. Im Kassenjournal werden Zahlungen, die nicht umsatzrelevant für die Kasse sind, als Kassenvorfall des Typs <strong>Zahlung</strong> gespeichert.</p>
</li>
<li>
<p>Für Online-Aufträge ist an der Kasse keine An- oder Teilzahlung möglich. Somit müssen Kund:innen diese Aufträge immer vollständig bezahlen.</p>
</li>
<li>
<p>Über die Option <strong>Externer Auftrag: Warenausgang automatisch buchen</strong> in den Kasseneinstellungen legst du fest, ob nach der Bezahlung an der Kasse die Ware automatisch aus dem Lager ausgebucht wird. Diese Option ist bei Kassen, die ab 05.03.2019 erstellt werden, standardmäßig aktiviert. Wenn du die Funktion deaktivierst, erkläre deinen Kassenkräften, in welchen Fällen sie den Warenausgang manuell buchen sollen.</p>
</li>
<li>
<p>Online-Aufträge dürfen nicht über plentyPOS, sondern nur im plentymarkets Backend storniert werden. Gehe zum Menü <strong>Aufträge » Aufträge bearbeiten</strong> und öffne den Auftrag. Ändere dann manuell den Auftragsstatus auf <strong>[8] Storniert</strong>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Vorbereitende Einstellungen für Online-Aufträge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click &amp; Collect bedeutet, dass Ware online bestellt und im Laden abgeholt werden kann. Der Auftrag wird in plentyPOS geladen und an der Kasse abgeschlossen. In der Kasse können die folgenden Fälle auftreten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Auftrag wurde online bestellt und bezahlt. Die Ware wird im Laden abgeholt.</p>
</li>
<li>
<p>Der Auftrag wurde online bestellt. Die Ware wird im Laden bezahlt und abgeholt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In den folgenden Abschnitten erfährst du, welche Vorbereitungen du treffen musst, um Online-Aufträge an der Kasse abzuschließen.</p>
</div>
<div class="sect2">
<h3 id="300">3.1. Versandeinstellungen</h3>
<div class="paragraph">
<p>Wenn du schon eine Kasse nutzt, hast du bereits einen Versanddienstleister <strong>Selbstabholung</strong> und ein Versandprofil <strong>Selbstabholung</strong> eingerichtet. Wir empfehlen dir jedoch, für Click &amp; Collect einen eigenen Versanddienstleister und ein eigenes Versandprofil zu erstellen.</p>
</div>
<div class="sect3">
<h4 id="400">3.1.1. Versanddienstleister für Abholung in der Filiale erstellen</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um einen <a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister</a> für die Abholung in der Filiale zu erstellen. Im folgenden Beispiel nennen wir diesen Versanddienstleister <strong>Abholung in der Filiale</strong>. Natürlich kannst du auch einen anderen Namen verwenden.</p>
</div>
<div class="paragraph instruction">
<p>Versanddienstleister für Abholung in der Filiale erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versanddienstleister</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Ganz unten wird eine neue Zeile hinzugefügt.</p>
</li>
<li>
<p>Gib in die Spalte <strong>Namen (de)</strong> den Namen <strong>Abholung in der Filiale</strong> ein.</p>
</li>
<li>
<p>Gib in die Spalte <strong>Namen (Backend)</strong> den Namen <strong>Abholung in der Filiale</strong> ein.</p>
</li>
<li>
<p>Wähle in der Spalte <strong>Versanddienstleister</strong> die Option <strong>Selbstabholer</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="500">3.1.2. Versandprofil für Abholung in der Filiale erstellen</h4>
<div class="paragraph">
<p>Erstelle als nächstes ein <a href="/fulfillment/versand-vorbereiten#1000">Versandprofil</a> für die Abholung in der Filiale. In diesem Beispiel nennen wir dieses Versandprofil <strong>Abholung in der Filiale</strong>. Natürlich kannst du auch einen anderen Namen verwenden.</p>
</div>
<div class="paragraph instruction">
<p>Versandprofil für Abholung in der Filiale erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandprofile</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Wähle den Versanddienstleister <strong>Abholung in der Filiale</strong> aus der Dropdown-Liste, den du gerade erstellt hast.</p>
</li>
<li>
<p>Gib für die Option <strong>Namen (de)</strong> den Namen <strong>Abholung in der Filiale</strong> ein.</p>
</li>
<li>
<p>Gib für die Option <strong>Namen (Backend)</strong> den Namen <strong>Abholung in der Filiale</strong> ein.</p>
</li>
<li>
<p>Aktiviere den <strong>Mandanten (Shop)</strong>, für den du die Abholung in der Filiale anbieten möchtest.</p>
</li>
<li>
<p>Aktiviere die <strong>Auftragsherkunft</strong>. Wir empfehlen die Herkünfte <strong>0 Manuelle Eingabe</strong> und den <strong>Mandanten (Shop)</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Tab <strong>Portotabelle</strong> wird angezeigt.<br>
<strong><em>Hinweis:</em></strong> Die Abholung in der Filiale ist in der Regel versandkostenfrei. Daher werden in diesem Beispiel keine Versandkosten gespeichert.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen des Tabs <strong>Portotabelle</strong> ohne Änderungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="600">3.1.3. Versandprofil für Abholung in der Filiale am Artikel aktivieren</h4>
<div class="paragraph">
<p>Aktiviere nun das Versandprofil <strong>Abholung in der Filiale</strong> bei den Artikeln, die online bestellt und im Laden abgeholt werden können.</p>
</div>
<div class="paragraph instruction">
<p>Versandprofil für Abholung in der Filiale am Artikel aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Global</strong>.</p>
</li>
<li>
<p>Aktiviere das Versandprofil <strong>Selbstabholung</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Versandprofil für mehrere Artikeln aktivieren</div>
<div class="paragraph">
<p>Du möchtest das Versandprofil für eine größere Anzahl an Artikeln gleichzeitig aktivieren? Dann nutze die <a href="/artikel/artikel-verwalten#155">Artikel-Gruppenfunktion</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="700">3.2. Zahlungsart für Zahlung im Laden aktivieren</h3>
<div class="paragraph">
<p>Aktiviere nun die Zahlungsart <strong>Barzahlung</strong>, damit Online-Aufträge auch im Laden bezahlt werden können.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Stelle das Plugin <a href="https://marketplace.plentymarkets.com/plugins/payment/PayUponPickup_4757">Barzahlung</a> für den Mandanten bereit. Standardmäßig wird im Webshop der Name der Zahlungsart, also "Barzahlung" angezeigt. Ändere optional den Namen der Zahlungsart, zum Beispiel zu "Bezahlung in der Filiale".</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="800">3.3. Warenbewegungen festlegen</h3>
<div class="paragraph">
<p>Zum Schluss legst du fest, wie der Warenbestand von online bestellten Artikeln behandelt werden soll, die im Ladengeschäft abgeholt werden.</p>
</div>
<div class="paragraph instruction">
<p>Warenbewegungen für Online-Aufträge festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » POS</strong>.</p>
</li>
<li>
<p>Öffne die Kasse.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Die Option <strong>Externer Auftrag: Warenausgang automatisch buchen</strong> ist vorausgewählt. Der Warenausgang wird also nach der Bezahlung immer automatisch gebucht. Deaktiviere die Option, wenn der Warenausgang nur gebucht werden soll, wenn das Kassenpersonal auf <strong>Warenausgang buchen</strong> tippt.<br>
<strong><em>Tipp:</em></strong> Deaktiviere die Option nur, wenn du eine separate Warenausgabe hast, also die Waren nach der Bezahlung nicht direkt an der Kasse aushändigst. Schule außerdem das Kassenpersonal, in welchen Fällen die Schaltfläche betätigt werden soll.</p>
</li>
<li>
<p>Wenn die Ware aus dem Vertriebslager der Kasse ausgebucht werden soll, aktiviere die Option <strong>Warenausgang von externen Aufträgen: Ware aus POS-Vertriebslager buchen</strong>.<br>
Wenn du die Option nicht aktivierst, wird die Ware aus dem Lager ausgebucht, das dem Auftrag bei der Erstellung zugewiesen wurde.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Bietest du Click &amp; Collect über deinen Webshop an, aktiviere zusätzlich die Auftragsherkünfte <strong>Manuelle Eingabe</strong>, <strong>Webshop</strong> und, falls zutreffend, die Auftragsherkunft des für Click &amp; Collect genutzten Marktplatzes.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">4. Online-Aufträge abschließen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Je nachdem, zu welchem Zeitpunkt und auf welche Weise Kund:innen den Online-Auftrag bezahlen, ergeben sich verschiedene Abläufe für die Abwicklung in plentyPOS.</p>
</div>
<div class="paragraph">
<p>Klicke auf das passende Tab, um Anleitungen für die verschiedenen Vorgehensweisen zu sehen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="bezahlte-ware-aush-ndigen-tab" data-toggle="tab" href="#bezahlte-ware-aush-ndigen" role="tab" aria-controls="bezahlte-ware-aush-ndigen" aria-selected="true">Bezahlte Ware aushändigen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="zahlung-f-r-online-auftrag-buchen-tab" data-toggle="tab" href="#zahlung-f-r-online-auftrag-buchen" role="tab" aria-controls="zahlung-f-r-online-auftrag-buchen" aria-selected="false">Zahlung für Online-Auftrag buchen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="rechnung-an-der-kasse-bezahlen-tab" data-toggle="tab" href="#rechnung-an-der-kasse-bezahlen" role="tab" aria-controls="rechnung-an-der-kasse-bezahlen" aria-selected="false">Rechnung an der Kasse bezahlen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="bezahlte-ware-aush-ndigen" role="tabpanel" aria-labelledby="bezahlte-ware-aush-ndigen-tab">
<div class="ulist">
<ul>
<li>
<p>Jemand hat online Artikel bestellt und online bezahlt. Die Person kommt in den Laden, um die Ware abzuholen. Die Ware ist bereits vollständig bezahlt.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Identität prüfen</div>
<div class="paragraph">
<p>Erkundige dich, welche Richtlinien es in deinem Ladengeschäft gibt, um sicherzustellen, dass Ware, die online bestellt und bezahlt wurde, auch wirklich an die richtige Person ausgehändigt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Bezahlte Ware aushändigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/pos/pos-kassenbenutzer#500">Finde den Auftrag</a>.<br>
→ Die Auftragsdaten werden in die Kasse geladen.<br>
<strong><em>Wichtig:</em></strong> Vergewissere dich, dass die Person die Ware wirklich bestellt und bezahlt hat.<br></p>
</li>
<li>
<p>Händige die Ware aus.</p>
</li>
<li>
<p>Tippe auf <strong>Warenausgang buchen</strong>.<br>
→ Die Ware wird aus dem Lager ausgebucht.<br>
<strong><em>Tipp:</em></strong> Um den Auftrag zu verlassen, ohne ihn abzuschließen, tippe auf <strong>Neuer Auftrag</strong>.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="zahlung-f-r-online-auftrag-buchen" role="tabpanel" aria-labelledby="zahlung-f-r-online-auftrag-buchen-tab">
<div class="ulist">
<ul>
<li>
<p>Jemand hat online Artikel bestellt. Die Person kommt in den Laden, um die Ware abzuholen und vor Ort zu bezahlen.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Zahlung für Online-Auftrag buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/pos/pos-kassenbenutzer#500">Finde den Auftrag</a>.<br>
→ Die Auftragsdaten werden in die Kasse geladen.<br>
<strong><em>Wichtig:</em></strong> Vergewissere dich, dass die Person die Ware wirklich bestellt hat.<br>
<strong><em>Tipp:</em></strong> Um den Auftrag zu verlassen, ohne ihn abzuschließen, tippe oben rechts auf das Dreipunktmenü und dann auf <strong>Neuer Auftrag</strong> oder oben links auf <strong>Zurück</strong>.</p>
</li>
<li>
<p>Nimm wie gewohnt die Zahlung entgegen.<br>
<strong><em>Hinweis:</em></strong> Ab App-Version 1.9.2 können bestimmte Online-Aufträge auch mit Mehrzweckgutscheinen bezahlt werden.<br>
<strong><em>Hinweis:</em></strong> Die Auftragsdaten können nicht geändert werden. Du kannst nur die Zahlung entgegennehmen und optional eine Auftragsnotiz speichern.</p>
</li>
<li>
<p>Händige die Ware aus.<br>
→ Die Ware wird aus dem Lager ausgebucht.<br>
<strong><em>Hinweis:</em></strong> Wenn nach der Zahlung die Schaltfläche <strong>Warenausgang buchen</strong> angezeigt wird, wird die Ware nur ausgebucht, wenn du auf diese Schaltfläche tippst.<br>
→ Erkundige dich bei deiner Vorgesetzten, in welchen Fällen die Ware aus dem Lager ausgebucht werden soll.</p>
</li>
<li>
<p>Tippe auf <strong>Neuer Auftrag</strong>, um mit dem nächsten Kassiervorgang fortzufahren.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="rechnung-an-der-kasse-bezahlen" role="tabpanel" aria-labelledby="rechnung-an-der-kasse-bezahlen-tab">
<div class="ulist">
<ul>
<li>
<p>Jemand hat Artikel entweder im Laden oder online auf Rechnung gekauft. Die Person hat die Ware bereits erhalten. Nun möchte sie die Rechnung vor Ort im Laden bezahlen.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Rechnung an der Kasse bezahlen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/pos/pos-kassenbenutzer#500">Finde den Auftrag</a>.<br>
→ Die Auftragsdaten werden in die Kasse geladen.<br>
<strong><em>Hinweis:</em></strong> Der Auftrag kann nicht mehr geändert werden.<br>
<strong><em>Tipp:</em></strong> Um den Auftrag zu verlassen, ohne ihn abzuschließen, tippe oben rechts auf das Dreipunktmenü und dann auf <strong>Neuer Auftrag</strong> oder oben links auf <strong>Zurück</strong>.</p>
</li>
<li>
<p>Nimm wie gewohnt die Barzahlung und/oder Kartenzahlung entgegen.<br>
→ Die Ansicht <strong>Auftrag aktualisiert</strong> wird angezeigt.<br></p>
</li>
<li>
<p>Nimm wie gewohnt die Zahlung entgegen.<br>
<strong><em>Hinweis:</em></strong> Ab App-Version 1.9.2 können bestimmte Online-Aufträge auch mit Mehrzweckgutscheinen bezahlt werden.<br>
→ Der Auftrag wird aktualisiert.<br>
→ Ein Zahlungsbeleg wird gedruckt. Anderenfalls tippe auf <strong>Beleg drucken</strong>, um den Beleg zu drucken.<br>
<strong><em>Tipp:</em></strong> Über die Schaltfläche <strong>Auftrag anzeigen</strong> rufst du die Auftragsdaten auf.</p>
</li>
<li>
<p>Tippe auf <strong>Neuer Auftrag</strong>, um mit dem nächsten Kassiervorgang fortzufahren.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div>
</main>