<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Gutscheine an der Kasse</span></a>
<ul class="sectlevel2">
<li><a href="#_ziel"><span>1.1.</span><span> Ziel</span></a></li>
<li><a href="#_vorbereitung"><span>1.2.</span><span> Vorbereitung</span></a></li>
<li><a href="#_videos_des_ablaufs"><span>1.3.</span><span> Videos des Ablaufs</span></a>
<ul class="sectlevel3">
<li><a href="#_gutschein_verkaufen"><span>1.3.1.</span><span> Gutschein verkaufen</span></a></li>
<li><a href="#_gutschein_einlösen"><span>1.3.2.</span><span> Gutschein einlösen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#100"><span>2.</span><span> Online-Bestellungen an der Kasse abschließen (Click &amp; Collect)</span></a>
<ul class="sectlevel2">
<li><a href="#_versandeinstellungen"><span>2.1.</span><span> Versandeinstellungen</span></a>
<ul class="sectlevel3">
<li><a href="#190"><span>2.1.1.</span><span> Versanddienstleister für Abholung in der Filiale erstellen</span></a></li>
<li><a href="#200"><span>2.1.2.</span><span> Versandprofil für Abholung in der Filiale erstellen</span></a></li>
<li><a href="#210"><span>2.1.3.</span><span> Versandprofil für Abholung in der Filiale am Artikel aktivieren</span></a></li>
</ul>
</li>
<li><a href="#_zahlungsart_für_zahlung_im_laden_aktivieren"><span>2.2.</span><span> Zahlungsart für Zahlung im Laden aktivieren</span></a></li>
<li><a href="#_warenbewegungen_festlegen_ab_version_1_9_2"><span>2.3.</span><span> Warenbewegungen festlegen (ab Version 1.9.2)</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: POS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices rund um das Thema plentymarkets POS.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Gutscheine an der Kasse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Da es bezogen auf den Umgang mit Verkaufsgutscheinen viele Möglichkeiten bei plentymarkets gibt, möchten wir dir hier eine praxisnahe und einfache Variante für den POS-Bereich vorstellen.</p>
</div>
<div class="sect2">
<h3 id="_ziel">1.1. Ziel</h3>
<div class="paragraph">
<p>Schneller <a href="/pos/pos-einrichten#2100">Verkauf von Gutscheinkarten</a> in variabler Höhe an der Kasse.</p>
</div>
</div>
<div class="sect2">
<h3 id="_vorbereitung">1.2. Vorbereitung</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Sofern noch nicht vorhanden, musst du eine <a href="/pos/pos-einrichten#830">passende Kampagne</a> in plentymarkets erstellen.</p>
</li>
<li>
<p>Lege dir einen <a href="/pos/pos-einrichten#840">Gutscheinartikel mit flexiblem Wert</a> für diese Art von Gutscheinen in plentymarkets an.</p>
</li>
<li>
<p>Füge diesen Gutscheinartikel dem <a href="/pos/pos-einrichten#60">Favoritenbereich</a> deiner Kasse hinzu.</p>
</li>
<li>
<p>Beschaffe dir <a href="http://lmgtfy.com/?q=Barcode-Karten+Druck" target="_blank" rel="noopener">Barcode-Karten</a> mit vorgefertigten Codes. Die meisten Anbieter erwarten eine CSV-Datei, die die einzelnen Codes enthält, die auf den Karten platziert werden sollen, sowie eine Layout-Vorlage im Photoshop- oder Adobe-Illustrator-Format für das Rahmendesign.<br>
<strong><em>Tipp:</em></strong> Wenn du deinen Gutscheincodes das Präfix <strong>#</strong> voranstellst, beschleunigst du später den Einlösungsvorgang, weil plentyPOS dadurch direkt beim Scannen erkennt, dass es sich um einen Gutschein handelt und nicht erst manuell die Schaltfläche für den Gutscheindialog betätigt werden muss.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_videos_des_ablaufs">1.3. Videos des Ablaufs</h3>
<div class="sect3">
<h4 id="_gutschein_verkaufen">1.3.1. Gutschein verkaufen</h4>
<div class="videoblock">
<div class="content">
<video src="{{plugin_path('PlentyManual')}}/images/pos/assets/verkauf_best_practice.mp4" width="640" controls="">
Your browser does not support the video tag.
</video>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_gutschein_einlösen">1.3.2. Gutschein einlösen</h4>
<div class="videoblock">
<div class="content">
<video src="{{plugin_path('PlentyManual')}}/images/pos/assets/einloesung_best_practice.mp4" width="640" controls="">
Your browser does not support the video tag.
</video>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Online-Bestellungen an der Kasse abschließen (Click &amp; Collect)</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/pos/pos-kassenbenutzer#450">Click &amp; Collect</a> bedeutet, dass Ware online bestellt und im Laden abgeholt werden kann. Der Auftrag wird in plentymarkets POS geladen und an der Kasse abgeschlossen. In der Kasse können die folgenden Fälle auftreten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Auftrag wurde online bestellt und bezahlt. Die Ware wird im Laden abgeholt.</p>
</li>
<li>
<p>Der Auftrag wurde online bestellt. Die Ware wird im Laden bezahlt und abgeholt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In diesem Best Practice erfährst du, welche Vorbereitungen du treffen musst, um Online-Bestellungen an der Kasse abzuschließen.</p>
</div>
<div class="sect2">
<h3 id="_versandeinstellungen">2.1. Versandeinstellungen</h3>
<div class="paragraph">
<p>Wenn du schon eine Kasse nutzt, hast du auch schon einen Versanddienstleister <strong>Selbstabholung</strong> und ein Versandprofil <strong>Selbstabholung</strong>. Wir empfehlen aber, für Click &amp; Collect einen eigenen Versanddienstleister und ein eigenes Versandprofil zu erstellen.</p>
</div>
<div class="sect3">
<h4 id="190">2.1.1. Versanddienstleister für Abholung in der Filiale erstellen</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um einen <a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister</a> für die Abholung in der Filiale zu erstellen. In diesem Best Practice nennen wir diesen Versanddienstleister <strong>Abholung in der Filiale</strong>. Natürlich kannst du auch einen anderen Namen verwenden.</p>
</div>
<div class="paragraph instruction">
<p>Versanddienstleister für Abholung in der Filiale erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versanddienstleister</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Ganz unten wird eine neue Zeile hinzugefügt.</p>
</li>
<li>
<p>Gib in die Spalte <strong>Namen (de)</strong> den Namen <strong>Abholung in der Filiale</strong> ein.</p>
</li>
<li>
<p>Gib in die Spalte <strong>Namen (Backend)</strong> den Namen <strong>Abholung in der Filiale</strong> ein.</p>
</li>
<li>
<p>Wähle in der Spalte <strong>Versanddienstleister</strong> die Option <strong>Selbstabholer</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="200">2.1.2. Versandprofil für Abholung in der Filiale erstellen</h4>
<div class="paragraph">
<p>Erstelle nun ein <a href="/fulfillment/versand-vorbereiten#1000">Versandprofil</a> für die Abholung in der Filiale. In diesem Best Practice nennen wir dieses Versandprofil <strong>Abholung in der Filiale</strong>. Natürlich kannst du auch einen anderen Namen verwenden.</p>
</div>
<div class="paragraph instruction">
<p>Versandprofil für Abholung in der Filiale erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandprofile</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.</p>
</li>
<li>
<p>Wähle den Versanddienstleister <strong>Abholung in der Filiale</strong> aus der Dropdown-Liste, den du gerade erstellt hast.</p>
</li>
<li>
<p>Gib für die Option <strong>Namen (de)</strong> den Namen <strong>Abholung in der Filiale</strong> ein.</p>
</li>
<li>
<p>Gib für die Option <strong>Namen (Backend)</strong> den Namen <strong>Abholung in der Filiale</strong> ein.</p>
</li>
<li>
<p>Aktiviere den <strong>Mandanten (Shop)</strong>, für den du die Abholung in der Filiale anbieten möchtest.</p>
</li>
<li>
<p>Aktiviere die <strong>Auftragsherkunft</strong>. Wir empfehlen die Herkünfte <strong>0 Manuelle Eingabe</strong> und den <strong>Mandanten (Shop)</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Tab <strong>Portotabelle</strong> wird angezeigt.<br>
<strong><em>Hinweis:</em></strong> Die Abholung in der Filiale ist in der Regel versandkostenfrei. Daher werden in diesem Best Practice keine Versandkosten gespeichert.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen des Tabs <strong>Portotabelle</strong> ohne Änderungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="210">2.1.3. Versandprofil für Abholung in der Filiale am Artikel aktivieren</h4>
<div class="paragraph">
<p>Aktiviere nun das Versandprofil <strong>Abholung in der Filiale</strong> bei den Artikeln, die online bestellt und im Laden abgeholt werden können.</p>
</div>
<div class="paragraph instruction">
<p>Versandprofil für Abholung in der Filiale am Artikel aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Global</strong>.</p>
</li>
<li>
<p>Aktiviere das Versandprofil <strong>Selbstabholung</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Versandprofil für mehrere Artikeln aktivieren</div>
<div class="paragraph">
<p>Du möchtest das Versandprofil für eine größere Anzahl an Artikeln gleichzeitig aktivieren? Dann nutze die <a href="/artikel/artikel-verwalten#155">Artikel-Gruppenfunktion</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_zahlungsart_für_zahlung_im_laden_aktivieren">2.2. Zahlungsart für Zahlung im Laden aktivieren</h3>
<div class="paragraph">
<p>Aktiviere nun die Zahlungsart <strong>Barzahlung</strong>, damit Online-Aufträge auch im Laden bezahlt werden können.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Stelle das Plugin <a href="https://marketplace.plentymarkets.com/plugins/payment/PayUponPickup_4757">Barzahlung</a> für den Mandanten bereit.<br>
→ Standardmäßig wird im Webshop der Name der Zahlungsart, also "Barzahlung" angezeigt. Ändere optional den Namen der Zahlungsart, zum Beispiel zu "Bezahlung in der Filiale".</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_warenbewegungen_festlegen_ab_version_1_9_2">2.3. Warenbewegungen festlegen (ab Version 1.9.2)</h3>
<div class="paragraph">
<p>Nun legst du fest, wie der Warenbestand von online bestellten Artikeln behandelt werden soll, die im Ladengeschäft abgeholt werden.</p>
</div>
<div class="paragraph instruction">
<p>Warenbewegungen für Online-Aufträge festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » POS</strong>.</p>
</li>
<li>
<p>Öffne die Kasse.<br>
→ Das Tab <strong>Grundeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Die Option <strong>Externer Auftrag: Warenausgang automatisch buchen</strong> ist vorausgewählt. Der Warenausgang wird also nach der Bezahlung immer automatisch gebucht. Deaktiviere die Option, wenn der Warenausgang nur gebucht werden soll, wenn das Kassenpersonal auf <strong>Warenausgang buchen</strong> tippt.<br>
<strong><em>Tipp:</em></strong> Deaktiviere die Option nur, wenn du eine separate Warenausgabe hast, also die Waren nach der Bezahlung nicht direkt an der Kasse aushändigst. Schule außerdem das Kassenpersonal, in welchen Fällen die Schaltfläche betätigt werden soll.</p>
</li>
<li>
<p>Wenn die Ware aus dem Vertriebslager der Kasse ausgebucht werden soll, aktiviere die Option <strong>Warenausgang von externen Aufträgen: Ware aus POS-Vertriebslager buchen</strong>.<br>
→ Wenn du die Option nicht aktivierst, wird die Ware aus dem Lager ausgebucht, das dem Auftrag bei der Erstellung zugewiesen wurde.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>