<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_ekomi"><span>1.</span><span> eKomi</span></a></li>
<li><a href="#_registering_with_ekomi"><span>2.</span><span> Registering with eKomi</span></a></li>
<li><a href="#_setting_up_ekomi_in_plentymarkets"><span>3.</span><span> Setting up eKomi in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_a_user"><span>3.1.</span><span> Setting up a user</span></a></li>
<li><a href="#_sending_data_to_ekomi"><span>3.2.</span><span> Sending data to eKomi</span></a></li>
<li><a href="#_configuring_the_menu"><span>3.3.</span><span> Configuring the menu</span></a>
<ul class="sectlevel3">
<li><a href="#_tab_add_language"><span>3.3.1.</span><span> Tab: Add language</span></a></li>
<li><a href="#_tab_settings"><span>3.3.2.</span><span> Tab: Settings</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_configuring_the_item_feedback"><span>4.</span><span> Configuring the item feedback</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>eKomi</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Select client » Services » eKomi</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ekomi">1. eKomi</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before potential customers decide to buy they want to know what the delivery time is and whether the product will be delivered after payment. Companies can increase their trust through certificates and awards. The most efficient way is through reflection of customer reviews, the <a href="http://www.ekomi-us.com" target="_blank" rel="noopener">eKomi</a> <strong>5-star review system</strong> helps increase the conversion ratio (Info: eKomi website; www.ekomi-us.com).</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Evaluations</div>
<div class="paragraph">
<p>The <strong>evaluations</strong> will be retrieved <strong>once a day</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Pay attention to the market’s terms and conditions</div>
<div class="paragraph">
<p>Understand the particular market’s terms and conditions before you set up a function in your online store that requests evaluations. Some markets only allow you to request evaluations if specific requirements are met. Some markets do not permit this at all. Open the <strong>Procedure manager</strong> and use the <strong>Referrer</strong> option to exclude the particular market from the automatic reminder function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_registering_with_ekomi">2. Registering with eKomi</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click on the following link in order to register: <a href="http://www.ekomi.co.uk/uk/register" target="_blank" rel="noopener">http://www.ekomi.co.uk/uk/register</a>. Afterwards, you will receive the access data that you need for setting up the tool in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_ekomi_in_plentymarkets">3. Setting up eKomi in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Read the explanations below on how to set up <strong>eKomi</strong> in your plentymarkets system.</p>
</div>
<div class="sect2">
<h3 id="_setting_up_a_user">3.1. Setting up a user</h3>
<div class="paragraph">
<p>Your plentymarkets system will be connected to <strong>eKomi</strong> via the SOAP interface. In order for it to have access, this evaluation tool requires its own <a href="/en/basics/working-with-plentymarkets/manage-users">user account</a> with access rights to the API in your system.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a user for eKomi:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User</strong>.</p>
</li>
<li>
<p>Set up a new user account for eKomi and assign it to the <strong>variable</strong> user class.</p>
</li>
<li>
<p>Click on <strong>Rights » API » Customer</strong> and activate the <strong>GetCustomers</strong> call for this user. Then click on <strong>Order</strong> and activate the <strong>SearchOrders</strong> call.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Calls</div>
<div class="paragraph">
<p>Make sure that you <strong>only activate these specific calls</strong> for this user.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_sending_data_to_ekomi">3.2. Sending data to eKomi</h3>
<div class="paragraph">
<p>Afterwards, send an E-mail to eKomi that contains the following information:</p>
</div>
<div class="paragraph">
<p><strong>API URL</strong><br>
e.g.: <a href="http://www.example.com/plenty/api/soap/version114/?xml" class="bare">http://www.example.com/plenty/api/soap/version114/?xml</a></p>
</div>
<div class="paragraph">
<p><strong>The user name that was set up for the user account</strong><br>
e.g.: eKomi</p>
</div>
<div class="paragraph">
<p><strong>The password that was set up for the user account</strong><br>
e.g.: 123abc!:_ (Be sure to create your own password!)</p>
</div>
<div class="paragraph">
<p>Send this information to <a href="mailto:support@ekomi.de">support@ekomi.de</a> and put your eKomi ID or customer ID in the subject line.</p>
</div>
</div>
<div class="sect2">
<h3 id="_configuring_the_menu">3.3. Configuring the menu</h3>
<div class="paragraph">
<p>Go to <strong>eKomi</strong> (see path above) and configure the settings as described below.</p>
</div>
<div class="sect3">
<h4 id="_tab_add_language">3.3.1. Tab: Add language</h4>
<div class="paragraph">
<p>You can set up the corresponding <strong>language</strong> in this tab. You need to set up a language before the eKomi settings become available.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Settings-Client-Standard-Services-eKomi-01-SI.png" alt="EN Settings Client Standard Services eKomi 01 SI">
</div>
<div class="title">Figure 1. <strong>eKomi</strong>; settings in the <strong>add language</strong> tab</div>
</div>
<div class="paragraph instruction">
<p>eKomi; adding a language:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>eKomi</strong> (see path above).</p>
</li>
<li>
<p>Click on the <strong>add language</strong> tab.</p>
</li>
<li>
<p>Select the desired <strong>language</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_tab_settings">3.3.2. Tab: Settings</h4>
<div class="paragraph">
<p>You can configure eKomi in this tab.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Settings-Client-Standard-Services-eKomi-02-SI.png" alt="EN Settings Client Standard Services eKomi 02 SI">
</div>
<div class="title">Figure 2. <strong>eKomi</strong>; configuring the <strong>settings</strong> tab</div>
</div>
<div class="paragraph instruction">
<p>Configuring eKomi:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>eKomi</strong> (see path above).</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-ekomi-settings">Table 1</a> before configuring the settings in the <strong>settings</strong> tab.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>System » Client » Select client » Services » eKomi » Tab: Settings</strong> menu:</p>
</div>
<table id="table-ekomi-settings" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. <strong>eKomi</strong>; configuring the <strong>settings</strong> tab</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eKomi is active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>yes</strong> if you want to use eKomi for your online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interface ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <strong>interface ID</strong> that you received from eKomi.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interface password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <strong>interface password</strong> that you received from eKomi.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuring_the_item_feedback">4. Configuring the item feedback</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you can use eKomi, you have to configure the <a href="/en/omni-channel/online-store/extras/customer-feedback">customer feedback</a> menu. Now insert template variables and code into the template <strong>ItemViewSingleItem</strong>. Choose the setting <strong>5</strong> (stars) as the <strong>maximum rating points</strong>.</p>
</div>
</div>
</div>
</main>