<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_etracker"><span>1.</span><span> General information about etracker</span></a></li>
<li><a href="#_setting_up_etracker_in_plentymarkets"><span>2.</span><span> Setting up etracker in plentymarkets</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Old: CMS &amp; online store - etracker</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>CMS » Web design » Folder: Layout » Folder: PageDesign</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_etracker">1. General information about etracker</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.etracker.com/en.html" target="_blank" rel="noopener">etracker</a> offers a wide range of tools for web analytics. The prices vary, depending on the scope of services provided. You can try out the service packages before deciding which one you would like to use.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_etracker_in_plentymarkets">2. Setting up etracker in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have acquired a license from etracker, set up the analysis tool in plentymarkets as described below.</p>
</div>
<div class="paragraph instruction">
<p>Copying the basic code from etracker:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the admin area of <strong>etracker</strong> and open the <strong>Configuration</strong> folder. Then open the menu <strong>Setup/HTML code</strong>.</p>
</li>
<li>
<p>Click on the menu item <strong>Basic code</strong> in the top right corner.</p>
</li>
<li>
<p>Copy the complete source text below <strong>Basic code</strong>, starting with the line <strong>-- etracker PARAMETER 2.4 --</strong>.</p>
</li>
<li>
<p>Insert the code into plentymarkets as described below.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Settings-Client-Conversion-Tracking-etracker-01.png" alt="EN Settings Client Conversion Tracking etracker 01">
</div>
<div class="title">Figure 1. inserting the basic code from etracker</div>
</div>
<div class="paragraph instruction">
<p>Setting up etracker in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Folder: Layout</strong>.</p>
</li>
<li>
<p>Open the folder <strong>PageDesign</strong> and then the template <strong>PageDesignContent</strong>.</p>
</li>
<li>
<p>Click on the <strong>PageDesignContentMainFrame</strong> tab.</p>
</li>
<li>
<p>Insert the <strong>basic code</strong> at the end of the text field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
<strong>→</strong> Now the code is active and etracker starts collecting data.</p>
</li>
</ol>
</div>
</div>
</div>
</main>