<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_setting_up_a_user_account"><span>1.</span><span> Setting up a user account</span></a></li>
<li><a href="#_automatically_transferring_legal_texts"><span>2.</span><span> Automatically transferring legal texts</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>IT-Recht Kanzlei</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Old: CMS &amp; online store</div>
<div class="paragraph">
<p>This manual page describes functions that pertain to the old plentymarkets online shop <strong>Callisto</strong>. For information regarding the online store template <strong>Ceres</strong>, please refer to the <a href="/en/omni-channel/online-store/setting-up-ceres">Setting up Ceres page</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Please note that the <a href="http://www.it-recht-kanzlei.de/schutzpakete.html" target="_blank" rel="noopener">IT-Recht Kanzlei</a> offers its services in German only. They provide an update service for your online store’s <a href="/en/omni-channel/online-store/setting-up-clients/online-store#legal-information">legal texts</a> to ensure that these texts are always up to date.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_a_user_account">1. Setting up a user account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your plentymarkets system will be connected to the IT-Recht Kanzlei via the SOAP interface, i.e. you require the SOAP module. In order for it to have access, this service requires its own user account with access rights to the API in your system.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new user:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The editing window <strong>Create new user</strong> will appear.</p>
</li>
<li>
<p>Enter the <strong>user name</strong>, the <strong>real name</strong> and the <strong>password</strong>.</p>
</li>
<li>
<p>Repeat the password.</p>
</li>
<li>
<p>Enter the user’s email address. This will allow the user to receive messages from the system.</p>
</li>
<li>
<p>Select the user class <strong>API</strong> or <strong>Variable</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following calls must be activated for the user:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>GetServerTime</p>
</li>
<li>
<p>GetPlentyMarketsVersion</p>
</li>
<li>
<p>GetMultiShops</p>
</li>
<li>
<p>GetTermsAndCancellation</p>
</li>
<li>
<p>SetTermsAndCancellation</p>
</li>
<li>
<p>GetLegalInformation</p>
</li>
<li>
<p>SetLegalInformation</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/omni-channel/online-store/setting-up-clients/extras/it-recht-kanzlei">Introduction to the SOAP API</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_automatically_transferring_legal_texts">2. Automatically transferring legal texts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For IT-Recht Kanzlei to automatically transfer legal texts, set up a data interface in your IT-Recht Kanzlei account. The IT-Recht Kanzlei needs to have the following information from you in order to connect to your system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Login details, user name and password</p>
</li>
<li>
<p>URL for the SOAP API WSDL<br>
This URL can be found in the <strong>System » Settings » API » Data</strong> menu under <a href="/en/basics/data-exchange/api-data">SOAP WSDL</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</main>