<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_picalike"><span>1.</span><span> picalike</span></a></li>
<li><a href="#_registering_with_picalike"><span>2.</span><span> Registering with picalike</span></a></li>
<li><a href="#_activating_picalike_in_plentymarkets"><span>3.</span><span> Activating picalike in plentymarkets</span></a></li>
<li><a href="#_integrating_an_image_search_with_several_images"><span>4.</span><span> Integrating an image search with several images</span></a></li>
<li><a href="#_help"><span>5.</span><span> Help</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Old: CMS &amp; online store - picalike</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Settings » Services » picalike</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_picalike">1. picalike</h2>
<div class="sectionbody">
<div class="paragraph">
<p>picalike is a tool for comparing images. It helps your customers in the search for appropriate items.<br>
Item images become more and more important in e-commerce. With picalike, you extend your <strong>property search function</strong> (filtering according to price, gender, category etc.) by another dimension: <strong>similarity</strong>. This will bring a completely new shopping experience to your store visitors.<br>
picalike analyzes your item images and builds up an index of similarities between them. If a store visitor filters according to similarity, then picalike will be informed which image should be used as a reference and it will then show similar images in a list.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_registering_with_picalike">2. Registering with picalike</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Get in touch with picalike and sign up for the image search. Please pay attention to the following points:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You will find detailed information about <strong>functions</strong> and <strong>costs</strong> on the picalike website. Clarify these details before you activate picalike in plentymarkets.</p>
</li>
<li>
<p>picalike needs to have your plentymarkets system’s <strong>export URL</strong> for the image search. Go to <strong>System » Client » Settings » Services » picalike</strong> to find the URL (<a href="#image-settings-picalike">Figure 2</a>).</p>
</li>
<li>
<p>You need the picalike <strong>API KEY</strong> for activation. This key is saved in the <strong>Setup</strong> menu of your picalike admin area (<a href="#image-api-key-activation">Figure 1</a>).</p>
</li>
</ul>
</div>
<div id="image-api-key-activation" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Settings-Client-Global-Services-Picalike-01-SI.png" alt="EN Settings Client Global Services Picalike 01 SI">
</div>
<div class="title">Figure 1. <strong>API KEY</strong> for activation in plentymarkets</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_picalike_in_plentymarkets">3. Activating picalike in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to activate the picalike image search in plentymarkets. There are two steps to the configuration:</p>
</div>
<div class="paragraph instruction">
<p>Configuring the settings for picalike:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Services » picalike</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in the following <strong>table</strong> and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="image-settings-picalike" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Settings-Client-Global-Services-Picalike-02-SI.png" alt="EN Settings Client Global Services Picalike 02 SI">
</div>
<div class="title">Figure 2. <strong>settings</strong> for picalike</div>
</div>
<div class="paragraph">
<p>Explanations of the options in the <strong>picalike</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. <strong>settings</strong> for picalike</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate picalike</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> if you want to activate picalike and <strong>No</strong> if you want to deactivate the image search (again).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Copy the <strong>API key</strong> from the <strong>Setup</strong> menu of your picalike account (<a href="#image-api-key-activation">Figure 1</a>) and paste it into this line.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">picalike needs the <strong>export URL</strong> to activate the image search. The URL is created by the system and should already be entered in this line when you open the menu for the first time.<br>
<strong>Important:</strong> Make sure that you have transmitted the export URL to picalike. Otherwise, the image search can not be used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search scope</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can determine the <strong>category levels</strong> in which the search is to be carried out.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Integrating the picalike image search in the template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Insert the following code at a suitable position:<br>
<strong>&lt;a id="link_picalike_$ID" href="&#123;&#37; Link_PicalikeSearch(1) &#37;&#125;" rel="nofollow"&gt;Search for similar images&lt;/a&gt;</strong><br>
→ The text <strong>Search for similar images</strong> will be displayed as a link in the online store. You can replace the text with any other preferred text.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_integrating_an_image_search_with_several_images">4. Integrating an image search with several images</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to have a selection of several item images, then you need to add an "onclick" event to each one of them.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">onClick command</div>
<div class="paragraph">
<p>The onclick command consists of the following information:<br>
<strong>onClick="document.getElementById('link_picalike_$ID').href='[Link_PicalikeSearch_5]';"<br>
⇒ 5</strong> = Item image number 5</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Onclick events are separated from each other with semicolons.</p>
</div>
<div class="paragraph">
<p>Every image in the item layout needs to have an individual link. These links are numbered consecutively.<br>
LinkTo_PicalikeSearch_2<br>
LinkTo_PicalikeSearch_3<br>
LinkTo_PicalikeSearch_4<br>
etc.</p>
</div>
<div class="paragraph">
<p>Consequently, the code for the second item image is:</p>
</div>
<div class="paragraph">
<p><strong>onClick="document.getElementById('link_picalike_$ID').href='&#123;&#37; Link_PicalikeSearch(2) &#37;&#125;';"</strong></p>
</div>
<div class="paragraph instruction">
<p>Integrating the picalike item search with several images into the template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Insert the respective code for the additional item images as shown in <a href="#image-inserting-code-additional-images">Figure 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In <a href="#image-inserting-code-additional-images">Figure 3</a>, you can see where the code for item <a href="#image-settings-picalike">Figure 2</a> will be inserted (arrow): in front of the triangular bracket.</p>
</div>
<div class="paragraph">
<p>Proceed in the same way for any additional images.</p>
</div>
<div id="image-inserting-code-additional-images" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Settings-Client-Global-Services-Picalike-03-SI.png" alt="EN Settings Client Global Services Picalike 03 SI">
</div>
<div class="title">Figure 3. inserting the code for <strong>additional item images</strong></div>
</div>
</div>
</div><div class="sect1">
<h2 id="_help">5. Help</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Please contact our <strong>support</strong> if you have any additional questions or if an error occurs.</p>
</div>
<div class="paragraph">
<p>Contact <strong>picalike</strong>:</p>
</div>
<div class="paragraph">
<p>Sebastian Kielmann<br>
Managing Director</p>
</div>
<div class="paragraph">
<p>picalike GmbH<br>
Wendenstr. 130<br>
D-20537 Hamburg<br>
Tel: +49 40 468 95 17 - 11<br>
Fax: +49 40 468 95 17 - 99<br>
Web: <a href="http://www.picalike.com" target="_blank" rel="noopener">http://www.picalike.com</a><br>
Email: <a href="mailto:s.kielmann@picalike.com">s.kielmann@picalike.com</a></p>
</div>
</div>
</div>
</main>