<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_sweepstakes"><span>1.</span><span> General information about sweepstakes</span></a></li>
<li><a href="#_planning_sweepstakes"><span>2.</span><span> Planning sweepstakes</span></a></li>
<li><a href="#_creating_sweepstakes"><span>3.</span><span> Creating sweepstakes</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_category_of_the_type_content"><span>3.1.</span><span> Creating a category of the type content</span></a></li>
<li><a href="#_inserting_a_category_into_the_online_store_layout"><span>3.2.</span><span> Inserting a category into the online store layout</span></a></li>
<li><a href="#_formatting_of_the_sweepstakes_form"><span>3.3.</span><span> Formatting of the sweepstakes form</span></a></li>
</ul>
</li>
<li><a href="#_confirming_the_registration"><span>4.</span><span> Confirming the registration</span></a></li>
<li><a href="#_adding_an_entry_in_the_newsletter_e_mail_folder"><span>5.</span><span> Adding an entry in the newsletter E-mail folder</span></a></li>
<li><a href="#_identifying_the_winner"><span>6.</span><span> Identifying the winner</span></a></li>
<li><a href="#_deleting_participants"><span>7.</span><span> Deleting participants</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Sweepstakes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Settings » Sweepstakes</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Old: CMS &amp; online store</div>
<div class="paragraph">
<p>This manual page describes functions that pertain to the old plentymarkets online shop <strong>Callisto</strong>. For information regarding the online store template <strong>Ceres</strong>, please refer to the <a href="/en/omni-channel/online-store/setting-up-ceres">Setting up Ceres page</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_sweepstakes">1. General information about sweepstakes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sweepstakes such as lottery drawings and quizzes are a favoured means for increasing sales and are used to raise interest in certain products or to collect contact data of interested persons. plentymarkets includes a sweepstakes module that allows you to create individual sweepstakes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_planning_sweepstakes">2. Planning sweepstakes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First think of what you want to achieve with the sweepstakes. A well thought and solid concept will save you lots of time and work afterwards. Keep the following questions in mind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Who is my target group (e.g. new customers or registered customers)?</p>
</li>
<li>
<p>What do I want to achieve with the sweepstakes (advertising offers or collecting new contact data)?</p>
</li>
<li>
<p>How often do I want to publish sweepstakes (on a weekly or monthly basis)?</p>
</li>
<li>
<p>What type of sweepstakes do I want to use (e.g drawings without any questions or quizzes)?</p>
</li>
<li>
<p>What type of questions and answers are best suited for my sweepstakes?</p>
</li>
<li>
<p>Which legal information is relevant for my sweepstakes? Please pay attention to the "Legal note" entry in <a href="#table-settings-sweepstakes">Table 1</a> and refer to your legal adviser for further information.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_sweepstakes">3. Creating sweepstakes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have a good concept for the sweepstakes, carry out the required settings in plentymarkets. The registration forms for the sweepstakes will be created according to the settings.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Einstellungen-Mandant-Global-Gewinnspiel-01.png" alt="EN Einstellungen Mandant Global Gewinnspiel 01">
</div>
<div class="title">Figure 1. settings in the <strong>sweepstakes</strong> menu</div>
</div>
<div class="paragraph instruction">
<p>Creating sweepstakes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Sweepstakes</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-settings-sweepstakes">Table 1</a> and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Sweepstakes</strong> menu:</p>
</div>
<table id="table-settings-sweepstakes" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. settings in the <strong>Sweepstakes</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Answers 1-3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Define up to three answers for your sweepstakes. Enter the answers in the corresponding fields. <br>
<strong>Drawing without questions</strong>: You need to save at least one answer. Otherwise your customers will receive an error message when they try to register for the sweepstakes in your online store. If you want to create a sheer drawing, only save one answer with a text stating something like "Yes, I wish to participate."</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entry field: first name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose whether or not you want to ask the <strong>customer’s first name</strong> when they participate in the sweepstakes. You can also set this field as a <strong>mandatory field</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entry field: surname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose whether or not you want to ask the <strong>customer’s surname</strong> when they participate in the sweepstakes. You can also set this field as a <strong>mandatory field</strong>. <br>
The customer’s E-mail address is a mandatory field that will always be requested from the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Legal note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a legal note that your customer has to confirm. Contact your legal adviser to discuss what would be an appropriate text. This note should consist of text and a link to the conditions of participation. <br>
It is advised to create a <a href="/en/item/managing-categories">category</a> of the type content that includes the conditions of participation. Note the category ID and insert it into the link wildcard character. In our example below the number 123 has to be replaced by this ID. <br>
<strong>Example:</strong> "Yes, I agree to the &lt;a href="[Link_123]"&gt;conditions of participation&lt;/a&gt; and I wish to receive the newsletter of EXAMPLE SHOP to stay informed!"</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>relative button URL<br>
without <a href="http://www.domain.de" class="bare">http://www.domain.de</a></strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you wish to use your own button for sending the form, enter the <strong>relative URL</strong> of the button here. <br>
If you leave this field empty, the <strong>Send</strong> button will be displayed by default. This button is saved in the <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-editing-the-web-design-buttons">CMS » Web design » Buttons</a> menu. You can also adapt the button there if needed.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_creating_a_category_of_the_type_content">3.1. Creating a category of the type content</h3>
<div class="paragraph">
<p>After having carried out the setting for the sweepstakes you have to insert the entry form into the category. Create a new category to do so.</p>
</div>
<div class="paragraph instruction">
<p>Creating a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="/en/item/managing-categories">Item » Categories</a>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> in the lower left corner to create a new category.</p>
</li>
<li>
<p>Enter the corresponding text for this category, e.g. your question, into the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Insert the wildcard character <strong>[Form_-2]</strong> directly below the question.<br>
→ The registration form for your sweepstakes will be displayed instead of this wildcard character.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Form ID</div>
<div class="paragraph">
<p>The sweepstakes' form ID is always <strong><em>-2</em></strong>. Therefore, only one sweepstakes can be active at a time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_inserting_a_category_into_the_online_store_layout">3.2. Inserting a category into the online store layout</h3>
<div class="paragraph">
<p>After you created the category of the type content you still have to insert it into your online store so that the sweepstakes becomes visible.</p>
</div>
<div class="paragraph instruction">
<p>Inserting a category into the layout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout</strong>.</p>
</li>
<li>
<p>Select which template you want to insert the category into. <br>
→ The <strong>PageDesignContent</strong> template is used in the example.</p>
</li>
<li>
<p>Insert the wildcard character <strong>[Link_x]</strong> into an appropriate place in the layout (see the following code example and <a href="#image-link-sweepstakes-online-store">Figure 2</a>).</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Inserting the category ID</div>
<div class="paragraph">
<p>Replace <strong>x</strong> in the code example with the category <strong>ID</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-xml hljs" data-lang="xml">&lt;ul&gt;&lt;li&gt;&lt;a href="$Link_x" title="Participate in our sweepstakes."&gt;Sweepstakes&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p>In the following example, the category was inserted into the upper navigation bar (<a href="#image-link-sweepstakes-online-store">Figure 2</a>).</p>
</div>
<div id="image-link-sweepstakes-online-store" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Einstellungen-Mandant-Global-Gewinnspiel-02.png" alt="EN Einstellungen Mandant Global Gewinnspiel 02">
</div>
<div class="title">Figure 2. link to the sweepstakes page in the online store</div>
</div>
</div>
<div class="sect2">
<h3 id="_formatting_of_the_sweepstakes_form">3.3. Formatting of the sweepstakes form</h3>
<div class="paragraph">
<p>Go to <strong>CMS » Web design » Layout » CSS</strong> and insert the following <strong>code example</strong> in order to format the form in <strong>CSS</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Inserting the CSS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » CSS</strong>.</p>
</li>
<li>
<p>Copy the <strong>CSS code</strong> below and insert it underneath the already existing CSS code.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-xml hljs" data-lang="xml">#plenty_lottery_question_1, #plenty_lottery_question_2, #plenty_lottery_question_3 {
padding:8px;
margin: 6px 0px 6px 0px;
border:#999999 solid 1px;
display:block;
}

.question_select {
float:left;
display:block;

}

.question {
float:none;
margin-left:20px;
font-weight:bold;
display:block;
}

#plenty_lottery_data {
padding:8px;
border:#999999 solid 1px;
}

#plenty_lottery_data .cola,
#plenty_lottery_data .colb {
padding:4px;
}</code></pre>
</div>
</div>
<div class="paragraph">
<p>Of course, you can choose how you want to design your sweepstakes. Using the settings above and the CSS code example will deliver the following results:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Einstellungen-Mandant-Global-Gewinnspiel-03.png" alt="EN Einstellungen Mandant Global Gewinnspiel 03">
</div>
<div class="title">Figure 3. example of the <strong>display in the online store</strong></div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_confirming_the_registration">4. Confirming the registration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After the participant has registered for the sweepstakes, you can send them an email confirmation. To do so, create an <strong>Email template</strong> and select this E-mail template as an <strong>automatic E-mail</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating an E-mail template to confirm the participation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="/en/crm/sending-emails#1200">System » Client » Select client » Email » Templates</a>.</p>
</li>
<li>
<p>Create a corresponding <strong>E-mail template</strong>.</p>
</li>
<li>
<p>Go to <a href="/en/crm/sending-emails#2300">System » Client » Select client » Email » Automatic</a>.</p>
</li>
<li>
<p>Select the <strong>E-mail template</strong> that you just created from the <strong>Registration for sweepstakes</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Saving E-mail access data</div>
<div class="paragraph">
<p>You have to enter your <a href="/en/crm/sending-emails#100">E-mail access data</a> into the system before plentymarkets can send E-mails on your behalf from your E-mail account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_adding_an_entry_in_the_newsletter_e_mail_folder">5. Adding an entry in the newsletter E-mail folder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as a participant has registered, their data can automatically be entered into a newsletter E-mail folder. One advantage of this is that the data of the participants remains in your system even after you deleted the participants (see below). Another advantage is that you can easily administer the E-mail addresses in this menu e.g searching or exporting data, sending newsletters etc. The data of the participants can be saved either in an already existing E-mail folder or you can create a new one and save the data in that one. Of course, you can also copy or move the participants' data from one folder to another. Proceed as described below in order to create a new E-mail folder for the participants of your sweepstakes.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new E-mail folder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="/en/crm/sending-newsletters#300">System » CRM » Newsletter » plentymarkets » Email folder</a>.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the folder under <strong>Create new E-mail folder</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The E-mail folder will be created and will appear in the overview.</p>
</li>
<li>
<p>Select further settings for this E-mail folder if desired.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In order for the participants' data to be imported into the right folder, you need to insert another wildcard character above the <strong>[Form_x]</strong> wildcard character in the category that contains the sweepstakes' registration (<strong>x</strong> is the ID of the form). This new wildcard character specifies which E-mail folder the data should be imported into.</p>
</div>
<div class="paragraph instruction">
<p>Inserting wildcard characters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Select the category of your sweepstakes.</p>
</li>
<li>
<p>Insert the <strong>wildcard character [EMailDirID::x]</strong> directly above <strong>[Form_x]</strong> (<strong>x</strong> is the ID of the form) and replace <strong>x</strong> by the ID of the desired E-mail folder (example for the folder with ID 6: &#123;&#37; EMailDirID(6) &#37;&#125;)</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_identifying_the_winner">6. Identifying the winner</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can see how many people have participated so far in the <strong>System » Client » Settings » Sweepstakes</strong> menu and there in the <strong>Overview</strong> area. You can identify the winner here once the sweepstakes has ended.</p>
</div>
<div class="paragraph instruction">
<p>Identifying the winner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Sweepstakes</strong>.</p>
</li>
<li>
<p>Click on the <strong>Identify winner</strong> button.<br>
→ A new window will open. All participants will be listed here. The order is random.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Einstellungen-Mandant-Global-Gewinnspiel-04.png" alt="EN Einstellungen Mandant Global Gewinnspiel 04">
</div>
<div class="title">Figure 4. identifying the winner</div>
</div>
<div class="paragraph">
<p>The same E-mail address can not be used twice for a sweepstakes. This means that each customer can only participate once. If a customer enters an E-mail address that has already been used, then the form in the online store will not be sent. If a customer has several E-mail addresses, then they can participate with every one of them.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_deleting_participants">7. Deleting participants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows if you want to delete the participants of an expired sweepstakes, e.g. so that they can participate in upcoming sweepstakes or simply because you do not need the data anymore.</p>
</div>
<div class="paragraph instruction">
<p>Deleting participants:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>delete icon</strong> to delete the participants of the sweepstakes.</p>
</li>
<li>
<p>Confirm your decision with <strong>OK</strong>. <br>
The values in the overview will be reset to zero. After this you can set up a completely new sweepstakes or run the same one again.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Once you have deleted the participants, customers will be able to reuse E-mail addresses that were used before.</p>
</div>
</div>
</div>
</main>