<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_data_medium_exchange_export"><span>1.</span><span> Data medium exchange export</span></a>
<ul class="sectlevel2">
<li><a href="#_notes_on_data_medium_exchange_export_debit_credit_note"><span>1.1.</span><span> Notes on Data medium exchange export (debit / credit note)</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Data medium exchange export</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Sales orders &gt; Fulfillment &gt; Data medium exchange export</strong></p>
</div>
<div class="paragraph">
<p>Don’t forget to check and save your settings or changes!</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_data_medium_exchange_export">1. Data medium exchange export</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>DME</strong> (data medium exchange) signifies a data format, with which data is exported from <strong>bank transfers</strong> and <strong>debits</strong> and is sent to a bank. In plentyMarkets, you can create and send data medium exchange files. You can select the export formats <strong>Debits</strong> or <strong>Credit notes</strong>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Invoice and bank details</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>Only those sales orders will be exported that have an invoice and a customer’s bank details saved along with them.</p>
</div>
<div class="paragraph">
<p>You will find a multi-booking in section <strong>Sales orders &gt; Incoming payments</strong> Here sales orders can be marked as <strong>paid</strong>.</p>
</div>
<div class="sect2">
<h3 id="_notes_on_data_medium_exchange_export_debit_credit_note">1.1. Notes on Data medium exchange export (debit / credit note)</h3>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Mandatory entries</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>Filling in the fields <strong>Account holder, Account No.</strong> and <strong>Bank code</strong> is mandatory.</p>
</div>
</div>
</div>
</div>
</main>