<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_generating_dunning_letters"><span>1.</span><span> Generating dunning letters</span></a></li>
<li><a href="#_options"><span>2.</span><span> Options</span></a></li>
<li><a href="#_generating_dunning_letters_2"><span>3.</span><span> Generating dunning letters</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Generating dunning letters</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Orders » Fulfillment » Generate dunning letters</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_dunning_letters">1. Generating dunning letters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, dunning letters are generated with the help of a <strong>group function</strong>. By selecting the corresponding search filter settings, you could e.g. generate dunning letters for <strong>all of the orders from a specific time period</strong> that are still currently in <strong>status [3] waiting for payment</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_options">2. Options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can carry out settings related to the layout of the dunning letters by going to <strong>Settings &gt; Orders &gt; Documents</strong>.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Settings &gt; Orders &gt; Event procedures</strong> in order to define which additional <strong>procedure(s)</strong> should be carried out when the dunning letter is generated.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_dunning_letters_2">3. Generating dunning letters</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Generating dunning letters:</div>
<div class="paragraph">
<p>Go to <strong>Generate dunning letters</strong> (see path above).</p>
</div>
<div class="paragraph">
<p>Pay attention to the explanations given in table 1 and carry out the <strong>settings</strong> for the <strong>search filter</strong> as desired.</p>
</div>
<div class="paragraph">
<p>Under <strong>procedure</strong>, select the order status that you would like to have assigned to the selected orders after the dunning letters were successfully created. Additionally, enter a <strong>comment</strong> if desired.</p>
</div>
<div class="paragraph">
<p>Click on the <strong>gear-wheel icon</strong> after having selected all of the options.<br>
→ You will receive a <strong>PDF file</strong>, which contains the dunning letters of all the orders that match the filter options you selected.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-ENG-Auftraege-Fulfill-Mahnungen-erzeugen01-SI.png" alt="EN ENG Auftraege Fulfill Mahnungen erzeugen01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: menu: <strong>generate dunning letters</strong></em></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Limit the orders that should receive dunning letters by <strong>selecting starting and ending dates</strong> from the calendars. In doing so, you will find those orders that have a order date within the selected time period.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the current <strong>status</strong> of the orders that you would like to generate dunning letters for.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Country</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a <strong>country</strong> that the search should be limited to. Alternatively, select the option <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Owner</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an <strong>owner</strong> for the orders that you are searching for. Alternatively, select the option <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Client (store)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the <strong>stores</strong> or select the option <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Limit the search to a particular <strong>warehouse</strong> or carry out the search for <strong>ALL</strong> warehouses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the <strong>payment methods</strong> or select the option <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sorting</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Determine the identifying feature that you would like to use for sorting the dunning letters that are generated. Alternatively, select the option <strong>NONE</strong> if you don’t want to have the dunning letters sorted in any particular way.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change order status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a new <strong>order status</strong> that you would like to have assigned to the selected orders after the dunning letters were successfully retrieved. Alternatively, select the option <strong>no change</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You have the possibility of creating a <strong>dunning charge</strong> as a separate item. Once you have done this, you can enter the corresponding <strong>item ID of the dunning charge</strong> here. This will then automatically be added to all of the dunning letters that are generated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Comment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can compose a <strong>text</strong> here, which you would like to have appear on all of the dunning letters <strong>underneath the stock units</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>settings</strong> in the <strong>Generate dunning letters</strong> menu</em></p>
</div>
</div>
</div>
</main>