<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_generating_credit_notes"><span>1.</span><span> Generating credit notes</span></a></li>
<li><a href="#_options"><span>2.</span><span> Options</span></a></li>
<li><a href="#_generating_credit_notes_2"><span>3.</span><span> Generating credit notes</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Generating credit notes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Orders » Fulfillment » Generate credit notes</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_credit_notes">1. Generating credit notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, credit notes are generated with the help of a <strong>group function</strong>. For example, credit notes could be generated for all orders that currently have the status <strong>credit note</strong> or for all orders where a credit note was already <strong>disbursed</strong>. These credit notes could be generated with a search request that has <strong>order status [11] Credit note</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_options">2. Options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can carry out settings related to the layout of the credit notes by going to <strong>Settings &gt; Orders &gt; Documents</strong>.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Settings &gt; Orders &gt; Event procedures</strong> in order to define which additional <strong>procedure(s)</strong> should be carried out when the credit note is generated.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_credit_notes_2">3. Generating credit notes</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Generating credit notes:</div>
<div class="paragraph">
<p>Go to <strong>Generate credit notes</strong> (see path above).</p>
</div>
<div class="paragraph">
<p>Pay attention to the explanations given in table 1 and carry out the <strong>settings</strong> for the <strong>search filter</strong> as desired.</p>
</div>
<div class="paragraph">
<p>Under <strong>procedure</strong>, select the order status that you would like to have assigned to the selected orders after the credit notes were successfully created. Additionally, enter a <strong>comment</strong> if desired.</p>
</div>
<div class="paragraph">
<p>Click on the <strong>gear-wheel icon</strong> after having carried out all of the settings.<br>
→ You will receive a <strong>PDF file</strong>, which contains the credit notes of all the orders that match the filter options you selected.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-ENG-Auftraege-Fulfill-Gutschriften-erzeugen01-SI.png" alt="EN ENG Auftraege Fulfill Gutschriften erzeugen01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: menu: <strong>generate credit notes</strong></em></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the current <strong>status</strong> of the orders that you would like to generate credit notes for.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Owner</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an <strong>owner</strong> for the orders that you are searching for. Alternatively, select the option <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Client (store)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the <strong>stores</strong> or select the option <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Limit the search to a particular <strong>warehouse</strong> or carry out the search for <strong>ALL</strong> warehouses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the <strong>payment methods</strong> or select the option <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sorting</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Determine which option you would like to use for sorting the credit notes that are generated. Options: <strong>Credit note number</strong>, <strong>Order ID</strong>, <strong>Customer ID</strong>, <strong>Item ID</strong>. If you choose the <strong>Item ID</strong> option, then the credit notes will automatically be sorted according to their <strong>Order ID</strong> as well.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You have to <strong>limit</strong> the number of credit notes that can be generated to one of the values in the drop-down menu. The maximum is <strong>200</strong> credit notes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change order status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a new <strong>order status</strong> that you would like to have assigned to the selected orders after the credit notes were successfully generated. Alternatively, select the option <strong>no change</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Comment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can compose a <strong>text</strong> here, which you would like to have appear on all of the credit notes <strong>underneath the stock units</strong>. This entry is optional.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change credit note layout</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on this link to open the <strong>Settings &gt; Orders &gt; Documents</strong> area in a new window. There you can carry out detailed settings for the credit note template.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on this link to open the <strong>Settings &gt; Orders &gt; Event procedures</strong> area in a new window. There you can create new event procedures and edit existing ones.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>settings</strong> in the <strong>Generate credit notes</strong> menu</em></p>
</div>
</div>
</div>
</main>