<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_delivery_notes"><span>1.</span><span> General information about delivery notes</span></a></li>
<li><a href="#_setting_up_a_document_template_for_delivery_notes"><span>2.</span><span> Setting up a document template for delivery notes</span></a></li>
<li><a href="#_generating_delivery_notes"><span>3.</span><span> Generating delivery notes</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Generating delivery notes</h1><div class="sect1">
<h2 id="_general_information_about_delivery_notes">1. General information about delivery notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can generate delivery notes, for example if you want to print them or import them into another software. For your customers, delivery notes are important documents for checking their incoming items. Therefore, make sure that important data such as the order date, the list of items and the quantities are displayed correctly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_a_document_template_for_delivery_notes">2. Setting up a document template for delivery notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating delivery notes, you have to set up a document template. This is done in the menu <strong>System » Client » Select client » Locations » Select location » Documents</strong>.<br>
For further information and instructions on setting up the document template, refer to the <a href="/en/en/order-processing/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_delivery_notes">3. Generating delivery notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After having set up a document template for delivery notes, you can generate delivery notes in PDF format. In this process, a filter allows you to choose the orders are considered and whether a status change should take place after the delivery notes have been generated.</p>
</div>
<div class="paragraph instruction">
<p>Generating delivery notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment » Generate delivery notes</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-fulfilment-delivery-notes">Table 1</a>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to generate the delivery notes.<br>
→ A <strong>PDF file</strong> containing the delivery notes for the previously selected orders opens.</p>
</li>
</ol>
</div>
<table id="table-settings-fulfilment-delivery-notes" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Options in the <strong>Generate delivery notes</strong> submenu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the list, select the status of the orders for which delivery notes should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Printout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine if delivery notes should only be generated for orders with a delivery address or for <strong>ALL</strong> orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items shipped on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date from the calendar which should appear as the date of shipment on the delivery notes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner responsible for the orders for which the delivery notes should be generated. Select <strong>ALL</strong> if delivery notes should be generated for all owners.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a location for which the delivery notes should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse or <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a payment method or <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the generated delivery notes should be sorted. The options <strong>Invoice number</strong>, <strong>Order ID</strong>, <strong>Customer ID</strong> and <strong>Item ID</strong> are available for different sorting methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the maximum number of delivery notes generated at a time. There is a maximum of <strong>200</strong> delivery notes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery note date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date from the calendar which should be displayed as delivery note date on the delivery notes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status that should be applied to the orders after generating the delivery notes. + ¤The status change is an important tool to make sure that the process is not carried out twice for orders that have already been handled.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is later displayed below the item list on the delivery note. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>