<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_displaying_item_data"><span>1.</span><span> Displaying item data</span></a></li>
<li><a href="#_uploading_a_pdf_template"><span>2.</span><span> Uploading a PDF template</span></a></li>
<li><a href="#_generating_a_packing_list"><span>3.</span><span> Generating a packing list</span></a></li>
<li><a href="#_generating_a_packing_list_2"><span>4.</span><span> Generating a packing list</span></a></li>
<li><a href="#_changing_a_packing_list"><span>5.</span><span> Changing a packing list</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Packing list</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The packing list provides you with an overview of the orders including all of the items that they include. Additionally, the order ID is displayed as a barcode. This way, outgoing items from the order can be booked with the barcode after having been shipped.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_displaying_item_data">1. Displaying item data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Packing list</strong> menu to specify which item data should be included on your packing list, e.g. the item ID, EAN, storage location, etc and how this information should be displayed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Packing-List-01.png" alt="EN Settings Orders Documents Packing List 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: options in the <strong>Packing list</strong> menu</em></p>
</div>
<div class="paragraph instruction">
<p>Displaying item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents » Packing list</strong>.</p>
</li>
<li>
<p>Select the option <strong>Show</strong> for all of the fields that should be displayed on the packing list.</p>
</li>
<li>
<p>Specify how wide the fields should be. Choose which font size and font style should be used for the texts.</p>
</li>
<li>
<p>Pay attention to the explanations given in the following table and carry out any additional settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Top margin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a value (in mm) for the top margin on the page. Change the value if needed. For example, change the value if you use a PDF template that contains the company information and logo at the top of the page and you want to position this "header" above the packing list (see section 3).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>How order information texts are displayed</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide which informational texts should be displayed on the packing list. Choose between the options <strong>Customer wishes &amp; Order information texts</strong> and <strong>customer wishes only</strong>. In image 2, you can see how the customer wishes (blue arrow) and order information texts (red arrow) are displayed on the packing list.<br>
Customers can enter specific wishes for their order in the <strong>My account</strong> area of the online store. This is done in the order history, within the <strong>Notes</strong> section.<br>
Order information texts can be saved for an order. This is done under <strong>Orders » Edit orders » Tab: Overview » Tab: Order note</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <strong>code</strong> option <strong>EAN13</strong> (default) or <strong>Code 128</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order properties</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether order properties should be displayed or <strong>not</strong>. For further information about order properties, refer to the <strong><a href="/en/item/managing-items#480">Properties</a></strong> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the <strong>storage location name</strong> should be displayed on the packing list. For example, you can display the storage location name only or you can display various combinations of warehouse information such as the <strong>rack / shelf / storage location</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: options in the <strong>Packing list</strong> menu</em></p>
</div>
<div class="paragraph">
<p>If you select the settings as shown in image 1, then the packing list that is generated will look like this:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Packing-List-02.png" alt="EN Settings Orders Documents Packing List 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: example of a packing list (German example)</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_uploading_a_pdf_template">2. Uploading a PDF template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The term document template is used here to describe your store’s "letter paper", i.e. a page containing your company information, logo and layout elements according to your corporate design. This template needs to be in PDF format. plentymarkets makes it possible to use a document template for the packing list. In order to upload a PDF template, proceed as described below.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Packing-List-03.png" alt="EN Settings Orders Documents Packing List 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: uploading a PDF template</em></p>
</div>
<div class="paragraph instruction">
<p>Uploading a PDF template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents » Packing list</strong>.</p>
</li>
<li>
<p>Click on the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>New template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong>.</p>
</li>
<li>
<p>Select the PDF document template.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The PDF template will now appear in the <strong>Templates</strong> tab. There you can see a preview of the PDF template or you can delete the template.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>If you use a PDF template with a header and you want to position this header above the packing list, then you may still need to change the value that was saved as the <strong>top margin</strong> (see table 1).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information about document templates, refer to the <strong><a href="/en/order-processing/orders/order-documents">Documents</a></strong> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_a_packing_list">3. Generating a packing list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For further information about generating packing lists, refer to the <strong><a href="/en/order-processing/orders/order-documents/packing-list">Packing list</a></strong> page of the manual.</p>
</div>
<div class="paragraph">
<p>The <strong>packing list</strong> provides you with an <strong>overview of the sales orders</strong> including all of their positions. Additionally, the <strong>sales order ID is displayed as a barcode</strong>. This way, outgoing items from the sales order can be booked with the barcode after having been shipped.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_a_packing_list_2">4. Generating a packing list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to create a packing list, proceed as explained below:</p>
</div>
<div class="paragraph">
<p><strong>Generating a packing list:</strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Sales orders &gt; Fulfillment &gt; Packing list</strong>.</p>
</li>
<li>
<p>Select the <strong>status</strong> of the sales orders that are to be included in the packing list.</p>
</li>
<li>
<p>Select the general <strong>options</strong>.</p>
</li>
<li>
<p>Select a <strong>status change</strong> if desired.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to generate the packing list.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-ENG-Packliste01-SI.png" alt="EN ENG Packliste01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>packing list</strong> submenu</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_changing_a_packing_list">5. Changing a packing list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The link <strong>change packing list</strong> takes you to the menu <strong>Settings &gt; Sales orders &gt; Documents &gt; Packing list</strong>. This is where the packing list’s <strong>basic settings</strong> are configured.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Important</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>Whenever you carry out changes in this menu and click on the save icon, other users will be logged out automatically and will need to log in again. This ensures that the changes will also apply to the other user profiles. Therefore, it is recommended that you announce changes in advance.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Stock units</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>You can select columns for the stock units that you would like to have displayed on the packing list.<br>
Go to: <strong>Settings &gt; Sales orders &gt; Documents &gt; Packing list</strong></p>
</div>
</div>
</div>
</main>