<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Displaying item data</span></a></li>
<li><a href="#300"><span>2.</span><span> Uploading a PDF template</span></a></li>
<li><a href="#400"><span>3.</span><span> Generating a packing list</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Generating packing lists</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can create packing lists as PDF files.<br>
A packing list includes an overview of all order items included in the order. In addition, the order ID is displayed in the form of a barcode. This barcode can be scanned and thus allows outgoing items to be booked directly after the shipping process has been initiated.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Displaying item data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the options <strong>Show</strong> or <strong>Do not show</strong> in the menu <strong>System » Orders » Documents » Packing list</strong> to determine which item data should be displayed on your packing lists, such as <strong>Item ID</strong>, <strong>Quantity</strong> or <strong>Item image</strong>.<br></p>
</div>
<div class="paragraph">
<p>You can carry out individual settings for some of the fields described in <a href="#table-options-packing-list">Table 1</a> concerning the parameters <strong>width</strong>, font size and font weight that allow you to individualise the layout of the packing list. Use the <strong>Preview</strong> button to check the results of the settings while preparing the PDF template.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Information displayed on the packing list by default</div>
<div class="paragraph">
<p>In plentymarkets, the following data is displayed by default on the packing list. Thus, it is not affected by the settings carried out in the menu <strong>System » Orders » Documents » Packing list</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Customer name and address</p>
</li>
<li>
<p>Order ID</p>
</li>
<li>
<p>Order date</p>
</li>
<li>
<p>Item name and Quantity</p>
</li>
<li>
<p>Shipping provider</p>
</li>
<li>
<p>Payment method</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/auftragsdokumente/assets/DE-Einstellungen-Auftraege-Dokumente-Packliste-01.png" alt="DE Einstellungen Auftraege Dokumente Packliste 01">
</div>
<div class="title">Figure 1. Options in the <strong>Packing list</strong> menu</div>
</div>
<div class="paragraph instruction">
<p>Displaying item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents » Packing list</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-options-packing-list">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-options-packing-list" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the <strong>Packing list</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Top margin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a value (in mm) for the top margin on the page. A larger top margin may be required if you use a PDF template that contains the company information and the logo at the top of the page and you want to position this “header” above the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a character set used for coding the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>How order information texts are displayed</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine which information texts are displayed on the packing list. Choose between the options <strong>Customer wishes &amp; Order information texts</strong> and <strong>Customer wishes only</strong>. Image 2 shows how the customer wishes (blue arrow) and order information texts (red arrow) are displayed on the packing list.<br>
Customers can enter specific wishes for their order in the <strong>My account</strong> area of the online store. This is done in the <strong>Notes</strong> section in the order history.<br>
Information texts for specific orders are saved in the <strong>Orders » Edit orders » Tab: Overview » Tab: Order note</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the item quantity is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the barcode is displayed on the packing list. Choose between the options <strong>GTIN13</strong> and <strong>CODE128</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the item ID is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the internal variation ID is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the variation number is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the GTIN is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the external variation ID, e.g. as assigned by your supplier, is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order properties</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the order properties are displayed on the packing list. For further information on managing properties in general and order properties, refer to the <strong><a href="/en/en/item/managing-items#480">Managing properties</a></strong> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the <strong>Storage location name</strong> is displayed on the packing list. Choose between displaying the storage location name only and different combinations of warehouse information, such as <strong>Warehouse/storage location name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how a picture of the ordered item variation is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Best before date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the best before date is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Batch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the batch number is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telephone number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the customer’s phone number is displayed on the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the customer’s email address is displayed on the packing list.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>A packing list based on the settings shown in table 1 looks as follows:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Packing-List-02.png" alt="EN Settings Orders Documents Packing List 02">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Uploading a PDF template</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Uploading a PDF template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents » Packing list</strong>.</p>
</li>
<li>
<p>Open the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New template</strong>.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Select a PDF file as a template.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The PDF template appears in the <strong>Templates</strong> tab. In this tab, you can preview or delete the PDF template.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>If your template contains a header, you should position the header above the actual packing list. Make sure that top margin is wide enough for your header and adjust the value if necessary (see <a href="#table-options-packing-list">Table 1</a>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Generating a packing list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After having carried out the settings according to <a href="#table-options-packing-list">Table 1</a>, you can determine which orders should be included in the packing list in the menu <strong>Orders » Fulfilment</strong>. In this menu, a <strong>Search filter</strong> allows you to select the orders and to determine how they are sorted on the packing list.</p>
</div>
<div class="paragraph">
<p>In order to generate a packing list, proceed as explained below.</p>
</div>
<div class="paragraph instruction">
<p>Generating a packing list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment » Packing list</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-fulfilment-packing-list">Table 2</a>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to generate the packing list.</p>
</li>
</ol>
</div>
<table id="table-settings-fulfilment-packing-list" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options in the <strong>Packing list</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the list, select the status of the orders that should be included in the packing list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the drop-down menu, select the owner responsible for the orders for which the documents should be generated. Select <strong>ALL</strong> if documents should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong> = only standard store<br>
<strong>ALL</strong> = store and clients</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the drop-down menu, select one warehouse or <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the drop-down menu, select the method for sorting the items on the packing list. The options <strong>Order ID</strong>, <strong>Invoice number</strong> and <strong>Item ID</strong> are available for different sorting methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the drop-down menu, select how many orders should be handled at a time. Set a value between 50 and 200.<br>
The maximum number of orders that can be handled at a time equals the maximum of orders that can be selected. If more than the maximum number of orders should be handled, repeat the process accordingly. The lower the chosen setting, the more efficient is the system performance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status that should be applied to the orders after generating the packing list.<br>
The status change is an important tool to make sure that the process is not carried out twice for orders that have already been handled.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The link <strong>Change packing list</strong> takes you to the settings in the menu <strong>System » Orders » Documents » Packing list</strong>, in which the document settings and the PDF template for the packing list are configured.</p>
</div>
<div class="paragraph">
<p>Warning: Whenever you carry out changes in this menu and save the settings, other users are logged out automatically and need to log in again. This ensures that the changes also apply to the other user profiles. Thus, make sure to inform other users before making any changes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>