<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Displaying item data</span></a></li>
<li><a href="#200"><span>2.</span><span> Uploading a PDF template</span></a></li>
<li><a href="#300"><span>3.</span><span> Changing a warehouse pick list</span></a></li>
<li><a href="#400"><span>4.</span><span> Generating a warehouse pick list</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Warehouse pick lists</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can generate warehouse pick lists as PDF files, for example if you want to print them or import them into another software. In contrast to the regular <a href="/en/order-processing/orders/order-documents/pick list">pick list</a>, a warehouse pick list displays the relevant variations for a specific warehouse. If you use several warehouses, you can use the warehouse pick list to improve the efficiency of the picking process.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Displaying item data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>System » Orders » Documents » Warehouse pick list</strong> to determine which item data should be displayed on your warehouse pick lists, such as <strong>Item ID</strong>, <strong>Quantity</strong>, <strong>Storage location</strong> or <strong>Invoice number</strong>. In addition, you can determine at which positions and in which order those data are displayed on the warehouse pick list.</p>
</div>
<div class="paragraph">
<p>You can carry out individual settings for most of the fields described in <a href="#table-orders-options-warehouse-pick-list">Table 1</a> concerning the parameters <strong>width</strong>, font size and font weight that allow you to choose an individual layout for the warehouse pick list. Use the <strong>Preview</strong> button to check the results of the settings while preparing the PDF template.
To display the fields on the warehouse pick list in the order of your choice, assign the position numbers 1 to 14 from the respective drop-down menu to them. Select the option <strong>Pos</strong> for fields that should not be displayed on the warehouse pick list.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Mandatory setting</div>
<div class="paragraph">
<p>At least one of the fields <strong>Order ID</strong> or <strong>Invoice number</strong> must be activated. This is done by assigning a <strong>Position</strong> to those fields on the warehouse pick list. Make sure to select a position number that is not already being used.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Warehouse-Pick-List-01.png" alt="EN Settings Orders Documents Warehouse Pick List 01">
</div>
<div class="title">Figure 1. Options in the <strong>Warehouse pick list</strong> menu</div>
</div>
<div class="paragraph instruction">
<p>Displaying item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents » Warehouse pick list</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-orders-options-warehouse-pick-list">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-orders-options-warehouse-pick-list" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the <strong>Warehouse pick list</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Top margin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a value (in mm) for the top margin on the page. If you use a PDF template containing the company information and the logo at the top of the page and want to position this "header" above the pick list, adjust this value (see chapter 3).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a character set used for coding the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the <strong>storage location</strong> is displayed on the warehouse pick list. For example, only the storage location name or a combination of warehouse information can be displayed, such as <strong>Dimension/storage location name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the item quantity is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the item ID is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the variation number is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the GTIN of the item is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the <strong>Free text fields 1-20</strong> from the drop-down menu.<br>
Free text fields have to be defined beforehand in the menu <strong><a href="/en/items/managing-items#70">System » Item » Free text fields</a></strong>. After defining the free text fields, link them to their corresponding items and enter values for the fields. Use the menu <a href="/en/items/managing-items#170"><strong>Item » Edit item » Default Item » Fields</strong></a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine which information should be included in the item description on the warehouse pick list. The <strong>item name</strong> is always displayed in this field. It is also possible to include further information, such as the <strong>item ID</strong>, <strong>external item ID</strong>, <strong>item number</strong>, and <strong>EAN</strong>. De-activate the check box if parameters should not be displayed on the warehouse pick list.&nbsp;The selection is also valid for variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the order ID is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the invoice number is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery note No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the delivery note number is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the manufacturer is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the item price is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Best before date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the best before date is displayed on the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Batch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the batch number is displayed on the warehouse pick list.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>A warehouse pick list based on the settings shown in image 1 looks as follows:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/order-documents/assets/EN-Settings-Orders-Documents-Warehouse-Pick-List-02.png" alt="EN Settings Orders Documents Warehouse Pick List 02">
</div>
<div class="title">Figure 2. Sample warehouse pick list</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Uploading a PDF template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A template is needed for displaying your store’s letter paper, i.e. a page containing your company information, logo and layout elements according to your corporate design. This template needs to be in PDF format. In plentymarkets, it is possible to use a document template in PDF format to create the warehouse pick list. Proceed as described below to create a PDF template.</p>
</div>
<div class="paragraph instruction">
<p>Uploading a PDF template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents » Warehouse pick list</strong>.</p>
</li>
<li>
<p>Click on <strong>PDF template</strong>.</p>
</li>
<li>
<p>Open the tab <strong>New template</strong>.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Select a PDF file as a template.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The PDF template appears in the <strong>Templates</strong> tab. In this tab, you can preview or delete the PDF template.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>If you use a PDF template including a header that you would like to position above the warehouse pick list, you might have to change the value saved as <strong>top margin</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For more detailed information on document templates, refer to the <strong><a href="/en/order-processing/orders/order-documents">Documents</a></strong> manual page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Changing a warehouse pick list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>Orders » Fulfilment » Warehouse pick list</strong> to generate a warehouse pick list and initiate automatic status changes. The warehouse pick list is generated as a PDF file.
Before generating a warehouse pick list, check the settings of the document template in the settings menu of the warehouse pick list.
The link <strong>Change warehouse pick list</strong> in the warehouse pick list menu takes you to the settings in the menu <strong>System » Orders » Documents » <a href="/en/order-processing/orders/order-documents/warehouse-pick-list">warehouse pick list</a></strong>, in which the document settings and the PDF template for the warehouse pick list are configured.
The following is an example of a warehouse pick list indicating the <strong>order ID</strong> and the <strong>invoice number</strong>. We recommend activating the <strong>order ID</strong> in all cases, since information about the invoice is not always available, as becomes clear in the example.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Generating a warehouse pick list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After having carried out the settings according to <a href="#table-orders-options-warehouse-pick-list">Table 1</a>, you can determine which orders should be included in the warehouse pick list in the menu <strong>Orders » Fulfillment</strong>. In this menu, a <strong>Search filter</strong> allows you to select the orders and to determine how they are sorted on the warehouse pick list.</p>
</div>
<div class="paragraph">
<p>Proceed as explained below to generate a warehouse pick list.</p>
</div>
<div class="paragraph instruction">
<p>Generating a warehouse pick list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment » Warehouse pick list</strong>.</p>
</li>
<li>
<p>Carry out the settings according to the explanations in <a href="#table-fulfilment-options-warehouse-pick-list">[table-fulfilment-options-warehouse-pick-list]</a>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to generate the warehouse pick list.</p>
</li>
</ol>
</div>
<table id="table-fulfilment-options-warehouse-pick-llst" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options in the <strong>Warehouse pick list</strong> submenu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status of the orders that should be included in the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner responsible for the orders for which the documents should be generated. Select <strong>ALL</strong> if documents for all owners should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong> = only standard store<br>
<strong>ALL</strong> = store and clients</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse or <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how many orders should be handled at a time. Set a value between 5 and 300.<br>
The maximum number of orders that can be handled at a time equals the maximum of orders that can be selected. If the number of orders that should be handled exceeds the maximum of orders that can be selected, the process has to be repeated accordingly. The lower the chosen setting, the more efficient is system performance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attach invoices</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option <strong>Yes</strong> to sort existing invoices according to their order ID and attach them to the warehouse pick list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoices per grouping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how many invoices are exported per grouping.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status that should be applied to the orders after generating the warehouse pick list.<br>
The status change is an important tool to make sure that the process is not carried out twice for orders that have already been handled.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>