<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Analysing your eBay sales activity</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to use the eBay Analytics plugin and track listings like a pro! You’ll see how to analyse your entire eBay account as a whole and how to create statistics for individual listings.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/ebay/plugins/sales-activity-link-account#video">Linking your eBay account (0:47)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/plugins/sales-activity-analyse-account#video">Analysing your eBay account as a whole (1:26)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/plugins/sales-activity-analyse-listings#video">Analysing individual listings (2:09)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/240826205#at=86" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Think you’ve got eBay under control? Think you could sell items in your sleep? No time for complacency! Let’s focus on improving sales and getting the most out of your eBay account.</p>
</div>
<div class="paragraph">
<p>You’re business savvy - you know how important it is to keep an eye on sales figures. That’s why we’ve developed an eBay Analytics plugin that helps you track listings like a pro. With the right statistics at hand, you can see what’s going on with your listings and make any improvements as necessary.</p>
</div>
<div class="paragraph">
<p>Simply download the eBay Analytics plugin from plentyMarketplace and install it in your system.</p>
</div>
<div class="paragraph">
<p>Before you get started, make sure you have an eBay account and that you’ve downloaded both of these plugins.</p>
</div>
<div class="paragraph">
<p>One is the interface that sends data back and forth between eBay and plentymarkets and the other is for the eBay authentication process.</p>
</div>
<div class="paragraph">
<p>And this brings us right to the first step: linking your eBay account. From the "System" menu just navigate to "Markets » eBay » OAuth2" and click on the globe icon to link your eBay account with plentymarkets.</p>
</div>
<div class="paragraph">
<p>You may be thinking: Wait a minute, I already linked my eBay account. Why do it again?</p>
</div>
<div class="paragraph">
<p>Well, the authentication process in this menu is specifically for eBay plugins. In other words, by entering your access data into this menu here, you give eBay plugins access to your eBay account.</p>
</div>
<div class="paragraph">
<p>When you’re finished, you’ll have two new menus, which allow you to view statistics with the eBay Analytics API.</p>
</div>
<div class="paragraph">
<p>Let’s look at this first menu, which allows you to see how your eBay account is performing as a whole.</p>
</div>
<div class="paragraph">
<p>Just tell plentymarkets which eBay platform and account you want to analyse.</p>
</div>
<div class="paragraph">
<p>Then pick a time-frame for your statistics.</p>
</div>
<div class="paragraph">
<p>Last but not least, decide what sort of data you’d like to analyse.</p>
</div>
<div class="paragraph">
<p>For example, how many times your listings were viewed or how many times your listing appeared in search results.</p>
</div>
<div class="paragraph">
<p>The statistics are displayed on the right, along with a key and additional information about this key.</p>
</div>
<div class="paragraph">
<p>Simply click on an element to exclude it from the statistic.</p>
</div>
<div class="paragraph">
<p>Now let’s look at the second menu, which tells you how individual listings are performing.</p>
</div>
<div class="paragraph">
<p>This is done by creating reports that are customised to meet your exact needs.</p>
</div>
<div class="paragraph">
<p>Again, tell plentymarkets which eBay platform and account you want to work with.</p>
</div>
<div class="paragraph">
<p>Then give the report a name and use this area here to tell plentymarkets which exact listings you want to analyse.</p>
</div>
<div class="paragraph">
<p>You can either do so by manually entering the listing IDs and separating them with commas, or you can click on the little plus icon down here, use check marks to select the appropriate listings and add them by clicking on the plus.</p>
</div>
<div class="paragraph">
<p>Last but not least, set the date range.</p>
</div>
<div class="paragraph">
<p>Here, keep in mind that you can only analyse up to 30 days at maximum.</p>
</div>
<div class="paragraph">
<p>If you try to save a larger date range, then you’ll see an error message when saving.</p>
</div>
<div class="paragraph">
<p>The report is saved and it opens in an overview, along with any other reports that were already created.</p>
</div>
<div class="paragraph">
<p>Now, you’re probably excited to see the statistics straight away.</p>
</div>
<div class="paragraph">
<p>But have a bit of patience. Depending on how much data is included in the statistic, it can take up to 15 minutes for the information to be processed.</p>
</div>
<div class="paragraph">
<p>If you’re curious how things are coming along, just check out the report status here.</p>
</div>
<div class="paragraph">
<p>Once the report has finished, you’ll see a graph that looks something like this.</p>
</div>
<div class="paragraph">
<p>Just like before, you’ll see a key here on the right and you can exclude individual listings by clicking on them.</p>
</div>
<div class="paragraph">
<p>Last but not least, you can use the drop-down menu up top to analyse different pieces of information.</p>
</div>
<div class="paragraph">
<p>Our eBay Analytics plugin takes the guess work out of sales. Armed with a wide range of statistics, you’ll always know how your eBay account is performing and which listings are most popular. Download the plugin today and shine light on your eBay sales activity.</p>
</div>
</div>
</div>
</main>