<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>CampaignCoupon</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>CampaignCoupon</strong> exportieren, bearbeiten und importieren Sie die im Menü <a href="/auftragsabwicklung/auftraege/gutscheine"><strong>Aufträge » Gutscheine</strong></a> gespeicherten Gutschein-Codes der dort erstellten Gutscheinkampagnen. Sie können dann per Importfunktion zeitsparend weitere eigene (nicht von plentymarkets erzeugte) Gutschein-Codes einer Kampagne hinterlegen, die Sie andernfalls einzeln im Menü anlegen müssten. Sie erstellen und exportieren das Datenformat im Menü <strong>Datenaustausch » Export » Dynamischer Export</strong>. Importieren Sie das Datenformat wieder im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>. Wie Sie das Datenformat exportieren und importieren, ist auf den Handbuchseiten <strong><a href="/basics/datenaustausch/daten-exportieren">Daten exportieren</a></strong> und <strong><a href="/basics/datenaustausch/daten-importieren">Daten importieren</a></strong> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>CampaignCoupon</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>CampaignCoupon</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CampaignID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID der Kampagnen</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren und die Kampagne, deren Gutschein-Codes bearbeitet werden sollen, aus dem Dropdown-Menü wählen.<br>
<strong><em>Wichtig</em></strong>: Wird hier kein Filter gewählt, werden die Daten der ersten Kampagne exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CouponCode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Gutschein-Code<br>
Um weitere <a href="/auftragsabwicklung/auftraege/gutscheine#5"><strong>Gutschein-Codes</strong></a> zu hinterlegen, diese in diese Spalte eingeben und dazu die ID der Kampagne in der Spalte <strong>CampaignID</strong> eingeben.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export für Kundenklasse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren und Kundenklasse aus dem Dropdown-Menü wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kundendaten-verwalten#100"><strong>Einstellungen » Kunden » Kundenklassen</strong></a> erstellt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>CampaignCoupon</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CampaignID</strong></p>
</li>
<li>
<p><strong>CouponCode</strong></p>
</li>
</ul>
</div>
</div>
</div>
</main>