<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>3.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Category</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>Category</strong> legen Sie Artikelkategorien an oder bearbeiten sie. Das Datenformat ist besonders zum Übersetzen von Kategorien geeignet. Exportieren Sie zur Übersetzung von Deutsch nach Englisch z.B. alle Kategorien in der Sprache <strong>de</strong>. Übersetzen Sie dann die Kategorienamen und ändern Sie dabei den Wert in der Spalte <strong>lang</strong> in die gewünschte Sprache, z.B. <strong>en</strong>, bevor Sie die Datei wieder importieren. Sie erstellen und exportieren das Datenformat im Menü <strong>Datenaustausch » Export » Dynamischer Export</strong>. Importieren Sie das Datenformat wieder im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>. Wie Sie das Datenformat exportieren und importieren, ist auf den Handbuchseiten <strong><a href="/basics/datenaustausch/daten-exportieren">Daten exportieren</a></strong> und <strong><a href="/basics/datenaustausch/daten-importieren">Daten importieren</a></strong> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Datenfelder beziehen sich auf die Optionen der Kategorien, die in den Einstellungen und den Beschreibungen enthalten sind. Tabelle 1 erläutert die Datenfelder des Datenformats <strong>Category</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryDescription</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beschreibung 1 (Text/HTML) der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryDescription 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beschreibung 2 (Text/HTML) der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryElmar</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Elmar-Kategorie der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryFulltextSearch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Volltextsuche</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID-Kennung der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren, Operator wählen und Wert für die Kategorie-ID eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryItemListView</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Template-Liste der Kategorie (nur für Typ <strong>Artikel</strong>)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryLang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sprache: de / en / fr / it / es / tr<br>
Wird hier z.B. der Wert <strong>en</strong> beim Import verwendet, wird die Kategoriebezeichnung in der Sprache Englisch geändert.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryLevel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ebene der Kategorie (1-6)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren, Operator wählen und Wert für die Kategorie-ID eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryLinkList</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Linklisten-Einstellung der Kategorie.<br>
<strong>Y</strong> = Die Kategorie wird in der Navigation im Webshop angezeigt.<br>
<strong>N</strong> = Die Kategorie wird in der Navigation im Webshop nicht angezeigt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryName</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryNameURL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name für die Verwendung in der URL der Kategorie<br>
<strong><em>Wichtig</em></strong>: Ausschließlich ASCII-Code verwenden, da der URL-Name keine Sonderzeichen enthalten darf.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryPageView</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Template-Seite der Kategorie für Typ <strong>Content</strong> und <strong>Artikel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryParentID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID der übergeordneten Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryPlaceholder</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Platzhalter der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryPosition</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Position (Zahl); Kategorien können entweder nach dem Namen oder der Position sortiert angezeigt werden.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren, Operator wählen und Wert für die Kategorie-ID eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryRobots</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Robots-Einstellung der Kategorie.<br>
<strong>ALL</strong> = Webseite der Kategorie wird in Suchmaschinenindex aufgenommen und Links auf der Seite gefolgt.<br>
<strong>INDEX</strong> = In Suchmaschinenindex aufgenommen.<br>
<strong>NOFOLLOW</strong> = Links auf der Seite wird nicht gefolgt.<br>
<strong>NOINDEX</strong> = Nicht in den Suchmaschinenindex aufgenommen.<br>
<strong>NOINDEX_NOFOLLOW</strong> = Links wird nicht gefolgt und die Webseite der Kategorie nicht in Suchmaschinenindex aufgenommen.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryShortDescription</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kurzbeschreibung der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategorySingleItemView</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Template-Produkt einer Kategorie des Typs <strong>Artikel</strong>, Template für Artikeldetailansicht</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategorySiteDescription</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Meta-Beschreibung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategorySiteKeywords</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Meta-Keywords</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategorySiteMap</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sitemap-Einstellung der Kategorie<br>
<strong>Y</strong> = Die Kategorie wird in die Sitemap aufgenommen.<br>
<strong>N</strong> = Die Kategorie wird nicht in die Sitemap aufgenommen.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategorySiteTitle</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Meta-Titel</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryStoreID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandanten-ID der Sprachversion der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryType</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ der Kategorie.<br>
<strong>Item</strong> = Kategorie des Typs Artikel<br>
<strong>Content</strong> = Kategorie des Typs Content</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryVisibility</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sichtbarkeit der Kategorie.<br>
<strong>all</strong> = Die Kategorie ist sichtbar.<br>
<strong>customer</strong> = Die Kategorie samt aller Unterkategorien ist nur im plentymarkets Backend sichtbar.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Datenfelder des Datenformats <strong>Category</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>Category</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CategoryID</strong></p>
</li>
<li>
<p><strong>CategoryLang</strong></p>
</li>
<li>
<p><strong>CategoryStoreID</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">3. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/basics/datenaustausch/daten-importieren#25"><strong>Datenabgleich</strong></a> zur Verfügung. Bei Pflichtabgleichfeldern (P) muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleich</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID-Kennung der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>P</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryLang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sprache der Kategorie</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>P</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryStoreID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandanten-ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>P</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></em></p>
</div>
</div>
</div>
</main>