<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>3.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>CustomerProperty</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>CustomerProperty</strong> exportieren, bearbeiten und importieren Sie die im Menü <a href="/crm/kundendaten-verwalten#400"><strong>Einstellungen » Kunden » Eigenschaften</strong></a> gespeicherten Kundeneigenschaften. Sie erstellen und exportieren das Datenformat im Menü <strong>Datenaustausch » Export » Dynamischer Export</strong>. Importieren Sie das Datenformat wieder im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>. Wie Sie das Datenformat exportieren und importieren, ist auf den Handbuchseiten <strong><a href="/basics/datenaustausch/daten-exportieren">Daten exportieren</a></strong> und <strong><a href="/basics/datenaustausch/daten-importieren">Daten importieren</a></strong> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zu den Kundeneigenschaften im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/106482586" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>CustomerProperty</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen. Das Datenformat kann je nach plentymarkets Version 6 oder 7 unterschiedliche Datenfelder beinhalten.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>CustomerProperty</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyClient</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandanten (Shops), für die die Kundeneigenschaft aktiviert ist</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyCustomerRegistration</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswahl unter <strong>Kundenregistrierung</strong> der Kundeneigenschaft.<br>
<strong>Y</strong> = Die Eigenschaft wird in der Kundenregistrierung angezeigt.<br>
<strong>N</strong> = Die Eigenschaft wird nicht in der Kundenregistrierung angezeigt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyCustomerSearch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswahl unter <strong>Kundensuche</strong> der Kundeneigenschaft.<br>
<strong>Y</strong> = Die Eigenschaft wird bei der Kundensuche und in der Kundenkarte angezeigt.<br>
<strong>N</strong> = Die Eigenschaft wird nicht bei der Kundensuche und in der Kundenkarte angezeigt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID der Kundeneigenschaft</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren, Operator wählen und Wert eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyLabel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name der Kundeneigenschaft</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyLang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sprache der Kundeneigenschaft.<br>
<strong><em>Hinweis</em></strong>: Pro Export kann nur eine Sprache exportiert werden. Wenn der Filter <strong>CustomerPropertyLang</strong> nicht gesetzt ist, wird die Standardsprache exportiert.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren und Sprache aus dem Dropdown-Menü wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyMandatory</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswahl unter <strong>Pflichtfeld</strong> der Kundeneigenschaft.<br>
<strong>Y</strong> = Die Eigenschaft ist als Pflichtfeld deklariert.<br>
<strong>N</strong> = Die Eigenschaft ist nicht als Pflichtfeld deklariert.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyOrderProcess</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auswahl unter <strong>Bestellvorgang</strong> der Kundeneigenschaft.<br>
<strong>Y</strong> = Die Eigenschaft wird im Bestellvorgang angezeigt.<br>
<strong>N</strong> = Die Eigenschaft wird nicht im Bestellvorgang angezeigt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyPosition</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Position der Kundeneigenschaft</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyType</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ, der der Kundeneigenschaft zugewiesen wurde</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyVisibility</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kundentypen, für die die Kundeneigenschaft sichtbar ist</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export für Kundenklasse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren und Kundenklasse aus dem Dropdown-Menü wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kundendaten-verwalten#100"><strong>Einstellungen » Kunden » Kundenklassen</strong></a> erstellt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das folgende Pflichtfeld muss für das Datenformat <strong>CustomerProperty</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CustomerPropertyID</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">3. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/basics/datenaustausch/daten-importieren#25"><strong>Datenabgleich</strong></a> zur Verfügung. Bei Pflichtabgleichfeldern (P) muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden. Alternative Abgleichfelder sind mit einem <strong>A</strong> gekennzeichnet.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID der Kundeneigenschaft</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>P</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomerPropertyLang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sprache der Kundeneigenschaft</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>