<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Das 1:n-Problem</span></a></li>
<li><a href="#30"><span>3.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#40"><span>4.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Variation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>Variation</strong> exportieren, bearbeiten und importieren Sie Variantendaten. Sie erstellen und exportieren das Datenformat im Menü <strong>Datenaustausch » Export » Dynamischer Export</strong>. Importieren Sie das Datenformat wieder im Menü <strong>Datenaustausch » Import » Dynamischer Import</strong>. Wie Sie das Datenformat exportieren und importieren, ist auf den Handbuchseiten <strong><a href="/basics/datenaustausch/daten-exportieren">Daten exportieren</a></strong> und <strong><a href="/basics/datenaustausch/daten-importieren">Daten importieren</a></strong> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jede Variante ist mit einer ID versehen und somit über das Datenfeld <strong>VariationID</strong> eindeutig bestimmt. Die folgenden drei Szenarien sind für den Export und Import denkbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wird bei einem Export von Variantenfeldern das Feld <strong>VariationID</strong> nicht mit exportiert und später auch nicht importiert, werden neue Varianten mit einer freien Varianten-ID angelegt.</p>
</li>
<li>
<p>Wird der Datensatz <strong>VariationID</strong> mit exportiert und später wieder importiert, wird die Variante geändert.</p>
</li>
<li>
<p>Werden Variantendaten mit noch nicht in plentymarkets vorhandenen Varianten-IDs importiert, werden neue Varianten mit diesen Varianten-IDs angelegt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wird beim Export die Importaktion <strong>Abgleich</strong> gewählt, werden die Variantendaten beim Import abgeglichen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Das 1:n-Problem</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Problem 1:n bzw. eins zu n tritt auf, wenn zu einer Variante mehrere Eigenschaften definiert wurden. Einer Variante können in plentymarkets folgende Eigenschaften mehrfach zugeordnet werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Verkaufspreise</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Jeder Verkaufspreis ist eindeutig durch das Feld <strong>SalesPriceID</strong> bestimmt. Wird diese ID nicht angegeben, wird immer ein neuer Verkaufspreis ergänzt und die vorhandenen Preise werden gelöscht. Ist sie vorhanden, wird der existierende Preis geändert.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Kategorien</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eine Variante kann gleichzeitig in mehreren Kategorien verfügbar sein. Werden beim Import jedoch Kategoriedatenfelder (CategoryLevel) eingefügt, werden alle bisherigen Kategorieverknüpfungen dieser Variante gelöscht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Für neue Kategorien Datenformat Category verwenden</div>
<div class="paragraph">
<p>Das Erstellen von neuen Kategorien ist mit dem Datenformat <strong>Variation</strong> nicht möglich. Sie können mit dem Datenformat <strong>Variation</strong> lediglich neue Kategorieverknüpfungen an der Variante erstellen. Verwenden Sie daher das Datenformat <strong><a href="/basics/datenaustausch/datenformate/category">Category</a></strong>, um neue Kategorien zu erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikelbilder</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mit diesem Datenformat können externe Bilder mittels URL importiert werden. Dabei werden vorhandene Artikelbilder ersetzt. Werden mehrere Artikelbilder importiert, müssen diese Artikelbilder kommagetrennt ohne Leerzeichen angegeben werden. Wenn Sie vorhandene Bilder nicht ersetzen möchten, importieren Sie die <strong><a href="/artikel/artikel-verwalten#680">Bilder</a></strong> ggf. per FTP-Upload.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>Variation</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Active</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivierte Variante<br>
<strong>N</strong> = Nein<br>
<strong>Y</strong> = Ja</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AttributeValueSetID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Interne, systemweit gebildete ID; bestimmt die Ausprägung einer Variante<br>
<strong><em>Beispiel</em></strong>: ID 1 = Farbe rot, Größe XL; ID 2 = Farbe grün, Größe XL.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AutoStockInvisible</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatisch unsichtbar im Webshop; Webshop auf 0, wenn Warenbestand fehlt.<br>
<strong>0</strong> = Nein<br>
<strong>1</strong> = Ja</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AutoStockNoStockIcon</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verfügbarkeitsbild des Artikels<br>
<strong>0</strong> = Muss manuell deaktiviert werden<br>
<strong>1</strong> = Bei keinem Nettowarenbestand ausblenden</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AutoStockPositiveStockIcon</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verfügbarkeitsbild des Artikels<br>
<strong>0</strong> = Muss manuell aktiviert werden<br>
<strong>1</strong> = Bei positivem Nettowarenbestand anzeigen</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AutoStockVisible</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatisch sichtbar im Webshop; Webshop auf 1, wenn Warenbestand vorhanden ist.<br>
<strong>0</strong> = Nein<br>
<strong>1</strong> = Ja</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Availability</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verfügbarkeit der Variante</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AvailableUntil</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verfügbar bis</strong><br>
Option im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Einstellungen</strong> im Bereich <strong>Verfügbarkeit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CreatedTimestamp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum und Uhrzeit, wann die Variante erstellt wurde; Format: tt.mm.jjjj hh:mm<br>
<strong><em>Hinweis</em></strong>: Feld ist nur für den Export verfügbar.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationNumber</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Variantennummer</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren, Operator wählen und Wert eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CustomsPercent</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Prozentualer Anteil der Zollgebühren</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DeleteVariation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>1</strong> = Variante löschen<br>
Löscht die Variante, wenn der Wert 1 eingegeben wird.<br>
<strong><em>Hinweis:</em></strong> Hauptvarianten können nicht gelöscht werden.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>EstimatedAvailability</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verfügbarkeit im Zulauf</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExternalID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Externe Varianten-ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren, Operator wählen und Wert eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExtraShippingCharge1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Portoaufschlag 1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExtraShippingCharge2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Portoaufschlag 2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>HeightMM</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Höhe in mm</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IntervalOrderQuantity</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Intervallbestellmenge</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>isHiddenInCategoryList</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Y</strong> = Variante ist in Artikelauflistung unsichtbar<br>
<strong>N</strong> = Variante ist in Artikelauflistung sichtbar</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eindeutige Artikel-Kennziffer (ID), Zahlwert, max. 2^31</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren, Operator wählen und Wert eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>LastUpdateTimestamp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Letzte Änderung; Datum und Uhrzeit. Format: tt.mm.jjjj hh:mm</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>LengthMM</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Länge in mm</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>LimitOrderByStockSelect</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beschränke Artikel auf Warenbestand<br>
<strong>0</strong> = Keine Beschränkung<br>
<strong>1</strong> = Beschränkung auf Nettowarenbestand<br>
<strong>2</strong> = Keinen Warenbestand für diesen Artikel führen</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MainWarehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID-Kennziffer des Hauptlagers; Hauptlager wird im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Einstellungen</strong> im Bereich <strong>Versand</strong> hinterlegt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MaximumOrderQuantity</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Maximale Bestellmenge pro Bestellung<br>
Der Wert <strong>0</strong> ist voreingestellt; die maximale Bestellmenge ist bei dem Wert <strong>0</strong> unbegrenzt</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MinimumOrderQuantity</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mindestbestellmenge pro Bestellung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Model</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Modellbezeichnung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>OperatingCostsPercent</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Prozentualer Anteil der Gesamtbetriebskosten</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PackingUnitType</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Art der Verpackung für die Packstücke</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PackingUnits</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Packstücke; Zahlenwert</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Picking</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kommissionierung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Position</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anhand dieser Position werden die Varianten in der Variantenauflistung im Webshop sortiert.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PriceCalculationID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID des errechneten Preises; Dezimalwert</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PurchasePrice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einkaufspreis (EK netto)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ReleaseDate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erscheinungsdatum im Format JJJJ-MM-TT HH:MM:SS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>StorageCosts</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lagerkosten</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>TransportationCosts</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Transportkosten</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>UnitID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID der Einheit; ID-Liste im Menü <strong>Einstellungen » Artikel » Einheiten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>UnitContent</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In der Einheit enthaltene Anzahl</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>UnitLoadDevice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lademittel</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>UnitsContained</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verpackungseinheit (VPE)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VATID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Umsatzsteueridentifikationsnummer</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID der Variante</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filter aktivieren, Operator wählen und Wert eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationName</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name der Variante</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationAttributes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Liste der Attribute, die mit der Variante verknüpft sind; ID-Liste im Menü <strong>Einstellungen » Artikel » Attribute</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WeightG</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bruttogewicht (mit Verpackung) in Gramm; Zahlenwert</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WeightNetG</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nettogewicht (ohne Verpackung) in Gramm; Zahlenwert</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WidthMM</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Breite in mm</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Datenfelder des Datenformats <strong>Variation</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/basics/datenaustausch/daten-importieren#25"><strong>Datenabgleich</strong></a> zur Verfügung. Es handelt sich um Wahlpflichtfelder. Es muss mindestens ein Datenfeld aus der folgenden Tabelle für den Abgleich gewählt werden. Beim gewählten Datenfeld muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationNumber</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Variantennummer</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExternalID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Externe Varianten-ID</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Varianten-ID</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Feld VariationID</div>
<div class="paragraph">
<p>Das Feld <strong>VariationID</strong> ist standardmäßig ein Pflichtabgleichfeld, muss jedoch nicht zwingend verwendet werden. Sie können jedes der Felder verwenden, wobei zum Abgleich eines der Felder ausreicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>