<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#set-up-view"><span>1.</span><span> Customising the layout</span></a></li>
<li><a href="#create-contact"><span>2.</span><span> Creating a contact</span></a></li>
<li><a href="#preselected-fields-new-contact"><span>3.</span><span> Automatically preselected fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating a contact</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/en/crm/contacts/search-contact"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Searching for a contact</a>
<a href="/en/crm/contacts/edit-contact">Editing a contact <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Do you want to easily and quickly create new contacts with an individually adjustable user interface, for example during a phone call? First of all, set up a <a href="/en/set-up-view">new view</a> according to your needs.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-view">1. Customising the layout</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The user interface to create a new contact allows a high degree of flexibility for positioning content and data. This works by intuitively positioning areas for content and elements on the dashboard via drag-and-drop. Each area and each element can be further edited by clicking on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) in the top right of the contact data record. <a href="#table-functions-new-contact">Table 1</a> contains an overview on the functions available in the editing mode of contact data record.</p>
</div>
<table id="table-functions-new-contact" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Available functions when creating a new contact</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Element</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Symbol</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-design_inline_edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the contact data record for editing.<br>
<strong><em>Note:</em></strong> The standard view comes with the <strong>Company</strong>, <strong>Address details</strong> and <strong>Contact details</strong> areas. Furthermore, you can move the components to a different place with drag-and-drop and adjust the size of the components.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Undo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-undo"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Undoes the last change, unless this change has already been saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Redo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-redo"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the previously undone change.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default view</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This area displays the view that is currently opened. Click on <span class="icon darkGrey"><i class="fa fa-sort-down  "></i></span> to switch to another view or to create a new view.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Restoring the previously saved state</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-history"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the contact data record to the state that was last saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves the changes made to the contact data record. By doing so, you can save as many different views as you like.<br>
When you want to manually create a contact data record the next time, you can open your preferred view via the drop-down list in the top right and start creating a new contact. Also via this drop-down list, you can create a new preset by clicking on <span class="icon "><i class="fa fa-plus  "></i></span> <strong>Create new preset</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-more_vert"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on this symbol between the components to add or remove columns and lines or to reduce or enlarge the column sizes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When you edit the component, you can see in the <strong>Elements</strong> area on the right side which elements have not been used yet and are therefore still available. Elements that are already in use are disabled and <em>cannot</em> be used a second time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-delete"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes the component.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Close</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Closes the editing mode. If you have not saved the changes yet, a security inquiry appears.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="create-contact">2. Creating a contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to create a new contact.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The following instruction describes the default view with the 3 components <strong>Company</strong>, <strong>Address details</strong> and <strong>Contact details</strong> with all available fields. Depending on how you later adapt your user interface, the settings described in <a href="#table-create-contact">Table 2</a> may vary from the view in your plentymarkets system.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a contact:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Contacts (Test phase)</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="fa fa-plus  "></i></span> <strong>New contact</strong>.<br>
→ The default view appears. The default view consists of 3 areas: Company, address details and contact details.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-contact">Table 2</a> and the information about the <a href="#preselected-fields-new-contact">fields that are already preselected</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The contact is created.</p>
</li>
</ol>
</div>
<table id="table-create-contact" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a contact</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Company</strong><br>
Click in the <strong>Search company</strong> field to search for <a href="/en/crm/companies">existing company data records</a> that you have already created in the <strong>CRM » Companies</strong> menu. Enter at least 3 letters of the name, town, street or country of the company.<br>
Once you have selected a company from the suggestion list, this company is automatically taken to the <strong>Company (Name 1)</strong> field in the <strong>Address details</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Address details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice address</strong> / <strong>Delivery address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) whether the address is an invoice address or a delivery address or both.<br>
<strong><em>Note:</em></strong> Both address types are automatically preselected (<span class="icon blue"><i class="fa fa-check-square  "></i></span>). You can of course adjust the setting before saving the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Form of address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s form of address?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company (Name 1)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the name of the company? This is a mandatory field if there is no entry for <strong>First name (Name 2)</strong> and <strong>Last name (Name 3)</strong>.<br>
<strong><em>Note:</em></strong> If you select the company from the suggestion list in the <strong>Company</strong> area, it is automatically taken to this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>First name (Name 2)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the first name of the contact? This is a mandatory field if there is no entry for <strong>Company (Name 1)</strong> and <strong>Last name (Name 3)</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last name (Name 3)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the last name of the contact? This is a mandatory field if there is no entry for <strong>Company (Name 1)</strong> and <strong>First name (Name 2)</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address 1 (Street)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the street of the contact? This is a mandatory field if you don’t enter values in the <strong>Address 2 (House number)</strong> and <strong>Address 3 (Additional address information)</strong> fields.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address 2 (House number)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the house number of the contact? This is a mandatory field if you don’t enter values in the <strong>Address 1 (Street)</strong> and <strong>Address 3 (Additional address information)</strong> fields.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address 3 (Additional address information)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to enter an additional address information? For example: Apartment 12a. This is a mandatory field if you don’t enter values in the <strong>Address 1 (Street)</strong> and <strong>Address 2 (House number)</strong> fields.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address 4 (Free)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can enter whatever you want.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s private email address?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telephone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s telephone number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to save a VAT number for the contact?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact person</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to save a contact person for the contact?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Personal number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Does the contact have a personal number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Post number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Does the contact have a post number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date of birth</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s date of birth?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postcode</strong> / <strong>Town</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the postcode and town of the contact? <strong>Town</strong> is a mandatory field.<br>
This data is used for the invoice address, for example. The order of the postcode and the town is reversed for certain countries, e.g. Germany.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong><br>
<strong>Region/County</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the values from the drop-down list.<br>
<strong><em>Note:</em></strong> The drop-down list <strong>Region/County</strong> is <em>not</em> available for all countries.<br>
<strong><em>Note:</em></strong> The setting <strong>Invoice address</strong> is already preselected automatically. You can of course adjust the setting before saving the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Contact details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Form of address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s form of address?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the title of the contact?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>First name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the first name of the contact?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the last name of the contact?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email private</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s private email address?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email business</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s business email address?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Phone private</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s private phone number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Phone business</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s business telephone number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobil private</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s private mobile phone number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobile business</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s business mobile phone number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fax private</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s private fax number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fax business</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s business fax number?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Web page private</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s private web page?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Web page business</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s business web page?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay user name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s eBay user name?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to save a customer number for the contact? Customer numbers can be assigned for internal purposes. They are <em>not</em> saved automatically. You decide whether and how you would like to use customer numbers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to save an external number for the contact? External numbers can be used for internal purposes and are not saved automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you already want to save a rating for this contact? This settings serves for internal purposes only.<br>
Select 5 red stars for the worst and 5 yellow stars for the best rating.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Guest account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You don’t want to create a contact data record, but a guest order instead? If so, then select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Debtor account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to save more separate customer numbers? Generally, this number corresponds to the customer number or the debtor number in your financial accounting. It can be helpful to you or your tax accountant when further processing your receipts. This field can also be filled in automatically, if required.
For further information about the debtor account, refer to the <a href="/en/orders/accounting#750">Accounting</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date of birth</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the contact’s date of birth?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which type should be assigned to the contact?<br>
<strong><em>Note:</em></strong> The type <strong>Customer</strong> is automatically preselected. This is the <a href="/en/crm/contacts/preparatory-settings#create-type">type</a> with the lowest ID in the <strong>Setup » CRM » Types</strong> menu. You can of course adjust the setting before saving the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which class should be assigned to the contact?<br>
<strong><em>Note:</em></strong> The <a href="/en/crm/contacts/preparatory-settings#create-customer-class">customer class</a> with the lowest position that you saved in the <strong>Setup » CRM » Customer classes</strong> menu is automatically preselected here. You can of course adjust the setting before saving the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which client should be assigned to the contact?<br>
<strong><em>Note:</em></strong> The standard client is automatically preselected here. You can of course adjust the setting before saving the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which language does the contact speak?<br>
<strong><em>Note:</em></strong> Depending on the selected default setting in the system, the system language is automatically preselected here. You can of course adjust the setting before saving the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact blocked</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether or not the contact should be blocked for the specific client.<br>
If the option is activated (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), the contact is blocked and can <em>no longer</em> log into your plentyShop. If the option is not activated (<span class="icon "><i class="fa fa-square-o  "></i></span>), the contact is allowed to log into your plentyShop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which owner should be assigned to the contact? Select a name from the drop-down list.<br>
<strong><em>Note:</em></strong> In this list, all users (owners) for whom the <strong>Customer</strong> option has been activated in the <strong>Owner</strong> tab of their user account are shown.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to assign tags to the contact? Select the tags from the suggestion list.<br>
In this list, all tags are shown that you <a href="/en/crm/contacts/preparatory-settings#create-tags">created</a> in the <strong>Setup » Settings » Tags</strong> menu and are activated for the <strong>Contacts</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allow invoice</strong> / <strong>Allow debit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have already allowed the two payment methods <strong>Invoice</strong> and <strong>Debit</strong> in the <a href="/en/crm/contacts/preparatory-settings#create-customer-class">customer class</a>, you <em>don’t</em> need to carry out any settings here. Because: The settings in the customer class have priority over the settings in the contact data record.<br></p>
<p class="tableblock"><span class="icon blue"><i class="fa fa-check-square  "></i></span> = The contact can pay using this payment method, even if you do <em>not</em> offer this payment method in your plentyShop.<br></p>
<p class="tableblock"><strong><em>Example:</em></strong> A contact who has bought in your online shop multiple times, should be allowed to buy items on invoice.<br></p>
<p class="tableblock">Necessary settings:<br>
- Go to <strong>Setup » Orders » Payment » Payment methods</strong> and activate the <a href="/en/payment/managing-payment-methods#65">payment method</a> so it is available in the order.<br>
<strong><em>Important:</em></strong> Make sure that <em>no</em> countries of delivery were saved in the settings of the payment method. Otherwise, the payment method would be available to all customers in your plentyShop, which is not desired in this case.<br></p>
<p class="tableblock">- The payment method <strong>Invoice</strong> or <strong>Debit</strong> has to be available in at least one <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profile</a>, i.e. the payment method may <em>not</em> be blocked in the shipping profile.<br></p>
<p class="tableblock">- Activate the shipping profile for the items.<br></p>
<p class="tableblock">Check the necessary settings that are listed here and activate (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the payment method. This allows the contact to use the payment method.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="preselected-fields-new-contact">3. Automatically preselected fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you create a new contact, some fields are already preselected. You can of course adjust these fields before saving the new contact data record. The following lists the preselected fields:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the address details:</p>
<div class="ulist">
<ul>
<li>
<p>the address type <strong>Invoice address</strong></p>
</li>
<li>
<p>the country <strong>Germany</strong> (this depends on the selected default setting in the system)</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the contact details:</p>
<div class="ulist">
<ul>
<li>
<p>the type <strong>Customer</strong> (this is the type with the lowest ID in the <strong>Setup » CRM » Types</strong> menu)</p>
</li>
<li>
<p>the customer class with the lowest position that you saved in the <strong>Setup » CRM » Customer classes</strong> menu</p>
</li>
<li>
<p>the default client (shop)</p>
</li>
<li>
<p>the language <strong>German</strong> (this depends on the selected default setting in the system)</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h2 id="duplicate-check-create-contact" class="discrete">Duplicate check for contact data records with identical email address</h2>
<div class="paragraph">
<p>When creating new and updating existing contact data records, the email address is checked in order to avoid duplicate entries in the system.</p>
</div>
<div class="paragraph">
<p>The logic works in the following way:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>When creating a new contact, the system searches for an existing regular contact with identical private email address. If a contact is found, this contact is updated with the new data. If <em>no</em> contact is found, a new regular contact is created.</p>
</li>
<li>
<p>When updating the private email address of an existing regular contact, the system searches if another regular contact with the same private email address exists. If this is the case, the private email address of the current contact is <em>not</em> updated. All other data, however, is updated.</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/en/crm/contacts/search-contact"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Searching for a contact</a>
<a href="/en/crm/contacts/edit-contact">Editing a contact <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>