<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#address-layout"><span>1.</span><span> Setting up the address layout for delivery notes</span></a></li>
<li><a href="#assign-rights"><span>2.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#create-customer-class"><span>3.</span><span> Creating a customer class</span></a></li>
<li><a href="#create-type"><span>4.</span><span> Creating a type</span></a></li>
<li><a href="#create-tags"><span>5.</span><span> Creating tags for contacts</span></a>
<ul class="sectlevel2">
<li><a href="#rights-tags"><span>5.1.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#create-tag"><span>5.2.</span><span> Creating tags</span></a></li>
</ul>
</li>
<li><a href="#properties-introduction"><span>6.</span><span> Creating properties</span></a>
<ul class="sectlevel2">
<li><a href="#create-properties"><span>6.1.</span><span> Creating new properties</span></a>
<ul class="sectlevel3">
<li><a href="#property-details"><span>6.1.1.</span><span> Details</span></a></li>
<li><a href="#property-names"><span>6.1.2.</span><span> Names</span></a></li>
<li><a href="#property-selection-values"><span>6.1.3.</span><span> Selection values</span></a></li>
<li><a href="#property-groups"><span>6.1.4.</span><span> Groups</span></a></li>
<li><a href="#property-visibilities"><span>6.1.5.</span><span> Visibilities</span></a></li>
<li><a href="#property-options"><span>6.1.6.</span><span> Options</span></a></li>
</ul>
</li>
<li><a href="#link-properties"><span>6.2.</span><span> Linking properties with the contact</span></a></li>
<li><a href="#properties-on-documents"><span>6.3.</span><span> Showing properties on documents</span></a></li>
<li><a href="#group-properties"><span>6.4.</span><span> Grouping properties</span></a>
<ul class="sectlevel3">
<li><a href="#create-new-group"><span>6.4.1.</span><span> Creating a new group</span></a>
<ul class="sectlevel4">
<li><a href="#group-details"><span>Details</span></a></li>
<li><a href="#group-names"><span>Name</span></a></li>
</ul>
</li>
<li><a href="#assign-properties-to-group"><span>6.4.2.</span><span> Assigning properties to a group</span></a></li>
<li><a href="#search-for-groups"><span>6.4.3.</span><span> Searching for existing groups</span></a></li>
<li><a href="#delete-groups"><span>6.4.4.</span><span> Deleting groups again</span></a></li>
</ul>
</li>
<li><a href="#work-with-properties"><span>6.5.</span><span> Working with existing properties</span></a>
<ul class="sectlevel3">
<li><a href="#search-properties"><span>6.5.1.</span><span> Searching for properties</span></a></li>
<li><a href="#import-properties"><span>6.5.2.</span><span> Importing properties</span></a></li>
<li><a href="#export-properties"><span>6.5.3.</span><span> Exporting properties</span></a></li>
<li><a href="#delete-properties"><span>6.5.4.</span><span> Deleting properties again</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#use-discount-system"><span>7.</span><span> Using the discount system (optional)</span></a>
<ul class="sectlevel2">
<li><a href="#customer-class-discount"><span>7.1.</span><span> Setting up a customer class discount</span></a></li>
<li><a href="#discount-scale-net-value-of-items"><span>7.2.</span><span> Setting up a discount scale based on the net value of items</span></a></li>
<li><a href="#discount-payment-method"><span>7.3.</span><span> Setting up a discount based on the method of payment</span></a></li>
<li><a href="#discount-sales-price"><span>7.4.</span><span> Saving sales prices as discounts</span></a></li>
<li><a href="#discount-manually"><span>7.5.</span><span> Manually entering a discount</span></a>
<ul class="sectlevel3">
<li><a href="#discount-single-item-order-search"><span>7.5.1.</span><span> Entering a discount for individual items in the order search</span></a></li>
<li><a href="#discount-single-item-order"><span>7.5.2.</span><span> Entering a discount for individual items in an order</span></a></li>
<li><a href="#discount-all-items-in-order"><span>7.5.3.</span><span> Entering a discount for all items of an order</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Carrying out the preparatory settings</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph next-navigation">
<p><a href="/en/crm/contacts/create-contact">Creating a contact <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>You have to carry out some preparatory settings to be able to optimally use the contact management in the <strong>CRM » Contacts (Test phase)</strong> menu.</p>
</div>
<div class="paragraph">
<p>By clicking on an entry in the following list, you will be directly forwarded to the corresponding sub-chapter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#address-layout">Setting up the address layout for delivery notes</a></p>
</li>
<li>
<p><a href="#assign-rights">Assigning rights for back end users</a></p>
</li>
<li>
<p><a href="#create-customer-class">Creating a customer class</a></p>
</li>
<li>
<p><a href="#create-type">Creating a type</a></p>
</li>
<li>
<p><a href="#create-tags">Creating tags</a></p>
</li>
<li>
<p><a href="#properties-introduction">Creating properties</a></p>
</li>
<li>
<p><a href="#use-discount-system">Using the discount system</a> (optional)</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="address-layout">1. Setting up the address layout for delivery notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Setup » CRM » Address layout</strong> menu, you can individually set up address layouts for your countries of delivery for the order document <strong>Delivery note</strong>. The address layouts for the countries of delivery German, France and the United Kingdom are already available in your plentymarkets system by default. Proceed as described below to set up an address layout for delivery notes.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the address layout for delivery notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Address layout</strong>.</p>
</li>
<li>
<p>Click on <strong>New layout</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the desired settings. Note <a href="#table-set-up-address-layout">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-set-up-address-layout" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting up the address layout</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>General settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Layout name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the name of the layout?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use as standard address layout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to use this layout as standard layout? If so, activate the toggle button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>). In the overview on the left side, the standard address layout is marked with an asterisk.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Field list</strong><br>
If required, enter English and German names for the field names in order that this names can be displayed when designing the address layout.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Switch to layout design</strong><br>
Click on <span class="icon "><i class="fa fa-exchange  "></i></span> to switch to the layout design. The areas <strong>Countries</strong>, <strong>Layout</strong> and <strong>Fields</strong> appear.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one country or multiple countries from the list to which the address layout should apply.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Layout</strong> /<br>
<strong>Fields</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Drag the address fields from the <strong>Fields</strong> area to the <strong>Layout</strong> area. By doing so, you individually design the address layout for each country.<br>
<strong><em>Tip:</em></strong> It is possible to add further rows (maximum number of rows:&nbsp;6) and to remove individual fields and complete rows. Blank rows can also be used. The number of fields per row is <em>not</em> limited.</p></td>
</tr>
</tbody>
</table>
<h3 id="_activating_the_new_address_layout_for_delivery_notes" class="discrete">Activating the new address layout for delivery notes</h3>
<div class="paragraph">
<p>In order that the address layouts are automatically displayed on delivery notes, you have to carry out a setting in the <a href="/en/orders/order-documents/generating-delivery-notes">delivery note</a>. Your plentymarkets system automatically checks the country of delivery saved in the order and displays the delivery note in the layout listed in the <strong>Setup » CRM » Address layout</strong> menu. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the new address layout for delivery notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Delivery note</strong>.</p>
</li>
<li>
<p>Select the option <strong>New address layout</strong> in the <strong>Basic settings:&nbsp;Delivery note</strong> area.<br>
→ The option above <strong>Structure of the invoice/delivery address</strong> is hidden and the delivery notes are displayed in the address layouts listed in the <strong>Setup » CRM » Address layout</strong> menu.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Currently, this setting is only available for delivery notes. This setting will follow for further documents.</p>
</div>
<h3 id="_assigning_rights_for_back_end_users_for_the_address_layout" class="discrete">Assigning rights for back end users for the address layout</h3>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to see and edit the address layouts, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Address layout &gt; Show</strong></p>
</li>
<li>
<p><strong>CRM &gt; Address layout &gt; Create</strong></p>
</li>
<li>
<p><strong>CRM &gt; Address layout &gt; Update</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="assign-rights">2. Assigning rights for back end users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to work with the <strong>CRM » Contacts (Test phase)</strong> menu, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Address &gt; Show</strong></p>
</li>
<li>
<p><strong>CRM &gt; Contact &gt; Show</strong></p>
</li>
<li>
<p><strong>Setup &gt; Property &gt; Show</strong></p>
</li>
<li>
<p><strong>Setup &gt; Tag &gt; Show</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="create-customer-class">3. Creating a customer class</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use customer classes to categorise your customer base according to specific criteria. For example, you can create a customer class for consumers (B2C) that displays gross prices for the items in your plentyShop. Create another customer class for sellers (B2B) that displays net prices for the items in your plentyShop. Further options are discounts based on the net value of your items, discounts based on the payment method or discount scales for a selected customer class.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: If a contact registers in your plentyShop and selects the salutation <strong>Company</strong>, the customer class that you created for B2B contacts will apply automatically.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Consider a concept for types and classes in advance</div>
<div class="paragraph">
<p>It is recommended to create a concept for organising your customer base into types and classes before saving customer data. By doing this, you will save time later on. For example, types and classes are automatically assigned when the initial configuration is missing. Decide which types and classes you need, create them and assign them to the contacts when upon creation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can create and individually configure as many customer classes as you like in the <strong>Setup » CRM » Classes</strong> menu. An ID is automatically assigned to customer classes. This ID is displayed to the left of the customer classes' name in the overview. However, customer classes are <em>not</em> ordered by ID. Instead, the order is set using the option <strong>Position</strong>.</p>
</div>
<div class="paragraph">
<p>If you create a new customer class, this customer class is available in the detail view of the contact in the <strong>CRM » Contacts (Test phase) » [Open contact]</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Creating a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Customer classes</strong>.</p>
</li>
<li>
<p>Click on the <strong>New customer class</strong> tab.</p>
</li>
<li>
<p>Carry out the desired settings. Note <a href="#table-create-customer-class">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-customer-class" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a customer class</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-minimum-order-value">Minimum order value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the minimum order quantity if you want to require customers to order a specific quantity of items or if you want to require them to order a minimum quantity to get a discount.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-name">Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the new customer class, e.g. <strong>wholesaler</strong> or <strong>premium customer</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-position">Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you do not enter a position, the next available position number is assigned automatically. The position is primarily used to sort the customer classes in the menu. It is relevant e.g. in combination with the visibility of item prices in the plentyShop. This can be set under <strong>Display of the prices in the online store</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-terms-of-payment">Payment due date, percentage for early payment discount, early payment discount and valuta</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due date, percentage for early payment discount, days for early payment discount and valuta are the terms of payment.<br>
<strong><em>Important:</em></strong> The terms of payment that are saved in the contact data record have priority over the values entered here.<br>
The terms of payment are saved in the <a href="/en/orders/managing-orders#intable-payment-terms-order">order settings</a>. The values in the contact data record have also priority over the values in the order settings. The values can be manually adjusted or entered in the order if no values are saved in the contact data record or in the customer class. The terms of payment saved in the order are then shown on the <a href="/en/orders/order-documents#intable-payment-terms-documents">documents</a>. Note the example <a href="/en/crm/companies#example-terms-of-payment">Terms of payment with valuta, payment due date, days for early payment discount and percentage for early payment discount</a> on the <a href="/en/crm/companies">Companies</a> manual page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-contact-id">Customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID of the contact who should receive the multi-invoices that are created from <a href="/en/orders/managing-orders#800">multi-orders</a>. Multi-orders are generated for this customer class and the invoice is sent to that contact.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-discount-type">Discount type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the discount type. The number of options that are visible depends on which discount type was selected. If you do no want to offer a discount, select the option <strong>No discount</strong>. Further information and explanations about the discount types in plentymarkets can be found in the <a href="#use-discount-system">Using the discount system</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-volume-discount">Volume discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the value entered in the <strong>Setup » Item » Sales prices</strong> menu under <strong>Minimum quantity</strong> should be taken into account or not.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-allowed-payment-methods">Allowed payment methods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which of the payment methods that are available in the plentyShop should be permitted for this customer class.<br>
All of the available payment methods are selected by default. When you integrate new payment methods, you have to permit them here. This is because new payment methods are not automatically included in the list of allowed payment methods.<br>
<strong><em>Important:</em></strong> Pay attention to which <a href="/en/fulfilment/preparing-the-shipment#1000">payment methods are blocked in the shipping profiles</a> that you want to use for this customer class. Check those settings to make sure that they are compatible with the settings you make here. If you want to permit a payment method for a customer class, you should make sure it is <em>not</em> blocked in the shipping profiles. Make sure that the corresponding customer class is <em>not</em> blocked either.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-payment-instruction">Payment instruction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The payment instructions that are saved here are displayed on invoices. For example, you could enter payment information that relates to a specific customer class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-display-online-shop">Display of the prices in the online shop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether <strong>gross</strong> or <strong>net</strong> prices are displayed in the online shop.<br>
<strong><em>Important:</em></strong> This option only sets how prices are displayed. It does not influence the way prices are calculated for the customer class. This option is particularly important for the customer class with position 1\. This customer class is automatically assigned to contacts if no customer class was selected in the contact data record.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can link sales prices with customer classes. Go to <strong>Setup » Items » Sales prices</strong> and select one of the customer classes that you created under the setting <strong>Class</strong>. For further information, refer to the <a href="/en/item/settings/prices#100">Sales prices and price calculation</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="create-type">4. Creating a type</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Types are used to classify and differentiate contacts. Some types are available by default in your plentymarkets system and <em>cannot</em> be deleted. These types are <strong>Customer</strong>, <strong>Sales representative</strong>, <strong>Supplier</strong>, <strong>Partners</strong>, <strong>Manufacturer</strong> and <strong>Interested party</strong>. The types that you created are available in the <strong>Type</strong> drop-down list in the <strong>CRM » Contacts (Test phase)</strong> menu.</p>
</div>
<div class="paragraph">
<p>When creating a new contact data record, the type <strong>Customer</strong> is automatically set by default. Customers who were assigned to the type <strong>Supplier</strong> are available in certain drop-down lists, e.g. in a variation’s <strong>Supplier</strong> tab.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create types.</p>
</div>
<div class="paragraph instruction">
<p>Creating a type:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Types</strong>.</p>
</li>
<li>
<p>Click on <strong>Add type</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="create-tags">5. Creating tags for contacts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can assign tags to your contacts and filter them by tags in the contact overview. Tags are keywords that you can assign to your contacts.</p>
</div>
<div class="paragraph">
<p>Which user rights are required and how to create tags is explained below.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tags for contacts</div>
<div class="paragraph">
<p>Only those tags can be selected in the contact data record that were created in the <strong>Setup » Settings » Tags</strong> menu for the area <strong>Contacts.</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="rights-tags">5.1. Assigning rights for back end users</h3>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to be able to work with tags, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Setup &gt; Tag</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="create-tag">5.2. Creating tags</h3>
<div class="paragraph">
<p>First, create the tags that you want to use.</p>
</div>
<div class="paragraph instruction">
<p>Creating a tag:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new tag</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Carry out the settings. Expand the info boxes below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to learn more about the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The tag is created and added to the list.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>More about the settings</strong></div>
<div class="content">
<table id="table-tag-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The tag ID is automatically assigned and cannot be changed.
It is used to uniquely identify your tags.</p>
<p class="tableblock"><strong><em>Use case</em></strong>: Tag links can be imported.
For example, while you import item and variation data, you can also directly link the appropriate tags.
This is done, e.g. by specifying the tag ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the tag.
The name is the keyword that highlights the data record.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: The name can include spaces. As such, tag names can consist of multiple words.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What background colour should the tag text have?
There are three ways to choose the colour:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter the colour’s hexadecimal value.</p>
</li>
<li>
<p>Enter the English name for one of the 16 basic colours (black, red, silver, white, etc.)</p>
</li>
<li>
<p>Click on the square on the right and click on the colour spectrum.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-availability">Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What types of data records will you link to this tag?
Select all of the appropriate availabilities (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Section</th>
<th class="tableblock halign-left valign-top">Example of use</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Board</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific task cards on boards?<br>
<strong><em>Example:</em></strong> Specify that some tasks have a high or low priority.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category Link</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific categories in the back end?<br>
<strong><em>Example:</em></strong> Specify that a category should only be used for seasonal offers.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Category tags are <em>not visible</em> to customers in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific tickets within the ticket system?<br>
<strong><em>Example:</em></strong> Specify that the ticket relates to a specific sales channel like Amazon or eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific contacts?<br>
<strong><em>Example:</em></strong> Specify the customer’s preferred method of communication.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific variations?<br>
<strong><em>Example:</em></strong> If you sell ladders, specify that some ladders were awarded a seal of approval for their safety features.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Variation tags can be made <em>visible</em> to customers in the online store.
Do so by <a href="#intable-client">selecting the appropriate client</a> further below.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags can currently be created for orders, but they cannot be linked to orders yet.
Therefore, this option is currently not in use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Messages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to highlight specific messages within the messenger tool?<br>
<strong><em>Example:</em></strong> Specify that the message relates to a specific sales channel like Amazon or eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Message (billable)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you occasionally write fee-based messages in the messenger tool?
In other words, should the customer be charged for the minutes that elapsed while writing the message?</p>
<p class="tableblock">While writing a fee-based message, you’ll need to select at least one tag with this availability.
Otherwise, the message cannot be created.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-client">Client</strong><br>
(functional for plentyShop LTS 5.0 and higher)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In which plentyShops should the tag be visible to customers?
Select all of the appropriate webshops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Note</em></strong>: This option only appears if you <a href="#intable-availability">selected the availability Variation</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name DE</strong><br>
<strong>Name FR</strong><br>
<strong>Name IT</strong><br>
etc.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Translate the tag names into other languages.</p>
<p class="tableblock"><strong><em>Example of use</em></strong>: Variation tags can be made visible to customers in the online store.
If your online store is available in multiple languages, then the tag names should also appear in these languages.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tags can be edited at any time</div>
<div class="paragraph">
<p>Use the search function to find specific tags.
The optional filters can be used to limit the search results:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Enter the tag’s name in the main language of your plentymarkets system.</p>
</li>
<li>
<p><strong>Availability</strong> = Select one or more availabilities. The search results will only include tags with this availability.</p>
</li>
<li>
<p><strong>Language</strong> = Select one or more languages. The search results will only include tags that have a name saved in this language.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="properties-introduction">6. Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Properties are frequently occurring information that you can use to further characterise your contacts. For example, you can save in every contact data record how the contact wants to be contacted by you and if they want to have your new product catalogue.</p>
</div>
<div class="paragraph">
<p>You can show most of the properties also on your <a href="#properties-on-documents">order documents</a>.</p>
</div>
<div class="paragraph">
<p>You can also create <a href="#group-properties">property groups</a> to get a better overview in case you are working with a large number of properties.</p>
</div>
<div class="paragraph">
<p>The following sub-chapters describe how to <a href="#create-properties">create</a>, <a href="#link-properties">link</a>, <a href="#search-property">search for </a> and <a href="#delete-property">delete</a> properties and how to <a href="#group-properties">group</a> as well as <a href="#import-properties">import</a> and <a href="#export-properties">export</a> them.</p>
</div>
<div class="sect2">
<h3 id="create-properties">6.1. Creating new properties</h3>
<div class="paragraph">
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong> and create properties. Afterwards, <a href="#970">link</a> them with the contact. Proceed as described below to create a property.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Create property</strong>.</p>
</li>
<li>
<p>Customise the settings to meet your needs.</p>
</li>
<li>
<p>Save (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="property-details">6.1.1. Details</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>As soon as you save the property, it automatically receives a consecutive and unique ID.
This ID cannot be changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong><br>
(<span class="red">Mandatory field</span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What do you want to use the property for?
Choose the appropriate section from the drop-down list.
Depending on which section you choose here, the rest of the settings in the menu will change.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This setting can no longer be changed after saving.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This page explains properties of the section <strong>Contact</strong>.
Such properties are used, e.g. to display contact properties on your documents.
But properties can also be used to characterise <a href="/en/item/settings/properties#500">items</a> or <a href="/en/stock-management/setting-up-a-warehouse#850">storage locations</a>.
Click on the links to learn more about these other use cases.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong><br>
(<span class="red">Mandatory field</span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What sort of property do you want to create?
Select this property type from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This setting can no longer be changed after saving.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">What is the type useful for?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>None</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option if properties are to be used in areas other than <strong>Item</strong>, <strong>Storage location</strong> and <strong>Contact</strong>, e.g. for the faceted search.<br>
<strong><em>Note:</em></strong> This property type <em>cannot</em> be shown on your documents.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Whole number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a whole number.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number with decimal places. 8 places before and 4 places after the decimal point are permitted.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option allows to enter values and then select one of these values from a drop-down list.<br>
<strong><em>Note:</em></strong> This property type <em>cannot</em> be shown on your documents.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Multi selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option allows to enter values and select one or multiple options.<br>
<strong><em>Note:</em></strong> This property type <em>cannot</em> be shown on your documents.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a short text. You cannot format this text.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: The type of property is language-specific.
In other words, the text is saved separately for each language.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HTML</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a text. You can format this text.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: The type of property is language-specific.
In other words, the text is saved separately for each language.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character string</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>An alphanumeric character string can be displayed in the plentyShop.
Unlike the types <strong>HTML</strong> and <strong>Text</strong>, the character string is <em>not language-specific</em>.
In other words, the character string is <em>not</em> saved separately for each language.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option to allow to enter a date or to select the date from a calendar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option to allow to upload a file.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong><br>
(<span class="red">Mandatory field</span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a position number for the property.
Properties are sorted by the position number in ascending order.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Count by tens when creating position numbers. This allows you to easily add new properties in between.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="property-names">6.1.2. Names</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong><br>
(<span class="red">Mandatory field</span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the property in the specified language.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> to translate the name into other languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a description of the property in the specified language.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> to translate the description into other languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Is your plentyShop available in multiple languages?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> and select a language version from the drop-down list.</p>
</li>
<li>
<p>Enter translations for the name and description.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="property-selection-values">6.1.3. Selection values</h4>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Not visible for every type of property</div>
<div class="paragraph">
<p>You will only see this area if you are working with a property of the type <strong>Selection</strong> or <strong>Multi selection</strong>.
This area is invisible for all of the other property types.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Here you’ll define the individual values that can be selected.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Create selection value</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).<br>
→ The <strong>Create selection value</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the value in the specified language.</p>
</li>
<li>
<p>Select a position number if needed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The value is created and displayed in the overview.
The value automatically receives a consecutive and unique ID that cannot be changed.</p>
</li>
<li>
<p>Is your plentyShop available in multiple languages?
Then click on the value to open a detailed view.
There you can enter translations and descriptions for the value.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="property-groups">6.1.4. Groups</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Mandatory field</span></p>
</div>
<div class="paragraph">
<p>Every property must belong to at least one <a href="/en/item/settings/properties#1200">group</a>.
Select the appropriate groups from the drop-down list.
The selected groups are displayed here as so-called “chips”.
Click on <span class="icon "><i class="fa fa-close  "></i></span> to remove a group again.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This drop-down list only includes <a href="/en/item/settings/properties#1200">property groups that were already created</a>.</p>
</div>
<h5 id="_assigning_multiple_properties_to_a_group" class="discrete">Assigning multiple properties to a group</h5>
<div class="paragraph">
<p>plentymarkets includes a function, which you can use to simultaneously assign multiple properties to a group.</p>
</div>
<div class="paragraph instruction">
<p>Assigning multiple properties to a group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Select the properties (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to assign to the group.</p>
</li>
<li>
<p>Click on <strong>Link groups</strong> (<span class="icon "><i class="material-link"></i></span>).<br>
→ The <strong>Link groups</strong> window opens.</p>
</li>
<li>
<p>Select one or more property groups (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Link</strong>.<br>
→ The selected properties will be assigned to the groups.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="property-visibilities">6.1.5. Visibilities</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the property only apply to specific clients (stores)? If so, then select all of the clients (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this property should apply to.
Enter a word into the search bar to narrow down the results in real time.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: With plentymarkets, you can manage several online stores, i.e. <a href="/en/online-store/setting-up-clients">several clients</a>, with only one software. Consequently, it is possible to manage several different areas of business with one plentymarkets system. That’s a great advantage. But it also means that you’ll always need to tell plentymarkets which online store the property applies to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the customer types that should be able to see the property.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="property-options">6.1.6. Options</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option to make sure that the property is a mandatory input. Mandatory fields are displayed in bold in the detail view of the contact in the <strong>Properties</strong> area and in the order process in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order process</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option to make sure that the property is displayed in the order process in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer registration</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option to make sure that the property is displayed in the customer registration in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact search</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option is currently without function. Later, it should be possible to filter for properties in the <strong>CRM » Contacts</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="link-properties">6.2. Linking properties with the contact</h3>
<div class="paragraph">
<p>After you have created the property in the <strong>Setup » Settings » Properties » Configuration</strong> menu, you can link the property with the contact. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Linking the property with the contact:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Contacts (Test phase)</strong>.</p>
</li>
<li>
<p>Search the contact by means of the filter settings. Note <a href="#table-search-contact">[table-search-contact]</a> on the <a href="/en/crm/contacts/search-contact">Searching for a contact</a> page.<br>
→ The contacts that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the contact to open the data record.</p>
</li>
<li>
<p>Click on <strong>Properties</strong> on the left side.<br>
→ All properties that are available for the contact are displayed and you add them there.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="properties-on-documents">6.3. Showing properties on documents</h3>
<div class="paragraph">
<p>You can show the contact properties on your <a href="/en/orders/order-documents">order documents</a>, such as on your offers.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » [Select document]</strong> to create the template. In the document’s <strong>Customer properties</strong> area, you can see all properties that are available for the <strong>Contact</strong> area.</p>
</div>
<div class="paragraph">
<p>In order that the property is shown on your documents exactly as you want it, you have to rename the property in the text field right next to it. You could, for example, enter the text <em>Sales contact person</em> for the property type <strong>Short text</strong> and your phone number for any queries for the property type <strong>Whole number</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Do not forget to enter the coordinates for the X and Y axis in the field below to ensure that your content is correctly positioned on your document. Fur further information, refer to the <a href="/en/orders/order-documents#600">Order documents</a> page of the manual.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Check how the properties are positioned on your document</div>
<div class="paragraph">
<p>You can easily check whether all properties are positioned as you want it:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Open the contact data record in the <strong>CRM » Contacts (Test phase)</strong> menu.</p>
</li>
<li>
<p>Click on <strong>Orders</strong> on the left side.<br>
→ The order opens in the <strong>Orders » Edit order</strong> menu.</p>
</li>
<li>
<p>In the order, click on the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document template that you used to set up the customer properties, e.g. <em>Offer</em> from the drop-down list.<br>
→ The template opens.</p>
</li>
<li>
<p>Check the correct positioning of the customer properties on the document.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="group-properties">6.4. Grouping properties</h3>
<div class="paragraph">
<p>If you have lots of properties, then you can group them together so that it’s easier to keep track of them in your plentymarkets back end.</p>
</div>
<div class="sect3">
<h4 id="create-new-group">6.4.1. Creating a new group</h4>
<div class="paragraph instruction">
<p>Creating a new group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Create group</strong>.</p>
</li>
<li>
<p>Customise the settings to meet your needs.</p>
</li>
<li>
<p>Save (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect4">
<h5 id="group-details">Details</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>As soon as you save the group, it automatically receives a consecutive and unique ID.
This ID cannot be changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the position number for the property group.
Properties are sorted by the position number in ascending order.
When a contact has properties from several groups, the groups are displayed in ascending order.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Count by tens when creating position numbers. This allows you to easily add new property groups in between.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the group type from the drop-down list.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>None</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Properties are not grouped by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>One of the grouped properties can be selected from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Multiselect</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Multiple properties can be selected.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharge type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you plan on offering extra services or options for an additional fee?
If so, then decide whether the surcharge should be treated as a percentage or as a fixed price, e.g. 5% or 5 EUR.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect4">
<h5 id="group-names">Name</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the property group in the specified language.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> to translate the name into other languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a description of the property group in the specified language.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> to translate the description into other languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Is your plentyShop available in multiple languages?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> and select a language version from the drop-down list.</p>
</li>
<li>
<p>Enter translations for the name and description.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="assign-properties-to-group">6.4.2. Assigning properties to a group</h4>
<div class="paragraph">
<p>plentymarkets includes a function, which you can use to simultaneously assign multiple properties to a group.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Select the properties (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to assign to the group.</p>
</li>
<li>
<p>Click on <strong>Link groups</strong> (<span class="icon "><i class="material-link"></i></span>).<br>
→ The <strong>Link groups</strong> window opens.</p>
</li>
<li>
<p>Select one or more property groups (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Link</strong>.<br>
→ The selected properties will be assigned to the groups.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="search-for-groups">6.4.3. Searching for existing groups</h4>
<div class="paragraph">
<p>Previously created property groups are displayed in an overview.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option 1</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-search  "></i></span> to see a list of all the groups.</p>
</li>
<li>
<p><strong><em>Option 2</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-filter  "></i></span> to narrow down the search results with filters.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on a group in the search results to open a detailed view.
There you can modify the group’s settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an ID to search for the group with this exact ID.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: Each group automatically receives a consecutive and unique ID when it is created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name to search for groups with this name.
It’s also possible to search for parts of the name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RESET</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the selected filter criteria.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEARCH</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Starts the search. The groups found are listed in the overview.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Don’t choose any filters if you want to see all of the groups in the overview.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="delete-groups">6.4.4. Deleting groups again</h4>
<div class="paragraph">
<p>Previously created groups are displayed in the menu <strong>Setup » Settings » Properties » Groups</strong>.
Groups can also be deleted here.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the groups (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to delete.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-trash  "></i></span> in the upper left corner.</p>
</li>
<li>
<p>Confirm your decision.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Properties that are assigned to groups remain unaffected.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="work-with-properties">6.5. Working with existing properties</h3>
<div class="sect3">
<h4 id="search-properties">6.5.1. Searching for properties</h4>
<div class="paragraph instruction">
<p>Searching for properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option 1</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-search  "></i></span> to see a list of all the properties.</p>
</li>
<li>
<p><strong><em>Option 2</em></strong>: Click on <span class="icon darkGrey"><i class="fa fa-filter  "></i></span> to narrow down the search results with filters.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on a property in the search results to open a detailed view.
There you can modify the property’s settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an ID to search for the property with this exact ID.</p>
</div>
<div class="paragraph">
<p><strong><em>Background info</em></strong>: Each property automatically receives a consecutive and unique ID when it is created.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name to search for properties with this name.
It’s also possible to search for parts of the name.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: By entering “start”, you would find properties called “starting date” and “starter pack”.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Groups</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more groups (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to search for the properties within this group.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This list only includes groups that have already been created. If you haven’t created any <a href="/en/item/settings/properties#1200">property groups</a> yet, then you won’t see any group names here either.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more sections (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to search for the properties that are used for this section.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more property types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to search for the properties with this type.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RESET</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Resets the selected filter criteria.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEARCH</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Starts the search. The properties found are listed in the overview.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Don’t choose any filters if you want to see all of the properties in the overview.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="import-properties">6.5.2. Importing properties</h4>
<div class="paragraph">
<p>Use the import tool and the import type <strong>Properties</strong> to import properties into your plentymarkets system. The fields that you can use for mapping and matching are described on the page of the manual of the import type <a href="/en/data/importing-data/sync-types/elasticSync-properties">Properties</a>.</p>
</div>
<div class="paragraph">
<p>For general information about importing data into your plentymarkets system, refer to the <a href="/en/data/importing-data/ElasticSync">Using the import tool</a> page of the manual.</p>
</div>
</div>
<div class="sect3">
<h4 id="export-properties">6.5.3. Exporting properties</h4>
<div class="paragraph">
<p>Do you want to export property information out of your plentymarkets system? This is done in two steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>First you’ll use the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> to create a so-called data format.</p>
<div class="ulist">
<ul>
<li>
<p>Use the format type <a href="/en/data/exporting-data/FormatDesigner/format-types/properties">Properties</a> if you want to export the actual properties and property groups.</p>
</li>
<li>
<p>Use the format type <strong>contact</strong> along with the data fields <a href="/en/data/exporting-data/FormatDesigner/format-types/contacts#750">ContactProperty</a> if you want to export the links between properties and contacts.</p>
</li>
</ul>
</div>
</li>
<li>
<p>In a second step, you’ll use the <a href="/en/data/exporting-data/elastic-export">Elastic Export</a> tool to export the data format that you just created.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="delete-properties">6.5.4. Deleting properties again</h4>
<div class="paragraph">
<p>Previous created properties are displayed in the menu <strong>Setup » Settings » Properties » Configuration</strong>.
Properties can also be deleted here.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the properties (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete properties</strong> (<span class="icon darkGrey"><i class="fa fa-trash  "></i></span>) in the upper left corner.</p>
</li>
<li>
<p>Confirm your decision.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="use-discount-system">7. Using the discount system (optional)</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Setting up the discount system is optional</div>
<div class="paragraph">
<p>Setting up the discount system in plentymarkets is optional. Read over the discount options in the following sub-chapters and then decide whether you want to allow discounts, for example via the customer classes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In plentymarkets, you have various possibilities for offering discounts. You may give your customers a <a href="#customer-class-discount">customer class discount</a>, a <a href="#discount-payment-method">discount based on the method of payment</a> or a <a href="#discount-scale-net-value-of-items">discount scale based on the net value of items</a>. Furthermore, you can save <a href="#discount-sales-price">sales prices as discounts</a> and enter <a href="#discount-manually">manual discounts</a>. Go to <strong>Setup » CRM » Customer classes</strong> to carry out the settings for the types of discounts. The following sub-chapters describe which settings you need to carry out in order to give discounts.</p>
</div>
<div class="sect2">
<h3 id="customer-class-discount">7.1. Setting up a customer class discount</h3>
<div class="paragraph">
<p>In a customer class, you can determine discounts that are only effective for this customer class. Furthermore, you have further configuration possibilities, such as activating the sales price’s volume discount. Make sure that the discounts can be added for each configuration.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to save a discount for customer classes.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a customer class discount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Customer classes</strong>.</p>
</li>
<li>
<p>Expand the customer class that the discount should be applied to (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Select the option <strong>Customer class discount</strong> as <strong>Discount type</strong>.<br>
→ A further area to carry out settings opens.</p>
</li>
<li>
<p>Under <strong>Discount in %</strong>, enter the percentage that you would like to have deducted.</p>
</li>
<li>
<p>Select whether the <strong>Volume discount</strong> should be taken into consideration.</p>
</li>
<li>
<p>Select which of the payment methods that are available in the plentyShop should be permitted for this customer class.</p>
</li>
<li>
<p>Enter payment instructions.<br>
→ These payment instructions are displayed on invoices.</p>
</li>
<li>
<p>Select whether the prices in the online shop should be shown in <strong>gross</strong> (including VAT) or <strong>net</strong> (excluding VAT).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="discount-scale-net-value-of-items">7.2. Setting up a discount scale based on the net value of items</h3>
<div class="paragraph">
<p>Would you like to reward your contacts with discounts when they regularly make large purchases in your plentyShop? If so, determine amounts that should be discounted based on the net value of items in the order.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a discount scale based on the net value of items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Customer classes</strong>.</p>
</li>
<li>
<p>Expand the customer class that the discount scale should be applied to (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Select the option <strong>Discount scale based on net value of items</strong> as <strong>Discount type</strong>.<br>
→ A table with further settings opens.</p>
</li>
<li>
<p>Enter monetary amounts under the words <strong>Minimum net value of items</strong> in an ascending order.</p>
</li>
<li>
<p>Under <strong>Discount in %</strong>, enter the percentage that you would like to have deducted in ascending order.<br>
→ If you enter 50, e.g. in the field <strong>Minimum net value of items</strong> and 2 in the field <strong>Discount in %</strong>, a 2% discount is offered for orders totalling £50 or more.</p>
</li>
<li>
<p>Select whether the <strong>Volume discount</strong> should be taken into consideration.</p>
</li>
<li>
<p>Select which of the payment methods that are available in the plentyShop should be permitted for this customer class.</p>
</li>
<li>
<p>Enter payment instructions.<br>
→ These payment instructions are displayed on invoices.</p>
</li>
<li>
<p>Select whether the prices in the online shop should be shown in <strong>gross</strong> (including VAT) or <strong>net</strong> (excluding VAT).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<h4 id="_how_do_your_customers_see_the_discount_in_your_plentyshop" class="discrete">How do your customers see the discount in your plentyShop?</h4>
<div class="paragraph">
<p>The discount is calculated and displayed once the customer has finished putting items into their shopping cart and has gone to the checkout. Initially, only the total discount is displayed in the shopping cart. When the customer completes the order and clicks on Go to cashier, the discount is calculated for the individual variations in addition to the total discount and displayed accordingly.</p>
</div>
</div>
<div class="sect2">
<h3 id="discount-payment-method">7.3. Setting up a discount based on the method of payment</h3>
<div class="paragraph">
<p>With the discount type <strong>Discount based on the method of payment</strong> you offer customers a discount if they use one or more payment methods.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Directly saving a discount based on the method of payment</div>
<div class="paragraph">
<p>Instead of configuring the settings in this menu, it is also possible to directly save a global discount for a payment method. An example is a discount in percent for the payment method <strong>Cash in advance</strong>. For further information, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page of the manual. You are not able to completely customise the settings if you save a discount directly for a payment method. It is only possible to completely customise the settings when using the option <strong>Discount based on the method of payment</strong> in the <strong>Setup » CRM » Customer classes</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to set up a discount based on one or more payment methods.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a discount based on the method of payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Customer classes</strong>.</p>
</li>
<li>
<p>Expand the customer class that the discount should be applied to (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Enter a <strong>Payment due date</strong> in days, which you would like to permit for this customer class.</p>
</li>
<li>
<p>Select the option <strong>Discount based on method of payment</strong> for the <strong>discount type</strong>.<br>
→ A table with further settings opens.</p>
</li>
<li>
<p>Select one or several payment methods that the discount should be applied to.</p>
</li>
<li>
<p>Under <strong>Discount in %</strong>, enter the percentage that you would like to have deducted.</p>
</li>
<li>
<p>Select whether the <strong>Volume discount</strong> should be taken into consideration.</p>
</li>
<li>
<p>Select which of the payment methods that are available in the online shop should be permitted for this customer class.</p>
</li>
<li>
<p>Enter payment instructions.<br>
→ These payment instructions are displayed on invoices.</p>
</li>
<li>
<p>Select whether the prices in the online shop should be shown in <strong>gross</strong> (including VAT) or <strong>net</strong> (excluding VAT).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="discount-sales-price">7.4. Saving sales prices as discounts</h3>
<div class="paragraph">
<p>A volume-related discount is created as own price in the <strong>Setup » Item » Sales prices</strong> menu. Using the option <strong>Minimum quantity</strong> in the <strong>Settings</strong> area, you specify for the sales price from which item quantity the discounted price should be valid. You can realise graduated prices by creating multiple sales prices accordingly and entering the desired minimum quantities.</p>
</div>
<div class="paragraph">
<p>The discounted sales price is activated once you set the option <strong>Volume discount</strong> in the customer class to <strong>Include</strong>. A customer receives the discount in case they belong to the customer class and in case they order at least the quantity saved for the sales price.</p>
</div>
<div class="paragraph instruction">
<p>Saving sales prices as discounts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Open the sales price.</p>
</li>
<li>
<p>Enter a number in the <strong>Settings</strong> tab in the field <strong>Minimum quantity</strong>. This number determines from which item quantity the discounted price is valid.</p>
</li>
<li>
<p>Activate the customer classes in the <strong>Class</strong> area for which the sales price should be valid.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about sales prices, refer to the <a href="/en/item/settings/prices#100">Sales prices and price calculation</a> page.</p>
</div>
</div>
<div class="sect2">
<h3 id="discount-manually">7.5. Manually entering a discount</h3>
<div class="paragraph">
<p>Not only is it possible to automatically assign discounts, but it is also possible to manually assign a discount to some or all of the variations contained in an order. There are 2 ways to manually enter discounts: in the list view of the <a href="/en/orders/managing-orders#1300">order search</a> and in the editing window of an <a href="/en/orders/managing-orders#1530">order</a>.</p>
</div>
<div class="sect3">
<h4 id="discount-single-item-order-search">7.5.1. Entering a discount for individual items in the order search</h4>
<div class="paragraph">
<p>If you would like to quickly assign discounts to individual variations within an order, you can do that directly in the order search. Proceed as described below to enter or edit a discount for individual items in the order search.</p>
</div>
<div class="paragraph instruction">
<p>Entering a discount for individual items in the order search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order search appears.</p>
</li>
<li>
<p>Click on <strong>Discount</strong> on the right-hand side of an order (default value:&nbsp;0%).<br>
→ A window for entering the percentage opens.</p>
</li>
<li>
<p>Enter the desired percentage of discount.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The discount value appears and the discount is deducted from the variation.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="discount-single-item-order">7.5.2. Entering a discount for individual items in an order</h4>
<div class="paragraph">
<p>The variations are displayed at the very bottom of the order overview. You can also assign discount values to individual variations here or you can edit discount values. Proceed as described below to enter or edit a discount for an item in the order.</p>
</div>
<div class="paragraph instruction">
<p>Entering a discount for individual items in an order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order that you want to discount. This is done by clicking on the order number.</p>
</li>
<li>
<p>Click on <strong>Edit</strong> (<span class="icon "><i class="fa fa-pencil  "></i></span>) in the lower area of the order’s <strong>Overview</strong> tab.</p>
</li>
<li>
<p>Select the percentage of discount from the <strong>Discount</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="discount-all-items-in-order">7.5.3. Entering a discount for all items of an order</h4>
<div class="paragraph">
<p>Proceed as described below to enter or edit a discount for all variations of an order.</p>
</div>
<div class="paragraph instruction">
<p>Entering a discount for all items of an order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order that you want to discount. This is done by clicking on the order number.</p>
</li>
<li>
<p>Click on <strong>Edit</strong> (<span class="icon "><i class="fa fa-pencil  "></i></span>) in the lower area of the order’s <strong>Overview</strong> tab.</p>
</li>
<li>
<p>Click on the link <strong>Give discount on all items</strong> below the variation list.</p>
</li>
<li>
<p>Select the percentage value from the displayed drop-down list.</p>
</li>
<li>
<p>Click on <strong>Save</strong> to the right of the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<hr>
<div class="paragraph next-navigation">
<p><a href="/en/crm/contacts/create-contact">Creating a contact <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</div>
</div>
</main>