<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#save-current-filter"><span>1.</span><span> Saving the current filters</span></a></li>
<li><a href="#apply-saved-filters"><span>2.</span><span> Applying saved filters</span></a></li>
<li><a href="#configure-columns"><span>3.</span><span> Configuring columns in the overview</span></a></li>
<li><a href="#context-menu-overview"><span>4.</span><span> Context menu in the overview</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Searching for a contact</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/en/crm/contacts/create-contact"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Creating a contact</a>
<a href="/en/crm/contacts/edit-contact">Editing a contact <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>In order to search for specific contacts, enter a search term in the search fields. You can enter multiple search terms into the search fields at one time. This makes your search run quicker and be more accurate.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a contact:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Contacts (Test phase)</strong>.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em></strong> Click on <strong>Search</strong> (<span class="icon "><i class="material-search"></i></span>) to get a list of all companies.</p>
</li>
<li>
<p><strong><em>Alternative 2:</em></strong> Click on <span class="icon "><i class="material-filter_alt"></i></span> to narrow down the search results with filters.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Note the explanations about the filters in <a href="#table-search-contact">Table 1</a>. <br>
<strong><em>Tip:</em></strong> You can enter multiple search terms into the search fields at one time. This makes your search run quicker and be more accurate.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The contacts that correspond to the search criteria entered are shown in the overview.</p>
</li>
</ol>
</div>
<table id="table-search-contact" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Available filters for the contact search</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an ID to search for the contact with this exact ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name to search for the contact with this exact name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In this field, you can search for the name, address, company, customer number and eBay name.<br>
<strong><em>Note:</em></strong> In order to search for the eBay name, first enter the parameter <code>ebay:</code> followed by the eBay name that you search for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the street and/or house number as saved in the contact data record. It is also possible to search only for parts of the street and parts of the house number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the postcode that is saved in the contact data record. The search is also carried out for postcodes that are saved in the address data records of the contact. It is also possible to search only for parts of the postcode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Town</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the town that is saved in the contact data record. The search is also carried out for towns that are saved in the address data records of the contact. It is also possible to search only for parts of the town.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the complete email address to search for the contact with this email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telephone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the telephone number to search for the contact with this number. You can also search for parts of the telephone number. Enter at least 3 numbers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) a tag in order to display all contacts with this tag. You can select one or multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a country to only display contacts from this country. The country is saved within the contact data.<br>
Select the setting <strong>All except Germany</strong> to only display contacts from all countries except Germany.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner to only search for contacts that are linked to this owner. The owner has to be saved in the contact data record.
<strong><em>Important:</em></strong> Only owners for whom the <strong>Customer</strong> option has been activated in the <strong>Owner</strong> tab of their user account can be selected from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type to only search for contacts with this type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the rating to only search for contacts with this rating. 5 yellow stars are the best rating, 5 red stars are the worst rating.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a class to search for contacts with this class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RESET</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the selected filter criteria.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEARCH</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Executes the search. The contacts found are listed in the overview.<br>
<strong><em>Tip:</em></strong> Don’t choose any filters if you want to see all of the contacts in the overview.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="save-current-filter">1. Saving the current filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you start a search, your selected filters are displayed up top as so-called “chips”. You can save these filters to apply them again more quickly and easily in the future.</p>
</div>
<div class="paragraph instruction">
<p>Saving the current filters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Start a search.</p>
</li>
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-bookmark-o  "></i></span> <strong>Save current filter</strong>.</p>
</li>
<li>
<p>Enter a name and decide whether the filter preset should be visible for all user accounts (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>SAVE</strong>.<br>
→ The filter settings now appear under <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Use drag-and-drop to arrange the filter presets in a specific order by clicking on <strong>Move</strong> (<span class="icon "><i class="material-drag_indicator"></i></span>). Click on <span class="icon darkGrey"><i class="fa fa-trash  "></i></span> to delete a filter preset.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="apply-saved-filters">2. Applying saved filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to apply an already saved filter for the search.</p>
</div>
<div class="paragraph instruction">
<p>Applying saved filters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon darkGrey"><i class="fa fa-bookmark  "></i></span>).</p>
</li>
<li>
<p>Click on an existing filter preset.<br>
→ The search is started and the search settings are displayed up top as so-called “chips”.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="configure-columns">3. Configuring columns in the overview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click in the overview on the top right on <strong>Configure columns</strong> <span class="icon "><i class="material-settings"></i></span>, select the desired columns and click on <strong>Confirm</strong>. The following columns are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
<div class="ulist">
<ul>
<li>
<p>Sort your contacts using the arrows <span class="icon "><i class="material-arrow-upward"></i></span> and <span class="icon "><i class="material-arrow_downward"></i></span> in ascending and descending order based on their ID.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Guest</p>
<div class="ulist">
<ul>
<li>
<p>Shows with the icon <span class="icon "><i class="material-done"></i></span> whether this data record is a guest.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Company</p>
</li>
<li>
<p>Rating</p>
<div class="ulist">
<ul>
<li>
<p>Sort your contacts using the arrows <span class="icon "><i class="material-arrow-upward"></i></span> and <span class="icon "><i class="material-arrow_downward"></i></span> in ascending and descending order based on the number of stars in their rating.</p>
</li>
</ul>
</div>
</li>
<li>
<p>First name</p>
<div class="ulist">
<ul>
<li>
<p>Sort your contacts using the arrows <span class="icon "><i class="material-arrow-upward"></i></span> and <span class="icon "><i class="material-arrow_downward"></i></span> in alphabetical order based on their first names.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Last name</p>
<div class="ulist">
<ul>
<li>
<p>Sort your contacts using the arrows <span class="icon "><i class="material-arrow-upward"></i></span> and <span class="icon "><i class="material-arrow_downward"></i></span> in alphabetical order based on their last names.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Email</p>
</li>
<li>
<p>Telephone</p>
</li>
<li>
<p>Customer class</p>
</li>
<li>
<p>Orders</p>
<div class="ulist">
<ul>
<li>
<p>Sort your contacts using the arrows <span class="icon "><i class="material-arrow-upward"></i></span> and <span class="icon "><i class="material-arrow_downward"></i></span> in ascending and descending order based on their number of orders.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Postcode</p>
<div class="ulist">
<ul>
<li>
<p>Sort your contacts using the arrows <span class="icon "><i class="material-arrow-upward"></i></span> and <span class="icon "><i class="material-arrow_downward"></i></span> in ascending and descending order based on their postcodes.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Country</p>
</li>
<li>
<p>Type</p>
</li>
<li>
<p>Client</p>
</li>
<li>
<p>Debtor account</p>
<div class="ulist">
<ul>
<li>
<p>Sort your contacts using the arrows <span class="icon "><i class="material-arrow-upward"></i></span> and <span class="icon "><i class="material-arrow_downward"></i></span> in ascending and descending order based on the debtor account number.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Language</p>
<div class="ulist">
<ul>
<li>
<p>Sort your contacts using the arrows <span class="icon "><i class="material-arrow-upward"></i></span> and <span class="icon "><i class="material-arrow_downward"></i></span> in alphabetical order based on their languages.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Fax</p>
</li>
<li>
<p>Newsletter</p>
</li>
<li>
<p>Context menu</p>
<div class="ulist">
<ul>
<li>
<p>Refer to the chapter <a href="#context-menu-overview">Context menu in the overview</a> to learn more about the available functions in the context menu.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Click on the button <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>) on the top right to deactivate the columns that are already shown in the overview. Click on <span class="icon "><i class="material-sort"></i></span> to change the order of the columns by using drag-and-drop.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="context-menu-overview">4. Context menu in the overview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click on <span class="icon "><i class="material-more_vert"></i></span> in the line of the contact in the overview to open the context menu.</p>
</div>
<div id="image-contact-context-menu" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/contacts-new-context-menu.png" alt="contacts new context menu" width="640" height="360">
</div>
<div class="title">Figure 1. Context menu in the overview</div>
</div>
<div class="paragraph">
<p>The context menu allows you to quickly access the following menus and functions:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon "><i class="material-shopping_cart"></i></span> Orders</p>
<div class="ulist">
<ul>
<li>
<p>Orders</p>
<div class="ulist">
<ul>
<li>
<p>Opens the contact’s order overview in the <strong>Orders » Edit orders</strong> menu.</p>
</li>
</ul>
</div>
</li>
<li>
<p>New order</p>
<div class="ulist">
<ul>
<li>
<p>Opens the <strong>New order</strong> area in the <strong>Orders » Edit orders</strong> menu. The order type <strong>Order</strong> and the contact’s invoice address are already preselected.<br>
For further information, refer to the <a href="/en/orders/managing-orders#240">beta: Creating an order or an offer in the contact overview</a> chapter on the <a href="/en/orders/managing-orders">Managing orders</a> page.</p>
</li>
</ul>
</div>
</li>
<li>
<p>New offer</p>
<div class="ulist">
<ul>
<li>
<p>Opens the <strong>New order</strong> area in the <strong>Orders » Edit orders</strong> menu. The order type <strong>Offer</strong> and the contact’s invoice address are already preselected.<br>
For further information, refer to the <a href="/en/orders/managing-orders#240">beta: Creating an order or an offer in the contact overview</a> chapter on the <a href="/en/orders/managing-orders">Managing orders</a> page.</p>
</li>
</ul>
</div>
</li>
<li>
<p>New order [beta]</p>
<div class="ulist">
<ul>
<li>
<p>Opens the user interface to create a new order. The order type <strong>Order</strong> and the contact’s invoice and delivery address are already preselected.<br>
For further information, refer to the <a href="/en/orders/managing-orders#240">beta: Creating an order or an offer in the contact overview</a> chapter on the <a href="/en/orders/managing-orders">Managing orders</a> page.</p>
</li>
</ul>
</div>
</li>
<li>
<p>New offer [beta]</p>
<div class="ulist">
<ul>
<li>
<p>Opens the user interface to create a new offer. The order type <strong>Offer</strong> and the contact’s invoice and delivery address are already preselected.<br>
For further information, refer to the <a href="/en/orders/managing-orders#240">beta: Creating an order or an offer in the contact overview</a> chapter on the <a href="/en/orders/managing-orders">Managing orders</a> page.</p>
</li>
</ul>
</div>
</li>
<li>
<p>New subscription [beta]</p>
<div class="ulist">
<ul>
<li>
<p>Opens a new subscription in the <strong>Orders » Subscription (Test phase)</strong> menu. The contact’s invoice and delivery address are already preselected.<br>
For further information, refer to the <a href="#orders/subscription">Subscription</a> page.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
<li>
<p><span class="icon "><i class="material-event_note"></i></span> New ticket</p>
<div class="ulist">
<ul>
<li>
<p>Opens the <strong>New ticket</strong> area in the <strong>CRM » Ticket system</strong> menu. The contact ID, the company (if available) and the name of the contact are already preselected in the ticket.<br>
For further information, refer to the <a href="/en/crm/using-the-ticket-system">Ticket system</a> page.</p>
</li>
</ul>
</div>
</li>
<li>
<p><span class="icon "><i class="material-message"></i></span> Messenger</p>
<div class="ulist">
<ul>
<li>
<p>Opens the messenger. Click on <strong>New message</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>) to create a new message for this contact.<br>
For further information, refer to the <a href="/en/crm/messenger">Messenger</a> page.</p>
</li>
</ul>
</div>
</li>
<li>
<p><span class="icon "><i class="material-delete"></i></span> Delete contact</p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/crm/contacts/edit-contact#delete-contact">Deletes</a> the contact after confirming the security question.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/en/crm/contacts/create-contact"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Creating a contact</a>
<a href="/en/crm/contacts/edit-contact">Editing a contact <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>