<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wie wird ein Merkmal mit einem real.de-Attribut verknüpft?</span></a></li>
<li><a href="#200"><span>2.</span><span> Wie wird die product.csv um ein weiteres Attribut erweitert?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: Merkmale mit Attributen verknüpfen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Um bei real.de erfolgreich Artikel zu listen, werden von plentymarkets zwei Dateien übertragen. Die eine Datei enthält die Produktdaten (product.csv) und die andere Datei die Angebotsdaten (inventory.csv). Mit der product.csv wird der Artikel gelistet. Mit der zweiten Datei wird das eigentliche Angebot erstellt. Aus diesem Grund sind in der inventory.csv nur die Infos für Preis, Lagerbestand und Versandinformationen enthalten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wie wird ein Merkmal mit einem real.de-Attribut verknüpft?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aus verschiedenen Gründen kann es sinnvoll sein, die Produktdaten-Datei um bestimmte Attribute zu ergänzen. Entweder um dem Käufer zusätzliche Informationen zu den Artikeln zu übermitteln (Materialangaben, Farbe etc.), oder um Pflichtangaben, die vom Gesetzgeber für bestimmte Produkte vorgeschrieben sind, zu übertragen (Gefahrenhinweise, Nährwertdeklarationen etc.).</p>
</div>
<div class="paragraph">
<p>Diese Informationen lassen sich per Merkmal in der Produktdaten-Datei hinzufügen, für jedes Merkmal das mit <a href="https://www.real.de/" target="_blank" rel="noopener">real.de</a> verknüpft ist, wird in der product.csv eine neue Spalte hinzugefügt.<br>
<strong>Hinweis</strong>: Das funktioniert nur bei der product., nicht bei der inventory.csv.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Wie wird die product.csv um ein weiteres Attribut erweitert?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zunächst muss der exakte Name der Spalte in der Produktdaten-Datei in Erfahrung gebracht werden. Eine Übersicht über diese Attribute ist direkt auf <a href="https://www.real.de/versandpartner/download-bereich/" target="_blank" rel="noopener">real.de</a> zu finden.</p>
</div>
<div class="paragraph">
<p>Wenn beispielsweise das Attribut "Materialzusammensetzung" in die Datei einfügt werden soll, muss das zugehörige Merkmal "material_composition" heißen.
Damit dieses Merkmal in der CSV erscheint, wird in plentymarkets ein neues Merkmal im Menü <strong>Einrichtung »  Artikel » Merkmale</strong> erstellt. Das Merkmal muss exakt wie das entsprechende real.de-Attribut heißen. Zusätzlich wird das Merkmal mit real.de verknüpft.</p>
</div>
<div id="Attributname" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-real-merkmalverknuepfung.png" alt="bp real merkmalverknuepfung">
</div>
<div class="title">Bild 1. real-Attributname</div>
</div>
<div id="Marktplatzverknüpfung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-real-marktplatzverknuepfung.png" alt="bp real marktplatzverknuepfung">
</div>
<div class="title">Bild 2. real-Verknüpfung</div>
</div>
<div class="paragraph">
<p>Damit die gewünschte Information auch in der Datei erscheint, muss das Merkmal noch am Artikel hinzugefügt und der entsprechende Wert eingetragen werden.</p>
</div>
<div id="Artikelverknüpfung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-real-artikelverknuepfung.png" alt="bp real artikelverknuepfung">
</div>
<div class="title">Bild 3. Merkmal am Artikel verknüpfen</div>
</div>
<div class="paragraph">
<p>Anschließend wird in der product.csv eine neue Spalte hinzugefügt.</p>
</div>
<div class="paragraph">
<p><strong>Hinweis</strong>: Sollten zwei Merkmale mit demselben Namen vergeben sein, wird das Merkmal mit der niedrigeren ID überschrieben. Auf diese Weise wäre es möglich, standardmäßig bereits vorhandene Attribute (EAN, Name etc.) zu überschreiben.</p>
</div>
</div>
</div>
</main>