<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Was ist der Nutzen der Versandgruppen?</span></a></li>
<li><a href="#200"><span>2.</span><span> Wo werden die Einstellungen auf real.de vorgenommen?</span></a></li>
<li><a href="#300"><span>3.</span><span> Wo werden die Einstellung in plentymarkets vorgenommen?</span></a></li>
<li><a href="#400"><span>4.</span><span> Wie sehen die Einstellungen in plentymarkets aus?</span></a></li>
<li><a href="#500"><span>5.</span><span> Welche Versandprofile werden zur Verknüpfung angezeigt?</span></a></li>
<li><a href="#600"><span>6.</span><span> Welches Versandprofil wird zugeordnet?</span></a></li>
<li><a href="#700"><span>7.</span><span> Wie richtet man die Versandprofile am besten ein?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: Integration der Versandgruppen</h1><div class="sect1">
<h2 id="100">1. Was ist der Nutzen der Versandgruppen?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf real.de werden im Bereich <strong>Händlereinstellungen » Versandeinstellungen</strong> eine oder mehrere Versandgruppen eingerichtet. Diese ermöglichen die Verwaltung von Versandkosten für Artikel auf Basis des Lieferlandes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Wo werden die Einstellungen auf real.de vorgenommen?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Bereich <strong>Händlereinstellungen » Versandeinstellungen</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Wo werden die Einstellung in plentymarkets vorgenommen?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unter <strong>Einrichtung » Märkte » real.de » Einstellungen</strong> in den Einstellungen des jeweiligen Mandanten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Wie sehen die Einstellungen in plentymarkets aus?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Bereich <strong>Versandprofile verknüpfen</strong> in den Einstellungen werden zwei Dinge durchgeführt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Über die Schaltfläche <strong>Versandgruppen aktualisieren</strong> werden die Versandgruppen von real.de heruntergeladen.</p>
</li>
<li>
<p>In der Tabelle über der Schaltfläche stehen auf der linken Seite die Versandprofile, die für real.de freigegeben wurden und auf der rechten Seite kann über eine Dropdown-Liste eine Versandgruppe von real.de zugeordnet werden.</p>
</li>
</ol>
</div>
<div id="Versandprofile-verknüpfen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-real-versandprofile-verknuepfen.png" alt="bp real versandprofile verknuepfen">
</div>
<div class="title">Bild 1. Versandprofile verknüpfen</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Welche Versandprofile werden zur Verknüpfung angezeigt?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den Einstellungen werden nur die Versandprofile angezeigt, die für real.de freigegeben wurden. Die Freigabe wird unter <strong>Einrichtung » Aufträge » Versand » Optionen » Versandprofile</strong> im jeweiligen Versandprofil im <strong>Tab: Base</strong> über die Auftragsherkunft erreicht.</p>
</div>
<div id="Versandprofil-Auftragsherkunft" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-real-auftragsherkunft.png" alt="bp real auftragsherkunft">
</div>
<div class="title">Bild 2. Versandprofil-Auftragsherkunft</div>
</div>
<h3 id="_schritt_1" class="discrete">Schritt 1</h3>
<div class="paragraph">
<p>Bei <strong>real.de</strong> die <strong>Versandgruppen</strong> unter <strong>Händlereinstellungen » Versandeinstellungen</strong> konfigurieren.</p>
</div>
<div id="Versandeinstellungen-real" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-real-versandeinstellungen.png" alt="bp real versandeinstellungen">
</div>
<div class="title">Bild 3. Versandeinstellungen auf real</div>
</div>
<h3 id="_schritt_2" class="discrete">Schritt 2</h3>
<div class="paragraph">
<p>In plentymarkets unter <strong>Einrichtung » Märkte » real.de » Einstellungen</strong> für den entsprechenden Mandanten die Versandgruppen von real.de importieren. Dafür gibt es die Schaltfläche <strong>Versandgruppen aktualisieren</strong> im Bereich <strong>Versandprofile verknüpfen</strong>.</p>
</div>
<h3 id="_schritt_3" class="discrete">Schritt 3</h3>
<div class="paragraph">
<p>In plentymarkets unter <strong>Einrichtung » Märkte » real.de » Einstellungen</strong> für den entsprechenden Mandanten die Versandgruppen von real.de über die Dropdown-Liste den gewünschten angezeigten Versandprofilen zuordnen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Welches Versandprofil wird zugeordnet?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Artikel mit mehreren Versandprofilen verknüpft ist, denen unterschiedliche Versandgruppen zugeordnet sind, dann wird immer die Versandgruppe des Versandprofils zugeordnet, das die niedrigste Kategorie und die höchste Priorität hat.
Die Kategorie und Priorität des Versandprofils kann unter <strong>Einrichtung » Aufträge » Versand » Optionen » Versandprofile</strong> im jeweiligen Versandprofil im <strong>Tab: Base</strong> über die Menüpunkte <strong>Kategorie</strong> und <strong>Priorität</strong> eingestellt werden.</p>
</div>
<div id="Prio-Versandprofil" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-real-versand-prio.png" alt="bp real versand prio">
</div>
<div class="title">Bild 4. Priorität und Kategorie der Versandprofile</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Wie richtet man die Versandprofile am besten ein?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn man relativ wenige Versandprofile hat und eine ziemlich einfache Struktur, muss man keine besonderen Einstellungen treffen.
Wenn man eine komplexe Struktur durch die Versandprofile abbilden muss, dann sollte man für den Abgleich der Versandgruppen eigene Versandprofile anlegen, die nur für real.de freigegeben sind und bei allen anderen Versandprofilen die Freigabe für real.de entfernen. Das ist am Anfang ein etwas größerer Konfigurationsaufwand, dafür hat man dann aber eine klare Struktur, die die nachträgliche Arbeit erleichtert.
Um diese Versandprofile dann an den Artikeln nachzupflegen, kann man das Datenformat <strong>ItemParcelServicePreset</strong> nutzen. Dazu muss das <a href="https://marketplace.plentymarkets.com/plugins/integration/ElasticExportShippingProfiles_4747" target="_blank" rel="noopener">plentymarkets Versandprofile-Plugin</a> installiert sein. Das Datenformat <strong>ItemParcelServicePreset</strong> ist unter <strong>Daten » Spezialexport</strong> verfügbar.</p>
</div>
</div>
</div>
</main>