<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei real.de registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> real.de in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#400"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#450"><span>7.</span><span> Barcode festlegen</span></a></li>
<li><a href="#500"><span>8.</span><span> Merkmale verknüpfen</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>8.1.</span><span> plentymarkets-Merkmale mit real.de-Attributen verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>9.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#800"><span>10.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#850"><span>11.</span><span> Rechnungsdokument bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#860"><span>11.1.</span><span> Hinweis für Zahlungsart real.de Payment eingeben</span></a></li>
<li><a href="#870"><span>11.2.</span><span> Bankdaten auf real.de-Rechnungen ausblenden</span></a></li>
</ul>
</li>
<li><a href="#890"><span>12.</span><span> Rechnungen automatisch erstellen</span></a></li>
<li><a href="#900"><span>13.</span><span> Stornierungen automatisch senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>real.de einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.real.de" target="_blank" rel="noopener">real.de</a> gehört zu den größten Festpreismarktplätzen Deutschlands. Auf real.de kannst du Artikel aus zahlreichen Produktkategorien verkaufen. Die Zahlungsabwicklung übernimmt real.de für dich, d.h. du trägst weder Paymentkosten noch Inkassorisiko.<br></p>
</div>
<div class="paragraph">
<p>Wie du den Marktplatz real.de in plentymarkets einrichtest, erfährst du in diesem Video-Tutorial:</p>
</div>
<div class="videoblock">
<div class="title">real.de in plentymarkets einrichten</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/331004096" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei real.de registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu real.de nutzen zu können, musst du dein real.de-Benutzerkonto als Händlerkonto registrieren. Rufe dazu auf der <a href="https://www.real.de/seller/new/" target="_blank" rel="noopener">real.de-Website</a> den Bereich <strong>Mein Konto</strong> auf und gib dort deine Umsatzsteuer-Identifikationsnummer ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. real.de in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Artikel bei real.de anzubieten, richte real.de in plentymarkets ein. Du benötigst dazu deine Zugangsdaten für die real.de-Schnittstelle. Du kannst pro Webshop bzw. Mandant (Shop) ein Konto für real.de einrichten.</p>
</div>
<div class="paragraph instruction">
<p>Zugang zu real.de einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » real.de » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Untermenü des Mandanten, bei dem du den Zugang einrichten möchtest.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-real-de">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-real-de" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen des Marktplatzes real.de</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schnittstelle zu real.de aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Schnittstelle zu real.de aktivieren.<br>
<strong>Nein</strong> = Schnittstelle zu real.de nicht aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">API-Daten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client Key eingeben, wie von real.de erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secret Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Secret Key eingeben, wie von real.de erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragseinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang buchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Einstellung greift für den Auftragsimport. Aufträge werden als bezahlt oder nicht bezahlt importiert. Unabhängig von dieser Einstellung werden Artikel bei ausreichend Bestand sofort für den Versand freigegeben. Mit der Einstellung <strong>offen</strong> könnte man bei tatsächlichem Zahlungseingang von real.de den Auftrag auf bezahlt setzen und somit eine Kontrolle von real.de durchführen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddienstleister verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Einstellung ist ausschließlich dafür bestimmt, dass real.de nach Bestätigung des Versands mit Hilfe der richtigen Paketnummer den korrekten Tracking-Link an Kund*innen per E-Mail versenden kann.<br>
<strong>Wichtig</strong>: Du musst jeden deiner Dienstleister mit einem Dienstleister aus der Dropdown-Liste verknüpfen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Artikeleinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelexport aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Artikelexport zu real.de aktiviert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Artikel mit Markierung übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle Artikel</strong> = Alle Artikel werden übertragen.<br>
<strong>Alle Artikel mit Markierung 1</strong> bzw. <strong>2</strong> = Alle Artikel mit dieser Markierung werden übertragen.<br>
<strong>Alle Artikel ohne Markierung 1</strong> bzw. <strong>2</strong> = Alle Artikel ohne diese Markierung werden übertragen.<br>
Auswahl einer bestimmten Markierung = Nur Artikel mit dieser bestimmten Markierung werden übertragen.<br>
Diese Einstellung greift für Artikeldaten und Angebotsdaten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition für das Energieeffizienzlabel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Energieeffizienzlabels eintragen. Alle Bilder, die als Energieeffizienzlabel übertragen werden sollen, müssen diese Position haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Technische Daten zur Artikelbeschreibung  hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die technischen Daten, die im Tab <strong>Texte</strong> des Artikels eingegeben sind, zur Artikelbeschreibung bei real.de hinzugefügt werden sollen. Standardmäßig ist die Option auf <strong>Ja</strong> gestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktdatei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstellt eine Produktdatei. Diese kann über <strong>Vorschau Produktdatei</strong> angesehen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschau Produktdatei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorschau der Produktdatei anzeigen.<br>
<strong>Hinweis:</strong> Wenn du die Schnittstelle zu real.de noch nicht eingerichtet hast und dir testweise eine Vorschau der Produktdatei ansehen möchtest, musst du die Schnittstelle kurzzeitig aktivieren, da die Vorschau der Produktdatei ansonsten leer ist. Um dir eine Vorschau der Produktdatei anzusehen, aktiviere die Schnittstelle und klicke dann auf <strong>Vorschau Produktdatei</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>). Deaktiviere die Schnittstelle danach sofort wieder, indem du für die Option <strong>Schnittstelle zu real.de aktivieren</strong> die Einstellung <strong>Nein</strong> wählst und speicherst. Dadurch vermeidest du, dass vorzeitig Artikel übertragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktdatei zu real.de senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktdatei zu real.de übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Angebotseinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotsabgleich aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Angebote werden stündlich und täglich bei real.de aktualisiert. Nur wenn diese Option und die Option <strong>Schnittstelle zu real.de aktivieren</strong> aktiviert sind, findet der tägliche vollständige Angebotsabgleich und der stündliche Abgleich für geänderte Angebote statt.<br>
<strong>Nein</strong> = Der Angebotsabgleich ist deaktiviert.<br>
Standardmäßig ist diese Option auf <strong>Ja</strong> eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren (Inventory)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> oder <strong>Nein</strong> wählen.<br>
<strong>Ja</strong> = Bestand wird täglich im Cache gespeichert. <br>
<strong>Nein</strong> = Bestand wird nicht im Cache gespeichert.<br>
<strong>Hinweis</strong>: Wir empfehlen die Option <strong>Ja</strong> zu verwenden, da große Bestandsänderungen zu Fehlern führen können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, aus welchen Lagern Bestand zu real.de übertragen werden soll. Ein Lager oder <strong>Summe aus allen Lagern</strong> wählen.<br>
<strong>Summe aus allen Lagern</strong> = Der Bestand aus allen Vertriebslagern wird addiert und übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelmenge für Artikel ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel mit der Einstellung <strong>Keine Beschränkung</strong> im Tab <a href="/warenwirtschaft/warenbestaende-verwalten">Bestand</a> werden in der hier eingegebenen Anzahl auf real.de angeboten. Sobald ein Verkauf stattgefunden hat, wird zur nächsten Stunde die hier gespeicherte Anzahl wieder neu zum Verkauf eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestpreis wählen, d.h. den niedrigsten Preis, zu dem der Artikel angeboten werden soll.<br>
Für den gewählten Preis muss am Artikel jeweils ein Mindestpreis eingegeben sein. Der Mindestpreis muss für die Herkunft real.de freigegeben sein.<br>
<strong>Wichtig</strong>: Der Mindestpreis greift nicht bei Variantenartikeln mit Aufpreisen für Attribute. In diesem Fall die Einstellung <strong>deaktiviert</strong> wählen oder jede Variante als separaten Artikel mit definiertem Mindestpreis erstellen, wenn der Mindestpreis genutzt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelkommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfelder</strong> für Artikelkommentare einrichten oder das Feld <strong>Globaler Artikelkommentar</strong> für diese Funktion einstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Globaler Artikelkommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beliebigen Text eingeben. Der eingegebene Text wird bei jedem Angebot angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofile verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Einstellung ist ausschließlich dafür bestimmt, die real.de-Versandgruppen mit den plentymarkets Versandprofilen zu verknüpfen. Sind an einem Artikel mehrere Versandprofile gespeichert, wird das Versandprofil mit der niedrigsten Kategorie und der höchsten Priorität exportiert. Die Kategorie und Priorität des Versandprofils werden unter <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandprofile</strong> im jeweiligen Versandprofil im Tab <strong>Base</strong> eingestellt.<br>
<strong>Wichtig</strong>: Wenn die Versandgruppen auf real.de geändert werden, können sie über <strong>Versandgruppen aktualisieren</strong> aktualisiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Artikelverfügbarkeiten zu real.de übertragen werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentymarkets Artikelverfügbarkeiten mit Verfügbarkeiten von real.de aus der Dropdown-Liste verknüpfen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotsdatei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstellt eine Angebotsdatei. Diese kann über <strong>Vorschau Angebotsdatei</strong> angesehen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschau Angebotsdatei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorschau der Angebotsdatei anzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotsdatei zu real.de senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angebotsdatei zu real.de übertragen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du real.de in plentymarkets einrichtest, werden folgende Prozesse automatisch ausgeführt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Bestands- und Preisabgleich</p>
</li>
<li>
<p>täglicher Artikelexport (nur Artikel, bei denen die letzte Änderung innerhalb der letzten 26 Stunden vorgenommen wurde)</p>
</li>
<li>
<p>stündlicher Auftragsimport</p>
</li>
<li>
<p>stündliche Übermittlung der Markierung <strong>Versendet</strong> an real.de<br>
→ <strong>Versendet</strong> wird nach Buchung des Warenausgangs übermittelt.</p>
</li>
<li>
<p>Export von Aufpreisen für Attributwerte (Variantenartikel)</p>
</li>
<li>
<p>Übertragung des Beschreibungstexts, wie im Tab <strong>Texte</strong> eingegeben</p>
</li>
<li>
<p>Übertragung der technischen Daten, wie in Tabelle 1 gewählt</p>
</li>
<li>
<p>Bilderexport, wie im Tab <strong>Bilder</strong> des Artikels eingestellt</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit real.de verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft real.de aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für real.de aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>real.de</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf real.de verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für real.de einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>real.de</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf real.de verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
<div class="paragraph subhead">
<p>Weitere Voraussetzungen für die Artikelverfügbarkeit</p>
</div>
<div class="paragraph">
<p>Damit deine Artikel auf dem Marktplatz real.de verfügbar sind, müssen außerdem die folgenden Voraussetzungen erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Angabe einer <strong>EAN</strong> oder <strong>ISBN</strong> ist zwingend erforderlich. Ansonsten wird der Artikel nicht zu real.de übertragen.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>real.de</strong>.</p>
</li>
<li>
<p>Wähle das dazugehörige Marktplatzkonto.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft real.de einen Verkaufspreis festzulegen. Dieser Preis wird auf real.de angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für real.de festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Barcode festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft real.de einen Barcode festzulegen. Dieser Barcode wird für die Variante an real.de übertragen.</p>
</div>
<div class="paragraph instruction">
<p>Barcode für real.de festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Barcode » Barcode öffnen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/artikel/artikel-verwalten#250">Verknüpfe</a> den Barcode im Anschluss mit den gewünschten Varianten, falls noch nicht verknüpft.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Merkmale verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um <a href="/artikel/artikel-verwalten#480">Merkmale</a> für den Marktplatz real.de zu nutzen, verknüpfe die Merkmale mit real.de.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Öffne das Merkmal.</p>
</li>
<li>
<p>Aktiviere die Option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="550">8.1. plentymarkets-Merkmale mit real.de-Attributen verknüpfen</h3>
<div class="paragraph">
<p>Bei real.de hast du die Möglichkeit, Attribute durch plentymarkets-Merkmale zu überschreiben oder real.de-Attribute hinzuzufügen.<br>
<strong>Wichtig:</strong> Damit die plentymarkets-Merkmale im real.de-Export korrekt zugewiesen werden können, muss der interne Name des plentymarkets-Merkmals derselbe Name sein wie die Spaltenüberschrift in der Product.csv-Datei von real.de.<br>
Die real.de-Attribute ean (EAN), title (Titel), description (Beschreibung), manufacturer (Hersteller) und picture (Bild) sind für den Artikelexport Pflichtangaben und werden standardmäßig von plentymarkets übertragen. Diese können nur durch ein Merkmal überschrieben werden. Andere Attribute wie z.B. "material_composition", "clothing_size" oder "weight" können hinzugefügt werden, wenn ein entsprechendes Merkmal mit Namen in plentymarkets angelegt wird.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Pflichtangaben für den Artikelexport</div>
<div class="paragraph">
<p>Die real.de-Attribute <strong>ean</strong> (EAN), <strong>title</strong> (Titel), <strong>description</strong> (Beschreibung), <strong>manufacturer</strong> (Hersteller) und <strong>picture</strong> (Bild) sind für den Artikelexport Pflichtangaben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Merkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Name (intern)</strong> den Namen des real.de-Attributes ein.<br>
→ Die eingegebene Bezeichnung wird in der Artikelbearbeitung in der Merkmalverknüpfung angezeigt.</p>
</li>
<li>
<p>Gib einen Namen unter <strong>Webshop</strong> ein. <br>
→ Dieser Name wird in der Artikelübersicht im Webshop angezeigt.</p>
</li>
<li>
<p>Wähle den <strong>Merkmaltyp</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>real.de</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zur Merkmalverknüpfung bei real.de findest du auf der Best Practice-Seite <a href="#maerkte/real-de/best-practices-real-merkmalverknuepfung">Merkmale mit Attributen verknüpfen</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verknüpfe deine Webshop-Kategorien mit den Kategorien von real.de, damit deine Artikel in diesen Kategorien angezeigt werden. Weitere Artikel der verknüpften Kategorien werden automatisch zugewiesen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » real.de » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Das Fenster <strong>Kategorie wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die real.de-Kategorie, die am besten zu Ihrer Webshop-Kategorien passt.</p>
</li>
<li>
<p>Klicke auf <strong>Übernehmen</strong>.<br>
→ Die ID der real.de-Kategorie und der Kategoriepfad werden angezeigt.</p>
</li>
<li>
<p>Wenn du die ID der real.de-Kategorie bereits kennst, gib die ID in das Feld <strong>Marktplatzkategorie</strong> ein, um sie mit deiner Webshop-Kategorie zu verknüpfen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Unterkategorien müssen nicht verknüpft werden</div>
<div class="paragraph">
<p>Es kann vorkommen, dass deine Unterkategorien nicht mit denen von real.de übereinstimmen. Verknüpfe deine Artikel in diesem Fall mit der passenden Hauptkategorie von real.de. real.de ordnet deine Artikel automatisch einer Unterkategorie zu. Artikel, die keiner real.de-Kategorie zugeordnet wurden, solltest du nicht an real.de übertragen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>real.de Payment</strong> wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart real.de Payment aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Auch inaktive anzeigen</strong>.</p>
</li>
<li>
<p>Klicke auf den Ordner <strong>DE &gt; real.de Payment</strong>.<br>
→ Die Einstellungen für die real.de-Zahlungsart werden angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart">Tabelle 2</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.<br>
Wir empfehlen, <strong>Zahlung über real.de</strong> als Name einzugeben, da dieser Name auf der Rechnung erscheint.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keinen Mandanten wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standard-Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben.<br>
<strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="850">11. Rechnungsdokument bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei Rechnungen für real.de musst du zwei Anpassungen auf dem Rechnungsdokument vornehmen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gib für die Zahlungsart <a href="#800">real.de Payment</a> einen Hinweis ein.</p>
</li>
<li>
<p>Deine Bankdaten dürfen nicht auf Rechnungen für real.de stehen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wie du diese Anpassungen vornimmst, wird im Folgenden beschrieben.</p>
</div>
<div class="sect2">
<h3 id="860">11.1. Hinweis für Zahlungsart real.de Payment eingeben</h3>
<div class="paragraph">
<p>Auf Rechnungen für real.de muss der folgende Hinweis angegeben sein:</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweise für real.de-Rechnungen</div>
<div class="paragraph">
<p>Achtung! Bitte veranlassen Sie keine Zahlungen auf unser Konto. Die Bezahlung erfolgt an die real,- Digital Payment &amp; Technology Services GmbH. Sollten Sie per Klarna bezahlt haben, erhalten Sie eine separate Zahlungsanweisung von Klarna. Für weitere Informationen zu Klarna besuchen Sie <a href="https://www.klarna.com/de/" target="_blank" rel="noopener">www.klarna.de</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Hinweis für Zahlungsart real.de Payment eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Standard » Standorte » Deutschland (Standard) » Dokumente » Rechnung » Tab: Vorlage</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong> für die Option <strong>Zahlungshinweis</strong> den oben angegebenen Hinweis bei der Zahlungsart <strong>real.de Payment</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Hinweis wird nur bei Aufträgen, für die die Zahlungsart <strong>real.de Payment</strong> gespeichert ist, in der Rechnung angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="870">11.2. Bankdaten auf real.de-Rechnungen ausblenden</h3>
<div class="paragraph">
<p>Die Zahlung wird über real.de abgewickelt. Gib keine Bankdaten auf Rechnungen für real.de an, damit Kund*innen keine Zahlung an dich senden.<br></p>
</div>
<div class="paragraph">
<p>Wenn du deine Bankdaten über eine <a href="//auftraege/auftragsdokumente#1700">PDF-Vorlage</a> auf Rechnungsdokumenten anzeigen lässt, <a href="/auftraege/auftragsdokumente#1700">erstelle</a> eine weitere PDF-Vorlage für real.de, die keine Bankdaten enthält. Speichere optional für diese PDF-Vorlage das real.de-Logo. Speichere diese PDF-Vorlage im Menü <strong>Einrichtung » Mandant » Standard » Standorte » Deutschland (Standard) » Dokumente » Rechnung » Tab: PDF-Vorlage</strong> für die Zahlungsart <strong>real.de Payment</strong>. Deine Bankdaten werden dann nicht auf real.de-Rechnungen angezeigt.</p>
</div>
<div id="bild-real-logo" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/real_logo.jpg" alt="real logo">
</div>
<div class="title">Bild 1. real.de-Logo</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Bankdaten über Zahlungshinweis angeben</div>
<div class="paragraph">
<p>Wenn du deine Bankdaten im Menü <strong>Einrichtung » Mandant » Standard » Standorte » Deutschland (Standard) » Dokumente » Rechnung » Tab: Vorlage</strong> für die Option <strong>Zahlungshinweis</strong> eingegeben hast, musst du keine weiteren Einstellungen vornehmen, um die Bankdaten nicht für real.de-Rechnungen anzuzeigen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="890">12. Rechnungen automatisch erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, damit Rechnungen für real.de automatisch erstellt werden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-rechnungen-real">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-rechnungen-real">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Status und Filter für Ereignisaktion</div>
<div class="paragraph">
<p>Die in <a href="#ereignisaktion-rechnungen-real">Tabelle 3</a> aufgeführten Status und Filter dienen nur als Beispiel zum Erstellen einer Ereignisaktion. Wähle für die Ereignisaktion zum automatischen Erstellen einer Rechnung die Filter und Status, die am besten zu deinem Arbeitsablauf passen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="ereignisaktion-rechnungen-real" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Erstellen von real.de-Rechnungen</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: [7] Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumente &gt; Rechnung generieren</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">13. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um real.de automatisch über Stornierungen zu informieren. Bei Stornierungen muss ein Grund für die Stornierung an real.de übertragen werden. Erstelle im Menü <strong>Einrichtung » Aufträge » Auftragsstatus</strong> ggf. zusätzliche Auftragsstatus. Folgende Stornierungsgründe können an real.de übertragen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Umtausch durch Kund*in</p>
</li>
<li>
<p>Stornierung durch Kund*in</p>
</li>
<li>
<p>Falsche Lieferadresse</p>
</li>
<li>
<p>Falsche Artikelbeschreibung</p>
</li>
<li>
<p>Kund*in hat Ware nicht erhalten</p>
</li>
<li>
<p>Artikel ausverkauft</p>
</li>
<li>
<p>Falscher Verkaufspreis</p>
</li>
<li>
<p>Lieferadresse wird nicht beliefert</p>
</li>
<li>
<p>Sonstiger Grund</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierungen-real">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-stornierungen-real">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Wähle einen Grund.<br></p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierungen-real" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an real.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: Status [8] Storniert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Stornierung an real.de senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grund wählen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Retouren bei real.de</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Retouren bei real.de</div>
<div class="paragraph">
<p>Im Gegensatz zu anderen Marktplätzen können Retouren für real.de noch nicht mit einer Ereignisaktion über plentymarkets gesendet werden. Retouren für real.de bearbeitest du direkt in deinem real-Händlerkonto.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>