<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel und Varianten anlegen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du Artikel in plentymarkets importieren? Und um es noch spannender zu gestalten, verfügen diese Artikel über Farben und Größen. In diesem Video erfährst du, wie du mit ElasticSync arbeitest und Artikel in dein System bekommst!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/datenuebernahme/praxisbeispiele/artikel-und-varianten-anlegen-spaltenkoepfe#video">Spaltenköpfe (0:35)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/praxisbeispiele/artikel-und-varianten-anlegen-variantennummern#video">Variantennummern (1:41)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/praxisbeispiele/artikel-und-varianten-anlegen-attribute#video">Attribute (3:31)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/praxisbeispiele/artikel-und-varianten-anlegen-artikelbilder#video">Artikelbilder (4:26)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/praxisbeispiele/artikel-und-varianten-anlegen-kategorien#video">Kategorien (5:27)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/praxisbeispiele/artikel-und-varianten-anlegen-verkaufspreise#video">Verkaufspreise (6:37)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/337232941#at=101" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Du hast Artikel, die in dein System importiert werden müssen?
Und um den Spaß noch zu steigern, verfügen diese Artikel über verschiedene Größen und Farben?</p>
</div>
<div class="paragraph">
<p>Du weißt natürlich schon, dass der ElasticSync das optimale Werkzeug für diese Aufgabe ist. Aber vielleicht hattest du bisher noch nicht die Möglichkeit, mit einem realistischen Beispiel zu arbeiten.
In diesem Video zeigen wir dir Schritt für Schritt die Anlage von Artikeln und Varianten mit Hilfe des ElasticSyncs.
Dieses Video bezieht sich dabei auf einen Beispiel-Sync, den du herunterladen und in dein System importieren kannst.</p>
</div>
<div class="paragraph">
<p>Öffne auch die Beispiel-CSV-Datei und vergleiche die Spaltenüberschriften mit einer Datei deiner eigenen Artikel.
Keine Sorge, wenn du einige Abweichungen finden solltest.
Wie du in unserem Basic-Tutorial ja gelernt hast, ist es kein Problem, weitere Spalten mit Informationen hinzuzufügen.
Natürlich kannst du auch Spalten löschen, wenn das nötig ist. Allerdings solltest du darauf achten, dass du nicht fälschlicherweise die Attribute, die Standardkategorie, die Variantennummer oder die ID der Hauptvariante löschst.
Da die genannten Felder Pflichtfelder sind, wäre es verheerend, wenn du diese löschst. plentymarkets wäre nämlich nicht mehr in der Lage, einen korrekten Import zu gewährleisten.</p>
</div>
<div class="paragraph">
<p>Wenn du dann die Spalten deiner CSV-Datei mit den entsprechenden Datenfeldern innerhalb deines Systems verglichen hast, solltest du deinen Fokus auf den Inhalt deiner Datei legen.
Oder mit anderen Worten: Fülle doch die CSV-Datei mit Informationen wie der Artikelvariantennummer, den Attributen, Bildern, Kategorien und Verkaufspreisen.</p>
</div>
<div class="paragraph">
<p>Also zum Start die Variantennummer. Für unser Beispiel gehen wir davon aus, dass wir ein T-Shirt importieren, welches es in den Größen S und M und den Farben gelb und rot gibt.
Du willst jetzt natürlich alle vier möglichen Kombinationen ins System importieren.</p>
</div>
<div class="paragraph">
<p>Jede Variante bekommt dabei ihre eigene Nummer und wird mit dem Hauptartikel verknüpft.
Und das ist im Prinzip schon alles, was du dir merken musst, wenn du die Variantennummern in deine CSV-Datei einträgst.
Die Hauptvariante hat eine eindeutige Nummer, die du hier einträgst.</p>
</div>
<div class="paragraph">
<p>Aber auch für Varianten gibt es eine individuelle Nummer, die du dann hier eintragen kannst.
Schließlich wird jede Variante einem Hauptartikel zugeordnet. Dies passiert durch die Eingabe der Variantennummer des Hauptartikels hier.</p>
</div>
<div class="paragraph">
<p>So weit, so klar? Dann noch zwei kleine Hinweise, die du berücksichtigen solltest. Stelle zunächst sicher, dass du immer zuerst die ID des Hauptartikels eingebibst und erst im Anschluss folgen dann die einzelnen Varianten. Warum das so ist?
Ganz einfach, plentymarkets geht die Datei Zeile für Zeile durch. Zuerst wird also immer der Hauptartikel erstellt.
Und anschließend werden dann die individuellen Varianten basierend auf diesem Artikel erstellt.</p>
</div>
<div class="paragraph">
<p>Wenn du andersrum vorgehen würdest, würdest du plentymarkets befehlen, eine Variante für einen Hauptartikel zu erstellen, der aber noch nicht existiert. plentymarkets würde nicht verstehen, worum es geht, und die Daten würden nicht korrekt importiert.</p>
</div>
<div class="paragraph">
<p>Okay, das Zweite, was zu beachten ist: für den Import benötigst du nicht zwingend Variantennummern.
Wenn du noch keine eindeutigen VariantenIDs hast, lässt du dieses Teil einfach leer, und plentymarkets generiert beim Import automatisch eindeutige Variantennummern für dich.</p>
</div>
<div class="paragraph">
<p>Als nächstes. Attribute. Das hier sind also die Attribute - sie stellen hier Größe und Farbe dar.
Wenn du diese Attribute verknüpfst, erhältst du dann beispielsweise eine Variante wie kleines T-Shirt in rot.</p>
</div>
<div class="paragraph">
<p>Bevor du nun mit dem Importieren von Artikeln in plentymarkets beginnst, stelle erst sicher, dass du all die verschiedenen Attribute erstellt hast, die deine Artikel benötigen.
Dann geht es weiter zur Zuordnung, um zu entscheiden, wie die Attribute (wie Farbe) und die Werte (wie beispielsweise rot) festgelegt werden sollen.</p>
</div>
<div class="paragraph">
<p>Sobald du ein Format gewählt hast, fährst du damit fort, die Attribute und Werte in deine CSV-Datei einzutragen. Achte aber darauf, dass die Attribute in der CSV-Datei genauso geschrieben werden, wie in deinem plentymarkets System.
Außerdem ist es auch entscheidend, dass du auf die korrekte Groß- und Kleinschreibung achtest. Weiter mit den Bildern.</p>
</div>
<div class="paragraph">
<p>Unabhängig davon, ob du die Produktbilder deines Lieferanten oder selbst gemachte Fotos verwenden willst, ist es dein Ziel, die URL des Bildes zu erhalten.
Mit anderen Worten, dein Anbieter lädt möglicherweise Bilder auf einen FTP-Server hoch oder du lädst deine Bilder selber auf deinen Webspace.</p>
</div>
<div class="paragraph">
<p>Wie auch immer du an die Bild-URL kommst, trage diese einfach in deine CSV-Datei ein und entscheide, an welcher Stelle dein Kunde diese sehen soll.
Du entscheidest also, welches Bild als erstes, als zweites oder als drittes angezeigt wird.</p>
</div>
<div class="paragraph">
<p>Wenn du mehrere Bild-URLs für einen Artikel oder eine Variante hinterlegen möchtest, trenne die URLs einfach mit einem Komma voneinander.
Und noch ein Hinweis am Rande: Du kannst natürlich nicht nur Artikelbilder für den einen Artikel hochladen. Vielmehr kannst du deine Bilder auch mit deinen Varianten verknüpfen, sodass für ein gelbes T-Shirt das entsprechende Bild angezeigt wird.
Als nächstes schauen wir uns mal die Kategorien an.</p>
</div>
<div class="paragraph">
<p>Bevor du mit dem Import startest, solltest du sicherstellen, dass alle Kategorien im System bereits angelegt sind.
Natürlich hat auch jede Kategorie ihre individuelle ID und alles, was du in deiner CSV-Datei noch machen musst, ist, die KategorieID, in der dein Artikel aufgeführt werden soll, einzutragen.</p>
</div>
<div class="paragraph">
<p>Auch hier kannst du natürlich das Komma nutzen, um deine Kategorien zu trennen und den Artikel somit mehreren Kategorien zuzuordnen.
Damit der Import korrekt funktioniert, muss aber auch immer die Standardkategorie verknüpft sein!
Im Grunde genommen heißt das also: Deine Artikel liegen eigentlich nie in nur einer Kategorie!</p>
</div>
<div class="paragraph">
<p>Welche Kategorie am besten passt? Du hast die Wahl!
Später, wenn deine Kunden sich in deinem Webshop bewegen und nach deinen Artikeln suchen, wird im oberen Bereich in den Breadcrumbs die Standardkategorie angezeigt.
Da sich diese Einstellungen auf einen Online-Shop beziehen, manche Verkäufer aber über plentymarkets mehrere Mandanten verwalten, kannst du plentymarkets hier sagen, auf welchen Mandanten sich die Standardkategorie beziehen soll.
Zu guter Letzt sollten wir uns jetzt um die Verkaufspreise kümmern.</p>
</div>
<div class="paragraph">
<p>Vor dem Import solltest du auch hier sicherstellen, dass du alle deine Verkaufspreise bereits im System angelegt hast.
Im ElasticSync-Menü legst du dann fest, welcher Verkaufspreis beim Import genutzt werden soll.
Auch hier trägst du die entsprechenden Preise wieder in die CSV-Datei.
Übrigens solltest du hier darauf achten, dass das Trennzeichen des Preises korrekt gewählt ist.</p>
</div>
<div class="paragraph">
<p>Sehr gut! Den schwierigsten Teil der Aufgabe haben wir geschafft.
Auch wenn der Rest deiner Spalten eigentlich selbsterklärend sind, würde ich dir trotzdem empfehlen, einen Blick in unser Online-Handbuch zu werfen.
Hier findest du nämlich beispielsweise Informationen darüber, welche Formate Gewichte und Maße haben müssen, oder, dass die 1 Ja und die 0 Nein bedeutet, wenn du Artikelsichtbarkeiten für den Kunden festlegst.</p>
</div>
<div class="paragraph">
<p>An dieser Stelle bist du dann soweit, dass du deinen Import testen kannst!
Dadurch werden die ersten zehn Zeilen deiner Datei importiert und du kannst prüfen, ob das Ergebnis deinen Erwartungen entspricht.
Schauen wir’s uns an!</p>
</div>
<div class="paragraph">
<p>Wenn wir uns nun die CSV-Datei und die Artikel anschauen, finden wir in plentymarkets die passenden Datensätze.
Öffne doch einfach mal einen Artikel und schaue nach, ob alle wesentlichen Informationen vorhanden sind.
Zufrieden mit den Ergebnissen? Dann starte doch den eigentlichen Import!</p>
</div>
<div class="paragraph">
<p>Gratulation! Durch diese Voreinstellungen kannst du in Zukunft eine ganze Menge Zeit sparen.
Mit dem Import deiner CSV-Datei hast du also die Möglichkeit, schnell neue Artikel und Varianten in deinem plentymarkets System anzulegen!</p>
</div>
</div>
</div>
</main>