<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aufträge mit ElasticSync importieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du wechselst das System und willst deine Aufträge in plentymarkets importieren? Mit dem ElasticSync ist das ein Kinderspiel. Wir zeigen dir, wie du den Sync konfigurierst und worauf du achten musst, wenn du Aufträge importierst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/datenuebertragung/praxisbeispiele/auftraege-importieren-daten-in-datei#video">Daten in deiner Datei (1:58)</a></p>
<p class="tableblock"><a href="/videos/datenuebertragung/praxisbeispiele/auftraege-importieren-dummy-kunden#video">Dummy-Kunden anlegen (3:40)</a></p>
<p class="tableblock"><a href="/videos/datenuebertragung/praxisbeispiele/auftraege-importieren-neuen-sync-anlegen#video">Neuen Sync anlegen (5:55)</a></p>
<p class="tableblock"><a href="/videos/datenuebertragung/praxisbeispiele/auftraege-importieren-daten-zuordnen#video">Ordne deine Daten zu (7:38)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/340366613#at=220" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Du willst also Aufträge in dein plentymarkets System importieren? Vielleicht wechselst du grad von einer anderen Software zu plentymarkets. Und du möchtest, dass auch Aufträge aus deinem alten System in plentymarkets aufrufbar sind. Dein Interesse bezieht sich in diesem Fall nur darauf, wie oft bestimmte Artikel gekauft wurden.</p>
</div>
<div class="paragraph">
<p>Erstmal ist dir egal, wer den Artikel gekauft hat und was der Versand gekostet hat. Es ist relativ einfach, Aufträge nur mit den nötigsten Informationen zu importieren. Und genau das werde ich dir in diesem Video zeigen. Und natürlich gibt es viele andere Gründe, weshalb man Bestellungen importieren möchte. Du verkaufst beispielsweise Artikel auf einer Plattform, die nicht über ein Plugin oder eine Schnittstelle direkt mit plentymarkets verbunden ist. Wenn du diese Bestellungen dennoch in plentymarkets verarbeiten möchtest, musst du sie natürlich zunächst importieren. Außerdem ist es in diesem Fall wichtig zu wissen, wer den Artikel gekauft hat und wie der Artikel versendet werden soll. Natürlich ist es möglich, all das auch abzubilden. Allerdings ist dies etwas komplexer und würde den Rahmen dieses Videos sprengen. Wir konzentrieren uns also auf ein einfacheres Beispiel. Am besten zeige ich dir erstmal, welche Informationen in deiner CSV-Datei vorhanden sein müssen und welche Einstellungen du für den Abgleich und die Zuordnung in plentymarkets hinterlegen musst.</p>
</div>
<div class="paragraph">
<p>Bist du bereit? Dann lass uns gleich loslegen! Wenn du die Darstellung von Aufträgen in plentymarkets noch nicht kennst, solltest du dir zunächst die Auftragsübersicht ansehen.
Hier wirst du zunächst feststellen, dass jeder Auftrag eine eindeutige ID erhält und du sofort erkennen kannst, wer die Bestellung getätigt hat. Außerdem siehst du auf den ersten Blick, welche Artikel der Auftrag beinhaltet und wo die Bestellungen getätigt wurden, bzw. über welchen Marktplatz sie eingegangen sind.</p>
</div>
<div class="paragraph">
<p>Wenn du also deine Aufträge in plentymarkets importieren willst, solltest du auch all diese Informationen in deiner CSV-Datei eingetragen haben. Wahrscheinlich hattest du schon in der alten Software eine ID für deine Aufträge.
Und da auch jeder Artikel deiner Bestellung über eine ID verfügt, muss auch diese in die CSV-Datei eingetragen werden
Um es ein bisschen verständlicher zu machen importieren wir zwei unterschiedliche Aufträge.</p>
</div>
<div class="paragraph">
<p>Der erste Auftrag enthält drei Artikel. Der andere Auftrag hingegen enthält zwei Artikel. In deiner CSV-Datei trägst du jetzt jede Artikel-ID in eine eigene Zeile ein. In den ersten drei Zeilen befinden sich dann also die drei Artikel des ersten Auftrages.
Und in den weiteren beiden Zeilen die des zweiten Auftrages. Vorsicht ist geboten, wenn du externe Auftragsnummern eingibst. Du solltest sicher sein, dass du eindeutige IDs verwendest - also solche, die noch nicht in plentymarkets vorhanden sind.</p>
</div>
<div class="paragraph">
<p>Es ist aber eigentlich auch ziemlich simpel generische IDs in eindeutige IDs zu verwandeln. Du kannst den IDs nämlich ganz einfach ein Präfix voranstellen. Als Nächstes möchtest Du vielleicht weitere Informationen zu den gekauften Artikeln hinterlegen. Gib beispielsweise hier einfach den Artikelnamen ein wieviele Artikel der Käufer gekauft hat den Artikelpreis die Währung und um welche Art es sich bei dem Artikel handelt. Hier hinterlegst du beispielsweise eine 1, wenn es sich um einen normalen Artikel handelt. Oder eine andere ID, wenn es sich um einen Gutschein oder einen Teil eines Artikelpaketes handelt.</p>
</div>
<div class="paragraph">
<p>Schaue doch einfach in unserem Online-Handbuch nach, welche Arten von Artikeln es gibt und welchen IDs sie entsprechen. Am besten schaust du auch direkt mal nach, welche Auftragsarten es gibt und trägst die entsprechenden IDs in deine CSV-Datei ein.
An dieser Stelle sprechen wir ein wenig über Kunden.</p>
</div>
<div class="paragraph">
<p>Nochmal zur Erinnerung, unser Beispiel bezieht sich nur auf  den Import der Verkaufshistorie aus deinem alten System. Dabei ist es erstmal egal, wer die Artikel tatsächlich gekauft hat, da wir die Bestellungen bereits versendet haben und sie nicht erneut versenden müssen. Natürlich müssen Artikel aber an irgendwen verkauft werden. Ein Geist kann gewöhnlich ja nichts kaufen. Lösen kannst du diesen Umstand indem du einen Dummy-Kunden erstellst. Wenn du bisher noch keinen Dummy-Kunden angelegt hast kannst du das im Bereich CRM&gt;Kontakte direkt nachholen. Die Felder hier sind sicher selbsterklärend. Sicherstellen musst du nur, das sowohl eine Rechnungs- sowie eine Lieferadresse hinterlegt ist. Alternativ kannst du auch hier Häkchen setzen um für beide Zwecke ein und die selbe Adresse zu nutzen.</p>
</div>
<div class="paragraph">
<p>Wenn du den Dummy-Kunden erstellt hast klickst du auf die Adressen und kannst dann hier die IDs der Rechnungs- und Lieferadresse entnehmen
Dann gibst du diese IDs in deine CSV-Datei ein. Ähnlich wie du einen Dummy-Kundendatensatz verwendest kannst du auch eine Standard-Zahlungsart benutzen.</p>
</div>
<div class="paragraph">
<p>Plentymarkets selber verfügt bereits über eine Standardzahlungsart. Eventuell musst du die Zahlungsart noch aktivieren und speichern, falls die Zahlungsart noch nicht aktiviert wurde. Diese Zahlungsart hat die ID 26, welche du dann auch in deine CSV-Datei übertragen kannst.
Zu guter Letzt möchtest du vielleicht doch die Herkunft des Auftrages importieren. Vielleicht möchtest du also angeben, dass alle Aufträge mit dem ElasticSync ins System gekommen sind. Für den Fall kannst du dir ganz einfach die Herkunft ElasticSync anlegen.</p>
</div>
<div class="paragraph">
<p>Gib der Herkunft einfach einen eindeutigen Namen aktiviere sie und speichere die Einstellungen. Die Herkunft wird dann erstellt und bekommt direkt eine ID welche du natürlich auch wieder in deine CSV-Datei einträgst. Und an dieser Stelle möchte ich noch eine Sache erwähnen, die damit auch verbunden ist. Du hast jetzt IDs für alle in den Bestellungen enthaltenen Artikel eingegeben. Da du diese Artikel mit der ElasticSync-Herkunft verwenden möchtest musst du natürlich am Artikel auch die Herkunft aktivieren.</p>
</div>
<div class="paragraph">
<p>Nun bist du dann bereit die CSV-Datei zu speichern und einen neuen Sync in plentymarkets anzulegen.
Du bist dir nicht sicher, wie du das machst? Dann schaue dir doch nochmal unser Basic-Video an. Wenn du die Daten abgleichst, legst du als erstes fest, mit welchem Auftrag du arbeitest. Nutze also das Dropdown-Menü "Aufträge", um in plentymarkets einzustellen, in welcher Spalte deiner CSV-Datei die externe Auftrags-ID enthalten ist. Dann legst du auch fest, dass diese Nummer beim Erstellen neuer Aufträge als externe Auftrags-ID gespeichert werden soll.</p>
</div>
<div class="paragraph">
<p>Okay, jetzt, da wir in plentymarkets eingestellt haben, mit welchem Auftrag wir arbeiten, besteht unser zweites Ziel darin, anzugeben, welche Artikel wir in dieser Bestellung betrachten. Wir wählen also die Spalte aus, in der die Varianten-ID eingetragen ist und legen in plentymarkets fest, diese Nummer als als Varianten-ID zu speichern.
Kleine Notiz am Rande: Wenn du die internen Varianten-IDs von plentymarkets nicht kennst, wählst du stattdessen möglicherweise die GTIN. Du solltest aber vorsichtig sein, die GTIN muss in plentymarkets nicht unbedingt eine eindeutige Nummer sein. Es besteht also die Möglichkeit, dass in deinem System Duplikate vorhanden sind.</p>
</div>
<div class="paragraph">
<p>Anschließend stellst du sicher, dass du neue Daten importierst und vorhandene aktualisierst. Warum das so ist? ElasticSync geht deine Datei Zeile für Zeile durch. In der erste Zeile wird also ein neuer Auftrag mit dem ersten gekauften Artikel erstellt. In der zweiten Zeile wird dann der vorhandene Auftrag aktualisiert, indem der zweite gekaufte Artikel hinzugefügt wird.
An dieser Stelle können wir dann mit der Zuordnung beginnen.</p>
</div>
<div class="paragraph">
<p>Die externe Auftrags-ID haben wir ja genutzt um Daten abzugleichen. Jetzt nutzen wir sie außerdem noch zur Zuordnung.
Anders sieht es aber bei der Varianten-ID aus. Diese benötigen wir nicht und wir können die Spalte hier löschen.
Weiter geht es mit der Zuordnung der übrigen Artikelinformationen. Also dem Artikelnamen der Menge dem Preis der Währung sowie dem Artikeltyp.</p>
</div>
<div class="paragraph">
<p>Der Auftragstyp die AdressIDs die Zahlungsart und die Herkunft sind natürlich selbsterklärend. Gib aber auf jeden Fall an, dass die ID sich auf die Rechnungs- und Lieferadresse bezieht. Und dass dieser Wert hier sich auf die Zahlungsart bezieht.</p>
</div>
<div class="paragraph">
<p>Ein letztes Pflichtfeld gibt es aber noch. Die ID deines plentysystems. Wenn du nur mit einem System arbeitest ändert sich diese ID nicht.
In unserem Fall ist es also nicht sinnvoll eine spalte mit einer Menge IDs einzufügen. Benutze doch stattdesse die Funktion Eigener Wert, gib dann hier die ID deines plentysystems ein und ordne den Wert dem Datenfeld plenty-ID zu.</p>
</div>
<div class="paragraph">
<p>Jetzt heißt es noch Datenfelder aktivieren die Einstellungen speichern und den Import testen. Schauen wir uns an, ob die Aufträge korrekt importiert sind. Wenn du jetzt suchst solltest du die neuen Aufträge sehen. Das Gewicht zieht sich das System übrigens direkt vom Artikel und auch das Lager wurde automatisch zugeordnet. Wie du siehst haben wir die Aufträge ohne Versandkosten importiert. Hier wird übrigens der Dummy-Kunde, den wir eben angelegt haben für den Auftrag genutzt. Und beide Aufträge erhalten automatisch den Status 3.</p>
</div>
<div class="paragraph">
<p>Alles klar! Die ersten Schritte zum Auftragsimport sind geschafft. Nachdem du das “wie” verstanden hast kannst du dich ja mit weiteren Importen beschäftigen und beispielsweise deine gesamte Verkaufshistorie importieren.</p>
</div>
</div>
</div>
</main>