<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Syncs importieren und exportieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du Daten schnell in dein plentymarkets System importieren? Um Zeit zu sparen, kannst du vorkonfigurierte Sync-Vorlagen aus dem Online-Handbuch herunterladen und in plentymarkets importieren.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/342189758" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Die Medaille hat immer zwei Seiten.
Auf der einen Seite kannst du mit dem ElasticSync eine Menge Zeit sparen, wenn du ihn nutzt, um große Mengen an Daten in dein System zu importieren.
Auf der anderen Seite dauert es natürlich eine gewisse Zeit, einen neuen Sync so anzulegen, wie wir es dir in unserem Basic-Tutorial erklären.
Da muss es doch auch einen schnelleren Weg geben. Und ja, den gibt es!</p>
</div>
<div class="paragraph">
<p>In diesem Video zeigen wir dir deshalb, wie du vorkonfigurierte Syncs in dein System importierst und was du noch tun musst, um einiges an Zeit zu sparen.
Hört sich gut an! Aber was genau sind vorkonfigurierte Syncs?</p>
</div>
<div class="paragraph">
<p>Wir stellen uns folgendes vor: Das Support-Team von plentymarkets hat einen neuen Sync für dich erstellt.
Der Sync verfügt auch schon über alle wesentlichen Abgleich- und Zuordnungs-Einstellungen!</p>
</div>
<div class="paragraph">
<p>Schau doch einfach mal in unserem Handbuch nach. Dort wirst du einige sinnvolle Beispielsyncs finden.
Alles was du tun musst, ist es dir die JSON-Datei auf deinen Rechner herunterzuladen, sie zu entpacken und sie dann in dein plentymarkets System zu importieren.
Der Upload selber ist dabei wirklich ziemlich einfach und die Popups hier sollten dir auch schon bekannt vorkommen.</p>
</div>
<div class="paragraph">
<p>Jetzt musst du nur noch die JSON finden, sie öffnen und dann hier im PopUp-Fenster öffnen.
Hast du die URL hier gesehen? Dann kannst du den Importvorgang abschließen, indem du hier klickst!</p>
</div>
<div class="paragraph">
<p>Es könnte sein, dass du jetzt eine Fehlermeldung oder eine Warnung angezeigt bekommst. Aber keine Panik!
Im Wesentlichen sagt diese nur, dass es sich bei deiner Datei um eine Vorlage handelt und du die Einstellungen noch nach deinen Bedürfnissen anpassen musst.
Wenn du das Menü jetzt neu lädst, stellst du fest, dass der Sync in dein System importiert wurde und du die vorkonfigurierten Einstellungen anpassen kannst. Hier gibt es natürlich ein weiteres Video, dass ich dir ans Herz legen kann.</p>
</div>
<div class="paragraph">
<p>Genauso, wie du Syncs importieren kannst, die andere erstellt haben, kannst du auch deine Syncs exportieren.
Wähle einfach den Sync, den du exportieren möchtest und klicke dieses Icon, um die JSON-Datei auf deinem Rechner zu speichern.
Anschließend kannst du deinen Sync raus in die Welt entlassen!
Verschwende also keine Zeit! Durch das Im- und Exportieren von Syncs kannst du mit der Synchronisation blitzschnell starten!</p>
</div>
</div>
</div>
</main>