<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Eigene Bankdaten speichern</span></a></li>
<li><a href="#20"><span>2.</span><span> Alter Webshop: Eigene Bankdaten im Webshop anzeigen</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Kategorie Bankdaten anpassen</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Bankdaten im Bestellvorgang anzeigen</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Bankdaten in der Auftragshistorie anzeigen</span></a></li>
<li><a href="#60"><span>2.4.</span><span> Landesspezifische Bankdaten anzeigen</span></a></li>
</ul>
</li>
<li><a href="#63"><span>3.</span><span> Bankdaten von Kunden speichern</span></a></li>
<li><a href="#67"><span>4.</span><span> Bankdaten migrieren</span></a></li>
<li><a href="#70"><span>5.</span><span> EBICS einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>5.1.</span><span> EBICS bei deiner Bank beantragen</span></a>
<ul class="sectlevel3">
<li><a href="#90"><span>5.1.1.</span><span> Kontonummern</span></a></li>
<li><a href="#100"><span>5.1.2.</span><span> Auszugsbereitstellung</span></a></li>
<li><a href="#110"><span>5.1.3.</span><span> Teilnehmer</span></a></li>
<li><a href="#120"><span>5.1.4.</span><span> Auftragstyp</span></a></li>
</ul>
</li>
<li><a href="#140"><span>5.2.</span><span> EBICS-Konto in plentymarkets anlegen</span></a></li>
<li><a href="#150"><span>5.3.</span><span> Einstellungen am EBICS-Konto vornehmen</span></a></li>
<li><a href="#170"><span>5.4.</span><span> Freischaltung durch deine Bank</span></a></li>
<li><a href="#180"><span>5.5.</span><span> Abrufintervalle für Transaktionen</span></a></li>
<li><a href="#190"><span>5.6.</span><span> Abrufintervalle Vormerkposten</span></a></li>
</ul>
</li>
<li><a href="#200"><span>6.</span><span> SEPA-Lastschriftmandat einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#210"><span>6.1.</span><span> Dokumentenvorlage erstellen</span></a></li>
<li><a href="#215"><span>6.2.</span><span> PDF-Vorlage hochladen</span></a></li>
<li><a href="#220"><span>6.3.</span><span> E-Mail-Vorlage erstellen</span></a></li>
<li><a href="#230"><span>6.4.</span><span> E-Mail-Vorlage per Ereignisaktion versenden</span></a></li>
<li><a href="#240"><span>6.5.</span><span> E-Mail-Vorlage per  Gruppenfunktion versenden</span></a></li>
<li><a href="#250"><span>6.6.</span><span> SEPA-Zahlungsverkehr in den Bankdaten aktivieren</span></a></li>
<li><a href="#260"><span>6.7.</span><span> Alter Webshop: Download im Mein-Konto-Bereich aktivieren</span></a></li>
<li><a href="#270"><span>6.8.</span><span> SEPA-Zahlungsverkehr automatisieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Bankdaten verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erfährst du, wie du deine <a href="/payment/bankdaten-verwalten#10">Bankinformationen</a> und die <a href="/payment/bankdaten-verwalten#63">Bankdaten deiner Kunden</a> in plentymarkets speicherst, wie du Bankdaten im <a href="/payment/bankdaten-verwalten#20">Webshop sichtbar machst</a> und wie du <a href="/payment/bankdaten-verwalten#70">EBICS</a> und <a href="/payment/bankdaten-verwalten#200">SEPA</a> einrichtest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Eigene Bankdaten speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Bankdaten, die in den Grundeinstellungen zentral gepeichert werden, sind im gesamten System verknüpft. Eine Korrektur der Bankdaten ist ausschließlich im Menü <strong>Einrichtung » Einstellungen » Bank</strong> vorzunehmen. Änderungen wirken sich auf das gesamte System aus.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Bank</strong>.</p>
</li>
<li>
<p>Gib deine Bankdaten ein. Beachte dazu die Erläuterungen in <a href="#tabelle-bankdaten-speichern">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-bankdaten-speichern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Bankdaten speichern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontoinhaber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname und Name des Kontoinhabers eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankAccountOwner</strong> nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontonummer eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankAccount</strong> nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BLZ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bankleitzahl eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankCode</strong> nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Bank eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankName</strong> nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internationale Bankleitzahl eingeben. Für die Anzeige im Design die Template-Variable <strong>$BankIban</strong> nutzen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Alter Webshop: Eigene Bankdaten im Webshop anzeigen</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Anleitungen nur für Callisto Shops</div>
<div class="paragraph">
<p>Die folgenden Kapitel beschreiben ausschließlich die Einstellungen zur Anzeige der Bankdaten in Callisto Shops. Die Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Kategorie <strong>Bankdaten</strong> dient dazu, Informationen zu deiner Bankverbindung im Callisto Webshop anzuzeigen. Deine Bankverbindung benötigt ein Käufer, wenn er z.B. per Vorkasse bezahlen möchte. Die Bankdaten werden im Bestellvorgang bei Wahl der Zahlungsart Vorkasse sowie in der <strong>Auftragshistorie</strong> nach einer Bestellung per Vorkasse oder auf Rechnung angezeigt, um dem Käufer die Informationen zur Zahlung zu geben. Die Kategorie <strong>Bankdaten</strong> kann Angaben zu mehreren Konten für In- und Ausland enthalten.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Kategorie Bankdaten anpassen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Kategorie <strong>Bankdaten</strong> anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne den Ordner des Designs, das du bearbeiten möchtest, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Nimm die Anpassungen an der Beschreibung vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zu den Einstellungen für Kategorien findest du unter <a href="/artikel/kategorien-verwalten#_kategorie_bearbeiten">Kategorien bearbeiten</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Bankdaten im Bestellvorgang anzeigen</h3>
<div class="paragraph">
<p>Wie du die Kategorie <strong>Bankdaten</strong> bei der Zahlungsart Vorkasse hinterlegst, ist im Folgenden beschrieben. Die Verknüpfung erfolgt genauso bei der Zahlungsart Rechnung.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie an der Zahlungsart hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf die Zahlungsart.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle bei der Option <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Intern)</strong>.</p>
</li>
<li>
<p>Klicke unter <strong>Infoseite (Intern)</strong> auf <strong>Bearbeiten</strong>.<br>
→ Das Fenster <strong>Artikelvorlage wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die Kategorie <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Wählen</strong>.<br>
→ Die Infoseite wird mit der Zahlungsart verknüpft.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Aktiviere <strong>Bankdaten anzeigen</strong> und <strong>Verwendungszweck anzeigen</strong>.<br>
→ Im Bestellvorgang wird bei Wahl der Zahlungsart Vorkasse ein Link zu den Informationen eingeblendet.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/DE-Bankdaten-Bestellvorgang.png" alt="DE Bankdaten Bestellvorgang">
</div>
<div class="title">Bild 1. Link zur Kategorie <strong>Bankdaten</strong> im Bestellvorgang</div>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Bankdaten in der Auftragshistorie anzeigen</h3>
<div class="paragraph">
<p>Nimm die oben beschriebenen Einstellungen auch bei der Zahlungsart Rechnung vor, um die Bankdaten nach einer Bestellung in der <strong>Auftragshistorie</strong> anzuzeigen. Wenn du die Option <strong>Verwendungszweck anzeigen</strong> aktiviert hast, wird die Auftrags-ID in der <strong>Auftragshistorie</strong> bei den Bankdaten angezeigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/DE-Bankdaten-Auftragshistorie.png" alt="DE Bankdaten Auftragshistorie">
</div>
<div class="title">Bild 2. Bankdaten in der Auftragshistorie</div>
</div>
</div>
<div class="sect2">
<h3 id="60">2.4. Landesspezifische Bankdaten anzeigen</h3>
<div class="paragraph">
<p>Mit einer If-Abfrage ist es möglich, nur die Bankdaten des Lieferlandes anzuzeigen. So bekommt ein Käufer in Deutschland nur deine deutschen Kontodaten angezeigt, ein Kunde in der Schweiz nur die schweizerischen Kontodaten. Du benötigst dazu die Template-Variable <strong>$CustomerShippingCountry</strong>, die den Inhalt nur dann ausgibt, wenn das entsprechende Lieferland gewählt wurde. Die ID der Lieferländer findest du im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Lieferländer</strong>. Füge den folgenden Code in die Kategorie <a href="/payment/bankdaten-verwalten#30">Bankdaten</a> ein. Füge ggf. weitere Lieferländer mit der passenden ID hinzu.</p>
</div>
<div class="paragraph subhead">
<p>Code-Beispiel für die Anzeige der Bankdaten des Lieferlandes</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; if $CustomerShippingCountry==1 &#37;&#125;
Name Ihrer Bank in Deutschland
BLZ
Konto
Tragen Sie den Verwendungszweck ein, damit wir die Zahlung zuordnen können.
&#123;&#37; endif &#37;&#125;

&#123;&#37; if $CustomerShippingCountry==4 &#37;&#125;
Name Ihrer Bank in der Schweiz
BLZ
Konto
Tragen Sie den Verwendungszweck ein, damit wir die Zahlung zuordnen können.
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="63">3. Bankdaten von Kunden speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Einstellungen</strong> in einem Kundendatensatz kannst du die Bankdaten des Kunden speichern und bei Bedarf löschen. Die Bankdaten benötigst du z.B. für die Zahlungsart <a href="/payment/zahlungsarten-verwalten#40">Lastschrift</a>. In plentymarkets gibt es auch eine <a href="/payment/zahlungen-verwalten#10">Importfunktion</a> der Bankdaten. Beachte dabei jedoch die aktuelle Rechtslage, auch in anderen Lieferländern.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Abo-Aufträge beachten</div>
<div class="paragraph">
<p>Beachte, dass die hier hinterlegten Bankdaten auch für Abo-Aufträge mit der Zahlungsart <strong>Lastschrift</strong> verwendet werden. Wenn du Bankdaten löschst, die mit einem solchen Abo-Auftrag verbunden sind, wird die Zahlungsart im <a href="/auftraege/scheduler">Scheduler</a> auf die für den jeweiligen Mandanten (Shop) festgelegte <a href="/payment/zahlungsarten-verwalten#25">Standard-Zahlungsart</a> zurückgesetzt. Der Abo-Auftrag wird dann nicht mehr per Bankeinzug beglichen. Lösche die Bankdaten in einem solchen Fall daher nur, wenn dies wirklich erforderlich ist, und hinterlege wenn möglich neue Bankdaten für den Kunden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Bankdaten des Kunden speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suche den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicke im Kontextmenü auf <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-bankdaten-kunden-speichern">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-bankdaten-kunden-speichern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Bankdaten für Kunden speichern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN;<br>
BIC;<br>
Kontoinhaber;<br>
Kontonummer;<br>
BLZ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bankdaten des Kunden eingeben.<br>
Wenn IBAN und BIC manuell eingegeben werden, werden sie mit cKonto geprüft. Bei Fehlern wird eine Meldung angezeigt.<br>
Wenn die Kontonummer und die BLZ in den Bankdaten hinterlegt sind, können IBAN und BIC mittels eines automatischen Migrationsprozesses eingetragen werden. Weitere Informationen dazu im Kapitel <strong>Bankdaten migrieren</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA-Lastschriftmandat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn der Kunde das SEPA-Lastschriftmandat unterschrieben hat.<br>
<strong><em>Wichtig:</em></strong> Erst nach dem Aktivieren der Option können die pain.008-Formate für den <a href="/payment/bankdaten-verwalten#200">SEPA-Zahlungsverkehr</a> abgerufen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art des Mandats</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA-Basis-Lastschrift</strong> = Mit der Einzugsermächtigung (Standard-Kunden) vergleichbares Mandat.<br>
<strong>SEPA-Firmen-Lastschrift</strong> = Mit dem Abbuchungsauftrag (Firmen-Kunden, B2B) vergleichbares Mandat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausführungsmodalität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einmalige Zahlung</strong> = Typischerweise verwendet für Standard-Aufträge.<br>
<strong>Wiederkehrende Zahlung</strong> = Typischerweise verwendet für regelmäßige Abbuchungen, Abo-Verträge etc.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="67">4. Bankdaten migrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um den Zahlungsverkehr mit deinen Kunden auf SEPA umzustellen, migriere die Bankdaten der Kunden, die per Lastschrift bezahlen. Das sind Kunden, die die Zahlungsart Lastschrift nutzen oder für die Abo-Aufträge im Menü <strong>Scheduler</strong> eingerichtet sind.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten migrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Daten » Migration</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Bankdaten</strong> auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-migration-bankdaten">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Migration durchzuführen.</p>
</li>
<li>
<p>Prüfe nach der Migration die Kundendaten im <strong>Tab: Einstellungen » Tab: Bankdaten</strong>.</p>
</li>
</ol>
</div>
<table id="tabelle-migration-bankdaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Migration von Bankdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der im System vorhandenen Bankdaten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ohne IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bankdaten, für die keine SEPA-Daten vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bankverbindungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Bankverbindungen migriert werden sollen.<br>
<strong>Nur Bankverbindungen ohne IBAN/BIC</strong> = Nur Bankdaten, bei denen IBAN und BIC nicht vorhanden sind, werden migriert.<br>
<strong>Alle Bankdaten</strong> = Alle Bankdaten werden migriert. Wählen, wenn nicht sicher ist, ob die Bankdaten alle korrekt sind. Bei der Migration erfolgt eine Prüfung im Hintergrund durch cKonto, sodass eventuelle Fehler gemeldet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Datensätze wählen, die migriert werden sollen.<br>
<strong>Alle</strong> = Alle Datensätze werden migriert.<br>
<strong>500</strong> = 500 Datensätze werden migriert. Wenn sehr viele Bankdaten migriert werden müssen, <strong>500</strong> wählen, damit die Migration unterteilt wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">5. EBICS einrichten</h2>
<div class="sectionbody">
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Integration per Plugin</div>
<div class="paragraph">
<p>Die EBICS-Integration in plentymarkets erfolgt über das EBICS-Plugin, das im <a href="https://marketplace.plentymarkets.com/plugins/payment/Ebics_5098" target="_blank" rel="noopener">plentyMarketplace</a> verfügbar ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>EBICS (Electronic Banking Internet Communication Standard) bezeichnet einen in Deutschland multibankfähigen Standard für die Übertragung von Zahlungsverkehrsdaten über das Internet. Durch die Umstellung auf das standardisierte EBICS-Verfahren wird der Abruf von Zahlungen vereinfacht und einheitlich. Das Plugin integriert EBICS vollständig in plentymarkets. Somit ist der Umweg über Drittanbieter nicht nötig.
Für die Kommunikation per EBICS werden deine Umsätze in einer Datei ähnlich einem Kontoauszug bei deiner Bank gespeichert. Die Datei wird von plentymarkets importiert und die Umsätze werden in deinem plentymarkets System gebucht. Das verknüpfte EBICS-Konto stellt eine Art Verbundkonto dar, das mehrere Bankkonten umfassen kann. Täglich wird eine Datei mit allen Umsätzen des EBICS-Kontos erzeugt. Diese Datei kann dann nachts abgerufen werden und am nächsten Morgen stehen alle Eingänge des Tages zur Verfügung. Außerdem werden täglich mehrere Dateien mit Vormerkposten erzeugt, die ebenfalls abgerufen werden können, um die Vormerkposten in dein plentymarkets System einzubuchen.</p>
</div>
<div class="sect2">
<h3 id="80">5.1. EBICS bei deiner Bank beantragen</h3>
<div class="paragraph">
<p>Zuerst beantragst du bei deiner Bank einen EBICS-Zugang. Du erhältst daraufhin Unterlagen von deiner Bank, die du ausfüllst und an die Bank zurückschickst. Die nachfolgenden Angaben in den Unterlagen sind für EBICS Pflicht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bestehende EBICS-Konten</div>
<div class="paragraph">
<p>Bereits bestehende und verwendete EBICS-Konten dürfen nicht in plentymarkets eingerichtet werden. Ein EBICS-Konto kann mehrere Benutzer, Teilnehmer genannt, haben. Beantrage also ggf. einen neuen Teilnehmer (auch techn. Teilnehmer möglich), den du ausschließlich für plentymarkets verwendest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="90">5.1.1. Kontonummern</h4>
<div class="paragraph">
<p>Gib die Kontonummern der Konten ein, für die der Abruf der Umsätze in plentymarkets eingebucht werden soll. Die Angabe von Kontonummern ist optional, da der Abruf technisch über die Benutzerdaten erfolgt. Weitere Informationen zur Angabe bzw. Nichtangabe von Kontonummern findest du in <a href="#tabelle-bankdaten-auszugsbereitstellung">Tabelle 4</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nur Geschäftskonten hinterlegen</div>
<div class="paragraph">
<p>Es besteht in plentymarkets derzeit keine Möglichkeit, einzelne Konten individuell für den EBICS-Abruf einzurichten. Das heißt, dass die Zahlungsvorgänge deiner Bank nur global für alle angegebenen Konten des plentymarkets Systems abgerufen werden können. Dazu zählen z.B. auch Zahlungsvorgänge deines Privatkontos, falls dieses hinterlegt wurde. Um dies zu vermeiden, hinterlege nur die Kontonummern der Geschäftskonten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Gleiches Konto für mehrere Benutzer</div>
<div class="paragraph">
<p>Verweisen mehrere Benutzer auch aus verschiedenen plentymarkets Systemen auf dasselbe Konto (bei vielen Banken werden mehrere Konten auch in einem Verbundskonto geführt), kann dies zu Problemen beim Abruf führen, wenn die Aufrufe parallel laufen. Dies lässt sich derzeit nicht abfangen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="100">5.1.2. Auszugsbereitstellung</h4>
<div class="paragraph">
<p>Die Auszugsbereitstellung kann entweder buchungstagsorientiert oder auszugsorientiert erfolgen.</p>
</div>
<table id="tabelle-bankdaten-auszugsbereitstellung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Auszugsbereitstellung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Buchungstagsorientiert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine fiktive fortlaufende Auszugsnummer wird mitgeliefert. Diese Einstellung ist standardmäßig voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auszugsorientiert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die effektive Auszugsnummer wird mitgeliefert. Voraussetzung hierfür ist eine tägliche automatische Auszugserstellung.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="110">5.1.3. Teilnehmer</h4>
<div class="paragraph">
<p>Bei der Umstellung deiner Konten auf EBICS erstellst du für deine Konten einen oder mehrere <a href="/basics/admin-aufgaben/benutzer-verwalten#10">Benutzer</a>. Benutzer werden unter EBICS als Teilnehmer bezeichnet. Du kannst Teilnehmer mit unterschiedlichen Auftragstypen anlegen. Von diesen Teilnehmern muss ein Teilnehmer mittels der von der Bank erhaltenen <strong>Teilnehmer-ID</strong> im plentymarkets System gespeichert werden.</p>
</div>
<div class="paragraph">
<p>plentymarkets benötigt nur einen Teilnehmer, z.B. einen technischen Teilnehmer mit den niedrigsten Berechtigungen, um den EBICS-Zahlungsabruf durchzuführen. Pro EBICS-Konto darf nur ein Teilnehmer eingerichtet werden.</p>
</div>
</div>
<div class="sect3">
<h4 id="120">5.1.4. Auftragstyp</h4>
<div class="paragraph">
<p>In der folgenden <a href="#tabelle-auftrag-unterschrift-typen">Tabelle 5</a> werden die Auftragstypen erläutert, die plentymarkets für einen erfolgreichen Abruf der Buchungen deines EBICS-Kontos benötigt. Beachte zudem die Erläuterungen zu den Auftrags- und Unterschriftstypen im Formular deiner Bank.</p>
</div>
<table id="tabelle-auftrag-unterschrift-typen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Auftrags- und Unterschriftstypen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tagesumsätze <strong>MT940</strong> bzw. <strong>CAMT053</strong>. Der <a href="/payment/bankdaten-verwalten#180">Abruf der Transaktionen</a> erfolgt am Ende des Tages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VMK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vormerkposten <strong>MT942</strong> bzw. <strong>CAMT052</strong>. Vormerkposten der Transaktionen, die von Bank zu Bank unterschiedlich mehrmals am Tag erzeugt und zum Download bereitgestellt werden. Diese <a href="/payment/bankdaten-verwalten#190">Angabe</a> ist für plentymarkets optional.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EU&nbsp;Typ&nbsp;„T“</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unterschriftstyp, der ausschließlich zum Abruf der Transaktionsdaten berechtigt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="140">5.2. EBICS-Konto in plentymarkets anlegen</h3>
<div class="paragraph">
<p>Nachdem deine Konten für EBICS eingerichtet worden sind, erhältst du von der Bank ein Schreiben mit den Daten, die du in plentymarkets speichern musst, um EBICS einzurichten.</p>
</div>
<div class="paragraph">
<div class="title">Neues EBICS-Konto hinzufügen</div>
<p>Nachdem du das EBICS-Plugin in deinem plentymarkets System bereitgestellt hast, kannst du dein EBICS-Konto einrichten.</p>
</div>
<div class="paragraph instruction">
<p>Neues EBICS-Konto hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Plugins » EBICS</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Konto erstellen</strong>.<br>
→ Das Fenster <strong>Neues Konto</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib die Daten ein, die dir von deiner Bank zugesendet wurden. Beachte hierzu die Informationen in Tabelle <a href="#tabelle-kontoeinstellungen-ebics">Tabelle 6</a>.<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-kontoeinstellungen-ebics" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Kontoeinstellungen für EBICS</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicke auf die Umschaltfläche, um das Konto als aktiv zu markieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontoname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen internen Namen ein, unter dem das Konto in der Übersicht erscheinen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Vornamen des Kontoinhabers ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Nachnamen des Kontoinhabers ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank-Teilnehmer-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Bank-Teilnehmer-ID wie von der Bank mitgeteilt ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank-Kunden-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Bank-Kunden-ID wie von der Bank mitgeteilt ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Bank aus der Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswählen, um eine Bank hinzuzufügen, die nicht in der Liste aufgeführt ist.<br>
<strong>Bank</strong>: Namen der Bank eingeben<br>
<strong>URL</strong>: Host-URL wie von der Bank mitgeteilt eingeben.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vormerkposten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü wählen, mit welchem Verfahren die Tagesumsätze abgerufen werden. Details sind bei deiner Bank verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Accountversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü wählen, welche Accountversion verwendet werden soll. Details sind bei deiner Bank verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tagesumsätze</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus dem Dropdown-Menü wählen, mit welchem Verfahren die Tagesumsätze abgerufen werden sollen. Details sind bei deiner Bank verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IBANs der verknüpften Konten kommasepariert eingeben. Das CAMT-Format benötigt die Eingabe der IBAN, das MT-Format benötigt die Eingabe der Kontonummer.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="150">5.3. Einstellungen am EBICS-Konto vornehmen</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Domainwechsel</div>
<div class="paragraph">
<p>Speichere nach einem <a href="/basics/admin-aufgaben/plentymarkets-konto#domain">Domainwechsel</a> die Grundeinstellungen des Kontos erneut, um die EBICS-Daten zu aktualisieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Einstellungen am EBICS-Konto vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Plugins » EBICS</strong>.<br></p>
</li>
<li>
<p>Klicke auf <strong>Bearbeiten</strong>, um das Konto zu öffnen.<br>
→ Das Tab <strong>Kontoeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-grundeinstellungen-ebics">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-grundeinstellungen-ebics" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Grundeinstellungen für EBICS</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontoeinstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Einstellungen des gewählten Kontos.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Geschäftsvorfälle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwaltet die automatisch abgerufenen Geschäftsfälle. Wähle im Dropdown-Menü <strong>Anzeigen</strong> die Option <strong>Alle</strong> und klicke auf <strong>Suchen</strong>. Wähle aus der Liste die Geschäftsvorfälle aus, die du verwenden möchtest und <strong>Speichere</strong> deine Auswahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manueller Zahlungsabruf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht im Falle eines technischen Fehlers den manuellen Abruf aller Aufträge zu einem bestimmten Datum. Der manuelle Zahlungsabruf steht erst nach erfolgreicher Aktivierung deines EBICS-Konto zur Verfügung.<br>
 <em>Hinweis</em>: Es werden lediglich die in plentymarkets vorhandenen Daten erneut abgerufen. Somit findet kein Abgleich mit der Bank statt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status abrufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ruft den aktuellen Initialisierungsstatus des Kontos ab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto initialisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Schlüssel werden generiert und mittels INI zum Abgleich an die Bank übermittelt. HIA wird ausgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>INI-Brief</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstellt aus den generierten Schlüsseln einen INI-Brief als PDF und lädt das Dokument herunter. Der INI-Brief muss ausgedruckt und an die Bank geschickt werden. Die Schaltfläche ist inaktiv, bis die Schlüssel erfolgreich erstellt wurden.<br>
<em>Hinweis</em>: Für den fehlerfreien Download des INI-Briefs muss der Pop-up-Blocker deines Browsers deaktiviert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initialisierung abschließen (HPB)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schließt den Initialisierungsvorgang mit der Bank ab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Experten-Modus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle nachfolgend beschriebenen Schaltflächen sind ausschließlich für den Fall vorgesehen, dass die Bank eine erneute Ausführung anfordert, und stehen erst nach Aktivierung de Umschaltfläche zur Verfügung.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schlüssel erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstellt die Schlüssel für die Initialisierung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>INI</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Initialisiert das EBICS-Konto.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HIA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Führt HIA aus.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Änderungen nur nach Rücksprache mit der Bank</div>
<div class="paragraph">
<p>Nimm Änderungen nur nach Rücksprache mit deiner Bank vor. Wenn du z.B. die neuen CAMT-Formate nutzen möchtest, kläre mit deiner Bank, ob das Format unterstützt wird und lasse das Format aktivieren. Passe dann die <strong>Grundeinstellungen</strong> und ggf. die Vormerkposten wie hier beschrieben an.</p>
</div>
<div class="paragraph">
<p>Wenn ein Konto zurückgesetzt wurde und deine Bank neue Schlüssel benötigt, empfehlen wir, den betreffenden EBICS-Account in plentymarkets neu einzurichten, da nur dann neue Schlüssel erzeugt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="170">5.4. Freischaltung durch deine Bank</h3>
<div class="paragraph">
<p>Nachdem du die Zugangsdaten in plentymarkets eingegeben hast, meldet sich plentymarkets auf elektronischem Weg bei deiner Bank an. Für einen EBICS-Abruf sind geheime Schlüsselwerte nötig, die programmintern generiert werden. Nachdem die Schlüssel erzeugt wurden und die elektronische Erstanmeldung abgeschlossen ist, müssen die Schlüssel unterschrieben und in ausgedruckter Form an die Bank geliefert werden. Nur der in plentymarkets hinterlegte Teilnehmer ist zu dieser Unterschrift berechtigt. Die Bank wird keine Freigabe der EBICS-Schnittstelle erteilen, wenn die Unterschrift nicht von genau diesem hinterlegten Teilnehmer stammt.</p>
</div>
<div class="paragraph instruction">
<p>INI-Brief-Datei abrufen und an deine Bank geben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Plugins » EBICS</strong>.</p>
</li>
<li>
<p>Klicke auf das EBICS-Konto.<br>
→ Das Tab <strong>Kontoeinstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>INI-Brief</strong>, um die Datei abzurufen. <br>
→ Die erstellte INI-Brief-Datei wird als PDF heruntergeladen.</p>
</li>
<li>
<p>Drucke die PDF-Datei aus und unterschreibe das Dokument.</p>
</li>
<li>
<p>Übermittle das Dokument an deine Bank.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sind alle Werte bei der Bank eingegangen, werden die ausgedruckten Werte mit den elektronisch gesendeten Werten verglichen und die EBICS-Schnittstelle wird freigegeben. Ab diesem Moment werden die Transaktionen in den unten beschriebenen Intervallen abgerufen.</p>
</div>
</div>
<div class="sect2">
<h3 id="180">5.5. Abrufintervalle für Transaktionen</h3>
<div class="paragraph">
<p>Deine Bank stellt maximal zweimal täglich die Transaktionen des jeweiligen Tages in Datenform zur Abholung bereit. plentymarkets ruft die Daten aktuell um 6:00 Uhr, um 13:00 Uhr und um 23:00 Uhr ab. Die Transaktionsdaten sind etwa eine Stunde nach Abruf in den Systemen verfügbar. Zudem stellt die Bank mehrmals am Tag Vormerkposten mit den Transaktionen des aktuellen Tages in Datenform zur Abholung bereit.</p>
</div>
</div>
<div class="sect2">
<h3 id="190">5.6. Abrufintervalle Vormerkposten</h3>
<div class="paragraph">
<p>Da die Zeiten, in denen die Vormerkposten bereitgestellt werden, von Kreditinstitut zu Kreditinstitut unterschiedlich sind, ruft plentymarkets die Daten, falls verfügbar, zwischen 8:00 und 18:00 stündlich von den Kreditinstituten ab. Bei EBICS-Buchungen mit unbestätigtem Vormerkposten erscheint die Angabe <strong>Vormerkposten</strong> in roter Schrift. Wird der Vormerkposten bestätigt, wechselt der Schriftzug von rot auf grün. Zusätzlich wird die bestätigte Buchung dem entsprechenden Auftrag zugeordnet, ohne die Zahlung nochmals zu buchen. Damit Vormerkposten bestätigt werden, ist die Aktivierung der Tagesumsätze erforderlich. Beachte dazu die Erläuterungen in <a href="#tabelle-grundeinstellungen-ebics">Tabelle 7</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">6. SEPA-Lastschriftmandat einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Rahmen der SEPA-Initiative (Single Euro Payments Area) ist der Euro-Zahlungsverkehr in Deutschland und 32 weiteren europäischen Staaten seit dem 1. Februar 2014 vereinheitlicht. Seit diesem Stichtag sind Überweisungen und Lastschriften nur noch mit IBAN und BIC möglich. Die Bankdaten deiner Kunden kannst du in deinem plentymarkets System automatisch <a href="/payment/bankdaten-verwalten#67">migrieren</a>. Lastschriften werden unterteilt in:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>SEPA-Basis-Lastschrift</strong> → vergleichbar mit einer Einzugsermächtigung</p>
</li>
<li>
<p><strong>SEPA-Firmenlastschrift</strong> → vergleichbar mit einem Abbuchungsauftrag</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Firmenlastschriften sind nur zwischen Unternehmen zulässig (B2B) und benötigen gesonderte Mandate. Von deinen Kunden benötigst du ein SEPA-Lastschriftmandat, das die bisherige Einzugsermächtigung ersetzt. Das Mandat bildet die rechtliche Grundlage zum Einzug von SEPA-Lastschriften.</p>
</div>
<div class="sect2">
<h3 id="210">6.1. Dokumentenvorlage erstellen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Dokumente</strong> gibt es im Untermenü <strong>SEPA-Lastschriftmandat</strong> eine Vorlage für das SEPA-Lastschriftmandat. Weitere Informationen zu Dokumenten findest du auf der Handbuchseite zum Thema <a href="/auftraege/auftragsdokumente">Dokumentenvorlagen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Dokumentenvorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong>.</p>
</li>
<li>
<p>Klicke auf die Vorlage <strong>SEPA-Lastschriftmandat</strong>.<br>
→ Das Tab <strong>Vorlage</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle eine <strong>Sprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einrichtung-dokumentenvorlage">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einrichtung-dokumentenvorlage" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Dokumentenvorlage einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Informationen des Zahlungsempfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des Zahlungsempfängers;<br>
Straße und Hausnummer;<br>
Postleitzahl und Ort;<br>
Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Händlerdaten eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gläubiger-Identifikationsnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gläubiger-Identifikationsnummer eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandatsreferenz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Mandatsreferenz wird aus der Kunden-ID generiert und automatisch gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ausführungsmodalität eingeben. Entweder <strong>Einmalige Zahlung</strong> oder <strong>Wiederkehrende Zahlung</strong> eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des Zahlungspflichtigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name wird automatisch hinterlegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Formatierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>X-Achse; <br>
Y-Achse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Werte orientieren sich am Koordinatensystem mit X- und Y-Achse. Die X-Achse verläuft von links nach rechts und die Y-Achse von oben nach unten. Die Nullpunkte liegen also links oben. Weitere Informationen zum Koordinatensystem unter <a href="/payment/bankdaten-verwalten#50">Dokumentenvorlagen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schriftgröße</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schriftgröße in Pixeln wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hervorhebung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Normal</strong> oder <strong>Fett</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Informationen des Zahlungspflichtigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Informationen werden aus dem Kundendatensatz geladen und automatisch hinterlegt. Damit IBAN und BIC in der Vorlage für das SEPA-Lastschriftmandat ausgegeben werden, müssen sie in den Kundendaten im <strong>Tab: Einstellungen » Tab: Bankdaten</strong> gespeichert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle Seiten der Vorlage ausgeben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob alle Seiten der Vorlage ausgegeben werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ISO-8859-1</strong> oder <strong>Unicode</strong> wählen. Die Erzeugung von PDF-Dokumenten in Unicode kann länger dauern.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="215">6.2. PDF-Vorlage hochladen</h3>
<div class="paragraph">
<p>Im Tab <strong>PDF-Vorlage</strong> lädst du eine PDF-Vorlage hoch, die das Layout deines Briefpapiers mit Firmendaten und Logo deines Unternehmens beinhaltet. Füge bei der Gestaltung der PDF-Vorlage die nötigen Feldnamen für die Werte der Vorlage und im unteren Bereich ein Unterschriftenfeld mit einer Linie für die Unterschrift des Kunden ein.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Felder in der PDF-Vorlage hinterlegen</div>
<div class="paragraph">
<p>Die Feldnamen für die Werte der Vorlage, z.B. IBAN, BIC oder Zahlungsart werden nicht über die Dokumentenvorlage ausgegeben. Hinterlege die Feldnamen fest in der PDF-Vorlage.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong>.</p>
</li>
<li>
<p>Klicke auf die Vorlage <strong>SEPA-Lastschriftmandat</strong>.<br>
→ Das Tab <strong>Vorlage</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle eine <strong>Sprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>PDF-Vorlage » Tab: Neue Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Durchsuchen…​</strong>.<br>
→ Das Fenster <strong>Datei hochladen</strong> wird geöffnet.</p>
</li>
<li>
<p>Öffne die PDF-Datei.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="220">6.3. E-Mail-Vorlage erstellen</h3>
<div class="paragraph">
<p>Um deinen Kunden direkt nach dem Einkauf im Shop das SEPA-Lastschriftmandat zur Verfügung zu stellen, erstelle eine E-Mail-Vorlage mit dem SEPA-Lastschriftmandat als Anhang. Richte zum Versand der E-Mail eine <a href="/payment/bankdaten-verwalten#230">Ereignisaktion</a> ein.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Neue E-Mail-Vorlage</strong>.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> ein und wähle unter <strong>PDF-Anhang</strong> die Option <strong>SEPA-Lastschriftmandat</strong>.</p>
</li>
<li>
<p>Gib im Tab <strong>E-Mail-Nachricht</strong> einen Text ein, der den Kunden darüber informiert, dass das angehängte SEPA-Lastschriftmandat mit Unterschrift zurückgeschickt werden muss.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">6.4. E-Mail-Vorlage per Ereignisaktion versenden</h3>
<div class="paragraph">
<p>Die E-Mail-Vorlage versendest du z.B. durch eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a>, die durch einen neuen Auftrag ausgelöst wird.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 8.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 8 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Ereignisaktion zum automatischen Senden von SEPA-Lastschriftmandaten an Kunden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neuer Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lastschrift</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorlage für SEPA-Lastschriftmandat;<br>
Kunde</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="240">6.5. E-Mail-Vorlage per  Gruppenfunktion versenden</h3>
<div class="paragraph">
<p>Die E-Mail-Vorlage kannst du alternativ auch in der <strong>Kontaktübersicht</strong> über die <strong>Gruppenfunktion</strong> versenden.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage versenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suche den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong>.</p>
</li>
<li>
<p>Markiere die Kontakte in der Übersicht, an die die E-Mail-Vorlage versendet werden soll.</p>
</li>
<li>
<p>Wähle bei der Option <strong>E-Mail-Vorlage senden</strong> die zuvor erstellte E-Mail-Vorlage zur SEPA-Information aus.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Details dazu findest du im Kapitel <strong>Gruppenfunktion nutzen</strong> der Handbuchseite <a href="/crm/kontakte-verwalten#510">Kontake verwalten</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="250">6.6. SEPA-Zahlungsverkehr in den Bankdaten aktivieren</h3>
<div class="paragraph">
<p>Wenn du das unterschriebene SEPA-Lastschriftmandat eines Kunden erhalten hast, ist die nachfolgend beschriebene Einstellung nötig, um den SEPA-Zahlungsverkehr zu aktivieren und die pain008-Formate abzurufen.</p>
</div>
<div class="paragraph instruction">
<p>SEPA-Lastschriftmandat in den Bankdaten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suche den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicke im Kontextmenü auf <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Aktiviere <strong>SEPA-Lastschriftmandat</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zu Bankdaten findest du im Kapitel <a href="/payment/bankdaten-verwalten#63">Bankdaten von Kunden speichern</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="260">6.7. Alter Webshop: Download im Mein-Konto-Bereich aktivieren</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Anleitung nur für Callisto Shops</div>
<div class="paragraph">
<p>Die folgende Anleitung beschreibt ausschließlich die Einstellungen zur Anzeige der Bankdaten in Callisto Shops. Die Anleitung ist somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Ein Kunde, dessen Bankdaten noch nicht umgestellt wurden, wird im <strong>Bestellvorgang</strong> bei Auswahl der Zahlungsart Lastschrift darauf hingewiesen, das SEPA-Lastschriftmandat im Bereich <strong>Mein Konto</strong> des Webshops herunterzuladen und unterschrieben zurückzusenden.</p>
</div>
<div class="paragraph instruction">
<p>Download-Link anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Mein Konto » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Download-Link SEPA-Lastschriftmandat</strong> die Einstellung <strong>Anzeigen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">6.8. SEPA-Zahlungsverkehr automatisieren</h3>
<div class="paragraph">
<p>Du hast die Möglichkeit, Prozesse einzurichten, um deine SEPA-Zahlungsprozesse zu automatisieren. Dazu findest du im Menü <strong>Einrichtung » Prozesse</strong> die entsprechenden Aktionen <a href="/automatisierung/prozesse/aktionen#400">SEPA Pain001</a> und <a href="/automatisierung/prozesse/aktionen#410">SEPA Pain008</a>.</p>
</div>
</div>
</div>
</div>
</main>