<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ebics_faq"><span>1.</span><span> EBICS: FAQ</span></a></li>
<li><a href="#_wie_lege_ich_ein_neues_konto_an"><span>2.</span><span> Wie lege ich ein neues Konto an?</span></a></li>
<li><a href="#_ich_benutze_ebics_bereits_wieso_soll_ich_auf_das_plugin_wechseln"><span>3.</span><span> Ich benutze EBICS bereits. Wieso soll ich auf das Plugin wechseln?</span></a></li>
<li><a href="#_es_werden_keine_zahlungen_abgerufen_was_kann_ich_tun"><span>4.</span><span> Es werden keine Zahlungen abgerufen. Was kann ich tun?</span></a></li>
<li><a href="#_die_bank_stellt_das_transaktionsfile_um_x_uhr_bereit_warum_wird_die_datei_erst_später_von_plentymarkets_abgerufen"><span>5.</span><span> Die Bank stellt das Transaktionsfile um X Uhr bereit. Warum wird die Datei erst später von plentymarkets abgerufen?</span></a></li>
<li><a href="#_was_bedeuten_die_felder_tagesumsatz_und_vormerkposten"><span>6.</span><span> Was bedeuten die Felder “Tagesumsatz” und “Vormerkposten”?</span></a></li>
<li><a href="#_was_ist_der_unterschied_zwischen_camt_und_mt"><span>7.</span><span> Was ist der Unterschied zwischen CAMT und MT?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: EBICS-Plugin</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zum Thema <strong>EBICS-Plugin</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ebics_faq">1. EBICS: FAQ</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In unserem Marketplace erhältst du alle wichtigen Infos zu unserem <a href="https://marketplace.plentymarkets.com/plugins/payment/EBICS_5098" target="_blank" rel="noopener">EBICS-Plugin</a>.
Du kannst dir auch gerne noch den <a href="https://www.plentymarkets.eu/blog/plentyCommunity-Projekt-EBICS-Komplett-auf-den-Anwender-ausgerichtet/b-1941/" target="_blank" rel="noopener">Blog-Beitrag</a> zum Plugin durchlesen, um alles Wissenswerte zu erfahren.</p>
</div>
<h5 id="_wie_benutze_ich_das_ebics_plugin" class="discrete">Wie benutze ich das EBICS-Plugin?</h5>
<div class="paragraph">
<p>Für das EBICS-Plugin, sowie alle anderen Plugins, wird plentymarkets vorausgesetzt.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Um ein Konto anzulegen, musst du zuerst das EBICS-Plugin im plentyMarketplace buchen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h5 id="_anforderungen_um_das_plugin_in_plentymarkets_zu_integrieren" class="discrete">Anforderungen, um das Plugin in plentymarkets zu integrieren</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/plugins/neue-plugins#marketplace-plugins-kaufen">Plugin kaufen</a></p>
</li>
<li>
<p><a href="/plugins/plugin-sets#plugins-hinzufuegen">Plugin installieren</a></p>
</li>
<li>
<p><a href="/plugins/plugin-sets#plugins-hinzufuegen">Plugin bereitstellen</a></p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_wie_lege_ich_ein_neues_konto_an">2. Wie lege ich ein neues Konto an?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zuerst wird ein neues Konto mit den Daten vom Bankschreiben angelegt.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Prüfe bei der Auswahl der Bank, ob die URL und der Hostparameter / -name mit der vom Bankschreiben übereinstimmt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Über die Schaltfläche <strong>Konto initialisieren</strong> werden die Schlüssel generiert und der INI- und HIA-Call ausgeführt.
Danach kann der INI-Brief erstellt werden. Dies erfolgt über einen direkten PDF-Download im Browser.
Achte bitte darauf, dass die Pop-Ups dabei nicht blockiert sind.<br>
Der INI-Brief sollte direkt oder zeitnah unterschrieben und an die Bank übermittelt werden.
Die Initialisierung wird nach spätestens <strong>2 Wochen</strong> verworfen, wenn der INI-Brief noch nicht angekommen sein sollte.
Die Bank schaltet das Konto frei, wenn alles ordnungsgemäß durchgeführt wurde.
Der Knopf <strong>Konto-Initialisierung abschließen (HPB)</strong> in den Kontoeinstellungen darf erst nach Freigabe der Bank gedrückt werden.
Anschließend ist das Konto erfolgreich initialisiert.<br>
Achte bitte darauf, dass du für den Zahlungsabruf noch die Geschäftsvorfälle über den Menüpunkt <strong>Geschäftsvorfälle</strong> aktivieren musst, damit die Zahlungen importiert werden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Schaltfläche <strong>Konto initialisieren</strong> sollte nur einmal gedrückt werden.
Bei mehrmaligem Drücken können Probleme und Folgefehler auftreten.
Im Log kannst du die einzelnen Schritte nachvollziehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_ich_benutze_ebics_bereits_wieso_soll_ich_auf_das_plugin_wechseln">3. Ich benutze EBICS bereits. Wieso soll ich auf das Plugin wechseln?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das EBICS-Tool für den Zahlungsabruf läuft stabiler als in der alten EBICS-Integration.
Weiterhin wird das Tool, sowie das Plugin, fortlaufend weiterentwickelt.
Die alte EBICS-Schnittstelle wird nicht mehr unterstützt und ist daher auch nicht ausfallsicher.
Bereits vorhandene Konten können ganz einfach in das Plugin migriert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_es_werden_keine_zahlungen_abgerufen_was_kann_ich_tun">4. Es werden keine Zahlungen abgerufen. Was kann ich tun?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Überprüfe, ob Vormerkposten und Tagesumsätze das richtige Format nutzen</p>
<div class="ulist">
<ul>
<li>
<p>Die Formate können in den Kontoeinstellungen angepasst werden</p>
</li>
<li>
<p>Die Bank stellt das Transaktionsfile im Format CAMT oder MT bereit</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/EBICS-geschaeftsvorfall.png" alt="EBICS geschaeftsvorfall">
</div>
<div class="title">Bild 1. Geschäftsvorfälle aktivieren</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Im Menü <strong>Einrichtung » Aufträge » Zahlung » Plugins » EBICS</strong> das aktive Konto auswählen</p>
</li>
<li>
<p>In den Kontoeinstellungen den Menüpunkt <strong>Geschäftsvorfälle</strong> auswählen</p>
</li>
<li>
<p>Inaktive Geschäftsvorfälle aktivieren</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Nach dem ersten Zahlungsabruf:</strong> inaktive Geschäftsvorfälle laden</p>
</li>
<li>
<p>Initial über das Dropdown <strong>Anzeigen</strong> die inaktiven Geschäftsvorfälle auswählen und nach Wunsch aktivieren</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_die_bank_stellt_das_transaktionsfile_um_x_uhr_bereit_warum_wird_die_datei_erst_später_von_plentymarkets_abgerufen">5. Die Bank stellt das Transaktionsfile um X Uhr bereit. Warum wird die Datei erst später von plentymarkets abgerufen?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Der Abruf erfolgt täglich über einen Cron</p>
<div class="ulist">
<ul>
<li>
<p>Der Cron fragt stündlich ab, ob ein Transaktionsfile vorhanden ist</p>
</li>
</ul>
</div>
</li>
<li>
<p>Der Zahlungsabruf erfolgt meistens am Abend oder in der Nacht</p>
<div class="ulist">
<ul>
<li>
<p>Dies hängt mit der Bereitstellung der Transaktionsfiles von der Bank zusammen</p>
</li>
<li>
<p>Der Tagesumsatz kann auch mehrmals am Tag bereitgestellt werden</p>
</li>
</ul>
</div>
</li>
<li>
<p>Das Transaktionsfile für den Tagesumsatz und die Vormerkposten werden zu unterschiedlichen Zeiten bereitgestellt</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_bedeuten_die_felder_tagesumsatz_und_vormerkposten">6. Was bedeuten die Felder “Tagesumsatz” und “Vormerkposten”?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Tagesumsatz = bestätigte Buchung, die meist einmal am Tag bereitgestellt wird</p>
</li>
<li>
<p>Vormerkposten = autorisierte Buchung, die mehrmals am Tag bereitgestellt wird und den Zahlungseingang reserviert</p>
</li>
<li>
<p>Der Vormerkposten wird durch die bestätigte Buchung aufgehoben</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Tagesumsatz und Vormerkposten sollten immer das selbe Format besitzen, da sonst Fehler bei der Zahlungszuweisung auftreten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_ist_der_unterschied_zwischen_camt_und_mt">7. Was ist der Unterschied zwischen CAMT und MT?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>CAMT und MT sind Datenübertragungsformate, die in den Transaktionsfiles genutzt werden.
Im Transaktionsfile wird jeweils nur ein Format genutzt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Die Formate CAMT und MT im Vergleich</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">CAMT</th>
<th class="tableblock halign-left valign-top">MT</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bedeutung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cash Management</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Message Type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feld IBAN in Kontoeinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">IBAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontonummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaktionsfiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einheitliches Format der SEPA, löst SWIFT-Format ab</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Weitere Infos zu den Formaten erhaltet ihr auch in diesem <a href="https://forum.plentymarkets.com/t/vormerkposten-camt052-oder-mt942-bei-postbank-taeglich-abruf-um-13-uhr-und-17-uhr-moeglich/120442/2" target="_blank" rel="noopener">Forumsbeitrag</a>.</p>
</div>
</div>
</div>
</main>