<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#grundeinstellungen"><span>1.</span><span> Grundeinstellungen für Zahlungseingänge vornehmen</span></a></li>
<li><a href="#10"><span>2.</span><span> Neue Zahlungen im System</span></a>
<ul class="sectlevel2">
<li><a href="#bankbuchungsimport"><span>2.1.</span><span> Bankbuchungen importieren</span></a></li>
<li><a href="#20"><span>2.2.</span><span> Zahlungen suchen</span></a></li>
</ul>
</li>
<li><a href="#payments-myview"><span>3.</span><span> MyView nutzen</span></a>
<ul class="sectlevel2">
<li><a href="#create-new-view"><span>3.1.</span><span> Neue Ansicht erstellen</span></a></li>
<li><a href="#create-grid"><span>3.2.</span><span> Ein Raster erstellen</span></a></li>
<li><a href="#place-elements"><span>3.3.</span><span> Elemente platzieren</span></a></li>
<li><a href="#finalise-editing"><span>3.4.</span><span> Bearbeitung abschließen</span></a>
<ul class="sectlevel3">
<li><a href="#editing-functions"><span>3.4.1.</span><span> Funktionen im Bearbeitungsmodus</span></a></li>
<li><a href="#900"><span>3.4.2.</span><span> Rechtevergabe</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#30"><span>4.</span><span> Zahlungen zuordnen</span></a>
<ul class="sectlevel2">
<li><a href="#15"><span>4.1.</span><span> Zahlungen im Auftrag manuell buchen</span></a></li>
</ul>
</li>
<li><a href="#40"><span>5.</span><span> Zahlungen lösen</span></a></li>
<li><a href="#50"><span>6.</span><span> Zahlungen teilen</span></a></li>
<li><a href="#60"><span>7.</span><span> Zahlungen löschen</span></a></li>
<li><a href="#70"><span>8.</span><span> Gruppenfunktion nutzen</span></a></li>
<li><a href="#80"><span>9.</span><span> Detailansicht einer Zahlung</span></a>
<ul class="sectlevel2">
<li><a href="#details"><span>9.1.</span><span> Details</span></a></li>
<li><a href="#info-boxes"><span>9.2.</span><span> Infoboxen</span></a></li>
<li><a href="#assignment"><span>9.3.</span><span> Zuordnung</span></a></li>
<li><a href="#payment-history"><span>9.4.</span><span> Zahlungshistorie</span></a></li>
<li><a href="#properties"><span>9.5.</span><span> Eigenschaften</span></a></li>
</ul>
</li>
<li><a href="#100"><span>10.</span><span> Zahlungseingänge auf dem Dashboard anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Zahlungen verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite beschreibt das Verwalten von Zahlungen. Zahlungen erreichen dein System aus verschiedenen Quellen. Verwalte die Zahlungen im Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="grundeinstellungen">1. Grundeinstellungen für Zahlungseingänge vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Menü nimmst du Einstellungen für die automatische Zuordnung von Zahlungen zu Aufträgen sowie zur Zahlungskulanz vor. Es sind bereits Standardeinstellungen im System hinterlegt, die aus Erfahrungswerten gewonnen wurden und sich in der Praxis bewährt haben. Um diese Einstellungen zu ändern, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Eingänge</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß der Erläuterungen in <a href="#tabelle-grundeinstellungen-zahlungseingang">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-grundeinstellungen-zahlungseingang" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen für Zahlungseingänge vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Übereinstimmung für automatische Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zwischen <strong>0.7</strong> (nicht so genaue Übereinstimmung zur Zuordnung nötig) und <strong>1.0</strong> (genaue Übereinstimmung nötig) wählen. Ist dieser Wert höher eingestellt, kann das Problem auftreten, dass Zahlungen nicht zugeordnet werden können. Daher ist in der <strong>Standard-Einstellung</strong> ein Wert von <strong>0,75</strong> eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungskulanz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Damit z.B. interne Nachkommabeträge (ab der dritten Nachkommastelle) nicht zu falschen Buchungen führen, sollte ein <strong>Mindestbetrag</strong> von <strong>0,01</strong> eingetragen sein (Standard-Einstellung). Wenn z.B. <strong>0,05</strong> eingestellt ist, werden Fehlbeträge bis 5 Cent trotzdem als korrekte Buchung behandelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-import-customer-bank-data">Kundenbankdaten importieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die <strong>Bankdaten</strong> des Kunden beim Zahlungseingang <strong>importiert</strong> und in den jeweiligen <strong>Kundendaten</strong> hinterlegt werden sollen oder nicht.<br>
<strong><em>Wichtig:</em></strong> Da Bankdaten nur mit Zustimmung des Kunden importiert und gespeichert werden dürfen, ist hier standardmäßig <strong>Nein</strong> voreingestellt. Vor dem Aktivieren die Rechtslage zu diesem Thema beachten, ggf. auch im jeweiligen Lieferland.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Zahlung nur entsprechendem eBay Listing zuordnen, sofern an der Zahlung hinterlegt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Hinweis</em>: Diese Funktionalität bezieht sich ausschließlich auf die alte PayPal-Schnittstelle für plentymarkets Callisto-Shops und <strong>nicht</strong> auf das PayPal-Plugin!<br>
Falls du ebay Listings in Kombination mit der Zahlungsart PayPal verwendest, empfehlen wir, bei dieser Option <strong>JA</strong> auszuwählen. So wird sichergestellt, dass entsprechende PayPal-Zahlungen den dazugehörigen Aufträgen von eBay korrekt zugeordnet werden. Sollte an einer PayPal Zahlung eine eBay Listing-ID hinterlegt sein, so wird bei aktivierter Option diese Zahlung nur dem Auftrag zugeordnet, der über eine übereinstimmende eBay Listing-ID verfügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WooCommerce PayPal Zahlung ignorieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Hinweis</em>: Diese Funktionalität bezieht sich ausschließlich auf die alte PayPal-Schnittstelle für plentymarkets Callisto-Shops und <strong>nicht</strong> auf das PayPal-Plugin!<br>
Wähle die Option <strong>JA</strong>, um bei Aufträgen mit der Zahlungsart PayPal, die über WooCommerce importiert werden, den automatischen Zahlungsimport zu deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge mit folgenden Zahlungsarten von der automatischen Zuordnung ausschließen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier Zahlungsarten aus, für die keine Zahlungen ins System eingehen. Diese werden dann bei der automatischen Zahlungszuordnung nicht beachtet.<br>
Eine Mehrfachauswahl ist über die Tastatur möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge mit folgenden Herkünften von der automatischen Zuordnung ausschließen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle hier Herkünfte aus, für die keine Zahlungen ins System eingehen. Diese werden dann bei der automatischen Zahlungszuordnung nicht beachtet.<br>
Eine Mehrfachauswahl ist über die Tastatur möglich.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="10">2. Neue Zahlungen im System</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zahlungen gehen entweder automatisch im System ein oder werden manuell eingebucht. Nach dem Eingang in plentymarkets werden die Zahlungen Aufträgen über eine unscharfe Suche automatisch zugeordnet. Wenn die Zuordnung fehlschlägt, können Zahlungen Aufträgen manuell zugeordnet werden. Verwalte und bearbeite Zahlungen im Menü <strong>Aufträge » Zahlungsverkehr</strong>. Unzugeordnete Zahlungen erkennst du am Kreditkartensymbol (<span class="icon "><i class="material-credit_card"></i></span>). Du kannst Zahlungen Aufträgen direkt in der Übersicht oder in der Detailansicht der <a href="/payment/beta-zahlungen-verwalten#30">Zahlung zuordnen</a>.<br>
In der Übersicht werden dir Zahlungen in deiner gewählten <a href="/payment/waehrungen#30">Systemwährung</a> angezeigt. Wurde die Zahlung in einer Fremdwährung getätigt, wird dir dieser Betrag hinter der Systemwährung in Klammern ebenfalls angezeigt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ereignisaktionen für Zahlungseingänge einrichten</div>
<div class="paragraph">
<p>Der Zahlungseingang als Ereignis spielt in der Auftragsbearbeitung eine wichtige Rolle, da der Versand häufig erst nach Zahlungseingang erfolgt. In plentymarkets wechselt der Status der meisten Aufträge mit dem Eintreffen der Zahlung von <strong>Status [3] - Warten auf Zahlung</strong> in <strong>Status [5] - Freigabe Versand</strong>. Richte <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> ein, um die Auftragsbearbeitung zu automatisieren und den Versand nach Zahlungseingang auszulösen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="bankbuchungsimport">2.1. Bankbuchungen importieren</h3>
<div class="paragraph">
<p>Zahlungsvorgänge bei der Zahlungsart Vorkasse und sonstigen Überweisungen fallen in Form von Bankbuchungen an. Bei diesen Zahlungsarten müssen die auf deinem Konto gebuchten Zahlungen an das System gemeldet und den Aufträgen korrekt zugeordnet werden. Nutze den Import-Typ <a href="/daten/daten-importieren/sync-typen/elasticSync-bankbuchungen">Bankbuchung</a>, um deine Bankbuchungen in dein plentymarkets System zu importieren. Nach dem Import werden die Bankbuchungen wie andere Zahlungen auch automatisch Aufträgen zugeordnet und können wie gewohnt im Menü <strong>Aufträge » Zahlungsverkehr</strong> bearbeitet werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="20">2.2. Zahlungen suchen</h3>
<div class="paragraph">
<p>Zahlungen suchst du in der Übersichtsansicht im Menü <strong>Aufträge » Zahlungsverkehr</strong>. Diese Tabelle ist anpassbar. Das bedeutet, dass du selbst entscheiden kannst, welche Informationen dir in den Tabellenspalten angezeigt werden. Gehe dafür folgendermaßen vor:</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für die Suche kannst du verschiedene Filter setzen und sie kombinieren, um beispielsweise nach unzugeordneten Zahlungen der letzten Woche zu suchen.</p>
</div>
<div class="paragraph">
<p>Du hast mehrere Möglichkeiten, die Suche zu nutzen. Du kannst einen Wert im Suchfeld eingeben und dann den entsprechenden Filter auswählen. Gibst du z.B. eine Zahl ein, werden dir mögliche Filter in der diese Zahl vorkommt vorgeschlagen, wie IDs oder Variantennummer. Gib den Wert vollständig ein und wähle den passenden Filter aus den Vorschlägen. Wiederhole dies, um Filter miteinander zu kombinieren. Klicke auf <span class="icon "><i class="material-search"></i></span>, um die Suche auszuführen.<br>
Möchtest du aus der verfügbaren Filterliste wählen, klicke auf die Liste und gib einen Wert im gewünschten Filter ein. Hast du alle benötigten Filter gesetzt, klicke auf <strong>Suchen</strong>.<br>
Möchtest du einen gesetzten Filter löschen, entferne den Chip. In <a href="#tabelle-zahlungen-suchen">Tabelle 2</a> werden die verfügbaren Filter erläutert.</p>
</div>
<div class="paragraph">
<p>Zudem kannst du mit der Komponente <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>) ausgewählte Filter in der UI speichern. Gespeicherte Filtersets sind dann in dieser Komponente bei jedem Öffnen des Menüs auswählbar, ähnlich wie Lesezeichen. Jede:r Benutzer:in kann eigene Filter festlegen.</p>
</div>
<div class="paragraph instruction">
<p>Filter speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Setze die gewünschten Filter mit den entsprechenden Werten.</p>
</li>
<li>
<p>Führe die Suche aus.</p>
</li>
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Aktuellen Filter speichern</strong>.<br>
→ Das Fenster <strong>Filter speichern</strong> öffnet sich.</p>
</li>
<li>
<p>Vergib einen <strong>Filternamen</strong>.</p>
</li>
<li>
<p>Entscheide, ob das Filterset für alle Benutzer:innen zur Verfügung stehen soll.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
<table id="tabelle-zahlungen-suchen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zahlungen suchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche anhand von Auftrags-IDs nach Aufträgen, denen eine Zahlung zugeordnet ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaktions-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Transaktions-ID wird vom Zahlungsanbieter vergeben, damit sich die Zahlung dem Anbieter zuordnen lässt. Gib eine Transaktions-ID ein, um nach einer Zahlung mit dieser Transaktions-ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaktionscode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Transaktionscode beschreibt die Transaktion selbst. Gib einen Transaktionscode ein, um nach einer Zahlung mit diesem Code zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referenz-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Referenz-ID verknüpft Zahlungen, z.B. eine Zahlung und eine Erstattung, miteinander. Gib eine Referenz-ID ein, um nach einer Zahlung mit dieser Referenz-ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungs-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Zahlungs-ID ein, um nach der Zahlung mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine bestimmte Zahlungsart ein, um nach Zahlungen zu suchen, die mit dieser Zahlungsart getätigt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib entweder den ganzen Verwendungszweck oder einen Teil des Verwendungszwecks ein, um nach Zahlungen mit diesem Zweck zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Absender der Zahlung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Namen der Person ein, die die Zahlung getätigt hat, um nach Zahlungen von dieser Person zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Soll/Haben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle zwischen <strong>Soll</strong> und <strong>Haben</strong>.<br>
<strong>Haben</strong> = Alle Zahlungseingänge mit positivem Wert werden angezeigt.<br>
<strong>Soll</strong> = Alle Zahlungseingänge mit negativem Wert werden angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong> und <strong>Betrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen <strong>Operator</strong> und gib einen <strong>Betrag</strong> ein.<br>
<strong><em>Beispiel</em></strong>: Wähle <strong>Größer als oder gleich</strong> und gib 300 als <strong>Betrag</strong> ein, um alle Zahlungen mit einem Zahlungsbetrag von 300 oder mehr anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du kannst zwischen <strong>Zugeordnet</strong> oder <strong>Unzugeordnet</strong> wählen.<br>
<strong>Zugeordnet</strong> = Zeigt dir nur Zahlungen, die bereits einem Auftrag zugeordnet wurden.<br>
<strong>Unzugeordnet</strong> = Zeigt dir nur Zahlungen, die keinem Auftrag zugeordnet wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status aus, um nach Zahlungen mit diesem Status zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaktionstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Transaktionstyp aus, um nach Zahlungen mit diesem Transaktionstyp zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Währung aus, um nach Zahlungen in dieser Währung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datumstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus, nach welchem Datumstyp in Verbindung mit der Datumsauswahl darunter gesucht werden soll. Du kannst wählen zwischen <strong>Importdatum</strong>, <strong>Eingangsdatum</strong> und <strong>Zuordnungsdatum</strong>. Angezeigt werden dann alle Zahlungen, die in dem gewählten Zeitraum entsprechend importiert wurden, eingegangen sind oder zugeordnet wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>von</strong> und <strong>bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle in Verbindung mit <strong>Datumstyp</strong> einen Zeitraum aus, um nach Zahlungen zu suchen, die in diesem Zeitraum importiert wurden, eingegangen sind oder zugeordnet wurden, je nach Auswahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Zurücksetzen</strong> klicken, um alle Filter zurückzusetzen. Erneut auf <strong>Suchen</strong> klicken, um alle Zahlungseingänge anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Führt die Suche aus.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="payments-myview">3. MyView nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Benutzeroberfläche der Detailansichten von Zahlungen sowie der Ansicht zum Teilen einer Zahlung werden dir als MyView zur Verfügung gestellt. Das bedeutet, dass Benutzer:innen sich jeweils eine eigene Ansicht mit den zur Verfügung stehenden Elementen erstellen können. Dadurch kann jede:r selbst bestimmen, welche Informationen an welcher Stelle benötigt werden. Durch diese Individualisierung wird das Arbeiten nicht nur komfortabler, sondern auch beschleunigt. In diesem Kapitel wird erklärt, wie man mit MyView umgeht und sich eine eigene Ansicht anlegt. Die Bearbeitung von Zahlungen, z.B. das <a href="/payment/beta-zahlungen-verwalten#30">Zuordnen</a>, das <a href="/payment/beta-zahlungen-verwalten#40">Lösen</a> oder auch das <a href="/payment/beta-zahlungen-verwalten#50">Teilen</a> von Zahlungen, wird in den nachfolgenden Kapiteln erklärt.</p>
</div>
<div class="paragraph">
<p>Zur Detailansicht einer Zahlung kommst du von der Übersichtstabelle aller Zahlungen im Menü <strong>Aufträge » Zahlungsverkehr</strong> aus. Klicke in die entsprechende Zeile oder auf die Zahlungs-ID und die Detailansicht der ausgewählten Zahlung öffnet sich.<br>
Zur Ansicht zum Teilen von Zahlungen kommst du, indem du in der Übersichtstabelle in der Zeile der Zahlung auf <strong>Zahlung teilen</strong> (<span class="icon "><i class="material-call_split"></i></span>) klickst.<br>
Wenn du in diesen Bereichen noch keine eigene Ansicht erstellt hast, wird dir hier die <strong>Standardansicht</strong> angezeigt. Du kannst diese Ansicht so lassen und damit arbeiten oder dir eine eigene Ansicht erstellen. Eigene Ansichten werden gespeichert und stehen dir dann zusammen mit der Standardansicht als Auswahl unter der Liste der Ansichten (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>) zur Verfügung. Somit kannst du zwischen den Ansichten wechseln, solltest du dies wollen. Die ausgewählte Ansicht wird beim Öffnen einer Zahlung immer angewendet.</p>
</div>
<div class="sect2">
<h3 id="create-new-view">3.1. Neue Ansicht erstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf die Liste der Ansichten (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Neue Ansicht erstellen …​</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Klicke auf <strong>Ansicht erstellen</strong>.<br>
→ Die neue Ansicht wird erstellt und automatisch geöffnet, d.h. sie wird angewendet.
Es ist jetzt möglich, zwischen den Ansichten zu wechseln.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="create-grid">3.2. Ein Raster erstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Füge Zeilen und Spalten hinzu, um ein Raster zu erstellen.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke auf <span class="icon blue"><i class="fa fa-ellipsis-v  "></i></span> und dann auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Zeile hinzufügen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Spalte hinzufügen</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Ziehe die Spalten, um sie größer oder kleiner zu machen.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="place-elements">3.3. Elemente platzieren</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Füge Elemente per Drag &amp; Drop hinzu.</p>
</li>
<li>
<p>Klicke auf <span class="icon blue"><i class="fa fa-pencil  "></i></span> und passe die Einstellungen für das Element an.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Ändere den Namen.</p>
</li>
<li>
<p>Entscheide, welche Datenfelder das Element enthalten soll.</p>
</li>
<li>
<p>Lege die Reihenfolge der Datenfelder per Drag &amp; Drop fest.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <span class="icon blue"><i class="fa fa-close  "></i></span></p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-pencil  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Führt eine Ebene tiefer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-trash  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Löscht das Element.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-close  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Führt eine Ebene höher.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kann ich Elemente mehrfach hinzufügen?</div>
<div class="paragraph">
<p>Die Zahl im grauen Kreis gibt an, wie oft du das Element verwenden kannst. Die meisten Elemente können nur einmal hinzugefügt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="finalise-editing">3.4. Bearbeitung abschließen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Speichere die Ansicht (<span class="icon darkGrey"><i class="psicon-save"></i></span>) und schließe den Bearbeitungsmodus (<span class="icon darkGrey"><i class="fa fa-close  "></i></span>).</p>
</li>
<li>
<p>Prüfe das Ergebnis im Hauptfenster.</p>
</li>
<li>
<p>Falls erforderlich:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke nochmal auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) und passe die Ansicht weiter an.</p>
</li>
<li>
<p>Erlaube anderen Benutzern, die Ansicht zu sehen.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="editing-functions">3.4.1. Funktionen im Bearbeitungsmodus</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-reply  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Macht die letzte Änderung rückgängig, soweit die betreffende Änderung noch nicht gespeichert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-share  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine rückgängig gemachte Änderung wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Liste der Ansichten.
Der Name der aktuell geöffneten Ansicht wird angezeigt.
Klicke auf <span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>, um zu einer anderen Ansicht zu wechseln oder eine <a href="/payment/beta-zahlungen-verwalten#create-new-view">neue Ansicht</a> zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-items_incoming_history"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt die Ansicht auf den Stand zurück, der beim letzten Speichern vorhanden war.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="psicon-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert die Änderungen, die an der Ansicht vorgenommenen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schließt den Bearbeitungsmodus.
Falls nicht gespeicherte Änderungen vorhanden sind, wird eine Sicherheitsabfrage angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="900">3.4.2. Rechtevergabe</h4>
<div class="paragraph">
<p>Welche Benutzer oder Rollen sollen die Ansicht sehen dürfen?
Du kannst den Zugriff auf jede Ansicht einzeln gewähren bzw. einschränken.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="benutzer-tab" data-toggle="tab" href="#benutzer" role="tab" aria-controls="benutzer" aria-selected="true">Benutzer</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="rollen-tab" data-toggle="tab" href="#rollen" role="tab" aria-controls="rollen" aria-selected="false">Rollen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="benutzer" role="tabpanel" aria-labelledby="benutzer-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-open_external_link"></i></span> <strong>Rechteverwaltung</strong>.</p>
</li>
<li>
<p>Wähle <strong>Benutzer</strong>, um den Zugang für einen bestimmten Benutzer zu gewähren.<br>
→ Das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> öffnet sich in einem neuen Tab.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das betreffende Benutzerkonto.</p>
</li>
<li>
<p>Klicke auf <strong>Ansichten</strong>.</p>
</li>
<li>
<p>Erweitere die Listeneinträge (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) und wähle die Ansichten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), auf die der Benutzer Zugriff haben soll.</p>
</li>
<li>
<p>Speichere (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/business-entscheidungen/benutzerkonten-zugaenge#112">Weitere Informationen</a> zu Benutzerkonten und Zugriffsrechten.</p>
</div>
</div><div class="tab-pane fade" id="rollen" role="tabpanel" aria-labelledby="rollen-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-open_external_link"></i></span> <strong>Rechteverwaltung</strong>.</p>
</li>
<li>
<p>Wähle <strong>Rollen</strong>, um den Zugang für eine ganze Benutzerrolle zu gewähren.<br>
→ Das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Rollen</strong> öffnet sich in einem neuen Tab.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne die betreffende Benutzerrolle.</p>
</li>
<li>
<p>Klicke auf <strong>Ansichten</strong>.</p>
</li>
<li>
<p>Erweitere die Listeneinträge (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) und wähle die Ansichten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), auf die die Benutzerrolle Zugriff haben soll.</p>
</li>
<li>
<p>Speichere (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/business-entscheidungen/benutzerkonten-zugaenge#116">Weitere Informationen</a> zu Benutzerkonten und Zugriffsrechten.</p>
</div>
</div></div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Zahlungen zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es gibt zwei Möglichkeiten, um unzugeordnete Zahlungen einem Auftrag zuzuordnen. Im Menü <strong>Aufträge » Zahlungsverkehr</strong> kannst du Zahlungen entweder direkt in der Übersicht zuordnen oder du gehst in die Detailansicht einer Zahlung.
Eine Zuordnung in der Übersicht funktioniert über die direkte Eingabe der Auftrags-ID. Dies ist ein einfacher und schneller Weg, wenn du schon weißt, welchem Auftrag die Zahlung zugeordnet werden soll, sonst keine weiteren Informationen zur Zahlung benötigst und die Auftrags-ID zur Hand hast.
Gehe wie im Folgenden beschrieben vor, um eine Zahlung in der Übersicht zuzuordnen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung direkt anhand der Auftrags-ID in der Übersicht zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p><a href="/payment/beta-zahlungen-verwalten#20">Suche</a> (<span class="icon "><i class="material-search"></i></span>) die gewünschte Zahlung.</p>
</li>
<li>
<p>Gib in der Zeile der unzugeordneten Zahlung im Feld <strong>Auftrags-ID</strong> direkt die entsprechende ID des Auftrages, dem die Zahlung zugeordnet werden soll, ein.</p>
</li>
<li>
<p>Drücke die <strong>Entertaste</strong> zum Speichern.<br>
→ Die Zahlung ist zugeordnet und die Übersicht wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn eine schnelle Zuordnung in der Übersicht nicht möglich ist oder du detailliertere Informationen zu einer Zahlung brauchst, gehe in die Detailansicht einer Zahlung. Klicke dafür in der Übersicht auf die Zeile der entsprechenden Zahlung oder direkt auf die Zahlungs-ID. Wenn du in der Übersichtstabelle auf die Aktion <strong>Zahlung zuordnen</strong> (<span class="icon "><i class="material-credit_card"></i></span>) klickst, wird ebenfalls die Detailansicht der Zahlung geöffnet.
Um eine Zahlung aus der Detailansicht heraus zuzuordnen, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung in Detailansicht zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p><a href="/payment/beta-zahlungen-verwalten#20">Suche</a> (<span class="icon "><i class="material-search"></i></span>) die gewünschte Zahlung.</p>
</li>
<li>
<p>Öffne die Zahlung, indem du entweder in der Zeile der unzugeordneten Zahlung, die du zuordnen möchtest, auf die Payment-ID oder auf auf <strong>Zahlung zuordnen</strong> (<span class="icon "><i class="material-credit_card"></i></span>) klickst.<br>
→ Du wirst weitergeleitet zum Bereich <strong>Zuordnung</strong> dieser Zahlung.<br>
→ Die Aufträge mit der höchsten Übereinstimmung werden dort angezeigt.</p>
</li>
<li>
<p>Wähle den passenden Auftrag aus und klicke auf <strong>Zahlung zuordnen</strong> (<span class="icon "><i class="material-credit_card"></i></span>).<br>
→ Die Zahlung ist nun dem ausgewählten Auftrag zugeordnet. Es wird nur noch die ausgewählte Zuordnung angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Übereinstimmungen zwischen Zahlungen und Aufträgen werden anhand einer Matrix im Hintergrund überprüft. Diese Überprüfung wird ausgelöst, sobald du die Tabelle <strong>Zuordnung</strong> in der Detailansicht einer Zahlung öffnest. Dann werden dir absteigend maximal die 10 Aufträge mit den höchsten Übereinstimmungsraten angezeigt.
Sobald du eine Zahlung zugeordnet hast, wird in dieser Tabelle nur noch diese Zuordnung angezeigt. Nur wenn die Zahlung vom Auftrag <a href="/payment/beta-zahlungen-verwalten#40">gelöst</a> wird, werden hier wieder die höchsten Übereinstimmungen angezeigt.</p>
</div>
<div class="paragraph">
<p>Einem Auftrag können mehrere Zahlungen zugeordnet werden. Dies kann z.B. vorkommen, wenn mit der ersten Zahlung nicht der gesamte Betrag abgedeckt wurde. Sind einem Auftrag bereits Zahlungen zugeordnet und du möchtest eine weitere zuordnen, muss dies in einer Abfrage bestätigt werden.</p>
</div>
<div class="paragraph">
<p>Diese Tabelle ist anpassbar. Das bedeutet, dass du selbst entscheiden kannst, welche Informationen dir in den Tabellenspalten angezeigt werden. Gehe dafür folgendermaßen vor:</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="15">4.1. Zahlungen im Auftrag manuell buchen</h3>
<div class="paragraph">
<p>Wenn du eine Zahlung oder Teilzahlung manuell im Auftrag buchen möchtest, weil z.B. die Ware bei Abholung bar bezahlt wurde oder weil eine Zahlung nicht in der Übersicht zu finden ist, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag, in dem du eine Zahlung buchen möchtest.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Zahlung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Zahlung buchen</strong>.<br>
→ Das Fenster <strong>Zahlung buchen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß der Erläuterungen in <a href="#tabelle-zahlungen-manuell-buchen">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Klicke auf <strong>Zahlung buchen</strong>.<br>
→ Die Zahlung wird gebucht und in der Zahlungsübersicht angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-zahlungen-manuell-buchen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Zahlungen manuell buchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vollen Betrag oder Teilbetrag eingeben, der gebucht werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Haben/Soll</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Haben</strong> oder <strong>Soll</strong> wählen. Die Auswahl richtet sich nach dem offenen Betrag. Standardmäßig ist <strong>Haben</strong> gewählt. Bei negativen offenen Beträgen, z.B. bei einer Überzahlung, ist <strong>Soll</strong> gewählt. Die Auswahl kann bei Bedarf geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung wählen, in der die Zahlung vorgenommen werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wechselkurs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Bedarf einen von der aktuellen System-Wechselkurs-Konfiguration abweichenden Wechselkurs eingeben.<br>
<strong><em>Wichtig</em></strong>: Wenn die Zahlung in einer anderen Währung als der für die Zahlung eingestellten Währung (Standard-Währung) gebucht werden soll, z.B. in US-Dollar, unter <strong>Währung</strong> die Option <strong>USD</strong> wählen und unter <strong>Betrag</strong> den erhaltenen Betrag eingeben.<br>
Wenn der <a href="/payment/waehrungen#20">Wechselkurs</a> im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong> ermittelt wurde und verwendet werden soll, gib für <strong>Wechselkurs</strong> nichts ein, da dieser Kurs automatisch angewendet wird. Die Option <strong>Wechselkurs</strong> wird nur benötigt, wenn ein anderer Wechselkurs für diese Zahlung angewendet werden soll, z.B. der Kurs zum Zeitpunkt des Zahlungseingangs. In diesem Fall den zu diesem Zeitpunkt zutreffenden Wechselkurs eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier ist die Auftrags-ID voreingetragen, dieser Eintrag kann angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des Zahlungseingangs wählen. Standardmäßig ist das aktuelle Datum voreingestellt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Manuell gebuchte Zahlungseingänge erkennst du an dem Symbol <strong>Manuelle Buchung</strong>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">5. Zahlungen lösen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es gibt zwei Möglichkeiten, Zahlungen von einem Auftrag zu lösen. Im Menü <strong>Aufträge » Zahlungsverkehr</strong> kannst du Zuordnung der Zahlungen entweder direkt in der Übersicht oder in der Detailansicht einer Zahlung aufheben.
Gehe wie im Folgenden beschrieben vor, um die Zuordnung einer Zahlung in der Übersicht zu lösen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung in der Übersicht lösen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p><a href="/payment/beta-zahlungen-verwalten#20">Suche</a> (<span class="icon "><i class="material-search"></i></span>) die gewünschte Zahlung.</p>
</li>
<li>
<p>Klicke in der Zeile der Zahlung, für die du die Zuordnung lösen möchtest, auf <strong>Zahlung lösen</strong> (<span class="icon "><i class="material-money_off"></i></span>).<br>
→ Die Zahlung wird vom Auftrag gelöst und wird wieder als unzugeordnete Zahlung angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Eine Zahlung lässt sich auch in der Detailansicht lösen. Gehe dafür wie im Folgenden beschrieben vor:</p>
</div>
<div class="paragraph instruction">
<p>Zahlung in Detailansicht lösen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p><a href="/payment/beta-zahlungen-verwalten#20">Suche</a> (<span class="icon "><i class="material-search"></i></span>) die gewünschte Zahlung.</p>
</li>
<li>
<p>Klicke in die Zeile der Zahlung, für die du die Zuordnung lösen möchtest.<br>
→ Du wirst weitergeleitet zur Detailansicht dieser Zahlung.</p>
</li>
<li>
<p>Öffne die Tabelle <strong>Zuordnung</strong>.<br>
→ Wenn sich die Tabelle öffnet wird die bestehende Auftragszuordnung wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Zahlung lösen</strong> (<span class="icon "><i class="material-money_off"></i></span>).<br>
→ Die Zahlung wird vom Auftrag gelöst. Es werden wieder die höchsten Übereinstimmungen für diese Zahlung angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Beachten beim Lösen von Zahlungen</div>
<div class="paragraph">
<p>Das Lösen von Zahlungen von einem Auftrag ist technisch zu jedem Zeitpunkt möglich, auch wenn die Auftragsbearbeitung schon fortgeschritten oder sogar abgeschlossen ist. Das Lösen von Zahlungen sollte aber nur möglichst gezielt geschehen, da durch wiederholtes Zuordnen und Lösen Fehler entstehen können, z.B., dass der Auftrag nicht mehr vollständig durch die Zahlung gedeckt wird. Beachte zudem, dass das Lösen einer Zahlung auch Änderungen an dem Auftrag, von dem die Zahlung gelöst wurde, bewirkt, wie z.B. eine Neuberechnung der Zahlung im Auftrag oder einen Statuswechsel.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Zahlungen teilen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Manuell gebuchte Zahlungseingänge, importierte Bankbuchungen sowie EBICS-Zahlungen können geteilt werden. Das bedeutet, dass der Betrag einer Zahlung auf mehrere Aufträge aufgeteilt werden kann. Dies machst du im Menü <strong>Aufträge » Zahlungsverkehr</strong>. Beachte, dass Vormerkposten von der Zahlungsaufteilung ausgenommen sind. Um Zahlungen aufzuteilen, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung aufteilen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p><a href="/payment/beta-zahlungen-verwalten#20">Suche</a> (<span class="icon "><i class="material-search"></i></span>) die gewünschte Zahlung.</p>
</li>
<li>
<p>Klicke in der Zeile der gewünschten Zahlung auf <strong>Zahlung aufteilen</strong> (<span class="icon "><i class="material-call_split"></i></span>).<br>
→ Du wirst weitergeleitet zu einer eigenen Ansicht, in der du das Teilen vornimmst.</p>
</li>
<li>
<p>Suche (<span class="icon "><i class="material-search"></i></span>) anhand der Filter <strong>Auftrags-ID</strong>, <strong>Rechnungsnummer</strong>, <strong>Externe Auftrags-ID</strong>, <strong>Kunden-ID</strong> und <strong>Name</strong> nach den entsprechenden Aufträgen. Du kannst mehrere IDs/Nummern eingeben, indem du sie durch ein Komma separierst.</p>
</li>
<li>
<p>Wähle aus den Suchergebnissen die Aufträge aus, auf die du die Zahlung aufteilen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong> (<span class="icon "><i class="material-save"></i></span>).<br>
→ Die Zahlung wird aufgeteilt und den ausgewählten Aufträgen in der Reihenfolge der Tabelle von oben nach unten zugeordnet und du wirst zur Zahlungsübersicht zurückgeleitet. Hier lassen sich die entstandenen Teilzahlungen wie in den anderen Kapiteln beschrieben bearbeiten.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Beim Aufteilen einer Zahlung wird der Betrag dieser Zahlung immer um den jeweiligen Zahlungsbetrag der Aufträge, die beim Aufteilen ausgewählt werden, reduziert. Sowohl der ursprüngliche Gesamtbetrag der Zahlung als auch der Restbetrag werden dir in dieser Ansicht angezeigt. Wenn ein Restbetrag entsteht, kann dieser bei Bedarf erneut aufgeteilt werden.</p>
</div>
<div class="paragraph">
<p><em>Als Beispiel</em>: Stell dir vor, du willst eine Zahlung mit dem Betrag von 120 Euro aufteilen auf Auftrag A, mit einem offenen Rechnungsbetrag von 80 Euro, und Auftrag B, mit einem offenen Rechnungsbetrag von 20 Euro. Durch das Aufteilen und die Auswahl von genau diesen Aufträgen werden Auftrag A = 80 Euro und Auftrag B = 20 Euro zugewiesen. Die durch das Teilen entstehenden Zahlungen sind durch deine Auswahl diesen Aufträgen zugeordnet worden. Es bleibt ein Restbetrag von 20 Euro als nicht zugeordneter Eintrag übrig. Diesen Restbetrag kannst du einem anderen Auftrag zuordnen oder bei Bedarf ebenfalls aufteilen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aufteilen einer Zahlung rückgängig machen ist nicht möglich</div>
<div class="paragraph">
<p>Das Aufteilen einer Zahlung kann nicht rückgängig gemacht werden. Um den ursprünglichen Zahlungseingang wiederherzustellen, lösche alle Teilzahlungen. Wird eine Teilzahlung gelöscht, wird der Betrag wieder zur ursprünglichen Zahlung hinzugerechnet. Vor dem Löschen müssen die Teilzahlungen vom Auftrag gelöst werden, da nur nicht zugeordnete Zahlungen gelöscht werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In der Ansicht zum Teilen einer Zahlung geben dir folgende Infoboxen einen schnellen Überblick über die wichtigsten Informationen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Betrag</p>
</li>
<li>
<p>Eingangsdatum</p>
</li>
<li>
<p>Absender der Zahlung</p>
</li>
<li>
<p>Verwendungszweck</p>
</li>
<li>
<p>Restbetrag</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Optional kannst du über <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) Infoboxen entfernen oder die Anordnung im Portlet verändern, indem du sie per Drag &amp; Drop verschiebst. Die Benennung der Infoboxen ist optional ebenfalls anpassbar. Entscheide in den <strong>Einstellungen</strong> des Portlets zudem, wieviele Kacheln (Infoboxen) dir in einer Zeile angezeigt werden sollen.</p>
</div>
<div class="paragraph">
<p>Die Suchtabelle ist konfigurierbar. Standardmäßig werden dir alle zur Verfügung stehenden Spalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Kontakt-ID</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Rechnungsnummer</p>
</li>
<li>
<p>Herkunft</p>
</li>
<li>
<p>Auftragsdatum</p>
</li>
<li>
<p>Offener Betrag</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mit der Funktion <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>) kannst du selbst bestimmen, welche Spalten dir in welcher Reihenfolge angezeigt werden.<br>
Optional kannst du über <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) außerdem in den <strong>Einstellungen</strong> des Portlets <strong>Suche</strong> festlegen, ob es beim Öffnen der Ansicht Zahlung teilen standardmäßig aus- oder eingeklappt sein soll. Nutze dafür die Option <strong>Portlet eingeklappt</strong>.<br>
Möchtest du den Namen des Portlets ändern, dann gib im Feld <strong>Titel</strong> den gewünschten Namen ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Zahlungen löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst eine Zahlung nur löschen, wenn sie keinem Auftrag zugeordnet ist und keine untergeordneten Zahlungen existieren, die aus dem Teilen der Zahlung entstanden sind. Das Löschen kann entweder direkt in der Übersicht oder in der Detailansicht des Zahlung vorgenommen werden. Um eine Zahlung aus der Übersicht zu löschen, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung aus der Übersicht löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile einer Zahlung auf <strong>Zahlung löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Die Abfrage <strong>Zahlung löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Abfrage auf <strong>Ja</strong>.<br>
→ Die Zahlung wird gelöscht und die Übersicht aktualisiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Des Weiteren steht dir die Funktion <strong>Löschen</strong> auch in der Detailansicht einer Zahlung zur Verfügung. Gehe dafür wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung aus der Detailansicht heraus löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Klicke in die Zeile der Zahlung, die gelöscht werden soll, um sie zu öffnen.<br>
→ Du wirst weitergeleitet zur Detailansicht dieser Zahlung.</p>
</li>
<li>
<p>Klicke über den Zahlungsdetails auf <strong>Zahlung löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Die Abfrage <strong>Zahlung löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Abfrage auf <strong>Ja</strong>.<br>
→ Die Zahlung wird gelöscht und du wirst zur aktualisierten Übersicht zurückgeleitet.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was mache ich, wenn ich eine Zahlung löschen möchte, das Löschen aber deaktiviert ist?</strong></div>
<div class="content">
<div class="paragraph">
<p>Zahlungen können nur gelöscht werden, wenn sie keinem Auftrag zugeordnet sind und keine untergeordneten Zahlungen existieren, die aus dem Teilen einer Zahlung entstanden sind. Trifft etwas davon zu, ist die Funktion <strong>Zahlung löschen</strong> (<span class="icon "><i class="material-delete"></i></span>) nicht verfügbar. Möchtest du die Zahlung dennoch löschen, musst du dafür sorgen, dass sie weder zugeordnet ist, noch zugehörige Teilzahlungen existieren. Gehe dafür folgendermaßen vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zahlung ist einem Auftrag zugeordnet: <a href="/payment/beta-zahlungen-verwalten#40">Löse</a> die Zahlung vom Auftrag. Prüfe vorher aber genau, ob das Lösen der Zahlung vom Auftrag ohne Bedenken durchgeführt werden kann. Die Zahlung kann nun gelöscht werden.</p>
</li>
<li>
<p>Zahlung wurde geteilt und Teilzahlungen existieren: Du musst zuerst die Teilzahlungen löschen. Dies geht nur, wenn sie keinem Auftrag zugeordnet sind. Sind sie zugeordnet, musst du die Zahlungen erst vom jeweiligen Auftrag <a href="/payment/beta-zahlungen-verwalten#40">lösen</a>. Prüfe vorher aber genau, ob das Lösen der Zahlung vom Auftrag ohne Bedenken durchgeführt werden kann. Lösche danach die Teilzahlungen. Die ursprüngliche Zahlung kann nun gelöscht werden.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">8. Gruppenfunktion nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Gruppenfunktion bearbeitest du beliebig viele Zahlungen gleichzeitig. Um die Gruppenfunktion nutzen zu können, muss mindestens eine Zahlung ausgewählt sein. Nutze die Suche, um die gewünschten Zahlungen zu filtern. Nachdem du die gewünschten Zahlungen ausgewählt hast, kannst du diese entweder alle auf einmal automatisch zuordnen oder sie alle auf einmal löschen. Denk daran, dass nur unzugeordnete Zahlungen gelöscht werden können.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Zahlungen mit der Gruppenfunktion automatisch zuzuordnen oder zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungen per Gruppenfunktion bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Wähle die Zahlungseingänge aus (<span class="icon "><i class="material-check_box"></i></span>), die du zuordnen oder löschen möchtest.</p>
</li>
<li>
<p>Klicke über der Übersichtstabelle entweder auf <strong>Zahlungen löschen</strong> (<span class="icon "><i class="material-delete"></i></span>) oder auf <strong>Zahlungen automatisch zuordnen</strong> (<span class="icon "><i class="material-credit_card"></i></span>).<br>
→ Du musst das Löschen oder die Zuordnung in einer Abfrage bestätigen oder ablehnen.</p>
</li>
<li>
<p>Nach der Ausführung wird dir angezeigt, wieviele der ausgewählten Zahlungen automatisch zugeordnet oder gelöscht wurden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Es kann vorkommen, dass nicht die gesamte Auswahl bearbeitet werden konnte. Zum Beispiel könnte eine oder mehrere der Zahlungen, die du löschen möchtest, einem Auftrag zugeordnet sein, dann sind Zahlungen nicht löschbar. Möchtest du aufgrund der Anzeige genauere Informationen haben, kannst du diese im Log einsehen. Gehe dafür ins Menü <strong>Daten » Log</strong>.</p>
</div>
<div class="paragraph">
<p>Für die automatische Zuordnung ist zu beachten, dass diese von der Einstellung <strong>Übereinstimmung für automatische Zuordnung (0.7 - 1.0)</strong> im Menü <strong>Einrichtung » Aufträge » Zahlung » Eingänge</strong> abhängt. Der Wert 0.7 steht für 70% Übereinstimmung, der Wert 1.0 für 100% Übereinstimmung. Wird bei der automatischen Zuordnung per Gruppenfunktion dann mehr als ein Auftrag mit der gleichen Übereinstimmungsrate ermittelt, kann die Zahlung nicht zugeordnet werden. Umgekehrt bedeutet dies, dass eine Zahlung nur automatisch zugeordnet wird, wenn ein einziger Auftrag mit der gewählten Übereinstimmungsrate ermittelt wird.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">9. Detailansicht einer Zahlung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neben den Funktionen <a href="/payment/beta-zahlungen-verwalten#30">Zahlungen zuordnen</a>, <a href="/payment/beta-zahlungen-verwalten#40">Zahlungen lösen</a> und <a href="/payment/beta-zahlungen-verwalten#60">Zahlungen löschen</a> bietet dir die Detailansicht einer Zahlung in verschiedenen Portlets alle mit dieser Zahlung verknüpften Informationen. Mit <a href="/payment/beta-zahlungen-verwalten#payments-myview">MyView</a> kannst du die Elemente in der Detailansicht nach deinen eigenen Bedürfnissen gestalten und anordnen.</p>
</div>
<div class="sect2">
<h3 id="details">9.1. Details</h3>
<div class="paragraph">
<p>In der Standardansicht werden im Portlet <strong>Details</strong> folgende grundlegende Informationen zu einer Zahlung aufgelistet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zahlungsart</p>
</li>
<li>
<p>Eingangsdatum</p>
</li>
<li>
<p>Transaktions-ID</p>
</li>
<li>
<p>Verwendungszweck</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Optional kannst du über <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) noch das Element <strong>Absender der Zahlung</strong> hinzufügen oder andere Elemente entfernen. Verändere die Anordnung der Elemente im Portlet, indem du sie per Drag &amp; Drop verschiebst.<br>
Entscheide in den <strong>Einstellungen</strong> des Portlets zudem, ob es beim Öffnen der Detailansicht einer Zahlung standardmäßig aus- oder eingeklappt sein soll. Nutze dafür die Option <strong>Portlet eingeklappt</strong>.<br>
Möchtest du den Namen des Portlets ändern, dann gib im Feld <strong>Titel</strong> den gewünschten Namen ein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/portlet-details-bearbeiten.png" alt="portlet details bearbeiten">
</div>
<div class="title">Bild 1. Portlet Details bearbeiten</div>
</div>
</div>
<div class="sect2">
<h3 id="info-boxes">9.2. Infoboxen</h3>
<div class="paragraph">
<p>Infoboxen geben dir einen schnellen Überblick über wichtige Zahlungsinformationen. In der Standardansicht werden dir die Infoboxen <strong>Betrag in Fremdwährung</strong> (die Währung, in der die Zahlung ausgeführt wurde), <strong>Status</strong> und <strong>Zahlungsart</strong> angezeigt.<br>
Der Status der Zahlung wird zusätzlich über einen farbigen Statusbalken an der Infobox <strong>Status</strong> ausgedrückt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Grün = Zahlung wurde verarbeitet, steht für entweder freigegeben, erfasst oder erstattet.</p>
</li>
<li>
<p>Orange = Zahlung ist in Bearbeitung, steht entweder für warten auf Erneuerung, warten auf Bestätigung oder teilweise erfasst.</p>
</li>
<li>
<p>Rot = Die Zahlung wurde nicht verarbeitet, steht entweder für abgelehnt, storniert oder abgelaufen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Optional kannst du über Ansicht bearbeiten (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) Elemente entfernen oder noch folgende Infoboxen als zusätzliche Elemente zu diesem Portlet hinzufügen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eingangsdatum</p>
</li>
<li>
<p>Wechselkurs</p>
</li>
<li>
<p>Zuordnungsdatum</p>
</li>
<li>
<p>Transaktions-ID</p>
</li>
<li>
<p>Verwendungszweck</p>
</li>
<li>
<p>Absender der Zahlung</p>
</li>
<li>
<p>Betrag in Systemwährung</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Verändere die Anordnung der Elemente im Portlet, indem du sie per Drag &amp; Drop verschiebst. Entscheide in den <strong>Einstellungen</strong> des Portlets zudem, wieviele Kacheln (Infoboxen) dir in einer Zeile angezeigt werden sollen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/portlet-infoboxen-bearbeiten.png" alt="portlet infoboxen bearbeiten">
</div>
<div class="title">Bild 2. Portlet Infoboxen bearbeiten</div>
</div>
</div>
<div class="sect2">
<h3 id="assignment">9.3. Zuordnung</h3>
<div class="paragraph">
<p>Das Portlet <strong>Zuordnung</strong> bietet dir eine Auflistung der höchsten Übereinstimmungen mit Aufträgen für unzugeordnete Zahlungen. Ist eine Zahlung bereits zugeordnet, wird hier nur dieser entsprechende Eintrag angezeigt. Nur wenn die Zahlung vom Auftrag <a href="/payment/beta-zahlungen-verwalten#40">gelöst</a> wird, werden hier wieder die höchsten Übereinstimmungen angezeigt.<br>
Die Übereinstimmungen zwischen Zahlungen und Aufträgen werden anhand einer Matrix im Hintergrund überprüft. Diese Überprüfung wird ausgelöst, sobald du diesen Bereich <strong>Zuordnung</strong> öffnest. Dann werden dir absteigend maximal die 10 Aufträge mit den höchsten Übereinstimmungsraten angezeigt.</p>
</div>
<div class="paragraph">
<p>Zudem kannst du eine zugeordnete Zahlung in der Zuordnungstabelle lösen. Klicke dafür auf <strong>Zahlung lösen</strong> (<span class="icon "><i class="material-money_off"></i></span>). Beachte allerdings, dass das <a href="/payment/beta-zahlungen-verwalten#40">Lösen von Zahlungen</a> nicht unbedacht geschehen sollte.</p>
</div>
<div class="paragraph">
<p>Die Zuordnungstabelle ist konfigurierbar. Standardmäßig werden dir alle zur Verfügung stehenden Spalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Übereinstimmungsrate</p>
</li>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Betrag</p>
</li>
<li>
<p>Kontakt-ID</p>
</li>
<li>
<p>Name des Kontaktes</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mit der Funktion <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>) kannst du selbst bestimmen, welche Spalten dir in welcher Reihenfolge angezeigt werden.<br>
Optional kannst du über <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) außerdem in den <strong>Einstellungen</strong> des Portlets <strong>Zuordnung</strong> festlegen, ob es beim Öffnen der Detailansicht einer Zahlung standardmäßig aus- oder eingeklappt sein soll. Nutze dafür die Option <strong>Portlet eingeklappt</strong>.<br>
Möchtest du den Namen des Portlets ändern, dann gib im Feld <strong>Titel</strong> den gewünschten Namen ein.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/portlet-einstellungen.png" alt="portlet einstellungen">
</div>
<div class="title">Bild 3. Portlet-Einstellungen</div>
</div>
</div>
<div class="sect2">
<h3 id="payment-history">9.4. Zahlungshistorie</h3>
<div class="paragraph">
<p>Das Portlet <strong>Zahlungshistorie</strong> bietet dir eine Übersicht über alle Aktionen, die in Zusammenhang mit dieser Zahlung ausgeführt wurden. Angezeigt wird auch, wer oder was (z.B. durch ein Plugin) die Aktion zu welchem Zeitpunkt ausgeführt hat, so dass eine Nachvollziehbarkeit immer gewährleistet ist.</p>
</div>
<div class="paragraph">
<p>Du siehst auf einen Blick, wann (Datum) von wem (Benutzer:in oder sonstige Quelle, wie z.B. ein Plugin) was (Aktion und Wert, z.B. Zugeordnet | Order ID: xy) mit der Zahlung gemacht wurde. Du kannst der Zahlungshistorie z.B. folgende Einträge entnehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Importdatum der Zahlung</p>
</li>
<li>
<p>Informationen über die Zuordnung einer Zahlung zu einem Auftrag</p>
</li>
<li>
<p>Informationen über die Lösung einer Zahlung von einem Auftrag</p>
</li>
<li>
<p>Währungsänderungen</p>
</li>
<li>
<p>Wechselkurse</p>
</li>
<li>
<p>Änderungen in Beträgen</p>
</li>
<li>
<p>Statusänderungen</p>
</li>
<li>
<p>Hinzufügen/Ändern von Eigenschaften</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Tabelle ist konfigurierbar. Standardmäßig werden dir mit <strong>Datum</strong>, <strong>Benutzer / Quelle</strong>, <strong>Aktion</strong> und <strong>Wert</strong> alle zur Verfügung stehenden Spalten angezeigt.<br>
Beachte, dass die Einträge in der Spalte <strong>Wert</strong> immer auf Englisch sind, da diese Daten direkt aus der Datenbank entnommen werden. Über <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>) kannst du selbst bestimmen, welche Spalten dir in welcher Reihenfolge angezeigt werden.</p>
</div>
<div class="paragraph">
<p>Optional kannst du über <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) außerdem in den <strong>Einstellungen</strong> des Portlets <strong>Historie</strong> festlegen, ob es beim Öffnen der Detailansicht einer Zahlung standardmäßig aus- oder eingeklappt sein soll. Nutze dafür die Option <strong>Portlet eingeklappt</strong>.<br>
Möchtest du den Namen des Portlets ändern, dann gib im Feld <strong>Titel</strong> den gewünschten Namen ein.</p>
</div>
</div>
<div class="sect2">
<h3 id="properties">9.5. Eigenschaften</h3>
<div class="paragraph">
<p>Das Portlet <strong>Eigenschaften</strong> (= Properties) zeigt dir alle weiteren Informationen, die die Zahlung betreffen. Diese Informationen gehen in der Regel über die Details hinaus. Welche Informationen hier angezeigt werden, hängt von der Zahlung selber, z.B. der Zahlungsart und welche Informationen vom Zahlungsanbieter übermittelt werden, ab.</p>
</div>
<div class="paragraph">
<p>Optional kannst du über <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) in den <strong>Einstellungen</strong> des Portlets <strong>Eigenschaften</strong> festlegen, ob es beim Öffnen der Detailansicht einer Zahlung standardmäßig aus- oder eingeklappt sein soll. Nutze dafür die Option <strong>Portlet eingeklappt</strong>.<br>
Möchtest du den Namen des Portlets ändern, dann gib im Feld <strong>Titel</strong> den gewünschten Namen ein.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">10. Zahlungseingänge auf dem Dashboard anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf dem <a href="/willkommen/system-personalisieren#110">Dashboard</a> deines plentymarkets Backends kannst du das Element <strong>Zahlungen</strong> hinzufügen. In diesem Element findest du Informationen zu unzugeordneten Zahlungen sowie alle Zahlungseingänge vom vorherigen und aktuellen Tag. Möchtest du dieses Element nicht auf deiner Startseite verwenden, gelangst du über <strong>Aufträge » Zahlungsverkehr</strong> und durch die Verwendung der Filter in der Suche zu den gleichen Ergebnissen.</p>
</div>
<div class="paragraph">
<p>Es empfiehlt sich, vor der Auftragsbearbeitung einen Blick auf die unzugeordneten Zahlungen zu werfen. Prüfe, ob Zahlungseingänge aus <strong>Vorkasse</strong> darunter sind, die aufgrund von Betrag und Buchungstext zweifelsfrei einem Auftrag zugeordnet werden können. Dies erspart deinen Kund:innen längere Wartezeiten und dir unliebsame Reklamationen.</p>
</div>
<div class="paragraph">
<p>Die unzugeordneten Zahlungen solltest du mindestens einmal wöchentlich bearbeiten und bereinigen, damit dir der Überblick im Tagesgeschäft nicht verloren geht. Wie du nicht zugeordnete Zahlungen und Buchungen den Aufträgen zuweist, erfährst du unter <a href="/payment/beta-zahlungen-verwalten#30">Zahlungen zuordnen</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Zahlungen von SOFORT Überweisung werden unmittelbar nach dem Zahlungsvorgang per Schnittstelle bestätigt, tauchen dann aber erneut als Bankbuchungen im System auf. Diese Bankbuchungen kannst du aus der Liste der unzugeordneten Zahlungen löschen, da den Aufträgen die Zahlung ja bereits zugewiesen wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>