<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Unterstützte Währungen</span></a></li>
<li><a href="#20"><span>2.</span><span> Währung umrechnen</span></a></li>
<li><a href="#30"><span>3.</span><span> Systemwährung festlegen</span></a></li>
<li><a href="#40"><span>4.</span><span> Einstellungen im Webshop vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Ceres Webshops</span></a></li>
<li><a href="#60"><span>4.2.</span><span> Callisto Webshops</span></a>
<ul class="sectlevel3">
<li><a href="#70"><span>4.2.1.</span><span> Callisto: Währung als Symbol im Bestellvorgang anzeigen</span></a></li>
<li><a href="#80"><span>4.2.2.</span><span> Callisto: Standardwährung für Webshop festlegen</span></a></li>
<li><a href="#90"><span>4.2.3.</span><span> Callisto: Anzeige der Währung im Webshop anpassen</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Währungen verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du deine Artikel in verschiedenen Ländern anbieten möchten, ist es unerlässlich, mit verschiedenen Währungen zu arbeiten. Diese Seite beschreibt die Einstellungen, die du dazu in deinem plentymarkets System vornehmen musst.
In plentymarkets kannst du mit verschiedenen Währungen arbeiten, wenn du deine Artikel in verschiedenen Ländern anbieten möchtest. Auf dieser Seite werden die Währungseinstellungen beschrieben, die sich global auf alle Mandanten (Shops) deines plentymarkets Systems auswirken. Zudem findest du weitere Währungseinstellungen, die sich nur auf einen einzelnen Webshop beziehen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Unterstützte Währungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktuell werden in deinem plentymarkets System die in <a href="#tabelle-verfuegbare-waehrungen">Tabelle 1</a> aufgelisteten Währungen unterstützt.</p>
</div>
<table id="tabelle-verfuegbare-waehrungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Währungen in plentymarkets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">ISO</th>
<th class="tableblock halign-left valign-top">Währung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dirham der Vereinigten Arabischen Emirate</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ARS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Argentinischer Peso</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AUD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Australien, Australischer Dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BGN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bulgarien, Bulgarischer Lew</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BHD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bahrain-Dinar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BRL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brasilien, Brasilianischer Real, Mehrzahl: Reais</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CAD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kanada, Kanadischer Dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CHF</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schweiz, Schweizer Franken</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CNY</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Volksrepublik China, Renminbi</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CZK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tschechische Republik, Tschechische Krone</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DKK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dänemark, Dänische Krone</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EUR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Euro</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GBP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Großbritannien, Pfund Sterling</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HKD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hongkong Dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HRK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kroatische Kuna</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HUF</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ungarn, Forint</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IDR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indonesische Rupiah</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>INR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indien, Indische Rupie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>JPY</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Japan, Japanischer Yen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MXN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mexiko, Mexikanischer Peso</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MYR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Malaysischer Ringgit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Norwegen, Norwegische Krone</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NZD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neuseeland-Dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PHP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Philippinischer Peso</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PLN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Polen, Zloty</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QAR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Katar-Riyal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RON</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rumänien, Rumänischer Leu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RUB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Russische Föderation, Rubel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schweden, Schwedische Krone</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SGD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Singapur-Dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>THB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Thai Baht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TRY</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Türkei, Türkische Lira / Türkisches Pfund</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TWD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neuer Taiwan-Dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UAH</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ukrainische Hrywnja</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>USD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">USA, US-Dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VND</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vietnamesischer Đồng</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>XCD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ostkaribischer Dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZAR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Südafrikanischer Rand</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Währung umrechnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <a href="/artikel/artikel-verwalten#870"><strong>Einrichtung » Artikel » Verkaufspreise</strong></a> aktivierst du über die Option <strong>Währung: Live umrechnen</strong>, ob die Währung im Webshop in fremde Währungen umgerechnet wird.<br>
Zudem nimmst du allgemeine Währungseinstellungen für alle eingehenden Aufträge im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong> vor. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Währung umrechnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand von <a href="#tabelle-einstellungen-waehrung">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-waehrung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Währungseinstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/payment/waehrungen#30">Systemwährung</a> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umrechnungsfaktoren täglich automatisch aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestimmt, ob die Umrechnungsfaktoren täglich automatisch aktualisiert werden oder nicht.<br>
<strong>Ja</strong> = Die Umrechnungsfaktoren werden automatisch nachts aktualisiert. Außerdem wird in der Zeile darunter die Option <strong>Letztes automatisches Update</strong> eingeblendet (siehe nächste Option).<br>
<strong>Nein</strong> = Pro Währung wird ein <strong>Reload-Symbol</strong> angezeigt, mit dem du die Wechselkurse jederzeit manuell ermitteln kannst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letztes automatisches Update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die letzte Aktualisierung der Umrechnungsfaktoren an. Dieses Feld ist nur sichtbar, wenn du die Option <strong>Umrechnungsfaktoren täglich automatisch aktualisieren</strong> auf <strong>Ja</strong> gesetzt hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umrechnungsfaktor Standard-Währung nach AED, ARS, AUD,&nbsp;…</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Wechselkurse sind beim Öffnen des Menüs <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong> bereits eingetragen, müssen aber möglicherweise aktualisiert werden. Klicke neben der jeweiligen Währung auf <strong>Reload</strong>, um den aktuellen Wechselkurs sofort manuell zu ermitteln. Setze alternativ die Option <strong>Umrechnungsfaktoren täglich automatisch aktualisieren</strong> auf <strong>Ja</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">3. Systemwährung festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du mit mehreren Währungen arbeitest, musst du eine dieser Währungen als Standardwährung für dein plentymarkets System festlegen. Diese Währung wird auch immer dann als voreingestellte Währung verwendet, wenn keine andere Währung gewählt wurde. In deinem System ist <strong>EUR</strong> (Euro) als Standardwährung voreingestellt.<br>
Aufträge werden immer in der Standardwährung in plentymarkets erstellt. Zusätzlich ist an jedem eingehenden Auftrag die Währung hinterlegt, die deine Kunden während des Bestellvorgangs gewählt haben. Zusätzlich wird bei einer Bestellung in einer anderen Währung der aktuelle Wechselkurs gegenüber der Standardwährung mit am Auftrag gespeichert. Diese Werte sind jederzeit für die Auswertung der Bestelldaten oder z.B. für automatische Benachrichtigungen verfügbar.</p>
</div>
<div class="paragraph instruction">
<p>Systemwährung festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong>.</p>
</li>
<li>
<p>Wähle eine Währung unter <strong>Standardwährung</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Systemwährung vs. Währung im Webshop</div>
<div class="paragraph">
<p>Diese Einstellung ist nicht unbedingt identisch mit der <a href="#60">Anzeige der Währung im Webshop</a>. Du kannst für jeden Webshop und jede Sprache eine individuelle Standardwährung einstellen. Weitere Hinweise dazu findest du weiter unten auf dieser Handbuchseite.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Einstellungen im Webshop vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die Einstellungen zur <a href="#20">Währungsumrechnung</a> und zur <a href="#30">Systemwährung</a> vorgenommen hast, legst du eine Standardwährung für deinen Webshop fest. Außerdem kannst du entscheiden, ob Kunden während des Bestellvorgangs die Währung ändern können.<br>
Die Einstellungen unterscheiden sich je nachdem, ob du deinen Webshop unter <a href="#50">Ceres</a> oder <a href="#60">Callisto</a> verwendest.</p>
</div>
<div class="sect2">
<h3 id="50">4.1. Ceres Webshops</h3>
<div class="paragraph">
<p>Wenn du deinen Webshop in plentymarkets mit dem <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697">Ceres Plugin</a> verwendest, findest du alle notwendigen Währungseinstellungen auf der Handbuchseite <a href="/webshop/ceres-einrichten">Ceres-Webshop einrichten</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="60">4.2. Callisto Webshops</h3>
<div class="paragraph">
<p>Die folgenden Kapitel erläutern die notwendigen Währungseinstellungen für Callisto Webshops.</p>
</div>
<div class="sect3">
<h4 id="70">4.2.1. Callisto: Währung als Symbol im Bestellvorgang anzeigen</h4>
<div class="paragraph">
<p>Die Währung kann als ISO-Code oder als Symbol im Webshop angezeigt werden. So würde z.B. für Euro der ISO-Code <strong>EUR</strong> oder das Symbol <strong>€</strong> angezeigt werden. Diese Einstellung bezieht sich auf die Darstellung im <strong>Bestellvorgang</strong> sowie im Bereich <strong>Mein Konto</strong>. Die Darstellung der Währung im Webshop wird ansonsten über <a href="/payment/waehrungen#70">Template-Variablen und -Funktionen</a> gesteuert.</p>
</div>
<div class="paragraph instruction">
<p>Währung als Symbol im Bestellvorgang anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Währung</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Symbol</strong> die Option <strong>Symbol</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="80">4.2.2. Callisto: Standardwährung für Webshop festlegen</h4>
<div class="paragraph">
<p>Wenn du deinen Webshop in verschiedenen Sprachen online stellst, kannst du für jede Sprache eine eigene Standardwährung festlegen. Wenn du mit mehreren Mandanten (Shops) arbeitest, kannst du die Einstellungen für jeden Webshop einzeln vornehmen. Wenn du diese Einstellungen für einen anderen Shop vornehmen möchtest, finden du die Einstellungen analog zum Menüpunkt <strong>Standard</strong> im Ordner des Shops.</p>
</div>
<div class="paragraph instruction">
<p>Standardwährung für Webshop festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Währung</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Standardwährung</strong> eine Standardwährung für die jeweilige Sprache des Webshops.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="90">4.2.3. Callisto: Anzeige der Währung im Webshop anpassen</h4>
<div class="paragraph">
<p>Du kannst es deinen Kunden ermöglichen, selbst von einer Währung zu einer anderen Währung zu wechseln. Dies ist sinnvoll, wenn du z.B. einen deutschsprachigen Webshop betreibst und deine Artikel sowohl in Deutschland mit der Währung EUR als auch in der Schweiz mit der Währung CHF verkaufen möchtest. Die Umschaltung von einer Währung zur anderen erfolgt mit den folgenden Template-Funktionen:</p>
</div>
<div class="paragraph">
<p><strong>$Link_Currency(EUR)</strong><br>
<strong>$Link_Currency(CHF)</strong><br>
<strong>$Link_Currency(USD)</strong></p>
</div>
<div class="paragraph">
<p>Die Template-Funktionen werden mit folgenden Codes eingefügt:</p>
</div>
<div class="paragraph">
<p><strong>&lt;a href="$Link_Currency(EUR)"&gt;EUR&lt;/a&gt;</strong><br>
<strong>&lt;a href="$Link_Currency(CHF)"&gt;CHF&lt;/a&gt;</strong><br>
<strong>&lt;a href="$Link_Currency(USD)"&gt;USD&lt;/a&gt;</strong></p>
</div>
<div class="paragraph instruction">
<p>Template-Funktionen einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Öffne ein Template, z.B. <strong>PageDesignContent</strong>.</p>
</li>
<li>
<p>Kopiere den gewünschten Code oben und füge ihn an der gewünschten Stelle im Template ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Währungssymbole ersetzen</div>
<div class="paragraph">
<p>Falls du bisher mit Währungssymbolen gearbeitet hast, ersetze die Währungssymbole durch die Template-Variable <strong>$Currency</strong>. Die Template-Variable <strong>$Currency</strong> enthält immer die aktuell im Webshop gewählte Währung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
</main>