<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#25"><span>1.</span><span> Standard-Zahlungsart festlegen</span></a></li>
<li><a href="#30"><span>2.</span><span> Zahlungsart in Kundenklasse erlauben</span></a></li>
<li><a href="#50"><span>3.</span><span> Rabatt auf Zahlungsart gewähren</span></a></li>
<li><a href="#60"><span>4.</span><span> Versand ohne Zahlungseingang</span></a></li>
<li><a href="#65"><span>5.</span><span> Übersicht der Zahlungsarten im System</span></a></li>
<li><a href="#70"><span>6.</span><span> Marktplatz-Zahlungsarten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Zahlungsarten verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Zahlungsarten werden über Plugins eingebunden. Die einzelnen Payment Plugins kannst du im entsprechenden Bereich des <a href="https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">plentyMarketplace</a> herunterladen. Anleitungen zur Einrichtung findest du ebenfalls im Marketplace oder im Bereich <a href="/payment/payment-plugins">Payment Plugins</a> im Handbuch.<br>
Auf dieser Handbuchseite erfährst du, welche Einstellungen für Zahlungsarten du beachten solltest. Weiterhin findest du eine <a href="/payment/zahlungsarten-verwalten#65">Übersicht der Zahlungsarten in deinem System</a> sowie der zur Verfügung stehenden <a href="/payment/zahlungsarten-verwalten#70">Marktplatz-Zahlungsarten</a>. Diese Zahlungsarten sind automatisch in deinem plentymarkets System verfügbar, sobald du ein aktives Konto für den entsprechenden Marktplatz hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="25">1. Standard-Zahlungsart festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Zahlungsart festzulegen, die standardmäßig im Bestellvorgang in deinem Webshop voreingestellt ist.</p>
</div>
<div class="paragraph instruction">
<p>Standard-Zahlungsart festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Aufträge</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Standard-Zahlungsart</strong> eine Zahlungsart aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">2. Zahlungsart in Kundenklasse erlauben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den Grundeinstellungen deiner Kundenklassen müssen Zahlungsarten erlaubt sein. Diese Einstellungen betreffen z.B. auch die <strong>Standard-Endkunden</strong>. Neue Zahlungsarten müssen den erlaubten Zahlungsarten hinzugefügt werden. Genauso kannst du hier Zahlungsarten für bestimmte Kundenklassen ausschließen, indem du die Zahlungsarten aus der Liste entfernst. Prüfe die Einstellungen unter <strong>Erlaubte Zahlungsarten</strong> deiner Kundenklassen, nachdem du eine neue Zahlungsart in deinem System eingerichtet hast. Weitere Details dazu findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten#15">Kundenklassen</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">SSL-Zertifikat und Verschlüsselung</div>
<div class="paragraph">
<p>Wir empfehlen dir grundsätzlich, wenn du mit Zahlungs- und Kundendaten arbeiten, eine <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen">SSL-Verschlüsselung</a> für deinen Webshop. Für Zahlungsarten, die mit einem iframe arbeiten, ist dies zwingend.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Rabatt auf Zahlungsart gewähren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst für deine Kund:innen Rabatt auf Zahlungsarten gewähren. Dies ist eine Einstellung in den Kundenklassen, die es ermöglicht im Webshop einen Rabatt auf bestimmte Zahlungsarten anzubieten. Wie du einen Rabatt auf eine Zahlungsart in einer Kundenklasse festlegst, erfährst du im Kapitel <a href="/crm/kontakte-verwalten#28">Rabatt auf Zahlungsart einrichten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">4. Versand ohne Zahlungseingang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei einigen Zahlungsarten, z.B. der Zahlung auf Rechnung, erfolgt der Versand bereits vor dem Zahlungseingang. Bei Beschränkung des <a href="/warenwirtschaft/warenbestaende-verwalten">Warenbestands</a> auf Netto-Warenbestand prüft das System, ob Bestand vorhanden ist, und versetzt den Auftrag je nach Bestandsverfügbarkeit in den Status 4 oder 5. Möchtest du diese Einstellung anwenden, setze im Menü <a href="/auftraege/grundeinstellungen">Einrichtung » Aufträge » Einstellungen</a> die Einstellung <strong>Statuswechsel auf 4 statt 5, wenn Warenbestand fehlt</strong> auf <strong>JA</strong>. Ist für diese Einstellung <strong>NEIN</strong> ausgewählt, ist keine Beschränkung des Warenbestands eingestellt. Der Auftrag wird dann direkt zum Versand freigegeben, d.h. er wird in Status 5 versetzt.</p>
</div>
<div class="paragraph">
<p>Bei folgenden Zahlungsarten erfolgt der Versand vor dem Zahlungseingang:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Rechnung</p>
</li>
<li>
<p>Lastschrift</p>
</li>
<li>
<p>Nachnahme</p>
</li>
<li>
<p>Amazon</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachte dazu auch die Handbuchseite <a href="/warenwirtschaft/warenbestaende-verwalten">Warenbestände</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="65">5. Übersicht der Zahlungsarten im System</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong> findest du eine Übersicht über die Zahlungsarten und deren IDs in deinem plentymarkets System. Standardmäßig werden dir hier die Plugin-Zahlungsarten angezeigt. Möchtest du alle im System vorhandenen Zahlungsarten einsehen, nutze den Toggle (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) über der Tabelle.</p>
</div>
<div class="paragraph">
<p>In der Übersicht lassen sich keine Zahlungsarten aktivieren. Möchtest du Zahlungsarten in dein plentymarkets System einbinden und deinen Kund:innen zur Verfügung stellen, musst du das entsprechende Plugin im <a href="https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">plentyMarketplace</a> herunterladen. Anleitungen zur Einrichtung findest du ebenfalls im Marketplace oder im Bereich <a href="/payment/payment-plugins">Payment Plugins</a> im Handbuch.</p>
</div>
<table id="table-payment-methods-overview" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Übersicht der Zahlungsarten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tabellenspalte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die eindeutige ID der Zahlungsart.<br>
Dies ist eine Standardspalte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name der Zahlungsart.<br>
Dies ist eine Standardspalte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchbar im Backend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist eine Zahlungsart suchbar im Backend, wird sie an allen Stellen im System, an denen du eine Zahlungsart auswählen kannst, angezeigt. Zum Beispiel in Dropdown-Listen in Ereignisaktionen etc.<br>
<span class="icon green"><i class="fa fa-check-square  "></i></span> = Die Zahlungsart ist suchbar im Backend.<br>
<span class="icon red"><i class="fa fa-minus-circle  "></i></span> = Die Zahlungsart ist nicht suchbar im Backend.<br>
Dies ist eine Standardspalte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv im Backend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist eine Zahlungsart im Backend aktiv, kann sie einem Auftrag bei manueller Auftragserstellung zugewiesen werden. Zudem ist sie auch suchbar im Backend, d.h. sie wird an allen Stellen im System, an denen du eine Zahlungsart auswählen kannst, angezeigt. Zum Beispiel in Dropdown-Listen in Ereignisaktionen etc.<br>
<span class="icon green"><i class="fa fa-check-square  "></i></span> = Die Zahlungsart ist im Backend aktiv.<br>
<span class="icon red"><i class="fa fa-minus-circle  "></i></span> = Die Zahlungsart ist nicht im Backend aktiv.<br>
Dies ist eine Standardspalte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart Abonnement</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob die Zahlungsart für Abonnements genutzt werden kann. Dies sind die Zahlungsarten Rechnung, Vorkasse und Lastschrift.<br>
Dies ist keine Standardspalte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>pluginKey</strong> und <strong>paymentKey</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies sind eindeutige Werte, mit denen man eine Zahlungsart systemweit identifizieren kann. Sie werden beim Registrieren einer Zahlungsart durch die Entwickler:in bestimmt. Nutzbar sind diese Werte vor allem für Entwickler:innen, z.B. wenn man die ID einer Zahlungsart aus dem System auslesen möchte.<br>
Dies ist keine Standardspalte.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">6. Marktplatz-Zahlungsarten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Marktplatz-Zahlungsarten sind Zahlungsarten, die in Verbindung mit der Einrichtung eines Marktplatzes zur Kennzeichnung von Zahlungseingängen genutzt werden. Diese Zahlungsarten sind automatisch in deinem plentymarkets System verfügbar, sobald du ein aktives Konto für den entsprechenden Marktplatz hast.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/amazon-einrichten#4500">Amazon</a></p>
</li>
<li>
<p><a href="/maerkte/bol-com#650">BOL.com</a></p>
</li>
<li>
<p><a href="/maerkte/cdiscount#900">Cdiscount</a></p>
</li>
<li>
<p><a href="/maerkte/check24#700">Check24</a></p>
</li>
<li>
<p><a href="/maerkte/ebay/ebay-einrichten#2250">eBay-Rechnungskauf</a></p>
</li>
<li>
<p><a href="/maerkte/flubit#370">Flubit</a></p>
</li>
<li>
<p><a href="/maerkte/fruugo#600">Fruugo</a></p>
</li>
<li>
<p><a href="/maerkte/idealo/idealo-einrichten#1100">idealo Direktkauf</a></p>
</li>
<li>
<p><a href="/maerkte/kaufland-de/kaufland-de-einrichten#800">Kaufland.de</a></p>
</li>
<li>
<p><a href="/maerkte/neckermann/neckermann-at-einrichten#1600">Neckermann.at</a></p>
</li>
<li>
<p><a href="/maerkte/plus-gartenxxl#400">Netto</a></p>
</li>
<li>
<p><a href="#maerkte/otto/otto-market425">OTTO Payment</a></p>
</li>
<li>
<p><a href="/maerkte/pixmania#800">PIXmania</a></p>
</li>
<li>
<p><a href="/maerkte/shopgate#600">Shopgate Payment</a></p>
</li>
<li>
<p><a href="/maerkte/yatego#900">Yatego Rechnung</a></p>
</li>
<li>
<p><a href="/maerkte/zalando#800">Zalando Payment</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>