<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Grundeinstellungen für Zahlungseingänge vornehmen</span></a></li>
<li><a href="#20"><span>2.</span><span> Zahlungen buchen</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Bankbuchungen importieren</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Zahlungen manuell buchen</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Nicht buchbare Zahlungen</span></a></li>
</ul>
</li>
<li><a href="#60"><span>3.</span><span> Zahlungen zuordnen</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>3.1.</span><span> Zahlungseingänge manuell zuordnen</span></a></li>
<li><a href="#80"><span>3.2.</span><span> Zahlungseingänge automatisch per Gruppenfunktion zuordnen</span></a></li>
<li><a href="#90"><span>3.3.</span><span> Zuordnung von Zahlungseingängen aufheben</span></a></li>
</ul>
</li>
<li><a href="#100"><span>4.</span><span> Zahlungen suchen</span></a></li>
<li><a href="#110"><span>5.</span><span> Zahlungen bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>5.1.</span><span> Zahlungsinformationen abrufen</span></a></li>
<li><a href="#130"><span>5.2.</span><span> Zahlungen aufteilen</span></a></li>
<li><a href="#140"><span>5.3.</span><span> Zahlungen löschen</span></a></li>
<li><a href="#150"><span>5.4.</span><span> Teilzahlungen bearbeiten</span></a></li>
<li><a href="#160"><span>5.5.</span><span> Überzahlungen bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#170"><span>6.</span><span> Zahlungseingänge auf der Startseite anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Zahlungen verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Zahlungen erreichen dein System aus verschiedenen Quellen. Im Menü <strong>Aufträge » Zahlungsverkehr</strong> verwaltest du sämtliche Zahlungseingänge unabhängig von der Zahlungsquelle. Grundsätzlich wird zwischen zwei Arten von Zahlungsmöglichkeiten unterschieden: Zahlungen mit und Zahlungen ohne Zahlungsanbieter. Zahlungen per PayPal oder Vorkasse in Form einer Vorab-Überweisung erfordern einen Zahlungsanbieter, auch Payment Provider genannt. Barzahlungen benötigen keinen Zahlungsanbieter. Weitere Informationen zu Zahlungsarten und Payment-Plugins findest du im Bereich <a href="/payment">Payment</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Grundeinstellungen für Zahlungseingänge vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Menü nimmst du Einstellungen für die automatische Zuordnung sowie die Zahlungskulanz vor. Es sind bereits Standardeinstellungen im System hinterlegt, die aus Erfahrungswerten gewonnen wurden und sich in der Praxis bewährt haben. Um diese Einstellungen zu ändern, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Eingänge</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-grundeinstellungen-zahlungseingang">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-grundeinstellungen-zahlungseingang" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen für Zahlungseingänge vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Übereinstimmung für automatische Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zwischen <strong>0.7</strong> (nicht so genaue Übereinstimmung zur Zuordnung nötig) und <strong>1.0</strong> (genaue Übereinstimmung nötig) wählen. Ist dieser Wert höher eingestellt, kann das Problem auftreten, dass Zahlungen nicht zugeordnet werden können. Daher ist in der <strong>Standard-Einstellung</strong> ein Wert von <strong>0,75</strong> eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungskulanz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Damit z.B. interne Nachkommabeträge (ab der dritten Nachkommastelle) nicht zu falschen Buchungen führen, sollte ein <strong>Mindestbetrag</strong> von <strong>0,01</strong> eingetragen sein (Standard-Einstellung). Wenn z.B. <strong>0,05</strong> eingestellt ist, werden Fehlbeträge bis 5 Cent trotzdem als korrekte Buchung behandelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenbankdaten importieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die <strong>Bankdaten</strong> des Kunden beim Zahlungseingang <strong>importiert</strong> und in den jeweiligen <strong>Kundendaten</strong> hinterlegt werden sollen oder nicht.<br>
<strong><em>Wichtig:</em></strong> Da Bankdaten nur mit Zustimmung des Kunden importiert und gespeichert werden dürfen, ist hier standardmäßig <strong>Nein</strong> voreingestellt. Vor dem Aktivieren die Rechtslage zu diesem Thema beachten, ggf. auch im jeweiligen Lieferland.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Zahlung nur entsprechendem eBay Listing zuordnen, sofern an der Zahlung hinterlegt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Falls du ebay Listings in Kombination mit der Zahlungsart PayPal verwendest, empfehlen wir, bei dieser Option <strong>JA</strong> auszuwählen. So wird sichergestellt, dass entsprechende PayPal-Zahlungen den dazugehörigen Aufträgen von eBay korrekt zugeordnet werden. Sollte an einer PayPal Zahlung eine eBay Listing-ID hinterlegt sein, so wird bei aktivierter Option diese Zahlung nur dem Auftrag zugeordnet, der über eine übereinstimmende eBay Listing-ID verfügt.<br>
<strong><em>Hinweis:</em></strong> Diese Funktionalität bezieht sich ausschließlich auf die PayPal-Schnittstelle für plentymarkets Callisto-Shops und <strong>nicht</strong> auf das PayPal-Plugin!</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WooCommerce PayPal Zahlung ignorieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option <strong>JA</strong>, um bei Aufträgen mit der Zahlungsart PayPal, die über WooCommerce importiert werden, den automatischen Zahlungsimport zu deaktivieren.<br>
<strong><em>Hinweis:</em></strong> Diese Funktionalität bezieht sich ausschließlich auf die PayPal-Schnittstelle für plentymarkets Callisto-Shops und <strong>nicht</strong> auf das PayPal-Plugin!</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Zahlungen buchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zahlungen gehen entweder automatisch im System ein oder werden manuell eingebucht. Zahlungen gehen z.B. automatisch ein, wenn du Payment-Plugins in deinem plentymarkets System nutzt. Einige Zahlungsanbieter leiten den Kunden zur Abwicklung des Zahlungsvorgangs auf die eigenen Seiten weiter. Bei anderen Anbietern werden in deinem Shop die Zahlungsdaten entgegengenommen und im Hintergrund an den Provider weitergeleitet. In beiden Fällen erhält plentymarkets nach erfolgter Zahlung eine Rückmeldung des Anbieters und vermerkt den Zahlungseingang direkt im Auftrag. Manuell importierst du z.B. Bankbuchungen für Zahlungen, die unabhängig von einem Zahlungsanbieter ablaufen.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Bankbuchungen importieren</h3>
<div class="paragraph">
<p>Zahlungsvorgänge bei der Zahlungsart Vorkasse und sonstigen Überweisungen fallen in Form von Bankbuchungen an. Bei diesen Zahlungsarten müssen die auf deinem Konto gebuchten Zahlungen an das System gemeldet und den Aufträgen korrekt zugeordnet werden. Importiere Bankbuchungen im CSV-Format in dein plentymarkets System. Beachte dabei die Reihenfolge der Parameter, die von deinem Bankprogramm abhängt. Lege  zunächst die Spaltenreihenfolge für den Import fest.</p>
</div>
<div class="paragraph instruction">
<p>Spaltenreihenfolge festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.<br>
→ Das Tab <strong>Zahlungsverkehr</strong> wird angezeigt.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Bankbuchungen » Tab: Einstellungen Datenformat</strong>.</p>
</li>
<li>
<p>Wähle ein <strong>Bankkonto</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Bearbeiten</strong>.<br>
→ Die Tabelle <strong>Felderbelegung</strong> wird angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-spaltenreihenfolge-festlegen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-spaltenreihenfolge-festlegen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Spaltenreihenfolge festlegen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bankkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Konto</strong> oder <strong>Konto 2</strong> wählen. Wenn unterschiedliche Konfigurationen benötigt werden, alternative Einrichtung für <strong>Konto 2</strong> vornehmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ab Zeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ab welcher Zeile die Buchungsdaten importiert werden. Häufig beginnen CSV-Dateien mit einer Kopfzeile, in diesem Fall hier den Wert <strong>2</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inhalt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inhalt wählen und die Reihenfolge der Spalten in der CSV-Datei festlegen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Importiere anschließend deine Bankbuchungsdatei.</p>
</div>
<div class="paragraph instruction">
<p>Import durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.<br>
→ Das Tab <strong>Zahlungsverkehr</strong> wird angezeigt.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Bankbuchungen » Tab: Importieren</strong>.</p>
</li>
<li>
<p>Wähle das <strong>Bankkonto</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle das <strong>Feldtrennzeichen</strong>.</p>
</li>
<li>
<p>Klicke unter <strong>Buchungsdatei</strong> auf <strong>Datei auswählen</strong>.<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle die CSV-Datei aus.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.<br>
→ Die Buchungsdatei wird importiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du kannst diesen Vorgang mehrfach wiederholen. Dabei werden Duplikate, d.h. doppelt eingelesene Datensätze, verworfen. Im Anschluss an den Import wird ein Durchlauf mit automatischer Zuordnung zu Aufträgen gestartet.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Zahlungen manuell buchen</h3>
<div class="paragraph">
<p>Wenn du eine Zahlung oder Teilzahlung manuell im Auftrag buchen möchtest, weil z.B. dein Kunde die Ware bei Abholung bar bezahlt hat oder weil eine Zahlung nicht in der Übersicht zu finden ist, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag, in dem du eine Zahlung buchen möchtest.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Zahlung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Zahlung buchen</strong>.<br>
→ Das Fenster <strong>Zahlung buchen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-zahlungen-manuell-buchen">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Zahlung buchen</strong>.<br>
→ Die Zahlung wird gebucht und in der Zahlungsübersicht angezeigt. Die Beträge in der Kopfzeile der Übersicht werden angepasst.</p>
</li>
</ol>
</div>
<table id="tabelle-zahlungen-manuell-buchen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Zahlungen manuell buchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vollen Betrag oder Teilbetrag eingeben, der gebucht werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Haben/Soll</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Haben</strong> oder <strong>Soll</strong> wählen. Die Auswahl richtet sich nach dem offenen Betrag. Standardmäßig ist <strong>Haben</strong> gewählt. Bei negativen offenen Beträgen, z.B. bei einer Überzahlung, ist <strong>Soll</strong> gewählt. Die Auswahl kann bei Bedarf geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung wählen, in der die Zahlung vorgenommen werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wechselkurs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Bedarf einen von der aktuellen System-Wechselkurs-Konfiguration abweichenden Wechselkurs eingeben.<br>
<strong><em>Wichtig</em></strong>: Wenn die Zahlung in einer anderen Währung als der für die Zahlung eingestellten Währung (Standard-Währung) gebucht werden soll, z.B. in US-Dollar, unter <strong>Währung</strong> die Option <strong>USD</strong> wählen und unter <strong>Betrag</strong> den erhaltenen Betrag eingeben.<br>
Wenn der Wechselkurs im Menü <a href="/payment/waehrungen">Einrichtung » Aufträge » Zahlung » Währungen</a> ermittelt wurde und verwendet werden soll, unter <strong>Wechselkurs</strong> nichts eingeben, da dieser Kurs automatisch angewendet wird. Die Option <strong>Wechselkurs</strong> wird nur benötigt, wenn ein anderer Wechselkurs für diese Zahlung angewendet werden soll, z.B. der Kurs zum Zeitpunkt des Zahlungseingangs. In diesem Fall den zu diesem Zeitpunkt zutreffenden Wechselkurs eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier ist die Auftrags-ID voreingetragen, dieser Eintrag kann angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des Zahlungseingangs wählen. Standardmäßig ist das aktuelle Datum voreingestellt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Manuell gebuchte Zahlungseingänge erkennst du an dem Symbol <strong>Manuelle Buchung</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Nicht buchbare Zahlungen</h3>
<div class="paragraph">
<p>Es gibt Fälle, in denen Zahlungen in der Übersicht keinen Aufträgen mehr zugeordnet werden können. Das sind zum Beispiel Vormerkposten, zu denen die eigentliche Zahlung bereits gebucht wurde. Die Zahlungen werden in der Übersicht mit <strong>Nicht verbuchbare Zahlung</strong> gekennzeichnet.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. Zahlungen zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach der Buchung in plentymarkets werden die Zahlungen Aufträgen über eine unscharfe Suche automatisch zugeordnet. Wenn die Zuordnung fehlschlägt, können Buchungen Aufträgen <a href="/payment/zahlungen-verwalten#80">manuell zugeordnet</a> werden. Unzugeordnete Zahlungen sind mit einem <strong>grünen Pfeil</strong> gekennzeichnet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ereignisaktionen für Zahlungseingänge einrichten</div>
<div class="paragraph">
<p>Der Zahlungseingang als Ereignis spielt in der Auftragsbearbeitung eine wichtige Rolle, da der Versand häufig erst nach Zahlungseingang erfolgt. In plentymarkets wechselt der Status der meisten Aufträge mit dem Eintreffen der Zahlung von <strong>Status [3] - Warten auf Zahlung</strong> in <strong>Status [5] - Freigabe Versand</strong>. Richte <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> ein, um die Auftragsbearbeitung zu automatisieren und den Versand nach Zahlungseingang auszulösen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Du hast zwei Möglichkeiten, unzugeordnete Zahlungseingänge zuzuordnen. Zum einen, einzelne Zahlungseingänge manuell zuzuordnen, zum anderen, mehrere Zahlungen automatisch zuzuordnen. Wie du die Übereinstimmungsquote für Zahlungseingänge festlegst, wird unter <a href="/payment/zahlungen-verwalten#10">Grundeinstellungen für Zahlungseingänge vornehmen</a> beschrieben.</p>
</div>
<div class="sect2">
<h3 id="70">3.1. Zahlungseingänge manuell zuordnen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Zahlungseingänge manuell zuzuordnen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungseingang manuell zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile eines unzugeordneten Zahlungseingangs auf <strong>Zahlung zuordnen</strong>.<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Wähle den Auftrag, dem die Zahlung zugeordnet werden soll.</p>
</li>
<li>
<p>Wenn nicht automatisch ein passender Auftrag angezeigt wird, gib die <strong>Auftrags-ID</strong> oder die zugehörige <strong>Rechnungsnummer</strong> in das Eingabefeld ein.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnen</strong>, um den Auftrag zuzuordnen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="80">3.2. Zahlungseingänge automatisch per Gruppenfunktion zuordnen</h3>
<div class="paragraph">
<p>Mit der Gruppenfunktion bearbeitest du beliebig viele Zahlungen gleichzeitig. Gehe wie im Folgenden beschrieben vor, um Zahlungseingänge mit der Gruppenfunktion automatisch zuzuordnen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungseingänge automatisch zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Filtere die Zahlungseingänge, die du zuordnen möchtest.</p>
</li>
<li>
<p>Setze ein Häkchen bei den zuzuordnenden Zahlungseingängen.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die <strong>Automatische Zuordnung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Die Zahlungseingänge werden zugeordnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">3.3. Zuordnung von Zahlungseingängen aufheben</h3>
<div class="paragraph">
<p>Du kannst entweder nur die Zuordnung aufheben und anschließend den Zahlungseingang erneut einem Auftrag zuordnen oder die Zuordnung aufheben und den Zahlungseingang löschen. Dies ist ebenfalls im Tab <strong>Zahlung</strong> eines Auftrags möglich.</p>
</div>
<div class="paragraph instruction">
<p>Zuordnung aufheben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile eines zugeordneten Zahlungseingangs auf <strong>Auftragszuordnung aufheben</strong>.<br>
→ Die Zuordnung wird aufgehoben und ein <strong>grüner Pfeil</strong> wird angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Zuordnung aufheben und Zahlungseingang löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile eines zugeordneten Zahlungseingangs auf <strong>Auftragszuordnung aufheben</strong>.<br>
→ Die Zuordnung wird aufgehoben und ein <strong>grüner Pfeil</strong> wird angezeigt.</p>
</li>
<li>
<p>Klicke am Ende der Zeile des Zahlungseingangs auf <strong>Löschen</strong>.<br>
→ Der Zahlungseingang wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">4. Zahlungen suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst die Suche nach Zahlungen nutzen, um Zahlungen eines Zahlungsanbieters zu prüfen oder unzugeordnete Zahlungen zu finden. Dazu steht das Tab <strong>Filter</strong> zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungen suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong>. Beachte dazu die Erläuterungen in <a href="#tabelle-zahlungen-suchen">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>, um die Suche auszuführen.</p>
</li>
</ol>
</div>
<table id="tabelle-zahlungen-suchen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Zahlungen suchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Reset</strong> klicken, um Filter zurückzusetzen. Erneut auf <strong>Suchen</strong> klicken, um alle Zahlungseingänge anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Zahlung mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Auftrags eingeben, dem eine Zahlung zugeordnet ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwendungszweck oder einen Teil des Verwendungszwecks eingeben, um nach Zahlungen mit diesem Zweck zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontoinhaber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontoinhaber eingeben, um nach Zahlungen mit diesem Kontoinhaber zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugeordnet</strong>, <strong>Unzugeordnet</strong> oder <strong>ALLE</strong> wählen.<br>
<strong>Zugeordnet</strong> = Nur Zahlungen anzeigen, die bereits einem Auftrag zugeordnet wurden.<br>
<strong>Unzugeordnet</strong> = Nur Zahlungen anzeigen, die keinem Auftrag zugeordnet wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Zahlungsart oder <strong>ALLE</strong> wählen, um nach Zahlungen mit dieser Zahlungsart zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>S/H</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Haben</strong>, <strong>Soll</strong> oder <strong>ALLE</strong> wählen.<br>
<strong>Haben</strong> = Alle Zahlungseingänge mit positivem Wert werden angezeigt.<br>
<strong>Soll</strong> = Alle Zahlungseingänge mit negativem Wert werden angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Status oder <strong>ALLE</strong> wählen, um nach Zahlungen mit diesem Status zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaktionstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Transaktionstyp oder <strong>ALLE</strong> wählen, um nach Zahlungen mit diesem Transaktionstyp zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Währung oder <strong>ALLE</strong> wählen, um nach Zahlungen mit dieser Währung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen und eine Summe eingeben.<br>
<strong><em>Beispiel</em></strong>: <strong>&gt;=</strong> wählen und 300 als <strong>Wert</strong> eingeben, um alle Zahlungen mit einem Zahlbetrag von 300 EUR oder mehr anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eingangsdatum von;<br>
Eingangsdatum bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, um nach Zahlungen zu suchen, die in diesem Zeitraum eingegangen sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Importdatum von;<br>
Importdatum bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, um nach Zahlungen zu suchen, die in diesem Zeitraum importiert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zuordnungsdatum von;<br>
Zuordnungsdatum bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum wählen, um nach Zahlungen zu suchen, die in diesem Zeitraum zugeordnet wurden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">5. Zahlungen bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zahlungen bearbeitest du entweder im Menü <strong>Zahlungsverkehr</strong> oder direkt im Auftrag. Bei zugeordneten Zahlungen ist der Auftrag über die ID neben dem gelben Pfeil in der Spalte <strong>Zuordnung</strong> verknüpft. Klicke auf die ID, um den Auftrag zu öffnen. Im Auftrag findest du im Tab <strong>Zahlung</strong> alle mit diesem Auftrag verbundenen Zahlungen. Dort stehen die gleichen Funktionen zur Verfügung wie im Menü <strong>Zahlungsverkehr</strong>. Zusätzlich kannst du direkt <a href="/payment/zahlungen-verwalten#20">Zahlungen buchen</a>.</p>
</div>
<div class="sect2">
<h3 id="120">5.1. Zahlungsinformationen abrufen</h3>
<div class="paragraph">
<p>In der Übersicht im Tab <strong>Zahlung</strong> eines Auftrags werden ganz oben im Tab folgende Informationen zu den Beträgen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Gesamtbetrag</strong> = Summe des Auftrags.</p>
</li>
<li>
<p><strong>Bezahlt</strong> = Summe, die bereits bezahlt wurde.</p>
</li>
<li>
<p><strong>Offen</strong> = Summe, die noch nicht bezahlt wurde.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="130">5.2. Zahlungen aufteilen</h3>
<div class="paragraph">
<p>Manuell gebuchte Zahlungseingänge, importierte Bankbuchungen sowie EBICS-Zahlungen teilst du im Menü <strong>Aufträge » Zahlungsverkehr</strong> auf. Auf diese Weise kannst du eine Zahlung mehreren Aufträgen zuordnen. Beachte, dass Vormerkposten von der Zahlungsaufteilung ausgenommen sind. Um Zahlungen aufzuteilen, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung aufteilen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile eines Zahlungseingangs auf <strong>Zahlung aufteilen</strong>.<br>
→ Das Fenster <strong>Zahlung aufteilen</strong> wird geöffnet und eine Liste mit allen offenen Aufträgen wird angezeigt.</p>
</li>
<li>
<p>Filtere ggf. die Aufträge.</p>
</li>
<li>
<p>Setze Häkchen bei den Aufträgen, die du der Zahlung zuordnen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Die Zahlung wird den gewählten Aufträgen zugeordnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Neue zugeordnete Zahlungen in der Übersicht nach Aufteilung einer Zahlung</div>
<div class="paragraph">
<p>Nach einem Klick auf <strong>Neu laden</strong> werden neue Einträge in der Übersicht des Zahlungsverkehrs erstellt, die den zuvor gewählten Aufträgen zugeordnet sind, sowie ggf. ein unzugeordneter Eintrag mit dem Restbetrag des Zahlungseingangs. Der unzugeordnete Eintrag kann wiederum gesplittet werden. Um den ursprünglichen Zahlungseingang wiederherzustellen oder zu löschen, lösche zunächst alle per Splitting zugeordneten Zahlungen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">5.3. Zahlungen löschen</h3>
<div class="paragraph">
<p>Um eine Zahlung aus der Übersicht zu löschen, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Zahlungsverkehr</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile eines Zahlungseingangs auf <strong>Löschen</strong>.<br>
→ Das Fenster <strong>Löschen der Zahlung bestätigen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Zahlung löschen</strong>.<br>
→ Die Zahlung wird gelöscht und die Übersicht aktualisiert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="150">5.4. Teilzahlungen bearbeiten</h3>
<div class="paragraph">
<p>Es kommt vor, dass Kunden nicht die gesamte Auftragssumme zahlen. Der Eingang einer Teilzahlung führt im Auftrag zu einem Wechsel in den Status 3.3 (Versandfertig, Warten auf Zahlung). Sobald ein Auftrag komplett bezahlt ist, wechselt der Status in 4 (Versandvorbereitung, warten auf Auffüllung des Warenbestands) oder 5 (Freigabe Versand). Richte eine Ereignisaktion ein, über die Kunden automatisch per E-Mail aufgefordert werden, den Restbetrag zu entrichten.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 5.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 5 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von E-Mails bei Zahlungseingang</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung: Teilzahlung</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag: Teilzahlung erhalten; <br>
Kunde</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>E-Mail-Vorlage anpassen</p>
</div>
<div class="paragraph">
<p>Passe die <a href="/crm/e-mails-versenden">E-Mail-Vorlage</a> <strong>Teilzahlung erhalten</strong> mit deinen Unternehmensdaten an, bevor du die Ereignisaktion einrichtest. <a href="#tabelle-email-template-zahlungseingang">Tabelle 6</a> erläutert relevante Template-Variablen für die E-Mail-Vorlage <strong>Teilzahlung erhalten</strong>.</p>
</div>
<table id="tabelle-email-template-zahlungseingang" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. E-Mail-Template-Variablen für Zahlungseingänge</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Variablen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesamtbetrag der eingegangenen Zahlungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OpenAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fehlbetrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$InvoiceTotal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsbetrag</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="160">5.5. Überzahlungen bearbeiten</h3>
<div class="paragraph">
<p>Wenn ein Auftrag überbezahlt wurde, erhält der Auftrag den Status 3.2 (In Warteposition). So kannst du vor dem Versand mit dem Kunden noch klären, warum er zu viel bezahlt hat, oder ihm den zu viel gezahlten Betrag zurückzahlen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="170">6. Zahlungseingänge auf der Startseite anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf der Startseite deines plentymarkets Backends kannst du das Element <strong>Zahlungen</strong> hinzufügen. In diesem Element findest du Informationen zu unzugeordneten Zahlungen sowie alle Zahlungseingänge vom vorherigen und aktuellen Tag. Wenn du auf die Anzahl der Zahlungen klickst, gelangst du direkt zur Übersicht über die Zahlungen. Möchtest du dieses Element nicht auf deiner Startseite verwenden, gelangst du über <strong>Aufträge » Zahlungsverkehr</strong> und durch die Verwendung der Filter in der Suche zu den gleichen Ergebnissen.</p>
</div>
<div class="paragraph">
<p>Es empfiehlt sich, vor der Auftragsbearbeitung einen Blick auf die unzugeordneten Zahlungen zu werfen. Prüfe, ob Zahlungseingänge aus <strong>Vorkasse</strong> darunter sind, die aufgrund von Betrag und Buchungstext zweifelsfrei einem Auftrag zugeordnet werden können. Dies erspart deinen Kunden längere Wartezeiten und dir unliebsame Reklamationen.</p>
</div>
<div class="paragraph">
<p>Die unzugeordneten Zahlungen solltest du mindestens einmal wöchentlich bearbeiten und bereinigen, damit dir der Überblick im Tagesgeschäft nicht verloren geht. Wie du nicht zugeordnete Zahlungen und Buchungen den Aufträgen zuweist, erfährst du unter <a href="/payment/zahlungen-verwalten#70">Zahlungen zuordnen</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Zahlungen von SOFORT Überweisung werden unmittelbar nach dem Zahlungsvorgang per Schnittstelle bestätigt, tauchen dann aber erneut als Bankbuchungen im System auf. Diese Bankbuchungen kannst du ohne Bedenken aus der Liste der unzugeordneten Zahlungen löschen, da den Aufträgen die Zahlung ja bereits zugewiesen wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>