<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Zahlungsart suchen</span></a></li>
<li><a href="#20"><span>2.</span><span> Zahlungsart einrichten</span></a></li>
<li><a href="#25"><span>3.</span><span> Standard-Zahlungsart festlegen</span></a></li>
<li><a href="#30"><span>4.</span><span> Zahlungsart in Kundenklasse erlauben</span></a></li>
<li><a href="#50"><span>5.</span><span> Rabatt auf Zahlungsart gewähren</span></a></li>
<li><a href="#40"><span>6.</span><span> Vertragsfreie Zahlungsarten</span></a></li>
<li><a href="#60"><span>7.</span><span> Versand ohne Zahlungseingang</span></a></li>
<li><a href="#70"><span>8.</span><span> Marktplatz-Zahlungsarten</span></a></li>
<li><a href="#80"><span>9.</span><span> Rundungsdifferenzen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Zahlungsarten verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Zahlungsarten nur für Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Zahlungsarten-Schnittstellen für Callisto Shops. In Ceres Shops werden die Zahlarten über Plugins eingebunden. Die einzelnen Payment-Plugins sowie Anleitungen zur Einrichtung findest du im entsprechenden Bereich des <a href="https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite erfährst du, wie du Zahlungsarten einrichtest. Weiterhin erhältst du einen Überblick über vertragsfreie Zahlungsarten, z.B. <strong>Rechnung</strong> oder <strong>Vorkasse</strong>, sowie weiterführende Informationen zu diesen Zahlungsarten. Die Einrichtung von Schnittstellen zu Zahlungsarten und Zahlungsanbietern ist jeweils auf einer eigenen Handbuchseite beschrieben, die du über den Themenbereich <a href="/payment">Payment</a> erreichst. Schließlich findest du eine Übersicht der Marktplatz-Zahlungsarten. Eine detaillierte Beschreibung zur Aktivierung von Marktplatz-Zahlungsarten findest du auf den Handbuchseiten der <a href="/maerkte">Marktplätze</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Zahlungsart suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet dir ein breites Sortiment an vertragsfreien und vertragspflichtigen Zahlungsarten. Finde deine gesuchte Zahlungsart einfach über die Suchfunktion.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Gib in das Suchfeld den Namen des Zahlungsanbieters oder der Zahlungsart ein.<br>
→ Die Suchergebnisse werden aufgelistet.</p>
</li>
<li>
<p>Klicke zum Öffnen auf den Zahlungsanbieter oder die Zahlungsart.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Symbole des Verzeichnisbaums haben folgende Bedeutung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Häkchen</strong> = Aktive Zahlungsart.</p>
</li>
<li>
<p><strong>X</strong> = Inaktive Zahlungsart. Inaktive Zahlungsarten können ein- und ausgeblendet werden.</p>
</li>
<li>
<p><strong>Ordner</strong> = Zahlungsanbieter, die mehrere Zahlungsarten anbieten. Aufklappen, um Zahlungsarten zu sehen.</p>
</li>
<li>
<p><strong>Ordner mit Fragezeichen</strong> = Ordner, die aktive und inaktive Zahlungsarten enthalten.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Zahlungsart einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine Zahlungsart ein wie im Folgenden beschrieben. Beachte, dass Zahlungsarten anschließend in einem anderen Menü für Kundenklassen erlaubt werden müssen. Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>DE</strong> bzw. <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf die Zahlungsart.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-zahlungsart">Tabelle 1</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-zahlungsart" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit ist es möglich, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferland wählen.<br>
<strong><em>Hinweis:</em></strong> Lieferländer nur wählen, wenn die Zahlungsart im Webshop verwendet wird. Bei Marktplatz-Zahlungsarten keine Lieferländer wählen. Eine Marktplatz-Zahlungsart wird nicht im Webshop verwendet. Deshalb wird die Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig konfiguriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG, JPG. Maximale Größe: 100 x 25 Pixel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben.<br>
<strong>Inland (Aufpreis)</strong>: Pauschalen oder prozentualen Wert eingeben, der bei Aufträgen berücksichtigt wird, bei denen das Systemland gewählt wurde. Diese Kosten werden im Bestellvorgang bei der Wahl der Zahlungsart zum Auftrag addiert. Der Betrag fließt in die Gesamtsumme des Auftrags ein und wird nicht einzeln ausgewiesen.<br>
<strong>Ausland (Aufpreis)</strong>: Pauschalen oder prozentualen Wert eingeben, der bei Aufträgen berücksichtigt wird, bei denen nicht das Systemland gewählt wurde. Diese Kosten werden im Bestellvorgang bei der Wahl der Zahlungsart zum Auftrag addiert. Der Betrag fließt in die Gesamtsumme des Auftrags ein und wird nicht einzeln ausgewiesen.<br>
<strong>Inland (Statistik)</strong>: Pauschalen oder prozentualen Wert eingeben, der bei Aufträgen berücksichtigt wird, bei denen das Systemland gewählt wurde.<br>
<strong>Ausland (Statistik)</strong>: Pauschalen oder prozentualen Wert eingeben, der bei Aufträgen berücksichtigt wird, bei denen nicht das Systemland gewählt wurde.<br>
Weitere Informationen im Themenbereich <a href="/basics/arbeiten-mit-plentymarkets/statistik">Statistik</a> und <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten#80">Renner und Penner</a>.<br>
<strong><em>Wichtig</em></strong>: Nicht in beide Felder einen Wert eingeben. Die Vertragsbedingungen des Zahlungsanbieters beachten. Einige Zahlungsanbieter untersagen die Weitergabe der Gebühren an den Endkunden.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel für pauschale und prozentuale Kosten</div>
<div class="paragraph">
<p>Wenn du einen Aufpreis eingeben möchtest, gib einen positiven Wert ein. Für einen Aufpreis von 1 Prozent gibst du einen prozentualen Wert von 1 ein. Für einen Aufpreis von 1 EUR gibst du einen pauschalen Wert von 1 ein. Wenn du einen Rabatt eingeben möchtest, gib einen negativen Wert ein, z.B. -2 für einen Rabatt von 2 Prozent.<br>
<strong>Inland</strong> entspricht dem unter <strong>Einrichtung » Einstellungen » Stammdaten</strong> bei der Einstellung <strong>Firmensitz für FiBu</strong> festgelegten Land. Bei Mandanten (Shops) hast du auch die Möglichkeit, dein <strong>Standard-Lieferland</strong> automatisch als <strong>Land des Firmensitzes</strong> zu verwenden. Diese Einstellung findest du unter <strong>Einrichtung » Mandant » Mandant wählen » Bestellvorgang » Einstellungen</strong>. Detailliertere Einstellungsmöglichkeiten von Rabatten auf Zahlungsarten sind über das Rabattsystem in plentymarkets möglich. Beachte dazu die Handbuchseite <a href="/crm/kontakte-verwalten#25">Rabatt auf Zahlungsart</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="25">3. Standard-Zahlungsart festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Zahlungsart festzulegen, die standardmäßig im Bestellvorgang in deinem Webshop voreingestellt ist.</p>
</div>
<div class="paragraph instruction">
<p>Standard-Zahlungsart festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Aufträge</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Standard-Zahlungsart</strong> eine Zahlungsart aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Zahlungsart in Kundenklasse erlauben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den Grundeinstellungen deiner Kundenklassen müssen Zahlungsarten erlaubt sein. Diese Einstellungen betreffen z.B. auch die <strong>Standard-Endkunden</strong>. Neue Zahlungsarten müssen den erlaubten Zahlungsarten hinzugefügt werden. Genauso kannst du hier Zahlungsarten für bestimmte Kundenklassen ausschließen, indem du die Zahlungsarten aus der Liste entfernst. Prüfe die Einstellungen unter <strong>Erlaubte Zahlungsarten</strong> deiner Kundenklassen, nachdem du eine neue Zahlungsart in deinem System eingerichtet hast. Weitere Details dazu findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten#15">Kundenklassen</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">SSL-Zertifikat und Verschlüsselung</div>
<div class="paragraph">
<p>Wir empfehlen dir grundsätzlich, wenn du mit Zahlungs- und Kundendaten arbeiten, eine <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Verschlüsselung</a> für deinen Webshop. Für Zahlungsarten, die mit einem iframe arbeiten, ist dies zwingend.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Rabatt auf Zahlungsart gewähren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Rabatt auf eine Zahlungsart ist eine Art Skonto-Umsetzung in plentymarkets. Du gewährst Kunden damit einen Rabatt auf die Verwendung einer oder mehrerer Zahlungsarten. Wie du diese Rabattart einrichtest, erfährst du unter <a href="/crm/kontakte-verwalten#25">Rabatt auf Zahlungsart</a>. Angaben zu <strong>Skonto</strong> und <strong>Valuta</strong> kannst du auch direkt im <a href="/crm/kontakte-verwalten#100">Datensatz eines Kontakts</a> vornehmen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">6. Vertragsfreie Zahlungsarten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als vertragsfreie Zahlungsarten werden hier Zahlungsarten bezeichnet, die du ohne Einrichtung von Schnittstellen in deinem Webshop verwenden kannst. Eine Übersicht findest du in der nachfolgenden Tabelle.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Übersicht über vertragsfreie Zahlungsarten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zahlungsart</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bar bei Übergabe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Zahlungsart verwenden, um Kunden die Möglichkeit zu bieten, im Falle einer Selbstabholung die Ware bar zu bezahlen. Den Zahlungseingang anschließend manuell im System buchen. Anschließend die Zahlung einem Auftrag zubuchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barverkauf&nbsp;/ EC-Karte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zahlungsart <strong>Barverkauf / EC-Karte</strong> wird z.B. für das plentymarkets Kassensystem im stationären Ladengeschäft genutzt, damit Kunden bar oder mit EC-Karte zahlen können. Zahlungseingänge werden über ein EC-Terminal oder das plentymarkets POS an das Backend übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kreditkarte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Käufer hinterlegt seine Kreditkartendaten beim Verkäufer, z.B. im Webshop. Nach Eingang des Betrags wird die Ware verschickt.<br>
<strong><em>Wichtig</em></strong>: Für die Zahlungsart <strong>Kreditkarte (manuelle Abwicklung)</strong> ist aus Datenschutzgründen keine Abwicklung in einem plentymarkets Webshop vorgesehen. Im Webshop eine andere Zahlungsart oder eine für die Kunden individuell abgestimmte Lösung verwenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lastschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Verkäufer erhält die Bankdaten des Käufers und die Erlaubnis, fällige Beträge vom Konto des Käufers einzuziehen. Die Zahlungsart global anbieten oder gezielt nur <a href="/crm/kontakte-verwalten#100">für einzelne Kunden erlauben</a>.<br>
<strong><em>Wichtig</em></strong>: Kunden können Lastschriften bei ihrer Bank widerrufen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachnahme</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Käufer bezahlt die Ware bei Erhalt. Der fällige Betrag wird vom Zusteller kassiert und quittiert.<br>
<strong><em>Wichtig</em></strong>: Bei Bestellungen per Nachnahme fallen Gebühren an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei dieser Zahlungsart bestellt der Kunde die Ware auf Rechnung. Die Zahlung erfolgt nach Erhalt der Ware. Der Kunde erhält zum Begleichen des fälligen Betrags eine Rechnung mit den Bankdaten des Verkäufers. Zahlungseingänge werden <a href="/payment/zahlungen-verwalten#30">importiert</a> und anschließend Aufträgen im plentymarkets System zugeordnet. Die Zahlungsart global anbieten oder gezielt nur <a href="/crm/kontakte-verwalten#100">für einzelne Kunden erlauben</a>. Weitere Informationen zu dieser Zahlungsart unter <a href="/payment/zahlungsarten-verwalten#55">Einstellungen für den Rechnungskauf vornehmen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorkasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei dieser Zahlungsart erhält der Käufer eine Nachricht mit den Daten zum Kauf sowie den Kontodaten des Verkäufers. Nachdem er die Ware bezahlt hat, die Zahlung ins plentymarkets System<a href="/payment/zahlungen-verwalten#30">importieren</a>. Im Anschluss erfolgt die Auslieferung. Mehr dazu, wie dem Kunden die Bankdaten zur Verfügung gestellt werden, unter <a href="/payment/bankdaten-verwalten">Bankdaten angeben</a>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Einstellungen für den Rechnungskauf vornehmen</p>
</div>
<div class="paragraph">
<p>In den erweiterten Einstellungen der Zahlungsart <strong>Rechnung</strong> legst du z.B. fest, dass Gastkunden nicht auf Rechnung bestellen können. Gehe wie im Folgenden beschrieben vor, um Einstellungen für die Zahlungsart <strong>Rechnung</strong> vorzunehmen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erweiterte Einstellungen</div>
<div class="paragraph">
<p>Beachte, dass für die Verwendung der erweiterten Einstellungen des Rechnungskaufs in plentymarkets folgende Bedingungen erfüllt sein müssen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verwendung des Standard-Designs Callisto (ab Version 3.5)</p>
</li>
<li>
<p>Verwendung der plentymarkets CMS-Tools (ab Version 1.0.18)</p>
</li>
<li>
<p>Nutzung des Individuellen Bestellvorgangs</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Einstellungen für den Rechnungskauf vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Rechnung</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappen den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-zahlungsart-rechnung">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-zahlungsart-rechnung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Einstellungen für die Zahlungsart <strong>Rechnung</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Grundeinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bankdaten anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bankdaten im Bestellvorgang und in der Auftragshistorie anzeigen. Weitere Informationen dazu unter <a href="/payment/bankdaten-verwalten#40">Bankdaten im Bestellvorgang anzeigen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwendungszweck im Bestellvorgang und in der Auftragshistorie anzeigen. Weitere Informationen dazu unter <a href="/payment/bankdaten-verwalten#40">Bankdaten im Bestellvorgang anzeigen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Erweiterte Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsadresse gleich Lieferadresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn Rechnungs- und Lieferadresse beim Kauf auf Rechnung übereinstimmen sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kauf auf Rechnung für Gastbestellungen verbieten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Kauf auf Rechnung nur für angemeldete Kunden zu erlauben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestanzahl an Bestellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestanzahl an Bestellungen eingeben, die ein Kunde mit einer anderen Zahlungsart abschließen muss, bevor der Kauf auf Rechnung verwendet werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximalbetrag für Kauf auf Rechnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betrag eingeben, der beim Kauf auf Rechnung nicht überschritten werden darf.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestbetrag für Kauf auf Rechnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betrag eingeben, der beim Kauf auf Rechnung nicht unterschritten werden darf.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">7. Versand ohne Zahlungseingang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei einigen Zahlungsarten, z.B. der Zahlung auf Rechnung, erfolgt der Versand bereits vor dem Zahlungseingang. Bei Beschränkung des <a href="/warenwirtschaft/warenbestaende-verwalten">Warenbestands</a> auf Netto-Warenbestand prüft das System, ob Bestand vorhanden ist, und versetzt den Auftrag je nach Bestandsverfügbarkeit in den Status 4 oder 5. Hierfür im Menü <a href="/auftraege/grundeinstellungen">Einrichtung » Aufträge » Einstellungen</a> die Einstellung <strong>Statuswechsel auf 4 statt 5, wenn Warenbestand fehlt</strong> auf <strong>JA</strong> setzen. Wenn keine Beschränkung des Warenbestands eingestellt ist, wird der Auftrag direkt zum Versand freigegeben, d.h. er wird in Status 5 versetzt.</p>
</div>
<div class="paragraph">
<p>Bei folgenden Zahlungsarten erfolgt der Versand vor dem Zahlungseingang:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Rechnung</p>
</li>
<li>
<p>Lastschrift</p>
</li>
<li>
<p>Nachnahme</p>
</li>
<li>
<p>Amazon</p>
</li>
<li>
<p>Kreditkarte (manuelle Abwicklung)</p>
</li>
<li>
<p>Coupon</p>
</li>
<li>
<p>RatePAY Rechnung</p>
</li>
<li>
<p>MeinPaket Payments</p>
</li>
<li>
<p>Hitmeister Payment</p>
</li>
<li>
<p>PAYONE Nachnahme</p>
</li>
<li>
<p>PAYONE Rechnung</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachte dazu auch die Handbuchseite <a href="/warenwirtschaft/warenbestaende-verwalten">Warenbestände</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">8. Marktplatz-Zahlungsarten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Marktplatz-Zahlungsarten sind Zahlungsarten, die in Verbindung mit der Einrichtung eines Marktplatzes zur Kennzeichnung von Zahlungseingängen genutzt werden. Die Zahlungsarten der Marktplätze werden in der Regel nicht vollständig eingerichtet, sondern lediglich aktiviert. Ohne eine Aktivierung können Probleme bei der Zahlungsabwicklung auftreten. Wie du Marktplatz-Zahlungsarten aktivierst, erfährst du auf der jeweiligen Handbuchseite der Märkte. Eine Übersicht findest du in der nachfolgenden Tabelle.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Übersicht über Marktplatz-Zahlungsarten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zahlungsart</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für Aufträge, die über den Marktplatz Amazon in dein plentymarkets System importiert werden. Zahlungsart <a href="/maerkte/amazon/amazon-einrichten#4500">Amazon</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Pay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart im Webshop für Kunden, die über den Marktplatz Amazon im Webshop einkaufen. Zahlungsart <a href="/payment/zahlungsanbieter/amazon-pay">Amazon Pay</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BOL.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für Aufträge, die über den Marktplatz bol.com in dein plentymarkets System importiert werden. Zahlungsart <a href="/maerkte/bol-com#650">BOL.com</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cdiscount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für Aufträge, die über den Marktplatz Cdiscount in dein plentymarkets System importiert werden. Zahlungsart <a href="/maerkte/cdiscount#90">Cdiscount</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Check24</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz Check24. Zahlungsart <a href="/maerkte/check24">Check24</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Rechnungskauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für Kauf auf Rechnung bei eBay. Zahlungsart <a href="/maerkte/ebay/ebay-einrichten#2250">eBay-Rechnungskauf</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für Aufträge, die über den Marktplatz Flubit in dein plentymarkets System importiert werden. Zahlungsart <a href="/maerkte/flubit">Flubit</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fruugo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für Aufträge, die über den Marktplatz Fruugo in dein plentymarkets System importiert werden. Zahlungsart <a href="/maerkte/fruugo#60">Fruugo</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GartenXXL.at</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz GartenXXL.at. Zahlungsart <a href="/maerkte/plus-gartenxxl#400">GartenXXL.at</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GartenXXL.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz GartenXXL.de. Zahlungsart <a href="/maerkte/plus-gartenxxl#400">GartenXXL.de</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Direktkauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz idealo Direktkauf. Zahlungsart <a href="/maerkte/idealo/idealo-einrichten#650">idealo Direktkauf</a> einrichten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neckermann Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz Neckermann.at. Zahlungsart <a href="/maerkte/neckermann/neckermann-at-einrichten#160">Neckermann.at</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz Netto. Zahlungsart <a href="/maerkte/plus-gartenxxl#400">Netto</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO Direktversand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für die Schnittstelle OTTO Direktversand. Zahlungsart <a href="/maerkte/otto#30">OTTO Direktversand</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Otto Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für die Schnittstellen OTTO Cooperation und OTTO Integration. Zahlungsart <a href="/maerkte/otto#30">Otto Payment</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz PIXmania. Zahlungsart <a href="/maerkte/pixmania#80">PIXmania</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz Rakuten. Zahlungsart <a href="/maerkte/rakuten/rakuten-einrichten#150">Rakuten</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz real.de. Zahlungsart <a href="/maerkte/real-de/real-de-einrichten#80">real.de</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz Shopgate. Zahlungsart <a href="/maerkte/shopgate#60">Shopgate</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yatego Rechnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz Yatego. Zahlungsart <a href="/maerkte/yatego#80">Yatego Rechnung</a> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zalando Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart für den Marktplatz Zalando. Zahlungsart <a href="/maerkte/zalando#80">Zalando Payment</a> aktivieren.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">9. Rundungsdifferenzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Manche Zahlungsanbieter verlangen die Angabe der Artikelmenge pro Artikelposition sowie den Einzelpreis auf zwei Stellen nach dem Komma genau. Wenn auf Artikel <strong>Rabatte</strong> gewährt werden, kann dies besonders bei größeren Artikelmengen bei Artikeln mit niedrigen Preisen pro Artikelposition zu Rundungsdifferenzen zwischen der Berechnung in plentymarkets und der Berechnung des Zahlungsanbieters führen. In solchen Fällen wird beim Zahlungsanbieter der Rabatt pro Einzelpreis des Artikels berechnet und dann auf die Artikelmenge hochgerechnet, im plentymarkets System wird der Rabatt jeweils auf die Gesamtmenge des Artikels angesetzt. <a href="#tabelle-rundungsdifferenz-rabatte">Tabelle 5</a> gibt dir eine genaue Übersicht über die Berechnung eines Rabatts von 5 Prozent für größere Artikelmengen und zu welchen Ergebnissen bzw. Rundungsdifferenzen dies jeweils führt, wenn einmal der Rabatt pro Einzelartikel berechnet wird&nbsp;– die Berechnungsweise des Zahlungsanbieters&nbsp;– und einmal der Rabatt pro Summe des rabattierten Warenwertes angerechnet wird&nbsp;– die Berechnungsweise von plentymarkets.</p>
</div>
<table id="tabelle-rundungsdifferenz-rabatte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Rundungsdifferenzen bei Rabatten</caption>
<colgroup>
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1111%;">
<col style="width: 11.1112%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Menge</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Einzel-<br>
preis</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gesamt-<br>
preis</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Einzelpreis abzüglich 5% Rabatt</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Rabattierter Einzelpreis, gerundet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zahlungs-<br>
anbieter</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gesamtpreis abzüglich 5% Rabatt</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Rabattierter Gesamtpreis, gerundet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>plentymarkets</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>10</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2,25</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>22,50</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2,25 - 0,1125 = 2,1375</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2,14</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>21,40</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>22,50 - 1,125 = 21,375</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>21,38</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>15</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3,75</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>56,25</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3,75 - 0,1875 = 3,5625</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3,56</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>53,40</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>56,25 - 1,875 = 53,4375</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>53,44</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Summe:</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>74,80</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Summe:</strong> <strong>74,8125</strong> (Basis für plentymarkets)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Summe:</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>74,81</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>In diesem Fall beträgt die gesamte Differenz 1 Cent. Nur der erste Artikel ergäbe eine Differenz von 2 Cent, nur der zweite Artikel eine Differenz von 4 Cent.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Transaktion verweigert</div>
<div class="paragraph">
<p>Bei solchen Differenzen, auch wenn sie gering sind, ist es möglich, dass der Zahlungsanbieter die Transaktion verweigert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alternative Zahlungsanbieter oder Artikelpakete anbieten</div>
<div class="paragraph">
<p>Bei derartigen Problemen kannst du alternative Zahlungsarten anbieten, bei denen dieses Problem nicht auftritt, oder ggf. anbieten, den jeweiligen Zahlungsanbieter bezüglich einer Lösung zu kontaktieren. Alternativ kannst du für Artikel, bei denen diese Rundungsdifferenz auftritt (Artikel mit niedrigem Preis) <a href="/artikel/artikel-verwalten#920">Artikelpakete</a> anbieten, um diesen Effekt zu vermeiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>