<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Zahlungsanbieter</h1><p>Willkommen im Themenbereich Zahlungsanbieter. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/payment/zahlungsanbieter/paypal">Alter Webshop: PayPal</a></li><li><a href="/payment/zahlungsanbieter/paypal-plus">Alter Webshop: PayPal PLUS</a></li></ul>
</main>