<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Benutzerkonten anlegen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für jeden Mitarbeiter, der Zugang zu deinem plentymarkets Backend benötigt, solltest du einen Benutzer mit passenden Zugriffsrechten angelegen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/grundeinstellungen/benutzerkonten/variabel-admin#video">Variabel oder Admin (0:50)</a></p>
<p class="tableblock"><a href="/videos/grundeinstellungen/benutzerkonten/berechtigungen#video">Berechtigungen erteilen (2:43)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/204167392" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Meine Damen und Herren, bitte nehmen Sie jetzt Ihre Plätze ein, wir werden in Kürze beginnen. Genießen Sie nun vorab in unserem Making of einen Blick hinter die Kulissen auf die Akteure, die die Show zum Laufen bringen.</p>
</div>
<div class="paragraph">
<p>Der Drehbuchautor? Du selbst! Deine Schreibmaschine? plentymarkets! Eine großartige Geschichte beginnt mit den Charakteren, die du unter <strong>Einstellungen » Grundeinstellungen » Benutzer</strong> erschaffst.</p>
</div>
<div class="paragraph">
<p>Dein Unternehmen ist sicher keine One-Man-Show, was du also machst ist, deinen Mitarbeitern Zugang zu deinem
plenty System zu verschaffen und ihnen verschiedene Parts in deiner Erfolgsgeschichte zuzuweisen.</p>
</div>
<div class="paragraph">
<p>Über den Button <strong>Neu</strong> erweckst du eine neue Figur zum Leben und kannst sie benennen - als Part im Stück und auch
mit einem realen Namen. Eine Mailadresse solltest du auf jeden Fall eintragen, wenn dein System später einmal Mails an deine Mitarbeiter schicken soll.</p>
</div>
<div class="paragraph">
<p>Benutzerklassen kurbeln deine Kreativität bei der Charaktergestaltung etwas an. Entscheide dich also, wer quasi als Hauptdarsteller auftreten und wer einen Nebendarsteller spielen soll. Admins haben unbegrenzten Zugang zu deinem System, sprich: sie sind in jeder Szene präsent und somit unsere Hauptdarsteller. Variable Nutzer hingegen erwecken nur bestimmte Bereiche des Stücks zum Leben und können auf einzelnen Menübereiche begrenzt werden. Also sehen wir sie als unsere Nebendarsteller an. Beides ist nötig für eine gelungene Geschichte. Deine rechte Hand oder jemand mit viel Verantwortung benötigt definitiv einen größeren Part, um dir bei der täglichen Arbeit unter die Arme zu greifen, während Lagermitarbeiter oder Kundenberater voll in ihrer unterstützenden Rolle aufgehen und nicht von den für sie irrelevanten Aspekten abgelenkt werden sollten.</p>
</div>
<div class="paragraph">
<p>Tip Top ! Arbeiten wir zuerst die Charakterzüge unserer Hauptdarstellerin aus, die Admin-Nutzerin. Der Tab <strong>Stammdaten</strong> gibt dir einen Überblick über das Profil und bietet auch noch Raum für mehr Informationen, die
Nutzern etwas mehr Persönlichkeit verleihen; beispielsweise kannst du einen Skype-Namen eintragen. Falls es mal dazu kommen sollte, dass deine Stars Allüren zeigen und keinen Zugriff mehr auf dein plentymarkets haben soll, erledigst du das über einen simplen Klick in der Checkbox <strong>Gesperrt</strong>.</p>
</div>
<div class="paragraph">
<p>Außerdem findest du in den Stammdaten noch den Button, um deinen Mitarbeitern Zugang zum plentymarkets Forum zu
verschaffen, damit bei eventuellen Problemen sofort geholfen werden kann. Die Tabs <strong>Grußformel</strong> und <strong>Signatur</strong> beziehen sich auf das Ticketsystem, schau dir dazu am besten das passende Video an.</p>
</div>
<div class="paragraph">
<p>Wenn du beispielsweise Aufträge oder Kunden einem Nutzer zuordnen willst, setze die entsprechenden Haken hier im
Tab <strong>Eigner</strong>. Damit kannst du Bestandteile des Systems Nutzern zuweisen, nehmen wir das Beispiel Aufträge. Wenn ein Mitarbeiter für bestimmte Aufträge verantwortlich ist, kann er sich in der Suchmaske auf der linken Seite über das Dropdown <strong>Eigner</strong> seine Aufträge ganz einfach filtern und nachschauen, welchen Status sie haben. Dann zurück zu unserem Drehbuch!</p>
</div>
<div class="paragraph">
<p>Schauen wir uns den Tab <strong>Berechtigung</strong> im Detail bei deinem variablen Nutzer an. In welchen Szenen wird diese Figur auf die Bühne geschickt? Wieviel Text soll sie bekommen? Oder aber einfach: Was darf dieser Nutzer denn überhaupt im System machen? Leg hier ein paar Sichtbarkeiten und Einstellungsmöglichkeiten fest, damit du dein System immer im
Griff hast.</p>
</div>
<div class="paragraph">
<p>Zuerst kannst du dir überlegen, welche Auftragsstatus für den Nutzer sichtbar sein sollen - in anderen Worten, wenn dein Nutzer sein Auftragsmenü öffnet, wird er nur die Aufträge sehen, deren Status du auch für ihn freigeschaltet hast. Je nachdem wie deine Auftragsabwicklung läuft, hängen hinter vielen Statusänderungen einige Aktionen. Daher kann es auf jeden Fall sinnvoll sein, dass nicht jeder Mitarbeiter diese Status auch einstellen darf.</p>
</div>
<div class="paragraph">
<p>Unter Menü stellst du ein, wie die Navigation hier oben für den variablen Nutzer aussehen soll, sprich: Darf der Nutzer die komplette Storyline schon sehen oder nur seinen eigenen Part? Ein Lagermitarbeiter sollte beispielsweise alle Artikel sehen können, aber Artikel löschen? Besser nicht! Auch die Preise sollen besser nur von Admins angefasst werden. Mit simplen Klicks kannst du jedem variablen Nutzer individuelle Recht geben.</p>
</div>
<div class="paragraph">
<p>Dein Unternehmen wird wachsen! Und deine Story wird immer weiter gesponnen, sodass zwangsläufig mehr Figuren
auftauchen, mehr Mitarbeiter eingestellt werden. Wenn du weitere Charaktere zum Leben erweckst, musst du diese Berechtigungs-Einstellungen auch nicht bei jedem neuen Mitarbeiter einzeln machen, sondern kannst sie über den Tab <strong>Transfer übertragen</strong>. Ein paar Klicks und schon ist die Szene komplett! Oder du fängst nochmal von oben an und regelst die Berechtigungen über sogenannte Rollen. Wie du diese festlegst und verteilst, erfährst du in einem separaten Video.</p>
</div>
<div class="paragraph">
<p>Sobald du alle deine Charaktere erstellt hast, schauen wir uns doch mal an, wie plentymarkets aussieht, wenn sich unser variabler Nutzer einloggt. Die Navigation ist wie gewünscht deutlich reduzierter, der Nutzer sieht nur den Bereich <strong>Artikel</strong>.</p>
</div>
<div class="paragraph">
<p>Wenn er seinen eigenen Account öffnet, kann er zwar seine persönlichen Einstellungen ändern, allerdings keine
Berechtigungen oder ähnliches. Nach und nach entsteht dein Drehbuch und weitere Charaktere erobern die Zuschauerherzen im Sturm. Schicken wir sie also raus auf die Bühne! Ende. Uuuuuuund: ACTION!</p>
</div>
</div>
</div>
</main>