<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Integriere deinen Passwort-Sicherheitsstandard in plentymarkets</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig verlangt plentymarkets von Benutzern, Passwörter zu erstellen, die mindestens 8 Zeichen lang sind und eine Mischung aus Groß- und Kleinbuchstaben enthalten. Du kannst für dein Unternehmen noch strengere Passwortregeln aufstellen und von deinen Mitarbeitern verlangen, ihre Passwörter regelmäßig zu ändern. Dieses Video zeigt dir, wie das geht!</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/267554755" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Passwörter wie „hallo“ oder „1234“ : Eure Zeiten sind vorbei! Zumindest in plentymarkets! Denn unser neuestes Update bringt mehr Sicherheit in dein System. Ab sofort kannst du als Admin dafür sorgen, dass Benutzer Passwörter verwenden, die zu deinen Sicherheitsstandards passen. Standardmäßig sind in plentymarkets eine Passwortmindestlänge und einige Kriterien eingestellt: Mindestlänge 8 Zeichen und ein Mix aus Groß-, Kleinbuchstaben und Sonderzeichen.</p>
</div>
<div class="paragraph">
<p>Und um das zu ändern, gibt es die "Sicherheitsfunktion". Zentral und einfach aufzufinden, verwaltest du deine Standards im Systemmenü unter Einstellungen &gt; Benutzer und schließlich Sicherheit. Natürlich wie immer auffindbar über die Suchfunktion.</p>
</div>
<div class="paragraph">
<p>Hier trägst du die Mindestlänge des Passworts ein, wählst zusätzliche Sicherheitskriterien, beispielsweise, dass mindestens ein Großbuchstabe, ein Kleinbuchstabe, eine Zahl, und ein Sonderzeichen enthalten sein muss und falls du mehrere Kriterien erfüllt haben willst, trägst du unten ein, wieviele das mindestens sein sollen.</p>
</div>
<div class="paragraph">
<p>Damit nicht genug! Willst du, dass deine Mitarbeiter ihre Passwörter regelmäßig ändern? Dann trägst du hier die Anzahl der Tage ein, die ein Passwort gültig sein soll, bevor plenty sagt: Ändere dein Passwort!</p>
</div>
<div class="paragraph">
<p>Damit man nicht einfach immer zwischen zwei Passwörtern rotieren kann, steuerst du über diese Einstellung dann schließlich, wieviele der letzten gesperrt werden. Also trägst du hier eine 4 ein, dann kann dein Mitarbeiter die letzten 4 Passwörter nicht als "neu" einstellen. Ein Klick in die Checkbox aktiviert deinen neuen Standard.</p>
</div>
<div class="paragraph">
<p>Wenn dein Nutzer jetzt ein neues Passwort erstellt, muss er sich an die definierten Richtlinien halten. Also: probier’s direkt aus. Nicht nur für mehr Kreativität bei der Passworterstellung in deinem Büro, sondern auch für sehr viel mehr Sicherheit!</p>
</div>
</div>
</div>
</main>