<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#register"><span>1.</span><span> Registering with Mediamarkt</span></a></li>
<li><a href="#about"><span>2.</span><span> About Mediamarkt</span></a></li>
<li><a href="#download-plugins"><span>3.</span><span> Downloading the plugins Mirakl Connector and Mediamarkt</span></a></li>
<li><a href="#mirakl-install-plugin"><span>4.</span><span> Installing Mirakl Connector</span></a></li>
<li><a href="#market-install-plugin"><span>5.</span><span> Installing the Mediamarkt plugin</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>First steps</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph next-navigation">
<p><a href="/en/markets/mediamarkt/mediamarkt-setup">Setting up Mediamarkt <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>On this page you will learn how to download and install the plugins <strong>Mirakl</strong> and <strong>Mediamarkt</strong>. Mirakl is the platform via which Mediamarkt is connected.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="register">1. Registering with Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need your Mediamarkt login details consisting of the user name and password. You will receive this data from Mediamarkt. First, you need to become a <a href="https://www.mediamarkt.de/de/about-us/marketplace" target="_blank" rel="noopener">Mediamarkt</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and create a Mediamarkt account.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="about">2. About Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Mirakl Connector</strong> plugin connects the marketplace Mediamarkt with your plentymarkets system. The plugin enables you to automatically exchange item and order data between plentymarkets and the market Mediamarkt. This way, you can list your items on Mediamarkt.</p>
</div>
<div class="paragraph">
<p>To set up a connection to Mediamarkt, follow the instructions on this page and the following pages.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="download-plugins">3. Downloading the plugins Mirakl Connector and Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need a plugin to link plentymarkets to Mediamarkt. In order to use the Mediamarkt plugin, download it in the <a href="https://marketplace.plentymarkets.com/en/mediamarkt_6918" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p>To use the Mediamarkt plugin, you also need the <strong>Mirakl Connector</strong> plugin. Mirakl is also available in the <a href="https://marketplace.plentymarkets.com/en/mirakl_6917" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="mirakl-install-plugin">4. Installing Mirakl Connector</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Install the plugin <strong>Mirakl Connector</strong> plugin as described below.</p>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Mirakl Connector</strong> from the plugin list.<br>
→ Information about <strong>Mirakl Connector</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="market-install-plugin">5. Installing the Mediamarkt plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to install the <strong>Mediamarkt</strong> plugin.</p>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Mediamarkt</strong> from the plugin list.<br>
→ Information about <strong>Mediamarkt</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
<hr>
<div class="paragraph next-navigation">
<p><a href="/en/markets/mediamarkt/mediamarkt-setup">Setting up Mediamarkt <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>