<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#order-referrer"><span>1.</span><span> Activating the order referrer</span></a></li>
<li><a href="#sales-price"><span>2.</span><span> Defining a sales price</span></a></li>
<li><a href="#create-properties"><span>3.</span><span> Creating properties</span></a></li>
<li><a href="#api-key"><span>4.</span><span> Generating the API key</span></a></li>
<li><a href="#complete-market-assistant"><span>5.</span><span> Completing the Mediamarkt assistant</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up Mediamarkt</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/mediamarkt/first-steps"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> First steps</a>
<a href="/en/markets/mediamarkt/automatic-data-exchange"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Automatic product and offer data exchange </a></p>
</div>
<hr>
<div class="paragraph">
<p>Learn on this page how to set up the interface to Mediamarkt. First, you have to carry out some preparatory settings in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="order-referrer">1. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Mediamarkt. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>{market}</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="sales-price">2. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on Mediamarkt, you need a sales price in which the order referrer Mediamarkt is activated. The price that you save for this sales price is the price that will be shown on Mediamarkt.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>Mirakl</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="create-properties">3. Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Using properties, you can export fields to the marketplace that aren’t defined in plentymarkets by default.
You can create the properties that are specified by Mediamarkt in the <strong>Setup » Settings » Properties » Configuration</strong> menu.
For further information on properties, refer to the <a href="/en/item/settings/properties#500">Characteristics and properties</a> page.</p>
</div>
<div class="paragraph">
<p>For Mediamarkt, you need the following properties:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Logistics class</p>
<div class="ulist">
<ul>
<li>
<p>This is the link of a variation with a certain market shipping profile. You can see the market shipping profiles in the market back end in the <strong>Platform settings &gt; Shipping</strong> menu. The value in brackets is the value that has to be transferred.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Leadtime to ship</p>
<div class="ulist">
<ul>
<li>
<p>The so-called <em>leadtime-to-ship</em> is the time that a seller needs from the order acceptance to the shipping registration. Here, a whole number between 1 and 45 has to be transferred.</p>
</li>
</ul>
</div>
</li>
<li>
<p>update-delete</p>
<div class="ulist">
<ul>
<li>
<p>The option to delete an offer. If no value is selected at the variation, the market used <code>update</code> by default.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_creating_the_logistics_class_property" class="discrete">Creating the logistics class property</h3>
<div class="paragraph">
<p>For each variation, you need to export a shipping profile code to Mediamarkt. You can configure shipping profiles in the Mirakl back end. For a list of shipping profiles, refer to the <strong>Platform settings &gt; Shipping</strong> menu in the Mirakl back end. You can find the code in the <strong>Logistics class</strong> column in brackets behind the name of the logistics class.</p>
</div>
<div class="paragraph">
<p>Unresolved directive in ../_textblocks/mirakl/mirakl-market-setup.adoc - include::_textblocks/instructions/properties-creation.adoc[]</p>
</div>
<div class="paragraph">
<p>Unresolved directive in ../_textblocks/mirakl/mirakl-market-setup.adoc - include::_textblocks/instructions/properties-creation-table.adoc[]</p>
</div>
<h3 id="_creating_the_leadtime_to_ship_property" class="discrete">Creating the leadtime to ship property</h3>
<div class="paragraph">
<p>You can transfer the leadtime to ship for every variation. The leadtime to ship is the time in days that a seller needs from the order acceptance to the shipping registration. You can transfer a whole number between 1 and 45.</p>
</div>
<div class="paragraph">
<p>Unresolved directive in ../_textblocks/mirakl/mirakl-market-setup.adoc - include::../_textblocks/instructions/properties-creation.adoc[]</p>
</div>
<div class="paragraph">
<p>Unresolved directive in ../_textblocks/mirakl/mirakl-market-setup.adoc - include::../_textblocks/instructions/properties-creation-table.adoc[]</p>
</div>
</div>
</div><div class="sect1">
<h2 id="api-key">4. Generating the API key</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To create the connection for Mediamarkt between plentymarkets and Mirakl, you need an API key. To generate the API key, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Generating the API key:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Mirakl back end.</p>
</li>
<li>
<p>Click on the user icon (<span class="icon "><i class="fa fa-user  "></i></span>).</p>
</li>
<li>
<p>Go to the <strong>API keys</strong> tab.</p>
</li>
<li>
<p>Generate a new API key for Mediamarkt.</p>
</li>
<li>
<p>Copy the API key to your clipboard. You need this key to set up your Mediamarkt account in plentymarkets.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="complete-market-assistant">5. Completing the Mediamarkt assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Mediamarkt</strong> assistant in the <strong>Setup » Assistants » Plugins » [Select plugin set]</strong> menu to set up your Mediamarkt account in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Plugins » [Select plugin set]</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box shown below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<div class="paragraph">
<p><a id="table-Mediamarkt-basic-settings-assistant"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Authentication</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">API Environment</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an API environment from the drop-down list. Get in touch with your contact person at Mediamarkt to confirm which API environment you should select.<br>
<strong><em>Note:</em></strong> If you switch to another API environment, e.g. from Test to Productive mode, you need to generate a new <a href="#api-key">API key</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">API key</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the <a href="#api-key">API key</a> that you generated.<br>
<strong><em>Note:</em></strong> If you switch to another API environment, e.g. from Test to Productive mode, you need to generate a new <a href="#api-key">API key</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Data exchange</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data exchange</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select processes for data exchange. This selection determines which data is exchanged between plentymarkets and Mirakl.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Important:</em></strong> Do <em>not</em> activate the import and export for order invoices.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Refund mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Refund mapping</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This setting has no effects to Mediamarkt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Cancellation mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cancellation mapping</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add new entry</strong>.<br>
→ A new line is inserted.</p>
</li>
<li>
<p>From the drop-down list on the left, select the plentymarkets status.</p>
</li>
<li>
<p>From the drop-down list on the right, select a Mediamarkt cancellation reason.<br>
The following reasons can be sent to Mediamarkt:<br></p>
<div class="ulist">
<ul>
<li>
<p><code>34</code> = Cancelled by client prior to shipping</p>
</li>
</ul>
</div>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Warehouse selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse selection</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the warehouse you want to use for stock export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Shipping profile mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile mapping</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>For each shipping profile in plentymarkets, enter the corresponding abbreviation of the shipping service provider. You can find the abbreviations in the Mirakl menu <strong>{mirakl-menu-shipping}</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Offer properties mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Offer properties mapping</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list <strong>Logistic class</strong>, select the property <strong>Mediamarkt Logistic class</strong>.<br>
The <strong>Leadtime to ship</strong> and <strong>Reverse charge</strong> properties are selected by default.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Reverse charge</strong>:   You can either transfer <code>true</code> or <code>false</code>.</p>
</li>
<li>
<p><strong>Leadtime to ship</strong>: The so-called <em>leadtime-to-ship</em> is the time that a seller needs from the order acceptance to the shipping registration. Here, a whole number between 1 and 45 has to be transferred.</p>
</li>
<li>
<p><strong>Logistics class</strong>: This is the connection of a variation with a certain market shipping profile. The shipping profiles of the market are listed in the back end in the <strong>{mirakl-menu-shipping}</strong> menu. The value in brackets is the value to be transferred.</p>
</li>
<li>
<p><strong>update-delete</strong>: This is the option to delete an offer. If this field is not filled, <strong>update</strong> will be used automatically.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/mediamarkt/first-steps"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> First steps</a>
<a href="/en/markets/mediamarkt/automatic-data-exchange"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Automatic product and offer data exchange </a></p>
</div>
</div>
</div>
</main>