<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: rakuten.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Best Practices for the marketplace <strong>rakuten.de</strong> can be found on this page.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="setup">Setting up the item export</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_issue">Issue</h3>
<div class="paragraph">
<p>In plentymarkets 7 the old exports, which were set up in plentymarkets version 6, do not function properly any more.
A new Elastic export has to be created as a substitute.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Where do I find this information?</div>
<div class="content">
<div class="paragraph">
<p><a href="https://knowledge.plentymarkets.com/en/basics/version-upgrade/changes">here</a></p>
</div>
<div id="Basicsettings" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/rakuten/assets/bp-rakuten-information.png" alt="bp rakuten information">
</div>
<div class="title">Figure 1. Basic settings Rakuten</div>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Why is this information not contained in the migration guide?</div>
<div class="content">
<div class="paragraph">
<p>In order to ensure a simple and correct migration, the <a href="https://knowledge.plentymarkets.com/en/basics/version-upgrade/migration-guide">migration guide</a> only contains those changes which have to be made prior to the migration to version 7.
All changes which have to be made in version 7 and which may require further adjustments can be found on the <a href="https://knowledge.plentymarkets.com/en/basics/version-upgrade/changes">Changes</a> page of the manual.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_instructions">Instructions</h3>
<div class="sect3">
<h4 id="_step_1">Step 1</h4>
<div class="paragraph">
<p>Get the plugins <strong>Elastic export</strong> and <strong>RakutenDE</strong> on the <a href="https://marketplace.plentymarkets.com/en/">Marketplace</a> for 0.00 EUR. Log in with the same access data that you also use for the Service Center. If you do not know your access data, go to <strong>Start » plentymarkets account » Service Center</strong> to view your email address and your password.</p>
</div>
</div>
<div class="sect3">
<h4 id="_step_2">Step 2</h4>
<div class="paragraph">
<p>Install the plugins with these instructions.</p>
</div>
<div class="paragraph">
<p><a href="https://forum.plentymarkets.com/t/faq-elastischer-export-wie-installiere-ich-ein-plugin-ein-update-fuer-ein-plugin/46271">Wie installiere ich ein Plugin?</a> (Please note that these instructions are currently only available in German.)</p>
</div>
</div>
<div class="sect3">
<h4 id="_step_3">Step 3</h4>
<div class="paragraph">
<p>Create an Elastic export for each account on Rakuten.de. To create an Elastic export, go to <strong>Data exchange » Elastic export</strong>.
<a href="https://forum.plentymarkets.com/t/faq-elastischer-export-wie-installiere-ich-ein-plugin-ein-update-fuer-ein-plugin/46271">Wie installiere ich ein Plugin</a> (Please note that these instructions are currently only available in German.)</p>
</div>
<div class="paragraph">
<p>The following settings should be applied to replicate the old logic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Settings</p>
<div class="ulist">
<ul>
<li>
<p>* Format:* RakutenDE-plugin</p>
</li>
<li>
<p><strong>File name:</strong> e.g. Rakuten.csv (The file name must have the ending “.csv.”!)</p>
</li>
<li>
<p><strong>Token:</strong> Click on <strong>Generate token</strong> to generate the token. The token is automatically added to the format’s URL. It is a token for authentication.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Item filters</p>
<div class="ulist">
<ul>
<li>
<p><strong>Filter “Active”</strong>: Select “Active”</p>
</li>
<li>
<p><strong>Filter “Markets”</strong>: Select “Rakuten.de” <strong>Important!</strong> The name may differ. Go to <strong>System » Orders » Order referrer</strong> and check if the name has been adjusted.</p>
</li>
<li>
<p><strong>Filter “Client”</strong> (optional): Select the client. It must be the same client that you have selected in the menu <strong>System » Markets » Rakuten.de</strong> under the option <strong>Mandant (Shop)-Zuordnung</strong> for this account.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Format settings</p>
<div class="ulist">
<ul>
<li>
<p><strong>Setting “Client”</strong>: Select the client. It must be the same client for each account that you have selected in the menu <strong>System » Markets » Rakuten.de</strong> under the option <strong>Mandant (Shop)-Zuordnung</strong> for this account.</p>
</li>
<li>
<p><strong>Setting “Order referrer”</strong> The same as the item filter “Markets”.</p>
</li>
<li>
<p><strong>Setting “Account”:</strong> Select the correct account if you have more than one account.</p>
</li>
<li>
<p><strong>Setting “Overwrite item availability”:</strong> Place a check mark next to the option “overwrite” and write a permissible entry for Rakuten in the field for the item availabilities, for example 0, 3, 5 or 7.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>The settings are chosen to ensure that the function is the same as in version 6. Except for item availability, the settings can be changed, for example to exclude further items from export by using the item filters.</p>
</div>
<div class="paragraph">
<p>You can check the content of the file by downloading the file.</p>
</div>
</div>
<div class="sect3">
<h4 id="_step_4">Step 4</h4>
<div class="paragraph">
<p>Use the URL of the Elastic export to set up the import of the file in the seller section of Rakuten.de. If you have little or no experience, contact the Rakuten support team in order to receive help with setting up a schedule.</p>
</div>
<div class="paragraph">
<p>The setup is now completed.</p>
</div>
</div>
</div>
</div>
</div>
</main>