<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel0">
<li><a href="#10"><span>Handbuch</span></a></li>
<li><a href="#20"><span>Forum</span></a></li>
<li><a href="#30"><span>Einrichtungsteam (kostenpflichtig; ab Classic-Edition)</span></a></li>
<li><a href="#40"><span>Partneragenturen (kostenpflichtig; alle Editionen)</span></a></li>
<li><a href="#50"><span>Support-Hotline (kostenpflichtig; ab Classic-Edition)</span></a></li>
<li><a href="#60"><span>Service (tlw. kostenpflichtig; alle Editionen)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Wo finde ich Hilfe?</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ob noch in den Kinderschuhen deines Online-Shops oder als alter Hase – wir alle stehen mal an einem Punkt, an dem wir einfach nicht weiter kommen. Aber das ist gar nicht schlimm! Bei plentymarkets bieten wir dir verschiedene Anlaufstellen, die dir schnelle Antworten liefern und ein Support-Team, das dir mit Rat und Tat zur Seite steht. Schau selbst, welche Option die passende für dich ist.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Angebote variieren je nach Edition</div>
<div class="paragraph">
<p>Je nach gebuchter Edition (BASIC, CLASSIC, FLEX, PLUS, ENTERPRISE) kann die Verfügbarkeit unserer Support-Angebote variieren. Weitere Informationen zu den plentymarkets Editionen findest du <a href="https://www.plentymarkets.com/de/produkt/editionen/" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><h1 id="10" class="sect0">Handbuch</h1><div class="paragraph">
<p>Hier in unserem plentymarkets Handbuch findest du nach Themengebieten sortiert detaillierte Anleitungen und Beschreibungen zu den Funktionen deines plentymarkets Systems. Außerdem warten hilfreiche Tipps, Video-Tutorials und Praxisbeispiele zu den verschiedensten Anwendungsfällen auf dich. Nutze auch unsere Handbuchsuche, um noch schneller die passende Seite zu finden. Solltest du einmal keine Antwort auf deine Frage gefunden haben, teile uns dies gern über die Feedback-Funktion mit. Öffne diese entweder über die Sprechblase oben rechts oder scrolle zum Ende der Handbuchseite, wo sie ebenfalls verfügbar ist. Mit deiner Hilfe können wir weitere relevante Infos zum plentymarkets Handbuch hinzufügen.</p>
</div><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/willkommen/assets/feedback-funktion.png" alt="feedback funktion">
</div>
</div><h1 id="20" class="sect0">Forum</h1><div class="paragraph">
<p>Hast du ein bestimmtes Anliegen, bei dem du individuelle Beratung benötigst? Dann ist das Forum die richtige Anlaufstelle für dich. Hier kannst du auf die Expertise unserer Supporter vertrauen, bekommst Unterstützung aus der Community und kannst außerdem in bereits vorhandenen Beiträgen nach Hilfe suchen. Damit du dich gut orientieren kannst und schnell eine Antwort bekommst, wähle gleich zu Beginn die <a href="https://forum.plentymarkets.com/t/wie-erreiche-ich-das-richtige-team-in-der-passenden-kategorie/495909" target="_blank" rel="noopener">Kategorie</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, die zu deinem Thema passt. Tausche dich außerdem mit anderen Nutzer:innen aus und oder schaue in den <a href="https://forum.plentymarkets.com/c/changelog/13" target="_blank" rel="noopener">Changelog</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, um keine neuen Features oder Änderungen mehr zu verpassen.</p>
</div><h1 id="30" class="sect0">Einrichtungsteam (kostenpflichtig; ab Classic-Edition)</h1><div class="paragraph">
<p>Bist du gerade dabei, dein System einzurichten, kommst aber einfach nicht weiter? In diesem Fall hilft dir unser Einrichtungsteam, das deine Wünsche gerne entgegennimmt und dein System so einrichtet, wie du es benötigst. Findet gemeinsam die passenden Einstellungen für dein optimales System, damit du schon bald so richtig durchstarten kannst. Buche dir auf <a href="https://marketplace.plentymarkets.com/services/plentyservices" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> das passende Support-Angebot und erhalte schon bald den ersten Termin mit deinem persönlichen Einrichter.</p>
</div><h1 id="40" class="sect0">Partneragenturen (kostenpflichtig; alle Editionen)</h1><div class="paragraph">
<p>Du hast große Pläne für deinen E-Commerce und benötigst Unterstützung bei der Umsetzung? Kein Problem! Mit unseren zertifizierten Partneragenturen steht dir ein riesiges Netzwerk an Profis zur Verfügung, das diese Schritte gemeinsam mit dir geht. Von speziellen Projekten bis hin zu eigenen Erweiterungen – deinen Ambitionen sind keine Grenzen gesetzt. Finde auf <a href="https://marketplace.plentymarkets.com/services/support" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> das passende Support-Angebot unserer Partner oder sende eine E-Mail an <a href="mailto:partner@plentymarkets.com">partner@plentymarkets.com</a>.<br>
Kleiner Tipp: In unserer Forumskategorie <a href="https://forum.plentymarkets.com/c/suche-biete/74" target="_blank" rel="noopener">Suche/Biete</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> kannst du sicherlich auch andere für deine Projekte begeistern. Schau dort gerne vorbei und tausche dich mit der Community aus!</p>
</div><h1 id="50" class="sect0">Support-Hotline (kostenpflichtig; ab Classic-Edition)</h1><div class="paragraph">
<p>Bevorzugst du den direkten Kontakt?
Unsere Support-Hotline ist für dich da.
Im Bereich "Mein Konto" findest du die Telefonnummern und Sprechzeiten unserer Support-Hotline.
Hier findest du auch deine Support-PIN.
Diese musst du eingeben, wenn du die Hotline anrufst.</p>
</div><div class="paragraph instruction">
<p>Support-Hotline anrufen:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <span class="icon darkGrey"><i class="fa fa-question-circle  "></i></span> <strong>» Support-Hotline</strong>.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet und die Informationen zur Support-Hotline werden angezeigt.</p>
</li>
<li>
<p>Notiere dir deine Support-PIN und rufe die Hotline an.</p>
</li>
</ol>
</div><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/assets/support-hotline.png" alt="support hotline">
</div>
</div><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eine weitere Möglichkeit, deine Support-PIN einzusehen</div>
<div class="paragraph">
<p>Öffne alternativ das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong> und klicke auf <span class="icon darkGrey"><i class="fa fa-life-ring  "></i></span> <strong>Support-Hotline</strong>.
Die Informationen zur Support-Hotline werden in einem Pop-up-Fenster angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div><h1 id="60" class="sect0">Service (tlw. kostenpflichtig; alle Editionen)</h1><div class="paragraph">
<p>Du hast bisher noch nicht die richtige Anlaufstelle gefunden und weißt nicht so recht, wer dir bei deinem Problem oder deiner Frage weiterhelfen kann? Hier kommt unser Service-Team ins Spiel, das Anfragen aller Art koordiniert und dafür sorgt, dass du an den passenden Ort weitergeleitet wirst. Auch kleinere technische Probleme werden hier schnell und kostenlos für dich behoben. Wende dich in diesem Fall an <a href="mailto:service@plentymarkets.com">service@plentymarkets.com</a> oder kontaktiere uns direkt per Telefon.</p>
</div><div class="paragraph">
<p>Wir sind für dich da:<br>
Mo – Fr von 8 – 18 Uhr<br>
Telefon: +49 561 98 681 100</p>
</div>
</main>