<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Dein eigenes Benutzerkonto anpassen</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Benutzerkonto öffnen</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Benutzerbild hinzufügen</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Grußformel</span></a></li>
<li><a href="#50"><span>1.4.</span><span> Signatur</span></a></li>
<li><a href="#60"><span>1.5.</span><span> Persönliche Einstellungen</span></a>
<ul class="sectlevel3">
<li><a href="#70"><span>1.5.1.</span><span> Allgemein</span></a></li>
<li><a href="#80"><span>1.5.2.</span><span> Shortcuts</span></a></li>
<li><a href="#90"><span>1.5.3.</span><span> Favoriten</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#100"><span>2.</span><span> Dein plentymarkets System anpassen</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>2.1.</span><span> Dashboard personalisieren</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>2.1.1.</span><span> Element zum Dashboard hinzufügen</span></a></li>
<li><a href="#130"><span>2.1.2.</span><span> Element vom Dashboard entfernen</span></a></li>
</ul>
</li>
<li><a href="#140"><span>2.2.</span><span> Weitere Funktionen und Menüeinträge hinzuzufügen</span></a></li>
<li><a href="#150"><span>2.3.</span><span> Menüansicht anpassen</span></a>
<ul class="sectlevel3">
<li><a href="#160"><span>2.3.1.</span><span> Ansicht einrichten</span></a></li>
<li><a href="#170"><span>2.3.2.</span><span> Positionen der Menüansicht sortieren</span></a></li>
</ul>
</li>
<li><a href="#180"><span>2.4.</span><span> Deinen bevorzugten Editor wählen</span></a></li>
</ul>
</li>
<li><a href="#190"><span>3.</span><span> Den Überblick behalten mit der Aufgaben-Funktion</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>3.1.</span><span> Benutzerrechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#210"><span>3.2.</span><span> Aufgabe erstellen</span></a></li>
<li><a href="#220"><span>3.3.</span><span> Aufgaben suchen</span></a></li>
<li><a href="#230"><span>3.4.</span><span> Aufgabe bearbeiten</span></a></li>
<li><a href="#240"><span>3.5.</span><span> Aufgaben auf dem Dashboard anzeigen</span></a></li>
</ul>
</li>
<li><a href="#250"><span>4.</span><span> Termine planen mit der Kalender-Funktion</span></a>
<ul class="sectlevel2">
<li><a href="#260"><span>4.1.</span><span> Benutzerrechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#270"><span>4.2.</span><span> Backend-Benutzer:innen als Eigner einstellen</span></a></li>
<li><a href="#280"><span>4.3.</span><span> Grundeinstellungen im Kalender vornehmen und Zugriffsrechte für Benutzer:innen einstellen</span></a></li>
<li><a href="#290"><span>4.4.</span><span> Termin erstellen</span></a></li>
<li><a href="#300"><span>4.5.</span><span> Termin bearbeiten</span></a></li>
<li><a href="#310"><span>4.6.</span><span> Termin löschen</span></a></li>
<li><a href="#320"><span>4.7.</span><span> Kalender mit externen Kalender-Tools synchronisieren</span></a></li>
</ul>
</li>
<li><a href="#330"><span>5.</span><span> Interne Workflows mit Boards visualisieren</span></a>
<ul class="sectlevel2">
<li><a href="#340"><span>5.1.</span><span> Benutzerrechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#350"><span>5.2.</span><span> Board erstellen</span></a></li>
<li><a href="#360"><span>5.3.</span><span> Spalte hinzufügen</span></a></li>
<li><a href="#370"><span>5.4.</span><span> Karte hinzufügen</span></a></li>
<li><a href="#380"><span>5.5.</span><span> Karte bearbeiten</span></a></li>
<li><a href="#390"><span>5.6.</span><span> Board bearbeiten</span></a></li>
<li><a href="#400"><span>5.7.</span><span> Ereignisaktionen einrichten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dein System personalisieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite beschreibt die Einstellungen, mit denen du dein Benutzerkonto und dein plentymarkets System individuell anpassen kannst.
Selbstverständlich hast du die Möglichkeit, deine Angaben und Einstellungen jederzeit anzupassen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Dein eigenes Benutzerkonto anpassen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="20">1.1. Benutzerkonto öffnen</h3>
<div class="paragraph">
<p>Es gibt zwei Möglichkeiten, auf dein eigenes Benutzerkonto zuzugreifen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Bewege den Mauszeiger über das Benutzersymbol oben rechts (<span class="icon "><i class="fa fa-user-circle  "></i></span>) und klicke dann auf deinen Namen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>. Klicke dann auf die Schaltfläche <span class="icon "><i class="fa fa-user  "></i></span> <strong>Mein Konto</strong>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Benutzerbild hinzufügen</h3>
<div class="paragraph">
<p>Um ein Benutzerbild statt der leeren Benutzer-Schaltfläche (<span class="icon "><i class="fa fa-user-circle  "></i></span>) in deinem plentymarkets Backend anzeigen zu lassen, musst du bei <a href="https://de.gravatar.com/" target="_blank" rel="noopener">gravatar.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> angemeldet sein.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerbild hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Öffne dein eigenes Benutzerkonto</a>.<br>
→ Das Tab <strong>Stammdaten</strong> öffnet sich.</p>
</li>
<li>
<p>Gib im Feld <strong>E-Mail</strong> die E-Mail-Adresse, mit der du bei gravatar.com angemeldet bist, ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Lade das System neu, um das Benutzerbild zu sehen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Grußformel</h3>
<div class="paragraph">
<p>Im Tab <strong>Grußformel</strong> gibst du einen Text ein, der deinen Nachrichten und Kommentaren im Ticketsystem automatisch als Grußformel angefügt wird. Dieser besteht in der Regel nur aus einem Briefabschluss sowie deinem Namen. Beim Versenden von E-Mails aus dem Ticketsystem wird erst die Grußformel und dann die <a href="#50">Signatur</a> automatisch an die E-Mail angehängt.</p>
</div>
<div class="paragraph instruction">
<p>Grußformel einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Öffne dein eigenes Benutzerkonto</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Grußformel</strong>.</p>
</li>
<li>
<p>Gib deine Grußformel ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="50">1.4. Signatur</h3>
<div class="paragraph">
<p>Im Tab <strong>Signatur</strong> gibst du einen Text ein, der deinen Nachrichten und Kommentaren im Ticketsystem automatisch als Signatur angefügt wird. Diese besteht in der Regel aus deinen Kontaktdaten sowie Angaben zum Amtsgericht und Handelsregisternummer. Je nach Rechtsform des Unternehmens gehört die Angabe von Firmennamen, Namen von Geschäftsführer:innen sowie ggf. der USt-IdNr. zu den Pflichtangaben.
Beim Versenden von E-Mails aus dem Ticketsystem wird erst die <a href="#40">Grußformel</a> und dann die Signatur automatisch an die E-Mail angehängt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Template-Variable für die Signatur</div>
<div class="paragraph">
<p>Die Template-Variablen <strong>$Signature</strong> und <strong>$SignatureHTML</strong> beinhalten die Grußformel.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Signatur einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Öffne dein eigenes Benutzerkonto</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Signatur</strong>.</p>
</li>
<li>
<p>Gib deine Signatur ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Pflichtangaben in E-Mails</div>
<div class="paragraph">
<p>In Deutschland entsprechen seit Anfang 2007 die Pflichtangaben in E-Mails denen der Geschäftsbriefe des Unternehmens. Bei Nichtbeachtung besteht die Gefahr eines Zwangsgeldes oder einer kostenpflichtigen Abmahnung durch einen Mitbewerber.<br>
Informiere dich also über die rechtlichen Vorschriften zur Signatur in deinem Land und befrage bei Bedarf deinen Rechtsbeistand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="60">1.5. Persönliche Einstellungen</h3>
<div class="paragraph">
<p>Im Tab <strong>Persönliche Einstellungen</strong> nimmst du die Einstellungen vor, die nur für das im System angemeldete Benutzerkonto gelten. Deshalb ist das Tab für dich auch nur in deinem eigenen Benutzerkonto sichtbar. Das Tab unterteilt sich in 3 Tabs mit Einstellungen, die nur dich persönlich betreffen. Diese Tabs sind <strong>Allgemein</strong>, <strong>Shortcuts</strong> und <strong>Favoriten</strong>.</p>
</div>
<div class="sect3">
<h4 id="70">1.5.1. Allgemein</h4>
<div class="paragraph">
<p>Tabs werden durch eine rote Markierung gekennzeichnet, wenn du Änderungen vorgenommen, diese Änderungen jedoch noch nicht gespeichert hast.
Wenn du das Tab schließt, ohne die Änderungen gespeichert zu haben, wird ein Hinweisfenster angezeigt, das du aktiv bearbeiten musst, um fortzufahren.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Klicke auf <strong>Schließen</strong>, um das Tab zu schließen, ohne die Änderungen zu speichern.</p>
</li>
<li>
<p>Klicke auf <strong>Abbrechen</strong>, um die Änderungen zu speichern oder weitere Anpassungen vorzunehmen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn solche Warnhinweise für dein Benutzerkonto nicht mehr angezeigt werden sollen, deaktiviere die Funktion im Tab <strong>Allgemein</strong> deiner persönlichen Einstellungen.
Außerdem kannst du hier die benutzerspezifischen Einstellungen zurücksetzen.</p>
</div>
<div class="paragraph instruction">
<p>Allgemeine Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Öffne dein eigenes Benutzerkonto</a>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Persönliche Einstellungen » Allgemein</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#tabelle-allgemein">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-allgemein" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Allgemeine Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Schaltfläche</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldungen zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldungen, z.B. die Meldung zum Neuladen von plentymarkets für Aktualisierungen, können durch einen Klick deaktiviert werden. Diese Einstellung wird benutzerabhängig gespeichert. Durch erneutes Klicken werden alle relevanten Einstellungen des Benutzerkontos zurückgesetzt, also alle deaktivierten Meldungen werden wieder angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alles zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt alle benutzerabhängig gespeicherten Einstellungen zurück, z.B. die oben genannten Meldungen, Spaltengrößen und Spalteninhalte bei Tabellen, gewählte Favoriten etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warnen, wenn Tabs offen sind und das Fenster geschlossen wird</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviert = Beim Schließen eines Fensters wird eine Warnung ausgegeben, wenn noch Tabs geöffnet sind.<br>
Deaktiviert = Das Fenster wird ohne Warnung geschlossen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="80">1.5.2. Shortcuts</h4>
<div class="paragraph">
<p>Du kannst Standard-Shortcuts hinterlegen, die du für verschiedene wiederkehrende Funktionen nutzt, z.B. das Öffnen von wichtigen Menüs in plentymarkets und das Wechseln zwischen Tabs und Tab-Ebenen. So wird zum Beispiel mit der Tastenkombination <strong>Alt + I</strong> die Artikelübersicht geöffnet. Mit <strong>Alt + W</strong> wird das Tab wieder geschlossen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nicht alle Shortcut-Kombinationen sind möglich</div>
<div class="paragraph">
<p>Verwende keine systemspezifischen Shortcut-Kombinationen. Diese Shortcut-Kombinationen sind je nach Betriebssystem unterschiedlich. Beispiel: die <strong>F</strong>-Tasten.<br>
Die Kombination <strong>cmd / Strg + W</strong> ist nicht möglich, da die Shortcut-Kombination vom Browser reserviert ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Shortcuts einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Öffne dein eigenes Benutzerkonto</a>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Persönliche Einstellungen » Shortcuts</strong>.</p>
</li>
<li>
<p>Lege die Shortcuts fest. Beachte <a href="#tabelle-shortcuts">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-shortcuts" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Shortcuts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Shortcut</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Globale Shortcuts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + W</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schließt das aktive Tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + DOWN (Pfeiltaste nach unten)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt eine Tab-Ebene nach unten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + UP (Pfeiltaste nach oben)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt eine Tab-Ebene nach oben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + RIGHT (Pfeiltaste nach rechts)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt ein Tab nach rechts.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + LEFT (Pfeiltaste nach links)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt ein Tab nach links.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + R</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt das aktive Tab neu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + ESC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Loggt das Benutzerkonto aus und sperrt das Backend.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Bereiche öffnen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + I</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + O</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + Y</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Artikel » Kategorien</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + C</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Kontakte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + T</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Ticketsystem</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den Bereich <strong>Neuer Kontakt</strong> im Menü <strong>CRM » Kontakte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + M</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Schnellsuche</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + S</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den <strong>Webshop</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + E</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den Webshop mit aktivierter Inline-Editing-Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Auftrag bearbeiten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet im Auftrag die Kundennotizen; in allen Tabs des Auftrags möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + A</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet im Auftrag die Auftragsnotizen; in allen Tabs des Auftrags möglich.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Standard-Shortcuts wiederherstellen</div>
<div class="paragraph">
<p>Änderungen werden über <strong>Shortcuts zurücksetzen</strong> wieder auf die Standardeinstellungen zurückgesetzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="90">1.5.3. Favoriten</h4>
<div class="paragraph">
<p>Favoriten dienen dazu, häufig gebrauchte Menüpunkte schnell aufzurufen. Klicke auf <span class="icon "><i class="fa fa-ellipsis-v  "></i></span> oben rechts im plentymarkets Backend, um deine Favoriten anzuzeigen.</p>
</div>
<div class="paragraph">
<p>Im Tab <strong>Favoriten</strong> der persönlichen Einstellungen deines Benutzerkontos werden die Menüpfade angezeigt, die du als Favoriten angelegt hast. Die Favoriten können hier gelöscht oder mit den <strong>Aufwärts</strong>- und <strong>Abwärts</strong>-Pfeilen sortiert werden. Das Tab ist nur beim eigenen Benutzerkonto sichtbar.</p>
</div>
<div class="paragraph instruction">
<p>Menü zu Favoriten hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü, das du als Favorit hinzufügen möchtest.</p>
</li>
<li>
<p>Klicke im Tab des Menüs auf <span class="icon "><i class="fa fa-ellipsis-v  "></i></span> und wähle <span class="icon "><i class="fa fa-star-o  "></i></span> <strong>Link zu Favoriten hinzufügen</strong>.<br>
→ <strong><em>Hinweis:</em></strong> Favoriten sind im Menü erst sichtbar, wenn du mindestens einen Favoriten gespeichert hast.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Menü aus Favoriten entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <span class="icon "><i class="fa fa-ellipsis-v  "></i></span> oben rechts im plentymarkets Backend.<br>
→ In der Liste werden deine gespeicherten Favoriten angezeigt.<br></p>
</li>
<li>
<p>Klicke neben dem Menüpfad auf <strong>x</strong>, um das Menü aus den Favoriten zu entfernen.<br>
→ <span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Klicke auf <strong>Alle Favoriten löschen</strong> und bestätige die Sicherheitsabfrage mit <strong>Löschen</strong>, um alle Favoriten zu löschen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Dein plentymarkets System anpassen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="110">2.1. Dashboard personalisieren</h3>
<div class="paragraph">
<p>Das Dashboard wird angezeigt, wenn du dich im plentymarkets Backend anmeldest. Standardmäßig werden auf dem Dashboard aktuelle plentymarkets News und Statusmeldungen angezeigt. Über optionale Elemente hast du außerdem die Möglichkeit, Systemdaten direkt auf dem Dashboard anzuzeigen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Dashboard-Bereich plentymarkets News regelmäßig lesen</div>
<div class="paragraph">
<p>Im Dashboard-Bereich <strong>plentymarkets News</strong> werden wichtige Statusmeldungen und News veröffentlicht. Daher kann das Tab <strong>Dashboard</strong> nicht geschlossen werden. Lies diese Informationen regelmäßig, damit du über Neuerungen und Störungen informiert bleibst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="120">2.1.1. Element zum Dashboard hinzufügen</h4>
<div class="paragraph">
<p>In der Grundeinstellung werden nur die plentymarkets News auf dem Dashboard angezeigt. Gehe wie unten beschrieben vor, um weitere Elemente zum Dashboard hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Element zum Dashboard hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsele in das Tab <strong>Dashboard</strong>.</p>
</li>
<li>
<p>Wähle das Element aus der Dropdown-Liste unten links. Beachte <a href="#tabelle-elemente">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Element</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Element wird zum Dashboard hinzugefügt.<br></p>
</li>
<li>
<p>Klicke auf die Kopfleiste des Elements und ziehe es an die gewünschte Position.</p>
</li>
</ol>
</div>
<table id="tabelle-elemente" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Elemente</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel unter Meldebestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wenn Artikel nachbestellt werden müssen. Die Anzeige wird nach Lagern sortiert.<br>
<strong><em>Tipp:</em></strong> Auf den Zahlenwert klicken, um das Menü <strong>Nachbestellung</strong> zu öffnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wie viele Aufträge am aktuellen Tag hinzugekommen sind und wie viele Aufträge versendet wurden. Verlinkung zum <strong>Auftragsmenü</strong> mit Anzeige der Aufträge in der <strong>Auftragsübersicht</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wie viele Listings am aktuellen Tag und am Vortag hinzugekommen sind. Außerdem wird angezeigt, wie viele Listings aktuell und am Vortag erfolgreich waren und wie viele Listings fehlerhaft waren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meine Aufgaben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt deine <a href="#190">Aufgaben</a> an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufsstatistik</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Umsätze nach Wochen sortiert an.<br>
<strong><em>Hinweis:</em></strong> Gutschriften werden als negative Umsätze am Tag ihrer Erstellung gebucht.<br>
<strong><em>Hinweis:</em></strong> Die Werte der Verkaufsstatistik dienen zur Orientierung. Eine korrekte statistische Auswertung bietet das Menü <strong>plentymarkets Logo (Start) » Statistik</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt eine Übersicht der Anzahl der nicht zugeordneten Zahlungen sowie die Anzahl der Zahlungen am aktuellen Tag und am Vortag.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="130">2.1.2. Element vom Dashboard entfernen</h4>
<div class="paragraph">
<p>In der Grundeinstellung werden nur die plentymarkets News auf dem Dashboard angezeigt. Gehe wie unten beschrieben vor, um Elemente vom Dashboard zu entfernen.</p>
</div>
<div class="paragraph instruction">
<p>Element vom Dashboard entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsele in das Tab <strong>Dashboard</strong>.</p>
</li>
<li>
<p>Klicke bei dem Element, das du entfernen möchtest, auf <strong>Close</strong>.<br>
→ Das Element wird vom Dashboard entfernt.<br>
<strong><em>Hinweis:</em></strong> Der Bereich <strong>plentymarkets News</strong> kann nicht vom Dashboard entfernt werden.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">2.2. Weitere Funktionen und Menüeinträge hinzuzufügen</h3>
<div class="paragraph">
<p>Plugin-Sets und die in den Sets aktivierten Plugins können sowohl dazu benutzt werden, deinem Shop neue Funktionalitäten hinzuzufügen als auch, um dein Backend um Menüeinträge und Benutzerschnittstellen zu erweitern. Dabei kann jede Benutzer:in ein eigenes Backend-Plugin-Set auswählen und die in dem Set aktivierten Plugins für das eigene Backend laden. Dies kann dann hilfreich sein, wenn du Zugriff auf bestimmte Funktionen benötigst, nicht jedoch auf andere. Wenn du das Plugin-Set für deine Backend-Ansicht ändern möchtest, gehe wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Backend-Plugin-Set wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das Benutzersymbol (<span class="icon "><i class="fa fa-user-circle  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Backend-Plugin-Set</strong>.<br>
→ Das Fenster <strong>Plugins</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf ein Plugin-Set.</p>
</li>
<li>
<p>Lade die Seite neu.<br>
→ Das gewählte Plugin-Set ist jetzt für dein Backend aktiviert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mehr über das Einrichten von Plugins und Plugin-Sets findest du im Themenbereich <a href="/plugins">Plugins</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">2.3. Menüansicht anpassen</h3>
<div class="paragraph">
<p>Erfahre in den folgenden Unterkapiteln, wie du die Übersicht innerhalb eines Menüs anpasst und die Positionen der Menüansicht sortierst.</p>
</div>
<div class="sect3">
<h4 id="160">2.3.1. Ansicht einrichten</h4>
<div class="paragraph">
<p>Du kannst die Ansicht innerhalb einiger Menüs im plentymarkets Backend, also die Spalten der Parameter, die angezeigt werden sollen, individuell pro Menü einrichten. <a href="#bild-ansicht-einrichten">Bild 1</a> zeigt als Beispiel die Übersicht des Menüs <strong>Artikel » Artikel bearbeiten</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Ansicht einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Zeige mit der Maus auf die Titelzeile des Menüs. <br>
→ Die Schaltfläche <strong>Ansicht einrichten</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Ansicht einrichten</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>). <br>
→ Das Fenster <strong>Ansicht einrichten</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Parameter, die in der Menüansicht angezeigt werden sollen. <br>
→ Wenn ein Parameter nicht mehr angezeigt werden soll, deaktiviere den Parameter.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div id="bild-ansicht-einrichten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/willkommen/assets/Allgemeine-Funktionen-Ansicht-einrichten.png" alt="Ansicht einrichten">
</div>
<div class="title">Bild 1. Menüansicht einrichten</div>
</div>
</div>
<div class="sect3">
<h4 id="170">2.3.2. Positionen der Menüansicht sortieren</h4>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Positionen der Menüansicht anhand einer Spalte alphabetisch bzw. numerisch aufsteigend oder absteigend zu sortieren.</p>
</div>
<div class="paragraph instruction">
<p>Positionen der Menüansicht sortieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Zeige mit der Maus auf die Überschrift der Spalte, nach der du sortieren möchtest.<br>
→ Ein kleines Dreieck (<span class="icon "><i class="fa fa-caret-up  "></i></span>) wird angezeigt.</p>
</li>
<li>
<p>Klicke auf das Dreieck (<span class="icon "><i class="fa fa-caret-up  "></i></span>), um die Einträge anhand dieser Spalte zu sortieren.<br>
→ Wenn das Dreieck nach unten zeigt (<span class="icon "><i class="fa fa-caret-down  "></i></span>), werden die Spalteneinträge aufsteigend sortiert (der größte Wert steht oben). Zeigt das Dreieck nach oben (<span class="icon "><i class="fa fa-caret-up  "></i></span>), wird absteigend sortiert.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="180">2.4. Deinen bevorzugten Editor wählen</h3>
<div class="paragraph">
<p>In der Standardeinstellung sind in allen Bereichen die Editoren <strong>Editor</strong>, <strong>Syntax-Editor</strong> und <strong>Textfeld</strong> aktiviert. Diese Editoren können im Menü <strong>Einrichtung » Einstellungen » Editoren » Tab: Bereiche</strong> für jeden Bereich deaktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Editoren deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Editoren</strong>.<br>
→ Das Tab <strong>Bereiche</strong> öffnet sich.</p>
</li>
<li>
<p>Entferne das Häkchen neben den Editoren, die in der Dropdown-Liste des Bereichs nicht angezeigt werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h4 id="_css_des_editors_einstellen" class="discrete">CSS des Editors einstellen</h4>
<div class="paragraph">
<p>In der Standardeinstellung wird für den <a href="/webshop/webshop-einrichten/cms#webdesign-werkzeuge-editor">Editor</a> das <strong>CSSContent</strong> verwendet. Wenn dort z.B. ein Hintergrundbild verwendet wird und dieses bei der Bearbeitung im Editor stört, kannst du das CSS im Menü <strong>Einrichtung » Einstellungen » Editoren » Tab: CSS</strong>  anpassen. Alternativ steht mit dem <strong>Standard</strong>-CSS ein weißer Hintergrund zur Verfügung. Du hast auch die Möglichkeit, ein <strong>benutzerdefiniertes</strong> CSS zu erstellen, in dem du die Formatierung weiterer Inhalte, z.B. Schriften, individuell festlegst.</p>
</div>
<div class="paragraph">
<p>Um das CSS für den Editor einzustellen, öffne das Menü <strong>Einrichtung » Einstellungen » Editoren » Tab: CSS</strong>.</p>
</div>
<div class="paragraph instruction">
<p>CSS für den Editor einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Editoren</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>CSS</strong>.</p>
</li>
<li>
<p>Wähle das gewünschte CSS. Beachte dazu die Erläuterungen in <a href="#tabelle-css-editoren">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-css-editoren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Verfügbare CSS</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wie im Webshop (CSSContent)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <a href="/webshop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-bestellvorgang-css#">Webshop-CSS</a> wird in den Editor geladen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein einfaches Standard-CSS wird in den Editor geladen. Die Hintergrundfarbe ist weiß.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzerdefiniert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das einfache Standard-CSS wird in einem Bearbeitungsfenster angezeigt und kann mit dem <a href="/webshop/webshop-einrichten/cms#webdesign-werkzeuge-syntax-editor">Syntax-Editor</a> angepasst werden.<br>
<strong><em>Hinweis:</em></strong> Mit einem Klick auf <strong>Zurücksetzen</strong> wird das CSS wieder auf das Standard-CSS zurückgesetzt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="190">3. Den Überblick behalten mit der Aufgaben-Funktion</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutze das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong>, um Tätigkeiten für alle Benutzer:innen des Systems zu verwalten. Du siehst den Fortschritt einer Aufgabe und kannst weitere Abläufe für dein Geschäft planen sowie interne Abläufe verbessern. Beispiele dafür sind die Aufgaben <em>Kontakt anrufen</em> oder <em>Produktkatalog versenden</em>.</p>
</div>
<div class="paragraph">
<p>Du kannst Aufgaben nicht nur im Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> erstellen, sondern auch in einem Ticket im <a href="/crm/ticketsystem-nutzen#4000">Ticketsystem</a>. So kannst du z.B. zu einer telefonischen Anfrage direkt eine Aufgabe erstellen. Aufgaben, die du im Menü <strong>CRM » Ticketsystem » [Ticket öffnen] » Tab: Aufgaben</strong> erstellst, sind mit dem Ticket verknüpft. Diese Verknüpfung wird auch in der Aufgabenübersicht im Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> angezeigt.</p>
</div>
<div class="sect2">
<h3 id="200">3.1. Benutzerrechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Benutzer:innen vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs in plentymarkets. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit diesem Zugang das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> sehen können, muss eine Person mit <strong>Admin</strong>-Zugang das im folgenden beschriebene Recht für Benutzer:innen vom Typ <strong>Backend</strong> vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für Backend-Benutzer:innen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Klappe das Menü <strong>Berechtigungen: Start</strong> auf.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>Aufgaben</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="210">3.2. Aufgabe erstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Aufgabe zu erstellen. Die Aufgaben-ID wird automatisch vergeben und kann nicht geändert werden.</p>
</div>
<div class="paragraph instruction">
<p>Aufgabe erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Neue Aufgabe</strong>.<br>
→ Das Tab <strong>Neue Aufgabe</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-create-task">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-task" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Aufgabe erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Titel der Aufgabe ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Priorität. Die Prioritäten reichen von <strong>0 = grauer Stern</strong> bis <strong>5 = 2 gelbe Sterne</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fortschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Prozentsatz. Dieser zeigt an, wie weit die Aufgabe fortgeschritten ist. Der Fortschritt muss je nach Fortschreiten der Aufgabe von der Person, die die Aufgabe bearbeitet, manuell angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Markierung. Die Markierung hilft, Aufgaben später wiederzufinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Eigner. Der Eigner ist eine Pflichteinstellung. Der Eigner ist die Person, die für die Aufgabe verantwortlich ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Beschreibung der Aufgabe ein formatiere ggf. den Text.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="220">3.3. Aufgaben suchen</h3>
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>plentymarkets Logo (Start) » Aufgaben</strong> werden standardmäßig alle Aufgaben mit einem Fortschritt unter 100% des aktuell aktiven Benutzers angezeigt. Wenn du eine Aufgabe über das <a href="/crm/ticketsystem-nutzen#4000">Ticketsystem</a> erstellt hast, wird ebenfalls die Ticket-ID sowie der Tickettitel in der Übersicht angezeigt. Mit einem Klick auf die Ticket-ID gelangst du direkt zum Ticket.</p>
</div>
<div class="paragraph">
<p>Nutze die Suchfilter, um auch bei einer großen Anzahl an Aufgaben den Überblick zu behalten und gezielt Aufgaben zu suchen.</p>
</div>
<div class="paragraph instruction">
<p>Aufgaben suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong>.<br>
→ Alle eigenen unerledigten Aufgaben werden angezeigt, weil beim Öffnen des Menüs standardmäßig der Filter für den Fortschritt auf <strong>&lt; 100%</strong> gesetzt und in der Dropdown-Liste <strong>Eigner</strong> die aktuell angemeldete Person vorausgewählt ist.</p>
</li>
<li>
<p>Klicke auf <span class="icon orange"><i class="fa fa-undo  "></i></span>, um die Filter zu entfernen.</p>
</li>
<li>
<p>Wähle die Filter. Beachte dazu die Erläuterungen in <a href="#table-search-task">Tabelle 6</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Aufgaben, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
</ol>
</div>
<table id="table-search-task" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Aufgabe suchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel/Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Titel oder die Beschreibung ein, um nach diesen zu filtern. Es handelt sich um eine Volltextsuche, die den <strong>Titel</strong> und die <strong>Beschreibung</strong> der Aufgaben durchsucht. Gib mindestens 4 Zeichen ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die ID ein, um die Aufgabe mit dieser ID zu suchen. Die Aufgaben-IDs werden automatisch vom System vergeben und sind fortlaufend. Die ID kann <em>nicht</em> geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Ticket-ID ein, um die Aufgabe(n) zu suchen, die zu diesem Ticket gehören.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fortschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator und den Fortschritt aus den Dropdown-Listen. So lassen sich z.B. alle Aufgaben suchen, die bereits zu 60 % oder mehr erledigt sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator und die Priorität aus den Dropdown-Listen. So lassen sich z.B. alle Aufgaben suchen, die Priorität 2 oder höher haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum der Erstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Operator aus der Dropdown-Liste und ein Datum aus dem Kalender (<span class="icon "><i class="fa fa-calendar  "></i></span>). So lassen sich z.B. alle Aufgaben suchen, die vor einem bestimmten Tag angelegt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner aus der Dropdown-Liste, um nur die Aufgaben dieses Eigners zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Markierung, um nur nach Aufgaben mit dieser Markierung zu suchen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="230">3.4. Aufgabe bearbeiten</h3>
<div class="paragraph">
<p>Du kannst Aufgaben jederzeit bearbeiten, um z.B. den Fortschrittsbalken anzupassen oder die Beschreibung zu ergänzen.</p>
</div>
<div class="paragraph instruction">
<p>Aufgabe bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong>.<br>
→ Alle eigenen unerledigten Aufgaben werden angezeigt, weil beim Öffnen des Menüs standardmäßig der Filter für den Fortschritt auf <strong>&lt; 100%</strong> gesetzt und in der Dropdown-Liste <strong>Eigner</strong> die aktuell angemeldete Person vorausgewählt ist.<br></p>
</li>
<li>
<p>Klicke auf <span class="icon orange"><i class="fa fa-undo  "></i></span>, um die Filter zu entfernen.</p>
</li>
<li>
<p>Wähle die Filter. Beachte dazu die Erläuterungen in <a href="#table-search-task">Tabelle 6</a>.<br>
→ Die Aufgaben, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Aufgabe.<br>
→ Die Aufgabe wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-create-task">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="240">3.5. Aufgaben auf dem Dashboard anzeigen</h3>
<div class="paragraph">
<p>Du kannst deine unerledigten <a href="/willkommen/system-personalisieren#110">Aufgaben auf dem Dashboard anzeigen lassen</a>. Auf diese Weise siehst du direkt zu Arbeitsbeginn, welche Aufgaben noch erledigt werden müssen.</p>
</div>
<div class="paragraph">
<p>Setze auf dem Dashboard direkt bei der Aufgabe ein Häkchen, wenn du die Aufgabe erledigt hast. Die Aufgabe wird dann auch im Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> aktualisiert und erhält den Status <strong>100%</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Aufgaben auf dem Dashboard anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne dein plentymarkets System.<br>
→ Das Dashboard wird angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Element <strong>Meine Aufgaben</strong>.<br>
→ Der Bereich <strong>Meine Aufgaben</strong> wird dir ab sofort auf dem Dashboard angezeigt, wenn du dein plentymarkets System öffnest.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit einem Klick auf <strong>ToDo eingeben</strong> im Bereich <strong>Meine Aufgaben</strong> gelangst du direkt in das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> und kannst dort eine neue <a href="#210#">Aufgabe erstellen</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="250">4. Termine planen mit der Kalender-Funktion</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Kalender im Menü <strong>plentymarkets Logo (Start) » Kalender</strong> deines plentymarkets Systems bietet dir die Möglichkeit, Termine zu planen, um deine zeitliche Organisation und die deiner Mitarbeiter:innen zu steuern und interne Abläufe zu verbessern.</p>
</div>
<div class="paragraph">
<p>Der Kalender enthält die eigenen Termine sowie die Termine der Mitarbeiter:innen, deren Kalender für die aktuell angemeldete Personen sichtbar gestellt und im <strong>Filter</strong> aktiviert wurden.</p>
</div>
<div class="paragraph">
<p>Du kannst zwischen der Anzeige des Tages, der Woche und des Monats wählen. Durch Klick auf die Schaltfläche <strong>Heute</strong> wechselst du zurück zur Ansicht des aktuellen Tages.</p>
</div>
<div class="paragraph">
<p>Im Filter wird eine Liste der Benutzer:innen angezeigt, für die die aktuell angemeldete Person mindestens Leserechte hat. Durch Setzen eines Häkchens werden die Termine dieses Benutzers im Kalender angezeigt. Du kannst die Kalender mehrerer Benutzer:innen gleichzeitig anzeigen.</p>
</div>
<div class="sect2">
<h3 id="260">4.1. Benutzerrechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Benutzer:innen vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs in plentymarkets. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit diesem Zugang das Menü <strong>plentymarkets Logo (Start) » Kalender</strong> sehen können, muss eine Person mit <strong>Admin</strong>-Zugang das im folgenden beschriebene Recht für Benutzer:innen vom Typ <strong>Backend</strong> vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für Backend-Benutzer:innen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Klappe das Menü <strong>Berechtigungen: Start</strong> auf.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>Kalender</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">4.2. Backend-Benutzer:innen als Eigner einstellen</h3>
<div class="paragraph">
<p>Für Personen mit dem Zugang <strong>Backend</strong> muss die Kalendernutzung wie im Folgenden beschrieben aktiviert werden. Für Personen mit dem Zugang <strong>REST-API</strong> ist keine Aktivierung des Kalenders möglich.</p>
</div>
<div class="paragraph">
<p>Die Berechtigung kann im Tab <strong>Eigner</strong> eines Benutzerkontos jederzeit wieder deaktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Backend-Benutzer:innen als Eigner einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne das zu bearbeitende Konto mit dem Zugang <strong>Backend</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Eigner</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Kalender</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das neue Tab <strong>Kalender</strong> ist sichtbar und kann wie im nächsten Kapitel beschrieben eingerichtet werden.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="280">4.3. Grundeinstellungen im Kalender vornehmen und Zugriffsrechte für Benutzer:innen einstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Grundeinstellungen im Kalender wie z.B. die Vergabe des Passwort vorzunehmen und die Zugriffsrechte für Benutzer:innen einzustellen. Du kannst zwischen den Einstellungen <strong>Kein Zugriff</strong>, <strong>Lesen</strong> und <strong>Lesen &amp; Schreiben</strong> wählen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen im Kalender vornehmen und Zugriffsrechte für Benutzer:innen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Öffne das Tab <strong>Kalender</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-calendar-basic-settings">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-calendar-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Grundeinstellungen im Kalender vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Serveradresse</strong>;<br>
<strong>Serverpfad</strong>;<br>
<strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird automatisch vom System gespeichert.<br>
Die Server-Adresse und der Server-Pfad sind für die Konfiguration eines <a href="#320">externen Kalender-Tools</a> (z.B. Google Calendar) erforderlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Einrichten des Kalender-Accounts wird ein Passwort benötigt, das von <a href="#320">externen Kalender-Tools</a> abgefragt wird. Das Passwort kann jederzeit geändert werden.<br>
<strong><em>Wichtig:</em></strong> Das Passwort wird nach dem Speichern nicht mehr angezeigt und kann nicht wiederhergestellt werden.<br>
Bei Verwendung externer Kalender-Tools muss bei einer Änderung des Passworts dort das Passwort ggf. erneut eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort wiederholen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuvor eingegebenes neues Passwort durch erneute Eingabe bestätigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Beschreibung wird bei den Informationen bzw. Einstellungen des Kalenders angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Berechtigung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, welche Personen Zugriff auf den Kalender dieses Eigners haben sollen und welche Zugriffsrechte diese Personen haben sollen. Um den Kalender sehen zu können, müssen diese Personen mindestens Leserechte haben.<br>
<strong>Kein Zugriff</strong> = Die Person hat weder Lese- noch Schreibzugriff auf den Kalender dieses Eigners.<br>
<strong>Lesen</strong> = Der Kalender ist für die Person sichtbar.<br>
<strong>Schreiben</strong> = Die Person darf Termine im Kalender bearbeiten und löschen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="290">4.4. Termin erstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen Termin zu erstellen. Abhängig von deinen Zugriffsrechten, die gemäß <a href="#table-calendar-basic-settings">Tabelle 7</a> eingestellt werden, kannst du auch Termine für andere Benutzer:innen erstellen. Du kannst nur Termine für Benutzer:innen erstellen, für die du Schreibrechte hast. Benutzer:innen, für die du nicht über Schreibrechte verfügst, stehen beim Erstellen eines Termins nicht zur Auswahl.</p>
</div>
<div class="paragraph instruction">
<p>Termin erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Kalender</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Wähle den Zeitpunkt des Termins mit einem Klick in das Feld bei der Uhrzeit.<br>
→ <strong><em>Tipp:</em></strong> Wähle den Zeitraum des Termins mit einem Klick in das Feld der Startzeit und ziehe den Cursor bis zur Endzeit des Termins.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Termininformationen</strong> vor. Beachte dazu die Erläuterungen in <a href="#table-create-appointment">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-appointment" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Termin erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird in der Kalenderübersicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ganztägig</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, dass der Termin den ganzen Tag dauert. Termine werden dann in der Tages- und Wochenansicht in der oberen Leiste angezeigt und der Kalender bleibt übersichtlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Von / Bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit sind voreingestellt, können jedoch angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Art des Termins aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kalender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, für welchen Eigner der Termin angelegt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung eingeben, z.B. Details zum Termin. Diese Beschreibung wird auch anderen Benutzer:innen mit Zugriffsrechten auf den Kalender in den Termininformationen angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">4.5. Termin bearbeiten</h3>
<div class="paragraph">
<p>Klicke auf einen Termin, um die Termininformationen zu öffnen und diese zu ändern.</p>
</div>
<div class="paragraph instruction">
<p>Termin bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Kalender</strong>.</p>
</li>
<li>
<p>Klicke auf den Termin, den du ändern möchtest.<br>
→ Das Fenster <strong>Termininformationen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Änderungen vor. Beachte dazu die Erläuterungen in <a href="#table-create-appointment">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="310">4.6. Termin löschen</h3>
<div class="paragraph">
<p>Lösche Termine, wenn diese fälschlicherweise erstellt wurden oder die Termine hinfällig geworden sind.</p>
</div>
<div class="paragraph instruction">
<p>Termin löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Kalender</strong>.</p>
</li>
<li>
<p>Klicke auf den Termin, den du löschen möchtest.<br>
→ Das Fenster <strong>Termininformationen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ Der Termin wird gelöscht und aus der Kalenderübersicht entfernt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="320">4.7. Kalender mit externen Kalender-Tools synchronisieren</h3>
<div class="paragraph">
<p>Über eine <a href="https://de.wikipedia.org/wiki/CalDAV" target="_blank" rel="noopener">CalDAV</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>-Schnittstelle synchronisierst du deinen Kalender mit externen Kalender-Tools. Du kannst den Kalender z.B. mit dem Mac-Kalender oder iPad-Kalender synchronisieren.</p>
</div>
<div class="paragraph">
<p>Im Benutzerkonto des Teammitglieds muss dazu wie im Kapitel <a href="#270">Backend-Benutzer:innen als Eigner einstellen</a> beschrieben im Tab <strong>Eigner</strong> die Option <strong>Kalender</strong> aktiviert sein. Du benötigst außerdem die Einstellungen, die im Tab <strong>Kalender</strong> des Benutzerkontos gespeichert sind.</p>
</div>
<div class="paragraph">
<p>Informationen darüber, wie du deinen plentymarkets Kalender mit externen Kalender-Tools synchronisierst, findest du in der Dokumentation des externen Kalender-Tools.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="330">5. Interne Workflows mit Boards visualisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Durch das Verwenden von Boards kannst du den Workflow eines Projekts oder Arbeitsprozesses innerhalb deines Unternehmens visualisieren. Gängige Boards bestehen aus 3 Spalten: <em>Zu tun</em>, <em>In Arbeit</em> und <em>Erledigt</em>. Du entscheidest jedoch selbst, wie du das Board gestaltest und wieviele Spalten du verwendest.</p>
</div>
<div class="sect2">
<h3 id="340">5.1. Benutzerrechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Benutzer:innen vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs in plentymarkets. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit diesem Zugang das Menü <strong>plentymarkets Logo (Start) » Boards</strong> sehen können, muss eine Person mit <strong>Admin</strong>-Zugang das im folgenden beschriebene Recht für Benutzer:innen vom Typ <strong>Backend</strong> vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für Backend-Benutzer:innen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Klappe das Menü <strong>Berechtigungen: Start</strong> auf.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>Boards</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="350">5.2. Board erstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein Board zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Board erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Board erstellen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neues Board erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Namen des Boards ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Board wird erstellt und der Liste hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="360">5.3. Spalte hinzufügen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Spalten zu dem Board hinzuzufügen. Du kannst beliebig viele Spalten hinzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Spalte hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf das Board, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke auf der rechten Seite auf <strong>Neue Spalte hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Spalte wird auf der linken Seite hinzugefügt.</p>
</li>
<li>
<p>Gib den Namen für die Spalte ein.</p>
</li>
<li>
<p>Füge weitere Spalten analog hinzu, bis du die gewünschte Anzahl an Spalten für das Board hast.<br>
→ <strong><em>Tipp:</em></strong> Du kannst die Position der Spalten auch per Drag-and-drop verschieben.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="370">5.4. Karte hinzufügen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Karten zu dem Board hinzuzufügen. Du kannst beliebig viele Karten hinzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Karte hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf das Board, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke in der Spalte, in der du eine neue Karte hinzufügen möchtest, unten auf <strong>Neue Karte hinzufügen</strong>.</p>
</li>
<li>
<p>Gib den Namen für die Karte ein.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Karte speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).</p>
</li>
<li>
<p>Füge weitere Karten analog hinzu, bis du die gewünschte Anzahl an Karten für das Board hinzugefügt hast.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="380">5.5. Karte bearbeiten</h3>
<div class="paragraph">
<p>Du kannst die Karten auf dem Board jederzeit bearbeiten. Verknüpfe die Karte z.B. mit einem Kontakt, einem Auftrag und einem Ticket oder füge Eigner und Tags hinzu. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Karte bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf das Board, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke in der Karte, die du bearbeiten möchtest, auf den Pfeil oben rechts (<span class="icon "><i class="fa fa-angle-down  "></i></span>).<br>
→ Das Einstellungsmenü öffnet sich.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-boards-edit-card">Tabelle 9</a>.</p>
</li>
</ol>
</div>
<table id="table-boards-edit-card" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Einstellungen im Menü <strong>plentymarkets Logo (Start) » Boards</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karte bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passe den Titel und die Beschreibung an, falls gewünscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karte löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht die Karte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Kontakt-ID ein, um die Karte mit dem Kontakt zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Wenn die Karte mit dem Kontakt verknüpft ist, wird das Symbol <span class="icon "><i class="fa fa-user  "></i></span> auf der Karte angezeigt. Über dieses Symbol kannst du den Kontakt direkt im Menü <strong>CRM » Kontakte</strong> öffnen oder die Verknüpfung zum Kontakt mit einem Klick auf <strong>Referenz entfernen</strong> löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Ticket-ID ein, um die Karte mit dem Ticket zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Wenn die Karte mit dem Ticket verknüpft ist, wird das Symbol <span class="icon "><i class="fa fa-file-text-o  "></i></span> auf der Karte angezeigt. Über dieses Symbol kannst du das Ticket direkt im Menü <strong>CRM » Ticketsystem</strong> öffnen oder die Verknüpfung zum Ticket mit einem Klick auf <strong>Referenz entfernen</strong> löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Auftrags-ID ein, um die Karte mit dem Auftrag zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Wenn die Karte mit dem Auftrag verknüpft ist, wird das Symbol <span class="icon "><i class="fa fa-shopping-cart  "></i></span> auf der Karte angezeigt. Über dieses Symbol kannst du den Auftrag direkt im Menü <strong>Aufträge » Aufträge bearbeiten</strong> öffnen oder die Verknüpfung zum Auftrag mit einem Klick auf <strong>Referenz entfernen</strong> löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner aus der Liste, um diesen Eigner der Karte hinzuzufügen.<br>
Wenn der Eigner der Karte hinzugefügt ist, wird ein Symbol mit den Initialen bzw. dem Anfangsbuchstaben des Eigners auf der Karte angezeigt.<br>
<strong><em>Tipp:</em></strong> Um die Person von der Karte zu entfernen, bewege den Mauszeiger über das Symbol und klicke auf <strong>Benutzer entfernen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tag hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Tag aus der Liste, um dieses Tag der Karte hinzuzufügen.<br>
<strong><em>Wichtig:</em></strong> In der Liste stehen nur Tags zur Verfügung, die zuvor im Menü <strong>Einrichtung » Einstellungen » Tags</strong> erstellt wurden. Weitere Informationen findest du auf der Handbuchseite <a href="/willkommen/allgemeine-funktionen/tags">Tags</a>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="390">5.6. Board bearbeiten</h3>
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>plentymarkets Logo (Start) » Boards</strong> siehst du auf jedem erstellten Board in der Liste die Anzahl der Karten und Spalten, den Namen des Boards sowie den Zeitraum der letzten Änderung. Klicke auf <strong>Board umbenennen</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>), um einen neuen Namen für das Board einzugeben. Klicke auf <strong>Board löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>), um das Board zu löschen.</p>
</div>
<div class="paragraph">
<p>Um das Board zu bearbeiten, klicke auf den Namen des Boards. Dort kannst du neue Spalten und Karten hinzufügen und die Karten bearbeiten. Beachte dazu die Erläuterungen in <a href="#table-boards-edit-card">Tabelle 9</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">5.7. Ereignisaktionen einrichten</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Ticketsystem » Ereignisse</strong> erstellst du Ereignisaktionen, die z.B. die Karten auf deinen Boards automatisch in eine von dir festgelegte Spalte verschieben, sobald ein bestimmtes Ereignis eintritt. Auch das Verschieben von Karten auf ein anderes Board ist möglich. Außerdem kannst du für neu erstellte Karten einen Präfix wählen oder Karten löschen, sobald ein bestimmtes Ereignis eintritt.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Erstellen von Ereignisaktionen findest du im Kapitel <a href="/crm/ticketsystem-nutzen#2900">E-Mail-Vorlage automatisch versenden</a> auf der Handbuchseite <a href="/crm/ticketsystem-nutzen">Ticketsystem</a>.</p>
</div>
</div>
</div>
</div>
</main>