<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_retouren_gutschriften_stornierungen"><span>1.</span><span> Retouren / Gutschriften / Stornierungen</span></a></li>
<li><a href="#_statistik_details"><span>2.</span><span> Statistik-Details</span></a></li>
<li><a href="#_einstellungen"><span>3.</span><span> Einstellungen</span></a></li>
<li><a href="#_daten_export"><span>4.</span><span> Daten-Export</span></a>
<ul class="sectlevel2">
<li><a href="#_export_der_diagrammdaten"><span>4.1.</span><span> Export der Diagrammdaten</span></a></li>
<li><a href="#_export_der_rohdaten"><span>4.2.</span><span> Export der Rohdaten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Retouren / Gutschriften / Stornierungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistik → Statistik-Typ: Umsatz / Retouren / Gutschriften / Stornierungen</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_retouren_gutschriften_stornierungen">1. Retouren / Gutschriften / Stornierungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Statistik zeigt die Beträge der <em><strong>Retouren</strong></em>, <em><strong>Gutschriften</strong></em> und <em><strong>Stornierungen</strong></em> gesplittet an, in Abhängigkeit der <em><strong>Zeitspanne</strong></em>. Alternativ zu einer Zeitspanne können Sie den Zeitraum per <strong>Start</strong>- und <strong>Enddatum</strong> eingrenzen. Standardeinstellung der <em><strong>Zeitspanne</strong></em>: die <strong>letzten 30 Tage</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_statistik_details">2. Statistik-Details</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Entsprechend der gewählten Zeitspanne wird die jeweilige Auftragsart und der <em><strong>Betrag in Euro</strong></em> angezeigt. Sind keine Buchungen für eine Auftragsart vorhanden, wird die jeweilige Auftragsart nicht angezeigt. Als Tooltip wird der Name der <em><strong>Auftragsart</strong></em> und der zugehörige <em><strong>Betrag in Euro</strong></em> angezeigt, außerdem der jeweilige <em><strong>prozentuale Anteil</strong></em> am Umsatz aller angezeigten Auftragsarten (Bild 1). Sie können mit dieser Statistik z.B. erkennen, wieviele Retouren, Gutschriften oder Stornierungen Sie im jeweiligen Zeitraum hatten und wie diese prozentual verteilt waren. Das dient dem Controlling Ihrer Rückläufer.</p>
</div>
<div class="paragraph">
<p>In Bild 1 wird z.B. zu Gutschriften ein Betrag von <em><strong>146,99 Euro</strong></em> angezeigt sowie ein prozentualer Anteil von <em><strong>65,18 %</strong></em> an den Auftragsarten, die bei dieser Statistik berücksichtigt wurden.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Details anzeigen (Tooltip)</div>
<div class="paragraph">
<p>Zeigen Sie mit dem <em><strong>Mauszeiger</strong></em> auf ein Element der Statistik, um die jeweiligen <strong>Details</strong> anzuzeigen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/umsatz/assets/DE-Statistik-RetourenGutStor-01-SI.png" alt="DE Statistik RetourenGutStor 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Statistik <strong>Retouren / Gutschriften / Stornierungen</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen">3. Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Legen Sie zunächst wie auf der Handbuchseite <strong><a href="/basics/statistik">Statistik</a></strong> beschrieben eine neue Statistik an. Für die Statistik <strong>Retouren / Gutschriften / Stornierungen</strong> stehen dann die in Tabelle 1 beschriebenen <em><strong>Einstellungen</strong></em> zur Verfügung.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/umsatz/assets/DE-Statistik-RetourenGutStor-02-SI.png" alt="DE Statistik RetourenGutStor 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Statistik <strong>Retouren / Gutschriften / Stornierungen</strong>; <strong>Einstellungen</strong></em></p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Menü <strong>Start » Statistik → Statistik-Typ: Umsatz / Retouren / Gutschriften / Stornierungen</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagramm-Anzeige</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Diagrammtyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>2D-Kreisdiagramm</strong> = Darstellung der Werte als flächige Kreissektoren<br>
<strong>3D-Kreisdiagramm</strong> = Darstellung der Werte als dreidimensionale Kreissektoren<br>
<strong>Daten-Tabelle</strong> = Datenübersicht in Tabellenform</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Daten des Diagramms werden in eine <em><strong>CSV-Datei</strong></em> exportiert. Dabei werden die Parameter wie angezeigt verwendet. Sie entsprechen denen des Diagrammtyps <strong>Daten-Tabelle</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rohdaten-Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Es wird ebenfalls eine <em><strong>CSV-Datei</strong></em> erzeugt. Die Daten werden allerdings detaillierter exportiert. So wird anstelle der Anzahl der Aufträge für jeden Auftrag die relevanten Datenfelder, wie <strong>Auftrags-ID</strong>, <strong>Preis</strong> etc. in die CSV-Datei eingefügt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <em><strong>Bezeichnung</strong></em> der Statistik, die beim Erstellen gewählt wurde. Der Name kann hier geändert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeitspanne</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Zeitspanne für die Statistik aus dem Dropdown-Menü wählen. Standardwert: <strong>Die letzten 30 Tage</strong>.<br>
Die Zeitspanne ändern, wenn keine oder nur wenige Daten angezeigt werden. Dann auf <strong>Speichern</strong> klicken, um das Ergebnis anzuzeigen.<br>
Durch Wahl eines <em><strong>längeren Zeitraums</strong></em> werden mehr Informationen angezeigt. Bei vielen Daten ermöglicht die <em><strong>Verringerung der Zeitspanne</strong></em> ggf. eine aussagekräftigere Auswertung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Startdatum / Enddatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Optional einen bestimmten <em><strong>Datumsbereich</strong></em> alternativ zur Option <strong>Zeitspanne</strong> eingrenzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <em><strong>Webshops</strong></em> wählen, deren Daten für die Statistik verwendet werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Diagramm</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob <em><strong>Umsätze</strong></em> in der Statistik als <em><strong>Brutto</strong></em> oder <em><strong>Netto</strong></em> angezeigt werden sollen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Statistik bearbeiten</strong>; <strong>Einstellungen</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_daten_export">4. Daten-Export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie in Tabelle 1 erläutert können Sie zwischen einem einfachen und einem detaillierten Exportergebnis wählen. Nachfolgend finden Sie entsprechende Beispiele.</p>
</div>
<div class="sect2">
<h3 id="_export_der_diagrammdaten">4.1. Export der Diagrammdaten</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Datenfelder</div>
<div class="paragraph">
<p><strong>QuantityOfOrders</strong> = Anzahl der Aufträge, <strong>Losses</strong> = Erstattungen, <strong>OrderType</strong> = Auftragsart</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/umsatz/assets/DE-Statistik-RetourenGutStor-03-SI.png" alt="DE Statistik RetourenGutStor 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Statistik <strong>Retouren / Gutschriften / Stornierungen</strong>; Einfacher Export</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_export_der_rohdaten">4.2. Export der Rohdaten</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Datenfelder</div>
<div class="paragraph">
<p><strong>Date</strong> = Datum, <strong>OrderID</strong> = Auftrags-ID, <strong>Losses</strong> = Erstattungen, <strong>OrderType</strong> = Auftragsart</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/umsatz/assets/DE-Statistik-RetourenGutStor-04-SI.png" alt="DE Statistik RetourenGutStor 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: Statistik <strong>Retouren / Gutschriften / Stornierungen</strong>; Rohdaten-Export</em></p>
</div>
</div>
</div>
</div>
</main>