{% import "PlentyManual::Macros.SearchBar" as SearchBar %}

<main id="main">

    {{ SearchBar.printBanner( plugin_path("PlentyManual")~'/images/_layout/girl-with-notebook-sitting-on-desk-darken.jpg', false ) }}

    <section class="container mt-4 search-section">

        <h1 class="display-3 text-center">404 – Seite nicht gefunden!</h1>

        <div class="text-center">
            <a class="btn btn-lg btn-danger" href="/"><span>Zur Startseite</span><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>

    </section>

</main>