<footer class="page-footer" data-tg="sticky-container-above">

    <hr>

    <div class="container">

        <div class="text-center my-4">
            <img class="footer-logo" src="{{ plugin_path('PlentyManual') }}/images/_layout/plentyknowledge-logo.svg" alt="plentyKnowledge Logo" width="136" height="27">
        </div>

        <div class="row">

            <div class="col-md-4">
                <div>
                    <strong>Erste Schritte</strong>
                </div>
                <hr class="my-1">
                <ul class="list-unstyled">
                    {# TODO: set links #}
                    <li>
                        <a href="#">Grundeistellungen</a>
                    </li>
                    <li>
                        <a href="#">Schnelleinstieg</a>
                    </li>
                    <li>
                        <a href="#">Benutzer verwalten</a>
                    </li>
                    <li>
                        <a href="#">Allgemeine Funktionen</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div>
                    <strong>Serviceangebot</strong>
                </div>
                <hr class="my-1">
                <ul class="list-unstyled">
                    {# TODO: set links #}
                    <li>
                        <a href="#">Video-Tutorials</a>
                    </li>
                    <li>
                        <a href="#">Forum</a>
                    </li>
                    <li>
                        <a href="#">Systemeinrichtung &amp; Consulting</a>
                    </li>
                    <li>
                        <a href="#">Workshops &amp; Webinare</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div>
                    <strong>Partnerangebot</strong>
                </div>
                <hr class="my-1">
                <ul class="list-unstyled">
                    {# TODO: set links #}
                    <li>
                        <a href="#">Partneragenturen</a>
                    </li>
                    <li>
                        <a href="#">Projektbörse</a>
                    </li>
                    <li>
                        <a href="#">Partneragentur werden</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="social-list text-center">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="color-hover-facebook" href="http://www.facebook.com/plentyMarkets"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
                </li>
                <li class="list-inline-item">
                    <a class="color-hover-twitter" href="http://twitter.com/#!/plentymarkets"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
                </li>
                <li class="list-inline-item">
                    <a class="color-hover-xing" href="http://www.xing.com/company/plentymarkets"><i class="fa fa-xing"></i><span class="sr-only">Xing</span></a>
                </li>
                <li class="list-inline-item">
                    <a class="color-hover-rss" href="https://www.plentymarkets.eu/?ActionCall=WebActionRSS&amp;rss_id=1"><i class="fa fa-rss"></i><span class="sr-only">RSS</span></a>
                </li>
            </ul>
        </div>

        <hr class="my-2">

        <div class="row small">
            <div class="col">
                © Copyright 2017 <a href="https://www.plentymarkets.eu" target="_blank">plentymarkets GmbH</a>
            </div>
            <div class="col text-right">
                <a href="https://www.plentymarkets.eu/unternehmen/agb/">AGB</a>
                |
                <a href="https://www.plentymarkets.eu/unternehmen/datenschutz/">Datenschutz</a>
                |
                <a href="https://www.plentymarkets.eu/unternehmen/impressum/">Impressum</a>
            </div>
        </div>

    </div>

</footer>