<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Kategorie für die Artikelvorlage erstellen</span></a></li>
<li><a href="#200"><span>2.</span><span> Artikel mit der Vorlage-Kategorie verknüpfen</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Vorlage mit einem Artikel verknüpfen</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Vorlage mit mehreren Artikeln verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.</span><span> Plugin bereitstellen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelvorlagen (nicht empfohlen)</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">ShopBuilder löst die Artikelvorlagen ab</div>
<div class="paragraph">
<p>Es ist zwar technisch möglich, Artikelvorlagen mit dem plentyShop zu verwenden.
Wir raten jedoch aus zwei Gründen davon ab:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelvorlagen überschreiben deine "normalen" Produktseiten und sind somit im Alltag nur bedingt nützlich.</p>
</li>
<li>
<p>Dieser Vorgang ist komplizierter als <a href="/webshop/webshop/webinare/shopbuilder-artikelansicht-einrichten">die Gestaltung mit ShopBuilder</a> (siehe Video ab Minute 12:17).</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Mit Hilfe von Artikelvorlagen kannst du die Produktseiten deines plentyShops gestalten.
Du gehst wie folgt vor:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Erstelle eine neue Kategorie vom Typ "Content" und füge HTML-Code im Tab "Template" ein.</p>
</li>
<li>
<p>Verknüpfe die gewünschten Artikel mit dieser Kategorie.</p>
</li>
<li>
<p>Stelle zum Schluss das Ceres-Plugin bereit.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Kategorie für die Artikelvorlage erstellen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für die Kategorie ein.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-save  "></i></span> <strong>Erstellen</strong>.<br>
→ Die Kategorie wird erstellt und im Verzeichnisbaum links angezeigt.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong> dieser Kategorie.</p>
</li>
<li>
<p>Wähle den Typ <strong>Content</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Template</strong> und füge HTML-Code ein. Dies ist die Vorlage.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Artikel mit der Vorlage-Kategorie verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die Artikelvorlage erstellt hast, verknüpfst du diese Vorlage mit den gewünschten Artikel.
Du kannst die Vorlage entweder mit einem einzigen Artikel oder mit mehreren Artikeln gleichzeitig verknüpfen.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Vorlage mit einem Artikel verknüpfen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Texte</strong> in der oberen Leiste.</p>
</li>
<li>
<p>Scrolle nach unten zur Option <strong>Artikelvorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Kategorie zuweisen</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).<br>
→ Das Fenster <strong>Artikelvorlage wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf die Kategorie vom Typ "Content".</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Wählen</strong>.<br>
→ Die Vorlage wird mit dem Artikel verknüpft.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Vorlage mit mehreren Artikeln verknüpfen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Artikel</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Artikel in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Artikel-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Verknüpfe die Artikelvorlage. Dazu:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Suche die Option <strong>Artikelvorlage</strong> im Bereich <strong>Global</strong>.</p>
</li>
<li>
<p>Klicke auf die Checkbox (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) links neben dieser Option.</p>
</li>
<li>
<p>Klicke auf <strong>Kategorie zuweisen</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) rechts neben dieser Option.<br>
→ Das Fenster <strong>Artikelvorlage wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf die Kategorie vom Typ "Content".</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Wählen</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>.<br>
→ Die Vorlage wird mit allen ausgewählten Artikeln verknüpft.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Plugin bereitstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/willkommen/schnelleinstieg/schnelleinstieg-webshop#270">Stelle das Ceres-Plugin bereit</a> und prüfe, wie die Vorlage in deinem plentyShop aussieht.
Bedenke, dass Artikelvorlagen deine "normalen" Produktseiten überschreiben und somit im Alltag nur bedingt nützlich sind.</p>
</div>
</div>
</div>
</main>