<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#730"><span>1.</span><span> Artikelvorlagen in Callisto erstellen</span></a></li>
<li><a href="#740"><span>2.</span><span> Artikelvorlage in Callisto mit einem Artikel verknüpfen</span></a></li>
<li><a href="#750"><span>3.</span><span> Artikelvorlage mit mehreren Artikeln verknüpfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelvorlagen in Callisto</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Verwende Artikelvorlagen, um für verschiedene Kategorien von Artikeln im Webshop abweichende Beschreibungstexte zu erstellen.</p>
</div>
<div class="paragraph">
<p>Angenommen du verkaufst Mode und Accessoires. Auf der Produktseite von Modeartikeln soll immer ein Hinweistext erscheinen, der daran erinnert, eine Farbe zu wählen. Dieser Hinweis soll bei Accessoires nicht erscheinen. Damit du diesen Hinweistext nicht bei jedem Artikel der Kategorie <strong>Mode</strong> an die Artikelbeschreibung anhängen musst, erstellst du eine neue Kategorie des Typs <strong>Content</strong> mit den Texten, um obiges Beispiel zu realisieren. Der Inhalt besteht aus der Template-Variable <strong>$Description</strong> und dem Hinweistext. Die Template-Variable <strong>$Description</strong> ist wichtig, da sonst nur der Hinweistext angezeigt wird. Anschließend verknüpfst du Artikel mit der neuen Kategorie. Im Webshop wird die Artikelbeschreibung mit dem Hinweistext der Artikelvorlage angezeigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/assets/DE-Artikel-Artikelvorlagen-01.png" alt="Template-Variable und Hinweistext einfügen">
</div>
<div class="title">Bild 1. Template-Variable und Hinweistext einfügen</div>
</div>
</div>
</div><div class="sect1">
<h2 id="730">1. Artikelvorlagen in Callisto erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um der Artikelbeschreibung einen Hinweistext anzuhängen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie mit einem Hinweistext erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für die Kategorie ein.</p>
</li>
<li>
<p>Wähle <strong>Unterkategorie</strong> als Kategorieebene.<br>
→ Die Kategorieebenen werden wählbar.</p>
</li>
<li>
<p>Wähle eine Hauptkategorie für die neue Kategorie.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>, um die Kategorie zu erstellen.<br>
→ Die Kategorie wird erstellt und im Verzeichnisbaum links als Unterkategorie angezeigt.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong> dieser Kategorie.</p>
</li>
<li>
<p>Wähle den Typ <strong>Content</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Beschreibung1</strong> und füge die Template-Variable <strong>$Description</strong> und den <strong>Hinweistext</strong> ein (Bild 1).</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Anstelle der Template-Variable <strong>$Description</strong> erscheint im Webshop im Bereich <strong>Beschreibung</strong> die im Tab <strong>Texte</strong> unter <strong>Artikeltext</strong> eingegebene Artikelbeschreibung. An diese Beschreibung wird der in der Artikelvorlage eingegebene Hinweistext angehängt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nur gültige Template-Variablen und Funktionen verwenden</div>
<div class="paragraph">
<p>Verwende ausschließlich einem Template zugeordnete <strong>Variablen und Funktionen</strong>. Klicke in der Kategorie auf <strong>Template-Variablen und Funktionen</strong>, um die nach Templates sortierten Variablen und Funktionen anzuzeigen. Kopiere für das Erstellen der Artikelvorlagen nur die Variablen und Funktionen aus dem Bereich ItemView, zum Beispiel <strong>ItemViewSingleItem</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="740">2. Artikelvorlage in Callisto mit einem Artikel verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die Artikelvorlage erstellt hast, verknüpfe diese Vorlage mit dem Artikel.</p>
</div>
<div class="paragraph instruction">
<p>Artikelvorlage verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Texte</strong>.</p>
</li>
<li>
<p>Wähle unter der Option <strong>Artikelvorlage</strong> die Kategorie.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="750">3. Artikelvorlage mit mehreren Artikeln verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Statt die Artikelvorlage mit einem Artikel zu verknüpfen, verknüpfe die Artikelvorlage über die Gruppenfunktion in einem Arbeitsgang mit mehreren Artikeln.</p>
</div>
<div class="paragraph instruction">
<p>Artikelvorlage mit mehreren Artikeln verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die gefilterten Artikel werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke in der Kopfzeile der Artikelübersicht auf <strong>Alle auswählen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Global</strong> die Option <strong>Artikelvorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Kategorie zuweisen</strong>, um die Artikelvorlage zu wählen.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Die Artikelvorlage wird allen Artikeln verknüpft.</p>
</li>
</ol>
</div>
</div>
</div>
</main>