<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Hast du die Variante aktiviert?</span></a></li>
<li><a href="#200"><span>2.</span><span> Ist ein Verkaufspreis mit der Variante verknüpft?</span></a></li>
<li><a href="#300"><span>3.</span><span> Ist eine Kategorie mit der Variante verknüpft?</span></a></li>
<li><a href="#400"><span>4.</span><span> Ist der richtige Mandant mit der Variante verknüpft?</span></a></li>
<li><a href="#500"><span>5.</span><span> Hat die Variante positiven Netto-Warenbestand?</span></a></li>
<li><a href="#600"><span>6.</span><span> Sind die Verfügbarkeiten für den Shop aktiviert?</span></a></li>
<li><a href="#700"><span>7.</span><span> Könnte es am Cache liegen?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel ist nicht sichtbar</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du hast deinen <a href="/artikel/artikel-verwalten">Artikel angelegt</a> und möchtest jetzt prüfen, wie er in deinem Shop aussieht. Aber wo ist er? Warum ist er nicht sichtbar?
Arbeite diese Checkliste durch und vergewissere dich, dass dein Artikel alle Voraussetzungen erfüllt, um im Online-Shop sichtbar zu sein.</p>
</div>
<div class="paragraph">
<p>Diese Checkliste hilft dir, mögliche Fehlerquellen bei der Artikelsichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem. Abweichungen sind möglich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Hast du die Variante aktiviert?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten werden erst im Webshop sichtbar, wenn sie aktiviert wurden.
Mit anderen Worten, kannst du an inaktiven Varianten arbeiten, ohne dass deine Kunden es merken.
Du aktivierst die Variante, sobald sie in deinem Shop veröffentlicht werden soll.</p>
</div>
<div class="paragraph instruction">
<p>Variante aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche und öffne die Variante</a>.</p>
</li>
<li>
<p>Finde den Bereich <strong>Verfügbarkeit</strong> im Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle die Option <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Artikel_aktiv.png" alt="Checkliste Artikel aktiv">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Ist ein Verkaufspreis mit der Variante verknüpft?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du einen <a href="/artikel/artikel-verwalten#240">Preis für die Variante gespeichert</a>? Und hast du auch geprüft, ob der <a href="/artikel/einstellungen/preise">Verkaufspreis richtig konfiguriert</a> wurde?
Folgende Parameter müssen passend für den Shop im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> gesetzt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Währung</p>
</li>
<li>
<p>kein UVP, Aktionspreis oder Setpreis</p>
</li>
<li>
<p>Mandant</p>
</li>
<li>
<p>Kundenklasse</p>
</li>
<li>
<p>Land</p>
</li>
<li>
<p>Herkunft</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Ist eine Kategorie mit der Variante verknüpft?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Variante ist nur dann sichtbar, wenn sie mit einer ebenfalls <a href="/artikel/webshop/checkliste-kategorien-anzeige">im Webshop sichtbaren Kategorie</a> verknüpft ist.</p>
</div>
<div class="paragraph instruction">
<p>Variante mit einer Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche und öffne die Variante</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Kategorie verknüpfen</strong>.<br>
→ Das Fenster <strong>Kategorie verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle eine Kategorie oder Unterkategorie.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Kategorie verknüpfen</strong>.<br>
→ Die Kategorie wird verknüpft und im Bereich <strong>Verknüpfte Kategorien</strong> angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Artikel_Kategorieverknuepfung.png" alt="Checkliste Artikel Kategorieverknuepfung">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Ist der richtige Mandant mit der Variante verknüpft?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit plentymarkets kannst du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit nur einer Software verwalten. Somit ist es möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren.
Das ist ein großer Vorteil. Aber es bedeutet auch, dass du plentymarkets immer mitteilen musst, in welchem Webshop die Variante erscheinen soll.</p>
</div>
<div class="paragraph instruction">
<p>Mandant mit der Variante verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche und öffne die Variante</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wähle den Webshop (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), in dem die Variante erscheinen soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Artikel_Mandantenverfuegbarkeit.png" alt="Mandantenverfügbarkeit" width="700">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Einstellung ist ausgegraut? Lagerbestand prüfen!</div>
<div class="paragraph">
<p>plentymarkets kann Artikel automatisch aus dem Webshop entfernen, wenn sie nicht mehr vorrätig sind. Ist dies passiert, dann wird die Einstellung hier ausgegraut. <a href="/artikel/webshop/checkliste-artikel-anzeige#500">Prüfe deshalb die Bestandseinstellungen</a> wie weiter unten beschrieben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Hat die Variante positiven Netto-Warenbestand?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Soll eine <a href="/artikel/artikel-verwalten#230">Variante automatisch aus deinem Webshop verschwinden</a>, wenn sie nicht mehr vorrätig ist?
Entscheide selbst mit den Optionen <strong>Nicht verfügbar wenn kein Netto-WB</strong> und <strong>Nicht sichtbar wenn kein Netto-WB</strong>!</p>
</div>
<div class="paragraph">
<p>Hast du eine dieser Optionen aktiviert und ist die Variante nicht mehr vorrätig, dann wird sie nicht mehr in deinem Webshop sichtbar sein. Außerdem werden die <a href="/artikel/webshop/checkliste-artikel-anzeige#400">Einstellungen für die Mandantenverfügbarkeit</a> ausgegraut.
Bestelle die Variante nach, um sie wieder vorrätig zu machen. Klicke alternativ auf das Schloss, wenn du die Variante manuell im Webshop sichtbar machen möchtest, trotz fehlender Lagerbestände.</p>
</div>
<div class="paragraph">
<p>Diese Einstellung gilt, bis neuer Wareneingang für die Variante gebucht wird. Danach greifen die Einstellungen zur Nettowarenbestandsabhängigkeit erneut.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist, wenn du den Bestand nicht verwaltest?</div>
<div class="paragraph">
<p>Die obigen Informationen gelten nur, wenn die Variante auf Nettowarenbestand beschränkt ist.
Führst du keinen Bestand oder nutzt du keine Beschränkung, brauchen deine Varianten keinen positiven Netto-Warenbestand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Sind die Verfügbarkeiten für den Shop aktiviert?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Regel sind nur zwei Schritte nötig, um die Lieferzeiten der in deinem Webshop angebotenen Artikel anzugeben.
Zuerst <a href="/artikel/artikel-verwalten#190">definierst du die einzelnen Verfügbarkeitsstufen</a>, z.B. Lieferung innerhalb von 48 Stunden, 3-5 Werktage, usw.
Dann <a href="/artikel/artikel-verwalten#230">verknüpfst du die passende Verfügbarkeitsstufe mit jedem deiner Artikel</a>.</p>
</div>
<div class="paragraph">
<p>Die Verfügbarkeitsstufen sind standardmäßig aktiviert und im Webshop sichtbar.
Wurde eine Verfügbarkeit aber aus irgendeinem Grund deaktiviert, sind Produkte mit dieser Verfügbarkeit nicht mehr im Webshop sichtbar.
Sollte also ein Artikel nicht in deinem Webshop auftauchen, prüfe, ob die Verfügbarkeit für den Shop aktiviert ist.</p>
</div>
<div class="paragraph instruction">
<p>Verfügbarkeiten für den Shop aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Artikelansichten » Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere die Verfügbarkeiten mit gedrückter Strg- oder Cmd-Taste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Artikel_Verfuegbarkeit.png" alt="Verfügbarkeit" width="700">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Könnte es am Cache liegen?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn die Varianten richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis Artikel im Webshop sichtbar sind.</p>
</div>
</div>
</div>
</main>