<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Ist der richtige Mandant mit der Kategorie verknüpft?</span></a></li>
<li><a href="#200"><span>2.</span><span> Sind die Einstellungen für die Linkliste korrekt?</span></a></li>
<li><a href="#300"><span>3.</span><span> Ist eine Variante mit der Kategorie verknüpft?</span></a></li>
<li><a href="#500"><span>4.</span><span> Hast du die Kategorietexte für jeden Mandanten gespeichert?</span></a></li>
<li><a href="#600"><span>5.</span><span> Könnte es am Cache liegen?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kategorie ist nicht sichtbar</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du hast eine <a href="/artikel/einstellungen/kategorien">Kategorie erstellt</a> und möchtest jetzt prüfen, wie sie in deinem plentyShop aussieht. Aber wo ist sie? Warum ist sie nicht sichtbar?
Arbeite diese Checkliste durch und vergewissere dich, dass deine Kategorie alle Voraussetzungen erfüllt, um im plentyShop sichtbar zu sein.</p>
</div>
<div class="paragraph">
<p>Diese Checkliste hilft dir, mögliche Fehlerquellen bei der Kategoriesichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem. Abweichungen sind möglich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Ist der richtige Mandant mit der Kategorie verknüpft?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit plentymarkets kannst du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit nur einer Software verwalten. Somit ist es möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren.
Das ist ein großer Vorteil. Aber es bedeutet auch, dass du plentymarkets immer mitteilen musst, in welchem Webshop die Kategorie erscheinen soll.</p>
</div>
<div class="paragraph instruction">
<p>Mandant mit der Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf die Kategorie im Verzeichnisbaum links.<br>
→ Die Kategorie öffnet sich und das Tab <strong>Einstellungen</strong> ist sichtbar.</p>
</li>
<li>
<p>Scrolle runter bis zur Option <strong>Mandant (Shop)</strong> und wähle den Webshop (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), in dem die Kategorie erscheinen soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Mandant.png" alt="Checkliste Kategorie Mandant">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Sind die Einstellungen für die Linkliste korrekt?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst selbst entscheiden, welche Kategorien in der Navigation deines plentyShops erscheinen sollen. Ist eine Kategorie verborgen, wirst du sie logischerweise nicht im plentyShop sehen können.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie in der Linkliste sichtbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf die Kategorie im Verzeichnisbaum links.<br>
→ Die Kategorie öffnet sich und das Tab <strong>Einstellungen</strong> ist sichtbar.</p>
</li>
<li>
<p>Scrolle runter bis zur Option <strong>in Linkliste</strong> und wähle <strong>Anzeigen</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Linkliste.png" alt="Checkliste Kategorie Linkliste">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Unterkategorien</div>
<div class="paragraph">
<p>Wird eine Unterkategorie in der Navigation angezeigt, muss die übergeordnete Kategorie auch in der Navigation angezeigt werden.
Das heißt, wenn du die Option <strong>Anzeigen</strong> für eine Unterkategorie wählst, dann stelle sicher, dass die Option <strong>Anzeigen</strong> auch für die übergeordnete Kategorie gewählt wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Ist eine Variante mit der Kategorie verknüpft?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Kategorie ist nur dann sichtbar, wenn sie mit mindestens einer <a href="/artikel/webshop/checkliste-artikel-anzeige">im plentyShop sichtbaren Variante</a> verknüpft ist.</p>
</div>
<div class="paragraph instruction">
<p>Variante mit einer Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#400">Suche und öffne die Variante</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Kategorie verknüpfen</strong>.<br>
→ Das Fenster <strong>Kategorie verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle eine Kategorie oder Unterkategorie.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Kategorie verknüpfen</strong>.<br>
→ Die Kategorie wird verknüpft und im Bereich <strong>Verknüpfte Kategorien</strong> angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Verknuepfung.png" alt="Checkliste Kategorie Verknuepfung">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">4. Hast du die Kategorietexte für jeden Mandanten gespeichert?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeitest du mit mehreren Mandanten?
Falls ja, dann stelle sicher, dass du die Kategorietexte für jeden Mandanten korrekt konfiguriert hast, nicht nur für den Standard-Mandanten.</p>
</div>
<div class="paragraph">
<p>Kategorietexte sind zum Beispiel Name, URL, Beschreibung und Keywords.
Solche Informationen müssen für jeden Mandanten einzeln hinterlegt werden.</p>
</div>
<div class="paragraph instruction">
<p>Kategorietexte für weitere Mandanten speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Wähle den Mandanten aus der linken Dropdown-Liste aus.</p>
</li>
<li>
<p>Klicke auf die Kategorie im Verzeichnisbaum links.<br>
→ Die Kategorie öffnet sich und das Tab <strong>Einstellungen</strong> ist sichtbar.</p>
</li>
<li>
<p>Gib die Kategorietexte für den Mandanten ein (Name, URL, usw.).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/Checkliste_Kategorie_Mandanttexte.png" alt="Checkliste Kategorie Mandanttexte">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">5. Könnte es am Cache liegen?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn die Kategorien richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis die Kategorien im plentyShop sichtbar werden.</p>
</div>
</div>
</div>
</main>