<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Voraussetzungen</span></a></li>
<li><a href="#200"><span>2.</span><span> Cross-Selling-Verbindungen</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Neue Verbindungen erstellen</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Verbindungen kopieren</span></a></li>
<li><a href="#500"><span>2.3.</span><span> In die andere Richtung verbinden</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Verbindungen nachträglich anpassen</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.</span><span> Cross-Selling-Liste im Webshop darstellen</span></a>
<ul class="sectlevel2">
<li><a href="#800"><span>3.1.</span><span> Ceres Webshops</span></a></li>
<li><a href="#900"><span>3.2.</span><span> Callisto Webshops</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cross-Selling</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Beim Cross-Selling ermutigst du Kunden subtil, mehr Geld auszugeben. Dies geschieht, indem du weitere Produkte anbietest, die sich auf das gekaufte Produkt beziehen. Hier nur einige Beispiele:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Kassiererin eines Fast-Food-Restaurants fragt, ob du Pommes zu deinem Cheeseburger möchtest.</p>
</li>
<li>
<p>Der Verkäufer in einem Elektronikgeschäft schlägt eine Speicherkarte vor, die mit der Digitalkamera funktionieren würde.</p>
</li>
<li>
<p>Im Schuhgeschäft fragt der Verkäufer, ob du auch eine Schuhcreme kaufen willst, um deine neuen Schuhe richtig zu pflegen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im Online-Handel kannst du deine Kunden nicht direkt fragen, ob sie zusätzliche Produkte kaufen wollen. Du kannst jedoch eine Liste mit verwandten Artikeln auf den Produktseiten deines Webshops anzeigen.</p>
</div>
<div class="paragraph">
<p>In nur drei einfachen Schritten kannst du zusätzliche Verkäufe mittels Cross-Selling erzielen.
Stelle zunächst sicher, dass deine Artikel die <a href="/artikel/webshop/cross-selling#100">Voraussetzungen für Cross-Selling</a> erfüllen.
Erstelle danach <a href="/artikel/webshop/cross-selling#200">Cross-Selling-Verbindungen</a> in plentymarkets.
Veröffentliche schließlich die <a href="/artikel/webshop/cross-selling#700">Liste der verwandten Artikel in deinem Webshop</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Andere Cross-Selling-Dienstleister</div>
<div class="paragraph">
<p>Der externe Dienstleister <a href="/webshop/webshop-einrichten/extras/yoochoose">YOOCHOOSE</a> ist eine Alternative zum plentymarkets Cross-Selling.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Voraussetzungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit direkte Cross-Selling-Artikel im Webshop angezeigt werden können, müssen folgende Bedingungen erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/webshop/checkliste-kategorien-anzeige">Die Artikelkategorie des Cross-Selling-Artikels muss aktiviert sein</a>.</p>
</li>
<li>
<p><a href="/artikel/webshop/checkliste-artikel-anzeige">Die Artikel müssen im Shop sichtbar sein</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hast du einen Callisto Webshop?</div>
<div class="paragraph">
<p>Wenn du einen älteren Callisto Webshop verwendest, musst du auch ein paar zusätzliche Einstellungen vornehmen.
Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</strong> und lege mit der Einstellung <strong>Cross-Selling</strong> fest, <a href="/webshop/webshop-einrichten/artikelsortierung#_cross_selling_template_einrichten">welche Art von Cross-Selling</a> du verwenden möchtest.</p>
</div>
<div class="paragraph">
<p>Lege dann mit der Einstellung <strong>Dynamisches Cross-Selling</strong> fest, ob du das sogenannte <a href="/webshop/webshop-einrichten/artikelsortierung#_dynamisches_cross_selling_einrichten">dynamische Cross-Selling</a> nutzen willst. Dabei werden automatisch Verknüpfungen zwischen Artikeln angelegt, die Kunden gleichzeitig gekauft haben.
Beachte bitte, dass dynamisches Cross-Selling nur mit älteren Callisto Webshops möglich ist.
Mit neueren Ceres-Webshops ist dynamisches Cross-Selling derzeit nicht möglich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Cross-Selling-Verbindungen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">2.1. Neue Verbindungen erstellen</h3>
<div class="paragraph">
<p>Welche Artikel sollen miteinander verknüpft werden? Du kannst einen Artikel mit beliebig vielen anderen Produkten aus deinem Sortiment verknüpfen. Stell dir zum Beispiel vor, du möchtest eine Gitarre mit einer Packung Ersatzsaiten, einem Liederbuch und einem Gitarrengurt verknüpfen.</p>
</div>
<div class="paragraph instruction">
<p>Hauptartikel mit Zubehör verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Hauptartikel, z.B. die Gitarre.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cross-Selling » Artikel hinzufügen</strong>.</p>
</li>
<li>
<p>Suche in diesem Tab erneut nach Artikeln.</p>
</li>
<li>
<p>Wähle alle Zubehörteile (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die mit dem Hauptartikel verknüpft werden sollen, z.B. wähle die Ersatzsaiten, das Liederbuch und den Gitarrengurt.</p>
</li>
<li>
<p>Klicke auf die passende Beziehung (<span class="icon green"><i class="fa fa-cubes  "></i></span>). Beachte <a href="#tabelle-cross-selling-beziehung">Tabelle 1</a>.<br>
→ Die Verbindungen werden erstellt und <a href="/artikel/webshop/cross-selling#600">können jederzeit geändert werden</a>.</p>
</li>
</ol>
</div>
<table id="tabelle-cross-selling-beziehung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Cross-Selling-Beziehungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl erweitern</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option, wenn du <a href="/artikel/webshop/cross-selling#500">in die andere Richtung verknüpfen</a> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ähnlich</strong> (<span class="icon green"><i class="fa fa-cubes  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewählte Artikel sind dem geöffneten Artikel ähnlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zubehör</strong> (<span class="icon green"><i class="fa fa-cubes  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewählte Artikel sind Zubehör des geöffneten Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ersatzteil</strong> (<span class="icon green"><i class="fa fa-cubes  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewählte Artikel sind Ersatzteile des geöffneten Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpaket</strong> (<span class="icon green"><i class="fa fa-cubes  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewählte Artikel eignen sich dazu, mit dem geöffneten Artikel zusammen als Paket gekauft zu werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kopieren</strong> (<span class="icon yellow"><i class="fa fa-copy  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicke auf diesen Button, wenn du die <a href="/artikel/webshop/cross-selling#400">Cross-Selling-Verbindungen kopieren</a> und auf andere Hauptartikel übertragen möchtest.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Verbindungen kopieren</h3>
<div class="paragraph">
<p><a href="/artikel/webshop/cross-selling#300">Die Anleitung oben</a> erklärte, wie man <em>einen Hauptartikel</em> mit verschiedenen Zubehör- oder Ersatzteilen verbindet.
Zum Beispiel, wie man eine Gitarre mit einer Packung Ersatzsaiten, einem Liederbuch und einem Gitarrengurt verknüpft.</p>
</div>
<div class="paragraph">
<p>Was ist aber, wenn du 50 weitere Gitarren im Sortiment hast, die <em>ebenfalls</em> diese Cross-Selling-Artikel haben sollen? Es wird ja ewig dauern, jeden Artikel manuell zu verlinken.</p>
</div>
<div class="paragraph">
<p>Kopiere stattdessen die fertige Cross-Selling-Verknüpfungen des ersten Hauptartikels und übertrage sie auf alle 50 weitere Hauptartikel gleichzeitig.</p>
</div>
<div class="paragraph instruction">
<p>Cross-Selling-Verknüpfungen kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den bereits verknüpften Hauptartikel, z.B. die erste Gitarre.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cross-Selling » Artikel hinzufügen</strong>.</p>
</li>
<li>
<p>Suche in diesem Tab erneut nach Artikeln.</p>
</li>
<li>
<p>Wähle alle Hauptartikel (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die ebenfalls diese Verknüpfungen haben sollen, z.B. die 50 weitere Gitarren.</p>
</li>
<li>
<p>Klicke auf das Kopiersymbol (<span class="icon yellow"><i class="fa fa-copy  "></i></span>).<br>
→ Die Verknüpfungen des geöffneten Artikels werden auf alle gewählten Artikel übertragen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. In die andere Richtung verbinden</h3>
<div class="paragraph">
<p><a href="/artikel/webshop/cross-selling#300">Die Anleitung oben</a> erklärte, wie man <em>einen Hauptartikel</em> mit verschiedenen Zubehör- oder Ersatzteilen verbindet.
Zum Beispiel, wie man eine Gitarre mit einer Packung Ersatzsaiten, einem Liederbuch und einem Gitarrengurt verknüpft.</p>
</div>
<div class="paragraph">
<p>Es ist aber auch genauso möglich, <em>ein Ersatzteil</em> mit mehreren Hauptartikeln zu verknüpfen. Zum Beispiel, eine Packung Ersatzsaiten mit verschiedenen Gitarren zu verknüpfen.
Die Vorgehensweise ist nahezu identisch mit der Anleitung oben.</p>
</div>
<div class="paragraph">
<p>Suche und öffne zuerst die Ersatzsaiten. Klicke dann auf das Tab <strong>Cross-Selling » Artikel hinzufügen</strong> und suche nach allen Gitarren.
Wähle schließlich die Option <strong>Auswahl erweitern</strong> bevor du auf die passende Beziehung klickst.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">2.4. Verbindungen nachträglich anpassen</h3>
<div class="paragraph">
<p>Sobald du eine <a href="/artikel/webshop/cross-selling#300">Cross-Selling-Verbindung erstellt</a> hast, siehst du sie in einer Übersicht innerhalb des Artikeldatensatzes.
Mit anderen Worten, siehst du, welche Zubehör- oder Ersatzteile mit dem jeweiligen Hauptartikel verknüpft wurden.
Die Verknüpfungen können jederzeit geändert oder gelöscht werden.</p>
</div>
<div class="paragraph instruction">
<p>Cross-Selling-Verknüpfungen ändern oder löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Hauptartikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cross-Selling » Cross-Selling-Artikel</strong>.<br>
→ Eine Liste aller Zubehör- oder Ersatzteile, die mit diesem Artikel verknüpft wurden, wird angezeigt.</p>
</li>
<li>
<p><strong><em>Ändern</em></strong>: Wähle eine andere Beziehung aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong><em>Löschen</em></strong>: Wähle die zu löschenden Artikel (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und klicke auf <strong>Verknüpfung löschen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">3. Cross-Selling-Liste im Webshop darstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In stationären Läden können Verkäufer direkt mit ihren Kunden reden und zusätzliche Produkte empfehlen.
Webshops hingegen müssen Zubehör und Ersatzteile anders präsentieren.</p>
</div>
<div class="sect2">
<h3 id="800">3.1. Ceres Webshops</h3>
<div class="paragraph">
<p>Mit Hilfe von sogenannten <em>Artikellisten</em> kannst du Cross-Selling-Artikel in deinem Webshop darstellen.
Lese weiter und erfahre, wie du <a href="/webshop/ceres-einrichten#110">Cross-Selling-Artikellisten in deinem Ceres-Webshop einrichtest</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="900">3.2. Callisto Webshops</h3>
<div class="paragraph">
<p>Mit Hilfe von <em>Templates</em> kannst du Cross-Selling-Artikel in deinem Webshop darstellen.
Die Templates findest du im Menü <strong>CMS » Webdesign » Ordner: Layout » Ordner: ItemView</strong>. Die folgenden Templates können für Cross-Selling verwendet werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist">ItemViewCrossSellingItemsList</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist2">ItemViewCrossSellingItemsList2</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist3">ItemViewCrossSellingItemsList3</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Lege die <a href="/webshop/webshop-einrichten/artikelsortierung">Sortierreihenfolge</a> im Tab <strong>Einstellungen</strong> des jeweiligen Templates fest.
Lese weiter und erfahre mehr über die <a href="/webshop/webshop-einrichten/artikelsortierung#_cross_selling_artikel_auf_der_artikelseite_anzeigen">Einrichtung von Cross-Selling-Artikel in deinem Callisto-Webshop</a>.</p>
</div>
</div>
</div>
</div>
</main>