<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Cross-Selling-Verbindungen erstellen</span></a></li>
<li><a href="#600"><span>2.</span><span> Bestehende Verbindungen ändern oder löschen</span></a></li>
<li><a href="#700"><span>3.</span><span> Cross-Selling-Liste im plentyShop veröffentlichen</span></a>
<ul class="sectlevel2">
<li><a href="#750"><span>3.1.</span><span> Inhalt vom Typ Artikelansicht erstellen</span></a></li>
<li><a href="#800"><span>3.2.</span><span> Widget hinzufügen</span></a></li>
<li><a href="#850"><span>3.3.</span><span> Text und Erscheinungsbild anpassen</span></a></li>
<li><a href="#900"><span>3.4.</span><span> Inhalt aktivieren</span></a></li>
</ul>
</li>
<li><a href="#950"><span>4.</span><span> Fragen und Antworten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cross-Selling</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Beim Cross-Selling ermutigst du Kunden subtil, mehr Geld auszugeben.
Dies geschieht, indem du weitere Produkte anbietest, die sich auf das gekaufte Produkt beziehen.
Zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Kassiererin eines Fast-Food-Restaurants fragt, ob du Pommes zu deinem Cheeseburger möchtest.</p>
</li>
<li>
<p>Die Verkäuferin in einem Elektronikgeschäft schlägt eine Speicherkarte vor, die mit der Digitalkamera funktionieren würde.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im Online-Handel kannst du deine Kunden nicht direkt fragen, ob sie zusätzliche Produkte kaufen wollen.
Du kannst jedoch eine Liste mit verwandten Artikeln auf den Produktseiten deines plentyShops anzeigen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/cross-selling.png" alt="cross selling">
</div>
</div>
<h3 id="_ablauf" class="discrete">Ablauf</h3>
<div class="paragraph">
<p>In nur zwei Schritten erzielst du zusätzliche Verkäufe mittels Cross-Selling:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/webshop/cross-selling#200">Erstelle Cross-Selling-Verbindungen</a>.</p>
</li>
<li>
<p><a href="/artikel/webshop/cross-selling#700">Veröffentliche die Cross-Selling-Liste im plentyShop</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Cross-Selling-Verbindungen erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Welche Artikel sollen miteinander verknüpft werden?
Du kannst einen Artikel mit beliebig vielen anderen Produkten aus deinem Sortiment verknüpfen.
Stell dir zum Beispiel vor, du möchtest eine Gitarre mit einer Packung Ersatzsaiten, einem Liederbuch und einem Gitarrengurt verknüpfen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manuelle-erstellung-tab" data-toggle="tab" href="#manuelle-erstellung" role="tab" aria-controls="manuelle-erstellung" aria-selected="true">Manuelle Erstellung</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="daten-import-tab" data-toggle="tab" href="#daten-import" role="tab" aria-controls="daten-import" aria-selected="false">Daten-Import</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manuelle-erstellung" role="tabpanel" aria-labelledby="manuelle-erstellung-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Hauptartikel, z.B. die Gitarre.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cross-Selling » Artikel hinzufügen</strong>.</p>
</li>
<li>
<p>Suche in diesem Tab erneut nach Artikeln.</p>
</li>
<li>
<p>Wähle alle Zubehörteile (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die mit dem Hauptartikel verknüpft werden sollen, z.B. wähle die Ersatzsaiten, das Liederbuch und den Gitarrengurt.</p>
</li>
<li>
<p>Klicke auf die passende Beziehung (<span class="icon green"><i class="fa fa-cubes  "></i></span>).<br>
→ Die Verbindungen werden erstellt und <a href="/artikel/webshop/cross-selling#600">können jederzeit geändert werden</a>.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="daten-import" role="tabpanel" aria-labelledby="daten-import-tab">
<div class="paragraph">
<p>Würdest du lieber Cross-Selling-Verknüpfungen importieren, anstatt sie manuell zu erstellen?</p>
</div>
<div class="paragraph">
<p>plentymarkets verfügt über ein <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a>.
Die Idee ist ganz einfach. Anstatt Cross-Selling-Verbindungen in plentymarkets manuell zu speichern, <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2310">trägst du die gleiche Informationen in eine CSV-Datei ein</a> und importierst diese Datei dann in dein System.</p>
</div>
</div></div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ähnlich</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gewählte Artikel sind dem geöffneten Artikel ähnlich.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zubehör</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gewählte Artikel sind Zubehör des geöffneten Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ersatzteil</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gewählte Artikel sind Ersatzteile des geöffneten Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpaket</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gewählte Artikel eignen sich dazu, mit dem geöffneten Artikel zusammen als Paket gekauft zu werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kopieren</strong> (<span class="icon yellow"><i class="psicon-copy"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kopiert die Cross-Selling-Verbindungen und überträgt sie auf andere Hauptartikel.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>:
Stell dir vor, du möchtest nicht nur eine Gitarre mit einer Packung Ersatzsaiten, einem Liederbuch und einem Gitarrengurt verknüpfen.
Stattdessen hast du 50 weitere Gitarren im Sortiment, die ebenfalls diese Cross-Selling-Verbindungen haben sollen.
Es wird ewig dauern, jeden Artikel manuell zu verlinken.
Kopiere stattdessen die fertige Cross-Selling-Verknüpfungen des ersten Hauptartikels und übertrage sie auf alle 50 weitere Hauptartikel gleichzeitig.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den bereits verknüpften Hauptartikel, z.B. die erste Gitarre.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cross-Selling » Artikel hinzufügen</strong>.</p>
</li>
<li>
<p>Suche in diesem Tab erneut nach Artikeln.</p>
</li>
<li>
<p>Wähle alle Hauptartikel (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die ebenfalls diese Verknüpfungen haben sollen, z.B. die 50 weitere Gitarren.</p>
</li>
<li>
<p>Klicke auf das Kopiersymbol (<span class="icon yellow"><i class="psicon-copy"></i></span>).<br>
→ Die Verknüpfungen des geöffneten Artikels werden auf alle gewählten Artikel übertragen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl erweitern</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option, wenn du in die andere Richtung verknüpfen möchtest.
Das heißt, wenn du z.B. ein Ersatzteil oder Zubehörteil mit einem Hauptartikel verknüpfen möchtest.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>:
Stell dir vor, du möchtest eine Packung Ersatzsaiten mit verschiedenen Gitarren verknüpfen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne das Ersatzteil, z.B. die Ersatzgitarrensaiten.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cross-Selling » Artikel hinzufügen</strong>.</p>
</li>
<li>
<p>Suche in diesem Tab erneut nach Artikeln.</p>
</li>
<li>
<p>Wähle alle Hauptartikel (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die mit dem Ersatzteil verknüpft werden sollen, z.B. wähle die Gitarren.</p>
</li>
<li>
<p>Wähle die Option <strong>Auswahl erweitern</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf die passende Beziehung (<span class="icon green"><i class="fa fa-cubes  "></i></span>).<br>
→ Die Verbindungen werden erstellt und <a href="/artikel/webshop/cross-selling#600">können jederzeit geändert werden</a>.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">2. Bestehende Verbindungen ändern oder löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald du eine <a href="/artikel/webshop/cross-selling#200">Cross-Selling-Verbindung erstellt</a> hast, siehst du sie in einer Übersicht innerhalb des Artikeldatensatzes.
Mit anderen Worten, siehst du, welche Zubehör- oder Ersatzteile mit dem jeweiligen Hauptartikel verknüpft wurden.
Die Verknüpfungen können jederzeit geändert oder gelöscht werden.</p>
</div>
<div class="paragraph instruction">
<p>Cross-Selling-Verknüpfungen ändern oder löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Hauptartikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cross-Selling » Cross-Selling-Artikel</strong>.<br>
→ Eine Liste aller Zubehör- oder Ersatzteile, die mit diesem Artikel verknüpft wurden, wird angezeigt.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Ändern</em></strong>: Wähle eine andere Beziehung aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong><em>Löschen</em></strong>: Wähle die zu löschenden Artikel (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und klicke auf <strong>Verknüpfung löschen</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">3. Cross-Selling-Liste im plentyShop veröffentlichen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Hilfe von ShopBuilder und sogenannten Artikellisten kannst du Cross-Selling-Artikel im plentyShop darstellen.
Dieses Video bietet eine kurze Demonstration.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/360260315#t=9m30s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="750">3.1. Inhalt vom Typ Artikelansicht erstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Klicke links auf eine graue Artikel-Kategorie.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Inhalt hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle den Typ <strong>Artikelansicht</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein und wähle ggf. eine Vorlage.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Der neue Inhalt wird in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/cross-selling-inhalt.gif" alt="cross selling inhalt">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorlage: Pro und Kontra</div>
<div class="paragraph">
<p>Wir liefern eine Vorlage, die du nach Belieben verändern und an dein Produktportfolio anpassen kannst.
Natürlich kannst du aber auch ohne Vorlage arbeiten, wenn du die Ansicht lieber von Grund auf selbst gestalten willst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="800">3.2. Widget hinzufügen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Füge das Widget <strong>Artikel » Artikelliste</strong> hinzu.</p>
</li>
<li>
<p>Klicke bei dem Widget auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span>.<br>
→ Die Widget-Einstellungen werden rechts angezeigt.</p>
</li>
<li>
<p>Gib an, dass das Widget eine Cross-Selling-Liste sein soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/cross-selling-widget-hinzufuegen.gif" alt="cross selling widget hinzufuegen">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art der Artikelliste</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle die Option <strong>Cross-Selling</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-Selling-Beziehung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Cross-Selling-Beziehung soll mit diesem Widget angezeigt werden?
Wähle die passende Beziehung aus der Dropdown-Liste aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Pro Artikelliste kann nur ein Beziehungstyp angezeigt werden.
Wenn du also z.B. Ersatzteile und ähnliche Artikel anzeigen möchtest, musst du zwei Artikellisten-Widgets zum Layout hinzufügen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="850">3.3. Text und Erscheinungsbild anpassen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke bei dem Widget auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span>.<br>
→ Die Widget-Einstellungen werden rechts angezeigt.</p>
</li>
<li>
<p>Passe die Überschrift und das Erscheinungsbild wie gewünscht an.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/cross-selling-erscheinungsbild.gif" alt="cross selling erscheinungsbild">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erscheinungsbild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Farbe und Schriftart soll das Widget haben?
Wähle das passende Farbschema aus der Dropdown-Liste aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Klicke auf Design (<span class="icon "><i class="psicon-author"></i></span>), um die verschiedenen Farbschemen und Schriftarten vorab zu konfigurieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art der Überschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welcher Text soll in der Überschrift angezeigt werden?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardüberschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist sinnvoll, wenn du die bereits in plentymarkets gespeicherten Standardtexte verwenden möchtest.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Öffne das Menü <strong>CMS » Mehrsprachigkeit » Artikel</strong>, um die verschiedenen Standardtexte vorab zu konfigurieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigene Überschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist sinnvoll, wenn du deinen eigenen Text eingeben möchtest.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle die Option <strong>Eigene Überschrift</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>.<br>
→ Der Widget-Titel wird grün umrandet.</p>
</li>
<li>
<p>Benenne den Text wie gewünscht um.</p>
</li>
<li>
<p>Mit einem Doppelklick auf den Text wird eine Symbolleiste mit Formatierungsoptionen angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine Überschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option, wenn keine Überschrift angezeigt werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">3.4. Inhalt aktivieren</h3>
<div class="paragraph">
<p>Damit ein Inhalt im plentyShop angezeigt wird, muss dieser aktiviert werden.
Aktive Inhalte werden blau hervorgehoben.</p>
</div>
<div class="paragraph instruction">
<p>Inhalt aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Klicke auf die passende Kategorie.</p>
</li>
<li>
<p>Aktiviere den Inhalt mit der Umschalttaste (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Ein Pop-up Fenster wird geöffnet.</p>
</li>
<li>
<p>Entscheide, für welche Artikel der Inhalt gelten soll (<span class="icon blue"><i class="fa fa-dot-circle-o  "></i></span>).
Zum Beispiel kannst du das Layout für jede Kategorie anders gestalten.</p>
</li>
<li>
<p>Klicke auf <strong>Aktivieren</strong>.<br>
→ Der Inhalt wird aktiviert und ist nun blau hinterlegt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nur ein aktiver Inhalt desselben Typs</div>
<div class="paragraph">
<p>Innerhalb einer grauen Artikel-Kategorie kannst du mehrere Inhalte vom Typ <strong>Artikelansicht</strong> erstellen.
Die Inhalte können je nach Bedarf aktiviert oder deaktiviert werden.
Dies ist beispielsweise hilfreich, um saisonabhängige Seiten zu gestalten.
Es darf aber nur ein Artikelansicht-Inhalt gleichzeitig aktiviert sein.
Das Aktivieren eines Inhalts deaktiviert also einen zuvor aktiven Inhalt desselben Typs.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="950">4. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Mein Cross-Selling-Artikel wird nicht im plentyShop angezeigt. Warum?</strong></div>
<div class="content">
<div class="paragraph">
<p>Damit direkte Cross-Selling-Artikel im plentyShop angezeigt werden können, müssen folgende Bedingungen erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/webshop/checkliste-kategorien-anzeige">Die Artikelkategorie des Cross-Selling-Artikels muss aktiviert sein</a>.</p>
</li>
<li>
<p><a href="/artikel/webshop/checkliste-artikel-anzeige">Die Artikel müssen im plentyShop sichtbar sein</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>