<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Suchleiste</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>1.1.</span><span> Suchfeld mit Widgets zusammenstellen</span></a></li>
<li><a href="#70"><span>1.2.</span><span> Welche Artikeldaten sollen berücksichtigt werden?</span></a></li>
</ul>
</li>
<li><a href="#80"><span>2.</span><span> Facettensuche</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Facette erstellen</span></a></li>
<li><a href="#110"><span>2.2.</span><span> Facette bearbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>2.2.1.</span><span> Facetteneinstellungen vornehmen</span></a></li>
<li><a href="#130"><span>2.2.2.</span><span> Facettenname in zusätzlicher Sprache speichern</span></a></li>
</ul>
</li>
<li><a href="#140"><span>2.3.</span><span> Facette mit Wert verknüpfen</span></a>
<ul class="sectlevel3">
<li><a href="#150"><span>2.3.1.</span><span> Wert erstellen</span></a></li>
<li><a href="#160"><span>2.3.2.</span><span> Wert verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#170"><span>2.4.</span><span> Facetten mit Bildern verknüpfen</span></a>
<ul class="sectlevel3">
<li><a href="#180"><span>2.4.1.</span><span> Bild hochladen</span></a></li>
<li><a href="#190"><span>2.4.2.</span><span> Bild verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.5.</span><span> Facetten mit Mandant verknüpfen</span></a></li>
<li><a href="#300"><span>2.6.</span><span> Facettensuche in Ceres nutzen</span></a>
<ul class="sectlevel3">
<li><a href="#310"><span>2.6.1.</span><span> Ceres: Felder für die Suche aktivieren</span></a></li>
<li><a href="#320"><span>2.6.2.</span><span> Ceres: Sprachen ändern</span></a></li>
<li><a href="#330"><span>2.6.3.</span><span> Ceres: Facettensuche einbinden</span></a></li>
</ul>
</li>
<li><a href="#210"><span>2.7.</span><span> Facettensuche in Callisto nutzen</span></a>
<ul class="sectlevel3">
<li><a href="#270"><span>2.7.1.</span><span> Callisto mit Facettensuche nutzen</span></a>
<ul class="sectlevel4">
<li><a href="#280"><span>Callisto + Facettensuche: Felder für die Suche aktivieren</span></a></li>
<li><a href="#_callisto_facettensuche_sprachen_ändern"><span>Callisto + Facettensuche: Sprachen ändern</span></a></li>
</ul>
</li>
<li><a href="#290"><span>2.7.2.</span><span> Facettensuche in Callisto einbinden</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Suchfunktion im Webshop</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Haben Kunden Schwierigkeiten, Artikel in deinem Webshop zu finden?
Passe die Frontend-Artikelsuche individuell an und helfe deinen Kunden, ihre gewünschten Produkte leichter zu finden.</p>
</div>
<div class="paragraph">
<p>Diese Seite bietet Informationen über zwei verschiedene Sucharten: die <a href="#50">Suchleiste</a> und die <a href="#80">Facettensuche</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. Suchleiste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Passe die Frontend-Suchleiste individuell an deine Bedürfnisse an!
Du kannst entscheiden, wie die Suchleiste in deinem Webshop aussehen soll und welche Ergebnisse sie liefern soll.
Du kannst z.B. entscheiden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>welche <a href="#60">Art von Suchergebnissen</a> deine Kunden sehen sollen.</p>
<div class="ulist">
<ul>
<li>
<p>Artikel, die dem Suchbegriff entsprechen.</p>
</li>
<li>
<p>Kategorien, die dem Suchbegriff entsprechen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>ob Kunden eine Liste von <a href="#60">vorgeschlagenen Suchbegriffen</a> erhalten sollen, wenn sie ungenaue oder falsch geschriebene Texte eingeben. "Meinten Sie…​"?</p>
</li>
<li>
<p><a href="#70">mit welchen Artikeldaten</a> ein Suchbegriff übereinstimmen muss, damit der Artikel in die Ergebnisliste aufgenommen wird.</p>
<div class="ulist">
<ul>
<li>
<p>Artikelname, Beschreibung, Keywords, usw.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/suchergebnisse.png" alt="suchergebnisse">
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Anpassbare Artikelsuche erst ab Ceres 5</div>
<div class="paragraph">
<p>Es ist möglich, die Frontend-Artikelsuche für deinen <a href="https://marketplace.plentymarkets.com/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> Webshop anzupassen.
Niedrigere Versionen von Ceres unterstützen diese Funktion nicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Teilbegriffe können auch verwendet werden!</div>
<div class="paragraph">
<p>Es ist nicht weiter schlimm, wenn dein Kunde nur Teil eines Wortes eingibt.
Die Suchvorschläge liefern Ergebnisse für Präfixe, Suffixe und Teilbegriffe.
Beispielsweise schlägt die Suche "Sessel" vor, auch wenn dein Kunde "Sesse" oder "ssel" eingibt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="60">1.1. Suchfeld mit Widgets zusammenstellen</h3>
<div class="paragraph">
<p>Mit Hilfe von <a href="/webshop">drei Widgets</a> kannst du dein Suchfeld individuell im ShopBuilder zusammenstellen.
Die Widgets enthalten zusätzliche Einstellungen, die du konfigurieren kannst, um z.B. Suchbegriffe hervorzuheben oder den gesamten Kategoriepfad anzuzeigen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/drei-widgets.png" alt="drei widgets">
</div>
</div>
</div>
<div class="sect2">
<h3 id="70">1.2. Welche Artikeldaten sollen berücksichtigt werden?</h3>
<div class="paragraph">
<p>Du kannst selbst entscheiden, <em>welche Artikeldaten</em> für die Webshop-Suche relevant sind.
Bei einer Suche werden also nur die von dir gewählten Artikeldaten durchsucht.</p>
</div>
<div class="paragraph">
<p>Außerdem kannst du entscheiden, mit <em>welcher Gewichtung</em> die einzelnen Artikeldaten behandelt werden sollen.
Je höher die eingegebene Zahl, desto höher wird das Artikeldatenfeld für das Suchergebnis priorisiert.</p>
</div>
<div class="paragraph instruction">
<p>Artikeldaten auswählen und priorisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sucheinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Artikeldatenfelder (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>), die in den Suchergebnissen und Suchvorschlägen berücksichtigt werden sollen.</p>
</li>
<li>
<p>Gib ggf. eine Gewichtung in die Spalte <strong>Boost</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Welcher Boost-Wert soll ich eingeben?</div>
<div class="paragraph">
<p>Als Boost-Wert kann eine beliebig hohe Zahl eingegeben werden.
Die Standardeinstellungen sind für die meisten Anwendungsfälle sinnvoll.
Diese Standardeinstellungen priorisieren die Varianten-ID und die Artikel-ID sehr hoch.
Wenn in deinem Webshop also nach einer Zahl gesucht wird, werden Suchergebnisse für diese Zahl aus den ID-Feldern priorisiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist der Unterschied zwischen Suchergebnissen und Suchvorschlägen?</div>
<div class="ulist">
<ul>
<li>
<p>Suchergebnisse sind die Artikel oder Kategorien, die dem Suchbegriff entsprechen.</p>
</li>
<li>
<p>Suchvorschläge sind Wörter, die den vom Kunden eingegebenen Begriffen ähnlich sind.
Suchvorschläge helfen dem Kunden, das Gesuchte zu finden, wenn er ungenaue oder falsch geschriebene Texte eingibt.
"Meinten Sie…​"</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Aktivierst du ein Artikeldatenfeld für die Suchvorschläge rechts, wird das Feld automatisch auch für die Suchergebnisse links aktiviert. Warum? Es würde keinen Sinn machen, den Kunden einen bestimmten Suchbegriff vorzuschlagen, wenn dieser Suchbegriff dann aber keine Ergebnisse liefert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">2. Facettensuche</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Facetten sind die Filtermöglichkeiten, mit denen Suchergebnisse im Webshop nach bestimmten Kriterien, also Facetten, verfeinert werden. Der Vorteil der Facettensuche ist, dass das Suchergebnis nicht zwangsweise analog zur Auswahl des Kriteriums reduziert wird, sondern immer wieder die gesamte Datenbank nach dem Kriterium durchsucht wird. Dies ermöglicht eine intuitive Suche und vermeidet, dass Suchergebnisse durch eine ungünstige Vorauswahl verfälscht werden.</p>
</div>
<div class="paragraph">
<p>Die Filternavigation richtest du flexibel ein. Die angezeigten Artikel in einer Kategorie können mit Facetten nicht nur nach Merkmalen/Eigenschaften, sondern auch nach folgenden Kriterien weiter eingeschränkt werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Nach Attributen, Merkmalen und Eigenschaften</p>
</li>
<li>
<p>Nach Herstellern</p>
</li>
<li>
<p>Nach der Verfügbarkeit der Artikel</p>
</li>
<li>
<p>Nach Preissegment</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese vier Facettentypen verbindest du in plentymarkets mit verschiedenen Werten, die das Filterergebnis bestimmen. Je mehr Facetten du erstellst und mit Werten verknüpfst, desto umfangreicher wird die im Webshop dargestellte Filterauswahl.</p>
</div>
<div class="paragraph">
<p>Die Konfiguration besteht aus mehreren Schritten.
Zunächst werden <a href="#100">Facetten erstellt</a>, anschließend durch <a href="#110">weitere Einstellungen</a> näher bestimmt und schließlich <a href="#140">mit den gewünschten Werten verknüpft</a>.
Außerdem musst du einige Einstellungen speziell für deinen <a href="#300">Ceres</a> oder <a href="#210">Callisto</a> Webshop konfigurieren.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hast du einen "Ceres" oder "Callisto" Webshop?</div>
<div class="paragraph">
<p>Die Facettensuche ist standardmäßig für neuere Ceres-Webshops eingestellt.
Für ältere Callisto-Webshops muss die Facettensuche aktiviert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel mit Facetten verknüpfen</div>
<div class="paragraph">
<p>Eine direkte Verknüpfung von Artikeln mit den einzelnen Facetten ist nicht nötig. Die Zuordnung deiner Artikel zu Facetten erfolgt automatisch durch die <a href="/artikel/frontend-artikelsuche-verwalten#140">Verknüpfung der Facette mit Werten</a>, die am Artikel hinterlegt sein müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="100">2.1. Facette erstellen</h3>
<div class="paragraph">
<p>Für die Facettensuche erstellst du zunächst Facetten, zum Beispiel die Facette "Farbe" des Typs <strong>Attribut/Merkmal</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Facette erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.</p>
</li>
<li>
<p>Trage einen <strong>Namen</strong> für die Facette in der Systemsprache ein. Dieser Name wird im Webshop angezeigt.</p>
</li>
<li>
<p>Wähle einen <strong>Typ</strong> aus der Dropdown-Liste. Beachte die Erläuterungen in <a href="#table-available-facet-types">Tabelle 1</a>.</p>
</li>
<li>
<p>Trage die <strong>Position</strong> ein, an der die Facette im Webshop angezeigt werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Facette wird erstellt.</p>
</li>
</ol>
</div>
<table id="table-available-facet-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Facettentypen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Facettentyp</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Preis</strong> müssen nicht mit Werten verknüpft werden, da der Filter vom kleinsten bis zum größten Preis einer Kategorie individuell eingeschränkt werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut/Merkmal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Attribut/Merkmal</strong> werden mit Attributen, Merkmalen und Eigenschaften im System verknüpft und stellen so vielfältige Filtermöglichkeiten her, zum Beispiel nach Farben, Größen etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Verfügbarkeit</strong>, zum Beispiel "Kurzfristig lieferbar", werden mit den im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> erstellten <a href="/artikel/einstellungen/verfuegbarkeiten">Verfügbarkeiten</a> verknüpft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Hersteller</strong>, zum Beispiel "Adidas", werden mit den im Menü <strong>Einrichtung » Artikel » Hersteller</strong> erstellten <a href="/artikel/einstellungen/hersteller">Herstellern</a> verknüpft.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="110">2.2. Facette bearbeiten</h3>
<div class="paragraph">
<p>Nachdem du eine Facette erstellt hast, wird die Facette geöffnet. Es stehen vier Tabs zur Verfügung, um weitere Einstellungen vorzunehmen und Werte zu verknüpfen.</p>
</div>
<div class="sect3">
<h4 id="120">2.2.1. Facetteneinstellungen vornehmen</h4>
<div class="paragraph">
<p>Im Tab <strong>Einstellungen</strong> nimmst du die Einstellungen wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Facette bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte die Erläuterungen in <a href="#table-edit-facets">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-edit-facets" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Facetten bearbeiten; Tab <strong>Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den beim Erstellen der Facette gewählten Typen an. Der Typ ist nicht änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt die Sortierung des Suchergebnisses fest. Je nach Auswahl werden die Artikel nach der <strong>Trefferquote</strong>, der <strong>Position</strong> oder alphabetisch von <strong>A-Z</strong> sortiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Position an, die beim Erstellen der Facette eingegeben wurde. Die Position ist änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CSS-Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen CSS-Namen hinterlegen. Dieser Name wird als Template-Variable im CMS-Bereich zur Verfügung gestellt, sodass zu jeder Facette eine eigene Klasse hinterlegt werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahlart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Auswahlart wählen.<br>
<strong>Einschränkend</strong> = Schränkt den Filter mit dem gewählten Wert weiter ein. Alle Artikel werden angezeigt, die diesen Wert besitzen und die Filterkriterien vorher gewählter Filter erfüllen.<br>
<strong>Mehrfach</strong> = Lässt eine Mehrfachauswahl von Ergebnissen zu, zum Beispiel die Auswahl mehrerer Hersteller, deren Artikel gemeinsam angezeigt werden.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimale Trefferanzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, wie viele Ergebnisse es für einen Facettenwert mindestens geben muss, damit der Facettenwert im Webshop angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximal angezeigte Facettenwerte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, wie viele Facettenwerte pro Facette höchstens angezeigt werden. 250 Facettenwerte können maximal angezeigt werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="130">2.2.2. Facettenname in zusätzlicher Sprache speichern</h4>
<div class="paragraph">
<p>Beim Erstellen einer Facette gibst du einen Namen in der Standardsprache des Systems ein. Dieser Name wird im Webshop angezeigt. Wenn du zusätzlichen Sprachen anbietest, gibst du im Tab <strong>Name</strong> den Namen der Facette in diesen Sprachen ein. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Facettenname in zusätzlicher Sprache speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Name</strong>.</p>
</li>
<li>
<p>Gib einen Namen für die gewünschte Sprache ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">2.3. Facette mit Wert verknüpfen</h3>
<div class="paragraph">
<p>Im Tab <strong>Werte</strong> einer Facette verknüpfst du die Facette mit verschiedenen Werten. Im Beispiel der Facette Farbe des Typs <strong>Attribut/Merkmal</strong> erstellst du zum Beispiel die Werte weiß, schwarz, rot, blau etc. und verknüpfst diese Werte mit den vorhandenen Attributen, Merkmalen und Eigenschaften im System. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="sect3">
<h4 id="150">2.3.1. Wert erstellen</h4>
<div class="paragraph instruction">
<p>Wert erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke links unten auf das grüne Plus.<br>
→ Das Fenster <strong>Wert erstellen</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für den Wert in der Systemsprache ein.</p>
</li>
<li>
<p>Gib eine <strong>Position</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der neue Wert wird erstellt.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib im Tab <strong>Name</strong> Übersetzungen für den Namen des Werts ein.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib im Tab <strong>Einstellungen</strong> eine CSS-Klasse ein.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="160">2.3.2. Wert verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe nun den Wert mit den Daten im System. Du kannst einem Facettenwert mehrere Backend-Werte zuordnen. Zum Beispiel kannst du bei Facetten des Typs <strong>Attribut/Merkmal</strong> Attribute, Merkmale und Eigenschaften im System in einem Filter zusammenfassen und so zusammen in einem Ergebnis ausgeben.</p>
</div>
<div class="paragraph instruction">
<p>Facettenwert mit Backend-Wert verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke auf den Wert.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf den Backend-Wert, der verknüpft werden soll.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Verknüpfen</strong>.<br>
→ Der Backend-Wert wird mit dem Wert der Facette verknüpft.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Verknüpfe weitere Werte.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="170">2.4. Facetten mit Bildern verknüpfen</h3>
<div class="paragraph">
<p>Im Tab <strong>Bilder</strong> verknüpfst du Facetten und Facettenwerte mit Bildern. Verknüpfe zum Beispiel die Hersteller in deinem Webshop mit Bildern, wenn du nicht den Namen der Herstellers, sondern das Logo des Herstellers anzeigen möchtest.</p>
</div>
<div class="sect3">
<h4 id="180">2.4.1. Bild hochladen</h4>
<div class="paragraph instruction">
<p>Bild hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Dateien hochladen</strong>.</p>
</li>
<li>
<p>Navigiere zum Speicherort der Bilddatei.</p>
</li>
<li>
<p>Wähle die Bilddatei.<br>
→ Die Bilddatei wird hochgeladen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="190">2.4.2. Bild verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe nun das Bild mit den Daten im System. Pro Bild kann ein Wert verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Bild verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Zeige mit dem Cursor auf das Bild.<br>
→ Im unteren Bereich des Bilds wird eine Dropdown-Liste mit Werten angezeigt.</p>
</li>
<li>
<p>Klicke in der Dropdown-Liste auf den Wert.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Bild wird mit dem Wert verknüpft.<br>
→ Das verknüpfte Bild wird mit rotem Rand dargestellt.<br>
→ Der Name des Werts wird im Bild angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">2.5. Facetten mit Mandant verknüpfen</h3>
<div class="paragraph">
<p>Nachdem du Facetten erstellt hast, verknüpfe im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Facettenverknüpfungen</strong> diese Facetten mit dem Mandanten, in dem die Facetten als Filter zur Verfügung stehen sollen. Wähle pro Mandant, welche Facetten für den Shop relevant sind und welche nicht. Änderungen, die du vornimmst, werden in Echtzeit übertragen. Gehe wie unten beschrieben vor, um Facetten mit einem Mandanten zu verknüpfen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Facette des Typs Preis</div>
<div class="paragraph">
<p>Pro Mandant kann nur eine Facette des Typs Preis verknüpft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Facetten im Webshop verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Facettenverknüpfungen</strong>.</p>
</li>
<li>
<p>Klicke in der Liste links auf die Facette, die du mit diesem Shop verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Facette verknüpfen</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Aktiviere die Option <strong>Bilder bereitstellen</strong>, um mit den Facetten verknüpfte Bilder im Webshop anzuzeigen.</p>
</li>
<li>
<p>Wiederhole den Vorgang für alle weiteren Facetten, die verknüpft werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Facette wird im Webshop verknüpft.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">2.6. Facettensuche in Ceres nutzen</h3>
<div class="paragraph">
<p>Ceres setzt standardmäßig die Facettensuche in Kombination mit ElasticSearch ein. <a href="#80">Richte zunächst die Facettensuche ein</a> und gehe dann wie unten beschrieben vor, um die Facettensuche in Ceres zu nutzen.</p>
</div>
<div class="sect3">
<h4 id="310">2.6.1. Ceres: Felder für die Suche aktivieren</h4>
<div class="paragraph">
<p>Du kannst selbst entscheiden, <em>welche Artikeldaten</em> für die Webshop-Suche relevant sind.
Bei einer Suche werden also nur die von dir gewählten Artikeldaten durchsucht.</p>
</div>
<div class="paragraph">
<p>Außerdem kannst du entscheiden, mit <em>welcher Gewichtung</em> die einzelnen Artikeldaten behandelt werden sollen.
Je höher die eingegebene Zahl, desto höher wird das Artikeldatenfeld für das Suchergebnis priorisiert.</p>
</div>
<div class="paragraph instruction">
<p>Artikeldaten auswählen und priorisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sucheinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Artikeldatenfelder (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>), die in den Suchergebnissen und Suchvorschlägen berücksichtigt werden sollen.</p>
</li>
<li>
<p>Gib ggf. eine Gewichtung in die Spalte <strong>Boost</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Welcher Boost-Wert soll ich eingeben?</div>
<div class="paragraph">
<p>Als Boost-Wert kann eine beliebig hohe Zahl eingegeben werden.
Die Standardeinstellungen sind für die meisten Anwendungsfälle sinnvoll.
Diese Standardeinstellungen priorisieren die Varianten-ID und die Artikel-ID sehr hoch.
Wenn in deinem Webshop also nach einer Zahl gesucht wird, werden Suchergebnisse für diese Zahl aus den ID-Feldern priorisiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist der Unterschied zwischen Suchergebnissen und Suchvorschlägen?</div>
<div class="ulist">
<ul>
<li>
<p>Suchergebnisse sind die Artikel oder Kategorien, die dem Suchbegriff entsprechen.</p>
</li>
<li>
<p>Suchvorschläge sind Wörter, die den vom Kunden eingegebenen Begriffen ähnlich sind.
Suchvorschläge helfen dem Kunden, das Gesuchte zu finden, wenn er ungenaue oder falsch geschriebene Texte eingibt.
"Meinten Sie…​"</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="320">2.6.2. Ceres: Sprachen ändern</h4>
<div class="paragraph">
<p>Die Facettensuche kann für bis zu drei Sprachen aktiviert werden. Standardmäßig sind die Sprachen <strong>Deutsch</strong>, <strong>Englisch</strong> und <strong>Französisch</strong> aktiviert. Wenn du Webshops in anderen Sprachen betreibst, kannst du die Sprachen ändern. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Suchindex wird bei Änderungen vollständig neu gebaut</div>
<div class="paragraph">
<p>Wenn du die Spracheinstellungen änderst, wird der Suchindex komplett neu aufgebaut. Das bedeutet, dass alle Artikel erneut zum Index hinzugefügt werden. Je nachdem, wie viele Artikel du hast, kann dieser Vorgang bis zu mehrere Tage dauern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sprache ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sprachen</strong>.</p>
</li>
<li>
<p>Deaktiviere eine Sprache, die du nicht benötigst.</p>
</li>
<li>
<p>Aktiviere eine Sprache.<br>
<strong><em>Hinweis:</em></strong> Pro System können nur drei Sprachen aktiviert werden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Artikel werden zum Suchindex für die aktivierten Sprachen hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="330">2.6.3. Ceres: Facettensuche einbinden</h4>
<div class="paragraph">
<p>Wie du die Facettensuche in Ceres nutzt, erfährst du auf der Handbuchseite <a href="/webshop/ceres-einrichten#330">Ceres einrichten</a>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="210">2.7. Facettensuche in Callisto nutzen</h3>
<div class="paragraph">
<p>Im alte Design Callisto können für die Frontend-Suche verschiedene Suchen genutzt werden. Welche Suche verwendet wird, legst du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> fest. Die folgenden Optionen sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard-Suche</strong><br>
→ Wenn die Option <strong>Standard-Suche</strong> aktiviert ist, wird für die Artikelsuche im Frontend der <a href="/artikel/anwendungsfaelle/suchverhalten#200">Index der Backend-Artikelsuche</a> verwendet.</p>
</li>
<li>
<p><strong>Findologic</strong><br>
→ Wie du die Artikelsuche über Findologic einrichtest, erfährst du auf der Handbuchseite <a href="/webshop/webshop-einrichten/extras/findologic">Findologic</a>.</p>
</li>
<li>
<p><strong>Facettensuche</strong><br>
→ Wie du die Facettensuche einrichtest, erfährst du im Kapitel <a href="/artikel/frontend-artikelsuche-verwalten#270">Callisto mit Facettensuche nutzen</a>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="270">2.7.1. Callisto mit Facettensuche nutzen</h4>
<div class="paragraph">
<p>Die neue Facettensuche auf Basis von ElasticSearch nutzt du, indem du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> die Option <strong>Facettensuche</strong> aktivierst. <a href="#80">Richte zunächst die Facettensuche ein</a>. Gehe dann wie unten beschrieben vor, um die neue Facettensuche in Callisto zu nutzen.</p>
</div>
<div class="sect4">
<h5 id="280">Callisto + Facettensuche: Felder für die Suche aktivieren</h5>
<div class="paragraph">
<p>Du kannst selbst entscheiden, <em>welche Artikeldaten</em> für die Webshop-Suche relevant sind.
Bei einer Suche werden also nur die von dir gewählten Artikeldaten durchsucht.</p>
</div>
<div class="paragraph">
<p>Außerdem kannst du entscheiden, mit <em>welcher Gewichtung</em> die einzelnen Artikeldaten behandelt werden sollen.
Je höher die eingegebene Zahl, desto höher wird das Artikeldatenfeld für das Suchergebnis priorisiert.</p>
</div>
<div class="paragraph instruction">
<p>Artikeldaten auswählen und priorisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sucheinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Artikeldatenfelder (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>), die in den Suchergebnissen und Suchvorschlägen berücksichtigt werden sollen.</p>
</li>
<li>
<p>Gib ggf. eine Gewichtung in die Spalte <strong>Boost</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Welcher Boost-Wert soll ich eingeben?</div>
<div class="paragraph">
<p>Als Boost-Wert kann eine beliebig hohe Zahl eingegeben werden.
Die Standardeinstellungen sind für die meisten Anwendungsfälle sinnvoll.
Diese Standardeinstellungen priorisieren die Varianten-ID und die Artikel-ID sehr hoch.
Wenn in deinem Webshop also nach einer Zahl gesucht wird, werden Suchergebnisse für diese Zahl aus den ID-Feldern priorisiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist der Unterschied zwischen Suchergebnissen und Suchvorschlägen?</div>
<div class="ulist">
<ul>
<li>
<p>Suchergebnisse sind die Artikel oder Kategorien, die dem Suchbegriff entsprechen.</p>
</li>
<li>
<p>Suchvorschläge sind Wörter, die den vom Kunden eingegebenen Begriffen ähnlich sind.
Suchvorschläge helfen dem Kunden, das Gesuchte zu finden, wenn er ungenaue oder falsch geschriebene Texte eingibt.
"Meinten Sie…​"</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect4">
<h5 id="_callisto_facettensuche_sprachen_ändern">Callisto + Facettensuche: Sprachen ändern</h5>
<div class="paragraph">
<p>Die Facettensuche kann für bis zu drei Sprachen aktiviert werden. Standardmäßig sind die Sprachen <strong>Deutsch</strong>, <strong>Englisch</strong> und <strong>Französisch</strong> aktiviert. Wenn du Webshops in anderen Sprachen betreibst, kannst du die Sprachen ändern. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Suchindex wird bei Änderungen vollständig neu gebaut</div>
<div class="paragraph">
<p>Wenn du die Spracheinstellungen änderst, wird der Suchindex komplett neu aufgebaut. Das bedeutet, dass alle Artikel erneut zum Index hinzugefügt werden. Je nachdem, wie viele Artikel du hast, kann dieser Vorgang bis zu mehrere Tage dauern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sprachen ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sprachen</strong>.</p>
</li>
<li>
<p>Deaktiviere eine Sprache, die du nicht benötigst.</p>
</li>
<li>
<p>Aktiviere eine Sprache.<br>
<strong><em>Hinweis:</em></strong> Pro System können nur drei Sprachen aktiviert werden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Artikel werden zum Suchindex für die aktivierten Sprachen hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect3">
<h4 id="290">2.7.2. Facettensuche in Callisto einbinden</h4>
<div class="paragraph">
<p>Im alten Design Callisto wird die Facettensuche im Template <strong>NavigationFacetsList</strong> definiert. Das Template <strong>NavigationFacetsList</strong> des Designs Callisto Light enthält fertigen Code, mit dem du eine Facettensuche erstellst. Dieser Code ist natürlich ausbaubar. Über die Template-Funktion <a href="/webshop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationfacetslist">Container_NavigationFacetsList</a> fügst du das Template <strong>NavigationFacetsList</strong> in den gewünschten Bereich des Webshops ein. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Empfohlene Templates</div>
<div class="paragraph">
<p>Wir empfehlen, die Template-Funktion <strong>Container_NavigationFacetsList</strong> innerhalb von <strong>ItemViewCategoriesList</strong> und <strong>ItemViewSearchResultsList</strong> zu verwenden. Diese Templates findest du im Menü <strong>CMS » Webdesign » Ordner: Layout » Ordner: ItemView</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Facettensuche in Callisto einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne das gewünschte Template.</p>
</li>
<li>
<p>Füge die Template-Funktion <strong>Container_NavigationFacetsList</strong> in das Template ein, um die Facettensuche anzuzeigen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Wiederhole optional den Vorgang, um die Template-Funktion in weitere Templates einzufügen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>