<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#300"><span>1.</span><span> Welche Artikel gehören zur Aktion?</span></a>
<ul class="sectlevel2">
<li><a href="#350"><span>1.1.</span><span> Manuelle Auswahl</span></a></li>
<li><a href="#400"><span>1.2.</span><span> Automatische Auswahl</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Darstellung im plentyShop</span></a>
<ul class="sectlevel2">
<li><a href="#520"><span>2.1.</span><span> Standard-Texte umbenennen</span></a></li>
<li><a href="#540"><span>2.2.</span><span> Sonderangebot vs. % Ersparnis</span></a></li>
</ul>
</li>
<li><a href="#570"><span>3.</span><span> Fragen und Antworten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Shop-Aktionen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Möchtest du bestimmte Artikel in deinem plentyShop hervorheben?
Willst du zum Beispiel neue Produkte, Sonderangebote oder meistverkaufte Artikel in der Kategorieansicht entsprechend kennzeichnen?
Shop-Aktionen sind dafür perfekt geeignet.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/shop-aktionen.png" alt="shop aktionen">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">1. Welche Artikel gehören zur Aktion?</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="350">1.1. Manuelle Auswahl</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne die Artikel, die in der Shop-Aktion vorkommen sollen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Global</strong>.</p>
</li>
<li>
<p>Finde den Bereich <strong>Webshop</strong>. Lege mit der Dropdown-Liste <strong>Shop-Aktion</strong> fest, ob du den Artikel als Sonderangebot, Neuheit oder Top-Artikel kennzeichnen willst.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Andere Möglichkeiten, Artikel auszuwählen</div>
<div class="paragraph">
<p>Die obige Anleitung ist nützlich, wenn du <em>nur wenige Artikel</em> auswählen willst.
Was aber, wenn du Hunderte von Artikeln bearbeiten musst?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/import-export-anlage/anlage/massenbearbeitung">Artikel-Gruppenfunktion oder Stapelverarbeitung</a>:
Finde den Bereich <strong>Multi-Channel</strong>.
Aktiviere die Option <strong>Webshop-Aktion</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) und wähle die passende Shop-Aktion aus der Dropdown-Liste.</p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2260">Import</a>: Verwende das Zuordnungsfeld <strong>Artikel / Shop-Aktion</strong>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">1.2. Automatische Auswahl</h3>
<div class="paragraph">
<p>Anstatt Artikel manuell auszuwählen, kannst du sie automatisch zur Shop-Aktion hinzufügen lassen, z.B. wenn der Preis fällt.
Dies wird mit Hilfe des Aktionsmanagers gemacht.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Aktionen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neue Aktion</strong>.</p>
</li>
<li>
<p>Wähle die Aktion <strong>Artikel mit Shop-Aktion verknüpfen</strong>.</p>
</li>
<li>
<p>Konfiguriere die Einstellungen für den Aktionsmanager.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h4 id="_einstellungen" class="discrete">Einstellungen</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen aussagekräftigen Namen ein.
Dies ist ein interner Name. Er ist für Kunden nicht sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Täglich ausführen um</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Uhrzeit, zu der die Aktion täglich ausgeführt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setze ein Häkchen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) erst, wenn die Aktion in Kraft treten soll. Lass diese Option also so lange deaktiviert, bis du die Einstellungen fertig konfiguriert hast.</p></td>
</tr>
</tbody>
</table>
<h4 id="_filter" class="discrete">Filter</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisfilter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel werden automatisch in die Shop-Aktion aufgenommen, wenn ihre Preise den hier angegebenen Kriterien entsprechen. Beispielsweise können alle Artikel verknüpft werden, bei denen die UVP höher ist, als der Preis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollen Artikel nur dann in die Shop-Aktion aufgenommen werden, wenn sie im plentyShop sichtbar sind? Verwende die Dropdown-Liste, um plentymarkets deine Wahl mitzuteilen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur aktive Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn nur <a href="/artikel/artikel-verwalten#200">aktive Artikel</a> zur Shop-Aktion hinzugefügt werden sollen. Nicht aktive Artikel werden nicht verknüpft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Verfügbarkeitsstufe aus der Dropdown-Liste, wenn nur <a href="/artikel/artikel-verwalten#200">Artikel mit dieser Verfügbarkeit</a> in die Shop-Aktion aufgenommen werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1;<br>
Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine oder zwei Markierungen, wenn nur <a href="/artikel/einstellungen/markierungen#300">Artikel mit diesen Markierungen</a> in die Shop-Aktion aufgenommen werden sollen.</p></td>
</tr>
</tbody>
</table>
<h4 id="_aktion" class="discrete">Aktion</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollen die Artikel als Sonderangebot, Neuheit oder Top-Artikel gekennzeichnet werden? Alle Artikel, die den Filterkriterien entsprechen, erhalten automatisch diese Bezeichnung im Tab <strong>Global</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie (Artikel)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollen die Artikel automatisch in eine bestimmte Kategorie aufgenommen werden? Falls ja, wähle diese Kategorie aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie (Artikel) löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollen die Artikel automatisch aus einer bestimmten Kategorie entfernt werden? Falls ja, wähle diese Kategorie aus der Dropdown-Liste.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Darstellung im plentyShop</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="520">2.1. Standard-Texte umbenennen</h3>
<div class="paragraph">
<p>Du kannst die Texte an deine Bedürfnisse anpassen.
Zum Beispiel könntest du die Aktion "Top-Artikel" in "Bestseller" umbenennen.</p>
</div>
<div class="paragraph instruction">
<p>Texte umbenennen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit</strong>.</p>
</li>
<li>
<p>Wähle eine Ausgangssprache und eine Zielsprache aus den Dropdown-Listen aus.<br>
<strong><em>Hinweis</em></strong>: Du kannst in beiden Listen die gleiche Sprache wählen.</p>
</li>
<li>
<p>Erweitere den Bereich <strong>Ceres » Shop Aktionen</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Benenne den Text auf der rechten Seite wie gewünscht um.<br>
<strong><em>Beispiel</em></strong>: Finde das Feld <strong>STORESPECIALTOP</strong> und ändere den Text von "Top-Artikel" in "Bestseller".</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p><a href="/willkommen/schnelleinstieg/schnelleinstieg-webshop#270">Stelle das Ceres-Plugin bereit</a>, um die Änderungen zu übernehmen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="540">2.2. Sonderangebot vs. % Ersparnis</h3>
<div class="paragraph">
<p>Für die Shop-Aktion <strong>Sonderangebot</strong> gilt Folgendes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Hat der Artikel keinen <a href="/artikel/einstellungen/preise#200">UVP</a>, dann wird der Text angezeigt (rechts).</p>
</li>
<li>
<p>Hat der Artikel einen <a href="/artikel/einstellungen/preise#200">UVP</a>, dann wird die Ersparnis in Prozent angezeigt (links).</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/webshop/assets/shop-aktionen-sonderangebot-prozent.png" alt="shop aktionen sonderangebot prozent">
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="570">3. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich die Texte umbenennen? Ich mag "Sonderangebot", "Neuheit" und "Top-Artikel" nicht.</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Du kannst die Texte an deine Bedürfnisse anpassen.
Zum Beispiel könntest du die Aktion "Top-Artikel" in "Bestseller" umbenennen.
<a href="/artikel/webshop/shop-aktionen#520">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich einzelne Varianten oder nur ganze Artikel hervorheben?</strong></div>
<div class="content">
<div class="paragraph">
<p>Shop-Aktionen können nur verwendet werden, um <a href="/artikel/einleitung/struktur">ganze Artikel</a> hervorzuheben.
Shop-Aktionen können <em>nicht</em> auf einzelne Varianten angewendet werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Möglicher Workaround</em></strong>:
Würde es für dich in Frage kommen, stattdessen Tags zu verwenden?
Tags sind Schlagwörter oder Phrasen mit denen du spezifische Varianten hervorheben kannst.
Im Gegensatz zu Shop-Aktionen erscheinen Tags allerdings <em>nicht</em> in der Kategorieansicht.
Stattdessen erscheinen sie in der Artikel-Detailansicht oder in einer Artikelliste.</p>
</div>
<div class="paragraph">
<p>Der Vorgang besteht aus drei Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/markierungen#500">Erstelle die Tags</a>, die du für deine Varianten verwenden möchtest, z.B. "Rarität".
Wähle dabei (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) den Bereich <strong>Variante</strong> und den entsprechenden Mandanten.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#268">Verknüpfe deine Varianten mit den Tags</a>.
Versehe zum Beispiel deine seltenen Varianten mit dem "Rarität"-Tag.</p>
</li>
<li>
<p><a href="/webshop/shop-builder#_artikelliste">Erstelle eine Artikelliste</a>, um die getaggten Varianten in deinem plentyShop anzuzeigen.
Vergiss nicht die ID deines "Rarität"-Tags anzugeben.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>