<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ifdef_wie_die_include_datei_aufgebaut_ist"><span>1.</span><span> ifdef - wie die include Datei aufgebaut ist</span></a></li>
<li><a href="#_ifdef_ergebnis_item"><span>2.</span><span> ifdef - Ergebnis Item</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Testseite für Formatierung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite ist nicht Teil des Handbuchs.
Falls du trotzdem auf dieser Seite gelandet bist, herzlich willkommen.
Dies ist lediglich eine Testseite bezüglich ein paar Formatierungsprobleme.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ifdef_wie_die_include_datei_aufgebaut_ist">1. ifdef - wie die include Datei aufgebaut ist</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für Item relevant und soll nur in die Item-Seite erscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CRM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für CRM relevant und soll nur in die CRM-Seite erscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist nur für Stock relevant und soll nur in die Stock-Seite erscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item + CRM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für Item und CRM relevant und soll in beide Seiten erscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item + Stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für Item und Stock relevant und soll in beide Seiten erscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CRM + Stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für CRM und Stock relevant und soll in beide Seiten erscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item + CRM + Stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für Item, CRM und Stock relevant und soll in alle 3 Seiten erscheinen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_ifdef_ergebnis_item">2. ifdef - Ergebnis Item</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p>
<p class="tableblock">:item:
[cols="1,3"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Einstellung |Erläuterung</p>
</div>
</div>
</div>
</main>