<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ifdef_ergebnis_item"><span>1.</span><span> ifdef - Ergebnis Item</span></a></li>
<li><a href="#_ifdef_ergebnis_crm"><span>2.</span><span> ifdef - Ergebnis CRM</span></a></li>
<li><a href="#_ifdef_ergebnis_stock"><span>3.</span><span> ifdef - Ergebnis Stock</span></a></li>
<li><a href="#_blockkommentare"><span>4.</span><span> Blockkommentare</span></a></li>
<li><a href="#_3_tabs_mit_formatierung_und_cols13"><span>5.</span><span> 3 Tabs mit Formatierung und cols="1,3"</span></a></li>
<li><a href="#_3_tabs_ohne_formatierung_und_cols13"><span>6.</span><span> 3 Tabs ohne Formatierung und cols="1,3"</span></a></li>
<li><a href="#_2_tabs_mit_formatierung_und_cols13"><span>7.</span><span> 2 Tabs mit Formatierung und cols="1,3"</span></a></li>
<li><a href="#_2_tabs_ohne_formatierung_und_cols13"><span>8.</span><span> 2 Tabs ohne Formatierung und cols="1,3"</span></a></li>
<li><a href="#_2_tabs_mit_formatierung_und_cols1a3a"><span>9.</span><span> 2 Tabs mit Formatierung und cols="1a,3a"</span></a></li>
<li><a href="#_2_tabs_mit_formatierung_in_beide_spalten_und_cols1a3a"><span>10.</span><span> 2 Tabs mit Formatierung in beide Spalten und cols="1a,3a"</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Testseite für Formatierung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite ist nicht Teil des Handbuchs.
Falls du trotzdem auf dieser Seite gelandet bist: herzlich willkommen.
Dies ist lediglich eine Testseite, um Handbuch-Formatierungen zu testen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ifdef_ergebnis_item">1. ifdef - Ergebnis Item</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wofür möchtest du die Eigenschaft nutzen? Wähle den entsprechenden Bereich aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach dem Speichern nicht mehr geändert werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich</th>
<th class="tableblock halign-left valign-top">Wofür ist der Bereich geeignet?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Produkten verwendet.
Beispielsweise kannst du die technischen Features eines Produkts im plentyShop hervorheben (z.B. Bluetooth, WLAN).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Kontakten verwendet.
Beispielsweise kannst du in jedem Kontaktdatensatz speichern, auf welchem Weg der Kontakt kontaktiert werden soll und ob er die Zusendung deines neuen Produktkatalogs wünscht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Lagerorten verwendet.
Beispielsweise kannst du bestimmen, welche Lagerorte für Kühlware oder andere Produktgruppen geeignet sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Eigenschaft möchtest du anlegen? Wähle den Eigenschaftstyp aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach dem Speichern nicht mehr geändert werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Wofür ist der Typ geeignet?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kein</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Name der Eigenschaft kann im plentyShop angezeigt werden.
Dies eignet sich, z.B. um:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die technischen Besonderheiten einer Variante hervorzuheben (Bluetooth, WLAN).</p>
</li>
<li>
<p>Filter zu erstellen (nur Bluetooh-fähige Produkte in die Suchergebnisse berücksichtigen)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ein Datum kann im plentyShop angezeigt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine Datei kann für die Variante verfügbar gemacht werden, z.B. eine Montageanleitung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ganze Zahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine ganze Zahl kann im plentyShop angezeigt werden.
Eignet sich, z.B. um ein Gewicht oder eine Länge anzugeben. Beispielsweise HDMI-Kabeln, die über 10 m lang sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommazahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine Zahl mit Kommastellen kann im plentyShop angezeigt werden.
Eigent sich, z.B. um Maßangaben im plentyShop anzuzeigen. Beispielsweise ein Krug, der 1,4 Liter fasst.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ein Text mit Formatierung kann im plentyShop angezeigt werden.
Eignet sich z.B., um variantenspezifische Produktbeschreibungen zu erstellen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kurztext</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ein Text ohne Formatierung kann im plentyShop angezeigt werden.
Eignet sich z.B., um variantenspezifische Produktbeschreibungen zu erstellen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstellt eine Dropdown-Liste mit möglichen Werten.
Während du die Eigenschaft mit einer Variante verknüpfst, gibst du an, welcher der Werte für die Variante zutrifft.</p>
</div>
<div class="paragraph">
<p><strong><em>Anwendungsbeispiel</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/artikel/einstellungen/eigenschaften#760">Erstens</a> erstellst du verschiedene Stufen der Wasserfestigkeit.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/eigenschaften#1400">Zweitens</a> gibst du den Grad der Wasserfestigkeit für jede Variante an.</p>
</li>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten">Drittens</a> erstellst du Webshop-Filter, die es deinen Kunden ermöglichen, gezielt nach Varianten mit einer bestimmten Wasserfestigkeitsstufe zu suchen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mehrfachauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erstellt eine Reihe von Checkboxen.
Während du die Eigenschaft mit einer Variante verknüpfst, kreuzt du alle passenden Werte an.</p>
</div>
<div class="paragraph">
<p><strong><em>Anwendungsbeispiel</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/artikel/einstellungen/eigenschaften#760">Erstens</a> erstellst du verschiedene Besonderheiten. Zum Beispiel, wenn du Bücher verkaufst: Erstausgabe, Autorensignatur, Rarität, Sammleredition.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/eigenschaften#1400">Zweitens</a> kreuzt du die Besonderheiten an, die für die Variante gelten, z.B. eine Erstausgabe mit Autorensignatur.</p>
</li>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten">Drittens</a> erstellst du Webshop-Filter, die es deinen Kunden ermöglichen, gezielt nach Varianten mit solchen Besonderheiten zu suchen.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für die Eigenschaft in der Standardsprache deines plentymarkets Systems ein.
Dieser Name kann <a href="#für Kunden im plentyShop sichtbar">[für Kunden im plentyShop sichtbar]</a> gemacht werden.
Dies hängt davon ab, wie du das Layout mit ShopBuilder gestaltest.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Nach dem Speichern, kannst du den <a href="/artikel/einstellungen/eigenschaften#720">Namen in weiteren Sprachen angeben</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Derzeit ohne Funktion.
Diese Option wird zukünftig zur Darstellung einer Beschreibung von Bestelleigenschaften im plentyShop verwendet werden.
Zurzeit ist es aber nur möglich, Bestellmerkmale zu verwenden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll diese Eigenschaft in eine bestimmte <a href="/artikel/einstellungen/eigenschaften#1200">Gruppe</a> eingeordnet werden? Falls ja, dann wähle die Gruppe hier aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste enthält nur Eigenschaftsgruppen, die bereits angelegt wurden.
So erstellst du eine neue Gruppe:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Eigenschaftsgruppe hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Konfiguriere die <a href="/artikel/einstellungen/eigenschaften#1200">Einstellungen für die Gruppe</a>.<br>
→ Nachdem du die Gruppe gespeichert hast, wirst du automatisch zu diesem Menü zurückgeführt und die Gruppe wird hier vorausgewählt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Es würde viel Zeit in Anspruch nehmen, manuell eine Gruppe für jede Eigenschaft auszuwählen.
Verwende stattdessen die Gruppenfunktion, um <a href="/artikel/einstellungen/eigenschaften#1300">mehrere Eigenschaften gleichzeitig einer Gruppe zuzuweisen</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Eigenschaft soll als erste, zweite, dritte, usw. angezeigt werden? Gib eine Positionsnummer in dieses Feld ein.
Wenn eine Variante mehrere Eigenschaften hat, werden die Eigenschaften aufsteigend nach Positionsnummern in deinem plentyShop dargestellt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<hr>
<h5 id="_allgemein" class="discrete">Allgemein</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei der Erstellung erhält jede Eigenschaft automatisch eine fortlaufende und einzigartige ID.
Die ID kann nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bereich, den du beim Erstellen der Eigenschaft gewählt hast.
Diese Einstellung kann nicht mehr geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Typ, den du beim Erstellen der Eigenschaft gewählt hast.
Diese Einstellung kann nicht mehr geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche Eigenschaft soll als erste, zweite, dritte, usw. angezeigt werden? Gib eine Positionsnummer in dieses Feld ein. Wenn eine Variante mehrere Eigenschaften hat, werden die Eigenschaften aufsteigend nach Positionsnummern in deinem plentyShop dargestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Optionen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einheiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Handelt es sich bei der Eigenschaft um etwas wie ein Gewicht oder eine Länge, z.B. HDMI-Kabeln, die über 10 m lang sind? Falls ja, dann wähle die passende <a href="/artikel/einstellungen/einheiten">Einheit</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragseigenschaft</strong><br>
(Derzeit ohne Funktion)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option wird zukünftig zur Erstellung von <em>Bestelleigenschaften</em> verwendet werden.
Zurzeit ist es aber nur möglich, <em>Bestellmerkmale</em> zu verwenden.</p>
</div>
<div class="paragraph">
<p>Mit anderen Worten, zurzeit ist es nur möglich, ganze <a href="/artikel/anwendungsfaelle/personalisierte-artikel">Artikel personalisierbar zu machen</a>, anstatt spezifische Varianten. Unser Entwicklungsteam arbeitet jedoch hart an einer Lösung: Bestelleigenschaften. Nach ihrer Veröffentlichung wird es möglich sein, einzelne Variante personalisierbar zu machen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>zusätzliche Kosten anzeigen</strong><br>
(Derzeit ohne Funktion)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option wird zukünftig z.B. zur Darstellung von Pfandbeträgen verwendet werden.
Mit anderen Worten, diese Option legt fest, dass keine Mehrwertsteuer auf einen Aufpreis berechnet werden soll.</p>
<p class="tableblock">Zurzeit ist es nur möglich, solche Aufpreise mit <a href="/artikel/einstellungen/eigenschaften#300">Merkmalen</a> zu realisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist dein plentyShop in mehreren Sprachen verfügbar? Dann wähle eine Sprachversion aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für die Eigenschaft in der gewählten Sprache ein.
Dieser Name kann <a href="#für Kunden im plentyShop sichtbar">[für Kunden im plentyShop sichtbar]</a> gemacht werden.
Dies hängt davon ab, wie du das Layout mit ShopBuilder gestaltest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Derzeit ohne Funktion.
Diese Option wird zukünftig zur Darstellung einer Beschreibung von Bestelleigenschaften im plentyShop verwendet werden.
Zurzeit ist es aber nur möglich, Bestellmerkmale zu verwenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Gruppe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll diese Eigenschaft in eine bestimmte <a href="/artikel/einstellungen/eigenschaften#1200">Gruppe</a> eingeordnet werden? Falls ja, dann wähle die Gruppe hier aus.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste enthält nur <a href="/artikel/einstellungen/eigenschaften#1200">Eigenschaftsgruppen, die bereits angelegt wurden</a>.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Es würde viel Zeit in Anspruch nehmen, manuell eine Gruppe für jede Eigenschaft auszuwählen.
Verwende stattdessen die Gruppenfunktion, um <a href="/artikel/einstellungen/eigenschaften#1300">mehrere Eigenschaften gleichzeitig einer Gruppe zuzuweisen</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="740" class="discrete">Sichtbarkeit</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf welchen Verkaufskanälen soll die Eigenschaft sichtbar sein?
Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) eine, mehrere oder alle Herkünfte.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Die Dropdown-Liste enthält nur aktivierte Auftragsherkünfte.
Falls du also einen bestimmten Marktplatz in der Liste nicht finden kannst, öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> und stelle sicher, dass der Markt aktiviert wurde (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll die Eigenschaft nur für bestimmte Mandanten (Shops) gelten? Falls ja, dann wähle alle Shops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die diese Eigenschaft gelten soll.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Mit plentymarkets kannst du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit nur einer Software verwalten. Somit ist es möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren. Das ist ein großer Vorteil. Aber es bedeutet auch, dass du plentymarkets immer mitteilen musst, für welchen Webshop die Eigenschaft gilt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Überall anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wo soll die Eigenschaft angezeigt werden? Wähle die Bereiche (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wo deine Kunden die Eigenschaft sehen sollen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_ifdef_ergebnis_crm">2. ifdef - Ergebnis CRM</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wofür möchtest du die Eigenschaft nutzen? Wähle den entsprechenden Bereich aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach dem Speichern nicht mehr geändert werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich</th>
<th class="tableblock halign-left valign-top">Wofür ist der Bereich geeignet?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Produkten verwendet.
Beispielsweise kannst du die technischen Features eines Produkts im plentyShop hervorheben (z.B. Bluetooth, WLAN).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Kontakten verwendet.
Beispielsweise kannst du in jedem Kontaktdatensatz speichern, auf welchem Weg der Kontakt kontaktiert werden soll und ob er die Zusendung deines neuen Produktkatalogs wünscht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Lagerorten verwendet.
Beispielsweise kannst du bestimmen, welche Lagerorte für Kühlware oder andere Produktgruppen geeignet sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Eigenschaft möchtest du anlegen? Wähle den Eigenschaftstyp aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach dem Speichern nicht mehr geändert werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Wofür ist der Typ geeignet?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kein</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option wählen, wenn Eigenschaften außerhalb der Bereiche <strong>Artikel</strong>, <strong>Lagerort</strong> und <strong>Kontakt</strong> verwendet werden sollen, wie z.B. für die Facettensuche.<br>
<strong><em>Hinweis:</em></strong> Dieser Eigenschaftstyp kann <em>nicht</em> auf deinen Dokumenten ausgegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option, um die Eingabe eines Datums oder die Wahl des Datums aus einem Kalender zu ermöglichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option, um das Hochladen einer Datei zu ermöglichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ganze Zahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine ganze Zahl ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommazahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zahl mit Kommastellen ein. Zulässig sind 8 Vor- und 4 Nachkommastellen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Text ein. Dieser Text kann formatiert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kurztext</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Kurztext ein. Dieser Text kann nicht formatiert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ermöglicht es, Werte einzugeben und anschließend einen dieser Werte aus einer Dropdown-Liste zu wählen.<br>
<strong><em>Hinweis:</em></strong> Dieser Eigenschaftstyp kann <em>nicht</em> auf deinen Dokumenten ausgegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mehrfachauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ermöglicht es, Werte einzugeben und anschließend eine oder mehrere Optionen zu wählen.<br>
<strong><em>Hinweis:</em></strong> Dieser Eigenschaftstyp kann <em>nicht</em> auf deinen Dokumenten ausgegeben werden.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für die Eigenschaft in der Standardsprache deines plentymarkets Systems ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Nach dem Speichern, kannst du den <a href="/artikel/einstellungen/eigenschaften#720">Namen in weiteren Sprachen angeben</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Beschreibung für die Eigenschaft in der Standardsprache deines plentymarkets Systems ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Nach dem Speichern, kannst du die <a href="/artikel/einstellungen/eigenschaften#720">Beschreibung in weiteren Sprachen angeben</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll diese Eigenschaft in eine bestimmte <a href="/artikel/einstellungen/eigenschaften#1200">Gruppe</a> eingeordnet werden? Falls ja, dann wähle die Gruppe hier aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste enthält nur Eigenschaftsgruppen, die bereits angelegt wurden.
So erstellst du eine neue Gruppe:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Eigenschaftsgruppe hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Konfiguriere die <a href="/artikel/einstellungen/eigenschaften#1200">Einstellungen für die Gruppe</a>.<br>
→ Nachdem du die Gruppe gespeichert hast, wirst du automatisch zu diesem Menü zurückgeführt und die Gruppe wird hier vorausgewählt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Es würde viel Zeit in Anspruch nehmen, manuell eine Gruppe für jede Eigenschaft auszuwählen.
Verwende stattdessen die Gruppenfunktion, um <a href="/artikel/einstellungen/eigenschaften#1300">mehrere Eigenschaften gleichzeitig einer Gruppe zuzuweisen</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Eigenschaft soll als erste, zweite, dritte, usw. angezeigt werden? Gib eine Positionsnummer in dieses Feld ein.
Standardmäßig wird aufsteigend nach Positionsnummer sortiert.<br>
<strong><em>Tipp:</em></strong> Speichere die Positionsnummern in 10er-Schritten, damit du mögliche neue Eigenschaften dazwischen einfügen kannst.</p>
</div></div></td>
</tr>
</tbody>
</table>
<hr>
<h5 id="_allgemein_2" class="discrete">Allgemein</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei der Erstellung erhält jede Eigenschaft automatisch eine fortlaufende und einzigartige ID.
Die ID kann nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bereich, den du beim Erstellen der Eigenschaft gewählt hast.
Diese Einstellung kann nicht mehr geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Typ, den du beim Erstellen der Eigenschaft gewählt hast.
Diese Einstellung kann nicht mehr geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine neue Position ein, um die Anzeigereihenfolge zu ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Optionen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, damit die Eigenschaft zu einer Pflichtangabe wird.
Pflichtfelder werden in der Detailansicht des Kontakts im Bereich <strong>Eigenschaften</strong> und im Bestellvorgang im plentyShop fett markiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellvorgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, damit die Eigenschaft im Bestellvorgang im plentyShop angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenregistrierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, damit die Eigenschaft in der Kundenregistrierung im plentyShop angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontaktsuche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist aktuell noch ohne Funktion. Es soll später möglich sein, nach Eigenschaften im Menü <strong>CRM » Kontakte</strong> filtern zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist dein plentyShop in mehreren Sprachen verfügbar? Dann wähle eine Sprachversion aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für die Eigenschaft in der gewählten Sprache ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Beschreibung für die Eigenschaft in der gewählten Sprache ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Gruppe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll diese Eigenschaft in eine bestimmte <a href="/artikel/einstellungen/eigenschaften#1200">Gruppe</a> eingeordnet werden? Falls ja, dann wähle die Gruppe hier aus.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste enthält nur <a href="/artikel/einstellungen/eigenschaften#1200">Eigenschaftsgruppen, die bereits angelegt wurden</a>.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Es würde viel Zeit in Anspruch nehmen, manuell eine Gruppe für jede Eigenschaft auszuwählen.
Verwende stattdessen die Gruppenfunktion, um <a href="/artikel/einstellungen/eigenschaften#1300">mehrere Eigenschaften gleichzeitig einer Gruppe zuzuweisen</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="740" class="discrete">Sichtbarkeit</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll die Eigenschaft nur für bestimmte Mandanten (Shops) gelten? Falls ja, dann wähle alle Shops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die diese Eigenschaft gelten soll.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Mit plentymarkets kannst du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit nur einer Software verwalten. Somit ist es möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren. Das ist ein großer Vorteil. Aber es bedeutet auch, dass du plentymarkets immer mitteilen musst, für welchen Webshop die Eigenschaft gilt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, für welche Kundentypen die Eigenschaft sichtbar sein soll.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_ifdef_ergebnis_stock">3. ifdef - Ergebnis Stock</h2>
<div class="sectionbody">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wofür möchtest du die Eigenschaft nutzen? Wähle den entsprechenden Bereich aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach dem Speichern nicht mehr geändert werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich</th>
<th class="tableblock halign-left valign-top">Wofür ist der Bereich geeignet?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Produkten verwendet.
Beispielsweise kannst du die technischen Features eines Produkts im plentyShop hervorheben (z.B. Bluetooth, WLAN).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Kontakten verwendet.
Beispielsweise kannst du in jedem Kontaktdatensatz speichern, auf welchem Weg der Kontakt kontaktiert werden soll und ob er die Zusendung deines neuen Produktkatalogs wünscht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Solche Eigenschaften werden zur näheren Charakterisierung von Lagerorten verwendet.
Beispielsweise kannst du bestimmen, welche Lagerorte für Kühlware oder andere Produktgruppen geeignet sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Eigenschaft möchtest du anlegen? Wähle den Eigenschaftstyp aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach dem Speichern nicht mehr geändert werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Wofür ist der Typ geeignet?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kein</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option wählen, wenn Eigenschaften außerhalb der Bereiche <strong>Artikel</strong>, <strong>Lagerort</strong> und <strong>Kontakt</strong> verwendet werden sollen, wie z.B. für die Facettensuche.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ermöglicht es, Werte einzugeben und anschließend einen dieser Werte aus einer Dropdown-Liste zu wählen.<br></p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für die Eigenschaft in der Standardsprache deines plentymarkets Systems ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Nach dem Speichern, kannst du den <a href="/artikel/einstellungen/eigenschaften#720">Namen in weiteren Sprachen angeben</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Beschreibung für die Eigenschaft in der Standardsprache deines plentymarkets Systems ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Nach dem Speichern, kannst du die <a href="/artikel/einstellungen/eigenschaften#720">Beschreibung in weiteren Sprachen angeben</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll diese Eigenschaft in eine bestimmte <a href="/artikel/einstellungen/eigenschaften#1200">Gruppe</a> eingeordnet werden? Falls ja, dann wähle die Gruppe hier aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste enthält nur Eigenschaftsgruppen, die bereits angelegt wurden.
So erstellst du eine neue Gruppe:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Eigenschaftsgruppe hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Konfiguriere die <a href="/artikel/einstellungen/eigenschaften#1200">Einstellungen für die Gruppe</a>.<br>
→ Nachdem du die Gruppe gespeichert hast, wirst du automatisch zu diesem Menü zurückgeführt und die Gruppe wird hier vorausgewählt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Es würde viel Zeit in Anspruch nehmen, manuell eine Gruppe für jede Eigenschaft auszuwählen.
Verwende stattdessen die Gruppenfunktion, um <a href="/artikel/einstellungen/eigenschaften#1300">mehrere Eigenschaften gleichzeitig einer Gruppe zuzuweisen</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Eigenschaft soll als erste, zweite, dritte, usw. angezeigt werden? Gib eine Positionsnummer in dieses Feld ein.
Standardmäßig wird aufsteigend nach Positionsnummer sortiert.<br>
<strong><em>Tipp:</em></strong> Speichere die Positionsnummern in 10er-Schritten, damit du mögliche neue Eigenschaften dazwischen einfügen kannst.</p>
</div></div></td>
</tr>
</tbody>
</table>
<hr>
<h5 id="_allgemein_3" class="discrete">Allgemein</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei der Erstellung erhält jede Eigenschaft automatisch eine fortlaufende und einzigartige ID.
Die ID kann nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bereich, den du beim Erstellen der Eigenschaft gewählt hast.
Diese Einstellung kann nicht mehr geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Typ, den du beim Erstellen der Eigenschaft gewählt hast.
Diese Einstellung kann nicht mehr geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine neue Position ein, um die Anzeigereihenfolge zu ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Optionen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist dein plentyShop in mehreren Sprachen verfügbar? Dann wähle eine Sprachversion aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für die Eigenschaft in der gewählten Sprache ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Beschreibung für die Eigenschaft in der gewählten Sprache ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Gruppe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll diese Eigenschaft in eine bestimmte <a href="/artikel/einstellungen/eigenschaften#1200">Gruppe</a> eingeordnet werden? Falls ja, dann wähle die Gruppe hier aus.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste enthält nur <a href="/artikel/einstellungen/eigenschaften#1200">Eigenschaftsgruppen, die bereits angelegt wurden</a>.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Es würde viel Zeit in Anspruch nehmen, manuell eine Gruppe für jede Eigenschaft auszuwählen.
Verwende stattdessen die Gruppenfunktion, um <a href="/artikel/einstellungen/eigenschaften#1300">mehrere Eigenschaften gleichzeitig einer Gruppe zuzuweisen</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="740" class="discrete">Sichtbarkeit</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
</table>
</div>
</div><div class="sect1">
<h2 id="_blockkommentare">4. Blockkommentare</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erster Absatz.</p>
</div>
<div class="paragraph">
<p>Zweiter Absatz.</p>
</div>
<div class="paragraph">
<p>Dieser Satz soll auch Teil vom zweiten Absatz sein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Punkt 1</p>
</li>
<li>
<p>Punkt 2</p>
<div class="ulist">
<ul>
<li>
<p>Punkt 3</p>
</li>
<li>
<p>Punkt 4</p>
</li>
</ul>
</div>
</li>
<li>
<p>Punkt 5</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>Punkt 7</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Tabelle1 mit cols="1,3"</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p>
<p class="tableblock">////
Kommentar in linke Spalte
////</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
<p class="tableblock">////
Kommentar in rechte Spalte
////</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet
////
Kommentar in linke Spalte
////</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.
////
Kommentar in rechte Spalte
////</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet</p>
</li>
<li>
<p>Lorem ipsum dolor sit amet</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>One</p>
</li>
<li>
<p>Two</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>Four</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Tabelle1 mit cols="1,4"</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Lorem</th>
<th class="tableblock halign-left valign-top">ipsum</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p>
<p class="tableblock">////
Kommentar in linke Spalte
////</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
<p class="tableblock">////
Kommentar in rechte Spalte
////</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Tabelle mit cols="1a,3a"</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet</p>
</li>
<li>
<p>Lorem ipsum dolor sit amet</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>One</p>
</li>
<li>
<p>Two</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>Four</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Tabelle mit cols="1a,4a"</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Lorem</th>
<th class="tableblock halign-left valign-top">ipsum</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_3_tabs_mit_formatierung_und_cols13">5. 3 Tabs mit Formatierung und cols="1,3"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">one</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">two</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">three</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit Formatierung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div><div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit Formatierung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="_3_tabs_ohne_formatierung_und_cols13">6. 3 Tabs ohne Formatierung und cols="1,3"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="true">four</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="five-tab" data-toggle="tab" href="#five" role="tab" aria-controls="five" aria-selected="false">five</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="six-tab" data-toggle="tab" href="#six" role="tab" aria-controls="six" aria-selected="false">six</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="four" role="tabpanel" aria-labelledby="four-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="tableblock">Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="five" role="tabpanel" aria-labelledby="five-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="tableblock">Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="six" role="tabpanel" aria-labelledby="six-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div class="paragraph">
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="_2_tabs_mit_formatierung_und_cols13">7. 2 Tabs mit Formatierung und cols="1,3"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="seven-tab" data-toggle="tab" href="#seven" role="tab" aria-controls="seven" aria-selected="true">seven</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="eight-tab" data-toggle="tab" href="#eight" role="tab" aria-controls="eight" aria-selected="false">eight</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="seven" role="tabpanel" aria-labelledby="seven-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit Formatierung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="eight" role="tabpanel" aria-labelledby="eight-tab"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div></div>
</div>
</div><div class="sect1">
<h2 id="_2_tabs_ohne_formatierung_und_cols13">8. 2 Tabs ohne Formatierung und cols="1,3"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="nine-tab" data-toggle="tab" href="#nine" role="tab" aria-controls="nine" aria-selected="true">nine</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="ten-tab" data-toggle="tab" href="#ten" role="tab" aria-controls="ten" aria-selected="false">ten</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="nine" role="tabpanel" aria-labelledby="nine-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="tableblock">Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="ten" role="tabpanel" aria-labelledby="ten-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne Formatierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="tableblock">Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="_2_tabs_mit_formatierung_und_cols1a3a">9. 2 Tabs mit Formatierung und cols="1a,3a"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="eleven-tab" data-toggle="tab" href="#eleven" role="tab" aria-controls="eleven" aria-selected="true">eleven</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="twelve-tab" data-toggle="tab" href="#twelve" role="tab" aria-controls="twelve" aria-selected="false">twelve</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="eleven" role="tabpanel" aria-labelledby="eleven-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ohne Formatierung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mit Formatierung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="twelve" role="tabpanel" aria-labelledby="twelve-tab"><div class="paragraph">
<p>Ohne Formatierung</p>
</div></div></div>
</div>
</div><div class="sect1">
<h2 id="_2_tabs_mit_formatierung_in_beide_spalten_und_cols1a3a">10. 2 Tabs mit Formatierung in beide Spalten und cols="1a,3a"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="thirteen-tab" data-toggle="tab" href="#thirteen" role="tab" aria-controls="thirteen" aria-selected="true">thirteen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="fourteen-tab" data-toggle="tab" href="#fourteen" role="tab" aria-controls="fourteen" aria-selected="false">fourteen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="thirteen" role="tabpanel" aria-labelledby="thirteen-tab">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Mit</p>
</li>
<li>
<p>Formatierung</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lorem ipsum dolor sit amet</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mit Formatierung</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</li>
<li>
<p>Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam, sit amet tempor massa augue porttitor lacus. Etiam maximus turpis sit amet posuere pulvinar.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="fourteen" role="tabpanel" aria-labelledby="fourteen-tab"><div class="ulist">
<ul>
<li>
<p>Mit</p>
</li>
<li>
<p>Formatierung</p>
</li>
</ul>
</div></div></div>
</div>
</div>
</main>