<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_lorem_ipsum"><span>1.</span><span> Lorem Ipsum</span></a></li>
<li><a href="#_lorem_ipsum2"><span>2.</span><span> Lorem Ipsum2</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Testseite für Formatierung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite ist nicht Teil des Handbuchs.
Falls du trotzdem auf dieser Seite gelandet bist, herzlich willkommen.
Dies ist lediglich eine Testseite bezüglich eines Formatierungsproblems.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_lorem_ipsum">1. Lorem Ipsum</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaynba_6141" target="_blank" rel="noopener">eBay NBA</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.5.1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Zur Nutzung des Feedback-Plugins muss Ceres v5.0 oder höher installiert sein.</p>
</li>
<li>
<p>Nach dem Update auf v3.5.1 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab"><div class="ulist">
<ul>
<li>
<p>Zur Nutzung des Feedback-Plugins muss Ceres v5.0 oder höher installiert sein.</p>
</li>
<li>
<p>Nach dem Update auf v3.5.1 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p>
</li>
</ul>
</div></div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaynba_6141" target="_blank" rel="noopener">eBay NBA</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.5.1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Zur Nutzung des Feedback-Plugins muss Ceres v5.0 oder höher installiert sein.</p>
</li>
<li>
<p>Nach dem Update auf v3.5.1 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="_lorem_ipsum2">2. Lorem Ipsum2</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac porttitor massa. Sed gravida fermentum nunc ut auctor. Duis fermentum, lacus eu commodo luctus, mi nunc consequat diam.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaynba_6141" target="_blank" rel="noopener">eBay NBA</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.5.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zur Nutzung des Feedback-Plugins muss Ceres v5.0 oder höher installiert sein.</p>
<p class="tableblock">Nach dem Update auf v3.5.1 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaynba_6141" target="_blank" rel="noopener">eBay NBA</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.5.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zur Nutzung des Feedback-Plugins muss Ceres v5.0 oder höher installiert sein.</p>
<p class="tableblock">Nach dem Update auf v3.5.1 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaynba_6141" target="_blank" rel="noopener">eBay NBA</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.5.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zur Nutzung des Feedback-Plugins muss Ceres v5.0 oder höher installiert sein.</p>
<p class="tableblock">Nach dem Update auf v3.5.1 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</div>
</div>
</main>