<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_activating_and_changing_accounts"><span>1.</span><span> Activating and changing accounts</span></a></li>
<li><a href="#_assigning_rights"><span>2.</span><span> Assigning rights</span></a>
<ul class="sectlevel2">
<li><a href="#_assigning_menu_rights"><span>2.1.</span><span> Assigning menu rights</span></a></li>
<li><a href="#_assigning_rest_rights"><span>2.2.</span><span> Assigning REST rights</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>3.</span><span> License</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay OAuth2 <em>(old plugin)</em></h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">eBay OAuth2 plugin not required any longer</div>
<div class="paragraph">
<p>You do not need to install a plugin anymore in order to authenticate eBay accounts for OAuth2 in plentymarkets. Instead, you can now authenticate eBay accounts for OAuth2 in the <strong>Setup » Markets »  eBay » Accounts » OAuth2</strong> menu.<br>
For further information, refer to the <a href="/en/markets/ebay/ebay-setup#oauth2">Setting up eBay</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a> plugin is used for all calls that are made to the new eBay APIs. These new APIs are based on the new authentication method OAuth2 instead of the old Auth-n-Auth method. Because the new authentication method is used for more and more essential tasks, you should install the <strong>eBay OAuth2</strong> plugin while you set up eBay.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the eBay OAuth2 plugin</div>
<div class="paragraph">
<p>Download the following plugin:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can download this and other plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>eBay OAuth2</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>eBay OAuth2</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay OAuth2</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_and_changing_accounts">1. Activating and changing accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After having installed the plugin, go to <strong>Setup » Markets » eBay » OAuth2</strong> to activate new accounts for eBay. To do so, you will need your eBay access data consisting of the user name and password. When changing your eBay access data, you have to update and synchronise your account in plentymarkets. plentymarkets allows you to manage several eBay accounts. Proceed as follows to add one or more accounts:</p>
</div>
<div class="paragraph instruction">
<p>Activating an account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » eBay » OAuth2</strong>.</p>
</li>
<li>
<p>Select <strong>Add sandbox account</strong> to activate an account for a test environment.<br>
<strong><em>Or:</em></strong> Select <strong>Add production account</strong> if the new account is already productive.<br>
→ You are forwarded to eBay and have to authenticate your data.<br>
<strong><em>Important:</em></strong> Pay attention to correctly copying upper and lower case spelling when you enter the account details.<br>
→ The account is activated.<br>
→ The account is shown in the <strong>Setup » Markets » eBay » OAuth2</strong> menu.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>When activating or updating an account, a token is generated. This token is valid for 18 months. There is no automatic warning when the validity of the token expires. The token also becomes invalid if you change your eBay access data.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Setup » Markets » eBay » OAuth2</strong> to rename, update or delete accounts. For example, you have to rename your account in plentymarkets when changing your eBay user name.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_assigning_rights">2. Assigning rights</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Users with <strong>Backend</strong> access need rights for menu visibilities and REST-API to use the <strong>eBay OAuth2 plugin</strong>.</p>
</div>
<div class="paragraph">
<p>You can assign these rights in the <strong>Setup » Settings » User » Rights » User</strong> menu.</p>
</div>
<div class="sect2">
<h3 id="_assigning_menu_rights">2.1. Assigning menu rights</h3>
<div class="paragraph">
<p>You need to assign the following menu rights to users with <strong>Backend</strong> access:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Setup » Markets » eBay » OAuth2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to assign these rights to users.</p>
</div>
<div class="paragraph instruction">
<p>Assigning menu rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ A list of the user accounts is displayed.</p>
</li>
<li>
<p>Click on the <strong>user</strong> that you want to give rights.<br>
<strong><em>Tip:</em></strong> Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The <strong>Rights</strong> view opens.</p>
</li>
<li>
<p>In the column <strong>Menu visibility</strong>, expand the menu <strong>Setup » Markets » eBay</strong>.</p>
</li>
<li>
<p>Activate the option <strong>OAuth2</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_assigning_rest_rights">2.2. Assigning REST rights</h3>
<div class="paragraph">
<p>You need to assign the following REST rights to users with <strong>Backend</strong> access:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Markets » Credentials</strong></p>
<div class="ulist">
<ul>
<li>
<p>Update</p>
</li>
<li>
<p>Display</p>
</li>
<li>
<p>Create</p>
</li>
<li>
<p>Delete</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Markets » eBay » Marketplace</strong></p>
<div class="ulist">
<ul>
<li>
<p>Display</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to assign these REST rights to users.</p>
</div>
<div class="paragraph instruction">
<p>Assigning REST rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ A list of the user accounts is displayed.</p>
</li>
<li>
<p>Click on the <strong>user</strong> that you want to give rights.<br>
<strong><em>Tip:</em></strong> Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The <strong>Rights</strong> view opens.</p>
</li>
<li>
<p>In the column <strong>Authorisations</strong>, expand the menu item <strong>Markets</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Credentials</strong>.<br>
→ All sub-rights are activated.</p>
</li>
<li>
<p>In the same menu item <strong>Markets</strong>, expand the item <strong>eBay</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Marketplace</strong>.<br>
→ The right <strong>Show</strong> is activated.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">3. License</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This project is licensed under the GNU AFFERO GENERAL PUBLIC LICENSE. Find further information in the file <a href="https://github.com/plentymarkets/plugin-ebay-account-management/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>.</p>
</div>
</div>
</div>
</main>