<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_setting_up_the_ticket_import"><span>1.</span><span> Setting up the ticket import</span></a></li>
<li><a href="#_replying_to_ebay_feedback"><span>2.</span><span> Replying to eBay feedback</span></a></li>
<li><a href="#tags"><span>3.</span><span> Organising eBay feedback with tags</span></a></li>
<li><a href="#_assigning_rights"><span>4.</span><span> Assigning rights</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_owner_rights_for_the_ticket_system"><span>4.1.</span><span> Setting owner rights for the ticket system</span></a></li>
<li><a href="#_assigning_rights_for_back_end_users"><span>4.2.</span><span> Assigning rights for back end users</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay Feedback</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marketplaces/ebayfeedback_5537" target="_blank" rel="noopener">eBay Feedback</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to reply to eBay feedback.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Required plugins</div>
<div class="paragraph">
<p>To use the eBay Feedback plugin, you need the following plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marketplaces/ebayfeedback_5537" target="_blank" rel="noopener">eBay Feedback</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can download the plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>eBay Feedback</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>eBay Feedback</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay Feedback</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>eBay OAuth2</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>eBay OAuth2</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay OAuth2</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>eBay SDK</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>eBay SDK</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay SDK</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_the_ticket_import">1. Setting up the ticket import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unanswered feedback is retrieved once a day. In order for the eBay feedback to be imported to your plentymarkets system, a ticket import must be set up. Use the menu <strong>Setup » Markets » eBay » Feedback</strong> to set up the ticket import.</p>
</div>
<div class="paragraph">
<p>You can choose which feedback types should be imported into your plentymarkets system. The feedback types <strong>Positive</strong>, <strong>Neutral</strong>, and <strong>Negative</strong> are available.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the eBay feedback ticket import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » eBay » Feedback</strong>.</p>
</li>
<li>
<p>In the <strong>Settings</strong> area, activate the option <strong>Activate import</strong>.</p>
</li>
<li>
<p>In the <strong>Import feedback type</strong> area, activate the feedback types that you want to import.<br>
<strong><em>Tip:</em></strong> The feedback types <strong>Positive</strong>, <strong>Neutral</strong>, and <strong>Negative</strong> are available. You can select one, several or all feedback types for the import.</p>
</li>
<li>
<p>In the <strong>Ticket settings</strong> area, select a <strong>Client</strong> from the drop-down list.</p>
</li>
<li>
<p>In the <strong>Ticket settings</strong> area, select a <strong>Ticket role</strong> from the drop-down list.</p>
</li>
<li>
<p>In the <strong>Ticket settings</strong> area, select a <strong>Ticket type</strong> from the drop-down list.</p>
</li>
<li>
<p>In the <strong>Ticket settings</strong> area, select a <strong>Ticket status</strong> from the drop-down list.</p>
</li>
<li>
<p>In the <strong>User</strong> area, activate the option <strong>User</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_replying_to_ebay_feedback">2. Replying to eBay feedback</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Enter your reply to the eBay feedback in the ticket. Use the menu <strong>Setup » CRM » Ticket system » Events</strong> to create an event procedure to transfer your replies to eBay.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Ticket system » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.</p>
</li>
<li>
<p>Enter a for the event procedure.</p>
</li>
<li>
<p>Select an event from the drop-down list, for example <strong>New message from employee</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> and select the filters you want.</p>
</li>
<li>
<p>Click on <strong>Add procedure</strong>.</p>
</li>
<li>
<p>Add <strong>Plugins &gt; Answer eBay feedback</strong>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="tags">3. Organising eBay feedback with tags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can organise eBay feeback using tags.</p>
</div>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to be able to work with tags, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Setup &gt; Tag</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="creating-a-tag-tab" data-toggle="tab" href="#creating-a-tag" role="tab" aria-controls="creating-a-tag" aria-selected="true">Creating a tag</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="creating-a-tag" role="tabpanel" aria-labelledby="creating-a-tag-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new tag</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Carry out the settings.<br>
<strong><em>Tip:</em></strong> Expand the info boxes below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to learn more about the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The tag is created and added to the list.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The tag ID is automatically assigned and cannot be changed.
It is used to uniquely identify your tags.</p>
<p class="tableblock"><strong><em>Use case</em></strong>: Tag links can be imported.
For example, while you import item and variation data, you can also directly link the appropriate tags.
This is done, e.g. by specifying the tag ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the tag.
The name is the keyword that highlights the data record.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: The name can include spaces. As such, tag names can consist of multiple words.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What background colour should the tag text have?
There are three ways to choose the colour:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter the colour’s hexadecimal value.</p>
</li>
<li>
<p>Enter the English name for one of the 16 basic colours (black, red, silver, white, etc.)</p>
</li>
<li>
<p>Click on the square on the right and click on the colour spectrum.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-availability">Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the area <strong>Ticket</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-client">Client</strong><br>
(functional for Ceres 5.0 and higher)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In which plentyShops should the tag be visible to customers?
Select all of the appropriate webshops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Note</em></strong>: This option only appears if you <a href="#intable-availability">selected the availability Variation</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name DE</strong><br>
<strong>Name FR</strong><br>
<strong>Name IT</strong><br>
etc.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Translate the tag names into other languages.</p>
<p class="tableblock"><strong><em>Example of use</em></strong>: Variation tags can be made visible to customers in the online store.
If your online store is available in multiple languages, then the tag names should also appear in these languages.</p></td>
</tr>
</tbody>
</table>
</div></div>
<div class="paragraph">
<p>Use the search function to find specific tags.
The optional filters can be used to limit the search results:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Enter the name of the tag in the main language of your plentymarkets system.</p>
</li>
<li>
<p><strong>Section</strong> = Select one or multiple areas. The search results only show the tags for this area.</p>
</li>
<li>
<p><strong>Language</strong> = Select one ore several languages. The search results will only include tags that have a name saved in this language.</p>
</li>
</ul>
</div>
<div class="exampleblock">
<div class="content">
<div class="openblock">
<div class="content">
<div class="dlist">
<dl>
<dt class="hdlist1">Activating existing tags for ticket system</dt>
</dl>
</div>
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on the tag that you want to activate for the ticket system.</p>
</li>
<li>
<p>Activate the option <strong>Ticket system</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="openblock">
<div class="content">

</div>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Linking tags to eBay feedback:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » eBay » Feedback</strong>.<br>
→ The feedback types <strong>Positive</strong>, <strong>Neutral</strong>, and <strong>Negative</strong> are shown on the right-hand side.</p>
</li>
<li>
<p>Click on the feedback type that you want to link to a tag.<br>
→ A drop-down list containing your tags opens.</p>
</li>
<li>
<p>From the drop-down list, select the tag that you want to link to the eBay feedback type.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_assigning_rights">4. Assigning rights</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Assign the required rights for the eBay Feedback plugin.</p>
</div>
<div class="sect2">
<h3 id="_setting_owner_rights_for_the_ticket_system">4.1. Setting owner rights for the ticket system</h3>
<div class="paragraph">
<p>Users must have owner rights in order to create tickets for the feedback import. Go to <strong>Setup » Settings » User » Accounts</strong> to assign owner rights.</p>
</div>
<div class="paragraph instruction">
<p>Setting owner rights for the ticket system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the <strong>user account</strong>.</p>
</li>
<li>
<p>Click on the <strong>Owner</strong> tab.</p>
</li>
<li>
<p>Activate the option <strong>Ticket</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_assigning_rights_for_back_end_users">4.2. Assigning rights for back end users</h3>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to use the plugin, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Menu visibilities &gt; Settings &gt; Markets &gt; eBay &gt; Feedback</strong></p>
</li>
<li>
<p><strong>Menu visibilities &gt; CRM » Ticket system</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
</div>
</main>