<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_setting_up_the_ticket_import"><span>1.</span><span> Setting up the ticket import</span></a></li>
<li><a href="#_replying_to_ebay_feedback"><span>2.</span><span> Replying to eBay feedback</span></a></li>
<li><a href="#_linking_tags_to_ebay_feedback"><span>3.</span><span> Linking tags to eBay feedback</span></a></li>
<li><a href="#_assigning_rights"><span>4.</span><span> Assigning rights</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_owner_rights_for_the_ticket_system"><span>4.1.</span><span> Setting owner rights for the ticket system</span></a></li>
<li><a href="#_assigning_rights_for_back_end_users"><span>4.2.</span><span> Assigning rights for back end users</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay Feedback</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marketplaces/ebayfeedback_5537" target="_blank" rel="noopener">eBay Feedback</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to reply to eBay feedback.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Required plugins</div>
<div class="paragraph">
<p>To use the eBay Feedback plugin, you need the following plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marketplaces/ebayfeedback_5537" target="_blank" rel="noopener">eBay Feedback</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can download the plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay Feedback</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay Feedback</strong> from the plugin list.<br>
→ Information about <strong>eBay Feedback</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay OAuth2</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay OAuth2</strong> from the plugin list.<br>
→ Information about <strong>eBay OAuth2</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay SDK</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay SDK</strong> from the plugin list.<br>
→ Information about <strong>eBay SDK</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_the_ticket_import">1. Setting up the ticket import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unanswered feedback is retrieved once a day. In order for the eBay feedback to be imported to your plentymarkets system, a ticket import must be set up. Use the menu <strong>Setup » Markets » eBay » Feedback</strong> to set up the ticket import.</p>
</div>
<div class="paragraph">
<p>You can choose which feedback types should be imported into your plentymarkets system. The feedback types <strong>Positive</strong>, <strong>Neutral</strong>, and <strong>Negative</strong> are available.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the eBay feedback ticket import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » eBay » Feedback</strong>.</p>
</li>
<li>
<p>In the <strong>Settings</strong> area, activate the option <strong>Activate import</strong>.</p>
</li>
<li>
<p>In the <strong>Import feedback type</strong> area, activate the feedback types that you want to import.<br>
<strong><em>Tip:</em></strong> The feedback types <strong>Positive</strong>, <strong>Neutral</strong>, and <strong>Negative</strong> are available. You can select one, several or all feedback types for the import.</p>
</li>
<li>
<p>In the <strong>Ticket settings</strong> area, select a <strong>Client</strong> from the drop-down list.</p>
</li>
<li>
<p>In the <strong>Ticket settings</strong> area, select a <strong>Ticket role</strong> from the drop-down list.</p>
</li>
<li>
<p>In the <strong>Ticket settings</strong> area, select a <strong>Ticket type</strong> from the drop-down list.</p>
</li>
<li>
<p>In the <strong>Ticket settings</strong> area, select a <strong>Ticket status</strong> from the drop-down list.</p>
</li>
<li>
<p>In the <strong>User</strong> area, activate the option <strong>User</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_replying_to_ebay_feedback">2. Replying to eBay feedback</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Enter your reply to the eBay feedback in the ticket. Use the menu <strong>Setup » CRM » Ticket system » Events</strong> to create an event procedure to transfer your replies to eBay.</p>
</div>
<div class="paragraph instruction">
<p><mark>#</mark>## Setting up an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Ticket system » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.</p>
</li>
<li>
<p>Enter a for the event procedure.</p>
</li>
<li>
<p>Select an event from the drop-down list, e.g. <strong>New message from employee</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> and select the filters you want.</p>
</li>
<li>
<p>Click on <strong>Add procedure</strong>.</p>
</li>
<li>
<p>Add <strong>Plugins &gt; Answer eBay feedback</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_linking_tags_to_ebay_feedback">3. Linking tags to eBay feedback</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to link tags to eBay feedback. n order to link your tags to eBay feedback types, you have to activate those tags for the ticket system first. This is done in the <strong>Setup » Settings » Tags</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating tags for the ticket system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on the tag that you want to activate for the ticket system.</p>
</li>
<li>
<p>Activate the option <strong>Ticket system</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking tags to eBay feedback:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » eBay » Feedback</strong>.<br>
→ The feedback types <strong>Positive</strong>, <strong>Neutral</strong>, and <strong>Negative</strong> are shown on the right-hand side.</p>
</li>
<li>
<p>Click on the feedback type that you want to link to a tag.<br>
→ A drop-down list containing your tags opens.</p>
</li>
<li>
<p>From the drop-down list, select the tag that you want to link to the eBay feedback type.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_assigning_rights">4. Assigning rights</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Assign the required rights for the eBay Feedback plugin.</p>
</div>
<div class="sect2">
<h3 id="_setting_owner_rights_for_the_ticket_system">4.1. Setting owner rights for the ticket system</h3>
<div class="paragraph">
<p>Users must have owner rights in order to create tickets for the feedback import. Go to <strong>Setup » Settings » User » Accounts</strong> to assign owner rights.</p>
</div>
<div class="paragraph instruction">
<p>Setting owner rights for the ticket system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the <strong>user account</strong>.</p>
</li>
<li>
<p>Click on the <strong>Owner</strong> tab.</p>
</li>
<li>
<p>Activate the option <strong>Ticket</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_assigning_rights_for_back_end_users">4.2. Assigning rights for back end users</h3>
<div class="paragraph">
<p>Users of the user class <strong>Back end</strong> need menu rights to use the <strong>eBay Feedback</strong> plugin.</p>
</div>
<div class="paragraph">
<p>Use the <strong>Setup » Settings » User » Accounts » User account » Tab: Right</strong> menu to assign rights.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Use the filter function to search for users of the user class <strong>Back end</strong>. To do so, go to the tab <strong>Filter</strong> and select the filter <strong>Back end</strong> within the drop-down list <strong>Class</strong>. Click on <strong>Search</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Assigning rights for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on the <strong>user</strong> that you want to give rights to.</p>
</li>
<li>
<p>Go to <strong>Tab: Right » Tab: Menu</strong>.</p>
</li>
<li>
<p>Activating the required rights:</p>
<div class="ulist">
<ul>
<li>
<p>Settings » Markets » eBay » <strong>Feedback</strong></p>
</li>
<li>
<p>CRM » <strong>Ticket system</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>