<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_video_tutorial"><span>1.</span><span> Video tutorial</span></a></li>
<li><a href="#_analysing_the_listing_performance"><span>2.</span><span> Analysing the listing performance</span></a></li>
<li><a href="#_filtering_the_report_by_metrics"><span>3.</span><span> Filtering the report by metrics</span></a></li>
<li><a href="#_analysing_the_account_perfomance"><span>4.</span><span> Analysing the account perfomance</span></a></li>
<li><a href="#_assigning_rights"><span>5.</span><span> Assigning rights</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay Analytics</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The eBay Analytics plugin creates reports to analyse your listing performance. Reports can be created for individual listings or eBay accounts.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Required plugins</div>
<div class="paragraph">
<p>To create eBay Analytics reports, you need the following plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>link:https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/ebayanalytics_5144^]&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can download the plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay Analytics</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay Analytics</strong> from the plugin list.<br>
→ Information about <strong>eBay Analytics</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay OAuth2</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay OAuth2</strong> from the plugin list.<br>
→ Information about <strong>eBay OAuth2</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay SDK</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay SDK</strong> from the plugin list.<br>
→ Information about <strong>eBay SDK</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_video_tutorial">1. Video tutorial</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Find out more about eBay Analytics in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="title">eBay Analytics</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/240959695" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_analysing_the_listing_performance">2. Analysing the listing performance</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>Listings » eBay listings performance</strong> to create reports for listings.</p>
</div>
<div class="paragraph instruction">
<p>Creating a report for the listing performance:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Listings » eBay listings performance</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new report</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-ebay-analytics-create-report">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The process starts automatically after a few minutes.</p>
</li>
</ol>
</div>
<table id="table-ebay-analytics-create-report" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a report for the listing performance</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platform</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the eBay platform.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the eBay account.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the report.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the start date. The start day may not be older than 30 days. The date range may not exceed 30 days.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The end date must be later than the selected start date. The date range may not exceed 30 days.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listings</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Add the listings you want to include to the report by clicking on the plus icon. Up too 100 listings are allowed per report.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_filtering_the_report_by_metrics">3. Filtering the report by metrics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once the report is created, you can filter the report by metrics. The metrics listed in <a href="#table-ebay-analytics-metrics">Table 2</a> are available:</p>
</div>
<table id="table-ebay-analytics-metrics" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Filtering the report by metrics</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Metric</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Click through rate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a buyer saw a listing impression and then clicked through to the listing page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing impressions from the search results page</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times the seller’s listings appeared on the search results page. However, the listing might not have been visible to the buyer because of its position on the page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing impressions from your store</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times the seller’s listing appeared in the eBay shop. However, the listing might not have been visible to the buyer because of its position on the page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total listing impressions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The total number of times the seller’s listings appeared in the search results page or the seller’s store. If the listing appeared in both places, it is counted each time. However, the listing might not have been visible to the buyer because of its position on the page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Direct views</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a seller’s listing was viewed directly, such as when a buyer uses a bookmark.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Off eBay views</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a seller’s listing was viewed from a site other than eBay, such as when a buyer clicks on a link to the listing from a Google search page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Views from non-search and non-store pages within eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a seller’s listing was viewed from an eBay page, other than the search results page or the seller’s store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Views from the search results page</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a seller’s listing was viewed by clicking on a link that was on the search results page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Views from your Store</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a seller’s listing was viewed by clicking on a link that was on the seller’s store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total views</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Total number of listings viewed</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales conversion rate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of transactions divided by the number of listings views.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transactions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of transactions per offer, irrespective of the quantity.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_analysing_the_account_perfomance">4. Analysing the account perfomance</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>Listings » eBay account performance</strong> to create reports for an eBay account.</p>
</div>
<div class="paragraph instruction">
<p>Creating a report for the account performance:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Listings » eBay account performance</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-ebay-analytics-report">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-ebay-analytics-report" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Creating a report for the account performance</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platform</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the eBay platform.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the eBay account.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the start date. The start date must be before the selected end date. The date range may not exceed 30 days.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The end date must be later than the selected start date. The date range may not exceed 30 days.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Metric</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select metric.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Click through rate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a buyer saw a listing impression and then clicked through to the listing page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing views</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a buyer clicked on a listing page.<br>
For the metric <strong>Listing views</strong>, 6 view metrics are shown in the report: direct views, off eBay views, views from non-search and non-store pages within eBay, views from the search results page, views from your store, and total views.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If you have selected the metrics <strong>Listing views</strong> or <strong>Impressions</strong> for the report of the account performance, you can show or hide further metrics within the report by clicking on the metrics.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Impressions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of times a buyer saw a listing impression. At this point, a buyer is only one click removed from the listing page.<br></p>
</div>
<div class="paragraph">
<p>For the metric <strong>Impressions</strong>, 3 impressions metrics are shown in the report: Listing impressions from the search results page, Listing impressions from your store and non-store pages within eBay, and total number of impressions.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If you have selected the metrics <strong>Listing views</strong> or <strong>Impressions</strong> for the report of the account performance, you can show or hide further metrics within the report by clicking on the metrics.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales conversion rate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of transactions divided by the number of listings views.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transactions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The number of transactions per offer, irrespective of the quantity.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_assigning_rights">5. Assigning rights</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Users with <strong>Backend</strong> access need rights for menu visibilities and REST-API to use the <strong>eBay Analytics plugin</strong>.</p>
</div>
<div class="paragraph">
<p>Users with <strong>Backend</strong> access need the rights listed in <a href="#table-ebay-analytics-rights">Table 4</a>.</p>
</div>
<table id="table-ebay-analytics-rights" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Required rights</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Area</th>
<th class="tableblock halign-left valign-top">Rights</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menu visibilities</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Listings</strong> and all subordinate rights</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">REST API rights</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Listing » <strong>Market listing</strong> and all subordinate rights</p>
</li>
<li>
<p>Listing » Shipping profile » <strong>Show listing</strong></p>
</li>
<li>
<p>Listing » <strong>Update listing</strong></p>
</li>
<li>
<p>Markets » <strong>Credentials</strong> and all subordinate rights</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Use the filter function to search for users of the user class <strong>Back end</strong>. To do so, go to the tab <strong>Filter</strong> and select the filter <strong>Back end</strong> within the drop-down list <strong>Class</strong>. Click on <strong>Search</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Click on the user that you want to assign rights to.</p>
</li>
<li>
<p>In the areas <strong>Authorisations</strong> and <strong>Menu visibilities</strong>, activate the rights listed in <a href="#table-ebay-analytics-rights">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</main>