<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_creating_an_ebay_promotion"><span>1.</span><span> Creating an eBay promotion</span></a>
<ul class="sectlevel2">
<li><a href="#_importing_promotions"><span>1.1.</span><span> Importing promotions</span></a></li>
<li><a href="#_starting_the_promotion"><span>1.2.</span><span> Starting the promotion</span></a></li>
</ul>
</li>
<li><a href="#_creating_ebay_campaigns"><span>2.</span><span> Creating eBay Campaigns</span></a></li>
<li><a href="#_required_rights_for_the_ebay_marketing_plugin"><span>3.</span><span> Required rights for the eBay Marketing plugin</span></a>
<ul class="sectlevel3">
<li><a href="#_required_rights_for_the_ebay_marketing_plugin_2"><span>3.1.</span><span> Required rights for the eBay Marketing plugin</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay Marketing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the plugin <a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/ebaymarketing_5158" target="_blank" rel="noopener">eBay Marketing</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to create promotions such as order discounts. Promotions can be created for individual or several listings.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Required plugins</div>
<div class="paragraph">
<p>You need the following plugins to create campaigns and promotions:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/ebaymarketing_5158" target="_blank" rel="noopener">eBay Marketing</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can download the plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay Marketing</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay Marketing</strong> from the plugin list.<br>
→ Information about <strong>eBay Marketing</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay OAuth2</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay OAuth2</strong> from the plugin list.<br>
→ Information about <strong>eBay OAuth2</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>eBay SDK</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>eBay SDK</strong> from the plugin list.<br>
→ Information about <strong>eBay SDK</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_an_ebay_promotion">1. Creating an eBay promotion</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Running promotions is a great way to attract more customers and increase basket size.</p>
</div>
<div class="paragraph">
<p>Find out more about eBay promotions in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="title">eBay promotions</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/240810586" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Use the menu <strong>Listings » eBay Promotions</strong> to create promotions.</p>
</div>
<div class="paragraph instruction">
<p>Creating promotions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Listings » eBay Promotions</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new promotion</strong>.</p>
</li>
<li>
<p>Carry out the settings for the sections <strong>Basic settings</strong>, <strong>Rules</strong> and <strong>Inventory</strong> as described in <a href="#ebay-marketing-campaigns">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The promotion is saved but not yet started.</p>
</li>
</ol>
</div>
<table id="ebay-marketing-campaigns" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for campaigns</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Column header</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: <strong>Basic settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platform</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the eBay platform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the eBay account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the promotion. Max. 90 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an additional description to the promotion that will be displayed in the promotion’s overview. Max. 50 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the priority for the positioning in the promotion overview on eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the start date with the start time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the end date with end time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: <strong>Rules</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rule</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a rule and enter values. Only one rule is allowed per promotion.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Minimum spend</strong> = Volume discount for a minimum order value encourages buyers to buy multiple items and thus increases the order value.</p>
</li>
<li>
<p><strong>Minimum order quantity</strong> = Discounts for a minimum quantity increase the order value per shopping cart.</p>
</li>
<li>
<p><strong>Buy one get one</strong></p>
</li>
<li>
<p><strong>No minimum purchase</strong></p>
</li>
<li>
<p><strong>Volume pricing</strong> = The more items a buyer purchases, the larger the discount. Volume pricing encourages buyers to buy more than one item.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Enter a number into the <strong>From quantity</strong> field.</p>
</li>
<li>
<p>Enter a number for the discount in percent into the <strong>Percentage</strong> field.<br></p>
<div class="ulist">
<ul>
<li>
<p>In the first field, enter a <strong>quantity</strong> of <strong>1</strong>. The <strong>percentage</strong> has to be <strong>0</strong>%.</p>
</li>
<li>
<p>In the second field, enter a <strong>quantity</strong> of <strong>2</strong> and a <strong>percentage</strong> between <strong>5</strong>-<strong>79</strong>%.</p>
</li>
<li>
<p>In the third field, enter a <strong>quantity</strong> of <strong>3</strong> and a <strong>percentage</strong> between <strong>6</strong>-<strong>80</strong>%.</p>
</li>
<li>
<p>In the fourth field, enter a <strong>quantity</strong> of <strong>4</strong> and a <strong>percentage</strong> higher than the value entered in the third field.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: <strong>Inventory</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Only one type is allowed per promotion.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>All</strong></p>
</li>
<li>
<p><strong>eBay categories</strong></p>
</li>
<li>
<p><strong>Store categories</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Use as many categories as you like for store and eBay categories. Use the additional filters <strong>Brand</strong> and/or <strong>Condition</strong> for all three types if needed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exclude listings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To exclude listings from the promotion, enter the listing’s ID or the SKU. A maximum of 100 listings can be excluded. The preview lists all listings that are included in the promotion. The list contains the listing IDs and SKUs which can be entered in the <strong>Exclude listings</strong> area separated by commas.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_importing_promotions">1.1. Importing promotions</h3>
<div class="paragraph">
<p>You can only import promotions for which the listings were selected by creating rules. Note that promotions for which listings were selected individually can currently not be imported.</p>
</div>
</div>
<div class="sect2">
<h3 id="_starting_the_promotion">1.2. Starting the promotion</h3>
<div class="paragraph">
<p>Once the promotion was created and saved, it has the status <strong>Draft</strong>. Click on <strong>Start</strong> to start the promotion. Depending on the start date, the promotion switches to the status <strong>Scheduled</strong> or <strong>Active</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Promotions can only be edited and changed if they have the status <strong>Draft</strong> or <strong>Scheduled</strong>. No changes can be made once a promotion has the status <strong>Paused</strong>, <strong>Active</strong>, or <strong>Ended</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Promotions can have the following status:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Draft:</strong> Promotion can be edited, started or deleted.</p>
</li>
<li>
<p><strong>Scheduled:</strong> Promotion can be edited, paused or deleted.</p>
</li>
<li>
<p><strong>Active:</strong> Promotion can be paused or deleted.</p>
</li>
<li>
<p><strong>Paused:</strong> Promotion can be resumed or deleted.</p>
</li>
<li>
<p><strong>Ended:</strong> Promotion can be deleted.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>It is not possible to restart a promotion that has already ended.
As soon as a promotion is deleted in plentymarkets it will also be deleted on eBay.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_ebay_campaigns">2. Creating eBay Campaigns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Running campaigns is a great way to attract more customers.</p>
</div>
<div class="paragraph">
<p>Find out more about eBay campaigns in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="title">eBay campaigns</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/247274424" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Use the menu <strong>Listings » eBay Campaigns</strong> to create and edit campaigns.</p>
</div>
<div class="paragraph instruction">
<p>Creating a campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Listings » eBay Campaigns</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new campaign</strong>.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#ebay-marketing-campaign-create">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The campaign will be saved and automatically started based on the start date.</p>
</li>
</ol>
</div>
<table id="ebay-marketing-campaign-create" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for campaigns</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Column header</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platform</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the eBay platform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the eBay account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the campaign. Max. 80 characters.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Percentage</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the percentage which you are willing to pay for the campaign. Min. 1%, max. 20% of the sales price.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start date</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the start date with start time.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End date</strong></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Once a campaign is created, add ads. You can add up to 25.000 ads per campaign. An ad can only be in one campaign at a time.</p>
</div>
<div class="paragraph instruction">
<p>Adding ads:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Listings » eBay Campaigns</strong>.</p>
</li>
<li>
<p>Open the campaign for which you want to add ads.</p>
</li>
<li>
<p>Click on <strong>Ads</strong>.</p>
</li>
<li>
<p>Click on <strong>Add ads</strong>.</p>
</li>
<li>
<p>Select an active listings for the ad.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Campaigns can have the following status:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Scheduled:</strong> Campaign can be edited. The campaign starts automatically based on the start date.</p>
</li>
<li>
<p><strong>Active:</strong> Campaign has started. Campaign can be edited, paused and ended.</p>
</li>
<li>
<p><strong>Paused:</strong> Campaign can be restarted, edited and ended.</p>
</li>
<li>
<p><strong>Ending soon:</strong> End date reached or manually ended.  The ending is in process and may last a few hours. Campaigns in this status cannot be edited.</p>
</li>
<li>
<p><strong>Ended:</strong> Campaign can be deleted. The campaign cannot be restarted.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_required_rights_for_the_ebay_marketing_plugin">3. Required rights for the eBay Marketing plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Users with <strong>Backend</strong> access need rights for menu visibilities and REST-API to use the <strong>eBay Marketing plugin</strong>.</p>
</div>
<div class="paragraph">
<p>Open the <strong>Setup » Settings » User » Rights » User</strong> menu to assign rights.</p>
</div>
<div class="sect3">
<h4 id="_required_rights_for_the_ebay_marketing_plugin_2">3.1. Required rights for the eBay Marketing plugin</h4>
<div class="paragraph">
<p>Users with <strong>Backend</strong> access require the rights listed in <a href="#table-ebay-marketing-rights">Table 3</a>.</p>
</div>
<table id="table-ebay-marketing-rights" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Required rights</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menu visibility rights</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Listings</strong> and all subordinate rights</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">REST-API rights</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Listing » <strong>Market listing</strong> and all subordinate rights</p>
</li>
<li>
<p>Listing » <strong>Show listing</strong></p>
</li>
<li>
<p>Listing » Listing type » <strong>Update listing</strong></p>
</li>
<li>
<p>Markets » <strong>Credentials</strong> and all subordinate rights</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Click on the <strong>user</strong> that you want to assign rights to.</p>
</li>
<li>
<p>In the areas <strong>Authorisations</strong> and <strong>Menu visibilities</strong>, activate the rights listed in <a href="#table-ebay-marketing-rights">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>