<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_artikelexport_spalte_free_text_field_befüllen"><span>1.</span><span> Artikelexport: Spalte free_text_field befüllen</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>1.1.</span><span> Merkmal einrichten</span></a></li>
<li><a href="#200"><span>1.2.</span><span> Merkmal mit Artikel verknüpfen</span></a></li>
<li><a href="#300"><span>1.3.</span><span> Merkmal bei idealo zuordnen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: idealo</h1><div class="sect1">
<h2 id="_artikelexport_spalte_free_text_field_befüllen">1. Artikelexport: Spalte <em>free_text_field</em> befüllen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Spalte <strong>free_text_field</strong>, die im Plugin-Format <a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportidealode_4723" target="_blank" rel="noopener">IdealoDE</a> enthalten ist, hat keine festgeschriebene Funktion und kann von jedem Händler individuell genutzt werden. Dies funktioniert, indem man dieses Feld bei idealo für den Abgleich einer bestimmten Information zuordnen lassen kann.</p>
</div>
<div class="paragraph">
<p><strong>Einschränkung:</strong> Dieses Feld kann nur <strong>eine</strong> Zuordnung für idealo haben. D.h. <strong>free_text_field</strong> kann nicht für einen Artikel als z.B. spezielle Versandkosten und für einen anderen Artikel als z.B. Artikelname verwendet werden.</p>
</div>
<div class="sect2">
<h3 id="100">1.1. Merkmal einrichten</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wähle ein Merkmal:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><em>Option 1</em>: Wähle ein bestehendes Merkmal vom Merkmaltyp <strong>Text</strong> oder <strong>Auswahl</strong>.</p>
</li>
<li>
<p><em>Option 2</em>: Lege ein neues Merkmal vom Merkmaltyp <strong>Text</strong> oder <strong>Auswahl</strong> an.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Aktiviere die Verknüpfung des Merkmals für idealo.</p>
</li>
</ol>
</div>
<div id="merkmalverknüpfung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-idealo-free-text-field-market-link.png" alt="Verknüpfung im Merkmal">
</div>
<div class="title">Bild 1. Verknüpfung im Merkmal</div>
</div>
</div>
<div class="sect2">
<h3 id="200">1.2. Merkmal mit Artikel verknüpfen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Merkmale</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Weitere Merkmale aktivieren</strong> das eben eingerichtete Merkmal.</p>
</li>
<li>
<p><strong>Speichere</strong> den Artikel.</p>
</li>
<li>
<p>Gib den gewünschten Wert in der gewünschten Sprache im Bereich <strong>Merkmale</strong> ein. Die Sprache sollte mit der Sprache übereinstimmen, die im angelegten Elastischen Export in den Formateinstellungen gewählt wurde.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.3. Merkmal bei idealo zuordnen</h3>
<div class="paragraph">
<p>Für die Zuordnung der Spalte <strong>free_text_field</strong> kontaktiert bitte eure entsprechenden Ansprechpartner bei idealo. Diese können die Zuordnung für Euch einrichten.</p>
</div>
</div>
</div>
</div>
</main>