<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Data formats</h1><div class="paragraph">
<p>On this page of the manual, you will find a list of all data formats that are available in your plentymarkets system as well as a short description. Most of these data formats can be used for both export and import. First, you create the formats in the <strong>Data exchange » Export » Dynamic export</strong> menu. Then you export the formats to edit them. Finally, you import the formats back to your system. To do so, go to <strong>Data exchange » Import » Dynamic import</strong>.</p>
</div><div class="paragraph">
<p>Using these export formats, you can export item, customer, order and sales data, for example. Go to <a href="/en/order-processing/orders/_accounting"><strong>Settings » Client (store) » Standard » Locations » Select location » Accounting</strong></a> and enter all of your accounting data before exporting your sales data. This has to be done in order for plentymarkets to generate the <strong><a href="/en/order-processing/orders/_accounting">posting keys</a></strong>.</p>
</div><div class="paragraph">
<p>Table 1 lists all data formats that are available in plentymarkets. If not stated otherwise, you can use the data formats for both import and export.</p>
</div><div class="paragraph">
<p>On the sub-page of each data format, you will find a list of the data fields and their explanation as well as possible filter options and procedures. Furthermore, information about mandatory fields and mandatory synchronisation fields can be found there.</p>
</div><div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Pay attention to the correct spelling and to mandatory fields</div>
<div class="paragraph">
<p>Make sure that you adhere to the correct spelling. Otherwise the data cannot be processed.<br>
Mandatory fields must be available and a valid value must be entered. Mandatory synchronisation fields must be set for data synchronisation. For some synchronisation fields, alternative fields are available.</p>
</div>
</td>
</tr>
</tbody></table>
</div><table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Data formats</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data format</th>
<th class="tableblock halign-left valign-top">plenty version</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/attribute">Attribute</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data format is used for attributes and attribute values. It does not create a link to the item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/attributeitemvariation">AttributeItemVariation</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import item variations. For further information, refer to the <strong><a href="/en/basics/data-exchange/importing-data#60">Importing variations</a></strong> chapter.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/campaigncoupon">CampaignCoupon</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import coupon codes. Coupon codes are saved in the <strong>Orders » Coupons</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/category">Category</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to create and edit item categories. This data format is well suited for translating <a href="/en/item/managing-categories"><strong>category</strong></a> names.<br>
<em><strong>Example</strong></em>: For the translation from English into German simply export all of the categories in the language <strong>en</strong>. Translate the category names and change the value in the <strong>lang</strong> column to <strong>de</strong>. Then import the file back into the system.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/creditnote">CreditNote</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export credit notes, e.g. for statistical purposes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/customer">Customer</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import <strong><a href="/en/crm/managing-customer-data">customer master data</a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/customernewsletter">CustomerNewsletter</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import customer data that receive the newsletter.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/customernote">CustomerNote</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import notes that were created in the customer data record. <a href="/en/crm/managing-customer-data#1600"><strong>Notes</strong></a> can be found in the corresponding tab in the customer data record.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/customerproperty">CustomerProperty</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import customer properties. The customer characteristics are saved in the <a href="/en/crm/managing-customer-data#400"><strong>Settings » Customer » Characteristics</strong></a> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/customerpropertylink">CustomerPropertyLink</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to link customer properties to certain customers. The customer properties are saved in the <a href="/en/crm/managing-customer-data#400"><strong>Settings » Customer » Characteristics</strong></a> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/customerset">CustomerSet</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to create new <a href="/en/crm/managing-customer-data#800"><strong>customer data records</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/ebaytitlematch">EbayTitleMatch</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to link listing titles to certain items. With this link, listings that were set up with other tools can be imported into plentymarkets and can be automatically assigned to the correct items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/ebaypartsfitment#1-1">EbayPartsFitmentDE</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to link data from the <strong><a href="/en/omni-channel/multi-channel/ebay#1150">parts compatibility listing</a></strong> to an eBay listing for the platform eBay Germany.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/ebaypartsfitment#1-2">EbayPartsFitmentUK</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to link data from the <strong><a href="/en/omni-channel/multi-channel/ebay#1150">parts compatibility listing</a></strong> to an eBay listing for the platform eBay UK.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/ebaypartsfitment#1-3">EbayPartsFitmentCOM</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to link data from the <strong><a href="/en/omni-channel/multi-channel/ebay#1150">parts compatibility listing</a></strong> to an eBay listing for the platform eBay USA.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/incomingitems"><strong>IncomingItems</strong></a><br>
(for import only)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This special format is used to import incoming items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/item">Item</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import item data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itembundle">ItemBundle</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import <a href="/en/item/managing-items#920"><strong>item bundle data</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemcategories">ItemCategories</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import item category links.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemcrossselling">ItemCrossSelling</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import <strong><a href="/en/item/managing-items">cross-selling items</a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemdealer">ItemDealer</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Up to six suppliers can be assigned to an item. The corresponding data is exported, edited and imported with this data format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemimage">ItemImage</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit, import and delete the options for item images that are linked in an item’s <a href="/en/item/managing-items#660"><strong>Images</strong></a> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemimagename">ItemImageName</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to edit or delete the item image names and alternative names for item images that are linked in an item’s <a href="/en/item/managing-items#660"><strong>Images</strong></a> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemimagereference">ItemImageReference</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import the image availabilities for item images that are linked in an item’s <a href="/en/item/managing-items#660"><strong>Images</strong></a> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemlistingmarket">ItemListingMarket</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to create new listings or edit existing ones. You can change or delete individual parameters.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemlistingmarketebay">ItemListingMarketEbay</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to create new eBay listings or edit existing ones. You can change or delete individual parameters.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemlistingmarkethistory">ItemListingMarketHistory</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export active listings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemlistingmarkethood">ItemListingMarketHood</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to create new Hood listings or edit existing ones. You can change or delete individual parameters.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemlistingmarketricardo">ItemListingMarketRicardo</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to create new ricardo listings or edit existing ones. You can change or delete individual parameters.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemMarketIdentNumber</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to save ASINs and ePIDs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemparcelservicepreset">ItemParcelServicePreset</a></strong><br>
(for import only)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This special format is used to import <a href="/en/order-processing/fulfilment/preparing-the-shipment#1000"><strong>shipping profiles</strong></a> that are activated in the item’s <a href="/en/item/managing-items#40"><strong>Global</strong></a> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemprice">ItemPrice</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to create, edit or delete price sets for items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemproperties">ItemProperties</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to edit item property links via data exchange. You can use it to import, edit and/or export item property links.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/itemwarehouse">ItemWarehouse</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import the warehouse configuration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/order">Order</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/ordercomplete">OrderComplete</a></strong><br>
(for export only)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/orderitems">OrderItems</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import <a href="/en/order-processing/orders/managing-sales-orders#changing-order0"><strong>stock units</strong></a> of an order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/orderlistforfulfillment">OrderListForFulfillment</a></strong><br>
(for export only)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export order data for fulfilment processes, e.g. lists of delivery addresses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/producer">Producer</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import manufacturer data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/serialkeys">SerialKeys</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import <a href="/en/item/managing-items#820"><strong>serial numbers</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/stock"><strong>Stock</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to exchange <a href="/en/basics/data-exchange/importing-data#120"><strong>stock</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variation"><strong>Variation</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import variation data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variationbundle"><strong>VariationBundle</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import <a href="/en/item/managing-items#920"><strong>variation bundles</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variationcategories"><strong>VariationCategories</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import variation category links.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variationmarketidentnumber"><strong>VariationMarketIdentNumber</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to save ASINs and ePIDs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variationmarketlink"><strong>VariationMarketLink</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to link the variations with markets in order that these variations are available for the <a href="/en/item/managing-items#235"><strong>market</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variationsalesprice"><strong>VariationSalesPrice</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to create, edit or delete sales prices for items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variationsupplier"><strong>VariationSupplier</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to assign variations to suppliers and to export, edit and import this data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variationwarehouse"><strong>VariationWarehouse</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export, edit and import the warehouse configuration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/data-exchange/data-formats/variationwebstorelink"><strong>VariationWebstoreLink</strong></a></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to link the variations with you online store in order that these variations are visible in your online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="/en/basics/data-exchange/data-formats/warehouse">Warehouse</a></strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>6 and 7</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This data format is used to export data that is required for warehouse configuration.</p>
</div></div></td>
</tr>
</tbody>
</table>
</main>