<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_dropbox"><span>1.</span><span> General information about Dropbox</span></a></li>
<li><a href="#_functions_in_plentymarkets"><span>2.</span><span> Functions in plentymarkets</span></a></li>
<li><a href="#_linking_plentymarkets_to_a_dropbox_account"><span>3.</span><span> Linking plentymarkets to a Dropbox account</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Dropbox</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Settings » Services » Dropbox</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_dropbox">1. General information about Dropbox</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.dropbox.com/" target="_blank" rel="noopener">Dropbox</a> is a cloud service. It allows you to save, share and jointly work on files in the cloud. You can access files saved in your Dropbox account from any computer or mobile device. In the <strong>Dropbox</strong> menu, you can link plentymarkets to your Dropbox account. You can then exchange data between plentymarkets and your Dropbox account.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_functions_in_plentymarkets">2. Functions in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Linking to your Dropbox account allows you to export and import designs in the <a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design">CMS » Web design</a> menu. When exporting designs, files are saved in your Dropbox account in a file structure. Because the files are exported in TXT format, they can also be edited on mobile devices. After editing, you need to import the design into your plentymarkets system for the changes to take effect.</p>
</div>
<div class="paragraph">
<p>Exporting designs allows you to give a service provider access to your design files via Dropbox without them accessing your system. You can manage access rights in the settings of your Dropbox account. If necessary, a file history allows you to revert to previous versions of a file.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_linking_plentymarkets_to_a_dropbox_account">3. Linking plentymarkets to a Dropbox account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need a Dropbox account to link to plentymarkets. You can link an existing Dropbox account or create a new account during the process. Proceed as described below to link plentymarkets to a Dropbox account.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Allow pop-ups in the browser settings</div>
<div class="paragraph">
<p>When you link plentymarkets to your Dropbox account, a new browser page opens as a pop-up. A pop-up blocker may prevent this page from being opened. Therefore, check your browser settings and temporarily allow pop-ups for your plentymarkets backend before you link the Dropbox account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Client-Global-Settings-Services-Dropbox-01.png" alt="EN Client Global Settings Services Dropbox 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: linking a Dropbox account</em></p>
</div>
<div class="paragraph instruction">
<p>Linking plentymarkets to a Dropbox account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Services » Dropbox</strong>.</p>
</li>
<li>
<p>Click on <strong>Get code</strong> (image 1, number 1).<br>
→ A new browser tab will open.</p>
</li>
<li>
<p>In this browser tab, enter the access data for your existing Dropbox account or click on <strong>New to Dropbox? Create an account</strong> if you do not yet have a Dropbox account.</p>
</li>
<li>
<p>Click on <strong>Allow</strong> to confirm that plentymarkets can access the data and folders in your Dropbox account.<br>
→ A code will be displayed.</p>
</li>
<li>
<p>Copy the code to the clipboard (<strong>Ctrl + C</strong> or <strong>Cmd + C</strong>).</p>
</li>
<li>
<p>Switch back to your plentymarkets backend.</p>
</li>
<li>
<p>Paste the code from the clipboard into the <strong>Code</strong> field (<strong>Ctrl + V</strong> or <strong>Cmd + V</strong>, image 1, number 2).</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings (image 1, number 3).<br>
→ The pop-up window will be closed.</p>
</li>
<li>
<p>If desired, change the name of the <strong>base folder</strong> that is created in your Dropbox account. This folder is later used for exports and imports.</p>
</li>
<li>
<p><strong>Save</strong> the settings. (image 1, number 4)<br>
→ plentymarkets is linked to your Dropbox account. Your Dropbox account is displayed in the <strong>Linked account</strong> field when you open the menu again.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Linked account not displayed yet?</div>
<div class="paragraph">
<p>Reload the menu if you have linked your account but the e-mail address of the Dropbox account is not yet displayed next to the <strong>Linked account</strong> option.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Removing the link to Dropbox</div>
<div class="paragraph">
<p>You can remove the link to your Dropbox account by clicking on <strong>Get code</strong> again (image 1). In the <strong>Save code</strong> window, leave the <strong>Code</strong> field blank and save. Reload the menu. The <strong>Linked account</strong> and <strong>Base folder</strong> fields are now empty and your Dropbox account is no longer linked. You can now link the same or a different Dropbox account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>