<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#05"><span>1.</span><span> Customising a file for data exchange</span></a></li>
<li><a href="#10"><span>2.</span><span> Exporting predefined data formats</span></a></li>
<li><a href="#20"><span>3.</span><span> Exporting customised data formats</span></a></li>
<li><a href="#30"><span>4.</span><span> Exporting data formats for price search engines</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>4.1.</span><span> Registering with the price search engine</span></a></li>
<li><a href="#50"><span>4.2.</span><span> Overview of export formats</span></a></li>
<li><a href="#60"><span>4.3.</span><span> Creating export formats</span></a></li>
<li><a href="#70"><span>4.4.</span><span> Editing export formats</span></a></li>
<li><a href="#80"><span>4.5.</span><span> Filtering export formats</span></a></li>
</ul>
</li>
<li><a href="#90"><span>5.</span><span> Exporting stock</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Exporting data</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the custom export, dynamic export or elastic export to manually export data from your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>In the <strong>Data » Custom export</strong> menu, you will find predefined export formats. The data fields of these formats are already defined to a large extent and can hardly be adjusted.<br>
In the <strong>Data » Dynamic export</strong> menu, you can freely select the data fields, thus making it possible to individually configure the data format’s content.<br>
Use the <strong>Data » Elastic export</strong> menu to create export formats for price search engines, price comparison portals, markets and affiliate service providers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="05">1. Customising a file for data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Generally, you will receive a CSV file during the data export. Regardless of whether you export data from an external system or from plentymarkets, it is generally necessary to make slight changes to the file before you import it into plentymarkets. Make sure to use UTF-8 coding when you export the data format. The data record has to be divided into columns, which will only happen if you are using the correct separator. If needed, try seeing what different separators look like in the file’s import preview.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Exporting predefined data formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the predefined data formats, the data fields that you export are already defined. Nevertheless, there are a few settings that you need to carry out. These settings have an effect on the export’s data volume.</p>
</div>
<div class="paragraph">
<p>Table 1 explains the predefined data formats that are available in the <strong>Data » Custom export</strong> menu. Afterwards, it is described how you export the data format. The settings that require additional information are not listed for every data format, but summarised in table 2.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Predefined export formats in the <strong>Data » Custom export</strong> menu</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data format</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order data for customs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains order data relating to exportation, e.g. shipping costs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BMECat</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://www.bme.de/en/start/" target="_blank" rel="noopener">BMECat</a> is a standardised, XML-based exchange format for catalogue data and product classification systems in the B2B field.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CleverReach</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The export transmits data of all orders with status 7 of the previous day to the email marketing software <a href="/en/crm/sending-newsletters#1700">CleverReach</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Collmex accounting</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The export is optimised for the ERP solution <a href="http://www.collmex.de" target="_blank" rel="noopener">Collmex</a> and exports sales or customer data. You can export data of one or multiple locations in order to <a href="http://collmex.de/cgi-bin/cgi.exe?1005,1,help,daten_importieren" target="_blank" rel="noopener">import</a> this data in Collmex. When you export sales data, Collmex uses <a href="http://www.collmex.de/handbuch_basic.html#zahlungsbedingung_anlegen" target="_blank" rel="noopener">payment condition IDs</a> for the correct assignment. Please note that the Collmex website is only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Financial accounting</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The export is <a href="https://www.datev.de/web/de/startseite/startseite-n/" target="_blank" rel="noopener">DATEV</a> compliant. You can export data of one or multiple locations. Select UTF-8 as the import character set and select semicolon as the separator.<br>
<em><strong>Tip</strong></em>: Use a software for the CSV import that allows you to select these parameters before importing the file.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Manufacturer commissions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains commissions that are saved in the <a href="/en/item/managing-items#560">manufacturer data</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Price list</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains item data and the corresponding prices.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Invoice book</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains a list of all invoices and credit notes that were generated on the selected date or within a month. Select Latin as the import character set and select semicolon as the separator.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Syska EURO FIBU</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported TXT file contains sales data that you can exchange with the financial accounting software <a href="http://www.syska.de/syska-euro-fibu" target="_blank" rel="noopener">Syska</a>. You can export data of one or multiple locations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Revenue by order date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains sales data by the date the order was received.<br>
<em><strong>Note</strong></em>: If you want to use a data export for the advance return for tax on sales/purchases, then we recommend that you use the export <strong>Outgoing item invoices</strong>, as the case of entitlement first goes into effect when the goods are delivered. A further advantage is that it does not result in as many credit notes/cancelled invoices, when services are not paid for or when changes are made to the order before the invoice has been issued.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VAT number check</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains customer data of checked customers as well as their VAT number. The entry in the <strong>valid</strong> column of the exported CSV file tells you whether or not the customer has a valid VAT number. The entry 0 stands for invalid and 1 stands for valid.<br>
The VAT number is automatically checked in the online store during the order process. You can manually check the VAT number of customers who bought your items on other markets. For further information about the VAT number check, refer to the <a href="/en/crm/managing-customer-data#3200">VAT number check</a> page of the manual.<br>
<em><strong>Important</strong></em>: Place a check mark next to the option <strong>Active</strong>. If you do not place a check mark, then all of the VAT number check data will be exported regardless of the time period that was selected.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sold quantities of items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains a list of all sold items and of the sold quantity within a certain time period. You choose which information you want to export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Outgoing item invoices</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains a list of invoice data that was generated on the selected date or within a month. A memo is saved for every invoice according to the VAT rate. In addition, the memo that belongs to the order will be exported. Select Latin as the import character set and select comma as the separator.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Xero</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains sales data from UK orders for the data exchange with the accounting software <a href="https://www.xero.com/" target="_blank" rel="noopener">Xero</a>. You can export data of one or multiple locations.<br>
VAT rates have to be given the exact same names that Xero uses. Go to <strong>System » Client » Select client » Locations » Select location » Accounting » Tab: VAT rates</strong>. Enter a name behind the VAT rate.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment documents</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The exported CSV file contains incoming payments that are assigned to an order. The invoice data is retrieved according to the payment method.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Next, you will learn how to export the data formats mentioned above.</p>
</div>
<div class="paragraph instruction">
<p>Exporting a predefined data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Custom export</strong>.</p>
</li>
<li>
<p>Select a data format from the drop-down list. Pay attention to the information given in table 1.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The export format will be created and added to the list.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 2. The table only lists settings that require additional explanation.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Export data</strong>. <br>
→ The export file will be created.</p>
</li>
<li>
<p>Save the file on your computer so that you can use it later.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Column header names</div>
<div class="paragraph">
<p>If you change the names of the column headers after the export, then the data cannot be correctly assigned when importing the file. This is because plentymarkets uses the column header names for assignment. When you import your data into other external systems, it might be necessary to adapt the column header names for correct assignment.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Settings; exporting data formats</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Adopt the default name or enter an individual name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Company No.</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Collmex accounting</strong> data format. This option is only relevant if you use Collmex to manage data for more than one company. Number 1 is selected by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Free text field</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Financial accounting</strong> data format. Refers to the <a href="/en/item/managing-items#70">free text fields</a> linked with the item and their content. If you selected a free text field here, select the option <strong>One data record per stock unit (standard)</strong> for the format. This option is described below.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Financial accounting</strong> data format.<br>
<strong>One data record per invoice and VAT rate</strong> = One posting line per invoice and VAT rate. If an invoice only contains one VAT rate, only one posting line will be exported.<br>
<strong>One data record per stock unit (standard)</strong> = One posting line per stock unit. The option <strong>One data record per stock unit (standard)</strong> is useful if you have saved individual revenue accounts for items in plentymarkets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item category to the level</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Price list</strong> data format. Select a level to determine up to which level items should be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Date</strong>;<br>
<strong>Period</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select day, month and year to only export the data of this specific date. Instead of a specific date, you can also export data of an entire month.<br>
<strong>Sold quantities of items</strong>: The setting <strong>Date</strong> determines whether the data contained in the export is based on the date when the order was received or when the payment was received.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Memo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Syska EURO FIBU</strong> data format. Export the order ID, customer ID or both IDs as memo. If both IDs are exported, then they will be separated by a hyphen in the memo column.<br>
<em><strong>Example</strong></em>: 45-7 = order ID 45 of the customer who has ID 7.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Header</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Syska EURO FIBU</strong> data format. Activate if you want the column header to be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AccountCode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Xero</strong> data format. Enter the AccountCode as saved in Xero.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Company location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Xero</strong> data format. Select the country where the company is located, as saved in Xero. This setting determines how prices and dates will be formatted and thus fulfils the import requirements for Xero.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Additionally retrieve and include the interim transaction report</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only for the <strong>Payment documents</strong> data format. Activate to retrieve and export <a href="/en/order-processing/payment/managing-payments#60">interim transaction reports</a>.<br>
In the interim transaction report, you can see payments that have not been booked yet but that the bank already knows of and that will be booked soon. This type of information allows you to send items even earlier and make your service even better.<br>
<em><strong>Important</strong></em>: You may have to contact your bank in order to see interim transaction reports.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">3. Exporting customised data formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Data » Dynamic export</strong> menu, you can create individual data formats, which contain exactly those data fields that you want to export. Here, the data fields are also predefined, but you have the choice to determine which fields you want to export. This means that this data format gives you more flexibility compared to the <a href="/en/basics/data-exchange/exporting-data#10">predefined data formats</a>. The data is exported in a file. You can then make this file available to a specific tool or interface, such as a specific market. You also edit existing data formats in this menu.</p>
</div>
<div class="paragraph">
<p>The <a href="/en/basics/data-exchange/data-formats">Data formats</a> page of the manual gives you an overview of the data formats which you can adjust individually. The subpages provide a detailed description of the data formats. You will learn which data fields you need to activate and which filters and procedures you need to set so that your data will be exported correctly. Most of the data formats can be reimported to plentymarkets after you have edited them.</p>
</div>
<div class="paragraph">
<p>Depending on the data format type you select, the <strong>Fields</strong>, <strong>Filter</strong> and <strong>Procedures</strong> tabs will be available after you have created the new data format. The <strong>Fields</strong> and <strong>Filter</strong> tabs are available for every format. Table 3 explains the tabs in the <strong>Data » Dynamic export</strong> menu.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Tabs in the <strong>Data » Dynamic export</strong> menu</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fields</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the fields in the <strong>Export</strong> column to export this data. The name can be changed in the <strong>Individual field name</strong> column. This name is displayed as the column header in the export file. Select the option <strong>None</strong>, <strong>Import</strong> or <strong>Synchronisation</strong> in the <strong>Import procedure</strong> column. In the <strong>Position</strong> column, you determine the position in the output file the data field will be exported to.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate data fields or functions and select values for the filters. Afterwards, only the data will be exported that exactly matches the selected characteristics.<br>
There are different options available in the drop-down lists depending on which filter option you are working with. Activating the data field allows you to edit the fields <strong>Operator</strong> and <strong>Value</strong>. Depending on the data field, you will either be able to select values from a drop-down list or values will have to be entered into a text field.<br>
<em><strong>Example</strong></em>: Place a check mark in the <strong>Active</strong> column for the data field/function <strong>ItemID</strong>. Select the operator <strong>&gt;</strong> from the drop-down list and enter the item ID in the text field in the <strong>Value</strong> column. Only those items with an ID higher than the one you entered will be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedures</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which procedure is to be carried out.<br>
<em><strong>Example</strong></em>: Activate the <strong>ItemLastUpdateTimestamp</strong> procedure. Select the <strong>set the current date</strong> option from the drop-down list. A timestamp will be added to items during the export, indicating when the items were last changed.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The data formats that you created can be exported from the <strong>Fields</strong> tab. The data is exported in a file. You also have the possibility of opening the export file in a spreadsheet program, editing it and then importing it into your plentymarkets system again. For further information, refer to the video tutorial in the <a href="/en/basics/data-exchange/exporting-data#05">Customising a file for data exchange</a> chapter.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to export the data format.</p>
</div>
<div class="paragraph instruction">
<p>Exporting the data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export</strong>.</p>
</li>
<li>
<p>Click on the <strong>New Data format</strong> tab.</p>
</li>
<li>
<p>Select the <strong>Data format type</strong> from the drop-down list.<br>
→ A <strong>Data format name</strong> will be assigned automatically, which is composed of a name and a number. You can change the name here.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The data format that you have just created will be listed in the <strong>Edit data format</strong> tab.</p>
</li>
<li>
<p>Expand the data format.<br>
→ The available tabs of the data format will be displayed.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 3.</p>
</li>
<li>
<p>In the <strong>Fields</strong> tab, enter the <strong>Number of lines</strong> to be exported. Pay attention to the following note regarding the line limitation.</p>
</li>
<li>
<p>In the <strong>Starting in line</strong> field, enter which line the data export should begin from.<br>
→ Line 0 = Column title.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Export data</strong>.<br>
→ The data will be exported in a CSV file.</p>
</li>
<li>
<p>Save the CSV file on your computer so that you can use it later.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Data export is limited to a maximum of 6000 lines</div>
<div class="paragraph">
<p>In the <strong>Number of lines</strong> line, you enter how many data records should be exported (one data record per line). The export is limited to a maximum of 6000 lines.<br>
If you want to export 10,000 lines, for example, then export the first 6,000 lines and carry out a second export afterwards. With the second export, enter the value 4000 in the <strong>Number of lines</strong> line and enter the value 6001 in the <strong>Starting in line</strong> line.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Exporting data formats for price search engines</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>Data » Elastic export</strong> to create export formats, e.g. for price search engines, price comparison portals, markets and affiliate service providers. This chapter lists the export formats that are available in plentymarkets and teaches you how to create, edit and filter them. You have to install the plugin <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexport_4763/" target="_blank" rel="noopener">Elastic export</a> from the <a href="https://marketplace.plentymarkets.com//" target="_blank" rel="noopener">plentyMarketplace</a> before you can use the elastic Export in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="40">4.1. Registering with the price search engine</h3>
<div class="paragraph">
<p>Before you can transfer your export format to a price search engine, you will have to register on the price search engine’s website and follow any instructions given there. Refer to table 4 for links to the price search engines that have an interface via plugins in plentymarkets. All data formats, except BolOfferExport and BolItemExport, have to be installed from the <a href="https://marketplace.plentymarkets.com//" target="_blank" rel="noopener">plentyMarketplace</a> first.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">4.2. Overview of export formats</h3>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Available export formats</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Export format</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AwinCOM</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/integration/ElasticExportAwinCOM_4762/" target="_blank" rel="noopener">AWIN</a> offers performance-based online and affiliate marketing.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BasicPriceSearchEngine</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Use the format <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportbasicpricesearchengine_4777/" target="_blank" rel="noopener">BasicPriceSearchEngine</a> if you do not which to select a specific price search engine. It can be used for most price search engines.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BeezUp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://www.beezup.com/" target="_blank" rel="noopener">BeezUP</a> is a tool for managing and improving the way that items are presented in price comparison portals, on markets and with affiliate services.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BelboonDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The affiliate network <a href="https://www.belboon.com/en/" target="_blank" rel="noopener">belboon</a> specialises in the implementation of performance marketing measures.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BilligerDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/ElasticExportBilligerDE_4901/" target="_blank" rel="noopener">billiger.de</a> is a TÜV certified German price comparison portal. The platform also offers test reports and customer reviews. Please note that this website is currently only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CdiscountCOM</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items are sold on the market <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportcdiscountcom_4738/" target="_blank" rel="noopener">Cdiscount</a>. For further information about this market, refer to the <a href="/en/omni-channel/multi-channel/cdiscount">Setting up Cdiscount</a> page of the manual.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Check24</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items are sold on the market <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportrakutende_4721/" target="_blank" rel="noopener">Check24</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>EcondaDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://www.econda.com/" target="_blank" rel="noopener">econda</a> offers a controlling solution for analysing and improving online stores comprehensively.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>FashionDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportfashionde_4742/" target="_blank" rel="noopener">Fashion.de</a> is a price comparison portal for fashion and lifestyle. Please note that this website is currently only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>GeizhalsDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://skinflint.co.uk/" target="_blank" rel="noopener">Geizhals</a> (English: skinflint) is an independent price comparison and information platform that specialises in hardware and consumer electronics.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>GoogleShopping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The price comparison portal <a href="https://www.google.co.uk/shopping" target="_blank" rel="noopener">GoogleShopping</a> offers search and comparison functions as well as links to the product pages in other online stores. Store owners can display their products in Google Shopping lists within the Google search. Stores are billed for the service per click. This format is based on Google Shopping International. Therefore, linked property values and availabilities have to be saved in Englisch.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>GuenstigerDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportguenstigerde_4745/" target="_blank" rel="noopener">guenstiger.de</a> is a price comparison portal that also offers customer opinions, test reports and seller reviews. Please note that this website is currently only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IdealoDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/ElasticExportIdealoDE_4723/" target="_blank" rel="noopener">Idealo</a> is a German price comparison portal that also offers test reports, price notifications and product comparisons. Please note that this website is currently only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>KaufluxDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items are sold on the market <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportkaufluxde_4737/" target="_blank" rel="noopener">Kauflux</a>. For further information about this market, refer to the <a href="/en/omni-channel/multi-channel/kauflux">Setting up Kauflux</a> page of the manual.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>KelkooBasicDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://www.kelkoo.co.uk/" target="_blank" rel="noopener">Kelkoo</a> is a price comparison search engine for shopping and travel. The basic service allows users to design and manage their product listings individually. Clicks are paid for with prepaid credit.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>KelkooPremiumDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://www.kelkoo.co.uk/" target="_blank" rel="noopener">Kelkoo</a> is a price comparison search engine for shopping and travel. The premium service includes a complete integration with personal support by an account manager.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>KuponaDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://www.kupona.de/en/performance-marketing-with-kupona" target="_blank" rel="noopener">KUPONA</a> is an agency for online performance marketing. It is active in the fields of display performance advertising, retargeting, affiliate marketing and product data marketing.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MyBestBrandsDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportmybestbrandsde_4731/" target="_blank" rel="noopener">mybestbrands</a> is a recommendation platform for greatly discounted fashion and lifestyle products, as well as for electronic products from well known, brand name manufacturers. Please note that this website is currently only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PreisRoboterDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportpreisroboterde_4732/" target="_blank" rel="noopener">PreisRoboter</a> is a product and price search engine that offers full text search and price comparisons. Please note that this website is currently only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>RakutenDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items are sold on the market <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportrakutende_4721/" target="_blank" rel="noopener">Rakuten</a>. For further information about this market, refer to the <a href="/en/omni-channel/multi-channel/rakuten">Setting up Rakuten</a> page of the manual.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SchuheDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportschuhede_4744/" target="_blank" rel="noopener">schuhe.de</a> is an online platform by the ANWR Group that links online stores with stationary specialist shops. Please note that this website is currently only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ShippingProfiles</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Use this format to export the shipping profiles.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shopping24DE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportshopping24de_4734/" target="_blank" rel="noopener">shopping24</a> is a subsidiary of the Otto Group and an online portal for price and product comparisons. Please note that this website is currently only available in German.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ShoppingCOM</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportshoppingcom_4755" target="_blank" rel="noopener">Shopping.com</a> is an international product and price comparison service.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ShopzillaDE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://www.shopzilla.co.uk/" target="_blank" rel="noopener">Shopzilla</a> is a price comparison platform.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>TracdelightCOM</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexporttracdelightcom_4771/" target="_blank" rel="noopener">tracdelight</a> is a network for advertising agencies and publishing companies that focus on fashion and lifestyle.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>treepodia</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexporttreepodiacom_4776/" target="_blank" rel="noopener">treepodia</a> offers you the possibility to automatically create product videos from item images and to integrate them into the item layouts in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>TwengaCOM</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="http://www.twenga.com/" target="_blank" rel="noopener">Twenga</a> is an international shopping platform that offers comprehensive price comparisons.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="60">4.3. Creating export formats</h3>
<div class="paragraph">
<p>This chapter teaches you how to create new export formats and which settings you can carry out. All data formats, except BolOfferExport and BolItemExport, have to be installed from the <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> first.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The export format will be given an ID and it will appear in the overview within the <strong>Exports</strong> tab.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Settings for a new export</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name. The export format will be listed under this name in the overview within the <strong>Exports</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a type from the drop-down list. Currently, <strong>Item</strong> is the only available option. Further options will be available soon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a format for the price portal from the drop-down list. Only formats that were installed from the plentyMarketplace are available. Exception: BolOfferExport and BolItemExport.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a number. If you want to transfer more than 9,999 data records to the price search engine, then the output file will not be generated again for another 24 hours. This is to save resources. If more than 9,999 data records are necessary, the setting <strong>Generate cache file</strong> has to be active.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Generate cache file</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark if you want to transfer more than 9,999 data records to the price search engine. The output file will not be generated again for another 24 hours. We recommend not to activate this setting for more than 20 export formats. This is to save resources.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Provisioning</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>URL</strong>, <strong>FTP</strong> or <strong>Admin area</strong>.<br>
Different fields will appear depending on which option is selected here.<br>
<strong>URL</strong>: Use this option to generate a token for authentication in order to allow external access.<br>
<strong>FTP</strong>: Server on which the file is saved.<br>
<strong>Admin area</strong>: External access is not possible.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Token,<br>
URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token will be entered automatically. The URL will be entered automatically if the token was generated under <strong>Token</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Server,<br>
Port,<br>
User name,<br>
Password,<br>
Path,<br>
Transfer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>FTP</strong> under <strong>Provisioning</strong>, then enter the parameters. The standard FTP port is <strong>21</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>File name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you selected the option <strong>Admin area</strong> under <strong>Provisioning</strong>, then enter the file name. The file name has to have the ending of the file format, e.g. use the suffix .csv for a CSV file.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Item filters</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Add item filters</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an item filter from the drop-down list and click on <strong>Add</strong>. There are no filters set in default. It is possible to add multiple item filters from the drop-down list one after the other. <br>
<strong>Variations</strong> = Select <strong>Transfer all</strong> or <strong>Only transfer main variations</strong>.<br>
<strong>Markets</strong> = Select one market, several or <strong>ALL</strong>. The availability for all markets selected here has to be saved for the item. Otherwise, the export will not take place.<br>
<strong>Currency</strong> = Select a currency.<br>
<strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category will be exported.<br>
<strong>Image</strong> = Activate to transfer the item with its image. Only items with images will be transferred.<br>
<strong>Client</strong> = Select Client.<br>
<strong>Stock</strong> = Select which stocks you want to export.<br>
<strong>Flag 1 - 2</strong> = Select the flag.<br>
<strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.<br>
<strong>Active</strong> = Only active variations will be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Format settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Product URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Chose wich URL should be transferred to the price comparison portal, the item’s URL or the variation’s URL. Variation SKUs can only be transferred in combination with the Ceres store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a client. This setting is used for the URL structure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL parameter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a suffix for the product URL if this is required for the export. If you activated the <strong>transfer</strong> option for the product URL further up, then this character string will be added to the product URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the order referrer from the drop-down list. This setting depends on the selected order referrer and is needed for the SKU generation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Market account</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the market account from the drop-down list. The selected referrer will be added to the product URL so that sales can be analysed later.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Language</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the language from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. These names are saved in the <strong>Texts</strong> tab of the item.<br>
Enter a number into the <strong>Maximum number of characters (def. Text)</strong> field if desired. This will specify how many characters should be exported for the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Preview text</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the text that you want to transfer as preview text.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This will specify how many characters should be exported for the item name.<br>
Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the field <strong>Permitted HTML tags, separated by comma (def. Text)</strong>. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the text that you want to transfer as description.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This will specify how many characters should be exported for the description.<br>
Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the field <strong>Permitted HTML tags, separated by comma (def. Text)</strong>. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Target country</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the target country from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the ASIN, ISBN or an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. If the barcode is not linked to the order referrer it will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Image</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.<br>
<strong>Position 0</strong> = An image with position 0 will be transferred.<br>
<strong>First image</strong> = The first image will be transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Image position of the energy efficiency label</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the position. Every image that should be transferred as an energy efficiency label must have this position.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stockbuffer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The stock buffer for variations with limitation to the net stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock for variations without stock limitation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The stock for variations without stock limitation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock for variations with no stock administration</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The stock for variations without stock administration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Live currency conversion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retail price</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select gross price or net price from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Offer price</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate to transfer the offer price.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>RRP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate to transfer the RRP.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping costs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, then you will be able to select the configuration and the payment method from the drop-down lists.<br>
Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a fixed shipping charge. If this option is activated, a value has to be entered in the line underneath.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VAT note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter text. This amount includes the VAT but does not include shipping.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item availability</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This will overwrite the item availabilities that are saved in the menu <strong>System » Item » Availability</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="70">4.4. Editing export formats</h3>
<div class="paragraph">
<p>All of the export formats that you created are displayed in the overview. Use the <strong>Customise the layout</strong> function to select the columns to be displayed. Point your cursor over the title bar and click on <strong>Customise the layout</strong>. A window will open and you can activate or deactivate the columns. The following columns are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Download</p>
</li>
<li>
<p>Type</p>
</li>
<li>
<p>Format</p>
</li>
<li>
<p>Limit</p>
</li>
<li>
<p>Last export change</p>
</li>
<li>
<p>Create export</p>
</li>
<li>
<p>Delete</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Open an export format to check or edit its settings.</p>
</div>
<div class="paragraph instruction">
<p>Editing an export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Open the export format.</p>
</li>
<li>
<p>Change the settings. Pay attention to the information given in tables 5 and 6.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/data-exchange/assets/EN-Data-exchange-Export-Elastic-Export-01.png" alt="Toolbar of export format">
</div>
<div class="title">Figure 1. An export format’s toolbar</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. An export format’s toolbar</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Save</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Save the settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID of the export format. Will be assigned automatically.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Copy</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Copy the export format with all of its settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Download</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Download the export file.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Last export change</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Date and time when changes were last made.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Create export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Date and time when the export was created.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delete</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Delete the export format.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="80">4.5. Filtering export formats</h3>
<div class="paragraph">
<p>You can use specific criteria to filter your export formats. Only these export formats will then be displayed in the overview within the <strong>Exports</strong> tab.</p>
</div>
<div class="paragraph instruction">
<p>Filtering export formats:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Filter</strong> area. Pay attention to the information given in table 7.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 7. Filter settings in the <strong>Data » Elastic export</strong> menu</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a number.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name or part of a name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the type <strong>Item</strong> or <strong>All</strong> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a format from the drop-down list. A list of all the export formats that match the selected format will be displayed.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Deleting search criteria</div>
<div class="paragraph">
<p>Click on <strong>Reset</strong> to delete the search criteria. Then click on <strong>Search</strong> again. All of your export formats will be displayed in the overview and you can select new filters.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="90">5. Exporting stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The export of your stock is one step in the process of <a href="/en/stock-management/taking-stock">stocktaking</a>. You will receive a CSV file containing all relevant data fields.</p>
</div>
<div class="paragraph">
<p>You can export your current stock by going to <strong>Data » Dynamic export</strong>. Use the data format <strong>Stock</strong>. Pay attention to the note about mandatory fields of this data format on the <a href="/en/basics/data-exchange/data-formats/stock">stock</a> page of the manual.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the data export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export</strong>.</p>
</li>
<li>
<p>Expand the data format <strong>Stock</strong>. <br>
→ If the data format is not available yet, create it as described above.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 8.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on the <strong>Export data</strong>.<br>
→ A CSV file will be generated, which you can edit and then use again later. For example, you could import the file after having edited the data as needed.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 8. Dynamic export; export options</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Number of lines</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the number of lines that should be exported, assuming that you would like to limit this number (default setting: 6000).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Starting in line</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If needed, enter which line the data export should begin from (default setting: 0).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options. This stock will be exported.<br>
<strong>All</strong> = All of the stock will be exported.<br>
<strong>Reorder level below</strong> = Stock data will only be exported for items that are below the reorder level.<br>
<strong>Reorder level reached/below</strong> = Stock data will only be exported for items that have reached or are below the reorder level.<br>
<strong>Negative net stock or net stock is 0</strong> = Stock data will only be exported for items with a net stock that is less than or equal to 0.<br>
<strong>Negative net stock</strong> = Stock data will only be exported for items with negative net stock.<br>
<strong>Negative physical stock or physical stock is 0</strong> = Stock data will only be exported for items with a physical stock that is less than or equal to 0.<br>
<strong>Negative physical stock</strong> = Stock data will only be exported for items with negative physical stock.<br>
<strong>Positive net stock</strong> = Stock data will only be exported for items with positive net stock.<br>
<strong>Positive physical stock</strong> = Stock data will only be exported for items with positive physical stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item bundle</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether the data should be exported <strong>with</strong> or <strong>without item bundles</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Supplier</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>ALL</strong> or a certain supplier.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You may decide that the CSV file contains data fields that you don’t need. Pay attention to the information given in table 8. If so, then simply delete the unnecessary columns and save the file on your computer. In the column <strong>Stock</strong>, you can now enter the actual stock for each item. Determine the actual stock and enter the values into the <strong>Stock</strong> column within die CSV file. Save the changes.</p>
</div>
</div>
</div>
</main>