<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dynamic export and dynamic import</h1><p>Welcome to the topic Dynamic export and dynamic import. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data with the dynamic import</a></li><li><a href="/en/basics/data-exchange/export-import/importing-data">Importing data with the dynamic import</a></li><li><a href="/en/basics/data-exchange/export-import/data-formats">Data formats</a></li></ul>
</main>