<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing catalogs</h1><div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Catalogs are a new feature!</div>
<div class="paragraph">
<p>Catalogs are a new feature for exporting variation data to markets and other sales channels. During the pilot phase, catalogs can only be used to export data to the closed German market REWE. More information will follow soon, so stay tuned.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</main>