<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#05"><span>1.</span><span> Customising a file for data exchange</span></a></li>
<li><a href="#10"><span>2.</span><span> Exporting predefined data formats</span></a></li>
<li><a href="#20"><span>3.</span><span> Exporting customised data formats</span></a></li>
<li><a href="#90"><span>4.</span><span> Exporting stock</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Exporting data with the dynamic export</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the custom export or dynamic export to manually export data from your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>In the <strong>Data » Custom export</strong> menu, you will find predefined export formats. The data fields of these formats are already defined to a large extent and can hardly be adjusted.<br>
In the <strong>Data » Dynamic export</strong> menu, you can freely select the data fields, thus making it possible to individualise the data format’s content.<br></p>
</div>
</div>
</div><div class="sect1">
<h2 id="05">1. Customising a file for data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Generally, you will receive a CSV file during the data export. Regardless of whether you export data from an external system or from plentymarkets, it is generally necessary to make slight changes to the file before you import it into plentymarkets. Make sure to use UTF-8 coding when you export the data format. The data record has to be divided into columns, which will only happen if you are using the correct separator. If needed, try seeing what different separators look like in the file’s import preview.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Exporting predefined data formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the predefined data formats, the data fields that you export are already defined. Nevertheless, there are a few settings that you need to carry out. These settings have an effect on the export’s data volume.</p>
</div>
<div class="paragraph">
<p><a href="#table-predefined-data-formats">Table 1</a> explains the predefined data formats that are available in the <strong>Data exchange » Custom export</strong> menu. Below the table you can find the steps that are required to export a predefined data format. The settings that require additional information are not listed for every data format, but summarised in <a href="#table-settings-formats-export">Table 2</a>.</p>
</div>
<table id="table-predefined-data-formats" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Predefined export formats in the <strong>Data » Custom export menu</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data format</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order data for customs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains order data relating to exportation, e.g. shipping costs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BMECat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://www.bme.de/en/start/" target="_blank" rel="noopener">BMECat</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a standardised, XML-based exchange format for catalogue data and product classification systems in the B2B field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CleverReach</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The export transmits data of all orders with status 7 of the previous day to the email marketing software <a href="/en/crm/sending-newsletters#1700">CleverReach</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Collmex accounting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The export is optimised for the ERP solution <a href="http://www.collmex.de" target="_blank" rel="noopener">Collmex</a> and exports sales or customer data. You can export data of one or multiple locations in order to <a href="http://collmex.de/cgi-bin/cgi.exe?1005,1,help,daten_importieren" target="_blank" rel="noopener">import</a> this data in Collmex. When you export sales data, Collmex uses <a href="http://www.collmex.de/handbuch_basic.html#zahlungsbedingung_anlegen" target="_blank" rel="noopener">payment condition IDs</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> for the correct assignment. Please note that the Collmex website is only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Financial accounting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The CSV file may either contain only the data from outgoing item invoices or from the <a href="/en/pos">plentyPOS</a> receipts or it may contain data from both sources. The export is <a href="https://www.datev.de/web/de/startseite/startseite-n/">DATEV</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> compliant. You can export data of one or multiple locations. Select UTF-8 as the import character set and select semicolon as the separator.<br>
<strong><em>Tip:</em></strong> Use a software for the CSV import that allows you to select these parameters before importing the file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer commissions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains commissions that are saved in the <a href="/en/item/managing-items#560">manufacturer data</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice book</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains a list of all invoices and credit notes that were generated on the selected date or within a month. Select Latin as the import character set and select semicolon as the separator.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by order date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains sales data by the date the order was received.<br>
<strong><em>Note:</em></strong> If you want to use a data export for the advance return for tax on sales/purchases, then we recommend that you use the export <strong>Outgoing item invoices</strong>, as the case of entitlement first goes into effect when the goods are delivered. A further advantage is that it does not result in as many credit notes/cancelled invoices, when services are not paid for or when changes are made to the order before the invoice has been issued.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT number check</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains customer data of checked customers as well as their VAT number. The entry in the <strong>valid</strong> column of the exported CSV file tells you whether or not the customer has a valid VAT number. The entry 0 stands for invalid and 1 stands for valid.<br>
The VAT number is automatically checked during the order process in your store. You can manually check the VAT number of customers who bought your items on other markets. For further information about the VAT number check, refer to the <a href="/en/crm/managing-contacts#5500">Checking the VAT number</a> chapter of the manual.<br>
<strong><em>Important:</em></strong> Place a check mark next to the option <strong>Active</strong>. If you do not place a check mark, then all of the VAT number check data will be exported and th time period that was selected will be ignored.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sold quantities of items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains a list of all sold items and of the sold quantity within a certain time period. You choose theormation that you want to include in the export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing item invoices</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains a list of invoice data that was generated on the selected date or within a month. A memo is saved for every invoice according to the VAT rate. In addition, the memo that belongs to the order will be exported. Select Latin as the import character set and select comma as the separator.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Xero</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains sales data from UK orders for the data exchange with the accounting software <a href="https://www.xero.com/" target="_blank" rel="noopener">Xero</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You can export data of one or multiple locations.<br>
VAT rates have to be given the exact same names that Xero uses. Go to <strong>Setup » Client » Select client » Locations » Select location » Accounting » Tab: VAT rates</strong>. Enter a name behind the VAT rate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment documents</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exported CSV file contains incoming payments that are assigned to an order. The invoice data is retrieved according to the payment method.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Next, you will learn how to export the data formats mentioned above.</p>
</div>
<div class="paragraph instruction">
<p>Exporting a predefined data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Custom export</strong>.</p>
</li>
<li>
<p>Select a data format from the drop-down list. Pay attention to the information given in <a href="#table-preconfigured-export-formats">[table-preconfigured-export-formats]</a>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The export format will be created and added to the list.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-settings-formats-export">Table 2</a>. The table only lists settings that require additional explanation.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Export data</strong>.<br>
→ The export file will be created.</p>
</li>
<li>
<p>Save the file on your computer so that you can use it later.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Column header names</div>
<div class="paragraph">
<p>If you change the names of the column headers after the export, then the data cannot be correctly assigned when importing the file. This is because plentymarkets uses the column header names for assignment. When you import your data into other external systems, it might be necessary to adapt the column header names for correct assignment.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-settings-formats-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings; exporting data formats</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adopt the default name or enter an individual name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only for the <strong>Collmex accounting</strong> data format. This option is only relevant if you use Collmex to manage data for more than one company. Number 1 is selected by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free text field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only for the <strong>Financial accounting</strong> data format. Refers to the <a href="/en/item/managing-items#70">free text fields</a> linked with the item and their content. If you selected a free text field here, select the option <strong>One data record per stock unit (standard)</strong> for the format. This option is described below.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only for the <strong>Financial accounting</strong> data format.<br>
<strong>One data record per invoice and VAT rate</strong> = One posting line per invoice and VAT rate. If an invoice only contains one VAT rate, only one posting line will be exported.<br>
<strong>One data record per stock unit (standard)</strong> = One posting line per stock unit. The option <strong>One data record per stock unit (standard)</strong> is useful if you have saved individual <a href="/en/orders/accounting#650">revenue accounts</a> for items in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item category to the level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only for the <strong>Price list</strong> data format. Select a level to define up to which level items should be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong><br>
<strong>Period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select day, month and year to only export the data of this specific date. Instead of a specific date, you can also export data of an entire month.<br>
<strong>Sold quantities of items</strong>: The setting <strong>Date</strong> defines whether the data contained in the export is based on the date when the order was received or when the payment was received.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AccountCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only for the <strong>Xero</strong> data format. Enter the AccountCode as saved in Xero.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only for the <strong>Xero</strong> data format. Select the country where the company is located, as saved in Xero. This setting defines how prices and dates will be formatted and thus fulfils the import requirements for Xero.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Additionally retrieve and include the interim transaction report</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only for the <strong>Payment documents</strong> data format. Activate to retrieve and export interim transaction reports.<br>
In the interim transaction report, you can see payments that have not been booked yet but that the bank already knows of and that will be booked soon. This type of information allows you to send items even earlier and make your service even better.<br>
<strong><em>Important:</em></strong> You may have to contact your bank in order to see interim transaction reports.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">3. Exporting customised data formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Data » Dynamic export</strong> menu, you can create individual data formats, which contain exactly those data fields that you want to export. Here, the data fields are also predefined, but you have the choice to determine which fields you want to export. This means that this data format gives you more flexibility compared to the <a href="/en/data/export-import/exporting-data#10">predefined data formats</a>. The data is exported in a file. You can then make this file available to a specific tool or interface, such as a specific market. You also edit existing data formats in this menu.</p>
</div>
<div class="paragraph">
<p>The <a href="/en/data/export-import/data-formats">Data formats</a> page of the manual gives you an overview of the data formats that you can customise. The subpages provide detailed descriptions of the data formats. You will learn which data fields you need to activate and which filters and procedures you need to set so that your data will be exported correctly. Most of the data formats can be reimported to plentymarkets after you have edited them.</p>
</div>
<div class="paragraph">
<p>Depending on the data format type you select, the <strong>Fields</strong>, <strong>Filter</strong> and <strong>Procedures</strong> tabs will be available after you have created the new data format. The <strong>Fields</strong> and <strong>Filter</strong> tabs are available for every format and the Procedures only in a few. <a href="#table-data-dynamic-export">Table 3</a> explains the tabs in the <strong>Data » Dynamic export</strong> menu.</p>
</div>
<table id="table-data-dynamic-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Tabs in the <strong>Data » Dynamic export menu</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fields</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the fields in the <strong>Export</strong> column to export this data. The name can be changed in the <strong>Individual field name</strong> column. This name is displayed as the column header in the export file. Select the option <strong>None</strong>, <strong>Import</strong> or <strong>Synchronisation</strong> in the <strong>Import procedure</strong> column. Use the <strong>Position</strong> column to define the position that the data field will be exported to in the output file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate data fields or functions and select values for the filters. Afterwards, only the data will be exported that exactly matches the selected characteristics.<br>
There are different options available in the drop-down lists depending on the filter option you are working with. Selecting the data field allows you to edit the fields <strong>Operator</strong> and <strong>Value</strong>. Depending on the data field, you will either be able to select values from a drop-down list or values will have to be entered into a text field.<br>
<strong><em>Example:</em></strong> Place a check mark in the <strong>Active</strong> column for the data field/function <strong>ItemID</strong>. Select the operator <strong>&gt;</strong> from the drop-down list and enter the item ID in the text field in the <strong>Value</strong> column. Only items with an ID higher than the one you entered will be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedures</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the procedure that is to be carried out.<br>
<strong><em>Example:</em></strong> Activate the <strong>ItemLastUpdateTimestamp</strong> procedure. Select the <strong>set the current date</strong> option from the drop-down list. A timestamp will be added to items during the export, indicating when the items were last changed.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The data formats that you created can be exported from the <strong>Fields</strong> tab. The data is exported into a file. You also have the possibility of opening the export file in a spreadsheet program, editing it and then importing it into your plentymarkets system again.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to export the data format.</p>
</div>
<div class="paragraph instruction">
<p>Exporting the data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export</strong>.</p>
</li>
<li>
<p>Click on the <strong>New data format</strong> tab.</p>
</li>
<li>
<p>Select a <strong>Data format type</strong> from the drop-down list.<br>
→ A <strong>Data format name</strong> will be assigned automatically, which is composed of a name and a number. You can change the name here.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The data format that you have just created will be listed in the <strong>Edit data format</strong> tab.</p>
</li>
<li>
<p>Expand the data format.<br>
→ The available tabs of the data format will be displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-data-dynamic-export">Table 3</a>.</p>
</li>
<li>
<p>In the <strong>Fields</strong> tab, enter the <strong>Number of lines</strong> to be exported. Pay attention to the following note regarding the line limitation.</p>
</li>
<li>
<p>In the <strong>Starting in line</strong> field, enter which line the data export should begin from.<br>
→ Line 0 = Column title.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Export data</strong>.<br>
→ The data will be exported in a CSV file.</p>
</li>
<li>
<p>Save the CSV file on your computer so that you can use it later.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Data export is limited to a maximum of 6000 lines</div>
<div class="paragraph">
<p>In the <strong>Number of lines</strong> line, you enter how many data records should be exported (one data record per line). The export is limited to a maximum of 6000 lines.<br>
If you want to export 10,000 lines, for example, then export the first 6,000 lines and carry out a second export afterwards. With the second export, enter the value 4000 in the <strong>Number of lines</strong> line and enter the value 6001 in the <strong>Starting in line</strong> line.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="90">4. Exporting stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The export of your stock is one step in the process of <a href="/en/stock-management/taking-stock">stocktaking</a> for example. You will receive a CSV file containing all relevant data fields.</p>
</div>
<div class="paragraph">
<p>You can export your current stock by going to <strong>Data » Export » Dynamic export</strong>. Use the data format <strong>Stock</strong>. Pay attention to the note about mandatory fields of this data format on the <a href="/en/data/export-import/data-formats/stock">Stock</a> page of the manual.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the data export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export</strong>.</p>
</li>
<li>
<p>Expand the data format <strong>Stock</strong>.<br>
→ If the data format is not available yet, create it as described above.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-export-options-dynamic-export">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Export data</strong>.<br>
→ A CSV file will be generated. You can edit and reuse the file again later. For example, you could import the file after having edited the data as needed.</p>
</li>
</ol>
</div>
<table id="table-export-options-dynamic-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Dynamic export; export options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of lines</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of lines that should be exported, assuming that you would like to limit this number (default setting: 6000).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting in line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If needed, enter which line the data export should begin from (default setting: 0).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options. This stock will be exported.<br>
<strong>All</strong> = All of the stock will be exported.<br>
<strong>Below reorder level</strong> = Stock data will only be exported for items that are below the reorder level.<br>
<strong>Reorder level reached/below</strong> = Stock data will only be exported for items that have reached or are below the reorder level.<br>
<strong>Negative net stock or net stock is 0</strong> = Stock data will only be exported for items with a net stock that is less than or equal to 0.<br>
<strong>Negative net stock</strong> = Stock data will only be exported for items with negative net stock.<br>
<strong>Negative physical stock or physical stock is 0</strong> = Stock data will only be exported for items with a physical stock that is less than or equal to 0.<br>
<strong>Negative physical stock</strong> = Stock data will only be exported for items with negative physical stock.<br>
<strong>Positive net stock</strong> = Stock data will only be exported for items with positive net stock.<br>
<strong>Positive physical stock</strong> = Stock data will only be exported for items with positive physical stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item bundle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the data should be exported <strong>with</strong> or <strong>without item bundles</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>ALL</strong> or a specific supplier.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You may decide that the CSV file contains data fields that you don’t need. Pay attention to the information given in <a href="#table-export-options-dynamic-export">Table 4</a>. If so, then delete the unnecessary columns and save the file on your computer. In the column <strong>Stock</strong>, you can now enter the actual stock for each item. Determine the actual stock and enter the values into the <strong>Stock</strong> column within the CSV file. Save the changes.</p>
</div>
</div>
</div>
</main>