<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Downloading the app and accompanying information</span></a></li>
<li><a href="#300"><span>2.</span><span> Starting the demo mode</span></a></li>
<li><a href="#400"><span>3.</span><span> Diagram of the POS shopping cart: mobile phone vs. tablet</span></a></li>
<li><a href="#_try_the_pos_system_for_yourself"><span>4.</span><span> Try the POS system for yourself!</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>4.1.</span><span> Entering items</span></a></li>
<li><a href="#900"><span>4.2.</span><span> Receiving a payment</span></a></li>
<li><a href="#1300"><span>4.3.</span><span> Gift cards</span></a></li>
<li><a href="#1600"><span>4.4.</span><span> Granting discounts</span></a></li>
<li><a href="#1900"><span>4.5.</span><span> Cancellations and returns</span></a></li>
<li><a href="#2210"><span>4.6.</span><span> Reports</span></a></li>
<li><a href="#2300"><span>4.7.</span><span> Additional functions</span></a></li>
</ul>
</li>
<li><a href="#3000"><span>5.</span><span> Switch to the full version</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Demo mode</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Have you decided to link your physical store with your online business? Congratulations! Here at plentymarkets, we want to help you find the right point of sale system.
That’s why you can try the plentyPOS demo mode for free and with no strings attached. Check out the point of sale system today and see just how functional, user-friendly and efficient plentyPOS really is!</p>
</div>
<h4 id="_your_advantages_at_a_glance" class="discrete">Your advantages at a glance</h4>
<div class="ulist">
<ul>
<li>
<p>no time limit</p>
</li>
<li>
<p>free of charge</p>
</li>
<li>
<p>no strings attached</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Downloading the app and accompanying information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The free plentymarkets app is available on Google Play and iTunes. Install the app on whichever mobile device you want to test POS with.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=en" target="_blank" rel="noopener">plentymarkets app on Google Play</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://apps.apple.com/gb/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets app on iTunes</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Recommended hardware</div>
<div class="paragraph">
<p>We’re happy to <a href="/en/app/installation#400">recommend hardware for plentyPOS</a>. In general, Android devices with OS version 4.2.2 and higher are supported. iOS devices with OS version 8 and higher are supported.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Accompanying information about the demo mode</div>
<div class="paragraph">
<p>Do you want to try out the demo version with a scanner? We’ve saved several <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo-Mode_data.pdf" target="_blank" rel="noopener">demo barcodes in a PDF file</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> for you. Download the file and scan barcodes to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/pos/demo#500">Enter items</a></p>
</li>
<li>
<p><a href="/en/pos/demo#1300">Sell and redeem gift cards</a></p>
</li>
<li>
<p><a href="/en/pos/demo#2700">Sell miscellaneous items</a></p>
</li>
<li>
<p><a href="/en/pos/demo#2800">Sell to regular customers</a></p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Starting the demo mode</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Ready to start the demo mode? There are just three easy steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app on your mobile device.</p>
</li>
<li>
<p>Tap on <strong>Start the POS demo mode</strong>.<br>
→ The start screen is displayed.</p>
</li>
<li>
<p>Tap on <span class="icon darkGrey"><i class="fa fa-shopping-cart  "></i></span> <strong>POS</strong>.<br>
→ The POS shopping cart is displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Diagram of the POS shopping cart: mobile phone vs. tablet</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use plentyPOS on a tablet or a mobile phone. However, since the screens have different formats and sizes, some of the functions are arranged differently depending on the device.</p>
</div>
<table class="tableblock frame-none grid-all stretch">
<caption class="title">Table 1. Diagram of the POS shopping cart: mobile phone vs. tablet</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tablet view</th>
<th class="tableblock halign-left valign-top">Mobile phone view</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/pos/assets/tablet-view-POS-shopping-cart.png" alt="tablet view POS shopping cart">
</div>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/pos/assets/phone-view-POS-shopping-cart.png" alt="phone view POS shopping cart">
</div>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_try_the_pos_system_for_yourself">4. Try the POS system for yourself!</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="500">4.1. Entering items</h3>
<div id="600" class="openblock collapseBox">
<div class="title"><strong>Scanning the item label</strong></div>
<div class="content">
<div class="paragraph">
<p>Do your items have labels? Then you can start the checkout process by scanning the barcode on each item the customer wants to buy. Try it out yourself! We’ve saved several <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo-Mode_data.pdf" target="_blank" rel="noopener">demo barcodes in a PDF file</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> just for that purpose.</p>
</div>
<div class="paragraph instruction">
<p>Scanning item labels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo-Mode_data.pdf" target="_blank" rel="noopener">Download the PDF file containing demo barcodes</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p>Open the PDF file to see the barcodes it contains.</p>
</li>
<li>
<p>Scan one of the labels with your barcode scanner.<br>
→ The item is added to the shopping cart with a quantity of 1. Scan again to increase the quantity.<br>
→ The total to be paid is updated dynamically.</p>
</li>
<li>
<p>Scan other labels to add their corresponding items to the order.</p>
</li>
</ol>
</div>
<h5 id="_prefer_to_use_the_built_in_camera" class="discrete">Prefer to use the built-in camera?</h5>
<div class="paragraph">
<p>Tap on the barcode symbol (<span class="icon blue"><i class="fa fa-barcode  "></i></span>) within the POS shopping cart to open the camera on your mobile device. Now scan the barcode by taking a picture. The item is added to the shopping cart with a quantity of 1. The total to be paid is updated.</p>
</div>
</div>
</div>
<div id="700" class="openblock collapseBox">
<div class="title"><strong>Choosing an item from the list of favourites</strong></div>
<div class="content">
<div class="paragraph">
<p>You can designate frequently purchased items as favourites, allowing you to add them to your shopping cart even faster. The demo mode already includes a few favourites, which you can try out yourself.</p>
</div>
<div class="paragraph instruction">
<p>Choosing a favourite:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on an item on the left to place it in the shopping cart.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart.<br>
→ The total to be paid is updated dynamically.</p>
</li>
</ol>
</div>
<h5 id="_procedure_for_mobile_phone_users" class="discrete">Procedure for mobile phone users</h5>
<div class="paragraph">
<p>Tap on the star (<span class="icon blue"><i class="fa fa-star  "></i></span>) in the POS shopping cart to open the list of favourites. Then select an item (<span class="icon green"><i class="fa fa-check  "></i></span>) to place it in the shopping cart.</p>
</div>
</div>
</div>
<div id="800" class="openblock collapseBox">
<div class="title"><strong>Searching for an item from the database</strong></div>
<div class="content">
<div class="paragraph">
<p>Everyone knows the situation: a customer is standing in front of you and wants to buy something. But the barcode won’t scan and the item isn’t one of your favourites. No problem! Search for the item and access your entire product catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Searching for an item from the database:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>) within the POS shopping cart.<br>
→ The item search opens.</p>
</li>
<li>
<p>Enter a search criteria, e.g. the item ID 1002.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-search  "></i></span> <strong>Search</strong>.<br>
→ A list of items matching the search criteria is displayed.</p>
</li>
<li>
<p>Select an item (<span class="icon green"><i class="fa fa-check  "></i></span>) to place it in the shopping cart.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart.<br>
→ The total to be paid is updated dynamically.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">4.2. Receiving a payment</h3>
<div id="1000" class="openblock collapseBox">
<div class="title"><strong>Cash payments</strong></div>
<div class="content">
<div class="paragraph">
<p>Once you’ve placed all the items in the POS shopping cart, you’re ready to accept payment. Try out a cash payment in the demo mode!</p>
</div>
<div class="paragraph instruction">
<p>Receiving a cash payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap in the amount you received from the customer.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-money  "></i></span> <strong>Payment received</strong>.<br>
→ The order is created and you see how much change you should give.<br>
→ A receipt is printed. The demo mode simulates printing.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-shopping-cart  "></i></span> <strong>New order</strong> to start the next checkout procedure.</p>
</li>
</ol>
</div>
<h5 id="_procedure_for_mobile_phone_users_2" class="discrete">Procedure for mobile phone users</h5>
<div class="paragraph">
<p>Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>) in the POS shopping cart to access the payment functions.</p>
</div>
</div>
</div>
<div id="1100" class="openblock collapseBox">
<div class="title"><strong>Card payments</strong></div>
<div class="content">
<div class="paragraph">
<p>Do you accept credit and debit cards? <a href="/en/pos/demo#3000">In the full version</a>, you can directly link your card terminals to plentymarkets. Unfortunately, this is not possible in the demo version, but you can still get a feel for card payments by simulating the process with a disconnected card terminal.</p>
</div>
<div class="paragraph instruction">
<p>Accepting card payments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-credit-card  "></i></span> <strong>POS terminal</strong>.</p>
</li>
<li>
<p>Complete the transaction on your POS terminal.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Payment received/Complete payment</strong>.<br>
→ The order is created.<br>
→ A receipt is printed. The demo mode simulates printing.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-shopping-cart  "></i></span> <strong>New order</strong> to start the next checkout procedure.</p>
</li>
</ol>
</div>
<h5 id="_procedure_for_mobile_phone_users_3" class="discrete">Procedure for mobile phone users</h5>
<div class="paragraph">
<p>Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>) in the POS shopping cart to access the payment functions.</p>
</div>
</div>
</div>
<div id="1200" class="openblock collapseBox">
<div class="title"><strong>Partial payment or mixed payment</strong></div>
<div class="content">
<div class="paragraph">
<p>Does your customer want to pay half the amount with cash and the other half with a card? No problem! Try accepting partial payments or mixed payments in the demo mode.</p>
</div>
<div class="paragraph instruction">
<p>Accepting multiple payments with different payment methods:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap in the amount you received with the first payment method, e.g. cash.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-money  "></i></span> <strong>Payment received</strong>.<br>
→ The remaining amount will automatically be updated.</p>
</li>
<li>
<p>Tap in the amount you received with the second payment method, e.g. debit card.<br></p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-credit-card  "></i></span> <strong>POS terminal</strong>.</p>
</li>
<li>
<p>Complete the transaction on your POS terminal.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Payment received/Complete payment</strong>.<br>
→ The remaining amount will automatically be updated.</p>
</li>
<li>
<p>Repeat these steps until the entire amount has been paid.<br>
→ The order is created.<br>
→ A receipt is printed. The demo mode simulates printing.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-shopping-cart  "></i></span> <strong>New order</strong> to start the next checkout procedure.</p>
</li>
</ol>
</div>
<h5 id="_procedure_for_mobile_phone_users_4" class="discrete">Procedure for mobile phone users</h5>
<div class="paragraph">
<p>Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>) in the POS shopping cart to access the payment functions.</p>
</div>
<h5 id="_viewing_or_undoing_partial_payments" class="discrete">Viewing or undoing partial payments</h5>
<div class="paragraph">
<p>Tap on the blue <strong>Received</strong> bar to see the partial payments you’ve already received. Then tap on the delete icon (<span class="icon red"><i class="fa fa-trash  "></i></span>) to undo a partial payment. The remaining amount will automatically be updated.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1300">4.3. Gift cards</h3>
<div id="1400" class="openblock collapseBox">
<div class="title"><strong>Selling gift cards</strong></div>
<div class="content">
<div class="paragraph">
<p>Pre-paid gift cards are a popular gift idea. With plentyPOS, you can sell gift cards and accept them as a payment method. Try it out with an example gift card!</p>
</div>
<div class="paragraph">
<p>Just like any other item, you can add gift cards to the POS shopping cart by <a href="/en/pos/demo#600">scanning the barcode</a>, by <a href="/en/pos/demo#700">choosing it from the list of favourites</a> or by <a href="/en/pos/demo#800">manually entering its item number</a>.</p>
</div>
<div class="paragraph">
<p>The demo mode includes a fictional gift card that you can try out. <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo-Mode_data.pdf" target="_blank" rel="noopener">Download the PDF file</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and scan the barcode for the example gift card. Alternatively, manually add the “gift card” item (ID 1076) to the shopping cart.</p>
</div>
<div class="paragraph">
<p>Then activate the gift card by generating a new code or by using an existing code. The gift card code will then be printed on the POS receipt.</p>
</div>
</div>
</div>
<div id="1500" class="openblock collapseBox">
<div class="title"><strong>Accepting gift cards as a payment method</strong></div>
<div class="content">
<div class="paragraph">
<p>Customers can pay for their items with gift cards. Once you’ve <a href="/en/pos/demo#500">entered all of the items</a> that the customer wants to buy, your customer can use a gift card to pay for the items in part or in full.</p>
</div>
<div class="paragraph">
<p>We’ve created four fictional gift cards, which you can try out in the demo mode. Each gift card is for a different amount of money and has a different code.</p>
</div>
<div class="paragraph instruction">
<p>Accepting a gift card as a payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo-Mode_data.pdf" target="_blank" rel="noopener">Download the PDF file containing demo gift cards</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p>Open the PDF file and look for gift cards of the type “multi-purpose”.</p>
</li>
<li>
<p>Scan the barcode on the gift card.<br>
→ The total to be paid is updated dynamically.</p>
</li>
<li>
<p>If the gift card doesn’t cover the entire amount, then accept payment for the remaining amount.<br>
→ The order is created.<br>
→ A receipt is printed. The demo mode simulates printing.</p>
</li>
</ol>
</div>
<h5 id="_procedure_for_mobile_phone_users_5" class="discrete">Procedure for mobile phone users</h5>
<div class="paragraph">
<p>Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>) in the POS shopping cart to access the payment functions.</p>
</div>
<h5 id="_manually_entering_the_gift_card_code" class="discrete">Manually entering the gift card code</h5>
<div class="paragraph">
<p>You can enter the gift card code manually instead of scanning the barcode. Tap on the gift symbol (<span class="icon blue"><i class="fa fa-gift  "></i></span>) and manually enter the gift card code into the field.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1600">4.4. Granting discounts</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Lowering the price of a specific item</strong></div>
<div class="content">
<div class="paragraph">
<p>Did you and your customer agree on a special price? For example, maybe an item was damaged and you agreed to sell it for half price.</p>
</div>
<div class="paragraph">
<p>Tap on an item and change its data directly while ringing up the customer. The changes only apply to this order. They do not modify the item data record in the plentymarkets ERP system.</p>
</div>
</div>
</div>
<div id="1700" class="openblock collapseBox">
<div class="title"><strong>Lowering the price of the entire order</strong></div>
<div class="content">
<div class="paragraph">
<p>Do you give your customers incentives to buy a little more? For example, do customers get a 5% discount if the spend 50 euros or more? Or do customers get 5 euros off a specific brand? plentyPOS makes it easy to grant discounts on the entire order.</p>
</div>
<div class="paragraph instruction">
<p>Granting a discount on the entire order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the gift symbol (<span class="icon blue"><i class="fa fa-gift  "></i></span>) within the POS shopping cart.<br>
→ The discount screen will be displayed.</p>
</li>
<li>
<p>Enter a number into the <strong>Discount</strong> field, e.g. 5.</p>
</li>
<li>
<p>Tap on <span class="icon darkGrey"><i class="fa fa-percent  "></i></span> <strong>Percentage</strong> or <span class="icon darkGrey"><i class="fa fa-money  "></i></span> <strong>Fixed</strong>, to specify whether the 5 refers to a percentage or a fixed monetary amount, e.g. 5% or 5 euros.<br>
→ The total to be paid is updated dynamically.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="1800" class="openblock collapseBox">
<div class="title"><strong>Accepting promotional coupons</strong></div>
<div class="content">
<div class="paragraph">
<p>Promotional coupons are a good way to attract customers to your store. Give customers an incentive to come in by granting them discounts such as:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>20% off of selected products</p>
</li>
<li>
<p>Buy two, get one free</p>
</li>
<li>
<p>50 cents off</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Once you’ve <a href="/en/pos/demo#500">entered all of the items as usual</a>, you can subtract the coupon value from the amount owed.</p>
</div>
<div class="paragraph">
<p>We’ve created two fictional promotional coupons, which you can try out in the demo mode. Each promotional coupon is for a different percent discount and has a different code.</p>
</div>
<div class="paragraph instruction">
<p>Subtracting promotional coupons from the amount owed:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo-Mode_data.pdf" target="_blank" rel="noopener">Download the PDF file containing demo promotional coupons</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p>Open the PDF file and look for gift cards of the type “special offer”.</p>
</li>
<li>
<p>Scan the barcode on the promotional coupon.<br>
→ The total to be paid is updated dynamically.</p>
</li>
<li>
<p>Accept payment for the remaining amount.<br>
→ The order is created.<br>
→ A receipt is printed. The demo mode simulates printing.</p>
</li>
</ol>
</div>
<h5 id="_procedure_for_mobile_phone_users_6" class="discrete">Procedure for mobile phone users</h5>
<div class="paragraph">
<p>Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>) in the POS shopping cart to access the payment functions.</p>
</div>
<h5 id="_manually_entering_the_gift_card_code_2" class="discrete">Manually entering the gift card code</h5>
<div class="paragraph">
<p>You can enter the gift card code manually instead of scanning the barcode. Tap on the gift symbol (<span class="icon blue"><i class="fa fa-gift  "></i></span>) and manually enter the gift card code into the field.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1900">4.5. Cancellations and returns</h3>
<div id="2000" class="openblock collapseBox">
<div class="title"><strong>Cancelling an order directly after the purchase</strong></div>
<div class="content">
<div class="paragraph">
<p>Your customer just bought an item. But uh-oh, now he’s noticed it’s the wrong one. Now he wants to cancel the transaction.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling an order directly after purchase:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the end screen, tap on <span class="icon red"><i class="fa fa-trash  "></i></span> <strong>Cancel order</strong>.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-check  "></i></span> <strong>Yes</strong>.<br></p>
</li>
<li>
<p>Was the original order paid for with a credit or debit card? Decide whether the customer should be refunded in cash (<span class="icon blue"><i class="fa fa-money  "></i></span>) or via the terminal (<span class="icon blue"><i class="fa fa-credit-card  "></i></span>).<br>
→ The order is cancelled.</p>
</li>
<li>
<p>Refund the customer directly or process the refund via the POS terminal.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="2100" class="openblock collapseBox">
<div class="title"><strong>Cancelling an order the same day it was purchased</strong></div>
<div class="content">
<div class="paragraph">
<p>Your customer bought an item in the morning and then later that afternoon noticed it was the wrong one. Can he still cancel the transaction?</p>
</div>
<div class="paragraph">
<p>plentyPOS allows you to cancel orders that were created <em>since the last Z report</em>.</p>
</div>
<div class="paragraph">
<p>Cancelling an order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the start screen, tap on <span class="icon red"><i class="fa fa-trash  "></i></span> <strong>Cancel order</strong>.<br>
→ A list of all orders created for this POS since the last Z report is displayed.</p>
</li>
<li>
<p>Tap on the trash can (<span class="icon red"><i class="fa fa-trash  "></i></span>) next to the order.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-check  "></i></span> <strong>Yes</strong>.</p>
</li>
<li>
<p>Was the original order paid for with a credit or debit card? Decide whether the customer should be refunded in cash (<span class="icon blue"><i class="fa fa-money  "></i></span>) or via the terminal (<span class="icon blue"><i class="fa fa-credit-card  "></i></span>).<br>
→ The order is cancelled.</p>
</li>
<li>
<p>Refund the customer directly or process the refund via the POS terminal.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="2200" class="openblock collapseBox">
<div class="title"><strong>Your customer wants to return items</strong></div>
<div class="content">
<div class="paragraph">
<p>Imagine your customer bought each of his three nephews a new Christmas jumper. But children grow like weeds and two of the kids didn’t fit into their jumpers on Christmas morning. Now in January, your customer wants to return two of the three jumpers.</p>
</div>
<div class="paragraph">
<p>Since the order was created <a href="/en/pos/demo#2230">before the last Z report</a>, it can no longer be cancelled. The order needs to be <em>returned</em> instead.</p>
</div>
<h5 id="_did_your_customer_bring_the_receipt" class="discrete">Did your customer bring the receipt?</h5>
<div class="paragraph">
<p>If your customer brought the receipt with him, then you can find the original order, e.g. by looking at the receipt number. In this case, you can directly link the return to the original order.</p>
</div>
<div class="paragraph">
<p>Of course, even if you <em>can’t</em> link the return to the original order, it will still be possible to accept the return. You’ll just have to proceed a little differently. Both procedures are described below.</p>
</div>
<h5 id="_do_you_use_a_scanner" class="discrete">Do you use a scanner?</h5>
<div class="paragraph">
<p>The procedure differs a little depending on whether you use a scanner or enter the data manually. Both procedures are described below.</p>
</div>
<table id="table-return-receipt" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Receipt + Scanner</th>
<th class="tableblock halign-left valign-top">Receipt + Enter data manually</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist instruction">
<ol class="instruction">
<li>
<p>From the start screen, tap on <span class="icon darkGrey"><i class="fa fa-undo  "></i></span> <strong>Return</strong>.</p>
</li>
<li>
<p><strong><em>Mobile phone users</em></strong>: Tap on the file (<span class="icon blue"><i class="fa fa-file-text-o  "></i></span>).</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-search  "></i></span> <strong>Search order</strong>.</p>
</li>
<li>
<p>Scan the barcode on the receipt.<br>
→ The order data is displayed.</p>
</li>
<li>
<p>Scan the barcode of the items that the customer wants to return.<br>
→ The scanned item is added to the return with a quantity of 1. As such, every item to be returned must be scanned individually.</p>
</li>
<li>
<p><strong><em>Mobile phone users</em></strong>: Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>).<br>
→ A summary of the return is displayed.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-money  "></i></span> <strong>Complete and pay out cash</strong> or on <span class="icon green"><i class="fa fa-gift  "></i></span> <strong>Complete and create gift card</strong>.</p>
</li>
<li>
<p>Refund the customer in cash or with a gift card.</p>
</li>
</ol>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist instruction">
<ol class="instruction">
<li>
<p>From the start screen, tap on <span class="icon darkGrey"><i class="fa fa-undo  "></i></span> <strong>Return</strong>.</p>
</li>
<li>
<p><strong><em>Mobile phone users</em></strong>: Tap on the file (<span class="icon blue"><i class="fa fa-file-text-o  "></i></span>).</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-search  "></i></span> <strong>Search order</strong>.</p>
</li>
<li>
<p>Enter a search criterion.<br>
→ The order data is displayed and all of the items are pre-selected.</p>
</li>
<li>
<p>Tap on the trash can (<span class="icon red"><i class="fa fa-trash  "></i></span>) next to all of the items that should not be returned.</p>
</li>
<li>
<p><strong><em>Mobile phone users</em></strong>: Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>).<br>
→ A summary of the return is displayed.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-money  "></i></span> <strong>Complete and pay out cash</strong> or on <span class="icon green"><i class="fa fa-gift  "></i></span> <strong>Complete and create gift card</strong>.</p>
</li>
<li>
<p>Refund the customer in cash or with a gift card.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
<table id="table-return-no-receipt" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">No receipt + Scanner</th>
<th class="tableblock halign-left valign-top">No receipt + Enter data manually</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist instruction">
<ol class="instruction">
<li>
<p>From the start screen, tap on <span class="icon darkGrey"><i class="fa fa-undo  "></i></span> <strong>Return</strong>.</p>
</li>
<li>
<p>Scan the barcode of the items that the customer wants to return.<br>
→ The scanned item is added to the return with a quantity of 1. As such, every item to be returned must be scanned individually.</p>
</li>
<li>
<p><strong><em>Mobile phone users</em></strong>: Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>).<br>
→ A summary of the return is displayed.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-money  "></i></span> <strong>Complete and pay out cash</strong> or on <span class="icon green"><i class="fa fa-gift  "></i></span> <strong>Complete and create gift card</strong>.</p>
</li>
<li>
<p>Refund the customer in cash or with a gift card.</p>
</li>
</ol>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist instruction">
<ol class="instruction">
<li>
<p>From the start screen, tap on <span class="icon darkGrey"><i class="fa fa-undo  "></i></span> <strong>Return</strong>.</p>
</li>
<li>
<p>Tap on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The item search opens.</p>
</li>
<li>
<p>Enter a search criterion.<br></p>
</li>
<li>
<p>Tap on (<span class="icon blue"><i class="fa fa-search  "></i></span>) <strong>Search</strong>.<br>
→ A list of items matching the search criteria is displayed.</p>
</li>
<li>
<p>Select an item (<span class="icon green"><i class="fa fa-check  "></i></span>) to add it to the return.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the return.<br>
→ The item is added to the return.</p>
</li>
<li>
<p><strong><em>Mobile phone users</em></strong>: Tap on the green arrow (<span class="icon green"><i class="fa fa-long-arrow-right  "></i></span>).<br>
→ A summary of the return is displayed.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-money  "></i></span> <strong>Complete and pay out cash</strong> or on <span class="icon green"><i class="fa fa-gift  "></i></span> <strong>Complete and create gift card</strong>.</p>
</li>
<li>
<p>Refund the customer in cash or with a gift card.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2210">4.6. Reports</h3>
<div id="2220" class="openblock collapseBox">
<div class="title"><strong>Documenting the cash on hand</strong></div>
<div class="content">
<div class="paragraph">
<p>You can check how much cash is in the register at any given time. This is done by creating a so-called “till count” report. The banknotes and coins are physically counted and the result is documented.</p>
</div>
<div class="paragraph">
<p>Saving a till count result:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the start screen, tap on <span class="icon darkGrey"><i class="fa fa-money  "></i></span> <strong>Till count</strong>.<br>
→ The lowest coin denomination is preselected.</p>
</li>
<li>
<p>Use the numpad to enter the number of coins you counted for this denomination.</p>
</li>
<li>
<p>Tap on the return arrow (<span class="icon green"><i class="fa fa-level-down  "></i></span>) to jump to the next denomination. Repeat this process until you have entered the quantity of all coins and notes.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Save till count</strong>.<br>
→ A till count report will be created. In the full version, the result is saved in your plentymarkets ERP system. The demo mode simulates the result.</p>
</li>
<li>
<p>If the actual cash on hand differs from the expected cash on hand, then you may want to book the difference.</p>
</li>
</ol>
</div>
<h5 id="_mobile_phone_vs_tablet_view" class="discrete">Mobile phone vs. tablet view</h5>
<div class="paragraph">
<p>If you use a mobile phone, then you can swipe left or right to switch from one denomination to the next.<br>
If you use a tablet, then you can directly tap on a denomination on the left.</p>
</div>
<h5 id="_what_if_i_dont_want_to_count_each_coin_and_banknote_individually" class="discrete">What if I don’t want to count each coin and banknote individually?</h5>
<div class="paragraph">
<p>If you use a mobile phone and you don’t want to enter each denomination individually, then tap on <span class="icon green"><i class="fa fa-long-arrow-right  "></i></span> <strong>Skip denominations</strong> and enter the total amount.<br>
If you use a tablet and you don’t want to enter each denomination individually, then tap on the field <strong>Overwrite</strong> and enter the total amount.</p>
</div>
</div>
</div>
<div id="2230" class="openblock collapseBox">
<div class="title"><strong>Documenting daily revenue</strong></div>
<div class="content">
<div class="paragraph">
<p>At the end of the day, it’s customary to document how much revenue was generated in the last 24 hours. This is done by creating a so-called “Z report”.</p>
</div>
<div class="paragraph">
<p>Strictly speaking, a Z report documents the revenue accrued since the last Z report. In some countries, sellers are required to save these reports for fiscal purposes.</p>
</div>
<div class="paragraph">
<p>Creating a Z report:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the start screen, tap on <span class="icon darkGrey"><i class="fa fa-file-text-o  "></i></span> <strong>Z report</strong>.</p>
</li>
<li>
<p>Count the actual cash on hand and enter this amount.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Create z report</strong>.<br>
→ The Z report is created. In the full version, the report is given a consecutive number and it is saved in your plentymarkets ERP system. The demo mode simulates the report.<br>
→ The daily revenue is reset to 0.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2300">4.7. Additional functions</h3>
<div id="2400" class="openblock collapseBox">
<div class="title"><strong>Pausing transactions</strong></div>
<div class="content">
<div class="paragraph">
<p>Imagine you’re in the middle of a transaction and your customer says he’s forgotten something. But the next customer is already waiting in line. Don’t worry! You can simply “park” the first customer’s transaction. Then you can ring up the second customer in the meantime.</p>
</div>
<div class="paragraph instruction">
<p>Parking an order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the vertical ellipsis (<span class="icon blue"><i class="fa fa-ellipsis-v  "></i></span>) at the top right of the POS shopping cart.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-download  "></i></span> <strong>Park receipt</strong>.<br>
→ The <strong>Park receipt</strong> window is displayed.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-check  "></i></span> <strong>Yes</strong>.<br>
→ The order is saved and a new transaction can be started.</p>
</li>
</ol>
</div>
<h5 id="_retrieving_a_parked_order" class="discrete">Retrieving a parked order</h5>
<div class="paragraph">
<p>Tap on the vertical ellipsis again (<span class="icon blue"><i class="fa fa-ellipsis-v  "></i></span>) and then tap on <span class="icon blue"><i class="fa fa-upload  "></i></span> <strong>Load receipt</strong>. You’ll see an overview of all the parked orders. Tap on an order to load it and continue the transaction.</p>
</div>
</div>
</div>
<div id="2500" class="openblock collapseBox">
<div class="title"><strong>Modifying the item data in special cases</strong></div>
<div class="content">
<div class="paragraph">
<p>Did you accidentally enter the wrong item quantity? Or is one of the items damaged and you agreed on special price with your customer?</p>
</div>
<div class="paragraph">
<p>Tap on an item and change its data directly while ringing up the customer. The changes only apply to this order. They do not modify the item data record in the plentymarkets ERP system.</p>
</div>
</div>
</div>
<div id="2600" class="openblock collapseBox">
<div class="title"><strong>Depositing or withdrawing cash from the register</strong></div>
<div class="content">
<div class="paragraph">
<p>Is your cashier starting to run out of change? Then you’ll need to put more coins in the till drawer and of course, document the procedure correctly.</p>
</div>
<div class="paragraph">
<p>Booking a cash deposit or withdrawal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the start screen, tap on <span class="icon darkGrey"><i class="fa fa-money  "></i></span> <strong>Deposits and withdrawals</strong>.</p>
</li>
<li>
<p>Select a reason from the drop-down list.</p>
</li>
<li>
<p>Enter text into the field <strong>Additional information</strong> and thus define the event as precisely as possible.</p>
</li>
<li>
<p>Enter the amount with the number pad.</p>
</li>
<li>
<p>Depending on the situation, tap on <span class="icon green"><i class="fa fa-long-arrow-down  "></i></span> <strong>Deposit</strong> or <span class="icon red"><i class="fa fa-long-arrow-up  "></i></span> <strong>Withdrawal</strong>.<br>
→ The cash drawer will open and a receipt will be printed. The demo mode simulates printing.</p>
</li>
</ol>
</div>
<h5 id="_save_your_own_reasons_and_accounts_in_the_full_version" class="discrete">Save your own reasons and accounts in the full version</h5>
<div class="paragraph">
<p>Revenue needs to be booked separately if it flows into or out of your cash register for any reason other than sales.
Sales are booked on so-called <em>revenue accounts</em> whereas events like deposits and withdrawals are saved on <em>booking accounts</em>, along with their appropriate reasons.</p>
</div>
<div class="paragraph">
<p>The demo version includes several example reasons. But you can save your own reasons and booking accounts in the full version. This allows you to differentiate between events that affect your revenue and events that don’t.</p>
</div>
</div>
</div>
<div id="2700" class="openblock collapseBox">
<div class="title"><strong>Miscellaneous items with dummy data records</strong></div>
<div class="content">
<div class="paragraph">
<p>Do you have a bargain bin in your store? Miscellaneous items, seasonal items, remnants - these sorts of items usually aren’t worth the time it takes to enter data into plentymarkets. However, you can still sell them with the help of dummy data records. Try it out in the demo version!</p>
</div>
<div class="paragraph">
<p>Just like any other item, you can enter dummy items by <a href="/en/pos/demo#600">scanning the barcode</a>, by <a href="/en/pos/demo#700">choosing it from the list of favourites</a> or by <a href="/en/pos/demo#800">manually entering its item number</a>.
Then enter the price at which this item should be sold.</p>
</div>
<div class="paragraph">
<p>Scan the example dummy item or add the “dummy” item (ID 1080) to the shopping cart.</p>
</div>
</div>
</div>
<div id="2800" class="openblock collapseBox">
<div class="title"><strong>Selling to regular customers</strong></div>
<div class="content">
<div class="paragraph">
<p>Do you treat some customers like VIPs? With plentyPOS, you can load a specific customer data record and then allow this customer to buy items at a reduced price.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a regular customer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the address card (<span class="icon blue"><i class="fa fa-address-card-o  "></i></span>) within the POS shopping cart.<br>
→ The current customer data record is displayed.</p>
</li>
<li>
<p>Tap on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The customer search opens.</p>
</li>
<li>
<p>Enter a search criterion.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-search  "></i></span> <strong>Search</strong>.<br>
→ You’ll see all the customer data records that were found.</p>
</li>
<li>
<p>Tap on a data record to select it.</p>
</li>
<li>
<p>Tap on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Use address</strong> to use this customer data record for the current transaction.</p>
</li>
<li>
<p>Decide whether you want to update the prices for this customer.</p>
</li>
</ol>
</div>
</div>
</div>
<div id="2850" class="openblock collapseBox">
<div class="title"><strong>Selling items online and having customers pick them up (click &amp; collect)</strong></div>
<div class="content">
<div class="paragraph">
<p>Do you have an online store and a brick and mortar store? If so, then you can allow customers to buy items online and pick them up personally in your local store.</p>
</div>
<div class="paragraph">
<p>Furthermore, customers can decide if they would rather pay for their items while ordering online or when they come to pick up their items in person.</p>
</div>
<div class="paragraph instruction">
<p>Completing online orders at the POS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the vertical ellipsis (<span class="icon blue"><i class="fa fa-ellipsis-v  "></i></span>) at the top right of the POS shopping cart.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap on <span class="icon blue"><i class="fa fa-file-text-o  "></i></span> <strong>Load order</strong>.<br>
→ The order search opens.</p>
</li>
<li>
<p>Did your customer bring a receipt? If yes, scan the barcode. Otherwise enter a search criterion and tap on <span class="icon blue"><i class="fa fa-search  "></i></span> <strong>Search</strong>.<br>
→ The order details are loaded into the POS.</p>
</li>
<li>
<p>If the items were not paid for in advance, then accept payment as usual.</p>
</li>
<li>
<p>Hand over the items.</p>
</li>
<li>
<p>Tap on <span class="icon green fa-stack fa-lg"><i class="fa fa-cube fa-stack-2x  "></i><span class="icon green"><i class="fa fa-arrow-right fa-stack-1x lr"></i></span></span> <strong>Book outgoing items</strong>.<br>
→ The items are booked out of the warehouse.</p>
</li>
</ol>
</div>
<h5 id="_try_it_with_paid_and_unpaid_orders" class="discrete">Try it with paid and unpaid orders!</h5>
<div class="paragraph">
<p>The demo mode includes three fictions orders that are included <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo-Mode_data.pdf" target="_blank" rel="noopener">in the PDF file</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Search for these orders and try out different click and collect scenarios:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID 1 was partially paid</p>
</li>
<li>
<p>Order ID 2 was fully paid</p>
</li>
<li>
<p>Order ID 3 was not paid</p>
</li>
</ul>
</div>
</div>
</div>
<div id="2900" class="openblock collapseBox">
<div class="title"><strong>Switching to a different user account</strong></div>
<div class="content">
<div class="paragraph">
<p>Will your employees share devices? Constantly logging in and out can quickly waste a lot of time. Instead of having users log out, it will be faster if they use a PIN to switch from one account to another.</p>
</div>
<div class="paragraph">
<p>Try it out in the demo mode! We’ve created three fictional cashiers who you can work with. Each cashier has their own app PIN.</p>
</div>
<div class="paragraph instruction">
<p>Switching to a different user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/POS_Demo-Mode_data.pdf" target="_blank" rel="noopener">Download the PDF file containing cashier app PINs</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p>Open the PDF file to see the app PINs it contains.</p>
</li>
<li>
<p>From the app’s start screen, tap on the user icon (<span class="icon blue"><i class="fa fa-user  "></i></span>) in the top right corner.<br>
→ You will see a list of people who have an app PIN.<br></p>
</li>
<li>
<p>Tap on the desired user account.</p>
</li>
<li>
<p>Enter the app PIN for the user.<br>
→ The user account is switched.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3000">5. Switch to the full version</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Have we sparked your interest? Then get the full version today!</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://get.plentymarkets.com/?contract_type=startbasic#order-now" target="_blank" rel="noopener">https://get.plentymarkets.com/</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Do you have further questions about plentyPOS or about our rates? We’re happy to assist you! Contact our <a href="https://www.plentymarkets.co.uk/company/contact/" target="_blank" rel="noopener">sales team</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> any time.</p>
</div>
</div>
</div>
</main>