<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> Installing the plentymarkets app</span></a></li>
<li><a href="#410"><span>2.</span><span> Logging in, logging out and locking</span></a>
<ul class="sectlevel2">
<li><a href="#10"><span>2.1.</span><span> Logging in</span></a></li>
<li><a href="#310"><span>2.2.</span><span> Switching to a different user account</span></a></li>
<li><a href="#400"><span>2.3.</span><span> Locking and unlocking access</span></a></li>
<li><a href="#390"><span>2.4.</span><span> Logging out and discarding login details</span></a></li>
<li><a href="#420"><span>2.5.</span><span> Closing the app and remembering the login details:</span></a></li>
</ul>
</li>
<li><a href="#290"><span>3.</span><span> Personalising plentyPOS</span></a></li>
<li><a href="#30"><span>4.</span><span> Selling items</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>4.1.</span><span> Adding items to the POS shopping cart</span></a>
<ul class="sectlevel3">
<li><a href="#50"><span>4.1.1.</span><span> Searching for items</span></a></li>
<li><a href="#60"><span>4.1.2.</span><span> Opening the list of favourites</span></a></li>
<li><a href="#70"><span>4.1.3.</span><span> Scanning the item label</span></a></li>
</ul>
</li>
<li><a href="#80"><span>4.2.</span><span> Receiving a payment</span></a>
<ul class="sectlevel3">
<li><a href="#85"><span>4.2.1.</span><span> Receiving a cash payment</span></a></li>
<li><a href="#90"><span>4.2.2.</span><span> Receiving payment on payment terminal not connected to POS</span></a></li>
<li><a href="#_booking_card_payments_with_a_connected_payment_terminal"><span>4.2.3.</span><span> Booking card payments with a connected payment terminal</span></a></li>
<li><a href="#160"><span>4.2.4.</span><span> Accepting multipurpose coupons</span></a></li>
<li><a href="#150"><span>4.2.5.</span><span> Selling items on account</span></a></li>
<li><a href="#430"><span>4.2.6.</span><span> Receiving more than one payment method (version 1.8.5 and higher)</span></a></li>
<li><a href="#440"><span>4.2.7.</span><span> Accepting down payments</span></a></li>
</ul>
</li>
<li><a href="#500"><span>4.3.</span><span> Finding orders</span></a>
<ul class="sectlevel3">
<li><a href="#510"><span>4.3.1.</span><span> Finding an order manually</span></a></li>
<li><a href="#520"><span>4.3.2.</span><span> Retrieving an order automatically</span></a></li>
</ul>
</li>
<li><a href="#90"><span>4.4.</span><span> Additional POS operations</span></a>
<ul class="sectlevel3">
<li><a href="#250"><span>4.4.1.</span><span> Selling a multipurpose coupon</span></a></li>
<li><a href="#135"><span>4.4.2.</span><span> Selecting an existing customer</span></a></li>
<li><a href="#137"><span>4.4.3.</span><span> Selecting customers via loyalty card</span></a></li>
<li><a href="#100"><span>4.4.4.</span><span> Adding a note to the order</span></a></li>
<li><a href="#110"><span>4.4.5.</span><span> Pausing a checkout process/parking a receipt</span></a>
<ul class="sectlevel4">
<li><a href="#120"><span>Parking a receipt</span></a></li>
<li><a href="#130"><span>Loading a parked receipt</span></a></li>
</ul>
</li>
<li><a href="#140"><span>4.4.6.</span><span> Editing an order item</span></a></li>
<li><a href="#170"><span>4.4.7.</span><span> Applying discounts to the complete POS order</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#173"><span>5.</span><span> Cancelling an order</span></a></li>
<li><a href="#175"><span>6.</span><span> Booking a return</span></a>
<ul class="sectlevel2">
<li><a href="#370"><span>6.1.</span><span> Booking a return by linking it to the main order</span></a>
<ul class="sectlevel3">
<li><a href="#330"><span>6.1.1.</span><span> Scanning items for a return</span></a></li>
<li><a href="#340"><span>6.1.2.</span><span> Manually selecting items for return</span></a></li>
<li><a href="#450"><span>6.1.3.</span><span> Changing the price of return items</span></a></li>
<li><a href="#320"><span>6.1.4.</span><span> Return information for POS invoice orders</span></a></li>
</ul>
</li>
<li><a href="#380"><span>6.2.</span><span> Booking a return without linking it to the main order</span></a></li>
<li><a href="#385"><span>6.3.</span><span> Paying out refunds via card terminal (version 1.11.7 and higher)</span></a></li>
</ul>
</li>
<li><a href="#180"><span>7.</span><span> Booking a cash withdrawal or cash deposit</span></a>
<ul class="sectlevel2">
<li><a href="#190"><span>7.1.</span><span> Booking a cash deposit</span></a></li>
<li><a href="#200"><span>7.2.</span><span> Booking a cash withdrawal</span></a></li>
</ul>
</li>
<li><a href="#300"><span>8.</span><span> Printing an item label</span></a></li>
<li><a href="#210"><span>9.</span><span> Creating reports</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>9.1.</span><span> Creating an x report</span></a></li>
<li><a href="#230"><span>9.2.</span><span> Creating a z report</span></a></li>
<li><a href="#450b"><span>9.3.</span><span> Creating a till count report</span></a>
<ul class="sectlevel3">
<li><a href="#460b"><span>9.3.1.</span><span> Saving a till count result</span></a></li>
<li><a href="#470b"><span>9.3.2.</span><span> Booking till count discrepancies</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyPOS for POS users</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find detailed information about how to operate plentyPOS.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Requirements</div>
<div class="paragraph">
<p>This page assumes that you’ve already <a href="/en/app/installation">downloaded</a> the plentymarkets app and installed it on the appropriate hardware. You can find information on the necessary hardware for the plentymarkets app on <a href="/en/welcome/quick-start/quick-start-system-requirements#200">this manual page</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="5">1. Installing the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, install the plentymarkets App on the mobile device.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=en" target="_blank" rel="noopener">plentymarkets app on Google Play</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></strong></p>
</li>
<li>
<p><strong><a href="https://apps.apple.com/gb/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets app on iTunes</a></strong></p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Offline orders are deleted when you uninstall the app</div>
<div class="paragraph">
<p>If your internet connection is down, POS orders are saved on your device and uploaded to plentymarkets once connection returns. If you uninstall the app on your device before all orders were uploaded to plentymarkets, the orders saved on your device are deleted permanently and cannot be recovered by you or the plentymarkets support team. As such, check that no offline orders exist on the device before you uninstall the app.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="410">2. Logging in, logging out and locking</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="10">2.1. Logging in</h3>
<div class="paragraph">
<p>Proceed as described below to log into the plentymarkets app.</p>
</div>
<div class="paragraph instruction">
<p>Logging into plentyPOS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into your mobile device.</p>
</li>
<li>
<p>On the start screen, tap the plentymarkets App icon.<br>
→ The login screen is displayed.</p>
</li>
<li>
<p>Enter the access data. Pay attention to the explanations given in <a href="#table-POS-users-login">Table 1</a>. Pay attention to the explanations given in <a href="#table-POS-users-login">Table 1</a>.</p>
</li>
<li>
<p>Tap <strong>Login</strong>.<br>
→ The start screen of the plentymarkets App is displayed.</p>
</li>
<li>
<p>Tap the menu symbol at the top left of the screen.<br>
→ The menu is displayed.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ plentyPOS opens.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Login details are saved</div>
<div class="paragraph">
<p>You remain logged in until you tap <strong>Logout</strong> or <strong>Lock</strong> in the main menu or the list of user accounts. That means that you can open and close the app without having to log in again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-POS-users-login" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Login</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language in which you want to use plentyPOS. Currently, the user interface of plentyPOS is available in English and German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System (base URL)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the URL for your plentymarkets system?
Enter the domain without https:// or http://. If you don’t know the URL, then you can find this information under <strong>Setup » Settings » API » Data</strong>. The URL is listed in the <strong>Host</strong> field.<br></p>
<p class="tableblock"><strong>Correct example</strong>: your-store.co.uk<br>
<strong>Incorrect example</strong>: \\https://your-store.co.uk<br>
<strong>Incorrect example</strong>: your-store.co.uk/<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong>; <strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name and password for the plentymarkets system.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="310">2.2. Switching to a different user account</h3>
<div class="paragraph">
<p>Logged in user accounts do not need to log out before you can log in. Switching users is only possible if one user account currently is logged in. The user symbol at the top right shows the user who currently is logged in. The user symbol shows the initials of the real name of the person that is logged in. The icon’s background colour is the one that was chosen for this user account in the plentymarkets back end. You can switch users in the main menu, the POS menu, when creating POS orders and when booking returns. Once you switch users, the same area of the app opens. If the new user does not have rights for this area of the app, the main menu of the app opens instead. Proceed as described below to switch the user account.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Order details are saved</div>
<div class="paragraph">
<p>If you change the user account whilst in the process of creating an order, the new user can finish this order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Switching to a different user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the user icon at the top right of the app.<br>
→ A list of the real names of the users with an app PIN is shown.<br>
*<em>Note:</em>*If your name is not listed, update the view by pulling the window down. If your name is still not shown, this means that no app PIN is saved for your user account in the plentymarkets back end.</p>
</li>
<li>
<p>Tap your user account.</p>
</li>
<li>
<p>If this is your first time logging into the app, enter your user password. For each subsequent login, you can enter your PIN.<br>
→ The user account is switched.<br>
→ The same area of the app opens.<br>
<strong><em>Tip:</em></strong> If you do not have rights for this area, the main menu opens instead.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">2.3. Locking and unlocking access</h3>
<div class="paragraph">
<p>If you leave the checkout area but want to remain logged in, you can lock access to the app. Proceed as described below to lock and unlock access to the app.</p>
</div>
<div class="paragraph instruction">
<p>Locking and unlocking access:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the user icon at the top right of the app.<br>
→ A list of the real names of the users with an app PIN is shown.</p>
</li>
<li>
<p>Tap the <strong>Lock</strong> icon at the bottom left of the window.<br>
→ Access to the app is locked.<br>
→ Your name is shown as the first item in the list of users.</p>
</li>
<li>
<p>To unlock access to the app, tap the user icon at the top right of the screen.</p>
</li>
<li>
<p>Tap your user account.</p>
</li>
<li>
<p>Enter your PIN or your password.<br>
<strong><em>Note:</em></strong> To access, a PIN or a password is required if you exit and reopen the app. +<br>
→ Access to the app is unlocked.<br>
<strong><em>Tip:</em></strong> You can change to a different user account even if access to the app is locked. Tap a different user account in the list to change users.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="390">2.4. Logging out and discarding login details</h3>
<div class="paragraph">
<p>Proceed as described below to log out from the app and discard the login details. To log in again, the language, base URL and user details must be entered.</p>
</div>
<div class="paragraph instruction">
<p>Logging out and discarding login details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the user account icon at the top right of the app.<br>
→ A list of the real names of the users with an app PIN is shown.</p>
</li>
<li>
<p>Tap the <strong>Logout</strong> icon at the bottom right of the window.<br>
→ The <strong>Logout</strong> window is displayed.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em>*Tap the menu icon at the top left corner of the app and then *Log out</strong>.<br></p>
</li>
<li>
<p>Deactivate the option <strong>Log current user back in automatically</strong>.<br>
<strong><em>Note:</em></strong> This setting is saved and applies to all users of the app.<br></p>
</li>
<li>
<p>Tap <strong>Logout</strong>.<br>
→ The user account is logged out completely and the login details are discarded.<br>
→ The login view is shown.<br>
→ To log in again, the language, base URL and user details must be entered.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="420">2.5. Closing the app and remembering the login details:</h3>
<div class="paragraph">
<p>Proceed as described below to close the plentymarkets app and remember the current login details of the last logged in person. Next time the app is opened, the user account is logged in automatically. No PIN or password is necessary.</p>
</div>
<div class="paragraph instruction">
<p>Closing the app and remembering the login details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the user icon at the top right of the app.<br>
→ A list of the real names of the users with an app PIN is shown.</p>
</li>
<li>
<p>Tap the <strong>Logout</strong> icon at the bottom right of the window.<br>
→ The <strong>Logout</strong> window is displayed.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em>*Tap the menu icon at the top left corner of the app and then *Log out</strong>.<br></p>
</li>
<li>
<p>Activate the option <strong>Log current user back in automatically</strong>.<br>
<strong><em>Note:</em></strong> This setting is saved and applies to all users of the app.<br></p>
</li>
<li>
<p>Tap <strong>Logout</strong>.<br>
→ The app is closed. <br>
→ The active user account is logged out from the server. <br>
→ Next time the app is opened, the same user account is logged in automatically. <br>
→ No PIN or password is necessary to log in next time the app is started.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="290">3. Personalising plentyPOS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the plentymarkets app settings, you can change the background image and activate the full screen mode for Android devices. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Customising the screen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Tap the menu symbol at the top left of the screen.<br>
→ The menu opens.</p>
</li>
<li>
<p>Tap on <strong>Appearance</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-POS-view">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-POS-view" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Customising the screen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Select background</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select background</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tap an image to use it as a POS background.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Use full screen mode</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Full screen mode</strong><br>
(Android devices only)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to hide the operating system’s soft keys.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">4. Selling items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you open plentyPOS, the POS menu is displayed. Tap <strong>POS</strong> to open the POS shopping cart and add items.</p>
</div>
<div class="sect2">
<h3 id="40">4.1. Adding items to the POS shopping cart</h3>
<div class="paragraph">
<p>Add items to the current POS basket by searching the items, opening the list of favourites or by scanning the label of an item.</p>
</div>
<div class="paragraph">
<p>However, take note of the following information and limitations when adding items:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variations with <a href="#stock-management/managing-bbd-batch#">best before dates or batch numbers</a> are not found via the item search.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#500">Variations with order properties</a> (available from app version 1.11.8) are subject to certain limitations in plentyPOS. Proceed as described below to make these variations visible in plentyPOS.</p>
</li>
</ul>
</div>
<h4 id="45" class="discrete">Processing variations with order properties (version 1.11.8 and higher)</h4>
<div class="paragraph">
<p>Order properties represent specific characteristics of a variation. Proceed as described below to be able to add variations with order properties to the plentyPOS shopping cart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration » [Select order property]</strong>.<br>
→ The order property opens.</p>
</li>
<li>
<p>Go to the <strong>Visibility</strong> area.</p>
</li>
<li>
<p>Deactivate the <strong>Referrer</strong> of every POS at which you want to process variations with order properties.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The order property is not loaded into plentyPOS. This way, variations that are linked to order properties are visible in plentyPOS and can be selected. Howver, note that the order property itself is not processed in plentyPOS due to this setting. Order properties will be fully usable in a future version of the plentymarkets app. Keep an eye on our <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">changelog</a> to keep track of the latest updates.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Special case: Click &amp; Collect orders</div>
<div class="paragraph">
<p>Do customers buy variations with order properties in your online shop and pick them up in your store afterwards? For this use case, the setting described above is not relevant. Fort these so-called <a href="/en/pos/pos-online-orders">Click &amp; Collect orders</a>, order properties are already fully considered and displayed in plentyPOS. This also applies to returns that you create via plentyPOS when customers return variations from Click &amp; Collect orders.<br>
<strong><em>Important:</em></strong> Order properties included in Click &amp; Collect orders are removed if you remove the corresponding variation from the shopping cart when booking the return.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="50">4.1.1. Searching for items</h4>
<div class="paragraph">
<p>Use the item search to access all items of this client. You can search for items using the following item data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item ID</p>
</li>
<li>
<p>Variation number</p>
</li>
<li>
<p>Barcode</p>
</li>
<li>
<p>Item name</p>
</li>
<li>
<p>Variation ID</p>
</li>
<li>
<p>Supplier item No.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to add items to the POS shopping cart by using the item search.</p>
</div>
<div class="paragraph instruction">
<p>Adding items using the item search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap <strong>Search</strong>.<br>
→ The item search opens.</p>
</li>
<li>
<p>Enter a search criterion.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ A list of items matching the search criteria is displayed.<br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.</p>
</li>
<li>
<p>Tap the green check mark to add an item to the shopping cart.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart and the current order sum is updated.<br>
<strong><em>Tip:</em></strong> Items with no net stock are shown in red but can be sold.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="60">4.1.2. Opening the list of favourites</h4>
<div class="paragraph">
<p>Quickly add favourite items to the POS shopping basket by accessing them through the favourites list. plentymarkets administrators can create a list of favourite items for the POS. However, you can also mark frequently bought items as favourites yourself in order to speed up the checkout process. Proceed as described below to add items to the POS shopping cart by using the list of favourites.</p>
</div>
<div class="paragraph instruction">
<p>Adding items from the list of favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the star.<br>
→ The favourites list is displayed.<br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.<br></p>
</li>
<li>
<p>Tap the green check mark to add an item to the shopping cart.<br>
→ The <strong>Enter quantity</strong> window is displayed.<br></p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart and the current order sum is updated.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="70">4.1.3. Scanning the item label</h4>
<div class="paragraph">
<p>If you work with item labels, you can also scan an item’s label to add the item to the POS shopping cart. You can scan items using the camera of the mobile device or a connected Bluetooth scanner. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Scanning the item label with the camera of the device:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the label symbol.<br>
→ The mobile device’s camera is activated.</p>
</li>
<li>
<p>Tap the camera icon to scan the label.<br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.<br>
→ The item is added to the shopping cart with a quantity of 1.<br>
→ The total to be paid is updated.<br>
<strong><em>Tip:</em></strong>  If you can see the <strong>X</strong> button in the bottom row of the POS’s number pad, you can tap this button, enter the quantity and then scan the item or select a favourites item. The item is placed in the POS shopping cart with the quantity you entered. An admin user must activate this feature for the POS.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Scanning an item label with an external Bluetooth scanner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the POS shopping cart.<br></p>
</li>
<li>
<p>Scan the item label. <br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.<br>
→ The item is added to the shopping cart with a quantity of 1.<br>
→ The total to be paid is updated.<br>
<strong><em>Tip:</em></strong>  If you can see the <strong>X</strong> button in the bottom row of the POS’s number pad, you can tap this button, enter the quantity and then scan the item or select a favourites item. The item is placed in the POS shopping cart with the quantity you entered. An admin user must activate this feature for the POS.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="80">4.2. Receiving a payment</h3>
<div class="paragraph">
<p>After you have added all items to the POS shopping cart and applied any discounts or multipurpose coupons, you complete the order by booking the payment. Customers can pay cash. Depending on the setup in your store, they may also be able to pay by card using a POS terminal or a coupon.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Cancelling an order</div>
<div class="paragraph">
<p>You can cancel a POS order directly after you accepted and booked the payment. To do so, tap <strong>Cancel order</strong> in the <strong>Order created</strong> view. Go to <a href="/en/pos/plentymarkets-pos-for-pos-users#173">POS » Cancel order</a> to cancel any completed orders created for this POS since the last z report.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="85">4.2.1. Receiving a cash payment</h4>
<div class="paragraph">
<p>Proceed as described below to receive cash payment.</p>
</div>
<div class="paragraph instruction">
<p>Receiving a cash payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap in the amount you received from the customer.<br>
<strong><em>Tip:</em></strong> If a customer pays the exact amount in cash, you can tap the <strong>Exact cash amount</strong> button in the bottom row of the POS’s number pad instead of entering the amount. The exact amount is then automatically inserted in the <strong>Received</strong> field.</p>
</li>
<li>
<p>Tap <strong>Payment received</strong>.<br>
→ The <strong>Order created</strong> view opens.<br>
→ The order is created.<br>
→ A receipt is printed. Otherwise, tap <strong>Print receipt</strong> to print the receipt.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to continue with ringing up the next customer at the POS.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="90">4.2.2. Receiving payment on payment terminal not connected to POS</h4>
<div class="paragraph">
<p>Your payment terminal might not be connected to the POS. Because the payment terminal is not connected to plentyPOS, the order details are not sent to the payment terminal. Thus, you need to enter the amount into the payment terminal manually. After you cleared the payment at the payment terminal, you return to plentyPOS to manually confirm that the order has been paid. Proceed as described below to accept payment with a payment terminal that is not connected to the POS.</p>
</div>
<div class="paragraph instruction">
<p>Receiving payment on payment terminal not connected to POS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>Optional:</em></strong> If the customer only wants to pay part of the total amount by card, enter this partial amount.<br>
<strong><em>Tip</em></strong> (version 1.8.5 and higher) If the customer wants to pay the whole amount with just one card payment, you do not enter the amount before you tap <strong>Payment terminal</strong>. The total amount is automatically inserted.</p>
</li>
<li>
<p>Tap <strong>POS terminal</strong>.<br>
→ The order total to be paid is displayed.</p>
</li>
<li>
<p>Book the payment using the POS terminal.</p>
</li>
<li>
<p>Tap <strong>Payment received/Complete payment</strong> to complete the payment.<br>
→ When the order is paid in full, the <strong>Order created</strong> window is shown.<br>
→ The order is created.<br>
→ A receipt is printed. Otherwise, tap <strong>Print receipt</strong> to print the receipt.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to continue with ringing up the next customer at the POS.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_booking_card_payments_with_a_connected_payment_terminal">4.2.3. Booking card payments with a connected payment terminal</h4>
<div class="paragraph">
<p>The card terminal may be connected to plentyPOS. In that case, plentyPOS sends the amount due to the payment terminal and starts the payment process automatically. The order is created in plentymarkets after the payment is booked. Proceed as described below to accept payment with a connected payment terminal.</p>
</div>
<div class="paragraph instruction">
<p>Booking card payments with a connected payment terminal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>Optional:</em></strong> If the customer only wants to pay part of the total amount by card, enter the partial amount.<br>
<strong><em>Tip</em></strong> (version 1.8.5 and higher) If the customer wants to pay the whole amount with just one card payment, you do not enter the amount before you tap <strong>Payment terminal</strong>. The total amount is automatically inserted.</p>
</li>
<li>
<p>Tap <strong>POS terminal</strong>.<br></p>
</li>
<li>
<p>Follow the instructions to complete payment on the terminal.<br>
→ When the complete amount is paid, the <strong>Order created</strong> window is shown. Otherwise, book additional payments.<br>
→ The order is created.<br>
→ The receipts are printed. Otherwise, tap <strong>Print merchant receipt</strong> and/or <strong>Print customer receipt</strong> to start printing manually.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to create a new POS order.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="160">4.2.4. Accepting multipurpose coupons</h4>
<div class="paragraph">
<p>Each multipurpose coupon has a unique coupon code. You enter this coupon code during the checkout process to apply the coupon to the items the customer wants to buy. A coupon code can only be redeemed if the code already exists in the plentymarkets system when the customer tries to redeem the coupon. From app version 1.8.1 and higher, you can redeem more than one coupon per order. When the order is created, the coupons are redeemed in the order in which you enter the coupon codes. If you remove a coupon code before you create the order, the balance the customer needs to pay is recalculated.</p>
</div>
<div class="paragraph instruction">
<p>Redeeming multipurpose coupons:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Place all the items in the POS shopping cart.</p>
</li>
<li>
<p>Tap the green arrow at the bottom of the POS shopping cart.<br>
→ A summary of the order and the available payment methods are displayed.</p>
</li>
<li>
<p>Tap <strong>Gift card / discount</strong>.</p>
</li>
<li>
<p>Enter the coupon code in the <strong>Gift card code/discount</strong> field.</p>
</li>
<li>
<p>Tap <strong>Coupon</strong>.<br>
→ The coupon amount is deducted from the order total.<br>
→ The amount the customer still has to pay is displayed.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Redeem additional multipurpose coupons by entering their codes the same way.<br>
<strong><em>Note:</em></strong> The coupons are redeemed in the order in which you enter the coupon codes. If you remove a coupon code, the order total is recalculated.</p>
</li>
<li>
<p>Tap <strong>Back</strong>.</p>
</li>
<li>
<p>Finish processing the POS order as usual.<br>
→ If you apply a discount to the complete order or individual order items after you have entered coupon codes, the order total is recalculated.</p>
</li>
<li>
<p>Finish processing the POS order as usual.<br>
→ If you work with coupon receipts, a coupon receipt is created if the value of the coupon is not redeemed in full. Hand out the coupon receipt together with the sales receipt.<br>
<strong><em>Tip:</em></strong> Whether or not a coupon receipt is printed automatically depends on the POS settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="150">4.2.5. Selling items on account</h4>
<div class="paragraph">
<p>If the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/payment/PosInvoice_5590" target="_blank" rel="noopener">plentyPOS Invoice</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>  is provisioned in the plentymarkets back end, you can also sell items on account to existing customers. However, you cannot save new customer details using plentyPOS. Customers can only pay for items on account if they are existing customers and a corresponding contact data record exists in your system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Returning items purchased on account</div>
<div class="paragraph">
<p>Orders with the payment method POS invoice can be cancelled until the next z report is generated. You can also accept returns of items purchased on account. If customers have partially paid their invoice at the time of the return, plentyPOS automatically calculates the amount the customer is to be refunded.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Buying items on account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the items <a href="#40">to the POS basket</a>.</p>
</li>
<li>
<p>Open the <a href="#135">customer data record</a>.<br>
<strong><em>Important:</em></strong> Ensure that the customer really is the person saved in the customer data.<br>
→ After a customer is selected, the <strong>Invoice</strong> icon can be selected.</p>
</li>
<li>
<p>Tap the <strong>Invoice</strong> icon.<br>
→ A window with the order details and customers details opens.</p>
</li>
<li>
<p>Check the order details.</p>
</li>
<li>
<p>Tap <strong>Invoice</strong>.<br>
→ The <strong>Order created</strong> view opens.<br>
→ The order is created.<br>
→ The invoice is printed. Otherwise, tap <strong>Print invoice</strong> to print the invoice.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to continue with ringing up the next customer at the POS.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="430">4.2.6. Receiving more than one payment method (version 1.8.5 and higher)</h4>
<div class="paragraph">
<p>From version 1.8.5 of the plentymarkets app, customers can pay for the same order using more than one payment method. This allows customers who do not have enough cash on them to pay part of the order amount in cash and the rest by card.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Always book payments on account last</div>
<div class="paragraph">
<p>Tap the <strong>Invoice</strong> icon to complete the order and create an invoice. The invoice shows the amount the customer still has to pay. As such, if the customer wants to pay part of the order amount later by invoice, you need to book all other payment methods before you select the <strong>Invoice</strong> option to complete the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After you have booked the first payment for an order, you can no longer make the following changes to the shopping cart:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Prices, discounts and order items cannot be changed.</p>
</li>
<li>
<p>The customer that you selected for the order cannot be changed.</p>
</li>
<li>
<p>Multipurpose coupons cannot be redeemed.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If necessary, cancel the payments to make such changes.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Exiting the POS view</div>
<div class="paragraph">
<p>After you booked any payments for the order, you need to either complete the order or cancel these payments before you can exit the shopping cart view.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Receiving more than one payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap in the amount that the customer wants to pay with the first payment method.</p>
</li>
<li>
<p>Tap the button for the payment method you received.<br>
<strong><em>Note:</em></strong> If the customer wants to be issued with an invoice in order to pay part of the order amount later, you need to book all other payment methods before you select the <strong>Invoice</strong> option to charge the remaining balance on account.
→ The first payment is booked.</p>
</li>
<li>
<p>Tap in the amount that the customer wants to pay with the next payment method.</p>
</li>
<li>
<p>Tap the button for the payment method you received.<br>
<strong><em>Tip:</em></strong> If you book more than one cash payment, these individual cash amounts are totalled.<br>
→ The next payment is booked.<br></p>
</li>
<li>
<p>If necessary, accept additional payments until the order is paid in full.<br>
<strong><em>Tip:</em></strong> Tap the <strong>Payment</strong> bar to view details of the payments you already booked.<br>
→ When the complete amount is paid, the order is created.<br>
→ The <strong>Order created</strong> view opens.<br>
→ The order is created.<br>
→ The receipts are printed. Otherwise, tap <strong>Print receipts</strong> to print the receipts.<br></p>
</li>
<li>
<p>Hand over the receipt.
<strong><em>Purchase on account:</em></strong> A merchant receipt, a payment receipt and an invoice are created. In this case, hand over the invoice and the payment receipt.
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to continue with ringing up the next customer at the POS.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="440">4.2.7. Accepting down payments</h4>
<div class="paragraph">
<p>With plentyPOS, you can easily accept down payments for orders. Down payments make sense with items that have high sales prices or that are made specifically according to customer wishes. To accept down payments, the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/payment/PosInvoice_5590" target="_blank" rel="noopener">plentyPOS Invoice</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> has to be activated in the plentymarkets back end. Also, a contact data record must exist for the customer wishing to make a down payment.
Accepting down payments is similar to <a href="#430">combining several payment methods</a>.<br>
This chapter describes how to accept a partial amount as a down payment in cash or via card, and how to create an invoice for the remaining amount.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Workflow only applicable to POS orders</div>
<div class="literalblock">
<div class="content">
<pre>The following instruction describes how to handle down payments for orders that have been created directly at the POS. Handling down payments for other order referrers, such as &lt;&lt;pos/plentymarkets-pos-for-pos-users#450, Click &amp; Collect&gt;&gt; is not possible.</pre>
</div>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to receive a down payment and create an invoice for the remaining balance.</p>
</div>
<div class="olist arabic instruction">
<div class="title">Receiving a down payment:</div>
<ol class="arabic">
<li>
<p>Open the <a href="#135">customer data record</a>.<br>
→ A window with the order details and customers details opens.
<strong><em>Important:</em></strong> Ensure that the customer really is the person saved in the customer data.<br></p>
</li>
<li>
<p>Add the items <a href="#40">to the POS basket</a>.</p>
</li>
<li>
<p>Tap in the amount of the down payment you received from the customer.</p>
</li>
<li>
<p>Tap the button for the payment method you received for the down payment.</p>
</li>
<li>
<p>Accept the down payment in <a href="#85">cash</a> or by <a href="#90">card payment</a>.</p>
</li>
<li>
<p>Tap the <strong>Invoice</strong> icon.</p>
</li>
<li>
<p>Check the order details.</p>
</li>
<li>
<p>Tap <strong>Invoice</strong>.<br>
→ The <strong>Order created</strong> view opens.<br>
→ The order is created.<br>
→ The invoice is printed. Otherwise, tap <strong>Print invoice</strong> to print the invoice.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to continue with ringing up the next customer at the POS.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">4.3. Finding orders</h3>
<div class="paragraph">
<p>Sometimes it’s necessary to find previous transactions and continue working with them. For example, it makes sense to find the original transaction when customers <a href="/en/pos/plentymarkets-pos-for-pos-users#175">return</a> items or when they <a href="/en/pos/pos-online-orders">buy items online and pick them up in the store</a>.</p>
</div>
<div class="paragraph">
<p>There are two different ways to find orders:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>manually search for orders by entering the order ID or receipt number</p>
</li>
<li>
<p>automatically retrieve orders by scanning a barcode</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="510">4.3.1. Finding an order manually</h4>
<div class="paragraph">
<p>Open the order search and enter the order ID or the receipt number into the search field.</p>
</div>
<div class="paragraph instruction">
<p>Opening the order search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu and tap on <strong>Return</strong>.<br>
→ The return menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Search order</strong>.<br>
→ The order search opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Alternative:</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu and tap on <strong>POS</strong>.<br>
→ The POS shopping cart opens.</p>
</li>
<li>
<p>Tap the three dots in the top right corner of the screen.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Load order</strong>.<br>
→ The order search opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Enter the order ID or the receipt number into the search field. Tap <strong>Search</strong> to access the order data. Now you can <a href="/en/pos/plentymarkets-pos-for-pos-users#370">finalise the return</a> or hand over the <a href="/en/pos/pos-online-orders">items that were purchased online</a>.</p>
</div>
</div>
<div class="sect3">
<h4 id="520">4.3.2. Retrieving an order automatically</h4>
<div class="paragraph">
<p>If you want to retrieve orders automatically, you need to print <a href="/en/pos/integrating-plentymarkets-pos#120">barcodes on your customer receipts</a>. Open the POS shopping cart or the order search.</p>
</div>
<div class="paragraph instruction">
<p>Opening the POS shopping cart or the order search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu and tap on <strong>POS</strong>.<br>
→ The POS shopping cart opens.</p>
</li>
<li>
<p>Tap the three dots in the top right corner of the screen.<br>
→ Additional options are shown.</p>
</li>
<li>
<p>Tap <strong>Load order</strong>.<br>
→ The order search opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Scan the barcode on the receipt. Now you can <a href="/en/pos/plentymarkets-pos-for-pos-users#370">finalise the return</a> or hand over the <a href="/en/pos/pos-online-orders">items that were purchased online</a>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="90">4.4. Additional POS operations</h3>
<div class="sect3">
<h4 id="250">4.4.1. Selling a multipurpose coupon</h4>
<div class="paragraph">
<p>Each multipurpose coupon has a unique coupon code. This coupon code is shown on the receipt when you sell a coupon. A coupon code can only be redeemed if the code already exists in the plentymarkets system when the customer tries to redeem the coupon. Depending on the workflow in your store, you either generate an automatic code when you sell a coupon or you receive a list of coupon codes from your employer. The codes of this list are either already saved in the system or you need to save them when you sell the coupon. Your employer will advise you on your store’s workflow for selling coupons.</p>
</div>
<div class="paragraph instruction">
<p>Selling a multipurpose coupon and generating a coupon code automatically:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the coupon to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity.<br>
→ The <strong>Select gift card</strong> window is displayed.</p>
</li>
<li>
<p>Tap <strong>Generate</strong>.<br>
<strong><em>Tip:</em></strong> You are not prompted to enter a coupon code if you enter a quantity of more than one coupon.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter the coupon value.<br>
→ The coupon value is inserted automatically if the coupon item has a fixed price.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The coupon code is printed on the POS receipt.</p>
</li>
<li>
<p>Hand over the receipt.</p>
</li>
<li>
<p>If you also print coupon receipts, hand over the coupon receipt as well.<br>
<strong><em>Note:</em></strong> The coupon code is printed both on the coupon receipt and the POS order receipt. Thus, customers should keep both receipts to prevent other persons from redeeming the coupon.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Selling a multipurpose coupon and entering an existing coupon code:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the coupon to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity 1.<br>
<strong><em>Tip:</em></strong> If you select a quantity of more than one coupon, the coupon codes are generated automatically.<br>
→ The <strong>Select gift card</strong> window is displayed.</p>
</li>
<li>
<p>Tap on the <strong>Gift card code</strong> field and enter the code.</p>
</li>
<li>
<p>Tap <strong>Existing</strong>.<br>
→ The coupon value is retrieved and inserted.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The coupon code is printed on the POS receipt.</p>
</li>
<li>
<p>Hand over the receipt.</p>
</li>
<li>
<p>If you also print coupon receipts, hand over the coupon receipt as well.<br>
<strong><em>Note:</em></strong> The coupon code is printed both on the coupon receipt and the POS order receipt. Thus, customers should keep both receipts to prevent other persons from redeeming the coupon.</p>
</li>
<li>
<p>Document the coupon code you sold.<br>
<strong><em>Note:</em></strong> Since the value of a coupon can only be redeemed once, make sure that each coupon is only sold once.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Selling a multipurpose coupon and saving a coupon code in the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the coupon to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity 1.<br>
<strong><em>Tip:</em></strong> Coupon codes are generated automatically if you select a quantity of more than one coupon.<br>
→ The <strong>Select gift card</strong> window is displayed.</p>
</li>
<li>
<p>Tap on the <strong>Gift card code</strong> field and enter the code.</p>
</li>
<li>
<p>Tap <strong>Generate</strong>.<br>
→ The <strong>Enter gift card value</strong> window opens.</p>
</li>
<li>
<p>Enter the coupon value.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The coupon code is printed on the POS receipt.</p>
</li>
<li>
<p>Hand over the receipt.</p>
</li>
<li>
<p>If you also print coupon receipts, hand over the coupon receipt as well.<br>
<strong><em>Note:</em></strong> The coupon code is printed both on the coupon receipt and the POS order receipt. Thus, customers should keep both receipts to prevent other persons from redeeming the coupon.</p>
</li>
<li>
<p>Document the coupon code you sold.<br>
<strong><em>Note:</em></strong> Since the value of a coupon can only be redeemed once, make sure that each coupon is only sold once.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="135">4.4.2. Selecting an existing customer</h4>
<div class="paragraph">
<p>By default, the default customer saved for the POS is used for POS orders. However, you can select a different customer record saved in plentymarkets to save with individual POS orders. Once a POS order is completed, the POS defaults back to the default customer for the next POS order.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to select an existing customer. You can search for customers using the following customer details:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Contact ID</strong> = Contact ID</p>
</li>
<li>
<p><strong>Customer data</strong> = First name, Last name, Company, Contact person, eBay name, Additional name, Street, Postcode, Town, Email address, Customer number, External customer ID, Search tags, PostIdent</p>
</li>
<li>
<p><strong>Postcode</strong> = Postcode</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Selecting an existing customer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap on the customer symbol at the bottom right.<br>
→ The customer record of the default customer is displayed.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The <strong>Customer search</strong> view is displayed.</p>
</li>
<li>
<p>Enter the customer data you know to search the customer record.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The results will be listed.</p>
</li>
<li>
<p>Tap on a customer data record.<br>
→ A list of the addresses saved for the customer is displayed.</p>
</li>
<li>
<p>Tap an address.<br>
→ If only one address exists for the customer record, this address is selected by default. Alternatively, tap <strong>Use invoice address</strong>.<br>
→ The customer record is selected.</p>
</li>
<li>
<p>If you have already placed items in the POS shopping cart, you are asked if you want to <strong>Update prices?</strong>. If you select <strong>Yes</strong>, any discounts saved for the customer class of the selected customer are applied to all items of the order.<br>
→ The customer details are applied to the order.<br>
<strong><em>Tip:</em></strong> You can revert to the default customer by tapping the <strong>Reset</strong> icon.</p>
</li>
<li>
<p>Tap the <strong>X</strong> in the top right corner or tap the screen outside the window to return to the POS shopping cart.<br>
→ The selected customer data record is shown in the POS shopping cart.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ Once you have completed this POS order, the system defaults back to the default customer.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Email receipts to customers</div>
<div class="paragraph">
<p>You can email receipts to customers automatically when a receipt is generated. To do so, you need to <a href="/en/pos/integrating-plentymarkets-pos#70">create an event procedure</a> in the plentymarkets back end. Note that for POS orders completed in the offline mode, the receipt will only be sent once the POS order is uploaded.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="137">4.4.3. Selecting customers via loyalty card</h4>
<div class="paragraph">
<p>When ringing up customers, you can select the contact data record for the customer by scanning loyalty cards with barcodes printed on them. For more information on ordering loyalty cards, refer to the <a href="/en/pos/integrating-plentymarkets-pos#990">Integrating plentyPOS</a> manual page.</p>
</div>
<div class="paragraph">
<p>As soon as you have ordered loyalty cards with barcodes, you do not longer need to select existing customers via the <a href="#135">customer search</a>. Instead, you scan the barcode on the customers when opening the POS shopping cart. The contact saved in the barcode is selected automatically and assigned to the order. Then, proceed with <a href="#400">adding items to the POS shopping cart</a> and finish the order as usual.</p>
</div>
</div>
<div class="sect3">
<h4 id="100">4.4.4. Adding a note to the order</h4>
<div class="paragraph">
<p>To save additional information on the order, save a note before completing the order. Notes are imported to the plentymarkets back end and saved with the order.</p>
</div>
<div class="paragraph instruction">
<p>Adding a note to the order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap <strong>Note</strong>.<br>
→ A list of the notes saved with the orders is displayed.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>Add note</strong> window is displayed.</p>
</li>
<li>
<p>Enter the note text.</p>
</li>
<li>
<p>Tap the check mark to save the note to the order.<br>
→ The note is displayed in the list of notes and is imported to plentymarkets.</p>
</li>
<li>
<p>Tap <strong>X</strong> to close the window and return to the shopping cart view.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="110">4.4.5. Pausing a checkout process/parking a receipt</h4>
<div class="paragraph">
<p>If you need to interrupt a checkout process but have already added items to the POS shopping cart, you can save the current state of the shopping cart by parking the receipt. You can save several receipts at a time.</p>
</div>
<div class="sect4">
<h5 id="120">Parking a receipt</h5>
<div class="paragraph">
<p>Proceed as described below to park a receipt.</p>
</div>
<div class="paragraph instruction">
<p>Parking a receipt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the vertical ellipse at the top right of the screen.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Park receipt</strong>.<br>
→ The <strong>Park receipt</strong> window is displayed.</p>
</li>
<li>
<p>Tap <strong>Yes</strong>.<br>
→ The receipt is saved and a new POS shopping cart is displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect4">
<h5 id="130">Loading a parked receipt</h5>
<div class="paragraph">
<p>Proceed as described below to load a parked receipt and complete the order.</p>
</div>
<div class="paragraph instruction">
<p>Loading a parked receipt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the vertical ellipse at the top right of the screen.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Load receipt</strong>.<br>
→ A list of all parked receipts is displayed.</p>
</li>
<li>
<p>Tap whichever receipt you want to load.<br>
→ The parked items of this receipt are displayed in the POS shopping cart.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect3">
<h4 id="140">4.4.6. Editing an order item</h4>
<div class="paragraph">
<p>You can edit items placed in the POS shopping cart. Any changes you make are applied only to this order. The item is not changed in the system.</p>
</div>
<div class="paragraph instruction">
<p>Editing order items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the order item.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap the preferred setting. Pay attention to the explanations given in <a href="#table-POS-user-edit-order-items">Table 3</a>.</p>
</li>
</ol>
</div>
<table id="table-POS-user-edit-order-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Editing order items</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Open the <strong>Change quantity</strong> window. Enter the new quantity and tap <strong>OK</strong> to edit the item quantity in the shopping cart.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rename order item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new name and tap <strong>OK</strong> to change the name of the order item. The name is changed only in this order. The item’s name in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change single price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new price and tap <strong>OK</strong> to change the single price of all items of an order item. The price is changed only in this order. The item’s price in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change total price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new price and tap <strong>OK</strong> to change the total price of all items of an order item. The price is changed only in this order. The item’s price in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset item price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets prices changed using the <strong>Change single price</strong> or the <strong>Change total price</strong> option to the original price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add percentage discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the discount in percent and tap <strong>OK</strong> to offer a discount on the order item. The price is changed only in this order. The item’s price in the system remains unchanged.<br>
<strong><em>Note:</em></strong> You cannot combine discounting individual order items with a discount on the complete POS shopping card.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add fixed discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the fixed amount and tap <strong>OK</strong> to offer a discount of a fixed amount on the order item. The price is changed only in this order. The item’s price in the system remains unchanged.<br>
<strong><em>Note:</em></strong> You cannot combine discounting individual order items with a discount on the complete POS shopping card.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remove discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets prices discounted using the <strong>Add percentage discount</strong> or <strong>Add fixed discount</strong> option to the original price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes the item from the POS shopping cart.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="170">4.4.7. Applying discounts to the complete POS order</h4>
<div class="paragraph">
<p>Instead of <a href="/en/pos/plentymarkets-pos-for-pos-users#140">discounting individual order items</a>, you can also apply a discount to all items in the POS shopping cart. Proceed as described below to apply a discount to all items in the POS shopping cart.</p>
</div>
<div class="paragraph instruction">
<p>Applying discounts to the complete shopping cart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the green arrow at the bottom of the POS shopping cart.<br>
→ A summary of the order and the available payment methods are displayed.</p>
</li>
<li>
<p>Tap <strong>Gift card / discount</strong>.</p>
</li>
<li>
<p>Enter the discount percentage in the <strong>Gift card code/discount</strong> field.</p>
</li>
<li>
<p>Tap <strong>Discount</strong>.<br>
→ The discount total is deducted from the order total and the new order total is displayed.</p>
</li>
<li>
<p>Tap <strong>Back</strong>.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">How are discounts calculated?</div>
<div class="paragraph">
<p>If the discount is applied to multiple items, the total discount will be split up among all <a href="/en/item/managing-items#40">discountable items</a>. An item can <em>not be discounted</em> if the option <strong>Promotional coupons/POS discount</strong> was set to <strong>Not permitted</strong> in the item’s <strong>Global</strong> tab.</p>
</div>
<div class="paragraph">
<p>In the POS shopping cart, the original item prices will be displayed in strikethrough text and replaced by the discounted prices.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Why can’t I grant a discount?</div>
<div class="paragraph">
<p>You cannot apply a discount to the complete POS shopping card if a discount was applied to one or more items that are already in the POS shopping cart.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="173">5. Cancelling an order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>POS » Cancel order</strong> to cancel orders created for this POS since the last z report. Since the data is saved in a cache, the cancellation is also possible if POS has been operated in the offline mode in the meantime. Proceed as described below to cancel a POS order.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Only cancel POS orders in the plentymarkets app</div>
<div class="paragraph">
<p>Only cancel POS orders in the plentymarkets app and not in the plentymarkets back end. Orders cancelled in the plentymarkets back end are not synchronised with the app. This means that the POS data used for reporting (z reports, cash on hand, etc.) are no longer correct when you cancel POS orders in the plentymarkets back end.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Cancelling Click &amp; Collect orders</div>
<div class="paragraph">
<p><a href="/en/pos/pos-online-orders">Click &amp; Collect orders</a> are not created in plentyPOS but are loaded into plentyPOS from other referrers, such as your online shop. Thus, you can only cancel those orders in the back end of your plentymarkets system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Cancelling an order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.</p>
</li>
<li>
<p>Tap <strong>Cancel order</strong>.<br>
<strong><em>Tip:</em></strong> You can only select this option if you have the right to cancel orders.<br>
→ A list of all orders created for this POS since the last z report is displayed.</p>
</li>
<li>
<p>In the row for the order, tap the <strong>Cancellation</strong> icon.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Tap the order to open the order details. Tap the <strong>Cancellation</strong> icon in the detailed view.</p>
</li>
<li>
<p>Confirm the cancellation.<br></p>
</li>
<li>
<p><strong>_ On some card terminals:_</strong> Select if the cancelled amount is to be returned in ncas or booked back to the card account via the terminal.</p>
</li>
<li>
<p>Pay out the cancelled amount in cash or process the refund via the POS terminal/payment provider.<br>
<strong><em>Note:</em></strong> If the order was paid for with more than one payment method, cancel each payment individually.<br>
→ The order is cancelled.<br>
<strong><em>Note:</em></strong> If you carried out the cancellation while plentyPOS was in the offline mode, the cancellation is only visible in the plentymarkets back end after the data has been synchronised. This process is carried out automatically in the background as soon as the internet connection is re-established.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="175">6. Booking a return</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If customers want to return items, you have two options for booking a return:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#370">Open the main order and book the return to this original order</a>.</p>
</li>
<li>
<p><a href="#380">If the main order is unknown or cannot be opened, create a return without a main order</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Refunding returns via card terminal only available from app version 1.11.7 or higher</div>
<div class="paragraph">
<p>When working with the following instructions, note that<a href="#385">refunding returns via card terminal</a> is only possible in app version 1.11.7 and higher.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="370">6.1. Booking a return by linking it to the main order</h3>
<div class="paragraph">
<p>If you know the order ID or the receipt number (external order number) of the original main order, you can open this main order and book the return directly to this order. Proceed as described below to open the main order and to either <a href="#330">scan</a> or <a href="#340">manually select the return items</a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Multipurpose coupons cannot be returned</div>
<div class="paragraph">
<p>Customers cannot return multipurpose coupons. Thus, multipurpose coupons are displayed in grey in the return view.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="330">6.1.1. Scanning items for a return</h4>
<div class="paragraph">
<p>If you work with scanners, proceed as described below to scan return items.</p>
</div>
<div class="paragraph instruction">
<p>Scanning items for a return:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#500">Find the order</a>.<br>
→ The order data is displayed.<br></p>
</li>
<li>
<p>Scan the barcode of the items that the customer wants to return.<br>
<strong><em>Note:</em></strong> The scanned item is added to the return with a quantity of <strong>1</strong>. As such, every item to be returned must be scanned individually.<br>
→ By default, the <strong>Default repair storage location</strong> of the POS is selected.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a different target storage location:<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tap the item.</p>
</li>
<li>
<p>Select the option <strong>Change target storage location</strong> from the drop-down list.<br>
→ The available storage location are shown.</p>
</li>
<li>
<p>Scan the barcode of the target storage location.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add a <a href="/en/pos/plentymarkets-pos-for-pos-users#100">note to the return</a>.</p>
</li>
<li>
<p>On the original receipt, cross out the items the customer is returning.</p>
</li>
<li>
<p>Tap <strong>Complete and pay out cash</strong> or <strong>Complete and create coupon</strong>.<br></p>
</li>
<li>
<p>If the main order contains shipping costs, select if these shipping costs are to be refunded.<br>
→ A return in created in the plentymarkets back end and linked to the main order.<br>
→ A credit note is created in the plentymarkets back end and linked to the return.<br>
→ If you opted for a coupon, a new order for the amount of the coupon is created.</p>
</li>
<li>
<p>Pay out the refund amount in cash or hand out the coupon.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="340">6.1.2. Manually selecting items for return</h4>
<div class="paragraph">
<p>If you do not work with a scanner you can select return items manually.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>All order items are selected when you open the order.<br>
→ <a href="#350">Remove those items from the return that the customer does not want to return.</a><br>
<strong><em>Tip:</em></strong> When you open the order, a recycling bin is shown on the right of the order item. Tap this recycling bin to remove those order items that the customer does not want to return.</p>
</li>
</ul>
</div>
<div id="350" class="paragraph subhead">
<p>Booking return items if order items are preselected</p>
</div>
<div class="paragraph">
<p>When you open an order in the <strong>Return</strong> menu, all order items of the order are selected for return. Proceed as described below to remove those order items from the return that the customer does not want to return.</p>
</div>
<div class="paragraph instruction">
<p>Book return items if all order items are preselected:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#500">Find the order</a>.<br>
→ The order data is displayed.<br>
→ All order items are selected for return.<br>
<strong><em>Tip:</em></strong> If the customer wants to rerturnn all items of the order, just tap <strong>Create return</strong> straight away.</p>
</li>
<li>
<p>Remove those items from the return that the customer does not want to return.<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>To remove the complete quantity of an order item from the return:<br>
1\. Tap the recycle bin next to the order item.<br></p>
</li>
<li>
<p>To remove a subset of an order item from the return:
    1\. Tap the order item.<br>
    → Additional options are displayed.
    2\. Tap <strong>Change quantity</strong>.<br>
    → The <strong>Change quantity</strong> window opens.
    3\. Enter the quantity for the item that is being returned.<br>
→ The quantity of the order item is updated.<br>
→ By default, the <strong>Default repair storage location</strong> of the POS is selected.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a different target storage location for the item:<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tap the item.</p>
</li>
<li>
<p>Select the option <strong>Change target storage location</strong> from the drop-down list.<br>
→ The available storage locations are shown in the following order:
  1\. Storage location from order = The storage location of the item at the time it was sold.
  2\. Default repair storage location = The <strong>Default repair storage location</strong> selected in the <strong>Basic settings</strong> tab of the POS.
  3\. Suggested storage locations = The storage location suggestions of the warehouses linked to the variation.
  4\. Used storage locations = The storage locations in which the variation is stored already.</p>
</li>
<li>
<p>Tap a target storage location.<br>
→ The storage location is changed.<br>
<strong><em>Tip:</em></strong> Tap on the menu to the top right and then on the <strong>Change target storage locations</strong> option to change the target storage locations of all returned items at once.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Change the quantity and the storage locations of additional order items.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add a <a href="/en/pos/plentymarkets-pos-for-pos-users#100">note to the return</a>.</p>
</li>
<li>
<p>On the original receipt, cross out the items the customer is returning.</p>
</li>
<li>
<p>Tap <strong>Complete and pay out cash</strong> or <strong>Complete and create coupon</strong>.<br></p>
</li>
<li>
<p>If the main order contains shipping costs, select if these shipping costs are to be refunded.<br>
→ A return in created in the plentymarkets back end and linked to the main order.<br>
→ A credit note is created in the plentymarkets back end and linked to the return.<br>
→ If you opted for a coupon, a new order for the amount of the coupon is created.</p>
</li>
<li>
<p>Pay out the refund amount in cash or hand out the coupon.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="450">6.1.3. Changing the price of return items</h4>
<div class="paragraph">
<p>If you do not want to pay out the full amount that the customer paid, e.g. because an item is damaged, you can change the price of an order item.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the return, tap the order item.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Change single price</strong> to change the single price of the order item or <strong>Change total price</strong> to change the total price of the order item.<br>
→ The price of the order item is updated.</p>
</li>
<li>
<p>Finish processing the return as usual.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="320">6.1.4. Return information for POS invoice orders</h4>
<div class="paragraph">
<p>If you allow customers to buy items on account or make down payments, customers may want to return items that are part of a partially paid or unpaid order. In such cases, plentyPOS automatically calculates if and which amount you have to pay out to customers. <a href="#table-POS-return-invoice">Table 4</a> shows the calculations that plentyPOS performs in the background so that you can explain it to customers if necessary.</p>
</div>
<table id="table-POS-return-invoice" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. POS invoice returns</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Invoice status</th>
<th class="tableblock halign-left valign-top">Partial return</th>
<th class="tableblock halign-left valign-top">Full return</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Not paid</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer does not receive any money.<br>
A credit note for the returned items is created in the background.<br>
<strong><em>Tip:</em></strong> The invoice amount the customer still needs to pay is displayed on the credit note receipt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer does not receive any money.<br>
A credit note for the full invoice amount is created in the background.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partially paid</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The POS calculates any refund to the customer automatically. The formula is: Unpaid invoice amount minus the price of the returned items.</p>
</div>
<div class="paragraph">
<p>If the invoice only has been partially paid, the following cases can occur:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Returned items cost less than the unpaid invoice amount = The customer does not receive any money.<br>
The unpaid invoice amount is adjusted (Unpaid invoice amount minus price of the returned items).<br>
A credit note is created for the price of the returned items.<br></p>
</li>
<li>
<p>Returned items cost the same as the unpaid invoice amount = The customer does not receive any money.<br>
A credit note is created for the price of the returned items.<br></p>
</li>
<li>
<p>Returned items cost more than the unpaid invoice amount = The customer receives the balance of the unpaid invoice amount minus the price of the returned items. <br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>A credit note for the returned items is created in the background. Note that the credit note amount and the refunded amount are not always the same. If the refunded amount does not match the credit note amount, the refunded amount is shown on the credit note receipt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customers receives the amount they have already paid.<br>
The credit note amount is equal to the full invoice amount.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="380">6.2. Booking a return without linking it to the main order</h3>
<div class="paragraph">
<p>If you do not know the original main order for which the customer wants to return items or cannot open the order, plentyPOS also allows you to create a return without linking it to a main order. This means that there is no connection between the original order and the return. Proceed as described below to book a return without linking it to the main order.</p>
</div>
<div class="paragraph instruction">
<p>Booking a return without linking it to the main order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu and tap on <strong>Return</strong>.<br>
→ The return menu is displayed.</p>
</li>
<li>
<p>Add the items to be returned by scanning them or using the item search.<br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.<br>
→ By default, the <strong>Default repair storage location</strong> of the POS is selected.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a different target storage location for the item:<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tap the item.</p>
</li>
<li>
<p>Select the option <strong>Change target storage location</strong> from the drop-down list.<br>
→ The available storage locations are shown in the following order:
  1\. Storage location from order = The storage location of the item at the time it was sold.
  2\. Default repair storage location = The <strong>Default repair storage location</strong> selected in the <strong>Basic settings</strong> tab of the POS.
  3\. Suggested storage locations = The storage location suggestions of the warehouses linked to the variation.
  4\. Used storage locations = The storage locations in which the variation is stored already.</p>
</li>
<li>
<p>Tap a target storage location.<br>
→ The storage location is changed.<br>
<strong><em>Tip:</em></strong> Tap on the menu to the top right and then on the <strong>Change target storage locations</strong> option to change the target storage locations of all returned items at once.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Change <a href="/en/pos/plentymarkets-pos-for-pos-users#140">the price of the item</a>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add a <a href="/en/pos/plentymarkets-pos-for-pos-users#100">note to the return</a>.</p>
</li>
<li>
<p>After you have added all returned items, tap the green arrow at the bottom of the POS shopping cart.<br>
→ the total amount of the return is shown.</p>
</li>
<li>
<p>Tap <strong>Complete and pay out cash</strong> or <strong>Complete and create coupon</strong>.<br>
→ A return without main order is created in the plentymarkets back end.<br>
→ A credit note without a main order is created in the plentymarkets back end.<br>
→ If you opted for a coupon, a new order for the amount of the coupon is created.</p>
</li>
<li>
<p>Pay out the refund amount in cash or hand out the coupon.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="385">6.3. Paying out refunds via card terminal (version 1.11.7 and higher)</h3>
<div class="paragraph">
<p>From version 1.11.7 of the plentymarkets app, you can not only pay out refunds for returns as coupons or cash, but also use a card terminal integrated at your plentyPOS to transfer the amount to the customer’s debit card. This method for refunding returns is possible for returns <a href="#370">with</a> or <a href="#380">without</a> a link to an original order.</p>
</div>
<div class="paragraph instruction">
<p>Paying out refunds via card terminal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu and tap on <strong>Return</strong>.<br>
→ The return menu is displayed.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> <a href="/en/pos/plentymarkets-pos-for-pos-users#500">Find the order</a>.<br>
→ The order data is displayed.<br></p>
</li>
<li>
<p>Add the items to be returned by scanning them or using the item search.<br></p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Change <a href="/en/pos/plentymarkets-pos-for-pos-users#140">the price of the item</a>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add a <a href="/en/pos/plentymarkets-pos-for-pos-users#100">note to the return</a>.</p>
</li>
<li>
<p>After you have added all returned items, tap the green arrow at the bottom of the POS shopping cart.<br>
→ The total amount of the return is shown.</p>
</li>
<li>
<p>Tap <strong>Select refund method</strong>.</p>
</li>
<li>
<p>Tap <strong>Refund via card terminal</strong>.</p>
</li>
<li>
<p>Follow the instructions on the card terminal and complete the refund process with the customer’s debit card.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">7. Booking a cash withdrawal or cash deposit</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Any transfer of cash into or out of the POS that are not the result of orders also need to be booked and documented. Putting cash into the POS, e.g. to make sure you have sufficient change on hand, is called a deposit. If you take cash out of the POS, this is called a withdrawal. For example, you might take cash from the POS to pay the cash into a bank account. Proceed as described below to book deposits or withdrawals.</p>
</div>
<div class="sect2">
<h3 id="190">7.1. Booking a cash deposit</h3>
<div class="paragraph">
<p>Proceed as described below to book a deposit.</p>
</div>
<div class="paragraph instruction">
<p>Booking a cash deposit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Deposits and withdrawals</strong>.<br>
→ The <strong>Deposit / withdrawal</strong> menu is displayed.</p>
</li>
<li>
<p>Select a <strong>Reason</strong> for the deposit event from the drop-down list.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter additional information on the deposit in the <strong>Details</strong> field.</p>
</li>
<li>
<p>Enter the amount that is deposited in the POS.</p>
</li>
<li>
<p>Tap <strong>Deposit</strong> to save the deposit.<br>
→ The current cash on hand is updated.<br>
→ A receipt for the deposit is printed.<br>
→ The receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="200">7.2. Booking a cash withdrawal</h3>
<div class="paragraph">
<p>Proceed as described below to book a withdrawal.</p>
</div>
<div class="paragraph instruction">
<p>Booking a cash withdrawal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Deposits and withdrawals</strong>.<br>
→ The <strong>Deposit/withdrawal</strong> menu is displayed.</p>
</li>
<li>
<p>Select a <strong>Reason</strong> for the withdrawal event from the drop-down list.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter additional information on the withdrawal in the <strong>Details</strong> field.</p>
</li>
<li>
<p>Enter the amount that is withdrawn from the POS.</p>
</li>
<li>
<p>Tap <strong>Withdrawal</strong> to save the withdrawal.<br>
→ The current cash on hand is updated.<br>
→ A receipt for the withdrawal is printed.<br>
→ The receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">8. Printing an item label</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you work with plentyBase and label printers, you can also print item labels in the item search of the plentymarkets app. Find out how to print labels in the <a href="/en/app/functions/item-search#400">Printing labels with the plentymarkets app</a> chapter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="210">9. Creating reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can create x reports and z reports in plentyPOS.</p>
</div>
<div class="sect2">
<h3 id="220">9.1. Creating an x report</h3>
<div class="paragraph">
<p>Use x reports to gain insights into the revenue generated for this POS since the last z report during the day. You can create any number of x reports. X reports are not imported to plentymarkets. As such, the creation of x reports is not documented permanently. .</p>
</div>
<div class="paragraph">
<p>X reports contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Cash on hand: Initial cash on hand, withdrawals, deposits, expected cash on hand</p>
</li>
<li>
<p>Revenue since last z report (sum)</p>
</li>
<li>
<p>VAT report: VAT rate, VAT amount and net revenue</p>
</li>
<li>
<p>Payment methods: Revenue by payment method</p>
</li>
<li>
<p>Returned items: Quantity and total</p>
</li>
<li>
<p>Cancellations: Quantity and total</p>
</li>
<li>
<p>Discounted items: Quantity and total</p>
</li>
<li>
<p>Multipurpose coupons: Quantity and total for sold multipurpose coupons</p>
</li>
<li>
<p>Users: Revenue, cancellations and returns by user</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an x report:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>X report</strong>.<br>
<strong><em>Note:</em></strong> If the option is greyed out, you need additional <a href="/en/pos/integrating-plentymarkets-pos#170">rights</a> to create x reports.<br>
→ The x report is printed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">9.2. Creating a z report</h3>
<div class="paragraph">
<p>A z report documents the revenue accrued since the last z report. By generating a z report, the daily revenue is reset to 0. Z reports are assigned a sequential number and saved in plentymarkets. Depending on local law, the saving of z reports may be required for fiscal purposes. .</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Reprinting a z report</div>
<div class="paragraph">
<p>Z reports are saved in the plentymarkets back end. Go to <a href="/en/orders/document-archive">Orders » Document archive</a>. Filter by the document type <strong>Z report</strong>. You can download the report as a PDF file from the <strong>File</strong> column.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Z reports contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Cash on hand: Withdrawals, deposits, expected cash on hand, actual cash on hand</p>
</li>
<li>
<p>Revenue since last z report (sum) and since creating the POS (grand total)</p>
</li>
<li>
<p>VAT report: VAT rate, VAT amount and net revenue</p>
</li>
<li>
<p>Payment methods: Revenue by payment method</p>
</li>
<li>
<p>Returned items: Quantity and total</p>
</li>
<li>
<p>Cancellations: Quantity and total</p>
</li>
<li>
<p>Discounted items: Quantity and total</p>
</li>
<li>
<p>Quantity and total for sold coupons</p>
</li>
<li>
<p>Users: Revenue, cancellations and returns by user</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a z report:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Z report</strong>.</p>
</li>
<li>
<p>Count the actual cash on hand and enter this amount.</p>
</li>
<li>
<p>Tap <strong>Create Z report</strong>.<br>
<strong><em>Note:</em></strong> If the option is greyed out, you need additional <a href="/en/pos/integrating-plentymarkets-pos#170">rights</a> to create z reports.<br>
→ The z report is imported to plentymarkets.<br>
→ The z report is imported and saved in the <strong>Orders » Document archive</strong> menu.<br>
→ The z report is printed.<br>
→ The daily revenue is reset to 0.<br>
→ For POS located in Austria, a zero receipt is created and saved in the cash journal.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Z report for card payments</div>
<div class="paragraph">
<p>For some card terminals linked to plentyPOS, you can create a z report for the card terminal revenue at the same time as you create the plentyPOS z report on some card terminals linked to plentyPOS. Answer <strong>Yes</strong> to the question <strong>Also create z report for terminal?</strong> to send the card revenue to the payment provider and reset it to 0.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Why don’t I see the expected cash on hand?</div>
<div class="paragraph">
<p>The expected cash on hand is <em>not</em> displayed by default. In other words, you will <em>not</em> see how much money is expected to be in the till while you count the cash. It’s a good idea to leave the expected cash on hand hidden so that users are forced to actually count the cash themselves. If POS users see this information, they might be tempted to blindly accept the value rather than count themselves. However, if you still want to <a href="/en/pos/integrating-plentymarkets-pos#50">see the expected cash on hand</a>, then you can configure this setting for the POS.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="450b">9.3. Creating a till count report</h3>
<div class="paragraph">
<p>A till count documents the cash on hand of a till, i.e. the amount of cash in coins and notes, at a specific point in time. For till counts, the cash on hand present in the till is physically counted. The result of this count is documented in a count log. Currently, you can enter Euro, Swiss Franc and Pound Sterling denominations.</p>
</div>
<div class="sect3">
<h4 id="460b">9.3.1. Saving a till count result</h4>
<div class="paragraph">
<p>When you carry out a till count and save the result in plentyPOS, you can enter either the quantity of each coin and note denominations or enter the total result of the till count. Document the result of a till count as described below.</p>
</div>
<div class="paragraph instruction">
<p>Saving a till count result:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The POS menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Till count</strong>.<br>
→ The <strong>Till count</strong> menu is displayed. The lowest coin denomination is preselected.</p>
</li>
<li>
<p>Use the numpad to enter the number of coins you counted for this denomination.</p>
</li>
<li>
<p>Tap the green return arrow to jump to the next denomination.</p>
</li>
<li>
<p>Repeat this process until you have entered the quantity of all coins and notes.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> To enter the total amount counted instead of the quantity per denomination, tap the <strong>Overwrite</strong> field and enter the total amount you counted.</p>
</li>
<li>
<p>Tap <strong>Save till count</strong>.<br>
→ A till count report is created and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Tap <strong>Print till count report</strong> to print the report.</p>
</li>
<li>
<p>If the actual cash on hand differs from the expected cash on hand, proceed as described below to book the difference.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Why don’t I see the expected cash on hand?</div>
<div class="paragraph">
<p>The expected cash on hand is <em>not</em> displayed by default. In other words, you will <em>not</em> see how much money is expected to be in the till while you count the cash. It’s a good idea to leave the expected cash on hand hidden so that users are forced to actually count the cash themselves. If POS users see this information, they might be tempted to blindly accept the value rather than count themselves. However, if you still want to <a href="/en/pos/integrating-plentymarkets-pos#50">see the expected cash on hand</a>, then you can configure this setting for the POS.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="470b">9.3.2. Booking till count discrepancies</h4>
<div class="paragraph">
<p>If after the count the actual cash on hand differs from the expected cash on hand, you either need to balance the discrepancy or book the difference. When you book the difference, the actual cash on hand is saved as the new expected cash on hand. At the same time, either a deposit or a withdrawal is saved depending on whether the difference is positive or negative:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the actual cash on hand is larger than the expected cash on hand, a deposit is booked.</p>
</li>
<li>
<p>If less cash than expected is in the till, a withdrawal is booked.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>When you book a till count discrepancy, the reason <strong>Till count discrepancy</strong> is saved automatically for this booking.</p>
</div>
<div class="paragraph instruction">
<p>Booking a till count discrepancy:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>After saving the till count, tap <strong>Book difference</strong> to save the actual cash on hand as the new expected cash on hand.<br>
→ A deposit or a withdrawal is created for the discrepancy with the reason <strong>Till count discrepancy</strong> and saved in the <strong>Orders » Document archive » POS receipt</strong> menu.<br>
→ The actual cash on hand is saved as the new expected cash on hand.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>