<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Preparing pickup and payment of online orders</span></a></li>
<li><a href="#150"><span>2.</span><span> Further information on online orders</span></a></li>
<li><a href="#200"><span>3.</span><span> Preparatory settings for online orders</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Shipping settings</span></a>
<ul class="sectlevel3">
<li><a href="#400"><span>3.1.1.</span><span> Creating a shipping service provider for store pickup</span></a></li>
<li><a href="#500"><span>3.1.2.</span><span> Creating a shipping profile for store pickup</span></a></li>
<li><a href="#600"><span>3.1.3.</span><span> Activating the shipping profile for store pickup for an item</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.2.</span><span> Activating payment method for payment at pickup</span></a></li>
<li><a href="#800"><span>3.3.</span><span> Determine stock movements</span></a></li>
</ul>
</li>
<li><a href="#900"><span>4.</span><span> Completing online orders</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Processing online orders with plentyPOS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Online orders (also known as <strong>Click &amp; Collect</strong>) can come into your system via your online shop, markets or other referrers. There are two different ways to process these orders in plentyPOS. Customers order items online and pay for them either online or in your store. The items are then picked up in your store. Carry out the following steps to prepare your plentyPOS for processing Click &amp; Collect orders.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Required app version</div>
<div class="paragraph">
<p>To process online orders in plentyPOS, version 1.9 or higher of the plentymarkets app must be installed on the <a href="/en/welcome/quick-start/quick-start-system-requirements#500">appropriate hardware</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Preparing pickup and payment of online orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following preparations are necessary for plentyPOS if you want to allow your customers to finalise online orders in your store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The order ID is needed to search for orders at the POS.<br>
Ensure that your order confirmations contain the order ID. Inform your customers that they need this order ID to pick up their order at your store.</p>
</li>
<li>
<p>Train POS users to verify the identity of customers who come to pick up orders that were paid for online. Otherwise your POS users may hand over paid items to the wrong person by mistake.</p>
</li>
<li>
<p>Do you use processes and/or event procedures to automatically process orders generated in the online store and/or on markets? Check your event procedures and processes before you offer store pickups. Make sure that orders are only set to the status <strong>Outgoing items booked</strong> by an event procedure or a process after the customer has picked up the ordered items from the retail outlet.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Check outgoing items in the order</div>
<div class="paragraph">
<p>plentyPOS displays the information that a customer has received the ordered items after the items have been booked out in plentymarkets. → If problems occur and a customer insists that they have not received the items, check the order in the plentymarkets back end. The items may have been booked out too early.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="150">2. Further information on online orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Also note the following information and limitations regarding payment and pickup of online orders at the retail outlet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Online orders and their data cannot be edited at the POS. POS users can only book payments or save order notes.</p>
</li>
<li>
<p>Online orders can only be paid for at the POS using coupons from app version 1.9.2 and higher using multipurpose coupons. However, coupons can only be used if no payment has been made for the order and no invoice document has been created yet.</p>
</li>
<li>
<p>Payments that are booked at the POS to clear online orders do not increase the revenue of the POS. Payments that are not revenue relevant for the POS are saved as POS events of the type <strong>Payment</strong> in the cash journal.</p>
</li>
<li>
<p>Down payments or partial payments are not possible for online orders at the POS. Thus, customers always have to make full payments for those orders.</p>
</li>
<li>
<p>The option <strong>External order: Book outgoing items automatically</strong> of the POS settings allows you to specify if the order items are booked out of the warehouse automatically after the items have been paid for. For POS that have been created after March 5,2019, this option is activated by default. If you deactivate this option, explain to your POS users in what cases they need to manually book outgoing items.</p>
</li>
<li>
<p>Online orders must not be cancelled in plentyPOS, but only in the plentymarkets back end. Go to <strong>Orders » Edit orders</strong> and open the order. Then, manually change the order status to <strong>[8] Cancelled</strong>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Preparatory settings for online orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#450">Click &amp; Collect</a> means the process of ordering items online and picking them up at the store. In plentymarkets, such an order is loaded into plentyPOS and completed at the POS. The following scenarios are possible at the POS:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The order was placed and paid for online. The goods are picked up in the retail outlet.</p>
</li>
<li>
<p>The order was placed online. The goods are picked up and paid for in the retail outlet.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following chapters show you which preparations you have to make to manage online orders at the POS.</p>
</div>
<div class="sect2">
<h3 id="300">3.1. Shipping settings</h3>
<div class="paragraph">
<p>If you already have a POS, you have already created a shipping service provider <strong>Self pickup</strong> and a shipping profile <strong>Self pickup</strong>. However, we recommend that you create a separate shipping service provider and shipping profile for Click &amp; Collect.</p>
</div>
<div class="sect3">
<h4 id="400">3.1.1. Creating a shipping service provider for store pickup</h4>
<div class="paragraph">
<p>Proceed as described below to create a <a href="/en/fulfilment/preparing-the-shipment#1000">shipping service provider</a> for store pickup. In this example, we call this shipping service provider <strong>Store pickup</strong>. Of course, you can also use a different name.</p>
</div>
<div class="paragraph instruction">
<p>Creating a shipping service provider for store pickup:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings » Tab: Shipping service provider</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new line is added at the bottom of the overview.</p>
</li>
<li>
<p>In the <strong>Name (en)</strong> row, enter the name <strong>Store pickup</strong>.</p>
</li>
<li>
<p>In the <strong>Name (back end)</strong> row, enter the name <strong>Store pickup</strong>.</p>
</li>
<li>
<p>Select <strong>Self pickup</strong> from the <strong>Shipping service provider</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="500">3.1.2. Creating a shipping profile for store pickup</h4>
<div class="paragraph">
<p>Next, create a <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profile</a> for store pickup. In this example, we call this shipping profile <strong>Store pickup</strong>. Of course, you can also use a different name.</p>
</div>
<div class="paragraph instruction">
<p>Creating a shipping profile for store pickup:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>From the drop-down list <strong>Store pickup</strong>, select the shipping service provider you just created.</p>
</li>
<li>
<p>For the <strong>Name (en)</strong> option, enter the name <strong>Store pickup</strong>.</p>
</li>
<li>
<p>For the <strong>Name (back end)</strong> option, enter the name <strong>Store pickup</strong>.</p>
</li>
<li>
<p>Activate the <strong>Client (store)</strong> for which you want to allow store pickups.</p>
</li>
<li>
<p>Activate the <strong>Order referrer</strong>. We recommend the referrers <strong>0 Manual entry</strong> and the <strong>Client (store)</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The <strong>Table of shipping charges</strong> tab is displayed.<br>
<strong><em>Note:</em></strong> No shipping costs are usually charged for store pickup. Thus, no shipping costs are saved in this example.</p>
</li>
<li>
<p><strong>Save</strong> the settings of the <strong>Table of shipping charges</strong> tab without making changes.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="600">3.1.3. Activating the shipping profile for store pickup for an item</h4>
<div class="paragraph">
<p>Now, activate the shipping profile <strong>Store pickup</strong> for the items that can be ordered online and picked up in the store.</p>
</div>
<div class="paragraph instruction">
<p>Activating the shipping profile for store pickup for an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Global</strong> tab.</p>
</li>
<li>
<p>Activate the shipping profile <strong>Self pickup</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Activating the shipping profile for several items</div>
<div class="paragraph">
<p>You can activate the shipping profile for a large number of items simultaneously. To do so, use the <a href="/en/item/managing-items#155">item group function</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="700">3.2. Activating payment method for payment at pickup</h3>
<div class="paragraph">
<p>Now, activate the payment method <strong>Cash payment</strong> to allow customers to pay for online orders at the time of pickup at the store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Provide the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/payment/payuponpickup_4757">Pay upon pickup</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> for the client. By default, the payment method is called Cash payment in the online store. However, you can change the name of the payment method, for example to “Store pickup”.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="800">3.3. Determine stock movements</h3>
<div class="paragraph">
<p>As a final step, specify how stock levels of online orders are to be treated when they are picked up at the retail store.</p>
</div>
<div class="paragraph instruction">
<p>Determine stock movements for online orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » POS</strong>.</p>
</li>
<li>
<p>Open the POS.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>The option <strong>External order: Book outgoing items automatically</strong> is activated by default. Thus, items are booked out of the warehouse automatically after payment has been received. Deactivate the option to book out items only if the POS user taps the <strong>Book outgoing items</strong> button.<br>
<strong><em>Tip:</em></strong> Only deactivate the option if you have a separate pickup station for items, i.e. if you do not hand over items at the POS directly after payment. Educate POS users on when they should tap the button.</p>
</li>
<li>
<p>If items are to be booked out of the sales warehouse of the POS, activate the option <strong>Outgoing items for external orders: Book items out of POS sales warehouse</strong>.<br>
→ If you do not activate the option, the items are booked out of the warehouse that was assigned to the order when the order was created.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you offer Click &amp; Collect in your online store, you also have to activate the order referrers <strong>Manual entry</strong>, <strong>Client (store)</strong>, and, if used, the specific order referrer for the market used for processing Click &amp; Collect orders.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">4. Completing online orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Online orders are processed differently in plentyPOS depending on when and how customers pay for the order.</p>
</div>
<div class="paragraph">
<p>Click on the appropriate tab to see instructions for the different cases.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="handing-over-paid-items-tab" data-toggle="tab" href="#handing-over-paid-items" role="tab" aria-controls="handing-over-paid-items" aria-selected="true">Handing over paid items</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="booking-a-payment-for-an-online-order-tab" data-toggle="tab" href="#booking-a-payment-for-an-online-order" role="tab" aria-controls="booking-a-payment-for-an-online-order" aria-selected="false">Booking a payment for an online order</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="booking-invoice-payments-at-the-pos-tab" data-toggle="tab" href="#booking-invoice-payments-at-the-pos" role="tab" aria-controls="booking-invoice-payments-at-the-pos" aria-selected="false">Booking invoice payments at the POS</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="handing-over-paid-items" role="tabpanel" aria-labelledby="handing-over-paid-items-tab">
<div class="ulist">
<ul>
<li>
<p>A customer has ordered items online. The order was also paid for online. The customer comes to the retail outlet to pick up the ordered items. All items are paid in full.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Checking the customer’s identity</div>
<div class="paragraph">
<p>Ask what guidelines exist in your retail outlet to ensure that items ordered and paid for online are picked up by the right person.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Releasing items ordered online:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#500">Find the order</a>.<br>
→ The order details are loaded into the POS.<br>
<strong><em>Important:</em></strong> Make sure that the customer is the person who has ordered and paid for the items.<br></p>
</li>
<li>
<p>Hand over the items.</p>
</li>
<li>
<p>Tap <strong>Book outgoing items</strong>.<br>
→ The items are booked out of the warehouse.<br>
<strong><em>Tip:</em></strong> To exit the order without completing it, tap <strong>New order</strong>.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="booking-a-payment-for-an-online-order" role="tabpanel" aria-labelledby="booking-a-payment-for-an-online-order-tab">
<div class="ulist">
<ul>
<li>
<p>A customer has ordered items online. The customer comes to the retail outlet to pick up and pay for the ordered items on site.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Booking a payment for an online order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#500">Find the order</a>.<br>
→ The order details are loaded into the POS.<br>
<strong><em>Important:</em></strong> Make sure that the customer is the person who has placed the order.<br>
<strong><em>Tip:</em></strong> To exit the order without completing it, tap the three dots at the top right of the screen and then on <strong>New order</strong>. Alternatively, tap <strong>Back</strong> at the top left.</p>
</li>
<li>
<p>Book the payment as usual.<br>
<strong><em>Note:</em></strong> From app version 1.9.2 and higher, some online orders can also be paid for using multipurpose coupons.<br>
<strong><em>Note:</em></strong> The order details cannot be edited. You can only take payments and save an order note if necessary.</p>
</li>
<li>
<p>Hand over the items.<br>
→ The items are booked out of the warehouse.<br>
<strong><em>Note:</em></strong> If the button <strong>Book outgoing items</strong> is shown after you have booked a payment, the items are only booked out of the warehouse if you tap this button.<br>
→ Check with your supervisor in what cases you need to book out items from the warehouse.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to continue with ringing up the next customer at the POS.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="booking-invoice-payments-at-the-pos" role="tabpanel" aria-labelledby="booking-invoice-payments-at-the-pos-tab">
<div class="ulist">
<ul>
<li>
<p>A customer has bought items on account either online or in the retail outlet. The customer has already received the ordered items. Now they want to pay their invoice on site in the retail outlet.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Booking invoice payments at the POS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#500">Find the order</a>.<br>
→ The order details are loaded into the POS.<br>
<strong><em>Note:</em></strong> The order details cannot be changed.<br>
<strong><em>Tip:</em></strong> To exit the order without completing it, tap the three dots at the top right of the screen and then on <strong>New order</strong>. Alternatively, tap <strong>Back</strong> at the top left.</p>
</li>
<li>
<p>Book the cash payment and/or card payment as usual.<br>
→ The <strong>Order updated</strong> view opens.<br></p>
</li>
<li>
<p>Book the payment as usual.<br>
<strong><em>Note:</em></strong> From app version 1.9.2 and higher, some online orders can also be paid for using multipurpose coupons.<br>
→ The order is updated.<br>
→ A payment receipt is printed. Otherwise, tap <strong>Print receipt</strong> to print the receipt.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to continue with ringing up the next customer at the POS.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div>
</main>