<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Legal compliance in Germany</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Exporting POS transactions to PDF or CSV files</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Creating an IDEA export</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Dealing with German cash register regulations (Kassensicherungsverordnung)</span></a>
<ul class="sectlevel3">
<li><a href="#500"><span>1.3.1.</span><span> Setting up a TSE unit</span></a></li>
<li><a href="#550"><span>1.3.2.</span><span> Tips for linking the TSE unit</span></a></li>
<li><a href="#600"><span>1.3.3.</span><span> Ringing up customers in case of TSE unit failure</span></a></li>
<li><a href="#700"><span>1.3.4.</span><span> Creating TSE exports in the plentymarkets app</span></a></li>
<li><a href="#800"><span>1.3.5.</span><span> Downloading TSE export files</span></a></li>
<li><a href="#900"><span>1.3.6.</span><span> View TSE unit information in the plentymarkets app</span></a></li>
<li><a href="#925"><span>1.3.7.</span><span> Clearing the memory of the TSE unit</span></a></li>
<li><a href="#950"><span>1.3.8.</span><span> Creating a DSFinV-K export</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1000"><span>2.</span><span> Legal compliance in Austria</span></a>
<ul class="sectlevel2">
<li><a href="#1500"><span>2.1.</span><span> Overview: Implementing the POS</span></a></li>
<li><a href="#1600"><span>2.2.</span><span> Creating the start receipt (Austria)</span></a></li>
<li><a href="#1900"><span>2.3.</span><span> Creating a Z2 receipt</span></a>
<ul class="sectlevel3">
<li><a href="#2000"><span>2.3.1.</span><span> Assigning users the right to create Z2 receipts</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>2.4.</span><span> Creating a Kontrollbeleg (control receipt) for tax authorities</span></a></li>
<li><a href="#1200"><span>2.5.</span><span> Selling items with a faulty signature unit</span></a></li>
<li><a href="#1700"><span>2.6.</span><span> Documenting POS transactions for Austrian tax authorities</span></a>
<ul class="sectlevel3">
<li><a href="#1800"><span>2.6.1.</span><span> Creating a DEP export</span></a></li>
</ul>
</li>
<li><a href="#2300"><span>2.7.</span><span> Decommissioning a POS</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyPOS and legal compliance</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>When using plentyPOS, there are a few aspects that you should pay attention to in order to ensure legal compliance. These aspects mostly arise from tax and financial legislation. Some of these aspects are already relevant when integrating a POS in plentymarkets, others are important in case of inspections carried out by tax and financial authorities. This manual page describes all necessary steps to ensure that your workflows with plentyPOS are legally compliant. The following instructions differentiate between running a plentyPOS in Germany and Austria, since legal requirements differ in both countries.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Requirements</div>
<div class="paragraph">
<p>This page assumes that you’ve already <a href="/en/app/installation">downloaded</a> the plentymarkets app and installed it on the appropriate hardware. You can find information on the necessary hardware for the plentymarkets app on <a href="/en/welcome/quick-start/quick-start-system-requirements#200">this manual page</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Legal compliance in Germany</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following chapters describe the required steps to be followed to ensure legal compliance of plentyPOS with German legislation.</p>
</div>
<div class="paragraph">
<p>Several regulations apply for using point of sale systems operated in Germany. Among others, the <strong>GoBD</strong> (German guidelines for bookkeeping) are relevant for POS operated in Germany. Data concerning POS transactions generally have to be stored in machine-readable and tamper-proof formats. Contact your tax advisor for detailed information on current legislation and discuss which data has to be exported and archived.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Exporting POS transactions to PDF or CSV files</h3>
<div class="paragraph">
<p>You can export the POS transactions shown in the cash journal to a PDF or CSV file. Only POS transactions that match the selected search criteria are exported. Proceed as described below to export POS transactions. Once you have started the export, you need to wait two minutes before you can start another cash journal export.</p>
</div>
<h4 id="_assigning_rights_for_back_end_users" class="discrete">Assigning rights for back end users</h4>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to exporting POS transactions as PDF or CSV files, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Orders &gt; POS &gt; Cash journal</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Exporting POS transactions to PDF or CSV files:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » POS » Cash journal</strong>.</p>
</li>
<li>
<p>Select filters. Pay attention to the information given in <a href="#table-POS-cash-journal-menu">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The customers that correspond to the search criteria entered are listed.</p>
</li>
<li>
<p>Depending on the desired file format, click on <strong>PDF export</strong> or <strong>Cash journal export (CSV)</strong>.<br>
→ A CSV file of the filtered POS transactions is generated. This may take several minutes depending on the number of records to be exported.<br>
→ The file opens in a separate browser window.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the file.</p>
</li>
</ol>
</div>
<table id="table-POS-cash-journal-menu" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the <strong>Cash journal</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Search</strong> without selecting any filter settings. This displays all POS transactions.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Limit the search results by using filters and click on <strong>Search</strong>. The POS transactions found are listed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the previously selected filter settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Receipt number: from</strong>;<br>
<strong>Receipt number: to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the receipt numbers of the first and last receipt to search for receipts of a specific receipt number range. To show a single receipt, enter the same receipt number in the field <strong>Receipt number: from</strong> and the field <strong>Receipt number: to</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Posting account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a <a href="/en/pos/pos-einrichten#950">booking account</a> to display the POS transactions for that booking account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Include  gift card sales</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to treat sold coupons like revenue?<br>
<strong>check mark</strong> = Sold coupons contribute to the total revenue. The amounts are listed as “revenue (<strong>R</strong>)” in the cash journal. Sold coupons contribute to the value displayed in the <strong>Amount</strong> column on the right. Coupons are also treated like revenue in the PDF export and the CSV export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store) from the drop-down list to limit the results to POS transactions that were carried out for a specific client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>POS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a POS from the drop-down list to limit the results to POS transactions that were carried out with a specific POS.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a user from the drop-down list to limit the results to POS transactions that were carried out by a specific user.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a payment method from the drop-down list to limit the results to POS transactions that were carried out using a specific payment method. Only active payment methods are listed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a period to limit the POS transactions shown to those that were created during this period.<br>
To only show receipts of a custom period, select <strong>Date selection</strong>. Then select the starting date from the calendar in the <strong>from</strong> field and the ending date from the calendar in the <strong>to</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a type from the drop-down list to limit the results to POS transactions of this type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Cash journal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time of the POS event</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates if the POS transaction can be categorised as revenue (<strong>R</strong>) or as spending (<strong>S</strong>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value of the POS transaction</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Receipt number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of the receipt created for the POS transaction. Click on the receipt number to open a PDF file of the receipt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The type of the POS transaction</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cash on hand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The cash on hand after the POS transaction was completed</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the order created in plentymarkets</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT rates that apply for the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT amount of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Booking text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The booking text for the POS transaction. For deposits and withdrawals, the booking text is the reason entered for the cash movement.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Creating an IDEA export</h3>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">IDEA export is GoBD certified</div>
<div class="paragraph">
<p>The IDEA export provides data that is fully compliant to the GoBD (German regulation). If you run your POS at a location in Germany, you can download the certificate for your tax advisor or the responsible tax authorities <a href="https://www.plentymarkets.eu/documents/category/3339/GoBD-Export-Zertifikat-plentymarkets.pdf" target="_blank" rel="noopener">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>German tax laws stipulate that you need to document all POS data and provide access to this data upon request. As a further requirement, the data must contain the meta information necessary for automated evaluation (see Grundsätze zur ordnungsmäßigen Führung und Aufbewahrung von Büchern, Aufzeichnungen und Unterlagen in elektronischer Form sowie zum Datenzugriff, GoBD for details). As such, plentymarkets provides a GoBD compliant export of the POS transactions. The export files allow tax auditors comprehensive and efficient analyses of your POS data. Proceed as described below to create an IDEA export.</p>
</div>
<h4 id="_assigning_rights_for_back_end_users_2" class="discrete">Assigning rights for back end users</h4>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to create IDEA exports, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Orders &gt; POS &gt; IDEA export</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Exporting the IDEA files:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » POS » IDEA export</strong>.</p>
</li>
<li>
<p>Select the calendar year for which you want to export the data.</p>
</li>
<li>
<p>Click on the gear wheel (<span class="icon darkGrey"><i class="fa fa-icon-execute  "></i></span>) to create the export.<br>
→ The export is generated over night.<br>
→ Once data generation is complete, the status changes to <strong>Done</strong>.</p>
</li>
<li>
<p>Click on <strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>) in the <strong>Actions</strong> column.</p>
</li>
<li>
<p>Select a storage location and confirm your selection.<br>
→ The IDEA files are exported and saved as a ZIP file.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Dealing with German cash register regulations (Kassensicherungsverordnung)</h3>
<div class="paragraph">
<p>For POS that are run in German locations, the German cash register regulations (Kassensicherungsverordnung) apply. Due to these regulations, cash registers must be equipped with a so-called technical security unit (German: TSE). The TSE adds a signature to all receipts created by the POS and saves data on POS transactions in a tamper-proof file format. Ideally, you should create a TSE export once a day. In case German tax authorities carry out an inspection of your records, you are also obliged to provide an export file containing all available TSE data.</p>
</div>
<div class="sect3">
<h4 id="500">1.3.1. Setting up a TSE unit</h4>
<div class="paragraph">
<p>To link your POS to a TSE unit and thus run it in accordance with German cash register regulations, note the information in <a href="#table-tse-unit-setup">Table 2</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use one TSE unit per POS</div>
<div class="paragraph">
<p>We recommend to use a separate TSE unit for each POS. Linking one TSE unit with several POS at the same time leads to waiting times and delays when ringing up customers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Use one TSE unit per client</div>
<div class="paragraph">
<p>If you have booked several clients for your plentymarkets system and run POS with more than one client, do not link POS from different clients with the same TSE unit. For instance, if have booked 2 clients and run POS for both of them, you require 2 separate TSE units.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-tse-unit-setup" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Setting up a TSE unit</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 33.3333%;">
<col style="width: 50.0001%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Order</th>
<th class="tableblock halign-left valign-top">Step</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Buying hardware</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hardware bought after 1st January2020 should either be compliant with German cash register regulations or be adjustable to comply with the regulations. We recommend that you contact your hardware provider to buy new receipt printers with an integrated TSE unit. <strong><em>Or</em></strong>: Clarify with your hardware provider if the hardware you are currently using can be adjusted or not.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Linking a TSE unit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link your hardware to your cash register system. The receipt printer automatically prints a test receipt after the TSE has been linked.<br>
Open the plentymarkets app and click on <strong>Settings</strong> in the menu. Enter the IP address of the TSE unit that is printed on the test receipt. Tap <strong>Link TSE unit</strong>.<br>
In the <strong>Basic settings</strong> tab of the <strong>Setup » Client » Select client » POS</strong> menu, the <strong>TSE serial number</strong> and the <strong>Public key</strong> of the TSE unit are automatically entered and saved in the <strong>Fiscalisation (Germany)</strong> area. If needed, you can view and check the data there. If you want to set up a receipt printer manufactured by Epson, pay attention to our <a href="#550">tips</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Registering the TSE unit with tax authorities</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Register your TSE unit including the <strong>Serial number</strong> (see previous step) with your responsible tax authority. More information on the registration process will be added here as soon as it becomes available.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Write down the IP address of the TSE unit</div>
<div class="paragraph">
<p>We recommend to write down the IP address of the TSE unit separately. Also, attach a label with the corresponding IP address to the respective receipt printer after you have successfully linked the TSE unit. This way, you can easily see the IP address of the linked TSE unit in case of connection problems and thus avoid linking the wrong TSE unit.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="550">1.3.2. Tips for linking the TSE unit</h4>
<div class="paragraph">
<p>Are you using a receipt printer manufactured by Epson? If so, pay attention to the following tips before starting the process of <a href="#500">linking the technical security unit</a> to avoid setup errors.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Make sure that you are using the latest version of the Epson firmware. To update the firmware, use the Epson TM Utility App from <a href="https://apps.apple.com/us/app/epson-tm-utility/id726122574" target="_blank" rel="noopener">App Store</a> for iOS devices or from <a href="https://play.google.com/store/apps/details?id=com.epson.tmutility&amp;hl=en" target="_blank" rel="noopener">Google Play Store</a> for Android devices.</p>
</li>
<li>
<p>Activate the option <strong>ePOS-Device</strong> in the receipt printer configuration. To do so, enter the IP address of the receipt printer in your browser’s address bar. The login credentials for this page consist of the user name <strong>epson</strong> and the serial number of your receipt printer as password by default. Under the menu point <strong>Configuration</strong>, click on <strong>ePOS-Device</strong> and select the option <strong>Enable</strong>.</p>
</li>
<li>
<p>Only link one device at most to your receipt printer, e.g. the display of the receipt printer itself. If you wish to add further devices, link them using a USB hub with its own separate power supply. This way, you avoid malfunctions of the TSE that might occur due to low power supply.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="600">1.3.3. Ringing up customers in case of TSE unit failure</h4>
<div class="paragraph">
<p>If the TSE unit fails for some reason, you can continue to ring up customers at the POS. Each receipt created after the failure itself will automatically include a note on the failure.<br>
However, following some additional steps is mandatory:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Document the time the TSE unit stopped working.</p>
</li>
<li>
<p>If possible, move on to a POS with a functioning TSE unit.</p>
</li>
<li>
<p>If no other POS is available, you can continue using the POS with the unavailable TSE unit. All receipts are then signed with a note accordingly. This note says that the TSE unit was not working at the time the receipt was printed.</p>
</li>
<li>
<p>Contact the supplier of your TSE unit or your hardware suppliere immediately to arrange for either a new TSE unit or for repair of the existing one.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Provide training to POS users</div>
<div class="paragraph">
<p>Train POS users carefully using the instructions provided above so that POS users know how to react to and document a possible failure of the TSE unit.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="700">1.3.4. Creating TSE exports in the plentymarkets app</h4>
<div class="paragraph">
<p>We recommend that you create a TSE export once a day after creating the <a href="/en/pos/plentymarkets-pos-for-pos-users#230">z report</a>. TSE exports are created via the plentymarkets app. After creation of the export, the export file is automatically uploaded and is available for downloading in the plentymarkets back end.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activate rights for the plentymarkets app</div>
<div class="paragraph">
<p>For POS users without admin access to the plentymarkets app, activate the app right <strong>TSE unit</strong> so that they can create TSE exports. Refer to the <a href="/en/pos/integrating-plentymarkets-pos#170">Integrating plentyPOS</a> manual page for further information.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to create a TSE export.</p>
</div>
<div class="paragraph instruction">
<p>Creating a TSE export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Tap the menu symbol at the top left of the screen.<br>
→ The menu opens.</p>
</li>
<li>
<p>Tap <strong>TSE unit</strong>.</p>
</li>
<li>
<p>In the <strong>Export</strong> area, click on <strong>Create and upload</strong>.<br>
→ Confirm your decision. The export is created and the export file is uploaded to the plentymarkets back end. <strong><em>Note</em></strong>: It can take several minutes for this process to finish.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="800">1.3.5. Downloading TSE export files</h4>
<div class="paragraph">
<p>After creating TSE exports in the plentymarkets app, all created TSE export files are available to you in the plentymarkets back end. In case of an inspection carried out by tax authorities, go to <strong>Orders » POS » TSE export</strong> to access the export files and download them in a standard format.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Provide training to POS users</div>
<div class="paragraph">
<p>In case of an inspection carried out by tax authorities, every POS user must be able to create a TSE export and electronically hand over the export files. Train POS users carefully using the following instructions!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to download TSE export files.</p>
</div>
<h5 id="_assigning_rights_for_back_end_users_3" class="discrete">Assigning rights for back end users</h5>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to download TSE exports, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Orders &gt; POS &gt; TSE export</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Download TSE exports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » POS » TSE export</strong>.</p>
</li>
<li>
<p>Select the serial number of the TSE unit from the drop-down list.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Use the filter to select a start and end date for the period of time for which you want to download the export files.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ A list of available export files is displayed.</p>
</li>
<li>
<p>Click on <strong>Download all exports</strong> to download all export files displayed on the page.<br>
→ <strong><em>Or</em></strong>: Select individual export files in the list and click on <strong>Download selected exports</strong>.<br>
→ The export files are downloaded.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="900">1.3.6. View TSE unit information in the plentymarkets app</h4>
<div class="paragraph">
<p>In addition to creating and downloading TSE export files, the plentymarkets app offers you insight into the current status of your TSE unit.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activate rights for the plentymarkets app</div>
<div class="paragraph">
<p>For POS users without admin access to the plentymarkets app, activate the app right <strong>TSE unit</strong> so that they can see TSE information in the plentymarkets app. Refer to the <a href="/en/pos/integrating-plentymarkets-pos#170">Integrating plentyPOS</a> manual page for further information.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to view information on the TSE unit in the plentymarkets app.</p>
</div>
<div class="paragraph instruction">
<p>Viewing TSE unit information in the plentymarkets app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Tap the menu symbol at the top left of the screen.<br>
→ The menu opens.</p>
</li>
<li>
<p>Tap <strong>TSE unit</strong>.<br>
→ The available information on the TSE unit is listed. Pay attention to the information provided in <a href="#table-app-tse-unit">Table 3</a>.</p>
</li>
</ol>
</div>
<table id="table-app-tse-unit" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. TSE unit information in the app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Information</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the current status of the TSE unit.<br>
As soon as the TSE unit has been linked successfully, the default status <strong>INITIALIZED</strong> is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Certificate valid to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the validity date of the TSE certificate. After the displayed date, the TSE unit supplier has to be contacted to obtain a new certificate for the TSE unit. In case of expired validity, the POS can still be operated. However, the certificate has to be renewed as soon as possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Registered clients</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of POS that are linked to the TSE unit. In the best case, each POS is linked to a separate TSE unit and the value <strong>1</strong> is displayed. It is possible to run several POS with the same TSE unit. However, in that case, delays with receipt printing may occur.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initiated transactions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of POS transactions that are currently executed and signed by the TSE unit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Signatures</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Created</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the total number of signatures that have been created on the TSE unit that is currently in use. This number consists of all transactions carried out by the TSE unit in the background (signing in, changes of settings, time synchronisation) as well as every receipt signed by the TSE unit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remaining</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of remaining signatures for the TSE unit that is currently in use until the maximum number (see value <strong>Total</strong>) is reached.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the maximum number of signatures that can be created by the TSE unit that is currently in use. If this number has been reached, the TSE supplier has to be contacted so that the TSE unit can be exchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Storage</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the storage currently in use on the TSE unit. The storage on the TSE unit is used by TSE export files and can be emptied by <a href="/en/pos/pos-legal-compliance#700">creating an export</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the maximum storage available on the TSE unit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Export</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the date on which the last TSE export has been created in the plentymarkets app and successfully uploaded.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Current export size</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the estimated file size of the next TSE export.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="925">1.3.7. Clearing the memory of the TSE unit</h4>
<div class="paragraph">
<p>The TSE unit has a built-in memory that temporarily stores information about the signature processes. If no TSE export has been created for a longer period of time, this memory is gradually taken up. This leads to the error message <code>Memory of TSE unit almost full</code> being displayed at your plentyPOS.</p>
</div>
<div class="paragraph">
<p>In this case, create a TSE export as descriped in the chapter <a href="#700">Creating a TSE export in the plentymarkets app</a>. After the export has been created, the memory of the TSE unit is automatically cleared.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Create TSE export regularly</div>
<div class="paragraph">
<p>The more data are stored in the memory of the TSE unit, the longer the TSE export will take to be fully created. If a lot of data is stored on the TSE unit, there is an increased risk of errors occurring during data transfer. Thus, make sure that a TSE export is created every day after the z report is created.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="950">1.3.8. Creating a DSFinV-K export</h4>
<div class="paragraph">
<p>The German data standards for cash register details (DSFinV-K) ensure that all POS transaction data is saved in a standard format.</p>
</div>
<div class="paragraph">
<p>DSFinV-K exports created in plentymarkets are GoBD compliant but also contain additional information. DSFinV-K exports may be requested by tax authorities for inspection purposes.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Provide training to POS users</div>
<div class="paragraph">
<p>In case of an inspection carried out by tax authorities, every POS user must be able to create a DSFinVK export and electronically hand over the export files. Train POS users carefully using the following instructions!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_assigning_rights_for_back_end_users_4" class="discrete">Assigning rights for back end users</h4>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to create DSFinV-K exports, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Orders &gt; POS &gt; DSFinV-K export</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Creating a DSFinV-K export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » POS » DSFinV-K export</strong>.</p>
</li>
<li>
<p>Click on <strong>Create export</strong>.<br>
→ A window opens.</p>
</li>
<li>
<p>From the drop-down list, select the client for which the export should be created.</p>
</li>
<li>
<p>Select a year for which the data should be included in the export.</p>
</li>
<li>
<p>Click on <strong>Create export</strong>.<br>
→ The export is scheduled for creation and is created over night.<br>
→ As soon as the export has been created, it is displayed in the <strong>Orders » POS » DSFinV-K export</strong> menu with the status <strong>Finished</strong>.</p>
</li>
<li>
<p>Click on <strong>Download</strong>.<br>
→ The export file is downloaded.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">2. Legal compliance in Austria</h2>
<div class="sectionbody">
<div class="paragraph">
<p>According to the Cash Register Directive (Registrierkassensicherheitsverordnung, RKSV) points of sale located in Austria have to be equipped with a technical signature unit that ensures that POS transaction data is temper-proof, i.e. cannot be deleted or edited. The QR code on the POS receipts provides visual proof that the POS is tamper-proof. The following chapters explain how to set up and run POS systems in Austria according to official regulations.</p>
</div>
<div class="sect2">
<h3 id="1500">2.1. Overview: Implementing the POS</h3>
<div class="paragraph">
<p>For POS located in Austria, the steps described in <a href="#table-activating-POS-Austria">Table 4</a> are necessary to activate the signature unit required by the RKSV. Check the website of the <a href="https://english.bmf.gv.at/taxation/Cash_register_folder.html" target="_blank" rel="noopener">Austrian Federal Ministry of Finance</a> for detailed information on these legal requirements. This page of the manual describes only those steps necessary to implement a plentyPOS located in Austria. This description does not form legal or fiscal advice.</p>
</div>
<table id="table-activating-POS-Austria" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Putting POS in operation in Austria</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 33.3333%;">
<col style="width: 50.0001%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Order</th>
<th class="tableblock halign-left valign-top">Step</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Get a signature card and a signature card reader</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>plentyPOS is optimised for use with the Feitian smartcard reader <a href="https://en.cryptoshop.com/feitian-br301-bluetooth-reader.html" target="_blank" rel="noopener">bR301</a>.</p>
</li>
<li>
<p>plentymarkets tests with the signature cards of the service provider <a href="https://www.prime-sign.com/" target="_blank" rel="noopener">PrimeSign</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Initialise the tamper-proof POS</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">See <a href="/en/pos/integrating-plentymarkets-pos#50">Basic settings for POS</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create the start receipt (Startbeleg)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">See <a href="#1600">Creating the start receipt (Austria)</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Register the signature card and POS at FinanzOnline</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>After creating the start receipt, register the signature card and POS at FinanzOnline. You need the following information to complete the registration process:<br></p>
</div>
<div class="paragraph">
<p>Signature card (documents relating to the signature card):<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The signature certificate’s serial number</p>
</li>
<li>
<p>The name of the service provider (Vertrauensdiensteanbieter) you bought the certificate from</p>
</li>
<li>
<p>The signature certificate’s PIN</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>POS (<strong>System » Client » Standard » POS » Open POS » Tab: Basic settings</strong>):<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The POS identification number of the plentyPOS. Go to <strong>System » Client » Standard » POS » Open POS » Tab: Basic settings</strong> to find the <strong>POS identification number</strong>.</p>
</li>
<li>
<p>Go to the <strong>System » Client » Standard » POS » Open POS » Tab: Basic settings</strong> to find the <strong>User key AES-256</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Scan the start receipt with the BMF receipt validation app</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">After registering the POS at FinanzOnline, scan the QR code of the start receipt. The app checks if the signature on the POS receipts is valid.<br>
<strong><em>Tip:</em></strong> You need to scan the start receipt within a week after registering the signature card and the POS at FinanzOnline.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Existing POS in Austria</div>
<div class="paragraph">
<p>Existing POS cannot be made tamper-proof. If you already operate a plentyPOS point of sale in Austria, you need to create a new POS and decommission the old POS.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1600">2.2. Creating the start receipt (Austria)</h3>
<div class="paragraph">
<p>Now create the start receipt (Startbeleg) to put the POS into operation. You need the PIN of the signature certificate to create the start receipt. You should have received this PIN from your certificate service provider (Vertrauensdiensteanbieter) together with your signature card. Go to the POS menu of the plentymarkets app to create the start receipt. After the start receipt is created, the location country of the POS cannot be changed.</p>
</div>
<div class="paragraph instruction">
<p>Creating the start receipt (Startbeleg):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Go to <strong>plentymarkets App » Settings » POS</strong>.</p>
</li>
<li>
<p>Enter the PIN of the signature certificate. You should have received this PIN from your certificate service provider (Vertrauensdiensteanbieter) together with your signature card.</p>
</li>
<li>
<p>Tap <strong>Create start receipt</strong>.<br>
→ The start receipt is printed.<br>
→ The start receipt is saved in the cash journal and in the document archive.<br>
→ You can start using the POS.<br>
→ Receipts contain the electronic signature and the QR code.<br>
→ Transactions are saved in the data export protocol (DEP).</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1900">2.3. Creating a Z2 receipt</h3>
<div class="paragraph">
<p>A Z2 receipt is a monthly signed control receipt with an amount of zero (0.00 Euro). The RKSV requires you to create a Z2 receipt at the end of each month. The Z2 report for the month of December also serves as an end of year report. You need to print and archive this yearly receipt every year and scan the barcode with the BMF receipt validation app.</p>
</div>
<div class="sect3">
<h4 id="2000">2.3.1. Assigning users the right to create Z2 receipts</h4>
<div class="paragraph">
<p>Users with admin rights are able to create Z2 receipts by default. <strong>Backend</strong> users must be assigned this right.</p>
</div>
<div class="paragraph instruction">
<p>Assigning users the right to create Z2 receipts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Tap on the desired user account.</p>
</li>
<li>
<p>Click on the <strong>Mobile</strong> tab.</p>
</li>
<li>
<p>In the <strong>POS functions</strong> section, activate the right <strong>Z2 receipt (AT)</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The POS user can create Z2 receipts in plentyPOS.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1300">2.4. Creating a Kontrollbeleg (control receipt) for tax authorities</h3>
<div class="paragraph">
<p>In the case of a POS inspection by Austrian tax authorities, you need to be able to generate a zero amount control receipt (Kontrollbeleg) on the spot. This control receipt allows tax inspectors to validate the signature on the POS receipts on site in your store using a special app. You do not need any additional user rights to create a control receipt.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Kontrollbeleg (control receipt) on demand:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The POS menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Control receipt</strong>.<br>
→ Der control receipt is printed.<br>
→ The control receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.<br>
<strong><em>Note:</em></strong> The investigators can keep the control receipt as evidence.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">2.5. Selling items with a faulty signature unit</h3>
<div class="paragraph">
<p>The RKSV stipulates how you need to proceed if the signature unit of the POS fails:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the signature unit fails, you need to move on to a POS with a functioning signature unit.</p>
</li>
<li>
<p>If no other POS is available, you can temporarily use the one with the failed signature unit.</p>
</li>
<li>
<p>If the signature unit fails for more than 48 hours, you need to inform the tax authorities about the beginning and end of the failure via FinanzOnline within a week.</p>
</li>
<li>
<p>All unsigned receipts must be marked <strong>Signatureinrichtung ausgefallen</strong> (Signature unit failed).<br>
→ In plentyPOS, receipts are marked with this text automatically if the signature unit fails.</p>
</li>
<li>
<p>As soon as the signature unit functions again, a collective receipt (Sammelbeleg) must be created. The signature of this receipt must contain all transactions that were generated with the POS while the signature unit was not in operation.<br>
→ plentyPOS creates a collective receipt automatically once the signature unit functions again.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="1700">2.6. Documenting POS transactions for Austrian tax authorities</h3>
<div class="paragraph">
<p>The Austrian Registrierkassensicherheitsverordnung (RKSV) stipulates that receipts must be electronically signed and furnished with a QR code. This QR code contains all relevant receipt data, an encrypted revenue counter and information on the previous receipt. This reference to the previous receipt ensures that preceding receipts cannot be manipulated or deleted. In addition, a data collection protocol (Datenerfassungsprotokoll, DEP) must be kept for each POS. You need to be able to export this DEP to a local storage medium at any time.</p>
</div>
<div class="paragraph">
<p>plentymarkets provides several export formats to allow you to comply with these legal requirements. These exports are designed to conform to German tax laws. Talk to your tax consultant to determine what data you need to export and archive to comply with local tax laws.</p>
</div>
<div class="sect3">
<h4 id="1800">2.6.1. Creating a DEP export</h4>
<div class="paragraph">
<p>According to §7 of the Austrian Registrierkassensicherheitsverordnung (RKSV), a data collection protocol (Datenerfassungsprotokoll, DEP) must be kept for every POS. At a minimum, the DEP must contain the signatures of any receipts resulting from cash sales and cash cancellations. The concatenation of the receipt signatures means that the DEP data is temper-proof. A separate DEP must be kept for each POS.</p>
</div>
<div class="paragraph">
<p>The DEP report is exported as a JSON file. It contains the following receipt data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Receipt group (Beleg-Gruppe)</p>
</li>
<li>
<p>Signature certificate</p>
</li>
<li>
<p>Certification authorities (Zertifizierungsstellen)</p>
</li>
<li>
<p>Compact receipts (Belege-kompakt)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You must be able to export the DEP of a POS to an external disk and hand it over to tax inspectors at any time. Proceed as described below to create a DEP export.</p>
</div>
<h5 id="_assigning_rights_for_back_end_users_5" class="discrete">Assigning rights for back end users</h5>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to create DEP exports, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Orders &gt; POS &gt; DEP export</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Exporting the DEP files:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » POS » DEP export</strong>.</p>
</li>
<li>
<p>Select the client (store).</p>
</li>
<li>
<p>Select the POS.</p>
</li>
<li>
<p>Select the first date of the range you want to export.</p>
</li>
<li>
<p>Select the last date of the range you want to export.</p>
</li>
<li>
<p>Click on <strong>Download</strong>.<br>
→ The file is saved in the default download folder set for the browser.<br>
<strong><em>Tip:</em></strong> The file name contains the export range, for example the file depExport9-1-2017-9-2-2017.json contains data from the 9th of January to the 9th of February2017\.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2300">2.7. Decommissioning a POS</h3>
<div class="paragraph">
<p>To permanently decommission a POS located in Austria, you need to create an end receipt. An end receipt is an electronically signed control receipt with an amount of zero (0.00). An end receipt can be created for POS for which a start receipt has already been created. Go to the POS menu of the plentymarkets app to create the end receipt. Once an end receipt is created, the POS can no longer be operated.</p>
</div>
<div class="paragraph instruction">
<p>Creating an end receipt (Endbeleg):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Go to <strong>plentymarkets App » Settings » POS</strong>.</p>
</li>
<li>
<p>Tap <strong>Create end receipt</strong>.<br>
→ The end receipt is printed.<br>
→ The end receipt is saved in the cash journal and in the document archive.<br>
→ The POS can no longer be operated.</p>
</li>
<li>
<p>Inform tax authorities that you decommissioned the POS.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>