<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Adding custom fields to your item data with properties</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Have you given some thought to the items you wish to list on Amazon? This video teaches you how to give them things like a name, description, stock level, and price before they are ready to go on sale.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/amazon/items/sale-item-name-description#video">Choosing item name and description (0:48)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/sale-stock-level-delivery-time#video">Customising stock level and delivery time (1:55)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/sale-sort-items-into-categories#video">Sorting items into Amazon categories (3:41)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/sale-display-items-with-sales-price#video">Displaying items with correct sales prices (4:32)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/sale-match-attributes#video">Matching attributes with Amazon (5:27)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/202025898#at=260" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Have you given some thought to the items you’ll list on Amazon?</p>
</div>
<div class="paragraph">
<p>They’ll need things like a name, description, stock level and price before they’re ready to go on sale.</p>
</div>
<div class="paragraph">
<p>This video teaches you how to do just that. You’ll learn how to save item names and descriptions specifically for Amazon. Then you’ll learn how the item’s stock level and delivery time is calculated. And finally, you’ll learn how to make sure your items are sorted into the right Amazon categories and that they’re displayed with the correct sales prices and attributes. Alright, strap on those boots and let’s hit the item configuration trail!</p>
</div>
<div class="paragraph">
<p>This video assumes that you’ve already saved your own items and categories in plentymarkets. If that’s not the case, then check out this series of videos before you continue.</p>
</div>
<div class="paragraph">
<p>Alright, during the first leg of the journey, you’ll decide which item name and description you want to use for Amazon.</p>
</div>
<div class="paragraph">
<p>So just open the item of your choice and click on the "Texts" tab.</p>
</div>
<div class="paragraph">
<p>Here you can save 3 different names for the item as well as a preview text and an item description.</p>
</div>
<div class="paragraph">
<p>But how do you specify which of these texts should be displayed on Amazon? Simply navigate to Amazon and then open the item settings.</p>
</div>
<div class="paragraph">
<p>Down here, you can select which exact item name and description you want to be displayed on Amazon.</p>
</div>
<div class="paragraph">
<p>So simply decide whether you’d like Name 1, 2 or 3 to be the item’s name on Amazon and whether you’d like the preview or description to be the item’s text.</p>
</div>
<div class="paragraph">
<p>Here you can decide whether you’d like the HTML tags in your item texts to be transmitted to Amazon too.</p>
</div>
<div class="paragraph">
<p>But really, we don’t recommend doing so because only a few, basic HTML tags can be transmitted correctly, so this might make your descriptions look a bit wonky.</p>
</div>
<div class="paragraph">
<p>Next, use these options here to specify how your items' stock levels should be calculated on Amazon and how long it usually takes you to ship items.</p>
</div>
<div class="paragraph">
<p>Start out by telling plentymarkets which warehouse or warehouses it should use to decide how many copies of the item are currently in stock.</p>
</div>
<div class="paragraph">
<p>If you want to pick the warehouse yourself just make sure that you don’t accidentally choose one that you use for Amazon FBA.</p>
</div>
<div class="paragraph">
<p>OK, so to recap, whatever warehouse you choose here will be used as a reference point for how many copies of the item are in stock. But in some cases, you may want to customise the stock levels even further.</p>
</div>
<div class="paragraph">
<p>Let’s start by looking at this middle option because it’s pretty straight forward. Here you simply define a maximum stock level that you want to report to Amazon.</p>
</div>
<div class="paragraph">
<p>So if you enter "60", then plentymarkets will only tell Amazon that 60 copies are available even if there are more.</p>
</div>
<div class="paragraph">
<p>Now let’s look at the "Stock buffer". It only applies to items that are limited to net stock. Here, just enter a number to specify how many copies of an item should not be transferred to Amazon.</p>
</div>
<div class="paragraph">
<p>And tadaaa! You’ll always have a small buffer left over in your warehouse.</p>
</div>
<div class="paragraph">
<p>This last option is useful if some of your items are not limited to net stock.</p>
</div>
<div class="paragraph">
<p>Just tell plentymarkets how many copies of these items it should transfer to Amazon. In this example, Amazon will be notified that there are 5 copies available for all of my items that are not limited to net stock.</p>
</div>
<div class="paragraph">
<p>Lastly, decide whether you’d like to use the shipping time that’s saved in your shipping profile on Seller Central or perhaps even the shipping time with a few additional days for handling.</p>
</div>
<div class="paragraph">
<p>You can ignore the rest of the settings in this menu for now and simply save what you’ve configured so far.</p>
</div>
<div class="paragraph">
<p>We’re on route to Amazon! Next up, you’ll match your own categories with the category structure used on Amazon.</p>
</div>
<div class="paragraph">
<p>You can think of every Amazon category as having an ID, called a browse node.</p>
</div>
<div class="paragraph">
<p>All you’ll need to do is specify which browse node matches your own category.</p>
</div>
<div class="paragraph">
<p>When you’re ready, open plentymarkets and navigate to the "Category link" menu. You can find the Amazon browse nodes by clicking on the magnifying glass here. You’ll be forwarded directly to the Amazon Product Classifier, which you can use to find the correct IDs.</p>
</div>
<div class="paragraph">
<p>Simply insert a browse node for each of your categories and click on the gear wheel icon here to confirm the entry. Technically you could enter two different IDs, but we don’t really recommend doing so because a lot of the time Amazon only accepts one at most anyway.</p>
</div>
<div class="paragraph">
<p>Continuing on our journey, we’ll come to a topic worth it’s weight in gold. Sales prices! plentymarkets allows sellers to save different prices on each sales platform. So in other words, your item can be sold for one price in your online store and a completely different price on Amazon.</p>
</div>
<div class="paragraph">
<p>In plentymarkets, simply create a new sales price or open an existing one, which you’d like to use for Amazon.</p>
</div>
<div class="paragraph">
<p>Place check marks to indicate which sales platforms and which Amazon accounts the price should be valid for.</p>
</div>
<div class="paragraph">
<p>Don’t forget to save the changes when you’re finished.</p>
</div>
<div class="paragraph">
<p>Just a little side note if you sell on several different Amazon country platforms. In this case, you’ll need to save a name for the sales price in every relevant language.</p>
</div>
<div class="paragraph">
<p>So for example, you’ll need a German name to sell on Amazon Germany and a French name to sell on Amazon France.</p>
</div>
<div class="paragraph">
<p>There are probably some items that you sell in multiple sizes or colours.</p>
</div>
<div class="paragraph">
<p>And customers can use filters on Amazon to narrow down what types of products they’re looking for.</p>
</div>
<div class="paragraph">
<p>But how can you make sure that your safari yellow t-shirt is displayed with Amazon’s yellow filter? Simply match your own attributes with the attributes used on Amazon.</p>
</div>
<div class="paragraph">
<p>Or in other words, navigate to the "Attributes" menu in plentymarkets and open whichever attribute you’d like to match with Amazon.</p>
</div>
<div class="paragraph">
<p>The name that you enter in this menu so for example safari yellow will be displayed to customers when they look at your item on Amazon.</p>
</div>
<div class="paragraph">
<p>But what about those filters? How do you get your safari yellow t-shirt listed under the yellow filter?</p>
</div>
<div class="paragraph">
<p>In plentymarkets, simply click on the "Attribute link" tab and then on "Amazon".</p>
</div>
<div class="paragraph">
<p>Next, pick the appropriate Amazon category from the drop-down menu up here and enter the names of the corresponding Amazon filters. If you’re not sure which filters there are for a particular category, just take a look at the "Valid Values" area within the inventory file template. There you’ll find a colour map, which includes this information.</p>
</div>
<div class="paragraph">
<p>Again, don’t forget to save your settings when you’re finished.</p>
</div>
<div class="paragraph">
<p>Your products are looking great! You’ve given them tons of information and you’re getting closer to sending them out on their own journey to Amazon.</p>
</div>
</div>
</div>
</main>