<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einstieg eBay</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">In wenigen Schritten kannst du deine Artikel ganz einfach bei eBay listen. Verknüpfe dein eBay-Konto mit plentymarkets und steuere alle wichtigen Einstellungen über ein System!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/countdown-konto-verknuepfen#video">Konto verknüpfen (0:16)</a></p>
<p class="tableblock"><a href="/videos/ebay/countdown-artikeldaten-pflegen#video">Artikeldaten pflegen (1:11)</a></p>
<p class="tableblock"><a href="/videos/ebay/countdown-listing-anlegen#video">Listing anlegen (1:54)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/196548323" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>3…​2…​1 meins! eBay ist beim Thema Multi-Channel nicht mehr wegzudenken. Du möchtest deine Artikel auch dort listen und alles über plenty steuern?</p>
</div>
<div class="paragraph">
<p>Dann lehn dich zurück und lass uns starten mit den Basiseinstellungen und dem Listen deines Produktkatalogs. Starten wir den Countdown und verknüpfen wir dein eBay-Konto mit plentymarkets.</p>
</div>
<div class="paragraph">
<p>Über das Systemmenü gelangst du in den Bereich Märkte » eBay » Konten und hinterlegst dein eBay-Konto. Gib deinen eBay-Namen ein und bestätige mit dem Zahnrad. Log dich dann bei eBay ein, gib alle wichtigen Genehmigungen und kehre schließlich ins plenty Backend zurück.</p>
</div>
<div class="paragraph">
<p>Mit einem Klick synchronisiert du nun die Daten und schaltest dein Konto “aktiv”.</p>
</div>
<div class="paragraph">
<p>Unter "Rahmenbedingungen" hinterlegst du Zahlungs-, Versand- und Rücknahmebedingungen, die für deine eBay-Kunden gelten und fügst alles zusammen in ein Versandprofil, das später bei jedem gelisteten Artikel hinterlegt wird. Was du hier einträgst, finden deine Kunden bei eBay direkt am Artikel wieder. Oben kannst du wählen, für welches eBay-Konto und für welche Länderplattform das gelten soll.</p>
</div>
<div class="paragraph">
<p>Zweiter Stop: Deine Artikel! Wir bleiben vorerst in den Systemeinstellungen, denn da nun ein eBay-Konto im System hinterlegt ist, müssen wir den Artikelpreis damit verknüpfen.</p>
</div>
<div class="paragraph">
<p>Klicke auf Artikel » Verkaufspreise und öffne den Preis. Setze den Haken bei der Herkunft “eBay” und auch direkt bei deinem eBay-Konto.</p>
</div>
<div class="paragraph">
<p>Alles klar! Begib dich jetzt über die Hauptnavigation in deine Artikelübersicht. Direkt am Artikel, den du bei eBay listen willst, musst du im Tab Verfügbarkeit das Produkt für den Marktplatz eBay freigeben.</p>
</div>
<div class="paragraph">
<p>Für diesen Artikel legst du nun ein Listing an. Das geht zum Beispiel ganz einfach über die Icon-Leiste. Gib die Grundeinstellungen für dein Listing an und entscheide, ob eine Auktion oder ein Festpreisangebot erstellt werden soll.</p>
</div>
<div class="paragraph">
<p>Die Bestandsabhängigkeit stellst du auf “unbeschränkt (ohne Abgleich)”, wenn du dich erst später um deinen Warenbestand kümmern möchtest. Du hast allerdings auch die Möglichkeit, die verkaufbare Menge auf eBay auf deinen aktuellen Bestand zu beschränken, um Überverkäufe zu vermeiden. Gib noch an, ob du den am Artikel hinterlegten Preis übertragen möchtest.</p>
</div>
<div class="paragraph">
<p>Setze den Haken beim Marktplatz eBay und klicke auf “Speichern”.</p>
</div>
<div class="paragraph">
<p>Dein Listing ist nun erstellt und kann weiter bis ins Detail bearbeitet werden. Auf der linken Seite bestimmst du die Dauer deines Listings und kannst deine maximal verkaufbare Menge festsetzen.</p>
</div>
<div class="paragraph">
<p>Die Mehrwertsteuer-Angabe ergänzt du auf der rechten Seite. Das aus den Rahmenbedingungen definierte Versandprofil musst du ebenfalls verknüpfen. Mit einem Klick auf den Reiter Marktplatz wechselst du zu den individuellen eBay-Einstellungen. Die passende Kategorie für den Artikel suchst du über die Lupe heraus. Füge noch den Artikelzustand hinzu und klicke auf Speichern.</p>
</div>
<div class="paragraph">
<p>Prüfe dein Listing noch auf Fehler, indem du den Link “Prüfen” klickst.</p>
</div>
<div class="paragraph">
<p>Keine Fehler, sondern erfolgreiche Prüfung? Dann setze den Haken bei “Freischalten” und starte dein Listing mit einem Klick auf den Play-Button.</p>
</div>
<div class="paragraph">
<p>3,2,1 …​ deine Artikel sind jetzt auf eBay verfügbar und deine Kunden dürfen zuschlagen!</p>
</div>
<div class="paragraph">
<p>Was steht als nächstes bei dir an? Schau in unseren Tutorials nach dem nächsten Video! Ich wünsche dir nun viel Spaß beim Erstellen von Listings auf eBay!</p>
</div>
</div>
</div>
</main>