<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_otto"><span>1.</span><span> OTTO</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OTTO</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erhältst du Informationen zu OTTO.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_otto">1. OTTO</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.otto.de/" target="_blank" rel="noopener">OTTO</a> ist Teil der Otto Group und eines der erfolgreichsten Online-Versandhandelsunternehmen Deutschlands.<br></p>
</div>
<div class="paragraph">
<p>Bei OTTO handelt es sich um einen Online-Shop, das heißt, du verkaufst im Namen von OTTO. Auch die Kundenkommunikation wird von OTTO übernommen.<br></p>
</div>
<div class="paragraph">
<p>Aus Datenschutzgründen ist der Inhalt der Handbuchseite OTTO nur für Kund*innen zugänglich, die einen OTTO-Vertrag haben. Die OTTO-Handbuchseite steht dir als OTTO-Partner im plentymarkets <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">Forum</a> innerhalb der OTTO-Kategorie zur Verfügung.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">OTTO verfügt über drei Schnittstellen</div>
<div class="paragraph">
<p>OTTO verfügt über drei Schnittstellen: <strong>Direktversand</strong>, <strong>Cooperation</strong> und <strong>Integration</strong>. Alle Schnittstellen werden von plentymarkets unterstützt.<br>
Der Unterschied zwischen den Schnittstellen besteht im Auftragsimport. Bei den Schnittstellen <strong>Direktversand</strong> und <strong>Cooperation</strong> übermittelt OTTO einzelne Aufträge in dein plentymarkets System, die du dann direkt an die Endkund*innen schickst.<br>
Wenn du die Schnittstelle <strong>Integration</strong> nutzt, übermittelt dein plentymarkets System einmal pro Tag einen Sammelauftrag an OTTO. In diesem Fall schickt OTTO dann die bestellten Artikel an die Endkund*innen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>