<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> OTTO market</span></a></li>
<li><a href="#200"><span>2.</span><span> OTTO market in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#250"><span>2.1.</span><span> Weitere Einstellungen in plentymarkets</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>4.</span><span> Verfügbarkeit am Bild einstellen</span></a></li>
<li><a href="#400"><span>5.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>6.</span><span> Ereignisaktionen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>6.1.</span><span> DHL-Retourenlabel generieren</span></a></li>
<li><a href="#600"><span>6.2.</span><span> Auftragsbestätigung an OTTO melden</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OTTO market</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erhältst du Informationen zu OTTOs Marktplatzmodell OTTO market.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. OTTO market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>OTTO market ist das Marktplatzmodell von OTTO. Du wirst als Verkäufer an deinen Produkten angezeigt und die Kundenkommunikation wird von dir selbst verwaltet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. OTTO market in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>OTTO market wird im Menü <strong>Einrichtung » Assistenten</strong> mit zwei Assistenten eingerichtet. Durchlaufe im Menü <strong>Einrichtung » Assistenten</strong> die folgenden Assistenten, um den Marktplatz in deinem plentymarkets System einzurichten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>OTTO market Grundeinstellungen</strong>: Mit diesem Assistenten richtest du dein OTTO market-Konto in plentymarkets ein.</p>
</li>
<li>
<p><strong>OTTO market Kataloge erstellen</strong>: Mit diesem Assistenten erstellst du Kataloge und Katalog-Templates für OTTO market. Mit Katalogen werden deine Artikel zu OTTO market exportiert. Weitere Informationen zu Katalogen erhältst du auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge verwalten</a>.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="250">2.1. Weitere Einstellungen in plentymarkets</h3>
<div class="paragraph">
<p>Damit du OTTO market in plentymarkets nutzen kannst, sind nachdem du die Assistenten durchlaufen hast noch einige wenige Einstellungen an deinen Artikeln nötig, damit alle Daten korrekt übertragen werden können.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Varianten eines Artikels im Tab <strong>Einstellungen</strong> einer Variante aktivieren</p>
</li>
<li>
<p>Varianten müssen mit der Eigenschaft für OTTO market-Kategoriegruppen verknüpft sein</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Anbindung von OTTO market stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsimport alle 15 Minuten</p>
</li>
<li>
<p>Preis- und Bestandsabgleich alle 15 Minuten</p>
</li>
<li>
<p>Artikeldaten werden einmal täglich aktualisiert</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf OTTO market verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für OTTO market einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>OTTO market</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf OTTO market verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="350">4. Verfügbarkeit am Bild einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Artikelbilder auf OTTO market angezeigt werden, muss im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Bilder</strong> die Verfügbarkeit <strong>OTTO market</strong> am Bild hinzugefügt werden.</p>
</div>
<div class="paragraph instruction">
<p>Verfügbarkeit am Bild einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Bilder</strong>.</p>
</li>
<li>
<p>Aktiviere in der Dropdown-Liste <strong>Verfügbarkeit</strong> die Option <strong>OTTO market</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Bild wird am Artikel auf OTTO market angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft OTTO market einen Verkaufspreis festzulegen. Dieser Preis wird auf OTTO market angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für OTTO market festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>OTTO market</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> ein, um OTTO market automatisch über Änderungen des Auftragsstatus zu informieren. Folgende Ereignisaktionen stehen für OTTO market zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsbestätigung an OTTO melden</p>
</li>
<li>
<p>Versandinformation an OTTO melden</p>
</li>
<li>
<p>Auftragsstornierung an OTTO melden</p>
</li>
<li>
<p>Retoure an OTTO melden</p>
</li>
<li>
<p>Ablehnung der Retoure an OTTO melden</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In den folgenden Kapiteln werden Ereignisaktionen zum Generieren eines DHL-Retourenlabels und zum Senden einer Auftragsbestätigung an OTTO market beschrieben. Richte weitere Ereignisaktionen auf die gleiche Weise ein.</p>
</div>
<div class="sect2">
<h3 id="550">6.1. DHL-Retourenlabel generieren</h3>
<div class="paragraph">
<p>Wenn OTTO market-Aufträge in dein plentymarkets System importiert wurden, müssen für diese Aufträge DHL-Retourenlabels generiert werden, bevor du die Aufträge bei OTTO market bestätigst. Mit der Aktion <strong>DHL Retoure Online-Label generieren</strong> wird automatisch eine Tracking-Nummer für eine Retoure (retTrackingNumber) erstellt, die am Auftrag hinterlegt wird. Dadurch kann sichergestellt werden, dass es eine Tracking-Nummer für eine Retoure gibt, falls Kunden einen Artikel zurücksenden möchten.<br></p>
</div>
<div class="paragraph">
<p>Damit die Tracking-Nummer zusammen mit der Versandbestätigung an OTTO market gesendet wird, musst du zwei Ereignisaktionen erstellen, die hintereinander ausgelöst werden: 1. <strong>DHL Retoure Online-Label generieren</strong> und 2. <strong>Auftragsbestätigung an OTTO melden</strong>.</p>
</div>
<div class="paragraph">
<p><strong>Hinweis:</strong> Das Retourenlabel kann momentan nur mit DHL generiert werden. Weitere Versanddienstleister folgen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin DHL Retoure Online installieren</div>
<div class="paragraph">
<p>Um ein DHL-Retouren-Label generieren zu können, muss das Plugin <strong>DHL Retoure Online</strong> in deinem plentymarkets System installiert, aktiviert und eingerichtet sein. Das Plugin erhältst du im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlretoureonline_6714" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wie du die Ereignisaktion einrichtest, mit der ein DHL-Retourenlabel generiert wird, ist im Folgenden beschrieben.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#dhl-retouren-label-otto">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#dhl-retouren-label-otto">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="dhl-retouren-label-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion zum Erstellen eines DHL-Retourenlabels</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuer Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; DHL Retoure Online-Label generieren</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">6.2. Auftragsbestätigung an OTTO melden</h3>
<div class="paragraph">
<p>Die Ereignisaktion, mit der du die Auftragsbestätigung an OTTO meldest, muss ausgelöst werden, nachdem ein DHL-Retourenlabel generiert wurde. Wie du die Ereignisaktion zur Auftragsbestätigung einrichtest, ist im Folgenden beschrieben.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#auftragsbestaetigung-otto">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#auftragsbestaetigung-otto">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="auftragsbestaetigung-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion um Auftragsbestätigung an OTTO zu melden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: beliebigen Status vor Versand wählen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Auftragsbestätigung an OTTO melden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>