<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_otto_market"><span>1.</span><span> OTTO market</span></a></li>
<li><a href="#_otto_market_in_plentymarkets_einrichten"><span>2.</span><span> OTTO market in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_weitere_einstellungen_in_plentymarkets"><span>2.1.</span><span> Weitere Einstellungen in plentymarkets</span></a></li>
</ul>
</li>
<li><a href="#_ereignisaktionen_einrichten"><span>3.</span><span> Ereignisaktionen einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OTTO market</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erhältst du Informationen zu OTTOs Marktplatzmodell OTTO market.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_otto_market">1. OTTO market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>OTTO market ist das Marktplatzmodell von OTTO. Du wirst als Verkäufer an deinen Produkten angezeigt und die Kundenkommunikation wird von dir selbst verwaltet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_otto_market_in_plentymarkets_einrichten">2. OTTO market in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>OTTO market wird mit Assistenten eingerichtet. Durchlaufe im Menü <strong>Einrichtung » Assistenten</strong> die folgenden Assistenten, um den Marktplatz in deinem plentymarkets System einzurichten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>OTTO market Grundeinstellungen</strong>: Mit diesem Assistenten richtest du dein OTTO market-Konto in plentymarkets ein.</p>
</li>
<li>
<p><strong>OTTO market Kataloge erstellen</strong>: Mit diesem Assistenten erstellst du Kataloge und Katalog-Templates für OTTO market. Mit Katalogen werden deine Artikel zu OTTO market exportiert. Weitere Informationen zu Katalogen erhältst du auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge verwalten</a>.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_weitere_einstellungen_in_plentymarkets">2.1. Weitere Einstellungen in plentymarkets</h3>
<div class="paragraph">
<p>Damit du OTTO market in plentymarkets nutzen kannst, sind nachdem du die Assistenten durchlaufen hast noch einige wenige Einstellungen an deinen Artikeln nötig, damit alle Daten korrekt übertragen werden können.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelverfügbarkeit im Tab <strong>Einstellungen</strong> eines Artikels einstellen</p>
</li>
<li>
<p>Varianten eines Artikels im Tab <strong>Einstellungen</strong> einer Variante aktivieren</p>
</li>
<li>
<p>Varianten müssen mit der Eigenschaft für OTTO market-Kategoriegruppen verknüpft sein</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Anbindung von OTTO market stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsimport alle 15 Minuten</p>
</li>
<li>
<p>Preis- und Bestandsabgleich alle 15 Minuten</p>
</li>
<li>
<p>Artikeldaten werden einmal täglich aktualisiert</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_ereignisaktionen_einrichten">3. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> ein, um OTTO market automatisch über Änderungen des Auftragsstatus zu informieren. Folgende Ereignisaktionen stehen für OTTO market zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsbestätigung an OTTO melden</p>
</li>
<li>
<p>Versandinformation an OTTO melden</p>
</li>
<li>
<p>Auftragsstornierung an OTTO melden</p>
</li>
<li>
<p>Retoure an OTTO melden</p>
</li>
<li>
<p>Ablehnung der Retoure an OTTO melden</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beispielhaft wird eine Ereignisaktion beschrieben, mit der du die Auftragsbestätigung an OTTO meldest. Richte weitere Ereignisaktionen auf die gleiche Weise ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-auftragsbestätigung-otto">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-auftragsbestätigung-otto">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-auftragsbestätigung-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion um Auftragsbestätigung an OTTO zu melden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuer Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Auftragsbestätigung an OTTO melden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Ereignisaktion erstellen: DHL-Retouren-Label generieren</p>
</div>
<div class="paragraph">
<p>Wenn OTTO market-Aufträge in dein plentymarkets System importiert wurden, müssen für diese Aufträge DHL-Retourenlabels generiert werden, bevor du die Aufträge bestätigst. Mit der Ereignisaktion <strong>DHL-Retouren-Label generieren</strong> wird automatisch eine Tracking-Nummer für eine Retoure (retTrackingNumber) erstellt, die am Auftrag hinterlegt wird. Dadurch kann sichergestellt werden, dass es eine Tracking-Nummer für eine Retoure gibt, falls Kunden einen Artikel zurücksenden möchten.<br></p>
</div>
<div class="paragraph">
<p><strong>Hinweis:</strong> Das Retourenlabel kann momentan nur mit DHL generiert werden. Weitere Versanddienstleister folgen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">DHL-Zugangsdaten hinterlegen</div>
<div class="paragraph">
<p>Um ein DHL-Retouren-Label generieren zu können, musst du <strong>DHL Retoure Online</strong> im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » DHL Retoure Online</strong> vollständig eingerichtet haben. Dazu musst du u.a. auch deine DHL-Zugangsdaten, bestehend aus Benutzername und Passwort, hinterlegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>