<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_technical_specifications"><span>1.</span><span> Technical specifications</span></a></li>
<li><a href="#_data_columns"><span>2.</span><span> Data columns</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>accountContacts</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Using the <strong>accountContacts</strong> data format creator, you can export contacts (customer data) and save it in the cloud. For further information on the properties of the format, see the following tables.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_technical_specifications">1. Technical specifications</h2>
<div class="sectionbody">
<div class="paragraph">
<p>See <a href="#table-specifications-accountcontacts">Table 1</a> for further information on the available properties and their corresponding values.</p>
</div>
<table id="table-specifications-accountcontacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Technical specifications of the format <strong>accountContacts</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property</th>
<th class="tableblock halign-left valign-top">Meaning</th>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dataName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">accountContacts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the creator process and prefix of the created file.<br>
File name: <strong>accountContacts-xxx.csv</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fileFormat</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">File format</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSV, GZIP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data is provided as a GZIP-compressed CSV file (RFC 1952).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">defaultActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activated by default</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data is only exported automatically in the background after you have activated the creator in the <strong>Data » Raw data</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">interval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">With this setting, all data that has been changed since the last run is exported once a day, usually during the night.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">limitPage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lines per request</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 4,000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of data rows that is written into a single file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">limitDay</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lines per day</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 80,000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of data rows that is written on one day in total.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">earliestPossibleDataDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Earliest point in time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2016-01-01</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Point in time as of which the raw data can be collected. The data is filtered by the date saved in the <strong>dataUpdatedAtColumnName</strong> column.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dataUpdatedAtColumnName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Column header</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ac_updated_at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the column that contains the time stamp of the last data update.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deleteRawDataAfterDaysMinimum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum number of days until the data is deleted</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum number of days until the generated raw data file is deleted from the cloud storage. Therefore, the data must be processed before this date. The exact duration can be defined in the <strong>Data » Raw data</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deleteRawDataAfterDaysMaximum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of days until the data is deleted</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">80</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of days until the generated raw data file is deleted from the cloud storage. Therefore, the data must be processed before this date. The exact duration can be defined in the <strong>Data » Raw data</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">filterType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastUpdate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data are filtered based on the last update.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_data_columns">2. Data columns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>See <a href="#table-data-columns-accountcontacts">Table 2</a> for further information on the <strong>accountContacts</strong> data columns included in the CSV file during raw data export.</p>
</div>
<table id="table-data-columns-accountcontacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data columns of the format <strong>accountContacts</strong></caption>
<colgroup>
<col style="width: 10%;">
<col style="width: 30%;">
<col style="width: 30%;">
<col style="width: 30%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column name</th>
<th class="tableblock halign-left valign-top">Data type</th>
<th class="tableblock halign-left valign-top">Full name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plenty_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">INTEGER NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plenty id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the plentymarkets system</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ac_id (Primary key)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR NOT NULL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">a_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the company, if available</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">act_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact type id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact type<br>
Possible values:<br>
1 = customer<br>
2 = interested party<br>
3 = sales representative<br>
4 = supplier<br>
5 = manufacturer<br>
6 = partner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">acc_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact class id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact class</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">r_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DECIMAL(5,2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrer id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the order referrer via which the data record was saved</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">u_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">user id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the user that was saved as owner of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ac_name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name and last name of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ac_postal_code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact postcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ac_town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ac_country</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact country</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country of the contact as ISO2 country code</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ac_lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VARCHAR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language of the contact that is saved in the contact data record.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ac_rating</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SMALLINT</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact rating</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rating of the contact<br>
Is used as internal rating of the contact. 5 grey stars mean that no rating was saved. 5 yellow stars are the best rating, 5 red stars are the worst rating:<br>
0 = 5 grey stars (no rating)<br>
5 = 5 yellow stars (best possible rating)<br>
4 = 4 yellow stars<br>
3 = 3 yellow stars<br>
2 = 2 yellow stars<br>
1 = 1 yellow star<br>
-1 = 1 red star<br>
-2 = 2 red stars<br>
-3 = 3 red stars<br>
-4 = 4 red stars<br>
-5 = 5 red stars (worst possible rating)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ac_updated_at</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TIMESTAMPTZ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact updated at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last update<br>
Data format: MM/DD/YYYY HH:MI:SS TZ</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ac_created_at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">TIMESTAMPTZ</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">account contact created at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the creation<br>
Data format: MM/DD/YYYY HH:MI:SS TZ</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>