<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_technical_specifications"><span>1.</span><span> Technical specifications</span></a></li>
<li><a href="#_data_columns"><span>2.</span><span> Data columns</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>orderItemAmounts</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Using the <strong>orderItemAmounts</strong> data format creator, you can export amounts of order items and save it in the cloud. For more information on the properties of the format, see the following tables.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_technical_specifications">1. Technical specifications</h2>
<div class="sectionbody">
<div class="paragraph">
<p>See <a href="#table-specifications-orderitemamounts">Table 1</a> for more information on the available properties and their corresponding values.</p>
</div>
<table id="table-specifications-orderitemamounts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Technical specifications of the format <strong>orderItemAmounts</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property</th>
<th class="tableblock halign-left valign-top">Meaning</th>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dataName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">orderItemAmounts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the creator process and prefix of the created file.<br>
File name: <strong>orderItemAmounts-xxx.csv.gz</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fileFormat</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">File format</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSV, GZIP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data is provided as a GZIP-compressed CSV file (RFC 1952).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">limitPage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lines per request</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 8,000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of data rows that is written into a single file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">limitDay</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lines per day</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 100,000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of data rows that is written on one day in total.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">earliestPossibleDataDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Earliest point in time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Jan-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Point in time as of which the raw data can be collected. The data is filtered by the date saved in the <strong>dataUpdatedAtColumnName column</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deleteRawDataAfterDaysMinimum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum number of days until the data is deleted</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1095</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum number of days until the generated raw data file is deleted from the cloud storage. Therefore, the data must be processed before this date. The exact duration can be defined in the <strong>Data » Raw data</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deleteRawDataAfterDaysMaximum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of days until the data is deleted</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1095</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of days until the generated raw data file is deleted from the cloud storage. Therefore, the data must be processed before this date. The exact duration can be defined in the <strong>Data » Raw data</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">defaultActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activated by default</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">As standard, the export runs automatically in the background.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">interval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">With this setting, all data that has been changed since the last run is exported once a day, usually during the night.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_data_columns">2. Data columns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>See <a href="#table-data-columns-orderitemamounts">Table 2</a> for more information on the <strong>orderItemAmounts</strong> data columns included in the CSV file during raw data export.</p>
</div>
<table id="table-data-columns-orderitemamounts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data columns of the <strong>orderItemAmounts</strong> format</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column name</th>
<th class="tableblock halign-left valign-top">Full name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oi_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">order item ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oia_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">order item amount ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the primary key of the data line.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oia_is_system_currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">order item amount is system currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag that indicates whether the currency that is saved for the order item is the system currency<br>
Possible values:<br>
0 = no<br>
1 = yes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oi_price_gross</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">order item price gross</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross price of the order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oi_price_net</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">order item price net</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net price of the order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oi_price_currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">order item price currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currency of the order item price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oi_purchase_price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">order item purchase price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price of the order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">oi_updated_at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">order item updated at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last update<br>
Date format: MM/DD/YY HH:MI:SS TZ</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>