<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_technical_specifications"><span>1.</span><span> Technical specifications</span></a></li>
<li><a href="#_data_columns"><span>2.</span><span> Data columns</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>tagRelations</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format creator <strong>tagRelations</strong> exports the tag relationships available in your plentymarkets system and saves the data on a cloud storage.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_technical_specifications">1. Technical specifications</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-specifications-tag-relations">[table-specifications-tag-relations]</a> explains the available properties and the corresponding values.</p>
</div>
<table id="table-specifications-tag-relationships" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Technical specifications of the format <strong>TagRelations</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property</th>
<th class="tableblock halign-left valign-top">Meaning</th>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dataName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">tagRelations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the creator process and prefix of the created file.<br>
File name: <strong>tagRelations-xxx.csv.gz</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fileFormat</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">File format</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSV, GZIP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data is provided as a GZIP-compressed CSV file (RFC 1952).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">defaultActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activated by default</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data is only exported automatically in the background after you have activated the creator in the <strong>Data » Raw data</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">interval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">With this setting, all data that has been changed since the last run is exported once a day, usually during the night.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">limitPage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lines per request</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 4,000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of data rows that is written into a single file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">limitDay</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lines per day</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 20,000</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of data rows that is written on one day in total.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">earliestPossibleDataDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Earliest point in time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2018-01-01</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Point in time as of which the raw data can be collected. The data is filtered by the date saved in the <strong>dataUpdatedAtColumnName</strong> column.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dataUpdatedAtColumnName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Column header</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">tr_updated_at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the column that contains the time stamp of the last data update.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deleteRawDataAfterDaysMinimum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum number of days until the data is deleted</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum number of days until the generated raw data file is deleted from the cloud storage. Therefore, the data must be processed before this date. The exact duration can be defined in the <strong>Data » Raw data</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deleteRawDataAfterDaysMaximum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of days until the data is deleted</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">80</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of days until the generated raw data file is deleted from the cloud storage. Therefore, the data must be processed before this date. The exact duration can be defined in the <strong>Data » Raw data</strong> menu.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_data_columns">2. Data columns</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-data-columns-tag-relations">Table 2</a> explains the data columns of the <strong>TagRelations</strong> format that are saved in the CSV file during the raw data export.</p>
</div>
<table id="table-data-columns-tag-relations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data columns of the format <strong>TagRelations</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property</th>
<th class="tableblock halign-left valign-top">Meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plenty_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the plentymarkets system</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">t_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the tag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tr_type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of the tag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tr_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the tag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tr_updated_at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">tag relation updated at</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>