<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Using ElasticSync to import data</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">This video teaches you the basics of ElasticSync. It takes an all-around look at the tool and helps you learn how to use it for importing data into plentymarkets. You’ll learn how to upload a CSV file, match and map your data and how to start the import.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/data-transfer/basics/importing-data-with-elasticsync-upload-csv-file#video">Upload your CSV file (1:00)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/basics/importing-data-with-elasticsync-match-and-map-data#video">Match and map your data (3:03)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/basics/importing-data-with-elasticsync-start-import#video">Start the import (6:26)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/257108768#at=60" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>There are some things that sellers just can’t control.
Like inflation. Every now and then, your supplier is bound to increase prices by 1 or 2 percent.</p>
</div>
<div class="paragraph">
<p>And now it’s your job to update your purchase prices to reflect these changes.
You probably do this with some sort of spreadsheet, which you either received from your supplier, or created yourself.</p>
</div>
<div class="paragraph">
<p>In any case, this file probably contains information like the item ID used by your supplier, the item’s name and its new purchase price.
You can easily import this data into plentymarkets by opening up the menu "Data &gt; ElasticSync" and then clicking on this button here.</p>
</div>
<div class="paragraph">
<p>This video breaks down the process into three, easy steps.
First, you’ll tell plentymarkets some basic facts about the file you’re importing.
Second, you’ll help plentymarkets find the items and know which information to update.
And third, you’ll start the import.</p>
</div>
<div class="paragraph">
<p>Okay, first and foremost, tell plentymarkets a little bit about the data you’re importing.
So just give it a meaningful name and tell plentymarkets what sort of data you’re importing.</p>
</div>
<div class="paragraph">
<p>So remember, in this example, we’re updating the purchase price for a few of our items.
Next, you’ll use the options on the right to tell plentymarkets what your file looks like.
So for example, if your spreadsheet has a header or if it doesn’t.
Similarly, use this option here if your file begins with several rows of data that are irrelevant to the task at hand.</p>
</div>
<div class="paragraph">
<p>Okay, getting a little bit more technical, use this option here to tell plentymarkets what type of file you’re importing.
At the moment, it’s only possible to import CSV files, but we’re planning to add other types of files like XML in the future.</p>
</div>
<div class="paragraph">
<p>Next, tell plentymarkets which character set the file uses or let us determine it automatically.
And finally, tell plentymarkets which field delimiter and text delimiter your file uses.
Okay, that’s enough theory for now.
At this point, you’re ready to upload the file to plentymarkets.</p>
</div>
<div class="paragraph">
<p>And you can either do this with an FTP server, a secure FTP server or with a URL.
If you choose FTP or SFTP, then you’ll need to enter your access data so that plentymarkets can reach the file.
Then you’ll need to tell plentymarkets where the file is located and what it’s called.</p>
</div>
<div class="paragraph">
<p>On the other hand, you’ll want to choose HTTP if your file is saved somewhere like on Dropbox or Google Drive and you know the URL.
Or you can upload the file directly if it’s saved somewhere on your computer.
For example, you may want to upload a file from your computer, if you’re completely new to plentymarkets and you’re still in the process of setting up your system. This is an easy way to manually import item or contact information one time only.</p>
</div>
<div class="paragraph">
<p>Once you’ve saved all of this basic information, the screen will change and you might think "matching, mapping? What’s the difference?"
Well, bear with me for just a minute and let’s pretend you were going to update all of these prices by hand. How would you go about it?
My bet is that first you would use these IDs here to search for the items in plentymarkets.
Then you would open up the items and change the purchase price.</p>
</div>
<div class="paragraph">
<p>Well guess what? That’s exactly how it works with ElasticSync too.
First, you’ll use the "matching" area to search for items in plentymarkets.
Then you’ll use the "mapping" area to change the price.</p>
</div>
<div class="paragraph">
<p>Let’s get started.
Simply decide which plentymarkets search field you want to use and then pick the column of your CSV file that contains these numbers.</p>
</div>
<div class="paragraph">
<p>If needed, use the preview function here to help you decide.
Okay, and thinking back to what you’d do if you update the prices by hand.
What would you do if you searched for an item, but just couldn’t find it? In other words, if your supplier added a new item but you didn’t have a record of it yet.</p>
</div>
<div class="paragraph">
<p>I bet you’d either decide to skip it, or you’d create a new item in plentymarkets.
And that’s exactly what this option does here.</p>
</div>
<div class="paragraph">
<p>Simply tell plentymarkets whether it should update existing data records, create new ones for missing items, or do both.
OK, so at this point, plentymarkets has enough information to find your items.
Now what do you want to do with these items?</p>
</div>
<div class="paragraph">
<p>Well, in our example we want to update the purchase price.
Don’t get too hung up on the name and position for now.
Instead, focus on this screen here. This is where you’ll tell plentymarkets what it should do with the items it’s found.</p>
</div>
<div class="paragraph">
<p>Thinking back to our example, you’re going to take the price listed in this column here and save it as the supplier’s new purchase price.
It’s exactly the same with ElasticSync.</p>
</div>
<div class="paragraph">
<p>You’re going to take the value listed in this column here and save it as the new purchase price. And just a word to the wise.
There are a lot of plentymarkets data fields that you can choose from in this drop-down menu.
If you’re not sure which exact field you’re looking for you may find it helpful to browse through the corresponding menu in plentymarkets and get a feel for what’s there.
Or you may want to look at our online manual and read up on the various data fields and any mandatory settings that might go along with them.</p>
</div>
<div class="paragraph">
<p>You can add as many different fields as needed and you can also activate or deactivate individual fields, if you only want some data to be imported.</p>
</div>
<div class="paragraph">
<p>Did you notice these three options when I opened up the drop-down menu a moment ago? They aren’t columns in the CSV file. So what are they for?
Well, these are three somewhat more advanced ways to add custom information to your file or modify the information in your file.
Don’t worry too much about these options for now. We’ll take another look at them in a separate video.</p>
</div>
<div class="paragraph">
<p>Last but certainly not least, you can add filters to narrow down which exact items in your CSV file will be imported.
So, for example, you may only want to work with a sub-set of items that have an ID starting with the number 200.</p>
</div>
<div class="paragraph">
<p>Once you’re ready to start the import, head back over to the settings and tell plentymarkets how often it should automatically synchronise this data.</p>
</div>
<div class="paragraph">
<p>Afterwards, we recommend that you use this icon here to test the import and make sure everything is working correctly. This will import the first ten lines of the file only and give you time to check the result in your plentymarkets system.
If there’s a mistake somewhere, then you’ll only need to fix it in the first 10 items instead of in several hundred.</p>
</div>
<div class="paragraph">
<p>If you’re happy with the result, go ahead and click on this icon here to import the whole file.
Before saying goodbye, just one last word to the wise.</p>
</div>
<div class="paragraph">
<p>You learned how to modify the prices for one of your suppliers.
But, you probably have more than one supplier, right?
And each supplier probably uses a slightly different CSV file.
It would be a headache to configure all these settings for every single supplier!</p>
</div>
<div class="paragraph">
<p>Instead, you can save time by copying syncs and then modifying their settings as needed.
The same goes for the mapping too. Simply copy it, modify its settings as needed and activate or deactivate it separately.</p>
</div>
<div class="paragraph">
<p>Congratulations, you’ve taken your first steps with ElasticSync!
Now that you’ve got the basic idea of how this tool works, take a look at the other videos in this series to discover some nifty additional features or to see practical examples for using ElasticSync in your day-to-day business.</p>
</div>
</div>
</div>
</main>