<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Manually importing a file one time</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Does your business have lots of information saved in CSV files? ElasticSync helps you manually import this data into plentymarkets. This video is particularly targeted toward new plentymarkets users, who want to initially transfer product or customer data while first setting up the system.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/321227231" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Do you have information that’s saved outside of plentymarkets?</p>
</div>
<div class="paragraph">
<p>For example, maybe you’re new to plentymarkets and you just haven’t gotten around to saving all your product data or customer contact info yet.
Whatever the underlying reason, this video teaches you how to manually import a CSV file that’s saved somewhere on your computer.
This sort of one-time import is great for initially transferring data to plentymarkets when you first start working with the system.</p>
</div>
<div class="paragraph">
<p>Okay, so as you can see in this example, I’ve got a spreadsheet, which contains a bunch of product information.
I haven’t saved any of these products in plentymarkets yet.
In other words, if I try to search for the items, I won’t get any results. Instead, I’ll need to import them with ElasticSync.
But hang on, before you get started, let’s talk a little bit about mandatory information.</p>
</div>
<div class="paragraph">
<p>If you want to import items into plentymarkets then you’ll need to set up categories and sales prices beforehand.
Just check out our other video tutorials if you’re not familiar with these topics and you’d like a little bit of additional help.</p>
</div>
<div class="paragraph">
<p>Once you’ve finished creating your category structure, take note of the fact that every category has its own ID and make sure you’ve entered this ID in your CSV file.
Then when you’ve finished this initial leg work, you’ll be ready to import your items with ElasticSync.</p>
</div>
<div class="paragraph">
<p>Start out by configuring the settings in this menu as you learned in our basic instructional video.
Then choose HTTP since you’ll be uploading a file that’s currently saved on your computer.
ElasticSync makes it easy to manually upload files up to 20 MB. If you’ve got a larger file, then you’ll need to upload it with an FTP server.</p>
</div>
<div class="paragraph">
<p>In this example, all you’ll need to do is find the file, open it and then select the file from this pop-up window here.
Once you’ve saved the settings, you’ll be ready to match and map the data as you learned in our basic instructional video.</p>
</div>
<div class="paragraph">
<p>Since you’re importing new data into your plentymarkets system, just make sure you either pick this option or this option.
Otherwise, it’s really up to you which data you want to match and map. There’s no really any hard and fast rule. It just depends on what information’s in your CSV file and what information you’d like to import into plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once you’re ready to import the data, head back over to the settings area and make sure that the interval here is inactive. Essentially, this tells plentymarkets that you don’t want to automatically import the file on a regular basis.
Instead, in this example, we just want to manually import the data one-time only.</p>
</div>
<div class="paragraph">
<p>At this point, you’re ready to go ahead and test the import.
This imports the first 10 lines of your file and gives you time to check whether the result is what you expected.
So let’s check.</p>
</div>
<div class="paragraph">
<p>Now when I search for the first item in my CSV file, I see a matching data record in plentymarkets.
Go ahead and open up the item and check whether everything was imported correctly from your file.
If you’re satisfied with the result, go ahead and start the import.</p>
</div>
<div class="paragraph">
<p>Congratulations! You’ve just saved yourself lots of time.
By importing CSV files, you can quickly save product or customer information in plentymarkets.</p>
</div>
</div>
</div>
</main>