<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Listing</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section contains information on the functions and variables for designing layout templates for listings.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$HtmlStructure — Contains the basic HTML structure.</p>
</li>
<li>
<p>$LISTING_TYPE_AUCTION — Constant for listings of the type Auction.</p>
</li>
<li>
<p>$LISTING_TYPE_FIXED — Constant for listings of the type Fixed price.</p>
</li>
<li>
<p>$MainFrame — The listing’s actual content consisting of recurring elements, e.g. dynamic content.</p>
</li>
<li>
<p>$PROPERTY_UNIT — Constant for the unit for the characteristic.</p>
</li>
<li>
<p>$PROPERTY_VALUE — Constant for the value of the characteristic.</p>
</li>
</ul>
</div>
</div>
</div>
</main>