<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel0">
<li><a href="#installing-plugins"><span>Installing a plugin in a plugin set</span></a>
<ul class="sectlevel1">
<li><a href="#_more_about_plugins"><span>1.</span><span> More about plugins</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Adding plugins to the system</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already created document templates for invoices and reversal documents? Not yet? Return to <a href="#welcome/quick-start/quick-start-preparing-order-processing">preparing order processing</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>As you have already seen, you can extend the functionality of your webshop by using plugins. You have already installed some plugins using the <strong>Integrations Assistant</strong>, but there are many more ways to customise plentymarkets. To illustrate this, we are going to add a new plugin to the system, install it and set it up.</p>
</div>
<div class="paragraph">
<p>This new plugin will give customers the opportunity to rate the items we offer in our shop. It will also show this feedback to other potential customers. We can accomplish this with the Customer feedback plugin. You can get this plugin for free on plentyMarketplace.</p>
</div>
<div class="paragraph instruction">
<p>Purchasing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Plugins » plentyMarketplace</strong> menu.<br>
→ The marketplace opens in a new tab.<br>
→ <span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Sign into <a href="http://marketplace.plentymarkets.com/en/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> using your My account login details.</p>
</li>
<li>
<p>Open a category and select the plugin you want to purchase.</p>
</li>
<li>
<p>In the detail view of the plugin, click on <strong>Go to checkout</strong>. You can find an overview of all purchase options in <a href="#tabelle-kaufoptionen">[tabelle-kaufoptionen]</a>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Accept the terms and conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ After a few minutes you can install the plugin in a plugin set.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. plentyMarketplace purchase types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free trial</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Test the full plugin for free for 30 days. You can no longer test a plugin after subscribing to it at least once. You can check when your trial period expires in the <strong>My Account</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Buy the plugin once for a set price and use it forever. Developers may distinguish between different versions of the plugin, which may only offer limited functionality. Check the description to see which features are included in which version.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subscription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subscribing to a plugin allows you to use all of its features for a limited period of time. Depending on the plugin, you may be able to choose between different billing periods. Payment is always due at the beginning of a billing period. Subscriptions do not expire automatically, you have to cancel the contract in the <strong>My Account</strong> area if you want to discontinue it.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Setup methods</div>
<div class="paragraph">
<p>The item detail view of each plugin describes how to set it up. For the purposes of this quick start, we will also take a look at all necessary settings below.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Let us install our new plugin now. The procedure is the same as when you installed the Cash in advance plugin in the previous chapter.</p>
</div>
</div>
</div><h1 id="installing-plugins" class="sect0">Installing a plugin in a plugin set</h1><div class="paragraph">
<p>The whole plugin installation process includes three steps. First, you have to install the plugin in a plugin set. That’s when the plugin files are transferred to your system. In the second step, you activate the plugin. By activating a plugin, you indicate that you want to include it when your system or online store is loaded. Finally, you deploy the plugin set with all its active plugins. By deploying the set, you finish the installation process.</p>
</div><div class="paragraph instruction">
<p>Installing plugins:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit by clicking on the line in the table.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Customer feedback</strong> from the plugin list.<br>
→ Information about <strong>Customer feedback</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div><div class="paragraph">
<p>Once the plugin has been installed, you can start setting it up. However, first we have to activate the plugin, so that it we can actually use it in our webshop later on.</p>
</div><div class="paragraph instruction">
<p>Activating Customer feedback in the set:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>In the Customer feedback row, click on <strong>Inactive</strong> in the <strong>Active</strong> column.<br>
→ The plugin is activated.</p>
</li>
</ol>
</div><div class="paragraph">
<p>Let us now have a look at the settings. In some cases, like <strong>Cash in advance</strong>, the settings are carried out in the system menu. In others, like <strong>Customer feedback</strong>, you have to carry out the settings directly in the plugin settings.</p>
</div><div class="paragraph instruction">
<p>Setting up Customer feedback:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the settings (<span class="icon "><i class="fa fa-cog  "></i></span>) of the Customer feedback plugin.<br>
→ The plugin detail view opens. The <strong>Configuration</strong> tab is already open.</p>
</li>
<li>
<p>Select the options <strong>Release feedbacks automatically</strong>, <strong>Show date for the feedback</strong> and <strong>Allow adding feedbacks only if the item was purchased</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div><div class="paragraph">
<p>This way, customers can give feedback for an item after purchasing it. If another customers view the same item, the feedback will be displayed automatically.</p>
</div><div class="paragraph">
<p>Finally, we have to ensure that the feedback is actually visible in our webshop. This means we have to create some container links.</p>
</div><div class="paragraph instruction">
<p>Setting up container links:</p>
</div><div class="paragraph instruction">
<p>Selecting container links:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit by clicking on the table row.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Open the settings of the plugin you want to link by clicking on the table row.<br>
→ The plugin settings open.</p>
</li>
<li>
<p>Click on <strong>Container links</strong>.</p>
</li>
<li>
<p>Select a data provider from the drop-down list.</p>
</li>
<li>
<p>Select <span class="icon "><i class="fa fa-check-square  "></i></span> the links you want to add.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for all data providers you want to link to containers.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>From the drop-down list, select the option <strong>Feedback Javascript (Feedback)</strong>.</p>
</li>
<li>
<p>Select <strong>Script loader: Register/load JS</strong>.</p>
</li>
<li>
<p>From the drop-down list, select the option <strong>Feedback CSS (Ceres) (Feedback)</strong>.</p>
</li>
<li>
<p>Select <strong>Template: Style</strong>.</p>
</li>
<li>
<p>From the drop-down list, select the option <strong>Feedback ratings (Feedback</strong>).</p>
</li>
<li>
<p>Select <strong>Single item: Container for customer feedback</strong>.</p>
</li>
<li>
<p>From the drop-down list, select the option <strong>Feedback category ratings (Feedback</strong>).</p>
</li>
<li>
<p>Select <strong>Category item list: Before prices container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the links.</p>
</li>
</ol>
</div><div class="paragraph">
<p>This concludes the setup. Now customers can rate items after purchasing them. In the next chapter, we will return to one of the default plugins: Ceres. You can use this plugin to change the design of your webshop.</p>
</div><div class="sect1">
<h2 id="_more_about_plugins">1. More about plugins</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/plugins">Introducing plugins</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue with <a href="/en/welcome/quick-start-ebay">eBay</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>