<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Carrying out basic settings</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up order documents</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Setting up invoice documents</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Setting up the reversal document</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Setting up the delivery note</span></a></li>
</ul>
</li>
<li><a href="#60"><span>3.</span><span> Using the order overview</span></a></li>
<li><a href="#70"><span>4.</span><span> Editing orders</span></a></li>
<li><a href="#80"><span>5.</span><span> Check list</span></a></li>
<li><a href="#90"><span>6.</span><span> More about order processing</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Preparing order processing</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already set up your online shop? Not yet? Return to <a href="/en/welcome/quick-start/quick-start-online-store">setting up the Ceres webshop</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can manage incoming orders from your online shop in the back end of your plentymarkets system. On this page, you can find the necessary settings that you should carry out to prepare for order processing.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Carrying out basic settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, carry out the basic settings for the <strong>Orders</strong> area. Some of the settings are already preset in your plentymarkets system and can be changed later on, if required. However, there are some settings that you should change immediately. Those settings are explained in <a href="#table-orders-quick-start-basic-settings">Table 1</a>. Proceed as follows to carry out the settings:</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-orders-quick-start-basic-settings">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-orders-quick-start-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Carrying out basic settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The automatic warehouse selection automatically assigns the corresponding warehouse connected to the items included in the order. We recommend selecting one of the following 2 options:<br>
<strong>b) depending on the item’s main warehouse</strong>: With this option, the main warehouse assigned to an item decides about the warehouse that is automatically selected. The main warehouse has to be saved in the variation data beforehand. Selecting this option makes sense if you always want to ship particular items from a fixed warehouse.<br>
<strong>c) depending on the highest stock level</strong>: This option selects the warehouse according to the highest stock level of the variation. Selecting this option makes sense if an item is shipped from several different warehouses. We also recommend this option if you start your business using only one warehouse for all variations. If you start shipping items from several different warehouses later on, you do not have to change this setting.</p>
<p class="tableblock">A more detailed explanation of all the warehouse options can be found under <a href="/en/orders/basic-settings##intable-warehouse-selection">Automatic warehouse selection</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status changes to 4 instead of 5 if stock is missing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">We recommend selecting <strong>YES</strong> here. This setting prevents orders containing items that are out of stock from entering the order status <strong>[5] Cleared for shipping</strong> by mistake. Instead, the orders automatically remain in <strong>status [4] In preparation for shipping</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>A more detailed explanation of all basic settings in the <strong>Setup » Orders » Settings</strong> menu can be found in the manual section <a href="/en/orders/basic-settings">Basic settings</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up order documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Order documents, such as invoices and delivery notes, are important parts of order processing. Before processing orders in your plentymarkets system, you need to set up document templates for those documents. While setting up the templates, you determine which information is displayed on the documents. In addition, you can include the individual header or letterhead of your company in the document template.<br></p>
</div>
<div class="paragraph">
<p>plentymarkets distinguishes between fulfilment documents and location-based documents. Fulfilment documents such as the pick list or packing list are needed for the processes of picking and shipping orders. For further information on setting up these documents, pay attention to the links at the end of this page.<br></p>
</div>
<div class="sect2">
<h3 id="30">2.1. Setting up invoice documents</h3>
<div class="paragraph">
<p>When preparing your plentymarkets system for order processing, the location-based documents are of particular importance. In the following section, we describe how to set up the document templates for <strong>Invoice</strong> and <strong>Reversal document</strong> by quickly transferring the default settings to these templates. You can proceed the same way when setting up document templates for other necessary order documents.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the template for the <strong>Invoice</strong> document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Invoice</strong>.</p>
</li>
<li>
<p>Change to the <strong>Transfer</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Accept</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) in the <strong>Apply the settings from default document template</strong>  area.</p>
</li>
<li>
<p>A new window opens. Confirm your selection by clicking on <strong>OK</strong>.<br>
→ The default document template saved in your plentymarkets system is applied to the <strong>Invoice</strong> document.</p>
</li>
<li>
<p>Change to the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add template</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Leave the preset setting for <strong>Payment method</strong> on <strong>Default</strong> and change the <strong>Language</strong> to <strong>en</strong>.</p>
</li>
<li>
<p>Click on <strong>Choose template file</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).</p>
</li>
<li>
<p>Select the PDF template containing the individual letterhead or logo of your company saved on your local computer.</p>
</li>
<li>
<p>Click on <strong>Upload template</strong>(<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ The PDF template is uploaded.</p>
</li>
<li>
<p>Open the <strong>Template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ A preview of the <strong>Invoice</strong> document containing your individual PDF template as well as the previously transferred default settings is displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After finishing the steps explained above, you have successfully set up a default template for the <strong>Invoice</strong> document. This is sufficient for most use cases. However, there are some additional settings that allow you to further customise the document, if needed. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out additional settings for the <strong>Invoice</strong> document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Template</strong> tab.</p>
</li>
<li>
<p>Carry out the desired settings. <a href="#table-quick-start-invoice-additional-settings">Table 2</a> describes some useful options.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ A preview of the <strong>Invoice</strong> document containing your individual PDF template as well as the previously transferred default settings is displayed.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-quick-start-invoice-additional-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Carrying out additional settings for the <strong>Invoice</strong> document</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Margins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you determine the margins of the document. The margin settings correspond to the German DIN A4 format. Carry out adjustments according to the customary formats in your country. In some cases, it can be necessary to adjust the <strong>Top</strong> margin to a higher value to ensure that the letterhead containing the company logo is displayed properly on the document template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Positioning the mandatory elements</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Own VAT number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this field to display your company’s own VAT number on the invoice. In case you have not already done so, you must enter your VAT number beforehand in the <strong>System » System settings » Client » [Select client] » Locations » [Select location] » Accounting</strong> menu. We recommend to only use this field to display the VAT number on the <strong>Invoice</strong> document in case it is not already included in your company’s letterhead.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Optional elements below stock unit table</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>YES</strong> to display the date of complete incoming payment on the invoice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The note is displayed at the bottom of the invoice document. The default text is <strong>Thank you for your order!</strong>. Adjust this text according to your own wishes and requirements.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You have now carried out all necessary steps for setting up the <strong>Invoice</strong> document. Thus, all invoices belonging to orders with the order language English are generated according to your settings for all payment methods.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Generating invoices in other languages</div>
<div class="paragraph">
<p>As already described above, the invoice belongs to the location-based documents in your plentymarkets system. This means that the invoice document, as well as all further document templates, have to be set up for all additional languages you require. This becomes necessary if you accept orders from foreign countries in your online shop or if your company operates in a location outside your own country. You can easily transfer the settings carried out in the previous steps to invoice documents in other languages. Further information and instructions on setting up the document template are available in the <a href="/en/orders/order-documents">Order documents</a> section of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Setting up the reversal document</h3>
<div class="paragraph">
<p>In addition to the invoice, the <strong>Reversal document invoice</strong> is the second mandatory document for which you should set up a document template before starting to process orders. You can easily transfer the settings carried out for the <strong>Invoice</strong> document to the document template for the <strong>Reversal document invoice</strong>. The reversal document is a kind of reverse invoice. This document is mandatory for cancelling invoices that you have already generated. In addition, reversal documents are relevant to accounting, just like invoices. Thus, you should carefully carry out the settings described in the following.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the template for the <strong>Reversal document invoice</strong> document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Invoice</strong>.</p>
</li>
<li>
<p>Change to the <strong>Transfer</strong> tab.</p>
</li>
<li>
<p>In the <strong>Apply settings to target template</strong> area, select the target template <strong>Reversal document invoice</strong>.</p>
</li>
<li>
<p>Click on <strong>Copy</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>A new window opens. Confirm your selection by clicking on <strong>OK</strong>.<br>
→ The template for the <strong>Invoice</strong> document is applied to the <strong>Reversal document invoice</strong> document.</p>
</li>
<li>
<p>Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Invoice</strong>.</p>
</li>
<li>
<p>In the <strong>Document name/number</strong> field in the <strong>Positioning of the mandatory elements</strong> area, enter the text <strong>Reversal document invoice</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Open the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on Add template (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Leave the preset setting for <strong>Payment method</strong> on <strong>Default</strong> and change the <strong>Language</strong> to <strong>en</strong>.</p>
</li>
<li>
<p>Click on <strong>Select template</strong>.</p>
</li>
<li>
<p>Select the PDF template containing the individual letterhead or logo of your company saved on your local computer.</p>
</li>
<li>
<p>Click on <strong>Upload template</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).<br>
→ The PDF template is uploaded.</p>
</li>
<li>
<p>Open the <strong>Template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ A preview of the <strong>Reversal document invoice</strong> containing your individual PDF template as well as the settings transferred from the <strong>Invoice</strong> document is displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Setting up the delivery note</h3>
<div class="paragraph">
<p>In contrast to the <strong>Invoice</strong> document, sending a delivery note along with the order is not mandatory. Nonetheless, the delivery note is one of the most important shipping documents for many sellers. With the help of a delivery note, your customers can make sure that the shipment contains all ordered items and is thus complete.<br>
Proceed as described below to set up a document template for the <strong>Delivery note</strong> document.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a template for the <strong>Delivery note</strong> document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Delivery note</strong>.</p>
</li>
<li>
<p>Change to the <strong>Transfer</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Accept</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) in the <strong>Apply the settings from default document template</strong>  area.</p>
</li>
<li>
<p>A new window opens. Confirm your selection by clicking on <strong>OK</strong>.<br>
→ The default document template saved in your plentymarkets system is applied to the <strong>Delivery note</strong> document.</p>
</li>
<li>
<p>Change to the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add template</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Leave the preset setting for <strong>Payment method</strong> on <strong>Default</strong> and change the <strong>Language</strong> to <strong>en</strong>.</p>
</li>
<li>
<p>Click on <strong>Choose template file</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).</p>
</li>
<li>
<p>Select the PDF template containing the individual letterhead or logo of your company saved on your local computer.</p>
</li>
<li>
<p>Click on <strong>Upload template</strong>(<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ The PDF template is uploaded.</p>
</li>
<li>
<p>Open the <strong>Template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ A preview of the <strong>Delivery note</strong> document containing your individual PDF template as well as the previously transferred default settings is displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After finishing the steps explained above, you have successfully set up a default template for the <strong>Delivery note</strong> document. This way, all information considered mandatory for delivery notes (customer name, order number, order date, item quantity and item descriptions) is displayed on the document by default. However, there are some additional settings that allow you to further customise the document, if needed. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out additional settings for the <strong>Delivery note</strong> document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » [Select location] » Documents » Delivery note</strong>.</p>
</li>
<li>
<p>Open the <strong>Template</strong> tab.</p>
</li>
<li>
<p>Carry out the desired settings. <a href="#table-quick-start-delivery-note-additional-settings">Table 3</a> describes some useful options.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-quick-start-delivery-note-additional-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Carrying out additional settings for the <strong>Delivery note</strong> document</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Margins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you determine the margins of the document. The margin settings correspond to the German DIN A4 format. Carry out adjustments according to the customary formats in your country. In some cases, it can be necessary to adjust the <strong>Top</strong> margin to a higher value to ensure that the letterhead containing the company logo is displayed properly on the document template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Positioning the mandatory elements</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ordered on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The default document template displays the date at which the document itself was generated. Using the <strong>Ordered on</strong> field, you can additionally display the date on which the order was placed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a description in the text field, for example <strong>Order referrer</strong>, and select the respective coordinates. This way, the delivery note can display information on whether the order reached you via your online shop or via an integrated market.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Columns stock units</strong> area</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can upload images and assign variations to an item in the <strong>Images</strong> tab of the item. This image can also be displayed on the delivery note. To display the image, select a position in the <strong>Pos</strong> field and enter an optional description that will appear next to the image.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You have now carried out all necessary steps to set up the <strong>Delivery note</strong> document. Thus, all delivery notes belonging to orders with the order language English are generated according to this template.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. Using the order overview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Edit orders</strong> menu, plentymarkets offers you an overview of all incoming orders. The order overview lists orders regardless of the order referrer. It does not matter whether you have created the orders manually or they have reached you via markets you have integrated in your plentymarkets system such as <strong>eBay</strong> or <strong>Amazon</strong>.<br>
Different business cases such as returns, credit notes, repairs and warranties are created as individual orders with their own types in your plentymarkets system. These order types are always linked to the original main order. The main orders are also available in the order overview.<br>
On the left-hand side of the <strong>Orders » Edit orders</strong> menu, several filters and search possibilities are available to limit the number of orders displayed. With these you can search for data as for example the <strong>Order ID</strong> or the <strong>Invoice number</strong>. The date filter is set to display orders that were received during the past 2 months by default. Adjust the filters <strong>Date</strong> as well as <strong>from</strong> and <strong>to</strong>, so that more orders than those for the last two months are displayed.</p>
</div>
<div class="paragraph">
<p>By default, the order overview offers you access to the following data for every order listed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID</p>
</li>
<li>
<p>Date on which the order was received/created</p>
</li>
<li>
<p>Invoice number</p>
</li>
<li>
<p>Incoming payment</p>
</li>
<li>
<p>Outgoing items</p>
</li>
<li>
<p>Shipping date</p>
</li>
<li>
<p>Order referrer</p>
</li>
<li>
<p>Status</p>
</li>
<li>
<p>Shipping profile</p>
</li>
<li>
<p>Payment method</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The function <strong>Show existing processes</strong> is particularly useful. It is available for every order. This function shows you if and which processes in the form of returns or credit notes are available and linked to the respective order.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Editing orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click on the order ID displayed at the left-hand side of each order to open the order itself. Several tabs are available within the order. Since there are numerous possibilities for working with orders using those tabs, we will only outline some important functions. Further information about orders can be found in the <a href="/en/orders/managing-orders">Managing orders</a> section of the manual.</p>
</div>
<div class="paragraph">
<p>Within an order, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Access the contact data of the customer in the <strong>Customer data</strong> tab.</p>
</li>
<li>
<p>Send emails to customers or find out which emails have already been sent to the customer in the <strong>Email</strong> tab.</p>
</li>
<li>
<p>Manually generate order documents in the <strong>Receipts</strong> tab in case you have not automated the generation of order documents using <a href="/en/automation/event-procedures">event procedures</a>.</p>
</li>
<li>
<p>Manually book incoming payment in the <strong>Payment</strong> tab, if needed.</p>
</li>
<li>
<p>Book <strong>outgoing items</strong> in the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Use the <strong>Overview</strong> tab to manually change the <strong>Status</strong> to <strong>[8] Cancelled</strong> to cancel an order, if necessary.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Do not delete orders</div>
<div class="paragraph">
<p>In general, you should never delete orders. Malfunctions with items and shipping profile settings may occur when deleting orders. Furthermore, orders cannot be deleted when tax relevant documents have already been generated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Check list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Work through the checklist in order to review your settings for preparing order processing.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Did you carry out the <a href="#10">basic settings</a> for order processing?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you set up the document template for the <a href="#30">invoice</a> document?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you set up the document template for the <a href="#40">reversal document invoice</a> document?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you familiarise yourself sufficiently with the <a href="#50">order overview</a> and the possibilities of <a href="#60">editing orders</a>?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. More about order processing</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/orders/managing-orders">Managing orders</a></p>
</li>
<li>
<p><a href="/en/orders/basic-settings">Basic settings for orders</a></p>
</li>
<li>
<p><a href="/en/orders/managing-orders">Order types</a></p>
</li>
<li>
<p><a href="/en/orders/managing-orders#200">Manually creating orders</a></p>
</li>
<li>
<p><a href="/en/orders/managing-orders#1200">Order statuses</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents">Order documents</a></p>
</li>
<li>
<p><a href="/en/orders/order-referrer">Order referrer</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Continue with <a href="/en/quick-start/quick-start-markets">Integrating markets</a>.</p>
</div>
</div>
</div>
</main>