<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Automatically sending email templates</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up event procedures</span></a></li>
<li><a href="#30"><span>3.</span><span> Using the procedure manager</span></a></li>
<li><a href="#40"><span>4.</span><span> Using processes</span></a></li>
<li><a href="#50"><span>5.</span><span> Check list</span></a></li>
<li><a href="#60"><span>6.</span><span> More about automation</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automating processes</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already set up your eBay interface? Not yet? Return to the <a href="/en/quick-start/quick-start-ebay">eBay quick start</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>On this page, we explain the basic settings that you should carry out in your plentymarkets system in order to automate processes. We recommend carrying out these settings before starting productive work with your system. Your plentymarkets system then completes these automatic processes in the background.<br>
In general, plentymarkets offers you 4 different methods of automating your work flows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Automatically sending email templates</p>
</li>
<li>
<p>Event procedures</p>
</li>
<li>
<p>Procedure manager</p>
</li>
<li>
<p>Processes</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Automatically sending email templates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the step <a href="/en/quick-start/quick-start-initial-settings">initial settings</a>, you learned how to set up the email templates for automatically sending email templates.<br>
Now, use the menu <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Automatic</strong> to select which email template should be sent in specific situations. Some options, such as sending the email template <strong>Online store: Incoming order</strong> when receiving a new order via your online store are already preset in this menu. Check these settings and adjust them where necessary. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting up automatic emails:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Automatic</strong>.</p>
</li>
<li>
<p>From the drop-down list next to the respective event, select an email template that should be sent automatically as soon as the event takes place.</p>
</li>
<li>
<p>Select the option <strong>do not send</strong> if <em>no</em> email template should be sent.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Have you set up the email template correctly?</div>
<div class="paragraph">
<p>In the <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Automatic</strong> menu, you should only select email templates that you have edited and completed with your individual data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your daily business as a seller involves plenty of routine tasks. Order processing in particular is a complex process that requires you to act systematically. plentymarkets offers you the so-called event procedures that allow you to automate such routine tasks.<br></p>
</div>
<div class="paragraph">
<p>The principle behind the event procedures consists of 3 steps. First, you select an event that triggers the procedure. You can use several filter settings to set up specific conditions for this event. The third step consists of selecting concrete procedures that should be carried out by the system as soon as the event takes place. The system will automatically carry out the defined procedure whenever this event occurs in the future.<br></p>
</div>
<div class="paragraph">
<p>The following 2 event procedures have proven to be of value in the daily businesses of many plentymarkets sellers. We recommend that you automate sending your invoices in your plentymarkets system according to the first event procedure.</p>
</div>
<div class="paragraph">
<p>The first event procedure automatically generates the invoice document as soon as outgoing items have been booked for the corresponding order. Set up the event procedure according to the information provided in <a href="#table-event-procedure-quick-start-generating-an-invoice">Table 1</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Setting up the document template</div>
<div class="paragraph">
<p>To make sure that the event procedure described below functions correctly, you need to finish setting up the template for the <strong>invoice</strong> document beforehand. An instruction is provided on the <a href="/en/orders/order-documents">order documents</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> at the bottom left (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-quick-start-generating-an-invoice">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to the information provided in <a href="#table-event-procedure-quick-start-generating-an-invoice">Table 1</a>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-quick-start-generating-an-invoice" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting up the event procedure “Generating an invoice”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change &gt; Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents &gt; Generate invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If needed, activate the options <strong>Payment due date</strong> or <strong>Early payment discount</strong> or enter a <strong>comment</strong> that will be displayed on the generated invoice.<br></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>After generating the invoice, you can automatically send it to your customers as an email attachment using another event procedure. Set up this second event procedure according to the information provided in <a href="#table-event-procedure-quick-start-send-invoice">Table 2</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> at the bottom left (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-quick-start-send-invoice">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-quick-start-send-invoice">Table 2</a>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-quick-start-send-invoice" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Setting up the event procedure “Sending invoices to customers”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents &gt; Invoice generated</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the plus icon to select the email template <strong>Order: Invoice PDF attachment</strong> for the <strong>Customer</strong>. This way, the <strong>invoice</strong> document is sent as an email attachment in PDF format.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Event procedures offer numerous further possibilities of automating your plentymarkets system. To learn more about the function of event procedures and gain insight into more practical examples, pay attention to the links at the end of this page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Using the procedure manager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Similar to the event procedures, the procedure manager can be used to carry out automatic procedures as soon as selected events take place. However, the procedure manager offers you the additional possibility to carry out the procedures automatically at a fixed point in time each day. Thus, the procedure manager is ideal to manage processes that should take place at regular intervals.<br>
Pay attention to the links at the end of this page in order to obtain more information about setting up and using the procedure manager.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Using processes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Processes are yet another tool that you can use to automate processes in your plentymarkets system. Setting up processes is recommended for example when order documents should not only be generated, but also printed automatically. You can only use processes if you have installed the plentyBase tool. Using processes is aimed at advanced plentymarkets users. Processes are therefore not further explained in the quick start.<br>
Pay attention to the links at the end of this page in order to obtain more information about setting up processes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Check list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Work through the check list in order to review your settings for automating processes.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Did you select which <a href="#10">email templates</a> should be sent automatically?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you automate generating and sending invoices with the help of <a href="#20">event procedures</a>?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. More about automation</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/crm/sending-emails">Emails</a></p>
</li>
<li>
<p><a href="/en/automation/event-procedures">Event procedures</a></p>
</li>
<li>
<p><a href="/en/automation/procedure-manager">Procedure manager</a></p>
</li>
<li>
<p><a href="/en/automation/best-practices-automation">Best Practices: Procedure manager and event procedures</a></p>
</li>
<li>
<p><a href="/en/automation/processes/setting-up-processes">Setting up processes</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue to the <a href="/en/quick-start/quick-start-guide-final-steps">final steps</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>