<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Required hardware, operating systems and browsers</span></a></li>
<li><a href="#600"><span>2.</span><span> Troubleshooting</span></a></li>
<li><a href="#200"><span>3.</span><span> Using the plentymarkets apps</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Managing business data with the plentymarkets app</span></a></li>
<li><a href="#400"><span>3.2.</span><span> Managing stock with the plentymarkets app</span></a></li>
<li><a href="#450"><span>3.3.</span><span> Managing stock with the plentyWarehouse app (Beta)</span></a></li>
<li><a href="#500"><span>3.4.</span><span> Using plentyPOS</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>System requirements</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page lists the requirements that your hardware and internet connection need to fulfil if you wish to use plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Required hardware, operating systems and browsers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The requirements listed in <a href="#table-general-requirements">Table 1</a> allow you to work efficiently with plentymarkets. The system’s performance may be limited if you do not meet the specified values. You may have permanent performance problems if you are using old hardware or a PC that has been poorly maintained.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Access via browser</div>
<div class="paragraph">
<p>plentymarkets functions best with the Google Chrome browser. However, you can also access plentymarkets using Mozilla Firefox or Safari (Mac OS). This limitation only applies to the admin area. Your plentyShop can be accessed with all of the typical internet browsers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-general-requirements" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Requirements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Requirement</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Processor</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2 x 2 GHz<br>
If you are working with a Windows operating system, you need at least an Intel Core 2 processor.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Memory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">8 GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Resolution</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1920 x 1080</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internet connection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Permanent connection<br>
*<em>Note:</em>*The transfer rate should match the number of users.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating system</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>64 bit</p>
</li>
<li>
<p>Windows 7 or higher</p>
</li>
<li>
<p>Mac OS X 10.10 or higher</p>
</li>
<li>
<p>Linux</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The performance may be limited if you are using other operating systems, server operating systems or virtual machines.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Browser</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="http://www.google.com/chrome/" target="_blank" rel="noopener">Google Chrome</a> version 46 or higher</p>
</li>
<li>
<p><a href="http://www.mozilla.com/" target="_blank" rel="noopener">Mozilla Firefox</a> version 43 or higher</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> These browser requirements do not apply to your customers. Your customers can use a W3C compliant web browser of their choice in order to purchase items in your online store.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">2. Troubleshooting</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following points may cause problems if you are working with plentymarkets.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Your browser is not up-to-date. Check your browser version. If a newer version is available, update your browser.</p>
</li>
<li>
<p>Your CPU is busy. If your CPU is already running at full capacity due to normal operating procedures, then you should close programmes that you do not need at the time.</p>
</li>
<li>
<p>Your memory is too small. Check the size of your memory. We recommend a minimum capacity of 8 GB.</p>
</li>
<li>
<p>Your Java version is not up-to-date. Check the Java version installed on your computer and check if a later version exists. Install the current version.</p>
</li>
<li>
<p>Your hard drive is more than 70% full and has not been changed in years. Depending on the operating system and the quality of the hardware, you will notice a significant decrease in performance after two years. Delete any unnecessary files or reinstall the system. Another cost-effective solution would be to purchase a newer and more powerful hard drive/SSD.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Using the plentymarkets apps</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <a href="#app">plentymarkets app</a> allows you to access key performance indicators and search for customer, item and order data. You need a mobile Android or iOS device for these functions. In addition, the plentymarkets app allows you to perform mobile stock management tasks and to use the point of sale system <a href="/en/pos">plentyPOS</a>.</p>
</div>
<div class="paragraph">
<p>In addition, the <a href="/en/stock-management/plentywarehouse">plentyWarehouse app (beta)</a> is available. It contains up-to-date and improved functions for mobile stock management.</p>
</div>
<div class="paragraph">
<p>Learn below which hardware you need to use both apps.</p>
</div>
<div class="paragraph">
<p>The free plentymarkets app is available on Google Play and iTunes. Install the app on every mobile device that you want to use.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=en" target="_blank" rel="noopener">plentymarkets app on Google Play</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://apps.apple.com/gb/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets app on iTunes</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="300">3.1. Managing business data with the plentymarkets app</h3>
<div class="paragraph">
<p>If you only want to use the plentymarkets app to <a href="/en/app/functions/key-figures">manage key performance indicators</a> but not to <a href="/en/pos">operate a plentyPOS</a> or <a href="/en/app/functions/warehouse-management">manage stocks</a>, all you need is a mobile Android or iOS device. <a href="#table-requirements-key-figures">Table 2</a> lists the basic hardware requirements for using the plentymarkets app.</p>
</div>
<table id="table-requirements-key-figures" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Managing business data with the plentymarkets app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Device type</th>
<th class="tableblock halign-left valign-top">Requirements</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Android devices</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">OS version 5.1 or higher</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">iOS devices</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version 11 or higher</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">3.2. Managing stock with the plentymarkets app</h3>
<div class="paragraph">
<p>If you want to use the plentymarkets app for managing the stock of your warehouse, we recommend the hardware listed in <a href="#table-requirements-inventory-management">Table 3</a>.</p>
</div>
<table id="table-requirements-inventory-management" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Managing stock with the plentymarkets app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Hardware</th>
<th class="tableblock halign-left valign-top">Where to buy in Germany</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">M3 SM10 Mobile Computer<br>
(Android 5.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE" target="_blank" rel="noopener">www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth, Germany<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Phone: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="450">3.3. Managing stock with the plentyWarehouse app (Beta)</h3>
<div class="paragraph">
<p>If you want to use the plentyWarehouse app to manage your stock and complete tasks in your warehouse, we recommend the hardware listed in <a href="#table-requirements-plentywarehouse">Table 4</a>.</p>
</div>
<table id="table-requirements-plentywarehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Managing stock with the plentyWarehouse app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Hardware</th>
<th class="tableblock halign-left valign-top">Where to buy in Germany</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">M3 SM15 Mobile Computer<br>
(Android 7.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/M3-SM15-Mobile-Computer-WiFi-und-LTE" class="bare">https://sys.sundsits.de/M3-SM15-Mobile-Computer-WiFi-und-LTE</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth, Germany<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Phone: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zebra TC 21<br>
(Android 7.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/Zebra-TC21" class="bare">https://sys.sundsits.de/Zebra-TC21</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth, Germany<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Phone: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zebra TC 26<br>
(Android 7.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sys.sundsits.de/Zebra-TC26" class="bare">https://sys.sundsits.de/Zebra-TC26</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth, Germany<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Phone: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">3.4. Using plentyPOS</h3>
<div class="paragraph">
<p>The <a href="/en/pos">point of sale system plentyPOS</a> is a component provided as part or the plentymarkets app. However, note that there are additional hardware requirements for using plentyPOS. <a href="#table-requirements-pos">Table 5</a> lists the hardware that plentyPOS supports. The table also shows the devices on which plentymarkets tests new releases before publication.</p>
</div>
<table id="table-requirements-pos" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Supported hardware for plentyPOS</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Device type</th>
<th class="tableblock halign-left valign-top">General requirements</th>
<th class="tableblock halign-left valign-top">Tested devices</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating systems</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Android devices with OS version 5.1 and higher, ARM processor and device classes Small, Normal, Large and X-Large. You can find out the DPI of a mobile device e.g. <a href="http://dpi.lv/" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p>iOS devices (iPad, iPhone, iPod) with OS version 11 and higher<br>
→ There are some limitations regarding the use of Bluetooth scanners on iOS devices.<br>
→ If you want to use the plentymarkets mobile POS system in Austria, then you can only operate it on Android devices.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>For every regular release</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Elo Touch Solutions I-Series 15I1 - E021201</p>
</li>
<li>
<p>M3 SM10 (Android 5.1)</p>
</li>
<li>
<p>Samsung Galaxy Tab A 6 - SM-T580</p>
</li>
<li>
<p>Apple iPad Air 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Regularly</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy Tab A - SM-T555</p>
</li>
<li>
<p>Samsung Galaxy Tab 4 - SM-T530</p>
</li>
<li>
<p>Apple iPad Mini Retina</p>
</li>
<li>
<p>Advantech UPOS-211 sundsits edition</p>
</li>
<li>
<p>Honeywell Dolphin 75e (Android 4.4.4)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Selectively</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy S4</p>
</li>
<li>
<p>Apple iPhone 6</p>
</li>
<li>
<p>Apple iPad Mini</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Receipt printer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>ePos-Print API</p>
</li>
<li>
<p>Printers with LAN or WLAN only</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON TM-M30</p>
</li>
<li>
<p>EPSON TM-T88V-i (QR code printing)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fiscal printer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Required for using plentyPOS according to regulations defined by the <a href="/en/pos/pos-legal-compliance#400">Kassensicherungsverordnung</a> (only applies to POS operated in Germany)</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON TM-T88VI-FISCAL</p>
</li>
<li>
<p>EPSON TM-M30F</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scanner</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Scanners with USB or Bluetooth only</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Inateck BCST-10 (Bluetooth)</p>
</li>
<li>
<p>Albasca USB hand scanner MK-1000 (untested but used by several customers)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer displays</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>In combination with receipt printer EPSON TM-M30 only</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON DM-D30</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Card terminals</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Requires a payment provider contract</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Ingenico iPP480 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">Ingenico ZVT plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p>Verifone H5000 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p>CCV VX 680 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p>SumUp Air - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<strong><em>Note:</em></strong>You need to activate access to location (geolocation positioning) on the mobile device on which the plentymarkets app is installed to use SumUp Air with plentymarkets POS.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>If you have any questions or want to report an issue, you can use the <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</div>
</main>