<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Setting up payment methods</span></a></li>
<li><a href="#20"><span>2.</span><span> Carrying out the basic settings for payments</span></a>
<ul class="sectlevel2">
<li><a href="#90"><span>2.1.</span><span> Determining rules for incoming payments</span></a></li>
<li><a href="#100"><span>2.2.</span><span> Saving a VAT number</span></a></li>
</ul>
</li>
<li><a href="#120"><span>3.</span><span> More about payment processing</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up payment processing</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already deactivated the plugin set <strong>standard-shop</strong>? Not yet? Return to <a href="/en/welcome/quick-start/quick-start-online-store-introduction">Setting up the online store: Introduction</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In this section of the quick start you find basic information about how to integrate payment methods into your online store and about the required basic settings that are needed to correctly process payments in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Setting up payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In your Ceres online store, you can offer your customers different payment methods. All payment methods are integrated using the plentymarkets plugin structure. Depending on your individual requirements, you can offer a multitude of payment methods in your online store.</p>
</div>
<div class="paragraph">
<p>To access the available payment plugins as well as instructions on how to install them, visit the payment section in the <a href="https://marketplace.plentymarkets.com/en/plugins/payment" target="_blank" rel="noopener">plentyMarketplace</a>. Note that there is a <strong>Description</strong> for every payment method explaining the integration of the payment method. There, you also find the information whether the setup of the integration is done with an assistant.<br>
Assistants guide you through the settings and contain all necessary information. After downloading the plugin, you find the assistant in the <strong>Setup » Assistants » Plugins</strong> menu in your plentymarkets system. Select the plugin set in which you want to install the plugin. You find information on how to proceed in the <a href="/en/welcome/quick-start/quick-start-adding-plugins-to-the-system">Adding plugins to the system</a> section of the quick start.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Carrying out the basic settings for payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In addition to setting up the plugins for the payment methods, you have to carry out settings in your plentymarkets back end to make sure that payments are booked and processed correctly in your system. In addition, saving your VAT number is mandatory.</p>
</div>
<div class="sect2">
<h3 id="90">2.1. Determining rules for incoming payments</h3>
<div class="paragraph">
<p>To ensure that the incoming payments are processed as required, carry out the basic settings for payments first.</p>
</div>
<div class="paragraph instruction">
<p>Determining rules for incoming payments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Incoming</strong>.</p>
</li>
<li>
<p>Carry out the settings according to the information provided in <a href="#table-basic-settings-incoming-payment">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-basic-settings-incoming-payment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Carrying out basic settings for incoming payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match for automatic assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Incoming payments are automatically assigned to an order by checking the matching rate. For this, select a value between <strong>0.7</strong> (no exact match required for assignment) and <strong>1.0</strong> (exact match required). If this value is set to a higher value, automatic matching of payments may not work properly in your plentymarkets system. This is why the value <strong>0.75</strong> is set as default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Goodwill on payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To avoid faulty payments due to internally calculated order sums (starting from the third decimal place), you should enter a minimal value of <strong>0.01</strong>. If you select the value <strong>0.05</strong>, for example, payment that are up to 5 cents short of the original amount are booked as complete payments.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import customer bank data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether or not the customer’s <strong>bank data</strong> should be <strong>imported</strong> and saved in the respective contact data of the customer or not.<br>
<em>Important</em>: Since bank data can only be imported and saved after customers have agreed to the process, <strong>No</strong> is selected here by default. Familiarise yourself with the current legislation concerning this topic, if necessary also of different delivery countries.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exclude orders with the following payment methods from automatic assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select those payment methods for which no payments are incoming.  They are then ignored for payment assignment.<br>
Use the keyboard to select multiple payment methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exclude orders with the following referrers form automatic assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select those referrers for which no payments are incoming.  They are then ignored for payment assignment.<br>
Use the keyboard to select multiple payment methods.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="100">2.2. Saving a VAT number</h3>
<div class="paragraph">
<p>The legally determined VAT rates of 19% and 7% are already set by default for the location Germany. In addition, stating your VAT number is mandatory according to tax regulations. Proceed as described below to save a VAT number for your location.</p>
</div>
<div class="paragraph instruction">
<p>Saving a VAT number:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.</p>
</li>
<li>
<p>Open the <strong>VAT rates</strong> tab.</p>
</li>
<li>
<p>Open the configuration <strong>Germany</strong>.</p>
</li>
<li>
<p>Enter your VAT number in the <strong>VAT number</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the setting.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Locations and tax settings</div>
<div class="paragraph">
<p>The settings on VAT rates and all other options in the <strong>Accounting</strong> tab depend on the selected location. This means that you have to submit the correct VAT rates for each additional delivery country outside the country in which you are located. In case of any questions or insecurities, we generally recommend consulting your tax advisor. See also the chapter <a href="/en/orders/accounting#300">Carrying out VAT settings</a> in the manual section <a href="/en/orders/accounting">Accounting</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="120">3. More about payment processing</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/orders/accounting">Accounting</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments">Managing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments">Managing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#63">Managing customer bank data</a></p>
</li>
<li>
<p><a href="/en/payment/beta-managing-payments">beta: Managing payments</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue to <a href="/en/welcome/quick-start/quick-start-stock-management">Setting up a warehouse and supplier</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>