<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Adjusting the user account and saving the company, account and bank details</span></a></li>
<li><a href="#250"><span>2.</span><span> Creating a customer class</span></a></li>
<li><a href="#300"><span>3.</span><span> Setting up the email despatch</span></a></li>
<li><a href="#500"><span>4.</span><span> Setting up email templates</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>4.1.</span><span> Saving legal information</span></a></li>
<li><a href="#600"><span>4.2.</span><span> Example: Customising the email template</span></a></li>
<li><a href="#700"><span>4.3.</span><span> Using template variables and template functions</span></a></li>
<li><a href="#800"><span>4.4.</span><span> Attaching files to email templates</span></a>
<ul class="sectlevel3">
<li><a href="#900"><span>4.4.1.</span><span> Creating and attaching PDFs</span></a></li>
<li><a href="#1000"><span>4.4.2.</span><span> Creating and attaching documents</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1100"><span>5.</span><span> Ordering a domain</span></a></li>
<li><a href="#1200"><span>6.</span><span> Buying an SSL certificate</span></a></li>
<li><a href="#1300"><span>7.</span><span> Check list</span></a></li>
<li><a href="#1400"><span>8.</span><span> More about initial settings</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Carrying out initial settings</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already allowed pop-ups, added a bookmark for your back end login and checked the system requirements? Not yet? Return to <a href="/en/welcome/quick-start/quick-start-taking-off">Taking off</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In this part of the quick start, you find explanations about general settings such as saving company data and bank details as well as explanations about setting up the email despatch and email templates. Furthermore, we explain on this page how you order a domain and an SSL certificate for your online store.</p>
</div>
<div class="paragraph">
<p>You can carry out some of the above mentioned settings with our virtual assistants. They will help you set up your system step by step.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Adjusting the user account and saving the company, account and bank details</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Setup » Assistants</strong> and open the <strong>Basic setup</strong> area. Complete the <strong>Basics</strong> assistant to carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>adjust your own user account</p>
</li>
<li>
<p>save company data</p>
</li>
<li>
<p>save contact data</p>
</li>
<li>
<p>save bank details</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Changing contract information</div>
<div class="paragraph">
<p>Making changes to this master data will not have any effect on the customer information that is saved in your contract with plentymarkets, e.g. for billing purposes. Contract information has to be changed in the <strong>plentymarkets logo (Start) » My account</strong> menu in the <strong>Contracts</strong> area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Your bank details can be replaced with the corresponding text via so-called template variables in email templates. This means that plentymarkets replaces the variables with the corresponding content in the emails. The template variable <strong>$BankOwner</strong> will be replaced with the name of the account holder and <strong>$BankName</strong> will insert the name of the bank. <strong>$BankIban</strong> will be replaced with the IBAN and <strong>$BankSwift</strong> with the BIC.</p>
</div>
<div class="paragraph">
<p>For further information about template variables, refer to the chapters <a href="/en/welcome/quick-start/quick-start-initial-settings#600">Example: Customising the email template</a> and <a href="/en/welcome/quick-start/quick-start-initial-settings#700">Inserting template variables and template functions</a> further down on this page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">2. Creating a customer class</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use customer classes to categorise your customer base according to specific criteria. You can determine the minimum order quantities, grant discounts and decide whether the prices in your online store are displayed as gross or net prices.</p>
</div>
<div class="paragraph">
<p>For the beginning, we recommend creating 2 customer classes: B2C for your end customers and B2B for sellers. You may need the customer classes for further settings that you carry out in your plentymarkets system such as saving sales prices.</p>
</div>
<div class="paragraph instruction">
<p>Creating a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Customer classes</strong>.</p>
</li>
<li>
<p>Click on the <strong>New customer class</strong> tab.</p>
</li>
<li>
<p>Carry out the desired settings. Note <a href="#table-quick-start-create-customer-class">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-quick-start-create-customer-class" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a customer class</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name for the customer class, e.g. standard customer or B2C.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If required, select a discount type. For further information about the discount types, refer to the <a href="/en/crm/managing-contacts#25">Using the discount system</a> chapter on the <a href="/en/crm/managing-contacts">Contacts</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allowed payment methods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which methods of payment are permitted for the customer class. These methods of payment will later be available in your online store. By default, all available methods of payment are allowed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display of the prices in the online store</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the prices are displayed as gross or net prices in the online store.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Setting up the email despatch</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Setup » Assistants</strong> and open the <strong>Basic setup</strong> area. Complete the <strong>Email accounts</strong> assistant to carry out the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>To authorise plentymarkets to send emails via your email account, you have to enter the login details of your email program in plentymarkets. Note that it might be necessary to obtain an approval from your email provider so that plentymarkets is allowed to send emails.</p>
</li>
<li>
<p>activate the test mode</p>
</li>
<li>
<p>save the signature for your outgoing emails</p>
</li>
<li>
<p>activate the information service to receive a blind copy of all outgoing emails</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Test mode sends emails only to your email address</div>
<div class="paragraph">
<p>There is a test mode which is activated by default. When the test mode is activated, emails are only sent to the email address you saved. This allows you to check all settings of the email despatch and the content before you switch to the live mode.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">4. Setting up email templates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets generates all emails based on templates. For the beginning, we recommend setting up the email templates listed in <a href="#table-email-templates">Table 2</a>. Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Templates</strong> to create email templates.</p>
</div>
<div class="paragraph">
<p>You can adapt all email templates to your individual needs. Go to the chapter <a href="/en/welcome/quick-start/quick-start-initial-settings#600">Example: Customising the email template</a> further down on this page of the manual to find an example about how to customise the email template <strong>Online store: confirmation of store order</strong>.</p>
</div>
<table id="table-email-templates" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Email templates that are already set up in your system</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Email template</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order: Invoice as PDF attachment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sends an invoice to the customer as an attachment.<br>
<strong><em>Important:</em></strong> An invoice template for the location <strong>Germany</strong> is already pre-configured. You can adapt the template to your individual needs. To do so, go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Locations</strong> » <em>Select location</em> » <strong>Documents » Invoice</strong>. If an invoice already exists for the order and you have set up an event procedure, the invoice will be sent to your customer automatically because the PDF attachment <strong>Invoice</strong> is selected by default in the template <strong>Order: Invoice as PDF attachment</strong>.<br>
 For further information refer to the quick start page <a href="/en/welcome/quick-start/quick-start-automating-processes">Automating processes</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order: Shipping confirmation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is sent when the items are shipped.<br>
<strong><em>Tip:</em></strong> Create an event procedure with the event <strong>Package number</strong> and add filters and procedures so that the package number that is saved in the order will be inserted via the template variable <strong>$TrackingURL</strong>. For further information refer to the quick start page <a href="/en/welcome/quick-start/quick-start-automating-processes">Automating processes</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Online store: Confirmation of store order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Informs the customer that their order has been received.<br>
<strong><em>Important:</em></strong> For legal reasons, you should insert the cancellation rights as well as the terms and conditions in this email template. Also, pay close attention to any wording in the email template that relates to the contract between you and your customer. It is therefore recommended that you have your texts checked by a specialist lawyer.<br>
Save the texts for the cancellation rights and the terms and conditions in the <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Online store » Legal information</strong> menu. The template variables <strong>$CancellationRightsText</strong> and <strong>$GeneralTermsConditionsText</strong> are automatically replaced with the cancellation rights and the terms and conditions in the email.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>There are many more email templates that are already available in your plentymarkets system. Adjust these email templates, if required, and link them with an event in the <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Automatic</strong> menu or set up an event procedure. For further information refer to the quick start page <a href="/en/welcome/quick-start/quick-start-automating-processes">Automating processes</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="550">4.1. Saving legal information</h3>
<div class="paragraph">
<p>It is important that you save the legal information for your online store in advance. Legal information include terms and conditions, cancellation rights, privacy policy, legal disclosure and cancellation form. Insert template variables in the email template. The variables will be replaced with the text in the email templates.</p>
</div>
<div class="paragraph">
<p>We recommend having the texts checked by a specialist lawyer before you use them.</p>
</div>
<div class="paragraph instruction">
<p>Saving legal information:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Online store » Legal information</strong>.</p>
</li>
<li>
<p>Expand the language <strong>English</strong> (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Insert the texts in the corresponding tabs <strong>Terms and conditions</strong>, <strong>Cancellation right</strong>, <strong>Privacy policy</strong>, <strong>Legal disclosure</strong> and <strong>Cancellation form</strong> in the <strong>Text</strong> tab.<br>
→ <strong><em>Tip:</em></strong> Have the texts about the legal information checked by a specialist lawyer.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">4.2. Example: Customising the email template</h3>
<div class="paragraph">
<p>In this chapter, we explain how you customise an email template based on the email template <strong>Online store: confirmation of store order</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Customising the email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Templates</strong>.</p>
</li>
<li>
<p>Open the <strong>General email templates</strong> folder and click on <strong>Online store: Confirmation of store order</strong>.<br>
→ The <strong>Settings</strong> tab of the template opens.</p>
</li>
<li>
<p>If required, change the settings. Note <a href="#table-set-up-email-templates">Table 3</a>.</p>
</li>
<li>
<p>Click on the tab <strong>Email message » Tab: Content » Tab: Plain text</strong>.<br>
→ The standard text of the template opens.</p>
</li>
<li>
<p>If required, change the text.</p>
</li>
<li>
<p>Insert e.g. the template variables <strong>$CancellationRightsText</strong> and <strong>$GeneralTermsConditionText</strong>. By doing so, the texts for the terms and conditions and the cancellation rights will be inserted in the email template.<br>
→ <strong><em>Note:</em></strong> You have saved these texts in the system in advance as described in the <a href="/en/welcome/quick-start/quick-start-initial-settings#550">Saving legal information</a> chapter.<br>
→ Open the available template variables by clicking on <strong>Template variables and functions</strong> (<span class="icon blue"><i class="fa fa-code  "></i></span>).</p>
</li>
<li>
<p>Further information about the template variables for legal information can be found in <a href="#table-template-variables-legal-information">Table 4</a> at the end of this chapter.</p>
</li>
<li>
<p>Replace the sample contact data at the end of the template with your own contact data.<br>
→ You can use the template variable <strong>$SignatureText</strong> for this.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-set-up-email-templates" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Setting up email templates</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Header</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves the email template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template variables and template functions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon blue"><i class="fa fa-code  "></i></span> to open all template variables and template functions that are available in plentymarkets and that you can use in your email templates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The setting <strong>All</strong> is selected by default. This means that all users can access this template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the email template that is used for internal distinction. This name is not displayed to the recipient. You can add this name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Plain text only</strong> (default setting) or <strong>Only in HTML format</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>All</strong> (default setting) if you want the email template to be used for all areas. If you want to use the template in only one area of plentymarkets, you can define this area here by selecting the area from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PDF attachment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The setting <strong>No PDF attachment</strong> is selected by default.<br>
<strong><em>Note:</em></strong> If you want to attach the invoice as PDF file to your emails later on, you have to set up the invoice template in advance. Furthermore, an invoice has to exist for the order and it would be best if you set up an event procedure for this event.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document attachment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The setting <strong>No PDF attachment</strong> is selected by default.<br>
<strong><em>Note:</em></strong> If you would like to attach a brochure or product catalogue, you have to upload this document in the <strong>CMS » Documents</strong> menu. The drop-down list <strong>Document attachment</strong> only lists those documents that were uploaded in the <strong>CMS » Documents</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reply to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an email address. If someone replies to the email template, their message is sent to this address.<br>
<strong><em>Note:</em></strong> If no email address is entered, replies to this email template are sent to the email address that is saved in the <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Login details</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use design</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You only have to activate this option if you wish to link an HTML design with the email template. This setting is not relevant in this case because we only describe plain text and no HTML-formatted text in the quick start.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All clients are activated by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Email message</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The language <strong>en</strong> is selected by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subject</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If required, adapt the standard text of the subject. Choose the subject carefully so that the emails are recognised by the email account and displayed in the customer’s inbox instead of their spam folder.<br>
<strong><em>Note:</em></strong> It is possible to insert template variables in the subject line.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>After you have adjusted and saved the email template <strong>Online store: Confirmation of store order</strong>, this template will automatically be sent to your customers when they place an order in your online store. This is because this template is already linked with the event <strong>New order via online store</strong> in the <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Automatic</strong> menu.</p>
</div>
<table id="table-template-variables-legal-information" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Template variables for legal information</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Legal information</th>
<th class="tableblock halign-left valign-top">Template variable</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Terms and conditions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template variable for plain text in the <strong>Text</strong> tab:<br>
<strong>$GeneralTermsConditionsText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cancellation rights</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template variable for plain text in the <strong>Text</strong> tab:<br>
<strong>$CancellationRightsText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Privacy policy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template variable for plain text in the <strong>Text</strong> tab:<br>
<strong>$PrivacyPolicyText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Legal disclosure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template variable for plain text in the <strong>Text</strong> tab:<br>
<strong>$LegalDisclosureText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cancellation form</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template variable for plain text in the <strong>Text</strong> tab:<br>
<strong>$WithdrawalFormText</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">4.3. Using template variables and template functions</h3>
<div class="paragraph">
<p>In plentymarkets, email templates always consist of text as well as template functions and template variables. When plentymarkets sends emails, it automatically replaces the template variables and template functions with the corresponding content. The customer’s name will appear instead of the template variable <strong>$CustomerFullName</strong>. The customer’s email address will appear instead of <strong>$CustomerEmail</strong>. The order number will appear instead of the variable <strong>$OrderID</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Pay attention to the correct spelling of the template variables</div>
<div class="paragraph">
<p>Because template variables and template functions trigger pre-configured system commands, it is important that you strictly observe the correct spelling. In order to avoid errors by misspelling, copy the variables and functions and insert them in the desired place in the email template.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Inserting template variables and template functions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Templates</strong>.</p>
</li>
<li>
<p>Open the email template into which you would like to insert the template variable.</p>
</li>
<li>
<p>Click on <strong>Template variables and functions</strong> (<span class="icon blue"><i class="fa fa-code  "></i></span>).<br>
→ The <strong>Template variables and template functions</strong> window opens.</p>
</li>
<li>
<p>Copy the variable that you want to insert into the email template.<br>
→ You can search for the variables using the Ctrl+f or cmd+f keys.</p>
</li>
<li>
<p>Insert the variable in the text field in the <strong>Email message » Tab: Content » Tab: Plain text</strong> tab.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using the template function <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong></div>
<div class="paragraph">
<p>All emails that you send to your customers should contain the template function <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong>. This function replaces the link to the <strong>My account</strong> area of your online store. Your customers can then click on the link to update their data, see the order history, add further items to the order or track the order status.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="800">4.4. Attaching files to email templates</h3>
<div class="paragraph">
<p>You can add 2 types of files to your email templates:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>a PDF attachment<br></p>
</li>
<li>
<p>a document attachment</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>We describe the difference of these 2 attachments in the following.</p>
</div>
<div class="paragraph">
<p>Possible types of a PDF attachment, e.g. the invoice, are already available in your plentymarkets system. Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Locations</strong> » <em>Select location</em> » <strong>Documents</strong> to set up these documents.</p>
</div>
<div class="paragraph">
<p>A document attachment could be for example a product catalogue, instructions or a photo file. Go to <strong>CMS » Documents</strong> to upload these files.</p>
</div>
<div class="sect3">
<h4 id="900">4.4.1. Creating and attaching PDFs</h4>
<div class="paragraph">
<p>The documents that you can send as PDF attachment are automatically generated by your plentymarkets system. An example of such a document is the invoice.</p>
</div>
<div class="paragraph">
<p>It is set up in 3 steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create a document template, e.g. in a business letter template including the logo, and save it to your computer</p>
</li>
<li>
<p>Adjust the document settings (in the following, this step is described in detail)</p>
</li>
<li>
<p>Link the document with the email template (in the following, this step is described in detail)</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Adjusting the document settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Locations</strong> » <em>Select location</em> » <strong>Documents</strong>.</p>
</li>
<li>
<p>Select the document that you want to edit, e.g. <strong>Invoice</strong>.<br>
→ The document <strong>Invoice</strong> is already pre-set. If required, adapt the invoice template.</p>
</li>
<li>
<p>Click on the tab <strong>PDF template</strong>.</p>
</li>
<li>
<p>Click on <strong>Add template</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>If required, select a <strong>Payment method</strong>.<br>
→ The setting <strong>Standard</strong> is selected by default.</p>
</li>
<li>
<p>Click on <strong>Select template</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).</p>
</li>
<li>
<p>Open the PDF document template that you previously created.</p>
</li>
<li>
<p>Click on <strong>Upload template</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) to show a document preview.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>) to delete the document.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking a document with the email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Templates</strong>.</p>
</li>
<li>
<p>Open the email template.</p>
</li>
<li>
<p>Select the file that you want to send as attachment from the drop-down list <strong>PDF attachment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The document is attached to the email.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1000">4.4.2. Creating and attaching documents</h4>
<div class="paragraph">
<p>All of the documents you want to attach to an email template have to be uploaded to the server first. An example of such a document are the terms and conditions. This document is often attached with the order confirmation – given that you did not directly insert the terms and conditions in the email template via the template variable <strong>$GeneralTermsConditionsText</strong>.</p>
</div>
<div class="paragraph">
<p>It is set up in 2 steps. First, you upload the document in the <strong>CMS » Documents</strong> menu. Second, attach the document to an email template. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Uploading a document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Documents</strong>.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong> in the <strong>Upload</strong> tab.</p>
</li>
<li>
<p>Select the file that you want to upload and click on <strong>Open</strong>.</p>
</li>
<li>
<p>Select one of the options from the <strong>Right</strong> drop-down list.<br>
The right specifies whether the document should be visible to <strong>Employees</strong> or <strong>Customers</strong> only or to all visitors of your online store (= <strong>Public</strong>).</p>
</li>
<li>
<p>If required, enter a name for the folder.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking a document with an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Templates</strong>.</p>
</li>
<li>
<p>Open the email template.</p>
</li>
<li>
<p>Select the file that you want to send as attachment from the drop-down list <strong>Document attachment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The file is attached to the email.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">5. Ordering a domain</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The word "domain" refers to an Internet address in the form of a name and an extension, i.e. the top level domain, e.g. <strong>.de</strong>. You can freely select the name. A domain is unique, i.e. the exact same domain may never be used twice. Therefore, when registering a desired domain, e.g. with a hosting service provider, it is necessary to check whether your desired domain has already been used.</p>
</div>
<div class="paragraph">
<p>Do you want to set up new domains or subdomains? Do you need to order a new SSL certificate? Should the cache be deactivated temporarily? Such tasks are usually completed by a <em>system administrator</em>. The <a href="/en/business-decisions/system-administration/domains">Domains</a> page of the manual serves as a reference for system administrators and helps them manage the domains in plentymarkets using an assistant.</p>
</div>
<div class="paragraph">
<p>If you already have a domain with another provider and want to relocate the domain, proceed as described on the <a href="/en/business-decisions/system-administration/system-relocation">System relocation</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">6. Buying an SSL certificate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An SSL certificate is used to encrypt your website and provides a secure connection to your online store. Your customers can see when you are using an SSL certificate as your website will be accessed via <em>https</em>.</p>
</div>
<div class="paragraph">
<p>It is important that the domain for which you want to order the SSL certificate is set as main domain.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to order a SSL certificate with costs.</p>
</div>
<div class="paragraph instruction">
<p>Buying an SSL certificate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>SSL</strong>.<br>
→ The certificate of the domain appears.</p>
</li>
<li>
<p>In the row <strong>Order new SSL for domain: [domain name]</strong>, click on the down arrow to the right.<br>
→ The SSL certificates that are available for the domain are displayed.</p>
</li>
<li>
<p>Click on <strong>Order SSL</strong> in the line of the SSL certificate that you want to book.<br>
→ The SSL certificate is ordered.<br>
<strong><em>Note:</em></strong> It can take up to 2 hours for the SSL certificate to be activated.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">7. Check list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Work through the check list in order to review your settings for the initial settings.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Did you complete the <strong>Basics</strong> assistant?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you complete the <strong>Email accounts</strong> assistant?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you add the template variable <strong>$SignatureText</strong> to the end of your email templates?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you replace the sample data with your own contact data in all email templates?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Do all email templates contain the template function <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong>?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you order a domain for your online store?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you buy an SSL certificate?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you deactivate the test mode after having tested all the settings so that the emails are from now on sent to your customers and not to your email address any longer?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">8. More about initial settings</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/crm/sending-emails#100">Saving the email server’s login details</a></p>
</li>
<li>
<p><a href="/en/crm/sending-emails#1200">Creating an email template</a></p>
</li>
<li>
<p><a href="/en/online-store/setting-up-ceres#300">Saving legal information</a></p>
</li>
<li>
<p><a href="/en/welcome/quick-start/quick-start-automating-processes#10">Automatic email</a></p>
</li>
<li>
<p><a href="/en/crm/sending-newsletters">Newsletters</a></p>
</li>
<li>
<p><a href="/en/crm/using-the-ticket-system">Ticket system</a></p>
</li>
<li>
<p><a href="/en/business-decisions/system-administration/domains">Domains</a></p>
</li>
<li>
<p><a href="/en/business-decisions/system-administration/ssl-certificate">SSL certificates</a></p>
</li>
<li>
<p><a href="/en/business-decisions/your-contract">Your contract with plentymarkets</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue to <a href="/en/welcome/quick-start/quick-start-stock-management">Setting up a warehouse and supplier</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>