<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a warehouse</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up a supplier</span></a></li>
<li><a href="#300"><span>3.</span><span> More about warehouses and suppliers</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up a warehouse and supplier</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already saved your contact data, set up your email account and email templates and ordered a domain as well as a SSL certificate? Not yet? Return to <a href="/en/welcome/quick-start/quick-start-initial-settings">the initial settings</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In order to have a functional stock management system, you need to set up at least one warehouse and supplier and you will have to save stock. The first two are covered on this page.</p>
</div>
<div class="paragraph">
<p>If you do not want to track stock in plentymarkets, open the menu <strong>Item » Edit item</strong>, click on the tab <strong>Variation ID » Settings</strong> and select the option <strong>Do not administer stock for this variation</strong> for the <strong>Limitation</strong> setting. Then continue with <a href="/en/item/managing-items#660">managing item images</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following section describes how to set up a warehouse. However, it only includes the initial settings for a warehouse. Information on more detailed settings are provided on the manual pages listed below.<br>
It is recommended to have a distribution warehouse and a repair warehouse from the start.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Select one of the existing warehouses <strong>KS Repair</strong> or <strong>KS Sales</strong>.</p>
</li>
<li>
<p>In the submenu, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ The overview of the warehouse opens.</p>
</li>
<li>
<p>Rename the warehouse in the field <strong>Warehouse name</strong>.</p>
</li>
<li>
<p>Select a warehouse type and a logistics type.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The warehouse is set up and displayed on the left in the directory tree.</p>
</li>
<li>
<p>Open the warehouse to see the sub-menus.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up a supplier</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following section describes how to set up a supplier. Here, a supplier is only a type of a contact.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a supplier:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Contacts</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new contact</strong>.</p>
</li>
<li>
<p>Enter the name of the supplier.</p>
</li>
<li>
<p>Select the type <strong>Supplier</strong>.</p>
</li>
<li>
<p>In the <strong>New address</strong> field, select an address type (invoice or delivery address).</p>
</li>
<li>
<p>Enter the address data.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. More about warehouses and suppliers</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/stock-management/setting-up-a-warehouse">Setting up a warehouse</a></p>
</li>
<li>
<p><a href="/en/crm/managing-contacts#100">Managing contacts</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue with <a href="/en/welcome/quick-start/quick-start-online-store-introduction">Setting up the webshop: Introduction</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>