<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> What is GDPR?</span></a></li>
<li><a href="#200"><span>2.</span><span> Important notes</span></a></li>
<li><a href="#300"><span>3.</span><span> Download link</span></a></li>
<li><a href="#400"><span>4.</span><span> Contract for processing acc. to art. 28 §3 General Data Protection Regulation (GDPR)</span></a></li>
<li><a href="#500"><span>5.</span><span> Change history for contact data</span></a></li>
<li><a href="#600"><span>6.</span><span> Transferring the email address and telephone number of the customer to shipping service providers</span></a></li>
<li><a href="#700"><span>7.</span><span> Download all data of a contact</span></a></li>
<li><a href="#800"><span>8.</span><span> Automatically cleaning up data</span></a></li>
<li><a href="#900"><span>9.</span><span> Manually anonymising data records</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>GDPR</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual includes a download link of an abriged version of the record of processing activities within plentymarkets in accordance with GDPR whose transition period ends on May 25, 2018.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. What is GDPR?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As of May 25, 2018, the <a href="http://data.consilium.europa.eu/doc/document/ST-5419-2016-INIT/en/pdf" target="_blank" rel="noopener">General Data Protection Regulation</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> goes into effect throughout Europe and thus replaces all national regulations.</p>
</div>
<div class="paragraph">
<p>The GDPR applies to all companies operating in the European Union and processing personal data such as names, bank data and address data. It requires companies to organise and document any processes where personal data is processed in line with the GDPR.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Please note that this record only contains the processing activities within the software plentymarkets. You will need to add the names and descriptions of any other processing activities that take place within your company (e.g. payroll accounting or processes within other software programs).</p>
</div>
<div class="paragraph">
<p>plentymarkets makes no claim to completeness regarding this record. It is intended to be a supplement when creating your own record of processing activities.</p>
</div>
<div class="paragraph">
<p>Please note that only <strong>plentymarkets</strong> systems are GDPR compliant. The plentymarkets online store plugin <strong>Ceres</strong> will be GDPR compliant after the checkbox for consenting to the data transmission to shipping service providers has been added with the release of <strong>version 2.9.0</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Download link</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentymarkets_Rechtliches/Processing_directory_for_customers.pdf">Download the document</a> as a supplement to your own record of processing activities (<a href="https://github.com/plentymarkets/template-processing-directory/releases" target="_blank" rel="noopener">version history</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>). This document only describes the processing activities within the software plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Contract for processing acc. to art. 28 §3 General Data Protection Regulation (GDPR)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On Thursday, 24th of May, 2018, plentymarkets is updated in order to manage the conclusion of contracts for processing according to article 28 § 3 of the General Data Protection Regulation (GDPR) in a digital fashion. The contract is concluded digitally in the <strong>My Account</strong> area of <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph instruction">
<p>Concluding the contract digitally:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » My Account</strong>.</p>
</li>
<li>
<p>Click on <strong>Contracts</strong> (<span class="icon darkGrey"><i class="fa fa-file-text  "></i></span>).</p>
</li>
<li>
<p>Click on the tab <strong>Documents</strong> (<span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>).</p>
</li>
<li>
<p>Click on the contract <strong>Vertragsanlage zur Auftragsverarbeitung (DS-GVO) Juli 2019</strong>. It is only available in German.</p>
</li>
<li>
<p>Download the contract.</p>
</li>
<li>
<p>Enter your name and submit the form. This concludes the contract.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This process forgoes the need for concluding the contract by mail, thereby saving time and money.</p>
</div>
<div class="paragraph">
<p>After the contract has been concluded, you can download a version of the contract including the name of the signatory and the date of the contract conclusion. Simply access the <strong>Contracts</strong> area again and click on <strong>Vertragsdokument signiert herunterladen</strong>.</p>
</div>
<div class="paragraph">
<p>Please keep this document for the purpose of contractual documentation.</p>
</div>
<div class="paragraph">
<p>For further information, please refer to this <a href="https://forum.plentymarkets.com/t/vertragsanlage-zur-auftragsverarbeitung-i-s-d-art-28-abs-3-datenschutz-grundverordnung-dsgvo/483954" target="_blank" rel="noopener">forum thread</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Change history for contact data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Data » Change history</strong> menu, a new change history is available via which you can see which user – for example, an employee or the customer in the online store – has changed data. This can be addresses, contact options, address options, company data and bank data, for example.</p>
</div>
<div class="paragraph">
<p>For further information, please refer to this <a href="https://forum.plentymarkets.com/t/dsgvo-aenderungshistorie-fuer-kontaktdaten-integriert/486705" target="_blank" rel="noopener">forum thread</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Transferring the email address and telephone number of the customer to shipping service providers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Please note that plentymarkets as a software must comply with the principle of <em>Privacy by default</em> in accordance with GDPR. This is why we generally implemented the setting that this data (email and telephone number) is not transferred to the shipping service providers. This means that you can choose from now on whether the data of your customers is transferred or whether you want to transfer an alternative value. Or simply leave the default setting and do not transfer this data.</p>
</div>
<div class="paragraph">
<p>For further information, please refer to this <a href="https://forum.plentymarkets.com/t/dsgvo-uebertragung-von-e-mail-adresse-und-telefonnummer-an-versanddienstleister/486536" target="_blank" rel="noopener">forum thread</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. At the bottom of the thread, you will find a link to expand the English version.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Download all data of a contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>CRM » Quick search</strong> menu, it is possible to download a ZIP file with all data and documents that are saved for a contact. This can be done with simply one click. The ZIP file contains an HTML file that you can open in your browser and via which you can download all documents. Furthermore, it is possible to save the data in a machine-parsable format.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Automatically cleaning up data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to the new menu <strong>Setup » Settings » Data » Cleansing</strong> and determine the time period after which certain data records are automatically deleted from your plentymarkets system. Step by step, further areas will be added to this menu.</p>
</div>
<div class="paragraph">
<p>You can also delete tickets automatically from your ticket system. This setting is not carried out in the <strong>Setup » Settings » Data » Cleansing</strong> menu, but via the procedure manager in the ticket system in the <strong>Setup » CRM » Ticket system » Procedures</strong> menu. Further information about the ticket system as well as an example scenario can be found on the <a href="/en/crm/using-the-ticket-system#3000">Ticket system</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Manually anonymising data records</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>CRM » Quick search</strong> menu, it is possible to remove data of a contact respectively to make this data illegible in such way that no reference to this specific person is given any longer.</p>
</div>
<div class="paragraph">
<p><strong><em>Exception:</em></strong> If address data is assigned to an order, this data will not be removed or made illegible due to tax reasons. However, the contact relation will be deleted.</p>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/crm/managing-contacts#1707">Managing contacts</a> page of the manual.</p>
</div>
</div>
</div>
</main>