<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_legally_secure_working_with_plentymarkets"><span>1.</span><span> Legally secure working with plentymarkets</span></a></li>
<li><a href="#_download_link"><span>2.</span><span> Download link</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Procedural documentation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this manual page we provide you with the technical system documentation of plentymarkets. This system documentation serves as basis for creating your own procedural documentation.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_legally_secure_working_with_plentymarkets">1. Legally secure working with plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>According to GoBD (German regulation), sellers are, among other things, obliged to describe the procedure of the software they are using. This has to be done in form of a procedural documentation which has to be submitted in case of a tax audit. We support plentymarkets users in creating a procedural documentation by providing a technical system documentation. This documentation includes the detailed breakdown of all working methods of plentymarkets relevant in terms of tax law that can be used as a basis for a procedural documentation.</p>
</div>
<div class="paragraph">
<p>Note that the system documentation provided here is only a <strong>template</strong> for creating a procedural documentation. Read the system documentation carefully and add specific information on your company and your workflow with your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_download_link">2. Download link</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Download the current version of the technical system documentation of plentymarkets <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentymarkets_Rechtliches/Verfahrensdokumentation_V7.6.pdf" target="_blank" rel="noopener">here</a> (German only). Older versions can be accessed <a href="https://github.com/plentymarkets/template-procedure-document/releases" target="_blank" rel="noopener">here</a> (German only).</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Further software solutions</div>
<div class="paragraph">
<p>In general, plentymarkets is only a part of the (software) solutions that have to be described. Clarify with your tax consultant which additional information have to be described in the procedural documentation in your particular case.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>