<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
<li><a href="#_overview_of_the_procedures"><span>4.</span><span> Overview of the procedures</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Customer</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>Customer</strong> is used to export, edit and import customer master data. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>Customer</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format. The data format may vary depending on your plentymarkets version.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Data fields of the data format <strong>Customer</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AccountingID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The debtor account of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdditionalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional address information</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BankAccountOwner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First and last name of the account holder</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BankName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the bank</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BIC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bank Identifier Code, international sort code</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Birthday</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date of birth of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>City</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The town of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country ID that corresponds to the customer’s country. This ID can be found in the <a href="/en/order-processing/fulfilment/preparing-the-shipment#100">Countries of delivery</a> menu</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CountryISO</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country code according to ISO code2, e.g. DE for Germany and CR for Costa Rica.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerClass</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the <a href="/en/crm/managing-customer-data#100">customer class</a> as created in the <strong>System » CRM » Classes</strong> menu.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is composed of the parameters <strong>Customer ID</strong>, <strong>Company</strong>, <strong>First name</strong> and <strong>Surname</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the customer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The language of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerProperty_xyz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <a href="/en/crm/managing-customer-data#400">customer characteristics</a> that are saved in the system. One field is displayed per characteristic.<br>
<strong><em>Example</em></strong>: The field <strong>CustomerProperty_LastContact</strong> will be displayed for the characteristic <strong>Last contact</strong>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The type ID of the customer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the customer type from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DiscountDays</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Early payment discount (days)</strong>, i.e. the number of days starting when the invoice is created. The customer can pay the pending amount at a discounted price during this time period.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DiscountPercent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Early payment discount (%)</strong>, i.e. the value in percent that the customer may subtract if he or she makes the payment within the time period <strong>Early payment discount (days)</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The eBay name of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The email address of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The fax number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The first name of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>male</strong> or <strong>0</strong><br>
<strong>female</strong> or <strong>1</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The house number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The International Bank Account Number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InsertedTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date when the customer data record was created<br>
<strong><em>Note</em></strong>: The field <strong>InsertedTimestamp</strong> can be exported, but not imported.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The surname of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastUpdate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date of the last change</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The mobile phone number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Receive newsletter<br>
<strong>0</strong> = No<br>
<strong>1</strong> = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayDebit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debit activated<br>
<strong>N</strong> = No<br>
<strong>Y</strong> = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayInvoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Invoice activated<br>
<strong>N</strong> = No<br>
<strong>Y</strong> = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentDueWithin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due, number of days</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Phone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The telephone number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rating; 5 stars rating from -5 to 5</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Region</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The region of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the online store</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Street</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The street of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valuta</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time period that starts when the invoice is created and is before the <strong>payment due</strong> time period begins.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VATNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The postcode of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export for customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Note</em></strong>: filter setting only</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the customer class from the drop-down list. In order to export data for all customer classes, do not activate the filter. Go to <a href="/en/crm/managing-customer-data#100">System » CRM » Classes</a> to create customer classes.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>Customer</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>City</strong></p>
</li>
<li>
<p><strong>FirstName</strong></p>
</li>
<li>
<p><strong>HouseNo</strong></p>
</li>
<li>
<p><strong>LastName</strong></p>
</li>
<li>
<p><strong>Street</strong></p>
</li>
<li>
<p><strong>ZIP</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following data field is available for <a href="/en/basics/data-exchange/importing-data#25">data synchronisation</a>. For this mandatory synchronisation field, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CustomerID</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_procedures">4. Overview of the procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Procedures</strong> tab, select which procedures you want to be carried out during the data export. Activate the <strong>LastUpdate</strong> procedure. Select the <strong>set the current date</strong> option from the drop-down list. The date and time when changes were last made will be added to the customer data during import.</p>
</div>
</div>
</div>
</main>