<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_the_data_format_itemwarehouse"><span>1.</span><span> General information about the data format ItemWarehouse</span></a></li>
<li><a href="#_important_notes"><span>2.</span><span> Important notes</span></a></li>
<li><a href="#_overview_of_the_data_fields"><span>3.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_synchronization_fields"><span>4.</span><span> Synchronization fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>ItemWarehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Data exchange » Dynamic export</strong> and <strong>Data import » Dynamic import</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_the_data_format_itemwarehouse">1. General information about the data format ItemWarehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the data format <strong>ItemWarehouse</strong> to export, edit and import your <strong><a href="/stock-management/setting-up-a-warehouse">warehouse configuration</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_important_notes">2. Important notes</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Mandatory fields</div>
<div class="paragraph">
<p><strong>WarehouseID</strong>, <strong>ItemID</strong>, <strong>AttributeValueSetID</strong>, as well as the <strong>ItemNo, ExternalItemID</strong> and <strong>EAN</strong> in some cases.</p>
</div>
<div class="paragraph">
<p>Mandatory fields must be included and need to have an accepted value saved for them.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The data field <strong>AttributeValueSetID</strong> has the value <strong>0</strong> for items without attributes.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Spell the field names correctly!</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields (upper/lower case letters). The data can not be processed if the data field is spelled incorrectly.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">3. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following table explains the data fields for the data format <strong>ItemWarehouse</strong>. The data fields are listed in alphabetical order:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Filter options (tab: <strong>Filter</strong>)</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AttributeValueSetID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The item variation’s ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExternalItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>External item ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemEAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item EAN</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemEAN2</strong> - <strong>ItemEAN4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Additional item EANs</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the operator and enter the value for the item ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemNo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MarketStockBuffer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock buffer</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Marking</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Flag</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the flag from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Marking2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Additional flag</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the flag from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MaxStock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Maximum stock</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ProducerID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Manufacturer ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the manufacturer from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ReorderLevel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Reorder level</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>StockRangeDays</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock turnover (in days)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>StorageLocationID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Storage location ID<br>
<strong>-1</strong> = Unassign default storage location</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>StorageLocationType</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Storage location type</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationEAN1</strong> - <strong>VariationEAN4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The item variations' EAN1 through EAN4</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationNo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Variation number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WarehouseID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warehouse ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the warehouse from the drop-down menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>ItemWarehouse</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_synchronization_fields">4. Synchronization fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>data fields</strong> that are listed in the following tables are available for <strong>data synchronization</strong>.</p>
</div>
<div class="paragraph">
<p>The following table explains the synchronization fields for items without variations:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Mandatory synchronization fields (M) and optional fields (O*) for items without variations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExternalItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>External item ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemEAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item EANs</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemEAN2</strong> - <strong>ItemEAN4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Additional item EANs</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemNo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WarehouseID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warehouse ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>M</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O* = One of these data fields is sufficient</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: data fields that can be used for the <strong>synchronization</strong>; items without variations</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Combinations</div>
<div class="paragraph">
<p>The data field <strong>WarehouseID</strong> has to be combined with at least one of the data fields that are listed with <strong>O</strong>*. It is possible to use one, several or even all of the optional fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following table explains the first possibility of synchronization fields for items with variations:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Mandatory synchronization fields (M) and optional fields (O*) for items with variations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationEAN1</strong> - <strong>VariationEAN4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The item variations' EAN1 through EAN4</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationNo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Variation number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WarehouseID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warehouse ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>M</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WarehouseZone</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warehouse zone</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O* = One of these data fields is sufficient</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: data fields that can be used for the <strong>synchronization</strong>; items with variations</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Combinations</div>
<div class="paragraph">
<p>The data field <strong>WarehouseID</strong> has to be combined with at least one of the data fields that are listed with <strong>O</strong>*. It is possible to use one or even both of the optional fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following table explains the second possibility of synchronization fields for items with variations:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Mandatory synchronization fields (M) and optional fields (O*) for items with variations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AttributeValueSetID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The item variation’s ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>M</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExternalItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>External item ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemEAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item EANs</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemEAN2</strong> - <strong>ItemEAN4</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Additional item EANs</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemNo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O*</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WarehouseID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warehouse ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>M</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>O* = One of these data fields is sufficient</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: data fields that can be used for the <strong>synchronization</strong>; items with variations</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Combinations</div>
<div class="paragraph">
<p>The data fields <strong>WarehouseID</strong> and <strong>AttributeValueSetID</strong> have to be combined with at least one of the data fields that are listed with <strong>O</strong>*. It is possible to use one, several or even all of the optional fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>