<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_the_data_format_itemcategories"><span>1.</span><span> General information about the data format ItemCategories</span></a></li>
<li><a href="#_important_notes"><span>2.</span><span> Important notes</span></a></li>
<li><a href="#_overview_of_the_data_fields"><span>3.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_synchronization_fields"><span>4.</span><span> Synchronization fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>ItemCategories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Data exchange » Dynamic export</strong> and <strong>Data import » Dynamic import</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_the_data_format_itemcategories">1. General information about the data format ItemCategories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>ItemCategories</strong> is used for exchanging data about your items' category links. It is used for both exporting and importing data. You can also use the data format <strong><a href="/en/basics/data-exchange/data-formats/item">Item</a></strong> to edit category links via data exchange. However, the data format <strong>ItemCategories</strong> is especially well suited for creating or editing multiple links per item.</p>
</div>
<div class="paragraph">
<p>For example, use the format <strong>ItemCategories</strong> to assign category links to newly imported items. Once you have imported the new items, export the category links for your items. Open the CSV file and save values for the category links that you want to assign to newly imported items. Pay attention to the explanations given in table 1. The table lists the correct notation for the IDs.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_important_notes">2. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By using the field <strong>DeleteOld</strong> with the value <strong>1</strong>, it is possible to delete old category links during the import (table 1). If you entered several category links per item and these category links are all in different lines, then only enter the value 1 into the first line (see table 1).</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Spell the field names correctly!</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields (upper/lower case letters). The data can not be processed if the data field is spelled incorrectly.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">3. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following table explains the data fields for the data format <strong>ItemCategories</strong>. The data fields are listed in alphabetical order:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter options (tab: Filter)</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Categories</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Categories<br>
Category IDs are separated with commas. Use hyphens to enter the IDs for category paths.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryBranches</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The IDs of the category branches<br>
Use commas to separate these IDs.<br>
If you have multiple category links per item, then it is also possible to save each category link in a different line.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryName</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Category names<br>
The names of different categories are separated by commas. Use a greater than symbol to enter path names.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryNameLang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The language of the category names</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DeleteOld</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Delete old category links<br>
<strong>0</strong> = No<br>
<strong>1</strong> = Yes<br>
<strong><em>Important</em></strong>: If you entered several category links per item and these category links are all in different lines, then only enter the value 1 into the first line.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the operator and enter the value for the item ID.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>ItemCategories</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_synchronization_fields">4. Synchronization fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>None.</p>
</div>
</div>
</div>
</main>