<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>SerialKeys</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>SerialKeys</strong> is used to export, edit and import serial numbers. Use this data format to easily import a large amount of your item’s serial numbers into plentymarkets. You can also export the serial numbers of your items, edit them in the file and re-import the file. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>SerialKeys</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the filter, select the operator and enter the value.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>OrderID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Order ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>OrderRowID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The stock unit’s order ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SerialKey</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Serial number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID of the serial number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: Data fields of the data format <strong>SerialKeys</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory field must be available for the data format <strong>SerialKeys</strong> and needs to have a valid value saved for it:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ItemID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/basics/data-exchange/importing-data#25">data synchronisation</a>. For mandatory synchronisation fields, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID of the serial number</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: Data fields with the import procedure set to <strong>Synchronisation</strong></em></p>
</div>
</div>
</div>
</main>