<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields_for_individual_items"><span>2.</span><span> Overview of the mandatory fields for individual items</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields_for_item_variations"><span>3.</span><span> Overview of the mandatory fields for item variations</span></a></li>
<li><a href="#_export_options"><span>4.</span><span> Export options</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>Stock</strong> is used to exchange data that relates to your <a href="/en/stock-management"><strong>stock</strong></a>. Your current stock will be exported during the export process. The export of your stock is one step in the process of stocktaking for example. A stock correction is carried out during the import and the stock will be changed to reflect the value that was imported. Please note that item bundles do not have any stock.</p>
</div>
<div class="paragraph">
<p>For further information about using the data format <strong>Stock</strong> refer to the <strong><a href="/en/basics/data-exchange/exporting-data#90">Exchanging stock data</a></strong> chapter on the <strong>Exporting data</strong> page of the manual.</p>
</div>
<div class="paragraph">
<p>Create and export the data format in the <strong>Data exchange » Export » Dynamic export</strong> menu. Import the data format in the <strong>Data exchange » Import » Dynamic import</strong> menu. The <strong><a href="/en/basics/data-exchange/exporting-data">Exporting data</a></strong> and <strong><a href="/en/basics/data-exchange/importing-data">Importing data</a></strong> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>Stock</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AttributeValueSetID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID of the item variation</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AveragePrice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Average purchase price. For further information, refer to the <a href="/en/stock-management/new-incoming-items#2b"><strong>Incoming items</strong></a> page of the manual.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IsBundle</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The stock item is an item bundle.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemEAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>EAN code for an item</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The item’s ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemInactive</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Inactive item. The setting is found under <strong>Item » Edit item » Open item » Open variation » Tab: Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the filter and select the value from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemMarking1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Flag 1 of the item</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the filter and select the operator and the value from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemMarking2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Flag 2 of the item</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the filter and select the operator and the value from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemModel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item model name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemNo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item number; letters and numbers are possible</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemProducer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The item’s manufacturer</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemProducerID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The item’s manufacturer ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemTextName</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>LocationID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Storage location ID<br>
If no storage location ID is set, then the standard storage location (ID = 0) will be used instead.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>LocationName</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Storage location name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PriceID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Unique price ID; numerical value<br>
If no price ID is set, then the ID of the first price set will be used instead.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PriceUnit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The item’s standard unit. For further information, refer to <a href="/en/basics/data-exchange/data-formats/item"><strong>Data format Item</strong></a> page of the manual.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PurchasePrice</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Purchase price</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reordered</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Number of reordered items</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ReservedStock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>An item’s reserved stock</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>An item’s (physical) stock<br>
If no warehouse is selected as a filter for the export, then the warehouse with the first warehouse ID will be used instead.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationEAN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>EAN of the item variation</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationNo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Number of the item variation</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationString</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>System name hash of the attributes and values. Example: "Colour:Blue;Size:XXL".</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WarehouseID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warehouse ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the filter and select the warehouse from the drop-down menu.<br>
If no warehouse is selected, then the warehouse with the lowest ID will be selected by default.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>Stock</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields_for_individual_items">2. Overview of the mandatory fields for individual items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>Stock</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p>one <strong>Item</strong> format</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The mandatory fields must be set to <strong>Import</strong>. If no warehouse is selected, then the warehouse with the lowest ID will be selected by default.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields_for_item_variations">3. Overview of the mandatory fields for item variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>Stock</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p><strong>AttributeValueSetID</strong></p>
</li>
<li>
<p>one <strong>Item</strong> format</p>
</li>
<li>
<p>one <strong>Price</strong> format</p>
</li>
<li>
<p>one <strong>Variation</strong> format</p>
</li>
<li>
<p><strong>PriceID</strong> is a mandatory field for items that contain multiple price sets</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The mandatory fields must be set to <strong>Import</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_export_options">4. Export options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can limit the data export to a specific type of stock. To do so, go to <strong>Data exchange » Export » Dynamic export</strong> and click on the <strong>Fields</strong> tab. Use the drop-down menus on the right and select options for <strong>Stock</strong>, <strong>Item bundle</strong> and <strong>Supplier</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Use the <strong>Item bundle</strong> option to select whether item bundles should be exported.</p>
</li>
<li>
<p>Use the <strong>Supplier</strong> option to specify whether stock should be exported for all suppliers or only for a specific supplier.</p>
</li>
<li>
<p>Use the <strong>Stock</strong> option to determine which stock should be exported. Table 2 explains the possible settings for the <strong>Stock</strong> option.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>All</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>All of the stock will be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Below reorder level</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock data will only be exported for items that are below the reorder level.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reorder level reached/below</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock data will only be exported for items that have reached or are below the reorder level.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Negative net stock or net stock is 0</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock data will only be exported for items with a net stock that is less than or equal to 0.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Negative net stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock data will only be exported for items with negative net stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Negative physical stock or physical stock is 0</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock data will only be exported for items with a physical stock that is less than or equal to 0.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Negative physical stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock data will only be exported for items with negative physical stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Positive net stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock data will only be exported for items with positive net stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Positive physical stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stock data will only be exported for items with positive physical stock.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: export options for the data format <strong>Stock</strong></em></p>
</div>
</div>
</div>
</main>