<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_important_notes"><span>1.</span><span> Important notes</span></a></li>
<li><a href="#_overview_of_the_data_fields"><span>2.</span><span> Overview of the data fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>VariationCategories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>VariationCategories</strong> is used to export, edit and import variation category links. You can also use the data format <a href="/en/basics/data-exchange/data-formats/variation">Variation</a> to edit category links via data exchange. The data format <strong>VariationCategories</strong>, however, is especially suited to create or edit multiple links per variation.<br>
For example, use the format <strong>VariationCategories</strong> to assign category links to newly imported variations. Once you have imported the new variations, export the category links for your variations. Open the CSV file and save values for the category links that you want to assign to newly imported variations.</p>
</div>
<div class="paragraph">
<p>Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_important_notes">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By using the data field <strong>DeleteOld</strong> with the value <strong>1</strong>, it is possible to delete old category links during the import. If you entered several category links per variation and these category links are all in different lines, then only enter the value <strong>1</strong> into the first line (see table 1).</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Use the data format <strong>Category</strong> for new categories</div>
<div class="paragraph">
<p>It is not possible to use the data format <strong>VariationCategories</strong> for creating new categories. With the data format <strong>VariationCategories</strong>, you can only create new category links within the variation. Use the data format <a href="/en/basics/data-exchange/data-formats/category">Category</a> instead to create new categories.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">2. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>VariationCategories</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Categories</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Categories<br>
Category IDs are separated by comma. Use hyphens to enter the IDs for category paths.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryBranches</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The IDs of the category branches<br>
Use commas to separate these IDs. It is also possible to save each category link in a different line.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the filter, select the operator and enter the value.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryNameLang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The language of the category names</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the filter and select the language from the drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CategoryNames</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Category names<br>
The names of different categories are separated by comma. Use a greater-than symbol to enter path names.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DeleteOld</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Delete old category links<br>
<strong>0</strong> = No<br>
<strong>1</strong> = Yes<br>
<strong><em>Important</em></strong>: If you entered several category links per variation and these category links are all in different lines, then only enter the value 1 into the first line.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Position</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Category position</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VariationID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Variation ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the filter, select the operator and enter the value.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>VariationCategories</strong></em></p>
</div>
</div>
</div>
</main>