<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Warehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>Warehouse</strong> serves to export the data that is necessary for the warehouse configuration. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>Warehouse</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationMatchingPosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The system of storage locations has changed. <strong>Storage locations</strong> used before version 4.305 have to be <strong>migrated</strong> to the new system.<br>
This field is used for the transfer.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationPosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The storage location’s position</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location type</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RackID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rack ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RackName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rack name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RackPosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The rack’s position number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RackWarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The rack’s ID in the warehouse</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and use the drop-down list to select the warehouse that the rack is located in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RackZone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The zone that the rack is located in</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShelfID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shelf ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShelfLevel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shelf level</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShelfName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shelf name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>Warehouse</strong></em></p>
</div>
<div class="paragraph">
<p>For further information about configuring the warehouse, refer to the <a href="/en/stock-management/setting-up-a-warehouse">Racks</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory field must be available for the data format <strong>Warehouse</strong> and needs to have a valid value saved for it:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>RackWarehouseID</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The <strong>Import procedure</strong> option has to be set to <strong>Import</strong> for this field.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following data field is available for <a href="/en/basics/data-exchange/importing-data#25">data synchronisation</a>. This data field is a mandatory synchronisation field. For mandatory synchronisation fields, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>LocationID</strong> = Storage location ID</p>
</li>
</ul>
</div>
</div>
</div>
</main>