<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Praxisbeispiel: Erster Katalog mit Auftragsdaten</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>1.1.</span><span> 1. Schritt: Welche Auftragsdaten brauche ich?</span></a></li>
<li><a href="#90"><span>1.2.</span><span> 2. Schritt: Entsprechende Datenfelder hinzufügen</span></a></li>
<li><a href="#110"><span>1.3.</span><span> 3. Schritt: Eingrenzung durch Filter</span></a></li>
<li><a href="#130"><span>1.4.</span><span> 4. Schritt: Katalog exportieren</span></a></li>
<li><a href="#150"><span>1.5.</span><span> Bestehenden Katalog um Auftragspositionen erweitern</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Praxisbeispiel: Erweiterter Katalog Auftragsdaten</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>2.1.</span><span> 1. Schritt: Welche Auftragsdaten brauche ich?</span></a></li>
<li><a href="#240"><span>2.2.</span><span> 2. Schritt: Entsprechende Datenfelder hinzufügen</span></a></li>
<li><a href="#260"><span>2.3.</span><span> 3. Schritt: Eingrenzung durch Filter</span></a></li>
<li><a href="#280"><span>2.4.</span><span> 4. Schritt: Katalog exportieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Praxisbeipiele Kataloge für Aufträge und Auftragspositionen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite führt Praxisbeispiele zum Erstellen eines Katalogs für den Export von Aufträgen und Auftragspositionen auf. Solltest du noch nicht vertraut sein mit den Katalogen, informiere dich zuerst auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge verwalten</a>. Dort erhältst du alle Informationen, die du zum generellen Erstellen und Verwalten von Katalogen brauchst.</p>
</div>
<div class="paragraph">
<p>Das Katalogformat Aufträge umfasst sowohl Datenfelder für Auftragsdaten als auch für Auftragspositionsdaten. Je nach Arbeitsablauf kannst du dir also entweder getrennte Kataloge für den Export der jeweiligen Daten anlegen oder die Daten in einem großen Katalog zusammenstellen und exportieren. Das Limit für den Export von Datensätzen liegt bei 60000.<br>
Du hast mit den Katalogen viele Gestaltungs- und Nutzungsmöglichkeiten. Überlege daher zuerst generell, wofür du die exportierten Daten nutzen möchtest und dann welche Daten du dafür benötigst und welche Zusammenstellung in Katalogen für dich sinnvoll ist. Du kannst zum Beispiel einen Katalog erstellen, um Auftragsdaten statistisch auszuwerten oder einen Katalog, in dem du alle Daten für dein Fulfillment zusammenfasst. Du entscheidest, wie die Kataloge aufgebaut sein sollen.</p>
</div>
<div class="paragraph">
<p>Im Folgenden geben wir Beispiele für Kataloge für den Export von Auftrags- und Auftragspositionsdaten. Die Beispiele zeigen Möglichkeiten auf, wie der Export von Auftragsdaten mit dem Katalog gestaltet werden kann. Du kannst bei Bedarf die Beispiele als Unterstützung für die Erstellung deiner Kataloge nutzen, bist aber in der Gestaltung deiner Kataloge frei.</p>
</div>
<div class="paragraph">
<p>Wähle die folgenden <a href="/daten/daten-exportieren/kataloge-verwalten#130">Grundeinstellungen</a>, wenn du einen neuen Katalog für den Export von Auftragsdaten erstellen möchtest:</p>
</div>
<table id="table-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen Katalog für den Export von Aufträgen und Auftragspositionen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardformat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neues Standardformat</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">1. Praxisbeispiel: Erster Katalog mit Auftragsdaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Angenommen, du möchtest zur Auswertung einige grundlegende Auftragsdaten aller Aufträge, die im Laufe der letzten 14 Tage eingegangen sind, exportieren. Dann gehe wie auf dieser Seite beschrieben vor.</p>
</div>
<div class="sect2">
<h3 id="70">1.1. 1. Schritt: Welche Auftragsdaten brauche ich?</h3>
<div class="paragraph">
<p>Überlege, welche Auftragsdaten für dich wichtig sind. Gehen wir davon aus, dass du erst mal nur die folgenden Auftragsdaten zur Auswertung brauchst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID: Damit die Daten später noch zuzuordnen sind und ggf. auch erweitert werden können.</p>
</li>
<li>
<p>Auftragsbeträge: Für eine Aufstellung von verschiedenen Auftragssummen. Überlege, welche Beträge für dich relevant sind, z.B. Brutto oder Netto. Für dieses Beispiel nehmen wir den Rechnungsbetrag.</p>
</li>
<li>
<p>Auftragstyp: Für eine erste Aufstellung, welche Auftragstypen am meisten verwendet werden.</p>
</li>
<li>
<p>Zahlungsart: Um auszuwerten, welche Zahlungsarten gefragt sind.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Liste lässt sich individuell anpassen und erweitern. Entscheide auch, welche Kombinationen von Informationen für dich relevant sind. Vielleicht ist es auch sinnvoll Daten zu gruppieren und in mehreren Katalogen anzulegen.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">1.2. 2. Schritt: Entsprechende Datenfelder hinzufügen</h3>
<div class="paragraph">
<p>Füge die folgenden <a href="/daten/daten-exportieren/kataloge-verwalten#160">Datenfelder</a> hinzu, um die aufgelisteten Daten in einem Katalog zusammenzustellen. Du fügst ein Datenfeld hinzu, indem du daneben auf <strong>Hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>) klickst. Speichere (<span class="icon "><i class="material-save"></i></span>) danach den Katalog.</p>
</div>
<div class="ulist">
<div class="title">Datenfelder:</div>
<ul>
<li>
<p><strong>Auftrag &gt; Auftrags-ID</strong></p>
</li>
<li>
<p><strong>Auftrag &gt; Beträge &gt; Rechnungsbetrag</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
<li>
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</li>
<li>
<p><strong>Auftrag &gt; Eigenschaft</strong><br>
Wähle nach Hinzufügen des Datenfelds <strong>Zahlungsart</strong> aus der Dropdown-Liste.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Struktur der Datenfelder</div>
<div class="paragraph">
<p>Die Datenfelder (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) sind thematisch in Ordnern gruppiert. In der ersten Ebene siehst du die Hauptordner. Wenn du einen Ordner öffnest werden Datenfelder und weitere Unterordner aufgelistet. Auch die Unterordner kannst du öffnen, um dir weitere Datenfelder anzeigen zu lassen.<br>
Beachte außerdem, dass du für manche Datenfelder nach dem Hinzufügen eine zusätzliche Auswahl treffen kannst. Dies siehst du jeweils am hinzugefügten Datenfeld. Triffst du keine Auswahl, werden auch keine Informationen exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="110">1.3. 3. Schritt: Eingrenzung durch Filter</h3>
<div class="paragraph">
<p>Überlege, welche Aufträge exportiert werden sollen und wie sich die Ergebnisse sinnvoll eingrenzen lassen. Dies empfiehlt sich allein schon, weil sonst sehr große Datenmengen entstehen und evtl. auch Daten im Export enthalten sind, die gar nicht benötigt werden.</p>
</div>
<div class="paragraph">
<p>Für das Beispiel wollen wir die Daten der letzten 14 Tage haben, wir brauchen also mindestens diesen Filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Erstellungsdatum</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann <strong>Letzte</strong> aus der Dropdown-Liste. Gib die Anzahl der Tage, für das Beispiel 14, ein.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Auch die Filter lassen sich individuell erweitern. Geht es dir zum Beispiel nur um Aufträge, die bereits bezahlt sind, kannst du zusätzlich den Filter <strong>Zahlungsstatus</strong> und aus der Dropdown-Liste dann den Status <strong>Bezahlt</strong> wählen. Durch Hinzufügen von weiteren Filtern werden die Ergebnisse eingegrenzt.<br>
Speichere (<span class="icon "><i class="material-save"></i></span>) den Katalog nach Setzen der Filter erneut.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">1.4. 4. Schritt: Katalog exportieren</h3>
<div class="paragraph">
<p>Nachdem du alle Einstellungen vorgenommen sowie Datenfelder und Filter gesetzt hast, kann der Katalog exportiert werden. Vorher kannst du aber die <a href="/daten/daten-exportieren/kataloge-verwalten#255">Vorschau</a> nutzen, um deine Einstellungen zu überprüfen.</p>
</div>
<div class="paragraph">
<p>Wirf in diesem Zug auch noch mal einen Blick auf die <a href="/daten/daten-exportieren/kataloge-verwalten#150">Exporteinstellungen</a> deines Katalogs. Du kannst hier im Feld <strong>Übertragung</strong> wählen, wann der Export gestartet werden soll. Beachte dabei, dass Kataloge nach einem Export nur 15 Tage gespeichert werden. Beziehe dies ein, wenn du einen Katalog mehr als einmal verwenden möchtest. Plane den <a href="/daten/daten-exportieren/kataloge-verwalten#260">Katalogexport</a> entsprechend regelmäßig in deinen Arbeitsablauf ein.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">1.5. Bestehenden Katalog um Auftragspositionen erweitern</h3>
<div class="paragraph">
<p>Wir haben nun einen ersten grundlegenden Katalog erstellt, der nutzbar ist. Nehmen wir an, du möchtest nun aber zusätzlich Auftragspositionsdaten exportieren.<br>
Du kannst Datenfelder und Filter eines bestehenden Katalogs einfach erweitern. Wenn du aber den ursprünglichen Katalog behalten und zusätzlich einen weiteren wie diesen nur mit mehr Datenfeldern haben möchtest, kannst du einen bestehenden Katalog kopieren und dann erweitern.</p>
</div>
<div class="paragraph">
<p><a href="/daten/daten-exportieren/kataloge-verwalten#190">Kopiere</a> also den eben erstellten Katalog, damit wir die Kopie für das Beispiel erweitern können.<br>
Überlege dir anschließend, welche Daten zu Auftragspositionen für dich relevant sind. Im Beispiel wollen wir die bestehenden Daten erst mal nur durch weitere wenige grundlegende Informationen ergänzen. Du kannst dies aber individuell ausweiten.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Varianten-ID = Um aufschlüsseln zu können, welche Artikel verkauft wurden.</p>
</li>
<li>
<p>Menge = Um aufschlüsseln zu können, welche Mengen welcher Artikel (wird durch Varianten-ID abgefragt) verkauft wurden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Füge also folgende Datenfelder hinzu:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Auftrag &gt; Positionen &gt; Varianten-ID</strong></p>
</li>
<li>
<p><strong>Auftrag &gt; Positionen &gt; Menge</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Ändere bei Bedarf die <a href="/daten/daten-exportieren/kataloge-verwalten#165">Reihenfolge der Datenfelder</a>. Zudem kannst du auch die <a href="/daten/daten-exportieren/kataloge-verwalten#162">Export Keys</a> anpassen. Speichere (<span class="icon "><i class="material-save"></i></span>) danach den Katalog.</p>
</div>
<div class="paragraph">
<p>Passe als nächsten Schritt die Filter an. Der Zeitraum, die letzten 14 Tage und damit der Filter <strong>Eingangsdatum</strong>, bleibt bestehen.<br>
Nehmen wir nun an, du hast vor Kurzem deine Verkaufskanäle erweitert und möchtest nun schauen, wie der neue Kanal sich so macht. Dann füge zusätzlich den Filter <strong>Auftragsherkunft</strong> hinzu und wähle dann die entsprechende Auftragsherkunft. Dadurch werden nur die gewählten Auftragsdaten der Aufträge der letzten 14 Tage mit dieser Auftragsherkunft exportiert.<br>
Auch die Filter kannst du individuell anpassen und noch weitere hinzufügen, wenn du die Ergebnisse weiter eingrenzen möchtest. Speichere (<span class="icon "><i class="material-save"></i></span>) den Katalog, wenn du die Filtereinstellungen angepasst hast.</p>
</div>
<div class="paragraph">
<p>Hast du alle Änderungen in den Katalog eingepflegt und ihn gespeichert, kannst du mithilfe der <a href="/daten/daten-exportieren/kataloge-verwalten#255">Vorschau</a> wieder überprüfen, ob alles passt. Nach Überprüfung der Einstellungen kann der <a href="/daten/daten-exportieren/kataloge-verwalten#260">Katalog exportiert</a> werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Gruppierung mit Auftragspositionen</div>
<div class="paragraph">
<p>In einem Export ohne Auftragspositionen werden die Daten nach Auftrag gruppiert, in einer CSV-Datei also z.B. eine Zeile pro Auftrag. Werden auch Auftragspositionen exportiert, erfolgt die Gruppierung nach Auftragsposition, in einer CSV-Datei also z.B. eine Zeile pro Auftragsposition.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Praxisbeispiel: Erweiterter Katalog Auftragsdaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach der Erstellung eines ersten, einfachen Katalogs erstellen wir im zweiten Beispiel nun einen weiteren Katalog, der einige komplexere Datenfelder und Verknüpfungen beinhaltet. Dabei ist die Vorgehensweise jedoch die gleiche, da sich die Erstellung und Bearbeitung von Katalogen nicht unterscheidet.</p>
</div>
<div class="paragraph">
<p>Angenommen, du möchtest die Aufträge von heute exportieren, für die der Warenausgang gebucht wurde. Relevant sind für dich hier vor allem bestimmte Lieferländer und auch nur ausgewählte Auftragsherkünfte, da du nicht alle Daten zusammen in einem Katalog exportieren möchtest. Zudem brauchst du umfassende Auftragsdaten, die du innerhalb des Katalogs schon gruppieren möchtest, um die Daten vor dem Export optimal aufzubereiten.</p>
</div>
<div class="sect2">
<h3 id="220">2.1. 1. Schritt: Welche Auftragsdaten brauche ich?</h3>
<div class="paragraph">
<p>Überlege auf dieser Grundlage, welche Auftragsdaten für dich wichtig sind. Gehen wir davon aus, dass die folgenden Auftragsdaten in einem Katalog zusammengestellt werden sollen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Auftragsbeträge</p>
</li>
<li>
<p>Lager</p>
</li>
<li>
<p>Zahlungsart</p>
</li>
<li>
<p>Auftragspositionen</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
<li>
<p>Dokumente</p>
</li>
<li>
<p>Käufer:in</p>
</li>
<li>
<p>Lieferadresse</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Liste lässt sich individuell anpassen und erweitern. Entscheide auch, welche Kombinationen von Informationen für dich relevant sind. Vielleicht ist es auch sinnvoll Daten zu gruppieren und in mehreren Katalogen anzulegen.</p>
</div>
</div>
<div class="sect2">
<h3 id="240">2.2. 2. Schritt: Entsprechende Datenfelder hinzufügen</h3>
<div class="paragraph">
<p>Füge die folgenden <a href="/daten/daten-exportieren/kataloge-verwalten#160">Datenfelder</a> hinzu, um die aufgelisteten Daten in einem Katalog zusammenzustellen. Du fügst ein Datenfeld hinzu, indem du daneben auf <strong>Hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>) klickst.<br>
Du kannst Datenfelder miteinander verknüpfen (<span class="icon "><i class="material-link"></i></span>), so dass sie beim Export zusammen ausgegeben werden, zum Beispiel in einer Spalte einer CSV-Datei. Bei einigen Daten ist das sinnvoll, zum Beispiel bei Vor- und Nachname des Kontakts. Entscheide individuell, welche Verknüpfungen für dich sinnvoll sind.<br>
Speichere (<span class="icon "><i class="material-save"></i></span>) den Katalog nachdem du die Datenfelder hinzugefügt hast.</p>
</div>
<div class="ulist">
<div class="title">Datenfelder:</div>
<ul>
<li>
<p><strong>Auftrag &gt; Auftrags-ID</strong></p>
</li>
<li>
<p><strong>Auftrag &gt; Beträge &gt; Nettobetrag</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
<li>
<p><strong>Auftrag &gt; Beträge &gt; Bruttobetrag</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
<li>
<p><strong>Auftrag &gt; Beträge &gt; MwSt. gesamt</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
<li>
<p><strong>Auftrag &gt; Beträge &gt; Nettoversandkosten</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
<li>
<p><strong>Auftrag &gt; Beträge &gt; Bruttoversandkosten</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
<li>
<p><strong>Variante &gt; Hauptlager</strong></p>
</li>
<li>
<p><strong>Auftrag &gt; Eigenschaft</strong><br>
Wähle nach Hinzufügen des Datenfelds <strong>Zahlungsart</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Auftrag &gt; Positionen &gt; Varianten-ID</strong></p>
</li>
<li>
<p><strong>Auftrag &gt; Positionen &gt; Menge</strong></p>
</li>
<li>
<p><strong>Auftrag &gt; Positionen &gt; Steuersatz (A, B, C usw.)</strong> verknüpfen mit <strong>Auftrag &gt; Positionen &gt; Steuersatz in %</strong><br>
So wird dir der Steuersatz in % mit der Zuordnung A, B, usw. zusammen ausgegeben.</p>
</li>
<li>
<p><strong>Versanddienstleister &gt; ID</strong><br>
Hier wird im Export die ID ausgegeben, die im System im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versanddiensteleister</strong> vergeben wird.</p>
</li>
<li>
<p><strong>Versanddienstleister &gt; Versanddienstleister-ID</strong><br>
Hier wird im Export die <a href="/daten/interne-IDs#versanddienstleister">ID des Versanddienstleisters</a> ausgegeben, z.B. 2 als ID für DHL, 3 für DPD und 4 für die Deutsche Post.</p>
</li>
<li>
<p><strong>Dokumente &gt; Dokumenttyp</strong><br>
Wähle nach Hinzufügen des Datenfelds den Dokumenttyp. Ausgegeben werden immer die Daten für das aktuelle Dokument.</p>
</li>
<li>
<p><strong>Dokumente &gt; Benutzer-ID</strong><br>
Hier wird die ID der Benutzer:in angegeben, die das Dokument erstellt hat. Wähle außerdem nach Hinzufügen des Datenfelds den Dokumenttyp. Ausgegeben werden immer die Daten für das aktuelle Dokument.</p>
</li>
<li>
<p><strong>Kontakt &gt; Kontakt-ID</strong> verknüpfen mit <strong>Kontakt &gt; Vorname</strong> verknüpfen mit <strong>Kontakt &gt; Nachname</strong><br>
Durch die Verknüpfung werden dir diese drei Angaben zusammen ausgegeben. Beachte, dass bei Gastbestellungen keine Informationen exportiert werden.</p>
</li>
<li>
<p><strong>Adressen &gt; Adress-ID</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, um welche Adresse es sich handelt.</p>
</li>
<li>
<p><strong>Adresse &gt; Postleitzahl</strong></p>
</li>
<li>
<p><strong>Adresse &gt; Postleitzahl</strong><br>
Warum zweimal? Du kannst Datenfelder mehrfach hinzufügen und dann eine unterschiedliche Auswahl für das Datenfeld treffen. In diesem Fall einmal für die <strong>Rechnungsadresse</strong> und einmal für die <strong>Lieferadresse</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Übernimmst du die <a href="/daten/daten-exportieren/kataloge-verwalten#165">Reihenfolge der Datenfelder</a> wie in der Auflistung vorgegeben, werden die Daten auch in dieser Reihenfolge exportiert. Überlege daher vor dem Export, welche Reihenfolge sinnvoll ist. So sind hier zum Beispiel Auftragsbeträge hintereinander aufgeführt. Du könntest aber z.B. Steuerinformationen auch noch dazu ordnen.</p>
</div>
<div class="paragraph">
<p>Zudem kannst du auch die <a href="/daten/daten-exportieren/kataloge-verwalten#162">Export Keys</a> anpassen. Das empfiehlt sich besonders, wenn du Datenfelder miteinander verknüpfst. Oder wenn du das gleiche Datenfeld zweimal hinzufügst, aber dann eine unterschiedliche Auswahl triffst. Verknüpfst du beispielsweise die Postleitzahlen der Liefer- und Rechnungsadresse nicht miteinander, sondern fügst sie als zwei individuelle Datenfelder hinzu, erhalten sie den gleichen Export Key. Passe in diesem Fall den Export Key an, damit er aussagekräftiger ist, beispielsweise <em>address.postalCodeDelivery</em> und <em>address.postalCodeInvoice</em>.</p>
</div>
<div class="paragraph">
<p>Die Verknüpfungen sind alle optional. Du kannst weitere Datenfelder hinzufügen, weitere Verknüpfungen hinzufügen oder löschen und so den Katalog individuell auf deine Bedürfnisse anpassen. Achte beim Verknüpfen von Datenfeldern auf die Reihenfolge der hinzugefügten Datenfelder. Wähle über die Einstellungen (<span class="icon "><i class="material-settings"></i></span>) in der Datenzeile außerdem ein <strong>Trennzeichen</strong>, damit die verknüpften Daten beim Export korrekt angezeigt werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="260">2.3. 3. Schritt: Eingrenzung durch Filter</h3>
<div class="paragraph">
<p>Überlege, welche Aufträge exportiert werden sollen und wie sich die Ergebnisse sinnvoll eingrenzen lassen. Dies empfiehlt sich allein schon, weil sonst sehr große Datenmengen entstehen und evtl. auch Daten im Export enthalten sind, die gar nicht benötigt werden.</p>
</div>
<div class="paragraph">
<p>Das Beispiel gibt einige Einschränkungen vor: Aufträge von heute, gebuchter Warenausgang, Lieferländer und Auftragsherkünfte. Füge dementsprechend folgende Filter hinzu:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Erstellungsdatum</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann <strong>Heute</strong> aus der Dropdown-Liste. Somit werden nur die Aufträge von heute exportiert.</p>
</li>
<li>
<p><strong>Auftragsstatus</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann den oder die Auftragsstatus, die du für den Warenausgang nutzt. Standardmäßig ist dies <strong>7 | Warenausgang gebucht</strong>.<br>
Entscheide zudem, ob du die zu Lieferaufträgen gehörenden Hauptaufträge auch exportieren möchtest oder nur die Lieferaufträge. Möchtest du alle exportieren, wähle <strong>Nein</strong> für fir Option <strong>Hauptaufträge ausschließen, wenn Lieferaufträge existieren</strong>. Möchtest du nur die Lieferaufträge exportieren, dann wähle <strong>Ja</strong>.</p>
</li>
<li>
<p><strong>Lieferland</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann das oder die Lieferländer, die für dich relevant sind. Angezeigt werden alle Lieferländer, nicht nur deine aktiven.</p>
</li>
<li>
<p><strong>Auftragsherkunft</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann die Auftragsherkunft oder -herkünfte, die für dich relevant sind.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Auch die Filter lassen sich individuell erweitern. Durch Hinzufügen von weiteren Filtern werden die Ergebnisse eingegrenzt.<br>
Speichere (<span class="icon "><i class="material-save"></i></span>) den Katalog nach Setzen der Filter erneut.</p>
</div>
</div>
<div class="sect2">
<h3 id="280">2.4. 4. Schritt: Katalog exportieren</h3>
<div class="paragraph">
<p>Nachdem du alle Einstellungen vorgenommen sowie Datenfelder und Filter gesetzt hast, kann der Katalog exportiert werden. Vorher kannst du aber die <a href="/daten/daten-exportieren/kataloge-verwalten#255">Vorschau</a> nutzen, um deine Einstellungen zu überprüfen.</p>
</div>
<div class="paragraph">
<p>Wirf in diesem Zug auch noch mal einen Blick auf die <a href="/daten/daten-exportieren/kataloge-verwalten#150">Exporteinstellungen</a> deines Katalogs. Du kannst hier im Feld <strong>Übertragung</strong> wählen, wann der Export gestartet werden soll, beispielsweise <strong>Täglich</strong>. Oder wähle über <strong>Zeitplan</strong> eine konkrete Uhrzeit, beispielsweise <strong>23:40 bis 00:00</strong> Uhr.<br>
Beachte generell, dass Kataloge nach einem Export nur 15 Tage gespeichert werden. Beziehe dies ein, wenn du einen Katalog mehr als einmal verwenden möchtest. Plane den <a href="/daten/daten-exportieren/kataloge-verwalten#260">Katalogexport</a> entsprechend regelmäßig in deinen Arbeitsablauf ein.</p>
</div>
</div>
</div>
</div>
</main>