<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Praxisbeispiel: Erster Katalog für Nachbestellungen</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>1.1.</span><span> 1. Schritt: Welche Daten brauche ich?</span></a></li>
<li><a href="#90"><span>1.2.</span><span> 2. Schritt: Entsprechende Datenfelder hinzufügen</span></a></li>
<li><a href="#110"><span>1.3.</span><span> 3. Schritt: Eingrenzung durch Filter</span></a></li>
<li><a href="#130"><span>1.4.</span><span> 4. Schritt: Katalog exportieren</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Praxisbeispiel: Erster Katalog für Umbuchungen</span></a>
<ul class="sectlevel2">
<li><a href="#250"><span>2.1.</span><span> 1. Schritt: Welche Daten brauche ich?</span></a></li>
<li><a href="#220"><span>2.2.</span><span> 2. Schritt: Entsprechende Datenfelder hinzufügen</span></a></li>
<li><a href="#240"><span>2.3.</span><span> 3. Schritt: Eingrenzung durch Filter</span></a></li>
<li><a href="#260"><span>2.4.</span><span> 4. Schritt: Katalog exportieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Praxisbeipiele Kataloge für Bestellungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite führt Praxisbeispiele zum Erstellen eines Katalogs für den Export von Nachbestellungen und Umbuchungen sowie deren Auftragspositionen auf. Solltest du noch nicht vertraut sein mit den Katalogen, informiere dich zuerst auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge verwalten</a>. Dort erhältst du alle Informationen, die du zum generellen Erstellen und Verwalten von Katalogen brauchst.</p>
</div>
<div class="paragraph">
<p>Das Katalogformat Bestellung umfasst alle Datenfelder für Nachbestellungen und Umbuchungen, Auftragspositionsdaten inbegriffen. Je nach Arbeitsablauf kannst du dir also entweder getrennte Kataloge für den Export der jeweiligen Daten anlegen oder die Daten in einem großen Katalog zusammenstellen und exportieren. Das Limit für den Export von Datensätzen liegt bei 60000.<br>
Du hast mit den Katalogen viele Gestaltungs- und Nutzungsmöglichkeiten. Überlege daher zuerst generell, wofür du die exportierten Daten nutzen möchtest und dann welche Daten du dafür benötigst und welche Zusammenstellung in Katalogen für dich sinnvoll ist. Du kannst zum Beispiel einen Katalog erstellen, um Daten statistisch auszuwerten oder einen Katalog, in dem du alle Daten für die Verwaltung von Nachbestellungen zusammenfasst. Du entscheidest, wie die Kataloge aufgebaut sein sollen.</p>
</div>
<div class="paragraph">
<p>Im Folgenden geben wir Beispiele für Kataloge für den Export von Nachbestellungs- und Umbuchungsdaten. Die Beispiele zeigen Möglichkeiten auf, wie der Export dieser Daten mit dem Katalog gestaltet werden kann. Du kannst bei Bedarf die Beispiele als Unterstützung für die Erstellung deiner Kataloge nutzen, bist aber in der Gestaltung deiner Kataloge frei.</p>
</div>
<div class="paragraph">
<p>Wähle die folgenden <a href="/daten/daten-exportieren/kataloge-verwalten#130">Grundeinstellungen</a>, wenn du einen neuen Katalog für den Export von Bestellungen erstellen möchtest:</p>
</div>
<table id="table-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen Katalog für den Export von Bestellungen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardformat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestellung</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">1. Praxisbeispiel: Erster Katalog für Nachbestellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Angenommen, du möchtest zur Auswertung einige grundlegende Daten von Nachbestellungen, die im Laufe des letzten Monats abgeschlossen wurden, exportieren. Dann gehe wie auf dieser Seite beschrieben vor.</p>
</div>
<div class="sect2">
<h3 id="70">1.1. 1. Schritt: Welche Daten brauche ich?</h3>
<div class="paragraph">
<p>Überlege, welche Nachbestellungsdaten für dich relevant sind. Gehen wir davon aus, dass du erst mal nur die folgenden Daten zur Auswertung brauchst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID der Nachbestellung: Damit die Daten später noch zuzuordnen sind und ggf. auch erweitert werden können.</p>
</li>
<li>
<p>Beträge: Um z.B. eine Aufstellung der Ausgaben machen zu können.</p>
</li>
<li>
<p>Lieferant:in: Für eine Übersicht der Lieferant:innen.</p>
</li>
<li>
<p>Varianten-ID: Um aufschlüsseln zu können, welche Artikel nachgefragt sind.</p>
</li>
<li>
<p>Menge: Um aufschlüsseln zu können, welche Mengen welcher Artikel (wird durch Varianten-ID abgefragt) verkauft wurden.</p>
</li>
<li>
<p>Preise: Um z.B. Preise vergleichen zu können.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Liste lässt sich individuell anpassen und erweitern. Entscheide auch, welche Kombinationen von Informationen für dich relevant sind. Vielleicht ist es auch sinnvoll Daten zu gruppieren und in mehreren Katalogen anzulegen.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">1.2. 2. Schritt: Entsprechende Datenfelder hinzufügen</h3>
<div class="paragraph">
<p>Füge die folgenden <a href="/daten/daten-exportieren/kataloge-verwalten#160">Datenfelder</a> hinzu, um die aufgelisteten Daten in einem Katalog zusammenzustellen. Du fügst ein Datenfeld hinzu, indem du daneben auf <strong>Hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>) klickst.<br>
Du kannst Datenfelder miteinander verknüpfen (<span class="icon "><i class="material-link"></i></span>), so dass sie beim Export zusammen ausgegeben werden, zum Beispiel in einer Spalte einer CSV-Datei. Entscheide individuell, welche Verknüpfungen für dich sinnvoll sind.<br>
Speichere (<span class="icon "><i class="material-save"></i></span>) den Katalog nachdem du die Datenfelder hinzugefügt hast.</p>
</div>
<div class="ulist">
<div class="title">Datenfelder:</div>
<ul>
<li>
<p><strong>Bestellung &gt; Bestellungseigenschaft</strong><br>
Wähle nach dem Hinzufügen des Datenfelds eine Bestelleigenschaft aus. In diesem Zusammenhang z.B. <strong>Externe Auftrags-ID</strong>.</p>
</li>
<li>
<p><strong>Bestellung &gt; Bestellsumme &gt; Nettobetrag</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
<li>
<p><strong>Lieferant &gt; Kontakt-ID</strong> verknüpfen mit <strong>Lieferant &gt; Nachname</strong> verknüpfen mit <strong>Lieferant &gt; Vorname</strong><br>
So wird dir die ID zusammen mit dem Namen der Lieferant:in ausgegeben.</p>
</li>
<li>
<p><strong>Adressen &gt; Adress-ID</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, welche Adress-ID exportiert werden soll. In diesem Zusammenhang kannst du z.B. <strong>Adresse des Lieferanten</strong> wählen.</p>
</li>
<li>
<p><strong>Bestellung &gt; Bestellpositionen &gt; Varianten-ID</strong></p>
</li>
<li>
<p><strong>Bestellung &gt; Bestellpositionen &gt; Menge</strong></p>
</li>
<li>
<p><strong>Bestellung &gt; Bestellpositionen &gt; Positionsbeträge &gt; Originalpreis netto</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
<li>
<p><strong>Bestellung &gt; Bestellpositionen &gt; Preis netto</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, in welcher Währung der Betrag exportiert werden soll.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Struktur der Datenfelder</div>
<div class="paragraph">
<p>Die Datenfelder (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) sind thematisch in Ordnern gruppiert. In der ersten Ebene siehst du die Hauptordner. Wenn du einen Ordner öffnest werden Datenfelder und weitere Unterordner aufgelistet. Auch die Unterordner kannst du öffnen, um dir weitere Datenfelder anzeigen zu lassen.<br>
Beachte außerdem, dass du für manche Datenfelder nach dem Hinzufügen eine zusätzliche Auswahl treffen kannst. Dies siehst du jeweils am hinzugefügten Datenfeld. Triffst du keine Auswahl, werden auch keine Informationen exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Übernimmst du die <a href="/daten/daten-exportieren/kataloge-verwalten#165">Reihenfolge der Datenfelder</a> wie in der Auflistung vorgegeben, werden die Daten auch in dieser Reihenfolge exportiert. Überlege daher vor dem Export, welche Reihenfolge sinnvoll ist. So sind hier zum Beispiel die Bestellsumme und die Preise nicht hintereinander aufgeführt. Du könntest sie aber z.B. auch zusammen anordnen.</p>
</div>
<div class="paragraph">
<p>Zudem kannst du auch die <a href="/daten/daten-exportieren/kataloge-verwalten#162">Export Keys</a> anpassen. Das empfiehlt sich besonders, wenn du Datenfelder miteinander verknüpfst. Oder wenn du das gleiche Datenfeld zweimal hinzufügst, aber dann eine unterschiedliche Auswahl triffst. Über das Datenfeld <strong>Adresse &gt; Adress-ID</strong> z.B. kannst du drei verschiedene IDs wählen. Passe in diesem Fall den Export Key an, damit er aussagekräftiger ist.</p>
</div>
<div class="paragraph">
<p>Die Verknüpfungen sind alle optional. Du kannst weitere Datenfelder hinzufügen, weitere Verknüpfungen hinzufügen oder löschen und so den Katalog individuell auf deine Bedürfnisse anpassen. Achte beim Verknüpfen von Datenfeldern auf die Reihenfolge der hinzugefügten Datenfelder. Wähle über die Einstellungen (<span class="icon "><i class="material-settings"></i></span>) in der Datenzeile außerdem ein <strong>Trennzeichen</strong>, damit die verknüpften Daten beim Export korrekt angezeigt werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="110">1.3. 3. Schritt: Eingrenzung durch Filter</h3>
<div class="paragraph">
<p>Überlege, welche Nachbestellungen exportiert werden sollen und wie sich die Ergebnisse sinnvoll eingrenzen lassen. Dies empfiehlt sich allein schon, weil sonst sehr große Datenmengen entstehen und evtl. auch Daten im Export enthalten sind, die gar nicht benötigt werden.</p>
</div>
<div class="paragraph">
<p>Für das Beispiel wollen wir die Daten von abgeschlossenen Nachbestellungen des letzten Monats haben, wir brauchen also mindestens diese Filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Auftragstypen</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann <strong>Nachbestellung</strong>.</p>
</li>
<li>
<p><strong>Abschlussdatum</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann <strong>Zeitraum</strong> aus der Dropdown-Liste. Wähle mit der Datumsanzeige den gewünschten Zeitraum aus.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Auch die Filter lassen sich individuell erweitern. Geht es dir zum Beispiel nur um Nachbestellungen, die in ein bestimmtes Lager geliefert werden, kannst du zusätzlich den Filter <strong>Empfängerlager</strong> und aus der Dropdown-Liste dann das entsprechende wählen. Durch Hinzufügen von weiteren Filtern werden die Ergebnisse eingegrenzt.<br>
Speichere (<span class="icon "><i class="material-save"></i></span>) den Katalog nach Setzen der Filter erneut.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Auswahl von Umbuchung oder Nachbestellung</div>
<div class="paragraph">
<p>Du legst über den Filter <strong>Auftragstyp</strong> fest, ob du Daten zu Nachbestellungen oder Umbuchungen exportieren möchtest. Du kannst auch Nachbestellungs- und Umbuchungsdaten gleichzeitig exportieren. Wähle im Filter dann entsprechend beide Auftragstypen.<br>
Beachte, dass dir unabhängig von der Auswahl im Filter <strong>Auftragstyp</strong> immer alle Datenfelder zur Verfügung stehen. Es greifen aber nicht alle Datenfelder für beide Auftragstypen. Zum Beispiel gibt es für Nachbestellungen kein Senderlager. Wählst du dennoch ein entsprechendes Datenfeld, wird dafür in der Exportdatei kein Wert ausgegeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="130">1.4. 4. Schritt: Katalog exportieren</h3>
<div class="paragraph">
<p>Nachdem du alle Einstellungen vorgenommen sowie Datenfelder und Filter gesetzt hast, kann der Katalog exportiert werden. Vorher kannst du aber die <a href="/daten/daten-exportieren/kataloge-verwalten#255">Vorschau</a> nutzen, um deine Einstellungen zu überprüfen.</p>
</div>
<div class="paragraph">
<p>Wirf in diesem Zug auch noch mal einen Blick auf die <a href="/daten/daten-exportieren/kataloge-verwalten#150">Exporteinstellungen</a> deines Katalogs. Du kannst hier im Feld <strong>Übertragung</strong> wählen, wann der Export gestartet werden soll, beispielsweise <strong>Täglich</strong>. Oder wähle über <strong>Zeitplan</strong> eine konkrete Uhrzeit, beispielsweise <strong>23:40 bis 00:00</strong> Uhr.<br>
Beachte dabei, dass Kataloge nach einem Export nur 15 Tage gespeichert werden. Beziehe dies ein, wenn du einen Katalog mehr als einmal verwenden möchtest. Plane den <a href="/daten/daten-exportieren/kataloge-verwalten#260">Katalogexport</a> entsprechend regelmäßig in deinen Arbeitsablauf ein.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Praxisbeispiel: Erster Katalog für Umbuchungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Angenommen, du möchtest zur Auswertung einige grundlegende Daten von Umbuchungen, die in den letzten 7 Tagen in ein bestimmtes Senderlager gebucht wurden, exportieren. Dann gehe wie auf dieser Seite beschrieben vor.</p>
</div>
<div class="sect2">
<h3 id="250">2.1. 1. Schritt: Welche Daten brauche ich?</h3>
<div class="paragraph">
<p>Überlege, welche Umbuchungsdaten für dich relevant sind. Gehen wir davon aus, dass du erst mal nur die folgenden Daten zur Auswertung brauchst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eigner: Für eine Aufstellung, von wem die Umbuchung angelegt wurde.</p>
</li>
<li>
<p>Bestellungsdatum: Um zu sehen, welche Umbuchung schon ausgelöst wurde und wann.</p>
</li>
<li>
<p>Lager: Für eine Aufstellung, in welches Lager ein- und ausgebucht wurde.</p>
</li>
<li>
<p>Warenbewegungen: Für eine Übersicht der Warenbewegungen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Liste lässt sich individuell anpassen und erweitern. Entscheide auch, welche Kombinationen von Informationen für dich relevant sind. Vielleicht ist es auch sinnvoll Daten zu gruppieren und in mehreren Katalogen anzulegen.</p>
</div>
</div>
<div class="sect2">
<h3 id="220">2.2. 2. Schritt: Entsprechende Datenfelder hinzufügen</h3>
<div class="paragraph">
<p>Füge die folgenden <a href="/daten/daten-exportieren/kataloge-verwalten#160">Datenfelder</a> hinzu, um die aufgelisteten Daten in einem Katalog zusammenzustellen. Du fügst ein Datenfeld hinzu, indem du daneben auf <strong>Hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>) klickst.<br>
Du kannst Datenfelder miteinander verknüpfen (<span class="icon "><i class="material-link"></i></span>), so dass sie beim Export zusammen ausgegeben werden, zum Beispiel in einer Spalte einer CSV-Datei. Entscheide individuell, welche Verknüpfungen für dich sinnvoll sind.<br>
Speichere (<span class="icon "><i class="material-save"></i></span>) den Katalog nachdem du die Datenfelder hinzugefügt hast.</p>
</div>
<div class="ulist">
<div class="title">Datenfelder:</div>
<ul>
<li>
<p><strong>Bestellung &gt; Eigner-ID</strong></p>
</li>
<li>
<p><strong>Bestellung &gt; Bestellungsdatum</strong><br>
Wähle nach dem Hinzufügen des Datenfelds, welches Datum exportiert werden soll. In diesem Zusammenhang kannst du z.B. <strong>Bestelldatum</strong> wählen.</p>
</li>
<li>
<p><strong>Lager &gt; Lager-ID</strong> verknüpfen mit <strong>Lager &gt; Typ-ID</strong><br>
Wähle nach dem Hinzufügen des zweiten Datenfelds <strong>Empfängerlager</strong> aus. So wird dir die ID zusammen mit dem Lager ausgegeben.</p>
</li>
<li>
<p><strong>Warenbewegungen &gt; Menge eingehend</strong></p>
</li>
<li>
<p><strong>Warenbewegungen &gt; Menge ausgehend</strong></p>
</li>
<li>
<p><strong>Warenbewegungen &gt; Menge eingehend storniert</strong></p>
</li>
<li>
<p><strong>Warenbewegungen &gt; Menge ausgehend storniert</strong></p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Struktur der Datenfelder</div>
<div class="paragraph">
<p>Die Datenfelder (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) sind thematisch in Ordnern gruppiert. In der ersten Ebene siehst du die Hauptordner. Wenn du einen Ordner öffnest werden Datenfelder und weitere Unterordner aufgelistet. Auch die Unterordner kannst du öffnen, um dir weitere Datenfelder anzeigen zu lassen.<br>
Beachte außerdem, dass du für manche Datenfelder nach dem Hinzufügen eine zusätzliche Auswahl treffen kannst. Dies siehst du jeweils am hinzugefügten Datenfeld. Triffst du keine Auswahl, werden auch keine Informationen exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Übernimmst du die <a href="/daten/daten-exportieren/kataloge-verwalten#165">Reihenfolge der Datenfelder</a> wie in der Auflistung vorgegeben, werden die Daten auch in dieser Reihenfolge exportiert. Überlege daher vor dem Export, welche Reihenfolge sinnvoll ist. So sind hier zum Beispiel die Mengen nicht nach eingehend und ausgehend sortiert, du könntest diese aber auch zusammen anordnen.</p>
</div>
<div class="paragraph">
<p>Zudem kannst du auch die <a href="/daten/daten-exportieren/kataloge-verwalten#162">Export Keys</a> anpassen. Das empfiehlt sich besonders, wenn du Datenfelder miteinander verknüpfst. Oder wenn du das gleiche Datenfeld zweimal hinzufügst, aber dann eine unterschiedliche Auswahl triffst, z.B. für das Feld <strong>Lager &gt; Typ-ID</strong>. Passe in diesem Fall den Export Key an, damit er aussagekräftiger ist.</p>
</div>
<div class="paragraph">
<p>Die Verknüpfungen sind alle optional. Du kannst weitere Datenfelder hinzufügen, weitere Verknüpfungen hinzufügen oder löschen und so den Katalog individuell auf deine Bedürfnisse anpassen. Achte beim Verknüpfen von Datenfeldern auf die Reihenfolge der hinzugefügten Datenfelder. Wähle über die Einstellungen (<span class="icon "><i class="material-settings"></i></span>) in der Datenzeile außerdem ein <strong>Trennzeichen</strong>, damit die verknüpften Daten beim Export korrekt angezeigt werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="240">2.3. 3. Schritt: Eingrenzung durch Filter</h3>
<div class="paragraph">
<p>Überlege, welche Umbuchungen exportiert werden sollen und wie sich die Ergebnisse sinnvoll eingrenzen lassen. Dies empfiehlt sich allein schon, weil sonst sehr große Datenmengen entstehen und evtl. auch Daten im Export enthalten sind, die gar nicht benötigt werden.</p>
</div>
<div class="paragraph">
<p>Für das Beispiel wollen wir die Daten von Umbuchungen der letzten 7 Tage in ein bestimmtes Senderlager haben, wir brauchen also mindestens diese Filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Auftragstyp</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann <strong>Umbuchung</strong>.</p>
</li>
<li>
<p><strong>Erstellungsdatum</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle dann <strong>Letzte</strong> aus der Dropdown-Liste. Gib die Anzahl der Tage, für das Beispiel 7, ein.</p>
</li>
<li>
<p><strong>Senderlager</strong><br>
Füge den Filter über <strong>Filter hinzufügen</strong> hinzu und wähle das gewünschte Lager aus.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Auch die Filter lassen sich individuell erweitern. Geht es dir zum Beispiel nur um Umbuchungen, die sich in einem bestimmtes Auftragsstatus befinden, kannst du zusätzlich den Filter <strong>Auftragsstatus</strong> und aus der Dropdown-Liste dann den oder die entsprechenden Status wählen. Durch Hinzufügen von weiteren Filtern werden die Ergebnisse eingegrenzt.<br>
Speichere (<span class="icon "><i class="material-save"></i></span>) den Katalog nach Setzen der Filter erneut.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Auswahl von Umbuchung oder Nachbestellung</div>
<div class="paragraph">
<p>Du legst über den Filter <strong>Auftragstyp</strong> fest, ob du Daten zu Nachbestellungen oder Umbuchungen exportieren möchtest. Du kannst auch Nachbestellungs- und Umbuchungsdaten gleichzeitig exportieren. Wähle im Filter dann entsprechend beide Auftragstypen.<br>
Beachte, dass dir unabhängig von der Auswahl im Filter <strong>Auftragstyp</strong> immer alle Datenfelder zur Verfügung stehen. Es greifen aber nicht alle Datenfelder für beide Auftragstypen. Zum Beispiel gibt es für Nachbestellungen kein Senderlager. Wählst du dennoch ein entsprechendes Datenfeld, wird dafür in der Exportdatei kein Wert ausgegeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="260">2.4. 4. Schritt: Katalog exportieren</h3>
<div class="paragraph">
<p>Nachdem du alle Einstellungen vorgenommen sowie Datenfelder und Filter gesetzt hast, kann der Katalog exportiert werden. Vorher kannst du aber die <a href="/daten/daten-exportieren/kataloge-verwalten#255">Vorschau</a> nutzen, um deine Einstellungen zu überprüfen.</p>
</div>
<div class="paragraph">
<p>Wirf in diesem Zug auch noch mal einen Blick auf die <a href="/daten/daten-exportieren/kataloge-verwalten#150">Exporteinstellungen</a> deines Katalogs. Du kannst hier im Feld <strong>Übertragung</strong> wählen, wann der Export gestartet werden soll, beispielsweise <strong>Täglich</strong>. Oder wähle über <strong>Zeitplan</strong> eine konkrete Uhrzeit, beispielsweise <strong>23:40 bis 00:00</strong> Uhr.<br>
Beachte dabei, dass Kataloge nach einem Export nur 15 Tage gespeichert werden. Beziehe dies ein, wenn du einen Katalog mehr als einmal verwenden möchtest. Plane den <a href="/daten/daten-exportieren/kataloge-verwalten#260">Katalogexport</a> entsprechend regelmäßig in deinen Arbeitsablauf ein.</p>
</div>
</div>
</div>
</div>
</main>