<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> Dein Vertrag mit plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>1.1.</span><span> Edition wechseln</span></a></li>
<li><a href="#40"><span>1.2.</span><span> Leistungen einsehen</span></a></li>
<li><a href="#50"><span>1.3.</span><span> Buchungen im Verrechnungskonto nachvollziehen</span></a></li>
<li><a href="#370"><span>1.4.</span><span> Praxisbeispiel: Einen zusätzlichen Webshop buchen</span></a></li>
</ul>
</li>
<li><a href="#440"><span>2.</span><span> Zertifizierten Agenturen Zugang zum System geben</span></a>
<ul class="sectlevel2">
<li><a href="#450"><span>2.1.</span><span> Zugriff gewähren</span></a></li>
<li><a href="#460"><span>2.2.</span><span> Zugriff entziehen</span></a></li>
</ul>
</li>
<li><a href="#470"><span>3.</span><span> Support-Hotline anrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dein Vertrag mit plentymarkets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong> findest du Informationen zu deinem plentymarkets System. Du kannst Änderungen an den hier gespeicherten Informationen selbst vornehmen.
In diesem Menü kannst du zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>deinen Vertrag mit plentymarkets einsehen und bearbeiten.</p>
</li>
<li>
<p>einen zusätzlichen Mandanten (Shop) buchen.</p>
</li>
<li>
<p>die Kontaktinformationen, die wir für dich gespeichert haben, ändern.</p>
</li>
<li>
<p>Partneragenturen Zugang zu deinem System ermöglichen.</p>
</li>
<li>
<p>unsere telefonische Support-Hotline kontaktieren.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. Dein Vertrag mit plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>plentymarkets Logo (Start) » Mein Konto » Verträge</strong> kannst du Informationen zu deinem Vertrag mit plentymarkets einsehen und bearbeiten.
Hier kannst du zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#30">zu einer anderen Edition wechseln</a></p>
</li>
<li>
<p><a href="#40">gebuchte Leistungen einsehen</a></p>
</li>
<li>
<p><a href="#50">Buchungen im Verrechnngskonto nachvollziehen</a></p>
</li>
<li>
<p><a href="/business-entscheidungen/rechtliches/dsgvo#500">DSGVO-relevante Dokumente einsehen</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Service-Center wurde aufgelöst</div>
<div class="paragraph">
<p>Vielleicht kannst du dich daran erinnern, deine Vertragsinformationen früher mal im Menü <strong>plentymarkets Logo (Start) » Service-Center</strong> eingesehen zu haben. Das Service-Center wurde aufgelöst.
Vertragsinformationen werden jetzt im Bereich "Mein Konto" verwaltet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">1.1. Edition wechseln</h3>
<div class="paragraph">
<p>plentymarkets wächst mit deinen Anforderungen.
Du entscheidest selbst, z.B. welche Module dein Unternehmen benötigt und wie viele Aufträge du ungefähr pro Monat mit plentymarkets abwickeln wirst.
Wir stellen dir dafür die nötige Systemleistung zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Im Bereich "Mein Konto" kannst du deinen plentymarkets Vertrag eigenständig im laufenden Betrieb anpassen.
Eine Anpassung des Vertrags ist zum Beispiel sinnvoll, wenn du mehr Aufträge generierst als im bestehenden Vertrag enthalten sind. Die Buchung einer höheren Anzahl an Aufträgen ist jederzeit möglich. Wenn du eine niedrigere Anzahl buchst, wird diese Änderung erst nach Ablauf der regulären Laufzeit deines aktuellen Vertrags wirksam.</p>
</div>
<div class="paragraph instruction">
<p>Vertrag ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Verträge</strong>.<br>
→ Informationen über deine laufenden Verträge werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Vertrag bearbeiten</strong>.<br>
→ Der Konfigurator wird eingeblendet.</p>
</li>
<li>
<p>Passe die Vertragsdetails wie gewünscht an.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">1.2. Leistungen einsehen</h3>
<div class="paragraph">
<p>Im Bereich "Mein Konto" siehst du alle in Rechnung gestellten Posten.</p>
</div>
<div class="paragraph instruction">
<p>Leistungen einsehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Verträge</strong>.<br>
→ Informationen über deine laufenden Verträge werden angezeigt.</p>
</li>
</ol>
</div>
<h4 id="_leistungen_kündigen" class="discrete">Leistungen kündigen</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Leistungen zu kündigen. Du kannst einzelne Module oder sogar deinen gesamten Vertrag mit plentymarkets kündigen.</p>
</div>
<div class="paragraph instruction">
<p>Leistungen kündigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Verträge</strong>.<br></p>
</li>
<li>
<p>Klappe die Vertragsinformationen auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).<br>
→ Klicke auf <span class="icon red"><i class="fa fa-ban  "></i></span> <span class="red">Vertrag kündigen</span> oben rechts, um eine Kündigung deines gesamten Vertrags in Auftrag zu geben.<br>
→ Klicke auf <span class="icon darkGrey"><i class="fa fa-trash  "></i></span> <strong>Jetzt kündigen</strong> neben einem bestimmten Modul, um nur diese spezifische Dienstleistung zu kündigen.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Vertragsende: Daten sichern</strong></div>
<div class="content">
<div class="paragraph">
<p>Vor Vertragsende oder Kündigung solltest du dir überlegen, welche Daten du auch über das Bestehen deines Systems hinaus benötigst. Denn deine Daten werden nicht automatisch gespeichert und sind auch nicht zu einem späteren Punkt einseh- oder abrufbar. Mit deiner Kündigung stimmst du zu, dass sämtliche Daten deines Systems vier bis sechs Wochen nach Vertragsende unwiderruflich gelöscht werden.<br>
Überlege daher zum Beispiel, welche steuerrelevanten Informationen du später noch brauchst und welche gesetzlichen Aufbewahrungspflichten du erfüllen musst. Im Folgenden geben wir dir einen Überblick über mögliche Datenexporte aus deinem plentymarkets System:</p>
</div>
<table id="table-end-of-contract-data-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Empfohlene Exporte bei Vertragsende</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Buchhaltungsdaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nutze den Spezialexport im Menü <strong>Daten » Spezialexport</strong>, um einen Export deiner Finanzbuchhaltung durchzuführen. Wähle dafür in diesem Menü die Art des Exports aus der Dropdown-Liste (z.B. <strong>Finanzbuchhaltung</strong>) und nimm die für dich passenden Einstellungen vor.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumente</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exportiere benötigte Dokumente über das Dokumentenarchiv. Gehe dazu ins Menü <strong>Aufträge » Dokumentenarchiv</strong> und wähle das Tab <strong>Export</strong>. Nimm die für dich passenden Einstellungen vor und exportiere alle relevanten Dokumente. Beachte sowohl bei der Auswahl der Dokumente als auch des Zeitraumes steuerrechtliche Vorgaben sowie gesetzliche Vorgaben zu Aufbewahrungszeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstelle im Menü <strong>Daten » Elastischer Export</strong> ein Exportformat für deinen <a href="#daten/daten-exportieren/FormatDesigner/format-typen/warenbestand">Warenbestand</a>. Wir empfehlen mindestens die Auswahl folgender Exportfelder:<br>
- Item.id = Artikel-ID<br>
- ItemDescription.name = Artikelname<br>
- Variation.name = Variantenname<br>
- Stock.averagePurchasePrice = Durchschnittlicher Einkaufspreis<br>
- Stock.stock.Physical = Physischer Bestand<br>
- Stock.stockNet = Nettobestand<br>
- Warehouse.name = Name des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenbewegungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstelle im Menü <strong>Daten » Elastischer Export</strong> ein Exportformat für deine <a href="#daten/daten-exportieren/FormatDesigner/format-typen/warenbewegungen">Warenbewegungen</a>. Wir empfehlen mindestens die Auswahl folgender Exportfelder:<br>
- StockMovements.id = Vorgangs-ID der Warenbewegung<br>
- StockMovements.itemid = Artikel-ID<br>
- Variation.id = Varianten-ID<br>
- StockMovements.attributeValues = Attributwerte<br>
- StockMovements.warehouseName = Name des Lagers, aus dem ein- oder ausgebucht wurde<br>
- StockMovements.reasonString = Name des Grundes der Warenbewegung<br>
- StockMovements.quantity = Anzahl des bewegten Warenbestands<br>
- User.user = Name der Benutzer:in, die die Warenbewegung gebucht hat<br>
- StockMovements.createdAt = Zeitstempel der Warenbewegung</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Diese Liste dient als Empfehlung und erhebt keinen Anspruch auf Vollständigkeit. Erstelle ggf. weitere Exporte für relevante Informationen und Daten und bespreche dich in Zweifelsfällen immer mit einer steuerlichen Berater:in.</p>
</div>
<div class="paragraph">
<p>Wende dich bei weiteren Fragen zum Vertrag an unser Sales-Team, entweder über das Forum, per E-Mail (<a href="mailto:sales@plentymarkets.com">sales@plentymarkets.com</a>) oder telefonisch (<strong>0561 98 681 010</strong>).</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="50">1.3. Buchungen im Verrechnungskonto nachvollziehen</h3>
<div class="paragraph">
<p>Hast du ein von der plentysystems AG angebotenes <a href="https://marketplace.plentymarkets.com/services/einrichtung" target="_blank" rel="noopener">Einrichtungsangebot</a> im plentyMarketplace erworben? Oder beinhaltet deine plentymarkets Edition ein gewisses Kontingent an kostenfreiem Support?
In diesen Fällen bietet dir das Verrechnungskonto eine Übersicht über die Beträge und Buchungen, die plentymarkets dir zum kommenden Rechnungsdatum in Rechnung stellen wird. So kannst du jederzeit unkompliziert einsehen, welche Transaktionen anfallen und wie hoch das aktuell verbleibende Guthaben aus den von dir erworbenen Angeboten ist.</p>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Buchungen im Verrechnungskonto nachzuvollziehen.</p>
</div>
<div class="paragraph instruction">
<p>Buchungen im Verrechnungskonto nachvollziehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-credit-card-alt  "></i></span> <strong>Verrechnungskonto</strong>.<br>
→ Das Verrechnungskonto wird angezeigt.<br>
<strong><em>Hinweis:</em></strong> Das Verrechnungskonto wird nur angezeigt, wenn einer der <a href="#50">oben genannten Fälle</a> auf dich zutrifft. Andernfalls wird dir standardmäßig ein Hinweis angezeigt, der besagt, dass kein Verrechnungskonto zur Verfügung steht.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das Verrechnungskonto besteht aus zwei Bereichen. Der Bereich <strong>Buchungen</strong> zeigt dir die aktuellen Buchungen des laufenden Abrechnungszeitraums an. Im Bereich <strong>Verrechnete Buchungen</strong> findest du Buchungen, die zu früheren Zeitpunkten stattgefunden haben und bereits mit deinem Guthaben verrechnet wurden.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Was bedeuten die Einträge im Verrechnungskonto im Detail?</strong></div>
<div class="content">
<table id="tabelle-eintraege-verrechnungskonto" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Information</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock">Bereich <strong>Buchungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum der Buchung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unterkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuell steht das Unterkonto vom Typ <strong>Support</strong> zur Verfügung. Künftig werden weitere Unterkonten hinzugefügt, sodass auch andere Verbrauchsarten aufgeschlüsselt dargestellt werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referenz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Feld gibt Aufschluss darüber, für welche Leistung und an welchem Datum eine Gutschrift oder eine Negativbuchung auf dem Verrechnungskonto vorgenommen wurde. In manchen plentymarkets Editionen sind Supportleistungen monatlich inbegriffen. Für diese Gutschriften wird als Datumsbereich der reguläre einmonatige Abrechnungszeitraum angegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Betrag der Buchung. Positive, also Haben-Buchungen werden in grün, Soll-Buchungen in rot dargestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock">Bereich <strong>Verrechnete Buchungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Dieser Bereich enthält Buchungen, die länger zurück liegen und bereits verrechnet wurden. Das Ergebnis, also der Saldo dieser Verrechnung wird anschließend als separater Eintrag vom Typ "Übertrag" in den Bereich <strong>Buchungen</strong> übernommen. Im Bereich <strong>Verrechnete Buchungen</strong> kannst du somit Einblick in vergangene Buchung nehmen und diese genauer nachvollziehen. Die detaillierten Informationen zu den einzelnen Buchungen werden im selben Umfang wie im Bereich <strong>Buchungen</strong> aufgeführt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Weitere Funktionalitäten in Planung</div>
<div class="paragraph">
<p>Unser Ziel ist es, dir im Verrechnungskonto jederzeit einen aktuellen und transparenten Einblick in deine Buchungen zu ermöglichen. Dazu werden wir in naher Zukunft nach und nach weitere Funktionen einbauen und Informationen differenzierter darstellen. Soll-Buchungen werden zum Beispiel künftig tagesaktuell am Datum, an dem die Leistung erbracht wurde, aufgeführt und nicht erst kurz vor Ende des aktuellen Abrechnungszeitraums. Abonniere unseren <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Changelog</a>, um über alle Neuerungen auf dem Laufenden zu bleiben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="370">1.4. Praxisbeispiel: Einen zusätzlichen Webshop buchen</h3>
<div class="paragraph">
<p><a href="/webshop">Mandanten (Shops)</a> sind weitere Webshops, die über den zugeordneten Hauptshop in deinem plentymarkets System konfigurierbar sind.
Im Bereich "Mein Konto" werden die vorhandenen Webshops angezeigt. Du kannst bei Bedarf zusätzliche Webshops buchen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Domain-Einstellungen von Mandanten (Shops)</div>
<div class="paragraph">
<p>Um einen Mandanten (Shop) zu bestellen, benötigst du eine <a href="/business-entscheidungen/systemadministration/domains">Domain</a>. Diese Domain musst du vorher für das Hauptsystem erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mandanten (Shop) bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-file-text  "></i></span> <strong>Verträge</strong>.<br>
→ Informationen über deine laufenden Verträge werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Vertrag bearbeiten</strong>.<br>
→ Der Konfigurator wird eingeblendet.</p>
</li>
<li>
<p>Passe die Vertragsdetails wie gewünscht an.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="440">2. Zertifizierten Agenturen Zugang zum System geben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>plentymarkets Logo (Start) » Mein Konto » Agentur</strong> gibst du zertifizierten Dienstleistern Zugriff auf dein System.
Es ist sinnvoll, einem Dienstleister Zugang zu deinem System zu gewähren, z.B. wenn du eine Design-Agentur mit der Erstellung deiner Website beauftragst oder wenn du mit einem Consultant zusammenarbeitest.
Der Dienstleister erhält dann unbegrenzten, d.h. Admin-Zugang zu deinem System.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Entscheide selbst, welche Funktionen und Menüs zugänglich sein sollen!</div>
<div class="paragraph">
<p>Wenn du einer Agentur Zugang zu deinem System gewährst, gibst du dieser Agentur unbegrenzten, administrativen Zugang.</p>
</div>
<div class="paragraph">
<p>Wenn du der Agentur lieber nur Zugang zu bestimmten Funktionen oder Menüs geben möchtest, dann <a href="/business-entscheidungen/benutzerkonten-zugaenge">erstelle ein neues Benutzerkonto</a>, z.B. ein Backend-Konto, und passe die Zugriffsrechte an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="450">2.1. Zugriff gewähren</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um der Agentur und/oder dem Consultant, mit denen du zusammenarbeitest, Zugriff auf dein System zu gewähren:</p>
</div>
<div class="paragraph instruction">
<p>Dienstleister zuweisen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-handshake-o  "></i></span> <strong>Agenturen</strong>.<br>
→ Informationen über die Agenturen, mit denen du bereits zusammenarbeitest, werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Agentur hinzufügen</strong>.<br>
→ Eine Liste der zertifizierten Dienstleister wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Hinzufügen</strong> neben der Agentur, die Zugang zu deinem System erhalten soll.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Du kannst diesen Zugang jederzeit entziehen.</p>
</div>
</div>
<div class="sect2">
<h3 id="460">2.2. Zugriff entziehen</h3>
<div class="paragraph">
<p>Möchtest du den Systemzugriff für eine Agentur dauerhaft entziehen? Dann gehe wie unten beschrieben vor.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-handshake-o  "></i></span> <strong>Agenturen</strong>.<br>
→ Informationen über die Agenturen, mit denen du bereits zusammenarbeitest, werden angezeigt.</p>
</li>
<li>
<p>Klicke im Bereich der Agentur, deren Zugriff entfernt werden soll, auf <strong>Entfernen</strong>.<br>
→ Ein Bestätigungsdialog wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Jetzt entfernen</strong>, um deine Auswahl zu bestätigen.<br>
→ Der Systemzugriff wird für die gewählte Agentur dauerhaft entzogen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Agenturzugriff effektiv entfernen</div>
<div class="paragraph">
<p>Folge unbedingt den oben beschriebenen Schritten, um den Agenturzugriff dauerhaft und sicher zu entziehen. Es reicht <strong>nicht</strong> aus, den von der Agentur angelegten <a href="/business-entscheidungen/benutzerkonten-zugaenge#85">Benutzer im plentymarkets Backend zu löschen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="470">3. Support-Hotline anrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevorzugst du den direkten Kontakt?
Unsere Support-Hotline ist für dich da.
Im Bereich "Mein Konto" findest du die Telefonnummern und Sprechzeiten unserer Support-Hotline.
Hier findest du auch deine Support-PIN.
Diese musst du eingeben, wenn du die Hotline anrufst.</p>
</div>
<div class="paragraph instruction">
<p>Support-Hotline anrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <span class="icon darkGrey"><i class="fa fa-question-circle  "></i></span> <strong>» Support-Hotline</strong>.<br>
→ Der Bereich "Mein Konto" wird in einem neuen Browser-Tab geöffnet und die Informationen zur Support-Hotline werden angezeigt.</p>
</li>
<li>
<p>Notiere dir deine Support-PIN und rufe die Hotline an.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/assets/support-hotline.png" alt="support hotline">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eine weitere Möglichkeit, deine Support-PIN einzusehen</div>
<div class="paragraph">
<p>Öffne alternativ das Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong> und klicke auf <span class="icon darkGrey"><i class="fa fa-life-ring  "></i></span> <strong>Support-Hotline</strong>.
Die Informationen zur Support-Hotline werden in einem Pop-up-Fenster angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>