<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyBI</h1><p>Willkommen im Themenbereich plentyBI. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/business-entscheidungen/plenty-bi/myview-dashboard">Dashboard (Beta)</a></li><li><a href="/business-entscheidungen/plenty-bi/kennzahlen">Kennzahlen</a></li><li><a href="/business-entscheidungen/plenty-bi/statistiken">Alt: Statistiken</a></li><li><a href="/business-entscheidungen/plent-bi/reports">Reports</a></li></ul>
</main>