<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Voraussetzungen</span></a></li>
<li><a href="#20"><span>2.</span><span> Plugin herunterladen und installieren</span></a></li>
<li><a href="#30"><span>3.</span><span> Assistent durchlaufen</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Verbindung</span></a></li>
<li><a href="#50"><span>3.2.</span><span> Zuordnung der Bestandsfilialen</span></a></li>
<li><a href="#60"><span>3.3.</span><span> Zuordnung der Umsatzfilialen</span></a></li>
<li><a href="#70"><span>3.4.</span><span> Optionen für den Artikelimport</span></a></li>
<li><a href="#80"><span>3.5.</span><span> Zuordnung der Artikeldatenfelder</span></a></li>
<li><a href="#90"><span>3.6.</span><span> Zuordnung der Verkaufspreise</span></a></li>
<li><a href="#100"><span>3.7.</span><span> Zuordnung der Kategorien</span></a></li>
<li><a href="#110"><span>3.8.</span><span> Cron-Einstellungen</span></a></li>
</ul>
</li>
<li><a href="#120"><span>4.</span><span> Neu importierte Artikeldaten öffnen und ergänzen</span></a>
<ul class="sectlevel2">
<li><a href="#130"><span>4.1.</span><span> Neu importierte Artikel öffnen</span></a></li>
<li><a href="#140"><span>4.2.</span><span> Artikeldaten ergänzen</span></a></li>
</ul>
</li>
<li><a href="#150"><span>5.</span><span> Aufträge und Ereignisaktionen</span></a>
<ul class="sectlevel2">
<li><a href="#160"><span>5.1.</span><span> Ereignisaktionen einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#170"><span>5.1.1.</span><span> Prohandel über neue Aufträge benachrichtigen</span></a></li>
<li><a href="#180"><span>5.1.2.</span><span> Prohandel über Zahlung und Versand benachrichtigen</span></a></li>
<li><a href="#190"><span>5.1.3.</span><span> Prohandel über Stornierungen benachrichtigen</span></a></li>
<li><a href="#200"><span>5.1.4.</span><span> Prohandel über Retouren benachrichtigen</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Prohandel-Anbindung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Prohandel und plentymarkets – eine unschlagbare Kombination.
Nutzt du bereits Prohandel als Warenwirtschaftslösung für den Mode-Einzelhandel?
Und bist du bereit, mit plentymarkets im Online-Handel durchzustarten?
Das Prohandel-Plugin stellt die Verbindung zwischen deinem Prohandel-System und plentymarkets her.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Nutze Prohandel weiterhin für deine Offline-Verkäufe.</p>
</li>
<li>
<p>Übertrage deine in Prohandel gespeicherten Artikeldaten an plentymarkets.</p>
</li>
<li>
<p>Ergänze bei Bedarf die Artikeldaten in plentymarkets und vertreibe sie anschließend auf verschiedenen Marktplätzen, Vertriebskanälen und Webshops.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Voraussetzungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite geht davon aus, dass du bereits Kunde von <a href="https://www.prohandel.de/">Prohandel</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> und <a href="https://www.plentymarkets.com/">plentymarkets</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> bist.
Halte deine Zugangsdaten für beide Systeme bereit.
Während du die Schnittstelle einrichtest, musst du deine Zugangsdaten eingeben, um die Verbindung herzustellen.</p>
</div>
<div class="paragraph">
<p>Ferner wirst du deine Prohandel Barcodes, Verkaufspreise, Kategorien usw. denen in plentymarkets zuordnen.
Das heißt, falls du dein plentymarkets System noch nicht eingerichtet hast, solltest du folgende Daten anlegen, bevor du fortfährst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/warenwirtschaft/lager-einrichten">Lager</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsherkunft">Auftragsherkünfte</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/markierungen#400">Tags</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes">Barcodes</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/attribute">Attribute</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/eigenschaften">Eigenschaften</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise">Verkaufspreise</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien">Kategorien</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Plugin herunterladen und installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das <a href="https://marketplace.plentymarkets.com/prohandel_54913">Prohandel-Plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> steht kostenpflichtig auf plentyMarketplace zur Verfügung.
Es stellt die Verbindung zwischen deinem Prohandel-System und plentymarkets her.</p>
</div>
<div class="paragraph">
<p>Das Prohandel-Plugin kann:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Artikel importieren</em></strong>:
Artikeldaten werden von Prohandel nach plentymarkets übertragen.
Du entscheidest, welche Artikeldaten an plentymarkets gesendet und wie die Artikel dort strukturiert werden sollen.</p>
</li>
<li>
<p><strong><em>Aufträge exportieren</em></strong>:
Auftragsdaten werden von plentymarkets nach Prohandel übertragen.
plentymarkets meldet den Umsatz an Prohandel und bucht den Umsatz automatisch in die richtige Prohandel-Umsatzfiliale.</p>
</li>
<li>
<p><strong><em>Bestände und Preise aktualisieren</em></strong>:
Wenn in Prohandel Bestände oder Preise aktualisiert werden, dann wird diese Information an plentymarkets übermittelt.</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Schritt-für-Schritt-Anleitung</strong></div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade das <a href="https://marketplace.plentymarkets.com/prohandel_54913">Prohandel-Plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> von plentyMarketplace herunter.<br>
→ Falls aufgefordert, melde dich bei plentyMarketplace an.
Verwende die gleichen Zugangsdaten wie für den Bereich "Mein Konto".</p>
</li>
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.
Plugins können nur als Teil eines Plugin-Sets genutzt werden. Daher:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option A</em></strong>: Erstelle ein komplett neues Plugin-Set.
Klicke dazu auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Plugin-Set hinzufügen</strong> und gib einen Namen ein.</p>
</li>
<li>
<p><strong><em>Option B</em></strong>: Erstelle eine Kopie eines vorhandenen Plugin-Sets.
Klicke dazu in der Spalte <strong>Aktionen</strong> auf die Schaltfläche <strong>Plugin-Set kopieren</strong> (<span class="icon "><i class="psicon-copy"></i></span>).</p>
</li>
<li>
<p><strong><em>Option C</em></strong>: Entscheide, in welches bestehende Plugin-Set du das Prohandel-Plugin installieren willst.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Öffne das Plugin-Set, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Prohandel-Plugin aus der Liste.<br>
→ Es werden Informationen zu dem Plugin angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest.
Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon darkGrey"><i class="fa fa-arrow-down  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Speichere (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Ist das Thema Plugins neu für dich?
Im <a href="/plugins">Plugins-Kapitel</a> des Handbuchs erfährst du mehr über Plugins und wie sie in plentymarkets funktionieren.</p>
</div>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Konfiguration erfolgt im Assistenten</div>
<div class="paragraph">
<p>Du musst keine Einstellungen direkt im Plugin vornehmen.
Durchlaufe stattdessen den Assistenten.
Er führt dich durch den Einrichtungsprozess.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Assistent durchlaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Hilfe des Assistenten legst du fest, wie plentymarkets und Prohandel miteinander kommunizieren sollen.
Im Assistenten entscheidest du zum Beispiel, welche Artikeldaten an plentymarkets gesendet und wie die Artikel dort strukturiert werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Assistenten konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set öffnen]</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Prohandel-Assistent</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm.
Informationen zu den einzelnen Schritten findest du weiter unten auf dieser Seite.</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.</p>
</li>
<li>
<p>Wenn alle Einstellungen korrekt vorgenommen wurden, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Die Einstellungen werden gespeichert.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="40">3.1. Verbindung</h3>
<div class="paragraph">
<p>In diesem Schritt stellst du die Verbindung zwischen plentymarkets und Prohandel her.
Das heißt, du gibst deine Zugangsdaten ein, damit plentymarkets und Prohandel miteinander kommunizieren können.</p>
</div>
<table id="table-connection-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verbindung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die URL ein, die du von Prohandel erhalten hast.
Beispiel: <code>dein-shop.prohandel.de</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Benutzernamen deines Prohandel-Kontos ein.
Der Benutzername ist eine E-Mail-Adresse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib das Passwort deines Prohandel-Kontos ein.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">3.2. Zuordnung der Bestandsfilialen</h3>
<div class="paragraph">
<p>In diesem Schritt ordnest du deine bestandsführenden Prohandel-Filialen deinen plentymarkets Lagern zu.
So werden deine Bestände in Prohandel und plentymarkets miteinander abgeglichen und aktualisiert.
Sinkt zum Beispiel der Bestand in Prohandel, dann wird plentymarkets auch über diese Änderung informiert.</p>
</div>
<table id="table-stock-branch-matching" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Zuordnung der bestandsführenden Filialen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel-Filiale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies sind die bestandsführenden Filialen in Prohandel.
Wähle die passende Filiale aus der Dropdown-Liste aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies sind die Lager, die du in plentymarkets eingerichtet hast.
Wähle das passende Lager aus der Dropdown-Liste aus.</p>
<p class="tableblock"><strong><em>Voraussetzung</em></strong>:
Hast du bereits <a href="/warenwirtschaft/lager-einrichten">Lager in plentymarkets angelegt</a>?
Diese Dropdown-Liste enthält nur die Lager, die bereits in plentymarkets vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügt eine weitere Zeile hinzu.
Auf diese Weise kannst du mehrere Filialen und Lager zuordnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht eine Zeile.
Auf diese Weise kannst du eine nicht mehr benötigte Zuordnung löschen.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eine 1:1-Zuordnung ist am besten</div>
<div class="ulist">
<ul>
<li>
<p>Im Idealfall solltest du ein 1:1-Zuordnung erstellen.</p>
</li>
<li>
<p>Es macht keinen Sinn, mehrere plentymarkets Lager mit ein und derselben Prohandel-Filiale zu verknüpfen.
In diesem Fall würden deine Daten mehrfach von Prohandel nach plentymarkets übertragen werden.
Die Daten werden nicht aufgesplittet.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="60">3.3. Zuordnung der Umsatzfilialen</h3>
<div class="paragraph">
<p>In diesem Schritt ordnest du deine plentymarkets Verkaufskanäle den passenden Prohandel-Umsatzfilialen zu.
Stell dir vor, du hast gerade ein Produkt auf einem Markt wie eBay, Amazon oder Check24 verkauft.
In welcher Filiale sollen die Umsätze gebucht und die Auftragsdaten übermittelt werden?</p>
</div>
<table id="table-sales-branch-matching" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Zuordnung der Umsatzfilialen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel-Filiale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies sind die Umsatzfilialen in Prohandel.
Wähle die passende Filiale aus der Dropdown-Liste aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies sind die Mandanten, die du mit plentymarkets betreibst.
Wähle den passenden Mandanten aus der Dropdown-Liste aus.</p>
<p class="tableblock">Wenn ein Auftrag an Prohandel übertragen wird, enthält er Informationen darüber, auf welchen Mandanten er sich bezieht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkünfte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies sind die Auftragsherkünfte, die du in plentymarkets nutzt.
Wähle die passenden Herkünfte aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">Wenn ein Auftrag an Prohandel übertragen wird, enthält er Informationen darüber, aus welchem Verkaufskanal er stammt.
So kannst du auf Prohandel-Seite statistisch festhalten, welche Vertriebskanäle besonders gewinnbringend sind oder welche die meisten Retouren verursachen.</p>
<p class="tableblock"><strong><em>Voraussetzung</em></strong>:
Hast du bereits die passenden <a href="/auftraege/auftragsherkunft">Herkünfte in plentymarkets aktiviert</a>?
Diese Dropdown-Liste enthält nur die aktivierten Herkünfte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügt eine weitere Zeile hinzu.
Auf diese Weise kannst du mehrere Filialen und Verkaufskanäle zuordnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht eine Zeile.
Auf diese Weise kannst du eine nicht mehr benötigte Zuordnung löschen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="70">3.4. Optionen für den Artikelimport</h3>
<div class="paragraph">
<p>In diesem Schritt legst du fest, welche Artikeldaten von Prohandel an plentymarkets übertragen werden sollen und wie die Artikel dort strukturiert werden sollen.</p>
</div>
<table id="table-item-import-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Optionen für den Artikelimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filtergrundlage</strong>;<br>
<strong>Ab Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Artikel sollen in plentymarkets importiert werden?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle eine Grundlage aus der Dropdown-Liste aus.</p>
</li>
<li>
<p>Gib ein Datum in das Feld ein.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Grundlage</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erstes Wareneingangsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dies ist ein Zeitstempel für Artikel in Prohandel.
Der Zeitstempel wird erzeugt, wenn der Artikel erstmalig in Prohandel angelegt wird.
Dieser Zeitstempel ändert sich nie.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Dieser Zeitstempel ist nicht zu verwechseln mit dem <em>zweiten</em> Wareneingangsdatum, welcher sich aktualisiert, sobald neuer Wareneingang auf den Artikel gebucht wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zweites Verkaufsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dies ist ein Zeitstempel für Artikel in Prohandel.
Der Zeitstempel gibt an, wann der Artikel zuletzt verkauft wurde.
Dieser Zeitstempel wird fortlaufend in Prohandel aktualisiert, wenn ein neuer Verkauf getätigt wird.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>:
Stell dir vor, du verwendest das erste Wareneingangsdatum als Filtergrundlage und du gibst das Datum 01.01.2020 ein.
In diesem Fall werden nur die Artikel importiert, die am oder nach dem 1. Januar 2020 erstmalig bezogen wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Gruppierungsschema</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppierungsschema</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikel sind unterschiedlich strukturiert in Prohandel und in plentymarkets.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Prohandel</em></strong>: In Prohandel kann man einen Artikel als eine Farbvariante verstehen.
Ein Artikel ist zum Beispiel ein T-Shirt in der Farbe Blau.
Ein zweiter Artikel ist das T-Shirt in der Farbe Rot.
Beide Artikel haben Größenvariationen.
Zum Beispiel Blau S, Blau M, Blau L und Rot S, Rot M, Rot L.</p>
</li>
<li>
<p><strong><em>plentymarkets</em></strong>: In plentymarkets kann man einen Artikel als ein Datencontainer verstehen.
Ein Artikel beinhaltet immer eine oder mehrere Varianten, d.h. eine oder mehrere verkaufbare Ausführungen des Produkts.
Wird zum Beispiel ein T-Shirt in den Farben Blau und Rot und den Größen S, M, L angeboten, dann bilden alle Farben und Größen zusammen den Artikel.
Jede einzelne Kombination (Blau S, Blau M, Blau L, Rot S, Rot M, Rot L) ist eine Variante dieses Artikels.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In diesem Schritt legst du ein Gruppierungsschema fest, damit deine Prohandel-Artikel beim Import in plentymarkets korrekt strukturiert werden.
Dies ist ein Textfeld, d. h. du kannst jedes beliebige Gruppierungsschema eingeben.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>:
Wenn du das Gruppierungsschema <code>supplierNumber-categoryNumber-supplierArticleNumber</code> eingibst, werden alle Prohandel-Artikel, die dieselbe Lieferantennummer, Kategorienummer und Lieferantenartikelnummer haben, in einem einzigen plentymarkets Artikel zusammengefasst.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tag für importierte Artikel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Tag</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du alle neu importierten Artikel mit einem bestimmten Tag versehen?
Falls ja, dann wähle den passenden Tag aus der Dropdown-Liste aus.
Indem du die Artikel mit einem Tag versiehst, kannst du leicht erkennen, welche Artikel vor Kurzem importiert wurden, die Datensätze öffnen und die in plentymarkets gespeicherten Artikeldaten ergänzen.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>:
Hast du bereits die nötigen <a href="/willkommen/allgemeine-funktionen/tags">Tags in plentymarkets angelegt</a>?
Diese Dropdown-Liste enthält nur Tags, die bereits erstellt und für den Bereich "Variante" aktiviert wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Verhalten von Artikeln mit einem bestimmten Wert</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldname</strong>;<br>
<strong>Feldwert</strong>;<br>
<strong>Importverhalten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nur bestimmte Artikel importieren?
Oder möchtest du bestimmte Artikel vom Import ausschließen?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Um welche Artikel geht es?
Wähle den Feldnamen und Feldwert.</p>
</li>
<li>
<p>Entscheide, was mit diesen Artikeln passieren soll.
Wähle dazu das Importverhalten.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Verhalten</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Artikel mit angegebenem Wert importieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Es werden <em>nur</em> die Artikel importiert, die den angegebenen Feldwert und Feldnamen enthalten.
Alle anderen Artikel werden ignoriert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle Artikel mit angegebenem Wert überspringen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Artikel, die den angegebenen Feldwert und Feldnamen enthalten, werden übersprungen.
Das heißt, sie werden <em>nicht importiert</em>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>:
Stell dir vor, du verkaufst Kleidung in vielen verschiedenen Mustern.
Auf Prohandel wird jedes Muster durch eine eindeutige ID gekennzeichnet.
Du willst nur die Produkte mit Musternummer 5 in plentymarkets importieren.
Dazu wählst du den Feldnamen <strong>patternNumber</strong>, den Feldwert <strong>5</strong> und das Importverhalten <strong>Nur Artikel mit angegebenem Wert importieren</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Derzeit ist es nur möglich, <strong>patternNumber</strong> als Feldnamen zu wählen.
Soll ein anderes Feld für den Import berücksichtigt werden?
Nimm Kontakt mit uns auf!
Wir besprechen gerne deine Anforderungen und machen einen Kostenvoranschlag für die Implementierung.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="80">3.5. Zuordnung der Artikeldatenfelder</h3>
<div class="paragraph">
<p>In diesem Schritt entscheidest du, wie die Daten, die aus Prohandel kommen, in plentymarkets aussehen sollen.
Das heißt, wo die Daten in plentymarkets gespeichert werden sollen.</p>
</div>
<table id="table-item-import-field-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Zuordnung der Artikeldatenfelder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Zuordnung des Barcodes</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welcher plentymarkets Barcode-Typ passt zu deiner Prohandel-EAN?
Wähle den Barcode-Typ aus der Dropdown-Liste aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/barcodes#100">Barcode-Typen in plentymarkets konfiguriert</a>?
Diese Dropdown-Liste enthält nur die Barcode-Typen, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welcher plentymarkets Barcode-Typ passt zu deiner internen Nummer zur Identifikation der Größe in Prohandel?
Wähle den Barcode-Typ aus der Dropdown-Liste aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/barcodes#100">Barcode-Typen in plentymarkets konfiguriert</a>?
Diese Dropdown-Liste enthält nur die Barcode-Typen, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welcher plentymarkets Barcode-Typ passt zu deiner Prohandel-Artikelnummer?
Wähle den Barcode-Typ aus der Dropdown-Liste aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/barcodes#100">Barcode-Typen in plentymarkets konfiguriert</a>?
Diese Dropdown-Liste enthält nur die Barcode-Typen, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Zuordnung der Attribute</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lief.-Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches plentymarkets Attribut passt zu deiner Prohandel-Lieferantenfarbe?
Wähle das Attribut aus der Dropdown-Liste aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/attribute">Attribute in plentymarkets konfiguriert</a>?
Diese Dropdown-Liste enthält nur die Attribute, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches plentymarkets Attribut passt zu deiner Prohandel-Größe?
Wähle das Attribut aus der Dropdown-Liste aus.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/attribute">Attribute in plentymarkets konfiguriert</a>?
Diese Dropdown-Liste enthält nur die Attribute, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Zuordnung der Eigenschaften</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigene Artikel-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches plentymarkets Datenfeld passt zu deiner eigenen Artikel-Nummer in Prohandel?
Wähle die passende Option aus der Dropdown-Liste aus.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die eigene Artikel-Nummer wird nicht übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die eigene Artikel-Nummer wird gespeichert unter: <a href="/artikel/artikel-verwalten#50">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Texte » Eingabefeld: Name 1</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaft der Variante</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine zweite Dropdown-Liste wird angezeigt.
Sie enthält eine Liste von Eigenschaften, die in plentymarkets vorhanden sind.
Wähle eine Eigenschaft aus dieser Liste aus, wenn du die Prohandel-eigene Artikelnummer als diese Eigenschaft in plentymarkets speichern willst.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/eigenschaften">Eigenschaften in plentymarkets konfiguriert</a>?
Diese Dropdown-Liste enthält nur die Eigenschaften, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lief.-Art-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welches plentymarkets Datenfeld passt zu deiner Prohandel-Lieferanten-Artikelnummer?
Wähle die passende Option aus der Dropdown-Liste aus.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Lieferanten-Artikelnummer wird nicht übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Lieferanten-Artikelnummer wird gespeichert unter: <a href="/artikel/artikel-verwalten#190">Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Grundeinstellungen » Eingabefeld: Ext. Varianten-ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaft der Variante</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine zweite Dropdown-Liste wird angezeigt.
Sie enthält eine Liste von Eigenschaften, die in plentymarkets vorhanden sind.
Wähle eine Eigenschaft aus dieser Liste aus, wenn du die Prohandel-Lieferanten-Artikelnummer als diese Eigenschaft in plentymarkets speichern willst.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/eigenschaften">Eigenschaften in plentymarkets konfiguriert</a>?
Diese Dropdown-Liste enthält nur die Eigenschaften, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Saison-Nr.</strong>;<br>
<strong>Erstes Wareneingangsdatum</strong>;<br>
<strong>Zweites Wareneingangsdatum</strong>;<br>
<strong>NOS</strong>;<br>
<strong>Ident-Nr.</strong>;<br>
<strong>Erstes Verkaufsdatum</strong>;<br>
<strong>Zweites Verkaufsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche plentymarkets Eigenschaft passt zu dem Prohandel-Datenfeld?
Wähle die passende Option aus der Dropdown-Liste aus.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Prohandel-Datenfeld wird nicht übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaft der Variante</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine zweite Dropdown-Liste wird angezeigt.
Sie enthält eine Liste von Eigenschaften, die in plentymarkets vorhanden sind.
Wähle eine Eigenschaft aus dieser Liste aus, wenn du das Prohandel-Datenfeld als diese Eigenschaft in plentymarkets speichern willst.</p>
</div>
<div class="paragraph">
<p><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/eigenschaften">Eigenschaften in plentymarkets konfiguriert</a>?
Diese Dropdown-Liste enthält nur die Eigenschaften, die bereits in plentymarkets vorhanden sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Besonderheiten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel-Lieferanten als plentymarkets Hersteller importieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll der Prohandel-Lieferant als Hersteller in plentymarkets hinterlegt werden?
In plentymarkets findest du den Hersteller eines Artikels im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Dropdown-Liste: Hersteller</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel-Muster als plentymarkets Tags importieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll das Prohandel-Muster als Tag in plentymarkets hinterlegt werden?
In plentymarkets findest du die Tags eines Artikels im Menü <strong>Artikel » Artikel bearbeiten » [Variante öffnen] » Tab: Einstellungen » Bereich: Tags</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="90">3.6. Zuordnung der Verkaufspreise</h3>
<div class="paragraph">
<p>In diesem Schritt ordnest du deine in Prohandel verwendeten Verkaufspreise den Verkaufspreisen in plentymarkets zu.</p>
</div>
<table id="table-sales-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Zuordnung der Verkaufspreise</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VK-Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welchen plentymarkets Verkaufspreis möchtest du für den VK-Preis in Prohandel verwenden?
Wähle den passenden plentymarkets Verkaufspreis aus der Dropdown-Liste aus.</p>
<p class="tableblock"><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/preise">Verkaufspreise in plentymarkets eingerichtet</a>?
Diese Dropdown-Liste enthält nur die Verkaufspreise, die bereits in plentymarkets vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VK-Preis (Etikett)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welchen plentymarkets Verkaufspreis möchtest du für den VK-Preis (Etikett) in Prohandel verwenden?
Wähle den passenden plentymarkets Verkaufspreis aus der Dropdown-Liste aus.</p>
<p class="tableblock"><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/preise">Verkaufspreise in plentymarkets eingerichtet</a>?
Diese Dropdown-Liste enthält nur die Verkaufspreise, die bereits in plentymarkets vorhanden sind.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Keine Zuordnung für EK nötig</div>
<div class="paragraph">
<p>Der Prohandel-Einkaufspreis wird statisch dem plentymarkets Netto-Einkaufspreis zugeordnet.
Das bedeutet, dass du den Prohandel-EK nicht mit dem plentymarkets EK verknüpfen musst.
Er ist bereits zugeordnet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="100">3.7. Zuordnung der Kategorien</h3>
<div class="paragraph">
<p>In diesem Schritt ordnest du deine in Prohandel verwendeten Warengruppen den Kategorien in plentymarkets zu.
So werden deine Artikel bereits in die richtigen plentymarkets Kategorien einsortiert, wenn sie von Prohandel importiert werden.</p>
</div>
<table id="table-category-mapping" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Zuordnung der Kategorien</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard Artikelkategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stell dir vor, du hast eine neue Prohandel-Warengruppe erstellt.
Du hast aber vergessen, die Warengruppe einer Kategorie in plentymarkets zuzuordnen.
Wenn Artikel aus der nicht zugeordneten Warengruppe importiert werden, landen sie in der Standardkategorie.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prohandel-Warengruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies sind deine Warengruppen in Prohandel.
Wähle die passende Warengruppe aus der Dropdown-Liste aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies sind die Kategorien, die du in plentymarkets eingerichtet hast.
Wähle die passende Kategorie aus der Dropdown-Liste aus.</p>
<p class="tableblock"><strong><em>Voraussetzung</em></strong>: Hast du bereits <a href="/artikel/einstellungen/kategorien">Kategorien in plentymarkets angelegt</a>?
Diese Dropdown-Liste enthält nur die Kategorien, die bereits in plentymarkets vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügt eine weitere Zeile hinzu.
Auf diese Weise kannst du mehrere Kategorien zuordnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht eine Zeile.
Auf diese Weise kannst du eine nicht mehr benötigte Zuordnung löschen.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alternativer Ablauf ohne Kategoriezuordnung</div>
<div class="paragraph">
<p>Technisch gesehen könntest du nur eine Standard-Artikelkategorie wählen und den Rest der Kategoriezuordnung überspringen.
Als Folge würden deine Artikel beim Import immer nur in der Standardkategorie landen.
Bei Bedarf müsstest du dann manuell Artikel in andere plentymarkets Kategorien verschieben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="110">3.8. Cron-Einstellungen</h3>
<div class="paragraph">
<p>Der Datenaustausch zwischen Prohandel und plentymarkets erfolgt mit Hilfe von so genannten "Crons".
In diesem Schritt aktivierst du die Cron-Jobs, die automatisch ausgeführt werden sollen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table id="table-cron-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Wann werden die Crons ausgeführt?</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Cron</th>
<th class="tableblock halign-left valign-top">Intervall</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelimport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Täglich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Nachdem du den Assistenten abgeschlossen hast, werden <em>alle</em> Artikel erstmalig von Prohandel nach plentymarkets übertragen.
Dieser erstmalige vollständige Import kann, je nach Anzahl der Produkte, einige Tage in Anspruch nehmen.</p>
</li>
<li>
<p>Danach werden nur noch Teilimporte durchgeführt, die auf den zuvor gewählten <a href="/business-entscheidungen/prohandel#70">Importeinstellungen</a> basieren.</p>
</li>
<li>
<p>Es werden nur neue Artikel importiert und neue Varianten zu bestehenden Artikeln.
Bestehende Artikel werden nicht über diesen Cron aktualisiert.</p>
</li>
<li>
<p>Der Artikelimport erfolgt am Ende des Tages bzw. in der Nacht.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelaktualisierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stündlich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bestehende Artikel und Varianten werden aktualisiert.
Folgende Daten werden über diesen Cron aktualisiert:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verknüpfte Varianteneigenschaften</p>
</li>
<li>
<p>Tags (sofern das Prohandel-Muster als Tag importiert wird)</p>
</li>
<li>
<p>Hersteller (sofern der Hersteller importiert wird)</p>
</li>
<li>
<p>EAN</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisaktualisierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stündlich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsaktualisierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle 15 Minuten</p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="120">4. Neu importierte Artikeldaten öffnen und ergänzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Deine Artikeldaten werden bei der nächsten Ausführung des Cron-Jobs von Prohandel nach plentymarkets übertragen.
Dies setzt voraus, dass du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>den Cron <strong>Artikelimport</strong> aktiviert hast (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>den Assistenten abgeschlossen hast.</p>
</li>
<li>
<p>das Plugin im Set aktiviert hast.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="130">4.1. Neu importierte Artikel öffnen</h3>
<div class="paragraph">
<p>Öffne einige Artikeldatensätze und prüfe stichprobenartig, ob deine Artikeldaten korrekt importiert wurden.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Lege mit den <a href="/artikel/einleitung/suche">Suchfiltern</a> in der linken Spalte fest, welche Artikel du abrufen willst.
Zum Beispiel:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Setze den Filter <strong>Aktiv</strong> auf <strong>ALLE</strong> oder <strong>Nein</strong>, da Artikel beim Import inaktiv sind.</p>
</li>
<li>
<p>Setze den Filter <strong>Tag</strong> auf den im Assistant gewählten <a href="/business-entscheidungen/prohandel#70">Tag für neu importierte Artikel</a>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Suchergebnisse werden in der Übersicht rechts angezeigt.</p>
</li>
<li>
<p>Klicke auf einen Artikel in der Übersicht, um den Artikeldatensatz zu öffnen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hauptvariante vs. Untervariante</div>
<div class="paragraph">
<p>Prüfe die übertragenen Daten sowohl für die Hauptvariante als auch für die Untervarianten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die erste Variante eines Artikels wird als <em>Hauptvariante</em> bezeichnet.
Sie steht nicht zum Verkauf, sondern ist rein virtuell und dient dazu, die weiteren Untervarianten des Artikels anhand von <a href="/artikel/einleitung/vererbung">Vererbung</a> zu verwalten.
Wenn du einen Artikeldatensatz öffnest, öffnet sich automatisch auch die Hauptvariante.</p>
</li>
<li>
<p>Die <em>Untervarianten</em> sind die verkaufbaren Ausführungen des Produkts.
Wird zum Beispiel ein T-Shirt in den Farben Blau und Rot und den Größen S, M, L angeboten, dann ist jede einzelne Kombination (Blau S, Blau M, Blau L, Rot S, Rot M, Rot L) eine Untervariante.
Um eine Untervariante zu öffnen, klicke auf den Tab <strong>Varianten</strong> und dann auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).
Klicke anschließend in der Übersicht auf eine Untervariante.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">4.2. Artikeldaten ergänzen</h3>
<div class="paragraph">
<p>Wenn du mit den übertragenen Artikeldaten zufrieden bist, dann kannst du deine Artikel für den Online-Verkauf vorbereiten.
Zum Beispiel kannst du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#50">Beschreibungstexte</a>, <a href="/artikel/artikel-verwalten#90">Produktbilder</a> und relevante <a href="/artikel/artikel-verwalten#50">Metadaten</a> hinzufügen.</p>
</li>
<li>
<p>angeben, wo deine Produkte verkauft werden sollen, d.h. <a href="/artikel/artikel-verwalten#340">Auftragsherkünfte</a> und <a href="/artikel/artikel-verwalten#340">Mandanten</a> wählen.</p>
</li>
<li>
<p>deine Varianten <a href="/artikel/artikel-verwalten#200">aktivieren</a>, sobald sie veröffentlicht werden sollen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eine vollständige Liste aller Artikeldatenfelder in plentymarkets findest du auf der Handbuchseite <a href="/artikel/artikel-verwalten">Verzeichnis der Datenfelder</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="150">5. Aufträge und Ereignisaktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Produkt verkauft wird, landen die Auftragsdaten zunächst im plentymarkets Menü <strong>Aufträge » Aufträge bearbeiten</strong>.
Hier kann der Auftrag abgewickelt werden und sein Fortschritt mit Hilfe eines Status verfolgt werden.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zur Auftragsbearbeitung in plentymarkets findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten">Aufträge verwalten</a>.</p>
</div>
<div class="sect2">
<h3 id="160">5.1. Ereignisaktionen einrichten</h3>
<div class="paragraph">
<p>Natürlich sollen die Auftragsdaten nicht nur in plentymarkets bleiben, sondern auch nach Prohandel übertragen werden.
Dazu musst du <em>vier sogenannte Ereignisaktionen</em> einrichten.
Diese müssen nur einmalig im Voraus eingerichtet werden, damit der Auftragsexport korrekt funktioniert.</p>
</div>
<div class="paragraph instruction">
<p>Ereignisaktion einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das Ereignis gemäß den folgenden Tabellen.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-save  "></i></span> <strong>Speichern</strong>.<br>
→ Die Ereignisaktion wird angelegt und kann weiter bearbeitet werden.</p>
</li>
<li>
<p>Klicke auf <strong>Aktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>) und wähle die Aktion gemäß den folgenden Tabellen.</p>
</li>
<li>
<p>Optional: Klicke auf <strong>Filter hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>) und wähle Filter, wenn die Ereignisaktion nur in bestimmten Szenarien gelten soll.
Beispielsweise wenn die Ereignisaktion nur für bestimmte Verkaufskanäle oder Mandanten gelten soll.</p>
</li>
<li>
<p>Aktiviere die Ereignisaktion (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), sobald sie in Kraft treten soll.
Ab dem Zeitpunkt der Aktivierung greift die Ereignisaktion mit den von dir gewählten Einstellungen.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zur allgemeinen Verwendung von Ereignisaktionen findest du auf der Handbuchseite <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a>.</p>
</div>
<div class="sect3">
<h4 id="170">5.1.1. Prohandel über neue Aufträge benachrichtigen</h4>
<div class="paragraph">
<p>Sobald ein neuer Auftrag in plentymarkets landet, soll Prohandel über den Auftrag informiert werden.
So wird der nötige Bestand in Prohandel reserviert, damit es nicht zu einem Überverkauf kommt.</p>
</div>
<table id="table-event-procedure-one" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neuer Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Herkunft<br>
Auftrag &gt; Mandant (Shop)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins &gt; Prohandel: Bestand reservieren</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="180">5.1.2. Prohandel über Zahlung und Versand benachrichtigen</h4>
<div class="paragraph">
<p>Fertig abgewickelte Aufträge befinden sich im Status 7.
Dieser Status bedeutet, dass die Zahlung eingegangen ist und der Warenausgang gebucht wurde.
Zu diesem Zeitpunkt soll Prohandel auch über die Änderungen am Auftrag informiert werden.</p>
</div>
<table id="table-event-procedure-two" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenausgang gebucht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Herkunft<br>
Auftrag &gt; Mandant (Shop)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins &gt; Prohandel: Versand und Zahlung an Prohandel melden</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="190">5.1.3. Prohandel über Stornierungen benachrichtigen</h4>
<div class="paragraph">
<p>Eine Stornierung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>bedeutet, dass der:die Kund:in es sich anders überlegt hat und den gekauften Artikel doch nicht haben möchte.</p>
</li>
<li>
<p>erfolgt, <em>bevor</em> du die Zahlung erhalten und die Ware verschickt hast.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Um einen Auftrag zu stornieren, änderst du seinen Status auf 8.
Zu diesem Zeitpunkt soll Prohandel auch über die Stornierung informiert werden, damit der Bestand nicht länger reserviert wird.</p>
</div>
<table id="table-event-procedure-three" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Statuswechsel auf 8</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Herkunft<br>
Auftrag &gt; Mandant (Shop)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins &gt; Prohandel: Auftragsstornierung an Prohandel melden</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="200">5.1.4. Prohandel über Retouren benachrichtigen</h4>
<div class="paragraph">
<p>Eine Retoure:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>bedeutet, dass der:die Kund:in es sich anders überlegt hat und den gekauften Artikel doch nicht haben möchte.</p>
</li>
<li>
<p>erfolgt, <em>nachdem</em> du die Zahlung erhalten und die Ware verschickt hast.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Da die Zahlung bereits eingegangen ist, muss in diesem Fall eine Rückzahlung erfolgen.
Das bedeutet, dass du Prohandel über die Retoure informieren musst, damit die Umsätze wieder aus der Umsatzfiliale ausgebucht werden können.</p>
</div>
<table id="table-event-procedure-four" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neue Retoure</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Herkunft<br>
Auftrag &gt; Mandant (Shop)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins &gt; Prohandel: Retoure an Prohandel melden</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</main>