<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Systemadministration</h1><div class="paragraph">
<p>Willst du neue Domains oder Subdomains einrichten?
Musst du ein neues SSL-Zertifikat bestellen?
Solche Aufgaben werden normalerweise von einem <em>Systemadministrator</em> durchgeführt.
Dieses Kapitel dient als Referenz für Systemadministratoren und hilft ihnen, ihre Administratoraufgaben in plentymarkets zu erledigen.</p>
</div>
</main>