<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel durch Eigenschaften optimieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaften bieten dir die Möglichkeit, individuelle Artikelinformationen hinzuzufügen und somit beispielsweise für ein besseres SEO-Ranking zu sorgen. Und auch wenn du deine Lagerbestandsdatei korrekt ausfüllen möchtest, sind Eigenschaftsverknüpfungen die perfekte Wahl.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/artikel/eigenschaften-erstellen#video">Eigenschaften erstellen (2:01)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/eigenschaften-verknuepfen#video">Eigenschaften mit Amazon verknüpfen (3:06)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/eigenschaften-artikelinfos-hinterlegen#video">Infos am Artikel hinterlegen (5:22)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/202024357#at=121" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Um die Reise durch Amazonien überhaupt antreten zu können, müssen deine Artikel bereits "offensichtliche" Infos mit sich tragen, wie zum Beispiel Artikelname, Beschreibung, Bilder etc.</p>
</div>
<div class="paragraph">
<p>Was ist aber, wenn in deinen Produkten noch viel mehr steckt als auf den ersten Blick angenommen und du genau diese Extra-Infos in die Reiseunterlagen packen, anders gesagt noch mit an Amazon übergeben willst? Oder sogar musst, weil es eine Pflichtangabe ist, die in der Lagerbestandsdateivorlage als "erforderlich" markiert wurde?</p>
</div>
<div class="paragraph">
<p>Es gibt am Artikel ja zum Beispiel gar keine Einstellung für die Angabe, ob Batterien benötigt werden. Oder einen "Extra-Infos-für-diese-Variante"-Button.</p>
</div>
<div class="paragraph">
<p>Die Antwort auf diese Fragen werde ich dir im Laufe dieses Videos geben, mit dem plenty Tool, das in jede Reisetasche gehört: Eigenschaftsverknüpfungen!</p>
</div>
<div class="paragraph">
<p>Standardmäßig werden schon alle Felder am Artikeldatensatz von plentymarkets an Amazon übergeben. Eigenschaften bieten dir allerdings die Möglichkeit, darüber hinaus weitere Felder zu erschaffen, um neue, zusätzliche Informationen zu pflegen und somit deine Artikel aufs Optimum zu bringen.</p>
</div>
<div class="paragraph">
<p>Du hast die Möglichkeit, diese Infos entweder auf Artikelebene über die sogenannten Merkmale zu pflegen, oder was wir dir eher empfehlen, über Eigenschaften und Texte. Denn diese pflegst du auf Variantenebene und kannst somit also viel mehr ins Detail gehen und deine Datensätze ausführlicher gestalten.</p>
</div>
<div class="paragraph">
<p>Für die Nutzung solltest du als erstes verstehen, wie man das Ganze überhaupt anlegt. Dann machen wir uns gemeinsam daran, erstellte Eigenschaften mit Amazon zu verknüpfen und schließlich fügen wir die Zusatzinfos am Artikel hinzu und sorgen so dafür, dass sie auf deiner Packliste beziehungsweise Lagerbestandsdatei stehen und somit zu Amazon exportiert werden können.</p>
</div>
<div class="paragraph">
<p>Wir haben eine Reisetasche im Angebot und möchten nun an der blauen Variante spezielle Keywords hinterlegen.</p>
</div>
<div class="paragraph">
<p>Eigenschaften sind nicht nur für Amazon super praktisch, daher findest du sie in einem allgemeineren Menü als sonst, nämlich <strong>Einrichtung » Einstellungen » Eigenschaften</strong>.</p>
</div>
<div class="paragraph">
<p>Unter dem Punkt Konfigurationen siehst du nun entweder eine Übersicht deiner bereits angelegten Eigenschaften oder eine Aufforderung, neue hinzuzufügen. Das geht übrigens auch jederzeit über das Plus hier oben.</p>
</div>
<div class="paragraph">
<p>Es benötigt nun einige Basisinformationen, wie den Bereich, in dem du die Eigenschaft nutzen willst. In unserem Fall ist das, ganz klar, "Artikel".</p>
</div>
<div class="paragraph">
<p>Bei Eigenschaften stehen dir verschiedenen Typen zur Auswahl; was das genau bedeutet, liest du am besten in unserem Handbuch nach.</p>
</div>
<div class="paragraph">
<p>Für Amazon empfehlen wir dir den Typen "Text" oder "Kurztext", je nachdem, ob du die Angaben dann gerne formatieren möchtest oder nicht. Weiter geht es mit einem eindeutigen Namen und einer Positionsnummer.</p>
</div>
<div class="paragraph">
<p>So weit, so gut. Die Eigenschaft steht, das bedeutet allerdings noch nicht, dass sie auch zu Amazon übertragen wird. Dafür stellst du nun im Bereich "Sichtbarkeit" ebendiese ein, also, dass die Eigenschaft für deine gewünschten Amazon-Plattformen zur Verfügung steht und für den Mandanten, über den deine Amazon-Konten mit plentymarkets verlinkt sind.</p>
</div>
<div class="paragraph">
<p>Ok, du ahnst wahrscheinlich, dass das noch nicht alles war, denn schließlich ist hier doch recht präsent ein bestimmter Marktplatz-Button platziert. Und genau hier geht’s weiter. Indem du für diese geöffnete Eigenschaft eine Verknüpfung hinzufügst, kannst du bestimmen, auf welcher Amazon-Plattform und in welcher Spalte der Lagerbestandsdatei der Eigenschaftswert eingetragen wird.</p>
</div>
<div class="paragraph">
<p>"Lagerbestandsdatei" ist nicht einfach nur ein wundervolles Wort für ein Galgenmännchen-Spiel, sondern von großer Bedeutung für Amazon. Deshalb kannst du dich in einem extra Video näher darüber informieren, was ich dir auch definitiv empfehle. Kurz gesagt: Es ist eine Datei, die in verschiedenen Spalten all deine Produktinformationen beinhaltet.</p>
</div>
<div class="paragraph">
<p>Und in unserem Beispiel wollen wir für unsere Reisetasche noch spezielle Keywords darin einfügen. Die Kategorie ist gleich dem Produkttyp, den du am Artikel hinterlegt hast, hier also Luggage bzw. Gepäck.</p>
</div>
<div class="paragraph">
<p>Daneben erhältst du eine Auswahl aller Felder bzw. Spalten der Lagerbestandsdatei für diese spezielle Kategorie. Nun kannst du also die gewünschte Spalte auswählen. Und mit dieser Verknüpfung hast du also die Voraussetzung geschaffen, ein Feld mit "Keywords" am Artikel zu hinterlegen und auch an Amazon zu schicken.</p>
</div>
<div class="paragraph">
<p>Erinnere dich jetzt an den Fall, dass du für den erfolgreichen Export auf Amazon noch unbedingt einige Infos hinzufügen musst, zum Beispiel für die Info, ob Batterien benötigt werden. Da es sich um eine Ja/Nein - Einstellung handelt, könntest du hierfür den Typen "Auswahl" für deine Eigenschaft wählen und als Werte Ja und Nein eingeben - oder wie Amazon es gerne möchte, TRUE und FALSE.</p>
</div>
<div class="paragraph">
<p>Wie vorher auch muss die Eigenschaft mit der gewünschten Amazon-Plattform, -Kategorie und dem korrekten Amazon-Feld verknüpft sein.</p>
</div>
<div class="paragraph">
<p>Und das Coole ist: Möchtest du die gleiche Eigenschaft für mehrere Kategorien verwenden, fügst du einfach weitere Verknüpfungen hinzu.</p>
</div>
<div class="paragraph">
<p>Am Artikel begibst du dich wie erwähnt auf Variantenebene und je nach Eigenschaftstyp in den Reiter "Eigenschaften" oder "Texte", da wir ja bei der Reisetasche den Eigenschaftstyp "Text" gewählt hatten, ist also das der richtige Weg.</p>
</div>
<div class="paragraph">
<p>Im Dropdown findest du alle Eigenschaften des Typen, also auch unsere eben erstellte, um Keywords für die blaue Variante zu pflegen, und kannst sie schließlich hinzufügen und dir damit ein weiteres Feld schaffen, in das du nun die gewünschten Zusatzinfos eintragen kannst.</p>
</div>
<div class="paragraph">
<p>Und so geht’s! Über die Standard-Artikelfelder hinaus kannst du jetzt mit Eigenschaften weitere Infos eintragen.</p>
</div>
<div class="paragraph">
<p>Jetzt kommt wieder die berühmte Lagerbestandsdatei, oder auch Flat File genannt, zum Einsatz. Diese wird beim Export auf Amazon im Hintergrund mit allen wichtigen Artikelinfos generiert. Und wie du sie zu Amazon schickst, lernst du im nächsten Video.</p>
</div>
</div>
</div>
</main>