<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lagerbestandsdateivorlagen (Flat Files)</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerbestandsdateien, oder auch Flat-Files genannt, werden für den Artikelexport von plentymarkets zu Amazon benötigt. Dein System erstellt diese Datei im Hintergrund automatisch - trotzdem ist es gut, wenn du dich mit dem Aufbau einer Flat-File beschäftigst. Denn wenn mal etwas schief läuft, sind sie deine erste Anlaufstelle fürs Troubleshooting.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/artikel/flat-files-lagerbestandsdateivorlagen#video">Lagerbestandsdateivorlagen auf Amazon (1:12)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/flat-files-struktur#video">Flat-File-Struktur (1:48)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/flat-files-fehlerbehebung#video">Fehlerbehebung (3:34)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/200142137#at=108" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Jeder Backpack-Reise-Spezialist weiß: Eine durchdachte Packliste ist gold wert! Und auf deiner Reise durch Amazonien darf natürlich die absolute Pro-Variante einer Packliste nicht fehlen: Die Lagerbestandsdatei oder auch Flat-File genannt.</p>
</div>
<div class="paragraph">
<p>Die Erklärung zu diesem Vergleich: Die Lagerbestandsdateivorlagen im Seller-Central-Konto sind wirklich super nützlich, wenn du gerade deine Artikel für den Export auf Amazon vorbereitest, indem sie dir alle wichtigen Informationen anzeigen, ohne die deine Produkte nicht zum Ziel kommen würden.</p>
</div>
<div class="paragraph">
<p>Denn was passiert bei einem Artikelexport? Dein plentymarkets System erstellt im Hintergrund eine Lagerbestandsdatei mit allen Produktinformationen, sodass sie schließlich an Amazon übertragen werden können, um Artikel komplett neu anzulegen oder auch einfach nur zu aktualisieren; zum Beispiel in Preis oder Bestand. Und: Falls mal was schief läuft, sind sie die erste Anlaufstelle zur Fehlerbehebung.</p>
</div>
<div class="paragraph">
<p>Dieses Video soll dir dabei helfen, den generellen Aufbau einer solchen Datei zu verstehen und dir die korrekte Richtung zeigen, wenn du mal Probleme beim Artikelexport hast.</p>
</div>
<div class="paragraph">
<p>Pro Amazon-Kategorie existieren unterschiedlichen Vorlagen, also such dir als erstes die Übersicht - entweder über Google oder auch direkt über Seller Central und schau dann, welche Kategorien für deine Produkte in Frage kommen.</p>
</div>
<div class="paragraph">
<p>Öffnen kannst du diese Datei mit einem Tabellenkalkulations-Programm, wie z.B. Excel.</p>
</div>
<div class="paragraph">
<p>Beim Marktplatz der Superlative erscheint es auch bei einer Vorlagendatei vorerst, als hättest du ganz Amazon runtergeladen, aber nach diesem Video wirst du hoffentlich etwas schlauer aus den unterschiedlichen Tabs und deren Bedeutung.</p>
</div>
<div class="paragraph">
<p>Außerdem findest du in der Flat-File selbst schon eine Art Anleitung im Tab Instruktionen. Also wenn du mal wieder nachlesen möchtest, wie die Datei funktioniert, ist dieser Bereich sehr nützlich.</p>
</div>
<div class="paragraph">
<p>Die "Info zu Produktabbildungen" sind nichts anderes als technische Spezifikationen und Richtlinien für deine Produktbilder. Die Beispiele zeigen dir auch auf den ersten Blick, wie du Bilder darstellen solltest und wie nicht.</p>
</div>
<div class="paragraph">
<p>Die Flat-File verfügt auch über ein Beispiel, mit dem du deine eigene Flat-File dann später vergleichen könntest.</p>
</div>
<div class="paragraph">
<p>Aber mit am wichtigsten sind die nächsten Tabs. Also als erstes "Datendefinitionen". Denn dahinter stecken jetzt die Informationen, die du entweder unbedingt am Artikel pflegen musst oder solche, die optional sind.</p>
</div>
<div class="paragraph">
<p>Du siehst als erstes den Feldnamen von Amazon samt Übersetzung und wenn du weiter zur Seite scrollst, ob das Feld erforderlich oder optional ist.</p>
</div>
<div class="paragraph">
<p>Das Schöne: Die allerwichtigsten Standardfelder solltest du in plentymarkets eh am Artikeldatensatz hinterlegt haben und dadurch werden viele der erforderlichen Infos auch schon automatisch an Amazon übergeben, wie beispielsweise Artikelname und Artikelbeschreibung.</p>
</div>
<div class="paragraph">
<p>Und auch wenn du nicht so ganz genau weißt, was mit dem Feld gemeint ist, oder wie du die Infos angeben sollst, helfen dir die Spalten "Akzeptierte Werte" und "Beispiel" weiter.</p>
</div>
<div class="paragraph">
<p>Würdest du die Flat-File manuell ausfüllen wollen, gibt dir Amazon auch noch eine Vorlage mit an die Hand und eine Übersicht der gültigen Werte.</p>
</div>
<div class="paragraph">
<p>Ok cool, so viel zur Theorie, aber ich hatte dir ja auch ein Troubleshooting-Beispiel versprochen, das dir zeigen soll, wie du allgemein vorgehen solltest, wenn mal was schief geht.</p>
</div>
<div class="paragraph">
<p>Stellen wir uns das mal vor: Deine Artikel sollen auf Amazon exportiert werden, doch oh-oh: Einer davon hat seine Reise wohl nicht geschafft! Jetzt geht’s an die Fehlerbehebung mit deiner vertrauten Packliste!</p>
</div>
<div class="paragraph">
<p>Wie gesagt, wird beim Export von plenty zu Amazon eine Flat-File erstellt. Wenn einer deiner Artikel also nicht übertragen wurde, ist es ein häufiger Fehler, dass nicht alle "erforderlichen" Felder gefüllt sind. Im Seller Central-Konto findest du unter dem Punkt Lagerbestand » Mehrere Artikel hochladen den Reiter Uploadstatus prüfen. Und hier ist auch der Verarbeitungsbericht zu finden. Wenn du den öffnest, kannst du direkt im zweiten Tab sehen, welche Info fehlt. In unserem Beispiel ist das, ob Batterien benötigt werden. Alles, was du jetzt also tun musst, ist diese Info am entsprechenden Artikeldatensatz in plentymarkets zu ergänzen. Vielleicht findest du dort ein schon vorhandenes Feld, das genau für diese eine Info gedacht ist. Falls nicht, gibt es einen einfachen Weg, dir ein Feld zu erschaffen. Und zwar über Merkmal- oder Eigenschaftsverknüpfungen.</p>
</div>
<div class="paragraph">
<p>Und jetzt, wo wir etwas Licht ins Dunkel der Lagerbestandsdateivorlagen gebracht haben, steht einem erfolgreichen Export deiner Artikel zu Amazon nichts mehr im Weg!</p>
</div>
</div>
</div>
</main>