<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#manage-catalogues"><span>1.</span><span> Kataloge verwalten: löschen, kopieren etc.</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kataloge verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du bist über einen direkten Link zu dieser Seite gekommen. Herzlich willkommen!</p>
</div>
<div class="paragraph">
<p>Die Informationen zu den Katalogen wurden inzwischen auf zwei Seiten aufgeteilt, um dir den Einstieg in das Thema zu erleichtern:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Du möchtest Daten aus plentymarkets in Dateien exportieren?</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>Dazu benötigst du einen Katalog mit Standardformat. Wie du Kataloge mit Standardformaten erstellst, ist auf der Seite <a href="/daten/daten-exportieren/dateiexport">Standardformate erstellen</a> beschrieben.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Du möchtest Artikeldaten zu Marktplätzen exportieren?</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>Dazu benötigst du einen Katalog mit Marktplatzformat. Eine Einführung in das Thema Marktplatzformate findest du auf der Seite <a href="/daten/daten-exportieren/marktplatzexport">Kataloge: Marktplatzexport</a></p>
</li>
<li>
<p>Wie du Kataloge für die einzelnen Marktplätze erstellst, ist <a href="/maerkte">auf der Seite des Verkaufskanals beschrieben</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
In den folgenden Kapiteln findest du Informationen dazu, wie du deine Kataloge verwaltest. Diese Informationen findest du auch auf den neuen Seiten für Standardformate und Marktplatzformate. Hier auf dieser Seite werden die Informationen nur noch mal aufgeführt, damit alte Links aus dem Forum weiterhin funktionieren. Die Inhalte sind auf allen drei Seiten identisch.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div><div class="sect1">
<h2 id="manage-catalogues">1. Kataloge verwalten: löschen, kopieren etc.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::_textblocks/catalogues/catalogues-manage.adoc[]</p>
</div>
</div>
</div>
</main>