<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 19. August 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 13. August 2020 bis zum 19. August 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort ist es möglich, Eingabefelder innerhalb einer Komponente nebeneinander zu positionieren. Mit diesem ersten Versuch geben wir euch eine bestimmte Auswahl an Kombinationen, welche durch ein einfaches Handling innerhalb der Komponenten-Einstellungen untereinander oder nebeneinander angeordnet werden können.</p>
<div class="paragraph">
<p>Für den <strong>Titel</strong> und die Kontaktoption <strong>Webseite</strong> stehen nun weitere Eingabefelder zur Verfügung und können im Bearbeitungsmodus den Kontaktdetails zugeordnet werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist nun möglich die ID des Elternauftrages zu importieren. Dafür wurde die Zuordnung, für den Import von Aufträgen, um ein neues Datenfeld erweitert.</p>
<div class="paragraph">
<p>Diese ID wird zukünftig benötigt um Lieferaufträge, Reparaturen und Gewährleistungen korrekt zu importieren, da diese Auftragstypen einem Hauptauftrag zugeordnet sein müssen.</p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort kann beim Kopieren eines Kataloges die Sprache geändert werden.</p>
</li>
</ul>
</div>
<h3 id="_myview" class="discrete">MyView</h3>
<div class="ulist">
<ul>
<li>
<p>Die MyView verfügt ab sofort über eine Schaltfläche, mit der zuletzt durchgeführte Änderungen rückgängig gemacht werden können. Bisher werden in der Historie die 10 letzten Änderungen gespeichert. Pro Klick gelangt man einen Schritt zurück und kann so zum gewünschten Zustand der View zurückkehren. Dies ist allerdings nur möglich, solange die Änderungen nicht gespeichert wurden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 14.08.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/25nCZlHwpabd37Z1mAU7mLUzrVI.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a></p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher wurden beim Abruf der Bestandsdateien alle Varianten ausgegeben, deren Preise oder Bestände sich im angefragten Zeitraum von Zalando verändert haben. Dies wurde nun geändert. Stattdessen werden nun alle Varianten ausgegeben, bei denen eine Änderung an der Variante oder dem Bestand durchgeführt wurde. Dies wurde aus folgenden Gründen geändert:</p>
<div class="ulist">
<ul>
<li>
<p>Preise sind im Bestandsupdate nicht enthalten und haben somit keine Relevanz.</p>
</li>
<li>
<p>Das Deaktivieren der Variante oder das Entfernen der Zalando-Verfügbarkeit führen nun auch zu einer Übertragung eines Bestandes von 0, ohne dass manuell eine Preis- oder Bestandsänderung durchgeführt werden muss. Gleiches gilt dann entsprechend auch für die Aktivierung einer Variante.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Anzeige der UmStID an der Rechnungsadresse wird nicht angezeigt bei Inlandsendungen. Dies hat nicht korrekt funktioniert, wenn der Standard-Standort nicht dem Systemland entspricht. Dies wurde behoben.</p>
</li>
<li>
<p>Um einen Lieferanten in einer Umbuchung hinzuzufügen, waren mindestens zwei im System angelegte Lieferanten erforderlich. Dies wurde nun behoben, ein Lieferant kann zugeordnet werden, auch wenn nur einer im System gespeichert ist.</p>
</li>
<li>
<p>Bei Gastbestellungen über den Webshop konnte es in einigen Fällen zu dem Verhalten kommen, dass nach erfolgreicher Auftragsanlage, die Adresse vom Auftrag verschwindet. Dies Verhalten wurde behoben, so dass ein nachträgliches Verschwinden einer Adresse nicht mehr auftreten kann.</p>
</li>
<li>
<p>In der Auftragsübersicht wurden einige Zahlungsarten (Fruugo, CDiscount, Flubit, Netto) nicht dargestellt. Dies wurde angepasst, sodass der Name der Zahlungsart nun korrekt angezeigt wird.</p>
</li>
<li>
<p>Wenn Lieferaufträge gelöscht wurden, konnte es vorkommen, dass beim Hauptauftrag nicht korrekt das Lager zurückgesetzt wurde und dieser als gebucht gekennzeichnet wurde. Das wurde behoben.</p>
</li>
<li>
<p>Beim Splitten eines Auftrages in Lieferaufträge wurde das Versandprofil des Hauptauftrages auf die Lieferaufträge übertragen, auch wenn den Auftragspositionen abweichende Versandprofile zugeordnet war. Dies wurde angepasst, sodass das Versandprofil des Lieferauftrages nun korrekt anhand der Auftragspositionen bestimmt wird.</p>
</li>
</ul>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der manuellen Auftragsanlage wurden E-Mail und Telefonnummer nur in die Rechnungsadresse übernommen; die Lieferadresse wurde ohne Kontaktoptionen angelegt. Dies wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte vorkommen, dass das Ereignis <strong>Rechnung generiert</strong> mehrfach ausgelöst wurde und dass somit Ereignisaktionen fälschlicherweise ausgeführt wurden. Das wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_export" class="discrete">Export</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Export <strong>Finanzbuchhaltung</strong> (Spezialexport) in der Sprache englisch sind die Herkünfte und die Versandkosten teilweise nicht richtig exportiert wurden. Dieses Problem ist nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_neckermann_at" class="discrete">Neckermann.at</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Händlern die bereits einen SFTP bei Neckermann nutzen, kam es zu Problemen beim Hochladen der Bild-Dateien. Die Ursache dafür war ein falscher Zielordner, weil dieser sich vom Zielordner auf dem FTP unterschied. Die Bilder werden jetzt in den korrekten Ordner hochgeladen.</p>
</li>
</ul>
</div>
<h3 id="_paypal" class="discrete">PayPal</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte vorkommen, dass Zahlungen über die alte PayPal Integration (nicht Plugin) doppelt importiert werden. Das wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben auf Basis der neuen Backendkomponenten eine neue geführte Auftragsanlage veröffentlicht. Ziel war es, wie bei allen vorangegangenen Releases auch, die Komplexität des Systems für Nutzer deutlich zu reduzieren. Weitere Informationen <a href="https://forum.plentymarkets.com/t/ankuendigung-release-neue-gefuehrte-auftragsanlage/602637/" target="_blank" rel="noopener">findest du im Forum</a>.</p>
</li>
</ul>
</div>
<h3 id="_hood" class="discrete">Hood</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt das Energielabel und das Produktdatenblatt für deine Produkte zu Hood übertragen.
Dafür lassen sich die Eigenschaften benutzen. Das Energielabel lässt sich im Format JPG oder PDF hochladen, wohingegen das Produktdatenblatt nur im Format PDF hochgeladen werden kann.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Damit die Übertragung klappt, musst du folgende Schritte durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Erstelle eine Artikeleigenschaft vom Eigenschaftstyp <strong>Datei</strong>.</p>
</li>
<li>
<p>Verwende folgende Namen in Abhängigkeit der Datei, die du hochladen möchtest:</p>
<div class="ulist">
<ul>
<li>
<p><code>energy_label</code> für das Energielabel</p>
</li>
<li>
<p><code>product_data_sheet</code> für das Produktdatenblatt</p>
</li>
</ul>
</div>
</li>
<li>
<p>Gehe nach der Erstellung des Merkmals in den Tab <strong>Sichtbarkeit</strong> und schalte es für die Herkunft <strong>Hood</strong> frei.</p>
</li>
<li>
<p>Hinterlege das Merkmal an der Hauptvariante deines Artikels und lade das entsprechende Label oder Datenblatt als Datei hoch.</p>
</li>
<li>
<p>Aktualisiere das aktive Listing mit der Option <strong>Produktdetails</strong>, um die Dateien an Hood zu übertragen.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Ab jetzt wird beim Installieren, Aktualisieren, Deaktivieren und Löschen von Plugins geprüft, ob es andere Plugins gibt, die das Plugin voraussetzen. Besteht eine Abhängigkeit, wird ein entsprechender Warnhinweis angezeigt.</p>
<div class="paragraph">
<p>Beim Installieren und Aktualisieren wird die Version des Plugins geprüft, die für die Installation bzw. das Update ausgewählt ist.</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/plugin-deaktivieren-warnung.png" alt="Eine Warnung wird angezeigt" width="640" height="wenn man versucht das Plugin IO zu aktivieren"></span></p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_crm_3" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Die Reihenfolge der auswählbaren Kundenklassen ist jetzt in der Auswahl nach festgelegter Position sortiert und nicht mehr nach ID.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_artikel" class="discrete">Artikel</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn eine Eigenschaft mehr als eine Sprache hatte, dann wurde der Name im Verknüpfungsbaum nicht angezeigt, dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein Standard-Sender oder ein Standard-Empfänger für die Umbuchung sowie die Nachbestellung gesetzt wurde, bleiben die Pflichtfelder Sender und Empfänger dennoch leer. Dies wurde nun behoben, wenn Standardwerte gesetzt wurden, werden diese korrekt übernommen.</p>
</li>
</ul>
</div>
<h3 id="_zahlungsarten" class="discrete">Zahlungsarten</h3>
<div class="ulist">
<ul>
<li>
<p>Die Einstellung <strong>Lastschrift erlauben</strong> am Kontakt hatte nicht für das Lastschrift-Plugin funktioniert. Das wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaynba_6141" target="_blank" rel="noopener">eBay NBA</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.5.1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Zur Nutzung des Feedback-Plugins muss Ceres v5.0 oder höher installiert sein.</p>
</li>
<li>
<p>Nach dem Update auf v3.5.1 müssen Widgets im Menü <strong>CMS » ShopBuilder</strong> durch Klick auf <strong>Inhalte neu generieren</strong> aktualisiert werden.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div></div>
</main>