<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 12. August 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 06. August 2020 bis zum 12. August 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_neckermann_at" class="discrete">Neckermann.at</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Artikel » Artikel Bearbeiten » Artikel öffnen » Tab: Multi-Channel » Bereich: Neckermann.at Enterprise</strong> wurden neue Provisionsmodelle ergänzt: <code>285A</code>.</p>
</li>
</ul>
</div>
<h3 id="_versand" class="discrete">Versand</h3>
<div class="ulist">
<ul>
<li>
<p>Wie in <a href="https://forum.plentymarkets.com/t/ankuendigung-umzug-versanddienstleister-logs-announcement-moving-the-shipping-service-provider-logs/594821" target="_blank" rel="noopener">diesem Beitrag im Forum</a> bereits angekündigt, wurden die Logs aus dem Bereich <strong>Daten » API-Log » Versand Center API-Log</strong> in den Log-Bereich <strong>Daten » Log</strong> umgezogen. Übergangsweise stehen die Logs in beiden Log-Bereichen zur Verfügung.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_nachbestellungen" class="discrete">Nachbestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Die Einstellungen <strong>Standard-Sender</strong> und <strong>Standard-Empfänger</strong> können auf keine Auswahl zurückgesetzt werden.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 07.08.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/lhubYZUkbcGeCepjQMcoZWIvwuh.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a></p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben das Limit der maximal nutzbaren Buttons in Dialogen in den Prozessen auf 20 angehoben und die Dialogfenster etwas breiter gemacht.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aktionsmanager" class="discrete">Aktionsmanager</h3>
<div class="ulist">
<ul>
<li>
<p>Im Aktionsmanager beim Mandanten Filter wird nun der Name angezeigt, wenn keine Domain festgelegt ist.</p>
</li>
</ul>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Im täglichen Bericht für VCS Amazon (gilt nicht für VCS Lite / VCS plentymarkets) wurden teilweise nur Transaktionen vom Typ <code>RETURN</code> mit der externen Gutschriftennummer übergeben und keine Transaktionen vom Typ <code>REFUND</code>. Dadurch können seit der <a href="https://forum.plentymarkets.com/t/amazon-gutschriftenimport-mit-vcs-berichten-credit-note-import-with-vcs-reports/597511" target="_blank" rel="noopener">Umstellung des Gutschriftenimports auf VCS am 02. Juli</a> in beta bzw. dem jeweiligen Release-Datum in den anderen Versionen, Gutschriften und Gutsschriftdokumente fehlen. Der Import und Korrekturbericht von Gutschriften wurde nun so angepasst, dass wenn nötig auch die Transaktionen vom Typ <code>RETURN</code> als Gutschriften importiert werden.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Wenn du VCS Amazon benutzt, führe bitte folgende Schritte durch, um sicherzugehen, dass dir keine Gutschriften für den Juli fehlen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gehe in dein Seller Central unter <strong>Berichte » Steuerdokumente » Tab: Amazon Umsatzsteuerberechnung</strong>.</p>
</li>
<li>
<p>Wähle <strong>USt.-Berechnungen</strong> als Berichtstyp.</p>
</li>
<li>
<p>Fordere rückwirkend von heute, dem 06.08.2020, bis zum 02.07.2020 <strong>pro Woche</strong> einen neuen Bericht an. Bitte erstelle keine Berichte für größere Perioden, da dies abhängig von deinen Auftragszahlen sonst zu Problemen bei der Verarbeitung führen könnte.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/seller-central-berichte.png" alt="Einstellungen auf Amazon Seller Central." width="640"></span></p>
</div>
<div class="paragraph">
<p>Die erzeugten Berichte werden automatisch in einem stündlichen Prozess abgerufen und verarbeitet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
<li>
<p>Beim Import der VCS-Berichte konnte es vorkommen, dass Aufträge nicht zugeordnet werden konnten, weil ein weiterer Auftrag mit der gleichen Externen Auftrags-ID existiert, der eine andere Auftragsherkunft als Amazon hat, z.B. weil der Auftrag manuell angelegt wurde. Dieses Problem wurde behoben.</p>
</li>
<li>
<p>Weil Transaktionen im VCS-Bericht eine Menge hatten, obwohl nur Versandkosten erstattet wurden, konnte es bei der Zuordnung der Auftragsartikel zu Problemen kommen, da die Positionen bereits in einer anderen Transaktion erstattet wurden. Dieses Problem wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der Auftragssuche wurden Aufträge mit einigen bestimmten Zahlungsarten (z.B. Frugoo, Cdiscount) nicht korrekt angezeigt. Dies wurde behoben.</p>
</li>
<li>
<p>Der in der Auftragsansicht dargestellte Link für Bestellungen mit der Herkunft Amazon öffnete nicht mehr den Auftrag im Amazon Seller Central. Mittlerweile wurde dieser Link angepasst, so dass dieser zukünftig wieder korrekt die Bestellung öffnet.</p>
</li>
<li>
<p>Bei Anlage von Retouren und Gutschriften konnte es passieren, dass nicht der gültige Steuersatz für Auftragspositionen aus dem Hauptauftrag übernommen, sondern der zum Eingabedatum der Retoure/Gutschrift gültige Steuersatz verwendet wurde. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_cdiscount" class="discrete">CDiscount</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn unter <strong>Einrichtung » Aufträge » Einstellungen</strong> für Zuordnung des Lagers die Option <strong>b) pro Artikelposition kann ein Lager zugeordnet werden</strong> gewählt wurde, konnte dies dazu führen, dass den Auftragsartikeln bei Aufträgen mit der Herkunft <code>143.02 - Cdiscount.com C Logistique</code> nicht das korrekte Lager gemäß <strong>Einrichtung » Märkte » Cdiscount » Einstellungen » Tab: Einstellungen » Bereich: Auftragseinstellungen » Option: Cdiscount C Logistique Auftragslage</strong> zugeordnet wurde. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Umwandeln von Gastbestellern zu regulären Kundenkonten wurde keine Fehlermeldung ausgegeben, wenn die E-Mail-Adresse des Gastes bereits für einen bestehenden Kunden genutzt wird. Dieser Fehler wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Das Importieren von Varianten bei denen die Variantennummer automatisch generiert wird, hat zu einem Fehler geführt. Dadurch wurden einige Werte nicht importiert.</p>
</li>
<li>
<p>Die Aktionen in jeder Zuordnung werden nun wieder nacheinander abgearbeitet. Dadurch lässt sich z.B. die Vererbung am Ende eines Imports wieder wie gewohnt aktivieren.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Zuordnung der Sprache wird ab sofort wieder automatisch ein Standardwert ausgegeben.</p>
</li>
</ul>
</div>
<h3 id="_nachbestellungen_2" class="discrete">Nachbestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Keine Fehlermeldung mehr, wenn man die Einstellungen speichert, ohne einen Standard-Sender anzugeben.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Standard-Container-Verknüpfungen sind jetzt abhängig vom Plugin-Set, in dem das Plugin installiert ist.</p>
<div class="paragraph">
<p>Das bedeutet für dich, dass sich Standard-Container-Verknüpfungen nicht gegenseitig überschreiben, wenn ein Plugin in mehreren Plugin-Sets installiert ist.</p>
</div>
</li>
<li>
<p>Ab jetzt werden beim Installieren und Aktualisieren von Plugins das Markdown der zugehörigen Dokumente im Backend formatiert ausgegeben. Davon betroffen sind die Anleitung, der Changelog und die Support-Informationen.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/plugin-changelog-markdown.png" alt="Eine Changelog-Datei mit formatiertem Markdown im Backend." width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_prozesse_2" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Artikel werden nun mit korrekter Menge erfasst, auch wenn sie nicht zum gleichen Zeitpunkt gescannt wurden.</p>
</li>
<li>
<p>Beim Hinzufügen von Artikeln zu einer Retoure wird die Menge standardmäßig auf 1 festgesetzt.</p>
</li>
<li>
<p>Bundle-Artikel werden nun korrekt zurückgebucht.</p>
</li>
<li>
<p>Das Erstellen einer Retoure aus einer Gewährleistung heraus ist nun wieder möglich.</p>
</li>
<li>
<p>Die Sortierung der Adressetiketten wurde nicht korrekt gespeichert und geladen. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_webshop" class="discrete">Webshop</h3>
<div class="ulist">
<ul>
<li>
<p>Die Suche nach dem Variantennamen im Shop ist wieder möglich.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort ist es möglich, Eingabefelder innerhalb einer Komponente nebeneinander zu positionieren. Mit diesem ersten Versuch geben wir euch eine bestimmte Auswahl an Kombinationen, welche durch ein einfaches Handling innerhalb der Komponenten-Einstellungen untereinander oder nebeneinander angeordnet werden können.</p>
<div class="paragraph">
<p>Für den <strong>Titel</strong> und die Kontaktoption <strong>Webseite</strong> stehen nun weitere Eingabefelder zur Verfügung und können im Bearbeitungsmodus den Kontaktdetails zugeordnet werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist nun möglich die ID des Elternauftrages zu importieren. Dafür wurde die Zuordnung, für den Import von Aufträgen, um ein neues Datenfeld erweitert.</p>
<div class="paragraph">
<p>Diese ID wird zukünftig benötigt um Lieferaufträge, Reparaturen und Gewährleistungen korrekt zu importieren, da diese Auftragstypen einem Hauptauftrag zugeordnet sein müssen.</p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort kann beim Kopieren eines Kataloges die Sprache geändert werden.</p>
</li>
</ul>
</div>
<h3 id="_myview" class="discrete">MyView</h3>
<div class="ulist">
<ul>
<li>
<p>Die MyView verfügt ab sofort über eine Schaltfläche, mit der zuletzt durchgeführte Änderungen rückgängig gemacht werden können. Bisher werden in der Historie die 10 letzten Änderungen gespeichert. Pro Klick gelangt man einen Schritt zurück und kann so zum gewünschten Zustand der View zurückkehren. Dies ist allerdings nur möglich, solange die Änderungen nicht gespeichert wurden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Anzeige der UmStID an der Rechnungsadresse wird nicht angezeigt bei Inlandsendungen. Dies hat nicht korrekt funktioniert, wenn der Standard-Standort nicht dem Systemland entspricht. Dies wurde behoben.</p>
</li>
<li>
<p>Um einen Lieferanten in einer Umbuchung hinzuzufügen, waren mindestens zwei im System angelegte Lieferanten erforderlich. Dies wurde nun behoben, ein Lieferant kann zugeordnet werden, auch wenn nur einer im System gespeichert ist.</p>
</li>
</ul>
</div>
<h3 id="_crm_3" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der manuellen Auftragsanlage wurden E-Mail und Telefonnummer nur in die Rechnungsadresse übernommen; die Lieferadresse wurde ohne Kontaktoptionen angelegt. Dies wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_paypal" class="discrete">PayPal</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte vorkommen, dass Zahlungen über die alte PayPal Integration (nicht Plugin) doppelt importiert werden. Das wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourcereselectronic_5247" target="_blank" rel="noopener">Ceres Electronic</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.6.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EOL</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourcereselectronic5_6861" target="_blank" rel="noopener">Ceres Electronic v.5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfouritemquestions5_6876" target="_blank" rel="noopener">Fragen zum Artikel 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/easycredit_5109" target="_blank" rel="noopener">ratenkauf by EasyCredit</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div></div>
</main>