<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>BlogDesign</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section contains information on the functions and variables for designing blogs and the blog search function.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_functions">Global Template Functions</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-blogdesign-container-formblogfeedback">Container_FormBlogFeedback</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-blogdesign-getblogdesignblogarchiveslist">GetBlogDesignBlogArchivesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-blogdesign-getblogdesignblogcategorieslist">GetBlogDesignBlogCategoriesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-blogdesign-getblogdesignpreviewlist">GetBlogDesignPreviewList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-blogdesign-getblogdesignpreviewlist2">GetBlogDesignPreviewList2</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-blogdesign-link-blog">Link_Blog</a> — Returns the link to a blog.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$BlogDesignPreviewList_Category</p>
</li>
<li>
<p>$BlogName — Contains the blog’s name.</p>
</li>
<li>
<p>$Container_BlogArchivesList</p>
</li>
<li>
<p>$Container_BlogCategoriesList</p>
</li>
<li>
<p>$Container_BlogDesignPreviewList</p>
</li>
<li>
<p>$Container_BlogDesignPreviewList2</p>
</li>
<li>
<p>$Container_BlogLinkCloud</p>
</li>
</ul>
</div>
</div>
</div>
</main>