<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>BlogEntry</h1><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$AuthorImage</p>
</li>
<li>
<p>$Body</p>
</li>
<li>
<p>$Category</p>
</li>
<li>
<p>$ID</p>
</li>
<li>
<p>$Inserted</p>
</li>
<li>
<p>$Lang</p>
</li>
<li>
<p>$LastBlogId</p>
</li>
<li>
<p>$LastBlogTitle</p>
</li>
<li>
<p>$MetaDescription</p>
</li>
<li>
<p>$Multishop</p>
</li>
<li>
<p>$NextBlogId</p>
</li>
<li>
<p>$NextBlogTitle</p>
</li>
<li>
<p>$ParsePlaceholder</p>
</li>
<li>
<p>$Pingback</p>
</li>
<li>
<p>$Preview</p>
</li>
<li>
<p>$TagLinks</p>
</li>
<li>
<p>$TagString</p>
</li>
<li>
<p>$Tags</p>
</li>
<li>
<p>$Title</p>
</li>
<li>
<p>$User</p>
</li>
</ul>
</div>
</div>
</div>
</main>