<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>CategoryView</h1><div class="sect1">
<h2 id="_global_template_functions">Global Template Functions</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-categoryview-categorycontentbody">CategoryContentBody</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>