<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Category</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The functions and variables for designing categories of the type Content.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_functions">Global Template Functions</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category-editorace">EditorAce</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category-filegetdocument">FileGetDocument</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category-form">Form</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category-getitemviewitemparamslist">GetItemViewItemParamsList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category-scheduler-dateselector">Scheduler_DateSelector</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category-scheduler-interval">Scheduler_Interval</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category-scheduler-repeating">Scheduler_Repeating</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$ASIN</p>
</li>
<li>
<p>$ActionId</p>
</li>
<li>
<p>$Attribute</p>
</li>
<li>
<p>$AttributeExist</p>
</li>
<li>
<p>$AvailabilityIcon</p>
</li>
<li>
<p>$AvailabilityId</p>
</li>
<li>
<p>$AvailabilityString</p>
</li>
<li>
<p>$BasePrice</p>
</li>
<li>
<p>$BasePriceLot</p>
</li>
<li>
<p>$BasePriceUnit</p>
</li>
<li>
<p>$CategoryId[Level1]</p>
</li>
<li>
<p>$CategoryId[Level2]</p>
</li>
<li>
<p>$CategoryId[Level3]</p>
</li>
<li>
<p>$CategoryId[Level4]</p>
</li>
<li>
<p>$CategoryId[Level5]</p>
</li>
<li>
<p>$CategoryId[Level6]</p>
</li>
<li>
<p>$CategoryName — Contains the category name.</p>
</li>
<li>
<p>$CommodityCode</p>
</li>
<li>
<p>$Condition</p>
</li>
<li>
<p>$CountryCodeOrigin</p>
</li>
<li>
<p>$CountryNameOrigin</p>
</li>
<li>
<p>$CreationDate</p>
</li>
<li>
<p>$DefaultShippingCost</p>
</li>
<li>
<p>$Description</p>
</li>
<li>
<p>$DescriptionFromCmsPage</p>
</li>
<li>
<p>$DescriptionShort</p>
</li>
<li>
<p>$DirectCrossID</p>
</li>
<li>
<p>$EAN</p>
</li>
<li>
<p>$ExpirationDate</p>
</li>
<li>
<p>$FSK</p>
</li>
<li>
<p>$FilterBreadcrumbs</p>
</li>
<li>
<p>$FlashHeight</p>
</li>
<li>
<p>$FlashURL</p>
</li>
<li>
<p>$FlashWidth</p>
</li>
<li>
<p>$FormCloseOrder</p>
</li>
<li>
<p>$FormOpenOrder</p>
</li>
<li>
<p>$Free[1]</p>
</li>
<li>
<p>$Free[2]</p>
</li>
<li>
<p>$Free[3]</p>
</li>
<li>
<p>$Free[4]</p>
</li>
<li>
<p>$Free[5]</p>
</li>
<li>
<p>$Free[6]</p>
</li>
<li>
<p>$Free[7]</p>
</li>
<li>
<p>$Free[8]</p>
</li>
<li>
<p>$Free[9]</p>
</li>
<li>
<p>$Free[10]</p>
</li>
<li>
<p>$Free[11]</p>
</li>
<li>
<p>$Free[12]</p>
</li>
<li>
<p>$Free[13]</p>
</li>
<li>
<p>$Free[14]</p>
</li>
<li>
<p>$Free[15]</p>
</li>
<li>
<p>$Free[16]</p>
</li>
<li>
<p>$Free[17]</p>
</li>
<li>
<p>$Free[18]</p>
</li>
<li>
<p>$Free[19]</p>
</li>
<li>
<p>$Free[20]</p>
</li>
<li>
<p>$Height</p>
</li>
<li>
<p>$HtmlDescription — Contains a category’s meta description.</p>
</li>
<li>
<p>$HtmlKeywords — Contains a category’s meta keywords.</p>
</li>
<li>
<p>$HtmlTitle — Contains a category’s meta title.</p>
</li>
<li>
<p>$ID</p>
</li>
<li>
<p>$ISBN</p>
</li>
<li>
<p>$InputHeight</p>
</li>
<li>
<p>$InputLength</p>
</li>
<li>
<p>$InputMeasureUnit</p>
</li>
<li>
<p>$InputWidth</p>
</li>
<li>
<p>$IsSubscriptionItem</p>
</li>
<li>
<p>$ItemAge</p>
</li>
<li>
<p>$ItemBranchId</p>
</li>
<li>
<p>$ItemParamBackEndName</p>
</li>
<li>
<p>$ItemParamGroupID</p>
</li>
<li>
<p>$ItemParamGroupName</p>
</li>
<li>
<p>$ItemParamID</p>
</li>
<li>
<p>$ItemParamIsSelected</p>
</li>
<li>
<p>$ItemParamName</p>
</li>
<li>
<p>$ItemParamSelection</p>
</li>
<li>
<p>$ItemParamType</p>
</li>
<li>
<p>$ItemParamValue</p>
</li>
<li>
<p>$ItemParamsList</p>
</li>
<li>
<p>$ItemParamsListItem</p>
</li>
<li>
<p>$ItemShipping[1]</p>
</li>
<li>
<p>$ItemShipping[2]</p>
</li>
<li>
<p>$KlarnaRate</p>
</li>
<li>
<p>$Length</p>
</li>
<li>
<p>$LimitOrderByStock</p>
</li>
<li>
<p>$LiveShoppingPrice</p>
</li>
<li>
<p>$LiveShoppingPriceDecimalSeparatorDot</p>
</li>
<li>
<p>$LiveShoppingPriceOriginal</p>
</li>
<li>
<p>$LiveShoppingPriceOriginalDynamic</p>
</li>
<li>
<p>$LiveShoppingQuantityRemaining</p>
</li>
<li>
<p>$Lot</p>
</li>
<li>
<p>$Model</p>
</li>
<li>
<p>$Name4URL</p>
</li>
<li>
<p>$Name[1]</p>
</li>
<li>
<p>$Name[2]</p>
</li>
<li>
<p>$Name[3]</p>
</li>
<li>
<p>$Number</p>
</li>
<li>
<p>$OrderQuantityInterval</p>
</li>
<li>
<p>$OrderQuantityMax</p>
</li>
<li>
<p>$OrderQuantityMin</p>
</li>
<li>
<p>$PackagingUnit</p>
</li>
<li>
<p>$Position</p>
</li>
<li>
<p>$Price</p>
</li>
<li>
<p>$PriceDecimalSeparatorDot</p>
</li>
<li>
<p>$PriceDynamic</p>
</li>
<li>
<p>$PriceID</p>
</li>
<li>
<p>$Producer</p>
</li>
<li>
<p>$ProducerAddressCity</p>
</li>
<li>
<p>$ProducerAddressCountryID</p>
</li>
<li>
<p>$ProducerAddressCountryName</p>
</li>
<li>
<p>$ProducerAddressHouseNo</p>
</li>
<li>
<p>$ProducerAddressStreet</p>
</li>
<li>
<p>$ProducerAddressZip</p>
</li>
<li>
<p>$ProducerEmail</p>
</li>
<li>
<p>$ProducerExternalName</p>
</li>
<li>
<p>$ProducerExternalNameSearchLink</p>
</li>
<li>
<p>$ProducerFax</p>
</li>
<li>
<p>$ProducerLogo</p>
</li>
<li>
<p>$ProducerPhone</p>
</li>
<li>
<p>$ProducerSearchLink</p>
</li>
<li>
<p>$ProducerURL</p>
</li>
<li>
<p>$RRP</p>
</li>
<li>
<p>$RRPDecimalSeparatorDot</p>
</li>
<li>
<p>$RRPDynamic</p>
</li>
<li>
<p>$Rating</p>
</li>
<li>
<p>$RatingCount</p>
</li>
<li>
<p>$RatingImage</p>
</li>
<li>
<p>$RatingMax</p>
</li>
<li>
<p>$RebateAvailable</p>
</li>
<li>
<p>$ReleaseDate</p>
</li>
<li>
<p>$Saving</p>
</li>
<li>
<p>$SavingDecimalSeparatorDot</p>
</li>
<li>
<p>$SavingDynamic</p>
</li>
<li>
<p>$SavingDynamicDecimalSeparatorDot</p>
</li>
<li>
<p>$SavingDynamicPercent</p>
</li>
<li>
<p>$SavingPercent</p>
</li>
<li>
<p>$ShortName</p>
</li>
<li>
<p>$ShowFilterItem</p>
</li>
<li>
<p>$Size</p>
</li>
<li>
<p>$TechnicalData</p>
</li>
<li>
<p>$TellAFriendBox</p>
</li>
<li>
<p>$TreepodiaVideoAutoplay</p>
</li>
<li>
<p>$TreepodiaVideo[1]</p>
</li>
<li>
<p>$TreepodiaVideo[2]</p>
</li>
<li>
<p>$UnitString</p>
</li>
<li>
<p>$UnitString[1]</p>
</li>
<li>
<p>$UnitString[2]</p>
</li>
<li>
<p>$VAT</p>
</li>
<li>
<p>$VATHint</p>
</li>
<li>
<p>$VariationID</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[1]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[2]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[3]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[4]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[5]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[6]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[7]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[8]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[9]</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[10]</p>
</li>
<li>
<p>$VolumePrice[1]</p>
</li>
<li>
<p>$VolumePrice[2]</p>
</li>
<li>
<p>$VolumePrice[3]</p>
</li>
<li>
<p>$VolumePrice[4]</p>
</li>
<li>
<p>$VolumePrice[5]</p>
</li>
<li>
<p>$VolumePrice[6]</p>
</li>
<li>
<p>$VolumePrice[7]</p>
</li>
<li>
<p>$VolumePrice[8]</p>
</li>
<li>
<p>$VolumePrice[9]</p>
</li>
<li>
<p>$VolumePrice[10]</p>
</li>
<li>
<p>$Volumen</p>
</li>
<li>
<p>$Votes</p>
</li>
<li>
<p>$Weight</p>
</li>
<li>
<p>$WeightNet</p>
</li>
<li>
<p>$Width</p>
</li>
</ul>
</div>
</div>
</div>
</main>