<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Checkout</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section contains information on the functions and variables for designing the order process, e.g. shopping cart, invoice address and the selection of the payment method.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_functions">Global Template Functions</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-basketitempriceselect">BasketItemPriceSelect</a> — Returns the possibility to select a price set of an item in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-basketitempriceselectname">BasketItemPriceSelectName</a> — Returns the form name for selecting the price set of an item in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-basketitemquantityinput">BasketItemQuantityInput</a> — Returns the form field for entering the quantity of an item in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-basketitemquantityinputname">BasketItemQuantityInputName</a> — Returns the name of the form field for entering the quantity of an item in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-basketproceedorderbutton">BasketProceedOrderButton</a> — Returns a button that redirects customers to the order overview once they have placed an item in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-basketproceedshoppingbutton">BasketProceedShoppingButton</a> — Returns a button that returns customers to the item page once they have placed the item in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-buttonbasketsave">ButtonBasketSave</a> — Returns a button for saving changes made to the items in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutagerestrictioncheckbox">CheckoutAgeRestrictionCheckbox</a> — Returns the check box for confirming the age.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutamazonpaymentsadvancedbutton">CheckoutAmazonPaymentsAdvancedButton</a> — Returns the button for Amazon Payments Advanced.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutamazonpaymentsadvancedreadaddress">CheckoutAmazonPaymentsAdvancedReadAddress</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutamazonpaymentsadvancedreadwallet">CheckoutAmazonPaymentsAdvancedReadWallet</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutamazonpaymentsbutton">CheckoutAmazonPaymentsButton</a> — Returns the button for Amazon Payments.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutattributeselection">CheckoutAttributeSelection</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutformsavebutton">CheckoutFormSaveButton</a> — Returns a button for saving a form within the order process.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutklarnatermsandconditionscheckbox">CheckoutKlarnaTermsAndConditionsCheckbox</a> — Returns a check box for accepting the Klarna terms and conditions.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutnewslettercheckbox">CheckoutNewsletterCheckbox</a> — Returns a check box for subscribing to a newsletter.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutnextordersteporderbutton">CheckoutNextOrderStepOrderButton</a> — Returns a button that takes customers to the next step of the order process.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutpaypalexpressbutton">CheckoutPayPalExpressButton</a> — Returns a button for PayPal Express Checkout.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutpayonedirectdebitmandatecheckbox">CheckoutPayoneDirectDebitMandateCheckbox</a> — Returns a check box for accepting the PAYONE debit order.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutpayoneinvoicecheckbox">CheckoutPayoneInvoiceCheckbox</a> — Returns a check box for accepting the PAYONE credit rating by Klarna.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutpostpaybutton">CheckoutPostPayButton</a> — Returns a button for the external checkout via POSTPAY.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutpreviousordersteporderbutton">CheckoutPreviousOrderStepOrderButton</a> — Returns a button that takes customers to the previous step of the order process.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutprivacypolicycheckbox">CheckoutPrivacyPolicyCheckbox</a> — Returns a check box for accepting the privacy rights.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutsteppageid">CheckoutStepPageID</a> — Returns the ID of the category for the order process step passed.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkouttermsandconditionscheckbox">CheckoutTermsAndConditionsCheckbox</a> — Returns a check box for accepting the general terms and conditions.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-checkoutwithdrawalcheckbox">CheckoutWithdrawalCheckbox</a> — Returns a check box for accepting the cancellation rights.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutamazonpaymentsadvancedaddresswidget">Container_CheckoutAmazonPaymentsAdvancedAddressWidget</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutamazonpaymentsadvancedpaymentwidget">Container_CheckoutAmazonPaymentsAdvancedPaymentWidget</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutbasketitemslist">Container_CheckoutBasketItemsList</a> — Returns the content of the list of items in the shopping cart. The content is defined in the CheckoutBasketItemsList template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutcoupon">Container_CheckoutCoupon</a> — Returns the content of the coupon container. The content is defined in the CheckoutCoupon template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutcrefopay">Container_CheckoutCrefoPay</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutcustomerinvoiceaddress">Container_CheckoutCustomerInvoiceAddress</a> — Returns the content of the invoice address container. The content is defined in the CheckoutCustomerInvoiceAddress template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutcustomershippingaddress">Container_CheckoutCustomerShippingAddress</a> — Returns the content of the delivery address container. The content is defined in the CheckoutCustomerShippingAddress template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutcustomershippingaddresslist">Container_CheckoutCustomerShippingAddressList</a> — Returns the content of the container for the list of delivery addresses. The content is defined in the CheckoutCustomerInvoiceAddressList template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutklarnacheckout">Container_CheckoutKlarnaCheckout</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutklarnapayment">Container_CheckoutKlarnaPayment</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutmethodsofpaymentlist">Container_CheckoutMethodsOfPaymentList</a> — Returns the content of the container for the list of payment methods. The content is defined in the CheckoutMethodsOfPaymentList template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutorderconfirmation">Container_CheckoutOrderConfirmation</a> — Returns the content of the order confirmation container. The content is defined in the CheckoutOrderConfirmation template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutorderparamslist">Container_CheckoutOrderParamsList</a> — Returns the content of the container for selecting order characteristics.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutpaypalplus">Container_CheckoutPayPalPlus</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutpaymentinformationbankdetails">Container_CheckoutPaymentInformationBankDetails</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutpaymentinformationcreditcard">Container_CheckoutPaymentInformationCreditCard</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutpayone">Container_CheckoutPayone</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutscheduler">Container_CheckoutScheduler</a> — Returns the content of the subscription container. The content is defined in the CheckoutScheduler template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutshippingcountrieslist">Container_CheckoutShippingCountriesList</a> — Returns the content of the container for the list of countries of delivery. The content is defined in the CheckoutShippingCountriesList template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkoutshippingprofileslist">Container_CheckoutShippingProfilesList</a> — Returns the content of the container for the list of shipping profiles. The content is defined in the CheckoutShippingProfilesList template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-container-checkouttotals">Container_CheckoutTotals</a> — Returns the content of the container for the list of total amounts. The content is defined in the CheckoutTotals template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-couponactiontypeinput">CouponActionTypeInput</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-couponcodeinput">CouponCodeInput</a> — Returns the form field for entering a coupon.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressadditional">CustomerInvoiceAddressAdditional</a> — Returns the form field for entering additional address information.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressbirthday">CustomerInvoiceAddressBirthDay</a> — Returns the form field for entering the day of birth in the format "DD".</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressbirthmonth">CustomerInvoiceAddressBirthMonth</a> — Returns the form field for entering the month of birth in the format "MM".</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressbirthyear">CustomerInvoiceAddressBirthYear</a> — Returns the form field for entering the year of birth in the format "YYYY".</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresscity">CustomerInvoiceAddressCity</a> — Returns the form field for entering the town.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresscompany">CustomerInvoiceAddressCompany</a> — Returns the form field for entering the company name.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresscountryselect">CustomerInvoiceAddressCountrySelect</a> — Returns options for selecting the country of delivery.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressemail">CustomerInvoiceAddressEmail</a> — Returns the form field for entering the email address.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressemailrepeat">CustomerInvoiceAddressEmailRepeat</a> — Returns the form field for re-entering the email address.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressfaxnumber">CustomerInvoiceAddressFaxNumber</a> — Returns the form field for entering the fax number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressfirstname">CustomerInvoiceAddressFirstName</a> — Returns the form field for entering the first name.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressformofaddressselect">CustomerInvoiceAddressFormOfAddressSelect</a> — Returns options for selecting the form of address.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressguestaccount">CustomerInvoiceAddressGuestAccount</a> — Returns a selection box for selecting a guest account.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresshouseno">CustomerInvoiceAddressHouseNo</a> — Returns the form field for entering the house number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresslastname">CustomerInvoiceAddressLastName</a> — Returns the form field for entering the surname.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressmobilenumber">CustomerInvoiceAddressMobileNumber</a> — Returns the form field for entering the mobile phone number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresspassword">CustomerInvoiceAddressPassword</a> — Returns the form field for entering the password.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresspasswordrepeat">CustomerInvoiceAddressPasswordRepeat</a> — Returns the form field for re-entering the password.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresspersonalid">CustomerInvoiceAddressPersonalID</a> — Returns the form field for entering the personal identity number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressphonenumber">CustomerInvoiceAddressPhoneNumber</a> — Returns the form field for entering the phone number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresspostident">CustomerInvoiceAddressPostIdent</a> — Returns the form field for entering the PostNummer.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressregisteraccount">CustomerInvoiceAddressRegisterAccount</a> — Returns a selection box for selecting a registered account.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressstateselect">CustomerInvoiceAddressStateSelect</a> — Returns options for selecting the state / province.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressstreet">CustomerInvoiceAddressStreet</a> — Returns the form field for entering the street.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddressvatnumber">CustomerInvoiceAddressVATNumber</a> — Returns the form field for entering the VAT number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customerinvoiceaddresszip">CustomerInvoiceAddressZIP</a> — Returns the form field for entering the postcode.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressadditional">CustomerShippingAddressAdditional</a> — Returns the form field for entering additional address information.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddresscity">CustomerShippingAddressCity</a> — Returns the form field for entering the town.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddresscompany">CustomerShippingAddressCompany</a> — Returns the form field for entering the company name.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddresscountryselect">CustomerShippingAddressCountrySelect</a> — Returns options for selecting the country of delivery.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressemail">CustomerShippingAddressEmail</a> — Returns the form field for entering the email address.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressfaxnumber">CustomerShippingAddressFaxNumber</a> — Returns the form field for entering the fax number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressfirstname">CustomerShippingAddressFirstName</a> — Returns the form field for entering the first name.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressformofaddressselect">CustomerShippingAddressFormOfAddressSelect</a> — Returns options for selecting the form of address.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddresshouseno">CustomerShippingAddressHouseNo</a> — Returns the form field for entering the house number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddresslastname">CustomerShippingAddressLastName</a> — Returns the form field for entering the surname.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressphonenumber">CustomerShippingAddressPhoneNumber</a> — Returns the form field for entering the phone number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddresspostident">CustomerShippingAddressPostIdent</a> — Returns the form field for entering the PostNummer.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressradio">CustomerShippingAddressRadio</a> — Returns a radio button for selecting the delivery address.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressstateselect">CustomerShippingAddressStateSelect</a> — Returns options for selecting the state / province.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressstreet">CustomerShippingAddressStreet</a> — Returns the form field for entering the street.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddressvatnumber">CustomerShippingAddressVATNumber</a> — Returns the form field for entering the VAT number.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-customershippingaddresszip">CustomerShippingAddressZIP</a> — Returns the form field for entering the postcode.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-formopencheckout">FormOpenCheckout</a> — Returns a form element that can be used for sending data from the order process.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-formatdecimalvalue">FormatDecimalValue</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-formatmonetaryvalue">FormatMonetaryValue</a> — Returns a formatted currency amount.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutaddresssuggestionresultslist">GetCheckoutAddressSuggestionResultsList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutbasketitemattributeslist">GetCheckoutBasketItemAttributesList</a> — Returns a list of attributes that belong to an item.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutbasketitemitemparamslist">GetCheckoutBasketItemItemParamsList</a> — Returns a list of characteristics that belong to an item.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutbasketitemorderparamslist">GetCheckoutBasketItemOrderParamsList</a> — Returns the current order characteristics of a shopping cart item.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutbasketitempricesetlist">GetCheckoutBasketItemPriceSetList</a> — Returns a list of price sets that belong to an item.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutbasketitemslist">GetCheckoutBasketItemsList</a> — Returns the content of the list of items in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutcoupon">GetCheckoutCoupon</a> — Returns the content of the coupon container.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutcreditcardproviderlist">GetCheckoutCreditCardProviderList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutcustomerinvoiceaddress">GetCheckoutCustomerInvoiceAddress</a> — Returns an object containing the invoice address data.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutcustomerpropertiesinput">GetCheckoutCustomerPropertiesInput</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutcustomerpropertieslist">GetCheckoutCustomerPropertiesList</a> — Returns an object containing the customer characteristics data.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutcustomerpropertyvalueslist">GetCheckoutCustomerPropertyValuesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutcustomershippingaddress">GetCheckoutCustomerShippingAddress</a> — Returns an object containing the delivery address data.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutcustomershippingaddresslist">GetCheckoutCustomerShippingAddressList</a> — Returns an object containing the list of shipping addresses.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutmethodsofpaymentlist">GetCheckoutMethodsOfPaymentList</a> — Returns an object containing the payment method data.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutorderconfirmation">GetCheckoutOrderConfirmation</a> — Returns an object containing the order confirmation data.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutorderconfirmationitemattributeslist">GetCheckoutOrderConfirmationItemAttributesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutorderconfirmationitemslist">GetCheckoutOrderConfirmationItemsList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutorderparambasketitemslist">GetCheckoutOrderParamBasketItemsList</a> — The list of the individual item variations that require order characteristics.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutorderparamgroupslist">GetCheckoutOrderParamGroupsList</a> — The list of required characteristics groups.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutorderparamvalueslist">GetCheckoutOrderParamValuesList</a> — The list of required characteristics.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutpaymentinformationbankdetails">GetCheckoutPaymentInformationBankDetails</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutpaymentinformationcreditcard">GetCheckoutPaymentInformationCreditCard</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutscheduler">GetCheckoutScheduler</a> — Returns the content of the subscription container.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutshippingaddresspostfinder">GetCheckoutShippingAddressPostfinder</a> — Returns a HTML container containing a list of Packstations and post offices.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutshippingaddresspostfinderlist">GetCheckoutShippingAddressPostfinderList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutshippingcountrieslist">GetCheckoutShippingCountriesList</a> — Returns a list of countries of delivery.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutshippingcountriesstateslist">GetCheckoutShippingCountriesStatesList</a> — Returns a list of a country’s states/counties.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckoutshippingprofileslist">GetCheckoutShippingProfilesList</a> — Returns a list of shipping profiles.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckouttotals">GetCheckoutTotals</a> — Returns a list of total shopping cart amounts.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckouttotalsmarkuplist">GetCheckoutTotalsMarkupList</a> — Returns the sum of the characteristics surcharges in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckouttotalsvatlist">GetCheckoutTotalsVatList</a> — Returns a list of VAT rates and amounts in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getcheckouttrustedshopsbuyerprotectionitem">GetCheckoutTrustedShopsBuyerProtectionItem</a> — Returns an object for displaying the Trusted Shops buyer protection Excellence item.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getexternalpaymentcancelbutton">GetExternalPaymentCancelButton</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getexternalpaymentproceedbutton">GetExternalPaymentProceedButton</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getiso2codebycountryid">GetISO2CodeByCountryID</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getiso3codebycountryid">GetISO3CodeByCountryID</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-getschedulerintervalrebateslist">GetSchedulerIntervalRebatesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-iseucountry">IsEUCountry</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-isexportdelivery">IsExportDelivery</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-isinvoiceaddressstatemandatory">IsInvoiceAddressStateMandatory</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-isshippingaddressstatemandatory">IsShippingAddressStateMandatory</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-link-methodofpaymentinfopage">Link_MethodOfPaymentInfoPage</a> — Returns a link to the info page of a specific payment method.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-link-setmethodofpayment">Link_SetMethodOfPayment</a> — Returns a link for setting the payment method.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-link-setshippingcountry">Link_SetShippingCountry</a> — Returns a link for setting the country of delivery.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-link-setshippingprofile">Link_SetShippingProfile</a> — Returns a link for setting the shipping profile.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-methodofpaymentcustomerbirthdateinput">MethodOfPaymentCustomerBirthdateInput</a> — Returns the input option for the customer’s date of birth.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-methodofpaymentselect">MethodOfPaymentSelect</a> — Returns options for selecting the payment method.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-placeorderbutton">PlaceOrderButton</a> — Returns a button to complete the order.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-postfinderbutton">PostfinderButton</a> — Returns a button for searching Packstations and post offices.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-savecheckoutcouponbutton">SaveCheckoutCouponButton</a> — Returns a button to display in the order overview that allows customers to redeem a coupon.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-savecheckoutschedulerbutton">SaveCheckoutSchedulerButton</a> — Returns a button to display in the order overview that allows customers to save a subscription.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-savecustomerinvoiceaddressbutton">SaveCustomerInvoiceAddressButton</a> — Returns a button to display in the order overview that allows customers to save the invoice address.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-savecustomershippingaddressbutton">SaveCustomerShippingAddressButton</a> — Returns a button to display in the order overview that allows customers to save the shipping address.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-schedulerdateinput">SchedulerDateInput</a> — Returns the input option for the subscription starting date.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-schedulerintervalselect">SchedulerIntervalSelect</a> — Returns the input option for the subscription interval.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-schedulerrepeatingselect">SchedulerRepeatingSelect</a> — Returns options for selecting the number of times the subscription order is to be repeated.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-shippingcountryselect">ShippingCountrySelect</a> — Returns options for selecting the country of delivery.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-shippingprofileselect">ShippingProfileSelect</a> — Returns options for selecting a shipping profile.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout-submitcustomershippingaddressbutton">SubmitCustomerShippingAddressButton</a> — Returns a button to save the shipping address entered.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$CheckoutAgeRestrictionCheckboxName — Returns the name attribute value for the check box for the proof of age.</p>
</li>
<li>
<p>$CheckoutBasketIsNet — Specifies whether item prices in the shopping cart are net prices.</p>
</li>
<li>
<p>$CheckoutBasketIsTinyBasket — Specifies whether the short order process applies if the order was placed on eBay.</p>
</li>
<li>
<p>$CheckoutCurrentStep — Returns the number of the current order step.</p>
</li>
<li>
<p>$CheckoutCustomerShippingAddressID — Returns the ID of the current delivery address.</p>
</li>
<li>
<p>$CheckoutCustomerSign — Contains the customer reference.</p>
</li>
<li>
<p>$CheckoutCustomerSignInputName — Returns the name attribute value for the field for entering the customer reference.</p>
</li>
<li>
<p>$CheckoutKlarnaTermsAndConditionsCheckboxInfo</p>
</li>
<li>
<p>$CheckoutKlarnaTermsAndConditionsCheckboxName — Returns the name attribute value for the check box for the Klarna terms and conditions.</p>
</li>
<li>
<p>$CheckoutMethodOfPaymentAdditionalContent — Returns additional content for the current payment method. E.g. additional fields that are directly transmitted by the payment provider.</p>
</li>
<li>
<p>$CheckoutMethodOfPaymentID — Contains the payment method’s ID.</p>
</li>
<li>
<p>$CheckoutMethodOfPaymentRedirectURL — Returns a URL of the current payment provider if this provider requested a redirect.</p>
</li>
<li>
<p>$CheckoutNewsletterCheckboxName — Returns the name attribute value for the check box of the newsletter registration.</p>
</li>
<li>
<p>$CheckoutOrderId</p>
</li>
<li>
<p>$CheckoutOrderInfoText — Contains any additional customer wishes.</p>
</li>
<li>
<p>$CheckoutOrderInfoTextInputName — Returns the name attribute value for the field for entering additional customer wishes.</p>
</li>
<li>
<p>$CheckoutPayoneDirectDebitMandateCheckboxInfo</p>
</li>
<li>
<p>$CheckoutPayoneDirectDebitMandateCheckboxName — Returns the name attribute value for the check box of the PAYONE debit order.</p>
</li>
<li>
<p>$CheckoutPayoneInvoiceCheckboxInfo</p>
</li>
<li>
<p>$CheckoutPayoneInvoiceCheckboxName — Returns the name attribute value for the check box of the PAYONE credit rating via Klarna.</p>
</li>
<li>
<p>$CheckoutPrivacyPolicyCheckboxName — Returns the name attribute value for the check box of the PAYONE debit order.</p>
</li>
<li>
<p>$CheckoutShippingCountryID — Returns the ID of the country of delivery.</p>
</li>
<li>
<p>$CheckoutShippingProfileID — Returns the ID of the delivery address.</p>
</li>
<li>
<p>$CheckoutTermsAndConditionsCheckboxName — Returns the name attribute value for the check box of the general terms and conditions.</p>
</li>
<li>
<p>$CheckoutWithdrawalCheckboxName — Returns the name attribute value for the check box for the cancellation rights.</p>
</li>
<li>
<p>$CouponCodeInputName — Returns the name attribute value for the field for entering the coupon code.</p>
</li>
<li>
<p>$CustomerShippingAddressSelectName — Contains the form name for selecting the delivery address.</p>
</li>
<li>
<p>$FormClosePlaceOrder — Returns a closing form element.</p>
</li>
<li>
<p>$FormOpenPlaceOrder — Returns a form element that can be used for placing the order.</p>
</li>
<li>
<p>$IsCheckoutBasketFSK18</p>
</li>
<li>
<p>$IsCustomerWithOpenOrders</p>
</li>
<li>
<p>$MethodOfPaymentCustomerBirthdateInputName — Contains the form name for entering the date of birth. This is required for some payment methods.</p>
</li>
<li>
<p>$MethodOfPaymentSelectName — Contains the form name for the payment method selection.</p>
</li>
<li>
<p>$MinimumOrderValue — Contains the current client’s minimum order value.</p>
</li>
<li>
<p>$ORDER_PARAMS_GROUP_TYPE_DEFAULT — Type of characteristics group without grouping of the subordinate characteristics.</p>
</li>
<li>
<p>$ORDER_PARAMS_GROUP_TYPE_MULTI — Type of characteristics group with grouping of the subordinate characteristics for multiple selection.</p>
</li>
<li>
<p>$ORDER_PARAMS_GROUP_TYPE_NONE — This type contains characteristics not assigned to any characteristics group.</p>
</li>
<li>
<p>$ORDER_PARAMS_GROUP_TYPE_SINGLE — Type of characteristics group with grouping of the subordinate characteristics for single selection.</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_EMPTY — Characteristics type "none". Order characteristics of this type should be displayed as check boxes.</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_FILE — Characteristics type "File".</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_FLOAT — Characteristics type "Decimal number".</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_INT — Characteristics type "Integer".</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_SELECTION — Characteristics type "Selection".</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_TEXT — Characteristics type "Text".</p>
</li>
<li>
<p>$SchedulerDateInputName — Contains the form name of the subscription order.</p>
</li>
<li>
<p>$SchedulerIntervalSelectName — Contains the form name of the interval selection.</p>
</li>
<li>
<p>$SchedulerRepeatingSelectName — Contains the form name for selecting the number of repetitions.</p>
</li>
<li>
<p>$ShippingCountrySelectName — Contains the form name of the country of delivery selection.</p>
</li>
<li>
<p>$ShippingProfileSelectName — Contains the form name of the shipping profile selection.</p>
</li>
<li>
<p>$TrustedShopsBuyerProtectionCheckboxName — Contains the form name for activating the Trusted Shops buyer protection.</p>
</li>
</ul>
</div>
</div>
</div>
</main>