<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ItemView</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section contains information on the functions and variables for designing item layouts, e.g. lists, product pages and the item search.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_functions">Global Template Functions</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-formitemfeedback">Container_FormItemFeedback</a> — Returns the template FormItemFeedback. This template is used to display a form in which customers can give feedback on items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewadvancedorderitemslist">Container_ItemViewAdvancedOrderItemsList</a> — Returns the template ItemViewAdvancedOrderItemsList. This template is used to display a list of preordered items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewadvancedorderitemslist2">Container_ItemViewAdvancedOrderItemsList2</a> — Returns the template ItemViewAdvancedOrderItemsList2. This template is used to display a list of preordered items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewadvancedorderitemslist3">Container_ItemViewAdvancedOrderItemsList3</a> — Returns the template ItemViewAdvancedOrderItemsList3. This template is used to display a list of preordered items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewadvancedorderitemsmultipageslist">Container_ItemViewAdvancedOrderItemsMultiPagesList</a> — Returns the template ItemViewAdvancedOrderItemsMultiPagesList. This template is used to display a multi-page list of preordered items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewbasketitemslist">Container_ItemViewBasketItemsList</a> — Returns the template ItemViewBasketItemsList. This template is used to display a list of shopping cart items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewbasketitemslist2">Container_ItemViewBasketItemsList2</a> — Returns the template ItemViewBasketItemsList2. This template is used to display a list of shopping cart items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewbasketpreviewlist">Container_ItemViewBasketPreviewList</a> — Returns the template ItemViewBasketPreviewList. This template is used to display a preview of shopping cart items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist">Container_ItemViewCategoriesList</a> — Returns the template ItemViewCategoriesList. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist2">Container_ItemViewCategoriesList2</a> — Returns the template ItemViewCategoriesList2. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist3">Container_ItemViewCategoriesList3</a> — Returns the template ItemViewCategoriesList3. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist4">Container_ItemViewCategoriesList4</a> — Returns the template ItemViewCategoriesList4. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist5">Container_ItemViewCategoriesList5</a> — Returns the template ItemViewCategoriesList5. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist6">Container_ItemViewCategoriesList6</a> — Returns the template ItemViewCategoriesList6. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist7">Container_ItemViewCategoriesList7</a> — Returns the template ItemViewCategoriesList7. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist8">Container_ItemViewCategoriesList8</a> — Returns the template ItemViewCategoriesList8. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist9">Container_ItemViewCategoriesList9</a> — Returns the template ItemViewCategoriesList9. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcategorieslist10">Container_ItemViewCategoriesList10</a> — Returns the template ItemViewCategoriesList10. This template is used to display items of a category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList</a> — Returns the template ItemViewCrossSellingItemsList. This template is used to display a list of cross-selling items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist2">Container_ItemViewCrossSellingItemsList2</a> — Returns the template ItemViewCrossSellingItemsList2. This template is used to display a list of cross-selling items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist3">Container_ItemViewCrossSellingItemsList3</a> — Returns the template ItemViewCrossSellingItemsList3. This template is used to display a list of cross-selling items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewfurtheritemslist">Container_ItemViewFurtherItemsList</a> — Returns the template ItemViewFurtherItemsList. This template allows you to change the layout of the items of an item list. This is achieved by applying a different template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewfurtheritemslist2">Container_ItemViewFurtherItemsList2</a> — Returns the template ItemViewFurtherItemsList2. This template allows you to change the layout of the items of an item list. This is achieved by applying a different template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewfurtheritemslist3">Container_ItemViewFurtherItemsList3</a> — Returns the template ItemViewFurtherItemsList3. This template allows you to change the layout of the items of an item list. This is achieved by applying a different template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewfurtheritemslist4">Container_ItemViewFurtherItemsList4</a> — Returns the template ItemViewFurtherItemsList4. This template allows you to change the layout of the items of an item list. This is achieved by applying a different template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewfurtheritemslist5">Container_ItemViewFurtherItemsList5</a> — Returns the template ItemViewFurtherItemsList5. This template allows you to change the layout of the items of an item list. This is achieved by applying a different template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewfurtheritemslist6">Container_ItemViewFurtherItemsList6</a> — Returns the template ItemViewFurtherItemsList6. This template allows you to change the layout of the items of an item list. This is achieved by applying a different template.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewitemtobasketconfirmationoverlay">Container_ItemViewItemToBasketConfirmationOverlay</a> — Returns the template ItemViewItemToBasketConfirmationOverlay. This template is used to display an overlay to confirm that the item was placed in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewitemsbypositionlist">Container_ItemViewItemsByPositionList</a> — Returns the template ItemViewItemsByPositionList. This template is used to display a list of items sorted in descending order by item position.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewitemsbypositionlist2">Container_ItemViewItemsByPositionList2</a> — Returns the template ItemViewItemsByPositionList2. This template is used to display a list of items sorted in descending order by item position.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewitemsbypositionmultipageslist">Container_ItemViewItemsByPositionMultiPagesList</a> — Returns the template ItemViewItemsByPositionMultiPagesList. This template is used to display a multi-page list of items sorted in descending order by item position.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlastseenlist">Container_ItemViewLastSeenList</a> — Returns the template ItemViewLastSeenList. This template is used to display a list of the last viewed items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlastseenlist2">Container_ItemViewLastSeenList2</a> — Returns the template ItemViewLastSeenList2. This template is used to display a list of the last viewed items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemslist">Container_ItemViewLatestItemsList</a> — Returns the template ItemViewLatestItemsList. This template is used to display a list of the latest items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemslist2">Container_ItemViewLatestItemsList2</a> — Returns the template ItemViewLatestItemsList2. This template is used to display a list of the latest items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemslist2bydate">Container_ItemViewLatestItemsList2ByDate</a> — Returns the template ItemViewLatestItemsList2ByDate. This template is used to display a list of the latest items sorted by date.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemslist3">Container_ItemViewLatestItemsList3</a> — Returns the template ItemViewLatestItemsList3. This template is used to display a list of the latest items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemslist3bydate">Container_ItemViewLatestItemsList3ByDate</a> — Returns the template ItemViewLatestItemsList3ByDate. This template is used to display a list of the latest items sorted by date.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemslistbydate">Container_ItemViewLatestItemsListByDate</a> — Returns the template ItemViewLatestItemsListByDate. This template is used to display a list of the latest items sorted by date.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemsmultipageslist">Container_ItemViewLatestItemsMultiPagesList</a> — Returns the template ItemViewLatestItemsMultiPagesList. This template is used to display a multi-page list of the latest items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemsmultipageslist2">Container_ItemViewLatestItemsMultiPagesList2</a> — Returns the template ItemViewLatestItemsMultiPagesList2. This template is used to display a multi-page list of the latest items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemsmultipageslist2bydate">Container_ItemViewLatestItemsMultiPagesList2ByDate</a> — Returns the template ItemViewLatestItemsMultiPagesList2ByDate. This template is used to display a multi-page list of the latest items sorted by date.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewlatestitemsmultipageslistbydate">Container_ItemViewLatestItemsMultiPagesListByDate</a> — Returns the template ItemViewLatestItemsMultiPagesListByDate. This template is used to display a multi-page list of the latest items sorted by date.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewliveshopping">Container_ItemViewLiveShopping</a> — Returns the template ItemViewLiveShopping. This template is used to display a live shopping view.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewliveshopping2">Container_ItemViewLiveShopping2</a> — Returns the template ItemViewLiveShopping2. This template is used to display a live shopping view.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewmanualselectionlist">Container_ItemViewManualSelectionList</a> — Returns the template ItemViewManualSelectionList. This template is used to display a list of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewmanualselectionlist2">Container_ItemViewManualSelectionList2</a> — Returns the template ItemViewManualSelectionList2. This template is used to display a list of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewmanualselectionlist3">Container_ItemViewManualSelectionList3</a> — Returns the template ItemViewManualSelectionList3. This template is used to display a list of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewmanualselectionlist4">Container_ItemViewManualSelectionList4</a> — Returns the template ItemViewManualSelectionList4. This template is used to display a list of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewmanualselectionlist5">Container_ItemViewManualSelectionList5</a> — Returns the template ItemViewManualSelectionList5. This template is used to display a list of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewmanualselectionlist6">Container_ItemViewManualSelectionList6</a> — Returns the template ItemViewManualSelectionList6. This template is used to display a list of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewrandomlist">Container_ItemViewRandomList</a> — Returns the template ItemViewRandomList. This template is used to display a list of randomly selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewsinglecrosssellingitem">Container_ItemViewSingleCrossSellingItem</a> — Returns the template ItemViewSingleCrossSellingItem. This template is used to display a single item view of a cross-selling item.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewsingleitem">Container_ItemViewSingleItem</a> — Returns the ItemViewSingleItem template. This template is used to display a single item view.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewsingleitem2">Container_ItemViewSingleItem2</a> — Returns the ItemViewSingleItem2 template. This template is used to display a single item view.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewsingleitem3">Container_ItemViewSingleItem3</a> — Returns the ItemViewSingleItem3 template. This template is used to display a single item view.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewsingleitem4">Container_ItemViewSingleItem4</a> — Returns the ItemViewSingleItem4 template. This template is used to display a single item view.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewsingleitem5">Container_ItemViewSingleItem5</a> — Returns the ItemViewSingleItem5 template. This template is used to display a single item view.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewspecialofferslist">Container_ItemViewSpecialOffersList</a> — Returns the ItemViewSpecialOffersList template. This template is used to display a list of special offer items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewspecialofferslist2">Container_ItemViewSpecialOffersList2</a> — Returns the ItemViewSpecialOffersList2 template. This template is used to display a list of special offer items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewspecialoffersmultipageslist">Container_ItemViewSpecialOffersMultiPagesList</a> — Returns the ItemViewSpecialOffersMultiPagesList template. This template is used to display a multi-page list of special offer items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewtopsellerslist">Container_ItemViewTopSellersList</a> — Returns the ItemViewTopSellersList template. This template is used to display a list of top-selling items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewtopsellerslist2">Container_ItemViewTopSellersList2</a> — Returns the ItemViewTopSellersList2 template. This template is used to display a list of top-selling items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewtopsellersmultipageslist">Container_ItemViewTopSellersMultiPagesList</a> — Returns the ItemViewTopSellersMultiPagesList template. This template is used to display a multi-page list of top-selling items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-yoochoose-recommendations">Container_YOOCHOOSE_Recommendations</a> — Corresponds to the template Container_ItemViewCrossSellingItemsList or Container_ItemViewCrossSellingItemsList2. However, the items that were recommended by YOOCHOOSE are used instead of the cross-selling items. Youchoose must be activated in the <strong>Setup » Client » Select client » Services » YOOCHOOSE</strong> menu.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getdeliverydate">GetDeliveryDate</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitempropertieslistbygroupid">GetItemPropertiesListByGroupId</a> — Returns an array of data fields for all characteristics of a characteristics group.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewadvancedorderitemslist">GetItemViewAdvancedOrderItemsList</a> — Returns an array of items that can be preordered.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewadvancedorderitemslist2">GetItemViewAdvancedOrderItemsList2</a> — Returns an array of items that can be preordered.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewadvancedorderitemslist3">GetItemViewAdvancedOrderItemsList3</a> — Returns an array of items that can be preordered.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewadvancedorderitemsmultipageslist">GetItemViewAdvancedOrderItemsMultiPagesList</a> — Returns an multi-page array of items that can be preordered. You can limit the number of items per page (optional) and only display items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewbasketitemslist">GetItemViewBasketItemsList</a> — Returns an array of the items in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewbasketitemslist2">GetItemViewBasketItemsList2</a> — Returns an array of the items in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewbasketpreviewlist">GetItemViewBasketPreviewList</a> — Returns an array with a preview of the items in the shopping cart.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist">GetItemViewCategoriesList</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist2">GetItemViewCategoriesList2</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist3">GetItemViewCategoriesList3</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist4">GetItemViewCategoriesList4</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist5">GetItemViewCategoriesList5</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist6">GetItemViewCategoriesList6</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist7">GetItemViewCategoriesList7</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist8">GetItemViewCategoriesList8</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist9">GetItemViewCategoriesList9</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcategorieslist10">GetItemViewCategoriesList10</a> — Returns an array of all item data associated with the current category.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcrosssellingitemslist">GetItemViewCrossSellingItemsList</a> — Returns an array of all item data defined as cross-selling items. Depending on the transfer parameters, the cross-selling items of the current item (SingleItem), of the last viewed item (LastSeenItem) or of the items in the shopping cart are returned.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcrosssellingitemslist2">GetItemViewCrossSellingItemsList2</a> — Returns an array of all item data defined as cross-selling items. Depending on the transfer parameters, the cross-selling items of the current item (SingleItem), of the last viewed item (LastSeenItem) or of the items in the shopping cart are returned.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcrosssellingitemslist3">GetItemViewCrossSellingItemsList3</a> — Returns an array of all item data defined as cross-selling items. Depending on the transfer parameters, the cross-selling items of the current item (SingleItem), of the last viewed item (LastSeenItem) or of the items in the shopping cart are returned.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcrosssellingitemslistbycharacter">GetItemViewCrossSellingItemsListByCharacter</a> — Returns an array of items that the specified characteristic is linked to. The item ID and the characteristic ID must be specified. This can be limited to displaying items of a particular cross-selling type (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewcrosssellingitemslistbytype">GetItemViewCrossSellingItemsListByType</a> — Returns an array of the items defined as cross-selling items with the specified cross-selling relationship. The item ID and the cross-selling type must be specified.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewitemparamslist">GetItemViewItemParamsList</a> — Returns an array with characteristics belonging to an item. The item ID must be specified.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewitemsbypositionlist">GetItemViewItemsByPositionList</a> — Returns an array of items sorted by item position.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewitemsbypositionlist2">GetItemViewItemsByPositionList2</a> — Returns an array of items sorted by item position.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewitemsbypositionmultipageslist">GetItemViewItemsByPositionMultiPagesList</a> — Returns an array of items sorted by item position. The list is displayed on several pages.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewitemslistbycharacter">GetItemViewItemsListByCharacter</a> — Returns an array of items that the specified characteristic is linked to.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlastseenlist">GetItemViewLastSeenList</a> — Returns an array of the last viewed items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlastseenlist2">GetItemViewLastSeenList2</a> — Returns an array of the last viewed items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemslist">GetItemViewLatestItemsList</a> — Returns an array of the latest items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemslist2">GetItemViewLatestItemsList2</a> — Returns an array of the latest items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemslist2bydate">GetItemViewLatestItemsList2ByDate</a> — Returns an array of the latest items sorted by date. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemslist3">GetItemViewLatestItemsList3</a> — Returns an array of the latest items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemslist3bydate">GetItemViewLatestItemsList3ByDate</a> — Returns an array of the latest items sorted by date. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemslistbydate">GetItemViewLatestItemsListByDate</a> — Returns an array of the latest items sorted by date. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemsmultipageslist">GetItemViewLatestItemsMultiPagesList</a> — Returns an multi-page array of the latest items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemsmultipageslist2">GetItemViewLatestItemsMultiPagesList2</a> — Returns an multi-page array of the latest items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemsmultipageslist2bydate">GetItemViewLatestItemsMultiPagesList2ByDate</a> — Returns an multi-page array of the latest items sorted by date. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewlatestitemsmultipageslistbydate">GetItemViewLatestItemsMultiPagesListByDate</a> — Returns an multi-page array of the latest items sorted by date.  This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewmanualselectionlist">GetItemViewManualSelectionList</a> — Returns an array of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewmanualselectionlist2">GetItemViewManualSelectionList2</a> — Returns an array of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewmanualselectionlist3">GetItemViewManualSelectionList3</a> — Returns an array of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewmanualselectionlist4">GetItemViewManualSelectionList4</a> — Returns an array of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewmanualselectionlist5">GetItemViewManualSelectionList5</a> — Returns an array of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewmanualselectionlist6">GetItemViewManualSelectionList6</a> — Returns an array of manually selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewrandomlist">GetItemViewRandomList</a> — Returns an array of randomly selected items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewspecialofferslist">GetItemViewSpecialOffersList</a> — Returns an array of the items defined as special offer items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewspecialofferslist2">GetItemViewSpecialOffersList2</a> — Returns an array of the items defined as special offer items.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewspecialoffersmultipageslist">GetItemViewSpecialOffersMultiPagesList</a> — Returns an array of the items defined as special offer items. The list is displayed on several pages.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewtopsellerslist">GetItemViewTopSellersList</a> — Returns an array of the top selling-items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewtopsellerslist2">GetItemViewTopSellersList2</a> — Returns an array of the top selling-items. This can be limited to displaying items of the current category (optional).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-getitemviewtopsellersmultipageslist">GetItemViewTopSellersMultiPagesList</a> — Returns an array of the top selling-items. The list is displayed on several pages. This can be limited to displaying items of the current category (optional).</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_templates">Templates</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-itemviewitemtobasketconfirmationcontainer">ItemViewItemToBasketConfirmationContainer</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST — Is a constant for changing the item view. Is equivalent to the setting <strong>ItemViewFurtherItemsList</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST2 — Is a constant for changing the item view. Is equivalent to the setting <strong>ItemViewFurtherItemsList2</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST3 — Is a constant for changing the item view. Is equivalent to the setting <strong>ItemViewFurtherItemsList3</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST4 — Is a constant for changing the item view. Is equivalent to the setting <strong>ItemViewFurtherItemsList4</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST5 — Is a constant for changing the item view. Is equivalent to the setting <strong>ItemViewFurtherItemsList5</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST6 — Is a constant for changing the item view. Is equivalent to the setting <strong>ItemViewFurtherItemsList6</strong>.</p>
</li>
<li>
<p>$CurrentItemId — Contains the current item’s ID.</p>
</li>
<li>
<p>$CurrentPage — Contains the current page’s page number.</p>
</li>
<li>
<p>$GROUP_ITEMS_BY_ATTRIBUTES — Is a constant for grouping items in the item category view. Is equivalent to the setting <strong>Grouping by attributes</strong>.</p>
</li>
<li>
<p>$GROUP_ITEMS_BY_VARIANT — Is a constant for grouping items in the item category view. Is equivalent to the setting <strong>Grouping by variations</strong>.</p>
</li>
<li>
<p>$GROUP_ITEMS_NO — Is a constant for variation grouping the item category view. Is equivalent to the setting <strong>No grouping</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_ID_DESC — Is a constant for sorting items. Is equivalent to the setting <strong>Item ID descending</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_NAME_ASC — Is a constant for sorting items. Is equivalent to the setting <strong>Item name ascending</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_NAME_DESC — Is a constant for sorting items. Is equivalent to the setting <strong>Item name descending</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_POSITION_ASC — Is a constant for sorting items. Is equivalent to the setting <strong>Item position ascending</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_POSITION_DESC — Is a constant for sorting items. Is equivalent to the setting <strong>Item position descending</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_PRICE_ASC — Is a constant for sorting items. Is equivalent to the setting <strong>Price in ascending order</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_PRICE_DESC — Is a constant for sorting items. Is equivalent to the setting <strong>Price in descending order</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_PRODUCER_NAME_ASC — Is a constant for sorting items. Is equivalent to the setting <strong>Manufacturer name ascending</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_PUBLICATION_DATE_ASC</p>
</li>
<li>
<p>$ITEM_SORTING_PUBLICATION_DATE_DESC</p>
</li>
<li>
<p>$ITEM_SORTING_RANDOM — Is a constant for sorting items. Is equivalent to the setting <strong>item_random</strong> and means items are sorted randomly.</p>
</li>
<li>
<p>$ITEM_SORTING_RELEASE_DATE_ASC — Is a constant for sorting items. Is equivalent to the setting <strong>Release date ascending</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_RELEASE_DATE_DESC — Is a constant for sorting items. Is equivalent to the setting <strong>Release date descending</strong>.</p>
</li>
</ul>
</div>
</div>
</div>
</main>