<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Misc</h1><div class="sect1">
<h2 id="_global_template_functions">Global Template Functions</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-misc-container-miscfeedbackslist">Container_MiscFeedbacksList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-misc-getmiscdateslist">GetMiscDatesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-misc-getmiscfaqslist">GetMiscFAQsList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-misc-getmiscfeedbackslist">GetMiscFeedbacksList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-misc-miscdateslist">MiscDatesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-misc-miscfaqslist">MiscFAQsList</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$ChoiceNominationVotesAvailable</p>
</li>
<li>
<p>$ChoiceNominationVotesTotal</p>
</li>
<li>
<p>$ChoiceNominationsAvailable</p>
</li>
<li>
<p>$ChoiceNominationsTotal</p>
</li>
</ul>
</div>
</div>
</div>
</main>