<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Navigation</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section contains information on designing all category navigations and on variables for the current navigation position (categories).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_functions">Global Template Functions</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-formcategoryfeedback">Container_FormCategoryFeedback</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationbreadcrumbslist">Container_NavigationBreadcrumbsList</a> — Returns the breadcrumbs navigation. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories">Container_NavigationCategories</a> — Returns the category navigation. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories2">Container_NavigationCategories2</a> — Returns the category navigation 2. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories3">Container_NavigationCategories3</a> — Returns the category navigation 3. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories4">Container_NavigationCategories4</a> — Returns the category navigation 4. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories5">Container_NavigationCategories5</a> — Returns the category navigation 5. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories6">Container_NavigationCategories6</a> — Returns the category navigation 6. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories7">Container_NavigationCategories7</a> — Returns the category navigation 7. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories8">Container_NavigationCategories8</a> — Returns the category navigation 8. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories9">Container_NavigationCategories9</a> — Returns the category navigation 9. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategories10">Container_NavigationCategories10</a> — Returns the category navigation 10. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategoriesstepbysteplist">Container_NavigationCategoriesStepByStepList</a> — Returns the reloading category list. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategoriesstepbysteplist2">Container_NavigationCategoriesStepByStepList2</a> — Returns the second reloading category list. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationcategoriessublevelselect">Container_NavigationCategoriesSublevelSelect</a> — Returns the category navigation in drop-down lists. Also allows you to set some parameters in advance so that they differ from the template settings.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-container-navigationfacetslist">Container_NavigationFacetsList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-findologicfiltercontainer">FindologicFilterContainer</a> — Returns the filters returned by Findologic.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-findologicheader">FindologicHeader</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationbreadcrumbslist">GetNavigationBreadcrumbsList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories2list">GetNavigationCategories2List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories3list">GetNavigationCategories3List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories4list">GetNavigationCategories4List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories5list">GetNavigationCategories5List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories6list">GetNavigationCategories6List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories7list">GetNavigationCategories7List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories8list">GetNavigationCategories8List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories9list">GetNavigationCategories9List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategories10list">GetNavigationCategories10List</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategorieslist">GetNavigationCategoriesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategoriesstepbysteplist">GetNavigationCategoriesStepByStepList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationcategoriesstepbysteplist2">GetNavigationCategoriesStepByStepList2</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationfacetvalueslist">GetNavigationFacetValuesList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationfacetvalueslistbycategory">GetNavigationFacetValuesListByCategory</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationfacetslist">GetNavigationFacetsList</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationfacetslistbyfacetids">GetNavigationFacetsListByFacetIDs</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-getnavigationpricefacet">GetNavigationPriceFacet</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-link-activatefacetvalue">Link_ActivateFacetValue</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-link-deactivatefacetvalue">Link_DeactivateFacetValue</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-link-resetfacetcategory">Link_ResetFacetCategory</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation-navigationfacetslistavailable">NavigationFacetsListAvailable</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$CATEGORY_TYPE_ALL</p>
</li>
<li>
<p>$CATEGORY_TYPE_CONTENT</p>
</li>
<li>
<p>$CATEGORY_TYPE_ITEMS</p>
</li>
<li>
<p>$CUSTOMER_SALUTATION_COMPANY — Constant returns the form of address "Company".</p>
</li>
<li>
<p>$CUSTOMER_SALUTATION_FAMILY — Constant returns the form of address "Family".</p>
</li>
<li>
<p>$CUSTOMER_SALUTATION_FEMALE — Constant returns the form of address "Ms.".</p>
</li>
<li>
<p>$CUSTOMER_SALUTATION_MALE — Constant returns the form of address "Mr.".</p>
</li>
<li>
<p>$CurrentCategoryDescription1/$CurrentCategoryDescription1[Level1] …​$CurrentCategoryDescription1[Level6] — Returns description 1 of the current category. By specifying a level, the descriptions of the higher-ranking categories can be displayed.</p>
</li>
<li>
<p>$CurrentCategoryDescription2/$CurrentCategoryDescription2[Level1] …​$CurrentCategoryDescription2[Level6] — Returns description 2 of the current category. By specifying a level, the descriptions of the higher-ranking categories can be displayed.</p>
</li>
<li>
<p>$CurrentCategoryID/$CurrentCategoryID[Level1] …​$CurrentCategoryID[Level6] — Returns the ID of the current category. By specifying a level, the IDs of the higher-ranking categories can be displayed.</p>
</li>
<li>
<p>$CurrentCategoryImageUrl — Contains the URL of the first category image. Image 1 is set in a category’s <strong>Documents</strong> tab.</p>
</li>
<li>
<p>$CurrentCategoryImageUrl2 — Contains the URL of the second category image. Image 2 is set in a category’s <strong>Documents</strong> tab.</p>
</li>
<li>
<p>$CurrentCategoryName/$CurrentCategoryName[Level1] …​$CurrentCategoryName[Level6] — Returns the name of the current category. By specifying a level, the names of the higher-ranking categories can be displayed.</p>
</li>
<li>
<p>$CurrentCategoryShortDescription/$CurrentCategoryShortDescription[Level1] …​$CurrentCategoryShortDescription[Level6] — Returns the short description of the current category. By specifying a level, the short descriptions of the higher-ranking categories can be displayed.</p>
</li>
<li>
<p>$CurrentCategoryType/$CurrentCategoryType[Level1] …​$CurrentCategoryType[Level6] — Returns the type of the current category, i.e. Content or Item. By specifying a level, the types of the higher-ranking categories can be displayed.</p>
</li>
<li>
<p>$CurrentCategoryURLName/$CurrentCategoryURLName[Level1] …​$CurrentCategoryURLName[Level6] — Returns the URL name of the current category. By specifying a level, the URL names of the higher-ranking categories can be displayed.</p>
</li>
<li>
<p>$CurrentSearchEngine</p>
</li>
<li>
<p>$DeepestCategoryLevelReached — Contains the information if the lowest category level has been reached or not.</p>
</li>
<li>
<p>$FACET_TYPE_DYNAMIC</p>
</li>
<li>
<p>$FACET_TYPE_PRICE</p>
</li>
<li>
<p>$FilterExistsAttributes — Contains the information if the attribute filter has been set or not.</p>
</li>
<li>
<p>$FilterExistsCat3</p>
</li>
<li>
<p>$FilterExistsProducer — Contains the information if a manufacturer filter has been set or not.</p>
</li>
<li>
<p>$Jump2FirstCategoryOfNextLevel — Contains a link to the first category of the subjacent level.</p>
</li>
<li>
<p>$NavigationFacetsActive</p>
</li>
<li>
<p>$SEARCH_ENGINE_DEFAULT</p>
</li>
<li>
<p>$SEARCH_ENGINE_FACETTED_SEARCH</p>
</li>
<li>
<p>$SEARCH_ENGINE_FACTFINDER</p>
</li>
<li>
<p>$SEARCH_ENGINE_FINDOLOGIC</p>
</li>
</ul>
</div>
</div>
</div>
</main>