<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einstieg: Ein Rundgang durch die Auftragsabwicklung</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dein Shop steht und die Auftragsabwicklung kann starten - erhalte einen kurzen Überblick über die wichtigsten Stationen. Von Auftragseingang bis hin zum Versand!</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/214834072" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Herzlich Willkommen und vielen Dank, dass du uns heute bei einem kurzen Unternehmensrundgang Gesellschaft leistest! Wir gehen heute auf Tour und schauen uns genau an, was denn eigentlich passiert, wenn ein Kunde einen Artikel gekauft hat. Also - man folge dem erhobenen Regenschirm!<br></p>
</div>
<div class="paragraph">
<p>Vom Warenkorb ab zur Kasse - nach Kaufabschluss landet der Auftrag automatisch in deinem plentymarkets System natürlich samt allen wichtigen Infos dazu. Und das bringt uns auch zum ersten Stop auf unserer Tour - Willkommen in der
Buchhaltung! Hier wartet jetzt der Auftrag erstmal bis deine Kunden dafür bezahlt haben und der Zahlungseingang verbucht wurde.</p>
</div>
<div class="paragraph">
<p>Sobald das passiert ist, geht’s auch direkt weiter zur nächsten Station - nicht bummeln, einfach mir hinterher. Das Lager! Hier siehst du einen unserer fleißigen Lagermitarbeiter bei der Arbeit. Sein Job ist es, den Artikel im Lager zu finden und dann alle notwendigen Dokumente zu generieren, wie beispielsweise die Rechnung.</p>
</div>
<div class="paragraph">
<p>So, wenn der Artikel dann verpackt wurde wird er ab zum Kunden geschickt! Jetzt dauert es auch nicht mehr lange, bis dein Kunde seinen Fang in den Händen hält. Wie immer ist natürlich auch dieses Mal dieser Prozess elektronisch nachvollziehbar im plentymarkets System. Wenn der Kunde seinen neuen Artikel liebt, darf er bleiben - ansonsten wird er
wieder zurückgeschickt. Was dann? Dann wird eine Retoure eingeleitet. Sollte der Artikel defekt gewesen sein, dann solltest du ihn natürlich reparieren, bevor er wieder angeboten wird.<br></p>
</div>
<div class="paragraph">
<p>Und da sind wir schon am Ende - vielen Dank, dass du bei uns warst. Einen kleinen Überblick hast du nun bekommen, die restliche Zeit deines Besuchs
kannst du nun nutzen und dich etwas genauer umschauen. Snacks und Getränke stehen bereit - unsere Mitarbeiter werden sich freuen, dir alles zu erklären! Bis bald!</p>
</div>
</div>
</div>
</main>