<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Basic information about price calculation in plentymarkets</span></a></li>
<li><a href="#150"><span>2.</span><span> Setting up how prices are saved and rounded</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>2.1.</span><span> Example calculations</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Carrying out VAT settings</span></a>
<ul class="sectlevel2">
<li><a href="#320"><span>3.1.</span><span> Creating a new location</span></a></li>
<li><a href="#330"><span>3.2.</span><span> Deleting a location</span></a></li>
<li><a href="#350"><span>3.3.</span><span> Using the German small business owner regulation</span></a></li>
<li><a href="#400"><span>3.4.</span><span> Setting up how invoices are issued for deliveries within the EU</span></a>
<ul class="sectlevel3">
<li><a href="#450"><span>3.4.1.</span><span> Examples with the settings’ effect</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.5.</span><span> Issuing an invoice for export shipments</span></a></li>
<li><a href="#510"><span>3.6.</span><span> Applying the Reverse charge procedure</span></a></li>
<li><a href="#525"><span>3.7.</span><span> Delivery threshold and OSS</span></a></li>
<li><a href="#550"><span>3.8.</span><span> Setting up VAT rates</span></a></li>
<li><a href="#600"><span>3.9.</span><span> VAT for digital items</span></a></li>
</ul>
</li>
<li><a href="#620"><span>4.</span><span> Taric codes</span></a></li>
<li><a href="#650"><span>5.</span><span> Setting up posting keys, revenue and debtor accounts</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>5.1.</span><span> Setting up posting keys</span></a></li>
<li><a href="#750"><span>5.2.</span><span> Setting up debtor accounts</span></a></li>
<li><a href="#800"><span>5.3.</span><span> Setting up revenue accounts</span></a></li>
<li><a href="#820"><span>5.4.</span><span> Saving booking accounts for plentymarkets POS events3 and higher)</span></a></li>
</ul>
</li>
<li><a href="#850"><span>6.</span><span> Copying settings to other locations</span></a></li>
<li><a href="#900"><span>7.</span><span> Exporting accounting data</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Accounting</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Learn more about settings in plentymarkets that are relevant for your accounting. These settings include among others VAT rates, rounding settings, booking keys, revenue accounts, debtor accounts but also taric numbers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Basic information about price calculation in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The calculation of prices is based on the gross prices of variations. Based on this gross price, the net price of a variation is calculated for the order. To get the sums of the order items, the individual price of a variation is multiplied by the purchased quantity of the variation. This means that the gross sum of an order item is calculated by multiplying the individual gross price of an item by the quantity. The net sum of an order item is calculated from the determined net price rounded to 4 or 2 decimal places, multiplied by the purchased quantity of an item. The number of decimal places of the single net price is defined by your accounting settings. To get the VAT amount for an order item, the net sum is subtracted from the gross sum.<br>
Your settings determine when the price is rounded to 2 decimal places. Subsequent calculations are based on these rounded values. The settings in plentymarkets can lead to the following results:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Rounded individual prices</p>
</li>
<li>
<p>Rounded order item sums</p>
</li>
<li>
<p>Rounded totals</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="150">2. Setting up how prices are saved and rounded</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You carry out settings for saving and rounding prices in the <strong>Setup » Client » [Select client] » Locations » [Select location] » Accounting</strong> menu. These settings are dependent on the client and the location. For the calculation of prices in orders, the settings configured at the time of order creation are applied. This means that adaptations to the settings for saving and rounding prices are not applied to already existing orders.</p>
</div>
<div class="paragraph instruction">
<p>Setting up how prices are saved and rounded:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings according to the information provided in <a href="#table-rounding-and-saving-prices">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-rounding-and-saving-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for saving and rounding prices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-prices-decimals">Number of decimal places for prices</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select 2 or 4 decimal places.<br>
<strong>2</strong> = he prices in an order are saved with 2 decimal places. The indirect result of this setting is that the price of a single variation is rounded. The sums and totals of an order are then calculated based on the rounded individual prices of a variation.<br>
<strong>4</strong> = The prices in an order are saved with 4 decimal places. Selecting 4 decimal places has the effect that the sum of an order item is rounded by default. But in the background, the sums are saved with 4 decimal places without rounding, so that it remains possible to only round the totals later. If you do not want that the sums are rounded by default, you need to additionally activate the setting <strong>Round totals only</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-prices-rounding">Round totals only</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if you want that only the totals of an order are rounded. The sums of order items are no longer rounded by default if the setting is active. Totals refers to the total value of an order. When you look at the settings of the document template for invoices the settings that are affected are the ones that are listed under the sums heading.<br>
If the option is not activated and 4 decimal places are selected, then the sum of each order item is rounded.<br>
However, if 2 decimal places are selected, this setting has no influence on the rounding of prices.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="200">2.1. Example calculations</h3>
<div class="paragraph">
<p>The following section compares the different calculation methods and the results with the help of an example.<br>
In our example fabrics were sold. Several panels of the same fabric were bought, but with different widths. The widths are 50 cm and 30 cm. The 50 cm panel was bought 8 times and the 30 cm panel 7 times. 30 centimetres cost € 2.187 and 50 centimetres cost € 3.645. The prices are calculated based on a price of € 7.29 per metre. The settings that have be carried out to get one of the results are also listed in the table.</p>
</div>
<div id="image-comparison-price-rounding" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/CalculationMethodsCompared.png" alt="Rounding_prices" width="849" height="417">
</div>
<div class="title">Figure 1. Comparing price rounding methods</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Carrying out VAT settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The VAT settings are location-based. This means that you set different settings for each location. Locations are required for your registered business addresses or countries that you ship from. There are two locations per default in your system. These locations are Germany and United Kingdom. You need your own locations for the productive mode of your system.<br>
Your system differentiates between countries that are members of the European Union and non-EU countries. If you set up a location which is not within the EU, every delivery to another country is treated as export shipping. If your location is within the EU, it is differentiated between intra-community shipping and export shipping.<br>
The basic VAT relevant settings include settings that define how the system reacts for export shipping and how the VAT amount for shipping costs are displayed. For EU locations you can also define how the system reacts if a VAT ID is given in the order.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Do not use the example locations for real orders</div>
<div class="paragraph">
<p>The two locations Germany and United Kingdom are examples and are not meant for use in productive mode. It is best if you set up our own locations or at least edit the existing locations. When editing the existing locations you need to add at least a new VAT configuration with your correct VAT number and the correct VAT rates.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="320">3.1. Creating a new location</h3>
<div class="paragraph">
<p>Proceed as described below to create a new location. Furthermore you need to set one location as your <a href="/en/omni-channel/online-store/setting-up-clients#_configuration">Default location</a>. Your default location is your head office, so to speak.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new location:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigate to <strong>Setup » Client » [Select client] » Locations</strong>.</p>
</li>
<li>
<p>Select the menu entry <strong>New location</strong>.<br>
→ An editing window opens.</p>
</li>
<li>
<p>Enter the <strong>Name</strong> of the new location.</p>
</li>
<li>
<p>Select the <strong>Country</strong> of the new location. You can only choose from countries that are already defined as delivery countries in your plentymarkets system.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The location is added to the list of locations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Each location is divided into the following 3 submenus:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Settings</strong></p>
</li>
<li>
<p><strong>Accounting</strong></p>
</li>
<li>
<p><strong>Documents</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The submenu <strong>Settings</strong> contains the ID, the name and the country of the location. The <strong>Accounting</strong> submenu is divided into several tabs and the settings in those tabs are described in detail on this page starting with the <a href="#350">Using the German small business owner regulation</a>. In the <strong>Documents</strong> submenu you can set up documents per accounting location e.g. the delivery note or invoice. Fur further information, refer to the <a href="/en/orders/order-documents#600">Order documents</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="330">3.2. Deleting a location</h3>
<div class="paragraph">
<p>You can only delete a location if another location exists. It is not possible to delete the <a href="/en/omni-channel/online-store/setting-up-clients#_configuration">Default location</a>.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a location:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigate to <strong>Setup » Client » [Select client] » Locations</strong>.</p>
</li>
<li>
<p>Open the submenu <strong>Settings</strong> of the location you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ Confirm the security question to delete the location.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="350">3.3. Using the German small business owner regulation</h3>
<div class="paragraph">
<p>If you are a small business owner in Germany and you do not want that VAT is applied to your invoices, then activating a setting in your location settings is all you need to do. However, even though the VAT is not applied, you still need to save the correct VAT rates in your settings for a correctly functioning system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Small business owner setting only for systems with Germany as system country</div>
<div class="paragraph">
<p>The small business owner setting is only available if your system was set up with Germany as system country. The system country is a setting that you cannot access and that is selected based on the information that you provide when you order your plentymarkets system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Using the German small business owner regulation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Activate the option <strong>Small business owners (Germany only)</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Displaying small business owner information on invoices</div>
<div class="paragraph">
<p>As a small business owner you need to place information on your invoice why no VAT has been applied. You can use the note field on your invoice template for this information. The setting for small business owners does not automatically place a note on your invoice.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">3.4. Setting up how invoices are issued for deliveries within the EU</h3>
<div class="paragraph">
<p>For deliveries within the EU, you can choose whether customers with a VAT number receive a net invoice or a gross invoice. In many cases the information of the delivery’s recipient are of higher priority than the ones of the invoice’s recipient. The delivery address has to be in another EU country if you want to issue a net invoice. For deliveries within the same member state of the EU the setting are ignored and VAT is always applied. To prevent this, you have to enclose an entry certificate in the delivery and have to select this option in the order within the delivery address. If the customer does not have a VAT number, this means that it is a private purchase and that VAT is applied anyway. The only time VAT is not applied for private purchases is if you are a small business owner as described above.</p>
</div>
<div class="paragraph instruction">
<p>Setting up gross or net invoices for deliveries within the EU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a location in the <strong>System » Client » <em>Select client</em> » Locations » <em>Select location</em> » Accounting</strong> menu.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Select an option from the VAT number drop-down list. Pay attention to the information given in <a href="#table-intra-EU-invoices">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-intra-EU-invoices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Issuing invoices for deliveries within the EU</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only applies to deliveries within the EU.<br>
This setting does not have any effect for non-EU locations.<br>
<strong>Gross invoice</strong> = All invoices for deliveries within the EU are issued as gross.<br>
<strong>Net invoice</strong> = Invoices are issued without VAT for customers who have a VAT number.<br>
However, if the customer’s delivery address is in the same country as the accounting location, then VAT is calculated for the order regardless of the setting that you have chosen. German law permits orders to be issued as net for customers from other European countries who have a valid VAT number and provide a German delivery address, but an <a href="/en/orders/order-documents/generating-an-entry-certificate-gelangensbestaetigung">entry certificate</a> has to be be provided in this case. For this reason, the delivery address in an order as well as in the customer data includes the option <strong>Entry certificate</strong>. Activating this option in the order means that the entry certificate is applied once, for this order. Activating the option in the customer data means that the entry certificate is always applied for this delivery address of the customer. If you activate the <strong>Entry certificate</strong> option, then orders that are placed by customers in other European countries but shipped to a German delivery address is treated like shipments to foreign EU countries. The settings <strong>VAT number</strong> and <strong>Export shipping</strong> in this menu then determine whether the invoice is issued as gross or net. If the <strong>entry certificate</strong> is not active, then these orders are calculated as gross.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="450">3.4.1. Examples with the settings’ effect</h4>
<div class="paragraph">
<p>In the following section, 6 possible setting combinations and the effects are described.</p>
</div>
<div class="openblock collapseBox">
<div class="title">What is the result if the sender, the delivery’s recipient and the invoice recipient are in the same member state of the European Union and if the setting net invoice is selected?</div>
<div class="content">
<div class="paragraph">
<p>The invoice is always gross despite the selected setting.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">What is the result if the sender and the delivery’s recipient are in the same member state of the European Union, but the invoice recipient is in a different member state and if the setting net invoice is selected?</div>
<div class="content">
<div class="paragraph">
<p>The invoice is gross despite the selected setting. However, in this case a net invoice is actually allowed if the invoice recipient has a VAT number. An additional setting has be carried out to issue a net invoice. The entry certificate must be activated in the delivery address data of the order. The invoice is gross as long as the entry certificate setting is not activate. The entry certificate is an individual delivery address setting.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">What is the result if the sender and the invoice recipient are in the same member state of the European Union, but the delivery’s recipient is in a different member state and if the setting net invoice is selected?</div>
<div class="content">
<div class="paragraph">
<p>The invoice is net if the recipient of the delivery has a VAT number. The invoice recipient does not play a role in this scenario.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">What is the result if the sender is in one member state of the European Union, but the invoice recipient and the delivery’s recipient are in a different member state and if the setting net invoice is selected?</div>
<div class="content">
<div class="paragraph">
<p>The invoice is net as soon as either the recipient of the delivery or the recipient of the invoice has a VAT number. The invoice is gross if neither the recipient of the delivery nor the recipient of the invoice has a VAT number.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">What is the result if the sender is in one member state of the European Union, but the delivery’s recipient is in a different member state and the invoice recipient is in a country outside of the EU and if the setting net invoice is selected?</div>
<div class="content">
<div class="paragraph">
<p>The invoice is net as soon as either the recipient of the delivery or the recipient of the invoice has a VAT number. The invoice is gross if neither the recipient of the delivery nor the recipient of the invoice has a VAT number.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">What is the result if the sender is in one member state of the European Union, but the invoice recipient is in a different member state and the delivery’s recipient is in a country outside of the EU and if the setting net invoice is selected?</div>
<div class="content">
<div class="paragraph">
<p>In this case the delivery is an export shipment and the setting setting for export shipping is applied. The settings for export shippings are explained in the next section on this page.</p>
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">3.5. Issuing an invoice for export shipments</h3>
<div class="paragraph">
<p>For each accounting location you can individually define whether the invoice for export shipments is net or gross. The basic assumption is that your business is based in the European Union. The setting is applied if the delivery is sent to a country outside the European Union. Your customers receive an invoice without VAT if the invoice is net.</p>
</div>
<div class="paragraph instruction">
<p>Setting up gross or net invoices for export shipping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Select one option from the <strong>export shipping</strong> drop-down list. Pay attention to the information given in <a href="#table-export-shipping-invoices">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-export-shipping-invoices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Invoice settings for export shipping</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export shipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Net invoice</strong> = Invoices for export shipping are issued without VAT.<br>
This setting is ignored if VAT rates are saved for the export country. This means that the invoice is gross.<br>
<strong>Gross invoice</strong> = Invoices for export shipping are issued with VAT.<br>
Which VAT rate is applied depends on whether a VAT rate was set up for the delivery country. If you have set up VAT rates for the country of delivery, then these VAT rates are applied. If no VAT rates are set up for the country of delivery, then the VAT rates of the location are used.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="510">3.6. Applying the Reverse charge procedure</h3>
<div class="paragraph">
<p>The <strong>Reverse charge procedure in accordance with article 194 of the VAT Directive</strong> is a special VAT tax regulation. Is the procedure applied, the recipients (= your customers) are liable for VAT and not the merchant or company providing the service (= you as a merchant or your company). The reverse charge procedure is only applicable to B2B deliveries. If it is applied, it is necessary that</p>
</div>
<div class="ulist">
<ul>
<li>
<p>the VAT ID of the customer is added in the order.</p>
</li>
<li>
<p>a net invoice is issued for this customer.</p>
</li>
<li>
<p>a note stating that the reverse charge procedure is applied is displayed on this net invoice.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>This setting is dependent on location, which means that you can decide separately for each location if the procedure is to be applied. The Reverse charge procedure is by default deactivated, i.e. <strong>No</strong> is selected for every location. If you want to activate this option, go to the <strong>Setup » Client » [Select client] » Locations » [Select location] » Accounting » Tab: Basic settings</strong> menu and select <strong>Yes</strong> from the drop-down list. Take the explanation in <a href="#table-reverse-charge-procedure">Table 4</a> into consideration.</p>
</div>
<table id="table-reverse-charge-procedure" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Reverse charge procedure</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reverse charge procedure in accordance with article 194 of the VAT Directive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No (Default)</strong> = The reverse charge procedure is not applied.<br></p>
<p class="tableblock"><strong>Yes</strong> = The reverse charge procedure is applied. The prerequisite is that it is a B2B order and the customer’s VAT number is stated in the order. If you select <strong>Yes</strong>, the system automatically determines whether the requirements are met. The invoice will then be issued as a net invoice and the tax note that the reverse charge procedure is applied will be displayed on the invoice.<br>
<strong><em>Important</em></strong>: You have to add the tax note to your <a href="/en/orders/order-documents#intable-tax-note-three">document template for invoices</a> before issuing the first net invoice with the procedure applied. Enter the note in the document field <strong>Tax note 3</strong>. If you have document templates for different languages, you have to add hints separately to each of the templates.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="525">3.7. Delivery threshold and OSS</h3>
<div class="paragraph">
<p>From 01/07/2021 on, there are no more different delivery thresholds within the EU. Instead, a common delivery threshold of <strong>€ 10,000</strong> for all B2C deliveries applies.<br>
If you sell to other EU countries and exceed this delivery threshold, you are liable for VAT in other countries. How much VAT you have to pay in which countries depends on the individual transactions. The settlement of VAT for B2C deliveries can be handled centrally via the One-Stop-Shop (OSS) procedure and is then no longer carried out individually for each EU country. The reporting period here is always per quarter and the payment period ends 30 days after the end of the reporting period.<br>
In Germany, the Federal Central Tax Office is responsible for the OSS procedure. You can also <a href="https://www.elster.de/bportal/start?locale=en_US">register for OSS</a> directly with them. You can find all information about OSS <a href="https://www.bzst.de/EN/Businesses/businesses_node.html;jsessionid=145464722DEC78A89CDA8E5E3A86E335.live831">here</a>. Participating in the OSS is not compolsory. We recommend to discuss with your tac office whether participation makes sense for you.</p>
</div>
<div class="paragraph">
<p>To represent all this in plentymarkets, you need to implement two things in particular:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Set up <a href="/en/orders/accounting#550">VAT rates</a> for your delivery countries. This is not to be confused with creating a new <a href="/en/orders/accounting#320">location</a>. You can create VAT rates as described in the <a href="/en/orders/accounting#550">following chapter</a> or you use the VAT rate assistant.<br>
Either way, it is very important that you make sure to enter the correct data. Otherwise, wrong VAT rates and incorrect configurations could be created which cannot be reversed.</p>
</li>
<li>
<p>Enter and maintain <a href="/en/orders/accounting#620">taric codes</a>, as these are central for mapping the different taxation of items. Add the taric codes on the variations and then link these with the corresponding VAT rates of the individual EU countries in the taric code table.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="550">3.8. Setting up VAT rates</h3>
<div class="paragraph">
<p>In plentymarkets, the disctinction between locations and delivery countries in which you are liable to pay tax is important. An accounting location is a registered business address. 2 accounting locations exist per default in plentymarkets. The default locations are Germany and United Kingdom. You need one location at the very least and you can add further locations for each of your subsidiaries. The 2 default locations include default VAT configurations with VAT rates etc. However, do not use these configurations for the productive mode of your system. Add your own configurations and delete the default ones. You need to set up at least one configuration.<br>
You can use this configuration to ship worldwide. However, you need to add further configurations for your delivery countries within the EU as soon as you exceed the <a href="/en/orders/accounting#525">delivery threshold</a> for a EU country. You add locations for company headquarters and the country of the location with VAT configurations for correct accounting.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Official tax information</div>
<div class="paragraph">
<p>For Germany, the <a href="https://www.bzst.de/EN/Home/home_node.html">Federal Central Tax Office</a> provides tax information about the European countries of delivery as well as information about VAT.<br>
For information about different VAT rates in EU countries, refer to the <a href="https://ec.europa.eu/taxation_customs/economic-analysis-taxation/taxes-europe-database-tedb_en">TEDB ("Taxes in Europe" database)</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up VAT rates:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a location in the <strong>Setup » Client » <em>Select client</em> » Locations » <em>Select location</em> » Accounting</strong> menu.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Change to the <strong>VAT rates</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New configuration</strong>.</p>
</li>
<li>
<p>Select a <strong>Country</strong>.</p>
</li>
<li>
<p>Enter the <strong>Tax rates</strong> for the selected country.<br>
→ Regarding this, especially note the table entry about <a href="/en/orders/accounting#intable-enter-tax-rate">entering tax rates</a>.</p>
</li>
<li>
<p>Enter your <strong>VAT number</strong>.</p>
</li>
<li>
<p>Select a starting date from which on the rates will be valid.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-setting-up-VAT-configuration">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The new configuration opens and an additional setting for margin scheme is displayed.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Changing VAT configurations afterwards not possible</div>
<div class="paragraph">
<p>As soon as a VAT configuration is active, only the <strong>Invalid from</strong> date is editable. Therefore, make sure to enter the correct data when you create VAT configurations.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-setting-up-VAT-configuration" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Settings of a VAT configuration</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the country in which you have become liable for taxation.<br>
<strong><em>Important</em></strong>: The country cannot be changed later.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-enter-tax-rate">Tax rate A in %</strong><br>
<strong>Tax rate B in %</strong><br>
<strong>Tax rate C in %</strong><br>
<strong>Tax rate D in %</strong><br>
<strong>Tax rate E in %</strong><br>
<strong>Tax rate F in %</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the tax rates for the country selected in the field <strong>Country</strong>. Use the same structure of entering tax rates for every country. For example:<br>
Tax rate A = Standard rate (e.g. Germany 19%, France 20 %)<br>
Tax rate B = First reduced rate (e.g. Germany 7%, France 10%,)<br>
Tax rate C = Second reduced rate (e.g. France 5,5%,)<br>
Tax rate D = super reduced rate / special rates (e.g. France 2,1%)</p>
<p class="tableblock"><strong><em>Important</em></strong>:<br>
- You can make changes to VAT rate configurations as long as they are not valid. Once the rates are, valid they cannot be changed or extended.<br>
- Do not enter the same tax rate twice in one configuration. This leads to errors.<br>
- Use the <a href="/en/orders/accounting#620">taric codes</a> for the different taxation of items.<br>
- The <strong>names</strong> are only relevant for the accounting software Xero.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-revenue-account-optional">Revenue account (optional)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is an optional field that can also be filled later. Only enter a revenue account for a tax rate if the tax rate differs from the one assigned to an account under <a href="/en/orders/accounting#800">revenue accounts</a>, but the differing one is the valid tax rate.<br>
To do this, enter the corresponding revenue accounts in the tax rate configuration which represents the lowered tax rates. By doing this, these have priority.<br>
<em>Note</em> that the values entered here take precedence over those entered under <strong>Accounts</strong> for the determination of revenue accounts.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Margin scheme</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">pecify which tax rate is to be used for stock units to which the margin scheme applies. If no tax rate is selected, then stock units that the margin scheme applies to cannot be displayed on invoices (= basic setting).<br>
The margin scheme setting is not visible until you save a VAT configuration.<br>
<strong><em>Important</em></strong>: The margin scheme setting in plentymarkets is an older customised implementation. The tax rate is applied to the entire amount of the stock units that the margin scheme applies to. In other words, the tax rate is not applied to the difference between sales price and purchase price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter your VAT number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valid from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date from the calendar. The VAT rates will go into effect on this date.<br>
<strong><em>Important</em></strong>: When you enter the date manually instead of picking it from the calendar, make sure that you enter the year as a four digit value. Entering only two digits for the year may cause errors.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invalid from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date from the calendar. The VAT rates will no longer be applied from this date on.<br>
Enter a date for <strong>invalid from</strong> if you are no longer liable to VAT in this country or a configuration should only valid until a certain date.<br>
<strong><em>Important</em></strong>: When you enter the date manually instead of picking it from the calendar, make sure that you enter the year as a four digit value. Entering only two digits for the year may cause errors.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>For digital items only</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if the VAT rate should only apply to digital items. For further information, refer to the chapter <a href="/en/orders/accounting#600">VAT for digital items</a>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">3.9. VAT for digital items</h3>
<div class="paragraph">
<p>The buyer’s VAT rate must be used for digital items. An EU regulation put these VAT rates into effect on 01/01/2015. If a VAT rate is already available for a country of delivery it is not necessary to create an additional VAT rate for digital items only. The existing VAT rate is used. If no VAT rate is set up for one or more countries of delivery, then set up your accounting procedures in plentymarkets as described below.<br>
The EU regulation applies to B2C revenues. B2B revenues without VAT are not affected</p>
</div>
<div class="paragraph instruction">
<p>Identifying the VAT for digital items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Change to the <strong>VAT rates</strong> tab.</p>
</li>
<li>
<p>Create a VAT configuration for every country of delivery where digital items are sold.</p>
</li>
<li>
<p>Open the VAT configuration and activate the option <strong>For digital items only</strong>.</p>
</li>
<li>
<p>Create a <a href="/en/item/managing-items#80">characteristics</a> for digital items and give it a name, e.g. <strong>Digital</strong>. The characteristic cannot be an order characteristic.</p>
</li>
<li>
<p>Go to <strong>System » Item » Settings</strong> and select the characteristic for the option <strong>Item characteristic for identifying digital items</strong>.</p>
</li>
<li>
<p>Open every item that should be sold as digital media and save the characteristic in the characteristics tab.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="620">4. Taric codes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Taric codes, also called taric numbers, are used in EU-wide trading. These are unique and fixed numbers which are assigned to a specific commodity and have to be included in tax relevant documents.</p>
</div>
<div class="paragraph">
<p>Taric codes are relevant for you if you are trading EU-wide and have exceeded the <a href="/en/orders/accounting#525">delivery threshold</a> of € 10,000 for B2C sales. In this case you should enter the taric codes in good time. We recommend to clarify all details regarding the taxation of your goods in other EU countries with your tax consultant.</p>
</div>
<div class="paragraph">
<p>Goods are charged with different taxes in different EU countries. In order to take this into account and thus also have a correct basis for the calculation of orders, the taric codes have to be entered into the system and mapped with the VAT rates which are set for different countries.
Thus, as a first step, you have to maintain the taric codes in your system. Taric codes are entered in the <a href="/en/item/managing-items#280">variations</a>. Moreover, you need to set <a href="/en/orders/accounting#550">VAT rates</a> for the required countries. These VAT rates could also be entered later, but we recommend setting these in the system in time.</p>
</div>
<div class="paragraph">
<p>The table in the menu <strong>Setup » Client » Setting » Taric code</strong> then enables the linking of taric code, VAT rate and country. Thus, this taric code table is a basis for the calculation of orders and has to be maintained as well. It is important to note that no tax rates are entered directly here. Instead, you select the ID (A, B, C, etc.) of the tax rate of the corresponding tax rate configuration. Therefore, it is essential to be careful in the maintenance of the <a href="/en/orders/accounting#550">VAT settings</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>This happens in the background when orders are calculated</strong></div>
<div class="content">
<div class="paragraph">
<p>For example, an order with France as the country of delivery enters the system. VAT rate A is set for the variation of the order item in the order. But in France, this item is taxed with the VAT rate B. That is why there is an entry in the taric code table with the same taric code as the one entered in the variation. The difference is that in the table, this taric code is linked with France and the VAT rate B. The order logic recognises these cases and uses the VAT rate set in the taric code table.</p>
</div>
</div>
</div>
<div class="paragraph">
<p>In case there is no taric code entered in the variation or in the table, no differing VAT rate is used for the calculation. This means that you especially have to add the corresponding taric codes in the table if a variation is <em>taxed differently</em> in other countries.</p>
</div>
<div class="paragraph">
<p>In order to import taric codes you can use either the import tool or enter them manually. We recommend to the import tool and to enter only single taric codes or carry out small adaptations manually.
<em>Note</em> that only numbers up to 14 characters are allowed. Entering special or blank characters is not allowed.</p>
</div>
<div class="paragraph">
<p>The <a href="#data/importing-data/sync-types/elasticSync-assignment-taric">sync types</a> for importing taric codes can be found under Assignment taric codes . You can find general information about imports via the import tool on the manual page <a href="/en/data/importing-data/ElasticSync">Using the import tool</a>.</p>
</div>
<div class="paragraph">
<p>To fill the table manually, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Filling the taric code table manually:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Taric codes</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new assignment</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new row is added to the table.</p>
</li>
<li>
<p>Enter the <strong>Taric code</strong>.</p>
</li>
<li>
<p>Select the corresponding <strong>Country</strong>.</p>
</li>
<li>
<p>Select the corresponding <strong>VAT rate</strong>.</p>
</li>
<li>
<p>Click on <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) at the end of the row.<br>
→ The saving is confirmed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In the table, found variation links are marked with a green dot. This means that this taric code is currently in use in a variation. If a red dot is displayed, no variation link was found, i.e. this taric code is not in use in a variation.</p>
</div>
<div class="paragraph">
<p>More editing options are available to you. Take <a href="#table-editing-options-taric-code">Table 6</a> into account.</p>
</div>
<table id="table-editing-options-taric-code" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Editing options for the taric code table</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Function</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can <strong>search</strong> for assignments. For this, the filters <strong>taric code</strong> and <strong>country</strong> are available to you.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Editing an assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To <strong>edit</strong> an existing assignment, click on the appropriate row and carry out the necessary adaptations. After this, click on <strong>save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>). The adaptation is confirmed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deleting an assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To delete an existing assignment, click on <strong>delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>) in the column <strong>Actions</strong> at the end of the row. Deleting an assignment has to be confirmed by you.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="650">5. Setting up posting keys, revenue and debtor accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Posting keys are only relevant for DATEV exports. You can ignore the posting key settings if you do not work with DATEV. You set up revenue accounts to book your revenues. You set up debtor accounts to book your pending amounts.</p>
</div>
<div class="sect2">
<h3 id="700">5.1. Setting up posting keys</h3>
<div class="paragraph">
<p>Posting keys are relevant for DATEV exports. Continue with the next chapter on this page if you do not work with DATEV. Posting keys are called tax key in DATEV and are required for the correct transfer of posting information. here are some standard tax keys in DATEV. he standard tax key from the two standard charts of accounts 03 and 04 for 19 % VAT in Germany is 3. plentymarkets automatically determines whether it is dealing with a debit (D) or credit (C ) posting. This information is included in the export. The information is displayed in a separate column in the export.</p>
</div>
<div class="paragraph instruction">
<p>Setting up posting keys:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Accounts</strong> tab.<br>
→ The <strong>Posting key</strong> tab opens.</p>
</li>
<li>
<p>Enter a posting key for each tax rate.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="750">5.2. Setting up debtor accounts</h3>
<div class="paragraph">
<p>You set up debtor accounts to book your pending amounts. You can choose a criterion that is used to book pending amounts on debtor accounts. As a criterion you can for example use the names of the debtors or the country of delivery. Choose a criterion first and then enter the actual accounts.</p>
</div>
<div class="paragraph instruction">
<p>Setting up debtor accounts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Accounts</strong> tab.<br>
→ The <strong>Posting key</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Debtor accounts</strong> tab.</p>
</li>
<li>
<p>Carry out the settings according to the information provided in <a href="#table-debtor-account-setup">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-debtor-account-setup" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Setting up debtor accounts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard debtor account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a debtor account that is used if no other debtor account is saved or no other account applies.<br>
<strong><em>Important</em></strong>:The debtor account in the customer’s data set is always applied and exported if the customer’s data set contains an specific debtor account.<br>
The debtor account is saved in the customer data as soon as it has been identified for the first time. The identification of debtor accounts is carried out if revenue information are exported. The DATEV or Collmex export are exports that will trigger the identification of debtor accounts.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save debtor account in the customer master data record</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select to save a debtor account in the customer’s master data. This is only carried out if no debtor account exists in the customer data. The debtor account is saved according to the option that is selected for the <strong>automatic assignment of debtor accounts</strong>.<br>
If no debtor account is saved for the selected process, then the standard debtor account is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic assignment of debtor accounts based on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a criterion from the drop-down list that is used to assign the debtor accounts.<br>
The actual account information must be filled according to the selected criterion.<br>
<strong>Initial letter</strong> = Debtor accounts is assigned based on the initial letters of customer information. hoose the customer information and the order of the information that is used from the second drop-down list.<br>
If you choose the order <strong>Company, surname, first name</strong>, the name of the company has the highest priority. If no company name was entered, then the last name is used and so on.
<strong>Payment method</strong> = Debtor accounts is assigned based on the payment method that is saved in an order.<br>
<strong>Country of delivery</strong> = Debtor accounts is assigned based on the country of delivery that an order is shipped to.<br>
<strong>Country of delivery, but payment method for domestic</strong> = Debtor accounts is assigned based on the country of delivery if the delivery goes to a country that is not the country of the location. If the shipment is a home country shipping, then the payment method is used as criterion<br>
<em>Note</em>:Consult with your financial accounting department or your tax office when deciding which process to use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initial letters (A - Z or 0 - 9 Debtor account)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter debtor accounts depending on the <strong>initial letter</strong>. Do not enter debtor accounts here if you have selected another criterion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Save debtor accounts for the countries of delivery activated in your system. Do not enter debtor accounts here if you have selected another criterion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Save debtor accounts for the payment methods saved in your system. Do not enter debtor accounts here if you have selected another criterion.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">5.3. Setting up revenue accounts</h3>
<div class="paragraph">
<p>You set up revenue accounts to book your revenues and to assign them to accounts. You can enter accounts for revenues that are liable to VAT and for revenues that are exempt from VAT.</p>
</div>
<div class="paragraph instruction">
<p>Setting up revenue accounts for revenues that are liable to VAT:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Accounts</strong> tab.<br>
→ The <strong>Posting key</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Revenue accounts</strong> tab.</p>
</li>
<li>
<p>Enter an account for each VAT rate that you use.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>With this configuration for revenue accounts for revenues liable to VAT, selected VAT rates are assigned to a specific revenue account. But what do you do if a VAT rate temporarily differs or changes, as was the case for the temporarily lowered VAT rates in Germany in 2020, for example? You enter the corresponding revenue account directly in the VAT rate configuration which displays the differing VAT rate. In the system, these then have priority in the determination of revenue accounts. lso take not of the table entry <a href="/en/orders/accounting#intable-revenue-account-optional">Revenue account (optional)</a> in the chapter about setting up VAT rates.</p>
</div>
<div class="paragraph instruction">
<p>Setting up revenue accounts for revenues that are exempt from VAT:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Accounts</strong> tab.<br>
→ The <strong>Posting key</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Revenue exempt from VAT</strong> tab.</p>
</li>
<li>
<p>Enter an account for revenues that are sold within the EU and that are exempt from VAT into the <strong>Revenue from EU</strong> field.</p>
</li>
<li>
<p>Enter an account for revenues that are sold to countries outside the EU and that are exempt from VAT into the <strong>Revenue from export</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="820">5.4. Saving booking accounts for plentymarkets POS events3 and higher)</h3>
<div class="paragraph">
<p>Orders generated in plentyPOS are assigned to the <a href="/en/orders/accounting#800">revenue accounts</a> saved in plentymarkets. Because deposits, withdrawals and till count discrepancies are not orders, you can save booking accounts for these POS events. For further information on how to save booking accounts for POS events, refer to the <a href="/en/pos/integrating-plentymarkets-pos#940">Integrating POS</a> page of the manual.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="850">6. Copying settings to other locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Copy settings</strong> function to copy the settings of the current location and apply these settings to one or more other locations. You can copy all of the settings or only specific settings.</p>
</div>
<div class="paragraph">
<p>The following settings can be copied:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Basic settings</strong></p>
</li>
<li>
<p><strong>VAT rates</strong></p>
</li>
<li>
<p><strong>Accounts</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to copy settings to one or more locations:</p>
</div>
<div class="paragraph instruction">
<p>Copying settings to one or more locations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » [Select client] » Locations » [Select location] » Accounting</strong>.</p>
</li>
<li>
<p>Click on the <strong>Copy settings to another location</strong>.</p>
</li>
<li>
<p>Under <strong>Location</strong>, select one or more locations that the settings should be applied to.</p>
</li>
<li>
<p>Select the <strong>Options</strong> you want to copy.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
→ The settings are applied to the locations.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">7. Exporting accounting data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets allows you to export accounting data. You can use the export to transfer the data to your accounting software. When you export your accounting data the system automatically assigns debtor accounts, revenue accounts and posting keys according to the settings that you have set up prior to the export.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Data » Data export</strong> and select the data format that you want to export. Set up the format and <a href="/en/data/export-import/exporting-data#10">export the data</a>.</p>
</div>
</div>
</div>
</main>