<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Important prerequisites</span></a></li>
<li><a href="#200"><span>2.</span><span> Carrying out the basic settings</span></a></li>
<li><a href="#300"><span>3.</span><span> Authorising back end users to edit orders</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Basic settings</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>System » System settings » Orders » Settings</strong> menu to select which settings should automatically be set for orders and applied under certain conditions and statuses. For example, define the standard settings for the referrer and the status of orders.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Important prerequisites</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standard values are selected by default in new systems. For example, these are status [9] for returns and status [11] for credit notes. These settings can be changed by selecting a different status.  Alternatively, go to <strong><a href="/en/orders/managing-orders#1200">System » System settings » Orders » Status</a></strong> and create a new status. Statuses that are created there are displayed in the <strong>Basic settings</strong> menu and can be selected as standard statuses.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Saving the basic settings</div>
<div class="paragraph">
<p>The basic settings in the <strong>System » System settings » Orders » Settings</strong> menu have to be saved once when the system is first set up. The settings will not go into effect until they have been saved. Thus, save the settings even if you have not made any changes, i.e. even if you want to use the default settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Important: User login</div>
<div class="paragraph">
<p>Whenever you carry out changes in this menu and save the settings, other users will be logged out automatically and will need to log in again. This ensures that the changes will also apply to the other user profiles. Therefore, it is recommended that you announce changes to other users of your system in advance.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Carrying out the basic settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To carry out the basic settings, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information provided in <a href="#table-orders-basic-settings">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-orders-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the <strong>System » System settings » Orders » Settings</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a provider, a market or the <strong>Online store</strong>. This referrer will automatically be set by default for all orders. Select <strong>Manual entry</strong> if you do not want to use a default setting, i.e. if you want to individually save each order referrer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard status for return</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which status should automatically be set for <strong><a href="/en/orders/managing-orders#400">returns</a></strong>. The status can be changed when creating the return.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard status for credit note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which status should automatically be set for <strong><a href="/en/orders/managing-orders#500">returns</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard status for repairs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which status should automatically be set for <strong><a href="/en/orders/managing-orders#700">repairs</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard status for multi-invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which status should automatically be set for <strong><a href="/en/orders/managing-orders#800">multi-invoices</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard status for multi credit note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which status should automatically be set for <strong><a href="/en/orders/managing-orders#850">multi credit notes</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard status for reversal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which status should be automatically set for reversals.<br>
<strong><em>Example</em></strong>: a user-defined status <strong>[6.4] Outgoing items cancelled</strong>.<br>
Select the status <strong>Last status</strong> if you do not need a specific status. This setting returns the status to what it was before outgoing items were booked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status of cancelled orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status range for cancelled orders.<br>
<strong><em>Background</em></strong>: As soon as an order enters this status range, stock will no longer be reserved for the items included in the order. This means that the stock becomes available for other orders. Statuses can be excluded from this automatic function if necessary. For example, if you do not want item to be reversed if they have a particular status.<br>
<strong><em>Important</em></strong>: Save the range of statuses in ascending order, e.g. [8.0] to [8.5].</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status for order reservation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">As soon as an order enters this status, stock is automatically reserved for the items included in the order. You can set up a status up to and including status [6.9]. You can also choose whether the setting should apply to all orders or to paid orders only. For example, select the option <strong>Paid orders only</strong> if stock should not be reserved for unpaid orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Include shipping costs in warranty</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>YES</strong> = Customers receive a refund for the shipping costs of a warranty.<br>
<strong>NO</strong> = Customers have to pay the shipping costs themselves even in case of a warranty. The shipping costs are not refunded by you as the seller.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show in the order/Order overview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the <strong>invoice address</strong> or the <strong>delivery address</strong> is displayed in the order overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display of item prices</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether <strong>gross</strong> or <strong>net</strong> prices should be displayed for the items included in the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment of warehouses</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the method according to which the warehouse is assigned.<br>
<strong>a) a warehouse can be assigned for each order</strong> = Select this option if you only work with one warehouse or one logistics service provider.<br>
<strong>a) a warehouse can be assigned for each stock unit</strong> = Select this option of you work with multiple warehouses or multiple logistics service providers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose the criterion according to which the warehouse is selected.<br>
<strong>a) depending on the country of delivery</strong> = The warehouse that was saved for the <strong>country of delivery</strong> in the <strong>System » System settings » Orders » Shipping » Settings » Tab: Countries of delivery</strong>.<br>
<strong><em>Tip:</em></strong> If you select this option, make sure to check which warehouse is assigned to the respective countries of delivery.<br>
<strong>b) depending on the item’s main warehouse</strong> = The warehouse saved as the respective item’s main warehouse is selected.<br>
<strong><em>Important:</em></strong> If no main warehouse has been saved for an order, the warehouse is selected according to the country of delivery.<br>
<strong>c) depending on the highest stock level</strong> = The order is assigned to the warehouse with the highest stock for the order item.<br>
<strong>c) depending on the warehouse priority and the highest stock level</strong> = The order is assigned to a warehouse according to the following criteria. The following information is checked one after another:<br>
1) The <strong>priority</strong> of the warehouse (option available in the warehouse settings).<br>
In case of sufficient or identical stock in all warehouses, the warehouse with the highest priority. This first criterion does not consider the actual amount of stock. Rather, it checks whether enough stock is available or not. Thus, a warehouse is not favoured because it has more stock than another, but rather because it has a higher priority. Conversely, if a warehouse does not have sufficient stock, it will not be selected.
2) Sufficient stock has to be available.<br>
<strong>e) depending on the lowest stock level</strong> = The order is assigned to the warehouse with the lowest stock level for the order item.<br>
<strong>f) depending on the warehouse priority and the lowest stock level</strong> = The order is assigned to a warehouse according to the following criteria. The following information is checked one after another:<br>
1) The <strong>priority</strong> of the warehouse (option available in the warehouse settings).<br>
In case of sufficient or identical stock in all warehouses, the warehouse with the highest priority. This first criterion does not consider the actual amount of stock. Rather, it checks whether enough stock is available or not. Thus, a warehouse is not favoured because it has more stock than another, but rather because it has a higher priority. Conversely, if a warehouse does not have sufficient stock, it will not be selected.
2) The warehouse with the lowest stock level is selected.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deposit payment on production items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a value (in percent) for the deposit or select the option <strong>do not offer deposit</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status changes to [4] instead of [5] if stock is missing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set this option to <strong>YES</strong> if an order should only be cleared for shipping when there is enough stock in the warehouse. As soon as enough stock has been booked into the warehouse, the <strong><a href="/en/orders/managing-orders#1200">order status</a></strong> is changed from <strong>[4]</strong> to <strong>[5]</strong>.<br>
<strong>Status [4]</strong> = In preparation for shipping<br>
<strong>Status [5]</strong> = Cleared for shipping</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Affected status section in status [4.x]</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place limits on the status section in case you have created individual variations of status [4].<br>
Default setting: From <strong>[4] In preparation for shipping</strong> to <strong>[4] In preparation for shipping</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status [3.2] is also affected</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status [3.2]</strong> indicates that the item is in a waiting position due to outstanding partial payments. The order automatically enters this status instead of status [4] as soon as a partial payment is made. If stock is available, the order changes to status [3.3].<br>
<strong>Status [3.2]</strong> = In waiting position</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Authorising back end users to edit orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To authorise users of the type <strong>back end</strong> to open orders, you need to save default statuses for <strong>returns</strong> and <strong>credit notes</strong> here. No status is saved here by default.<br>
In addition, back end users must be authorised to edit orders in their respective user profile in the <strong><a href="/en/basics/admin-tasks/manage-users#105">Rights » User » Menu visibilities</a></strong> menu.
Back end users also need to be authorised to create orders of the type <strong>return</strong>, <strong>warranty</strong> and <strong>repair</strong>. For this, back end users have to be authorised to edit these default status of these order types saved in the <strong>System » System setting » Orders » Settings</strong> menu. The authorisations are assigned in the user profile of the back end user in the <strong><a href="/en/basics/admin-tasks/manage-users#105">Rights » User » Menu visibilities</a></strong> menu.</p>
</div>
</div>
</div>
</main>