<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#possible-uses-coupons"><span>1.</span><span> Possible uses for coupons</span></a></li>
<li><a href="#prepare-items-for-purchase-coupons"><span>2.</span><span> Preparing items for purchase with coupons</span></a></li>
<li><a href="#create-campaign"><span>3.</span><span> Creating a campaign</span></a></li>
<li><a href="#search-campaign"><span>4.</span><span> Searching for a campaign</span></a></li>
<li><a href="#display-campaign-overview"><span>5.</span><span> Displaying the campaign overview</span></a></li>
<li><a href="#edit-campaign"><span>6.</span><span> Editing the campaign</span></a>
<ul class="sectlevel2">
<li><a href="#copy-campaign"><span>6.1.</span><span> Copying the campaign</span></a></li>
<li><a href="#export-campaign"><span>6.2.</span><span> Exporting the campaign</span></a></li>
</ul>
</li>
<li><a href="#generate-coupon-codes"><span>7.</span><span> Generating coupon codes</span></a>
<ul class="sectlevel2">
<li><a href="#manually-generate-coupon-codes"><span>7.1.</span><span> Manually generating coupon codes</span></a></li>
<li><a href="#manually-enter-external-coupon-codes"><span>7.2.</span><span> Manually entering external coupon codes or coming up with your own codes</span></a></li>
<li><a href="#coupon-campaigns-coupon-codes-import-export"><span>7.3.</span><span> Importing and exporting coupon campaigns and coupon codes</span></a></li>
</ul>
</li>
<li><a href="#send-email-coupon-codes"><span>8.</span><span> Sending coupon codes via email</span></a></li>
<li><a href="#sell-coupons-in-online-store"><span>9.</span><span> Selling coupons in your online store</span></a>
<ul class="sectlevel2">
<li><a href="#create-coupon-item"><span>9.1.</span><span> Creating a coupon item</span></a></li>
<li><a href="#link-coupon-item-to-campaign"><span>9.2.</span><span> Linking the coupon item to a campaign</span></a>
<ul class="sectlevel3">
<li><a href="#activate-free-text-fields"><span>9.2.1.</span><span> Activating free text fields</span></a></li>
<li><a href="#select-free-text-field"><span>9.2.2.</span><span> Selecting a free text field</span></a></li>
<li><a href="#link-campaign-to-coupon-item"><span>9.2.3.</span><span> Linking the campaign to a coupon item</span></a></li>
</ul>
</li>
<li><a href="#set-up-coupon-template"><span>9.3.</span><span> Setting up the coupon template</span></a></li>
<li><a href="#generate-coupon"><span>9.4.</span><span> Generating coupons</span></a></li>
<li><a href="#coupon-as-pdf-attachment"><span>9.5.</span><span> Automatically sending coupons as PDF attachments</span></a>
<ul class="sectlevel3">
<li><a href="#set-up-email-template"><span>9.5.1.</span><span> Setting up an email template</span></a></li>
<li><a href="#set-up-event-procedure-coupon-despatch"><span>9.5.2.</span><span> Setting up the coupon despatch with an event procedure</span></a></li>
</ul>
</li>
<li><a href="#coupon-total-invoice"><span>9.6.</span><span> Displaying the coupon total on invoices</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Coupons</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Coupons are a great way to simultaneously attract new customers, increase loyalty and generate revenue. plentymarkets has a comprehensive coupon module in the <strong>Orders » Coupons</strong> menu. In this menu, you can create campaigns with various possibilities for discount. Coupons all have codes which belong to a campaign and which can either be redeemed once or multiple times. Coupons are redeemed during the order process. The corresponding discount value is displayed at this time.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="possible-uses-coupons">1. Possible uses for coupons</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A coupon has a code which belongs to a campaign and which can either be redeemed once or multiple times. Coupons are redeemed during the order process. The discount value is displayed at this time. Coupons can be sent to customers as promotional coupon codes within emails or multipurpose coupons can be sold as items in your online store. The customer then receives the coupon code as a PDF document.</p>
</div>
<div class="paragraph">
<p>The following overview shows various possibilities for using coupons:</p>
</div>
<table id="table-possible-uses-coupons" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Possible uses for coupons</caption>
<colgroup>
<col style="width: 30%;">
<col style="width: 30%;">
<col style="width: 20%;">
<col style="width: 10%;">
<col style="width: 10%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Coupon</th>
<th class="tableblock halign-left valign-top">Usage</th>
<th class="tableblock halign-left valign-top">Via email</th>
<th class="tableblock halign-left valign-top">Online store</th>
<th class="tableblock halign-left valign-top">PDF</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Redemption</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coupon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sale and redemption</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Voucher</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yes</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Template variables for displaying voucher codes in email templates</div>
<div class="paragraph">
<p>When you insert the template variable <code>$ItemVoucherCodes</code> in the email template, the codes of a voucher are displayed per order item. The codes are separated by commas. Use the template variable <code>$VoucherCodes</code> to display all codes of all vouchers of an order. The codes are separated by commas.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="prepare-items-for-purchase-coupons">2. Preparing items for purchase with coupons</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you begin working with coupons, decide which of your items should be purchasable with a coupon.</p>
</div>
<div class="paragraph instruction">
<p>Preparing items for purchase with coupons:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item that should be purchasable with a coupon.</p>
</li>
<li>
<p>Click on the <a href="/en/item/managing-items#40">Global</a> tab.</p>
</li>
<li>
<p>Select the setting <strong>Possible</strong> from the drop-down list <strong>Promotional coupon/POS discount</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings. <br>
→ It is possible for the customer to purchase this item with a coupon.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not permit to purchase item with a coupon</div>
<div class="paragraph">
<p>Go to <strong>Item » Edit item » Open item</strong> and click on the <strong>Global</strong> tab. Set the <strong>Promotional coupon</strong> option to <strong>Not permitted</strong> if you want to prevent the item from being paid with a coupon. If the customer places such an item in the shopping cart, the coupon’s value is not applied to this item. It makes sense to prevent some items from being paid for with a coupon, e.g. special offers or other items that should not be discounted further.</p>
</div>
<div class="paragraph">
<p>If you want to make an item available for purchase with a coupon only, select the <strong>Purchasable with coupon only</strong> setting.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="create-campaign">3. Creating a campaign</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Because each coupon belongs to a campaign, you have to create a campaign first. Go to <strong>Orders » Coupons</strong> to create a campaign. Once you have created a campaign, 2 other tabs are displayed apart from the <strong>Settings</strong> tab: <a href="/en/orders/coupons#generate-coupon-codes">Codes</a> and <a href="/en/orders/coupons#set-up-coupon-template">Templates</a>.</p>
</div>
<div id="image-create-campaign" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/orders/assets/Coupons-create-campaign.png" alt="Coupons create campaign" width="640" height="360">
</div>
<div class="title">Figure 1. Creating a campaign in the <strong>Orders » Coupons</strong> menu</div>
</div>
<div class="paragraph instruction">
<p>Creating a campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on <strong>New campaign</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Note the explanations in <a href="#table-settings-coupon-template">[table-settings-coupon-template]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings. <br>
→ The campaign is created and displayed in the overview.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Do not delete campaigns</div>
<div class="paragraph">
<p>Each coupon belongs to a campaign. To avoid problems with coupons that have already been redeemed, campaigns should not be deleted.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-settings-coupon-campaign" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for new coupon campaigns</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Campaign</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the campaign.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the description of the campaign.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Concept: Code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the upper drop-down list, select the setting for the codes: <br>
<strong>One code</strong> = One coupon code is generated per campaign and can be redeemed multiple times. <br>
<strong>Several codes</strong> = Individual coupon codes are generated that can only be redeemed once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Concept: Redemptions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the lower drop-down list, select the setting for the redemption(s): <br>
<strong>Several redemptions per customer</strong> = A customer can redeem the entire coupon amount multiple times. <br>
<strong><em>Important:</em></strong> If the coupon is sent to several customers, they can all redeem the coupon as often as desired. This option can result in high costs to your business once all of the amounts are totalled.<br>
<strong>One redemption per customer</strong> = A customer can either redeem the entire coupon amount once or partial amounts. If the coupon is sent to several customers, they are all able to redeem a partial amount as often as desired. However, as soon as one customer has redeemed the entire coupon amount, it is no longer possible for any other customers to redeem the coupon. <br>
<strong><em>Note:</em></strong> If customers are not registered, but log in with a guest account, they are treated as new customers in the system. If the coupon amount is not used up completely, the coupon can be used several times because one redemption is possible per customer - i.e. new customer, new coupon. <br>
<strong><em>Important:</em></strong> All of your customers can simultaneously redeem partial amounts that are below the entire coupon amount. However, once a customer has redeemed the entire coupon amount the coupon can no longer be redeemed. This option can result in high costs to your business once all of the amounts are totalled.<br>
<strong>Redemption until value is depleted</strong> = The entire coupon amount can only be redeemed once. If a customer redeems partial amounts, then all of the partial amounts put together may only be as high as the entire coupon amount itself. The coupon can not be redeemed by several customers. <br>
<strong>One single redemption</strong> = Only one redemption is possible. No further redemptions are possible, even if only a small, partial amount was used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>single orders</strong> or <a href="/en/orders/scheduler">subscriptions</a> or both options.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum order value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum order value that has to be reached in order that the coupon can be redeemed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Validity</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date when the campaign should be activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date when the campaign should be deactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code validity in weeks</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of weeks that the coupon codes are valid. For example, enter 12 if you want the coupon codes to be valid for 12 weeks.<br>
<strong><em>Important:</em></strong> There is a difference between the validity selected here and the options <strong>Start date</strong> and <strong>End date</strong> selected above. Be sure not to mix up the validity with the start and end dates. For example, the validity can be one year (entry: 52) and the campaign can be started and ended as many times as desired throughout the year.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Coupon</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Coupon</strong> or <strong>Voucher</strong>. <br>
The difference here is that <strong>coupons</strong> are redeemed in the online store and <strong>vouchers</strong> are redeemed through third parties. Vouchers are especially popular in the hotel industry where they are simultaneously used as reservations. <br>
<strong><em>Note:</em></strong> Depending on the coupon type selected, different options and settings are visible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible if you selected the option <strong>Voucher</strong> as the coupon type. <br>
Select whether the coupon codes should be newly generated or existing codes should be used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon variety</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Promotional coupon</strong> or <strong>Multipurpose coupon</strong>. This determines how coupons are redeemed in the order and displayed in PDF documents. <br>
Select <strong>Multipurpose coupon</strong> for campaigns with coupons that are sold via the online store. <br>
This setting has an impact on how the coupon is calculated in the online store. <a href="/en/orders/coupons#example-calculation-coupons">An example explains the calculation method</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Multipurpose coupon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>Multipurpose coupon</strong> as <strong>coupon variety</strong>, you have to confirm that you sell multipurpose coupons by placing the checkmark. If the checkmark is not placed, the campaign cannot be created.<br>
<strong><em>Important:</em></strong> For further information about the national legal order regarding the change in the sales tax treatment of coupons, refer to the translation in the tooltip (<span class="icon blue"><i class="psicon-info"></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code length</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the number of characters for the coupon codes. Coupon codes can have a length of <strong>6</strong>, <strong>16</strong>, <strong>24</strong> or <strong>32</strong> characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the discount type. <br>
<strong>Fixed amount</strong> = Enter the fixed amount. <br>
<strong>Percentage value</strong> = Enter the percentage value of the invoice amount. Enter 10, if 10 percent should be discounted from the invoice amount. <br>
<strong>Piece</strong> = Enter the number of items, e.g. 3 items for the price of 2. <br>
<strong>Shipping</strong> = Free shipping is applied to the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the discount value for the coupon.<br>
Activate the option <strong>incl. shipping costs</strong> if the shipping costs should be included in the discount value as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Filter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items coming from price comparison portals</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allow</strong> = Allow whether coupons can also be redeemed for items coming from <a href="/en/markets#<em>using_price_search_engines">price search engines</a>, i.e. items that are also offered on other marketplaces. <br>
<strong>Do not allow</strong> = Coupons cannot be used for items coming from price comparison portals (default setting).<br>
<strong>_Note:</strong> Price comparison portals are all referrers &gt; 1. This means that besides price comparison portals, also marketplaces and platforms are included. The referrers <strong>Manual entry</strong> (referrer ID 0) and <strong>Online store</strong> (referrer ID 1) are not affected by these settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add one category or multiple categories (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) for which coupons of the campaign can be redeemed. The sub-categories of a selected category are included automatically. It is also possible to only add sub-categories.<br>
Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>) next to the category ID and the category name to remove the category from this campaign and from the list.<br>
<strong><em>Note:</em></strong> Only the link to the campaign is deleted, not the category itself.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add items for which coupons of the campaign can be redeemed. Enter the item ID in the text field and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>). The item ID is added to the campaign. Up to 20 items can be added to a campaign. <br>
Click on the item ID to open the item in the <strong>Item » Edit item</strong> menu. Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>) next to the item ID to remove the item from this campaign and from the list.<br>
<strong><em>Note:</em></strong> Only the link to the campaign is deleted, not the item itself.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Clients (stores)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <a href="/en/online-store/setting-up-clients">clients</a> that are allowed to redeem the coupon. You need to select at least one client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer classes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <a href="/en/crm/managing-contacts#15">customer classes</a> that are allowed to redeem the coupon. You need to select at least one customer class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer types</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <a href="/en/crm/managing-contacts#20">customer types</a> that are allowed to redeem the coupon. You need to select at least one customer type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Email template</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variable</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the template variable for <a href="/en/crm/sending-emails">email templates</a>. The option <strong>No variable</strong> is pre-selected.<br>
<strong><em>Note:</em></strong> Once a variable was selected for a campaign, this variable is no longer available for other campaigns.</p></td>
</tr>
</tbody>
</table>
<h3 id="example-calculation-coupons" class="discrete">Example for calculating promotional coupons and multipurpose coupons</h3>
<div class="paragraph">
<p>In the <strong>Settings</strong> tab of the campaign, you can select the coupon variety <strong>Promotional coupon</strong> or <strong>Multipurpose coupon</strong>. The coupon variety that you select determines how the coupon is calculated in the online store. For example, promotional coupons are calculated similarly to discounts.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example for calculating promotional coupons and multipurpose coupons</div>
<div class="paragraph">
<p>A customer receives a coupon for EUR 15.00. The customer purchases items in your online store totalling EUR 25.00 excluding VAT. The customer purchases 2 items. One of the items costs EUR 17.95 and is taxed at a rate of 19% VAT. The other item costs EUR 7.05 and is taxed at a rate of 7% VAT. If the customer uses a <strong>multipurpose coupon</strong>, the coupon value will be subtracted from the total amount including taxes. If the customer uses a <strong>promotional coupon</strong>, the coupon value will be subtracted first and the remaining amount will be taxed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-comparison-promotional-coupon-multipurpose-coupon" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Comparison of promotional coupons and multipurpose coupons</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Multipurpose coupon</th>
<th class="tableblock halign-left valign-top">Promotional coupon</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amount before subtracting the coupon value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 28.91 including VAT</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 25.00 excluding VAT</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amount after subtracting the coupon value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 13.91 including VAT</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 10.00 excluding VAT</p>
<p class="tableblock">EUR 11.56 including VAT</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remaining amount to be paid by the customer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 13.91</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 11.56</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="search-campaign">4. Searching for a campaign</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To search for campaigns, select the search parameters in the <strong>Orders » Coupons</strong> menu. If you do not change the default filter settings, all of the campaigns are searched for and displayed. A search filter for coupon codes is available in the <a href="/en/orders/managing-orders#1370">order search</a>.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>In the <strong>Filter</strong> area, enter the ID or the coupon code or select the filter options in the drop-down lists. Note the explanations in <a href="#table-search-campaign">Table 4</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The campaigns that correspond to the search criteria entered are displayed.</p>
</li>
</ol>
</div>
<table id="table-search-campaign" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Searching for a campaign</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) without selecting any filter settings to display all campaigns.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Limit the search results by using filters and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Reset</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>) to reset the filter criteria set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID of the campaign.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the coupon code.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the client from the drop-down list to only show campaigns of this client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the customer class from the drop-down list to only show campaigns for this customer class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date from / to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the campaign’s start date and end date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>) or enter the dates manually.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon variety</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Promotional coupon</strong> or <strong>Multipurpose coupon</strong> to only show campaigns with this coupon variety.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Coupon</strong> or <strong>Voucher</strong> to only show campaigns with this coupon type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Concept</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>One code</strong>, <strong>Several codes</strong> or <strong>All</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the discount type to only show campaigns with this discount type. Possible options: <strong>Fixed amount</strong>, <strong>Percentage</strong>, <strong>Piece</strong>, <strong>Shipping</strong> or <strong>All</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="display-campaign-overview">5. Displaying the campaign overview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Coupons</strong> menu in the tab <strong>Campaigns</strong>, the most important information about the created campaigns are displayed in the overview. <a href="#table-campaign-overview">Table 5</a> explains the campaign overview. Use the function <strong>Customise layout</strong> and decide which information should be displayed in the overview. This function is only visible when you point with the mouse over the title bar in the overview.</p>
</div>
<table id="table-campaign-overview" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Information in the campaign overview</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the campaign. The ID is automatically assigned by the system and cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the campaign.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the date when the campaign was activated the first time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the date when the campaign is deactivated again.<br>
<strong><em>Important:</em></strong> Be sure to not mix it up with the validity; this is not the same thing. Note the explanations in <a href="#table-settings-coupon-campaign">Table 2</a> under <strong>Code validity in weeks</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the coupon type. Possible values: <strong>Coupon</strong> or <strong>Voucher</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon variety</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Refer to the explanations in <a href="#table-settings-coupon-campaign">Table 2</a> and to the <a href="/en/orders/coupons#example-calculation-coupons">example</a> below the table for further information about the coupon varieties <strong>Promotional coupon</strong> and <strong>Multipurpose coupon</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Concept</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The concept specifies whether a coupon can only be redeemed once or multiple times. Note the explanations in <a href="#table-settings-coupon-campaign">Table 2</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the discount type as well as the corresponding value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum order value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum order value that needs to be reached in order for the coupon to be redeemed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Redemptions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The red number stands for the number of redeemed coupons. The green number stands for the number of coupons that have not yet been redeemed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon purple"><i class="fa fa-download  "></i></span> at the end of the line in the campaign to export the campaign data to a CSV file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon red"><i class="fa fa-minus-square  "></i></span> to delete the campaign.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="edit-campaign">6. Editing the campaign</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit already existing campaigns at any time.</p>
</div>
<div class="paragraph instruction">
<p>Editing the campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Use the filter settings listed in <a href="#table-search-campaign">Table 4</a> to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the campaign that you want to edit.</p>
</li>
<li>
<p>Click in the line of the campaign.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Note the explanations in <a href="#table-settings-coupon-template">[table-settings-coupon-template]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="copy-campaign">6.1. Copying the campaign</h3>
<div class="paragraph">
<p>Save time and copy a campaign to make changes afterwards. By doing so, you do not have to create a completely new campaign.</p>
</div>
<div class="paragraph instruction">
<p>Copying the campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Use the filter settings listed in <a href="#table-search-campaign">Table 4</a> to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the campaign that you want to copy.</p>
</li>
<li>
<p>Click in the line of the campaign.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Click on <strong>Copy</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>).<br>
→ The campaign is copied and created with the next free ID. The name is taken from the copied campaign and saved with the word “COPY”.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="export-campaign">6.2. Exporting the campaign</h3>
<div class="paragraph">
<p>You can export the campaign data to a CSV file in order to further edit this data afterwards.</p>
</div>
<div class="paragraph instruction">
<p>Exporting the campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Use the filter settings listed in <a href="#table-search-campaign">Table 4</a> to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the campaign that you want to copy.</p>
</li>
<li>
<p>Click in the line of the campaign.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Click on <strong>Export</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The campaign data is exported in a CSV file.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="generate-coupon-codes">7. Generating coupon codes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You find the coupon generator in the <strong>Orders » Coupon</strong> menu in the <strong>Codes</strong> tab of a campaign. There are 2 ways to generate coupon codes with the coupon generator. They are described below.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Valid characters for coupon codes</div>
<div class="paragraph">
<p>Coupon codes may contain any combination of lower and upper case letters, numbers and the special characters _ and -.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="manually-generate-coupon-codes">7.1. Manually generating coupon codes</h3>
<div class="paragraph">
<p>Generate several coupon codes at the same time. The codes are automatically generated and added to the code list.</p>
</div>
<div class="paragraph instruction">
<p>Manually generating coupon codes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on the campaign for which you want to generate coupon codes.</p>
</li>
<li>
<p>Click on the <strong>Codes</strong> tab.</p>
</li>
<li>
<p>In the <strong>Generate coupon codes manually</strong> area, enter the <strong>number</strong> of coupon codes that you want to generate.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="fa fa-save  "></i></span>) the settings.<br>
→ The coupon codes are generated and added to the list of coupon codes.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">More codes than redemptions</div>
<div class="paragraph">
<p>The number of open coupons can exceed the maximum number of redemptions. As such, there may still be open coupon codes left over once the maximum number of redemptions has been reached. These codes can no longer be redeemed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="manually-enter-external-coupon-codes">7.2. Manually entering external coupon codes or coming up with your own codes</h3>
<div class="paragraph">
<p>You can add own or external codes. On the one hand, these can be codes that you received and that were not generated in your plentymarkets system. On the other hand, these can be individual codes that you came up with on your own.</p>
</div>
<div class="paragraph instruction">
<p>Manually entering the coupon code:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on the campaign for which you want to enter a coupon code.</p>
</li>
<li>
<p>Click on the <strong>Codes</strong> tab.</p>
</li>
<li>
<p>In the <strong>Enter coupon code manually</strong> area, enter a <strong>code</strong> with 6 to 32 characters.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="fa fa-save  "></i></span>) the settings. <br>
→ The coupon code is generated and added to the list of coupon codes.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="coupon-campaigns-coupon-codes-import-export">7.3. Importing and exporting coupon campaigns and coupon codes</h3>
<div class="paragraph">
<p>Use ElasticSync in the <strong>Data » Import</strong> menu to import <a href="/en/data/importing-data/sync-types/elasticSync-coupon-codes">coupon codes</a>. This allows you to import large quantities of coupon codes at once rather than to enter them manually one after the other. To do so, crate a sync of the type <strong>Coupon code</strong>.</p>
</div>
<div class="paragraph">
<p>To import campaigns, use the sync type <a href="/en/data/importing-data/sync-types/elasticSync-campaigns">Campaigns</a>.</p>
</div>
<div class="paragraph">
<p>If you want to export existing coupon campaigns, use the data format <strong>Campaign</strong> in the <strong>Data » Dynamic export</strong> menu. To export coupon codes, use the data format <a href="/en/data/export-import/data-formats/campaigncoupon">CampaignCoupon</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="send-email-coupon-codes">8. Sending coupon codes via email</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Coupon codes can automatically be embedded in emails. When sending an email, a new coupon code is always generated and sent.</p>
</div>
<div class="paragraph">
<p>This makes it possible to send each customer an automatically generated coupon code. To do so, you have to assign a <a href="/en/crm/sending-emails#4200">template variable</a>, e.g. <code>$CouponCode1</code>.</p>
</div>
<div class="paragraph">
<p>Afterwards, insert the this template variable <code>$CouponCode1</code> in an <a href="/en/crm/sending-emails#1200">email template</a>. A new coupon is automatically created for the campaign every time the email is sent.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">One template variable per campaign</div>
<div class="paragraph">
<p>One template variable can only be assigned to one campaign.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Assigning a template variable to a campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on the campaign that you want to assign a variable to.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>In the <strong>Email template</strong> area, select a <strong>variable</strong> from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="sell-coupons-in-online-store">9. Selling coupons in your online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you sell coupons in your online store, you first need to create a <a href="/en/orders/coupons#create-campaign">coupon campaign</a> and set the coupon variety to <strong>Multipurpose coupon</strong>. For further information, refer to <a href="#table-settings-coupon-campaign">Table 2</a>.</p>
</div>
<div class="paragraph">
<p>Additionally, it is required to set up a free text field and a coupon template for the campaign.
Proceed as described below to sell coupons in your online store.</p>
</div>
<div class="sect2">
<h3 id="create-coupon-item">9.1. Creating a coupon item</h3>
<div class="paragraph">
<p>Now create a <a href="/en/item/managing-items#40">coupon item</a> and give it the name <strong>Coupon1</strong>, for example. Enter a price and a short description. Link the coupon item to a category. Create a separate category for coupons, if required. These parameters are displayed in the online store just like for any other item.</p>
</div>
</div>
<div class="sect2">
<h3 id="link-coupon-item-to-campaign">9.2. Linking the coupon item to a campaign</h3>
<div class="paragraph">
<p>Linking the campaign to the coupon item is done via a <a href="/en/item/managing-items#70">free text field</a>.
Proceed as described below to activate and select the free text field and to link the coupon item to the free text field <strong>Kampagne ID</strong>.</p>
</div>
<div class="sect3">
<h4 id="activate-free-text-fields">9.2.1. Activating free text fields</h4>
<div class="paragraph">
<p>The texts are saved in the <strong>Setup » Items » Free text fields</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating free text fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Free text fields</strong>.</p>
</li>
<li>
<p>Enter <strong>Kampagne ID</strong> as name.</p>
</li>
<li>
<p>Select the data type <strong>Number</strong>.</p>
</li>
<li>
<p>Enter the number of characters.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Only Kampagne ID may be entered as name</div>
<div class="paragraph">
<p>Pay attention to the exact writing of the name, including capital and small letters. The name <strong>Kampagne ID</strong> is valid only as specified here. Other names and spellings are not permitted.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="select-free-text-field">9.2.2. Selecting a free text field</h4>
<div class="paragraph">
<p>Now select the free text field that you want to use for the coupon campaigns. After you have saved the setting, the field <strong>Kampagne ID</strong> is displayed in the <strong>Fields</strong> tab of the items.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a free text field:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Coupons</strong>.</p>
</li>
<li>
<p>Select <strong>Kampagne ID</strong> as <strong>campaign field</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="link-campaign-to-coupon-item">9.2.3. Linking the campaign to a coupon item</h4>
<div class="paragraph">
<p>Link your campaign to a coupon item.</p>
</div>
<div class="paragraph instruction">
<p>Linking the coupon item to a campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the coupon item.</p>
</li>
<li>
<p>Click on the <strong>Fields</strong> tab.</p>
</li>
<li>
<p>Enter the ID of the campaign that you would like to link to the coupon item in the free text field that you have previously selected for the coupon campaigns in the <strong>Setup » Orders » Coupons</strong> menu.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="set-up-coupon-template">9.3. Setting up the coupon template</h3>
<div class="paragraph">
<p>You can save a coupon template for each campaign. This is done in the <strong>Orders » Coupons » Tab: Templates</strong> menu in the expandable area <strong>Coupon template</strong> of a campaign. The template is the background that is displayed on coupons that you create and save as PDF file. In the expandable <strong>Coupon layout</strong> area, you determine the elements for the coupon as well as the position of the elements.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">PDF version</div>
<div class="paragraph">
<p>plentymarkets currently supports PDF versions 1.4 and lower.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up the coupon template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>In the overview, click on the coupon campaign for that you want to edit the template.</p>
</li>
<li>
<p>Click on the <strong>Templates</strong> tab.</p>
</li>
<li>
<p>Expand the <strong>Coupon template</strong> area (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Select file</strong> next to <strong>Document template Upload</strong>.</p>
</li>
<li>
<p>Select the document and click on <strong>Open</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings. <br>
<strong><em>Tip:</em></strong> A success message is displayed confirming that the file was uploaded. If an error message and no success message is displayed after clicking on <strong>Display preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>), contact the support. In some cases, the module for selling coupons may not have been activated in your system.</p>
</li>
<li>
<p>Expand the <strong>Coupon template</strong> area (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Select a character set from the drop-down list.</p>
</li>
<li>
<p>Enter values for the X coordinates (horizontal) and Y coordinates (vertical) as well as for the font sizes.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Tip:</em></strong> A success message is displayed confirming that the information was saved. Click on <strong>Display preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) to get an idea of what the coupon will look like. Correct the values as needed until you are satisfied with the result.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="generate-coupon">9.4. Generating coupons</h3>
<div class="paragraph">
<p>Customers can buy coupons the same way that they buy normal items. Once your customer has purchased the coupon, they can save the coupon texts for the coupon template.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Note</div>
<div class="paragraph">
<p>To save an individual text, the customer has to change the item in the <strong>My account</strong> area of the online store by clicking on <strong>Change</strong>. Write a short note in the description of the coupon item to inform your customers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Once your customer has purchased the coupon, they can edit the coupon text as follows:</p>
</div>
<div class="paragraph instruction">
<p>Editing the coupon text in the My account area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the online store.</p>
</li>
<li>
<p>Open the <strong>Order history</strong> in the <strong>My account</strong> area of the online store.</p>
</li>
<li>
<p>Open the order that contains the coupon.</p>
</li>
<li>
<p>Click on <strong>Change</strong> next to the item.</p>
</li>
<li>
<p>Now a <strong>Recipient</strong>, a <strong>Sender</strong> as well as <strong>Text</strong> can be saved. <br>
→ The information that is entered is displayed on the coupon template.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Only when the customer has paid in full for the coupon is the PDF template made available for download. This can be recognised by the PDF symbol.</p>
</div>
<div class="paragraph">
<p>By clicking on <strong>Generate PDF</strong>, the PDF file is generated and the customer can print or save the coupon.</p>
</div>
</div>
<div class="sect2">
<h3 id="coupon-as-pdf-attachment">9.5. Automatically sending coupons as PDF attachments</h3>
<div class="paragraph">
<p>It is useful to send coupons in the form of PDF attachments, e.g. if you offer multipurpose coupons or travel vouchers in your online store.</p>
</div>
<div class="paragraph">
<p>If you sell coupons that you do not want to provide as PDF attachments in the My account area, but would rather send via email, use an event procedure to generate and send the coupons. For the email despatch, you need an <a href="/en/crm/sending-emails#1200">email template</a>. In the email template, select the type <strong>Voucher</strong> for the option <strong>PDF attachment</strong>. The coupon is automatically attached to the email template as a PDF attachment.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Requirements for sending a coupon with an event procedure</div>
<div class="paragraph">
<p>In order that coupon codes can be sent via event procedure, a <a href="/en/orders/coupons#create-campaign">coupon campaign</a> is required. You have to save the campaign for the item in question using a free text field.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="set-up-email-template">9.5.1. Setting up an email template</h4>
<div class="paragraph">
<p>Proceed as described in the following to set up an email template for the coupon.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Email » Templates</strong>.</p>
</li>
<li>
<p>Click on <strong>New email template</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>In the <strong>New email template</strong> window, enter a name for the template, e.g. <strong>Travel voucher</strong>.</p>
</li>
<li>
<p>Select an <strong>owner</strong> or the option <strong>All</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ The email template is created, added to the list and opened.</p>
</li>
<li>
<p>Select the setting <strong>Voucher</strong> from the drop-down list <strong>PDF attachment</strong>.</p>
</li>
<li>
<p>Click on the <strong>Email message</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>subject</strong> and the <strong>content</strong>.</p>
</li>
<li>
<p>Use template variables to add information like the name of the customer.<br>
→ <strong><em>Important:</em></strong> Do not enter the template variable for coupons <code>$CouponCode</code> because the coupon is to be sent as attachment.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="set-up-event-procedure-coupon-despatch">9.5.2. Setting up the coupon despatch with an event procedure</h4>
<div class="paragraph">
<p>Now set up the event procedure for the automatic despatch of coupon templates as described in the following.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the coupon despatch with an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> at the bottom left (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the event as listed in <a href="#table-event-procedure-coupon-templates">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings according to <a href="#table-event-procedure-coupon-templates">Table 6</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-event-procedure-coupon-templates" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure for automatically sending coupon templates</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment &gt; Complete</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Order type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item &gt; Item is included</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the item ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Documents &gt; Generate multipurpose coupon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Note:</em></strong> This procedure is only carried out for paid orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Change status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer &gt; Send email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the email template and the option <strong>Customer</strong> as recipient.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="coupon-total-invoice">9.6. Displaying the coupon total on invoices</h3>
<div class="paragraph">
<p>Each coupon that is sold is displayed as an individual variation on the invoice. To display the sum of redeemed vouchers on invoices, a name has to be entered in the <strong>Coupon amount</strong> field in the layout of the <a href="/en/orders/order-documents/generating-invoices">invoice</a>.</p>
</div>
</div>
</div>
</div>
</main>