<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Searching for archived documents</span></a></li>
<li><a href="#200"><span>2.</span><span> Exporting a multi-document as a ZIP file</span></a></li>
<li><a href="#300"><span>3.</span><span> Exporting coupons and vouchers</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Document archive</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In the document archive you can view single PDF documents that have already been generated or you can generate a zip file that contains multiple PDF files. This archive contains PDF documents generated in your plentymarkets system during order processing, sales using the POS system or while managing stock.</p>
</div>
<div class="paragraph">
<p>The following document types are available in the document archive:</p>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-4">
<div class="title">Order documents generated in plentymarkets</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="#orders/order-documents/generating-adjustment-forms">Adjustment forms</a></p>
</li>
<li>
<p><a href="/en//orders/order-documents/generating-credit-notes">Credit notes</a></p>
</li>
<li>
<p><a href="/en/orders/coupons">Coupons</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-delivery-notes">Delivery notes</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-dunning-letters">Dunning letters</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-an-entry-certificate-gelangensbestaetigung">Entry certificates</a></p>
</li>
<li>
<p><strong>External credit notes</strong></p>
</li>
<li>
<p><strong>External invoices</strong></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-invoices">Invoices</a></p>
</li>
<li>
<p><a href="/en/orders/managing-orders#850">Multi credit notes</a></p>
</li>
<li>
<p><a href="/en/orders/managing-orders#840">Multi-invoices</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generate-offer">Offers</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-order-confirmations">Order confirmations</a></p>
</li>
<li>
<p><a href="/en/stock-management/working-with-redistributions#800">PO delivery notes</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-pro-forma-invoice">Pro forma invoices</a></p>
</li>
<li>
<p><a href="/en/orders/managing-orders#540">Refund reversals</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-repair-slips">Repair slips</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-return-slips">Return slips</a></p>
</li>
<li>
<p><a href="/en/orders/managing-orders#1670">Reversal documents (invoice)</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-dunning-letters#400">Reversal dunning letters</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">POS documents</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/pos/integrating-plentymarkets-pos#1000">POS invoice</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#210">POS coupon receipt</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#210">POS revenue report</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#210">POS cancellation</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#210">POS invoice cancellation</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#450">POS till count</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#230">POS Z report</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">Further documents</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/pos/integrating-plentymarkets-pos#400">Cash journal</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#70">EBICS INI-Letter</a></p>
</li>
<li>
<p><a href="/en/stock-management/managing-reorders/working-with-reorders#140">Reorder</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-pick-up-delivery">Pick-up delivery</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#220">SEPA direct debit mandate</a></p>
</li>
<li>
<p><strong>Upload</strong></p>
</li>
<li>
<p><a href="/en/stock-management/new-incoming-items">Incoming items receipt</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Searching for archived documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can search for PDF documents of a specific type and for a certain time range in the document archive. Documents are listed chronologically.</p>
</div>
<div class="paragraph instruction">
<p>Searching for PDF documents:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>Orders » Document archive</strong> menu.</p>
</li>
<li>
<p>Select the documents type from the drop-down list for which you want to search. Note the explanations given in table <a href="#table-search-options-document-archive">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
</ol>
</div>
<table id="table-search-options-document-archive" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the <strong>Search</strong> tab</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows you to search for a specific document. Enter the number of the document here to search for it. <strong>Document</strong>, <strong>Date</strong> and <strong>Client (Store)</strong> have to match the document as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a document type to search only for documents of this type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date range to look only for those documents that were generated during this time. As default, the current date is preselected as the end date and the start date is set one day before that.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select either a specific <strong>Client</strong> or select <strong>all</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>per page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how many search results are to be displayed on each page.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Opening the order, the customer and the PDF document</div>
<div class="paragraph">
<p>Click on the order ID to open the corresponding order to the invoice. Or click on the customer ID to open the contact information of this customer. When you click on the link under <strong>File</strong> the PDF document opens and can also be downloaded in this view.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Exporting a multi-document as a ZIP file</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can download a large quantity of documents as a multi-document in a ZIP file. The documents you want to export can be limited by criteria such as document type, period and client.</p>
</div>
<div class="paragraph instruction">
<p>Exporting a multi-document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>Orders » Document archive</strong> menu.</p>
</li>
<li>
<p>Click on the Export tab.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-options-export-document-archive">Table 2</a>.</p>
</li>
<li>
<p>Click on Export (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ The ZIP file is exported.</p>
</li>
</ol>
</div>
<table id="table-options-export-document-archive" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options in the <strong>Export</strong> tab</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a document type to download documents of this type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select either a specific <strong>Client</strong> or select <strong>all</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date range to export only those documents that were generated during this time. The current date is set as start and end date by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subfolder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether subfolders are to be created during the export. Select the option <strong>with</strong> in order to have subfolders created for each month in the ZIP file. By selecting the option <strong>without</strong>, no subfolders are created.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">The export fails</div>
<div class="paragraph">
<p>A maximum of 6000 PDFs can be zipped and exported. If your export fails, the reason may be that the number of PDFs exceeds the maximum of 6,000. Narrow the time range to reduce the number of documents. If you have narrowed the time range to the smallest one possible, which is one day, all documents for that day will be zipped and exported regardless of the maximum.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Exporting coupons and vouchers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Coupons and vouchers are an exception in the document archive because they are neither displayed by searching for them, nor when exporting multi-documents. Therefore, you have access to PDFs of coupons and vouchers in the separate <strong>Voucher</strong> tab in the <strong>Orders » Document archive</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Exporting coupons and vouchers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>Orders » Document archive</strong> menu.</p>
</li>
<li>
<p>Click on the Voucher tab.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-options-archive-vouchers">Table 3</a>.</p>
</li>
<li>
<p>Click on Export (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ The ZIP file is exported.</p>
</li>
</ol>
</div>
<table id="table-options-archive-vouchers" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Options in the <strong>Vouchers</strong> tab</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which coupon type you want to select.<br>
<strong>ALL</strong>: PDFs of all existing coupon types are exported.<br>
<strong>Coupon</strong>: Only coupons redeemable in your online shop are exported.<br>
<strong>Voucher</strong>: Only vouchers are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select either a specific <strong>Client</strong> or select <strong>all</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date range to export only those coupons and vouchers that were generated during this time. The time range is set by default to one week, the current date is the end date and the start date is set to a week before that.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>