<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Activating an order referrer</span></a></li>
<li><a href="#20"><span>2.</span><span> Manually creating an order referrer</span></a></li>
<li><a href="#30"><span>3.</span><span> Filtering and evaluating orders by order referrer</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Order referrer</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Omni-channel sale with plentymarkets means that you can use many different channels to offer your items to customers and, therefore, generate orders from many different sources.
Some referrers in the system are set up by default and are fixed entries that cannot be changed. Other referrers are automatically added e.g. when you integrate a plugin or <a href="/en/pos">plentyPOS</a>.
Referrers from plugins cannot be deleted. You can also add referrers manually.</p>
</div>
<div class="paragraph">
<p>Each referrer has a unique ID. Some referrers have sub-referrers. The ID for a sub-referrer is composed of the ID of the main referrer followed by two decimal numbers. <strong>Amazon</strong>, <strong>eBay</strong> and plentyPOS are examples for main referrers that have sub-referrers.
Each country platform of eBay and Amazon has a sub-referrer just like every till registered with plentyPOS will have a sub-referrer.</p>
</div>
<div class="paragraph">
<p>Regardless of their referrer, all orders are listed and can be edited in the <strong>Orders " Edit orders</strong> menu. There, the referrer is displayed on every order. The ID of a referrer is displayed in line with further order details. If you point the cursor to the ID, a tooltip with the referrer’s name is shown. Additionally, the referrer is displayed in the <strong>Settings</strong> tab of an order.
The referrer can be changed but only if it is a manually created referrer and only as long as no invoice was created yet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Default referrers and referrers that were automatically added by plugins only need to be activated. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Activating an order referrer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Select a referrer.</p>
</li>
<li>
<p>Activate the referrer by placing a check mark. <br>
→ Note also the information given in <a href="#table-settings-order-referrers">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Manually creating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As already mentioned in the introduction to this chapter, you can manually add order referrers to the system. Proceed as described below to manually create an order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Creating an order referrer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>). <br>
→ A new line is added to the referrer list with the cursor of your mouse is directly placed in the name column of that line.</p>
</li>
<li>
<p>Enter a name for the <strong>referrer</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-order-referrers">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-order-referrers" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for order referrers</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Each referrer is given a unique ID. It is automatically assigned by the system and cannot be changed. The IDs 9-100 are available for manually created order referrers. The IDs 1-8 as well as from 101 and higher are reserved for predefined order referrers in the system. Sub-referrers are represented by a decimal ID, for example 2.08 for eBay Germany.<br>
<em>Note</em>: When all available IDs are assigned to manually created order referrers, the butten <strong>New</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) is no longer displayed because no new order referrers can be added.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name entered here is displayed in the system, for example in the order search. The name can be changed at any time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internal name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The internal name cannot be changed and is not displayed in the system. Only predefined order referrers are given an internal name, manually created order referrers not.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which person should automatically be entered as owner of orders with this referrer. You can choose from all users who were given these rights in the <a href="/en/business-decisions/user-accounts-access">Setup » Settings » User » Accounts*</a> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activation column</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the referrer by placing a check mark. If activated, the referrer is displayed in other menus, for example in the <strong>Settings</strong> tab of an order.<br>
If you deactivate the referrer, it is no longer displayed in the system.<br>
You can activate or deactivate all referrers at once by clicking on <strong>Select all</strong> on the table header.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Copy online store URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Copies the referrer’s URL to the clipboard.<br>
The URL is required for affiliate services, for example. It contains the corresponding ID as the so-called Referrer ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Open in the store</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A click on the preview (<span class="icon blue"><i class="fa fa-eye  "></i></span>) opens the online store with the referrer ID added to it. All prices displayed are for the corresponding order referrer. <br>
The preview can only function correctly if you have set up sales prices and activated the sales price for the referrer you wish to see a preview for. In addition, the sales price also has to be added to a variation and a value for the price must have been saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on the <strong>delete</strong> to delete an order referrer.  You can only delete manually created order referrers. Default order referrers in the system cannot be deleted.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Referrers are required for affiliate service providers</div>
<div class="paragraph">
<p>The referrer option is also required for cooperation with affiliate partners. These partners will forward potential customers to you via defined tracking URLs and expect a commission in return when the customer purchases something.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Filtering and evaluating orders by order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The order search in the <strong>Order » Edit orders</strong> menu offers many filters to narrow down the number of results. The <strong>Referrer</strong> filter searches for orders with a specific referrer (for example Client (store), Amazon, eBay etc.). Amazon and eBay have both general referrers and sub-referrers for each of the country platforms.</p>
</div>
<div class="paragraph">
<p>For monthly overviews, it makes sense to combine filters and to use a date as an additional filter, for example the date when orders were received.</p>
</div>
<div class="paragraph">
<p>The referrer is important for measuring how well your items sell on different platforms. This information tells you which platforms are most profitable. In addition to the search function in the <strong>Orders » Edit orders</strong> menu, further evaluation options are available in the <a href="/en/business-decisions/business-intelligence/statistics">Statistics</a> area. There, you can select an order referrer and see the revenue that was generated by each referrer. Based on this, you can make well-informed decisions on how to use your advertising budget in the future in an efficient manner.</p>
</div>
</div>
</div>
</main>