<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up localised documents</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up fulfilment documents</span></a></li>
<li><a href="#300"><span>3.</span><span> Setting up a document template</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Basic settings</span></a></li>
<li><a href="#500"><span>3.2.</span><span> Margins</span></a></li>
<li><a href="#600"><span>3.3.</span><span> Positioning the mandatory elements</span></a></li>
<li><a href="#700"><span>3.4.</span><span> Customer characteristics</span></a></li>
<li><a href="#800"><span>3.5.</span><span> Columns stock units</span></a></li>
<li><a href="#900"><span>3.6.</span><span> Totals</span></a></li>
<li><a href="#1000"><span>3.7.</span><span> Optional elements</span></a>
<ul class="sectlevel3">
<li><a href="#1100"><span>3.7.1.</span><span> Barcode</span></a></li>
<li><a href="#1200"><span>3.7.2.</span><span> Cash on delivery note</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>3.8.</span><span> Optional elements below stock unit table</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>4.</span><span> Transferring document settings</span></a>
<ul class="sectlevel2">
<li><a href="#1500"><span>4.1.</span><span> Settings transfer</span></a></li>
<li><a href="#1600"><span>4.2.</span><span> Applying default settings</span></a></li>
</ul>
</li>
<li><a href="#1700"><span>5.</span><span> Linking a PDF template</span></a></li>
<li><a href="#1800"><span>6.</span><span> Defining number ranges</span></a></li>
<li><a href="#1900"><span>7.</span><span> Automating subsequent procedures</span></a></li>
<li><a href="#220"><span>8.</span><span> Tax information for foreign shipments</span></a>
<ul class="sectlevel2">
<li><a href="#230"><span>8.1.</span><span> EU delivery</span></a></li>
<li><a href="#240"><span>8.2.</span><span> Export shipments</span></a></li>
</ul>
</li>
<li><a href="#250"><span>9.</span><span> Margin scheme for order items in documents</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Order documents</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes how to set up and edit document templates and how to transfer settings from one template to another.<br>
Before generating order documents and sending them to your customers, set up document templates for each document. <a href="/en/orders/order-documents#100">Localised documents</a> as well as <a href="/en/orders/order-documents#200">fulfilment documents</a> are available in your plentymarkets system. In addition, learn how to save your business letterhead in the form of a PDF template and link it to a document template. The creation of numbering systems is explained as well.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up localised documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following documents are set up and managed in the <strong>Documents</strong> area in the <strong>System » Client » Select client » Locations</strong> menu:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/orders/order-documents/generating-invoices">Invoice</a></p>
</li>
<li>
<p><a href="/en/orders/managing-orders#840">Multi-invoice</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-delivery-notes">Delivery note</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-credit-notes">Credit note / Adjustment form</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-dunning-letters">Dunning letter</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-return-slips">Return slip</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/generating-an-entry-certificate-gelangensbestaetigung">Entry certificate (Gelangensbestätigung)</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#200">SEPA direct debit mandate</a></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Setting up a localised document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a location in the <strong>System » Client (store) » Select store » Locations</strong> menu.</p>
</li>
<li>
<p>Select a location.</p>
</li>
<li>
<p>Click on the menu item <strong>Documents</strong>.</p>
</li>
<li>
<p>Select the template you wish to edit, e.g. <strong>Invoice</strong>.</p>
</li>
<li>
<p>Select a <strong>Language</strong> from the drop-down list, e.g. <strong>en</strong> for English.</p>
</li>
<li>
<p>Carry out the settings as described on this manual page.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> to display a preview of the document.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up fulfilment documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following document templates are set up and managed in the <strong>System » Orders » Documents</strong> menu:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Reorder</p>
</li>
<li>
<p><a href="/en/fulfilment/generating-documents#300">Address label</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/pick-list">Pick list</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/warehouse-pick-list">Warehouse pick list</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/packing-list">Packing list</a></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Setting up a fulfilment document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents</strong>.</p>
</li>
<li>
<p>Select the template you wish to edit.</p>
</li>
<li>
<p>Select a <strong>Language</strong> from the drop-down list.</p>
</li>
<li>
<p>Carry out the settings as described on this manual page.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> to display a preview of the document.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Setting up a document template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some settings are already available by default once you open one of the menus described above. You can edit those settings and carry out additional settings. If no settings are available by default, you can apply settings from a <a href="/en/orders/order-documents#1600">default document template</a>. Furthermore, you can add notes that are automatically included in documents based on certain options and settings made. Separate templates have to be set up for each language. Select the language at the top of the document menu.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Defining a language for a document template</div>
<div class="paragraph">
<p>If no document in the required language is found for a location, the system automatically searches for suitable document templates in the following order:<br></p>
</div>
<div class="paragraph">
<p>Default language of the client<br>
System language<br>
Default location of the client<br>
System language of the default location of the default client</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="400">3.1. Basic settings</h3>
<div class="paragraph">
<p>Carry out the basic settings for the document according to the information provided in <a href="#table-documents-basic-settings">Table 1</a>.</p>
</div>
<table id="table-documents-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for documents</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Font</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the standard fonts <strong>Arial /Helvetica</strong>, <strong>Times New Roman</strong> or <strong>Courier</strong>.<br>
Within the font group <strong>Extended alphabets</strong>, you can choose between the options <strong>East Asian</strong>, <strong>Arabic</strong> and <strong>Cyrillic</strong> if you wish to set up document templates for <a href="/en/basics/internal-IDs#10">languages</a> such as Chinese or Russian.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the character set <strong>ISO-8859-1</strong> or <strong>Unicode</strong> should be used. Keep in mind that generating PDF documents takes longer if you select the <strong>Unicode</strong> option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the document template is only displayed on the first page or on the subsequent pages of the document as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Page break</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether paragraphs should be continued on subsequent pages or whether there should be a page break.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Structure of the invoice/delivery address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the elements that should be included in the invoice and delivery address and in which order these elements should be positioned. Activate the option <strong>Contact person</strong> if this additional element should be included in invoice and delivery addresses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency of the document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the standard currency of your plentymarkets system or the <strong>Order currency</strong>, i.e. the currency saved with the order, is used.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Mandatory settings for characters</div>
<div class="paragraph">
<p>To set up document templates containing Chinese or Cyrillic characters, use the language setting on top of the menu to select the correct <a href="/en/basics/internal-IDs#10">language</a>, for example <strong>cn</strong> for Chinese or <strong>ru</strong> for Russian, for which you would like to set up a document template. In addition, select the correct <strong>Font</strong> in the basic settings for the document. Select <strong>East Asian</strong> to display Chinese characters, or <strong>Cyrillic</strong> for Russian characters. Furthermore, enter the correct characters in the text field for each option so that they are properly displayed when generating documents later.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. Margins</h3>
<div class="paragraph">
<p>Carry out the settings for the page margins of the documents in this area. The margins are important for automatic page breaks and the positioning of mandatory elements in the document. Pay attention to the information provided in <a href="#table-documents-margins">Table 2</a>.</p>
</div>
<table id="table-documents-margins" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Margins of a document</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Top</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a value (in mm) for the top margin on the page. 44.0 mm are set by default. To avoid overlapping elements, make sure to leave enough space to display a header containing the logo of your company.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Left</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a value (in mm) for the left margin on the page. 20.0 mm are set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bottom</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a value (in mm) for the bottom margin on the page. 30.0 mm are set by default. For fulfilment documents, the bottom margin defined here is only displayed on pages linked to a PDF template. Depending on the settings made for the option <strong>Document template</strong> in the <strong>Basic settings</strong> area, this applies to either only the first or to all pages of a document.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">3.3. Positioning the mandatory elements</h3>
<div class="paragraph">
<p>Mandatory elements are elements that have to be included in every document. The positioning of mandatory elements is determined by entering coordinates. Values for the most important parameters are already set up by default. However, these values can be changed. Add any missing entries.<br>
<a href="#table-documents-mandatory-elements">Table 3</a> explains the mandatory elements for documents, using the invoice document as an example.</p>
</div>
<div class="paragraph">
<p>The values are based on a coordinate system with an x-axis and a y-axis. The <strong>X-axis</strong> runs from left to right and the <strong>Y-axis</strong> from top to bottom. Thus, the zero point is located on the upper left corner of the page.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Examples for positioning</div>
<div class="paragraph">
<p>The address field is a field that is usually positioned in the upper left area of the pag. In the invoice document, the standard coordinates for the address field are X = 21 (mm), Y = 54.5 (mm). When positioning fields, use the upper left corner of the document as a point of orientation and pay attention to the margins.<br>
In addition to the date, the order ID as well as the customer ID are fields that are typically positioned on the right. The ID’s mentioned above have the following standard coordinates on the X-axis: X = 150 (mm) for the field name and X = 173 (mm) for the value. The Y-coordinates differ so that fields and values do not overlap.<br>
The page number is a field that is often positioned on the bottom of the page. In the invoice document, the standard coordinates for the page number are X = 21 (mm), Y = 286 (mm). Thus, the page number is located in the lower left corner of the page on invoice documents.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-documents-mandatory-elements" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Mandatory fields of a document</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positions the field containing the address of the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document name/number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name, such as <strong>Invoice</strong> or <strong>Invoice no.</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the current date on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ordered on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the date on which the order was placed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The currency itself is taken from the basic settings (see above).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of an order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID (2)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For returns, credit notes and delivery orders, the ID of the main order is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the customer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referrer of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer reference</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the data saved in the corresponding field in the order settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer class ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order responsible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the name of the owner of the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account for financial accounting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the debitor saved in the debitor account area in the customer data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internal customer number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the customer number saved in plentymarkets (not the customer ID).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT identification number of the customer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Own VAT number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the VAT ID of the seller.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pick list ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">An ID is assigned to a pick list as soon as such a document is generated. The pick list ID is saved with all orders included in the pick list. Use the option ID pick list to display this ID on PDF documents. For example, this makes sense with delivery notes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Page number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the page number on each page of the document.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">3.4. Customer characteristics</h3>
<div class="paragraph">
<p>This area is only displayed if <a href="/en/crm/managing-contacts#4000">properties</a> have been saved for the language of the document template in your system. You can then name the properties using the text fields and position them in the document with the help of the coordinates.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">3.5. Columns stock units</h3>
<div class="paragraph">
<p>Use the area <strong>Columns stock units</strong> to position the entries in the header of the table containing the order items. Enter a field name for each available column. The field name is a name that is displayed in the header. Field names are only displayed if a value is selected in the respective <strong>Pos</strong> drop-down list. If <strong>Pos</strong> is selected, the column is not displayed on the document. Use these settings to determine the order in which the field names are displayed in the header. The available columns differ from document to document.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Column width</div>
<div class="paragraph">
<p>The column <strong>Item name</strong> will automatically wrap the text, if necessary. All other columns do not have this function. Thus, make sure to select an appropriate value for the with of the columns. Enter the column width in <strong>mm</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Use the check box to activate further parameters for the <strong>Item name</strong> column. In the document, the parameters will be displayed next to the item name in the same column. The activated parameters are only displayed in the document if information on the respective parameter have been entered and saved in the item data beforehand.</p>
</div>
</div>
<div class="sect2">
<h3 id="900">3.6. Totals</h3>
<div class="paragraph">
<p>On all documents except for the delivery notes, sums such as the subtotal and the total invoice amount are listed below the list of items. Only sums for which a field name has been determined are displayed.<br>
<a href="#table-documents-settings-totals">Table 4</a> explains important settings in the <strong>Totals</strong> area.</p>
</div>
<table id="table-documents-settings-totals" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Important settings in the <strong>Totals</strong> area</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of items (net)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net value of the items (excluding VAT)
In addition, select whether the value of items is displayed summed up for all VAT rates, summed up per VAT rate or per VAT rate if B2B. <br>
<strong>Summed up for all VAT rates</strong> = only one total is displayed on the invoice, regardless of how many VAT rates are used in the order. <br>
<strong>Per VAT rate</strong> = A separate total is displayed for each VAT rate used in the order. <br>
<strong>Per Vat rate if B2B</strong> = if a VAT number of the customer is used for the order, a total is displayed for each VAT rate. If no VAT number is used, only one total is displayed for all VAT rates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subtotal (net, total)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the net total value of the order items at the end of the invoice document.
In addition, select whether the subtotal of order items is displayed summed up for all VAT rates, summed up per VAT rate or per VAT rate if B2B. <br>
<strong>Summed up for all VAT rates</strong> = only one subtotal is displayed on the invoice, regardless of how many VAT rates are used in the order. <br>
<strong>Per VAT rate</strong> = A separate subtotal is displayed for each VAT rate used in the order. <br>
<strong>Per VAT rate if B2B</strong> = if a VAT number of the customer is used for the order, a subtotal is displayed for each VAT rate. If no VAT number is used, only one subtotal is displayed for all VAT rates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subtotal (net, each page except for the last one)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the net subtotal value of the order items on each page. On documents with several pages, the accumulated subtotal of all listed order items is displayed on all pages except on the last page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subtotal (margin scheme)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only adds sums that are subject to the margin scheme.<br>
<strong><em>Important:</em></strong>
The margin scheme setting in plentymarkets is an older customized implementation. The tax rate will be applied to the entire amount of the order items that the margin scheme applies to. In other words, the tax rate will not be applied to the difference between sales price and purchase price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon amount (net)</strong> and <strong>Coupon amount (gross)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These fields display the net or gross amount that has been covered by one or more coupons. Make sure to enter a field name in case you offer coupons in the online store. Otherwise, the coupon amount is not displayed on the invoice. Whether the coupon amount is net or gross depends on the kind of coupon and the kind of invoice.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">3.7. Optional elements</h3>
<div class="paragraph">
<p>In this area, you select optional elements. Barcodes and the cash on delivery note are examples for this. These elements are described below in more detail.</p>
</div>
<div class="sect3">
<h4 id="1100">3.7.1. Barcode</h4>
<div class="paragraph">
<p>The option <strong>Barcode</strong> can be created from the Order ID or from the document number. In addition, you can choose between <strong>EAN13</strong> and <strong>Code128</strong> as coding methods for the barcode. If you select the option <strong>EAN13</strong> and your order ID consists of 6 digits, the missing numbers are added automatically. Leading zeros and a 1 are added at the beginning of the barcode so that the order ID is turned into an EAN13. If the order ID should be used exactly as it is, select the option <strong>Code128</strong>. In addition, choose if the digits are displayed below or within the barcode or if they should not be displayed at all.</p>
</div>
</div>
<div class="sect3">
<h4 id="1200">3.7.2. Cash on delivery note</h4>
<div class="paragraph">
<p>The cash on delivery note is only displayed on invoices belonging to orders with the payment method <strong>Cash on delivery</strong>. The default note is <strong>CASH ON DELIVERY</strong> plus the <strong>invoice amount</strong>. The option is activated with <strong>YES</strong>. Alternatively, enter a <strong>Name</strong> to submit an individual name instead of the default name CASH ON DELIVERY.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1300">3.8. Optional elements below stock unit table</h3>
<div class="paragraph">
<p>In the <strong>Optional elements below stock unit table</strong> area, you choose which elements appear below the list of order items in the document. <a href="#table-documents-optional-elements-stock-unit-table">Table 5</a> explains these elements, using the <strong>invoice</strong> document as an example.</p>
</div>
<table id="table-documents-optional-elements-stock-unit-table" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Optional elements below stock unit table</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Font size</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the desired font size for the optional elements below the list of order items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Column width</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a column width for all optional elements listed below. These optional elements are positioned below the list of items on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the <strong>Current month</strong>, the <strong>invoice date</strong>, the date of <strong>outgoing items</strong> or <strong>no</strong> delivery date should be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment due</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the option is displayed on the document. If you select <strong>YES</strong>, you also have to indicate a Payment due date in <strong>days</strong>. When carrying out the setting, keep in mind that the payment due date saved in the customer data takes priority over this setting. If no payment due date is saved in the customer data, the payment due date saved for the customer class takes priority.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date is only displayed if the amount of the incoming payment is complete.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value date/payment due/early payment discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The template variables are filled with the values saved in the <a href="/en/crm/managing-contacts#100">customer data</a>. Pay attention to sample terms of payment on the <a href="/en/crm/managing-contacts#100">Managing contacts</a> manual page.<br>
If a value for <strong>value date</strong> is saved for the customer data, this value is used for the document. Otherwise, the value saved for <strong>Payment due</strong> or the value saved in the <a href="/en/crm/managing-contacts#15">customer class</a> is used. The last possibility is to use the number of days entered for the <strong>Payment due</strong> option for the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment due</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the option is displayed on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payable (cash on delivery)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter texts for <strong>Field name left</strong> and <strong>Field name right</strong> that are displayed on invoices belonging to orders with the payment method <strong>Cash on delivery</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the payment method of the order is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Early payment discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the amount in <strong>%</strong> and the <strong>payment due date</strong> in days. The following template variables are available: <strong>[Date1]</strong>, <strong>[Date2]</strong>, <strong>[Amount1]</strong>, <strong>[Amount2]</strong>, <strong>[Percent]</strong>.<br>
Use the setting <strong>Value date/payment due/early payment discount</strong> if you wish to display the early payment discount saved in the customer data on the invoice. <strong><em>Note:</em></strong> The option <strong>Payment due</strong> has to be set to <strong>YES</strong> so that the early payment discount entered in this field is displayed on the invoice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Designated use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether information on the designated use of the payment is displayed on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the shipping method of the order is displayed on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the shipping costs saved with the order are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the payment method of the order is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Copy missing contact details from the invoice address to the delivery address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether contact data missing in the delivery address should be copied from the invoice address of the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the invoice address saved with the order is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External order number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the external order number of the order is displayed on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External customer number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether the external customer number is displayed on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Print customer wish</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customers can enter specific wishes for their order in the My account area of the online store. Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether these customer wishes are displayed on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date/Signature</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>YES</strong> or <strong>NO</strong> to determine whether a text field for entering a date and signature is displayed on the document.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tax note 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the desired font size. Select one of the options <strong>Normal</strong> or <strong>Bold</strong> for the font style. Enter the desired tax note in the text field.<br>
The tax note is only displayed with for orders consisting of items being delivered into or within the EU for which the customer’s VAT number is known. This sample text valid for German legislation can be entered: <strong>Intra-community delivery according go §4 No. 1b in connection with $6 a UStG</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tax note 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">See <strong>Tax note 1</strong>.<br>
This note is displayed for orders delivered to a country outside the EU. This sample text valid for German legislation can be entered: <strong>Export shipping according to $4 No. 1a in connection with $6 UstG</strong>*.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note for margin scheme</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">See <strong>Tax note 1</strong>. <br>
This note is displayed if the margin scheme applies to items in the order. <br>
<strong><em>Important:</em></strong>
The margin scheme setting in plentymarkets is an older customized implementation. The tax rate will be applied to the entire amount of the order items that the margin scheme applies to. In other words, the tax rate will not be applied to the difference between sales price and purchase price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note on country VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine whether a note on the country VAT is displayed on the document. This note is displayed if the default VAT rate is used for orders that are delivered abroad.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard payment note (debit)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For orders with the payment method direct debit, the note <strong>The invoice amount will be gratefully debited from your account</strong> is displayed on the invoice and delivery note. Activate the option <strong>Hide note</strong> if the note should not be displayed on the documents.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment instruction of the customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the payment instruction of the customer class is displayed on the document. For further information on the payment instruction of the customer class, refer to the <a href="/en/crm/managing-contacts#15">Managing contacts</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment instruction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <strong>Payment method</strong> from the drop-down list. Enter the <strong>Payment instruction</strong> for the payment method in the text field.<br>
The payment instruction is not permanently linked to the payment method. If the payment method is changed via the drop-down list, the instruction entered in the text field remains the same. It is applied to the newly selected payment method.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">4. Transferring document settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Similar settings have to be carried out for each document. Thus, reduce the required time and effort by applying the default settings to a document or by transferring settings from one document to another.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Settings are overwritten</div>
<div class="paragraph">
<p>If you transfer settings to a document, the settings previously carried out for this document will be overwritten. Check the document settings and take note of the most important coordinates before using the transfer function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1500">4.1. Settings transfer</h3>
<div class="paragraph">
<p>Transfer the settings for the German invoice document to the German delivery note, for example. In the document template for the delivery note, deactivate the elements that are not required or add further elements if needed.</p>
</div>
<div class="paragraph">
<p>This function also allows you to apply the settings for the German invoice documents to the document template for French invoices. This way, you do not have to manually enter the coordinates for the elements in each language. You only have to make the necessary changes for the texts of the particular language.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to transfer settings to document templates.</p>
</div>
<div class="paragraph instruction">
<p>Transferring settings from one document template to another:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations</strong>.</p>
</li>
<li>
<p>Select a location.</p>
</li>
<li>
<p>Open the <strong>Documents</strong> menu of the location.</p>
</li>
<li>
<p>Select the document whose settings you wish to transfer to another document.</p>
</li>
<li>
<p>Open the <strong>Transfer</strong> tab of the document.</p>
</li>
<li>
<p>In the <strong>Apply settings to target template</strong>, select the <strong>Location</strong>, the <strong>Language</strong> and the <strong>Target template</strong> of the document to which the settings should be transferred.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use the preview function to compare documents</div>
<div class="paragraph">
<p>You can open a PDF <strong>Preview</strong> and print out the document for testing purposes. Use the preview to compare the document characteristics and decide whether transferring settings from one document template to another makes sense or whether too many settings have to be changed manually.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1600">4.2. Applying default settings</h3>
<div class="paragraph">
<p>Select <strong>Apply settings from default document template</strong> to transfer the default settings to an empty document or to reset the settings of a document to default values.</p>
</div>
<div class="paragraph instruction">
<p>Applying default settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents</strong>.</p>
</li>
<li>
<p>Select the document to which the default settings should be applied.</p>
</li>
<li>
<p>Open the <strong>Transfer</strong> tab of the document.</p>
</li>
<li>
<p>Select the <strong>Language</strong> above the title of the tab.</p>
</li>
<li>
<p>In the <strong>Apply settings from default document template</strong> area, click on <strong>Apply</strong>.<br>
→ The default settings are applied to the document.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">5. Linking a PDF template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to provide the letterhead of your online store as a <strong>PDF template</strong> in your plentymarkets system. If you offer several payment methods with different information on payment procedures, you need a separate document template for each payment method.<br></p>
</div>
<div class="paragraph">
<p>Proceed as described below to upload a PDF file containing the letterhead of your store and link the PDF template to a localised document template.</p>
</div>
<div class="paragraph instruction">
<p>Linking a PDF template to a localised document template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents</strong>.</p>
</li>
<li>
<p>Select the document to which a PDF template should be linked.</p>
</li>
<li>
<p>Click on <strong>Add template</strong>.<br>
→ A separate window containing options for uploading the PDF template opens.</p>
</li>
<li>
<p>Select the desired <strong>Payment method</strong> from the drop-down list.</p>
</li>
<li>
<p>Select the desired <strong>Language</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Choose template file</strong> and select the PDF file.</p>
</li>
<li>
<p>Click on <strong>Upload template</strong>.<br>
→ The template is added and listed in the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Use the <strong>Preview</strong> icon in the line next to the PDF template to display a preview of the template.</p>
</li>
<li>
<p>Switch to the <strong>Template</strong> tab and click on <strong>Preview</strong> to display a preview of the complete document and check your settings.</p>
</li>
<li>
<p>Correct the PDF template or the coordinates of the document template to eliminate overlapping content.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Proceed as follows to link PDF templates to fulfilment documents.</p>
</div>
<div class="paragraph instruction">
<p>Linking a PDF template to a fulfilment document template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents</strong>.</p>
</li>
<li>
<p>Select the document to which a PDF template should be linked.</p>
</li>
<li>
<p>Open the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Open the <strong>New template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Select file</strong> to select the PDF file.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Switch to the <strong>Templates</strong> tab and click on <strong>Preview</strong> to display a preview containing only the uploaded PDF template.</p>
</li>
<li>
<p>Open the tab <strong>Template</strong> and click on <strong>Preview</strong> to display a preview of the complete document.</p>
</li>
<li>
<p>Correct the PDF template or the coordinates of the document template to eliminate overlapping content.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">6. Defining number ranges</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Number ranges are available for numerous documents. You can manage the number ranges in the <strong>Number range</strong> within a document. The number range consists of up to 5 digits and may contain numbers, letters and characters. The number range is placed in front of the actual number of the document.</p>
</div>
<div class="paragraph">
<p>Enter the first number in the field <strong>Number (starting value)</strong>. This number will be used as a starting value. This does not necessarily have to be “1”. For example, if you already have numbered invoices in your system, you can start from the existing values and continue the numbering. If you want the number to consist of a certain amount of digits, enter the starting value with leading zeros (e.g. 00001). If documents with higher numbers already exist in the system, these will be used.</p>
</div>
<div class="paragraph">
<p>Using the example of <a href="/en/order-documents/generating-invoices">invoice documents</a>, the following instruction describes how to define a number range. Proceed the same way for other documents.</p>
</div>
<div class="paragraph instruction">
<p>Defining a number range for invoices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents » Invoice</strong>.</p>
</li>
<li>
<p>Select the desired <strong>Language</strong> from the drop-down list.</p>
</li>
<li>
<p>Open the tab <strong>Number range</strong>.</p>
</li>
<li>
<p>Enter a prefix for the number range consisting of up to 5 numbers and/or letters in the field <strong>Number range</strong>, e.g. <strong>2016</strong>.<br>
→ Add a hyphen at the end of the prefix to separate the prefix from the actual document number.</p>
</li>
<li>
<p>Enter the first invoice number for the number range in the field <strong>Number (starting value)</strong>, e.g. <strong>00001</strong>.<br>
→ The invoice numbers are assigned starting from this number (in this example <strong>201500001</strong>).</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Several locations</div>
<div class="paragraph">
<p>If you wish to use number ranges for more than one location, you have the following options:<br>
<strong>One number range for multiple locations</strong><br>
The numbers are counted upwards for all locations. Thus, each number is only assigned once. Select the same number range for every document and every location to use this method.<br>
<strong><em>Note:</em></strong> This method can only be used for locations belonging to the same client. It is not possible to assign a number range to multiple locations belonging to different clients.<br>
<strong>Unique number ranges for each location</strong><br>
Specific number ranges can be defined per location and per document, e.g. by including an abbreviation for the location in the number range. The numbers are counted upwards within each number range. Thus, they can occur repeatedly within a client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In addition, you can assign number ranges for individual countries. The document number is then assigned on the basis of the country indicated in the recipient’s address. Proceed as described below to assign number ranges for individual countries. Again, defining number ranges is explained using the example of invoices. However, keep in mind that creating individual number ranges per country does not always make sense. Contact your tax advisor before carrying out this setting.</p>
</div>
<div class="paragraph instruction">
<p>Defining a number range per country for invoices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents » Invoice</strong>.</p>
</li>
<li>
<p>Select the desired <strong>Language</strong> from the drop-down list.</p>
</li>
<li>
<p>Open the tab <strong>Number range</strong>.</p>
</li>
<li>
<p>Expand the menu <strong>Numbering per country</strong>.</p>
</li>
<li>
<p>In the field <strong>Numbering</strong> for the individual countries, enter a Prefix consisting of up to 5 numbers and/or letters for the number range, e.g. <strong>16DE</strong> for Germany.</p>
</li>
<li>
<p>In the field <strong>Number (starting value)</strong> for the individual countries, enter the number that should be assigned to the first invoice, e.g. <strong>00001</strong>.<br>
→ The invoice numbers are assigned for each country starting with this number.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Deleting or editing a number range</div>
<div class="paragraph">
<p>Do not remove a number range once you have started generating PDF documents that contain the number range. However, you can edit number ranges even when they are already in use. The changed number range has to differ from all other number ranges that are already in use. In other words, you have to change at least one digit or add a digit to an existing number range. However, you must not remove a digit. Example: If the previous number range was 13IN, 13I is not permitted as a new number range, but 13IN0 is.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">7. Automating subsequent procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After having set up the document templates, you can set up automatic procedures in the <a href="/en/automation/event-procedures">System » Orders » Events</a> menu. One interesting possibility is automatically booking outgoing items as soon as an invoice is generated. You can also set up further procedures, such as automatically sending emails.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="220">8. Tax information for foreign shipments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In general, we recommend contacting your tax advisor to discuss all fiscally relevant contents in your document template before using them.</p>
</div>
<div class="sect2">
<h3 id="230">8.1. EU delivery</h3>
<div class="paragraph">
<p>For deliveries to countries belonging to the European Union and if a VAT number is available, the invoice is automatically created containing net prices. To comply with tax regulations, your own VAT number as well as the customer’s VAT number have to be displayed on the invoice. In addition, a note has to be displayed.</p>
</div>
<div class="paragraph">
<p>The customer’s VAT number is available as a data field in the <strong>Positioning the mandatory fields</strong> section. Position the customer’s VAT number in the upper section of the invoice by entering coordinates.</p>
</div>
<div class="paragraph">
<p>The data field <strong>Tax note 1</strong> is available in the <strong>Optional elements below stock unit table</strong> section. This data field is displayed with deliveries to the EU if the customer’s VAT number is available.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: Sample note for Germany</div>
<div class="paragraph">
<p>“Export shipping according to $4 No. 1a in connection with $6 UStG.”</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="240">8.2. Export shipments</h3>
<div class="paragraph">
<p>Export shipments are deliveries to a country outside the EU. Invoices for export shipments are also created with net prices. For this purpose, a note containing tax information has to be displayed as well.</p>
</div>
<div class="paragraph">
<p>The data field <strong>Tax note 2</strong> is available.</p>
</div>
<div class="paragraph">
<p>The required <strong>tax notes</strong> vary from case to case. Consult your tax advisor on the appropriate wording.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="250">9. Margin scheme for order items in documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two settings for displaying order items and sums that are subject to the margin scheme on invoices, dunning letters and credit notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Subtotal for order items to which the margin scheme applies</p>
</li>
<li>
<p>Note on order items to which the margin scheme applies</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For these settings to take effect and be displayed on documents, go to <strong><a href="/en/orders/accounting">System » Client » Select client » Locations » Select location » Accounting » Tab: VAT rates</a></strong> and select one of the 4 VAT rates for the option <strong>Margin scheme</strong> for the default country.
The margin scheme setting in plentymarkets is an older customized implementation. The tax rate will be applied to the entire amount of the order items that the margin scheme applies to. In other words, the tax rate will not be applied to the difference between sales price and purchase price.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-14.png" alt="EN Settings Orders Documents 14">
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Documents-15.png" alt="EN Settings Orders Documents 15">
</div>
</div>
</div>
</div>
</main>