<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Entering the order ID</span></a></li>
<li><a href="#200"><span>2.</span><span> Scanning items</span></a></li>
<li><a href="#300"><span>3.</span><span> Editing the pallet</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>3.1.</span><span> Creating a pallet by scanning the items</span></a></li>
<li><a href="#600"><span>3.2.</span><span> Manually adding a pallet</span></a></li>
<li><a href="#700"><span>3.3.</span><span> Closing the pallet</span></a></li>
<li><a href="#800"><span>3.4.</span><span> Deleting the pallet</span></a></li>
</ul>
</li>
<li><a href="#900"><span>4.</span><span> Editing the package</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>4.1.</span><span> Creating a package by scanning the items</span></a></li>
<li><a href="#1100"><span>4.2.</span><span> Manually adding a package</span></a></li>
<li><a href="#1200"><span>4.3.</span><span> Closing the package</span></a></li>
<li><a href="#1300"><span>4.4.</span><span> Deleting the package</span></a></li>
</ul>
</li>
<li><a href="#1500"><span>5.</span><span> Manually adjusting the item quantity</span></a></li>
<li><a href="#1600"><span>6.</span><span> Displaying the barcode</span></a></li>
<li><a href="#1700"><span>7.</span><span> Displaying unpacked items</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Package content list</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you find detailed information about how to use the package content list in plentymarkets. The package content list informs you about the content of pallets and packages. Such a list is relevant for a fulfilment service provider who stores and sends your items for you. The list informs them about which items are in the packages.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Notes about the package content list</div>
<div class="paragraph">
<p>The available functions in the <strong>Orders » Package content list</strong> menu are primarily addressed to employees packing the items in the warehouse. Warehouse employees do not sit directly in front of the computer all the time, but rather move freely when using the barcode scanner and when packing the items,. This is why we intentionally designed the buttons and frames in this menu spaciously.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Entering the order ID</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Currently, it is only possible to enter the order ID manually. In the near future, it will be possible to scan the order ID using a barcode scanner.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Scanning items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The item is part of the package. The package is part of the pallet.</p>
</div>
<div class="paragraph">
<p>When scanning the first item, a pallet and a package is automatically created and the item is added to the package.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Editing the pallet</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following sub-chapters, you learn how to edit pallets.</p>
</div>
<div class="sect2">
<h3 id="500">3.1. Creating a pallet by scanning the items</h3>
<div class="paragraph">
<p>Once you have scanned the first item, a pallet and a package are automatically created.</p>
</div>
<div class="paragraph">
<p>However, you can also manually create the pallet.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">3.2. Manually adding a pallet</h3>
<div class="paragraph">
<p>By clicking on <strong>Add pallet</strong>, the pallet is created.</p>
</div>
</div>
<div class="sect2">
<h3 id="700">3.3. Closing the pallet</h3>
<div class="paragraph">
<p>When you close the pallet, the pallet, the packages and the items contained in the packages are closed for further processing. This action cannot be undone.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">3.4. Deleting the pallet</h3>
<div class="paragraph">
<p>When you delete the pallet, the pallet, the packages and the items contained in the packages are deleted.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">4. Editing the package</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following sub-chapters, you learn how to edit packages.</p>
</div>
<div class="sect2">
<h3 id="1000">4.1. Creating a package by scanning the items</h3>
<div class="paragraph">
<p>Once you have scanned the first item, a pallet and a package are automatically created.</p>
</div>
<div class="paragraph">
<p>However, you can also manually create the package.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">4.2. Manually adding a package</h3>
<div class="paragraph">
<p>By clicking on <strong>Add package</strong>, a new package is created.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">4.3. Closing the package</h3>
<div class="paragraph">
<p>When you close the package, the package and the items contained in the package are closed for further processing. This action cannot be undone.</p>
</div>
</div>
<div class="sect2">
<h3 id="1300">4.4. Deleting the package</h3>
<div class="paragraph">
<p>When you delete the package, the package and the items contained in the package are deleted.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">5. Manually adjusting the item quantity</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click on the value in the line <strong>Quantity</strong> of the list in order to adjust the quantity manually. The number of the items that are packed and are not packed yet is automatically adjusted.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">6. Displaying the barcode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Select the barcode from the drop-down list. The list contains all barcode types that are available in your system. If a barcode was created for the item, this barcode is displayed in the overview.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">7. Displaying unpacked items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Package content list</strong> menu, you can see in the top-right corner a large box with the number of the items that are not packed yet.</p>
</div>
<div class="paragraph">
<p>The number is updated automatically once you add another item to the package.</p>
</div>
</div>
</div>
</main>