<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_the_scheduler"><span>1.</span><span> General information about the scheduler</span></a></li>
<li><a href="#_carrying_out_the_basic_settings"><span>2.</span><span> Carrying out the basic settings</span></a></li>
<li><a href="#_carrying_out_settings_for_subscription_items"><span>3.</span><span> Carrying out settings for subscription items</span></a>
<ul class="sectlevel2">
<li><a href="#_categorizing_subscription_items"><span>3.1.</span><span> Categorizing subscription items</span></a></li>
<li><a href="#_activating_the_subscription_function"><span>3.2.</span><span> Activating the subscription function</span></a></li>
</ul>
</li>
<li><a href="#_inserting_template_variables_into_the_online_stores_layout"><span>4.</span><span> Inserting template variables into the online store’s layout</span></a></li>
<li><a href="#_the_subscription_function_displayed_in_the_online_store"><span>5.</span><span> The subscription function displayed in the online store</span></a></li>
<li><a href="#scheduled-orders"><span>6.</span><span> Scheduled orders</span></a>
<ul class="sectlevel2">
<li><a href="#_searching_for_scheduled_orders"><span>6.1.</span><span> Searching for scheduled orders</span></a></li>
<li><a href="#_manually_creating_a_scheduled_order"><span>6.2.</span><span> Manually creating a scheduled order</span></a></li>
</ul>
</li>
<li><a href="#_editing_an_existing_subscription"><span>7.</span><span> Editing an existing subscription</span></a>
<ul class="sectlevel2">
<li><a href="#_tab_base"><span>7.1.</span><span> Tab: Base</span></a></li>
<li><a href="#_tab_item"><span>7.2.</span><span> Tab: Item</span></a></li>
<li><a href="#_tab_customer"><span>7.3.</span><span> Tab: Customer</span></a></li>
</ul>
</li>
<li><a href="#_creating_a_new_subscription"><span>8.</span><span> Creating a new subscription</span></a></li>
<li><a href="#_run"><span>9.</span><span> Run</span></a></li>
<li><a href="#_starting_the_run_function"><span>10.</span><span> Starting the run function</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Old: Scheduler</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The scheduler is a subscription module. This module allows your customers to subscribe to certain items in your online store. The scheduler menu is only visible in your plentymarkets system if you booked this module.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Scheduler only for Callisto webshop</div>
<div class="paragraph">
<p>Note that the Scheduler is only for the Callisto webshop. This module is no longer supported and has been replaced by the new subscription module. To get more information about the new subscription function for manual orders, go to <a href="/en/orders/subscription">manual page Subscription</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_the_scheduler">1. General information about the scheduler</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The scheduler is a subscription module. This module allows your customers to subscribe to certain items in your online store. The module is <a href="/en/business-decisions/your-contract">an additional add-on</a> and only visible in your plentymarkets system if you booked this module. In the <strong>Setup » Orders » Scheduler</strong> menu, you can configure the scheduler module for your online store. After configuring the module, the <a href="/en/orders/scheduler#scheduled-orders"><strong>Orders » Scheduler » Scheduled orders</strong></a> menu provides you with an overview of your subscriptions.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Not for items with order characteristics</div>
<div class="paragraph">
<p>The scheduler module is not for items with <strong>order characteristics</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_carrying_out_the_basic_settings">2. Carrying out the basic settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, you determine which basic settings are to be valid for this module.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Scheduler</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>Setup » Orders » Scheduler</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Intervals</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the intervals for the subscription function. Press Ctrl+C or cmd+C for multiple selection. The intervals which you select here will be available for customers in the online store. During the order process, this will allow the customer to select the intervals that they want to receive the item in. In order to have the options displayed in the online store, you have to insert the corresponding template variable (section 4).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determines how often the subscription is to be processed. Select all of the options that should be available for customers to choose. Press Ctrl+C or cmd+C for multiple selection. The values which you select here will be available for selection in the online store. During the order process, this will allow the customer to select how often they want to receive the item. In order to have the options displayed in the online store, you have to insert the corresponding template variable (section 4).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Permitted payment methods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the payment methods that you want to make available for the subscription function. Press Ctrl+C or cmd+C for multiple selection.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Changes to items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether changes concerning the order options, e.g. the quantity, should be permitted during the order process.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item number per interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which quantity of the item is to be delivered in the interval. This is an optional setting which can be used to compensate for missing items. For example, if an item quantity only suffices for one week, yet the customer selected an interval of two weeks, then you could enter 2 as the item number per interval. Of course, this is assuming that you are certain the customer will agree to receiving the corrected quantity.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum runtime</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a minimum runtime for the subscription function. It is only possible to subscribe to the item for this period of time or longer. The minimum runtime is optional.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum runtime</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the maximum runtime for a subscription. The maximum runtime is optional.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer of generated orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the order referrer for subscriptions.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: explanations of the scheduler module’s settings</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_carrying_out_settings_for_subscription_items">3. Carrying out settings for subscription items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, carry out the settings for your subscription items. Integrate the subscription items into your stock. Then activate the subscription function. To do so, proceed as follows.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Sales price setting <strong>Subscription Interval</strong> not functional</div>
<div class="paragraph">
<p>The scheduler does not take into account the option <strong>Subscription Interval</strong> of the sales price. It is possible to create sales prices for different subscription intervals. However, the scheduler ignores all intervals except <strong>None</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_categorizing_subscription_items">3.1. Categorizing subscription items</h3>
<div class="paragraph">
<p>You have different options for integrating subscription items in your stock. It is recommended that you create a <a href="/en/item/managing-categories"><strong>category</strong></a> for subscription items only and link all items desired to this category. Another option is that you create the items again as <strong><a href="/en/item/managing-items#320">item bundles</a></strong> so that they are linked to the main item. This is important for reasons of stock-keeping.</p>
</div>
</div>
<div class="sect2">
<h3 id="_activating_the_subscription_function">3.2. Activating the subscription function</h3>
<div class="paragraph">
<p>The subscription function first needs to be activated globally and then separately for each item that you wish to offer as a subscription item. The global activation makes it possible for customers to place subscription orders in general. The activation for individual items defines which items customers are allowed to order as subscriptions. In order to activate the subscription function globally, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Globally activating the subscription function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong><a href="/en/omni-channel/online-store/setting-up-clients/my-account">Setup » Client » Select client » My Account » Settings</a></strong>.</p>
</li>
<li>
<p>Select the setting <strong>activated</strong> for the option <strong>Subscriptions</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now activate the subscription function for each item that the customer should be allowed to order as a subscription.</p>
</div>
<div class="paragraph instruction">
<p>Activating the subscription function for individual items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong><a href="/en/item/managing-items#40">Gobal</a></strong> tab.</p>
</li>
<li>
<p>Select the setting <strong>Yes</strong> for the option <strong>Subscription</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Deactivating the subscription function</div>
<div class="paragraph">
<p>Set the global function to <strong>deactivated</strong> and set the function within individual items to <strong>No</strong> if you do not want to use the subscription function anymore. Remove the code from your online store’s layout (section 4).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_inserting_template_variables_into_the_online_stores_layout">4. Inserting template variables into the online store’s layout</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before customers can select the subscription function in the online store, you have to insert the template variables and code into your store’s layout.</p>
</div>
<div class="paragraph instruction">
<p>Inserting template variables:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Insert the template variables and code (example further below) between <strong>$FormOpenOrder</strong> and <strong>$FormCloseOrder</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table explains the template variables needed to insert the subscription function into the online store:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template variable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Function</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$IsSubscriptionItem</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returns a boolean value (TRUE or FALSE depending on the item’s setting). Use this template variable for an IF query in the layout. This will determine whether or not an item is a subscription item. Otherwise the subscription function will be displayed for all of the items instead of only for those items that are actually subscription items. An example with an IF query can be found underneath the table.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerDateSelector</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inserts a calendar selection box, which customers can use to select the date of the first delivery.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerInterval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inserts a drop-down list for selecting the interval for the subscription. Here you can select the intervals that were saved in the settings (section 2).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerRepeating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inserts a drop-down list for selecting the number of deliveries. Here you can select the options for the number of orders that were saved in the settings (section 2).</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: explanations of the scheduler module’s template variables</em></p>
</div>
<div class="paragraph">
<p>The following code is an example of how to arrange and name the template variables:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-xml hljs" data-lang="xml">&#123;&#37; if $IsSubscriptionItem &#37;&#125;
&lt;!--  Box Filter --&gt;
&lt;div class="ff01_pagenav" style="margin-top:5px;"&lt;h2Subscription&lt;/h2&gt;&lt;/div&gt;
First delivery: $SchedulerDateSelector&lt;br /&gt;
Interval: $SchedulerInterval&lt;br /&gt;
Deliveries: $SchedulerRepeating&lt;br /&gt;
&lt;!--  End Box Filter --&gt;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_the_subscription_function_displayed_in_the_online_store">5. The subscription function displayed in the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have configured the settings described on this page, subscription items are displayed in your online store. The purchaser can customize the timing of the first delivery, the interval and the number of deliveries before placing the item in the shopping cart. If needed, these settings can be changed during the order process and before the order is sent.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="scheduled-orders">6. Scheduled orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The overview displays your subscriptions, including detailed information about the customers and orders. Use this menu to search for, edit and delete scheduled orders.</p>
</div>
<div class="paragraph">
<p>It is also possible to generate an order from the subscription. This is done by clicking on the <strong>gear-wheel</strong> icon. You have to generate an order from the subscription. Otherwise the order will not be included in the order overview. This is carried out manually.</p>
</div>
<div class="sect2">
<h3 id="_searching_for_scheduled_orders">6.1. Searching for scheduled orders</h3>
<div class="paragraph">
<p>In the <strong>Filter</strong> tab, you can search for scheduled orders according to specific filter criteria. The scheduler data that was found will then be displayed in the <strong>Scheduler</strong> tab.</p>
</div>
<div class="paragraph instruction">
<p>Searching for scheduled orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Scheduler » Scheduled orders</strong>.</p>
</li>
<li>
<p>Enter the search term in the search field or set the desired filter options in the drop-down lists. The filter options are described in table 1.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The scheduled orders that correspond to the search criteria entered will be listed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following filter options are available:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on this button to carry out the search. The scheduled orders that were found will then be displayed in the <strong>Scheduler</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the filter criteria that was entered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scheduler ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Each scheduler data record automatically receives a consecutive and exclusive ID. The ID is always a real number (e.g. "00521" or "ADF8354" are invalid).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Search by the customer ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Search by the item ID of the item that is included in the scheduled order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Search by the name of the customer. You can search by the customer’s first and last name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which starting dates you want to search for. You can select:<br>
<strong>All</strong> = No filter<br>
<strong>No starting date</strong> = Searches for scheduled orders that do not have a starting date.<br>
<strong>Starting date in the future</strong> = Searches for scheduled orders that have a starting date in the future.<br>
<strong>Starting date in the past</strong> = Searches for scheduled orders that have a starting date in the past.<br>
<strong>In the last 7/14/30/80/90 days</strong> = Searches for scheduled orders that have a starting date that is a certain number of days in the past.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which ending dates you want to search for. You can select:<br>
<strong>All</strong> = No filter<br>
<strong>No ending date</strong> = Searches for scheduled orders that do not have an ending date.<br>
<strong>Ending date in the future</strong> = Searches for scheduled orders that have an ending date in the future.<br>
<strong>In the future or no ending date</strong> = Searches for scheduled orders that do not have an ending date or that have an ending date in the future.<br>
<strong>Ending date in the past</strong> = Searches for scheduled orders that have an ending date in the past.<br>
<strong>In the last 7/14/30/80/90 days</strong> = Searches for scheduled orders that have an ending date that is a certain number of days in the past.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Run</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following filter options for the run:<br>
<strong>Never</strong> = Searches for scheduled orders in which the run was not carried out.<br>
<strong>This month</strong> = Searches for scheduled orders in which the run was carried out this month.<br>
<strong>Last month</strong> = Searches for scheduled orders in which the run was carried out last month.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between the options <strong>Yes</strong>, <strong>No</strong> and <strong>ALL</strong> if you want to search for all scheduled orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a user to search for the scheduled orders of this owner. The owner must be saved within the customer data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the scheduled order’s referrer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can choose between the option <strong>All</strong> and the intervals that were selected under <strong>Setup » Orders » Scheduler</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you select the setting <strong>Available</strong>, then you will only search for scheduled orders that belong to customers who have an IBAN saved in their <strong>bank data</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Direct debit mandate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Searches for customers who <strong>have given</strong> you a SEPA direct debit mandate or for those who have not given you this form.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client to only display scheduled orders that correspond to this client.<br>
<strong>Important:</strong> Variable users can only select those clients that they have a right to access. Variable users are given rights under <strong><a href="/en/business-decisions/user-accounts-access">Setup » Settings » User » Accounts » Tab: Right</a></strong>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: search options in the <strong>Filter</strong> tab</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_manually_creating_a_scheduled_order">6.2. Manually creating a scheduled order</h3>
<div class="paragraph">
<p>Proceed as described below to manually create a scheduled order.</p>
</div>
<div class="paragraph instruction">
<p>Manually creating a scheduled order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>gear-wheel icon</strong> on the right in the line of a scheduled order.<br>
→ The <strong>Create new scheduled order</strong> window will open.</p>
</li>
<li>
<p>Click on the <strong>Create order</strong> button.<br>
→ You will receive a success message once the order was created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Once a scheduled order was manually started, you will see the date of the last run within the <strong>Last run</strong> column.
An order will be created in the <strong>Orders</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: The operation could not be carried out successfully: Check the settings</div>
<div class="paragraph">
<p>Check the settings of the subscription. One possible error could be, e.g. that the starting date is in the future. In this case, adjust the starting date accordingly. Another possible error could be that the payment method was not included in the scheduler’s settings. Check the scheduler’s settings. You will also receive an error message if an order was already generated for this scheduled order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_editing_an_existing_subscription">7. Editing an existing subscription</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Editing a subscription:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Scheduler » Scheduled orders</strong>.</p>
</li>
<li>
<p>Find the scheduled order that you want to edit and click on its <strong>pencil</strong> icon.<br>
→ The scheduled order will open and can be edited.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The editing window is divided into 3 tabs. The settings that are found in the <strong>Base</strong> tab will be described in table 2. The settings in the <strong>Item</strong> tab relate to the subscribed items. The <strong>Customer</strong> tab includes information about the customer from the <strong>Customers</strong> menu.</p>
</div>
<div class="sect2">
<h3 id="_tab_base">7.1. Tab: Base</h3>
<div class="paragraph">
<p>The following parameters of a subscription are displayed in the <strong>Base</strong> tab:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The address that the invoice is sent to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change customer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click to change the customer. Either enter the customer ID or the name of the customer. You will see matching results once you have entered at least 3 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the delivery address if it was saved in the customer data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change the delivery address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If delivery addresses were saved for the customer, then they can be selected here. However, a new delivery address can not be created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scheduler ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The system automatically assigns the subscription ID. It can not be edited.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The scheduled order is activated if a check mark has been placed.<br>
Remove the check mark and click on the <strong>save icon</strong> to deactivate the scheduled order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The values that you saved in the <strong>Settings</strong> menu are displayed. You can change the number of shipments.<br>
The number of sent orders is displayed to the left of the forward slash.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start</strong>;<br>
<strong>End</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specify the duration of the scheduled order by selecting a starting and ending date.<br>
A calendar opens to help you configure the settings. The date that is initially displayed can thus be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start item</strong>;<br>
<strong>End item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Searches for scheduled orders with a starting and ending date that matches the selected options, e.g. starting date in the last seven days.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last run</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the date of the last order. In other words, this is the date when the most recent order was sent.<br>
You can use this date to determine when the next scheduled order should be sent. This is useful if you want to manually send the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can change the interval for this scheduled order as needed. The values that were saved in the <strong>Settings</strong> menu are available to select here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can see whether or not a coupon was used for the scheduled order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The currency for the scheduled order. Select a different currency from the drop-down list if needed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping costs. Enter a different amount if needed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping method for the scheduled order. Select a different shipping method from the drop-down list if needed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The payment method for the scheduled order. Select a different payment method from the drop-down list if needed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The client (store) for the scheduled order. Select a different client (store) from the drop-down list if needed.<br>
The client that is selected determines which <strong><a href="/en/orders/accounting">VAT rates</a></strong> will be available in the <strong>Item</strong> tab (see below).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The owner for the scheduled order. Select a different person from the drop-down list if needed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The referrer for the scheduled order. Select a different referrer from the drop-down list if needed.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: settings in the <strong>Base</strong> tab</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_tab_item">7.2. Tab: Item</h3>
<div class="paragraph">
<p>The <strong>Item</strong> tab is divided into two submenus. In the <strong>Scheduler item</strong> tab, you can see the items that are currently included in the scheduled order. Here you can edit the <strong>quantity</strong>, <strong>price</strong> and other information about the items. The <strong>VAT rates</strong> that are available here depend on the client that was selected in the <strong>Base</strong> tab. You can choose from the VAT rates that were saved for the client under <a href="/en/orders/accounting"><strong>Setup » Client » Select client » Locations » Select location » Accounting</strong></a>.</p>
</div>
<div class="paragraph">
<p>If you change the item description within the <strong>Item description</strong> field, then this change will not go into effect for the actual item itself.</p>
</div>
<div class="paragraph">
<p>The <strong>Add item</strong> tab displays the <strong>overview of items</strong>. This lets you select from your entire catalog of items.</p>
</div>
<div class="paragraph">
<p>The <strong>Start</strong> and <strong>End</strong> options are nearly identical to those for the scheduled order (table 2). The only difference is that the duration can be chosen separately for each individual item. This makes it possible, e.g. to offer different items at different times or to offer one item after another in a subscription.</p>
</div>
</div>
<div class="sect2">
<h3 id="_tab_customer">7.3. Tab: Customer</h3>
<div class="paragraph">
<p>By clicking the tab <strong>Customer</strong>, the contact data record in the <a href="/en/crm/managing-contacts">CRM » Contact</a> menu opens.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_a_new_subscription">8. Creating a new subscription</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to create a new subscription.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new subscription:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Scheduler » Scheduled orders</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Click on the save icon to save the settings.<br>
→ The new subscription will be created.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_run">9. Run</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Upcoming subscription sales orders</strong> will be displayed in this menu. Here, you can start multiple subscription sales orders at one time. This is especially helpful if you need to edit and monitor several subscriptions.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_starting_the_run_function">10. Starting the run function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After clicking on one of the two <strong>start run</strong> icons, you will be able to see which <strong>subscription IDs</strong> have <strong>sales orders</strong> pending for them.</p>
</div>
<div class="paragraph">
<p><strong>Selecting and starting subscription sales orders:</strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select <strong>filter options</strong> or leave each setting on <strong>ALL</strong> if you would like to have all of the currently pending subscription sales orders be displayed.</p>
</li>
<li>
<p>You can start the <strong>run</strong> function by clicking on one of the icons (see green arrows).<br>
→ The subscription sales orders will be created. Afterwards, they will no longer be displayed in the run menu.</p>
</li>
</ol>
</div>
</div>
</div>
</main>