<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Booking cash deposits and withdrawals</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentymarkets keeps a record of all the cash deposits and withdrawals in your POS system. Learn how to book a deposit and where to find an electronic record of the transaction.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/pos/working-with-app/deposits-withdrawals-accounts#video">Saving accounts for deposits and withdrawals or other events (0:29)</a></p>
<p class="tableblock"><a href="/en/videos/pos/working-with-app/deposits-withdrawals-booking#video">Booking deposits and withdrawals in the app (1:19)</a></p>
<p class="tableblock"><a href="/en/videos/pos/working-with-app/deposits-withdrawals-receipt#video">Viewing your electronic receipt (2:23)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/209725327#at=79" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>"Dorothy, you’re needed in aisle 3 please. Dorothy to aisle 3."<br>
Uh-oh, the cashier’s run out of coins and is no longer able to make change. It’s time for Dorothy to spring into action. In this case, she’ll need to put money in the cash drawer and record the additional funds.
Or in terms of the plentymarkets app, Dorothy will need to make a deposit.</p>
</div>
<div class="paragraph">
<p>Every deposit or withdrawal that’s not the result of a sale, needs to be booked and documented in the app.
In plentymarkets, simply navigate to the "Accounting" menu and save booking accounts for POS events like deposits and withdrawals.
You’ll notice there are already a few default events in this menu and they’re displayed in grey. These default events can neither be renamed nor deleted.
However, you can add custom events if there are other reasons why your business takes money out or puts money into the cash drawer.</p>
</div>
<div class="paragraph">
<p>When you’re done, enter whatever account you want to associate with the event. By entering account designations here, you’ll be able to distinguish between events that affect your company’s revenue and events that don’t.
But just FYI, it isn’t a POS event when you make a regular old sale in your store.
Instead, revenue from sales are ascribed to the accounts saved in this tab here.</p>
</div>
<div class="paragraph">
<p>Back to Dorothy and her store.
First, she’ll use the drop-down menu to choose a reason why she’s putting money in the cash drawer. Or in other words, she’ll choose one of the POS events that are saved in her plentymarkets system.
Next, she can enter additional information as needed. She’ll just need to keep in mind that reasons and additional information will be recorded in her plentymarkets system. And when she exports financial data to her tax authorities, this information will also be included in the export. So she’ll want to make sure she’s defined and selected the reasons as she wants them to appear on the exported report.</p>
</div>
<div class="paragraph">
<p>Alright, next Dorothy simply punches in the amount and taps on the word "Deposit". Of course, the procedure would be the same if she were making a withdrawal. She’d just need to tap the "Withdrawal" button instead.
The amount of cash on hand is updated automatically and the cash drawer opens. Dorothy’s printer spits out a receipt, which provides information about the deposit. Now Dorothy just needs to file the receipt away with her records.</p>
</div>
<div class="paragraph">
<p>But Dorothy isn’t the only one who’s keeping track. plentymarkets automatically keeps an electronic copy of the receipt too.
Dorothy can find the electronic receipt by opening the cash journal and searching for deposits and withdrawals.
Of course, Dorothy’s deposit is listed here too along with the reason that she gave.
 Now that you’ve learned how to deposit or withdraw funds from your cash drawer, take a look at the next video in this series, where we’ll look at counting the cash on hand.</p>
</div>
</div>
</div>
</main>