<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_1_info_returns_credit_notes_cancellations"><span>1.</span><span> 1) Info: returns / credit notes / cancellations</span></a></li>
<li><a href="#_2_details_about_the_statistic"><span>2.</span><span> 2) Details about the statistic</span></a></li>
<li><a href="#_3_settings"><span>3.</span><span> 3) Settings</span></a></li>
<li><a href="#_4_data_export"><span>4.</span><span> 4) Data export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Returns / credit notes / cancellations</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistics</strong>→ Type of statistic:<strong><strong>*Revenue /</strong><strong>Returns / credit notes / cancellations</strong></strong>*</p>
</div>
<div class="paragraph">
<p>**[IMPORTANT]
.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Topics or settings of this chapter:</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>1) <a href="/basics/statistics/general-statistics/revenue/returns-credit-notes-cancellations#1">Info: returns / credit notes / cancellations </a></p>
</div>
<div class="paragraph">
<p>2) <a href="/basics/statistics/general-statistics/revenue/returns-credit-notes-cancellations#2">Details about the statistic </a></p>
</div>
<div class="paragraph">
<p>3) <a href="/basics/statistics/general-statistics/revenue/returns-credit-notes-cancellations#3">Settings </a></p>
</div>
<div class="paragraph">
<p>4) <a href="/basics/statistics/general-statistics/revenue/returns-credit-notes-cancellations#4">Data export </a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_1_info_returns_credit_notes_cancellations">1. 1) Info: returns / credit notes / cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This statistic shows the monetary amounts of <strong>returns</strong>, <strong>credit notes</strong> and <strong>cancellations</strong> according to the selected <strong>time span</strong>. As an alternative to selecting a certain predefined time span, you can also choose an individual <strong>start</strong> and <strong>end date</strong>. Default setting for the <strong>time span</strong>: the <strong>last 30 days</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_2_details_about_the_statistic">2. 2) Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The type of sales order and the corresponding <strong>revenue in Euro</strong> will be displayed for the selected <strong>time span</strong>. If a particular type of sales order did not occur during the selected time span, then this type of sales order will not be displayed. The name of the <strong>sales order type</strong>, the corresponding <strong>revenue in Euro</strong> and the <strong>percentage of total revenue</strong> will be displayed as <strong>information in a mouseover</strong> (see image 1). In this statistic you can see, e.g. how many refunds were made during a particular time period and which percentage of these refunds were returns, credit notes or cancellations. This can help you monitor your refunds.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title"><strong>Show details (mouseover)</strong></div>
<div class="paragraph">
<p>Point your <strong>cursor</strong> at one of the elements in the statistic in order to see <strong>details</strong> about that particular element.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>In image 1, you can see that a <strong>total</strong> of <strong>146.99 Euros</strong> were refunded because of credit notes and that credit notes made up <strong>65.18 %</strong> of all the refunds that are displayed with this statistic.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/revenue/assets/EN-ENG-Statistik-Retouren01-SI.png" alt="EN ENG Statistik Retouren01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>returns / credit notes / cancellations</strong> statistic</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_3_settings">3. 3) Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>settings</strong> described below are available for this statistic.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/revenue/assets/EN-ENG-Statistik-Retouren02-SI.png" alt="EN ENG Statistik Retouren02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>returns / credit notes / cancellations</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>Explanations of the options</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry/Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In this drop-down menu, you can choose how you want the statistics to be displayed.<br>
<strong>2D pie chart</strong> = Displays the values as a two-dimensional pie chart<br>
<strong>3D pie chart</strong> = Displays the values as a three-dimensional pie chart<br>
<strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <strong>CSV file</strong>. The file contains the same parameters as are displayed with the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Raw data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The raw data export also generates a <strong>CSV file</strong>. However, the file contains a more detailed set of data. For example, instead of simply indicating the number of sales orders that were generated on a specific day, the CSV file includes relevant data fields for each individual sales order, such as the <strong>sales order ID</strong>, <strong>price</strong> etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the <strong>name</strong> of the statistic that was entered when the statistic was created. You can change the name here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Time span</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Each type of statistic has a default setting for <strong>time span</strong> that you can see in table 1 on the <a href="/basics/statistics"><strong>Statistics</strong>  </a> page of the manual. You can choose from a number of predefined time spans in a drop-down menu. In addition for some types of statistics you have the possibility to enter a time span by entering a <strong>start and end date</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change</strong> the <strong>time span</strong> if no or only very few data is shown and then click on the save icon to see the result. Choosing a <strong>larger time span</strong> will give you more information. If there is a lot of data, then a <strong>shorter time span</strong> may make more sense in order to be able to actually interpret the graphic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Starting date …​ Ending date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can enter a specific <strong>starting and ending date</strong> here instead of selecting a <strong>time span</strong> (optional).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status options</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Depending on the type of statistic there are different options available to narrow down the <strong>status</strong>. There are <strong>standard values</strong> set by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Multishop</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>webshops</strong> or <strong>multishops</strong> that you would like to include into the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Net</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate this option to display <strong>net amounts</strong> in the statistic.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>;</em><em><strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_4_data_export">4. 4) Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described in table 1, you can choose between a simple and a detailed export. An example of each is provided below.</p>
</div>
<div class="paragraph">
<p>Exporting the diagram data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>QuantityOfOrders</strong> = Quantity of sales orders, <strong>Losses</strong> = Amount refunded, <strong>OrderType</strong> = Type of sales order</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/revenue/assets/EN-Statistik-RetourenGutStor-03-SI.png" alt="EN Statistik RetourenGutStor 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>returns / credit notes / cancellations</strong> statistic; simple export</em></p>
</div>
<div class="paragraph">
<p>Exporting the raw data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>Date</strong> = Date, <strong>OrderID</strong> = Sales order ID, <strong>Losses</strong> = Amount refunded, <strong>OrderType</strong> = Type of sales order</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/revenue/assets/EN-Statistik-RetourenGutStor-04-SI.png" alt="EN Statistik RetourenGutStor 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>returns / credit notes / cancellations</strong> statistic; raw data export</em>**</p>
</div>
</div>
</div>
</main>