<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_CheckoutOrderParamsList</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert den Inhalt des Containers für die Auswahl von Bestellmerkmalen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_CheckoutOrderParamsList( string $itemID  , string $quantity  , string $basketItemID  ) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_checkoutorderparamslist">Template CheckoutOrderParamsList</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_checkoutorderparamslistbasketitem">CheckoutOrderParamsListBasketItem</h3>
<div class="sect3">
<h4 id="_variablen">Variablen</h4>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$CheckoutOrderParamsListBasketItemID — Beinhaltet die ID der Warenkorbposition für die Auflistung der Bestellmerkmale.</p>
</li>
<li>
<p>$CheckoutOrderParamsListBasketItemItemID — Beinhaltet die ID des Artikels für die Auflistung der Bestellmerkmale.</p>
</li>
<li>
<p>$CheckoutOrderParamsListBasketItemQuantity — Beinhaltet die Bestellmene der Warenkorbposition für die Auflistung der Bestellmerkmale.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_checkoutorderparamslistgroupitem">CheckoutOrderParamsListGroupItem</h3>
<div class="sect3">
<h4 id="_variablen_2">Variablen</h4>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$OrderParamsGroupItemID — Beinhaltet die ID der Merkmalgruppe.</p>
</li>
<li>
<p>$OrderParamsGroupItemInputName — Beinhaltet den Formularnamen für die Merkmalgruppen Auswahl. Dieser Name ist wichtig bei einer Gruppierung vom Typ "Einfachauswahl".</p>
</li>
<li>
<p>$OrderParamsGroupItemName — Beinhaltet den Namen der Merkmalgruppe.</p>
</li>
<li>
<p>$OrderParamsGroupItemPosition — Beinhaltet die Position der Merkmalgruppe.</p>
</li>
<li>
<p>$OrderParamsGroupItemSelectedValues — Beinhaltet die Ausgewählten Werte der Merkmalgruppe. Diese Daten sollten bei den Gruppierungen "Einfachauswahl" oder "Mehrfachauswahl" verwendet werden.</p>
</li>
<li>
<p>$OrderParamsGroupItemType — Beinhaltet die Art der Merkmalgruppe. Kann mit den Template-Variablen$ORDER_PARAMS_GROUP_TYPE_Xverglichen werden.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_checkoutorderparamslistvalueitem">CheckoutOrderParamsListValueItem</h3>
<div class="sect3">
<h4 id="_variablen_3">Variablen</h4>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$OrderParamsValueItemID — Beinhaltet die ID der Merkmalgruppe.</p>
</li>
<li>
<p>$OrderParamsValueItemInputName — Beinhaltet den Formularnamen der Merkmalwert-Eingabe.</p>
</li>
<li>
<p>$OrderParamsValueItemIsSelected — Flag ob das Markmal ausgewählt wurde.</p>
</li>
<li>
<p>$OrderParamsValueItemMarkup — Beinhaltet den Aufpreis des Merkmals.</p>
</li>
<li>
<p>$OrderParamsValueItemName — Beinhaltet den Namen des Merkmals.</p>
</li>
<li>
<p>$OrderParamsValueItemPosition — Beinhaltet die Position des Merkmals.</p>
</li>
<li>
<p>$OrderParamsValueItemSelectList — Beinhaltet die Werte von Merkmalen des Typs "Auswahl".</p>
</li>
<li>
<p>$OrderParamsValueItemType — Beinhaltet den Merkmaltyp.</p>
</li>
<li>
<p>$OrderParamsValueItemValue — Beinhaltet den Merkmalwert. Dieser sollte in Formularelementen als "value" angegeben sein.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>