<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_CheckoutMethodsOfPaymentList</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert den Inhalt des Containers für die Liste der Zahlungsarten. Der Inhalt wird im Template CheckoutMethodsOfPaymentList definiert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_CheckoutMethodsOfPaymentList() : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_checkoutmethodsofpaymentlist">Template CheckoutMethodsOfPaymentList</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_variablen">Variablen</h3>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$AtrigapaymaxChecked</p>
</li>
<li>
<p>$TrackingCode — Beinhaltet den Trackingcode.</p>
</li>
<li>
<p>$TrustedShopsBuyerProtectionItem — Beinhaltet Informationen über den Trustedshop Käuferschutz.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_checkoutmethodsofpaymentlistitem">CheckoutMethodsOfPaymentListItem</h3>
<div class="sect3">
<h4 id="_variablen_2">Variablen</h4>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$HasExternalDeliveryAddress</p>
</li>
<li>
<p>$MethodOfPaymentAtrigapaymaxActive</p>
</li>
<li>
<p>$MethodOfPaymentExternalButton — Beinhaltet das Schaltflächen-Element für einen externen Bestellvorgang.</p>
</li>
<li>
<p>$MethodOfPaymentExternalContainer — Beinhaltet einen Container für Widgets eines externen Bestellvorgangs.</p>
</li>
<li>
<p>$MethodOfPaymentExternalInfo — Beinhaltet Informationen über einen externen Bestellvorgang.</p>
</li>
<li>
<p>$MethodOfPaymentHasIcon — Flag ob die Zahlungsart ein Icon enthält.</p>
</li>
<li>
<p>$MethodOfPaymentID — Beinhaltet die ID der Zahlungsart.</p>
</li>
<li>
<p>$MethodOfPaymentIcon — Beinhaltet das Icon der Zahlungsart.</p>
</li>
<li>
<p>$MethodOfPaymentIsDisabled</p>
</li>
<li>
<p>$MethodOfPaymentIsSelected — Flag ob die Zahlungsart zur Zeit ausgewählt ist.</p>
</li>
<li>
<p>$MethodOfPaymentName — Beinhaltet den Namen der Zahlungsart.</p>
</li>
<li>
<p>$MethodOfPaymentPrice — Beinhaltet den Aufrpeis der Zahlungsart.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>