<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_CheckoutScheduler</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert den Inhalt des Abonnement-Containers. Der Inhalt wird im Template CheckoutScheduler definiert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_CheckoutScheduler() : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_checkoutscheduler">Template CheckoutScheduler</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_checkoutscheduleritem">CheckoutSchedulerItem</h3>
<div class="sect3">
<h4 id="_variablen">Variablen</h4>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$SchedulerDate — Beinhaltet das Datum des Abo-Auftrags.</p>
</li>
<li>
<p>$SchedulerInterval — Beinhaltet den Interval des Abo-Auftrags.</p>
</li>
<li>
<p>$SchedulerIntervalName — Beinhaltet die Interval-Bezeichnung des Abo-Auftrags.</p>
</li>
<li>
<p>$SchedulerIsAdded — Flag ob der Abo-Auftrag bereits zugeordnet wurde.</p>
</li>
<li>
<p>$SchedulerRepeating — Beinhaltet die Anzahl von Wiederholungen des Abo-Auftrags.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>