<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> E-Mail-Server-Zugangsdaten speichern</span></a></li>
<li><a href="#200"><span>2.</span><span> Verschlüsselung der E-Mail-Kommunikation wählen</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Sicherheit durch SSL-Verschlüsselung</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Sicherheit durch STARTTLS</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Unverschlüsselte Verbindung</span></a></li>
</ul>
</li>
<li><a href="#600"><span>3.</span><span> E-Mail-Signatur speichern</span></a></li>
<li><a href="#700"><span>4.</span><span> E-Mail-Infodienst einrichten</span></a></li>
<li><a href="#800"><span>5.</span><span> HTML-Design konfigurieren</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>5.1.</span><span> Unternehmenslogo in das HTML-Design einfügen</span></a></li>
<li><a href="#1000"><span>5.2.</span><span> Template-Variablen in das HTML-Design einfügen</span></a></li>
<li><a href="#1100"><span>5.3.</span><span> HTML-Design mit der E-Mail-Vorlage verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>6.</span><span> E-Mail-Vorlage erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#1300"><span>6.1.</span><span> Template-Variablen und Template-Funktionen verwenden</span></a></li>
<li><a href="#1400"><span>6.2.</span><span> Anzeige der Artikelpositionen einrichten</span></a></li>
<li><a href="#1500"><span>6.3.</span><span> if-Abfragen in E-Mail-Vorlagen verwenden</span></a></li>
<li><a href="#1600"><span>6.4.</span><span> E-Mail-Vorlage anhand der Vorschau prüfen</span></a></li>
<li><a href="#1700"><span>6.5.</span><span> E-Mail-Vorlage bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#1800"><span>7.</span><span> E-Mails versenden</span></a>
<ul class="sectlevel2">
<li><a href="#1900"><span>7.1.</span><span> Ticketnachrichten und Kommentare als E-Mails versenden</span></a></li>
<li><a href="#2000"><span>7.2.</span><span> Gutscheine per E-Mail versenden</span></a></li>
</ul>
</li>
<li><a href="#2300"><span>8.</span><span> Automatischen E-Mail-Versand einrichten</span></a></li>
<li><a href="#2500"><span>9.</span><span> Gesendete E-Mail-Vorlagen pro Kunde anzeigen</span></a></li>
<li><a href="#2600"><span>10.</span><span> Alle versendeten E-Mail-Vorlagen anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>E-Mails versenden</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Alle E-Mails, die über plentymarkets versendet werden, basieren auf E-Mail-Vorlagen. Diese werden im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong> verwaltet. Sie können beliebig viele E-Mail-Vorlagen in diesem Menü erstellen. Bei bestimmten Ereignissen, z.B. beim Eingehen neuer Bestellungen in Ihrem Webshop oder nachdem ein Kunde einen Newsletter abonniert hat, erstellt Ihr plentymarkets System automatisch E-Mails aus diesen Vorlagen und versendet diese an Ihre Kunden. Sie legen fest, welche E-Mail wann automatisch versendet werden soll.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. E-Mail-Server-Zugangsdaten speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Zugangsdaten</strong> speichern Sie die Zugangsdaten des E-Mail-Postfachs, aus dem Sie E-Mails versenden möchten, damit plentymarkets E-Mails wie Auftragsbestätigungen und Versandbestätigungen von dieser E-Mail-Adresse versenden kann.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Server-Zugangsdaten speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Zugangsdaten</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. E-Mail-Server-Zugangsdaten speichern</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Testmodus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiv</strong> oder <strong>Inaktiv</strong> wählen.<br>
<strong>Aktiv</strong> = Der Testmodus ist aktiviert. Alle E-Mails werden nur an die eingegebene E-Mail-Adresse gesendet. So kann vor dem Live-Betrieb die korrekte Funktionsweise geprüft werden.<br>
<strong>Inaktiv</strong> = Der Live-Modus ist aktiviert.<br>
<strong><em>Wichtig:</em></strong> Der Testmodus gilt nur für diesen Webshop. Die Einstellungen für weitere Mandanten werden im Menü des Mandanten (Shops) konfiguriert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name des Absenders</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eigenen Namen oder Namen des Webshops eingeben, wie er beim Empfänger angezeigt werden soll. Für die korrekte Darstellung die Verwendung von Sonderzeichen vermeiden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Adresse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresse eingeben, wie sie auch im E-Mail-Programm steht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Postausgangsserver/SMTP-Server</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Postausgangsserver wie vom Provider angegeben eingeben (meist smtp.domain.de oder mail.domain.de).<br>
<strong><em>mailbox.org</em></strong>: Für Postfächer bei mailbox.org den Postausgangsserver <strong>smtp.mailbox.org</strong> eingeben und Verschlüsselung <strong>SSL</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Benutzername</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Benutzername zu der E-Mail-Adresse eingeben.<br>
<strong><em>mailbox.org</em></strong>: Der mailbox.org-Benutzername ist die vollständige E-Mail-Adresse des mailbox.org-Postfachs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Passwort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Passwort zu dem Benutzername und der E-Mail-Adresse eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Port (Standardport: 25)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wert <strong>25</strong> eingeben. Dieser Wert ist für fast alle Provider korrekt. Ggf. den korrekten Port beim Provider erfragen.<br>
<strong><em>mailbox.org</em></strong>: Für Postfächer bei mailbox.org den Port <strong>465</strong> eingeben und unter <strong>Verschlüsselung</strong> die Einstellung <strong>SSL</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verschlüsselung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SSL</strong>, <strong>TLS</strong> oder <strong>keine Verschlüsselung</strong> wählen. Weitere Informationen finden Sie im Kapitel <a href="/crm/e-mails-versenden#200"><strong>Verschlüsselung der E-Mail-Kommunikation wählen</strong></a>.<br>
<strong><em>mailbox.org</em></strong>: Für Postfächer bei mailbox.org den Port <strong>465</strong> eingeben und Verschlüsselung <strong>SSL</strong> wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Erfahren Sie mehr über das Speichern von E-Mail-Zugangsdaten am Beispiel der E-Mail-Dienste von 1&amp;1 im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/173595675" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Newsletter-Zugangsdaten eingeben</div>
<div class="paragraph">
<p>Wenn Sie Newsletter an Ihre Kunden versenden wollen, geben Sie die Zugangsdaten im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Newsletter-Zugangsdaten</strong> ein. Weitere Informationen dazu finden Sie auf der Handbuchseite <a href="/crm/newsletter-versenden"><strong>Newsletter versenden</strong></a> im Kapitel <a href="/crm/newsletter-versenden#200"><strong>Newsletter-Zugangsdaten eingeben</strong></a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Verschlüsselung der E-Mail-Kommunikation wählen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Verschlüsselungsmethoden <strong>SSL</strong>, <strong>TLS</strong> und die Einstellung <strong>keine Verschlüsselung</strong> stehen Ihnen in plentymarkets zur Verfügung. Wählen Sie für die Kommunikation mit dem E-Mail-Server eine dieser Verschlüsselungsmethoden. Welche Einstellungen Sie für die Methode vornehmen müssen, wird in den folgenden Unterkapiteln beschrieben.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Sicherheit durch SSL-Verschlüsselung</h3>
<div class="paragraph">
<p>Richten Sie für eine geschützte Datenübertragung zwischen Ihren E-Mail-Programmen und Ihrem Postfach eine SSL-Verschlüsselung ein. Tabelle 2 listet die Einstellungen für die SSL-Verschlüsselung im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Zugangsdaten</strong> auf.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Einstellungen für SSL-Verschlüsselung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Servertyp</th>
<th class="tableblock halign-left valign-top">Server</th>
<th class="tableblock halign-left valign-top">Verbindungssicherheit</th>
<th class="tableblock halign-left valign-top">Port</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IMAP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>SSL/TLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>993</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>POP3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>SSL/TLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>995</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SMTP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>SSL/TLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>587</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Sicherheit durch STARTTLS</h3>
<div class="paragraph">
<p>Um die Kompatibilität zu älteren E-Mail-Programmen zu gewährleisten, bietet plentymarkets auch STARTTLS an. Tabelle 3 listet die Einstellungen für die STARTTLS-Verschlüsselung im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Zugangsdaten</strong> auf.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Einstellungen für STARTTLS-Verschlüsselung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Servertyp</th>
<th class="tableblock halign-left valign-top">Server</th>
<th class="tableblock halign-left valign-top">Verbindungssicherheit</th>
<th class="tableblock halign-left valign-top">Port</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IMAP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>STARTTLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>143</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>POP3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>STARTTLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>110</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SMTP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>STARTTLS</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>25</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Unverschlüsselte Verbindung</h3>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Sicherheit nicht gewährleistet</div>
<div class="paragraph">
<p>In unverschlüsselter Form kann Ihre Kommunikation von Dritten eingesehen werden. Eine unverschlüsselte Übertragung entspricht nicht mehr den aktuellen Sicherheitsstandards.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Tabelle 4 listet die Einstellungen für eine unverschlüsselte Verbindung im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Zugangsdaten</strong> auf.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Einstellungen für eine unverschlüsselte Verbindung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Servertyp</th>
<th class="tableblock halign-left valign-top">Server</th>
<th class="tableblock halign-left valign-top">Verbindungssicherheit</th>
<th class="tableblock halign-left valign-top">Port</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IMAP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>keine</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>143</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>POP3</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>keine</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>110</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SMTP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>mail.IHRE-DOMAIN.de</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>keine</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>25</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. E-Mail-Signatur speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Signatur</strong> speichern Sie Ihre Signatur, die dann in einer E-Mail-Vorlage automatisch eingefügt wird.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Gesetzliche Vorgaben beachten</div>
<div class="paragraph">
<p>Beachten Sie die für Ihren Online-Shop geltenden gesetzlichen Vorgaben zum Inhalt einer E-Mail-Signatur, wie z.B. die Angabe der USt-IdNr. Die Pflichtangaben entsprechen denen der Geschäftsbriefe Ihres Unternehmens. Bei Nichtbeachten besteht die Gefahr eines Zwangsgeldes oder einer kostenpflichtigen Abmahnung durch einen Mitbewerber. Lassen Sie sich im Zweifelsfall von einem kundigen Fachanwalt beraten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>E-Mail-Signatur speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Signatur</strong>.</p>
</li>
<li>
<p>Geben Sie den Text Ihrer Signatur ein. Beachten Sie die Erläuterung in der grünen Box.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Signatur mit Hilfe des HTML-Editors formatieren</div>
<div class="paragraph">
<p>Sie können wählen, ob Sie den Text Ihrer Signatur als <strong>reine Textsignatur</strong> oder als <strong>HTML-Signatur</strong> speichern. Wenn Sie den Text formatieren möchten, empfiehlt es sich, den Text im Bereich <strong>HTML-Signatur</strong> einzugeben. Dort steht Ihnen der integrierte HTML-Editor zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Grundeinstellungen » Editoren</strong> legen Sie fest, welche Editoren für bestimmte Bereiche in Ihrem plentymarkets System zur Verfügung stehen sollen. Wählen Sie zwischen <strong>Editor</strong>, <strong>Syntax-Editor</strong> und <strong>Textfeld</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr über Grundeinstellungen von E-Mail-Vorlagen im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/78421322" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. E-Mail-Infodienst einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie haben im Menü <strong>Einstellungen » Mandant (Shop) » Standard » Email » Infodienst</strong> die Möglichkeit, alle von Ihrem plentymarkets System ausgehenden E-Mails auf eine von Ihnen gewählte E-Mail-Adresse als blinde Kopie (BCC) zu versenden. Besonders in der Anfangsphase Ihres Webshops erhalten Sie so eine gute Kontrolle über alle versendeten E-Mails und können erkennen, wo Sie Prozesse noch optimieren müssen. Sie können in diesem Menü auch einstellen, dass Sie bei Bestellungen automatisch eine Info-E-Mail erhalten.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Infodienst einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Infodienst</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die Erläuterungen in Tabelle 5.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. E-Mail-Infodienst einrichten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Alle ausgehenden E-Mails werden als blinde Kopie (BCC) an die E-Mail-Adresse (nächste Zeile) gesendet</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellen, ob alle ausgehenden E-Mails als BCC an eine oder mehrere E-Mail-Adressen gesendet werden. Die E-Mail-Adressen werden in der nächsten Zeile eingegeben.<br>
<strong>JA</strong> = Option ist aktiviert.<br>
<strong>NEIN</strong> = Option ist deaktiviert (Standardeinstellung).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Adresse für blinde Kopie</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresse(n) eingeben. Mehrere E-Mail-Adressen kommagetrennt und ohne Leerzeichen eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Blinde Kopien (BCC) für Newsletter deaktivieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob blinde Kopien (BCC) bei Newslettern versendet werden.<br>
Option aktivieren = Es werden keine blinde Kopien bei Newslettern versendet.<br>
Option deaktivieren = Es werden blinde Kopien bei Newslettern versendet (Standardeinstellung).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sende Hinweis bei Eingang einer neuen Bestellung an E-Mail (nächste Zeile)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellen, ob bei einer neuen Bestellung eine E-Mail versendet wird. Die E-Mail-Adressen werden in der nächsten Zeile eingegeben.<br>
<strong>JA</strong> = Es wird eine E-Mail versendet, wenn eine Bestellung eingeht.<br>
<strong>NEIN</strong> = Es wird keine E-Mail versendet (Standardeinstellung).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Adresse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresse(n) eingeben. Mehrere E-Mail-Adressen kommagetrennt und ohne Leerzeichen eingeben.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">5. HTML-Design konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » HTML-Design</strong> haben Sie die Möglichkeit, pro Mandant (Shop) ein HTML-Design zu konfigurieren, das dann als Option für E-Mail-Vorlagen zur Verfügung steht. Sie können das Design für jede E-Mail-Vorlage aktivieren und auch wieder deaktivieren. Verwenden Sie diese Funktion, damit z.B. der Briefkopf inklusive Logo Ihres Unternehmens automatisch in allen gewünschten E-Mail-Vorlagen erscheint und Sie diesen nicht bei jeder E-Mail-Vorlage separat einfügen müssen. Wenn Sie in diesem Menü Änderungen vornehmen, ändern Sie das Design zentral für alle verknüpften E-Mail-Vorlagen.</p>
</div>
<div class="paragraph">
<p>Wenn Sie Ihre E-Mail-Vorlagen ohne zentrales HTML-Design erstellen möchten, fahren Sie mit dem Kapitel <a href="/crm/e-mails-versenden#1200"><strong>E-Mail-Vorlage erstellen</strong></a> fort.</p>
</div>
<div class="sect2">
<h3 id="900">5.1. Unternehmenslogo in das HTML-Design einfügen</h3>
<div class="paragraph">
<p>Sie haben die Möglichkeit, Ihre E-Mail-Vorlagen an das Design Ihres Webshops anzupassen und z.B. Ihr Unternehmenslogo in das HTML-Design einzufügen. Laden Sie zunächst das Logo in der Bildergalerie hoch. Anschließend fügen Sie das Logo in das HTML-Design ein. Wie Sie dazu vorgehen, wird im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Unternehmenslogo in der Bildergalerie hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Bilder-Galerie</strong>.</p>
</li>
<li>
<p>Klicken Sie auf der linken Seite auf den Ordner, in den Sie das Logo hochladen möchten.<br>
→ Alternativ erstellen Sie einen neuen Ordner.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Dateien hochladen</strong> oder ziehen Sie die Datei per Drag&amp;Drop-Funktion in den Ordner.<br>
→ Das Bild wird hochgeladen.</p>
</li>
<li>
<p>Klicken Sie auf das Bild.<br>
→ Das Fenster mit dem Namen des Bildes wird geöffnet.</p>
</li>
<li>
<p>Kopieren Sie die URL aus dem Feld <strong>Absolute URL</strong>.</p>
</li>
<li>
<p>Schließen Sie das Fenster.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie auf der Handbuchseite <a href="/omni-channel/online-shop/cms#bilder-galerie"><strong>Bilder-Galerie</strong></a>.</p>
</div>
<div class="paragraph">
<p>Im nächsten Schritt fügen Sie das Logo über einen Bild-Link in das HTML-Design einer bereits erstellten E-Mail-Vorlage ein. Gehen Sie dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Unternehmenslogo in das HTML-Design einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Öffnen Sie die E-Mail-Vorlage, in der Sie das Logo einfügen möchten.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail-Nachricht</strong>.</p>
</li>
<li>
<p>Wechseln Sie im Tab <strong>Inhalt</strong> in das Tab <strong>HTML-formatierter Text</strong>.</p>
</li>
<li>
<p>Wählen Sie rechts oben <strong>Editor</strong> aus dem Dropdown-Menü.<br>
→ Zwei Symbolleisten zum Formatieren des Textes werden eingeblendet.</p>
</li>
<li>
<p>Klicken Sie in der Symbolleiste auf <strong>Bild</strong>.<br>
→ Das Fenster <strong>Bild-Eigenschaften</strong> wird geöffnet.</p>
</li>
<li>
<p>Fügen Sie im Feld <strong>URL</strong> die absolute URL ein, die Sie soeben in der Bilder-Galerie kopiert haben.</p>
</li>
<li>
<p>Klicken Sie auf <strong>OK</strong>.<br>
→ Das Logo wird angezeigt.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">5.2. Template-Variablen in das HTML-Design einfügen</h3>
<div class="paragraph">
<p>Fügen Sie zunächst die Template-Variablen <strong>$EmailContentHTML</strong> und <strong>$SignatureHTML</strong> in das HTML-Design ein. Anschließend <a href="/crm/e-mails-versenden#1100"><strong>verknüpfen</strong></a> Sie das HTML-Design mit der E-Mail-Vorlage.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">$EmailContentHTMLmuss vorhanden sein</div>
<div class="paragraph">
<p>Die Template-Variable <strong>$EmailContentHTML</strong> muss in das HTML-Design eingefügt werden. Andernfalls kann das HTML-Design nicht verwendet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Template-Variablen in das HTML-Design einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » HTML-Design</strong>.</p>
</li>
<li>
<p>Fügen Sie die Template-Variablen <strong>$EmailContentHTML</strong> und <strong>$SignatureHTML</strong> ein.<br>
→ <strong>$EmailContentHTML</strong> gibt den Inhalt der E-Mail aus. <strong>$SignatureHTML</strong> gibt die Signatur aus.</p>
</li>
<li>
<p>Formatieren Sie das HTML-Design nach Ihren Wünschen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">5.3. HTML-Design mit der E-Mail-Vorlage verknüpfen</h3>
<div class="paragraph">
<p>Um das HTML-Design mit einer E-Mail-Vorlage zu verknüpfen, nehmen Sie die folgenden Einstellungen im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong> vor. Der Inhalt der E-Mail-Vorlage muss im Tab <strong>HTML-formatierter Text</strong> vorhanden sein oder, wenn noch nicht, dort eingefügt werden. Dieser Inhalt wird dann über die Template-Variable <strong>$EmailContentHTML</strong> ausgegeben.</p>
</div>
<div class="paragraph instruction">
<p>HTML-Design mit der E-Mail-Vorlage verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Wählen Sie die E-Mail-Vorlage aus dem Ordner.</p>
</li>
<li>
<p>Wählen Sie in der Zeile <strong>Inhalt</strong> die Option <strong>Nur HTML-formatierter Text</strong> aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>Design verwenden</strong>.</p>
</li>
<li>
<p>Geben Sie im Tab <strong>E-Mail-Nachricht</strong> einen Betreff ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">6. E-Mail-Vorlage erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erstellen Sie im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong> neue E-Mail-Vorlagen. Im Ordner <strong>Allgemeine E-Mail-Vorlagen</strong> sind bereits vorkonfigurierte E-Mail-Vorlagen enthalten, die Sie selbstverständlich anpassen können.</p>
</div>
<div class="paragraph">
<p>Für jede E-Mail-Vorlage können Sie bis zu zwei Anhänge definieren: Ein PDF-Dokument aus dem Menü <strong>Aufträge » Fulfillment</strong>, z.B. eine Rechnung, sowie ein im Menü <strong>CMS » Dokumente</strong> hochgeladenes Dokument, z.B. ein Artikelprospekt oder eine Anleitung, können standardisiert über E-Mail-Vorlagen an Ihre Kunden versendet werden. Für die E-Mail-Vorlage <strong>Eingangsbestätigung Webshop Bestellung</strong> wären z.B. die Widerrufsbelehrung und Ihre AGB im PDF-Format eine sinnvolle Ergänzung.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Stornobeleg und Rechnung zusammen in einer E-Mail-Vorlage versenden</div>
<div class="paragraph">
<p>Im Dropdown-Menü <strong>PDF-Anhang</strong> in der E-Mail-Vorlage ist es möglich, die Option <strong>Stornobeleg und neue Rechnung</strong> zu wählen. Im Falle einer Änderung am Auftrag nach dem Erstellen der Rechnung können Sie Ihren Kunden beide Dokumente in nur einer E-Mail senden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr über das Einrichten von E-Mail-Vorlagen im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/78421965" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue E-Mail-Vorlage</strong>.<br>
→ Das Fenster <strong>Neue E-Mail-Vorlage</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie den Namen für die Vorlage ein.</p>
</li>
<li>
<p>Wählen Sie einen Eigner oder <strong>Alle</strong> aus dem Dropdown-Menü <strong>Eigner</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Die E-Mail-Vorlage wird erstellt und abhängig von der gewählten Einstellung im Dropdown-Menü <strong>Eigner</strong> in einem der drei Ordner gespeichert.</p>
</li>
<li>
<p>Nehmen Sie die restlichen Einstellungen vor. Beachten Sie die Erläuterungen in Tabelle 6.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 6. Einstellungen im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Tab: Einstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eigner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Eigner oder die Einstellung <strong>Alle</strong> wählen.<br>
<strong>Alle</strong> = Die Vorlage wird unter <strong>Allgemeine E-Mail-Vorlagen</strong> gespeichert.<br>
Eigener Benutzerkontoname = Die Vorlage wird unter <strong>Meine E-Mail-Vorlagen</strong> gespeichert.<br>
Anderer Benutzer = Die Vorlage wird unter <strong>E-Mail-Vorlagen anderer Benutzer</strong> gespeichert.<br>
<strong><em>Hinweis</em></strong>: Um eine eigene E-Mail-Vorlage unter <strong>Meine E-Mail-Vorlagen</strong> zu erstellen, müssen Sie selbst als Benutzer in Ihrem plentymarkets System eingeloggt sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eingeben, unter der diese Vorlage gespeichert werden soll. Dieser Name wird dem Empfänger nicht angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inhalt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob der Inhalt der E-Mail-Vorlage als <strong>reiner Text</strong> oder <strong>HTML-formatierter Text</strong> gespeichert werden soll.<br>
<strong><em>Tipp</em></strong>: HTML-formatierten Text verwenden. Der Link zur Auftragsabwicklung (Template-Funktion <strong>Link_Checkout()</strong>) kann sehr lang sein. Bei reinen Text-E-Mails kann dies zu Zeilenumbrüchen führen, die den Link unter Umständen beschädigen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template-Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Alle</strong> (Standardeinstellung), <strong>Auftrag</strong>, <strong>Kunden</strong>, <strong>Webshop</strong> oder <strong>Ticket</strong> wählen.<br>
<strong>Alle</strong> = Die E-Mail-Vorlage wird für alle Bereiche verwendet.<br>
<strong>Auftrag</strong>/<strong>Kunden</strong>/<strong>Webshop</strong>/<strong>Ticket</strong> = Die E-Mail-Vorlage steht ausschließlich für den gewählten Bereich zur Verfügung. Sie kann für die anderen Bereiche nicht verwendet werden bzw. ist dort nicht sichtbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PDF-Anhang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anhang wählen. Die Dokumente, die hier aus dem Dropdown-Menü gewählt werden können, werden u.a. im Menü <strong>Aufträge » Fulfillment</strong> erzeugt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Dokumentenanhang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auf Wunsch ein unter <strong>CMS » Dokumente</strong> hochgeladenes eigenes Dokumente wählen, das an die E-Mail-Vorlage anhängt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Antwort an</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresse eingeben, an die die Antworten auf diese E-Mail-Vorlage gesendet werden sollen. Wenn keine E-Mail-Adresse eingegeben ist, werden Antworten auf diese Vorlage standardmäßig an die unter <a href="/crm/e-mails-versenden#100"><strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Zugangsdaten</strong></a> gespeicherte E-Mail-Adresse versendet. Beispielsweise ist es sinnvoll, die E-Mail-Adresse der Buchhaltungsabteilung für die E-Mail-Vorlage <strong>PDF-Rechnung</strong> einzugeben. So gehen z.B. Rückfragen zur Rechnung direkt an die Buchhaltungsabteilung und müssen nicht erst weitergeleitet werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Design verwenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, wenn der Inhalt der E-Mail mit dem im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » HTML-Design</strong> gespeicherten Design versendet werden soll. Wird die Option nicht aktiviert, wird nur der Inhalt der E-Mail-Vorlage verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen, mehrere oder <strong>ALLE</strong> Mandanten (Shops) aktivieren. Die E-Mail-Vorlage ist nur für die gewählten Mandanten (Shops) gültig.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Tab: E-Mail-Nachricht</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprache wählen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die gewählte Sprache wird hier angezeigt und kann geändert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Betreff</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Betreff eingeben. Betreff sorgfältig wählen, damit die E-Mails im Postfach des Kunden leicht erkennbar sind und nicht als Spam-Nachricht eingestuft werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inhalt / Artikelliste</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In diese Tabs den Text bzw. die Artikelauflistung als <strong>reinen Text</strong> oder als <strong>HTML-formatierten Text</strong> eingeben. Für den Inhalt stehen verschiedene Template-Variablen und Template-Funktionen zur Verfügung.<br>
<strong><em>Hinweis</em></strong>: Nur der Inhalt des Tabs wird berücksichtigt, dessen Inhaltstyp im Tab <strong>Einstellungen</strong> unter <strong>Inhalt</strong> festgelegt wurde. Wenn dort also z.B. <strong>Nur reiner Text</strong> eingestellt wurde, jedoch nur das Tab <strong>HTML-formatierter Text</strong> Inhalt enthält, wird keine E-Mail versendet.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: HTML-formatierten Text verwenden</div>
<div class="paragraph">
<p>plentymarkets empfiehlt die Verwendung von HTML-formatiertem Text, da der Link zur Auftragsabwicklung sehr lang sein kann. Bei reinen Text-E-Mails kann dies zu Zeilenumbrüchen führen, die den Link beschädigen können. Des Weiteren haben Sie bei der Verwendung von HTML-formatierten Text die Möglichkeit, den Text mit dem integrierten HTML-Editor zu formatieren.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Grundeinstellungen » Editoren</strong> legen Sie fest, welche Editoren für bestimmte Bereiche in Ihrem plentymarkets System zur Verfügung stehen sollen. Wählen Sie zwischen <strong>Editor</strong>, <strong>Syntax-Editor</strong> und <strong>Textfeld</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1300">6.1. Template-Variablen und Template-Funktionen verwenden</h3>
<div class="paragraph">
<p>Für E-Mail-Vorlagen stehen Template-Variablen und Template-Funktionen zur Verfügung. Statt der Variablen oder Funktion wird dann von Ihrem plentymarkets System automatisch der definierte Inhalt abgebildet, d.h. in der E-Mail wird dann der Inhalt dargestellt. Außerdem erfüllen einige Template-Variablen die Funktion von Zuordnungsparametern, wenn Sie mit dem <a href="/crm/ticketsystem-nutzen#4800"><strong>Ticketsystem</strong></a> arbeiten.</p>
</div>
<div class="paragraph">
<p>Öffnen Sie eine E-Mail-Vorlage im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong>, um eine Liste aller Template-Variablen und Template-Funktionen, die Ihnen für Ihre E-Mail-Vorlagen zur Verfügung stehen, anzuzeigen.</p>
</div>
<div class="paragraph">
<p>Eine Übersicht der Template-Variablen und Template-Funktionen für E-Mail-Vorlagen finden Sie außerdem auf der Handbuchseite <a href="/omni-channel/online-shop/cms-syntax#e-mail-email"><strong>E-Mail</strong></a> im Bereich <a href="/omni-channel/online-shop/cms-syntax"><strong>CMS-Syntax</strong></a>. Allgemeine Informationen zu Template-Variablen und Template-Funktionen finden Sie auf der Handbuchseite <a href="/omni-channel/online-shop/cms-syntax#grundlagen"><strong>Grundlagen</strong></a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Link zur Auftragsabwicklung in E-Mail-Vorlage einfügen</div>
<div class="paragraph">
<p>Möglichst in jeder E-Mail an den Kunden sollte der Link zur Auftragsabwicklung enthalten sein, da der Kunde darüber jederzeit den aktuellen Status seines Auftrags einsehen kann. Fügen Sie dazu die Template-Funktion <strong>Link_Checkout()</strong> in die E-Mail-Vorlage ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1400">6.2. Anzeige der Artikelpositionen einrichten</h3>
<div class="paragraph">
<p>Der Aufbau einer Artikelpositionenzeile kann pro E-Mail-Vorlage und Sprache einzeln eingerichtet werden. Beim Einrichten der Artikelpositionen können Sie <a href="/crm/e-mails-versenden#1500"><strong>if-Abfragen</strong></a> verwenden. Wird die Anzeige der Artikelpositionen nicht eingerichtet, wird von plentymarkets eine Standardauflistung der Artikelpositionen ausgegeben.</p>
</div>
<div class="paragraph instruction">
<p>Anzeige der Artikelpositionen einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Öffnen Sie die Vorlage.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail-Nachricht</strong>.<br>
→ Das Tab <strong>Inhalt</strong> wird angezeigt.</p>
</li>
<li>
<p>Fügen Sie im Tab <strong>HTML-formatierter Text</strong> die Template-Variable <strong>$ItemListHTML</strong> oder im Tab <strong>Reiner Text</strong> die Template-Variable <strong>$ItemListPlain</strong> an der Stelle im Tab <strong>Inhalt</strong> der E-Mail ein, an der die Artikelpositionen angezeigt werden sollen.</p>
</li>
<li>
<p>Kopieren Sie die Template-Variablen aus der Übersicht, die Sie für die Artikelpositionen benötigen und fügen Sie sie im Tab <strong>Artikelliste</strong> ein.<br>
​→ Zur Formatierung können Sie z.B. Tabulatoren, die Sie aus einem Textprogramm kopiert haben, zwischen den Template-Variablen einfügen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Beispiel: Anzeige der Artikelpositionen</p>
</div>
<div class="paragraph">
<p>Fügen Sie die Template-Variablen zur Anzeige von Artikel-ID (<strong>$ItemID</strong>), Artikelname (<strong>$ItemName</strong>) und Preis (<strong>$ItemPrice</strong>) der Artikelpositionen ein. Die Anzeige beginnt mit einem Bindestrich (siehe Bild 2). Dieser wird dann jeweils zu Beginn einer Zeile auch bei mehreren Artikelpositionen angezeigt. Damit die Anzeige mehrzeilig funktioniert, fügen Sie am Ende der Zeile durch Drücken der Enter-Taste einen Zeilenumbruch ein. Die Template-Variablen in diesem Beispiel ergeben folgende Anzeige in der E-Mail:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/E-Mails-versenden-E-Mail-Vorlage-Artikelpositionen.png" alt="E Mails versenden E Mail Vorlage Artikelpositionen">
</div>
<div class="title">Abbildung 1. Anzeige der Artikelpositionen in der E-Mail-Vorlage</div>
</div>
<div class="paragraph">
<p>Wie Sie eine Vorschau öffnen, um Ihre E-Mail-Vorlage zu prüfen, ist im Kapitel <a href="/crm/e-mails-versenden#1600"><strong>E-Mail-Vorlage anhand der Vorschau prüfen</strong></a> beschrieben.</p>
</div>
</div>
<div class="sect2">
<h3 id="1500">6.3. if-Abfragen in E-Mail-Vorlagen verwenden</h3>
<div class="paragraph">
<p>Sie können in E-Mail-Vorlagen Fallunterscheidungen nach den Prinzipien der if-Abfragen einsetzen. So können Sie z.B. einen Code einbauen, der bewirkt, dass die Bankdaten in der E-Mail an den Kunden nur angezeigt werden, wenn die Zahlungsart Vorkasse (ID = 0) gewählt wurde wie im folgenden Beispiel zu sehen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; if $MethodOfPaymentID==0 &#37;&#125;

B A N K D A T E N:

Verwenden Sie zur Zahlung per Vorkasse bitte die folgenden Bankdaten:

Bankinstitut: Kasseler Sparkasse
Bankleitzahl: 12345678
Kontonummer: 0123456789
Inhaber: Max Mustermann

VERWENDEN SIE BITTE EXAKT DIESEN VERWENDUNGSZWECK:

ID $OrderID KUNDE $CustomerID

Internationale Kontodaten

IBAN: DE 31245678954621487954
Swift: BIC WERTIUANEBQJ

&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie auf der Handbuchseite <a href="/omni-channel/online-shop/cms-syntax#grundlagen-if"><strong>if-Konstrukt</strong></a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1600">6.4. E-Mail-Vorlage anhand der Vorschau prüfen</h3>
<div class="paragraph">
<p>Sie haben die Möglichkeit anhand der E-Mail-Vorschau zu prüfen, ob die E-Mail-Vorlage Ihren Vorstellungen entspricht. Prüfen Sie auch die korrekte Funktionsweise des Links zur Auftragsabwicklung. Gehen Sie wie im Folgenden beschrieben vor, um die Vorschau der E-Mail-Vorlage aufzurufen.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage anhand der Vorschau prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Auftrag.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Mail</strong>.</p>
</li>
<li>
<p>Wählen Sie im Tab <strong>E-Mail-Vorlagen</strong> die Sprache aus dem Dropdown-Menü <strong>Sprache wählen</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab, in das Sie die E-Mail-Vorlage gespeichert haben: <strong>Allgemeine E-Mail-Vorlagen</strong>, <strong>Meine E-Mail-Vorlagen</strong> oder <strong>E-Mail-Vorlagen anderer Benutzer</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die E-Mail-Vorlage.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Vorschau</strong>.<br>
→ Das Fenster <strong>E-Mail-Vorschau</strong> wird geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">6.5. E-Mail-Vorlage bearbeiten</h3>
<div class="paragraph">
<p>Sie haben die Möglichkeit, allgemeine E-Mail-Vorlagen, Ihre eigenen E-Mail-Vorlagen und E-Mail-Vorlagen anderer Benutzer zu bearbeiten. Änderungen an den E-Mail-Vorlagen nehmen Sie im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong> vor.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den Ordner, in dem sich die E-Mail-Vorlage, die Sie bearbeiten möchten, befindet.</p>
</li>
<li>
<p>Klicken Sie auf die E-Mail-Vorlage.<br>
→ Das Tab <strong>Einstellungen</strong> der E-Mail-Vorlage wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die Erläuterungen in Tabelle 6 im Kapitel <a href="/crm/e-mails-versenden#1200"><strong>E-Mail-Vorlage erstellen</strong></a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">E-Mail-Vorlage nach jeder Änderung prüfen</div>
<div class="paragraph">
<p>Jede Änderung an einer Vorlage sollte über den Mailservice eines Auftrags getestet werden. Besonders die korrekte Funktionsweise des Links zur Auftragsabwicklung sollte geprüft werden. Gehen Sie dazu, wie im Kapitel <a href="/crm/e-mails-versenden#1600"><strong>E-Mail-Vorlage anhand der Vorschau prüfen</strong></a> beschrieben, vor.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">7. E-Mails versenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Versand von E-Mails müssen im Menü <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#10"><strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong></a> Benutzerdaten gespeichert sein. Diese Daten sind von Ihrem Provider erhältlich und stimmen mit den Daten, die in Ihrem E-Mail-Programm gespeichert sind, überein.</p>
</div>
<div class="sect2">
<h3 id="1900">7.1. Ticketnachrichten und Kommentare als E-Mails versenden</h3>
<div class="paragraph">
<p>Sie müssen im Menü <a href="/crm/ticketsystem-nutzen#2100"><strong>Einstellungen » Kunden » Ticketsystem » E-Mail-Konten</strong></a> ein E-Mail-Konto gespeichert haben, damit Nachrichten und Kommentare als E-Mails versendet werden. Außerdem müssen Sie eine E-Mail-Vorlage, die die letzte Ticketnachricht oder den letzten Kommentar enthält, einrichten und diese in einer <a href="/crm/ticketsystem-nutzen#2900"><strong>Ereignisaktion</strong></a> einstellen, damit der Versand per E-Mail durchgeführt wird. Weitere Informationen finden Sie auf der Handbuchseite <a href="/crm/ticketsystem-nutzen#2100"><strong>Ticketsystem nutzen</strong></a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="2000">7.2. Gutscheine per E-Mail versenden</h3>
<div class="paragraph">
<p>Sie können Gutschein-Codes oder Gutscheine als PDF-Dateien per E-Mail versenden. Details dazu finden Sie auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/gutscheine"><strong>Gutscheine</strong></a> in den Kapiteln <a href="/auftragsabwicklung/auftraege/gutscheine#100"><strong>Gutschein-Codes direkt in E-Mails einfügen</strong></a> und <a href="/auftragsabwicklung/auftraege/gutscheine#140"><strong>Gutschein-Vorlage konfigurieren</strong></a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2300">8. Automatischen E-Mail-Versand einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Automatischer Versand</strong> stehen Ihnen verschiedene Ereignisse zur Verfügung, die mit einer E-Mail-Vorlage verknüpft werden können. Wählen Sie aus dem Dropdown-Menü die E-Mail-Vorlage, die Sie zuvor im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong> <a href="/crm/e-mails-versenden#1200"><strong>erstellt</strong></a> haben. Dadurch wird bei Eintritt des Ereignisses die E-Mail-Vorlage automatisch an den Kunden versendet.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verknüpfung vor Löschen der E-Mail-Vorlage entfernen</div>
<div class="paragraph">
<p>Das Löschen einer E-Mail-Vorlage, die mit einem Ereignis im Bereich <strong>Automatischer Versand</strong> verknüpft ist, kann zu unerwünschten Effekten führen. Entfernen Sie daher zunächst die Verknüpfung im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Automatischer Versand</strong>, indem Sie in der Zeile des Ereignisses im Dropdown-Menü die Option <strong>Kein Versand</strong> wählen. Anschließend können Sie die E-Mail-Vorlage im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong> löschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Automatischen E-Mail-Versand einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Automatischer Versand</strong>.</p>
</li>
<li>
<p>Wählen Sie die in der Zeile des Ereignisses die E-Mail-Vorlage aus dem Dropdown-Menü. Beachten Sie dazu die Erläuterungen in Tabelle 7.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit einem Klick auf <strong>E-Mail-Vorlage bearbeiten</strong> wird die E-Mail-Vorlage im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong> geöffnet. Sie können die E-Mail-Vorlage dort <a href="/crm/e-mails-versenden#1700"><strong>bearbeiten</strong></a>.</p>
</div>
<div class="paragraph">
<p>Tabelle 7 listet Erläuterungen zu einigen der Ereignisse auf.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 7. Erläuterungen zu einigen Ereignissen im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Automatischer Versand</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Neue Bestellung über den Webshop</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet Kunden eine E-Mail mit der Auftragsbestätigung, nachdem der Kaufvorgang im Webshop abgeschlossen wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sende Kunde E-Mail zur Passwortänderung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet Kunden eine E-Mail mit einem Link zum neuen Passwort, der aktiv bestätigt werden muss. Die Template-Funktion <strong>&#123;&#37; Link_ChangePassword() &#37;&#125;</strong> muss in der E-Mail-Vorlage enthalten sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Newsletter Opt-In</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet Kunden eine E-Mail, wenn diese sich für den Newsletter angemeldet haben. Die E-Mail-Vorlage sollte den Bestätigungslink, den die Kunden anklicken müssen, um die Newsletter-Anmeldung abzuschließen, enthalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bestätigung Newsletter Opt-In</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet Kunden eine E-Mail als Bestätigung, sobald diese den Bestätigungslink, der mit der E-Mail-Vorlage für das Ereignis <strong>Newsletter Opt-In</strong> verschickt wurde, aktiviert haben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Erinnerung bei Kaufabbruch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet Kunden eine E-Mail als Erinnerung, dass ein oder mehrere Artikel im Warenkorb liegen, der Kaufvorgang jedoch nicht abgeschlossen wurde. Die E-Mail-Vorlage sollte den Link zum Warenkorb enthalten, damit die Kunden diesen aufrufen und die Bestellung abschließen können. Dazu an die URL des Webshops den Suffix <strong>/basket/</strong> anfügen (Beispiel: <strong><a href="https://www.meinshop.de/basket/" class="bare">https://www.meinshop.de/basket/</a></strong>).<br>
Voraussetzung hierbei ist, dass die potenziellen Käufer bei ihrem Besuch im Webshop angemeldet und eingeloggt waren, da andernfalls die E-Mail-Adresse nicht vorliegt und der automatische Versand der E-Mail-Vorlage daher nicht funktionieren kann.<br>
<strong><em>Wichtig</em></strong>: Diese Art von E-Mail-Versand kann aufgrund der fehlenden vorherigen Einwilligung als unzulässiger Spam gelten. Lassen Sie sich daher von einem kundigen Fachanwalt beraten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tell-A-Friend</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet eine E-Mail mit einem Link zu einem Artikel aus dem Webshop als Empfehlung an eine E-Mail-Adresse, die der Kunde im Webshop in das Tell-A-Friend-Formular eingetragen hat.<br>
<strong><em>Wichtig</em></strong>: Diese Art von E-Mail-Versand kann aufgrund der fehlenden vorherigen Einwilligung als unzulässiger Spam gelten. Lassen Sie sich daher von einem kundigen Fachanwalt beraten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gewinnspielanmeldung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet Kunden, die sich zum Gewinnspiel angemeldet haben, eine E-Mail als Bestätigung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Benachrichtigung bei verfügbarem Artikel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sendet Kunden eine E-Mail mit dem Hinweis, dass ein bestimmter Artikel wieder verfügbar ist. Der Kunde hat zuvor seine E-Mail-Adresse direkt bei dem nicht lieferbaren Artikel eingetragen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div id="2350" class="paragraph subhead">
<p>Automatischer E-Mail-Versand am Beispiel einer neuen Bestellung über eBay</p>
</div>
<div class="paragraph">
<p>Nachdem ein Kunde einen Artikel über eBay erworben hat, wird in plentymarkets automatisch ein Auftrag angelegt. Wenn Sie z.B. die E-Mail-Vorlage Auftragsbestätigung eBay <a href="/crm/e-mails-versenden#1200"><strong>erstellt</strong></a> und diese im Menü <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Automatischer Versand</strong> für das Ereignis <strong>Neue Bestellung über eBay</strong> aus dem Dropdown-Menü definiert haben, wird automatisch eine E-Mail an den Kunden versendet. In der folgenden grünen Box finden Sie einen Beispieltext für die E-Mail-Vorlage.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispieltext für eine E-Mail-Vorlage für den Versand nach einem Kauf über eBay</div>
<div class="paragraph">
<p>Sehr geehrte(r)$CustomerFullName,</p>
</div>
<div class="paragraph">
<p>herzlichen Glückwunsch zur gewonnenen Auktion.</p>
</div>
<div class="paragraph">
<p>Um die Kaufabwicklung so einfach wie möglich zu gestalten, klicken Sie bitte auf den nachfolgenden Link oder kopieren Sie diesen in die Adresszeile Ihres Browsers.</p>
</div>
<div class="paragraph">
<p>Sie können über die Kaufabwicklung Ihre Daten einsehen und ändern sowie unsere Bankdaten einsehen. Verwenden Sie für Überweisungen immer den dort angegebenen Verwendungszweck.</p>
</div>
<div class="paragraph">
<p>Link_Checkout()</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Parallel zum E-Mail-Versand kann dem Kunden auch eine Nachricht über das eBay-Nachrichtensystem gesendet werden. Dazu müssen Sie im Menü <strong>Einstellungen » Märkte » eBay » Grundeinstellungen » Tab: Kontoeinstellungen » Untermenü: Nachricht nach Kauf</strong> den Text speichern. Weitere Informationen finden Sie auf der Handbuchseite <a href="/omni-channel/multi-channel/ebay"><strong>eBay einrichten</strong></a> im Kapitel <a href="/omni-channel/multi-channel/ebay#1500"><strong>Nachrichten nach Kauf versenden</strong></a>.</p>
</div>
<div id="2310" class="paragraph subhead">
<p>Ereignisaktion einrichten</p>
</div>
<div class="paragraph">
<p>Sie haben außerdem die Möglichkeit, Ereignisaktionen im Menü <strong>Einstellungen » Aufträge » Ereignisaktionen</strong> einzurichten. Definieren Sie ein Ereignis, setzen Sie einen oder mehrere Filter und legen Sie Aktionen fest, die von Ihrem plentymarkets System automatisch im Ereignisfall ausgeführt werden. So können Sie z.B. einrichten, dass der E-Mail-Versand eines Gutscheins ausgelöst wird, wenn der Kunde eine bestimmte Anzahl an Aufträgen generiert hat. Weitere Informationen finden Sie auf der Handbuchseite <a href="/basics/automatisierung/ereignisaktionen"><strong>Ereignisaktionen</strong></a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2500">9. Gesendete E-Mail-Vorlagen pro Kunde anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Aufträge bearbeiten » Auftrag öffnen » Tab: Mail » Tab: Gesendete E-Mails</strong> haben Sie die Möglichkeit, alle E-Mail-Vorlagen, die Sie an den Kunden versendet haben, anzuzeigen. Beachten Sie, dass in diesem Tab nur die gesendeten E-Mail-Vorlagen angezeigt werden, die mit einer eindeutigen Kunden-ID verknüpft sind.</p>
</div>
<div class="paragraph instruction">
<p>Gesendete E-Mail-Vorlagen pro Kunde anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Auftrag.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Mail</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Gesendete E-Mails</strong>.<br>
→ Das Datum, die Uhrzeit, die E-Mail-Adresse des Empfängers, die ID und der Name der Vorlage sowie die Auftrags-ID werden angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Klappen Sie den Bereich <strong>Weitere an den Kunden gesendete E-Mails…​</strong> auf, um alle E-Mails anzuzeigen, die an den Kunden gesendet wurden. Hier werden auch E-Mails angezeigt, die der Kunde aus einem anderen Auftrag heraus erhalten hat. Mit einem Klick auf die Auftrags-ID wird die Auftragsübersicht dieses Auftrags in einem separaten Tab geöffnet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2600">10. Alle versendeten E-Mail-Vorlagen anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Start » Statistik</strong> erstellen Sie eine neue Statistik und wählen im Bereich <strong>Aufträge</strong> den Statistiktyp <strong>Versendete E-Mail-Vorlagen</strong>. Sie erhalten somit Informationen der über Ihr plentymarkets System versendeten E-Mails mit der ID und dem Namen der E-Mail-Vorlage sowie der datumsbezogenen Anzahl der E-Mails. Die Standardeinstellung der Zeitspanne beträgt die letzten 30 Tage. Sie können die Zeitspanne jedoch auch anpassen oder ein Startdatum und ein Enddatum wählen.</p>
</div>
<div class="paragraph">
<p>Anhand dieser Statistik können Sie erkennen, welche E-Mail-Vorlage in welchem Zeitraum genutzt wurde und welche Vorgänge besonders häufig oder selten ausgeführt werden. Weitere Informationen dazu finden Sie auf der Handbuchseite <a href="/basics/statistik/allgemeine-statistiken/auftraege/versendete-e-mail-vorlagen"><strong>Versendete E-Mail-Vorlagen</strong></a>.</p>
</div>
</div>
</div>
</main>