<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#rechte-vergeben"><span>1.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#firma-erstellen"><span>2.</span><span> Firma erstellen</span></a></li>
<li><a href="#firma-suchen"><span>3.</span><span> Firma suchen</span></a>
<ul class="sectlevel2">
<li><a href="#aktuellen-filter-speichern"><span>3.1.</span><span> Aktuellen Filter speichern</span></a></li>
<li><a href="#gespeicherte-filter-anwenden"><span>3.2.</span><span> Gespeicherte Filter anwenden</span></a></li>
<li><a href="#filter-als-standard"><span>3.3.</span><span> Filter als Standard festlegen</span></a></li>
</ul>
</li>
<li><a href="#spalten-konfigurieren"><span>4.</span><span> Spalten konfigurieren</span></a>
<ul class="sectlevel2">
<li><a href="#spalten-firmenuebersicht"><span>4.1.</span><span> Firmenübersicht</span></a></li>
<li><a href="#spalten-verknuepfte-kontakte"><span>4.2.</span><span> Verknüpfte Kontakte im Firmendatensatz</span></a></li>
</ul>
</li>
<li><a href="#firma-bearbeiten"><span>5.</span><span> Firma bearbeiten</span></a></li>
<li><a href="#firma-mit-kontakt-verknuepfen"><span>6.</span><span> Firma und Kontakt verknüpfen</span></a></li>
<li><a href="#verknuepfung-firma-kontakt-entfernen"><span>7.</span><span> Verknüpfung zwischen Firma und Kontakt entfernen</span></a></li>
<li><a href="#firma-loeschen"><span>8.</span><span> Firma löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Firmen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erfährst du alles über die Firmenverwaltung in plentymarkets. Firmen verwaltest du im Menü <strong>CRM » Firmen</strong>. Du kannst hier unter anderem Firmen <a href="#firma-erstellen">erstellen</a>, <a href="#firma-suchen">suchen</a>, <a href="#firma-bearbeiten">bearbeiten</a> und <a href="#firma-mit-kontakt-verknuepfen">Kontakte mit der Firma verknüpfen</a>.</p>
</div>
<div class="paragraph">
<p>Das Menü <strong>CRM » Firmen</strong> ist wie folgt aufgebaut:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/firmen-ui-menuestruktur.png" alt="firmen ui menuestruktur" width="640" height="360">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong>: Hier navigierst du durch die einzelnen Bereiche des Menüs. Der aktuell ausgewählte Bereich (blaue Schrift) wird im Hauptfenster rechts angezeigt. Falls du mehrere Firmen gleichzeitig geöffnet hast, werden diese untereinander angezeigt. Klicke auf <span class="icon "><i class="fa fa-bars  "></i></span>, um die Navigationsleiste ein- und auszublenden.</p>
</li>
<li>
<p><strong>Toolbar</strong>: Hier kannst du nach Firmen <a href="#firma-suchen">suchen</a>, die <a href="#spalten-konfigurieren">Spalten in der Übersicht anpassen</a>, die Ergebnisse pro Seite, die du angezeigt haben möchtest, einstellen und durch die Seiten mit den Firmen klicken.</p>
</li>
<li>
<p><strong>Hauptfenster</strong>: Hier wird der aktuell geöffnete Bereich angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Übersicht</strong>: Wenn du eine Suche ausführst, siehst du die Ergebnisse in einer Übersicht. Die Übersicht liefert auf einen Blick Informationen zu den gefundenen Firmen. Zum Beispiel siehst du die Anzahl der verknüpften Kontakte und die von dir gespeicherten Zahlungsbedingungen wie Skontofrist und Skontosatz.</p>
</li>
<li>
<p><strong>Detailansicht</strong>: Wenn du eine Firma öffnest, werden die Details im Hauptfenster auf der rechten Seite angezeigt. Die Detailansicht einer Firma ist in die Bereiche <strong>Firmendetails</strong>, <strong>Verknüpfte Kontakte</strong> und <strong>Lieferantendetails</strong> unterteilt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="rechte-vergeben">1. Rechte für Backend-Benutzer:innen vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> mit der Firmen-UI arbeiten können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Firma &gt; Aktualisieren</strong></p>
</li>
<li>
<p><strong>CRM &gt; Firma &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>CRM &gt; Firma &gt; Erstellen</strong></p>
</li>
<li>
<p><strong>CRM &gt; Firma &gt; Löschen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="firma-erstellen">2. Firma erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Bedienoberfläche zum Erstellen einer neuen Firma erlaubt dir viel Flexibilität beim Anordnen von Inhalten und Daten. Grundsätzlich platzierst du Darstellungsbereiche und Elemente intuitiv per Drag-and-drop. Jeder Bereich und jedes Element kann per Klick auf <span class="icon "><i class="psicon-design_inline_edit"></i></span> oben rechts im Firmendatensatz weiter bearbeitet werden. <a href="#table-functions-editing-mode">Tabelle 1</a> enthält einen Überblick über die Funktionen, die im Bearbeitungsmodus des Firmendatensatzes zur Verfügung stehen.</p>
</div>
<table id="table-functions-editing-mode" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Funktionen im Bearbeitungsmodus</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bedienelement</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Symbol</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ansicht bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-design_inline_edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den Firmendatensatz zur Bearbeitung.<br>
Du kannst die Komponenten per Drag-and-drop an einer anderen Stelle positionieren und die Größe der Komponenten anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rückgängig</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-reply  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Macht die letzte Änderung rückgängig, soweit die betreffende Änderung noch nicht gespeichert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wiederherstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-share  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine rückgängig gemachte Änderung wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardansicht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Bereich zeigt an, welche Ansicht aktuell geöffnet ist. Klicke auf <span class="icon darkGrey"><i class="fa fa-sort-down  "></i></span>, um zu einer anderen Ansicht zu wechseln oder eine neue Ansicht zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzten Speicherpunkt wiederherstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-reset"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt den Firmendatensatz auf den Stand zurück, der beim letzten Speichern vorhanden war.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert die am Firmendatensatz vorgenommenen Änderungen. Auf diese Weise kannst du beliebig viele Ansichten nach deinen Wünschen speichern.<br>
Wenn du das nächste Mal einen Firmendatensatz erstellen möchtest, kannst du die von dir bevorzugte Ansicht über die Dropdown-Liste oben rechts öffnen und mit dem Erstellen einer neuen Firma beginnen. Ebenfalls über diese Dropdown-Liste erstellst du mit einem Klick auf <span class="icon "><i class="fa fa-plus  "></i></span> <strong>Neue Ansicht erstellen</strong> eine neue Ansicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="fa fa-ellipsis-v  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf dieses Symbol zwischen den Komponenten fügst du Spalten und Zeilen hinzu oder entfernst diese oder du verkleinerst bzw. vergrößerst die Spalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="fa fa-pencil  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du die Komponente bearbeitest, siehst du auf der rechten Seite im Bereich <strong>Elemente</strong>, welche Elemente in dieser Komponente noch nicht verwendet wurden und dir somit noch zur Verfügung stehen. Bereits verwendete Elemente sind ausgegraut und können nicht ein weiteres Mal verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-trash"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht die Komponente</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schließen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beendet den Bearbeitungsmodus. Wenn du die Änderungen nicht gespeichert hast, wird eine Sicherheitsabfrage angezeigt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Gehe nun wie im Folgenden beschrieben vor, um eine Firma zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Firma erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Firmen</strong>.</p>
</li>
<li>
<p>Klicke auf der linken Seite auf <span class="icon "><i class="fa fa-plus  "></i></span> <strong>Neue Firma hinzufügen</strong>.</p>
</li>
<li>
<p>Gib die Daten ein bzw. wähle die Optionen aus den Dropdown-Listen. Beachte dazu die Erläuterungen in <a href="#table-create-company">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-company" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Firma erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Firmendetails</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>*</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der Name der Firma? Der Name ist ein Pflichtfeld.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>USt-IdNr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die Umsatzsteueridentifikationsnummer der Firma?<br>
Wenn beim Versand von Waren an einen gewerblichen Käufer in ein anderes EU-Land (innergemeinschaftliche Lieferung) der Auftrag netto berechnet werden soll, muss die USt-IdNr. gespeichert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valuta in Tagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Zeitraum (ab Rechnungserstellung) ein, wenn eine zusätzliche Frist vor dem Zeitraum <strong>Zahlungsziel</strong> gewünscht ist.<br>
<strong><em>Tipp:</em></strong> Unterhalb dieser Tabelle findest du ein <a href="#beispiel-zahlungsbedingungen">Beispiel zur Gestaltung von Zahlungsbedingungen</a> mit Valuta, Zahlungsziel, Skontofrist und Skontosatz.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsziel in Tagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib das Zahlungsziel in Tagen ein.<br>
<strong><em>Tipp:</em></strong> Unterhalb dieser Tabelle findest du ein <a href="#beispiel-zahlungsbedingungen">Beispiel zur Gestaltung von Zahlungsbedingungen</a> mit Valuta, Zahlungsziel, Skontofrist und Skontosatz.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skontofrist in Tagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Anzahl der Tage (ab Rechnungserstellung) ein, in denen die Firma skontiert offene Forderungen bezahlen kann.<br>
<strong><em>Tipp:</em></strong> Unterhalb dieser Tabelle findest du ein <a href="#beispiel-zahlungsbedingungen">Beispiel zur Gestaltung von Zahlungsbedingungen</a> mit Valuta, Zahlungsziel, Skontofrist und Skontosatz.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skontosatz in Prozent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Wert in Prozent ein, den die Firma bei Einhaltung der <strong>Skontofrist</strong> in Abzug bringen kann.<br>
<strong><em>Tipp:</em></strong> Unterhalb dieser Tabelle findest du ein <a href="#beispiel-zahlungsbedingungen">Beispiel zur Gestaltung von Zahlungsbedingungen</a> mit Valuta, Zahlungsziel, Skontofrist und Skontosatz.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welcher Eigner soll der Firma zugeordnet werden? Wähle einen Namen aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Lieferantendetails</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Währung aus der Dropdown-Liste. Diese Währung wird vorrangig für die jeweiligen Artikel und Aufträge berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestbestellwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Mindestbestellwert für die oben gewählte Systemwährung ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferzeit in Tagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Lieferzeit in Tagen ein.</p></td>
</tr>
</tbody>
</table>
<div id="beispiel-zahlungsbedingungen" class="openblock collapseBox">
<div class="title"><strong>Beispiel:&nbsp;Gestaltung von Zahlungsbedingungen mit Valuta, Zahlungsziel, Skontofrist und Skontosatz</strong></div>
<div class="content">
<div class="paragraph">
<p>Mit den Optionen <strong>Valuta</strong>, <strong>Zahlungsziel</strong>, <strong>Skontofrist</strong> und <strong>Skontosatz</strong> ist z.B. folgende Zahlungsbedingung möglich:</p>
</div>
<div class="paragraph">
<p>60 Tage Valuta, 30 Tage netto (Zahlungsziel), 10 Tage mit 2% Skonto</p>
</div>
<div class="paragraph">
<p>Erläuterung: Geht die Zahlung eines Auftrags bei dir innerhalb von 10 Tagen ein, erhält die Firma einen Skonto von 2%. Nach insgesamt 91 Tagen befindet sich die Zahlung im Verzug. Beim Import von Zahlungseingängen und der automatischen Zuordnung wird vorab systemseitig automatisch geprüft, ob der von Firmen durchgeführte Skontoabzug gültig ist. Ist der Skontozeitraum abgelaufen, erhält der Auftrag den Status <strong>Teilzahlung erhalten</strong>.<br>
Die oben aufgeführten Zahlungsbedingungen werden automatisch in den Auftrag sowie in die <a href="/auftraege/auftragsdokumente#intable-zahlungsbedingungen-dokumente">Dokumente</a> übernommen. Am Auftrag lassen sich die <a href="/auftraege/auftraege-verwalten#intable-zahlungsbedingungen-auftrag">Zahlungsbedingungen</a> manuell anpassen oder eingeben, wenn im <a href="/crm/kontakte-verwalten#intable-kontakt-bearbeiten-firma-valuta">Kontakt</a> und der <a href="/crm/kontakte-verwalten#intable-kundenklasse-zahlungsziel">Kundenklasse</a> noch keine Werte hinterlegt sind, die übernommen werden können.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="firma-suchen">3. Firma suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um eine bestimmte Firma zu suchen, gibst du die dir bekannten Suchbegriffe in die Filter ein. Es ist auch möglich, mehrere Suchbegriffe gleichzeitig in die Suchfelder einzugeben. Dies ermöglicht eine schnellere und genauere Suche.</p>
</div>
<div class="paragraph instruction">
<p>Firma suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Firmen</strong>.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em></strong> Klicke auf <strong>Suchen</strong> (<span class="icon "><i class="material-search"></i></span>), um eine Liste aller Firmen zu sehen.</p>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em></strong> Klicke auf <span class="icon "><i class="material-filter_alt"></i></span>, um die Suchergebnisse mit Hilfe von Filtern einzugrenzen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Gib dann die ID der Firma, den Namen der Firma oder den Namen des zugeordneten Eigners ein.<br>
<strong><em>Tipp:</em></strong> Gib eine Kombination aus allen oder mehreren Begriffen ein, um die Suche noch genauer einzugrenzen.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Firmen, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="aktuellen-filter-speichern">3.1. Aktuellen Filter speichern</h3>
<div class="paragraph">
<p>Wenn du eine Suche ausführst, siehst du deine gewählten Filter oben als so genannte "Chips" dargestellt. Diese Filter kannst du speichern, um sie in Zukunft schneller und einfacher wieder verwenden zu können.</p>
</div>
<div class="paragraph instruction">
<p>Aktuellen Filter speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Führe eine Suche aus.</p>
</li>
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="material-bookmark_border"></i></span> <strong>Aktuellen Filter speichern</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Filter ein.</p>
</li>
<li>
<p>Entscheide, ob</p>
<div class="ulist">
<ul>
<li>
<p>dieser <a href="#filter-als-standard">Filter als Standard</a> festgelegt werden soll (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>)</p>
</li>
<li>
<p>dieser Filter für alle Benutzer:innen erstellt werden soll (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke auf <strong>SPEICHERN</strong>.<br>
→ Der Filter erscheint nun unter <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Lege die Reihenfolge der Filter per Drag-and-drop mit einem Klick auf <strong>Verschieben</strong> (<span class="icon "><i class="material-drag_indicator"></i></span>) fest. Klicke auf <span class="icon "><i class="material-delete"></i></span>, um einen Filter zu löschen.
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="gespeicherte-filter-anwenden">3.2. Gespeicherte Filter anwenden</h3>
<div class="paragraph instruction">
<p>Gespeicherte Filter anwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf einen bereits erstellten Filter.<br>
→ Die Suche wird ausgeführt und die verwendeten Filtereinstellungen werden oben als so genannte "Chips" dargestellt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="filter-als-standard">3.3. Filter als Standard festlegen</h3>
<div class="paragraph">
<p>Damit du einen häufig verwendeten Filter nicht jedes Mal beim Öffnen des Menüs <strong>CRM » Firmen</strong> erst aus der Liste deiner <a href="#gespeicherte-filter-anwenden">gespeicherten Filter</a> wählen musst, kannst du einen erstellten Filter als Standard festlegen. Jedes Mal, wenn du die Firmen-UI öffnest, wird dieser Filter dann also automatisch ausgeführt.</p>
</div>
<div class="paragraph">
<p>Du kannst einen Filter direkt beim Erstellen als Standard festlegen wie im Kapitel <a href="#aktuellen-filter-speichern">Aktuellen Filter speichern</a> beschrieben oder du legst den Filter nachträglich aus der Übersicht heraus als Standard fest.</p>
</div>
<div class="paragraph">
<p>Klicke in der Zeile des gespeicherten Filters auf <span class="icon "><i class="fa fa-star-o  "></i></span> <strong>Als Standard festlegen</strong>. Wenn du einen anderen Filter als Standard festlegen möchtest, deaktiviere den aktuell gewählten Standardfilter mit einem Klick auf <span class="icon "><i class="fa fa-star  "></i></span> <strong>Nicht als Standard verwenden</strong>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="spalten-konfigurieren">4. Spalten konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du entscheidest, welche Spalten in der <a href="#spalten-firmenuebersicht">Firmenübersicht</a> und im Firmendatensatz im Bereich <a href="#spalten-verknuepfte-kontakte">Verknüpfte Kontakte</a> angezeigt werden.</p>
</div>
<div class="sect2">
<h3 id="spalten-firmenuebersicht">4.1. Firmenübersicht</h3>
<div class="paragraph">
<p>Klicke in der Firmenübersicht oben rechts auf <strong>Spalten konfigurieren</strong> <span class="icon "><i class="material-settings"></i></span>, wähle die gewünschten Spalten und klicke auf <strong>Bestätigen</strong>. Die folgenden Spalten sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>USt-IdNr.</p>
</li>
<li>
<p>Valuta in Tagen</p>
</li>
<li>
<p>Skontofrist in Tagen</p>
</li>
<li>
<p>Skontosatz in Prozent</p>
</li>
<li>
<p>Zahlungsziel in Tagen</p>
</li>
<li>
<p>Lieferzeit in Tagen</p>
</li>
<li>
<p>Mindestbestellwert</p>
</li>
<li>
<p>Währung</p>
</li>
<li>
<p>Eigner</p>
</li>
<li>
<p>Anzahl verknüpfter Kontakte</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="spalten-verknuepfte-kontakte">4.2. Verknüpfte Kontakte im Firmendatensatz</h3>
<div class="paragraph">
<p>Klicke im Firmendatensatz im Bereich <strong>Verknüpfte Kontakte</strong> oben rechts auf <strong>Spalten konfigurieren</strong> <span class="icon "><i class="material-settings"></i></span>, wähle die gewünschten Spalten und klicke auf <strong>Bestätigen</strong>. Die folgenden Spalten sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Anrede</p>
</li>
<li>
<p>Titel</p>
</li>
<li>
<p>Vorname</p>
</li>
<li>
<p>Nachname</p>
</li>
<li>
<p>E-Mail privat</p>
</li>
<li>
<p>Telefon privat</p>
</li>
<li>
<p>Mobil privat</p>
</li>
<li>
<p>E-Mail geschäftlich</p>
</li>
<li>
<p>Telefon geschäftlich</p>
</li>
<li>
<p>Mobil geschäftlich</p>
</li>
<li>
<p>Aktion</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Standardmäßig sind die folgenden Felder aktiviert: Vorname, Nachname, E-Mail privat, Telefon privat, Mobil privat und Aktion (<span class="icon "><i class="material-more_vert"></i></span>).<br>
<strong><em>Hinweis:</em></strong> Mit einem Klick auf <span class="icon "><i class="material-more_vert"></i></span> öffnet sich ein weiteres Fenster (<span class="icon "><i class="material-delete"></i></span> <strong>Kontaktverknüpfung löschen</strong>), über das du die <a href="#verknuepfung-firma-kontakt-entfernen">Verknüpfung zwischen Firma und Kontakt entfernen</a> kannst.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="firma-bearbeiten">5. Firma bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst die Firmendaten jederzeit bearbeiten. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div id="image-company-detail-view" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/company-detail-view.png" alt="company detail view" width="640" height="360">
</div>
<div class="title">Bild 1. Detailansicht eines Firmendatensatzes</div>
</div>
<div class="paragraph instruction">
<p>Firma bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Firmen</strong>.</p>
</li>
<li>
<p>Suche die Firma, du die bearbeiten möchtest, anhand der Filtereinstellungen wie im Kapitel <a href="#firma-suchen">Firma suchen</a> beschrieben.<br>
→ Die Firmen, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Firma.</p>
</li>
<li>
<p>Nimm die Änderungen vor. Beachte dazu die Erläuterungen in <a href="#table-create-company">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="firma-mit-kontakt-verknuepfen">6. Firma und Kontakt verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Bereich <strong>Verknüpfte Kontakte</strong> des Firmendatensatzes kannst du einen Kontakt suchen und diesen dann mit der Firma verknüpfen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Firma und Kontakt verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Firmen</strong>.</p>
</li>
<li>
<p>Suche die Firma, mit der du einen Kontakt verknüpfen möchtest, anhand der Filtereinstellungen wie im Kapitel <a href="#firma-suchen">Firma suchen</a> beschrieben.<br>
→ Die Firmen, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Firma.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Verknüpfte Kontakte</strong> auf <strong>Kontakte verknüpfen</strong> (<span class="icon "><i class="material-more_vert"></i></span>).<br>
→ Ein Fenster öffnet sich.</p>
</li>
<li>
<p>Gib im Feld <strong>Kontakt suchen</strong> den Namen oder die ID des Kontakts ein.<br>
<strong><em>Hinweis:</em></strong> Gib mindestens 3 Buchstaben des Namens ein, damit dein plentymarkets System dir bereits gespeicherte Kontakte vorschlägt.</p>
</li>
<li>
<p>Wähle den Kontakt aus der Vorschlagsliste.</p>
</li>
<li>
<p>Klicke auf <strong>Kontaktverknüpfung erstellen</strong> (<span class="icon "><i class="fa fa-user-plus  "></i></span>).<br>
→ Der Kontakt ist nun mit der Firma verknüpft und wird im Bereich <strong>Verknüpfte Kontakte</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit einem Klick in die Zeile des Kontakts wirst du automatisch in den Kontaktdatensatz im Menü <strong>CRM » Kontakte</strong> weitergeleitet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="verknuepfung-firma-kontakt-entfernen">7. Verknüpfung zwischen Firma und Kontakt entfernen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Bereich <strong>Verknüpfte Kontakte</strong> des Firmendatensatzes kannst du die Verknüpfung zwischen Kontakt und Firma wieder entfernen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Verknüpfung zwischen Firma und Kontakt entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Firmen</strong>.</p>
</li>
<li>
<p>Suche die Firma, für die du die Verknüpfung zum Kontakt entfernen möchtest, anhand der Filtereinstellungen wie im Kapitel <a href="#firma-suchen">Firma suchen</a> beschrieben.<br>
→ Die Firmen, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Firma.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Verknüpfte Kontakte</strong> in der Zeile des Kontakts auf <span class="icon "><i class="material-more_vert"></i></span>.<br>
→ Ein Fenster öffnet sich.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="material-delete"></i></span> <strong>Kontaktverknüpfung löschen</strong>.<br>
→ Die Verknüpfung zum Kontakt wird entfernt und der Kontakt wird aus der Übersicht im Bereich <strong>Verknüpfte Kontakte</strong> gelöscht.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="firma-loeschen">8. Firma löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Firmendatensatz nicht mehr benötigt wird, kannst du diesen jederzeit löschen. Die Kontaktdatensätze, die mit der Firma verknüpft sind, werden selbstverständlich <em>nicht</em> gelöscht. Lediglich die Zuordnung der Firma zum Kontakt sowie die Firma selbst werden beim Löschen der Firma entfernt.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Im Kontaktdatensatz im Menü <strong>CRM » Kontakte</strong> wird die Verknüpfung zur Firma auch entfernt.</p>
</div>
<div class="paragraph instruction">
<p>Firma löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Firmen</strong>.</p>
</li>
<li>
<p>Suche die Firma, du die löschen möchtest anhand der Filtereinstellungen wie im Kapitel <a href="#firma-suchen">Firma suchen</a> beschrieben.<br>
→ Die Firmen, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Firma.</p>
</li>
<li>
<p>Klicke oben in der Symbolleiste auf <strong>Löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Die Firma wird gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>