<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Sichtbarkeit für variablen Benutzer einstellen</span></a></li>
<li><a href="#90"><span>2.</span><span> Kontakte verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Kontakt erstellen</span></a></li>
<li><a href="#200"><span>2.2.</span><span> Kontakt suchen</span></a></li>
<li><a href="#300"><span>2.3.</span><span> Kontakt bearbeiten</span></a></li>
<li><a href="#400"><span>2.4.</span><span> Kontakt löschen</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.</span><span> Historie anzeigen</span></a></li>
<li><a href="#590"><span>4.</span><span> Adressen verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>4.1.</span><span> Adresse hinzufügen</span></a></li>
<li><a href="#700"><span>4.2.</span><span> Adressen anzeigen</span></a></li>
<li><a href="#800"><span>4.3.</span><span> Adresse bearbeiten</span></a></li>
<li><a href="#900"><span>4.4.</span><span> Adresse löschen</span></a></li>
</ul>
</li>
<li><a href="#990"><span>5.</span><span> Aufträge verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>5.1.</span><span> Aufträge anzeigen</span></a></li>
<li><a href="#1100"><span>5.2.</span><span> Auftrag anlegen</span></a></li>
</ul>
</li>
<li><a href="#1150"><span>6.</span><span> Scheduler anzeigen</span></a></li>
<li><a href="#1190"><span>7.</span><span> Tickets verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#1200"><span>7.1.</span><span> Ticket erstellen</span></a></li>
<li><a href="#1300"><span>7.2.</span><span> Tickets anzeigen</span></a></li>
</ul>
</li>
<li><a href="#1390"><span>8.</span><span> Notizen verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#1400"><span>8.1.</span><span> Notiz erstellen</span></a></li>
<li><a href="#1500"><span>8.2.</span><span> Notizen anzeigen</span></a></li>
<li><a href="#1600"><span>8.3.</span><span> Notiz bearbeiten</span></a></li>
<li><a href="#1700"><span>8.4.</span><span> Notiz löschen</span></a></li>
</ul>
</li>
<li><a href="#1710"><span>9.</span><span> Dokumente verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#1720"><span>9.1.</span><span> Dokument hochladen</span></a></li>
<li><a href="#1730"><span>9.2.</span><span> Dokumente anzeigen</span></a></li>
<li><a href="#1740"><span>9.3.</span><span> Dokument herunterladen</span></a></li>
<li><a href="#1750"><span>9.4.</span><span> Dokument löschen</span></a></li>
</ul>
</li>
<li><a href="#1800"><span>10.</span><span> Kontostand anzeigen</span></a></li>
<li><a href="#1890"><span>11.</span><span> Bankdaten verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#1900"><span>11.1.</span><span> Bankdaten hinzufügen</span></a></li>
<li><a href="#2000"><span>11.2.</span><span> Bankdaten bearbeiten</span></a></li>
<li><a href="#2100"><span>11.3.</span><span> Bankdaten löschen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Kontakte verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis zur Handbuchseite Kontakte verwalten</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite werden alle Einstellungen, die im Menü <strong>CRM » Kontakte</strong> im Terra-Backend über den zentralen Login-Bereich zur Verfügung stehen, beschrieben. Die Handbuchseite <a href="/crm/kundendaten-verwalten">Kundendaten verwalten</a>, die die Einstellungen in den Menüs <strong>CRM » Kunden bearbeiten</strong> und <strong>System » Kunden</strong> beschreibt, steht parallel zur Verfügung. Wenn das neue Menü <strong>CRM » Kontakte</strong> das alte Menü <strong>CRM » Kunden bearbeiten</strong> vollständig ersetzt, wird das Menü <strong>CRM » Kunden bearbeiten</strong> abgeschaltet und somit auch die Handbuchseite <strong>Kundendaten verwalten</strong> entfernt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Menü <strong>CRM » Kontakte</strong> erstellen und bearbeiten Sie Datensätze zu Ihren Kontakten und verwalten dort alle Informationen wie z.B. Adressen, Aufträge, Scheduler-Aufträge, Tickets, Notizen, Umsätze, Bankdaten und Dokumente Ihrer Kontakte.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hinweise zu Detailansicht, Kontextmenü, Kartenansicht und Tabellenansicht</div>
<div class="paragraph">
<p>Klickt man auf einen Kontakt, um diesen anzuzeigen oder zu bearbeiten, öffnet sich die Detailansicht des Kontakts. Über das Kontextmenü im linken Bereich des Kontakts können Ansichten wie <strong>Adressen</strong> oder <strong>Neue Adresse</strong> aufgerufen werden.</p>
</div>
<div class="paragraph">
<p>Klickt man z.B. auf <strong>Adressen</strong> werden alle zu dem Kontakt gespeicherten Adressen initial als Karten angezeigt. Mit einem Klick auf <strong>Zur Tabellenansicht wechseln</strong> werden die Adressen in Tabellenform angezeigt. Aus dieser Ansicht wechselt man zurück mit einem Klick auf <strong>Zur Kartenansicht wechseln</strong>. Ihr plentymarkets System merkt sich, welche der beiden Ansichten Sie gewählt haben und zeigt beim nächsten Öffnen des Kontextmenüs <strong>Adressen</strong> die zuletzt gewählte Ansicht an.</p>
</div>
<div class="paragraph">
<p>Wenn mehr als eine Ansicht des Kontakts geöffnet ist, erscheint in der Ansicht oben ein Dreieck, über das man zwischen den geöffneten Kontakten einfach und schnell hin- und herwechseln kann. Mit einem Klick auf das Kreuz wird der Kontakt geschlossen und aus der Liste entfernt.</p>
</div>
<div class="paragraph">
<p>Über die Ansicht <strong>Übersicht</strong> gelangt man zurück in die Übersicht der gefundenen Kontakte. Aus dieser Ansicht heraus lassen sich beliebig viele weitere Kontakte aufrufen. Wenn mehr als ein Kontakt geöffnet ist, erscheint in der Ansicht des gerade geöffneten Kontakts ein Dreieck, über das man die Kontakte, die bereits einmal geöffnet waren, einfach und schnell aufrufen kann. Mit einem Klick auf das Kreuz wird der Kontakt geschlossen und aus der Liste entfernt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. Sichtbarkeit für variablen Benutzer einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit für Benutzer mit der Benutzerklasse <strong>Variabel</strong> das Menü <strong>CRM » Kontakte</strong> sichtbar ist, muss das Menü im Benutzerkonto freigeschaltet werden. Für Benutzer mit der Benutzerklasse <strong>Admin</strong> ist die Sichtbarkeit des Menüs <strong>CRM » Kontakte</strong> standardmäßig aktiviert.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für variablen Benutzer einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Benutzer mit der Benutzerklasse <strong>Variabel</strong>, für den Sie die Sichtbarkeit des Menüs aktivieren möchten.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Menü</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Kunden</strong> auf.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>Contacts</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">2. Kontakte verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie in den folgenden Unterkapiteln, wie Sie neue Kontakte erstellen, nach vorhandenen Kontakten mithilfe der Filtereinstellungen suchen sowie vorhandene Kontakte bearbeiten und löschen.</p>
</div>
<div class="sect2">
<h3 id="100">2.1. Kontakt erstellen</h3>
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um einen neuen Kontakt zu erstellen. Fügen Sie Kontaktoptionen wie z.B. E-Mail-Adressen, Telefonnummern und ggf. die USt-IdNr. hinzu. Sie können einen neuen Kontakt beispielsweise auch während einer telefonischen oder schriftlichen Bestellung erstellen oder die Daten eines Interessenten speichern. Beim Erstellen eines Kontakts wird vom System automatisch eine ID vergeben. Diese ID kann nicht geändert werden.</p>
</div>
<div class="paragraph instruction">
<p>Kontakt erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuen Kontakt erstellen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen im Bereich <strong>Neuer Kontakt</strong> vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p>Wählen Sie im Bereich <strong>Kontaktoptionen</strong> den Typ und Subtyp aus den Dropdown-Menüs und geben Sie den Wert ein. Beachten Sie dazu die Erläuterungen in Tabelle 1.<br>
→ Mit einem Klick auf <strong>Kontaktoption hinzufügen</strong> fügen Sie weitere Kontaktoptionen hinzu.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Kontakt wird hinzugefügt.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Kontakt erstellen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Neuer Kontakt</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anrede</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Option aus dem Dropdown-Menü wählen. Die Auswahl ist optional.<br>
<strong>Frau</strong> = Weibliche Anrede<br>
<strong>Herr</strong> = Männliche Anrede</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Titel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ggf. Titel des Kontakts eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorname</strong>, <strong>Nachname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vorname und Nachname des Kontakts eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandant (Shop) aus dem Dropdown-Menü wählen, um den Kontakt diesem Mandanten zuzuordnen.<br>
Es werden nur Mandanten angezeigt, für die im Menü <strong>System » Mandant » Webshop wählen » Einstellungen</strong> der Name gespeichert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sprache für den Kontakt wählen. Es werden z.B. Rechnungsdokumente in dieser Sprache erstellt, wenn Sie eine Vorlage für die Sprache angelegt haben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ wählen. Standardmäßig können die Typen <strong>Kunde</strong>, <strong>Handelsvertreter</strong>, <strong>Lieferant</strong>, <strong>Partner</strong>, <strong>Hersteller</strong> und <strong>Interessent</strong> gewählt werden. Eigene Typen erstellen Sie im Menü <a href="/crm/kundendaten-verwalten#300">System » Kunden » Typen</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Klasse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse wählen. Klassen dienen zur internen Unterscheidung und z.B. ob und welcher Rabatt dieser Klasse gewährt werden soll. Klassen werden im Menü <a href="/crm/kundendaten-verwalten#100">System » Kunden » Kundenklassen</a> erstellt. Soll zum Beispiel zwischen Endkunden und Händlern bei der Preisanzeige im Webshop unterschieden werden, kann dies über die Option <strong>Anzeige der Preise im Webshop</strong> in der Konfiguration der Klassen vorgenommen werden. Bei Endkunden (B2C) werden die Bruttopreise im Webshop angezeigt. Bei Händlern (B2B) werden die Nettopreise im Webshop angezeigt.<br>
Leere Option = Keine Zuordnung zu einer Klasse<br>
<strong><em>Wichtig:</em></strong> Wenn keine Zuordnung zu einer Klasse erfolgt, wird ein Kontakt automatisch der Klasse mit der niedrigsten Position zugeordnet. Da pro Klasse auch die Preisdarstellung im Webshop konfiguriert wird, diese Option bei der Klasse mit der Position 1 prüfen, damit bei automatischen Zuweisungen auch die gewünschte Preisdarstellung erfolgt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bewertung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kontakt für interne Zwecke bewerten. Fünf rote Sterne stehen für die schlechteste und fünf gelbe Sterne für die beste Bewertung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundennummer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kundennummer für den Kontakt eingeben. Die Kundennummern können fortlaufend nummeriert werden oder nicht. Kundennummern werden nicht automatisch vergeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eigner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eigner für den Kontakt wählen. Wenn kein Eigner gewählt werden soll, die leere Option wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Geburtsdatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Geburtsdatum des Kontakts nach dem Muster dd.mm.yyyy eingeben oder aus dem Kalender wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Newsletter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt an, ob der Kontakt den Newsletter erhält. Es ist nicht möglich, die Option manuell zu aktivieren. Um den Newsletter-Bezug für den Kontakt zu deaktivieren, auf <strong>Newsletter löschen</strong> klicken.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gesperrt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob der Kontakt für den eingestellten Mandanten (Shop) gesperrt wird oder nicht.<br>
Wenn die Option aktiviert ist, ist der Kontakt gesperrt und kann sich nicht mehr im Webshop einloggen. Wenn die Option deaktiviert ist, kann sich der Kontakt im Webshop einloggen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Kontaktoptionen</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ, z.B. E-Mail, Telefon oder Webseite, aus dem Dropdown-Menü wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subtyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Subtyp, z.B. Arbeit, Privat oder Ansprechpartner, aus dem Dropdown-Menü wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wert eingeben.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="200">2.2. Kontakt suchen</h3>
<div class="paragraph">
<p>In der Ansicht <strong>Filter</strong> haben Sie die Möglichkeit, Kontakte nach bestimmten Kriterien zu suchen. Die gefundenen Kontakte werden dann in der Ansicht <strong>Übersicht</strong> angezeigt. In der Übersicht werden aktuell die folgenden Informationen angezeigt: ID, Firma, Vorname, Nachname, E-Mail-Adresse, Telefonnummer, Anzahl der Aufträge, Postleitzahl und Land. Wie Sie Kontaktdaten bearbeiten, ist im Kapitel <a href="/crm/kontakte-verwalten#300">Kontakt bearbeiten</a> beschrieben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">E-Mails direkt aus der Übersicht heraus versenden</div>
<div class="paragraph">
<p>Senden Sie Ihrem Kontakt direkt aus der Kontaktübersicht heraus eine E-Mail. Mit einem Klick auf die E-Mail-Adresse öffnet sich Ihr E-Mail-Programm automatisch.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Um bestimmte Kontakte zu suchen, geben Sie die Ihnen bekannten Suchbegriffe in die Filter ein oder wählen Sie die Einstellungen der Dropdown-Menüs. Sie können dabei auch mehrere Suchbegriffe gleichzeitig in die Suchfelder eingeben. Dies ermöglicht Ihnen eine schnellere und genauere Suche.</p>
</div>
<div class="paragraph instruction">
<p>Kontakt suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Geben Sie in der Ansicht <strong>Filter</strong> Suchbegriffe in die Suchfelder ein bzw. stellen Sie Filteroptionen in den Dropdown-Menüs ein. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet. Alternativ öffnen Sie das Kontextmenü mit einem Rechtsklick, um die Ansichten des Kontakts direkt aufzurufen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Filter für die Kontakte</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Suchen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ohne gewählte Filtereinstellungen auf <strong>Suchen</strong> klicken, um alle Kontakte anzuzeigen. Alternativ die Suchergebnisse durch Filtereinstellungen eingrenzen und auf <strong>Suchen</strong> klicken. Die gefundenen Kontakte werden in der Übersicht angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reset</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eingestellte Filterkriterien zurücksetzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Jeder Kontakt erhält automatisch eine fortlaufende und einzigartige ID. Dies ist unabhängig davon, ob der Eintrag manuell oder automatisch angelegt wurde. Zwei Kontakte haben somit nie die gleiche ID. Die ID entspricht immer einer echten Zahl. Ungültig sind z.B.&nbsp;"00521" oder "ADF8354".</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vorname und/oder Nachname oder Firmenname eingeben, um den Kontakt mit diesem Namen bzw. Firmennamen zu suchen. Es wird auch nach Namen und Firmennamen, die in den Adressdatensätzen des Kontakts gespeichert sind, gesucht. Es ist möglich, nur nach Teilen des Namens bzw. Firmennamens zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anschrift</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Straßenname und/oder Hausnummer eingeben, der im Kontakt gespeichert ist. Es ist möglich, nur nach Teilen des Straßennamens und Teilen der Hausnummer zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PLZ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Postleitzahl, die im Kontakt gespeichert sind, eingeben. Es wird auch nach Postleitzahlen, die in den Adressdatensätzen des Kontakts gespeichert sind, gesucht. Es ist möglich, nur nach Teilen der Postleitzahl zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ort, der im Kontakt gespeichert ist, eingeben. Es wird auch nach Orten, die in den Adressdatensätzen des Kontakts gespeichert sind, gesucht. Es ist möglich, nur nach Teilen des Ortsnamens zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresse eingeben, um den Kontakt mit dieser E-Mail-Adresse zu suchen. Es ist möglich, nur nach Teilen der E-Mail-Adresse zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Land</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Land wählen, um nur Kontakte aus diesem Land anzuzeigen. Das Land ist in den Kontaktdaten gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eigner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eigner wählen, um nur Kontakte von diesem Eigner anzuzeigen. Der Eigner muss in den Kontaktdaten gespeichert sein.<br>
<strong><em>Wichtig:</em></strong> Es werden im Dropdown-Menü nur Benutzer angezeigt, bei denen im Benutzerkonto im Tab <strong>Eigner</strong> die Option <strong>Kunde</strong> aktiviert ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ wählen, um nur Kontakte mit diesem Typ anzuzeigen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandant (Shop) wählen, um nur Kontakte dieses Mandanten anzuzeigen. Der Mandant ist in den Kontaktdaten gespeichert.<br>
<strong><em>Wichtig:</em></strong> Variablen Benutzern stehen nur Mandanten zur Auswahl, für die sie eine Berechtigung haben. Berechtigungen werden im Tab <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#90">Berechtigung</a> unter <strong>System » Einstellungen » Benutzer » Konten</strong> eingestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Herkunft wählen, um nur Kontakte mit dieser Herkunft anzuzeigen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">2.3. Kontakt bearbeiten</h3>
<div class="paragraph">
<p>Suchen Sie den Kontakt anhand der <a href="/crm/kontakte-verwalten#200">Filtereinstellungen</a>. Öffnen Sie den Kontakt durch einen Klick in die Zeile des Kontakts, um dessen Daten, wie z.B. Sprache, Klasse, Geburtsdatum, Telefonnummer und E-Mail-Adresse, zu bearbeiten. Erläuterungen zu den Einstellungen und Optionen in den Bereichen <strong>Kontakt</strong> und <strong>Kontaktoptionen</strong> finden Sie im Kapitel <a href="/crm/kontakte-verwalten#100">Kontakt erstellen</a>. Kontaktoptionen löschen Sie mit einem Klick auf <strong>Kontaktoption löschen</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Kontakt bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Änderungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1 im Kapitel <a href="/crm/kontakte-verwalten#100">Kontakt erstellen</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">2.4. Kontakt löschen</h3>
<div class="paragraph">
<p>Sie haben die Möglichkeit, einzelne Kontakte zu löschen. Ein Kontakt kann nur gelöscht werden, sofern dieser nicht mit einem Auftrag verknüpft ist.</p>
</div>
<div class="paragraph instruction">
<p>Kontakt löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Kontakt löschen</strong> oder klicken Sie auf <strong>Löschen</strong> oberhalb der Detailansicht.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Der Kontakt wird gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Historie anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In jedem Datensatz können Sie die Historie eines Kontakts einsehen. Die Historie beinhaltet z.B. das Datum, seit dem der Kontakt bei Ihnen registriert ist, wann er das letzte Mal in Ihrem Webshop eingeloggt war und wann der letzte Auftrag generiert wurde. Die Daten werden automatisch angepasst und können nicht geändert werden.</p>
</div>
<div class="paragraph instruction">
<p>Historie anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet und die Historie wird im rechten Bereich unterhalb der <strong>Kontaktoptionen</strong> angezeigt.</p>
</li>
<li>
<p>Beachten Sie die Erläuterungen zur Historie in Tabelle 3.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Historie im Menü <strong>CRM » Kontakte » Kontakt öffnen</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Registriert seit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum und Uhrzeit, seit wann der Kontakt registriert ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktualisiert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum und Uhrzeit, wann die Daten des Kontakts das letzte Mal aktualisiert wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zugangsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Art, wie sich der Kontakt registriert hat.<br>
<strong>Regulärer Zugang</strong> = Der Kontakt hat sich neu registriert bzw. der Datensatz wurde manuell im Backend erstellt.<br>
<strong>Gastzugang</strong> = Der Kontakt hat sich als Gast angemeldet und bestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Letzter Auftrag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum und Uhrzeit, wann der letzte Auftrag eingegangen ist. Wenn kein Auftrag eingegangen ist, steht in diesem Feld <strong>Keine Daten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Letzter Login</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum und Uhrzeit des letzten Login. Wenn kein Login stattgefunden hat, steht in diesem Feld <strong>Keine Daten</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="590">4. Adressen verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie in den folgenden Unterkapiteln, wie Sie neue Adressen zu Ihrem Kontakt hinzufügen, alle zu Ihrem Kontakt gespeicherten Adressen anzeigen sowie bestehende Adressen bearbeiten und löschen.</p>
</div>
<div class="sect2">
<h3 id="600">4.1. Adresse hinzufügen</h3>
<div class="paragraph">
<p>Fügen Sie einem Kontakt beliebig viele Adressen sowie Adressoptionen wie z.B. die Umsatzsteuer-Identifikationsnummer oder die Telefonnummer des Kontakts hinzu.</p>
</div>
<div class="paragraph instruction">
<p>Adresse hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Neue Adresse</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen im Bereich <strong>Neue Adresse</strong> vor. Beachten Sie dazu die Erläuterungen in Tabelle 4.</p>
</li>
<li>
<p>Wählen Sie im Bereich <strong>Adressoptionen</strong> den Typ aus dem Dropdown-Menü und geben Sie den Wert ein. Beachten Sie dazu die Erläuterungen in Tabelle 4.<br>
→ Mit einem Klick auf <strong>Adressoption hinzufügen</strong> fügen Sie weitere Adressoptionen hinzu.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Adresse wird der Übersicht im Bereich <strong>Adressen</strong> hinzugefügt.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Adresse hinzufügen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Neue Adresse</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anrede</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ggf. Anrede aus dem Dropdown-Menü wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name 1 (Firma)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Firmenname eingeben. Dies ist ein Pflichtfeld, wenn unter <strong>Vorname</strong> und <strong>Nachname</strong> kein Eintrag gemacht wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name 2 (Vorname)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vorname des Kontakts eingeben. Dies ist ein Pflichtfeld, wenn unter <strong>Firma</strong> und <strong>Nachname</strong> kein Eintrag gemacht wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name 3 (Nachname)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nachname des Kunden eingeben. Dies ist ein Pflichtfeld, wenn unter <strong>Firma</strong> und <strong>Vorname</strong> kein Eintrag gemacht wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name 4 (Zusatz)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ggf. Zusatzangaben zum Kontakt eingeben, z.B. z.Hd. Herrn Max Mustermann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Adresse 1 (Straße)</strong><br>
<strong>Adresse 2 (Hausnummer)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Straße und Hausnummer eingeben.<br>
<strong>Straße</strong> ist ein Pflichtfeld, wenn unter <strong>Hausnummer</strong> und <strong>Adresszusatz</strong> kein Eintrag gemacht wird. <strong>Hausnummer</strong> ist ein Pflichtfeld, wenn unter <strong>Straße</strong> und <strong>Adresszusatz</strong> kein Eintrag gemacht wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Adresse 3 (Adresszusatz)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ggf. Adresszusatz eingeben, z.B. Apartment 12a. Dies ist ein Pflichtfeld, wenn unter <strong>Straße</strong> und <strong>Hausnummer</strong> kein Eintrag gemacht wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Adresse 4 (Frei)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Feld zur freien Verfügung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Postleitzahl</strong><br>
<strong>Ort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Postleitzahl und Ort des Kontakts eingeben. Diese Angaben werden z.B. für die Rechnungsadresse verwendet. Bei bestimmten Ländern, z.B. Vereinigtes Königreich, wird die Reihenfolge der Optionen <strong>Postleitzahl</strong> und <strong>Ort</strong> getauscht.<br>
<strong>Postleitzahl</strong> und <strong>Ort</strong> sind Pflichtfelder.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Land</strong><br>
<strong>Region/Bezirk</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Werte aus den Dropdown-Menüs wählen.<br>
<strong><em>Wichtig:</em></strong> Das Dropdown-Menü <strong>Region/Bezirk</strong> ist nicht für alle Länder verfügbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungsadresse</strong> / <strong>Lieferadresse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine oder beide Optionen aktivieren, um den Adresstyp festzulegen.<br>
Die neue Adresse kann entweder nur Rechnungsadresse, nur Lieferadresse oder sowohl Rechnungsadresse als auch Lieferadresse sein. Wenn beide Optionen aktiviert sind, wird eine Adresse mit einer neuen ID und zwei Adresstypen erstellt.<br>
Sobald eine oder beide Optionen aktiviert sind, kann man für eine oder beide Optionen wählen, ob es sich um die primäre Adresse handelt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Primär</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Option aktivieren, wenn es sich bei der neuen Adresse um die primäre Rechnungsadresse bzw. primäre Lieferadresse handelt.<br>
Es ist möglich, beide Optionen zu aktivieren, wenn es sich bei der neuen Adresse sowohl um die primäre Rechnungsadresse als auch um die primäre Lieferadresse handelt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Adressoptionen</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ, z.B. Postnummer oder Umsatzsteuer-Identifikationsnummer, aus dem Dropdown-Menü wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wert eingeben.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">4.2. Adressen anzeigen</h3>
<div class="paragraph">
<p>Aus dem geöffneten Kontakt heraus lassen sich alle dem Kontakt zugehörigen Adressen anzeigen. Neben Informationen wie ID, Firmenname, Vor- und Nachname sowie Adresse und Land sehen Sie außerdem, um welchen Adresstyp es sich handelt – Rechnungsadresse oder Lieferadresse – und ob die Adresse eine primäre Adresse ist.</p>
</div>
<div class="paragraph">
<p>Wenn mehrere Adressen geöffnet sind, werden im Dropdown-Menü der geöffneten Adressen die IDs der Adressen angezeigt.</p>
</div>
<div class="paragraph">
<p>Initial werden die Adressen Ihres Kontakts in der Kartenansicht angezeigt. Mit einem Klick auf <strong>Zur Tabellenansicht wechseln</strong> werden die Adressen in Tabellenform angezeigt. Ihr plentymarkets System merkt sich, welche der beiden Ansichten Sie gewählt haben und zeigt beim nächsten Öffnen des Kontextmenüs <strong>Adressen</strong> die zuletzt gewählte Ansicht an.</p>
</div>
<div class="paragraph">
<p>Pro Seite werden bis zu 25 Adressdatensätze zu einem Kontakt angezeigt. Wenn mehr als 25 Adressen zu einem Kontakt gespeichert sind, haben Sie über die Toolbar die Möglichkeit, in den Seiten zu blättern, eine bestimmte Seite zu wählen und die Anzahl der Adressdatensätze pro Seite auf 50, 75 oder 100 zu ändern. Ihr plentymarkets System merkt sich, welche Anzahl der Adressdatensätze Sie gewählt haben und zeigt beim nächsten Öffnen der Ansicht <strong>Adressen</strong> die zuletzt gewählte Einstellung an.</p>
</div>
<div class="paragraph instruction">
<p>Adressen anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Adressen</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Adressen werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bearbeiten</strong>, um die Detailansicht der Adresse zu öffnen.<br>
→ Wenn Sie die Tabellenansicht gewählt haben, klicken Sie in die Zeile der Adresse, um die Detailansicht zu öffnen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="800">4.3. Adresse bearbeiten</h3>
<div class="paragraph">
<p>Sie können bestehende Adressen sowie Adressoptionen jederzeit bearbeiten. Beachten Sie dazu die Erläuterungen im Kapitel <a href="/crm/kontakte-verwalten#600">Adresse hinzufügen</a>. Adressoptionen löschen Sie mit einem Klick auf <strong>Adressoption löschen</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Adressen bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Adressen</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Adressen werden inital als Karten angezeigt.</p>
</li>
<li>
<p>Klicken Sie in der Adresskarte, die Sie bearbeiten möchten, auf <strong>Bearbeiten</strong>.<br>
→ Die Detailansicht der Adresse wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Änderungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 4 im Kapitel <a href="/crm/kontakte-verwalten#700">Adresse hinzufügen</a> sowie die Erläuterungen zur Toolbar in Tabelle 5.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Adresse bearbeiten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Speichern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Speichert die Einstellungen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Rechnungsadresse</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Neue Rechnungsadresse ableiten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erstellt eine neue Rechnungsadresse auf Basis der aktuell gewählten Adresse. Um eine neue Adresse mit einer neuen ID zu erstellen, müssen Änderungen an der neuen Rechnungsadresse vorgenommen werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungsadresstyp hinzufügen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Fügt den Typ <strong>Rechnungsadresse</strong> zu der Adresse hinzu. Die ID ändert sich nicht.<br>
Diese Einstellung ist nicht sichtbar, wenn für die Adresse bereits der Typ <strong>Rechnungsadresse</strong> hinzugefügt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungsadresstyp löschen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Löscht den Typ <strong>Rechnungsadresse</strong> in der Adresse.<br>
Diese Einstellung ist nicht sichtbar, wenn der Typ <strong>Rechnungsadresse</strong> nicht für die Adresse hinzugefügt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Als primäre Rechnungsadresse definieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setzt die aktuell gewählte Rechnungsadresse als primäre Rechnungsadresse. Die ID ändert sich nicht.<br>
Wenn der Typ <strong>Rechnungsadresse</strong> nicht vorhanden ist, ist diese Option deaktiviert.<br>
Wenn die Rechnungsadresse als primär definiert wurde, kann man dies mit einem Klick auf <strong>Primäre Rechnungsadresse zurücksetzen</strong> wieder rückgängig machen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>In Rechnungsadresse umwandeln</strong> /<br>
<strong>In Lieferadresse umwandeln</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wandelt die aktuell gewählte Adresse in die Rechnungsadresse bzw. Lieferadresse um. Die ID ändert sich nicht.<br>
Wenn beide Adresstypen bereits vorhanden sind, ist diese Option deaktiviert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Lieferadresse</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Neue Lieferadresse ableiten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erstellt eine neue Lieferadresse auf Basis der aktuell gewählten Adresse. Um eine neue Adresse mit einer neuen ID zu erstellen, müssen Änderungen an der neuen Lieferadresse vorgenommen werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferadresstyp hinzufügen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Fügt den Typ <strong>Lieferadresse</strong> zu der Adresse hinzu. Die ID ändert sich nicht.<br>
Diese Einstellung ist nicht sichtbar, wenn für die Adresse bereits der Typ <strong>Lieferadresse</strong> hinzugefügt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferadresstyp löschen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Löscht den Typ <strong>Lieferadresse</strong> in der Adresse.<br>
Diese Einstellung ist nicht sichtbar, wenn der Typ <strong>Lieferadresse</strong> nicht für die Adresse hinzugefügt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Als primäre Lieferadresse definieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setzt die aktuell gewählte Lieferadresse als primäre Lieferadresse. Die ID ändert sich nicht.<br>
Wenn der Typ <strong>Lieferadresse</strong> nicht vorhanden ist, ist diese Option deaktiviert.<br>
Wenn die Lieferadresse als primär definiert wurde, kann man dies mit einem Klick auf <strong>Primäre Lieferadresse zurücksetzen</strong> wieder rückgängig machen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Adressdatensatz löschen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Löscht den Adressdatensatz vollständig.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">4.4. Adresse löschen</h3>
<div class="paragraph">
<p>Sofern es sich bei der Adresse nicht um eine mit einem Auftrag verknüpfte Rechnungsadresse handelt, können Sie Adressen löschen. Dies ist z.B. nötig, wenn die Lieferadresse des Kontakts nicht mehr aktuell ist.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Löschen von Rechnungsadressen, die mit Aufträgen verknüpft sind, ist nicht möglich</div>
<div class="paragraph">
<p>Wenn die Adresse vom Typ <strong>Rechnungsadresse</strong> ist und mit einem Auftrag verknüpft ist, können Sie die Adresse nicht löschen. Eine Fehlermeldung erscheint.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adresse löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Adressen</strong>.<br>
→ Alle zu dem Kontakt gespeicherte Adressen werden inital als Karten angezeigt.<br></p>
</li>
<li>
<p>Klicken Sie in der Adresskarte, die Sie löschen möchten, auf <strong>Löschen</strong>.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Die Adresse wird gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="990">5. Aufträge verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie in den folgenden Unterkapiteln, wie Sie alle zu Ihrem Kontakt vorhandenen Aufträge anzeigen sowie neue Aufträge zu Ihrem Kontakt anlegen.</p>
</div>
<div class="sect2">
<h3 id="1000">5.1. Aufträge anzeigen</h3>
<div class="paragraph">
<p>Aus dem geöffneten Kontakt heraus können Sie alle Aufträge des Kontakts im Menü <strong>Aufträge » Aufträge bearbeiten</strong> aufrufen. Beim Wechsel in das Menü wird in der Auftragssuche automatisch initial auch nur nach Aufträgen von Kontakten mit der ID gesucht.</p>
</div>
<div class="paragraph instruction">
<p>Aufträge anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Aufträge</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Aufträge werden im Menü <strong>Aufträge » Aufträge bearbeiten</strong> angezeigt.<br></p>
</li>
<li>
<p>Klicken Sie in die Zeile des Auftrags, um nähere Informationen einzusehen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sie können den Auftrag auch bearbeiten. Aufträge können solange bearbeitet werden, bis ein Dokument für diesen Auftrag existiert. Weitere Informationen zu Aufträgen finden Sie auf der Handbuchseite <a href="#auftragsabwicklung/auftraege/auftraege-verwalten">Aufträge verwalten</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">5.2. Auftrag anlegen</h3>
<div class="paragraph">
<p>Mit einem Klick haben Sie die Möglichkeit aus dem geöffneten Kontakt heraus manuell einen neuen Auftrag für den Kontakt anzulegen. Wenn der Kontakt im Webshop bestellt, wird der Auftrag automatisch in Ihrem plentymarkets System gespeichert. Bei telefonischen Bestellungen beispielsweise legen Sie den Auftrag manuell an. Gehen Sie dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Auftrag anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Neuer Auftrag</strong>.<br>
→ Sie gelangen direkt in den Bereich <strong>Neuer Auftrag</strong> im Menü <strong>Aufträge » Aufträge bearbeiten</strong>.<br></p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die Informationen auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/auftraege verwalten">Aufträge verwalten</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1150">6. Scheduler anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Ansicht <strong>Scheduler</strong> werden Abo-Aufträge des Kontakts angezeigt. Außerdem können neue Scheduler-Aufträge angelegt werden. Über den Scheduler haben Ihre Kunden die Möglichkeit, bestimmte Artikel in Ihrem Webshop im Abonnement zu kaufen. Das Menü ist nur in Ihrem plentymarkets System sichtbar, wenn Sie es gebucht haben. Die Buchung nehmen Sie im Menü <strong>Start » Service-Center » Tab: Vertrag</strong> vor. Im Menü <strong>System » Aufträge » Scheduler</strong> nehmen Sie die Einstellungen für Ihren Webshop vor.</p>
</div>
<div class="paragraph instruction">
<p>Scheduler anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Scheduler</strong>.<br>
→ Alle zu dem Kontakt verfügbaren Abonnements werden angezeigt.</p>
</li>
<li>
<p>Beachten Sie die Erläuterungen auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/scheduler">Scheduler </a>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/scheduler">Scheduler </a>. Dort sind auch die Filteroptionen beschrieben, die Sie sowohl im Menü <strong>CRM » Kontakte » Kontakt öffnen » Ansicht: Scheduler</strong> als auch im Menü <strong>Aufträge » Scheduler » Scheduler-Aufträge</strong> wählen können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1190">7. Tickets verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie in den folgenden Unterkapiteln, wie Sie Tickets erstellen und alle zu einem Kontakt vorhandenen Tickets aufrufen. Abhängig vom verwendeten plentymarkets Tarif müssen Sie das Ticketsystem ggf. buchen, bevor es Ihnen zur Verfügung steht.</p>
</div>
<div class="sect2">
<h3 id="1200">7.1. Ticket erstellen</h3>
<div class="paragraph">
<p>Das <a href="/crm/ticketsystem-nutzen">Ticketsystem</a> in plentymarkets nutzen Sie zur Verwaltung Ihrer Kundenkommunikation. Erfahren Sie im Folgenden, wie Sie ein neues Ticket direkt aus dem geöffneten Kontakt heraus erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Ticket erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Neues Ticket</strong>.<br>
→ Sie gelangen direkt in den Bereich <strong>Neues Ticket</strong> im Menü <strong>CRM » Ticketsystem</strong>. Die Kontakt-ID ist bereits vorausgefüllt.<br></p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die Informationen auf der Handbuchseite <a href="/crm/ticketsystem-nutzen#1600">Ticketsystem nutzen</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1300">7.2. Tickets anzeigen</h3>
<div class="paragraph">
<p>Aus dem geöffneten Kontakt heraus können Sie alle zu dem Kontakt gespeicherten Tickets im Menü <strong>CRM » Ticketsystem</strong> aufrufen. Beim Wechsel in das Menü wird in der Ticketsuche automatisch initial auch nur nach Tickets von Kontakten mit der ID gesucht.</p>
</div>
<div class="paragraph instruction">
<p>Tickets anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Tickets</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Tickets werden angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sie haben die Möglichkeit Tickets zu bearbeiten und zu löschen. Beachten Sie dazu die Handbuchseite <a href="/crm/ticketsystem-nutzen">Ticketsystem nutzen</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1390">8. Notizen verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie in den folgenden Unterkapiteln, wie Sie neue Notizen zu Ihrem Kontakt erstellen, alle zu einem Kontakt vorhandenen Notizen aufrufen sowie vorhandene Notizen bearbeiten und löschen. Notizen sind nur in Ihrem plentymarkets Backend sichtbar und können nicht von Ihren Kontakten aufgerufen werden.</p>
</div>
<div class="sect2">
<h3 id="1400">8.1. Notiz erstellen</h3>
<div class="paragraph">
<p>Sie können zu jedem Ihrer Kontakte beliebig viele Notizen speichern. Notizen sind nur in Ihrem plentymarkets Backend sichtbar, d.h. Kontakte können die gespeicherten Notizen nicht im Webshop sehen. Jede Notiz erhält nach dem Speichern eine fortlaufende ID. Neue Texte geben Sie über die Tastatur ein oder fügen Sie über die Zwischenablage ein. Mit den Funktionen in der Symbolleiste können Sie den Text formatieren, Verlinkungen einfügen sowie Bilddateien hochladen.</p>
</div>
<div class="paragraph instruction">
<p>Notiz erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Neue Notiz</strong>.<br>
→ Das Fenster <strong>Neue Notiz</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie den Text ein, fügen Sie Text über die Zwischenablage ein und formatieren Sie ggf. den Text mit den Funktionen in der Symbolleiste.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Bereich <strong>Notizen</strong> wird geöffnet und die Notiz wird der Übersicht hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1500">8.2. Notizen anzeigen</h3>
<div class="paragraph">
<p>Aus dem geöffneten Kontakt heraus lassen sich alle zu dem Kontakt gespeicherten Notizen in Form von Karten anzeigen. Die Karten zeigen das Erstellungsdatum mit Uhrzeit, den Benutzernamen, der die Notiz erstellt hat, und die ID an.</p>
</div>
<div class="paragraph instruction">
<p>Notizen anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Notizen</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Notizen werden angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Einzelne Notiz öffnen</p>
</div>
<div class="paragraph">
<p>Sie können einzelne Notizen mit einem Klick auf <strong>Vorschau öffnen</strong> anzeigen. Wenn mehr als eine Notiz des Kontakts geöffnet ist, erscheint in der Ansicht ein Dreieck, über das man zwischen den geöffneten Notizen einfach und schnell hin- und herwechseln kann. Mit einem Klick auf das Kreuz wird die Notiz geschlossen und aus der Liste entfernt.</p>
</div>
</div>
<div class="sect2">
<h3 id="1600">8.3. Notiz bearbeiten</h3>
<div class="paragraph">
<p>Bearbeiten Sie Notizen, um Inhalte zu aktualisieren. Sie haben die Möglichkeit, den Text zu formatieren, Verlinkungen einzufügen und Bilddateien hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>Notiz bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Notizen</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Notizen werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in der Notiz, die Sie bearbeiten möchten, auf <strong>Bearbeiten</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Änderungen vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">8.4. Notiz löschen</h3>
<div class="paragraph">
<p>Die Notizen Ihrer Kontakte können jederzeit gelöscht werden, wenn die darin gespeicherten Informationen veraltet sind oder Sie diese nicht mehr benötigen.</p>
</div>
<div class="paragraph instruction">
<p>Notiz löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Notizen</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Notizen werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in der Notiz, die Sie löschen möchten, auf <strong>Löschen</strong>.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Die Notiz wird gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sie können die Notiz auch löschen, wenn die Vorschau geöffnet ist. Dazu klicken Sie in der geöffneten Notiz auf <strong>Löschen</strong>. In diesem Fall erscheint ebenfalls eine Sicherheitsabfrage, die Sie mit <strong>Löschen</strong> bestätigen müssen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1710">9. Dokumente verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie in den folgenden Unterkapiteln, wie Sie Dokumente zu Ihren Kontakten hochladen, anzeigen, herunterladen und löschen.</p>
</div>
<div class="sect2">
<h3 id="1720">9.1. Dokument hochladen</h3>
<div class="paragraph">
<p>In der Ansicht <strong>Dokumente</strong> können Sie Dokumente wie z.B. eine bereits im Vorfeld selbst durchgeführte Altersprüfung zu Ihrem Kontakt hochladen. Entweder laden Sie die Dateien über <strong>Datei hochladen</strong> oder per Drag&amp;Drop in diesen Bereich hoch. Sie können auch Ordner erstellen, um die Dokumente übersichtlicher zu gruppieren.</p>
</div>
<div class="paragraph">
<p>Zulässig sind Datenformate wie JPEG, PNG, GIF, TIFF, PDF, DOC, ODC, OTH, XLS, XML, HTML, HTM, CSS, ZIP und GZIP.</p>
</div>
<div class="paragraph instruction">
<p>Dokument hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200"><strong>Kontakt suchen</strong></a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Datei hochladen</strong> oder ziehen Sie die Datei per Drag&amp;Drop in den Bereich.<br>
→ Die Datei wird hochgeladen und zu der Übersicht hinzugefügt.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ordner erstellen</div>
<div class="paragraph">
<p>Erstellen Sie in der Ansicht <strong>Dokumente</strong> Ordner, wenn Sie viele Dokumente zu Ihrem Kontakt hochgeladen haben. Dies ermöglicht eine Gruppierung der Dokumente und somit eine bessere Übersicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1730">9.2. Dokumente anzeigen</h3>
<div class="paragraph">
<p>In der Ansicht <strong>Dokumente</strong> sehen Sie alle zum Kontakt verfügbaren Dokumente, die Sie hochgeladen haben. In der Übersicht sind der Dateiname, die Dateigröße sowie das Datum und die Uhrzeit der letzten Änderung zu sehen.</p>
</div>
<div class="paragraph instruction">
<p>Dokumente anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200"><strong>Kontakt suchen</strong></a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Dokumente</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Dokumente werden angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1740">9.3. Dokument herunterladen</h3>
<div class="paragraph">
<p>Sie haben die Möglichkeit, alle Dokumente, die Sie zu Ihrem Kontakt hochgeladen haben, herunterzuladen.</p>
</div>
<div class="paragraph instruction">
<p>Dokument herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200"><strong>Kontakt suchen</strong></a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Dokumente</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Dokumente werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in der Zeile des Dokuments, das Sie herunterladen möchten, auf <strong>Datei herunterladen</strong>.<br>
→ Das Fenster zum Festlegen des Speicherorts wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie den Speicherort auf Ihrem Computer und speichern Sie das Dokument.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1750">9.4. Dokument löschen</h3>
<div class="paragraph">
<p>Löschen Sie ein Dokument, wenn Sie dieses nicht mehr benötigen. Wie Sie mehrere Dokumente gleichzeitig löschen, ist in der Box am Ende des Kapitels beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Dokument löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200"><strong>Kontakt suchen</strong></a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Klicken Sie in der Zeile des Dokuments, das Sie löschen möchten, auf <strong>Löschen</strong>.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.<br></p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Das Dokument wird gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere oder alle Dokumente löschen</div>
<div class="paragraph">
<p>Markieren Sie in der Ansicht <strong>Dokumente</strong> die Dokumente, die Sie löschen möchten, oder aktivieren Sie die Option neben <strong>Dateiname</strong>, um alle gespeicherten Dokumente zu markieren und anschließend zu löschen. Nachdem Sie die Sicherheitsabfrage mit <strong>Löschen</strong> bestätigt haben, werden die markierten Dokumente gelöscht und aus der Übersicht entfernt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">10. Kontostand anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Ansicht <strong>Konto</strong> sehen Sie die Umsätze Ihres Kontakts. In der obersten Zeile sehen Sie neben dem Kontostand des Kontakts die Summe der Rechnungen des Kontakts, was Sie ihm in Form von Gutschriften gutgeschrieben haben und wie hoch die Differenz zwischen diesen beiden Beträgen ist.  In der Tabelle sind die Aufträge und Gutschriften zu diesem Kunden als Vorgänge aufgeführt. Dabei sind die Spalten <strong>Gezahlt</strong> und <strong>Ausstehend</strong> besonders hilfreich. Wenn bei einem Auftrag ein Betrag unter <strong>Ausstehend</strong> aufgeführt ist, muss der Kontakt diesen Betrag noch an Sie zahlen. Sobald dies geschehen ist, wird der Betrag unter <strong>Gezahlt</strong> aufgeführt. Wenn bei einer Gutschrift noch ein Betrag unter <strong>Ausstehend</strong> aufgeführt ist, müssen Sie diesen Betrag noch an den Kontakt zahlen. Sobald dies geschehen ist, wird der Betrag unter <strong>Gezahlt</strong> aufgeführt.</p>
</div>
<div class="paragraph instruction">
<p>Kontostand anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Konto</strong>.<br>
→ Alle verfügbaren Daten zum Kontostand des Kontakts werden angezeigt.</p>
</li>
<li>
<p>Beachten Sie die Erläuterungen in Tabelle 6.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 6. Einstellungen im Menü&nbsp;<strong>CRM » Kontakte » Kontakt öffnen » Ansicht: Konto</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Saldo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt den Kontostand des Kontakts an.<br>
<strong>+</strong> = Summe der noch vom Kontakt zu zahlenden Beträge<br>
<strong>-</strong> = Summe der noch an den Kontakt zu zahlenden Beträge, wenn der Kontakt zu viel gezahlt hat oder eine Gutschrift noch ausgezahlt werden muss.<br>
<strong>0,0</strong> = keine ausstehenden Beträge</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Summe der Rechnungsbeträge aller Aufträge und die Anzahl der Rechnungen in Klammern</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gutschriften</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Summe aller Gutschriften und die Anzahl der Gutschriften in Klammern</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delta</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Differenz in Prozent zwischen den gezahlten Gutschriften und dem insgesamt bezahlten Rechnungsbetrag des Kontakts. Bei 0 % wurde dem Kontakt noch keine Gutschrift ausgezahlt. Bei 100 % wurde dem Kontakt jeder bezahlte Betrag wieder als Gutschrift zurückgezahlt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum, an dem der Auftrag erstellt wurde</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrags-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID des Auftrags. Ein Klick auf die ID öffnet die Detailansicht des Auftrags. IDs von Gutschriften sind eingerückt und unterhalb des Auftrags dargestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorgang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftragsart, entweder Auftrag oder Gutschrift</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Dokument</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Dokumentennummer, z.B. Rechnungsnummer. Ein Klick auf die Nummer öffnet das Dokument.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Rechnungssumme des Auftrags</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gezahlt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der bereits bezahlte Betrag</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart des Auftrags</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ausstehend</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der zur vollständigen Bezahlung des Auftrags noch ausstehende Betrag.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Status des Auftrags. Ein Klick auf den Status öffnet das Bearbeitungsfenster <strong>Auftragsstatus</strong>, in dem der Status geändert werden kann.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Kontodaten filtern</p>
</div>
<div class="paragraph">
<p>Verwenden Sie Filter, um den Kontostand Ihres Kontakts anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Kontodaten filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Konto</strong>.<br>
→ Alle verfügbaren Daten zum Kontostand des Kontakts werden angezeigt.</p>
</li>
<li>
<p>Nehmen Sie die Filtereinstellungen im Bereich <strong>Filter</strong> vor. Beachten Sie dazu die Erläuterungen in Tabelle 7.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 7. Filtereinstellungen im Menü <strong>CRM » Kontakte » Kontakt öffnen » Ansicht: Konto</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Suchen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Suche ausführen. Die gefundenen Kontodaten werden aufgelistet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reset</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eingestellte Filterkriterien zurücksetzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeitraum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine der folgenden Einstellungen aus dem Dropdown-Menü wählen: <strong>ALLE</strong>, <strong>Dieses Jahr</strong>, <strong>Letztes Jahr</strong>, <strong>Diesen Monat</strong>, <strong>Letzten Monat</strong> oder <strong>Letzte 3 Monate</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ausstehend</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ALLE</strong>, <strong>Ja</strong> oder <strong>Nein</strong> wählen.<br>
<strong>Ja</strong> = Nur ausstehende Beträge werden angezeigt.<br>
<strong>Nein</strong> = Nur gezahlte Beträge werden angezeigt.<br>
<strong>ALLE</strong> = Ausstehende und gezahlte Beträge werden angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vergleichsoperator / Status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vergleichsoperator und Auftragsstatus aus den Dropdown-Menüs wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungsnr.</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Rechnungsnummer eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrags-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftrags-ID eingeben.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1890">11. Bankdaten verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie in den folgenden Unterkapiteln, wie Sie neue Bankdaten zu Ihrem Kontakt hinzufügen sowie bestehende Bankdaten bearbeiten und löschen.</p>
</div>
<div class="sect2">
<h3 id="1900">11.1. Bankdaten hinzufügen</h3>
<div class="paragraph">
<p>In der Ansicht <strong>Bankdaten</strong> fügen Sie die Bankdaten Ihres Kontakts hinzu. Sie können beliebig viele Bankdatensätze hinzufügen.</p>
</div>
<div class="paragraph">
<p>Die Bankdatensätze werden nach dem Speichern in Form von Karten dargestellt und zeigen neben dem Namen des Inhabers und der IBAN ein Tag, wenn das SEPA-Lastschriftmandat für den Kontakt aktiviert ist. Sofern im Bankdatensatz die BIC gespeichert ist, wird diese auch auf der Karte angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Die Ansicht <strong>Neue Bankdaten</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 8.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 8. Einstellungen im Menü <strong>CRM » Kontakte » Kontakt öffnen » Ansicht: Bankdaten</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong>, <strong>BIC</strong>, <strong>Inhaber</strong>, <strong>Kontonummer</strong>, <strong>Bankleitzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bankdaten des Kontakts eingeben. <strong>IBAN</strong> und <strong>Inhaber</strong> sind Pflichtfelder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name, Straße, PLZ und Ort der Bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name und Adresse der Bank eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land der Bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land aus dem Dropdown-Menü wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA-Lastschriftmandat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option aktivieren, wenn der Kontakt das SEPA-Lastschriftmandat unterschrieben hat.<br>
<strong><em>Wichtig:</em></strong> Erst nach dem Aktivieren dieser Option können die pain.008-Formate für den <a href="/auftragsabwicklung/payment/bankdaten-verwalten#200">SEPA-Zahlungsverkehr</a> abgerufen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art des Mandats</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn das SEPA-Lastschriftmandat aktiviert wurde.<br>
Option aus dem Dropdown-Menü wählen:<br>
<strong>SEPA-Basis-Lastschrift</strong> = Mit der Einzugsermächtigung (Standardkunden) vergleichbares Mandat.<br>
<strong>SEPA-Firmen-Lastschrift</strong> = Mit dem Buchungsauftrag (Firmenkunden, B2B) vergleichbares Mandat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausführungsmodalität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn das SEPA-Lastschriftmandat aktiviert wurde.<br>
Option aus dem Dropdown-Menü wählen:<br>
<strong>Einmalige Zahlung</strong> = Wird typischerweise für Standardaufträge verwendet.<br>
<strong>Wiederkehrende Zahlung</strong> = Wird typischerweise für regelmäßige Abbuchungen, Abo-Verträge etc. verwendet.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="2000">11.2. Bankdaten bearbeiten</h3>
<div class="paragraph">
<p>Sie haben die Möglichkeit, die Bankdaten Ihrer Kontakte jederzeit zu aktualisieren.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bankdatensatz, den Sie bearbeiten möchten, auf <strong>Bearbeiten</strong>.<br>
→ Der Bankdatensatz wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 8.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="2100">11.3. Bankdaten löschen</h3>
<div class="paragraph">
<p>Löschen Sie Bankdatensätze Ihrer Kontakte, wenn diese nicht mehr aktuell sind.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suchen Sie den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf <strong>Bankdaten</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bankdatensatz, den Sie löschen möchten, auf <strong>Löschen</strong>.<br>
→ Ein Fenster mit einer Sicherheitsabfrage wird angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Der Bankdatensatz wird gelöscht und aus der Übersicht entfernt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>