<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#vorbereitende-einstellungen"><span>1.</span><span> Vorbereitende Einstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#benutzerrechte-backend-benutzer"><span>1.1.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#tags-messenger"><span>1.2.</span><span> Tags für den Messenger erstellen</span></a></li>
</ul>
</li>
<li><a href="#nachricht-erstellen"><span>2.</span><span> Nachricht erstellen</span></a></li>
<li><a href="#nachrichten-anzeigen"><span>3.</span><span> Nachrichten anzeigen</span></a></li>
<li><a href="#nachricht-bearbeiten"><span>4.</span><span> Nachricht bearbeiten</span></a></li>
<li><a href="#nachricht-loeschen"><span>5.</span><span> Nachricht löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Messenger</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Nutze den Messenger, um im Backend Nachrichten zu erstellen, die deinen Kontakten zugeordnet werden. Diese Nachrichten funktionieren wie Notizen, sind nur in deinem plentymarkets Backend sichtbar und können nicht von deinen Kontakten aufgerufen werden.</p>
</div>
<div class="paragraph">
<p>Erfahre auf dieser Handbuchseite, wie du neue Nachrichten zu deinem Kontakt erstellst, alle zu einem Kontakt vorhandenen Nachrichten aufrufst sowie vorhandene Nachrichten bearbeitest und löschst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="vorbereitende-einstellungen">1. Vorbereitende Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Benutzer:innen vom Typ <strong>Backend</strong> mit dem Messenger arbeiten sollen, musst du als Person mit <strong>Admin</strong>-Zugang zunächst Rechte für diese Benutzer:innen vergeben. Außerdem musst du Tags erstellen, damit diese für den Messenger zur Verfügung stehen.</p>
</div>
<div class="sect2">
<h3 id="benutzerrechte-backend-benutzer">1.1. Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Benutzer:innen vom Typ <strong>Backend</strong> <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">sehen nur bestimmte Bereiche und Menüs</a> in plentymarkets. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Nachrichten im Messenger sehen und erstellen, benötigen diese Mitarbeiter:innen mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Nachricht &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>CRM &gt; Nachricht &gt; Erstellen</strong></p>
</li>
<li>
<p><strong>Kommentare &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Kommentare &gt; Erstellen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Eigenschaft &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Eigenschaft &gt; Erstellen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Tag &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Tag &gt; Erstellen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Tipp: So vergibst du Rechte</div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admin</strong>-Benutzer:innen Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle eine:n Benutzer:in.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="tags-messenger">1.2. Tags für den Messenger erstellen</h3>
<div class="paragraph">
<p>Erstelle im Menü <strong>Einrichtung » Einstellungen » Tags</strong> Tags für den Bereich <strong>Nachrichten</strong>, damit diese für den Messenger zur Verfügung stehen.</p>
</div>
<div class="paragraph">
<p>Wenn du Nachrichten erstellen möchtest, die über den Messenger kostenpflichtig abgerechnet werden sollen, erstelle nach dem selben Schema Tags für den Bereich <strong>Nachrichten (kostenpflichtig)</strong>. Diese Tags musst du dann der Nachricht hinzufügen.</p>
</div>
<div class="paragraph">
<p>Wie du Tags erstellst, ist auf der Handbuchseite <a href="/willkommen/allgemeine-funktionen/tags">Tags</a> beschrieben.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="nachricht-erstellen">2. Nachricht erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erstelle zu jedem deiner Kontakte beliebig viele Nachrichten.</p>
</div>
<div class="paragraph instruction">
<p>Nachricht erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) den Kontakt anhand der Filtereinstellungen wie auf der Handbuchseite <a href="/crm/kontakte-verwalten">Kontakte</a> im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Öffne das Kontextmenü mit einem Klick auf <strong>Aktionen</strong> (<span class="icon "><i class="fa fa-bars  "></i></span>) oder mit einem Rechtsklick direkt in die Zeile des Kontakts und wähle <strong>Messenger</strong>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Klicke in die Zeile des Kontakts und im geöffneten Kontaktdatensatz auf der linken Seite auf <strong>Messenger</strong>.<br>
→ Der Bereich <strong>Messenger</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Nachricht</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Erstelle die Nachricht. Beachte dazu <a href="#image-messenger-new-message">Bild 1</a> und die Erläuterungen in <a href="#table-new-message-messenger">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Senden</strong> (<span class="icon purple"><i class="fa fa-envelope-o  "></i></span>).<br>
→ Die Nachricht wird erstellt.</p>
</li>
</ol>
</div>
<div id="image-messenger-new-message" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/crm-messenger-stoppuhr.png" alt="Neue Nachricht im Messenger erstellen" width="640" height="360">
</div>
<div class="title">Bild 1. Neue Nachricht im Messenger</div>
</div>
<table id="table-new-message-messenger" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Neue Nachricht im Messenger erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Empfänger</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Person, die die Nachricht erhalten soll, aus der Dropdown-Liste oder gib die ersten 3 Buchstaben des Namens dieser Person ein, um Vorschläge zu erhalten.<br>
Standardmäßig sind <strong>ALLE</strong> Empfänger:innen sowie der eigene Name gewählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stoppuhr</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Stoppuhr beginnt zu zählen, sobald der Bereich <strong>Messenger</strong> geöffnet wird.<br>
Klicke auf <span class="icon "><i class="fa fa-pause-circle-o  "></i></span>, um die Stoppuhr anzuhalten bzw. auf <span class="icon "><i class="fa fa-play-circle  "></i></span>, damit die Zeit weiterläuft. Klicke auf <span class="icon orange"><i class="fa fa-undo  "></i></span>, um die Stoppuhr auf 0 zurückzusetzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Titel der Nachricht ein. Dies ist eine Pflichtangabe.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle Tags aus der Dropdown-Liste oder gib die ersten 3 Buchstaben des Tags ein, um Vorschläge zu erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flüstern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du auf die Schaltfläche <strong>Flüstern</strong> (<span class="icon "><i class="fa fa-eye  "></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span>) klickst, ist die Nachricht nur für deine Mitarbeiter:innen, die die Berechtigung für den Messenger haben, sichtbar. Deine Kontakte können die Nachricht nicht einsehen. Flüstern ist aktiviert, wenn die Schaltfläche so aussieht: <span class="icon "><i class="fa fa-eye-slash  "></i></span> <span class="icon "><i class="fa fa-toggle-on  "></i></span>.<br>
<strong><em>Hinweis:</em></strong> Wenn <strong>Flüstern</strong> aktiviert ist (<span class="icon "><i class="fa fa-eye-slash  "></i></span> <span class="icon "><i class="fa fa-toggle-on  "></i></span>), sind das Feld <strong>Minuten</strong> und die Schaltfläche <strong>kostenpflichtig</strong> deaktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachricht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Füge Text über die Zwischenablage ein und formatiere ggf. den Text mit den Funktionen in der Symbolleiste. Dies ist eine Pflichtangabe.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateien anhängen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <span class="icon "><i class="fa fa-paperclip  "></i></span> beliebig viele Dateianhänge zur Nachricht hochladen.<br>
Die folgenden Dateitypen sind als Anhang in der Nachricht zulässig:<br>
bmp, csv, gif, jpeg, json, pdf, png, tiff, txt, zip.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minuten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Minuten in das Feld ein, die du für eine bestimmte Aufgabe oder Einheit speichern oder später auch abrechnen möchtest.<br>
Wenn du die hier eingegebenen Minuten abrechnen möchtest, musst du einen Tag vom Typ <strong>Nachrichten (kostenpflichtig)</strong> wählen und die Schaltfläche <span class="icon "><i class="psicon-pay_cash"></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kostenpflichtig</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Schaltfläche <span class="icon "><i class="psicon-pay_cash"></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span>, um die im Feld <strong>Minuten</strong> eingegeben Minuten kostenpflichtig abzurechnen.<br>
<strong><em>Wichtig:</em></strong> Wenn du die Schaltfläche aktivierst hast (<span class="icon "><i class="psicon-pay_cash"></i></span> <span class="icon green"><i class="fa fa-toggle-on  "></i></span>), musst du zwingend ein <a href="/crm/kontakte-verwalten#1396">Tag</a> vom Typ <strong>Nachrichten (kostenpflichtig)</strong> mit der Nachricht verknüpfen. Dieses Tag muss zuvor im Menü <strong>Einrichtung » Einstellungen » Tags</strong> erstellt worden sein. Andernfalls kann die Nachricht nicht erstellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicke auf <span class="icon purple"><i class="fa fa-envelope-o  "></i></span>, um die Nachricht zu erstellen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="nachrichten-anzeigen">3. Nachrichten anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aus dem geöffneten Kontakt heraus lassen sich alle zu dem Kontakt gespeicherten Nachrichten im Messenger anzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Nachrichten anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) den Kontakt anhand der Filtereinstellungen wie auf der Handbuchseite <a href="/crm/kontakte-verwalten">Kontakte</a> im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Öffne das Kontextmenü mit einem Rechtsklick in die Zeile des Kontakts und wähle <strong>Messenger</strong>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Klicke in die Zeile des Kontakts und im Kontaktdatensatz auf der linken Seite auf <strong>Messenger</strong>.<br>
→ Alle zu dem Kontakt gespeicherten Nachrichten werden angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du kannst einzelne Nachrichten mit einem Klick auf die Nachricht anzeigen. Über die Sortierung kannst du die Nachrichten aufsteigend oder absteigend nach Datum anzeigen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="nachricht-bearbeiten">4. Nachricht bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Nachrichten jederzeit bearbeiten. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Nachricht bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Öffne das Kontextmenü mit einem Klick auf <strong>Aktionen</strong> (<span class="icon "><i class="fa fa-bars  "></i></span>) oder mit einem Rechtsklick direkt in die Zeile des Kontakts und wähle <strong>Messenger</strong>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Klicke in die Zeile des Kontakts und im geöffneten Kontaktdatensatz auf der linken Seite auf <strong>Messenger</strong>.<br>
→ Der Bereich <strong>Messenger</strong> wird geöffnet und die gespeicherten Nachrichten werden angezeigt.</p>
</li>
<li>
<p>Klicke auf die Nachricht, die du bearbeiten möchtest.</p>
</li>
<li>
<p>Nimm die gewünschten Änderungen vor. Beachte dazu <a href="#bild-messenger-nachricht-bearbeiten">Bild 2</a> und die Erläuterungen in <a href="#table-messenger-edit-message">Tabelle 2</a>.</p>
</li>
</ol>
</div>
<div id="bild-messenger-nachricht-bearbeiten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/messenger-nachricht-bearbeiten.png" alt="Nachricht im Messenger bearbeiten" width="640" height="360">
</div>
<div class="title">Bild 2. Beispiel: Nachricht bearbeiten</div>
</div>
<table id="table-messenger-edit-message" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Nachricht bearbeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachricht nicht geschlossen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <span class="icon "><i class="psicon-success"></i></span> <span class="icon red"><i class="fa fa-toggle-off  "></i></span> neben der Kontakt-ID (<span class="icon "><i class="psicon-user_my_account"></i></span>) wird die Nachricht geschlossen.<br>
In der Nachrichtenübersicht wird die Nachricht dann mit einem <span class="icon green"><i class="psicon-success"></i></span> angezeigt. Dies signalisiert anderen Mitarbeiter:innen, dass diese Nachricht bereits bearbeitet wurde.<br>
Mit einem Klick auf <span class="icon "><i class="psicon-success"></i></span> <span class="icon green"><i class="fa fa-toggle-on  "></i></span> wird die Nachricht wieder geöffnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <span class="icon "><i class="psicon-user_my_account"></i></span> <em>Kontakt-ID</em> wird die Detailansicht des Kontakts geöffnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeiten ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <span class="icon yellow"><i class="fa fa-pencil  "></i></span> änderst du die Sichtbarkeiten. Du kannst bereits ausgewählte Empfänger:innen entfernen und neue Empfänger:innen hinzufügen.<br>
<strong><em>Wichtig:</em></strong> Das Ändern von Sichtbarkeiten bezieht sich immer auf den gesamten Nachrichtenverlauf. Das bedeutet, wenn du einen Namen entfernst, kann diese Person keine der Nachrichten mehr sehen. Wenn du eine Person hinzufügst, kann dieser alle Nachrichten im Verlauf sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Antworten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <span class="icon "><i class="fa fa-reply  "></i></span> antwortest du auf die Nachricht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <span class="icon red"><i class="fa fa-minus-square  "></i></span> löschst du den gesamten Nachrichtenverlauf.<br>
<strong><em>Wichtig:</em></strong> Beim Löschen werden die Hauptnachricht und alle zugehörigen Nachrichten gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <strong>Tags bearbeiten</strong> (<span class="icon "><i class="fa fa-pencil  "></i></span>) direkt an der Nachricht löschst du bestehende Tags oder fügst neue Tags hinzu.<br>
Ein Klick auf <strong>Tags speichern</strong> (<span class="icon "><i class="fa fa-save  "></i></span>) speichert die Änderung an den Tags.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="nachricht-loeschen">5. Nachricht löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Klick auf <span class="icon red"><i class="fa fa-minus-square  "></i></span> an der geöffneten Nachricht löschst du den gesamten Nachrichtenverlauf.<br>
<strong><em>Wichtig:</em></strong> Beim Löschen werden die Hauptnachricht und alle zugehörigen Nachrichten gelöscht.</p>
</div>
<div class="paragraph">
<p>Bevor der Nachrichtenverlauf endgültig gelöscht wird, wird ein Fenster angezeigt, in dem du das Löschen der Nachricht noch einmal bestätigen musst.</p>
</div>
</div>
</div>
</main>