<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> In plentymarkets integrierten Newsletter-Dienst einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Newsletter-Zugangsdaten eingeben</span></a></li>
<li><a href="#300"><span>1.2.</span><span> E-Mail-Ordner erstellen</span></a></li>
<li><a href="#400"><span>1.3.</span><span> E-Mail-Ordner bearbeiten</span></a></li>
<li><a href="#500"><span>1.4.</span><span> E-Mail-Adressen dem Newsletter-Hauptordner zuordnen</span></a></li>
<li><a href="#600"><span>1.5.</span><span> Newsletter-Wahl für Kunden erlauben</span></a></li>
<li><a href="#700"><span>1.6.</span><span> E-Mail-Vorlage erstellen</span></a></li>
<li><a href="#800"><span>1.7.</span><span> E-Mail-Vorlagen mit der Double-Opt-In-Funktion verknüpfen</span></a></li>
<li><a href="#900"><span>1.8.</span><span> E-Mail-Adresse speichern</span></a></li>
<li><a href="#1000"><span>1.9.</span><span> Newsletter erstellen</span></a></li>
<li><a href="#1100"><span>1.10.</span><span> Kunden anhand der E-Mail-Adresse oder des Nachnamen suchen</span></a></li>
<li><a href="#1200"><span>1.11.</span><span> E-Mail-Adresse bearbeiten</span></a></li>
<li><a href="#1300"><span>1.12.</span><span> E-Mail-Adressen exportieren und importieren</span></a></li>
<li><a href="#1400"><span>1.13.</span><span> Kundendaten in einen E-Mail-Ordner kopieren</span></a></li>
<li><a href="#1500"><span>1.14.</span><span> Kundendaten filtern</span></a></li>
<li><a href="#1600"><span>1.15.</span><span> Newsletter versenden</span></a></li>
<li><a href="#1650"><span>1.16.</span><span> Link zum Abbestellen des Newsletters einfügen</span></a></li>
</ul>
</li>
<li><a href="#1700"><span>2.</span><span> Newsletter mit CleverReach versenden</span></a>
<ul class="sectlevel2">
<li><a href="#1800"><span>2.1.</span><span> Bei CleverReach registrieren</span></a></li>
<li><a href="#1900"><span>2.2.</span><span> CleverReach in plentymarkets einrichten</span></a></li>
<li><a href="#2000"><span>2.3.</span><span> Kundendaten manuell übertragen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Newsletter versenden</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite ist beschrieben, welche Einstellungen du vornehmen musst, um Newsletter mit plentymarkets zu versenden. Versende deine Newsletter z.B. mit dem in plentymarkets <a href="/crm/newsletter-versenden#100">integrierten Newsletter-Dienst</a>, über die integrierte Schnittstelle zu <a href="/crm/newsletter-versenden#1700">CleverReach</a> oder übere weitere im <a href="https://marketplace.plentymarkets.com/plugins/integration" target="_blank" rel="noopener">plentyMarketplace</a> verfügbare E-Mail-Marketing- und Newsletter-Plugins.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. In plentymarkets integrierten Newsletter-Dienst einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den folgenden Unterkapiteln erfährst du, wie du den in plentymarkets integrierten Newsletter-Dienst einrichtest.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Double-Opt-In-Methode</div>
<div class="paragraph">
<p>In plentymarkets wird die Double-Opt-In-Methode verwendet, d.h. der Empfänger erhält nach Bestellung des Newsletters eine E-Mail mit einem Bestätigungslink. Erst nachdem der Kunde auf den Link geklickt hat, ist der Kunde für den Newsletter angemeldet. Diese Methode ist fest integriert und kann nicht geändert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Newsletter-Zugangsdaten eingeben</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Newsletter</strong> gibst du die Zugangsdaten ein, um den in plentymarkets integrierten Newsletter-Dienst zu nutzen.</p>
</div>
<div class="paragraph instruction">
<p>Newsletter-Zugangsdaten eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Newsletter</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-newsletter-zugangsdaten">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-newsletter-zugangsdaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Newsletter</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des Absenders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenen Namen oder Name des Webshops eingeben. Der Name wird dem Empfänger angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse eingeben, wie sie auch im E-Mail-Programm steht. Über diese E-Mail-Adresse wird der Newsletter versendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postausgangsserver / SMTP-Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postausgangsserver wie vom Provider angegeben eingeben (meist smtp.domain.de oder mail.domain.de).<br>
<strong><em>mailbox.org:</em></strong> Für Postfächer bei mailbox.org den Postausgangsserver <strong>smtp.mailbox.org</strong> eingeben und unter <strong>Verschlüsselung</strong> die Einstellung <strong>SSL</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername zu der E-Mail-Adresse eingeben.<br>
<strong><em>mailbox.org:</em></strong> Der mailbox.org-Benutzername ist die vollständige E-Mail-Adresse des mailbox.org-Postfachs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort zu dem Benutzername und der E-Mail-Adresse eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port (Standardport: 25)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert <strong>25</strong> eingeben. Dieser Wert ist für fast alle Provider korrekt. Ggf. den korrekten Port beim Provider erfragen.<br>
<strong><em>mailbox.org:</em></strong> Für Postfächer bei mailbox.org den Port <strong>465</strong> eingeben und unter <strong>Verschlüsselung</strong> die Einstellung <strong>SSL</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verschlüsselung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SSL</strong>, <strong>TLS</strong> oder <strong>keine Verschlüsselung</strong> wählen.<br>
<strong><em>mailbox.org:</em></strong> Für Postfächer bei mailbox.org die Einstellung <strong>SSL</strong> wählen.<br>
Weitere Informationen siehe Kapitel <a href="/crm/e-mails-versenden#200">Verschlüsselung der E-Mail-Kommunikation wählen</a> auf der Handbuchseite <a href="/crm/e-mails-versenden">E-Mails versenden</a>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. E-Mail-Ordner erstellen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mail-Ordner</strong> erstellst du Ordner für den Versand von Newslettern. In diesen Ordnern speicherst du dann die E-Mail-Adressen deiner Kunden. Dies ermöglicht den Versand von Newslettern auf bestimmte Zielgruppen. Gehe wie im Folgenden beschrieben vor, um einen neuen E-Mail-Ordner zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Ordner erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mail-Ordner</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Neuen E-Mail-Ordner anlegen</strong> einen Namen für den Ordner ein.</p>
</li>
<li>
<p>Ändere ggf. die ID des Ordners.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-e-mail-ordner-erstellen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der E-Mail-Ordner wird erstellt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-e-mail-ordner-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mail-Ordner</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird beim Erstellen eines neuen Ordners fortlaufend vergeben. Die Ordner-ID kann beim Erstellen eines neuen Ordners geändert werden. Die ID <strong>0</strong> kann nicht vergeben werden.<br>
<strong><em>Hinweis:</em></strong> Eindeutige ID vergeben. Wird eine bereits bestehende ID eingegeben, wird der ursprüngliche Ordner überschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des E-Mail-Ordners. Wird die Option <strong>Auswählbar durch Kunden</strong> aktiviert, ist der Name für Kunden im Webshop sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswählbar durch Kunden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn der Ordner von Kunden im Webshop gewählt werden soll. Der Ordner wird im Bereich <strong>Mein Konto</strong> des Webshops angezeigt. Kunden wählen dann Newsletter anhand der dort verfügbaren Ordner.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position eingeben, um festzulegen, in welcher Reihenfolge die Ordner angezeigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, ob der Newsletter-Ordner nur für den Standard-Webshop oder für alle Webshops sichtbar sein soll. Mit <strong>Keiner</strong> wird die Sichtbarkeit des Ordners deaktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und auf <strong>Speichern</strong> klicken, um den Ordner zu löschen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. E-Mail-Ordner bearbeiten</h3>
<div class="paragraph">
<p>Bestehende E-Mail-Ordner bearbeitest du ebenfalls im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mail-Ordner</strong>. Gehe wie im Folgenden beschrieben vor, um die Einstellungen eines E-Mail-Ordners zu bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Ordner bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mail-Ordner</strong>.</p>
</li>
<li>
<p>Nimm die Änderungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-e-mail-ordner-erstellen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">1.4. E-Mail-Adressen dem Newsletter-Hauptordner zuordnen</h3>
<div class="paragraph">
<p>Im Menü <a href="/webshop/webshop-einrichten/bestellvorgang">Einrichtung » Mandant » Mandant wählen » Bestellvorgang » Einstellungen</a> wählst du über die Dropdown-Liste <strong>Newsletter-Hauptordner</strong> den E-Mail-Ordner für Newsletter, der automatisch mit der E-Mail-Adresse eines Kunden verknüpft wird, wenn der Kunde den Newsletter während des Bestellvorgangs im Webshop abonniert. Alle sichtbaren E-Mail-Ordner sind in der Dropdown-Liste aufgelistet. Beachte dazu auch die Erläuterung zur Option <strong>Sichtbarkeit</strong> in <a href="#tabelle-e-mail-ordner-erstellen">Tabelle 2</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">1.5. Newsletter-Wahl für Kunden erlauben</h3>
<div class="paragraph">
<p>Lasse deine Kunden selbst bestimmen, welche Newsletter sie von dir erhalten. Das ist z.B. von Vorteil, wenn du regelmäßig Newsletter zu verschiedenen Themenbereichen versendest. Deine Kunden können alle E-Mail-Ordner, die du unter der Option <strong>Auswählbar durch Kunden</strong> in <a href="#tabelle-e-mail-ordner-erstellen">Tabelle 2</a> aktiviert hast, im Bereich <strong>Mein Konto</strong> des Webshops wählen. Die E-Mail-Adresse des Kunden wird dann in diesem E-Mail-Ordner in deinem plentymarkets System gespeichert.</p>
</div>
</div>
<div class="sect2">
<h3 id="700">1.6. E-Mail-Vorlage erstellen</h3>
<div class="paragraph">
<p>Versende deine Bestätigungs-E-Mail per E-Mail-Vorlage. Nutze Template-Variablen, damit die Vorlage beim Versenden automatisch den richtigen Namen des Kunden sowie den Bestätigungslink enthält. Gehe wie im Folgenden beschrieben vor, um die E-Mail-Vorlage zu erstellen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Template-Variablen und Template-Funktionen beachten</div>
<div class="paragraph">
<p>In plentymarkets steht dir eine umfangreiche Auswahl an Template-Variablen und Template-Funktionen für deine E-Mail-Vorlagen zur Verfügung. Öffne die E-Mail-Vorlage und klicke auf <strong>Template-Variablen -und Funktionen</strong> (<span class="icon"><i class="fa fa-code" style="color:blue"></i></span>). Kopiere aus diesem Bereich die Template-Variable bzw. Template-Funktion und füge diese in der E-Mail-Vorlage im Tab <strong>E-Mail-Nachricht</strong> in den reinen Text oder in den HTML-formatierten Text an der gewünschten Stelle ein.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/crm/e-mails-versenden">E-Mails versenden</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue E-Mail-Vorlage</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue E-Mail-Vorlage</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Namen für die E-Mail-Vorlage ein.</p>
</li>
<li>
<p>Wähle einen Eigner aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>).<br>
→ Die E-Mail-Vorlage wird erstellt und abhängig von der gewählten Einstellung in der Dropdown-Liste <strong>Eigner</strong> in einem der 3 Ordner gespeichert. Beachte dazu die Erläuterung zu <strong>Eigner</strong> in <a href="#tabelle-e-mail-vorlage-erstellen">Tabelle 3</a>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-e-mail-vorlage-erstellen">Tabelle 3</a>.</p>
</li>
<li>
<p>Füge die Template-Variable <strong>$CustomerFullName</strong> in den Text der E-Mail ein.<br>
→ Diese Template-Variable gibt den Vornamen und den Nachnamen des Kunden aus.</p>
</li>
<li>
<p>Füge die Template-Variable <strong>$NewsletterConfirmURL</strong> in den Text der E-Mail ein.<br>
→ Diese Template-Variable gibt den Bestätigungslink aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Klickt der Empfänger der E-Mail auf den durch die Template-Variable <strong>$NewsletterConfirmURL</strong> eingefügten Link, bestätigt der Empfänger die Anmeldung zum Newsletter und erhält ab sofort Newsletter an diese E-Mail-Adresse.</p>
</div>
<div class="paragraph">
<p>Wenn du die <a href="/crm/newsletter-versenden#800">Double-Opt-In-Methode</a> verwenden möchtest, ist ein weiterer Schritt notwendig. Du musst jeweils eine Vorlage erstellt haben und diese im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong> für die Ereignisse <strong>Newsletter Opt-In</strong> und <strong>Bestätigung Newsletter Opt-In</strong> gewählt haben.</p>
</div>
<table id="tabelle-e-mail-vorlage-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Neue E-Mail-Vorlage im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong> erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen in der E-Mail-Vorlage.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Variablen -und Funktionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <span class="icon"><i class="fa fa-code" style="color:blue"></i></span> wird der Bereich <strong>Template-Variablen -und Funktionen</strong> geöffnet, aus dem die Template-Variablen bzw. Template-Funktionen für die E-Mail-Vorlage kopiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn der Name des Eigners bereits beim Erstellen aus der Dropdown-Liste gewählt wurde, wird hier der Name des Eigners angezeigt. Andernfalls Eigner aus der Dropdown-Liste wählen. Diese Einstellung kann jederzeit geändert werden.<br>
<strong>Alle</strong> = Die Vorlage wird unter <strong>Allgemeine E-Mail-Vorlagen</strong> gespeichert.<br>
Eigener Benutzername = Die Vorlage wird unter <strong>Meine E-Mail-Vorlagen</strong> gespeichert.<br>
Anderer Benutzername = Die Vorlage wird unter <strong>E-Mail-Vorlagen anderer Benutzer</strong> gespeichert.<br>
<strong><em>Hinweis:</em></strong> Um eine eigene E-Mail-Vorlage unter <strong>Meine E-Mail-Vorlagen</strong> zu erstellen, muss man als Benutzer im System eingeloggt sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn der Name der E-Mail-Vorlage bereits beim Erstellen eingegeben wurde, wird hier der Name der E-Mail-Vorlage angzeigt. Andernfalls Namen eingeben, unter dem diese Vorlage gespeichert werden soll.<br>
Der Name kann jederzeit geändert werden. Der Name wird dem Empfänger nicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inhalt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Nachricht als <strong>reiner Text</strong> oder als <strong>HTML-formatierte Nachricht</strong> gespeichert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, in welchem Bereich die E-Mail-Vorlage als Auswahl zur Verfügung steht. Mögliche Optionen: <strong>Alle</strong> (Standardeinstellung), <strong>Auftrag</strong>, <strong>Kunden</strong>, <strong>Webshop</strong>, <strong>Ticket</strong> oder <strong>Scheduler</strong>.<br>
<strong>Alle</strong> / <strong>Webshop</strong> = Die E-Mail-Vorlage steht in allen Bereichen als Auswahl zur Verfügung.<br>
<strong>Auftrag</strong> = Die E-Mail-Vorlage steht ausschließlich für den gewählten Bereich als Auswahl zur Verfügung. Die Vorlage ist in anderen Bereichen nicht sichtbar. Wenn das Ticket mit einem Auftrag verknüpft ist, sind E-Mail-Vorlagen mit dem Template-Typ <strong>Auftrag</strong> ebenfalls im Ticket wählbar.<br>
<strong>Kunden</strong> = Die E-Mail-Vorlage steht ausschließlich für den gewählten Bereich als Auswahl zur Verfügung. Die Vorlage ist in anderen Bereichen nicht sichtbar.<br>
<strong>Ticket</strong> = Die E-Mail-Vorlage steht ausschließlich für den gewählten Bereich als Auswahl zur Verfügung. Die Vorlage ist in anderen Bereichen nicht sichtbar.<br>
<strong>Scheduler</strong> = Die E-Mail-Vorlage steht in allen Bereichen, in denen auch der Template-Typ <strong>Auftrag</strong> sichtbar ist, als Auswahl zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PDF-Anhang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anhang aus der Dropdwon-Liste wählen. Die Dokumente, die hier in der Dropdown-Liste zur Verfügung stehen, werden u.a. im Menü <strong>Aufträge » Fulfillment</strong> oder durch versandbezogene Prozesse erzeugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumentenanhang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf Wunsch unter <strong>CMS » Dokumente</strong> hochgeladene eigene Dokumente wählen, die an eine E-Mail-Vorlage anhängt werden sollen.<br>
 Alle E-Mail-Vorlagen können mit bis zu 2 Anhängen standardisiert an Kunden versendet werden: PDF-Dokumente aus dem Bereich Fulfillment (z.B. Rechnungen) oder andere Dateien (z.B. ein Artikelprospekt oder eine Anleitung). Für die Vorlage <strong>Eingangsbestätigung Webshop Bestellung</strong> wären z.B. die Widerrufsbelehrung und die AGB im PDF-Format eine sinnvolle Ergänzung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Antwort an</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse eingeben, an die die Antworten auf diese E-Mail-Vorlage gesendet werden sollen. Wenn keine E-Mail-Adresse eingegeben ist, werden Antworten auf diese Vorlage standardmäßig an die unter <a href="/crm/e-mails-versenden#100">Einrichtung » Mandant » Mandant wählen » E-Mail » Zugangsdaten</a> gespeicherte E-Mail-Adresse versendet. Beispielsweise ist es sinnvoll, die E-Mail-Adresse der Buchhaltungsabteilung für die E-Mail-Vorlage <strong>PDF-Rechnung</strong> einzugeben. So gehen z.B. Rückfragen zur Rechnung direkt an die Buchhaltungsabteilung und müssen nicht weitergeleitet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Design verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn der Inhalt der E-Mail mit dem im Menü <a href="/crm/e-mails-versenden#800">Einrichtung » Mandant » Mandant wählen » E-Mail » HTML-Design</a> gespeicherten Design versendet werden soll. Wird die Option nicht aktiviert, wird nur der Inhalt der E-Mail-Vorlage verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen, mehrere oder <strong>ALLE</strong> Mandanten (Shops) aktivieren. Die E-Mail-Vorlage ist nur für die gewählten Mandanten (Shops) gültig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: E-Mail-Nachricht</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache wählen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Sprache wird hier angezeigt und kann geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betreff</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betreff eingeben. Dabei den Betreff mit großer Sorgfalt wählen, damit die E-Mails im Postfach des Kunden leicht erkennbar sind und nicht dem Spam-Filter zum Opfer fallen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inhalt / Artikelliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In diese Tabs den Text bzw. die Artikelauflistung als <strong>reinen Text</strong> oder als <strong>HTML-formatierten Text</strong> eingeben. Für den Inhalt stehen verschiedene Template-Variablen und Template-Funktionen zur Verfügung.<br>
<strong><em>Hinweis:</em></strong> Nur der Inhalt des Tabs, dessen Inhaltstyp im Tab <strong>Einstellungen</strong> unter <strong>Inhalt</strong> festgelegt wurde, wird berücksichtigt. Wenn dort also z.B. <strong>Nur reiner Text</strong> eingestellt wurde, jedoch nur das Tab <strong>HTML-formatierter Text</strong> Inhalt enthält, wird keine E-Mail versendet.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">1.7. E-Mail-Vorlagen mit der Double-Opt-In-Funktion verknüpfen</h3>
<div class="paragraph">
<p>Im nächsten Schritt verknüpfst du die soeben erstellte E-Mail-Vorlage mit der Double-Opt-In-Funktion und wählst eine weitere Vorlage für das Ereignis <strong>Bestätigung Newsletter Opt-In</strong>. Bei der Double-Opt-In-Methode muss der Kunde nach Anmeldung zum Newsletter die Newsletter-Anmeldung in einem zweiten Schritt bestätigen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hinweise zur Double-Opt-In-Methode</div>
<div class="paragraph">
<p>Wähle im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong> 2 <a href="/crm/newsletter-versenden#700">zuvor erstellte</a> Vorlagen für die Ereignisse <strong>Newsletter Opt-In</strong> und <strong>Bestätigung Newsletter Opt-In</strong>. Die gewählte Vorlage unter <strong>Newsletter Opt-In</strong> wird versendet, wenn der Kunde sich für deinen Newsletter anmeldet. Diese Vorlage sollte den Bestätigungslink enthalten, den der Kunde anklicken muss, um die Newsletter-Anmeldung abzuschließen. Den Bestätigungslink bildest du mit der Template-Variable <strong>$NewsletterConfirmURL</strong>, die die URL zur Bestätigung der Newsletter-Anmeldung beinhaltet, ab. Die gewählte Vorlage unter <strong>Bestätigung Newsletter Opt-In</strong> wird versendet, sobald der Kunde den Bestätigungslink aktiviert hat.</p>
</div>
<div class="paragraph">
<p>Im Kontaktdatensatz im Menü <strong>CRM » Kontakte » Kontakt öffnen</strong> wird die Option <strong>Newsletter</strong> automatisch aktiviert, wenn der Kunde sich im Bestellvorgang für den Newsletter angemeldet und die Newsletter-Anmeldung über den Bestätigungslink bestätigt hat.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlagen mit der Double-Opt-In-Funktion verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong>.</p>
</li>
<li>
<p>Wähle für die Option <strong>Newsletter Opt-In</strong> die soeben erstellte E-Mail-Vorlage aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle für die Option <strong>Bestätigung Newsletter Opt-In</strong> die E-Mail-Vorlage aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Den Status der Bestätigung siehst du im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mails</strong>. Bei Kunden, die den Newsletter-Bezug nach der vorstehend beschriebenen Vorgehensweise bestätigt haben, ist dies am Status <strong><span class="green">bestätigt</span></strong> zu erkennen. Bei Kunden, die das Double-Opt-in nicht durchgeführt haben, steht dort <strong><span class="red">nicht bestätigt</span></strong>.</p>
</div>
<div class="paragraph">
<p>Die <strong>IP-Adresse</strong> und die verwendete <strong>Bestätigungs-URL</strong> einer Bestätigung werden in der Datenbank gespeichert. Diese Daten lassen sich anschließend über einen <a href="https://developers.plentymarkets.com/rest-doc/newsletter/details#list-a-recipient" target="_blank" rel="noopener">REST-Call</a> holen. Im Backend erfolgt keine Anzeige.</p>
</div>
</div>
<div class="sect2">
<h3 id="900">1.8. E-Mail-Adresse speichern</h3>
<div class="paragraph">
<p>E-Mail-Adressen für den Versand von Newslettern werden in verschiedenen Ordnern gespeichert. Im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mails</strong> verwaltest du die E-Mail-Adressen der verfügbaren Ordner. Falls du noch keine <a href="/crm/newsletter-versenden#300">Ordnerstruktur</a> für deine Newsletter angelegt hast, empfiehlt es sich, dies vorab zu tun.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine E-Mail-Adresse in einem E-Mail-Ordner zu speichern.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Adresse speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mails</strong>.</p>
</li>
<li>
<p>Klappe den Ordner auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Klappe den Bereich <strong>Neue E-Mail-Adresse</strong> (<span class="icon"><i class="fa fa-plus-square-o"></i></span>) auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-e-mail-adresse-speichern">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-e-mail-adresse-speichern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Einstellungen zum Speichern einer neuen E-Mail-Adresse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname des Kunden eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname des Kunden eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse des Kunden eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ordner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/crm/newsletter-versenden#300">E-Mail-Ordner</a> wählen, in dem die Kundendaten gespeichert werden sollen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">1.9. Newsletter erstellen</h3>
<div class="paragraph">
<p>Neue Newsletter erstellst du wie im Folgenden beschrieben. Du kannst so auch bestehende Newsletter bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>Newsletter erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Newsletter</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Neuer Newsletter</strong> (<span class="icon"><i class="fa fa-plus-square-o"></i></span>) auf.<br>
→ Das Bearbeitungsfenster für den neuen Newsletter wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-newsletter-erstellen">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-newsletter-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Einstellungen zum Erstellen eines Newsletters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platzhalter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listet auf, welche Platzhalter vom System erkannt und in der Nachricht ersetzt werden.<br>
Aktuell mögliche Platzhalter:<br>
<strong>[NAME]</strong> = Vorname und Nachname des Empfängers<br>
<strong>[EMAIL]</strong> = E-Mail-Adresse des Empfängers<br>
<strong>[RECIPIENTID]</strong> = ID des Empfängers<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildergalerie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <a href="/webshop/webshop-einrichten/cms#bilder-galerie">CMS » Bilder-Galerie</a>. Hier ein Bild hochladen, um es mit dem Newsletter zu verknüpfen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Layout-Vorlage einspielen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Klick auf <strong>Layout-Vorlage einspielen</strong> wird die Anrede <strong>[Guten Tag]</strong> sowie der Platzhalter <strong>[NAME]</strong> im Bereich <strong>HTML Newsletter</strong> eingesetzt. Für den Platzhalter wird beim Versenden automatisch der Name des Kunden eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betreff</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betreff für den Newsletter eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Editor</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>CKEditor</strong> ist vorausgewählt. Ggf. anderen Editor aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HTML Newsletter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inhalt des Newsletters als HTML-Code eingeben.<br>
<strong><em>Hinweis:</em></strong> Texte werden nur in einem Bereich gespeichert. Daher entweder im Bereich <strong>HTML Newsletter</strong> oder im Bereich <strong>Text Newsletter</strong> Inhalte eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text Newsletter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inhalt des Newsletters in reiner Textform eingeben.<br>
<strong><em>Hinweis:</em></strong> Texte werden nur in einem Bereich gespeichert. Daher entweder im Bereich <strong>HTML Newsletter</strong> oder im Bereich <strong>Text Newsletter</strong> Inhalte eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1100">1.10. Kunden anhand der E-Mail-Adresse oder des Nachnamen suchen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine E-Mail-Adresse in einem E-Mail-Ordner zu suchen. Suche Kunden entweder anhand der E-Mail-Adresse oder des Nachnamens.</p>
</div>
<div class="paragraph instruction">
<p>Kunden anhand der E-Mail-Adresse oder des Nachnamen suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mails</strong>.</p>
</li>
<li>
<p>Klappe den E-Mail-Ordner auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste die Einstellung <strong>E-Mail-Adresse</strong> oder <strong>Nachname</strong>, um anhand dieser Einstellung zu suchen.</p>
</li>
<li>
<p>Gib die E-Mail-Adresse bzw. den Nachnamen des Kunden in das Suchfeld ein. <br>
→ Für die Suche ist es ausreichend, wenn du nur einen Teil des Namens oder der E-Mail-Adresse eingibst. Lasse das Feld leer, um alle E-Mail-Adressen bzw. Nachnamen anzuzeigen.</p>
</li>
<li>
<p>Klicke auf <strong>Suche</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Das Suchergebnis wird angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Suchergebnis wird auch der Status der Bestätigung angezeigt. In plentymarkets wird die <a href="/crm/newsletter-versenden#800">Double-Opt-In-Methode</a> verwendet. Dabei erhalten Empfänger nach dem Bestellen des Newsletters eine E-Mail mit einem Link, über den sie die Newsletter-Bestellung bestätigen müssen. Kunden, die den Newsletter-Bezug so bestätigt haben, erkennst du an dem Status <strong>bestätigt</strong>. Andernfalls steht dort <strong>nicht bestätigt</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">1.11. E-Mail-Adresse bearbeiten</h3>
<div class="paragraph">
<p>Nachdem du eine E-Mail-Adresse über die Suchfunktion gefunden hast, kannst du die Daten für diesen Kunden bearbeiten. Ändere z.B. die E-Mail-Adresse des Kunden oder verschiebe den Kontaktdatensatz in einen anderen E-Mail-Ordner. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Adresse bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mails</strong>.</p>
</li>
<li>
<p>Suche den Kunden wie im Kapitel <a href="/crm/newsletter-versenden#1100">Kunden anhand der E-Mail-Adresse oder des Nachnamen suchen</a> beschrieben.</p>
</li>
<li>
<p>Klappe den Kunden auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Nimm die Änderungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-e-mail-adresse-speichern">Tabelle 4</a> im Kapitel <a href="/crm/newsletter-versenden#900">E-Mail-Adresse speichern</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1300">1.12. E-Mail-Adressen exportieren und importieren</h3>
<div class="paragraph">
<p>In den vorigen Kapiteln ist beschrieben, wie du eine einzelne E-Mail-Adresse verwaltest. Wenn du mehrere E-Mail-Adressen gleichzeitig bearbeiten möchtest, ist es sinnvoll, mit dem <a href="/daten/daten-importieren/ElasticSync">ElasticSync</a> zu arbeiten. Importiere neue und bearbeite bestehende E-Mail-Adressen mit dem Sync-Typ <a href="/daten/daten-importieren/sync-typen/elasticSync-newsletter-empfaenger">Newsletter-Empfänger</a>.</p>
</div>
<div class="paragraph">
<p>Du kannst die E-Mail-Adressen auch exportieren. Erstelle dazu im Menü <a href="/daten/daten-exportieren/FormatDesigner">Daten » FormatDesigner</a> zunächst das Exportformat und exportiere die Daten anschließend über den <a href="/daten/daten-exportieren/elastischer-export">elastischen Export</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">1.13. Kundendaten in einen E-Mail-Ordner kopieren</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mail-Filter</strong> filterst du nach Kundendaten und kopierst die E-Mail-Adressen dieser Kunden in bestimmte E-Mail-Ordner. Du hast z.B. die Möglichkeit, nach Kunden zu suchen, die bestimmte Artikel in einem bestimmten Zeitraum erworben haben. Verwende die Ordner dann für den Newsletter-Versand im Menü <a href="/crm/newsletter-versenden#1000">CRM » Newsletter</a>, um Newsletter an diese Kundengruppen zu senden.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Kundendaten in einen E-Mail-Ordner zu kopieren.</p>
</div>
<div class="paragraph instruction">
<p>Kundendaten in einen E-Mail-Ordner kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mail-Filter</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Alle Kundendaten in E-Mail-Ordner kopieren</strong> vor. Beachte dazu die Erläuterungen in <a href="#tabelle-kundendaten-kopieren">Tabelle 6</a>.</p>
</li>
<li>
<p>Klicke auf <strong>E-Mails in Ordner übertragen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).</p>
</li>
</ol>
</div>
<table id="tabelle-kundendaten-kopieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Kundendaten in einen E-Mail-Ordner kopieren</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletter-Anmeldung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen wählen:<br>
<strong>ALLE</strong> = Die Kundendaten aller Kunden, die den Newsletter bestellt haben, werden in den E-Mail-Ordner kopiert. Umfasst sowohl Kunden, die den Newsletter-Empfang mit der <a href="/crm/newsletter-versenden#800">Double-Opt-In-Methode</a> bestätigt haben, als auch Kunden, die dies noch nicht getan haben.<br>
<strong>Nur Kunden, welche dem Empfang von Newslettern zugestimmt haben</strong> = Nur die Kundendaten von Kunden, die den Newsletter-Empfang bestätigt haben, werden in den E-Mail-Ordner kopiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land wählen, um nur Kunden aus diesem Land zu filtern. Ermöglicht es, z.B. unterschiedliche Newsletter an Kunden in Deutschland und in Österreich zu versenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Ordner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Ordner wählen. Die Kundendaten werden in diesen E-Mail-Ordner kopiert.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1500">1.14. Kundendaten filtern</h3>
<div class="paragraph">
<p>Mit dem Kundenfilter filterst du Kundendaten noch genauer. Gehe wie im Folgenden beschrieben vor, um Kundendaten zu filtern und in einen E-Mail-Ordner zu kopieren.</p>
</div>
<div class="paragraph instruction">
<p>Kundendaten filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mail-Filter</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Kundenfilter</strong> vor. Beachte dazu die Erläuterungen in <a href="#tabelle-kundendaten-filtern">Tabelle 7</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>), um die Kundendaten anzuzeigen.<br>
→ Der Bereich <strong>Vorschau</strong> wird mit den Kundendaten eingeblendet. Prüfe das Ergebnis.</p>
</li>
<li>
<p>Klicke auf <strong>E-Mails in Ordner übertragen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).</p>
</li>
</ol>
</div>
<table id="tabelle-kundendaten-filtern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Einstellungen für den Kundenfilter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestbestellwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellwert eingeben, um nach Kunden zu filtern, die ab diesem Bestellwert eingekauft haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie 1-3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bis zu 3 Kategorieebenen wählen, um nach Kunden zu filtern, die Artikel in dieser Kategorie oder Unterkategorie gekauft haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine oder mehrere Artikel-IDs eingeben, um nach Kunden zu filtern, die diese Artikel gekauft haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellzeitpunkt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitraum eingeben oder Datum aus dem Kalender wählen, um nach Kunden zu filtern, die innerhalb dieses Zeitraums bestellt haben. Wenn kein Datumsfilter angewendet werden soll, die Option <strong>Kein Bestellzeitpunkt</strong> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land wählen, um nur Kunden aus diesem Land zu filtern. Ermöglicht es, z.B. unterschiedliche Newsletter an Kunden in Deutschland und in Österreich zu versenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop) wählen, um nach Kunden zu filtern, die Artikel bei diesem Mandanten (Shop) gekauft haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/crm/kontakte-verwalten#15">Kundenklasse</a> wählen, um nach Kunden zu filtern, die dieser Kundenklasse angehören.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkunft wählen, um nach Kunden zu filtern, die Bestellungen über diese Auftragsherkunft vorgenommen haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletter-Anmeldung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zwischen den Optionen <strong>ALLE</strong> und <strong>Nur Kunden, welche dem Empfang von Newslettern zugestimmt haben</strong> wählen.<br>
<strong>ALLE</strong> = Die Kundendaten aller Kunden, die den Newsletter bestellt haben, werden in den E-Mail-Ordner kopiert. Umfasst sowohl Kunden, die den Newsletter-Empfang mit der <a href="/crm/newsletter-versenden#800">Double-Opt-In-Methode</a> bestätigt haben, als auch Kunden, die dies noch nicht getan haben.<br>
<strong>Nur Kunden, welche dem Empfang von Newslettern zugestimmt haben</strong> = Nur die Kundendaten von Kunden, die den Newsletter-Empfang bestätigt haben, werden in den E-Mail-Ordner kopiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Ordner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Ordner wählen. Die Kundendaten werden in diesen E-Mail-Ordner kopiert.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1600">1.15. Newsletter versenden</h3>
<div class="paragraph">
<p>Nachdem du die <a href="/crm/newsletter-versenden#700">E-Mail-Vorlage erstellt</a> und <a href="/crm/newsletter-versenden#800">verknüpft</a> und den <a href="/crm/newsletter-versenden#1000">Newsletter erstellt</a> hast, stellst du im Menü <strong>CRM » Newsletter</strong> ein, an welche der in den E-Mail-Ordnern gespeicherten E-Mail-Adressen der Newsletter gesendet werden soll. Außerdem legst du mit der Option <strong>Filter</strong> fest, ob der Newsletter an alle oder nur an bestätigte E-Mail-Adressen gesendet werden soll. Diese Einstellung nimmst du im Tab <strong>Newsletter senden</strong> des erstellten Newsletters vor.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eingeschränkter Newsletter-Versand am Tag</div>
<div class="paragraph">
<p>Beachte, dass dein Newsletter tagsüber eingeschränkt an deine Kunden versendet wird. In der Nacht wird der Versand einer größeren Anzahl von E-Mails erlaubt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Am Tag zwischen 8:00 und 0:00 Uhr: 60 E-Mails je Viertelstunde</p>
</li>
<li>
<p>Nachts zwischen 0:00 und 8:00 Uhr: 500 E-Mails je Viertelstunde</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Newsletter versenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Newsletter</strong>.</p>
</li>
<li>
<p>Klappe den Newsletter, den du versenden möchtest, auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Newsletter versenden</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Sende Newsletter an Gruppe</strong> eine Gruppe aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle unter <strong>Filter</strong> die Option <strong>ALLE</strong> oder die Option <strong>Nur an bestätigte E-Mail-Adressen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Senden</strong> (<span class="icon"><i class="fa fa-envelope-o" style="color:purple"></i></span>).<br>
→ Der Newsletter wird gemäß der oben gewählten Einstellungen versendet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1650">1.16. Link zum Abbestellen des Newsletters einfügen</h3>
<div class="paragraph">
<p>Damit der Empfänger den Newsletter abbestellen kann, musst du den Link zum Abbestellen in die Newsletter-Vorlage im Menü <strong>CRM » Newsletter</strong> einfügen.</p>
</div>
<div class="paragraph">
<p>Es ist möglich einen Abmelde-Link hinzuzfügen, der Empfänger von allen Newsletter-Ordnern abmeldet (siehe Punkt 1) oder einen Link, der Empfänger von einem bestimmten Newsletter-Ordner abmeldet (siehe Punkt 2):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>http://[Name des Online-Shops].plentymarkets-cloud01.com/?OrderShow=CancelNewsletter</strong><br>
Wenn Empfänger auf diesen Link klicken, werden sie aus allen Newsletter-Ordnern abgemeldet.</p>
</li>
<li>
<p><strong>http://[Name des Online-Shops].plentymarkets-cloud01.com/?OrderShow=CancelNewsletter&amp;folderId=1</strong><br>
Wenn Empfänger auf diesen Link klicken, werden sie aus einem bestimmten Newsletter-Ordner abgemeldet. In diesem Beispiel handelt es sich um den Ordner mit der ID 1.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">2. Newsletter mit CleverReach versenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um deine Newsletter mit <a href="https://www.cleverreach.de/" target="_blank" rel="noopener">CleverReach</a> an deine Kunden zu versenden.</p>
</div>
<div class="sect2">
<h3 id="1800">2.1. Bei CleverReach registrieren</h3>
<div class="paragraph">
<p>Registrier dich kostenlos auf der <a href="https://www.cleverreach.de/" target="_blank" rel="noopener">Website von CleverReach</a>, um CleverReach in plentymarkets zu nutzen. Weitere Informationen zu den Einstellungen in CleverReach findest du in der <a href="http://support.cleverreach.de/hc/de" target="_blank" rel="noopener">Hilfe</a> von CleverReach.</p>
</div>
</div>
<div class="sect2">
<h3 id="1900">2.2. CleverReach in plentymarkets einrichten</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Schnittstelle zu CleverReach in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>CleverReach in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » CleverReach</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-cleverreach-einrichten">Tabelle 8</a>.</p>
</li>
<li>
<p>Gib deinen <strong>API-Key</strong> ein.</p>
</li>
<li>
<p>Gib die <strong>Listen-ID</strong> der in CleverReach angelegten Gruppe ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Standardattribute generieren</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).<br>
→ Datenfelder werden in CleverReach erzeugt, damit die Kundendaten, die du übertragst, gespeichert werden.</p>
</li>
<li>
<p>Öffne im CleverReach-Backend die Gruppe, deren ID du in plentymarkets eingegeben hast.</p>
</li>
<li>
<p>Lösche die Datenfelder, deren Inhalt du nicht bei CleverReach verwenden möchtest.<br>
→ Aktuell werden die Datenfelder <strong>Birthday (Geburtstag)</strong>, <strong>Vorname</strong>, <strong>Gender (Anrede)</strong>, <strong>Lang (Sprache)</strong> und <strong>Nachname</strong> von plentymarkets an CleverReach übertragen.</p>
</li>
<li>
<p>Wechsele zurück in das Menü <strong>Einrichtung » CRM » Newsletter » CleverReach</strong> des plentymarkets Backend.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Automatische Übertragung (täglich)</strong>, damit die Kundendaten übertragen werden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-cleverreach-einrichten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Einstellungen im Menü <strong>Einrichtung » CRM » Newsletter » CleverReach</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppenattribute erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erzeugt die Datenfelder (Gruppenattribute) für CleverReach.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenübertragung ausführen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Überträgt die Datenfelder (Gruppenattribute) an CleverReach. Aktuell werden die Datenfelder <strong>Birthday (Geburtstag)</strong>, <strong>Vorname</strong>, <strong>Gender (Anrede)</strong>, <strong>Lang (Sprache)</strong> und <strong>Nachname</strong> von plentymarkets an CleverReach übertragen. Bereich aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Vor der Übertragung der eigentlichen Kundendaten ausführen. Dazu Anleitung unten beachten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">API-Key eingeben, wie von CleverReach erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listen-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listen-ID aus CleverReach eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkünfte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkünfte wählen, die für CleverReach verfügbar sein sollen. Herkünfte, die keine Datenübertragung gestatten, sind standardmäßig nicht gewählt.<br>
<strong><em>Hinweis:</em></strong> Auswahl der Auftragsherkünfte vor der Arbeit mit CleverReach prüfen, um potenzielle Abmahnungen zu vermeiden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export ab Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen, ab dem die Daten exportiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Übertragung (täglich)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn Daten täglich automatisch übertragen werden sollen.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erste Übertragung</div>
<div class="paragraph">
<p>Bei der ersten automatischen Übertragung werden die Kundendaten der in den vorhergehenden 3 Tagen neu erstellten Kunden übertragen. Anschließend werden nur noch die Kundendaten der Kunden übertragen, die seit der letzten Übertragung hinzugekommen sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn du nicht an alle Kunden schreiben möchtest, deren Daten du zu CleverReach übertragen hast, hast du in CleverReach Filtermöglichkeiten. Nähere Informationen hierzu findest du auf der Support-Seite von <a href="http://support.cleverreach.de/entries/21538892-wie-kann-ich-meine-empfanger-filtern" target="_blank" rel="noopener">CleverReach</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="2000">2.3. Kundendaten manuell übertragen</h3>
<div class="paragraph">
<p>Mit der Option <strong>Datenübertragung ausführen</strong> werden nur die Kundendaten eines bestimmten Kundentyps übertragen. Dies bietet die Möglichkeit, die Kundentypen in separate Gruppen bei CleverReach einzuordnen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Automatische Übertragung sinnvoll?</div>
<div class="paragraph">
<p>Wenn du die Option <strong>Datenübertragung ausführen</strong> nutzt, um die Kundendaten gefiltert nach Kundentyp zu übertragen, solltest du überlegen, ob die automatische Übertragung noch sinnvoll für dich ist, da bei dieser Option unabhängig vom Kundentyp übertragen wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kundendaten manuell übertragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Newsletter » CleverReach</strong>.</p>
</li>
<li>
<p>Gib deinen <strong>API-Key</strong> ein.</p>
</li>
<li>
<p>Gib die <strong>Listen-ID</strong> der in CleverReach angelegten Gruppe ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Standardattribute generieren</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).<br>
→ Datenfelder werden in CleverReach erzeugt, damit die Kundendaten, die du übertragst, gespeichert werden.</p>
</li>
<li>
<p>Öffne im CleverReach-Backend die Gruppe, deren ID du in plentymarkets eingegeben hast.</p>
</li>
<li>
<p>Lösche die Datenfelder, deren Inhalt du nicht bei CleverReach verwenden möchtest.<br>
→ Aktuell werden die Datenfelder <strong>Birthday (Geburtstag)</strong>, <strong>Vorname</strong>, <strong>Gender (Anrede)</strong>, <strong>Lang (Sprache)</strong> und <strong>Nachname</strong> von plentymarkets an CleverReach übertragen.</p>
</li>
<li>
<p>Wechsele zurück in das Menü <strong>Einrichtung » CRM » Newsletter » CleverReach</strong> des plentymarkets Backend.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Datenübertragung ausführen</strong> den Kundentyp.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Exportieren</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).<br>
→ Die Kundendaten werden übertragen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>