<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay-Listings importieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügst du bereits über Artikel und Listings, die auf eBay verkauft werden? Es gibt eine einfache Möglichkeit, all diese Daten in dein plentymarkets System zu importieren. In diesem Video erfährst du, wie du die eBay-Importeinstellungen konfigurierst und die für dich nötigen Optionen wählst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/listings/import-konto-plattform#video">eBay-Konto und Plattform wählen (0:35)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/import-importeinstellungen#video">Importeinstellungen vornehmen (0:51)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/import-weitere-funktionen#video">Weitere Funktionen einstellen (2:05)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/import-vorschau#video">Vorschaufunktion nutzen (2:50)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/267743088#at=35" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Klar, du bist vielleicht neu bei plentymarkets. Das bedeutet aber nicht, dass du auch neu im Online-Handel sein musst. Vielleicht verkaufst du ja seit Jahren schon Artikel auf eBay.</p>
</div>
<div class="paragraph">
<p>Du musst jetzt natürlich nicht das Rad neu erfinden und deine Artikel von Hand in plentymarkets einpflegen. Nutze doch einfach den eBay-Listingimport, um deine Listings ins System zu importieren und dabei Artikel anzulegen.</p>
</div>
<div class="paragraph">
<p>Wie das funktioniert? Zunächst musst du den Import nach deinen Wünschen konfigurieren.</p>
</div>
<div class="paragraph">
<p>Dazu nutzt du den Bereich hier oben, in dem stellst du ein, von welchem eBay-Konto und von welcher eBay-Plattform deine Listings importiert werden.</p>
</div>
<div class="paragraph">
<p>Anschließend solltest du festlegen, welchem Lager die neu importierten Artikel zugeordnet werden sollen und welche Bestandsabhängigkeit beim Import gesetzt wird.</p>
</div>
<div class="paragraph">
<p>Den Bereich Importeinstellungen kannst du dir dann als Weggabelung vorstellen.</p>
</div>
<div class="paragraph">
<p>Wenn du neu bei plentymarkets bist, willst du vielleicht nicht nur deine Listings selber importieren, sondern auch mit den Informationen aus den Listings Artikel anlegen.</p>
</div>
<div class="paragraph">
<p>Wenn du bereits Artikeldaten in deinem plentymarkets System hast, möchtest du vielleicht nur die entsprechenden eBay-Angebote importieren.</p>
</div>
<div class="paragraph">
<p>Oder wenn du bereits Artikel und Angebote in deinem plentymarkets System hast, möchtest du vielleicht nur deinen Bestand aktualisieren.</p>
</div>
<div class="paragraph">
<p>Welche Einstellung du hier wählst hängt davon ab, wie du fortfahren möchtest.</p>
</div>
<div class="paragraph">
<p>Wir nehmen einfach an, dass du völlig neu bei plentymarkets bist und aus deinen Listing-Informationen Artikel erstellen willst. In dem Fall sollte deine Aufmerksamkeit diesen drei Einstellungen gelten.</p>
</div>
<div class="paragraph">
<p>Du musst dir nämlich bewusst sein, ob du die Zuordnung der Listings in Abhängigkeit der eBay-Artikelnummer, des Listingtitels oder beides treffen möchtest.</p>
</div>
<div class="paragraph">
<p>Wir empfehlen dir, die eBay-Artikelnummer zu verwenden, da das die genauste Zuordnung von Informationen erlaubt.</p>
</div>
<div class="paragraph">
<p>Sobald du dich hier für die Einstellung entschieden hast, kannst du weiter nach unten scrollen und aus den sonstigen Einstellungen wählen.</p>
</div>
<div class="paragraph">
<p>Wenn du beispielsweise HTML-Code in deinen Listings verwendest, solltest du diesen mit Hilfe des HTML-Filters herausfiltern, damit nur reiner Text in plentymarkets importiert wird.</p>
</div>
<div class="paragraph">
<p>Diese Option hier könntest du auch nützlich finden, wenn du neu bei plentymarkets bist. Wenn du nämlich noch keine Kategoriestruktur für deine Artikel in plentymarkets angelegt hast, aktivierst du diese Option, um deine eBay-Shop-Kategorien zu importieren und diese Kategorien mit deinen Artikeln in plentymarkets zu verknüpfen.</p>
</div>
<div class="paragraph">
<p>Sobald du dann bereit für deinen Import bist, kannst du noch entscheiden, ob du die Listings aller Seiten, einige ausgesuchte Seiten mit Listings, oder einige ausgesuchte Listings selber importieren möchtest. Wir empfehlen dir hier die Verwendung der Vorschaufunktion. Im Wesentlichen simuliert diese den Import, sodass du etwaige Fehler leicht erkennen und beheben kannst.</p>
</div>
<div class="paragraph">
<p>Sobald du dann deine Vorschau startest, siehst du hier den Status des Imports. Dieser Status zeigt dir, welche Einstellungen verwendet wurden und den Start sowie das Ende des Imports.</p>
</div>
<div class="paragraph">
<p>Klicke einfach auf die Lupe, um detaillierte Informationen zu den im Import enthaltenen Artikeln und Listings zu erhalten.</p>
</div>
<div class="paragraph">
<p>Wenn du mit den Ergebnissen zufrieden bist, klickst du einfach auf dieses kleine Plus, um zum Konfigurationsbereich zurückzukehren.</p>
</div>
<div class="paragraph">
<p>Anschließend deaktivierst du die Vorschau-Funktion und startest den eigentlichen Import.</p>
</div>
<div class="paragraph">
<p>Deine eBay-Listings werden importiert und zum Erstellen neuer Artikel im plentymarkets System verwendet.</p>
</div>
<div class="paragraph">
<p>Sind deine Artikel bei eBay in mehreren Größen oder Farben erhältlich, werden auch alle Attribute und Varianten in plentymarkets angelegt.</p>
</div>
<div class="paragraph">
<p>Vielleicht noch ein weiterer kurzer Hinweis zum Import von Listings, wenn du in plentymarkets bereits über Varianten-Artikel verfügst: Wir empfehlen dir nämlich, dafür auch diese Option zu aktivieren, da so die Einträge den korrekten Varianten in plentymarkets genau zugeordnet werden können.</p>
</div>
<div class="paragraph">
<p>Solltest du deine Artikel im Bereich Fahrzeugteil und Zubehör listen, ist es übrigens sinnvoll, die Fahrzeugverwendungslisten zu deinen Listings mit zu importieren und am Artikel zu aktivieren.</p>
</div>
<div class="paragraph">
<p>In diesem Video hast du gelernt, wie du die Importeinstellungen konfigurierst und geeignete Optionen auswählst. Außerdem weißt du jetzt, dass du mit der Vorschaufunktion mögliche Fehler frühzeitig erkennen und beheben und den Import im Anschluss starten kannst.</p>
</div>
<div class="paragraph">
<p>Jetzt ist es an dir! Entdecke die Möglichkeiten, die dir der Listing-Import bietet. Spare viel Zeit bei der Anlage deiner Artikel durch den eBay-Listingimport.</p>
</div>
</div>
</div>
</main>