<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mit Layout-Vorlagen Listings individualisieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/listings/layout-vorlagen-importieren#video">Layout-Vorlagen importieren (0:45)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/layout-vorlagen-verknuepfen#video">Layout-Vorlagen mit Listings verknüpfen (1:27)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/281780836#at=87" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Wenn du dein fertiges Listing in die Welt hinausschickst, ist es natürlich auch so schon super vorbereitet, um dir massig Umsatz zu verschaffen.</p>
</div>
<div class="paragraph">
<p>Aber vielleicht möchtest du noch einen Schritt weiter gehen? Deinem Listing einen außergewöhnlichen Look verschaffen und dein eigenes Corporate Design auch auf eBay durchziehen?</p>
</div>
<div class="paragraph">
<p>Dann schick deine Listings in die Zauberkugel und verwandle sie wie du es möchtest - mit Layout-Vorlagen. Die bieten eine einfache Möglichkeit, deine Angebote auf eBay ansprechend und verkaufsfördernd darzustellen.</p>
</div>
<div class="paragraph">
<p>Woher bekommst du so etwas? Zum einen kannst du sie natürlich selbst erstellen, aber komfortabler ist es, wenn du machen lässt. Designagenturen sind eine perfekte Anlaufstelle oder falls du ein eBay-Einrichtungsangebot bei uns gebucht hast, konntest du dich bereits zwischen drei Templates entscheiden.</p>
</div>
<div class="paragraph">
<p>Hast du also eine ZIP-Datei vorliegen, geht es weiter in deinem plentymarkets System unter dem Punkt <strong>Listings</strong> und <strong>Layouts</strong>. Hier hast du die Möglichkeit, dein vorgefertigtes Layout zu importieren.</p>
</div>
<div class="paragraph">
<p>Später musst du es mit deinen Listings verknüpfen, also wähle hier einen eindeutigen Namen, damit du dann weißt, welches Layout zu wählen ist.</p>
</div>
<div class="paragraph">
<p>Datei hochladen und da ist es auch schon.</p>
</div>
<div class="paragraph">
<p>Die Vorschau ist hilfreich, um deine Vorlage zu überprüfen. Dafür musst du es an mindestens einem Listing hinterlegt haben und genau das ist jetzt der nächste Schritt. Wenn du die letzten Videos angeschaut hast, ahnst du auch sicher schon, auf welchen Wegen du zum Ziel kommst. Zum Einen kannst du es bei Anlage deines Listings im Reiter "Beschreibung und Layout" hinzufügen. Das geht ganz einfach über das Dropdown hier.</p>
</div>
<div class="paragraph">
<p>Beachte nur, dass ein ausgewähltes Layout eventuell alles überschreibt, was du hier in diesem Bereich schon designed hast.</p>
</div>
<div class="paragraph">
<p>Bei einem Listing ist das einfach, bei mehreren sparen dir allerdings die Gruppenfunktion und die Stapelverarbeitung einige Klicks.</p>
</div>
<div class="paragraph">
<p>Wenn deine Listings schon längst erstellt und auf eBay aktiv sind, ist das Vorgehen das Gleiche; allerdings musst du dann darauf achten, dass du danach die Beschreibung aktualisierst, weil aktive Listings nicht nochmals automatisch abgeglichen werden.</p>
</div>
<div class="paragraph">
<p>So, wenn du jetzt aber wirklich eher der Do-it-yourself-Typ bist, dann besteht wie gesagt auch die Möglichkeit, dass du dir selbst eine Vorlage erstellst oder eine vorhandene modifizierst. Voraussetzung dafür ist natürlich, dass dir das hier nicht spanisch vorkommt, sprich: Du benötigst HMTL- und CSS-Kenntnisse. Dann kannst du über diesen Button hier ein neues Template hinzufügen, beziehungsweise erstellen.</p>
</div>
<div class="paragraph">
<p>Was wo rein kommt, liest du am besten in unserem Handbuch nach.</p>
</div>
<div class="paragraph">
<p>Nicht unerwähnt lassen sollte man aber die Template-Variablen, die du über diesen Button in der oberen Leiste in dein Layout integrieren kannst. Durch diese Variablen greifst du auf bereits hinterlegte Angaben zurück und machst deine Vorlagen richtig schön dynamisch!</p>
</div>
<div class="paragraph">
<p>Zum Beispiel kannst du deine Artikelbeschreibung einbauen und musst diese dann nur noch an einer Stelle, direkt am Artikeldatensatz, pflegen. Außerdem kannst du - wenn du fertig bist - dein Layout exportieren. So kannst du es möglicherweise anderen zur Verfügung zu stellen.</p>
</div>
<div class="paragraph">
<p>Also: Layout-Vorlagen sind kein Hexenwerk, die Ergebnisse können aber dennoch magisch sein! Selbst gemacht oder von Agenturen designed - Layouts bringen mehr als Farbe in deine eBay-Angebote. Leg direkt los!</p>
</div>
</div>
</div>
</main>