<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Listings starten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dein eBay-Konto ist eingerichtet, es wird also Zeit, dass du deine Listings an den Start bringst. Wir zeigen dir, wie du deine Listings mit Hilfe des Verkaufsplaners automatisiert startest. Außerdem erklären wir, was der Endloslister für eine Funktion hat und wie du deine Listings löschst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/listings/listings-starten-teil-eins#video">Listing starten (0:07)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/listings-starten-verkaufsplaner#video">Verkaufsplaner nutzen (0:32)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/listings-starten-endloslister#video">Endloslister nutzen (2:43)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/listings-starten-beenden-loeschen#video">Listings beenden und löschen (3:09)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/272934518#at=32" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Auf die Plätze, feeertig, loooos!</p>
</div>
<div class="paragraph">
<p>Es ist Zeit, deine Artikel auf eBay zu listen.</p>
</div>
<div class="paragraph">
<p>Wenn du bereits ein Listing angelegt hast und dieses einsatzbereit ist, klicke auf dieses Icon, um das Listing händisch zu starten.</p>
</div>
<div class="paragraph">
<p>Entscheide zunächst, ob du dein Listing direkt oder zu einem späteren Zeitpunkt beginnen willst.</p>
</div>
<div class="paragraph">
<p>Startest du das Listing sofort, wird es in dieser Übersicht angezeigt.</p>
</div>
<div class="paragraph">
<p>Dagegen wird das Listing hier angezeigt, wenn du es für die Zukunft geplant hast.</p>
</div>
<div class="paragraph">
<p>Alles schön und gut. Du hast aber wahrscheinlich keine Zeit, jedes Listing manuell in die Startlöcher zu schicken.</p>
</div>
<div class="paragraph">
<p>Die Alternative ist der Verkaufsplaner, der dies automatisiert übernimmt.</p>
</div>
<div class="paragraph">
<p>Klicke ganz einfach auf das grüne Plus und stelle hier ein, wann plentymarkets deine Listings automatisch starten soll.</p>
</div>
<div class="paragraph">
<p>Beispielsweise möchtest du deine Listings an einem Montag, Mittwoch und Freitag um 9 Uhr oder 15 Uhr starten.</p>
</div>
<div class="paragraph">
<p>Anstatt bestimmten Wochentag festzulegen, kannst du aber auch einstellen, dass die Listings am ersten oder am 15. eines Monats gestartet werden.</p>
</div>
<div class="paragraph">
<p>Mit der Einstellung Laufzeit legst du dann fest wie lang das Listing verfügbar sein soll.</p>
</div>
<div class="paragraph">
<p>Du kannst die Laufzeit entweder hier einstellen oder du nutzt die Laufzeit, die Du im Tab Base eingestellt hast.</p>
</div>
<div class="paragraph">
<p>Wenn du hier übrigens eine bestimmte Laufzeit in Tagen wählst, wird diese für das Listing verwendet, auch wenn du im Tab Base eine andere Laufzeit hinterlegt hast.</p>
</div>
<div class="paragraph">
<p>Um zu vermeiden, dass alle Listings zeitgleich gestartet werden, kannst du die Einstellung "Verteilung" wählen um so deine Listings in verschiedenen Zeitintervallen zu starten.</p>
</div>
<div class="paragraph">
<p>Nehmen wir an, Du möchtest, dass 10 Listings, um 9 Uhr morgens gestartet werden.</p>
</div>
<div class="paragraph">
<p>Nutzt du hier die Standardeinstellung 0 Minuten, starten alle Listings um Punkt 9:00.</p>
</div>
<div class="paragraph">
<p>Wenn du aber 120 Minuten wählst, werden die 10 Einträge in gleichen Zeitabständen zwischen 9 und 11 Uhr gestartet. Alle 10 Einträge werden also auf 120 Minuten verteilt.</p>
</div>
<div class="paragraph">
<p>Abschließend gibst du dem Listing einen Namen, aktivierst es und speicherst die Einstellungen. Jetzt wo plentymarkets weiß, wann die Listings zu starten sind, öffnen wir dieses Menü, um festzulegen, welche Listings im Einzelenen gestartet werden sollen.</p>
</div>
<div class="paragraph">
<p>Wir verknüpfen also die Listings im Verkaufsplaner.</p>
</div>
<div class="paragraph">
<p>Zurück im Verkaufsplaner-Menü kannst du dann auch sehen, welche Listings bereits verknüpft sind.</p>
</div>
<div class="paragraph">
<p>Jetzt weißt du, wie du Listings an den Start bringst. Ich zeige dir noch, wie du deine Listings automatisch neu starten kannst.</p>
</div>
<div class="paragraph">
<p>Du nutzt dazu ganz einfach den Endlos-Lister und entscheidest nur, wie viele Market-Listings gleichzeitig aktiv sein dürfen.</p>
</div>
<div class="paragraph">
<p>Bedenke aber, dass der Endlos-Lister deine Listings nicht initial starten, sondern nur neu starten kann. Du musst also tätig werden und deine Listings mit aktiviertem Endlos-Lister starten.</p>
</div>
<div class="paragraph">
<p>Wie ein Listing neu gestartet werden kann ist jetzt klar. Schauen wir uns darüber hinaus noch an, wie man Listings beendet und löscht. Offen gesagt kann das nämlich manchmal ein paar Probleme mit sich bringen.</p>
</div>
<div class="paragraph">
<p>Zuerst solltest du wissen, dass das Löschen von Listings aus plentymarkets nicht gleichbedeutend mit dem Beenden der Listings auf der Plattform ist.</p>
</div>
<div class="paragraph">
<p>Du willst ein Listing stoppen, dann solltest du nicht einfach auf Löschen klicken.</p>
</div>
<div class="paragraph">
<p>Beende stattdessen das Listing durch einen Klick auf dieses Icon.</p>
</div>
<div class="paragraph">
<p>Das Nächste, dass es zu bedenken gibt, ist, dass ein Listing erst beenden kannst, wenn du die Option Endloser-Lister deaktiviert hast.</p>
</div>
<div class="paragraph">
<p>Klar, die Aufgabe des Endlos-Listers ist es ja, abgelaufene Listings neu zu starten.</p>
</div>
<div class="paragraph">
<p>Auch wenn es zunächst etwas kompliziert erscheint, solltest du dich in jedem Fall an die korrekte Reihenfolge halten.</p>
</div>
<div class="paragraph">
<p>Schritt 1: Deaktiviere den Endlos-Lister.</p>
</div>
<div class="paragraph">
<p>Schritt 2: Beende das Listing auf eBay.</p>
</div>
<div class="paragraph">
<p>Schritt 3: Lösche das Listing aus plentymarkets.</p>
</div>
<div class="paragraph">
<p>In diesem Video hast du gelernt, wie du Listings manuell oder automatisch mit dem Verkaufsplaner startest.</p>
</div>
<div class="paragraph">
<p>Du weißt jetzt auch, wie du die den Endlos-Lister verwendest, um abgelaufene Listings automatisch neu zu starten.</p>
</div>
<div class="paragraph">
<p>Außerdem haben wir dir erklärt, wie du Listings, die du nicht mehr benötigst, beendest und löschst.</p>
</div>
</div>
</div>
</main>