<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Listings bearbeiten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du hast alles für den Verkaufsstart auf eBay vorbereitet? Wie du mit wenigen Klicks dafür sorgst, dass deine Artikel auf eBay online gehen, zeigt dir dieses Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/listings/listings-bearbeiten-basics#video">Basics einstellen (0:34)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/listings-bearbeiten-beschreibung-layout#video">Beschreibung und Layout bearbeiten (2:00)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/listings-bearbeiten-ebay-einstellungen#video">eBay-Einstellungen (2:43)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/202032373#at=120" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Nach deiner kleinen Stärkung bist du nun bereit, um das Puzzle "eBay" zu vollenden! Stretch deine Finger, wir legen direkt los mit den letzten Teilen!</p>
</div>
<div class="paragraph">
<p>Listings hat einen eigenen Punkt in der plentymarkets Navigation, damit du alles schnell im Blick hast. Hier findest du natürlich dein bereits erstelltes Listing, das du in 3 Tabs - Base, Beschreibung und Layout, Marktplatz - bearbeiten musst, bevor es gestartet wird. Base legt nahe, dass du auch hier beginnen solltest.</p>
</div>
<div class="paragraph">
<p>Stell dir vor, du sitzt vor einem leeren Blatt Papier und bastelst grob, wie dein Listing aussehen soll. Du fängst mit den Basics an, also wieviel der Artikel kostet, wie lange er online sein soll und wie er zum Kunden kommt. Diese Basics stellst du in diesem Tab ein.</p>
</div>
<div class="paragraph">
<p>Dieser obere Bereich bildet nochmal die Einstellungen aus dem letzten Video ab, in dem wir dein Listing erstellt haben.</p>
</div>
<div class="paragraph">
<p>Wenn du mehrere Konten hast, wählst du das korrekte hier im Dropdown aus.</p>
</div>
<div class="paragraph">
<p>Wie lange soll dein Listing laufen, soll es nach Ablauf direkt neu eingestellt werden und wieviele Artikel sollen denn überhaupt maximal auf eBay angeboten werden?</p>
</div>
<div class="paragraph">
<p>Das alles sind natürlich individuelle Einstellungen, die du dir sicher schon überlegt hast.</p>
</div>
<div class="paragraph">
<p>Wähle also im Dropdown aus, wie lange das Listing laufen soll, bzw. kannst du bei Festpreisen auch ganz einfach sagen: Das Angebot soll bis auf Widerruf gelten!</p>
</div>
<div class="paragraph">
<p>Bei Auktionen kann es sich auch anbieten, den Endloslister zu nutzen, sodass nach Ablauf das Angebot wieder eingestellt wird.</p>
</div>
<div class="paragraph">
<p>Unter Maximal verkaufbare Menge gibst du an, wieviele Artikel angeboten werden sollen. Good to know: Die Bestandsautomatik, die du in den Grundeinstellungen aktivieren kannst, greift bei den Bestandsabhängigkeiten "unbeschränkt mit Abgleich" und "beschränkt ohne Reservierung" auf genau diese Angabe hier zurück.</p>
</div>
<div class="paragraph">
<p>Die Mehrwertsteuer ist eine Pflichtangabe, wird allerdings nicht von deinem Preis abgezogen, sondern nur am Listing angezeigt.</p>
</div>
<div class="paragraph">
<p>Und wieder können wir ein Stück vom Gesamtmotiv erkennen: Ein Versandprofil, das du aus den Rahmenbedingungen erstellt hast, musst du jetzt auch verknüpfen.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns jetzt an, wie wir diese Angaben etwas hübscher machen können, indem wir noch etwas an der Formatierung rumschrauben.</p>
</div>
<div class="paragraph">
<p>Der Name des Artikels und Beschreibung sind schon von deinem Artikeldatensatz übernommen worden. Du kannst das allerdings auch nochmals ändern, wenn du magst.</p>
</div>
<div class="paragraph">
<p>So richtig schön wird dein Angebot, wenn du zum Beispiel eine Layout-Vorlage verwendest. Designagenturen sind hier eine sehr gute Anlaufstelle oder du lässt selbst deiner Kreativität freien Lauf und hinterlegst deine eigene Vorlage. Dabei musst du nur darauf achten, dass alles, was du in deiner Vorlage hinterlegst, Vorrang vor diesen Einstellungen hier hat. Wenn du in der Vorlage beispielsweise schon eine Beschreibung hinterlegt hast, brauchst du hier keine mehr eintragen.</p>
</div>
<div class="paragraph">
<p>Das Listing ist aufgehübscht! Jetzt musst du noch die marktplatzspezifischen Einstellungen machen und hast es auch schon fast geschafft!</p>
</div>
<div class="paragraph">
<p>Alle Angaben, die du hier machst, gelten für eBay und können sich je nach Kategorie auch immer etwas unterscheiden.</p>
</div>
<div class="paragraph">
<p>Du kannst zuerst maximal zwei Kategorien angeben, in denen dein Artikel erscheinen soll.</p>
</div>
<div class="paragraph">
<p>Je nach dem, welche Kategorie du auswählst, unterscheidet sich die Zustandsangabe ein bisschen, ist aber meistens ein Pflichtfeld.</p>
</div>
<div class="paragraph">
<p>Die weiteren Einstellungen sind sehr individuell. So kannst du beispielsweise Preisvorschläge akzeptieren, die jeweiligen Mindest- und Maximalpreise festlegen, ob du eine der kostenpflichtigen Galerien oder die Funktion "Premiumangebote" in Anspruch nimmst.</p>
</div>
<div class="paragraph">
<p>Du verschickst ratzfatz und nutzt eBay Plus? Wähle Ja oder Nein oder beziehe dich auf die Einstellungen, die du bei der Schnittstellenkonfiguration getätigt hast.</p>
</div>
<div class="paragraph">
<p>Wichtig sind bei manchen Kategorien auch eBay-Merkmale. Damit übergibst du zusätzliche Infos zum Artikel bzw. zum Listing. Bei der Quietscheente könnte ich also noch angeben, welche Farbe sie hat und wo sie hergestellt wird.</p>
</div>
<div class="paragraph">
<p>Wenn du all deine individuellen eBay-Einstellungen gemacht hast, lässt du dein Listing über diesen Link hier oben prüfen. Dabei wird quasi abgefragt, ob alles korrekt eingestellt wurde.</p>
</div>
<div class="paragraph">
<p>Wenn irgendetwas fehlt, bekommst du eine recht eindeutige Fehlermeldung und kannst alles nachtragen. Im besten Fall zeigt dir plenty aber einen formschönen grünen Haken und sagt: Ready for action!</p>
</div>
<div class="paragraph">
<p>Grüner Haken da? Fantastisch! Dann fehlt dir nur noch ein Teil, das dein Puzzle komplett macht!</p>
</div>
<div class="paragraph">
<p>Setze den Haken im Tab Base bei "Freischalten", speichere alles ab und starte dein Listing über den Play-Button!</p>
</div>
<div class="paragraph">
<p>Und los geht’s! Dein Produkt ist auf eBay! Sobald du fit in eBay Basics bist, wirst du wahrscheinlich neugierig auf die erweiterten Einstellungen. Wir sind für dich da! Schau dir einfach den Rest der Tutorials an. Frohes Verkaufen auf eBay!</p>
</div>
</div>
</div>
</main>