<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Listings anlegen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Schnittstelle ist live? Das nächste Puzzlestück sind deine Artikel, die du konfigurierst und für die du schließlich ein Listing anlegst. Wie, erklärt dir dieses Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/listings/listings-anlegen-artikel-vorbereiten#video">Artikel vorbereiten (0:25)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/listings-anlegen-verkaufspreis#video">Verkaufspreis freischalten (0:41)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/listings-anlegen-listing-erstellen#video">Listing anlegen (2:28)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/202030438#at=25" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Schnittstelle und Rahmenbedingungen - dein Puzzle nimmt langsam Gestalt an.</p>
</div>
<div class="paragraph">
<p>Wie passen diese Stücke nun ins große Ganze? Ärmel hochgekrempelt, wir füllen mit deinen Artikeln auf, damit du endlich den Auktionshammer schwingen kannst!</p>
</div>
<div class="paragraph">
<p>Bevor wir deinen Artikel deinen Kunden präsentieren, sortieren wir uns noch schnell die Puzzleteile und sorgen dafür, dass auch alles zusammenpasst. Sobald dein Artikel perfekt aussieht, schicken wir ihn raus in die eBay-Welt.</p>
</div>
<div class="paragraph">
<p>Als erstes stell vorerst sicher, dass jede Variante, die du listen möchtest, auch bereit ist, sprich: Achte auf den Aktivhaken - und zwar bei jeder Variante!</p>
</div>
<div class="paragraph">
<p>Vorab schauen wir uns aber noch ein kleines Teilchen an, das keine Eselsohren haben sollte: Den Verkaufspreis! Verknüpfe den am Artikel hinterlegten Preis mit eBay oder - etwas übersichtlicher - lege dir einen komplett neuen Preis an, der nur für eBay gelten soll.</p>
</div>
<div class="paragraph">
<p>Schaue also unter Artikel » Verkaufspreise, ob du einen vorhandenen Preis hast, den du für eBay verwenden möchtest oder lege dir über den Button "Neu" einen eigenen eBay-Preis an.</p>
</div>
<div class="paragraph">
<p>Egal wie du vorgehst, wichtig ist, dass du später unter dem Punkt "Herkunft" eBay als Plattform freischaltest und die passenden eBay-Konten auswählst.</p>
</div>
<div class="paragraph">
<p>Bevor wir das Menü wieder verlassen, schauen wir uns aber noch zwei weitere Einstellungen an. Zuerst einmal der Preistyp! Für einen eBay-Preis gilt als Grundregel, dass du keine dieser Checkboxen aktiviert hast. Zumindest wenn du ganz am Anfang stehst.</p>
</div>
<div class="paragraph">
<p>Wenn du dann doch irgendwann mal eine UVP übertragen möchtest, ist es wichtig, dass du eben zumindest noch einen weiteren Preis überträgst, der keine UVP ist.</p>
</div>
<div class="paragraph">
<p>Wenn du mit mehreren Mandanten arbeitest, stell hier sicher, dass du auch dann immer den Standardmandanten aktiviert hast.</p>
</div>
<div class="paragraph">
<p>Und da wir nun den Preis so richtig aufgestyled haben, schauen wir uns wieder deinen Artikel an!</p>
</div>
<div class="paragraph">
<p>Der sieht auch schon richtig gut aus und wir haben nicht mehr viel Arbeit vor uns.</p>
</div>
<div class="paragraph">
<p>Checke kurz ab, ob jede Variante auch den gleichen Inhalt hat. Wenn du beispielsweise etwas wie Weingläser verkaufst, dann darfst du keine Varianten mit 3, 6 oder 9 Gläsern als Inhalt erstellen. Sonst kannst du später nicht alle Varianten zusammen in einem Listing verkaufen.</p>
</div>
<div class="paragraph">
<p>Im Tab Verfügbarkeit wählst du im Dropdown die passende eBay-Plattform aus.</p>
</div>
<div class="paragraph">
<p>Vergiss nicht, deine Einstellungen zu speichern! Und schon ist dein Artikel fertig zusammengelegt und wir können das Motiv mit deinem Listing vervollständigen.</p>
</div>
<div class="paragraph">
<p>Dein Listing erstellst du über dieses Icon in der oberen Leiste. Hier wählst du jetzt eBay als Marktplatz aus. Wenn du das Listing für ein anderes Land erstellen möchtest, kannst du das auch schon hier einstellen.</p>
</div>
<div class="paragraph">
<p>Jetzt legst du die Art deines Angebots fest. Entweder du machst es mit einer Auktion so richtig spannend oder - für den entspannten Online-Shopper - du bietest einen Festpreis an.</p>
</div>
<div class="paragraph">
<p>Shop-Artikel ist übrigens nur für Hood-Listings relevant - lass dich daher nicht verwirren, wenn du einen eBay-Shop hast.</p>
</div>
<div class="paragraph">
<p>Du kannst noch eintragen, wieviele Artikel dein Kunde beim Kauf erhält. Diese Eingabe ist allerdings nicht abhängig von deinem Bestand.</p>
</div>
<div class="paragraph">
<p>Also zum Beispiel verkaufst du eine Packung mit 10 Bleistiften oder einen Sechser-Träger Cola.</p>
</div>
<div class="paragraph">
<p>Super wichtig: Die Bestandsabhängigkeit! Mach dir als erstes Gedanken, ob du von deinem Bestand unabhängig, also unbeschränkt, oder eben abhängig, bzw. beschränkt, listen möchtest.</p>
</div>
<div class="paragraph">
<p>Einfach gesagt: Willst du Überverkäufe zulassen oder nicht?</p>
</div>
<div class="paragraph">
<p>Aufgepasst! Wenn du unbeschränkt mit Abgleich oder beschränkt ohne Reservierung wählst, musst du unbedingt die Bestandsautomatik in den Grundeinstellungen aktivieren. Hier fügt sich also das Puzzle zu einem Motiv zusammen, denn jetzt kommt wieder das Video zur Schnittstelle ins Spiel.</p>
</div>
<div class="paragraph">
<p>Erinnerst du dich an den stündlichen Preisabgleich für Festpreisangebote, den wir bei der Schnittstellenkonfiguration eingestellt haben? Damit das auch läuft, setze den Haken in dieser Checkbox, sodass dein Preis am Listing der gleiche wie am Artikel ist. Der Vorteil: Du musst den Preis dann auch nur noch am Artikel ändern.</p>
</div>
<div class="paragraph">
<p>Was als Artikelnummer übertragen werden sollte, hängt von der eBay-Plattform und der Kategorie ab. Üblich in Deutschland ist beispielsweise der EAN Code.</p>
</div>
<div class="paragraph">
<p>Deinen Inhalt, also das, was dein Kunde dann letztendlich in der Hand hält, findest du hier auch wieder. Hätten deine Varianten beispielsweise nicht den gleichen Inhalt, müsstest du dich hier entscheiden, was du anbieten möchtest.</p>
</div>
<div class="paragraph">
<p>So, das ging richtig schnell! Klicke auf Speichern, um dich direkt zum nächsten Puzzleteil zu katapultieren.</p>
</div>
<div class="paragraph">
<p>Aber jetzt ist erstmal Zeit für Tee oder Kaffee, damit du später konzentriert an deinem Listing weiterpuzzlen kannst! Bis später!</p>
</div>
</div>
</div>
</main>