<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verschiedene Listings gleichzeitig bearbeiten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du hast viele Listings, die überarbeitet werden müssen? Kein Problem! Verwende einfach die Gruppenfunktion, die Stapelverarbeitung oder die Listing-Vorlagen, um Einstellungen für mehrere Listings gleichzeitig zu bearbeiten.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/listings/mehrere-listings-bearbeiten-teil-eins#video">Bestimmte Listings bearbeiten (0:25)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/mehrere-listings-bearbeiten-teil-zwei#video">Listings mit bestimmten Kriterien bearbeiten (0:50)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/mehrere-listings-bearbeiten-teil-drei#video">Listing-Vorlagen nutzen, um Voreinstellungen zu vermeiden (1:18)</a></p>
<p class="tableblock"><a href="/videos/ebay/listings/mehrere-listings-bearbeiten-teil-vier#video">Fallbeispiel: Listings für neue Artikel anlegen (3:52)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/277274842#at=50" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Bis hierher hast du vor allem gelernt, wie du ein Listing erstellen und bearbeiten kannst. Das ist zwar ganz nett, aber in deinem normalen Betrieb wird es sicher mehrere Listings geben, die auch mal gleichzeitig bearbeitet werden müssen.</p>
</div>
<div class="paragraph">
<p>Kein Problem! plentymarkets bietet dir die Möglichkeit, deine Einstellungen auf mehrere Listings gleichzeitig anzuwenden.</p>
</div>
<div class="paragraph">
<p>Im Prinzip stehen dir dafür sogar mehrere Optionen zur Verfügung. Wenn du also in plentymarkets bereits mehrere Listings erstellt hast und nun 2-3 spezifische Listings ändern möchtest, empfehle ich dir, die Gruppenfunktion zu nutzen.</p>
</div>
<div class="paragraph">
<p>Die Gruppenfunktion stellt dabei eine Möglichkeit dar, plentymarkets klarzumachen, dass beispielsweise für diese drei Listings diese Einstellungen geändert werden sollen.</p>
</div>
<div class="paragraph">
<p>Es gibt noch eine andere Option, die du nutzen kannst, wenn du in plentymarkets bereits eine ganze Menge Listings angelegt hast und nur die ändern möchtest, die ein bestimmtes Kriterium erfüllen: die Stapelverarbeitung. Du kannst damit beispielsweise einstellen, dass du nur Listings mit einem bestimmten Flag, für eine bestimmte Plattform, oder die sich in einer bestimmten Kategorie befinden, bearbeiten möchtest.</p>
</div>
<div class="paragraph">
<p>Auch hier bestimmst du, dass für alle Listings, die dieses Kriterium erfüllen, eine andere Einstellung verwendet wird.</p>
</div>
<div class="paragraph">
<p>Zu guter Letzt möchte ich dir noch die Listing-Vorlage zeigen. Die Idee dahinter ist relativ simpel. Anstatt die Einstellungen bei der Anlage für jedes Listing einzeln zu bearbeiten, kannst du eine Listing-Vorlage erstellen, die alle Einstellungen im Listing automatisch setzt. Die Vorlagen sind also vergleichbar mit Ausstechförmchen.</p>
</div>
<div class="paragraph">
<p>Somit kannst du eine Form anlegen und diese immer dann nutzen, wenn du bestimmte Einstellungen für deine Listings hinterlegen willst. Und du kannst die grundlegende Form deiner Listings sogar noch nachträglich verfeinern, um sie so einzigartig zu machen. In plentymarkets hinterlegst du einfach die Einstellungen, die von der Vorlage gesetzt werden sollen.</p>
</div>
<div class="paragraph">
<p>Auf den ersten Blick sieht es hier aus, als enthalte dieses Menü viele Einstellungen, die du noch nie gesehen hast. Aber der Schein trügt! Wenn du genauer hinsiehst, wirst du feststellen, dass diese Einstellungen dieselben sind, die du beim Erstellen eines neuen Listings vorgenommen hast und diese Einstellungen sind dieselben, die du im Tab Base deines Listings genutzt hast.</p>
</div>
<div class="paragraph">
<p>Jetzt nur noch ein kleiner Tipp - solltest du mal eine bestimmte Einstellung suchen, kannst du ganz einfach deine Browser-Suche nutzen.</p>
</div>
<div class="paragraph">
<p>Sobald du alle Einstellungen vorgenommen hast, die du in deiner Vorlage verwenden möchtest, klicke ganz einfach das grüne Plus, gib deiner Listing-Vorlage einen Namen und speichere die Einstellungen.</p>
</div>
<div class="paragraph">
<p>Hier ist es dann auch ganz einfach, eine weitere Vorlage mit anderen Einstellungen anzulegen.</p>
</div>
<div class="paragraph">
<p>Sobald du deine Vorlage eingerichtet hast, bist du bereit diese auf deine Listings anzuwenden.</p>
</div>
<div class="paragraph">
<p>Klicke ganz einfach den Multi-Channel Tab, um deine Listing-Vorlage mit einem bestimmten Artikel zu verknüpfen. Du hast sicherlich auch bemerkt, dass eBay-Kategorie-IDs direkt am Artikel gespeichert werden können. Wenn du also möchtest, kannst du Vorlagen erstellen, die für alle Kategorien greifen oder hier eine bestimmte Kategorie-ID angeben.</p>
</div>
<div class="paragraph">
<p>Wenn du ein neues Listing anlegst, kannst du dann hier deine Vorlage auswählen.</p>
</div>
<div class="paragraph">
<p>Du kannst aber die Vorlage auch nutzen, um bereits vorhandene Listings zu bearbeiten. So wendest du sie für ein einzelnes Listing an. Um sie dagegen auf mehrere Listings gleichzeitig anzuwenden, gehst du so vor.</p>
</div>
<div class="paragraph">
<p>Letztlich kannst du deine Vorlage auch auf verschiedene Listings anwenden, die bestimmte Filterkriterien erfüllen.</p>
</div>
<div class="paragraph">
<p>Jetzt, da du das Prinzip verstanden hast, schauen wir uns das Ganze in einem kleinen Praxisbeispiel an. Angenommen, du hast gerade einige neue Produkte zu deinem Portfolio hinzugefügt und möchtest jetzt eBay-Listings aus diesen Artikeln erstellen.</p>
</div>
<div class="paragraph">
<p>Wenn du noch keine Listing-Vorlage erstellt hast, ist das dein erster Halt. Hier hinterlegst du die Einstellungen. Anschließend speicherst du die Vorlage.</p>
</div>
<div class="paragraph">
<p>Der zweite Halt ist die Artikelübersicht. Hier findest du all deine neuen Artikel, für die ein Listing erstellt werden soll. Hier klickst du dann auf die Artikel-Gruppenfunktion und wendest die Vorlage auf deine Artikel an.</p>
</div>
<div class="paragraph">
<p>Zu guter letzt öffnest du erneut die Gruppenfunktion und erstellst Listings für deine Artikel. Wenn du jetzt die Listing-Übersicht öffnest, siehst du all deine neu erstellten Listings.</p>
</div>
<div class="paragraph">
<p>In diesem Video hast du gelernt, mehrere Listings gleichzeitig zu ändern. Du hast gesehen, wie du die Stapelverarbeitung und die Gruppenfunktion einsetzt und den Unterschied zwischen den beiden verstanden. Außerdem haben wir dir gezeigt, wie Du mit den Listing-Vorlagen eine Art Ausstechform erstellst, mit denen du deinen Listings voreingestellte Konfigurationen geben kannst. Mit einem Beispiel konnten wir dir dann noch zeigen, wie einfach du mehrere Listings für eine Reihe neuer Produkte anlegen kannst.</p>
</div>
</div>
</div>
</main>