<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Let plentymarkets help you fulfil orders and ship packages</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">By configuring a few settings in advance, you can turn plentymarkets into a well-oiled machine that helps you automatically fulfil orders and ship packages. This video takes you on a quick tour through the plentymarkets backend and shows you a few basic order settings, which you can customise further to meet the individual needs of your business.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/basics/fulfil-orders-ship-packages-documents#video">Creating documents like invoices and order confirmations (0:54)</a></p>
<p class="tableblock"><a href="/en/videos/basics/fulfil-orders-ship-packages-send-documents#video">Sending these documents to customers (1:17)</a></p>
<p class="tableblock"><a href="/en/videos/basics/fulfil-orders-ship-packages-payment-shipping-providers#video">Adding payment and shipping providers (1:45)</a></p>
<p class="tableblock"><a href="/en/videos/basics/fulfil-orders-ship-packages-automate-tasks#video">Automating routine fulfilment tasks (2:27)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/257108768" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>You already know where you want to sell. And you certainly know what you want to sell. But plentymarkets is so much more! When we say that you can control everything from one, central platform, we mean absolutely everything!</p>
</div>
<div class="paragraph">
<p>Even all the little day-to-day tasks that go into shipping and fulfilling orders. Every time a customer buys one of your products, information about the customer’s order is imported into your system. So here you can see an overview of all the orders that were generated in your online store, on popular marketplaces or in your brick and mortar store.</p>
</div>
<div class="paragraph">
<p>By configuring a few settings in advance, you can turn plentymarkets into a well-oiled machine that helps you automatically fulfill orders and ship packages. This video takes you on a quick tour through the plentymarkets back end and shows you a few basic order settings, which you can customise further to meet the individual needs of your business.</p>
</div>
<div class="paragraph">
<p>Let’s start by configuring the documents that you send to customers - for example, invoices, delivery notes, order confirmation emails and so on. plentymarkets provides default text for each of these documents, which you can modify as needed. But what about your corporate design? Simply upload a PDF file to add your company logo or contact information.</p>
</div>
<div class="paragraph">
<p>Once you’ve set up these documents, you’ll want to think about how they’re sent to customers. In other words, you’ll want to create email templates that include these documents as attachments.</p>
</div>
<div class="paragraph">
<p>plentymarkets can easily be instructed to send these emails on your behalf whenever specific events occur. Want to save an email signature that’s displayed at the bottom of each email? No problem! Just navigate to this menu here and save whatever data you use for your signature.</p>
</div>
<div class="paragraph">
<p>As I mentioned earlier, all of your orders are imported into plentymarkets. And if you think about it, an order is really just an exchange of services. Your customer agrees to pay a certain amount of money. And you agree to ship the item.</p>
</div>
<div class="paragraph">
<p>plentymarkets comes equipped with interfaces to a wide range of payment and shipping services, which will be happy to help you get the job done.</p>
</div>
<div class="paragraph">
<p>But it pays to spend some time thinking about these settings in advance. Remeber, payment and shipping make up a big part of your customer service and they go hand in hand with everything from the checkout and delivery process all the way to returns. So far, so good. Customers receive documents and emails. They pay for their items and you coordinate the delivery. But it would be a waste of time to manually send emails and make note of the payment or shipping status by hand. This is where automation comes into play! plentymarkets includes tools to help you automate all of the little day-to-day tasks that go into shipping and fulfilling orders.</p>
</div>
<div class="paragraph">
<p>For example, you can configure your plentymarkets system so that invoices are automatically generated and sent to customers, shipping labels are automatically printed, and your warehouse technician is automatically notified when items are ready for packing. plentymarkets helps you stay up to date by keeping a visual record of all the changes. So go ahead and start customising the order settings in plentymarkets. Before you know it, you’ll have a well-oiled machine that helps you automatically fulfill orders and ship packages to customers.</p>
</div>
</div>
</div>
</main>