<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Was ist die DSGVO?</span></a></li>
<li><a href="#200"><span>2.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#300"><span>3.</span><span> Link zum Download</span></a></li>
<li><a href="#400"><span>4.</span><span> DSGVO Best Practices</span></a></li>
<li><a href="#500"><span>5.</span><span> Vertragsanlage zur Auftragsverarbeitung i.S.d. Art. 28 Abs. 3 Datenschutzgrundverordnung (DSGVO)</span></a></li>
<li><a href="#600"><span>6.</span><span> Änderungshistorie für Kontaktdaten</span></a></li>
<li><a href="#700"><span>7.</span><span> Übertragung von E-Mail-Adresse und Telefonnummer des Kunden an Versanddienstleister</span></a></li>
<li><a href="#800"><span>8.</span><span> Alle Daten zu einem Kontakt herunterladen</span></a></li>
<li><a href="#900"><span>9.</span><span> Daten automatisch bereinigen</span></a></li>
<li><a href="#1000"><span>10.</span><span> Daten manuell anonymisieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DSGVO</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite stellen wir dir einen Auszug des Verzeichnisses der Verarbeitungstätigkeiten gemäß der DSGVO zur Verfügung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Was ist die DSGVO?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Am 25. Mai 2018 trat die <a href="https://www.bfdi.bund.de/DE/Datenschutz/datenschutz-node.html" target="_blank" rel="noopener">Datenschutzgrundverordnung</a> offiziell und europaweit geltend in Kraft und löste somit nationale Regelungen ab.</p>
</div>
<div class="paragraph">
<p>Die DSGVO gilt für alle Unternehmen, die in der EU tätig sind und personenbezogene Daten wie Namen, Bankdaten und Adressdaten verarbeiten. Daher müssen Unternehmen ihre Prozesse, bei denen personenbezogene Daten verarbeitet werden, DSGVO-konform gestalten und dokumentieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beachte, dass in diesem Verzeichnis lediglich die verarbeitenden Tätigkeiten innerhalb der Software plentymarkets beschrieben sind. Die Auflistung und Beschreibung weiterer verarbeitenden Tätigkeiten, die in deinem Unternehmen Anwendung finden (wie z.B. Lohnbuchhaltung oder Verfahren innerhalb einer anderen eingesetzten Software), obliegen dem eigenen Verantwortungsbereich des Händlers.</p>
</div>
<div class="paragraph">
<p>plentymarkets möchte ausdrücklich darauf hinweisen, dass dieses Verzeichnis keinen Anspruch auf Vollständigkeit und Richtigkeit erhebt und als Ergänzung zur eigenen Verarbeitungsverzeichnisses verwendet werden kann.</p>
</div>
<div class="paragraph">
<p>Bitte beachte, dass plentymarkets Systeme erst <strong>ab plentymarkets</strong> DSGVO-konform sind. Das plentymarkets Webshop-Plugin <strong>Ceres</strong> wird mit der Einbindung der Checkbox zur Einwilligung der Datenübertragung an Versanddienstleister <strong>ab Version 2.9.0</strong> DSGVO-konform sein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Link zum Download</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lade als Ergänzung deines eigenen Verzeichnisses der Verarbeitungstätigkeiten <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentymarkets_Rechtliches/VVT_fuer_Kunden.pdf">das Dokument herunter</a> (<a href="https://github.com/plentymarkets/template-processing-directory/releases" target="_blank" rel="noopener">ältere Versionen</a>). Dieses Dokument beschreibt lediglich die verarbeitenden Tätigkeiten innerhalb der Software plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. DSGVO Best Practices</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://knowledge.plentymarkets.com/basics/rechtliches/best-practices-callisto-dsgvo#best-practices-callisto-kontaktformular" target="_blank" rel="noopener">Kontaktformular DSGVO-konform in Callisto anpassen</a></p>
</div>
<div class="paragraph">
<p><a href="https://knowledge.plentymarkets.com/basics/rechtliches/best-practices-callisto-dsgvo#best-practices-callisto-newsletter-anmeldung" target="_blank" rel="noopener">Newsletter-Anmeldung auf der Startseite anpassen</a></p>
</div>
<div class="paragraph">
<p><a href="https://knowledge.plentymarkets.com/basics/rechtliches/best-practices-callisto-dsgvo#best-practices-callisto-einwilligung-checkbox">Checkbox zur Einwilligung der Datenübertragung an Versanddienstleister in Callisto einbinden</a></p>
</div>
<div class="paragraph">
<p><a href="https://knowledge.plentymarkets.com/basics/rechtliches/best-practices-callisto-dsgvo#best-practices-google-analytics-opt-out" target="_blank" rel="noopener">Google Analytics Opt-out Cookie setzen</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Vertragsanlage zur Auftragsverarbeitung i.S.d. Art. 28 Abs. 3 Datenschutzgrundverordnung (DSGVO)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Am Donnerstag den 24. Mai 2018 wird ein Update von plentymarkets veröffentlicht, um den Vertragsabschluss zur Auftragsverarbeitung i.S.d. Art. 28 Abs. 3 der DSGVO digital abwickeln zu können.</p>
</div>
<div class="paragraph">
<p>Der Vertragsabschluss erfolgt digital im Bereich <strong>Verträge</strong>. Den Menüpunkt findest du als Admin-Benutzer im Terra-Backend von plentymarkets. Unter dem ersten Menüpunkt (<strong>plentymarkets Logo (Start)</strong>) befindet sich dann der neue Eintrag <strong>Verträge</strong>.
Klicke in diesem Bereich den Vertrag "Vertragsanlage zur Auftragsverarbeitung (DS-GVO) Mai 2018" an. Auf der Folgeseite kannst du das Vertragsdokument herunterladen, indem du auf das Icon in der Spalte <strong>Dokument</strong> klickst. Sende darauf bitte das Formular ab, dadurch ist der Vertrag geschlossen. Das Schöne an diesem Verfahren ist, dass der Vertragsschluss auf dem Postweg damit entfällt. Das spart uns und dir Zeit und Kosten.</p>
</div>
<div class="paragraph">
<p>Sobald der Vertrag geschlossen wurde, kannst du das Vertragsdokument inklusive des Namens des Unterzeichners und des Datums der Vertragsunterzeichnung herunterladen. Öffne dazu erneut den Bereich <strong>Verträge</strong> und klicke auf <strong>Vertragsdokument signiert herunterladen</strong>.</p>
</div>
<div class="paragraph">
<p>Bitte lege dieses Dokument aus Gründen der Dokumentation in deinen Unterlagen ab.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen hierzu findest du im <a href="https://forum.plentymarkets.com/t/vertragsanlage-zur-auftragsverarbeitung-i-s-d-art-28-abs-3-datenschutz-grundverordnung-dsgvo/483954" target="_blank" rel="noopener">im Forum</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Änderungshistorie für Kontaktdaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » Historie</strong> kannst du über die neue Änderungshistorie sehen, welcher Benutzer – beispielsweise ein Mitarbeiter oder der Kunde selbst über den Webshop – wann welche Daten geändert hat. Geändert werden können Daten wie Adressdaten, Kontaktoptionen, Adressoptionen, Firmendaten und Bankdaten.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du im <a href="https://forum.plentymarkets.com/t/dsgvo-aenderungshistorie-fuer-kontaktdaten-integriert/486705" target="_blank" rel="noopener">Forum</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Übertragung von E-Mail-Adresse und Telefonnummer des Kunden an Versanddienstleister</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bitte beachte, dass plentymarkets als Software laut DSGVO den Grundsatz von <em>Privacy by Default</em> befolgen muss und wir daher pauschal die Einstellung setzen, dass diese Daten (E-Mail und Telefonnummer) des Kunden nicht an die Versanddienstleister übertragen werden. Das bedeutet, du kannst selbst wählen, ob die Daten deiner Kunden übertragen werden oder ob du einen alternativen Wert übertragen möchtest. Natürlich kannst du auch unsere voreingestellte Auswahl so belassen.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen hierzu findest du im <a href="https://forum.plentymarkets.com/t/dsgvo-uebertragung-von-e-mail-adresse-und-telefonnummer-an-versanddienstleister/486536" target="_blank" rel="noopener">Forum</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Alle Daten zu einem Kontakt herunterladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>CRM » Schnellsuche</strong> ist es möglich, alle zu einem Kontakt gespeicherten Daten und Dokumente per Klick auf eine Schaltfläche als ZIP-Datei herunterzuladen. Die ZIP-Datei enthält eine HTML-Datei, die du in deinem Browser öffnest und über die du auch die gespeicherten Dokumente herunterladen kannst. Außerdem ist es möglich, die Daten in einem maschinenlesbaren Format zu speichern.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Daten automatisch bereinigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im neuen Menü <strong>Einrichtung » Einstellungen » Daten » Bereinigung</strong> kannst du festlegen, nach welchem Zeitraum bestimmte Datensätze automatisch aus deinem plentymarkets System gelöscht werden. Sukzessive werden weitere Bereiche in diesem Menü ergänzt.</p>
</div>
<div class="paragraph">
<p>Du kannst auch Tickets aus deinem Ticketsystem automatisch löschen. Diese Einstellung nimmst du jedoch nicht im Menü <strong>Einrichtung » Einstellungen » Daten » Bereinigung</strong> vor, sondern über den Aktionsmanager im Ticketsystem im Menü <strong>Einrichtung » CRM » Ticketsystem » Aktionen</strong>. Weitere Informationen über das automatische Löschen von Tickets findest du auf der Handbuchseite <a href="/crm/ticketsystem-nutzen#3000">Ticketsystem nutzen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">10. Daten manuell anonymisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>CRM » Schnellsuche</strong> ist es möglich, mit einem Klick auf <strong>Datensatz anonymisieren</strong> die Daten zu einem Kontakt zu entfernen bzw. diese so unkenntlich zu machen, dass kein Bezug zu der Person hergestellt werden kann.</p>
</div>
<div class="paragraph">
<p><strong><em>Ausnahme:</em></strong> Wenn Adressdaten einem Auftrag zugeordnet sind, werden diese Daten aus steuerrechtlichen Gründen nicht entfernt oder unkenntlich gemacht. Die Verknüpfung zum Kontakt wird jedoch entfernt.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten#1707">Kontakte verwalten</a>.</p>
</div>
</div>
</div>
</main>