<div class="ff01_pagenav">

    <h2 id="liveshopping_von_bis" >Liveshopping</h2>

</div>

<table width="100%" border="0" cellspacing="0" cellpadding="3" class="border marginbottom"><tr><td style="width:40%;">

    <table width="100%" border="0" cellspacing="0" cellpadding="3">

        <tr>

            <td colspan="2" style="padding:10px;"><strong>$Name[1]</strong>

            </td>

        </tr>

        <tr>

            <td rowspan="1" style="padding-left:10px; height:250px" width="60%">$MiddleSizeImage[1]</td>

            <td style="padding-left:10px;" valign="top">

                <table width="200" border="0" cellspacing="0" cellpadding="0">

                    <tr>

                        <td id="clock_clock" width="36">&nbsp;

                        </td>

                        <td style="padding-left:10px">

                            Angebot läuft noch<br /><span  id="ldate" style="font-size:20px; font-weight:bold;"></span>

                        </td>

                    </tr>

                </table><br /><br />

                <div>statt <span style="text-decoration: line-through;">$LiveShoppingPriceOriginal $Currency</span>

                <div><span class="Price_single_art">nur $LiveShoppingPrice</span> <span class="Price_single_art">$Currency</span></div>

                <div class="small">inkl. ges. Mwst. 19%</div>

                <div class="small" style="margin-bottom:10px;"><a href="{% Link_ShippingCosts() %}">zzgl. Versandkosten</a></div>

                {% if $Weight > 0 %}

                  <div>Versandgewicht: $Weight g

                  </div>

                {% endif %}

                <div>$FormOpenOrder$AttributeSelect

                    <input src="/layout/farbfinal01/images/btn_basket.png" title="Kaufen" alt="Kaufen" type="image" style="padding-top:15px" >

      $FormCloseOrder

                </div>

                </div>

            </td>

        </tr>

        <tr>

            <td style="padding-left:10px; width:40%;"><b>Artikelbeschreibung:</b><br /><br />$DescriptionShort<br /><br />

                <label onclick="if(document.getElementById('liveshopping_description').style.display=='none'){ document.getElementById('liveshopping_description').style.display='block'; } else {    document.getElementById('liveshopping_description').style.display='none'; }"> <b>weitere Informationen...</b>

                </label><br />

                <div id="liveshopping_description" style="display:none;">$Description</div><br />    

            </td>

            <td style="width:40%; width:40%; padding-left:10px;" valign="top"> Noch $LiveShoppingPercentRemaining Prozent verfügbar!

                <table width="150px" height="12px" cellspacing="0">

                    <tr>

                        <td style="background-image:url(/images/icons/liveshopping/balken_links.jpg); padding-left:6px; height:7px; width=7px";>

                        </td>

                        <td style="background-image:url(/images/icons/liveshopping/balken_mitte.jpg); height:7px; width=7px;"$LiveShoppingPercentRemaining%>

                      </td>

                <td style="background-image:url(/images/icons/liveshopping/balken_gruen_rechts.jpg); padding-left:4px; height:7px;" width="5"></td>

                <td style="background-image:url(/images/icons/liveshopping/balken_grau.jpg); height:7px;" width="$LiveShoppingPercentSold%"></td>

                <td style="background-image:url(/images/icons/liveshopping/balken_rechts.jpg); padding-left:4px; height:7px;" width="5"></td>

    </tr>

        </table>

      <br />

      <br />

      {% if $LiveShoppingQuantityRemaining<=0 %} <b>Live-Shopping derzeit nicht aktiv oder Aktionsbestand ausverkauft!</b><br />

      {% endif %} </td>

  </tr>

</table></td>



    </tr>

</table>





<script language="JavaScript" type="text/javascript">



  function tickLiveShoppingTimer() {

    

    var currenttime=new Date();

    

    if(checkIfCurrentTimeIsInPeriod('$LiveShoppingStartTime','$LiveShoppingEndTime')){

    

      var eventdate = getDateObjectFromUTC("$LiveShoppingEndTime");

      var milliseconds_until_event=Math.floor((eventdate.getTime()-currenttime.getTime()));

      var seconds_until_event=milliseconds_until_event/1000;



      days = Math.floor(seconds_until_event/(60*60*24));

      hours = Math.floor(seconds_until_event/(60*60)) - (days * 24);

      minutes = Math.floor(seconds_until_event/(60)) - (days*24*60+hours*60);

      seconds = seconds_until_event - (days*24*60*60+hours*60*60+minutes*60);

  

      //ggf. führende Nullen anfügen

      var s_minutes = (minutes < 10) ? '0' + minutes : minutes ;

      seconds = Math.floor(seconds);

      var s_seconds = (seconds < 10) ? '0' + seconds : seconds ;

  

      if(document.getElementById('ldate') && document.getElementById('clock_clock')){

        document.getElementById('ldate').innerHTML = (days>0?days+"d ":"")+hours+'h '+s_minutes+':'+s_seconds;

        document.getElementById('clock_clock').style.backgroundImage = 'url(/images/icons/liveshopping/clock.jpg)';

      }

  

      window.setTimeout("tickLiveShoppingTimer()", 1000);



    } else {

      if(document.getElementById('ldate') && document.getElementById('clock_clock')){

        document.getElementById('ldate').innerHTML = '';

        document.getElementById('clock_clock').style.backgroundImage = '';

        window.setTimeout("tickLiveShoppingTimer()", 1000);

      }

    }

  }



  function getLocalDateTimeStringFromUTC(strDateTime) {

    

    var DateTimeArray = strDateTime.split(" ");

    

    var DateArray = DateTimeArray[0].split("-");

    var strYear = DateArray[0];

    var strMonth = DateArray[1];

    var strDay = DateArray[2];



    var TimeArray = DateTimeArray[1].split(":");

    var strHour = TimeArray[0];

    var strMinutes = TimeArray[1];

    var strSeconds = TimeArray[2];



    var eventtime = new Date();

    eventtime.setUTCSeconds(strSeconds);

    eventtime.setUTCMinutes(strMinutes);

    eventtime.setUTCHours(strHour);

    eventtime.setUTCDate(strDay);

    eventtime.setUTCMonth(strMonth-1);

    eventtime.setUTCFullYear(strYear);



    var strDateLocal = ((eventtime.getDate()<10)?'0'+eventtime.getDate():eventtime.getDate())  +"."+  ((eventtime.getMonth()+1<10)?'0'+(eventtime.getMonth()+1):eventtime.getMonth()+1) +"."+ eventtime.getFullYear();

    var strTimeLocal = ((eventtime.getHours() < 10) ? '0' + eventtime.getHours() : eventtime.getHours()) +':'+ ((eventtime.getMinutes() < 10) ? '0' + eventtime.getMinutes() : eventtime.getMinutes());

    return strDateLocal+" "+strTimeLocal;

    //return eventtime.toLocaleString(); //always uses long date format :( it is although buggy in firefox.. even more buggy with firefox+mac os leopard 

  }

  

  function getDateObjectFromUTC(strDateTime) {

    

    var DateTimeArray = strDateTime.split(" ");

    

    var DateArray = DateTimeArray[0].split("-");

    var strYear = DateArray[0];

    var strMonth = DateArray[1];

    var strDay = DateArray[2];



    var TimeArray = DateTimeArray[1].split(":");

    var strHour = TimeArray[0];

    var strMinutes = TimeArray[1];

    var strSeconds = TimeArray[2];



    var eventtime = new Date();

    eventtime.setUTCSeconds(strSeconds);

    eventtime.setUTCMinutes(strMinutes);

    eventtime.setUTCHours(strHour);

    eventtime.setUTCDate(strDay);

    eventtime.setUTCMonth(strMonth-1);

    eventtime.setUTCFullYear(strYear);



    return eventtime;

  }



  function checkIfCurrentTimeIsInPeriod(strStartDateTime, strEndDateTime){



    var StartDateTimeArray = strStartDateTime.split(" ");

    

    var StartDateArray = StartDateTimeArray[0].split("-");

    var strYear = StartDateArray[0];

    var strMonth = StartDateArray[1];

    var strDay = StartDateArray[2];



    var StartTimeArray = StartDateTimeArray[1].split(":");

    var strHour = StartTimeArray[0];

    var strMinutes = StartTimeArray[1];

    var strSeconds = StartTimeArray[2];



    var starttime = new Date();

    starttime.setUTCSeconds(strSeconds);

    starttime.setUTCMinutes(strMinutes);

    starttime.setUTCHours(strHour);

    starttime.setUTCDate(strDay);

    starttime.setUTCMonth(strMonth-1);

    starttime.setUTCFullYear(strYear);

    

    var EndDateTimeArray = strEndDateTime.split(" ");

    

    var EndDateArray = EndDateTimeArray[0].split("-");

    var strYear = EndDateArray[0];

    var strMonth = EndDateArray[1];

    var strDay = EndDateArray[2];



    var EndTimeArray = EndDateTimeArray[1].split(":");

    var strHour = EndTimeArray[0];

    var strMinutes = EndTimeArray[1];

    var strSeconds = EndTimeArray[2];



    var endtime = new Date();

    endtime.setUTCSeconds(strSeconds);

    endtime.setUTCMinutes(strMinutes);

    endtime.setUTCHours(strHour);

    endtime.setUTCDate(strDay);

    endtime.setUTCMonth(strMonth-1);

    endtime.setUTCFullYear(strYear);



    var currenttime=new Date();

    

    var startDateSeconds = Date.UTC(starttime.getFullYear(), starttime.getMonth() , starttime.getDate(), starttime.getHours(), starttime.getMinutes(), starttime.getSeconds());

    var endDateSeconds = Date.UTC(endtime.getFullYear(), endtime.getMonth() , endtime.getDate(), endtime.getHours(), endtime.getMinutes(), endtime.getSeconds());

    var currentDateSeconds = Date.UTC(currenttime.getFullYear(), currenttime.getMonth() , currenttime.getDate(), currenttime.getHours(), currenttime.getMinutes(), currenttime.getSeconds());



    if(currentDateSeconds>=startDateSeconds && currentDateSeconds<endDateSeconds){

      return true;

    } else {

      return false;

    }

  }



  document.getElementById('liveshopping_von_bis').innerHTML='Live Shopping Angebot '+getLocalDateTimeStringFromUTC('$LiveShoppingStartTime')+' bis '+getLocalDateTimeStringFromUTC('$LiveShoppingEndTime');

  tickLiveShoppingTimer();





    </script>



