<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 10. November 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 04. November 2021 bis zum 10. November 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Multi-Order, kann nun unter <strong>Einrichten » Aufträge » Auftragstypen » Multi-Order</strong> die externe Auftragsnummer in den Artikeltext übernommen werden.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/multi-order-artikeltext-externe-auftragsnummer.png" alt="Option externe Auftragsnummer im Menü Multi-Order" width="640"></span></p>
</div>
</li>
<li>
<p>Dem Gutschein vom Gutscheintyp <strong>Voucher</strong> wurde eine neue Option für <strong>Nur vorhandene verwenden</strong> hinzugefügt. Bei dieser Option werden nur die vorhandenen Gutscheincodes verwendet, ohne neue Codes zu generieren.</p>
</li>
</ul>
</div>
<h3 id="_auftragsanlage_beta" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Im ersten Schritt der neuen Auftragsanlage (beta) wird der <strong>Rabatt in %</strong> jetzt aus der Kundenklasse übernommen, falls dieser dort als <strong>Standardrabatt für manuelle Aufträge</strong> hinterlegt ist.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im EmailBuilder wurde die Variable <strong>Hausnummer</strong> in den folgenden Bereichen hinzugefügt:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Auftrag / Lieferadresse</strong></p>
</li>
<li>
<p><strong>Auftrag / Rechnungsadresse</strong></p>
</li>
<li>
<p><strong>Kontakt / Lieferadresse</strong></p>
</li>
<li>
<p><strong>Kontakt / Rechnungsadresse</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Im EmailBuilder wurde die Variable <strong>Name des Auftragstyps</strong> im Bereich <strong>Auftrag</strong> hinzugefügt.</p>
</li>
<li>
<p>Im EmailBuilder wurde die Variable <strong>Artikeltyp</strong> im Bereich <strong>Auftragspositionen (nur für Artikellisten-Widget)</strong> hinzugefügt. Diese Variable gibt den Artikeltypen (Lagerware, Produktionsware, Colli oder Bestellware), der im Artikel im Tab <strong>Global</strong> gespeichert ist, aus.</p>
</li>
</ul>
</div>
<h3 id="_rest_api" class="discrete">REST-API</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde ein neuer Filter <code>packageNumber</code> zu der Route <code>GET /rest/orders</code> hinzugefügt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein Gutschein keinen Einfluss auf die Versandkosten hat, dann wird nun bei der Ermittlung der Versandkosten der Gutschein in die Auftragssumme mit eingerechnet.</p>
</li>
</ul>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Die Variable <strong>Auftragstyp</strong>, die die ID des Auftragstyps ausgibt, wurde umbenannt in <strong>Auftragstyp-ID</strong>.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Bei FBA-Aufträgen, bei denen Amazon als Käufer der Ware auftritt, konnte es dazu kommen, dass mehrere Aufträge die gleiche Rechnungsadresse hatten, aber die Umsatzsteuer-ID im VCS-Bericht variierte. Dies führte dazu, dass die Umsatzsteuer-ID an der Adresse immer wieder wechselte und wenn die Aufträge in mehreren VCS-Berichten vorkamen, auch immer wieder die Rechnung storniert, die Umsatzsteuer-ID geändert und eine neue Rechnung erzeugt wurde.</p>
<div class="paragraph">
<p>Dies wurde nun korrigiert, indem die Umsatzsteuer-ID an dem vorhandenen Adressdatensatz nicht mehr geändert wird, wenn Amazon der Rechnungsempfänger ist. Stattdessen wird erst geprüft, ob es bereits den gleichen Adressdatensatz mit der richten Umsatzsteuer-ID gibt und wenn ja, dann wird dieser mit dem Auftrag verknüpft. Sollte es noch keinen passenden Adressdatensatz geben, wird ein neuer erzeugt und mit dem Auftrag verknüpft.</p>
</div>
</li>
</ul>
</div>
<h3 id="_änderungshistorie" class="discrete">Änderungshistorie</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Loggen der Änderungen von Aufträgen wurden alle Daten in der Änderungshistorie geloggt, wenn nur <strong>Auftrag</strong> aktiviert war und alle andere Felder deaktiviert waren. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Aufträgen in Fremdwährung konnte es dazu kommen das der bezahlte Betrag von Systemwährung in Fremdwährung erneut umgerechnet wurde, wodurch es passieren konnte das der Auftrag zu einem späteren Zeitpunkt nur noch teil- oder überbezahlt war. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_auftragsanlase_beta" class="discrete">Auftragsanlase (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Die am Kontakt hinterlegte standard Zahlungsart wurde nicht in allen Fällen korrekt in die Auftragsanlage (Beta) übernommen, wodurch diese nicht vorausgewählt wurde. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_crm_3" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein Kontakt mehr als eine primäre Rechnungsadresse gesetzt hatte, wurden die Aufträge des Handelsvertreters zweimal in der Statistik angezeigt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Vor einiger Zeit haben wir den Editor zum Text-Widget hinzugefügt. Das Problem hierbei war, dass der Editor im Text-Widget nicht verfügbar war in E-Mail-Vorlagen, die erstellt wurden, bevor der Editor hinzugefügt wurden. Dieses Verhalten wurde behoben. Der Editor im Text-Widget ist nun allen E-Mail-Vorlagen verfügbar.</p>
</li>
</ul>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn die Einstellungen des Nummernkreises von Stornobelegen in verschiedenen Mandanten gleich sind, und die selbe Dokumentnummer für Stornobelege in zwei (oder mehr) Mandanten existiert, so wurden die Daten zur stornierten Rechnung und zum Stornobeleg für eine der Rechnungen falsch ausgegeben. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Export sehr vieler Varianten an OTTO Market konnte es zu langen Laufzeiten im nächtlichen Cron kommen. Dadurch wurden dieser oder folgende Prozesse im Cron abgebrochen. Dieses Problem wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Installieren bzw. Aktualisieren von Plugins ist es nicht mehr notwendig, das Backend neu zu laden, damit das Plugin im Plugin-Set angezeigt wird.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte in bestimmten Fällen vereinzelt dazu kommen, dass unter <strong>Daten » Log</strong> die folgenden Fehlermeldungen nacheinander für den Identifikator <strong>Zalando</strong>, den Referenztyp <strong>action</strong> und den Referenzwert <strong>StockUpdate</strong> zu sehen waren:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><code>Datei X existiert nicht.</code></p>
</li>
<li>
<p><code>Job-ID für Bestandsaktualisierungsbefehl fehlt.</code></p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Hierzu kam es, wenn zwar Varianten gefunden wurden, aber alle als nicht relevant eingestuft wurden. z.B. wenn eine Variante bereits mit Bestand 0 übertragen wurde, dann wird diese nicht nochmal mit dem Bestand 0 übertragen. Es gab also keinerlei negativen Einfluss durch diesen Fehler außer eine verwirrende Fehlermeldung. Diese wird mit diesem Update auch nicht mehr geschrieben bzw. das Verhalten, das dafür sorgte beseitigt.</p>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Für die folgenden UIs wurde die neue Suchkomponente für Filter hinzugefügt:</p>
<div class="ulist">
<ul>
<li>
<p>Bestellungen</p>
</li>
<li>
<p>Abonnement</p>
</li>
<li>
<p>Zahlungsverkehr</p>
</li>
</ul>
</div>
</li>
<li>
<p>Wenn eine neue Nachbestellung erstellt wird, erscheint in der Infobox mit dem Wert der Nachbestellung ein Warnhinweis, wenn der Mindestbestellwert für den Lieferanten noch nicht erreicht wurde.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/nachbestellung-warnung-mindestbestellwert.png" alt="Nachbestellung mit Warnhinweis in einem Tooltip" width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_auftragsanlage_beta_2" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Für die folgenden UIs wurde die neue Suchkomponente für Filter hinzugefügt:</p>
<div class="ulist">
<ul>
<li>
<p>Auftragserstellung (beta)</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_crm_4" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein neuer Kontakt erstellt wird, wird ab sofort nicht nur der Vorname und der Nachname aus den Adressdetails in die Kontaktdetails übernommen, sondern auch die Anrede.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Im Auftragsexport über Katalog wurde der Filter <strong>Hauptaufträge ausschließen, wenn Lieferaufträge existieren</strong> hinzugefügt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Auswahl des Barcodes für <code>variation.barcode</code> hat gefehlt. Dies wurde nun nachgereicht.</p>
</li>
</ul>
</div>
<h3 id="_zahlungen" class="discrete">Zahlungen</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Teilen von Zahlungen wurde der Skonto nicht beachtet.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dotsliderwidget_54878" target="_blank" rel="noopener">Dot Slider - Präsentieren Sie mehrere Angebote auf Ihren Bannern</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand Services</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.7.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/etsy_4689" target="_blank" rel="noopener">Etsy</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/galaxus_4788" target="_blank" rel="noopener">Galaxus.ch</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.12.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googleanalytics_4725" target="_blank" rel="noopener">GoogleAnalytics</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.10.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wwqrcodebankinformation_55018" target="_blank" rel="noopener">WW-Qr-Code-Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>