<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 11. November 2021 bis zum 17. November 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Für die folgenden UIs wurde die neue Suchkomponente für Filter hinzugefügt:</p>
<div class="ulist">
<ul>
<li>
<p>Bestellungen</p>
</li>
<li>
<p>Abonnement</p>
</li>
<li>
<p>Zahlungsverkehr</p>
</li>
</ul>
</div>
</li>
<li>
<p>Wenn eine neue Nachbestellung erstellt wird, erscheint in der Infobox mit dem Wert der Nachbestellung ein Warnhinweis, wenn der Mindestbestellwert für den Lieferanten noch nicht erreicht wurde.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/nachbestellung-warnung-mindestbestellwert.png" alt="Nachbestellung mit Warnhinweis in einem Tooltip" width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_auftragsanlage_beta" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Für die folgenden UIs wurde die neue Suchkomponente für Filter hinzugefügt:</p>
<div class="ulist">
<ul>
<li>
<p>Auftragserstellung (beta)</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein neuer Kontakt erstellt wird, wird ab sofort nicht nur der Vorname und der Nachname aus den Adressdetails in die Kontaktdetails übernommen, sondern auch die Anrede.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Im Auftragsexport über Katalog wurde der Filter <strong>Hauptaufträge ausschließen, wenn Lieferaufträge existieren</strong> hinzugefügt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_kaufland_de" class="discrete">Kaufland.de</h3>
<div class="ulist">
<ul>
<li>
<p>Die Spalte <strong>energy_label</strong> wurde zu <strong>energy_label_2021</strong> umbenannt, da die alte Spaltenbezeichnung ignoriert wird.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Falls noch nicht erledigt, sollten Händler, die diese Spalte verwenden, auch sicherstellen, dass das erstellte Merkmal für die Spalte <strong>energy_efficiency_class</strong> zu <strong>energy_efficiency_class_2021</strong> umbenannt wurde, da beide Spalten für einen erfolgreichen Upload der Produktdaten benötigt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 12.11.2021 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/vj5E3kjv4CwXdtv0iXthgKgkuW0.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Übermittlung der Versandbestätigung wurde der Code des Transportservices im XML-Attribut <code>CarrierName</code> statt dem XML-Attribut <code>CarrierCode</code> übermittelt. Bei den regulären Transportservices führte dies nicht direkt zu einem Fehler, aber bei dem Transportservice <strong>Andere</strong> schon, weil sowohl der Code als auch die spezifische Bezeichnung des Transportservices benötigt werden. Es wurde nun so angepasst, dass generell der Code des Transportservices im XML-Attribut <code>CarrierCode</code> übermittelt wird, und im Falle von <strong>Andere</strong> die spezifische Bezeichnung im XML-Attribut <code>CarrierName</code>.</p>
<div class="paragraph">
<p>Weitere Information dazu, wo der Transportservice für Amazon eingestellt wird, findest du auf der Handbuchseite <a href="/amazon/amazon-einrichten#6900">Amazon einrichten</a>.</p>
</div>
</li>
<li>
<p>Beim manuellen Upload der Rechnung unter <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Berichte » Tab: Rechnungen</strong> hochladen kam es zu einem Fehler bei der Verwendung der Auftrags-ID. Die Aufträge wurden dann nicht gefunden. Dieses Verhalten ist jetzt behoben.</p>
</li>
<li>
<p>Wenn der Transportservice <strong>Österreichische Post</strong> in der Amazon Versandeinstellung gewählt war, kam es aufgrund des falschen <code>CarrierCodes</code> zu einem Fehler bei der Versandmeldung. Der <code>CarrierCode</code> wurde korrigiert.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Einstellung am Artikel zur Beschränkung von Aktionsgutscheinen wurde bei der Anlage von Retouren nicht beachtet.</p>
</li>
</ul>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Die Variable <code>$TicketHistory</code> in E-Mail-Vorlagen gab nicht den gesamten Ticketverlauf aus, sondern nur die letzte Nachricht. Dieses Verhalten wurde jetzt behoben.</p>
</li>
<li>
<p>Wenn ein Twig-Syntaxfehler in einem Code-Widget vorhanden war, erhielt der Benutzer keine Warnung und die Vorlage konnte nicht mehr verwendet oder bearbeitet werden. Dieses Verhalten wurde jetzt behoben. Nachdem du den Editor des Code-Widgets geschlossen hast und ein Fehler erkannt wurde, wird eine Meldung im Widget angezeigt:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/email-builder-twig-validierung-warnung.png" alt="Warnung! In diesem Widget ist ein Fehler aufgetreten. Wenn du die Vorlage speicherst" width="640" height="wird sie unbrauchbar."></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Auswahl des Barcodes für <code>variation.barcode</code> hat gefehlt. Dies wurde nun nachgereicht.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Aktualisieren der Zugangsdaten eines Git-Repositorys konnte es vorkommen, dass der angegebene Branch fälschlicherweise nicht akzeptiert wurde. Dieses Problem wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_zahlungen" class="discrete">Zahlungen</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Teilen von Zahlungen wurde der Skonto nicht beachtet.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Bestandsabgleich über die API werden Bestände nur noch übertragen, wenn es zu einer Bestandsänderung kam. Dadurch konnte es vor allem bei der initialen Anlage eines Angebots kommen, dass das Angebot nicht live gehen konnte, weil der Bestand fehlte.</p>
<div class="paragraph">
<p>Dies wurde nun korrigiert, sodass der Bestand für jede Variante, welche aktuell eine SKU für Zalando hat und noch kein Bestand übermittelt wurde, unabhängig von der letzten Bestandsänderung ein Update stattfindet. Selbst, wenn das zugehörige Produkt noch nicht von Zalando freigegeben ist, wird der Bestand dann für diese EAN von Zalando vorgemerkt. Dadurch sollte sich die Anzahl geblockter Artikel durch den fehlenden Bestand drastisch reduzieren.</p>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_crm_3" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im EmailBuilder wurde die Variable <strong>Anzahl der Pakete</strong> in der Kategorie <strong>Auftrag</strong> hinzugefügt.</p>
</li>
<li>
<p>Im Bild-Widget des EmailBuilder wurde eine neue Einstellung hinzugefügt: <strong>Bild-Link</strong>. Wenn ein Wert ausgefüllt wird, wird dieser Wert als Link für das Bild gesetzt.<br>
<strong><em>Wichtig:</em></strong> Bitte setze den Link inklusive https (Beispiel: <a href="https://www.plentymarkets.com/" class="bare">https://www.plentymarkets.com/</a>).</p>
</li>
<li>
<p>Im EmailBuilder wurde ein neues Einstellungsfeld hinzugefügt, mit dem die Breite der E-Mail-Vorlage auf einen bestimmten Wert begrenzt werden kann. Wenn der Wert festgelegt wird, wird die maximale Breite der E-Mail-Vorlage auf diesen Wert begrenzt. Wenn der Wert nicht festgelegt wurde, hat die Vorlage eine Breite von 100%. Der Standardwert des Felds ist 1200px. Dieser Wert wurde automatisch auf alle vorhandenen Vorlagen gesetzt.</p>
</li>
<li>
<p>Im EmailBuilder wurde die Variable <strong>Grundpreis</strong> in der Kategorie <strong>Auftrag / Auftragspositionen (nur für Artikellisten-Widget)</strong> hinzugefügt.</p>
</li>
<li>
<p>Im EmailBuilder wurde im Bereich <strong>Einstellungen</strong> das Feld <strong>Benutzerdefiniertes Styling</strong> hinzugefügt. In diesem Feld kannst du das CSS-Styling deiner Vorlagen anpassen. Zum Beispiel kannst du hier die Hintergrundfarbe (<code>background-color:</code>) oder die Schriftfarbe (<strong>color:</strong>) gefolgt von dem jeweiligen <a href="https://html-color-codes.info/webfarben_hexcodes/" target="_blank" rel="noopener">HTML-Farbencode</a> anpassen.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_plugins_2" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn in einem Plugin-Set keine Plugins installiert sind, werden jetzt mehrere Einstiegspunkte zum Installieren von Plugins angezeigt. Du kannst entweder die Installationsansicht oder den Integrationen-Assistenten öffnen. Das bedeutet, dass du nach dem Erstellen eines neuen Plugin-Sets den Integrationen-Assistent mit einem Klick aufrufen kannst.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn der Mandant eines Auftrages geändert wird, ohne zugleich das Lager zu ändern, wird der Standard-Standort als neuer Standort genommen, da das Lager des Auftrages nicht korrekt berücksichtigt wird. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_crm_4" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>In der Firmenoberfläche auf der Detailseite und der neuen Firmenseite waren in der Standardansicht nicht alle Felder sichtbar. Dieses Verhalten wurde jetzt behoben, alle verfügbaren Felder sind in der Standardansicht enthalten.</p>
</li>
<li>
<p>Beim Versand der E-Mail-Vorlage zum Setzen eines neuen Passworts über die Gruppenfunktion im Menü <strong>CRM » Kontakte</strong> hat der Link zum Zurücksetzen des Passworts nicht funktioniert. Dieses Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Stornieren oder Zurücksetzen eines Versandlabels wurde im selben Prozess kein neues Versandlabel erzeugt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/eaporderloadbalancer_6958" target="_blank" rel="noopener">Aktion für gleichmäßiges Verteilen von Aufträgen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/b2bshop_6574" target="_blank" rel="noopener">B2B Shop</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/deepl_5900" target="_blank" rel="noopener">DeepL - Für professionelle Übersetzungen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Da die Version 2.0.0 eine andere Datenbankstruktur hat, sind 1.x und 2.x nicht kompatibel. Um mögliche Datenverluste zu vermeiden <em>entfernen Sie bitte vor dem Update alle Artikel aus der Kasse oder den Statusseiten</em>. Wenn ein Artikel noch nicht übersetzt ist, warten Sie auf die Übersetzung des Artikels und entfernen Sie übersetzte Artikel aus dem Plugin.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dotsliderwidget_54878" target="_blank" rel="noopener">Dot Slider - Präsentieren Sie mehrere Angebote auf Ihren Bannern</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippinguk_5121" target="_blank" rel="noopener">DPD Shipping UK</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/clearvat_6925" target="_blank" rel="noopener">eClear – Umsatzsteuer-Automatisierung für E-Commerce in der EU</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entferne das Feld <code>WarehouseLocation.propertiesName</code> aus dem FormatDesigner Typ Warehouse, falls er vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/gaxsysindependent_6802" target="_blank" rel="noopener">gax-Independent</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.42</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/klarna_6731" target="_blank" rel="noopener">Klarna</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.4.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.54</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent Toolbox</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.6.11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">plentyShop LTS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.42</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Themes und eigenes CSS müssen hinsichtlich <code>&lt;span&gt;</code>-Elementen überprüft werden. Wir haben alle <code>&lt;span&gt;</code>-Elemente, die Block-Level-Elemente enthielten, entweder entfernt oder in <code>&lt;div&gt;</code>-Elemente umgewandelt, um invalides HTML zu verhindern. Überprüfe, ob du in deinen Selektoren auf die betroffenen <code>&lt;span&gt;</code>-Elemente zugreifst und passe deine Stilanweisungen gegebenenfalls an. Folgende Dateien sind betroffen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/2880/files#diff-969624803dfeb696a58e16de0d95c285a458ec83a615026882d9b1e65386935b">resources/views/Customer/Components/AddressSelect/AddressSelect.twig</a></p>
</li>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/3086/files#diff-49e9a28ec33181e8fd3720d39345363b8b0614f2bf29ceb66b403ef22c18bd4d">resources/views/Checkout/OrderDetails.twig</a></p>
</li>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/3086/files#diff-1f3a9b0d80f77b92422277ac44697c3af03430626f4bbc8afc281c5b66ec0b1f">resources/views/MyAccount/Components/BankDataSelect.twig</a></p>
</li>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/3086/files#diff-b7d6f7d1aeff7c602684070225c40c435e3de1caed65ca3df51fdd554a994e33">resources/views/Widgets/Contact/ContactDetailsWidget.twig</a></p>
</li>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/3086/files#diff-82affb09026a21fd94995e057ae7214f6751cf84dfed718216f4760865567c33">resources/views/Widgets/OrderConfirmation/OrderDataWidget.twig</a></p>
</li>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/3086/files#diff-2cee15b4b8add92d304d2f4cbbb5a5891a5752c533b564f1e1d152982c1e62d0">resources/views/Widgets/OrderConfirmation/PurchasedItemsWidget.twig</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopbuilder-content-widgets_55026" target="_blank" rel="noopener">ShopBuilder-Inhalts-Widgets</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.10.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/trackingmanager_54743" target="_blank" rel="noopener">TrackingManager</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/zettle_54918" target="_blank" rel="noopener">Zettle by PayPal</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>