<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 18. November 2021 bis zum 24. November 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im EmailBuilder wurde die Variable <strong>Anzahl der Pakete</strong> in der Kategorie <strong>Auftrag</strong> hinzugefügt.</p>
</li>
<li>
<p>Im Bild-Widget des EmailBuilder wurde eine neue Einstellung hinzugefügt: <strong>Bild-Link</strong>. Wenn ein Wert ausgefüllt wird, wird dieser Wert als Link für das Bild gesetzt.<br>
<strong><em>Wichtig:</em></strong> Bitte setze den Link inklusive https (Beispiel: <a href="https://www.plentymarkets.com/" class="bare">https://www.plentymarkets.com/</a>).</p>
</li>
<li>
<p>Im EmailBuilder wurde ein neues Einstellungsfeld hinzugefügt, mit dem die Breite der E-Mail-Vorlage auf einen bestimmten Wert begrenzt werden kann. Wenn der Wert festgelegt wird, wird die maximale Breite der E-Mail-Vorlage auf diesen Wert begrenzt. Wenn der Wert nicht festgelegt wurde, hat die Vorlage eine Breite von 100%. Der Standardwert des Felds ist 1200px. Dieser Wert wurde automatisch auf alle vorhandenen Vorlagen gesetzt.</p>
</li>
<li>
<p>Im EmailBuilder wurde die Variable <strong>Grundpreis</strong> in der Kategorie <strong>Auftrag / Auftragspositionen (nur für Artikellisten-Widget)</strong> hinzugefügt.</p>
</li>
<li>
<p>Im EmailBuilder wurde im Bereich <strong>Einstellungen</strong> das Feld <strong>Benutzerdefiniertes Styling</strong> hinzugefügt. In diesem Feld kannst du das CSS-Styling deiner Vorlagen anpassen. Zum Beispiel kannst du hier die Hintergrundfarbe (<code>background-color:</code>) oder die Schriftfarbe (<strong>color:</strong>) gefolgt von dem jeweiligen <a href="https://html-color-codes.info/webfarben_hexcodes/" target="_blank" rel="noopener">HTML-Farbencode</a> anpassen.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_cdiscount" class="discrete">Cdiscount</h3>
<div class="ulist">
<ul>
<li>
<p>Cdiscount plant es zu ermöglichen auch auf anderen Marktplätzen über Cdiscount zu listen. Da wir aber noch keinen Zeitplan für eine Implementierung auf unserer Seite haben, wurde der Auftragsimport so angepasst, dass Aufträge, die nicht von Cdiscount selbst kommen, nicht importiert werden. Damit wollen wir Schwierigkeiten in der Auftragsverarbeitung in unserem System vermeiden, solange die Aufträge nicht unterscheidbar importiert werden können.</p>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>eBay OAuth2, das bisher über das eBay OAuth2-Plugin in plentymarkets eingebunden wurde, ist nun fest im plentymarkets System verankert. Das bedeutet, dass du kein Plugin mehr installieren musst, wenn du eBay-Konten für OAuth2 freischalten willst. Stattdessen öffnest du nun das Menü Einrichtung » Märkte » eBay » Konten » OAuth2, um eBay-Konten für OAuth2 zu authentifizieren. Weitere Informationen dazu findest du im <a href="https://knowledge.plentymarkets.com/maerkte/ebay/ebay-einrichten#oauth2" target="_blank" rel="noopener">plentymarkets Handbuch</a>.</p>
<div class="ulist">
<ul>
<li>
<p>Aufgrund einer Umstellung bei eBay wird das Importieren, Erstellen, Bearbeiten und Löschen von eBay-Rahmenbedingungen bald nicht mehr ohne OAuth2 funktionieren. Authentifiziere deine eBay-Konten deshalb bereits jetzt im Menü Einrichtung » Märkte » eBay » Konten » OAuth2 für OAuth2, wenn noch nicht geschehen.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_kaufland_de" class="discrete">Kaufland.de</h3>
<div class="ulist">
<ul>
<li>
<p>Die verknüpfbaren Kategorien von real.de unter Einrichtunge » Märkte » real.de » Kategorieverknüpfung wurden aktualisiert.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn in einem Plugin-Set keine Plugins installiert sind, werden jetzt mehrere Einstiegspunkte zum Installieren von Plugins angezeigt. Du kannst entweder die Installationsansicht oder den Integrationen-Assistenten öffnen. Das bedeutet, dass du nach dem Erstellen eines neuen Plugin-Sets den Integrationen-Assistent mit einem Klick aufrufen kannst.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Um die API aufgrund der existierenden Limitierung seitens Zalando möglichst effektiv zu nutzen, wurden SKUs als „INACTIVE“ markiert, sobald ein Bestand von 0 erfolgreich übertragen wurde, damit wir erst wieder einen Bestand senden, sobald dieser größer als 0 ist. Dieses Verhalten wurde nun wieder geändert, da es der Internationalisierung im Wege steht. Das Problem wäre, dass es nur eine SKU gibt, aber mehrere Verkaufskanäle auf Zalando, auf denen jeweils ein anderer Bestand gelten kann. Die SKU wird jetzt nur noch als „INACTIVE“ markiert, wenn der Bestand 0 erfolgreich übertragen wurde, nachdem entweder die Varianten deaktiviert wurden oder die Marktplatzverknüpfung für Zalando oder die Web-API. Auch wenn wir insgesamt damit mehr Anfragen an Zalando senden als bisher, gehen wir nicht davon aus, dass wir dadurch Probleme mit der Limitierung von 1.000 Bestandsupdates pro Minute bekommen.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn der Mandant eines Auftrages geändert wird, ohne zugleich das Lager zu ändern, wird der Standard-Standort als neuer Standort genommen, da das Lager des Auftrages nicht korrekt berücksichtigt wird. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>In der Firmenoberfläche auf der Detailseite und der neuen Firmenseite waren in der Standardansicht nicht alle Felder sichtbar. Dieses Verhalten wurde jetzt behoben, alle verfügbaren Felder sind in der Standardansicht enthalten.</p>
</li>
<li>
<p>Beim Versand der E-Mail-Vorlage zum Setzen eines neuen Passworts über die Gruppenfunktion im Menü <strong>CRM » Kontakte</strong> hat der Link zum Zurücksetzen des Passworts nicht funktioniert. Dieses Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_katalog" class="discrete">Katalog</h3>
<div class="ulist">
<ul>
<li>
<p>Der Katalogexport für Bestellungen wurde mit einer internen Fehlermeldung abgebrochen, wenn ein Barcode der Variante ausgegeben werden sollte. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_kaufland_de_2" class="discrete">Kaufland.de</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund einer Änderung seitens Kaufland (die E-Mails enthalten jetzt einen Klartextteil und einen HTML-Teil, der Klartextteil ist aber leer) wurden die Tickets ohne Inhalt in plentymarkets importiert. Dieses Verhalten wurde behoben. Die Tickets werden nun wieder korrekt importiert.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Stornieren oder Zurücksetzen eines Versandlabels wurde im selben Prozess kein neues Versandlabel erzeugt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_zalando_2" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte dazu kommen, dass ein Auftragsartikel keiner Variante zugeordnet wurde, obwohl eine Variante mit einer passenden SKU für Zalando vorlag. Als Ursache konnte ausgemacht werden, dass es passieren kann, dass die SKU zweimal im System existierte. Eine der SKUs war dabei einer nicht mehr existierenden Variante zugeordnet. Beim Auftragsimport für Zalando wurde dann die nicht existierende Variante dem Auftragsartikel zugeordnet und diese Zuordnung aber bei der tatsächlichen Auftragsanlage wieder entfernt, da die Variante ja nicht existiert. Der Auftragsimport für Zalando wurde jetzt im ersten Schritt angepasst, sodass SKUs ohne existierende Variante nicht für eine Zuordnung in Betracht gezogen werden.</p>
</li>
<li>
<p>Es konnte in einer Konstellation dazu kommen, dass Varianten durch das Bestandsupdate nicht auf 0 gesetzt wurde und ein Überverkauf erzeugt wurde. Dazu müssen folgende Bedingungen erfüllt sein:</p>
<div class="ulist">
<ul>
<li>
<p>Der Bestand musste vor Abschaltung der alten Bestands-API durch Zalando am 10.11.2021 einen zu übertragenen Bestand größer 0 haben.</p>
</li>
<li>
<p>Die nächste Bestandsänderung reduzierte den Bestand in einem Intervall von 15 Minuten so weit, dass der übertragene Bestand an Zalando 0 wäre und mindestens ein Auftrag musste von einem anderen Marktplatz als Zalando kommen.</p>
</li>
<li>
<p>Nur wenn diese spezifischen Ereignisse alle genau in dieser Reihenfolge so eintraten, wurde der Bestand nicht übermittelt und es konnte zu einem Überverkauf auf Zalando kommen. Um dies nun komplett auszuschließen, wird durch eine Migration ein Vollupdate bei allen Zalando-Händlern ausgelöst, welches eventuelle Fehlbestände durch die Umstellung auf Zalando bereinigt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_versand_center" class="discrete">Versand-Center</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben im Menü Aufträge » Versand-Center 2.0 (Testphase) eine komplett neue Bedienoberfläche auf Basis von Angular entwickelt und gleichzeitig viele Änderungen im Backend vorgenommen. Die neue Bedienoberfläche des Versand-Centers 2.0 folgt damit dem neuen, einheitlichen UI-Konzept. Das Versand-Center 2.0 bringt im Vergleich zum alten Versand-Center die folgenden Neuerungen mit:</p>
<div class="ulist">
<ul>
<li>
<p>Bei der Auftragsanmeldung kann nun jeweils ein Auftragsstatus für den Erfolgsfall und für den Fehlerfall gewählt werden, in dem die Aufträge nach der erfolgreichen bzw. fehlgeschlagenen Anmeldungen landen sollen.</p>
</li>
<li>
<p>Es gibt eine Gruppenfunktion zum Zurücksetzen von Aufträgen.</p>
</li>
<li>
<p>Es gibt eine Gruppenfunktion zum Herunterladen von Retourenlabels.</p>
</li>
<li>
<p>Es gibt eine Checkbox zum automatischen Download der Versandlabels beim Anmelden der Aufträge.</p>
</li>
<li>
<p>Eine Spalte mit angemeldeten Retouren kann in der Übersicht angezeigt werden.</p>
</li>
<li>
<p>Die Filter Auftragsdatum von / bis, Auftragstyp und Land wurden hinzugefügt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_abonnement" class="discrete">Abonnement</h3>
<div class="ulist">
<ul>
<li>
<p>Der Filter Kontakt-ID hat bisher auch Zeichenketten akzeptiert, wenn in der Abo-Übersicht nach der Kontakt-ID gefiltert wurde. Dies wurde behoben und der Filter akzeptiert jetzt ausschließlich numerische Werte.</p>
</li>
<li>
<p>Der Name des Filters Kontakt wurde in Kontakt-ID geändert.</p>
</li>
<li>
<p>Eine neue Spalte namens Kontakt-ID wurde zur Abo-Übersichtstabelle hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Auswahl eines neuen Kontaktes für die Erstellung eines neuen Auftrags wurden die voreingetragenen Daten aus diesem Kontakt nicht in den ersten Schritt der Auftragsanlage übernommen. Dies ist nun behoben.</p>
</li>
<li>
<p>Bei der Nutzung einer Auftragsvorlage wurden die Variationen dieser Vorlage nicht dem Warenkorb hinzugefügt, wenn die Variationen nicht in der Artikelliste angezeigt wurden. Dies ist nun behoben, die Variationen der Auftragsvorlage werden über eine separate Route abgerufen.</p>
</li>
<li>
<p>Es konnte vorkommen, dass bei Auftragsdokumenten falsche Namen für Attribute ausgegeben wurden.</p>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Der Button zum Neuladen (im Kontextmenü des Tabs zu finden) hat in der Zahlungen-UI, Abo-UI, Neue Auftrags-UI und Nachbestellungen-UI nicht korrekt funktioniert. Dies wurde behoben.</p>
</li>
<li>
<p>Beim Löschen von Zahlungen über die Gruppenfunktion enthielten die Mitteilungen die falschen Zahlungen. Dies ist behoben, die Mitteilungen listen nun die gelöschten Zahlungen.</p>
</li>
<li>
<p>In der Ansicht Zahlung teilen wurde in der Rechnungsspalte nicht die letzte gültige Rechnungsnummer angezeigt. Dies ist behoben, die richtige Rechnungsnummer wird nun angezeigt.</p>
</li>
<li>
<p>In der Ansicht Zahlung teilen wurde jedes Mal ein Call zum Abrufen der Kontaktinformationen für jeden aufgelisteten Auftrag ausgeführt. Dies ist behoben.</p>
</li>
<li>
<p>In der Zuordnungstabelle einer Zahlung waren die Spalten mit Nummern und Zahlen nicht rechts-, sonder linksbündig angezeigt. Dies wurde behoben.</p>
</li>
<li>
<p>Die alten Terra-Schaltflächen wurden durch die neuen Material-Schaltflächen ersetzt.</p>
</li>
<li>
<p>In der Zuordnungstabelle einer Zahlung ist die Schaltfläche zum Konfigurieren der Tabelle nun rechtsbündig.</p>
</li>
<li>
<p>Alle Tabellen nutzen nun die neuesten Tabellencontainer.</p>
</li>
<li>
<p>Beim Lösen oder Zuordnung einer Zahlung in der Detailansicht enthielt die Tabelle nicht die neuesten benötigten Informationen. Dies ist behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/allegro_6260" target="_blank" rel="noopener">Allegro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourceresfashionadvanced_5403" target="_blank" rel="noopener">Ceres Fashion Professional</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dhlretoureonline_6714" target="_blank" rel="noopener">DHL Retoure Online</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand Services</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.7.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.17</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.55</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/fulfillment-stock/order-warehouse-management/proclaneintegrationman-36902_6585" target="_blank" rel="noopener">PROCLANE IntegrationMan</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>