<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Das Format BasicPriceSearchEngine-Plugin in plentymarkets einrichten</span></a></li>
<li><a href="#200"><span>2.</span><span> Verfügbare Spalten der Exportdatei</span></a></li>
<li><a href="#300"><span>3.</span><span> Lizenz</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Basic Price Search Engine</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Um Artikeldaten zu Preisportalen exportieren zu können, benötigst du die folgenden Plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportbasicpricesearchengine_4777" target="_blank" rel="noopener">Basic Price Search Engine</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>Elastischer Export</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin Elastischer Export.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Elastischer Export</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>Basic Price Search Engine</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin Basic Price Search Engine.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Basic Price Search Engine</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Das Format BasicPriceSearchEngine-Plugin in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Installation dieses Plugins erhältst du das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong>. Mit diesem Exportformat können Artikeldaten über den elastischen Export zu Preisportalen übertragen werden. Um dieses Format für den elastischen Export nutzen zu können, installiere zunächst das Plugin <strong>Elastischer Export</strong> aus dem plentyMarketplace, wenn noch nicht geschehen.</p>
</div>
<div class="paragraph">
<p>Sobald beide Plugins im deinem System installiert sind, kann das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong> erstellt werden. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export">Elastischer Export</a>.</p>
</div>
<div class="paragraph instruction">
<p>Neues Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-basic-price-search-engine">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In <a href="#einstellungen-basic-price-search-engine">Tabelle 1</a> findest du spezifische Hinweise zu den Einstellungen, Formateinstellungen und empfohlenen Artikelfiltern für das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong>.</p>
</div>
<table id="einstellungen-basic-price-search-engine" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Formateinstellungen für BasicPriceSearchEngine-Plugin</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>BasicPriceSearchEngine-Plugin</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>URL</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit ein Preisportal oder eine vergleichbare Schnittstelle die Datei erfolgreich importieren kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikelfilter aus der Dropdown-Liste wählen und auf <strong>Hinzufügen</strong> klicken. Standardmäßig sind keine Filter voreingestellt. Es ist möglich, alle Artikelfilter aus der Dropdown-Liste nacheinander hinzuzufügen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Aktiv</strong> = <strong>Aktiv</strong> wählen.<br></p>
</li>
<li>
<p><strong>Märkte</strong> = Eine oder mehrere Auftragsherkünfte wählen. Die gewählten Auftragsherkünfte müssen an der Variante aktiviert sein, damit der Artikel exportiert wird.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Auftragsherkunft wählen, die beim Auftragsimport zugeordnet werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Einstellung ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Verfügbare Spalten der Exportdatei</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Öffne das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und bei Bedarf anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>BasicPriceSearchEngine-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-basic-price-search-engine" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Spalten der Exportdatei für das Exportformat <strong>BasicPriceSearchEngine-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">article_id</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>ID</strong> des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deeplink</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>URL-Pfad</strong> des Artikels abhängig von den Formateinstellungen <strong>Mandant</strong>, <strong>Produkt-URL</strong> und <strong>Auftragsherkunft</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Artikelname</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">short_description</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Vorschautext</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Beschreibung</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">article_no</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Variantennummer</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Hersteller</strong> des Artikels. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">model</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Modell unter <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Einstellungen » Grundeinstellungen</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Name der Artikelverfügbarkeit</strong> unter <strong>Einrichtung » Artikel » Artikelverfügbarkeit</strong> oder die Übersetzung gemäß der Formateinstellung <strong>Artikelverfügbarkeit überschreiben</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ean</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isbn</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Einheit</strong> aus den berechneten Grundpreisinformationen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Verkaufspreis</strong> der Variante, abhängig der Formateinstellung <strong>Auftragsherkunft</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price_old</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Angebotspreis</strong> der Variante, abhängig der Formateinstellung <strong>Auftragsherkunft</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weight</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das <strong>Gewicht</strong> der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>erste Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category2</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>zweite Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category3</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>dritte Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category4</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>vierte Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category5</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>fünfte Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category6</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>sechste Kategorieebene der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category_concat</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Kategoriepfad der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image_url_preview</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das <strong>Vorschaubild</strong> des ersten Bildes der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image_url</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das <strong>Bild</strong> des ersten Bildes der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shipment_and_handling</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die am Artikel gespeicherten <strong>Versandkosten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit_price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Grundpreisinformation</strong> im Format "Preis / Einheit" (Beispiel: 10.00 EUR / Kilogramm)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit_price_value</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Preis</strong> aus den berechneten <strong>Grundpreisinformationen</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit_price_lot</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Inhalt</strong> aus den berechneten <strong>Grundpreisinformationen</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation_id</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Varianten-ID</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Lizenz</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das gesamte Projekt unterliegt der GNU AFFERO GENERAL PUBLIC LICENSE. Weitere Informationen findest du in der Datei <a href="https://github.com/plentymarkets/plugin-elastic-export-basic-price-search-engine/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>