<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Geizhals.de registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Das Format GeizhalsDE-Plugin in plentymarkets einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Verfügbare Spalten der Exportdatei</span></a></li>
<li><a href="#400"><span>4.</span><span> Lizenz</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Geizhals.de</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Geizhals.de-Plugin herunterladen</div>
<div class="paragraph">
<p>Um Artikeldaten zu Geizhals exportieren zu können, benötigst du die Plugins <a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportgeizhalsde_4743" target="_blank" rel="noopener">Geizhals.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> und <a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Die Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Geizhals.de registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Geizhals-Preisvergleich ist eine unabhängige Preisvergleichs- und Informationsplattform mit Schwerpunkt Hardware und Unterhaltungselektronik. Um das Plugin für Geizhals.de in plentymarkets einzurichten, musst du dich zunächst bei <a href="https://geizhals.de/" target="_blank" rel="noopener">geizhals.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Das Format GeizhalsDE-Plugin in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Plugin stellt das Exportformat <strong>GeizhalsDE-Plugin</strong> bereit. Mit diesem Exportformat überträgst du Daten über den elastischen Export zu Geizhals.de. Um dieses Format für den elastischen Export nutzen zu können, installiere das Plugin <strong>Elastischer Export</strong> aus dem plentyMarketplace.</p>
</div>
<div class="paragraph">
<p>Sobald du beide Plugins im deinem System installiert hast, kann das Exportformat <strong>GeizhalsDE-Plugin</strong> erstellt werden. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export">Elastischer Export</a>.</p>
</div>
<div class="paragraph">
<p>Geizhals.de ruft Artikeldaten über eine URL ab. Speichere die URL bei Geizhals.de, damit deine Artikeldaten zu Geizhals.de übertragen werden.</p>
</div>
<div class="paragraph instruction">
<p>Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#export-format">Tabelle 1</a>.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig sind keine Artikelfilter voreingestellt. Wenn du keine Artikelfilter einstellst, werden beim Export alle Artikel übertragen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>GeizhalsDE-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
<li>
<p>Speichere die im Feld <strong>URL</strong> angezeigte URL bei Geizhals.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In <a href="#export-format">Tabelle 1</a> findest du spezifische Hinweise zu den Einstellungen, Formateinstellungen und empfohlenen Artikelfiltern für das Exportformat <strong>GeizhalsDE-Plugin</strong>.</p>
</div>
<table id="export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Formateinstellungen und empfohlene Artikelfilter für das Format <strong>GeizhalsDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben. Unter diesem Namen wird das Exportformat in der Übersicht im Tab <strong>Exporte</strong> angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GeizhalsDE-Plugin</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl eingeben. Wenn mehr als 9999 Datensätze übertragen werden sollen, wird die Ausgabedatei für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen. Wenn mehr als 9999 Datensätze benötigt werden, die Option <strong>Cache-Datei generieren</strong> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option aktivieren, wenn mehr als 9999 Datensätze übertragen werden sollen.<br>
<strong><em>Hinweis:</em></strong> Für eine optimale Performance des elastischen Exports darf diese Option bei maximal 20 Exportformaten aktiv sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong> wählen. Mit dieser Option kann ein Token für die Authentifizierung generiert werden, um einen externen Zugriff zu ermöglichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Token generieren</strong> klicken.<br>
→ Der Token wird automatisch eingetragen.<br>
→ Im Feld <strong>URL</strong> wird automatisch eine URL erstellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit Geizhals.de die Datei erfolgreich importieren kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Artikel beim Export übertragen werden sollen. Dazu einen oder mehrere der folgenden Artikelfilter aus der Dropdown-Liste wählen und auf Hinzufügen klicken. Standardmäßig sind keine Filter voreingestellt. Alle unten aufgeführten Artikelfilter können nacheinander aus der Dropdown-Liste hinzugefügt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten</strong> = Wählen, welche Varianten übertragen werden sollen.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Alle übertragen</strong> = Alle Varianten werden übertragen.</p>
</li>
<li>
<p><strong>Nur Hauptvarianten übertragen</strong> = Nur Hauptvarianten werden übertragen.<br></p>
</li>
<li>
<p><strong>Keine Hauptvarianten übertragen</strong> = Nur die Varianten eines Artikels werden übertragen. Hauptvarianten werden nicht übertragen.<br>
<strong><em>Tipp:</em></strong> Diese Filteroption verwenden, wenn die Hauptvarianten nur virtuell und keine verkaufbaren Produkte sind.</p>
</li>
<li>
<p><strong>Nur Einzelvarianten übertragen</strong> = Nur die Hauptvarianten von Artikeln werden übertragen, die nur eine Hauptvariante und keine Varianten haben.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Märkte</strong> = Eine oder mehrere Auftragsherkünfte wählen. Die gewählten Auftragsherkünfte müssen an der Variante aktiviert sein, damit der Artikel exportiert wird.</p>
</li>
<li>
<p><strong>Währung</strong> = Währung wählen.</p>
</li>
<li>
<p><strong>Kategorie</strong> = Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie angehören, übertragen.</p>
</li>
<li>
<p><strong>Bild</strong> = Aktivieren, damit der Artikel mit Bild übertragen wird. Es werden nur Artikel mit Bildern übertragen.</p>
</li>
<li>
<p><strong>Mandant</strong> = Mandant wählen.</p>
</li>
<li>
<p><strong>Bestand</strong> = Wählen, welche Bestände exportiert werden sollen.</p>
</li>
<li>
<p><strong>Markierung 1-2</strong> = Markierung wählen.</p>
</li>
<li>
<p><strong>Hersteller</strong> = Einen, mehrere oder <strong>ALLE</strong> Hersteller wählen.</p>
</li>
<li>
<p><strong>Aktiv</strong> = Aktivieren, um nur aktive Varianten zu übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die URL des Artikels oder die URL der Variante übertragen wird.<br>
<strong><em>Hinweis:</em></strong> Varianten-URLs können nur in Kombination mit dem Ceres-Webshop übertragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant wählen. Diese Einstellung wird für den URL-Aufbau verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suffix für die Produkt-URL eingeben, wenn dies für den Export erforderlich ist.<br>
→ Die Produkt-URL wird um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>übertragen</strong> für die Produkt-URL aktiviert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Dropdown-Liste die Auftragsherkunft wählen, die beim Auftragsimport zugeordnet werden soll.<br>
→ Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marktplatzkonto aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Text als Beschreibungstext übertragen werden soll. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge der Beschreibung beim Export vorgibt. Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden. Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, diese Tags mit Komma trennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielland aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN, ISBN oder eine GTIN aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Sonst wird der Barcode nicht exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den UVP zu übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung. Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>überschreiben</strong> aktivieren und in die Felder <strong>1</strong> bis <strong>10</strong>, die die ID der Verfügbarkeit darstellen, Artikelverfügbarkeiten eingeben. So werden die Artikelverfügbarkeiten, die im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> eingestellt wurden, überschrieben.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Verfügbare Spalten der Exportdatei</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Öffne das Exportformat <strong>GeizhalsDE-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und ggf. anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>GeizhalsDE-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-geizhals-de" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Spalten der Exportdatei für das Exportformat <strong>GeizhalsDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herstellername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Der <strong>Hersteller</strong> des Artikels. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Varianten-ID</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktbezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Entsprechend der Formateinstellung <strong>Artikelname</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Der <strong>Verkaufspreis</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deeplink</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Der <strong>URL-Pfad</strong> des Artikels abhängig vom gewählten <strong>Mandanten</strong> in den Formateinstellungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand Vorkasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Versandkosten</strong> mit <strong>Versand Vorkasse</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand Nachnahme</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Versandkosten</strong> mit <strong>Versand Nachnahme</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Der <strong>Name der Artikelverfügbarkeit</strong> unter <strong>Einrichtung » Artikel » Artikelverfügbarkeit</strong> oder die Übersetzung gemäß der Formateinstellung <strong>Artikelverfügbarkeit überschreiben</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herstellernummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Das <strong>Modell</strong> unter <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>»</strong> <em>Variante öffnen</em> <strong>» Einstellungen » Grundeinstellungen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Entsprechend der Formateinstellung <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kategorienamen der Kategorien, die mit der Variante verknüpft sind, abgetrennt durch "&gt;".</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grundpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Grundpreisinformation</strong> im Format "Preis / Einheit". (Beispiel: 10.00 EUR / Kilogramm)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Beschreibung</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Lizenz</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das gesamte Projekt unterliegt der GNU AFFERO GENERAL PUBLIC LICENSE. Weitere Informationen findest du in der Datei <a href="https://github.com/plentymarkets/plugin-elastic-export-geizhals-de/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>