<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Google Shopping registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Das Format GoogleShopping-Plugin in plentymarkets einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Verfügbare Spalten der Exportdatei</span></a></li>
<li><a href="#400"><span>4.</span><span> Lizenz</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Google Shopping</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Google Shopping-Plugin herunterladen</div>
<div class="paragraph">
<p>Um Artikeldaten zu Google Shopping exportieren zu können, benötigst du die Plugins <a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportgoogleshopping_4722" target="_blank" rel="noopener">Google Shopping</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> und <a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Die Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Google Shopping registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Preisvergleichsportal Google Shopping bietet Such- und Vergleichsfunktionen sowie Links zu den Produktseiten anderer Online-Shops.<br></p>
</div>
<div class="paragraph">
<p>Betreiber von Online-Shops können ihre Produkte durch Abrechnung auf Klickbasis auf GoogleShopping-Listen in der Google-Suche anzeigen lassen. Dieses Format basiert auf Google Shopping International. Dementsprechend müssen verknüpfte Merkmalwerte und Verfügbarkeiten im elastischen Export auf Englisch gepflegt sein.</p>
</div>
<div class="paragraph">
<p>Um das Plugin für Google Shopping in plentymarkets einzurichten, musst du dich zunächst bei <a href="https://support.google.com/merchants/answer/188924?hl=de" target="_blank" rel="noopener">Google Shopping</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> als Händler:in registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Das Format GoogleShopping-Plugin in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Installation dieses Plugins erhältst du das Exportformat <strong>GoogleShopping-Plugin</strong>, mit dem du Daten über den elastischen Export zu GoogleShopping überträgst. Um dieses Format für den elastischen Export nutzen zu können, installiere zunächst das Plugin <strong>Elastischer Export</strong> aus dem plentyMarketplace, wenn noch nicht geschehen.</p>
</div>
<div class="paragraph">
<p>Sobald beide Plugins im deinem System installiert sind, kann das Exportformat <strong>GoogleShopping-Plugin</strong> erstellt werden. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export">Elastischer Export</a>.</p>
</div>
<div class="paragraph">
<p>Artikeldaten werden von GoogleShopping über eine URL abgerufen. Damit deine Artikeldaten zu GoogleShopping übertragen werden können, speichere die URL bei GoogleShopping.</p>
</div>
<div class="paragraph instruction">
<p>Neues Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#export-format">Tabelle 1</a>.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig sind keine Artikelfilter voreingestellt. Wenn du keine Artikelfilter einstellst, werden beim Export alle Artikel übertragen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>GoogleShopping-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
<li>
<p>Speichere die im Feld <strong>URL</strong> angezeigte URL bei GoogleShopping.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In <a href="#export-format">Tabelle 1</a> findest du spezifische Hinweise zu den Einstellungen, Formateinstellungen und empfohlenen Artikelfiltern für das Exportformat <strong>GoogleShopping-Plugin</strong>.</p>
</div>
<table id="export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Formateinstellungen und empfohlene Artikelfilter für das Format <strong>GoogleShopping-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Einstellung</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben. Unter diesem Namen wird das Exportformat in der Übersicht im Tab <strong>Exporte</strong> angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GoogleShopping-Plugin</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl eingeben. Wenn mehr als 9999 Datensätze übertragen werden sollen, wird die Ausgabedatei für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen. Wenn mehr als 9999 Datensätze benötigt werden, die Option <strong>Cache-Datei generieren</strong> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option aktivieren, wenn mehr als 9999 Datensätze übertragen werden sollen.<br>
<strong><em>Hinweis:</em></strong> Um eine optimale Performance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong> wählen. Mit dieser Option kann ein Token für die Authentifizierung generiert werden, damit ein externer Zugriff möglich ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Token generieren</strong> klicken.<br>
→ Der Token wird automatisch eingetragen.<br>
→ Im Feld <strong>URL</strong> wird automatisch eine URL erstellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit GoogleShopping die Datei erfolgreich importieren kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Artikel beim Export übertragen werden sollen. Dazu Artikelfilter aus der Dropdown-Liste wählen und auf Hinzufügen klicken. Standardmäßig sind keine Filter voreingestellt. Es ist möglich, alle Artikelfilter aus der Dropdown-Liste nacheinander hinzuzufügen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten</strong> = Wählen, welche Varianten übertragen werden sollen.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Alle übertragen</strong> = Alle Varianten werden übertragen.</p>
</li>
<li>
<p><strong>Nur Hauptvarianten übertragen</strong> = Nur Hauptvarianten werden übertragen.<br></p>
</li>
<li>
<p><strong>Keine Hauptvarianten übertragen</strong> = Nur die Varianten eines Artikels werden übertragen. Hauptvarianten werden nicht übertragen.<br>
<strong><em>Tipp:</em></strong> Diese Filteroption verwenden, wenn die Hauptvarianten nur virtuell und keine verkaufbaren Produkte sind.</p>
</li>
<li>
<p><strong>Nur Einzelvarianten übertragen</strong> = Nur die Hauptvarianten von Artikeln werden übertragen, die nur eine Hauptvariante und keine Varianten haben.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Märkte</strong> = Eine oder mehrere Auftragsherkünfte wählen. Die gewählten Auftragsherkünfte müssen an der Variante aktiviert sein, damit der Artikel exportiert wird.</p>
</li>
<li>
<p><strong>Währung</strong> = Währung wählen.</p>
</li>
<li>
<p><strong>Kategorie</strong> = Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie angehören, übertragen.</p>
</li>
<li>
<p><strong>Bild</strong> = Aktivieren, damit der Artikel mit Bild übertragen wird. Es werden nur Artikel mit Bildern übertragen.</p>
</li>
<li>
<p><strong>Mandant</strong> = Mandant wählen.</p>
</li>
<li>
<p><strong>Bestand</strong> = Wählen, welche Bestände exportiert werden sollen.</p>
</li>
<li>
<p><strong>Markierung 1-2</strong> = Markierung wählen.</p>
</li>
<li>
<p><strong>Hersteller</strong> = Einen, mehrere oder <strong>ALLE</strong> Hersteller wählen.</p>
</li>
<li>
<p><strong>Aktiv</strong> = Aktivieren, um nur aktive Varianten zu übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die URL des Artikels oder die URL der Variante übertragen wird.<br>
<strong><em>Hinweis:</em></strong> Varianten-URLs können nur in Kombination mit dem Ceres-Webshop übertragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant wählen. Diese Einstellung wird für den URL-Aufbau verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suffix für die Produkt-URL eingeben, wenn dies für den Export erforderlich ist.<br>
→ Die Produkt-URL wird um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>übertragen</strong> für die Produkt-URL aktiviert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Dropdown-Liste die Auftragsherkunft wählen, die beim Auftragsimport zugeordnet werden soll.<br>
→ Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marktplatzkonto aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Text als Beschreibungstext übertragen werden soll. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge der Beschreibung beim Export vorgibt. Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden. Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, diese Tags mit Komma trennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielland aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN, ISBN oder eine GTIN aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Sonst wird der Barcode nicht exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Position 0</strong> oder <strong>Erstes Bild</strong> wählen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Position 0</strong> = Ein Bild mit der Position 0 wird übertragen.</p>
</li>
<li>
<p><strong>Erstes Bild</strong> = Das erste Bild wird übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Energieetikettes eingeben. Alle Bilder, die als Energieetikette übertragen werden sollen, müssen diese Position haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Angebotspreis zu übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung. Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Verfügbare Spalten der Exportdatei</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Öffne das Exportformat <strong>GoogleShopping-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und ggf. anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>GoogleShopping-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-google-shopping" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Spalten der Exportdatei für das Exportformat <strong>GoogleShopping-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>SKU</strong> der Variante für Google Shopping.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Artikelname</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Beschreibung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">google_product_category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Einstellung <strong>Einrichtung » Märkte » Google » Google Shopping Int.</strong>. Die Google Shopping Kategorie der Standardkategorie.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">product_type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name der Standardkategorie, die mit der Variante verknüpft ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>URL-Pfad</strong> des Artikels abhängig vom gewählten Mandanten in den Formateinstellungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image_link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL des Bildes. Variantenbilder werden vor Artikelbildern priorisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">additional_image_link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zusätzliche kommagetrennte URLs für bis zu 10 zusätzliche Bilder. Variantenbilder werden vor Artikelbildern priorisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">condition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Zustand des Artikels anhand <strong>Artikel » Artikel bearbeiten » Global » Grundeinstellungen » Zustand API</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name der <strong>Artikelverfügbarkeit</strong> unter <strong>Einrichtung » Artikel » Verfügbarkeit</strong> oder die Übersetzung gemäß der Formateinstellung <strong>Artikelverfügbarkeit überschreiben</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Verkaufspreis</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sale_price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Angebotspreis</strong> abhängig der Formateinstellung <strong>Angebotspreis</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">brand</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Name des Herstellers</strong> des Artikels. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gtin</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isbn</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>ISBN</strong> für die Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mpn</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <strong>Modell</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">color</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Farbe</strong> der Variante anhand des Attributs oder eines Merkmals. Merkmale werden bevorzugt behandelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">size</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Größe</strong> für die Variante anhand des Attributs oder eines Merkmals. Merkmale werden bevorzugt behandelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">material</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <strong>Material</strong> der Variante anhand des Attributs oder eines Merkmals. Merkmale werden bevorzugt behandelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pattern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <strong>Muster</strong> der Variante anhand des Attributs oder eines Merkmals. Merkmale werden bevorzugt behandelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item_group_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Artikel-ID</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shipping</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Versandkosten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shipping_weight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Versandgewicht der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Geschlecht in Bezug auf das Google-Merkmal <strong>Geschlecht</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">age_group</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Altersgruppe in Bezug auf das Google-Merkmal <strong>Altersgruppe</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">excluded_destination</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Leer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">adwords_redirect</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adwords Redirect in Bezug auf das Google-Merkmal <strong>Adwords Redirect</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">identifier_exists</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kombination der Attribute <strong>brand</strong> + <strong>GTIN</strong> oder <strong>brand</strong> + <strong>mpn</strong> muss vorhanden sein, damit der Wert auf <strong>true</strong> gesetzt wird. Andernfalls wird der Wert auf <strong>false</strong> gesetzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit_pricing_measure</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Einheit</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit_pricing_base_measure</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Grundeinheit</strong> der Variante in Bezug zu <strong>unit_pricing_measure</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">energy_efficiency_class</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Energieeffizienzklasse in Bezug auf das Google-Merkmal <strong>Energieeffizienzklasse</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">size_system</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Größensystem in Bezug auf das Google-Merkmal <strong>Größensystem</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">size_type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Größentyp in Bezug auf das Google-Merkmal <strong>Größentyp</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mobile_link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mobiler Link in Bezug auf das Google-Merkmal <strong>Mobiler Link</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sale_price_effective_date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Sonderangebotszeitraum in Bezug auf das Google-Merkmal <strong>Sonderangebotszeitraum</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">adult</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Leer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_label_0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das benutzerdefinierte Label 0 in Bezug auf das Google-Merkmal <strong>Benutzerdefiniertes Label 0</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_label_1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das benutzerdefinierte Label 1 in Bezug auf das Google-Merkmal <strong>Benutzerdefiniertes Label 1</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_label_2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das benutzerdefinierte Label 2 in Bezug auf das Google-Merkmal <strong>Benutzerdefiniertes Label 2</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_label_3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das benutzerdefinierte Label 3 in Bezug auf das Google-Merkmal <strong>Benutzerdefiniertes Label 3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_label_4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das benutzerdefinierte Label 4 in Bezug auf das Google-Merkmal <strong>Benutzerdefiniertes Label 4</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability_date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <strong>Erscheinungsdatum</strong> der Variante.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Lizenz</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das gesamte Projekt unterliegt der GNU AFFERO GENERAL PUBLIC LICENSE. Weitere Informationen findest du in der Datei <a href="https://github.com/plentymarkets/plugin-elastic-export-google-shopping/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>