<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Kelkoo registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Das Format KelkooDE-Plugin in plentymarkets einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Verfügbare Spalten der Exportdatei</span></a></li>
<li><a href="#400"><span>4.</span><span> Lizenz</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kelkoo</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kelkoo-Plugin herunterladen</div>
<div class="paragraph">
<p>Um Artikeldaten zu Kelkoo exportieren zu können, benötigst du die Plugins <a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportkelkoode_5041" target="_blank" rel="noopener">Kelkoo</a> und <a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a>. Die Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Kelkoo registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kelkoo ist eine Preisvergleich-Suchmaschine für Shopping und Reisen. Die Basis-Partnerschaft bietet die Möglichkeit, die Produktlistung eigenständig zu gestalten und zu verwalten. Klicks werden per Prepaid-Guthaben bezahlt.<br></p>
</div>
<div class="paragraph">
<p>Um das Plugin für Kelkoo in plentymarkets einzurichten, musst du dich zunächst bei <a href="https://www.kelkoogroup.com/de/onlineshops/" target="_blank" rel="noopener">Kelkoo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Das Format KelkooDE-Plugin in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Installation dieses Plugins erhältst du das Exportformat <strong>KelkooDE-Plugin</strong>, mit dem du Daten über den elastischen Export zu Kelkoo überträgst. Um dieses Format für den elastischen Export nutzen zu können, installiere zunächst das Plugin <strong>Elastischer Export</strong> aus dem plentyMarketplace, wenn noch nicht geschehen.</p>
</div>
<div class="paragraph">
<p>Sobald beide Plugins im deinem System installiert sind, kann das Exportformat <strong>KelkooDE-Plugin</strong> erstellt werden. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export">Elastischer Export</a>.</p>
</div>
<div class="paragraph">
<p>Artikeldaten werden von Kelkoo über eine URL abgerufen. Damit deine Artikeldaten zu Kelkoo übertragen werden können, hinterlege die URL bei Kelkoo.</p>
</div>
<div class="paragraph instruction">
<p>Neues Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-kelkoo">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>KelkooDE-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
<li>
<p>Speichere die im Feld <strong>URL</strong> angezeigte URL bei Kelkoo.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In <a href="#einstellungen-kelkoo">Tabelle 1</a> findest du spezifische Hinweise zu den Einstellungen, Formateinstellungen und empfohlenen Artikelfiltern für das Exportformat <strong>KelkooDE-Plugin</strong>.</p>
</div>
<table id="einstellungen-kelkoo" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Formateinstellungen für KelkooDE</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Einstellung</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben. Unter diesem Namen erscheint das Exportformat in der Übersicht im Tab <strong>Exporte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KelkooDE-Plugin</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl eingeben. Wenn mehr als 9999 Datensätze an die Preissuchmaschine übertragen werden sollen, wird die Ausgabedatei wird für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen. Wenn mehr mehr als 9999 Datensätze benötigt werden, muss die Option <strong>Cache-Datei generieren</strong> aktiv sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, wenn mehr als 9999 Datensätze an die Preissuchmaschine übertragen werden sollen. Um eine optimale Performance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong> wählen. Mit dieser Option kann ein Token für die Authentifizierung generiert werden, damit ein externer Zugriff möglich ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Bereitstellung</strong> die Option <strong>URL</strong> gewählt wurde, auf <strong>Token generieren</strong> klicken. Der Token wird dann automatisch eingetragen. Die URL wird automatisch eingetragen, wenn unter <strong>Token</strong> der Token generiert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit Kelkoo die Datei erfolgreich importieren kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikelfilter aus der Dropdown-Liste wählen und auf <strong>Hinzufügen</strong> klicken. Standardmäßig sind keine Filter voreingestellt. Es ist möglich, alle Artikelfilter aus der Dropdown-Liste nacheinander hinzuzufügen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten</strong> = <strong>Alle übertragen</strong> oder <strong>Nur Hauptvarianten übertragen</strong> wählen.<br></p>
</li>
<li>
<p><strong>Märkte</strong> = Einen, mehrere oder <strong>ALLE</strong> Märkte wählen. Die Verfügbarkeit muss für alle hier gewählten Märkte am Artikel hinterlegt sein. Andernfalls findet kein Export statt.<br></p>
</li>
<li>
<p><strong>Währung</strong> = Währung wählen.<br></p>
</li>
<li>
<p><strong>Kategorie</strong> = Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie zugehören, übertragen.<br></p>
</li>
<li>
<p><strong>Bild</strong> = Aktivieren, damit der Artikel mit Bild übertragen wird. Es werden nur Artikel mit Bildern übertragen.<br></p>
</li>
<li>
<p><strong>Mandant</strong> = Mandant wählen.<br></p>
</li>
<li>
<p><strong>Bestand</strong> = Wählen, welche Bestände exportiert werden sollen.<br></p>
</li>
<li>
<p><strong>Markierung 1 - 2</strong> = Markierung wählen.<br></p>
</li>
<li>
<p><strong>Hersteller</strong> = Einen, mehrere oder <strong>ALLE</strong> Hersteller wählen.<br></p>
</li>
<li>
<p><strong>Aktiv</strong> = Nur aktive Varianten werden übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die URL des Artikels oder der Variante an das Preisportal übertragen wird. Varianten-URLs können nur in Kombination mit dem Ceres Webshop übertragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant wählen. Diese Einstellung wird für den URL-Aufbau verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suffix für die Produkt-URL eingeben, wenn dies für den Export erforderlich ist. Die Produkt-URL wird dann um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>übertragen</strong> für die Produkt-URL aktiviert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Dropdown-Liste die Auftragsherkunft wählen, die beim Auftragsimport zugeordnet werden soll. Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marktplatzkonto aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Text als Beschreibungstext übertragen werden soll.<br>
Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge der Beschreibung beim Export vorgibt.<br>
Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden.<br>
Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielland aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN, ISBN oder eine EAN aus der Dropdown-Liste wählen. Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Andernfalls wird der Barcode nicht exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erstes Bild</strong> wählen, um dieses Bild zu exportieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung. Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für dieses Format nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit überschreiben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Einstellung muss aktiviert sein, da Kelkoo nur spezifische Werte akzeptiert, die hier eingetragen werden müssen.<br>
Weitere Informationen dazu im Kapitel <strong>Verfügbare Spalten der Exportdatei</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Verfügbare Spalten der Exportdatei</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Öffne das Exportformat <strong>KelkooDE-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und ggf. anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>KelkooDE-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-kelkoo" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Spalten der Exportdatei für das Exportformat <strong>KelkooDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Spaltenbezeichnung</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">offer-id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Die <strong>SKU</strong> der Variante auf Basis der gewählten <strong>Auftragsherkunft</strong> in den Formateinstellungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
<strong>Beschränkung:</strong> max. 80 Zeichen<br>
Entsprechend der Formateinstellung <strong>Artikelname</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">product-url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Der <strong>URL-Pfad</strong> des Artikels abhängig vom gewählten <strong>Mandanten</strong> in den Formateinstellungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Der <strong>Verkaufspreis</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">brand</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Name des Herstellers</strong> des Artikels. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschränkung:</strong> max. 300 Zeichen<br>
Entsprechend der Formateinstellung <strong>Beschreibung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image-url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschränkung:</strong> <strong>Mindestgröße:</strong> 300 x 300 Pixel / <strong>Maximalgröße:</strong> 6.600.000 Pixel<br>
URL des Bildes gemäß der Formateinstellungen <strong>Bild</strong>. Variantenbilder werden vor Artikelbildern priorisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ean</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">merchant-category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Name der letzten Kategorieebene</strong> des <strong>Kategoriepfads der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
<strong>Erlaubte Werte:</strong> 1,4,5<br>
Übersetzung gemäß der Formateinstellung <strong>Artikelverfügbarkeit überschreiben</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delivery-cost</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Entsprechend der Formateinstellung <strong>Versandkosten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delivery-time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name der jeweiligen Artikelverfügbarkeit der Variante unter <strong>Einrichtung » Artikel » Artikelverfügbarkeit</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ecotax</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird aktuell immer mit 0 gefüllt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mpn</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <strong>Modell</strong> unter <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>»</strong> <em>Variante öffnen</em> <strong>» Einstellungen » Grundeinstellungen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit-price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Grundpreisinformation</strong> im Format "Preis / Einheit". (Beispiel: 10,00 EUR / Kilogramm)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image-url-(2-4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL zu dem Bild gemäß der Formateinstellungen <strong>Bild</strong>. Variantenbilder werden vor Artikelbildern priorisiert.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Lizenz</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das gesamte Projekt unterliegt der GNU AFFERO GENERAL PUBLIC LICENSE. Weitere Informationen findest du in der <a href="https://github.com/plentymarkets/plugin-elastic-export-twenga-com/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>