<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei shopzilla.de registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Das Format ShopzillaDE-Plugin in plentymarkets einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Verfügbare Spalten der Exportdatei</span></a></li>
<li><a href="#400"><span>4.</span><span> Lizenz</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Shopzilla</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">shopzilla-Plugin herunterladen</div>
<div class="paragraph">
<p>Um Artikeldaten zu shopzilla exportieren zu können, benötigst du die folgenden Plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportshopzillade_4770" target="_blank" rel="noopener">shopzilla</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastischer Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>Elastischer Export</strong> installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Elastischer Export</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>Elastischer Export</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>shopzilla</strong> installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>shopzilla</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>shopzilla</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei shopzilla.de registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>shopzilla ist eine Preisvergleichsplattform. Um das Plugin für shopzilla in plentymarkets einzurichten, musst du dich zunächst bei <a href="http://www.shopzilla.de/" target="_blank" rel="noopener">shopzilla</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Das Format ShopzillaDE-Plugin in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Plugin stellt das Exportformat <strong>ShopzillaDE-Plugin</strong> bereit. Mit diesem Exportformat überträgst du Daten über den elastischen Export zu shopzilla. Um dieses Format für den elastischen Export nutzen zu können, installiere das Plugin <strong>Elastischer Export</strong> aus dem plentyMarketplace.</p>
</div>
<div class="paragraph">
<p>Sobald du beide Plugins im deinem System installiert hast, kann das Exportformat <strong>ShopzillaDE-Plugin</strong> erstellt werden. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export">Elastischer Export</a>.</p>
</div>
<div class="paragraph">
<p>shopzilla ruft Artikeldaten über eine URL ab. Speichere die URL bei shopzilla, damit deine Artikeldaten zu shopzilla übertragen werden.</p>
</div>
<div class="paragraph instruction">
<p>Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neuer Export</strong>.<br>
→ Das Tab <strong>Neuer Export</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#export-format">Tabelle 1</a>.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig sind keine Artikelfilter voreingestellt. Wenn du keine Artikelfilter einstellst, werden beim Export alle Artikel übertragen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>ShopzillaDE-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
<li>
<p>Speichere die im Feld <strong>URL</strong> angezeigte URL bei shopzilla.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In <a href="#export-format">Tabelle 1</a> findest du spezifische Hinweise zu den Einstellungen, Formateinstellungen und empfohlenen Artikelfiltern für das Exportformat <strong>ShopzillaDE-Plugin</strong>.</p>
</div>
<table id="export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Formateinstellungen und empfohlene Artikelfilter für das Format <strong>ShopzillaDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für den Export ein.
Dies ist ein interner Name, d.h. er ist für Kunden nicht sichtbar.
Unter diesem Namen wird das Exportformat in der Übersicht angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>ShopzillaDE-Plugin</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zahl ein.
Diese Zahl bestimmt, wie viele Datensätze maximal exportiert werden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Willst du mehr als 9999 Datensätze übertragen?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Dann wird die Ausgabedatei für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen.</p>
</li>
<li>
<p>Dann wähle auch die Option <strong>Cache-Datei generieren</strong> weiter unten.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn mehr als 9999 Datensätze übertragen werden sollen. Um eine optimale Perfomance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>URL</strong> wählen.
Mit dieser Option ist ein externer Zugriff auf die Datei möglich.
Dritte rufen die Datei mit einer URL und einem Authentifizierungs-Token auf.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Token generieren</strong> (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>).<br>
→ Der <strong>Token</strong> und die <strong>URL</strong> werden automatisch eingetragen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit shopzilla die Datei erfolgreich importieren kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welche Artikel beim Export übertragen werden sollen. Dazu einen oder mehrere der folgenden Artikelfilter aus der Dropdown-Liste wählen und auf Hinzufügen klicken. Standardmäßig sind keine Filter voreingestellt. Alle unten aufgeführten Artikelfilter können nacheinander aus der Dropdown-Liste hinzugefügt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten</strong> = Wählen, welche Varianten übertragen werden sollen.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Alle übertragen</strong> = Alle Varianten werden übertragen.</p>
</li>
<li>
<p><strong>Nur Hauptvarianten übertragen</strong> = Nur Hauptvarianten werden übertragen.<br></p>
</li>
<li>
<p><strong>Keine Hauptvarianten übertragen</strong> = Nur die Varianten eines Artikels werden übertragen. Hauptvarianten werden nicht übertragen.<br>
<strong><em>Tipp:</em></strong> Diese Filteroption verwenden, wenn die Hauptvarianten nur virtuell und keine verkaufbaren Produkte sind.</p>
</li>
<li>
<p><strong>Nur Einzelvarianten übertragen</strong> = Nur die Hauptvarianten von Artikeln werden übertragen, die nur eine Hauptvariante und keine Varianten haben.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Märkte</strong> = Eine oder mehrere Auftragsherkünfte wählen. Die gewählten Auftragsherkünfte müssen an der Variante aktiviert sein, damit der Artikel exportiert wird.</p>
</li>
<li>
<p><strong>Währung</strong> = Währung wählen.</p>
</li>
<li>
<p><strong>Kategorie</strong> = Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie angehören, übertragen.</p>
</li>
<li>
<p><strong>Bild</strong> = Aktivieren, damit der Artikel mit Bild übertragen wird. Es werden nur Artikel mit Bildern übertragen.</p>
</li>
<li>
<p><strong>Mandant</strong> = Mandant wählen.</p>
</li>
<li>
<p><strong>Bestand</strong> = Wählen, welche Bestände exportiert werden sollen.</p>
</li>
<li>
<p><strong>Markierung 1-2</strong> = Markierung wählen.</p>
</li>
<li>
<p><strong>Hersteller</strong> = Einen, mehrere oder <strong>ALLE</strong> Hersteller wählen.</p>
</li>
<li>
<p><strong>Aktiv</strong> = Aktivieren, um nur aktive Varianten zu übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob die URL des Artikels oder die URL der Variante übertragen wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mandant wählen. Diese Einstellung wird für den URL-Aufbau verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Suffix für die Produkt-URL eingeben, wenn dies für den Export erforderlich ist.<br>
→ Die Produkt-URL wird um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>übertragen</strong> für die Produkt-URL aktiviert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aus der Dropdown-Liste die Auftragsherkunft wählen, die beim Auftragsimport zugeordnet werden soll.<br>
→ Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Marktplatzkonto aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sprache aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welcher Text als Beschreibungstext übertragen werden soll. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge der Beschreibung beim Export vorgibt. Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden. Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, diese Tags mit Komma trennen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zielland aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ASIN, ISBN oder eine GTIN aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Sonst wird der Barcode nicht exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Erstes Bild</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Position des Energieetikettes eingeben. Alle Bilder, die als Energieetikette übertragen werden sollen, müssen diese Position haben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, um den UVP zu übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung. Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Einstellung muss aktiviert sein, da shopzilla nur spezifische Werte akzeptiert, die hier eingegeben werden müssen.<br>
Weitere Informationen dazu im Kapitel <strong>Verfügbare Spalten der Exportdatei</strong>.
Option <strong>überschreiben</strong> aktivieren und in die Felder <strong>1</strong> bis <strong>10</strong>, die die ID der Verfügbarkeit darstellen, Artikelverfügbarkeiten eingeben. So werden die Artikelverfügbarkeiten, die im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> eingestellt wurden, überschrieben.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Verfügbare Spalten der Exportdatei</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Öffne das Exportformat <strong>ShopzillaDE-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und bei Bedarf anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>ShopzillaDE-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-shopzilla" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Spalten der Exportdatei für das Exportformat <strong>ShopzillaDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Die <strong>SKU</strong> der Variante auf Basis der gewählten Auftragsherkunft in den Formateinstellungen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
<strong>Beschränkung:</strong> kein HTML-Code erlaubt<br>
Entsprechend der Formateinstellung <strong>Artikelname</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
<strong>Beschränkung:</strong> kein HTML-Code erlaubt<br>
Entsprechend der Formateinstellung <strong>Beschreibung</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Der <strong>Kategoriepfad der Standard-Kategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-URL</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Der <strong>URL-Pfad</strong> des Artikels abhängig vom gewählten <strong>Mandanten</strong> in den Formateinstellungen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
<strong>Beschränkung:</strong> <strong>Mindestgröße:</strong> 450 x 450 Pixel / <strong>Maximalgröße:</strong> 1000 x 1000 Pixel<br>
<strong>Erlaubte Dateitypen</strong>: jpg, gif, bmp, png<br>
URL zu dem Bild gemäß der Formateinstellungen <strong>Bild</strong>. Variantenbilder werden vor Artikelbildern priorisiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zusätzliche Bild-URL</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Beschränkung:</strong> <strong>Mindestgröße:</strong> 450 x 450 Pixel / <strong>Maximalgröße:</strong> 1000 x 1000 Pixel<br>
<strong>Erlaubte Dateitypen</strong>: jpg, gif, bmp, png<br>
Liste von Bild-URLs von bis zu 10 zusätzlichen Bildern gemäß der Formateinstellungen <strong>Bild</strong>. Variantenbilder werden vor Artikelbildern priorisiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zustand</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Der <strong>Zustand API</strong> der Variante. <strong>[0]Neu</strong> wird als Neu übertragen. Alle anderen Einstellungen werden als <strong>Gebraucht</strong> übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestand</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
<strong>Erlaubte Werte:</strong> Auf Lager, Nicht vorrätig, Verfügbar, Auf Vorbestellung<br>
Übersetzung gemäß der Formateinstellung <strong>Artikelverfügbarkeit überschreiben</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marke</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Name des Herstellers</strong> des Artikels. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Entsprechend der Formateinstellung <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das <strong>Modell</strong> unter <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Einstellungen » Grundeinstellungen</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Entsprechend der Formateinstellung <strong>Versandkosten</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Erlaubte Werte:</strong> männlich, weiblich, nicht geschlechtspezifisch<br>
Der Wert eines Merkmals vom Typ <strong>Text</strong> oder <strong>Auswahl</strong>, das mit <strong>Shopzilla.de » Geschlecht</strong> verknüpft wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersgruppe</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Erlaubte Werte:</strong> Erwachsene, Kinder<br>
Der Wert eines Merkmals vom Typ <strong>Text</strong> oder <strong>Auswahl</strong>, das mit <strong>Shopzilla.de » Altersgruppe</strong> verknüpft wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größe</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Wert eines Attributs, bei dem die Attributverknüpfung für <strong>Google Shopping</strong> mit <strong>Text</strong> gesetzt wurde. Alternativ der Wert eines Merkmals vom Typ <strong>Text</strong> oder <strong>Auswahl</strong>, das mit <strong>Shopzilla.de » Größe</strong> verknüpft wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Farbe</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Wert eines Attributs, bei dem die Attributverknüpfung für <strong>Google Shopping</strong> mit <strong>Farbe</strong> gesetzt wurde. Alternativ der Wert eines Merkmals vom Typ <strong>Text</strong> oder <strong>Auswahl</strong>, das mit <strong>Shopzilla.de » Farbe</strong> verknüpft wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Material</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Wert eines Attributs, bei dem die Attributverknüpfung für <strong>Google Shopping</strong> mit <strong>Material</strong> gesetzt wurde. Alternativ der Wert eines Merkmals vom Typ <strong>Text</strong> oder <strong>Auswahl</strong>, das mit <strong>Shopzilla.de » Material</strong> verknüpft wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Muster</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Wert eines Attributs, bei dem die Attributverknüpfung für <strong>Google Shopping</strong> mit <strong>Muster</strong> gesetzt wurde. Alternativ der Wert eines Merkmals vom Typ <strong>Text</strong> oder <strong>Auswahl</strong>, das mit <strong>Shopzilla.de » Muster</strong> verknüpft wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktgruppe</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld bei Variantenartikeln</strong><br>
Die Artikel-ID des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <strong>Grundpreisinformation</strong> im Format "Preis / Einheit" (Beispiel: 10,00 EUR / Kilogramm)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Empfohlener Preis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <strong>Verkaufspreis</strong> vom Preis-Typ <strong>UVP</strong> der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Pflichtfeld</strong><br>
Der <strong>Verkaufspreis</strong> der Variante.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Lizenz</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das gesamte Projekt unterliegt der GNU AFFERO GENERAL PUBLIC LICENSE. Weitere Informationen findest du in der Datei <a href="https://github.com/plentymarkets/plugin-elastic-export-shopzilla-de/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>