<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Kundenrezensionen migrieren</span></a></li>
<li><a href="#300"><span>2.</span><span> Kundenrezensionen suchen</span></a></li>
<li><a href="#500"><span>3.</span><span> Kundenrezensionen freischalten</span></a></li>
<li><a href="#700"><span>4.</span><span> Kundenrezensionen bearbeiten</span></a></li>
<li><a href="#900"><span>5.</span><span> Kundenrezensionen löschen</span></a></li>
<li><a href="#1100"><span>6.</span><span> Kundenrezensionen beantworten</span></a>
<ul class="sectlevel2">
<li><a href="#1300"><span>6.1.</span><span> Antworten anzeigen</span></a></li>
<li><a href="#1500"><span>6.2.</span><span> Antworten bearbeiten</span></a></li>
<li><a href="#1700"><span>6.3.</span><span> Antworten löschen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Feedbacks verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis zur Handbuchseite Feedbacks verwalten</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite werden alle Einstellungen, die im Menü <strong>CMS » Feedback-Bewertungen</strong> im Terra-Backend über den zentralen Login-Bereich zur Verfügung stehen, beschrieben. Die Handbuchseite <a href="/webshop/webshop-einrichten/extras/kunden-feedback">Kunden-Feedback</a> und das Kapitel <a href="/webshop/webshop-einrichten/cms#kunden-feedback">Kunden-Feedback</a>, welche die Einstellungen in den Menüs <strong>CMS » Kunden-Feedback</strong> und <strong>Einrichtung » Mandant » Global » Feedback</strong> beschreiben, stehen parallel zur Verfügung. Wenn das neue Menü <strong>CMS » Feedback-Bewertungen</strong> das alte Menü <strong>CMS » Kunden-Feedback</strong> vollständig ersetzt, wird das Menü <strong>CMS » Kunden-Feedback</strong> abgeschaltet und somit auch die Handbuchseite <strong>Kunden-Feedback</strong> entfernt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/plugins/widgets/Feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a> ist ein Plugin für den Webshop <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a>. Installiere das Plugin <strong>Kunden-Feedback</strong>, um Kundenrezensionen im Webshop anzuzeigen und zu beantworten. Im Menü <strong>CMS » Feedback-Bewertungen</strong> schaltest  Kundenrezensionen für die Besucher deines Webshops frei. Hier beantwortest oder bearbeitest du Kundenrezensionen. Auch das Migrieren von bestehenden Rezensionen und das Löschen von Kundenrezensionen ist in diesem Menü möglich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Kundenrezensionen migrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du von deinem Callisto-Webshop auf den Ceres-Webshop umsteigst, stehen dir die Kundenrezensionen nach einer Migration auch im neuen Webshop zur Verfügung. Gehe wie im Folgenden beschrieben vor, um bestehende Kundenrezensionen zu migrieren.</p>
</div>
<div id="200" class="paragraph instruction">
<p>Bestehende Kundenrezensionen migrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Bestehende Feedbacks migrieren</strong>.<br>
→ Die bestehenden Feedbacks werden migriert.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Migration bestehender Kundenrezensionen</div>
<div class="paragraph">
<p>Bei der Migration werden bestehende Kundenrezensionen in die neue Datenbankstruktur überführt. In der neuen Struktur verfügen Rezensionen über maximal 5 Bewertungspunkte. Kundenrezensionen, die bisher eine Bewertungsskala von 10 Punkten hatten, werden bei der Migration auf maximal 5 Punkte umgerechnet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 bis 2 Sterne werden zu 1 Stern</p>
</li>
<li>
<p>3 bis 4 Sterne werden zu 2 Sternen</p>
</li>
<li>
<p>5 bis 6 Sterne werden zu 3 Sternen</p>
</li>
<li>
<p>7 bis 8 Sterne werden zu 4 Sternen</p>
</li>
<li>
<p>9 bis 10 Sterne werden zu 5 Sternen</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Kundenrezensionen suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Ansicht <strong>Filter</strong> hast du die Möglichkeit, Kundenrezensionen nach bestimmten Kriterien zu suchen. Die Suchergebnisse werden dann in der Ansicht <strong>Übersicht</strong> angezeigt. In der Übersicht werden aktuell die folgenden Informationen angezeigt: ID, Typ, Referenz-ID, Titel, Autor, Datum, Kommentar, Bewertung, Antworten und Sichtbarkeit. Wie du Rezensionen bearbeitest, erfährst du unter <a href="#700">Kundenrezensionen bearbeiten</a>.</p>
</div>
<div class="paragraph">
<p>Um bestimmte Kundenrezensionen zu suchen, gib die dir bekannten IDs in das Suchfeld ein oder wähle die Einstellungen der Dropdown-Listen.</p>
</div>
<div id="400" class="paragraph instruction">
<p>Kundenrezension suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Gib in der Ansicht <strong>Filter</strong> gesuchte IDs in das Suchfeld ein bzw. stellst du Filteroptionen in den Dropdown-Listen ein. Beachte dazu die Erläuterungen in <a href="#tabelle-filter-rezensionen">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Kundenrezensionen, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Kundenrezension.<br>
→ Die Detailansicht der Kundenrezension wird geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-filter-rezensionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Filter für die Rezensionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne gewählte Filtereinstellungen auf <strong>Suchen</strong> klicken, um alle Kundenrezensionen anzuzeigen. Alternativ die Suchergebnisse durch Filtereinstellungen eingrenzen und auf <strong>Suchen</strong> klicken. Die gefundenen Kundenrezensionen werden in der Übersicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eingestellte Filterkriterien zurücksetzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feedback-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jede Kundenrezension erhält automatisch eine fortlaufende und einzigartige ID. Die ID entspricht immer einer echten Zahl. Ungültig sind z.B. <strong>00521</strong> oder <strong>ADF8354</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle</strong>, <strong>Ja</strong> oder <strong>Nein</strong> wählen.<br>
<strong>Alle</strong> = Alle Kundenrezensionen werden in der Übersicht angezeigt.<br>
<strong>Ja</strong> = Nur Kundenrezensionen, die im Webshop sichtbar sind, werden in der Übersicht angezeigt.<br>
<strong>Nein</strong> = Nur Kundenrezensionen, die nicht im Webshop sichtbar sind, werden in der Übersicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Von Bewertung;<br>
Bis Bewertung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bewertungspunkte wählen, um Kundenrezensionen mit dieser Bewertung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Von;<br>
Bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum eingeben oder Datum im Kalender wählen, um Kundenrezensionen zu suchen, die in dieser Zeitspanne abgegeben wurden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">3. Kundenrezensionen freischalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du die automatische Freischaltung von Kundenrezensionen im Plugin deaktivierst, schaltest du Kundenrezensionen manuell frei.</p>
</div>
<div id="600" class="paragraph instruction">
<p>Kundenrezensionen manuell freischalten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Aktiviere eine oder mehrere Kundenrezensionen.</p>
</li>
<li>
<p>Klicke auf <strong>Sichtbar</strong>, um die Rezensionen sichtbar zu schalten.<br>
→ Kundenrezensionen werden in der Einzelansicht eines Artikels angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Kundenrezensionen bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald Kundenrezensionen in deinem Webshop eingehen, werden die Rezensionen im Menü <strong>CMS » Feedback-Bewertungen</strong> gelistet. Hier stellst du Kundenrezensionen sichtbar oder unsichtbar und bearbeitest Texte, die beispielsweise nicht deiner Netiquette entsprechen. Wenn du einen Rezensionstext bearbeiten möchtest, gehe wie folgt vor.</p>
</div>
<div id="800" class="paragraph instruction">
<p>Kundenrezensionen bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Klicke auf die gewünschte Kundenrezension.<br>
→ Die Kundenrezension wird geöffnet.</p>
</li>
<li>
<p>Ändere den Titel.</p>
</li>
<li>
<p>Ändere den Rezensionstext.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Kundenrezension wird im Webshop aktualisiert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">5. Kundenrezensionen löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lösche Kundenrezensionen, um diese aus dem Webshop zu entfernen. Alternativ kannst du Kundenrezensionen unsichtbar schalten.</p>
</div>
<div id="1000" class="paragraph instruction">
<p>Kundenrezensionen löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Aktiviere eine oder mehrere Kundenrezensionen.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Das Fenster <strong>Feedbacks löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ok</strong>, um die Rezensionen zu löschen.<br>
→ Die Kundenrezensionen werden gelöscht.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">6. Kundenrezensionen beantworten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du auf eine Kundenrezension antworten möchtest, gehen wie folgt vor.</p>
</div>
<div id="1200" class="paragraph instruction">
<p>Kundenrezensionen beantworten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Klicke auf die gewünschte Kundenrezension.<br>
→ Die Kundenrezension wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Antworten</strong>.<br>
→ Das Antwortfeld wird geöffnet.</p>
</li>
<li>
<p>Gib eine Antwort ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Antwort wird hinzugefügt und im Webshop angezeigt.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="1300">6.1. Antworten anzeigen</h3>
<div class="paragraph">
<p>Antworten zu Kundenrezensionen zeigst du auch in der Detailansicht einer Rezension an.</p>
</div>
<div id="1400" class="paragraph instruction">
<p>Antworten anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Klicke auf die gewünschte Kundenrezension.<br>
→ Die Kundenrezension wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Feedback-Antworten</strong>.<br>
→ Die Liste mit Antworten wird geöffnet.</p>
</li>
<li>
<p>Klicke auf eine Antwort.<br>
→ Die Antwort wird angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1500">6.2. Antworten bearbeiten</h3>
<div class="paragraph">
<p>Bearbeite Antworten auf Kundenrezensionen folgendermaßen.</p>
</div>
<div id="1600" class="paragraph instruction">
<p>Antworten bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Klicke auf die gewünschte Kundenrezension.<br>
→ Die Kundenrezension wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Feedback-Antworten</strong>.<br>
→ Die Liste mit Antworten wird geöffnet.</p>
</li>
<li>
<p>Klicke auf eine Antwort.</p>
</li>
<li>
<p>Bearbeite den Antworttext.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Antwort wird aktualisiert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">6.3. Antworten löschen</h3>
<div class="paragraph">
<p>Schließlich ist es ebenfalls möglich Antworten auf Kundenrezensionen zu löschen.</p>
</div>
<div id="1800" class="paragraph instruction">
<p>Antworten löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Feedback-Bewertungen</strong>.</p>
</li>
<li>
<p>Klicke auf die gewünschte Kundenrezension.<br>
→ Die Kundenrezension wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Antworten anzeigen</strong>.<br>
→ Die Liste mit Antworten wird geöffnet.</p>
</li>
<li>
<p>Klicke auf eine Antwort.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Das Fenster <strong>Antwort löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ok</strong>.<br>
→ Die Antwort wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>