<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> IO in plentymarkets einrichten</span></a></li>
<li><a href="#20"><span>2.</span><span> IO-Konfiguration bearbeiten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>IO einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Der plentymarkets Webshop ist auf zwei unterschiedliche Plugins aufgeteilt: <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a> stellt das Webshop-Design zur Verfügung und kann nach deinen Bedürfnissen angepasst werden.
Das Plugin <a href="https://marketplace.plentymarkets.com/plugins/templates/IO_4696" target="_blank" rel="noopener">IO</a> beinhaltet die PHP-Grundfunktionen des Webshops und stellt die Logik-Grundlage für sämtliche Design-Plugins dar.
Auf dieser Handbuchseite erfährst du, wie du das Plugin IO einrichtest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. IO in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um einen Ceres Webshop einzurichten, müssen die Plugins Ceres und IO in einem <a href="/basics/erste-schritte/plugins#20">Plugin-Set</a> gespeichert und bereitgestellt werden.
Außerdem muss IO im Menü <strong>Plugins » Plugin Übersicht</strong> über die Funktion <strong>Position festlegen</strong> die höchste Positionsnummer im Plugin-Set zugewiesen werden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Alter Webshop Callisto nicht mehr erreichbar</div>
<div class="paragraph">
<p>Wenn Du die Template-Plugins <strong>Ceres</strong> und <strong>IO</strong> in einem Plugin-Set <a href="/basics/erste-schritte/plugins#70">aktivierst</a>, ist der alte plentymarkets Webshop Callisto nicht mehr erreichbar, da <strong>Ceres</strong> und <strong>IO</strong> die URL des Webshops übernehmen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn die oben genannten Vorarbeiten geleistet sind, klicke im Menü <strong>Plugins » Plugin Übersicht</strong> auf das Plugin <strong>IO</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. IO-Konfiguration bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die <strong>IO</strong>-Konfiguration ist in die 3 Tabs <strong>Template</strong>, <strong>Zahlenformate</strong> und <strong>Routing</strong> untergliedert.</p>
</div>
<table id="tabelle-IO-Konfiguration" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. IO-Konfiguration anpassen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Template</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des verwendeten Template-Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen des verwendeten Template-Plugins eingeben. In nahezu allen Fällen ist dieser Name <strong>Ceres</strong>. Anwender, die Ceres durch ein komplett eigenes Template-Plugin ersetzen möchten, müssen hier den Namen dieses Templates eingeben, damit IO korrekt mit diesem in Interaktion tritt. Diese Einstellung ist nur für sehr fortgeschrittene Anwedender gedacht. Sollte hier ein anderer Name eingegeben werden, obwohl das <strong>Ceres</strong> Template-Plugin verwendet wird, wird es zu Fehlern im Webshop kommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Zahlenformate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl der Nachkommastellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Nachkommastellen eingeben. Standardmäßig sind zwei Nachkommastellen eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dezimaltrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dezimaltrennzeichen eingeben. Standardmäßig ist das Komma als Dezimaltrennzeichen eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tausendertrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tausendertrennzeichen eingeben. Standardmäßig ist der Punkt als Tausendertrennzeichen eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenspezifisches Preisformat verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Preise im jeweiligen Preisformat deiner Webshop-Besucher angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Routing</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Routen aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die von Ceres verwendeten Routen. Für die Verwendung von <strong>Ceres</strong> müssen alle Routen aktiviert sein. Für die Verwendung des <strong>Ceres-Checkouts</strong> in Callisto müssen einige Routen deaktiviert werden. Nähere Informationen hierzu findest du in unserem <a href="/webshop/best-practices#checkout">Best Practice</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>