<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Standard-Mandanten einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#40"><span>1.2.</span><span> (Alt: CMS &amp; Webshop) Sprachpakete bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#60"><span>2.</span><span> Weitere Mandanten verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>2.1.</span><span> Weitere Mandanten buchen</span></a></li>
<li><a href="#90"><span>2.2.</span><span> Weitere Mandanten einrichten</span></a></li>
<li><a href="#110"><span>2.3.</span><span> Artikel auf Mandanten verteilen</span></a></li>
<li><a href="#130"><span>2.4.</span><span> Mehrere Mandanten mit einem Webshop verknüpfen</span></a></li>
<li><a href="#150"><span>2.5.</span><span> Mandanten kündigen</span></a></li>
</ul>
</li>
<li><a href="#220"><span>3.</span><span> Verbindungen zu anderen Menüs</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mandanten verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>System&nbsp;» Mandant</strong> verwaltest du deinen <a href="#10">Standard-Mandanten</a> sowie zusätzliche Mandanten (Shops). Hier verknüpfst du zudem mehrere <a href="/webshop/mandanten-einrichten/webshop">Webshops</a> mit einem Backoffice/Administrationsbereich. Mit dieser Funktionalität kannst du <a href="#60">weitere Mandanten (Shops)</a> parallel zu deinem Standard-Webshop einrichten. In einem plentymarkets System können bis zu 30 eigenständige Mandanten (Shops) eingerichtet und verwaltet werden. Mandanten sind datentechnisch geschlossene, eigenständige Systeme. Es ist somit möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Standard-Mandanten einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen</strong> speicherst du verschiedene Einstellungen für deinen <a href="/webshop/mandanten-einrichten/webshop">Webshop</a> und richten den <a href="/crm/e-mails-versenden#700">E-Mail-Dienst</a> für den Standard-Mandanten ein. Des Weiteren findst du in diesem Menü die Einstellungen zur <a href="/webshop/webshop-einrichten/cms-syntax#fallbeispiele-seo-guide">Suchmaschinenoptimierung</a>, mit denen du deinen Webshop im Internet optimal auffindbar machst. Darüber hinaus richtest du die Anzeige von <a href="/artikel/kategorien">Kategorien</a>, den <a href="/webshop/webshop-einrichten/mein-konto">Mein Konto</a>-Bereich und den <a href="/webshop/webshop-einrichten/bestellvorgang">Bestellvorgang</a> deines Webshops ein. Auch Informationen zu den Grundeinstellungen deiner <a href="/webshop/webshop-einrichten/artikelansichten">Artikelansichten</a> findest du hier.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Grundeinstellungen vornehmen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Grundeinstellungen</strong> werden die IDs deines Webshops angezeigt sowie weitere Grunddaten wie der Webstore-Typ und die Domain. Nimm die Einstellungen wie folgt vor.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Benutzer werden ausgeloggt</div>
<div class="paragraph">
<p>Wenn du in diesem Menü Änderungen vornimmst, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündige Änderungen daher ggf. weiteren Benutzern an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="30" class="paragraph instruction">
<p>Grundeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-grundeinstellungen-mandant">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-grundeinstellungen-mandant" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webstore-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Webstore-ID ist die ID eines Webshops bzw. Mandanten. Ein externer Shop erhält ebenfalls eine Webstore-ID. Diese ID ist eindeutig und nicht änderbar.<br>
Standard-Webshop = <strong>0</strong><br>
Erster Mandant (Shop) = <strong>1</strong><br>
Zweiter Mandant (Shop) = <strong>2</strong><br>
usw.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plenty-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID des plentymarkets Systems. Diese ID ist eindeutig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webstore-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Typ des Webshops, z.B. <strong>plentymarkets</strong> oder <strong>Shopware</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die URL der <a href="/basics/admin-aufgaben/plentymarkets-konto#domain">Domain</a> des Mandanten (Shops). Eine Domain bezeichnet in der Regel eine Internetadresse in Form eines Namens sowie einer Erweiterung, d.h. der Top Level Domain, beides getrennt durch einen Punkt. Wenn ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> angelegt wurde, wird die URL des Mandanten mit <strong>https</strong> statt <strong>http</strong> angezeigt. Über das <strong>Auge</strong> wird der Webshop geöffnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name des Webshops. Der Name ist änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Standardsprache des Webshops wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Standort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Standort wählen, der als Standard gelten soll. Dieser wird dann z.B. auch im Bestellvorgang im Webshop verwendet, was u.a. die Anzeige der MwSt. beeinflusst. Der gewählte Standard-Standort ist nicht löschbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein oder mehrere eBay-Konten wählen (Mehrfachauswahl mit <strong>Strg bzw. cmd + Mausklick</strong>), die unter <a href="/maerkte/ebay-einrichten#65">System&nbsp;» Märkte&nbsp;» eBay&nbsp;» Konten</a> eingerichtet wurden. Diese Konten werden mit dem Shop verknüpft. Die Aufträge verknüpfter eBay-Konten werden automatisch diesem Shop zugeordnet.<br>
<strong><em>Wichtig</em></strong>: Wenn ein eBay-Konto mit zwei verschiedenen Shops verknüpft wird, werden die Aufträge des Kontos dem Shop mit der niedrigeren ID zugeordnet.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="40">1.2. (Alt: CMS &amp; Webshop) Sprachpakete bearbeiten</h3>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Diese Funktionalität ist nur für den alten Webshop Callisto verfügbar. Für Webshops, die über das Ceres-Template aufgesetzt wurden, passst du Sprachdateien im Menü <strong>CMS » Mehrsprachigkeit</strong> an. Weitere Informationen hierzu findest du <a href="/webshop/ceres-einrichten#231">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Sprachpakete enthalten die vom System verwendeten Begriffe und Texte, die vorgegeben sind und automatisch im jeweiligen Bereich eingesetzt werden, z.B. <strong>Kategorie wählen</strong> oder <strong>In den Warenkorb</strong>. Du hast die Möglichkeit, die vom System verwendeten Texte des Bestellvorgangs sowie des <strong>Mein Konto</strong>-Bereichs anzupassen. Du kannst an den Standardübersetzungen der folgenden vier Textbereiche Änderungen vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Allgemeine Texte</p>
</li>
<li>
<p>Hinweise</p>
</li>
<li>
<p>Fehlermeldungen</p>
</li>
<li>
<p>Warnungen</p>
</li>
</ul>
</div>
<div id="50" class="paragraph instruction">
<p>Texte der Sprachpakete bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System&nbsp;» Mandant » Global&nbsp;» Sprachpakete</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Sprache</strong> ein Sprachpaket.</p>
</li>
<li>
<p>Wähle einen <strong>Bereich</strong>.</p>
</li>
<li>
<p>Klicke auf die <strong>Lupe</strong>.<br>
→ Die Liste der <strong>Texte</strong> wird angezeigt.</p>
</li>
<li>
<p>Bearbeite die Texte in der Spalte <strong>Eigene Übersetzung</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">2. Weitere Mandanten verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Nutzung weiterer Mandanten (Shops) bietet sich an, wenn sehr verschiedenartige Produktbereiche über unterschiedliche Domains und Webshops angeboten werden sollen. Die Verwaltung der Aufträge und Artikel läuft dabei über ein zentrales System. Für die einzelnen Webshops kann bestimmt werden, welches Design angezeigt werden soll und welche Artikel angeboten werden sollen. Die Abwicklung der Aufträge inklusive Rechnungsdruck und E-Mail-Service läuft zentral über ein System. Es ist dabei eine Unterscheidung der <a href="/auftraege/auftragsdokumente#200">Nummernkreise</a> pro Mandant (Shop) und pro Lieferland möglich.</p>
</div>
<div class="sect2">
<h3 id="70">2.1. Weitere Mandanten buchen</h3>
<div class="paragraph">
<p>Buche einen oder mehrere zusätzliche Mandanten im Service-Center.</p>
</div>
<div class="paragraph instruction">
<p>Weitere Mandanten buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Start&nbsp;» plentymarkets Konto: Service-Center</strong>.<br>
→ Der <strong>Mein Konto</strong>-Bereich wird geöffnet.</p>
</li>
<li>
<p>Klappe das System auf, für das du weitere Mandanten buchen möchtest.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Vertrag</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Tarifkonfigurator öffnen</strong>.</p>
</li>
<li>
<p>Füge im Bereich <strong>Online-Shop</strong> einen oder mehrere Mandanten hinzu.</p>
</li>
<li>
<p>Nimm ggf. weitere Änderungen an deinem System vor.</p>
</li>
<li>
<p>Klicke auf <strong>Weiter</strong>.</p>
</li>
<li>
<p>Klicke im Bestellschritt <strong>Ihr System</strong> auf <strong>Systemänderungen bestellen</strong>.<br>
→ Der neue Mandant (Shop) wird gebucht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">2.2. Weitere Mandanten einrichten</h3>
<div class="paragraph">
<p>Nachdem ein weiterer Mandant (Shop) im Service-Center gebucht wurde, nimmst du die Einstellungen unter <strong>System&nbsp;» Mandant</strong> im Menü des Mandanten vor. Die Einstellungsmöglichkeiten entsprechen weitgehend den Einstellungen des Standard-Webshops. Beachte daher die Erläuterungen im Kapitel <a href="#10">Standard-Mandanten einrichten</a>. In der folgenden Tabelle findest du Informationen zu den Einstellungen, die sich von den Webshop-Standardeinstellungen unterscheiden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Menübezeichnung</div>
<div class="paragraph">
<p>Jeder weitere Webshop bzw. Mandant (Shop) wird in einer eigenen Menüstruktur unterhalb des Menüs <strong>System&nbsp;» Mandant</strong> eingerichtet. Das Menü erhält dabei den Namen des Webshops und wird bei Änderungen automatisch angepasst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="100" class="paragraph instruction">
<p>Weitere Mandanten einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System&nbsp;» Mandant&nbsp;» Mandant wählen&nbsp;» Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in den Tabellen 1 und 2.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Individuelle Einstellungen für Mandanten (Shops)</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Menü <a href="/webshop/webshop-einrichten#infoseiten">Webshop&nbsp;» Seiten</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Bankdaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Seite die <a href="/payment/bankdaten-verwalten">Bankdaten</a> enthält. Diese Seite wird als Teil der Bestellbestätigung im Webshop angezeigt.<br>
<strong><em>Wichtig:</em></strong> Wird diese Einstellung verwendet, unter <a href="/payment/zahlungsarten-verwalten">System&nbsp;» Aufträge&nbsp;» Zahlung&nbsp;» Zahlungsarten</a> bei den Zahlungsarten <strong>Rechnung</strong> und <strong>Vorkasse</strong> die Option <strong>Bankdaten anzeigen</strong> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Menü <a href="/webshop/webshop-einrichten/bestellvorgang">Bestellvorgang&nbsp;» Grundeinstellungen</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardlieferland als Firmensitz verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> wählen, wenn die steuerbezogenen Einstellungen, z.B. die MwSt., im System an das eingestellte Standardlieferland angepasst werden sollen.<br>
<strong><em>Wichtig:</em></strong> Für das Standardlieferland müssen im Menü <a href="/auftraege/buchhaltung">System&nbsp;» Mandant » Mandant wählen&nbsp;» Buchhaltung</a> Steuersätze hinterlegt sein.<br>
<strong><em>Beispiel</em></strong>: Ein Händler mit Sitz in Deutschland hat viele Kunden in Frankreich und richtet für diesen Markt einen Mandanten (Shop) ein. Er wählt <strong>Frankreich</strong> als <strong>Standardlieferland</strong>. Mit der Einstellung <strong>Ja</strong> bei <strong>Standardlieferland als Firmensitz verwenden</strong> wird nun Frankreich als <strong>Systemland</strong> für diesen Mandanten übernommen. Alle damit verbundenen Prozesse werden jetzt behandelt, als würde sich der Firmensitz in Frankreich befinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Menü <a href="/crm/e-mails-versenden">E-Mail</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Einstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine gegenüber dem Webshop abweichende E-Mail-Konfiguration für einen Mandanten (Shop) im Untermenü <a href="/crm/e-mails-versenden">E-Mail</a> einrichten. Wenn das gleiche Konto verwendet werden soll, die Einstellungen des Standard-Webshops übernehmen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="110">2.3. Artikel auf Mandanten verteilen</h3>
<div class="paragraph">
<p>Welche Artikel in welchem Mandanten (Shop) angeboten werden, steuerst du über die Verknüpfung mit Kategorien. In jedem Mandanten werden nur die Kategorien angezeigt, die im Menü <a href="/artikel/artikel-verwalten#230">Artikel&nbsp;» Kategorien</a> für diesen Mandanten aktiviert werden.</p>
</div>
<div id="120" class="paragraph instruction">
<p>Kategorien aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel&nbsp;» Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie, die du für einen oder mehrere Mandanten (Shops) aktivieren möchtest.</p>
</li>
<li>
<p>Markiere die Mandanten (Shops), in denen du Artikel dieser Kategorie anbieten möchtest.</p>
</li>
<li>
<p>Wähle ggf. die Option <strong>Sichtbarkeit auf Unterkategorien übertragen</strong>, um die Auswahl auf alle Unterkategorien der Kategorie zu übertragen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Kategorie ist in den gewählten Mandanten (Shops) sichtbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wie du die Verfügbarkeit und Sichtbarkeit von Artikeln einstellst, erfährst du unter <a href="/artikel/artikel-verwalten#230">Verfügbarkeit von Varianten einstellen</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">2.4. Mehrere Mandanten mit einem Webshop verknüpfen</h3>
<div class="paragraph">
<p>Die Verteilung der Kategorien auf mehrere Mandanten kann auch angewendet werden, wenn nur ein Webshop eingerichtet ist. Dieses Verfahren ist empfehlenswert, wenn ein Artikelkategoriebaum mit der Zeit stark angewachsen ist und der Webshop-Kunde den Überblick verlieren könnte. Mithilfe der Mandanten kann schnell eine weitere Kategorieebene eingefügt werden, um so den Kategoriebaum übersichtlicher zu gestalten.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mandanten mit Webshop verknüpfen</div>
<div class="paragraph">
<p>Lege Mandanten nach Themen sortiert an. Aktiviere dann die Kategorien je nach gewünschtem Sortiment des Shops. Pro Shop werden nur die Kategorien des Mandanten angezeigt, die im Menü <a href="/artikel/kategorien-verwalten#2">Artikel&nbsp;» Kategorien</a> gewählt wurden. Zusätzlich zur Standard-Kategorienavigation (<a href="#bild-zusaetzliche-navigationsleiste-webshop">Bild 1</a> , lila Pfeil) wird das <a href="/webshop/cms#webdesign">Webshop-Design</a> um eine weitere Navigation, beispielsweise am Seitenkopf, erweitert (<a href="#bild-zusaetzliche-navigationsleiste-webshop">Bild 1</a> , grüner Pfeil). Dort werden die Mandanten verlinkt. Die Navigationsleiste zu den einzelnen Mandanten ist in diesem Fall über die Template-Funktion <strong>Link_Store(X)</strong> verfügbar. Anstelle des X gibst du die ID des Shops an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Sind die Webshops mittels Link (Banner) miteinander verknüpft, bleibt der Warenkorb beim wechsel zwischen 2 Webshops erhalten.</p>
</div>
<div id="bild-zusaetzliche-navigationsleiste-webshop" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/DE-Einstellungen-Mandant-Shop-02.png" alt="DE Einstellungen Mandant Shop 02">
</div>
<div class="title">Bild 1. Zusätzliche Navigationsleiste im Webshop (grüner Pfeil)</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p><a href="#bild-zusaetzliche-navigationsleiste-webshop">Bild 1</a> zeigt ein Beispiel für einen Webshop (schwitzen.com), mit dem ein Mandant (organicum.de) verknüpft wurde. In der Navigationsleiste oben ist der Mandant (Shop) organicum.de verlinkt. Angenommen, dieser Mandant (Shop) hat im plentymarkets Backend die ID 2. Der Link zu organicum.de sieht im Design dann wie folgt aus: <strong>&lt;a href="&#123;&#37; Link_Store(2) &#37;&#125;"&gt;organicum.de&lt;/a&gt;</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="150">2.5. Mandanten kündigen</h3>
<div class="paragraph">
<p>Nicht mehr benötigte Mandanten kündigst im Service-Center von plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Daten bei Kündigung sichern</div>
<div class="paragraph">
<p>Sichere die Daten eines Mandanten, die du noch benötigst, bevor du den Mandanten kündigst. Mandantenabhängige Daten, die später noch genutzt werden sollen, z.B. Scheduler oder Aufträge, sicherst du durch die Zuordnung zu einem anderen vorhandenen Mandanten. Umsätze sicherst du durch einen Umsatzexport, Layouts und sonstige Daten durch einen dynamischen Export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="155" class="paragraph instruction">
<p>Mandanten kündigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Start&nbsp;» plentymarkets Konto: Service-Center</strong>.<br>
→ Der <strong>Mein Konto</strong>-Bereich wird geöffnet.</p>
</li>
<li>
<p>Klappe das System auf, für das das Mandanten kündigen möchtest.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Mandant (Shop)</strong>.</p>
</li>
<li>
<p>Kündige den Mandanten.</p>
</li>
<li>
<p>Kündige ggf. die Domain des Mandanten.</p>
</li>
<li>
<p>Bestätige die Kündigung.<br>
→ Du erhältst umgehend eine Bestätigung der Kündigung.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="220">3. Verbindungen zu anderen Menüs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Arbeit mit dem <a href="/crm/ticketsystem-nutzen">Ticketsystem</a> bzw. für das Versenden eines <a href="/crm/newsletter-versenden">Newsletters</a> musst du deine Konfigurationen im Bereich <a href="/crm/e-mails-versenden">E-Mail</a> hinterlegt haben. Darüber hinaus legst du mit den Einstellungen im Bereich Artikelansichten den Grundstein für die Verwaltung deiner <a href="/artikel/artikel-verwalten">Artikel</a>.</p>
</div>
<div class="paragraph">
<p>Wichtige Seiten zum Thema direkt aufrufen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/webshop/webshop-einrichten#rechtliche-angaben">Rechtliche Angaben</a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#100">Zugangsdaten</a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#1200">E-Mail-Vorlagen</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/artikelansichten">Artikelansichten</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#40">URL-Aufbau</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#120120">sitemap-XML</a></p>
</li>
<li>
<p><a href="/artikel/kategorien">Kategorien</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/mein-konto">Mein Konto</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/bestellvorgang">Bestellvorgang</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/extras">Extras</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/extras/trusted-shops">Trusted Shops</a></p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/module">Module</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>