<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_einstiegspunkte"><span>1.</span><span> Einstiegspunkte</span></a></li>
<li><a href="#_anzeigeoptionen"><span>2.</span><span> Anzeigeoptionen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyShop-Vorschau</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit der plentyShop-Vorschau kannst du dir deinen Shop in einem Zustand ansehen, auf den deine Kund:innen keinen Zugriff haben. So kannst du z.B. ein neues Design testen bevor du es öffentlich machst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstiegspunkte">1. Einstiegspunkte</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst die Vorschau (<span class="icon blue"><i class="fa fa-eye  "></i></span>) in verschiedenen Bereichen des Backends aufrufen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Seite in ShopBuilder</p>
</li>
<li>
<p>Kategorie im Menü <strong>Artikel » Kategorien</strong></p>
</li>
<li>
<p>Artikel</p>
</li>
<li>
<p>Variante</p>
</li>
<li>
<p>Plugin-Set</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Je nach Bereich musst du auswählen, für welches Plugin-Set oder welchen Mandanten du die Vorschau aufrufen möchtest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_anzeigeoptionen">2. Anzeigeoptionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Vorschau kannst du verschiedene Inhalte ein- und ausblenden. Weitere Informationen zu den einzelnen Optionen findest du in folgender Tabelle:</p>
</div>
<table id="tabelle-vorschau-optionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen in der plentyShop-Vorschau</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nicht verfügbare Artikel anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig werden nur Artikel angezeigt, die für den gewählten Mandant verfügbar sind. Aktivierst du diese Option, werden stattdessen alle Artikel deines Systems angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Vorschau anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schalte die Vorschau an oder aus. Wenn du die Vorschau ausschaltest, kannst du in der Dropdown-Liste nur das Plugin-Set wählen, das mit dem aktuellen Mandanten verknüpft ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Widgets direkt rendern</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Lade alle Vorlagen direkt aus deinen ShopBuilder-Widgets.<br>
<strong><em>Wichtig</em>:</strong> Im Live-Betrieb werden die Vorlagen nicht direkt geladen. Dort wird auf Vorlagen zugegriffen, die beim Bereitstellen des Plugin-Sets kompiliert werden. Deswegen können sich Vorschau und Live-Ansicht unterscheiden, wenn diese Option aktiviert ist.<br></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>