<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines"><span>1.</span><span> Allgemeines</span></a></li>
<li><a href="#grundeinstellungen"><span>2.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#webshop-sperren"><span>3.</span><span> Webshop sperren</span></a></li>
<li><a href="#weiterleitung"><span>4.</span><span> Weiterleitung auf mobile Endgeräte einrichten</span></a></li>
<li><a href="#_verhalten_im_404_fehlerfall_festlegen"><span>5.</span><span> Verhalten im 404-Fehlerfall festlegen</span></a></li>
<li><a href="#rechtliche-angaben"><span>6.</span><span> Rechtliche Angaben</span></a>
<ul class="sectlevel2">
<li><a href="#_text_eintragen"><span>6.1.</span><span> Text eintragen</span></a></li>
<li><a href="#_template_variablen_und_funktionen_einbinden"><span>6.2.</span><span> Template-Variablen und -Funktionen einbinden</span></a>
<ul class="sectlevel3">
<li><a href="#_template_variablen_für_kategorieseiten"><span>6.2.1.</span><span> Template-Variablen für Kategorieseiten</span></a></li>
<li><a href="#_template_funktionen_für_die_verlinkung_von_kategorieseiten"><span>6.2.2.</span><span> Template-Funktionen für die Verlinkung von Kategorieseiten</span></a></li>
<li><a href="#_template_variablen_für_e_mail_vorlagen"><span>6.2.3.</span><span> Template-Variablen für E-Mail-Vorlagen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#infoseiten"><span>7.</span><span> Allgemeines über das Menü Seiten</span></a>
<ul class="sectlevel2">
<li><a href="#_konfiguration"><span>7.1.</span><span> Konfiguration</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alt: CMS &amp; Callisto-Webshop</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Der neue Webshop <strong>Ceres</strong></div>
<div class="paragraph">
<p>Webshop-Projekte werden ab sofort auf Basis des Webshop-Plugins <a href="/webshop/ceres-einrichten">Ceres</a> umgesetzt. Der neue Webshop nutzt die aktuelle und zukunftssichere <a href="/basics/erste-schritte/plugins">Plugin-Technologie</a> und kann einfach und individuell durch zusätzliche Plugins aus dem <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erweitert werden.</p>
</div>
<div class="paragraph">
<p>Webshops, die mit dem alten CMS erstellt wurden, werden für einen Übergangszeitraum natürlich weiterhin gepflegt, aber funktionell nicht mehr erweitert. Wir empfehlen bei allen geplanten Projekten ab sofort auf <strong>Ceres</strong> zu setzen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>plentymarkets verfügt über eine vollintegrierte Webshop-Funktionalität (B2B &amp; B2C), wobei jeder Webshop über eine eigene Domain erreichbar ist. Über das integrierte CMS (Content Management System) können inhaltliche und grafische Änderungen sowie Erweiterungen vorgenommen werden. Individuelle Webshop-Templates können in Form eines vollständigen Webshop-Designs mit vorkonfigurierten Einstellungen im Menü <a href="/webshop/webshop-einrichten/cms">CMS</a> direkt importiert werden. Alternativ kann auch eine externe Agentur eingesetzt werden oder du realisierst dein Webshop-Design z. B. über unsere zertifizierten Dienstleister (kostenpflichtig).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines">1. Allgemeines</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Informationen zu verschiedenen Menüs deines Webshops. Neben <a href="#grundeinstellungen">Grundeinstellungen</a> zum Webshop erfährst du in diesem Kapitel, wie du Einstellungen unter
Multilingualismus vornimmst, um deinen Webshop mehrsprachig aufzubauen, und wie du im Menü <a href="/payment/waehrungen">Währung</a>
die entsprechenden Währungen verwaltest. Darüber hinaus kannst du in diesem Menü deinen <a href="#webshop-sperren">Webshop sperren</a>
oder mobile <a href="#weiterleitung">Weiterleitungen</a> hinterlegen. Auch <a href="#rechtliche-angaben">rechtliche Angaben</a> hinterlegst du in diesem Bereich deines plentymarkets Systems.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>System&nbsp;» Mandant&nbsp;» Standard&nbsp;» Webshop&nbsp;» Einstellungen</strong> konfigurierst du die grundlegenden Einstellungen deines Webshops.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Benutzer werden ausgeloggt</div>
<div class="paragraph">
<p>Wenn du in diesem Menü Änderungen vornimmst, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündige Änderungen daher ggf. weiteren Benutzern an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="grundeinstellungen">2. Grundeinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du findest in der nachfolgenden Tabelle detaillierte Informationen zu den Optionen dieses Menüs und können damit das Aussehen deines Webshops und die Funktionen, die du verwenden möchtest, individuell einstellen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen für deinen Webshop konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-menu-grundeinstellungen-webshop">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-menu-grundeinstellungen-webshop" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Menü <strong>Grundeinstellungen</strong> für den Webshop</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload Favicon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn gewünscht, ein Icon hochladen, das den Webshop kennzeichnet und zum Beispiel in der Adresszeile eines Browsers links von der URL angezeigt wird.<br>
<strong><em>Wichtig:</em></strong> Es können nur Icons mit dem Datenformat .ico verwendet werden.<br>
Informationen zu Favicons z.B. unter <a href="http://de.wikipedia.org/wiki/Favicon" target="_blank" rel="noopener">Wikipedia</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumenttyp-Deklaration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier die HTML-Version für den Webshop wählen, wobei die Einstellung auch für vorhandene Mandanten wirksam wird. Es stehen die Optionen <strong>HTML 5</strong>, <strong>HTML 4.0 Transitional (Grundeinstellung)</strong>, <strong>HTML 4.01 Transitional</strong> und <strong>XHTML 1.0 Transitional</strong> zur Auswahl.<br>
Für HTML gibt es sogenannte Dokumenttyp-Definitionen. Dort ist geregelt, welche Elemente ein Dokument vom Typ HTML enthalten darf, welche Elemente innerhalb von welchen anderen vorkommen dürfen, welche Attribute zu einem Element gehören, ob die Angabe dieser Attribute Pflicht ist oder freiwillig usw.<br>
<strong><em>Wichtig:</em></strong> Beachten, dass je nach HTML-Version unterschiedliche Elemente verfügbar sind. Das bedeutet, dass die Codes, die verwendet werden, der hier eingestellten HTML-Version entsprechen müssen. Andernfalls werden nicht kompatible Elemente nicht angezeigt oder unterschiedlich interpretiert.<br>
Einen Überblick über die Elemente verschiedener HTML-Versionen sowie Erläuterungen zu CSS-Formatierungen bietet folgende Webseite:<br>
<a href="http://meiert.com/de/publications/indices/html-elements/" target="_blank" rel="noopener">http://meiert.com/de/publications/indices/html-elements/</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisspalte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preisspalte des Preises wählen, der im Webshop oder Mandant (Shop) als Standard-Preis angezeigt werden soll. Der eingestellte Preis wird auch für Rabatte verwendet.<br>
Für jeden Webshop und jeden Mandant eine individuelle Preisspalte als Standard-Preis einstellen.<br>
<strong><em>Wichtig:</em></strong> Diese Einstellung wirkt sich nur auf den Bestellvorgang aus, nicht auf Artikel- bzw. Kategorieansichten im Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-Selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bevorzugte Einstellung für Cross-Selling-Angebote im Webshop auswählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamisches Cross-Selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> für dynamisches Cross-Selling einstellen. plentymarkets erstellt automatisch Cross-Selling-Verknüpfungen. Dabei werden Artikel bei anderen Artikeln automatisch als <a href="/artikel/artikel-verwalten#950">Cross-Selling-Artikel</a> eingetragen, wenn die Artikel zusammen gekauft werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lebensdauer Session-Cookie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen zwischen <strong>bis der Browser geschlossen wird</strong> oder <strong>Hundert Tage, auch wenn der Browser geschlossen wird</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sicherheitscode in Kontaktformularen abfragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Sicherheitscode wird in Kontaktformularen für den Versand von E-Mails zur Sicherheitsabfrage verwendet.<br>
Ein Beispiel ist die
Tell-A-Friend-E-Mail.<br>
Wenn die Abfrage nicht aktiv sein soll, die Einstellung <strong>Nein</strong> wählen. Standardeinstellung = <strong>Ja</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Google reCAPTCHA Websiteschlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Websiteschlüssel von Google reCAPTCHA eingeben. Den Schlüssel erhältst du, wenn du deine <a href="https://www.google.com/recaptcha/admin#list" target="_blank" rel="noopener">Website bei Google reCAPTCHA registrierst</a>. Wenn <strong>Ja</strong> unter <strong>Sicherheitscode in Kontaktformularen abfragen</strong> gewählt wurde, wird das Google reCAPTCHA im Kontaktformular angezeigt. Zudem steht Google reCAPTCHA auch für das Formular <a href="#webshop/_cms/kunden-feedback">Kunden-Feedback</a> zur Verfügung. Beachte, dass bei der Nutzung des Google reCAPTCHA ein Hinweis darauf in deiner Datenschutzerklärung erforderlich ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Google reCAPTCHA Geheimer Schlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den geheimen Schlüssel von Google reCAPTCHA eingeben. Den Schlüssel erhältst du, wenn du deine <a href="https://www.google.com/recaptcha/admin#list" target="_blank" rel="noopener">Website bei Google reCAPTCHA registrieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl der fehlerhaften Login-Versuche pro Tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der möglichen Login-Versuche der Kunden im Webshop pro Tag einstellen. Damit sind Versuche bei fehlerhafter Eingabe der Zugangsdaten gemeint, korrekte Logins werden nicht berücksichtigt. Die Anzahl ist zwischen 4 und 25 Versuchen einstellbar.<br>
<strong><em>Wichtig:</em></strong> Je höher die Anzahl der Versuche eingestellt wird, desto mehr erhält der Benutzer - aber auch Unbefugte! - die Möglichkeit, einen Login durch Ausprobieren der Zugangsdaten zu erreichen. Daher solltest du diese Einstellung sorgfältig vornehmen. Am nächsten Tag hat der Kunde wieder die gleiche Anzahl von Login-Versuchen zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Login</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob ein Login nur im jeweiligen Webshop bzw. Mandant möglich sein soll, oder in allen Webshops.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warnhinweis bei Überverkauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Einstellung <strong>aktiv</strong> wird im Bestellvorgang ein Warnhinweis bei Überverkauf angezeigt, also wenn die Bestellmenge den Nettobestand des betreffenden Artikels übersteigt. Der Besteller wird informiert, dass es zu einer Lieferverzögerung kommen kann. Bedingung für den Hinweis: Der <a href="/artikel/artikel-verwalten#180">Warenbestand des Artikels</a> ist positiv und auf keine Beschränkung eingestellt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="webshop-sperren">3. Webshop sperren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Funktion <strong>Webshop jetzt sperren</strong> stellst du deinen Mandanten während der Einrichtung unsichtbar. Besuchern eines gesperrten Webshops wird ein Wartungshinweis angezeigt. Auch wenn du später umfangreiche Änderungen an deinem Webshop vornehmen möchtest, kannst du deinen Webshop sperren und Kunden so auf den Wartungshinweis umleiten. Vergiss jedoch nicht, deinen Webshop nach Abschluss der Arbeiten wieder zu entsperren, sonst erhältst du keine Bestellungen mehr!</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hinweise</div>
<div class="ulist">
<ul>
<li>
<p>Erstelle bei umfangreichen Änderungen eine Kopie deines Designs und arbeite in der Kopie. So kannst du bei Bedarf das ursprüngliche Design wieder verwenden. Starte den Webshop nach jeder Wartung über die Standard-URL in einem anderen Browser und prüfe alle Änderungen gründlich.</p>
</li>
<li>
<p>Wenn du den Standard-Mandanten sperrst, werden alle Mandanten des Shops gesperrt.</p>
</li>
<li>
<p>Wenn du einen Webshop sperrst, ist die Kommunikation mit dem plentymarkets System per REST-API nicht möglich.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Webshop sperren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Shop sperren</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Webshop jetzt sperren</strong>.<br>
→ Der Webshop wird gesperrt und ist nur noch über direkte Produkt-Links oder das URL-Suffix <strong>/index.php</strong> erreichbar.<br></p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um den Webshop zu entsperren.</p>
</div>
<div class="paragraph instruction">
<p>Webshop entsperren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Shop sperren</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Webshop jetzt entsperren</strong>.<br>
→ Der Webshop wird entsperrt und ist für Besucher wieder erreichbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="weiterleitung">4. Weiterleitung auf mobile Endgeräte einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für eine mobile Variante deines Online-Shops hinterlegst du im Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Weiterleitung</strong> zwei Ziel-URLs. Mit der Option <strong>Ziel-URL (Kategorie)</strong> steuerst du den Zugriff auf die Kategorien. Mit der Option <strong>Ziel-URL (Artikelseite)</strong> richtest du eine Weiterleitung auf einen bestimmten Artikel ein. Die eingerichtete Weiterleitung wird anhand des HTTP-Requests eines mobilen Browsers beim Aufruf des Webshops über ein mobiles Endgerät veranlasst. Gehe wie im Folgenden beschrieben vor, um eine Weiterleitung auf mobile Endgeräte einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Weiterleitung auf mobile Endgeräte einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Weiterleitung</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-optionen-weiterleitung-mobil">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-weiterleitung-mobil" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen für die Weiterleitung bei mobilen Endgeräten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weiterleitung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht die optimierte Anzeige des Webshops auf mobilen Endgeräten, z.B. über <a href="/maerkte/shopgate">Shopgate</a> oder ähnliche Anbieter. <strong>Aktiv</strong> wählen, um die Weiterleitungen auf die eingefügten URLs zu aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel-URL (Kategorie)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der mobilen Variante des Webshops eintragen, z.B. <strong><a href="http://mobile.ihrplentyshop.de" class="bare">http://mobile.ihrplentyshop.de</a></strong>. Auf diese URL werden Kunden weitergeleitet, die mit einem mobilen Endgerät auf den Webshop zugreifen.<br>
Mit der Template-Variable <strong>$ReferrerID</strong> in der URL kann nachvollzogen werden, woher Kunden weitergeleitet wurden. Die URL sieht dann z.B. so aus: <strong><a href="http://mobile.ihrplentyshop.de/?referrerId=$referrerId" class="bare">http://mobile.ihrplentyshop.de/?referrerId=$referrerId</a></strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel-URL (Artikelseite)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL eintragen, auf die Kunden weitergeleitet werden, die ein mobiles Endgerät nutzen, um z.B. von einem Artikel in einem Preisportal direkt zum Artikel im Webshop zu gelangen. Eine solche Artikel-URL kann wie folgt aussehen: <strong><a href="http://mobile.ihrplentyshop.de/?itemNumber=$itemId" class="bare">http://mobile.ihrplentyshop.de/?itemNumber=$itemId</a></strong>. Mit der Template-Variablen <strong>$ItemID</strong> in der URL ist jeder Artikel erreichbar.<br>
Mit der Template-Variablen <strong>$ReferrerID</strong> in der URL kann nachvollzogen werden, woher Kunden weitergeleitet wurden. Die URL könnte wie folgt aussehen: <strong><a href="http://mobile.ihrplentyshop.de/?itemNumber=$itemId&amp;referrerId=$referrerId" class="bare">http://mobile.ihrplentyshop.de/?itemNumber=$itemId&amp;referrerId=$referrerId</a></strong><br>
<strong><em>Hinweis:</em></strong> Wenn hier keine URL eingetragen wird, werden Kunden nicht von Preisportalen etc. zu Artikeln im Webshop weitergeleitet.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_verhalten_im_404_fehlerfall_festlegen">5. Verhalten im 404-Fehlerfall festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Vergangenheit wurden ungültige URLs nicht sofort aus der Sitemap gelöscht. Daher kam es bei Änderung einer Kategorie- oder Artikelseite zu einem 404-Fehler. Die Seite wurde nicht gefunden. Mit der Sitemap-Funktion werden die Inhalte täglich neu pro Mandant generiert und ungültige Einträge fallen heraus. Nur die jeweils aktuellen und sichtbaren Inhalte werden in die Sitemap übernommen. Mit den Einstellungen für das Verhalten im 404-Fehlerfall legst du fest, welche Suche dabei ausgeführt werden soll. Gleichzeitig wird direkt die HTTP-Statusmeldung 301 (Moved Permanently) ausgegeben. Dies hat zur Folge, dass nicht mehr aktuelle URLs aus den Suchmaschinen gelöscht werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wann automatisch suchen?</div>
<div class="paragraph">
<p>Eine automatische Suche ist sinnvoll, wenn die neue URL gleiche oder zumindest ähnliche Bezeichnungen enthält und die URL voraussichtlich einfach gefunden werden kann. Anderenfalls kann eine automatische Suche zu einem sogenannten Soft-404-Fehler führen. Wenn du im Regelfall ähnliche Inhalte anbietest, kannst du somit diese Weiterleitung verwenden. Besprich den Einsatz mit deiner SEO-Agentur.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Weiterleitung bei 404-Fehler einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Weiterleitung</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-optionen-weiterleitung-404">Tabelle 3</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-weiterleitung-404" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Optionen für die Weiterleitung bei 404-Fehler (Seite nicht gefunden)</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umleitung bei Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inaktiv</strong> (Standard) = Keine Weiterleitung<br>
<strong>Content-Suche ausführen</strong> = Wenn eine Kategorie-URL nicht mehr gültig ist, wird eine Suche nach einer passenden Kategorieseite ausgeführt.<br>
<strong>Artikelsuche ausführen</strong> = Wenn eine Kategorie-URL nicht mehr gültig ist, wird eine Suche nach einem passenden Artikel ausgeführt.<br>
<strong><em>Wichtig:</em></strong> Wenn diese Funktion aktiviert ist, wird eine unter <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Seiten</strong> als <strong>404-Fehlerseite</strong> hinterlegte Kategorieseite nicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umleitung bei Artikelseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inaktiv</strong> (Standard) = Keine Weiterleitung<br>
<strong>Content-Suche ausführen</strong> = Wenn eine Artikel-URL nicht mehr gültig ist, wird eine Suche nach einer passenden Kategorieseite ausgeführt.<br>
<strong>Artikelsuche ausführen</strong> = Wenn eine Artikel-URL nicht mehr gültig ist, wird eine Suche nach einem passenden Artikel ausgeführt.<br>
<strong><em>Wichtig:</em></strong> Wenn diese Funktion aktiviert ist, wird eine unter <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Seiten</strong> als <strong>Seite "Artikel nicht gefunden"</strong> hinterlegte Kategorieseite nicht angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="rechtliche-angaben">6. Rechtliche Angaben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Rechtliche Angaben</strong> hinterlegst du deine <strong>AGB</strong>, die <strong>Widerrufsbelehrung</strong>, die <strong>Datenschutzerklärung</strong> und das <strong>Impressum</strong> für einen <strong>Mandanten (Shop)</strong>. Mittels <strong>Template-Variablen</strong> werden die Inhalte dann im Webshop und den E-Mail-Vorlagen dargestellt. Wenn du außerdem einen externen Dienstleister nutzt, um deine rechtlichen Angaben im Falle einer gesetzlichen Änderung automatisch auf den aktuellen Stand zu bringen, findest du diese Texte hier. Der Vorteil besteht darin, dass du Textänderungen nur in diesem Menü vornimmst und die Änderungen sich dann auf alle verknüpften Dokumente auswirken.</p>
</div>
<div class="sect2">
<h3 id="_text_eintragen">6.1. Text eintragen</h3>
<div class="paragraph">
<p>Für jede verfügbare Sprache hinterlegst du einen Text für AGB, Widerrufsbelehrung, Datenschutz und Impressum als reinen <strong>Text</strong> oder im Format <strong>HTML</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Texte für rechtliche Angaben hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Rechtliche Angaben</strong>.</p>
</li>
<li>
<p>Öffne eine Sprache.</p>
</li>
<li>
<p>Trage die rechtlichen Texte in dieser Sprache ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_template_variablen_und_funktionen_einbinden">6.2. Template-Variablen und -Funktionen einbinden</h3>
<div class="paragraph">
<p>Wie bereits erwähnt, bindest du die rechtlichen Angaben mittels <strong>Template-Variablen</strong> und <strong>-Funktionen</strong> ein. Mit Template-Variablen fügst du die Inhalte, also die Texte, in Kategorieseiten oder E-Mail-Vorlagen ein. Mit Template-Funktionen bindest du die Kategorieseiten ins Design ein. Legen für rechtliche Angaben <a href="/artikel/kategorien-verwalten">Kategorien des Typs Content</a> an.</p>
</div>
<div class="sect3">
<h4 id="_template_variablen_für_kategorieseiten">6.2.1. Template-Variablen für Kategorieseiten</h4>
<div class="paragraph">
<p>Die Template-Variablen für Kategorieseiten beinhalten den im Tab <strong>HTML</strong> eingetragenen Text. Wenn eine Kategorieseite im Webshop aufgerufen wird, wird mit den Template-Variablen der passende Text für die Sprache und den Mandanten angezeigt. Wie oben beschrieben, muss ein Text für die Sprache bei dem Mandanten eingetragen sein.</p>
</div>
<div class="paragraph">
<p><a href="#bild-template-variable-agb">Bild 1</a> zeigt die <strong>Template-Variable</strong> für die AGB in der Kategorieseite <strong>AGB</strong> eines Webshops.</p>
</div>
<div id="bild-template-variable-agb" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/assets/DE-RechtlicheAngaben-02.png" alt="DE RechtlicheAngaben 02">
</div>
<div class="title">Bild 1. <strong>Template-Variablen</strong> für <strong>AGB</strong> in der Kategorieseite einbinden</div>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert <strong>Template-Variablen</strong> für Kategorieseiten.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. <strong>Template-Variablen</strong> für Kategorieseiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Variable</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsAndConditions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">AGB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRights</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Widerrufsbelehrung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenschutzerklärung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Impressum</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_template_funktionen_für_die_verlinkung_von_kategorieseiten">6.2.2. Template-Funktionen für die Verlinkung von Kategorieseiten</h4>
<div class="paragraph">
<p>Nachfolgend findest du eine Übersicht der Template-Funktionen, die ins Design eingebunden werden müssen, um auf Kategorieseiten zu verlinken.<br>
Die Kategorieseiten müssen im Menü <a href="#infoseiten">Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Seiten</a> bzw. designspezifisch
im Menü <a href="/webshop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten">CMS&nbsp;» Webdesign&nbsp;» Einstellungen&nbsp;» Design-Einstellungen&nbsp;» Tab: Mandanten</a>
verknüpft werden, damit die Template-Funktionen Inhalt ausgeben.<br>
Der Vorteil der angegebenen Template-Funktionen liegt darin, dass die Funktionen z.B. beim Kopieren des Designs für einen anderen Mandanten
nicht angepasst werden müssen. Wenn du stattdessen die Template-Funktion <strong>Link()</strong> verwendest, musst du die ID für jeden Mandanten anpassen.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert <strong>Template-Funktionen</strong> für die Verlinkung zu Kategorieseiten.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. <strong>Template-Funktionen</strong> für die Verlinkung zu Kategorieseiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Funktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_TermsConditions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">AGB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_CancellationRights</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Widerrufsbelehrung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_PrivacyPolicy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenschutzerklärung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_Help</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hilfeseite</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_ShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_template_variablen_für_e_mail_vorlagen">6.2.3. Template-Variablen für E-Mail-Vorlagen</h4>
<div class="paragraph">
<p>Die Texte in <strong>E-Mail-Vorlagen</strong> werden ähnlich integriert. Bei einer E-Mail-Vorlage muss jedoch unterschieden werden, ob die E-Mail als reiner <strong>Text</strong> oder als <strong>HTML</strong>-E-Mail versendet wird. Deshalb stehen bei E-Mail-Vorlagen für alle rechtlichen Angaben jeweils zwei Template-Variablen zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert <strong>Template-Variablen</strong> für <strong>E-Mail-Vorlagen</strong>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. <strong>Template-Variablen</strong> für <strong>E-Mail-Vorlagen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Variable</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsAndConditionsText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">AGB, Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsAndConditionsHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">AGB, HTML</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRightsText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Widerrufsbelehrung, Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRightsHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Widerrufsbelehrung, HTML</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicyText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenschutzerklärung, Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicyHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenschutzerklärung, HTML</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosureText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Impressum, Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosureHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Impressum, HTML</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Design veröffentlichen</div>
<div class="paragraph">
<p>Wenn du Template-Variablen oder -Funktionen in dein Design eingefügt hast, veröffentlichst du dein Design im Menü <a href="/webshop/webshop-einrichten/cms#webdesign-benutzeroberflaeche">CMS&nbsp;» Webdesign</a> neu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="infoseiten">7. Allgemeines über das Menü Seiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Seiten</strong> verknüpfst du <strong>Kategorieseiten</strong>. Es handelt sich hier um Seiten,
die in fast jedem <strong>Webshop</strong> enthalten sein müssen, wie z.B. <a href="#rechtliche-angaben">rechtliche Angaben</a>.<br>
Die Verknüpfungen erlauben es dir, spezifische <strong>Template-Funktionen</strong>, z.B. <strong>Link_CancelationRights</strong>, im Design zu verwenden.
Wenn das Design in einem anderen plentymarkets Shop verwendet wird, bietet die Verwendung der Links den Vorteil, dass die Links
in diesem Webshop ebenfalls funktionieren.<br>
In den Standarddesigns von plentymarkets, wie z.B. <strong>stonepattern_green</strong>, sind Links zu vielen der Seiten, die du hier einstellet, enthalten. Die Links stehen standardmäßig im <strong>PageDesignContentMainFrame</strong>.</p>
</div>
<div class="sect2">
<h3 id="_konfiguration">7.1. Konfiguration</h3>
<div class="paragraph">
<p>Die Seiten verknüpfst du für jeden <strong>Mandanten</strong>. In diesem Menü stehen dir nur <a href="/artikel/kategorien-verwalten">Kategorien des Typs Content</a> zur Auswahl.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Im Design hinterlegte Kategorieverknüpfungen haben Vorrang vor den Verknüpfungen hier</div>
<div class="paragraph">
<p>Für Designs, bei denen im Menü <strong>CMS&nbsp;» Webdesign&nbsp;» Einstellungen&nbsp;» Design-Einstellungen&nbsp;» Tab: Mandanten</strong> Kategorien verknüpft wurden, gelten die unten beschriebenen Verknüpfungen im Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Seiten</strong> nicht. Die designspezifischen Kategorieverknüpfungen sind dominant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="bild-zuordnung-kategorieseiten-webshop" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/webshop-einrichten/assets/Mandant-Standard-Webshop-Seiten-01.png" alt="Mandant Standard Webshop Seiten 01">
</div>
<div class="title">Bild 2. Zuordnung der Kategorieseiten deines Webshops</div>
</div>
<div class="paragraph instruction">
<p>Zuordnung der Kategorieseiten für deinen Webshop konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Seiten</strong>.</p>
</li>
<li>
<p>Nimm die <strong>Einstellungen</strong> gemäß <a href="#tabelle-zuordnung-kategorieseiten">Tabelle 7</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die verknüpfbaren <strong>Seiten</strong>:</p>
</div>
<table id="tabelle-zuordnung-kategorieseiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. <strong>Zuordnung</strong> der Kategorieseiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startseite</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> wählen, die bei Aufruf des Webshops als Startseite angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite AGB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> für die AGB wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Datenschutz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> für die Datenschutzrichtlinien wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Widerrufsrecht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> für das Widerrufsrecht wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Hilfe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> für die Hilfeseite des Webshops wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite 404</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> wählen, um diese Kategorieseite statt der Standard-404-Seite anzuzeigen.<br>
Die Standard-404-Seite enthält einen Hinweis, dass die Seite nicht verfügbar ist oder verschoben wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> für Angaben zu Versandkosten wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite "Artikel nicht gefunden"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> wählen, um die Kategorieseite statt der Standardmeldung anzuzeigen, wenn ein Artikel nicht gefunden wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Zahlungsarten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> für Informationen zu Zahlungen und Zahlungsarten wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Kontakt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> wählen, auf der die Kontaktdaten des Unternehmens angegeben sind.<br>
Die Seite ist auch als <strong>Seite 404</strong> sinnvoll, damit ein Besucher des Webshops bei einem Fehler direkt Kontakt mit dir aufnehmen kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Impressum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> für das Impressum wählen.<br>
Das Impressum ist in den meisten Fällen eine Pflichtangabe und sollte möglichst unter diesem Namen sowie leicht auffindbar sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seite Bankdaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine <a href="/artikel/kategorien-verwalten">Kategorieseite</a> für Bankdaten wählen.<br>
Die Angaben auf der Seite Bankdaten werden für die Zahlungsarten <strong>Vorkasse</strong> und <strong>Rechnung</strong> benötigt. Die Seite sollte deine Bankverbindung sowie ggf. einen Hinweis zum <strong>Verwendungszweck</strong> enthalten.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>