<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_externe_widgets_für_den_shopbuilder"><span>1.</span><span> Externe Widgets für den ShopBuilder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Weitere Webshop-Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst die Funktionen deines Ceres plentyShops und des ShopBuilders mit einer Reihe kostenloser und kostenpflichtiger Plugins aus dem plentyMarketplace erweitern.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Webshop-Plugins einrichten</div>
<div class="paragraph">
<p>Bitte beachte bei der Einrichtung der einzelnen Webshop-Plugins die Anleitungen, die im plentyMarketplace im Tab <strong>Beschreibung</strong> des jeweiligen Plugins zu finden sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_externe_widgets_für_den_shopbuilder">1. Externe Widgets für den ShopBuilder</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/actionmixwidgetfullwidth_5998" target="_blank" rel="noopener">ActionMix Full Width</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/customforms_6318" target="_blank" rel="noopener">Benutzerdefinierte Formulare</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/widgets/CfourCtaWidget_5925" target="_blank" rel="noopener">Call to Action Widget</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourcontainerwidget_5763" target="_blank" rel="noopener">Container Widget</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/widgets/GoogleMapsWidget_5985" target="_blank" rel="noopener">Google Maps Widget</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourproductwall_5762" target="_blank" rel="noopener">Produktwand Widget</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/widgets/CfourShopAdvantagesWidget_5948" target="_blank" rel="noopener">Shop Vorteile Widget</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/cfourstorespecialswidget_6363" target="_blank" rel="noopener">Shopaktionen</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/storefront/widgets/staticpagesmapper_6371" target="_blank" rel="noopener">Statische Seiten</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/widgets/CfourBasicWidgets_5926" target="_blank" rel="noopener">Whitelabel</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/widgets/CfourWidgetsWundertuete_5993" target="_blank" rel="noopener">Widget Wundertüte</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/widgets/CfourYoutubeWidget_5708" target="_blank" rel="noopener">Youtube Widget</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>