<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Vorstellung von ElasticSync</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Was ist ElasticSync? Und was hat das Ganze mit Kommunikation zu tun? Dieses Einführungsvideo erklärt dir, was Kommunikation mit dem Im- und Export von Daten zu tun hat. Schaue dir also auch die übrigen Videos zum Thema an, um mehr über ElasticSync zu erfahren!<br>
<strong><em>Hinweis:</em></strong> Der Begriff <strong>ElasticSync</strong> ist veraltet und wurde durch <strong>Import</strong> ersetzt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/321725010" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Kommunikation ist wichtig, klar! Das weißt du wahrscheinlich seit frühester Kindheit. Was aber hat Kommunikation mit deinem plentymarkets System zu tun?</p>
</div>
<div class="paragraph">
<p>Na, hast du eine Idee? Eigentlich ist die Antwort auf die Frage ganz einfach: per Definition spricht man von Kommunikation, wenn ein Austausch oder eine Übertragung von Informationen auf welchem Weg auch immer stattfindet.
Du kommunizierst mit Kunden, Geschäftspartnern oder auch mit Lieferanten. Soweit so klar. Aber letztlich kommunizierst du auch mit deinem System, wenn du Daten austauschst.
Und genau da kommt der ElasticSync ins Spiel.</p>
</div>
<div class="paragraph">
<p>Mit dem ElasticSync verfügst du über eine Art Schweizer Kommunikations-Taschenmesser, um Daten in dein System zu übertragen. Egal, ob manuell oder automatisch.
Das heißt zum Beispiel, dass dein Lieferant eine Liste mit Artikelinformationen an einem bestimmten Ort speichern kann und plentymarkets diese Informationen mit den vorhandenen Daten abgleicht und diese gegebenenfalls anpasst.
Das Einzige, was du dafür machen musst, ist einen Sync anzulegen.</p>
</div>
<div class="paragraph">
<p>Dieses Modul wird dir nicht nur einen Eindruck bieten, wie du den ElasticSync benutzt, viel mehr werden wir dir die Verwendung von ElasticSync in deinem Händleralltag näherbringen.
Also worauf wartest du noch? Kommunikation ist dein Schlüssel zum Erfolg mit plentymarkets!</p>
</div>
</div>
</div>
</main>