<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Neckermann.at</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Neckermann.at in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the order status</span></a></li>
<li><a href="#400"><span>5.</span><span> Setting up FTP server access</span></a></li>
<li><a href="#500"><span>6.</span><span> Importing components</span></a></li>
<li><a href="#600"><span>7.</span><span> Activating characteristics for the market</span></a></li>
<li><a href="#700"><span>8.</span><span> Importing logos</span></a></li>
<li><a href="#800"><span>9.</span><span> Linking categories</span></a></li>
<li><a href="#900"><span>10.</span><span> Activating primary categories</span></a></li>
<li><a href="#1000"><span>11.</span><span> Linking attributes</span></a></li>
<li><a href="#1100"><span>12.</span><span> Linking manufacturers</span></a>
<ul class="sectlevel2">
<li><a href="#1125"><span>12.1.</span><span> Creating an import</span></a></li>
<li><a href="#1130"><span>12.2.</span><span> Setting the import options</span></a></li>
<li><a href="#1135"><span>12.3.</span><span> Setting the matching</span></a></li>
<li><a href="#1140"><span>12.4.</span><span> Creating a mapping</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>13.</span><span> Setting the variation availability</span></a></li>
<li><a href="#1450"><span>14.</span><span> Saving SKU</span></a></li>
<li><a href="#1500"><span>15.</span><span> Providing information on the energy efficiency</span></a></li>
<li><a href="#1600"><span>16.</span><span> Activating the payment method</span></a></li>
<li><a href="#1350"><span>17.</span><span> Uploading a PDF template for delivery notes</span></a></li>
<li><a href="#1200"><span>18.</span><span> Displaying exported items</span></a></li>
<li><a href="#1300"><span>19.</span><span> Displaying error reports</span></a></li>
<li><a href="#1700"><span>20.</span><span> Creating returns</span></a></li>
<li><a href="#1800"><span>21.</span><span> Cancelling orders</span></a></li>
<li><a href="#1850"><span>22.</span><span> Generating Neckermann invoices</span></a></li>
<li><a href="#1900"><span>23.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up Neckermann.at</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann Austria enables you to present your products on the market <strong>neckermann.at</strong>. On this page, you will find detailed information about the settings you need to carry out in order to set up the market Neckermann Austria in your plentymarkets system. Pay attention to this information in order to ensure a smooth setup of this market.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Neckermann.at</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are interested in the partner programme of <a href="https://www.neckermann.at/" target="_blank" rel="noopener">Neckermann Austria</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, contact Neckermann.at directly. Please note that the neckermann.at website is currently only available in German.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Contact person</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Contact person</th>
<th class="tableblock halign-left valign-top">Email address</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>René Riebenbauer</strong> - Head of Sales Platform and Content Management</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="mailto:rene.riebenbauer@neckermann.at" target="_blank" rel="noopener">rene.riebenbauer@neckermann.at</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Neckermann.at in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After joining the Neckermann partner programme, use your access data to set up the market in plentymarkets. You can integrate the platform Neckermann.at Enterprise into plentymarkets. To set up Neckermann.at Enterprise in plentymarkets, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Neckermann.at in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>Basic settings</strong> area.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#basic-settings-neckermann">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-neckermann" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Basic settings for the market Neckermann.at</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interface mode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the interface mode.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Test mode ON</strong> = Select while you carry out the settings and prepare the interface and items.<br></p>
</li>
<li>
<p><strong>Live mode ON</strong> = Select once you are sure that all settings have been carried out correctly.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Sales partner information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partner ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the ID that you have received from Neckermann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the name of the company or the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surname</strong>, <strong>first name (contact person)</strong>; <br>
<strong>Telephone number (contact person)</strong>;<br>
<strong>Email address (contact person)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the contact person’s name, telephone number and email address.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a Neckermann.at tax rate for each plentymarkets tax rate from the drop-down list.</p>
</div>
<div class="paragraph">
<p>Austria has two reduced tax rates: 10% and 13%. As such, the same item can have a different tax rate in Austria than it does in your main country of business. To be able to export the correct tax rate for Neckermann.at in such cases, you specify a different tax rate on the item level:</p>
</div>
<div class="openblock collapseBox">
<div class="title">How to specify a different tax rate for individual items</div>
<div class="content">
<div class="paragraph">
<p>To specify a different tax rate for individual items, create a characteristic and link it to these items.</p>
</div>
<div class="paragraph instruction">
<p>Creating a characteristic for a different tax rate at the item level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter the name into the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the characteristic type <strong>No</strong>.</p>
</li>
<li>
<p>For the setting <strong>Neckermann.at EP characteristic</strong>, select the option <strong>Tax rate [tax rate in percent] (only with property type empty)</strong>.<br>
<strong><em>Tip:</em></strong> Select a tax rate of 10%, 13% or 20%. Create a separate characteristic for each tax rate you need.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Link the characteristic in the <strong>Characteristics</strong> tab of the item for which you want to speficy a different tax rate.</p>
</div>
<div class="paragraph instruction">
<p>Linking characteristic for a different tax rate to an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Activate the characteristic for the tax rate.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The characteristic is shown in the list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The item is exported to Neckermann.at EP with the tax rate saved in the characteristic.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a text field that is transferred to Neckermann as the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name (maximum length)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>35 characters</strong> or <strong>65 characters</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a text field that is transferred to Neckermann as the item preview text.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item preview text (maximum length)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>30 characters</strong> or <strong>50 characters</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short item text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a text field that is transferred to Neckermann as short item text.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a text field that is transferred to Neckermann as the item description.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer item without assigning it to a brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = Items are transferred and assigned to a brand by default.<br></p>
</li>
<li>
<p><strong>Yes</strong> = Items are transferred without being assigned to a brand.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position for energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the image position of the item image if the energy label is saved as an item image instead of as a characteristic. For further information about the energy label, refer to the <a href="#1500">Providing information on the energy efficiency</a> chapter.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = Cross-selling settings are not transferred by default.<br></p>
</li>
<li>
<p><strong>Yes</strong> = Cross-selling settings are transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = The RRP is not transferred by default.<br></p>
</li>
<li>
<p><strong>Yes</strong> = The RRP is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item dimensions saved in the item data</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the item dimensions.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer client (store) ID?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = The ID is not transferred by default.<br></p>
</li>
<li>
<p><strong>Yes</strong> = The ID is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard commission model</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the commission model that you received from Neckermann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The transferred stock is reduced by the entered value. This ensures that an item cannot be completely sold out on this market.<br>
<strong><em>Example:</em></strong> For an item with a stock of 50 and a stock buffer of 10, the value 40 is transferred as stock. For further information, refer to the <a href="/en/stock-management/managing-stocks">Managing stock</a> page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery periods</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Standard delivery time</strong> = Enter the delivery time in days. The number of days you enter here is the standard delivery time that most of your shipments require.<br></p>
</li>
<li>
<p><strong>Item delivery time 1 - 5</strong> = Enter the delivery time in days for each option. Set up the options for item availability in the <strong>Setup » Item » Availability</strong> menu.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feature list</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a text field or <strong>Do not transfer</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer item number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = The item number is not transferred.<br></p>
</li>
<li>
<p><strong>Yes</strong> = The item number is transferred during item export. A maximum of 20 characters is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Overwrite the availability of items that are not limited to stock, if the stock is 0?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes, with item availability 1 to 5</strong> = Overwrite the availability with the value of the item availability 1 to 5 (see delivery periods). <br></p>
</li>
<li>
<p><strong>No</strong> = Do not overwrite the availability.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock quantity for items that are not limited to stock, if the stock is 0</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the stock quantity that should be displayed if the stock is missing.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book orders as not paid for</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = In the default setting, orders are <strong>unpaid</strong> when they arrive in the system. This is because payment processing takes place at a later point in time.<br></p>
</li>
<li>
<p><strong>No</strong> = Orders are booked as <strong>paid</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save package number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = The package number is transferred by default.<br></p>
</li>
<li>
<p><strong>No</strong> = The package number is not transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily item export</p>
</li>
<li>
<p>Hourly stock synchronisation</p>
</li>
<li>
<p>Hourly order import</p>
</li>
<li>
<p>Hourly forwarding of shipping confirmations</p>
</li>
<li>
<p>Hourly forwarding of returns</p>
</li>
<li>
<p>Hourly forwarding of cancellations</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Transfer of package numbers</div>
<div class="paragraph">
<p>Every single Neckermann order must not possess more than one package number. If this precondition is not fulfilled, the orders concerned are not forwarded to Neckermann!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Neckermann.at. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Neckermann.at:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Neckermann.at Enterprise</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the order status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set the order statuses for cancellations and determine when returns are forwarded to Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Setting the order status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>Order status</strong> area.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#order-status-neckermann">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="order-status-neckermann" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Setting the order status</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for total cancellation "stock cancellation"</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a status, e.g. <strong>[8] Cancelled</strong>, <strong>[9] Return</strong>, or <strong>[10] Warranty</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for total cancellation "customer cancellation"</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a status, e.g. <strong>[8] Cancelled</strong>, <strong>[9] Return</strong>, or <strong>[10] Warranty</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Report returns when they reach status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a status, e.g. <strong>[9] Return</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">5. Setting up FTP server access</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up your FTP server access in this chapter. Neckermann requires FTP server access for importing orders and invoices.</p>
</div>
<div class="paragraph instruction">
<p>Setting up FTP server access:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>FTP server</strong> area.</p>
</li>
<li>
<p>Enter the access data that you received from Neckermann.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Importing components</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Components of the market Neckermann correspond to the characteristics in plentymarkets. Characteristics in plentymarkets have to be linked to Neckermann components. This is done by uploading a CSV file which contains the Neckermann components. You will receive this file after having closed a contract with Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Importing Neckermann components:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the file from Neckermann.</p>
</li>
<li>
<p>Select and copy the columns <strong>COMPONENT_ID</strong> and <strong>COMPONENT_NAME</strong>.</p>
</li>
<li>
<p>Insert the columns into a new file in a spreadsheet program.</p>
</li>
<li>
<p>Save the file in CSV format on your computer.</p>
</li>
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>Component import</strong> area.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The Neckermann components are available in the drop-down lists of characteristics.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Activating characteristics for the market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the next step, link your <a href="/en/item/settings/properties#100">characteristics</a> with the Neckermann components.</p>
</div>
<div class="paragraph instruction">
<p>Activating characteristic for the market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand the characteristic (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Select the Neckermann component from the <strong>Neckermann.at EP component</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the setting.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Importing logos</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann provides you with various logos, e.g. for features or characteristics that designate quality. The import is done by uploading a CSV file which contains the Neckermann data. Link logos in the same way as you link Neckermann components.</p>
</div>
<div class="paragraph instruction">
<p>Importing Neckermann logos:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the file from Neckermann.</p>
</li>
<li>
<p>Select and copy the columns <strong>LOGO_ID</strong>, <strong>LOGO_DESCRIPTION</strong> and <strong>Short description</strong>.</p>
</li>
<li>
<p>Insert the columns into a new file in a spreadsheet program. The file name must be <strong>LOGO_ID;LOGO_NAME;SHORT_NAME</strong>.</p>
</li>
<li>
<p>Save the file in CSV format on your computer.</p>
</li>
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>Import info logo</strong> area.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The Neckermann logos are now available in the drop-down lists of characteristics.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">9. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann provides you with a file which contains the categories that have to be assigned to the plentymarkets categories. The categories are then linked and further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Click on the <strong>Link categories</strong> tab.</p>
</li>
<li>
<p>Enter the categories into the <strong>Neckermann category ID</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Activating primary categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have linked one item to several different categories, e.g. if you are using different category links for different markets, then you can activate the primary category in the <strong>Categories</strong> tab of an item. If you do not activate a primary category, the first category is automatically used as the primary category.</p>
</div>
<div class="paragraph instruction">
<p>Activating the primary category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open an item.</p>
</li>
<li>
<p>Click on the <strong>Categories</strong> tab.</p>
</li>
<li>
<p>Activate a primary category.<br>
<strong><em>Note:</em></strong> Primary categories are only available under <strong>Category links</strong> if the market <strong>Neckermann</strong> is activated.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have created <a href="/en/item/settings/attributes">attributes</a> in your plentymarkets system, you have to link these attributes with Neckermann. To do so, you have to import the <a href="#500">Neckermann components</a> first. Proceed as described below to link the attribute Colour with Neckermann. Link further attributes in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking attribute "Colour":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.<br>
→ An overview of all existing attributes opens.</p>
</li>
<li>
<p>Open the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on the <strong>Attribute link</strong> tab.</p>
</li>
<li>
<p>From the list of markets, select the option <strong>Neckermann.at Enterprise</strong>.<br>
→ The area for linking attributes is shown.</p>
</li>
<li>
<p>From the drop-down list <strong>Categories</strong>, select the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>In the column <strong>Market attribute values</strong> enter an appropriate market attribute value for each of your attribute values.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Repeat this process for the remaining attributes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">12. Linking manufacturers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Brand IDs for Neckermann.at can be imported with the import tool or they can be entered manually.<br></p>
</div>
<div class="paragraph">
<p>To import brand IDs for Neckermann via the import tool, create an import of the type <a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a>. After you have created the import, you have to set the import options, set the matching, and create the mappings.</p>
</div>
<div class="sect2">
<h3 id="1125">12.1. Creating an import</h3>
<div class="paragraph">
<p>First create an import of the type <strong>Manufacturer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating an import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Data import: Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on <strong>Add import</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The editing area <strong>New import</strong> opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#manufacturer-sync">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The import is created.<br>
→ The matching settings of the import open.</p>
</li>
</ol>
</div>
<table id="manufacturer-sync" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating an import</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Basic data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name. This name is displayed in the overview and can be used for the search.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interval</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an interval for the imports.<br>
By selecting the option <strong>Schedule</strong> you can determine how often and at what time imports are started.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a> from the drop-down list. This import type is used to import manufacturer data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the file format of the import file.<br>
Currently, <strong>CSV/TXT</strong> is the only available option, as only CSV or TXT files can be imported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the character set of the file or the option <strong>Detect automatically</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting in line</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a line starting from which the data should be imported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the import file contains a header.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use global cache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Determine whether the global cache should be used for a file or not. If the setting is activated, only modified data rows will be imported. If the setting is not activated, you can import one and the same file again at any time.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic mapping</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the mapping should be done automatically. The columns in the CSV or TXT file can be mapped automatically to the plentymarkets data fields. To ensure that the mapping works properly, the names of the fields that you selected in the FormatDesigner must not be changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Separator</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The separator of the CSV or TXT file is automatically detected. This setting is activated by default.<br>
Alternatively, you can manually select the field separator that is set in the import file in order to separate the data fields (columns) of a data record from each other.<br>
Possible separators are <strong>Semicolon</strong>, <strong>Comma</strong>, <strong>Tab</strong> and <strong>Pipe</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select delimiters within the fields that may contain multiple values.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>" = individual values within one field are separated by double quotation marks.</p>
</li>
<li>
<p>' = individual values within one field are separated by single quotation marks.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Source</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Manual upload</strong>, <strong>FTP</strong>, <strong>HTTPS</strong> or <strong>SFTP</strong>.<br>
Depending on the selected option, the following settings are displayed:</p>
</div>
<div class="paragraph">
<p><strong>Manual upload</strong> = Select and upload a local file.<br>
After running an import, the file is automatically deleted from the webspace. This is preset by default. In order to save the file you need to remove the check mark.<br>
<strong><em>Note:</em></strong> Storing the file on the webspace is subject to a fee.</p>
</div>
<div class="paragraph">
<p><strong>FTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br>
<strong><em>Tip:</em></strong> Use your plentymarkets FTP access.</p>
</li>
<li>
<p><strong>Port</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name has to end with .csv or .txt.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new <strong>Archive</strong> folder in the FTP directory once the import was successful.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>HTTPS</strong> = *Select External URL.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>External URL</strong> = Enter the URL to access the import file.<br>
<strong><em>Tip:</em></strong> Save the file on your plentymarkets webspace.</p>
</li>
<li>
<p><strong>Authentication:</strong> Select whether an authentication is required to access the file.</p>
<div class="ulist">
<ul>
<li>
<p><strong>none</strong> = no authentication required</p>
</li>
<li>
<p><strong>HTTP authentication</strong> = = an authentication is required for each user and password</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>SFTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br></p>
</li>
<li>
<p><strong>Port (mandatory field)</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name has to end with .csv or .txt.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new <strong>Archive</strong> folder in the FTP directory once the import was successful.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1130">12.2. Setting the import options</h3>
<div class="paragraph">
<p>After you created a <strong>Manufacturer</strong> import, you set the import options. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1300">Setting the import options</a> chapter of the Import tool page.</p>
</div>
</div>
<div class="sect2">
<h3 id="1135">12.3. Setting the matching</h3>
<div class="paragraph">
<p>Next, set the matching for the import. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1400">Setting the matching</a> chapter of the Import tool page.</p>
</div>
</div>
<div class="sect2">
<h3 id="1140">12.4. Creating a mapping</h3>
<div class="paragraph">
<p>Last, you have to create the mappings for the data fields. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1500">Creating a mapping</a> chapter of the Import tool page.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">13. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on Neckermann.at. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for Neckermann.at:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Neckermann.at.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Neckermann.at, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Neckermann.at Enterprise</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for Neckermann.at.</p>
</li>
<li>
<p>Click on the <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p>Select a <strong>commission model</strong>.</p>
</li>
<li>
<p>Select an <strong>Item type</strong>.<br>
<strong><em>Tip:</em></strong> Information about commission models and item types is provided by Neckermann.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Neckermann.at using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Neckermann.at Enterprise</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Neckermann.at Enterprise</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
<li>
<p>Stay in the <strong>Item » Edit item</strong> menu.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Item</strong>.</p>
</li>
<li>
<p>Select additional filters on the left if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the items to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Item group function</strong>.<br>
→ The <strong>Item group function</strong> window opens.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Neckermann.at Enterprise item type</strong>.</p>
</li>
<li>
<p>Select an <strong>Item type</strong> from the drop-down list to the right of the option.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Neckermann.at Enterprise commission model</strong>.</p>
</li>
<li>
<p>Select a <strong>Commission model</strong> from the drop-down list to the right of the option.<br>
<strong><em>Tip:</em></strong> Information about commission models and item types is provided by Neckermann.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Neckermann.at using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Neckermann.at Enterprise</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Neckermann.at Enterprise</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
<li>
<p>Stay in the <strong>Item » Batch processing</strong> menu.</p>
</li>
<li>
<p>Click on the tab <strong>Item</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the filters on the left to specify which items to process.</p>
</li>
<li>
<p>Navigate to the area <strong>Multi-Channel</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Neckermann.at Enterprise item type</strong>.</p>
</li>
<li>
<p>Select an <strong>Item type</strong> from the drop-down list to the right of the option.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Neckermann.at Enterprise commission model</strong>.</p>
</li>
<li>
<p>Select a <strong>Commission model</strong> from the drop-down list to the right of the option.<br>
<strong><em>Tip:</em></strong> Information about commission models and item types is provided by Neckermann.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the items.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="1450">14. Saving SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If necessary, save market specific SKU for those variations that you want to sell on this market.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-adding-an-sku-tab" data-toggle="tab" href="#manually-adding-an-sku" role="tab" aria-controls="manually-adding-an-sku" aria-selected="true">Manually adding an SKU</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="importing-sku-tab" data-toggle="tab" href="#importing-sku" role="tab" aria-controls="importing-sku" aria-selected="false">Importing SKU</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually-adding-an-sku" role="tabpanel" aria-labelledby="manually-adding-an-sku-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Neckermann.at</strong>.<br></p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="importing-sku" role="tabpanel" aria-labelledby="importing-sku-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Only the most important settings for the import are described here. Is this your first time working with the import tool? Then get familiar with <a href="/en/data/importing-data/ElasticSync">how data imports work in plentymarkets first</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a CSV file with at least the columns described in <a href="#table-sku-import">Table 5</a>.</p>
</li>
<li>
<p>Create an import with the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Select the type <strong>Item</strong>.</p>
</li>
<li>
<p>Select the matching field <strong>Variation ID</strong>.</p>
</li>
<li>
<p>Map the plentymarkets data fields as described in <a href="#table-sku-import">Table 5</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Recommended columns of the import file</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column in CSV file</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">plentymarkets data field for mapping</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variation ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the variation ID in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Variation ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Market ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the referrer ID <strong>119</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Account ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This market does not require a marketplace account. As such, enter the number <strong>0</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SKU</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the SKU that you want to save for the variation for this market in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>SKU</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
<div class="paragraph">
<p>Information about the commission model and the item type is provided by Neckermann.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">15. Providing information on the energy efficiency</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To comply with EU regulations on energy efficiency that came into force on 1 January 2015, you have to provide information on the energy efficiency of certain items to sell them on Neckermann. In addition, you have to make product data sheets available to potential buyers of these items. To do so, create the following <a href="/en/item/settings/properties#100">characteristics</a> and link these characteristics to the items that you want to sell on Neckermann.at:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Energy efficiency class</strong><br>
Characteristic type: <strong>No</strong></p>
</li>
<li>
<p><strong>Energy label</strong><br>
Characteristic type: <strong>File</strong><br>
File format: e.g. <strong>JPG</strong> or <strong>PNG</strong> (image format)</p>
</li>
<li>
<p><strong>Product data sheet</strong><br>
Characteristic type: <strong>File</strong><br>
File format: <strong>PDF</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Creating and linking the characteristic <strong>Energy efficiency class</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Creating the characteristic energy efficiency class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the characteristic type <strong>No</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking energy efficiency class characteristic to an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Activate the <strong>energy efficiency class</strong> characteristic that you created.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The characteristic is shown in the list.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Creating and linking the characteristic <strong>Energy label</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Creating the characteristic energy label:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the characteristic type <strong>File</strong>.</p>
</li>
<li>
<p>From the drop-down list <strong>Neckermann.at EP characteristic</strong>, select the option <strong>Energy label</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking energy label characteristic to an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Activate the <strong>Energy label</strong> characteristic that you created.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The characteristic is shown in the list.</p>
</li>
<li>
<p>Click on <strong>Upload files</strong>.</p>
</li>
<li>
<p>Navigate to the folder where the energy label is saved.<br>
<strong><em>Tip:</em></strong> The energy label must be an image file (e.g. <strong>JPG</strong> or <strong>PNG</strong>).</p>
</li>
<li>
<p>Double-click on the file of the energy label.<br>
→ The energy label is uploaded.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Or:</em></strong> Instead of saving the file to the characteristic, you can save the energy label in the <strong>Images</strong> tab of the item.</p>
</div>
<div class="paragraph instruction">
<p>Saving the energy label as an image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Images</strong> tab.</p>
</li>
<li>
<p>Add the image file of the energy label either via <strong>Select files</strong> or via the drag &amp; drop function.</p>
</li>
<li>
<p>Decide on a consistent image position for all energy labels.</p>
</li>
<li>
<p>Enter this image position for the image.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>In the <strong>Basic settings</strong> area, enter the image’s position number into the <strong>Image position for energy label</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Creating and linking the characteristic <strong>Product data sheet</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Creating the characteristic Product data sheet:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the characteristic type <strong>File</strong>.</p>
</li>
<li>
<p>From the drop-down list <strong>Neckermann.at EP characteristic</strong>, select the option <strong>Product data sheet</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking product data sheet characteristic to an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Activate the <strong>Product data sheet</strong> characteristic that you created.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The characteristic is shown in the list.</p>
</li>
<li>
<p>Click on <strong>Upload files</strong>.</p>
</li>
<li>
<p>Navigate to the folder where the product data sheet is saved.<br>
<strong><em>Tip:</em></strong> Upload the product data sheet as a PDF file.</p>
</li>
<li>
<p>Double-click on the file of the product data sheet.<br>
→ The product data sheet is uploaded.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">16. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>Neckermann Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method Neckermann Payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Neckermann Payment</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-payment-method">[table-payment-method]</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="able-payment-method" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the name that should be displayed in the plentyShop and on invoices etc.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do not select a country of delivery.<br>
You cannot use the payment method in your plentyShop. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br></p>
</li>
<li>
<p><strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br></p>
</li>
<li>
<p><strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the priority for displaying the payment method in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If the payment method results in additional costs, enter the percentage value or flat rate value. The selection depends on the conditions of your contract.<br>
<strong><em>Important:</em></strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/business-decisions/plenty-bi/statistics">Statistics</a> page of the manual.<br>
For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1350">17. Uploading a PDF template for delivery notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to create a <a href="/en/orders/order-documents#170">PDF template</a> for delivery notes for Neckermann.</p>
</div>
<div class="paragraph">
<p>Download the template files for <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/Neckermann_document_templates.zip" target="_blank" rel="noopener">Neckermann.at</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> in DOCX and ODT format. Open the file in Word (DOCX) or in LibreOffice (ODT), make any necessary adjustments and export the file as a PFD file. Upload this PDF template to plentymarkets as described below.</p>
</div>
<div class="paragraph instruction">
<p>Uploading a PDF template for delivery notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Delivery note</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>PDF template</strong>.</p>
</li>
<li>
<p>Click on <strong>Add template</strong>.<br>
→ The editing window <strong>Upload new PDF template</strong> opens.</p>
</li>
<li>
<p>From the drop-down list <strong>Payment method</strong>, select the option <strong>Neckermann Payment</strong>.</p>
</li>
<li>
<p>Select a language from the <strong>Language</strong> drop-down list.</p>
</li>
<li>
<p>In the line <strong>Template</strong>, click on <strong>Choose template file</strong>.</p>
</li>
<li>
<p>´Upload the PDF template.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">18. Displaying exported items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Search for items that you have already transferred to Neckermann in the <strong>Setup » Markets » Neckermann Austria Enterprise » Tab: Transferred items</strong> menu. Enter the item ID, the name or the Neckermann number into the search field to search for specific items or leave the search field empty and click on Item search to display all results.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">19. Displaying error reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All operations relating to the market Neckermann are recorded in your plentymarkets system. You can retrieve error reports containing a list of all error messages and notes with the corresponding IDs. In the <strong>Error reports</strong> menu, all errors related to your stock used for Neckermann are displayed. The following error types are distinguished:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Note</strong>: A note is displayed.</p>
</li>
<li>
<p><strong>Warning:</strong> In case of warnings, all items are imported.</p>
</li>
<li>
<p><strong>Error:</strong> In case of errors, no faulty items are imported.</p>
</li>
<li>
<p><strong>Critical error:</strong> In case of critical errors, no items are imported.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Retrieving error reports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Open the <strong>Error reports</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Retrieve error reports</strong>.<br>
→ The error reports are retrieved and displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The <strong>Latest error reports</strong> list provides information about type and number of errors for the following data types:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Media (images):</strong> Information about media files.</p>
</li>
<li>
<p><strong>Catalogue:</strong> Information about the catalogue and all included items of a seller.</p>
</li>
<li>
<p><strong>Stock synchronisation:</strong> Information about the hourly stock synchronisation and price synchronisation.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In case of errors due to incorrect item data occurring during the item export from plentymarkets, information about the affected item as well as the error type can be found in the error message. Fix the error and check whether there are additional error messages after you have carried out the next automatic item export.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Description of error messages</div>
<div class="paragraph">
<p>For further information about error messages, contact Neckermann. Ask your Neckermann contact person, if needed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">20. Creating returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create returns for Neckermann in the <strong>Orders » Edit orders</strong> menu. The <strong>package code</strong> which can be found on the return label is required.</p>
</div>
<div class="paragraph instruction">
<p>Creating returns:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Select the <strong>create</strong> option from the <strong>Return…​</strong> drop-down list in the <strong>Overview</strong> tab.<br>
→ The <strong>Return for the order</strong> window opens.</p>
</li>
<li>
<p>Enter the <strong>package code of the return</strong>.<br>
<strong><em>Note:</em></strong> The package code cannot be entered after the return was created.</p>
</li>
<li>
<p>Place a check mark in the <strong>Accept</strong> column under <strong>Item</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The return is created and opened. The code is saved in the return’s <strong>Settings</strong> tab.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">21. Cancelling orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As there is no possibility to delete cancellations for example of individual items in an order, set the quantity of items affected to 0 in this case. Provide a reason for each cancellation, either <strong>Item not in stock</strong> or <strong>Customer cancellation</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1850">22. Generating Neckermann invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The process for generating Neckermann invoices differs from the process for other order referrers. This is why there is an additional menu for generating Neckermann invoices in plentymarkets. Invoices for Neckermann orders are not generated in your plentymarkets system, as is the case for invoices with other order referrers. Instead, your plentymarkets system receives a special file (pcl format) directly from Neckermann, which contains the orders that you received.</p>
</div>
<div class="paragraph">
<p>You can carry out settings related to the layout of the invoices in the <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Invoice</strong> menu. Go to <strong>Setup » Orders » Events</strong> in order to define which additional procedure should be carried out when the invoice is printed. If you would like the procedure to be limited to orders from the Neckermann market only, then make sure that you create a filter with the <strong>Referrer</strong> filter type and select <strong>Neckermann</strong> within the filter.</p>
</div>
<div class="paragraph">
<p>Use the <strong>Generate Neckermann invoices</strong> menu to filter out the orders of your choice from all of the Neckermann orders that you received and to open the corresponding invoices in a separate file. With the help of the search filter in this area, you can determine which criteria should be used to select orders for the retrieval of invoices.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving Neckermann invoices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfillment » Generate Neckermann invoices</strong>.</p>
</li>
<li>
<p>Set the desired <strong>search filter</strong> options.</p>
</li>
<li>
<p>Under <strong>Procedure</strong>, select the <strong>Order status</strong> that you would like to have assigned to the selected orders after the invoices were successfully retrieved.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-neckermann-invoices">Table 7</a>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong>.<br>
→ A ZIP file is created which contains the invoices corresponding to all of the orders that you selected with the filter options.</p>
</li>
<li>
<p>After you have unzipped this ZIP file, you can save and print your invoices.</p>
</li>
</ol>
</div>
<table id="settings-neckermann-invoices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Settings for Neckermann invoices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the current <strong>status</strong> of the orders that you would like to generate invoices for.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items shipped on</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the date from the calendar. The date when items were shipped can only be used as a filter if you selected status <strong>[7] Outgoing items booked</strong> from the <strong>Order status</strong> drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an <strong>owner</strong> for the orders that you are searching for. Alternatively, select the option <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the <strong>stores</strong> or select <strong>ALL</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Limit the search to a particular <strong>warehouse</strong> or carry out the search for <strong>ALL</strong> warehouses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You have to limit the number of invoices that can be generated to one of the values in the drop-down list. The maximum is 200 invoices.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a new <strong>order status</strong> that you would like to have assigned to the selected orders after the invoices were successfully retrieved. Alternatively, select the option <strong>no change</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">23. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » API log</strong> menu contains a history of processes that run via the Neckermann interface. The formats <strong>NeckermannATEP</strong> and <strong>NeckermannATCD</strong> are available for Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select the <strong>NeckermannATEP</strong> format from the <strong>Process</strong> drop-down list.</p>
</li>
<li>
<p>Select a <strong>date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>