<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Neckermann.at</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Neckermann.at in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the order status</span></a></li>
<li><a href="#400"><span>5.</span><span> Setting up FTP server access</span></a></li>
<li><a href="#500"><span>6.</span><span> Importing components</span></a></li>
<li><a href="#600"><span>7.</span><span> Activating characteristics for the market</span></a></li>
<li><a href="#700"><span>8.</span><span> Importing logos</span></a></li>
<li><a href="#800"><span>9.</span><span> Linking categories</span></a></li>
<li><a href="#900"><span>10.</span><span> Activating primary categories</span></a></li>
<li><a href="#1000"><span>11.</span><span> Linking attributes</span></a></li>
<li><a href="#1100"><span>12.</span><span> Linking manufacturers</span></a>
<ul class="sectlevel2">
<li><a href="#1125"><span>12.1.</span><span> Creating a sync</span></a></li>
<li><a href="#1130"><span>12.2.</span><span> Setting the import options</span></a></li>
<li><a href="#1135"><span>12.3.</span><span> Setting the matching</span></a></li>
<li><a href="#1140"><span>12.4.</span><span> Creating a mapping</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>13.</span><span> Setting the variation availability</span></a></li>
<li><a href="#1450"><span>14.</span><span> Defining SKU manually</span></a></li>
<li><a href="#1500"><span>15.</span><span> Providing information on the energy efficiency</span></a></li>
<li><a href="#2000"><span>16.</span><span> Entering the customs tariff number</span></a></li>
<li><a href="#1600"><span>17.</span><span> Activating the payment method</span></a></li>
<li><a href="#1350"><span>18.</span><span> Creating a PDF template for delivery notes</span></a></li>
<li><a href="#1200"><span>19.</span><span> Displaying exported items</span></a></li>
<li><a href="#1300"><span>20.</span><span> Displaying error reports</span></a></li>
<li><a href="#1700"><span>21.</span><span> Creating returns</span></a></li>
<li><a href="#1800"><span>22.</span><span> Cancelling orders</span></a></li>
<li><a href="#1850"><span>23.</span><span> Generating Neckermann invoices</span></a></li>
<li><a href="#1900"><span>24.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up Neckermann.at</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann Austria enables you to present your products on the market <strong>neckermann.at</strong>. On this page, you will find detailed information about the settings you need to carry out in order to set up the market Neckermann Austria in your plentymarkets system. Pay attention to this information in order to ensure a smooth setup of this market.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Neckermann.at</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are interested in the partner programme of <a href="https://www.neckermann.at/" target="_blank" rel="noopener">Neckermann Austria</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, contact Neckermann.at directly. Please note that the neckermann.at website is currently only available in German.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Contact person</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Contact person</th>
<th class="tableblock halign-left valign-top">Email address</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>René Riebenbauer</strong> - Head of Sales Platform and Content Management</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:rene.riebenbauer@neckermann.at" target="_blank" rel="noopener">rene.riebenbauer@neckermann.at</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Neckermann.at in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After joining the Neckermann partner programme, use your access data to set up the market in plentymarkets. You can integrate the platform Neckermann.at Enterprise into plentymarkets. To set up Neckermann.at Enterprise in plentymarkets, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Neckermann.at in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>Basic settings</strong> area.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#basic-settings-neckermann">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-neckermann" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Basic settings for the market Neckermann.at</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interface mode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the interface mode.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Test mode ON</strong> = Select while you carry out the settings and prepare the interface and items.<br></p>
</li>
<li>
<p><strong>Live mode ON</strong> = Select once you are sure that all settings have been carried out correctly.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Sales partner information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partner ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID that you have received from Neckermann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the company or the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surname</strong>, <strong>first name (contact person)</strong>; <br>
<strong>Telephone number (contact person)</strong>;<br>
<strong>Email address (contact person)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the contact person’s name, telephone number and email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>10%</strong> or <strong>20%</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reduced tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>7%</strong> or <strong>19%</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field that is transferred to Neckermann as the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name (maximum length)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>35 characters</strong> or <strong>65 characters</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field that is transferred to Neckermann as the item preview text.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item preview text (maximum length)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>30 characters</strong> or <strong>50 characters</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short item text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field that is transferred to Neckermann as short item text.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field that is transferred to Neckermann as the item description.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer item without assigning it to a brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = Items are transferred and assigned to a brand by default.<br></p>
</li>
<li>
<p><strong>Yes</strong> = Items are transferred without being assigned to a brand.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position for energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the image position of the item image if the energy label is saved as an item image instead of as a characteristic. For further information about the energy label, refer to the <a href="#1500">Providing information on the energy efficiency</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = Cross-selling settings are not transferred by default.<br></p>
</li>
<li>
<p><strong>Yes</strong> = Cross-selling settings are transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = The RRP is not transferred by default.<br></p>
</li>
<li>
<p><strong>Yes</strong> = The RRP is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item dimensions saved in the item data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the item dimensions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer client (store) ID?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = The ID is not transferred by default.<br></p>
</li>
<li>
<p><strong>Yes</strong> = The ID is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard commission model</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the commission model that you received from Neckermann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The transferred stock is reduced by the entered value. This ensures that an item cannot be completely sold out on this market.<br>
<strong><em>Example:</em></strong> For an item with a stock of 50 and a stock buffer of 10, the value 40 is transferred as stock. For further information, refer to the <a href="/en/stock-management/managing-stocks">Managing stock</a> page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery periods</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Standard delivery time</strong> = Enter the delivery time in days. The number of days you enter here is the standard delivery time that most of your shipments require.<br></p>
</li>
<li>
<p><strong>Item delivery time 1 - 5</strong> = Enter the delivery time in days for each option. Set up the options for item availability in the <strong>Setup » Item » Availability</strong> menu.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feature list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field or <strong>Do not transfer</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer item number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>No</strong> = The item number is not transferred.<br></p>
</li>
<li>
<p><strong>Yes</strong> = The item number is transferred during item export. A maximum of 20 characters is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Overwrite the availability of items that are not limited to stock, if the stock is 0?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes, with item availability 1 to 5</strong> = Overwrite the availability with the value of the item availability 1 to 5 (see delivery periods). <br></p>
</li>
<li>
<p><strong>No</strong> = Do not overwrite the availability.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock quantity for items that are not limited to stock, if the stock is 0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the stock quantity that should be displayed if the stock is missing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book orders as not paid for</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = In the default setting, orders are <strong>unpaid</strong> when they arrive in the system. This is because payment processing takes place at a later point in time.<br></p>
</li>
<li>
<p><strong>No</strong> = Orders are booked as <strong>paid</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save package number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = The package number is transferred by default.<br></p>
</li>
<li>
<p><strong>No</strong> = The package number is not transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily item export</p>
</li>
<li>
<p>Hourly stock synchronisation</p>
</li>
<li>
<p>Hourly order import</p>
</li>
<li>
<p>Hourly forwarding of shipping confirmations</p>
</li>
<li>
<p>Hourly forwarding of returns</p>
</li>
<li>
<p>Hourly forwarding of cancellations</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Transfer of package numbers</div>
<div class="paragraph">
<p>Every single Neckermann order must not possess more than one package number. If this precondition is not fulfilled, the orders concerned are not forwarded to Neckermann!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Neckermann.at. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Neckermann.at:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Neckermann.at Enterprise</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the order status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set the order statuses for cancellations and determine when returns are forwarded to Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Setting the order status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>Order status</strong> area.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#order-status-neckermann">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="order-status-neckermann" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Setting the order status</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for total cancellation "stock cancellation"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status, e.g. <strong>[8] Cancelled</strong>, <strong>[9] Return</strong>, or <strong>[10] Warranty</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for total cancellation "customer cancellation"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status, e.g. <strong>[8] Cancelled</strong>, <strong>[9] Return</strong>, or <strong>[10] Warranty</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Report returns when they reach status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status, e.g. <strong>[9] Return</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">5. Setting up FTP server access</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up your FTP server access in this chapter. Neckermann requires FTP server access for importing orders and invoices.</p>
</div>
<div class="paragraph instruction">
<p>Setting up FTP server access:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>FTP server</strong> area.</p>
</li>
<li>
<p>Enter the access data that you received from Neckermann.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Importing components</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Components of the market Neckermann correspond to the characteristics in plentymarkets. Characteristics in plentymarkets have to be linked to Neckermann components. This is done by uploading a CSV file which contains the Neckermann components. You will receive this file after having closed a contract with Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Importing Neckermann components:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the file from Neckermann.</p>
</li>
<li>
<p>Select and copy the columns <strong>COMPONENT_ID</strong> and <strong>COMPONENT_NAME</strong>.</p>
</li>
<li>
<p>Insert the columns into a new file in a spreadsheet program.</p>
</li>
<li>
<p>Save the file in CSV format on your computer.</p>
</li>
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>Component import</strong> area.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The Neckermann components are available in the drop-down lists of characteristics.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Activating characteristics for the market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the next step, link your <a href="/en/item/settings/properties#100">characteristics</a> with the Neckermann components.</p>
</div>
<div class="paragraph instruction">
<p>Activating characteristic for the market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand the characteristic (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Select the Neckermann component from the <strong>Neckermann.at EP component</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the setting.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Importing logos</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann provides you with various logos, e.g. for features or characteristics that designate quality. The import is done by uploading a CSV file which contains the Neckermann data. Link logos in the same way as you link Neckermann components.</p>
</div>
<div class="paragraph instruction">
<p>Importing Neckermann logos:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the file from Neckermann.</p>
</li>
<li>
<p>Select and copy the columns <strong>LOGO_ID</strong>, <strong>LOGO_DESCRIPTION</strong> and <strong>Short description</strong>.</p>
</li>
<li>
<p>Insert the columns into a new file in a spreadsheet program. The file name must be <strong>LOGO_ID;LOGO_NAME;SHORT_NAME</strong>.</p>
</li>
<li>
<p>Save the file in CSV format on your computer.</p>
</li>
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Expand the <strong>Import info logo</strong> area.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The Neckermann logos are now available in the drop-down lists of characteristics.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">9. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann provides you with a file which contains the categories that have to be assigned to the categories of your online store. The categories are then linked and further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Click on the <strong>Link categories</strong> tab.</p>
</li>
<li>
<p>Enter the categories into the <strong>Neckermann category ID</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Activating primary categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have linked one item to several different categories, e.g. if you are using different category links for different markets, then you can activate the primary category in the <strong>Categories</strong> tab of an item. If you do not activate a primary category, the first category is automatically used as the primary category.</p>
</div>
<div class="paragraph instruction">
<p>Activating the primary category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open an item.</p>
</li>
<li>
<p>Click on the <strong>Categories</strong> tab.</p>
</li>
<li>
<p>Activate a primary category.<br>
<strong><em>Note:</em></strong> Primary categories are only available under <strong>Category links</strong> if the market <strong>Neckermann</strong> is activated.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have created <a href="/en/item/settings/attributes">attributes</a> in your plentymarkets system, you have to link these attributes with Neckermann. To do so, you have to import the <a href="#500">Neckermann components</a> first. Proceed as described below to link the attribute Colour with Neckermann. Link further attributes in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking attributes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.<br>
→ An overview of all existing attributes opens.</p>
</li>
<li>
<p>Expand the attribute <strong>colour</strong>.</p>
</li>
<li>
<p>Click on the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>Neckermann.at Enterprise</strong> from the <strong>Market</strong> drop-down list.<br>
→ An additional drop-down list <strong>Neckermann.at Enterprise</strong> is displayed below.</p>
</li>
<li>
<p>Select the attribute <strong>Colour</strong> from the <strong>Neckermann.at Enterprise</strong> drop-down list.</p>
</li>
<li>
<p>Enter values into the column <strong>Neckermann.at Enterprise</strong> under <strong>Market variation</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">12. Linking manufacturers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Brand IDs for Neckermann.at can be imported with ElasticSync or they can be entered manually.<br></p>
</div>
<div class="paragraph">
<p>To import brand IDs for Neckerman via ElasticSync, create a sync of the type <a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a>. After you have created the sync, you have to set the import options for the sync, set the matching, and create the mappings.</p>
</div>
<div class="sect2">
<h3 id="1125">12.1. Creating a sync</h3>
<div class="paragraph">
<p>First create a sync of the type <strong>Manufacturer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a sync:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Data import: Import</strong>.<br>
→ The sync overview opens.</p>
</li>
<li>
<p>Click on <strong>Add sync</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The editing area <strong>New sync</strong> is displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#manufacturer-sync-neckermann">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The sync is created.<br>
→ The matching settings of the sync open.</p>
</li>
</ol>
</div>
<table id="manufacturer-sync-neckermann" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating a sync</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Basic data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. This name is displayed in the overview and can be used for the search.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an interval for the import of syncs.<br>
By choosing the option <strong>Schedule</strong> you can determine how often and at what time the import of syncs shall be started.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a> from the drop-down list. This sync type is used to import manufacturer data.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the file format of the import file.<br>
Currently, <strong>CSV/TXT</strong> is the only available option, as only CSV or TXT files can be imported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the character set of the file or the option <strong>Detect automatically</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting in line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a line starting from which the data should be imported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the import file contains a header.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use global cache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine whether the global cache should be used for a file or not. If the setting is activated, only modified data rows will be imported. If the setting is not activated, you can import one and the same file again at any time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic mapping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the mapping should be done automatically. The columns in the CSV or TXT file can be mapped automatically to the plentymarkets data fields. To ensure that the mapping works properly, the names of the fields that you selected in the FormatDesigner must not be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Separator</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The separator of the CSV or TXT file is automatically detected. This setting is activated by default.<br>
Alternatively, you can manually select the field separator that is set in the import file in order to separate the data fields (columns) of a data record from each other.<br>
Possible separators are <strong>Semicolon</strong>, <strong>Comma</strong>, <strong>Tab</strong> and <strong>Pipe</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select delimiters within the fields that may contain multiple values.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>" = individual values within one field are separated by double quotation marks.</p>
</li>
<li>
<p>' = individual values within one field are separated by single quotation marks.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Source</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Manual upload</strong>, <strong>FTP</strong>, <strong>HTTPS</strong> or <strong>SFTP</strong>.<br>
Depending on the selected option, the following settings are displayed:</p>
</div>
<div class="paragraph">
<p><strong>Manual upload</strong> = Select and upload a local file.<br>
After running a sync, the file is automatically deleted from the webspace. This is preset by default. In order to save the file you need to remove the check mark.<br>
<strong><em>Note:</em></strong> Storing the file on the webspace is subject to a fee.</p>
</div>
<div class="paragraph">
<p><strong>FTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br>
<strong><em>Tip:</em></strong> Use your plentymarkets FTP access.</p>
</li>
<li>
<p><strong>Port</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name has to end with .csv or .txt.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new <strong>Archive</strong> folder in the FTP directory once the import was successful.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>HTTPS</strong> = *Select External URL.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>External URL</strong> = Enter the URL to access the import file.<br>
<strong><em>Tip:</em></strong> Save the file on your plentymarkets webspace.</p>
</li>
<li>
<p><strong>Authentication:</strong> Select whether an authentication is required to access the file.</p>
<div class="ulist">
<ul>
<li>
<p><strong>none</strong> = no authentication required</p>
</li>
<li>
<p><strong>HTTP authentication</strong> = = an authentication is required for each user and password</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>SFTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br></p>
</li>
<li>
<p><strong>Port (mandatory field)</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name has to end with .csv or .txt.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new <strong>Archive</strong> folder in the FTP directory once the import was successful.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1130">12.2. Setting the import options</h3>
<div class="paragraph">
<p>After you created a <strong>Manufacturer</strong> sync, you set the import options. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1300">Setting the import options</a> chapter on the ElasticSync page.</p>
</div>
</div>
<div class="sect2">
<h3 id="1135">12.3. Setting the matching</h3>
<div class="paragraph">
<p>Next, set the matching for the sync. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1400">Setting the matching</a> chapter on the ElasticSync page.</p>
</div>
</div>
<div class="sect2">
<h3 id="1140">12.4. Creating a mapping</h3>
<div class="paragraph">
<p>Last, you have to create the mappings for the data fields. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1500">Creating a mapping</a> chapter on the ElasticSync page.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">13. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Neckermann.at. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use group function or batch processing</div>
<div class="paragraph">
<p>You can edit the availability of several variations at once by using either the <a href="/en/item/managing-items#100">variation group function</a> or <a href="/en/item/managing-items#400">batch processing</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for Neckermann.at:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Neckermann.at.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Neckermann.at, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Neckermann.at Enterprise</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for Neckermann.at.</p>
</li>
<li>
<p>Click on the <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p>Select a <strong>commission model</strong>.</p>
</li>
<li>
<p>Select a <strong>Item type</strong>.<br>
<strong><em>Tip:</em></strong> Information about the commission model and the item type is provided by Neckermann.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1450">14. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Neckermann.at</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Information about the commission model and the item type is provided by Neckermann.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">15. Providing information on the energy efficiency</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To comply with EU regulations on energy efficiency that came into force on 1 January 2015, you have to provide information on the energy efficiency of certain items to sell them on Neckermann. In addition, you have to make product data sheets available to potential buyers of these items. To do so, create the following <a href="/en/item/settings/properties#100">characteristics</a>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Energy efficiency class</strong><br>
Characteristic type: <strong>No</strong></p>
</li>
<li>
<p><strong>Energy label</strong><br>
Characteristic type: <strong>File</strong><br>
File format: e.g. <strong>JPG</strong> or <strong>PNG</strong> (image format)</p>
</li>
<li>
<p><strong>Product data sheet</strong><br>
Characteristic type: <strong>File</strong><br>
File format: <strong>PDF</strong></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating the characteristic energy efficiency class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the characteristic type <strong>No</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Select the characteristic type <strong>File</strong> and the Neckermann characteristic <strong>Energy label</strong> or <strong>Product data sheet</strong> for the characteristics Energy label and Product data sheet. The following example describes how to create the energy label for Neckermann.at.</p>
</div>
<div class="paragraph instruction">
<p>Creating the characteristic energy label:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the characteristic type <strong>File</strong>.</p>
</li>
<li>
<p>Select the characteristic <strong>Energy label</strong> under <strong>Neckermann.at EP characteristic</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Link the characteristics in the <strong>Characteristics</strong> tab of an item.</p>
</div>
<div class="paragraph instruction">
<p>Linking energy efficiency characteristics to an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Activate the characteristics <strong>Energy efficiency class</strong>, <strong>Energy label</strong> and <strong>Product data sheet</strong> that you have just created.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The characteristics are displayed in the list.</p>
</li>
<li>
<p>Upload the image file of the energy label to the <strong>Energy label</strong> characteristic.</p>
</li>
<li>
<p>Upload the PDF file of the product data sheet to the <strong>Product data sheet</strong> characteristic.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Save the energy label in the item’s <strong>Images</strong> tab. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Saving the energy label as an image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Images</strong> tab.</p>
</li>
<li>
<p>Add the image file of the energy label either via <strong>Select files</strong> or via the drag-and-drop function.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>In the <strong>Basic settings</strong> area, enter the image’s position number into the <strong>Image position for energy label</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">16. Entering the customs tariff number</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For each variation, a customs tariff number must be transmitted to Neckermann.at. As such, save a customs tariff number for all variations that you want to sell on Neckermann.at.</p>
</div>
<div class="paragraph instruction">
<p>Entering the customs tariff number:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.
→ The <strong>Settings</strong> tab of the main variation opens.</p>
</li>
<li>
<p>Open the variation that you want to sell on Neckermann.at.
<strong><em>Tip:</em></strong> If you enter the customs tariff number for the main variation, this customs tariff number is inherited by all variations of the item.</p>
</li>
<li>
<p>Scroll down to the <strong>Cost</strong> area.</p>
</li>
<li>
<p>Enter the customs tariff number into the <strong>Customs tariff number</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The customs tariff number is saved.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">17. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>Neckermann Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method Neckermann Payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Neckermann Payment</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-payment-method">[table-payment-method]</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="able-payment-method" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br></p>
</li>
<li>
<p><strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br></p>
</li>
<li>
<p><strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The selection depends on the conditions of your contract.<br>
<strong><em>Important:</em></strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/business-decisions/plenty-bi/statistics">Statistics</a> page of the manual.<br>
For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1350">18. Creating a PDF template for delivery notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to create a <a href="/en/orders/order-documents#170">PDF template</a> for delivery notes for Neckermann.</p>
</div>
<div class="paragraph">
<p>Download the template files for <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/Neckermann_document_templates.zip" target="_blank" rel="noopener">Neckermann.at</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> in DOCX and ODT format. Open the file in Word (DOCX) or in LibreOffice (ODT), make any necessary adjustments and export the file as a PFD file. Upload this PDF template to plentymarkets as described below.</p>
</div>
<div class="paragraph instruction">
<p>Creating a PDF template for delivery notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client »</strong> <em>Select client</em> <strong>» Locations »</strong> <em>Select location</em> <strong>» Documents » Delivery note</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>PDF template</strong>.</p>
</li>
<li>
<p>Click on <strong>Add template</strong>.<br>
→ The editing window <strong>Upload new PDF template</strong> opens.</p>
</li>
<li>
<p>From the drop-down list <strong>Payment method</strong>, select the option <strong>Neckermann Payment</strong>.</p>
</li>
<li>
<p>Select a language from the <strong>Language</strong> drop-down list.</p>
</li>
<li>
<p>In the line <strong>Template</strong>, click on <strong>Choose template file</strong>.</p>
</li>
<li>
<p>´Upload the PDF template.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">19. Displaying exported items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Search for items that you have already transferred to Neckermann in the <strong>Setup » Markets » Neckermann Austria Enterprise » Tab: Transferred items</strong> menu. Enter the item ID, the name or the Neckermann number into the search field to search for specific items or leave the search field empty and click on Item search to display all results.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">20. Displaying error reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All operations relating to the market Neckermann are recorded in your plentymarkets system. You can retrieve error reports containing a list of all error messages and notes with the corresponding IDs. In the <strong>Error reports</strong> menu, all errors related to your stock used for Neckermann are displayed. The following error types are distinguished:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Note</strong>: A note is displayed.</p>
</li>
<li>
<p><strong>Warning:</strong> In case of warnings, all items are imported.</p>
</li>
<li>
<p><strong>Error:</strong> In case of errors, no faulty items are imported.</p>
</li>
<li>
<p><strong>Critical error:</strong> In case of critical errors, no items are imported.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Retrieving error reports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Neckermann Austria Enterprise</strong>.</p>
</li>
<li>
<p>Open the <strong>Error reports</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Retrieve error reports</strong>.<br>
→ The error reports are retrieved and displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The <strong>Latest error reports</strong> list provides information about type and number of errors for the following data types:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Media (images):</strong> Information about media files.</p>
</li>
<li>
<p><strong>Catalogue:</strong> Information about the catalogue and all included items of a seller.</p>
</li>
<li>
<p><strong>Stock synchronisation:</strong> Information about the hourly stock synchronisation and price synchronisation.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In case of errors due to incorrect item data occurring during the item export from plentymarkets, information about the affected item as well as the error type can be found in the error message. Fix the error and check whether there are additional error messages after you have carried out the next automatic item export.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Description of error messages</div>
<div class="paragraph">
<p>For further information about error messages, contact Neckermann. Ask your Neckermann contact person, if needed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">21. Creating returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create returns for Neckermann in the <strong>Orders » Edit orders</strong> menu. The <strong>package code</strong> which can be found on the return label is required.</p>
</div>
<div class="paragraph instruction">
<p>Creating returns:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Select the <strong>create</strong> option from the <strong>Return…​</strong> drop-down list in the <strong>Overview</strong> tab.<br>
→ The <strong>Return for the order</strong> window opens.</p>
</li>
<li>
<p>Enter the <strong>package code of the return</strong>.<br>
<strong><em>Note:</em></strong> The package code cannot be entered after the return was created.</p>
</li>
<li>
<p>Place a check mark in the <strong>Accept</strong> column under <strong>Item</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The return is created and opened. The code is saved in the return’s <strong>Settings</strong> tab.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">22. Cancelling orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As there is no possibility to delete cancellations for example of individual items in an order, set the quantity of items affected to 0 in this case. Provide a reason for each cancellation, either <strong>Item not in stock</strong> or <strong>Customer cancellation</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1850">23. Generating Neckermann invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The process for generating Neckermann invoices differs from the process for other order referrers. This is why there is an additional menu for generating Neckermann invoices in plentymarkets. Invoices for Neckermann orders are not generated in your plentymarkets system, as is the case for invoices with other order referrers. Instead, your plentymarkets system receives a special file (pcl format) directly from Neckermann, which contains the orders that you received.</p>
</div>
<div class="paragraph">
<p>You can carry out settings related to the layout of the invoices in the <strong>Setup » Client »</strong> <em>Select a client</em> <strong>» Locations »</strong> <em>Select a location</em> <strong>» Documents » Invoice</strong> menu. Go to <strong>Setup » Orders » Events</strong> in order to define which additional procedure should be carried out when the invoice is printed. If you would like the procedure to be limited to orders from the Neckermann market only, then make sure that you create a filter with the <strong>Referrer</strong> filter type and select <strong>Neckermann</strong> within the filter.</p>
</div>
<div class="paragraph">
<p>Use the <strong>Generate Neckermann invoices</strong> menu to filter out the orders of your choice from all of the Neckermann orders that you received and to open the corresponding invoices in a separate file. With the help of the search filter in this area, you can determine which criteria should be used to select orders for the retrieval of invoices.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving Neckermann invoices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfillment » Generate Neckermann invoices</strong>.</p>
</li>
<li>
<p>Set the desired <strong>search filter</strong> options.</p>
</li>
<li>
<p>Under <strong>Procedure</strong>, select the <strong>Order status</strong> that you would like to have assigned to the selected orders after the invoices were successfully retrieved.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-neckermann-invoices">Table 6</a>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong>.<br>
→ A ZIP file is created which contains the invoices corresponding to all of the orders that you selected with the filter options.</p>
</li>
<li>
<p>After you have unzipped this ZIP file, you can save and print your invoices.</p>
</li>
</ol>
</div>
<table id="settings-neckermann-invoices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Settings for Neckermann invoices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the current <strong>status</strong> of the orders that you would like to generate invoices for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items shipped on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date from the calendar. The date when items were shipped can only be used as a filter if you selected status <strong>[7] Outgoing items booked</strong> from the <strong>Order status</strong> drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an <strong>owner</strong> for the orders that you are searching for. Alternatively, select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the <strong>stores</strong> or select <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limit the search to a particular <strong>warehouse</strong> or carry out the search for <strong>ALL</strong> warehouses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You have to limit the number of invoices that can be generated to one of the values in the drop-down list. The maximum is 200 invoices.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a new <strong>order status</strong> that you would like to have assigned to the selected orders after the invoices were successfully retrieved. Alternatively, select the option <strong>no change</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">24. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » API log</strong> menu contains a history of processes that run via the Neckermann interface. The formats <strong>NeckermannATEP</strong> and <strong>NeckermannATCD</strong> are available for Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select the <strong>NeckermannATEP</strong> format from the <strong>Process</strong> drop-down list.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>