<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_buchhaltung_pro_standort"><span>1.</span><span> Buchhaltung pro Standort</span></a></li>
<li><a href="#_neuen_standort_anlegen"><span>2.</span><span> Neuen Standort anlegen</span></a></li>
<li><a href="#_einstellungen"><span>3.</span><span> Einstellungen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Standorte</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite wird die Konfiguration von Standorten mit den Buchhaltungseinstellungen beschrieben, die im Menü <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte</strong> konfiguriert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_buchhaltung_pro_standort">1. Buchhaltung pro Standort</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die <a href="/auftragsabwicklung/auftraege/buchhaltung"><strong>Buchhaltung</strong></a> in plentymarkets ist für Mandanten nach Standorten getrennt möglich. Damit können Sie pro Mandant mehrere Firmensitze in verschiedenen Ländern verwalten. Jeder Mandant hat standardmäßig mindestens einen Standort, und zwar den Standort des Firmensitzes des Unternehmens. Das zugehörige Menü ist das erste unter <strong>Standorte</strong> und trägt die Bezeichnung des Landes des Standortes, z.B. Deutschland.</p>
</div>
<div class="paragraph">
<p>Die Konfiguration gliedert sich pro Mandant und pro Standort in die Untermenüs <strong>Einstellungen</strong> und <a href="/auftragsabwicklung/auftraege/buchhaltung"><strong>Buchhaltung</strong></a>. Für jeden neuen Standort kann die Buchhaltung individuell konfiguriert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_neuen_standort_anlegen">2. Neuen Standort anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um einen neuen Standort anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Standort anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit dem Cursor auf den Menüpunkt <strong>Standorte</strong>.<br>
→ Rechts wird ein Pfeil eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf den <strong>Pfeil</strong>.<br>
→ Die Option <strong>Neuer Standort</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Standort</strong>.<br>
→ Ein Bearbeitungsfenster wird angezeigt.</p>
</li>
<li>
<p>Tragen Sie unter <strong>Name</strong> eine Bezeichnung für den neuen Standort ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Land</strong> des neuen Standorts aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen">3. Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für jeden Standort ist ein Untermenü <strong>Einstellungen</strong> verfügbar, in dem Sie die Bezeichnung des Standortes ändern oder
den Standort löschen können. Um Fehler zu vermeiden, ist das Land eines Standortes nicht änderbar. Legen Sie daher bei
Änderung des Landes eines Standortes einen neuen Standort an. Ein Standort, in der Regel der Firmensitz des Unternehmens,
wird im Menü <a href="/omni-channel/online-shop/mandanten-einrichten#grundeinstellungen"><strong>Grundeinstellungen</strong></a> als <strong>Standard-Standort</strong> festgelegt.</p>
</div>
<div class="paragraph">
<p>Sie können einen Standort nur löschen, wenn ein weiterer Standort vorhanden ist. Ein Standort,
der im Menü <a href="/omni-channel/online-shop/mandanten-einrichten#grundeinstellungen"><strong>Grundeinstellungen</strong></a>
 als <strong>Standard-Standort</strong> hinterlegt ist, kann nicht gelöscht werden.</p>
</div>
<div class="paragraph instruction">
<p>Standort löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Shop wählen » Standorte</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Untermenü <strong>Einstellungen</strong> des zu löschenden Standorts.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Der Standort wird nach einer Sicherheitsabfrage gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</main>