<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_inhalt_dieses_kapitels"><span>1.</span><span> Inhalt dieses Kapitels</span></a></li>
<li><a href="#grundeinstellungen"><span>2.</span><span> Grundeinstellungen an Ihrem Webshop vornehmen</span></a></li>
<li><a href="#webshop-sperren"><span>3.</span><span> Webshop sperren</span></a></li>
<li><a href="#_webshop_entsperren"><span>4.</span><span> Webshop entsperren</span></a></li>
<li><a href="#weiterleitung"><span>5.</span><span> Weiterleitung auf mobile Endgeräte einrichten</span></a></li>
<li><a href="#_verhalten_im_404_fehlerfall_festlegen"><span>6.</span><span> Verhalten im 404-Fehlerfall festlegen</span></a></li>
<li><a href="#rechtliche-angaben"><span>7.</span><span> Rechtliche Angaben</span></a></li>
<li><a href="#_text_eintragen"><span>8.</span><span> Text eintragen</span></a></li>
<li><a href="#_template_variablen_und_funktionen_einbinden"><span>9.</span><span> Template-Variablen und -Funktionen einbinden</span></a>
<ul class="sectlevel2">
<li><a href="#_template_variablen_für_kategorieseiten"><span>9.1.</span><span> Template-Variablen für Kategorieseiten</span></a></li>
<li><a href="#_template_funktionen_für_die_verlinkung_von_kategorieseiten"><span>9.2.</span><span> Template-Funktionen für die Verlinkung von Kategorieseiten</span></a></li>
<li><a href="#_template_variablen_für_e_mail_vorlagen"><span>9.3.</span><span> Template-Variablen für E-Mail-Vorlagen</span></a></li>
</ul>
</li>
<li><a href="#infoseiten"><span>10.</span><span> Allgemeines über das Menü Seiten</span></a></li>
<li><a href="#_konfiguration"><span>11.</span><span> Konfiguration</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Webshop</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Standard » Webshop</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhalt_dieses_kapitels">1. Inhalt dieses Kapitels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhalten Sie wichtige Informationen zu verschiedenen Menüs Ihres Webshops. Neben <strong><a href="#grundeinstellungen">Grundeinstellungen</a></strong> zum Webshop erfahren Sie in diesem Kapitel, wie Sie Einstellungen unter
Multilingualismus
vornehmen, um Ihren Webshop mehrsprachig aufzubauen und wie Sie im Menü <strong><a href="/auftragsabwicklung/payment/waehrungen">Währung</a></strong>
die entsprechenden Währungen verwalten. Darüber hinaus können Sie in diesem Menü Ihren <strong><a href="#webshop-sperren">Webshop sperren</a></strong>
oder mobile <strong><a href="#weiterleitung">Weiterleitungen</a></strong> hinterlegen. Auch <strong><a href="#rechtliche-angaben">rechtliche Angaben</a></strong> wie zu den
AGB oder zum Widerrufsrecht hinterlegen Sie in diesem Bereich Ihres plentymarkets-Systems.</p>
</div>
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Standard » Webshop » Grundeinstellungen</strong></p>
</div>
<div class="paragraph">
<p>In diesem Menü konfigurieren Sie die grundlegenden Einstellungen Ihres Webshops.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Benutzer werden ausgeloggt</div>
<div class="paragraph">
<p>Wenn Sie in diesem Menü Änderungen vornehmen, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündigen Sie Änderungen daher ggf. weiteren Benutzern an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="grundeinstellungen">2. Grundeinstellungen an Ihrem Webshop vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie finden in der nachfolgenden Tabelle detaillierte Informationen zu den Optionen dieses Menüs und können damit das Aussehen Ihres Webshops und die Funktionen, die Sie verwenden möchten, individuell einstellen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen für Ihren Webshop konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop »</strong><strong>Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Upload Favicon</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn gewünscht, ein Icon hochladen, das den Webshop kennzeichnet und zum Beispiel in der Adresszeile eines Browsers links von der URL angezeigt wird.<br>
<strong>Wichtig</strong>: Es können nur Icons mit dem Datenformat .ico verwendet werden.<br>
Informationen zu Favicons siehe z.B. bei <a href="http://de.wikipedia.org/wiki/Favicon" target="_blank"><strong>Wikipedia</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Dokumenttyp-Deklaration</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier die HTML-Version für den Webshop wählen, wobei die Einstellung auch für vorhandene Mandanten wirksam wird. Es stehen die Optionen <strong>HTML 5</strong>, <strong>HTML 4.0 Transitional (Grundeinstellung)</strong>, <strong>HTML 4.01 Transitional</strong> und <strong>XHTML 1.0 Transitional</strong> zur Auswahl.<br>
Für HTML gibt es sogenannte Dokumenttyp-Definitionen. Dort ist geregelt, welche Elemente ein Dokument vom Typ HTML enthalten darf, welche Elemente innerhalb von welchen anderen vorkommen dürfen, welche Attribute zu einem Element gehören, ob die Angabe dieser Attribute Pflicht ist oder freiwillig usw.<br>
<strong>Wichtig</strong>: Beachten, dass je nach HTML-Version unterschiedliche Elemente verfügbar sind. Das bedeutet, dass die Codes, die verwendet werden, der hier eingestellten HTML-Version entsprechen müssen. Andernfalls werden nicht kompatible Elemente nicht angezeigt oder unterschiedlich interpretiert.<br>
Einen Überblick über die Elemente verschiedener HTML-Versionen sowie Erläuterungen zu CSS-Formatierungen finden Sie auf folgender Webseite:<br>
<a href="http://meiert.com/de/publications/indices/html-elements/" target="_blank"><strong>http://meiert.com/de/publications/indices/html-elements/</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Preisspalte</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Preisspalte des Preises wählen, der im Webshop oder Mandant (Shop) als Standard-Preis angezeigt werden soll. Der eingestellte Preis wird auch für Rabatte verwendet.<br>
Für jeden Webshop und jeden Mandant eine individuelle Preisspalte als Standard-Preis einstellen.<br>
<strong>Wichtig</strong>: Diese Einstellung wirkt sich nur auf den Bestellvorgang aus, nicht auf Artikel- bzw. Kategorieansichten im Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Cross-Selling</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bevorzugte Einstellung für Cross-Selling-Angebote im Webshop auswählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Dynamisches Cross-Selling</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ja</strong> für dynamisches Cross Selling einstellen. plentymarkets erstellt automatisch Cross-Selling-Verknüpfungen. Dabei werden Artikel bei anderen Artikeln automatisch als <strong><a href="/artikel/artikel-verwalten#950">Cross-Selling-Artikel</a></strong> eingetragen, wenn diese zusammen gekauft werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lebensdauer Session-Cookie</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen zwischen <strong>bis der Browser geschlossen wird</strong> oder <strong>Hundert Tage, auch wenn der Browser geschlossen wird</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sicherheitscode in Kontaktformularen abfragen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein Sicherheitscode wird in Kontaktformularen für den Versand von E-Mails zur Sicherheitsabfrage verwendet.<br>
Ein Beispiel ist die
Tell-A-Friend-E-Mail<br>
Wenn die Abfrage nicht aktiv sein soll, die Einstellung <strong>Nein</strong> wählen. Standardeinstellung = <strong>Ja</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anzahl der fehlerhaften Login-Versuche pro Tag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der möglichen Login-Versuche der Kunden in den Webshop pro Tag einstellen. Damit sind Versuche bei fehlerhafter Eingabe der Zugangsdaten gemeint, korrekte Logins werden dabei nicht berücksichtigt. Die Anzahl ist zwischen 4 und 25 Versuchen einstellbar.<br>
<strong>Vorsicht</strong>: Je höher die Anzahl der Versuche eingestellt wird, desto mehr erhält der Benutzer - aber auch ein Unbefugter! - die Möglichkeit, einen Login durch Ausprobieren der Zugangsdaten zu erreichen. Daher diese Einstellung sorgfältig vornehmen. Am nächsten Tag hat der Kunde wieder die gleiche Anzahl von Login-Versuchen zur Verfügung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Login</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob ein Login nur im jeweiligen Webshop bzw. Mandant möglich sein soll, oder in allen Webshops.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warnhinweis bei Überverkauf</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bei Einstellung auf <strong>aktiv</strong> wird im Bestellvorgang ein Warnhinweis bei Überverkauf angezeigt, d.h. wenn die Bestellmenge den Nettobestand des betreffenden Artikels übersteigt. Der Besteller wird informiert, dass es zu einer Lieferverzögerung kommen kann. Bedingung für den Hinweis: der Warenbestand des Artikels ist positiv und auf keine Beschränkung eingestellt (Tab: Bestand/Einstellungen des Artikels).</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Menü <strong>Grundeinstellungen</strong> für den Webshop</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="webshop-sperren">3. Webshop sperren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Funktion <strong>Webshop jetzt sperren</strong> stellen Sie Ihren Mandanten während der Einrichtung unsichtbar. Besuchern eines gesperrten Webshops wird ein Wartungshinweis angezeigt. Auch wenn Sie später umfangreiche Änderungen an Ihrem Webshop vornehmen möchten, können Sie Ihren Webshop sperren und Kunden so auf den Wartungshinweis umleiten. Vergessen Sie jedoch nicht, Ihren Webshop nach Abschluss der Arbeiten wieder zu entsperren, sonst erhalten Sie keine Bestellungen mehr!</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Erstellen Sie bei umfangreichen Änderungen eine Kopie Ihres Designs und arbeiten Sie in der Kopie. So können Sie bei Bedarf das ursprüngliche Design wieder verwenden. Starten Sie den Webshop nach jeder Wartung über die Standard-URL in einem anderen Browser und prüfen Sie alle Änderungen gründlich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Webshop sperren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Webshop sperren</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Webshop jetzt sperren</strong>.<br>
→ Der Webshop wird gesperrt und ist nur noch über direkte Produkt-Links oder das URL-Suffix <strong>/index.php</strong> erreichbar.<br>
<strong><em>Tipp:</em></strong> Wenn Sie den Standard-Mandanten sperren, werden alle Mandanten des Shops gesperrt.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Gesperrter Webshop nicht per REST-API erreichbar</div>
<div class="paragraph">
<p>Wenn Sie einen Webshop sperren, ist die Kommunikation mit dem plentymarkets System per REST-API nicht möglich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_webshop_entsperren">4. Webshop entsperren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um den Webshop zu entsperren.</p>
</div>
<div class="paragraph instruction">
<p>Webshop entsperren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Webshop sperren</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Webshop jetzt entsperren</strong>.<br>
→ Der Webshop wird entsperrt und ist für Besucher wieder erreichbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="weiterleitung">5. Weiterleitung auf mobile Endgeräte einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für eine mobile Variante Ihres Online-Shops hinterlegen Sie im Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Weiterleitung</strong> zwei Ziel-URLs. Mit der Option <strong>Ziel-URL (Kategorie)</strong> steuern Sie den Zugriff auf die Kategorien. Mit der Option <strong>Ziel-URL (Artikelseite)</strong> richten Sie eine Weiterleitung auf einen bestimmten Artikel ein. Die eingerichtete Weiterleitung wird anhand des HTTP-Requests eines mobilen Browsers beim Aufruf des Webshops über ein mobiles Endgerät veranlasst. Gehen Sie wie unten beschrieben vor, um eine Weiterleitung auf mobile Endgeräte einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Weiterleitung auf mobile Endgeräte einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Weiterleitung</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Weiterleitung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ermöglicht die optimierte Anzeige des Webshops auf mobilen Endgeräten, z. B. über <strong><a href="/omni-channel/multi-channel/shopgate">Shopgate</a></strong> oder ähnliche Anbieter. <strong>Aktiv</strong> wählen, um die Weiterleitungen auf die eingefügten URLs zu aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ziel-URL (Kategorie)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>URL der mobilen Variante des Webshops eintragen, z.B. <strong><a href="http://mobile.ihrplentyshop.de" class="bare">http://mobile.ihrplentyshop.de</a></strong>. Auf diese URL werden Kunden weitergeleitet, die mit einem mobilen Endgerät auf den Webshop zugreifen.<br>
<strong>Tipp</strong>: Mit der Template-Variable <strong>$ReferrerID</strong> in der URL kann nachvollzogen werden, woher Kunden weitergeleitet wurden. Die URL sieht dann z.B. so aus: <strong><a href="http://mobile.testshop.de/?referrerId=$referrerId" class="bare">http://mobile.testshop.de/?referrerId=$referrerId</a></strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ziel-URL (Artikelseite)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>URL eintragen, auf die Kunden weitergeleitet werden, die ein mobiles Endgerät nutzen, um z.B. von einem Artikel in einem Preisportal direkt zum Artikel im Webshop zu gelangen. Eine solche Artikel-URL kann wie folgt aussehen: <strong><a href="http://mobile.ihrplentyshop.de/?itemNumber=$itemId" class="bare">http://mobile.ihrplentyshop.de/?itemNumber=$itemId</a></strong>. Mit der Template-Variablen <strong>$ItemID</strong> in der URL ist jeder Artikel erreichbar.<br>
<strong>Tipp</strong>: Mit der Template-Variablen <strong>$ReferrerID</strong> in der URL kann nachvollzogen werden, woher Kunden weitergeleitet wurden. Die URL könnte wie folgt aussehen: <strong><a href="http://mobile.ihrplentyshop.de/?itemNumber=$itemId&amp;referrerId=$referrerId" class="bare">http://mobile.ihrplentyshop.de/?itemNumber=$itemId&amp;referrerId=$referrerId</a></strong><br>
<strong>Hinweis</strong>: Wenn hier keine URL eingetragen wird, erfolgt keine Weiterleitung von Preisportalen etc. zu den Artikeln im Webshop.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Optionen für die Weiterleitung bei mobilen Endgeräten</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_verhalten_im_404_fehlerfall_festlegen">6. Verhalten im 404-Fehlerfall festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Vergangenheit wurden ungültige URLs nicht sofort aus der Sitemap gelöscht. Daher kam es bei Änderung einer Kategorie- oder Artikelseite zu einem 404-Fehler. Die Seite wurde nicht gefunden. Mit der Sitemap-Funktion werden die Inhalte täglich neu pro Mandant generiert und ungültige Einträge fallen heraus. Nur die jeweils aktuellen und sichtbaren Inhalte werden in die Sitemaps übernommen. Mit den Einstellungen für das Verhalten im 404-Fehlerfall legen Sie fest, welche Suche dabei ausgeführt werden soll. Gleichzeitig wird direkt die HTTP-Statusmeldung 301 (Moved Permanently) ausgegeben. Dies hat zur Folge, dass nicht mehr aktuelle URL aus den Suchmaschinen gelöscht wird.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wann automatisch suchen?</div>
<div class="paragraph">
<p>Eine automatische Suche ist sinnvoll, wenn die neue URL gleiche oder zumindest ähnliche Bezeichnungen enthält und sie voraussichtlich einfach gefunden werden kann. Ist dies nicht der Fall, kann eine automatische Suche zu einem sogenannten Soft-404-Fehler führen. Wenn Sie im Regelfall ähnliche Inhalte anbieten, können Sie somit diese Weiterleitung verwenden. Besprechen Sie den Einsatz mit Ihrer SEO-Agentur.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Weiterleitung bei 404-Fehler einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Weiterleitung</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umleitung bei Kategorie</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inaktiv</strong> (Standard) = Keine Weiterleitung<br>
<strong>Content-Suche ausführen</strong> = Wenn eine Kategorie-URL nicht mehr gültig ist, wird eine Suche nach einer passenden Kategorieseite ausgeführt.<br>
<strong>Artikelsuche ausführen</strong> = Wenn eine Kategorie-URL nicht mehr gültig ist, wird eine Suche nach einem passenden Artikel ausgeführt.<br>
<strong>Wichtig</strong>: Wenn diese Funktion aktiviert ist, wird eine unter <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Seiten</strong> als <strong>404-Fehlerseite</strong> hinterlegte Kategorieseite nicht angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umleitung bei Artikelseite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inaktiv</strong> (Standard) = Keine Weiterleitung<br>
<strong>Content-Suche ausführen</strong> = Wenn eine Artikel-URL nicht mehr gültig ist, wird eine Suche nach einer passenden Kategorieseite ausgeführt.<br>
<strong>Artikelsuche ausführen</strong> = Wenn eine Artikel-URL nicht mehr gültig ist, wird eine Suche nach einem passenden Artikel ausgeführt.<br>
<strong>Wichtig</strong>: Wenn diese Funktion aktiviert ist, wird eine unter <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Seiten</strong> als <strong>Seite "Artikel nicht gefunden"</strong> hinterlegte Kategorieseite nicht angezeigt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Optionen für die Weiterleitung bei 404-Fehler (Seite nicht gefunden)</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="rechtliche-angaben">7. Rechtliche Angaben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Rechtliche Angaben</strong> hinterlegen Sie Ihre <strong>AGB</strong>, die <strong>Widerrufsbelehrung</strong>, die <strong>Datenschutzerklärung</strong> und das <strong>Impressum</strong> für einen <strong>Mandanten</strong> (Shop). Mittels <strong>Template-Variablen</strong> werden die Inhalte dann im Webshop und den E-Mail-Vorlagen dargestellt. Wenn Sie außerdem einen externen Dienstleister nutzen, um Ihre rechtlichen Angaben im Falle einer gesetzlichen Änderung automatisch auf den aktuellen Stand zu bringen, finden Sie die aktuellen Texte hier. Der Vorteil besteht darin, dass Sie Textänderungen nur in diesem Menü vornehmen und die Änderungen sich dann auf alle verknüpften Dokumente auswirken.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_text_eintragen">8. Text eintragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für jede verfügbare <strong><em>Sprache</em></strong> hinterlegen Sie einen Text für AGB, Widerrufsbelehrung, Datenschutz und Impressum als reinen <strong>Text</strong> oder im Format <strong>HTML</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Text eintragen</div>
<div class="paragraph">
<p>Öffnen Sie eine Sprache und tragen Sie die rechtlichen Texte in der Sprache ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/mandanten-einrichten/assets/DE-RechtlicheAngaben-01.png" alt="DE RechtlicheAngaben 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: AGB im Tab <strong>HTML</strong> für <strong>Deutsch</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_variablen_und_funktionen_einbinden">9. Template-Variablen und -Funktionen einbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie bereits erwähnt, binden Sie die rechtlichen Angaben mittels <strong>Template-Variablen</strong> und <strong>-Funktionen</strong> ein. Mit Template-Variablen fügen Sie die Inhalte, d.h. Texte, in Kategorieseiten oder E-Mail-Vorlagen ein. Mit Template-Funktionen binden Sie die Kategorieseiten ins Design ein. Legen Sie für Rechtliche Angaben <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorien des Typs Content</a></strong> an.</p>
</div>
<div class="sect2">
<h3 id="_template_variablen_für_kategorieseiten">9.1. Template-Variablen für Kategorieseiten</h3>
<div class="paragraph">
<p>Die Template-Variablen für Kategorieseiten beinhalten den im Tab <strong>HTML</strong> eingetragenen Text. Wenn eine Kategorieseite im Webshop aufgerufen wird, wird mit den Template-Variablen der passende Text für die Sprache und den Mandanten angezeigt. Wie in Kapitel 2 beschrieben, muss ein Text für die Sprache bei dem Mandanten eingetragen sein.</p>
</div>
<div class="paragraph">
<p>Bild 2 zeigt die Template-Variable für die AGB in der Kategorieseite AGB eines Webshops.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/mandanten-einrichten/assets/DE-RechtlicheAngaben-02.png" alt="DE RechtlicheAngaben 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: <strong>Template-Variablen</strong> für <strong>AGB</strong> in der <strong>Kategorieseite</strong> einbinden</em></p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert <strong>Template-Variablen</strong> für Kategorieseiten:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Variable</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$GeneralTermsAndConditions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>AGB</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$CancellationRights</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Widerrufsbelehrung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$PrivacyPolicy</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datenschutzerklärung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$LegalDisclosure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Impressum</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Template-Variablen</strong></em><em>für Kategorieseiten</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_template_funktionen_für_die_verlinkung_von_kategorieseiten">9.2. Template-Funktionen für die Verlinkung von Kategorieseiten</h3>
<div class="paragraph">
<p>Nachfolgend finden Sie eine Übersicht der Template-Funktionen, die ins Design eingebunden werden müssen, um auf Kategorieseiten zu verlinken.<br>
Die Kategorieseiten müssen im Menü <strong><a href="#infoseiten">Einstellungen » Mandant (Shop) » Standard » Webshop » Seiten</a></strong> bzw. designspezifisch
im Menü <strong><a href="/omni-channel/online-shop/cms#webdesign-webdesign-bearbeiten">CMS » Webdesign » Einstellungen » Design-Einstellungen » Tab: Mandanten</a></strong>
verknüpft werden, damit die Template-Funktionen Inhalt ausgeben.<br>
Der Vorteil der angegebenen Template-Funktionen liegt darin, dass sie z.B. beim Kopieren des Designs für einen anderen Mandanten
nicht angepasst werden müssen. Wenn Sie stattdessen die Template-Funktion <strong>Link()</strong> verwenden, müssen Sie die ID für jeden Mandanten anpassen.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert <strong>Template-Funktionen</strong> für die <strong><em>Verlinkung</em></strong> zu Kategorieseiten:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Funktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Link_TermsConditions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>AGB</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Link_CancellationRights</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Widerrufsbelehrung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Link_PrivacyPolicy</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datenschutzerklärung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Link_Help</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hilfeseite</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Link_ShippingCosts</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versandkosten</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: <strong>Template-Funktionen</strong> für die <strong>Verlinkung</strong> zu Kategorieseiten</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_template_variablen_für_e_mail_vorlagen">9.3. Template-Variablen für E-Mail-Vorlagen</h3>
<div class="paragraph">
<p>Die Integration der Texte in <strong>E-Mail-Vorlagen</strong> erfolgt ähnlich. Bei einer E-Mail-Vorlage muss jedoch unterschieden werden, ob die E-Mail als reiner <strong>Text</strong> oder als <strong>HTML</strong>-E-Mail versendet wird. Deshalb stehen für E-Mail-Vorlagen für alle rechtlichen Angaben jeweils zwei Template-Variablen zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert <strong>Template-Variablen</strong> für <strong>E-Mail-Vorlagen</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Variablen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$GeneralTermsAndConditionsText</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>AGB, Text</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$GeneralTermsAndConditionsHTML</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>AGB, HTML</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$CancellationRightsText</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Widerrufsbelehrung, Text</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$CancellationRightsHTML</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Widerrufsbelehrung, HTML</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$PrivacyPolicyText</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datenschutzerklärung, Text</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$PrivacyPolicyHTML</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datenschutzerklärung, HTML</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$LegalDisclosureText</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Impressum, Text</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$LegalDisclosureHTML</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Impressum, HTML</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 3: <strong>Template-Variablen</strong></em><em><strong>für E-Mail-Vorlagen</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Design veröffentlichen</div>
<div class="paragraph">
<p>Wenn Sie Template-Variablen oder -Funktionen in Ihr Design eingefügt haben, <strong><em>veröffentlichen Sie Ihr Design neu</em></strong>. Dies erfolgt im Menü <strong><a href="/omni-channel/online-shop/cms#webdesign-benutzeroberflaeche">CMS » Webdesign</a></strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="infoseiten">10. Allgemeines über das Menü Seiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Seiten</strong> verknüpfen Sie <strong>Kategorieseiten</strong>. Es handelt sich hier um Seiten,
die in fast jedem <strong>Webshop</strong> enthalten sein müssen. Bei einigen der Seiten, die Sie in diesem Menü verknüpfen, handelt es sich z.B. um
<strong><a href="#rechtliche-angaben">rechtliche Angaben</a></strong>.<br>
Die Verknüpfungen erlauben es Ihnen, spezifische <strong>Template-Funktionen</strong>, z.B. Link_CancelationRights, im Design zu verwenden.
Wenn das Design in einem anderen plentymarkets-Shop verwendet wird, bietet die Verwendung der Links den Vorteil, dass die Links
in dem Webshop ebenfalls funktionieren.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verlinkungen im Webshop-Design</div>
<div class="paragraph">
<p>In den Standard-Designs von plentymarkets, wie z.B. <strong>stonepattern_green</strong>, sind Links zu vielen der Seiten, die Sie hier einstellen, enthalten. Die Links sind häufig standardmäßig im <strong>PageDesignContentMainFrame</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_konfiguration">11. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Seiten verknüpfen Sie für jeden <strong>Mandanten</strong>. In diesem Menü stehen Ihnen nur <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorien des Typs Content</a></strong> zur Auswahl.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Im Design hinterlegte Kategorieverknüpfungen haben Vorrang vor den Verknüpfungen hier</div>
<div class="paragraph">
<p>Für Designs, bei denen im Menü <strong>CMS » Webdesign » Einstellungen » Design-Einstellungen » Tab: Mandanten</strong> Kategorieverknüpfungen vorgenommen wurden, gelten die unten beschriebenen Verknüpfungen im Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Seiten</strong> nicht. Die designspezifischen Kategorieverknüpfungen sind dominant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/mandanten-einrichten/assets/Mandant-Standard-Webshop-Seiten-01.png" alt="Mandant Standard Webshop Seiten 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Die <strong>Zuordnung der Kategorieseiten</strong> Ihres Webshops</em></p>
</div>
<div class="paragraph instruction">
<p>Zuordnung der Kategorieseiten für Ihren Webshop konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Webshop » Seiten</strong>.</p>
</li>
<li>
<p>Nehmen Sie die <strong>Einstellungen</strong> gemäß Tabelle 1 vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die verknüpfbaren <strong>Seiten</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Startseite</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> wählen, die bei Aufruf des Webshops als Startseite angezeigt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite AGB</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> für die AGB wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Datenschutz</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> für die Datenschutzrichtlinien wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Widerrufsrecht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> für das Widerrufsrecht wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Hilfe</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> für die Hilfeseite des Webshops wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite 404</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> wählen, um diese statt der <strong><em>Standard-404-Seite</em></strong> anzuzeigen.<br>
Die Standard-404-Seite enthält einen Hinweis, dass <strong><em>die Seite nicht verfügbar ist oder verschoben wurde</em></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Versandkosten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> für Angaben zu Versandkosten wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite "Artikel nicht gefunden"</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> wählen, um diese statt der Standard-Meldung anzuzeigen, wenn ein <strong><em>Artikel nicht gefunden</em></strong> wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Zahlungsarten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> für Informationen zu Zahlungen und Zahlungsarten wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Kontakt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> wählen, auf der die Kontaktdaten des Unternehmens angegeben sind.<br>
Die Seite ist auch als <strong>Seite 404</strong> sinnvoll, damit ein Besucher des Webshops bei einem Fehler direkt Kontakt mit Ihnen aufnehmen kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Impressum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> für das Impressum wählen.<br>
Das Impressum ist in den meisten Fällen eine Pflichtangabe und sollte möglichst unter diesem Namen und möglichst leicht auffindbar sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Bankdaten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine <strong><a href="/artikel/kategorien/kategorietyp-content-bearbeiten">Kategorieseite</a></strong> für Bankdaten wählen.<br>
Die Angaben auf der Seite Bankdaten werden für die Zahlungsarten <strong>Vorkasse</strong> und <strong>Rechnung</strong> benötigt. Die Seite sollte Ihre Bankverbindung sowie ggf. einen Hinweis zum <strong>Verwendungszweck</strong> enthalten.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Zuordnung</strong> der Kategorieseiten</em></p>
</div>
</div>
</div>
</main>