{% $_crossSelling = GetCrossSellingData('Similar') %}

<h2>Products related to this item</h2>

<div class="cross-selling">
	{% for $_item in $_crossSelling %}
		{% for $_crossSellingData in $_item %}
			{%
				$_itemId = $_crossSellingData['itemId'];
				$_variationId = $_crossSellingData['variationId'];
				$_title = $_crossSellingData['title'];
				$_externalListingId = $_crossSellingData['externalListingId'];
				$_listingTypeId = $_crossSellingData['listingTypeId'];
				$_price = $_crossSellingData['price'];
				$_currency = $_crossSellingData['currency'];
				$_variationNo = $_crossSellingData['variationNo'];
				$_imageUrl = $_crossSellingData['imageUrl'];
				$_ebayUrl = $_crossSellingData['ebayUrl'];
				$_credentialsId = $_crossSellingData['credentialsId'];
			%}

			<div class="card">
				<a href="$_ebayUrl"><img src="$_imageUrl"></a>

				<hr/>

				<div class="container">
					<b>$_title</b>
					<h2>$_price $_currency</h2>
				</div>
			</div>

			{% endfor %}
		{% $_i = $_i + 1 %}
	{% endfor %}
</div>
