<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aktionen und Subaktionen - Erwecke deine Prozesse zum Leben</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktionen und Sub-Aktionen sind das Salz in deiner "Prozess-Suppe" Erfahre, wie du die beiden Elemente kombinierst und wie du sie bearbeiten kannst. Außerdem zeigen wir dir einen Beispielprozess!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/automatisierung/prozesse/aktionen-subaktionen-kombinieren#video">Kombiniere Aktionen und Sub-Aktionen (0:30)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/prozesse/aktionen-subaktionen-einstellungen#video">Bearbeite die Einstellungen (2:10)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/prozesse/aktionen-subaktionen-beispielprozess#video">Beispielprozess in Aktion (4:13)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/225366561" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Dr. Prozess plant seinen nächsten großen Wurf. Was er konfigurieren möchte weiß er bereits. Als nächstes macht sich Dr. Prozess darüber Gedanken, wie er seinen Arbeitsablauf mit Leben füllen soll. Einfach gesagt: Er erweitert seinen Prozess um Aktionen und Subaktion um die ganze Kraft zu nutzen.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns seine Wahl an. Hier in deinem Prozesseditor findest du die Aktionen in der mittleren Spalte sowie die Sub-Aktionen in der Spalte ganz rechts. In den meisten Fällen sind Aktionen und Sub-Aktionen verbunden wie Superman und Lois Lane. Wenn du fragst was Aktion und Sub-Aktion verbindet, heißt in den meisten Fällen die Antwort: die Subaktion bestimmt genauer, was mit der Aktion ausgeführt wird.</p>
</div>
<div class="paragraph">
<p>In diesem Beispiel siehst du: Die Aktion Pickliste wird durch die Sub-Aktion Drucken gedruckt. Ähnliches gilt auch hier bei der Aktion Hinweis und der Subaktion anzeigen. Manchmal gibt es eben Dinge die zueinander gehören. So wie Ying und Yang oder eben Batman und Robin.</p>
</div>
<div class="paragraph">
<p>Es gibt aber eben auch Dinge die nicht zueinander gehören. So wie Salz und Zucker oder eben Superman und Robin. Diese Information solltest du immer im Hinterkopf haben, wenn du Aktionen und Sub-Aktionen bearbeitest. Eine Aktion Warenausgang mit einer Sub-Aktion drucken ergibt natürlich keinen Sinn. So überrascht es natürlich auch nicht, dass man drucken als Sub-Aktion für Warenausgang nicht wählen kann. Schaue einfach in unser Handbuch, wenn du eine Aktion nutzen willst, dir aber nicht sicher bist, welche Sub-Aktion mit der Aktion verbunden werden kann. Du findest dort eine umfassende Liste der Aktionen mit den dazu passenden Subaktionen.</p>
</div>
<div class="paragraph">
<p>Okay. Meistens arbeiten Sub-Aktionen also mit Aktionen zusammen. Es gibt aber auch Fälle in denen eine Aktion keine Sub-Aktion im Prozess benötigt. Hier haben wir eines der Beispiele. Wie du siehst fehlt dieser Aktion das grüne Plus. Du kannst also hier keine Sub-Aktion zufügen.</p>
</div>
<div class="paragraph">
<p>Wie Aktionen und Sub-Aktionen verwendet werden hast du nun verstanden. Schauen wir uns doch jetzt mal an, wie du Aktionen verändern kannst. Los gehts. Im Prinzip verfügt der jede Aktion über diese Einstellungsmöglichkeiten. Die Einstellung ist selbsterklärend und bestimmt an welcher Stelle die Aktion nach dem Arbeitsschritt eingesetzt wird. Die Einstellung hier meint also dass die Aktion an dritter Stelle nach dem Arbeitsschritt im Prozess steht. Anzeigen ist eine genauso simple Einstellung. Mit dieser Einstellung legst du fest, ob die Aktion angezeigt wird. Mit Nein legst du dann fest, dass diese Aktion im laufenden Prozess nicht angezeigt wird. Zuletzt kannst du noch festlegen, was passieren soll, wenn ein Fehler auftritt. Du kannst hier entweder "Prozess abbrechen", mit nächster Aktion fortfahren oder zu Aktion springen wählen.</p>
</div>
<div class="paragraph">
<p>Während nahezu jede Aktion über diese drei Grundeinstellungen verfügt, gibt es auch Aktionen, beispielsweise die Pickliste, bei denen man das Dokument weiter anpassen kann. Oder hier kannst du zum Beispiel bestimmen, welche Suchfelder du angezeigt bekommen möchtest. Da jede Aktion ein klein wenig anders funktioniert findest du vielleicht gelegentlich Einstellungen, die du zunächst nicht verstehst. In solchen Fällen solltest du in jedem Fall einen Blick in unser Handbuch werfen. Hier sind Aktionen und Sub-Aktionen erklärt, sodass du dir einen schnellen Überblick machen kannst.</p>
</div>
<div class="paragraph">
<p>Nur noch mal zur Erinnerung, unser Beispielprozess verarbeitet 20 Aufträge, die sich im Status 5 befinden. Anschließend wird eine Pickliste mit Informationen zu 20 Aufträgen ausgedruckt. Außerdem wird eine Notiz angezeigt um den Lagermitarbeiter darauf aufmerksam zu machen, dass eine Pickliste gedruckt wurde und er mit dem Picken beginnen kann. Wenn er das Picken abgeschlossen hat wird ihm die Auftragssuche angezeigt wo der Lagerarbeiter die Möglichkeit hat die Order-ID einzugeben um die Bearbeitung fortzusetzen. Durch die Eingabe der ID löst der Lagerarbeiter nicht nur den Rechnungsdruck aus, er druckt auch den Lieferschein aus. Zum Abschluss wird dann der Warenausgang gebucht und der Prozess springt wieder zur Auftragssuche. Unser Lagerarbeiter sieht nun erneut die Auftragssuche und kann mit der Eingabe der Order-ID den nächsten Auftrag abarbeiten.</p>
</div>
<div class="paragraph">
<p>Wir testen jetzt einfach mal unseren Prozess. Die Pickliste wurde gedruckt und der Hinweis wurde mir ausgegeben. Nach einem Klick auf OK, wird die Auftragssuche angezeigt. Hier gebe ich nun einfach eine Auftrags-ID ein und klicke den entsprechenden Button. Ich sehe nun alle wesentlichen Informationen zur Bestellung auf einen Blick. Weiter gehts. Jetzt einfach auf Speichern klicken. Nun werden die Dokumente gedruckt und der Warenausgang gebucht. Schließlich springt mein Prozess zurück und wartet auf die Eingabe der nächsten Order-ID.</p>
</div>
<div class="paragraph">
<p>In diesem Video hast du gelernt, wie Aktionen und Sub-Aktionen zusammenarbeiten um deinem Prozess Leben einzuhauchen. Du hast die wesentlichen Einstellungen kennengelernt, die dir bei der Konfiguration von Aktionen und Sub-Aktionen begegnen können. Sobald du dieses Thema verinnerlicht hast kannst du dich den Bedienelementen oder verschiedenen Beispielprozessen widmen.</p>
</div>
</div>
</div>
</main>