<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Anlegen und Starten eines Prozesses</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dr. Prozess - fertig zum Einsatz. Wir zeigen dir, wie du einen Prozesse anlegen und bearbeiten kannst. Außerdem zeigen wir dir, wie du Dr. Prozess in die Schlacht schickst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/automatisierung/prozesse/anlegen-starten-anlegen#video">Neuen Prozess anlegen (0:37)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/prozesse/anlegen-starten-elemente#video">Füge Elemente zum Prozess hinzu (1:58)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/prozesse/anlegen-starten-starten#video">Starte deinen Prozess (4:03)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/223603630" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Es gibt kein Transkript für dieses Video.</p>
</div>
</div>
</div>
</main>