<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Was sind Arbeitsschritte?</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jeder Prozess besteht mindestens aus einem Arbeitsschritt. Drei verschiedene Typen stehen dir zur Verfügung. Aber welchen solltest du wählen und wie unterscheiden sich die Arbeitsschritte?</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/automatisierung/prozesse/arbeitsschritte-auftragsabwicklung#video">Auftragsabwicklung (0:52)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/prozesse/arbeitsschritte-auftragsbearbeitung#video">Auftragsbearbeitung (3:31)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/prozesse/arbeitsschritte-wareneingang#video">Wareneingang (4:52)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/223728357#at=292" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Für jede Herausforderung die richtige Waffe! Dr Prozess' Schwert eignet sich optimal um gegen die alltäglichen Monster zu Felde zu ziehen. Dieses Schwert ist aber nutzlos, wenn Dr. Prozess sich verteidigen muss. Wenn Dr. Prozess in Not gerät schützt er sich mit Schild und seiner Rüstung. Wenn er einen dieser Unholde fängt, hilf ihm sein Wahrheitsserum dabei die Lügen der Monster zu durchschauen. Jede Waffe ist also für eine spezielle Aufgabe gemacht. Du musst sie nur nutzen!</p>
</div>
<div class="paragraph">
<p>Das selbe kann man übrigens über die Arbeitsschritte in plentymarkets sagen. Wenn du einen neuen Arbeitsschritt anlegst wirst du feststellen, dass es drei verschiedene Arten von Arbeitsschritten gibt. Also für jede Herausforderung das Richtige. Wie du siehst kannst du deinen Arbeitsschritt so mit drei Typen konfigurieren. Du hast die Wahl zwischen Auftragsabwicklung, Auftragsbearbeitung und Wareneingang.</p>
</div>
<div class="paragraph">
<p>Wenn dir das etwas abstrakt vorkommt stell dir deine Auftragsabwicklung vor. Es wäre doch
ziemlich ineffizient wenn dein Lagermitarbeiter jeden Artikel einzeln pickt. Es ergibt doch mehr Sinn, eine größere Pickliste mit beispielsweise 20 Artikeln, die versandfertig sind, zu erstellen. Damit geht der Lagerarbeiter dann durch dein Lager und pickt alle Artikel auf der Pickliste auf einmal.</p>
</div>
<div class="paragraph">
<p>Du siehst also, ein Arbeitsschritt, der mehrere Aufträge gleichzeitig betrifft. Schauen wir uns doch die entsprechenden Einstellungen an. Im oberen Teil des Menüs hinterlegst du grundlegende Informationen zu deinem Arbeitsschritt. Zum Beispiel den Namen und die Anzahl der Aufträge, die mit einem Prozessdurchlauf bearbeitet werden sollen.</p>
</div>
<div class="paragraph">
<p>Auf der linken Seite findest du verschiedene Filter mit denen Du deinen Arbeitsschritt
konfigurieren kannst. Du kannst hiermit genau bestimmen, welche Aufträge im Prozess
verarbeitet werden sollen. Hier hast du eine Menge an Filtern. Du kannst beispielsweise bestimmte Lieferländer, Aufträge mit Amazon Prime oder Aufträge in einem bestimmten Status, beispielsweise Status 5, filtern. Indem du die Filtern kombinierst hast du die Möglichkeit die Aufträge für den Prozess immer weiter einzuschränken.</p>
</div>
<div class="paragraph">
<p>Auf der rechten Seite kannst du dann festlegen, was mit den Aufträgen geschehen soll, wenn sie den Prozess durchlaufen haben. Stelle ein, welcher Status nach dem Durchlauf des Prozesses am Auftrag eingestellt wird oder welchen Eigner der Auftrag bekommt oder ob der Auftrag markiert werden soll. Hier solltest Du in jedem Fall eine Einstellung treffen, damit du mit deinem Prozess keine Endlosschleife baust. In meinem Beispiel habe ich den Filter Status 5 gewählt. Würde ich den Status der Aufträge nicht nach dem Prozess ändrn würden die Aufträge immer wieder bearbeitet.</p>
</div>
<div class="paragraph">
<p>Okay, ich werde also eine Pickliste mit 20 Artikeln zu 20 Aufträgen ausdrucken mit dieser Einstellung kann ich festlegen, wie die Pickliste aufgebaut sein soll. Geschafft. Aber welchen Schritt machen wir als nächstes? Natürlich gibt es auch Prozesse, die aus mehreren Arbeitsschritten bestehen. In diesem Fall brauchst du folgende Einstellungen, um zu bestimmen, wie der Prozess weiterlaufen soll. Wenn ein Arbeitsschritt abgeschlossen ist startet der mögliche nächste Arbeitsschritt entweder automatisch oder du musst tätig werden und den nächsten Arbeitsschritt manuell starten. Sobald du alle Einstellungen abgeschlossen hast ist der Arbeitsschritt bereit - du kannst aber auch hier Aktionen oder Subaktionen hinzufügen.</p>
</div>
<div class="paragraph">
<p>Zurück in unser Lager: Der Lagerist hat nun alle benötigten Artikel gepickt und ist bereit die Aufträge weiter zu bearbeiten. Er ist nun bereits zum Beispiel Barcodes einzuscannen, die relevanten Dokumenten zu den Pakten hinzu zufügen und den Warenausgang zu buchen.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns den Arbeitsschritt an, der nur einen Auftrag gleichzeitig bearbeitet. Auch hier sind die Einstellungen relativ übersichtlich. Gib einfach einen Namen ein und lege fest, wie der Übergang zum nächsten Arbeitsschritt sein soll. Du solltest auf jeden Fall immer bedenken, dass es sich hier um einen Arbeitsschritt handelt, der nur einen einzigen Auftrag zu dem jeweiligen Zeitpunkt verarbeitet. Um den System zu sagen um welchen Auftrag es sich handelt solltest du die Aktion Auftragssuche direkt anschließend nutzen. Hast du das getan kannst du natürlich weitere Elemente für diesen Arbeitsschritt hinzufügen. Hier erscheint dann ein Feld in das der Lagerist die Auftrags-ID eingeben oder scannen kann. Alle relevanten Dokumente werde so automatgisch erzeugt und der Lagerist kann diese dem
jeweiligen Paket zufügen. Anschließend wird hier der Warenausgang gebucht. Durch den Jump springt der Prozess dann wieder zurück zum Ausgangspunkt und wird erneut
durchlaufen.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns doch den Unterschied zwischen Arbeitschritten die mehrere Aufträge gleichzeitig oder nur einen einzelnen Auftrag bearbeiten.</p>
</div>
<div class="paragraph">
<p>Welchen Arbeitsschritt haben wir noch? Nächstes Beispiel: Stell dir vor du hast einen Artikel der bei deinen Kunden der Renner ist. Arbeitsschritt Wareneingang. Fehlende Artikel musst du nachbestellen, aber dein Lieferant hat sie schnell geliefert. Eigentlich benötigst du jetzt nur noch einen Prozess der es dir erlaubt Artikel in dein Lager
einzubuchen. Und genau das macht der Arbeitsschritt Wareneingang.</p>
</div>
<div class="paragraph">
<p>Wie bereits gesagt, du musst über die richtigen Werkzeuge für den Job verfügen. Unabhängig
davon wie dein Prozess aufgebaut ist: Die Prozesse sind für die tägliche Arbeit immer das
richtige Werkzeug.</p>
</div>
</div>
</div>
</main>