<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dialog - Lass deine Mitarbeiter die Richtung des Prozesses bestimmen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Dialog stellt deinem Mitarbeiter während des Prozess die Frage, wie es mit dem Auftrag weitergehen soll. Dabei stehen dir viele verschiedene Wege zur Auswahl. Lerne in diesem Video, wie du einen Dialog für deine Zwecke konfigurierst.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/227225974" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Wenn dies, dann das. Vier kurze Wörter, die Dr. Prozess' nächste Superpower perfekt umschreiben. Ist ein Artikel groß, verschicke ihn so. Ist der Artikel klein, verschicke ihn anders. Hört sich irgendwie nach einem Split an, oder? Fast. Der Dialog macht deinen Prozess zur hochentwickelten KI. Wie ein Split führt auch der Dialog den Prozess in unterschiedliche Richtungen. Nur dieses Mal erst nach Kommunikation mit deinem Lagermitarbeiter.</p>
</div>
<div class="paragraph">
<p>Während des Prozess stellt der Dialog deinem Mitarbeiter eine Frage, zum Beispiel: "Wie willst du diesen Artikel versenden?" Und dein Lagermitarbeiter antwortet mit einem Klick auf einen Button. Je nachdem welcher Button das ist, geht dein Prozess dann den einen oder den anderen Weg.</p>
</div>
<div class="paragraph">
<p>Vor einer wildgewordenen KI brauchst du allerdings keine Angst haben, denn die Konfiguration des Dialogs hast du selbst in der Hand. In diesem Feld hinterlegst du die Frage, die deinem Lagermitarbeiter gestellt werden soll. Also welche Entscheidung an diesem Punkt getroffen werden muss. Wie soll dieser Artikel versendet werden. Und hier gibst du den Text für die Antwort-Buttons ein. In diesem Beispiel sind das die verschiedenen Versandarten. Über die Dropdowns gibst du schließlich an, wo der Prozess dann jeweils weiterlaufen soll.</p>
</div>
<div class="paragraph">
<p>Ein weiterer Unterschied zum Split: Du hast nicht mehr nur die Möglichkeiten A und B, sondern kannst deinen Dialog auf alle möglichen Eventualitäten programmieren. Neben DHL und DPD kannst du hier auch Amazon Prime abwickeln, damit die Ware blitzschnell zum Kunden kommt. Und hier ist auch der zugehörige Button dafür.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns doch mal an, was der Dialog in der Praxis drauf hat. Dein Lagermitarbeiter sucht im ersten Schritt den Auftrag heraus und bucht die Artikel ein. Nun meldet sich dein Dialog und wartet auf Anweisung wie es weitergeht. Es funktioniert!</p>
</div>
<div class="paragraph">
<p>Als nächstes die Weltherrschaft? Oder erstmal einen etwas komplexeren Prozess. In diesem Beispiel sucht dein Lagermitarbeiter anhand einer Pickliste die Ware heraus. Schließlich scannt er die Artikel und sollte ihm dabei ein Fehler auffallen, beispielsweise ist der Artikel gar nicht verfügbar, dann kommt der Dialog ins Spiel. Dafür reicht ein Klick auf einen Button, der Prozess nimmt den Weg über einen Filter und der Dialog öffnet sich. Er ist so konfiguriert, dass dein Lagermitarbeiter die Möglichkeit hat, einen Bestandsfehler anzugeben oder den Vorgang wieder abzubrechen und normal fortzufahren.</p>
</div>
<div class="paragraph">
<p>Ist der Artikel tatsächlich nicht mehr im Bestand geht’s weiter nach unten, der Auftragsstatus wird geändert, der Auftrag wird aus dem Prozess entfernt und dein Lagermitarbeiter wird zur Artikelerfassung zurückgeleitet und kann weitermachen. Klickt dein Mitarbeiter auf Abbrechen, geht es rechts weiter, wo der Filter zurückgesetzt wird und die Artikelerfassung wieder startet. Und jetzt bist du dran! Konfiguriere Dialoge für deine Zwecke und nutze die Intelligenz des Prozesses!</p>
</div>
</div>
</div>
</main>