<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Richte deinen Drucker ein</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Damit du über Prozesse automatisch Dokumente wie Rechnung, Pickliste und Versandlabel an deinen Drucker schicken kannst, muss er vorerst eingerichtet werden. Das geht auch ganz schnell!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/automatisierung/prozesse/drucker-einstellungen#video">Konfiguriere die Druckereinstellungen (0:28)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/prozesse/drucker-verknuepfen#video">Verknüpfe die Drucker in Prozessen (1:36)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/227403638" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Siehst du das Signal am Himmel? Die Händler rufen nach Dr. Prozess! Sie brauchen seine Superkräfte, um Aufträge abzuwickeln und automatisch Picklisten, Rechnung und Versandlabel drucken. Unser Held eilt zur Hilfe - und muss sich zugleich einem störrischen Drucker stellen. Alles funktioniert wie es soll, doch der Drucker will einfach nicht mit plentymarkets kommunizieren. Auftritt: Dr. Prozess!</p>
</div>
<div class="paragraph">
<p>Im Backend navigierst du dich über die Einstellungen&gt; Grundeinstellungen &gt; Drucker. Beweg deinen Cursor darüber und klick dann auf den Pfeil, um einen neuen Drucker hinzuzufügen. Der Name sollte eindeutig sein, denn er wird dir dann später in der Auswahl angezeigt. Jeder Drucker, den du auch auf deinem Rechner konfiguriert hast, steht dir zur Verfügung und du wählst ihn über das Dropdown aus. Deine Einstellungsmöglichkeiten erstrecken sich von Papierformat über Ausrichtung bis hin zu konkreten Angaben über Seitenränder. Je nachdem wie viele Drucker du hast, wiederholst du diese Schritte. Alles was du einstellst, wird bei jedem Druck so verwendet.</p>
</div>
<div class="paragraph">
<p>Wenn du möchtest, dass deine Mitarbeiter individuell einstellen können, sagst du plentymarkets einfach, dass jedes Mal beim Drucken der Druckerdialog geöffnet wird. Ob alles funktioniert, checkst du über eine Testseite. Passt alles mit der Druckqualität? Falls nicht, versuch es doch mal mit einem Drucker-Plugin. Zum Beispiel Cups oder PDFBox oder ZPL, wenn du mit einem Etikettendrucker arbeitest. Die nötigen Einstellungen findest du in unserem Handbuch.</p>
</div>
<div class="paragraph">
<p>Also setzen wir das Prozess-Signal in den Himmel und schauen uns an, wieso du das jetzt eigentlich alles gemacht hast. Alles, was du druckst läuft über eine Subaktion für diesen Zweck. Und bei jeder "Drucken"-Subaktion stellst du den Drucker ein, an den das Dokument, das Label oder was auch immer geschickt werden soll. Also Sachen wie die Rechnung oder Pickliste soll über den normalen A4-Drucker gedruckt werden und das Versandlabel über den Etikettendrucker. Keine Bange, wenn dir das alles spanisch vorkommt und du dir denkst: Was? Subaktion? Wie? Wir haben andere Videos in dieser Reihe, die dir alles ganz genau erklären.</p>
</div>
<div class="paragraph">
<p>In Nullkommanix hat Dr. Prozess deinen unkooperativen Drucker in einen starken Verbündeten verwandelt. Zusammen können wir nun weitermachen und uns gegen jeden noch so komplexen Abwicklungsprozess stellen.</p>
</div>
</div>
</div>
</main>