<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Filter - Das Steuerelement um deine Prozesse zu filtern</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verstehe das Steuerelement Filter, welches wir dir zunächst in einem simplen Prozess vorstellen. Anschließend zeigen wir dir in einem komplexeren Prozess, wie Filter und Filter auflösen arbeiten.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/229120956" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Dr. Prozess und seine Superkräfte stets zu diensten! Als nächstes: Filter! Grundsätzlich ist ein Filter ein Element das zwischen verschiedenen Zuständen unterscheiden kann. Mit anderen Worten: Eine bestimmte Aktion wird im Prozess nur dann ausgelöst, wenn eine bestimmte Bedingung erfüllt wird.</p>
</div>
<div class="paragraph">
<p>Fangen wir zunächst mit diesem -zugegeben- sehr einfachen Prozess an. Wofür man diesen Prozess benötigt? Ganz einfach: Um Seriennummern zu erfassen. Schauen wir uns den Prozess im Detail an: Der Prozess startet mit der Auftragssuche. Relativ schnell treffen wir hier auf einen Filter. Wie gesagt, der Filter prüft vorhandene Bedingungen. In unserem Fall wird geprüft, ob eine Seriennummer gefunden wurde.</p>
</div>
<div class="paragraph">
<p>Hier bestehen nun zwei Möglichkeiten. Ist keine Seriennummer vorhanden, dann wird geht der Prozess hier beim Jump weiter und der Filter wird erneut durchlaufen. Ist eine Seriennummer vorhanden springt der Filter zur Seriennummernerfassung und es kann eine Seriennummer am Artikel hinterlegt werden. Hier im Filter siehst du die Bedingung. Seriennummer steht auf JA. Trifft das nicht zu ist als Ziel die Seriennummernerfassung festgelegt.</p>
</div>
<div class="paragraph">
<p>Wann immer du einen Filter in einem Prozess setzt musst du den Filter im Laufe des Prozesses wieder auflösen. Je nachdem was der Filter in deinem Prozess für einen Zweck hat kann die Position des "Filter-auflösens" auch variieren. Hast du beispielsweise einen Filter der den ganzen Prozess betrifft, so befindet sich das Filter-auflösen in der Regel am Ende deines Prozesses.</p>
</div>
<div class="paragraph">
<p>Genug aber zu diesem einfachen Prozess, wir gehen jetzt in die vollen und schauen uns einen komplexeren Prozess gemeinsam an. Wie dieser Prozess im einzelnen funktioniert erfährst du im hier verlinkten Fallbeispiel-Video. Okay, du siehst schon, in diesem Prozess sind drei Filter enthalten, die alle eine bestimmte Aufgabe haben. Unser erster Filter ist für bezieht sich auf die Artikelerfassung. Die Bedingung hier ist, dass alle Artikel vollständig erfasst sein müssen. Da sich dieser Filter nahezu auf den gesamten Prozess auswirkt wird er erst am Ende des Prozesses wieder aufgelöst. Ist dies der Fall geht es weiter. Hier haben wir dann auch direkt den zweiten Filter. Dieser hat die Bedingung in Bearbeitung und das Ziel Dialog. Dieser Filter wird hier wieder aufgelöst. Der dritte und letzte Filter bezieht sich hier auf die Seriennummernerfassung. Der gesamte Abschnitt könnte dir bekannt vorkommen, haben wir ihn doch in dem einfachen Beispiel schonmal besprochen. Hier wird der Filter direkt nach dem Erfassen der Seriennummer wieder aufgelöst.</p>
</div>
<div class="paragraph">
<p>Das Steuerelement Filter hast du jetzt innerhalb zweier Prozesse gesehen und weißt, wie es funktioniert. Dr. Prozess super filter- wenn du eine spezielle Bedingung am nötigsten hast.</p>
</div>
</div>
</div>
</main>