<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Import und Export von Prozessen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wir zeigen dir, wie du einen Prozess runterladen und in dein System importieren kannst. Außerdem erfährste du, welche Einstellungen du nachträglich anpassen musst und wie du einen Prozess aus dem System exportierst.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/229083273" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Dass Dr. Prozess über ein umfangreiches Arsenal an Superkräften verfügt weißt du. Aber wusstest du auch, dass Dr. Prozess dazu in der Lage ist seine Superkräfte mit dir zu teilen? Lade dir einfach einen Prozess runter und passe diesen nach Herzenslust an. In den meisten Prozessvideos findest du einen Link der dich direkt zum Download des Prozesses führt. Aber auch in unserem Prozess-Basar im Forum kannst du Prozesse downloaden.</p>
</div>
<div class="paragraph">
<p>Den Prozess hast du auf deinen Computer geladen. Check! Nun sollte dich der Weg direkt in den Bereich Prozesse deines Systems führen. Wenn du jetzt hier das Dreieck klickst kannst du den Prozess importieren. Hier gibst du einen Namen für den Prozess ein und lädtst ihn ganz einfach ins System. Das war FAST alles! BEREIT ZUR TRANSFORMATION!</p>
</div>
<div class="paragraph">
<p>Das Stichwort ist FAST: Ein bißchen Feintuning musst du nach dem Import noch betreiben. Am besten Starten wir den Importierten Prozess, damit du siehst, was ich meine. Okay, du siehst selber - eine Menge Fehler werden dir angezeigt. Aber kein Problem. Die Fehlermeldungen, die du jetzt erhalten hast zeigen dir sehr genau, welche Aktion oder Subaktion von dir noch bearbeitet werden muss, damit der Prozess tadellos funktioniert. Einige Einstellungen, die sich auf das lokale System, aus dem der Prozess exportiert wurde, beziehen können nicht mit importiert werden. Deshalb erhältst du hier diese Fehlermeldungen.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns einige Fehlermeldungen exemplarisch an. Hier besteht das Problem, dass plentymarkets vorerst nicht weiß, wo es nach der Artikelerfassung hinspringen soll. Der Grund dafür sind die IDs der Arbeitsschritte. In den meisten Fällen weichen die nämlich von den Ids des Systems, aus dem der Prozess exportiert wurde, ab. Hier musst du nur angeben zu welcher Aktion gesprungen werden soll. Der Prozess muss zum zweiten Filter springen. Wenn du dir nicht sicher bist, welche ID dein Filter hat fahre einfach mit der Maus über den jeweiligen Filter, damit die ID angezeigt wird. Dann haben wir die Subaktion mit der ID (Erster Statuswechsel). Hier muss ein Status gesetzt werden. Diesen solltest du so einstellen, dass er zu deinem Arbeitsablauf passt. Außerdem haben wir die Subaktion mit der ID (Erster Drucker). Hier muss dein konfigurierter Drucker eingestellt werden. Übrigens müssen Drucker und Statuus immer erneut angepasst werden, wenn du einen Prozess importierst. Hast du hier alle Fehlermeldungen abgearbeitet kannst du hier noch den Dialog anpassen.</p>
</div>
<div class="paragraph">
<p>Und weiter gehts. Teile deine Prozesse mit der ganzen Welt. Wenn du mal zwei ähnliche Versionen eines Prozesse benötigst - Kein Problem - Ex und Importieren deinen Prozess, passe ihn an - fertig! Und auch teilen ist wieder ein gutes Stichwort. Neben dem Ex und Import hast du auch die Möglichkeit deinen Prozess zu kopieren. Dies ist immer dann sinnvoll, wenn du den Prozess mit einigen Anpassungen nochmal benötigst. Klicke dazu ganz einfach diesen Button, gib einen Namen ein und klicke auf Prozess kopiere. Und Zack hat der Prozess einen Zwilling. Mit Dr. Prozess als Verbündetem wirst du selber zum Superheld!</p>
</div>
</div>
</div>
</main>