<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyBase installieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um Prozesse richtig nutzen zu können, benötigst du kein Extra-Programm, sondern lediglich ein kleines Addon: plentyBase! Was das ist und wie man es installiert, erfährst du in diesem Video.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/232837642" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Darf ich vorstellen? Dr. Prozess. Auftragsabwicklung mit nur wenigen Klicks, individuell programmierbare Arbeitsvorgänge und blitzschnelles Drucken von Dokumenten und Labeln - seine Stärke. Und doch arbeitet er niemals allein. Treu an seiner Seite steht im stets die Quelle seiner Macht, die nächste Generation automatisierter Auftragsabwicklung - plentyBase. Welche Drucker-Koordinaten soll Dr. Process ansteuern? Welche Zielparameter haben Speicherorte für Dokumente? plentyBase hilft Dr. Process bei der Kommunikation - im Hintergrund, fast unbemerkt.</p>
</div>
<div class="paragraph">
<p>Aber ohne Iron Suit kein Iron Man - ohne plentyBase kein Dr. Process. Möchtest du im plentymarkets System Drucker einrichten oder Prozesse benutzen, ertönt Dr. Process' Ruf nach seinem Kumpan. Folge ihm über dein Systemprofil - in den Unterschlupf von plentyBase. Der Download-Button führt dich zur Adresse Nummer 1 für alle Erweiterungen und Modifizierungen deines plenty-Systems - in den Marketplace. Dir steht es frei, welches Betriebssystem du nutzt, plentyBase funktioniert für alle!</p>
</div>
<div class="paragraph">
<p>Wie genau erklärt dir der typische User-Guide, den du unter jedem Plugin und jedem Addon im Marketplace findest. Außerdem erhältst du hier eine umfassende Installationsanleitung und Erläuterungen zu allen Einstellungsmöglichkeiten. Mit diesem Guide zur Hand hält dich nun nichts mehr davon ab, dir plentyBase herunterzuladen und dir damit die ganze Power von Dr. Process in dein System zu holen.</p>
</div>
<div class="paragraph">
<p>Mit einer kurzen Installation und wenigen Einstellungen in deinem plentymarkets Backend bringst du plentyBase nach und nach online. Klicke auf "Verbindung testen" Die Verbindung kann über einen simplen Klick getestet werden.</p>
</div>
<div class="paragraph">
<p>Und über das Dashboard erfährst du jederzeit, ob plentyBase einsatzbereit ist oder nicht. Hierüber hast du auch einen direkten Draht zu unseren Alltagshelden im plentymarkets Forum - hast du Probleme mit plentyBase? Hier wird dir schnell und zuverlässig geholfen!</p>
</div>
<div class="paragraph">
<p>plentyBase ist also nun mit deinem System verbunden und wartet auf seinen Einsatzbefehl. Mit seiner Hilfe kann Dr. Process nun in seine Mission starten und sich gegen deine Auftragsflut stellen. Worauf wartest du noch? Lad dir direkt plentyBase herunter!</p>
</div>
</div>
</div>
</main>