<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Split - Führe deine Prozesse in zwei unterschiedliche Richtungen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du möchtest nicht nur filtern, sondern auch verschiedene Vorgehensweisen in deinem Prozess abbilden? Kein Problem für den Split! Prüfe auf bestimmte Bedingungen und teile deinen Prozess nach deinen Belieben.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/225366426" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Wieso nicht zwei Fliegen mit einer Klappe schlagen? Nutze die Superkräfte von Dr. Prozess und stelle dich gegen zwei Aufgaben auf einmal! Zwei Versanddienstleister in einem Prozess abbilden? It’s split time! Keine Fitnessübung, sondern Dr. Prozess' nächste Superpower. Mit dem Split teilst du deinen Prozess unter von dir definierten Bedingungen. Oder sagen wir es mal einfach: Du erschaffst an einer geraden Straße eine Weggabelung.</p>
</div>
<div class="paragraph">
<p>Testen wir diese Power mal an einem supereinfachen Prozess, der immer nur einen Auftrag abarbeitet, bevor wir uns dann seine wahre Macht in einem realistischen Beispiel anschauen. Stell dir also vor, du verschickst deine Ware eigentlich per DHL, aber einige Artikel mit DPD. Dass am Ende für jeden Artikel die richtige Versandmarke rauskommt, ist Aufgabe des Splits. Er prüft eine bestimmte Bedingung und immer wenn diese zutrifft läuft der Prozess rechts weiter. Trifft sie nicht zu, geht es weiter nach unten.</p>
</div>
<div class="paragraph">
<p>In diesem Beispiel ist die Bedingung, dass der Artikel per DHL verschickt wird. Wenn die Bedingung erfüllt ist, läuft der Prozess wie gesagt nach rechts und in diesem Fall auf "Versand-Center" , der Versand wird also angemeldet und ein Etikett wird gedruckt. Wenn nicht, wird eine Pollingdatei für DPD erstellt.</p>
</div>
<div class="paragraph">
<p>Dieser Jump hier verhindert dann, dass zusätzlich ein DHL-Versandlabel erstellt wird. Hättest du den nämlich nicht, würde der Prozess nach unten ganz normal weiterlaufen. Nutzt du einen Jump, springt der Prozess stattdessen dann ans Ende. Nur so funktioniert der Split in diesem Fall richtig.</p>
</div>
<div class="paragraph">
<p>Wenn wir diesen kleinen Prozess ausführen, sieht das dann so aus: Der Auftrag wird rausgesucht, der Artikel eingescannt und der Split kommt zum Einsatz - unsichtbar schlägt er zu und trennt somit DHL von DPD. In diesem Fall wurde also das korrekte Versandprofil gefiltert und eine Polling-Datei erstellt.</p>
</div>
<div class="paragraph">
<p>Wie gesagt ist dies nur ein kleiner Prozess, den du im Arbeitsalltag vermutlich nicht benutzen wirst. Also wagen wir uns doch mal in die Realität und schauen uns die Kraft des Splits in einem komplexeren Prozess an. Hier finden wir den Split recht weit unten. Denn in diesem Beispiel eines Boxkommisionierungs-Prozess prüft der Split gegen Ende die Bedingung, ob alles korrekt erfasst wurde. Einfach aber essentiell. Bei positiver Prüfung leitet der Split nämlich zurück zur Picklistensuche und erklärt den Vorgang damit für erfolgreich beendet. Falls aber noch nicht alle Artikel und Seriennummern erfasst wurden, schickt er dich wieder zur Artikelerfassung mithilfe eines Jumps.</p>
</div>
<div class="paragraph">
<p>Unter welchen Bedingungen du letztendlich deinen Prozess teilst, bleibt natürlich dir überlassen. Dir stehen mehrere Filtermöglichkeiten zur Auswahl, um alles auf deine Bedürfnisse anzupassen. Probier sie direkt aus und lerne die Superpower von Dr. Prozess näher kennen.</p>
</div>
</div>
</div>
</main>