<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Die Steuerelemente werden vorgestellt</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wir verschaffen dir einen ersten Überblick über die Steuerelemente in plentymarkets. Arbeite mit Loop, Jump, Split, Filter, Dialog und End.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/231661398" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Schau in den Himmel: Ist das ein Vogel? Ist das ein Flugzeug? Nein es ist Dr. Prozess. Der Held, der immer dann auftaucht, wenn deine Abläufe automatisiert werden müssen. Dazu verfügt Dr. Prozess über ein riesiges Arsenal an Superkräften, die deine Arbeit leichter machen! Wie er das schafft? Ich zeige es dir!</p>
</div>
<div class="paragraph">
<p>Beim Ausführen des Prozesses helfen dir die Steuerelemente Loop, Jump, Split, Filter, Dialog und End. Das sind Dr. Prozess' Superkräfte. Also keine Angst! Auch Normalsterbliche können gegen betriebswirtschaftliches Kryptonit ankämpfen in dem sie normalerweise zeitaufwändige Arbeitsabläufe vereinfachen und automatisieren.</p>
</div>
<div class="paragraph">
<p>Was hier auf den ersten Blick kompliziert erscheint kann deine Arbeit nachhaltig erleichtern. Anhand dieses Prozesses möchte ich dir in weiteren Videos die Steuerelemente und ihre Funktion erklären. Wenn du wissen möchtest, wie dieser Prozess funktioniert lege ich dir das Video zur Sammelkommissionierung ans Herz. Hier erklären wir dir Schritt für Schritt, wie dieser Prozess funktioniert.</p>
</div>
<div class="paragraph">
<p>Im Prinzip ist dieser Prozess der Superheld unter den Prozessen, bildet er doch so ziemlich alles ab, was du zur Abwicklung deiner Aufträge benötigst. Der Prozess startet mit einer Pick-Listen-Suche. Die Picklisten selber sind hier bereits mit einem anderen Prozess erzeugt worden und werden in unserem Prozess nur noch abgearbeitet. Anschließend werden die Artikel gescannt bzw. manuell eingegeben und werden dann in die entsprechende Box gelegt. Dabei stellt jede Box einen seperaten Auftrag dar, der eine verschiedene Anzahl an Artikel enthalten kann. Sobald die Artikel erfasst und in die entsprechende Box gelegt wurden, geht der Prozess weiter. Der Auftrag wird im Versandcenter angemeldet. Und anschließend werden Rechnung und Lieferschein erstellt.</p>
</div>
<div class="paragraph">
<p>Innerhalb des Prozesses sind alle verfügbaren Steuerelemente verbaut. In den nächsten Videos erklären wir dir sehr detailliert, wie die Steuerelemente arbeiten und eingesetzt werden können. Da alle Prozesse immer genau auf deine Bedürfnisse und Anforderungen angepasst sind, ist es in bestimmten Fällen keine gute Idee Prozesse eins zu eins zu kopieren. Wenn Du aber diesen Prozess trotzdem nutzen möchtest kannst du ihn dir in der Videobeschreibung runterladen. Denk aber daran, dass Du nach dem Herunterladen eines Prozesses deinen Drucker im Prozess konfigurieren und die verschiedenen Status erneut hinterlegen musst.</p>
</div>
<div class="paragraph">
<p>Schneller als ein Geschoss, stärker als eine Lokomotive, dazu fähig, einen Wolkenkratzer mit einem Sprung zu erklimmen. Dr Prozess - zu deinen Diensten!</p>
</div>
</div>
</div>
</main>