<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_procedure_manager"><span>1.</span><span> Procedure manager</span></a></li>
<li><a href="#_event_procedures"><span>2.</span><span> Event procedures</span></a></li>
<li><a href="#_prozesse"><span>3.</span><span> Prozesse</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Automate your daily tasks! plentymarkets includes three different tools that help you automate your routine business processes.</p>
</div>
<div class="paragraph">
<p>Learn about the three different tools in a playful introduction:</p>
</div>
<div class="videoblock">
<div class="title">Automate your day-to-day tasks</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/198165819" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_procedure_manager">1. Procedure manager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can use the <a href="/en/automation/procedure-manager">procedure manager</a> to automatically complete routine tasks at a specific time every day.</p>
</div>
<div class="paragraph">
<p>For example, you can <a href="/en/automation/best-practices-automation#_practical_examples_procedure_manager">use the procedure manager</a> to set a time each day when non-paying eBay or store customers should receive a payment reminder or dunning letter. The reminder will then be automatically sent by email.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_event_procedures">2. Event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/automation/event-procedures">Event procedures</a> are easy to understand: specific <strong><em>events</em></strong> in your online store trigger specific <strong><em>procedures</em></strong>.</p>
</div>
<div class="paragraph">
<p>For example, you can <a href="/en/automation/best-practices-automation#_practical_examples_event_procedures">use event procedures</a> to send emails to your customers. Use event procedures to configure such automatic tasks and have plentymarkets complete them reliably.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_prozesse">3. Prozesse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use <a href="/en/automation/processes/setting-up-processes">processes</a> to automate complex tasks in plentymarkets.</p>
</div>
<div class="paragraph">
<p>For example, you can use processes to pick and pack items in your warehouse.</p>
</div>
</div>
</div>
</main>