<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automation</h1><p>Willkommen im Themenbereich Automation. Hier finden Sie folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/en/automation/procedure-manager">Procedure manager</a></li><li><a href="/en/automation/event-procedures">Event procedures</a></li><li><a href="/en/automation/best-practices-automation">Best Practices: Procedure manager and event procedures</a></li><li><a href="/en/automation/processes">Processes</a></li></ul>
</main>