<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Basics</h1><p>Welcome to the topic Basics. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/basics/legal-requirements">Legal requirements</a></li><li><a href="/en/basics/admin-tasks">Admin tasks</a></li><li><a href="/en/basics/working-with-plentymarkets">Working with plentymarkets</a></li><li><a href="/en/basics/internal-IDs">Internal IDs in plentymarkets</a></li><li><a href="/en/basics/eol">EOL: End of software maintenance and provisioning</a></li></ul>
</main>