<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Basics</h1><!-- AUTO GENERATED --><ul><li><a href="/en/basics/first-steps">First steps</a></li><li><a href="/en/basics/working-with-plentymarkets">Working with plentymarkets</a></li><li><a href="/en/basics/data-exchange">Data exchange</a></li><li><a href="/en/basics/automation">Automation</a></li><li><a href="/en/basics/version-upgrade">Version upgrade</a></li><li><a href="/en/basics/statistics">Statistics</a></li></ul>
</main>