<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Content and containers</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sometimes when you download a plugin, it comes with a bit of extra content. You’ll need to tell plentymarkets which container it should display this content in.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/245342214" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Container. A box or jar for holding goods. Right, okay - what’s that have to do with your website?</p>
</div>
<div class="paragraph">
<p>In one word - everything.</p>
</div>
<div class="paragraph">
<p>Imagine your online store is made up of a bunch of little containers. There are some at the top of the page, some at the bottom and some on the sides. And imagine that you have a bunch of different content like a PayPal icon or a slider for displaying recently viewed items.</p>
</div>
<div class="paragraph">
<p>Containers are a way to decide which content is displayed where. For example, you could put the icon in a container on the left and the slider in a container on the right. It’s as easy as that!</p>
</div>
<div class="paragraph">
<p>Sometimes when you download a plugin it comes with a bit of extra content. For example, if you downloaded the PayPal plugin, then logically, it will come with a PayPal icon. All you need to do is use these checkboxes here to tell plentymarkets which container you want to display the icon in. Simply scroll through the checkboxes until you’ve found the right container for this piece of content.</p>
</div>
<div class="paragraph">
<p>Makes sense so far? Then let’s try our hand at another example. When you install Ceres, you’ll see three item lists that pop up in this menu. Now what’s that all about? Well, this is an easy way to display lists of cross-selling items recently viewed items or any other items of your choice. Just like before, all you need to do is tell plentymarkets where it should display the item list.</p>
</div>
<div class="paragraph">
<p>Before saying goodbye, there’s one last thing to note about item lists. Namely, you’ll need to configure them in advance by opening up your Ceres plugin navigating to the configuration area and clicking on the "Item lists" tab. Here,tell plentymarkets what type of item list you’d like to make and then give your list a name.</p>
</div>
<div class="paragraph">
<p>Also, depending on which type of list you’re creating, you’ll either need to tell plentymarkets how many items it should display in the list which relationship the cross-selling items should have to one another or which tags you want to feature in your list.</p>
</div>
<div class="paragraph">
<p>Now that you’ve got the basics down, try it out for yourself and tell plentymarkets where each piece of content should be displayed.</p>
</div>
</div>
</div>
</main>