<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#export-list-of-delivery-addresses"><span>1.</span><span> Exporting a list of delivery addresses</span></a></li>
<li><a href="#import-package-numbers"><span>2.</span><span> Importing package numbers</span></a>
<ul class="sectlevel2">
<li><a href="#package-numbers-elastic-sync"><span>2.1.</span><span> Importing package numbers with the ElasticSync</span></a></li>
<li><a href="#manually-import-package-numbers"><span>2.2.</span><span> Manually importing package numbers</span></a></li>
<li><a href="#package-numbers-barcode-scanner"><span>2.3.</span><span> Importing package numbers with the help of a barcode scanner</span></a></li>
</ul>
</li>
<li><a href="#set-up-address-label"><span>3.</span><span> Setting up the address label</span></a>
<ul class="sectlevel2">
<li><a href="#address-label-template"><span>3.1.</span><span> Creating an address label template</span></a></li>
<li><a href="#pdf-template"><span>3.2.</span><span> Saving the PDF template</span></a></li>
<li><a href="#item-list"><span>3.3.</span><span> Item list</span></a></li>
<li><a href="#generate-address-label"><span>3.4.</span><span> Generating the address label</span></a></li>
</ul>
</li>
<li><a href="#delivery-list"><span>4.</span><span> Generating the delivery list</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Generating documents</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes how you export the list of delivery addresses to your shipping service provider and then import the package numbers, which you receive from your shipping service provider, into your plentymarkets system. You can print shipping labels after you have registered your orders online with your shipping service provider. Furthermore, you learn how to set up address label templates and generate delivery lists.</p>
</div>
<div class="paragraph">
<p>How you set up all other documents that are available in plentymarkets, such as invoice, order confirmation or delivery note, can be found in the <a href="/en/orders">Orders</a> area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="export-list-of-delivery-addresses">1. Exporting a list of delivery addresses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you ship packages with a shipping service provider, you need a list of delivery addresses. This list is an export of shipping information that you have to hand over to your shipping service providers, so that they, in return, can provide you with valid shipping labels. This export allows to get larger quantities of packages ready for shipment quickly and easily. In the following, you learn how to export your orders' delivery addresses into a file, which you need for your shipping service provider’s software.</p>
</div>
<div class="paragraph">
<p>If you have questions about importing the file into the shipping service provider’s software or about using the software itself, contact the provider.</p>
</div>
<div class="paragraph instruction">
<p>Exporting a list of delivery addresses:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment</strong>.</p>
</li>
<li>
<p>Expand the <strong>List of delivery addresses</strong> section (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-export-list-of-delivery-addresses">Table 1</a>.</p>
</li>
<li>
<p>Click on the gear-wheel icon (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ You receive a file that you save on your computer.</p>
</li>
<li>
<p>Afterwards, import the file with your shipping service provider’s software.</p>
</li>
</ol>
</div>
<table id="table-export-list-of-delivery-addresses" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings in the <strong>Orders » Fulfilment</strong> menu in the <strong>List of delivery addresses</strong> section</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Search filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the incoming payment.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the data format used in your shipping service provider’s software.<br>
If multiple shipping service providers apply to the orders, repeat the export process for all of the relevant data formats.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the separator.<br>
Also select this separator when importing the file into your shipping service provider’s software.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order status that should be assigned to the orders during export process.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Data format UPS WorldShip 11</div>
<div class="paragraph">
<p>If you generate a list of delivery addresses with the data format UPS Worldship 11, the information contained in the <strong>Additional address information</strong> field is displayed in the columns <strong>Str2</strong> and <strong>Str3</strong>. The columns can each contain 35 characters. Once the first column has been filled, the information continues in the second column. The additional address information is only displayed in the columns if they are empty. If the columns are not empty, the additional address information is not displayed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="import-package-numbers">2. Importing package numbers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Besides the convenient option to import package numbers into your system via the <a href="/en/fulfilment/generating-documents#package-numbers-elasticsync">ElasticSync</a>, you can also import the package numbers <a href="/en/fulfilment/generating-documents#manually-import-package-numbers">manually</a> or with the help of a <a href="/en/fulfilment/generating-documents#package-numbers-barcode-scanner#">barcode scanner</a>.</p>
</div>
<div class="sect2">
<h3 id="package-numbers-elastic-sync">2.1. Importing package numbers with the ElasticSync</h3>
<div class="paragraph">
<p>Using ElasticSync is the easiest way to import package numbers in your plentymarkets system. To do so, create a sync of the type <strong>Orders</strong>. Note our <a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-package-numbers-fulfilment">Best Practice: Importing package numbers from shipping service providers</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="manually-import-package-numbers">2.2. Manually importing package numbers</h3>
<div class="paragraph">
<p>In the <strong>Orders » Fulfilment</strong> menu in the <strong>Import of package numbers</strong> tab in the <strong>List import</strong> section, you can manually enter the package numbers with the corresponding order ID. Alternatively, you can use a barcode scanner to scan these from the packing list. You find a description of how to proceed in the <a href="/en/fulfilment/generating-documents#package-numbers-barcode-scanner">next chapter</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="package-numbers-barcode-scanner">2.3. Importing package numbers with the help of a barcode scanner</h3>
<div class="paragraph">
<p>The outgoing items should be booked in plentymarkets once an order is finished being packed. <strong>Status [7] Outgoing items booked</strong> is saved for the order and the current date is saved as the date for the outgoing items. For example, this operation can be carried out by scanning the barcode on the invoice, delivery note, packing list or the address label. Make sure that your barcode scanner is correctly set up.</p>
</div>
<div class="paragraph">
<p>The following example describes the scanning process of the packing list.</p>
</div>
<div class="paragraph instruction">
<p>Importing package numbers with the help of a barcode scanner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment</strong>.</p>
</li>
<li>
<p>Expand the <strong>Generating invoices</strong> section (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Generate one or multiple invoices. For further information, refer to the explanations on the <a href="/en/orders/order-documents/generating-invoices">Invoices</a> page of the manual.</p>
</li>
<li>
<p>Create a packing list from these invoices for all orders that need to be packed this time. For further information, refer to the explanations on the <a href="/en/orders/order-documents/packing-list">Packing list</a> page of the manual.</p>
</li>
<li>
<p>As soon as a package has been packed, mark this order on the packing list.</p>
</li>
<li>
<p>Additionally, place another small sticker with the package number (light label) underneath the order ID’s barcode.</p>
</li>
<li>
<p>Go to <strong>Orders » Fulfilment</strong>.</p>
</li>
<li>
<p>Click on the <strong>Import of package numbers</strong> tab.</p>
</li>
<li>
<p>Place the cursor in the first field in the <strong>List import</strong> section.</p>
</li>
<li>
<p>First scan the order ID and afterwards the package number.<br>
→ By clicking on <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>), the package numbers is saved for all orders in the <strong>Settings</strong> tab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Set up an event procedure in the <strong>Setup » Orders » Event procedures</strong> menu. Select the procedure <strong>Order &gt; Book outgoing items</strong> for the event <strong>Order change &gt; Package number</strong>. Furthermore, you can send your customers an email template including the package number and the link for tracking the package. For further information, refer to the <a href="/en/automation/event-procedures">Event procedures</a> page of the manual.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-address-label">3. Setting up the address label</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In contrast to shipping labels, you can precisely define which information should be displayed for address labels in plentymarkets and where it should be positioned on the label. These address labels do not yet include the shipping charges or the shipment numbers, as they were not generated by the shipping provider. Using address labels is especially recommended in certain situations. For example, when shipping books, it is sometimes possible to write book mail on the package and ship it for a cheaper price than the weight of the package. In plentymarkets, you can configure the address label templates, generate a PDF file and use it to print labels.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">When does it make sense to use the software of a parcel service?</div>
<div class="paragraph">
<p>Generate address labels in plentymarkets to send your items. If you would like to ship packages with a parcel service, we recommend that you use the software of the parcel service in order to print shipping labels.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If you have already created an address label template and saved a PDF template, continue with chapter <a href="/en/fulfilment/generating-documents#generate-address-label">Generating the address label</a>.</p>
</div>
<div class="sect2">
<h3 id="address-label-template">3.1. Creating an address label template</h3>
<div class="paragraph">
<p>Before being able to print address labels, you have to create a template. Proceed as described below to create a new template.</p>
</div>
<div class="paragraph instruction">
<p>Creating an address label template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Documents » Address label</strong>.</p>
</li>
<li>
<p>Click on the <strong>New template</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-create-address-label-template">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Positioning with coordinates</div>
<div class="paragraph">
<p>The content is positioned on a label by entering coordinates (X, Y). The upper left corner of the label is assumed to be the start point.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-address-label-template" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings in the <strong>System » Orders » Documents » Address label</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Layout title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the address label template. This name is displayed in drop-down lists for selecting the template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Unicode</strong> or *ISO-8859-1. It may take longer to generate PDF documents if the character set "Unicode" is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter values (in mm) for the <strong>width</strong> and <strong>height</strong> of the paper which you are going to use for the labels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Margin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter values (in mm) for the left and the top margin on the page.<br>
You also need to consider the right and the lower margin when printing. Usually, the spaces are the same as for the left and top margin. For this purpose, read the information provided for the label paper as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter values (in mm) for the <strong>width</strong> and <strong>height</strong> of the paper which you are going to use for the labels.<br>
The exact dimensions are provided with the label paper. Pay also attention to the margins as well as the dimensions of the printing paper if the paper that you print on is bigger than your label.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lines per page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of lines that are generated per page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Columns per page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of columns that are generated per page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order of town and postcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display town and country in capital letters in delivery address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the town and country should be displayed in capitals letters in the delivery address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Include country of online store in delivery address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the country of the online store should be included in the delivery address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Further options, such as <strong>Delivery address</strong>, <strong>Invoice address</strong>, <strong>Name</strong> and <strong>Customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter numbers for the positioning.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item list determines how item data is displayed on the label. There are 2 types: <strong>Default</strong> and <strong>Individual</strong>. For further information on this two types, refer to the chapter <a href="/en/fulfilment/generating-documents#item-list">Item list</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content of the order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select between the <strong>Order ID of the main order</strong> and the <strong>Order ID of the delivery order</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Horizontal barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the coordinates for positioning the barcode as well as its dimensions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info bar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The info bar contains all important information. Information is summarised in one line and looks like this:<br>
IN:InvoiceNo. / PM: (Payment method) / TP: Total price / Date</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer properties</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter coordinates to position the customer properties. Select the <a href="/en/crm/managing-contacts#950">property</a> from the drop-down list. The text that was saved in the <strong>CRM » Contacts</strong> » <em>Open contact</em> » <strong>View: Properties</strong> menu is displayed on the address labels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free text fields 1 to 10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Free text fields enable you to display any desired texts which you have entered for them.<br>
<strong><em>Example:</em></strong> For example, one of the free text fields is frequently used to save the sender’s address.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Templates that you have already created can be selected and edited in the <strong>Setup » Orders » Documents » Address label</strong> menu in the <strong>Templates</strong> tab in the drop-down list <strong>Template</strong>. You also have the possibility to display a template of the label and to directly print the template in preview mode. When you delete the template, the link to the PDF template is also deleted.</p>
</div>
<div class="paragraph">
<p>The section <strong>PDF template</strong> only becomes visible once you have saved a template. In this section, you can link a PDF as background template for a document. You find a description of how to save a PDF template in the next chapter.</p>
</div>
</div>
<div class="sect2">
<h3 id="pdf-template">3.2. Saving the PDF template</h3>
<div class="paragraph">
<p>Once you have created an address label template, you are able to see the <strong>PDF template</strong> section above the <strong>Settings</strong> section in the menu <strong>Setup » Orders » Documents » Address label</strong>. You can save one PDF template per address label template. This is useful, for example, if you want to give your address labels a specific design.</p>
</div>
<div class="paragraph instruction">
<p>Saving the PDF template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Documents » Address label</strong>.</p>
</li>
<li>
<p>Select the <strong>template</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong> next to the words <strong>Upload</strong>.</p>
</li>
<li>
<p>Select the PDF file from your computer.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The next time you open the address label template, you are able to see the <strong>Display template link</strong> within the <strong>Template</strong> line. Click on this link to open the PDF template that is saved for this address label template. If you want to save a different PDF template, upload a new PDF file as described above. The existing PDF template is overwritten.</p>
</div>
</div>
<div class="sect2">
<h3 id="item-list">3.3. Item list</h3>
<div class="paragraph">
<p>The item list determines how item data is displayed on the label. You can select the types <strong>Default</strong> or <strong>Individual</strong>.</p>
</div>
<div class="paragraph subhead">
<p>Type: Default</p>
</div>
<div class="paragraph">
<p>If you select the option <strong>Default</strong>, you also need to enter the coordinates for the item list, the font size and the font style. This controls the position of the entire item list on the labels. In contrast to the option <strong>Individual</strong>, the text elements such as item ID or variation number, name and quantity are, however, positioned automatically.</p>
</div>
<div class="paragraph subhead">
<p>Type: Individual</p>
</div>
<div class="paragraph">
<p>If you select the option <strong>Individual</strong>, additional options become visible. You are able to determine the positions on the label individually. You also need to enter the coordinates for the item list, the font size and the font style. This controls the position of the entire item list on the labels. Furthermore, you have to decide which text elements should be displayed on the labels and you have to position these elements. The text elements are <strong>Quantity</strong>, <strong>Name</strong>, <strong>Item ID</strong> or <strong>Variation No.</strong>, <strong>Weight (kg)</strong>, <strong>Value</strong>, <strong>Customs tariff number</strong>, <strong>Manufacturing country</strong>, <strong>Storage location</strong> and <strong>Limit</strong>. Use the X coordinate, the font style and the width to specify how the individual elements should be displayed in the item list. Use the option <strong>Width</strong> to determine up to which text width (in mm) the option is displayed.</p>
</div>
</div>
<div class="sect2">
<h3 id="generate-address-label">3.4. Generating the address label</h3>
<div class="paragraph">
<p>After you have created and saved a template for a label, you can print the label in the <strong>Orders » Fulfilment » Address labels</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Generating the address label:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment</strong>.</p>
</li>
<li>
<p>Expand the section <strong>Address labels</strong> (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-generate-address-label">Table 3</a>.</p>
</li>
<li>
<p>Click on the gear-wheel icon (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ The shipping label opens in a separate window and can be printed.</p>
</li>
</ol>
</div>
<table id="table-generate-address-label" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings in the <strong>Orders » Fulfilment</strong> menu in the section <strong>Address label</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Search filter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Label template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the template from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the current status of the orders that you would like to generate address labels for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one (or more) order IDs. Address labels are only generated for the specified orders. Separate multiple IDs with commas.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one (or more) customer IDs. Address labels are only generated for the specified customers. Separate multiple IDs with commas.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one or more item IDs. Address labels are only generated for the specified items. Separate multiple IDs with commas.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type from the drop-down list. Select the option <strong>Order</strong> to generate address labels for orders only. Select the option <strong>ALL</strong> to generate address labels for all types of orders, e.g. also for credit notes and returns.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping service provider from the drop-down list to generate address labels for one shipping service provider only. Select the option <strong>ALL</strong> to generate address labels for all shipping service providers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the client (store) from the drop-down list to generate address labels for one client only. Select the option <strong>ALL</strong> to generate address labels for all clients.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the warehouse from the drop-down list to generate address labels for one warehouse only. Select the option <strong>ALL</strong> to generate address labels for all warehouses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start from line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number to determine which line the print should begin from.<br>
This option can be helpful if you use label paper. For example, if your last printing job only required the first 3 lines on a piece of label paper, you could start the next printing job from line 4. This allows you to use the rest of the labels on the page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the identifying feature that you would like to use for sorting the address labels that are generated. Alternatively, select the option <strong>NONE</strong> if you do not want to have the labels be sorted in any particular way.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grouping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine which criterion you would like to use for generating and grouping the address labels. Select one of the following options:<br>
<strong>One label per order</strong> = Select one of the following options:one label per order = When the address label is generated in the order, only one label is generated for the entire order.<br>
<strong>One label per order item</strong> = A label is created in the PDF for each order item.<br>
<strong>One label per item</strong> = A label is created in the PDF for each item in the order.<br>
<strong>One label per shipping package</strong> = A label is created in the PDF for each shipping package. These are the <a href="/en/fulfilment/preparing-the-shipment#1900">shipping packages</a> of the order as they are displayed in the shipping centre.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how many orders should be edited at one time.<br>
The maximum number that can be selected is equal to the maximum number of orders that can be edited at once. If the number of orders that you wish to edit is larger than the limit, the process has to be repeated multiple times. In order to ensure that the system performs as efficiently as possible. The lowest limit is set as the default setting in most of the sub-menus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a new status that you would like to have assigned to the selected orders after the invoices were successfully retrieved.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Using the label printer</div>
<div class="paragraph">
<p>It is possible to use label printers. Label rolls are used most of the time. You can generate the necessary labels in the <strong>Setup » Orders » Documents » Address label</strong> menu. Enter <strong>1</strong> for the options <strong>Lines per page</strong> and <strong>Columns per page</strong>. This way, you end up with one label per PDF page. In this case, the label measurements would correspond to the page measurements.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="delivery-list">4. Generating the delivery list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Fulfilment</strong> menu in the section <strong>Delivery list</strong>, you carry out settings with which you define which packages should be on the delivery list that will be generated next. For example, you can generate a delivery list for all orders that are in <strong>Status [6] Currently being shipped</strong> by selecting the correct search filter settings.</p>
</div>
<div class="paragraph instruction">
<p>Generating the delivery list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment</strong>.</p>
</li>
<li>
<p>Expand the <strong>Delivery list</strong> section (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings for the search filters. Pay attention to the information given in <a href="#table-generate-delivery-list">Table 4</a>.</p>
</li>
<li>
<p>Click on the gear-wheel icon (<span class="icon "><i class="fa fa-cog  "></i></span>) to generate the delivery list.<br>
→ A file containing the data that corresponds to the search criteria entered is listed.</p>
</li>
</ol>
</div>
<table id="table-generate-delivery-list" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Settings in the <strong>Orders » Fulfilment</strong> menu in the section <strong>Delivery list</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status of the orders that you are searching for. Only the orders with this status are included in the delivery list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an owner for the orders that you are searching for. Alternatively, select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click in the field to open the calendar. Select a date from the calendar or manually enter the date to narrow down the orders that are on the delivery list. The delivery list only includes orders which had their outgoing items booked that day. If no date was selected or entered, you search for orders where the outgoing items were not booked yet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping service provider for the orders that you are searching for. Alternatively, select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>List number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of the delivery list. This number is displayed on the generated delivery list. If you are generating a delivery list for the first time, number 1 is set in this field by default. Every time that you generate a delivery list, this number automatically increases by 1.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the customer number. This number is displayed on the generated delivery list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a title for the delivery list. The title is displayed on the generated delivery list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name. The name as well as the contact data (address, postcode and town) are displayed on the generated delivery list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter own address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postcode / town</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the postcode and town.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the format for the delivery list. The following options can be selected: <strong>PDF</strong> and <strong>CSV</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>