<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_a"><span>A</span></a></li>
<li><a href="#_b"><span>B</span></a></li>
<li><a href="#_c"><span>C</span></a></li>
<li><a href="#_d"><span>D</span></a></li>
<li><a href="#_e"><span>E</span></a></li>
<li><a href="#_f"><span>F</span></a></li>
<li><a href="#_g"><span>G</span></a></li>
<li><a href="#_i"><span>I</span></a></li>
<li><a href="#_k"><span>K</span></a></li>
<li><a href="#_l"><span>L</span></a></li>
<li><a href="#_m"><span>M</span></a></li>
<li><a href="#_n"><span>N</span></a></li>
<li><a href="#_o"><span>O</span></a></li>
<li><a href="#_p"><span>P</span></a></li>
<li><a href="#_r"><span>R</span></a></li>
<li><a href="#_s"><span>S</span></a></li>
<li><a href="#_t"><span>T</span></a></li>
<li><a href="#_u"><span>U</span></a></li>
<li><a href="#_v"><span>V</span></a></li>
<li><a href="#_w"><span>W</span></a></li>
<li><a href="#_x"><span>X</span></a></li>
<li><a href="#_z"><span>Z</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets glossary</h1><div class="sect1">
<h2 id="_a">A</h2>
<div class="sectionbody">
<div id="accounts-receivable-list" class="dlist glossary">
<dl>
<dt>Accounts receivable list</dt>
<dd>
<p>Contains an overview of customers with unpaid orders (number of claims plus total pending amount).</p>
</dd>
</dl>
</div>
<div id="amazon-flatfile" class="dlist">
<dl>
<dt class="hdlist1">Amazon Flatfile</dt>
<dd>
<p>A variation list in the format CSV. Amazon Flatfiles are needed to export variations from plentymarkets to Amazon. A separate flatfile is needed for each Amazon category. This is because different variation data is needed for each category.</p>
<div class="ulist">
<ul>
<li>
<p>Synonyms: flatfile, inventory file, inventory file template</p>
</li>
<li>
<p>For further information, refer to the <a href="/en/videos/amazon/artikel/flat-files">A guide to inventory file templates (flat files)</a> video.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="attribute" class="dlist">
<dl>
<dt class="hdlist1">Attribute</dt>
<dd>
<p>For example, the various sizes and colours that products are available in. Attributes simultaneously characterise products and create saleable <a href="#variation">variations</a>, e.g. a t-shirt in the colour red and the size S.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/attributes">Attribute</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="auction" class="dlist">
<dl>
<dt class="hdlist1">Auction</dt>
<dd>
<p>A <a href="#listing">listing</a> type. Auctions are possible on the marketplaces eBay, Hood and ricardo. <strong>Auction</strong> type listings start at a predefined price, then customers bid on the item.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_b">B</h2>
<div class="sectionbody">
<div id="back-end" class="dlist glossary">
<dl>
<dt>Back end</dt>
<dd>
<p>The part of the system where functions are saved and are available for users.</p>
</dd>
</dl>
</div>
<div id="back-end-plugin-set" class="dlist">
<dl>
<dt class="hdlist1">Back end plugin set</dt>
<dd>
<p>A <a href="#plugin-set">plugin set</a> that’s linked to a user account. The <a href="#plugin">plugins</a> that are included in the plugin set can add menus and functions to the <a href="#backend">back end</a>. Every user account is always linked to exactly one plugin set.</p>
</dd>
</dl>
</div>
<div id="barcode" class="dlist">
<dl>
<dt class="hdlist1">Barcode</dt>
<dd>
<p>Barcodes are used to uniquely identify items. They are often displayed e.g. on item labels or on documents like invoices and delivery notes. There are different types of barcodes, e.g. GTIN, ISBN, UPC or QR barcodes.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/barcodes">Barcodes and labels</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="batch" class="dlist">
<dl>
<dt class="hdlist1">Batch</dt>
<dd>
<p>Amount of products that has been produced in one and the same work process.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/managing-bbd-batch">Managing BBD/batch</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="batch-picking" class="dlist">
<dl>
<dt class="hdlist1">Batch picking</dt>
<dd>
<p>Method of combining items from multiple orders. An item is picked several times for different orders.</p>
</dd>
</dl>
</div>
<div id="bbd" class="dlist">
<dl>
<dt class="hdlist1">BBD</dt>
<dd>
<p>The best before date (BBD) can be specified for variations that can only be kept until a certain date.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/managing-bbd-batch">Managing BBD/batch</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="beta" class="dlist">
<dl>
<dt class="hdlist1">beta</dt>
<dd>
<p>A development state of plentymarkets. Normally, functionality is first published on this version. If no problems are identified, the functionality is published on <a href="#early">early</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/business-decisions/system-administration/version-cycle">Changing state of development</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="box-picking" class="dlist">
<dl>
<dt class="hdlist1">Box picking</dt>
<dd>
<p>Method of combining items from multiple orders. Multiple orders are brought to the packing table picked, packed and pre-sorted for shipping at the same time.</p>
</dd>
</dl>
</div>
<div id="box-storage-rack" class="dlist">
<dl>
<dt class="hdlist1">Box storage rack</dt>
<dd>
<p>Box storage racks in plentymarkets are a kind of interim storage for multi order picking and are only available in <a href="/en/automation/processes/procedures">processes</a>. Thus, when picking stock, the items are not sorted immediately, but gathered in a box storage rack.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/app/functions/warehouse-management/mobile-box-picking">Mobile box picking</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="bundle" class="dlist">
<dl>
<dt class="hdlist1">Bundle</dt>
<dd>
<p>See <a href="#item-bundle">item bundle</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_c">C</h2>
<div class="sectionbody">
<div id="calculation-type" class="dlist glossary">
<dl>
<dt>Calculation type</dt>
<dd>
<p>Is used in the <a href="#table of shipping charges">table of shipping charges</a> of a <a href="#shipping profile">shipping profile</a>. Offers different ways of calculating the shipping costs for an item, depending on, for example, weight, quantity or price.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/fulfillment/preparing-the-shipment#1600">Preparing the shipment</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="cash-deposit" class="dlist">
<dl>
<dt class="hdlist1">Cash deposit</dt>
<dd>
<p>Physical complement of the cash on hand in the checkout area in order to have change available. <a href="/en/pos/plentymarkets-pos-for-pos-users#190">Cash deposits</a> are booked in the plentymarkets App or in the back end and can be assigned to different booking accounts.</p>
</dd>
</dl>
</div>
<div id="cash-journal" class="dlist">
<dl>
<dt class="hdlist1">Cash journal</dt>
<dd>
<p>Contains all available POS movements and can be exported in PDF or CSV formats. You can search and view POS transactions in the <a href="/en/pos/integrating-plentymarkets-pos#400">cash journal</a>.</p>
</dd>
</dl>
</div>
<div id="cash-on-delivery" class="dlist">
<dl>
<dt class="hdlist1">Cash on delivery</dt>
<dd>
<p>Payment method which you can offer in your online store. The shipping service provider transports the packages to the addressee and takes care of the payment transaction. The addressee only receives their package after having paid for it.</p>
</dd>
</dl>
</div>
<div class="dlist cash-withdrawal">
<dl>
<dt>Cash withdrawal</dt>
<dd>
<p>Physical reduction of available cash, for example when transferring cash amounts from the till to other accounts. <a href="/en/pos/plentymarkets-pos-for-pos-users#200">Cash withdrawals</a> are booked in the plentymarkets app or in the plentymarkets back end and can be assigned to different booking accounts.</p>
</dd>
</dl>
</div>
<div id="category" class="dlist">
<dl>
<dt class="hdlist1">Category</dt>
<dd>
<p>plentymarkets categories can be used either to <em>group items</em> or to create <em>content pages</em> for your online store. The category type determines how the category can be used.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/categories">Categories</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="characteristic" class="dlist">
<dl>
<dt class="hdlist1">Characteristic</dt>
<dd>
<p>Characteristics were the precursor to <a href="#property">properties</a>.
They are less flexible, out-dated and are gradually being replaced by properties.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/properties">Properties and characteristics</a> page.<br></p>
</li>
<li>
<p>Differentiation: <a href="#property">Properties</a>, <a href="#attribute">Attributes</a></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="check-digit" class="dlist">
<dl>
<dt class="hdlist1">Check digit</dt>
<dd>
<p>The final number of a GTIN <a href="#barcode">barcode</a>.</p>
</dd>
</dl>
</div>
<div id="click-and-collect" class="dlist">
<dl>
<dt class="hdlist1">Click &amp; Collect</dt>
<dd>
<p>This method allows the the customer to pay and collect items that have been ordered via the online store or via marketplaces directly in the <a href="/en/pos/pos-online-orders">store</a>.</p>
</dd>
</dl>
</div>
<div id="client" class="dlist">
<dl>
<dt class="hdlist1">Client</dt>
<dd>
<p>An entity of plentymarkets. You can, for instance, link a client with a domain in order to operate an <a href="#online-store">Online store</a>. It is possible to manage multiple clients with one system.</p>
</dd>
</dl>
</div>
<div id="colli" class="dlist">
<dl>
<dt class="hdlist1">Colli</dt>
<dd>
<p>Load unit for the transport of goods. More specifically, it is the packing unit of piece goods, thus, the smallest unit of a goods shipment. The entry Colli: 7 e.g. means that the package consists of 7 units.</p>
</dd>
</dl>
</div>
<div id="coupon" class="dlist">
<dl>
<dt class="hdlist1">Coupon</dt>
<dd>
<p>One of two coupon types available in plentymarkets. Offers customers a discount in your online store.<br>
The other available coupon type is a <a href="#voucher">voucher</a>.<br>
A coupon has a code which belongs to a <a href="#coupon-campaign">coupon campaign</a> and which can be redeemed either once or multiple times. Coupons can be emailed to customers as special offer codes or can be sold as items in your online store. If sold as an item, customers receive the coupon in a PDF document.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/orders/coupons">Coupons</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="coupon-campaign" class="dlist">
<dl>
<dt class="hdlist1">Coupon campaign</dt>
<dd>
<p>Each coupon belongs to a specific campaign. The campaign allows you to centrally manage coupons, e.g. how long coupons of this campaign are valid or how often they can be redeemed.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/orders/coupons">Coupons</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="cross-selling" class="dlist">
<dl>
<dt class="hdlist1">Cross-selling</dt>
<dd>
<p>In cross-selling, customers are subtly encouraged to spend more money.
This is done by offering additional products that relate to the purchased product.
Example: the sales person in an electronics store suggests a memory card that would work with the digital camera.
In e-commerce, customers can’t directly be asked if they want to buy additional products.
Instead, a list of related items is displayed on the product page of the webshop.</p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/webshop/cross-selling">Cross-selling</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="customer-class" class="dlist">
<dl>
<dt class="hdlist1">Customer class</dt>
<dd>
<p>Allows you to divide your customer base into subgroups based on specific criteria. Afterwards, you can define different discounts for the different customer classes.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/crm/managing-contacts#15">Managing contacts</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="customer-type" class="dlist">
<dl>
<dt class="hdlist1">Customer type</dt>
<dd>
<p>Allows you to classify and differentiate contacts. Some types are defined in the system by default. You can add your own types.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/crm/managing-contacts#20">Managing contacts</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_d">D</h2>
<div class="sectionbody">
<div id="days-early-payment-discount" class="dlist glossary">
<dl>
<dt>Days for early payment discount</dt>
<dd>
<p>Number of days when the contact can pay the pending amounts at a discounted price.</p>
</dd>
</dl>
</div>
<div id="default-client" class="dlist">
<dl>
<dt class="hdlist1">Default client</dt>
<dd>
<p>The <a href="#client">client</a> that is related to the contract of the system. Some functions can only be accessed via the default client. These are, for example, event procedures and REST API calls.<br>
Synonyms: Main client, standard client</p>
</dd>
</dl>
</div>
<div id="delivery-list" class="dlist">
<dl>
<dt class="hdlist1">Delivery list</dt>
<dd>
<p>Contains the package number, the delivery address, the amount of the order as well as the order ID. When picking up the packages, the driver of the shipping service provider signs the list. Thus, it also serves as a pick-up receipt.</p>
</dd>
</dl>
</div>
<div id="dep-export" class="dlist">
<dl>
<dt class="hdlist1">DEP export</dt>
<dd>
<p>Data collection protocol that is provided as JSON file. In Austria, it is required by law to make the <a href="/en/pos/pos-legal-compliance#900">DEP export</a> available for every cash register.</p>
</dd>
</dl>
</div>
<div id="dimension" class="dlist">
<dl>
<dt class="hdlist1">Dimension</dt>
<dd>
<p>Dimensions are options that are available per <a href="#key-figure">key figure</a> in the <a href="/en/business-decisions/plenty-bi">plentyBI</a> module. The selection of dimensions determines the data basis on which key figures are calculated as well as the criteria for grouping the data.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/business-decisions/plenty-bi/myview-dashboard#200">Dashboard (Beta)</a> page and to the sub-pages for the individual <a href="/en/business-decisions/plenty-bi/key-figures">key figures</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="drop-shipping" class="dlist">
<dl>
<dt class="hdlist1">Drop shipping</dt>
<dd>
<p>A model where stock is delivered from the manufacturer directly to the customer, without passing through the warehouse of the seller at any time. The seller assumes an intermediary function and buys the items directly from the manufacturer.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_e">E</h2>
<div class="sectionbody">
<div id="early" class="dlist glossary">
<dl>
<dt>early</dt>
<dd>
<p>A development state of plentymarkets. Functionality is published on this version if no problems were detected on <a href="#beta">beta</a>. If no problems are detected on this version either, the functionality is published on <a href="#stable">stable</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/business-decisions/system-administration/version-cycle">Changing state of development</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="elasticsync" class="dlist">
<dl>
<dt class="hdlist1">ElasticSync</dt>
<dd>
<p>See <a href="#importtool">import tool</a>.</p>
</dd>
</dl>
</div>
<div id="event-procedure" class="dlist">
<dl>
<dt class="hdlist1">Event procedure</dt>
<dd>
<p>Event procedures are a tool to automatise different parts of order processing. With an event procedure, an event triggers a procedure: <em>If x happens, y is triggered</em>. One example of a frequently used event procedure is sending an order confirmation via email as soon as a new order has been created or placed by customers via the online store. The procedures that are triggered can be specified by using filters within the event procedure.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/automation/event-procedures">Event procedures</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_f">F</h2>
<div class="sectionbody">
<div id="facet-navigation" class="dlist glossary">
<dl>
<dt>Facet navigation</dt>
<dd>
<p>See <a href="#faceted-search">faceted search</a>.</p>
</dd>
</dl>
</div>
<div id="faceted-search" class="dlist">
<dl>
<dt class="hdlist1">Faceted search</dt>
<dd>
<p>Facets are filter options that are used to make search results in the online store more precise based on specific criteria (facets). For example, search results can be made more precise so that they only contain a certain price range, brand names, sizes or colours.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/frontend-item-search">Search filters</a> page.<br></p>
</li>
<li>
<p>Synonyms: Facet navigation, filter search, item search</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="fallback-data-field" class="dlist">
<dl>
<dt class="hdlist1">Fallback data field</dt>
<dd>
<p>Data field that is exported if the mapped data fields could not be found or are empty.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/data/exporting-data/managing-catalogues#80">Managing catalogues</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="favicon" class="dlist">
<dl>
<dt class="hdlist1">Favicon</dt>
<dd>
<p>An icon or symbol used to mark websites in browser tabs or in the list of browser bookmarks. The favicon is saved in .ico format. The favicon is either saved in the <a href="/en/online-store/setting-up-ceres#20">plentyShop LTS configuration</a> or in the plentyShop LTS assistant.</p>
</dd>
</dl>
</div>
<div id="filter-search" class="dlist">
<dl>
<dt class="hdlist1">Filter search</dt>
<dd>
<p>See <a href="#faceted-search">faceted search</a>.</p>
</dd>
</dl>
</div>
<div id="fixed-price" class="dlist">
<dl>
<dt class="hdlist1">Fixed price listing</dt>
<dd>
<p><a href="#listing">Listing</a> offered at a fixed price and not up for auction.</p>
</dd>
</dl>
</div>
<div id="flag" class="dlist">
<dl>
<dt class="hdlist1">Flag</dt>
<dd>
<p>Flags are visual helpers. They help you find the right item at a glance. Assign one or two flags to each item. You can see these flags when you access your items in the plentymarkets back end.  You can also search for items that are marked with a specific flag or a combination of flags.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/flags">Tags and flags</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="flatfile" class="dlist">
<dl>
<dt class="hdlist1">Flatfile</dt>
<dd>
<p>See <a href="#amazon-flatfile">Amazon Flatfile</a>.</p>
</dd>
</dl>
</div>
<div id="formatdesigner" class="dlist">
<dl>
<dt class="hdlist1">FormatDesigner</dt>
<dd>
<p>Tool used for creating so-called data formats for data exports. The FormatDesigner plugin has to be installed and set up before creating export formats.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="front-end" class="dlist">
<dl>
<dt class="hdlist1">Front end</dt>
<dd>
<p>Contains all content that is visible to customers, such as the online store.</p>
</dd>
</dl>
</div>
<div id="fulfilment" class="dlist">
<dl>
<dt class="hdlist1">Fulfillment</dt>
<dd>
<p>Term that describes all activities and processes carried out after the purchase of items to arrange for delivery and comply with further contractual obligations.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_g">G</h2>
<div class="sectionbody">
<div id="grand-total" class="dlist">
<dl>
<dt class="hdlist1">Grand total</dt>
<dd>
<p>Total of all revenues generated since creation of the point of sale. For <a href="/en/pos">plentyPOS</a>, the grand total is listed in the <a href="/en/pos/plentymarkets-pos-for-pos-users#230">z report</a>.</p>
</dd>
</dl>
</div>
<div id="graduated-price" class="dlist">
<dl>
<dt class="hdlist1">Graduated price</dt>
<dd>
<p>A series of prices that are based on a different factor, usually the number of items ordered. For example, you may sell an item for EUR 5.00 per unit. When a customer purchases 3 or more units of the item, you can reduce the price to EUR 4.00 per unit.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/prices">Sales prices and price calculation</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_i">I</h2>
<div class="sectionbody">
<div id="idea-export" class="dlist glossary">
<dl>
<dt>IDEA export</dt>
<dd>
<p>An export of all POS transactions that complies with the GoBD and can be requested by German tax officers as part of a tax audit. The export files can be downloaded as a ZIP file for individual years.</p>
</dd>
</dl>
</div>
<div id="importtool" class="dlist">
<dl>
<dt class="hdlist1">Import tool</dt>
<dd>
<p>Tool for carrying out data imports by creating imports. A data import can be carried out manually or automatically. It is recommended to carry out an import if new data are already available in digital form.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en//data/importing-data/ElasticSync">Using the import tool</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="inbound" class="dlist">
<dl>
<dt class="hdlist1">Inbound</dt>
<dd>
<p>Means that you supply a fulfilment service provider with items that they will then deliver to your customers. The term inbound covers 2 aspects:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>the transmission of data to the fulfilment service provider in the form of an advice note (goods delivery announcement)</p>
</li>
<li>
<p>the process of physical goods receipt that you transfer from your warehouse to the warehouse of the fulfilment service provider</p>
</li>
</ol>
</div>
</dd>
</dl>
</div>
<div id="incoming-items" class="dlist">
<dl>
<dt class="hdlist1">Incoming items</dt>
<dd>
<p>Items are booked in to the system and stock is increased.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/stock-management/new-incoming-items">Managing incoming items</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="incoming-payment" class="dlist">
<dl>
<dt class="hdlist1">Incoming payment</dt>
<dd>
<p>Term for an incoming payment for an order. Payments can either be booked automatically or manually and are recorded directly in the order.</p>
</dd>
</dl>
</div>
<div id="inheritance" class="dlist">
<dl>
<dt class="hdlist1">Inheritance</dt>
<dd>
<p>The <a href="#main-variation">main variation</a> of an item differs from the child variations: The main variation can pass data on, i.e. other variations can <em>inherit</em> its data. As such, the main variation is a parent variation that passes on certain settings to its children. By default, this inheritance function is active. When a new variation is created for an item, this variation inherits the inheritable settings of the main variation by default if no other data is saved.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/introduction/inheritance">Inheritance</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="inventory-log-export" class="dlist">
<dl>
<dt class="hdlist1">Inventory log export</dt>
<dd>
<p>The inventory log export contains information on stocktaking results in a way that is suitable for legally compliant bookkeeping and internal documentation. plentymarkets allows you to download inventory log exports for stocktaking that is carried out with the plentyWarehouse app. Several filters and file types are available for the export.</p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/plentywarehouse/carrying-out-stocktaking#600">Taking stock</a> page of the manual.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="insertion-fee" class="dlist">
<dl>
<dt class="hdlist1">Insertion fee</dt>
<dd>
<p>See <a href="#listing-fee">Listing fee</a>.</p>
</dd>
</dl>
</div>
<div id="inventory-file" class="dlist">
<dl>
<dt class="hdlist1">Inventory file</dt>
<dd>
<p>See <a href="#amazon-flatfile">Amazon Flatfile</a>.</p>
</dd>
</dl>
</div>
<div id="item" class="dlist">
<dl>
<dt class="hdlist1">Item</dt>
<dd>
<p>Items can be thought of as <em>data containers</em>. They always include one or more <a href="#variation">variations</a>, i.e. one or more saleable versions of a product. For example, if you sell a t-shirt in small, medium, and large, then all of these sizes together form the item. Each individual size is a variation of the item.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/artikel/introduction/structure">Items vs. Variations</a> page.<br></p>
</li>
<li>
<p>Synonyms: Products, goods, commodities</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="item-bundle" class="dlist">
<dl>
<dt class="hdlist1">Item bundle</dt>
<dd>
<p>A way to <em>combine products and sell them as a single unit</em>. Item bundles consist of several different <a href="#variation">variations</a> that are grouped together and sold for a bundle price. Customers can only purchase the entire bundle as a whole. The individual components can not be chosen. Example: a beard care kit consisting of scissors, a brush, beard oil and beard wax.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/use-cases/combining-products">Multipacks, item bundles and sets</a> page.<br></p>
</li>
<li>
<p>Synonyms: Product bundles, package deals</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="item-pack" class="dlist">
<dl>
<dt class="hdlist1">Item pack</dt>
<dd>
<p>See <a href="#item-bundle">item bundle</a>.</p>
</dd>
</dl>
</div>
<div id="item-search" class="dlist">
<dl>
<dt class="hdlist1">Item search</dt>
<dd>
<p>See <a href="#faceted-search">faceted search</a>.</p>
</dd>
</dl>
</div>
<div id="item-set" class="dlist">
<dl>
<dt class="hdlist1">Item set</dt>
<dd>
<p>See <a href="#set">set</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_k">K</h2>
<div class="sectionbody">
<div id="key-figure" class="dlist">
<dl>
<dt class="hdlist1">Key figure</dt>
<dd>
<p>A key figure offers insights into the economic condition of a business and thus facilitates business decisions. In plentymarkets, key figures can be set up and evaluated statistically with the help of numerous different settings in the <a href="/en/business-decisions/plenty-bi">plentyBI</a> module.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/business-decisions/plenty-bi/key-figures">Key figures</a> page of the manual.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="ktype" class="dlist">
<dl>
<dt class="hdlist1">K type number</dt>
<dd>
<p>Unique number associated with exactly one vehicle from the TecDoc catalogue. eBay uses this number in their <a href="#parts-compatibility-listing">Parts compatibility listing</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>Alternative spellings: KType, K-type</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_l">L</h2>
<div class="sectionbody">
<div id="list-of-delivery-addresses" class="dlist glossary">
<dl>
<dt>List of delivery addresses</dt>
<dd>
<p>Export file that includes shipment information you provide to the shipping service provider via which you ship your goods. The shipping service provider creates valid shipping labels for your packages on the basis of this information.</p>
</dd>
</dl>
</div>
<div id="listing" class="dlist">
<dl>
<dt class="hdlist1">Listing</dt>
<dd>
<p>The listing contains basic settings that are independent of the platform, for example settings for stock dependence and listing contents. Here, you can also define the listing type. The listing types are <a href="#fixed-price">Fixed price</a>, <a href="#auction">Auction</a> or <a href="#shop-item">Shop item</a>.<br>
Each listing may be associated with multiple <a href="#market-listing">Market listings</a>.</p>
</dd>
</dl>
</div>
<div id="listing-fee" class="dlist">
<dl>
<dt class="hdlist1">Listing fee</dt>
<dd>
<p>Fee that needs to be paid to eBay when listing an offer on eBay.</p>
<div class="ulist">
<ul>
<li>
<p>Synonyms: Insertion fee</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="listing-template" class="dlist">
<dl>
<dt class="hdlist1">Listing template</dt>
<dd>
<p>Template for listings. You can create a template using either the group function in the <strong>Listings » Edit listings » Tab: Group function</strong> menu or REST. A listing template contains settings for <a href="#listing">Listings</a>, <a href="#market-listing">Market listings</a> and actions for listings, as well as specific options for eBay, Hood, and ricardo. You can use the same template for any number of listings.</p>
</dd>
</dl>
</div>
<div id="loyalty-program" class="dlist">
<dl>
<dt class="hdlist1">Loyalty program</dt>
<dd>
<p>Can be used with eBay Plus or Amazon. Is activated in the <a href="#shipping-profile">shipping profile</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_m">M</h2>
<div class="sectionbody">
<div id="main-client" class="dlist glossary">
<dl>
<dt>Main client</dt>
<dd>
<p>See <a href="#default-client">Default client</a>.</p>
</dd>
</dl>
</div>
<div id="main-variation" class="dlist">
<dl>
<dt class="hdlist1">Main variation</dt>
<dd>
<p>The first <a href="#variation">variation</a> of an item is called the main variation. If an item consists of more than one variation, the main variation can either be a sellable product or serve as a virtual data container only. A virtual main variation allows you to manage all child variations of the item using the <a href="#inheritance">inheritance</a> feature.</p>
</dd>
</dl>
</div>
<div id="mapping" class="dlist">
<dl>
<dt class="hdlist1">Mapping</dt>
<dd>
<p>Determines which column of a CSV file equates with which data field in plentymarkets during a data import.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/data/importing-data/ElasticSync#1500">Using the import tool</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="market-listing" class="dlist">
<dl>
<dt class="hdlist1">Market listing</dt>
<dd>
<p>Offer on the marketplaces eBay, Hood, and ricardo. A market listing is always associated with exactly one <a href="#listing">Listing</a>. Use the market listing for example for carrying out settings specific to a single marketplace.</p>
</dd>
</dl>
</div>
<div id="master-data" class="dlist">
<dl>
<dt class="hdlist1">Master data</dt>
<dd>
<p>Basic information of a user (for example contact information such as company name, address, telephone number, and so on).</p>
</dd>
</dl>
</div>
<div id="matching" class="dlist">
<dl>
<dt class="hdlist1">Matching</dt>
<dd>
<p>Specifies which data should be used to check whether a data record already exists when importing data.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en//data/importing-data/ElasticSync">Using the import tool</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="multi-order-picking" class="dlist">
<dl>
<dt class="hdlist1">Multi order picking</dt>
<dd>
<p>Method of combining items from multiple orders. Multiple orders are processed at the same time. All items are commissioned in a single dispenser and only associated with a specific order at the packing table.</p>
</dd>
</dl>
</div>
<div id="multipack" class="dlist">
<dl>
<dt class="hdlist1">Multipack</dt>
<dd>
<p>A way to <em>combine products and sell them as a single unit</em>. Multipacks are different quantities of the same <a href="#variation">variation</a>. Example: a single bottle of water, a six-pack of water and a pack containing 12 bottles.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/use-cases/combining-products">Multipacks, item bundles and sets</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="multipurpose-coupon" class="dlist">
<dl>
<dt class="hdlist1">Multipurpose coupon</dt>
<dd>
<p>One of the two varieties of the coupon type <strong>Coupon</strong>. When redeeming a multipurpose coupon, the coupon value is subtracted from the total amount including VAT.<br>
The other available coupon variety is the <a href="#promotional-coupon">promotional coupon</a>. The other available coupon type in plentymarkets is the <a href="#voucher">voucher</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/orders/coupons">Coupons</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_n">N</h2>
<div class="sectionbody">
<div id="net-stock" class="dlist glossary">
<dl>
<dt>Net stock</dt>
<dd>
<p>The quantity of a variation that is available for sale. When subtracting all reserved quantities from the physical stock, you will get the net stock.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/managing-stocks#100">Managing stock</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_o">O</h2>
<div class="sectionbody">
<div id="online-store" class="dlist glossary">
<dl>
<dt>Online store</dt>
<dd>
<p>Term for the plugin-based plentymarkets online store plentyShop LTS and its predecessor Callisto.</p>
</dd>
</dl>
</div>
<div id="order-characteristic" class="dlist">
<dl>
<dt class="hdlist1">Order characteristic</dt>
<dd>
<p>Order characteristics are a special type of <a href="#characteristic">characteristic</a>. Customers can choose them in the plentyShop and order them along with the product. You can make <a href="#item">entire items</a> customisable with order characteristics.</p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the page <a href="/en/item/use-cases/personalised-items">Personalised items</a>.<br></p>
</li>
<li>
<p>Differentiation: <a href="#order-property">Order property</a></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="order-item" class="dlist">
<dl>
<dt class="hdlist1">Order item</dt>
<dd>
<p>Order items indicate which items were ordered in which quantity and are thus assigned to an order. Order items can be viewed directly within an order in the back end. Furthermore, order items are also displayed on order documents such as order confirmations or invoices.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyms: Variation, Stock unit</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="order-note" class="dlist">
<dl>
<dt class="hdlist1">Order note</dt>
<dd>
<p>Is used for saving informational texts for an order.</p>
</dd>
</dl>
</div>
<div id="order-picking" class="dlist">
<dl>
<dt class="hdlist1">Order picking</dt>
<dd>
<p>Method of combining items from multiple orders. Single items of an order are picked, packed and shipped individually.</p>
</dd>
</dl>
</div>
<div id="order-property" class="dlist">
<dl>
<dt class="hdlist1">Order property</dt>
<dd>
<p>Order properties are a special type of <a href="#property">property</a>. Customers can choose them in the plentyShop and order them along with the product. Use order properties if you want to make <a href="#variation">specific variations</a> customisable.</p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the page <a href="/en/item/use-cases/personalised-items">Personalised items</a>.<br></p>
</li>
<li>
<p>Differentiation: <a href="#order-characteristic">Order characteristic</a></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="outbound" class="dlist">
<dl>
<dt class="hdlist1">Outbound</dt>
<dd>
<p>Describes the sales and distribution process that a fulfilment service provider takes over for you: They temporarily store the items, pack them and then send them to your customers.</p>
</dd>
</dl>
</div>
<div id="outgoing-items" class="dlist">
<dl>
<dt class="hdlist1">Outgoing items</dt>
<dd>
<p>Items are booked out of the system and stock is reduced.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/outgoing-items">Booking items out</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="own-value" class="dlist">
<dl>
<dt class="hdlist1">Own value</dt>
<dd>
<p>Allows to specify a fixed value that is imported or exported when exchanging data.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/data/exporting-data/managing-catalogues#80">Managing catalogues</a> and <a href="/en/data/importing-data/ElasticSync#1500">Using the import tool</a> pages.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_p">P</h2>
<div class="sectionbody">
<div id="package-number" class="dlist glossary">
<dl>
<dt>Package number</dt>
<dd>
<p>Specific package number which contains the package’s status.</p>
</dd>
</dl>
</div>
<div id="packing-list" class="dlist">
<dl>
<dt class="hdlist1">Packing list</dt>
<dd>
<p>Overview of orders with all included order items and the order ID as barcode. Can be generated as PDF if a document template was set up.</p>
</dd>
</dl>
</div>
<div id="pallet-type" class="dlist">
<dl>
<dt class="hdlist1">Pallet type</dt>
<dd>
<p>For securing a load (e.g. pallet, container, etc.). Pallet types are used to combine small packing units or bulky items into a single shipment. For example, individual items are secured onto a pallet using foil and straps.</p>
</dd>
</dl>
</div>
<div id="parts-compatibility-listing" class="dlist">
<dl>
<dt class="hdlist1">Parts compatibility listing</dt>
<dd>
<p>With parts compatibility listings, you link the items that you want to sell to the correct vehicles. This increases your sales prospects since <a href="#listing">listings</a> of parts compatibility listings have a higher ranking in the search results. Parts compatibility listings are used for vehicle parts and car accessories.</p>
</dd>
</dl>
</div>
<div id="percentage-early-payment-discount" class="dlist">
<dl>
<dt class="hdlist1">Percentage for early payment discount</dt>
<dd>
<p>Value in percent that the contact may subtract if they make the payment within the <a href="#day-early-payment-discount">days for early payment discount</a>.</p>
</dd>
</dl>
</div>
<div id="physical-stock" class="dlist">
<dl>
<dt class="hdlist1">Physical stock</dt>
<dd>
<p>Quantity of items that are physically available in a warehouse.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/managing-stocks#100">Managing stock</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="pick-list" class="dlist">
<dl>
<dt class="hdlist1">Pick list</dt>
<dd>
<p>List for warehouse technicians for picking items. The list is a structured compilation of items which must be picked from the warehouse for shipping packages. It optimises transport routes and helps to manage picking items more efficiently.</p>
</dd>
</dl>
</div>
<div id="pick-path" class="dlist">
<dl>
<dt class="hdlist1">Pick path</dt>
<dd>
<p>The path which is taken through the warehouse during the picking process.</p>
</dd>
</dl>
</div>
<div id="pim" class="dlist">
<dl>
<dt class="hdlist1">PIM</dt>
<dd>
<p>The abbreviation PIM stands for Product Information Management. The plentymarkets PIM module lets you manage all of your item information in one central system. This makes it easy to keep track of items, even when selling them on several different sales platforms.</p>
<div class="ulist">
<ul>
<li>
<p>For further information about the PIM module, refer to the chapter <a href="/en/item">Items (PIM)</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="plentybase" class="dlist">
<dl>
<dt class="hdlist1">plentyBase</dt>
<dd>
<p>A tool which must be installed in order to be able to use <a href="#process">processes</a> and printers. The tool can be downloaded at <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</dd>
</dl>
</div>
<div id="plentypos" class="dlist">
<dl>
<dt class="hdlist1">plentyPOS</dt>
<dd>
<p>Point of sale system for use on mobile devices (such as tablets) in brick and mortar stores. The <a href="/en/app">plentymarkets app</a> has to be downloaded and installed to use plentyPOS.</p>
</dd>
</dl>
</div>
<div id="plugin" class="dlist">
<dl>
<dt class="hdlist1">Plugin</dt>
<dd>
<p>An add-on for the plentymarkets system. Can be purchased at <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a> or via Git and the tools plentyDrive and plentyDevTool and can be integrated into the system.</p>
</dd>
</dl>
</div>
<div id="plugin-set" class="dlist">
<dl>
<dt class="hdlist1">Plugin set</dt>
<dd>
<p>A compilation of plugins. Can be linked with clients and <a href="#backend-plugin-set">backend user accounts</a>.</p>
</dd>
</dl>
</div>
<div id="pre-certified-online-store" class="dlist">
<dl>
<dt class="hdlist1">Pre-certified online store</dt>
<dd>
<p>The standard plentyShop LTS online store is pre-certified by Trusted Shops. Thus, it is considerably faster and easier for users of the plentyShop LTS online store to have it certified by Trusted Shops.</p>
</dd>
</dl>
</div>
<div id="price" class="dlist">
<dl>
<dt class="hdlist1">Price</dt>
<dd>
<p>In plentymarkets, a distinction is made between <em>sales prices</em> and <em>prices</em>. In contrast to this abstract concept of a sales price, the price is the actual monetary amount at which a variation is sold if the conditions defined by the <a href="#sales-price">sales price</a> are met. This price is applied, i.e. the customer can buy the variation at that price, if the conditions defined for the sales price are met.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/prices">Sales prices and price calculation</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="price-calculation" class="dlist">
<dl>
<dt class="hdlist1">Price calculation</dt>
<dd>
<p>Price calculations allow you to calculate and update the <a href="#price">prices</a> of variations automatically based on specific criteria. Users can add several costs saved for a variation to a sales price, e.g. transportation costs, storage costs, customs, VAT. Furthermore, users can add individual amounts to the price or subtract them from the price, e.g. plus 5% or multiplied by 1,05.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/prices">Sales prices and price calculation</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="process" class="dlist">
<dl>
<dt class="hdlist1">Process</dt>
<dd>
<p>Functionality within the plentymarkets backend which serves to automate workflows and consists of different steps. It is required to install <a href="#plentybase">plentyBase</a> in order to use the processes.</p>
</dd>
</dl>
</div>
<div id="promotional-coupon" class="dlist">
<dl>
<dt class="hdlist1">Promotional coupon</dt>
<dd>
<p>One of the two varieties of the coupon type <strong>Coupon</strong>. Grants a discount. When using a promotional coupon, the coupon value is subtracted first and the remaining amount is then taxed.<br>
The other available coupon variety is the <a href="#multipurpose-coupon">multipurpose coupon</a>. The other available coupon type in plentymarkets is the <a href="#voucher">voucher</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/orders/coupons">Coupons</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="property" class="dlist">
<dl>
<dt class="hdlist1">Property</dt>
<dd>
<p>Additional data fields that are <em>not included in plentymarkets by default</em>.
Sellers can create properties to further characterise their products, contacts and storage locations beyond the scope of the default data fields.
For example, the information that a t-shirt has a fair-trade symbol, that a storage location is suitable for items needing refrigeration, or that a contact wants to receive the new product catalogue.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/properties">Properties and characteristics</a> page.<br></p>
</li>
<li>
<p>Differentiation: <a href="#characteristic">Characteristics</a>, <a href="#attribute">Attributes</a></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div class="dlist #purchase order">
<dl>
<dt>Purchase order</dt>
<dd>
<p>See <a href="#reorder">Reorder</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_r">R</h2>
<div class="sectionbody">
<div id="raw-data" class="dlist glossary">
<dl>
<dt>Raw data</dt>
<dd>
<p>Raw data are collected automatically for every plentymarkets system and saved on a secure cloud storage. Raw data contain unedited information, e.g. on orders or stock movements. The settings carried out in the <strong>Setup » plentyBI » Raw data</strong> determine which types of raw data are saved.  Raw data are available in CSV format and can be evaluated by end users with the help of external tools. In addition, raw data are the basis for the <a href="#key-figure">key figures</a> that can be visualised and analysed in the <a href="/en/business-decisions/plenty-bi">plentyBI</a> module.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/business-decisions/plenty-bi/reports/manage-reports">Managing reports</a> page of the manual.<br></p>
</li>
<li>
<p>Synonyms: Reports, primary data</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="redemption" class="dlist">
<dl>
<dt class="hdlist1">Redemption</dt>
<dd>
<p>The redemption of a <a href="#voucher">voucher</a> happens during the order process. The corresponding discount value is directly displayed.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/orders/coupons">Coupons</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="reorder" class="dlist">
<dl>
<dt class="hdlist1">Reorder</dt>
<dd>
<p>A reorder is the process of ordering stock from a supplier. In the back end, this process is carried out via reorders. There are multiple ways to create reorders, for instance through editing an order. You can create reorders for each individual warehouse or supplier.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/managing-reorders/working-with-reorders">Working with reorders</a> page.</p>
</li>
<li>
<p>Synonyms: Purchase order</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="reorder-level" class="dlist">
<dl>
<dt class="hdlist1">Reorder level</dt>
<dd>
<p>The quantity at which a reorder should be placed. With reorder levels, you will be automatically notified whenever you need to reorder individual items. You can choose between static and dynamic reorder levels.</p>
</dd>
</dl>
</div>
<div id="return-label" class="dlist">
<dl>
<dt class="hdlist1">Return label</dt>
<dd>
<p>Included in a package. When returning a package, for example because of warranty or repairs, customers only have to package the item and affix the label.</p>
</dd>
</dl>
</div>
<div id="return-slip" class="dlist">
<dl>
<dt class="hdlist1">Return slip</dt>
<dd>
<p>Used by customers to label items for return. Can either be included in the package or printed by the customer once the corresponding document template is saved in the system.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_s">S</h2>
<div class="sectionbody">
<div id="sales-price" class="dlist glossary">
<dl>
<dt>Sales price</dt>
<dd>
<p>In plentymarkets, a distinction is made between <em>sales prices</em> and <em>prices</em>. Sales prices are data containers. They allow for the central management of all conditions regarding prices. Thus, sales prices define in which situations variations are sold for a specific <a href="#price">price</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/settings/prices">Sales prices and price calculation</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="sales-representative" class="dlist">
<dl>
<dt class="hdlist1">Sales representative</dt>
<dd>
<p>A freelance commercial agent who negotiates deals or procures business for a company.</p>
</dd>
</dl>
</div>
<div id="serial-number" class="dlist">
<dl>
<dt class="hdlist1">Serial number</dt>
<dd>
<p>Serial numbers are alphanumeric strings that provide a unique identifier for an item. Serial numbers make it possible to trace sold items in case errors or problems occur, and make it easier to find stolen or forged products. Examples for serial numbers include cards, electronics and household appliances.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/use-cases/serial-numbers">Serial numbers</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="set" class="dlist">
<dl>
<dt class="hdlist1">Set</dt>
<dd>
<p>A way to <em>combine products and sell them as a single unit</em>.
Sets consist of multiple <a href="#item">items</a>.
While placing an order, the end customer choose the appropriate <a href="#variation">variation</a> for each item.
Example: a football uniform composed of a jersey, shorts and socks.
End customers can put their own uniforms together by selecting the appropriate size and colour for each of the three components.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/use-cases/combining-products">Multipacks, item bundles and sets</a> page.</p>
</li>
<li>
<p>Synonyms: item set</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div class="dlist #shipping order">
<dl>
<dt>Shipping order</dt>
<dd>
<p>The order which is registered with a shipping provider.</p>
</dd>
</dl>
</div>
<div id="shipping-profile" class="dlist">
<dl>
<dt class="hdlist1">Shipping profile</dt>
<dd>
<p>Contains shipping combinations which customers can either select in the checkout or which are already assigned automatically to specific order types. For example, payment methods or customer classes can be deleted or extra charges for islands saved in the shipping profile. Those extra charges apply whenever a delivery to an island, e.g. Helgoland, is made. This means that additionally to the shipping costs a surcharge is due.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/fulfilment/preparing-the-shipment#1000">Preparing the shipment</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="shop-item" class="dlist">
<dl>
<dt class="hdlist1">Shop item</dt>
<dd>
<p>Listing type for the Hood marketplace. The item is offered in the Hood store.</p>
</dd>
</dl>
</div>
<div id="single-order-picking" class="dlist">
<dl>
<dt class="hdlist1">Single order picking</dt>
<dd>
<p>Method of combining items from multiple orders. Each order is handled and processed separately.</p>
</dd>
</dl>
</div>
<div id="stable" class="dlist">
<dl>
<dt class="hdlist1">stable</dt>
<dd>
<p>A development state of plentymarkets. Functionality is published on this version if no problems were detected on <a href="#early">early</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/business-decisions/system-administration/version-cycle">Changing state of development</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="standard-client" class="dlist">
<dl>
<dt class="hdlist1">Standard client</dt>
<dd>
<p>See <a href="#default-client">Default client</a>.</p>
</dd>
</dl>
</div>
<div id="standard-storage-location" class="dlist">
<dl>
<dt class="hdlist1">Standard storage location</dt>
<dd>
<p>The standard storage location is only a placeholder location and is used if no specific storage location has been assigned yet.</p>
</dd>
</dl>
</div>
<div id="stock" class="dlist">
<dl>
<dt class="hdlist1">Stock</dt>
<dd>
<p>Quantity of goods currently available in the warehouse.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/managing-stocks">Managing stock</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="stock-buffer" class="dlist">
<dl>
<dt class="hdlist1">Stock buffer</dt>
<dd>
<p>Ensures that the available stock on a marketplace is reduced by the entered value so the item isn’t fully sold via the marketplace.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/stock-management/new-incoming-items#200">Managing incoming items</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="stocktaking" class="dlist">
<dl>
<dt class="hdlist1">Stocktaking</dt>
<dd>
<p>Process of taking stock; can be done via data exchange or via the plentymarkets app.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/stock-management/taking-stock">Taking stock</a> page&gt;&gt;.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="stock-turnover-days" class="dlist">
<dl>
<dt class="hdlist1">Stock turnover (in days)</dt>
<dd>
<p>The period in days that the stock of a specific variation will suffice until the next reorder.</p>
</dd>
</dl>
</div>
<div id="storage-location" class="dlist">
<dl>
<dt class="hdlist1">Storage location</dt>
<dd>
<p>Specific spot where an item is located (e.g. Storage building 1, rack 4, shelf 2, storage location 6).</p>
</dd>
</dl>
</div>
<div id="store-special" class="dlist">
<dl>
<dt class="hdlist1">Store special</dt>
<dd>
<p>A way of highlighting specific items in the online store. Used, for example, to mark individual items as best sellers, special offers or new items.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/item/online-store/store-specials">Store specials</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_t">T</h2>
<div class="sectionbody">
<div id="table-of-shipping-charges" class="dlist glossary">
<dl>
<dt>Table of shipping charges</dt>
<dd>
<p>Contains the shipping costs of the <a href="#shipping-profile">shipping profile</a>. Shipping costs must be saved for each region contained in the shipping profile. This includes each country of delivery which was activated and possibly summarised as one region along with other countries of delivery.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/fulfillment/preparing-the-shipment#1500">Preparing the shipment</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="tag" class="dlist">
<dl>
<dt class="hdlist1">Tag</dt>
<dd>
<p>Tags make it possible to emphasise certain data records. Tags can be used for variations, contact data records, orders, tickets, and many more.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/welcome/general-functions/tags">Tags</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="tse" class="dlist">
<dl>
<dt class="hdlist1">Technical security unit (German: TSE)</dt>
<dd>
<p>An extension for point of sale systems to ensure compliance with the legal requirements of the <a href="/en/pos/pos-legal-compliance#400">German Kassensicherungsverordnung</a> and the <a href="/en/pos/pos-legal-compliance#1000">Austrian Registrierkassensicherungsverordnung</a> regarding tamper-proof recording of transactions at the point of sale. In case of plentyPOS, the TSE is usually a built-in module included in the <a href="/en/welcome/quick-start/quick-start-system-requirements#500">recommended Epson receipt printers</a>.</p>
</dd>
</dl>
</div>
<div id="template-function" class="dlist">
<dl>
<dt class="hdlist1">Template function</dt>
<dd>
<p>Pre-defined function for email templates. When the email is sent, the function is automatically replaced with the actual URL, e.g. the URL that leads to the basket (<code>&#123;&#37;Link_Basket()&#37;&#125;</code>) or to the terms and conditions of the online store <code>&#123;&#37;Link_TermsConditions()&#37;&#125;</code>).<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/crm/sending-emails#4100">Sending emails</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="template-variable" class="dlist">
<dl>
<dt class="hdlist1">Template variable</dt>
<dd>
<p>Pre-defined variable for email templates. When the email is sent, the variable is automatically replaced with the actual content when the corresponding requirements are met. For example, the variable <code>$OrderID</code> returns the ID of the order and the variable <code>$CustomerFullName</code> returns the first name and the last name of the contact.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyms: <br></p>
</li>
<li>
<p>For further information, refer to the <a href="/en/crm/sending-emails#4200">Sending emails</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="till-count" class="dlist">
<dl>
<dt class="hdlist1">Till count</dt>
<dd>
<p>A till count documents the current cash on hand of a till. The cash on hand is counted physically and the result is entered into the plentymarkets app. <a href="/en/pos/plentymarkets-pos-for-pos-users#450b">Till count reports</a> can be printed and are saved in the document archive.</p>
</dd>
</dl>
</div>
<div id="traits" class="dlist">
<dl>
<dt class="hdlist1">Traits</dt>
<dd>
<p>See <a href="#attribute">Attribute</a>, <a href="#characteristic">Characteristic</a> <a href="#property">Property</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_u">U</h2>
<div class="sectionbody">
<div id="unit-price" class="dlist glossary">
<dl>
<dt>Unit price</dt>
<dd>
<p>The price of an item per pound, litre or other unit. For example, this price is indicated for products offered in supermarket shelves. The unit price is calculated based on the <a href="/en/item/settings/unit">unit</a>, content and price of the item. Unit prices can be displayed in the online store, on markets such as eBay or Netto, and on item labels.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_v">V</h2>
<div class="sectionbody">
<div id="variation" class="dlist glossary">
<dl>
<dt>Variation</dt>
<dd>
<p>A sellable version of a product. For example, if you sell a shirt in small, medium and large, then each size is a variation of this shirt. All sizes together form the <a href="#item">item</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>For further information, refer to the <a href="/en/artikel/introduction/structure">Items vs. Variations</a> page.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="vat-number" class="dlist">
<dl>
<dt class="hdlist1">VAT number</dt>
<dd>
<p>Value added tax number. Unique identifier of a person or company subject to turnover tax within the European Union for turnover tax purposes.</p>
</dd>
</dl>
</div>
<div id="voucher" class="dlist">
<dl>
<dt class="hdlist1">Voucher</dt>
<dd>
<p>One of two coupon types available in plentymarkets. They are redeemed through third parties, e.g. hotel business.<br>
The other available coupon type is the <a href="#coupon">coupon</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_w">W</h2>
<div class="sectionbody">
<div id="warehouse" class="dlist glossary">
<dl>
<dt>Warehouse</dt>
<dd>
<p>A space for storing goods. For example, a warehouse can be a storehouse equipped with racks. These racks are divided into shelves and the shelves are divided into specific storage locations.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_x">X</h2>
<div class="sectionbody">
<div id="x-report" class="dlist glossary">
<dl>
<dt>X report</dt>
<dd>
<p>Contains various information about the turnover generated by a POS system since the last z report. <a href="/en/pos/plentymarkets-pos-for-pos-users#210">Reports</a> are not deposited as documents in the plentymarkets back end and do not count as tax records.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_z">Z</h2>
<div class="sectionbody">
<div id="z-report" class="dlist glossary">
<dl>
<dt>Z report</dt>
<dd>
<p>Documents the POS revenue accrued since the last z report. Depending on local law, the saving of <a href="/en/pos/plentymarkets-pos-for-pos-users#230">z reports</a> may be required for fiscal purposes.</p>
<div class="ulist">
<ul>
<li>
<p>Synonym: End of day report</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div>
</main>