<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Inheritance</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data that is saved in your item’s main variation can easily and quickly be passed on to the other corresponding variations.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/items/inheritance-text-fields#video">Text fields (1:38)</a></p>
<p class="tableblock"><a href="/en/videos/items/inheritance-drop-downs#video">Drop-down menus (2:31)</a></p>
<p class="tableblock"><a href="/en/videos/items/inheritance-checkboxes#video">Checkboxes (3:09)</a></p>
<p class="tableblock"><a href="/en/videos/items/inheritance-1-n#video">Text fields with 1:n links (4:03)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/169064358#at=189" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. In this video tutorial, I’ll show you the inheritance function and teach you how to use it to manage your item data. When you’re done watching this video, you’ll understand how item data can easily be transferred from one variation to another.
So what is inheritance exactly? Well, let’s back up for just a second and talk about variations first.</p>
</div>
<div class="paragraph">
<p>Imagine that you sell a T-Shirt, that comes in gray, red, blue or green. In plentymarkets, each one of these T-Shirts is called a variation.
Of course, you will want to save information about your T-Shirts, such as which category the shirt is displayed in, who supplies the T-Shirt to you, and how much the T-Shirt costs.
Now you could continue entering information manually for each additional variation. But doing so would be rather time consuming. This is where the inheritance function comes into play. With the inheritance function, you simply enter information for your main variation - so here, for your gray T-Shirt - and then you transfer this information to all of your other variations.</p>
</div>
<div class="paragraph">
<p>And of course, you can still modify any individual settings as needed. So here in this example, you could save a different price for the blue T-Shirt or you could sort the green T-Shirt into a different category.
In short, the inheritance function is a useful tool, which helps sellers manage their item data quickly and easily. Item data is managed centrally for the main variation and then modified for any other variations as needed.</p>
</div>
<div class="paragraph">
<p>I’ve already opened my plentymarkets system to the menu "Item » Edit item", I’ve opened item 106 and I’ve opened these two different variations.
I can tell that this one is the main variation because this information is written right here and also because I can’t close the tab like I can for this other variation here.</p>
</div>
<div class="paragraph">
<p>OK, so let’s take a look at this "Basic settings" area.
I simply enter item data for my main variation and then this data is transferred to my other variations as well.
And here I can tell which information was inherited because it is displayed in gray font. Alternatively, I can also move my mouse over a field to see information telling me that the value was inherited from the main variation.</p>
</div>
<div class="paragraph">
<p>And if I want to save different information for the variation, then I can simply write my own text into this field. This new text is not grayed out, which indicates that it is not being inherited from the main variation.
And if you accidentally modified the wrong field, or if you want the value to be inherited again, then just delete the information and you’ll see the gray text appears again.</p>
</div>
<div class="paragraph">
<p>OK, so that’s how inheritance works for text fields like the model, or here on the right, for the various costs.
Now let’s look at how inheritance works for drop-down menus like the VAT here on the right, or the stock limitation here on the left. Drop-down menus are also pretty straight forward. Again, I see the value is grayed out, which indicates that it is inherited from the main variation.
And when I open the drop-down menu, I see this first option is the same as what was selected for my main variation.
I can change the value by simply selecting a different option from the drop-down. Just as before, the value is no longer grayed out, so I know that this value is no longer inherited.</p>
</div>
<div class="paragraph">
<p>Now let’s move up a bit and take a look at these check boxes here.
In this example, you’ll notice two columns and you’ll see that the left column is crossed out with a red line. This means that the check box is inherited from the main variation.
And the right column simply indicates whether the box was checked or not in the main variation. So here I can see the top two boxes are blank and the lower two boxes are checked.
Let’s look at the main variation. Yep, it’s the same thing. The top two are blank and the lower two are checked.
So this right column here just shows me what was happening in the main variation.
And this left column with a red line tells me that the value is inherited.
And of course, I can click on a check box if I don’t want the value to be inherited. The red line disappears, which indicates that the value is no longer inherited.
So now I can either leave the box blank, or I can place a check mark.
And if I click again, then the value will be inherited again.</p>
</div>
<div class="paragraph">
<p>OK, so that’s how check boxes are inherited. And now there’s just one last way that information is inherited. This is for information like sales prices, which include a button up here in the header area.
Or for information like categories and the availability for different markets.</p>
</div>
<div class="paragraph">
<p>OK, so let’s look at the sales prices. Here in my main variation, I see that I can enter a sales price and here in my second variation, I see the same sales price - but it’s grayed out. This is because I’ve activated the inheritance function. So I’ve told plentymarkets that it should automatically transfer the price from the main variation to any other variations.
If I want to save a different sales price for this variation, then I can deactivate the inheritance function up here and I can enter a different price into the price field.</p>
</div>
</div>
</div>
</main>