<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Introducing the item structure</span></a></li>
<li><a href="#200"><span>2.</span><span> Preparatory settings</span></a></li>
<li><a href="#300"><span>3.</span><span> Import, export and manual processing</span></a></li>
<li><a href="#500"><span>4.</span><span> Use cases</span></a></li>
<li><a href="#400"><span>5.</span><span> Appearance in the plentyShop</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Items (PIM)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>PIM stands for <span class="underline">P</span>roduct <span class="underline">I</span>nformation <span class="underline">M</span>anagement.
The plentymarkets PIM lets you manage all of your item information in one central system.
In other words, you enter your product information into plentymarkets.
Then you can sell your items on various <a href="/en/markets">markets</a>, in your own <a href="/en/online-store">plentyShop</a> and in your <a href="/en/pos">brick and mortar store</a>.</p>
</div>
<div class="paragraph">
<p>If you need to make any changes in the future, e.g. edit an item’s price or description, then you’ll only have to modify this data centrally in plentymarkets.
The data can automatically be changed on all of your sales channels.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Introducing the item structure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Are you new to plentymarkets?
Before you start entering data, learn how items are structured!
The introduction teaches you about the topic and answers your basic questions:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>What’s the difference between <a href="/en/item/introduction/structure">items and variations</a>?</p>
</li>
<li>
<p>How does <a href="/en/item/introduction/inheritance">inheritance</a> work?</p>
</li>
<li>
<p>Where do I find my <a href="/en/item/introduction/search#100">items in the back end</a>?</p>
</li>
<li>
<p>Can I also see a few <a href="/en/item/introduction/search#900">example items</a>?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Preparatory settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items are made up of lots of information, e.g. categories, prices and manufacturers.
But before you can sort an item into a specific category, the category first needs to exist in plentymarkets.
Before you can select an item’s manufacturer, the manufacturer data needs to exist in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once you’ve saved such <a href="/en/item/settings">preparatory settings</a> in plentymarkets, you’ll be able to apply them to all of the relevant items and variations.</p>
</div>
<div class="paragraph">
<p>Some of the most important system settings are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/categories">Categories</a>, which group your products.</p>
</li>
<li>
<p><a href="/en/item/settings/attributes">Attributes</a>, which simultaneously characterise your products and build variations.</p>
</li>
<li>
<p><a href="/en/item/settings/properties">Properties</a>, which characterise your products without building variations.</p>
</li>
<li>
<p><a href="/en/item/settings/prices">Sales prices</a>, which define the conditions under which a variation is sold at a specific price.</p>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#1000">Shipping profiles</a>, which define your shipping services and shipping costs.</p>
</li>
<li>
<p><a href="/en/item/settings/manufacturers">Manufacturers</a>, which list the names, contact information, IDs and commissions saved for your manufacturers.</p>
</li>
<li>
<p><a href="/en/item/settings/units">Units</a>, which define the content of your variations.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Import, export and manual processing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ready to start entering item data into plentymarkets?
Or do you want to send product information back and forth between your own plentymarkets system and other external systems?
There are many options for importing, exporting and manually editing item data records.</p>
</div>
<h4 id="_import" class="discrete">Import</h4>
<table class="tableblock frame-none grid-cols stripes-none stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Import tool</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/importing-data/ElasticSync">General info about the import tool</a></p>
</li>
<li>
<p><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-creating-variations">Practical example: Importing items and variations</a></p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item">Directory of all data fields for importing items</a></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Other imports</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/welcome/assistants">Importing items with the "Item import" assistant</a>.</p>
</li>
<li>
<p><a href="/en/markets/ebay/ebay-setup#11000">Importing items from existing eBay listings</a>.</p>
</li>
<li>
<p><a href="/en/data/rest-api">Importing items from other systems with the REST-API</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_export" class="discrete">Export</h4>
<table class="tableblock frame-none grid-cols stripes-none stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Catalogue tool</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/exporting-data/catalogues">General info about the catalogue tool</a></p>
</li>
<li>
<p><a href="/en/data/exporting-data/catalogues-item">Directory of all data fields for exporting items (catalogue)</a></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>FormatDesigner + Elastischer Export</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/exporting-data/elastic-export">General info about the Elastic Export</a></p>
</li>
<li>
<p><a href="/en/data/exporting-data/FormatDesigner/format-types/item">Directory of all data fields for exporting items (FormatDesigner)</a></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_manual_processing" class="discrete">Manual processing</h4>
<table class="tableblock frame-none grid-cols stripes-none stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>New item UI (open beta)</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/new-ui/search">Searching for items</a></p>
</li>
<li>
<p><a href="/en/item/new-ui/detail-view">Detail view: Design</a>.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Old item UI</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/import-export-create/create/new-item">Manually creating new items</a></p>
</li>
<li>
<p><a href="/en/item/managing-items">Directory of all item data fields</a></p>
</li>
<li>
<p><a href="/en/item/import-export-create/create/mass-processing">Editing multiple items at once</a></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">4. Use cases</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Do you have a particular scenario in mind?
In this chapter, you’ll learn how to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/use-cases/combining-products">Combine products</a> and sell them as a unit</p>
</li>
<li>
<p>Sell <a href="/en/item/use-cases/personalised-items">personalised items</a> in your plentyShop</p>
</li>
<li>
<p><a href="/en/item/use-cases/give-aways">Add give-aways or promotional gifts</a> to an order</p>
</li>
<li>
<p>Work with items that have <a href="/en/item/use-cases/serial-numbers">serial numbers or license keys</a></p>
</li>
<li>
<p><a href="/en/item/use-cases/changes">Track changes to items</a>, i.e. track the entire life cycle of an item</p>
</li>
<li>
<p>Modify the <a href="/en/item/use-cases/search-behaviour">default item search behaviour</a> in the plentymarkets backend</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Appearance in the plentyShop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve saved your items in plentymarkets, you’re ready to start selling them.
plentymarkets comes with a free <a href="/en/online-store">online store</a>, which you can use to sell your products.</p>
</div>
<div class="paragraph">
<p>Turn to this chapter for help if your items or categories aren’t displayed in the plentyShop.
This chapter also shows you how to set up additional functions for displaying your items exactly how you want:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/online-store/checklist-categories-visibility">Category isn’t visible in plentyShop</a></p>
</li>
<li>
<p><a href="/en/item/online-store/checklist-items-visibility">Item isn’t visible in plentyShop</a></p>
</li>
<li>
<p><a href="/en/item/online-store/search-bar">Search bar</a></p>
</li>
<li>
<p><a href="/en/item/frontend-item-search">Search filters</a></p>
</li>
<li>
<p><a href="/en/item/online-store/cross-selling">Cross-selling</a></p>
</li>
<li>
<p><a href="/en/item/online-store/store-specials">Store specials</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>