<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Items</h1><div class="paragraph">
<p>In plentymarkets, an item is the complete data record of a main variation and associated variations. In other words, an item is composed of global data that applies to all of the item variations (item data) as well as data that is managed separately for each variation (variation data). The difference can be visualised as follows:</p>
</div><div class="paragraph">
<p>Item data:</p>
</div><div class="ulist">
<ul>
<li>
<p>Global settings (condition, manufacturer, age rating, etc.)</p>
</li>
<li>
<p>Texts</p>
</li>
<li>
<p>Properties</p>
</li>
<li>
<p>Cross-selling settings</p>
</li>
</ul>
</div><div class="paragraph">
<p>Variation data:</p>
</div><div class="ulist">
<ul>
<li>
<p>Images</p>
</li>
<li>
<p>Market visibility</p>
</li>
<li>
<p>Sales prices</p>
</li>
<li>
<p>Barcodes</p>
</li>
<li>
<p>Units</p>
</li>
<li>
<p>Warehouse</p>
</li>
<li>
<p>Stock</p>
</li>
<li>
<p>Categories</p>
</li>
<li>
<p>Suppliers</p>
</li>
</ul>
</div><div class="paragraph">
<p>Every item has a main variation that cannot be deleted. This main variation is not the same thing as the item. Rather, it differs from the other variations of the item in that characteristics of this main variation can be passed on to other variations of the item. The main variation can either be sold to customers or it can be a virtual variation, which is only used to manage other variations of the item.</p>
</div><div class="paragraph">
<p>In this topic, you find all information about creating and editing items and variations. In addition, this topic explains how to manage product information, e.g. item attributes and properties, manufacturers as well as barcodes. Pricing is also described here. Finally, learn how to create item bundles for items and variations and how to advertise your products, e.g. with cross-selling.</p>
</div><div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Updating information and pricing</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#390">Managing attributes</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#480">Managing properties</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#560">Managing manufacturers</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#630">Managing barcodes</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#670">Managing item images</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#870">Managing sales prices</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#910">Creating price calculations</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#690">Managing units</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#760">Setting up labels</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Items, variations and bundles</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#10">Creating categories</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#20">Creating items</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#50">Entering item texts</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#90">Uploading item images</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#160">Creating variations</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#180">Setting the availability</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#250">Linking barcodes</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#920">Setting up item bundles</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#350">Searching for items and variations</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Presenting items in the online store</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#950">Setting up cross-selling</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#1010">Setting up store specials</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Warehouses, suppliers and stock</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#312">Adding warehouses</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#310">Adding suppliers</a></p>
</li>
<li>
<p><a href="/en/item/managing-items#314">Managing stock</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><hr>
</main>