<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Items</h1><div class="paragraph">
<p>In this topic, you find all information about creating and editing items and variations. In addition, this topic explains how to manage product information, e.g. item attributes and properties, manufacturers as well as barcodes. Pricing is also described here. Finally, learn how to create item bundles for items and variations and how to advertise your products, e.g. with cross-selling.</p>
</div><div class="paragraph">
<p>Learn more about the plentymarkets item architecture in the following video tutorial:</p>
</div><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/168340717" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Updating information and pricing</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#390"><strong>Managing attributes</strong></a></p>
</li>
<li>
<p><a href="/en/item/managing-items#480"><strong>Managing properties</strong></a></p>
</li>
<li>
<p><a href="/en/item/managing-items#560"><strong>Managing manufacturers</strong></a></p>
</li>
<li>
<p><a href="/en/item/managing-items#630"><strong>Managing barcodes</strong></a></p>
</li>
<li>
<p><a href="/en/item/managing-items#670"><strong>Managing item images</strong></a></p>
</li>
<li>
<p><a href="/en/item/managing-items#870"><strong>Managing sales prices</strong></a></p>
</li>
<li>
<p><a href="/en/item/managing-items#910"><strong>Creating price calculations</strong></a></p>
</li>
<li>
<p><a href="/en/item/managing-items#690"><strong>Managing units</strong></a></p>
</li>
<li>
<p><a href="/en/item/managing-items#760"><strong>Setting up labels</strong></a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Items, variations and bundles</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/en/item/managing-items#10">Creating categories</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#20">Creating items</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#50">Entering item texts</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#90">Uploading item images</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#160">Creating variations</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#180">Setting the availability</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#250">Linking barcodes</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#920">Setting up item bundles</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#350">Searching for items and variations</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Presenting items in the online store</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/en/item/managing-items#950">Setting up cross-selling</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#1010">Setting up store specials</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Warehouses, suppliers and stock</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/en/item/managing-items#312">Adding warehouses</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#310">Adding suppliers</a></strong></p>
</li>
<li>
<p><strong><a href="/en/item/managing-items#314">Managing stock</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><hr>
</main>