<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_activating_bbdbatch"><span>1.</span><span> Activating BBD/batch</span></a></li>
<li><a href="#_incoming_items"><span>2.</span><span> Incoming items</span></a></li>
<li><a href="#_redistributing"><span>3.</span><span> Redistributing</span></a></li>
<li><a href="#_checking_best_before_dates"><span>4.</span><span> Checking best before dates</span></a></li>
<li><a href="#_returns"><span>5.</span><span> Returns</span></a></li>
<li><a href="#_pick_lists_packing_lists_and_warehouse_pick_lists"><span>6.</span><span> Pick lists, packing lists and warehouse pick lists</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing BBD/batch</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets you can manage variations with a best before date (BBD) and/or batches. However, these functions are currently only available in the plentymarkets back end.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Using BBD/batches with plentyPOS</div>
<div class="paragraph">
<p>When working with <a href="/en/pos">plentyPOS</a> you should not yet use these functions to manage BBD/batches, as these may currently cause errors. The functions will be available soon.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_bbdbatch">1. Activating BBD/batch</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use BBD and/or batches for variations, activate the options <strong>BBD</strong> and/or <strong>Batch</strong> on the variation of a warehouse. As soon as the warehouse contains stock, it is not possible anymore to activate or deactivate the option on the variation’s warehouse. You can only carry out changes if the stock in this warehouse equals zero. For further information see the chapter <a href="/en/stock-management/new-incoming-items#200">Linking a variation to a storage location</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_incoming_items">2. Incoming items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Depending on the selected settings, you can book in variations with BBD, variations with batches or variations with BBD and batches. Per warehouse and variation, it is recommended to only book the same BBD and batches on a storage location. This setting is preset by default. If you book different BBD/batches on the same storage location, errors may occur in the picking process, since pickers have to search for a specific BBD and/or a specific batch. For further information see the chapter <a href="/en/stock-management/new-incoming-items#810">Incoming items with a best before date and/or batch information</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_redistributing">3. Redistributing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With BBD/batch you can redistribute items into other warehouses. However, when redistributing variations with BBD/batch, restrictions may occur. For further information on redistributions, see the chapter <a href="/en/stock-management/managing-stock#500">Redistributing stock with best before dates/batches</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_checking_best_before_dates">4. Checking best before dates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Under <strong>Stock » Storage location management</strong> you can check the status of variations with a best before date. The column <strong>Days durable</strong> shows for how many days a variation is still durable.</p>
</div>
<div class="paragraph instruction">
<p>Checking best before dates:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Storage location management</strong>.</p>
</li>
<li>
<p>Select dates for the filters <strong>BBD from:</strong> and <strong>to:</strong>.<br>
→ All storage locations with variations in the selected BBD are shown.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Status minimum durability</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Days durable</th>
<th class="tableblock halign-left valign-top">Status</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&lt; 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item expired</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt;1 &amp; &lt;30</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item expires soon</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>&gt; 30</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item okay</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_returns">5. Returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When booking in a variation again with BBD/batch, the process of booking in different batches and BBD on the same storage location is not blocked automatically. However, it is recommended that only the same BBD/batches are booked on a storage location for each variation and warehouse. In case of a chaotic stock keeping of BBD and batch items, errors may occur during order picking. For further information on returns see the chapter <a href="/en/stock-management/outgoing-items#_returns">Returns</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_pick_lists_packing_lists_and_warehouse_pick_lists">6. Pick lists, packing lists and warehouse pick lists</h2>
<div class="sectionbody">
<div class="paragraph">
<p>BBD/batch information can also be displayed on pick lists, packing lists and warehouse pick lists. For further information see the following manual pages:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/orders/order-documents/pick-list">Pick list</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/warehouse-pick-list">Warehouse pick list</a></p>
</li>
<li>
<p><a href="/en/orders/order-documents/packing-list">Packing list</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>