<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mandatory settings and important item data</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">To save an item in plentymarkets, certain mandatory settings need to be entered in your system. But you will also need a few other important settings to make your item available for purchase online.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/items/mandatory-settings-mandatory#video">Mandatory settings (0:19)</a></p>
<p class="tableblock"><a href="/en/videos/items/mandatory-settings-important#video">Important settings (1:36)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/263298729" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>In our last tutorial you learned how items are structured in your system. Now that you know the ins and outs of items, variations and the inheritance function, it’s time to get it all out there!
Whether you create your items manually or use the easy-breezy import function, the question is what data is decisive to your item faring well in the wild world of online retail.
Let’s talk about what data is mandatory for an item to be saved in your system and how to get your item nice n' shiny so that people will want to buy it.</p>
</div>
<div class="paragraph">
<p>But first, as a smart seller, you’ve already given some thought to how your store is structured, like what categories would make sense for your items.
If not, now is the time! It’s imperative that you create categories before getting into the nitty-gritty of your item settings because you’ll encounter them in your online store and various marketplaces, plus they help organize your items properly in your backend.</p>
</div>
<div class="paragraph">
<p>To avoid being overwhelmed by all the settings here.
We’re going to create an item manually. That way, you can become better oriented and get a good feel for how things relate to one another in the item structure.
Now obviously it’s up to you how many settings you use to individualise your item. But, there are three settings that are crucial so that your item can be saved to your system.
Enter a Name, specify the content, so what type of unit your item is sold as and link the right Category to your item.
And don’t worry, these category links are not set in stone so you can still edit or expand your category structure later.
Right, so these three settings allow you to save your item: Name, content and category. Imagine this is the item your customer sees. Mind. Not. Blown. The bare minimum is obviously not gold.</p>
</div>
<div class="paragraph">
<p>So you see, after you’ve saved your item for the first time and it’s been created in your system, there’s still a bit of refining to do so your customers will buy it.
The item structure gives you loads of customization options using variations.
Either enter settings for each variation individually or for the entire data set of an item.
Texts are also pretty critical because they describe your item.
Use preview and item texts as well as technical data to give your customers important information and bring them one step closer to clicking the purchase button.
And since your customers obviously also want to see the item before they buy it, make sure you upload a good image.</p>
</div>
<div class="paragraph">
<p>Alright, those were some of the basics for a solid, well-described item. And like I said, you can either enter that info so it applies to the entire item or customize each variation individually.
But just a head’s up: It does make more sense to enter some settings in the variations. So what are some of those must-haves?
Well, you’re not hosting a big free-for-all, so entering a sales price kind of goes without saying.</p>
</div>
<div class="paragraph">
<p>Under the stock tab and the incoming items sub-tab, book your incoming items. Now you don’t absolutely have to monitor your item stock, but we do recommend keeping it up to date.
Also, the stock availability function is pretty sweet too.
Not only do you avoid overselling, but your items aren’t even displayed in your shop if you no longer have them in stock.</p>
</div>
<div class="paragraph">
<p>Alright! Time to get your item out into the great wide open.
First, activate your item’s availability in the one or more clients (so stores) of your choice. Then in the settings tab, check the active box so your customers can see it. Now let the sales begin!
Right on! Your item’s looking pretty good with the additional info: texts, image, sales price and stock settings.
Have fun getting your items primped and polished for the show! And if you want, check out our more in-depth videos that will answer any additional questions!</p>
</div>
</div>
</div>
</main>