<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_introduction"><span>1.</span><span> Introduction</span></a></li>
<li><a href="#_configuring_the_settings"><span>2.</span><span> Configuring the settings</span></a></li>
<li><a href="#_processing_orders"><span>3.</span><span> Processing orders</span></a></li>
<li><a href="#_shipping"><span>4.</span><span> Shipping</span></a></li>
<li><a href="#_returns_and_cancellations"><span>5.</span><span> Returns and cancellations</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Order processing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Join our factory tour and see how sellers can process orders in plentymarkets step-by-step.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_introduction">1. Introduction</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/order-processing/introduction-order-processing-step-by-step">Order processing step-by-step</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuring_the_settings">2. Configuring the settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/order-processing/configuring-settings/order-statuses">Using statuses to keep track of orders</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/configuring settings/order-settings">Taking a glance at your order settings</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_processing_orders">3. Processing orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/order-processing/processing-orders/fulfill-orders-with-processes">Getting started fulfilling orders</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/processing-orders/reversal-document">How do you deal with locked orders? Create a reversal document!</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/processing-orders/quicklinks-order-overview">Quicklinks in your order overview</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/processing-orders/fulfilling-orders">Fulfill your orders with a plentymarkets process</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/processing-orders/partial-deliveries">Creating and managing partial deliveries</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_shipping">4. Shipping</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/order-processing/shipping/options">Configuring shipping profiles</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/shipping/profiles">Creating and editing shipping profiles</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/shipping/tables-shipping-charges">Using tables of shipping charges</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/shipping/example-dpd">Putting it all together with an example: DPD UK</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_returns_and_cancellations">5. Returns and cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/videos/order-processing/returns-and-cancellations/return-or-cancellation">Return or cancellation? The path to great customer service</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/returns-and-cancellations/cancelling-orders">Cancelling orders</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/returns-and-cancellations/return-settings">Customising your return settings</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/returns-and-cancellations/manual-returns">Manually creating returns</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/returns-and-cancellations/automatic-returns">Automating returns</a></p>
</div>
<div class="paragraph">
<p><a href="/en/videos/order-processing/returns-and-cancellations/compensating-customers">Compensating customers</a></p>
</div>
</div>
</div>
</main>