<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Orders</h1><div class="paragraph">
<p>This area contains all information about incoming orders and how to proceed after receiving orders. Depending on the sales strategy and markets you choose, orders from different <strong><a href="/en/order-processing/orders/order-referrer">referrers</a></strong> are transferred to your plentymarkets system. Apart from your own online store, order referrers are primarily the different <strong><a href="/en/omni-channel/multi-channel">markets</a></strong>.<br></p>
</div><div class="paragraph">
<p>Among others, plentymarkets offers you an extensive interface to <strong><a href="/en/omni-channel/multi-channel/amazon/amazon-setup">Amazon</a></strong>. This interface does not only include automatic synchronisation with <strong><a href="/en/omni-channel/multi-channel/amazon/amazon-setup#900">Seller Central</a></strong>, but also further services offered by Amazon such as <strong><a href="/en/omni-channel/multi-channel/amazon/amazon-setup#3300">Fulfilment by Amazon</a></strong> and <strong><a href="/en/omni-channel/multi-channel/amazon/amazon-setup#3700">Amazon Multi-Channel</a></strong>.<br></p>
</div><div class="paragraph">
<p>Thanks to the comprehensive <strong><a href="/en/omni-channel/multi-channel/ebay/ebay-setup">eBay</a></strong> interface integrated in plentymarkets, you can start listings and display eBay shop items on eBay, retrieve orders, automatically post feedback and start dunning procedures for customers ordering via eBay.<br></p>
</div><div class="paragraph">
<p>Incoming orders are collected in one menu and displayed in a consistent format so that you can easily manage these orders. Each order receives an individual <strong>Order ID</strong>. Additional steps taking place after incoming orders, such as sending the order confirmation, sending emails or generating invoices and delivery notes, can be automatised. In addition to main orders representing orders placed by customers, several other <strong>order types</strong> exist in plentymarkets. Order types represent different business transactions.<br></p>
</div><div class="paragraph">
<p>The following order types are available in plentymarkets:</p>
</div><div class="ulist">
<ul>
<li>
<p>Order</p>
</li>
<li>
<p>Offer</p>
</li>
<li>
<p>Advance order</p>
</li>
<li>
<p>Warranty</p>
</li>
<li>
<p>Credit note order</p>
</li>
<li>
<p>Delivery order</p>
</li>
<li>
<p>Repair</p>
</li>
<li>
<p>Return</p>
</li>
<li>
<p>Multi-order</p>
</li>
<li>
<p>Multi credit note</p>
</li>
</ul>
</div><div class="paragraph">
<p>Documents necessary for a quick fulfilment process, such as <strong><a href="/en/order-processing/orders/order-documents/pick-list">pick list</a></strong> and <strong><a href="/en/order-processing/orders/order-documents/packing-list">packing list</a></strong> are available in plentymarkets as well.</p>
</div><div class="paragraph">
<p>Use the <a href="/en/fulfilment/shipping-centre#700">Shipping centre</a> to register shipping orders, edit them if needed of search for particular shipping orders.</p>
</div><div class="paragraph">
<p>In order to manage orders and business transactions efficiently in your plentymarkets system, you can also create <strong><a href="/en/automation/processes/setting-up-processes">Processes</a></strong> and have them run automatically. Processes offer the highest potential of automation for your plentymarkets system.</p>
</div>
</main>