<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#400"><span>1.</span><span> Payment providers and payment methods for Ceres stores</span></a></li>
<li><a href="#500"><span>2.</span><span> Payment providers and payment methods for plentyPOS</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Payment</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>One important aspect of your online store is the selection of payment methods offered. If the right selection is missing, customers could cancel the purchase at the end of the order process or not order in your online store at all. To avoid this, you should find out which payment methods your customers prefer to use. This area of the manual describes how to set up payment methods and payment providers in plentymarkets.
Moreover, options and functionalities as well as working with payments, currencies and bank data are explained.</p>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Managing payment methods</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/payment/managing-payment-methods">Managing payment methods</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#25">Specifying the default payment method</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#50">Offering a discount based on the payment method</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#70">Payment methods for markets</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Payments and banking in general</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/payment/managing-payments">Managing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#20">Booking payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#70">Assigning payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#110">Searching for payments</a></p>
</li>
<li>
<p><a href="/en/payments/managing-payments#120">Editing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details">Managing bank details</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#70">Setting up EBICS</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#200">Setting up SEPA direct debit mandate</a></p>
</li>
<li>
<p><a href="/en/payment/currencies">Managing currencies</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">1. Payment providers and payment methods for Ceres stores</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the Ceres template plugin, the following payment providers and payment methods are available. They are integrated into your plentymarkets system via individual plugins.<br>
Click on the links below to access the plugin’s set-up instruction. Plugins are downloaded in the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/payment-integrations" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/AfterPay_6044" target="_blank" rel="noopener">AfterPay</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/amazonloginandpay_5072" target="_blank" rel="noopener">Amazon Pay</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/atrigapaymax_6043" target="_blank" rel="noopener">atrigapaymax</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/GiroCheckout_5113" target="_blank" rel="noopener">BSPayone credit card</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/cash-in-advance">Cash in advance</a></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/cash-on-delivery">Cash on delivery</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/ceevo_6615" target="_blank" rel="noopener">Ceevo Payment</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/debit">Debit</a></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/EBICS">EBICS</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/heidelpay_5700" target="_blank" rel="noopener">heidelpay</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/invoice">Invoice</a></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/klarna">Klarna</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/masterpayment_4875" target="_blank" rel="noopener">Masterpayment Paymentmodule</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/mollie">Mollie</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/novalnet_5231" target="_blank" rel="noopener">Novalnet</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/online-bank-transfer">Online bank transfer</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/paydirekt_4923" target="_blank" rel="noopener">paydirekt</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/payever_5623" target="_blank" rel="noopener">payever</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/payone">PAYONE</a></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/paypal">PayPal</a></p>
</li>
<li>
<p><a href="/en/payment/payment-plugins/pay-upon-pickup">Pay upon pickup</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/easyCredit_5109" target="_blank" rel="noopener">ratenkauf by EasyCredit</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/santanderpaymentsolutions_6231" target="_blank" rel="noopener">Santander Payment Solutions</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/skrill_5142" target="_blank" rel="noopener">Skrill</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/BetterPayment_5680" target="_blank" rel="noopener">Solvendi</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/Stripe_4904" target="_blank" rel="noopener">Stripe credit card</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/wallee_5038" target="_blank" rel="noopener">wallee</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Payment providers and payment methods for plentyPOS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you use the point of sale system <a href="/en/pos/integrating-plentymarkets-pos# plentyPOS">/en/pos/integrating-plentymarkets-pos</a>, the following additional payment providers and payment methods are available. The payment providers and payment methods for POS are integrated into your plentymarkets system via individual plugins.<br>
Click on the links below to access the plugins in the plentyMarketplace. The tab <strong>Description</strong> of every plugin offers you detailed information on the installation process.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">Ingenico ZVT</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/PosInvoice_5590" target="_blank" rel="noopener">plentyPOS Invoice</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">VerifoneZVT</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
</div>
</div>
</main>