<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#400"><span>1.</span><span> Payment providers and payment methods</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Payment</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>One important aspect of your online shop is the selection of payment methods offered. If the right selection is missing, customers could cancel the purchase at the end of the order process or not order in your online shop at all. To avoid this, you should find out which payment methods your customers prefer to use. This area of the manual describes how to set up payment methods and payment providers in plentymarkets.
Moreover, options and functionalities as well as working with payments, currencies and bank data are explained.</p>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Managing payment methods</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/payment/managing-payment-methods">Managing payment methods</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#25">Specifying the default payment method</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#50">Offering a discount based on the payment method</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#65">Overview of payment methods in the system</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payment-methods#70">Payment methods for markets</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Payments and banking in general</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/payment/managing-payments">Managing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#20">Booking payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#70">Assigning payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments#110">Searching for payments</a></p>
</li>
<li>
<p><a href="/en/payments/managing-payments#120">Editing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details">Managing bank details</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#70">Setting up EBICS</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#200">Setting up SEPA direct debit mandate</a></p>
</li>
<li>
<p><a href="/en/payment/currencies">Managing currencies</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">1. Payment providers and payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Various payment providers and payment methods are available. They are integrated into your plentymarkets system via individual plugins. Downloaded the plugins from the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/payment-integrations" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to install them into your system.</p>
</div>
</div>
</div>
</main>