<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_more_about_plugins"><span>1.</span><span> More about plugins</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Here you will learn how to use plugins with your plentymarkets system. Plugins can change the design of your webstore, add new functionality and payment methods, and even create new interfaces in your back end.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/plugins/adding-plugins.adoc/">Adding plugins to the system</a></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Purchasing plentyMarketplace plugins</p>
</li>
<li>
<p>Adding new plugins via Git</p>
</li>
</ol>
</div>
</li>
<li>
<p><a href="/plugins/plugin-sets.adoc/">Plugins and plugin sets</a></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Plugin overview - managing plugin sets</p>
</li>
<li>
<p>Creating plugin sets</p>
</li>
<li>
<p>Editing plugin sets</p>
<div class="olist lowerroman">
<ol class="lowerroman" type="i">
<li>
<p>Changing the name of a plugin set</p>
</li>
<li>
<p>Adding plugins</p>
</li>
<li>
<p>Updating plugins</p>
</li>
<li>
<p>Removing plugins</p>
</li>
<li>
<p>Deleting plugin sets</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</li>
<li>
<p><a href="/plugins/plugins.adoc/">Setting up plugins</a></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Plugin configuration</p>
</li>
<li>
<p>Container links</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>For more information on how to customize your back end with back end plugin sets, see the <a href="/basics/working-with-plentymarkets/customise-user-account.adoc/">Customising the user account</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_more_about_plugins">1. More about plugins</h2>
<div class="sectionbody">
<div class="exampleblock">
<div class="content">
<div class="ulist">
<ul>
<li>
<p>If you are looking for new plugins to extend your plentymarkets system with, visit <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>If you need specific plugin functionality beyond what is covered on Marketplace, post a request it on the <a href="https://marketplace.plentymarkets.com/plentyprojects/" target="_blank" rel="noopener">project platform</a> and work out a solution with one of our <a href="https://www.plentymarkets.co.uk/service/our-partners/" target="_blank" rel="noopener">partner agencies</a>. Or…​</p>
</li>
<li>
<p>Create your very own plugin. For more information, see our <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">developers page</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>