<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins</h1><p>Welcome to the topic Plugins. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/plugins/adding-plugins"></a></li><li><a href="/en/plugins/plugin-sets"></a></li><li><a href="/en/plugins/plugins">Managing plugins</a></li></ul>
</main>