<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> What is plentyPOS?</span></a></li>
<li><a href="#200"><span>2.</span><span> How do you set it up?</span></a></li>
<li><a href="#300"><span>3.</span><span> How many functions does it include?</span></a></li>
<li><a href="#400"><span>4.</span><span> Stay up to date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Point of sale system plentyPOS</h1><div class="sect1">
<h2 id="100">1. What is plentyPOS?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyPOS (<strong>Point of Sale</strong>) is our in-house developed solution for managing till sales at your brick and mortar store. The plentyPOS functionalities are integrated as a component that is part of
the <a href="https://knowledge.plentymarkets.com/en/app" target="_blank" rel="noopener">plentymarkets app</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.
This manual page offers you an overview on where to find information on setting up plentyPOS and using its functionalities to their best.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">POS demo mode</div>
<div class="paragraph">
<p>Are you interested in using plentyPOS and want to take a look at its functions without any obligation? Check out our detailed instructions on using the plentyPOS demo mode <a href="/en/pos/demo">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. How do you set it up?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Have you already decided to use plentyPOS as your point of sale system for your brick and mortar store? Great! Take a look at the following pages to find further instructions as well as information on how to contact our specialised service partners.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://plentypos.plentymarkets.com/en/" target="_blank" rel="noopener">Choosing suitable hardware</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/pos/integrating-plentymarkets-pos">Integrating plentyPOS</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users">plentyPOS for POS users</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. How many functions does it include?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once completely set up, your plentyPOS system offers you a variety of possibilities for managing your daily business in your brick and mortar store. Depending on how exactly you would like to work with the system, the following functions are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#30">Ringing up customers</a></p>
</li>
<li>
<p><a href="/en/pos/integrating-plentymarkets-pos#2700">Selling and redeeming coupons</a></p>
</li>
<li>
<p><a href="/en/app/functions/item-search#400">Printing item labels</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#173">Managing cancellations and returns</a></p>
</li>
<li>
<p><a href="/en/pos/pos-online-ordders">Completing Click &amp; Collect orders</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#180">Withdrawing or depositing cash into the cash drawer</a></p>
</li>
<li>
<p><a href="/en/pos/plentymarkets-pos-for-pos-users#210">Creating Z reports, X reports and till count reports</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In addition, there are legal regulations and specific exports that you need to take into account when using plentyPOS:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/pos/integrating-plentymarkets-pos#300">Documenting POS transactions for German tax authorities</a></p>
</li>
<li>
<p><a href="/en/pos/integrating-plentymarkets-pos#860">Operating plentyPOS in Austria</a></p>
</li>
<li>
<p><a href="/en/pos/integrating-plentymarkets-pos#500">Creating IDEA exports</a></p>
</li>
<li>
<p><a href="/en/pos/integrating-plentymarkets-pos#950">Saving booking accounts for POS events</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Stay up to date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Are you looking forward to an upcoming feature? We’re happy to keep you in the loop about changes to the software! You can see a record of changes <a href="https://forum.plentymarkets.com/c/changelog/changelog-app" target="_blank" rel="noopener">in our changelog</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Subscribe to the changelog and always stay up to date.</p>
</div>
</div>
</div>
</main>