<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Quick start</h1><p>Welcome to the topic Quick start. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/quick-start/quick-start-taking-off">Taking off</a></li><li><a href="/en/quick-start/quick-start-system-requirements">System requirements</a></li><li><a href="/en/quick-start/quick-start-initial-settings">Carrying out initial settings</a></li><li><a href="/en/quick-start/quick-start-stock-management">Setting up a warehouse and supplier</a></li><li><a href="/en/quick-start/quick-start-online-store-introduction">Setting up the online store: Introduction</a></li><li><a href="/en/quick-start/quick-start-setting-up-payment-processes">Setting up payment processing</a></li><li><a href="/en/quick-start/quick-start-shipping-options">Setting up shipping options</a></li><li><a href="/en/quick-start/quick-start-item-catalogue">Setting up a catalogue of items</a></li><li><a href="/en/quick-start/quick-start-booking-stock">Booking stock</a></li><li><a href="/en/quick-start/quick-start-online-store">Designing your Ceres online store</a></li><li><a href="/en/quick-start/quick-start-preparing-order-processing">Preparing order processing</a></li><li><a href="/en/quick-start/quick-start-adding-plugins-to-the-system">Adding plugins to the system</a></li><li><a href="/en/quick-start/quick-start-ebay">Quick start eBay</a></li><li><a href="/en/quick-start/quick-start-automating-processes">Automating processes</a></li><li><a href="/en/quick-start/quick-start-final-steps">Final steps</a></li></ul>
</main>