<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Welcome</h1><p>Welcome to the topic Welcome. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/welcome/login-tour">First login and tour</a></li><li><a href="/en/welcome/help">Where can I get help?</a></li><li><a href="/en/welcome/assistants">Assistants</a></li><li><a href="/en/welcome/quick-start">Quick start</a></li><li><a href="/en/welcome/customise-system">Customising your system</a></li></ul>
</main>