<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating categories</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Categories allow you to group items and display content such as statistics as well as your company’s legal information. Get to know your user interface in detail.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/items/create-categories-categories#video">Creating categories (1:08)</a></p>
<p class="tableblock"><a href="/en/videos/items/create-categories-grouping#video">Grouping items (5:20)</a></p>
<p class="tableblock"><a href="/en/videos/items/create-categories-content#video">Displaying content (6:53)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/122105766#at=68" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. In this video tutorial, I will teach you how to create new categories in plentymarkets.
Categories are used to accomplish two main tasks. On the one hand, they are used to classify items into different groups. On the other hand, they are used to display static content in the online store. These two different types of categories are called "Item" and "Content".</p>
</div>
<div class="paragraph">
<p>The category type "Item" is a product group. Every item has to be assigned to at least one category, since items are displayed in categories in the online store. The store’s navigational structure is also created by assigning items to categories.</p>
</div>
<div class="paragraph">
<p>The category type "Content" is used to display static web pages in the online store. For example, to display the terms and conditions or the privacy policy information. Both types of categories can be linked to one or more clients and the content can be saved in one or more languages. You can decide whether a category should be included in the sitemap file. This gives you control over which URLs are transferred to search engines such as Google. Let’s get started. I’ll open up my plentymarkets system and show you how to set up categories.</p>
</div>
<div class="paragraph">
<p>First, I will open the menu "Item » Categories" to create a category.
All of the categories that were previously created are displayed on the left side of the screen. Categories that are displayed with folder icons contain further subcategories. A simple click on the folder icon opens the folder and displays the subcategories. Categories are also color coded by their category type. Item categories are displayed with a blue icon and content categories are displayed with a yellow icon.</p>
</div>
<div class="paragraph">
<p>A small triangle appears on the right when I move my cursor over a category. I will click on this triangle to see further possibilities for editing the category. This menu contains options to create a new subcategory, to create a new item that is assigned to this category, or to edit, move, copy or delete the category.
The same options are also listed if I move my cursor anywhere over a category and right-click with my mouse.</p>
</div>
<div class="paragraph">
<p>Now let’s take a look at the three drop-down menus that are displayed at the top of the screen. These three drop-downs are used to limit which categories are listed in the overview on the left. If you work with several different clients, then select a client from the drop-down menu on the left. The screen will refresh and you will see a list of categories that are linked to this client. If you have set up categories in several different languages, then select a language from the middle drop-down menu. You will then see the categories that were created in this language. You may notice a category name that is written in italic font. This indicates that the category was created in a different language or linked to a different client, but that it is not yet available for the language or client that was selected in the drop-down menu. Let’s look at an example.</p>
</div>
<div class="paragraph">
<p>I want to edit the German language version of a category, so I will select "German" from the middle drop-down menu. Immediately, I notice that the first two categories are written in italic font. This tells me that I have not yet created a German language version of the "About us" category or the "Packaging" category.</p>
</div>
<div class="paragraph">
<p>By selecting "Item" from the drop-down menu on the right, I will only see item categories. Depending on what is selected, either a list of content categories, a list of item categories or a list that contains both types of categories will be displayed.
For now, I am interested in working with all of my English categories, so I will select these options again from the drop-down menus.</p>
</div>
<div class="paragraph">
<p>Now I will create a new category. I simply need to click on the "New category" button to do so. A pop-up window appears.
Now I will enter a name for the category and choose whether I want to make it a main category or a subcategory. If you decide to create a subcategory, then choose which category it should be listed under. In this example, I will create a main category for displaying clothes in my online store.
I simply click on the "Create" button to create the category. The new category opens automatically and can be edited in further detail.</p>
</div>
<div class="paragraph">
<p>A toolbar is located at the top of the screen. It contains several icons as well as information about the category. Let’s take a look at the toolbar from left to right. The save icon is located on the far left. The category ID is next to it.
Third from left is an eye symbol. By clicking on this icon, it is possible to see a preview of what the category will look like in the online store. The combo eye and pencil icon opens an inline-edit preview. This is a preview of the category that can also be edited directly.
The combo picture and pencil icon opens the image gallery in a new tab. The image gallery is one way to upload image files for the category. Another way is to upload images and other documents in a category’s "Documents" tab. I will say a little more about this tab later. In general, we recommend using the "Documents" tab rather than the image gallery.</p>
</div>
<div class="paragraph">
<p>The combo paper and binoculars icon opens a pop-up window that contains a list of template functions and variables. In this window, I can search for template functions and variables, copy them to the clipboard and insert them into a category.
For example, when looking for variables that display information about my bank account, I simply enter "bank" into the search.
Then I click on the desired template to see the results displayed on the right.</p>
</div>
<div class="paragraph">
<p>The flag icon opens the multilingual editor. This is an editor that makes it possible to work with two different languages simultaneously.
The gear-wheel icon applies the category’s settings to a different language version or client version.
Two important pieces of information are displayed on the right. First, I can see which template function creates a link to this page. Second, I can see when the page was last edited and who made these changes.</p>
</div>
<div class="paragraph">
<p>Now let’s take a look at the different tabs that are used to edit a category. I’ll start by showing you the "Settings" tab.
First I will use the "Type" drop-down menu to specify the category type. Here I will choose between the settings "Item" and "Content". As I mentioned earlier, "Item" is used for grouping items and creating the store navigation. "Content" is for creating static information. In this example, I will choose "Item" since I am creating an item category for displaying clothing in my online store.
If needed, I can use the "Name" field to change the name that I saved when creating the category. I’m still satisfied with the name that I chose, so I will skip this field.</p>
</div>
<div class="paragraph">
<p>If you have already created tags, then you will be able to select them from a list of suggestions in this field. If you have not already created tags, then you will need to do so first. Refer to the online manual for further information about creating tags. I have already created a few tags in this system so I will now select the appropriate tags from this field.
When creating a new category, the name is automatically used as the URL name. The URL name can still be changed here if needed. But be sure not to change the URL name too often after a page was already published. Search engines might consider this to be duplicate content and rank your page lower because of it.
The system will automatically generate the URL and display it here. However, the automatic URL will not be indexed at first because a client is not yet selected when a category is created. By clicking on the button here, the URL will be copied to the clipboard.
If you have a URL that contains the same content as this category, then you can avoid duplicate content by entering this URL into the "Canonical" field. I will leave this field blank because I do not have another URL with this content.</p>
</div>
<div class="paragraph">
<p>Now I will enter a short description of the category into the next field. Once categories have been set up, the short description is inserted into the online store’s layout with the help of template variables.
Next I will enter a number into the "Position" field. This number specifies which order categories should be displayed in if they are saved on the same level. We recommend that you count by tens when creating position numbers. For example, we recommend using 10, 20, 30 rather than 1, 2, 3. This will prevent you from having to renumber all of your categories if you want to add a new category in between later on.
Now I will place a check mark to indicate that this category should be activated for the default client.</p>
</div>
<div class="paragraph">
<p>Next I will enter text into the "Meta title" field. This text is displayed in the tab that is open in the web browser. As such, it is important to choose a title that customers should see when they view the page in their browser.
Now I will enter a concise description of the category into the "Meta description" field. Since search engines index this description, we recommend that you keep this information brief and to the point.</p>
</div>
<div class="paragraph">
<p>Next I will enter a few keywords for the category. Since I am entering more than one keyword, I will use commas to separate them. The keywords that I enter here are the words that I think customers will likely type into Google when searching for this page of my website.
Next I will use the "Sitemap" drop-down menu to specify whether this category should be indexed in the sitemap.
The "Robots" drop-down menu is similar. The values listed in this drop-down menu tell web crawlers what they should do with this page and with the links on this page. By selecting "index", I am telling web crawlers to include this page of my website in the search engine index.</p>
</div>
<div class="paragraph">
<p>The next three drop-down menus are only available for item categories. All three drop-downs contain lists of templates. The "Template page" is the framework for the category. The "Template list" is what the overview will look like for the category. And the "Template product" defines how the individual items will be displayed within this category. I’m happy with the default values that are currently listed in these three drop-down menus, so I will leave the settings as they are.
Now I will use the "Full-text search" option to select whether the category descriptions should also be included in search results within the online store. "Yes" means that the category descriptions will be included in the search results and "No" means that the descriptions will be ignored. In this example, I will select "Yes" because I want the category description to be included in the search results.
The "Link list" option specifies whether the category should be displayed in the store’s navigation. In this example, I want the category to be displayed in the link list, so I will select "Display."</p>
</div>
<div class="paragraph">
<p>Next I will use the "Visible" option to select whether the category should be visible to the public, or whether it should only be visible in my plentymarkets backend after I have logged in. I will select "Public" here because I want this category to be visible to the public.
It is possible to link plentymarkets categories to Elmar categories. This is done by selecting the desired Elmar category from the drop-down menu. I am not interested in linking my category to an Elmar category at the moment, so I will simply leave this drop-down menu blank.</p>
</div>
<div class="paragraph">
<p>Now I will use the "Translate" option to specify whether template functions and variables should be translated. Select "No" if functions and variables should be displayed simply as pure code in the online store. Select "Yes" if they should be converted into their underlying functions, such as links or information. And select "Links only" if link variables and functions should be turned into links, but other variables and functions should not be turned into their underlying information, such as prices or shipping costs. I am planning to use all different types of template variables and functions on this content page. I want all of them to be converted into their underlying information. As such, I will choose the setting "Yes".</p>
</div>
<div class="paragraph">
<p>Now I will show you the next two tabs. They are called "Description 1" and "Description 2" respectively. Both tabs contain the exact same options. As such, I will limit the explanation here to "Description 1" only. These two tabs are used for entering the actual content of the category. In addition to text, it is possible to insert template functions and variables, links, images, tables and other information into this tab.
First I will click on the drop-down menu on the right side of the screen to select which editor I want to use when designing this page.</p>
</div>
<div class="paragraph">
<p>By selecting "Editor", I will see a toolbar at the top of the screen, which I can use to format my text. The functions here should be familiar to most users, as they are the same functions that are found in word processing programs.
By selecting "Text field" or "Syntax editor", I will be able to directly enter HTML code for this page.
Now that I have selected the editor, I will enter all of the information about my category.</p>
</div>
<div class="paragraph">
<p>Next I will show you the "Documents" tab. This tab is used for uploading files such as images or PDF documents.
There are two different ways to upload files. I will use the drag-and-drop function. This means that I will drag a file from my computer and drop it in this tab. The file uploads automatically.
It is also possible to click on the "Upload files" button and then select the files that should be uploaded.</p>
</div>
<div class="paragraph">
<p>Once a file has been uploaded, I can move my mouse over the image to see additional information about it.
By selecting an image with a check mark, the buttons in the toolbar are activated.
Two category images can be defined for item categories. Even though the number is limited to two, we recommend that you upload more than just two files in the "Documents" tab. This makes it possible to regularly change the category image without having to delete old images first. Once the category images are selected, template variables display these images in the online store. The manual provides additional information and lists the exact variables that are required for doing so.</p>
</div>
<div class="paragraph">
<p>Now I will show you the last tab. Here I have space to enter notes that are not visible to customers in the online store. Rather, they are only visible in the plentymarkets backend. For example, I will enter a note informing my colleagues about the peculiarities and specifics of this page.
Last but not least, I need to save my changes once I have finished editing a category.</p>
</div>
<div class="paragraph">
<p>Our online manual provides more in-depth information about creating and editing categories. Take a look at the manual for more detailed instructions. Thanks for watching and I hope you enjoyed learning how to create categories in plentymarkets.</p>
</div>
</div>
</div>
</main>