<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item - Tab: Global</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">This tab includes settings that apply to all of your variations equally. See the most important areas within this tab and learn how to perfectly configure your item settings.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/items/global-tags#video">Saving tags (0:30)</a></p>
<p class="tableblock"><a href="/en/videos/items/global-basic-settings#video">Basic settings (0:47)</a></p>
<p class="tableblock"><a href="/en/videos/items/global-shipping-profiles#video">Linking shipping profiles (0:57)</a></p>
<p class="tableblock"><a href="/en/videos/items/global-store-specials#video">Adding store specials (1:21)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/168350560#at=57" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. As you know by now, an item always includes a main variation. Nonetheless, there are settings that can be managed globally within an item that apply to all of the variations of that item. In this video we’ll be taking a look at the most important settings in the global tab.</p>
</div>
<div class="paragraph">
<p>Alright, so let’s get started. As you can see, I’ve opened my system to Item &gt; Edit item and, for the sake of demonstration, I’ll open item 135. Now let’s switch to the global tab.
The tags function allows me to save keywords for this item. At some point, tags will replace these classifications over here, so special offer, new item or top item, because tags allow you to further specify your items. This will make items easier to find when searching for them online, for example.</p>
</div>
<div class="paragraph">
<p>Let’s take a quick look at the most important options under Basic settings. Here I can select the condition of my item as well as the item type.
Over here in this middle area, I can activate various shipping profiles for this item. The dropdown menu allows me to choose a shipping group. And below that, I can specify one or several shipping profiles by checking the corresponding boxes or I can select them all by checking the box up here. I have to activate at least one shipping profile per item. Otherwise the shipping costs may not be calculated correctly.</p>
</div>
<div class="paragraph">
<p>Down here under Online store, I have the option of specifying 'store specials' such as special offer, new item or top item. My item will then be displayed as a store special in my online store. I don’t want to specify a store special so I’ll select 'none'.</p>
</div>
<div class="paragraph">
<p>Under item feedback I can enter a number between 1 and 5 or 1 and 10 for the initial item feedback. The number I enter here is displayed as the initial feedback of an item so every time new feedback is submitted, an average value is calculated automatically. And please keep in mind that the maximum rating will either be 5 or 10 depending on how you configured the customer feedback menu within the client’s global settings.</p>
</div>
<div class="paragraph">
<p>Over here on the far right I’ve obviously got my item image.
Right, and just as a reminder, don’t forget to save any changes you’ve made.</p>
</div>
</div>
</div>
</main>