<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item - Tab: Main variation</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are always linked to a main variation. In this video, you’ll learn how their data is passed on to other variations.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/items/main-variation-settings#video">Settings (0:40)</a></p>
<p class="tableblock"><a href="/en/videos/items/main-variation-categories#video">Categories (4:10)</a></p>
<p class="tableblock"><a href="/en/videos/items/main-variation-stock#video">Stock (5:49)</a></p>
<p class="tableblock"><a href="/en/videos/items/main-variation-availability#video">Availability (7:30)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/170948669#at=250" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. As you know by now, every item is composed of one or more variations. So some items only have one variation, and some items have many variations. Any time that you create a new item in plentymarkets, you automatically create a main variation along with it. In this video, I will walk you through the most important settings to be entered in the main variation tab.</p>
</div>
<div class="paragraph">
<p>Alright, so let’s get started. As you can see, I’ve opened my system to Item &gt; Edit item. To access the main variation tab, I simply select any item I want and my system automatically opens to the main variations tab. As you can see, the main variations tab includes several sub-tabs.</p>
</div>
<div class="paragraph">
<p>Let’s begin by talking about the Settings tab.
In the top left corner, I have my basic settings where I can enter or update information such as the name of the variation, the variation number, the optional external variation ID, the model number or name and the position number.</p>
</div>
<div class="paragraph">
<p>Now let’s look at the settings under Availability. To activate my item for my online store or a market, I simply place a checkmark in this box here.
The availability setting allows me to select from 10 different levels of availability. These options define how the availability of my item is shown in my online store.
The next few fields allow me to specify the availability and store visibility settings of an item in relation to my net stock. When I place a checkmark in this box, for example, my item is only available for purchase if the net stock is positive. Or when I place a checkmark here, my item is only visible in my online store if my net stock is positive.
The information shown beside 'Availability in supply' displays the estimated delivery date of the variations I ordered.</p>
</div>
<div class="paragraph">
<p>Under Limitation, I can choose from three different options. 'None' means that no limitation to the stock is set, so the item’s availability is not controlled automatically. 'To net stock' limits my stock to the net stock, so the item’s availability is controlled automatically. And 'Do not administer stock for this variation' hides the Correction, Stock, Supply and 'Item movement' tabs in the Stock tab of a variation. Let me just open the Stock tab to show you. As you can see, the Correction, Stock, Supply and 'Item movement' tabs are still displayed, but as soon as I save the 'Do not administer stock for this variation' setting, those three tabs are no longer shown. For my purposes, though, I’ll select None.</p>
</div>
<div class="paragraph">
<p>The next two fields allow me to select the maximum or minimum quantity for an order. I can enter decimal values for items like fabric, where my customers can order a specific weight or length. The value of 0 is set by default, but just a head’s up, zero means that the maximum order quantity is unlimited.
I can also specify the intervals at which an item can be ordered.
This field allows me to set a release date for when the item will become available. And 'Available until' allows me to specify how long the item is available for.</p>
</div>
<div class="paragraph">
<p>Okay, now let’s move on to the next area.
Under sales prices, I can link sales prices with the main variation of the item. Generally, sales prices are saved for the main variation and then the inheritance function is used to transfer these prices to any other variations. Just check out our video tutorials on sales prices and inheritance for more information.</p>
</div>
<div class="paragraph">
<p>And in the two areas below, I save barcodes as well as Amazon Standard Identification Numbers or eBay Product IDs for the variation.
Over here on the far right, I have my item image.
And below is the area in which I enter the dimensions of my main variation including content, length, width, height and gross and net weight.
The costs area is where I specify the applicable VAT rate and my item’s purchase price as well as additional costs such as transportation costs, storage costs, customs fees in percent and operation costs.
And lastly, I’ve got my Shipping information. In addition to global shipping information, which I activate in the Global tab, this area allows me to specify further data, such as warehouses and surcharges.</p>
</div>
<div class="paragraph">
<p>Alright, so that was the settings tab. Now let’s take a look at the Categories tab.
This tab allows me to link additional categories to my variations. The left area shows the categories that are linked to this variation. So in my case, the category that this item appears in is Office furniture &gt; Desk chairs. To add a category, I simply click on the 'Link category' button up here. And to delete it, I click on this icon right here.
On the right is the 'Default categories' area, which allows me to set up the category path in the breadcrumb bar of my online store. If an item is displayed in multiple categories, the category path of the default category will appear in the breadcrumb bar. I place a checkmark beside 'Available' and my item is shown in the default category in my online store. And just so you know, this setting is mandatory for my item to be displayed in my online store.</p>
</div>
<div class="paragraph">
<p>Okay, now the Supplier tab lets me save all of the relevant supplier information including minimum purchase and delivery time and link that information to my item. But of course, I have to set up suppliers in the Customers menu first. To link an additional supplier to this item, I simply choose the supplier I want from the dropdown menu and click on the green plus icon to add it to the list. To remove the supplier from the list, I simply click the delete icon.</p>
</div>
<div class="paragraph">
<p>The Warehouse tab is where I specify the warehouses for my item and enter additional warehouse information, such as the reorder level and maximum stock. I can add and delete a warehouse in the same manner as I did in the supplier tab.
And the function behind this icon here, allows me to generate labels for my item based on a template I’ve created and saved in my system beforehand.</p>
</div>
<div class="paragraph">
<p>The Stock tab is where I manage my stock. The options in the stock sub-tabs allow me to do various things.
In the first sub-tab, I can book incoming items directly.
The Correction tab allows me to make stock corrections. So for example, I can enter a reason for a correction here and make the necessary changes to my physical stock. Let me just demonstrate this briefly by making a correction to my physical stock. I will enter 5 here, click save and reload the page to apply the changes.
The Stock tab allows me to access my main variation’s stock. Here, I can do things like reorder items or also recalculate my stock.
I can view my supply in the supply tab. My list shows two reorders including relevant information such as the supplier, reorder and delivery dates as well as the warehouse where that item is stored.
And the last sub-tab, so Item movement, shows how my stock has reached its current level. In other words, item movement provides me with an overview of the different bookings that led to the current result. This increases transparency of my stock management and also enables me to retrace any steps later in case I need to do so. So remember how I changed my physical stock to 5 in the correction tab just a moment ago? Well as you can see, that correction is displayed right here.</p>
</div>
<div class="paragraph">
<p>Alright, now let’s move on to the Bundle tab. Item bundles consist of multiple products. I can create a bundle by adding further variations or items to the one that I have open. This bundle would then be displayed in the 'Variation bundle components' tab where they can be edited or deleted. But just a quick note, if I want to create a bundle, then the item that other components are added to can not have stock.
And now for the last tab, so Availability…​ This tab allows me to make my main variation available on several different markets simultaneously. To do so, I simply select the markets I want from the dropdown menu here and click the green plus icon. To delete a market, I simply click on the delete icon beside it.</p>
</div>
</div>
</div>
</main>