{# 
	Displays a form where interested parties can enter their email address.
	
	The following IF condition may need to be customized further. 
	Which availability should cause the form to be displayed?
#}

<div data-plenty="stocknotification" {% if $AvailabilityId <= 2 %}style="display:none"{% endif %}>						
	<div class="row margin-bottom-1">		
		<h3>We will get back to you<br>as soon as the item is available!</h3>
		<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
			<input type="text" placeholder="deine E-Mail" class="emailNotification PlentyText" />
		</div>
		<div class="col-lg-5 col-md-6 col-sm-6">
			<button type="button" data-href="positive_stock_notification/" data-loading-text="Bitte warten..." class="btn btn-primary btnNotification" autocomplete="off">
			  Absenden
			</button>
		</div>
	</div>
							
	{# The result is displayed in the following container #}
	<div class="responseNotification margin-bottom-1 collapse"></div>
						
	{# 
		The logic portion begins here. It carries out the REST call. 
		It has to be displayed on the same page.
	#}

	<script type="text/javascript">
					
		{# Completes the current attribute selection if this item has attributes #}
		
		{% if $AttributeExist %}
		
			function getAttributeValueSetID()
			{
				var aAttrID = [];	
				$('[name^=ArticleAttribute]').each(function(index)
				{
		   			aAttrID.push(jQuery(this).val());
				});
				
				return aAttrID;
			}
		
		{% endif %}
		
		var $btn = null;
		
		function showMessage(msg,state)
		{
			$('.responseNotification').text(msg).addClass(state);
			$('.responseNotification').fadeIn();
			$btn.button('reset');
			setTimeout(function()
				{
					$('.responseNotification').hide().removeClass(state);
				},
				3000);
		}
		
		$(document).ready(function()
		{
			jQuery('.btnNotification').click(function()
			{
	   	   		$btn = $(this).button('loading');
	   	   		var $data = "positive_stock_notification_post";
	   	   		var $path = jQuery(this).data("href");
	   	   		
	   	   		{# Creates the data object for the request #}
	   	   		
	   	   		var $postObjects = {
		           positive_stock_notification_post: 
		           {
		                   ItemID:$ID,
		                   Email:jQuery('.emailNotification').val(),
						   {% if $AttributeExist %}AttributeValues:getAttributeValueSetID(),{% endif %}
						   PriceID:$PriceID
		           }
	   	   		}
	   	   		
	   	   		{# The REST request is carried out here and the result is analysed #}
	   			
	   	   		$.ajax("/rest/"+$path,
					{
						data:        JSON.stringify($postObjects[$data]),
						dataType:    'json',
						type:        'POST',
					
						success: function(response)
						{
							showMessage("E-mail address "+response.data.Email+" was successfully saved.", "plentyMessageBox");
						},
					
						error: function(response)
						{
							showMessage("An error occurred. Please check your email address.", "PlentyErrorMessageBox");
						}
					}   
				);
	           
	           return false;
	   	   });
	   });
	</script>
</div>