<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Calculation type</span></a>
<ul class="sectlevel2">
<li><a href="#_total"><span>1.1.</span><span> Total</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Dimension</span></a>
<ul class="sectlevel2">
<li><a href="#_order"><span>2.1.</span><span> Order</span></a></li>
<li><a href="#_order_status_order"><span>2.2.</span><span> Order status, order</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Filter</span></a>
<ul class="sectlevel2">
<li><a href="#_client"><span>3.1.</span><span> Client</span></a></li>
<li><a href="#_order_referrer"><span>3.2.</span><span> Order referrer</span></a></li>
<li><a href="#_order_status"><span>3.3.</span><span> Order status</span></a></li>
<li><a href="#_warehouse"><span>3.4.</span><span> Warehouse</span></a></li>
<li><a href="#_outgoing_items_booked"><span>3.5.</span><span> Outgoing items booked</span></a></li>
<li><a href="#_payment_status"><span>3.6.</span><span> Payment status</span></a></li>
<li><a href="#_created"><span>3.7.</span><span> Created</span></a></li>
<li><a href="#_order_type"><span>3.8.</span><span> Order type</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> Edition</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Orders (Live)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the calculation types, dimensions and filters available to you for the key figure Orders (Live).
This page is for reference purposes only and assumes that you already have basic knowledge about the <a href="/en/business-decisions/plenty-bi/myview-dashboard">plentyBI tool</a>.</p>
</div>
<div class="paragraph">
<p>plentymarkets calculates the key figure <strong>Orders (Live)</strong> by checking and loading the orders in real time from the database.<br>
In addition, select a <a href="/en/business-decisions/plenty-bi/key-figures/orders-live#200">dimension</a> to determine how the result is grouped.
Set <a href="/en/business-decisions/plenty-bi/key-figures/orders-live#300">filters</a> to specify the criteria for the calculation of the orders.
Note that those orders are counted that you define in the filter <strong>Order type</strong>. If you don’t set this filter, all orders of all order types are counted.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Calculation type</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_total">1.1. Total</h3>
<div class="paragraph">
<p>Orders (Live) is calculated on the basis of all available data. This means that the number of orders is counted according to the selected dimension and filters and displayed in real time.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Dimension</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_order">2.1. Order</h3>
<div class="paragraph">
<p>The number of orders is displayed in real time. The data is taken from the database. All order types are counted if you don’t set the filter <strong>Order type</strong> with a selection.</p>
</div>
</div>
<div class="sect2">
<h3 id="_order_status_order">2.2. Order status, order</h3>
<div class="paragraph">
<p>The number of orders in each order status is displayed in real time. The data is taken from the database. All order types are counted if you don’t set the filter <strong>Order type</strong> with a selection.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Filter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filters allow you to narrow down the data calculated by the key figure.
How to add and combine filters is explained in the <a href="/en/business-decisions/plenty-bi/myview-dashboard">Dashboard (Beta)</a> section of the manual.</p>
</div>
<div class="sect2">
<h3 id="_client">3.1. Client</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several clients.
For this filter you can select the <a href="/en/online-store/setting-up-clients">clients</a> that have been set up in your system.
Select one of the following comparison operators and then the desired clients (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-client" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected clients (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected clients (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_referrer">3.2. Order referrer</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several order referrers.
For this filter you can select the <a href="/en/orders/order-referrer">order referrers</a> that are available in your system.
Select one of the following comparison operators and then the desired order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-order-referrer" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_status">3.3. Order status</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several order statuses.
For this filter you can select the <a href="/en/orders/managing-orders#1200">order statuses</a> that have been setup in your system.
Select one of the following comparison operators and then the desired order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="paragraph">
<p><em>Beachte</em>, dass alle Auftragsstatus angezeigt werden, wenn du hier keine Auswahl triffst.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-orderstatus" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_warehouse">3.4. Warehouse</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several warehouses.
For this filter you can select the <a href="/en/stock-management/setting-up-a-warehouse">warehouses</a> that have been set up in your system.
Select one of the following comparison operators and then the desired warehouses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="paragraph">
<p>Note that main orders are filtered out if this filter is set.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-warehouse" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected warehouses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected warehouses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_outgoing_items_booked">3.5. Outgoing items booked</h3>
<div class="paragraph">
<p>Filters the selected key figures and dimensions additionally by whether <a href="/en/stock-management/outgoing-items">outgoing items</a> have been booked. Select one of the following comparison operators.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-outgoing-items-booked" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected values (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_payment_status">3.6. Payment status</h3>
<div class="paragraph">
<p>Filters the desired key figure and dimension additionally by the payment status.
Select one of the following comparison operators and then the desired status.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-payment-status" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected values (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_created">3.7. Created</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by creation date.
Select one of the following comparison operators and then the desired day.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected date on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_type">3.8. Order type</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several order types.
The available selection of order types depends on the selected key figure and dimension.
Select one of the following comparison operators and then the desired order types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-ordertype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected order types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected order types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected order types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Edition</h2>
<div class="sectionbody">
<div class="paragraph">
<p>How many and which key figures and corresponding dimensions you can create depends on the edition you have booked.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>New customers</em></strong>: Choose the appropriate plentyBI edition <a href="https://get.plentymarkets.com/" target="_blank" rel="noopener">while you order plentymarkets</a>.</p>
</li>
<li>
<p><strong><em>Existing customers</em></strong>: Choose the appropriate plentyBI edition <a href="/en/business-decisions/your-contract#30">in the "My account" area</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</main>