<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Calculation</span></a>
<ul class="sectlevel2">
<li><a href="#_number"><span>1.1.</span><span> Number</span></a></li>
<li><a href="#_sum_minutes"><span>1.2.</span><span> Sum minutes</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Dimension</span></a>
<ul class="sectlevel2">
<li><a href="#_created_at"><span>2.1.</span><span> Created at</span></a></li>
<li><a href="#_creation_date_user"><span>2.2.</span><span> Creation date &amp; user</span></a></li>
<li><a href="#_creation_date_tag"><span>2.3.</span><span> Creation date &amp; tag</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Filter</span></a>
<ul class="sectlevel2">
<li><a href="#_created_at_2"><span>3.1.</span><span> Created at</span></a></li>
<li><a href="#_done_at"><span>3.2.</span><span> Done at</span></a></li>
<li><a href="#_updated_at"><span>3.3.</span><span> Updated at</span></a></li>
<li><a href="#_deleted_at"><span>3.4.</span><span> Deleted at</span></a></li>
<li><a href="#_minutes"><span>3.5.</span><span> Minutes</span></a></li>
<li><a href="#_chargeable"><span>3.6.</span><span> Chargeable</span></a></li>
<li><a href="#_from_user"><span>3.7.</span><span> From user</span></a></li>
<li><a href="#_from_email"><span>3.8.</span><span> From email</span></a></li>
<li><a href="#_from_contact_id"><span>3.9.</span><span> From contact ID</span></a></li>
<li><a href="#_referrer"><span>3.10.</span><span> Referrer</span></a></li>
<li><a href="#_contact_id"><span>3.11.</span><span> Contact ID</span></a></li>
<li><a href="#_order_id"><span>3.12.</span><span> Order ID</span></a></li>
<li><a href="#_tag"><span>3.13.</span><span> Tag</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> Required raw data</span></a></li>
<li><a href="#500"><span>5.</span><span> Edition</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Messages</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the calculation types, dimensions and filters available to you for the key figure Messages.
This page is for reference purposes only and assumes that you already have basic knowledge about the <a href="/en/business-decisions/plenty-bi/myview-dashboard">plentyBI tool</a>.</p>
</div>
<div class="paragraph">
<p>plentymarkets calculates the key figure <strong>Messages</strong> based on the number of messages or the sum of minutes that were saved for the messages.</p>
</div>
<div class="paragraph">
<p>By choosing a <a href="/en/business-decisions/plenty-bi/key-figures/messages#100">calculation type</a>, you decide whether to calculate with the number of messages or the sum of minutes. In addition, select a <a href="/en/business-decisions/plenty-bi/key-figures/messages#200">dimension</a> and <a href="/en/business-decisions/plenty-bi/key-figures/messages#300">filters</a> to specify the criteria of the messages.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Calculation</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_number">1.1. Number</h3>
<div class="paragraph">
<p>The key figure Messages is calculated on the basis of the number. This way, you can see at a glance how many messages were created.</p>
</div>
</div>
<div class="sect2">
<h3 id="_sum_minutes">1.2. Sum minutes</h3>
<div class="paragraph">
<p>The key figure Messages is calculated on the basis of the sum of the minutes. This way, you can see at a glance how many minutes were saved for the messages in total.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Dimension</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_created_at">2.1. Created at</h3>
<div class="paragraph">
<p>The key figure Messages is displayed grouped by creation date. This means that the date on which the messages were created is considered in the calculation.</p>
</div>
</div>
<div class="sect2">
<h3 id="_creation_date_user">2.2. Creation date &amp; user</h3>
<div class="paragraph">
<p>The key figure Messages is displayed grouped by creation date and <a href="/en/business-decisions/user-accounts-access">user</a>. This way, you can see at a glance when the messages were created. A further differentiation is made according to the users of the messages.</p>
</div>
</div>
<div class="sect2">
<h3 id="_creation_date_tag">2.3. Creation date &amp; tag</h3>
<div class="paragraph">
<p>The key figure Messages is displayed grouped by creation date and <a href="/en/welcome/general-functions/tags">tags</a>. This way, you can see at a glance when the messages were created. A further differentiation is made according to the tags that are linked with the message.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Filter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filters allow you to narrow down the data calculated by the key figure.
How to add and combine filters is explained in the <a href="/en/business-decisions/plenty-bi/myview-dashboard">Dashboard (Beta)</a> section of the manual.</p>
</div>
<div class="sect2">
<h3 id="_created_at_2">3.1. Created at</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by the creation date the messages. Select one of the following comparison operators and then select the desired date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_done_at">3.2. Done at</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by the date on which the messages was completed. Select one of the following comparison operators and then select the desired date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-done-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_updated_at">3.3. Updated at</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by the date when the messages were last modified. Select one of the following comparison operators and then select the desired date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-updated-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_deleted_at">3.4. Deleted at</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by the date when the messages were deleted. Select one of the following comparison operators and then select the desired date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-deleted-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_minutes">3.5. Minutes</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by the number of minutes. Select one of the following comparison operators and then enter the desired number of minutes.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-minutes" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact minutes entered on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the minutes entered on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the minutes entered on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the minutes entered on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the minutes entered on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the minutes entered on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_chargeable">3.6. Chargeable</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by whether or not the messages were billed. Select the comparison operator <strong>Is equal to</strong> and activate the option <strong>Chargeable</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_from_user">3.7. From user</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several users. Select one of the following comparison operators and then the desired users (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-from-user" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact users selected on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the users selected on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the users selected on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the users selected on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_from_email">3.8. From email</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several email addresses. Select one of the following comparison operators and then enter the desired email address(es).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-from-email" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact email addresses entered on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the email addresses entered on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the email addresses entered on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the email addresses entered on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_from_contact_id">3.9. From contact ID</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several contact IDs. For this filter you can select the <a href="/en/crm/managing-contacts#200">contact IDs</a> that are available in your system. Select one of the following comparison operators and enter the desired contact IDs into the text field separated by comma.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-from-contact-id" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact contact IDs entered on the right. Use commas to separate multiple contact IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the contact IDs entered on the right. Use commas to separate multiple contact IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the contact IDs entered on the right. Use commas to separate multiple contact IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the contact IDs entered on the right. Use commas to separate multiple contact IDs.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_referrer">3.10. Referrer</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several referrers the messages. Select one of the following comparison operators and then the desired referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-referrer" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact referrers selected on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the referrers selected on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the referrers selected on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the referrers selected on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="paragraph">
<p>You can choose between the referrers <strong>Back end</strong>, <strong>Plugin</strong>, <strong>REST API</strong> and <strong>System</strong> for this filter.</p>
</div>
</div>
<div class="sect2">
<h3 id="_contact_id">3.11. Contact ID</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several contact IDs that are linked with the messages. For this filter you can select the <a href="/en/crm/managing-contacts#200">contact IDs</a> that are available in your system. Select one of the following comparison operators and enter the desired contact IDs into the text field separated by comma.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-contact-id" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact contact IDs entered on the right. Use commas to separate multiple contact IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the contact IDs entered on the right. Use commas to separate multiple contact IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the referrers selected on the right. Use commas to separate multiple contact IDs.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_id">3.12. Order ID</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several order IDs. For this filter you can select the <a href="/en/orders/managing-orders#1310">order IDs</a> that are available in your system. Select one of the following comparison operators and enter the desired order IDs into the text field separated by comma.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-order-id" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact order IDs entered on the right. Use commas to separate multiple order IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the order IDs entered on the right. Use commas to separate multiple order IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the referrers selected on the right. Use commas to separate multiple order IDs.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_tag">3.13. Tag</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several tags. For this filter you can select the <a href="/en/welcome/general-functions/tags">tags</a> that are available in your system. Select one of the following comparison operators and then the desired tags (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Relational operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-tag" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected tags on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected tags on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected tags on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected tags on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Required raw data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the key figure Messages, the following raw data have to be activated in your system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/business-decisions/plenty-bi/reports/data-formats/messages">messages</a></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: This is how you activate raw data</strong></div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » plentyBI » Raw data</strong>.</p>
</li>
<li>
<p>Activate (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) all required data. This may result in costs.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Edition</h2>
<div class="sectionbody">
<div class="paragraph">
<p>How many and which key figures and corresponding dimensions you can create depends on the edition you have booked.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>New customers</em></strong>: Choose the appropriate plentyBI edition <a href="https://get.plentymarkets.com/" target="_blank" rel="noopener">while you order plentymarkets</a>.</p>
</li>
<li>
<p><strong><em>Existing customers</em></strong>: Choose the appropriate plentyBI edition <a href="/en/business-decisions/your-contract#30">in the "My account" area</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</main>