<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Calculation</span></a>
<ul class="sectlevel2">
<li><a href="#_average"><span>1.1.</span><span> Average</span></a></li>
<li><a href="#_maximum"><span>1.2.</span><span> Maximum</span></a></li>
<li><a href="#_total"><span>1.3.</span><span> Total</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Dimension</span></a>
<ul class="sectlevel2">
<li><a href="#_creation_date"><span>2.1.</span><span> Creation date</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Filters</span></a>
<ul class="sectlevel2">
<li><a href="#_creation_date_2"><span>3.1.</span><span> Creation date</span></a></li>
<li><a href="#_service"><span>3.2.</span><span> Service</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> Required raw data</span></a></li>
<li><a href="#500"><span>5.</span><span> Tariff</span></a></li>
<li><a href="#600"><span>6.</span><span> Example calculation</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Usage</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>When you use the <a href="/en/data/change-history#100">change history</a>, the following costs are incurred based on usage:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>15 cents per 10,000 logged changes.</p>
</li>
<li>
<p>15 cents per 10,000 archived changes.</p>
</li>
<li>
<p>1 euro for requesting a file from the archive.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To know how much the change history costs, you first need to know how much it’s used.
With the help of this free key figure, you can view your usage any time.</p>
</div>
<div class="paragraph">
<p>This page explains the calculation types, dimensions and filters available to you for the key figure Usage.
This page is for reference purposes only and assumes that you already have basic knowledge about the <a href="/en/business-decisions/plenty-bi/myview-dashboard">plentyBI tool</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Calculation</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_average">1.1. Average</h3>
<div class="paragraph">
<p>The usage is calculated on the basis of the average. That means, the key figure displays the average number of loggable changes.</p>
</div>
</div>
<div class="sect2">
<h3 id="_maximum">1.2. Maximum</h3>
<div class="paragraph">
<p>The usage is calculated on the basis of the highest value. That means, the key figure displays the highest number of loggable changes so far.</p>
</div>
</div>
<div class="sect2">
<h3 id="_total">1.3. Total</h3>
<div class="paragraph">
<p>The usage is calculated on the basis of the total data. That means, the key figure displays the total number of loggable changes.</p>
</div>
<h5 id="_example_of_use" class="discrete">Example of use</h5>
<div class="paragraph">
<p>Are you curious how much the change history will cost you this month?
Proceed as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create a “usage” key figure and select the “total” calculation type.</p>
</li>
<li>
<p>In the <a href="/en/business-decisions/plenty-bi/myview-dashboard#400">dashboard</a>, create a tile to display the total number of changes this month.</p>
</li>
<li>
<p><a href="/en/business-decisions/plenty-bi/key-figures/usage#600">Calculate</a> your total costs for the month accordingly.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Dimension</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_creation_date">2.1. Creation date</h3>
<div class="paragraph">
<p>The usage is displayed grouped by creation date. This means that the date when the change was logged is considered in the calculation.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filters allow you to narrow down the data calculated by the key figure.
How to add and combine filters is explained in the <a href="/en/business-decisions/plenty-bi/myview-dashboard">Dashboard (Beta)</a> section of the manual.</p>
</div>
<div class="sect2">
<h3 id="_creation_date_2">3.1. Creation date</h3>
<div class="paragraph">
<p>Do you want to know how many changes were logged on a specific date or during a specific time period?
Use this filter to analyse your usage according to the date when the change was made.</p>
</div>
<div class="paragraph">
<p>Select one of the following comparison operators and then select the desired date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Comparison operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_service">3.2. Service</h3>
<div class="paragraph">
<p>Do you only want to analyse a specific aspect of the change history?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Service</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change history - Live changes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this filter to determine the number of logged changes in the <a href="/en/data/change-history#200">live search</a>.</p>
<p class="tableblock"><strong><em>Note</em></strong>:
Usage data is tallied up once a day.
This is done each night for the previous day.
So tonight for yesterday.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change history - Archive changes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this filter to determine the number of logged changes in the <a href="/en/data/change-history#1000">archive</a>.</p>
<p class="tableblock"><strong><em>Note</em></strong>:
Usage data is tallied up once a month.
So if you track your usage e.g. with a bar chart, you will notice a monthly spike when the archive data is calculated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change history - Archive requests</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this filter to see how often someone requested an <a href="/en/data/change-history#1000">archive file</a> for a fee.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Select one of the following comparison operators from the first drop-down list. Select the appropriate service from the second drop-down list.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators available for this filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Comparison operator</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact service selected on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the service selected on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Required raw data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>None.
Unlike other key figures, you don’t have to activate any raw data here.</p>
</div>
<div class="paragraph">
<p>However, since this key figure measures your use of the change history, you will only see data if you have <a href="/en/data/change-history#1100">activated the change history for your system</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Tariff</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This key figure is free of charge.
So you can use the key figure without having first booked a plentyBI tariff.</p>
</div>
<div class="paragraph">
<p>However, note that <em>other functions and key figures</em> cost money in the plentyBI tool.
Simply choose the right plentyBI-tariff with the help of the plentymarkets configurator.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>New customers</em></strong>: Choose the appropriate plentyBI-tariff <a href="https://get.plentymarkets.com/" target="_blank" rel="noopener">while you order plentymarkets</a>.</p>
</li>
<li>
<p><strong><em>Existing customers</em></strong>: Choose the appropriate plentyBI-tariff <a href="/en/business-decisions/your-contract#30">in the "My account" area</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Example calculation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you use the <a href="/en/data/change-history#100">change history</a>, the following costs are incurred based on usage:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>15 cents per 10,000 logged changes.</p>
</li>
<li>
<p>15 cents per 10,000 archived changes.</p>
</li>
<li>
<p>1 euro for requesting a file from the archive.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>So if you want to use plentymarkets in compliance with GoBD regulations - i.e. if you want to store relevant changes in plentymarkets for up to 11 years - then you will be charged 30 cents for every 10,000 changes.
The cost of a data package is only billed in the month in which it was logged.</p>
</div>
<div class="paragraph">
<p>On average, a system makes 177,000 loggable changes during one month.
This corresponds to an average of 18 packages (177,000 / 10,000 rounded up).
If the change history and archive are both activated, then the average cost per month is 18 * 0.15 * 2 = €5.40.</p>
</div>
</div>
</div>
</main>