<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Berechnung</span></a>
<ul class="sectlevel2">
<li><a href="#_gesamt"><span>1.1.</span><span> Gesamt</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Dimension</span></a>
<ul class="sectlevel2">
<li><a href="#_auftrag"><span>2.1.</span><span> Auftrag</span></a></li>
<li><a href="#_auftragsstatus_auftrag"><span>2.2.</span><span> Auftragsstatus, Auftrag</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Filter</span></a>
<ul class="sectlevel2">
<li><a href="#_mandant"><span>3.1.</span><span> Mandant</span></a></li>
<li><a href="#_auftragsherkunft"><span>3.2.</span><span> Auftragsherkunft</span></a></li>
<li><a href="#_auftragsstatus"><span>3.3.</span><span> Auftragsstatus</span></a></li>
<li><a href="#_lager"><span>3.4.</span><span> Lager</span></a></li>
<li><a href="#_warenausgang_gebucht"><span>3.5.</span><span> Warenausgang gebucht</span></a></li>
<li><a href="#_zahlungsstatus"><span>3.6.</span><span> Zahlungsstatus</span></a></li>
<li><a href="#_erstellt"><span>3.7.</span><span> Erstellt</span></a></li>
<li><a href="#_auftragstyp"><span>3.8.</span><span> Auftragstyp</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> Tarif</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aufträge (Live)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Berechnungen, Dimensionen und Filter, die dir für die Kennzahl Aufträge (Live) zur Verfügung stehen.
Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/business-entscheidungen/plenty-bi/myview-dashboard">plentyBI-Tool</a> hast.</p>
</div>
<div class="paragraph">
<p>plentymarkets berechnet die Liveanzahl der Aufträge, indem die Aufträge und der Auftragsstatus in Echtzeit anhand der Datenbank überprüft und geladen werden.<br>
Wähle zusätzlich eine <a href="/business-entscheidungen/plenty-bi/kennzahlen/auftraege-live#200">Dimension</a> um festzulegen, wie das Ergebnis aufgeschlüsselt werden soll.
Setze außerdem <a href="/business-entscheidungen/plenty-bi/kennzahlen/auftraege-live#300">Filter</a> um zu konkretisieren, nach welchen Kriterien die Aufträge berechnet und dargestellt werden sollen.
Beachte, dass die Aufträge gezählt werden, die du im Filter <strong>Auftragstyp</strong> definierst. Setzt du diesen Filter nicht, werden alle Auftragstypen genommen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Berechnung</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_gesamt">1.1. Gesamt</h3>
<div class="paragraph">
<p>Die Kennzahl Aufträge (Live) wird auf der Grundlage aller zur Verfügung stehenden Daten berechnet. Das bedeutet, dass die Aufträge gemäß der gewählten Dimension und den Filtern zusammengerechnet und in Echtzeit dargestellt werden.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Dimension</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_auftrag">2.1. Auftrag</h3>
<div class="paragraph">
<p>Die Auftragsanzahl wird in Echtzeit angezeigt. Die Daten werden live aus der Datenbank genommen. Es werden alle Auftragstypen eingerechnet, wenn du den Filter <strong>Auftragstyp</strong> nicht setzt und keine Auswahl triffst.</p>
</div>
</div>
<div class="sect2">
<h3 id="_auftragsstatus_auftrag">2.2. Auftragsstatus, Auftrag</h3>
<div class="paragraph">
<p>Es wird in Echtzeit angezeigt, wie viele Aufträge sich in den verschiedenen Auftragsstatus befinden. Die Daten werden aus der Datenbank gezogen. Es werden alle Auftragsstatus eingerechnet, wenn du den Filter <strong>Auftragsstatus</strong> nicht setzt und keine Auswahl triffst.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Filter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filter ermöglichen es dir, die von der Kennzahl berechneten Daten genauer einzugrenzen.
Wie du Filter hinzufügen und kombinieren kannst, wird auf der <a href="/business-entscheidungen/plenty-bi/myview-dashboard">Dashboard (Beta)</a> Seite des Handbuchs beschrieben.</p>
</div>
<div class="sect2">
<h3 id="_mandant">3.1. Mandant</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Mandanten.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/webshop/mandanten-verwalten">Mandanten</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Mandanten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-client" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Mandanten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Mandanten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_auftragsherkunft">3.2. Auftragsherkunft</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einer oder mehreren Auftragsherkünften.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/auftraege/auftragsherkunft">Auftragsherkünfte</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-order-referrer" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Auftragsherkünften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Auftragsherkünften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einer der rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keiner</em> der rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liegt zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die zwischen den rechts gewählten Werten für die ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) liegen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_auftragsstatus">3.3. Auftragsstatus</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Auftragsstatus.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/auftraege/auftraege-verwalten#1200#">Auftragsstatus</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="paragraph">
<p><em>Beachte</em>, dass alle Auftragsstatus angezeigt werden, wenn du hier keine Auswahl triffst.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-orderstatus" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liegt zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die zwischen den rechts gewählten Werten für die ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) liegen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_lager">3.4. Lager</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Lagern.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/warenwirtschaft/lager-einrichten">Lager</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Lager (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="paragraph">
<p>Beachte, dass beim Setzen dieses Filters Hauptaufträge rausgefiltert werden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-warehouse" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Lager (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Lager (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_warenausgang_gebucht">3.5. Warenausgang gebucht</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich danach, ob der <a href="/warenwirtschaft/waren-ausbuchen">Warenausgang</a> gebucht wurde. Wähle einen der folgenden Vergleichsoperatoren aus.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-date-outgoing-items" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Werten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_zahlungsstatus">3.6. Zahlungsstatus</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach dem Zahlungsstatus.
Wähle einen der folgenden Vergleichsoperatoren aus und dann den gewünschten Status.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-payment-status" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Werten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_erstellt">3.7. Erstellt</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach dem Erstellungsdatum.
Wähle einen der folgenden Vergleichsoperatoren aus und dann den gewünschten Tag.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts gewählten Daten entsprechen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_auftragstyp">3.8. Auftragstyp</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Auftragstypen.
Die zur Verfügung stehende Auswahl der Auftragstypen ist abhängig von der gewählten Kennzahl und Dimension.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Auftragstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-ordertype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Auftragstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Auftragstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Tarif</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie viele und welche Kennzahlen und dazugehörige Dimensionen du anlegen kannst, hängt davon ab, welchen plentyBI-Tarif du gebucht hast.
<a href="https://get.plentymarkets.com/" target="_blank" rel="noopener">Buche ganz einfach den passenden plentyBI-Tarif</a> mit Hilfe des plentymarkets Konfigurators.</p>
</div>
</div>
</div>
</main>