<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Dimension</span></a>
<ul class="sectlevel2">
<li><a href="#_erstellungsdatum"><span>1.1.</span><span> Erstellungsdatum</span></a></li>
<li><a href="#_rechnungsland_erstellungsdatum"><span>1.2.</span><span> Rechnungsland, Erstellungsdatum</span></a></li>
<li><a href="#_lieferland_erstellungsdatum"><span>1.3.</span><span> Lieferland, Erstellungsdatum</span></a></li>
<li><a href="#_warenausgangsdatum"><span>1.4.</span><span> Warenausgangsdatum</span></a></li>
<li><a href="#_auftragsherkunft_erstellungsdatum"><span>1.5.</span><span> Auftragsherkunft, Erstellungsdatum</span></a></li>
<li><a href="#_artikelkategorie_erstellungsdatum"><span>1.6.</span><span> Artikelkategorie, Erstellungsdatum</span></a></li>
<li><a href="#_lager_erstellungsdatum"><span>1.7.</span><span> Lager, Erstellungsdatum</span></a></li>
<li><a href="#_mandant_erstellungsdatum"><span>1.8.</span><span> Mandant, Erstellungsdatum</span></a></li>
<li><a href="#_hersteller_erstellungsdatum"><span>1.9.</span><span> Hersteller, Erstellungsdatum</span></a></li>
<li><a href="#_retourengrund_erstellungsdatum"><span>1.10.</span><span> Retourengrund, Erstellungsdatum</span></a></li>
<li><a href="#_zahlungsart_erstellungsdatum"><span>1.11.</span><span> Zahlungsart, Erstellungsdatum</span></a></li>
<li><a href="#_zahlungsdatum"><span>1.12.</span><span> Zahlungsdatum</span></a></li>
<li><a href="#_auftragsherkunft_zahlungsdatum"><span>1.13.</span><span> Auftragsherkunft, Zahlungsdatum</span></a></li>
<li><a href="#_lager_zahlungsdatum"><span>1.14.</span><span> Lager, Zahlungsdatum</span></a></li>
<li><a href="#_mandant_zahlungsdatum"><span>1.15.</span><span> Mandant, Zahlungsdatum</span></a></li>
<li><a href="#_auftragsherkunft_warenausgangsdatum"><span>1.16.</span><span> Auftragsherkunft, Warenausgangsdatum</span></a></li>
<li><a href="#_lager_warenausgangsdatum"><span>1.17.</span><span> Lager, Warenausgangsdatum</span></a></li>
<li><a href="#_mandant_warenausgangsdatum"><span>1.18.</span><span> Mandant, Warenausgangsdatum</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Filter</span></a>
<ul class="sectlevel2">
<li><a href="#_mandant"><span>2.1.</span><span> Mandant</span></a></li>
<li><a href="#_auftragsherkunft"><span>2.2.</span><span> Auftragsherkunft</span></a></li>
<li><a href="#_auftragstyp"><span>2.3.</span><span> Auftragstyp</span></a></li>
<li><a href="#_auftragsstatus"><span>2.4.</span><span> Auftragsstatus</span></a></li>
<li><a href="#_typ_der_auftragseigenschaft"><span>2.5.</span><span> Typ der Auftragseigenschaft</span></a></li>
<li><a href="#_wert_der_auftragseigenschaft"><span>2.6.</span><span> Wert der Auftragseigenschaft</span></a></li>
<li><a href="#_artikel_id"><span>2.7.</span><span> Artikel-ID</span></a></li>
<li><a href="#_auftragspositionstyp"><span>2.8.</span><span> Auftragspositionstyp</span></a></li>
<li><a href="#_erlöskonto"><span>2.9.</span><span> Erlöskonto</span></a></li>
<li><a href="#_rechnungsland"><span>2.10.</span><span> Rechnungsland</span></a></li>
<li><a href="#_lieferland"><span>2.11.</span><span> Lieferland</span></a></li>
<li><a href="#_warenausgang_gebucht"><span>2.12.</span><span> Warenausgang gebucht</span></a></li>
<li><a href="#_zahlungsstatus"><span>2.13.</span><span> Zahlungsstatus</span></a></li>
<li><a href="#_lager"><span>2.14.</span><span> Lager</span></a></li>
<li><a href="#_amazon_konto"><span>2.15.</span><span> Amazon-Konto</span></a></li>
<li><a href="#_ebay_konto"><span>2.16.</span><span> eBay-Konto</span></a></li>
<li><a href="#_versandprofil"><span>2.17.</span><span> Versandprofil</span></a></li>
<li><a href="#_erstellt_am"><span>2.18.</span><span> Erstellt am</span></a></li>
<li><a href="#_bezahlt_am"><span>2.19.</span><span> Bezahlt am</span></a></li>
<li><a href="#_warenausgangsdatum_2"><span>2.20.</span><span> Warenausgangsdatum</span></a></li>
<li><a href="#_zahlungsart"><span>2.21.</span><span> Zahlungsart</span></a></li>
<li><a href="#_hersteller"><span>2.22.</span><span> Hersteller</span></a></li>
<li><a href="#_retourengrund"><span>2.23.</span><span> Retourengrund</span></a></li>
<li><a href="#_kontakt_id"><span>2.24.</span><span> Kontakt-ID</span></a></li>
</ul>
</li>
<li><a href="#400"><span>3.</span><span> Benötigte Rohdaten</span></a></li>
<li><a href="#500"><span>4.</span><span> Tarif</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Umsatzsteuer gesamt</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Berechnungen, Dimensionen und Filter, die dir für die Kennzahl Umsatzstsuer gesamt zur Verfügung stehen.
Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/business-entscheidungen/plenty-bi/myview-dashboard">plentyBI-Tool</a> hast.</p>
</div>
<div class="paragraph">
<p>plentymarkets berechnet die Umsatzsteuer gesamt, indem die Nettopreise der Auftragspositionen von den jeweiligen Bruttopreisen der Auftragspositionen abgezogen werden.
Die Ergebnisse daraus werden zusammengerechnet:<br>
<em>(Bruttopreis - Nettopreis) = Steuerbetrag</em><br>
<em>∑ Steuerbetrag = Umsatzsteuer gesamt</em><br>
Wähle zusätzlich eine <a href="/business-entscheidungen/plenty-bi/kennzahlen/umsatzsteuer-gesamt#100">Dimension</a> um festzulegen, wie das Ergebnis aufgeschlüsselt werden soll.
Setze außerdem <a href="/business-entscheidungen/plenty-bi/kennzahlen/umsatzsteuer-gesamt#200">Filter</a> um zu konkretisieren, nach welchen Kriterien die Umsatzsteuer gesamt berechnet werden soll.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Dimension</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_erstellungsdatum">1.1. Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach Erstellungsdatum gruppiert dargestellt. Bei der Berechnung wird dementsprechend das Datum, an dem die Aufträge erstellt wurden, einbezogen.</p>
</div>
</div>
<div class="sect2">
<h3 id="_rechnungsland_erstellungsdatum">1.2. Rechnungsland, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach Rechnungsland und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Rechnungsland ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_lieferland_erstellungsdatum">1.3. Lieferland, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/fulfillment/versand-vorbereiten#100">Lieferland</a> und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Lieferland ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_warenausgangsdatum">1.4. Warenausgangsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach Warenausgangsdatum gruppiert dargestellt. Bei der Berechnung wird dementsprechend das Datum, an dem die Waren für Aufträge versandt wurden, einbezogen.</p>
</div>
</div>
<div class="sect2">
<h3 id="_auftragsherkunft_erstellungsdatum">1.5. Auftragsherkunft, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/auftraege/auftragsherkunft">Auftragsherkunft</a> und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Auftragsherkunft ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_artikelkategorie_erstellungsdatum">1.6. Artikelkategorie, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/artikel/einstellungen/kategorien">Artikelkategorie</a> und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Artikelkategorie ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_lager_erstellungsdatum">1.7. Lager, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/warenwirtschaft/lager-einrichten">Lager</a> und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Lager ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_mandant_erstellungsdatum">1.8. Mandant, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/webshop/mandanten-verwalten">Mandant</a> und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Mandant ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_hersteller_erstellungsdatum">1.9. Hersteller, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/artikel/einstellungen/hersteller">Hersteller</a> und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Hersteller ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_retourengrund_erstellungsdatum">1.10. Retourengrund, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/auftraege/auftraege-verwalten#400">Retourengrund</a> und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Retourengrund ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_zahlungsart_erstellungsdatum">1.11. Zahlungsart, Erstellungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="#payment/zahlungsarten-verwalten">Zahlungsart</a> und Erstellungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Zahlungsart ergibt. Differenziert wird zusätzlich nach Erstellungsdatum der Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_zahlungsdatum">1.12. Zahlungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach Zahlungsdatum gruppiert dargestellt. Bei der Berechnung wird dementsprechend das Datum, an dem den Aufträgen eine Zahlung zugeordnet wurde, einbezogen.</p>
</div>
</div>
<div class="sect2">
<h3 id="_auftragsherkunft_zahlungsdatum">1.13. Auftragsherkunft, Zahlungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/auftraege/auftragsherkunft">Auftragsherkunft</a> und Zahlungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Auftragsherkunft ergibt. Differenziert wird zusätzlich nach dem Datum, an dem einem Auftrag eine Zahlung zugeordnet wurde.</p>
</div>
</div>
<div class="sect2">
<h3 id="_lager_zahlungsdatum">1.14. Lager, Zahlungsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/warenwirtschaft/lager-einrichten">Lager</a> und Zahlungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Lager ergibt. Differenziert wird zusätzlich nach dem Datum, an dem einem Auftrag eine Zahlung zugeordnet wurde.</p>
</div>
</div>
<div class="sect2">
<h3 id="_mandant_zahlungsdatum">1.15. Mandant, Zahlungsdatum</h3>
<div class="paragraph">
<p>Die Aufträge wird nach <a href="/webshop/mandanten-verwalten">Mandant</a> und Zahlungsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Mandant ergibt. Differenziert wird zusätzlich nach dem Datum, an dem einem Auftrag eine Zahlung zugeordnet wurde.</p>
</div>
</div>
<div class="sect2">
<h3 id="_auftragsherkunft_warenausgangsdatum">1.16. Auftragsherkunft, Warenausgangsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/auftraege/auftragsherkunft">Auftragsherkunft</a> und Warenausgangsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Auftragsherkunft ergibt. Differenziert wird zusätzlich nach dem Datum, an dem die Waren für die Aufträge versandt wurden.</p>
</div>
</div>
<div class="sect2">
<h3 id="_lager_warenausgangsdatum">1.17. Lager, Warenausgangsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/warenwirtschaft/lager-einrichten">Lager</a> und Warenausgangsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Lager ergibt. Differenziert wird zusätzlich nach dem Datum, an dem die Waren für die Aufträge versandt wurden.</p>
</div>
</div>
<div class="sect2">
<h3 id="_mandant_warenausgangsdatum">1.18. Mandant, Warenausgangsdatum</h3>
<div class="paragraph">
<p>Die Umsatzsteuer gesamt wird nach <a href="/webshop/mandanten-verwalten">Mandant</a> und Warenausgangsdatum gruppiert dargestellt. So erkennst du auf einen Blick, wie viel Umsatzsteuer sich aufgeschlüsselt nach Mandant ergibt. Differenziert wird zusätzlich nach dem Datum, an dem die Waren für die Aufträge versandt wurden.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Filter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filter ermöglichen es dir, die von der Kennzahl berechneten Daten genauer einzugrenzen.
Wie du Filter hinzufügen und kombinieren kannst, wird auf der <a href="/business-entscheidungen/plenty-bi/myview-dashboard">Dashboard (Beta)</a> Seite des Handbuchs beschrieben.</p>
</div>
<div class="sect2">
<h3 id="_mandant">2.1. Mandant</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Mandanten.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/webshop/mandanten-verwalten">Mandanten</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Mandanten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-client" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Mandanten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Mandanten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_auftragsherkunft">2.2. Auftragsherkunft</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einer oder mehreren Auftragsherkünften.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/auftraege/auftragsherkunft">Auftragsherkünfte</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-order-referrer" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Auftragsherkünften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Auftragsherkünften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einer der rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keiner</em> der rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liegt zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die zwischen den rechts gewählten Werten für die ausgewählten Auftragsherkünfte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) liegen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_auftragstyp">2.3. Auftragstyp</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Auftragstypen.
Die zur Verfügung stehende Auswahl der Auftragstypen ist abhängig von der gewählten Kennzahl und Dimension.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Auftragstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="paragraph">
<p><em>Beachte</em>, dass die Umsatzsteuerbeträge von Gutschriften und Retouren vom Gesamtumsatzsteuerbetrag abgezogen werden, wenn du diese Auftragstypen im Filter auswählst.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-ordertype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Auftragstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Auftragstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Auftragstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_auftragsstatus">2.4. Auftragsstatus</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Auftragsstatus.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/auftraege/auftraege-verwalten#1200#">Auftragsstatus</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-orderstatus" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liegt zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die zwischen den rechts gewählten Werten für die ausgewählten Auftragsstatus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) liegen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_typ_der_auftragseigenschaft">2.5. Typ der Auftragseigenschaft</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach Auftragseigenschaftstypen.
Wähle einen der folgenden Vergleichsoperatoren aus und dann den gewünschten Auftragseigenschaftstyp (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
Möchtest du den ausgewählten Typ weiter eingrenzen, nutze zusätzlich den Filter <strong>Wert der Auftragseigenschaft</strong>. Durch zusätzliches Setzen dieses Filters kannst du eigene Werte definieren, die dann auf den Typ angewendet werden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-order-property-type" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Typen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Typen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Typen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Typen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_wert_der_auftragseigenschaft">2.6. Wert der Auftragseigenschaft</h3>
<div class="paragraph">
<p>Wird in Verbindung mit dem Filter <strong>Typ der Auftragseigenschaft</strong> verwendet. Diese Kombination filtert die ausgewählte Kennzahl und Dimension dann zusätzlich nach den selbst festgelegten Werten der Auftragseigenschaft.
Wähle einen der folgenden Vergleichsoperatoren aus und gib die entsprechende Werte für den ausgewählten Auftragseigenschaftstyp ein. Eine kommaseparierte Eingabe von mehreren Werten ist möglich.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-order-property-value" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts eingegebenen Werte entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts eingegebenen Werte entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts eingegebenen Werten entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts eingegebenen Werten entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_artikel_id">2.7. Artikel-ID</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einer oder mehreren Artikel-IDs.
Wähle einen der folgenden Vergleichsoperatoren aus und gib die gewünschten Artikel-IDs kommasepariert in das Textfeld ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-itemid" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts eingegebenen Werte entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts eingegebenen Werte entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einer der rechts eingegebenen Artikel-IDs entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keiner</em> der rechts eingegebenen Artikel-IDs entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_auftragspositionstyp">2.8. Auftragspositionstyp</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Auftragspositionstypen.
Die zur Verfügung stehende Auswahl der Auftragspositionstypen ist abhängig von der gewählten Kennzahl und Dimension.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Auftragspositionstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-orderitemtype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Auftragspositionstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Auftragspositionstypen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_erlöskonto">2.9. Erlöskonto</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach Erlöskonten.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/auftraege/buchhaltung#800">Erlöskonten</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und gib dann das gewünschte Erlöskonto an.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-revenue-account" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts eingegebenen Erlöskonten entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts eingegebenen Erlöskonten entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts eingegebenen Erlöskonten entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts eingegebenen Erlöskonten entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_rechnungsland">2.10. Rechnungsland</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Rechnungsländern.
Zur Auswahl stehen dir für diesen Filter die in deinem System hinterlegten Länder.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Rechnungsländer (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-invoice-countries" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Rechnungsländern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Rechnungsländern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Rechnungsländern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Rechnungsländern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_lieferland">2.11. Lieferland</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Lieferländern.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/fulfillment/versand-vorbereiten#100">Lieferländer</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Lieferländer (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-delivery-countries" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Lieferländern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Lieferländern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Lieferländern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Lieferländern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_warenausgang_gebucht">2.12. Warenausgang gebucht</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich danach, ob der <a href="/warenwirtschaft/waren-ausbuchen">Warenausgang</a> gebucht wurde. Wähle einen der folgenden Vergleichsoperatoren aus.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-outgoing-items-booked" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Werten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_zahlungsstatus">2.13. Zahlungsstatus</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach dem Zahlungsstatus.
Wähle einen der folgenden Vergleichsoperatoren aus und dann den gewünschten Status.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-payment-status" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Werten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_lager">2.14. Lager</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Lagern.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/warenwirtschaft/lager-einrichten">Lager</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Lager (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-warehouse" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Lager (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Lager (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_amazon_konto">2.15. Amazon-Konto</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Amazon-Konten. Zur Auswahl stehen dir für diesen Filter die in deinem System gespeicherten Amazon-Konten. Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Konten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-amazon-account" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Amazon-Konten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Amazon-Konten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_ebay_konto">2.16. eBay-Konto</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren eBay-Konten. Zur Auswahl stehen dir für diesen Filter die in deinem System gespeicherten eBay-Konten. Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Konten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-ebay-account" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten eBay-Konten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten eBay-Konten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_versandprofil">2.17. Versandprofil</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Versandprofilen.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Versandprofile (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-shipping-profile" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Versandprofile (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Versandprofile (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_erstellt_am">2.18. Erstellt am</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach dem Erstellungsdatum der Aufträge. Wähle einen der folgenden Vergleichsoperatoren aus und wähle dann das gewünschte Datum aus dem Kalender (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts gewählten Terminen (<span class="icon "><i class="fa fa-calendar  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liegt zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die zwischen den rechts gewählten Werten für die gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) liegen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind.</p>
<p class="tableblock">Unresolved directive in &lt;stdin&gt; - include::../…​/_textblocks/plentyBI-operators/kleiner-als.adoc[]</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_bezahlt_am">2.19. Bezahlt am</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach dem Datum des Zahlungseingangs. Wähle einen der folgenden Vergleichsoperatoren aus und wähle dann das gewünschte Datum aus dem Kalender (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-paid-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts gewählten Terminen (<span class="icon "><i class="fa fa-calendar  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liegt zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die zwischen den rechts gewählten Werten für die gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) liegen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_warenausgangsdatum_2">2.20. Warenausgangsdatum</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach dem Datum, an dem der <a href="/warenwirtschaft/waren-ausbuchen">Warenausgang</a> gebucht wurde. Wähle einen der folgenden Vergleichsoperatoren aus und wähle dann das gewünschte Datum aus dem Kalender (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-items-booked-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts gewählten Terminen (<span class="icon "><i class="fa fa-calendar  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liegt zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die zwischen den rechts gewählten Werten für die gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) liegen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_zahlungsart">2.21. Zahlungsart</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einer oder mehreren Zahlungsarten.
Zur Auswahl stehen dir für diesen Filter die in deinem System eingerichteten Zahlungsarten.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Zahlungsarten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-payment-method" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einer der rechts ausgewählten Zahlungsarten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keiner</em> der rechts ausgewählten Zahlungsarten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Zahlungsarten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Zahlungsarten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_hersteller">2.22. Hersteller</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Herstellern.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/artikel/einstellungen/hersteller">Herstellerdatensätze</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Herstellerdatensätze (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-producer" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Hersteller (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Hersteller (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Herstellern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Herstellern (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_retourengrund">2.23. Retourengrund</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einem oder mehreren Retourengründen.
Zur Auswahl stehen dir für diesen Filter die in deinem System angelegten <a href="/auftraege/auftraege-verwalten#400">Retourengründe</a>.
Wähle einen der folgenden Vergleichsoperatoren aus und dann die gewünschten Retourengründe (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-returnreason" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einem der rechts ausgewählten Retourengründe (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keinem</em> der rechts ausgewählten Retourengründe (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Retourengründen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Retourengründen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_kontakt_id">2.24. Kontakt-ID</h3>
<div class="paragraph">
<p>Filtert die ausgewählte Kennzahl und Dimension zusätzlich nach einer oder mehreren Kontakt-IDs. Zur Auswahl stehen dir für diesen Filter die in deinem System verfügbaren <a href="/crm/kontakte-verwalten#200">Kontakt-IDs</a>. Wähle einen der folgenden Vergleichsoperatoren aus und gib die gewünschten Kontakt-IDs kommasepariert in das Textfeld ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-contactid" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts ausgewählten Retourengründen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts ausgewählten Retourengründen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht einem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die mindestens einer der rechts eingegebenen Kontakt-IDs entsprechen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Entspricht keinem dieser Werte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>keiner</em> der rechts eingegebenen Kontakt-IDs entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Benötigte Rohdaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Kennzahl Umsatzsteuer gesamt müssen die folgenden Rohdaten in deinem plentymarkets System aktiviert sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/business-entscheidungen/plenty-bi/reports/datenformate/orders">orders</a></p>
</li>
<li>
<p><a href="/business-entscheidungen/plenty-bi/reports/datenformate/orderItems">orderItems</a></p>
</li>
<li>
<p><a href="/business-entscheidungen/plenty-bi/reports/datenformate/orderItemAmounts">orderItemAmounts</a></p>
</li>
<li>
<p><a href="/business-entscheidungen/plenty-bi/reports/datenformate/orderProperties">orderProperties</a></p>
</li>
<li>
<p><a href="/business-entscheidungen/plenty-bi/reports/datenformate/itemvariations">itemVariations</a></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So aktivierst du Rohdaten</strong></div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » plentyBI » Rohdaten</strong>.</p>
</li>
<li>
<p>Aktiviere (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) alle notwendigen Daten. Dadurch können ggf. Kosten entstehen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">4. Tarif</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie viele und welche Kennzahlen und dazugehörige Dimensionen du anlegen kannst, hängt davon ab, welchen plentyBI-Tarif du gebucht hast.
<a href="https://get.plentymarkets.com/" target="_blank" rel="noopener">Buche ganz einfach den passenden plentyBI-Tarif</a> mit Hilfe des plentymarkets Konfigurators.</p>
</div>
</div>
</div>
</main>