<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Berechnung</span></a>
<ul class="sectlevel2">
<li><a href="#_durchschnitt"><span>1.1.</span><span> Durchschnitt</span></a></li>
<li><a href="#_maximum"><span>1.2.</span><span> Maximum</span></a></li>
<li><a href="#_summe"><span>1.3.</span><span> Summe</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Dimension</span></a>
<ul class="sectlevel2">
<li><a href="#_erstellungsdatum"><span>2.1.</span><span> Erstellungsdatum</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Filter</span></a>
<ul class="sectlevel2">
<li><a href="#_erstellungsdatum_2"><span>3.1.</span><span> Erstellungsdatum</span></a></li>
<li><a href="#_service"><span>3.2.</span><span> Service</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> Benötigte Rohdaten</span></a></li>
<li><a href="#500"><span>5.</span><span> Tarif</span></a></li>
<li><a href="#600"><span>6.</span><span> Beispielrechnung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verbrauch</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du die <a href="/daten/aenderungshistorie#100">Änderungshistorie</a> verwendest, fallen verbrauchsabhängig die folgenden Kosten an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>15 Cent pro angefangenen 10.000 geloggten Änderungen.</p>
</li>
<li>
<p>15 Cent pro angefangenen 10.000 archivierten Änderungen.</p>
</li>
<li>
<p>1 Euro für das Anfordern einer Datei aus dem Archiv.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Um zu wissen, wie viel dich die Änderungshistorie kostet, musst du also zuerst deinen Verbrauch kennen.
Mit Hilfe dieser kostenlosen Kennzahl kannst du deinen Verbrauch jederzeit tagesaktuell einsehen.</p>
</div>
<div class="paragraph">
<p>Diese Seite erläutert die Berechnungen, Dimensionen und Filter, die dir für die Kennzahl Verbrauch zur Verfügung stehen.
Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/business-entscheidungen/plenty-bi/myview-dashboard">plentyBI-Tool</a> hast.</p>
</div>
<div class="videoblock">
<div class="title">Lerne die Kennzahl "Verbrauch" kennen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/521383716" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Berechnung</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_durchschnitt">1.1. Durchschnitt</h3>
<div class="paragraph">
<p>Der Verbrauch wird auf der Grundlage des Durchschnitts berechnet. Das heißt, die Kennzahl gibt die durchschnittliche Anzahl der loggbaren Änderungen aus.</p>
</div>
</div>
<div class="sect2">
<h3 id="_maximum">1.2. Maximum</h3>
<div class="paragraph">
<p>Der Verbrauch wird auf der Grundlage des Höchstwerts berechnet. Das heißt, die Kennzahl gibt die bisher höchste Anzahl an loggbaren Änderungen aus.</p>
</div>
</div>
<div class="sect2">
<h3 id="_summe">1.3. Summe</h3>
<div class="paragraph">
<p>Der Verbrauch wird auf der Grundlage der Gesamtdaten berechnet. Das heißt, die Kennzahl gibt die Gesamtzahl aller loggbaren Änderungen aus.</p>
</div>
<h5 id="_anwendungsbeispiel" class="discrete">Anwendungsbeispiel</h5>
<div class="paragraph">
<p>Bist du neugierig, wie viel dich die Änderungshistorie diesen Monat kosten wird?
Gehe wie folgt vor:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Erstelle eine Verbrauch-Kennzahl und wähle die Summenberechnung.</p>
</li>
<li>
<p>Erstelle im <a href="/business-entscheidungen/plenty-bi/myview-dashboard#400">Dashboard</a> z.B. eine Kachel, die die Gesamtzahl der Änderungen in diesem Monat anzeigt.</p>
</li>
<li>
<p><a href="/business-entscheidungen/plenty-bi/kennzahlen/verbrauch#600">Berechne</a> entsprechend deine Gesamtkosten für diesen Monat.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Dimension</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_erstellungsdatum">2.1. Erstellungsdatum</h3>
<div class="paragraph">
<p>Der Verbrauch wird nach Erstellungsdatum gruppiert dargestellt. Bei der Berechnung wird dementsprechend das Datum, an dem die Änderung geloggt wurde, einbezogen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Filter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filter ermöglichen es dir, die von der Kennzahl berechneten Daten genauer einzugrenzen.
Wie du Filter hinzufügen und kombinieren kannst, wird auf der <a href="/business-entscheidungen/plenty-bi/myview-dashboard">Dashboard (Beta)</a> Seite des Handbuchs beschrieben.</p>
</div>
<div class="sect2">
<h3 id="_erstellungsdatum_2">3.1. Erstellungsdatum</h3>
<div class="paragraph">
<p>Willst du wissen, wie viele Änderungen an einem bestimmten Datum oder während eines bestimmten Zeitraums geloggt wurden?
Verwende diesen Filter, um deinen Verbrauch anhand des Erstellungsdatums der Änderung zu analysieren.</p>
</div>
<div class="paragraph">
<p>Wähle einen der folgenden Vergleichsoperatoren aus und wähle dann das gewünschte Datum aus dem Kalender (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts gewählten Terminen (<span class="icon "><i class="fa fa-calendar  "></i></span>) entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liegt zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die zwischen den rechts gewählten Werten für die gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) liegen. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als oder gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt; =</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind oder genau diesem Wert entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Größer als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die größer als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kleiner als</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die kleiner als die rechts gewählten Termine (<span class="icon "><i class="fa fa-calendar  "></i></span>) sind.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_service">3.2. Service</h3>
<div class="paragraph">
<p>Willst du nur einen bestimmten Aspekt der Änderungshistorie untersuchen?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Service</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Änderungshistorie - Live Änderungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende diesen Filter, um die Anzahl der geloggten Änderungen in der <a href="/daten/aenderungshistorie#200">Live-Suche</a> zu ermitteln.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
Die Verbrauchsdaten werden einmal pro Tag berechnet.
Dies passiert jeden Abend für den Vortag.
Also heute Abend für gestern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Änderungshistorie - Archiv Änderungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende diesen Filter, um die Anzahl der geloggten Änderungen im <a href="/daten/aenderungshistorie#1000">Archiv</a> zu ermitteln.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
Die Verbrauchsdaten werden einmal im Monat berechnet.
Wenn du also deinen Verbrauch z.B. mit Hilfe eines Balkendiagramms verfolgst, siehst du einmal im Monat eine Spitze, wenn die Archivdaten gezählt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Änderungshistorie - Archiv Anforderung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende diesen Filter, um zu sehen, wie oft jemand eine kostenpflichtige <a href="/daten/aenderungshistorie#1000">Archivdatei</a> angefordert hat.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wähle einen der folgenden Vergleichsoperatoren aus der ersten Dropdown-Liste aus. Wähle den gewünschten Dienst aus der zweiten Dropdown-Liste aus.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Vergleichsoperatoren für diesen Filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Vergleichsoperator</th>
<th class="tableblock halign-left valign-top">Zeichen</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die genau den rechts gewählten Dienst entsprechen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ist nicht gleich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In die Auswertung fließen Daten ein, die <em>nicht</em> den rechts gewählten Dienst entsprechen. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Benötigte Rohdaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Keine.
Im Gegensatz zu anderen Kennzahlen musst du hier keine Rohdaten aktivieren.</p>
</div>
<div class="paragraph">
<p>Da diese Kennzahl jedoch dein Verbrauch der Änderungshistorie ermittelt, wirst du nur Daten sehen, wenn du die <a href="/daten/aenderungshistorie#1100">Änderungshistorie für dein System aktiviert</a> hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Tarif</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dies ist eine kostenlose Kennzahl.
Du kannst also die Kennzahl verwenden, ohne vorher einen plentyBI-Tarif gebucht zu haben.</p>
</div>
<div class="paragraph">
<p>Beachte jedoch, dass <em>andere Funktionen und Kennzahlen</em> des plentyBI-Tools kostenpflichtig sind.
Buche ganz einfach den passenden plentyBI-Tarif mit Hilfe des plentymarkets Konfigurators.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Neukunden</em></strong>: Buche den passenden plentyBI-Tarif <a href="https://get.plentymarkets.com/" target="_blank" rel="noopener">während du plentymarkets bestellst</a>.</p>
</li>
<li>
<p><strong><em>Bestandskunden</em></strong>: Buche den passenden plentyBI-Tarif <a href="/business-entscheidungen/dein-vertrag#30">im "Mein Konto"-Bereich</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Beispielrechnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du die <a href="/daten/aenderungshistorie#100">Änderungshistorie</a> verwendest, fallen verbrauchsabhängig die folgenden Kosten an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>15 Cent pro angefangenen 10.000 geloggten Änderungen.</p>
</li>
<li>
<p>15 Cent pro angefangenen 10.000 archivierten Änderungen.</p>
</li>
<li>
<p>1 Euro für das Anfordern einer Datei aus dem Archiv.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du also plentymarkets GoBD-konform nutzen willst, indem du relevante Änderungen bis zu 11 Jahre in plentymarkets speicherst, fallen 30 Cent pro angefangenen 10.000 Änderungen an.
Die Kosten für ein Daten-Paket werden nur in dem Monat berechnet, in dem sie geloggt wurden.</p>
</div>
<div class="paragraph">
<p>In einem Monat werden durchschnittlich 177.000 loggbare Änderungen pro System gemacht.
Das entspricht im Schnitt 18 Paketen (177.000 / 10.000 aufgerundet).
Bei aktivierter Änderungshistorie samt Archiv ergibt das durchschnittliche Kosten im Monat von 18 * 0,15 * 2 = 5,40 €.</p>
</div>
</div>
</div>
</main>