<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Attribute</span></a></li>
<li><a href="#150"><span>2.</span><span> AttributeMap</span></a></li>
<li><a href="#200"><span>3.</span><span> AttributeName</span></a></li>
<li><a href="#300"><span>4.</span><span> AttributeValue</span></a></li>
<li><a href="#330"><span>5.</span><span> AttributeValueMap</span></a></li>
<li><a href="#360"><span>6.</span><span> AttributeValueMarketName</span></a></li>
<li><a href="#400"><span>7.</span><span> AttributeValueName</span></a></li>
<li><a href="#500"><span>8.</span><span> custom_value</span></a></li>
<li><a href="#600"><span>9.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>attribute</strong> format to export item attributes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Attribute</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-attributes">Table 1</a> explains the fields that are available for exporting attribute data.</p>
</div>
<table id="table-fields-attributes" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting attributes</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All back end names of all attribute values are exported comma separated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonAtribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute of the market Amazon linked to this attribute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internal name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fruugoAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute of the market Fruugo linked to this attribute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">googleShoppingAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute of the market Google Shopping linked to this attribute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isGroupable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Groupable in item lists</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isLinkableToImage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Image link possible</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSurchargePercental</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the surcharge is a percentage value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">laRedouteAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute of the market La Redoute linked to this attribute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">neckermannAtEpAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute of the market Neckermann AT EP linked to this attribute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ottoAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute of the market Otto linked to this attribute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pixmaniaAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute of the market Pixmania linked to this attribute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeOfSelectionInOnlineStore</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute selection in the online store<br>
(dropdown, image or box)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">2. AttributeMap</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-attributemap">Table 2</a> lists the fields available for exporting information about the link between an attribute and a marketplace.</p>
</div>
<table id="table-fields-attributemap" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting information about the link between an attribute and a marketplace</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketInformation1;<br>
marketInformation2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information about the link between an attribute and a marketplace</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information about the link between an attribute and a marketplace</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">3. AttributeName</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-attributes-name">Table 3</a> explains the fields that are available for exporting attribute names.</p>
</div>
<table id="table-fields-attributes-name" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting attribute names</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The attribute’s name</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">4. AttributeValue</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-attribute-values">Table 4</a> explains the fields that are available for exporting attribute values.</p>
</div>
<table id="table-fields-attribute-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for exporting attribute values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value of the market Amazon linked to this attribute value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">comment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internal comment concerning the attribute value</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the image linked to the attribute value</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">laRedouteValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value of the market La Redoute linked to this attribute value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">neckermannAtEpValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value of the market Neckermann AT EP linked to this attribute value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ottoValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value of the market Otto linked to this attribute value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">percentageDistribution</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position of the attribute value</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tracdelightValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value of the market tracdelight linked to this attribute value.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="330">5. AttributeValueMap</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-attributevaluemap">Table 5</a> lists the fields available for exporting information about the link between an attribute value and a marketplace.</p>
</div>
<table id="table-fields-attributevaluemap" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Fields for exporting information about the link between an attribute value and a marketplace</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketInformation1;<br>
marketInformation2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information about the link between an attribute value and a marketplace</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information about the link between an attribute value and a marketplace</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="360">6. AttributeValueMarketName</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-attributevaluemarketname">Table 6</a> explains the fields that are available for exporting attribute value names for marketplaces.</p>
</div>
<table id="table-fields-attributevaluemarketname" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Fields for exporting attribute value names for marketplaces</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name;<br>
name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The mapped value for Amazon</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">7. AttributeValueName</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-attributes-valuenames">Table 7</a> explains the fields that are available for exporting attribute value names.</p>
</div>
<table id="table-fields-attributes-valuenames" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Fields for exporting attribute value names</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value name</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">8. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-custom-values">Table 8</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Custom value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">9. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 9</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>