<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Category</span></a></li>
<li><a href="#200"><span>2.</span><span> CategoryClient</span></a></li>
<li><a href="#300"><span>3.</span><span> CategoryDetail</span></a></li>
<li><a href="#400"><span>4.</span><span> custom_value</span></a></li>
<li><a href="#500"><span>5.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Categories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>category</strong> format to export categories.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Category</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-categories">Table 1</a> explains the fields that are available for exporting category data.</p>
</div>
<table id="table-fields-categories" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting category data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">level</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">linklist</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In link list (Y/N)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentCategoryID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the higher-ranking category</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentCategoryName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the parent category</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">right</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Visible<br>
all = Category and all sub-categories are visible to the public<br>
customer = Category and all sub-categories are only visible to online store visitors that are logged in</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sitemap</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sitemap</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last update</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. CategoryClient</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-categories-client">Table 2</a> explains the fields that are available for exporting category data for a client.</p>
</div>
<table id="table-fields-categories-client" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting category data for a client</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Active for client?</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. CategoryDetail</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-categories-detail">Table 3</a> explains the fields that are available for exporting category details.</p>
</div>
<table id="table-fields-categories-detail" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting category details</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fullText</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Full text search</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemListView</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template list</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta description</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaKeywords</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta keywords</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaTitle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta title</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">nameUrl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pageView</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template page</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">previewUrl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category URL</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shortDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Short description</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">singleItemView</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template product</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-custom-values">Table 4</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Own value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 5</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>