<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> facetValueReference</span></a></li>
<li><a href="#300"><span>2.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>3.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>facetValueReference</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>facetValueReference</strong> format to export facet value links.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. facetValueReference</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-facetValueReference">Table 1</a> lists the fields available for exporting facet value links.</p>
</div>
<table id="table-fields-facetValueReference" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting facet value links</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">facetId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the facet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">facetValueId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/frontend-item-search#140">ID of the facet value</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">groupId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internal ID of the facet link</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/frontend-item-search#120">Type</a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Label in CSV file</th>
<th class="tableblock halign-left valign-top">Label in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property-selection</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/properties#600">Property of the type "Selection"</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">character</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valueId</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ID depends on the facet type</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type in CSV file</th>
<th class="tableblock halign-left valign-top">ID corresponds to…​</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/attributes#200">Attribute value ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/properties#600">Property ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property-selection</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/properties#700">Property value ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">character</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/properties#300">Characteristic ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/manufacturers#100">Manufacturer ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/availabilities#100">Availability ID</a></p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">2. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-warehouse-custom-values">Table 2</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-warehouse-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Custom value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">3. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 3</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>