<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Group</span></a>
<ul class="sectlevel2">
<li><a href="#_id"><span>1.1.</span><span> id</span></a></li>
<li><a href="#_position"><span>1.2.</span><span> position</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> GroupName</span></a>
<ul class="sectlevel2">
<li><a href="#_description"><span>2.1.</span><span> description</span></a></li>
<li><a href="#_name"><span>2.2.</span><span> name</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Property</span></a>
<ul class="sectlevel2">
<li><a href="#_allgroups"><span>3.1.</span><span> allGroups</span></a></li>
<li><a href="#_cast"><span>3.2.</span><span> cast</span></a></li>
<li><a href="#_id_2"><span>3.3.</span><span> id</span></a></li>
<li><a href="#_position_2"><span>3.4.</span><span> position</span></a></li>
<li><a href="#_typeidentifier"><span>3.5.</span><span> typeIdentifier</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> PropertyName</span></a>
<ul class="sectlevel2">
<li><a href="#_description_2"><span>4.1.</span><span> description</span></a></li>
<li><a href="#_name_2"><span>4.2.</span><span> name</span></a></li>
</ul>
</li>
<li><a href="#500"><span>5.</span><span> custom_value</span></a></li>
<li><a href="#600"><span>6.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Properties</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the data fields that are available for exporting properties and property groups.
This page serves purely as a reference and assumes that you already have a basic understanding of <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> and the <a href="/en/data/exporting-data/elastic-export">Elastic Export</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Links are not exported</div>
<div class="paragraph">
<p>This format type exports information about properties and property groups.
It does <em>not</em> export the links between variations and properties, i.e. it does not indicate which properties are linked to which variations.
If you want to export such property links, then use the <a href="/en/data/exporting-data/FormatDesigner/format-types/item#1600">format type Item</a> instead.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div><div class="sect1">
<h2 id="100">1. Group</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_id">1.1. id</h3>
<div class="paragraph">
<p>The ID of the property group.
The group ID is a unique and continuous number, which is used to clearly identify every property group.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#1200">Setup » Settings » Properties » Groups » [Open group] » Option: ID</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Click on <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> and decide which property group the ID should be exported for.
Add this field multiple times if you want to export the IDs of several groups.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_position">1.2. position</h3>
<div class="paragraph">
<p>The position number of the property group.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#1200">Setup » Settings » Properties » Groups » [Open group] » Entry field: Position</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Click on <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> and decide which property group the position number should be exported for.
Add this field multiple times if you want to export the positions of several groups.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. GroupName</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_description">2.1. description</h3>
<div class="paragraph">
<p>The description of the property group.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#1200">Setup » Settings » Properties » Groups » [Open group] » Entry field: Description</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Click on <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> and decide which property group and language the description should be exported for.
Add this field multiple times if you want to export the description of several groups or in several languages.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_name">2.2. name</h3>
<div class="paragraph">
<p>The name of the property group.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#1200">Setup » Settings » Properties » Groups » [Open group] » Entry field: Name</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Click on <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> and decide which property group and language the name should be exported for.
Add this field multiple times if you want to export the name of several groups or in several languages.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Property</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_allgroups">3.1. allGroups</h3>
<div class="paragraph">
<p>The names of all the groups that the property is assigned to.
The group names are separated by commas.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » [Open property] » Area: Groups</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_cast">3.2. cast</h3>
<div class="paragraph">
<p>The type of the property.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Export values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>empty</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>date</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>file</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">File</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>int</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Whole number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>float</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decimal number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>string</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Character string</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>html</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTML</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>text</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>selection</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Selection</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>multiSelection</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multi selection</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » [Open property] » Option: Type</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_id_2">3.3. id</h3>
<div class="paragraph">
<p>The ID of the property.
The property ID is a unique and continuous number, which is used to clearly identify every property.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » [Open property] » Option: ID</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_position_2">3.4. position</h3>
<div class="paragraph">
<p>The position number of the property.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » [Open property] » Entry field: Position</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_typeidentifier">3.5. typeIdentifier</h3>
<div class="paragraph">
<p>The section of the property.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Export values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>item</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>contact</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>stock</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » [Open property] » Option: Section</a></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. PropertyName</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_description_2">4.1. description</h3>
<div class="paragraph">
<p>The description of the property.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » [Open property] » Entry field: Description</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Click on <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> and decide which language the description should be exported in.
Add this field multiple times if you want to export the description in several languages.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_name_2">4.2. name</h3>
<div class="paragraph">
<p>The name of the property.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » [Open property] » Entry field: Name</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Click on <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> and decide which language the name should be exported in.
Add this field multiple times if you want to export the name in several languages.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-custom-values">Table 1</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Custom value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 2</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>