<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Account</span></a></li>
<li><a href="#200"><span>2.</span><span> BillingAddress</span></a></li>
<li><a href="#300"><span>3.</span><span> BillingAddressOption</span></a></li>
<li><a href="#400"><span>4.</span><span> Contact</span></a></li>
<li><a href="#500"><span>5.</span><span> contactAllowedMethodOfPayment</span></a></li>
<li><a href="#600"><span>6.</span><span> ContactBank</span></a></li>
<li><a href="#700"><span>7.</span><span> ContactOption</span></a></li>
<li><a href="#750"><span>8.</span><span> ContactProperty</span></a></li>
<li><a href="#800"><span>9.</span><span> DeliveryAddress</span></a></li>
<li><a href="#900"><span>10.</span><span> DeliveryAddressOption</span></a></li>
<li><a href="#1000"><span>11.</span><span> SalesRepresentativeRegion</span></a></li>
<li><a href="#1100"><span>12.</span><span> Custom value</span></a></li>
<li><a href="#1200"><span>13.</span><span> Date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Contacts</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use formats of the type <strong>Contacts</strong> to export contact data, address data and company data.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Account</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-company">Table 1</a> lists the fields available for exporting company data.</p>
</div>
<table id="table-fields-company" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting company data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">companyName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dealerMinOrderValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum order value for the supplier</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deliveryTime</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery time for the supplier</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Early payment discount (days) of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountPercent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage for early payment discount of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer number. This number is not assigned automatically. The maximum length is 128 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesRepresentativeContactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID of the sales representative</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">taxIdNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT identification number of the customer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">TimeForPaymentAllowedDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due date of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the owner (plentymarkets user ID)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valuta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta of the company</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. BillingAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-billing-address-contacts">Table 2</a> lists the fields available for exporting invoice address data.</p>
</div>
<table id="table-fields-billing-address-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting invoice address data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 1 (default: Street)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 2 (default: House number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 3 (default: Additional address information)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 4 (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last check of address (Unix timestamp)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Company)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: First name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Last name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. BillingAddressOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-billing-address-option-contacts">Table 3</a> lists the fields available for exporting different types of invoice address options.</p>
</div>
<table id="table-fields-billing-address-option-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting invoice address options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bBFC</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">BBFC (age rating)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact person</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (Gelangensbestätigung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalAddressID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID of the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personnel ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Post number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of the invoice recipient</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vatNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT identification number of the customer</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-contacts">Table 4</a> lists the fields available for exporting contact data.</p>
</div>
<table id="table-fields-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for exporting contact data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthdayAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Birthday of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">blocked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status “Blocked”. A contact can be locked for a specific client.<br>
Possible values: 0 = not blocked, 1 = blocked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bookAccount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debtor account of the contact. An additional, separate number that usually corresponds to the contact number or the debtor number of the contact in your administrative accounting.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">classId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer class ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dhlPostIdent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DHL PostIdent of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Early payment discount (days) of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountPercent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage for early payment discount of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External contact ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The contact’s first name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastLoginAtTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of last login of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The contact’s last name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastOrderAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of last order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">newsletterAllowanceAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the contact registering for the newsletter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer number. This number is not assigned automatically. The maximum length is 128 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client that is assigned to the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rating</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rating of the contact. This is an internal rating only. 5 red stars are the worst possible rating and 5 yellow stars are the best possible rating. Possible values:<br>
-5 = 5 red stars (worst possible rating)<br>
-4 = 4 red stars<br>
-3 = 3 red stars<br>
-2 = 2 red stars<br>
-1 = 1 red star<br>
0 = 5 grey stars, no rating saved for the contact.<br>
1 = 1 yellow star<br>
2 = 2 yellow stars<br>
3 = 3 yellow stars<br>
4 = 4 yellow stars<br>
5 = 5 yellow stars (best possible rating)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referrer ID of the contact<br>
<strong><em>Note:</em></strong> This field is currently without function.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesRepresentativeContactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID of the sales representative</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">timeForPaymentAllowedDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due date of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact type ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Owner ID of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valuta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta of the contact</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. contactAllowedMethodOfPayment</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-contactallowedmethodofpayment-contacts">Table 5</a> lists the fields available for exporting allowed methods of payment saved in the contact data record.</p>
</div>
<table id="table-fields-contactallowedmethodofpayment-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Fields for exporting allowed methods of payment of the contact</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allowDebit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information that states whether the contact is allowed to pay via direct debit.<br>
Possible values:<br>
0 = do not allow<br>
1 = allow</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allowInvoice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information that states whether the contact is allowed to pay via invoice.<br>
Possible values:<br>
0 = do not allow<br>
1 = allow</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. ContactBank</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-contact-bank">Table 6</a> lists the fields available for exporting bank details.</p>
</div>
<table id="table-fields-contact-bank" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Fields for exporting bank details</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accountNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accountOwner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The account holder’s name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bankAddress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The address of the bank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bankCountry</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country of the bank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bankName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the bank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bankPostalCodeTown</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode and town of the bank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bic</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">BIC of the bank account</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directDebitMandateAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date the SEPA direct debit mandate was granted</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directDebiteMandateAvailable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag that indicates if a SEPA direct debit mandate was granted</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directDebitMethod</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of SEPA direct debit mandate. Possible values:<br>
sepaDirectDebit<br>
sepaB2bDirectDebit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directDebitType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates if this is a first debit or recurring debit. Possible values:<br>
first<br>
next</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">iban</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IBAN of bank account</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the bank account</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastUpdateBy</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of last update. Possible values:<br>
customer<br>
back end<br>
import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentMethod</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment frequency of SEPA direct debit mandate. Possible values:<br>
recurrent<br>
onOff</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sortCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bank code</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. ContactOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-contact-option">Table 7</a> lists the fields available for exporting contact options.</p>
</div>
<table id="table-fields-contact-option" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Fields for exporting contact options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accessGuest</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account type. Indicates if the account is a regular account or a guest account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accessMarketplacePartner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Access to the plentyMarketplace.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">additionalContactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional contact person</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">emailPayPal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PayPal email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">emailPrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">emailWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Office email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">groupForum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address used in a forum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">identificationNumberDHL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number at DHL</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">identificationNumberKlarna</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number at Klarna</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketplaceAmazon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address at Amazon</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketplaceEbay</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentKlarna</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number at Klarna</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentPayPal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address at PayPal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentStandard</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default payment method</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salutationPrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private form of address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salutationWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Office form of address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telefaxPrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private fax number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telefaxWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Office fax number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephoneMobilePrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private mobile phone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephoneMobileWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Office mobile phone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephonePrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephoneWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Office telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userNameForum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">User name used in a forum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userNamePrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private user name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userNameWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Office user name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">webPagePrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private website</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">webPageWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Office website</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="750">8. ContactProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-contact-properties-contacts">Table 8</a> lists the fields available for exporting contact property data.</p>
</div>
<table id="table-fields-contact-properties-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Fields for exporting contact property data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All data that is saved for the contact property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of the property, e.g. <strong>decimal number</strong>, <strong>multi-selection</strong>, <strong>short text</strong> or <strong>date</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">linked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID that is linked to the property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the property</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">9. DeliveryAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-delivery-address-contacts">Table 9</a> lists the fields available for exporting delivery address data.</p>
</div>
<table id="table-fields-delivery-address-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Fields for exporting delivery address data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 1 (default: Street)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 2 (default: House number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 3 (default: Additional address information)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 4 (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last check of address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Company)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: First name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Last name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">10. DeliveryAddressOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-delivery-address-option-contacts">Table 10</a> lists the fields available for exporting different types of delivery address options.</p>
</div>
<table id="table-fields-delivery-address-option-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Fields for exporting delivery address options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bBFC</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">BBFC (age rating)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact person</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (Gelangensbestätigung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalAddressID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID of the delivery address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personnel ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Post number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of recipient</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vatNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT identification number of the customer</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">11. SalesRepresentativeRegion</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-sales-representative-region-contacts">Table 11</a> lists the fields available for exporting data about the region of the sales representative.</p>
</div>
<table id="table-fields-sales-representative-region-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 11. Fields for exporting data about the sales representative’s region</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the sales representative</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCodeArea</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode area within which the sales representative is working</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">12. Custom value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-contacts-custom-values">Table 12</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-contacts-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 12. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Own value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">13. Date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 13</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 13. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>