<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Manufacturer</span></a></li>
<li><a href="#200"><span>2.</span><span> custom_value</span></a></li>
<li><a href="#300"><span>3.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Manufacturers</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page describes the data fields that are available when exporting manufacturer data with the tools <strong>FormatDesigner</strong> and <strong>Elastischer Export</strong>.
This page serves purely as a reference and assumes that you already have a basic understanding of the tools <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> and <a href="/en/data/exporting-data/elastic-export">Elastic Export</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Manufacturer</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-manufacturer">Table 1</a> lists the fields available for exporting manufacturer data.</p>
</div>
<table id="table-fields-manufacturer" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting manufacturer data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>comment</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A comment about the manufacturer.
This is an internal comment, i.e. it is only visible in your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Comment</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>countryId</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s <a href="/en/data/internal-IDs#20">internal country ID</a>.
In other words, the plentymarkets ID for the country.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Country</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>email</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s email address.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Email</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalName</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The external name of the manufacturer.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The external name is visible to customers in the plentyShop.
It is also <a href="/en/item/settings/manufacturers#450">relevant for the search function in the plentyShop</a>.</p>
</li>
<li>
<p>When you transfer your item data to marketplaces, this external manufacturer name will be transmitted.
If there is no external manufacturer name, then the internal name will be used instead.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: External name</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>faxNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s fax number.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Fax number</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>houseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s house number.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: House No.</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>id</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s unique ID.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>laRedouteBrandId</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer ID for the market.
You will receive the manufacturer ID when setting up the market.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: La Redoute ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The URL that leads to the manufacturer’s logo.
The URL can have up to 2,000 characters.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Logo URL</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The internal name of the manufacturer.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Name</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>neckermannAtEpBrandId</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer ID for the market.
You will receive the manufacturer ID when setting up the market.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Neckermann.at Enterprise-ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>phoneNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s telephone number.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Telephone number</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>pixmaniaBrandId</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer ID for the market.
You will receive the manufacturer ID when setting up the market.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: PIXmania-ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s position number.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Position</a></p>
</div>
<div class="paragraph">
<p>Manufacturer data records can be sorted by their position number in the menu <strong>Setup » Item » Manufacturers</strong>.
Move your mouse cursor over the column header <strong>Position</strong>.
Click on the small triangle (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>) to sort the manufacturers in ascending or descending order by their position number.
Manufacturers with identical positions are sorted by name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>postcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s postcode.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Postcode</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>street</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s street name.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Street</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>town</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The manufacturer’s town.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Town</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>updatedAt</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Time stamp of the last update.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>url</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The URL that leads to the manufacturer’s homepage.
The URL can have up to 2,000 characters.</p>
</div>
<div class="paragraph">
<p>Corresponds to the option in the menu: <a href="/en/item/settings/manufacturers">Setup » Item » Manufacturers » [Open manufacturer] » Entry field: Homepage</a></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-custom-values">Table 2</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>custom_value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Custom value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 3</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>