<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> WarehouseLocation</span></a></li>
<li><a href="#200"><span>2.</span><span> WarehouseLocationLevel</span></a></li>
<li><a href="#300"><span>3.</span><span> WarehouseLocationDimension</span></a></li>
<li><a href="#400"><span>4.</span><span> Warehouse</span></a></li>
<li><a href="#500"><span>5.</span><span> custom_value</span></a></li>
<li><a href="#600"><span>6.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Warehouses</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>warehouse</strong> format to export warehouse data.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Catalogue for export</div>
<div class="paragraph">
<p>Are you already familiar with the catalogue for exporting data formats? Catalogues are gradually replacing the old format types of the Elastic Export and offer you more usage and configuration options. Get all the essential information about catalogue functionalities on the manual page <a href="/en/data/exporting-data/managing-catalogues">Managing catalogues</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. WarehouseLocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-storage-locations">Table 1</a> lists the fields available for exporting warehouse data.</p>
</div>
<table id="table-fields-storage-locations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting storage locations</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">levelId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">label</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location (without path)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purposekey</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Designated use</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">statuskey</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fulllabel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Full storage location name (including path)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">notes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allIds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All storage location IDs (separated by commas)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allNames</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All storage location names (separated by commas)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. WarehouseLocationLevel</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-storage-location-levels">Table 2</a> lists the fields available for exporting storage location level data.</p>
</div>
<table id="table-fields-storage-location-levels" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting storage location levels</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location level ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parent ID of level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dimensionID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position of the level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of the level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pathName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location path (without storage location name)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. WarehouseLocationDimension</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-storage-location-dimensions">Table 3</a> lists the fields available for exporting storage location dimension data.</p>
</div>
<table id="table-fields-storage-location-dimensions" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting storage location dimensions</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parent ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">level</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shortcut</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abbreviation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">separator</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Separator</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">displayInName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Show in storage location name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActiveForPickupPath</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Include in picking path</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-warehouses">Table 4</a> lists the fields available for exporting warehouse data.</p>
</div>
<table id="table-fields-warehouses" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for exporting warehouses</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">note</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Note</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">onStockAvailability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability with stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">outOfStockAvailability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability without stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">splitByShippingProfile</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Split up according to shipping profile</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">repairWarehouseID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse assigned for repairs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isInventoryModeActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stocktaking mode active</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">logisticType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assigned repair warehouse (own warehouses, DHL Fulfilment, Amazon)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last update</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the creation</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-custom-values">Table 5</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Own value for export</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 6</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>