<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Facet</span></a></li>
<li><a href="#200"><span>2.</span><span> FacetName</span></a></li>
<li><a href="#300"><span>3.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>4.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>facet</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>facet</strong> format to export facets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Facet</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-Facet">Table 1</a> lists the fields available for exporting facet data.</p>
</div>
<table id="table-fields-Facet" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting facet data</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">cssClass</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/frontend-item-search#120">CSS class</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">filterMethod</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/frontend-item-search#120">Selection type</a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Label in CSV file</th>
<th class="tableblock halign-left valign-top">Label in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">restrict</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restricting</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">multi</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multiple</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the facet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">maxResultCount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/frontend-item-search#120">Maximum number of facet values shown</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">minResultCount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/frontend-item-search#120">Minimum number of hits</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/frontend-item-search#120">Position</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sort</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/frontend-item-search#120">Sorting</a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Label in CSV file</th>
<th class="tableblock halign-left valign-top">Label in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Relevance</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">a_z</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A-Z</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/frontend-item-search#120">Type</a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Label in CSV file</th>
<th class="tableblock halign-left valign-top">Label in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dynamic</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute/characteristic</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. FacetName</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-FacetName">Table 2</a> lists the fields available for exporting the names of facets.</p>
</div>
<table id="table-fields-FacetName" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting the names of facets</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The facet name in the system’s default language. In other words, the name that was entered while <a href="/en/item/frontend-item-search#100">creating the facet</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-warehouse-custom-values">Table 3</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-warehouse-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Custom value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 4</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>