<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Listing</span></a></li>
<li><a href="#200"><span>2.</span><span> ListingMarket</span></a></li>
<li><a href="#300"><span>3.</span><span> ListingMarketDate</span></a></li>
<li><a href="#400"><span>4.</span><span> ListingMarketInfo</span></a></li>
<li><a href="#500"><span>5.</span><span> ListingMarketPrice</span></a></li>
<li><a href="#600"><span>6.</span><span> ListingMarketProperty</span></a></li>
<li><a href="#700"><span>7.</span><span> ListingMarketSpecific</span></a></li>
<li><a href="#800"><span>8.</span><span> ListingMarketText</span></a></li>
<li><a href="#900"><span>9.</span><span> ListingProperty</span></a></li>
<li><a href="#1000"><span>10.</span><span> custom_value</span></a></li>
<li><a href="#1100"><span>11.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Listing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Listing</strong> format to export listings.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Listing</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing">Table 1</a> lists the fields available for exporting listing data.</p>
</div>
<table id="table-listing" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the table entry</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockDependenceTypeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the stock dependence</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing type ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unitCombinationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the listing content</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. ListingMarket</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing-market">Table 2</a> lists the fields available for exporting market listing data.</p>
</div>
<table id="table-listing-market" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting market listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allVariations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">List with all variations</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date that the market listing was created on</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">credentialsId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the eBay account</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directoryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the directory</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">duration</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Duration in days or GTC</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">enabled</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specifies whether the listing is enabled.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the table entry</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">listingId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order referrer ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date that the market listing was updated on</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">verified</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status of the listing’s check</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. ListingMarketDate</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing-market-date">Table 3</a> lists the fields available for exporting date information for market listings.</p>
</div>
<table id="table-listing-market-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting market listing dates</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the market listing’s date. Possible mappings:<br>
Last price change<br>
Last listing attempt<br>
Start time<br>
End time</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. ListingMarketInfo</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing-market-info">Table 4</a> lists the fields available for exporting information about errors concerning market listings.</p>
</div>
<table id="table-listing-market-info" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for exporting market listing dates</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Error code if an error occurred during the listing check. This can be a plentymarkets error code or an eBay error code.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date that the error message was created on</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the table entry</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">listingMarketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market listing ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">message</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Error message belonging to the error code</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Error type belonging to the error code and error message</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. ListingMarketPrice</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing-market-price">Table 5</a> lists the fields available for exporting price information about market listings.</p>
</div>
<table id="table-listing-market-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Fields for exporting market listing prices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currency</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the market listing’s price. Possible mappings:<br>
Start price<br>
Fixed price<br>
Minimum price<br>
SCO minimum price</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. ListingMarketProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing-market-property">Table 6</a> lists the fields available for exporting properties of market listings.</p>
</div>
<table id="table-listing-market-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Fields for exporting market listing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing property. Possible mappings:<br>
Shipping profile ID<br>
Order status<br>
Layout template ID<br>
Number of images<br>
Warehouse ID<br>
Add unit price specification<br>
VAT rate<br>
VAT country<br>
Language<br>
Number per lot<br>
Transfer as item number<br>
Relisted external listing ID<br>
Second Chance Offer<br>
Special sale<br>
UUID<br>
Listing faulty<br>
List with all variations<br>
End listing<br>
Created by<br>
Payment methods<br>
Category ID 1<br>
Category ID 2<br>
Shop category ID 1<br>
Shop category ID 2<br>
Shop category ID 3<br>
Additional options<br>
Parts compatibility listing ID<br>
eBay market listings active at the same time<br>
eBay private auction<br>
eBay gallery type<br>
eBay featured first<br>
eBay transfer RRP<br>
eBay hit counter<br>
eBay condition ID<br>
eBay description of the condition<br>
eBay best offer<br>
eBay reject minimum price<br>
eBay accept minimum price<br>
eBay Plus<br>
eBay Click &amp; Collect<br>
Use eBay image service<br>
Display on Hood store homepage<br>
Hood shipping discount<br>
Hood delivery time when in stock from (in days)<br>
Hood delivery time when in stock to (in days)<br>
Hood delivery time when out of stock from (in days)<br>
Hood delivery time when out of stock to (in days)<br>
ricardo warranty ID<br>
ricardo delivery conditions<br>
ricardo availability ID
ricardo delivery costs<br>
ricardo payment condition ID<br>
ricardo increment<br>
ricardo condition ID<br>
ricardo number of reactivations<br>
ricardo individual shipping costs for each item<br>
ricardo package size<br>
ricardo use secondary language<br>
ricardo template ID<br>
ricardo reactivate until sold out</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. ListingMarketSpecific</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing-market-specific">Table 7</a> lists the fields available for exporting specifics of market listings.</p>
</div>
<table id="table-listing-market-specific" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Fields for exporting market listing specifics</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the table entry</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">listingMarketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market listing ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">8. ListingMarketText</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing-market-text">Table 8</a> lists the fields available for exporting market listing texts.</p>
</div>
<table id="table-listing-market-text" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Fields for exporting market listing texts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description of the market listing</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the table entry</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">listingMarketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market listing ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">subtitle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subtitle of the market listing</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of the market listing</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">9. ListingProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-listing-property">Table 9</a> lists the fields available for exporting listing properties.</p>
</div>
<table id="table-listing-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Fields for exporting listing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the listing property. Possible mappings:<br>
Tie to item price<br>
Number per lot<br>
Transfer as item number</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">10. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/table-custom-value">/en/table-custom-value</a> lists the fields available for importing custom values.</p>
</div>
<table id="table-custom-value" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Custom value</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">11. date</h2>
<div class="sectionbody">
<div class="literalblock">
<div class="content">
<pre>&lt;&lt;#table-date&gt;&gt; lists the field available for exporting the current date. For further information, refer to this link:http://php.net/manual/en/function.date.php[page^].</pre>
</div>
</div>
<table id="table-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 11. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>