<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> AccountingLocation</span></a></li>
<li><a href="#200"><span>2.</span><span> BillingAddress</span></a></li>
<li><a href="#300"><span>3.</span><span> BillingAddressCountry</span></a></li>
<li><a href="#400"><span>4.</span><span> BillingAddressOption</span></a></li>
<li><a href="#500"><span>5.</span><span> BillingAddressState</span></a></li>
<li><a href="#600"><span>6.</span><span> Contact</span></a></li>
<li><a href="#700"><span>7.</span><span> DeliveryAddress</span></a></li>
<li><a href="#800"><span>8.</span><span> DeliveryAddressCountry</span></a></li>
<li><a href="#900"><span>9.</span><span> DeliveryAddressOption</span></a></li>
<li><a href="#1000"><span>10.</span><span> DeliveryAddressState</span></a></li>
<li><a href="#1100"><span>11.</span><span> Order</span></a></li>
<li><a href="#1200"><span>12.</span><span> OrderAmount</span></a></li>
<li><a href="#1300"><span>13.</span><span> OrderComment</span></a></li>
<li><a href="#1400"><span>14.</span><span> OrderDate</span></a></li>
<li><a href="#1500"><span>15.</span><span> OrderDocument</span></a></li>
<li><a href="#1600"><span>16.</span><span> OrderParcelService</span></a></li>
<li><a href="#1700"><span>17.</span><span> OrderParcelServiceName</span></a></li>
<li><a href="#1800"><span>18.</span><span> OrderParcelServicePreset</span></a></li>
<li><a href="#1900"><span>19.</span><span> OrderParcelServicePresetName</span></a></li>
<li><a href="#2000"><span>20.</span><span> OrderProperty</span></a></li>
<li><a href="#2100"><span>21.</span><span> OrderReference</span></a></li>
<li><a href="#2200"><span>22.</span><span> ShippingPackages</span></a></li>
<li><a href="#2300"><span>23.</span><span> custom_value</span></a></li>
<li><a href="#2400"><span>24.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Orders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>order</strong> format to export orders.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. AccountingLocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-accounting-location">Table 1</a> explains the fields that are available for exporting category data.</p>
</div>
<table id="table-fields-order-accounting-location" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting accounting locations</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">clientId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the client associated with the accounting location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the country of the accounting location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the accounting location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the accounting location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plenty ID of the client associated with the accounting location</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. BillingAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-billing-address">Table 2</a> lists the fields available for exporting invoices and invoice address data.</p>
</div>
<table id="table-fields-billing-address" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting invoice address data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">additional</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional address information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 1 (default: street)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 2 (default: house number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 3 (default: additional address information)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 4 (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">careOf</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">c/o</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last check of address (Unix timestamp)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">companyName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (Gelangensbestätigung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fsk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Age rating</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">houseNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">House number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPackstation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag defining whether a Packstation is used</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostfiliale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag that defines if the address is a post office</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Company)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: First name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Last name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packstationNo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personnel number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">phone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">readOnly</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Defines read-only fields</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session ID used for creating the address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">street</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Street</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">taxIdNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tax ID number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title included in the address data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. BillingAddressCountry</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-billing-address-country">Table 3</a> lists the fields available for exporting country data used in the invoice address.</p>
</div>
<table id="table-fields-billing-address-country" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting countries in invoice addresses</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Field</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the country</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the country</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the country</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. BillingAddressOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-billing-address-option">Table 4</a> lists the fields available for exporting different types of invoice address options.</p>
</div>
<table id="table-fields-billing-address-option" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for exporting invoice address options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the billing address option</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>BillingAddressOption.value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vat_number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT identification number of the customer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">external_address_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID of the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entry_certificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (Gelangensbestätigung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">post_number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Post number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personal_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personnel ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bbfc</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">BBFC (age rating)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of the invoice recipient</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. BillingAddressState</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-billing-address-state">Table 5</a> lists the fields available for exporting data on federal states used in the invoice address.</p>
</div>
<table id="table-fields-billing-address-state" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Fields for exporting federal states in invoice addresses</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Field</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode3166</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the federal state</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. Contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-orderitem-contacts">Table 6</a> lists the fields available for exporting contact data.</p>
</div>
<table id="table-fields-orderitem-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Fields for exporting order contacts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthdayAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Birthday of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">blocked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blocked status of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bookAccount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debtor account of the contact. This is an additional, separate number that usually corresponds with the contact number or the debtor number in your administrative accounting.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">classid</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer class ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact person of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dhlPostIdent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DHL PostIdent of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Early payment discount (days) of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountPercent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage for early payment discount of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay name of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private email address of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalid</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External contact ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">formOfAddress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Form of address of the contact (salutation)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fullName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Full name of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">klarnaPersonalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klarna ID of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastLoginAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last login of the contact (time stamp)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastLoginAtTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last login of contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastOrderAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of the last order of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketplacePartner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marketplace status of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">newsletterAllowanceAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time at which the contact agreed to receiving newsletters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact number (previously the customer number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paypalEmail</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address associated with the contact’s PayPal account</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paypalPayerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PayPal ID of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plenty ID of the client assigned to the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">privateFax</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of contact (previously the customer number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">privateMobile</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private mobile phone number of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">privatePhone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private telephone number of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rating</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(Internal) rating of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referrer of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesRepresentativeContactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID of the sales representative</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">secondaryEmail</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Second private email address of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">singleAccess</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Access type of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">timeForPaymentAllowedDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due date of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact type ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the owner associated with the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valuta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta of the contact</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. DeliveryAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-delivery-address">Table 7</a> lists the fields available for exporting delivery address data.</p>
</div>
<table id="table-fields-delivery-address" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Fields for exporting delivery addresses</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">additional</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional address information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 1 (default: street)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 2 (default: house number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 3 (default: additional address information)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 4 (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">careOf</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">c/o name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last check of address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">companyName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (Gelangensbestätigung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fsk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Visual age check</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">houseNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">House number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPackstation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag defining whether a Packstation is used</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostfiliale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag that defines if the address is a post office</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Company)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: First name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Last name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packstationNo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personnel number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">phone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">readOnly</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Defines read-only fields</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session ID used for creating the address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">street</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Street</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">taxIdNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tax ID number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of recipient</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">8. DeliveryAddressCountry</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-delivery-address-country">Table 8</a> lists the fields available for exporting delivery address country data.</p>
</div>
<table id="table-fields-delivery-address-country" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Fields for exporting delivery address countries</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Field</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country of delivery ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of country of delivery</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of country of delivery</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of country of delivery</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">9. DeliveryAddressOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-delivery-address-option">Table 9</a> lists the fields available for exporting delivery address option data.</p>
</div>
<table id="table-fields-delivery-address-option" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Fields for exporting delivery address options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the delivery address option</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>DeliveryAddressOption.value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vat_number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT identification number of the customer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">external_address_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID of the delivery address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entry_certificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (Gelangensbestätigung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">post_number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Post number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personal_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personnel ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bbfc</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">BBFC (age rating)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of recipient</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">10. DeliveryAddressState</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-delivery-address-state">Table 10</a> lists the fields available for exporting data on federal states used in the delivery address.</p>
</div>
<table id="table-fields-delivery-address-state" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Fields for exporting federal states in delivery addresses</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Field</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode3166</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the federal state</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">11. Order</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order">Table 11</a> explains the fields that are available for exporting order data.</p>
</div>
<table id="table-fields-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 11. Fields for exporting order data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the creation of the order data set</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">locationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the assigned location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lockStatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Locked status of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">methodofPaymentId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the payment method as described on the <a href="/en/basics/internal-ids#65">Internal IDs in plentymarkets</a> manual page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">numberOfDecimals</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of decimal places in order sums</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ownerID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the owner (plentymarkets user ID)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentStatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status of incoming payment</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the client</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the order referrer as described on the <a href="/en/basics/internal-ids#90">Internal IDs in plentymarkets</a> manual page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">roundTotalsOnly</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only exports rounded total order sums</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingProfileId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the shipping profile</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">statusID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the order status</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">statusName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the current status ID of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the order type as described on the <a href="/en/basics/internal-ids#80">Internal IDs in plentymarkets</a> manual page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the update of the order data set</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">12. OrderAmount</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-amount">Table 12</a> lists the fields available for exporting the totality of calculated amounts belonging to the order.</p>
</div>
<table id="table-fields-order-amount" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 12. Fields for exporting order amounts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currency</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">exchangeRate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exchange rate of the currency</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">giftCardAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amout of coupon redeemed for the order (sales coupon)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">grossTotal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total amount of the order (gross)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">invoiceTotal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total invoice amount</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Defines whether the order has been saved in net amount or gross amount.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSystemCurrency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Defines whether order amounts are registered in the system currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">netTotal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total amount of the order (net)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paidAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amount paid for the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">prepaidAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prepaid amount for the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingCostsGross</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amount of shipping costs (gross)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingCostsNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amount of shipping costs (net)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vatTotal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total VAT amount of the order</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">13. OrderComment</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-comment">Table 13</a> lists the fields available for exporting order notes.</p>
</div>
<table id="table-fields-order-comment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 13. Fields for exporting order notes</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text field containing the order note</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1400">14. OrderDate</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-date">Table 14</a> lists the fields available for exporting order dates.</p>
</div>
<table id="table-fields-order-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 14. Fields for exporting order dates</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>OrderDate.date</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deleted on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of order deletion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Created on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of order creation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Incoming payment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of incoming payment for the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last updated</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of the last update of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Completed on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of order completion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Outgoing items on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date at which outgoing items were booked for the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Returned on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of return of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Due date for payment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date on which payment is due for the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Estimated shipping date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Estimated shipping date of order items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market transfer date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of transfer of the order from a market</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cancellation date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of cancellation of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last run</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of last run</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Next run</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of next run</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordered on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date at which the purchase order has been initiated (for orders of the type redistribution and reorder)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Finish date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date at which the purchase order has been finished (for orders of the type redistribution and reorder)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1500">15. OrderDocument</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-document">Table 15</a> lists the fields available for exporting order document data.</p>
</div>
<table id="table-fields-order-document" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 15. Fields for exporting order documents</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">displayDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date displayed on the order document</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the order document</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the order document</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">numberWithPrefix</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number and prefix of the order document</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of the order document</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the user who generated the order document</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1600">16. OrderParcelService</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-orderparcelservice">Table 16</a> lists the fields available for exporting order document data.</p>
</div>
<table id="table-fields-order-orderparcelservice" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 16. Fields for exporting order parcel service data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Back end name of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ShippingServiceProviderAddress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingServiceProviderId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">trackingUrl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tracking URL</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1700">17. OrderParcelServiceName</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-orderparcelservicename">Table 17</a> lists the fields available for exporting the order parcel service name.</p>
</div>
<table id="table-fields-order-orderparcelservicename" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 17. Fields for exporting the order parcel service name</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parcelServiceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the shipping service provider</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1800">18. OrderParcelServicePreset</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-orderparcelservicepreset">Table 18</a> lists the fields available for exporting preset parcel service data.</p>
</div>
<table id="table-fields-order-orderparcelservicepreset" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 18. Fields for exporting preset parcel services</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">alternativeEmail</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative e-mail address of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">alternativePhone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative phone number of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Back end name of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dispatchIdentifier</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field is currently without function.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag of the shipping profile</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parcelServiceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isCod</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field indicates whether Cash on Delivery applies to the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isExpress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field indicates whether the shipment is an express shipment.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isInsured</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This fields indicates whether the shipment is insured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isParcelBox</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates if the order is delivered to a Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostOffice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates if the order is delivered to a post office</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field indicates whether the Postident procedure is used with the shipment.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">islandFee</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field indicates whether an extra charge for delivery to islands applies.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parcelServiceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">priority</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priority of the shipping profile</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingGroup</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Associated shipping group</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">showDataPrivacyAgreementHint</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Show procedures</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">transmitPrivacyRule</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">useArticlePorto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field indicates whether additional shipping costs for variations apply</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">19. OrderParcelServicePresetName</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-orderparcelservicepresetname">Table 19</a> lists the fields available for exporting the preset order parcel service name.</p>
</div>
<table id="table-fields-order-orderparcelservicepresetname" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 19. Fields for exporting the preset parcel service name</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Field</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the default shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>OrderParcelServicePresetName.name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">German</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the default shipping service provider (German)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">English</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the default shipping service provider (English)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2000">20. OrderProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-property">Table 20</a> lists the fields available for exporting order properties.</p>
</div>
<table id="table-fields-order-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 20. Fields for exporting order properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the order property. Several types can be entered for each property. The following types are available:<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>OrderProperty.value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouses</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse associated with the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile associated with the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status of incoming payment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment status of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">External shipping profile</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External shipping profile assigned to the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Document Language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language of the order documents</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">External order ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External order ID of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer sign</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sign of the customer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dunning level</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dunning level of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seller account</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account of the seller</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag of the order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT identification number of the customer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s VAT identification number</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2100">21. OrderReference</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-order-reference">Table 21</a> lists the fields available for exporting order reference data.</p>
</div>
<table id="table-fields-order-reference" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 21. Fields for exporting order references</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Field</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">originOrderId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the main order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referenceOrderId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the direct parent order</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2200">22. ShippingPackages</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-shipping-packages">Table 22</a> lists the fields available for exporting shipping package data.</p>
</div>
<table id="table-fields-shipping-packages" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 22. Fields for exporting shipping packages</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">exportLabelBase64</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Base64 coded version of the shipping label</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isClosed</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packageNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the shipping package</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">palletId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pallet ID</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2300">23. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-custom-values">Table 23</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 23. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Own value for export</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2400">24. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 24</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 24. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>