<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> PurchaseOrderItem</span></a></li>
<li><a href="#200"><span>2.</span><span> PurchaseOrderItemAmount</span></a></li>
<li><a href="#300"><span>3.</span><span> PurchaseOrderItemDate</span></a></li>
<li><a href="#400"><span>4.</span><span> PurchaseOrderItemProperty</span></a></li>
<li><a href="#500"><span>5.</span><span> PurchaseOrderItemQuantity</span></a></li>
<li><a href="#600"><span>6.</span><span> PurchaseOrderItemAmounts</span></a></li>
<li><a href="#700"><span>7.</span><span> PurchaseOrderReceiverWarehouse</span></a></li>
<li><a href="#800"><span>8.</span><span> PurchaseOrderReceiverWarehouseAddress</span></a></li>
<li><a href="#900"><span>9.</span><span> RedistributionSenderWarehouse</span></a></li>
<li><a href="#1000"><span>10.</span><span> RedistributionSenderWarehouseAddress</span></a></li>
<li><a href="#1100"><span>11.</span><span> ReorderSenderSupplier</span></a></li>
<li><a href="#1200"><span>12.</span><span> ReorderSenderSupplierPrimaryBillingAddress</span></a></li>
<li><a href="#1300"><span>13.</span><span> Variation</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Purchase order items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page lists the fields which are available to you for exporting purchase order items. Reorders as well as redistributions are subsumed under purchase orders.
This is only a reference page and presumes that you already have basic knowledge about the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> as well as the <a href="/en/data/exporting-data/elastic-export">Elastic export</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Catalogue for export</div>
<div class="paragraph">
<p>Are you already familiar with the catalogue for exporting data formats? Catalogues are gradually replacing the old format types of the Elastic Export and offer you more usage and configuration options. Get all the essential information about catalogue functionalities on the manual page <a href="/en/data/exporting-data/managing-catalogues">Managing catalogues</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. PurchaseOrderItem</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-item">Table 1</a> lists the fields available for exporting purchase order items.</p>
</div>
<table id="table-fields-purchase-order-item" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting purchase order items</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute values of the purchase order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase order item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID of the purchase order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">orderItemName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the purchase order item (Item name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase order item type ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse associated with the purchase order</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. PurchaseOrderItemAmount</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-item-amount">Table 2</a> lists the fields available for exporting data about amounts in purchase orders.</p>
</div>
<table id="table-fields-purchase-order-item-amount" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting data of amounts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currency of the purchase order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">exchangeRate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exchange rate of the currency</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPercentage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Defines whether the discount is indicated in %</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">priceNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Actual net price of the purchase order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">priceOriginalNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Regular net price of the purchase order item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">surcharge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Surcharge for the purchase order item</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. PurchaseOrderItemDate</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-item-date">Table 3</a> lists the field available for exporting the delivery date of purchase orders.</p>
</div>
<table id="table-fields-purchase-order-item-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Field for exporting the delivery date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery date of the purchase order</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. PurchaseOrderItemProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-item-property">Table 4</a> lists the fields available for exporting properties of purchase order items.</p>
</div>
<table id="table-fields-purchase-order-item-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for exporting properties of purchase order items</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the purchase order item property.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>PurchaseOrderItemProperty.value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">external_item_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">original_quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Original quantity when creating a purchase order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reorder_item_delivery-time_in_days</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery time of an item of a reorder in days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reorder_item_minimum_purchase</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum purchase of a reorder item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reorder_item_name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item name of the supplier</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reorder_item_package_unit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Packing unit of an item</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. PurchaseOrderItemQuantity</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-item-quantity">Table 5</a> lists the fields available for exporting quantities of purchase orders items.</p>
</div>
<table id="table-fields-purchase-order-item-quantity" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Fields for exporting quantities</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">cancelQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity of cancelled items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deliveredQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity of delivered items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">openQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity of open items</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. PurchaseOrderItemAmounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-item-amounts">Table 6</a> lists the fields available for exporting amounts in reference to quantities of purchase order items.</p>
</div>
<table id="table-fields-purchase-order-item-amounts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Fields for exporting amounts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">cancelAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resulting amount of cancelled items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deliveredAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resulting amount of delivered items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">openAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resulting amount of open items</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. PurchaseOrderReceiverWarehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-receiver-warehouse">Table 7</a> lists the fields available for exporting data of the receiver warehouse.</p>
</div>
<table id="table-fields-purchase-order-receiver-warehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Fields for exporting data of receiver warehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the receiver warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the receiver warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">onStockAvailability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability with stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse type</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">8. PurchaseOrderReceiverWarehouseAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-receiver-warehouse-address">Table 8</a> lists the fields available for exporting address data of the receiver warehouse.</p>
</div>
<table id="table-fields-purchase-order-receiver-warehouse-address" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Fields for exporting address data of receiver warehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 1 (default: street)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 2 (default: house number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Company)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">privatePhone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">9. RedistributionSenderWarehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-redistribution-sender-warehouse">Table 9</a> lists the fields available for exporting data of the sender warehouse of a redistribution. These fields are not available for reorders.</p>
</div>
<table id="table-fields-redistribution-sender-warehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Fields for exporting data of sender warehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the receiver warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the receiver warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">onStockAvailability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Availability with stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse type</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">10. RedistributionSenderWarehouseAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-redistribution-sender-warehouse-address">Table 10</a> lists the fields available for exporting address data of a sender warehouse. These fields are not available for reorders.</p>
</div>
<table id="table-fields-redistribution-sender-warehouse-address" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Fields for exporting address data of sender warehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 1 (default: street)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 2 (default: house number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Company)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">privatePhone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">11. ReorderSenderSupplier</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-reorder-sender-supplier">Table 11</a> lists the fields available for exporting supplier data of a reorder. These fields are not available for redistributions.</p>
</div>
<table id="table-fields-reorder-sender-supplier" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 11. Fields for exporting supplier data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fullname</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Full name of the contact, consisting of first and last name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the contact (previously: Customer number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID pf the contact</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">12. ReorderSenderSupplierPrimaryBillingAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-reorder-sender-supplier-primary-billing-address">Table 12</a> lists the fields available for exporting invoice address data of a supplier reorder. These fields are not available for redistributions.</p>
</div>
<table id="table-fields-reorder-sender-supplier-primary-billing-address" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 12. Fields for exporting address data of supplier</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">additional</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional address information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 1 (default: street)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 2 (default: house number)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 3 (default: additional address information)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address field 4 (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">careOf</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">c/o</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp of the last check of address (Unix timestamp)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">companyName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact person</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (Gelangensbestätigung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalCustomerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External customer number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Frist name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fsk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Age rating</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">houseNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">House number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPackstation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag defining whether a Packstation is used</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostfiliale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag that defines if the address is a post office</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Company)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: First name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (default: Last name)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (freely definable)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packstationNo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personnel number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">phone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">readOnly</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Defines read-only fields</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session ID used for creating the address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the federal state</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">street</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Street</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">taxIdNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tax ID number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title included in the address data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">13. Variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-purchase-order-item-variation">Table 13</a> lists the fields available for exporting data of variations of purchase order items.</p>
</div>
<table id="table-fields-purchase-order-item-variation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 13. Fields for exporting variations</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">heightMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Height in mm</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lengthMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Length in mm</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mainWarehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the main warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">model</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Model</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weightG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weight in g</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weightNetG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net weight in g</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">widthMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Width in mm</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>