<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Stock</span></a></li>
<li><a href="#200"><span>2.</span><span> StockMovement</span></a></li>
<li><a href="#300"><span>3.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>4.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>stock</strong> format to export stock data.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-stock">Table 1</a> lists the fields available for exporting stock data.<br>
During the import, the stock is corrected, meaning that the stock is changed to reflect the imported value. This is necessary for stocktaking.</p>
</div>
<table id="table-fields-stock" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting stock</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>averagePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>batch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Batch</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bestBefore</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Expiration date</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bundle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Package</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemDescriptionName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the item description</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemFlagOne</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag 1 of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemFlagTwo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag 2 of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemManufacturerId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item manufacturer ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemManufacturerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the item manufacturer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>purchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>reordered</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reordered</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>reservedStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reserved stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>storageLocationId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>storageLocationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationBarcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN code of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationIsActive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation is active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Model of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationTags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>warehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. StockMovement</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-stock-movement">Table 2</a> lists the fields available for exporting stock movement data.</p>
</div>
<table id="table-fields-stock-movement" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting stock movements</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute values</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deliveryNoteNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">delivery note number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of the stock movement</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity of items included in the stock movement. The leading sign shows if stock was booked in or out.<br>
-: Stock was booked out<br>
+: Stock was booked in</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reasonId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the stock movement reason</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reasonString</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the stock movement reason</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sourceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Source ID of the stock movement. The source can be an order or incoming items. Thus, the source ID can be an order ID or the ID of incoming items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sourceTypeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the source type of a stock movement. The source type refers to the menu or action that triggered the stock movement.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockProcessId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Process ID of the stock movement. You can see the process ID in the data set of a variation in the <strong>Stock movements</strong> tab of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the user</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UserName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the user who booked the stock movement</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the variation included in the stock movement</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the selection of attributes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationTags</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse that the stock was booked into our out from.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the warehouse that the stock was booked into our out from.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-custom-values">Table 3</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Own value for export</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 4</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>