<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> StockMovements</span></a></li>
<li><a href="#110"><span>2.</span><span> User</span></a></li>
<li><a href="#120"><span>3.</span><span> Variation</span></a></li>
<li><a href="#300"><span>4.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>5.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>stockMovement</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>stockMovement</strong> format to export stock movements.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. StockMovements</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-Item">[table-fields-Item]</a> lists the fields available for exporting data about stock movements.</p>
</div>
<table id="table-fields-StockMovements" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for exporting stock movements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute values</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/stock-management/managing-stocks#1100">Timestamp of the stock movement</a>, as it is displayed in the variation’s <strong>Stock movement</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Process ID of the stock movement. You can see the process ID in the data set of a variation in the <strong>Stock movements</strong> tab of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">processRowId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Source ID of the stock movement. The source can be an order or incoming items. Thus, the source ID can be an order ID or the ID of incoming items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">processRowType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the source type of a stock movement. The source type refers to the menu or action that triggered the stock movement.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity of items included in the stock movement. The leading sign shows if stock was booked in or out.<br>
-: Stock was booked out<br>
+: Stock was booked in</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reason</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the stock movement reason</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reasonString</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the stock movement reason</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse that the stock was booked into our out from.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the warehouse that the stock was booked into our out from.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">2. User</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-User">Table 2</a> lists the fields available for exporting user data.</p>
</div>
<table id="table-fields-User" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for exporting user data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the user who booked the stock movement</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">user</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the user who booked the stock movement</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">3. Variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-Variation">Table 3</a> lists the fields available for exporting variation data.</p>
</div>
<table id="table-fields-Variation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for exporting variation data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleMovingAveragePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the moving average purchase price (net) is <a href="/en/item/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleNetWeight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the net weight is <a href="/en/item/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundlePurchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the net purchase price is <a href="/en/item/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleWeight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the gross weight is <a href="/en/item/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the variation included in the stock movement</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationTag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/flags#400">Variation tags</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">4. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-fields-custom-values">Table 4</a> lists the fields available for exporting custom values.</p>
</div>
<table id="table-fields-custom-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for exporting custom values</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Own value for export</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">5. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-field-date">Table 5</a> lists the field available for exporting the current date. For further information, refer to this <a href="http://php.net/manual/en/function.date.php" target="_blank" rel="noopener">page</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="table-field-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Field for exporting the current date</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Current date</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>