<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Exporting items to Amazon</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">This video teaches you how to send your item data from plentymarkets to Amazon. You will learn how to manually transmit your entire product catalogue if you’re completely new to Amazon. And how to automatically update any changed information, prices and stock levels if you already sell on the platform.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/amazon/items/export-items#video">Tell plentymarkets which items are relevant for Amazon (0:44)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/export-sku#video">Decide which information you want as the SKU (1:37)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/export-transmit-items#video">Transmit items if you’re new to Amazon (2:35)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/export-update-prices-stock#video">Update prices and stock if you already sell on Amazon (4:24)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/196572384#at=264" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>You’re making great progress! Your items are polished and ready to be sent out on their own journey to Amazon.</p>
</div>
<div class="paragraph">
<p>This video shows you just how it’s done! First, you’ll tell plentymarkets which items are relevant for Amazon in any way shape or form. And second, you’ll learn which SKU settings need to be configured before you send items to Amazon for the first time. Then you’ll come to a fork in the road where we’ll start getting a bit more specific. You’ll go down one path if you’re completely new to Amazon and you’d like to transmit entire items to the platform. You’ll go down another if you already sell on Amazon and you just want to update any recently changed information, prices or stock levels.</p>
</div>
<div class="paragraph">
<p>OK, step one, you’ll need to tell plentymarkets which items are relevant to Amazon in any way, shape or form.</p>
</div>
<div class="paragraph">
<p>In plentymarkets, simply activate the item and then click on the "Availability" tab.</p>
</div>
<div class="paragraph">
<p>Select all of the Amazon platforms that are relevant for this item and select Web-API, which is basically just like giving plentymarkets and Amazon permission to communicate with each other.</p>
</div>
<div class="paragraph">
<p>Next, click on the "Multi-Channel" tab and select the appropriate product type - or category - for the item. This product type will come into play again when you export your items in a just few minutes.</p>
</div>
<div class="paragraph">
<p>But for now, sit tight and continue configuring your items one at a time like I’ve just shown or alternatively, use these two group functions to edit the settings for several items at once.</p>
</div>
<div class="paragraph">
<p>Before you start transmitting items to Amazon, there’s one other setting that you should look at here.</p>
</div>
<div class="paragraph">
<p>SKUs are essentially just reference numbers that you use to identify your items on Amazon. And in general, you can choose any sort of alpha-numeric code that you want for your SKU.</p>
</div>
<div class="paragraph">
<p>So here, choose which information should be used as the SKU and plentymarkets will automatically add the suffix "afn" or "mfn" to the end.</p>
</div>
<div class="paragraph">
<p>If you’d prefer to make up your own, customised SKUs without a suffix, then you’ll need to open up the item variation in plentymarkets and manually enter the SKU in this area here.</p>
</div>
<div class="paragraph">
<p>Next, you’ll come to a fork in the road. If you’re completely new to Amazon, then you’ll probably want to transmit items to Amazon in their entirety. But if you already sell on the platform, then you’ll probably just want Amazon to be notified to any changes that you make to your item information, prices or stock levels.</p>
</div>
<div class="paragraph">
<p>To go down the first road, just navigate to the Amazon data export menu.</p>
</div>
<div class="paragraph">
<p>Here you’ll notice that you can either download a CSV file for Seller Central or for Marketplace.</p>
</div>
<div class="paragraph">
<p>Start off by picking the appropriate Amazon account and item catalogue.</p>
</div>
<div class="paragraph">
<p>Do you remember selecting the product type for your items a few minutes ago? Well, here in the data export, you’re going to select the same product type. And just as a head’s up - if you sell items across multiple categories, then you’ll need to export a separate CSV file for each category. So just keep in mind, the export here is only going to be for the items saved in this one particular category.</p>
</div>
<div class="paragraph">
<p>These last few options let you further limit which items are included in the export.</p>
</div>
<div class="paragraph">
<p>So for example, you can only include items that have a specific flag, items that were newly created or modified after a specific date, or items that were made by a specific manufacturer.</p>
</div>
<div class="paragraph">
<p>Once you’ve selected these options, just click on this icon here to download the CSV file. It will include those items that were modified within the last 24 hours.</p>
</div>
<div class="paragraph">
<p>You can open the file with a spreadsheet program and see all the different items included in the export.</p>
</div>
<div class="paragraph">
<p>Once you’ve finished looking at the file, you can upload it directly to Amazon Seller Central.</p>
</div>
<div class="paragraph">
<p>There’s also a nifty little tool in Seller Central that checks your CSV file for some common issues and helps you reduce the likelihood of errors before you upload it to Amazon.</p>
</div>
<div class="paragraph">
<p>Okay, so the manual export is a great way to transmit your items to Amazon when you first begin selling on the platform. But once your items are visible, you’ll probably want to stop doing things manually and start notifying Amazon automatically of any changes to your item descriptions, prices or stock levels.</p>
</div>
<div class="paragraph">
<p>If you have control of the ASIN, then you’ll use this option here to automatically update any changed item information on a daily basis.</p>
</div>
<div class="paragraph">
<p>And you’ll use these options here to specify how often Amazon should be notified of price and stock changes.</p>
</div>
<div class="paragraph">
<p>For example, this will automatically notify Amazon of any item information that’s been changed during the day.</p>
</div>
<div class="paragraph">
<p>And these filters will tell Amazon that it should only update the information for those items that can be shipped within 48 hours are listed within the category on Amazon have this flag here and are also visible in your own online store.</p>
</div>
<div class="paragraph">
<p>As you can see, it’s possible to get really detailed with the filters and only update a very specific sub-set of items.</p>
</div>
<div class="paragraph">
<p>But think twice before you automatically send item information from plentymarkets to Amazon.</p>
</div>
<div class="paragraph">
<p>Remember, this option takes whatever item information you’ve saved in plentymarkets and sends it to Amazon.</p>
</div>
<div class="paragraph">
<p>So, for example, if you’ve spent a lot of time crafting a new product description on Amazon and you haven’t saved it in plentymarkets yet, then watch out for the automatic item export, because it will take your old product description from plentymarkets and send it to Amazon, where it will overwrite your new description.</p>
</div>
<div class="paragraph">
<p>Last but certainly not least, you’ll probably want to use these three options here to specify when you’d like an item’s price or stock level to be updated. These options are really useful for keeping Amazon in the loop.</p>
</div>
<div class="paragraph">
<p>You’re on route to Amazon! But getting your products there is only half the journey. Continue on with the rest of our video tutorials and discover the riches that lie ahead!</p>
</div>
</div>
</div>
</main>