<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Adding custom fields to your item data with properties</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Want to display a certain piece of information on Amazon, but you can’t find the matching field in plentymarkets? No problem! This video teaches you how to solve the problem by creating properties and linking them to your Amazon inventory files.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/amazon/items/properties-create#video">Creating properties (1:28)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/properties-link#video">Linking properties to Amazon (2:26)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/properties-add#video">Adding properties to variations (4:20)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/202025898" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>When you send your items out on their journey to Amazon, you’ll want to promote all of their different features - not just the ones that are easy to spot.</p>
</div>
<div class="paragraph">
<p>For example, you may want to tell customers whether your flashlight takes batteries.</p>
</div>
<div class="paragraph">
<p>Or add a few, specific keywords to your duffle bag.</p>
</div>
<div class="paragraph">
<p>You may want to use one name and description for your yellow shirt and a whole different name and description for your blue shirt. All this sort of information is good for customers to know and it boosts your Amazon SEO ranking too.</p>
</div>
<div class="paragraph">
<p>But, wait a minute, there’s no setting in plentymarkets that specifies whether an item takes batteries!</p>
</div>
<div class="paragraph">
<p>And I can’t save text for specific variations here - only for the entire item as a whole. What should you do? How can you get this information to appear on Amazon?</p>
</div>
<div class="paragraph">
<p>I’ll show you how to solve the problem by creating properties!</p>
</div>
<div class="paragraph">
<p>The first thing to keep in mind is that there are actually two different types of properties.</p>
</div>
<div class="paragraph">
<p>There are ones that apply to the entire item as a whole and ones that apply to individual variations.</p>
</div>
<div class="paragraph">
<p>Just FYI, this video focuses on the latter option. This is the method that we recommend, because it gives you way more flexibility and it allows you to save different names, descriptions and keywords for each variation.</p>
</div>
<div class="paragraph">
<p>Ready? Then let’s get right to it!</p>
</div>
<div class="paragraph">
<p>Once you’ve finished watching this video, you’ll know how to create properties link them to your Amazon inventory files and add these properties to individual variations.</p>
</div>
<div class="paragraph">
<p>Let’s run through the process together with an example. Say you’ve got a duffle bag on sale and you’d like to add a bunch of keywords to it. First, you’ll navigate to the "Properties" menu and then you’ll create a new property by clicking on this button here.</p>
</div>
<div class="paragraph">
<p>Simply tell plentymarkets whether you’ll use the property for your customers and contacts or - as we will in this example - for your items.</p>
</div>
<div class="paragraph">
<p>Then decide what type of property you want to create.</p>
</div>
<div class="paragraph">
<p>For example, a whole number, a number with decimal places, a choice between different options, like yes and no - true and false, or what you’ll need for keywords on Amazon, a short or a long text.</p>
</div>
<div class="paragraph">
<p>The difference between these two options isn’t actually the length, but just whether you’d like the ability to format the text or not.</p>
</div>
<div class="paragraph">
<p>Next give your property a unique name and description and then enter a position number, which controls how your properties will be sorted later on.</p>
</div>
<div class="paragraph">
<p>So far so good. You’ve created the property, but you’re still a few steps away from transmitting keywords to Amazon.</p>
</div>
<div class="paragraph">
<p>Next you’ll need to click on the "Visibility" menu and indicate that you’re going to use the property for Amazon and for whichever client you’ve linked your Amazon account to.</p>
</div>
<div class="paragraph">
<p>Last but not least, you’ll tell plentymarkets where exactly this property should appear within the Amazon inventory file.</p>
</div>
<div class="paragraph">
<p>Now, if you’re thinking - what the heck is an Amazon inventory file? Don’t worry too much about it for now. There’s another video in this series that focuses specifically on that topic. All you need to know for now is that it’s a big Excel file and it includes a bunch of product information.</p>
</div>
<div class="paragraph">
<p>OK, so like I said, all you need to do is tell plentymarkets where your property should appear within the file. Start out by indicating which platform and category you sell your product in. Remember, in this example, we’re selling a duffle bag, so I’ll pick the category "Luggage".</p>
</div>
<div class="paragraph">
<p>Finally, decide which field name, or in other words, which column within the inventory file, you’d like the property to appear in.</p>
</div>
<div class="paragraph">
<p>Since I’m adding a keyword to the duffle bag, I’m going to choose the first generic keywords column and save the property.</p>
</div>
<div class="paragraph">
<p>Now let’s switch gears for just a minute and look at another example.</p>
</div>
<div class="paragraph">
<p>This time let’s suppose you’re selling a flashlight and you want to tell customers whether it takes batteries.</p>
</div>
<div class="paragraph">
<p>Since this is just a simple yes or no question, I chose the "Selection" property type and I saved the values yes and no - or as Amazon wants me to phrase them, true and false.</p>
</div>
<div class="paragraph">
<p>Just as before, I’ve picked the appropriate Amazon platform, category and field. But since you’re bound to need this property for more than just one category or platform you can simply click on the plus icon again and add as many additional correlations as needed.</p>
</div>
<div class="paragraph">
<p>All you need to do now is add your properties to individual variations.</p>
</div>
<div class="paragraph">
<p>Depending on which type of property you created, you’ll either do this in the "Properties" tab or in the "Texts" tab. If we take our duffle bag as an example then we’ll need to pick the "Text" tab because we’re adding a keyword.</p>
</div>
<div class="paragraph">
<p>Simply click on the option here and add the property that you created for the first keyword.</p>
</div>
<div class="paragraph">
<p>Then enter text for the first keyword like so and save the settings. That’s all there is to it!</p>
</div>
<div class="paragraph">
<p>The value will now be included in your inventory file when you transmit items to Amazon.</p>
</div>
<div class="paragraph">
<p>But what are inventory files again exactly?</p>
</div>
<div class="paragraph">
<p>And how do you transmit items to Amazon?</p>
</div>
<div class="paragraph">
<p>I hope you’ll join me in our next videos where we’ll explore these topics even further.</p>
</div>
</div>
</div>
</main>