<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_technischer_hintergrund_zur_aktualität_von_artikeldaten"><span>1.</span><span> Technischer Hintergrund zur Aktualität von Artikeldaten</span></a></li>
<li><a href="#_aktualität_von_artikeldaten_prüfen"><span>2.</span><span> Aktualität von Artikeldaten prüfen</span></a></li>
<li><a href="#_vorschau_von_artikeln_oder_varianten_anzeigen"><span>3.</span><span> Vorschau von Artikeln oder Varianten anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aktualität von Artikeldaten prüfen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du viele Artikeldaten gleichzeitig änderst oder viele neue Artikel gleichzeitig erstellst, sind diese Änderungen aufgrund des technischen Aufbaus von plentymarkets in den folgenden Bereichen von plentymarkets nicht sofort verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelanzeige in Ceres</p>
</li>
<li>
<p>Artikelsuche in Ceres</p>
</li>
<li>
<p>Artikeldaten im Elastischen Export</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wie groß diese Verzögerung ist, hängt davon ab, wie viele Artikel erstellt und/oder geändert wurden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn du einen oder wenige Artikel manuell im plentymarkets Backend erstellst oder aktualisierst, dauert es ungefähr 15 Minuten, bis die Änderungen im Shop sichtbar ist und im Elastischen Export berücksichtigt werden.</p>
</li>
<li>
<p>Wenn du viele Artikel erstellst oder aktualisierst, zum Beispiel per Stapelverarbeitung oder Import, dauert es unter Umständen sehr lang, bis die Änderungen im Webshop sichtbar sind und im Elastischen Export berücksichtigt werden. Wie lang der Vorgang tatsächlich dauert, ist davon abhängig, welche Änderungen vorgenommen wurden und wie viele Varianten von den Änderungen betroffen sind.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_technischer_hintergrund_zur_aktualität_von_artikeldaten">1. Technischer Hintergrund zur Aktualität von Artikeldaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Artikeldaten werden in einer Datenbank gespeichert. Da das Auslesen dieser Daten aber zu lang dauern würde, werden diese Daten in ElasticSearch zwischengespeichert. Die Artikelansicht und Artikelsuche in Ceres und der Elastische Export beziehen Artikeldaten nicht aus der Datenbank, sondern aus ElasticSearch. So werden im Webshop Suchergebnisse schneller gefunden und Artikeldaten schneller geladen. Auch der Elastische Export wird durch ElasticSearch beschleunigt. Die Dauer der Aktualisierung der Daten in ElasticSearch hängt von der Anzahl der geänderten Artikel ab.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_aktualität_von_artikeldaten_prüfen">2. Aktualität von Artikeldaten prüfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Aktualität von Artikeldaten zu prüfen. Die Anzeige informiert über die Aktualität der folgenden Artikeldaten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikeldaten im Elastischen Export</p>
</li>
<li>
<p>Artikelsuche in Ceres</p>
</li>
<li>
<p>Artikelanzeige in Ceres</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Aktualität der Artikeldaten prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Status</strong>.<br>
→ Das Menü <strong>Status</strong> wird angezeigt.<br>
→ Im Bereich <strong>Artikeldaten in ElasticSearch</strong> wird angezeigt, wie viel Prozent der Variantendaten aktuell sind. <a href="#tabelle-aktualitaet-status">Tabelle 1</a> erläutert die verschiedenen Status.<br></p>
</li>
<li>
<p>Die Statusanzeige wird nicht automatisch aktualisiert. Klicke auf <strong>Neu laden</strong>, um den Fortschritt zu beobachten.<br>
<strong><em>Hinweis:</em></strong> Der plentymarkets Support hat keinen Einfluss darauf, wie schnell die Daten aktualisiert werden.</p>
</li>
</ol>
</div>
<table id="tabelle-aktualitaet-status" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Status der Artikeldaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Status</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktuell</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Artikeldaten sind aktuell.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Geändert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorhandene Artikel wurden geändert.<br>
→ Die Änderungen sind im Ceres Webshop und im Elastischen Export noch nicht verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neu</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neue Artikel wurden erstellt.<br>
→ Die neuen Artikel sind im Ceres Webshop und im Elastischen Export noch nicht verfügbar.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_vorschau_von_artikeln_oder_varianten_anzeigen">3. Vorschau von Artikeln oder Varianten anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutze die Vorschaufunktion, um einzelne Artikel oder Varianten auch sofort nach dem Erstellen oder einer Änderung anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Vorschau von Artikeln oder Varianten anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.<br>
→ Das Tab <strong>Einstellungen</strong> der Hauptvariante wird geöffnet.</p>
</li>
<li>
<p>Um eine Vorschau des Artikels anzuzeigen, klicke in der Speicherzeile des Artikels auf das Augensymbol.</p>
</li>
<li>
<p>Um eine Vorschau einer Variante anzuzeigen, wechsele in das Tab der Variante und klicke in der Speicherzeile der Variante auf das Augensymbol.<br>
→ Das Fenster <strong>Mandant (Shop)</strong> wird angezeigt.<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Wähle in der Dropdown-Liste das <strong>Plugin Set</strong>, in dem du die Vorschau anzeigen möchtest.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste den <strong>Mandant (Shop)</strong>, in dem du die Vorschau anzeigen möchtest.<br>
<strong><em>Tipp:</em></strong> Die Einstellungen bleiben erhalten, wenn du die Vorschau das nächste Mal öffnest.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Eine Vorschau des Artikels oder der Variante wird angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>