<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_was_ist_ein_artikel"><span>1.</span><span> Was ist ein Artikel?</span></a></li>
<li><a href="#_was_ist_eine_variante"><span>2.</span><span> Was ist eine Variante?</span></a></li>
<li><a href="#_wie_funktioniert_die_vererbung"><span>3.</span><span> Wie funktioniert die Vererbung?</span></a>
<ul class="sectlevel2">
<li><a href="#_einzelvererbung"><span>3.1.</span><span> Einzelvererbung</span></a></li>
<li><a href="#_1_zu_n_vererbung"><span>3.2.</span><span> 1-zu-N-Vererbung</span></a></li>
<li><a href="#_vererbungsverhalten_steuern"><span>3.3.</span><span> Vererbungsverhalten steuern</span></a></li>
<li><a href="#_vererbung_bei_wechsel_der_hauptvariante"><span>3.4.</span><span> Vererbung bei Wechsel der Hauptvariante</span></a></li>
</ul>
</li>
<li><a href="#_was_sind_verknüpfte_daten"><span>4.</span><span> Was sind verknüpfte Daten?</span></a>
<ul class="sectlevel3">
<li><a href="#_kategorien"><span>4.1.</span><span> Kategorien</span></a></li>
<li><a href="#_einheiten"><span>4.2.</span><span> Einheiten</span></a></li>
<li><a href="#_attribute"><span>4.3.</span><span> Attribute</span></a></li>
<li><a href="#_merkmaleeigenschaften"><span>4.4.</span><span> Merkmale/Eigenschaften</span></a></li>
<li><a href="#_versandprofile"><span>4.5.</span><span> Versandprofile</span></a></li>
<li><a href="#_hersteller"><span>4.6.</span><span> Hersteller</span></a></li>
<li><a href="#_verkaufspreise"><span>4.7.</span><span> Verkaufspreise</span></a>
<ul class="sectlevel3">
<li><a href="#_was_sind_verkaufspreise"><span>4.7.1.</span><span> Was sind Verkaufspreise?</span></a></li>
<li><a href="#_was_sind_preise"><span>4.7.2.</span><span> Was sind Preise?</span></a></li>
<li><a href="#_welche_rabatte_sind_möglich"><span>4.7.3.</span><span> Welche Rabatte sind möglich?</span></a></li>
<li><a href="#_was_sind_preiskalkulationen"><span>4.7.4.</span><span> Was sind Preiskalkulationen?</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelstruktur kennenlernen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In dieser Einführung erhältst du einen ersten Überblick über die Artikelstruktur von plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_ist_ein_artikel">1. Was ist ein Artikel?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der plentymarkets Artikelstruktur ist ein Artikel ein Datencontainer, der aus globalen Daten und mindestens einer Hauptvariante besteht. Die globalen Daten gelten für alle Varianten des Artikels und werden als Artikeldaten oder Daten bezeichnet, die auf der Artikelebene gespeichert werden.</p>
</div>
<div class="paragraph">
<p>Artikeldaten sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Globale Einstellungen (Zustand, Hersteller, Altersfreigabe etc.)</p>
</li>
<li>
<p>Texte (Name, Beschreibungen, technische Daten etc.)</p>
</li>
<li>
<p>Merkmale</p>
</li>
<li>
<p>Cross-Selling-Einstellungen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Jeder Artikel hat eine Hauptvariante, die nicht gelöscht werden kann. Artikel können außerdem eine beliebige Anzahl weiterer Varianten haben. Daten von Varianten werden als Variantendaten bezeichnet. Variantendaten werden für jede Variante getrennt gepflegt, also auf der Variantenebene.</p>
</div>
<div class="paragraph">
<p>An der Variante gespeicherte Daten sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Bilder</p>
</li>
<li>
<p>Marktplatzverfügbarkeit</p>
</li>
<li>
<p>Verkaufspreise</p>
</li>
<li>
<p>Barcodes</p>
</li>
<li>
<p>Einheiten</p>
</li>
<li>
<p>Lager</p>
</li>
<li>
<p>Bestand</p>
</li>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Lieferanten</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bild 1 zeigt eine schematische Darstellung der Artikelstruktur in plentymarkets.</p>
</div>
<div id="bild-plentymarkets-artikelstruktur" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/assets/Artikelstruktur.png" alt="Artikelstruktur">
</div>
<div class="title">Bild 1. plentymarkets Artikelstruktur</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_ist_eine_variante">2. Was ist eine Variante?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten sind verschiedene Versionen eines Produkts. Anders als Artikel, die als reiner Datencontainer dienen, sind Varianten die tatsächlichen Produkte, die käuflich erworben werden können. Artikel dienen nur dazu, Varianten mit gleichen Eigenschaften zu gruppieren und gemeinsam zu verwalten. In plentymarkets können Varianten entweder durch verschiedene Kombinationen aus Einheit und Inhalt erstellt werden oder durch den Einsatz von Attributen:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Variante</th>
<th class="tableblock halign-left valign-top">Beispiel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kombination aus Einheit/Inhalt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten unterscheiden sich nur durch die Menge und/oder Einheit<br>
- Seife: 100ml, 250ml, 500ml</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kombination aus Attributwerten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten unterscheiden sich durch andere Attributwerte, zum Beispiel<br>
- Sofa: Farbe (rot, schwarz, braun) = 1 Attribut<br>
- Quilt: Farbe (gelb, grün), Größe (Einzel, Doppel) = 2 Attribute<br>
- Schuhe: Farbe (schwarz, braun), Größe (38, 39, 40), Breite (schmal, normal) = 3 Attribute</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Für Produktportfolios, die nicht aus Produkten mit ähnlichen Eigenschaften bestehen, müssen keine Varianten erstellt werden. Da Artikel jedoch keine verkaufbaren Produkte sind, entspricht das Produkt dann der Hauptvariante des Artikels, nicht dem Artikel selbst. Die Hauptvariante kann entweder selbst ein verkaufbares Produkt sein oder rein virtuell bestehen, um weitere Varianten des Artikels über die Vererbung zu verwalten. plentymarkets empfiehlt, Hauptvarianten als virtuelle Varianten zu pflegen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_wie_funktioniert_die_vererbung">3. Wie funktioniert die Vererbung?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Hauptvariante eines Artikels unterscheidet sich von den anderen Varianten eines Artikels dadurch, dass die Eigenschaften der Hauptvariante an die anderen Varianten des Artikels weitergegeben, also vererbt werden können. Die Hauptvariante ist also eine Elternvariante, die bestimmte Daten an Kinder vererbt. Diese Vererbungsfunktion ist standardmäßig aktiviert. Wenn eine neue Variante eines Artikels erstellt wird, erbt diese Variante also standardmäßig die vererbbaren Einstellungen der Hauptvariante, wenn keine davon abweichenden Daten gespeichert werden.</p>
</div>
<div class="paragraph">
<p>Es gibt zwei Arten von Vererbung in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Einzelvererbung</p>
</li>
<li>
<p>1-zu-N-Vererbung</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beide Arten von Vererbung werden nachfolgend erläutert.</p>
</div>
<div class="sect2">
<h3 id="_einzelvererbung">3.1. Einzelvererbung</h3>
<div class="paragraph">
<p>Einzelvererbung bedeutet, dass eine Einstellung von der Hauptvariante an die Variante vererbt wird. Die folgenden Daten werden einzeln vererbt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verfügbarkeitseinstellungen</p>
<div class="ulist">
<ul>
<li>
<p>Verfügbarkeit</p>
</li>
<li>
<p>Verfügbar wenn Netto-WB positiv</p>
</li>
<li>
<p>Nicht verfügbar wenn kein Netto-WB</p>
</li>
<li>
<p>Webshop: sichtbar wenn Netto-WB positiv</p>
</li>
<li>
<p>Webshop: unsichtbar wenn kein Netto-WB</p>
</li>
<li>
<p>Unsichtbar: in Artikelauflistung</p>
</li>
</ul>
</div>
</li>
<li>
<p>Maße</p>
<div class="ulist">
<ul>
<li>
<p>Länge/Breite/Höhe</p>
</li>
<li>
<p>Gewicht brutto</p>
</li>
<li>
<p>Gewicht netto</p>
</li>
<li>
<p>Grundpreis anzeigen</p>
</li>
</ul>
</div>
</li>
<li>
<p>Kosten</p>
<div class="ulist">
<ul>
<li>
<p>Umsatzsteuer</p>
</li>
<li>
<p>EK netto</p>
</li>
<li>
<p>Transportkosten netto</p>
</li>
<li>
<p>Lagerkosten netto</p>
</li>
<li>
<p>Zoll</p>
</li>
<li>
<p>Betriebskosten</p>
</li>
</ul>
</div>
</li>
<li>
<p>Versand</p>
<div class="ulist">
<ul>
<li>
<p>Kommissionierung</p>
</li>
<li>
<p>Hauptlager</p>
</li>
<li>
<p>Lademittel</p>
</li>
<li>
<p>Packstücke</p>
</li>
<li>
<p>Portoaufschlag 1</p>
</li>
<li>
<p>Portoaufschlag 2</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_1_zu_n_vererbung">3.2. 1-zu-N-Vererbung</h3>
<div class="paragraph">
<p>1-zu-N-Vererbung bedeutet, dass die Variante entweder den vollständigen Datensatz für eine Einstellung von der Hauptvariante erbt oder keine dieser Einstellungen. Die folgenden Einstellungen werden in ihrer Gesamtheit vererbt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verkaufspreise</p>
</li>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Lieferanten</p>
</li>
<li>
<p>Lager</p>
</li>
<li>
<p>Marktplätze</p>
</li>
<li>
<p>Mandantenverfügbarkeit</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die 1-zu-N-Vererbung wird automatisch deaktiviert, wenn mindestens einer der vererbten Werte an der Variante geändert wird oder wenn ein Wert zur Variante hinzugefügt wird. Beim Deaktivieren der Vererbung werden alle Einstellungen, die nicht geändert werden, an der Variante gespeichert. Wird die Vererbung wieder aktiviert, werden alle an der Variante gespeicherten Einstellungen gelöscht und durch die Werte der Hauptvariante ersetzt.</p>
</div>
</div>
<div class="sect2">
<h3 id="_vererbungsverhalten_steuern">3.3. Vererbungsverhalten steuern</h3>
<div class="paragraph">
<p>Beim Erstellen einer Variante werden die vererbbaren Einstellungen der Hauptvariante an die erstellte Variante vererbt. Die Vererbung muss also an den Varianten deaktiviert und neue Einstellungen müssen vorgenommen werden, wenn für eine Variante andere Einstellungen erforderlich sind.</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-vererbungseinstellungen">Tabelle 1</a> stellt die verschiedenen Arten von Varianteneigenschaften dar, die die Vererbung unterstützen. Die Tabelle beschreibt die Darstellung, das Verhalten und die Deaktivierung der Vererbung.</p>
</div>
<table id="tabelle-vererbungseinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Vererbungseinstellungen</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungsart</th>
<th class="tableblock halign-left valign-top">Darstellung</th>
<th class="tableblock halign-left valign-top">Deaktivierung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dropdown-Liste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der erste Wert der Dropdown-Liste entspricht der Einstellung der Hauptvariante. Geerbte Werte werden in grauer Schrift angezeigt. Auch leere Felder werden vererbt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Vererbung wird deaktiviert, sobald ein anderer Wert als der Wert der Hauptvariante gewählt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Checkbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vererbbare Checkboxen haben drei mögliche Zustände:<br>
<strong>Aktiviert</strong> = Häkchen<br>
<strong>Deaktiviert</strong> = Kein Häkchen<br>
<strong>Vererbt</strong> = Rot durchgestrichen, daneben Checkbox mit der Einstellung der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf durchgestrichenes Kästchen klicken, um die Vererbung zu deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Textfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geerbte Werte werden in grauer Schrift dargestellt. Auch ein leeres Feld wird vererbt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Vererbung wird automatisch deaktiviert, wenn ein Textfeld geleert, mit Text befüllt oder vererbter Inhalt geändert wird.<br>
Um einen leeren Wert in der Variante zu erzielen, muss der Wert in der Hauptvariante leer sein und stattdessen an den Varianten gepflegt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Textfelder mit 1:n-Verknüpfung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geerbte Werte werden in grauer Schrift dargestellt.<br>
Entweder alle oder keine Daten werden vererbt. Eine Auswahl/Teilvererbung ist nicht möglich.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deaktivierung erfolgt über Schaltfläche im Header-Bereich.<br>
Vererbung wird außerdem automatisch deaktiviert, wenn ein Wert an der Variante geändert oder hinzugefügt wird. Nicht geänderte Werte werden aus der Vererbung übernommen und direkt an der Variante gespeichert. Wird die Vererbung wieder aktiviert, werden alle Werte gelöscht und wieder aus der Hauptvariante übernommen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_vererbung_bei_wechsel_der_hauptvariante">3.4. Vererbung bei Wechsel der Hauptvariante</h3>
<div class="paragraph">
<p>Du hast die Möglichkeit, eine andere Variante eines Artikels zur Hauptvariante zu machen. Dabei werden die vererbbaren Werte der Hauptvariante mit den Werten der weiteren Varianten abgeglichen. Bei einem Wechsel der Hauptvariante bleiben alle Werte erhalten und die folgende Vererbungslogik greift:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Für Werte der Varianten, die mit den Werten der neuen Hauptvariante identisch sind, wird die Vererbung automatisch aktiviert.</p>
</li>
<li>
<p>Werte, die nicht mit dem Wert der neuen Hauptvariante übereinstimmen, werden direkt an der Variante gespeichert, also nicht geerbt.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_sind_verknüpfte_daten">4. Was sind verknüpfte Daten?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Flexibilität der Artikelverwaltung zu erhöhen, werden bestimmte Daten zentral im Menü <strong>System » Systemeinstellungen » Artikel</strong> verwaltet und mit Artikeln oder Varianten verknüpft. Diese Daten können so zentral verwaltet werden, was den administrativen Aufwand deutlich reduziert. Die folgenden Daten werden zentral gepflegt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Einheiten</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Merkmale</p>
</li>
<li>
<p>Versandprofile</p>
</li>
<li>
<p>Hersteller</p>
</li>
<li>
<p>Barcodes</p>
</li>
<li>
<p>Lieferanten</p>
</li>
<li>
<p>Verkaufspreise</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die wichtigsten dieser verknüpften Daten werden nachfolgend kurz erläutert.</p>
</div>
<div class="sect3">
<h4 id="_kategorien">4.1. Kategorien</h4>
<div class="paragraph">
<p>Kategorien dienen dazu, Produkte im Webshop übersichtlich zu gruppieren. Varianten können beliebig vielen Kategorien zugeordnet werden. Allerdings muss bereits beim Erstellen eines neuen Artikels eine Standardkategorie festgelegt werden. Diese Standardkategorie kann jederzeit geändert werden. Allerdings ist es technisch nicht möglich, Varianten ohne Standardkategorie zu pflegen.</p>
</div>
</div>
<div class="sect3">
<h4 id="_einheiten">4.2. Einheiten</h4>
<div class="paragraph">
<p>Einheiten definieren den Inhalt von Varianten. Diese Einheiten werden zentral verwaltet. Die Einheiten werden mit der Variante verknüpft und eine Menge dafür hinterlegt. Standardmäßig sind in neuen Systemen 52 Einheiten nach ISO-Code gespeichert. Du kannst jedoch im Menü <strong>System » Systemeinstellungen » Artikel » Einheiten</strong> auch eigene Einheiten erstellen.</p>
</div>
</div>
<div class="sect3">
<h4 id="_attribute">4.3. Attribute</h4>
<div class="paragraph">
<p>Attribute dienen dazu, Produkteigenschaften zu abstrahieren und zentral zu verwalten. Im Menü <strong>Einstellungen » Artikel » Attribute</strong> können beliebig viele Attribute erstellt werden. Pro Attribut können außerdem beliebig viele Attributwerte erstellt werden. Wie weiter oben beschrieben können diese Attribute genutzt werden, um Varianten eines Artikels zu erstellen.</p>
</div>
</div>
<div class="sect3">
<h4 id="_merkmaleeigenschaften">4.4. Merkmale/Eigenschaften</h4>
<div class="paragraph">
<p>Merkmale und Eigenschaften werden in plentymarkets verwendet, um passive Eigenschaften eines Artikels zu erfassen. Passiv bedeutet, dass diese Eigenschaften die nicht dazu verwendet werden, Varianten eines Artikels zu bilden. Über Merkmale und Eigenschaften lassen sich Features des Produkts abbilden, zum Beispiel technische Details wie “Bluetooth” oder “WLAN”. Merkmale sind nicht an den Warenbestand gekoppelt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Merkmale werden mit Artikeln verknüpft. Daher gelten Merkmale für alle Varianten des Artikels. Merkmale sind veraltet und schrittweise durch Eigenschaften ersetzt.<br></p>
</li>
<li>
<p>Eigenschaften werden mit Varianten verknüpft. Eigenschaften sind ein neues Feature in plentymarkets.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Merkmale/Eigenschaften in plentymarkets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Merkmaltyp</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kein</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Merkmaltyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ganze Zahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht die Eingabe einer ganzen Zahl im Tab <strong>Merkmale</strong> des Artikels, zum Beispiel einer Größe.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommazahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht die Eingabe einer Zahl mit Kommastellen im Tab <strong>Merkmale</strong> des Artikels, zum Beispiel einer Maßangabe.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht die Eingabe eines Textes im Tab <strong>Merkmale</strong> des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht die Erstellung einer Auswahlliste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ermöglicht das Hochladen einer Datei im Tab <strong>Merkmale</strong> des Artikels.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_versandprofile">4.5. Versandprofile</h4>
<div class="paragraph">
<p>Versandprofile stellen die Versandmöglichkeiten bereit, die im Webshop angeboten werden. Die Versandprofile werden zentral verwaltet und mit Artikeln verknüpft. Auf der Artikelebene ist beim Erstellen eines neuen Artikels standardmäßig kein Versandprofil aktiviert. Pro Artikel sollte jedoch mindestens ein Versandprofil aktiviert werden, da sonst ungewollte Effekte beim Berechnen der Versandkosten auftreten können.</p>
</div>
<div class="paragraph">
<p>Die Versandkosten einer Variante ergeben sich also aus der Konfiguration der Versandprofile, die mit dem Artikel verknüpft sind. Um jedoch höhere Portokosten zum Beispiel für große oder sperrige Güter zu berücksichtigen, können an der Variante ein Portoaufschlag 1 und/oder ein Portoaufschlag 2 definiert werden. Diese Aufschläge greifen nur, wenn im Versandprofil die Option <strong>Artikel-Portoaufschlag</strong> aktiviert ist.</p>
</div>
</div>
<div class="sect3">
<h4 id="_hersteller">4.6. Hersteller</h4>
<div class="paragraph">
<p>Herstellerdaten werden ebenfalls zentral in den plentymarkets Einstellungen verwaltet und mit Artikeln verknüpft. Im zentralen Herstellerdatensatz werden Name, Kontaktdaten und marktplatzspezifische IDs für den Hersteller gespeichert.</p>
</div>
<div class="paragraph">
<p>Bestimmte Hersteller erheben für den Verkauf auf bestimmten Kanälen Provisionen. Um dieser Forderung Rechnung zu tragen, kann am Hersteller ein Provisionsbetrag in Prozent gespeichert werden. Provisionen werden mandant- und herkunftsspezifisch gespeichert.</p>
</div>
</div>
<div class="sect2">
<h3 id="_verkaufspreise">4.7. Verkaufspreise</h3>
<div class="paragraph">
<p>plentymarkets bietet eine sehr flexible Preisverwaltung. Dabei wird zwischen Verkaufspreisen und Preisen unterschieden. Hier erfährst du, was es mit diesem Konzept auf sich hat und welche Möglichkeiten der Rabattierung plentymarkets bietet.</p>
</div>
<div class="sect3">
<h4 id="_was_sind_verkaufspreise">4.7.1. Was sind Verkaufspreise?</h4>
<div class="paragraph">
<p>Die Verkaufspreise sind ähnlich wie Artikel Datencontainer. Diese Datencontainer ermöglichen es, die Eigenschaften, die auf einen Preis zutreffen sollen, zentral zu verwalten. Ein Verkaufspreis ist also eine Kombination aus Einstellungen und Bedingungen, unter denen eine Variante zu einem bestimmten Preis verkauft wird.</p>
</div>
</div>
<div class="sect3">
<h4 id="_was_sind_preise">4.7.2. Was sind Preise?</h4>
<div class="paragraph">
<p>Im Gegensatz zu den Verkaufspreisen ist der Preis der tatsächliche monetäre Betrag, zu dem die Variante verkauft wird, wenn die durch den Verkaufspreis definierten Bedingungen erfüllt sind. Einer Variante können beliebig viele Verkaufspreise zugeordnet werden. Dazu wird an der Variante zunächst gewählt, welche Verkaufspreise mit der Variante verknüpft werden sollen. Pro Verkaufspreis wird dann ein Preis an der Variante gespeichert. Dieser Preis “greift”, d.h. wird bei einer Bestellung in Rechnung gestellt, wenn die Bedingungen, die in den Verkaufspreiseinstellungen definiert sind, erfüllt sind.</p>
</div>
<div class="paragraph">
<p>Standardmäßig werden die Kombinationen aus Verkaufspreis und Preis von der Hauptvariante an die Varianten des Artikels vererbt. Das bedeutet, dass allen Varianten eines Artikels dieselben Kombinationen aus Verkaufspreis und Preis zugeordnet wird, wenn keine anderen Einstellungen an der Variante vorgenommen werden. Sobald im Bereich <strong>Verkaufspreise</strong> der Variante jedoch eine andere Einstellung vorgenommen wird, wird die Vererbung für alle Verkaufspreise der Variante deaktiviert. Wenn die Vererbung einer Variante wieder aktiviert wird, werden alle an der Variante gespeicherten Verkaufspreise und Preise durch die vererbten Verkaufspreise und Preise ersetzt.</p>
</div>
</div>
<div class="sect3">
<h4 id="_welche_rabatte_sind_möglich">4.7.3. Welche Rabatte sind möglich?</h4>
<div class="paragraph">
<p>Die in plentymarkets gespeicherten Preise einer Variante können durch folgende weitere Einstellungen in anderen plentymarkets Modulen beeinflusst werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Rabatt auf Zahlungsart</p>
</li>
<li>
<p>Kategorierabatt</p>
</li>
<li>
<p>Rabatt auf Kundenklassen</p>
</li>
<li>
<p>Einlösen von Aktionsgutscheinen</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_was_sind_preiskalkulationen">4.7.4. Was sind Preiskalkulationen?</h4>
<div class="paragraph">
<p>Preiskalkulationen dienen dazu, die Preise von Varianten anhand bestimmter Kriterien automatisch zu aktualisieren. Preiskalkulationen werden automatisch auf die hinterlegten Preise einer Variante angerechnet.</p>
</div>
<div class="paragraph">
<p>Preiskalkulationen werden im Menü <strong>Einstellungen » Artikel » Preiskalkulation</strong> gespeichert. Für die Preiskalkulation können folgende an der Variante gespeicherte Daten herangezogen werden:</p>
</div>
<div class="paragraph">
<p>Der Preis, der durch Anwenden der Preiskalkulation geändert wird, ist der Verkaufspreis, der als <strong>Preisquelle</strong> gewählt wurde. Zu diesem Quellpreis können die folgenden Summen addiert werden:</p>
</div>
<div class="paragraph">
<p>Transportkosten = Die an der Variante gespeicherten Transportkosten werden zum Quellpreis addiert.<br>
Lagerkosten = Die an der Variante gespeicherten Lagerkosten werden zum Quellpreis addiert.<br>
Zoll = Die an der Variante gespeicherten Zollkosten werden zum Quellpreis addiert.<br>
Betriebskosten = Die an der Variante gespeicherten Betriebskosten werden zum Quellpreis addiert.<br>
MwSt. = Die an der Variante gespeicherte MwSt. wird zum Quellpreis addiert.</p>
</div>
<div class="paragraph">
<p>Über Verknüpfungen werden Preisquelle und Zusatzkosten nun mit bestimmten Verkaufspreisen verknüpft. Durch Auswahl verschiedener Kombinationen aus Mandant (Shop), Herkunft und Operator plus Operand können so sehr spezifische Preiskalkulationen erstellt werden.</p>
</div>
<div class="paragraph">
<p>Die zentral verwalteten Preiskalkulationen werden auf Variantenebene mit Produkten verknüpft. Bei aktivierter Vererbung werden diese Preise wie andere Preise auch von der Hauptvariante an die anderen Varianten des Artikels vererbt.</p>
</div>
<div class="paragraph">
<p>Wenn die Preiskalkulation mit einer Variante verknüpft wird, wird außerdem die Herstellerprovision berücksichtigt, wenn die definierten Bedingungen zutreffen.</p>
</div>
</div>
</div>
</div>
</div>
</main>