<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Einführung in die Artikelstruktur</span></a></li>
<li><a href="#200"><span>2.</span><span> Vorbereitende Einstellungen</span></a></li>
<li><a href="#300"><span>3.</span><span> Import, Export und manuelle Erstellung von Artikeldaten</span></a></li>
<li><a href="#400"><span>4.</span><span> Darstellung von Artikeln im Webshop</span></a></li>
<li><a href="#500"><span>5.</span><span> Anwendungsfälle</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einleitung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden in plentymarkets zentral verwaltet. Das heißt, dass du deine Produktdaten zuerst in plentymarkets einpflegen musst, um die Ware anschließend auf diversen <a href="/maerkte">Marktplätzen</a>, im eigenen <a href="/webshop">Webshop</a> und im <a href="/pos">stationären Laden</a> zu verkaufen.</p>
</div>
<div class="paragraph">
<p>Müssen Daten, wie z.B. die Beschreibung oder der Preis eines Artikels, zu einem späteren Zeitpunkt geändert werden, musst du diese Daten lediglich zentral in plentymarkets ändern. Die Änderung erscheint automatisch auf allen genutzten Vertriebskanälen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Einführung in die Artikelstruktur</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du bist neu bei plentymarkets? Bevor du deine Daten einpflegst, lerne die Artikelstruktur kennen! Die Einführung bietet dir einen Überblick über das Thema und beantwortet deine grundlegenden Fragen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Was ist der Unterschied zwischen <a href="/artikel/einleitung/struktur">Artikeln und Varianten</a>?</p>
</li>
<li>
<p>Wie funktioniert die <a href="/artikel/einleitung/vererbung">Vererbung</a>?</p>
</li>
<li>
<p>Wie kann ich <a href="/artikel/einleitung/suche#100">nach Artikeln suchen</a>?</p>
</li>
<li>
<p>Kann ich auch ein paar <a href="/artikel/einleitung/suche#900">Beispielartikel</a> sehen?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Vorbereitende Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zu deinen Artikeldaten gehören diverse Angaben, wie z.B. Kategorien, Preise, Hersteller, Beschreibungstexte und Bilder. Manchmal ist allerdings ein bisschen Vorarbeit nötig.</p>
</div>
<div class="paragraph">
<p>Bevor du einen Artikel in eine bestimmte Kategorie einsortieren kannst, muss die Kategorie erst einmal in plentymarkets existieren. Bevor du den Hersteller eines Artikels auswählen kannst, müssen die Herstellerdaten in plentymarkets vorhanden sein.</p>
</div>
<div class="paragraph">
<p>Nachdem du solche <a href="/artikel/artikel-verwalten">vorbereitenden Einstellungen</a> einmalig in plentymarkets gespeichert hast, kannst du sie daraufhin auf alle zutreffenden Artikel und Varianten anwenden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Import, Export und manuelle Erstellung von Artikeldaten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bist du bereit, deine Artikeldaten in plentymarkets einzupflegen? Hierfür stehen dir einige Tools zur Verfügung. Am einfachsten importierst du deine Artikel- und Variantendaten mit Hilfe eines <a href="/basics/assistenten">Assistenten</a>.</p>
</div>
<div class="paragraph">
<p>Es ist aber auch möglich, Produktdaten <a href="/artikel/artikel-verwalten#20">manuell in plentymarkets zu erstellen</a> oder Produktdaten zwischen deinem plentymarkets System und anderen, externen Systemen auszutauschen. Du kannst Artikeldatensätze z.B.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>aus vorhandenen <a href="/maerkte/ebay/ebay-einrichten#11000">eBay-Listings</a> importieren.</p>
</li>
<li>
<p>in CSV-Dateien pflegen und mit <a href="/daten/daten-importieren/ElasticSync">ElasticSync</a> importieren.</p>
</li>
<li>
<p>aus externen Systemen mit der <a href="/basics/admin-aufgaben/rest-api">REST-API</a> importieren.</p>
</li>
<li>
<p>mit dem <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a> aus plentymarkets exportieren.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Darstellung von Artikeln im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald deine Artikeldaten in plentymarkets vorhanden sind, geht es mit dem Verkauf weiter. plentymarkets enthält einen kostenlosen <a href="/webshop">Webshop</a>, aus dem du deine Artikel vertreiben kannst.</p>
</div>
<div class="paragraph">
<p>In diesem Themenbereich findest du schnelle Hilfe, falls deine <a href="/artikel/best-practices">Artikel und Kategorien nicht im Webshop angezeigt</a> werden. Du lernst außerdem, wie du zusätzliche Funktionen einrichtest, um Artikel genau nach deiner Vorstellung zu präsentieren:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/frontend-artikelsuche-verwalten">Facettensuche</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#950">Cross-Selling</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#1010">Shop-Aktionen</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Anwendungsfälle</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du einen bestimmten Anwendungsfall im Sinn? In diesem Themenbereich lernst du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#420">Artikeldaten in mehreren Sprachen</a> zu pflegen</p>
</li>
<li>
<p><a href="/artikel/multipacks-pakete-sets-verwalten">Produkte zu kombinieren</a> und als Verkaufseinheit anzubieten</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#4300">Gratisartikel und Werbegeschenke</a> zu einer Bestellung hinzuzufügen</p>
</li>
</ul>
</div>
</div>
</div>
</main>