<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Vorbereitende Einstellungen</h1><div class="paragraph">
<p>Zu deinen Artikeldaten gehören diverse Angaben, wie z.B. Kategorien, Preise, Hersteller, Beschreibungstexte und Bilder. Manchmal ist allerdings ein bisschen Vorarbeit nötig.</p>
</div><div class="paragraph">
<p>Bevor du einen Artikel in eine bestimmte Kategorie einsortieren kannst, muss die Kategorie erst einmal in plentymarkets existieren. Bevor du den Hersteller eines Artikels auswählen kannst, müssen die Herstellerdaten in plentymarkets vorhanden sein.</p>
</div><div class="paragraph">
<p>Solche vorbereitende Systemeinstellungen werden zuerst im Menü <strong>Einrichtung</strong> verwaltet und anschließend mit Artikeln oder Varianten verknüpft.</p>
</div><div class="paragraph">
<p>Zu den wichtigsten Systemeinstellungen gehören:</p>
</div><div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/kategorien">Kategorien</a>, die deine Produkte gruppieren.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/einheiten">Einheiten</a>, die den Inhalt deiner Varianten definieren.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/attribute">Attribute</a>, die deine Produkte charakterisieren und dabei Varianten bilden.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/eigenschaften">Merkmale und Eigenschaften</a>, die deine Produkte charakterisieren, <em>ohne</em> dabei Varianten zu bilden.</p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a>, die deine angebotenen Versandservices und Portokosten definieren.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/hersteller">Hersteller</a>, die die Namen, Kontaktdaten, IDs und Provisionen deiner Hersteller beinhalten.</p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise">Verkaufspreise</a>, die die Bedingungen definieren, unter denen eine Variante zu einem bestimmten Preis verkauft wird.</p>
</li>
</ul>
</div>
</main>