<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#90"><span>1.</span><span> Facettensuche einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>1.1.</span><span> Facette erstellen</span></a></li>
<li><a href="#110"><span>1.2.</span><span> Facette bearbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>1.2.1.</span><span> Facetteneinstellungen vornehmen</span></a></li>
<li><a href="#130"><span>1.2.2.</span><span> Facettenname in zusätzlicher Sprache speichern</span></a></li>
</ul>
</li>
<li><a href="#140"><span>1.3.</span><span> Facette mit Wert verknüpfen</span></a>
<ul class="sectlevel3">
<li><a href="#150"><span>1.3.1.</span><span> Wert erstellen</span></a></li>
<li><a href="#160"><span>1.3.2.</span><span> Wert verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#170"><span>1.4.</span><span> Facetten mit Bildern verknüpfen</span></a>
<ul class="sectlevel3">
<li><a href="#180"><span>1.4.1.</span><span> Bild hochladen</span></a></li>
<li><a href="#190"><span>1.4.2.</span><span> Bild verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>1.5.</span><span> Facetten mit Mandant verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#210"><span>2.</span><span> Facettensuche in Callisto nutzen</span></a>
<ul class="sectlevel2">
<li><a href="#270"><span>2.1.</span><span> Callisto mit Facettensuche nutzen</span></a>
<ul class="sectlevel3">
<li><a href="#280"><span>2.1.1.</span><span> Callisto + Facettensuche: Felder für die Suche aktivieren</span></a></li>
<li><a href="#_callisto_facettensuche_sprachen_ändern"><span>2.1.2.</span><span> Callisto + Facettensuche: Sprachen ändern</span></a></li>
</ul>
</li>
<li><a href="#290"><span>2.2.</span><span> Facettensuche in Callisto einbinden</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Facettensuche in Ceres nutzen</span></a>
<ul class="sectlevel2">
<li><a href="#310"><span>3.1.</span><span> Ceres: Felder für die Suche aktivieren</span></a></li>
<li><a href="#320"><span>3.2.</span><span> Ceres: Sprachen ändern</span></a></li>
<li><a href="#330"><span>3.3.</span><span> Ceres: Facettensuche einbinden</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Frontend-Artikelsuche verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Die Frontend-Artikelsuche ermöglicht es, dein Produktsortiment im Webshop zu durchsuchen. Im Template-Plugin Ceres ist für die Artikelsuche im Webshop standardmäßig die Facettensuche aktiviert. Im alten Webshop-Design Callisto wird die Facettensuche im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> aktiviert.</p>
</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite erfährst du, wie du Facetten und Facettenwerte erstellst und wie du diese Facetten in Callisto und Ceres nutzt.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alter Webshop: Callisto mit Standard-Suche</div>
<div class="paragraph">
<p>Bei Webshops mit dem alten Design Callisto, für die im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> die Option <strong>Standard-Suche</strong> aktiviert ist, wird für die Artikelsuche im Frontend der <a href="/artikel/artikel-verwalten#385">Index der Backend-Artikelsuche</a> verwendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="90">1. Facettensuche einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Facetten sind die Filtermöglichkeiten, mit denen Suchergebnisse im Webshop nach bestimmten Kriterien, also Facetten, verfeinert werden. Der Vorteil der Facettensuche ist, dass das Suchergebnis nicht zwangsweise analog zur Auswahl des Kriteriums reduziert wird, sondern immer wieder die gesamte Datenbank nach dem Kriterium durchsucht wird. Dies ermöglicht eine intuitive Suche und vermeidet, dass Suchergebnisse durch eine ungünstige Vorauswahl verfälscht werden.</p>
</div>
<div class="paragraph">
<p>Die Filternavigation richtest du flexibel ein. Die angezeigten Artikel in einer Kategorie können mit Facetten nicht nur nach Merkmalen/Eigenschaften, sondern auch nach folgenden Kriterien weiter eingeschränkt werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Nach Attributen, Merkmalen und Eigenschaften</p>
</li>
<li>
<p>Nach Herstellern</p>
</li>
<li>
<p>Nach der Verfügbarkeit der Artikel</p>
</li>
<li>
<p>Nach Preissegment</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese vier Facettentypen verbindest du in plentymarkets mit verschiedenen Werten, die das Filterergebnis bestimmen. Je mehr Facetten du erstellst und mit Werten verknüpfst, desto umfangreicher wird die im Webshop dargestellte Filterauswahl.</p>
</div>
<div class="paragraph">
<p>Die Konfiguration besteht aus mehreren Schritten. Zunächst werden Facetten erstellt, anschließend durch weitere Einstellungen näher bestimmt und schließlich mit den gewünschten Werten verknüpft. Zudem muss im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> die Option <strong>Facettensuche</strong> eingestellt sein.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel mit Facetten verknüpfen</div>
<div class="paragraph">
<p>Eine direkte Verknüpfung von Artikeln mit den einzelnen Facetten ist nicht nötig. Die Zuordnung deiner Artikel zu Facetten erfolgt automatisch durch die <a href="/artikel/frontend-artikelsuche-verwalten#140">Verknüpfung der Facette mit Werten</a>, die am Artikel hinterlegt sein müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="100">1.1. Facette erstellen</h3>
<div class="paragraph">
<p>Für die Facettensuche erstellst du zunächst Facetten, zum Beispiel die Facette "Farbe" des Typs <strong>Attribut/Merkmal</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Facette erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.</p>
</li>
<li>
<p>Trage einen <strong>Namen</strong> für die Facette in der Systemsprache ein. Dieser Name wird im Webshop angezeigt.</p>
</li>
<li>
<p>Wähle einen <strong>Typ</strong> aus der Dropdown-Liste. Beachte die Erläuterungen in <a href="#tabelle-verfuegbare-facettentypen">Tabelle 1</a>.</p>
</li>
<li>
<p>Trage die <strong>Position</strong> ein, an der die Facette im Webshop angezeigt werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Facette wird erstellt.</p>
</li>
</ol>
</div>
<table id="tabelle-verfuegbare-facettentypen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Facettentypen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Facettentyp</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Preis</strong> müssen nicht mit Werten verknüpft werden, da der Filter vom kleinsten bis zum größten Preis einer Kategorie individuell eingeschränkt werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut/Merkmal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Attribut/Merkmal</strong> werden mit Attributen, Merkmalen und Eigenschaften im System verknüpft und stellen so vielfältige Filtermöglichkeiten her, zum Beispiel nach Farben, Größen etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Verfügbarkeit</strong>, zum Beispiel "Kurzfristig lieferbar", werden mit den im Menü <a href="/artikel/artikel-verwalten#180">Einrichtung » Artikel » Verfügbarkeit</a> erstellten Verfügbarkeiten verknüpft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Hersteller</strong>, zum Beispiel "Adidas", werden mit den im Menü <a href="/artikel/artikel-verwalten#560">Einrichtung » Artikel » Hersteller</a> erstellten Herstellern verknüpft.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="110">1.2. Facette bearbeiten</h3>
<div class="paragraph">
<p>Nachdem du eine Facette erstellt hast, wird die Facette geöffnet. Es stehen vier Tabs zur Verfügung, um weitere Einstellungen vorzunehmen und Werte zu verknüpfen.</p>
</div>
<div class="sect3">
<h4 id="120">1.2.1. Facetteneinstellungen vornehmen</h4>
<div class="paragraph">
<p>Im Tab <strong>Einstellungen</strong> nimmst du die Einstellungen wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Facette bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte die Erläuterungen in <a href="#tabelle-facetten-bearbeiten">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-facetten-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Facetten bearbeiten; Tab <strong>Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den beim Erstellen der Facette gewählten Typen an. Der Typ ist nicht änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt die Sortierung des Suchergebnisses fest. Je nach Auswahl werden die Artikel nach der <strong>Trefferquote</strong>, der <strong>Position</strong> oder alphabetisch von <strong>A-Z</strong> sortiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Position an, die beim Erstellen der Facette eingegeben wurde. Die Position ist änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CSS-Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen CSS-Namen hinterlegen. Dieser Name wird als Template-Variable im CMS-Bereich zur Verfügung gestellt, sodass zu jeder Facette eine eigene Klasse hinterlegt werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahlart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Auswahlart wählen.<br>
<strong>Einschränkend</strong> = Schränkt den Filter mit dem gewählten Wert weiter ein. Alle Artikel werden angezeigt, die diesen Wert besitzen und die Filterkriterien vorher gewählter Filter erfüllen.<br>
<strong>Mehrfach</strong> = Lässt eine Mehrfachauswahl von Ergebnissen zu, zum Beispiel die Auswahl mehrerer Hersteller, deren Artikel gemeinsam angezeigt werden.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimale Trefferanzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, wie viele Ergebnisse es für einen Facettenwert mindestens geben muss, damit der Facettenwert im Webshop angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximal angezeigte Facettenwerte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, wie viele Facettenwerte pro Facette höchstens angezeigt werden. 250 Facettenwerte können maximal angezeigt werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="130">1.2.2. Facettenname in zusätzlicher Sprache speichern</h4>
<div class="paragraph">
<p>Beim Erstellen einer Facette gibst du einen Namen in der Standardsprache des Systems ein. Dieser Name wird im Webshop angezeigt. Wenn du zusätzlichen Sprachen anbietest, gibst du im Tab <strong>Name</strong> den Namen der Facette in diesen Sprachen ein. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Facettenname in zusätzlicher Sprache speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Name</strong>.</p>
</li>
<li>
<p>Gib einen Namen für die gewünschte Sprache ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">1.3. Facette mit Wert verknüpfen</h3>
<div class="paragraph">
<p>Im Tab <strong>Werte</strong> einer Facette verknüpfst du die Facette mit verschiedenen Werten. Im Beispiel der Facette Farbe des Typs <strong>Attribut/Merkmal</strong> erstellst du zum Beispiel die Werte weiß, schwarz, rot, blau etc. und verknüpfst diese Werte mit den vorhandenen Attributen, Merkmalen und Eigenschaften im System. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="sect3">
<h4 id="150">1.3.1. Wert erstellen</h4>
<div class="paragraph instruction">
<p>Wert erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke links unten auf das grüne Plus.<br>
→ Das Fenster <strong>Wert erstellen</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für den Wert in der Systemsprache ein.</p>
</li>
<li>
<p>Gib eine <strong>Position</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der neue Wert wird erstellt.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib im Tab <strong>Name</strong> Übersetzungen für den Namen des Werts ein.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib im Tab <strong>Einstellungen</strong> eine CSS-Klasse ein.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="160">1.3.2. Wert verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe nun den Wert mit den Daten im System. Du kannst einem Facettenwert mehrere Backend-Werte zuordnen. Zum Beispiel kannst du bei Facetten des Typs <strong>Attribut/Merkmal</strong> Attribute, Merkmale und Eigenschaften im System in einem Filter zusammenfassen und so zusammen in einem Ergebnis ausgeben.</p>
</div>
<div class="paragraph instruction">
<p>Facettenwert mit Backend-Wert verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke auf den Wert.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf den Backend-Wert, der verknüpft werden soll.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Verknüpfen</strong>.<br>
→ Der Backend-Wert wird mit dem Wert der Facette verknüpft.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Verknüpfe weitere Werte.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="170">1.4. Facetten mit Bildern verknüpfen</h3>
<div class="paragraph">
<p>Im Tab <strong>Bilder</strong> verknüpfst du Facetten und Facettenwerte mit Bildern. Verknüpfe zum Beispiel die Hersteller in deinem Webshop mit Bildern, wenn du nicht den Namen der Herstellers, sondern das Logo des Herstellers anzeigen möchtest.</p>
</div>
<div class="sect3">
<h4 id="180">1.4.1. Bild hochladen</h4>
<div class="paragraph instruction">
<p>Bild hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Dateien hochladen</strong>.</p>
</li>
<li>
<p>Navigiere zum Speicherort der Bilddatei.</p>
</li>
<li>
<p>Wähle die Bilddatei.<br>
→ Die Bilddatei wird hochgeladen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="190">1.4.2. Bild verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe nun das Bild mit den Daten im System. Pro Bild kann ein Wert verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Bild verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Zeige mit dem Cursor auf das Bild.<br>
→ Im unteren Bereich des Bilds wird eine Dropdown-Liste mit Werten angezeigt.</p>
</li>
<li>
<p>Klicke in der Dropdown-Liste auf den Wert.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Bild wird mit dem Wert verknüpft.<br>
→ Das verknüpfte Bild wird mit rotem Rand dargestellt.<br>
→ Der Name des Werts wird im Bild angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">1.5. Facetten mit Mandant verknüpfen</h3>
<div class="paragraph">
<p>Nachdem du Facetten erstellt hast, verknüpfe im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Facettenverknüpfungen</strong> diese Facetten mit dem Mandanten, in dem die Facetten als Filter zur Verfügung stehen sollen. Wähle pro Mandant, welche Facetten für den Shop relevant sind und welche nicht. Änderungen, die du vornimmst, werden in Echtzeit übertragen. Gehe wie unten beschrieben vor, um Facetten mit einem Mandanten zu verknüpfen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Facette des Typs Preis</div>
<div class="paragraph">
<p>Pro Mandant kann nur eine Facette des Typs Preis verknüpft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Facetten im Webshop verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Facettenverknüpfungen</strong>.</p>
</li>
<li>
<p>Klicke in der Liste links auf die Facette, die du mit diesem Shop verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Facette verknüpfen</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Aktiviere die Option <strong>Bilder bereitstellen</strong>, um mit den Facetten verknüpfte Bilder im Webshop anzuzeigen.</p>
</li>
<li>
<p>Wiederhole den Vorgang für alle weiteren Facetten, die verknüpft werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Facette wird im Webshop verknüpft.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="210">2. Facettensuche in Callisto nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im alte Design Callisto können für die Frontend-Suche verschiedene Suchen genutzt werden. Welche Suche verwendet wird, legst du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> fest. Die folgenden Optionen sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard-Suche</strong><br>
→ Wenn die Option <strong>Standard-Suche</strong> aktiviert ist, wird für die Artikelsuche im Frontend der <a href="/artikel/artikel-verwalten#385">Index der Backend-Artikelsuche</a> verwendet.</p>
</li>
<li>
<p><strong>Findologic</strong><br>
→ Wie du die Artikelsuche über Findologic einrichtest, erfährst du auf der Handbuchseite <a href="/webshop/webshop-einrichten/extras/findologic">Findologic</a>.</p>
</li>
<li>
<p><strong>Facettensuche</strong><br>
→ Wie du die Facettensuche einrichtest, erfährst du im Kapitel <a href="/artikel/frontend-artikelsuche-verwalten#270">Callisto mit Facettensuche nutzen</a>.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="270">2.1. Callisto mit Facettensuche nutzen</h3>
<div class="paragraph">
<p>Die neue Facettensuche auf Basis von ElasticSearch nutzt du, indem du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> die Option <strong>Facettensuche</strong> aktivierst. Richte die Facettensuche wie im Kapitel <a href="/artikel/frontend-artikelsuche-verwalten#90">Facettensuche einrichten</a> ein. Gehe dann wie unten beschrieben vor, um die neue Facettensuche in Callisto zu nutzen.</p>
</div>
<div class="sect3">
<h4 id="280">2.1.1. Callisto + Facettensuche: Felder für die Suche aktivieren</h4>
<div class="paragraph">
<p>In den Sucheinstellungen legst du fest, welche Felder bei der ElasticSearch-Suche berücksichtigt werden. Bei einer Suche im Webshop werden also nur die Daten der aktivierten Felder durchsucht. In der Spalte <strong>Boost</strong> gibst du ein, mit welcher Gewichtung das Feld zur Bewertung von Suchergebnissen beitragen soll. Je höher die eingegebene Zahl, desto höher wird der Inhalt des Felds für das Suchergebnis priorisiert. Als Boost-Wert kann eine beliebig hohe Zahl eingegeben werden. Die Standardeinstellungen sind für die meisten Anwendungsfälle sinnvoll. Diese Standardeinstellungen priorisieren die Varianten-ID und die Artikel-ID sehr hoch. Wenn in deinem Webshop also nach einer Zahl gesucht wird, werden Suchergebnisse für diese Zahl aus den ID-Feldern priorisiert. Gehe wie unten beschrieben vor, um die Standardeinstellungen zu ändern.</p>
</div>
<div class="paragraph instruction">
<p>Felder für die Suche aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sucheinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere in der Spalte <strong>Aktiv</strong> die Felder, die bei der Suche berücksichtigt werden sollen.</p>
</li>
<li>
<p>Gib für die aktivierten Felder in der Spalte <strong>Boost</strong> eine Gewichtung ein. Je höher die Zahl, desto höher die Priorität im Suchergebnis.<br>
<strong><em>Tipp:</em></strong> Du kannst eine beliebig hohe Zahl eingeben.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_callisto_facettensuche_sprachen_ändern">2.1.2. Callisto + Facettensuche: Sprachen ändern</h4>
<div class="paragraph">
<p>Die Facettensuche kann für bis zu drei Sprachen aktiviert werden. Standardmäßig sind die Sprachen <strong>Deutsch</strong>, <strong>Englisch</strong> und <strong>Französisch</strong> aktiviert. Wenn du Webshops in anderen Sprachen betreibst, kannst du die Sprachen ändern. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Suchindex wird bei Änderungen vollständig neu gebaut</div>
<div class="paragraph">
<p>Wenn du die Spracheinstellungen änderst, wird der Suchindex komplett neu aufgebaut. Das bedeutet, dass alle Artikel erneut zum Index hinzugefügt werden. Je nachdem, wie viele Artikel du hast, kann dieser Vorgang bis zu mehrere Tage dauern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sprachen ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sprachen</strong>.</p>
</li>
<li>
<p>Deaktiviere eine Sprache, die du nicht benötigst.</p>
</li>
<li>
<p>Aktiviere eine Sprache.<br>
<strong><em>Hinweis:</em></strong> Pro System können nur drei Sprachen aktiviert werden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Artikel werden zum Suchindex für die aktivierten Sprachen hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="290">2.2. Facettensuche in Callisto einbinden</h3>
<div class="paragraph">
<p>Im alten Design Callisto wird die Facettensuche im Template <strong>NavigationFacetsList</strong> definiert. Das Template <strong>NavigationFacetsList</strong> des Designs Callisto Light enthält fertigen Code, mit dem du eine Facettensuche erstellst. Dieser Code ist natürlich ausbaubar. Über die Template-Funktion <a href="/webshop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationfacetslist#">Container_NavigationFacetsList</a> fügst du das Template <strong>NavigationFacetsList</strong> in den gewünschten Bereich des Webshops ein. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Empfohlene Templates</div>
<div class="paragraph">
<p>Wir empfehlen, die Template-Funktion <strong>Container_NavigationFacetsList</strong> innerhalb von <strong>ItemViewCategoriesList</strong> und <strong>ItemViewSearchResultsList</strong> zu verwenden. Diese Templates findest du im Menü <strong>CMS » Webdesign » Ordner: Layout » Ordner: ItemView</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Facettensuche in Callisto einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne das gewünschte Template.</p>
</li>
<li>
<p>Füge die Template-Funktion <strong>Container_NavigationFacetsList</strong> in das Template ein, um die Facettensuche anzuzeigen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Wiederhole optional den Vorgang, um die Template-Funktion in weitere Templates einzufügen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Facettensuche in Ceres nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ceres setzt standardmäßig die Facettensuche in Kombination mit ElasticSearch ein. Richte die Facettensuche wie im Kapitel <a href="/artikel/frontend-artikelsuche-verwalten#90">Facettensuche einrichten</a> ein und gehe dann wie unten beschrieben vor, um die Facettensuche in Ceres zu nutzen.</p>
</div>
<div class="sect2">
<h3 id="310">3.1. Ceres: Felder für die Suche aktivieren</h3>
<div class="paragraph">
<p>In den Sucheinstellungen legst du fest, welche Felder bei der ElasticSearch-Suche berücksichtigt werden. Bei einer Suche im Webshop werden also nur die Daten der aktivierten Felder durchsucht. In der Spalte <strong>Boost</strong> gibst du ein, mit welcher Gewichtung das Feld zur Bewertung von Suchergebnissen beitragen soll. Je höher die eingegebene Zahl, desto höher wird der Inhalt des Felds für das Suchergebnis priorisiert. Als Boost-Wert kann eine beliebig hohe Zahl eingegeben werden. Die Standardeinstellungen sind für die meisten Anwendungsfälle sinnvoll. Diese Standardeinstellungen priorisieren die Varianten-ID und die Artikel-ID sehr hoch. Wenn in deinem Webshop also nach einer Zahl gesucht wird, werden Suchergebnisse für diese Zahl in den ID-Feldern priorisiert. Gehe wie unten beschrieben vor, um die Standardeinstellungen zu ändern.</p>
</div>
<div class="paragraph instruction">
<p>Felder für die Suche aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sucheinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere in der Spalte <strong>Aktiv</strong> die Felder, die bei der Suche berücksichtigt werden sollen.</p>
</li>
<li>
<p>Gib für die aktivierten Felder in der Spalte <strong>Boost</strong> eine Gewichtung ein. Je höher die Zahl, desto höher die Priorität im Suchergebnis. Ergebnisse aus dem Feld mit der höchsten Zahl werden also zuerst gelistet.<br>
<strong><em>Tipp:</em></strong> Du kannst eine beliebige Zahl eingeben.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="320">3.2. Ceres: Sprachen ändern</h3>
<div class="paragraph">
<p>Die Facettensuche kann für bis zu drei Sprachen aktiviert werden. Standardmäßig sind die Sprachen <strong>Deutsch</strong>, <strong>Englisch</strong> und <strong>Französisch</strong> aktiviert. Wenn du Webshops in anderen Sprachen betreibst, kannst du die Sprachen ändern. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Suchindex wird bei Änderungen vollständig neu gebaut</div>
<div class="paragraph">
<p>Wenn du die Spracheinstellungen änderst, wird der Suchindex komplett neu aufgebaut. Das bedeutet, dass alle Artikel erneut zum Index hinzugefügt werden. Je nachdem, wie viele Artikel du hast, kann dieser Vorgang bis zu mehrere Tage dauern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sprache ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Frontend » Sprachen</strong>.</p>
</li>
<li>
<p>Deaktiviere eine Sprache, die du nicht benötigst.</p>
</li>
<li>
<p>Aktiviere eine Sprache.<br>
<strong><em>Hinweis:</em></strong> Pro System können nur drei Sprachen aktiviert werden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Artikel werden zum Suchindex für die aktivierten Sprachen hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="330">3.3. Ceres: Facettensuche einbinden</h3>
<div class="paragraph">
<p>Wie du die Facettensuche in Ceres nutzt, erfährst du auf der Handbuchseite <a href="/webshop/ceres-einrichten#330">Ceres einrichten</a>.</p>
</div>
</div>
</div>
</div>
</main>