<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_gratis_zugaben_freiartikel"><span>1.</span><span> Gratis-Zugaben / Freiartikel</span></a></li>
<li><a href="#_ereignisaktion_anlegen"><span>2.</span><span> Ereignisaktion anlegen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Gratis-Zugaben/Freiartikel</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Aufträge » Ereignisaktionen</strong></p>
</div>
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_gratis_zugaben_freiartikel">1. Gratis-Zugaben / Freiartikel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Hilfe von <strong>Gratis-Zugaben</strong> oder <strong>Freiartikeln</strong> können Sie höhere Umsätze in Ihrem Webshop generieren, denn durch solche Gesten werden Ihre Kunden motiviert, mehr und öfter bei Ihnen einzukaufen. Die grundlegende Idee ist einfach: Sie versprechen Ihren Kunden ab einem bestimmten Warenwert pro Einkauf einen bestimmten Artikel aus Ihrem Sortiment als Gratiszugabe. Statt diese Artikel nun jedem Auftrag manuell hinzuzufügen, können Sie diesen Vorgang in plentymarkets mit einer <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion  </a></strong> automatisieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ereignisaktion_anlegen">2. Ereignisaktion anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden wird erklärt, wie Sie mit Hilfe einer Ereignisaktion Ihren Aufträgen bestimmte Artikel automatisch hinzufügen können.</p>
</div>
<div class="paragraph instruction">
<p>Ereignisaktion für Gratis-Zugaben erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Ereignisaktionen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>grüne Plus</strong>, um eine <strong>neue Ereignisaktion</strong> anzulegen.</p>
</li>
<li>
<p>Tragen Sie im Bearbeitungsfenster einen <strong>Namen</strong> ein, z.B. <strong>Gratis-Artikel hinzufügen</strong> und wählen Sie unter <strong>Ereignis</strong> die Option <strong>Auftragsanlage » Neuer Auftrag</strong>.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> einen <strong>Filter</strong> des Filtertyps <strong>Auftrag » Auftragstyp</strong> hinzu, markieren Sie im Filter die Option <strong>Auftrag</strong>.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> einen <strong>Filter</strong> des Filtertyps <strong>Auftrag » Warenwert (brutto)</strong> hinzu, tragen Sie im Filter den gewünschten <strong>Warenwert</strong> ein, ab dem der Kunde den Gratis-Artikel erhalten soll.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> eine <strong>Aktion</strong> des Aktionstyps <strong>Artikel » Artikel hinzufügen</strong> hinzu. In der Aktion die <strong>Artikel-ID</strong> des gewünschten Artikels eintragen.</p>
</li>
<li>
<p>Fügen Sie mit dem <strong>grünen Plus</strong> eine <strong>Aktion</strong> des Aktionstyps <strong>Kunde » E-Mail versenden</strong> hinzu. In der Aktion die <strong>gewünschte E-Mail-Vorlage</strong> und als Empfänger <strong>Kunde</strong> wählen. Falls Sie die notwendige <strong><a href="/crm/e-mails-versenden#1200">E-Mail-Vorlage </a></strong> noch nicht eingerichtet haben, können Sie dies unter <strong>Einstellungen » Mandant (Shop) » Standard » E-Mail » Vorlagen</strong> tun.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ereignis: Zahlungseingang</div>
<div class="paragraph">
<p>Als Ereignis können Sie natürlich auch die Option <strong>Zahlungseingang: vollständig</strong> auswählen, da Aufträge vor der Freigabe bezahlt werden müssen. Bieten Sie aber den <strong>Kauf auf Rechnung</strong> oder die <strong>Nachnahme</strong> als Zahlungsart an, erfolgt der Zahlungseingang immer erst nach dem Warenausgang, und dann wäre es bereits zu spät für eine Beilage. Wir empfehlen Ihnen daher, die Option <strong>Auftragseingang</strong> für die neue Ereignisaktion zu nutzen, und zu diesem Zeitpunkt die Bestellung mit dem Bonusartikel zu erweitern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Kostenlose Werbegeschenke</div>
<div class="paragraph">
<p>Falls die Zugabe nur ein Werbegeschenk ist, das Sie gar nicht verkaufen möchten, legen Sie den Artikel dennoch als Stammdatensatz an, stellen ihn auf <strong>unsichtbar</strong> und ordnen ihn einer unsichtbaren Kategorie zu, d.h. einer Kategorie, die Sie nicht für den Webshop aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Gestaffeltes Bonussystem</div>
<div class="paragraph">
<p>Wer noch einen Schritt weiter gehen möchte, kann über <strong>mehrere</strong> Ereignisaktionen auch ein <strong>gestaffeltes Bonussystem</strong> einführen, bei dem je nach Warenwert unterschiedliche Artikel als Zugaben gewährt werden. In der ersten Aktion setzen Sie den Filter <strong>&gt;= 100,00 EUR</strong><span class="underline">und</span><strong>&lt; 200,00 EUR</strong>. In der zweiten Ereignisaktion stellen Sie dann einen Warenwert <strong>&gt;= 200 EUR</strong> ein und fügen einen höherwertigen Artikel hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>