<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Import, Export, manuelle Bearbeitung</h1><div class="paragraph">
<p>Bist du bereit, deine Artikeldaten in plentymarkets einzupflegen?
Oder willst du Produktdaten zwischen deinem plentymarkets System und anderen, externen Systemen austauschen?
Es gibt viele Möglichkeiten, Artikeldaten zu importieren, zu exportieren und manuell zu bearbeiten.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="true">Import</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="export-tab" data-toggle="tab" href="#export" role="tab" aria-controls="export" aria-selected="false">Export</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="manuelle-bearbeitung-tab" data-toggle="tab" href="#manuelle-bearbeitung" role="tab" aria-controls="manuelle-bearbeitung" aria-selected="false">Manuelle Bearbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="import" role="tabpanel" aria-labelledby="import-tab">
<div class="paragraph">
<p><strong><em>Import-Tool</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-importieren/ElasticSync">Allgemeine Infos zum Import-Tool</a></p>
</li>
<li>
<p><a href="/daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-variantenanlage">Praxisbeispiel: Import von Artikeln und Varianten</a></p>
</li>
<li>
<p><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel">Verzeichnis aller Datenfelder für den Artikelimport</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Sonstige Möglichkeiten</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/willkommen/assistenten">Artikel mit Hilfe des "Artikelimport" Assistenten importieren</a>.</p>
</li>
<li>
<p><a href="/maerkte/ebay/ebay-einrichten#11000">Artikel aus vorhandenen eBay-Listings importieren</a>.</p>
</li>
<li>
<p><a href="/daten/rest-api">Artikel aus externen Systemen mit der REST-API importieren</a>.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="export" role="tabpanel" aria-labelledby="export-tab">
<div class="paragraph">
<p><strong><em>Katalog-Tool</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-exportieren/kataloge">Allgemeine Infos zum Katalog-Tool</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/katalog-artikel">Verzeichnis aller Datenfelder für den Artikelexport (Katalog)</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>FormatDesigner und Elastischer Export</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-exportieren/elastischer-export">Allgemeine Infos zum Elastischen Export</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/FormatDesigner/format-typen/artikel">Verzeichnis aller Datenfelder für den Artikelexport (FormatDesigner)</a></p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="manuelle-bearbeitung" role="tabpanel" aria-labelledby="manuelle-bearbeitung-tab">
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/import-export-anlage/anlage/neue-artikel">Neue Artikel manuell anlegen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten">Verzeichnis aller Artikeldatenfelder</a></p>
</li>
<li>
<p><a href="/artikel/import-export-anlage/anlage/massenbearbeitung">Mehrere Artikel gleichzeitig bearbeiten</a></p>
</li>
</ul>
</div>
</div></div><div class="paragraph">
<p>Dieses Video bietet dir einen spielerischen Überblick über deine Möglichkeiten:</p>
</div><div class="videoblock">
<div class="title">Artikeldaten in plentymarkets einpflegen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/257449655#t=3m43s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</main>