<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_menüaufbau"><span>1.</span><span> Menüaufbau</span></a></li>
<li><a href="#_fragen_und_antworten"><span>2.</span><span> Fragen und Antworten</span></a>
<ul class="sectlevel2">
<li><a href="#_allgemeine_fragen"><span>2.1.</span><span> Allgemeine Fragen</span></a></li>
<li><a href="#_nächste_schritte"><span>2.2.</span><span> Nächste Schritte</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Neue Artikel-UI (open beta)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Kapitel beschreibt die neue Artikel-UI, die im März 2022 in einer offenen Betaphase veröffentlicht wurde.
Offene Beta bedeutet, dass du die neue Artikel-UI sehen und ausprobieren kannst.
Die neue UI hat allerdings noch nicht den vollen Funktionsumfang.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/682773880" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_menüaufbau">1. Menüaufbau</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü <strong>Artikel » Artikel-UI</strong> ist wie folgt aufgebaut:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/neue-ui/assets/menue-uebersicht.png" alt="menue uebersicht">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong>:
Hier navigierst du durch die einzelnen Bereiche des Menüs.
Der aktuell ausgewählte Bereich (blaue Schrift) wird im Hauptfenster rechts angezeigt.
Falls du mehrere Artikel oder Varianten gleichzeitig offen hast, werden diese untereinander angezeigt.
Klicke auf <span class="icon darkGrey"><i class="fa fa-bars  "></i></span>, um die Navigationsleiste ein- und auszublenden.</p>
</li>
<li>
<p><strong>Toolbar</strong>:
Hier führst du relevante Aktionen durch. Zum Beispiel:</p>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/neue-ui/suchen#100">nach Artikeln und Varianten suchen</a>.</p>
</li>
<li>
<p><a href="/artikel/neue-ui/detailansicht#1000">deine Änderungen an Artikeln oder Varianten speichern</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Hauptfenster</strong>:
Hier wird der aktuell geöffnete Bereich angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Übersicht</strong>:
Wenn du eine Suche ausführst, siehst du die <a href="/artikel/neue-ui/suchen#500">Ergebnisse in einer Übersicht</a>.
Die Übersicht liefert Informationen zu den gefundenen Artikeln auf einen Blick.
Zum Beispiel siehst du ein Bild des Artikels, ob der Artikel aktiv oder inaktiv ist, seine IDs, Preise, Tags und Zeitstempel.</p>
</li>
<li>
<p><strong>Detailansicht</strong>:
Wenn du einen Artikel öffnest, werden seine Details im Hauptfenster auf der rechten Seite angezeigt.
Was aber, wenn das Hauptfenster leer ist?
Oder was, wenn du mit der Anordnung der Artikeldetails nicht zufrieden bist?
Du kannst eine <a href="/artikel/neue-ui/detailansicht#200">neue Detailansicht erstellen</a> und sie an deine Bedürfnisse anpassen.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_fragen_und_antworten">2. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_allgemeine_fragen">2.1. Allgemeine Fragen</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Wie kann ich Feedback geben?</strong></div>
<div class="content">
<div class="paragraph">
<p>Feedback zur neuen Artikel-UI ist in <a href="https://forum.plentymarkets.com/c/item/18">dieser Forenkategorie</a> herzlich willkommen.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wird die alte Artikel-UI bald abgeschafft?</strong></div>
<div class="content">
<div class="paragraph">
<p>Nein.
Die alte Artikel-UI wird nicht in nächster Zeit abgeschaltet werden.
Derzeit können die neue und alte Artikel-UIs parallel verwendet werden.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Welche Funktionen fehlen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Folgende Funktionalitäten fehlen und sind geplant:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelneuanlage</p>
</li>
<li>
<p>Varianten Generierung</p>
</li>
<li>
<p>Artikel löschen</p>
</li>
<li>
<p>Varianten löschen</p>
</li>
<li>
<p>Artikel-Sets</p>
</li>
<li>
<p>Multipacks</p>
</li>
<li>
<p>Etikett generieren</p>
</li>
<li>
<p>Artikelvorschau / Variantenvorschau</p>
</li>
<li>
<p>Seriennummern</p>
</li>
<li>
<p>Artikel- und Variantengruppenfunktion</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Folgende Funktionalitäten fehlen und sind nicht geplant:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Merkmale</p>
</li>
<li>
<p>Freitextfelder</p>
</li>
<li>
<p>Artikel-Tab Media</p>
</li>
<li>
<p>Artikel-Tab Statistik</p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_nächste_schritte">2.2. Nächste Schritte</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Wie kann ich nach Artikeln und Varianten suchen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Die neue Artikel-UI verfügt über eine Reihe von Suchfilter, die dir helfen, das richtige Produkt zu finden.
<a href="/artikel/neue-ui/suchen#100">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich meine häufig verwendeten Sucheinstellungen speichern?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Deine Sucheinstellungen kannst du speichern, um sie in Zukunft schneller und einfacher wieder verwenden zu können.
<a href="/artikel/neue-ui/suchen#200">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie passe ich eine Ansicht an?</strong></div>
<div class="content">
<div class="paragraph">
<p>Du kannst die Artikel- und Variantenansicht an deine Bedürfnisse anpassen.
<a href="/artikel/neue-ui/detailansicht">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Wie funktioniert die Speicherlogik?</strong></div>
<div class="content">
<div class="paragraph">
<p>Wenn du Änderungen an einem Artikel oder einer Variante vornimmst, erscheint ein Sternchen in der linken Navigationsleiste.
<a href="/artikel/neue-ui/detailansicht#1000">Weitere Informationen</a>.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>