<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Importing order information</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Have you recently switched to plentymarkets from another software? And you want your old sales history to switch over with you? This video shows you just how it’s done!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/data-transfer/case-examples/importing-order-information-entering-data#video">Enter data into your CSV file (1:31)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/case-examples/importing-order-information-create-dummy-customer#video">Create a dummy customer (3:16)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/case-examples/importing-order-information-create-new-sync#video">Create a new sync (5:22)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/case-examples/importing-order-information-map-data#video">Map your data (6:49)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/336295756#at=322" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Want to import orders into plentymarkets?
Maybe you switched to plentymarkets from another software, and now you want your old sales history to switch over with you.</p>
</div>
<div class="paragraph">
<p>In this case, you might only care about importing a record of how often each item was purchased.
You might not actually care who bought the item or how much it cost to ship the package.
It’s relatively easy to import these kinds of bare-bones orders. And that’s exactly what I’ll teach you in this video.</p>
</div>
<div class="paragraph">
<p>But there are lots of other reasons why you might also want to import orders. For example, maybe you sell items on another platform, which isn’t directly connected to plentymarkets by a plugin or an interface.
If you still want to process these orders in plentymarkets, then you’ll need to import them first and you’ll need to know details like who bought the item and how it should be shipped.</p>
</div>
<div class="paragraph">
<p>This is all possible to do, but it’s a bit more difficult and it goes beyond the scope of this video.
Instead, we’ll focus on the easier example. I’ll show you what sort of information you’ll need to have in your CSV file and how to configure the matching and mapping settings in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Ready? Then let’s get right down to it! If you’re not already familiar with the way that orders are displayed in plentymarkets, you might want to take a quick look at the order overview first.
Here you’ll see that orders always have a unique ID - you can see who placed the order, which items were purchased and where the order was placed - so which marketplace or platform.</p>
</div>
<div class="paragraph">
<p>When you import orders into plentymarkets, you’ll gather all this same sort of information together in your CSV file.
Similar to the order ID in plentymarkets, you surely also had an order ID in the software program that the orders came from.</p>
</div>
<div class="paragraph">
<p>And just like every item included in the order has an ID in plentymarkets, you’ll also need to enter these IDs in your CSV file.
Since it’s a bit easier to understand with an example, let’s say you want to import two different orders.
The first order contains three items. And the second order contains two items.</p>
</div>
<div class="paragraph">
<p>In your CSV file, you’ll put each item in a different line. So the first three lines will all relate to the first order.
And the last two lines will relate to the second order.</p>
</div>
<div class="paragraph">
<p>But be careful when entering external order IDs. You’ll want to be sure you’re using unique IDs - so ones that don’t already identify an order in plentymarkets.
It’s really easy to turn generic IDs into unique ones. Simply think of a prefix like esync and add it to the start of your IDs.</p>
</div>
<div class="paragraph">
<p>Next, you’ll want to give a bit more information about the items that were purchased. So just enter columns to specify the item names, how many copies of the item your customer bought, the item’s net price, its currency and what type of an item it is.
So for example 1, if it’s a regular item. Or a different ID, if it’s something like a gift card or part of a bundle.</p>
</div>
<div class="paragraph">
<p>Just take a look at our online manual to see which types of items there are, and which IDs they correspond to.
While you’re there, take a look at the list of possible order types and enter the appropriate ID into your CSV file.</p>
</div>
<div class="paragraph">
<p>Okay, at this point, let’s talk a little about customers. Now remember, in this example, we’re only importing our old sales history.
We don’t really care who actually bought each item, since we’ve already shipped the orders and we don’t need to ship them again.</p>
</div>
<div class="paragraph">
<p>But, items are always sold to someone. I mean, you can’t just sell to thin air.
You can solve this problem by creating a dummy data record, which stands in for the customer.</p>
</div>
<div class="paragraph">
<p>If you don’t already have a dummy customer, you can create one in the menu CRM &gt; Contacts.
The fields in this menu are all pretty self-explanatory.</p>
</div>
<div class="paragraph">
<p>Just make sure you create a billing address and a delivery address. Or check both boxes to use the same address for both purposes.
Once you’ve created the dummy data record, click on “Addresses” here and find the ID for the invoice address and delivery address.
Then enter this ID into your CSV file. Similar to how you used a dummy customer data record, you’ll also use a default payment method.</p>
</div>
<div class="paragraph">
<p>There’s one in plentymarkets that you can use.
You might just need to activate and save the payment method, if you haven’t done so already.
This payment method has the ID 26 which you’ll enter into your CSV file.</p>
</div>
<div class="paragraph">
<p>Last but certainly not least, you might want to keep a record of where these orders came from.
So in other words, you might want to specify that you imported them all with ElasticSync.
This is done by creating a new order referrer.</p>
</div>
<div class="paragraph">
<p>Just give your referrer a meaningful name, activate it and save the settings.
The referrer will be created and it will be given an ID which you’ll enter into your CSV file.</p>
</div>
<div class="paragraph">
<p>And at this point, I want to mention one last thing that I sort of glazed over earlier.
You entered IDs for all of the items included in the orders. Well, since you’ll be using these items with the ElasticSync referrer, you’ll also need to make the items available for ElasticSync.</p>
</div>
<div class="paragraph">
<p>At this point, you’re ready to save your CSV file and create a new sync in plentymarkets.
Take a look at our basic instructional video, if you’re not sure how.</p>
</div>
<div class="paragraph">
<p>When matching the data, your first goal is to tell plentymarkets which order you’re working with.
So use the “Order” drop-down to tell plentymarkets which column of your CSV file contains the external order ID.
Then tell plentymarkets that it should save this number as the external order ID when creating the new order.</p>
</div>
<div class="paragraph">
<p>Okay, so now that we’ve told plentymarkets which order we’re working with, our second goal is to tell it which items we’re looking at within that order.
So we’ll pick the column of our CSV file where we saved the variation ID and we’ll tell plentymarkets to save this number as the variation ID.</p>
</div>
<div class="paragraph">
<p>Just a little side note. If you don’t know the plentymarkets internal variation IDs, then you might prefer to choose the Global Trade Item Number instead. But be careful because the GTIN doesn’t necessarily have to be a unique number in plentymarkets. So there’s a chance you could have duplicates in your system.
Finally, make sure you’re importing new data and updating existing data.</p>
</div>
<div class="paragraph">
<p>This is because ElasticSync will go through your file line by line. So in the first line, it will create a new order with the first item that was purchased.
Then in the second line, it will update the existing order by adding the second item that was purchased.</p>
</div>
<div class="paragraph">
<p>At this point, you’re ready to start mapping the data.
We already used the external order ID to match our data. And now we’ll map it here too.</p>
</div>
<div class="paragraph">
<p>On the other hand, we don’t need to map the variation ID, so we can simply delete this field.
Continue on by mapping the rest of the product information.
So map your product’s name quantity, price currency and type.</p>
</div>
<div class="paragraph">
<p>Just one thing to note. The product name is called “Description” here. Don’t get confused though, it’s actually the name.
The order type, contact IDs, payment method and referrer aren’t too difficult to understand either.
Just make sure you specify what type of address each one is and also that this value relates to the payment method.</p>
</div>
<div class="paragraph">
<p>Finally, there’s one last mandatory field that you’ll also need to specify. And that’s the ID for your own plentymarkets system. Assuming you only work with one plentymarkets system, this ID will always be the same.
And in that case, it doesn’t really make sense to always add a plenty-ID column to your CSV file.</p>
</div>
<div class="paragraph">
<p>Instead, it will be much easier to use the “Own Value” function, enter your plentymarkets ID here and map this to the plenty-ID data field.
All that’s left to do now is activate the data fields, save the settings and test the import.</p>
</div>
<div class="paragraph">
<p>Okay, let’s check whether the orders were correctly imported.
Now when I click on the search icon, I see the newly imported orders.</p>
</div>
<div class="paragraph">
<p>The weight here was taken directly from my item data record and a warehouse was automatically assigned to the order.
Just as planned, we’ve imported the orders without any shipping costs.
They both use the dummy customer data record that we’ve created for ElasticSync and they were both imported into plentymarkets with status 3.</p>
</div>
<div class="paragraph">
<p>Way to go! You’ve taken your first steps toward importing orders. Now that you understand the concept, try it out for yourself and start importing your old sales history into plentymarkets.</p>
</div>
</div>
</div>
</main>