<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Voraussetzungen</span></a></li>
<li><a href="#200"><span>2.</span><span> Einen neuen Artikel erstellen</span></a></li>
<li><a href="#300"><span>3.</span><span> Benötigte Varianten erstellen</span></a></li>
<li><a href="#400"><span>4.</span><span> Weitere Produktdaten hinzufügen</span></a></li>
<li><a href="#600"><span>5.</span><span> Produkte für den Verkauf freigeben</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel und Varianten manuell anlegen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Bist du bereit, deine Artikeldaten in plentymarkets einzupflegen?
Auf dieser Seite lernst du, Artikel und Varianten manuell zu erstellen.</p>
</div>
<h4 id="_ablauf" class="discrete">Ablauf</h4>
<div class="ulist">
<ul>
<li>
<p>Erstelle den <a href="/artikel/neue-ui/artikel-manuell-anlegen#200">Artikeldatensatz</a>.</p>
</li>
<li>
<p>Soll der Artikel z.B. in unterschiedlichen Größen oder Farben erhältlich sein? Dann erstelle <a href="/artikel/neue-ui/artikel-manuell-anlegen#300">alle nötigen Varianten</a>.</p>
</li>
<li>
<p>Füge <a href="/artikel/neue-ui/artikel-manuell-anlegen#400">weitere Produktdaten</a> wie Bilder, Texte und Bestandsinformationen hinzu.</p>
</li>
<li>
<p><a href="/artikel/neue-ui/artikel-manuell-anlegen#600">Aktiviere den Artikel</a>, wenn er verkaufsfertig ist.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Willst du Artikel lieber importieren?</div>
<div class="paragraph">
<p>Diese Seite beschreibt die manuelle Erstellung von Artikeln und Varianten.
Dies ist zum Beispiel sinnvoll, wenn du nur wenige neue Produkte zum Sortiment hinzufügen möchtest.
Was aber, wenn du mehrere hundert Artikeldatensätze hinzufügen willst?
Es würde ewig dauern, dies manuell zu tun.
Wirf einen Blick auf die unterschiedlichen <a href="/artikel/import-export-anlage">Tools</a> zum Importieren von Artikelinformationen.
Wähle das Tool, das für deine Situation am besten geeignet ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Voraussetzungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du bereits Grundkenntnisse über die Artikelstruktur in plentymarkets hast:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kennst du den <a href="/artikel/einleitung/struktur">Unterschied zwischen Artikeln und Varianten</a>?</p>
</li>
<li>
<p>Weißt du, wie Varianten ihre <a href="/artikel/einleitung/vererbung">Daten vererben</a> können?</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Zudem müssen folgende Daten im System vorhanden sein, um wie hier beschrieben Artikel und Varianten manuell zu erstellen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/attribute">Attribute und Attributwerte</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien">Kategorien</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise">Verkaufspreise</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Einen neuen Artikel erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erstelle den Artikeldatensatz, indem du einige grundlegende Produktinformationen eingibst.
Keine Sorge, der Artikel wird nicht sofort zum Verkauf stehen.
Nach der Erstellung fügst du weitere Produktinformationen hinzu und aktivierst den Artikel, wenn er verkaufsfertig ist.</p>
</div>
<div class="paragraph instruction">
<p>Einen neuen Artikel erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel-UI</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuen Artikel anlegen</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).<br>
→ Ein Pop-Up Fenster wird geöffnet. Dieses Fenster ist in mehrere Schritte unterteilt.</p>
</li>
<li>
<p>Nimm die Einstellungen in jedem Schritt vor.</p>
</li>
</ol>
</div>
<h4 id="_schritt_artikeldaten" class="discrete">Schritt: Artikeldaten</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong><br>
<span class="red">(Pflichtfeld)</span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für den Artikel ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Nachdem du den Artikel erstellt hast, kannst du den Namen in weitere Sprachen übersetzen oder auch weitere Namen hinzufügen, z.B. wenn der Artikel auf Marktplätzen anders genannt werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_schritt_kategorien" class="discrete">Schritt: Kategorien</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorien wählen</strong><br>
<span class="red">(Pflichtfeld)</span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welche Kategorie soll der Artikel einsortiert werden?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Kategorien wählen</strong>.<br>
→ Ein Pop-Up Fenster wird geöffnet.</p>
</li>
<li>
<p>Erweitere die Einträge (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) und wähle alle Kategorien (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), in denen dieser Artikel erscheinen soll.</p>
</li>
<li>
<p>Klicke auf <strong>Übernehmen</strong>.<br>
→ Die gewählten Kategorien werden als Tabelle dargestellt.
Klicke auf <span class="icon "><i class="material-delete"></i></span>, um eine Kategorie aus dieser Liste zu entfernen, oder klicke auf <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Kategorien wählen</strong>, um weitere Kategorien hinzuzufügen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Liste enthält nur die <a href="/artikel/einstellungen/kategorien">Kategorien</a>, die du bereits in plentymarkets angelegt hast.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_schritt_hauptvariante_optional" class="discrete">Schritt: Hauptvariante (Optional)</h4>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Was ist eine Hauptvariante?</div>
<div class="paragraph">
<p>Die erste Variante eines Artikels wird als Hauptvariante bezeichnet.
Hat ein Artikel mehrere Varianten, kann die Hauptvariante entweder selbst ein verkaufbares Produkt sein oder rein virtuell bestehen, um die weiteren Untervarianten des Artikels anhand von Vererbung zu verwalten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Nummer für die Hauptvariante ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inhalt</strong><br>
<strong>Einheit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen numerischen Wert für die Hauptvariante ein und wähle eine Einheit aus der Dropdown-Liste, z.B. 500ml oder 150g.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute wählen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Hauptvariante kann entweder selbst ein verkaufbares Produkt sein oder rein virtuell bestehen, um die weiteren Untervarianten des Artikels anhand von Vererbung zu verwalten.
Das heißt, die Hauptvariante kann Attribute besitzen, muss es aber nicht.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Attribute wählen</strong>.<br>
→ Ein Pop-Up Fenster wird geöffnet.</p>
</li>
<li>
<p>Erweitere die Attribute (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) und wähle die Attributwerte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du für die Hauptvariante verwenden willst, z.B. die Größe "klein" und die Farbe "rot".</p>
</li>
<li>
<p>Klicke auf <strong>Übernehmen</strong>.<br>
→ Die gewählten Attributwerte werden als Tabelle dargestellt.
Klicke auf <span class="icon "><i class="material-delete"></i></span>, um einen Attributwert aus dieser Liste zu entfernen, oder klicke auf <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Attribute wählen</strong>, um weitere Attributwerte hinzuzufügen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Liste enthält nur die <a href="/artikel/einstellungen/attribute">Attribute und Werte</a>, die du bereits in plentymarkets angelegt hast.</p>
</div>
<div class="paragraph">
<p><strong><em>Empfehlung</em></strong>: Es ist technisch möglich, Attribute hier auszuwählen. Wir empfehlen dies jedoch nicht.
Vielmehr empfehlen wir dir, zuerst den neuen Artikel ohne Attribute anzulegen. Anschließend empfehlen wir dir, Attribute auszuwählen, während du die <a href="/artikel/neue-ui/artikel-manuell-anlegen#300">benötigten Varianten erstellst</a>.<br>
Warum? Verknüpfst du Attribute bereits jetzt mit der Hauptvariante, müssen alle folgenden Varianten zwangsläufig aus den gleichen Attributen erzeugt werden. Dies ist nicht der Fall, wenn du Attribute erst bei der Variantenanlage verknüpfst.
Im Nachhinein bist du also flexibler.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_schritt_fertig" class="discrete">Schritt: Fertig</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zusammenfassung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier siehst du eine Zusammenfassung deiner gewählten Einstellungen.
Klicke auf <strong>Artikel erstellen</strong>, wenn du mit den Angaben einverstanden bist.</p>
</div>
<div class="paragraph">
<p>Nach der Erstellung hast du folgende Möglichkeiten:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zum Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Pop-up-Fenster wird geschlossen und der neu erstellte Artikeldatensatz wird zur weiteren Bearbeitung geöffnet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weiteren Artikel erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Pop-up-Fenster wird für den nächsten Artikel neu gestartet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schliessen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Pop-up-Fenster wird geschlossen.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Benötigte Varianten erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Manche Artikel, wie Schuhe und T-Shirts, werden in verschiedenen Größen und Farben verkauft.
Mit anderen Worten: Kunden kaufen nicht nur ein T-Shirt, sondern eine bestimmte Variante eines T-Shirts, z.B. in der Farbe rot und der Größe S.
Erstelle zunächst alle nötigen Varianten.</p>
</div>
<div class="paragraph instruction">
<p>Benötigte Varianten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel-UI » [Artikel öffnen] » Variantenübersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten erstellen</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).<br>
→ Ein Pop-Up Fenster wird geöffnet. Dieses Fenster ist in mehrere Schritte unterteilt.</p>
</li>
<li>
<p>Nimm die Einstellungen in jedem Schritt vor.</p>
</li>
</ol>
</div>
<h4 id="_schritt_einstellungen" class="discrete">Schritt: Einstellungen</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inhalt</strong><br>
<strong>Einheit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nutze diesen Bereich, wenn die Varianten sich durch ihre Menge und/oder Einheit unterscheiden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Eine Seife, die in 100ml, 250ml und 500ml erhältlich ist.</p>
</div>
<div class="paragraph">
<p><strong><em>Vorgehensweise</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib die Menge und Einheit der ersten Variante ein, z.B. 100ml.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten erstellen</strong>.</p>
</li>
<li>
<p>Wiederhole den Vorgang für 250ml und für 500ml.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute auswählen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nutze diesen Bereich, wenn die Varianten sich durch ihre Attributwerte unterscheiden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Ein T-Shirt, das in der Farbe grün oder blau und in der Größe S, M oder L erhältlich ist.</p>
</div>
<div class="paragraph">
<p><strong><em>Vorgehensweise</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Attribute auswählen</strong>.<br>
→ Ein Pop-Up Fenster wird geöffnet.</p>
</li>
<li>
<p>Erweitere die Attribute (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) und wähle alle Attributwerte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du verwenden willst, z.B. die Größen "S", "M", "L" und die Farben "grün" und "blau".</p>
</li>
<li>
<p>Klicke auf <strong>Übernehmen</strong>.<br>
→ Die gewählten Attributwerte werden als Tabelle dargestellt.
Klicke auf <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Attribute auswählen</strong>, wenn du deine Auswahl ändern möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> und vergewissere dich, dass die Kombinationen korrekt sind.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten erstellen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Liste enthält nur die <a href="/artikel/einstellungen/attribute">Attribute und Werte</a>, die du bereits in plentymarkets angelegt hast.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_schritt_vorschau" class="discrete">Schritt: Vorschau</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschau</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nutze diesen Bereich, wenn du dich vergewissern willst, dass die Kombinationen korrekt sind.</p>
<p class="tableblock"><strong><em>Beispiel</em></strong>: Die Größen "S", "M", "L" kombiniert mit den Farben "grün" und "blau" ergeben 6 Varianten.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Oberhalb der Tabelle siehst du, wie viele Kombinationen erstellt werden.
Es gibt keine Begrenzung, wie viele Kombinationen möglich sind.</p></td>
</tr>
</tbody>
</table>
<h4 id="_schritt_zusammenfassung" class="discrete">Schritt: Zusammenfassung</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zusammenfassung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier siehst du eine Bestätigung, dass die Varianten erstellt wurden.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
Es kann einige Minuten dauern, bis die neuen Varianten in der Übersicht erscheinen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Weitere Produktdaten hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Während der Artikelerstellung hast du bereits einige grundlegende Produktinformationen eingegeben.
Füge jetzt weitere Informationen hinzu.
Zum Beispiel kannst du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Bilder hochladen</p>
</li>
<li>
<p>Produkttexte schreiben</p>
</li>
<li>
<p>Preise hinterlegen</p>
</li>
<li>
<p>Bestandsinformationen ergänzen</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="600">5. Produkte für den Verkauf freigeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten sind für Kunden im plentyShop nicht sichtbar, bis sie aktiviert werden.
Das heißt, du kannst an inaktiven Varianten arbeiten, ohne dass deine Kunden es merken.
Du aktivierst die Variante, sobald sie in deinem plentyShop veröffentlicht werden soll.</p>
</div>
<div class="paragraph instruction">
<p>Variante aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel-UI » [Variante öffnen] » Element: Verfügbarkeit und Sichtbarkeit</strong>.</p>
</li>
<li>
<p>Wähle die Option <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vollständige Checkliste zur Artikel-Sichtbarkeit</div>
<div class="paragraph">
<p>Artikel müssen nicht nur aktiviert werden, sondern benötigen sie auch einen Preis, eine Kategorie und positive Netto-Warenbestand.
Sonst werden Kunden den Artikel nicht kaufen können.
Arbeite <a href="/artikel/webshop/checkliste-artikel-anzeige">diese Checkliste</a> durch und vergewissere dich, dass dein Artikel alle Voraussetzungen erfüllt, um im plentyShop sichtbar zu sein.
Diese Checkliste hilft dir, mögliche Fehlerquellen bei der Artikelsichtbarkeit ausfindig zu machen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>