<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#35"><span>1.</span><span> Passwortsicherheit einstellen</span></a></li>
<li><a href="#10"><span>2.</span><span> Benutzerkonto erstellen</span></a></li>
<li><a href="#20"><span>3.</span><span> Benutzerkonto bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>3.1.</span><span> Stammdaten pflegen</span></a></li>
<li><a href="#40"><span>3.2.</span><span> Eigner aktivieren</span></a></li>
<li><a href="#42"><span>3.3.</span><span> E-Mail-Postfächer verwalten</span></a>
<ul class="sectlevel3">
<li><a href="#44"><span>3.3.1.</span><span> Postfach erstellen</span></a></li>
<li><a href="#_zugangsdaten_für_mailbox_org_server_in_plentymarkets_hinterlegen"><span>3.3.2.</span><span> Zugangsdaten für mailbox.org-Server in plentymarkets hinterlegen</span></a></li>
<li><a href="#46"><span>3.3.3.</span><span> Zusätzliche E-Mail-Adresse (Alias) für ein Postfach erstellen</span></a></li>
<li><a href="#46a"><span>3.3.4.</span><span> Grundtarif ändern</span></a></li>
<li><a href="#47"><span>3.3.5.</span><span> Postfach löschen</span></a></li>
</ul>
</li>
<li><a href="#50"><span>3.4.</span><span> Weitere Benutzereinstellungen</span></a></li>
</ul>
</li>
<li><a href="#85"><span>4.</span><span> Mehrere Benutzerkonten bearbeiten</span></a></li>
<li><a href="#100"><span>5.</span><span> Sichtbarkeiten festlegen</span></a></li>
<li><a href="#105"><span>6.</span><span> Rechte verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>6.1.</span><span> Rechte vergeben</span></a></li>
<li><a href="#115"><span>6.2.</span><span> Rechte für Rollen vergeben</span></a></li>
<li><a href="#120"><span>6.3.</span><span> Menü- und REST-API-Rechte verwalten</span></a></li>
<li><a href="#125"><span>6.4.</span><span> App-Berechtigungen aktivieren</span></a></li>
<li><a href="#145"><span>6.5.</span><span> Benutzerkonto entsperren</span></a></li>
</ul>
</li>
<li><a href="#70"><span>7.</span><span> Rollen erstellen</span></a></li>
<li><a href="#80"><span>8.</span><span> Rollen bearbeiten</span></a></li>
<li><a href="#_rollen_kopieren"><span>9.</span><span> Rollen kopieren</span></a></li>
<li><a href="#_e_mail_an_alle_benutzerkonten_einer_rolle_senden"><span>10.</span><span> E-Mail an alle Benutzerkonten einer Rolle senden</span></a></li>
<li><a href="#60"><span>11.</span><span> Benutzerkonto suchen</span></a></li>
<li><a href="#150"><span>12.</span><span> Rollen und Prozesse verknüpfen</span></a></li>
<li><a href="#_konto_für_das_plentymarkets_forum_erstellen"><span>13.</span><span> Konto für das plentymarkets Forum erstellen</span></a></li>
<li><a href="#160"><span>14.</span><span> Anzahl eingeloggter Benutzerkonten verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#170"><span>14.1.</span><span> Benutzerkonten über Session-Verwaltung ausloggen</span></a></li>
<li><a href="#180"><span>14.2.</span><span> Benutzerkonten ausloggen, wenn Benutzerlimit überschritten ist</span></a></li>
<li><a href="#190"><span>14.3.</span><span> Weitere Benutzerlizenzen buchen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Benutzerkonten verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In der Benutzerverwaltung erstellst du neue Benutzerkonten und bearbeitest bestehende Benutzerkonten. Darüber hinaus verknüpfst du Benutzerkonten mit Rollen und Zugängen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Mit Rollen gruppierst du Benutzerkonten und vereinfachst die Zuordnung gleicher Berechtigungen zu mehreren Benutzerkonten.</p>
</li>
<li>
<p>Mit Zugängen verteilst du Berechtigungen an Benutzerkonten und Schnittstellen. Einem Benutzerkonto des Zugangs REST-API zum Beispiel weist du individuell REST-Calls zu.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In jedem plentymarkets System sind kostenfrei fünf CUL-Benutzerlizenzen enthalten. Weitere Benutzerkonten buchst du im <a href="http://www.plentymarkets.eu/preise/">Konfigurator</a> hinzu.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Was ist eine CUL-Benutzerlizenz?</div>
<div class="paragraph">
<p>CUL steht für Concurrent-User-Lizenzmodell. Über die Lizenz wird festgelegt, wie viele Benutzerkonten gleichzeitig auf das plentymarkets Backend, die REST-API und die plentymarkets App zugreifen dürfen. Wir limitieren also nur die gleichzeitige Nutzung und nicht die Anzahl der Benutzerkonten, die du erstellen kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="35">1. Passwortsicherheit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>System&nbsp;» Einstellungen&nbsp;» Benutzer&nbsp;» Sicherheit</strong> stellst du die Anforderungen ein, die Benutzer erfüllen müssen, wenn sie ein neues Passwort vergeben. Um die Anforderungen zu aktivieren, verfahre wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Passwortsicherheit einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System&nbsp;» Einstellungen&nbsp;» Benutzer&nbsp;» Sicherheit</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-sicherheit-einstellen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Jedes neu eingegebene Passwort wird ab jetzt auf die Erfüllung der eingestellten Anforderungen geprüft.</p>
</li>
</ol>
</div>
<table id="tabelle-sicherheit-einstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Passwortsicherheit einstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwortsicherheit aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird diese Option aktiviert, muss jedes neu eingegebene Passwort die eingestellten Anforderungen erfüllen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestlänge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestanzahl an Zeichen für neue Passwörter eingeben.<br>
<strong><em>Hinweis:</em></strong> Aus Sicherheitsgründen muss die Mindestlänge 8 oder mehr Zeichen betragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwortkriterien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kriterien aktivieren, die für neue Passwörter gelten sollen.<br>
<strong><em>Hinweis:</em></strong> Aus Sicherheitsgründen müssen mindestens 3 Kriterien aktiviert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestanzahl erfüllter Kriterien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Kriterien einstellen, die neue Passwörter mindestens erfüllen müssen.<br>
<strong><em>Hinweis:</em></strong> Aus Sicherheitsgründen müssen mindestens 3 Kriterien aktiviert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl zuletzt benutzter Passwörter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der zuletzt benutzten Passwörter einstellen, die nicht erneut verwendet werden dürfen. Der Nutzer wird darauf hingewiesen, wenn er versucht, eines der zuletzt benutzten Passwörter erneut einzugeben. Wenn diese Funktion nicht gewünscht ist, 0 eintragen oder leer lassen.<br>
<strong><em>Hinweis:</em></strong> Die Anzahl der zu speichernden Passwörter muss 20 oder weniger betragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gültigkeitszeitraum des Passworts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach Ablauf des Gültigkeitszeitraums in Tagen wird das Benutzerkonto gesperrt. Wenn diese Funktion nicht gewünscht ist, 0 eintragen oder leer lassen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="10">2. Benutzerkonto erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei der Erstverwendung deines Systems ist bereits ein Standardbenutzerkonto des Zugangs <strong>Admin</strong>, also ein Konto mit Administratorrechten, vorhanden. Du benötigst mindestens ein Admin-Benutzerkonto. Erstelle deshalb entweder ein neues Benutzerkonto des Zugangs <strong>Admin</strong> und lösche danach das Standardbenutzerkonto oder bearbeite das vorhandene Benutzerkonto. Im Folgenden wird beschrieben, wie du ein Benutzerkonto eines beliebigen Zugangs erstellst.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neuen Benutzer anlegen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den <strong>Benutzernamen</strong> ein.</p>
</li>
<li>
<p>Gib den <strong>realen Namen</strong> ein.</p>
</li>
<li>
<p>Gib das <strong>Passwort</strong> ein.</p>
</li>
<li>
<p>Wiederhole das Passwort.</p>
</li>
<li>
<p>Gib die E-Mail-Adresse der Person ein, damit sie Benachrichtigungen des Systems empfängt.</p>
</li>
<li>
<p>Wähle einen <strong>Benutzerzugang</strong>. Beachte dazu die Erläuterungen in <a href="#tabelle-benutzerzugänge">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Der Benutzername darf kein Leerzeichen enthalten und muss mindestens 5 Zeichen lang sein.</p>
</div>
<div class="paragraph">
<p>Mit einen Klick auf <strong>Mein Konto</strong> gelangst du direkt in dein Benutzerkonto.</p>
</div>
<div class="paragraph">
<p>Die Benutzerzugänge sind vorgegeben und die Einstellungen der Zugänge sind nicht änderbar. Welche Berechtigungen bei Zugängen voreingestellt sind und welche du noch individuell am Benutzerkonto einstellen kannst, findest du in dieser Tabelle:</p>
</div>
<table id="tabelle-benutzerzugänge" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Übersicht der verfügbaren Benutzerzugänge</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zugang</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugang, der über alle Berechtigungen ohne Einschränkung verfügt und mindestens einem Benutzerkonto zugeordnet werden muss, da nur ein Admin weitere Benutzerkonten uneingeschränkt erstellen, verwalten und bearbeiten kann. Bei Verwendung mehrerer Admin-Konten sind diese gleichberechtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Backend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugang, für den im Benutzerkonto unter <strong>Tab: Berechtigung</strong> <a href="/basics/admin-aufgaben/benutzer-verwalten#100">Bereiche</a> und <a href="/basics/admin-aufgaben/benutzer-verwalten#110">Funktionen</a> freigeschaltet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>REST-API</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugang, für den im Benutzerkonto <a href="/basics/admin-aufgaben/benutzer-verwalten#120">REST-Calls</a> freigeschaltet werden. Die REST-Calls werden dann einzeln aktiviert. Es werden dem Benutzerkonto also nicht pauschal alle REST-Calls freigeschaltet.<br></p>
<p class="tableblock"><strong>Achtung</strong>: Nutzern mit diesem Benutzerzugang wird der Zugriff auf das Backend verweigert.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Die Zugänge <strong>Callcenter</strong>, <strong>Logistik</strong>, <strong>Blog</strong> und <strong>Newsletter2Go</strong> existieren nicht mehr und wurden zu einem Backend-Nutzer migriert.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Benutzerkonto bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem ein Benutzerkonto erstellt wurde, wird das Konto in der Benutzerkontoübersicht hinzugefügt. Benutzerkonten werden dort alphabetisch aufgelistet. Wähle ein Benutzerkonto aus, um Einstellungen an dessen Konto vorzunehmen. Die Anzahl der Einstellungen hängt zum einen von deinem Benutzerzugang und zum anderen von dem Benutzerzugang des zu bearbeitenden Benutzerkontos ab. Mehrere Benutzerkonten gleichzeitig bearbeitest du per <strong>Gruppenfunktion</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Benutzer öffnen</strong>.<br>
→ Das Benutzerkonto wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Nimm Änderungen und Einstellungen gemäß <a href="#tabelle-stammdaten">Tabelle 3</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Passwort ist gespeichert</div>
<div class="paragraph">
<p>Das beim Erstellen des Benutzerkontos eingegebene Passwort ist im Bearbeitungsmodus nicht sichtbar, ist aber gespeichert. Du musst es beim Bearbeiten des Benutzerkontos nicht erneut eingeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">3.1. Stammdaten pflegen</h3>
<div class="paragraph">
<p>Im Tab <strong>Stammdaten</strong> nimmst du Änderungen und Einstellungen an den Benutzerdaten eines Kontos vor. <strong>Benutzername</strong>, <strong>IP-Beschränkung</strong>, <strong>Benutzerzugang</strong> und <strong>Rollen</strong> können nur von Personen mit Administratorrechten geändert werden. Alle anderen Stammdaten können Personen auch in ihrem eigenen Konto anpassen. Zudem ist das Sperren eines Benutzerkontos in diesem Tab möglich.</p>
</div>
<table id="tabelle-stammdaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Stammdaten eines Benutzerkontos</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titelzeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der Titelzeile werden <strong>Benutzer-ID</strong>, <strong>Benutzername</strong> sowie <strong>Datum</strong> und <strong>Uhrzeit der letzten Änderung</strong> an dem Benutzerkonto angezeigt.<br>
Die Benutzer-ID ist eine eindeutige Identifikationsnummer, die vom System vergeben wird und nicht änderbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer gesperrt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um das Benutzerkonto zu sperren. Gesperrte Personen können sich nicht mehr in das System einloggen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name ohne Leerzeichen eingeben. Der Name ist ein Pflichteintrag, der für den Login benötigt wird. Der Benutzername darf kein Leerzeichen enthalten und muss mindestens 5 Zeichen lang sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Realer Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Realer Name des Benutzers, der in der Kopfzeile des plentymarkets Administrationsbereichs angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse des Benutzerkontos eingeben. Diese ist u.a. für Benachrichtigungen des Systems, Benachrichtigungen aus Ereignisaktionen und auch für die Gruppenkommunikation innerhalb des Systems wichtig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Google Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Verwendung von Gmail, hier die Gmail-Adresse des Benutzerkontos eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skype-Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Verwendung von Skype, hier den Skypenamen des Benutzerkontos eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Im Bearbeitungsfenster eine Farbe durch Verschieben der Farbauswahl festlegen, einen Hexadezimalwert oder RGB-Werte eingeben. Die Farbe erleichtert die Identifikation des Benutzerkontos in anderen Bereichen, zum Beispiel im <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#600">Kalender</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitzone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitzone des Benutzerkontos wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL eingeben, um zum Beispiel einen Platzhalter für ein Foto für Blogbeiträge zu hinterlegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UI-Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache für den Admin-Bereich. Diese Sprache wird als Standard beim Login verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP-Beschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IP-Adresse des Rechners der Person des Benutzerkontos eingeben, damit sich die Person mit diesem Benutzerkonto nur über diese IP-Adresse in das plentymarkets System einloggt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzerzugang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzerzugang des Benutzerkontos wählen. Es stehen die Zugänge <strong>Admin</strong>, <strong>Backend</strong> und <strong>REST-API</strong> zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rollen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rollen des Benutzerkontos wählen. Damit Rollen zur Auswahl stehen, müssen zuvor <a href="/basics/admin-aufgaben/benutzer-verwalten#70">Rollen</a> erstellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neues Passwort eingeben, um dem Benutzerkonto ein neues Passwort zu erteilen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort wiederholen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort noch einmal eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue App-PIN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Für Personal, das mit der plentymarkets App arbeitet, optional PIN mit 4 bis 12 Ziffern eingeben. Wenn eine PIN gespeichert ist, ist ein schneller Kontowechsel in der plentymarkets App möglich. Personal kann sich aber auch mit dem Passwort in die plentymarkets App einloggen.<br>
<strong><em>Tipp:</em></strong> Nachdem die PIN gespeichert wurde, werden in diesem Feld 4 Punkte angezeigt. Diese Punkte dienen dazu, sichtbar zu machen, dass für das Benutzerkonto eine App-PIN gespeichert ist, und stimmen nicht unbedingt mit der Länge der gespeicherten PIN überein.<br>
Beim schnellen Benutzerwechsel werden alle Benutzerkonten angezeigt, für die eine PIN gespeichert ist. Um die PIN zu entfernen, zum Beispiel, weil die Person nicht mehr mit der App arbeitet, die 4 Punkte löschen und das Konto erneut speichern.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>App-PIN wiederholen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PIN noch einmal eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="40">3.2. Eigner aktivieren</h3>
<div class="paragraph">
<p>Du legst im Tab <strong>Eigner</strong> fest, in welchen Bereichen das Benutzerkonto als Eigner verfügbar sein soll. Wenn du zum Beispiel einen Kalender erstellst, musst du für den Kalender Eigner einrichten. Aktiviere den Bereich <strong>Kalender</strong> im Tab <strong>Eigner</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Benutzer als Eigner aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne einen Benutzer.</p>
</li>
<li>
<p>Öffne das Tab <strong>Eigner</strong>.</p>
</li>
<li>
<p>Aktiviere die Bereiche, in denen das Benutzerkonto als Eigner verfügbar sein soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="42">3.3. E-Mail-Postfächer verwalten</h3>
<div class="paragraph">
<p>Wenn du deine Domains von plentymarkets verwalten lässt, kannst du als Person mit Admin-Rechten im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten » Tab: E-Mail</strong> E-Mail-Postfächer für Systembenutzer erstellen und verwalten. Diese E-Mail-Postfächer werden bei einem Drittanbieter, dem externen E-Mail-Provider <a href="https://mailbox.org/business/" target="_blank" rel="noopener">mailbox.org</a>, angelegt und von diesem Drittanbieter gehostet. Nachfolgend wird beschrieben, wie du E-Mail-Postfächer und zusätzliche E-Mail-Adressen pro Postfach (Alias) erstellst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">E-Mail-Postfächer anderer Provider</div>
<div class="paragraph">
<p>Die hier beschriebene Einrichtung gilt nur für plentymarkets Kunden, die ihre Domains von plentymarkets verwalten lassen und die den externen Dienstleister <a href="https://mailbox.org/business/" target="_blank" rel="noopener">mailbox.org</a> nutzen möchten. Wenn du deine E-Mail-Konten über einen anderen Provider verwaltest und darüber E-Mails durch dein plentymarkets System versenden möchtest, ist diese Einrichtung nicht erforderlich. Beachte aber auch dann das Kapitel <a href="/crm/e-mails-versenden#100">E-Mail-Server-Zugangsdaten speichern</a> auf der Handbuchseite <a href="/crm/e-mails-versenden">E-Mails versenden</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="44">3.3.1. Postfach erstellen</h4>
<div class="paragraph">
<p>Lege für Benutzer, die ein eigenes Postfach bei mailbox.org erhalten sollen, wie unten beschrieben ein Postfach an. Du benötigst Admin-Rechte, um Postfächer und Alias anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Neues Postfach erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>E-Mail</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Postfach erstellen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle als E-Mail-Adresstyp <strong>Postfach</strong>.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-postfach">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Postfach erstellen</strong>.<br>
→ Das E-Mail-Postfach wird beim externen Dienstleister mailbox.org erstellt.</p>
</li>
</ol>
</div>
<table id="tabelle-postfach" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Postfach erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresstyp <strong>Postfach</strong> wählen.<br>
<strong>Postfach</strong> = Legt ein neues E-Mail-Postfach an.<br>
<strong>Alias</strong> = Legt eine zusätzliche E-Mail-Adresse für ein bestehendes Postfach an. Die Auswahl des Postfachs erfolgt über die Option <strong>Zielpostfach</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse eingeben, die dem Postfach zugeordnet werden soll. Lokalen Teil der E-Mail-Adresse vor dem @ eingeben. Domain-Teil aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Für Testdomains, zum Beispiel @plenty-test-drive, sowie für externe Domains, die nicht über plentymarkets verwaltet werden, können keine Postfächer angelegt werden.<br>
<strong><em>Hinweis:</em></strong> Nach dem Löschen einer E-Mail-Adresse ist diese Adresse 48 Stunden gesperrt. Erst nach Ablauf dieser Frist kann diese E-Mail-Adresse erneut vergeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorname</strong><br>
<strong>Nachname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vornamen und Nachnamen der Person mit diesem Benutzerkonto eingeben. Dieser Name wird mit der E-Mail-Adresse als Absender angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Systembenutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzerkonto wählen, dem das Postfach zugewiesen werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weiterleitungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn E-Mails, die an dieses Postfach gesendet werden, an ein anderes Postfach weitergeleitet werden sollen, eine oder mehrere E-Mail-Adressen eingeben. Mehrere E-Mail-Adressen durch Komma getrennt hinterlegen, zum Beispiel <a href="mailto:kunde@ihredomain.de">kunde@ihredomain.de</a>,<a href="mailto:consultant@ihredomain.de">consultant@ihredomain.de</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mails in Postfach speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option wird wählbar, wenn eine Weiterleitung eingerichtet wird.<br>
Aktiviert = E-Mails werden an die Ziel-E-Mail-Adressen weitergeleitet. Kopien der weitergeleiteten E-Mails werden auch in diesem Postfach gespeichert.<br>
Nicht aktiviert = E-Mails werden direkt an die Ziel-E-Mail-Adressen weitergeleitet. In diesem Postfach werden keine E-Mails gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong>;<br>
<strong>Passwort wiederholen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort eingeben und durch erneute Eingabe bestätigen.<br>
<strong><em>Hinweis:</em></strong> Passwort muss aus mindestens 8 Zeichen und einer Kombination aus Großbuchstaben, Kleinbuchstaben und Zahlen bestehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tarif</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tarif wählen. Preise gelten zzgl. MwSt. Dein plentymarkets Vertrag wird nach dem Anlegen des Postfachs angepasst.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_zugangsdaten_für_mailbox_org_server_in_plentymarkets_hinterlegen">3.3.2. Zugangsdaten für mailbox.org-Server in plentymarkets hinterlegen</h4>
<div class="paragraph">
<p>Damit plentymarkets E-Mails, zum Beispiel Auftragsbestätigungen, für dich versenden kann, hinterlege im Menü <a href="/crm/e-mails-versenden#100">Einrichtung » Mandant » Mandant wählen » E-Mail » Zugangsdaten</a> die <a href="https://support.mailbox.org/knowledge-base/article/einrichtung-mit-sonstigen-mailprogrammen" target="_blank" rel="noopener">Zugangsdaten</a> zu dem mailbox.org-Postfach, über das du diese E-Mails versenden möchtest.</p>
</div>
</div>
<div class="sect3">
<h4 id="46">3.3.3. Zusätzliche E-Mail-Adresse (Alias) für ein Postfach erstellen</h4>
<div class="paragraph">
<p>Wenn ein Postfach über mehr als eine E-Mail-Adresse erreichbar sein soll, erstelle ein Alias für das Postfach. Die Anzahl der möglichen E-Mail-Adressen pro Postfach ist vom gewählten Tarif abhängig. Gehe wie unten beschrieben vor, um eine zusätzliche E-Mail-Adresse für ein Postfach zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Zusätzliche E-Mail-Adresse für ein Postfach erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>E-Mail</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Postfach erstellen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle als E-Mail-Adresstyp <strong>Alias</strong>.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-e-mail-adresssen">Tabelle 5</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Postfach erstellen</strong>.<br>
→ Die zusätzliche E-Mail-Adresse wird erstellt.</p>
</li>
</ol>
</div>
<table id="tabelle-e-mail-adresssen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Zusätzliche E-Mail-Adresse für ein Postfach erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresstyp <strong>Alias</strong> wählen.<br>
<strong>Postfach</strong> = Legt ein neues E-Mail-Postfach an.<br>
<strong>Alias</strong> = Legt eine zusätzliche E-Mail-Adresse für ein bestehendes Postfach an. Die Auswahl des Postfachs erfolgt über die Option <strong>Zielpostfach</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse eingeben, die dem Postfach zugeordnet werden soll: Lokalen Teil der E-Mail-Adresse vor dem @ eingeben. Den Domain-Teil aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Nach dem Löschen einer E-Mail-Adresse ist diese Adresse 48 Stunden gesperrt. Erst nach Ablauf dieser Frist kann diese E-Mail-Adresse erneut vergeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielpostfach</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Postfach wählen, in das E-Mails an diese Alias-Adresse eingehen sollen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="46a">3.3.4. Grundtarif ändern</h4>
<div class="paragraph">
<p>Standardmäßig gilt für das Hosting von Postfächern bei mailbox.org über plentymarkets der mailbox.org-Grundtarif <strong>Business Reseller</strong>. Dieser Grundtarif ist für dich kostenlos, umfasst jedoch keinen Support von mailbox.org. Den Grundtarif kannst du jederzeit anpassen. Wenn du Support von mailbox.org wünschst oder den Leistungsumfang erweitern möchtest, passe deinen Grundtarif an. Der gewählte Grundtarif gilt für alle Postfächer deines gesamten plentymarkets Systems inklusive aller Mandaten.</p>
</div>
<div class="paragraph instruction">
<p>Grundtarif ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>E-Mail</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Grundtarif ändern</strong>.<br>
→ Das Fenster <strong>Grundtarif wählen</strong> wird angezeigt.</p>
</li>
<li>
<p>Prüfe den Leistungsumfang der angebotenen Grundtarife.</p>
</li>
<li>
<p>Wähle den gewünschten Grundtarif.</p>
</li>
<li>
<p>Klicke auf <strong>Grundtarif ändern</strong>.<br>
→ Der Tarif wird übernommen und dein plentymarkets Vertrag wird angepasst. Du erhältst außerdem eine E-Mail mit weiteren Informationen von mailbox.org.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="47">3.3.5. Postfach löschen</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um ein Postfach zu löschen. Du benötigst Admin-Rechte, um Postfächer/Alias zu löschen. Nach dem Löschen eines Postfachs/Alias kannst du erst nach 48 Stunden wieder ein neues Postfach/Alias mit der gelöschten E-Mail-Adresse anlegen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">E-Mails nach dem Löschen des Postfachs nicht mehr zugänglich</div>
<div class="paragraph">
<p>Nach dem Löschen eines Postfachs kannst du über mailbox.org nicht mehr auf die in diesem Postfach gespeicherten E-Mails zugreifen. Stelle sicher, dass von allen benötigten E-Mails eine lokale Kopie vorhanden ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Postfach löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>E-Mail</strong>.<br>
→ Eine Liste der Postfächer wird angezeigt.</p>
</li>
<li>
<p>Klicke in der Liste auf das Postfach, das du löschen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>).<br>
→ Das Postfach und alle damit verbundenen Alias werden bei mailbox.org gelöscht.<br>
→ Dein plentymarkets Vertrag wird angepasst.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="50">3.4. Weitere Benutzereinstellungen</h3>
<div class="paragraph">
<p>Im Bearbeitungsfenster eines Benutzerkontos findest du neben den bereits erwähnten noch weitere Tabs. Diese Tabs und ihre Einstellungsmöglichkeiten sind in anderen Themenbereichen erklärt. Zu den Erklärungen gelangst du über die Links in der rechten Tabellenspalte.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Weitere Tabs im Bearbeitungsfenster eines Benutzerkontos</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grußformel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In diesem Tab gibst du einen Text ein, der deinen Nachrichten und Kommentaren im Ticketsystem automatisch als <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#10">Grußformel</a> angefügt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Signatur</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In diesem Tab gibst du einen Text ein, der deinen Nachrichten und Kommentaren im Ticketsystem automatisch als <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#20">Signatur</a> angefügt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Berechtigung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Tab wird im Kapitel <a href="/basics/admin-aufgaben/benutzer-verwalten#90">Berechtigungen zuordnen</a> detailliert beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Persönliche Einstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier nimmst du Einstellungen vor, die nur für das im System angemeldete Benutzerkonto gelten. Deshalb ist das Tab für dich auch nur in deinem eigenen Benutzerkonto sichtbar. Das Tab unterteilt sich in die Tabs <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#40">Allgemein</a>, <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#50">Shortcuts</a> und <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#60">Favoriten</a>, die nur dich persönlich betreffen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kalender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier werden Einstellungen für den <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#600">Kalender</a> vorgenommen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="85">4. Mehrere Benutzerkonten bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mehrere Benutzerkonten bearbeitest du per <strong>Gruppenfunktion</strong> im Menü <strong>Benutzer</strong>. Bei der Gruppenfunktion werden zuvor gewählte Benutzerkonten bearbeitet.</p>
</div>
<div class="paragraph instruction">
<p>Gruppenfunktion ausführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Benutzerkonten</strong>.</p>
</li>
<li>
<p>Wähle die zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte die Erläuterungen in <a href="#tabelle-gruppenfunktion">Tabelle 7</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Anwenden</strong>.<br>
→ Die Benutzerkonten werden geändert.</p>
</li>
</ol>
</div>
<table id="tabelle-gruppenfunktion" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Benutzerkonten per <strong>Gruppenfunktion</strong> bearbeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um gewählte Benutzerkonten zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um E-Mail an die gewählten Benutzerkonten zu senden. Das E-Mail-Programm wird geöffnet. Die Benutzerkonten sind als Empfänger eingetragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skype</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und <strong>Sofortnachricht</strong>, <strong>Anruf</strong> oder <strong>Video-Anruf</strong> wählen, um die Personen mit diesen Benutzerkonten über Skype zu kontaktieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rollen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren und eine, mehrere oder <strong>ALLE</strong> Rollen aktivieren, um die gewählten Benutzer mit diesen Rollen zu verknüpfen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">5. Sichtbarkeiten festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> legst du fest, welche Bereiche und Einstellungen die Person mit diesem Benutzerkonto sehen kann, wenn die Person ein Menü öffnet. Bei fehlender Berechtigung ist zum Beispiel ein Lager oder sind Aufträge in einem Status für diese Person nicht sichtbar.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Tab <strong>Berechtigung</strong> eines Backend-Benutzerkontos</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vertriebslager</strong>;<br>
<strong>Reparaturlager</strong>;<br>
<strong>Vorratslager</strong>;<br>
<strong>Umschlagslager</strong>;<br>
<strong>Verteilerlager</strong>;<br>
<strong>Sonderlager</strong> (Typ <strong>Sonstiges</strong>)<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzerberechtigungen für Lager erteilen. Nur erstellte <a href="/warenwirtschaft/lager-einrichten#300">Lagertypen</a> stehen zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbare Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus festlegen, die <strong>sichtbar</strong> sein sollen. Die Person mit diesem Benutzerkonto sieht nur die Aufträge, die in diesen Status sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setzbare Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus festlegen, die die Person mit diesem Benutzerkonto sehen darf.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandanten (Shops)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einzelne, mehrere oder alle Mandanten (Shops) festlegen, die die Person mit diesem Benutzerkonto sehen darf. Die Person mit diesem Benutzerkonto hat nur auf die hier festgelegten Bereiche Zugriff. Wenn kein Mandant gewählt wurde, greifen auch weitere Berechtigungen nicht, da die Person mit diesem Benutzerkonto generell keinen Mandanten sieht.<br>
<strong>Alle</strong> = Die Person mit diesem Benutzerkonto hat Zugriff auf alle Mandanten.<br>
<strong>Standard</strong> = Die Person mit diesem Benutzerkonto hat Zugriff auf den Standard-Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticketstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ticketstatus wählen, um festzulegen, welche Tickets mit welchem Status die Person mit diesem Benutzerkonto ansehen und bearbeiten darf.<br>
<strong>Unsichtbar</strong> = Die Person mit diesem Benutzerkonto sieht kein Ticket, das in diesem Status ist.<br>
<strong>Sichtbar</strong> = Die Person mit diesem Benutzerkonto sieht jedes Ticket, das in diesem Status ist.<br>
<strong>Nur eigene</strong> = Die Person mit diesem Benutzerkonto sieht nur Tickets, die in diesem Status sind und von denen sie Eigner ist.<br>
In der Ticketübersicht werden alle Tickets aufgeführt, also auch für das Benutzerkonto unsichtbare Tickets. Die Person mit diesem Benutzerkonto kann unsichtbare Tickets jedoch nicht öffnen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="105">6. Rechte verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe von Rechten legst du fest, welche Bereiche und Einstellungen Personen mit einem Benutzerkonto in plentymarkets sehen und was die Person bearbeiten kann. Du kannst Rechte für jedes Benutzerkonto einzeln festlegen oder mithilfe von Rollen für mehrere Benutzerkonten.
Im Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> können Rechte für einzelne Benutzer vergeben werden. Dies beinhaltet die REST-API-Berechtigungen, die Menü-Sichtbarkeiten und die Plugin-Menü-Sichtbarkeiten.
Ebenso können Rechte für Rollen vergeben werden. Ausgeschlossen davon sind die Plugin-Menü-Sichtbarkeiten. Vergibt man eine Rolle an einen Benutzer und hat man an diesen bereits weitere Rechte vergeben, sind alle dort enthaltenen Rechte wirksam.
Im Menüpunkt <strong>Ressourcen</strong> können die Auftragsherkünfte freigegeben werden, die für den Benutzer sichtbar sein sollen.<br>
Ordne einem Benutzerkonto nur die Rechte zu, die die Person für ihren Aufgabenbereich benötigt. Diese Einschränkung erhöht die Sicherheit und beugt Fehlern in deinem System vor.</p>
</div>
<div class="sect2">
<h3 id="110">6.1. Rechte vergeben</h3>
<div class="paragraph">
<p>Die Benutzerrechte im Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> gliedern sich in die 3 folgend aufgeführten Bereiche.</p>
</div>
<table id="tabelle-benutzerrechte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Benutzerrechte</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Berechtigungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">REST-Rechte, die für bestimmte Aktionen benötigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menü-Sichtbarkeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abbildung von Menü und Systemeinstellungen. Dort können die für den Benutzer sichtbaren Bereiche gewählt werden. Die REST-Rechte für die Menüpunkte werden automatisch gesetzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wird die Menü-Sichtbarkeit für Plugins freigegeben. Zunächst werden nur die Plugins mit ihren einzelnen Einträgen, jedoch ohne die korrekte Route, angezeigt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Benutzer.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen. Aktiviere komplette Bereiche oder klappe Bereiche auf, um einzelne Berechtigungen zu aktivieren, die dem Benutzerkonto zur Verfügung stehen sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft, wodurch die gewählten Rechte für den jeweils anderen Bereich automatisch mit aktiviert werden.
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Sollten weitere Berechtigungen benötigt werden, erscheint eine Fehlermeldung. Beispiel: Der Menüpunkt <strong>Blog</strong> benötigt die Berechtigungen für “Blog anzeigen” und “Tag anzeigen”.
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="115">6.2. Rechte für Rollen vergeben</h3>
<div class="paragraph">
<p>Rollen kann man mehreren Benutzern zuweisen. Diese haben dann alle dieselben Rechte.
Für Rollen können lediglich Einstellungen für Berechtigungen und Menü-Sichtbarkeiten, nicht aber für Plugins vorgenommen werden.</p>
</div>
<div class="paragraph instruction">
<p>Rechte für Rollen vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Rollen</strong>.<br>
→ Die Übersicht wird geöffnet.</p>
</li>
<li>
<p>Wähle eine Rolle.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für Rollen in dem jeweiligen Bereich durch Anklicken der Checkboxen. Aktiviere komplette Bereiche oder klappe Bereiche auf, um einzelne Berechtigungen zu aktivieren, die dem Benutzerkonto zur Verfügung stehen sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="120">6.3. Menü- und REST-API-Rechte verwalten</h3>
<div class="paragraph">
<p>Im Tab <strong>Berechtigung</strong> legst du fest, welche Berechtigungen ein Benutzerkonto des Zugangs <strong>Backend</strong> für die REST-API erhält. In der Standardeinstellung sind keine REST-API-Berechtigungen vergeben. Benutzerkonten des Zugangs <strong>Admin</strong> verfügen über alle Berechtigungen.</p>
</div>
<div class="paragraph instruction">
<p>Menü- und REST-API-Rechte verwalten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne einen Benutzer.</p>
</li>
<li>
<p>Öffne das Tab <strong>Berechtigungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Menü- und REST-API-Rechte verwalten</strong>.<br>
→ Der Menüpunkt <strong>Rechte</strong> wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte in dem jeweiligen Bereich durch Anklicken der Checkboxen. Aktiviere komplette Bereiche oder klappe Bereiche auf, um einzelne Berechtigungen zu aktivieren, die dem Benutzerkonto zur Verfügung stehen sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="125">6.4. App-Berechtigungen aktivieren</h3>
<div class="paragraph">
<p>Im Tab <strong>Mobile</strong> legst du fest, welche Bereiche und Kennzahlen für Benutzerkonten in der plentymarkets App sichtbar sein sollen.</p>
</div>
<div class="paragraph instruction">
<p>App-Berechtigungen aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne einen Benutzer.</p>
</li>
<li>
<p>Öffne das Tab <strong>Mobile</strong>.</p>
</li>
<li>
<p>Aktiviere Funktionen oder Kennzahlen, die dem Benutzerkonto in der App zur Verfügung stehen sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="145">6.5. Benutzerkonto entsperren</h3>
<div class="paragraph">
<p>Die maximale Anzahl der Login-Versuche beträgt 5 pro Benutzerkonto oder 25 pro IP-Adresse. Wenn die maximale Anzahl der Login-Versuche überschritten wird, wird das Konto für 24 Stunden gesperrt. Personen mit Administratorrechten können ein Benutzerkonto vor Ablauf dieser 24 Stunden manuell entsperren.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto entsperren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.<br>
→ Die Benutzerkonten werden angezeigt.</p>
</li>
<li>
<p>Doppelklicke auf das gesperrte Benutzerkonto.<br>
→ Das Benutzerkonto wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Login entsperren</strong>.<br>
→ Das Benutzerkonto wird entsperrt.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Rollen erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Rollen gruppierst du Benutzerkonten und erteilst mehreren Benutzern die gleichen Berechtigungen, ohne jedes Benutzerkonto einzeln bearbeiten zu müssen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Rolle erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rollen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Rolle</strong>.<br>
→ Das Fenster <strong>Neue Rolle</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für die Rolle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Rolle wird in einem neuen Tab zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Erst beim Bearbeiten der Rolle legst du die Berechtigungen fest, die Benutzerkonten mit dieser Rolle haben. Bearbeite die Rolle deshalb nach dem Erstellen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Rollen bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du eine Rolle erstellt hast, wird sie zur Bearbeitung geöffnet und der Rollenübersicht hinzugefügt, so dass du die Rolle auch später wieder öffnen und bearbeiten kannst. Rollen werden in der Übersicht alphabetisch gelistet. Jede Rolle gliedert sich in drei Tabs. Im Tab <strong>Einstellungen</strong> lässt sich der Name der Rolle ändern. Im Tab <strong>Benutzer</strong> verknüpfst du Benutzerkonten mit der Rolle. Im Tab <strong>Berechtigungen</strong> ordnest du der Rolle Berechtigungen zu. Für Rollen stehen dir die gleichen Berechtigungseinstellungen wie für Benutzerkonten des Zugangs <strong>Backend</strong> zur Verfügung. Details zu den Berechtigungen findest du hier auf der Seite im Kapitel <a href="/basics/admin-aufgaben/benutzer-verwalten#90">Berechtigungen zuordnen</a>.</p>
</div>
<div class="paragraph">
<p>Rollen können von Benutzern des Zugangs <strong>Admin</strong> oder des Zugangs <strong>Backend</strong> erstellt werden. Benutzerkonten des Zugangs <strong>Backend</strong> benötigen dafür die Berechtigungen.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonten mit einer Rolle verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rollen</strong>.</p>
</li>
<li>
<p>Öffne eine Rolle.</p>
</li>
<li>
<p>Öffne das Tab <strong>Benutzer</strong>.</p>
</li>
<li>
<p>Wähle Benutzerkonten unter <strong>Verfügbare Benutzer</strong>.</p>
</li>
<li>
<p>Klicke auf den <strong>Pfeil nach rechts</strong>, um Benutzerkonten in die Spalte <strong>Zugeordnete Benutzer</strong> zu übertragen.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Ziehe ein Benutzerkonto per Drag &amp; Drop in die Spalte <strong>Zugeordnete Benutzer</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Benutzerkonten gleichzeitig verschieben</div>
<div class="paragraph">
<p>Mit <strong>Strg</strong> oder <strong>cmd</strong> und linker Maustaste markierst du mehrere Benutzer, um diese dann zusammen zu verschieben. Mit den unteren Pfeil-Schaltflächen bewegst du alle Benutzer.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Den Benutzerkonten unter <strong>Zugeordnete Benutzer</strong> wird die betreffende Rolle zugeordnet. Diese Zuordnung wird auch automatisch im Benutzerkonto im Tab <strong>Stammdaten</strong> unter <strong>Rollen</strong> eingestellt. Die Zuordnung kann an beiden Stellen im System angepasst werden.</p>
</div>
<div class="paragraph instruction">
<p>Rollen mit einem Benutzerkonto verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne ein Benutzerkonto.</p>
</li>
<li>
<p>Wähle eine, mehrere oder alle Rollen unter <strong>Rollen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Verknüpfung von Benutzerrollen mit Benutzern des Zugangs Admin</div>
<div class="paragraph">
<p>Für Administratoren gelten alle Berechtigungen. Trotzdem ist es für einige Vorgänge wichtig, dass Administratoren auch Rollen zugeordnet werden. So erhalten Administratoren zum Beispiel rollenbezogene E-Mails nur, wenn die Administratoren mit der betreffenden Rolle verknüpft wurden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Anwendungsbeispiel</p>
</div>
<div class="paragraph">
<p>Der Administrator der Firma MeinShop erstellt verschiedene Rollen. Die Rolle Mitarbeiter ist für alle Benutzerkonten gedacht und enthält sämtliche Berechtigungen, die jedem Benutzerkonten zugeordnet werden. Die individuelle Zuordnung dieser Berechtigungen entfällt. Auch Änderungen an den Berechtigungen, die alle Benutzerkonten betreffen, werden zentral in dieser Rolle vorgenommen. Zusätzlich zur Rolle Mitarbeiter erstellt der Administrator die spezifischen Rollen Lagerist und Buchhaltung mit weiteren Berechtigungen, die nur eine kleine Benutzergruppe benötigt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Beispiel für Rollen</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Rolle</th>
<th class="tableblock halign-left valign-top">Berechtigungen</th>
<th class="tableblock halign-left valign-top">Menü-Sichtbarkeiten</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mitarbeiter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten (Shops) » Standard</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start » Webmail<br>
Start » Forum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerist</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einrichtung » Waren » Lager<br>
Waren<br>
Aufträge » Fulfillment</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Buchhaltung</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start » Urlaubsverwaltung<br>
Einrichtung » Mandant » Mandant wählen » Buchhaltung</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Herr Mustermann ist Logistiker bei MeinShop und erhält die Benutzerrollen Mitarbeiter und Lagerist. Wenn einem Benutzerkonto mehrere Rollen zugeordnet werden, addieren sich die Berechtigungen. Herr Mustermann erhält also die Berechtigungen <strong>Mandanten (Shops)</strong>, <strong>Webmail</strong> und <strong>Forum</strong> der Rolle Mitarbeiter sowie die Berechtigungen <strong>Lager</strong>, <strong>Waren</strong> und <strong>Fulfillment</strong> der Rolle Lagerist. Er verfügt aber nicht über die Berechtigungen <strong>Urlaubsverwaltung</strong> und <strong>Buchhaltung</strong>, da ihm die Rolle Buchhaltung nicht zugeordnet wurde.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_rollen_kopieren">9. Rollen kopieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du eine weitere Rolle benötigst, die sich von einer bestehenden Rolle nur minimal unterscheidet, dann kopiere die bestehende Rolle und nimm an der Kopie die Änderungen im Tab <strong>Berechtigungen</strong> vor.</p>
</div>
<div class="paragraph instruction">
<p>Rolle kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rollen</strong>.</p>
</li>
<li>
<p>Wähle eine Rolle.</p>
</li>
<li>
<p>Klicke in der Symbolleiste auf <strong>Kopieren</strong>.<br>
→ Das Fenster <strong>Rolle kopieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Rolle wird kopiert und geöffnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_e_mail_an_alle_benutzerkonten_einer_rolle_senden">10. E-Mail an alle Benutzerkonten einer Rolle senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Rollen ermöglichen es dir, E-Mails an alle Benutzerkonten zu senden, die über diese Rolle verfügen und eine E-Mail-Adresse in ihrem Benutzerkonto eingegeben haben.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail an alle Benutzerkonten einer Rolle senden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rollen</strong>.</p>
</li>
<li>
<p>Wähle eine Rolle.</p>
</li>
<li>
<p>Klicke in der Symbolleiste auf <strong>E-Mail senden</strong>.<br>
→ Das E-Mail-Programm wird geöffnet. Die Benutzerkonten dieser Rolle sind als Empfänger eingetragen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">11. Benutzerkonto suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filter helfen dir bei der Suche nach Benutzerkonten. Mit dem Filter <strong>Zugang</strong>, zeige beispielsweise nur Benutzerkonten des Zugangs <strong>Backend</strong> an. Ohne Filter werden in der Übersicht alle Benutzerkonten angezeigt. Folgende Elemente und Funktionen sind im Menü <strong>Benutzer</strong> verfügbar.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Filteroptionen für Benutzer</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche ausführen. Zuvor Filteroptionen zur Suche eingeben oder wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtereinstellungen auf Standardwerte zurücksetzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um gezielt nach einem Benutzerkonto mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, um gezielt nach Benutzerkonten mit diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugang wählen, um gezielt nach Benutzerkonten mit diesem Zugang zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rollen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine, mehrere oder alle Rollen wählen, um gezielt nach Benutzerkonten mit diesen Rollen zu suchen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">12. Rollen und Prozesse verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verwende Rollen zum Beispiel auch bei <a href="/automatisierung/prozesse/prozesse-einrichten">Prozessen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Rollen und Prozesse verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Prozesse » Pro Rolle</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile einer <strong>Rolle</strong> auf den <strong>Pfeil</strong> und dann auf <strong>Neuer Prozess</strong> (Bild 1).</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für die Rolle ein.</p>
</li>
<li>
<p>Wähle für die <strong>Sichtbarkeit</strong> die Einstellung <strong>Rolle</strong>.<br>
→ Die Option <strong>Rolle</strong> wird eingeblendet.</p>
</li>
<li>
<p>Wähle eine <strong>Rolle</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle, ob die Einstellungen durch einen Eigner mit dieser Rolle <strong>änderbar</strong> sein sollen.</p>
</li>
<li>
<p>Wähle das <strong>Lager</strong> für den Prozess und eine <strong>Farbe</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Prozesse werden für die gewählte Rolle angezeigt. Aufgrund der Sichtbarkeit sieht nur ein Benutzerkonto mit passender Rolle den Prozess.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_konto_für_das_plentymarkets_forum_erstellen">13. Konto für das plentymarkets Forum erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das plentymarkets Forum ist eine ständig wachsende Wissensdatenbank, die viele Antworten auf bereits gestellte Support-Fragen enthält. Im Forum helfen dir unsere Entwickler und andere plentymarkets Kunden bei technischen Fragen gern weiter. Außerdem findest du dort Tipps für das Arbeiten mit plentymarkets und du tauschst dich mit anderen plentymarkets Kunden aus. Gehe wie unten beschrieben vor, um ein Konto für das plentymarkets Forum zu erstellen. Benutzerkonten des Zugangs <strong>Admin</strong> erstellen so auch Forumkonten für andere Benutzerkonten.</p>
</div>
<div class="paragraph instruction">
<p>Konto für plentymarkets Forum erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Benutzer öffnen</strong>.<br>
→ Das Benutzerkonto wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Klicke im Bereich <strong>plentymarkets Forum</strong> auf <strong>Konto erstellen</strong><br>
→ Das Forenkonto wird erstellt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="160">14. Anzahl eingeloggter Benutzerkonten verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Abhängig von deinem plentymarkets Tarif ist die Anzahl der Benutzerkonten, die gleichzeitig in plentymarkets eingeloggt sein dürfen, möglicherweise beschränkt. Dieses Limit gilt für das plentymarkets Backend, die REST-API und die plentymarkets App.</p>
</div>
<div class="paragraph">
<p>Das kannst du tun, wenn du das Benutzerlimit erreichst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Eingeloggte Personen auffordern, sich manuell auszuloggen</p>
</li>
<li>
<p><a href="#170">Benutzerkonten über die Session-Verwaltung ausloggen</a></p>
</li>
<li>
<p><a href="#190">Benutzerlimit deines plentymarkets Vertrags erhöhen</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="170">14.1. Benutzerkonten über Session-Verwaltung ausloggen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Benutzerkonten über die Session-Verwaltung auszuloggen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Admin-Rechte erforderlich</div>
<div class="paragraph">
<p>Du benötigst Admin-Rechte, um Benutzerkonten über die Session-Verwaltung auszuloggen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Benutzerkonten über Session-Verwaltung ausloggen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Zeige mit der Maus auf das User-Icon oben rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Session-Verwaltung</strong>.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Session-Verwaltung</strong>.<br>
→ Das Menü <strong>Session-Verwaltung</strong> wird geöffnet.<br>
→ Die eingeloggten Benutzerkonten werden angezeigt.</p>
</li>
<li>
<p>Aktiviere die Kontrollkästchen der Benutzerkonten, deren Session du beenden möchtest, um sie auszuloggen.</p>
</li>
<li>
<p>Klicke auf <strong>Ausgewählte Sessions beenden</strong>.<br>
→ Die gewählten Benutzerkonten werden ausgeloggt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="180">14.2. Benutzerkonten ausloggen, wenn Benutzerlimit überschritten ist</h3>
<div class="paragraph">
<p>Wenn die zulässige Anzahl gleichzeitig eingeloggter Benutzerkonten bereits erreicht oder überschritten ist, können nicht eingeloggte Admin-Benutzer die Session-Verwaltung über einen Link in der eingeblendeten Fehlermeldung erreichen.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonten ausloggen, wenn Benutzerlimit überschritten ist:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Logge dich in das plentymarkets Backend ein.<br>
→ Eine Fehlermeldung wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den Link in der Fehlermeldung.<br>
→ Das Menü <strong>Session-Verwaltung</strong> wird geöffnet.<br>
→ Die eingeloggten Benutzerkonten werden angezeigt.</p>
</li>
<li>
<p>Aktiviere die Kontrollkästchen der Benutzerkonten, deren Session du beenden möchtest, um sie auszuloggen.</p>
</li>
<li>
<p>Klicke auf <strong>Ausgewählte Sessions beenden</strong>.<br>
→ Die gewählten Benutzerkonten werden ausgeloggt.<br>
<strong><em>Hinweis:</em></strong> Der Login über die Fehlermeldung ist 10 Minuten gültig. Danach wirst du automatisch ausgeloggt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">14.3. Weitere Benutzerlizenzen buchen</h3>
<div class="paragraph">
<p>Weitere Benutzerlizenzen buchst du über den plentymarkets Konfigurator.</p>
</div>
<div class="paragraph instruction">
<p>Weitere Benutzerlizenzen buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Vertrag</strong>.</p>
</li>
<li>
<p>Klicke auf eine der Schaltflächen <strong>Tarif wechseln</strong>.<br>
→ Der plentymarkets Konfigurator wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Fortschrittsleiste unterhalb des Konfigurators auf die Ansicht <strong>Ausstattung</strong>.</p>
</li>
<li>
<p>Scrolle zum Bereich <strong>Benutzerlizenzen (CUL)</strong>.</p>
</li>
<li>
<p>Klicke unter <strong>Weitere Benutzerlizenzen (CUL)</strong> auf das Plussymbol, um weitere Benutzerlizenzen hinzuzufügen.</p>
</li>
<li>
<p>Klicke in der Fortschrittsleiste unterhalb des Konfigurators auf die Ansicht <strong>Ihr System</strong>.<br>
→ Eine Zusammenfassung der neuen Vertragsdaten wird angezeigt.</p>
</li>
<li>
<p>Prüfe die Informationen sorgfältig.</p>
</li>
<li>
<p>Klicke auf <strong>Systemänderung bestellen</strong>.<br>
→ Die Systemänderung wird durchgeführt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>