<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ftp_programme"><span>1.</span><span> FTP-Programme</span></a></li>
<li><a href="#_ftp_zugang_einrichten"><span>2.</span><span> FTP-Zugang einrichten</span></a></li>
<li><a href="#_über_ftp_programm_verbindung_zum_ftp_server_herstellen"><span>3.</span><span> Über FTP-Programm Verbindung zum FTP-Server herstellen</span></a></li>
<li><a href="#_über_webspace_tool_auf_daten_zugreifen"><span>4.</span><span> Über Webspace-Tool auf Daten zugreifen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FTP-Zugang</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Um Bilder, PDF-Dokumente und andere Dateien für Besucher deines Online-Shops verfügbar zu machen, müssen diese Dateien in deinem plentymarkets System gespeichert werden. Größere Datenmengen lädst du über das File Transfer Protocol (FTP) hoch. Du benötigst dazu ein FTP-Programm, auch FTP-Client genannt, und die FTP-Zugangsdaten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zugriff auf Artikelbilder bei AWS-Systemen</div>
<div class="paragraph">
<p>Bei auf AWS gehosteten plentymarkets Systemen werden die Artikelbilder vom FTP-Server in den Amazon-Speicher S3 verschoben. Daher kannst du nicht mehr über den FTP-Server auf gespeicherte Artikelbilder zugreifen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ausführen eigener PHP- und CGI-Skripte</div>
<div class="paragraph">
<p>Das Ausführen von eigenen PHP- und CGI-Skripten ist aus Sicherheitsgründen nicht gestattet. Soll Fremdsoftware installiert werden, kann diese Installation von uns vorgenommen werden. Alternativ greifst du auf einen klassischen Webhoster zurück.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_ftp_programme">1. FTP-Programme</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Programme zum Übertragen von Dateien per FTP erhältst du kostenlos oder gegen geringes Entgelt im Internet. Wir haben hier eine kleine Auswahl für Windows und Mac OS X zusammengestellt:</p>
</div>
<div class="paragraph">
<p><strong>FTP-Programme für Windows</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://filezilla-project.org/" target="_blank" rel="noopener">FileZilla</a></p>
</li>
<li>
<p><a href="http://www.smartftp.com/" target="_blank" rel="noopener">SmartFTP</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>FTP-Programme für Mac OS X</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="http://cyberduck.ch/" target="_blank" rel="noopener">Cyberduck</a></p>
</li>
<li>
<p><a href="https://filezilla-project.org/" target="_blank" rel="noopener">FileZilla</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Statt mit einem FTP-Programm zu arbeiten, kannst du auch folgende Optionen nutzen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>den integrierten Dateibrowser verwenden</p>
</li>
<li>
<p>eine FTP-Verbindung als Netzwerkressource unter Windows einrichten.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_ftp_zugang_einrichten">2. FTP-Zugang einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um mit einem FTP-Programm eine Verbindung zu deinem plentymarkets System aufzubauen und Dateien zu übertragen, benötigst du folgende Daten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Host/Server</p>
</li>
<li>
<p>Benutzername</p>
</li>
<li>
<p>Passwort</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Server und Benutzername sind in deinem System bereits hinterlegt. Das Passwort speicherst du selbst.</p>
</div>
<div class="paragraph instruction">
<p>FTP-Zugang einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>FTP-Konto</strong>.<br>
→ Die Informationen zu deinem FTP-Konto werden eingeblendet.</p>
</li>
<li>
<p>Notiere dir den Eintrag in der Zeile <strong>FTP-Benutzername</strong>.</p>
</li>
<li>
<p>Notiere dir den Eintrag in der Zeile <strong>FTP-Host</strong>.</p>
</li>
<li>
<p>Gib ein <strong>neues Passwort</strong> ein.</p>
</li>
<li>
<p>Gib das Passwort zur Bestätigung in das Feld <strong>Neues Passwort wiederholen</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Passwort wird aktiviert.<br>
→ Der Zugang zum FTP-Server wird freigeschaltet. Dieser Vorgang dauert etwa 60 Minuten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_über_ftp_programm_verbindung_zum_ftp_server_herstellen">3. Über FTP-Programm Verbindung zum FTP-Server herstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Speichere nun die notierten Zugangsdaten in deinem FTP-Programm. Wenn du beim Einrichten der Verbindung im FTP-Programm nach einem Port gefragt wirst, gib den Standardwert <strong>21</strong> ein oder lasse das Feld leer. Nachdem du die Zugangsdaten gespeichert hast, baust du eine Verbindung zum Server auf und erhältst so Zugriff auf das Dateisystem des Servers. Per FTP kannst du nun Dateien auf den Server hochladen oder vom Server auf deinen Computer herunterladen. Du kannst darüber hinaus Verzeichnisse erstellen und öffnen sowie Verzeichnisse und Dateien umbenennen oder löschen. Nach dem Übertragen von Daten ist es aus Sicherheitsgründen sinnvoll, die FTP-Verbindung zu beenden. Weitere Informationen findest du in der Dokumentation des verwendeten FTP-Programms.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Verbindungsprobleme?</div>
<div class="paragraph">
<p>Wenn keine Verbindung möglich ist, liegt das in der Regel an den Netzwerkeinstellungen (z. B. Proxy Server, Firewalls) oder den Besonderheiten deines Online-Dienstes. Wende dich bei Problemen zuerst an deinen Netzwerkadministrator und/oder an die Hotline deines Online-Dienstes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_über_webspace_tool_auf_daten_zugreifen">4. Über Webspace-Tool auf Daten zugreifen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alternativ zur Arbeitsweise mit einem FTP-Programm kannst du Daten auch über unser Webspace-Tool austaschen, das du über den Bereich <strong>CMS » Webspace</strong> öffnest. Eine Anleitung zur Bedienung des ajaxplorer findest du in unserem <a href="https://www.plentymarkets.eu/-plentymarkets-4-120-Nun-mit-komfortablem-Dateibrowser/b-138/">Blog-Eintrag</a> zum Thema.</p>
</div>
</div>
</div>
</main>