<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Service-Center aufrufen</span></a></li>
<li><a href="#20"><span>2.</span><span> Vertragsdaten ändern</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Tarif wechseln</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Vertrag kündigen</span></a></li>
</ul>
</li>
<li><a href="#50"><span>3.</span><span> Domain-Daten verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>3.1.</span><span> Informationen zu Domains</span></a>
<ul class="sectlevel3">
<li><a href="#70"><span>3.1.1.</span><span> Neue Domain bestellen</span></a></li>
<li><a href="#80"><span>3.1.2.</span><span> Domain umziehen</span></a></li>
<li><a href="#90"><span>3.1.3.</span><span> Externe Domain erstellen</span></a></li>
<li><a href="#100"><span>3.1.4.</span><span> Subdomain erstellen</span></a></li>
<li><a href="#110"><span>3.1.5.</span><span> Subdomain löschen</span></a></li>
</ul>
</li>
<li><a href="#120"><span>3.2.</span><span> Domain-Handle speichern</span></a></li>
<li><a href="#130"><span>3.3.</span><span> Domain kündigen</span></a></li>
<li><a href="#140"><span>3.4.</span><span> DNS-Einstellungen verwalten</span></a>
<ul class="sectlevel3">
<li><a href="#150"><span>3.4.1.</span><span> DNS-Einstellungen bei externem Domain-Provider speichern</span></a></li>
<li><a href="#160"><span>3.4.2.</span><span> Externe Domain: DNS-Einstellungen für AutoScaling aktualisieren</span></a></li>
</ul>
</li>
<li><a href="#170"><span>3.5.</span><span> DNS-Check durchführen</span></a></li>
<li><a href="#180"><span>3.6.</span><span> Eigene Domain und Subdomain für Artikelbild-URLs speichern</span></a></li>
<li><a href="#domain-nameserver"><span>3.7.</span><span> Nameserver-Daten anzeigen</span></a></li>
<li><a href="#domain-mailserver"><span>3.8.</span><span> Mailserver verwalten</span></a></li>
<li><a href="#210a"><span>3.9.</span><span> Systemverknüpfung erstellen</span></a></li>
<li><a href="#domain-auth-code"><span>3.10.</span><span> Domain Auth-Code generieren</span></a></li>
<li><a href="#230"><span>3.11.</span><span> CNAME Resource Record speichern</span></a></li>
<li><a href="#240"><span>3.12.</span><span> TXT Record verwalten</span></a></li>
<li><a href="#200"><span>3.13.</span><span> Nameserver für Subdomains speichern</span></a></li>
<li><a href="#250"><span>3.14.</span><span> Domain-Umzug durchführen</span></a></li>
<li><a href="#260"><span>3.15.</span><span> URL-Weiterleitungen einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#265"><span>3.15.1.</span><span> Aufbau</span></a></li>
<li><a href="#_beispiele"><span>3.15.2.</span><span> Beispiele</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#ssl-zertifikat"><span>4.</span><span> SSL-Zertifikat verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#280"><span>4.1.</span><span> Was ist ein SSL-Zertifikat?</span></a></li>
<li><a href="#360"><span>4.2.</span><span> SSL-Zertifikat für externe Domains</span></a></li>
<li><a href="#290"><span>4.3.</span><span> Voraussetzungen für das Buchen eines SSL-Zertifikats</span></a>
<ul class="sectlevel3">
<li><a href="#_domain"><span>4.3.1.</span><span> Domain</span></a></li>
<li><a href="#_aktiviertes_autoscaling"><span>4.3.2.</span><span> Aktiviertes Autoscaling</span></a></li>
<li><a href="#_bei_subdomains_vorhandene_parent_domain"><span>4.3.3.</span><span> Bei Subdomains: Vorhandene Parent-Domain</span></a></li>
<li><a href="#_bei_externen_domains_dns_einstellungen"><span>4.3.4.</span><span> Bei externen Domains: DNS-Einstellungen</span></a></li>
</ul>
</li>
<li><a href="#300"><span>4.4.</span><span> Kostenpflichtige SSL-Zertifikate verwalten</span></a>
<ul class="sectlevel3">
<li><a href="#310"><span>4.4.1.</span><span> Restlaufzeit eines SSL-Zertifikats anzeigen</span></a></li>
<li><a href="#320"><span>4.4.2.</span><span> Kostenpflichtiges SSL-Zertifikat bestellen</span></a></li>
<li><a href="#330"><span>4.4.3.</span><span> Kostenpflichtiges SSL-Zertifikat deaktivieren</span></a></li>
</ul>
</li>
<li><a href="#340"><span>4.5.</span><span> Kostenloses SSL-Zertifikat von Let’s Encrypt verwalten</span></a>
<ul class="sectlevel3">
<li><a href="#350"><span>4.5.1.</span><span> Kostenloses Let’s Encrypt-SSL-Zertifikat aktivieren</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#370"><span>5.</span><span> Mandanten (Shops) verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#380"><span>5.1.</span><span> Mandant (Shop) bestellen</span></a></li>
<li><a href="#390"><span>5.2.</span><span> Mandant (Shop) kündigen</span></a></li>
<li><a href="#400"><span>5.3.</span><span> Domain-Einstellungen von Mandanten (Shops) bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#cache"><span>6.</span><span> Cache verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#420"><span>6.1.</span><span> Cache temporär deaktivieren</span></a></li>
<li><a href="#430"><span>6.2.</span><span> Permanente SSL-Umleitung</span></a></li>
</ul>
</li>
<li><a href="#440"><span>7.</span><span> Zertifizierten Agenturen Zugang zum System geben</span></a>
<ul class="sectlevel2">
<li><a href="#450"><span>7.1.</span><span> Zertifizierten Dienstleistern Zugriff gewähren</span></a></li>
<li><a href="#460"><span>7.2.</span><span> Ansicht für Agenturen</span></a></li>
</ul>
</li>
<li><a href="#470"><span>8.</span><span> Hosting-Daten verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#480"><span>8.1.</span><span> Verbrauchsdaten anzeigen</span></a></li>
<li><a href="#490"><span>8.2.</span><span> Wissenswertes zum Thema Traffic</span></a></li>
</ul>
</li>
<li><a href="#500"><span>9.</span><span> Umzug des Systems veranlassen</span></a>
<ul class="sectlevel2">
<li><a href="#510"><span>9.1.</span><span> Voraussetzungen für einen Systemumzug</span></a></li>
<li><a href="#520"><span>9.2.</span><span> Umzug planen</span></a></li>
<li><a href="#530"><span>9.3.</span><span> Geplanten Umzug abbrechen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dein plentymarkets Konto</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>plentymarkets Logo (Start) » Service-Center</strong> findest du Informationen und Einstellungsmöglichkeiten zu deinem plentymarkets System. Im Service-Center kannst du selbständig Änderungen vornehmen, zum Beispiel Module buchen, Domains oder Subdomains bestellen oder deinen Vertrag ändern.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Entwicklungsstände und Versions-Updates</div>
<div class="paragraph">
<p>plentymarkets wird ständig weiterentwickelt und optimiert. Der Versionszyklus von plentymarkets umfasst die Entwicklungsstände <strong>Beta</strong>, <strong>Early</strong> und <strong>Stable</strong>. Standardmäßig wird dein System in der Version <strong>Stable</strong> bereitgestellt. Wenn du jedoch früher von Verbesserungen und neuen Features profitieren möchtest, hast du die Möglichkeit, dein System auf einen <a href="#basics/admin-aufgaben/versionszyklus">früheren Entwicklungsstand umzustellen</a>. Mit welcher plentymarkets Version du arbeitest, wird im plentymarkets Backend angezeigt, wenn du mit der Maus auf das Login-Symbol zeigst.</p>
</div>
<div class="paragraph">
<p>Normalerweise werden einmal pro Woche eine Beta-Version, eine Early-Version und eine Stable-Version veröffentlicht. Wenn eine neue Version veröffentlicht wird, wird dein System automatisch aktualisiert. Eine Übersicht der Neuerungen findest du im plentymarkets Changelog. Diesen Changelog findest du in der Kategorie <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Changelog des plentymarkets Forums</a>. Wir empfehlen dir, diese Kategorie zu abonnieren. Du erhältst dann eine Benachrichtigung, sobald ein neuer Changelog-Eintrag veröffentlicht wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Service-Center aufrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Einstellungen deines Systems aufzurufen.</p>
</div>
<div class="paragraph instruction">
<p>Service-Center aufrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Vertragsdaten ändern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>plentymarkets Logo (Start) » Service-Center » Tab: Vertrag</strong> werden Informationen zu deinem laufenden plentymarkets Vertrag angezeigt. Über dieses Menü nimmst du Änderungen an deinem Vertrag vor oder gibst eine Kündigung deines Vertrags in Auftrag.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Tarif wechseln</h3>
<div class="paragraph">
<p>plentymarkets wächst mit deinen Anforderungen. Du entscheidest selbst, wie viele Aufträge du pro Monat mit plentymarkets abwickeln möchtest. Wir stellen dir dafür die nötige Systemleistung zur Verfügung. Im Tab <strong>Vertrag</strong> passt du deinen plentymarkets Vertrag eigenständig im laufenden Betrieb an. Eine Anpassung des Vertrags ist zum Beispiel sinnvoll, wenn du mehr Aufträge generierst als im bestehenden Vertrag enthalten sind. Die Buchung einer höheren Anzahl an Aufträgen ist jederzeit möglich. Wenn du eine niedrigere Anzahl buchst, wird diese Änderung erst nach Ablauf der regulären Laufzeit deines aktuellen Vertrags wirksam.</p>
</div>
<div class="paragraph instruction">
<p>Vertrag ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Vertrag</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Tarifkonfigurator öffnen</strong> oder, falls gewünscht, auf <strong>Auf PRO-Tarif wechseln</strong>.</p>
</li>
<li>
<p>Passe die Vertragsdetails wie gewünscht an.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Vertrag kündigen</h3>
<div class="paragraph">
<p>Du hast im Tab <strong>Vertrag</strong> des Service-Centers auch die Möglichkeit, deinen Vertrag mit plentymarkets zu kündigen.</p>
</div>
<div class="paragraph instruction">
<p>Vertrag kündigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Vertrag</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vertrag kündigen</strong>, um eine Kündigung deines Vertrags in Auftrag zu geben.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Domain-Daten verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>plentymarkets Logo (Start) » Service-Center » Tab: Domain</strong> findest du Funktionen zum Verwalten deiner Domain. Die Parameter deiner Domains werden hier angezeigt und sind teilweise änderbar. Hier bestellst du auch eine neue Domain oder ziehst eine bereits bestehende Domain um. Außerdem legst du eine bestehende externe Domain oder eine Subdomain zu einer Hauptdomain an.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit nach Ersteinrichtung oder Änderungen</div>
<div class="paragraph">
<p>Es kann bis zu 24 Stunden dauern, bis alle Einstellungen auf allen Systemen zur Verfügung stehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="60">3.1. Informationen zu Domains</h3>
<div class="paragraph">
<p><a href="#tabelle-konto-domains">Tabelle 1</a> enthält Erläuterungen zu den verschiedenen Domain-Typen.</p>
</div>
<table id="tabelle-konto-domains" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Beispiele für Domains</caption>
<colgroup>
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Art</th>
<th class="tableblock halign-left valign-top">Zusatz</th>
<th class="tableblock halign-left valign-top">Beispielname</th>
<th class="tableblock halign-left valign-top">TLD</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Domain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">deinwebshop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.de</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Begriff "Domain" bezeichnet eine Internetadresse in Form eines Namens sowie einer Erweiterung, der Top-Level-Domain. Der Name ist frei wählbar. Eine Domain ist einmalig und darf weltweit nicht doppelt vorkommen. Bei der Registrierung der Domain, zum Beispiel bei einem Hosting-Dienstleister, wird daher geprüft, ob eine gewünschte Domain noch nicht vergeben ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subdomain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">info.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">deinwebshop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.de</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zu einer Domain sind beliebig viele Subdomains möglich. Subdomains müssen nicht registriert werden. Für eine Subdomain werden Varianten des Namens verwendet, die dem Domain-Namen durch einen Punkt getrennt vorangestellt oder angefügt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weitere Domains</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">dein-webshop<br>
dein_webshop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.de</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weitere Domains werden zum Beispiel mit alternativen Namen der Hauptdomain angelegt. Weitere Domains zeigen auf die Hauptdomain, damit die Domain möglichst auch bei anderen Schreibweisen gefunden wird. Für die Beispiel-Domain ist zum Beispiel die weitere Domain <strong>dein-webshop.de</strong> sinnvoll, damit die Hauptdomain <strong>deinwebshop.de</strong> auch bei Schreibweise mit Bindestrich erreicht wird. Für weitere Domains sind die Namen und Top-Level-Domains frei wählbar. Jede weitere Domain erhält die IP-Adresse der Hauptdomain.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="70">3.1.1. Neue Domain bestellen</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine neue Domain zu bestellen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Domain bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Domain bestellen</strong>.</p>
</li>
<li>
<p>Gib den gewünschten Domain-Namen ein.</p>
</li>
<li>
<p>Wähle die Top-Level-Domain (TLD) aus der Dropdown-Liste, zum Beispiel <strong>de</strong> oder <strong>com</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Prüfen</strong>.<br>
→  Das System prüft, ob die Domain verfügbar ist.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du erhältst Informationen über die monatlichen Kosten der Nutzung. Nach Eintrag der Kontaktdaten (Domain Handle) und der Zuordnung des plentymarkets Systems bestellst du die Domain über <strong>Zahlungspflichtig bestellen</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Registrieren von .com-Domains</div>
<div class="paragraph">
<p>Bei Registrierungen einer .com-Domain erhältst du eine E-Mail, in der du die eingegebenen WHOIS-Daten bestätigen musst. Diese E-Mail wird an die E-Mail-Adresse verschickt, die in den Handle-Daten (WHOIS) unter ADMIN-C eingetragen ist. Wenn du keine E-Mail erhalten hast, prüfe, ob die E-Mail-Adresse vorhanden und funktional ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="80">3.1.2. Domain umziehen</h4>
<div class="paragraph">
<p>Wenn die Domain bereits vorhanden ist, hast du die Möglichkeit, die Domain umzuziehen. Gehe dazu wie im Kapitel <a href="/basics/admin-aufgaben/plentymarkets-konto#70">Neue Domain bestellen</a> vor. Du wirst durch das Menü geführt. Beachte außerdem die folgenden Hinweise zum Domain-Transfer:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Halte den Auth-Code deines bisherigen Providers bereit, da dieser Auth-Code eingegeben werden muss.</p>
</li>
<li>
<p>Die Bearbeitungszeiten können je nach Top-Level-Domain unterschiedlich sein:</p>
</li>
<li>
<p>Bei <strong>.de</strong>-Domains: bis zu 24 Stunden</p>
</li>
<li>
<p>Bei <strong>.com</strong>- und <strong>.net</strong>-Domains: 3 bis 7 Tage</p>
</li>
<li>
<p>Bei <strong>.eu</strong>-Domains: bis zu 5 Tage</p>
</li>
<li>
<p>Bei Domaintransfer einer <strong>.com</strong>- oder <strong>.net</strong>-Domain erhältst du eine E-Mail, in der du dem Transfer zustimmen musst. Diese E-Mail wird an die E-Mail-Adresse verschickt, die in den Handle-Daten (WHOIS) unter ADMIN-C eingetragen ist. Wenn du keine E-Mail erhalten hast, prüfe, ob die E-Mail-Adresse vorhanden und funktional ist. Wenn es die E-Mail-Adresse nicht mehr gibt, kontaktiere deinen aktuellen Domainprovider, um die E-Mail-Adresse ändern zu lassen.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="90">3.1.3. Externe Domain erstellen</h4>
<div class="paragraph">
<p>Über die Option <strong>Neue externe Domain anlegen</strong> verknüpfst du eine bestehende externe Domain mit dem plentymarkets System. Die IP-Adresse der Domain wird dann in der Domain-Übersicht angezeigt. Speichere dann die DNS-Daten, die du in deinem Service-Center unter <strong>Aktuelle DNS Einstellungen</strong> der neu angelegten, externen Domain einsehen kannst, im DNS-Zonenbereich deines Hosting-Dienstleisters. Sollte eine IPv6-A-Record in deiner extern verwalteten Domain vorhanden sein, entferne dieses IPv6-A-Record.</p>
</div>
</div>
<div class="sect3">
<h4 id="100">3.1.4. Subdomain erstellen</h4>
<div class="paragraph">
<p>Du kannst zu einer Domain beliebig viele Subdomains erstellen. Eine Registrierung dieser Subdomains ist nicht erforderlich. Du kannst zum Beispiel zur Domain <strong>deinshop.de</strong> die Subdomain <strong>info.deinshop.de</strong> erstellen, um über diese Domain Informationen zu deinem Webshop zur Verfügung zu stellen. Die Verknüpfung erfolgt über die Wahl der Hauptdomain in der Dropdown-Liste. Darüber hinaus muss das plentymarkets System zugeordnet werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit oder Aktualisierung</div>
<div class="paragraph">
<p>Es dauert bis zu 24 Stunden, bis neue Domains oder Änderungen verfügbar sind. Grund ist, dass die Server in Zeitabständen neu gestartet werden und die Daten nicht sofort in der Cloud verteilt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="110">3.1.5. Subdomain löschen</h4>
<div class="paragraph">
<p>Du kannst eine Subdomain löschen. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Subdomain löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong> <br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>blaue Plus</strong> der Subdomain, die du löschen möchtest.<br>
→  Die Daten zur gewählten Subdomain werden eingeblendet.</p>
</li>
<li>
<p>Klicke auf <strong>Subdomain löschen</strong>.<br>
→  Die Subdomain wird aus dem System gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="120">3.2. Domain-Handle speichern</h3>
<div class="paragraph">
<p>Im Bereich <strong>Domain-Handle</strong> speicherst du die Kontaktdaten des Domain-Inhabers.</p>
</div>
<div class="paragraph instruction">
<p>Domain-Handle speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Domain-Handle</strong>.</p>
</li>
<li>
<p>Gib die Kontaktdaten des Domain-Inhabers ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">3.3. Domain kündigen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Domain zu kündigen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Kündigung der Hauptdomain</div>
<div class="paragraph">
<p>Kündigen deine Hauptdomain nur, wenn du auch deinen plentymarkets Systemvertrag kündigen möchtest. Hinterlege  sonst immer eine neue Hauptdomain.<br>
Beachte im Falle einer Kündigung des Systemvertrags die Kündigungsfristen. Wenn du die Hauptdomain zu früh kündigst, kann der Vertrag der Domain unter Umständen früher auslaufen als der Systemvertrag. Das System ist dann nicht mehr erreichbar, obwohl der Systemvertrag noch läuft.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Domain kündigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Domain kündigen</strong>.</p>
</li>
<li>
<p>Klicke im Bestätigungsfenster auf <strong>Ja</strong>, um die Domain zu kündigen.<br>
→ Das Vertragsende wird in einem neuen Fenster angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Kündigung eines Mandanten</div>
<div class="paragraph">
<p>Bei Kündigung eines Mandanten werden die zugehörigen Domains ebenfalls gekündigt. Ordne über die Systemverknüpfung bei Bedarf einen anderen Mandanten zu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">3.4. DNS-Einstellungen verwalten</h3>
<div class="paragraph">
<p>Im Bereich <strong>Aktuelle DNS-Einstellungen</strong> des Service-Centers werden die DNS-Einstellungen deiner Domain angezeigt. DNS steht für Domain Name System. DNS sorgt dafür, dass zum Aufrufen deines Webshops nicht die numerische IP-Adresse deines Webshops eingeben werden muss, sondern auch der Domain-Name der richtigen IP-Adresse zugeordnet wird.</p>
</div>
<div class="sect3">
<h4 id="150">3.4.1. DNS-Einstellungen bei externem Domain-Provider speichern</h4>
<div class="paragraph">
<p>Wenn deine Domain von einem externen Provider gehostet wird, musst du die DNS-Einstellungen deines plentymarkets Systems bei diesem externen Domain-Provider speichern. Gehe wie unten beschrieben vor, um die DNS-Einstellungen abzurufen und beim externen Provider zu speichern.</p>
</div>
<div class="paragraph instruction">
<p>DNS-Einstellungen abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain, für die du DNS-Einstellungen abrufen möchtest.<br>
→  Die DNS-Einstellungen werden angezeigt. Diese Einstellungen werden in  <a href="#tabelle-konto-dns-einstellungen-1">Tabelle 2</a> erläutert.</p>
</li>
<li>
<p>Logge dich in den Service-Bereich deines Domain-Providers ein.</p>
</li>
<li>
<p>Kopiere die im plentymarkets Service-Center angezeigten DNS-Einstellungen in die vorgesehenen Felder des Domain-Providers.<br>
→  Informationen zur Vorgehensweise findest du in der Dokumentation des Domain-Providers.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→  Die DNS-Einstellungen werden aktualisiert.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 72 Stunden dauern, bis die Änderungen wirksam werden. Hierauf hat plentymarkets keinen Einfluss.</p>
</li>
</ol>
</div>
<table id="tabelle-konto-dns-einstellungen-1" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Aktuelle DNS-Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Eintrag</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DNS-Quelle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Record Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ des DNS-Eintrags<br>
<strong>A</strong> =  Zuweisung einer IPv4-Adresse<br>
<strong>CNAME</strong> = Zuweisung eines anderen Hosts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ziel, auf das der Eintrag verweist.<br>
IP-Adresse = Die IP-Adresse, unter der das plentymarkets System erreichbar ist.<br>
CNAME = Die Adresse des AWS-Loadbalancer-Endpunkts, der Elastic Load Balancing, also AutoScaling, bereitstellt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="160">3.4.2. Externe Domain: DNS-Einstellungen für AutoScaling aktualisieren</h4>
<div class="paragraph">
<p>Wenn deine Domain von einem externen Provider gehostet wird, musst du die DNS-Einstellungen des plentymarkets Systems beim Domain-Provider anpassen, um von AutoScaling zu profitieren. Gehe wie unten beschrieben vor, um die DNS-Einstellungen der externen Domain anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>DNS-Einstellungen anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain, für die du DNS-Einstellungen abrufen möchtest.<br>
→  Die DNS-Einstellungen werden angezeigt. Diese Einstellungen werden in <a href="#tabelle-konto-dns-einstellungen-2">Tabelle 3</a> erläutert.</p>
</li>
<li>
<p>Prüfe, ob ein CNAME-Eintrag mit dem Alias xxxx.eu-central-1.elb.amazonaws.com vorhanden ist.<br>
→ Wenn der CNAME-Eintrag vorhanden ist, wurde das System auf AutoScaling vorbereitet. Fahre mit Schritt 6 fort.</p>
</li>
<li>
<p>Logge dich in den Service-Bereich deines Domain-Providers ein.</p>
</li>
<li>
<p>Kopiere die im plentymarkets Service-Center angezeigten DNS-Einstellungen in die vorgesehenen Felder des Domain-Providers.<br>
→  Informationen zur Vorgehensweise findest du in der Dokumentation des Domain-Providers.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→  Die DNS-Einstellungen werden aktualisiert.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 72 Stunden dauern, bis die Änderungen wirksam werden. Hierauf hat plentymarkets keinen Einfluss.</p>
</li>
</ol>
</div>
<table id="tabelle-konto-dns-einstellungen-2" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Aktuelle DNS-Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Eintrag</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DNS-Quelle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Record Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ des DNS-Eintrags<br>
<strong>A</strong> =  Zuweisung einer IPv4-Adresse<br>
<strong>CNAME</strong> = Zuweisung eines anderen Hosts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ziel, auf das der Eintrag verweist.<br>
IP-Adresse = Die IP-Adresse, unter der das plentymarkets System erreichbar ist.<br>
CNAME = Die Adresse des AWS-Loadbalancer-Endpunkts, der Elastic Load Balancing, also AutoScaling, bereitstellt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="170">3.5. DNS-Check durchführen</h3>
<div class="paragraph instruction">
<p>DNS-Check durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain.</p>
</li>
<li>
<p>Klicke auf <strong>DNS-Check</strong>.<br>
→ Die Informationen werden in einem neuen Fenster angezeigt.<br>
<strong><em>Tipp:</em></strong> MX steht für Mail Exchange Resource Record. Hierbei handelt es sich um die Parameter der <a href="/basics/admin-aufgaben/plentymarkets-konto#domain-mailserver">Mailserver</a>, die für den Empfang und den Versand von E-Mails zur Verfügung stehen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="180">3.6. Eigene Domain und Subdomain für Artikelbild-URLs speichern</h3>
<div class="paragraph">
<p>Artikelbildern wird die URL der Standard-CDN-Domain zugewiesen. Deshalb enthalten die URLs von Artikelbildern standardmäßig den Domain-Namen "plentymarkets.com". Du hast jedoch auch die Möglichkeit, statt der Standard-CDN-Domain die Domain des Mandanten zu nutzen und eine eigene Subdomain für Artikelbilder zu speichern. Weitere Informationen findest du im Kapitel <a href="/artikel/artikel-verwalten#4200">Eigene Domain für Bilder-URLs speichern</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="domain-nameserver">3.7. Nameserver-Daten anzeigen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um den Domain Name Server (DNS) anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>DNS-Check durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain.<br>
→ Im Bereich <strong>Nameserver</strong> wird der aktuell verwendete Domain Name Server (DNS) angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="domain-mailserver">3.8. Mailserver verwalten</h3>
<div class="paragraph">
<p>Im Bereich <strong>Mailserver</strong> des Service-Center sind die Mailserver hinterlegt, die für den Empfang und den Versand von E-Mails zur Verfügung stehen. Bei Verwendung des mailbox.org-Mailservers sind keine weiteren Einstellungen erforderlich. Für einen eigenen Server speicherst du die Werte für die IP-Adresse und bei Bedarf MX10 bis MX40.</p>
</div>
<div class="paragraph">
<p>Wenn du eine neue Domain bestellst, ist der mailbox.org-Mailserver vorausgewählt. Bei extern verwalteten Domains sowie Domains mit externer Systemverknüpfung kann im Service-Center kein Mailserver eingestellt werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Externen Mailserver konfigurieren</div>
<div class="paragraph">
<p>Wenn du einen eigenen Mailserver nutzen, konfiguriere diesen externen Mailserver, bevor du die Parameter im plentymarkets Service-Center speicherst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mailserver speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Mailserver</strong> die Option <strong>Mailbox.org</strong> oder <strong>Eigener Mailserver</strong>.</p>
</li>
<li>
<p>Nimm bei Verwendung eines eigenen Mailservers die in <a href="#tabelle-konto-parameter-mailserver">Tabelle 4</a> erläuterten Einstellungen vor.</p>
</li>
<li>
<p>Klicke auf <strong>Mailserver speichern</strong>.</p>
</li>
</ol>
</div>
<table id="tabelle-konto-parameter-mailserver" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Parameter für eigene Mailserver</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IP-Adresse des Posteingangsservers eingeben. Der Zugriff erfolgt über die Adresse mail.[deinedomain].de.<br>
<strong><em>Hinweis:</em></strong> <em>[deinedomain].de</em> durch eigene Domain ersetzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MX10</strong>;<br>
<strong>MX20</strong>;<br>
<strong>MX30</strong>;<br>
<strong>MX40</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mailserver für den E-Mail-Empfang eingeben. Der Server MX10 hat höchste Priorität, also E-Mails werden zuerst an den Mailserver MX10 geschickt. Erst wenn dieser Mailserver nicht verfügbar ist, werden E-Mails an Mailserver MX20 geschickt. Je niedriger der MX-Zahlenwert ist, desto höher die Priorität.<br>
<strong><em>Tipp:</em></strong> Für eine optimale Verfügbarkeit sollten mindestens zwei Mailserver hinterlegt sein, damit E-Mails auch bei Ausfall oder Wartung eines Mailservers empfangen werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="210a">3.9. Systemverknüpfung erstellen</h3>
<div class="paragraph">
<p>Im Bereich <strong>Systemverknüpfung</strong> kannst du die Domain mit einem plentymarkets System verknüpfen oder eine Systemverknüpfung ändern. Pro plentymarkets Mandant kannst du, wenn du mehrere Domains eingerichtet hast, eine davon als Hauptdomain festlegen. Die URL wird dann auch bei den anderen Domains in der Adresszeile des Browsers angezeigt. Es kann bis zu 24 Stunden dauern, bis alle Einstellungen auf allen Systemen zur Verfügung stehen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Umstellung der Hauptdomain</div>
<div class="paragraph">
<p>Wenn du die Hauptdomain umstellst, muss die URL auf allen Plattformen und in den Einstellungen der Schnittstellen deines plentymarkets Systems, zum Beispiel bei Zahlungsanbietern, angepasst werden.<br>
Speichere außerdem im Menü <a href="/payment/bankdaten-verwalten#70">Einrichtung » Aufträge » Zahlung » EBICS</a> die dort bereits hinterlegten Daten erneut, um die Grundeinstellungen zu aktualisieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Externe Systemverknüpfung</div>
<div class="paragraph">
<p>Du kannst ein plentymarkets System nicht mit einem externen Server verknüpfen, wenn es sich bei der Domain um eine Hauptdomain handelt. Hinterlege in diesem Fall eine andere Domain als Hauptdomain, bevor du das System verknüpfst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>plentymarkets System verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Systemverknüpfung</strong> das plentymarkets System, mit dem du die Domain verknüpfen möchtest. Wenn du einen eigenen Server verwendest, wähle die Einstellung <strong>externer Server</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib die IP-Adresse (A-Record) des externen Servers ein.</p>
</li>
<li>
<p>Klicke auf <strong>Systemverknüpfung speichern</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="domain-auth-code">3.10. Domain Auth-Code generieren</h3>
<div class="paragraph">
<p>Bei einem Wechsel zu einem anderen Domain-Provider benötigst du einen Authentifizierungscode (Auth-Code) für die Domain. Dieser Auth-Code weist dich als Eigner der Domain aus. Den Auth-Code erzeugst du im Bereich <strong>Domain Auth-Code</strong> des Service-Center.</p>
</div>
<div class="paragraph instruction">
<p>Domain Auth-Code generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Domain Auth-Code</strong> auf <strong>Domain Auth-Code generieren</strong>.<br>
→ Der Code wird generiert und im Feld <strong>Domain Auth-Code</strong> angezeigt.<br>
<strong><em>Hinweis:</em></strong> Ein Domain Auth-Code ist 30 Tage gültig. Danach musst du einen neuen Code generieren, wenn du den Code nicht verwendet hast.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">3.11. CNAME Resource Record speichern</h3>
<div class="paragraph">
<p>CNAME bezeichnet eine Subdomain, die namensbasiert auf eine Domain oder eine Subdomain weitergeleitet wird. Du kannst damit zum Beispiel über den Anbieter <strong>Shopgate</strong> eine mobile Variante deiner Website zur Verfügung stellen oder die Nutzung eines externen E-Mail-Dienstes einrichten. Im ersten Beispiel in Bild 1 ist die Quelle <em>mobile.ihrshop.de</em> die mobile Variante der Domain <em>ihrshop.de</em>. Als Ziel verwendest du die Shopgate-Subdomain <em>cname.shopgate.com</em>. Durch diesen CNAME-Eintrag wird gewährleistet, dass die Auflösung des Shops seitens Shopgate korrekt durchgeführt wird.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-ServiceCenter-Domain-AuthCode.png" alt="CNAME speichern">
</div>
<div class="title">Bild 1. CNAME speichern</div>
</div>
<div class="paragraph instruction">
<p>CNAME speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentmarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain.</p>
</li>
<li>
<p>Gib im Bereich <strong>CNAME Resource Record</strong> Quelle und Ziel ein.</p>
</li>
<li>
<p>Klicke auf <strong>CNAME Resource Record speichern</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="240">3.12. TXT Record verwalten</h3>
<div class="paragraph">
<p>Mit einem TXT Resource Record kann ein frei definierbarer Text in einer DNS-Zone abgelegt werden, sowohl für die Hauptdomain als auch für Subdomains des Webshops. Solche Einträge werden zum Beispiel von E-Mail-Service-Anbietern oder Newsletter-Dienstleistern benötigt. Die einzutragenden Daten erhältst du direkt von deinem Dienstleister.</p>
</div>
<div class="paragraph instruction">
<p>TXT Record speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain.</p>
</li>
<li>
<p>Gib im Bereich <strong>TXT Record</strong> die Daten ein, die du vom Dienstleister erhalten hast.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="200">3.13. Nameserver für Subdomains speichern</h3>
<div class="paragraph">
<p>Im Bereich <strong>Nameserver für Subdomains</strong> des Service-Center gibst du einen oder mehrere Nameserver an, auf die eine Subdomain zeigen soll.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du kannst Nameserver nur für Subdomains einer Hauptdomain speichern.</p>
</li>
<li>
<p>Gib mehrere Nameserver pro Subdomain kommagetrennt ein.</p>
</li>
<li>
<p>Gib den Domain-Namen des Nameservers ein.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Nameserver für Subdomains zu speichern.</p>
</div>
<div class="paragraph instruction">
<p>Nameserver für Subdomains speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain.</p>
</li>
<li>
<p>Gib im Bereich <strong>Nameserver für Subdomains</strong> in das Feld <strong>Subdomain</strong> die Subdomain ein.</p>
</li>
<li>
<p>Gib in das Feld <strong>Ziel</strong> den Domain-Namen der Ziel-Server ein. Gib mehrere Domain-Namen kommagetrennt ein.</p>
</li>
<li>
<p>Klicke auf <strong>Nameserver für Subdomains speichern</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">3.14. Domain-Umzug durchführen</h3>
<div class="paragraph">
<p>Wenn du deinen Webhosting-Provider wechseln möchtest, wird das KK-Verfahren oder das Auth-Code-Verfahren (Auth-Info) durchgeführt. KK bedeutet Konnektivitäts-Koordination. Mit einem KK-Antrag wird der Provider-Wechsel geregelt. Inzwischen wird zunehmend das Auth-Info-Verfahren verwendet.</p>
</div>
<div class="paragraph">
<p>Beachte folgende Punkte, um Probleme bei deinem Webhosting-Provider-Wechsel zu vermeiden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Erzeuge einen <a href="/basics/admin-aufgaben/plentymarkets-konto#domain-auth-code">Auth-Code</a>.</p>
</li>
<li>
<p>Lösche die Registrierung deiner bisherigen Domain bei deinem aktuellen Provider nicht.</p>
</li>
<li>
<p>Informiere deinen aktuellen Provider über den geplanten Wechsel und dass du in Kürze einen KK-Antrag stellen wirst.</p>
</li>
<li>
<p>Wende dich bezüglich des Wechsels mit allen damit verbundenen Vorgängen an den neuen Provider. Dein neuer Provider benötigt u.a. deine Unterschrift zur Bestätigung, dass du wechseln möchtest.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In der Regel ist ein Provider-Wechsel problemlos und kurzfristig möglich. Wenn es jedoch bei der Abwicklung zu Problemen kommt, zum Beispiel weil Daten unvollständig oder unklar sind, kann der Wechsel vom alten Provider zunächst abgelehnt werden. Nimm in diesem Fall umgehend Kontakt zum alten Provider auf. Der aktuelle Provider kann den Wechsel erst freigeben, wenn keine Unklarheiten mehr bestehen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">IPS-Tag</div>
<div class="paragraph">
<p>Bei einem Domaintransfer von einer <strong>.uk</strong>- oder <strong>.co.uk</strong>-Domain eines anderen Domainproviders zu plentymarkets musst du vorher den IPS-Tag durch deinen aktuellen Domainprovider anpassen lassen. Der IPS-Tag unseres Domainproviders lautet:</p>
</div>
<div class="paragraph">
<p><strong>UNITEDDOMAINS-DE</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="260">3.15. URL-Weiterleitungen einrichten</h3>
<div class="paragraph">
<p>Im Bereich <strong>URL-Weiterleitung</strong> des Service-Center definierst du kostenpflichtige Weiterleitungen. Gehe wie unten beschrieben vor, um Weiterleitungen einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>URL-Weiterleitungen einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>blaue Plus</strong> der Domain, von der du weiterleiten möchtest.</p>
</li>
<li>
<p>Gib die gewünschten Weiterleitungen in das vorgesehene Feld ein. Pro Zeile kann eine Umleitung definiert werden. Beachte bei der Eingabe die nachfolgende <a href="/basics/admin-aufgaben/plentymarkets-konto#265">Informationen zum Syntax</a>.</p>
</li>
<li>
<p>Klicke auf <strong>URL-Weiterleitungen speichern</strong>.<br>
→ Änderungen werden spätestens nach 24 Stunden auf den Webservern veröffentlicht.</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="265">3.15.1. Aufbau</h4>
<div class="paragraph">
<p>Eine Umleitung besteht immer aus vier Angaben, die mit einem Semikolon getrennt eingegeben werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Quelle;Ziel;HTTP-Code;Option</p>
</li>
</ul>
</div>
<table id="tabelle-weiterleitung-aufbau" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Eine Umleitung besteht aus vier Angaben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Angabe</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quelle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Quell-Pfad von welchem weitergeleitet werden soll (z.B. <code>/kontakt/</code>). Verwende ein Sternchen <code>*</code> am Ende der Quelle, um alle Unterseiten auf das Ziel umzuleiten (z.B. <code>/kontakt/*</code>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Ziel-Pfad oder die Ziel-URL auf welche weitergeleitet werden soll (z.B. <code>/unternehmen/kontakt/</code> oder <code>http://www.externe-domain.com/kontakt/</code>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HTTP-Code</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die folgenden HTTP-Codes werden unterstützt und von Suchmaschinen interpretiert:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>301: Die angeforderte Quelle steht ab sofort unter dem definierten Ziel bereit (auch Redirect genannt). Die alte Adresse (Quelle) ist nicht länger gültig.</p>
</li>
<li>
<p>304: Der Inhalt der angeforderten Ressource hat sich seit der letzten Abfrage des Clients nicht verändert und wird deshalb nicht übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Angabe einer Option ist nicht in jedem Fall erforderlich.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>L: Wenn du diese Option angibst, wird nach dieser RewriteRule keine weitere mehr ausgeführt.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_beispiele">3.15.2. Beispiele</h4>
<table id="tabelle-weiterleitung-beispiele" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Beispiel-Weiterleitungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Weiterleitung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/herren/*;/mode/herren/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle URLs, welche mit <code>/herren/</code> beginnen werden auf die URL <code>/mode/herren/</code> weitergeleitet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/herren/hosen/;/mode/herren/hosen/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die URL <code>/herren/hosen/</code> wird auf die URL <code>/mode/herren/hosen/</code> weitergeleitet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/herren/basics-*;/mode/herren/*;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle URLs, welche mit <code>/herren/basic</code> beginnen, werden auf die URL <code>/mode/herren/…​</code> weitergeleitet.<br>
<strong><em>Hinweis:</em></strong> hierbei der Teil der Quell-URL, welcher in diesem Beispiel mit <code>basics-</code> beginnt, an die Ziel-URL angehängt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/;https://www.externer-blog.com/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Startseite wird auf die URL <code>https://www.externer-blog.com/</code> weitergeleitet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/*;https://www.externer-blog.com/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle URLs, inkl. der Startseite, werden auf die URL <code>https://www.externer-blog.com/</code> weitergeleitet.<br>
<strong><em>Hinweis:</em></strong> Bitte setze diese Weiterleitung niemals für deinen Hauptshop, da sonst der plentymarkets Admin nicht mehr erreichbar ist. Der Einsatz dieser Weiterleitung für einen zusätzlichen Mandantshop ist jedoch problemlos möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/blog/*;https://www.externer-blog.com/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle URLs, welche mit <code>/blog/</code> beginnen werden auf die URL <code>https://www.externer-blog.com/</code> weitergeleitet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>^/mode/hosen/$;/mode/herren/hosen/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Regel gilt nur für die Adresse <code>ihre-domain.de/mode/herren/</code> ohne etwas davor oder danach. Der Zirkumflex <code>^</code> ist hierbei das Symbol für Stringanfang und das Dollarzeichen <code>$</code> das Symbol für das Stringende. Durch diese Syntax vermeidest du, dass es zu unerwünschten Weiterleitungen oder Endlosweiterleitungen kommt, wenn du mehrere Zeilen an Weiterleitungen nutzt die z.B. <code>/mode/hosen/</code> als Quell-URL enthalten.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="ssl-zertifikat">4. SSL-Zertifikat verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du Informationen zu SSL-Zertifikaten. Du erfährst, wie du die Restlaufzeit deines SSL-Zertifikats prüfst, ein neues SSL-Zertifikat bestellst und dein aktives SSL-Zertifikat deaktivierst.</p>
</div>
<div class="sect2">
<h3 id="280">4.1. Was ist ein SSL-Zertifikat?</h3>
<div class="paragraph">
<p>Ein SSL-Zertifikat dient dazu, deine Website zu verschlüsseln und gewährleistet eine sichere Verbindung zu deiner Website und deinem Onlineshop. Du benötigst ein SSL-Zertifikat für bestimmte Marktplätze und zum Beispiel für die Zertifizierung mit Trusted Shops. Dass du ein SSL-Zertifikat verwendest, ist daran erkennbar, dass deine Website über <em>https</em> erreichbar ist.</p>
</div>
<div class="paragraph">
<p>SSL-Zertifikate werden von unabhängigen Zertifizierungsstellen ausgestellt. plentymarkets bietet 2 verschiedene Arten von SSL-Zertifikaten an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kostenpflichtige SSL-Zertifikate mit einer Laufzeit von mindestens einem Jahr ohne Verlängerung. Nach Ablauf der Laufzeit muss ein neues SSL-Zertifikat erworben werden.</p>
</li>
<li>
<p>Kostenloses SSL-Zertifikat von <a href="https://letsencrypt.org" target="_blank" rel="noopener">Let’s Encrypt</a> mit automatischer Verlängerung, monatlich kündbar.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Du bestellst das SSL-Zertifikat für deine <a href="/basics/admin-aufgaben/plentymarkets-konto#domain">Hauptdomain</a>, also die Domain, die im Menü <strong>plentymarkets Logo (Start) » Service-Center » Tab: Domain</strong> als Hauptdomain eingestellt ist (Bild 2, blauer Pfeil). Wenn du ein SSL-Zertifikat für eine andere Domain einrichten möchtest, musst du diese Domain zunächst als Hauptdomain festlegen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-ServiceCenter-SSL-Hauptdomain.png" alt="plentymarkets-Service-Center; Domains">
</div>
<div class="title">Bild 2. plentymarkets-Service-Center; Domains</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Keine SSL-Zertifikate für gekündigte Domains und Testdomains</div>
<div class="paragraph">
<p>Für gekündigte Domains sowie für Start-up-Domains und Testdomains, also Domains mit den Bestandteilen <em>plenty-testdrive.eu</em>, <em>plentymarkets-x1.com</em> usw., können keine SSL-Zertifikate bestellt werden. Daher wird die Schaltfläche <strong>SSL-Zertifikat bestellen</strong> für diese Domains nicht angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="360">4.2. SSL-Zertifikat für externe Domains</h3>
<div class="paragraph">
<p>Eine externe Domain kannst du beim externen Hoster belassen und <a href="/basics/admin-aufgaben/plentymarkets-konto#150">die DNS-Einstellungen bei diesem externen Hoster speichern</a>. Das SSL-Zertifikat muss jedoch systemnah liegen, also auch wenn die Domain bei einem anderen Hoster liegt, erfolgt die Verschlüsselung erst nach der Weiterleitung über die IP-Adresse bei plentymarkets im System. Daher muss das SSL-Zertifikat bei plentymarkets gebucht werden, da plentymarkets aus Sicherheitsgründen keine externen Zertifikate zulässt.</p>
</div>
</div>
<div class="sect2">
<h3 id="290">4.3. Voraussetzungen für das Buchen eines SSL-Zertifikats</h3>
<div class="paragraph">
<p>Bevor du ein SSL-Zertifikat buchst, stelle sicher, dass dein System die folgenden Voraussetzungen erfüllt:</p>
</div>
<div class="sect3">
<h4 id="_domain">4.3.1. Domain</h4>
<div class="ulist">
<ul>
<li>
<p>Die Domain, für die das SSL-Zertifikat bestellt werden soll, muss eine im plentymarkets Service-Center aktivierte <a href="/basics/admin-aufgaben/plentymarkets-konto#210a">Hauptdomain</a> sein.<br>
→ Prüfe die Einstellungen im plentymarkets Service-Center.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_aktiviertes_autoscaling">4.3.2. Aktiviertes Autoscaling</h4>
<div class="paragraph">
<p>Vereinzelt gibt es Systeme, die nicht auf <a href="https://aws.amazon.com/de/autoscaling/">Autoscaling</a> (AS) umgestellt wurden. In den meisten Fällen liegt das daran, dass die Domain nicht bei plentymarkets gehostet wird. Aus diesem Grund muss die Person, der die Domain gehört, die DNS-Einstellungen der Domain manuell anpassen.
Eine weitere mögliche Ursache ist, dass eine Domain erstmalig zu einem Mandanten hinzugeführt wurde. Diese Mandanten werden dann nicht automatisch auf Autoscaling umgestellt. Der plentymarkets Support muss Autoscaling manuell aktivieren.</p>
</div>
<div class="paragraph">
<p>Gehe wie unten beschreiben vor, um zu prüfen, ob für das System Autoscaling aktiviert ist.</p>
</div>
<div class="paragraph instruction">
<p>Autoscaling-Status prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das blaue Plus der Domain, für die du DNS-Einstellungen abrufen möchtest.<br>
→  Die DNS-Einstellungen werden angezeigt.</p>
</li>
<li>
<p>Prüfe in der Spalte <strong>DNS Record Type</strong>, ob für die Domain ein CNAME-Eintrag vorhanden ist.<br>
→ Wenn ein CNAME-Eintrag vorhanden ist, ist Autoscaling aktiviert. Ein SSL-Zertifikat kann bestellt werden.<br>
→ Wenn kein CNAME-Eintrag vorhanden ist, sondern nur zwei A-Records, ist Autoscaling nicht aktiviert.</p>
</li>
<li>
<p>Wenn Autoscaling nicht aktiviert ist, bitte den plentymarkets Support über das Link:https://forum.plentymarkets.com/t/46996/[plentymarkets Forum], Autoscaling zu aktivieren.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_bei_subdomains_vorhandene_parent_domain">4.3.3. Bei Subdomains: Vorhandene Parent-Domain</h4>
<div class="paragraph">
<p>Wenn du ein SSL-Zertifikat für eine Subdomain bestellen möchtest, muss auch die Parent-Domain im Service-Center existieren. Auch die Beziehung zwischen Domain und Subdomain muss im Service-Center korrekt eingetragen sein.<br>
→ Prüfe die Einstellungen im plentymarkets Service-Center.<br>
→ Wenn die Parent-Domain aus dem Service-Center entfernt wurde, legst du die Parent-Domain neu an. Wenn diese Parent-Domain nicht auf plentymarkets zeigen soll, sondern z.B. auf Shopware, versehe die Parent-Domain mit einem externen A-Record, indem du eine <a href="/basics/admin-aufgaben/plentymarkets-konto#210a">Systemverknüpfung erstellst</a>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_bei_externen_domains_dns_einstellungen">4.3.4. Bei externen Domains: DNS-Einstellungen</h4>
<div class="ulist">
<ul>
<li>
<p>Die beim <a href="/basics/admin-aufgaben/plentymarkets-konto#150">externen Provider gespeicherten DNS-Einstellungen</a> müssen mit den DNS-Einstellungen im plentymarkets Service-Center identisch sein.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.</p>
</li>
<li>
<p>Für die Domain, für die das SSL-Zertifikat bestellt werden soll, darf kein IPv6-Eintrag (AAAA-Record) existieren.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.</p>
</li>
<li>
<p>Für die Domain, für die das SSL-Zertifikat bestellt werden soll, müssen eventuell vorhandene CAA-Records die Bestellung des gewünschten Zertifikats zulassen.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="300">4.4. Kostenpflichtige SSL-Zertifikate verwalten</h3>
<div class="paragraph">
<p>Bei kostenpflichtigen SSL-Zertifikaten musst du vor Ende der Laufzeit ein neues SSL-Zertifikat bestellen. Unabhängig davon, ob du bereits ein SSL-Zertifikat hast, musst du ein neues Zertifikat bestellen. Du wählst also Zertifizierungsstelle und Laufzeit bei jeder Bestellung neu. Die Bestellung bei der Zertifizierungsstelle führt plentymarkets in deinem Auftrag durch und stellt dir den Kaufbetrag und die monatlichen Bereitstellungskosten in Rechnung.</p>
</div>
<div class="sect3">
<h4 id="310">4.4.1. Restlaufzeit eines SSL-Zertifikats anzeigen</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Restlaufzeit eines SSL-Zertifikats anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Restlaufzeit eines SSL-Zertifikats anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » SSL</strong>.<br>
→ Eine Tabelle mit den Zertifikaten der Domain wird angezeigt.<br>
→ In der Spalte <strong>Ablaufdatum</strong> findest du das Datum, an dem das Zertifikat abläuft.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="320">4.4.2. Kostenpflichtiges SSL-Zertifikat bestellen</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um ein kostenpflichtiges SSL-Zertifikat zu bestellen.</p>
</div>
<div class="paragraph instruction">
<p>Kostenpflichtiges SSL-Zertifikat bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » SSL</strong>.<br>
→ Die Zertifikate der Domain werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Neues SSL bestellen für Domain: [Domain-Name]</strong> rechts auf den Pfeil nach unten.<br>
→ Die für die Domain buchbaren SSL-Zertifikate werden angezeigt.</p>
</li>
<li>
<p>Prüfe die buchbaren SSL-Zertifikate.</p>
</li>
<li>
<p>Klicke in der Zeile des SSL-Zertifikats, das du buchen möchtest, auf <strong>SSL bestellen</strong>.<br>
→ Das SSL-Zertifikat wird bestellt.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 2 Stunden dauern, bis das SSL-Zertifikat aktiviert ist.</p>
</li>
<li>
<p>Lösche den Browser-Cache.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Lösche den DNS-Cache.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke die Tastenkombination <strong>Windows-Taste + R</strong>.</p>
</li>
<li>
<p>Gib <code>CMD</code> ein und drücke <strong>Enter</strong>.</p>
</li>
<li>
<p>Gib den Befehl <code>ipconfig /flushdns</code> ein.<br>
→ Der DNS-Cache wird gelöscht.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="330">4.4.3. Kostenpflichtiges SSL-Zertifikat deaktivieren</h4>
<div class="paragraph">
<p>Du kannst ein aktives SSL-Zertifikat vorübergehend oder dauerhaft deaktivieren. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Laufzeit bleibt gleich</div>
<div class="paragraph">
<p>Bei einer vorübergehenden Deaktivierung des SSL-Zertifikats verlängert sich die Gesamtlaufzeit des Zertifikats nicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kostenpflichtiges SSL-Zertifikat deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>blaue Plus</strong> der Hauptdomain.<br>
→ Die Restlaufzeit des SSL-Zertifikats wird im Bereich <strong>SSL-Zertifikat</strong> in der Spalte <strong>Gültigkeit Ende</strong> angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>SSL-Zertifikat deaktivieren</strong>.<br>
→ Dein SSL-Zertifikat wird deaktiviert.</p>
</li>
<li>
<p>Durch Klicken auf <strong>SSL-Zertifikat aktivieren</strong> kannst du das Zertifikat erneut aktivieren.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 4 Stunden dauern, bis das SSL-Zertifikat deaktiviert oder aktiviert wird.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="340">4.5. Kostenloses SSL-Zertifikat von Let’s Encrypt verwalten</h3>
<div class="paragraph">
<p>Als Alternative zu kostenpflichtigen SSL-Zertifikaten bietet plentymarkets die Möglichkeit, SSL-Zertifikate der Zertifizierungsstelle <a href="https://letsencrypt.org" target="_blank" rel="noopener">Let’s Encrypt</a> zu nutzen. Die Zertifikate verlängern sich automatisch und sind monatlich kündbar. Gehe wie unten beschrieben vor, um ein SSL-Zertifikat von Let’s Encrypt zu aktivieren.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bereitstellungsgebühr beachten</div>
<div class="paragraph">
<p>SSL-Zertifikate von Let’s Encrypt sind kostenlos. Für dich fällt bei der Nutzung eines SSL-Zertifikats von Let’s Encrypt lediglich eine geringe monatliche Gebühr an, die plentymarkets für die Bereitstellung erhebt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="350">4.5.1. Kostenloses Let’s Encrypt-SSL-Zertifikat aktivieren</h4>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um ein kostenloses SSL-Zertifikat von Let’s Encrypt zu aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Kostenloses SSL-Zertifikat aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>blaue Plus</strong> der Hauptdomain.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>SSL-Zertifikat</strong> das Kontrollkästchen <strong>LetsEncypt</strong>.<br>
→ Das SSL-Zertifikat wird aktiviert.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 24 Stunden dauern, bis die Aktivierung abgeschlossen ist.<br>
→ Die Bereitstellungsgebühr wird von plentymarkets monatlich in Rechnung gestellt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="370">5. Mandanten (Shops) verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/webshop">Mandant (Shop)</a> sind weitere Webshops, die über den zugeordneten Hauptshop in deinem plentymarkets System konfigurierbar sind. Im Menü <strong>plentymarkets Logo (Start) » Service-Center » Tab: Mandant (Shop)</strong> werden die vorhandenen Mandanten (Shops) angezeigt.</p>
</div>
<div class="sect2">
<h3 id="380">5.1. Mandant (Shop) bestellen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um einen Mandanten (Shop) zu bestellen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Domain angelegt?</div>
<div class="paragraph">
<p>Um einen Mandanten (Shop) zu bestellen, benötigst du eine <a href="/basics/admin-aufgaben/plentymarkets-konto#domain">Domain</a>. Diese Domain musst du vorher im Tab <strong>Domain</strong> für das Hauptsystem erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mandanten (Shop) bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Vertrag</strong>.</p>
</li>
<li>
<p>Klicken auf <strong>Tarifkonfigurator öffnen</strong>.<br>
→ Der Tarifkonfigurator wird geöffnet.</p>
</li>
<li>
<p>Bestelle den Mandanten.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="390">5.2. Mandant (Shop) kündigen</h3>
<div class="paragraph">
<p>Du kannst einen Mandanten (Shop) kündigen, indem du im Menü <strong>plentymarkets Logo (Start) » Service-Center » Tab: Mandant (Shop)</strong> auf <strong>Mandant (Shop) kündigen</strong> klickst. Bestätige im angezeigten Fenster deine Kündigung. Vertragsbeginn und -ende werden angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Mandanten (Shop) bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Mandant (Shop)</strong>.</p>
</li>
<li>
<p>Klicken auf <strong>Mandant (Shop) kündigen</strong>.<br>
→ Ein Bestätigungsfenster wird geöffnet.</p>
</li>
<li>
<p>Bestätige die Kündigung.<br>
→ Beginn und Ende des Vertrags werden angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">5.3. Domain-Einstellungen von Mandanten (Shops) bearbeiten</h3>
<div class="paragraph">
<p>Im Tab <strong>Mandant (Shop)</strong> werden außerdem Informationen zu den Domains angezeigt, die deinen Mandanten zugeordnet sind. Nimm die Änderungen an diesen Einstellungen wie unter <a href="/basics/admin-aufgaben/plentymarkets-konto#domain">Domain</a> vor.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="cache">6. Cache verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um statische Inhalte deines Webshops, wie zum Beispiel Artikelbilder, jederzeit möglichst schnell anzeigen zu können, werden diese Inhalte für eine gewisse Zeit im Cache vorgehalten. Aus diesem Grund sind Änderungen, zum Beispiel eines Bildes, nach dem Upload nicht sofort sichtbar, sondern erst nach einer Verzögerung von bis zu 1 Stunde. Beachte auch unseren <a href="https://www.plentymarkets.eu/blog/Im-Rollout-Mehr-Geschwindigkeit-bei-durchgehender-SSL-Verschluesselung/b-1207/">Blog-Beitrag</a> zu diesem Thema.</p>
</div>
<div class="sect2">
<h3 id="420">6.1. Cache temporär deaktivieren</h3>
<div class="paragraph">
<p>Du kannst den Cache des Systems für einen begrenzten Zeitraum deaktivieren. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Cache temporär deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cache</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Von</strong> den Zeitpunkt, zu dem der Cache deaktiviert wird.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Bis</strong> den Zeitpunkt, zu dem der Cache reaktiviert wird.</p>
</li>
<li>
<p>Klicke auf <strong>Cache temporär deaktivieren</strong>.<br>
→ Der Cache des Systems wird im gewählten Zeitraum deaktiviert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="430">6.2. Permanente SSL-Umleitung</h3>
<div class="paragraph">
<p>Wenn du ein SSL-Zertifikat gebucht hast, wird deine Website vollständig verschlüsselt ausgeliefert. Die dabei eingesetzte Technologie SNI/TLS ist seit vielen Jahren ein gängiger Standard, der von allen aktuellen Browsern unterstützt wird. Allerdings verwenden einige der Besucher deines Webshops unter Umständen noch ältere Browser, die diesen Standard nicht unterstützen. Wenn du die SSL-Umleitung deaktivierst, können auch Besucher mit älteren Browsern deinen Webshop durchstöbern. Allerdings ist auch dann eine Bestellung nur mit aktuellen Browsern möglich, da auch bei einer Deaktivierung der Umleitung der Bestellvorgang weiterhin verschlüsselt wird. Hier kannst du den Besucher vor dem Bestellvorgang darauf hinweisen, dass eine Bestellung nur mit einem aktuellen Browser möglich ist.</p>
</div>
<div class="paragraph instruction">
<p>Permanente SSL-Umleitung deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Cache</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste die Option <strong>&lt; IE 9 inaktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Permanente SSL-Umleitung speichern</strong>.<br>
→ Die SSL-Umleitung des Systems wird deaktiviert.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="440">7. Zertifizierten Agenturen Zugang zum System geben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>plentymarkets Logo (Start) » Service-Center » Tab: Ihre Agentur</strong> gibst du bis zu 2 von plentymarkets zertifizierten Dienstleistern Zugriff auf bestimmte Bereiche des Systems. Du ermöglichst damit einer Design-Agentur und/oder einem Consultant folgende Arbeiten in deinem plentymarkets System:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Dienstleister kann bei Arbeiten am Design den Cache löschen oder temporär deaktivieren, um effektiver zu arbeiten.</p>
</li>
<li>
<p>Deine Support-Tickets können auch von dem Dienstleister eingesehen und beantwortet werden. So ist eine direkte Kommunikation zwischen den Dienstleister und den plentymarkets Support-Mitarbeitern möglich. Du kannst den Kommunikationsverlauf natürlich weiterhin mitverfolgen.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="450">7.1. Zertifizierten Dienstleistern Zugriff gewähren</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um der Agentur und/oder dem Consultant, mit denen du zusammenarbeitest, Zugriff auf die oben genannten Bereiche deines Systems zu gewähren:</p>
</div>
<div class="paragraph instruction">
<p>Dienstleister zuweisen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br>
→ Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue <strong>Plus</strong> des Systems.<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Ihre Agentur</strong>.</p>
</li>
<li>
<p>Wähle die Agentur und/oder den Consultant, mit denen du zusammenarbeitest und denen du Zugriff gewähren möchtest, aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Dienstleister sind mit dem System verknüpft und erhalten Zugriff auf die oben genannten Bereiche.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="460">7.2. Ansicht für Agenturen</h3>
<div class="paragraph">
<p>Nachdem du der Agentur die Freigabe erteilt hast, hat die Agentur über dein System Zugriff auf die folgenden Informationen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Tab <strong>Übersicht</strong>: Die Agentur sieht den Inhalt, der auch dir im Service-Center im Tab <strong>Systeme</strong> und dort im Tab <strong>Übersicht</strong> angezeigt wird.</p>
</li>
<li>
<p>Tab <strong>Vertrag</strong>: Dein aktueller Tarif wird angezeigt, die Dienstleister können jedoch keine Änderungen vornehmen.</p>
</li>
<li>
<p>Tab <strong>Cache</strong>: Die Dienstleister können den Cache löschen oder temporär deaktivieren.</p>
</li>
<li>
<p>Tab <strong>Tickets</strong>: Die Dienstleister sehen den Inhalt, der auch dir im Bereich <strong>Mein Konto</strong> unter <strong>Tickets</strong> angezeigt wird. Mitarbeiter können Tickets erstellen oder auf bestehende Tickets antworten.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="470">8. Hosting-Daten verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenvolumen und der zulässige Traffic sind je nach Vertrag limitiert. Überschreitungen werden separat in Rechnung gestellt. plentymarkets bietet dir daher die Möglichkeit, deinen Verbrauch jederzeit nachzuvollziehen.</p>
</div>
<div class="sect2">
<h3 id="480">8.1. Verbrauchsdaten anzeigen</h3>
<div class="paragraph">
<p>Die Verbrauchsdaten werden im Menü <strong>plentymarkets Logo (Start) » Hosting » Tab: Verbrauch</strong> angezeigt. <a href="#tabelle-konto-verbrauchsdaten">Tabelle 7</a> bietet einen Überblick der in diesem Menü angezeigten Daten zu deinem Verbrauch.</p>
</div>
<table id="tabelle-konto-verbrauchsdaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Angezeigte Verbrauchsdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Daten</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Monat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verbrauchsmonat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webspace gesamt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speicherplatz, der in diesem Monat maximal im Webspace belegt war, in GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webspace Dokumente</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speicherplatz, der in diesem Monat maximal durch Dokumente im Webspace belegt war, in GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Traffic</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Traffic in GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenbank-Volumen, das in diesem Monat maximal belegt war, in GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facettensuchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der im Webshop durchgeführten Facettensuchen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel in Facettensuche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Artikel in der Facettensuche</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="490">8.2. Wissenswertes zum Thema Traffic</h3>
<div class="paragraph">
<p>Traffic entsteht, wenn Personen deinen Webshop besuchen und dort zum Beispiel Artikel anklicken, Bilder vergrößern oder Dateien herunterladen.</p>
</div>
<div class="paragraph">
<p>Zusätzlicher Traffic entsteht außerdem in den folgenden Fällen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beim Austausch von Daten mit Marktplätzen.</p>
</li>
<li>
<p>Bei REST-Abfragen, da bei diesen Abfragen Verbindungen zum Server aufgebaut werden.<br>
<strong><em>Tipp:</em></strong> Je nach Art der Abfrage ist das Datenvolumen beträchtlich. Optimiere daher deine Calls, indem du zum Beispiel nicht ständig alle Bestände abfragen, sondern die Abfrage auf Änderungen beschränkst.</p>
</li>
<li>
<p>Beim Scannen deiner Website durch <a href="http://de.wikipedia.org/wiki/Webcrawler" target="_blank" rel="noopener">Bots</a>. Diese Bots speichern deine Seiten, wodurch Traffic entsteht. Wenn zum Beispiel der Google-Bot deine Seite erfasst hat, werden bei einer Google-Suche Artikel aus deinem Shop mit Beschreibung etc. angezeigt. Wann solche Bots deine Seite besuchen, ist nicht vorhersehbar, da Bots nach proprietären Algorithmen gesteuert werden.<br>
<strong><em>Tipp:</em></strong>  Um dieses Verhalten von Bots zumindest teilweise zu steuern, kannst du die <a href="/webshop/webshop-einrichten/cms-syntax#fallbeispiele-seo-guide">Sperrung von Bots</a> per robots.txt-Datei veranlassen.</p>
</li>
<li>
<p>Bei Erweiterungen deines Sortiments und damit einer Vergrößerung des Bild- und Datenaufkommens. Dadurch werden mehr Bots auf deine Seite aufmerksam.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">9. Umzug des Systems veranlassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>plentymarkets Logo (Start) » Umzug</strong> beauftragst du einen kostenlosen Umzug deines Systems in eine andere Cloud. Im Menü <strong>Umzug</strong> werden außerdem der Status eines bereits geplanten Umzugs und Informationen zum zuletzt durchgeführten Umzug aufgeführt. Weitere Informationen zu den <a href="http://www.plentymarkets.eu/produkt/cloud-hosting/">Cloud-Lösungen von plentymarkets</a> findest du auf unserer Website.</p>
</div>
<div class="sect2">
<h3 id="510">9.1. Voraussetzungen für einen Systemumzug</h3>
<div class="paragraph">
<p>Stelle sicher, dass die folgenden Voraussetzungen erfüllt sind, bevor du einen Umzug deines Systems in eine andere Cloud planst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du verfügst über einen aktuellen plentymarkets Cloud Vertrag. Wenn du keinen plentymarkets Cloud Vertrag hast, passe deinen <a href="http://www.plentymarkets.eu/preise/plentymarkets-classic-buchen/">Vertrag</a> an.</p>
</li>
<li>
<p>Der Termin für den Start des Systemumzugs liegt mindestens 2 Tage in der Zukunft.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Dateien auf FTP-Server werden nicht migriert</div>
<div class="paragraph">
<p>Beim Umzug in eine andere Cloud ändert sich auch die FTP-Host-Adresse des plentymarkets Systems. Die Daten auf dem alten FTP-Host werden beim Umzug nicht zur neuen FTP-Hostadresse kopiert. Du musst die FTP-Dateien selbst umziehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">IP-Adresse bei externem Domain-Provider anpassen</div>
<div class="paragraph">
<p>Durch den Umzug ändert sich die IP-Adresse des Systems. Wenn du deine Domain durch einen externen Provider verwalten lässt, musst du nach dem Umzug die neue IP-Adresse bei deinem externen Domain-Provider speichern, damit dein Webshop weiterhin erreichbar ist. plentymarkets hat keinen Zugriff auf die Daten deiner externen Domain und kann diese Änderung daher nicht für dich vornehmen. Informationen dazu, wie du die neue IP-Adresse beim Domain-Provider speicherst, findest du in der Dokumentation des Providers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="520">9.2. Umzug planen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um einen Umzug deines Systems in eine andere Cloud zu planen. Beachte, dass pro Cloud nicht mehr als ein Systemumzug zeitgleich stattfindet. Der tatsächliche Zeitpunkt, zu dem dein Umzug gestartet wird, kann sich daher verzögern.</p>
</div>
<div class="paragraph instruction">
<p>Umzug planen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Umzug</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.<br></p>
</li>
<li>
<p>Wechsele in das Tab <strong>Umzug</strong>.</p>
</li>
<li>
<p>Wähle die Ziel-Cloud, also die Cloud, in die du dein System umziehen möchtest.<br>
→ Die Kosten für die Ziel-Cloud werden angezeigt.</p>
</li>
<li>
<p>Wähle das Datum, an dem der Systemumzug starten soll.</p>
</li>
<li>
<p>Wähle die Uhrzeit, zu der der Systemumzug starten soll.<br>
<strong><em>Hinweis:</em></strong> Der Termin für den Start des Systemumzugs muss mindestens 2 Tage in der Zukunft liegen.</p>
</li>
<li>
<p>Klicke auf <strong>Umzug starten</strong>, um den Umzug in Auftrag zu geben.<br>
→ Der geplante Umzug wird im Tab <strong>Geplanter Umzug</strong> angezeigt und zu diesem Zeitpunkt gestartet.<br>
<strong><em>Hinweis:</em></strong> Pro Cloud findet nicht mehr als ein Systemumzug zeitgleich statt. Der tatsächliche Zeitpunkt, zu dem dein Umzug gestartet wird, kann sich daher verzögern.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Shop-Verfügbarkeit</div>
<div class="paragraph">
<p>Bei mittelgroßen Systemen dauert ein Umzug erfahrungsgemäß ca. 20 Minuten. Die tatsächliche Dauer ist jedoch immer von der zu übertragenden Datenmenge des Systems abhängig. Während dieser Zeit ist dein plentymarkets System verfügbar, du können jedoch keine Änderungen im System speichern. Auch der Bestellvorgang in deinem Webshop ist deaktiviert, während der Umzug durchgeführt wird. Wähle daher eine Uhrzeit, zu der mit wenig Traffic zu rechnen ist. Wir empfehlen dir, den Umzug für die Nachtstunden zu planen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="530">9.3. Geplanten Umzug abbrechen</h3>
<div class="paragraph">
<p>Du kannst einen geplanten Umzug so lange abbrechen, bis alle Vorgänge, die im Menü <strong>plentymarkets Logo (Start) » Umzug » Tab: Geplanter Umzug</strong> angezeigt werden, vollständig abgeschlossen sind. Dabei wird der Umzug zum nächstmöglichen Zeitpunkt abgebrochen, also unter Umständen nicht sofort. Gehe wie unten beschrieben vor, um einen geplanten Umzug abzubrechen.</p>
</div>
<div class="paragraph instruction">
<p>Umzug abbrechen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Umzug</strong>.<br>
<strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Geplanter Umzug</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Umzug abbrechen</strong>.<br>
→ Der Umzug wird zum nächsten möglichen Zeitpunkt abgebrochen. Bereits abgeschlossene Vorgänge werden zurück in die bisherige Cloud gezogen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn alle Vorgänge bereits abgeschlossen, also das System komplett umgezogen wurde, musst du einen neuen Umzug beauftragen, um dein System zurück in die bisherige Cloud zu ziehen.</p>
</div>
</div>
</div>
</div>
</main>