<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating a category for the item template</span></a></li>
<li><a href="#200"><span>2.</span><span> Linking items with the template category</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Linking the template with one item</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Linking the template with multiple items</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.</span><span> Deploying the plugin</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item templates (not recommended)</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">ShopBuilder has replaced the item templates</div>
<div class="paragraph">
<p>It’s technically possible to use item templates with the Ceres webshop.
However, we don’t recommend doing so for two reasons:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item templates overwrite your “normal” product pages and are therefore not particularly useful in real life situations.</p>
</li>
<li>
<p>This procedure is more complicated than <a href="https://vimeo.com/360260315">designing product pages with ShopBuilder</a> (see German video starting from minute 12:17).</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can use item templates to design your webshop’s product pages.
You’ll proceed as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create a new category of the type “Content” and insert HTML code into the “Template” tab.</p>
</li>
<li>
<p>Link the desired items to this category.</p>
</li>
<li>
<p>Finally, deploy the Ceres plugin.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating a category for the item template</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Category</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New category</strong>.<br>
→ The <strong>Create new category</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the category.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-save  "></i></span> <strong>Create</strong>.<br>
→ The category is created and displayed in the directory tree on the left.</p>
</li>
<li>
<p>Click on this category’s <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Select the type <strong>Content</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Click on the tab <strong>Template</strong> and insert HTML code. This is the template.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Linking items with the template category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve created the item template, you’ll link this template with the desired items.
You can either link the template with one single item or with several items at once.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Linking the template with one item</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the item.</p>
</li>
<li>
<p>Click on the <strong>Texts</strong> tab in the upper row.</p>
</li>
<li>
<p>Scroll down to the option <strong>Item template</strong>.</p>
</li>
<li>
<p>Click on <strong>Assign category</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).<br>
→ The <strong>Select item template</strong> window opens.</p>
</li>
<li>
<p>Click on the category of the type “Content”.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Select</strong>.<br>
→ The template will be linked to the item.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Linking the template with multiple items</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Item</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the items to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Item group function</strong>.<br>
→ The <strong>Item group function</strong> window opens.</p>
</li>
<li>
<p>Link the item template. To do so:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Search for the <strong>Item template</strong> option in the <strong>Global</strong> area.</p>
</li>
<li>
<p>Click on the check box (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to the left of this option.</p>
</li>
<li>
<p>Click on <strong>Assign category</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) to the right of this option.<br>
→ The <strong>Select item template</strong> window opens.</p>
</li>
<li>
<p>Click on the category of the type “Content”.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Select</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong>.<br>
→ The template will be linked to all of the selected items.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">3. Deploying the plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/welcome/quick-start/quick-start-online-store#270">Deploy the Ceres plugin</a> and check what the template looks like in your webshop.
Keep in mind that item templates overwrite your “normal” product pages and are therefore not particularly useful in real life situations.</p>
</div>
</div>
</div>
</main>