<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Have you activated the variation?</span></a></li>
<li><a href="#200"><span>2.</span><span> Is a sales price linked to the variation?</span></a></li>
<li><a href="#300"><span>3.</span><span> Is a category linked to the variation?</span></a></li>
<li><a href="#400"><span>4.</span><span> Is the right client linked to the category?</span></a></li>
<li><a href="#500"><span>5.</span><span> Does the variation have positive net stock?</span></a></li>
<li><a href="#600"><span>6.</span><span> Did you activate the availabilities for the store?</span></a></li>
<li><a href="#700"><span>7.</span><span> Could it be a cache problem?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item isn’t visible</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You’ve already <a href="/en/item/import-export-create/create/new-item">created an item</a> and now you want to see what it looks like in your store. But where is it? Why isn’t it visible?
Work through this checklist and make sure your item meets all of the requirements for being visible in the online store.</p>
</div>
<div class="paragraph">
<p>This checklist helps you find any possible errors that are preventing your items from being displayed. Our example screenshots show the settings as they appear in a default system. Your own settings may differ.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Have you activated the variation?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Variations only become visible in the online store once they have been activated.
In other words, you can work on inactive variations without your customers noticing.
You activate the variation when you’re ready for it to be visible in your store.</p>
</div>
<div class="paragraph instruction">
<p>Activating a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for and open the variation</a>.</p>
</li>
<li>
<p>Find the <strong>Availability</strong> area within the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Select the <strong>Active</strong> option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Item_Active.png" alt="Checklist Item Active">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Is a sales price linked to the variation?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Have you saved a <a href="/en/item/managing-items#240">price for the variation</a>? And have you checked whether the <a href="/en/item/settings/prices">sales price was correctly configured</a>?
Open the menu <strong>Setup » Item » Sales prices</strong> and make sure you’ve configured the following parameters for your online store:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Currency</p>
</li>
<li>
<p>No RRP, special offer or set price</p>
</li>
<li>
<p>Client</p>
</li>
<li>
<p>Customer class</p>
</li>
<li>
<p>Country</p>
</li>
<li>
<p>Referrer</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Is a category linked to the variation?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A variation will only be visible if it’s linked to a <a href="/en/item/online-store/checklist-categories-visibility">category that’s also visible in the online store</a>.</p>
</div>
<div class="paragraph instruction">
<p>Linking a variation to a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for and open the variation</a>.</p>
</li>
<li>
<p>Click on the <strong>Categories</strong> tab.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Link category</strong>.<br>
→ The <strong>Link category</strong> window opens.</p>
</li>
<li>
<p>Select a category or subcategory.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Link category</strong>.<br>
→ The category is linked and displayed in the <strong>Linked categories</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Item_Categories.png" alt="Checklist Item Categories">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Is the right client linked to the category?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With plentymarkets, you can manage several online stores, i.e. <a href="/en/online-store/setting-up-clients">several clients</a>, with only one software. Consequently, it is possible to manage several different areas of business with one plentymarkets system.
That’s a great advantage. But it also means that you’ll always need to tell plentymarkets which online store a variation should appear in.</p>
</div>
<div class="paragraph instruction">
<p>Linking a client to the variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for and open the variation</a>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Choose whichever store (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variation should appear in.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Item_Client.png" alt="Checklist Item Client">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Setting is greyed out? Check the stock level!</div>
<div class="paragraph">
<p>plentymarkets can automatically remove items from the online store if they are no longer in stock. If this happens, then the setting here will be greyed out. Therefore, <a href="/en/item/online-store/checklist-items-visibility#500">check the stock settings</a> as described further below.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Does the variation have positive net stock?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Should a <a href="/en/item/managing-items#200">variation automatically disappear from your online store</a> if it’s no longer in stock?
Decide with the options <strong>Show in online store: Not available automatically if net stock is 0 or negativ</strong> and <strong>Client: Invisible automatically if net stock is 0 or negative</strong>.</p>
</div>
<div class="paragraph">
<p>If you’ve activated one of these options and the variation is no longer in stock, then it will not be visible in your online store. The <a href="/en/item/online-store/checklist-items-visibility#400">client availability settings</a> will also be greyed out.
Reorder the variation to get it back in stock. Alternatively, click on the lock symbol if you want to manually make the variation visible in the online store despite the fact that it’s not in stock.</p>
</div>
<div class="paragraph">
<p>This setting remains valid until new stock is booked for the variation. Once net stock for the variation becomes positive, the availability and visibility settings if net stock is 0 or negative take effect again.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What if you don’t keep track of the stock levels?</div>
<div class="paragraph">
<p>The above information only applies if the variation is limited to net stock.
If you do not manage the stock or if you do not have a limitation, then your variations do not need to have positive net stock.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Did you activate the availabilities for the store?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Usually only two steps are necessary to specify the delivery times for items offered in your online store.
First, you <a href="/en/item/settings/availabilities">define the individual availability levels</a>, e.g. ships within 48 hours, 3-5 business days, etc.
Second, you <a href="/en/item/managing-items#200">link the appropriate availability level to each of your items</a>.</p>
</div>
<div class="paragraph">
<p>The availability levels are activated by default and visible in the online store.
But if an availability level was deactivated for some reason, then products with this availability level will no longer be visible in the online store.
So if an item isn’t visible in your online store, then check to make sure the availability level is activated for the store.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">This setting only affects older systems</div>
<div class="paragraph">
<p>In new systems, this setting is obsolete and is no longer displayed. We recommend that you check whether you have this setting in your system. If so, activate the setting.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating availabilities for the store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>If available, go to <strong>Setup » Client » Select client » Item layouts » Availability</strong>.</p>
</li>
<li>
<p>Press and hold Ctrl or Cmd and select the availability options.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/Checklist_Item_Client-Availabilities.png" alt="Checklist Item Client Availabilities">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Could it be a cache problem?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Even if the variation is configured correctly, it can still take an hour before the item becomes visible in the online store. This is due to the cache.</p>
</div>
</div>
</div>
</main>