<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Requirements</span></a></li>
<li><a href="#200"><span>2.</span><span> Cross-selling links</span></a>
<ul class="sectlevel2">
<li><a href="#250"><span>2.1.</span><span> Manually creating and editing links</span></a>
<ul class="sectlevel3">
<li><a href="#300"><span>2.1.1.</span><span> Creating new links</span></a></li>
<li><a href="#400"><span>2.1.2.</span><span> Copying links</span></a></li>
<li><a href="#500"><span>2.1.3.</span><span> Linking the other way around</span></a></li>
<li><a href="#600"><span>2.1.4.</span><span> Modifying the links at a later time</span></a></li>
</ul>
</li>
<li><a href="#650"><span>2.2.</span><span> Importing links</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.</span><span> Displaying the cross-selling list in the online store</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cross-selling</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In cross-selling, you subtly encourage customers to spend more money.
This is done by offering additional products that relate to the purchased product.
For example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The cashier at a fast food restaurant asks if you want fries with your cheeseburger.</p>
</li>
<li>
<p>The sales person in an electronics store suggests a memory card that would work with the digital camera.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In e-commerce, you can’t directly ask your customers if they want to buy additional products.
However, you can display a list of related items on the product pages in your online store.</p>
</div>
<h3 id="_procedure" class="discrete">Procedure</h3>
<div class="paragraph">
<p>In just three steps, you can generate additional sales through cross-selling:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Make sure your items meet the <a href="/en/item/online-store/cross-selling#100">requirements</a> for cross-selling.</p>
</li>
<li>
<p>Create <a href="/en/item/online-store/cross-selling#200">cross-selling links</a> in plentymarkets.</p>
</li>
<li>
<p>Publish the cross-selling list in your <a href="/en/item/online-store/cross-selling#700">Ceres webshop</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following requirements have to be met in order for direct cross-selling items to be displayed in your online store:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/online-store/checklist-categories-visibility">The cross-selling item’s category must be activated</a>.</p>
</li>
<li>
<p><a href="/en/item/online-store/checklist-items-visibility">The item must be visible in the online store</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Cross-selling links</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are a few different ways to create and edit cross-selling links.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can <a href="/en/item/online-store/cross-selling#250">manually create and edit</a> the links directly within an item data record.</p>
</li>
<li>
<p>You can enter information about the cross-selling links into a CSV file and then <a href="/en/item/online-store/cross-selling#650">import this file into plentymarkets</a>.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="250">2.1. Manually creating and editing links</h3>
<div class="sect3">
<h4 id="300">2.1.1. Creating new links</h4>
<div class="paragraph">
<p>Which items should be linked together? You can link an item to any number of other products from your portfolio. For example, imagine you want to link a guitar to a pack of replacement strings, a song book and a guitar strap.</p>
</div>
<div class="paragraph instruction">
<p>Linking a main item to accessories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the main item, e.g. the guitar.</p>
</li>
<li>
<p>Open the tab <strong>Cross-selling » Add item(s)</strong>.</p>
</li>
<li>
<p>Search for items again in this tab.</p>
</li>
<li>
<p>Select all the accessories (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should be linked to the main item, e.g. select the replacement strings, the song book and the guitar strap.</p>
</li>
<li>
<p>Click on the appropriate relationship (<span class="icon green"><i class="fa fa-cubes  "></i></span>). Note <a href="#table-cross-selling-relationship">Table 1</a>.<br>
→ The links will be created and they <a href="/en/item/online-store/cross-selling#600">can be changed any time</a>.</p>
</li>
</ol>
</div>
<table id="table-cross-selling-relationship" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Cross-selling relationships</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add to selection</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option if you want to <a href="/en/item/online-store/cross-selling#500">link the other way around</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Similar</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The selected items are similar to the opened item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Accessory</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The selected items are accessories of the opened item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Replacement part</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The selected items are replacement parts for the opened item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item bundle</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The selected items are suitable to be sold as a bundle together with the opened item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Copy</strong> (<span class="icon yellow"><i class="psicon-copy"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/online-store/cross-selling#400">Copies the cross-selling links</a> and applies them to other main items.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="400">2.1.2. Copying links</h4>
<div class="paragraph">
<p><a href="/en/item/online-store/cross-selling#300">The instructions above</a> taught you how to link <em>one main item</em> to several accessories or replacement parts.
For example, how to link a guitar to a pack of replacement strings, a song book and a guitar strap.</p>
</div>
<div class="paragraph">
<p>But what if you have 50 other guitars that should <em>also</em> have these cross-selling items? It will take forever to manually link every single item.</p>
</div>
<div class="paragraph">
<p>Instead, copy the existing cross-selling links from the first main item and apply them to all 50 other main items simultaneously.</p>
</div>
<div class="paragraph instruction">
<p>Copying cross-selling links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the previously linked main item, e.g. the first guitar.</p>
</li>
<li>
<p>Open the tab <strong>Cross-selling » Add item(s)</strong>.</p>
</li>
<li>
<p>Search for items again in this tab.</p>
</li>
<li>
<p>Select all of the main items (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should also have these links, e.g. the 50 other guitars.</p>
</li>
<li>
<p>Click on the copy symbol (<span class="icon yellow"><i class="psicon-copy"></i></span>).<br>
→ The links of the opened item are transferred to all of the selected items.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="500">2.1.3. Linking the other way around</h4>
<div class="paragraph">
<p><a href="/en/item/online-store/cross-selling#300">The instructions above</a> taught you how to link <em>one main item</em> to several accessories or replacement parts.
For example, how to link a guitar to a pack of replacement strings, a song book and a guitar strap.</p>
</div>
<div class="paragraph">
<p>But it’s also possible to link <em>one replacement part</em> to several main items. For example, to link a pack of replacement strings to several different guitars.
The procedure is nearly identical to the instructions above.</p>
</div>
<div class="paragraph">
<p>First, search for and open the replacement strings. Then click on the tab <strong>Cross-selling » Add item(s)</strong> and search for all of the guitars.
Finally, check the option <strong>Add to selection</strong> and then click on the appropriate relationship.</p>
</div>
</div>
<div class="sect3">
<h4 id="600">2.1.4. Modifying the links at a later time</h4>
<div class="paragraph">
<p>Once you’ve <a href="/en/item/online-store/cross-selling#300">created a cross-selling link</a>, you’ll see it in an overview within the item data record.
In other words, you’ll see which accessories or replacement parts were linked to a particular main item.
The links can be modified or deleted any time.</p>
</div>
<div class="paragraph instruction">
<p>Modifying or deleting cross-selling links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the main item.</p>
</li>
<li>
<p>Open the tab <strong>Cross-selling » Cross-selling items</strong>.<br>
→ You will see a list of all the accessories or replacement parts that were linked to this item.</p>
</li>
<li>
<p><strong><em>Modify</em></strong>: Choose a different relationship from the drop-down list.</p>
</li>
<li>
<p><strong><em>Delete</em></strong>: Select all of the items that should be deleted (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and click on <strong>Delete link</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="650">2.2. Importing links</h3>
<div class="paragraph">
<p>Would you prefer to <em>import</em> cross-selling links, rather than <a href="/en/item/online-store/cross-selling#250">create them manually</a>?</p>
</div>
<div class="paragraph">
<p>plentymarkets has an <a href="/en/data/importing-data/ElasticSync">import tool</a>.
The idea is simple. Rather than manually saving cross-selling links in plentymarkets, you’ll <a href="/en/data/importing-data/sync-types/elasticSync-item#2310">enter the same information into a CSV file</a> and then import this file into your system.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">3. Displaying the cross-selling list in the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use <em>ShopBuilder</em> and so-called <em>item lists</em> to display cross-selling items in your Ceres webshop.
This video provides a short demonstration (German only).</p>
</div>
<div class="videoblock">
<div class="title">Displaying the cross-selling list in the online store</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/360260315#t=9m30s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
</main>