<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Creating cross-selling links</span></a></li>
<li><a href="#600"><span>2.</span><span> Modifying or deleting existing links</span></a></li>
<li><a href="#700"><span>3.</span><span> Publishing the cross-selling list in the plentyShop</span></a>
<ul class="sectlevel2">
<li><a href="#750"><span>3.1.</span><span> Creating content of the type “Item view”</span></a></li>
<li><a href="#800"><span>3.2.</span><span> Adding the widget</span></a></li>
<li><a href="#850"><span>3.3.</span><span> Customising the text and appearance</span></a></li>
<li><a href="#900"><span>3.4.</span><span> Activating the content</span></a></li>
</ul>
</li>
<li><a href="#950"><span>4.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cross-selling</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In cross-selling, you subtly encourage customers to spend more money.
This is done by offering additional products that relate to the purchased product.
For example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The cashier at a fast food restaurant asks if you want fries with your cheeseburger.</p>
</li>
<li>
<p>The sales person in an electronics store suggests a memory card that would work with the digital camera.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In e-commerce, you can’t directly ask your customers if they want to buy additional products.
However, you can display a list of related items on the product pages in your plentyShop.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/cross-selling.png" alt="cross selling">
</div>
</div>
<h3 id="_procedure" class="discrete">Procedure</h3>
<div class="paragraph">
<p>In just two steps, you can generate additional sales through cross-selling:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/online-store/cross-selling#200">Create cross-selling links</a>.</p>
</li>
<li>
<p><a href="/en/item/online-store/cross-selling#700">Publish the cross-selling list in the plentyShop</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Creating cross-selling links</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Which items should be linked together?
You can link an item to any number of other products from your portfolio.
For example, imagine you want to link a guitar to a pack of replacement strings, a song book and a guitar strap.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manual-tab" data-toggle="tab" href="#manual" role="tab" aria-controls="manual" aria-selected="true">Manual</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="data-import-tab" data-toggle="tab" href="#data-import" role="tab" aria-controls="data-import" aria-selected="false">Data import</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manual" role="tabpanel" aria-labelledby="manual-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the main item, e.g. the guitar.</p>
</li>
<li>
<p>Open the tab <strong>Cross-selling » Add item(s)</strong>.</p>
</li>
<li>
<p>Search for items again in this tab.</p>
</li>
<li>
<p>Select all the accessories (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should be linked to the main item, e.g. select the replacement strings, the song book and the guitar strap.</p>
</li>
<li>
<p>Click on the appropriate relationship (<span class="icon green"><i class="fa fa-cubes  "></i></span>).<br>
→ The links will be created and they <a href="/en/item/online-store/cross-selling#600">can be changed any time</a>.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="data-import" role="tabpanel" aria-labelledby="data-import-tab">
<div class="paragraph">
<p>Would you prefer to import cross-selling links, rather than create them manually?</p>
</div>
<div class="paragraph">
<p>plentymarkets has an <a href="/en/data/importing-data/ElasticSync">import tool</a>.
The idea is simple. Rather than manually saving cross-selling links in plentymarkets, you’ll <a href="/en/data/importing-data/sync-types/elasticSync-item#2310">enter the same information into a CSV file</a> and then import this file into your system.</p>
</div>
</div></div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Similar</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The selected items are similar to the opened item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Accessory</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The selected items are accessories of the opened item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Replacement part</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The selected items are replacement parts for the opened item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item bundle</strong> (<span class="icon green"><i class="psicon-item_plus"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The selected items are suitable to be sold as a bundle together with the opened item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Copy</strong> (<span class="icon yellow"><i class="psicon-copy"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Copies the cross-selling links and applies them to other main items.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>:
Imagine you don’t just want to link one guitar to a pack of replacement strings, a song book and a guitar strap.
Rather, you have 50 additional guitars that should also have these cross-selling links.
It would take forever to manually link every single item.
Instead, copy the existing cross-selling links from the first main item and apply them to all 50 other main items simultaneously.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the previously linked main item, e.g. the first guitar.</p>
</li>
<li>
<p>Open the tab <strong>Cross-selling » Add item(s)</strong>.</p>
</li>
<li>
<p>Search for items again in this tab.</p>
</li>
<li>
<p>Select all of the main items (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should also have these links, e.g. the 50 other guitars.</p>
</li>
<li>
<p>Click on the copy symbol (<span class="icon yellow"><i class="psicon-copy"></i></span>).<br>
→ The links of the opened item are transferred to all of the selected items.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add to selection</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option if you want to link the other way around.
So for example, if you want to link a replacement part or accessory to a main item.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>:
Imagine you want to link a pack of replacement strings to several different guitars.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the replacement part, e.g. the replacement guitar strings.</p>
</li>
<li>
<p>Open the tab <strong>Cross-selling » Add item(s)</strong>.</p>
</li>
<li>
<p>Search for items again in this tab.</p>
</li>
<li>
<p>Select all of the main items (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should be linked to the replacement part, e.g. select the guitars.</p>
</li>
<li>
<p>Click on <strong>Add to selection</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on the appropriate relationship (<span class="icon green"><i class="fa fa-cubes  "></i></span>).<br>
→ The links will be created and they <a href="/en/item/online-store/cross-selling#600">can be changed any time</a>.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">2. Modifying or deleting existing links</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve <a href="/en/item/online-store/cross-selling#200">created a cross-selling link</a>, you’ll see it in an overview within the item data record.
In other words, you’ll see which accessories or replacement parts were linked to a particular main item.
The links can be modified or deleted any time.</p>
</div>
<div class="paragraph instruction">
<p>Modifying or deleting cross-selling links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the main item.</p>
</li>
<li>
<p>Open the tab <strong>Cross-selling » Cross-selling items</strong>.<br>
→ You will see a list of all the accessories or replacement parts that were linked to this item.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Modify</em></strong>: Choose a different relationship from the drop-down list.</p>
</li>
<li>
<p><strong><em>Delete</em></strong>: Select all of the items that should be deleted (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and click on <strong>Delete link</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">3. Publishing the cross-selling list in the plentyShop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use ShopBuilder and so-called item lists to display cross-selling items in the plentyShop.
This video provides a short demonstration (German only).</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/360260315#t=9m30s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="750">3.1. Creating content of the type “Item view”</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Click on a grey item category on the left.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Add content</strong>.</p>
</li>
<li>
<p>Select the type <strong>Item view</strong>.</p>
</li>
<li>
<p>Enter a name and choose a preset if desired.</p>
</li>
<li>
<p>Click <strong>Create</strong>.<br>
→ The new content is displayed in the overview.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/cross-selling-content.gif" alt="cross selling content">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Preset: pro and con</div>
<div class="paragraph">
<p>We provide a template, which you can modify and adapt to your product portfolio as needed.
Of course, you can also work without a template if you would prefer to design the view from scratch.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="800">3.2. Adding the widget</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the widget <strong>Item » Item list</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> for the widget.<br>
→ The widget settings are displayed on the right.</p>
</li>
<li>
<p>Specify that the widget should be a cross-selling list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/cross-selling-add-widget.gif" alt="cross selling add widget">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item list type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the option <strong>Cross-selling</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-selling relation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What type of cross-selling relationship do you want to display with this widget?
Select the appropriate relationship from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
Only one type of relationship can be displayed per item list.
So if you want to display replacement parts and similar items, for example, then you will need to add two item list widgets to the layout.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="850">3.3. Customising the text and appearance</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> for the widget.<br>
→ The widget settings are displayed on the right.</p>
</li>
<li>
<p>Modify the heading and appearance as needed.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/cross-selling-appearance.gif" alt="cross selling appearance">
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Appearance</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What colour and font should the widget have?
Select the appropriate colour scheme from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
Click on Design (<span class="icon "><i class="psicon-author"></i></span>) to configure the various colour schemes and fonts in advance.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Caption type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What text should be displayed in the heading?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default caption</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option is useful if you want to use the default texts that are already saved in plentymarkets.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
Go to <strong>CMS » Multilingualism » Item</strong> to configure the various default texts in advance.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Own caption</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option is useful if you want to enter your own text.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the option <strong>Own caption</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>.<br>
→ The widget title is outlined in green.</p>
</li>
<li>
<p>Rename the text as needed.</p>
</li>
<li>
<p>Double-click on the text to see a toolbar with formatting options.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No caption</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option if you do not want to display any heading at all.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">3.4. Activating the content</h3>
<div class="paragraph">
<p>In order for the content to be displayed in the plentyShop, it needs to be activated.
Active contents are highlighted in blue.</p>
</div>
<div class="paragraph instruction">
<p>Activating contents:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Click on the appropriate category.</p>
</li>
<li>
<p>Use the toggle button (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>) to activate the content.<br>
→ A pop-up window opens.</p>
</li>
<li>
<p>Decide which items the content should apply to (<span class="icon blue"><i class="fa fa-dot-circle-o  "></i></span>).
For example, you can design the layout differently for each category.</p>
</li>
<li>
<p>Click on <strong>Activate</strong>.<br>
→ The content is activated and is now highlighted in blue.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Only activate one content of the same type</div>
<div class="paragraph">
<p>Within a grey item category, you can create many different contents of the type <strong>Item view</strong>.
The contents can be activated or deactivated as needed.
For example, this allows you to create different pages for each season of the year.
However, only one content of the type “Item view” can be activated simultaneously.
Activating one content automatically deactivates another content of the same type.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="950">4. FAQ</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>My cross-selling item isn’t displayed in the plentyShop. Why?</strong></div>
<div class="content">
<div class="paragraph">
<p>The following requirements have to be met in order for direct cross-selling items to be displayed in the plentyShop:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/online-store/checklist-categories-visibility">The cross-selling item’s category must be activated</a>.</p>
</li>
<li>
<p><a href="/en/item/online-store/checklist-items-visibility">The items must be visible in the plentyShop</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>