<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#60"><span>1.</span><span> Assembling the search bar with widgets</span></a></li>
<li><a href="#65"><span>2.</span><span> Optional: Renaming texts</span></a></li>
<li><a href="#70"><span>3.</span><span> Optional: Which item data should be considered?</span></a></li>
<li><a href="#_optional_changing_languages"><span>4.</span><span> Optional: Changing languages</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Search bar</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You decide what the search bar looks like in the plentyShop and which results it delivers.
For example, you can decide:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Which <a href="/en/item/online-store/search-bar#60">type of search results</a> your customers should see.</p>
<div class="ulist">
<ul>
<li>
<p>Items that match the search term.</p>
</li>
<li>
<p>Categories that match the search term.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Whether customers should see a <a href="/en/item/online-store/search-bar#60">list of suggested search terms</a> when they enter vague or misspelled text.</p>
<div class="ulist">
<ul>
<li>
<p>"Did you mean…​"?</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/en/item/online-store/search-bar#70">Which item data</a> the search term should correspond to, in order for the item to be included in the list of results.</p>
<div class="ulist">
<ul>
<li>
<p>Item name, description, keywords, etc.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/search-results.png" alt="search results">
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Customisable item search for Ceres 5</div>
<div class="paragraph">
<p>It’s possible to customise the front end item search for your <a href="https://marketplace.plentymarkets.com/en/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plentyShop.
Lower versions of Ceres do not support this function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Partial words also get results!</div>
<div class="paragraph">
<p>It’s no big deal if your customer only enters part of a word.
The search suggestions give results for prefixes, suffixes and partial words.
For example, the word "Couch" is suggested even if the customer enters "Couc" or "uch".</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="60">1. Assembling the search bar with widgets</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Open the <a href="/en/online-store/shop-builder#32">header element</a>.</p>
</li>
<li>
<p>Click on the magnifying glass to open the area for search widgets (see GIF).</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Insert a grid with multiple columns.</p>
</li>
<li>
<p>Insert some or all of the following widgets:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Header » Search results: Item</strong></p>
</li>
<li>
<p><strong>Header » Search results: Categories</strong></p>
</li>
<li>
<p><strong>Header » Search suggestions</strong></p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> for each of the widgets and customise the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/searchbar-searchresults.gif" alt="searchbar searchresults">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="65">2. Optional: Renaming texts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can change the texts in the plentyShop to meet your needs.
For example, you could change the text in the search bar from “Items” to “Products”.</p>
</div>
<div class="paragraph instruction">
<p>Renaming texts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>Choose a source language and a target language from the drop-down lists.<br>
<strong><em>Note</em></strong>: You can select the same language from both lists.</p>
</li>
<li>
<p>Expand the area <strong>Ceres » Item search</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Rename the text on the right side.<br>
<strong><em>Example</em></strong>: Find the field <strong>ITEMSEARCHPRODUCTS</strong> and change the text from "Items" to "Products".</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p><a href="/en/welcome/quick-start/quick-start-online-store#270">Deploy the Ceres plugin</a> to apply the changes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">3. Optional: Which item data should be considered?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You decide <em>which item data</em> is relevant to the search function.
During a search, only the item data that you selected will be queried.
You also decide <em>how heavily weighted</em> each piece of item data should be.
The higher the number entered, the higher the item data field will be prioritised in the search result.</p>
</div>
<div class="paragraph instruction">
<p>Choosing and prioritising item data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Search settings</strong>.</p>
</li>
<li>
<p>Activate the item data fields (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) that should be included in the search results and search suggestions.</p>
</li>
<li>
<p>If needed, enter a value into the <strong>Boost</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Which boost value should I enter?</div>
<div class="paragraph">
<p>You can enter any number as a boost value.
The default settings are appropriate in most cases.
These default settings prioritise the variation ID and the item ID.
So if someone searches for a number in your plentyShop, then the search results will give priority to these ID fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s the difference between search results and search suggestions?</div>
<div class="ulist">
<ul>
<li>
<p>Search results are the items or categories that match the search term.</p>
</li>
<li>
<p>Search suggestions are similar words to whatever terms the customer entered.
Search suggestions help customers find what they’re looking for, even if they enter vague or misspelled text.
"Did you mean…​"?</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: If you activate an item data field for the search suggestions on the right, then the field will automatically be activated for the search results on the left too. Why? Otherwise you would be suggesting customers to use a search term that doesn’t deliver any results.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_optional_changing_languages">4. Optional: Changing languages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The search function can be activated for up to three languages.
The languages German, English and French are activated by default.
If you run plentyShops in other languages, you can select different languages.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Search index is completely rebuilt after any changes</div>
<div class="paragraph">
<p>If you change the language settings, the search index is completely rebuilt.
That means that all items are added to the index again from scratch.
Depending on how many items you have, this process can take several days.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Changing the languages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Search » Frontend » Languages</strong>.</p>
</li>
<li>
<p>Activate or deactivate languages as needed (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).<br>
<strong><em>Note</em></strong>: Only three languages can be activated per system at the same time.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The items are added to the search index for the activated languages.</p>
</li>
</ol>
</div>
</div>
</div>
</main>