<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#300"><span>1.</span><span> Which items are part of the special?</span></a>
<ul class="sectlevel2">
<li><a href="#350"><span>1.1.</span><span> Manual selection</span></a></li>
<li><a href="#400"><span>1.2.</span><span> Automatic selection</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Appearance in the plentyShop</span></a>
<ul class="sectlevel2">
<li><a href="#520"><span>2.1.</span><span> Renaming the default texts</span></a></li>
<li><a href="#540"><span>2.2.</span><span> Special offer vs. % savings</span></a></li>
</ul>
</li>
<li><a href="#570"><span>3.</span><span> Frequently Asked Questions (FAQ)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Store specials</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Do you want to highlight specific items in your plentyShop?
For example, do you want to label new products, special offers or best sellers on the category page?
Store specials help you do just that.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/store-special.png" alt="store special">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">1. Which items are part of the special?</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="350">1.1. Manual selection</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the item that should be included in the store special.</p>
</li>
<li>
<p>Click on the <strong>Global</strong> tab.</p>
</li>
<li>
<p>Find the <strong>Online store</strong> area. Use the <strong>Store special</strong> drop-down list to specify whether you want to call this item a special offer, a new item or a top item.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Other ways to select items</div>
<div class="paragraph">
<p>The instructions above are useful if you only want to select <em>a few items</em>.
But what if you need to edit hundreds of items?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/import-export-create/create/mass-processing">Item group function or batch processing</a>:
Find the area <strong>Multi-Channel</strong>.
Activate the option <strong>Online store special</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and select the appropriate store special from the drop-down list.</p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item#20">Import</a>: Use the mapping field <strong>Item / Store special</strong>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">1.2. Automatic selection</h3>
<div class="paragraph">
<p>Rather than manually selecting items, you can have them automatically added to the store special, e.g. when the price drops.
This is done with the procedure manager.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Procedures</strong>.</p>
</li>
<li>
<p>Click on the <strong>New procedure</strong> tab.</p>
</li>
<li>
<p>Select the procedure <strong>Link items to an online store special</strong>.</p>
</li>
<li>
<p>Configure the settings for the procedure manager.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<h4 id="_settings" class="discrete">Settings</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a meaningful name.
This is an internal name. It is not visible to customers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Execute every day at</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose a time when the procedure should be carried out each day.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place a check mark (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) once you’re ready for the procedure to take effect. In other words, leave this option deactivated until you’ve finished configuring the settings.</p></td>
</tr>
</tbody>
</table>
<h4 id="_filter" class="discrete">Filter</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items will automatically be added to the store special if their prices match the criteria specified here. For example, you can link all items that have a higher RRP than regular price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Online store</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should items only be included in the store special if they are visible in the plentyShop? Use the drop-down list to tell plentymarkets your choice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active items only</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you only want <a href="/en/item/managing-items#200">active items</a> to be added to the store special. Inactive items will not be linked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an availability level from the drop-down list if you only want <a href="/en/item/managing-items#200">items with this availability level</a> to be included in the store special.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1;<br>
Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose one or two flags if you only want <a href="/en/item/settings/flags#300">items with these flags</a> to be included in the store special.</p></td>
</tr>
</tbody>
</table>
<h4 id="_procedure" class="discrete">Procedure</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store special</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the items be called special offers, new items or top items? All of the items that match the filter criteria will automatically be given this designation in the <strong>Global</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category (Item)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the items automatically be sorted into a particular category? If so, choose this category from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete category (Item)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the items automatically be removed from a particular category? If so, choose this category from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Appearance in the plentyShop</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="520">2.1. Renaming the default texts</h3>
<div class="paragraph">
<p>You can change the texts to meet your needs.
For example, you could change the text from “Top item” to “Best seller”.</p>
</div>
<div class="paragraph instruction">
<p>Renaming texts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>Choose a source language and a target language from the drop-down lists.<br>
<strong><em>Note</em></strong>: You can select the same language from both lists.</p>
</li>
<li>
<p>Expand the area <strong>Ceres » Store specials</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Rename the text on the right side.<br>
<strong><em>Example</em></strong>: Find the field <strong>STORESPECIALTOP</strong> and change the text from “Top item” to “Best seller”.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
<li>
<p><a href="/en/welcome/quick-start/quick-start-online-store#270">Deploy the Ceres plugin</a> to apply the changes.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="540">2.2. Special offer vs. % savings</h3>
<div class="paragraph">
<p>The following applies to <strong>Special offers</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the item does not have an <a href="/en/item/settings/prices#200">RRP</a>, then the text will be displayed (right).</p>
</li>
<li>
<p>If the item has an <a href="/en/item/settings/prices#200">RRP</a>, then the savings will be displayed as a percentage (left).</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/online-store/assets/store-special-offer-percentage.png" alt="store special offer percentage">
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="570">3. Frequently Asked Questions (FAQ)</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Can I rename the texts? I don’t like “Special offer”, “New item” and “Top item”.</strong></div>
<div class="content">
<div class="paragraph">
<p>Yes.
You can change the texts to meet your needs.
For example, you could change the text from “Top item” to “Best seller”.
<a href="/en/item/online-store/store-specials#520">Further information</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Can I highlight individual variations or only entire items?</strong></div>
<div class="content">
<div class="paragraph">
<p>Store specials can only be used to highlight <a href="/en/item/introduction/structure">entire items</a>.
Store specials <em>can not</em> be applied to individual variations.</p>
</div>
<div class="paragraph">
<p><strong><em>Possible workaround</em></strong>:
Would you consider using tags instead?
Tags are buzz words or phrases that you can use to highlight specific variations.
However, in contrast to store specials, tags <em>do not</em> appear on the category page.
Rather, they appear in the product details page or in an item list.</p>
</div>
<div class="paragraph">
<p>There are three steps to the process:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/flags#500">Create the tags</a> that you want to use for your variations, e.g. “Collector’s item”.
During the process, select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the availability <strong>Variation</strong> and the appropriate clients.</p>
</li>
<li>
<p><a href="/en/item/managing-items#268">Link your variations to the tags</a>.
For example, give rare variations the “Collector’s item” tag.</p>
</li>
<li>
<p><a href="/en/online-store/shop-builder#_item_list">Create an item list</a> to display the tagged variations in your plentyShop.
Don’t forget to specify the ID for your “Collector’s item” tag.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>