<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information"><span>1.</span><span> General information</span></a></li>
<li><a href="#_registration"><span>2.</span><span> Registration</span></a></li>
<li><a href="#_configuration"><span>3.</span><span> Configuration</span></a></li>
<li><a href="#_example_of_use"><span>4.</span><span> Example of use</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>bit.ly</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Settings » Services » bit.ly</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information">1. General information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The online service <strong>bit.ly</strong> gives you the possibility of shortening long URLs on its website. If you saved a valid configuration for the URL shortening service, bit.ly, then the URLs that plentymarkets automatically generates for tweets on <strong><a href="/en/omni-channel/online-store/extras/twitter">Twitter</a></strong> (chapter 4) will be directly shortened.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_registration">2. Registration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you don’t have a bit.ly account yet, then go to the website and <a href="https://bitly.com/a/sign_in" target="_blank" rel="noopener"><strong>sign up</strong></a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuration">3. Configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to set up bit.ly in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Setting up bit.ly:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Services » bit.ly</strong>.</p>
</li>
<li>
<p>Enter your user name under <strong>Login</strong>.</p>
</li>
<li>
<p>Enter the API key that you received from bit.ly under <strong>API key</strong>.<br>
→ If you are logged into bit.ly, then you will find the API key <a href="http://bit.ly/a/your_api_key" target="_blank" rel="noopener"><strong>here</strong>.</a></p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-store--Global-Settings-Services-bit-ly-01.png" alt="EN Settings Client store  Global Settings Services bit ly 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: saving bit.ly access data</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_example_of_use">4. Example of use</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This service for shortening URLs is e.g. used for automatic tweets that are generated via the <a href="/en/omni-channel/online-store/extras/live-shopping#100"><strong>Procedure manager</strong></a>. In this case, the URLs of the category pages will automatically be shortened, e.g. for the <strong>Tweet live shopping offers</strong> procedure. This way, more characters will be left for the rest of the message.</p>
</div>
</div>
</div>
</main>