<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_information_about_cliplister"><span>1.</span><span> Information about Cliplister</span></a></li>
<li><a href="#_configuration"><span>2.</span><span> Configuration</span></a>
<ul class="sectlevel2">
<li><a href="#_clip_languages"><span>2.1.</span><span> Clip languages</span></a></li>
<li><a href="#_motion_picture_rating"><span>2.2.</span><span> Motion picture rating</span></a></li>
<li><a href="#_player_in_the_item_layout"><span>2.3.</span><span> Player in the item layout</span></a></li>
</ul>
</li>
<li><a href="#_inserting_the_template_function"><span>3.</span><span> Inserting the template function</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Cliplister</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Select client » Services » Cliplister</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_information_about_cliplister">1. Information about Cliplister</h2>
<div class="sectionbody">
<div class="paragraph">
<p><em>*Cliplister*</em> offers shop owners a variety of <em>*product-related video clips*</em>. Along with <em>*item descriptions*</em> and <em>*pictures*</em>, these provide an additional impression of the product. This offers several advantages for your online store: Increased attention from visitors, optimized product presentation, precise product information, a lasting increase in conversion and a strengthening of your market presence.</p>
</div>
<div class="paragraph">
<p>This page contains information about the Cliplister video settings that are available for your individual clients (stores). Before carrying out the configuration, you have to activate Cliplister in the menu <a href="/en/omni-channel/online-store/extras/cliplister">System » Client » Settings » Services » Cliplister</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuration">2. Configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The settings available for Cliplister are described below. The configuration has to be carried out <em>*individually for each client (store)<strong></strong></em><strong>. This allows you to save different settings for the *Language</strong>, <strong>Motion picture rating</strong> and <strong>Player in the item layout</strong> for your individual clients (stores).</p>
</div>
<div class="sect2">
<h3 id="_clip_languages">2.1. Clip languages</h3>
<div class="paragraph">
<p>Image 1 shows an overview of all the <strong>languages</strong> that Cliplister currently uses for categorizing its clips.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Cliplister-01-SI.png" alt="EN Settings Client Standard Services Cliplister 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: configuring *languages*</em></p>
</div>
<div class="paragraph">
<p><strong>Basic rules for configuring the languages:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The <em>*order that the languages are listed in plays a significant role*</em>, i.e.: when searching for item clips, Cliplister will give priority to a language that is ranked higher up in the list.</p>
</li>
<li>
<p>The only clips that will be taken into consideration in the search are the ones that are in the <em>*marked*</em> languages.</p>
</li>
<li>
<p>If no value was saved, then the default setting <strong>Layout language / Universally understandable / English</strong> will be used.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In the example in image 1, the <em>*combination of the order and the marking*</em> results in Cliplister primarily searching for clips in the layout language. If Cliplister does not find any clips in the layout language, then universally understandable clips will be used. If no universally understandable clips are available, then English clips will be searched for.</p>
</div>
<div class="paragraph instruction">
<p>Configuring languages</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Cliplister</strong> (see path above).</p>
</li>
<li>
<p>Sort all of the <strong>languages</strong> that you want to activate in the order of the priority that you want them to have. To do so, click on a language and position it using the <strong>yellow arrows</strong> to the right.</p>
</li>
<li>
<p>Click on a <strong>language</strong> you want to activate.</p>
</li>
<li>
<p>In order to select multiple languages, hold down the <strong>Ctrl key</strong> (Windows) or the <strong>Apple key</strong> (MacOS) and click on all the <strong>languages</strong> you want to activate.</p>
</li>
<li>
<p>In order to display clips in all languages, place a check mark next to <strong>Activate all languages</strong>. Any previous selection made in the list will be ignored if you select this option.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Useful language configuration</div>
<div class="paragraph">
<p>It is recommended that you give the highest ranking to the entry <strong>Layout language</strong>. This gives preference to the customer’s own language, i.e. the language in which he or she is viewing your online store. Clips marked <strong>Universally understandable</strong> are ones that do not use any language at all or are ones that Cliplister categorizes as being intelligible for all people. For a multilingual store, it would make sense to set up a language configuration by activating <strong>Layout language</strong>, <strong>Universally understandable</strong> and <strong>English</strong> (in this order).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_motion_picture_rating">2.2. Motion picture rating</h3>
<div class="paragraph">
<p>Here you enter an age setting that is equivalent to the <em>*motion picture rating value*</em> and thus limits the clips that will be shown in the online store. Enter a whole number or place a check mark next to <strong>The item’s motion picture rating</strong> in order to use the motion picture rating saved for the individual item (see image 2).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Cliplister-02-SI.png" alt="EN Settings Client Standard Services Cliplister 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: Cliplister *motion picture rating*</em></p>
</div>
<div class="paragraph">
<p>If the value is set to 18, then videos will also be played that are not suitable for younger audiences. If the value is set to 0, then videos will only be played that do not have an age restriction.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Default value for the motion picture rating</div>
<div class="paragraph">
<p>If no number has been entered or if the option <strong>The item’s motion picture rating</strong> is selected but no rating was set for the item itself, then Cliplister will automatically use the value "16 years old".</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_player_in_the_item_layout">2.3. Player in the item layout</h3>
<div class="paragraph">
<p>You can select various settings for displaying the <strong>player</strong> in the item layout.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Cliplister-03-SI.png" alt="EN Settings Client Standard Services Cliplister 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: configuring the *player*</em></p>
</div>
<div class="paragraph">
<p>The following table explains the settings in the <strong>System » Client » Select client » Services » Cliplister</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. settings for how the <strong>player</strong> should be displayed</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Width / height (pixels)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here, define which <em>*size*</em> you would like the player to be. This entry is based on the size in pixels. Enter a whole number.<br>
If you would like to make the entire size dependent on either the <strong>width</strong> or the <strong>height</strong>, then enter one of these two values only. The missing value will automatically be calculated and saved, based upon the format "3:4".</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Design slot number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <em>*number*</em> of a <em>*design slot*</em> that you created in Cliplister. Enter the slot number.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Start button</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This option lets you define whether an available clip should be <em>*played directly*</em> or if the customer should have to <em>*start the clip by clicking on it*</em>. Place a check mark in order to have a <strong>start button</strong> be shown. If the following <strong>Pop-up</strong> configuration is activated, then a start button will always be shown.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pop-up</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This option lets you define whether or not an available clip should be started in a <strong>pop-up window</strong>, which would open when clicking on a <strong>start button</strong>. Place a check mark in order to start the player in a pop-up window. Please note that pop-ups can be blocked by some browsers or by some browser settings.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_inserting_the_template_function">3. Inserting the template function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A <strong>template function</strong> in the <strong>detailed view of the item</strong> is used to integrate the Cliplister player into your online store.</p>
</div>
<div class="paragraph instruction">
<p>Integrating the Cliplister player into the item layout</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Click on the <strong>Template variables and template functions</strong> button.</p>
</li>
<li>
<p>Highlight the template function <strong>CliplisterVideo()</strong> and copy it onto the clipboard.</p>
</li>
<li>
<p>Go back to the item layout <strong>ItemViewSingleItem</strong> and insert the template function at the location where you would like it to be.</p>
</li>
<li>
<p>In addition, you can use the template function <strong>CliplisterClipExists()</strong> in order to find out if a video is available ahead of time and to put <a href="/en/omni-channel/online-store/cms-syntax#basics-if">IF-ELSE logic</a> into effect.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">First EAN is used to assign videos</div>
<div class="paragraph">
<p>Cliplister uses the item’s <strong>first EAN</strong> to assign a video to an item. As such, this has to be saved for the item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Currently, the wildcard character is only available for the <strong><em>detailed view of the item</em></strong>. Upon demand, Cliplister can also be displayed in other areas, e.g. as a clip in the item list or as a possibility to link with cross-selling items. Ask us about this!</p>
</div>
</div>
</div>
</main>