<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_elm_r"><span>1.</span><span> General information about Elm@r</span></a></li>
<li><a href="#_setup"><span>2.</span><span> Setup</span></a>
<ul class="sectlevel2">
<li><a href="#_linking_categories"><span>2.1.</span><span> Linking categories</span></a></li>
<li><a href="#_entering_information_about_the_store_and_its_owner"><span>2.2.</span><span> Entering information about the store and its owner</span></a></li>
<li><a href="#_generating_the_shop_file"><span>2.3.</span><span> Generating the shop file</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Elmar</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Standard » Services » Elmar</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_elm_r">1. General information about Elm@r</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Elm@r</strong> (electronic market) is a data standard which was developed in a research project at the University of Mannheim. Since plentymarkets makes use of this standard, item data can easily and automatically be embedded in various product search engines.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setup">2. Setup</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Modifications have to be made in two areas. On the one hand, first level categories have to be linked to the Elm@r categories. On the other hand, general information about the store and its owner have to be saved.</p>
</div>
<div class="sect2">
<h3 id="_linking_categories">2.1. Linking categories</h3>
<div class="paragraph">
<p>Category links are carried out for each category in the <strong>Items » Categories » Tab: Settings</strong> menu.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Elmar-01.png" alt="EN Settings Client Standard Services Elmar 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: linking categories with Elm@r</em></p>
</div>
<div class="paragraph instruction">
<p>Linking categories with Elm@r:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category that you want to link with Elmar.<br>
→ The <strong>Settings</strong> tab is automatically opened when a category is opened.</p>
</li>
<li>
<p>From the drop-down menu, select the <strong>Elmar category</strong> that you would like to link this category to (image 1). Please note that these categories are in German, as Elmar is a German data standard.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_entering_information_about_the_store_and_its_owner">2.2. Entering information about the store and its owner</h3>
<div class="paragraph">
<p>In order to generate the shop file (section 2.3), information has to be saved about the store and its owner. To do so, proceed as follows.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Elmar-02.png" alt="EN Settings Client Standard Services Elmar 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: configuring Elm@r</em></p>
</div>
<div class="paragraph instruction">
<p>Saving shop data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Services » Elmar</strong>.</p>
</li>
<li>
<p>Enter the data and carry out the settings as desired (image 2).</p>
</li>
<li>
<p>Under <strong>Item export format</strong> select the file which you saved for Elmar in the <strong><a href="/en/basics/data-exchange/exporting-data">Settings » Markets » Price comparison portals » Exports</a></strong> menu.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Data validation and security</div>
<div class="paragraph">
<p>After having been entered, the data will be subject to a test. The security procedure will only be carried out if the test is successful. All data fields need to be filled out correctly and truthfully.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_generating_the_shop_file">2.3. Generating the shop file</h3>
<div class="paragraph">
<p>All of the information that was given in the <strong>Settings » Client (store) » Standard » Services » Elmar</strong> menu is necessary for generating an XML file. This shop file will be analyzed by Elm@r and its content will be forwarded to product search engines. This file has the name shopinfo.xml and can be accessed via the shop’s URL, e.g. <a href="http://www.my-shop.com/shopinfo.xml" class="bare">http://www.my-shop.com/shopinfo.xml</a></p>
</div>
<div class="paragraph">
<p>The shop file will be automatically updated once a day. If changes are made in the <strong>Settings » Markets » Price comparison portals » Exports</strong> menu, then the update will take place directly.</p>
</div>
<div class="paragraph">
<p>After all information has been entered, the store still has to be registered with <strong><a href="http://www.elektronischer-markt.de/" target="_blank">Elm@r</a></strong>. The <strong>shop file’s URL</strong> is necessary for doing so.</p>
</div>
</div>
</div>
</div>
</main>