<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_facebook"><span>1.</span><span> Facebook</span></a></li>
<li><a href="#_setting_up_facebook"><span>2.</span><span> Setting up Facebook</span></a></li>
<li><a href="#_using_facebook_to_log_into_the_online_store"><span>3.</span><span> Using Facebook to log into the online store</span></a>
<ul class="sectlevel2">
<li><a href="#_saving_app_access_data"><span>3.1.</span><span> Saving app access data</span></a></li>
<li><a href="#_saving_wildcard_characters"><span>3.2.</span><span> Saving wildcard characters</span></a></li>
<li><a href="#_activating_the_login_function"><span>3.3.</span><span> Activating the login function</span></a></li>
<li><a href="#_facebook_login_in_the_online_store"><span>3.4.</span><span> Facebook login in the online store</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Facebook</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Settings » Services » Facebook</strong></p>
</div>
<div class="paragraph">
<p><strong>System » Client » Open client » Services » Social Media</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_facebook">1. Facebook</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Facebook</strong> is a social networking website with more than 845 million active users. In 2009, a study ranked Facebook as the <strong>most used social networking service</strong> by worldwide monthly active users (Wikipedia). Facebook also allows developers to make their own websites more social with the help of "Facebook Connect". One of the most commonly used features for doing so is the comment function (<a href="http://developers.facebook.com/blog/post/198/" class="bare">http://developers.facebook.com/blog/post/198/</a>). For example, users can configure their own Facebook app (e.g. for the online store) and then use this menu to connect the app with plentymarkets.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Facebook app</div>
<div class="paragraph">
<p>If you haven’t created your own <strong>Facebook app</strong> yet and you need <strong>information</strong> about doing so, then you can find instructions on <strong><a href="http://developers.facebook.com/docs/appsonfacebook/tutorial/" target="_blank" rel="noopener">http://developers.facebook.com/docs/appsonfacebook/tutorial/</a></strong>.<br>
Further instructions for <strong>integrating</strong> a <strong>Facebook app</strong> into your account are found in online tutorials, blogs and literature. Creating an app takes a good deal of skill and knowledge. You may need to learn about this topic beforehand or have a service provider create an app for you.<br>
One example of a <strong>Facebook app</strong> is a <strong>sweepstakes</strong>. You can search online to find a wide range of instructions about creating and integrating a sweepstakes app.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Sandbox mode</div>
<div class="paragraph">
<p>Facebook apps that were created after 3.4.2013 are in <strong>sandbox mode</strong> by default. These apps are not publicly visible in this test mode. Check this setting as needed. You can turn off the sandbox mode in the basic settings area of the App Dashboard under <a href="https://developers.facebook.com/apps" target="_blank" rel="noopener"><strong>https://developers.facebook.com/apps</strong></a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Comment function</div>
<div class="paragraph">
<p>You can still use the <strong>Facebook comment function</strong> even if you <strong>do not</strong> want to create a Facebook app. For further information, refer to the link at the end of this page.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_facebook">2. Setting up Facebook</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to carry out the following steps in order to connect your Facebook app with plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Saving the Facebook app settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Services » Facebook</strong>.</p>
</li>
<li>
<p>Click on the <strong>Facebook app settings</strong> tab.</p>
</li>
<li>
<p>Save the <strong>APP ID</strong> and the <strong>APP SECRET</strong> that you used to configure your Facebook app.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Services-Facebook-01-SI.png" alt="EN Settings Client Global Services Facebook 01 SI">
</div>
</div>
<div class="paragraph">
<p>+
<em>Image 1: saving the <strong>Facebook app settings</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Registering a new Facebook account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Services » Facebook</strong>.</p>
</li>
<li>
<p>Click on the <strong>Facebook accounts</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> next to the words <strong>Register a new Facebook account</strong>.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Services-Facebook-02-SI.png" alt="EN Settings Client Global Services Facebook 02 SI">
</div>
</div>
<div class="paragraph">
<p>+
<em>Image 2: <strong>link for registering an account</strong> in plentymarkets</em></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>A new window will open, which forwards you to <strong>Facebook</strong>. Log in if necessary. <strong>Facebook</strong> will ask whether you want the plentymarkets interface to have access to this account. Confirm this.</p>
</li>
<li>
<p>By reloading the <strong>System » Client » Settings » Services » Facebook</strong> menu, the validity of your registration will be displayed.</p>
</li>
<li>
<p>If you have multiple accounts, then select which one you would like to use as a <strong>default account</strong>.</p>
</li>
<li>
<p>The menu was set up. You can now manage your apps on the Facebook website.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Services-Facebook-03-SI.png" alt="EN Settings Client Global Services Facebook 03 SI">
</div>
</div>
<div class="paragraph">
<p>+
<em>Image 3: Facebook <strong>account</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Delete function</div>
<div class="paragraph">
<p>You can delete the link to the Facebook account at any time. If you deleted the link by clicking on the <strong>delete icon</strong>, then you still have the possibility of setting it up again as described above.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_using_facebook_to_log_into_the_online_store">3. Using Facebook to log into the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can allow your customers to <strong>log into your online store</strong> with their <strong>Facebook access data</strong>. You need to set up a <strong>Facebook app</strong> in order to use the function. Save your Facebook access data as described below. This will allow you to link to Facebook.</p>
</div>
<div class="paragraph">
<p>Pay attention to the <strong>note about Facebook apps</strong> given in section 1.</p>
</div>
<div class="sect2">
<h3 id="_saving_app_access_data">3.1. Saving app access data</h3>
<div class="paragraph">
<p>Once you have set up a Facebook <strong>app</strong>, you will receive the <strong>access data</strong> that you need to save in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Saving the Facebook app settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Services » Facebook</strong>.</p>
</li>
<li>
<p>Click on the <strong>Facebook app settings</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>APP ID</strong> and <strong>APP SECRET</strong> that you received from Facebook (image 1).</p>
</li>
<li>
<p>Click on the <strong>save</strong> icon to save the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_saving_wildcard_characters">3.2. Saving wildcard characters</h3>
<div class="paragraph">
<p>The following <strong>wildcard characters</strong> are used to integrate the Facebook login:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$FacebookLoginButton</p>
</li>
<li>
<p>$FacebookLoginScript</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Go to <strong>CMS » Web design » Layout » PageDesign » PageDesignContent</strong> and save the <strong>wildcard characters</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>You do not have to use the wildcard character for the online store <strong>login button</strong>. Instead, you could individually configure this button in the layout without the wildcard character.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_activating_the_login_function">3.3. Activating the login function</h3>
<div class="paragraph">
<p>Proceed as follows to activate the login function. You can also deactivate the function here as needed.</p>
</div>
<div class="paragraph instruction">
<p>Activating the Facebook app function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Open client » Services » Social Media</strong>.</p>
</li>
<li>
<p>Set the <strong>Facebook login</strong> option to <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>save</strong> icon to save the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_facebook_login_in_the_online_store">3.4. Facebook login in the online store</h3>
<div class="paragraph">
<p>The following image shows what the function looks like. The customer clicks on the <strong>Login</strong> button and then sees a pop-up window for entering his or her Facebook access data.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Services-Facebook-04-SI.png" alt="EN Settings Client Global Services Facebook 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>logging into the online store</strong> with <strong>Facebook access data</strong></em></p>
</div>
<div class="paragraph">
<p>A <strong>customer account</strong> is automatically created for every store visitor who uses his or her Facebook access data to log into the online store. If the customer does not place an order in the online store within the next 90 days, then his or her customer account will automatically be deleted again.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Other Facebook functions</div>
<div class="paragraph">
<p>You can also use plentymarkets, e.g. to set up the <strong><a href="/en/marketing/social-media/facebook">Facebook comment function</a></strong> in your online store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>