<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information"><span>1.</span><span> General information</span></a></li>
<li><a href="#_becoming_a_partner"><span>2.</span><span> Becoming a partner</span></a></li>
<li><a href="#_setting_up_family_card_hesse_in_plentymarkets"><span>3.</span><span> Setting up family card Hesse in plentymarkets</span></a></li>
<li><a href="#_inserting_the_template_variable_and_css_code"><span>4.</span><span> Inserting the template variable and CSS code</span></a></li>
<li><a href="#_visibility_and_login"><span>5.</span><span> Visibility and login</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Family card Hesse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Global settings » Services » Family card Hesse</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information">1. General information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The family card Hesse was introduced by the government of Hesse in collaboration with partners from the field of economics and other institutions. It is an additional building block towards creating a modern family policy, which deals with the needs of families. In the form of a check card, families in Hesse have been able to use this card since September 11th, 2010 in order to receive a variety of discounts and support in several areas. Further information (in German) can be found here: <strong><a href="http://www.familienkarte.hessen.de/dynasite.cfm?dsmid=14502" target="_blank">www.familienkarte.hessen.de</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_becoming_a_partner">2. Becoming a partner</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On the family card Hesse website, you can also find information about how you can <a href="http://www.familienkarte.hessen.de/dynasite.cfm?dsmid=14637" target="_blank"><strong>become a partner</strong></a> and what this partnership includes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_family_card_hesse_in_plentymarkets">3. Setting up family card Hesse in plentymarkets</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Availability</div>
<div class="paragraph">
<p>The <strong>Family card Hesse</strong> menu is only visible for plentymarkets systems that have the system language <strong>German</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You need a <strong>customer class</strong> for customers who use the family card Hesse, which specifies the discount that should be given. In general, it is recommended that you set up a separate customer class for this purpose.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-External-Family-Card-Hesse01-SI.png" alt="EN Settings Client Global External Family Card Hesse01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: creating a <strong>customer class</strong> for <strong>family card Hesse</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Creating a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Customers » Customer classes</strong> and click on the <strong>New customer class</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>name</strong>.</p>
</li>
<li>
<p>Select a <strong>price column</strong> and a <strong>discount type</strong>.</p>
</li>
<li>
<p>Enter the <strong>discount</strong> or the discounts into the table.</p>
</li>
<li>
<p>Select <strong>Gross</strong> in the line <strong>Display of the prices in the online store</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about discounts, refer to the <a href="/en/crm/managing-customer-data#1600"><strong>Discount system</strong></a> chapter of the manual.</p>
</div>
<div class="paragraph">
<p>Once you have created the customer classes, you still have to assign them to your customers. Specify which customer class should automatically be assigned to customers who are <strong>family card members</strong> and which class should be assigned to customers who have an <strong>expired family card</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Assigning customer classes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Global settings » Services » Family card Hesse</strong>.</p>
</li>
<li>
<p>Select a customer class for the lower two options.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-External-Family-Card-Hesse02-SI.png" alt="EN Settings Client Global External Family Card Hesse02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: assigning <strong>customer classes</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Assignment of expired family cards</div>
<div class="paragraph">
<p>No customer class will be assigned to expired cards if it is the customer’s first time logging in. For login attempts with an expired card that take place after there had previously been a successful login, the customer class will automatically be adapted as it was configured above.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_inserting_the_template_variable_and_css_code">4. Inserting the template variable and CSS code</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before your customers can select the option <strong>family card Hesse</strong> in the online store, you have to insert the template variable <strong>$FamilienKarteLogin</strong> into your design. Select an appropriate spot, e.g. under the <strong>login</strong> area. Insert the template variable and CSS code into your design as described below.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty" data-lang="plenty">&lt;!--  End Box Login --&gt;
&#123;&#37; if $CustomerID &#37;&#125; &lt;br /&gt; $FamilienKarteLogin &lt;br /&gt; &#123;&#37; endif &#37;&#125;
&lt;!--  Box Familienkarte --&gt;</code></pre>
</div>
</div>
<div class="paragraph instruction">
<p>Inserting the template variable:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » PageDesign » PageDesignContent</strong>.</p>
</li>
<li>
<p>Insert the <strong>code</strong> and <strong>template variable</strong> into an appropriate spot.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
<li>
<p>Check the layout in your online store and make any necessary corrections.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Visibility of the family card box in the online store</div>
<div class="paragraph">
<p>The code includes an <strong>if-query</strong>, which ensures that the family card box will only be displayed when the customer has logged into your online store. The box’s other elements are the default store’s CSS codes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_visibility_and_login">5. Visibility and login</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The family card Hesse login box is only visible once the respective customer has logged into the online store.</p>
</div>
<div class="paragraph">
<p>During the first successful login, the system will <em><strong>save</strong></em> the family card <em><strong>access data</strong></em>. Afterwards, as soon as the customer in question has logged into the online store, the login with his or her family card access data will take place <em><strong>automatically</strong></em>.</p>
</div>
</div>
</div>
</main>