<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_registering_with_the_händlerbund"><span>1.</span><span> Registering with the Händlerbund</span></a></li>
<li><a href="#_setting_up_users_for_the_händlerbund"><span>2.</span><span> Setting up users for the Händlerbund</span></a></li>
<li><a href="#_setting_up_the_rating_tool"><span>3.</span><span> Setting up the rating tool</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Händlerbund</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The Händlerbund e.V. is Europe’s largest online trade association and one of the leading online providers of <a href="/en/omni-channel/online-store/setting-up-clients/online-store#legal-information"><strong>German legal texts</strong></a>. The company is based in Leipzig. The Händlerbund has an interface for terms and conditions, called the AGB-Schnittstelle. You can use this interface to easily integrate German legal texts into your plentymarkets system. The legal texts can be updated easily, e.g. if they need to be changed because of amendments to the law.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_registering_with_the_händlerbund">1. Registering with the Händlerbund</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to <a href="http://www.haendlerbund.de/mitgliedschaft/details"><strong>register</strong></a> with the Händlerbund before you can use its services for your plentymarkets system. Please note that the services are only available in German.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">SOAP API not available for plentymarkets Zero</div>
<div class="paragraph">
<p>Note that the <strong>SOAP API</strong> module is required for setting up the interface to Händlerbund. This module is not available for plentymarkets Zero.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_users_for_the_händlerbund">2. Setting up users for the Händlerbund</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your plentymarkets system will be connected to the Händlerbund via the SOAP interface. In order for it to have access, you first need to create an individual <a href="/en/basics/working-with-plentymarkets/manage-users#10"><strong>user account</strong></a> with access rights to the API in your system.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Basic settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create new user</strong> window will open.</p>
</li>
<li>
<p>Enter the <strong>User name</strong>, <strong>Actual name</strong> and <strong>Password</strong>.</p>
</li>
<li>
<p>Repeat the password.</p>
</li>
<li>
<p>Enter the user’s email address. This will allow the user to receive messages from the system.</p>
</li>
<li>
<p>Select the user class <strong>API</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, activate the following calls in the user profile in the tab <strong>Rights » Tab: SOAP-API</strong>. The Händlerbund requires these calls:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item » GetItemsImages</strong></p>
</li>
<li>
<p><strong>Order » SearchOrders</strong></p>
</li>
<li>
<p><strong>Webshop » SetLegalInformation</strong></p>
</li>
<li>
<p><strong>Webshop » SetTermsAndCancellation</strong></p>
</li>
<li>
<p><strong>Webshop » GetMultiShops</strong></p>
</li>
<li>
<p><strong>Others » SetContentPage</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_the_rating_tool">3. Setting up the rating tool</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Händlerbund offers its members a rating tool called <strong>Käufersiegel</strong>. You must be a member of the Händlerbund in order to use this rating tool. You need to have a Händlerbund member number in order to <a href="https://www.kaeufersiegel.de/bewertung/register.php"><strong>register</strong></a> the ratings. You need to have the access data of the previously created API user in order to configure the Käufersiegel backend area. This access data consists of the <strong>user name</strong>, <strong>password</strong> and the <strong>URL</strong> of the plentymarkets system that you want to use the rating tool with.</p>
</div>
<div class="paragraph">
<p>There is a <a href="http://wiki.kaeufersiegel.de/index.php/Plentymarkets"><strong>Käufersiegel wiki</strong></a> that you can use for the settings in the backend of Händlerbund and for saving the access data.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Server URL</div>
<div class="paragraph">
<p>The <strong>server URL</strong> that is saved in the Käufersiegel backend is the <strong>URL of the plentymarkets system</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>