<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_janolaw"><span>1.</span><span> Janolaw</span></a></li>
<li><a href="#_signing_up_for_janolaw"><span>2.</span><span> Signing up for Janolaw</span></a></li>
<li><a href="#_setting_up_janolaw_in_plentymarkets"><span>3.</span><span> Setting up Janolaw in plentymarkets</span></a></li>
<li><a href="#_inserting_template_variables"><span>4.</span><span> Inserting template variables</span></a>
<ul class="sectlevel2">
<li><a href="#_online_store"><span>4.1.</span><span> Online store</span></a></li>
<li><a href="#_e_mail_templates"><span>4.2.</span><span> E-mail templates</span></a></li>
</ul>
</li>
<li><a href="#_menu_legal_information"><span>5.</span><span> Menu: Legal information</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Janolaw</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Standard » Services » Janolaw</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_janolaw">1. Janolaw</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http://www.janolaw.de/agb-service/#menu" target="_blank" rel="noopener">Janolaw</a></strong> is a platform for German legal issues that can provide you with current legal documents for your online store. Along with providing legal services relating to <strong>terms and conditions</strong> as well as providing support for your <strong>privacy policy</strong>, Janolaw also offers further important documents for your shop, such as <strong>cancellation rights</strong> and a <strong>legal disclosure</strong>. These documents can be ordered with or without an update service. There are different service packages available from Janolaw, which you can order on the Janolaw website.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_signing_up_for_janolaw">2. Signing up for Janolaw</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sign up at <strong>Janolaw</strong> and order the service pack that meets your needs. You will receive the <strong>access data</strong> that you need for setting up the interface in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_janolaw_in_plentymarkets">3. Setting up Janolaw in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to set up <strong>Janolaw</strong> in your plentymarkets system, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Janolaw:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Services » Janolaw</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the <strong>settings</strong> as desired.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Janolaw-01-SI.png" alt="EN Settings Client Standard Services Janolaw 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>Janolaw</strong>; settings</em></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> the interface by placing a <strong>check mark</strong> in the box. Once the interface has been activated, the documents will be <strong>updated</strong> daily, ensuring that any changes are quickly available.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>User ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>user ID</strong> that you received from Janolaw.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shop ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the <strong>shop ID</strong> that you received from Janolaw.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>Janolaw</strong>; settings</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inserting_template_variables">4. Inserting template variables</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data provided by Janolaw will be integrated using <strong>template variables</strong>.</p>
</div>
<div class="sect2">
<h3 id="_online_store">4.1. Online store</h3>
<div class="paragraph">
<p>Insert the template variables into the corresponding <strong>categories</strong> or <strong>templates</strong> of your online store.</p>
</div>
<div class="paragraph">
<p>Use the following <strong>template variables</strong> to integrate the data into your <strong>online store</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template variable</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$GeneralTermsAndConditions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Terms and conditions</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$CancellationRights</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Cancellation rights</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$PrivacyPolicy</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Privacy policy</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$LegalDisclosure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Legal disclosure</strong> (required by law in some countries)</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: <strong>Janolaw</strong>; template variables for the <strong>online store</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_e_mail_templates">4.2. E-mail templates</h3>
<div class="paragraph">
<p>Insert the template variables into the corresponding section of your <strong>e-mail template</strong>. Template variables that have the extension <strong>Text</strong> need to be entered into the corresponding <strong>Text</strong> tab. Similarly, ones that have an <strong>HTML</strong> extension need to be entered into the <strong>HTML</strong> tab.</p>
</div>
<div class="paragraph">
<p>Use the following <strong>template variables</strong> to integrate the data into your <strong>e-mail templates</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template variable</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$GeneralTermsConditionsText</strong>, <strong>$GeneralTermsConditionsHTML</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Terms and conditions</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$CancellationRightsText</strong>, <strong>$CancellationRightsHTML</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Cancellation rights</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$PrivacyPolicyText</strong>, <strong>$PrivacyPolicyHTML</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Privacy policy</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>$LegalDisclosureText</strong>, <strong>$LegalDisclosureHTML</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Legal disclosure</strong> (required by law in some countries)</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: <strong>Janolaw</strong>; template variables for the <strong>e-mail templates</strong></em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_menu_legal_information">5. Menu: Legal information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are using the service provided by Janolaw, then you can find the data or texts that they offer by going to <strong><a href="/omni-channel/online-store/setting-up-clients/online-store#legal-information">Settings » Client (store) » Standard » Online store » Legal information  </a></strong>. In this menu, check to make sure that all data was transmitted and displayed correctly.</p>
</div>
</div>
</div>
</main>