<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_language_packages"><span>1.</span><span> Language packages</span></a></li>
<li><a href="#_editing_texts_in_language_packages"><span>2.</span><span> Editing texts in language packages</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Language packages</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Settings » Client (store) » Global settings » Language packages</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_language_packages">1. Language packages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The language packages contain the terms and texts that are used by the system. These are default texts that are automatically inserted into the corresponding area e.g. <strong>select category</strong> or <strong>add to shopping cart</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_editing_texts_in_language_packages">2. Editing texts in language packages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, you have the possibility of customizing the texts that the system uses in the order process as well as in the my account area. You can make changes to the default translations if you would like to use other terms or rearrange the phrasing.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-ENG-Einstell-Mandant-Globale-Sprachpakete01-SI.png" alt="EN ENG Einstell Mandant Globale Sprachpakete01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>language packages</strong>; default and customized texts</em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>There are four sections of text that you can make changes to:</p>
</div>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>General texts</p>
</li>
<li>
<p>Notes</p>
</li>
<li>
<p>Error messages</p>
</li>
<li>
<p>Warnings</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can carry out these changes for each language package that is available.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Editing a language package’s texts:</div>
<div class="paragraph">
<p>Select the desired <strong>language</strong>.</p>
</div>
<div class="paragraph">
<p>Select one of the four <strong>sections</strong> of text.</p>
</div>
<div class="paragraph">
<p>Click on the <strong>magnifying glass</strong>.<br>
→ The list of <strong>texts</strong> will be displayed.</p>
</div>
<div class="paragraph">
<p>You can now make your changes in the <strong>Customized translation</strong> column (see image 1, arrow).</p>
</div>
<div class="paragraph">
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>