<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information"><span>1.</span><span> General information</span></a></li>
<li><a href="#_registering_with_lionbridge"><span>2.</span><span> Registering with Lionbridge</span></a></li>
<li><a href="#_activating_lionbridge_in_plentymarkets"><span>3.</span><span> Activating Lionbridge in plentymarkets</span></a></li>
<li><a href="#_translating_items"><span>4.</span><span> Translating items</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Lionbridge</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Global settings » Services » Lionbridge</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information">1. General information</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.lionbridge.com/" target="_blank"><strong>Lionbridge</strong></a> enables more than 800 world-leading brands to increase international market share, speed adoption of products and effectively engage their customers in local markets worldwide. (Source: Lionbridge)</p>
</div>
<div class="paragraph">
<p>Lionbridge makes it possible for you to have your items translated. This allows you to attract even more potential buyers on the international market.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_registering_with_lionbridge">2. Registering with Lionbridge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use the service provided by Lionbridge, you are required to register first. In doing so, you will receive the access data that you need for the configuration in plentymarkets. Click on the following link to register with Lionbridge: <a href="https://ebay-de.liondemand.com/accounts/register/?utm_source=plentymarkets" target="_blank"><strong>https://ebay-de.liondemand.com/accounts/register/?utm_source=plentymarkets</strong></a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">URL</div>
<div class="paragraph">
<p>The URL <strong><a href="https://ebay-de.liondemand.com/accounts/register/?utm_source=plentymarkets" class="bare">https://ebay-de.liondemand.com/accounts/register/?utm_source=plentymarkets</a></strong> for registering with Lionbridge includes the ending <strong>utm_source=plentymarkets</strong>. This way, Lionbridge automatically associates you with plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After you created your <strong><em>user account</em></strong> for Lionbridge you will receive your access data for the activation in plentymarkets. You will find your <strong>Access key ID</strong> and the <strong>Secret access key</strong> within the <strong>API information</strong> area at the bottom of your Lionbridge profile page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_lionbridge_in_plentymarkets">3. Activating Lionbridge in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Save the <em><strong>access data</strong></em> that you received when registering with Lionbridge. The access data consists of an <strong>Access key ID</strong> and a <strong>Secret access key</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Global-Settings-Services-Lionbridge-01.png" alt="EN Settings Client Global Settings Services Lionbridge 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>access data</strong> for the activation in plentymarkets</em></p>
</div>
<div class="paragraph instruction">
<p>Activating Lionbridge in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Global settings » Services » Lionbridge</strong>.</p>
</li>
<li>
<p>Enter the <strong>Access key ID</strong> that you received from Lionbridge.</p>
</li>
<li>
<p>Enter the <strong>Secret access key</strong> that you received from Lionbridge.</p>
</li>
<li>
<p>Place a <strong>check mark</strong> next to the option <strong>Active</strong> to activate the module.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Module visibility</div>
<div class="paragraph">
<p>If the module is not activated (no check mark) then Lionbridge will not be displayed for editing in the group function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After saving the settings, your <em><strong>Lionbridge Service</strong></em> will be retrieved and saved automatically. This service, which is automatically assigned to you by Lionbridge, will be available to select in the drop-down menu <strong>Service</strong> within the group function.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_translating_items">4. Translating items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can have your items translated as soon as Lionbridge is activated in plentymarkets. Select the items you want to have translated in the <strong>Item » Edit item</strong> menu and use the group function to carry out further necessary settings.</p>
</div>
</div>
</div>
</main>