<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_creating_a_live_shopping_offer"><span>1.</span><span> Creating a live shopping offer</span></a></li>
<li><a href="#_configuring_a_live_shopping_offer"><span>2.</span><span> Configuring a live shopping offer</span></a></li>
<li><a href="#_integrating_live_shopping_into_your_online_store"><span>3.</span><span> Integrating live shopping into your online store</span></a>
<ul class="sectlevel2">
<li><a href="#_modifying_the_itemviewsingleitem_view"><span>3.1.</span><span> Modifying the ItemViewSingleItem view</span></a></li>
<li><a href="#_modifying_the_offer_view_using_template_variables"><span>3.2.</span><span> Modifying the offer view using template variables</span></a></li>
</ul>
</li>
<li><a href="#_publishing_live_shopping_offers"><span>4.</span><span> Publishing live shopping offers</span></a></li>
<li><a href="#100"><span>5.</span><span> Posting information about live shopping offers automatically</span></a></li>
<li><a href="#_faqs"><span>6.</span><span> FAQs</span></a>
<ul class="sectlevel2">
<li><a href="#_active_live_shopping_offer"><span>6.1.</span><span> Active live shopping offer</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Live shopping</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With live shopping, one of the items from your range of products will be offered at a discounted price each day during a specified period (e.g. from 9:00am to 6:00pm). Configure live shopping offers in the <strong>System » Client » Settings » Live shopping</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_a_live_shopping_offer">1. Creating a live shopping offer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to create a new live shopping offer.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Sales price for live shopping offers</div>
<div class="paragraph">
<p>Create a sales price of the type <strong>Special offer</strong>, add it to an item and save a price. The sales price for your live shopping offers is selected automatically based on the sales price settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a live shopping offer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Live shopping</strong>.</p>
</li>
<li>
<p>Click on a live shopping tab.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong>. <br>
→ The <strong>New live shopping offer</strong> window will be displayed.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the explanations given in <a href="#table-live-shopping-settings">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-live-shopping-settings" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. live shopping settings</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Start</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a date and a time when the live shopping offer should start.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>End</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a date and a time when the live shopping offer should end.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the item’s ID.<br>
<strong><em>Note:</em></strong> The same item cannot be offered in more than one live shopping offer during the same period.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Quantity sold</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting changes the displayed percentage of items that have been purchased in live shopping already.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Total</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter maximum quantity that can be sold at the discounted price. Regardless of this entry, there must be enough stock available for those items that are tied to the stock.<br>
If a customer tries to put a larger quantity into his or her shopping cart, then the quantity will automatically be reduced. As soon as this quantity has been sold, the item will be offered at the normal price again.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Link active</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The same period can be configured for more than one live shopping offer. Activate option to display this live shopping offer as soon as a live shopping item that is higher up in the live shopping display and is sold at the same time has sold out.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Price if the remaining quantity is exceeded</div>
<div class="paragraph">
<p>At some point, a buyer may try to order more copies of an item than are still available in the live shopping offer. If this happens, then the normal item price will be used for the entire order. Example: There are 7 copies of a live shopping item remaining. A customer puts 8 copies of the live shopping item into their shopping cart. All 8 copies of the item will be sold at the normal sales price.</p>
</div>
<div class="paragraph">
<p>Advise customers of this fact and make sure that they can always see how many items are still available at a reduced price as part of the live shopping offer.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuring_a_live_shopping_offer">2. Configuring a live shopping offer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Configure newly created live shopping offers as described below.</p>
</div>
<div class="paragraph instruction">
<p>Configuring a live shopping offer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Live shopping</strong>.</p>
</li>
<li>
<p>Click on a live shopping tab.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the explanations given in <a href="#table-settings-live-shopping-offers">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-live-shopping-offers" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. settings for live shopping offers</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Show live shopping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Hide if no offer is active</strong> = The template variable <a href="/en/omni-channel/online-store/cms-syntax#web-design-itemview-container-itemviewliveshopping">Container_ItemViewLiveShopping()</a> will only be displayed if an item currently can be purchased at the discounted price.<br>
<strong>Show upcoming offer if no offer is currently active</strong> = Template variable will always be filled. If no offer is active, a preview of an upcoming offer is shown. However, the discounted price will only be applied once the live shopping offer starts. Therefore, set the same starting time for offers that should automatically follow each other. Also see <a href="#table-live-shopping-settings">Table 1</a>, option <strong>Link active</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_integrating_live_shopping_into_your_online_store">3. Integrating live shopping into your online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Now insert the live shopping function into your online store. Insert the following template function and template variable into your online store’s design.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>&#123;&#37; Container_ItemViewLiveShopping() &#37;&#125;</strong></p>
</li>
<li>
<p><strong>&#123;&#37; $LiveShoppingID = 1 &#37;&#125;</strong><br>
→ The ID determines which live shopping offer is inserted. For example, use <strong>ID 1</strong>, to insert the offer <strong>Live shopping 1</strong>.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_modifying_the_itemviewsingleitem_view">3.1. Modifying the ItemViewSingleItem view</h3>
<div class="paragraph">
<p>You can indicate again that the live shopping is a special offer by inserting the following template variables into the <strong>ItemViewSingleItem</strong> template:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>$LiveShoppingQuantityRemaining</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPrice</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Example code for your ItemViewSingleItem template:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; if $LiveShoppingQuantityRemaining&gt;0 &#37;&#125; Live shopping SPECIAL OFFER while supplies last! &#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_modifying_the_offer_view_using_template_variables">3.2. Modifying the offer view using template variables</h3>
<div class="paragraph">
<p>Design the layout for live shopping offers in the <strong>CMS » Web design » Layout » ItemView » ItemViewLiveShopping</strong> template. The following template variables are available for this purpose:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>$LiveShoppingContainerId</strong></p>
</li>
<li>
<p><strong>$LiveShoppingQuantityRemaining</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPrice</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPriceOriginal</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPercentRemaining</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPercentSold</strong></p>
</li>
<li>
<p><strong>$LiveShoppingQuantitySold</strong></p>
</li>
<li>
<p><strong>$LiveShoppingStartTime</strong></p>
</li>
<li>
<p><strong>$LiveShoppingEndTime</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following code shows a possible layout for live shopping offers in the <strong>ItemViewLiveShopping</strong> template:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="ff01_pagenav"&gt;

    &lt;h2 id="liveshopping_start_end" &gt;Live shopping&lt;/h2&gt;

&lt;/div&gt;

&lt;table width="100%" border="0" cellspacing="0" cellpadding="3" class="border marginbottom"&gt;&lt;tr&gt;&lt;td style="width:40%;"&gt;

    &lt;table width="100%" border="0" cellspacing="0" cellpadding="3"&gt;

        &lt;tr&gt;

            &lt;td colspan="2" style="padding:10px;"&gt;&lt;strong&gt;$Name[1]&lt;/strong&gt;

            &lt;/td&gt;

        &lt;/tr&gt;

        &lt;tr&gt;

            &lt;td rowspan="1" style="padding-left:10px; height:250px" width="60%"&gt;$MiddleSizeImage[1]&lt;/td&gt;

            &lt;td style="padding-left:10px;" valign="top"&gt;

                &lt;table width="200" border="0" cellspacing="0" cellpadding="0"&gt;

                    &lt;tr&gt;

                        &lt;td id="clock_clock" width="36"&gt;&amp;nbsp;

                        &lt;/td&gt;

                        &lt;td style="padding-left:10px"&gt;

                            Offer is still active&lt;br /&gt;&lt;span  id="ldate" style="font-size:20px; font-weight:bold;"&gt;&lt;/span&gt;

                        &lt;/td&gt;

                    &lt;/tr&gt;

                &lt;/table&gt;&lt;br /&gt;&lt;br /&gt;

                &lt;div&gt;instead of &lt;span style="text-decoration: line-through;"&gt;$LiveShoppingPriceOriginal $Currency&lt;/span&gt;

                &lt;div&gt;&lt;span class="Price_single_art"&gt;now only $LiveShoppingPrice&lt;/span&gt; &lt;span class="Price_single_art"&gt;$Currency&lt;/span&gt;&lt;/div&gt;

                &lt;div class="small"&gt;including VAT&lt;/div&gt;

                &lt;div class="small" style="margin-bottom:10px;"&gt;&lt;a href="&#123;&#37; Link_ShippingCosts() &#37;&#125;"&gt;plus shipping&lt;/a&gt;&lt;/div&gt;

                &#123;&#37; if $Weight &gt; 0 &#37;&#125;

                  &lt;div&gt;Shipping weight: $Weight g

                  &lt;/div&gt;

                &#123;&#37; endif &#37;&#125;

                &lt;div&gt;$FormOpenOrder$AttributeSelect

                    &lt;input src="/layout/farbfinal01/images/btn_basket.png" title="Buy" alt="Buy" type="image" style="padding-top:15px" &gt;

      $FormCloseOrder

                &lt;/div&gt;

                &lt;/div&gt;

            &lt;/td&gt;

        &lt;/tr&gt;

        &lt;tr&gt;

            &lt;td style="padding-left:10px; width:40%;"&gt;&lt;b&gt;Item description:&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;$DescriptionShort&lt;br /&gt;&lt;br /&gt;

                &lt;label onclick="if(document.getElementById('liveshopping_description').style.display=='none'){ document.getElementById('liveshopping_description').style.display='block'; } else {    document.getElementById('liveshopping_description').style.display='none'; }"&gt; &lt;b&gt;more information...&lt;/b&gt;

                &lt;/label&gt;&lt;br /&gt;

                &lt;div id="liveshopping_description" style="display:none;"&gt;$Description&lt;/div&gt;&lt;br /&gt;

            &lt;/td&gt;

            &lt;td style="width:40%; width:40%; padding-left:10px;" valign="top"&gt; $LiveShoppingPercentRemaining % remaining!

                &lt;table width="150px" height="12px" cellspacing="0"&gt;

                    &lt;tr&gt;

                        &lt;td style="background-image:url(/images/icons/liveshopping/balken_links.jpg); padding-left:6px; height:7px; width=7px";&gt;

                        &lt;/td&gt;

                        &lt;td style="background-image:url(/images/icons/liveshopping/balken_mitte.jpg); height:7px; width=7px;"$LiveShoppingPercentRemaining%&gt;

                      &lt;/td&gt;

                &lt;td style="background-image:url(/images/icons/liveshopping/balken_gruen_rechts.jpg); padding-left:4px; height:7px;" width="5"&gt;&lt;/td&gt;

                &lt;td style="background-image:url(/images/icons/liveshopping/balken_grau.jpg); height:7px;" width="$LiveShoppingPercentSold%"&gt;&lt;/td&gt;

                &lt;td style="background-image:url(/images/icons/liveshopping/balken_rechts.jpg); padding-left:4px; height:7px;" width="5"&gt;&lt;/td&gt;

    &lt;/tr&gt;

        &lt;/table&gt;

      &lt;br /&gt;

      &lt;br /&gt;

      &#123;&#37; if $LiveShoppingQuantityRemaining&lt;=0 &#37;&#125; &lt;b&gt;Live shopping currently not active or offer quantity sold out!&lt;/b&gt;&lt;br /&gt;

      &#123;&#37; endif &#37;&#125; &lt;/td&gt;

  &lt;/tr&gt;

&lt;/table&gt;&lt;/td&gt;



    &lt;/tr&gt;

&lt;/table&gt;





&lt;script language="JavaScript" type="text/javascript"&gt;



  function tickLiveShoppingTimer() {



    var currenttime=new Date();



    if(checkIfCurrentTimeIsInPeriod('$LiveShoppingStartTime','$LiveShoppingEndTime')){



      var eventdate = getDateObjectFromUTC("$LiveShoppingEndTime");

      var milliseconds_until_event=Math.floor((eventdate.getTime()-currenttime.getTime()));

      var seconds_until_event=milliseconds_until_event/1000;



      days = Math.floor(seconds_until_event/(60*60*24));

      hours = Math.floor(seconds_until_event/(60*60)) - (days * 24);

      minutes = Math.floor(seconds_until_event/(60)) - (days*24*60+hours*60);

      seconds = seconds_until_event - (days*24*60*60+hours*60*60+minutes*60);



      //add leading zeroes if necessary

      var s_minutes = (minutes &lt; 10) ? '0' + minutes : minutes ;

      seconds = Math.floor(seconds);

      var s_seconds = (seconds &lt; 10) ? '0' + seconds : seconds ;



      if(document.getElementById('ldate') &amp;&amp; document.getElementById('clock_clock')){

        document.getElementById('ldate').innerHTML = (days&gt;0?days+"d ":"")+hours+'h '+s_minutes+':'+s_seconds;

        document.getElementById('clock_clock').style.backgroundImage = 'url(/images/icons/liveshopping/clock.jpg)';

      }



      window.setTimeout("tickLiveShoppingTimer()", 1000);



    } else {

      if(document.getElementById('ldate') &amp;&amp; document.getElementById('clock_clock')){

        document.getElementById('ldate').innerHTML = '';

        document.getElementById('clock_clock').style.backgroundImage = '';

        window.setTimeout("tickLiveShoppingTimer()", 1000);

      }

    }

  }



  function getLocalDateTimeStringFromUTC(strDateTime) {



    var DateTimeArray = strDateTime.split(" ");



    var DateArray = DateTimeArray[0].split("-");

    var strYear = DateArray[0];

    var strMonth = DateArray[1];

    var strDay = DateArray[2];



    var TimeArray = DateTimeArray[1].split(":");

    var strHour = TimeArray[0];

    var strMinutes = TimeArray[1];

    var strSeconds = TimeArray[2];



    var eventtime = new Date();

    eventtime.setUTCSeconds(strSeconds);

    eventtime.setUTCMinutes(strMinutes);

    eventtime.setUTCHours(strHour);

    eventtime.setUTCDate(strDay);

    eventtime.setUTCMonth(strMonth-1);

    eventtime.setUTCFullYear(strYear);



    var strDateLocal = ((eventtime.getDate()&lt;10)?'0'+eventtime.getDate():eventtime.getDate())  +"."+  ((eventtime.getMonth()+1&lt;10)?'0'+(eventtime.getMonth()+1):eventtime.getMonth()+1) +"."+ eventtime.getFullYear();

    var strTimeLocal = ((eventtime.getHours() &lt; 10) ? '0' + eventtime.getHours() : eventtime.getHours()) +':'+ ((eventtime.getMinutes() &lt; 10) ? '0' + eventtime.getMinutes() : eventtime.getMinutes());

    return strDateLocal+" "+strTimeLocal;

    //return eventtime.toLocaleString(); //always uses long date format

  }



  function getDateObjectFromUTC(strDateTime) {



    var DateTimeArray = strDateTime.split(" ");



    var DateArray = DateTimeArray[0].split("-");

    var strYear = DateArray[0];

    var strMonth = DateArray[1];

    var strDay = DateArray[2];



    var TimeArray = DateTimeArray[1].split(":");

    var strHour = TimeArray[0];

    var strMinutes = TimeArray[1];

    var strSeconds = TimeArray[2];



    var eventtime = new Date();

    eventtime.setUTCSeconds(strSeconds);

    eventtime.setUTCMinutes(strMinutes);

    eventtime.setUTCHours(strHour);

    eventtime.setUTCDate(strDay);

    eventtime.setUTCMonth(strMonth-1);

    eventtime.setUTCFullYear(strYear);



    return eventtime;

  }



  function checkIfCurrentTimeIsInPeriod(strStartDateTime, strEndDateTime){



    var StartDateTimeArray = strStartDateTime.split(" ");



    var StartDateArray = StartDateTimeArray[0].split("-");

    var strYear = StartDateArray[0];

    var strMonth = StartDateArray[1];

    var strDay = StartDateArray[2];



    var StartTimeArray = StartDateTimeArray[1].split(":");

    var strHour = StartTimeArray[0];

    var strMinutes = StartTimeArray[1];

    var strSeconds = StartTimeArray[2];



    var starttime = new Date();

    starttime.setUTCSeconds(strSeconds);

    starttime.setUTCMinutes(strMinutes);

    starttime.setUTCHours(strHour);

    starttime.setUTCDate(strDay);

    starttime.setUTCMonth(strMonth-1);

    starttime.setUTCFullYear(strYear);



    var EndDateTimeArray = strEndDateTime.split(" ");



    var EndDateArray = EndDateTimeArray[0].split("-");

    var strYear = EndDateArray[0];

    var strMonth = EndDateArray[1];

    var strDay = EndDateArray[2];



    var EndTimeArray = EndDateTimeArray[1].split(":");

    var strHour = EndTimeArray[0];

    var strMinutes = EndTimeArray[1];

    var strSeconds = EndTimeArray[2];



    var endtime = new Date();

    endtime.setUTCSeconds(strSeconds);

    endtime.setUTCMinutes(strMinutes);

    endtime.setUTCHours(strHour);

    endtime.setUTCDate(strDay);

    endtime.setUTCMonth(strMonth-1);

    endtime.setUTCFullYear(strYear);



    var currenttime=new Date();



    var startDateSeconds = Date.UTC(starttime.getFullYear(), starttime.getMonth() , starttime.getDate(), starttime.getHours(), starttime.getMinutes(), starttime.getSeconds());

    var endDateSeconds = Date.UTC(endtime.getFullYear(), endtime.getMonth() , endtime.getDate(), endtime.getHours(), endtime.getMinutes(), endtime.getSeconds());

    var currentDateSeconds = Date.UTC(currenttime.getFullYear(), currenttime.getMonth() , currenttime.getDate(), currenttime.getHours(), currenttime.getMinutes(), currenttime.getSeconds());



    if(currentDateSeconds&gt;=startDateSeconds &amp;&amp; currentDateSeconds&lt;endDateSeconds){

      return true;

    } else {

      return false;

    }

  }



  document.getElementById('liveshopping_von_bis').innerHTML='Live shopping offer '+getLocalDateTimeStringFromUTC('$LiveShoppingStartTime')+' to '+getLocalDateTimeStringFromUTC('$LiveShoppingEndTime');

  tickLiveShoppingTimer();





    &lt;/script&gt;</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_publishing_live_shopping_offers">4. Publishing live shopping offers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Live shopping offers can also be presented on external platforms such as the German site <a href="http://www.liveshopping-aktuell.de" target="_blank" rel="noopener">liveshopping-aktuell.de</a>. Register with the provider and save the offer’s URL as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Offer 1: your_domain/plenty/api/liveshopping_xml_1.php</p>
</li>
<li>
<p>Offer 2: your_domain/plenty/api/liveshopping_xml_2.php</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In these examples, the items for the first and second live shopping offer are exported.</p>
</div>
<div class="paragraph">
<p>Use the ID to specify which live shopping offer should be exported. Use the parameter <strong>SHIPPING</strong> to set specific shipping costs.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: ID and SHIPPING parameters</div>
<div class="paragraph">
<p>ID for live shopping offer 1: "your_domain/plenty/api/liveshopping_xml_1.php?ID=1"<br>
ID for live shopping offer 3 and code for 3.90 shipping costs: "your_domain/plenty/api/liveshopping_xml_2.php?ID=3&amp;SHIPPING=3.90"</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Only the preview text (short_description) will be exported as the item description.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Export condition</div>
<div class="paragraph">
<p>Live shopping offers will only be exported if the item is linked to a category.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">5. Posting information about live shopping offers automatically</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the procedure manager to publish information about your live shopping offers on Twitter and Facebook every day. To do so, set up procedures. For further information about setting up your Twitter account in plentymarkets, refer to the <a href="/en/omni-channel/online-store/extras/twitter">Twitter</a> page of the manual.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Procedures</strong>.</p>
</li>
<li>
<p>Click on the <strong>New procedure</strong> tab.</p>
</li>
<li>
<p>Select the*Tweet live shopping offers* procedure.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Specify a time at which the procedure is to be carried out.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Filter</strong> tab.</p>
</li>
<li>
<p>Select the client (store).</p>
</li>
<li>
<p>Select which category page the template variable for the live shopping offer was inserted in.</p>
</li>
<li>
<p>Select the Twitter account that is to be used for the procedure.</p>
</li>
<li>
<p>Click on the <strong>Procedure</strong> tab.</p>
</li>
<li>
<p>Enter a message for the procedure.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The procedure will be set up and displayed in the <strong>Procedures</strong> tab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In order to post live shopping offers on Facebook, set up a second procedure <strong>Post live shopping on Facebook</strong> in the same way and link the procedure to your Facebook account.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_faqs">6. FAQs</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_active_live_shopping_offer">6.1. Active live shopping offer</h3>
<div class="paragraph instruction">
<p>When is live shopping active for an item?</p>
</div>
<div class="paragraph indented">
<p>The live shopping for an item is active when the current time is within the previously specified time frame and when there is still a sufficient amount of stock available for items that are tied to the stock.=== Selling attribute items</p>
</div>
<div class="paragraph instruction">
<p>I sell item variations. Can the selection of attributes be built into the live shopping offer?</p>
</div>
<div class="paragraph indented">
<p>Yes, the selection of attributes can be built into the live shopping offer. Use the same template variables as for displaying single items. These include <strong>$AttributeSelect</strong> and <strong>$AttributeSelectWithoutAttributeName</strong>. Simply insert one of these two template variables into your <strong>ItemViewLiveShopping</strong> template.=== Inserting a link to live shopping offer</p>
</div>
<div class="paragraph instruction">
<p>I would like to create a link from the homepage to the page with the live shopping offer. How do I display this link only while a live shopping offer is active?</p>
</div>
<div class="paragraph indented">
<p>To do so, use the template function <strong>&#123;&#37; if Container_ItemViewLiveShopping() &#37;&#125; LINK &#123;&#37; endif &#37;&#125;</strong>.</p>
</div>
</div>
</div>
</div>
</main>