<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_trusted_shops"><span>1.</span><span> Trusted Shops</span></a></li>
<li><a href="#_trusted_shops_buyer_protection"><span>2.</span><span> Trusted Shops buyer protection</span></a>
<ul class="sectlevel2">
<li><a href="#_buyer_protection_models"><span>2.1.</span><span> Buyer protection models</span></a></li>
<li><a href="#_configuring_the_buyer_protection_excellence_model"><span>2.2.</span><span> Configuring the buyer protection Excellence model</span></a></li>
<li><a href="#_appearance_in_the_online_store_payment_process"><span>2.3.</span><span> Appearance in the online store (payment process)</span></a></li>
<li><a href="#_inserting_the_css_code"><span>2.4.</span><span> Inserting the CSS code</span></a></li>
</ul>
</li>
<li><a href="#_activating_the_seller_ratings"><span>3.</span><span> Activating the seller ratings</span></a>
<ul class="sectlevel2">
<li><a href="#_integrating_the_trusted_shops_seller_rating"><span>3.1.</span><span> Integrating the Trusted Shops Seller Rating</span></a></li>
</ul>
</li>
<li><a href="#_trusted_shops_trustbadge"><span>4.</span><span> Trusted Shops Trustbadge</span></a></li>
<li><a href="#_integrating_the_trusted_shops_trustbadge_in_your_online_store"><span>5.</span><span> Integrating the Trusted Shops Trustbadge in your online store</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Trusted Shops</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Standard » Services » Trusted Shops</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_trusted_shops">1. Trusted Shops</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Trusted Shops is the well-known Trustbadge for online stores, which provides buyer protection for online customers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_trusted_shops_buyer_protection">2. Trusted Shops buyer protection</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to carry out two steps to integrate the Trusted Shops buyer protection. In the first step, select the buyer protection model and configure it to be displayed to the customer during the checkout process. Most customers choose the free <strong>Classic buyer protection</strong> model. However, you can also use the <strong>Excellence buyer protection</strong> model. In the second step, <strong>insert</strong> the <strong>Trusted Shops Trustbadge</strong> into your online store.</p>
</div>
<div class="sect2">
<h3 id="_buyer_protection_models">2.1. Buyer protection models</h3>
<div class="paragraph">
<p>The <strong>Excellence</strong> model offers protection for orders with a total value of up to 20,000- Euro. A small fee is charged for this service. The Excellence model treats buyer protection like an item that has been placed in the shopping cart. This means that buyer protection is automatically activated upon completion of the purchase. If you want to use this buyer protection model, then you have to order it at Trusted Shops. The configuration is described in the following sections.</p>
</div>
<div class="paragraph">
<p>The <strong>Classic</strong> model is free of charge. Purchases with a value of up to 2,500- Euro can be protected. The buyer protection model is offered to customers directly after they have made their purchase.</p>
</div>
<div class="paragraph">
<p>If a valid Trusted Shops ID was saved, then customers will see a button that they can click on to register for buyer protection during the order confirmation. Customers who click on the button will be forwarded to Trusted Shops. For further information about saving the Trusted Shops ID in plentymarkets, refer to section 3 of this page.</p>
</div>
<div class="paragraph">
<p><strong>Please note the following:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The form for buyer protection registration is only shown on the day of purchase.</p>
</li>
<li>
<p>The form will be hidden for purchases made on eBay and other markets.</p>
</li>
<li>
<p><a href="http://www.trustedshops.co.uk/seal-of-approval/buyer-protection.html" target="_blank">Questions about buyer protection</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_configuring_the_buyer_protection_excellence_model">2.2. Configuring the buyer protection Excellence model</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Trusted-Shops-01.png" alt="EN Settings Client Standard Services Trusted Shops 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: entering the <strong>user name</strong> and <strong>password</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Activating the buyer protection Excellence model:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Services » Trusted Shops</strong>.</p>
</li>
<li>
<p>Click on the <strong>Seller ratings</strong> tab and enter the TS ID. The seller ratings do not necessarily have to be activated.</p>
</li>
<li>
<p>Enter the <strong>user name</strong> and the <strong>password</strong> that you received from Trusted Shops into the <strong>Buyer protection Excellence model</strong> tab.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_appearance_in_the_online_store_payment_process">2.3. Appearance in the online store (payment process)</h3>
<div class="paragraph">
<p>Buyer protection is displayed to customers during the payment process. They will see its price and can decide whether or not to select this option and place it in the shopping cart. Doing so activates the buyer protection.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Trusted-Shops-02.png" alt="EN Settings Client Standard Services Trusted Shops 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: placing the buyer protection <strong>Excellence model</strong> in the shopping cart</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_inserting_the_css_code">2.4. Inserting the CSS code</h3>
<div class="paragraph">
<p>Insert the following <strong>CSS code</strong> into the store’s web design. This will specify the formatting.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[source,xml]
----
/* TRUSTED SHOPS PROTECTION */</p>
<p class="tableblock">.PlentyWebPaymentMethodTsBuyerProtectionHeadline {
clear: both;
font-weight: bold;
margin-top: 20px;
padding: 0 5px;
}
.PlentyWebPaymentMethodTsBuyerProtectionText {
margin-top: 10px;
}
.PlentyWebPaymentMethodTsBuyerProtectionLink,
.PlentyWebPaymentMethodTsBuyerProtectionText &gt; div {
display: table-cell;
vertical-align: top;
}
.PlentyWebPaymentMethodTsBuyerProtectionText &gt; div {
padding-left: 16px;
color: #848484;
}</p>
<p class="tableblock">----</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Inserting the CSS code:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » CSS » CSSOrder</strong>.</p>
</li>
<li>
<p>Insert the <strong>CSS code</strong> into the <strong>CSS</strong> window. Insert the code below any other code that is already displayed.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_the_seller_ratings">3. Activating the seller ratings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can activate the Trusted Shops seller ratings in the <strong>Seller ratings</strong> tab.</p>
</div>
<div class="paragraph instruction">
<p>Activating the seller ratings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Services » Trusted Shops</strong>.</p>
</li>
<li>
<p>Click on the <strong>Seller ratings</strong> tab.</p>
</li>
<li>
<p>Select the <strong>language</strong> submenu that the <strong>Trusted Shops ID</strong> was registered for.</p>
</li>
<li>
<p>Enter your 33-digit <strong>Trusted Shops ID</strong>.<br>
→ If the ID that you entered has the correct format (33 characters, beginning with an "X"), then a <strong>green icon</strong> will be displayed for <strong>confirmation</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>plentymarkets can now communicate with Trusted Shops and will display a confirmation message if the activation was successful.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Trusted Shops ID</div>
<div class="paragraph">
<p>If an error should occur here, please note that it is not possible to activate a Trusted Shops ID for the same domain but for different languages. However, this is not the case when activating a Trusted Shop ID for a client (store) that is located on a subdomain (e.g. "test.test-store.com"). For further information, refer to <a href="https://www.trustedshops.co.uk/merchants/" target="_blank"><strong>Trusted Shops</strong></a> and the <a href="http://www.trustedshops.co.uk/merchants/service.html#topic=ratings" target="_blank"><strong>Trusted Shops FAQ</strong></a>. The <strong>Trusted Shops IDs</strong> which you save here form the basis for the Trusted Shops Trustbadge and the classic buyer protection. A Trusted Shops ID is only valid for an online store certified by Trusted Shops as well as for a specific language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_integrating_the_trusted_shops_seller_rating">3.1. Integrating the Trusted Shops Seller Rating</h3>
<div class="paragraph">
<p>If a Trusted Shops ID is activated, then insert the template variables for Trusted Shops (widget and "write a reviews" icon) into the online store. For further information, refer to the <strong><a href="/en/omni-channel/online-store/extras/_trusted-shops/seller-rating">Seller rating</a></strong> page of the manual.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_trusted_shops_trustbadge">4. Trusted Shops Trustbadge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can now save the Trusted Shops Trustbadge in your plentymarkets backend. Afterwards, you will insert the Trustbadge into your online store.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the Trusted Shops Trustbadge:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Services » Trusted Shops</strong>.</p>
</li>
<li>
<p>Click on the <strong>Trustbadge</strong> tab.</p>
</li>
<li>
<p>Select the <strong>language</strong> submenu that the <strong>Trusted Shops ID</strong> was registered for.</p>
</li>
<li>
<p>Enter your 33-digit <strong>Trusted Shops ID</strong>.<br>
→ If the ID that you entered has the correct format (33 characters, beginning with an "X"), then a <strong>green icon</strong> will be displayed for <strong>confirmation</strong> and a link to the Trustbadge generator will be displayed.</p>
</li>
<li>
<p>Click on the link <strong>Trustbadge generator</strong> which is located above the editing window <strong>Wildcard character HTML</strong>.<br>
→ You will be forwarded to the Trusted Shops website. Leave the tab <strong>Trustbadge</strong> open.</p>
</li>
<li>
<p>Follow the instructions given by Trusted Shops.</p>
</li>
<li>
<p>Go back to the <strong>Trusted Shops Trustbadge</strong> tab that you left open and insert the HTML code from Trusted Shops into the editing window (Ctrl or cmd + V).</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
<li>
<p>Do not close this window, since you will carry out the settings for the following section (<strong>Integrating the Trusted Shops Trustbadge in your online store</strong>) here too.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Trusted-Shops-03.png" alt="EN Settings Client Standard Services Trusted Shops 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: HTML code of a Trusted Shops seal box from the <strong>Trusted Shops Trustbadge generator</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_integrating_the_trusted_shops_trustbadge_in_your_online_store">5. Integrating the Trusted Shops Trustbadge in your online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Check the <strong>requirements</strong> for the integration of the Trusted Shops Trustbadge:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You have saved a valid Trusted Shops ID in the <strong>Trustbadge</strong> tab (section 2).</p>
</li>
<li>
<p>You have configured the Trustbadge and saved the Trustbadge as well as the background graphic on your computer.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Integrating the Trusted Shops Trustbadge in your online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Services » Trusted Shops</strong>.</p>
</li>
<li>
<p>Click on the <strong>Trustbadge</strong> tab.</p>
</li>
<li>
<p>Go to <strong>CMS » Image gallery</strong>.</p>
</li>
<li>
<p>Open the desired folder.</p>
</li>
<li>
<p>Click on <strong>Upload files</strong> and upload the <strong>Trusted Shops Trustbadge</strong> from your local hard drive into your plentymarkets system. If desired, load the <strong>background graphic</strong> as well.</p>
</li>
<li>
<p>Copy the <strong>Trustbadge’s URL</strong> (Ctrl or cmd + C). In the HTML editing window of the <strong>Trustbadge</strong> tab, mark the URL behind <strong>src=</strong> and enter the URL from the clipboard there (Ctrl or cmd + V).</p>
</li>
<li>
<p>Copy the <strong>URL of the background graphic</strong> and insert it into the HTML editing window instead of the URL behind the HTML entry <strong>background-image: url</strong> in the HTML code.</p>
</li>
<li>
<p>Use relative path specifications (without "http://www.your-store.com/") as shown in the image below. This means that you have to delete the path up to <strong>images</strong>. If you want to use the Trustbadge in HTML e-mail templates too, then use absolute path specifications (including "http://www.your-store.com/"). Otherwise the graphics can not be accessed.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Client-Standard-Services-Trusted-Shops-04.png" alt="EN Settings Client Standard Services Trusted Shops 04">
</div>
</div>
<div class="paragraph">
<p>+
<em>Image 4: graphic path specification in the HTML code</em></p>
</div>
<div class="paragraph instruction">
<p>Integrating the variable in the template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout » PageDesign » PageDesignContent » Tab: PageDesignContentMainFrame</strong>.</p>
</li>
<li>
<p>Click on the link <strong>Template variables and template functions</strong> and open the folder <strong>Global / PageDesignTemplateVars</strong>. Copy the variable <strong>$TrustedShopsSeal</strong>.</p>
</li>
<li>
<p>Insert the variable in an appropriate location in the <strong>PageDesignContent</strong> template, e.g. after the <strong>languages</strong> section.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
<li>
<p>Check to make sure that the Trustbadge is correctly displayed in the online store.</p>
</li>
</ol>
</div>
</div>
</div>
</main>