<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_twenga"><span>1.</span><span> General information about Twenga</span></a></li>
<li><a href="#_registering_with_twenga"><span>2.</span><span> Registering with Twenga</span></a></li>
<li><a href="#_activating_twenga_in_plentymarkets"><span>3.</span><span> Activating Twenga in plentymarkets</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Twenga</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Client (store) » Standard » Services » Twenga</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_twenga">1. General information about Twenga</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With over 300 million products listed by more than 200.000 merchants and millions of users, <a href="http://www.twenga.co.uk/" target="_blank"><strong>Twenga</strong></a> is one of the most comprehensive shopping search engines available. Twenga uses a unique technology to list all shop and product information available online on just one site. The company does business in 15 countries, e.g. in France, Germany, Australia and Spain. Twenga gives you the possibility to present your items and to grow your customer base.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_registering_with_twenga">2. Registering with Twenga</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to take advantage of the services provided by Twenga, you need to register first. In doing so, you will receive the <strong>Twenga hashkey</strong> that you need for the configuration in plentymarkets. Contact <a href="https://rts.twenga.co.uk/signup" target="_blank"><strong>Twenga</strong></a> to register.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_twenga_in_plentymarkets">3. Activating Twenga in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to activate Twenga for your standard store, save your unique <strong>Twenga hashkey</strong> that you received when registering with Twenga.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/extras/assets/EN-Settings-Clients-Standard-Ext-Twenga-01-SI.png" alt="EN Settings Clients Standard Ext Twenga 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>activating</strong> Twenga</em></p>
</div>
<div class="paragraph instruction">
<p>Activating Twenga:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Services » Twenga</strong>.</p>
</li>
<li>
<p>Select the <strong>Ready to sell</strong> service from the drop-down menu.</p>
</li>
<li>
<p>Enter the <strong>hashkey</strong> that you received from Twenga.</p>
</li>
<li>
<p>Place a <strong>check mark</strong> next to the option <strong>Active</strong> to activate the module.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>As soon as you have set up Twenga in plentymarkets your items will be retrieved and integrated.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Clients</div>
<div class="paragraph">
<p>Twenga needs to be individually activated for each <em><strong>client</strong></em> in plentymarkets. This means that you need to separately register with Twenga for each client. You will receive a new <strong>hashkey</strong> for each client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>