<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_registering_with_yoochoose"><span>1.</span><span> Registering with YOOCHOOSE</span></a></li>
<li><a href="#_setting_up_yoochoose_in_plentymarkets"><span>2.</span><span> Setting up YOOCHOOSE in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#_configuring_recommendations_and_layout"><span>2.1.</span><span> Configuring recommendations and layout</span></a></li>
<li><a href="#_export_purchase_history"><span>2.2.</span><span> Export purchase history</span></a></li>
<li><a href="#_retrieving_statistics"><span>2.3.</span><span> Retrieving statistics</span></a></li>
<li><a href="#_relevant_template_variables_and_template_functions"><span>2.4.</span><span> Relevant template variables and template functions</span></a>
<ul class="sectlevel3">
<li><a href="#_container_yoochoose_recommendations"><span>2.4.1.</span><span> Container_YOOCHOOSE_Recommendations</span></a></li>
<li><a href="#_link_crosssellingitem"><span>2.4.2.</span><span> Link_CrossSellingItem()</span></a></li>
<li><a href="#_additional_mandatory_parameters_for_the_template_function_link_crosssellingitem"><span>2.4.3.</span><span> Additional mandatory parameters for the template function Link_CrossSellingItem()</span></a></li>
<li><a href="#_additional_mandatory_parameters_for_the_template_function_link_item"><span>2.4.4.</span><span> Additional mandatory parameters for the template function Link_Item()</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>YOOCHOOSE</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The external service provider YOOCHOOSE offers an alternative to plentymarkets cross-selling. YOOCHOOSE offers online store customers individually tailored cross-selling recommendations that are based on statistical analyses of the user’s behavior. The YOOCHOOSE Recommender Engine offers personalised product recommendations by combining knowledge about your products with your customers' consumer behavior to give individual recommendations. Recommendations range from the simple Amazon approach of "Customers Who Bought This Item Also Bought" all the way to individually personalized recommendations and recommendations that automatically improve over time.</p>
</div>
<div class="paragraph">
<p>YOOCHOOSE offers the following features:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Calculating recommendations:</strong>Latest patented algorithms are used to calculate precise recommendations based on a combination of the user’s activity and knowledge of your portfolio.</p>
</li>
<li>
<p><strong>Situation-based presentation:</strong> The placement as well as the context on both the main pages and detailed pages have an influence on the algorithms and filters that are used.</p>
</li>
<li>
<p><strong>Optimization with the help of filters:</strong> The use of suitable filters for categories, duplicates, time frames or previously displayed recommendations will greatly improve the quality of recommendations.</p>
</li>
<li>
<p><strong>Fallback:</strong> If there is no usage or profile data available for a particular item or customer, then fall-back solutions will be used automatically to give suitable recommendations.</p>
</li>
<li>
<p><strong>Statistical analysis:</strong> Statistical analyses of the solution’s utilization and acceptance.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_registering_with_yoochoose">1. Registering with YOOCHOOSE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to register with YOOCHOOSE.</p>
</div>
<div class="paragraph instruction">
<p>Registering with YOOCHOOSE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Yoochoose</strong>.</p>
</li>
<li>
<p>Click on the link to <strong>Register now</strong>.<br>
→ The YOOCHOOSE registration page opens.</p>
</li>
<li>
<p>Register as described on the external registration page.<br>
→ You are assigned a customer number and a license key for setting up YOUCHOOSE in plentymarkets.</p>
</li>
<li>
<p>Switch back to the plentymarkets back end.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out further settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. YOOCHOOSE; registration</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Registration</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Link to the YOOCHOOSE website. Click on the link to register.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the customer number you received during the registration process.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>License key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the license key you received during the registration process.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tracking activated</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yes</strong> = The store’s user-related data will be transferred to YOOCHOOSE.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retrieve recommendations</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yes</strong> = Item data will be retrieved for cross-selling with YOOCHOOSE.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_setting_up_yoochoose_in_plentymarkets">2. Setting up YOOCHOOSE in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have entered your YOOCHOOSE registration details, additional tabs are displayed that allow you to set up YOOCHOOSE in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="_configuring_recommendations_and_layout">2.1. Configuring recommendations and layout</h3>
<div class="paragraph">
<p>With the options that you set in this tab, you decide which items should be offered to a customer as cross-selling items. While the options for the category layout provide more general results, the possibilities for the item layout are more specific.</p>
</div>
<div class="paragraph instruction">
<p>Configuring recommendations and layout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Yoochoose</strong>.</p>
</li>
<li>
<p>Click on the <strong>Configuration</strong> tab.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Configuration</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Recommendations for category layout</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an option for the category layout.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Layout</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the template for displaying the cross-selling item layouts in your online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Recommendations for item layout</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an option for the item layout.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Layout</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the template for displaying the cross-selling item layouts in your online store. The <strong>ArticleListCrossSelling</strong> template is selected by default. You could select <strong>ArticleListCrossSelling2</strong> as a variation of this template and use it e.g. to save differing settings. As such, you have the possibility of setting different layouts depending on your needs.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_export_purchase_history">2.2. Export purchase history</h3>
<div class="paragraph">
<p>Use the <strong>Export purchase history</strong> function to create a one-time record of information on the items you sold in your online store so far. YOOCHOOSE will use this information to create reliable recommendations out of the box.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only export purchase history once</div>
<div class="paragraph">
<p>Only run the <strong>Export purchase history</strong> function once at the very start of your cooperation with YOOCHOOSE. Providing YOOCHOOSE with the purchase history more than once will result in incorrect recommendations.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Exporting the purchase history:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Yoochoose</strong>.</p>
</li>
<li>
<p>Click on the <strong>Purchase history</strong> tab.</p>
</li>
<li>
<p>Select the purchase history period to export.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to export the data.<br>
→ The data will be transferred to YOOCHOOSE.<br>
<strong><em>Tip:</em></strong> YOOCHOOSE does not import data instantaneously. YOOCHOOSE will let you know when the import is complete.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_retrieving_statistics">2.3. Retrieving statistics</h3>
<div class="paragraph">
<p>Proceed as described below to retrieve a list of events and clicks associated with YOOCHOOSE.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving statistics:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » Yoochoose</strong>.</p>
</li>
<li>
<p>Open the <strong>Statistics</strong> tab.<br>
→ The statistics are shown in chronological order.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_relevant_template_variables_and_template_functions">2.4. Relevant template variables and template functions</h3>
<div class="sect3">
<h4 id="_container_yoochoose_recommendations">2.4.1. Container_YOOCHOOSE_Recommendations</h4>
<div class="paragraph">
<p><strong>Container_YOOCHOOSE_Recommendations</strong> corresponds to the template <strong>Container_ItemViewCrossSellingItemsList</strong> or <strong>Container_ItemViewCrossSellingItemsList2</strong>. However, it only uses the items that were recommended by YOOCHOOSE.</p>
</div>
</div>
<div class="sect3">
<h4 id="_link_crosssellingitem">2.4.2. Link_CrossSellingItem()</h4>
<div class="paragraph">
<p>The target of the link corresponds to the template function <strong>Link_Item()</strong>. However, an additional parameter is added here, which identifies the viewed items as cross-selling items after the link was clicked on. That is necessary for the collection of data for YOOCHOOSE, but it can also be used for other applications. The parameter that was transferred is called <strong>from_crossselling</strong> and it has the value <strong>1</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_additional_mandatory_parameters_for_the_template_function_link_crosssellingitem">2.4.3. Additional mandatory parameters for the template function Link_CrossSellingItem()</h4>
<div class="paragraph">
<p>These additional mandatory parameters for the template function Link_CrossSellingItem() ensure that categories are transferred correctly. Note that the code may neither contain spaces nor line breaks.</p>
</div>
<div class="paragraph">
<p><strong>[Link_CrossSellingItem()_]&amp;yc1=[Request_CategoryId_Level1]&amp;yc2=[Request_CategoryId_Level2]&amp;yc3=[Request_CategoryId_Level3]&amp;yc4=[Request_CategoryId_Level4]&amp;yc5=[Request_CategoryId_Level5]&amp;yc6=[Request_CategoryId_Level6]</strong></p>
</div>
</div>
<div class="sect3">
<h4 id="_additional_mandatory_parameters_for_the_template_function_link_item">2.4.4. Additional mandatory parameters for the template function Link_Item()</h4>
<div class="paragraph">
<p>These additional mandatory parameters for the template function Link_Item() ensure that categories are transferred correctly. Note that the code may neither contain spaces nor line breaks.</p>
</div>
<div class="paragraph">
<p><strong>&#123;&#37;&nbsp;Link_CrossSellingItem($_itemID)&nbsp;&#37;&#125;&amp;yc1=$Request_CategoryId[Level1]&amp;yc2=$Request_CategoryId[Level2]&amp;yc3=$Request_CategoryId[Level3]&amp;yc4=$Request_CategoryId[Level4]&amp;yc5=$Request_CategoryId[Level5]&amp;yc6=Request_CategoryId[Level6]</strong></p>
</div>
<div class="paragraph">
<p>The parameters for <strong>Link_Item()</strong> have to be supplemented in the store layout in all item lists (e.g. ItemViewCategoriesList).</p>
</div>
</div>
</div>
</div>
</div>
</main>