<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_faq_zum_variantenexport"><span>1.</span><span> FAQ zum Variantenexport</span></a></li>
<li><a href="#_faq_zu_amazon_fba"><span>2.</span><span> FAQ zu Amazon FBA</span></a></li>
<li><a href="#_faq_zu_amazon_mfn"><span>3.</span><span> FAQ zu Amazon MFN</span></a></li>
<li><a href="#_faq_zum_rechnungsimport"><span>4.</span><span> FAQ zum Rechnungsimport</span></a></li>
<li><a href="#_faq_zum_preisabgleich"><span>5.</span><span> FAQ zum Preisabgleich</span></a></li>
<li><a href="#_faq_zum_bestandsabgleich"><span>6.</span><span> FAQ zum Bestandsabgleich</span></a></li>
<li><a href="#_häufige_fehlermeldungen"><span>7.</span><span> Häufige Fehlermeldungen</span></a></li>
<li><a href="#_liste_der_best_practices"><span>8.</span><span> Liste der Best Practices</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ-Sammlung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet dir umfassende Möglichkeiten, deine Produkte bei Amazon zu verkaufen. Bei so viel Funktionsumfang kann auch mal was schiefgehen. Hier findest du eine Sammlung der FAQs, Best Practices und Lösungen, die wir zum Thema Verkauf auf Amazon anbieten. Wenn das Handbuch dir keine Lösung liefert, hilft unser Support-Team dir gern weiter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_zum_variantenexport">1. FAQ zum Variantenexport</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-artikeldatenexport">Warum wird mein Artikel nicht zu Amazon exportiert?</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-artikeldatenexport#100">Wie erkenne ich, ob ein Artikel nicht exportiert wurde?</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-artikeldatenexport#260">Wie kann ich testen, ob der Artikel exportiert wurde?</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_zu_amazon_fba">2. FAQ zu Amazon FBA</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-manuelle-berichtserstellung-fba">Amazon FBA-Retouren/FBA-Aufträge fehlen bzw. wurden nicht importiert</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-manuelle-berichtserstellung-fba#100">Vorgehensweise, wenn FBA-Retouren fehlen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-manuelle-berichtserstellung-fba#200">Vorgehensweise, wenn FBA-Aufträge fehlen</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_zu_amazon_mfn">3. FAQ zu Amazon MFN</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-mfn-auftragsimport">MFN-Aufträge werden nicht importiert</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_zum_rechnungsimport">4. FAQ zum Rechnungsimport</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/amazon-einrichten#7010">Nicht alle Rechnungen für Amazon-Aufträge wurden zu Amazon hochgeladen</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_zum_preisabgleich">5. FAQ zum Preisabgleich</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/varianten-vorbereiten#67001">Welche Einstellungen muss ich vornehmen, damit Preise an Amazon übermittelt werden?</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_zum_bestandsabgleich">6. FAQ zum Bestandsabgleich</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/varianten-vorbereiten#67002">Welche Einstellungen muss ich vornehmen, damit Bestände an Amazon übermittelt werden?</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_häufige_fehlermeldungen">7. Häufige Fehlermeldungen</h2>
<div class="sectionbody">
<table id="amazon-faq-fehlermeldungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Häufige Fehlermeldungen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Fehlermeldung</th>
<th class="tableblock halign-left valign-top">Link zu Lösungsvorschlägen</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Error:TermsAndConditionsNotAccepted, Type: Sender</p>
</li>
<li>
<p>Error:InvalidRequest, Type: Sender</p>
</li>
<li>
<p>Error:ShipmentAlreadyExists, Type: Sender</p>
</li>
<li>
<p>Error:no AmazonPrime Service selected</p>
</li>
<li>
<p>Error:ShippingServiceNotAvailable, Type: Sender</p>
</li>
<li>
<p>Error:ResourceNotFound, Type: Sender</p>
</li>
<li>
<p>No Valid Warehouse Address</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/maerkte/amazon/best-practices-amazon-prime#200">Amazon Prime: Fehlermeldungen und wie sie gelöst werden können</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Error:Access to Reports. (GetReportScheduleList) is denied</p>
</li>
<li>
<p>ERROR: AuthToken is not valid for SellerId and AWSAccountId</p>
</li>
<li>
<p>Access denied.</p>
</li>
<li>
<p>The seller does not have an eligible Amazon account to call Amazon MWS</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/maerkte/amazon/best-practices-amazon-mfn-auftragsimport">MFN: MFN-Aufträge werden nicht importiert</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Request is throttled</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/maerkte/amazon/best-practices-amazon-fehler-request-throttled">Fehlermeldung: Request is throttled</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_liste_der_best_practices">8. Liste der Best Practices</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-vcs">Best Practice: Rechnungsservice VCS nutzen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-prime">Best Practice: Amazon Prime</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-prime#100">Wie sieht der Verlauf eines Prime-Auftrags bei uns aus?</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/best-practices-amazon-prime#200">Fehlermeldungen und wie sie gelöst werden können</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</main>