<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> Vorbereitungen treffen</span></a>
<ul class="sectlevel2">
<li><a href="#10"><span>1.1.</span><span> Kategorien erstellen</span></a></li>
<li><a href="#20"><span>1.2.</span><span> Attribute erstellen</span></a></li>
<li><a href="#30"><span>1.3.</span><span> Verkaufspreis anpassen</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Artikelstruktur verstehen</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>2.1.</span><span> Artikelübersicht verstehen</span></a></li>
<li><a href="#60"><span>2.2.</span><span> Beispielartikel verstehen</span></a>
<ul class="sectlevel3">
<li><a href="#65"><span>2.2.1.</span><span> Beispielartikel anzeigen</span></a></li>
</ul>
</li>
<li><a href="#90"><span>2.3.</span><span> Beispielartikel löschen</span></a></li>
</ul>
</li>
<li><a href="#220"><span>3.</span><span> Artikel und Varianten erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>3.1.</span><span> Artikel manuell erstellen</span></a></li>
<li><a href="#110"><span>3.2.</span><span> Varianten manuell erstellen</span></a></li>
<li><a href="#120"><span>3.3.</span><span> Artikel und Varianten importieren</span></a>
<ul class="sectlevel3">
<li><a href="#230"><span>3.3.1.</span><span> Das Konzept verstehen</span></a></li>
<li><a href="#130"><span>3.3.2.</span><span> Deine eigene Importdatei erstellen</span></a></li>
<li><a href="#140"><span>3.3.3.</span><span> Deine Datei hochladen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#170"><span>4.</span><span> Artikelbilder speichern</span></a>
<ul class="sectlevel2">
<li><a href="#180"><span>4.1.</span><span> Artikelbilder hochladen</span></a></li>
<li><a href="#190"><span>4.2.</span><span> Artikelbilder mit Varianten verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>5.</span><span> Checkliste Artikelkatalog</span></a></li>
<li><a href="#210"><span>6.</span><span> Mehr zum Thema Artikelkatalog aufbauen</span></a>
<ul class="sectlevel2">
<li><a href="#_vorbereitungen_treffen"><span>6.1.</span><span> Vorbereitungen treffen</span></a></li>
<li><a href="#_artikel_verwalten"><span>6.2.</span><span> Artikel verwalten</span></a></li>
<li><a href="#_artikelbilder_verwalten"><span>6.3.</span><span> Artikelbilder verwalten</span></a></li>
<li><a href="#_daten_importieren"><span>6.4.</span><span> Daten importieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelkatalog aufbauen</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon Lieferländer eingerichtet und in Regionen eingeteilt, das Versandprofil eingerichtet und die Versandkosten festgelegt? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg/schnelleinstieg-versandoptionen">Versandoptionen einstellen</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nun pflegst du deine Produkte in plentymarkets ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="5">1. Vorbereitungen treffen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets werden einige Artikelinformationen zentral verwaltet und mit Varianten verknüpft. Deshalb musst du diese Daten im System speichern, bevor du Varianten erstellen kannst. Die folgenden Artikelinformationen müssen im System vorhanden sein, damit du Artikel und Varianten erstellen kannst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Verkaufspreise</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Nun erfährst du, wie du diese Informationen in plentymarkets speicherst.</p>
</div>
<div class="sect2">
<h3 id="10">1.1. Kategorien erstellen</h3>
<div class="paragraph">
<p>Mit Kategorien des Typs <strong>Artikel</strong> strukturierst du dein Produktsortiment und gestaltest deinen Webshop übersichtlich. Jeder Artikel muss mindestens einer Kategorie zugeordnet sein.</p>
</div>
<div class="paragraph">
<p>Im Webshop Ceres kannst du dich für eine Kategorietiefe von 2 oder von bis zu 4 Ebenen entscheiden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 Hauptkategorie + 1 Unterkategorie</p>
<div class="ulist">
<ul>
<li>
<p>In der Standard-Navigationsleiste wird unterhalb der Hauptkategorien maximal eine weitere Kategorieebene dargestellt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>1 Hauptkategorie + bis zu 3 Unterkategorien</p>
<div class="ulist">
<ul>
<li>
<p>Über das Megamenü sind bis zu drei weitere Ebenen unterhalb der Hauptkategorien darstellbar.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kategoriestruktur planen</div>
<div class="paragraph">
<p>Überlege dir, welche Kategorien und Unterkategorien für deine Produkte sinnvoll sind. Mit welcher Sortierung findet man sich am besten in deinem Shop zurecht? Trage diese Informationen am besten zusammen, bevor du loslegst. Eine Baumstruktur zu skizzieren kann dir helfen, deine Produkte sinnvoll zu gruppieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Hauptkategorie zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Hauptkategorie erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den Mandanten, für den du die Kategorie erstellen möchtest.<br>
<strong><em>Tipp:</em></strong> Der Standard-Mandant ist bereits vorausgewählt.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.<br>
<strong><em>Tipp:</em></strong> Die Option <strong>Hauptkategorie</strong> ist standardmäßig ausgewählt.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die Kategorie wird erstellt.<br>
→ Das Tab <strong>Einstellungen</strong> der Kategorie wird geöffnet.<br></p>
</li>
<li>
<p>Gib eine <strong>Position</strong> ein. Über die Position legst du die Reihenfolge fest, in der die Kategorien im Webshop angezeigt werden. Standardmäßig hat jede neue Kategorie, die du anlegst, die Position 0.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in Zehnerschritten vergeben, damit neue Kategorien dazwischen eingefügt werden können.</p>
</li>
<li>
<p>Aktiviere die <strong>Mandanten (Shops)</strong>, in denen die Kategorie verfügbar sein sollen.</p>
</li>
<li>
<p>Gib einen <strong>Meta-Titel</strong> ein.<br>
<strong><em>Tipp:</em></strong> Der Meta-Titel wird im Tab des Browsers angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Kategorie wird erstellt.<br>
<strong><em>Hinweis:</em></strong> Die Kategorie wird erst im Webshop angezeigt, wenn mindestens ein für den Mandanten sichtbarer Artikel mit der Kategorie verknüpft ist.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun erstellst du eine Unterkategorie zu der Hauptkategorie, die du eben erstellt hast.</p>
</div>
<div class="paragraph instruction">
<p>Unterkategorie erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.<br></p>
</li>
<li>
<p>Wähle die Option <strong>Unterkategorie</strong>.</p>
</li>
<li>
<p>Klicke auf die Hauptkategorie, für die du die Unterkategorie erstellen möchtest.<br>
<strong><em>Tipp:</em></strong> Um eine Unterkategorie der dritten oder vierten Ebene zu erstellen, klicke in der Liste auf das Symbol der Hauptkategorie, um den Ordner zu öffnen. Öffne dann die Ordner der Unterkategorien auf die gleiche Weise, bis du die Kategorie erreichst, zu der du eine Unterkategorie erstellen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die Kategorie wird erstellt.<br>
→ Das Tab <strong>Einstellungen</strong> der Kategorie wird geöffnet.</p>
</li>
<li>
<p>Gib eine <strong>Position</strong> ein. Über die Position legst du die Reihenfolge fest, in der die Kategorien im Webshop angezeigt werden. Standardmäßig hat jede neue Kategorie, die du anlegst, die Position 0.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in Zehnerschritten vergeben, damit neue Kategorien dazwischen eingefügt werden können.</p>
</li>
<li>
<p>Aktiviere die <strong>Mandanten (Shops)</strong>, in denen die Kategorie verfügbar sein sollen.</p>
</li>
<li>
<p>Gib einen <strong>Meta-Titel</strong> ein.<br>
<strong><em>Tipp:</em></strong> Der Meta-Titel wird im Tab des Browsers angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Kategorie wird erstellt.<br>
<strong><em>Hinweis:</em></strong> Die Kategorie wird erst im Webshop angezeigt, wenn mindestens ein für den Mandanten sichtbarer Artikel mit der Kategorie verknüpft ist.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Die neuen Kategorien werden nicht im Webshop angezeigt?</div>
<div class="paragraph">
<p>Wenn deine Kategorien nicht im Webshop angezeigt werden, hilft dir unsere <a href="/artikel/best-practices#kategorien">Checkliste für die Kategoriesichtbarkeit im Webshop</a> weiter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="20">1.2. Attribute erstellen</h3>
<div class="paragraph">
<p>Attribute dienen dazu, Varianten zu erstellen. Varianten sind verschiedene Ausführungen eines Artikels, die sich sehr ähnlich sind, sich aber in einer oder mehreren Eigenschaften unterscheiden. Typische solche Attribute sind zum Beispiel Farben und Größen. Damit du nicht für jedes Produkt einen eigenen Artikel erstellen musst, werden diese Eigenschaften in plentymarkets als Attribute erstellt und einem Artikel zugeordnet. Unten wird beispielhaft beschrieben, wie du das Attribut <strong>Farbe</strong> erstellst.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>Ein Artikel soll in 3 Farben verkauft werden. Diese 3 Farbvarianten sollen bei der Bestellung wählbar sein. Statt 3 Artikel zu erstellen, wird ein Artikel mit drei Varianten erstellt. Die Varianten werden über Attributwerte gebildet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Attribut "Farbe" erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Attribut</strong>.<br>
→ Das Fenster <strong>Neues Attribut</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen <strong>Namen (intern)</strong> ein, z.B. <strong>Farbe</strong>.<br>
<strong><em>Tipp:</em></strong> Dieser interne Name ist im Webshop nicht sichtbar.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Attribut wird erstellt.<br>
→ Das Tab <strong>Grundeinstellungen</strong> des Attributs wird geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Name</strong>.</p>
</li>
<li>
<p>Gib Namen für das Attribut in den Sprachen ein, die du in deinem Webshop verwendest.<br>
→ Dieser Name wird im Webshop angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun erstellst du Attributwerte für das Attribut. Hier wird beispielhaft beschrieben, wie du den Wert "Grün" erstellst.</p>
</div>
<div class="paragraph instruction">
<p>Wert "Grün" für das Attribut "Farbe" erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Wert</strong>.<br>
→ Das Fenster <strong>Neuer Wert</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen <strong>Namen (intern)</strong> ein, z.B. <strong>Grün</strong>.<br>
<strong><em>Tipp:</em></strong> Dieser interne Name ist im Webshop nicht sichtbar.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Wert wird erstellt.<br>
→ Der Wert wird in der Liste angezeigt.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Name</strong> einen Namen für den Wert ein.<br>
<strong><em>Tipp:</em></strong> Standardmäßig wird der interne Name eingefügt.<br>
→ Dieser Name wird im Webshop angezeigt.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wenn du deine Produkte in mehreren Sprachen anbietest, wähle im Dropdown-Menü <strong>Sprache anzeigen</strong> die weiteren Sprachen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib in der Spalte <strong>Name</strong> einen Namen für den Wert in dieser Sprache ein.<br>
→ Dieser Name wird später im Webshop angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="30">1.3. Verkaufspreis anpassen</h3>
<div class="paragraph">
<p>Definiere Bedingungen für Artikelpreise und Sonderpreise. Möchtest du beispielsweise deine Artikel in deinem Webshop günstiger anbieten als auf Amazon? Kein Problem! In diesem Schritt bestimmst du die Konditionen für einzelne Marktplätze, Kundenklassen, Lieferländer usw.</p>
</div>
<div class="paragraph">
<p>Öffne das Menü <strong>Einrichtung</strong> und suche nach dem Assistenten <strong>Verkaufspreise</strong>. Nach Abschluss des Assistenten kannst du die erstellten Verkaufspreise <a href="/schnelleinstieg/schnelleinstieg-artikelkatalog#220">mit allen relevanten Varianten verknüpfen</a> und den eigentlichen Preisen eintragen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Artikelstruktur verstehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast nun die folgenden Artikelinformationen hinterlegt, die du benötigst, um deine Produkte in plentymarkets abzubilden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Verkaufspreis</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bevor du deine ersten Artikeldaten ins System einpflegst, solltest du dich kurz mit der Artikelübersicht und der Artikelstruktur vertraut machen. Wir erklären, wie die Artikelübersicht funktioniert und stellen dir die Beispielartikel vor, die in neuen Systemen gespeichert sind.</p>
</div>
<div class="sect2">
<h3 id="50">2.1. Artikelübersicht verstehen</h3>
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten</strong> werden alle Artikel und Varianten aufgelistet. In dieser Artikelübersicht kannst du Artikel und Varianten suchen, bearbeiten und neue Artikel erstellen.</p>
</div>
<div class="paragraph">
<p>In der Spalte links findest du Filter, um die Artikelsuche einzugrenzen. Zum Einstieg ist vor allem der Filter <strong>Aktiv</strong> wichtig. Mit diesem Filter legst du fest, ob in der Liste der Artikel nur Artikel und Varianten angezeigt werden, die für einen Webshop aktiviert sind. Standardmäßig ist dieser Filter auf <strong>Ja</strong> eingestellt. Das wird dir später, wenn du viele Artikel und Varianten hast, helfen, deine Artikel schneller zu bearbeiten. Am Anfang kann es aber verwirrend sein, denn Artikel, die nicht aktiv sind, werden nicht gefunden, wenn du auf <strong>Suchen</strong> klickst, ohne vorher den Filter auf <strong>Nein</strong> oder <strong>Alle</strong> zu setzen.</p>
</div>
</div>
<div class="sect2">
<h3 id="60">2.2. Beispielartikel verstehen</h3>
<div class="paragraph">
<p>Dein plentymarkets System enthält einige Beispielartikel und Beispielvarianten. Diese Beispieldaten helfen dir, dich mit der Struktur von Artikeln und Varianten vertraut zu machen, bevor du eigene Daten einpflegst.</p>
</div>
<div class="paragraph">
<p>Anhand dieser Beispielartikel werden wir dir kurz die Artikelstruktur erklären.</p>
</div>
<div class="sect3">
<h4 id="65">2.2.1. Beispielartikel anzeigen</h4>
<div class="paragraph instruction">
<p>Beispielartikel anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke in der Spalte links oben auf <strong>Suchen</strong>.<br>
→ Die Beispielartikel werden in der Artikelübersicht angezeigt.</p>
</li>
<li>
<p>Öffne die folgenden Artikel:</p>
<div class="ulist">
<ul>
<li>
<p>Den Einzelartikel "Sessel Floating Water", Artikel-ID 123</p>
</li>
<li>
<p>Den Variantenartikel "Zweisitzer Paradise Now", Artikel-ID 132</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke dich durch die Tabs des Artikels und der Varianten und mache dich mit den Einstellungsmöglichkeiten vertraut.<br>
→ <a href="#tabelle-beispielartikel">Tabelle 1</a> stellt die beiden Artikel gegenüber.</p>
</li>
<li>
<p>Teste die Funktionsweise der Vererbung:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Verknüpfe für die Variante 1065 des Artikels 132 im Tab <strong>Kategorien</strong> eine weitere Kategorie.<br>
→ Die bisher vererbte Kategorie wird direkt an der Variante gespeichert.<br>
→ Die Vererbung wird deaktiviert.</p>
</li>
<li>
<p>Klicke auf <strong>Vererbung aktivieren</strong>.<br>
→ Die Kategorie, die du verknüpft hast, wird entfernt.<br>
→ Die Kategorie der Hauptvariante wird übernommen.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<table id="tabelle-beispielartikel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einzel- und Variantenartikel</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Einzelartikel</th>
<th class="tableblock halign-left valign-top">Variantenartikel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">123</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">132</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sessel Floating Water</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweisitzer Paradise Now</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1030</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hauptvariante kaufbar</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja<br>
<strong><em>Tipp:</em></strong> Bei Einzelartikeln sollte das Produkt der Hauptvariante entsprechen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein<br>
<strong><em>Tipp:</em></strong> Bei Variantenartikeln sollte die Hauptvariante kein verkaufbares Produkt sein. Die Hauptvariante sollte nur dazu dienen, die anderen Varianten des Artikels per Vererbung mit Daten zu versorgen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Varianten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - rot<br>
1066 - weiß</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A &amp; C Design</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exclusive Leather</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis<br>
UVP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis<br>
UVP<br>
<strong><em>Tipp:</em></strong> Die Preise werden nicht von der Hauptvariante an die Varianten vererbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wohnzimmer » Sessel &amp; Hocker</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wohnzimmer » Sofas<br>
<strong><em>Tipp:</em></strong> Die Kategorie wird von der Hauptvariante an die Varianten vererbt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahlkombination<br>
(Attribut:Attributwert)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">---</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - Couch color:rot<br>
1066 - Couch color:white<br>
<strong><em>Tipp:</em></strong> Mit der Hauptvariante ist kein Attribut verknüpft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop<br>
<strong><em>Tipp:</em></strong> Der Mandant wird von der Hauptvariante an die Varianten vererbt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="90">2.3. Beispielartikel löschen</h3>
<div class="paragraph">
<p>Nachdem du dir die Beispielartikel angesehen hast, haben sie ihre Schuldigkeit getan und du kannst sie löschen. Damit stellst du sicher, dass du von Anfang an ein sauberes System ohne unnötige Daten hast. Am schnellsten löschst du die Beispielartikel mit der Gruppenfunktion.</p>
</div>
<div class="paragraph instruction">
<p>Beispielartikel per Gruppenfunktion löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Stelle den Filter <strong>Aktiv</strong> auf <strong>ALLE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Alle im System gespeicherten Artikel werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Spaltenüberschrift der Liste ganz oben links auf das Kontrollkästchen, um alle angezeigten Artikel zu markieren.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Artikel-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Artikel löschen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Alle Artikel werden aus dem System gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="220">3. Artikel und Varianten erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nun ist es so weit: Du pflegst deine eigenen Artikel in plentymarkets ein. Je nachdem, mit wie vielen Artikeln du starten möchtest und wie du Artikeldaten bisher verwaltest hast, hast du zwei Möglichkeiten, Artikeldaten ins System zu bringen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#100">Artikel manuell erstellen</a><br>
<strong><em>Tipp:</em></strong> Nachdem du den ersten Artikel erstellt hast, kannst du diesen Artikel kopieren und diese Kopie anpassen, um schneller zu arbeiten.</p>
</li>
<li>
<p><a href="#120">In einer CSV-Datei gespeicherte Artikeldaten importieren</a><br>
<strong><em>Tipp:</em></strong> Auch wenn du die Artikel importierst, solltest du vorher mindestens einen Beispielartikel manuell erstellen, um die Artikelstruktur kennenzulernen. Denke daran, diesen Beispielartikel vor dem Importieren zu löschen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beide Möglichkeiten werden nachfolgend beschrieben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Änderungen nicht sofort sichtbar</div>
<div class="paragraph">
<p>Neue Varianten und Änderungen an Variantendaten sind nicht sofort im Webshop und den Exporten verfügbar. Wie du prüfst, ob die Variantendaten aktuell sind, erfährst du auf der Handbuchseite <a href="/artikel/artikeldaten-status-pruefen">Aktualität von Artikeldaten prüfen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="100">3.1. Artikel manuell erstellen</h3>
<div class="paragraph">
<p>Nun erstellst du deinen ersten verkaufsbereiten Artikel. Damit du möglichst schnell loslegen kannst, beschreiben wir nur die nötigsten Einstellungen, die du vornehmen musst, damit der Artikel im Webshop verkauft werden kann.</p>
</div>
<div class="paragraph instruction">
<p>Artikel manuell erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet.<br>
<strong><em>Tipp:</em></strong> Der Artikeltyp <strong>Standard</strong> ist vorausgewählt.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Gib den Inhalt als Zahl ein.</p>
</li>
<li>
<p>Wähle für diesen Inhalt eine Einheit aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf die Kategorie.<br>
→ Diese Kategorie wird als Standardkategorie mit der Hauptvariante des Artikels verknüpft.</p>
</li>
<li>
<p>Gib einen <strong>Preis</strong> ein.<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Artikel wird erstellt.<br>
→ Eine Hauptvariante wird erstellt.<br>
→ Das Tab <strong>Global</strong> des Artikels wird geöffnet.</p>
</li>
<li>
<p>Nimm bei Bedarf weitere Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-artikel-bearbeiten">Tabelle 2</a>.<br>
<strong><em>Tipp:</em></strong> Die in <a href="#einstellungen-artikel-bearbeiten">Tabelle 2</a> beschriebenen Einstellungen beziehen sich auf verschiedene Tabs im Bearbeitungsfenster des Artikels. Das Tab wird in einer eigenen Zeile als Zwischenüberschrift angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
<strong><em>Hinweis:</em></strong> Neue Artikel und Änderungen an Artikeldaten sind nicht sofort im Webshop und den Exporten verfügbar.<br>
<strong><em>Tipp:</em></strong> Zeige eine Vorschau des Artikels an:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke in der Speicherzeile des Artikels auf das Augensymbol.<br>
→ Das Fenster <strong>Mandant (Shop)</strong> wird angezeigt.<br></p>
</li>
<li>
<p>Wähle in der Dropdown-Liste das <strong>Plugin Set</strong>, in dem du die Vorschau anzeigen möchtest.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste den <strong>Mandant (Shop)</strong>, in dem du die Vorschau anzeigen möchtest.<br>
<strong><em>Tipp:</em></strong> Die Einstellungen bleiben erhalten, wenn du die Vorschau das nächste Mal öffnest.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Eine Vorschau des Artikels wird angezeigt.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<table id="einstellungen-artikel-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Artikeleinstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentymarkets kann automatisch eine fortlaufende Nummer vergeben (empfohlen).<br>
Alternativ kannst du beim Erstellen eines Artikels eine eigene Artikel-ID eingeben. Die ID darf nur aus Zahlen bestehen. Jede ID darf nur einmal im System vorkommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Global</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Versandprofil <strong>DHL</strong> aktivieren. Standardmäßig ist kein Versandprofil aktiviert.<br>
<strong><em>Hinweis:</em></strong> Pro Artikel muss mindestens ein Versandprofil aktiviert werden, da sonst ungewollte Effekte bei der Versandkostenberechnung auftreten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Varianten-ID » Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel aktivieren. Artikel werden erst im Webshop angezeigt, wenn sie aktiv sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeitsstufe wählen.<br>
<strong><em>Tipp:</em></strong> Du bist gesetzlich verpflichtet, Verbraucherinnen und Verbraucher über die Lieferfristen deiner Produkte zu informieren. Im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> sind Standardtexte für 5 Verfügbarkeitsstufen gespeichert. Passe diese Texte bei Bedarf an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige im Webshop:</strong><br>
<strong>Automatisch verfügbar wenn Netto-WB positiv</strong>;
<strong>Automatisch nicht verfügbar wenn kein Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beide Optionen aktivieren. Die Variante ist dann bei positivem Nettowarenbestand verfügbar und käuflich und nicht käuflich, wenn kein Nettowarenbestand vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis <strong>Preis</strong> hinzufügen und einen Preis eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode hinzufügen und Code eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ASIN/ePID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN/ePID hinzufügen und ASIN bzw. ePID eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht brutto</strong>;<br>
<strong>Gewicht netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe in Gramm oder Kilogramm.<br>
<strong><em>Hinweis:</em></strong> Diese Angaben sind unbedingt erforderlich, wenn die Versandkosten auf Basis des Gewichts berechnet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzsteuer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuersatz des Produkts wählen.<br>
<strong><em>Tipp:</em></strong> Die Umsatzsteuersätze werden im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong> gepflegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Varianten-ID » Verfügbarkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop): Verfügbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den oder die Mandanten (Shops) aktivieren, in denen die Variante verfügbar sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Texte</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Namen für den Artikel eingeben.<br>
<strong><em>Tipp:</em></strong> Dieser Name wird im Webshop angezeigt. Der Name gilt für alle Varianten des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeltext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltext eingeben. Der Artikeltext ist eine detaillierte Produktbeschreibung, die im Webshop angezeigt wird.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="110">3.2. Varianten manuell erstellen</h3>
<div class="paragraph">
<p>Super! Du hast nun deinen ersten Artikel erstellt. Dir ist sicher aufgefallen, dass beim Erstellen eines neuen Artikels immer eine Hauptvariante erstellt wird. Wenn du nur Einzelartikel verkaufen möchtest, entspricht die Hauptvariante deinem Produkt. Wenn du deine Produkte als Varianten eines Artikels gruppieren möchtest, erstellst du nun weitere Varianten.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vererbung</div>
<div class="paragraph">
<p>Wenn du Varianten erstellst, erben diese Varianten standardmäßig die vererbbaren Einstellungen der Hauptvariante:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verfügbarkeitseinstellungen</p>
</li>
<li>
<p>Verkaufspreis und Preis</p>
</li>
<li>
<p>Kategorie</p>
</li>
<li>
<p>Lieferant</p>
</li>
<li>
<p>Lager</p>
</li>
<li>
<p>Mandantenverfügbarkeit</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Deshalb empfehlen wir, Artikel mit mehreren Varianten so zu erstellen, dass die Hauptvariante virtuell ist, also nur dazu dient, Daten an die Varianten zu vererben. Wenn ein oder mehrere Einstellungen nicht vererbt werden sollen, kannst du die Vererbung an der Variante selbst deaktivieren und für die Variante eigene Daten speichern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Eine oder mehrere Varianten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neue Variante erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Inhalt als Zahl ein.</p>
</li>
<li>
<p>Wähle für diesen Inhalt eine Einheit aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle ein oder mehrere Attribute.<br>
→ Unter <strong>Kombinationen</strong> wird angezeigt, wie viele Varianten erstellt werden.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten erstellen</strong>.<br>
→ Die Varianten werden erstellt.<br>
→ Die Varianten werden in der Variantenübersicht angezeigt.<br>
<strong><em>Tipp:</em></strong> Die vererbbaren Einstellungen werden von der Hauptvariante an die Varianten vererbt. <br>
<strong><em>Hinweis:</em></strong> Neue Varianten und Änderungen an Variantendaten sind nicht sofort im Webshop und den Exporten verfügbar.<br>
<strong><em>Tipp:</em></strong> Zeige eine Vorschau der Variante an:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke in der Speicherzeile der Variante auf das Augensymbol.<br>
→ Das Fenster <strong>Mandant (Shop)</strong> wird angezeigt.<br></p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Plugin Set</strong>, in welchem Plugin-Set du die Vorschau anzeigen möchtest.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Mandant (Shop)</strong>, in welchem Mandanten du die Vorschau anzeigen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Eine Vorschau der Variante wird angezeigt.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel kopieren</div>
<div class="paragraph">
<p>Wenn sich mehrere deiner Artikel ähnlich sind, kannst du bei der Artikelerstellung Zeit sparen, indem du Artikel kopierst und anpasst. Klicke dazu in der oberen Zeile des Artikels auf das Symbol <strong>Kopieren</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="120">3.3. Artikel und Varianten importieren</h3>
<div class="paragraph">
<p>Wenn du sofort eine größere Menge Artikeldaten importieren möchtest, ist das natürlich auch kein Problem. Um Daten von Artikeln und Varianten zu importieren, benötigst du diese Daten in einer CSV-Datei, die auf deinem Rechner gespeichert ist.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vor dem Import manuell einen Beispielartikel erstellen</div>
<div class="paragraph">
<p>Auch wenn du die Artikel importierst, solltest du vorher mindestens einen Beispielartikel manuell erstellen, um die Artikelstruktur kennenzulernen. Denke daran, diesen Beispielartikel vor dem Importieren zu löschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="230">3.3.1. Das Konzept verstehen</h4>
<div class="paragraph">
<p>Damit dir der Import leichter von der Hand geht, haben wir eine <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/musterdatei_initialer_artikelimport_190226.csv">Muster-CSV-Datei</a> vorbereitet, die die Datenfelder enthält, die du benötigst, um verkaufbare Artikel zu importieren.</p>
</div>
<div class="paragraph">
<p>Die CSV-Datei enthält einen Einzelartikel und einen Variantenartikel mit einer virtuellen Hauptvariante und 3 weiteren Varianten.</p>
</div>
<div class="paragraph">
<p>Lade dir die Muster-CSV-Datei herunter und mache dich damit vertraut, wie die Datei aufgebaut ist.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Spaltenüberschriften</div>
<div class="paragraph">
<p>Wir haben die Spaltenüberschriften genauso benannt wie die Felder, die du in <a href="/daten/daten-importieren/ElasticSync">ElasticSync</a> bei der Zuordnung als Ziel angibst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="130">3.3.2. Deine eigene Importdatei erstellen</h4>
<div class="paragraph">
<p>Bereite nun deine eigene CSV-Datei mit deinen Artikeldaten vor. Öffne das Menü <strong>Einrichtung</strong> und suche nach dem Assistenten <strong>Artikelimport</strong>. Damit erstellst du eine auf deine Bedürfnisse zugeschnittene Importvorlage für Artikeldaten. Nach Abschluss des Assistenten lädst du die Importvorlage herunter und befüllst sie mit deinen Artikeldaten.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alle nötige Vorbereitungen getroffen?</div>
<div class="paragraph">
<p>Prüfe vor dem Import, dass du wirklich alle Daten im System gespeichert hast, die du mit Artikeln und Varianten verknüpfen möchtest. Um Produkte in plentymarkets abbilden zu können, benötigst du mindestens:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Verkaufspreise</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="140">3.3.3. Deine Datei hochladen</h4>
<div class="paragraph">
<p>Bist du bereit, deine Artikeldaten in plentymarkets hochzuladen? Öffne das Menü <strong>Einrichtung</strong> und suche nach dem Assistenten <strong>Daten hochladen</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Suchst du umfangreichere Importoptionen?</div>
<div class="paragraph">
<p>Hast du einen spezifischen Anwendungsfall, den du nicht mit Assistenten abdecken kannst? Oder suchst du noch umfangreichere Importoptionen als in den Assistenten enthalten? <a href="/daten/daten-importieren/ElasticSync">ElasticSync</a> ist das passende Tool für komplexe und umfangreiche Datenimporte!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="170">4. Artikelbilder speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Import der Artikel hattest du die Möglichkeit, für online erreichbare Bilder eine URL anzugeben. Wenn deine Artikelbilder nicht online verfügbar sind, kannst du die Bilder wie hier beschrieben manuell speichern.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Wenn du deine Artikelbilder schon beim Artikelimport importiert hast, kannst du gleich zur <a href="#200">Checkliste</a> springen.
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="180">4.1. Artikelbilder hochladen</h3>
<div class="paragraph">
<p>Im Tab <strong>Bilder</strong> im Bearbeitungsfenster des Artikels speicherst du Bilder und verknüpfst diese Bilder mit den Varianten des Artikels. Pro Artikel sind bis zu 25 Bilder in den Formaten JPG/JPEG oder PNG möglich.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">FTP-Upload nutzen</div>
<div class="paragraph">
<p>Größere Bildmengen überträgst du am besten per FTP-Upload auf den Server. Beachte aber die Hinweise zur Benennung der Bilddateien, damit die Bilder beim Hochladen den richtigen Artikeln und Varianten zugeordnet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Bilder für einen Artikel speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong> des Artikels.</p>
</li>
<li>
<p>Ziehe neue Bilder per Drag &amp; Drop-Funktion in den Bereich <strong>Neues Bild einfügen</strong>.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Klicke auf <strong>Dateien auswählen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Verfügbarkeit</strong> die Mandanten und/oder Herkünfte, für die das Bild bereitgestellt werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">4.2. Artikelbilder mit Varianten verknüpfen</h3>
<div class="paragraph">
<p>Verknüpfe nun die am Artikel gespeicherten Bilder mit einer oder mehreren Varianten. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Artikelbilder mit Varianten verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong> des Artikels.<br>
→ Eine Vorschau der am Artikel gespeicherten Bilder wird angezeigt.</p>
</li>
<li>
<p>Setze ganz links ein Häkchen bei den Bildern, die du mit einer oder mehreren der Varianten verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke am unteren Ende der Seite auf <strong>Variantenverknüpfung</strong>.<br>
→ Das Fenster <strong>Varianten verknüpfen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Varianten, die du mit den gewählten Bildern verknüpfen möchtes.</p>
</li>
<li>
<p>Klicke auf <strong>Verknüpfen</strong>.<br>
→ Die Bilder werden mit den gewählten Varianten verknüpft.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">5. Checkliste Artikelkatalog</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Artikelkatalog zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du sinnvolle Kategorien für die Artikel erstellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du alle Artikel mit allen Beschreibungstexten erstellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Artikelverfügbarkeitsstufen korrekt eingestellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Verfügbarkeit aller Artikel aktiviert, die du im Webshop anbieten möchtest?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du geprüft, dass die richtigen Preise im Webshop angezeigt werden?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="210">6. Mehr zum Thema Artikelkatalog aufbauen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_vorbereitungen_treffen">6.1. Vorbereitungen treffen</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/kategorien-verwalten">Kategorien verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#390">Attribute verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#870">Verkaufspreise verwalten</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_artikel_verwalten">6.2. Artikel verwalten</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikelstruktur-kennenlernen">Artikelstruktur verstehen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#350">Filtermöglichkeiten für Artikel und Varianten in der Artikelansicht</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten">Artikel verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#155">Mehrere Artikel gleichzeitig bearbeiten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#330">Mehrere Varianten gleichzeitig bearbeiten</a></p>
</li>
<li>
<p><a href="/artikel/multipacks-pakete-sets-verwalten">Sets, Multipacks und Pakete erstellen</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Cross-Selling nutzen</div>
<div class="paragraph">
<p>Du möchtest direkt im Artikel auf weitere interessante Produkte aufmerksam machen? Dann richte <a href="/artikel/artikel-verwalten#950">Cross-Selling-Verknüpfungen ein</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_artikelbilder_verwalten">6.3. Artikelbilder verwalten</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#660">Artikelbilder per FTP-Server hochladen</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_daten_importieren">6.4. Daten importieren</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-importieren/ElasticSync">Sync für weitere Importe erstellen</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-warenbestand">Warenbestand buchen</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>