<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#510"><span>1.</span><span> Vorbereitung</span></a>
<ul class="sectlevel2">
<li><a href="#520"><span>1.1.</span><span> Rechtliche Angaben speichern</span></a></li>
<li><a href="#520"><span>1.2.</span><span> Standardlieferland, -versandart, -versandprofil und -zahlungsart einstellen</span></a></li>
</ul>
</li>
<li><a href="#560"><span>2.</span><span> Plugin-Set bereitstellen</span></a></li>
<li><a href="#570"><span>3.</span><span> Plugins einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#590"><span>3.1.</span><span> Plugin Ceres einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#600"><span>3.1.1.</span><span> Globale Einstellungen vornehmen</span></a></li>
<li><a href="#610"><span>3.1.2.</span><span> Startseite aktivieren</span></a></li>
<li><a href="#615"><span>3.1.3.</span><span> Ceres-Startseite mit dem ShopBuilder erstellen</span></a></li>
<li><a href="#620"><span>3.1.4.</span><span> Navigationsleiste einrichten</span></a></li>
<li><a href="#630"><span>3.1.5.</span><span> Artikellisten einrichten</span></a></li>
<li><a href="#640"><span>3.1.6.</span><span> Kaufabwicklung anpassen</span></a></li>
<li><a href="#650"><span>3.1.7.</span><span> Kundenbereich einrichten</span></a></li>
<li><a href="#660"><span>3.1.8.</span><span> SEO-Metadaten eingeben</span></a></li>
<li><a href="#665"><span>3.1.9.</span><span> Namen des Webshops und Öffnungszeiten bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#740"><span>3.2.</span><span> Automatischen E-Mail-Versand einrichten</span></a></li>
<li><a href="#_final_check"><span>3.3.</span><span> Final Check</span></a></li>
</ul>
</li>
<li><a href="#800"><span>4.</span><span> Mehr zum Thema Webshop</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Ceres-Webshop gestalten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du deinen Shop schon durch ein Plugin aus dem plentyMarketplace erweitert? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg/schnelleinstieg-plugins">Plugins dem System hinzufügen</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Auf dieser Seite erfährst du nun, wie du dir einen Ceres Webshop aufbaust. Nachdem du deinen Artikelkatalog aufgebaut und die Kategorien eingerichtet hast, erfährst du hier, wie du die benötigten Webshop-Plugins einrichtest und deinen Shop optisch gestaltest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="510">1. Vorbereitung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachfolgend findest du Informationen zu wichtigen Vorarbeiten für das Einrichten des Ceres Webshops sowie zu den Daten, die du für die grundlegenden Einstellungen deines Webshops benötigst.</p>
</div>
<div class="sect2">
<h3 id="520">1.1. Rechtliche Angaben speichern</h3>
<div class="paragraph">
<p>Für rechtliche Angaben stehen dir in Ceres passende Seiten zur Verfügung, auf denen du Rechtstexte anzeigen kannst. Im Menüpunkt <strong>Rechtliches</strong> speicherst du deine <strong>AGB</strong>, die <strong>Widerrufsbelehrung</strong>, das <strong>Widerrufsformular</strong>, die <strong>Datenschutzerklärung</strong> und das <strong>Impressum</strong> für deinen Webshop.</p>
</div>
<div id="310" class="paragraph instruction">
<p>AGB als Klartext eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Mandant » Mandant wählen » Webshop » Rechtliches</strong>.</p>
</li>
<li>
<p>Klappe die <strong>Sprache</strong> auf.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>AGB</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Text</strong>.</p>
</li>
<li>
<p>Gib den Text für deine AGB ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Gib die Texte für die <strong>Widerrufsbelehrung</strong>, das <strong>Widerrufsformular</strong>, die <strong>Datenschutzerklärung</strong> und das <strong>Impressum</strong> analog in den gewünschten Sprachen ein. Die Texte werden im <strong>Ceres</strong>-Webshop auf den zugehörigen Seiten angezeigt. Bei der Erstellung deiner Rechtstexte kannst du auf Mustertexte zurückgreifen. Lass die Texte am besten im Vorfeld von einem kundigen Fachanwalt prüfen.<br></p>
</div>
</div>
<div class="sect2">
<h3 id="520">1.2. Standardlieferland, -versandart, -versandprofil und -zahlungsart einstellen</h3>
<div class="paragraph">
<p>Stelle ein Standardlieferland, eine Standardversandart, ein Standardversandprofil und eine Standardzahlungsart ein. Diese sind für nicht-registrierte Besucher deines Webshops vorausgewählt. Für Ceres Webshops kannst du ausschließlich <strong>Plugin-Zahlungsarten</strong> verwenden, die du im link::https://marketplace.plentymarkets.com/plugins/payment[plentyMarketplace^] findest.</p>
</div>
<div id="250" class="paragraph instruction">
<p>Standardlieferland einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Mandant » Mandant wählen » Aufträge</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Standardlieferland</strong> ein Lieferland pro Sprache.</p>
</li>
<li>
<p>Wähle eine <strong>Standardversandart</strong>.</p>
</li>
<li>
<p>Wähle ein <strong>Standardversandprofil</strong>.</p>
</li>
<li>
<p>Wähle eine <strong>Standardzahlungsart</strong>.<br>
→ Für die Nutzung im Webshop <strong>Ceres</strong> muss eine <strong>Plugin-Zahlungsart</strong> gewählt werden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="560">2. Plugin-Set bereitstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In deinem plentymarkets System gibt es bereits ein Plugin-Set, in dem alle für einen erfolgreichen Start nötigen Plugins enthalten sind. Das Plugin <strong>IO</strong> stellt die Logik-Grundlage des Webshops zur Verfügung und muss von dir zunächst nicht angepasst werden. Das Plugin Ceres stellt das Standard-Design des Webshops dar und kann von dir nach Belieben angepasst werden. Die beiden Plugin-Zahlungsarten <strong>Vorkasse</strong> und <strong>Paypal</strong> sind bereits installiert, damit deine Kunden so schnell wie möglich in deinem Webshop einkaufen können.<br></p>
</div>
<div class="paragraph">
<p>Die installierten Plugins sind im Menü <strong>Plugins » Plugin-Übersicht</strong> verfügbar. Für den Anfang bietet es sich an, die Plugins über den <strong>Plugin-Set Vorschau</strong>-Button im Vorschaumodus zu testen. Der Vorschaumodus ist nur von Benutzern deines Systems zu erreichen. Einstellungen, die du am Webshop vornimmst, können anschließend über den <strong>Plugin-Set aktivieren</strong>-Button in den Live-Modus übernommen werden.</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Set im Vorschaumodus öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.<br>
→ Das Fenster <strong>Plugin-Set Details</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Plugins <strong>IO</strong> , <strong>Ceres</strong> und <strong>Vorkasse</strong> in der Spalte <strong>Aktiv</strong> durch Klick auf die Weltkugel.<br>
→ Aktivierte Plugins werden in der Spalte <strong>Aktiv</strong> blau hervorgehoben.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern &amp; Plugins bereitstellen</strong>.<br>
→ Der Bereitstellungsprozess wird angestoßen. Dies kann etwas Zeit in Anspruch nehmen.</p>
</li>
<li>
<p>Klicke auf <strong>Plugin-Set Vorschau</strong>.<br>
→ Der Webshop wird mit dem Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="570">3. Plugins einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du dir den Webshop mit Standardeinstellungen im Vorschaumodus angesehen haben, richtest du nun die Plugins nach deinen Wünschen ein.</p>
</div>
<div class="sect2">
<h3 id="590">3.1. Plugin Ceres einrichten</h3>
<div class="paragraph">
<p>Dein Webshop wird mit einem voll funktionsfähigen Testdesign angezeigt. Dieses Testdesign kannst du jederzeit nach deinen eigenen Vorstellungen ändern und ergänzen.</p>
</div>
<div class="sect3">
<h4 id="600">3.1.1. Globale Einstellungen vornehmen</h4>
<div class="paragraph">
<p>Globale Einstellungen, die sich auf den gesamten Webshop auswirken, nimmst du im Tab <strong>Global</strong> der Konfiguration des Plugins <strong>Ceres</strong> vor. Wähle zunächst das Firmenlogo und die angezeigten Kontaktdaten für deine Kontaktseite aus und speichere <a href="#680">Informationen über Versandkosten</a>.</p>
</div>
<div class="paragraph instruction">
<p>Globale Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf <strong>Konfiguration</strong>.<br>
→ Das Tab <strong>Global</strong> ist bereits vorausgewählt.</p>
</li>
<li>
<p>Lade unter <strong>Firmenlogo</strong> die Bilddatei deines Firmenlogos hoch.<br></p>
</li>
<li>
<p>Gib die <strong>E-Mail-Adresse des Kontaktforumlars</strong> ein.</p>
</li>
<li>
<p>Aktiviere unter <strong>Kontaktdaten anzeigen</strong> die Felder, die du auf der Kontaktseite anzeigen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Einrichten der Kontaktseite findest du unter <a href="/omni-channel/online-shop/ceres-einrichten#400">Google reCAPTCHA einrichten</a> und unter <a href="/omni-channel/online-shop/ceres-einrichten#405">Karte von Google Maps einrichten</a>.<br></p>
</div>
<div class="paragraph">
<p>Um deine Kunden über Versandkosten in deinem Shop zu informieren, verknüpfst du nun im Tab <strong>Global</strong> eine <strong>Kategorie zur Anzeige von Versandkosteninformationen</strong>.<br>
Erstelle hierfür zunächst eine Kategorie vom Typ <strong>Content</strong>.</p>
</div>
<div id="30" class="paragraph instruction">
<p>Kategorie vom Typ Content erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für die Kategorie ein.</p>
</li>
<li>
<p>Wähle die Kategorieart <strong>Hauptkategorie</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die neue Kategorie wird erstellt und im Kategoriebaum angezeigt.</p>
</li>
<li>
<p>Öffne die neue Kategorie links im Kategoriebaum.</p>
</li>
<li>
<p>Wähle für die Option <strong>Typ</strong> die Einstellung <strong>Content</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Aktiviere den <strong>Mandant (Shop)</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Template</strong>.</p>
</li>
<li>
<p>Gib den Inhalt ein, der im Webshop angezeigt werden soll. Dies kann sowohl Freitext als auch HTML sein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Du gibst Inhalte für Content-Kategorien im Tab <strong>Template</strong> ein, nicht in den Tabs <strong>Beschreibung 1</strong> oder <strong>Beschreibung 2</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nach dem Speichern der erstellten Content-Kategorie wird das Plugin <strong>CategoryTemplates</strong> im Menü <strong>Plugin » Plugin-Übersicht</strong> verfügbar. Dieses Plugin stellt Inhalte von Content-Kategorien für Ceres zur Verfügung. Das Plugin muss im Plugin-Set über den Button <strong>Speichern &amp; Plugin-Set bereitstellen</strong> bereitgestellt werden. Anschließend verknüpfst du die Kategorie in den globalen Einstellungen von <strong>Ceres</strong>:</p>
</div>
<div id="40" class="paragraph instruction">
<p>Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf <strong>Konfiguration</strong>.<br>
→ Das Tab <strong>Global</strong> ist bereits vorausgewählt.</p>
</li>
<li>
<p>Klicke auf <strong>Kategorie zur Anzeige von Versandkosteninformationen</strong>.<br>
→ Die Kategorieauswahl wird geöffnet.</p>
</li>
<li>
<p>Wähle die zuvor erstellte Kategorie, um die Kategorie für die Anzeige der Versandkosten zu verknüpfen.</p>
</li>
<li>
<p>Klicke auf <strong>Auswählen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Kategorie wird verknüpft.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach dem Verknüpfen der Kategorie muss das Plugin <strong>CategoryTemplates</strong> im Plugin-Set <strong>aktiv</strong> geschaltet und über den Button <strong>Speichern &amp; Plugin-Set bereitstellen</strong> erneut bereitgestellt werden.</p>
</div>
</div>
<div class="sect3">
<h4 id="610">3.1.2. Startseite aktivieren</h4>
<div class="paragraph">
<p>Kunden gelangen im Regelfall über die Startseite in den Webshop und erhalten hier einen ersten Eindruck. Erstelle diese Seite daher mit Sorgfalt. <strong>Ceres</strong> wird mit einer Standard-Startseite ausgeliefert. Passe diese Startseite über das Drag&amp;Drop-Baukastensystem <strong>ShopBuilder</strong> an, um eigene Inhalte auf der Startseite anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Startseite aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Startseite</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>ShopBuilder Startseite anzeigen</strong>.</p>
</li>
<li>
<p>Deaktiviere die Option <strong>Standardstartseite anzeigen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Standard-Startseite wird deaktiviert und deine Inhalte, die du mit dem ShopBuilder erstellst, werden angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="615">3.1.3. Ceres-Startseite mit dem ShopBuilder erstellen</h4>
<div class="paragraph">
<p>Du erreichst den ShopBuilder im Menü <strong>CMS » ShopBuilder</strong>. Im Editorbereich kannst du der Startseite Elemente per Drag&amp;Drop hinzufügen, um die Seite deinen individuellen Bedürfnissen anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Elemente zum Vorschaubereich hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.<br>
→ Der ShopBuilder wird geöffnet.</p>
</li>
<li>
<p>Klicke links in der Navigation auf <strong>Startseite (Ceres)</strong>.</p>
</li>
<li>
<p>Erstelle unter <strong>Inhalte für Startseite (Ceres)</strong> eine neue Startseite.
→ Das Fenster <strong>Neue Seite erstellen</strong> öffnet sich.</p>
</li>
<li>
<p>Gib einen Namen für deine Startseite ein und wähle die <strong>Standard-Startseite</strong> als Vorlage.</p>
</li>
<li>
<p>Klicke auf die erstellte Startseite.<br>
→ Der ShopBuilder-Editor wird geöffnet.</p>
</li>
<li>
<p>Ziehe per Drag&amp;Drop Elemente von der linken Seite in den Vorschaubereich. Beachte dazu die Erläuterungen in <a href="#tabelle-elemente-shop-builder">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Shopbuilder stehen dir Strukturelemente und Widgets zur Verfügung. <strong>Strukturelemente</strong> sind Gruppen von Spalten, die mit <strong>Widgets</strong> befüllt werden können, und die dem Design der Seite dienen. <strong>Widgets</strong> sind inhaltliche Elemente, die jeweils einen spezifischen Zweck erfüllen, beispielsweise die Darstellung einer Artikelliste. Es gibt <strong>Widgets</strong>, die nur im Header oder Footer des Webshops platziert werden können. Für die Basiseinrichtung empfehlen wir dir aber, zunächst die mitgelieferten Standardversionen des Headers und Footers zu verwenden.</p>
</div>
<table id="tabelle-elemente-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Elemente des ShopBuilders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Struktur-Elemente</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2 Spalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt ein Strukturelement mit 2 Spalten zur Verfügung, die mit den unten aufgeführten Widgets befüllt werden können. Klicke auf <strong>Bearbeiten</strong>, um das Layout des Elements zu ändern. Wähle aus der Dropdown-Liste <strong>Layout</strong> das gewünschte Größenverhältnis der Spalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3 Spalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt ein Strukturelement mit 3 Spalten zur Verfügung, die mit den unten aufgeführten Widgets befüllt werden können. Klicke auf <strong>Bearbeiten</strong>, um das Layout des Elements zu ändern. Wähle aus der Dropdown-Liste <strong>Layout</strong> das gewünschte Größenverhältnis der Spalten. Bei <strong>gestapelten</strong> Verhältnissen werden 2 Spalten übereinander angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>4 Spalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt ein Strukturelement mit 4 Spalten zur Verfügung, die mit den unten aufgeführten Widgets befüllt werden können. Das Größenverhältnis der Spalten ist nicht anpassbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Widgets</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titelleiste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Textbox zur Verfügung. Klicke auf <strong>Bearbeiten</strong>, um Text einzugeben und die <a href="#616">Farbe</a> der Titelleiste zu ändern. Es kann nur Reintext verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bilderkarussell</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt das Ceres-Bilderkarussell zur Verfügung. Klicke auf <strong>Bearbeiten</strong>, um Bilder hinzuzufügen oder zu entfernen. Bilder können über die Kategorieauswahl, die Eingabe der Varianten-ID oder die Dateiauswahl gewählt werden. Wenn das Bild über die Kategorieauswahl bestimmt wird, wird das erste im Tab Dokumente abgelegte Bild der Kategorie verwendet. Über die Dropdown-Liste <strong>Erscheinungsbild</strong> bestimmst du die <a href="#616">Farbe</a> des Bilderkarussells. Die optimalen Bildergrößen werden in <a href="/omni-channel/online-shop/ceres-einrichten#90">diesem Kapitel</a> beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bilderbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt einen Container für Bilder zur Verfügung. Klicke auf <strong>Bearbeiten</strong>, um Bilder hinzuzufügen oder zu entfernen. Bilder können über die Kategorieauswahl, die Eingabe der Varianten-ID oder die Dateiauswahl gewählt werden. Wenn das Bild über die Kategorieauswahl bestimmt wird, wird das erste im Tab Dokumente abgelegte Bild der Kategorie verwendet. Über die Dropdown-Liste <strong>Erscheinungsbild</strong> bestimmst du die <a href="#616">Farbe</a> der Bilderbox. Über die Dropdown-Listen <strong>Stil der Box</strong> und <strong>Größe des Bilds</strong> passt du das Widget hinsichtlich Text- und Bildgröße an. Die optimalen Bildergrößen werden in <a href="/omni-channel/online-shop/ceres-einrichten#90">diesem Kapitel</a> beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die <a href="#630">Ceres Artikelliste</a> zur Verfügung. Klicke auf <strong>Bearbeiten</strong>, um Bilder hinzuzufügen oder zu entfernen. Für die Startseite können Artikellisten mit Kategorieartikeln, mit zuletzt angesehenen Artikeln oder über Tags definierte Artikellisten konfiguriert werden. Bestimme die Art der Sortierung über die <strong>Artikelsortierung</strong> Dropdown-Liste und leg die <strong>Maximale Anzahl der angezeigten Artikel</strong> fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Textbox zur Verfügung. Klicke auf <strong>Bearbeiten</strong>, um Text einzugeben und die <a href="#616">Farbe</a> der Textbox zu ändern. Im Texteditor kann Reintext und, nach Klick auf <strong>&lt;/&gt;</strong>, auch HTML eingegeben werden. Es ist nicht möglich, CSS in diesem Widget einzubinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Liste zur Verfügung, die als Platzhalter dient. Klicke auf <strong>Bearbeiten</strong>, um Listeneinträge oder Icons hinzuzufügen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Linkliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Linkliste zur Verfügung, die als Platzhalter dient. Klicke auf <strong>Bearbeiten</strong>, um einen Listentitel, Listeneinträge oder Icons hinzuzufügen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trennlinie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Trennlinie zur Verfügung, die als Platzhalter dient.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Du kannst Elemente, die du der Startseite hinzufgefügt hast, ebenso leicht wieder entfernen.</p>
</div>
<div class="paragraph instruction">
<p>Elemente aus dem Vorschaubereich entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.<br>
→ Der Vorschaubereich wird geöffnet.</p>
</li>
<li>
<p>Zeige mit der Maus auf das Element im Vorschaubereich, das du entfernen willst.<br>
→ Das Kontextmenü wird eingeblendet.</p>
</li>
<li>
<p>Klicke in der rechten oberen Ecke auf <strong>Löschen</strong>, um das Element zu entfernen.<br>
→ Das Element wird entfernt und die umliegenden Elemente ordnen sich neu an.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Startseite deines Webshops ist den Einstellungen entsprechend umgestaltet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du mit der Einrichtung der Startseite fertig bist, musst du sie im ShopBuilder aktivieren, damit sie in deinem Shop angezeigt wird.</p>
</div>
<div class="paragraph instruction">
<p>Startseite aktivieren</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.<br>
→ Der ShopBuilder wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Navigation auf der linken Seite auf <strong>Startseite (Ceres)</strong>.</p>
</li>
<li>
<p>Zeige mit der Maus auf die von dir erstellte Startseite.</p>
</li>
<li>
<p>Klicke auf die Punkte in der rechten Ecke des Seiten-Icons, um die <strong>Optionen</strong> enzublenden.</p>
</li>
<li>
<p>Klicke auf <strong>Aktivieren</strong>
→ Die Startseite wird aktiviert und das Icon wird blau hinterlegt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zur Einrichtung des ShopBuilders findest du auf der <a href="/omni-channel/online-store/shop-builder">ShopBuilder</a> Handbuchseite.</p>
</div>
</div>
<div class="sect3">
<h4 id="620">3.1.4. Navigationsleiste einrichten</h4>
<div class="paragraph">
<p>In Ceres steht dir entweder eine übersichtliche Navigationsleiste mit zwei Kategorieebenen oder ein umfangreiches Megamenü mit bis zu vier Kategorieebenen zur Auswahl. Je nach Artikelsortiment hast du deine Kategorien bereits erstellt. Richte nun die passende Navigation für deinen Webshop ein.</p>
</div>
<div class="paragraph instruction">
<p>Navigationsleiste einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Header</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-navigation">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-navigation" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Navigationsleiste einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position der Navigationsleiste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position wählen, an der die Navigationsleiste im Webshop angezeigt wird. Die Navigationsleiste kann <strong>oben</strong>, <strong>links</strong> oder <strong>oben und links</strong> angezeigt werden. Diese Einstellung bezieht sich nur auf Kategorieseiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorietypen, die in der Navigationsleiste angezeigt werden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorietypen wählen, die in der Navigationsleiste angezeigt werden. Es können <strong>Content-Kategorien</strong>, <strong>Artikel-Kategorien</strong> und <strong>Blog-Kategorien</strong> angezeigt werden.<br></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Im Shopbuilder kannst du die Kategorienavigation im Header mit dem Widget <strong>Kategorienavigation</strong> individuell anpassen. Hierfür musst du in der ShopBuilder-Übersicht zunächst ein neues Header-Element anlegen.</p>
</div>
<div class="paragraph instruction">
<p>Header im ShopBuilder bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.<br>
→ Der ShopBuilder wird geöffnet.</p>
</li>
<li>
<p>Klicke links in der Navigation auf <strong>Startseite (Ceres)</strong>.</p>
</li>
<li>
<p>Erstelle unter <strong>Header-Elemente</strong> einen neuen Header.
→ Das Fenster <strong>Neue Seite erstellen</strong> öffnet sich.</p>
</li>
<li>
<p>Gib einen Namen für deinen Header ein und wähle den <strong>Standard-Header</strong> als Vorlage.</p>
</li>
<li>
<p>Klicke auf den erstellte Header.<br>
→ Der ShopBuilder-Editor wird geöffnet.</p>
</li>
<li>
<p>Ziehe per Drag&amp;Drop Elemente von der linken Seite in den Vorschaubereich. Beachte dazu die Erläuterungen in <a href="#tabelle-navigation-sb">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-navigation-sb" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Kategorienavigation im ShopBuilder einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie-Navigation</strong> (Header)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Kategorie-Navigation zur Verfügung. Klicke auf <strong>Bearbeiten</strong>, um die Einstellungen vorzunehmen und den Stil der Kategorie-Navigation, die Kategorieebenen sowie die Anzahl der Kategorien festzulegen. Des Weiteren kann ein Firmenlogo hinzugefügt werden.<br></p>
<p class="tableblock"><strong>Beim Scrollen der Seite fixieren</strong> = Aktivieren, um die Kategorie-Navigation immer anzuzeigen.<br>
<strong>Stil der Kategorie-Navigation</strong> = Wählen, ob die Kategorie-Navigation im normalen Stil oder als Megamenü angezeigt wird.<br>
<strong>Kategorieebenen des Mega-Menüs</strong> = Wählen, ob das Mega-Menü 2, 3 oder 4 Kategorieebenen anzeigt. Diese Einstellung ist nur wirksam, wenn <strong>Mega-Menü</strong> als <strong>Stil der Kategorie-Navigation</strong> gewählt wurde.<br>
<strong>Anzahl der Kategorien</strong> = Anzahl der Kategorien eingeben, die in der jeweiligen Ebene des Mega-Menüs angezeigt werden. Diese Einstellung ist nur wirksam, wenn <strong>Mega-Menü</strong> als <strong>Stil der Kategorie-Navigation</strong> gewählt wurde.<br>
<strong>Firmenlogo</strong> = Bilddatei auswählen, welche als Firmenlogo links oben im Shop angezeigt werden soll. Die gängigen Bildformate (PNG, JPG, etc.) sind zulässig.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="630">3.1.5. Artikellisten einrichten</h4>
<div class="paragraph">
<p>Mit Artikellisten lassen sich Artikel gruppieren und im Webshop auf der Startseite und der Einzelansicht eines Artikels hervorheben. Folgende Artikellisten können in Ceres eingerichtet werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Cross-Selling: Cross-Selling-Artikel werden über <strong>Beziehungen</strong> im Webshop angezeigt. Weitere Informationen findest du im Handbuch unter <a href="/artikel/artikel-verwalten#950">Cross-Selling einrichten</a>.</p>
</li>
<li>
<p>Shop-Aktionen: Listen mit Neuheiten, Sonderangeboten, etc. werden in Ceres mithilfe von Tags abgebildet. Weitere Informationen findest du im Handbuch unter <a href="/artikel/artikel-verwalten#150">Artikel mit Tags versehen</a>.</p>
</li>
<li>
<p>Zuletzt angesehene Artikel: Eine Liste der vom Kunden zuletzt gesehenen Artikel wird angezeigt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Artikellisten verknüpfst du bequem über Template-Container an der gewünschten Stelle im Webshop. Richte zunächst die Artikelliste für zuletzt angesehene Artikel ein.</p>
</div>
<div class="paragraph instruction">
<p>Zuletzt angesehen-Liste einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Artikellisten</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Erste Artikelliste</strong> die Option <strong>Zuletzt angesehen</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Verknüpfe anschließend die Artikelliste in der Einzelansicht eines Artikels im Webshop.</p>
</div>
<div class="paragraph instruction">
<p>Artikelliste verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle den Bereich <strong>First item list</strong>.</p>
</li>
<li>
<p>Wähle den Container <strong>Single item: Container for item lists</strong></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Artikelliste wird in der Einzelansicht eines Artikels im Webshop angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit dem ShopBuilder kannst du Artikellisten über das Widget <strong>Artikelliste</strong> auf der Startseite anzeigen.</p>
</div>
</div>
<div class="sect3">
<h4 id="640">3.1.6. Kaufabwicklung anpassen</h4>
<div class="paragraph">
<p>Im Tab <strong>Kaufabwicklung und Mein Konto</strong> nimmst du Änderungen an den Anzeigeoptionen der Kaufabwicklung vor. Wähle die Felder aus, die im Adressformular angezeigt und validiert werden.</p>
</div>
<div class="paragraph instruction">
<p>Kaufabwicklung anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Kaufabwicklung und Mein Konto</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-kaufabwicklung-anpassen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-kaufabwicklung-anpassen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Kaufabwicklung anpassen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsadressfelder im Adressformular anzeigen  (DE)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein, mehrere oder <strong>ALLE</strong> Adressfelder wählen, um diese Felder im Adressformular für das Lieferland <strong>Deutschland</strong> in der Kaufabwicklung anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsadressfelder validieren (DE)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein, mehrere oder <strong>ALLE</strong> Adressfelder aktivieren, um diese Felder bei der Adresseingabe zu validieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferadressfelder im Adressformular anzeigen (DE)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein, mehrere oder <strong>ALLE</strong> Adressfelder aktivieren, um diese Felder im Adressformular für das Lieferland <strong>Deutschland</strong> in der Kaufabwicklung anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferadressfelder validieren (DE)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein, mehrere oder <strong>ALLE</strong> Adressfelder aktivieren, um diese Felder bei der Adresseingabe zu validieren.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Aktiviere, falls nötig, die Formularfelder und die zugehörige Validierung der Felder analog für das Lieferland <strong>Vereinigtes Königreich</strong> (UK).</p>
</div>
</div>
<div class="sect3">
<h4 id="650">3.1.7. Kundenbereich einrichten</h4>
<div class="paragraph">
<p>Im Tab <strong>Kaufabwicklung und Mein Konto</strong> passt du den <strong>Mein Konto</strong>-Bereich für deine Kunden an.</p>
</div>
<div class="paragraph instruction">
<p>Mein Konto-Bereich anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Kaufabwicklung und Mein Konto</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-mein-konto">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-mein-konto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Mein Konto anpassen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl der Aufträge pro Seite in der Auftragshistorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl von Aufträgen eingeben, die in der Auftragshistorie pro Seite dargestellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Änderung der Zahlungsart durch den Kunden zulassen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um eine nachträgliche Änderung der Zahlungsart durch den Kunden zuzulassen. Ist diese Einstellung deaktiviert, ist eine Änderung nicht mehr möglich.<br>
<strong><em>Hinweis:</em></strong> Diese Einstellung ist standardmäßig aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weiterleitung zur Login-Seite durch den Link in der Bestellbestätigung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um registrierte Kunden nach Klick auf den Link in der Bestellbestätigung zur Login-Seite weiterzuleiten. Nach erfolgreichem Login wird die Bestellbestätigung angezeigt.<br>
<strong><em>Hinweis:</em></strong> Kunden, die als Gast bestellen, sind von dieser Einstellung nicht betroffen und werden direkt zur Bestellbestätigung weitergeleitet.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="660">3.1.8. SEO-Metadaten eingeben</h4>
<div class="paragraph">
<p>Im Tab <strong>SEO</strong> findest du Einstellungen für die Suchmaschinenoptimierung deines Webshops. Hier steuerst du den Zugriff auf die Seiten des Webshops durch Robots.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen für Suchmaschinenoptimierung vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Wechsen in das Tab <strong>SEO</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-seo-einstellungen">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-seo-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Einstellungen für Suchmaschinenoptimierung vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Robots-Einstellungen für die Startseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle</strong>, <strong>In Index aufnehmen</strong>, <strong>Links nicht folgen</strong>, <strong>Nicht in den Index aufnehmen</strong> oder <strong>Nicht in den Index aufnehmen und Links nicht folgen</strong> wählen, um den Zugriff durch Robots auf die Startseite deines Webshops zu steuern. Die Werte des Meta-Elements Robots werden von Suchmaschinen-Crawlern ausgewertet. Dem Crawler wird mithilfe dieser Werte mitgeteilt, wie er mit der Seite und den Links auf dieser Seite verfahren soll.<br></p>
<p class="tableblock"><strong>Alle</strong> = Startseite des Webshops in den Suchmaschinenindex aufnehmen und Links auf der Seite folgen.<br>
<strong>In Index aufnehmen</strong> = In Suchmaschinenindex aufnehmen.<br>
<strong>Links nicht folgen</strong> = Links auf der Seite nicht folgen.<br>
<strong>Nicht in den Index aufnehmen</strong> = Nicht in den Suchmaschinenindex aufnehmen.<br>
<strong>Nicht in den Index aufnehmen und Links nicht folgen</strong> = Links nicht folgen und Startseite des Webshops nicht in den Suchmaschinenindex aufnehmen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Im Menü <strong>CMS » Mehrsprachigkeit</strong> kannst du SEO-relevante Meta-Beschreibungen für die statischen Seiten deines Webshops bearbeiten.
Nimm die SEO-Einstellungen für die <strong>Kontaktseite</strong> sowie die Seiten für <strong>Widerrufsbelehrung</strong>, <strong>Widerrufsformular</strong>, <strong>Impressum</strong>, <strong>Datenschutzerklärung</strong> und <strong>AGB</strong> analog vor.</p>
</div>
<div class="paragraph instruction">
<p>Meta-Beschreibung der Kontaktseite bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Zielsprache</strong> die Sprache, für den du die Meta-Beschreibung bearbeiten willst.</p>
</li>
<li>
<p>Klicke unter <strong>Ceres</strong> auf <strong>Kontaktseite</strong>.<br>
→ Der Kontaktseite-Bereich wird ausgeklappt.</p>
</li>
<li>
<p>Gib unter <strong>contactMetaDescription</strong> den gewünschten Inhalt ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="665">3.1.9. Namen des Webshops und Öffnungszeiten bearbeiten</h4>
<div class="paragraph">
<p>Im Menü <strong>CMS » Mehrsprachigkeit</strong> gibst du einen Namen für deinen Webshop ein, der im Header des Shops angezeigt wird.</p>
</div>
<div class="paragraph instruction">
<p>Namen des Webshops bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Zielsprache</strong> die Sprache, für den du den Namen des Webshops bearbeiten willst.</p>
</li>
<li>
<p>Klicke unter <strong>Ceres</strong> auf <strong>Header</strong>.<br>
→ Der Header-Bereich wird ausgeklappt.</p>
</li>
<li>
<p>Gib unter <strong>Name des Webshops</strong> den gewünschten Namen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für das Bearbeiten der Öffnungszeiten deines Shops, gehst du analog vor. Der Eintrag für <strong>Öffnungszeiten</strong> findet sich im Bereich <strong>Kontaktseite</strong>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="740">3.2. Automatischen E-Mail-Versand einrichten</h3>
<div class="paragraph">
<p>Im Menü <strong>System » Mandant » Mandant wählen » E-Mail » Automatischer Versand</strong> stehen dir verschiedene Ereignisse zur Verfügung, die mit einer E-Mail-Vorlage verknüpft werden können. Wähle aus der Dropdown-Liste die E-Mail-Vorlage, die du zuvor im Menü <strong>System » Mandant » Mandant wählen » E-Mail » Vorlagen</strong> <a href="/crm/e-mails-versenden#1200">erstellt</a> hast. Dadurch wird bei Eintritt des Ereignisses die E-Mail-Vorlage automatisch an den Kunden versendet.</p>
</div>
<div class="paragraph instruction">
<p>Automatischen E-Mail-Versand einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Mandant » Mandant wählen » E-Mail » Automatischer Versand</strong>.</p>
</li>
<li>
<p>Wähle in der Zeile des Ereignisses die gewünschte E-Mail-Vorlage aus der Dropdown-Liste. Beachte dazu die Erläuterungen in <a href="#tabelle-ereignisse-automatischer-e-mail-versand">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit einem Klick auf <strong>E-Mail-Vorlage bearbeiten</strong> wird die E-Mail-Vorlage im Menü <strong>System » Mandant » Mandant wählen » E-Mail » Vorlagen</strong> geöffnet und kann dort <a href="/crm/e-mails-versenden#1700">bearbeitet</a> werden.</p>
</div>
<table id="tabelle-ereignisse-automatischer-e-mail-versand" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Erläuterungen zu einigen Ereignissen im Menü <strong>System » Mandant » Mandant wählen » E-Mail » Automatischer Versand</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue Bestellung über den Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet Kunden eine E-Mail mit der Auftragsbestätigung, nachdem der Kaufvorgang im Webshop abgeschlossen wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sende Kunde E-Mail zur Passwortänderung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet Kunden eine E-Mail mit einem Link zum neuen Passwort, der aktiv bestätigt werden muss. Die Template-Funktion <strong>&#123;&#37; Link_ChangePassword() &#37;&#125;</strong> muss in der E-Mail-Vorlage enthalten sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenregistrierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet eine E-Mail als Bestätigung, sobald der Kunde sich als Benutzer im Webshop registriert.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_final_check">3.3. Final Check</h3>
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Webshop zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Plugins Ceres, IO, CategoryTemplates und Vorkasse in einem Plugin-Set gespeichert und bereitgestellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du ein Standardlieferland, eine Standardversandart und ein Standartversandprofil eingestellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du Vorkasse als Standardzahlungsart hinterlegt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du deine Rechtstexte hinterlegt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Sind die Inhalte deiner Content-Kategorien (bspw. für die Anzeige von Versandkosteninformationen) im Tab <strong>Template</strong> der Kategorie hinterlegt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Ceres Standardstartseite deaktiviert und die ShopBuilder Startseite aktiviert?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du dir eine Startseite mit dem ShopBuilder gebaut?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Einstellungen für die einzelnen Tabs der Ceres Konfiguration durchgeführt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du nach deinen Änderungen an den Einstellungen der Ceres Konfiguration das Plugin-Set erneut gespeichert und bereitgestellt?</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="800">4. Mehr zum Thema <strong>Webshop</strong></h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/omni-channel/online-shop/ceres-einrichten">Ceres einrichten</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/io-einrichten">IO einrichten</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/shop-builder">ShopBuilder einrichten</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/best-practices">Ceres Best Practices</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-auftragsabwicklung">Auftragsabwicklung vorbereiten</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>