<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Webshop einrichten: Einleitung</h1><div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon ein Lager eingerichtet und einen Lieferanten erstellt? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg/schnelleinstieg-warenwirtschaft">Lager und Lieferant einrichten</a>.
</td>
</tr>
</tbody></table>
</div><div class="paragraph">
<p>Nachdem du in den vorherigen Kapiteln deine Artikel angelegt und gegebenenfalls eine Schnittstelle zu eBay eingerichtet hast, schauen wir uns im Folgenden an, wie du deinen Kunden verschiedene Zahlungsmöglichkeiten anbieten und deinen Shop ansprechend gestalten kannst. Diese und andere Funktionalitäten werden in plentymarkets mit Hilfe von Plugins bereitgestellt.</p>
</div><div class="paragraph">
<p>Zu Beginn sind in deinem System noch keine Plugins installiert. Durchlaufe den Integrations-Assistenten, um einige grundlegende Erweiterungen zu installieren. Du findest ihn im Menü <strong>System » Assistenten</strong>.</p>
</div><div class="paragraph">
<p>Im Kontext des Schnelleinstiegs werden wir mit plentyShop Ceres, den Zahlungsarten PayPal und Vorkasse sowie DHL als Versanddienstleister arbeiten. Wenn deine Bedürfnisse davon abweichen, überspringe die entsprechenden nachfolgenden Kapitel.</p>
</div><div class="paragraph">
<p>Nach dem Abschließen des Integrations-Assistenten, öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</div><div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Installationszeit</div>
<div class="paragraph">
<p>Das Installieren der Plugins kann einige Minuten dauern. Dass der Installationsprozess abgeschlossen ist, kannst du an dem Zeitstempel in der Plugin-Übersicht erkennen.</p>
</div>
</td>
</tr>
</tbody></table>
</div><div class="paragraph">
<p>Auf der linken Seite siehst du deine Plugin-Sets. Sets sind Zusammenstellungen von Plugins, die gesammelt das Aussehen und die Funktionen deines Shops beeinflussen. Wenn ein Set einem Mandanten zugewiesen ist, ist es für diesen Shop aktiv. Später kannst du auch neue Sets erstellen ohne diese einem Mandanten zuzuweisen, um beispielsweise Änderungen an deinem Shop zu testen, ohne diese direkt live zu schalten. Im Rahmen dieses Schnelleinstiegs werden wir aber mit dem standardmäßig vorhandenen Set standard-shop arbeiten. Hebe hierfür zunächst die Verknüpfung des Sets mit dem Mandanten auf.</p>
</div><div class="paragraph instruction">
<p>Verknüpfung aufheben:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf die Schaltfläche <strong>Plugin-Sets verknüpfen</strong>.<br>
→ Das Fenster <strong>Plugin-Sets verknüpfen</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus dem Dropdown-Menü die leere Zeile aus.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen, um das Plugin-Set zu deaktivieren.</p>
</li>
</ol>
</div><div class="paragraph">
<p>Direkt neben den Plugin-Sets findest du die Filtereinstellungen. Du kannst diese nutzen, um verschiedene Auswahlen an Plugins anzeigen zu lassen. Wenn du ein Plugin-Set öffnest, werden standardmäßig immer alle installierten Plugins angezeigt.</p>
</div><div class="paragraph">
<p>Mit den plentyShop-Plugins Ceres und IO werden wir uns später auseinandersetzen. Zunächst wollen wir unseren Kunden die Möglichkeit geben, für ihre Einkäufe auch zu bezahlen.</p>
</div><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-zahlungsabwicklung">Zahlungsabwicklung einrichten</a>
</td>
</tr>
</tbody></table>
</div>
</main>