<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_mehr_zum_thema_plugins"><span>1.</span><span> Mehr zum Thema Plugins</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins dem System hinzufügen</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon Vorlagen für Rechnung und Stornobelege erstellt? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg/schnelleinstieg-auftragsabwicklung">Auftragsabwicklung vorbereiten</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wie du bereits gesehen hast, kannst du die Funktionalität deines Shops durch Plugins erweitern. Einige Plugins können über den Integrations-Assistenten installiert werden, es gibt aber noch viele weitere Möglichkeiten, plentymarkets zu erweitern. Zu diesem Zweck werden wir beispielhaft dem System ein neues Plugin hinzufügen, dieses installieren und einrichten.</p>
</div>
<div class="paragraph">
<p>Mit unserem neuen Plugin wollen wir Kunden die Möglichkeit geben, die Artikel in unserem Shop zu bewerten und diese Bewertungen anderen potenziellen Käufern anzeigen. Dazu werden wir das Plugin Kunden-Feedback nutzen. Dieses Plugin ist gratis über plentyMarketplace erhältlich.</p>
</div>
<div class="paragraph instruction">
<p>Plugins dem System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugins-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Nutze die Suchfunktion, um nach dem Plugin Kunden-Feedback zu suchen.<br>
→ Die Suchergebnisse werden angezeigt.</p>
</li>
<li>
<p>Klicke auf das Plugin Kunden-Feedback.<br>
→ Die Artikelansicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Zur Kasse</strong>.<br>
→ Die Kaufansicht wird geöffnet.</p>
</li>
<li>
<p>Akzeptiere die AGB, indem du die Option aktivierst.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Es wird eine Nachricht angezeigt, die bestätigt, dass du das Plugin erfolgreich erworben hast. Nach einigen Minuten wird es in deinem System als nicht installiertes Plugin erscheinen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Einstellungsmöglichkeiten</div>
<div class="paragraph">
<p>In der Artikelansicht jedes Plugins wird auch beschrieben, welche Einstellungsmöglichkeiten für das jeweilige Plugin zu Verfügung stehen. Im Rahmen des Schnelleinstiegs werden die notwendigen Schritte aber auch im Folgenden genauer beschrieben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Als nächstes werden wir das neu gekaufte Plugin installieren. Gehe dazu wie bei der Installation des Plugins Vorkasse im letzten Kapitel vor.</p>
</div>
<div class="paragraph instruction">
<p>Kunden-Feedback im Set installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn du dich nicht immer noch in dieser Ansicht befindest, öffne das Menü <strong>Plugins » Plugins-Übersicht</strong>.</p>
</li>
<li>
<p>Deaktiviere die Option <strong>Installiert</strong> und aktiviere die Option <strong>Nicht installiert</strong>. Klicke dann auf <strong>Suchen</strong>.<br>
→ Alle nicht installierten Plugins werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Kunden-Feedback</strong> in der Spalte <strong>Aktion</strong> auf <strong>Plugin installieren</strong>.<br>
→ Ein Fenster zur Auswahl der zu installierenden Version öffnet sich. Klicke auf <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert und ist in der Plugin-Übersicht des Plugin-Sets verfügbar. Eine Ansicht mit allen installierten Plugins wird angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sobald das Plugin installiert ist, kann es eingerichtet werden. Damit die Funktionalität später aber auch tatsächlich nutzbar wird, muss es auch noch aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Kunden-Feedback im Set aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke in der Zeile Kunden-Feedback in der Spalte <strong>Aktiv</strong> auf <strong>Inaktiv</strong>.<br>
→ Das Plugin wird aktiviert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Jetzt beginnen wir mit der Einrichtung. Bei manchen Plugins, wie <strong>Vorkasse</strong>, werden diese Einstellungen in den Systemeinstellungen vorgenommen. Bei anderen, wie <strong>Kunden-Feedback</strong>, geschieht dies direkt in der Plugin-Übersicht.</p>
</div>
<div class="paragraph instruction">
<p>Kunden-Feedback einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das Plugin Kunden-Feedback.<br>
→ Die Detailansicht des Plugins wird geöffnet. Das Tab <strong>Einstellung</strong> ist bereits ausgewählt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Bewertungen automatisch veröffentlichen</strong>, <strong>Datum an der Bewertung anzeigen</strong> und <strong>Bewertungen nur erlauben, wenn der Artikel gekauft wurde</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit diesen Einstellungen können Kunden nach dem Kauf eines Artikels eine Bewertung für diesen Artikel schreiben. Die Bewertung wird automatisch angezeigt und ist für andere Kunden sichtbar, die den entsprechenden Artikel aufrufen.</p>
</div>
<div class="paragraph">
<p>Abschließend müssen wir noch dafür sorgen, dass das Feedback auch wirklich in unserem Shop angezeigt wird. Dazu müssen wir einige Container-Verknüpfungen erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Container-Verknüpfungen einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Öffne das Dropdown-Menü <strong>Feedback Javascript (Feedback</strong>).</p>
</li>
<li>
<p>Aktiviere die Option <strong>Script loader: Register/load JS</strong>.</p>
</li>
<li>
<p>Öffne das Dropdown-Menü <strong>Feedback CSS (Ceres) (Feedback)</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Template: Style</strong>.</p>
</li>
<li>
<p>Öffne das Dropdown-Menü <strong>Feedback ratings (Feedback)</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Single item: Container for customer feedback</strong>.</p>
</li>
<li>
<p>Öffne das Dropdown-Menü <strong>Feedback category ratings (Feedback)</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Category item list: Before prices container</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Verknüpfungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Damit sind alle Einstellungen abgeschlossen und Kunden werden die Möglichkeit haben, Artikel nach dem Kauf auch zu bewerten. Im nächsten Kapitel kehren wir zu einem der standardmäßig installierten Plugins zurück: Ceres. Mit diesem Plugin kann das Aussehen des Shops beeinflusst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_mehr_zum_thema_plugins">1. Mehr zum Thema Plugins</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="#plugins">Plugins verwalten</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-ebay">eBay</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>