<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bereits vorbereitete Einstellungen</span></a></li>
<li><a href="#200"><span>2.</span><span> Lieferländer aktivieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Lieferländer in Regionen einteilen</span></a></li>
<li><a href="#400"><span>4.</span><span> Versanddienstleister einrichten</span></a></li>
<li><a href="#500"><span>5.</span><span> Versandprofil einrichten</span></a></li>
<li><a href="#600"><span>6.</span><span> Portotabelle einrichten</span></a></li>
<li><a href="#650"><span>7.</span><span> DHL Shipping (Versenden)-Plugin einrichten</span></a></li>
<li><a href="#660"><span>8.</span><span> Versand anmelden</span></a></li>
<li><a href="#700"><span>9.</span><span> Checkliste</span></a></li>
<li><a href="#800"><span>10.</span><span> Mehr zum Thema Versandoptionen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Versandoptionen einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon die Zahlungsarten PayPal und Vorkasse eingerichtet? Noch nicht? Dann geht’s hier zurück zum Thema <a href="#/schnelleinstieg/schnelleinstieg-zahlungsabwicklung">Zahlungsabwicklung einrichten</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Auf dieser Seite erklären wir dir, wie du dein System für den Versand fit machst: Du legst fest, in welche Länder du deine Artikel versenden möchtest und teilst diese Länder dann wiederum in Regionen ein. Die Einteilung in Regionen ist notwendig für das Speichern der Versandkosten, da die Versandkosten nicht für einzelne Lieferländer, sondern nur für Regionen angegeben werden. Außerdem richtest du den Versanddienstleister und das Versandprofil inklusive der Versandkosten ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bereits vorbereitete Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In deinem System sind bereits einige Einstellungen für dich vorbereitet, damit du noch schneller mit dem Verkauf deiner Artikel starten kannst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die Lieferländer <em>Deutschland</em> und <em>United Kingdom</em> sind aktiv</p>
</li>
<li>
<p>die Region <strong>Germany</strong> mit dem Lieferland <em>Deutschland</em> ist erstellt</p>
</li>
<li>
<p>der Versanddienstleister <strong>DHL</strong> ist erstellt<br>
→ hier musst du noch weitere Einstellungen vornehmen</p>
</li>
<li>
<p>das Versandprofil für DHL ist erstellt<br>
→  hier musst du noch weitere Einstellungen vornehmen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wie du die hier genannten voreingestellten Optionen anpasst und weitere Einstellungen vornimmst, ist in in den folgenden Kapiteln beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Lieferländer aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig sind in deinem System bereits die Lieferländer <em>Deutschland</em> und <em>United Kingdom</em> aktiviert. Gehe wie im Folgenden beschrieben vor, um weitere Lieferländer einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Lieferländer aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.<br>
→ Das Tab <strong>Lieferländer</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle für die gewünschten Lieferländer in der Spalte <strong>Aktiv</strong> die Option <strong>Aktiv</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle in der Spalte <strong>Lager</strong> das Lager, das bei Bestellungen aus diesen Ländern als Standardlager gewählt werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Lieferländer in Regionen einteilen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktivierte Lieferländer müssen in Regionen eingeteilt werden. Das Erstellen von Regionen ist notwendig, da du Versandkosten nur für Regionen und nicht für Länder angeben kannst. Ordne alle Lieferländer mit den gleichen Versandkosten und den gleichen versanddienstleisterspezifischen Services einer Region zu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: Lieferländer Deutschland und Spanien</div>
<div class="paragraph">
<p>Die Lieferländer Deutschland und Spanien können nicht einer Region zugeordnet werden, da Pakete innerhalb Deutschlands mit <em>DHL Paket national</em> versendet werden, Pakete von Deutschland nach Spanien hingegen mit <em>DHL Paket international</em>.</p>
</div>
<div class="paragraph">
<p>Es ist es daher wichtig, dass du dir im Vorfeld genau überlegst, wie du die Lieferländer gruppieren möchtest. Ein sinnvolles Beispiel für Händler in Deutschland ist z.B. die Einteilung in die Regionen <em>Inland</em>, <em>Europa</em>, <em>Welt</em>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Standardmäßig ist in deinem System bereits die Region <strong>Germany</strong> mit dem Lieferland Deutschland eingerichtet.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um weitere Regionen zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Lieferländer in Regionen einteilen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Regionen » Neue Region</strong>.</p>
</li>
<li>
<p>Gib einen Namen für die Region ein, z.B. <em>Europa</em>.</p>
</li>
<li>
<p>Wähle unter <strong>Verfügbare Länder</strong> die eben aktivierten Länder für diese Region.<br>
→ Die Länder werden unter <strong>Ausgewählte Länder</strong> verschoben.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die neue Region ist im Tab <strong>Übersicht</strong> verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Versanddienstleister einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jetzt erfährst du, wie du den Versanddienstleister <strong>DHL Shipping (Versenden)</strong> einrichtest. Voraussetzung ist, dass du dich bei dem Versanddienstleister vorab registriert hast.</p>
</div>
<div class="paragraph instruction">
<p>Versanddienstleister einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Versanddienstleister</strong>.<br>
→ Der Versanddienstleister <strong>DHL</strong> ist bereits vorhanden.</p>
</li>
<li>
<p>Passe ggf. den Namen des Versanddienstleisters in den Feldern <strong>Name (de)</strong> und <strong>Name (Backend)</strong> an.<br>
→ Der <strong>Name (de)</strong> ist für deine Kunden im Webshop sowie auf Rechnungen sichtbar. Der <strong>Name (Backend)</strong> ist für die Kunden nicht sichtbar und dient der internen Unterscheidung für dich und deine Mitarbeiter.</p>
</li>
<li>
<p>Wähle den Versanddienstleister <strong>DHL Shipping (Versenden)</strong> aus der Dropdown-Liste <strong>Versanddienstleister</strong>.</p>
</li>
<li>
<p>Die Tracking-URL von DHL ist bereits eingetragen. Beachte die Informationen zur Tracking-URL in der grünen Box.</p>
</li>
<li>
<p>Gib die Adresse des Versanddienstleisters ein.<br>
→ Dies ist notwendig, um DSGVO-konform arbeiten zu können. Weitere Informationen dazu erhältst du auf der Handbuchseite <a href="/fulfillment/versand-vorbereiten#800">Versand vorbereiten</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Gehe wie im Kapitel <a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister erstellen</a> des Handbuchs beschrieben vor, um weitere Versanddienstleister analog zu erstellen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tracking-URL</div>
<div class="paragraph">
<p>Die Tracking-URL dient der Sendungsverfolgung der Pakete. Wenn du die URL im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versanddienstleister</strong> speicherst und die Template-Variable <strong>$TrackingURL</strong> in der E-Mail-Vorlage für deine Versandbestätigung hinzufügst, kann dein Kunde mit einem Klick auf die URL verfolgen, wann die Lieferung bei ihm eintrifft.</p>
</div>
<div class="paragraph">
<p>Die Tracking-URL für DHL ist bereits in deinem System gespeichert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Versandprofil einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Versandprofil wird in plentymarkets benötigt, damit dem Auftrag deines Kunden von Anfang an die korrekten Versandbedingungen zur Verfügung stehen und der Versand sauber abgewickelt werden kann. Damit plentymarkets weiß, wie ein Artikel verschickt werden soll und dem Kunden nur dieses Versandprofil im Webshop zur Auswahl stellt, musst du deinen Artikel im Anschluss mit dem Versandprofil verknüpfen. Weitere Informationen dazu findest du auf der Schnelleinstiegsseite <a href="/schnelleinstieg/schnelleinstieg-artikelkatalog">Artikelkatalog aufbauen</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Versandprofile einfach halten</div>
<div class="paragraph">
<p>Gestalte die Versandprofile so einfach wie möglich. Je komplexer die Einstellungen sind, desto eher kann es zu Fehlern kommen. Außerdem könntest du deine Kunden durch zu komplizierte Versandkostenmodelle verwirren und damit letztlich vom Kauf abhalten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Versandprofil einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Klicke auf das DHL-Versandprofil.<br>
→ Das Tab <strong>Base</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-versandprofil-einrichten">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-versandprofil-einrichten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Versandprofil einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jedes Versandprofil erhält nach dem Speichern automatisch eine ID. Diese ID ist nicht änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddienstleister</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versanddienstleister <strong>DHL Shipping (Versenden)</strong> für dieses Versandprofil wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der dem Kunden im Webshop angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (Backend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im plentymarkets Backend verwendet wird und dem Kunden nicht angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Markierung <strong>1</strong> für DHL gewählt. Die Markierung wird z.B. in der Auftragsübersicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die höchste Priorität gewählt. Die Priorität legt die Reihenfolge der Versandprofile in der Kaufabwicklung im Webshop fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die niedrigste Kategorie gewählt. Die Kategorie legt fest, wann ein Versandprofil in der Kaufabwicklung angezeigt wird.<br>
<strong><em>Hinweis:</em></strong> Tipps und Tricks zu den Kategorieeinstellungen findest du in unserem <a href="/fulfillment/versand-vorbereiten#1300">Handbuch</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bei neuen Artikeln aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um das Versandprofil automatisch für jeden neuen Artikel einzustellen.<br>
Wähle bei mindestens einem Versandprofil die Option <strong>Bei neuen Artikeln aktivieren</strong>, damit neuen Artikeln immer automatisch mindestens dieses Profil zugeordnet wird. Ist ein Artikel nicht mit mindestens einem Versandprofil verknüpft, kann dieser auch nicht versendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandanten (Shops)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig sind alle Mandanten aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig sind alle Auftragsherkünfte gewählt. Auftragsherkünfte deaktivieren, wenn das Versandprofil ausschließlich für bestimmte Aufträge gelten soll. Mindestens ein Versandprofil sollte die Auftragsherkunft <strong>ALLE</strong> beinhalten, damit tatsächlich für alle Aufträge mindestens ein Versandprofil zur Verfügung steht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesperrte Zahlungsarten</strong>, <strong>Gesperrte Kundenklassen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">Zahlungsarten</a> und Kundenklassen wählen, für die das Versandprofil <strong>nicht</strong> gelten soll.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. Portotabelle einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Versandprofil erstellt hast, kannst du dich nun um die Versandkosten kümmern. Für jede erstellte Region muss eine eigene Portotabelle eingerichtet werden.</p>
</div>
<div class="paragraph">
<p>Bevor du Werte eingibst, musst du dich pro Region für einen Berechnungstyp entscheiden. Standardmäßig ist der Berechnungstyp <strong>Pauschal</strong> eingestellt.</p>
</div>
<div class="paragraph instruction">
<p>Portotabelle einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das DHL-Versandprofil.<br>
→ Das Tab <strong>Base</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Portotabelle</strong>.</p>
</li>
<li>
<p>Klappe die Region <strong>Germany</strong> auf (<span class="icon"><i class="fa fa-chevron-down"></i></span>).</p>
</li>
<li>
<p>Der Berechnungstyp <strong>Pauschal</strong> ist standardmäßig ist in deinem System gewählt.</p>
</li>
<li>
<p>Ändere ggf. den Betrag im Feld <strong>Pauschales Porto</strong>. Standardmäßig sind 5,99 Euro eingestellt.</p>
</li>
<li>
<p>Ändere ggf. im Feld <strong>Versandkostenfrei ab Warenwert</strong> den Betrag für den Warenwert, ab dem die Versandkosten entfallen. Standardmäßig sind 250,00 Euro eingestellt.</p>
</li>
<li>
<p>Ändere ggf. auch die Werte in den Feldern <strong>Ab Warenwert…​</strong> und <strong>…​pauschale Versandkosten von</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="650">7. DHL Shipping (Versenden)-Plugin einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das DHL Shipping (Versenden)-Plugin ist in deinem plentymarkets System im Menü <strong>Plugins » Plugin-Übersicht</strong> bereits installiert und aktiviert und dadurch im Menü <strong>Einrichtung » Aufträge » Versand » DHL Shipping</strong> sichtbar. Du musst jetzt noch ein paar Einstellungen in diesem Menü vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Grundeinstellungen vornehmen</p>
</li>
<li>
<p>DHL-Abrechnungsnummer speichern</p>
</li>
<li>
<p>Absenderdaten speichern</p>
</li>
<li>
<p>Versandeinstellungen vornehmen</p>
</li>
<li>
<p>Produktivmodus aktivieren</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bitte schaue dir dazu den <a href="https://marketplace.plentymarkets.com/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">User Guide des DHL Shipping (Versenden)-Plugins</a> im plentyMarketplace an. Dort sind alle Einstellungen beschrieben, die du vornehmen musst, um deine Artikel über die Schnittstelle für DHL Shipping zu versenden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="660">8. Versand anmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald sich ein neuer Auftrag in deinem System befindet, meldest du den Versand beim Versanddienstleister an – entweder manuell oder automatisiert über einen Prozess.</p>
</div>
<div class="paragraph">
<p>Prozesse kannst du nur nutzen, wenn du das Tool plentyBase installiert hast und richtet sich an fortgeschrittene plentymarkets Nutzer. Daher werden Prozesse im Schnelleinstieg nicht näher beschrieben. Beachte die weiterführenden Links am Ende dieser Seite, um weitere Informationen zum Einrichten von Prozessen zu erhalten.</p>
</div>
<div class="paragraph instruction">
<p>Versand anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versandstatus</strong> die Option <strong>offen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versanddienstleister</strong> die Option <strong>DHL Shipping</strong>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die offenen Versandaufträge für DHL Shipping werden angezeigt.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versanddienstleister</strong> die Option <strong>DHL Shipping (Versenden)</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Ändere Auftragsstatus</strong> den Auftragsstatus, den die Aufträge nach der erfolgreichen Anmeldung erhalten sollen.<br>
<strong><em>Tipp:</em></strong> Das Ändern des Auftragsstatus kann mit einer Ereignisaktion, die z.B. automatisch den Warenausgang bucht, kombiniert werden.</p>
</li>
<li>
<p>Setze ein Häkchen bei den Aufträgen, die du anmelden möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach der erfolgreichen Anmeldung steht dir das Versandlabel im angemeldeten Auftrag zur Verfügung. Drucke dieses Label aus und klebe es auf das Paket.</p>
</div>
<div class="paragraph">
<p>Beachte die weiterführenden Links am Ende dieser Seite, um weitere Informationen zur Versandanmeldung zu erhalten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Checkliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Versandoptionen zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Lieferländer: Hast du alle Länder, in die du deine Artikel liefern möchtest, aktiviert und einem Lager zugewiesen?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Lieferländer: Hast du alle Lieferländer mit gleichen Versandkosten in eine Region eingeteilt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Versanddienstleister: Hast du den Versanddienstleister erstellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Portotabelle: Hast du Portotabellen für alle Regionen erstellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Artikel: Hast du deinen Artikel mit dem Versandprofil verknüpft?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Versandprofil: Hast du für mindestens ein Versandprofil die Option <strong>Bei neuen Artikeln aktivieren</strong> gewählt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> DHL-Plugin: Hast du alle Einstellungen im Menü <strong>Einrichtung » Aufträge » Versand » DHL Shipping</strong> vorgenommen?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Mehr zum Thema Versandoptionen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/crm/kontakte-verwalten#15">Kundenklasse erstellen</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">Zahlungsarten</a></p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#100">Lieferländer einrichten</a></p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#400">Region erstellen</a></p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister erstellen</a></p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1000">Versandprofil erstellen</a></p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1500">Portotabelle einrichten</a></p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1600">Berechnungstypen in der Portotabelle</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsherkunft">Auftragsherkunft aktivieren</a></p>
</li>
<li>
<p><a href="#automatisierung/prozesse/prozesse-einrichten">Prozesse einrichten</a></p>
</li>
<li>
<p><a href="/fulfillment/versand-center">Versandauftrag anmelden</a></p>
</li>
<li>
<p><a href="/automatisierung/ereignisaktionen">Ereignisaktionen erstellen</a></p>
</li>
<li>
<p><a href="/fulfillment/best-practices-dhl#_fehlerbehebung_dhl#">DHL-Fehlermeldungen und deren Lösungen</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-artikelkatalog">Artikelkatalog aufbauen</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>