<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> Vorbereitungen treffen</span></a>
<ul class="sectlevel2">
<li><a href="#10"><span>1.1.</span><span> Kategorien erstellen</span></a></li>
<li><a href="#20"><span>1.2.</span><span> Attribute erstellen</span></a></li>
<li><a href="#30"><span>1.3.</span><span> Verkaufspreis anpassen</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Artikelkatalog aufbauen</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>2.1.</span><span> Artikelübersicht verstehen</span></a></li>
<li><a href="#60"><span>2.2.</span><span> Beispielartikel verstehen</span></a>
<ul class="sectlevel3">
<li><a href="#65"><span>2.2.1.</span><span> Beispielartikel anzeigen</span></a></li>
</ul>
</li>
<li><a href="#90"><span>2.3.</span><span> Beispielartikel löschen</span></a></li>
<li><a href="#220"><span>2.4.</span><span> Artikel und Varianten erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#100"><span>2.4.1.</span><span> Artikel manuell erstellen</span></a></li>
<li><a href="#110"><span>2.4.2.</span><span> Varianten manuell erstellen</span></a></li>
<li><a href="#120"><span>2.4.3.</span><span> Artikel und Varianten importieren</span></a>
<ul class="sectlevel4">
<li><a href="#_musterdatei_für_den_initialen_artikelimport"><span>Musterdatei für den initialen Artikelimport</span></a></li>
<li><a href="#130"><span>Importdatei vorbereiten</span></a></li>
<li><a href="#140"><span>Sync für initialen Artikelimport erstellen</span></a></li>
<li><a href="#150"><span>Sync-Einstellungen vornehmen</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><a href="#170"><span>3.</span><span> Artikelbilder speichern</span></a>
<ul class="sectlevel2">
<li><a href="#180"><span>3.1.</span><span> Artikelbilder hochladen</span></a></li>
<li><a href="#190"><span>3.2.</span><span> Artikelbilder mit Varianten verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>4.</span><span> Checkliste Artikelkatalog</span></a></li>
<li><a href="#210"><span>5.</span><span> Mehr zum Thema Artikelkatalog aufbauen</span></a>
<ul class="sectlevel2">
<li><a href="#_vorbereitungen_treffen"><span>5.1.</span><span> Vorbereitungen treffen</span></a></li>
<li><a href="#_artikel_verwalten"><span>5.2.</span><span> Artikel verwalten</span></a></li>
<li><a href="#_artikelbilder_verwalten"><span>5.3.</span><span> Artikelbilder verwalten</span></a></li>
<li><a href="#_daten_importieren"><span>5.4.</span><span> Daten importieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelkatalog aufbauen</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon Lieferländer eingerichtet und in Regionen eingeteilt, das Versandprofil eingerichtet und die Versandkosten festgelegt? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg/schnelleinstieg-versandoptionen">Versandoptionen einstellen</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nun pflegst du deine Produkte in plentymarkets ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="5">1. Vorbereitungen treffen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets werden einige Artikelinformationen zentral verwaltet und mit Varianten verknüpft. Deshalb musst du diese Daten im System speichern, bevor du Varianten erstellen kannst. Die folgenden Artikelinformationen müssen im System vorhanden sein, damit du Artikel und Varianten erstellen kannst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Verkaufspreise</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Nun erfährst du, wie du diese Informationen in plentymarkets speicherst.</p>
</div>
<div class="sect2">
<h3 id="10">1.1. Kategorien erstellen</h3>
<div class="paragraph">
<p>Mit Kategorien des Typs <strong>Artikel</strong> strukturierst du dein Produktsortiment und gestaltest deinen Webshop übersichtlich. Jeder Artikel muss mindestens einer Kategorie zugeordnet sein.</p>
</div>
<div class="paragraph">
<p>Im Webshop Ceres kannst du dich für eine Kategorietiefe von 2 oder von bis zu 4 Ebenen entscheiden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 Hauptkategorie + 1 Unterkategorie</p>
<div class="ulist">
<ul>
<li>
<p>In der Standard-Navigationsleiste wird unterhalb der Hauptkategorien maximal eine weitere Kategorieebene dargestellt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>1 Hauptkategorie + bis zu 3 Unterkategorien</p>
<div class="ulist">
<ul>
<li>
<p>Über das Megamenü sind bis zu drei weitere Ebenen unterhalb der Hauptkategorien darstellbar.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kategoriestruktur planen</div>
<div class="paragraph">
<p>Überlege dir, welche Kategorien und Unterkategorien für deine Produkte sinnvoll sind. Welche Sortierung macht es deinen Kundinnen und Kunden leicht, sich in deinem Shop zurechtzufinden? Trage diese Informationen am besten zusammen, bevor du loslegst. Eine Baumstruktur zu skizzieren kann dir helfen, deine Produkte sinnvoll zu gruppieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Hauptkategorie zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Hauptkategorie erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den Mandanten, für den du die Kategorie erstellen möchtest.<br>
<strong><em>Tipp:</em></strong> Der Standard-Mandant ist bereits vorausgewählt.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.<br>
<strong><em>Tipp:</em></strong> Die Option <strong>Hauptkategorie</strong> ist standardmäßig ausgewählt.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die Kategorie wird erstellt.<br>
→ Das Tab <strong>Einstellungen</strong> der Kategorie wird geöffnet.<br></p>
</li>
<li>
<p>Gib eine <strong>Position</strong> ein. Über die Position legst du die Reihenfolge fest, in der die Kategorien im Webshop angezeigt werden. Standardmäßig hat jede neue Kategorie, die du anlegst, die Position 0.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in Zehnerschritten vergeben, damit neue Kategorien dazwischen eingefügt werden können.</p>
</li>
<li>
<p>Aktiviere die <strong>Mandanten (Shops)</strong>, in denen die Kategorie verfügbar sein sollen.</p>
</li>
<li>
<p>Gib einen <strong>Meta-Titel</strong> ein.<br>
<strong><em>Tipp:</em></strong> Der Meta-Titel wird im Tab des Browsers angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Kategorie wird erstellt.<br>
<strong><em>Hinweis:</em></strong> Die Kategorie wird erst im Webshop angezeigt, wenn mindestens ein für den Mandanten sichtbarer Artikel mit der Kategorie verknüpft ist.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun erstellst du eine Unterkategorie zu der Hauptkategorie, die du eben erstellt hast.</p>
</div>
<div class="paragraph instruction">
<p>Unterkategorie erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.<br></p>
</li>
<li>
<p>Wähle die Option <strong>Unterkategorie</strong>.</p>
</li>
<li>
<p>Klicke auf die Hauptkategorie, für die du die Unterkategorie erstellen möchtest.<br>
<strong><em>Tipp:</em></strong> Um eine Unterkategorie der dritten oder vierten Ebene zu erstellen, klicke in der Liste auf das Symbol der Hauptkategorie, um den Ordner zu öffnen. Öffne dann die Ordner der Unterkategorien auf die gleiche Weise, bis du die Kategorie erreichst, zu der du eine Unterkategorie erstellen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die Kategorie wird erstellt.<br>
→ Das Tab <strong>Einstellungen</strong> der Kategorie wird geöffnet.</p>
</li>
<li>
<p>Gib eine <strong>Position</strong> ein. Über die Position legst du die Reihenfolge fest, in der die Kategorien im Webshop angezeigt werden. Standardmäßig hat jede neue Kategorie, die du anlegst, die Position 0.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in Zehnerschritten vergeben, damit neue Kategorien dazwischen eingefügt werden können.</p>
</li>
<li>
<p>Aktiviere die <strong>Mandanten (Shops)</strong>, in denen die Kategorie verfügbar sein sollen.</p>
</li>
<li>
<p>Gib einen <strong>Meta-Titel</strong> ein.<br>
<strong><em>Tipp:</em></strong> Der Meta-Titel wird im Tab des Browsers angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Kategorie wird erstellt.<br>
<strong><em>Hinweis:</em></strong> Die Kategorie wird erst im Webshop angezeigt, wenn mindestens ein für den Mandanten sichtbarer Artikel mit der Kategorie verknüpft ist.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Die neuen Kategorien werden nicht im Webshop angezeigt?</div>
<div class="paragraph">
<p>Wenn deine Kategorien nicht im Webshop angezeigt werden, hilft dir unsere <a href="/artikel/best-practices#kategorien">Checkliste für die Kategoriesichtbarkeit im Webshop</a> weiter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="20">1.2. Attribute erstellen</h3>
<div class="paragraph">
<p>Attribute dienen dazu, Varianten zu erstellen. Varianten sind verschiedene Ausführungen eines Artikels, die sich sehr ähnlich sind, sich aber in einer oder mehreren Eigenschaften unterscheiden. Typische solche Attribute sind zum Beispiel Farben und Größen. Damit du nicht für jedes Produkt einen eigenen Artikel erstellen musst, werden diese Eigenschaften in plentymarkets als Attribute erstellt und einem Artikel zugeordnet. Unten wird beispielhaft beschrieben, wie du das Attribut <strong>Farbe</strong> erstellst.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>Ein Artikel soll in 3 Farben verkauft werden. Diese 3 Farbvarianten sollen für Kundinnen und Kunden bei der Bestellung wählbar sein. Statt 3 Artikel zu erstellen, wird ein Artikel mit drei Varianten erstellt. Die Varianten werden über Attributwerte gebildet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Attribut "Farbe" erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Artikel » Attribute</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Attribut</strong>.<br>
→ Das Fenster <strong>Neues Attribut</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen <strong>Namen (intern)</strong> ein, z.B. <strong>Farbe</strong>.<br>
<strong><em>Tipp:</em></strong> Dieser interne Name ist im Webshop nicht sichtbar.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Attribut wird erstellt.<br>
→ Das Tab <strong>Grundeinstellungen</strong> des Attributs wird geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Name</strong>.</p>
</li>
<li>
<p>Gib Namen für das Attribut in den Sprachen ein, die du in deinem Webshop verwendest.<br>
→ Dieser Name wird im Webshop angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun erstellst du Attributwerte für das Attribut. Hier wird beispielhaft beschrieben, wie du den Wert "Grün" erstellst.</p>
</div>
<div class="paragraph instruction">
<p>Wert "Grün" für das Attribut "Farbe" erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsele in das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Wert</strong>.<br>
→ Das Fenster <strong>Neuer Wert</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen <strong>Namen (intern)</strong> ein, z.B. <strong>Grün</strong>.<br>
<strong><em>Tipp:</em></strong> Dieser interne Name ist im Webshop nicht sichtbar.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Wert wird erstellt.<br>
→ Der Wert wird in der Liste angezeigt.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Name</strong> einen Namen für den Wert ein.<br>
<strong><em>Tipp:</em></strong> Standardmäßig wird der interne Name eingefügt.<br>
→ Dieser Name wird im Webshop angezeigt.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wenn du deine Produkte in mehreren Sprachen anbietest, wähle im Dropdown-Menü <strong>Sprache anzeigen</strong> die weiteren Sprachen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Gib in der Spalte <strong>Name</strong> einen Namen für den Wert in dieser Sprache ein.<br>
→ Dieser Name wird später im Webshop angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="30">1.3. Verkaufspreis anpassen</h3>
<div class="paragraph">
<p>Du kannst beliebig viele Verkaufspreise erstellen und sie mit Varianten verknüpfen. In deinem System ist bereits der Verkaufspreis <strong>Preis</strong> vorhanden, damit du möglichst schnell Artikel verkaufen kannst. Prüfe die Einstellungen des Verkaufspreises <strong>Preis</strong>, bevor du Varianten damit verknüpfst. Passe die Einstellungen des Verkaufspreises bei Bedarf an. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis "Preis" anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Artikel » Verkaufspreise</strong>.<br>
→ Eine Liste der Verkaufspreise wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den Verkaufspreis <strong>Preis</strong>.<br>
→ Der Verkaufspreis wird geöffnet.</p>
</li>
<li>
<p>Prüfe die Einstellungen des Verkaufspreises. Beachte dazu die Erläuterungen in <a href="#tabelle-verkaufspreis-preis-anpassen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-verkaufspreis-preis-anpassen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verkaufspreis <strong>Preis</strong> anpassen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interner Name</strong>;<br>
<strong>Externer Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig heißt der Verkaufspreis auf Deutsch <strong>Preis</strong> und auf Englisch <strong>Price</strong>. Im Tab <strong>Sprache</strong> passt du die Namen bei Bedarf an. Dort kannst du auch Übersetzungen des Namens in weiteren Sprachen eingeben.<br>
<strong><em>Tipp:</em></strong> Der externe Name wird im Webshop angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig sind alle Währungen aktiviert. Schränke den Verkaufspreis bei Bedarf auf bestimmte Währungen ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig sind alle Mandanten aktiviert. Schränke den Verkaufspreis bei Bedarf auf bestimmte Mandanten ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig sind alle Länder aktiviert. Schränke den Verkaufspreis bei Bedarf auf bestimmte Länder ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig sind zusätzlich zum Standard-Webshop noch mehrere andere Herkünfte aktiviert.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Artikelkatalog aufbauen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast nun die folgenden Artikelinformationen hinterlegt, die du benötigst, um deine Produkte in plentymarkets abzubilden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Verkaufspreis</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bevor du deine ersten Artikeldaten ins System einpflegst, solltest du dich kurz mit der Artikelübersicht und der Artikelstruktur vertraut machen. Wir erklären, wie die Artikelübersicht funktioniert und stellen dir die Beispielartikel vor, die in neuen Systemen gespeichert sind.</p>
</div>
<div class="sect2">
<h3 id="50">2.1. Artikelübersicht verstehen</h3>
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten</strong> werden alle Artikel und Varianten aufgelistet. In dieser Artikelübersicht kannst du Artikel und Varianten suchen, bearbeiten und neue Artikel erstellen.</p>
</div>
<div class="paragraph">
<p>In der Spalte links findest du Filter, um die Artikelsuche einzugrenzen. Zum Einstieg ist vor allem der Filter <strong>Aktiv</strong> wichtig. Mit diesem Filter legst du fest, ob in der Liste der Artikel nur Artikel und Varianten angezeigt werden, die für einen Webshop aktiviert sind. Standardmäßig ist dieser Filter auf <strong>Ja</strong> eingestellt. Das wird dir später, wenn du viele Artikel und Varianten hast, helfen, deine Artikel schneller zu bearbeiten. Am Anfang kann es aber verwirrend sein, denn Artikel, die nicht aktiv sind, werden nicht gefunden, wenn du auf <strong>Suchen</strong> klickst, ohne vorher den Filter auf <strong>Nein</strong> oder <strong>Alle</strong> zu setzen.</p>
</div>
</div>
<div class="sect2">
<h3 id="60">2.2. Beispielartikel verstehen</h3>
<div class="paragraph">
<p>Dein plentymarkets System enthält einige Beispielartikel und Beispielvarianten. Diese Beispieldaten helfen dir, dich mit der Struktur von Artikeln und Varianten vertraut zu machen, bevor du eigene Daten einpflegst.</p>
</div>
<div class="paragraph">
<p>Anhand dieser Beispielartikel werden wir dir kurz die Artikelstruktur erklären.</p>
</div>
<div class="sect3">
<h4 id="65">2.2.1. Beispielartikel anzeigen</h4>
<div class="paragraph instruction">
<p>Beispielartikel anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke in der Spalte links oben auf <strong>Suchen</strong>.<br>
→ Die Beispielartikel werden in der Artikelübersicht angezeigt.</p>
</li>
<li>
<p>Öffne die folgenden Artikel:</p>
<div class="ulist">
<ul>
<li>
<p>Den Einzelartikel "Sessel Floating Water", Artikel-ID 123</p>
</li>
<li>
<p>Den Variantenartikel "Zweisitzer Paradise Now", Artikel-ID 132</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke dich durch die Tabs des Artikels und der Varianten und mache dich mit den Einstellungsmöglichkeiten vertraut.<br>
→ <a href="#tabelle-beispielartikel">Tabelle 2</a> stellt die beiden Artikel gegenüber.</p>
</li>
<li>
<p>Teste die Funktionsweise der Vererbung:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Verknüpfe für die Variante 1065 des Artikels 132 im Tab <strong>Kategorien</strong> eine weitere Kategorie.<br>
→ Die bisher vererbte Kategorie wird direkt an der Variante gespeichert.<br>
→ Die Vererbung wird deaktiviert.</p>
</li>
<li>
<p>Klicke auf <strong>Vererbung aktivieren</strong>.<br>
→ Die Kategorie, die du verknüpft hast, wird entfernt.<br>
→ Die Kategorie der Hauptvariante wird übernommen.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<table id="tabelle-beispielartikel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einzel- und Variantenartikel</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Einzelartikel</th>
<th class="tableblock halign-left valign-top">Variantenartikel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">123</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">132</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sessel Floating Water</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweisitzer Paradise Now</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1030</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hauptvariante kaufbar</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja<br>
<strong><em>Tipp:</em></strong> Bei Einzelartikeln sollte das Produkt der Hauptvariante entsprechen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein<br>
<strong><em>Tipp:</em></strong> Bei Variantenartikeln sollte die Hauptvariante kein verkaufbares Produkt sein. Die Hauptvariante sollte nur dazu dienen, die anderen Varianten des Artikels per Vererbung mit Daten zu versorgen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Varianten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - rot<br>
1066 - weiß</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A &amp; C Design</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exclusive Leather</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis<br>
UVP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis<br>
UVP<br>
<strong><em>Tipp:</em></strong> Die Preise werden nicht von der Hauptvariante an die Varianten vererbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wohnzimmer » Sessel &amp; Hocker</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wohnzimmer » Sofas<br>
<strong><em>Tipp:</em></strong> Die Kategorie wird von der Hauptvariante an die Varianten vererbt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahlkombination<br>
(Attribut:Attributwert)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">---</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - Couch color:rot<br>
1066 - Couch color:white<br>
<strong><em>Tipp:</em></strong> Mit der Hauptvariante ist kein Attribut verknüpft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop<br>
<strong><em>Tipp:</em></strong> Der Mandant wird von der Hauptvariante an die Varianten vererbt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="90">2.3. Beispielartikel löschen</h3>
<div class="paragraph">
<p>Nachdem du dir die Beispielartikel angesehen hast, haben sie ihre Schuldigkeit getan und du kannst sie löschen. Damit stellst du sicher, dass du von Anfang an ein sauberes System ohne unnötige Daten hast. Am schnellsten löschst du die Beispielartikel mit der Gruppenfunktion.</p>
</div>
<div class="paragraph instruction">
<p>Beispielartikel per Gruppenfunktion löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Stelle den Filter <strong>Aktiv</strong> auf <strong>ALLE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Alle im System gespeicherten Artikel werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Spaltenüberschrift der Liste ganz oben links auf das Kontrollkästchen, um alle angezeigten Artikel zu markieren.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Artikel-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Artikel löschen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Alle Artikel werden aus dem System gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="220">2.4. Artikel und Varianten erstellen</h3>
<div class="paragraph">
<p>Nun ist es so weit: Du pflegst deine eigenen Artikel in plentymarkets ein. Je nachdem, mit wie vielen Artikeln du starten möchtest und wie du Artikeldaten bisher verwaltest hast, hast du zwei Möglichkeiten, Artikeldaten ins System zu bringen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#100">Artikel manuell erstellen</a><br>
<strong><em>Tipp:</em></strong> Nachdem du den ersten Artikel erstellt hast, kannst du diesen Artikel kopieren und diese Kopie anpassen, um schneller zu arbeiten.</p>
</li>
<li>
<p><a href="#120">In einer CSV-Datei gespeicherte Artikeldaten importieren</a><br>
<strong><em>Tipp:</em></strong> Auch wenn du die Artikel importierst, solltest du vorher mindestens einen Beispielartikel manuell erstellen, um die Artikelstruktur kennenzulernen. Denke daran, diesen Beispielartikel vor dem Importieren zu löschen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beide Möglichkeiten werden nachfolgend beschrieben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Änderungen nicht sofort sichtbar</div>
<div class="paragraph">
<p>Neue Varianten und Änderungen an Variantendaten sind nicht sofort im Webshop und den Exporten verfügbar. Wie du prüfst, ob die Variantendaten aktuell sind, erfährst du auf der Handbuchseite <a href="/artikel/artikeldaten-status-pruefen">Aktualität von Artikeldaten prüfen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="100">2.4.1. Artikel manuell erstellen</h4>
<div class="paragraph">
<p>Nun erstellst du deinen ersten verkaufsbereiten Artikel. Damit du möglichst schnell loslegen kannst, beschreiben wir nur die nötigsten Einstellungen, die du vornehmen musst, damit der Artikel im Webshop verkauft werden kann.</p>
</div>
<div class="paragraph instruction">
<p>Artikel manuell erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet.<br>
<strong><em>Tipp:</em></strong> Der Artikeltyp <strong>Standard</strong> ist vorausgewählt.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Gib den Inhalt als Zahl ein.</p>
</li>
<li>
<p>Wähle für diesen Inhalt eine Einheit aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf die Kategorie.<br>
→ Diese Kategorie wird als Standardkategorie mit der Hauptvariante des Artikels verknüpft.</p>
</li>
<li>
<p>Gib einen <strong>Preis</strong> ein.<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Artikel wird erstellt.<br>
→ Eine Hauptvariante wird erstellt.<br>
→ Das Tab <strong>Global</strong> des Artikels wird geöffnet.</p>
</li>
<li>
<p>Nimm bei Bedarf weitere Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-artikel-bearbeiten">Tabelle 3</a>.<br>
<strong><em>Tipp:</em></strong> Die in <a href="#einstellungen-artikel-bearbeiten">Tabelle 3</a> beschriebenen Einstellungen beziehen sich auf verschiedene Tabs im Bearbeitungsfenster des Artikels. Das Tab wird in einer eigenen Zeile als Zwischenüberschrift angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
<strong><em>Hinweis:</em></strong> Neue Artikel und Änderungen an Artikeldaten sind nicht sofort im Webshop und den Exporten verfügbar.<br>
<strong><em>Tipp:</em></strong> Zeige eine Vorschau des Artikels an:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke in der Speicherzeile des Artikels auf das Augensymbol.<br>
→ Das Fenster <strong>Mandant (Shop)</strong> wird angezeigt.<br></p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Plugin Set</strong>, in welchem Plugin-Set du die Vorschau anzeigen möchtest.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Mandant (Shop)</strong>, in welchem Mandanten du die Vorschau anzeigen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Eine Vorschau des Artikels wird angezeigt.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<table id="einstellungen-artikel-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Artikeleinstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentymarkets kann automatisch eine fortlaufende Nummer vergeben (empfohlen).<br>
Alternativ kannst du beim Erstellen eines Artikels eine eigene Artikel-ID eingeben. Die ID darf nur aus Zahlen bestehen. Jede ID darf nur einmal im System vorkommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Global</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Versandprofil <strong>DHL</strong> aktivieren. Standardmäßig ist kein Versandprofil aktiviert.<br>
<strong><em>Hinweis:</em></strong> Pro Artikel muss mindestens ein Versandprofil aktiviert werden, da sonst ungewollte Effekte bei der Versandkostenberechnung auftreten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Varianten-ID » Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel aktivieren. Artikel werden erst im Webshop angezeigt, wenn sie aktiv sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeitsstufe wählen.<br>
<strong><em>Tipp:</em></strong> Du bist gesetzlich verpflichtet, Verbraucherinnen und Verbraucher über die Lieferfristen deiner Produkte zu informieren. Im Menü <strong>System » Artikel » Verfügbarkeit</strong> sind Standardtexte für 5 Verfügbarkeitsstufen gespeichert. Passe diese Texte bei Bedarf an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige im Webshop:</strong><br>
<strong>Automatisch verfügbar wenn Netto-WB positiv</strong>;
<strong>Automatisch nicht verfügbar wenn kein Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beide Optionen aktivieren. Die Variante ist dann bei positivem Nettowarenbestand verfügbar und käuflich und nicht käuflich, wenn kein Nettowarenbestand vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis <strong>Preis</strong> hinzufügen und einen Preis eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode hinzufügen und Code eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ASIN/ePID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN/ePID hinzufügen und ASIN bzw. ePID eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht brutto</strong>;<br>
<strong>Gewicht netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe in Gramm oder Kilogramm.<br>
<strong><em>Hinweis:</em></strong> Diese Angaben sind unbedingt erforderlich, wenn die Versandkosten auf Basis des Gewichts berechnet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzsteuer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuersatz des Produkts wählen.<br>
<strong><em>Tipp:</em></strong> Die Umsatzsteuersätze werden im Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong> gepflegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Varianten-ID » Verfügbarkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop): Verfügbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den oder die Mandanten (Shops) aktivieren, in denen die Variante verfügbar sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Texte</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Namen für den Artikel eingeben.<br>
<strong><em>Tipp:</em></strong> Dieser Name wird im Webshop angezeigt. Der Name gilt für alle Varianten des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeltext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltext eingeben. Der Artikeltext ist eine detaillierte Produktbeschreibung, die im Webshop angezeigt wird.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="110">2.4.2. Varianten manuell erstellen</h4>
<div class="paragraph">
<p>Super! Du hast nun deinen ersten Artikel erstellt. Dir ist sicher aufgefallen, dass beim Erstellen eines neuen Artikels immer eine Hauptvariante erstellt wird. Wenn du nur Einzelartikel verkaufen möchtest, entspricht die Hauptvariante deinem Produkt. Wenn du deine Produkte als Varianten eines Artikels gruppieren möchtest, erstellst du nun weitere Varianten.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vererbung</div>
<div class="paragraph">
<p>Wenn du Varianten erstellst, erben diese Varianten standardmäßig die vererbbaren Einstellungen der Hauptvariante:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verfügbarkeitseinstellungen</p>
</li>
<li>
<p>Verkaufspreis und Preis</p>
</li>
<li>
<p>Kategorie</p>
</li>
<li>
<p>Lieferant</p>
</li>
<li>
<p>Lager</p>
</li>
<li>
<p>Mandantenverfügbarkeit</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Deshalb empfehlen wir, Artikel mit mehreren Varianten so zu erstellen, dass die Hauptvariante virtuell ist, also nur dazu dient, Daten an die Varianten zu vererben. Wenn ein oder mehrere Einstellungen nicht vererbt werden sollen, kannst du die Vererbung an der Variante selbst deaktivieren und für die Variante eigene Daten speichern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Eine oder mehrere Varianten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neue Variante erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Inhalt als Zahl ein.</p>
</li>
<li>
<p>Wähle für diesen Inhalt eine Einheit aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle ein oder mehrere Attribute.<br>
→ Unter <strong>Kombinationen</strong> wird angezeigt, wie viele Varianten erstellt werden.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten erstellen</strong>.<br>
→ Die Varianten werden erstellt.<br>
→ Die Varianten werden in der Variantenübersicht angezeigt.<br>
<strong><em>Tipp:</em></strong> Die vererbbaren Einstellungen werden von der Hauptvariante an die Varianten vererbt. <br>
<strong><em>Hinweis:</em></strong> Neue Varianten und Änderungen an Variantendaten sind nicht sofort im Webshop und den Exporten verfügbar.<br>
<strong><em>Tipp:</em></strong> Zeige eine Vorschau der Variante an:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke in der Speicherzeile der Variante auf das Augensymbol.<br>
→ Das Fenster <strong>Mandant (Shop)</strong> wird angezeigt.<br></p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Plugin Set</strong>, in welchem Plugin-Set du die Vorschau anzeigen möchtest.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Mandant (Shop)</strong>, in welchem Mandanten du die Vorschau anzeigen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Eine Vorschau der Variante wird angezeigt.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel kopieren</div>
<div class="paragraph">
<p>Wenn sich mehrere deiner Artikel ähnlich sind, kannst du bei der Artikelerstellung Zeit sparen, indem du Artikel kopierst und anpasst. Klicke dazu in der oberen Zeile des Artikels auf das Symbol <strong>Kopieren</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="120">2.4.3. Artikel und Varianten importieren</h4>
<div class="paragraph">
<p>Wenn du sofort eine größere Menge Artikeldaten importieren möchtest, ist das natürlich auch kein Problem. Um Daten von Artikeln und Varianten zu importieren, benötigst du diese Daten in einer CSV-Datei, die auf deinem Rechner gespeichert ist.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vor dem Import manuell einen Beispielartikel erstellen</div>
<div class="paragraph">
<p>Auch wenn du die Artikel importierst, solltest du vorher mindestens einen Beispielartikel manuell erstellen, um die Artikelstruktur kennenzulernen. Denke daran, diesen Beispielartikel vor dem Importieren zu löschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect4">
<h5 id="_musterdatei_für_den_initialen_artikelimport">Musterdatei für den initialen Artikelimport</h5>
<div class="paragraph">
<p>Damit dir der Import leichter von der Hand geht, haben wir eine CSV-Datei vorbereitet, die die Datenfelder enthält, die du benötigst, um verkaufbare Artikel zu importieren.</p>
</div>
<table id="tabelle-artikelkatalog-musterdateien" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Musterdatei</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Download</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p>
<p class="tableblock">////</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/Initialer_Artikelimport.json.zip">Muster-Sync für initialen Artikelimport</a> [Download als ZIP-Datei]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Muster-Sync enthält dieselben Datenfelder wie die CSV-Musterdatei.
////</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/musterdatei_initialer_artikelimport_190226.csv">Muster-CSV-Datei für initialen Artikelimport</a> [Download]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die CSV-Datei enthält einen Einzelartikel und einen Variantenartikel mit einer virtuellen Hauptvariante und 3 weiteren Varianten.<br>
<strong><em>Tipp:</em></strong> Die Spaltenüberschriften sind genauso benannt wie die Felder, die du in ElasticSync bei der Zuordnung als Ziel angibst.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect4">
<h5 id="130">Importdatei vorbereiten</h5>
<div class="paragraph">
<p>Bereite nun eine CSV-Datei mit deinen Artikeldaten vor. Lade dir die Muster-CSV-Datei herunter und mache dich damit vertraut, wie die Datei aufgebaut ist.</p>
</div>
<div class="paragraph">
<p>Wenn du eine größere Menge Artikeldaten auf einmal importieren möchtest, prüfe vor dem Import, dass du wirklich alle Daten im System gespeichert hast, die du benötigst, um sie mit Artikeln und Varianten zu verknüpfen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Verkaufspreise</p>
</li>
</ul>
</div>
</div>
<div class="sect4">
<h5 id="140">Sync für initialen Artikelimport erstellen</h5>
<div class="paragraph">
<p>Daten importierst du mit ElasticSync in plentymarkets. Du erstellst zunächst einen Sync und ordnest dann die Felder in plentymarkets zu, in die die Daten importiert werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Sync für Artikelimport erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Sync hinzufügen</strong>.<br>
→ Der Bearbeitungsbereich <strong>Neuer Sync</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib in das Feld <strong>Namen</strong> die Bezeichnung <strong>Initialer Artikelimport</strong> ein.</p>
</li>
<li>
<p>Wähle den Typ <strong>Artikel</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Nehme die Einstellungen im Bereich <strong>Import</strong> und vor. Beachte dazu die Erläuterungen in <a href="#tabelle-sync-erstellen">Tabelle 5</a>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Quelle</strong> die Option <strong>HTTP</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>HTTP-Optionen</strong> die Option <strong>Datei-Upload</strong>.</p>
</li>
<li>
<p>Klicke im Feld <strong>URL</strong> auf das Dreipunktmenü.<br></p>
</li>
<li>
<p>Klicke im angezeigten Fenster auf <strong>Datei hochladen</strong>.</p>
</li>
<li>
<p>Wähle in der Ordnernavigation die Importdatei.</p>
</li>
<li>
<p>Kicke auf <strong>Öffnen</strong>.<br>
→ Die Datei wird hochgeladen.</p>
</li>
<li>
<p>Klicke mit der Maus auf die Datei in der Liste, um die Datei zu markieren.</p>
</li>
<li>
<p>Klicke auf <strong>Wählen</strong>.<br>
<strong><em>Tipp:</em></strong> Wenn der Button ausgegraut ist, klicke mit der Maus auf die Datei in der Liste.<br>
→ Die Datei wird für den Import vorgemerkt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Sync wird erstellt.<br>
→ Die Abgleicheinstellungen des Syncs werden geöffnet.</p>
</li>
</ol>
</div>
<table id="tabelle-sync-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Sync für Artikelimport erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Zeichensatz der Datei oder die Option <strong>Automatisch erkennen</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Trennzeichen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Trennzeichen wählen, das in der Importdatei verwendet wird, um die Datenfelder (Spalten) eines Datensatzes voneinander zu trennen.<br>
Mögliche Trennzeichen sind <strong>Semikolon</strong>, <strong>Komma</strong>, <strong>Tabulator</strong> oder <strong>Pipe</strong>.<br>
<strong><em>Tipp:</em></strong> In der Musterdatei wird das Trennzeichen <strong>Semikolon</strong> verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldbegrenzungszeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Begrenzungszeichen innerhalb von Feldern wählen, die mehrere Werte enthalten.<br>
<strong>"</strong> = Die einzelnen Werte innerhalb eines Felds sind durch doppelte Anführungszeichen voneinander getrennt.<br>
<strong>'</strong> = Die einzelnen Werte innerhalb eines Felds sind durch einfache Anführungszeichen voneinander getrennt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect4">
<h5 id="150">Sync-Einstellungen vornehmen</h5>
<div class="paragraph">
<p>Nachdem du den Sync erstellt hast, speicherst du nun Informationen darüber, wie die Daten in deiner Importdatei aufgebaut sind. Außerdem ordnest du die Daten in der Importdatei den Datenfeldern in plentymarkets zu. Mit Zuordnen meinen wir, dass du plentymarkets sagst, die Daten welcher Spalten der Datei in welche Datenfelder in plentymarkets importiert werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Sync-Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.</p>
</li>
<li>
<p>Klicke in der Sync-Übersicht auf den Sync.</p>
</li>
<li>
<p>Klicke auf <strong>Abgleich</strong>.<br></p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Abgleich</strong> und <strong>Importoptionen</strong> vor. Beachte dazu die Erläuterungen in <a href="#tabelle-Sync-Importoptionen">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Klicke links in der Liste auf <strong>Zuordnung</strong>.</p>
</li>
<li>
<p>Gib den Namen <strong>Initialer Artikelimport</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Pro Spalte der Importdatei wird ein Feld <strong>Quelle</strong> angezeigt.<br>
<strong><em>Tipp:</em></strong> In der Spalte <strong>Importdaten</strong> werden die Daten aller Felder der Importdatei mit einer Vorschau der Daten angezeigt.</p>
</li>
<li>
<p>Prüfe die Daten in der Spalte <strong>Vorschau</strong>.<br>
→ Wurden die Daten korrekt erkannt oder müssen die Importeinstellungen noch einmal angepasst werden?</p>
</li>
<li>
<p>Wähle nun in der Spalte <strong>plentymarkets Datenfelder</strong> in jeder Zeile ein Datenfeld in plentymarkets als Ziel aus der Dropdown-Liste. Beachte dazu die Erläuterungen in <a href="#tabelle-Sync-Importoptionen">Tabelle 6</a>.</p>
</li>
<li>
<p>Aktiviere nun in der Spalte ganz links die Zuordnungen, die beim Import berücksichtigt werden sollen.<br>
<strong><em>Tipp:</em></strong> In der Spalte <strong>Importdaten</strong> ganz oben kannst du auch alle Zuordnungen gleichzeitig aktivieren.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Klicke in der Symbolleiste auf <strong>Sync ausführen</strong>.<br>
→ Die Artikeldaten werden importiert.</p>
</li>
<li>
<p>Wechsele in das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne einige der importierten Artikel.</p>
</li>
<li>
<p>Prüfe, ob die Artikeldaten korrekt importiert wurden.<br>
<strong><em>Hinweis:</em></strong> Neue Varianten und Änderungen an Variantendaten sind nicht sofort im Webshop und den Exporten verfügbar.</p>
</li>
</ol>
</div>
<table id="tabelle-Sync-Importoptionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Importoptionen für den initialen Artikelimport</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Abgleich</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abgleicheinstellungen</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ein Abgleichfeld wählen.<br>
Ein Abgleichfeld legt fest, welche Datensätze als gleich angesehen werden. Beim Import wird also der Inhalt des gewählten Abgleichfelds durchsucht und so geprüft, ob der Datensatz, der importiert werden soll, schon im System vorhanden ist. Ist der Datensatz schon vorhanden, wird dieser Datensatz aktualisiert. Wenn der Datensatz noch nicht vorhanden ist, wird ein neuer Datensatz erstellt.<br>
<strong><em>Hinweis:</em></strong> Für den Import von Artikeldaten empfehlen wir das Abgleichfeld <strong>Variantennr.</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Importoptionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wenn keine Daten gefunden wurden</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Option <strong>Neue Daten importieren, vorhandene aktualisieren</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dezimalzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, wie Dezimaltrennzeichen in der Importdatei verwendet werden.<br>
<strong>Deutsche Schreibweise</strong> = Dezimalzahlen werden kommasepariert angegeben, z.B. 9,99. Ein Punkt dient als Tausendertrennzeichen.<br>
<strong>Englische Schreibweise</strong> = Dezimalzahlen werden punktsepariert angegeben, z.B. 9.99. Ein Komma dient als Tausendertrennzeichen.<br>
<strong><em>Tipp:</em></strong> In der Musterdatei wird die deutsche Schreibweise verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datumsformat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datumsformat eingeben, das in der Importdatei verwendet wird. Wenn die Datumsangaben in der Datei dem Standardformat Y-m-d H:i:s entsprechen, kann das Feld leer bleiben. Andere Formate müssen eingetragen werden. Zulässig sind alle <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">php-konformen Datumsformate</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Zuordnung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten / Nummer der Hauptvariante</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn in diesem Feld die Nummer einer Hauptvariante steht, wird statt eines Einzelartikels eine Variante erstellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten / Variantennr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Nummer der Variante<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung / Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name der Variante, der im Webshop angezeigt wird.<br>
→ In der Dropdown-Liste rechts die Sprache wählen, in der der Name in der Datei gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcodes / Code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Barcode der Variante (GTIN etc.).<br>
→ In der Dropdown-Liste rechts den Barcode-Typ wählen, den die Spalte enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung / Artikeltext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Beschreibungstext der Variante.<br>
→ In der Dropdown-Liste rechts die Sprache wählen, in der der Beschreibungstext in der Datei gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel Bilder / URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Link zu einem online verfügbaren Bild des Produkts<br>
<strong><em>Tipp:</em></strong> Um von Anfang an mehr als ein Bild pro Variante hochzuladen, stattdessen das Ziel <strong>Multi-Url (kommasepariert)</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantenpreise / Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Preis der Variante.<br>
→ In der Dropdown-Liste rechts den Verkaufspreis <strong>Preis</strong> wählen.<br>
<strong><em>Hinweis:</em></strong> Der Verkaufspreis muss im System vorhanden sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand / Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Lager, in das der Bestand importiert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand / Lagerort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Lagerort, auf den der Bestand importiert werden soll.<br>
0 = Standardlagerort<br>
<strong><em>Tipp:</em></strong> Wenn keine Lagerorte gespeichert sind, 0 angeben, um den Bestand auf den Standardlagerort zu buchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand / Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Stückzahl der Variante, die als Bestand importiert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute / Attributauswahlkombination</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Attributwerte, die mit der Variante verknüpft werden sollen.<br>
→ In der Dropdown-Liste rechts das Format wählen, in dem die Kombination in der Datei angegeben ist.<br>
<strong><em>Hinweis:</em></strong> Die Attributwerte müssen im System vorhanden sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardkategorien / ID der Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Standardkategorie, die mit der Variante verknüpft werden soll.<br>
<strong><em>Hinweis:</em></strong> Die Kategorie muss im System vorhanden sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten / Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Die Variante ist für den Verkauf aktiviert.<br>
<strong><em>Hinweis:</em></strong> Für die Hauptvariante von Variantenartikeln sollte eine 0 importiert werden, wenn die Hauptvariante nicht kaufbar sein soll.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop) / Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Die Variante ist für den Mandanten aktiviert.<br>
→ In der Dropdown-Liste rechts den Mandanten <strong>Standard Shop</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten / Verfügbar wenn Netto-WB positiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Die Variante ist bei positivem Nettowarenbestand verfügbar und käuflich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten / Nicht verfügbar wenn kein Netto-WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Die Variante ist nicht verfügbar und kann nicht gekauft werden, wenn kein Nettowarenbestand vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigener Wert</strong><br>
(Optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Quelle für die Importdaten die Option <strong>Eigener Wert</strong> wählen und in das Feld <strong>Wert</strong> einen Text oder eine Zahl eingeben. Der Inhalt des Felds wird für alle Varianten in das Feld in plentymarkets importiert, das als Ziel gewählt wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="170">3. Artikelbilder speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Import der Artikel hattest du die Möglichkeit, für online erreichbare Bilder eine URL anzugeben. Wenn deine Artikelbilder nicht online verfügbar sind, kannst du die Bilder wie hier beschrieben manuell speichern.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Wenn du deine Artikelbilder schon beim Artikelimport importiert hast, kannst du gleich zur <a href="#200">Checkliste</a> springen.
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="180">3.1. Artikelbilder hochladen</h3>
<div class="paragraph">
<p>Im Tab <strong>Bilder</strong> im Bearbeitungsfenster des Artikels speicherst du Bilder und verknüpfst diese Bilder mit den Varianten des Artikels. Pro Artikel sind bis zu 25 Bilder in den Formaten JPG/JPEG oder PNG möglich.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">FTP-Upload nutzen</div>
<div class="paragraph">
<p>Größere Bildmengen überträgst du am besten per FTP-Upload auf den Server. Beachte aber die Hinweise zur Benennung der Bilddateien, damit die Bilder beim Hochladen den richtigen Artikeln und Varianten zugeordnet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Bilder für einen Artikel speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong> des Artikels.</p>
</li>
<li>
<p>Ziehe neue Bilder per Drag &amp; Drop-Funktion in den Bereich <strong>Neues Bild einfügen</strong>.<br>
<strong><em>Oder:</em></strong> Klicke auf <strong>Dateien auswählen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Verfügbarkeit</strong> die Mandanten und/oder Herkünfte, für die das Bild bereitgestellt werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">3.2. Artikelbilder mit Varianten verknüpfen</h3>
<div class="paragraph">
<p>Verknüpfe nun die am Artikel gespeicherten Bilder mit einer oder mehreren Varianten. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Artikelbilder mit Varianten verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong> des Artikels.<br>
→ Eine Vorschau der am Artikel gespeicherten Bilder wird angezeigt.</p>
</li>
<li>
<p>Setze ganz links ein Häkchen bei den Bildern, die du mit einer oder mehreren der Varianten verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke am unteren Ende der Seite auf <strong>Variantenverknüpfung</strong>.<br>
→ Das Fenster <strong>Varianten verknüpfen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Varianten, die du mit den gewählten Bildern verknüpfen möchtes.</p>
</li>
<li>
<p>Klicke auf <strong>Verknüpfen</strong>.<br>
→ Die Bilder werden mit den gewählten Varianten verknüpft.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">4. Checkliste Artikelkatalog</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Artikelkatalog zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du sinnvolle Kategorien für die Artikel erstellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du alle Artikel mit allen Beschreibungstexten erstellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Artikelverfügbarkeitsstufen korrekt eingestellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Verfügbarkeit aller Artikel aktiviert, die du im Webshop anbieten möchtest?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du geprüft, dass die richtigen Preise im Webshop angezeigt werden?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="210">5. Mehr zum Thema Artikelkatalog aufbauen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_vorbereitungen_treffen">5.1. Vorbereitungen treffen</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/kategorien-verwalten">Kategorien verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#390">Attribute verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#870">Verkaufspreise verwalten</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_artikel_verwalten">5.2. Artikel verwalten</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikelstruktur-kennenlernen">Artikelstruktur verstehen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#350">Filtermöglichkeiten für Artikel und Varianten in der Artikelansicht</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten">Artikel verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#155">Mehrere Artikel gleichzeitig bearbeiten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#330">Mehrere Varianten gleichzeitig bearbeiten</a></p>
</li>
<li>
<p><a href="/artikel/multipacks-pakete-sets-verwalten">Sets, Multipacks und Pakete erstellen</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Cross-Selling nutzen</div>
<div class="paragraph">
<p>Du möchtest deine Kundinnen und Kunden auf weitere interessante Produkte aufmerksam machen? Dann richte <a href="/artikel/artikel-verwalten#950">Cross-Selling-Verknüpfungen ein</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_artikelbilder_verwalten">5.3. Artikelbilder verwalten</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#660">Artikelbilder per FTP-Server hochladen</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_daten_importieren">5.4. Daten importieren</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/basics/datenaustausch/ElasticSync/ElasticSync-beta">Sync für weitere Importe erstellen</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-warenbestand">Warenbestand buchen</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>