<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Lager einrichten</span></a></li>
<li><a href="#200"><span>2.</span><span> Lieferanten einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Mehr zum Thema Lager und Lieferanten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lager und Lieferant einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon deine Kontaktdaten gespeichert, dein E-Mail-Konto und die E-Mail-Vorlagen eingerichtet und eine Domain und das SSL-Zertifikat bestellt? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg/schnelleinstieg-basiseinstellungen">Basiseinstellungen vornehmen</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Für eine funktionierende Warenwirtschaft müssen mindestens Lager, Lieferant und Warenbestand eingerichtet werden. Die beiden ersteren werden auf dieser Seite behandelt.</p>
</div>
<div class="paragraph">
<p>Wenn du die Warenbestände nicht in plentymarkets führen möchtest, wähle im Menü <strong>Artikel » Artikel bearbeiten</strong> im Tab <strong>Varianten-ID » Einstellungen</strong> bei der Einstellung <strong>Beschränkung</strong> die Option <strong>Keinen Warenbestand für diese Variante führen</strong>. Fahre dann fort mit <a href="/artikel/artikel-verwalten#660">Artikelbilder verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Lager einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden ist beschrieben, wie du ein Lager einrichtest. Hier werden allerdings lediglich die Basiseinstellungen für ein Lager erläutert. Informationen zu detaillierteren Einstellungen sind auf den unten aufgeführten Handbuchseiten zu finden.<br>
Es wird empfohlen, von vornherein ein Vertriebslager und ein Reparaturlager einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Lager einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Waren » Lager</strong>.</p>
</li>
<li>
<p>Wähle eines der bestehenden Lager <strong>KS Repair</strong> oder <strong>KS Sales</strong>.</p>
</li>
<li>
<p>Klicke im Untermenü auf <strong>Einstellungen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).<br>
→ Die Übersicht des Lagers wird geöffnet.</p>
</li>
<li>
<p>Benenne das Lager im Feld <strong>Lagername</strong> um.</p>
</li>
<li>
<p>Wähle einen Lagertyp und einen Logistiktyp.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Lager wird eingerichtet und links im Verzeichnisbaum angezeigt.</p>
</li>
<li>
<p>Öffne das Lager, um die Untermenüs zu sehen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Lieferanten einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden ist beschrieben, wie du einen Lieferanten einrichtest. Ein Lieferant ist hier nur Typ eines Kontakts.</p>
</div>
<div class="paragraph instruction">
<p>Lieferanten einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuen Kontakt erstellen</strong>.</p>
</li>
<li>
<p>Gib den Namen des Lieferanten ein.</p>
</li>
<li>
<p>Wähle den Typ <strong>Lieferant</strong>.</p>
</li>
<li>
<p>Wähle im Feld <strong>Neue Adresse</strong> einen Adresstyp (Rechnungs- oder Lieferadresse).</p>
</li>
<li>
<p>Gib die Adressdaten ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Mehr zum Thema Lager und Lieferanten</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/warenwirtschaft/lager-einrichten">Lager einrichten</a></p>
</li>
<li>
<p><a href="/crm/kontakte-verwalten#100">Kontakte verwalten</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-webshop-einleitung">Webshop einrichten: Einleitung</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>