<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Automatischer E-Mail-Versand</span></a></li>
<li><a href="#20"><span>2.</span><span> Ereignisaktionen einrichten</span></a></li>
<li><a href="#30"><span>3.</span><span> Aktionsmanager nutzen</span></a></li>
<li><a href="#40"><span>4.</span><span> Prozesse nutzen</span></a></li>
<li><a href="#50"><span>5.</span><span> Checkliste</span></a></li>
<li><a href="#60"><span>6.</span><span> Mehr zum Thema Automatisierung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Vorgänge automatisieren</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon die Schnittstelle zu eBay eingerichtet? Noch nicht? Dann geht’s hier zurück zum Schnelleinstieg zum Thema <a href="/schnelleinstieg/schnelleinstieg-ebay">eBay</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Auf dieser Seite erläutern wir die grundlegenden Einstellungen, die du in plentymarkets zum Einrichten von Automatismen vornehmen solltest, bevor du mit dem System produktiv arbeitest. Dein plentymarkets System erledigt einige Aufgaben dann automatisch im Hintergrund.<br>
Im Allgemeinen bietet dir plentymarkets 4 verschiedene Möglichkeiten zur Automatisierung deiner Arbeitsabläufe:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Automatischer E-Mail-Versand</p>
</li>
<li>
<p>Ereignisaktionen</p>
</li>
<li>
<p>Aktionsmanager</p>
</li>
<li>
<p>Prozesse</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Automatischer E-Mail-Versand</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Schritt <a href="#schnelleinstieg-basiseinstellungen">Basiseinstellungen</a> wurde beschrieben, wie du die E-Mail-Vorlagen für den automatischen Versand gestaltest.<br>
Nun wählst du im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong>, in welchen Fällen eine bestimmte E-Mail-Vorlage verschickt werden soll. Einige Optionen, wie der Versand der Vorlage <strong>Webshop: Eingangsbestätigung Bestellung</strong> beim Eingang eines neuen Auftrags im Webshop, sind in diesem Menü bereits voreingestellt. Überprüfe diese Einstellungen und passe Sie, wo nötig, an. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Automatischen E-Mail-Versand einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste neben dem jeweiligen Ereignis eine E-Mail-Vorlage aus, die versendet werden soll.</p>
</li>
<li>
<p>Wähle die Option <strong>kein Versand</strong>, wenn eine E-Mail-Vorlage <em>nicht</em> versendet werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">E-Mail-Vorlage korrekt eingerichtet?</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong> solltest du nur E-Mail-Vorlagen wählen, die du zuvor bearbeitet und mit deinen eigenen Daten ergänzt hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dein Tagesgeschäft als Händler ist von vielen Routineaufgaben geprägt. Besonders die Auftragsbearbeitung ist ein komplexer Vorgang, bei dem du systematisch vorgehen solltest. plentymarkets bietet dir die sogenannten Ereignisaktionen an, mit denen du diese Routineaufgaben automatisieren kannst.<br></p>
</div>
<div class="paragraph">
<p>Das Prinzip hinter den Ereignisaktionen besteht aus 3 Schritten. Zuerst wählst du ein auslösendes Ereignis. Dieses Ereignis grenzt du mithilfe verschiedener Filtereinstellungen weiter ein. Im dritten Schritt wählst du die konkreten Aktionen, die im Ereignisfall vom System ausgeführt werden. Immer wenn das Ereignis in Zukunft eintritt, werden die gespeicherten Aktionen automatisch ausgeführt.<br></p>
</div>
<div class="paragraph">
<p>Die folgenden 2 Ereignisaktionen haben sich im Alltag vieler plentymarkets Händler bewährt. Wir empfehlen dir, den Rechnungsversand in deinem plentymarkets System auf diese Weise zu automatisieren.</p>
</div>
<div class="paragraph">
<p>Die erste Ereignisaktion erstellt automatisch das Dokument Rechnung, sobald an einem Auftrag der Warenausgang gebucht wurde. Richte die Ereignisaktion anhand der Informationen in <a href="#tabelle-ereignisaktion-schnelleinstieg-rechnung-erzeugen">Tabelle 1</a> ein.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Dokumentenvorlage einrichten</div>
<div class="paragraph">
<p>Für die korrekte Funktionsweise der nachfolgend beschriebenen Ereignisaktionen musst du zuerst die Vorlage für das Dokument <strong>Rechnung</strong> vollständig einrichten. Eine Anleitung hierzu findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke unten links auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-schnelleinstieg-rechnung-erzeugen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-schnelleinstieg-rechnung-erzeugen">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-schnelleinstieg-rechnung-erzeugen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion "Rechnung erzeugen" einrichten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung &gt; Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumente &gt; Rechnung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Bedarf die Optionen <strong>Zahlungsziel</strong> und <strong>Skonto</strong> aktivieren oder einen <strong>Kommentar</strong> eingeben, der auf der erzeugten Rechnung angezeigt wird.<br></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nach Erzeugung der Rechnung kannst du diese mittels einer weiteren Ereignisaktion direkt als E-Mail-Anhang an deine Kunden versenden. Richte diese zweite Ereignisaktion anhand der Informationen in <a href="#tabelle-ereignisaktion-schnelleinstieg-rechnung-versenden">Tabelle 2</a> ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke unten links auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-schnelleinstieg-rechnung-versenden">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-schnelleinstieg-rechnung-versenden">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-schnelleinstieg-rechnung-versenden" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion "Rechnung versenden" einrichten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumente &gt; Rechnung generiert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über das Plus-Symbol für den <strong>Kunden</strong> die E-Mail-Vorlage <strong>Auftrag: Rechnung PDF-Anhang</strong> wählen. Somit wird das Dokument <strong>Rechnung</strong> als PDF-Anhang per E-Mail versendet.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Ereignisaktionen bieten zahlreiche weitere Möglichkeiten zur Automatisierung deines plentymarkets Systems. Beachte die Links am Ende der Seite, um mehr zur grundlegenden Funktionsweise von Ereignisaktionen zu erfahren und weitere Anwendungsbeispiele zu erhalten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Aktionsmanager nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Aktionsmanager kannst du, ähnlich wie mit den Ereignisaktionen, bei bestimmten Ereignissen automatische Aktionen ausführen lassen. Zusätzlich bietet dir der Aktionsmanager jedoch die Möglichkeit, diese Aktionen zu einem täglich festgelegten Zeitpunkt automatisch durchführen zu lassen. Der Aktionsmanager ist somit ideal für Vorgänge, die regelmäßig zeitgesteuert stattfinden sollen.<br>
Beachte die weiterführenden Links am Ende dieser Seite, um weitere Informationen zum Einrichten des Aktionsmanagers zu erhalten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Prozesse nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Prozesse sind ein weiteres Werkzeug zur Automatisierung von Abläufen in deinem plentymarkets System. Das Einrichten von Prozessen empfiehlt sich beispielsweise, wenn Auftragsdokumente nicht nur erzeugt, sondern auch automatisch gedruckt werden sollen. Prozesse kannst du nur nutzen, wenn du das Tool plentyBase installiert hast und richtet sich an fortgeschrittene plentymarkets Nutzer. Daher werden Prozesse im Schnelleinstieg nicht näher beschrieben.<br>
Beachte die weiterführenden Links am Ende dieser Seite, um weitere Informationen zum Einrichten von Prozessen zu erhalten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Checkliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Automatisierung zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du ausgewählt, welche <a href="#10">E-Mail-Vorlagen</a> automatisch versendet werden sollen?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du Rechnungserzeugung und -versand mithilfe von <a href="#20">Ereignisaktionen</a> automatisiert?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Mehr zum Thema Automatisierung</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/crm/e-mails-versenden">E-Mails versenden</a></p>
</li>
<li>
<p><a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a></p>
</li>
<li>
<p><a href="/automatisierung/aktionsmanager">Aktionsmanager</a></p>
</li>
<li>
<p><a href="/automatisierung/best-practices-automatisierung">Best Practices: Ereignisaktionen und Aktionsmanager</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/prozesse-einrichten">Prozesse einrichten</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zu den <a href="/schnelleinstieg/schnelleinstieg-letzte-schritte">letzten Schritten</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>