<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Zahlungsarten einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> PayPal einrichten</span></a></li>
<li><a href="#40"><span>1.2.</span><span> Vorkasse einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#50"><span>1.2.1.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#60"><span>1.2.2.</span><span> Anzeigeoptionen festlegen</span></a></li>
</ul>
</li>
<li><a href="#70"><span>1.3.</span><span> Weitere Zahlungsarten einrichten</span></a></li>
</ul>
</li>
<li><a href="#80"><span>2.</span><span> Grundeinstellungen für Zahlungen vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#90"><span>2.1.</span><span> Regeln für Zahlungseingänge festlegen</span></a></li>
<li><a href="#100"><span>2.2.</span><span> Umsatzsteuer-ID hinterlegen</span></a></li>
</ul>
</li>
<li><a href="#110"><span>3.</span><span> Checkliste</span></a></li>
<li><a href="#120"><span>4.</span><span> Mehr zum Thema Zahlungsabwicklung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Zahlungsabwicklung einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon das Plugin-Set <strong>standard-shop</strong> deaktiviert? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg/schnelleinstieg-webshop-einleitung">Webshop einrichten: Einleitung</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In deinem Ceres Webshop kannst du deinen Kunden verschiedene Zahlungsarten anbieten. Alle Zahlungsarten werden über die Plugin-Struktur von plentymarkets integriert. Je nach deinen Wünschen kannst du eine Vielzahl von Zahlungsarten in deinem Webshop anbieten.<br></p>
</div>
<div class="paragraph">
<p>Auf dieser Seite erklären wir dir, wie du die Zahlungsarten PayPal und Vorkasse in deinem Webshop anbietest. Zudem findest du hier Informationen zu den notwendigen Grundeinstellungen, damit Zahlungen jeder Art korrekt in deinem plentymarkets System verarbeitet werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Zahlungsarten einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden stellen wir dir die Zahlungsarten PayPal und Vorkasse vor und erklären dir, wie du diese in deinem Webshop anbietest.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. PayPal einrichten</h3>
<div class="paragraph">
<p>Das PayPal-Plugin ist standardmäßig in deinem plentymarkets System installiert und aktiviert. Dies erkennst du im Menü <strong>Plugins » Plugin-Übersicht</strong> an der blau gefärbten Weltkugel.
Du musst über ein PayPal-Geschäftskonto verfügen, um das PayPal-Plugin zu nutzen. Nimm nach der Erstellung des PayPal-Geschäftskontos die folgenden Schritte zum Einrichten des Plugins vor.</p>
</div>
<div class="paragraph instruction">
<p>PayPal-Plugin einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Plugins » PayPal » Kontoeinstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>, um ein neues PayPal-Konto hinzuzufügen.</p>
</li>
<li>
<p>Gib die E-Mail-Adresse an, die du zur Erstellung deines PayPal-Geschäftskontos genutzt hast.</p>
</li>
<li>
<p>Wähle die Option <strong>Live-Umgebung</strong>, die das eingegebene Konto für Zahlungen deiner Kunden im Webshop zur Verfügung stellt.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Stelle zuerst die nicht sichtbare <strong>Testumgebung</strong> ein und wechsele am Ende der Einrichtung auf die <strong>Live-Umgebung</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>PayPal PLUS</strong>, falls du dein PayPal-Geschäftskonto für PayPal PLUS freigeschaltet hast.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Du wirst automatisch zu PayPal weitergeleitet.</p>
</li>
<li>
<p>Nimm bei PayPal die angezeigten Einstellungen vor.</p>
</li>
<li>
<p>Klicke auf <strong>Zurück zu plentymarkets</strong>.<br>
→ Du wirst zu deinem plentymarkets Backend zurückgeleitet. Dort öffnet sich nun der PayPal-Schnellkonfigurator.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen im PayPal-Schnellkonfigurator vor. Durch Klick auf die Info-Icons rechts kannst du dir weitere Informationen zu den einzelnen Einstellungen anzeigen lassen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Dein PayPal-Konto wird mit deinen gewählten Einstellungen eingerichtet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sollte es zu einem späteren Zeitpunkt notwendig sein, einzelne Einstellungen im PayPal-Plugin zu ändern, beachte die detaillierte Anleitung in der Beschreibung des Plugins <a href="https://marketplace.plentymarkets.com/plugins/payment/PayPal_4690" target="_blank" rel="noopener">hier</a> im plentyMarketplace.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">1.2. Vorkasse einrichten</h3>
<div class="paragraph">
<p>Bei der Zahlungsart Vorkasse werden deine Kunden während des Bestellvorgangs aufgefordert, den Rechnungsbetrag per Banküberweisung zu begleichen. Du versendest die Waren erst, wenn die Zahlung bei dir eingegangen ist. Als Händler bist du gesetzlich verpflichtet, deinen Kunden im Webshop eine gebührenfreie und unkompliziert nutzbare Zahlungsmöglichkeit zur Verfügung zu stellen. Auch für dich als Händler fallen beim Vorkasse-Plugin keine zusätzlichen Kosten an. Deshalb empfehlen wir das Einrichten und Verwenden dieser Zahlungsart in jedem Fall.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Standard-Zahlungsart</div>
<div class="paragraph">
<p>Die Zahlungsart <strong>Vorkasse</strong> ist in deinem plentymarkets System als Standard-Zahlungsart für den Webshop eingestellt. Du kannst die Standard-Zahlungsart zu einem späteren Zeitpunkt im Menü <strong>Einrichtung » Mandant » Standard Shop (Standard) » Aufträge</strong> ändern. Wir empfehlen jedoch, diese Einstellung vorerst beizubehalten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="50">1.2.1. Grundeinstellungen vornehmen</h4>
<div class="paragraph">
<p>Nach der Installation des Plugins musst du noch weitere Einstellungen vornehmen, um die Einrichtung abzuschließen. Gehe dazu wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Vorkasse-Plugin einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Plugins » Vorkasse</strong>.</p>
</li>
<li>
<p>Wähle den Mandanten <strong>Standard Shop</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand der Informationen in <a href="#tabelle-plugin-vorkasse-einrichtung">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-plugin-vorkasse-einrichtung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Zahlungsart <strong>Vorkasse</strong> einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Sprache aus, für die das Plugin eingerichtet werden soll. Alle nachfolgenden Einstellungen werden in dieser Sprache vorgenommen. Wir empfehlen die Wahl der Option <strong>Deutsch</strong>, wenn du deinen Webshop in deutscher Sprache anbietest. Weitere Sprachen kannst du an einem späteren Zeitpunkt einrichten (siehe Link am Ende des Kapitels).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Namen der Zahlungsart ein, so wie er den Kunden in der Kaufabwicklung im Webshop angezeigt werden soll. Standardmäßig ist hier bereits die Benennung <strong>Vorkasse</strong> eingetragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: In der Zahlungsabwicklung kann neben dem Name der Zahlungsart ein Link namens "Details" angezeigt werden. Mit dieser Option legst du fest, ob sich für Kunden nach Klick auf diesen Link eine externe oder eine interne Seite mit Informationen zur Zahlungsart öffnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite Intern/Infoseite Extern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: Wähle den gleichen Wert wie bei der vorherigen Einstellung <strong>Infoseite</strong>. Hast du dich für die Anzeige einer internen Infoseite entschieden, wählst du hier auch die entsprechende Option. Wähle zusätzlich die ID der Kategorie im Webshop aus, in der die Infoseite angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wir empfehlen, hier die Option <strong>Standard-Logo</strong> auszuwählen. Somit wird dann automatisch das im Plugin hinterlegte Logo für die Zahlungsart Vorkasse in der Kaufabwicklung angezeigt. Um ein selbst gewähltes Logo anzuzeigen, wähle die Option <strong>Logo-URL</strong> und beachte zwingend die nachfolgende Option <strong>Logo-URL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du ein selbst gewähltes Logo hinterlegen möchtest, hinterlege hier manuell die URL, die zum Speicherort des Logos führt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib hier einen Beschreibungstext (maximal 150 Zeichen) ein, der für die Zahlungsart in der Kaufabwicklung für die Zahlungsart angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus, für welche Lieferländer die Zahlungsart verfügbar sein soll. Lieferst du in deinem Webshop eingegangene Bestellungen zunächst erst nach Deutschland, aktiviere nur die Option <strong>Germany</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Anzeigedaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Namen ein, der Kunden auf der Bestellbestätigungsseite als Bezeichnung für das Feld Verwendungszweck angezeigt wird. Standardmäßig ist hier bereits die Benennung <strong>Verwendungszweck</strong> eingetragen. Wir empfehlen, in diesem Feld die Eingabe <strong>Order ID %s</strong> vorzunehmen. Das Prozentzeichen dient als Platzhalter für die Anzeige der Auftrags-ID im Verwendungszweck. So kann die Zahlung in deinem plentymarkets System korrekt zugeordnet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, um Kunden den Verwendungszweck der Zahlung auf der Bestellbestätigungsseite anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bankdaten anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, um Kunden die Bankdaten für die Überweisung des Rechnungsbetrags auf der Bestellbestätigungsseite anzuzeigen. Somit werden dann die Bankdaten angezeigt, die du im Menü <strong>Einrichtung » Einstellungen » Bank</strong> hinterlegt hat.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="60">1.2.2. Anzeigeoptionen festlegen</h4>
<div class="paragraph">
<p>Die in <a href="#tabelle-plugin-vorkasse-einrichtung">Tabelle 1</a> beschriebenen Einstellungen zu den <strong>Anzeigedaten</strong> erfordern nun noch einige Anpassungen in deinem plentymarkets Backend. Im Folgenden erklären wir dir die nötigen Einstellungen zur Darstellung der Bankdaten auf der Bestellbestätigungsseite sowie die Darstellung des Vorkasse-Logos auf der Startseite deines Webshops.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Container-Verknüpfungen</div>
<div class="paragraph">
<p>In den nachfolgenden Beschreibungen musst du zur korrekten Anzeige von Inhalten in deinem Webshop sogenannte Container verknüpfen. Container stellen Behälter dar, mit denen bestimmte Inhalte verknüpft werden können. Welche Container für ein Plugin verwendet werden können, definierst du im Plugin selbst. Diese Auswahl ist nicht durch den Endnutzer bzw. deine Kunden veränderbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Bankdaten auf Bestellbestätigungsseite anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle aus der Liste den Bereich <strong>Cash in advance bank details (PrePayment)</strong> (<span class="icon"><i class="fa fa-angle-down"></i></span>).</p>
</li>
<li>
<p>Aktiviere den Container <strong>Order confirmation: Additional payment information</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Bankdaten werden auf der Bestellbestätigungsseite deines Webshops angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Vorkasse-Logo auf Startseite anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle den Bereich <strong>Cash in advance icon (PrePayment)</strong> (<span class="icon"><i class="fa fa-angle-down"></i></span>).</p>
</li>
<li>
<p>Aktiviere den Container <strong>Homepage: Payment method container</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Logo der Zahlungsart Vorkasse wird auf der Startseite deines Webshops angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="70">1.3. Weitere Zahlungsarten einrichten</h3>
<div class="paragraph">
<p>Oben wurde die Einrichtung der Zahlungsarten PayPal und Vorkasse beschrieben. Je nach deinen Wünschen und den Anforderungen deiner Kunden im Webshop kann es später Sinn machen, weitere Zahlungsarten anzubieten. Hierzu steht dir eine große Auswahl an weiteren Plugins zum Download im Bereich <a href="https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">Payment</a> des plentyMarketplace zur Verfügung.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">2. Grundeinstellungen für Zahlungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zusätzlich zur Einrichtung der Plugins für die Zahlungsarten musst du noch einige Einstellungen in deinem plentymarkets Backend vornehmen, damit die Zahlungen im Allgemeinen korrekt verarbeitet werden. Zudem ist die Angabe deiner Umsatzsteuer-ID verpflichtend.</p>
</div>
<div class="sect2">
<h3 id="90">2.1. Regeln für Zahlungseingänge festlegen</h3>
<div class="paragraph">
<p>Damit Zahlungseingänge wie gewünscht erfasst werden, nimm zuerst die Einstellungen zur Zahlungskulanz und zum Import von Kundenbankdaten vor.</p>
</div>
<div class="paragraph instruction">
<p>Regeln für Zahlungseingänge festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Eingänge</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand der Informationen in <a href="#tabelle-grundeinstellungen-zahlungseingang">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-grundeinstellungen-zahlungseingang" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Grundeinstellungen für Zahlungseingänge vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Übereinstimmung für automatische Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Wert zwischen <strong>0.7</strong> (nicht so genaue Übereinstimmung zur Zuordnung nötig) und <strong>1.0</strong> (genaue Übereinstimmung nötig). Ist dieser Wert höher eingestellt, kann das Problem auftreten, dass eingehende Zahlungen nicht automatisch vom System zugeordnet werden können. Daher ist hier ein Wert von <strong>0,7</strong> voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungskulanz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Damit die intern in plentymarkets berechneten Nachkommabeträge (ab der dritten Nachkommastelle) nicht zu falschen Buchungen führen, solltest du hier einen Mindestbetrag von <strong>0,01</strong> eintragen. Das bedeutet, dass Zahlungen mit einer Abweichung von 0,01 € als vollständige Zahlung verbucht werden. Stellst du z.B. <strong>0,05</strong> ein, werden Fehlbeträge bis zu 5 Cent trotzdem als vollständige Zahlung behandelt und verbucht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenbankdaten importieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus, ob die <strong>Bankdaten</strong> des Kunden beim Zahlungseingang <strong>importiert</strong> und in den jeweiligen Datensatz des Kontakts hinterlegt werden sollen oder nicht.<br>
<strong><em>Wichtig:</em></strong> Da Bankdaten nur mit Zustimmung des Kunden importiert und gespeichert werden dürfen, ist hier standardmäßig <strong>Nein</strong> voreingestellt. Beachte vor dem Aktivieren der Option <strong>Ja</strong> die aktuelle Rechtslage und die DSGVO-Regelung zu diesem Thema.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal-Zahlung nur entsprechendem eBay Listing zuordnen, sofern an der Zahlung hinterlegt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wir empfehlen, diese Option in jedem Fall auf <strong>Ja</strong> zu stellen, falls du eBay Listings in Kombination mit der Zahlungsart PayPal verwendest. Sollte an einer PayPal Zahlung eine eBay Listing-ID hinterlegt sein, so wird bei aktivierter Option diese Zahlung genau dem Auftrag zugeordnet, der über eine übereinstimmende eBay Listing-ID verfügt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="100">2.2. Umsatzsteuer-ID hinterlegen</h3>
<div class="paragraph">
<p>Für den Standort Deutschland sind die gesetzlich vorgeschriebenen Umsatzsteuersätze von 19% und 7% bereits voreingestellt. Steuerrechtlich verpflichtend ist zusätzlich die Angabe deiner Umsatzsteuer-ID. Gehe wie folgt vor, um eine Umsatzsteuer-ID für Deutschland anzugeben.</p>
</div>
<div class="paragraph instruction">
<p>Umsatzsteuer-ID hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Buchhaltung</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Umsatzsteuersätze</strong>.</p>
</li>
<li>
<p>Gib im Feld <strong>Umsatzsteuer-ID</strong> deine Umsatzsteuer ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Standorte und steuerliche Einstellungen</div>
<div class="paragraph">
<p>Die Einstellungen zu Steuersätzen sowie die weiteren Optionen im Tab <strong>Buchhaltung</strong> sind standortabhängig. Das bedeutet, dass du für jedes weitere Lieferland außer Deutschland die korrekten Steuersätze hinterlegen musst. Wir empfehlen bei Unsicherheit grundsätzlich, Änderungen mit einem Steuerberater zu besprechen. Beachte für weitere mögliche Einstellungen zum Thema Buchhaltung auch die Links am Ende dieser Seite.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">3. Checkliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Zahlungsabwicklung zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du das PayPal-Plugin <a href="#20">eingerichtet</a>?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du das PayPal-Plugin <a href="#30">deaktiviert</a>, falls du die Zahlungsart nicht anbieten möchtest?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du das Vorkasse-Plugin <a href="#50">eingerichtet</a>?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die <a href="#60">passenden Container ausgewählt</a>, so dass alle Daten für das Vorkasse-Plugin im Webshop angezeigt werden?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Regeln für <a href="#90">Zahlungseingänge</a> festgelegt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du deine <a href="#100">Umsatzsteuer-ID</a> hinterlegt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du etwaige Rückfragen zu <a href="#100">steuerlichen Einstellungen</a> mit deinem Steuerberater besprochen?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="120">4. Mehr zum Thema Zahlungsabwicklung</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/auftraege/buchhaltung">Buchhaltung</a></p>
</li>
<li>
<p><a href="/payment/zahlungen-verwalten">Zahlungen verwalten</a></p>
</li>
<li>
<p><a href="/payment/bankdaten-verwalten#63">Bankdaten von Kunden speichern</a></p>
</li>
<li>
<p><a href="/payment/best_practices_paypal">Best Practices: PayPal-Plugin</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/paypal_4690" target="_blank" rel="noopener">Weitere Informationen zum PayPal-Plugin im plentyMarketplace</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/payment/PrePayment_4758" target="_blank" rel="noopener">Weitere Informationen zum Vorkasse-Plugin im plentyMarketplace</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-versandoptionen">Versandoptionen einstellen</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>