<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Stammdaten speichern</span></a></li>
<li><a href="#200"><span>2.</span><span> Bankdaten speichern</span></a></li>
<li><a href="#250"><span>3.</span><span> Kundenklasse erstellen</span></a></li>
<li><a href="#300"><span>4.</span><span> E-Mail-Signatur speichern</span></a></li>
<li><a href="#400"><span>5.</span><span> E-Mail-Zugangsdaten eingeben</span></a></li>
<li><a href="#500"><span>6.</span><span> E-Mail-Vorlagen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>6.1.</span><span> Rechtliche Angaben speichern</span></a></li>
<li><a href="#600"><span>6.2.</span><span> Beispiel: E-Mail-Vorlage anpassen</span></a></li>
<li><a href="#700"><span>6.3.</span><span> Template-Variablen und Template-Funktionen einfügen</span></a></li>
<li><a href="#800"><span>6.4.</span><span> Dateien an E-Mail-Vorlagen anhängen</span></a>
<ul class="sectlevel3">
<li><a href="#900"><span>6.4.1.</span><span> PDF-Anhang erstellen und anhängen</span></a></li>
<li><a href="#1000"><span>6.4.2.</span><span> Dokumentenanhang erstellen und anhängen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1100"><span>7.</span><span> Domain bestellen</span></a></li>
<li><a href="#1200"><span>8.</span><span> SSL-Zertifikat bestellen</span></a></li>
<li><a href="#1300"><span>9.</span><span> Checkliste</span></a></li>
<li><a href="#1400"><span>10.</span><span> Mehr zum Thema Basiseinstellungen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Basiseinstellungen vornehmen</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon Popups erlaubt, ein Lesezeichen für dein Backend-Login gesetzt und die Systemvoraussetzungen geprüft? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg">Schnell durchstarten</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In diesem Teil des Schnelleinstiegs findest du Erläuterungen zu allgemeinen Einstellungen wie dem Speichern von Stammdaten und Bankdaten sowie zum Einrichten der E-Mail-Einstellungen und E-Mail-Vorlagen. Außerdem erklären wir dir auf dieser Seite, wie du eine Domain und ein SSL-Zertifikat für deinen Webshop bestellst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Stammdaten speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Stammdaten</strong> speicherst du zentral die Stammdaten deines Unternehmens wie z.B. die Kontaktdaten, Adresse und Umsatzsteuer-ID.</p>
</div>
<div class="paragraph instruction">
<p>Stammdaten speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Stammdaten</strong>.</p>
</li>
<li>
<p>Gib deine Daten ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Stammdaten werden gespeichert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Vertragsdaten ändern</div>
<div class="paragraph">
<p>Eine Änderung der Stammdaten in diesem Menü ändert nicht die Kundenstammdaten deines plentymarkets Vertrages z.B. für die Rechnungsstellung. Vertragsdaten passt du im Menü <strong>plentymarkets Logo (Start) » Service-Center</strong> an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Bankdaten speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ebenso wie die Stammdaten speicherst du auch deine Bankdaten an einer zentralen Stelle in deinem plentymarkets System. Änderungen dieser Daten wirken sich auf das gesamte System aus.</p>
</div>
<div class="paragraph">
<p>Deine Bankdaten können über sogenannte Template-Variablen in E-Mail-Vorlagen ausgegeben werden. Das bedeutet, dass plentymarkets in den E-Mails selbst  die Variablen durch den jeweiligen Inhalt ersetzt. Die Template-Variable <strong>$BankOwner</strong> wird so z.B. durch den Namen des Kontoinhabers ersetzt und <strong>$BankAccount</strong> setzt die Kontonummer ein.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu den Template-Variablen findest du weiter unten auf dieser Seite im Kapitel <a href="/schnelleinstieg/schnelleinstieg-basiseinstellungen#700">Template-Variablen und Template-Funktionen einfügen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Bank</strong>.</p>
</li>
<li>
<p>Gib deine Bankdaten ein. Beachte dazu die Erläuterungen in <a href="#tabelle-bankdaten-speichern">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-bankdaten-speichern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Bankdaten speichern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontoinhaber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname und Name des Kontoinhabers eingeben.<br>
Template-Variable: <strong>$BankOwner</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontonummer eingeben.<br>
Template-Variable: <strong>$BankAccount</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BLZ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bankleitzahl eingeben.<br>
Template-Variable: <strong>$BankCode</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Bank eingeben.<br>
Template-Variable: <strong>$BankName</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internationale Bankkontonummer (International Bank Account Number) eingeben.<br>
Template-Variable: <strong>$BankIban</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BIC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internationalen Bank-Code (Bank Identifier Code) eingeben.<br>
Template-Variable: <strong>$BankSwift</strong></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Welche Template-Variablen dir für die E-Mail-Vorlagen zur Verfügung stehen, erfährst du weiter unten auf dieser Seite im Kapitel <a href="/schnelleinstieg/schnelleinstieg-basiseinstellungen#600">Beispiel: E-Mail-Vorlage anpassen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Kundenklasse erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Kundenklassen unterteilst du deinen Kundenstamm nach unterschiedlichen Kriterien. Du kannst z.B. Mindestbestellmengen festlegen, Rabatte gewähren und entscheiden, ob die Preise in deinem Webshop in brutto oder netto angezeigt werden.</p>
</div>
<div class="paragraph">
<p>Für den Anfang empfehlen wir dir das Erstellen von 2 Kundenklassen: B2C für deine Endkunden und B2B für Händler. Du benötigst die Kundenklassen für eventuelle weitere Einstellungen, die du in deinem plentymarkets System vornehmen möchtest, wie z.B. das Speichern von Verkaufspreisen.</p>
</div>
<div class="paragraph instruction">
<p>Kundenklasse erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neue Kundenklasse</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnelleinstieg-kundenklasse-erstellen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnelleinstieg-kundenklasse-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Kundenklasse erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Kundenklasse eingeben, z.B. Standardkunde oder B2C.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabattart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ggf. Rabattart wählen. Weitere Informationen zu den Rabattarten findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten">Kontakte verwalten</a> im Kapitel <a href="/crm/kontakte-verwalten#25">Rabattsystem nutzen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlaubte Zahlungsarten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Zahlungsarten, die später in deinem Webshop verfügbar sind, für die Kundenklasse erlaubt sein sollen. Standardmäßig sind alle verfügbaren Zahlungsarten erlaubt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige der Preise im Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Preise im Webshop brutto oder netto angezeigt werden sollen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">4. E-Mail-Signatur speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Speichere nun die Signatur deines Webshops, die dann in den E-Mail-Vorlagen automatisch ausgegeben wird, wenn du anschließend am Ende der E-Mail-Vorlagen die Template-Variable <strong>$SignatureText</strong> einfügst. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Signatur speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Signatur</strong>.</p>
</li>
<li>
<p>Gib den Text deiner Signatur ein.<br>
→ <strong><em>Wichtig:</em></strong> Beachte die gesetzlichen Vorgaben zum Inhalt einer E-Mail-Signatur. Lass dich im Zweifelsfall von einem kundigen Fachanwalt beraten.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. E-Mail-Zugangsdaten eingeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Zugangsdaten</strong> speicherst du die Zugangsdaten deines E-Mail-Kontos. An einer anderen Stelle definierst du Ereignisse, damit dein plentymarkets System später bei Eintritt dieses Ereignisses automatisch E-Mails wie Auftrags- und Versandbestätigungen erzeugt und an deine Kunden versendet.</p>
</div>
<div class="paragraph">
<p>Beachte, dass es unter Umständen möglich sein kann, dass du dir eine Freigabe bei deinem E-Mail-Provider einholen musst, damit plentymarkets die E-Mails versenden darf.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testmodus sendet E-Mails nur an deine E-Mail-Adresse</div>
<div class="paragraph">
<p>Es gibt einen Testmodus, der standardmäßig aktiviert ist. Im Testmodus werden alle E-Mails nur an die von dir eingegebene E-Mail-Adresse gesendet. So kannst du alle Einstellungen und Inhalte testen, bevor du live mit dem E-Mail-Versand arbeitest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Damit plentymarkets über dein E-Mail-Konto E-Mails für dich versenden kann, musst du die Zugangsdaten deines E-Mail-Programms in plentymarkets eingeben.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Zugangsdaten eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Zugangsdaten</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-e-mail-zugangsdaten-eingeben">Tabelle 3</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-e-mail-zugangsdaten-eingeben" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. E-Mail-Zugangsdaten eingeben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testmodus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>aktiv</strong> (Standardeinstellung) = Während der Testphase einstellen, damit alle E-Mails nur an deine Adresse gesendet werden.<br>
<strong>inaktiv</strong> = Nach Ende der Testphase einstellen, damit deine Kunden die E-Mails erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des Absenders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deinen Namen und/oder den Namen deines Webshops eingeben, wie er beim Empfänger angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse eingeben, wie sie auch in deinem E-Mail-Programm steht, z.B. <a href="mailto:info@myshop.de">info@myshop.de</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postausgangsserver / SMTP-Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Postausgangsserver erfährst du von deinem Provider (meist smtp.domain.de oder mail.domain.de).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername zu der E-Mail-Adresse eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort zu dem Benutzernamen und der E-Mail-Adresse eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port (Standard-Port: 25)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Wert <strong>25</strong> ist für fast alle Provider mit der Verschlüsselung <strong>TLS</strong> korrekt. Andernfalls musst du den korrekten Port bei deinem Provider erfragen.<br>
<strong><em>mailbox.org:</em></strong> Für Postfächer bei mailbox.org den Port <strong>465</strong> eingeben und unter <strong>Verschlüsselung</strong> die Einstellung <strong>SSL</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verschlüsselung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SSL</strong>, <strong>TLS</strong> oder <strong>keine Verschlüsselung</strong> (Standardeinstellung) wählen.<br>
<strong><em>mailbox.org:</em></strong> Für Postfächer bei mailbox.org den Port <strong>465</strong> eingeben und unter <strong>Verschlüsselung</strong> die Einstellung <strong>SSL</strong> wählen.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">E-Mail-Infodienst einrichten</div>
<div class="paragraph">
<p>Sobald du den Testmodus deaktiviert hast, ist es gerade in der Anfangsphase sinnvoll, auf die durch das System versendeten E-Mails stärker ein Auge zu haben. Nutze dafür den Infodienst. Mit dieser Funktion sendest du eine Blindkopie (BCC) aller ausgehenden E-Mails an eine Adresse deiner Wahl.</p>
</div>
<div class="paragraph instruction">
<p>Infodienst einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Infodienst</strong>.</p>
</li>
<li>
<p>Wähle <strong>JA</strong> aus der ersten Dropdown-Liste, um den Infodienst für die in der nächsten Zeile eingegebene E-Mail-Adresse zu aktivieren.</p>
</li>
<li>
<p>Gib die E-Mail-Adresse ein, an die eine Blindkopie gesendet werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Um den Infodienst wieder zu beenden, wähle <strong>NEIN</strong> aus der Dropdown-Liste und speichere die Einstellungen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. E-Mail-Vorlagen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets erzeugt alle E-Mails auf Basis von Vorlagen. <a href="#tabelle-e-mail-vorlagen">Tabelle 4</a> listet die E-Mail-Vorlagen auf, deren Einrichtung wir dir für den Anfang empfehlen. E-Mail-Vorlagen werden im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong> erstellt.</p>
</div>
<div class="paragraph">
<p>Du kannst alle E-Mail-Vorlagen an deine Erfordernisse anpassen. Weiter unten auf dieser Seite im Kapitel <a href="/schnelleinstieg/schnelleinstieg-basiseinstellungen#600">Beispiel: E-Mail-Vorlage anpassen</a> findest du ein Beispiel, wie du die E-Mail-Vorlage <strong>Webshop: Eingangsbestätigung Bestellung</strong> anpasst.</p>
</div>
<table id="tabelle-e-mail-vorlagen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Bereits vorkonfigurierte E-Mail-Vorlagen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">E-Mail-Vorlage</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag: Rechnung PDF-Anhang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet die Rechnung als Dateianhang an den Kunden.<br>
<strong><em>Wichtig:</em></strong> Eine Rechnungsvorlage für den Standort <strong>Deutschland</strong> ist bereits vorkonfiguriert. Du kannst die Vorlage nach Bedarf im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente » Rechnung</strong> anpassen. Wenn eine Rechnung für den Auftrag existiert und du eine Ereignisaktion eingerichtet hast, wird die Rechnung automatisch an den Kunden versendet, da in der Vorlage <strong>Auftrag: Rechnung PDF-Anhang</strong> der PDF-Anhang <strong>Rechnung</strong> bereits standardmäßig gewählt ist.<br>
 Weitere Informationen dazu findest du auf der Schnelleinstiegsseite <a href="/schnelleinstieg/schnelleinstieg-automatisierung">Vorgänge automatisieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag: Versandbestätigung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird bei Versand der Ware verschickt.<br>
<strong><em>Tipp:</em></strong> Erstelle eine Ereignisaktion mit dem Ereignis <strong>Paketnummer</strong> und füge Filter und Aktionen hinzu, damit die am Auftrag gespeicherte Paketnummer über die Template-Variable <strong>$TrackingURL</strong> ausgegeben wird. Weitere Informationen findest du auf der Schnelleinstiegsseite <a href="/schnelleinstieg/schnelleinstieg-automatisierung">Vorgänge automatisieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop: Eingangsbestätigung Bestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benachrichtigung an den Kunden, dass seine Bestellung eingegangen ist.<br>
<strong><em>Wichtig:</em></strong> In dieser E-Mail-Vorlage solltest du aus rechtlichen Gründen eine Widerrufsbelehrung sowie die AGB einfügen. Von großer Bedeutung in dieser E-Mail-Vorlage sind alle Formulierungen, die das vertragliche Verhältnis mit dem Kunden betreffen. Deine Texte solltest du daher von einem kundigen Fachanwalt prüfen lassen.<br>
Die Texte für die Widerrufsbelehrung und die AGB speicherst du im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Webshop » Rechtliches</strong>. Über die Template-Variablen <strong>$CancellationRightsText</strong> und <strong>$GeneralTermsConditionsText</strong> werden das Widerrufsrecht und die AGB dann automatisch in der E-Mail ausgegeben.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Es gibt zahlreiche weitere E-Mail-Vorlagen, die bereits in deinem plentymarkets System vorhanden sind. Diese E-Mail-Vorlagen musst du ggf. anpassen und mit einem Ereignis im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong> verknüpfen oder eine Ereignisaktion einrichten. Weitere Informationen findest du auf der Schnelleinstiegsseite <a href="/schnelleinstieg/schnelleinstieg-automatisierung">Vorgänge automatisieren</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="550">6.1. Rechtliche Angaben speichern</h3>
<div class="paragraph">
<p>Es ist wichtig, dass du vorab die rechtlichen Angaben für deinen Webshop speicherst. Dazu zählen die AGB, das Widerrufsrecht, die Datenschutzerklärung, das Impressum sowie das Widerrufsformular. In der E-Mail-Vorlage selbst fügst du Template-Variablen ein, die den Text in der E-Mail-Vorlage dann ersetzen.</p>
</div>
<div class="paragraph">
<p>Wir empfehlen, die Texte im Vorfeld von einem kundigen Fachanwalt prüfen zu lassen, bevor du diese verwendest.</p>
</div>
<div class="paragraph instruction">
<p>Rechtliche Angaben speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Webshop » Rechtliches</strong>.</p>
</li>
<li>
<p>Klappe die Sprache <strong>Deutsch</strong> auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Füge die Texte in den jeweiligen Tabs <strong>AGB</strong>, <strong>Widerrufsrecht</strong>, <strong>Datenschutzerklärung</strong>, <strong>Impressum</strong> und <strong>Widerrufsformular</strong> im Tab <strong>Text</strong> ein.<br>
→  <strong><em>Tipp:</em></strong> Lasse die Texte zu den rechtlichen Angaben von einem kundigen Fachanwalt prüfen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">6.2. Beispiel: E-Mail-Vorlage anpassen</h3>
<div class="paragraph">
<p>Anhand des Beispiels der E-Mail-Vorlage <strong>Webshop: Eingangsbestätigung Bestellung</strong> beschreiben wir im Folgenden, wie du eine E-Mail-Vorlage an deine Erfordernisse anpasst.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Klicke bei <strong>Allgemeine E-Mail-Vorlagen</strong> auf <strong>Webshop: Eingangsbestätigung Bestellung</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> der Vorlage öffnet sich.</p>
</li>
<li>
<p>Ändere ggf. die Einstellungen. Beachte dazu die Erläuterungen in <a href="#tabelle-e-mail-vorlagen-einrichten">Tabelle 5</a>.</p>
</li>
<li>
<p>Wechsele ins Tab <strong>E-Mail-Nachricht » Tab: Inhalt » Tab: Reiner Text</strong>.<br>
→ Der Standardtext der Vorlage öffnet sich.</p>
</li>
<li>
<p>Ändere ggf. den Text.</p>
</li>
<li>
<p>Füge z.B. die Template-Variablen <strong>$CancellationRightsText</strong> und <strong>$GeneralTermsConditionText</strong> ein, damit in der versendeten E-Mail-Vorlage die Texte für die AGB und das Widerrufsrecht ausgegeben werden.<br>
→ <strong><em>Hinweis:</em></strong> Die Texte hast du vorab im System gespeichert wie in Kapitel <a href="/schnelleinstieg/schnelleinstieg-basiseinstellungen#550">Rechtliche Angaben speichern</a> beschrieben.<br>
→ Die verfügbaren Template-Variablen öffnest du mit einem Klick auf <strong>Template-Variablen und -Funktionen</strong> (<span class="icon"><i class="fa fa-code" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Weitere Informationen zu den Template-Variablen für rechtliche Angaben findest du in <a href="#tabelle-template-variablen-rechtliches">Tabelle 6</a> am Ende dieses Kapitels.</p>
</li>
<li>
<p>Ersetze die Musterkontaktdaten am Ende der Vorlage durch deine Kontaktdaten.<br>
→ Du kannst dafür die Template-Variable <strong>$SignatureText</strong> verwenden und die Daten wie in Kapitel <a href="/schnelleinstieg/schnelleinstieg-basiseinstellungen#300">E-Mail-Signatur speichern</a> beschrieben einsetzen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-e-mail-vorlagen-einrichten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. E-Mail-Vorlagen einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Kopfzeile</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert die E-Mail-Vorlage.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Variablen -und Funktionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet alle in plentymarkets verfügbaren Template-Variablen und Template-Funktionen, die du in deinen E-Mail-Vorlagen verwenden kannst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Einstellung <strong>Alle</strong> gewählt. Das bedeutet, dass alle Benutzer Zugriff auf diese Vorlage haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der E-Mail-Vorlage, die zur internen Unterscheidung verwendet wird. Dieser Name wird dem Empfänger nicht angezeigt. Du kannst diesen Namen anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inhalt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur reiner Text</strong> (Standardeinstellung) oder <strong>Nur HTML-formatierter Text</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle</strong> (Grundeinstellung) wählen, wenn die E-Mail-Vorlage für alle Bereiche verwendet werden soll, oder den Bereich in plentymarkets aus der Dropdown-Liste wählen, für den diese E-Mail-Vorlage ausschließlich zur Verfügung stehen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PDF-Anhang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Einstellung <strong>Kein PDF-Anhang</strong> gewählt.<br>
<strong><em>Hinweis:</em></strong> Wenn du später an eine deiner E-Mails z.B. die Rechnung als PDF-Datei anhängen willst, musst du die Rechnungsvorlage vorab einrichten. Außerdem muss eine Rechnung für den Auftrag existieren und am besten hast du eine Ereignisaktion für diese Ereignis eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumentenanhang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Einstellung <strong>Kein Dokumentenanhang</strong> gewählt.<br>
<strong><em>Hinweis:</em></strong> Wenn du einen Anhang wie z.B. einen Artikelprospekt versenden möchtest, musst du dieses Dokument im Menü <strong>CMS » Dokumente</strong> hochladen. In der Dropdown-Liste <strong>Dokumentenanhang</strong> werden nur Dateien angezeigt, die im Menü <strong>CMS » Dokumente</strong> hochgeladen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Antwort an</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse eingeben, an die die Antworten auf diese E-Mail-Vorlage gesendet werden sollen.<br>
<strong><em>Hinweis:</em></strong> Wenn keine E-Mail-Adresse eingegeben wird, werden Antworten auf diese E-Mail-Vorlage an die E-Mail-Adresse, die im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Zugangsdaten</strong> gespeichert ist, versendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Design verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option musst du nur aktivieren, wenn du ein HTML-Design mit der E-Mail-Vorlage verknüpfen möchtest. Da wir im Schnelleinstieg reinen Text und keinen HTML-formatierten Text verwenden, ist diese Einstellung nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig sind alle Mandanten aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: E-Mail-Nachricht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache wählen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Sprache <strong>de</strong> gewählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betreff</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ggf. den Standardtext des Betreffs anpassen. Den Betreff sorgfältig wählen, damit die E-Mail im Postfach des Kunden erkannt und nicht als Spam gefiltert wird.<br>
<strong><em>Hinweis:</em></strong> Du kannst in der Betreffzeile auch Template-Variablen einfügen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du die E-Mail-Vorlage <strong>Webshop: Eingangsbestätigung Bestellung</strong> nach deinen Erfordernissen angepasst und gespeichert hast, wird diese Vorlage auch automatisch an deine Kunden versendet, sobald sie in deinem Webshop bestellen, da diese Vorlage im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong> bereits mit dem Ereignis <strong>Neue Bestellung über den Webshop</strong> verknüpft ist.</p>
</div>
<table id="tabelle-template-variablen-rechtliches" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Template-Variablen für die rechtlichen Angaben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Rechtliche Angabe</th>
<th class="tableblock halign-left valign-top">Template-Variable</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AGB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$GeneralTermsConditionsText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Widerrufsrecht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$CancellationRightsText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenschutzerklärung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$PrivacyPolicyText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Impressum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$LegalDisclosureText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Widerrufsformular</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$WithdrawalFormText</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">6.3. Template-Variablen und Template-Funktionen einfügen</h3>
<div class="paragraph">
<p>E-Mail-Vorlagen in plentymarkets bestehen immer aus Text sowie Template-Funktionen und Template-Variablen. In den E-Mails selbst ersetzt plentymarkets die Template-Variablen und -Funktionen durch den jeweiligen Inhalt. Die Template-Variable <strong>$CustomerFullName</strong> wird so z.B. durch den Kundennamen ersetzt, <strong>$CustomerEmail</strong> setzt die E-Mail-Adresse des Kunden ein, die Variable <strong>$OrderID</strong> setzt die Auftrags-ID ein.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Schreibweise der Template-Variablen beachten</div>
<div class="paragraph">
<p>Da Template-Variablen und Template-Funktionen vorkonfigurierte Systembefehle auslösen, musst du die Schreibweise der Namen genau einhalten. Um Fehlfunktionen durch Schreibfehler zu vermeiden, kopierst du die Variablen und Funktionen und fügst sie an gewünschter Stelle in die E-Mail-Vorlage ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Template-Variablen und -Funktionen einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Öffne die E-Mail-Vorlage, in die du Template-Variablen einfügen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Template-Variablen und -Funktionen</strong> (<span class="icon"><i class="fa fa-code" style="color:blue"></i></span>).<br>
→ Das Fenster <strong>Template-Variablen und -Funktionen</strong> wird geöffnet.</p>
</li>
<li>
<p>Kopiere die Variable, die du in die E-Mail-Vorlage einfügen möchtest.<br>
→ Du kannst die Variable über Strg+f bzw. cmd+f suchen.</p>
</li>
<li>
<p>Füge die Variable in das Textfeld im Tab <strong>E-Mail-Nachricht » Tab: Inhalt » Tab: Reiner Text</strong> an der gewünschten Stelle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Template-Funktion <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong> einfügen</div>
<div class="paragraph">
<p>Alle E-Mails an deine Kunden sollten unbedingt die Template-Funktion <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong> enthalten. Diese Funktion gibt den Link zum Bereich <strong>Mein Konto</strong> deines Webshops aus. Mit einem Klick auf diesen Link können deine Kunden jederzeit ihre Daten aktualisieren, die Auftragshistorie einsehen, weitere Artikel zur Bestellung hinzufügen und den Status der Bestellung verfolgen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="800">6.4. Dateien an E-Mail-Vorlagen anhängen</h3>
<div class="paragraph">
<p>Du kannst 2 Arten von Dateien an deine E-Mail-Vorlagen anhängen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>einen PDF-Anhang<br></p>
</li>
<li>
<p>einen Dokumentenanhang</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Den Unterschied dieser beiden Anhänge beschreiben wir im Folgenden.</p>
</div>
<div class="paragraph">
<p>Die möglichen Typen eines PDF-Anhangs, z.B. Rechnung, sind in deinem plentymarkets System vorgegeben. Diese Dokumente richtest du im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente</strong> ein.</p>
</div>
<div class="paragraph">
<p>Ein Dokumentenanhang kann z.B. ein Artikelprospekt, eine Anleitung oder eine Fotodatei sein. Du lädst diese Dateien im Menü <strong>CMS » Dokumente</strong> hoch.</p>
</div>
<div class="sect3">
<h4 id="900">6.4.1. PDF-Anhang erstellen und anhängen</h4>
<div class="paragraph">
<p>Die Dokumente, die du als PDF-Anhang versenden kannst, werden automatisch von deinem plentymarkets System erzeugt. Ein Beispiel für ein solches Dokument ist die Rechnung.</p>
</div>
<div class="paragraph">
<p>Das Einrichten erfolgt in 3 Schritten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Dokumentenvorlage, z.B. eine Geschäftsbriefvorlage inklusive Logo, erstellen und auf deinem Rechner speichern</p>
</li>
<li>
<p>Dokumenteinstellungen anpassen (im Folgenden detaillierter beschrieben)</p>
</li>
<li>
<p>Dokument mit der E-Mail-Vorlage verknüpfen (im Folgenden detaillierter beschrieben)</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Dokumenteinstellung anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Wähle das Dokument, das du bearbeiten möchtest, z.B. <strong>Rechnung</strong>.<br>
→ Das Dokument <strong>Rechnung</strong> ist bereits voreingestellt. Passe die Rechnungsvorlage ggf. an.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).</p>
</li>
<li>
<p>Wähle ggf. eine <strong>Zahlungsart</strong>.<br>
→ Standardmäßig ist die Einstellung <strong>Standard</strong> gewählt.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage auswählen</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).</p>
</li>
<li>
<p>Öffne die zuvor erstellte PDF-Dokumentvorlage.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>), um eine Vorschau des Dokuments anzeigen zu lassen.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>), um das Dokument zu löschen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Dokument mit der E-Mail-Vorlage verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Öffne die E-Mail-Vorlage.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>PDF-Anhang</strong> die Datei, die du als Anhang versenden möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Dokument wird als Anhang mit versendet.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1000">6.4.2. Dokumentenanhang erstellen und anhängen</h4>
<div class="paragraph">
<p>Alle Dokumente, die du über eine E-Mail-Vorlage als Dokumentenanhang versenden möchtest, müssen vorher im System hochgeladen werden. Ein Beispiel für ein solches Dokument sind die AGB, da dieses Dokument häufig als Anhang der Eingangsbestätigung einer Bestellung versendet wird – vorausgesetzt du hast die AGB nicht über die Template-Variable <strong>$GeneralTermsConditionsText</strong> direkt in der Vorlage eingefügt.</p>
</div>
<div class="paragraph">
<p>Das Einrichten erfolgt in 2 Schritten. Zunächst lädst du das Dokument im Menü <strong>CMS » Dokumente</strong> hoch. Dann verknüpfst du das Dokument mit einer E-Mail-Vorlage. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Dokument hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Dokumente</strong>.</p>
</li>
<li>
<p>Klicke im Tab <strong>Upload</strong> auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wähle die Datei, die du hochladen möchtest, und klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p>Wähle eine der Optionen unter <strong>Berechtigung</strong>.<br>
→ Mit der Berechtigung legst du fest, ob das Dokument nur für <strong>Mitarbeiter</strong>, nur für <strong>Kunden</strong> oder <strong>öffentlich</strong>, also für alle Besucher des Webshops, verfügbar sein soll.</p>
</li>
<li>
<p>Gib ggf. einen Namen für den Ordner ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Dokument mit einer E-Mail-Vorlage verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Öffne die E-Mail-Vorlage.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Dokumentenanhang</strong> die Datei, die du als Anhang versenden möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Datei wird als Anhang mit versendet.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">7. Domain bestellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Begriff "Domain" bezeichnet eine Internetadresse in Form eines Namens sowie einer Erweiterung, der Top-Level-Domain, z.B. <strong>.de</strong>. Du kannst den Namen frei wählen. Eine Domain ist einmalig und darf weltweit nicht doppelt vorkommen. Bei der Registrierung der Domain, zum Beispiel bei einem Hosting-Dienstleister, wird daher geprüft, ob eine gewünschte Domain noch nicht vergeben ist.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Domain zu bestellen und die Kontaktdaten des Domain-Inhabers zu speichern, das sogenannte Domain Handle. Du erhältst anschließend Informationen über die monatlichen Kosten der Nutzung. Nachdem du die Kontaktdaten eingegeben hast und das plentymarkets System zugeordnet wurde, bestellst du die Domain mit einem Klick auf <strong>Zahlungspflichtig bestellen</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Domain bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Service-Center</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das rote plentymarkets Logo oben links.</p>
</li>
<li>
<p>Das Service-Center wird in einem neuen Browser-Tab geöffnet.</p>
</li>
<li>
<p>Klicke auf das blaue Plus des Systems (<span class="icon"><i class="fa fa-plus-square" style="color:blue"></i></span>).<br>
→ Die verfügbaren Tabs werden eingeblendet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Domain</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Domain bestellen</strong>.</p>
</li>
<li>
<p>Gib den gewünschten Domain-Namen ein.</p>
</li>
<li>
<p>Wähle die Top-Level-Domain aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Prüfen</strong>.<br>
→ Das System prüft, ob die Domain verfügbar ist.</p>
</li>
<li>
<p>Klappe die Domain-ID auf.</p>
</li>
<li>
<p>Klicke auf <strong>Domain-Handle</strong>.</p>
</li>
<li>
<p>Gib die Kontaktdaten des Domain-Inhabers ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du bereits eine Domain bei einem anderen Provider hast und den Provider wechseln möchtest, gehe wie im Kapitel <a href="/basics/admin-aufgaben/plentymarkets-konto#250">Domain-Umzug durchführen</a> auf der Handbuchseite <a href="/basics/admin-aufgaben/plentymarkets-konto">plentymarkets Konto</a> beschrieben vor.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">8. SSL-Zertifikat bestellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein SSL-Zertifikat dient dazu, deine Website zu verschlüsseln und gewährleistet eine sichere Verbindung zu deinem Webshop. Wenn du ein SSL-Zertifikat verwendest, ist deine Website über <em>https</em> erreichbar.</p>
</div>
<div class="paragraph">
<p>Wichtig ist, dass die Domain, für die du das SSL-Zertifikat bestellen möchtest, eine im Service-Center aktivierte Hauptdomain ist.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein kostenpflichtiges SSL-Zertifikat zu bestellen.</p>
</div>
<div class="paragraph instruction">
<p>SSL-Zertifikat bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>SSL</strong>.<br>
→ Das Zertifikat der Domain wird angezeigt.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Neues SSL bestellen für Domain:[Domain-Name]</strong> rechts auf den Pfeil nach unten.<br>
→ Die für die Domain buchbaren SSL-Zertifikate werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Zeile des SSL-Zertifikats, das du buchen möchtest, auf <strong>SSL bestellen</strong>.<br>
→ Das SSL-Zertifikat wird bestellt.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 2 Stunden dauern, bis das SSL-Zertifikat aktiviert ist.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">9. Checkliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Basiseinstellungen zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Stammdaten und Bankdaten gespeichert?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du deine E-Mail-Kontodaten im System eingegeben?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du deine E-Mail-Signatur gespeichert und die Template-Variable <strong>$SignatureText</strong> am Ende deiner E-Mail-Vorlagen hinzugefügt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du in allen E-Mail-Vorlagen die Musterdaten durch deinen eigenen Kontaktdaten ergänzt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Enthalten alle E-Mail-Vorlagen die Template-Funktion <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong>?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Domain für deinen Webshop bestellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du ein SSL-Zertifikat gebucht?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du nach dem Testen den Testmodus deaktiviert, damit E-Mails ab sofort an deine Kunden und nicht mehr an dich selbst versendet werden?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">10. Mehr zum Thema Basiseinstellungen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/crm/e-mails-versenden#100">E-Mail-Server-Zugangsdaten speichern</a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#1200">E-Mail-Vorlage erstellen</a></p>
</li>
<li>
<p><a href="/webshop/ceres-einrichten#300">Rechtliche Angaben speichern</a></p>
</li>
<li>
<p><a href="/schnelleinstieg/schnelleinstieg-automatisierung#10">Automatischer E-Mail-Versand</a></p>
</li>
<li>
<p><a href="/crm/newsletter-versenden">Newsletter versenden</a></p>
</li>
<li>
<p><a href="/crm/ticketsystem-nutzen">Ticketsystem nutzen</a></p>
</li>
<li>
<p><a href="/basics/admin-aufgaben/plentymarkets-konto#50">Domain-Daten verwalten</a></p>
</li>
<li>
<p><a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat verwalten</a></p>
</li>
<li>
<p><a href="/basics/admin-aufgaben/plentymarkets-konto#20">Vertragsdaten ändern</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-warenwirtschaft">Lager und Lieferant einrichten</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>