<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Eine letzte Kontrolle</span></a></li>
<li><a href="#20"><span>2.</span><span> Shop live schalten</span></a></li>
<li><a href="#30"><span>3.</span><span> Bleib auf dem Laufenden</span></a></li>
<li><a href="#40"><span>4.</span><span> Mehr zum Handbuch</span></a></li>
<li><a href="#50"><span>5.</span><span> Mehr von plentymarkets</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Die letzten Schritte</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Ziel ist in Sicht. Im Folgenden findest du eine Checkliste, mit der du prüfen kannst, ob du alle Schritte durchlaufen hast. Dann ist es endlich an der Zeit, deinen Shop freizuschalten. Zum Abschluss haben wir noch ein paar Hinweise für dich, damit du dich auch in Zukunft gut in der plentymarkets Welt zurechtfindest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Eine letzte Kontrolle</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du …​</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> die <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-basiseinstellungen" target="_blank" rel="noopener">Basiseinstellungen</a> vorgenommen?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-warenwirtschaft" target="_blank" rel="noopener">Lager und Lieferant</a> eingerichtet?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> die <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-versandoptionen" target="_blank" rel="noopener">Versandoptionen</a> eingerichtet?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> deinen <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-artikelkatalog" target="_blank" rel="noopener">Artikelkatalog</a> aufgebaut?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> den <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-warenbestand" target="_blank" rel="noopener">Warenbestand</a> gebucht?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-ebay" target="_blank" rel="noopener">eBay</a> eingerichtet?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> deinen <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-webshop" target="_blank" rel="noopener">Webshop</a> gestaltet?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> die <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-zahlungsabwicklung" target="_blank" rel="noopener">Zahlungsabwicklung</a> eingerichtet?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> die <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-auftragsabwicklung" target="_blank" rel="noopener">Auftragsabwicklung</a> vorbereitet?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Einstellungen zur <a href="https://knowledge.plentymarkets.com/schnelleinstieg/schnelleinstieg-automatisierung" target="_blank" rel="noopener">Automatisierung</a> vorgenommen?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Shop live schalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jetzt hast du es fast geschafft. Zu Beginn des Schnelleinstiegs haben wir den Webshop gesperrt und alle E-Mails zu Testzwecken an die eigene Adresse gesendet. Diese Einstellungen müssen zum Verkaufsstart wieder zurückgesetzt werden.</p>
</div>
<div class="paragraph instruction">
<p>Testmodus deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Standard Shop (Standard) » E-Mail » Zugangsdaten</strong>.</p>
</li>
<li>
<p>Wähle aus dem Dropdown-Menü Testmodus die Option <strong>Inaktiv</strong> aus.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Webshop entsperren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Standard Shop (Standard) » Webshop » Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Webshop jetzt entsperren</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><span class="icon"><i class="fa fa-rocket" style="color:blue"></i></span> <strong>Herzlichen Glückwunsch! Dein Shop ist jetzt online!</strong> <span class="icon"><i class="fa fa-rocket" style="color:blue"></i></span></p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Bleib auf dem Laufenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets wird ständig verbessert. Damit du über alle Änderungen immer gut informiert bist, empfehlen wir dir, im Forum die Kategorie <strong>Changelog</strong> zu abonnieren. Dafür benötigst du zunächst ein Konto für unser Forum.</p>
</div>
<div class="paragraph instruction">
<p>Konto erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> » Name deines Benutzerkontos.</p>
</li>
<li>
<p>Klicke auf <strong>Konto erstellen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Den Changelog abonnieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Support</strong> und klicke auf <strong>Forum</strong>.<br>
→ Das Forum öffnet sich in einer neuen Registerkarte.</p>
</li>
<li>
<p>Logge dich mit deinen Zugangsdaten im Forum ein.</p>
</li>
<li>
<p>Öffne deine Kontoeinstellungen, indem du in der oberen rechten Ecke auf dein Profilbild und anschließend auf <strong>Einstellungen</strong> klickst.</p>
</li>
<li>
<p>Öffne das Menü <strong>Kategorien</strong>.</p>
</li>
<li>
<p>Gib in das Textfeld <strong>Beobachtet</strong> „Version 7“ ein und bestätige den Eintrag mit der Eingabetaste.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun erhältst du automatisch eine E-Mail-Benachrichtigung, wenn ein Changelog veröffentlicht wird.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Mehr zum Handbuch</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du deinen Shop erweiterst und tiefer in das plentymarkets System einsteigst, wirst du dich wahrscheinlich öfter auch auf dieses Handbuch beziehen. Dabei hast du zwei Möglichkeiten zur Navigation: Den Navigationsbaum und die Suchfunktion. Verwende den Navigationsbaum auf der linken Seite, um das Handbuch explorativ zu erkunden oder wenn du dir einen Überblick über ein komplettes Thema verschaffen möchtest. Mit der Suchfunktion kannst du direkt nach Schlagwörtern suchen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Versionen</div>
<div class="paragraph">
<p>Das Handbuch beschreibt die Funktionalität von plentymarkets gemäß der Beta-Version. Neue Systeme werden jedoch in der Version Stable ausgeliefert. Dies hat zur Folge, dass einige Angaben im Handbuch möglicherweise bis zu zwei Wochen lang von deiner Systemumgebung abweichen.</p>
</div>
<div class="paragraph">
<p>Wenn du dein System auf eine andere Version umstellen möchtest, findest du Information dazu in deinem Backend im Menü <strong>Einrichtung » Mandant » Standard-Shop (Standard) » Version</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Mehr von plentymarkets</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Wenn du dein System und deinen Webshop um weitere Funktionen erweitern möchtest, findest du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> weitere Plugins.</p>
</li>
<li>
<p>Neuigkeiten und Ankündigungen rund um plentymarkets findest du in unserem <a href="https://www.plentymarkets.eu/blog" target="_blank" rel="noopener">Blog</a>.</p>
</li>
<li>
<p>Hilfe, Tipps und Tricks erhältst du von unseren Supportern im plentymarkets <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">Forum</a>.</p>
</li>
<li>
<p>Unsere <a href="https://www.plentymarkets.eu/knowledge/video-tutorials/" target="_blank" rel="noopener">Videotutorials</a> bieten dir weitere nützliche Anleitungen.</p>
</li>
<li>
<p>Wenn du möchtest, dass dir unsere Einrichter mit Rat und Tat zur Seite stehen, kannst du <a href="https://www.plentymarkets.eu/service/systemeinrichtung-consulting/" target="_blank" rel="noopener">hier</a> einen Termin vereinbaren.</p>
</li>
<li>
<p>Professionelle Unterstützung bei der Gestaltung deines Webshops erhältst du bei unseren <a href="https://www.plentymarkets.eu/service/partneragenturen/" target="_blank" rel="noopener">Partneragenturen</a>.</p>
</li>
<li>
<p>Folge uns auf <a href="https://www.facebook.com/plentymarkets" target="_blank" rel="noopener">Facebook</a> und <a href="https://www.twitter.com/plentymarkets" target="_blank" rel="noopener">Twitter</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</main>