<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#20"><span>2.</span><span> Auftragsdokumente einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Rechnung einrichten</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Stornobeleg einrichten</span></a></li>
<li><a href="#40"><span>2.3.</span><span> Lieferschein einrichten</span></a></li>
</ul>
</li>
<li><a href="#50"><span>3.</span><span> Auftragsübersicht nutzen</span></a></li>
<li><a href="#60"><span>4.</span><span> Aufträge bearbeiten</span></a></li>
<li><a href="#70"><span>5.</span><span> Checkliste</span></a></li>
<li><a href="#80"><span>6.</span><span> Mehr zum Thema Auftragsabwicklung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Auftragsabwicklung vorbereiten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon deinen Webshop gestaltet? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/schnelleinstieg/schnelleinstieg-webshop">Ceres-Webshop gestalten</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Aufträge, die über deinen Webshop eingehen, verwaltest du als Händler im Backend deines plentymarkets Systems. Auf dieser Seite findest du die nötigen Einstellungen, die im Vorfeld für die Auftragsabwicklung vorgenommen werden müssen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Grundeinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zuerst nimmst du die grundlegenden Einstellungen für den Bereich <strong>Aufträge</strong> vor. Einige davon sind in deinem plentymarkets System bereits voreingestellt. Wir empfehlen, diese Voreinstellungen vorerst nicht zu ändern. Andere Einstellungen solltest du jedoch zwingend anpassen. Diese werden in <a href="#tabelle-auftraege-schnelleinstieg-grundeinstellungen">Tabelle 1</a> erläutert. Gehe wie im Folgenden beschrieben vor:</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand <a href="#tabelle-auftraege-schnelleinstieg-grundeinstellungen">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-auftraege-schnelleinstieg-grundeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Lagerauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die automatische Lagerauswahl wählt beim Auftragseingang automatisch das entsprechende Lager der enthaltenen Auftragspositionen aus. Wir empfehlen die Wahl einer der beiden folgenden Optionen:<br>
<strong>b) in Abhängigkeit des Hauptlagers des Artikels</strong>: Entscheidend bei der Auswahl des Lagers ist hier das Hauptlager des Artikels, das du zuvor in den Variantendaten des Artikels gespeichert haben musst. Diese Einstellung ist sinnvoll, wenn du bestimmte Artikel immer aus einem festen Lager versenden willst.<br>
<strong>c) in Abhängigkeit des höchsten Warenbestandes</strong>: Bei dieser Option wird das Lager anhand des höchsten Warenbestandes des Artikels ausgewählt. Diese Option macht Sinn, wenn ein Artikel aus mehreren Lagern versendet wird. Wir empfehlen die Option weiterhin auch dann, wenn du voerst nur ein einziges Lager betreibst. Versendest du zu einem späteren Zeitpunkt Artikel aus mehreren Lagern, musst du diese Einstellung nicht mehr anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel auf 4 statt 5, wenn Warenbestand fehlt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wir empfehlen, hier die Option <strong>JA</strong> zu wählen. So wird anhand einer Warenbestandsautomatik verhindert, dass Aufträge, die Artikel enthalten zu denen kein Warenbestand in deinem Lager vorhanden ist, fälschlicherweise in den Status <strong>[5] Freigabe Versand</strong> wechseln. Stattdessen verbleiben sie automatisch im <strong>Status [4] in Versandvorbereitung</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Auftragsdokumente einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein wichtiger Teil deiner Auftragsabwicklung sind Auftragsdokumente wie Rechnungen und Lieferscheine. Bevor du Aufträge in plentymarkets abwickelst, musst du für diese Dokumente Vorlagen einrichten. Beim Einrichten legst du fest, welche Informationen auf den Dokumenten angezeigt werden. Außerdem kannst du den individuellen Briefkopf deiner Firma in die Vorlage integrieren.<br></p>
</div>
<div class="paragraph">
<p>plentymarkets unterscheidet zwischen Fulfillment-Dokumenten und standortbezogenen Dokumenten. Fulfillment-Dokumente wie die Pickliste oder Packliste benötigst du für den Kommissionierungs- und Versandprozess. Beachte die Links am Ende dieser Seite, um weitere Informationen zum Einrichten dieser Dokumente zu erhalten.<br></p>
</div>
<div class="sect2">
<h3 id="30">2.1. Rechnung einrichten</h3>
<div class="paragraph">
<p>Beim Einrichten deines plentymarkets Systems sind vorrangig die standortbezogenen Dokumente relevant. Deshalb beschreiben wir im Folgenden beispielhaft das Einrichten der Dokumentenvorlage <strong>Rechnung</strong> und des <strong>Stornobelegs</strong> mithilfe der zeitsparenden Übernahme von Standardvorlagen. Zum Einrichten der weiteren notwendigen Dokumente kannst du später analog vorgehen.</p>
</div>
<div class="paragraph instruction">
<p>Vorlage für Dokument <strong>Rechnung</strong> einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Wähle den Menüpunkt <strong>Rechnung</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Transfer</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Einstellungen aus Standard-Dokumentenvorlage übernehmen</strong> auf <strong>Übernehmen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).</p>
</li>
<li>
<p>Bestätige deine Auswahl im sich öffnenden Fenster durch Klick auf <strong>OK</strong>.<br>
→ Die in plentymarkets hinterlegte Standard-Dokumentenvorlage wird für das Dokument <strong>Rechnung</strong> übernommen.</p>
</li>
<li>
<p>Öffne das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).</p>
</li>
<li>
<p>Belasse die Auswahl der <strong>Zahlungsart</strong> auf <strong>Standard</strong> und die <strong>Sprache</strong> auf <strong>de</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage auswählen</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).</p>
</li>
<li>
<p>Wähle deine lokal gespeicherte PDF-Vorlage aus, die den Header und das Firmenlogo enthält.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>).<br>
→ Die PDF-Vorlage wird hochgeladen.</p>
</li>
<li>
<p>Öffne das Tab <strong>Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).<br>
→ Dir wird eine Vorschau des Dokuments <strong>Rechnung</strong> inklusive deiner individuellen PDF-Vorlage und der vorher übertragenen Standardeinstellungen angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach Abschluss der oben aufgeführten Schritte hast du dir erfolgreich eine Standardvorlage für das Dokument <strong>Rechnung</strong> eingerichtet. In den meisten Fällen ist dies vorerst ausreichend. Es gibt jedoch noch weitere Einstellungen, mit denen du das Dokument bei Bedarf weiter anpassen kannst. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Weitere Einstellungen für das Dokument <strong>Rechnung</strong> vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Tab <strong>Vorlage</strong>.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. <a href="#tabelle-schnelleinstieg-rechnung-zusatzeinstellungen">Tabelle 2</a> beschreibt einige nützliche Einstellungsmöglichkeiten.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).<br>
→ Dir wird eine Vorschau des Dokuments <strong>Rechnung</strong> inklusive deiner individuellen PDF-Vorlage und der vorher übertragenen Standardeinstellungen angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save"></i></span>)die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnelleinstieg-rechnung-zusatzeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Weitere Einstellungen für das Dokument <strong>Rechnung</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenränder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier legst du die Seitenränder des Dokuments fest. Die Seitenränder beziehen sich auf DIN A4-Hochformat. Normalerweise ist hier keine manuelle Anpassung nötig. In manchen Fällen kann es jedoch sein, dass der Seitenrand <strong>Oben</strong> größer gewählt werden muss, wenn beispielsweise der Header mit dem Firmenlogo so groß ist, dass es zu Überschneidungen kommt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Positionierung der Pflichtelemente</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigene USt-IdNr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über dieses Feld kannst du deine eigene Umsatzsteuer-ID auf der Rechnung anzeigen lassen. Die Umsatzsteuer-ID hast du zuvor im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Deutschland » Buchhaltung</strong> hinterlegt. Aktiviere die Anzeige auf dem Dokument <strong>Rechnung</strong> jedoch nur, wenn deine Umsatzsteuer-ID nicht bereits in deinem Header enthalten ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere hier die Option <strong>JA</strong>, wenn das Datum des vollständigen Zahlungseingangs auf der Rechnung vermerkt sein soll. Dies empfiehlt sich vor allem, wenn du vorerst wie in diesem Schnelleinstieg empfohlen nur die Zahlungsarten <strong>PayPal</strong> und <strong>Vorkasse</strong> anbietest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Hinweis wird am unteren Ende der Rechnung angezeigt. Der Text <strong>Vielen Dank für Ihren Auftrag!</strong> ist hier voreingetragen. Du kannst ihn nach deinen individuellen Wünschen und Anforderungen noch anpassen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Du hast nun alle notwendigen Schritte zum Einrichten des Dokuments <strong>Rechnung</strong> vorgenommen. Somit werden alle Rechnungen mit der Auftragssprache Deutsch standardmäßig für alle Zahlungsarten ausgegeben.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Rechnung in anderen Sprachen erstellen</div>
<div class="paragraph">
<p>Wie bereits beschrieben, zählt die Rechnung zu den standortabhängigen Dokumenten in plentymarkets. Das bedeutet, dass du die Rechnungsvorlage und alle weiteren benötigten Dokumentenvorlagen für weitere Sprachen zusätzlich anlegen musst. Das wird beispielsweise notwendig, wenn du in deinem Webshop Bestellungen aus dem Ausland entgegennimmst oder einen weiteren Standort außerhalb Deutschlands betreibst. Du kannst die hier eingerichtete Vorlage mit wenig Aufwand auf Rechnungsdokumente in andern Sprachen übertragen. Weitere Informationen dazu findest du in den Links am Ende dieser Seite.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Stornobeleg einrichten</h3>
<div class="paragraph">
<p>Der <strong>Stornobeleg</strong> ist neben der Rechnung das zweite verpflichtende Dokument, für das du vor dem Start deiner Auftragsabwicklung eine Dokumentenvorlage einrichten solltest. Du kannst ganz einfach die vorher getroffenen Einstellungen zum Dokument <strong>Rechnung</strong> auf die Vorlage des Dokuments <strong>Stornobeleg</strong> übertragen. Der Stornobeleg ist eine Art umgekehrte Rechnung. Du benötigst dieses Dokument zwingend zur Stornierung von bereits erstellten Rechnungen. Zudem sind Stornobelege genau wie Rechnungen buchhalterisch relevant. Deshalb solltest du die nachfolgenden Einstellungen sorgfältig vornehmen.</p>
</div>
<div class="paragraph instruction">
<p>Vorlage für Dokument <strong>Stornobeleg</strong> einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Wähle den Menüpunkt <strong>Rechnung</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Transfer</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Einstellungen auf Zielvorlage übertragen</strong> die Zielvorlage <strong>Stornobeleg Rechnung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Übertragen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).</p>
</li>
<li>
<p>Bestätige deine Auswahl im sich öffnenden Fenster durch Klick auf <strong>OK</strong>.<br>
→ Die Vorlage für das Dokument <strong>Rechnung</strong> wird auf das Dokument <strong>Stornobeleg Rechnung</strong> übertragen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Wähle den Menüpunkt <strong>Stornobeleg Rechnung</strong>.</p>
</li>
<li>
<p>Trage im Feld <strong>Dokumentname/-nummer</strong> im Bereich <strong>Positionierung der Pflichtelemente</strong> den Text <strong>Stornobeleg Rechnung</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Öffne das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).</p>
</li>
<li>
<p>Belasse die Auswahl der <strong>Zahlungsart</strong> auf <strong>Standard</strong> und die <strong>Sprache</strong> auf <strong>de</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage auswählen</strong>.</p>
</li>
<li>
<p>Wähle deine lokal gespeicherte PDF-Vorlage aus, die den Header und das Firmenlogo enthält.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).<br>
→ Die PDF-Vorlage wird hochgeladen.</p>
</li>
<li>
<p>Öffne das Tab <strong>Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).<br>
→ Dir wird eine Vorschau des Dokuments <strong>Stornobeleg</strong> inklusive deiner individuellen PDF-Vorlage und der vom Dokument <strong>Rechnung</strong> übertragenen Einstellungen angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">2.3. Lieferschein einrichten</h3>
<div class="paragraph">
<p>Im Gegensatz zum Dokument <strong>Rechnung</strong> ist das Beilegen eines Lieferscheins bei Warensendungen keine Pflicht. Der Lieferschein gehört trotzdem für viele Händler zu den wichtigsten Begleitdokumenten. Mithilfe des Lieferscheins können deine Kunden die Vollständigkeit der Lieferung überprüfen.<br>
Gehe wie im Folgenden beschrieben vor, um eine Vorlage für das Dokument <strong>Lieferschein</strong> einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Vorlage für Dokument <strong>Lieferschein</strong> einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Wähle den Menüpunkt <strong>Lieferschein</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Transfer</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Einstellungen aus Standard-Dokumentenvorlage übernehmen</strong> auf <strong>Übernehmen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).</p>
</li>
<li>
<p>Bestätige deine Auswahl im sich öffnenden Fenster durch Klick auf <strong>OK</strong>.<br>
→ Die in plentymarkets hinterlegte Standard-Dokumentenvorlage wird auf das Dokument <strong>Lieferschein</strong> übernommen.</p>
</li>
<li>
<p>Öffne das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).</p>
</li>
<li>
<p>Belasse die Auswahl der <strong>Zahlungsart</strong> auf <strong>Standard</strong> und die <strong>Sprache</strong> auf <strong>de</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage auswählen</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).</p>
</li>
<li>
<p>Wähle deine lokal gespeicherte PDF-Vorlage aus, die den Header und das Firmenlogo enthält.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>).<br>
→ Die PDF-Vorlage wird hochgeladen.</p>
</li>
<li>
<p>Öffne das Tab <strong>Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).<br>
→ Dir wird eine Vorschau des Dokuments <strong>Lieferschein</strong> inklusive deiner individuellen PDF-Vorlage und der vorher übertragenen Standardeinstellungen angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach Abschluss der oben aufgeführten Schritte hast du dir erfolgreich eine Standardvorlage für das Dokument <strong>Lieferschein</strong> eingerichtet. Damit sind auch schon alle Pflichtangaben für Lieferscheine (Empfängername, Auftragsnummer, Auftragsdatum, Menge und Bezeichnung der einzelnen Artikel) auf dem Dokument enthalten. Es gibt jedoch noch weitere Einstellungen, mit denen du das Dokument bei Bedarf weiter anpassen kannst. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Weitere Einstellungen für das Dokument <strong>Lieferschein</strong> vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente » Lieferschein</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Vorlage</strong>.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. <a href="#tabelle-schnelleinstieg-lieferschein-zusatzeinstellungen">Tabelle 3</a> beschreibt einige nützliche Einstellungsmöglichkeiten.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnelleinstieg-lieferschein-zusatzeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Weitere Einstellungen für das Dokument <strong>Lieferschein</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenränder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier legst du die Seitenränder des Dokuments fest. Die Seitenränder beziehen sich auf DIN A4-Hochformat. Normalerweise ist hier keine manuelle Anpassung nötig. In manchen Fällen kann es jedoch sein, dass der Seitenrand <strong>Oben</strong> größer gewählt werden muss, wenn beispielsweise der Header mit dem Firmenlogo so groß ist, dass es zu Überschneidungen kommt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Positionierung der Pflichtelemente</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestelldatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf der Standardvorlage wird das Datum der Erzeugung des Dokuments selbst angezeigt. Über das Feld <strong>Bestelldatum</strong> kannst du zusätzlich das Datum des Eingangs der Bestellung anzeigen lassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage im Textfeld eine Bezeichnung, z.B. <strong>Auftragsherkunft</strong>, ein und wähle die entsprechenden Koordinaten. So kannst du auf dem Lieferschein angeben, ob die Lieferung zu einem über den Webshop oder über einen Marktplatz eingegangenen Auftrag gehört.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Spalten Artikelpositionen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantenbild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Im Tab <strong>Bilder</strong> eines Artikels können Bilder hinterlegt und Varianten zugeordnet werden. Dieses Bild kannst du auf dem Lieferschein anzeigen lassen. Wähle dazu eine Position im Feld <strong>Pos</strong> und gib optional eine Benennung ein, die neben dem Bild erscheint.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Du hast nun alle notwendigen Schritte zum Einrichten des Dokuments <strong>Lieferschein</strong> vorgenommen. Somit werden alle Lieferscheine zu Aufträgen, die als Auftragssprache Deutsch haben, standardmäßig in dieser Form ausgegeben.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Auftragsübersicht nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Aufträge bearbeiten</strong> bietet plentymarkets dir eine Übersicht der eingegangenen Aufträge an. Dabei spielt die Auftragsherkunft keine Rolle. Es ist also egal, ob du diese Aufträge manuell angelegt hast oder sie über in deinem System angebundene Marktplätze wie <strong>eBay</strong> oder <strong>Amazon</strong> eingehen.<br>
Verschiedene Geschäftsvorfälle wie Retouren, Gutschriften, Reparaturen und Gewährleistungen werden in plentymarkets jeweils als einzelne Aufträge mit entsprechenden Typen angelegt. Diese Auftragstypen sind immer mit dem ursprünglichen Hauptauftrag verbunden. Auch diese Aufträge findest du in der Auftragsübersicht.<br>
Auf der linken Seite des Menüs <strong>Aufträge » Aufträge bearbeiten</strong> findest du verschiedene Filter- und Suchmöglichkeiten, um die angezeigten Aufträge einzugrenzen. So kannst du nach Daten wie der <strong>Auftrags-ID</strong> oder der <strong>Rechnungsnummer</strong> suchen oder das <strong>Datum</strong> des Auftragseingangs verändern, sodass dir auch weiter zurückliegende Aufträge angezeigt werden. Standardmäßig ist die Anzeige auf Aufträge mit Eingang in den letzten 2 Monaten eingegrenzt.<br></p>
</div>
<div class="paragraph">
<p>Die Auftragsübersicht zeigt dir standardmäßig auf einen Blick unter anderem die folgenden Information zu jedem gelisteten Auftrag an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Datum des Eingangs/der Eingabe</p>
</li>
<li>
<p>Rechnungsnummer</p>
</li>
<li>
<p>Zahlungseingang</p>
</li>
<li>
<p>Warenausgang</p>
</li>
<li>
<p>Versanddatum</p>
</li>
<li>
<p>Auftragsherkunft</p>
</li>
<li>
<p>Status</p>
</li>
<li>
<p>Versandprofil</p>
</li>
<li>
<p>Zahlungsart</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Besonders nützlich ist die Funktion <strong>Vorhandene Vorgänge anzeigen</strong>, die für jeden Auftrag verfügbar ist. Diese Funktion zeigt dir an, ob und welche Vorgänge in Form von Retouren- oder Gutschriftaufträgen zum jeweiligen Auftrag existieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">4. Aufträge bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Durch Klick auf die Auftrags-ID, die links vor jedem gelisteten Auftrag angezeigt wird, öffnest du den Auftrag selbst. Im Auftrag stehen dir verschiedene Tabs zur Verfügung. Da die Bearbeitungsmöglichkeiten vielfältig sind, weisen wir hier lediglich auf einige wichtige Funktionen hin. Mehr Informationen zum Thema findest du in den Links am Ende dieser Seite.<br></p>
</div>
<div class="paragraph">
<p>Innerhalb eines Auftrages kannst du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>im Tab <strong>Kunde</strong> die Kontaktdaten des Kunden aufrufen.</p>
</li>
<li>
<p>im Tab <strong>Mail</strong> E-Mails an Kunden versenden und nachvollziehen, welche E-Mails bereits an den Kunden verschickt wurden</p>
</li>
<li>
<p>Auftragsdokumente im Tab <strong>Belege</strong> manuell erstellen, soweit du die Dokumentenerzeugung nicht mit Ereignisaktionen automatisiert hast</p>
</li>
<li>
<p>den Zahlungseingang falls notwendig manuell im Tab <strong>Zahlung</strong> buchen</p>
</li>
<li>
<p>den <strong>Warenausgang</strong> im Tab <strong>Einstellungen</strong> buchen</p>
</li>
<li>
<p>Im Tab <strong>Übersicht</strong> bei Bedarf den <strong>Status</strong> manuell auf <strong>[8] Storniert</strong> setzen, um einen Auftrag zu stornieren.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Aufträge nicht löschen</div>
<div class="paragraph">
<p>Generell solltest du keine Aufträge löschen. Eine Ausnahme sind manuell angelegte Aufträge, die du erst kurze Zeit vorher angelegt hast. Beim Löschen von Aufträgen kann es generell zu Fehlfunktionen bei den verknüpften Artikeln und Versandeinstellungen kommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Checkliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Auftragsabwicklung zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die <a href="#10">Grundeinstellungen</a> für die Auftragsabwicklung vorgenommen?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Vorlage für das Dokument <a href="#30">Rechnung</a> eingerichtet?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Vorlage für das Dokument <a href="#40">Stornobeleg</a> eingerichtet?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du dich ausreichend über <a href="#50">Auftragsübersicht</a> und die <a href="#60">Auftragsbearbeitung</a> informiert?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="80">6. Mehr zum Thema Auftragsabwicklung</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/auftraege/auftraege-verwalten">Aufträge verwalten</a></p>
</li>
<li>
<p><a href="/auftraege/grundeinstellungen">Grundeinstellungen für Aufträge</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten">Auftragstypen</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#200">Manuelle Auftragsanlage</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente">Auftragsdokumente</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/schnelleinstieg/schnelleinstieg-plugins">Plugins dem System hinzufügen</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>