<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Vorausgesetzte Hardware, Betriebssysteme und Browser</span></a></li>
<li><a href="#600"><span>2.</span><span> Probleme beheben</span></a></li>
<li><a href="#200"><span>3.</span><span> plentymarkets App nutzen</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Geschäftsdaten mit der plentymarkets App verwalten</span></a></li>
<li><a href="#400"><span>3.2.</span><span> Warenbestand mit der plentymarkets App verwalten</span></a></li>
<li><a href="#500"><span>3.3.</span><span> Kassensystem plentymarkets POS nutzen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Systemvoraussetzungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Seite erfährst du, welche Voraussetzungen deine Hardware und deine Internetverbindung erfüllen müssen, damit du plentymarkets nutzen kannst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Vorausgesetzte Hardware, Betriebssysteme und Browser</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Angaben in <a href="#tabelle-generelle-voraussetzungen">Tabelle 1</a> geben Mindeststandards wieder, um mit plentymarkets optimal arbeiten zu können. Wenn du die angegebenen Werte unterschreitest, musst du mit einer eingeschränkten Performance bis hin zu technischen Problemen aufgrund mangelnder Kompatibilität rechnen. Wenn du außerdem sehr alte Hardware oder einen schlecht gewarteten PC nutzt, sind dauerhafte Leistungsprobleme möglich.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zugriff über Browser</div>
<div class="paragraph">
<p>plentymarkets ist für den Browser Google Chrome optimiert. Du kannst jedoch auch über Mozilla Firefox oder Safari (Mac OS) darauf zugreifen. Diese Einschränkung gilt nur für den Administrationsbereich. Dein Webshop ist natürlich von allen gängigen Browsern aus erreichbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-generelle-voraussetzungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Nutzungsvoraussetzungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Voraussetzung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozessor</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2 x 2 GHz<br>
Bei Rechnern mit Windows-Betriebssystem mindestens Intel Core 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Arbeitsspeicher</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">8 GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Monitorauflösung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1920 x 1080</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internetverbindung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Permanente Verbindung<br>
<strong><em>Hinweis:</em></strong> Die Bandbreite sollte immer im Verhältnis zur Anzahl der Nutzer stehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebssystem</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>64-Bit</p>
</li>
<li>
<p>Windows 7 und höher</p>
</li>
<li>
<p>Mac OS X 10.10 und höher</p>
</li>
<li>
<p>Linux</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du andere Betriebssysteme, Server-Betriebssysteme oder virtuelle Maschinen nutzt, sind Einschränkungen möglich.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Browser</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="http://www.google.com/chrome/" target="_blank" rel="noopener">Google Chrome</a> Version 46 oder höher</p>
</li>
<li>
<p><a href="http://www.mozilla.com/" target="_blank" rel="noopener">Mozilla Firefox</a> Version 43 oder höher</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Die Browser-Voraussetzungen gelten nicht für Deine Kunden. Deine Kunden können jederzeit mit einem W3C-konformen Browser in Deinem Shop einkaufen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">2. Probleme beheben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du Probleme bei der Nutzung von plentymarkets hast, können folgende Punkte Ursache dafür sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Dein Browser ist nicht aktuell. Prüfe die Version Deines Browsers und ob es eine neuere Version gibt.</p>
</li>
<li>
<p>Deine CPU ist ausgelastet. Wenn deine CPU durch den Regelbetrieb bereits voll ausgelastet ist, schließe nicht benötigte Programme.</p>
</li>
<li>
<p>Dein Arbeitsspeicher ist zu klein. Prüfe die Größe deines Arbeitsspeichers. Wir empfehlen eine Mindestgröße von 8 GB.</p>
</li>
<li>
<p>Deine Java-Version ist nicht aktuell. Prüfe die installierte Java-Version und ob es eine neuere Version gibt. Installiere die aktuelle Version.</p>
</li>
<li>
<p>Deine Festplatte ist zu mehr als 70% mit Daten belegt und wurde seit Jahren nicht mehr ausgetauscht. Je nach Betriebssystem und Qualität der Hardware sind ab einer Laufzeit von mehr als zwei Jahren deutliche Leistungseinbußen feststellbar. Lösche unnötige Dateien oder setze das System direkt neu auf. Eine aktuelle und leistungsfähige Festplatte/SSD wäre ebenfalls eine kostengünstige Option.</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Hier geht es zur Startseite des <a href="/schnelleinstieg/schnelleinstieg-schnell-durchstarten">Schnelleinstiegs</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. plentymarkets App nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die plentymarkets App bietet umfassende Funktionen für das Abrufen von Kennzahlen sowie für die Kunden-, Artikel- und Auftragssuche. Für diese Funktionen benötigst du ein mobiles Android- oder iOS-Gerät. Die plentymarkets App stellt außerdem Funktionen für die mobile Warenwirtschaft sowie das Kassensystem plentymarkets POS bereit. Hier erfährst du, welche Hardware du benötigst, um diese Funktionen zu nutzen.</p>
</div>
<div class="paragraph">
<p>Die kostenlose plentymarkets App ist bei Google Play und iTunes erhältlich. Installiere die App auf allen mobilen Endgeräten, die du mit der App nutzen möchtest.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=de" target="_blank" rel="noopener">plentymarkets App bei Google Play</a></p>
</li>
<li>
<p><a href="https://itunes.apple.com/de/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets App bei iTunes</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="300">3.1. Geschäftsdaten mit der plentymarkets App verwalten</h3>
<div class="paragraph">
<p>Wenn du die plentymarkets App nur nutzen möchtest, um Geschäftsdaten zu verwalten, also nicht um Kasse zu betreiben oder Warenbestände zu verwalten, benötigst du lediglich ein mobiles Android- oder iOS-Gerät. In <a href="#tabelle-voraussetzungen-kennzahlen">Tabelle 2</a> werden die Hardware-Voraussetzungen für die plentymarkets App zum Abrufen von Kennzahlen und Geschäftsdaten erläutert.</p>
</div>
<table id="tabelle-voraussetzungen-kennzahlen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Geschäftsdaten mit der plentymarkets App verwalten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Gerätetyp</th>
<th class="tableblock halign-left valign-top">Anforderungen</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Android-Geräte</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">OS-Version 4.2.2 oder höher</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">iOS-Geräte</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version 8 oder höher</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">3.2. Warenbestand mit der plentymarkets App verwalten</h3>
<div class="paragraph">
<p>Wenn du die plentymarkets App für die Warenwirtschaft im Lager nutzen möchtest, empfehlen wir die in <a href="#tabelle-voraussetzungen-warenwirtschaft">Tabelle 3</a> aufgeführte Hardware.</p>
</div>
<table id="tabelle-voraussetzungen-warenwirtschaft" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Warenwirtschaft mit der plentymarkets App</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Hardware</th>
<th class="tableblock halign-left valign-top">Bezugsquelle</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">M3 SM10 Mobile Computer<br>
(Android 5.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE" target="_blank" rel="noopener">www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Tel.: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Honeywell Dolphin 75e<br>
(Android 4.4.4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.globos.de/produkte/honeywell-dolphin-75e-mobilecomputer" target="_blank" rel="noopener">www.globos.de/produkte/honeywell-dolphin-75e-mobilecomputer</a></p>
<p class="tableblock">GLOBOS Logistik- und Informationssysteme GmbH<br>
Ahrensburger Straße 1<br>
30659 Hannover<br>
<a href="mailto:vertrieb@globos.de">vertrieb@globos.de</a><br>
Tel.: +49 (511) 76920-0<br>
Fax: +49 (511) 76920-250<br>
<a href="http://www.globos.de" target="_blank" rel="noopener">www.globos.de</a></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">3.3. Kassensystem plentymarkets POS nutzen</h3>
<div class="paragraph">
<p>Das <a href="/pos">Kassensystem plentymarkets POS</a> wird über die plentymarkets App bereitgestellt. Beachte jedoch, dass für den Einsatz von plentymarkets POS zusätzliche Hardware-Voraussetzungen bestehen. plentymarkets POS unterstützt die in <a href="#tabelle-voraussetzungen-kasse">Tabelle 4</a> aufgeführte Hardware. Die Tabelle führt außerdem die Geräte auf, auf denen plentymarkets neue Releases vor der Veröffentlichung testet.</p>
</div>
<table id="tabelle-voraussetzungen-kasse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Unterstützte Hardware für plentymarkets POS</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Gerätetyp</th>
<th class="tableblock halign-left valign-top">Allgemeine Anforderungen</th>
<th class="tableblock halign-left valign-top">Getestete Geräte</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebssysteme</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Android-Geräte mit OS-Version ab 4.2.2, ARM Prozessor und den Geräteklassen Small, Normal, Large und X-Large. Die DPI-Zahl eines mobilen Geräts kann z.B. <a href="http://dpi.lv/" target="_blank" rel="noopener">hier</a> ermittelt werden.</p>
</li>
<li>
<p>iOS-Geräte (iPad, iPhone, iPod) mit OS-Version ab 8<br>
→ Bei iOS-Geräten gibt es Einschränkungen beim Scannen mit Bluetooth-Scannern.<br>
→ Kassen mit Standort Österreich können nur auf Android-Geräten betrieben werden.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bei jedem regulären Release</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Elo Touch Solutions I-Series 15I1 - E021201</p>
</li>
<li>
<p>Advantech UPOS-211 sundsits Edition</p>
</li>
<li>
<p>Honeywell Dolphin 75e (Android 4.4.4)</p>
</li>
<li>
<p>M3 SM10 (Android 5.1)</p>
</li>
<li>
<p>Samsung Galaxy Tab A 6 - SM-T580</p>
</li>
<li>
<p>Apple iPad Air 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Regelmäßig</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy Tab A - SM-T555</p>
</li>
<li>
<p>Samsung Galaxy Tab 4 - SM-T530</p>
</li>
<li>
<p>Apple iPad Mini Retina</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Punktuell</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy S4</p>
</li>
<li>
<p>Apple iPhone 6</p>
</li>
<li>
<p>Apple iPad Mini</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bondrucker</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>ePos-Print API</p>
</li>
<li>
<p>Drucker muss über LAN oder WLAN verfügen</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON TM-M30</p>
</li>
<li>
<p>EPSON TM-T88V-i (QR-Code-Druck)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scanner</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Scanner muss über USB oder Bluetooth verfügen</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Inateck BCST-10 (Bluetooth)</p>
</li>
<li>
<p>Albasca USB Handscanner MK-1000 (ungetestet aber bei mehreren Kunden erfolgreich im Einsatz)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundendisplays</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Nur mit Belegdrucker EPSON TM-M30 einsetzbar</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON DM-D30</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karten-Terminals</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Nur in Verbindung mit Payment-Provider-Vertrag</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Ingenico iPP480 mit Drucker (Betriebsart <strong>ZVT</strong>, Verbindungsart <strong>TCP/IP</strong>) - Anbindung über <a href="https://marketplace.plentymarkets.com/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">Ingenico ZVT-Plugin</a></p>
</li>
<li>
<p>Verifone H5000 mit Drucker (Betriebsart <strong>ZVT</strong>, Verbindungsart <strong>TCP/IP</strong>) - Anbindung über <a href="https://marketplace.plentymarkets.com/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT-Plugin</a></p>
</li>
<li>
<p>CCV VX 680 mit Drucker (Betriebsart <strong>ZVT</strong>, Verbindungsart <strong>TCP/IP</strong>) - Anbindung über <a href="https://marketplace.plentymarkets.com/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT-Plugin</a></p>
</li>
<li>
<p>SumUp Air - Anbindung über <a href="https://marketplace.plentymarkets.com/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp-Plugin</a><br>
<strong><em>Hinweis:</em></strong> Für SumUp-Anbindung Ortung (Positionsbestimmung) auf dem mobilen Gerät aktivieren, auf dem die plentymarkets App installiert ist.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Fragen stellen oder Probleme melden kannst du jederzeit im <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">Forum</a>.</p>
</div>
</div>
</div>
</div>
</main>