<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Standard-Mandanten einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#40"><span>1.2.</span><span> Sprachpakete bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#60"><span>2.</span><span> Weitere Mandanten verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>2.1.</span><span> Weitere Mandanten buchen</span></a></li>
<li><a href="#90"><span>2.2.</span><span> Weitere Mandanten einrichten</span></a></li>
<li><a href="#110"><span>2.3.</span><span> Artikel auf Mandanten verteilen</span></a></li>
<li><a href="#130"><span>2.4.</span><span> Mehrere Mandanten mit einem Webshop verknüpfen</span></a></li>
<li><a href="#150"><span>2.5.</span><span> Mandanten kündigen</span></a></li>
</ul>
</li>
<li><a href="#160"><span>3.</span><span> Standorte verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#170"><span>3.1.</span><span> Neuen Standort anlegen</span></a></li>
<li><a href="#190"><span>3.2.</span><span> Standort einrichten</span></a></li>
<li><a href="#200"><span>3.3.</span><span> Standort löschen</span></a></li>
</ul>
</li>
<li><a href="#220"><span>4.</span><span> Verbindungen zu anderen Menüs</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Mandanten verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen&nbsp;» Mandant (Shop)</strong> verwalten Sie Ihren <a href="#10"><strong>Standard-Mandanten</strong></a> sowie zusätzliche Mandanten (Shops). Hier verknüpfen Sie zudem mehrere <a href="/omni-channel/online-shop/mandanten-einrichten/webshop"><strong>Webshops</strong></a> mit einem Backoffice/Administrationsbereich. Mit dieser Funktionalität können Sie <a href="#60"><strong>weitere Mandanten (Shops)</strong></a> parallel zu Ihrem Standard-Webshop einrichten. In einem plentymarkets System können bis zu 30 eigenständige Mandanten (Shops) eingerichtet und verwaltet werden. Mandanten sind datentechnisch geschlossene, eigenständige Systeme. Es ist somit möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Standard-Mandanten einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Standard</strong> speichern Sie verschiedene Einstellungen für Ihren <a href="/omni-channel/online-shop/mandanten-einrichten/webshop"><strong>Webshop</strong></a> und richten den <a href="/crm/e-mails-versenden#700"><strong>E-Mail-Dienst</strong></a> für den Standard-Mandanten ein. Des Weiteren finden Sie in diesem Menü die Einstellungen zur <a href="/omni-channel/online-shop/cms-syntax#fallbeispiele-seo-guide"><strong>Suchmaschinenoptimierung</strong></a>, mit denen Sie Ihren Webshop im Internet optimal auffindbar machen. Darüber hinaus richten Sie die Anzeige von <a href="/artikel/kategorien"><strong>Kategorien</strong></a>, den <a href="/omni-channel/online-shop/webshop-einrichten/mein-konto"><strong>Mein Konto</strong></a>-Bereich und den <a href="/omni-channel/online-shop/webshop-einrichten/bestellvorgang"><strong>Bestellvorgang</strong></a> Ihres Webshops ein. Auch Informationen zu den Grundeinstellungen Ihrer <a href="/omni-channel/online-shop/webshop-einrichten/artikelansichten"><strong>Artikelansichten</strong></a> finden Sie hier.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Grundeinstellungen vornehmen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Standard&nbsp;» Grundeinstellungen</strong> werden die IDs Ihres Webshops angezeigt sowie weitere Grunddaten wie der Webstore-Typ und die Domain. Nehmen Sie die Einstellungen wie folgt vor.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Benutzer werden ausgeloggt</div>
<div class="paragraph">
<p>Wenn Sie in diesem Menü Änderungen vornehmen, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündigen Sie Änderungen daher ggf. weiteren Benutzern an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="30" class="paragraph instruction">
<p>Grundeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Standard&nbsp;» Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Grundeinstellungen vornehmen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Webstore-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Webstore-ID ist die ID eines Webshops bzw. Mandanten. Ein externer Shop erhält ebenfalls eine Webstore-ID. Diese ID ist eindeutig und nicht änderbar.<br>
Standard-Webshop = <strong>0</strong><br>
Erster Mandant (Shop) = <strong>1</strong><br>
Zweiter Mandant (Shop) = <strong>2</strong><br>
usw.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>plenty-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die ID des plentymarkets Systems. Diese ID ist eindeutig.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Webstore-Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Typ des Webshops, z.B. <strong>plentymarkets</strong> oder <strong>Shopware</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Domain</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die URL der <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#domain"><strong>Domain</strong></a> des Mandanten (Shops). Eine Domain bezeichnet in der Regel eine Internetadresse in Form eines Namens sowie einer Erweiterung, d.h. der Top Level Domain, beides getrennt durch einen Punkt. Wenn ein <a href="/basics/arbeiten-mit-plentymarkets/plentymarkets-konto#ssl-zertifikat"><strong>SSL-Zertifikat</strong></a> angelegt wurde, wird die URL des Mandanten mit <strong>https</strong> statt <strong>http</strong> angezeigt. Über das <strong>Auge</strong> wird der Webshop geöffnet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Name des Webshops. Der Name ist änderbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard-Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Standardsprache des Webshops wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard-Standort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Den Standort wählen, der als Standard gelten soll. Dieser wird dann z.B. auch im Bestellvorgang im Webshop verwendet, was u.a. die Anzeige der MwSt. beeinflusst. Der gewählte Standard-Standort ist nicht löschbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay-Konto</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein oder mehrere eBay-Konten wählen (Mehrfachauswahl mit <strong>Strg bzw. cmd + Mausklick</strong>), die unter <a href="/omni-channel/multi-channel/ebay#65"><strong>Einstellungen&nbsp;» Märkte&nbsp;» eBay&nbsp;» Konten</strong></a> eingerichtet wurden. Diese Konten werden mit dem Shop verknüpft. Die Aufträge verknüpfter eBay-Konten werden automatisch diesem Shop zugeordnet.<br>
<strong><em>Wichtig</em></strong>: Wenn ein eBay-Konto mit zwei verschiedenen Shops verknüpft wird, werden die Aufträge des Kontos dem Shop mit der niedrigeren ID zugeordnet.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="40">1.2. Sprachpakete bearbeiten</h3>
<div class="paragraph">
<p>Sprachpakete enthalten die vom System verwendeten Begriffe und Texte, die vorgegeben sind und automatisch im jeweiligen Bereich eingesetzt werden, z.B. <strong>Kategorie wählen</strong> oder <strong>In den Warenkorb</strong>. Sie haben die Möglichkeit, die vom System verwendeten Texte des Bestellvorgangs sowie des <strong>Mein Konto</strong>-Bereichs anzupassen. Sie können an den Standardübersetzungen der folgenden vier Textbereiche Änderungen vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Allgemeine Texte</p>
</li>
<li>
<p>Hinweise</p>
</li>
<li>
<p>Fehlermeldungen</p>
</li>
<li>
<p>Warnungen</p>
</li>
</ul>
</div>
<div id="50" class="paragraph instruction">
<p>Texte der Sprachpakete bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Globale Einstellungen&nbsp;» Sprachpakete</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Sprache</strong> ein Sprachpaket.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Bereich</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die <strong>Lupe</strong>.<br>
→ Die Liste der <strong>Texte</strong> wird angezeigt.</p>
</li>
<li>
<p>Bearbeiten Sie die Texte in der Spalte <strong>Eigene Übersetzung</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">2. Weitere Mandanten verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Nutzung weiterer Mandanten (Shops) bietet sich an, wenn sehr verschiedenartige Produktbereiche über unterschiedliche Domains und Webshops angeboten werden sollen. Die Verwaltung der Aufträge und Artikel läuft dabei über ein zentrales System. Für die einzelnen Webshops kann bestimmt werden, welches Design angezeigt werden soll und welche Artikel angeboten werden sollen. Die Abwicklung der Aufträge inklusive Rechnungsdruck und E-Mail-Service läuft zentral über ein System. Es ist dabei eine Unterscheidung der <a href="/auftragsabwicklung/auftraege/auftragsdokumente#200"><strong>Nummernkreise</strong></a> pro Mandant (Shop) und pro Lieferland möglich.</p>
</div>
<div class="sect2">
<h3 id="70">2.1. Weitere Mandanten buchen</h3>
<div class="paragraph">
<p>Buchen Sie einen oder mehrere zusätzliche Mandanten im Service-Center.</p>
</div>
<div id="80" class="paragraph instruction">
<p>Weitere Mandanten buchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start&nbsp;» plentymarkets Konto: Service-Center</strong>.<br>
→ Der <strong>Mein Konto</strong>-Bereich wird geöffnet.</p>
</li>
<li>
<p>Klappen Sie das System auf, für das Sie weitere Mandanten buchen möchten.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Vertrag</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Zum Systemkonfigurator</strong>.</p>
</li>
<li>
<p>Fügen Sie im Bereich <strong>Online-Shop</strong> einen oder mehrere Mandanten hinzu.</p>
</li>
<li>
<p>Nehmen Sie ggf. weitere Änderungen an Ihrem System vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Weiter</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bestellschritt <strong>Ihr System</strong> auf <strong>Systemänderungen bestellen</strong>.<br>
→ Der neue Mandant (Shop) wird gebucht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">2.2. Weitere Mandanten einrichten</h3>
<div class="paragraph">
<p>Nachdem ein weiterer Mandant (Shop) im Service-Center gebucht wurde, nehmen Sie die Einstellungen unter <strong>Einstellungen&nbsp;» Mandant (Shop)</strong> im Menü des Mandanten vor. Die Einstellungsmöglichkeiten entsprechen weitgehend den Einstellungen des Standard-Webshops. Beachten Sie daher die Erläuterungen im Kapitel <a href="#10"><strong>Standard-Mandanten einrichten</strong></a>. In der folgenden Tabelle finden Sie Informationen zu den Einstellungen, die sich von den Webshop-Standardeinstellungen unterscheiden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Menübezeichnung</div>
<div class="paragraph">
<p>Jeder weitere Webshop bzw. Mandant (Shop) wird in einer eigenen Menüstruktur unterhalb des Menüs <strong>Einstellungen&nbsp;» Mandant (Shop)</strong> eingerichtet. Das Menü erhält dabei den Namen des Webshops und wird bei Änderungen automatisch angepasst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="100" class="paragraph instruction">
<p>Weitere Mandanten einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Shop wählen&nbsp;» Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in den Tabellen 1 und 2.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Individuelle Einstellungen für Mandanten (Shops)</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Menü <a href="/omni-channel/online-shop/webshop-einrichten#infoseiten"><strong>Webshop&nbsp;» Seiten</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite Bankdaten</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, welche Seite die <a href="/auftragsabwicklung/payment/bankdaten-verwalten"><strong>Bankdaten</strong></a> enthält. Diese Seite wird als Teil der Bestellbestätigung im Webshop angezeigt.<br>
<strong><em>Wichtig:</em></strong> Wird diese Einstellung verwendet, unter <a href="/auftragsabwicklung/payment/zahlungsarten-verwalten"><strong>Einstellungen&nbsp;» Aufträge&nbsp;» Zahlung&nbsp;» Zahlungsarten</strong></a> bei den Zahlungsarten <strong>Rechnung</strong> und <strong>Vorkasse</strong> die Option <strong>Bankdaten anzeigen</strong> aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Menü <a href="/omni-channel/online-shop/webshop-einrichten/bestellvorgang"><strong>Bestellvorgang&nbsp;» Grundeinstellungen</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standardlieferland als Firmensitz verwenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ja</strong> wählen, wenn die steuerbezogenen Einstellungen, z.B. die MwSt., im System an das eingestellte Standardlieferland angepasst werden sollen.<br>
<strong><em>Wichtig:</em></strong> Für das Standardlieferland müssen im Menü <a href="/auftragsabwicklung/auftraege/buchhaltung"><strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Mandant öffnen&nbsp;» Buchhaltung</strong></a> Steuersätze hinterlegt sein.<br>
<strong><em>Beispiel</em></strong>: Ein Händler mit Sitz in Deutschland hat viele Kunden in Frankreich und richtet für diesen Markt einen Mandanten (Shop) ein. Er wählt <strong>Frankreich</strong> als <strong>Standardlieferland</strong>. Mit der Einstellung <strong>Ja</strong> bei <strong>Standardlieferland als Firmensitz verwenden</strong> wird nun Frankreich als <strong>Systemland</strong> für diesen Mandanten übernommen. Alle damit verbundenen Prozesse werden jetzt behandelt, als würde sich der Firmensitz in Frankreich befinden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Menü <a href="/crm/e-mails-versenden"><strong>E-Mail</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Einstellungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Soll für einen Mandanten (Shop) eine gegenüber dem Webshop abweichende E-Mail-Konfiguration verwendet werden, diese im Untermenü <a href="/crm/e-mails-versenden"><strong>E-Mail</strong></a> einrichten. Wenn das gleiche Konto verwendet werden soll, die Einstellungen des Standard-Webshops übernehmen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="110">2.3. Artikel auf Mandanten verteilen</h3>
<div class="paragraph">
<p>Welche Artikel in welchem Mandanten (Shop) angeboten werden, steuern Sie über die Verknüpfung mit Kategorien. In jedem Mandanten werden nur die Kategorien angezeigt, die im Menü <a href="/artikel/artikel-verwalten#230"><strong>Artikel&nbsp;» Kategorien</strong></a> für diesen Mandanten aktiviert werden.</p>
</div>
<div id="120" class="paragraph instruction">
<p>Kategorien aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel&nbsp;» Kategorien</strong>.</p>
</li>
<li>
<p>Öffnen Sie die Kategorie, die Sie für einen oder mehrere Mandanten (Shops) aktivieren möchten.</p>
</li>
<li>
<p>Markieren Sie die Mandanten (Shops), in denen Sie Artikel dieser Kategorie anbieten möchten.</p>
</li>
<li>
<p>Wählen Sie ggf. die Option <strong>Sichtbarkeit auf Unterkategorien übertragen</strong>, um die Auswahl auf alle Unterkategorien der Kategorie zu übertragen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Kategorie ist in den gewählten Mandanten (Shops) sichtbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wie Sie die Verfügbarkeit und Sichtbarkeit von Artikel einstellen, erfahren Sie unter <a href="/artikel/artikel-verwalten#230"><strong>Verfügbarkeit von Varianten einstellen</strong></a>. Erfahren Sie mehr zur Verknüpfung von Artikeln mit Kategorien im folgenden Video-Tutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-3147/" target="_blank" rel="noopener">Artikel mit Kategorien verknüpfen</a></p>
</div>
</div>
<div class="sect2">
<h3 id="130">2.4. Mehrere Mandanten mit einem Webshop verknüpfen</h3>
<div class="paragraph">
<p>Die Verteilung der Kategorien auf mehrere Mandanten kann auch angewendet werden, wenn nur ein Webshop eingerichtet ist. Dieses Verfahren ist empfehlenswert, wenn ein Artikelkategoriebaum mit der Zeit stark angewachsen ist und der Webshop-Kunde den Überblick verlieren könnte. Mithilfe der Mandanten kann schnell eine weitere Kategorieebene eingefügt werden, um so den Kategoriebaum übersichtlicher zu gestalten.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mandanten mit Webshop verknüpfen</div>
<div class="paragraph">
<p>Legen Sie Mandanten nach Themen sortiert an. Aktivieren Sie dann die Kategorien je nach gewünschtem Sortiment des Shops. Pro Shop werden nur die Kategorien des Mandanten angezeigt, die im Menü <strong><a href="/artikel/kategorien/kategorien-bearbeiten#2">Artikel&nbsp;» Kategorien</a></strong> gewählt wurden. Zusätzlich zur Standard-Kategorienavigation (Bild 1, lila Pfeil) wird das <strong><a href="/omni-channel/online-shop/cms#webdesign">Webshop-Design</a></strong> um eine weitere Navigation, beispielsweise am Seitenkopf, erweitert (Bild 1, grüner Pfeil). Dort werden die Mandanten verlinkt. Die Navigationsleiste zu den einzelnen Mandanten ist in diesem Fall über die Template-Funktion <strong>Link_Store(X)</strong> verfügbar. Anstelle des X geben Sie die ID des Shops an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Sind die Webshops mittels Link (Banner) miteinander verknüpft, bleibt der Warenkorb beim Sprung von einem in den anderen Webshop erhalten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/DE-Einstellungen-Mandant-Shop-02.png" alt="DE Einstellungen Mandant Shop 02">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Zusätzliche Navigationsleiste im Webshop (grüner Pfeil)</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>Bild 1 zeigt ein Beispiel für einen Webshop (schwitzen.com), mit dem ein Mandant (organicum.de) verknüpft wurde. In der Navigationsleiste oben ist der Mandant (Shop) organicum.de verlinkt. Angenommen, dieser Mandant (Shop) hat im plentymarkets Backend die ID 2. Der Link zu organicum.de sieht im Design dann wie folgt aus: <strong>&lt;a href="&#123;&#37; Link_Store(2) &#37;&#125;"&gt;organicum.de&lt;/a&gt;</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="150">2.5. Mandanten kündigen</h3>
<div class="paragraph">
<p>Nicht mehr benötigte Mandanten kündigen Sie im Service-Center von plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Daten bei Kündigung sichern</div>
<div class="paragraph">
<p>Sichern Sie die Daten eines Mandanten, die Sie noch benötigen, bevor Sie den Mandanten kündigen. Mandantenabhängige Daten, die später noch genutzt werden sollen, z.B. Scheduler oder Aufträge, sichern Sie durch die Zuordnung zu einem anderen vorhandenen Mandanten. Umsätze sichern Sie durch einen Umsatzexport, Layouts und sonstige Daten durch einen dynamischen Export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="155" class="paragraph instruction">
<p>Mandanten kündigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Start&nbsp;» plentymarkets Konto: Service-Center</strong>.<br>
→ Der <strong>Mein Konto</strong>-Bereich wird geöffnet.</p>
</li>
<li>
<p>Klappen Sie das System auf, für das Sie Mandanten kündigen möchten.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Mandant (Shop)</strong>.</p>
</li>
<li>
<p>Kündigen Sie den Mandanten.</p>
</li>
<li>
<p>Kündigen Sie ggf. die Domain des Mandanten.</p>
</li>
<li>
<p>Bestätigen Sie die Kündigung.<br>
→ Sie erhalten umgehend eine Bestätigung der Kündigung.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="160">3. Standorte verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird die Einrichtung von Standorten mit den Buchhaltungseinstellungen beschrieben, die im Menü <strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Shop wählen&nbsp;» Standorte</strong> vorgenommen werden. Die <a href="/auftragsabwicklung/auftraege/buchhaltung"><strong>Buchhaltung</strong></a> in plentymarkets ist für Mandanten nach Standorten getrennt möglich. Damit können Sie pro Mandant mehrere Firmensitze in verschiedenen Ländern verwalten. Jeder Mandant hat standardmäßig mindestens einen Standort, und zwar den Standort des Firmensitzes des Unternehmens. Das zugehörige Menü ist das erste unter <strong>Standorte</strong> und trägt die Bezeichnung des Landes des Standortes, z.B. Deutschland.</p>
</div>
<div class="paragraph">
<p>Die Konfiguration gliedert sich pro Mandant und pro Standort in die Untermenüs <strong>Einstellungen</strong> und <a href="/auftragsabwicklung/auftraege/buchhaltung"><strong>Buchhaltung</strong></a>. Für jeden neuen Standort kann die Buchhaltung individuell konfiguriert werden.</p>
</div>
<div class="sect2">
<h3 id="170">3.1. Neuen Standort anlegen</h3>
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um einen neuen Standort anzulegen.</p>
</div>
<div id="180" class="paragraph instruction">
<p>Neuen Standort anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Shop wählen&nbsp;» Standorte</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit dem Cursor auf den Menüpunkt <strong>Standorte</strong>.<br>
→ Rechts wird ein Pfeil eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf den <strong>Pfeil</strong>.<br>
→ Die Option <strong>Neuer Standort</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Standort</strong>.<br>
→ Ein Bearbeitungsfenster wird angezeigt.</p>
</li>
<li>
<p>Geben Sie den <strong>Namen</strong> des neuen Standorts ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Land</strong> des neuen Standorts.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">3.2. Standort einrichten</h3>
<div class="paragraph">
<p>Für jeden Standort ist ein Untermenü <strong>Einstellungen</strong> verfügbar, in dem Sie den Namen des Standorts ändern oder den Standort löschen können. Um Fehler zu vermeiden, ist das Land eines Standorts nicht änderbar. Legen Sie daher einen neuen Standort an, wenn sich das Land eines Standorts ändert. Ein Standort, in der Regel der Firmensitz des Unternehmens, wird im Menü <a href="#20"><strong>Grundeinstellungen</strong></a> als <strong>Standard-Standort</strong> festgelegt.</p>
</div>
</div>
<div class="sect2">
<h3 id="200">3.3. Standort löschen</h3>
<div class="paragraph">
<p>Sie können einen Standort nur löschen, wenn ein weiterer Standort vorhanden ist. Ein Standort, der im Menü <a href="#20"><strong>Grundeinstellungen</strong></a> als <strong>Standard-Standort</strong> hinterlegt ist, kann nicht gelöscht werden.</p>
</div>
<div id="210" class="paragraph instruction">
<p>Standort löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen&nbsp;» Mandant (Shop)&nbsp;» Shop wählen&nbsp;» Standorte</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Untermenü <strong>Einstellungen</strong> des zu löschenden Standorts.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Der Standort wird nach einer Sicherheitsabfrage gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="220">4. Verbindungen zu anderen Menüs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Arbeit mit dem <a href="/crm/ticketsystem-nutzen"><strong>Ticketsystem</strong></a> bzw. für das Versenden eines <a href="/crm/newsletter-versenden"><strong>Newsletters</strong></a> müssen Sie Ihre Konfigurationen im Bereich <a href="/crm/e-mails-versenden"><strong>E-Mail</strong></a> hinterlegt haben. Darüber hinaus legen Sie mit den Einstellungen im Bereich Artikelansichten den Grundstein für die Verwaltung Ihrer <a href="/artikel/artikel-verwalten"><strong>Artikel</strong></a>.</p>
</div>
<div class="paragraph">
<p>Wichtige Seiten zum Thema direkt aufrufen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten#rechtliche-angaben"><strong>Rechtliche Angaben</strong></a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#100"><strong>Zugangsdaten</strong></a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#1200"><strong>E-Mail-Vorlagen</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/artikelansichten"><strong>Artikelansichten</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/cms-syntax#40"><strong>URL-Aufbau</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/cms-syntax#120120"><strong>sitemap-XML</strong></a></p>
</li>
<li>
<p><a href="/artikel/kategorien"><strong>Kategorien</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/mein-konto"><strong>Mein Konto</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/bestellvorgang"><strong>Bestellvorgang</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/extras"><strong>Extras</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/extras/trusted-shops"><strong>Trusted Shops</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/module"><strong>Module</strong></a></p>
</li>
</ul>
</div>
</div>
</div>
</main>