<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_inhalt_dieses_kapitels"><span>1.</span><span> Inhalt dieses Kapitels</span></a></li>
<li><a href="#grundeinstellungen"><span>2.</span><span> Grundeinstellungen</span></a></li>
<li><a href="#_konfiguration"><span>3.</span><span> Konfiguration</span></a></li>
<li><a href="#_verbindungen_zu_anderen_menüs"><span>4.</span><span> Verbindungen zu anderen Menüs</span></a></li>
<li><a href="#_video_tutorials"><span>5.</span><span> Video-Tutorials</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Mandanten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Standard</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhalt_dieses_kapitels">1. Inhalt dieses Kapitels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel finden Sie die verschiedenen Grundeinstellungen zur Konfiguration Ihres <strong><a href="/omni-channel/online-shop/mandanten-einrichten/webshop">Webshops</a></strong>. Neben der Konfiguration des <strong><a href="/crm/e-mails-versenden#700">E-Mail-Dienstes</a></strong> können Sie hier verschiedene Einstellungen zu Ihrem Standard-Webshop hinterlegen. Von besonderer Bedeutung sind in diesem Kapitel die Einstellungen zur <strong><a href="/omni-channel/online-shop/cms-syntax#fallbeispiele-seo-guide">Suchmaschinenoptimierung</a></strong>, mit denen Sie Ihren Webshop im Internet optimal auffindbar machen. Darüber hinaus werden in diesem Kapitel Grundeinstellungen zur Verwendung von <strong><a href="/artikel/kategorien">Kategorien</a></strong> sowie zum <strong><a href="/omni-channel/online-shop/mandanten-einrichten/mein-konto">Mein Konto</a></strong>-Bereich und zum <strong><a href="/omni-channel/online-shop/mandanten-einrichten/bestellvorgang">Bestellvorgang</a></strong> erläutert. Auch Informationen zu den Grundeinstellungen Ihrer <a href="/omni-channel/online-shop/mandanten-einrichten/artikelansichten"><strong>Artikelansichten</strong></a> entnehmen Sie diesem Kapitel.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Jeder weitere Webshop bzw. Mandant (Shop) wird in einer eigenen Menüstruktur analog zu diesem Menü konfiguriert. Die Menübezeichnung wird entsprechend der Bezeichnung des Webshops automatisch vom System vorgenommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Standard » Grundeinstellungen</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="grundeinstellungen">2. Grundeinstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Menü werden die IDs Ihres Webshops angezeigt sowie weitere Grunddaten, wie der Webstore-Typ und die Domain. Der hinterlegte Name des Webshops ist hier änderbar.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Benutzer werden ausgeloggt</div>
<div class="paragraph">
<p>Wenn Sie in diesem Menü Änderungen vornehmen, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündigen Sie Änderungen daher ggf. weiteren Benutzern an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_konfiguration">3. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nehmen Sie die Konfiguration gemäß der nachfolgenden Tabelle vor.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Webstore-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Webstore-ID ist die ID des Webshop bzw. Mandant (Shop). Die Webstore-ID eines Mandant (Shop) wird in den Grundeinstellungen des betreffenden Shops angezeigt.<br>
Standard-Webshop = <strong>0</strong><br>
Erster Mandant (Shop) = <strong>1</strong><br>
Zweiter Mandant (Shop) = <strong>2</strong><br>
usw.<br>
Ein externer Shop erhält ebenfalls eine Webstore-ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>plenty-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird die ID des plentymarkets-Systems angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Webstore-Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzeige des Webstore-Typ, <strong>plentymarkets</strong> oder <strong>Shopware</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Domain</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird die URL der Domain des Webshops angezeigt. Über das <strong>Auge</strong> wird der Webshop aufgerufen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name des Webshops.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard-Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Standard-Sprache des Webshops wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard-Standort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Den Standort wählen, der als Standard gelten soll. Dieser wird dann z.B. auch im Bestellvorgang im Webshop verwendet, was u.a. die Anzeige der MwSt. beeinflusst. Ein Standort, der hier als Standard hinterlegt wird, ist nicht löschbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay-Konto</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das oder die eBay-Konten wählen, die mit diesem Shop verknüpft werden sollen. Die Aufträge dieses eBay-Kontos werden automatisch diesem Shop zugeordnet.<br>
<strong>Wichtig</strong>: Wenn dasselbe eBay-Konto bei zwei verschiedenen Shops ausgewählt werden soll, werden die Aufträge dem Shop mit der niedrigeren ID zugeordnet.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Grundeinstellungen eintragen</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_verbindungen_zu_anderen_menüs">4. Verbindungen zu anderen Menüs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Arbeit mit dem <strong><a href="/crm/ticketsystem-nutzen">Ticketsystem</a></strong> bzw. für das Versenden eines <strong><a href="/crm/newsletter-versenden">Newsletters</a></strong> müssen Sie Ihre Konfigurationen im Bereich <strong><a href="/crm/e-mails-versenden">E-Mail</a></strong> hinterlegt haben. Darüber hinaus legen Sie mit den Einstellungen im Bereich Artikelansichten den Grundstein für die Verwaltung Ihrer <strong><a href="/artikel">Artikel</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_video_tutorials">5. Video-Tutorials</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie mehr über das Menü <strong>E-Mail</strong> im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu//www.plentymarkets.eu/a-2842/" target="_blank">E-Mail-Konfiguration</a></p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum Menü <strong>Buchhaltung</strong> in plentymarkets im folgenden Video-Tutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-3345/" target="_blank">Buchhaltung</a></p>
</div>
<div class="paragraph">
<p>Wichtige Seiten zum Thema direkt aufrufen</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="/omni-channel/online-shop/mandanten-einrichten/webshop#rechtliche-angaben">Rechtliche Angaben</a></strong></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#100"><strong>Zugangsdaten</strong></a></p>
</li>
<li>
<p><strong><a href="/crm/e-mails-versenden#1200">E-Mail-Vorlagen</a></strong></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/mandanten-einrichten/artikelansichten"><strong>Artikelansichten</strong></a></p>
</li>
<li>
<p><strong><a href="/omni-channel/online-shop/cms-syntax#40">URL-Aufbau</a></strong></p>
</li>
<li>
<p><strong><a href="/omni-channel/online-shop/cms-syntax#120120">sitemap-XML</a></strong></p>
</li>
<li>
<p><a href="/artikel/kategorien"><strong>Kategorien</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/mandanten-einrichten/mein-konto"><strong>Mein Konto</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/mandanten-einrichten/bestellvorgang"><strong>Bestellvorgang</strong></a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/extras"><strong>Externe Dienste</strong></a></p>
</li>
<li>
<p><strong><a href="/omni-channel/online-shop/extras/trusted-shops">Trusted Shops</a></strong></p>
</li>
<li>
<p><strong><a href="/omni-channel/online-shop/mandanten-einrichten/module">Module</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
</main>