<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> Ceres-Startseite mit dem Shop Builder bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#_elemente_der_ceres_startseite_mit_dem_shop_builder_bearbeiten"><span>1.1.</span><span> Elemente der Ceres-Startseite mit dem Shop Builder bearbeiten</span></a></li>
</ul>
</li>
<li><a href="#_farbeinstellungen_im_shop_builder_bearbeiten"><span>2.</span><span> Farbeinstellungen im Shop Builder bearbeiten</span></a></li>
<li><a href="#_schriftart_im_shop_builder_bearbeiten"><span>3.</span><span> Schriftart im Shop Builder bearbeiten</span></a></li>
<li><a href="#_weitere_einstellungen_vornehmen"><span>4.</span><span> Weitere Einstellungen vornehmen</span></a></li>
<li><a href="#_weitere_seiten_im_shop_builder_erstellen"><span>5.</span><span> Weitere Seiten im Shop Builder erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#_seite_im_shop_builder_bearbeiten"><span>5.1.</span><span> Seite im Shop Builder bearbeiten</span></a></li>
<li><a href="#_seite_im_shop_builder_löschen"><span>5.2.</span><span> Seite im Shop Builder löschen</span></a></li>
<li><a href="#_verknüpfung_von_im_shop_builder_erstellten_seiten_zur_startseite_lösen"><span>5.3.</span><span> Verknüpfung von im Shop Builder erstellten Seiten zur Startseite lösen</span></a></li>
<li><a href="#_im_shop_builder_erstellte_seiten_mit_der_startseite_verknüpfen"><span>5.4.</span><span> Im Shop Builder erstellte Seiten mit der Startseite verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#_sprache_wählen"><span>6.</span><span> Sprache wählen</span></a></li>
<li><a href="#_mandantenvorschau_anzeigen"><span>7.</span><span> Mandantenvorschau anzeigen</span></a></li>
<li><a href="#_neue_kategorien_im_shop_builder_erstellen"><span>8.</span><span> Neue Kategorien im Shop Builder erstellen</span></a></li>
<li><a href="#_einen_header_oder_footer_im_shop_builder_erstellen"><span>9.</span><span> Einen Header oder Footer im Shop Builder erstellen</span></a></li>
<li><a href="#_den_header_global_bearbeiten"><span>10.</span><span> Den Header global bearbeiten</span></a></li>
<li><a href="#_den_footer_global_bearbeiten"><span>11.</span><span> Den Footer global bearbeiten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Shop Builder einrichten</h1><div id="preamble">
<div class="sectionbody">
<div id="10" class="paragraph">
<p>Der Shop Builder ist plentymarkets Baukastenmodul mit dem Sie Ihren <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres Webshops</a> schnell und einfach per Drag&amp;Drop erstellen und bearbeiten können. Dafür sind keinerlei Programmierungskenntnisse nötig.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Versionsvoraussetzungen für den Shop Builder</div>
<div class="paragraph">
<p>Der Shop Builder ist erst ab Version 2.8.1 von Ceres und IO verfügbar. Sollten Sie eine ältere Version benutzen, besuchen Sie den <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a>, um die jeweils aktuelle Version zu installieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Funktionsumfang des Shop Builders</div>
<div class="paragraph">
<p>Zum gegenwärtigen Zeitpunkt kann ausschließlich die Startseite Ihres Ceres Webshops über den Shop Builder bearbeitet werden. Der Funktionsumfang des Shop Builders wird nach und nach erweitert und in Zukunft wird es möglich sein, des gesamten Ceres Shop darüber zu bearbeiten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Anzeigen der mit dem Shop Builder erstellten Startseite</div>
<div class="paragraph">
<p>Beachten Sie, dass die im Shop Builder erstellte Startseite erst aktiviert werden muss. Hierzu wählen Sie unter <strong>CMS » Shop Builder&nbsp;» Übersicht&nbsp;» Einstellungen&nbsp;» Startseite</strong> die Option <strong>Shop Builder Startseite anzeigen</strong> und deaktivieren Sie die Option <strong>Standardstartseite anzeigen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. Ceres-Startseite mit dem Shop Builder bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Vorschaubereich können Sie der Startseite Elemente hinzufügen, um die Seite Ihren individuellen Bedürfnissen anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Elemente zum Vorschaubereich hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Der Shop Builder wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Startseite</strong>.<br>
→ Der Vorschaubereich der Startseite wird geöffnet.</p>
</li>
<li>
<p>Ziehen Sie per Drag&amp;Drop Elemente von der linken Seite in den Vorschaubereich. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-elemente-shop-builder">Tabelle 1</a>.<br>
→ Neue Elemente werden automatisch am unteren Ende hinzugefügt oder können in ein Strukturelement gezogen werden.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Startseite Ihres Webshops wird mit den gewählten Elementen dargestellt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Der Shop Builder beinhaltet Strukturelemente, die das Layout der Seite gliedern und sogenannte Widgets, also verschiedenen Seitenelementen, mit denen die Strukturelemente befüllt werden können. Die folgende Tabelle erklärt diese Elemente im Detail:</p>
</div>
<table id="tabelle-elemente-shop-builder" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Elemente des Shop Builders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Struktur-Elemente</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2 Felder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt ein Strukturelement mit 2 Feldern zur Verfügung, die mit den unten aufgeführten Widgets befüllt werden können. Klicken Sie auf <strong>Bearbeiten</strong>, um das Layout des Elements zu ändern. Wählen Sie aus der Dropdown-Liste <strong>Layout</strong> das gewünschte Größenverhältnis der Felder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3 Felder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt ein Strukturelement mit 3 Feldern zur Verfügung, die mit den unten aufgeführten Widgets befüllt werden können. Klicken Sie auf <strong>Bearbeiten</strong>, um das Layout des Elements zu ändern. Wählen Sie aus der Dropdown-Liste <strong>Layout</strong> das gewünschte Größenverhältnis der Felder. Bei <strong>gestapelten</strong> Verhältnissen werden 2 Felder übereinander angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>4 Felder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt ein Strukturelement mit 4 Feldern zur Verfügung, die mit den unten aufgeführten Widgets befüllt werden können. Das Größenverhältnis der Felder ist nicht anpassbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Widgets</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titelleiste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Widget stellt eine Textbox zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um Text einzugeben und die <a href="#616">Farbe</a> der Titelleiste zu ändern. Es kann nur Reintext verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bilderkarussell</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt das Ceres-Bilderkarussell zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um Bilder hinzuzufügen oder zu entfernen. Bilder können über die Kategorieauswahl, die Eingabe der Varianten-ID oder die Dateiauswahl gewählt werden. Wenn das Bild über die Kategorieauswahl bestimmt wird, wird das erste im Tab Dokumente abgelegte Bild der Kategorie verwendet. Bestimmen Sie über die Dropdown-Liste <strong>Erscheinungsbild</strong> die <a href="#616">Farbe</a> des Bilderkarussells.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bilderbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt einen Container für Bilder zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um Bilder hinzuzufügen oder zu entfernen. Bilder können über die Kategorieauswahl, die Eingabe der Varianten-ID oder die Dateiauswahl gewählt werden. Wenn das Bild über die Kategorieauswahl bestimmt wird, wird das erste im Tab Dokumente abgelegte Bild der Kategorie verwendet. Bestimmen Sie über die Dropdown-Liste <strong>Erscheinungsbild</strong> die <a href="#616">Farbe</a> der Bilderbox. Über die Dropdown-Listen <strong>Stil der Box</strong> und <strong>Größe des Bilds</strong> passen Sie das Widget hinsichtlich Text- und Bildgröße an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die <a href="/omni-channel/online-shop/ceres-einrichten#110">Ceres Artikelliste</a> zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um Bilder hinzuzufügen oder zu entfernen. Für die Startseite können Artikellisten mit Kategorieartikeln, zuletzt angesehenen Artikeln oder über Tags definierte Artikellisten konfiguriert werden. Bestimmen Sie die Art der Sortierung über die <strong>Artikelsortierung</strong> Dropdown-Liste und legen Sie die <strong>Maximale Anzahl der angezeigten Artikel</strong> fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Textbox zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um Text einzugeben und die <a href="#616">Farbe</a> der Textbox zu ändern. Im Texteditor kann Reintext und, nach Klick auf <strong>&lt;/&gt;</strong>, auch HTML eingegeben werden. Es ist nicht möglich, CSS in diesem Widget einzubinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Top Bar</strong> (Header)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Top Bar zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um die Einstellungen vorzunehmen und die Anzeige der Elemente, der Suche oder der Warenkorbinformationen zu bestimmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie-Navigation</strong> (Header)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Kategorie-Navigation zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um die Einstellungen vorzunehmen und den Stil der Kategorie-Navigation, die Kategorieebenen sowie die Anzahl der Kategorien festzulegen. Des Weiteren kann ein Firmenlogo hinzugefügt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Breadcrumbs</strong> (Header)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Breadcrumb-Navigation zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um die Einstellungen vorzunehmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Liste zur Verfügung, die als Platzhalter dient. Klicken Sie auf <strong>Bearbeiten</strong>, um Listeneinträge oder Icons hinzuzufügen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Linkliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Linkliste zur Verfügung, die als Platzhalter dient. Klicken Sie auf <strong>Bearbeiten</strong>, um einen Listentitel, Listeneinträge oder Icons hinzuzufügen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trennlinie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine Trennlinie zur Verfügung, die als Platzhalter dient.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechtliche Informationen</strong> (Footer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Anzeige der rechtlichen Informationen zur Verfügung. Klicken Sie auf <strong>Bearbeiten</strong>, um festzulegen, welche Elemente im Footer sichtbar sein sollen. Des Weiteren kann ein Widerrufsformular hochgeladen werden.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_elemente_der_ceres_startseite_mit_dem_shop_builder_bearbeiten">1.1. Elemente der Ceres-Startseite mit dem Shop Builder bearbeiten</h3>
<div class="paragraph">
<p>Im Vorschaubereich können Sie Elemente bearbeiten, um die Seite Ihren individuellen Bedürfnissen anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Elemente im Vorschaubereich bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Der Shop Builder wird geöffnet.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf das Element, das Sie bearbeiten wollen.<br>
→ Das Kontextmenü wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bearbeiten</strong>.<br>
→ Die <strong>Einstellungen</strong>-Leiste wird eingeblendet.</p>
</li>
<li>
<p>Nehmen Sie Einstellungen an den Elementen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-elemente-shop-builder">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Startseite Ihres Webshops ist den Einstellungen entsprechend umgestaltet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Ebenso können Sie Elemente auch wieder entfernen.</p>
</div>
<div class="paragraph instruction">
<p>Elemente aus dem Vorschaubereich entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Der Vorschaubereich wird geöffnet.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf das Element im Vorschaubereich, das Sie entfernen wollen.<br>
→ Das Kontextmenü wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>, um das Element zu entfernen.<br>
→ Das Element wird entfernt.<br>
→ Die umliegenden Elemente gruppieren sich neu und ersetzen das gelöschte Element.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Startseite Ihres Webshops ist den Einstellungen entsprechend umgestaltet.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_farbeinstellungen_im_shop_builder_bearbeiten">2. Farbeinstellungen im Shop Builder bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Shop Builder können Sie die Hauptfarben für alle Seiten Ihres Shops global verwalten.</p>
</div>
<div class="paragraph instruction">
<p>Farben im Shop Builder bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Der Shop Builder wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Startseite</strong>.<br>
→ Der Vorschaubereich der Startseite wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Globale Farbeinstellungen</strong>.<br>
→ Das Menü <strong>Globale Farbeinstellungen bearbeiten</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-farben-shop-builder">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-farben-shop-builder" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Globale Farbeinstellungen im Shop Builder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Primary colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Attribut verändert die Primärfarbe des Shops. Wählen Sie eine Farbe über den Colour Picker oder geben Sie einen Hexadezimalwert ein.<br>
<strong><em>Hinweis:</em></strong> Dieser Wert kann von Theme-Plugins für andere Farbgebungen verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secondary colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Attribut verändert die Sekundärfarbe des Shops. Wählen Sie eine Farbe über den Colour Picker oder geben Sie einen Hexadezimalwert ein.<br>
<strong><em>Hinweis:</em></strong> Dieser Wert kann von Theme-Plugins für andere Farbgebungen verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Success colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Attribut verändert die Farbe der Erfolgsmeldungen im Shop. Wählen Sie eine Farbe über den Colour Picker oder geben Sie einen Hexadezimalwert ein.<br>
<strong><em>Hinweis:</em></strong> Dieser Wert kann von Theme-Plugins für andere Farbgebungen verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Information colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Attribut verändert die Farbe der Hinweise im Shop. Wählen Sie eine Farbe über den Colour Picker oder geben Sie einen Hexadezimalwert ein.<br>
<strong><em>Hinweis:</em></strong> Dieser Wert kann von Theme-Plugins für andere Farbgebungen verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warning colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Attribut verändert die Farbe der Warnmeldungen im Shop. Wählen Sie eine Farbe über den Colour Picker oder geben Sie einen Hexadezimalwert ein.<br>
<strong><em>Hinweis:</em></strong> Dieser Wert kann von Theme-Plugins für andere Farbgebungen verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Danger colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Attribut verändert die Farbe der Fehlermeldungen im Shop. Wählen Sie eine Farbe über den Colour Picker oder geben Sie einen Hexadezimalwert ein.<br>
<strong><em>Hinweis:</em></strong> Dieser Wert kann von Theme-Plugins für andere Farbgebungen verwendet werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_schriftart_im_shop_builder_bearbeiten">3. Schriftart im Shop Builder bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Shop Builder bietet ebenfalls die Möglichkeit, eine beliebige Schriftart auszuwählen. Dazu kann entweder eine Schrift-URL eingefügt oder eine Schrift hochgeladen werden.</p>
</div>
<div class="paragraph instruction">
<p>Schriftart bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Der Shop Builder wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Startseite</strong>.<br>
→ Der Vorschaubereich der Startseite wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Design</strong>.<br>
→ Das Fenster <strong>Design</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen im Feld <strong>Schriften</strong> vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-schriftart-shop-builder">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schriftart-shop-builder" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Schriftart im Shop Builder bearbeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schrift-URL einfügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie eine URL und fügen Sie die URL in die entsprechende Zeile (regulär, <strong>bold</strong>, <em>italic</em> oder <strong><em>bold-italic</em></strong>) ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schrift hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hierzu müssen Sie eine Schriftart auf Ihrem Rechner gespeichert haben. Wählen Sie in der entsprechenden Zeile (regulär, <strong>bold</strong>, <em>italic</em> oder <strong><em>bold-italic</em></strong>) die gewünschte Datei aus.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_weitere_einstellungen_vornehmen">4. Weitere Einstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Shop Builder bietet ebenfalls die Möglichkeit, alle in der Ceres-Konfiguration möglichen Einstellungen vorzunehmen. Gehen Sie dazu wie folgt vor.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gehen Sie zu <strong>CMS » Shop Builder</strong>.<br>
→ Der Shop Builder wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Einstellungen</strong>.<br>
→ Das Menü <strong>Plugin-Konfiguration</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="/omni-channel/online-shop/ceres-einrichten#20">Ceres einrichten</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br></p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Auswahl des Plugin-Sets im Shop Builder</div>
In der Dropdown-Liste kann ein Plugin-Set ausgewählt werden. Die Seitenvorschau zeigt dann die für das Plugin-Set vorgenommenen Einstellungen an (z.B. welche Artikel sichtbar sind).
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_weitere_seiten_im_shop_builder_erstellen">5. Weitere Seiten im Shop Builder erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Übersicht des Shop Builders gibt es die Möglichkeit, zusätzliche Seiten für die Startseite zu erstellen und zu benennen.</p>
</div>
<div class="paragraph instruction">
<p>Seite erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Seite hinzufügen</strong>.<br>
→ Das Fenster <strong>Seitenname</strong> öffnet sich.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die neu erstellte Seite wird in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_seite_im_shop_builder_bearbeiten">5.1. Seite im Shop Builder bearbeiten</h3>
<div class="paragraph">
<p>Zurzeit lässt sich in der Übersicht des Shop Builders lediglich der Name einer Seite bearbeiten. Zukünftig werden jedoch noch weitere Einstellungen hinzukommen.</p>
</div>
<div class="paragraph instruction">
<p>Seitenname bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bearbeiten</strong>, um den Seitennamen zu bearbeiten.</p>
</li>
<li>
<p>Wählen Sie einen beliebigen Namen für die Seite.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_seite_im_shop_builder_löschen">5.2. Seite im Shop Builder löschen</h3>
<div class="paragraph">
<p>Im Shop Builder erstellte Seiten lassen sich auch wieder entfernen.</p>
</div>
<div class="paragraph instruction">
<p>Seite löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>, um eine Seite zu löschen.<br>
→ Die Seite wird gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_verknüpfung_von_im_shop_builder_erstellten_seiten_zur_startseite_lösen">5.3. Verknüpfung von im Shop Builder erstellten Seiten zur Startseite lösen</h3>
<div class="paragraph">
<p>Jede im Shop Builder erstellte Seite ist automatisch mit der Startseite verknüpft. Diese Verknüpfung kann jedoch auch gelöst werden.</p>
</div>
<div class="paragraph instruction">
<p>Verknüpfung lösen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie die Seite, deren Verknüpfung zur Startseite gelöst werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Verknüpfung erstellen/lösen.</strong><br>
→ Die Verknüpfung zur Startseite wird gelöst.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_im_shop_builder_erstellte_seiten_mit_der_startseite_verknüpfen">5.4. Im Shop Builder erstellte Seiten mit der Startseite verknüpfen</h3>
<div class="paragraph">
<p>Eine gelöste Verknüpfung zwischen einer im Shop Builder erstellten Seite und der Startseite kann wiederhergestellt werden.</p>
</div>
<div class="paragraph instruction">
<p>Verknüpfung erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie die Seite, die mit der Startseite verknüpft werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Verknüpfung erstellen/lösen</strong>.<br>
→ Die ausgewählte Seite wird mit der Startseite verknüpft.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die blaue Markierung zeigt an, dass eine Verknüpfung vorhanden ist.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_sprache_wählen">6. Sprache wählen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Startseiten können mit verschiedenen Sprachen unabhängig voneinander angelegt werden.</p>
</div>
<div class="paragraph instruction">
<p>Sprache wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie in der Dropdown-Liste eine Sprache aus.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Seite hinzufügen</strong>.</p>
</li>
<li>
<p>Geben Sie einen Namen für die Seite ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Spracheinstellung wird für die Seite automatisch gespeichert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_mandantenvorschau_anzeigen">7. Mandantenvorschau anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf der Bearbeitungsseite ist es möglich, die erstellte Seite für die verschiedenen Mandanten anzusehen (Vorschau).</p>
</div>
<div class="paragraph instruction">
<p>Mandantenvorscheu anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie eine Seite.<br>
→ Die gewählte Seite wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie in der Dropdown-Liste <strong>Mandant für Vorschau</strong> den gewünschten Mandanten.<br>
→ Die erstellte Seite wird für den gewählten Mandanten angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_neue_kategorien_im_shop_builder_erstellen">8. Neue Kategorien im Shop Builder erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Übersicht des Shop Builders werden links die Kategorien des Shops angezeigt. Dort können neue Kategorien als Ober- oder Unterkategorien angelegt werden.<br>
Die globalen Elemente werden in der Übersicht im oberen Abschnitt angezeigt und die Seiten der aktuell ausgewählten Kategorie sind im unteren Abschnitt aufgeführt.</p>
</div>
<div class="paragraph instruction">
<p>Neue Kategorien im Shop Builder erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie links im Kategoriebaum auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein und wählen Sie <strong>Hauptseite</strong> für eine Hauptkategorie oder <strong>Unterseite</strong> für eine Unterkategorie.</p>
</li>
<li>
<p>Wenn Sie eine Unterseite erstellen möchten, klicken Sie im Bearbeitungsfenster auf die Kategorie, in der die Unterkategorie angelegt werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Erstellen</strong>.<br>
→ Die neue Kategorie wurde dem Kategoriebaum hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_einen_header_oder_footer_im_shop_builder_erstellen">9. Einen Header oder Footer im Shop Builder erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Shop Builder können ein Header und ein Footer erstellt werden. Header und Footer sind global für den gesamten Webshop wirksam.</p>
</div>
<div class="paragraph instruction">
<p>Einen Header oder Footer im Shop Builder erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie in der Spalte <strong>Globale Elemente</strong> auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neue Seite erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie <strong>Header anlegen</strong> oder <strong>Footer anlegen</strong>.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie entweder die Standard-Footer bzw. Standard-Header oder treffen Sie keine Auswahl.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Header oder der Footer wurde angelegt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Verlinkung aktivieren/deaktivieren</strong>, um den Header oder den Footer zu verknüpfen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_den_header_global_bearbeiten">10. Den Header global bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die im Header vorgenommenen Einstellungen sind global wirksam. Für den Header stehen die Widgets <strong>Top Bar</strong>, <strong>Kategorie-Navigation</strong> und <strong>Breadcrumbs</strong> zur Auswahl.</p>
</div>
<div class="paragraph instruction">
<p>Den Header global bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf den Header.<br>
→ Die für den Header angelegte Seite wird geöffnet.</p>
</li>
<li>
<p>Ziehen Sie das gewünschte Widget per Drag&amp;Drop in die Mitte.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bearbeiten</strong>.<br>
→ Das entsprechende Bearbeitungsfenster wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-elemente-shop-builder">Tabelle 1</a>.<br>
→ Die Einstellungen werden automatisch gespeichert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_den_footer_global_bearbeiten">11. Den Footer global bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die im Footer vorgenommenen Einstellungen sind global wirksam. Für den Footer steht zusätzlich das Widget <strong>Rechtliche Informationen</strong> zur Auswahl.</p>
</div>
<div class="paragraph instruction">
<p>Den Footer global bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen sie das Menü <strong>CMS » Shop Builder</strong>.<br>
→ Die Übersicht des Shop Builders wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf den Footer.<br>
→ Die für den Footer angelegte Seite wird geöffnet.</p>
</li>
<li>
<p>Ziehen Sie das gewünschte Widget per Drag&amp;Drop in die Mitte.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bearbeiten</strong>.<br>
→ Das entsprechende Bearbeitungsfenster wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-elemente-shop-builder">Tabelle 1</a>.<br>
→ Die Einstellungen werden automatisch gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
</main>