<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>ElasticSearch Ergebnisfelder</h1><div class="paragraph">
<p>Diese Handbuchseite gibt einen Überblick darüber, welche Elasticsearch <strong>Ergebnisfelder</strong> genutzt werden können, um auf Informationen zuzugreifen, für die es im ehemaligen Webshop Callisto <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#_globale_template_variablen_2">Template-Variablen</a> gab.</p>
</div><div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Diese Handbuchseite befindet sich gegenwärtig im Aufbau. Die aufgeführte Liste ist zum jetzigen Zeitpunkt unvollständig und wird nach und nach erweitert.</p>
</div>
</td>
</tr>
</tbody></table>
</div><table id="tabelle-ES-Ergebnisfelder" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. ES-Ergebnisfelder und Template-Variablen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">ES Ergebnisfeld</th>
<th class="tableblock halign-left valign-top">Template-Variable</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>calculatedPrices.default.customerClassDiscountPercent</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$PriceColumnDiscountPercentage</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Prozentsatz des an der Kundenklasse des derzeit eingeloggten Kunden hinterlegten Rabatts auf die Preisstaffelung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>calculatedPrices.formatted.rrpPrice</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$RRP</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die unverbindliche Preisempfehlung des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>calculatedPrices.price</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Price</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Preis des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>calculatedPrices.priceNet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ShowNetPrices</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Nettopreis des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>calculatedPrices.prices.default.price.value</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Price</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Preis des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>calculated.Prices.rrp.price</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$RRPDecimalSeparatorDot</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die unverbindliche Preisempfehlung mit Punkt als Dezimaltrennzeichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>defaultCategories.[0].id</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ItemBranchID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die ID der Standardkategorie des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>filter.hasAttribute</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$AttributeExist</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet eine Abfrage, ob ein Artikel Attribute hat.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>filter.search.german.properties</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ItemParamsList</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet ein Array mit Merkmalen, die zu einem Artikel gehören. Hinweis:</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>images.all.[0].names.alternate</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ImageAlt[1]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Alternativtext des Artikelbilds.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>images.all.[0].names.name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ImageName[1]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Namen des Artikelbilds.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>images.all.[0].url</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ImageURL[1]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die URL des Artikelbilds mit höchster Auflösung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>images.all.[0].urlMiddle</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$MiddleSizeImageURL[1]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die URL des Artikelbilds mit mittlerer Auflösung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>images.all.[0].urlPreview</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$PreviewImageURL[1]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet das Vorschaubild des Artikels</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>images.all.[0]urlSecondPreview</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$SecondPreviewImageURL[1]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die URL des zweiten Vorschaubilds eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>images.item.urlSecondPreview</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$SecondPreviewImageURL[25]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die URL des zweiten Vorschaubilds eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>images.variation.urlSecondPreview</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$SecondPreviewImage[1]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet das zweite Vorschaubild eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.ageRestriction</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$FSK</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Altersfreigabe eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.condition.names.name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Condition</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Zustand eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.createdAt</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$CreationDate</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet das Erstellungsdatum eines Artikels</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.isSubscribable</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$IsSubscriptionItem</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Information, ob ein Artikel als Abonnement gekauft werden kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.itemID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ID  / $CurrentItemId</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Artikel-ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.manufacturer.externalName</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ProducerExternalName</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den externen Namen des Artikelherstellers.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.manufacturer.logo</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ProducerLogo</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die URL des Herstellerlogos</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.manufacturer.name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Producer</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet der Namen des Artikelherstellers</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.storeSpecial.id</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ActionID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die ID der Shop-Aktion.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>item.variation.packingUnits</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$PackagingUnit</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Verpackungseinheit eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>calculatedPrices.default.vatValue</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$VAT</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Prozentsatz der Umsatzsteuer des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>salesPrices.[0].names.priceId</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$PriceID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die ID des Preissets des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>stock.net</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$StockList</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den physischen Warenbestand des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>texts.description</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Description</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Vorschautext eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>texts.name1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Name[1]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den ersten hinterlegten Artikelnamen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>texts.name2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Name[2]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den zweiten hinterlegten Artikelnamen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>texts.name3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Name[3]</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den dritten hinterlegten Artikelnamen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>texts.shortDescription</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$DescriptionShort</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Artikeltext.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>texts.technicalData</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$TechnicalData</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die technischen Daten eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>texts.urlPath</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Name4URL</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>URL-Pfad des Artikels im Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>unit.content</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Lot</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Inhalt der Verkaufseinheit des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.availableUntil</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ExpirationDate</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet das "Verfügbar bis"-Datum eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.availability.id</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$AvailabilityID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die ID der Verfügbarkeit des Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.availability.names.name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$AvailabilityString</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Namen der Artikelverfügbarkeit.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.createdAt</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$CreationDate</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet das Erstellungsdatum eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.defaultShippingCosts</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$DefaultShippingCosts</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Standardversandkosten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.externalID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ExternalVariationID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die externe ID der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.heightMM</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Height</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Höhe des Artikels in Millimeter.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.id</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$VariationID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die ID der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.intervalOrderQuantity</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$OrderQuantityInterval</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Intervallbestellmenge eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.itemId</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Artikel-ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.lengthMM</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Length</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Länge des Artikels in Millimeter.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.maximumOrderQuantity</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$OrderQuantityMax</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enthält die maximale Bestellmenge eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.minimumOrderQuantity</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$OrderQuantityMin</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enthält die Mindestbestellmenge eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.model</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Model</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet die Modell-Bezeichnung eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enthält die Variantennummer eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.releaseAt</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$ReleaseDate</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enthält das Erscheinungsdatum eines Artikels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.stockLimitation</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$LimitOrderByStock</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet den Wert für die Bestandsbeschränkung eines Artikels, wobei 0 = Keine Beschränkung, 1 = Beschränkung auf Netto-Warenbestand, 2 = Keinen Warenbestand für diesen Artikel führen entspricht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.weightG</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$Weight</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet das Artikelgewicht in Gramm.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>variation.weightNetG</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>$WeightNet</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beinhaltet das Netto-Gewicht eines Artikels in Gramm.</p>
</div>
<div class="paragraph">
<p>[====]</p>
</div></div></td>
</tr>
</tbody>
</table>
</main>