<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#auftragsherkunft"><span>1.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#verkaufspreis"><span>2.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#eigenschaften-erstellen"><span>3.</span><span> Eigenschaften erstellen</span></a></li>
<li><a href="#api-schluessel"><span>4.</span><span> API-Schlüssel erzeugen</span></a></li>
<li><a href="#marktplatz-assistent-durchlaufen"><span>5.</span><span> Voelkner Assistent durchlaufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Voelkner einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/voelkner/erste-schritte"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Erste Schritte</a>
<a href="/maerkte/voelkner/automatischer-datenaustausch">Automatischer Austausch von Produkt- und Angebotsdaten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Auf dieser Seite erfährst du, wie du die Schnittstelle zu Voelkner einrichtest. Vorab musst du einige vorbereitende Einstellungen in deinem plentymarkets System vornehmen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="auftragsherkunft">1. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit Voelkner verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Voelkner aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>Voelkner</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>Mirakl</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="verkaufspreis">2. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Verkaufspreisen definierst du die Bedingungen, unter denen eine Variante zu einem bestimmten Preis und über einen bestimmten Verkaufskanal verkauft wird. Um Varianten auf Voelkner zu verkaufen, benötigst du deshalb einen Verkaufspreis, bei dem die Auftragsherkunft Voelkner aktiviert ist. Der Preis, den du für diesen Verkaufspreis an deinen Varianten speicherst, wird auf Voelkner angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Voelkner festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen]</strong>.<br>
<strong><em>Tipp:</em></strong> Du hast noch keine Verkaufspreise? Dann erstelle zuerst einen <a href="/artikel/einstellungen/preise#100">neuen Verkaufspreis</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>Voelkner</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>Mirakl</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="eigenschaften-erstellen">3. Eigenschaften erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eigenschaften werden verwendet, um Felder an den Marktplatz zu übergeben, die in plentymarkets standardmäßig nicht definiert sind.
Weitere Informationen zu Eigenschaften findest du auf der Seite <a href="/artikel/einstellungen/eigenschaften#500">Merkmale und Eigenschaften</a>.</p>
</div>
<div class="paragraph">
<p>Die folgenden Eigenschaften sind automatisch in deinem plentymarkts System vorhanden und werden im Assistenten zugeordnet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Logistikklasse</p>
<div class="ulist">
<ul>
<li>
<p>Es handelt sich hier um das Verknüpfen einer Variante mit einem bestimmten Marktplatz-Versandprofil. Die Marktplatz-Versandprofile können im Marktplatz-Backend unter <strong>Plattformeinstellungen &gt; Versand</strong> eingesehen werden. Der Wert in Klammern ist der Wert, der übertragen werden muss.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Versandvorlaufzeit</p>
<div class="ulist">
<ul>
<li>
<p>Es handelt sich hier um das sogenannte <em>leadtime-to-ship</em>, also die Zeit, die ein:e Händler:in von der Auftragsannahme bis zur Versandmeldung benötigt. Hier muss eine ganze Zahl übermittelt werden, die zwischen 1 und 45 liegt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Abzugsverfahren</p>
<div class="ulist">
<ul>
<li>
<p>Es handelt sich hier um das so genannte <em>Reverse-Charge-Verfahren</em>. Es kann entweder <code>true</code> oder <code>false</code> übertragen werden.</p>
</li>
</ul>
</div>
</li>
<li>
<p>update-delete</p>
<div class="ulist">
<ul>
<li>
<p>Die Option, ein Angebot löschen zu können. Wenn an der Variante nichts gewählt wird, wird standardmäßig <code>update</code> vom Marktplatz verwendet.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="api-schluessel">4. API-Schlüssel erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Verbindung für Voelkner zwischen plentymarkets und Mirakl herzustellen, benötigst du einen API-Schlüssel. Um den API-Schlüssel zu erzeugen, gehe wie folgt vor:</p>
</div>
<div class="paragraph instruction">
<p>API-Schlüssel erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Backend von Mirakl.</p>
</li>
<li>
<p>Klicke auf das Benutzersymbol (<span class="icon "><i class="fa fa-user-circle  "></i></span>).</p>
</li>
<li>
<p>Öffne das Tab <strong>API-Schlüssel</strong>.</p>
</li>
<li>
<p>Generiere einen neuen API-Schlüssel für Voelkner.</p>
</li>
<li>
<p>Kopiere den API-Schlüssel in die Zwischenablage. Du benötigst den Schlüssel, um dein Voelkner-Konto in plentymarkets einzurichten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="marktplatz-assistent-durchlaufen">5. Voelkner Assistent durchlaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Assistenten <strong>VoelknerExtension</strong> im Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong> richtest du dein Voelkner-Konto in plentymarkets ein.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Assistenten vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>VoelknerExtension</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unter dieser Beschreibung auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke im Schritt <strong>Zusammenfassung</strong> auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Die Einstellungen werden gespeichert.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Erläuterungen zu den Optionen des Assistenten</div>
<div class="content">
<div class="paragraph">
<p><a id="table-Voelkner-basic-settings-assistant"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Authentifizierung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">API Environment</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine API-Umgebung aus der Dropdown-Liste. Welche API-Umgebung du wählen solltest, erfährst du von deinen Ansprechpartner:innen bei Voelkner.<br>
<strong><em>Hinweis:</em></strong> Wenn du die API-Umgebung wechselst, also z.B. vom Test-Modus in den Produktiv-Modus wechselst, musst du einen neuen <a href="#api-schluessel">API-Schlüssel</a> erzeugen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">API Key</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Trage den <a href="#api-schluessel">API-Schlüssel</a> ein, den du erzeugt hast.<br>
<strong><em>Hinweis:</em></strong> Wenn du die API-Umgebung wechselst, also z.B. vom Test-Modus in den Produktiv-Modus wechselst, musst du einen neuen <a href="#api-schluessel">API-Schlüssel</a> erzeugen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Datenaustausch</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenaustausch</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle die Prozesse, für die du den Datenaustausch zwischen plentymarkets und Mirakl einrichten möchtest.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zuordnung der Rückerstattung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung der Rückerstattung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier ordnest du den Rückerstattungsgründen von Voelkner plentymarkets Auftragsstatus zu.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Neuen Eintrag hinzufügen</strong>.<br>
→ Eine Zeile wird eingefügt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste links den plentymarkets Status.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste rechts einen der Gründe für die Rückerstattung von Voelkner ein.<br>
Die folgenden Gründe können an Voelkner übertragen werden:<br></p>
<div class="ulist">
<ul>
<li>
<p><code>15</code> = Artikel nicht mehr lieferbar</p>
</li>
<li>
<p><code>16</code> = Artikel vom Kunden storniert</p>
</li>
<li>
<p><code>17</code> = Artikel wurde zurückgeschickt</p>
</li>
<li>
<p><code>18</code> = Kunde hat Artikel nicht erhalten</p>
</li>
<li>
<p><code>19</code> = Sonstige Vereinbarung getroffen</p>
</li>
</ul>
</div>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zuordnung der Stornierung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung der Stornierung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Neuen Eintrag hinzufügen</strong>.<br>
→ Eine Zeile wird eingefügt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste links den plentymarkets Status.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste rechts einen Grund für die Stornierung von Voelkner.<br>
Die folgenden Gründe können an Voelkner übertragen werden:<br></p>
<div class="ulist">
<ul>
<li>
<p><code>34</code> = Stornierung: Fehlbestellung</p>
</li>
<li>
<p><code>35</code> = Stornierung: Unerwünschte Zahlungsbedingung</p>
</li>
<li>
<p><code>37</code> = Stornierung: Zu lange Lieferzeit</p>
</li>
<li>
<p><code>39</code> = Vereinbarung zwischen Käufer und Verkäufer getroffen</p>
</li>
</ul>
</div>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Lagerauswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerauswahl</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle das Lager, das für den Bestandsexport verwendet werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zuordnung des Versandprofils</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung des Versandprofils</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Trage für die Versandprofile in plentymarkets die entsprechenden Kürzel der Versanddienstleister ein. Die Kürzel findest du auf Mirakl im Menü <strong>Plattformeinstellungen » Versand</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zuordnung der Angebots-Eigenschaften</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung der Angebots-Eigenschaften</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle aus der Dropdown-Liste <strong>Logistikklasse</strong> die Eigenschaft <strong>Voelkner Logistikklasse</strong>.<br>
Die Eigenschaften für <strong>Abzugsverfahren</strong> und <strong>Versandvorlaufzeit</strong> sind bereits vorausgewählt.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Abzugsverfahren</strong>: Es handelt sich hier um das so genannte <em>Reverse-Charge-Verfahren</em>. Es kann entweder <code>true</code> oder <code>false</code> übertragen werden.</p>
</li>
<li>
<p><strong>Versandvorlaufzeit</strong>: Es handelt sich hier um das sogenannte <em>leadtime-to-ship</em>, also die Zeit, die ein:e Händler:in von der Auftragsannahme bis zur Versandmeldung benötigt. Hier muss eine ganze Zahl übermittelt werden, die zwischen 1 und 45 liegt.</p>
</li>
<li>
<p><strong>Logistikklasse</strong>: Hier handelt es sich um das Verbinden einer Variante mit einem bestimmten Marktplatz-Versandprofil. Die Versandprofile des Marktplatzes sind im Backend unter <strong>Plattformeinstellungen » Versand</strong> aufgeführt. Der Wert in Klammern ist der zu übertragende Wert.</p>
</li>
<li>
<p><strong>update-delete</strong>: Hier handelt es sich um die Option, ein Angebot löschen zu können. Ist dieses Feld nicht befüllt, wird automatisch <strong>update</strong> verwendet.</p>
</li>
<li>
<p><strong>product-id-type</strong>: Dieses Feld muss nicht definiert werden. Standardmäßig wird hier <strong>SHOP_SKU</strong> übertragen.</p>
</li>
<li>
<p><strong>Brutto-Inhaltsmenge für Grundpreisangabe</strong>: Hier kannst du die Brutto-Inhaltsmenge für die Grundpreisangabe an der Variante definieren.</p>
</li>
<li>
<p><strong>Einheit der Grundpreisangabe</strong>: Hier kannst du die Einheit der Grundpreisangabe an der Variante definieren. Gültige Werte sind <code>KG</code>, <code>L</code>, <code>M</code>, <code>M2</code> oder <code>M3</code>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Optionen für Angebots-Export</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optionen für Angebots-Export</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier kannst du eine Bestandsmenge für Varianten ohne Netto-Warenbestandsbeschränkung oder für Varianten, bei denen kein Warenbestand geführt wird, speichern und für den Export festlegen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/voelkner/erste-schritte"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Erste Schritte</a>
<a href="/maerkte/voelkner/automatischer-datenaustausch">Automatischer Austausch von Produkt- und Angebotsdaten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>