<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#registrieren"><span>1.</span><span> Bei Voelkner registrieren</span></a></li>
<li><a href="#about"><span>2.</span><span> Über Voelkner</span></a></li>
<li><a href="#plugins-herunterladen"><span>3.</span><span> Plugins Mirakl Connector und Voelkner herunterladen</span></a></li>
<li><a href="#mirakl-plugin-installieren"><span>4.</span><span> Mirakl Connector installieren</span></a></li>
<li><a href="#marktplatz-plugin-installieren"><span>5.</span><span> Voelkner-Plugin installieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Erste Schritte</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph next-navigation">
<p><a href="/maerkte/voelkner/voelkner-einrichten">Voelkner einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Auf dieser Seite erfährst du, wie du die Plugins <strong>Mirakl</strong> und <strong>Voelkner</strong> herunterlädst und installierst. Mirakl ist die Plattform, über die Voelkner angebunden ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="registrieren">1. Bei Voelkner registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du benötigst die Voelkner-Zugangsdaten bestehend aus Nutzername und Passwort. Diese Daten erhältst du von Voelkner. Hierzu musst du zunächst bei <a href="https://www.voelkner.de/marktplatz-seller.html" target="_blank" rel="noopener">Voelkner</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ein Mitgliedskonto erstellen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="about">2. Über Voelkner</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Über das Plugin <strong>Mirakl Connector</strong> wird der Marktplatz Voelkner mit deinem plentymarkets System verbunden. Durch das Plugin wird der automatische Austausch von Artikel- und Auftragsdaten zwischen plentymarkets und dem Marktplatz Voelkner ermöglicht. Dadurch kannst du deine Artikel auf Voelkner listen.</p>
</div>
<div class="paragraph">
<p>Um die Verbindung zu Voelkner einzurichten, kannst du entweder der Anleitung auf dieser Seite folgen oder dir folgendes Webinar ansehen:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://www.youtube.com/embed/wPiXwdETXEo?rel=0&amp;hl=de" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="plugins-herunterladen">3. Plugins Mirakl Connector und Voelkner herunterladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Schnittstelle zu Voelkner wird über ein Plugin integriert. Um das Voelkner-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/voelknerextension_6949" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
<div class="paragraph">
<p>Um das Voelkner-Plugin nutzen zu können, benötigst du außerdem das Plugin <strong>Mirakl Connector</strong>. Du findest Mirakl ebenfalls auf <a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="mirakl-plugin-installieren">4. Mirakl Connector installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Installiere das Plugin <strong>Mirakl Connector</strong> wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
<strong><em>Hinweis:</em></strong> Das Plugin-Set muss mit dem Hauptmandanten verknüpft sein.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Mirakl Connector</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>Mirakl Connector</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="marktplatz-plugin-installieren">5. Voelkner-Plugin installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um das Plugin <strong>Voelkner</strong> zu installieren.</p>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
<strong><em>Hinweis:</em></strong> Das Plugin-Set muss mit dem Hauptmandanten verknüpft sein.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Voelkner</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>Voelkner</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Öffne das Menü <strong>Prioritäten festlegen</strong>.</p>
</li>
<li>
<p>Setze die Priorität von <strong>Voelkner</strong> auf 1.</p>
</li>
<li>
<p><strong>Speichere</strong> die Prioritäten.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
<hr>
<div class="paragraph next-navigation">
<p><a href="/maerkte/voelkner/voelkner-einrichten">Voelkner einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>