<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_NavigationCategories5</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert die Kategorienavigation 5 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_NavigationCategories5(
int $NavigationCategories5_OpenLevel  ,
int $NavigationCategories5_StartLevel  ,
int $NavigationCategories5_EachRow  ,
int $NavigationCategories5_Type
) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_navigationcategories5">Template NavigationCategories5</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_navigationcategories5list">NavigationCategories5List</h3>

</div>
<div class="sect2">
<h3 id="_navigationcategories5listitem">NavigationCategories5ListItem</h3>
<div class="sect3">
<h4 id="_funktionen">Funktionen</h4>
<div class="paragraph">
<p>Diese Funktionen sind in diesem Container verfügbar.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Link_FirstItem() : string</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_variablen">Variablen</h4>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$CategoryDescription — Beinhaltet die Beschreibung der aktuellen Kategorie.</p>
</li>
<li>
<p>$CategoryDescription2</p>
</li>
<li>
<p>$CategoryId — Beinhaltet die ID der aktuellen Kategorie.</p>
</li>
<li>
<p>$CategoryImage[1] …​$CategoryImage[2] — Liefert ein Kategoriebild. Das Bild hängt von der mitgegebenen Bildposition ab.</p>
</li>
<li>
<p>$CategoryIsCurrent — Beinhaltet die Information, ob eine Kategorie die aktuelle Kategorie ist (true) oder nicht (false).</p>
</li>
<li>
<p>$CategoryIsLastInCurrentLevel</p>
</li>
<li>
<p>$CategoryIsOpen — Beinhaltet die Information, ob eine Kategorie geöffnet ist (true), z.B. als Teil des Kategoriezweigs, oder nicht (false).</p>
</li>
<li>
<p>$CategoryItemCount — Beinhaltet die Anzahl der aktuellen Artikel einer Kategorie.</p>
</li>
<li>
<p>$CategoryLevel — Beinhaltet die aktuelle Kategorieebene.</p>
</li>
<li>
<p>$CategoryName — Beinhaltet den Namen der aktuellen Kategorie.</p>
</li>
<li>
<p>$CategoryShortDescription — Beinhaltet die Kurzbeschreibung der aktuellen Kategorie.</p>
</li>
<li>
<p>$CategoryType — Beinhaltet den Typ der aktuellen Kategorie. Es gibt die Typen Content und Artikel.</p>
</li>
<li>
<p>$CategoryUrl — Beinhaltet die URL der aktuellen Kategorie.</p>
</li>
<li>
<p>$RowCount — Beinhaltet die Position der aktuellen Zeile.</p>
</li>
<li>
<p>$RowCountModulo2 — Beinhaltet einen Wert, der angibt, ob die aktuelle Zeile durch 2 teilbar ist oder nicht.</p>
</li>
<li>
<p>$SubCategoryExists — Beinhaltet die Information, ob es eine Unterkategorie gibt (true) oder nicht (false).</p>
</li>
<li>
<p>$setCurrentCategoryAsActive</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; if !$IsWelcomePage &#37;&#125;
	&lt;div class="fullwidth breadcrumbsContainer"&gt;

		&#123;&#37; Container_NavigationBreadcrumbsList() &#37;&#125;

	&lt;/div&gt;
&#123;&#37; endif &#37;&#125;

{# Display breadcrumbs not on the welcome page (home page) #}</code></pre>
</div>
</div>
</div>
</div>
</main>