<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einleitung ins Amazon-Video-Modul</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche Schritte kommen in diesem Modul auf dich zu? Was benötigst du, um mit Amazon zu starten? Dieses Video dient dir als Einleitung und erklärt dir kurz und knapp, was dich im Amazon-Modul erwartet. Viel Spaß!</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/317425771" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Amazon! Das ist es! Deine Verkaufsplattform, deine Umsatzgarantie, dein neuestes Reiseziel!</p>
</div>
<div class="paragraph">
<p>Mit plentymarkets hast du dir ein System ausgesucht, das dich bei deinem Verkauf auf Amazon bestens unterstützt - mit einer direkt integrierten Schnittstelle!</p>
</div>
<div class="paragraph">
<p>Und ebenfalls in deiner Tasche: Dieses handliche Video-Modul, das wie ein guter Reiseführer alle wichtigen Schritte für ein erfolgreiches Abenteuer beinhaltet.</p>
</div>
<div class="paragraph">
<p>Video für Video führen wir dich durch den Amazon-Dschungel und sorgen in Verbindung mit dem plenty-Handbuch dafür, dass du sicher am Ziel ankommst.</p>
</div>
<div class="paragraph">
<p>Zur perfekten Reisevorbereitung gehören für dich ein Amazon Seller Central-Konto und die dazugehörigen Anmeldedaten - und natürlich deine Artikel im plenty-System.</p>
</div>
<div class="paragraph">
<p>Deine Route führt dich dann über die Schnittstellen-Einrichtung, zum Artikel- und Bestandsmanagement und zur Optimierung deiner Produkte.</p>
</div>
<div class="paragraph">
<p>Aus dem Wort "Lagerbestandsdateivorlage" wirst du mehr als nur einen Zungenbrecher ableiten können. Bei deinem Halt lernst du alles über kategoriespezifische Produktinfos
von Amazon und wie man diese Dateien zur Fehlerbehebung nutzen kann.</p>
</div>
<div class="paragraph">
<p>Auf dem Höhepunkt deiner Reise wird plentymarkets sich von seiner besten Seite zeigen und deine Auftragsabwicklung nahezu vollständig automatisieren.</p>
</div>
<div class="paragraph">
<p>Ob Pauschalurlauber oder Individual-Tourist, ob FBA oder MFN - es sind nur wenige Klicks nötig, um dein System auf deine Bedürfnisse einzustellen. Und ja, auch der Prime-Versand ist keine Herausforderung für dein plenty System.</p>
</div>
<div class="paragraph">
<p>Die Videos sind praktisch unterteilt in passende Kategorien, damit du nie den Faden verlierst. Minute Maps bieten dir nicht nur eine kurze Inhaltsangabe auf den ersten Blick , sondern ermöglichen dir auch nach einer kurzen Kaffeepause wieder dort einzusteigen, wo du aufgehört hattest.</p>
</div>
<div class="paragraph">
<p>Außerdem sind die Videos mit Verlinkungen ausgestattet, die dir entweder weitere Themen vorschlagen oder zu konkreten Handbuchseiten führen, um dein Wissen weiter zu vertiefen.</p>
</div>
<div class="paragraph">
<p>Was du noch tun musst? Lehne dich zurück, entspanne dich und genieße deinen Flug. Mit deinem praktischen Reiseguide durch Amazonien.</p>
</div>
</div>
</div>
</main>