<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon-Konto mit plentymarkets verknüpfen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit plentymarkets kannst du deinen Verkauf auf Amazon fast vollständig automatisieren. Vorher muss aber dein Amazon-Konto mit plentymarkets verknüpft werden. Wie du also dafür sorgst, dass deine MWS-Schnittstelle einsatzbereit ist, lernst du in diesem Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/mws-schnittstelle-aktivieren#video">MWS-Schnittstelle aktivieren (0:43)</a></p>
<p class="tableblock"><a href="/videos/amazon/mws-schnittstelle-verkaeufer-id#video">Verkäufer-ID und Händlertoken (1:38)</a></p>
<p class="tableblock"><a href="/videos/amazon/mws-schnittstelle-konto#video">Konto in plentymarkets hinterlegen (2:26)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/197494468#at=98" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Willkommen in Amazonien! So groß wie der Marktplatz sind auch deine Möglichkeiten - da kann es schon mal passieren, dass dir der Verkauf auf den Amazon-Plattformen wie ein verwobener Urwald vorkommt.</p>
</div>
<div class="paragraph">
<p>Deshalb hast du plentymarkets - einen Reiseplan durch Amazonien, damit du schnell und sicher an deinem Ziel ankommst.</p>
</div>
<div class="paragraph">
<p>Und so ist dein erster Stop glasklar: Dein Amazon-Konto muss mit plentymarkets verknüpft werden.</p>
</div>
<div class="paragraph">
<p>Dabei passierst du die sogenannte MWS-Schnittstelle, nimmst dir alle wichtigen Tokens mit und kommst schließlich sicher im plenty Backend an, um deine Daten zu hinterlegen.</p>
</div>
<div class="paragraph">
<p>Voraussetzung ist natürlich ein Amazon-Konto und somit auch ein Zugang zum Amazon-Verkäuferportal mit dem schicken Namen: Seller-Central.</p>
</div>
<div class="paragraph">
<p>Also los geht’s mit der MWS-Schnittstelle - was ist das überhaupt? Kurz und knapp: MWS steht für Marketplace Web Service und sorgt dafür, dass der Datenaustausch mit plentymarkets funktionieren kann.</p>
</div>
<div class="paragraph">
<p>Im Seller Central führt dich dein Weg in die Einstellungen und den Bereich Benutzerberechtigungen.</p>
</div>
<div class="paragraph">
<p>Und hier autorisierst du den Zugriff auf dein Konto über die MWS-Schnittstelle.</p>
</div>
<div class="paragraph">
<p>Für die Einrichtung benötigst du einige Daten, die du übrigens in unserem Handbuch findest - Link ist hier im Video.</p>
</div>
<div class="paragraph">
<p>Praktischerweise ist im Handbuch übrigens auch die Seite der MWS-Schnittstelle nochmal verlinkt, falls du den Weg über das Seller Central nicht gehen möchtest.</p>
</div>
<div class="paragraph">
<p>Gib die Daten aus dem Handbuch ein, also Entwicklername und Entwickler-ID und bestätige die Lizenzvereinbarung.</p>
</div>
<div class="paragraph">
<p>Kommunikation zwischen plenty und Amazon: Check!</p>
</div>
<div class="paragraph">
<p>Diese Daten hier sind gleich wichtig, also speichere dir Verkäufertoken und -ID.</p>
</div>
<div class="paragraph">
<p>Amazon lässt dich aber auch nicht einfach im Regen stehen, wenn du das Fenster hier schon geschlossen hast. Du findest dann beide Daten auch im Seller-Central wieder.</p>
</div>
<div class="paragraph">
<p>Wieder im Bereich Benutzerberechtigungen findest du hier die ID und den Token.</p>
</div>
<div class="paragraph">
<p>Beachte, dass der Token aus Sicherheitsgründen vor Ablaufdatum aktualisiert werden muss.</p>
</div>
<div class="paragraph">
<p>Wenn es soweit ist, bist du hier auf jeden Fall richtig und kannst ihn per Klick einfach erneuern.</p>
</div>
<div class="paragraph">
<p>So, genug Vorarbeit, jetzt geht es ab ins plentymarkets Backend, damit genau diese Daten hinterlegt werden können.</p>
</div>
<div class="paragraph">
<p>Amazon ist eine der vielen direkten Marktplatz-Schnittstellen, die du im Bereich System » Märkte zur Auswahl hast.</p>
</div>
<div class="paragraph">
<p>In den Einstellungen hinterlegst du deine Amazon-Kontodaten.</p>
</div>
<div class="paragraph">
<p>Und zwar als erstes eine Plattform, auf der du deine Artikel listen möchtest samt Mailadresse, mit der du dich auch im Seller Central einloggst.</p>
</div>
<div class="paragraph">
<p>Danach empfangen uns wieder zwei alte Bekannte, die in der Zwischenablage auf uns warten: Die Verkäufer-ID und der Token.</p>
</div>
<div class="paragraph">
<p>Aktivieren würdest du die Schnittstelle schließlich über einen Haken bei "aktiv". Allerdings solltest du das zum jetzigen Zeitpunkt noch nicht machen.</p>
</div>
<div class="paragraph">
<p>Dein erster Stop war sicher nicht der letzte auf deinem Weg durch Amazonien - also aktiviere die Schnittstelle bitte erst, wenn du auch wirklich alle Einstellungen abgeschlossen hast.</p>
</div>
<div class="paragraph">
<p>So kann auf deiner Reise dann sicher nichts schief gehen.</p>
</div>
<div class="paragraph">
<p>Also was folgt nun? Deine Artikel müssen auf Amazon erscheinen, deine Aufträge müssen ins System kommen und vielleicht möchtest du noch Amazon-Services wie Prime oder FBA nutzen?</p>
</div>
<div class="paragraph">
<p>Die nächsten Videos führen dich zum Ziel!</p>
</div>
</div>
</div>
</main>