<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_über_easymarketing"><span>1.</span><span> Allgemeines über EASYMARKETING</span></a></li>
<li><a href="#_easymarketing_einrichten"><span>2.</span><span> EASYMARKETING einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>EASYMARKETING</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Standard » Dienste » Easymarketing</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_über_easymarketing">1. Allgemeines über EASYMARKETING</h2>
<div class="sectionbody">
<div class="paragraph">
<p>EASYMARKETING organisiert Online-Werbung vollautomatisiert. Das System analysiert Ihren Webshop und ermittelt die relevanten Keywords. Es setzt anschließend die Kampagnen auf, setzt CPCs und erstellt Anzeigen. Diese werden stetig optimiert, um so die Ergebnisse zu verbessern. (Quelle: vgl. <a href="https://easymarketing.de/" target="_blank">easymarketing.de</a>)</p>
</div>
<div class="paragraph">
<p>Mithilfe der Schnittstelle zu EASYMARKETING werden Bestellungen in Ihrem Webshop getrackt und es wird eine google site verification ausgeführt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_easymarketing_einrichten">2. EASYMARKETING einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Registrieren Sie sich zunächst bei <a href="https://easymarketing.de/users/new?website_url=&amp;expected_conversion_rate=&amp;advertising_strategy=aggressive&amp;webshop_or_other=other&amp;daily_budget=13" target="_blank">EASYMARKETING</a>. Sie erhalten einen Token, den Sie in plentymarkets eintragen.</p>
</div>
<div class="paragraph instruction">
<p>EASYMARKETING-Einstellungen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Easymarketing</strong> (Pfad siehe oben).</p>
</li>
<li>
<p>Tragen Sie Ihren <strong>Access Token</strong> ein, den Sie von EASYMARKETING erhalten haben.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um Ihre Einstellungen zu sichern.</p>
</li>
</ol>
</div>
</div>
</div>
</main>