<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_picalike"><span>1.</span><span> picalike</span></a></li>
<li><a href="#_bei_picalike_anmelden"><span>2.</span><span> Bei picalike anmelden</span></a></li>
<li><a href="#_picalike_in_plentymarkets_aktivieren"><span>3.</span><span> picalike in plentymarkets aktivieren</span></a></li>
<li><a href="#_bildersuche_mit_mehreren_bildern_einbauen"><span>4.</span><span> Bildersuche mit mehreren Bildern einbauen</span></a></li>
<li><a href="#_hilfe"><span>5.</span><span> Hilfe</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>picalike</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Mandant » Global » Dienste » picalike</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_picalike">1. picalike</h2>
<div class="sectionbody">
<div class="paragraph">
<p>picalike ist ein Tool für den Vergleich von Bildern. Diese Technologie unterstützt Ihre Kunden bei der Suche nach passenden Artikeln.<br>
Produktbilder werden im E-Commerce immer wichtiger. Mit picalike erweitern Sie Ihre <strong>Merkmal-Suchfunktion</strong>, also die Filterung nach Preis, Geschlecht, Kategorien etc. um eine weitere Dimension, die <strong>Ähnlichkeit</strong>, und vermitteln Ihren Besuchern damit ein neues Shoppingerlebnis in Ihrem Webshop.<br>
picalike analysiert Ihre Artikelbilder und baut einen Index aus Ähnlichkeiten zwischen den Bildern auf. Wenn ein Besucher Ihres Webshops nach Ähnlichkeit filtert, wird picalike informiert, welches Bild als Referenz genutzt werden soll und zeigt dann ähnliche Bilder sortiert an.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bei_picalike_anmelden">2. Bei picalike anmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nehmen Sie Kontakt zu picalike auf und registrieren Sie sich für die Bildersuche. Beachten Sie dabei die folgenden Punkte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sie finden auf der picalike-Website detaillierte Informationen zu <strong>Funktion</strong> und <strong>Kosten</strong>. Klären Sie diese Punkte, bevor Sie picalike in plentymarkets aktivieren.</p>
</li>
<li>
<p>picalike benötigt zur Bildersuche die <strong>Export-URL</strong> Ihres plentymarkets-Systems. Sie finden die URL im Menü <strong>System » Mandant » Global » Dienste » picalike</strong> (Bild 2).</p>
</li>
<li>
<p>Sie benötigen für die Aktivierung den <strong>API-KEY</strong> von picalike. Sie finden diesen Key im Menü <strong>Einstellungen</strong> Ihres registrierten Bereichs bei picalike (Bild 1).</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-picalike-01-SI.png" alt="DE Mandant GlobEinstell ExtDienste picalike 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: <strong>API-KEY</strong> für die Aktivierung in plentymarkets (Pfeil)</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_picalike_in_plentymarkets_aktivieren">3. picalike in plentymarkets aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie nachfolgend beschrieben vor, um die picalike-Bildersuche in plentymarkets zu aktivieren. Es sind zwei Konfigurationsschritte erläutert:</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen für picalike konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Global » Dienste » picalike</strong>.</p>
</li>
<li>
<p>Nehmen Sie die <strong>Einstellungen</strong> gemäß der nachfolgenden Tabelle vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-picalike-02-SI.png" alt="DE Mandant GlobEinstell ExtDienste picalike 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: <strong>Einstellungen</strong> für picalike</em></p>
</div>
<div class="paragraph">
<p>Erläuterungen zu den Optionen im Menü <strong>picalike</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>picalike aktivieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie <strong>Ja</strong>, wenn Sie picalike aktivieren und <strong>Nein</strong>, wenn Sie die Bildersuche (wieder) deaktivieren möchten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>API-Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kopieren Sie den <strong>API-Key</strong> aus dem Menü <strong>Einstellungen</strong> Ihres picalike-Kontos (Bild 1) und fügen Sie den Key in dieser Zeile ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export-URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <strong>Export-URL</strong> benötigt picalike, um die Bildersuche zu aktivieren. Diese URL wird vom System erzeugt und sollte bereits in dieser Zeile stehen, wenn Sie das Menü erstmalig öffnen.<br>
<strong>Wichtig</strong>: Stellen Sie sicher, dass Sie picalike die Export-URL übermittelt haben, andernfalls ist die Bildersuche nicht möglich.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Suchgenauigkeit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sie können wählen, in welchen <strong>Kategorie-Bereichen</strong> gesucht werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Einstellungen</strong> für picalike</em></p>
</div>
<div class="paragraph instruction">
<p>picalike-Bildersuche in Template einbauen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Webdesign » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Fügen Sie folgenden Code an einer geeigneten Stelle ein:<br>
<strong>&lt;a id="link_picalike_$ID" href="&#123;&#37; Link_PicalikeSearch(1) &#37;&#125;" rel="nofollow"&gt;Ähnliche Bilder suchen&lt;/a&gt;</strong><br>
→ Der Text <strong>Ähnliche Bilder suchen</strong> wird im Webshop als Link angezeigt. Sie können den Text durch einen beliebigen eigenen Text austauschen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_bildersuche_mit_mehreren_bildern_einbauen">4. Bildersuche mit mehreren Bildern einbauen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für eine Auswahl aus mehreren Artikelbildern muss für jedes Bild ein „onClick“-Ereignis hinzugefügt werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">onClick-Befehl</div>
<div class="paragraph">
<p>Der onClick-Befehl ist wie folgt aufgebaut:<br>
<strong>onClick="document.getElementById('link_picalike_$ID').href='[Link_PicalikeSearch_5]';"<br>
⇒ 5</strong> = Artikelbild Nr. 5</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>onClick-Ereignisse werden jeweils durch ein Semikolon getrennt.</p>
</div>
<div class="paragraph">
<p>Jedes Bild in der Artikelansicht erfordert einen individuellen Link, wobei die Links eine fortlaufende Nummerierung erhalten.<br>
LinkTo_PicalikeSearch_2<br>
LinkTo_PicalikeSearch_3<br>
LinkTo_PicalikeSearch_4<br>
etc.</p>
</div>
<div class="paragraph">
<p>Für das zweite Artikelbild lautet der Code somit:</p>
</div>
<div class="paragraph">
<p><strong>onClick="document.getElementById('link_picalike_$ID').href='&#123;&#37; Link_PicalikeSearch(2) &#37;&#125;';"</strong></p>
</div>
<div class="paragraph instruction">
<p>picalike-Bildersuche mit mehreren Bildern in Template einbauen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Webdesign » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Fügen Sie den jeweiligen Code, wie in Bild 3 gezeigt, für die weiteren Artikelbilder ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Auf <strong>Bild 3</strong> sehen Sie, wo der Code für Artikelbild 2 eingefügt wird (Pfeil): vor der spitzen Klammer.</p>
</div>
<div class="paragraph">
<p>Verfahren Sie mit weiteren Bildern nach dem gleichen Muster.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-picalike-03-SI.png" alt="DE Mandant GlobEinstell ExtDienste picalike 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Code für <strong>weitere Artikelbilder</strong> einfügen</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_hilfe">5. Hilfe</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei Fragen bzw. im Fehlerfall wenden Sie sich bitte an unseren <strong>Support</strong>.</p>
</div>
<div class="paragraph">
<p>Ansprechpartner bei <strong>picalike</strong>:</p>
</div>
<div class="paragraph">
<p>Sebastian Kielmann<br>
Managing Director</p>
</div>
<div class="paragraph">
<p>picalike GmbH<br>
Wendenstr. 130<br>
D-20537 Hamburg<br>
Tel: +49 40 468 95 17 - 11<br>
Fax: +49 40 468 95 17 - 99<br>
Web: <a href="http://www.picalike.com" target="_blank" rel="noopener">http://www.picalike.com</a><br>
Email: <a href="mailto:s.kielmann@picalike.com">s.kielmann@picalike.com</a></p>
</div>
</div>
</div>
</main>