<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_sprachpakete"><span>1.</span><span> Sprachpakete</span></a></li>
<li><a href="#_texte_in_sprachpaketen_bearbeiten"><span>2.</span><span> Texte in Sprachpaketen bearbeiten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Sprachpakete</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Globale Einstellungen » Sprachpakete</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_sprachpakete">1. Sprachpakete</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Sprachpakete enthalten die vom System verwendeten Begriffe und Texte, die vorgegeben sind und automatisch im jeweiligen Bereich eingesetzt werden, z. B. <strong>Kategorie wählen</strong> oder <strong>in den Warenkorb</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_texte_in_sprachpaketen_bearbeiten">2. Texte in Sprachpaketen bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Menü haben Sie die Möglichkeit, die vom System verwendeten Texte des Bestellvorgangs sowie des Mein-Konto-Bereichs anzupassen. Sie können an den Standardübersetzungen Änderungen vornehmen, wenn Sie andere Begriffe oder Formulierungen verwenden möchten.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Mandant-GlobEinstell-Sprachpakete-01-SI.png" alt="DE Mandant GlobEinstell Sprachpakete 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: <strong>Sprachpakete</strong>; vorgegebene und eigene Texte</em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>Es gibt vier Textbereiche, an denen Sie Änderungen vornehmen können:</p>
</div>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>Allgemeine Texte</p>
</li>
<li>
<p>Hinweise</p>
</li>
<li>
<p>Fehlermeldungen</p>
</li>
<li>
<p>Warnungen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Sie können diese Änderungen für jedes zur Verfügung stehende Sprachpaket durchführen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Texte eines Sprachpaketes bearbeiten:</div>
<div class="paragraph">
<p>Unter <strong>Sprache</strong> das gewünschte Sprachpaket auswählen.</p>
</div>
<div class="paragraph">
<p>Unter <strong>Bereich</strong> einen der vier Textbereiche wählen.</p>
</div>
<div class="paragraph">
<p>Klicken Sie auf die <strong>Lupe</strong>.<br>
→ Die Liste der <strong>Texte</strong> wird angezeigt.</p>
</div>
<div class="paragraph">
<p>Sie können nun in der Spalte <strong>Eigene Übersetzung</strong> Ihre Änderungen vornehmen (siehe Bild 1, Pfeil).</p>
</div>
<div class="paragraph">
<p>Klicken Sie auf <strong>Speichern</strong>, um die Änderungen zu sichern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>