<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_trusted_shops"><span>1.</span><span> Trusted Shops</span></a></li>
<li><a href="#_trusted_shops_käuferschutz"><span>2.</span><span> Trusted Shops-Käuferschutz</span></a>
<ul class="sectlevel2">
<li><a href="#_käuferschutzmodelle"><span>2.1.</span><span> Käuferschutzmodelle</span></a></li>
<li><a href="#_käuferschutz_excellence_konfigurieren"><span>2.2.</span><span> Käuferschutz Excellence konfigurieren</span></a></li>
<li><a href="#_ansicht_im_webshop_bezahlvorgang"><span>2.3.</span><span> Ansicht im Webshop (Bezahlvorgang)</span></a></li>
<li><a href="#_css_code_einfügen"><span>2.4.</span><span> CSS-Code einfügen</span></a></li>
</ul>
</li>
<li><a href="#_kundenbewertungen_aktivieren"><span>3.</span><span> Kundenbewertungen aktivieren</span></a>
<ul class="sectlevel2">
<li><a href="#_trusted_shops_kundenbewertung_einbinden"><span>3.1.</span><span> Trusted Shops-Kundenbewertung einbinden</span></a></li>
</ul>
</li>
<li><a href="#_trusted_shops_gütesiegel_trustbadge"><span>4.</span><span> Trusted Shops-Gütesiegel (Trustbadge)</span></a></li>
<li><a href="#_trusted_shops_gütesiegel_in_ihren_webshop_integrieren"><span>5.</span><span> Trusted Shops-Gütesiegel in Ihren Webshop integrieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Trusted Shops</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Mandant (Shop) » Standard » Dienste » Trusted Shops</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_trusted_shops">1. Trusted Shops</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="/omni-channel/online-shop/extras/trusted-shops">Trusted Shops</a></strong> ist das bekannte Internet-Gütesiegel für Online-Shops mit Käuferschutz für Ihre Online-Kunden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_trusted_shops_käuferschutz">2. Trusted Shops-Käuferschutz</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Integration des Trusted Shops-Käuferschutzes erfolgt zweistufig. Im ersten Schritt wird das Käuferschutzmodell ausgewählt und konfiguriert, das im Checkout dem Kunden angezeigt wird. Die meisten verwenden den für Verbraucher kostenlosen <strong>Classic-Käuferschutz</strong>. Alternativ können Sie den <strong>Excellence-Käuferschutz</strong> verwenden. Im zweiten Schritt erfolgt die <strong>Einbindung</strong> des <strong>Trusted Shops-Gütesiegels</strong> im Frontend in Form des <strong>Trustbadges</strong>.</p>
</div>
<div class="sect2">
<h3 id="_käuferschutzmodelle">2.1. Käuferschutzmodelle</h3>
<div class="paragraph">
<p>Das <strong>Excellence</strong>-Modell bietet die Absicherung einer Bestellung bis zu einer Summe von 20.000,- Euro. Hierfür fällt eine geringe Gebühr an. Da im Modell Excellence der Käuferschutz wie ein Produkt in den Warenkorb gelegt wird, wird dieser automatisch mit Abschluss der Bestellung aktiviert. Dieser Käuferschutz muss bei Trusted Shops gebucht werden, damit dieser genutzt werden kann. Die Konfiguration wird im folgenden Unterkapitel beschrieben.</p>
</div>
<div class="paragraph">
<p>Das <strong>Classic-Modell</strong> ist für den Verbraucher kostenlos. Jede Bestellung kann mit bis zu 2.500,- Euro abgesichert werden. Der Käuferschutz wird direkt nach der Bestellung im Shop angeboten.</p>
</div>
<div class="paragraph">
<p>Wenn eine gültige Trusted Shops-ID hinterlegt ist, wird einem Kunden in der Auftragsbestätigung ein Button zur Anmeldung zum Käuferschutz angezeigt. Wenn der Kunde auf den Button klickt, wird er an Trusted Shops weitergeleitet. Wo Sie die Trusted Shops-ID in plentymarkets hinterlegen ist in Kapitel 3 auf dieser Seite beschrieben.</p>
</div>
<div class="paragraph">
<p><strong>Beachten Sie:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Das Formular der Anmeldung zum Käuferschutz wird nur am Tag des Kaufes angezeigt.</p>
</li>
<li>
<p>Bei Käufen über eBay &amp; Co. wird das Formular ausgeblendet.</p>
</li>
<li>
<p><a href="http://www.trustedshops.de/info/kategorie/haeufige_fragen_zu_trusted_shops/geld-zurueck-garantie/" target="_blank">Fragen zum Käuferschutz</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_käuferschutz_excellence_konfigurieren">2.2. Käuferschutz Excellence konfigurieren</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Maerkte-Web-Einstell-TrustedShops-04-SI.png" alt="DE Maerkte Web Einstell TrustedShops 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: <strong>Benutzername</strong> und <strong>Passwort</strong> hinterlegen</em></p>
</div>
<div class="paragraph instruction">
<p>Käuferschutz Excellence aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Dienste » Trusted Shops</strong>.</p>
</li>
<li>
<p>Tragen Sie im Tab <strong>Kundenbewertungen</strong> die TS-ID ein. Die Kundenbewertungen müssen dabei nicht zwingend aktiviert werden.</p>
</li>
<li>
<p>Tragen Sie im Tab <strong>Käuferschutz Excellence</strong> den <strong>Benutzernamen</strong> und das <strong>Passwort</strong> ein, wie von Trusted Shops erhalten.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_ansicht_im_webshop_bezahlvorgang">2.3. Ansicht im Webshop (Bezahlvorgang)</h3>
<div class="paragraph">
<p>Für den Käuferschutz wird im Bezahlvorgang der Preis angezeigt und der Käufer kann diese Option dann durch Markieren in den Warenkorb legen. Damit wird die Abwicklung des Käuferschutzes aktiviert.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-Maerkte-Web-Einstell-TrustedShops-05-SI.png" alt="DE Maerkte Web Einstell TrustedShops 05 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Käuferschutz <strong>Excellence</strong> in den Warenkorb legen</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_css_code_einfügen">2.4. CSS-Code einfügen</h3>
<div class="paragraph">
<p>Für die Formatierung fügen Sie den folgenden <strong>CSS-Code</strong> in das Webdesign des Shops ein.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[source,xml]
----
/* TRUSTED SHOPS PROTECTION */</p>
<p class="tableblock">.PlentyWebPaymentMethodTsBuyerProtectionHeadline {
clear: both;
font-weight: bold;
margin-top: 20px;
padding: 0 5px;
}
.PlentyWebPaymentMethodTsBuyerProtectionText {
margin-top: 10px;
}
.PlentyWebPaymentMethodTsBuyerProtectionLink,
.PlentyWebPaymentMethodTsBuyerProtectionText &gt; div {
display: table-cell;
vertical-align: top;
}
.PlentyWebPaymentMethodTsBuyerProtectionText &gt; div {
padding-left: 16px;
color: #848484;
}</p>
<p class="tableblock">----</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>CSS-Code einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Webdesign » Layout » CSS » CSSOrder</strong>.</p>
</li>
<li>
<p>Fügen Sie den <strong>CSS-Code</strong> im Fenster <strong>CSS</strong> im Anschluss an den dort enthaltenen Code ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_kundenbewertungen_aktivieren">3. Kundenbewertungen aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Kundenbewertungen</strong> aktivieren Sie die Trusted Shops-Kundenbewertungen.</p>
</div>
<div class="paragraph instruction">
<p>Kundenbewertungen aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Dienste » Trusted Shops</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Kundenbewertungen</strong>.</p>
</li>
<li>
<p>Öffenen Sie das Untermenü der <strong>Sprache</strong>, für die die <strong>Trusted Shops-ID</strong> registriert ist.</p>
</li>
<li>
<p>Geben Sie Ihre 33-stellige <strong>Trusted Shops-ID</strong> ein.<br>
→ Bei formal korrekter ID (33 Zeichen, beginnend mit "X") wird zur <strong>Bestätigung</strong> ein <strong>grünes Icon</strong> angezeigt.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>plentymarkets kommuniziert nun mit Trusted Shops und gibt Ihnen, sofern die Aktivierung erfolgreich war, eine Erfolgsmeldung aus.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Trusted Shops-ID</div>
<div class="paragraph">
<p>Kommt es hierbei zu Fehlern, beachten Sie, dass Sie nicht die gleiche Trusted Shops-ID für mehrere Sprachen bei derselben Domain aktivieren können. Dies gilt jedoch nicht für die Aktivierung einer Trusted Shops-ID für einen Mandanten (Shop), der auf einer Subdomain (z. B. "test.test-shop.de") liegt. Beachten Sie dazu bitte auch die <a href="http://www.trustedshops.de/shopbetreiber/download.html"><strong>Nutzungsbedingungen für das Trusted Shops Kundenbewertungssystem</strong></a> und die <a href="http://www.trustedshops.de/shop-info/faq-haufige-fragen-zu-den-trusted-shops-kundenbewertungen/"><strong>Trusted Shops FAQ</strong></a>. Die hier gespeicherten <strong>Trusted Shops-IDs</strong> stellen die Grundlage für das Trusted Shops-Gütesiegel und den klassischen Käuferschutz dar. Eine Trusted Shops-ID ist nur für einen von Trusted Shops zertifizierten Webshop sowie für eine bestimmte Sprache gültig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_trusted_shops_kundenbewertung_einbinden">3.1. Trusted Shops-Kundenbewertung einbinden</h3>
<div class="paragraph">
<p>Wenn eine Trusted Shops-ID aktiviert ist, binden Sie die Template-Variablen für Trusted Shops (Widget und "Bewerten Sie uns"-Buttons) in den Webshop ein. Weitere Details dazu finden Sie auf der Handbuchseite <strong><a href="/omni-channel/online-shop/standard/externe-dienste/_trusted-shops/kundenbewertung">Kundenbewertung</a></strong>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_trusted_shops_gütesiegel_trustbadge">4. Trusted Shops-Gütesiegel (Trustbadge)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie Sie das Trusted Shops-Gütesiegel in Ihrem plentymarkets-Backend hinterlegen, wird im Folgenden beschrieben. Anschließend binden Sie das Gütesiegel noch in Ihren Webshop ein.</p>
</div>
<div class="paragraph instruction">
<p>Trusted Shops-Gütesiegel konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Dienste » Trusted Shops</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Gütesiegel</strong>.</p>
</li>
<li>
<p>Öffenen Sie das Untermenü der <strong>Sprache</strong>, für die die <strong>Trusted Shops-ID</strong> registriert ist.</p>
</li>
<li>
<p>Geben Sie Ihre 33-stellige <strong>Trusted Shops-ID</strong> ein. <br>
→ Bei formal korrekter ID (33 Zeichen, beginnend mit "X") wird zur <strong>Bestätigung</strong> ein <strong>grünes Icon</strong> angezeigt und der Link für den Siegelbox-Generator wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie über dem Bearbeitungsfenster <strong>Platzhalter-HTML</strong> auf den Link <strong>Trusted Shops Siegelbox-Generator</strong>.<br>
→ Sie werden zur entsprechenden Website von Trusted Shops weitergeleitet. Lassen Sie das Tab <strong>Gütesiegel</strong> geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß der Beschreibung von Trusted Shop vor.</p>
</li>
<li>
<p>Wechseln Sie zum geöffneten Tab <strong>Gütesiegel</strong> und fügen Sie den HTML-Code von Trusted Shops in das Bearbeitungsfenster ein (Strg bzw. cmd + V oder über rechte Maustaste).</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
<li>
<p>Lassen Sie das Menü geöffnet, um die Einstellungen des folgenden Kapitels <strong>Trusted Shops-Siegel in Ihren Webshop integrieren</strong> vorzunehmen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-TrustedShops-Kundenbewert02-SI.png" alt="DE TrustedShops Kundenbewert02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: HTML-Code einer Trusted Shops-Siegelbox aus dem <strong>Trusted Shops Siegelbox-Generator</strong>.</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_trusted_shops_gütesiegel_in_ihren_webshop_integrieren">5. Trusted Shops-Gütesiegel in Ihren Webshop integrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prüfen Sie die <strong>Voraussetzungen</strong> für die Integration des Trusted Shops-Gütesiegels:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sie haben eine gültige Trusted Shops-ID im Tab <strong>Gütesiegel</strong> hinterlegt (Kapitel 2).</p>
</li>
<li>
<p>Sie haben das Gütesiegel konfiguriert und sowohl das Siegel als auch die Hintergrundgrafik auf Ihrem Rechner gespeichert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Trusted Shops-Siegel in Ihren Webshop integrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Dienste » Trusted Shops</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Tab <strong>Gütesiegel</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>CMS » Bilder-Galerie</strong>.</p>
</li>
<li>
<p>Öffnen Sie den gewünschten Ordner.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Dateien hochladen</strong> und laden Sie das heruntergeladene <strong>Trusted Shops-Siegel</strong> und ggf. die <strong>Hintergrundgrafik</strong> von Ihrer lokalen Festplatte in Ihr plentymarkets-System.</p>
</li>
<li>
<p>Kopieren Sie die <strong>URL des Gütesiegels</strong> in die Zwischenablage (Strg bzw. cmd + C). Markieren Sie im HTML-Bearbeitungsfenster im Tab <strong>Gütesiegel</strong> die URL hinter <strong>src=</strong> und fügen Sie die URL aus der Zwischenablage dort ein (Strg bzw. cmd + V).</p>
</li>
<li>
<p>Kopieren Sie die <strong>URL der Hintergrundgrafik</strong> und fügen Sie diese im HTML-Bearbeitungsfenster anstelle der URL hinter dem HTML-Eintrag <strong>background-image: url</strong> in den HTML-Code ein.</p>
</li>
<li>
<p>Verwenden Sie dabei relative Pfadangaben (ohne "http://www.ihr-shop.de/"), wie in der nachfolgenden Abbildung gezeigt, d. h. löschen Sie jeweils den Pfad bis unmittelbar vor <strong>images</strong>. Sollten Sie das Siegel auch in HTML-E-Mail-Vorlagen verwenden wollen, verwenden Sie absolute Pfadangaben (mit "http://www.Ihr-shop.de/"), da die Grafiken sonst nicht erreichbar sind.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/extras/assets/DE-TrustedShops-Kundenbewert03-SIy.png" alt="DE TrustedShops Kundenbewert03 SIy">
</div>
</div>
<div class="paragraph">
<p>+
<em>Bild 4: Grafik-Pfadangabe im HTML-Code</em></p>
</div>
<div class="paragraph instruction">
<p>Variablen in das Template integrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS » Webdesign » Layout » PageDesign » PageDesignContent » Tab: PageDesignContentMainFrame</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den Link <strong>Template-Variablen und -Funktionen</strong>, wählen Sie den Ordner <strong>Global / PageDesignTemplateVars</strong> und kopieren Sie die Variable <strong>$TrustedShopsSeal</strong> in die Zwischenablage.</p>
</li>
<li>
<p>Fügen Sie die Variable im Template <strong>PageDesignContent</strong> an geeigneter Stelle ein, z. B. nach dem Bereich <strong>Sprachen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
<li>
<p>Prüfen Sie die Anzeige des Gütesiegels im Webshop.</p>
</li>
</ol>
</div>
</div>
</div>
</main>