<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Allyouneed</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Allyouneed in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating an order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#400"><span>6.</span><span> Linking categories</span></a></li>
<li><a href="#500"><span>7.</span><span> Linking attributes</span></a></li>
<li><a href="#600"><span>8.</span><span> Creating properties</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>8.1.</span><span> Creating a property for the condition</span></a></li>
<li><a href="#800"><span>8.2.</span><span> Creating a property for shipping information</span></a></li>
<li><a href="#900"><span>8.3.</span><span> Creating a property for shipping method</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>9.</span><span> Activating the payment method</span></a></li>
<li><a href="#1100"><span>10.</span><span> Setting up shipping profiles</span></a></li>
<li><a href="#1150"><span>11.</span><span> Defining SKU manually</span></a></li>
<li><a href="#1160"><span>12.</span><span> Automatically sending returns</span></a></li>
<li><a href="#1170"><span>13.</span><span> Automatically sending credit notes</span></a></li>
<li><a href="#1200"><span>14.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#130"><span>14.1.</span><span> Error message type: PRODUCT_NOT_FOUND</span></a></li>
<li><a href="#140"><span>14.2.</span><span> Error message type: INVALID_MODIFICATION</span></a></li>
<li><a href="#150"><span>14.3.</span><span> Error message type: MARKETPLACE_CATEGORY_NOT_FOUND</span></a></li>
<li><a href="#160"><span>14.4.</span><span> Error message type: VARIANT_GROUP_NOT_FOUND</span></a></li>
<li><a href="#170"><span>14.5.</span><span> Error message type: INVALID_DATA</span></a></li>
<li><a href="#180"><span>14.6.</span><span> Error message type: plenty</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Setting up Allyouneed in plentymarkets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find information about the settings you need to carry out in order to set up the market <strong>Allyouneed</strong> in plentymarkets. You will learn how to set up the interface, link categories and export your items to Allyouneed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Allyouneed</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, register with <a href="http://de.allyouneed.com/de/dealer/page/selfsignup/step1" target="_blank" rel="noopener">Allyouneed</a> as a seller in order to set up the interface to <strong>Allyouneed</strong> in your plentymarkets system. Please note that the Allyouneed website is currently only available in German. You will then receive the access data that you need for the configuration in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Allyouneed in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have registered with Allyouneed, use the access data that is saved there to set up the market in plentymarkets. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Allyouneed in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Allyouneed » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Basic settings for the market Allyouneed</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Access data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the password of the Allyouneed account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> for the <strong>test mode</strong>.<br>
Activate the Allyouneed test environment. This tests the item upload and makes it possible to receive test orders. You need separate access data for a test account. Register with Allyouneed to receive a <a href="https://portal.allyouneed.com/funktionsuebersicht/testsystem.html" target="_blank" rel="noopener">test system</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Basic configuration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the name that should be used for Allyouneed items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the stores that you would like the settings to apply to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the availability. The items with the selected availability are transferred. Set up the options for item availability in the <a href="/en/item/managing-items#190">System » Item » Availability</a> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a delivery period or select <strong>Do not transfer</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Additional days</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of days that should be added to the value specified under <strong>Item availability</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <strong>main warehouse</strong> or the <strong>maximum stock quantity of all distribution warehouses</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically transfer changes in stock &amp; price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you want to transfer stock &amp; price changes automatically.<br>
<strong>YES</strong> = Changed stock and prices are transferred to Allyouneed every hour.<br>
<strong>NO</strong> = Items are only synchronised if the whole item is transferred to Allyouneed. The synchronisation is carried out approximately every 7 days.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Advanced options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mark order as paid</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>YES</strong> to mark the order as paid after it has been imported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add technical data to the description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>YES</strong> if you would like the entry under <strong>Technical data</strong> to be added to the entry under <strong>Description</strong> in the <strong>Texts</strong> tab of the item data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a value for the stock buffer, e.g. <strong>4</strong>. This means that 4 items will be reserved for Allyouneed and will be subtracted from the net stock in your system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity for items not limited to the stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a quantity of items that is not limited to stock. This amount represents the <strong>stock</strong> that is displayed on Allyouneed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum for item upload</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a maximum limit for the item quantity, i.e. how many pieces may be uploaded per item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the standard tax rate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reduced tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the corresponding <strong>reduced tax rate</strong>.<br>
Pay attention to the tax rates settings in the <a href="/en/en/order-processing/orders/accounting">System » Client » Select client » Locations » Select locations » Accounting</a> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add the variation name to the item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> to add the variation name to the item name.<br>
<strong>Example</strong>: T-Shirt [Colour:dark blue; Size:L]].</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer manufacturers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an option for the transfer of <strong>manufacturers</strong>. It is necessary to enter the manufacturer in order to export items to Allyouneed.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily transfer of new items and changes to items</p>
</li>
<li>
<p>Hourly synchronisation of order status</p>
</li>
<li>
<p>Hourly order import</p>
</li>
<li>
<p>Hourly shipping confirmation for orders with the outgoing items booked</p>
</li>
<li>
<p>Hourly cancellation of orders with a status higher than [8] and lower than [9]</p>
</li>
<li>
<p>Daily stock synchronisation of all stocks</p>
</li>
<li>
<p>Hourly synchronisation of order data (e.g. changed stock, prices)</p>
</li>
<li>
<p>Daily deletion of items on the market that are no longer available</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Allyouneed you have to activate the order referrer Allyouneed in the menu <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Allyouneed:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Allyouneed</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Allyouneed. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID</a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Allyouneed:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Allyouneed</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on Allyouneed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
<div class="paragraph">
<p>In order to prepare your items for the export to Allyouneed, the settings described below are necessary. In addition, pay attention to the requirements published by Allyouneed in order to have your items exported correctly. In the <strong>Item » Edit item</strong> menu, the following fields are mandatory for the item export:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong>: Enter text in the <strong>Name 1</strong> field in the <strong>Texts</strong> tab. This text is transferred to Allyouneed and displayed as the item name.</p>
</li>
<li>
<p><strong>Price</strong>: Enter a value bigger than 0.00.</p>
</li>
<li>
<p><strong>Manufacturer</strong>: Enter a text in the field <strong>Manufacturer</strong> in the tab <strong>Global</strong>.</p>
</li>
<li>
<p><strong>Category</strong>: Link the categories. For further information, refer to the <a href="/en/en/item/managing-items#10">Creating categories</a> chapter.</p>
</li>
<li>
<p><strong>Description (long)</strong>: Enter text in the <strong>Item text</strong> field in the <strong>Texts</strong> tab. This text is transferred to Allyouneed and displayed as the long product description.</p>
</li>
<li>
<p><strong>Description (short)</strong>: Enter text in the <strong>Preview text</strong> field in the <strong>Texts</strong> tab. This text is transferred to Allyouneed and displayed as the short product description. The maximum length is 200 characters. If you do not enter a preview text, the item name is automatically used as the short product description text.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In the <strong>Item » Edit item</strong> menu, the following fields are optional for the item export:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item images</strong>: Allyouneed only accepts item images that are at least 500 x 500 px with a resolution of 72 dpi and have the formats JPG, GIF or PNG.</p>
</li>
<li>
<p><strong>Technical data</strong>: Enter text in the <strong>Technical data</strong> field in the <strong>Texts</strong> tab. This text is displayed with the normal item description if you have activated the option <strong>Add technical data to the description</strong> in the basic settings.</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Switching items "offline"</div>
<div class="paragraph">
<p>If you no longer want to export the item, open the item in the <strong>Item » Edit item</strong> menu and deactivate the <strong>Allyouneed</strong> option in the <strong>Available</strong> tab. During the next round of automatic stock updates, this item is then set to "offline" in Allyouneed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Allyouneed. This price is displayed on Allyouneed.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Allyouneed:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>Allyouneed</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Approximately 3,000 Allyouneed product categories are available for linking your item categories to the Allyouneed categories. Because you have to link the Allyouneed categories all the way to the last level, your categories should be as specific as possible. Check your categories and, if necessary, create additional subcategories that are more suitable for linking with Allyouneed.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Adding additional Allyouneed categories</div>
<div class="paragraph">
<p>Additional Allyouneed categories can be added. To do so, get in contact with <strong><a href="https://portal.allyouneed.com/verkaufen-mit-allyouneed.html">Allyouneed.com</a>^</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Allyouneed » Category link</strong>.</p>
</li>
<li>
<p>Select a main category from the <strong>Allyouneed category</strong> drop-down list.<br>
→ The window <strong>Category selection</strong> opens.</p>
</li>
<li>
<p>Select a subcategory.<br>
→ The <strong>category ID</strong> is only displayed once you have reached the lowest category level.</p>
</li>
<li>
<p>Click on the gear-wheel icon to save the link.<br>
→ The editing window is closed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item variations, i.e. items that are saved with specific attributes, can also be exported to Allyouneed. If you have created <a href="/en/item/managing-items#390">attributes</a> in your plentymarkets system, you have to link these attributes with Allyouneed. Proceed as described below to link the attribute <strong>colour</strong> of the <strong>outerwear</strong> group with Allyouneed. Link further attributes in the same way. Information on parameters and attribute values that you can use for Allyouneed are available in the <a href="https://portal.allyouneed.com/support/downloadbereich/allyouneed.html" target="_blank" rel="noopener">Allyouneed documentation</a> (German only).</p>
</div>
<div class="paragraph instruction">
<p>Linking attributes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Attributes</strong>.<br>
→ An overview of all existing attributes opens.</p>
</li>
<li>
<p>Expand the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Open the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>Allyouneed</strong> from the <strong>Market</strong> drop-down list.<br>
→ A second drop-down list <strong>Allyouneed</strong> is displayed.</p>
</li>
<li>
<p>Select the option <strong>Outerwear</strong> from the <strong>Group</strong> drop-down list.</p>
</li>
<li>
<p>Select the <strong>Colour</strong> option from the <strong>Attribute</strong> drop-down list.</p>
</li>
<li>
<p>Enter a unit if needed.</p>
</li>
<li>
<p>Enter the Allyouneed attribute values that most closely match your own attribute values. This is done in the Market variation area.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Optional: Unit</div>
<div class="paragraph">
<p>In addition to the mandatory fields <strong>Group</strong> and <strong>Attribute</strong>, the third option, <strong>Unit</strong>, is displayed for certain groups or attributes, e.g. <strong>measurements</strong>. You can enter a value here, e.g. <strong>dpt</strong> (dioptre value) for contact lenses.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The properties described below are required to specify the condition and the shipping information. You can create a <a href="/en/item/managing-items#490">property group</a> for Allyouneed and assign all properties you create for Allyouneed to this group. Only options relevant for Allyouneed are described here. For further details, refer to the <a href="/en/item/managing-items#480">Managing properties</a> page of the manual.</p>
</div>
<div class="sect2">
<h3 id="700">8.1. Creating a property for the condition</h3>
<div class="paragraph">
<p>The Allyouneed market has a separate section for <a href="https://portal.allyouneed.com/verkaufen-mit-allyouneed/highlights-vorteile/b-ware.html" target="_blank" rel="noopener">selling factory seconds</a> (B-Ware). You have to possibilities to list there:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Go to <strong>Item » Edit Item » Open item » Tab: Global</strong>. In the section <strong>Basic settings</strong>, select <strong>Factory seconds</strong> from the drop-down list <strong>Condition for API</strong>.</p>
</li>
<li>
<p>Create a <a href="/en/item/managing-items#500">property</a> for the condition. The advantage of creating a property is that the property can be used for other conditions such as <strong>display item</strong>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If the sale of an item marked as factory second has been activated by one of these two possibilities, the fields <strong>EAN</strong>, <strong>Manufacturer</strong> and <strong>Manufacturer number</strong> are no longer transferred. This prevents mixing factory seconds with normal items in search results.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for the condition:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Open the <strong>New Property</strong> tab.</p>
</li>
<li>
<p>Enter a name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select a <strong>Property group</strong>, if available.</p>
</li>
<li>
<p>Select the option <strong>Selection</strong> from the <strong>Property type</strong> drop-down list.<br>
→ The <strong>New selection</strong> area is opened.</p>
</li>
<li>
<p>Enter <strong>Factory seconds</strong> in the <strong>Name</strong> field.</p>
</li>
<li>
<p>Select the option <strong>Factory Seconds</strong> from the <strong>Allyouneed property</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is created.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Expand the property.</p>
</li>
<li>
<p>Enter the name <strong>Refurbished</strong> in the next selection field of the <strong>Selection</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Repeat steps 11 and 12 for the selection fields <strong>Verpackungsschäden</strong> (means that the packaging is damaged) and <strong>Demoware</strong> (means that the item was on display).</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="800">8.2. Creating a property for shipping information</h3>
<div class="paragraph">
<p>Using properties you can also transfer <strong>shipping information</strong> for an item. This is useful if an item needs to be shipped by a forwarding agency and the shipping costs thus differ from the general settings on Allyouneed.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for shipping information:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Open the <strong>New Property</strong> tab.</p>
</li>
<li>
<p>Enter a name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select a <strong>Property group</strong>, if available.</p>
</li>
<li>
<p>Select the option <strong>Decimal number</strong> from the <strong>Property type</strong> drop-down list.</p>
</li>
<li>
<p>Select the option <strong>Shipping costs</strong> from the <strong>Allyouneed property</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is created.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Fixed shipping costs</div>
<div class="paragraph">
<p>For the property <strong>Fixed shipping costs</strong>, enter the name <strong>Fixed shipping costs</strong>, select the property type <strong>Whole number</strong> and the Allyouneed property <strong>Fixed shipping costs</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="900">8.3. Creating a property for shipping method</h3>
<div class="paragraph">
<p>First create the property <strong>Shipping method</strong> for an item.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for shipping method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Open the <strong>New Property</strong> tab.</p>
</li>
<li>
<p>Enter a name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select a <strong>Property group</strong>, if available.</p>
</li>
<li>
<p>Select the option <strong>Selection</strong> from the <strong>Property type</strong> drop-down list.<br>
→ The <strong>New selection</strong> area is opened.</p>
</li>
<li>
<p>Enter <strong>BULK_GOODS</strong> in the <strong>Name</strong> field.</p>
</li>
<li>
<p>Enter the description <strong>Bulky goods</strong> in the <strong>Description</strong> field.</p>
</li>
<li>
<p>Select the option <strong>Shipping method</strong> from the <strong>Allyouneed property</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The property is created.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Expand the property.</p>
</li>
<li>
<p>Enter the name <strong>FORWARDING_AGENCY</strong> in the next selection field of the <strong>Selection</strong> area.</p>
</li>
<li>
<p>Enter the description <strong>Cargo</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Repeat steps 12 to 14 for the <strong>BOOK_RATE</strong> selection field with the description <strong>Book mail</strong> and the <strong>CONSIGNMENT_OF_GOODS</strong> selection field with the description <strong>Shipping</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">9. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/en/order-processing/payment/managing-payment-methods">payment method</a> <strong>Allyouneed Payments</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the Allyouneed payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE</strong>.</p>
</li>
<li>
<p>Click on <strong>Allyouneed Payments</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 5.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, then the logo that has been uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, upload an external logo here.<br>
 Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important</strong>: Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/en/basics/statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods#20">Managing payment methods</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods">Payment methods</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">10. Setting up shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Orders received from Allyouneed may only be shipped with <strong>DHL</strong> or <strong>Deutsche Post</strong>. Allyouneed does not guarantee full payment protection when other shipping service providers are used. Exceptions for shipping exist for cargo.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a shipping profile for Allyouneed:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Shipping » Settings » Tab: Shipping profiles</strong>.</p>
</li>
<li>
<p>Open a shipping profile.</p>
</li>
<li>
<p>Activate the option <strong>Allyouneed</strong> under <strong>Order referrer</strong>.</p>
</li>
<li>
<p>Deactivate the option <strong>Allyouneed</strong> under <strong>Blocked payment methods</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After the order has been edited, plentymarkets will confirm the shipment with Allyouneed and transfer the package number. Make sure you save the package number in the corresponding order directly after you have booked the outgoing items. This will ensure that it is transferred along with the shipping confirmation and that the purchaser can receive them from Allyouneed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1150">11. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the menu <a href="/en/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</a> if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> in the section <strong>SKU</strong>.<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Allyouneed.com</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1160">12. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="#en/basics/automation/event-procedures">event procedure</a> to automatically send returns to Allyouneed.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the event listed in table <a href="#table-event-procedure-return">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the information given in <a href="#table-event-procedure-return">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-return" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Event procedure for sending automatic returns to Allyouneed</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allyouneed</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to Allyouneed</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1170">13. Automatically sending credit notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you already received a payment and you want to refund a customer with a credit note, set up an <a href="/en/en/basics/automation/event-procedures">event procedure</a> to automatically send credit notes to Allyouneed.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the event listed in table <a href="#table-event-procedure-credit-note">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the information given in <a href="#table-event-procedure-credit-note">Table 4</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-credit-note" class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Event procedure for automatically sending credit notes to Allyouneed</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New credit note</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Credit note</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allyouneed</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send credit note to Allyouneed</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">14. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="130">14.1. Error message type: PRODUCT_NOT_FOUND</h3>
<div class="openblock collapseBox">
<div class="title">Product could not be found. (Code: 1005) / Product could not be created. No description exists for this product. (Code: 1040)</div>
<div class="content">
<div class="paragraph">
<p>These messages indicate that Allyouneed has not saved any data for this EAN yet and that the item cannot be created without a description.<br>
→ Enter a description and save the categories.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">The product could not be clearly assigned. Add further identifiers. (Code: 4026)</div>
<div class="content">
<div class="paragraph">
<p>This message indicates that multiple sellers have already listed the item with different specifications.<br>
→ Contact Allyouneed and ask them to combine the items or transfer your description and category links.<br>
Another reason might be that you have saved multiple price sets for this item in plentymarkets.<br>
→ Only one price set can be transferred. Delete the other price sets in plentymarkets, remove the item from Allyouneed and transfer the item again.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">14.2. Error message type: INVALID_MODIFICATION</h3>
<div class="openblock collapseBox">
<div class="title">The product cannot be updated or created due to ambiguous identifiers for the product. (Code: 4010)</div>
<div class="content">
<div class="paragraph">
<p>This message indicates that the manufacturer data does not match the EAN that was transferred. For example, "Gigaset" was transferred as the manufacturer. However, it is saved as "Siemens AG" in the Allyouneed catalogue.<br>
→ Check your manufacturer data and contact Allyouneed if necessary.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">A product with identical manufacturer data was found. (Code: 4025)</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that the manufacturer data is wrong. Contact Allyouneed.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Product 'xxx' with Allyouneed ID 'xxx' could not be matched with product 'xxx'. (Code: 4023)</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that the item is included in the Allyouneed catalogue but could not be assigned to it because the item has already been listed with this account.<br>
→ Delete the item from the Allyouneed account. The item should be listed correctly when it is transferred again.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Marketplace category cannot be mapped because you are not the originator of this product.</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that the item with this EAN is already included in the Allyouneed catalogue, but it is listed in a different category.<br>
→ If this message is not followed by "PRODUCT_NOT_FOUND”, then it is simply a warning and the item is listed anyway. However, the item is not listed with your description. Instead, it is listed with the description in the Allyouneed catalogue.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">The EAN is already in use. It is only possible to use EANs several times if the products contain different manufacturer data or variation attributes. (Code: 4027)</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that the item has already been transferred to Allyouneed with this account. However, the specified IDs ("own product number") do not match.<br>
→ Delete the item from the Allyouneed account. The item should be listed correctly when it is transferred again.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">The product xxx could not be assigned to the variation group xxx because the mandatory attribute values could not be found. (Code: 5019)</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that a different seller has already transferred the item with variations and that your item does not have any variations or has different variations saved for it.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">The EAN cannot be changed. You have not created the product 'xxx' (mpid: xxx). (Code: 4002)</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that the item was already linked to an item from the Allyouneed catalogue and that it is therefore not possible to change the EAN.<br>
→ Delete the item from the account on Allyouneed or contact Allyouneed.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Not possible to update physical product. Product with the same ManufacturerName and AID found in the system.</div>
<div class="content">
<div class="paragraph">
<p>Delete the item from the account on Allyouneed. The item should be listed correctly when it is transferred again.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">An unknown error occurred, please contact Allyouneed support, with this xmlfile.</div>
<div class="content">
<div class="paragraph">
<p>This message indicates that the attribute links are incorrect. For example, only numbers might be permitted as values but letters were entered as well. Or if a combination of attributes does not fit together, e.g. if an attribute for "shoes" was combined with an attribute for "hats".</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Invalid variation attributes for product "xyz". Check whether the variation group/attribute configuration corresponds to your product data. (Code: 5008)</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that no attribute group was assigned to the attribute for Allyouneed.<br>
→ Carry out the steps listed in the <a href="/en/en/item/managing-items#440">Linking attributes</a> chapter.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="150">14.3. Error message type: MARKETPLACE_CATEGORY_NOT_FOUND</h3>
<div class="openblock collapseBox">
<div class="title">Market category 'c' was not found. (Code: 1003)</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that an error occurred while linking the categories.<br>
→ Check whether the category ID that was entered is correct. You may simply have made a typo while entering the ID.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="160">14.4. Error message type: VARIANT_GROUP_NOT_FOUND</h3>
<div class="openblock collapseBox">
<div class="title">Variation group 'xxx' was not found. (Code: 5009)</div>
<div class="content">
<div class="paragraph">
<p>This error message is a consequence of the error "Failed to create variation group (Code: 50026)".<br>
→ Contact Allyouneed.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="170">14.5. Error message type: INVALID_DATA</h3>
<div class="openblock collapseBox">
<div class="title">Not valid or missing required variant attribute values for DescriptionProduct with code 'xxx'. Variant group: xxx. Required attribute 'memoryCapacity'.</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that the attributes were not linked correctly or that a different seller has already transferred the item with variations and that your item does not have any variations saved for it.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Invalid price &lt;0&gt;. The price must be a positive decimal number. (Code: 1015)</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that no price was saved.<br>
→ Save a price for the item in the item data.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Duplicate variant attribute values found for physical product with code $xyz inside a variant group - code: xyz</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that there are duplicate attribute values or that multiple item attributes were linked with various, non-compatible Allyouneed attribute groups.<br>
→ For further information about Allyouneed groups, refer to the <a href="/en/en/item/managing-items#440">Linking attributes</a> chapter.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="180">14.6. Error message type: plenty</h3>
<div class="openblock collapseBox">
<div class="title">missing "marketplaceCategory"</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that there is neither an EAN nor a description/category link that the item can be listed with.<br>
→ Save an EAN and description in the item data and link the categories.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">missing "name"</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that the item does not have a name.<br>
→ Enter a name in the item data.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">missing "productId"</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that an ID is missing.<br>
→ Contact plentymarkets.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">missing "attribute group code"</div>
<div class="content">
<div class="paragraph">
<p>This error message indicates that no attribute group was assigned to the attribute for Allyouneed.<br>
→ Carry out the steps listed in the <a href="/en/en/item/managing-items#440">Linking attributes</a> chapter.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>