<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#errormessages"><span>1.</span><span> Allyouneed - Error messages in the item export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: Allyouneed</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Best Practices for the marketplace <strong>Allyouneed</strong> can be found on this page.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="errormessages">1. Allyouneed - Error messages in the item export</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title">Error message: “Attribute link for attribute ID X not set.”</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the attribute link.</p>
</div>
<div class="paragraph">
<p>It is necessary to link plentymarkets attributes and Allyouneed attributes in order to connect them properly with Allyouneed attributes. If they are not linked, the error message cited above will occur.</p>
</div>
<div class="paragraph">
<p>Attributes are linked here: <strong>System » Item » Attributes » Open attribute with ID X » Tab: Attribute link » Allyouneed.com</strong>.</p>
</div>
<div id="attributelink-AYN" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/Allyouneed/assets/bp-ayn-attribute.png" alt="bp ayn attribute">
</div>
<div class="title">Figure 1. Attribute links for Allyouneed</div>
</div>
<div class="paragraph">
<p>Select the corresponding attribute for the Allyouneed attribute.
The attribute values can be translated for Allyouneed. If no attribute values are set, the name of the value will be transferred.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: “Availability is not enabled.”</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the item availability of the variation.</p>
</div>
<div class="paragraph">
<p>You can define that only specific variations with specific item availabilities are exported. This is defined in <strong>System » Markets » Allyouneed » Settings</strong>.</p>
</div>
<div id="item-availability-AYN" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/Allyouneed/assets/bp-ayn-artikelverfuegbarkeit.png" alt="bp ayn artikelverfuegbarkeit">
</div>
<div class="title">Figure 2. Item availability for Allyouneed</div>
</div>
<div class="paragraph">
<p>Multiple item availabilities can be selected. Choose from the option “ALL” and the 10 item availabilities that can be configured in the menu <strong>System » Item » Availability</strong>. The <strong>name</strong> of the item availability is displayed.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Note</div>
<div class="paragraph">
<p>If the name of the item availability is empty, an empty column will be displayed which can be selected anyway.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If the variation possesses an item availability which is not approved for export at the time of the export, then the error message “Availability is not enabled.” will be issued.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Note</div>
<div class="paragraph">
<p>Items which have already been activated for the marketplace will be deleted if an error occurs during the stock update. Accordingly, the item availability can be used to automatically delete items from Allyouneed whose item availability depends on the stock.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message 1095</div>
<div class="content">
<div class="paragraph">
<p>The complete error message issued by Allyouneed reads:</p>
</div>
<div class="paragraph">
<p><code>INVALID_MODIFICATION: Die Kategorie X.X.X.X kann nicht genutzt werden, da es Unterkategorien gibt. (Code: 1095)</code></p>
</div>
<div class="paragraph">
<p>(The category X.X.X.X cannot be used because there are subcategories.)</p>
</div>
<div class="paragraph">
<p>This means that the category link which has been set in <strong>System » Markets » Allyouneed » Category link</strong> is not permitted. You must always select the lowest possible category level. Check the category links for all categories that are saved for the item.
Another cause might be that Allyouneed’s category structure has been updated and that there are new subcategories which have to be linked.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message 100</div>
<div class="content">
<div class="paragraph">
<p>The complete error message issued by Allyouneed reads:</p>
</div>
<div class="paragraph">
<p><code>INVALID_DATA: Die angegebene EAN ‘1234567890123’ wird bereits in Produkt ‘274’ verwendet. EAN dürfen nur in Varianten doppelt vergeben werden. Nähere Informationen finden Sie unter <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a> (Code: 100)</code></p>
</div>
<div class="paragraph">
<p>(The given EAN ‘1234567890123’ is already used for Product ‘274’. EAN can only be assigned twice for variations. For further information, refer to <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a>. Please note that this website is currently only available in German.)</p>
</div>
<div class="paragraph">
<p>This error message is issued if multiple items are transferred to Allyouneed with the same EAN.</p>
</div>
<div class="paragraph">
<p>In order to find out which variations are affected, you can analyse the error message as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>EAN ‘1234567890123’</strong> - Search for this barcode to find potential doublings in the system.</p>
</li>
<li>
<p><strong>Produkt ‘274’</strong> - This is the SKU of the variation which has been listed on Allyouneed and which is now blocking the export of other items because it has the same EAN.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>There are two possibilities to fix the issue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Make sure that variations which are transferred to the same marketplace each have a unique EAN.</p>
</li>
<li>
<p>Do not transfer an EAN for variations which have the same EAN. To do so, you have to have at least two barcodes. Barcodes are organised in the menu <strong>System » Item » Barcode</strong>. You need one barcode which is released for the order referrer Allyouneed and one barcode which is not released for Allyouneed.
For items whose EAN should not be transferred you have to keep the EAN in the barcode which has not been released for Allyouneed.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message 200</div>
<div class="content">
<div class="paragraph">
<p>The complete error message issued by Allyouneed reads:</p>
</div>
<div class="paragraph">
<p><code>INVALID_DATA: Es konnte kein passendes Produkt zu diesem Angebot gefunden werden. Nähere Informationen finden Sie unter <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a> (Code: 200)</code></p>
</div>
<div class="paragraph">
<p>(No item found. For further information, refer to <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a>. Please note that this website is currently only available in German.)</p>
</div>
<div class="paragraph">
<p>This error message is issued if an offer has been transferred to Allyouneed which does not yet contain a product.</p>
</div>
<div class="paragraph">
<p>There are two possibilities to fix the issue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>There is an error concerning the catalog export in the menu <strong>System » Markets » Allyouneed » Item export</strong>.</p>
<div class="ulist">
<ul>
<li>
<p>This error has to be fixed so that the product can be launched.</p>
</li>
</ul>
</div>
</li>
<li>
<p>There is no error concerning the catalog export in the menu <strong>System » Markets » Allyouneed » Item export</strong>.</p>
<div class="ulist">
<ul>
<li>
<p>The product has been transferred successfully but the creation of the offer has been requested before the product was launched. The product can either be listed manually or it will be launched automatically after one night.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about the differences between product and offer, see <a href="https://forum.plentymarkets.com/t/allyouneed-artikelexport-unterschied-produkt-und-angebot/58922" class="bare">https://forum.plentymarkets.com/t/allyouneed-artikelexport-unterschied-produkt-und-angebot/58922</a> Please note that this information is currently only available in German.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message 203</div>
<div class="content">
<div class="paragraph">
<p>The complete error message issued by Allyouneed reads:</p>
</div>
<div class="paragraph">
<p><code>INVALID_DATA: Es existiert bereits ein Angebot zu diesem Produkt ‘XXXX’. Nähere Informationen finden Sie unter <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a> (Code: 203)</code></p>
</div>
<div class="paragraph">
<p>(There is already an offer for product ‘XXXX’. For further information, see <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a>. Please note that this website is currently only available in German.)</p>
</div>
<div class="paragraph">
<p>This error message is issued if multiple items are transferred to Allyouneed with the same EAN.</p>
</div>
<div class="paragraph">
<p>In order to find out which variations are affected, you can analyse the error message as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Produkt ‘XXXX’</strong> - This is the SKU of the variation which has been listed on Allyouneed and which is now blocking the export of other items because it has the same EAN.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>There are two possibilities to fix the issue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Make sure that variations which are transferred to the same marketplace each have a unique EAN.</p>
</li>
<li>
<p>Do not transfer an EAN for variations which have the same EAN. To do so, you have to have at least two barcodes. Barcodes are organised in the menu <strong>System » Item » Barcode</strong>. You need one barcode which is released for the order referrer Allyouneed and one barcode which is not released for Allyouneed.
For items whose EAN should not be transferred you have to keep the EAN in the barcode which has not been released for Allyouneed.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message 206</div>
<div class="content">
<div class="paragraph">
<p>The complete error message issued by Allyouneed reads:</p>
</div>
<div class="paragraph">
<p><code>INVALID_DATA: Es gibt bereits ein Produkt mit einer anderen productId ‘XXXX’, das zu den angegebenen Daten ‘EAN:YYYYYYYYYYYYY ZZZ:typ=12.5 kg’ passt. Es ist nicht erlaubt ein identisches Produkt mehrfach anzulegen. Nähere Informationen finden Sie unter <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a>(Code: 206)</code></p>
</div>
<div class="paragraph">
<p>(There is already a product with another productId ‘XXXX’ which matches with the given data ‘EAN:YYYYYYYYYYYYY ZZZ:typ=12.5 kg’.) An identical product cannot be created multiple times. For further information, see <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a>. Please note that this website is currently only available in German.)</p>
</div>
<div class="paragraph">
<p>This error message is issued if multiple items are transferred to Allyouneed with the same EAN.</p>
</div>
<div class="paragraph">
<p>In order to find out which variations are affected, you can analyse the error message as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>productId 'XXXX’</strong> - The given productId is the same as the SKU of the variation which produced an error.</p>
</li>
<li>
<p><strong>Data 'EAN:YYYYYYYYYYYYY ZZZ:typ=12.5 kg’</strong> - The data refers to the product which has already been listed on Allyouneed and which is blocking the synchronisation. You can search the product in your plentymarkets system with this data:</p>
<div class="ulist">
<ul>
<li>
<p>EAN:YYYYYYYYYYYYY</p>
</li>
<li>
<p>ZZZ ⇒ plentymarkets item ID</p>
</li>
<li>
<p>typ=12.5 kg ⇒ attribute linked in your plentymarkets system</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>There are two possibilities to fix the issue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Make sure that variations which are transferred to the same marketplace each have a unique EAN.</p>
</li>
<li>
<p>Do not transfer an EAN for variations which have the same EAN. To do so, you have to have at least two barcodes. Barcodes are organised in the menu <strong>System » Item » Barcode</strong>. You need one barcode which is released for the order referrer Allyouneed and one barcode which is not released for Allyouneed.
For items whose EAN should not be transferred you have to keep the EAN in the barcode which has not been released for Allyouneed.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message "Short description is missing"</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the preview text.</p>
</div>
<div class="paragraph">
<p>The short description is mandatory for Allyouneed. For the Allyouneed short description, plentymarkets transfers the item’s preview text from the <strong>Tab: Texts</strong>. If this text is not given, plentymarkets transfers the item name. If neither the preview text nor the item name is given, this error message will appear.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message “Product name is missing"</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the item name.</p>
</div>
<div class="paragraph">
<p>Go to <strong>System » Markets » Allyouneed » Settings » Grundkonfiguration</strong> to define the item name that should be used. If the item name has not been entered in the <strong>Tab: Texts</strong>, this error message will appear.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message “Category link is missing"</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the category link of the variation’s categories.</p>
</div>
<div class="paragraph">
<p>The category link must be set for export. At least one of the variation’s categories must be linked. To link categories, go to <strong>System » Märkte » Allyouneed » Category link</strong>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message 402</div>
<div class="content">
<div class="paragraph">
<p>The complete error message issued by Allyouneed reads:</p>
</div>
<div class="paragraph">
<p><code>INVALID_DATA: Es wurde kein Produkt/Angebot mit dieser productId gefunden. Nähere Informationen finden Sie unter <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a> (Code: 402)</code></p>
</div>
<div class="paragraph">
<p>(No product/offer with this productId was found. For further information, refer to <a href="https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/" class="bare">https://portal.allyouneed.com/hilfe-downloads/downloads-dokumentationen/fehlermeldung-xml/</a>. Please note that this website is currently only available in German.)</p>
</div>
<div class="paragraph">
<p>This error message appears if we have tried to delete the item but there are no products or offers on Allyouneed with this SKU (productId). We assume that this product does not exist anymore on Allyouneed. We will not attempt again to delete the product.</p>
</div>
<div class="paragraph">
<p>If the product is still on Allyouneed, the SKUs differ. This product must then be deleted manually on Allyouneed.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message 1040</div>
<div class="content">
<div class="paragraph">
<p>The complete error message issued by Allyouneed reads:</p>
</div>
<div class="paragraph">
<p><code>PRODUCT_NOT_FOUND: Das Produkt konnte nicht angelegt werden. Es existiert keine Beschreibung für dieses Produkt. (Code: 1040)</code></p>
</div>
<div class="paragraph">
<p>(The product could not be created. No description exists for this product.)</p>
</div>
<div class="paragraph">
<p>This error message is issued if an offer has been transferred to Allyouneed which does not yet contain a product.</p>
</div>
<div class="paragraph">
<p>There are two possibilities to fix the issue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>There is an error concerning the catalogue export in the menu <strong>System » Markets » Allyouneed » Item export</strong>.</p>
<div class="ulist">
<ul>
<li>
<p>This error has to be fixed so that the product can be launched.</p>
</li>
</ul>
</div>
</li>
<li>
<p>There is no error concerning the catalogue export in the menu <strong>System » Markets » Allyouneed » Item export</strong>.</p>
<div class="ulist">
<ul>
<li>
<p>The product has been transferred successfully but the creation of the offer has been requested before the product was launched. The product can either be listed manually or it will be launched automatically after one night.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="paragraph">
<p>Further information about the differences between product and offer can be found <a href="https://forum.plentymarkets.com/t/allyouneed-artikelexport-unterschied-produkt-und-angebot/58922">here</a>. (Please note that this information is currently only available in German.)</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message “Delivery time is missing"</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the estimated shipping time of the variation.</p>
</div>
<div class="paragraph">
<p>This error message should only occur if no value for shipping time could be calculated.
If this error message occurs contact us and give us the corresponding variation ID as an example.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message “Stock is missing"</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the variation’s calculated stock.</p>
</div>
<div class="paragraph">
<p>This error message should only occur if no value for stock could be calculated. If this error message occurs contact us and give us the corresponding variation ID as an example.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message “SKU is not set"</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the automatic creation of the SKU during export.</p>
</div>
<div class="paragraph">
<p>Whether the variation already has an SKU or not is checked during export. If the variation does not have an SKU, the system will try to create an SKU.
The automatic generation of SKUs is based on the variation ID.
If this SKU is already saved in another variation for Allyouneed, the automatic generation will fail because the SKU must be unique for each marketplace and each variation.</p>
</div>
<div class="paragraph">
<p>If this error occurs, use the item search (<strong>Item → Edit item</strong>) to check if this SKU is already assigned. Use these filters:</p>
</div>
<table id="FilterSKU" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Set filters</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Table type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variations</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU (Search text)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID of the variation for which is affected by this error.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU (order referrer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allyouneed</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>If the SKU has already been assigned, then you must assign the SKU manually for the new item. To do so, go to the corresponding variation and open the <strong>Tab: Availability</strong>.</p>
</div>
<div class="paragraph">
<p>If the SKU has not yet been assigned, contact us and tell us the corresponding variation ID as an example.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message "EAN/ISBN is not valid"</div>
<div class="content">
<div class="paragraph">
<p>If you assign an EAN or an ISBN to an item, this number must always have 13 characters for Allyouneed. If the EAN or the ISBN does not contain 13 characters, this error message will appear during export.</p>
</div>
<div class="paragraph">
<p>There are two possibilities to fix this issue.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Adjust the EAN/ISBN accordingly.</p>
</li>
<li>
<p>Do not transfer the EAN/ISBN to Allyouneed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The second option is possible because the different barcodes can be released for the marketplaces, as e.g. the sales prices. To do so, go to <strong>System » Item » Barcode</strong> and open a barcode.
You can define for each barcode for which order referrer it should be valid:</p>
</div>
<div id="Barcode-AYN" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/Allyouneed/assets/bp-ayn-barcode.png" alt="bp ayn barcode">
</div>
<div class="title">Figure 3. Barcode referrers</div>
</div>
<div class="paragraph">
<p>Hence, it is possible to create two barcodes. One barcode is released for Allyouneed and the other barcode is not released for Allyouneed. Delete the link of the previous barcode and create a new barcode which is linked to Allyouneed.</p>
</div>
<div class="paragraph">
<p>Use the dynamic export and import of the format <a href="https://knowledge.plentymarkets.com/en/basics/data-exchange/data-formats/variationbarcode">VariationBarcode</a> to copy all barcodes which consist of 13 characters into the new barcode so that these barcodes will continue to be exported to Allyouneed.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Error message: Error message “Price is missing"</div>
<div class="content">
<div class="paragraph">
<p>This error message refers to the variation’s sales price.</p>
</div>
<div class="paragraph">
<p>If this errors message occurs, there are two possible sources of error.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>The variation’s sales price was set to 0.00 €.</p>
</li>
<li>
<p>The variation does not contain a sales price which has also been linked to Allyouneed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>To check the latter possibility, go to <strong>System » Item » Sales prices</strong>, set the filter <strong>referrer</strong> to <strong>Allyouneed</strong> and use the search.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>If no sales price was found in the search, then no sales price has been defined yet.
In this case, open the settings for the order referrer Allyouneed and activate a sales price. A <strong>price type</strong> must not be activated.</p>
</li>
<li>
<p>If no sales price was found in the search, check for all sales prices in the results</p>
<div class="ulist">
<ul>
<li>
<p>whether a check mark was placed next to any of the settings for <strong>price type</strong>. (Do not activate any settings here!)</p>
</li>
<li>
<p>whether the variation’s sales price is correct.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>