<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Neueste Änderungen durchsuchen</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>1.1.</span><span> Suchfilter einstellen</span></a></li>
<li><a href="#400"><span>1.2.</span><span> Mit Suchergebnissen arbeiten</span></a></li>
<li><a href="#500"><span>1.3.</span><span> Anwendungsbeispiele</span></a></li>
</ul>
</li>
<li><a href="#800"><span>2.</span><span> Änderungsdateien exportieren</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>2.1.</span><span> Tages-Änderungen herunterladen</span></a></li>
<li><a href="#1000"><span>2.2.</span><span> Archiv-Datei anfordern und herunterladen</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>3.</span><span> Konfigurierbarkeit</span></a></li>
<li><a href="#1150"><span>4.</span><span> Verbrauch einsehen</span></a></li>
<li><a href="#1200"><span>5.</span><span> Fragen und Antworten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Änderungen nachvollziehen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit plentymarkets kannst du den gesamten Lebensweg eines Datensatzes, z.B. eines Artikels oder Auftrags, nachvollziehen.
Dies ist im Rahmen der Aufbewahrungspflicht von besonderer Bedeutung.
Die Änderungshistorie setzt sich aus den folgenden Teilen zusammen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/daten/aenderungshistorie#200">Suche</a>: Änderungsaufzeichnungen, die weniger als sechs Monate zurückliegen, können live durchsucht werden.</p>
</li>
<li>
<p><a href="/daten/aenderungshistorie#1000">Archiv</a>: Nach Ablauf der sechs Monate werden die Daten in ein Archiv verschoben.
Dort sind die Daten weiterhin zugänglich, können jedoch nicht mehr durchsucht werden.
Die Änderungen werden 11 Jahre archiviert.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Manipulationssicherheit</div>
<div class="paragraph">
<p>Die Änderungshistorie ist manipulationssicher und vertrauenswürdig in dem Sinne, dass Anwender die Einträge weder ändern noch löschen können.
Änderungen können lediglich abgerufen und durchsucht werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Neueste Änderungen durchsuchen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">1.1. Suchfilter einstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Änderungshistorie</strong>.</p>
</li>
<li>
<p>Wähle Suchfilter in der mittleren Spalte. Beachte <a href="#table-change-history-search-filters">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Suchergebnisse werden in einer Übersicht rechts angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie funktionieren die Suchfilter?</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Autovervollständigung</em></strong>:
Du musst lediglich die ersten Buchstaben eines Stichworts in das Feld eingeben, um dann passende Ergebnisse zu sehen.</p>
</li>
<li>
<p><strong><em>Mehrfachauswahl</em></strong>:
Du kannst mehrere Stichwörter nacheinander in ein Feld eingeben.
Die Stichwörter werden als sogenannte "Chips" angezeigt.</p>
</li>
<li>
<p><strong><em>Dynamische Filterwerte</em></strong>:
Es werden nur die Werte in der Dropdown-Liste angezeigt, die für den gewählten Zeitraum relevant sind.
Zum Beispiel wird der Wert "Barcode" nur dann im Filter "Datensatz" angezeigt, wenn ein Barcode tatsächlich während des gewählten Zeitraums geändert wurde.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/Historie-Suchfilter.gif" alt="Historie Suchfilter">
</div>
</div>
<table id="table-change-history-search-filters" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Suchfilter</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Suchfilter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Von/Bis</strong><br>
<span class="red">(Pflichtfelder)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege ein Intervall fest.
Die Änderungen, die während dieses Zeitraums vorgenommen wurden, werden abgerufen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche Art von Daten willst du abrufen?
Gib ein Stichwort in dieses Feld ein, z.B. Artikel, Auftrag, Barcode, Verkaufspreis usw.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Gib lediglich die ersten Buchstaben des Stichworts ein und verwende die Autovervollständigung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eindeutige IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieses Feld wird zur eindeutigen Identifizierung des Datensatzes verwendet.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib zunächst ein Stichwort in das Feld ein.
Das Stichwort bestimmt den <em>Typ der ID</em>, z.B. eine Verkaufspreis-ID, Varianten-ID oder Sprachen-ID.</p>
</li>
<li>
<p>Gib dann die eigentliche ID in das Feld weiter unten ein.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Ein Datensatz kann erst durch die Kombination von zwei oder mehr IDs eindeutig werden.
Du könntest zum Beispiel die Varianten-ID 1234 und die Verkaufspreis-ID 567 eingeben.
Die Ergebnisse zeigen, wann der Verkaufspreis 567 für die Variante 1234 geändert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du nach Änderungen suchen, die von einem bestimmten plentymarkets Benutzerkonto vorgenommen wurden?
Gib die ersten Buchstaben des Benutzernamens ein und verwende die Autovervollständigung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span> <strong>Erweiterte Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Klicke auf diese Option, um weitere Filter einzublenden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Suchfilter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugehörigkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieses Feld gibt an, zu welchem Artikel, Auftrag, Sprache usw. ein Datensatz gehört.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib zunächst ein Stichwort in das Feld ein.
Das Stichwort bestimmt den <em>Typ der ID</em>, z.B. eine Verkaufspreis-ID, Varianten-ID oder Sprachen-ID.</p>
</li>
<li>
<p>Gib dann die eigentliche ID in das Feld weiter unten ein.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art der Änderung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt die Suchergebnisse auf Datensätze, die erstellt, geändert oder gelöscht wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Willst du nach Änderungen suchen, die aus einer bestimmten Quelle stammen?
Gib die ersten Buchstaben des Herkunftnamens ein und verwende die Autovervollständigung.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiele</em></strong>:
Änderungen, die sich aus einem Cron-Job ergeben haben, die manuell im Backend vorgenommen wurden oder die auf die REST-API-Schnittstelle zurückzuführen sind.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>:
Kombiniere die Herkunft mit Tags, um die Änderungsquelle näher zu definieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Tags definieren die oben angegebene Herkunft weiter.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>:
Ein Tag könnte die ID eines Import-Vorgangs sein.
Anhand dieser ID beschränkst du die Suchergebnisse auf Änderungen, die durch diesen Importvorgang entstanden sind.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.2. Mit Suchergebnissen arbeiten</h3>
<div class="paragraph">
<p>Sobald du <a href="/daten/aenderungshistorie#300">nach Änderungen gesucht</a> hast, siehst du Ergebnisse in einer Übersicht rechts.
Klappe eine Zeile in der Übersicht auf (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>), um detailliertere Informationen zu erhalten.
Jeder Eintrag in der Tabelle beantwortet die folgenden Fragen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wer hat den Datensatz geändert?</p>
</li>
<li>
<p>Wann wurde der Datensatz geändert?</p>
</li>
<li>
<p>Was wurde geändert?</p>
<div class="ulist">
<ul>
<li>
<p>Wurde der Datensatz erstellt, geändert oder gelöscht?</p>
</li>
<li>
<p>Welcher Wert hatte das Datenfeld vor und nach der Änderung?</p>
</li>
<li>
<p>Wurden die Daten manuell oder durch einen Systemprozess (z.B. Import oder REST-API) geändert?</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/Historie-Ergebnisse.gif" alt="Historie Ergebnisse">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Soll ich die Änderungen gruppiert anzeigen lassen?</div>
<div class="paragraph">
<p>Stell dir vor, ein Mitarbeiter öffnet einen Artikel-Datensatz, gibt neue Transportkosten und Lagerkosten ein und speichert die Änderungen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon blue"><i class="fa fa-toggle-on  "></i></span> <strong>Gruppiert anzeigen</strong> = Die Tabelle enthält nur einen Eintrag für diesen Speichervorgang.
Erst wenn du die Zeile aufklappst <span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span> siehst du, dass sowohl die Transportkosten als auch die Lagerkosten geändert wurden.</p>
</li>
<li>
<p><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span> <strong>Gruppiert anzeigen</strong> = Die Tabelle enthält zwei separate Einträge für diesen Speichervorgang.
Direkt in der Tabelle siehst du, welche Datenfelder geändert wurden.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">1.3. Anwendungsbeispiele</h3>
<h4 id="600" class="discrete">Artikel wurde zum falschen Preis verkauft</h4>
<div class="paragraph">
<p>Stell dir vor, du hast vor drei Tagen einen Artikel für 59 EUR verkauft.
Aber das kann doch nicht stimmen!
Der Artikel hat nämlich einen Einkaufspreis von 82 EUR.
Jetzt willst du herausfinden, was da schief gelaufen ist.</p>
</div>
<div class="paragraph">
<p>Die zum falschen Preis verkaufte Variante hat die ID 123.
In diesem Fall könntest du die Suchfilter wie folgt setzen:</p>
</div>
<table id="table-change-history-example-price" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Suchfilter</th>
<th class="tableblock halign-left valign-top">Gewählte Einstellung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datensatz</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eindeutige IDs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID 123</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Suchergebnisse führen verschiedene Zeitpunkte auf, zu denen der Verkaufspreis von Variante 123 geändert wurde.
Klappe eine Zeile in der Ergebnisliste auf (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>), um detailliertere Informationen zu sehen.
Zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>welcher Benutzer den Preis geändert hat</p>
</li>
<li>
<p>ob der Preis z.B. über die REST-API oder beim Importieren einer CSV-Datei versehentlich geändert wurde</p>
</li>
<li>
<p>wie hoch der Preis vor der Änderung war</p>
</li>
</ul>
</div>
<h4 id="700" class="discrete">Arbeit eines neuen Mitarbeiters kontrollieren</h4>
<div class="paragraph">
<p>Stell dir vor, du lernst gerade einen neuen Mitarbeiter an.
Heute hast du ihm die Aufgabe gegeben, einige alte Produktbeschreibungen zu aktualisieren.
Am Ende des Tages willst du sicherstellen, dass er die Aufgabe korrekt erledigt hat und etwaige Fehler beheben.</p>
</div>
<div class="paragraph">
<p>Der neue Mitarbeiter hat ein Benutzerkonto mit der ID 17.
In diesem Fall könntest du die Suchfilter wie folgt setzen:</p>
</div>
<table id="table-change-history-example-employee" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Suchfilter</th>
<th class="tableblock halign-left valign-top">Gewählte Einstellung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Von/Bis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Heute</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neuer Mitarbeiter (ID 17)</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Suchergebnisse führen alle Änderungen auf, die der Mitarbeiter heute vorgenommen hat.
Klappe eine Zeile in der Ergebnisliste auf (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>), um detailliertere Informationen zu sehen.
Zum Beispiel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>wie lautete der Text vor und nach der Änderung?</p>
</li>
<li>
<p>hat der Mitarbeiter einen Fehler gemacht?
Klicke ganz einfach auf den Link, um den Artikel-Datensatz zu öffnen und das Problem direkt zu beheben.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="800">2. Änderungsdateien exportieren</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="900">2.1. Tages-Änderungen herunterladen</h3>
<div class="paragraph">
<p>Jeden Tag wird eine Zusammenfassung der Änderungen erstellt.
Die Datei steht 45 Tage zum Download bereit.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Änderungshistorie</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="psicon-download"></i></span> <strong>Tagesänderungen</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-cloud-download  "></i></span> bei der gewünschten Datei.<br>
→ Die Datei wird im CSV-Format exportiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie lange sind Dateien in diesem Menü verfügbar?</div>
<div class="paragraph">
<p>Dateien stehen in diesem Menü 45 Tage zum Download bereit.
Du kannst also Informationen über Änderungen herunterladen, die innerhalb der letzten 45 Tage vorgenommen wurden.
Ältere Änderungen sind in diesem Menü nicht verfügbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.2. Archiv-Datei anfordern und herunterladen</h3>
<div class="paragraph">
<p>Änderungsaufzeichnungen, die mehr als sechs Monate zurückliegen, werden in ein Archiv verschoben.
Dort sind die Daten zugänglich, können jedoch nicht durchsucht werden.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Änderungshistorie</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="psicon-receipt_archive"></i></span> <strong>Archiv</strong>.</p>
</li>
<li>
<p>Klicke optional auf <span class="icon darkGrey"><i class="psicon-filter"></i></span> und wähle einen Monat und ein Jahr.</p>
</li>
<li>
<p>Führe die Suche aus.<br>
→ Dateien, die den Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="psicon-send_email"></i></span> und bestätige, dass du die Datei anfordern möchtest.<br>
<strong><em>Hinweis</em></strong>:
Dies ist kostenpflichtig.
Die Bereitstellung kann bis zu 24 Stunden dauern.
Danach steht die Datei ca. 2 Tage zum Download bereit und kann beliebig oft heruntergeladen werden.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-cloud-download  "></i></span> bei der gewünschten Datei.<br>
→ Die Datei wird im TAR.BZ2-Format exportiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie lange sind Dateien in diesem Menü verfügbar?</div>
<div class="paragraph">
<p>Dateien stehen in diesem Menü 11 Jahre zum Download bereit.
Du kannst also Informationen über Änderungen herunterladen, die innerhalb der letzten 11 Jahre vorgenommen wurden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kosten entstehen</div>
<div class="paragraph">
<p>Das Anfordern einer Archivdatei ist mit Kosten verbunden.
Jede Bereitstellung kostet 1 Euro.
<a href="/daten/aenderungshistorie#1200">Mehr zum Thema Kosten</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">3. Konfigurierbarkeit</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst die Einstellungen an deine Bedürfnisse anpassen.
Willst du die Archivierung ein- oder ausschalten?
Willst du bestimmen, welche Datenfelder protokolliert werden?
Wäge die Vor- und Nachteile deines Handelns sorgfältig ab, denn die Archivierung und Protokollierung sind für die GoBD-Konformität notwendig.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Änderungshistorie</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> <strong>Einstellungen</strong> und passe die Optionen an deine Bedürfnisse an.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Schalte die Option <strong>Archivierung aktivieren</strong> ein (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>) oder aus (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>).</p>
</li>
<li>
<p>Wähle die Datenfelder aus, die protokolliert werden sollen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).<br></p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.
Dadurch können <a href="/daten/aenderungshistorie#1200">Kosten entstehen</a>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alle GoBD-relevanten Einstellungen gleichzeitig aktivieren</div>
<div class="paragraph">
<p>Klicke auf den oberen Button, um alle für die GoBD-Konformität notwendigen Einstellungen gleichzeitig zu aktivieren.
Dieser Button aktiviert das Archiv und alle mit einem Sternchen markierten Datenfelder.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1150">4. Verbrauch einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst deinen Verbrauch, also deine tatsächlichen Kosten, jederzeit tagesaktuell einsehen.
Dazu:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>richtest du eine Kennzahl ein.</p>
</li>
<li>
<p>lässt du die Daten im plentyBI Dashboard anzeigen.</p>
</li>
</ul>
</div>
<div class="videoblock">
<div class="title">Lerne die Kennzahl "Verbrauch" kennen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/521383716" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<h4 id="_verbrauch_kennzahl_einrichten" class="discrete">Verbrauch-Kennzahl einrichten</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » plentyBI » Kennzahlen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Kennzahlen-Konfiguration hinzufügen</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Gib einen eindeutigen Namen ein.</p>
</li>
<li>
<p>Wähle die Kennzahl <strong>Verbrauch</strong>.</p>
</li>
<li>
<p>Nimm <a href="/business-entscheidungen/plenty-bi/kennzahlen/verbrauch">die restlichen Einstellungen</a> wie gewünscht vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h4 id="_verbrauchsdaten_im_dashboard_anzeigen_lassen" class="discrete">Verbrauchsdaten im Dashboard anzeigen lassen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Dashboard (Beta)</strong>.</p>
</li>
<li>
<p>Richte das Dashboard wie gewünscht ein. Zum Beispiel:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><a href="/business-entscheidungen/plenty-bi/myview-dashboard#407">Erstelle eine neue Ansicht</a>.</p>
</li>
<li>
<p><a href="/business-entscheidungen/plenty-bi/myview-dashboard#410">Füge Elemente zum Dashboard hinzu</a>.</p>
</li>
<li>
<p><a href="/business-entscheidungen/plenty-bi/myview-dashboard#300">Entscheide, welche Benutzerkonten oder Benutzerrollen die Kennzahlen sehen dürfen</a>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">5. Fragen und Antworten</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>Ich will GoBD-konform arbeiten. Welche Daten sollen protokolliert werden?</strong></div>
<div class="content">
<div class="paragraph">
<p>plentymarkets hilft Händlern, GoBD-konform im Sinne der Zertifizierung nach IDW PS 880 zu arbeiten.
Ein Aspekt der GoBD-Konformität ist die Aufbewahrung von Unterlagen mit finanzieller oder steuerlicher Relevanz über einen längeren Zeitraum.</p>
</div>
<div class="paragraph">
<p>Um diese Anforderung zu erfüllen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Änderungshistorie</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-cog  "></i></span> <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf den oberen Button, um alle für die GoBD-Konformität notwendigen Einstellungen gleichzeitig zu aktivieren.
Dieser Button aktiviert das Archiv und alle mit einem Sternchen markierten Datenfelder.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.
Dadurch können <a href="/daten/aenderungshistorie#1200">Kosten entstehen</a>.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Welche Kosten können entstehen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Du kannst die Änderungshistorie bis 17.03.2021 kostenlos testen.
Danach fallen verbrauchsabhängig die folgenden Kosten an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>15 Cent pro angefangenen 10.000 geloggten Änderungen.</p>
</li>
<li>
<p>15 Cent pro angefangenen 10.000 archivierten Änderungen.</p>
</li>
<li>
<p>1 Euro für das Anfordern einer Datei aus dem Archiv.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du also plentymarkets GoBD-konform nutzen willst, indem du relevante Änderungen bis zu 11 Jahre in plentymarkets speicherst, fallen 30 Cent pro angefangenen 10.000 Änderungen an.
Die Kosten für ein Daten-Paket werden nur in dem Monat berechnet, in dem sie geloggt wurden.</p>
</div>
<h4 id="_beispiel" class="discrete">Beispiel</h4>
<div class="paragraph">
<p>In einem Monat werden durchschnittlich 177.000 loggbare Änderungen pro System gemacht.
Das entspricht im Schnitt 18 Paketen (177.000 / 10.000 aufgerundet).
Bei aktivierter Änderungshistorie samt Archiv ergibt das durchschnittliche Kosten im Monat von 18 * 0,15 * 2 = 5,40 €.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich meinen Verbrauch einsehen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ja.
Du kannst deinen Verbrauch, also deine tatsächlichen Kosten, jederzeit tagesaktuell einsehen.
<a href="/daten/aenderungshistorie#1150">Weitere Informationen</a>.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Warum sehe ich das Menü nicht?</strong></div>
<div class="content">
<div class="paragraph">
<p>Personen mit <a href="/business-entscheidungen/benutzerkonten-zugaenge#10">Backend-Zugriffsrechten</a> können dieses Menü nur sehen, wenn ein Admin ihnen Zugriff gewährt hat.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wende dich an eine Person mit Administratorrechten für das plentymarkets-System.</p>
</li>
<li>
<p>Diese Person öffnet das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Dann öffnet sie das Benutzerkonto und schaltet die notwendigen Rechte frei.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Sollte das Problem weiterhin bestehen, wende dich an die <a href="https://forum.plentymarkets.com/c/aenderungshistorie/604" target="_blank" rel="noopener">Supporter im Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ol>
</div>
<h4 id="_menü_sichtbarkeiten" class="discrete">Menü-Sichtbarkeiten</h4>
<div class="paragraph">
<p>Dieser Bereich stellt die Menüstruktur in plentymarkets dar.
Wähle die Menüpunkte (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die für den Benutzer sichtbar sein sollen.
Hast du hier ein Menü ausgewählt, werden automatisch auch die entsprechenden REST-Rechte unter <strong>Berechtigungen</strong> mit ausgewählt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Recht</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Suche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, die <a href="/daten/aenderungshistorie#200">Live-Suche</a> zu sehen und zu nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Tagesänderungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, die <a href="/daten/aenderungshistorie#900">Tagesänderungen</a> zu sehen und zu nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Archiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, das <a href="/daten/aenderungshistorie#1000">Archiv</a> zu sehen und die kostenpflichtigen Archivdateien anzufordern und herunterzuladen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Einstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, die <a href="/daten/aenderungshistorie#1100">Einstellungen der Änderungshistorie</a> zu sehen und zu ändern.</p></td>
</tr>
</tbody>
</table>
<h4 id="_berechtigungen" class="discrete">Berechtigungen</h4>
<div class="paragraph">
<p>Die REST-Rechte, die für bestimmte Aktionen benötigt werden.
Hast du ein Menü unter <strong>Menü-Sichtbarkeiten</strong> ausgewählt, werden automatisch auch hier die entsprechenden REST-Rechte mit ausgewählt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Recht</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Archiv &gt; Anfordern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, die kostenpflichtigen <a href="/daten/aenderungshistorie#1000">Archivdateien</a> anzufordern und herunterzuladen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Archiv &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, das <a href="/daten/aenderungshistorie#1000">Archiv</a> zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Einstellungen &gt; Aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, die <a href="/daten/aenderungshistorie#1100">Einstellungen der Änderungshistorie</a> zu ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Einstellungen &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, die <a href="/daten/aenderungshistorie#1100">Einstellungen der Änderungshistorie</a> zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Suche &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, die <a href="/daten/aenderungshistorie#200">Live-Suche</a> zu sehen und zu nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten &gt; Änderungshistorie &gt; Tagesänderungen &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Recht, die <a href="/daten/aenderungshistorie#900">Tagesänderungen</a> zu sehen und zu nutzen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</main>