<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#1000"><span>1.</span><span> Multipacks</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>1.1.</span><span> Artikel des Typs Multipack erstellen</span></a></li>
<li><a href="#1300"><span>1.2.</span><span> Artikel des Typs Multipack bearbeiten</span></a></li>
<li><a href="#1400"><span>1.3.</span><span> Multipack-Variante erstellen</span></a></li>
</ul>
</li>
<li><a href="#2000"><span>2.</span><span> Artikelpakete</span></a>
<ul class="sectlevel2">
<li><a href="#2100"><span>2.1.</span><span> Artikelpaket erstellen</span></a></li>
<li><a href="#2200"><span>2.2.</span><span> Paketbestandteile bearbeiten oder löschen</span></a></li>
<li><a href="#2300"><span>2.3.</span><span> Mehrere Pakete in einem Artikel abbilden</span></a></li>
<li><a href="#2400"><span>2.4.</span><span> Warenbestand von Artikelpaketen einstellen</span></a></li>
<li><a href="#2500"><span>2.5.</span><span> Gewicht und Einkaufspreis berechnen</span></a></li>
</ul>
</li>
<li><a href="#3000"><span>3.</span><span> Sets</span></a>
<ul class="sectlevel2">
<li><a href="#3100"><span>3.1.</span><span> Wie funktionieren Setpreise?</span></a></li>
<li><a href="#3300"><span>3.2.</span><span> Neue Sets erstellen</span></a></li>
<li><a href="#3500"><span>3.3.</span><span> Bestehende Sets bearbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#3600"><span>3.3.1.</span><span> Sets suchen</span></a></li>
<li><a href="#3700"><span>3.3.2.</span><span> Bestandteile hinzufügen oder entfernen</span></a></li>
<li><a href="#3800"><span>3.3.3.</span><span> Warenbestand verwalten</span></a></li>
<li><a href="#3900"><span>3.3.4.</span><span> Optional: "Ab-Preis" manuell aktualisieren</span></a></li>
<li><a href="#4000"><span>3.3.5.</span><span> Optional: Rabatte festlegen</span></a></li>
<li><a href="#4100"><span>3.3.6.</span><span> Optional: Minimale oder maximale Bestellmenge festlegen</span></a></li>
<li><a href="#4200"><span>3.3.7.</span><span> Einstellungen in den übrigen Tabs</span></a></li>
</ul>
</li>
<li><a href="#4400"><span>3.4.</span><span> Sets im plentyShop darstellen</span></a>
<ul class="sectlevel3">
<li><a href="#4410"><span>3.4.1.</span><span> Inhalt vom Typ Artikelset erstellen</span></a></li>
<li><a href="#4420"><span>3.4.2.</span><span> Inhalt gestalten</span></a></li>
<li><a href="#4430"><span>3.4.3.</span><span> Inhalt aktivieren</span></a></li>
<li><a href="#4440"><span>3.4.4.</span><span> Das Ergebnis im plentyShop prüfen</span></a></li>
</ul>
</li>
<li><a href="#4450"><span>3.5.</span><span> Fragen und Antworten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Multipacks, Artikelpakete und Sets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet verschiedene Möglichkeiten, Produkte zu kombinieren und als eine Verkaufseinheit anzubieten.
<a href="#table-combining-products">Tabelle 1</a> vergleicht die Möglichkeiten und erläutert sie beispielhaft.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Schon mit der Artikelverwaltung vertraut?</div>
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du bereits <a href="/artikel/einleitung">Grundkenntnisse über die Artikelverwaltung</a> in plentymarkets hast.
Beispielsweise wird angenommen, dass du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>den <a href="/artikel/einleitung/struktur">Unterschied zwischen Artikeln und Varianten</a> kennst.</p>
</li>
<li>
<p>einige <a href="/artikel/einstellungen">vorbereitende Einstellungen</a> in deinem System konfiguriert hast.
Zum Beispiel, dass du bereits eine <a href="/artikel/einstellungen/kategorien">Kategoriestruktur</a> erstellt hast, <a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a> für deine Artikel eingerichtet hast, usw.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-combining-products" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Produkte kombinieren und als Verkaufseinheit anbieten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 71.4285%;">
<col style="width: 14.2858%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Art</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Artikeltyp</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#1000">Multipack</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Beispiel</em></strong>: 1 Flasche Wasser, eine Packung mit 6 Flaschen und eine Packung mit 12 Flaschen.</p>
</div>
<div class="paragraph">
<p><strong><em>Technische Angaben</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Multipacks sind verschiedene Stückzahlen <em>derselben Variante</em>.</p>
</li>
<li>
<p>Die Hauptvariante entspricht der <em>kleinsten Verkaufseinheit</em> des Produkts, z.B. 1 Flasche.</p>
</li>
<li>
<p>Alle weiteren Varianten sind <em>Kombinationen</em> dieser kleinsten Verkaufseinheit, z.B. 6 oder 12 Flaschen.</p>
</li>
<li>
<p>Bestand wird nur an der Hauptvariante verwaltet.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multipack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#2000">Paket</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Ein Bartpflege-Kit bestehend aus einer Schere, einer Bürste, Bartöl und Bartwachs.</p>
</div>
<div class="paragraph">
<p><strong><em>Technische Angaben</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Pakete bestehen aus <em>unterschiedlichen Varianten</em>, die zusammengefasst und zu einem Paketpreis angeboten werden.</p>
</li>
<li>
<p>Bestellt werden kann nur das komplette Paket. Die einzelnen Bestandteile können nicht gewählt werden.</p>
</li>
<li>
<p>Es ist möglich, Varianten mit <em>unterschiedlichen Steuersätzen</em> zusammen in einem Paket anzubieten.</p>
</li>
<li>
<p>Es ist auch möglich, den Paketpreis günstiger als die Summe der Einzelpreise zu definieren.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#3000">Set</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Eine Fußballuniform bestehend aus einem Trikot, Shorts und Socken. Endkunden stellen ihre eigenen Uniformen zusammen, indem sie die gewünschte Größe und Farbe für jede der drei Komponenten auswählen.</p>
</div>
<div class="paragraph">
<p><strong><em>Technische Angaben</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sets bestehen aus <em>mehreren Artikeln</em> (Trikot, Shorts, Socken).</p>
</li>
<li>
<p>Bei der Bestellung können Endkunden für jeden Artikel die gewünschte Variante wählen (Größe, Farbe).</p>
</li>
<li>
<p>Die Hauptvariante selbst ist virtuell, kann also nicht verkauft werden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Es ist möglich, Artikel-Sets im <a href="https://marketplace.plentymarkets.com/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plentyShop zu verkaufen.
Niedrigere Versionen von Ceres unterstützen die Set-Funktion nicht.
Die Set-Funktion ist nur für den plentyShop vorgesehen. Es ist nicht möglich, Artikel-Sets auf Märkten wie Amazon und eBay zu verkaufen.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">1. Multipacks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei einem Artikel des Typs <strong>Multipack</strong> entspricht die Hauptvariante der kleinsten Verkaufseinheit des Produkts. Alle weiteren Varianten des Artikels sind Kombinationen dieser kleinsten Verkaufseinheit. Der Bestand wird nur an der Hauptvariante gepflegt. Alle Varianten des Artikels haben dieselben Attribute. Das heißt, dass bei der Bestellung nicht zum Beispiel zwischen verschiedenen Farben oder Größen des Produkts gewählt werden kann. Im Onlineshop kann nur zwischen den verschiedenen Varianten gewählt werden, die der Anzahl des Produktes entspricht.</p>
</div>
<div class="sect2">
<h3 id="1100">1.1. Artikel des Typs Multipack erstellen</h3>
<div class="paragraph">
<p>Beim Erstellen eines neuen Multipacks wird wie bei Artikeln des Typs <strong>Standard</strong> automatisch eine Hauptvariante erstellt. Diese Hauptvariante ist fest mit dem Artikel des Typs <strong>Multipack</strong> verbunden und kann nur zusammen mit dem Artikel erstellt oder gelöscht werden. Die Hauptvariante selbst entspricht der kleinsten Verkaufseinheit des Produkts.</p>
</div>
<div class="paragraph instruction">
<p>Artikel des Typs Multipack erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Typ <strong>Multipack</strong>.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen vor. Beachte <a href="#table-create-multipack">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Artikel des Typs <strong>Multipack</strong> wird erstellt.<br>
→ Die Hauptvariante wird in einem neuen Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Neuen Artikel des Typs <strong>Multipack</strong> in Übersicht anzeigen</div>
<div class="paragraph">
<p>Der neue Artikel des Typs <strong>Multipack</strong> ist nicht aktiv. Um neu erstellte Artikel in der Übersicht im Menü <strong>Artikel » Artikel bearbeiten</strong> anzuzeigen, wähle auf der linken Seite für den Filter <strong>Aktiv</strong> die Option <strong>ALLE</strong>. Klicke dann auf <strong>Suchen</strong>.<br>
<a href="/artikel/artikel-verwalten#200">Aktiviere die Variante</a>, sobald sie in deinem plentyShop veröffentlicht werden soll.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-multipack" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Artikel des Typs Multipack erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltyp <strong>Multipack</strong> wählen.<br>
<strong>Standard</strong> = Erstellt einen Artikel des Typs <strong>Standard</strong> mit Hauptvariante.<br>
<strong>Set</strong> = Erstellt einen Artikel des Typs <strong>Set</strong>.<br>
<strong>Multipack</strong> = Erstellt einen Artikel des Typs <strong>Multipack</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Artikel-ID ist eine eindeutige, fortlaufende Zahl, die plentymarkets zur exklusiven Zuordnung jedes Artikels benötigt. Wird dieses Feld freigelassen, vergibt plentymarkets automatisch die nächste freie ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen für das Multipack eingeben. Der Name ist eine Pflichtangabe.
Der Name kann nachträglich <a href="/artikel/artikel-verwalten#50">noch geändert werden</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Variante » Kategorieverknüpfung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategoriewahl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kategorie wählen, in der das Multipack veröffentlicht werden soll. Alternativ auf <strong>Neue Kategorie</strong> klicken, um eine neue Kategorie zu erstellen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1300">1.2. Artikel des Typs Multipack bearbeiten</h3>
<div class="paragraph">
<p>Nachdem du den Artikel des Typs <strong>Multipack</strong> erstellt hast, nimm die weiteren Einstellungen vor.
Diese Einstellungen sind in einem <a href="/artikel/artikel-verwalten">Verzeichnis</a> aufgeführt.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">1.3. Multipack-Variante erstellen</h3>
<div class="paragraph">
<p>Beim Erstellen eines Artikels des Typs <strong>Multipack</strong> wird immer eine Hauptvariante erstellt. Die Hauptvariante ist fest mit dem Artikel verbunden. Die Hauptvariante kann nicht gelöscht werden. Diese Hauptvariante entspricht der kleinsten Verkaufseinheit des Produkts. Alle weiteren Varianten des Artikels entsprechen dieser kleinsten Verkaufseinheit mal x. Der Bestand aller Varianten wird nur an der Hauptvariante gepflegt. Im Tab <strong>Bestand</strong> der weiteren Varianten des Artikels wird nur der theoretische Bestand angezeigt. Wenn sich der Bestand der Hauptvariante ändert, wird der Bestand für die anderen Varianten des Artikels neu berechnet.</p>
</div>
<div class="paragraph instruction">
<p>Multipack-Variante erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel des Typs <strong>Multipack</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neue Variante erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib als Inhalt eine Stückzahl der Hauptvariante ein.<br>
<strong><em>Tipp</em></strong>: Einheit und Attribute sind nicht änderbar.</p>
</li>
<li>
<p>Klicke auf <strong>Variante erstellen</strong>.<br>
→ Die Variante wird erstellt.<br>
→ Die Variante wird in der Variantenübersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Einstellungen der Variante bearbeitest du genauso wie <a href="/artikel/artikel-verwalten#170">Varianten von Artikeln des Typs Standard</a>. Beachte jedoch die folgenden Besonderheiten von Multipack-Varianten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Deaktiviere die Vererbung des Verkaufspreises und speichere einen eigenen Preis.</p>
</li>
<li>
<p>Der Tab <strong>Bestand</strong> ist rein informativ. Der Bestand wird nur an der Hauptvariante gepflegt.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">2. Artikelpakete</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Artikelpaket besteht aus mehreren Produkten. Der Paketpreis eines Artikelpakets kann dabei günstiger sein als die Summe der Einzelpreise. Pakete filterst du im Menü <strong>Artikel » Artikel bearbeiten</strong> mit dem Filter <strong>Paket</strong>.</p>
</div>
<div class="sect2">
<h3 id="2100">2.1. Artikelpaket erstellen</h3>
<div class="paragraph">
<p>Im Tab <strong>Paket</strong> eines Artikels des Typs <strong>Standard</strong> erstellst du ein Artikelpaket, das sich aus mehreren Bestandteilen, den Basisartikeln, zusammensetzt. Wenn du dem geöffneten Artikel weitere Varianten hinzufügst, wird daraus ein Paket. Die Bestandteile des Pakets werden im Tab <strong>Paket-Bestandteile</strong> angezeigt und werden dort auch bearbeitet und gelöscht.</p>
</div>
<div class="paragraph instruction">
<p>Artikelpaket erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Typ <strong>Standard</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Gib den Inhalt ein.</p>
</li>
<li>
<p>Wähle eine Kategorie.</p>
</li>
<li>
<p>Nimm bei Bedarf <a href="/artikel/artikel-verwalten">weitere Einstellungen</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Artikel wird erstellt.<br>
→ Die Hauptvariante wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Öffne die Variante.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Paket » Variante hinzufügen</strong>.</p>
</li>
<li>
<p>Setze Häkchen bei Varianten, die du als Paketbestandteile hinzufügen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Variante hinzufügen</strong>.<br>
→ Die Bestandteile werden zum Artikelpaket hinzugefügt und im Tab <strong>Paket-Bestandteile</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/artikel/artikel-verwalten#240">Verknüpfe anschließend einen Verkaufspreis</a> mit dem Artikelpaket und gib einen Preis ein.
In der Auftragsabwicklung wird dann nur der Paketpreis angegeben und die Paketbestandteile ohne Einzelpreise.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorhandenen Artikel als Paketartikel einrichten</div>
<div class="paragraph">
<p>Anstatt einen neuen Paketartikel zu erstellen, kannst du auch einen vorhandenen Artikel verwenden und diesem Paketbestandteile hinzufügen. Beachte, dass der Paketartikel, dem du Bestandteile hinzufügst, keinen eigenen Bestand haben darf.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="2200">2.2. Paketbestandteile bearbeiten oder löschen</h3>
<div class="paragraph">
<p>Im Tab <strong>Paket-Bestandteile</strong> änderst du die Menge der im Artikelpaket enthaltenen Varianten, siehst den Nettowarenbestand der Varianten und löschst nicht mehr benötigte Paket-Bestandteile.</p>
</div>
<div class="paragraph instruction">
<p>Paketbestandteil löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle für den Filter <strong>Paket</strong> die Einstellung <strong>Ja</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Alle Paketartikel werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Paketartikel.</p>
</li>
<li>
<p>Öffne die Variante.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Paket » Paket-Bestandteile</strong>.</p>
</li>
<li>
<p>Setze Häkchen bei den Paketbestandteilen, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Paket-Bestandteile löschen</strong>.<br>
→ Die Paketbestandteile werden aus dem Artikelpaket gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="2300">2.3. Mehrere Pakete in einem Artikel abbilden</h3>
<div class="paragraph">
<p>Artikelvarianten können zu Paketen mit verschiedenen Bestandteilen werden. Auf diese Weise gestaltest du Artikelpakete komplex und vielseitig nach deinen Anforderungen.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel für Paketvarianten</em></strong>: du möchtest je ein Handtuch und ein Badetuch im Paket in unterschiedlichen Farben verkaufen. Hierfür sind folgende Schritte notwendig:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/attribute#100">Attribut erstellen</a> mit den notwendigen Werten, zum Beispiel rot und blau</p>
</li>
<li>
<p><a href="/artikel/import-export-anlage/anlage/neue-artikel#200">Artikel erstellen</a>, der als Paketartikel dient, zum Beispiel Handtuchpaket</p>
</li>
<li>
<p><a href="/artikel/import-export-anlage/anlage/neue-artikel#400">Varianten erstellen</a> und dabei die Attributwerte verknüpfen</p>
</li>
<li>
<p>Artikel für Paketbestandteile erstellen, zum Beispiel Handtuch und Badetuch</p>
</li>
<li>
<p>Varianten für Paketbestandteile erstellen, zum Beispiel rotes Handtuch, blaues Handtuch etc.</p>
</li>
<li>
<p><a href="#2100">Paketbestandteile</a> zu den Varianten des Artikelpakets hinzufügen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Auf diese Weise bietest du in deinem plentyShop den Artikel <strong>Handtuchpaket</strong> als Paket in den Farben <strong>Rot</strong> und <strong>Blau</strong> an.</p>
</div>
</div>
<div class="sect2">
<h3 id="2400">2.4. Warenbestand von Artikelpaketen einstellen</h3>
<div class="paragraph">
<p>Der <a href="/warenwirtschaft">Warenbestand</a> des Pakets richtet sich nach dem Paketbestandteil mit dem geringsten Bestand. Der Warenbestand dieses Paketbestandteils wird in der Artikelübersicht im Menü <strong>Artikel » Artikel bearbeiten</strong> in der Spalte <strong>WB netto</strong> angezeigt. Am Paketartikel selbst pflegst du keinen Bestand. Im Paketbestandteil im Tab <strong>Bestand</strong> verwaltest du den Warenbestand, buchst neue Wareneingänge, korrigierst Bestände und überblickst Zuläufe und Warenbewegungen.</p>
</div>
</div>
<div class="sect2">
<h3 id="2500">2.5. Gewicht und Einkaufspreis berechnen</h3>
<div class="paragraph">
<p>Ein Artikelpaket ist eine Zusammenstellung mehrerer Bestandteile. Jeder Bestandteil verfügt wiederum über wichtige Kennzahlen, wie <a href="/artikel/artikel-verwalten#270">Gewicht</a> und <a href="/artikel/artikel-verwalten#280">Einkaufspreis</a> (EK). Aber wie setzen sich diese Kennzahlen für das Artikelpaket insgesamt zusammen?</p>
</div>
<div class="paragraph">
<p>Du kannst das Gewicht und den EK für das Artikelpaket selber eingeben. Es gibt aber auch die Möglichkeit, diese Kennzahlen automatisch berechnen zu lassen. Wie das geht, wird im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Gewicht und EK automatisch berechnen lassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle für den Filter <strong>Paket</strong> die Einstellung <strong>Ja</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Alle Artikelpakete werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne das Artikelpaket.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die gewünschten Einstellungen im Bereich <strong>Paket</strong> aus. Beachte <a href="#table-calculate-weight-purchase-price">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Lade das Artikelpaket neu.<br>
→ Die Kennzahlen werden nun automatisch auf Basis der einzelnen Bestandteile berechnet.</p>
</li>
</ol>
</div>
<table id="table-calculate-weight-purchase-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Gewicht und EK automatisch berechnen lassen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch aus Paketbestandteile berechnen: EK netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettoeinkaufspreis automatisch anhand der Bestandteile berechnen.<br>
Rechts im Bereich <strong>Kosten</strong> wird das Feld <a href="/artikel/artikel-verwalten#280"><strong>EK netto</strong></a> nach Speichern und Neuladen ausgegraut.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch aus Paketbestandteile berechnen: GLD EK netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gleitenden Nettoeinkaufspreis automatisch anhand der Bestandteile berechnen.<br>
Rechts im Bereich <strong>Kosten</strong> wird das Feld <a href="/artikel/artikel-verwalten#280"><strong>GLD EK netto</strong></a> nach Speichern und Neuladen ausgegraut.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch aus Paketbestandteile berechnen: Gewicht netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogewicht automatisch anhand der Bestandteile berechnen.<br>
Rechts im Bereich <strong>Maße</strong> wird das Feld <a href="/artikel/artikel-verwalten#270"><strong>Gewicht netto</strong></a> nach Speichern und Neuladen ausgegraut.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch aus Paketbestandteile berechnen: Gewicht brutto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Buttogewicht automatisch anhand der Bestandteile berechnen.<br>
Rechts im Bereich <strong>Maße</strong> wird das Feld <a href="/artikel/artikel-verwalten#270"><strong>Gewicht brutto</strong></a> nach Speichern und Neuladen ausgegraut.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Artikelpakete gleichzeitig anpassen</div>
<div class="paragraph">
<p>Verwende die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung">Varianten-Gruppenfunktion oder Stapelverarbeitung</a>, um Gewicht und EK für mehrere Artikelpakete gleichzeitig berechnen zu lassen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Berechnungsautomatik standardmäßig aktivieren</div>
<div class="paragraph">
<p>Willst du Gewicht und Einkaufspreis in der Regel automatisch berechnen lassen? Vielleicht hast du nur einzelne Artikel, die du von der automatischen Berechnung ausschließen möchtest. Kein Problem! Öffne das Menü <strong>Einrichtung » Artikel » Einstellungen</strong> und bestimme welche Kennzahlen automatisch berechnet werden sollen. Verwende dabei die Optionen <strong>Paketautomatik für Gewicht brutto</strong>, <strong>Paketautomatik für Gewicht netto</strong>, <strong>Paketautomatik für EKs</strong> und <strong>Paketautomatik für GLD EKs</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kennzahlen lieber händisch eingeben?</div>
<div class="paragraph">
<p>Möchtest du das Gewicht und den EK für deine Artikelpakete selbst eingeben? Wähle im Bereich <strong>Paket</strong> keine Einstellungen aus, um die Daten händisch zu pflegen. Sind keine Einstellungen ausgewählt, haben Kennzahlen der einzelnen Bestandteile keinen Einfluss auf die Kennzahlen des Artikelpakets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3000">3. Sets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stell dir mal vor, du verkaufst Fußballuniformen, bestehend aus Trikots, Shorts und Socken.
Wäre es nicht genial, wenn Endkunden ihre eigenen Uniformen zusammenstellen könnten?
Also, wenn sie für jede der drei Komponenten die gewünschte Farbe und Größe wählen könnten?
Artikel-Sets machen es möglich!</p>
</div>
<div class="paragraph">
<p>Ein Set besteht aus mehreren Artikeln (Trikot, Shorts, Socken).
Bei der Bestellung können Endkunden für jeden Artikel die gewünschte Variante wählen (Farbe, Größe).
Vielleicht hilft es dir, die Artikel und Varianten, die in deinem Set vorkommen werden, zu skizzieren.</p>
</div>
<table id="table-set-mind-map" class="tableblock frame-all grid-all stripes-none stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set</strong></p></td>
<td class="tableblock halign-center valign-top" colspan="3"><p class="tableblock">Fußballbekleidung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel im Set</strong></p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">Trikot</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">Shorts</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">Socken</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten pro Artikel</strong></p></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>S und rot</p>
</li>
<li>
<p>L und rot</p>
</li>
<li>
<p>S und blau</p>
</li>
<li>
<p>L und blau</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>S und weiß</p>
</li>
<li>
<p>L und weiß</p>
</li>
<li>
<p>S und schwarz</p>
</li>
<li>
<p>L und schwarz</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>S und blau</p>
</li>
<li>
<p>L und blau</p>
</li>
<li>
<p>S und weiß</p>
</li>
<li>
<p>L und weiß</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Set-Funktion ist nur für den Ceres 5 plentyShop vorgesehen</div>
<div class="paragraph">
<p>Es ist möglich, Artikel-Sets im <a href="https://marketplace.plentymarkets.com/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plentyShop zu verkaufen.
Niedrigere Versionen von Ceres unterstützen die Set-Funktion nicht.</p>
</div>
<div class="paragraph">
<p>Die Set-Funktion ist nur für den plentyShop vorgesehen.
Es ist nicht möglich, Artikel-Sets auf Märkten wie Amazon und eBay zu verkaufen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="3100">3.1. Wie funktionieren Setpreise?</h3>
<div class="paragraph">
<p>Das Besondere an Sets ist, dass du im Voraus nicht genau weißt, wie Endkunden die Varianten kombinieren werden. Daher macht es keinen Sinn, Festpreise für Sets zu speichern.
Stattdessen ermittelt plentymarkets den Preis der <em>günstigsten wählbaren Kombination</em> und speichert diese Informationen am Set.
Dieser Mindestpreis kann im plentyShop und im Backend angezeigt werden. Zum Beispiel: "Ab 99,99€ verfügbar".</p>
</div>
<div class="paragraph">
<p>plentymarkets prüft regelmäßig die Preise aller im Set enthaltenen Varianten und ermittelt die günstigste kaufbare Kombination.
plentymarkets prüft die Preise:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>wenn ein <a href="#3700">Bestandteil zu einem Set hinzugefügt</a> wird</p>
</li>
<li>
<p>wenn ein <a href="#3700">Bestandteil aus einem Set gelöscht</a> wird</p>
</li>
<li>
<p><a href="#3900">wenn der "Ab-Preis" manuell aktualisiert wird</a></p>
</li>
<li>
<p>jede Nacht</p>
</li>
</ul>
</div>
<h4 id="3200" class="discrete">Setpreise vorbereiten</h4>
<div class="paragraph">
<p><a href="/artikel/einstellungen/preise#200">Erstelle zunächst einen Verkaufspreis</a> für Sets.
Gib dabei an, dass es sich bei dem Typ um einen <strong>Setpreis</strong> handelt.</p>
</div>
<div class="paragraph">
<p><a href="/artikel/einstellungen/preise#900">Verknüpfe dann diesen Verkaufspreis</a> mit allen Setbestandteilen und gib für jeden Bestandteil einen Geldbetrag ein.
Beachte, dass es sich bei den Setbestandteilen um ganz normale Varianten handelt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Können Artikel günstiger sein, wenn sie zusammen als Set gekauft werden?</div>
<div class="paragraph">
<p>Es ist möglich, ein Set günstiger als die Summe seiner Bestandteile zu machen.
Es gibt zwei Wege, dies zu tun:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Einerseits könntest du günstigere Geldbeträge für den Set-Verkaufspreis speichern als für den normalen Verkaufspreis.</p>
</li>
<li>
<p>Andererseits könntest du <a href="#4000">einen prozentualen Rabatt eingeben</a>, der für das gesamte Set gilt.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="3300">3.2. Neue Sets erstellen</h3>
<div class="paragraph">
<p>Hast du schon überlegt, <a href="#3000">welche Artikel und Varianten im Set</a> enthalten sein sollen?
Hast du einen <a href="#3100">Verkaufspreis speziell für Sets</a> erstellt?
Dann bist du jetzt bereit, Sets zu erstellen!</p>
</div>
<div class="paragraph instruction">
<p>Artikelset manuell erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen für das Set vor. Beachte <a href="#table-create-set-items">Tabelle 4</a>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Wähle den Typ <strong>Set</strong>.</p>
</li>
<li>
<p>Gib einen Namen für das Artikelset ein.</p>
</li>
<li>
<p>In welcher Kategorie soll das Set erscheinen? Wähle die Kategorie aus.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Artikel-Set wird erstellt.<br>
→ Die Hauptvariante wird in einem neuen Tab angezeigt und <a href="#3500">kann jetzt weiter bearbeitet werden</a>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wofür ist die Hauptvariante gut?</div>
<div class="paragraph">
<p>Beim Erstellen eines neuen Sets wird automatisch eine Hauptvariante erstellt.
Diese Hauptvariante ist fest mit dem Set verbunden und kann nur zusammen mit dem Set erstellt oder gelöscht werden.
Die Hauptvariante:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ist nur virtuell und entspricht selbst keinem physischen Produkt.</p>
</li>
<li>
<p>dient lediglich als Datencontainer, zu dem du die Setbestandteile hinzufügst.</p>
</li>
<li>
<p>dient zur Verwaltung der Einstellungen für das gesamte Set.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-set-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Artikelset erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Bereich: Artikeldaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle den Typ <strong>Set</strong>. Viele Einstellungen verschwinden, wenn du diese Option wählst. Das Menü zeigt jetzt nur noch die Einstellungen, die für Sets relevant sind.</p>
</div>
<div class="paragraph">
<p>Die anderen Optionen in der Dropdown-Liste sind für andere Anwendungsfälle vorgesehen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard</strong> = Erstellt einen "normalen Artikel" oder ein <a href="#2000">Artikelpaket</a>.</p>
</li>
<li>
<p><strong>Set</strong> = Erstellt ein Artikelset.</p>
</li>
<li>
<p><strong>Multipack</strong> = Erstellt einen <a href="#1000">Multipack-Artikel</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für das Set ein. Der Name ist eine Pflichtangabe.
Es wird weiterhin möglich sein, den Namen zu ändern, nachdem du das Set erstellt hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Bereich: Variante » Kategorieverknüpfung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher <a href="/artikel/einstellungen/kategorien">Kategorie</a> soll das Set erscheinen? Wähle die Kategorie aus.
Klicke alternativ auf <strong>Neue Kategorie</strong>, um gleichzeitig eine neue Kategorie zu erstellen und das Set in diese Kategorie zu sortieren.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="3500">3.3. Bestehende Sets bearbeiten</h3>
<div class="sect3">
<h4 id="3600">3.3.1. Sets suchen</h4>
<div class="paragraph">
<p><a href="#3300">Beim Erstellen eines neuen Artikelsets</a> wird die Hauptvariante automatisch in einem neuen Tab geöffnet.
Aber wo findest du die Sets, die du schon vor einer Weile erstellt hast?</p>
</div>
<div class="paragraph instruction">
<p>Bestehende Sets suchen und öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Schau dir die Filter links an.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Setze den Filter <strong>Typ</strong> auf <strong>Set</strong>.</p>
</li>
<li>
<p>Setze den Filter <strong>Aktiv</strong> auf <strong>ALLE</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die gefundenen Sets werden in der Übersicht rechts aufgelistet.</p>
</li>
<li>
<p>Klicke auf ein Set, um es zu öffnen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="3700">3.3.2. Bestandteile hinzufügen oder entfernen</h4>
<div class="paragraph">
<p>Hast du schon entschieden, <a href="#3000">welche Artikel in das Set</a> aufgenommen werden sollen?
Die Artikel, die du zum Set hinzufügst, sind ganz normale Artikel. Sie sind also Artikel vom Typ <strong>Standard</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn du einen <em>Artikel mit mehreren Varianten</em> zum Set hinzufügst, werden deine Kunden bei der Bestellung frei wählen können, welche Variante sie kaufen möchten.</p>
</li>
<li>
<p>Wenn du einen <em>Artikel ohne weitere Varianten</em> zum Set hinzufügst, d.h. einen Artikel, der nur eine Hauptvariante hat, dann werden deine Kunden nichts auswählen können.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Bestandteile zum Set hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#3600">Suche und öffne den gewünschten Artikelset</a>.</p>
</li>
<li>
<p>Klicke auf den Tab <strong>Set » Artikel hinzufügen</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche nach den Artikeln</a>, die du zum Set hinzufügen möchtest.<br>
→ Eine Liste der Artikel wird angezeigt.</p>
</li>
<li>
<p>Wähle die Artikel (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die Bestandteile des Sets sein sollen.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel hinzufügen</strong>.<br>
→ Die Artikel werden zum Set hinzugefügt und sind nun auch im Tab <strong>Einstellungen</strong> aufgelistet.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Bestandteile wieder entfernen</div>
<div class="paragraph">
<p>Bestandteile, die bereits zum Set hinzugefügt wurden, werden im Tab <strong>Set » Einstellungen</strong> aufgelistet.
Hier kannst du auch Bestandteile entfernen, die nicht länger Teil des Sets sein sollten.
Wähle die Artikel (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du aus dem Setartikel entfernen möchtest und klicke auf <span class="icon red"><i class="fa fa-minus-circle  "></i></span> <strong>Bestandteile löschen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="3800">3.3.3. Warenbestand verwalten</h4>
<div class="paragraph">
<p>Der <a href="/warenwirtschaft">Warenbestand</a> eines Setartikels richtet sich nach der Variante des Sets mit dem geringsten Bestand. Der Warenbestand dieser Variante wird in der Artikelübersicht im Menü <strong>Artikel » Artikel bearbeiten</strong> in der Spalte <strong>WB netto</strong> angezeigt. Am Artikel des Typs <strong>Set</strong> selbst pflegst du keinen Bestand. Den Warenbestand verwaltest du stattdessen im Tab <strong>Bestand</strong> der Setbestandteile.</p>
</div>
</div>
<div class="sect3">
<h4 id="3900">3.3.4. Optional: "Ab-Preis" manuell aktualisieren</h4>
<div class="paragraph">
<p>plentymarkets prüft regelmäßig die Preise aller im Set enthaltenen Varianten und ermittelt die günstigste kaufbare Kombination.
plentymarkets prüft die Preise, wenn ein Bestandteil zu einem Set hinzugefügt oder aus einem Set gelöscht wird, sowie jede Nacht.
Du kannst aber auch jederzeit den "Ab-Preis" manuell aktualisieren.</p>
</div>
<div class="paragraph instruction">
<p>"Ab-Preis" manuell aktualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#3600">Suche und öffne den gewünschten Artikelset</a>.</p>
</li>
<li>
<p>Klicke auf den Tab <strong>Varianten-ID » Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Verkaufspreise</strong> auf das Aktualisieren-Symbol (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>).</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ab-Preis für mehrere Artikel gleichzeitig aktualisieren</div>
<div class="paragraph">
<p>Verwende die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung">Artikel-Gruppenfunktion oder Stapelverarbeitung</a>, um den Ab-Preis für mehrere Artikel auf einmal zu aktualisieren.
Wähle dazu die Option <strong>ab Preis in Sets aktualisieren</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>). Diese Option befindet sich im Bereich <strong>Aktionen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="4000">3.3.5. Optional: Rabatte festlegen</h4>
<div class="paragraph">
<p>Standardmäßig ergibt sich der Preis eines Artikelsets aus der Summe der Einzelpreise der Setbestandteile. Du hast jedoch die Möglichkeit, einen Rabatt in % auf den Gesamtpreis des Sets zu gewähren.</p>
</div>
<div class="paragraph instruction">
<p>Rabatt für ein Artikelset speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#3600">Suche und öffne den gewünschten Artikelset</a>.</p>
</li>
<li>
<p>Klicke auf den Tab <strong>Set » Einstellungen</strong>.</p>
</li>
<li>
<p>Trage in das Feld <strong>Rabatt</strong> einen Prozentsatz ein. Der Gesamtpreis wird um diesen Prozentsatz rabbatiert.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Der Rabatt wird angewendet.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="4100">3.3.6. Optional: Minimale oder maximale Bestellmenge festlegen</h4>
<div class="paragraph">
<p>Bleiben wir beim <a href="#3000">obigen Beispiel</a> und nehmen wir an, dass du Fussballuniformen, bestehend aus einem Trikot, Shorts und Socken, verkaufst.
Aber jetzt nehmen wir an, du möchtest das Set <em>nur an ganze Fussballmannschaften</em> verkaufen. Mit anderen Worten: du willst das Set nur an eine Mannschaft verkaufen, die bereit ist, mindestens 10 Trikots, Shorts und Socken auf einmal zu kaufen.
In diesem Fall handelt es sich um eine <em>Mindestbestellmenge</em>.</p>
</div>
<div class="paragraph instruction">
<p>Zulässige Menge eines Setbestandteils festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#3600">Suche und öffne den gewünschten Artikelset</a>.</p>
</li>
<li>
<p>Klicke auf den Tab <strong>Set » Einstellungen</strong>.<br>
→ Eine Liste der Bestandteile des Sets wird angezeigt.</p>
</li>
<li>
<p>In der Spalte <strong>Mengenwahl im Shop aktivieren</strong>, wähle alle Bestandteile (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die auf eine bestimmte Menge beschränkt werden sollen.<br>
→ Die Felder sind dadurch nicht mehr ausgegraut.</p>
</li>
<li>
<p>Gib die maximale und minimale Bestellmenge für jeden Bestandteil ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="4200">3.3.7. Einstellungen in den übrigen Tabs</h4>
<div class="paragraph">
<p>Diese Seite beschreibt nur die Funktionen, die speziell für Artikelsets gelten.
Es gibt aber noch viele weitere Einstellungen und Optionen, die du im Datensatz konfigurieren kannst.
Zum Beispiel kannst du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#40">globale Informationen</a> am Datensatz speichern</p>
</li>
<li>
<p>das <a href="/artikel/artikel-verwalten#300">Artikelset mit Kategorien verknüpfen</a></p>
</li>
<li>
<p><a href="/artikel/webshop/cross-selling">Cross-Selling-Links</a> zu anderen Artikeln speichern</p>
</li>
<li>
<p><a href="/artikel/einstellungen/barcodes">Etiketten und Barcodes</a> generieren</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#50">Beschreibungstexte</a> oder <a href="/artikel/artikel-verwalten#268">Tags</a> speichern</p>
</li>
<li>
<p>usw.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Einstellungen entsprechen den gleichen Einstellungen, die auch für normale Artikel, d.h. Artikel vom Typ <strong>Standard</strong>, zur Verfügung stehen.
Erläuterungen zu diesen Einstellungen findest du im <a href="/artikel/artikel-verwalten">Verzeichnis der Artikeldatenfelder</a>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="4400">3.4. Sets im plentyShop darstellen</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen</div>
<div class="paragraph">
<p>Die Set-Funktion ist nur für den <a href="https://marketplace.plentymarkets.com/plugins/sales/online-shops/ceres_4697">Ceres 5</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plentyShop vorgesehen.
Niedrigere Versionen von Ceres unterstützen die Set-Funktion nicht.
Stelle daher sicher, dass du eine kompatible Version verwendest und <a href="/plugins/installierte-plugins-aktualisieren">aktualisiere das Plugin</a>, falls erforderlich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="4410">3.4.1. Inhalt vom Typ Artikelset erstellen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Klicke links auf eine graue Artikel-Kategorie.<br>
<strong><em>Hinweis</em></strong>: Artikel-Sets können nicht mit den gelben Content-Kategorien verwendet werden.</p>
</li>
<li>
<p>Klicke auf die Kachel <strong>Neu</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Das Fenster <strong>Neuen Inhalt erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Typ <strong>Artikelset</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein und wähle ggf. eine Vorlage.</p>
</li>
<li>
<p>Speichere die Einstellungen.<br>
→ Der neue Inhalt wird als Kachel dargestellt.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/inhalt-artikelset.png" alt="inhalt artikelset">
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorlage: Pro und Kontra</div>
<div class="paragraph">
<p>Wir liefern eine Vorlage, die du nach Belieben verändern und an dein Produktportfolio anpassen kannst.
Natürlich kannst du aber auch ohne Vorlage arbeiten, wenn du die Ansicht lieber von Grund auf selbst gestalten willst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="4420">3.4.2. Inhalt gestalten</h4>
<div class="paragraph">
<p>Set-Bestandteile werden mit dem Widget <strong>Artikel / Bestandteile für Artikelsets</strong> dargestellt.
Dieses Widget ist besonders, weil du noch weitere Artikel-Widgets, z.B. für Beschreibungen und Bilder, darin platzieren kannst.</p>
</div>
<div class="paragraph">
<p>Je nach Platzierung - innerhalb oder außerhalb des Widgets - beziehen sich Artikelinformationen wie Name, Bild und Beschreibung auf das gesamte Set oder auf einen Set-Bestandteil.
Beispielsweise kannst du ein Bild für das gesamte Set und weitere Bilder für jeden Bestandteil anzeigen.</p>
</div>
<div class="paragraph">
<p>Wie wird das Layout gestaltet, Widgets hinzugefügt und die Widget-Einstellungen angepasst?
Diese Informationen findest du auf der <a href="/webshop/shop-builder#55">ShopBuilder-Seite des Handbuchs</a>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/gestaltung.png" alt="gestaltung">
</div>
</div>
</div>
<div class="sect3">
<h4 id="4430">3.4.3. Inhalt aktivieren</h4>
<div class="paragraph">
<p>Damit ein Inhalt im plentyShop angezeigt wird, muss dieser aktiviert werden.
Aktive Inhalte werden blau hervorgehoben.</p>
</div>
<div class="paragraph instruction">
<p>Inhalt aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » ShopBuilder</strong>.</p>
</li>
<li>
<p>Klicke auf die passende Kategorie.</p>
</li>
<li>
<p>Fahre mit dem Mauszeiger über die zu aktivierende Inhalts-Kachel.</p>
</li>
<li>
<p>Klicke auf <strong>Aktivieren</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ Der Inhalt wird aktiviert und ist nun blau hinterlegt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Nur ein aktiver Inhalt desselben Typs</div>
<div class="paragraph">
<p>Innerhalb einer grauen Artikel-Kategorie kannst du mehrere Inhalte vom Typ <strong>Artikelset</strong> erstellen.
Die Inhalte können je nach Bedarf aktiviert oder deaktiviert werden.
Dies ist beispielsweise hilfreich, um saisonabhängige Seiten zu gestalten.
Es darf aber nur ein Artikelset-Inhalt gleichzeitig aktiviert sein.
Das Aktivieren eines Inhalts deaktiviert also einen zuvor aktiven Inhalt desselben Typs.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="4440">3.4.4. Das Ergebnis im plentyShop prüfen</h4>
<div class="paragraph">
<p>Dein Kunde wählt alle gewünschten Varianten im plentyShop aus und legt dann das gesamte Set in den Warenkorb.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/anwendungsfaelle/assets/set-webshop.png" alt="set webshop">
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="4450">3.5. Fragen und Antworten</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Ich habe ein Set erstellt, aber ich kann keinen Preis auswählen. Was soll ich tun?</strong></div>
<div class="content">
<div class="paragraph">
<p>Ein Set hat <em>keinen festen Preis</em>, den du selbst definierst.
Stattdessen prüft plentymarkets den Preis jeder einzelnen Bestandteil und errechnet dann den günstigsten möglichen Preis für das gesamte Set.
Zum Beispiel: "Ab 99,99€ verfügbar".</p>
</div>
<h5 id="_setpreise_konfigurieren" class="discrete">Setpreise konfigurieren</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/artikel/einstellungen/preise#200">Erstelle einen Verkaufspreis für Sets</a>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Wähle dabei den Typ <strong>Setpreis</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><a href="/artikel/einstellungen/preise#900">Verknüpfe diesen Verkaufspreis</a> mit allen Bestandteilen und gib für jeden Bestandteil einen Geldbetrag ein. Beachte, dass es sich bei den Setbestandteilen um ganz normale Varianten handelt.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Es ist möglich, ein Set günstiger als die Summe seiner Bestandteile zu machen. Es gibt zwei Wege, dies zu tun:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Einerseits könntest du günstigere Geldbeträge für den Set-Verkaufspreis speichern als für den normalen Verkaufspreis.</p>
</li>
<li>
<p>Andererseits könntest du einen <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#4000">prozentualen Rabatt</a> eingeben, der für das gesamte Set gilt.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kann ich die Reihenfolge steuern, in der die Bestandteile im plentyShop angezeigt werden?</strong></div>
<div class="content">
<div class="paragraph">
<p>Es gibt zurzeit keine Einstellung, die die Reihenfolge direkt steuert.
Wir planen aber, in Zukunft ein Positionsfeld zu implementieren.</p>
</div>
<div class="paragraph">
<p><strong><em>Workaround</em></strong>:
Füge die Bestandteile schon in der Reihenfolge hinzu, die dann auch im Shop dargestellt werden soll.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>