<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#1000"><span>1.</span><span> Multipack einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>1.1.</span><span> Artikel des Typs Multipack erstellen</span></a></li>
<li><a href="#1300"><span>1.2.</span><span> Artikel des Typs Multipack bearbeiten</span></a></li>
<li><a href="#1400"><span>1.3.</span><span> Multipack-Variante erstellen</span></a></li>
</ul>
</li>
<li><a href="#2000"><span>2.</span><span> Artikelpaket einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#2100"><span>2.1.</span><span> Artikelpaket erstellen</span></a></li>
<li><a href="#2200"><span>2.2.</span><span> Paketbestandteile bearbeiten oder löschen</span></a></li>
<li><a href="#2300"><span>2.3.</span><span> Mehrere Pakete in einem Artikel abbilden</span></a></li>
<li><a href="#2400"><span>2.4.</span><span> Warenbestand von Artikelpaketen einstellen</span></a></li>
<li><a href="#2500"><span>2.5.</span><span> Gewicht und Einkaufspreis berechnen</span></a></li>
</ul>
</li>
<li><a href="#3000"><span>3.</span><span> Set einrichten (nicht verkaufbar)</span></a>
<ul class="sectlevel2">
<li><a href="#3100"><span>3.1.</span><span> Artikel des Typs Set erstellen</span></a></li>
<li><a href="#3200"><span>3.2.</span><span> Setbestandteile vorbereiten</span></a></li>
<li><a href="#3300"><span>3.3.</span><span> Artikel des Typs Set erstellen</span></a></li>
<li><a href="#3400"><span>3.4.</span><span> Artikel des Typs Set bearbeiten</span></a></li>
<li><a href="#3500"><span>3.5.</span><span> Bestandteile zum Set hinzufügen</span></a></li>
<li><a href="#3600"><span>3.6.</span><span> Menge eines Setbestandteils ändern</span></a></li>
<li><a href="#3700"><span>3.7.</span><span> Rabatt für Setartikel festlegen</span></a></li>
<li><a href="#3800"><span>3.8.</span><span> Warenbestand von Sets</span></a></li>
<li><a href="#3900"><span>3.9.</span><span> Setbestandteile entfernen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Multipacks, Artikelpakete und Sets verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet verschiedene Möglichkeiten, Produkte zu kombinieren und als eine Verkaufseinheit anzubieten. Bei einer Bestellung wird dann gleichzeitig mehr als ein Produkt in den Warenkorb gelegt. <a href="#tabelle-produkte-zusammenfassen">Tabelle 1</a> zeigt die verschiedenen Möglichkeiten, mehrere Produkte kombiniert zu verkaufen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Schon mit der Artikelverwaltung vertraut?</div>
<div class="paragraph">
<p>Die Informationen auf dieser Seite richten sich an Benutzerinnen und Benutzer von plentymarkets, die bereits mit der Artikelverwaltung vertraut sind. Grundlegende Informationen dazu, wie du Artikel und Varianten erstellst und verwaltest, findst du auf der Handbuchseite <a href="/artikel/artikel-verwalten">Artikel verwalten</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-produkte-zusammenfassen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Mehrere Produkte gleichzeitig verkaufen</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 71.4285%;">
<col style="width: 14.2858%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Art</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Artikeltyp</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#1000">Multipack</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Multipacks bestehen aus derselben Variante in verschiedenen Stückzahlen.</p>
</li>
<li>
<p>Die Hauptvariante entspricht der Menge 1 der weiteren Varianten des Artikels.</p>
</li>
<li>
<p>Der Bestand wird nur an der Hauptvariante verwaltet.</p>
</li>
<li>
<p>Die Varianten des Artikels entsprechen den verschiedenen Mengen der Hauptvariante.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multipack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#2000">Paket</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Pakete bestehen aus je einer Variante verschiedener Artikel.</p>
</li>
<li>
<p>Bestellt werden kann nur das komplette Paket, die einzelnen Bestandteile können also nicht gewählt werden.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="#3000">Set</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Sets können zurzeit zwar erstellt, aber noch nicht im Webshop dargestellt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sets bestehen aus mehreren Artikeln.</p>
</li>
<li>
<p>Für jeden Artikel des Sets kann bei der Bestellung eine Variante des Artikels gewählt werden.</p>
</li>
<li>
<p>Die Hauptvariante selbst ist virtuell, kann also nicht verkauft werden.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">1. Multipack einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei einem Artikel des Typs <strong>Multipack</strong> entspricht die Hauptvariante der kleinsten Verkaufseinheit des Produkts. Alle weiteren Varianten des Artikels sind Kombinationen dieser kleinsten Verkaufseinheit. Der Bestand wird nur an der Hauptvariante gepflegt. Alle Varianten des Artikels haben dieselben Attribute. Das heißt, dass bei der Bestellung nicht zum Beispiel zwischen verschiedenen Farben oder Größen des Produkts gewählt werden kann. Im Onlineshop kann nur zwischen den verschiedenen Varianten gewählt werden, die der Anzahl des Produktes entspricht.</p>
</div>
<div class="sect2">
<h3 id="1100">1.1. Artikel des Typs Multipack erstellen</h3>
<div class="paragraph">
<p>Beim Erstellen eines neuen Multipacks wird wie bei Artikeln des Typs <strong>Standard</strong> automatisch eine Hauptvariante erstellt. Diese Hauptvariante ist fest mit dem Artikel des Typs <strong>Multipack</strong> verbunden und kann nur zusammen mit dem Artikel erstellt oder gelöscht werden. Die Hauptvariante selbst entspricht der kleinsten Verkaufseinheit des Produkts.</p>
</div>
<div class="paragraph instruction">
<p>Artikel des Typs Multipack erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Typ <strong>Multipack</strong>.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen vor. Beachte <a href="#tabelle-multipack-erstellen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Artikel des Typs <strong>Multipack</strong> wird erstellt.<br>
→ Die Hauptvariante wird in einem neuen Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Neuen Artikel des Typs <strong>Multipack</strong> in Übersicht anzeigen</div>
<div class="paragraph">
<p>Der neue Artikel des Typs <strong>Multipack</strong> ist nicht aktiv. Um neu erstellte Artikel in der Übersicht im Menü <strong>Artikel » Artikel bearbeiten</strong> anzuzeigen, wähle auf der linken Seite für den Filter <strong>Aktiv</strong> die Option <strong>ALLE</strong>. Klicke dann auf <strong>Suchen</strong>. Wie du Artikel und Varianten für den Webshop aktivierst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#180">Verfügbarkeit einstellen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-multipack-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Artikel des Typs Multipack erstellen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltyp <strong>Multipack</strong> wählen.<br>
<strong>Standard</strong> = Erstellt einen Artikel des Typs <strong>Standard</strong> mit Hauptvariante.<br>
<strong>Set</strong> = Erstellt einen Artikel des Typs <strong>Set</strong>.
<strong>Multipack</strong> = Erstellt einen Artikel des Typs <strong>Multipack</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Artikel-ID ist eine eindeutige, fortlaufende Zahl, die plentymarkets zur exklusiven Zuordnung jedes Artikels benötigt. Wird dieses Feld freigelassen, vergibt plentymarkets automatisch die nächste freie ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen für das Multipack eingeben. Der Name ist eine Pflichteingabe. Wie du den Namen änderst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#50">Artikeltexte eingeben</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Variante » Kategorieverknüpfung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategoriewahl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kategorie wählen, in der das Multipack veröffentlicht werden soll. Alternativ auf <strong>Neue Kategorie</strong> klicken, um eine neue Kategorie zu erstellen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1300">1.2. Artikel des Typs Multipack bearbeiten</h3>
<div class="paragraph">
<p>Nachdem du den Artikel des Typs <strong>Multipack</strong> erstellt hast, nimm die weiteren Einstellungen vor. Diese Einstellungen sind identisch mit den Einstellungen für <a href="/artikel/artikel-verwalten#30">Artikel des Typs Standard</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">1.3. Multipack-Variante erstellen</h3>
<div class="paragraph">
<p>Beim Erstellen eines Artikels des Typs <strong>Multipack</strong> wird immer eine Hauptvariante erstellt. Die Hauptvariante ist fest mit dem Artikel verbunden. Die Hauptvariante kann nicht gelöscht werden. Diese Hauptvariante entspricht der kleinsten Verkaufseinheit des Produkts. Alle weiteren Varianten des Artikels entsprechen dieser kleinsten Verkaufseinheit mal x. Der Bestand aller Varianten wird nur an der Hauptvariante gepflegt. Im Tab <strong>Bestand</strong> der weiteren Varianten des Artikels wird nur der theoretische Bestand angezeigt. Wenn sich der Bestand der Hauptvariante ändert, wird der Bestand für die anderen Varianten des Artikels neu berechnet.</p>
</div>
<div class="paragraph instruction">
<p>Multipack-Variante erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel des Typs <strong>Multipack</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neue Variante erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib als Inhalt eine Stückzahl der Hauptvariante ein.<br>
<strong><em>Tipp:</em></strong> Einheit und Attribute sind nicht änderbar.</p>
</li>
<li>
<p>Klicke auf <strong>Variante erstellen</strong>.<br>
→ Die Variante wird erstellt.<br>
→ Die Variante wird in der Variantenübersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Einstellungen der Variante bearbeitest du genauso wie <a href="/artikel/artikel-verwalten#170">Varianten von Artikeln des Typs Standard</a>. Beachte jedoch die folgenden Besonderheiten von Multipack-Varianten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Deaktiviere die Vererbung des Verkaufspreises und speichere einen eigenen Preis.</p>
</li>
<li>
<p>Der Tab <strong>Bestand</strong> ist rein informativ. Der Bestand wird nur an der Hauptvariante gepflegt.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">2. Artikelpaket einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Artikelpaket besteht aus mehreren Produkten. Der Paketpreis eines Artikelpakets kann dabei günstiger sein als die Summe der Einzelpreise. Pakete filterst du im Menü <strong>Artikel » Artikel bearbeiten</strong> mit dem Filter <strong>Paket</strong>.</p>
</div>
<div class="sect2">
<h3 id="2100">2.1. Artikelpaket erstellen</h3>
<div class="paragraph">
<p>Im Tab <strong>Paket</strong> eines Artikels des Typs <strong>Standard</strong> erstellst du ein Artikelpaket, das sich aus mehreren Bestandteilen, den Basisartikeln, zusammensetzt. Wenn du dem geöffneten Artikel weitere Varianten hinzufügst, wird daraus ein Paket. Die Bestandteile des Pakets werden im Tab <strong>Paket-Bestandteile</strong> angezeigt und werden dort auch bearbeitet und gelöscht.</p>
</div>
<div class="paragraph instruction">
<p>Artikelpaket erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Typ <strong>Standard</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Gib den Inhalt ein.</p>
</li>
<li>
<p>Wähle eine Kategorie.</p>
</li>
<li>
<p>Nimm bei Bedarf weitere Einstellungen vor. Beachte dazu die Erläuterungen zu Artikeln des Typs <strong>Standard</strong> auf der Handbuchseite <a href="/artikel/artikel-verwalten#tabelle-standardartikel-erstellen">Artikel verwalten</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Artikel wird erstellt.<br>
→ Die Hauptvariante wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Öffne die Variante.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Paket » Variante hinzufügen</strong>.</p>
</li>
<li>
<p>Setze Häkchen bei Varianten, die du als Paketbestandteile hinzufügen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Variante hinzufügen</strong>.<br>
→ Die Bestandteile werden zum Artikelpaket hinzugefügt und im Tab <strong>Paket-Bestandteile</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Verknüpfe anschließend einen Verkaufspreis mit dem Artikelpaket und gib einen Preis ein. Wie du Verkaufspreise verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#240">Verkaufspreise verknüpfen</a>. In der Auftragsabwicklung wird dann nur der Paketpreis angegeben und die Paketbestandteile ohne Einzelpreise.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Vorhandenen Artikel als Paketartikel einrichten</div>
<div class="paragraph">
<p>Anstatt einen neuen Paketartikel zu erstellen, kannst du auch einen vorhandenen Artikel verwenden und diesem Paketbestandteile hinzufügen. Beachte, dass der Paketartikel, dem du Bestandteile hinzufügst, keinen eigenen Bestand haben darf.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="2200">2.2. Paketbestandteile bearbeiten oder löschen</h3>
<div class="paragraph">
<p>Im Tab <strong>Paket-Bestandteile</strong> änderst du die Menge der im Artikelpaket enthaltenen Varianten, siehst den Nettowarenbestand der Varianten und löschst nicht mehr benötigte Paket-Bestandteile.</p>
</div>
<div class="paragraph instruction">
<p>Paketbestandteil löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle für den Filter <strong>Paket</strong> die Einstellung <strong>Ja</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Alle Paketartikel werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Paketartikel.</p>
</li>
<li>
<p>Öffne die Variante.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Paket » Paket-Bestandteile</strong>.</p>
</li>
<li>
<p>Setze Häkchen bei den Paketbestandteilen, die du löschen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Paket-Bestandteile löschen</strong>.<br>
→ Die Paketbestandteile werden aus dem Artikelpaket gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="2300">2.3. Mehrere Pakete in einem Artikel abbilden</h3>
<div class="paragraph">
<p>Artikelvarianten können zu Paketen mit verschiedenen Bestandteilen werden. Auf diese Weise gestaltest du Artikelpakete komplex und vielseitig nach Ihren Anforderungen.</p>
</div>
<div class="paragraph subhead">
<p>Beispiel für Paketvarianten: du möchtest je ein Handtuch und ein Badetuch im Paket in unterschiedlichen Farben verkaufen. Hierfür sind folgende Schritte notwendig:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#400">Attribut erstellen</a> mit den notwendigen Werten, zum Beispiel rot und blau</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#20">Artikel erstellen</a>, der als Paketartikel dient, zum Beispiel Handtuchpaket</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#160">Varianten erstellen</a> und dabei die Attributwerte verknüpfen</p>
</li>
<li>
<p>Artikel für Paketbestandteile erstellen, zum Beispiel Handtuch und Badetuch</p>
</li>
<li>
<p>Varianten für Paketbestandteile erstellen, zum Beispiel rotes Handtuch, blaues Handtuch etc.</p>
</li>
<li>
<p><a href="#2100">Paketbestandteile</a> zu den Varianten des Artikelpakets hinzufügen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Auf diese Weise bietest du in deinem Webshop den Artikel <strong>Handtuchpaket</strong> als Paket in den Farben <strong>Rot</strong> und <strong>Blau</strong> an.</p>
</div>
</div>
<div class="sect2">
<h3 id="2400">2.4. Warenbestand von Artikelpaketen einstellen</h3>
<div class="paragraph">
<p>Der Warenbestand des Pakets richtet sich nach dem Paketbestandteil mit dem geringsten Bestand. Der Warenbestand dieses Paketbestandteils wird in der Artikelübersicht im Menü <strong>Artikel » Artikel bearbeiten</strong> in der Spalte <strong>WB netto</strong> angezeigt. Am Paketartikel selbst pflegst du keinen Bestand. Im Paketbestandteil im Tab <strong>Bestand</strong> verwaltest du den Warenbestand, buchst neue Wareneingänge, korrigierst Bestände und überblickst Zuläufe und Warenbewegungen. Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft">Warenwirtschaft</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="2500">2.5. Gewicht und Einkaufspreis berechnen</h3>
<div class="paragraph">
<p>Ein Artikelpaket ist eine Zusammenstellung mehrerer Bestandteile. Jeder Bestandteil verfügt wiederum über wichtige Kennzahlen, wie <a href="/artikel/artikel-verwalten#270">Gewicht</a> und <a href="/artikel/artikel-verwalten#280">Einkaufspreis</a> (EK). Aber wie setzen sich diese Kennzahlen für das Artikelpaket insgesamt zusammen?</p>
</div>
<div class="paragraph">
<p>Du kannst das Gewicht und den EK für das Artikelpaket selber eintragen. Es gibt aber auch die Möglichkeit, diese Kennzahlen automatisch berechnen zu lassen. Wie das geht, wird im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Gewicht und EK automatisch berechnen lassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle für den Filter <strong>Paket</strong> die Einstellung <strong>Ja</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Alle Artikelpakete werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne das Artikelpaket.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die gewünschten Einstellungen im Bereich <strong>Paket</strong> aus. Beachte dazu die Erläuterungen in <a href="#tabelle-gewicht-ek-berechnen">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p><a href="/basics/arbeiten-mit-plentymarkets/allgemeine-funktionen#70">Lade</a> das Artikelpaket neu.<br>
→ Die Kennzahlen werden nun automatisch auf Basis der einzelnen Bestandteile berechnet.</p>
</li>
</ol>
</div>
<table id="tabelle-gewicht-ek-berechnen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Gewicht und EK automatisch berechnen lassen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch aus Paketbestandteile berechnen: EK netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettoeinkaufspreis automatisch anhand der Bestandteile berechnen.<br>
Rechts im Bereich <strong>Kosten</strong> wird das Feld <a href="/artikel/artikel-verwalten#280"><strong>EK netto</strong></a> nach Speichern und Neuladen ausgegraut.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch aus Paketbestandteile berechnen: GLD EK netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gleitenden Nettoeinkaufspreis automatisch anhand der Bestandteile berechnen.<br>
Rechts im Bereich <strong>Kosten</strong> wird das Feld <a href="/artikel/artikel-verwalten#280"><strong>GLD EK netto</strong></a> nach Speichern und Neuladen ausgegraut.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch aus Paketbestandteile berechnen: Gewicht netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogewicht automatisch anhand der Bestandteile berechnen.<br>
Rechts im Bereich <strong>Maße</strong> wird das Feld <a href="/artikel/artikel-verwalten#270"><strong>Gewicht netto</strong></a> nach Speichern und Neuladen ausgegraut.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch aus Paketbestandteile berechnen: Gewicht brutto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Buttogewicht automatisch anhand der Bestandteile berechnen.<br>
Rechts im Bereich <strong>Maße</strong> wird das Feld <a href="/artikel/artikel-verwalten#270"><strong>Gewicht brutto</strong></a> nach Speichern und Neuladen ausgegraut.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Artikelpakete gleichzeitig anpassen</div>
<div class="paragraph">
<p>Verwende die <a href="/artikel/artikel-verwalten#330">Varianten-Gruppenfunktion oder Stapelverarbeitung</a>, um Gewicht und EK für mehrere Artikelpakete gleichzeitig berechnen zu lassen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Berechnungsautomatik standardmäßig aktivieren</div>
<div class="paragraph">
<p>Willst du Gewicht und Einkaufspreis in der Regel automatisch berechnen lassen? Vielleicht hast du nur einzelne Artikel, die du von der automatischen Berechnung ausschließen möchtest. Kein Problem! Öffne das Menü <strong>Einrichtung » Artikel » Einstellungen</strong> und bestimme welche Kennzahlen automatisch berechnet werden sollen. Verwende dabei die Optionen <strong>Paketautomatik für Gewicht brutto</strong>, <strong>Paketautomatik für Gewicht netto</strong>, <strong>Paketautomatik für EKs</strong> und <strong>Paketautomatik für GLD EKs</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kennzahlen lieber händisch eintragen?</div>
<div class="paragraph">
<p>Möchtest du das Gewicht und den EK für deine Artikelpakete selbst eintragen? Wähle im Bereich <strong>Paket</strong> keine Einstellungen aus, um die Daten händisch zu pflegen. Sind keine Einstellungen ausgewählt, haben Kennzahlen der einzelnen Bestandteile keinen Einfluss auf die Kennzahlen des Artikelpakets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3000">3. Set einrichten (nicht verkaufbar)</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="3100">3.1. Artikel des Typs Set erstellen</h3>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Artikel des Typs Set sind nicht im Webshop darstellbar</div>
<div class="paragraph">
<p>Zurzeit kannst du Artikel des Typs <strong>Set</strong> zwar erstellen, aber noch nicht im Webshop darstellen. Daher kannst du die Option <strong>Aktiv</strong> für Artikel des Typs <strong>Set</strong> nicht wählen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Ein Setartikel besteht aus mehreren Artikeln. Bei Artikeln des Typs <strong>Set</strong> kann bei der Bestellung aus den verschiedenen Varianten der darin enthaltenen Artikel ein Set zusammengezustellt werden. Anders als bei Artikelpaketen kann also bei Artikelsets für die im Set enthaltenen Produkte eine von mehreren Varianten gewählt werden. Sets filterst du im Menü <strong>Artikel » Artikel bearbeiten</strong> mit dem Filter <strong>Typ</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="3200">3.2. Setbestandteile vorbereiten</h3>
<div class="paragraph">
<p>Erstelle zunächst einen <a href="/artikel/artikel-verwalten#880">Verkaufspreis</a> des Typs <strong>Preisset</strong>. Verlinke diesen Verkaufspreis dann mit den Varianten von Artikeln des Typs <strong>Standard</strong>, die du zu einem Set hinzufügen möchtest, und speichere einen Preis.</p>
</div>
</div>
<div class="sect2">
<h3 id="3300">3.3. Artikel des Typs Set erstellen</h3>
<div class="paragraph">
<p>Beim Erstellen eines neuen Sets wird wie bei Artikeln des Typs <strong>Standard</strong> automatisch eine Hauptvariante erstellt. Diese Hauptvariante ist fest mit dem Artikel des Typs <strong>Set</strong> verbunden und kann nur zusammen mit dem Artikel erstellt oder gelöscht werden. Anders als bei Artikeln des Typs <strong>Standard</strong> ist die Hauptvariante eines Artikels des Typs <strong>Set</strong> jedoch nur virtuell. Die Hauptvariante selbst entspricht also keinem physischen Produkt. Die Hauptvariante eines Artikels des Typs <strong>Set</strong> dient lediglich als Datencontainer, zu dem du die Setbestandteile hinzufügst, und dazu, Einstellung für das gesamte Set vorzunehmen, das sich aus der Summe der einzelnen Bestandteile ergibt.</p>
</div>
<div class="paragraph instruction">
<p>Artikel des Typs Set erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Typ <strong>Set</strong>.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen vor. Beachte <a href="#tabelle-setartikel-erstellen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Artikel des Typs <strong>Set</strong> wird erstellt.<br>
→ Die Hauptvariante wird in einem neuen Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Neuen Artikel des Typs <strong>Set</strong> in Übersicht anzeigen</div>
<div class="paragraph">
<p>Der neue Artikel des Typs <strong>Set</strong> ist noch inaktiv. Um neue Artikel nach dem Erstellen in der Übersicht im Menü <strong>Artikel » Artikel bearbeiten</strong> anzuzeigen, wähle auf der linken Seite für den Filter <strong>Aktiv</strong> die Option <strong>ALLE</strong>. Klicke dann auf <strong>Suchen</strong>. Wie du Artikel und Varianten für den Webshop aktivierst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#180">Verfügbarkeit einstellen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-setartikel-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Artikel des Typs Set erstellen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltyp <strong>Set</strong> wählen.<br>
<strong>Standard</strong> = Erstellt einen Artikel des Typs <strong>Standard</strong> mit Hauptvariante.<br>
<strong>Set</strong> = Erstellt einen Artikel des Typs <strong>Set</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Artikel-ID ist eine eindeutige, fortlaufende Zahl, die plentymarkets zur exklusiven Zuordnung jedes Artikels benötigt. Wird dieses Feld freigelassen, vergibt plentymarkets automatisch die nächste freie ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen für das Set eingeben. Der Name ist eine Pflichteingabe. Wie du den Namen änderst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#50">Artikeltexte eingeben</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Variante » Kategorieverknüpfung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategoriewahl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kategorie wählen, in der das Set veröffentlicht werden soll. Alternativ auf <strong>Neue Kategorie</strong> klicken, um eine neue Kategorie zu erstellen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="3400">3.4. Artikel des Typs Set bearbeiten</h3>
<div class="paragraph">
<p>Nachdem du den Artikel des Typs <strong>Set</strong> erstellt hast, nimm nun die weiteren Einstellungen vor.</p>
</div>
<div class="paragraph instruction">
<p>Artikel des Typs Set bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel des Typs <strong>Set</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-setartikel-bearbeiten">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-setartikel-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Artikel des Typs Set bearbeiten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Global</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlöskonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlöskonto eingeben. Weitere Informationen zum Erlöskonto findest du auf der Handbuchseite <a href="/auftraege/buchhaltung#90">Buchhaltung</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Altersfreigabe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe für den Artikel des Typs <strong>Set</strong> wählen. Dabei die Altersfreigabe der Variante mit der höchsten Altersfreigabe wählen. Für den Versand von Artikeln mit <strong>Altersfreigabe 18</strong> muss ein <a href="/fulfillment/versand-vorbereiten#1000">Versandprofil</a> verknüpft sein, bei dem die Option <strong>PostIdent</strong> aktiviert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Gutscheine für das Set <strong>möglich</strong> oder <strong>verboten</strong> sind, oder ob das Set <strong>nur mit Gutschein kaufbar</strong> ist. Weitere Informationen zu Gutscheinen findest du auf der Handbuchseite <a href="/auftraege/gutscheine">Gutscheine</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandpaket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandpaket verwenden. Versandpakete haben festgelegte Maße. Wenn du die Maße des Artikels im Tab <strong>Einstellungen</strong> des Artikels des Typs <strong>Set</strong> eingibst, erfolgt automatisch die Zuordnung des passenden Versandpakets. Wie du Versandpakete einrichtest, erfährst du auf der Handbuchseite <a href="/fulfillment/versand-vorbereiten#1900">Versandpakete</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seriennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seriennummern zur eindeutigen Kennzeichnung jedes verkauften Sets verwenden. Seriennummern gewährleisten die Rückverfolgbarkeit von Artikeln im Fehler- oder Problemfall. Wie du Seriennummern einrichtest, erfährst du unter <a href="/artikel/artikel-verwalten#820">Seriennummern verwenden</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein, mehrere oder <strong>ALLE</strong> <a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a> aktivieren. Standardmäßig ist kein Versandprofil aktiviert. Mindestens ein Versandprofil aktivieren, da sonst ungewollte Effekte bei der Versandkostenberechnung auftreten können. Wenn ein Auftrag Artikel enthält, bei denen kein Versandprofil aktiviert wurde, wird das Standard-Versandprofil aus dem Standard-Webshop für die Artikel verwendet. Wenn kein Standard-Versandprofil festgelegt ist, wird das Versandprofil mit der höchsten Priorität verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop-Aktion oder <strong>Keine</strong> wählen. Sets können als Shop-Aktionen in deinem Webshop dargestellt werden. Wie du Shop-Aktionen einbindest, erfährst du unter <a href="/artikel/artikel-verwalten#1010">Artikel als Top-Artikel präsentieren</a>.<br>
<strong>Sonderangebot</strong> = Stellt eine Liste von Sonderangeboten dar.<br>
<strong>Neuheit</strong> = Stellt eine Liste der neuesten Artikel dar.<br>
<strong>Top-Artikel</strong> = Stellt eine Liste der meistverkauften Artikel dar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbewertung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstbewertung von <strong>1</strong> bis <strong>5</strong> oder <strong>1</strong> bis <strong>10</strong> für das Set eingeben. Wenn du Artikelbewertungen verwendest, wird der eingegebene Wert als Erstbewertung des Sets angezeigt. Der Wert wird nach jeder Bewertung automatisch auf einen Durchschnittswert angepasst. Den Bewertungsbereich legst du im Menü <strong>Einrichtung » Mandant » Global » Feedback » Tab: Artikel</strong> unter <strong>Maximale Bewertungspunkte</strong> fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf das Bild klicken, um das Tab <strong>Bilder</strong> aufzurufen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Set</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tab: Einstellungen</strong><br>
<strong>Tab: Artikel hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel <a href="#3500">hinzufügen</a>, <a href="#3600">ändern</a> und <a href="#3900">löschen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Varianten-ID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tab: Einstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen entsprechen den Einstellungen für Artikel des Typs <strong>Standard</strong>, siehe <a href="/artikel/artikel-verwalten#230">Verfügbarkeit von Varianten einstellen</a> und <a href="/artikel/artikel-verwalten#250">Barcodes verknüpfen</a>. Auf das Bild klicken, um das Tab <strong>Bilder</strong> aufzurufen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tab: Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen entsprechen den Einstellungen für Artikel des Typs <strong>Standard</strong>, siehe <a href="/artikel/artikel-verwalten#300">Zusätzliche Kategorien verknüpfen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tab: Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der Spalte <strong>Verfügbar</strong> Häkchen bei den Mandanten setzen, in denen das Set verfügbar sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Texte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Texte</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen entsprechen den Einstellungen für Artikel des Typs <strong>Standard</strong>, siehe <a href="/artikel/artikel-verwalten#50">Artikeltexte eingeben</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Bilder</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bilder</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bilder des Sets hochladen. Im Webshop werden außerdem die Bilder der Varianten des Sets angezeigt. Die weiteren Einstellungen entsprechen den Einstellungen für Artikel des Typs <strong>Standard</strong>, siehe <a href="/artikel/artikel-verwalten#90">Artikelbilder hochladen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Media</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Media</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen entsprechen den Einstellungen für Artikel des Typs <strong>Standard</strong>, siehe <a href="/artikel/artikel-verwalten#110">Dateien zum Download bereitstellen</a>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="3500">3.5. Bestandteile zum Set hinzufügen</h3>
<div class="paragraph">
<p>Füge nun die Artikel des Typs <strong>Standard</strong> zu dem Setartikel hinzu, die du als Set anbieten möchtest. Wenn du einen Artikel mit mehreren Varianten hinzufügst, wird bei der Bestellung im Webshop eine dieser Varianten als Bestandteil des Sets gewählt. Bei Artikeln, die nur eine Hauptvariante, d.h. keine weiteren Varianten haben, gibt es keine Wahlmöglichkeit. Lediglich die Hauptvariante wird zum Set hinzugefügt.</p>
</div>
<div class="paragraph instruction">
<p>Bestandteile zum Setartikel hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Setartikel.</p>
</li>
<li>
<p>Öffne das Tab <strong>Set</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Artikel hinzufügen</strong>.<br>
→ Eine Liste der Artikel wird angezeigt.</p>
</li>
<li>
<p>Wähle die Artikel, die Bestandteile des Sets sein sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Artikel werden zum Setartikel hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="3600">3.6. Menge eines Setbestandteils ändern</h3>
<div class="paragraph">
<p>Im Tab <strong>Set » Einstellungen</strong> eines Setartikels sind die Bestandteile eines Setartikels aufgelistet. In der Spalte <strong>Menge</strong> gibst du an, wie viele Exemplare der gewählten Variante des Artikels Bestandteil des Sets sein sollen. Standardmäßig ist die Menge <strong>1</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Menge eines Setbestandteils ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Setartikel.</p>
</li>
<li>
<p>Öffne das Tab <strong>Set</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Einstellungen</strong>.<br>
→ Eine Liste der Bestandteile des Sets wird angezeigt.</p>
</li>
<li>
<p>Gib in der Spalte <strong>Menge</strong> die gewünschte Menge ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Menge wird geändert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="3700">3.7. Rabatt für Setartikel festlegen</h3>
<div class="paragraph">
<p>Standardmäßig ergibt sich der Preis eines Artikelsets aus der Summe der Einzelpreise der Setbestandteile. Du hast jedoch die Möglichkeit, einen Rabatt in % auf den Gesamtpreis des Sets zu gewähren.</p>
</div>
<div class="paragraph instruction">
<p>Rabatt für Setartikel festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Setartikel.</p>
</li>
<li>
<p>Öffne das Tab <strong>Set</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Einstellungen</strong>.<br>
→ Eine Liste der Bestandteile des Sets wird angezeigt.</p>
</li>
<li>
<p>Trage in das Feld <strong>Rabatt</strong> den Prozentsatz ein, um den der Gesamtpreis rabattiert werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Rabatt wird angewendet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="3800">3.8. Warenbestand von Sets</h3>
<div class="paragraph">
<p>Der Warenbestand eines Setartikels richtet sich nach der Variante des Sets mit dem geringsten Bestand. Der Warenbestand dieser Variante wird in der Artikelübersicht im Menü <strong>Artikel » Artikel bearbeiten</strong> in der Spalte <strong>WB netto</strong> angezeigt. Am Artikel des Typs <strong>Set</strong> selbst pflegst du keinen Bestand. Den Warenbestand verwaltest du stattdessen im Tab <strong>Bestand</strong> der Setbestandteile. Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft">Warenwirtschaft</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="3900">3.9. Setbestandteile entfernen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um nicht mehr benötigte Bestandteile aus dem Setartikel zu entfernen.</p>
</div>
<div class="paragraph instruction">
<p>Setbestandteile entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Setartikel.</p>
</li>
<li>
<p>Öffne das Tab <strong>Set</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Einstellungen</strong>.<br>
→ Eine Liste der Bestandteile des Sets wird angezeigt.</p>
</li>
<li>
<p>Setze Häkchen bei den Artikeln, die du aus dem Setartikel entfernen möchten.</p>
</li>
<li>
<p>Klicke auf <strong>Bestandteile löschen</strong>.<br>
→ Die Artikel werden aus dem Setartikel entfernt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>