<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Pool von Seriennummern aufbauen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Seriennummern im Artikeldatensatz eingeben</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Erstellte Seriennummern suchen, bearbeiten oder löschen</span></a>
<ul class="sectlevel3">
<li><a href="#400"><span>1.2.1.</span><span> Seriennummer suchen</span></a></li>
<li><a href="#500"><span>1.2.2.</span><span> Seriennummer bearbeiten</span></a></li>
<li><a href="#600"><span>1.2.3.</span><span> Seriennummer löschen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#700"><span>2.</span><span> Seriennummern zu Bestellungen zuordnen</span></a>
<ul class="sectlevel2">
<li><a href="#800"><span>2.1.</span><span> Eine bestimmte Seriennummer aus dem Pool zuweisen</span></a>
<ul class="sectlevel3">
<li><a href="#900"><span>2.1.1.</span><span> Welche Artikel sollen gescannt werden können?</span></a></li>
<li><a href="#1000"><span>2.1.2.</span><span> Baue den Prozess</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>2.2.</span><span> Eine x-beliebige Seriennummer aus dem Pool zuweisen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.</span><span> Seriennummern exportieren</span></a></li>
<li><a href="#1300"><span>4.</span><span> Retouren mit Seriennummern annehmen</span></a>
<ul class="sectlevel2">
<li><a href="#1400"><span>4.1.</span><span> Bestelldaten anhand einer Seriennummer suchen</span></a></li>
<li><a href="#1500"><span>4.2.</span><span> Seriennummer löschen und neu erstellen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Seriennummern</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Eine Seriennummer ist eine alphanumerische Zeichenkette, die ein einzelnes Exemplar eines Artikels eindeutig kennzeichnet. Seriennummern ermöglichen die Rückverfolgbarkeit eines verkauften Artikels im Fehler- oder Problemfall und erleichtern somit das Aufspüren von gestohlenen oder gefälschten Produkten. Beispiele für Artikel mit Seriennummern sind Autos, Elektronik und Haushaltsgeräte.</p>
</div>
<div class="paragraph">
<p>Stell dir zum Beispiel vor, du verkaufst Mobiltelefone. Dein Hersteller versieht jedes Handy mit einer eindeutigen Seriennummer. Jedes Mal, wenn du eines der Handys verkaufst, soll plentymarkets protokollieren, <em>welches Exemplar</em> verkauft wurde. Mit anderen Worten soll plentymarkets festhalten, welche Seriennummer welcher Bestellung entspricht. So bleibt deine Firma auf der sicheren Seite. Falls ein Artikel retourniert wird, kannst du die Seriennummer prüfen und sicherstellen, dass du keine Fälschung erhältst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Pool von Seriennummern aufbauen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="200">1.1. Seriennummern im Artikeldatensatz eingeben</h3>
<div class="paragraph">
<p>Erstelle zuerst einen Pool von Seriennummern in plentymarkets. Stell dir zum Beispiel vor, du verkaufst Elektronikartikel und hast gerade 50 Exemplare eines Handys von deinem Hersteller erhalten. Jedes Exemplar hat eine eigene Seriennummer. Zuerst gibst du alle 50 Seriennummern in plentymarkets ein. Damit erstellst du einen Pool von verfügbaren Seriennummern für diesen Artikel.</p>
</div>
<div class="paragraph">
<p>Wie viele Seriennummern möchtest du eingeben? Wenn du nur wenige Seriennummern eingeben möchtest, dann empfiehlt es sich, diese <em>manuell</em> in den Artikeldatensatz einzugeben. Wenn du aber große Mengen an Seriennummern eingeben möchtest, dann ist es wahrscheinlich schneller, sie zu <em>importieren</em>.</p>
</div>
<div class="paragraph instruction">
<p>Seriennummer manuell eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel.</p>
</li>
<li>
<p>Klicke in der obere Symbolleiste auf das Symbol <strong>Seriennummern</strong> (<span class="icon "><i class="psicon-item_serial_number"></i></span>).<br>
→ Das Fenster <strong>Seriennummern</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib unter <strong>Neue Seriennummern</strong> eine Seriennummer ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Seriennummer oder drücke die Enter-Taste, um die Seriennummer zu speichern.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Seriennummern importieren</div>
<div class="paragraph">
<p>Nutze das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a>, wenn du große Mengen an Seriennummern auf einmal eingeben möchtest.
Verwende dazu das <a href="/daten/daten-importieren/sync-typen/elasticSync-artikel#2285">Seriennummer</a> Zuordnungsfeld innerhalb des Import-Typs <strong>Artikel</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Erstellte Seriennummern suchen, bearbeiten oder löschen</h3>
<div class="paragraph">
<p>Sobald du eine <a href="/artikel/anwendungsfaelle/seriennummern#200">Seriennummer eingegeben</a> hast, wird sie dir in der Übersicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><em>Freie Seriennummern</em> werden in grün dargestellt, d.h. Seriennummern, die noch keinem bestimmten Auftrag entsprechen.</p>
</li>
<li>
<p><em>Verwendete Seriennummern</em> werden in rot dargestellt, d.h. Seriennummern, die bereits einem bestimmten Auftrag entsprechen. Die Auftrags-ID wird mit angezeigt.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="400">1.2.1. Seriennummer suchen</h4>
<div class="paragraph">
<p>Im oberen Bereich des Pop-up-Fensters suchst du gezielt nach Seriennummern.</p>
</div>
<div class="paragraph instruction">
<p>Seriennummer suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel.</p>
</li>
<li>
<p>Klicke in der obere Symbolleiste auf das Symbol <strong>Seriennummern</strong> (<span class="icon "><i class="psicon-item_serial_number"></i></span>).<br>
→ Das Fenster <strong>Seriennummern</strong> wird geöffnet.</p>
</li>
<li>
<p>Lege mit der Dropdown-Liste <strong>Status</strong> fest, ob du nach allen, freien oder verwendeten Seriennummern suchen möchtest.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Gib die gesuchte Seriennummer in das Suchfeld ein.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die gefilterten Seriennummern werden angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="500">1.2.2. Seriennummer bearbeiten</h4>
<div class="paragraph">
<p>Solltest du jemals versehentlich eine falsche Seriennummer eingeben, suche einfach nach der Nummer und bearbeite sie.</p>
</div>
<div class="paragraph instruction">
<p>Seriennummer bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/artikel/anwendungsfaelle/seriennummern#400">Suche nach der Seriennummer</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Bearbeiten</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).</p>
</li>
<li>
<p>Gib eine neue Seriennummer ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Seriennummer.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="600">1.2.3. Seriennummer löschen</h4>
<div class="paragraph">
<p>Seriennummern kannst du entweder einzeln löschen, oder du kannst die Dropdown-Liste <strong>Auswahl</strong> verwenden, um mehrere Seriennummern gleichzeitig zu löschen. Zum Beispiel alle freien Seriennummern oder alle Seriennummern, die an einem bestimmten Datum erstellt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Seriennummern gleichzeitig löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/artikel/anwendungsfaelle/seriennummern#400">Suche nach den Seriennummern</a>.</p>
</li>
<li>
<p>Nutze die Dropdown-Liste <strong>Auswahl</strong>, um Seriennummern auszuwählen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), z.B. alle Nummern, freie Nummern oder Seriennummern, die an einem bestimmten Datum erstellt wurden.<br></p>
</li>
<li>
<p>Klicke auf das Löschen-Symbol (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) in der Zeile <strong>Auswahl</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum funktioniert die Dropdown-Liste nicht?</div>
<div class="paragraph">
<p>Die Drop-Down-Liste <strong>Auswahl</strong> kann ziemlich verwirrend sein. Wähle zuerst eine Option aus der Dropdown-Liste. Klicke dann irgendwo außerhalb der Dropdown-Liste, so dass sie nicht mehr blau umrandet ist. Klicke schließlich nochmal auf die Dropdown-Liste. Erst dann werden die Seriennummern ausgewählt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">2. Seriennummern zu Bestellungen zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jedes Mal, wenn du einen Artikel mit einer Seriennummer verkaufst, soll plentymarkets protokollieren, <em>welches Exemplar</em> verkauft wurde. Mit anderen Worten soll plentymarkets festhalten, welche Seriennummer welcher Bestellung entspricht.</p>
</div>
<div class="paragraph">
<p>Es gibt zwei Möglichkeiten, Seriennummern zuzuordnen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Falls <a href="/artikel/anwendungsfaelle/seriennummern#800">eine bestimmte Seriennummer</a> vorab auf der Artikelverpackung aufgedruckt ist, empfehlen wir die Verwendung eines Prozesses.</p>
</li>
<li>
<p>Falls du <a href="/artikel/anwendungsfaelle/seriennummern#1100">eine x-beliebige Seriennummer</a> aus dem Pool zuweisen willst, empfehlen wir die Verwendung einer Ereignisaktion.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="800">2.1. Eine bestimmte Seriennummer aus dem Pool zuweisen</h3>
<div class="paragraph">
<p>Haben deine Artikel bereits Seriennummern? Stell dir zum Beispiel vor, du verkaufst Mobiltelefone. Dein Hersteller versieht jedes Handy vorab mit einer eindeutigen Seriennummer. Jedes Mal, wenn du eines der Handys verkaufst, soll plentymarkets protokollieren, welches Exemplar verkauft wurde. Mit anderen Worten soll plentymarkets festhalten, welche Seriennummer welcher Bestellung entspricht.</p>
</div>
<div class="paragraph">
<p>Dazu scannt dein Lagermitarbeiter die Seriennummer, während er den Artikel im Lager kommissioniert. Die Seriennummer wird automatisch der Bestellung zugeordnet. Die Seriennummer wird auch automatisch auf der Kundenrechnung angezeigt.</p>
</div>
<div class="sect3">
<h4 id="900">2.1.1. Welche Artikel sollen gescannt werden können?</h4>
<div class="paragraph">
<p>Dein Lagermitarbeiter wird die Seriennummer eines Artikels nur dann scannen können, wenn du den Artikel zur Verfügung gestellt hast.</p>
</div>
<div class="paragraph instruction">
<p>Das Scannen eines Artikels ermöglichen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p><a href="/artikel/einleitung/suche#100">Suche</a> und öffne den Artikel, der gescannt werden können soll.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Global</strong>.</p>
</li>
<li>
<p>Wähle für die Option <strong>Seriennummer</strong> die Einstellung <strong>Ja</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Arbeitest du mit vielen Artikeln?</div>
<div class="paragraph">
<p>Verwende die sogenannte <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#200">Artikel-Gruppenfunktion</a>, um die Einstellung für mehrere Artikel gleichzeitig zu speichern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="1000">2.1.2. Baue den Prozess</h4>
<div class="paragraph">
<p><a href="/automatisierung/prozesse/prozesse-einrichten">Erstelle einen Kommissionierungsprozess</a>, mit dem dein Lagermitarbeiter Artikel pickt und deren Seriennummern scannt. Verwende dazu die <a href="/automatisierung/prozesse/aktionen#420">Aktion "Seriennummer"</a> zusammen mit der <a href="/automatisierung/prozesse/subaktionen#260">Subaktion "Seriennummern erfassen"</a>.</p>
</div>
<div class="paragraph">
<p>Das folgende Video-Tutorial enthält ein Beispiel für das Scannen von Seriennummern innerhalb eines größeren Kommissionierungsprozesses:</p>
</div>
<div class="videoblock">
<div class="title">Sehe, wie Seriennummern in einem Beispielprozess gescannt werden</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/229827267#t=2m49s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Seriennummern, die nicht bereits im Artikeldatensatz existieren</div>
<div class="paragraph">
<p>Soll es möglich sein, Seriennummern zu scannen, die nicht zuvor in deinem <a href="/artikel/anwendungsfaelle/seriennummern#100">Pool von Seriennummern im Artikeldatensatz</a> gespeichert wurden? Falls ja, öffne die Subaktion <strong>Seriennummern erfassen</strong> und setze die Option <strong>Neue Seriennummern</strong> auf <strong>Erlauben</strong>.</p>
</div>
<div class="paragraph">
<p>Diese Methode kann Zeit sparen, da die Seriennummern nicht vorab gespeichert werden müssen. Allerdings ist sie auch fehleranfälliger. Was ist zum Beispiel, wenn dein Lagermitarbeiter versehentlich die EAN scannt? plentymarkets hätte keine Möglichkeit, zu verifizieren, ob es sich hier um eine echte Seriennummer handelt oder nicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.2. Eine x-beliebige Seriennummer aus dem Pool zuweisen</h3>
<div class="paragraph">
<p>Haben deine Artikel noch keine Seriennummern?
Verkaufst du zum Beispiel digitale Ware wie Software? In diesem Fall entspricht die Software <em>keiner bestimmten Seriennummer</em> im Vorfeld. Du willst lediglich <em>irgendeine verfügbare Seriennummer</em> der Download-Datei zuweisen.</p>
</div>
<div class="paragraph">
<p>Erstelle in diesem Fall eine Ereignisaktion, die einem Artikel automatisch eine Seriennummer zuweist, sobald die Bestellung vollständig bezahlt wurde. Die Seriennummer wird auch automatisch auf der Kundenrechnung angezeigt.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-event-procedure-send-serial-numbers">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-event-procedure-send-serial-numbers">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-send-serial-numbers" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion zum automatischen Zuordnen von Seriennummern</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung: Vollständig</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seriennummer zuordnen</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">3. Seriennummern exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Möchtest du Seriennummern aus deinem plentymarkets System exportieren? Willst du zum Beispiel deinem Hersteller einmal täglich eine Liste aller verwendeten Seriennummern schicken? Nutze dazu den sogenannten <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a>! Genauer gesagt, verwende <a href="/daten/daten-exportieren/FormatDesigner/format-typen/artikel#500">ItemSerialNumber</a> innerhalb des Artikel-Formattyps.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">4. Retouren mit Seriennummern annehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sicherlich werden Artikel hin und wieder zurückgegeben. Aber was ist zu tun, wenn ein Artikel mit einer Seriennummer zurückgeschickt wird?</p>
</div>
<div class="sect2">
<h3 id="1400">4.1. Bestelldaten anhand einer Seriennummer suchen</h3>
<div class="paragraph">
<p>Als Erstes möchtest du wahrscheinlich herausfinden, welcher Auftrag der Seriennummer entspricht. Es gibt mehrere Möglichkeiten, dies zu tun:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong> und <a href="/auftraege/auftraege-verwalten#1300">suche den Auftrag</a> mit Hilfe des Filters <strong>Seriennummer</strong>.</p>
</li>
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong> und verwende den Filter <strong>Seriennummer</strong>. Suche dann erneut nach der <a href="/artikel/anwendungsfaelle/seriennummern#400">Seriennummer innerhalb des Artikeldatensatzes</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="1500">4.2. Seriennummer löschen und neu erstellen</h3>
<div class="paragraph">
<p>Die Seriennummer wurde bereits dem ursprünglichen Auftrag zugeordnet. Leider ist es aktuell nicht möglich, bereits verwendete Seriennummer wieder freizugeben. Deine einzige Möglichkeit ist es, die <a href="/artikel/anwendungsfaelle/seriennummern#600">Seriennummer manuell zu löschen</a> und eine <a href="/artikel/anwendungsfaelle/seriennummern#200">neue Seriennummer zu erstellen</a>.</p>
</div>
</div>
</div>
</div>
</main>