<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel2">
<li><a href="#_in_artikelübersicht_angezeigte_preise_und_barcodes_anpassen"><span>1.</span><span> In Artikelübersicht angezeigte Preise und Barcodes anpassen</span></a></li>
<li><a href="#385"><span>2.</span><span> Backend-Artikelsuche einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#4600"><span>2.1.</span><span> Standardindex einrichten</span></a></li>
<li><a href="#4700"><span>2.2.</span><span> Erweiterten Index einrichten</span></a></li>
<li><a href="#4500"><span>2.3.</span><span> Artikelsuchindex manuell aktualisieren</span></a></li>
<li><a href="#4400"><span>2.4.</span><span> Merkmalsuchindex manuell aktualisieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Das Standardsuchverhalten ändern</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten</strong> findest du die Artikelsuche und die damit verbundene Artikelübersicht. Hier erfährst du, wie du die Artikelsuche optimal nutzt.</p>
</div>
</div>
</div><div class="sect2">
<h3 id="_in_artikelübersicht_angezeigte_preise_und_barcodes_anpassen">1. In Artikelübersicht angezeigte Preise und Barcodes anpassen</h3>
<div class="paragraph">
<p>Optional kannst du in den Einstellungen festlegen, welcher Verkaufspreis und/oder welcher Barcode in den Spalten der Artikelübersicht angezeigt werden. Wenn du keine Einstellungen vornimmst, wird der erste an der Variante gespeicherte Verkaufspreis und/oder Barcode angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Artikelübersicht anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle für die Option <strong>Bevorzugter Preis in der Artikelsuche</strong> den Verkaufspreis, der bevorzugt in der Spalte <strong>Verkaufspreis</strong> Artikelübersicht angezeigt werden soll.<br>
→ Bei Varianten, die nicht mit diesem Verkaufspreis verknüpft sind, wird einer der gespeicherten Preise angezeigt.</p>
</li>
<li>
<p>Wähle für die Option <strong>Bevorzugter Barcode in der Artikelsuche</strong> den Barcode, der bevorzugt in der Spalte <strong>Barcode</strong> der Artikelübersicht angezeigt werden soll.<br>
→ Bei Varianten, die nicht mit diesem Barcode verknüpft sind, wird einer der gespeicherten Barcodes angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div><div class="sect2">
<h3 id="385">2. Backend-Artikelsuche einrichten</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong> nimmst du Einstellungen vor, damit Artikel in der Artikelsuche im Menü <strong>Artikel » Artikel bearbeiten</strong> gefunden werden. Dazu definierst du die Artikelparameter, die vom Suchindex erfasst werden sollen und somit durchsucht werden, wenn eine Backend-Suche ausgeführt wird.</p>
</div>
<div class="paragraph">
<p>Der Suchindex wird automatisch aufgebaut, wenn ein neuer Artikel erstellt wird. Wenn du Artikel importierst, wird der Suchindex über Nacht aktualisiert. Pro Vorgang werden maximal 3000 Artikel zum Suchindex hinzugefügt. Wenn mehr als 3000 Artikel im System gespeichert sind, dauert es also mehrere Nächte, bis der Suchindex aktualisiert ist.</p>
</div>
<div class="paragraph">
<p>Im Tab <strong>Artikelstamm</strong> siehst du, wie viele Artikel insgesamt vom Suchindex erfasst werden. Im Tab <strong>Artikelmerkmale</strong> siehst du, wie viele Artikel mit Merkmalen vom Suchindex erfasst werden.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong> kannst du die Aktualisierung des Suchindex auch manuell starten.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alter Webshop Callisto mit Standard-Suche</div>
<div class="paragraph">
<p>Bei Webshops mit dem alten Design Callisto, für die im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> die Option <strong>Standard-Suche</strong> aktiviert ist, wird der Index der Backend-Artikelsuche auch für die Artikelsuche im Frontend verwendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="4600">2.1. Standardindex einrichten</h4>
<div class="paragraph">
<p>Mit dem Standardindex legst du fest, welche Artikelparameter vom Suchindex erfasst und bei der Artikelsuche im Backend berücksichtigt werden. Gehe wie unten beschrieben vor, um den Standard-Index einzurichten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Änderungen am Suchindex vermeiden</div>
<div class="paragraph">
<p>Vermeide Änderungen am Suchindex. Nach einer Änderung wird der Suchindex neu aufgebaut. Wenn du viele Artikel hast, kann dieser Vorgang sehr lang dauern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Standardindex einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Standard-Index</strong>.</p>
</li>
<li>
<p>Aktiviere die Parameter, die bei der Artikelsuche berücksichtigt werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die gewählten Parameter werden bei der Artikelsuche im Backend berücksichtigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="4700">2.2. Erweiterten Index einrichten</h4>
<div class="paragraph">
<p>Zusätzlich zum Standardindex erfasst du über den erweiterten Index auch Parameter, die bei der Suche berücksichtigt werden, wenn im Suchbereich des Menüs <strong>Artikel » Artikel bearbeiten</strong> die Option <strong>In Beschreibung</strong> aktiviert ist. Gehe wie unten beschrieben vor, um den erweiterten Index einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Erweiterten Index einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Erweiterter Index</strong>.</p>
</li>
<li>
<p>Aktiviere die Parameter, die bei der Artikelsuche berücksichtigt werden sollen, wenn im Suchbereich des Menüs <strong>Artikel » Artikel bearbeiten</strong> die Option <strong>In Beschreibung</strong> aktiviert ist.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die gewählten Parameter werden bei der Artikelsuche im Backend berücksichtigt, wenn die Option <strong>In Beschreibung</strong> aktiviert ist.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="4500">2.3. Artikelsuchindex manuell aktualisieren</h4>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex » Tab: Übersicht</strong> siehst du, wie viele Artikel im System gespeichert sind und wie viele Artikel im Suchindex enthalten sind.</p>
</div>
<div class="paragraph">
<p>Wenn ein neuer Artikel erstellt wird, wird der Suchindex automatisch aktualisiert. Wenn du Artikel importierst, wird der Suchindex über Nacht aktualisiert. Wenn Artikel schneller indiziert werden sollen, starte den Aufbau des Artikelsuchindex manuell.</p>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um den Artikelsuchindex manuell zu aktualisieren.</p>
</div>
<div class="paragraph instruction">
<p>Artikelsuchindex manuell aktualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong>.<br>
→ Das Tab <strong>Übersicht</strong> wird angezeigt.<br>
→ <strong>Indizierte Artikel</strong> zeigt die Anzahl der Artikel pro Sprache, die im Suchindex enthalten sind.<br>
→ <strong>Gesamtzahl der Artikel</strong> zeigt die Anzahl der Artikel im plentymarkets System. Die Zahl schließt neu importierte und noch nicht indizierte Artikel ein.</p>
</li>
<li>
<p>Wenn der Suchindex sofort aktualisiert werden soll, Klicke auf <strong>Artikelsuchindex aufbauen</strong>.<br>
→ Der Artikelsuchindex wird mit den Daten der ersten 3000 Artikel befüllt.</p>
</li>
<li>
<p>Um mehr als 3000 Artikel zu indizieren, klicke erneut auf <strong>Artikelsuchindex aufbauen</strong>, sobald die Option wieder wählbar ist.<br>
→ Der Artikelsuchindex wird mit den Daten der nächsten 3000 Artikel befüllt.</p>
</li>
<li>
<p>Wiederhole den Vorgang, bis alle Artikel indiziert wurden.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="4400">2.4. Merkmalsuchindex manuell aktualisieren</h4>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex » Tab: Artikelmerkmale</strong> siehst du, wie viele Artikel mit Merkmalen im System gespeichert sind und wie viele Artikel mit Merkmalen im Suchindex enthalten sind.</p>
</div>
<div class="paragraph">
<p>Wenn ein neuer Artikel mit Merkmalen erstellt wird, wird der Suchindex automatisch aktualisiert. Wenn du Artikel importierst, wird der Suchindex über Nacht aktualisiert. Wenn Artikel schneller indiziert werden sollen, starte den Aufbau des Merkmalsuchindex manuell.</p>
</div>
<div class="paragraph">
<p>Unabhängig davon, ob der Aufbau des Merkmalsuchindexes automatisch gestartet wird oder ob du den Merkmalsuchindex manuell aufbaust, werden pro Vorgang maximal 3000 Artikel zum Suchindex hinzugefügt. Über Nacht wird nur ein Vorgang durchgeführt. Wenn mehr als 3000 Artikel im System gespeichert sind, dauert es also mehrere Nächte, bis der Suchindex aktualisiert ist. Um Artikel schneller zum Index hinzuzufügen, baue den Merkmalsuchindex mehrmals manuell. Gehe wie unten beschrieben vor, um den Merkmalsuchindex manuell zu aktualisieren.</p>
</div>
<div class="paragraph instruction">
<p>Merkmalsuchindex manuell aktualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Artikelmerkmale</strong>.<br>
→ <strong>Indizierte Artikel mit Merkmalen</strong> zeigt die Anzahl der Artikel mit Merkmalen pro Sprache, die im Suchindex enthalten sind.<br>
→ <strong>Gesamtzahl der Artikel mit Merkmalen</strong> zeigt die Anzahl der Artikel mit Merkmalen im plentymarkets System. Die Zahl schließt neu importierte und noch nicht indizierte Artikel ein.</p>
</li>
<li>
<p>Wenn der Suchindex sofort aktualisiert werden soll, Klicke auf <strong>Merkmalsuchindex aufbauen</strong>.<br>
→ Der Merkmalsuchindex wird mit den Daten der ersten 3000 Artikel mit Merkmalen befüllt.</p>
</li>
<li>
<p>Um mehr als 3000 Artikel mit Merkmalen zu indizieren, klicke erneut auf <strong>Merkmalsuchindex aufbauen</strong>, sobald die Option wieder wählbar ist.<br>
→ Der Merkmalsuchindex wird mit den Daten der nächsten 3000 Artikel mit Merkmalen befüllt.</p>
</li>
<li>
<p>Wiederhole den Vorgang, bis alle Artikel indiziert wurden.</p>
</li>
</ol>
</div>
</div>
</div>
</main>