<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Welcher Preis oder Barcode wird bevorzugt?</span></a></li>
<li><a href="#200"><span>2.</span><span> Welche Artikelparameter sind relevant?</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Suchindex konfigurieren</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Suchindex manuell bauen</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Mit der Übersicht arbeiten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Backend-Suchverhalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du weißt wahrscheinlich schon, dass du im Menü <strong>Artikel » Artikel bearbeiten</strong> gezielt nach Produkt-Datensätzen suchen kannst.
Aber wusstest du auch, dass du das Suchverhalten an deine Bedürfnisse anpassen kannst?
Zum Beispiel kannst du bestimmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>welcher Verkaufspreis oder Barcode in den Suchergebnissen angezeigt werden soll.</p>
</li>
<li>
<p>welche Artikelparameter für die Suche relevant sind.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Welcher Preis oder Barcode wird bevorzugt?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig wird in den Suchergebnissen im Menü <strong>Artikel » Artikel bearbeiten</strong> der erste für die Variante gespeicherte Verkaufspreis und Barcode angezeigt.
Was aber, wenn diese vordefinierte Einstellung nicht deinen Bedürfnissen entspricht?
Bestimme selbst, welchen Verkaufspreis oder Barcode du sehen möchtest.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#table-price-barcode-settings">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-price-barcode-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Welcher Preis oder Barcode soll in der Artikelübersicht angezeigt werden?</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bevorzugter Preis in der Artikelsuche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Verkaufspreis aus der Dropdown-Liste aus.
Der Preis, den du hier wählst, wird in den Suchergebnissen im Menü <strong>Artikel » Artikel bearbeiten</strong> angezeigt.
Er erscheint in der Spalte <strong>Verkaufspreis</strong>.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
Wenn eine Variante nicht mit diesem Verkaufspreis verknüpft ist, wird stattdessen einer der gespeicherten Preise angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bevorzugter Barcode in der Artikelsuche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Barcode aus der Dropdown-Liste aus.
Der Barcode, den du hier wählst, wird in den Suchergebnissen im Menü <strong>Artikel » Artikel bearbeiten</strong> angezeigt.
Er erscheint in der Spalte <strong>Barcode</strong>.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>:
Wenn eine Variante nicht mit diesem Barcode verknüpft ist, wird stattdessen einer der gespeicherten Barcodes angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Welche Artikelparameter sind relevant?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Welche Artikelparameter sollen berücksichtigt werden, wenn du nach Produkten im Menü <strong>Artikel » Artikel bearbeiten</strong> suchst?
Erstens: Konfiguriere den Suchindex so, dass alle relevanten Artikeldaten durchsucht werden.
Zweitens: Aktualisiere den Suchindex.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Suchindex konfigurieren</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Standard-Index</strong>.</p>
</li>
<li>
<p>Wähle die Parameter (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die bei der Artikelsuche berücksichtigt werden sollen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Erweiterter Index</strong>.</p>
</li>
<li>
<p>Wähle die Parameter (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die bei der Artikelsuche berücksichtigt werden sollen, wenn der Suchfilter <a href="/artikel/einleitung/suche#intable-beschreibung">In Beschreibung</a> verwendet wird.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die gewählten Parameter werden berücksichtigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Standard-Index vs. Erweiterter Index</div>
<div class="paragraph">
<p>Mit dem Standard-Index legst du fest, welche Parameter bei der Backend-Suche berücksichtigt werden sollen.</p>
</div>
<div class="paragraph">
<p>Mit dem erweiterten Index legst du fest, welche Parameter, bei der Backend-Suche berücksichtigt werden sollen, wenn der Suchfilter <a href="/artikel/einleitung/suche#intable-beschreibung">In Beschreibung</a> verwendet wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Begrenzte Anzahl an Zeichen</div>
<div class="paragraph">
<p>Der Standard- und erweiterte Suchindex lässt nur eine begrenzte Anzahl an Zeichen zu.
Das heißt, wenn du alle Parameter aufnimmst, kann es passieren, dass nicht alle Parameter in den Index aufgenommen werden.
Die zusätzlichen Zeichen werden abgeschnitten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Suchindex manuell bauen</h3>
<div class="paragraph">
<p>Es ist möglich, den Suchindex manuell neu zu bauen.
Dies ist z.B. sinnvoll, nachdem du die Konfiguration geändert hast.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong>.</p>
</li>
<li>
<p>Speichere die Einstellungen im Tab <strong>Standard-Index</strong> oder <strong>Erweiterter Index</strong>.</p>
</li>
<li>
<p>Wechsele zurück in das Tab <strong>Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Artikelsuchindex aufbauen</strong> (<span class="icon "><i class="psicon-execute"></i></span>).<br>
→ Pro Durchlauf werden maximal 3000 Artikel indiziert.
Wenn du also mehr als 3000 Artikel hast, musst du mehrmals auf den Button klicken.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wann wird der Suchindex automatisch aufgebaut?</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Neuer Artikel</em></strong>: Der Suchindex wird automatisch aufgebaut, wenn ein neuer Artikel erstellt wird.</p>
</li>
<li>
<p><strong><em>Artikel-Import</em></strong>: Wenn du Artikel importierst, wird der Suchindex über Nacht aktualisiert.
Es findet nur ein Durchlauf mit maximal 3000 Artikel statt.
Wenn also mehr als 3000 Artikel im System sind, dauert es mehrere Nächte, bis der Suchindex aktualisiert ist.
Sollen die Artikel schneller indiziert werden, dann baue den Suchindex manuell auf.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikelstamm vs. Artikelmerkmale</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Artikelstamm</em></strong>: Hier siehst du, wie viele Artikel insgesamt vom Suchindex erfasst werden.</p>
</li>
<li>
<p><strong><em>Artikelmerkmale</em></strong>: Hier siehst du, wie viele Artikel mit Merkmalen vom Suchindex erfasst werden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Bedienung ist für beide Tabs identisch.
Du kannst also den Merkmalsuchindex auch wie oben beschrieben manuell aufbauen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. Mit der Übersicht arbeiten</h3>
<div class="paragraph">
<p>Die Übersicht im Menü <strong>Einrichtung » Artikel » Suche » Backend » Suchindex</strong> zeigt an, wie viele Artikel im System gespeichert sind und wie viele Artikel im Suchindex enthalten sind.</p>
</div>
<table id="table-price-barcode-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Informationen in der Übersicht</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Indizierte Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier siehst du die Anzahl der Artikel pro Sprache, die im Suchindex enthalten sind.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtanzahl der Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier siehst du die Anzahl der Artikel im plentymarkets System. Die Zahl schließt neu importierte und noch nicht indizierte Artikel ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelsuchindex aufbauen</strong> (<span class="icon "><i class="psicon-execute"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicken Sie auf diesen Button, um den <a href="/artikel/anwendungsfaelle/suchverhalten#400">Suchindex manuell aufzubauen</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>