<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Einführung in die Auftragsabwicklung mit plentymarkets</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit wenigen Einstellungen vorab richtest du dir plentymarkets so ein, dass deine Auftragsabwicklung wie geschmiert läuft. Welche genau das sind, erklärt dir dieses Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/basics/einfuehrung-auftragsabwicklung-dokumente-einrichten#video">Richte Dokumente ein (0:44)</a></p>
<p class="tableblock"><a href="/videos/basics/einfuehrung-auftragsabwicklung-e-mails-signatur#video">E-Mails und Signatur (1:09)</a></p>
<p class="tableblock"><a href="/videos/basics/einfuehrung-auftragsabwicklung-zahlung-versand#video">Zahlung und Versand (1:38)</a></p>
<p class="tableblock"><a href="/videos/basics/einfuehrung-auftragsabwicklung-automatisierung#video">Automatisierung (2:10)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/257450342#at=69" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Du weißt, wo du verkaufen willst, du weißt, was du verkaufen willst. Damit hört plentymarkets natürlich nicht auf,
denn wenn wir sagen, dass du alles über eine zentrale Plattform steuern kannst, dann meinen wir: ALLES!</p>
</div>
<div class="paragraph">
<p>Nach dem Kauf beginnt dein Service für den Kunden. Jeder Kauf, egal ob über Marktplatz, Webshop oder Ladentheke, wird automatisch als ein Auftrag in dein System importiert. Von nun an kann fast alles automatisch weitergehen - solange du dir vorab ein wenig Zeit nimmst, um das System auf "läuft wie geschmiert" zu konfigurieren.</p>
</div>
<div class="paragraph">
<p>Die perfekte Auftragsabwicklung richtest du dir am besten nach deinen Bedürfnissen ein. Doch jeder muss irgendwo anfangen, also folgt nun ein kurzer Guide durchs plenty Backend, der dich hoffentlich zu Großem anregt.</p>
</div>
<div class="paragraph">
<p>Nicht nur aus buchhalterischen Gründen beginnst du am besten mit den nötigen Dokumenten, beispielsweise Rechnung, Lieferschein, Auftragsbestätigung und so weiter. Ein klassisches und anpassbares Layout ist dabei bereits hinterlegt, das Drumherum, deine Unternehmensdaten, Logo etc. lädst du per PDF ins System. Und ob Rechnung oder Lieferschein - das Vorgehen ist hier immer das gleiche.</p>
</div>
<div class="paragraph">
<p>Zur perfekten Auftragsabwicklung gehört natürlich auch die Kommunikation mit deinem Kunden. Sei es Auftragsbestätigung, Tracking-URL zur Sendungsverfolgung oder Rechnungskopie per Mail - das kannst du natürlich auch vom System verschicken lassen, sobald du deine gewünschten Mailvorlagen und deine Signatur im System hinterlegt hast. Außerdem kannst du plentymarkets sagen, wann es welche Mail verschicken soll.</p>
</div>
<div class="paragraph">
<p>Ein Kauf und somit ein Auftrag wird natürlich nur zustande kommen, wenn dein Kunde und du Leistungen austauschst. Also dein Kunde zahlt und du verschickst den Artikel.</p>
</div>
<div class="paragraph">
<p>In plentymarkets findest du zahlreiche direkte Schnittstellen zu Zahlungsanbieter und Versanddienstleistern, die
du in der Vorarbeit nach deinen Wünschen einrichten kannst. Investiere auch ein wenig Zeit in diese Einstellungen. Denn wenn du beispielsweise einen eigenen Webshop hast, begleiten Zahlung und Versandeinstellungen deinen Kunden vom ersten Klick in den Warenkorb bis zur Lieferung und eventuellen Retoure.</p>
</div>
<div class="paragraph">
<p>So, der Kunde bekommt Mails, mit Dokumenten, er kann zahlen und kriegt sein Paket. Jetzt musst du aber nicht beim Kauf in jeden einzelnen Auftrag klicken und alles manuell abwickeln. Die Automatisierungs-Buzzwords sind Ereignisaktion, Aktionsmanager und Prozess. Kurz gesagt kannst du mit diesen Tools dein System so einstellen, dass es dir deine Auftragsabwicklung fast von allein schmeißt. Also beispielsweise konfigurierst du es dir so, dass automatisch Auftragsbestätigung und Rechnung generiert, E-Mails verschickt werden, dein Lagermitarbeiter das Startsignal zum Picken und Packen erhält, Versandetiketten erzeugt und die Änderungen immer schön sichtbar in deinem System gemacht werden und
vieles mehr.</p>
</div>
<div class="paragraph">
<p>Und keine Sorge: Unsere Video-Tutorials steigen mit dir noch tiefer in jeden einzelnen Bereich ein. Leg direkt
los, damit dein plentymarkets bald läuft wie geschmiert.</p>
</div>
</div>
</div>
</main>