<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verkaufe überall - über eine zentrale Plattform</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erhalte einen Überblick aller Verkaufskanäle, die mit plentymarkets ermöglicht werden. Ob Multichannel-Marktplätze, POS oder ein eigener Online-Shop- mit direkten Schnittstellen, Erweiterungen und Addons kannst du deine Artikel gezielt verkaufen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/basics/verkaufe-ueberall-marktplaetze#video">Verkaufen auf Marktplätzen (0:52)</a></p>
<p class="tableblock"><a href="/videos/basics/verkaufe-ueberall-stationaerer-handel#video">Verkaufen im stationären Handel (1:24)</a></p>
<p class="tableblock"><a href="/videos/basics/verkaufe-ueberall-eigener-webshop#video">Verkaufen im eigenen Webshop (1:48)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/257449529#at=52" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Dein Business ist auf einer Mission. Sein Ziel? Deine Produkte verkaufen!</p>
</div>
<div class="paragraph">
<p>plentymarkets ist dabei kein System für deinen Webshop oder für deinen Verkauf auf Amazon
oder im stationären Handel…​plentymarkets ist deine Kommandozentrale für alles, und du
selbst entscheidest, wie sie aussieht wohin sie dich führt.</p>
</div>
<div class="paragraph">
<p>Ist dein Ausgangspunkt ein stationärer Handel, in dem dein Herzblut steckt? Ein ebenso
leidenschaftlich betriebener Online-Shop? Bist du auf den großen Marktplätzen unterwegs?
Wo auch immer deine Reise beginnt, ausbauen kannst du deine Route mit diesem System.</p>
</div>
<div class="paragraph">
<p>Konfigurierst du dir also beispielsweise ein Omnichannel-System stehen dir von Beginn an ein Webshop, ein POS-Modul und massig direkte Schnittstellen zu deinen präferierten Marktplätzen zur Verfügung, sodass
du deine Artikelverwaltung und Auftragsabwicklung über eine zentrale Plattform steuern kannst.</p>
</div>
<div class="paragraph">
<p>Du musst nur noch starten - wo du möchtest!</p>
</div>
<div class="paragraph">
<p>Mithilfe deiner jeweiligen Zugangsdaten lassen sich zum Beispiel die Marktplatz-Schnittstellen aktivieren.</p>
</div>
<div class="paragraph">
<p>So verknüpfst du deine Konten mit plenty und kannst deine Artikel gezielt überall platzieren.
Erweitern kannst du diese Liste über Plugins - dein Weg führt dich also in den plentyMarketplace.
Hier ist die zentrale Stelle für alle Erweiterungen und Addons, mit denen du dein System individuell und passgenauer gestalten kannst.</p>
</div>
<div class="paragraph">
<p>Unter anderem natürlich eine stets wachsende Anzahl von unterschiedlichen Marktplätzen. Aber auch mit einem stationären Handel bist du hier gut aufgehoben.</p>
</div>
<div class="paragraph">
<p>Dein Kassensystem besteht dann aus dem POS-Modul, über das du jede Kasse in deinem Laden auch in plenty hinterlegen kannst, der nötigen Hardware und der plentymarkets App, die auf ein Tablet oder Handy laden kannst.</p>
</div>
<div class="paragraph">
<p>Der Marketplace bietet dir für die Zahlung im Geschäft auch hilfreiche Plugins, damit du beispielsweise deine EC-Karten-Terminals verbinden kannst.</p>
</div>
<div class="paragraph">
<p>Richtest du deinen eigenen Webshop ein, steht dir im Marketplace außerdem ein starkes Shop-Template zur Verfügung, das du als Fundament für ein individuelles Einkaufserlebnis nutzen kannst. Und natürlich ist dein Webshop auch kein starres Modul, sondern kann durch Themes, Widgets und Paymentanbieter immer wieder erweitert werden.</p>
</div>
<div class="paragraph">
<p>Dabei folgt die Plugin-Installation immer einem Schema, das es ihnen ermöglicht sich in dein System einzuklinken und nicht nur auf seiner Oberfläche zu arbeiten wie das beispielsweise bei Handy-Apps der Fall ist. Verinnerliche also das Schema Herunterladen, Installieren und
dann Bereitstellen und es wird ein Klacks für dich sein, Plugins ins System zu bringen.</p>
</div>
<div class="paragraph">
<p>Baust du auf einen externen Shop, möchtest allerdings auf die Features von plentymarkets
nicht verzichten? Dann machen wir dir hier auch die Arbeit so leicht wie möglich und bieten
Connectoren zu den wichtigsten Shopanbietern an. So verbindest du die zwei Welten und
sorgst für einen fließenden Übergang.</p>
</div>
<div class="paragraph">
<p>Dein Weg steht dir also frei. Für den Start bieten wir dir Hilfestellung über unser Handbuch
und per Video-Tutorial. Hier findest du eigene Module für Plugins, POS, Multichannel und
viele mehr.</p>
</div>
</div>
</div>
</main>