<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Willkommen bei plentymarkets</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Einführungsvideo richtet sich an neue plentymarkets Nutzer. Es nimmt dich mit auf eine Tour durchs System und zeigt dir, wie man sich durch die Menüstruktur navigiert.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/basics/willkommen-bei-plentymarkets-erster-login#video">Log dich das erste Mal ein (0:06)</a></p>
<p class="tableblock"><a href="/videos/basics/willkommen-bei-plentymarkets-menuestruktur#video">Erkunde die Menüstruktur (0:32)</a></p>
<p class="tableblock"><a href="/videos/basics/willkommen-bei-plentymarkets-nutzername-passwort#video">Ändere Nutzernamen und Passwort (1:42)</a></p>
<p class="tableblock"><a href="/videos/basics/willkommen-bei-plentymarkets-plugins-support#video">Plugins und Support (2:30)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/257449279" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Willkommen bei plentymarkets!
Auf geht’s direkt in dein neues System für eine kleine Tour zum Kennenlernen!</p>
</div>
<div class="paragraph">
<p>Du hast von uns deine ganz persönliche Willkommens-E-Mail erhalten.
Und genau dort findest du auch alle wichtigen Daten für deinen ersten Login.
Dieser Link ist deine Eintrittskarte und bringt dich direkt zum Login-Bereich.
Alles was du brauchst ist die plentymarkets ID, Nutzername und das generierte Passwort aus der Willkommens-Mail.
Jeder Login ist übrigens verschlüsselt sprich: absolut sicher!
Willkommen in deinem neuen plentymarkets System!</p>
</div>
<div class="paragraph">
<p>Unter der Haube stecken massig Features und Funktionen, die nur darauf warten von dir erkundet zu werden.
Das hier oben ist deine Hauptnavigation.
Hinter all diesen Punkten steckt natürlich auch noch viel mehr.
Was genau zeigen dir die Dropdowns, die sich bei Mouseover öffnen und dich zu allen wichtigen Bereichen von plentymarkets führen.
Beispielsweise zu deinen Vertragsdaten oder allen anderen gebuchten Services oder zur Übersicht aller Aufträge oder auch zu deinen angebotenen Artikeln.</p>
</div>
<div class="paragraph">
<p>Arbeitest du oft mit bestimmten Menüs und willst dich immer direkt dorthin navigieren?
Dann markiere sie doch einfach als Favorit!
Denn auch wenn plentymarkets massenhaft Funktionen für dich bereit hält, möchten wir ja nicht, dass du darin verloren gehst.
Deine favorisierten Menüs findest du dann rechts oben.</p>
</div>
<div class="paragraph">
<p>Hier konfigurierst du und richtest die Tools und Funktionen von plentymarkets ein.
Beispielsweise bist du hier genau richtig, wenn du dein eBay-Konto mit plenty verbinden möchtest oder wenn du für deine Mitarbeiter Benutzerkonten einrichten möchtest, damit auch sie Zugang zum System erhalten.
Aber es gibt natürlich auch noch einen anderen geschickten Weg, um zu deinem Nutzerbereich zu gelangen.
Klicke auf den Benutzer, mit dem du gerade eingeloggt bist - und voilà!
Schon bist du da!</p>
</div>
<div class="paragraph">
<p>Jetzt hast du sicher gemerkt, dass du gerade mit einem Demo-User eingeloggt bist.
Den hast du ja von uns in deine Willkommens-Mail erhalten.
Dieser Demo-Nutzer ist auch super für deinen ersten Login und fürs erste Zurechtfinden.
Allerdings sollte natürlich dein erster Schritt sein, diesen Nutzer anzupassen.
Schließlich wollen wir ja nicht, dass jemand in deinen Mails dein Passwort auslesen kann und somit Zugang zu deinem System und sensiblen Firmendaten erhält.
Das Schlaueste ist also das generierte Passwort und den Nutzer in deine eigenen Daten zu ändern.
Ganz schnell und einfach.
Ändere deinen Nutzernamen, dabei achte bitte auf Eindeutigkeit, dann den realen Namen, damit du weißt, wer genau sich dahinter verbirgt und schließlich das Passwort.
Wenn du dich das nächste Mal einloggst, nutzt du dann einfach diese personalisierten Daten statt denen aus der Mail.</p>
</div>
<div class="paragraph">
<p>Wusstest du schon, dass du sogar noch mehr Tools und Features in dein System bringen kannst?
Ja, wirklich!
Schau einfach in den plentyMarketplace und stöbere durch die Plugins, mit denen du dein plentymarkets System erweitern kannst!</p>
</div>
<div class="paragraph">
<p>Also: Klick durch die Menüs und erkunde alle Funktionen von plentymarkets!
Und keine Sorge, falls du auf ein oder zwei Fragen stößt!
Dann helfen wir dir gerne weiter.
Der Supportbereich bietet für jeden Fall, für jede Vorliebe, die passende Service-Möglichkeiten, damit du ganz schnell Antworten findest.</p>
</div>
<div class="paragraph">
<p>Worauf wartest du noch?
Lege los mit plentymarkets und entdecke die vielfältigen Funktionen und Tools, mit denen du dein Unternehmen noch weiter nach vorne bringst!</p>
</div>
</div>
</div>
</main>