<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_format_anlegen"><span>1.</span><span> Format anlegen</span></a></li>
<li><a href="#_format_bearbeiten"><span>2.</span><span> Format bearbeiten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>FormatDesigner</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Der FormatDesigner ermöglicht Ihnen Formate für den Export per ElasticExport anzulegen. Alle per FormatDesigner angelegten Formate stehen Ihnen also im Menü Datenaustausch » Elastischer Export zur Verfügung. Sie können mithilfe des FormatDesigners nicht nur CSV-Optionen und ausgewählte Datenfelder bestimmen, sonder auch numerische Datenwerte während des Exports manipulieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_format_anlegen">1. Format anlegen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Daten » FormatDesigner</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Format hinzufügen</strong>.</p>
</li>
<li>
<p>Geben Sie einen eindeutigen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das gewünschte Format und Feldtrennzeichen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_format_bearbeiten">2. Format bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Soblad ein Format angelegt oder geöffnet wurde, wird die Bearbeitungsansicht des Formats angezeigt. Auf der rechten Seite befindet sich die Auswahl der verfügbaren Datenfelder. Durch einen Klick auf ein Feld wird das Feld auf der linken Seite ergänzt. Nachdem ein Datenfeld hinzugefügt wurde, können weitere Einstellungen vorgenommen werden. Nach dem Speichern ist das Datenfeld im Export enthalten.</p>
</div>
<table id="tabelle-einstellungen-datenfelder" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einstellungen der Datenfelder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen für das Datenformat eingeben. Der Name erscheint in der Kopfzeile der CSV-Datei.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verschieben</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über den mit Punkten markierten Bereich links vom Datenfeldnamen können mit gedrückter Maustaste die Datenfelder verschoben werden. Durch das Verschieben legen Sie die Reihenfolge der CSV-Spalten fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfelder, wie z.B. VariationSalesPrice.price, benötigen eine genauere Zuordnung, da z.B. mehrere Preise für jede Variante vorhanden sein können. Mit der Zuordnung wird ein konkreter Verkaufspreis bestimmt. Um z.B. mehrere Preise zu exportieren, kann das Datenfeld mehrfach zum Exportformat hinzugefügt werden. Bei Datenfeldern die dies nicht benötigen, ist der Button deaktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert ändern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfelder mit numerischen Werten können während des Exports durch verschiedene Aktionen verändert werden. Dabei können beliebig viele Aktionen definiert werden. Diese Aktionen werden nacheinander ausgeführt und manipulieren den Wert je nach Einstellung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfeld entfernen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datenfeld wird aus dem Format entfernt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>