<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Format anlegen</span></a></li>
<li><a href="#110"><span>2.</span><span> Format bearbeiten</span></a></li>
<li><a href="#200"><span>3.</span><span> Format vom Typ Artikel anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#210"><span>3.1.</span><span> Item</span></a></li>
<li><a href="#230"><span>3.2.</span><span> ItemImage</span></a></li>
<li><a href="#230"><span>3.3.</span><span> ItemDescription</span></a></li>
<li><a href="#240"><span>3.4.</span><span> ItemTag</span></a></li>
<li><a href="#250"><span>3.5.</span><span> ItemCrossSelling</span></a></li>
<li><a href="#260"><span>3.6.</span><span> Variation</span></a></li>
<li><a href="#270"><span>3.7.</span><span> VariationBarcode</span></a></li>
<li><a href="#280"><span>3.8.</span><span> VariationBundle</span></a></li>
<li><a href="#290"><span>3.9.</span><span> VariationSalesPrice</span></a></li>
<li><a href="#300"><span>3.10.</span><span> VariationCategory</span></a></li>
<li><a href="#310"><span>3.11.</span><span> VariationDefaultCategory</span></a></li>
<li><a href="#320"><span>3.12.</span><span> VariationStock</span></a></li>
<li><a href="#330"><span>3.13.</span><span> StockStorageLocation</span></a></li>
<li><a href="#340"><span>3.14.</span><span> VariationClient</span></a></li>
<li><a href="#350"><span>3.15.</span><span> VariationMarket</span></a></li>
<li><a href="#360"><span>3.16.</span><span> VariationMarketIdentNumber</span></a></li>
<li><a href="#370"><span>3.17.</span><span> VariationSku</span></a></li>
<li><a href="#380"><span>3.18.</span><span> VariationWarehouse</span></a></li>
<li><a href="#380"><span>3.19.</span><span> VariationSupplier</span></a></li>
<li><a href="#390"><span>3.20.</span><span> VariationProperty</span></a></li>
<li><a href="#400"><span>3.21.</span><span> VariationComment</span></a></li>
<li><a href="#410"><span>3.22.</span><span> VariationAttributeValues</span></a></li>
<li><a href="#420"><span>3.23.</span><span> VariationEigenschaften</span></a></li>
<li><a href="#430"><span>3.24.</span><span> Eigene Werte exportieren</span></a></li>
</ul>
</li>
<li><a href="#440"><span>4.</span><span> Format vom Typ Attribute anlegen</span></a></li>
<li><a href="#450"><span>5.</span><span> Format vom Typ Kategorien anlegen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Daten mit FormatDesigner exportieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Der FormatDesigner ermöglicht Ihnen Formate für den Export per ElasticExport anzulegen. Alle per FormatDesigner angelegten Formate stehen Ihnen also im Menü <strong>Datenaustausch » Elastischer Export</strong> zur Verfügung. Sie können mithilfe des FormatDesigners nicht nur CSV-Optionen und ausgewählte Datenfelder bestimmen, sondern auch numerische Datenwerte während des Exports manipulieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Format anlegen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Daten » FormatDesigner</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Format hinzufügen</strong>.</p>
</li>
<li>
<p>Geben Sie einen eindeutigen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das gewünschte Format und Feldtrennzeichen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110">2. Format bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Soblad ein Format angelegt oder geöffnet wurde, wird die Bearbeitungsansicht des Formats angezeigt. Auf der rechten Seite befindet sich die Auswahl der verfügbaren Datenfelder. Durch einen Klick auf ein Feld wird das Feld auf der linken Seite ergänzt. Nachdem ein Datenfeld hinzugefügt wurde, können weitere Einstellungen vorgenommen werden. Nach dem Speichern ist das Datenfeld im Export enthalten.</p>
</div>
<table id="tabelle-einstellungen-datenfelder" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einstellungen der Datenfelder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen für das Datenformat eingeben. Der Name erscheint in der Kopfzeile der CSV-Datei.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verschieben</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über den mit Punkten markierten Bereich links vom Datenfeldnamen können mit gedrückter Maustaste die Datenfelder verschoben werden. Durch das Verschieben legen Sie die Reihenfolge der CSV-Spalten fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfelder, wie z.B. VariationSalesPrice.price, benötigen eine genauere Zuordnung, da z.B. mehrere Preise für jede Variante vorhanden sein können. Mit der Zuordnung wird ein konkreter Verkaufspreis bestimmt. Um z.B. mehrere Preise zu exportieren, kann das Datenfeld mehrfach zum Exportformat hinzugefügt werden. Bei Datenfeldern die dies nicht benötigen, ist der Button deaktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert ändern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfelder mit numerischen Werten können während des Exports durch verschiedene Aktionen verändert werden. Dabei können beliebig viele Aktionen definiert werden. Diese Aktionen werden nacheinander ausgeführt und manipulieren den Wert je nach Einstellung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfeld entfernen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datenfeld wird aus dem Format entfernt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">3. Format vom Typ Artikel anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>Artikel</strong> exportieren Sie Artikel- und Variantendaten.</p>
</div>
<div class="sect2">
<h3 id="210">3.1. Item</h3>
<div class="paragraph">
<p>Für den Artikelexport stehen die in <a href="#tabelle-felder-artikel">Tabelle 2</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-artikel" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Felder für Artikelexport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelposition</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storeSpecial</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop-Aktion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ownerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manufacturerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producingCountryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellungsland</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">customsTariffNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zolltarifnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">revenueAccount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlöskonto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">couponRestriction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktionsgutschein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSubscribable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abonnement (Ja/Nein)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSerialNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seriennummer (Ja/Nein)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isShippingPackage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandpaket (Ja/Nein)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonFbaPlatform</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Abwicklung (FBA)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isShippableByAmazon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versand durch Amazon (FBA)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonProductType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Produkttyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonFedas</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-FEDAS</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayPresetId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-Vorlage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayCategory</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing Kategorie 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayCategory2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing Kategorie 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayStoreCategory</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing Shop-Kategorie 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayStoreCategory2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing Shop-Kategorie 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rakutenCategoryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rakuten.de-Kategorien</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">flagOne</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">flagTwo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ageRestriction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">feedback</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbewertung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">maximumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Max. Artikelbestellmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storeSpecialId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Shop-Aktion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storeSpecialName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Shop-Aktion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">conditionId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Zustands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">conditionName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Zustands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">conditionApiId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Zustands API</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">conditionApiName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Zustands API</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producingCountryName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Herstellungslands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manufacturerName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Herstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manufacturerLogo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Logo des Herstellers</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="230">3.2. ItemImage</h3>
<div class="paragraph">
<p>Für den Export von Artikelbildern stehen die in <a href="#tabelle-felder-bilder">Tabelle 3</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-bilder" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Felder für Export von Artikelbildern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fileType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dateiformat des Bilds (JPG, JPEG, PNG, GIF oder SVG)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der Erstellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">md5Checksum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der MD5-Hashwert der Bilddatei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">md5ChecksumOriginal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der MD5-Hashwert der Originalbilddatei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">size</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größe des Bilds in Pixeln</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">width</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite des Bilds in Pixeln</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">height</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe des Bilds in Pixeln</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlMiddle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der mittelgroßen Version des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der Vorschaubildversion des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der zweiten Vorschaubildversion des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allImages</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URLs aller Artikelbilder mit Position im Format<br>
url;position,url;position,etc.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="230">3.3. ItemDescription</h3>
<div class="paragraph">
<p>Für den Export von Artikelbeschreibungen stehen die in <a href="#tabelle-felder-beschreibungen">Tabelle 4</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-beschreibungen" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Felder für Export von Artikelbeschreibungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">previewDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorschautext</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Beschreibung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltext</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">technicalData</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Technische Daten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlPath</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL-Pfad des Artikels im Webshop, bestehend aus Kategorien und Artikelnamen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaKeywords</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Keywords</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemDeepLink</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vollständiger Link zum Artikel einschließlich Domain</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="240">3.4. ItemTag</h3>
<div class="paragraph">
<p>Für den Export von mit Artikeln verknüpften Tags stehen die in <a href="#tabelle-felder-tags">Tabelle 5</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-tags" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Felder für Export von Artikel-Tags</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tagId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tagNames</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-Name</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="250">3.5. ItemCrossSelling</h3>
<div class="paragraph">
<p>Für den Export von Cross-Selling-Verknüpfungen stehen die in <a href="#tabelle-felder-crossselling">Tabelle 6</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-crossselling" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 6. Felder für Export von Cross-Selling-Verknüpfungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpften Cross-Selling-Artikel</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="260">3.6. Variation</h3>
<div class="paragraph">
<p>Für den Export von Variantendaten stehen die in <a href="#tabelle-felder-varianten">Tabelle 7</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-varianten" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 7. Felder für Export von Variantendaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isMain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist Hauptvariante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mainVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Hauptvariante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist aktiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">model</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modell</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Varianten-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">estimatedAvailableAt</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EK netto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">movingAveragePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">GLD EK netto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der Erstellung der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Änderung der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">relatedUpdatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Änderung der verknüpften Daten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">priceCalculationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preiskalkulation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">picking</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kommissionierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockLimitation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">WB Beschränkung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isVisibleIfNetStockIsPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Webshop: sichtbar wenn Netto-WB positiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isInvisibleIfNetStockIsNotPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Webshop: unsichtbar wenn kein Netto-WB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isAvailableIfNetStockIsPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbar wenn Netto-WB positiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isUnavailableIfNetStockIsNotPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nicht verfügbar wenn kein Netto-WB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mainWarehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Hauptlagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">maximumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximale Bestellmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">minimumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimale Bestellmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">intervalOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Intervallbestellmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availableUntil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbar bis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">releasedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erscheinungsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unitCombinationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kombination aus Einheit und Menge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weightG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht brutto g</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weightNetG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht netto g</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">widthMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite in mm</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lengthMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länge in mm</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">heightMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe in mm</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">extraShippingCharge1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Portoaufschlag 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">extraShippingCharge2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Portoaufschlag 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unitsContained</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VPE</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">palletTypeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lademittels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packingUnits</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Packstücke</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packingUnitTypeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einheit der Packstücke</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">transportationCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transportkosten netto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerkosten netto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">customs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zoll in Prozent</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">operatingCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betriebskosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vatId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bundleType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketart</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">automaticClientVisibility</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">automaticClientVisibility</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isHiddenInCategoryList</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unsichtbar in Artikellisten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">defaultShippingCosts</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mayShowUnitPrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis anzeigen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesRank</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">categoryVariationId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketVariationId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">clientVariationId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesPriceVariationId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">supplierVariationId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseVariationId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">propertyVariationId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availabilityId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Verfügbarkeit (1-10)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availabilityAverageDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittliche Lieferzeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availabilityName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Verfügbarkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit.content</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der Einheit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit.unitId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Einheit</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="270">3.7. VariationBarcode</h3>
<div class="paragraph">
<p>Für den Export von Barcodes stehen die in <a href="#tabelle-felder-barcodes">Tabelle 8</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-barcodes" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 8. Felder für Export von Barcodes</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">codes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für den gewählten Barcode gespeicherte Codes</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="280">3.8. VariationBundle</h3>
<div class="paragraph">
<p>Für den Export von Paketen stehen die in <a href="#tabelle-felder-pakete">Tabelle 9</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-pakete" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 9. Felder für Export von Paketen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">components</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="290">3.9. VariationSalesPrice</h3>
<div class="paragraph">
<p>Für den Export von Preisen stehen die in <a href="#tabelle-felder-preise">Tabelle 10</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-preise" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 10. Felder für Export von Preisen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für den gewählten Verkaufspreis gespeicherte Preise</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">3.10. VariationCategory</h3>
<div class="paragraph">
<p>Für den Export von mit Varianten verknüpften Kategorien stehen die in <a href="#tabelle-felder-kategoriedaten">Tabelle 11</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-kategoriedaten" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 11. Felder für Export von Kategoriedaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allCategories</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allCategoryIds</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="310">3.11. VariationDefaultCategory</h3>
<div class="paragraph">
<p>Für den Export von Standardkategorien stehen die in <a href="#tabelle-felder-standardkategorien">Tabelle 12</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-standardkategorien" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 12. Felder für Export von Standardkategorien</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">branchId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manually</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="320">3.12. VariationStock</h3>
<div class="paragraph">
<p>Für den Export von Bestand stehen die in <a href="#tabelle-felder-bestand">Tabelle 13</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-bestand" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 13. Felder für Export von Bestand</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reservedListing</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reservedBundles</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valueOfGoods</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">physicalStock</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reservedStock</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">netStock</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reorderLevel</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deltaReorderLevel</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">virtualPhysicalStock</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="330">3.13. StockStorageLocation</h3>
<div class="paragraph">
<p>Für den Export von Lagerorten stehen die in <a href="#tabelle-felder-lagerorte">Tabelle 14</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lagerorte" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 14. Felder für Export von Lagerorten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bestBeforeDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindesthaltbarkeitsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">batch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Charge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerorts</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="340">3.14. VariationClient</h3>
<div class="paragraph">
<p>Für den Export von Mandantverfügbarkeiten stehen die in <a href="#tabelle-felder-mandanten">Tabelle 15</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-mandanten" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 15. Felder für Export von Mandantverfügbarkeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit für den gewählten Mandanten</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="350">3.15. VariationMarket</h3>
<div class="paragraph">
<p>Für den Export von Marktplatzverfügbarkeiten stehen die in <a href="#tabelle-felder-maerkte">Tabelle 16</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-maerkte" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 16. Felder für Export von Marktplatzverfügbarkeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit für den gewählten Marktplatz</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="360">3.16. VariationMarketIdentNumber</h3>
<div class="paragraph">
<p>Für den Export von ASIN und ePID stehen die in <a href="#tabelle-felder-asin-epid">Tabelle 17</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-asin-epid" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 17. Felder für Export von ASIN und ePID</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Landes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ (ASIN oder ePID)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="370">3.17. VariationSku</h3>
<div class="paragraph">
<p>Für den Export von SKUs stehen die in <a href="#tabelle-felder-sku">Tabelle 18</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-sku" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 18. Felder für Export von SKU</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Marktplatzes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accountId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Marktplatzkontos</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sku</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentSku</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Parent-SKU</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="380">3.18. VariationWarehouse</h3>
<div class="paragraph">
<p>Für den Export von Lagerdaten stehen die in <a href="#tabelle-felder-lager">Tabelle 19</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 19. Felder für Export von Lagerdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseZoneId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Lagerzone</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerorttyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reorderLevel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldebestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">maximumStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximalbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockTurnoverInDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerreichweite in Tagen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockBuffer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandspuffer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isBatch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Chargen aktiviert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isBestBeforeDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindesthaltbarkeitsdatum aktiviert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastUpdateTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="380">3.19. VariationSupplier</h3>
<div class="paragraph">
<p>Für den Export von Lieferantendaten stehen die in <a href="#tabelle-felder-lieferanten">Tabelle 20</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lieferanten" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 20. Felder für Export von Lieferantendaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">supplierId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lieferanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis (EK)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">minimumPurchase</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestabnahme</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanten-Artikel-Nr.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastPriceQuery</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzte Preisanfrage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deliveryTimeInDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferzeit in Tagen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabatt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isDiscountable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattfähigkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packagingUnit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verpackungseinheit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastUpdateTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">supplierPriceList</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="390">3.20. VariationProperty</h3>
<div class="paragraph">
<p>Für den Export von Merkmalen stehen die in <a href="#tabelle-felder-merkmale">Tabelle 21</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-merkmale" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 21. Felder für Export von Merkmale</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmalwert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allIds</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">3.21. VariationComment</h3>
<div class="paragraph">
<p>Für den Export von Notizen stehen die in <a href="#tabelle-felder-notizen">Tabelle 22</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-notizen" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 22. Felder für Export von Notizen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notiztext</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="410">3.22. VariationAttributeValues</h3>
<div class="paragraph">
<p>Für den Export von Attributwerten stehen die in <a href="#tabelle-felder-attributwerte">Tabelle 23</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-attributwerte" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 23. Felder für Export von Attributwerten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwerte</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="420">3.23. VariationEigenschaften</h3>
<div class="paragraph">
<p>Für den Export von Eigenschaften stehen die in <a href="#tabelle-felder-eigenschaften">Tabelle 24</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigenschaften" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 24. Felder für Export von Eigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Eigenschaft</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="430">3.24. Eigene Werte exportieren</h3>
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigene-werte">Tabelle 25</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigene-werte" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 25. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="440">4. Format vom Typ Attribute anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-attribute">Tabelle 26</a> werden Felder erläutert, die für den Export von Attributdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-attribute" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 26. Felder für Export von Attributen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Attribute</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSurchargePercental</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isLinkableToImage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bildverknüpfung möglich</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonAtribute</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fruugoAttribute</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pixmaniaAttribute</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ottoAttribute</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">googleShoppingAttribute</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">neckermannAtEpAttribute</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeOfSelectionInOnlineStore</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl im Webshop<br>
(dropdown, image oder box)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">laRedouteAttribute</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isGroupable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppierbar in Artikellisten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allValues</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>AttributeValue</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postition</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">comment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bemerkung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonValue</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ottoValue</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">neckermannAtEpValue</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">laRedouteValue</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tracdelightValue</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">percentageDistribution</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentualer Anteil</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>AttributeName</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>AttributeValueName</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributwerts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>custom_value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="450">5. Format vom Typ Kategorien anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kategorien">Tabelle 27</a> werden Felder erläutert, die für den Export von Kategoriedaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kategorien" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 27. Felder für Export von Kategorien</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Category</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentCategoryID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der übergeordneten Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">level</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorieebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorietyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">linklist</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">right</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sichtbar<br>
all = Kategorie und alle Unterkategorien sind öffentlich sichtbar<br>
customer = Kategorie und alle Unterkategorien sind nur für eingeloggte Webshop-Besucher sichtbar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sitemap</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sitemap</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentCategoryName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der übergeordneten Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>CategoryDetail</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shortDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kurzbeschreibung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaKeywords</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Keywords</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Beschreibung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">nameUrl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL-Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaTitle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Titel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image2Path</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">previewUrl</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemListView</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">singleItemView</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pageView</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>CategoryClient</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiv für Mandaten?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>custom_value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>