<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_einstellungen_für_den_ticketimport_vornehmen"><span>1.</span><span> Einstellungen für den Ticketimport vornehmen</span></a></li>
<li><a href="#_ebay_bewertungen_beantworten"><span>2.</span><span> eBay Bewertungen beantworten</span></a></li>
<li><a href="#tags"><span>3.</span><span> eBay Bewertungen mit Tags organisieren</span></a></li>
<li><a href="#_rechte_vergeben"><span>4.</span><span> Rechte vergeben</span></a>
<ul class="sectlevel2">
<li><a href="#_eignerinnenrechte_für_ticketsystem_vergeben"><span>4.1.</span><span> Eigner:innenrechte für Ticketsystem vergeben</span></a></li>
<li><a href="#_rechte_für_backend_benutzerinnen_vergeben"><span>4.2.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay Feedback</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Plugin <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayfeedback_5537" target="_blank" rel="noopener">eBay Feedback</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ermöglicht es dir, auf eBay Bewertungen zu antworten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erforderliche Plugins</div>
<div class="paragraph">
<p>Um das eBay Feedback-Plugin nutzen zu können, benötigst du die folgenden Plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayfeedback_5537" target="_blank" rel="noopener">eBay Feedback</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay Feedback</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>eBay Feedback</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay Feedback</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay OAuth2</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>eBay OAuth2</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay OAuth2</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay SDK</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>eBay SDK</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay SDK</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen_für_den_ticketimport_vornehmen">1. Einstellungen für den Ticketimport vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unbeantwortete Bewertungen werden einmal täglich abgerufen. Damit die eBay Bewertungen in dein plentymarkets System importiert werden, muss ein Ticketimport eingerichtet werden. Richte den Ticketimport für eBay Bewertungen im Menü <strong>Einrichtung » Märkte » eBay » Feedback</strong> ein.</p>
</div>
<div class="paragraph">
<p>Du kannst wählen, welche eBay Bewertungen in dein plentymarkets System importiert werden sollen. Es stehen die Feedback-Typen <strong>Positiv</strong>, <strong>Neutral</strong> und <strong>Negativ</strong> zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Ticketimport für eBay Bewertungen einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » eBay » Feedback</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Einstellungen</strong> die Option <strong>Import aktivieren</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Feedback-Typ importieren</strong> die Feedback-Typen, die importiert werden sollen.<br>
<strong><em>Tipp:</em></strong> Es stehen die Feedback-Typen <strong>Positiv</strong>, <strong>Neutral</strong> und <strong>Negativ</strong> zur Verfügung. Du kannst einen, mehrere oder alle Feedback-Typen für den Import wählen.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Ticketeinstellungen</strong> einen <strong>Mandanten</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Ticketeinstellungen</strong> die <strong>Ticketrolle</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Ticketeinstellungen</strong> den <strong>Tickettyp</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Ticketeinstellungen</strong> den <strong>Tickettyp-Status</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Benutzer</strong> die Option <strong>Benutzer</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_ebay_bewertungen_beantworten">2. eBay Bewertungen beantworten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gib deine Rückmeldung zur eBay Bewertung direkt im Ticket ein. Richte im Menü <strong>Einrichtung » CRM » Ticketeinrichtung » Ereignisse</strong> eine Ereignisaktion ein, damit die Rückmeldungen zu eBay übertragen werden.</p>
</div>
<div class="paragraph instruction">
<p>Ereignisaktion einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Ticketeinrichtung » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.</p>
</li>
<li>
<p>Gib einen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle ein Ereignis aus der Dropdown-Liste, zum Beispiel <strong>Neue Nachricht vom Mitarbeiter</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Filter hinzufügen</strong> und wähle die gewünschten Filter.</p>
</li>
<li>
<p>Klicke auf <strong>Aktion hinzufügen</strong>.</p>
</li>
<li>
<p>Füge <strong>Plugins &gt; eBay Bewertung beantworten</strong> hinzu.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="tags">3. eBay Bewertungen mit Tags organisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst eBay Bewertungen mit Tags organisieren.</p>
</div>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> sinnvoll mit Tags arbeiten können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Einrichtung &gt; Tag</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="tag-erstellen-tab" data-toggle="tab" href="#tag-erstellen" role="tab" aria-controls="tag-erstellen" aria-selected="true">Tag erstellen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="tag-erstellen" role="tabpanel" aria-labelledby="tag-erstellen-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Tag erstellen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Rechts wird ein Fenster geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor.<br>
<strong><em>Tipp:</em></strong> Klappe die Info-Box unten auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um mehr über die Einstellungen zu erfahren.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Tag wird erstellt und zur Liste hinzugefügt.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Tag-ID wird automatisch vergeben und ist nicht änderbar.
Sie dient zur eindeutigen Kennzeichnung deiner Tags.</p>
<p class="tableblock"><strong><em>Anwendungsfall</em></strong>: Tag-Verknüpfungen können importiert werden.
Während du also z.B. Artikel- und Variantendaten importierst, kannst du die passenden Tags auch direkt verknüpfen.
Dies geschieht z.B. durch Angabe der Tag-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name DE</strong><br>
<span class="red">(Pflichtfeld)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für das Tag ein.
Der Name ist das Schlagwort, das den Datensatz hervorhebt.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Der Name darf Leerzeichen enthalten. Der Name kann also auch aus mehreren Wörtern bestehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Hintergrundfarbe soll der Tag-Text haben?
Es gibt drei Möglichkeiten, die Farbe zu wählen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gib die Farbe als Hexadezimalwert ein.</p>
</li>
<li>
<p>Gib die englische Bezeichnung einer der 16 Grundfarben ein (black, red, silver, white etc.)</p>
</li>
<li>
<p>Klicke auf das Quadrat rechts und klicke in das Farbspektrum.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-bereich">Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle den Bereich <strong>Ticket</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-mandant">Mandant</strong><br>
(ab Ceres 5.0 wirksam)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welchen plentyShops soll das Tag für Kund:innen sichtbar sein?
Wähle alle zutreffenden Webshops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Option wird nur angezeigt, wenn du oben <a href="#intable-bereich">den Bereich Variante gewählt</a> hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong><br>
<strong>Name FR</strong><br>
<strong>Name IT</strong><br>
usw.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Übersetze den Tag-Namen in weitere Sprachen.</p>
<p class="tableblock"><strong><em>Anwendungsbeispiel</em></strong>: Varianten-Tags können für Kund:innen im Webshop sichtbar gemacht werden.
Wenn dein Webshop in mehreren Sprachen verfügbar ist, sollten auch die Tag-Namen in diesen Sprachen erscheinen.</p></td>
</tr>
</tbody>
</table>
</div></div>
<div class="paragraph">
<p>Verwende die Suche, um Tags zu finden.
Mit den optionalen Filtern grenzt du das Suchergebnis ein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Gib den Namen des Tags in der Hauptsprache deines plentymarkets Systems ein.</p>
</li>
<li>
<p><strong>Bereich</strong> = Wähle einen oder mehrere Bereiche. In den Suchergebnissen werden nur die Tags angezeigt, die für diesen Bereich aktiviert wurden.</p>
</li>
<li>
<p><strong>Sprache</strong> = Wähle eine oder mehrere Sprachen. In den Suchergebnissen werden nur die Tags angezeigt, deren Name in dieser Sprache gespeichert ist.</p>
</li>
</ul>
</div>
<div class="exampleblock">
<div class="content">
<div class="openblock">
<div class="content">
<div class="dlist">
<dl>
<dt class="hdlist1">Vorhandenes Tag für Ticketsystem freischalten</dt>
</dl>
</div>
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicke auf das Tag, das du für das Ticketsystem freischalten möchtest.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Ticketsystem</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="openblock">
<div class="content">

</div>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Tags mit eBay Bewertungen verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » eBay » Feedback</strong>.<br>
→ Auf der rechten Seite des Menüs werden die Feedback-Typen <strong>Positiv</strong>, <strong>Neutral</strong>, und <strong>Negativ</strong> angezeigt.</p>
</li>
<li>
<p>Klicke auf den Feedback-Typ, den du mit einem Tag verknüpfen möchtest.<br>
→ Eine Dropdown-Liste mit den verfügbaren Tags wird angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Tag, das du mit dem eBay Feedback-Typ verknüpfen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_rechte_vergeben">4. Rechte vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Vergib die erforderlichen Berechtigungen für das eBay Feedback-Plugin.</p>
</div>
<div class="sect2">
<h3 id="_eignerinnenrechte_für_ticketsystem_vergeben">4.1. Eigner:innenrechte für Ticketsystem vergeben</h3>
<div class="paragraph">
<p>Damit Benutzer:innen Tickets für den Feedbackimport erstellen können, müssen diese Benutzer:innen Eigner:innenrechte für das Ticketsystem erhalten. Eigner:innenrechte werden im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Eigner:innenrechte für Ticketsystem vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen das <strong>Benutzerkonto</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Eigner</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Ticket</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_rechte_für_backend_benutzerinnen_vergeben">4.2. Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> das Plugin nutzen können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Menü-Sichtbarkeiten &gt; Einstellungen &gt; Märkte &gt; eBay &gt; Feedback</strong></p>
</li>
<li>
<p><strong>Menü-Sichtbarkeiten &gt; CRM » Ticketsystem</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
</div>
</main>