<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ebay_verkaufsaktionen_erstellen"><span>1.</span><span> eBay-Verkaufsaktionen erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#_verkaufsaktionen_importieren"><span>1.1.</span><span> Verkaufsaktionen importieren</span></a></li>
<li><a href="#_verkaufsaktion_starten"><span>1.2.</span><span> Verkaufsaktion starten</span></a></li>
</ul>
</li>
<li><a href="#_ebay_kampagnen_erstellen"><span>2.</span><span> eBay-Kampagnen erstellen</span></a></li>
<li><a href="#_erforderliche_rechte_für_das_ebay_marketing_plugin"><span>3.</span><span> Erforderliche Rechte für das eBay Marketing-Plugin</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay Marketing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Plugin <a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/ebaymarketing_5158" target="_blank" rel="noopener">eBay Marketing</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> erstellst du Kampagnen sowie Verkaufsaktionen, wie Mengen-, Artikel- und Mindestbestellrabatte. Verkaufsaktionen können für einzelne oder mehrere Listings erstellt werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erforderliche Plugins</div>
<div class="paragraph">
<p>Um Kampagnen und Verkaufsaktionen zu erstellen benötigst du die folgenden Plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/ebaymarketing_5158" target="_blank" rel="noopener">eBay Marketing</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay Marketing</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>eBay Marketing</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay Marketing</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay OAuth2</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>eBay OAuth2</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay OAuth2</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay SDK</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>eBay SDK</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay SDK</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_ebay_verkaufsaktionen_erstellen">1. eBay-Verkaufsaktionen erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verkaufsaktionen erhöhen nicht nur die Sichtbarkeit deines Sortiments und machen Kunden gezielt auf deine Artikel aufmerksam, sie steigern auch deine Chancen auf Mehrfachverkäufe und somit auf einen höheren Warenkorbwert.</p>
</div>
<div class="paragraph">
<p>Erfahre mehr zu eBay-Verkaufsaktionen im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="title">eBay-Verkaufsaktionen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/241477153" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Im Menü <strong>Listings » eBay Verkaufsaktionen</strong> erstellst du Verkaufsaktionen, wie Mengen-, Artikel- und Mindestbestellrabatte.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufsaktion erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Listings » eBay Verkaufsaktionen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Verkaufsaktion erstellen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen in den Bereichen <strong>Details</strong>, <strong>Regel</strong> und <strong>Inventar</strong> vor, wie in <a href="#ebay-marketing-kampagnen">Tabelle 1</a> beschrieben.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Verkaufsaktion wird gespeichert, aber noch nicht gestartet.</p>
</li>
</ol>
</div>
<table id="ebay-marketing-kampagnen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für Kampagnen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spaltenbezeichnung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erläuterung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: <strong>Basiseinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plattform</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay-Plattform wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay-Konto wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name für die Verkaufsaktion eingeben. Max. 90 Zeichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zusätzliche Beschreibung eingeben, die in der Übersicht der Verkaufsaktion erscheint. Max. 50 Zeichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Priorität für die Positionierung in der Aktionsübersicht auf eBay vergeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Startdatum mit Startzeit angeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enddatum mit Endzeit angeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: <strong>Regeln</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Regel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Regel wählen und Werte eingeben. Pro Verkaufsaktion kann nur eine Regel gewählt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Mindestbestellwert</strong> = Mengenrabatt für einen Mindestbestellwert regt zum Kauf mehrerer Artikel an und schöpft so die Bestellsumme pro Käufer aus.</p>
</li>
<li>
<p><strong>Mindestbestellmenge</strong> = Rabatte auf Mindestbestellmengen steigern den Einkaufswert pro Warenkorb zusätzlich.</p>
</li>
<li>
<p><strong>1 kaufen, beim nächsten sparen</strong></p>
</li>
<li>
<p><strong>Keine Mindestbestellung</strong></p>
</li>
<li>
<p><strong>Multi-Rabatt</strong> = Je mehr Artikel gekauft werden, umso höher ist der Rabatt. Mengenrabatt beim Kauf von mehr als einem Artikel regt zum Kauf mehrerer Artikel an.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In das Feld <strong>Ab Menge</strong> die Menge eingeben, ab der es Rabatt geben soll.</p>
</li>
<li>
<p>In das Feld <strong>Rabatt</strong> eine Zahl für den Rabatt in Prozent eingeben.<br></p>
<div class="ulist">
<ul>
<li>
<p>Im 1. Feld muss die <strong>Menge</strong> <strong>1</strong> eingegeben werden. Der <strong>Rabatt</strong> muss verpflichtend <strong>0</strong>% sein.</p>
</li>
<li>
<p>Im 2. Feld muss die <strong>Menge</strong> <strong>2</strong> und ein <strong>Rabatt</strong> zwischen einschließlich <strong>5</strong>-<strong>79</strong>% eingegeben werden.</p>
</li>
<li>
<p>Im 3. Feld muss die <strong>Menge</strong> <strong>3</strong> und ein <strong>Rabatt</strong> zwischen einschließlich <strong>6</strong>-<strong>80</strong>% eingegeben werden.</p>
</li>
<li>
<p>Im 4. Feld muss die <strong>Menge</strong> <strong>4</strong> und ein höherer <strong>Rabatt</strong> als im 3. Feld eingegeben werden.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: <strong>Inventar</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Regeltyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Pro Verkaufsaktion kann nur ein Regeltyp gewählt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Komplettes Inventar</strong></p>
</li>
<li>
<p><strong>eBay-Kategorien</strong></p>
</li>
<li>
<p><strong>Shop-Kategorien</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Für Shop- und eBay-Kategorien können beliebig viele Kategorien gewählt werden. Für alle drei Regeltypen kann der Filter <strong>Marke</strong> und/oder <strong>Artikelzustand</strong> angewendet werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listings ausschließen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zusätzlich können einzelne Listings von der Verkaufsaktion über die Listing-ID oder die SKU ausgeschlossen werden. Es können maximal 100 Listings ausgeschlossen werden. In der Vorschau werden alle Listings, die in der Verkaufsaktion enthalten sind, aufgelistet. Der Liste kann die Listing-ID oder die SKU entnommen werden, um sie im Bereich <strong>Listings ausschließen</strong> kommagetrennt einzutragen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_verkaufsaktionen_importieren">1.1. Verkaufsaktionen importieren</h3>
<div class="paragraph">
<p>Es können nur Verkaufsaktionen importiert werden, bei denen die Listing-Auswahl durch das Erstellen von Regeln stattgefunden hat. Verkaufsaktionen, bei denen die Listings einzeln ausgewählt wurden, können zum jetzigen Zeitpunkt noch nicht importiert werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="_verkaufsaktion_starten">1.2. Verkaufsaktion starten</h3>
<div class="paragraph">
<p>Sobald die Verkaufsaktion erstellt und gespeichert wurde, erhält sie den Status <strong>Entwurf</strong>. Klicke auf <strong>Start</strong>, um die Verkaufsaktion zu starten. Je nach Startdatum rutscht die Verkaufsaktion nach dem Starten in den Status <strong>Geplant</strong> oder <strong>Aktiv</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Verkaufsaktionen konnen nur im Status <strong>Entwurf</strong> und <strong>Geplant</strong> geändert werden. War eine Verkaufsaktion einmal im Status <strong>Pausiert</strong>, <strong>Aktiv</strong>, oder <strong>Beendet</strong>, können keine Änderungen vorgenommen werden.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Verkaufsaktionen können sich in folgenden Status befinden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Entwurf:</strong> Verkaufsaktion kann überarbeitet, gestartet oder gelöscht werden.</p>
</li>
<li>
<p><strong>Geplant:</strong> Verkaufsaktion kann überarbeitet, pausiert oder gelöscht werden.</p>
</li>
<li>
<p><strong>Aktiv:</strong> Verkaufsaktion kann pausiert oder gelöscht werden.</p>
</li>
<li>
<p><strong>Pausiert:</strong> Verkaufsaktion kann fortgesetzt oder gelöscht werden.</p>
</li>
<li>
<p><strong>Beendet:</strong> Verkaufsaktion kann gelöscht werden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beendete Verkaufsaktionen können nicht neugestartet werden.
Sobald eine Verkaufsaktion in plentymarkets gelöscht wird, wird sie auch auf eBay gelöscht.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_ebay_kampagnen_erstellen">2. eBay-Kampagnen erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kampagnen erhöhen die Sichtbarkeit deines Sortiments und machen Kunden gezielt auf deine Artikel aufmerksam.</p>
</div>
<div class="paragraph">
<p>Erfahre mehr zu eBay-Kampagnen im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="title">eBay-Kampagnen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/247147679" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Im Menü <strong>Listings » eBay Kampagnen</strong> erstellst und bearbeitest du Kampagnen.</p>
</div>
<div class="paragraph instruction">
<p>Kampagne erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Listings » eBay Kampagnen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kampagne erstellen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor, wie in <a href="#ebay-marketing-kampagne-erstellen">Tabelle 2</a> beschrieben.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Kampagne wird gespeichert und abhängig vom Startdatum automatisch gestartet.</p>
</li>
</ol>
</div>
<table id="ebay-marketing-kampagne-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für Kampagnen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Spaltenbezeichnung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Erläuterung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plattform</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay-Plattform wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay-Konto wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name für die Kampagne eingeben. Max. 80 Zeichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prozentsatz</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prozentsatz, den du für die Kampagne bereit bist zu zahlen, wählen. Min. 1% bis max. 20% des Verkaufspreises.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Startdatum mit Startzeit eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Enddatum mit Endzeit eingeben. Wird kein Enddatum eingegeben, läuft die Kampagne, bis sie manuell beendet wird.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachdem du eine Kampagne angelegt hast, füge Anzeigen hinzu. Eine Kampagne kann bis zu 25.000 Anzeigen enthalten. Ein Listing kann als Anzeige in nur einer Kampagne enthalten sein.</p>
</div>
<div class="paragraph instruction">
<p>Anzeige erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Listings » eBay Kampagnen</strong>.</p>
</li>
<li>
<p>Öffne die Kampagne, für die eine Anzeige hinzugefügt werden soll.</p>
</li>
<li>
<p>Wechsele in den Bereich <strong>Anzeigen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Anzeigen hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle ein aktives Listing für die Anzeige.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Kampagnen können sich in folgenden Status befinden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Geplant:</strong> Kampagne kann bearbeitet werden. Sie wird abhängig von der Startzeit gestartet.</p>
</li>
<li>
<p><strong>Aktiv:</strong> Kampagne wurde gestartet. Sie kann überarbeitet, pausiert und beendet werden.</p>
</li>
<li>
<p><strong>Pausiert:</strong> Kampagne kann überarbeitet, beendet oder gestartet werden.</p>
</li>
<li>
<p><strong>Endet bald:</strong> Kampagne wird gerade beendet, da entweder das Enddatum erreicht oder die Kampagne frühzeitig beendet wurde. Das Beenden kann einige Stunden in Anspruch nehmen. In dieser Zeit sind keine Änderungen möglich.</p>
</li>
<li>
<p><strong>Beendet:</strong> Kampagne kann gelöscht werden. Ein Neustart ist nicht möglich.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_erforderliche_rechte_für_das_ebay_marketing_plugin">3. Erforderliche Rechte für das eBay Marketing-Plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> das Plugin nutzen können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Menü-Sichtbarkeiten &gt; Listings</strong> und alle untergeordneten Berechtigungen</p>
</li>
<li>
<p><strong>Berechtigungen &gt; Listing &gt; Market-Listing</strong> und alle untergeordneten Berechtigungen</p>
</li>
<li>
<p><strong>Berechtigungen &gt; Listing &gt; Listing anzeigen</strong></p>
</li>
<li>
<p><strong>Berechtigungen &gt; Listing &gt; Listing-Typ &gt; Listing aktualisieren</strong></p>
</li>
<li>
<p><strong>Berechtigungen &gt; Märkte » Zugangsdaten</strong> und alle untergeordneten Berechtigungen</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
</main>