<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_datenaustausch_aktivieren"><span>1.</span><span> Datenaustausch aktivieren</span></a></li>
<li><a href="#_optimierungsaktionen_ansehen"><span>2.</span><span> Optimierungsaktionen ansehen</span></a></li>
<li><a href="#_listings_mit_optimierungsvorschlägen_ansehen"><span>3.</span><span> Listings mit Optimierungsvorschlägen ansehen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay NBA</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem eBay NBA (Next Best Action)-Plugin können aktive eBay-Listings mit den Listings von Mitbewerber:innen und den Empfehlungen von eBay abgeglichen werden, um deine Listings zu optimieren und dein Ranking auf eBay zu verbessern.</p>
</div>
<div class="paragraph">
<p>In nur wenigen Schritten kannst du mit dem eBay NBA-Plugin die "Low Performer" unter deinen Listings finden und diese mithilfe von eBay-Empfehlungen optimieren.</p>
</div>
<div class="paragraph">
<p>Mit der Installation des eBay NBA-Plugins wird im Menü <strong>Listings</strong> der Menüpunkt <strong>eBay NBA</strong> hinzugefügt. Dort erhältst du eine Übersicht über eBay-Listings, die optimiert werden können und erhältst Vorschläge von eBay, was du am Listing ändern solltest, um es zu optimieren. Optimierungsvorschläge von eBay werden einmal im Monat in plentymarkets importiert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erforderliche Plugins</div>
<div class="paragraph">
<p>Um die NBA-Funktion von eBay nutzen zu können, benötigst du die folgenden Plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/ebaynba_6141" target="_blank" rel="noopener">eBay NBA</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay NBA</strong> installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay NBA</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>eBay NBA</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay OAuth2</strong> installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay OAuth2</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>eBay OAuth2</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay SDK</strong> installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay SDK</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>eBay SDK</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_datenaustausch_aktivieren">1. Datenaustausch aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das eBay NBA-Plugin installiert hast, muss im Plugin zunächst der Datenaustausch mit eBay aktiviert werden, damit plentymarkets Daten von eBay abrufen kann.</p>
</div>
<div class="paragraph instruction">
<p>Datenaustausch mit eBay aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin <strong>eBay NBA</strong> installiert hast.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Plugin <strong>eBay NBA</strong>.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Aktiviere die Option <strong>NBA Metrics Import</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_optimierungsaktionen_ansehen">2. Optimierungsaktionen ansehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Listings » eBay NBA</strong> erhältst du eine Übersicht über Listings, die optimiert werden können. Wähle eine eBay-Kategorie, in der du verkaufst, um Listings aus dieser Kategorie anzuzeigen, die optimiert werden sollten.<br></p>
</div>
<div class="paragraph">
<p>Folgende Aktionen zur Optimierung von Listings sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Bieten Sie längere Rückgabefristen an</p>
</li>
<li>
<p>Bieten Sie die Option "Sofortkauf" an</p>
</li>
<li>
<p>Mehr Angebote mit kostenlosem Versand anbieten</p>
</li>
<li>
<p>Erweitern Sie Ihr eBay Plus-Sortiment</p>
</li>
<li>
<p>Verlängern Sie den Titel Ihrer Angebote</p>
</li>
<li>
<p>Fügen Sie aussagekräftige Untertitel hinzu</p>
</li>
<li>
<p>Haben Sie mehr auf Lager</p>
</li>
<li>
<p>Erhöhen Sie die Anzahl Ihrer Artikelbilder</p>
</li>
<li>
<p>Bieten Sie mehr internationalen Versand an</p>
</li>
<li>
<p>Verkürzen Sie Ihre Bearbeitungszeit (Tage)</p>
</li>
<li>
<p>Kostenlose Rücknahme anbieten</p>
</li>
<li>
<p>Bieten Sie mehr Angebote mit Varianten</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Optimierungsaktionen in einer eBay-Kategorie ansehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Listings » eBay NBA</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Kategorieauswahl</strong> im oberen Bereich die gewünschte eBay-Kategorie.<br>
→ Im oberen Bereich des Fensters erhältst du eine Übersicht über die verschiedenen Aktionen, die in dieser Kategorie ausgeführt werden können, um Listings zu optimieren und eine Übersicht über die Anzahl der betroffenen Listings. Weitere Informationen dazu findest du in <a href="#table-ebay-nba-recommendations">Tabelle 1</a>.</p>
</li>
</ol>
</div>
<table id="table-ebay-nba-recommendations" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optimierungsempfehlungen für Listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktionen</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier stehen die Aktionen, die eBay zur Optimierung von Listings vorschlägt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier steht die eBay-Kategorie, in der Listings mit dieser Aktion optimiert werden sollten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ihr Wert</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier steht dein aktiver Wert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ihre Mitbewerber</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier stehen die Werte deiner Mitbewerber.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Empfehlung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier steht der von eBay empfohlene Wert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betroffene Listings</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier steht die Anzahl deiner betroffenen aktiven Listings.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_listings_mit_optimierungsvorschlägen_ansehen">3. Listings mit Optimierungsvorschlägen ansehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du eine eBay-Kategorie und eine Aktion zur Optimierung eines Listings gewählt hast, kannst du einzelne Listings ansehen, die optimiert werden sollten. Du hast die Möglichkeit, aus der Übersicht im Menü <strong>Listings » eBay NBA</strong> direkt in ein Listing zu wechseln, das optimiert werden soll.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Um nur bestimmte Listings anzeigen zu lassen, stehen verschiedene Filter zur Verfügung. Du kannst beispielsweise mit dem Filter <strong>MLID</strong> nur Listings mit einer bestimmten Market-Listing-ID anzeigen lassen. Um einen Filter anzuwenden, wähle den gewünschten Filter aus der Dropdown-Liste und klicke auf <strong>Suchen</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Listings mit Optimierungsvorschlägen ansehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Listings » eBay NBA</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Kategorie</strong> im unteren Bereich die gewünschte eBay-Kategorie.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Aktion</strong> im unteren Bereich die gewünschte Aktion.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Eine Übersicht über Listings, die mit der gewählten Aktion optimiert werden sollten, wird angezeigt.<br></p>
</li>
<li>
<p>Klicke auf die <strong>MLID</strong> oder die <strong>Artikelnummer</strong>, um ein Listing zu öffnen.<br>
→ Ein neues Tab für das Listing wird geöffnet, in dem du die Änderungen direkt am Listing vornehmen kannst.</p>
</li>
<li>
<p>Nachdem du eine Optimierungsaktion am Listing durchgeführt hast, aktivierst du die <strong>Status</strong>-Checkbox.<br>
→ Der Status des Listings wird auf <strong>true</strong> gesetzt, damit du den Überblick darüber behältst, welche Listings du schon optimiert hast.</p>
</li>
</ol>
</div>
</div>
</div>
</main>