<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_konten_freischalten_und_bearbeiten"><span>1.</span><span> Konten freischalten und bearbeiten</span></a></li>
<li><a href="#_berechtigungen_vergeben"><span>2.</span><span> Berechtigungen vergeben</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay OAuth2 <em>(altes Plugin)</em></h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">eBay OAuth2-Plugin nicht mehr notwendig</div>
<div class="paragraph">
<p>Um in plentymarkets eBay-Konten für OAuth2 zu authentifizieren, wird kein Plugin mehr benötigt. Stattdessen können Konten nun im Menü <strong>Einrichtung » Märkte » eBay » Konten » OAuth2</strong> für OAuth2 authentifiziert werden.<br>
Weitere Informationen dazu findest du auf der Handbuchseite <a href="/maerkte/ebay/ebay-einrichten#oauth2">eBay einrichten</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Plugin <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a> wird für alle Calls benötigt, die über die neuen APIs von eBay laufen. Diese neuen APIs basieren auf der neuen Authentifizierungsmethode OAuth2 statt auf der der bisherigen Auth-n-Auth-Methode. Da die neue Authentifizierungsmethode für immer mehr essentielle Abläufe benötigt wird, solltest du das Plugin <strong>eBay OAuth2</strong> schon bei der Einrichtung installieren.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Plugin eBay OAuth2 herunterladen</div>
<div class="paragraph">
<p>Lade das folgende Plugin herunter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Dieses Plugin kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay OAuth2</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>eBay OAuth2</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay OAuth2</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_konten_freischalten_und_bearbeiten">1. Konten freischalten und bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach der Installation des Plugins schaltest du im Menü <strong>Einrichtung » Märkte » eBay » OAuth2</strong> neue Konten für eBay frei. Dafür benötigst du deine eBay-Zugangsdaten, bestehend aus Nutzername und Passwort. Wenn du deine eBay-Zugangsdaten änderst, musst du das Konto aktualisieren und synchronisieren. Du kannst mit plentymarkets mehrere eBay-Konten verwalten. Um ein oder mehrere Konten hinzuzufügen, gehst du folgendermaßen vor:</p>
</div>
<div class="paragraph instruction">
<p>Konto freischalten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » eBay » OAuth2</strong>.</p>
</li>
<li>
<p>Wähle <strong>Sandbox-Konto hinzufügen</strong>, um ein Konto für eine Testumgebung freizuschalten.<br>
<strong><em>oder:</em></strong> Wenn das neue Konto bereits aktiv ist, wähle die Option <strong>Production-Konto hinzufügen</strong>.<br>
→ Du wirst zu eBay weitergeleitet und musst dort deine Daten authentifizieren.<br>
<strong><em>Wichtig:</em></strong> Beachte bei der Eingabe die Groß- und Kleinschreibung der Kontodaten.<br>
→ Das Konto wird freigeschaltet.<br>
→ Das Konto wird im Menü <strong>Einrichtung » Märkte » eBay » OAuth2</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Beim Freischalten oder Aktualisieren eines Kontos wird ein Token erzeugt. Dieser Token ist 18 Monate gültig. Du erhältst keine Warnung, wenn der Token abläuft. Der Token verliert außerdem seine Gültigkeit, wenn du deine Zugangsdaten bei eBay änderst.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » eBay » OAuth2</strong> hast du die Möglichkeit, Konten umzubenennen, zu aktualisieren oder zu löschen. Du musst zum Beispiel das Konto in plentymarkets umbenennen, wenn du bei eBay deinen Mitgliedsnamen geändert hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_berechtigungen_vergeben">2. Berechtigungen vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> das Plugin nutzen können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Plugins &gt; EbayOAuth2 &gt; OAuth2</strong></p>
</li>
<li>
<p><strong>Berechtigungen &gt; Märkte &gt; Zugangsdaten</strong> und alle untergeordneten Berechtigungen</p>
</li>
<li>
<p><strong>Berechtigungen &gt; Märkte &gt; eBay &gt; Marktplatz &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
</main>