<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_videotutorial"><span>1.</span><span> Videotutorial</span></a></li>
<li><a href="#_listing_perfomance_analysieren"><span>2.</span><span> Listing-Perfomance analysieren</span></a></li>
<li><a href="#_bericht_nach_metriken_filtern"><span>3.</span><span> Bericht nach Metriken filtern</span></a></li>
<li><a href="#_konto_performance_analysieren"><span>4.</span><span> Konto-Performance analysieren</span></a></li>
<li><a href="#_rechte_vergeben"><span>5.</span><span> Rechte vergeben</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay Analytics</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Plugin eBay Analytics erstellst du Berichte, mit denen du deine Listing-Performance analysierst. Berichte können für einzelne Listings oder für das gesamte eBay-Konto erstellt werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Erforderliche Plugins</div>
<div class="paragraph">
<p>Um eBay Analytics-Berichte erstellen zu können, benötigst du die folgenden Plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayanalytics_5144" target="_blank" rel="noopener">eBay Analytics</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay Analytics</strong> installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Neues Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay Analytics</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>eBay Analytics</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay OAuth2</strong> installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Neues Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay OAuth2</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>eBay OAuth2</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>eBay SDK</strong> installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Neues Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>eBay SDK</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>eBay SDK</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_videotutorial">1. Videotutorial</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahre mehr zu eBay Analytics im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="title">eBay Analytics</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/240959695" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_listing_perfomance_analysieren">2. Listing-Perfomance analysieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Listings » eBay Listings-Performance</strong> erstellen Sie Berichte, die sich auf einzelne Listings beziehen.</p>
</div>
<div class="paragraph instruction">
<p>Bericht für Listing-Performance erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Listings » eBay Listings-Performance</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuen Bericht erstellen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte die Erläuterungen in <a href="#table-ebay-analytics-create-report">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Bearbeitung wird in wenigen Minuten automatisch gestartet.</p>
</li>
</ol>
</div>
<table id="table-ebay-analytics-create-report" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Bericht für Listing-Performance erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plattform</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay-Plattform wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay-Konto wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name für den Bericht vergeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Startdatum eingeben. Das Startdatum darf höchstens 30 Tage in der Vergangenheit liegen. Zeitintervall ist max. 30 Tage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Enddatum darf nicht vor dem Startdatum liegen. Zeitintervall ist max. 30 Tage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listings</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die in dem Bericht zu analysierenden Listings über das Plus-Zeichen hinzufügen. Maximal 100 Listings können in den Bericht aufgenommen werden.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_bericht_nach_metriken_filtern">3. Bericht nach Metriken filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald der Bericht erstellt wurde, kannst du den Bericht nach Metriken filtern. Die in <a href="#table-ebay-analytics-metrics">Tabelle 2</a> aufgeführten Metriken stehen zur Auswahl:</p>
</div>
<table id="table-ebay-analytics-metrics" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Bericht nach Metriken filtern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Metrik</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klickrate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gibt an, wie oft ein:e Käufer:in eine Impression gesehen und sich dann bis zur Listing-Seite durchgeklickt hat.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Impressions auf der eBay-Suchergebnisseite</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gibt an, wie oft ein Listing in der Suchergebnisseite angezeigt wurde. Abhängig davon wie das Listing auf der Suchergebnisseite positioniert wurde, hat die Käufer:in es eventuell nicht gesehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Impressions im eBay-Shop</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gibt an, wie oft das Listing im eBay-Shop angezeigt wurde. Abhängig davon wie das Listing auf der Suchergebnisseite positioniert wurde, hat die Käufer:in es eventuell nicht gesehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtanzahl der Impressions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gibt an, wie oft das Listing auf der Suchergebnisseite oder im eBay-Shop angezeigt wurde. Wenn das Listing auf beiden Seiten angezeigt wurde, zählt es zweimal. Abhängig davon wie das Listing auf der Suchergebnisseite positioniert wurde, hat die Käufer:in es eventuell nicht gesehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Direkte Aufrufe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Anzahl der direkten Listing-Aufrufe, z.B. über ein Lesezeichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Aufrufe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Anzahl der Listing-Aufrufe über eine externe Seite, z.B. über einen Link aus der Suchergebnisseite bei Google.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufrufe über nicht suchgebundene und nicht verkaufsgebundene Seiten auf eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Anzahl der Aufrufe über eine eBay-Seite, außer über die eBay-Suchergebnisseite oder über den eigenen eBay-Shop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufrufe über die Suchergebnisseite</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Anzahl der Aufrufe über einen Link aus der Suchergebnisseite auf eBay.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufrufe über den eBay-Shop</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Anzahl der Aufrufe über einen Link aus dem eBay-Shop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtaufrufe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Alle Aufrufe</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konversionsrate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Anzahl der Verkäufe geteilt durch die Anzahl der Listing-Aufrufe.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaktion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Anzahl der Käufe aus einem Angebot, unabhängig von der Stückzahl.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_konto_performance_analysieren">4. Konto-Performance analysieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Listings » eBay Konto-Performance</strong> erstellst du Berichte, die sich auf die Performance eines eBay-Kontos beziehen.</p>
</div>
<div class="paragraph instruction">
<p>Bericht über Konto-Performance erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Listings » eBay Konto-Performance</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte die Hinweise in <a href="#table-ebay-analytics-report">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-ebay-analytics-report" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Bericht über Konto-Performance erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plattform</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay-Plattform wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay-Konto wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Startdatum eingeben. Das Startdatum muss vor dem Enddatum liegen. Zeitintervall ist max. 30 Tage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Das Enddatum darf nicht vor dem Startdatum liegen. Zeitintervall ist max. 30 Tage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Metrik</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Metrik wählen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klickrate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gibt an, wie oft Käufer:innen eine Impression gesehen und sich dann bis zur Listing-Seite durchgeklickt hat.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing-Aufrufe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Anzahl der Listing-Aufrufe.<br>
Für die Metrik <strong>Listing-Aufrufe</strong> werden im Bericht 6 Aufruf-Metriken angezeigt: direkte Aufrufe, externe Aufrufe, Aufrufe über nicht suchgebundene und nicht verkaufsgebundene Seiten auf eBay, Aufrufe über die Suchergebnisseite, Aufrufe über den eBay-Shop und alle Aufrufe.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wenn für die Konto-Performance die Metrik <strong>Listing-Aufrufe</strong> oder <strong>Impressions</strong> für den Bericht gewählt wurde, kannst du innerhalb des Berichts weitere Metriken durch Klicken auf die Metrik ein- und ausblenden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Impressions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Als Impression gilt, wenn auf eBay ein Link zum Listing erscheint. An diesem Punkt sind Käufer:innen nur einen Klick von der Listing-Seite entfernt.<br></p>
</div>
<div class="paragraph">
<p>Für die Metrik <strong>Impressions</strong> werden im Bericht 3 Impression-Metriken angezeigt: Impressions auf der eBay-Suchergebnisseite, Impressions im eBay-Shop und nicht verkaufsgebundene Seiten auf eBay und Gesamtanzahl der Impressions.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wenn für die Konto-Performance die Metrik <strong>Listing-Aufrufe</strong> oder <strong>Impressions</strong> für den Bericht gewählt wurde, kannst du innerhalb des Berichts weitere Metriken durch Klicken auf die Metrik ein- und ausblenden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konversionsrate</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Anzahl der Verkäufe geteilt durch die Anzahl der Listing-Aufrufe.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaktion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Anzahl der Käufe aus einem Angebot, unabhängig von der Stückzahl.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_rechte_vergeben">5. Rechte vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Benutzer:innen mit dem Zugang <strong>Backend</strong> das <strong>eBay Analytics-Plugin</strong> nutzen können, sind Rechte für Menü-Sichtbarkeiten und REST-API erforderlich.</p>
</div>
<div class="paragraph">
<p>Benutzer:innen mit <strong>Backend</strong>-Zugang benötigen die in <a href="#table-ebay-analytics-rights">Tabelle 4</a> gezeigten Rechte.</p>
</div>
<table id="table-ebay-analytics-rights" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Rechte für eBay Analytics</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich</th>
<th class="tableblock halign-left valign-top">Rechte</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menü-Sichtbarkeiten</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Listings</strong> und alle untergeordneten Berechtigungen</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">REST-API-Rechte</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Listing » <strong>Market-Listing</strong> und alle untergeordneten Berechtigungen</p>
</li>
<li>
<p>Listing » Versandprofil » <strong>Listing anzeigen</strong></p>
</li>
<li>
<p>Listing » <strong>Listing aktualisieren</strong></p>
</li>
<li>
<p>Märkte » <strong>Zugangsdaten</strong> und alle untergeordneten Berechtigungen</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Nutze die Filterfunktion, um nach Benutzer:innen der Benutzerklasse <strong>Backend</strong> zu suchen. Wähle dazu im Tab <strong>Filter</strong> in der Dropdown-Liste <strong>Klasse</strong> den Filter <strong>Backend</strong>. Klicke auf <strong>Suchen</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Klicke auf die Benutzer:in, die Rechte erhalten soll.</p>
</li>
<li>
<p>Aktiviere in den Bereichen <strong>Autorisierung</strong> und <strong>Menü-Sichtbarkeiten</strong> die in <a href="#table-ebay-analytics-rights">Tabelle 4</a> aufgelisteten Rechte.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</main>