<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_procedures"><span>2.</span><span> Overview of the procedures</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>CreditNote</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>CreditNote</strong> is used to export credit notes, e.g. for statistical purposes. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> page of the manual describes how you export the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>CreditNote</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNoteCurrency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currency of the credit note</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNoteID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The credit note’s order ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNoteMarking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Credit note flag (0-6)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNoteNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the credit note</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNoteStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status of the credit note</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNoteTimeStamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of creating the credit note</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and date.<br>
Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerAdditionalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additions to the customer’s name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s town</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s company</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCountryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s country. The ID needs to be imported here.<br>
The country IDs are found under: <strong>System » Orders » Shipping » Settings » Tab: Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s email address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s fax number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerFirstname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s first name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerGroup</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer group</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerHouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s house number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s language</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s surname</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerMobile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s mobile phone number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s telephone number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerSalutationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Form of address<br>
<strong>0</strong> = Mr<br>
<strong>1</strong> = Ms<br>
<strong>2</strong> = Company</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s street</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s postcode</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External order ID, e.g. from an external market</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date of the last change</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OwnerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the owner of the order</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParentOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the higher-ranking order, original order ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Online store ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross order total</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net order total</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>CreditNote</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_procedures">2. Overview of the procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Procedures</strong> tab, select which procedures you want to be carried out during the data export. Activate the <strong>LastUpdateTimestamp</strong> procedure. Select the <strong>set the current date</strong> option from the drop-down list. A timestamp will be added to credit notes during the export, indicating when the items were last changed.</p>
</div>
</div>
</div>
</main>