<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
<li><a href="#_overview_of_the_procedures"><span>4.</span><span> Overview of the procedures</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>CustomerSet</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>CustomerSet</strong> is used to create new customer data records. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>CustomerSet</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format. The data format may vary depending on your plentymarkets version.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Data fields of the data format <strong>CustomerSet</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AccountingID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The debtor account of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>City</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The town of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CountryISO</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country code (ISO code2)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerClass</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the <a href="/en/crm/managing-customer-data#100">customer class</a> as created in the <strong>System » CRM » Classes</strong> menu</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and the customer class from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the customer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The language of the customer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The town listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCountryISO</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country code listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The first name listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryHouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The house number listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The surname listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The street listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryVATNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT number listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The postcode listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The email address of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The fax number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The first name of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The house number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The last name of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastUpdate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date of the last change</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayDebit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debit activated<br>
<strong>N</strong> = No<br>
<strong>Y</strong> = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayInvoice</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Invoice activated<br>
<strong>N</strong> = No<br>
<strong>Y</strong> = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Phone</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">The telephone number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Street</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">The street of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VATNumber</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT number of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZIP</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">The postcode of the customer</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export for customer class</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory field must be available for the data format <strong>CustomerSet</strong> and need to have a valid value saved for it:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CustomerID</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/basics/data-exchange/export-import/importing-data#25">data synchronisation</a>. For mandatory synchronisation fields (M), select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>. At least one of the data fields from the following table must be selected for synchronisation. You can also select both data fields.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Synchronisation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the customer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_procedures">4. Overview of the procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Procedures</strong> tab, select which procedures you want to be carried out during the data export. Activate the <strong>LastUpdate</strong> procedure. Select the <strong>set the current date</strong> option from the drop-down list. The date and time when changes were last made will be added to the customer data record during import.</p>
</div>
</div>
</div>
</main>