<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>CustomerProperty</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>CustomerProperty</strong> is used to export, edit and import the customer properties saved in the <a href="/en/crm/managing-contacts#4000">System » CRM » Properties</a> menu. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>CustomerProperty</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format. The data format may vary depending on your plentymarkets version.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields of the data format <strong>CustomerProperty</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyClient</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The clients (stores) which are activated for the customer property</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyCustomerRegistration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The setting saved for the <strong>Customer registration</strong> option. This option is found within the customer property.<br>
<strong>Y</strong> = The property will be displayed in the customer registration.<br>
<strong>N</strong> = The property will not be displayed in the customer registration.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyCustomerSearch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The setting saved for the <strong>Customer search</strong> option. This option is found within the customer property.<br>
<strong>Y</strong> = The property will be displayed in the customer search and the customer data.<br>
<strong>N</strong> = The property will not be displayed in the customer search and the customer data.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the customer property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyLabel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the customer property</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The language of the customer property<br>
<strong><em>Note</em></strong>: Only one language can be exported at once. If the filter <strong>CustomerPropertyLang</strong> was not set, then the default language will be exported.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyMandatory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The setting saved for the <strong>Mandatory field</strong> option. This option is found within the customer property.<br>
<strong>Y</strong> = The property is defined as a mandatory field.<br>
<strong>N</strong> = The property is not defined as a mandatory field.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyOrderProcess</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The setting saved for the <strong>Order process</strong> option. This option is found within the customer property.<br>
<strong>Y</strong> = The property will be displayed in the order process.<br>
<strong>N</strong> = The property will not be displayed in the order process.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyPosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The position of the customer property</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The type that was assigned to the customer property</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyVisibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer types that the customer property is visible for</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export for customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Note</em></strong>: filter setting only</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the customer class from the drop-down list. In order to export data for all customer classes, do not activate the filter. Go to <a href="/en/crm/managing-contacts#15">System » CRM » Classes</a> to create customer classes.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>CustomerProperty</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CustomerPropertyID</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/basics/data-exchange/export-import/importing-data#25">data synchronisation</a>. For mandatory synchronisation fields (M), select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>. Alternative synchronisation fields are marked with an <strong>A</strong>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Synchronisation field</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the customer property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The language of the customer property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>