<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>2.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Facet</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the data format <strong>Facet</strong> to edit the data of the faceted&nbsp;search. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">Importing data</a> pages of the manual describe how you export and import the data format. Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Has the module been activated?</div>
<div class="paragraph">
<p>The data format is only available if you have booked and activated the Faceted search module.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>Facet</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Data fields of the data format <strong>Facet</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the facet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetCssClass</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSS class of the facet This name will be made available as a template variable in the CMS menu.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetPosition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position of the facet in the online store</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetSort</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order of the search results;&nbsp;values:<br>
<strong>rate</strong> = Hit rate<br>
<strong>position</strong> = Position<br>
<strong>a_z</strong> = A-Z</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet type The type cannot be changed.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetMinRateCount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum number of hits</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetMaxResultCount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of facet values shown</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetFilterMethod</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet selection in the online store;&nbsp;values:<br>
<strong>restrict</strong> = Only one value can be selected<br>
<strong>multi</strong> = &nbsp;Several&nbsp;values can be selected</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetLang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language of the facet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetLangName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of a facet value in a language</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetValueID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of a facet value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetValueCssClass</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSS class of a facet value</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetValuePosition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position of a facet value in the online store</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FacetValueLangName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of a facet value in a language</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter: Export for customer class</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the customer class.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">2. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/basics/data-exchange/export-import/importing-data#25">data synchronisation</a>. For mandatory synchronisation fields (M), select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Synchronisation field</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FacetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the facet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FacetValueID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of a facet value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>