<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>IncomingItems</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>IncomingItems</strong> special format is used to import incoming items. This data format is available as a special format in the <strong>Data » Dynamic import</strong> menu. You may want to import the current stock if you are using an external stock management system and you simply want to compare the stock with plentymarkets.</p>
</div>
<div class="paragraph">
<p>With the <strong>IncomingItems</strong> data format, you only import certain incoming items data records and not the entire stock. If you want to import the entire stock, refer to the <a href="/en/basics/data-exchange/export-import/importing-data#120">Importing stock</a> chapter on the <a href="/en/basics/data-exchange/export-import/importing-data">Importing data</a> page of the manual.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>IncomingItems</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueSetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the item variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN code for an item</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unique item ID; numerical value, 2^31 at maximum</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item number. Letters and numbers are possible.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Imported stock of an item (incoming items)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationEAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN of the item variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the item variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the item variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the warehouse from the drop-down list.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the <strong>IncomingItems</strong> data format</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>IncomingItems</strong> and need to have a valid value saved for them:</p>
</div>
<div class="paragraph">
<p>Mandatory fields for individual items:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p>as well as one <strong>Item</strong> format</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mandatory fields for item variations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p><strong>AttributeValueSetID</strong></p>
</li>
<li>
<p>as well as one <strong>Item</strong> format</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>or</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p>as well as one <strong>Variation</strong> format (e.g. <strong>VariationID</strong>)</p>
</li>
</ul>
</div>
</div>
</div>
</main>