<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_the_data_format_order"><span>1.</span><span> General information about the data format Order</span></a></li>
<li><a href="#_important_notes"><span>2.</span><span> Important notes</span></a></li>
<li><a href="#_overview_of_the_data_fields"><span>3.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_synchronization_fields"><span>4.</span><span> Synchronization fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Order</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Data » Dynamic export</strong> and <strong>Data import » Dynamic import</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_the_data_format_order">1. General information about the data format Order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the data format <strong>Order</strong> to export, edit and import orders.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_important_notes">2. Important notes</h2>
<div class="sectionbody">
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Spell the field names correctly!</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields (upper/lower case letters). The data can not be processed if the data field is spelled incorrectly.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">3. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following table explains the data fields for the data format <strong>Order</strong>. The data fields are listed in alphabetical order:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Filter options (tab: <strong>Filter</strong>)*</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AccountingID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debtor account (field of accounting)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdditionalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional address information</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>City</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s city</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s company</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s country. The ID needs to be imported here.<br>
Country IDs: <strong>System » Orders » Shipping » Settings » Tab: Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order currency</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerGroup</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer class</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator and the customer class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator and enter the value for the customer ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerInfo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer information</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s language</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerSign</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer identification sign</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryAdditionalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: Additional address information</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryAddressID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: City</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: Company</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: email address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: Fax number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: First name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryHouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: House number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryLand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: Country. The ID needs to be imported here.<br>
Country IDs: <strong>System » Orders » Shipping » Settings » Tab: Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: Last name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: Phone number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: Street</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryVATNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT number listed in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address: ZIP code</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DiscountDays</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Early payment discount (days), i.e. a number of days starting when the invoice is created. The customer can pay the pending amount at a discounted price during this time period.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DiscountPercent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Early payment discount (%), i.e. the value in percent that the customer may subtract if they make the payment within the time period Early payment discount (days).</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DoneTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items shipped on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator and enter the value. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayGetItFast</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay express shipping</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExchangeRatio</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exchange rate in the main currency</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External order ID, e.g. from an external market</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s fax number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s first name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s house number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InvoiceNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Invoice number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net invoice (export delivery or EU with VAT number)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s surname</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of the last change</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order flag (0-6)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MethodOfPaymentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the payment method from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s cell phone number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator and enter the order ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordered on</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator and enter the value. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order type<br>
<strong>order</strong> = Order<br>
<strong>delivery</strong> = Delivery order<br>
<strong>credit_note</strong> = Credit note<br>
<strong>returns</strong> = Returns<br>
<strong>warranty</strong> = Warranty</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OwnerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of order owner</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PackageNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Package number<br>
If multiple packages were sent, then multiple package numbers can be entered into this field for the provider DHL. The package numbers should be written with the comma "," separator.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amount paid</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaidTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of payment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator and enter the value. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServiceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping service provider ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping service provider from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServicePresetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping configuration ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParentOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the higher-ranking order, e.g. the original order ID for credit notes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment status<br>
<strong>0</strong> = unpaid<br>
<strong>1</strong> = paid<br>
<strong>2</strong> = partial payment<br>
<strong>3</strong> = overpayment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the payment status from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Phone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s telephone number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order referrer ID (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the order referrer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesAgent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trade representative</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalutationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Form of address<br>
<strong>0</strong> = Mr<br>
<strong>1</strong> = Ms<br>
<strong>2</strong> = Company</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SellerAccountID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The seller’s market account</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping costs</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Online store ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Street</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s street</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross order total</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalInvoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Invoice total</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net order total</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalVATShipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT for the shipping costs</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valuta</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time period that starts when the invoice is created and is before the payment due time period begins.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VATNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator and enter the warehouse ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s ZIP code</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>Order</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_synchronization_fields">4. Synchronization fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in the following table are available for <strong>data synchronization</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Mandatory synchronization fields (M*)</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External order ID, e.g. from an external market</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">* = One data field is sufficient for the synchronization</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: data fields that can be used for the <strong>synchronization</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>For this data format, you have to select one of the mandatory fields in the table for the synchronization. However, you can select both fields if desired.</p>
</div>
</div>
</div>
</div>
</div>
</main>