<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_procedures"><span>2.</span><span> Overview of the procedures</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>OrderListForFulfillment</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>OrderListForFulfillment</strong> is used to export order data for fulfillment processes, e.g. for lists of delivery addresses. This data format can only be used for the export. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> page of the manual describes how you export the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>OrderListForFulfillment</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyCEO</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Chief executive officer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">City in which the company is located</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyCountry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country in which the company is located</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company’s email address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company’s fax number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyHotline</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company’s hotline</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company’s phone number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Street in which the company is located</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyVATNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company’s VAT number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CompanyZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The company’s postcode</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerAccountingID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debtor account for <strong>accounting</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">City in which the customer lives</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s company</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCountry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country in which the customer lives</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerEbayName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s eBay name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s email address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s fax number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerFirstname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s first name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerGroup</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer class</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and the class from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerHouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s house number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s language</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s surname</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s telephone number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerSalutationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Form of address<br>
<strong>0</strong> = Mr<br>
<strong>1</strong> = Ms<br>
<strong>2</strong> = Company</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Street in which the customer lives</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s postcode</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">City in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fax number in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryHouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">House number in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryLand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Surname in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone number in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Street in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode in the delivery address</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderComments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Comments about the order</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderCurrency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order currency</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderCustomerSign</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer identification sign</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderDoneTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when outgoing items were booked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and date. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderExchangeRatio</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exchange rate in the main currency</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderExternalInvoiceNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order’s external invoice number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderExternalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External order ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderInvoiceDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date when the invoice was created for the order</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderInvoiceNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order’s invoice number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderIsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net invoice (export delivery or EU with VAT number)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order language</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderLastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when changes were last made to the order</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderMarking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order flag</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderMethodOfPaymentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the payment method from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderOwnerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the order owner</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paid order total</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPaidTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when payment was received</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and date. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPaymentStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the payment status from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order referrer ID, i.e. the internal ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the order referrer from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderRowData1 - 5</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data fields that can be individually allocated<br>
The following template variables can be used for these fields: <br>
<strong>[OrderRowQuantity] <br>
[OrderRowItemID] <br>
[OrderRowItemExternalID] <br>
[OrderRowItemTitle] <br>
[OrderRowVariation] <br>
[OrderRowItemEAN1] <br>
[OrderRowItemNumber] <br>
[OrderRowItemFreeTextField1], [OrderRowItemFreeTextField2], …​ 20 <br>
[OrderRowVariationEAN1] <br>
[OrderRowVariationCustomNumber] <br>
[OrderRowStorageLocationsWithQuantity]</strong><br>
Multiple template variables can be used in an <strong>OrderRowData</strong> data field.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderSellerAccountID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The seller’s eBay account</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order’s shipping costs</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and a status from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the online store in which the order was made</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when the order was placed</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and date. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTotalGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross order total</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net order total</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTotalVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order type</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderWarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderWeight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order weight</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServiceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping service provider ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the shipping service provider from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServiceName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the shipping service provider</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServicePresetCategory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping profile’s category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServicePresetDispatchIdentifier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping profile’s shipping identification</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServicePresetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServicePresetMarking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping profile’s flag</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServicePresetName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping profile’s name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServicePresetPriority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping profile’s priority</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServiceShippingGroup</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping profile’s shipping group</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>OrderListForFulfillment</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_procedures">2. Overview of the procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Procedures</strong> tab, select which procedures you want to be carried out during the data export. Activate the <strong>OrderStatus</strong> procedure and select an order status from the drop-down list. The orders will then be set to this order status during the import.</p>
</div>
</div>
</div>
</main>