<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields_for_individual_items"><span>2.</span><span> Overview of the mandatory fields for individual items</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields_for_item_variations"><span>3.</span><span> Overview of the mandatory fields for item variations</span></a></li>
<li><a href="#_export_options"><span>4.</span><span> Export options</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>Stock</strong> is used to exchange data that relates to your <a href="/en/stock-management">stock</a>. Your current stock will be exported during the export process. The export of your stock is one step in the process of stocktaking for example. A stock correction is carried out during the import and the stock will be changed to reflect the value that was imported. Please note that item bundles do not have any stock.</p>
</div>
<div class="paragraph">
<p>For further information about using the data format <strong>Stock</strong> refer to the <a href="/en/basics/data-exchange/export-import/exporting-data#90">Exchanging stock data</a> chapter on the <strong>Exporting data</strong> page of the manual.</p>
</div>
<div class="paragraph">
<p>Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>Stock</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueSetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the item variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AveragePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average purchase price. For further information, refer to the <a href="/en/stock-management/new-incoming-items#2b">Incoming items</a> page of the manual.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IsBundle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock item is an item bundle.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN code for an item</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemInactive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inactive item. The setting is found under <strong>Item » Edit item » Open item » Open variation » Tab: Settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the value from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag 1 of the item</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and the value from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag 2 of the item</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and the value from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item model name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item number; letters and numbers are possible</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s manufacturer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s manufacturer ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location ID<br>
If no storage location ID is set, then the standard storage location (ID = 0) will be used instead.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unique price ID; numerical value<br>
If no price ID is set, then the ID of the first price set will be used instead.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceUnit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s standard unit. For further information, refer to <a href="/en/basics/data-exchange/export-import/data-formats/item">Data format Item</a> page of the manual.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reordered</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of reordered items</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReservedStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">An item’s reserved stock</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">An item’s (physical) stock<br>
If no warehouse is selected as a filter for the export, then the warehouse with the first warehouse ID will be used instead.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationEAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN of the item variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the item variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationString</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">System name hash of the attributes and values. Example: "Colour:Blue;Size:XXL".</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the warehouse from the drop-down list.<br>
If no warehouse is selected, then the warehouse with the lowest ID will be selected by default.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: data fields of the data format <strong>Stock</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields_for_individual_items">2. Overview of the mandatory fields for individual items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>Stock</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p>one <strong>Item</strong> format</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The mandatory fields must be set to <strong>Import</strong>. If no warehouse is selected, then the warehouse with the lowest ID will be selected by default.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields_for_item_variations">3. Overview of the mandatory fields for item variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>Stock</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p><strong>AttributeValueSetID</strong></p>
</li>
<li>
<p>one <strong>Item</strong> format</p>
</li>
<li>
<p>one <strong>Price</strong> format</p>
</li>
<li>
<p>one <strong>Variation</strong> format</p>
</li>
<li>
<p><strong>PriceID</strong> is a mandatory field for items that contain multiple price sets</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The mandatory fields must be set to <strong>Import</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_export_options">4. Export options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can limit the data export to a specific type of stock. To do so, go to <strong>Data » Dynamic export</strong> and click on the <strong>Fields</strong> tab. Use the drop-down lists on the right and select options for <strong>Stock</strong>, <strong>Item bundle</strong> and <strong>Supplier</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Use the <strong>Item bundle</strong> option to select whether item bundles should be exported.</p>
</li>
<li>
<p>Use the <strong>Supplier</strong> option to specify whether stock should be exported for all suppliers or only for a specific supplier.</p>
</li>
<li>
<p>Use the <strong>Stock</strong> option to determine which stock should be exported. Table 2 explains the possible settings for the <strong>Stock</strong> option.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All of the stock will be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Below reorder level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock data will only be exported for items that are below the reorder level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reorder level reached/below</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock data will only be exported for items that have reached or are below the reorder level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Negative net stock or net stock is 0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock data will only be exported for items with a net stock that is less than or equal to 0.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Negative net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock data will only be exported for items with negative net stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Negative physical stock or physical stock is 0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock data will only be exported for items with a physical stock that is less than or equal to 0.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Negative physical stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock data will only be exported for items with negative physical stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Positive net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock data will only be exported for items with positive net stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Positive physical stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock data will only be exported for items with positive physical stock.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: export options for the data format <strong>Stock</strong></em></p>
</div>
</div>
</div>
</main>