<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>VariationWarehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>VariationWarehouse</strong> is used to export, edit and import your warehouse configuration. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>VariationWarehouse</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields of the data format <strong>VariationWarehouse</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and the flag from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and the flag from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MaximumStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum stock</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the manufacturer from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReorderLevel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reorder level</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StockBuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock buffer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StockTurnoverInDays</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock turnover in days</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StorageLocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location ID for the suggested storage location<br>
<strong>-1</strong> = Unassign the standard storage location</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StorageLocationType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location type</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the warehouse from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseZone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zone in the warehouse</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode_xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode<br>
<strong><em>Note</em></strong>: The number of the barcode data fields that are displayed here depends on the barcode type that you selected in the <strong>System » Item » Barcode</strong> menu. Available barcode types: <strong>EAN 8</strong>, <strong>EAN 13</strong>, <strong>EAN 14</strong>, <strong>EAN 128</strong>, <strong>ISBN</strong>, <strong>QR</strong>, <strong>CODE 128</strong> and <strong>UPC</strong>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export for customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Note</em></strong>: filter setting only</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the customer class. In order to export data for all customer classes, do not activate the filter. Go to <a href="/en/ccrm/managing-contacts#15">System » CRM » Classes</a> to set up customer classes.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>VariationWarehouse</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p><strong>VariationID</strong></p>
</li>
<li>
<p><strong>VariationCustomNumber</strong>, if needed</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/basics/data-exchange/export-import/importing-data#25">data synchronisation</a>. For mandatory synchronisation fields, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>. Mandatory synchronisation fields are marked with an <strong>M</strong>. Optional fields are marked with an <strong>O</strong>. The mandatory synchronisation field <strong>WarehouseID</strong> must be combined with at least one of the optional fields.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Synchronisation fields</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">O</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">O</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>