<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_synchronisation_fields"><span>1.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>VariationBarcode</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>VariationBarcode</strong> is used to export, edit and import barcodes. Barcodes are created in the <strong>System » Item » Barcode</strong> menu. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>VariationBarcode</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields of the data format <strong>VariationBarcode</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BarcodeID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of barcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the value from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BarcodeName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BarcodeType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the value from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(previously VariationCustomNumber) Variation number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">1. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/basics/data-exchange/export-import/importing-data#25">data synchronisation</a>. These data fields are mandatory synchronisation fields. For mandatory synchronisation fields, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>. At least one of the data fields from the following table must be selected for synchronisation.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>