<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Introduction to the Amazon module</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn which steps are necessary to become an Amazon seller with your plentymarkets system. This video serves as an introduction to the topics dealt with in the Amazon module. Have fun!</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/317423424" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Amazon! Behold your new sales platform, your golden goose …​ your new travel destination!</p>
</div>
<div class="paragraph">
<p>With its integrated interface, your plentymarkets system will help you make the most of Amazon.</p>
</div>
<div class="paragraph">
<p>Plus, our handy tutorial module is a great travel guide that includes all of the important steps for a successful adventure.</p>
</div>
<div class="paragraph">
<p>Both the tutorials and our manual take you through the Amazon jungle one step at a time until you reach your goal safely.</p>
</div>
<div class="paragraph">
<p>So what do you need to prep for your trip? Well you’re off to a good start with an Amazon Seller Central account and your personal account information …​</p>
</div>
<div class="paragraph">
<p>And if you’ve already saved items in your system, then you’re ready to hit the road.</p>
</div>
<div class="paragraph">
<p>Your travel route then leads your through setting up your interface, managing items and stock …​ and the search engine optimisation of your products.</p>
</div>
<div class="paragraph">
<p>When we stop to talk about flat files - or inventory file templates -, you’ll learn how to find the category-specific product information Amazon requires and how to use flat files as a reference for troubleshooting.</p>
</div>
<div class="paragraph">
<p>If you’ve already begun selling your items on Amazon before you joined the plentymarkets community, flat files are a big help when importing your items into your system for the first time.</p>
</div>
<div class="paragraph">
<p>At the peak of your journey, plentymarkets will knock your socks off by fulfilling your orders automatically.</p>
</div>
<div class="paragraph">
<p>Whether you like package holidays or the freedom of backpacking, so whether you want FBA or MFN, all you need are a few clicks to set up your system accordingly. And yes! …​ plentymarkets also makes Prime shipping a piece of cake!</p>
</div>
<div class="paragraph">
<p>The tutorials are divided into easy-to-navigate categories so you don’t get lost along the way. Plus these handy minute maps not only provide you with a little table of contents, but also get you to the where you need to be with a quick click of the mouse</p>
</div>
<div class="paragraph">
<p>The tutorials also include links that lead to relevant topics or specific pages in our manual that provide you with more in-depth information.</p>
</div>
<div class="paragraph">
<p>So what to do now? Just lean back, relax and enjoy your flight …​ And peruse your handy travel guide through Amazon.</p>
</div>
</div>
</div>
</main>