<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up fulfilment</h1><p>Welcome to the topic Setting up fulfilment. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/markets/amazon/amazon-fulfilment/fulfilment">FBA vs. MFS</a></li><li><a href="/en/markets/amazon/amazon-fba">Using the FBA service by Amazon</a></li><li><a href="/en/markets/amazon/amazon-prime">Amazon Prime with MFN</a></li></ul>
</main>