<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#3300"><span>1.</span><span> Setting up the FBA service by Amazon</span></a>
<ul class="sectlevel2">
<li><a href="#3400"><span>1.1.</span><span> Creating a warehouse for Amazon FBA</span></a></li>
<li><a href="#3500"><span>1.2.</span><span> FBA order import</span></a></li>
<li><a href="#3600"><span>1.3.</span><span> Automatically importing FBA returns</span></a></li>
<li><a href="#3650"><span>1.4.</span><span> Automatically importing FBA credit notes</span></a></li>
</ul>
</li>
<li><a href="#3700"><span>2.</span><span> Setting up Amazon Multi-Channel</span></a>
<ul class="sectlevel2">
<li><a href="#3800"><span>2.1.</span><span> Creating a warehouse for Amazon Multi-Channel</span></a></li>
<li><a href="#3900"><span>2.2.</span><span> Activating the variation availability for Amazon Multi-Channel</span></a></li>
<li><a href="#4000"><span>2.3.</span><span> Carrying out settings for Amazon Multi-Channel</span></a></li>
<li><a href="#4100"><span>2.4.</span><span> Automatically transferring the shipping permission to FBA</span></a></li>
<li><a href="#2400"><span>2.5.</span><span> Synchronising stock for Amazon Multi-Channel</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Using the FBA service by Amazon</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The abbreviation FBA stands for Fulfilment by Amazon. Instead of dealing with the orders yourself, packaging the items and sending them, you let Amazon take care of this task for you with the FBA programme. Of course, you then have to store at least some of your items with Amazon.<br></p>
</div>
<div class="paragraph">
<p>For further information about setting up Amazon FBA in plentymarkets, watch this video tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Amazon FBA</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/314713940" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3300">1. Setting up the FBA service by Amazon</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="3400">1.1. Creating a warehouse for Amazon FBA</h3>
<div class="paragraph">
<p>Go to <strong>Setup » Markets » Amazon » Settings » Tab: Order settings</strong> and use the <strong>Warehouse</strong> option to select which warehouse you would like to use for Amazon fulfilment orders. This way, you can be sure that the complete range of stock management functions remain intact with the FBA programme and that you can keep track of the stock at Amazon in your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Creating a warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>New warehouse</strong>.</p>
</li>
<li>
<p>Enter a name for the warehouse.</p>
</li>
<li>
<p>Select a <strong>Warehouse type</strong>.<br>
→ <strong>Note:</strong> If you only want to use this warehouse for FBA stock, i.e. if you only want to offer the stock of this warehouse for Amazon FBA and not in your online store or on other markets, then select the warehouse type <strong>Repair</strong>.</p>
</li>
<li>
<p>Select <strong>Amazon</strong> as <strong>Logistics type</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to create the warehouse.<br>
→ The warehouse is listed in the overview in alphabetical order and opened.</p>
</li>
<li>
<p>Carry out further settings according to the explanations on the <a href="/en/stock-management/setting-up-a-warehouse">Setting up a warehouse</a> page of the manual.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Only you can decide whether the advantages tied to the FBA service outweigh the disadvantages for your personal situation as an online seller. Here we would only like to make reference to a few important points:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Amazon processes orders quickly and reliably. Peak times before Christmas run just as smoothly for store owners as the summer slump while most people are away on vacation.</p>
</li>
<li>
<p>Your listing on the market improves noticeably. You can expect higher sales figures.</p>
</li>
<li>
<p>The FBA service is subject to costs. Naturally, your gross margin will decrease. When doing a comprehensive comparison of the costs, keep in mind that the FBA service includes the expenses tied to storage, handling orders, customer service etc. and as such, relieves you from these expenditures.</p>
</li>
<li>
<p>Generally, items that are stored with Amazon can only be offered there as well. You need to have separate stock for other markets. Amazon’s Multi-Channel fulfilment service, however, is a variation that provides you with additional possibilities in this matter.</p>
</li>
<li>
<p>You have much less stress with deliveries that cannot be sent or that are delayed. Packages with the Amazon logo are generally given priority.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="3500">1.2. FBA order import</h3>
<div class="paragraph">
<p>Proceed as follows to define that your FBA orders are automatically imported in your plentymarkets system once a day.</p>
</div>
<div class="paragraph instruction">
<p>Automatically importing FBA orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Select the account.</p>
</li>
<li>
<p>Click on the <strong>Order settings</strong> tab.</p>
</li>
<li>
<p>In the <strong>Amazon FBA</strong> area, activate the setting <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Order processing has the following steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The customer makes a purchase on Amazon.</p>
</li>
<li>
<p>Amazon sends the items.</p>
</li>
<li>
<p>The plentymarkets system requests a report.</p>
</li>
<li>
<p>Amazon creates the report.</p>
</li>
<li>
<p>The next day, plentymarkets automatically checks whether any Amazon reports exist. If yes, then these reports are imported.</p>
</li>
<li>
<p>Orders are generated in plentymarkets from the information contained in these reports.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note regarding the order import</div>
<div class="paragraph">
<p>Amazon only generates the list of orders once per day. Since it can take up to 2 days before an item is ready for shipping, FBA orders are available in your system with a time delay. Generally, the order confirmation that was generated by Amazon is available in your system two days after the item was shipped or a total of up to 4 days after it was ordered. The punctuality of the deliveries, however, is not affected. They will be carried out with the quickness that is customary for Amazon.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Amazon FBA orders are imported with the parameters <strong>Status</strong> and <strong>Referrer</strong>. Select the <strong>Status</strong> that is most appropriate for your process. For example, this could be status <strong>[7] Outgoing items booked</strong>. The referrer is automatically set to Amazon FBA or an Amazon FBA sub-referrer, e.g. Amazon FBA USA. The date when items are shipped is saved directly in plentymarkets. Therefore, stock is not reserved for items that are included in the order.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Event procedures for fulfilment</div>
<div class="paragraph">
<p>Configure the event procedures that are necessary for the fulfilment process. Such event procedures are having invoices generated and sent to your customers with the help of automatic emails, and having the order then switch to another status.<br>
For further information, refer to the <a href="/en/automation/event-procedures">Event procedures</a> and <a href="/en/fulfilment">Fulfilment</a> pages of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h5 id="_fba_partial_deliveries" class="discrete">FBA partial deliveries</h5>
<div class="paragraph">
<p>Amazon will send FBA partial deliveries if the items ordered by the customer are stored in separate warehouses.
Hence, the customer receives multiple packages for one order.<br>
In plentymarkets, each FBA partial delivery is saved as a separate order, depending on the FBA warehouse which sends the item. You can import one tracking number from Amazon for each partial delivery and then assign it to the according partial delivery. You can generate a separate invoice for each partial delivery. This is necessary if the Amazon warehouses are located in different countries due to differing taxes.</p>
</div>
<h5 id="_european_fulfilment_network_efn" class="discrete">European Fulfilment Network (EFN)</h5>
<div class="paragraph">
<p>Amazon is continuously expanding its European Fulfilment Network for sellers who use shipment by Amazon. In order to use this network, it is required that you are fiscally registered in all countries in which you use FBA logistics centres. In order for your invoices to be generated correctly for these new logistics centres from the fiscal point of view, you can - in addition to your company location - select the warehouse location as basis for the default VAT rate. You can carry out these settings for each client (store) in the <strong>Setup » Client » Select client » Locations » Select location » Accounting</strong> menu. In the <strong>VAT rates</strong> tab, you save the necessary tax rates for the countries.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: Logistics centre is located in Poland and items are shipped to Germany</div>
<div class="paragraph">
<p>To avoid that the Polish tax rate is used for orders that are shipped to Germany from a logistics centre in Poland, you also have to enter the country Germany with the German tax rate for the location Poland. To do so, go to <strong>Setup » Client » Select client » Locations » Poland » Accounting » Tab: VAT rates</strong>, select the country <strong>Germany</strong> and enter the German tax rate as well as the valid VAT number.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="3600">1.3. Automatically importing FBA returns</h3>
<div class="paragraph">
<p>In case of a return, the purchaser sends the items back to Amazon. The return is imported into your plentymarkets system and listed in the order menu. It is given the return status that you selected in the <strong>Setup » Orders » Settings</strong> menu.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not change the order</div>
<div class="paragraph">
<p>Returns will only be imported if the order exists in plentymarkets and its external order number was not changed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Activate the import function as described below in order to automatically import FBA returns in your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Activating the import function for FBA returns:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Select the Amazon account.</p>
</li>
<li>
<p>Click on the <strong>Order settings</strong> tab.</p>
</li>
<li>
<p>Select the setting <strong>Daily</strong> from the <strong>Returns import</strong> drop-down list in the <strong>Shipment by Amazon (FBA)</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="3650">1.4. Automatically importing FBA credit notes</h3>
<div class="paragraph">
<p>Use the credit note import in order to automatically import FBA credit notes into your plentymarkets system. The credit notes are imported with the status which you have selected for the <strong>Standard status for credit note</strong> setting in the <strong>Setup » Orders » Settings</strong> menu. If you activate the credit note import, then FBA credit notes are imported into your plentymarkets system every 4 hours.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not import FBA returns as credit notes via an event procedure</div>
<div class="paragraph">
<p>If you activate the credit note import, FBA credit notes are automatically imported into your plentymarkets system every 4 hours. Therefore, in this case do not use an event procedure to create credit notes from FBA returns.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the automatic credit note import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Select the Amazon account.</p>
</li>
<li>
<p>Click on the <strong>Order settings</strong> tab.</p>
</li>
<li>
<p>Select <strong>Yes</strong> for the <strong>Credit note import</strong> option.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3700">2. Setting up Amazon Multi-Channel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon Multi-Channel Fulfilment is Amazon’s service that enables you to fulfil orders from sales channels other than Amazon.co.uk using the inventory that you have stored in the Amazon fulfilment centre. (source: Amazon)</p>
</div>
<div class="paragraph">
<p>In other words, the Multi-Channel function allows you to store your items with Amazon and have Amazon ship your items even though you sell these items on external markets. This chapter describes which settings you have to carry out in your plentymarkets system so that these orders can be processed by Amazon.</p>
</div>
<div class="paragraph">
<p>The following steps are necessary to configure your stock and item data for Amazon Multi-Channel.</p>
</div>
<div class="paragraph">
<p>Watch this video tutorial for more information about Amazon Multi-Channel and setting up the service in your plentymarkets system:</p>
</div>
<div class="videoblock">
<div class="title">Amazon FBA</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/314727596" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="3800">2.1. Creating a warehouse for Amazon Multi-Channel</h3>
<div class="paragraph">
<p>Create a warehouse, if you have not yet created one as described in the <a href="#Using the FBA service by Amazon">Using the FBA service by Amazon</a> chapter. When using Multi-Channel fulfilment, it is important to set up a warehouse for each country-specific Amazon marketplace with the logistics type <strong>Amazon</strong> and the country as its location.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Example of matching Amazon platform and warehouse location</div>
<div class="paragraph">
<p>Multi-Channel fulfilment takes place via amazon.co.uk. Create a new warehouse Amazon UK with the logistics type <strong>Amazon</strong> and the location Great Britain. The items must actually be stored with Amazon in that country e.g. in Great Britain. Otherwise they cannot be handled and shipped by amazon.co.uk.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="3900">2.2. Activating the variation availability for Amazon Multi-Channel</h3>
<div class="paragraph">
<p>Carry out the following settings for the items that you want to make available for Amazon Multi-Channel.</p>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for Amazon Multi-Channel:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Amazon</strong> area. Pay attention to the explanations given in <a href="#item-availability-amazon">[item-availability-amazon]</a> in the <a href="#700">Setting the variation availability</a> chapter.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="4000">2.3. Carrying out settings for Amazon Multi-Channel</h3>
<div class="paragraph">
<p>Carry out the settings in the Amazon menu as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Amazon Multi-Channel:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Order settings</strong> tab.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Shipment by Amazon (FBA)</strong> area. Pay attention to the explanations given in <a href="#amazon-multi-channel">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="amazon-multi-channel" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting up Amazon Multi-Channel</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place a check mark to activate the daily order import.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Only use for Amazon orders</strong> = Only process Amazon orders with FBA.<br>
<strong>Can be used for all orders</strong> = Process all orders with FBA.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <a href="/en/orders/managing-orders#1200">order status</a> for orders that were imported from Amazon.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which <a href="#3400">warehouse</a> should be used for Amazon shipments.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether outgoing items should be marked as booked or not. The option <strong>Mark as booked</strong> does not trigger an item movement. In order to trigger an item movement, select the option <strong>Do not mark as booked</strong> and set up an event procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Returns import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether returns should be imported <strong>daily</strong> or <strong>never</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Include coupons to returns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether coupons can be used for FBA returns or not. If the FBA order was paid fully or partly with a coupon, the coupon is added to the return. A minimum order quantity for the coupon is not taken into consideration.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option <strong>Hourly</strong> to import stock on an hourly basis.<br>
Only changes in the stock data are taken into consideration. For further information about stock import options, refer to the <a href="#Synchronising stock">Synchronising stock</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status for transmitted orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determines which order status should be used for multi-channel FBA orders that were transferred to FBA.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item bundles Multichannel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which positions should be transferred to Amazon.<br>
<strong>Transmit all order positions</strong> = Transmit all positions included in the order to Amazon. If you select this option, then both the package position and the contents of the package are transmitted to Amazon.<br>
<strong>Transmit package position only</strong> = Only the package position is transferred to Amazon.<br>
<strong>Transmit without package position</strong> = Only the contents of the package are transferred to Amazon.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping category.<br>
<strong>Standard</strong> = Normal shipping<br>
<strong>Expedited</strong> = Express shipping<br>
<strong>Priority</strong> = Fastest shipping service</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="4100">2.4. Automatically transferring the shipping permission to FBA</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform Amazon about the order. After Amazon has received this information, the order is processed and the item(s) are made ready for shipping.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-fba-shipping-clearance">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-fba-shipping-clearance">Table 2</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-fba-shipping-clearance" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Event procedure for automatically transferring the shipping permission to FBA</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change &gt; [5] Cleared for shipping</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Multi-Channel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Shipping by FBA only</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Important:</strong> Do not select an Amazon referrer. Otherwise, it may result in duplicate FBA orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Transfer shipping permission to FBA</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>When switching to status 5, Amazon is informed that the items are cleared for shipping. Amazon ships the items and your plentymarkets system receives a confirmation from Amazon. The order switches to status 5.1, as determined in the <a href="#Carrying out order settings">order settings</a>. The package number is imported into your plentymarkets system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Import of package numbers</div>
<div class="paragraph">
<p>Package numbers are imported once per day.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="2400">2.5. Synchronising stock for Amazon Multi-Channel</h3>
<div class="paragraph">
<p>Stock is synchronised with Amazon in the <strong>Setup » Markets » Amazon » Data exchange » FBA stock</strong> menu. There are a few different ways to do this. You can use the hourly automatic stock synchronisation, an automatic procedure or a CSV file.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only for Amazon Multi-Channel</div>
<div class="paragraph">
<p>This feature is intended for <a href="#3700">Amazon Multi-Channel</a> only.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In plentymarkets, a distinction is made between automatic stock synchronisation and manual stock synchronisation. Both procedures are described below.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="automatically-synchronising-stock-tab" data-toggle="tab" href="#automatically-synchronising-stock" role="tab" aria-controls="automatically-synchronising-stock" aria-selected="true">Automatically synchronising stock</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="manually-synchronising-stock-tab" data-toggle="tab" href="#manually-synchronising-stock" role="tab" aria-controls="manually-synchronising-stock" aria-selected="false">Manually synchronising stock</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="automatically-synchronising-stock" role="tabpanel" aria-labelledby="automatically-synchronising-stock-tab">
<div class="paragraph">
<p>Proceed as follows to automatically synchronise stock.</p>
</div>
<div class="paragraph instruction">
<p>Automatically synchronising stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Data exchange » FBA stock</strong>.</p>
</li>
<li>
<p>Select the Amazon account in the <strong>Automatically</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Synchronise Amazon FBA stock</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>4 minutes are allotted for this process. If Amazon does not provide the data within this time frame, then stock is not synchronised. The next request will use the previous data that was not transferred. This can lead to errors. Therefore, we recommend that you manually synchronise data with a CSV file as described in the next chapter.</p>
</div>
<div class="paragraph">
<p>Stock information is only synchronised for those items that had their stock changed on Amazon in the last 30 days. We recommend that you use the manual synchronisation for the first import. The stock is synchronised according to the <a href="#Carrying out the initial settings">initial settings</a> in plentymarkets.</p>
</div>
</div><div class="tab-pane fade" id="manually-synchronising-stock" role="tabpanel" aria-labelledby="manually-synchronising-stock-tab">
<div class="paragraph">
<p>Stock is synchronised manually via CSV file.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Assigning SKU numbers</div>
<div class="paragraph">
<p>If you want to manually synchronise data, then you also have to specify how SKU numbers should be assigned to the stock. This is specified in the <a href="/en/markets/amazon/amazon-setup#400">initial settings</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Before you carry out this synchronisation, you have to request the corresponding report file from Amazon in Seller Central. Download this CSV file and save it on your computer.</p>
</div>
<div class="paragraph instruction">
<p>Manually synchronising stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Data exchange » FBA stock</strong>.</p>
</li>
<li>
<p>Click on the <strong>Manual</strong> tab.</p>
</li>
<li>
<p>Select the Amazon account.</p>
</li>
<li>
<p>Click on <strong>Select file</strong> to select the CSV file that you have just saved.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to carry out the synchronisation.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div>
</div>
</main>