<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <div class="sect1">
<h2 id="_using_the_amazon_gift_service">Using the Amazon gift service</h2>
<div class="sectionbody">
<div class="paragraph">
<p>:stem:latexmath
:keywords: Amazon gift service, gifts service, gift service, gift options, Amazon gift options
:description: Multi-Channel in plentymarkets: Activate the Amazon gift service.
:position: 11
:url: markets/amazon/amazon-gift-service
:id: 8BNFHBO
:author: team-multi-channel</p>
</div>
<div class="paragraph">
<p>By activating the Amazon gift service, your customers can choose to have their items gift wrapped and they can leave a gift message during the order process on Amazon. These options are transferred to plentymarkets when orders are automatically retrieved. No additional settings need to be carried out. Each order item containing gift options has an additional line of information with the ID <strong>-2</strong> added to it directly behind the actual ordered item. It includes the type of packaging as well as the greeting.</p>
</div>
<div class="paragraph">
<p>Activate the gift options in Amazon Seller Central in order to use the gift service.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Multiple types of packaging and surcharges</div>
<div class="paragraph">
<p>You can add various types of packaging and define surcharges.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><!-- AUTO GENERATED --><ul></ul>
</main>