<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> MWS registration</span></a></li>
<li><a href="#200"><span>2.</span><span> Auth token expired</span></a></li>
<li><a href="#300"><span>3.</span><span> Wrong access data</span></a></li>
<li><a href="#400"><span>4.</span><span> Scheduled reports</span></a></li>
<li><a href="#500"><span>5.</span><span> Further error messages</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best practice: MFN order import</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This best practice deals with MFN orders (MFN = Merchant Fulfillment Network, i.e. shipment by the seller) that are not imported. We assume that the order import is activated in the basic settings for Amazon.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. MWS registration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>MWS registration allows our developers to access your Amazon account. When the registration is finished, the access rights are displayed in your seller central within <strong>Settings » User permissions</strong> in the <strong>Amazon MWS Developer Permissions</strong> section. If we are not granted access rights, we can neither retrieve data from nor send data to Amazon (as requests are blocked by Amazon).</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Check whether developer permissions are set up. To do so, go to <strong>Settings » User permissions</strong> in the Amazon seller central.
Another indicator that there are no developer permissions is this error message: <em>Error:Access to Reports. (GetReportScheduleList) is denied</em>. You will receive this error message for almost all requests if you did not set up any developer permissions. If you set up <em>scheduled reports</em>, then error messages are displayed in the logs or within <strong>Setup » Markets » Amazon » Data exchange » Reports</strong>. How to set up scheduled reports is described below.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>How to carry out the MWS registration is described in our <a href="/en/markets/amazon/amazon-setup#100">manual</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Auth token expired</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Auth token is generated during the MWS registration. The token is used for the synchronisation between plentymarkets and Amazon and it is directly linked to the authorisation. The token has an expiry date. This is to ensure that deactivated interfaces no longer have access after the token is expired.
Vice versa, this means that the token must be updated from time to time. When the token has expired, developer permissions granted with the MWS registration are no longer valid and no synchronisation can be carried out.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Check whether the token has expired by viewing the developer permissions in your seller central. Another indicator that the token has expired is the error message <em>Access denied</em>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can update the Auth token via this <a href="https://sellercentral.amazon.de/apps/manage" target="_blank" rel="noopener">link</a>. (The expiry date is set in the future. This ensures that the permissions are valid again.)</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Wrong access data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to enable contact between our system and your Amazon account, the access data saved in the basic settings must be correct.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>If the seller token is not saved correctly within the basic settings, the error message <em>ERROR: AuthToken is not valid for SellerId and AWSAccountId</em> is issued.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The correct token and your seller ID (merchant ID) can be found via the <a href="/en/markets/amazon/amazon-setup#100">MWS registration</a> (at the end of the registration). As an alternative, you can enter the merchant ID into the field for the seller token.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>After you have changed the seller token in the basic settings for Amazon, click on <strong>refresh token</strong> under <strong>Setup » Markets » Amazon » Data exchange » Reports » Tab: Token Refresh</strong>. This way, the changes apply immediately.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Scheduled reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If all of the issues mentioned above are solved, you can start the synchronisation. In order to import orders, Amazon generates reports which contain the orders. We retrieve those reports.</p>
</div>
<div class="admonitionblock caution">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-caution" title="Caution"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The generation of the reports is not preset in the Amazon settings. You need to carry out the settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Go to <strong>Setup » Markets » Amazon » Data exchange » Reports » Tab: Scheduled reports</strong> to set up a continual automatic generation of scheduled reports. This function is called <strong>scheduled reports</strong>.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the <strong>Amazon account</strong>.</p>
</li>
<li>
<p>Select the interval under <strong>MFN Orders</strong>.</p>
</li>
<li>
<p>Click on the gear-wheel icon <strong>Schedule MFN order report</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>We recommend to use 15 minutes as interval, as reports from Amazon that are not marked as retrieved are retrieved every 15 minutes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Click on <strong>Import report list</strong> to check whether your settings were saved.</p>
</div>
<div id="scheduledreports" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-mfn-order-import-magnifier.png" alt="Viewing the scheduled reports">
</div>
<div class="title">Figure 1. Viewing the scheduled reports</div>
</div>
<div class="paragraph">
<p>As a result, the schedulers that you activated for your Amazon account are displayed. The report type <strong>Get Orders Data</strong> is required for the MFN order import. It should be set to 15 minutes. This setting may cause orders to be imported late (for example if the interval is set to <strong>weekly</strong>).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Further error messages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you receive the error message <em>The seller does not have an eligible Amazon account to call Amazon MWS.</em>, it may be that our system is not authorised to access Amazon. Check the developer permissions as described above. If they are not available, add the permissions via the MWS registration.
If this does not help, contact Amazon. (Either your seller account is no power seller account and therefore the Amazon MWS API cannot be used, or your account is not properly activated).</p>
</div>
</div>
</div>
</main>