<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> What does the error message “Request is throttled” mean?</span></a></li>
<li><a href="#200"><span>2.</span><span> Major cause of the error</span></a></li>
<li><a href="#300"><span>3.</span><span> How to solve the error:</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best practice: Error Request is throttled</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This best practice deals with the error “Request is throttled” and how to solve it.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. What does the error message “Request is throttled” mean?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The number of requests for each process, such as order import, stock synchronisation, shipping confirmations etc., is limited by Amazon (Maximum Request Quota). If the maximum number of requests is exceeded, the process is blocked and further requests are rejected by Amazon. After a while, new capacities are unlocked a bit at a time (The Leaky Bucket Algorithm), and data transfer is enabled once again.</p>
</div>
<div class="paragraph">
<p>For more information, refer to <a href="http://docs.developer.amazonservices.com/en_DE/dev_guide/DG_Throttling.html" target="_blank" rel="noopener">Throttling: Limits to how often you can submit requests</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Major cause of the error</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you use a European marketplace account at Amazon, this error often occurs because a configuration in plentymarkets results in too many requests being sent to this Amazon account at once.</p>
</div>
<div class="paragraph">
<p><strong>Background</strong>: In the <strong>System » System settings » Markets » Amazon » Settings</strong> menu, several Amazon accounts were linked to different platforms. However, those platforms all "access" the same European marketplace account. The accounts always have the same merchant ID. Various processes were activated in one/some of these accounts.</p>
</div>
<div class="paragraph">
<p>Amazon platforms which are mostly summarised in one European marketplace account (as of 15 May 2017):</p>
</div>
<div class="paragraph">
<p>Amazon.de, Amazon.fr, Amazon.it, Amazon.es, Amazon.co.uk</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>This error can also occur if you use further external programs which access your Amazon account and “overflow” it in combination with plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. How to solve the error:</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you use a European Amazon marketplace account, it is useful to activate the processes only for one marketplace account in the <strong>System » System settings » Markets » Amazon » Settings</strong> menu. Otherwise, the data traffic of those processes will be transferred for every single Amazon account with the same merchant ID.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Processes which often cause this error and which should therefore not be activated twice:</div>
<div class="ulist">
<ul>
<li>
<p>Order import</p>
</li>
<li>
<p>Stock synchronisation</p>
</li>
<li>
<p>Stock changes</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>P.S.:</strong> An Amazon.com account does not belong to a European marketplace account.</p>
</div>
</div>
</div>
</main>