<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#700"><span>1.</span><span> Setting the variation availability</span></a></li>
<li><a href="#750"><span>2.</span><span> Defining SKU manually</span></a></li>
<li><a href="#760"><span>3.</span><span> Defining additional SKUs manually</span></a></li>
<li><a href="#770"><span>4.</span><span> Linking ASIN with variations</span></a>
<ul class="sectlevel2">
<li><a href="#773"><span>4.1.</span><span> Linking ASINs with variations</span></a></li>
<li><a href="#775"><span>4.2.</span><span> Linking ASINs with the group function</span></a></li>
</ul>
</li>
<li><a href="#780"><span>5.</span><span> Defining prices</span></a>
<ul class="sectlevel2">
<li><a href="#800"><span>5.1.</span><span> Defining a sales price</span></a></li>
<li><a href="#820"><span>5.2.</span><span> Defining an RRP</span></a></li>
<li><a href="#850"><span>5.3.</span><span> Defining special offers</span></a></li>
<li><a href="#860"><span>5.4.</span><span> Preparing the export of unit price information</span></a>
<ul class="sectlevel3">
<li><a href="#bp-100"><span>5.4.1.</span><span> Creating properties for unit price information</span></a></li>
<li><a href="#bp-200"><span>5.4.2.</span><span> Saving unit price information for a variation</span></a></li>
<li><a href="#bp-300"><span>5.4.3.</span><span> Examples for unit price information</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#900"><span>6.</span><span> Setting up freely definable fields in the Amazon export (Seller Central)</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>6.1.</span><span> Creating free text fields</span></a></li>
<li><a href="#1100"><span>6.2.</span><span> Linking free text fields</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>7.</span><span> Setting up freely definable fields in the Amazon export (Marketplace)</span></a></li>
<li><a href="#1300"><span>8.</span><span> Linking categories</span></a></li>
<li><a href="#1350"><span>9.</span><span> Linking attributes and attribute values</span></a></li>
<li><a href="#1390"><span>10.</span><span> Linking properties with Amazon</span></a>
<ul class="sectlevel2">
<li><a href="#1395"><span>10.1.</span><span> Linking properties with Amazon via import</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>11.</span><span> Linking characteristics with Amazon</span></a></li>
<li><a href="#6700"><span>12.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#_price_and_stock_synchronisation"><span>12.1.</span><span> Price and stock synchronisation</span></a></li>
</ul>
</li>
<li><a href="#_next_steps"><span>13.</span><span> Next steps</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Preparing variations</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/amazon/amazon-setup"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Setting up Amazon in plentymarkets</a>
<a href="/en/markets/amazon/variation-data-export">Setting up catalogues for variation export to Amazon <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<div class="paragraph text-right">
<p><em>or</em></p>
</div>
<div class="paragraph next-navigation">
<p><a href="/en/markets/amazon/variation-export-old">Setting up variation export with old technology <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>You have <a href="/en/markets/amazon/amazon-setup">set up</a> the interface to Amazon? Great. Then get started on preparing your variations for exporting them to Amazon.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">1. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Amazon country platforms. This is done in the <strong>Availability</strong> tab of an item within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use group function or batch processing</div>
<div class="paragraph">
<p>You can edit the availability of several variations at once by using either the <a href="/en/item/managing-items#330">variation group function</a> or <a href="/en/item/managing-items#330">batch processing</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for an Amazon country platform:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Amazon country platforms.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on the Amazon platform, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Select the Amazon country platform(s) for which the variation should be available.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Click on the <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Amazon</strong> area. Pay attention to the explanations given in <a href="#item-availability-amazon">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="item-availability-amazon" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Activating the variation availability for Amazon</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the <a href="/en/data/export-import/data-formats/item#50">Amazon product type</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FBA Fulfillment</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the Amazon marketplaces <strong>AMAZON_EU</strong> (Europe), <strong>AMAZON_FE</strong> (Far East), <strong>AMAZON_NA</strong> (North America).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon FBA</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate if the FBA function should be used and FBA stock and Multi-Channel stock should be imported.<br>
If you activate the <strong>Amazon FBA</strong> option, then the FBA stock of this item can be imported into plentymarkets and Amazon Multi-Channel orders that are shipped with FBA can be booked.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Variation availability for MFN and FBA</div>
<div class="paragraph">
<p>In order to set up variations for MFN as well as FBA, select the Amazon country platform <strong>Amazon country</strong> and the platform <strong>Amazon country FBA</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="750">2. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Availability</strong> menu if needed. If you have already started selling your items on Amazon and now you want to start selling them with plentymarkets, you have to assign already existing SKUs in this menu.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Amazon</strong> to add the SKU.</p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Enter the parent SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>SKUs can still be changed afterwards. However, note that Amazon might be unable to assign the items if you make changes to SKUs.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Parent SKU</div>
<div class="paragraph">
<p>Parent SKUs can be saved for both items and variations. The manual maintenance of SKUs enables you to assign the Parent SKU of entirely different item variations to variations of an item. For example, you can assign the Parent SKU of a variation which belongs to an entirely different item 5 times to an item with 5 variations. These variations are listed on Amazon as variations of the item with the Parent SKU they are assigned to.<br>
If one variation has a different Parent SKU than the remaining variations of an item, then two different items are listed on Amazon, but you only have to maintain one item in your plentymarkets system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="760">3. Defining additional SKUs manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Amazon</strong> to add the SKU.</p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.<br>
<strong><em>Tip:</em></strong> SKUs can still be changed afterwards.</p>
</li>
</ol>
</div>
<h5 id="_activating_the_stock_update_and_price_update_for_additional_skus" class="discrete">Activating the stock update and price update for additional SKUs</h5>
<div class="paragraph">
<p>Additional SKUs are automatically included in the Amazon order import. Activate the stock update and price update for additional SKUs manually in the <strong>Setup » Markets » Amazon » Settings » Tab: Item settings</strong> menu.<br></p>
</div>
<div class="paragraph">
<p>The stock update and price update for additional SKUs is carried out along with the normal stock update and price update at the interval that you have selected within <strong>Setup » Markets » Amazon » Settings » Tab: Item settings</strong> for the options <strong>Price changes</strong> and <strong>Stock synchronisation</strong> in the <strong>Automatic processes</strong> area.<br></p>
</div>
<div class="paragraph">
<p>During the stock update for additional SKUs, FBA stock is also updated.</p>
</div>
<div class="paragraph instruction">
<p>Activating the stock and price update:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings » Tab: Item settings</strong>.</p>
</li>
<li>
<p>In the <strong>Export settings</strong> area, activate <strong>Stock update</strong> and <strong>Price update</strong> for the <strong>Additional SKU</strong> option, depending on which options you want to activate. <strong>ALL</strong> activates both the stock update and the price update.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="770">4. Linking ASIN with variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An ASIN (= Amazon Standard Identification Number) is a unique product identification number on Amazon which simplifies selling items on Amazon. In order to quickly and comfortably sell items that have already been listed on Amazon, an ASIN should be saved for every variation.<br></p>
</div>
<div class="paragraph">
<p>If an ASIN is saved for a variation, then only price, stock, and GTIN need to be saved for the variation to sell the item on Amazon.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Save a GTIN for your variations</div>
<div class="paragraph">
<p>The barcode GTIN13 is required to search for ASINs on Amazon and to import them into plentymarkets. Therefore, make sure that a barcode (GTIN13) is saved for your variations. Otherwise, ASINs cannot be found.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Go through the Amazon ASIN import assistant</div>
<div class="paragraph">
<p>First, go through the <strong>Amazon ASIN import</strong> assistant in order to import matching ASINs for your variations into your plentymarkets system. This is done in the <strong>Setup » Assistants » Omni-Channel</strong> menu. Also use the assistant to define if and how ASINs should be linked to variations.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The <strong>Setup » Markets » Amazon » ASIN matching</strong> menu contains an overview of imported ASINs. All imported ASINs are displayed here, including ASINs which are linked with a variation and ASINs which have not yet been linked. You can also link ASINs individually or with the group function in this menu.</p>
</div>
<div class="paragraph">
<p>ASINs are imported into your plentymarkets system stepwise. Therefore, not all variations that can be linked with variations are displayed immediately.</p>
</div>
<table id="asin-link-overview" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Overview of imported ASINs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The GTIN saved for the variation.<br>
Click on the GTIN to open the item.<br>
If this GTIN is saved for more than one variation, then the item of the first variation that was found opens.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The item name of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The attributes saved for the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platform</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The Amazon platform on which the variation is listed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ASINs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ASINs that were found for the variation. There can be more than one matching ASINs for a variation.<br>
You can link ASINs with variations here. To link an ASIN with a variation, activate the ASIN that should be linked and click on <strong>Save</strong>.<br>
If more than one matching ASIN was found for this variation and this Amazon platform, then the ASINs that were found are displayed in a drop-down list. You can link one, several, or all ASINs to the variation. To activate one or more ASINs, activate the ASINs and click on <strong>Save</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Opens a preview of the Amazon product page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Errors which might occur during the ASIN import are displayed here. The following errors can occur:<br>
Request to Amazon failed. = The request for searching ASINs could not be processed by Amazon.<br>
No matching ASIN found for this GTIN. = No matching ASINs could be found for this GTIN on Amazon.<br>
ASIN could not be retrieved. = The ASIN could not be imported.<br>
No entry for the database created. = The ASIN was not saved in the database.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Displays whether the ASIN is linked to a variation (check mark) or not (X).</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="773">4.1. Linking ASINs with variations</h3>
<div class="paragraph">
<p>To manually link ASINs with variations, open the <strong>Setup » Markets » Amazon » ASIN matching</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Linking an ASIN with a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » ASIN matching</strong>.</p>
</li>
<li>
<p>In the row of the variation in the <strong>ASIN</strong> field, activate one or several ASINs that should be linked with the variation.<br>
→ If more than one matching ASINs were found for the variation, then the ASINs are displayed in a drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="775">4.2. Linking ASINs with the group function</h3>
<div class="paragraph">
<p>Use the group function in the <strong>Setup » Markets » Amazon » ASIN matching</strong> menu in order to manually link multiple ASINs with variations at once.</p>
</div>
<div class="paragraph instruction">
<p>Using the group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » ASIN matching</strong>.</p>
</li>
<li>
<p>Click on <strong>Group function</strong>.<br>
→ An area with the actions for the group function is expanded.</p>
</li>
<li>
<p>In the <strong>Group function</strong> area, select the action that should be carried out. Pay attention to the explanations given in <a href="#group-function-gtin-asin">Table 3</a>.</p>
</li>
<li>
<p>Activate the variations that should be edited with the group function.</p>
</li>
<li>
<p>Click on <strong>Carry out group function</strong>.</p>
</li>
</ol>
</div>
<table id="group-function-gtin-asin" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Procedures for the group function</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically link the first ASIN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If more than one matching ASINs were found for the variation, then the first ASIN that was found is linked.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link all ASINs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If more than one matching ASINs were found for the variation, then all ASINs that were found are linked with the variation.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="780">5. Defining prices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, you will learn how to define sales prices, RRPs, and special offers for Amazon. In addition, find out how to export the information that Amazon needs to calculate unit prices.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Define a sales price without price type</div>
<div class="paragraph">
<p>Define a sales price with no price type (RRP, special offer, set price). Otherwise, your items will not be exported to Amazon.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="800">5.1. Defining a sales price</h3>
<div class="paragraph">
<p>Proceed as described below to define a sales price for Amazon country platforms. This price is displayed on the country platforms.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
If you already use the new catalogues for the export, you can skip the step <strong>Defining the sales price for country platforms</strong>. The assistant <strong>Create catalogues - Amazon</strong> can automatically create a sales price.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Defining the sales price for country platforms:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price] » Tab: Settings</strong>.<br>
<strong><em>Note:</em></strong> Select a sales price with no price type (RRP, special offer, set price). Otherwise, your items will not be exported.</p>
</li>
<li>
<p>Activate the Amazon referrer.</p>
</li>
<li>
<p>Activate the Amazon account.</p>
</li>
<li>
<p>Click on the <strong>Language</strong> tab.</p>
</li>
<li>
<p>Enter the desired names into the <strong>Internal name</strong> and <strong>External name</strong> fields.<br>
<strong><em>Note:</em></strong> If these fields are empty, the price will not be taken into consideration.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="820">5.2. Defining an RRP</h3>
<div class="paragraph">
<p>Proceed as described below to define an RRP for Amazon country platforms. This price is transferred to Amazon as <strong>list price</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Defining the RRP for country platforms:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price] » Tab: Settings</strong>.</p>
</li>
<li>
<p>In the row <strong>Price type</strong>, activate the option <strong>RRP</strong>.</p>
</li>
<li>
<p>Activate the Amazon referrer.</p>
</li>
<li>
<p>Activate the Amazon account.</p>
</li>
<li>
<p>Click on the <strong>Language</strong> tab.</p>
</li>
<li>
<p>Enter the desired names into the <strong>Internal name</strong> and <strong>External name</strong> fields.<br>
<strong><em>Note:</em></strong> If these fields are empty, the price will not be taken into consideration.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="850">5.3. Defining special offers</h3>
<div class="paragraph">
<p>In order to transfer special offers to Amazon, create an additional sales price with the price type <strong>Special offer</strong> and link it to the variation. In addition, create the properties <strong>SaleStartDate</strong> and <strong>SaleEndDate</strong> and link these properties to the variation. Proceed as described below to define special offers for Amazon items.</p>
</div>
<div class="paragraph instruction">
<p>Defining a special offer for Amazon platforms:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price] » Tab: Settings</strong>.</p>
</li>
<li>
<p>In the row <strong>Price type</strong>, activate the option <strong>Special offer</strong>.</p>
</li>
<li>
<p>Activate the Amazon referrer.</p>
</li>
<li>
<p>Activate the Amazon account.</p>
</li>
<li>
<p>Click on the <strong>Language</strong> tab.</p>
</li>
<li>
<p>Enter the desired names into the <strong>Internal name</strong> and <strong>External name</strong> fields.<br>
<strong><em>Note:</em></strong> If these fields are empty, the price will not be taken into consideration.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now create the properties <strong>SaleStartDate</strong> and <strong>SaleEndDate</strong> and map these properties to Amazon categories. Proceed as decribed below to create and map the property <strong>SaleStartDate</strong>. Create the property <strong>SaleEndDate</strong> in the same way but enter the name <strong>SaleEndDate</strong> and link the Amazon field <strong>sale_end_date</strong> instead.</p>
</div>
<div class="paragraph instruction">
<p>Creating and mapping a property for special offers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>In the drop-down list <strong>Section</strong>, select the option <strong>Items</strong>.</p>
</li>
<li>
<p>In the drop-down list <strong>Property type</strong>, select the option <strong>Date</strong>.</p>
</li>
<li>
<p>In the field <strong>Name</strong>, enter the name <strong>SaleStartDate</strong>.<br>
<strong><em>Important:</em></strong> Only use this name <strong>SaleStartDate</strong> for the property. Otherwise, the special offer price will not be exported to Amazon.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.<br></p>
</li>
<li>
<p><strong><em>Optional:</em></strong> If you sell internationally, save the name <strong>SaleStartDate</strong> for additional languages.</p>
</li>
<li>
<p>Open the <strong>Amazon</strong> view.</p>
</li>
<li>
<p>Click on <strong>Add correlation</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select an <strong>Amazon platform</strong> from the drop-down list.</p>
</li>
<li>
<p>Select a <strong>category</strong> from the drop-down list.</p>
</li>
<li>
<p>In the drop-down list <strong>Field</strong>, select the field <strong>sale_from_date</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The correlation is saved.</p>
</li>
<li>
<p>Now create the property <strong>SaleEndDate</strong> in the same way. In the drop-down list <strong>Field</strong>, select <strong>sales_end_date</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You have already created a special offer price and the properties <strong>SalesStartDate</strong> and <strong>SalesEndDate</strong>. Now specify the period in which the offer price is valid. You also save a price.</p>
</div>
<div class="paragraph instruction">
<p>Save offer price for a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>In the <strong>Sales price</strong> area, add the offer price (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter a price.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong>, enter the property name <strong>SalesStartDate</strong>.
<strong><em>Note:</em></strong> Can’t find the property? Check that you mapped it to the correct Amazon category.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The property is added.</p>
</li>
<li>
<p>Click into the column <strong>Value</strong>.<br>
→ The calendar opens.</p>
</li>
<li>
<p>Select a start date for the offer price.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong>, enter the property name <strong>SalesEndDate</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The property is added.</p>
</li>
<li>
<p>Click into the column <strong>Value</strong>.<br>
→ The calendar opens.</p>
</li>
<li>
<p>Select an end date for the offer price.<br>
<strong><em>Tip:</em></strong> The end date must be later than the start date.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="860">5.4. Preparing the export of unit price information</h3>
<div class="paragraph">
<p>In some countries, the unit price must be specified for products that are sold by weight, volume, length or surface area.</p>
</div>
<div class="paragraph">
<p>Amazon calculates the unit price based on the price, the quantity and the unit of measure that you export. Amazon expects different fields for different categories. Check the Amazon flatfile for the category to find out which values need to be exported.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a property for each field that Amazon expects to receive for calculating the unit price of your variations.</p>
</li>
<li>
<p>Link the properties with the variation and save the values for the variation.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="bp-100">5.4.1. Creating properties for unit price information</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>In the drop-down list <strong>Section</strong>, select the option <strong>Items</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Pay attention to the information given in <a href="#table-amazon-property-base-price">Table 4</a>.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
<li>
<p>Carry out any additional settings as described in <a href="#table-amazon-property-base-price">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-amazon-property-base-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating a property</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top">*Option*</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">View <strong>General</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the option <strong>Item</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>To specify quantities, select the option <strong>Decimal number</strong>.</p>
</li>
<li>
<p>To specify units of measure, select the option <strong>Selection</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the name of the Amazon field.<br>
<strong><em>Note:</em></strong> Save the name for all languages that are used for the Amazon platform.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">View <strong>Visibility</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate Amazon platforms.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">View <strong>Values</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Values</strong> (only type <strong>Selection</strong>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Save values for the units of measure that Amazon allows.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">View <strong>Amazon</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon platform</strong>;<br>
<strong>Category</strong>;<br>
<strong>Field</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the Amazon platform, category and field from the drop-down lists.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="bp-200">5.4.2. Saving unit price information for a variation</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.<br>
<strong><em>Tip:</em></strong> To link all variations of an item, carry out these settings for the main variation. The settings are passed on to all variations of the item.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong>, click into the field <strong>Properties</strong>.<br>
→ A drop-down list of available variation properties opens.</p>
</li>
<li>
<p>Activate the property that you just created.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added to the property list.</p>
</li>
<li>
<p>In the column <strong>Value</strong>, select the unit from the drop-down list, e.g. <strong>GR</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="bp-300">5.4.3. Examples for unit price information</h4>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The following examples show you how to create properties for the quantity <strong>item_display_weight</strong> and the unit of measure <strong>item_display_weight_unit_of_measure</strong>. However, note that Amazon expects different fields for different product categories. Check the Amazon flatfile for the category to find out which values need to be exported.
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Example:</em></strong> Quantity <strong>item_display_weight</strong></div>
<div class="content">
<div class="paragraph">
<p>Workflow:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a property <strong>item_display_weight</strong>.</p>
</li>
<li>
<p>Link the property <strong>item_display_weight</strong> with a variation and save a weight.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a property for the quantity item_display_weight:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>In the drop-down list <strong>Section</strong>, select the option <strong>Items</strong>.</p>
</li>
<li>
<p>In the drop-down list <strong>Property type</strong>, select the option <strong>Decimal number</strong>.</p>
</li>
<li>
<p>In the field <strong>Name</strong>, enter the name <strong>item_display_weight</strong>.<br>
<strong><em>Note:</em></strong> Save the name for all languages that are used for the Amazon platform.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
<li>
<p>Open the <strong>Visibility</strong> view.</p>
</li>
<li>
<p>In the <strong>Referrer</strong> area, activate the desired Amazon platforms.</p>
</li>
<li>
<p>Open the <strong>Amazon</strong> view.</p>
</li>
<li>
<p>Click on <strong>Add correlation</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select an <strong>Amazon platform</strong> from the drop-down list.</p>
</li>
<li>
<p>Select a <strong>category</strong> from the drop-down list.</p>
</li>
<li>
<p>From the drop-down list <strong>Field</strong>, select the option <strong>item_display_weight</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is saved and can be linked to variations.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking a variation with the property item_display_weight and saving a value:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.<br>
<strong><em>Tip:</em></strong> To link all variations of an item, carry out these settings for the main variation. The settings are passed on to all variations of the item.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong>, click into the field <strong>Properties</strong>.<br>
→ A drop-down list of available variation properties opens.</p>
</li>
<li>
<p>Activate the property <strong>item_display_weight</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added to the property list.</p>
</li>
<li>
<p>In the column <strong>Value</strong>, enter the weight of the variation as a decimal number, e.g. `150\`.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Example:</em></strong> unit of measure item_display__weight_unit_of_measure</div>
<div class="content">
<div class="paragraph">
<p>Workflow:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a property <strong>item_display_weight_unit_of_measure</strong>.</p>
</li>
<li>
<p>Link the property <strong>item_display_weight_unit_of_measure</strong> with a variation and select a property value.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating the property item_display_weight_unit_of_measure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>In the drop-down list <strong>Section</strong>, select the option <strong>Items</strong>.</p>
</li>
<li>
<p>In the drop-down list <strong>Property type</strong>, select the option <strong>Selection</strong>.</p>
</li>
<li>
<p>In the field <strong>Name</strong>, enter the name <strong>item_display_weight_unit_of_measure</strong>.<br>
<strong><em>Note:</em></strong> Save the name for all languages that are used for the Amazon platform.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
<li>
<p>Open the <strong>Visibility</strong> view.</p>
</li>
<li>
<p>In the <strong>Referrer</strong> area, activate the desired Amazon platforms.</p>
</li>
<li>
<p>Open the <strong>Values</strong> view.</p>
</li>
<li>
<p>Click on <strong>+ Add</strong>.</p>
</li>
<li>
<p>Enter the unit <strong>KG</strong> for kilograms in the name field.</p>
</li>
<li>
<p>Save the setting.</p>
</li>
<li>
<p>Click on <strong>+ Add</strong> again.</p>
</li>
<li>
<p>Enter the unit <strong>GR</strong> for grams in the name field.</p>
</li>
<li>
<p>Save the setting.</p>
</li>
<li>
<p>Open the <strong>Amazon</strong> view.</p>
</li>
<li>
<p>Click on <strong>Add correlation</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select an <strong>Amazon platform</strong> from the drop-down list.</p>
</li>
<li>
<p>Select a <strong>category</strong> from the drop-down list.</p>
</li>
<li>
<p>From the drop-down list <strong>Field</strong>, select the option <strong>item_display_weight_unit_of_measure</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is saved and can be linked to variations.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Linking a variation with the property item_display_weight_unit_of_measure and saving a value:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.<br>
<strong><em>Tip:</em></strong> To link all variations of an item, carry out these settings for the main variation. The settings are passed on to all variations of the item.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong>, click into the field <strong>Properties</strong>.<br>
→ A drop-down list of available variation properties opens.</p>
</li>
<li>
<p>Activate the property <strong>item_display_weight_unit_of_measure</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added to the property list.</p>
</li>
<li>
<p>In the column <strong>Value</strong>, select the unit from the drop-down list, e.g. <strong>GR</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">6. Setting up freely definable fields in the Amazon export (Seller Central)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The freely definable fields are used to customise the data that you export to Amazon. Those fields have to be linked to <a href="/en/item/managing-items#70">free text fields</a>. The free text fields allow you to individually customise the item data and therefore save an exact description of the item.</p>
</div>
<div class="sect2">
<h3 id="1000">6.1. Creating free text fields</h3>
<div class="paragraph">
<p>First, create the <a href="/en/item/managing-items#70">free text fields</a> that you want to link to freely definable fields on Amazon. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Creating free text fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Free text fields</strong>.</p>
</li>
<li>
<p>Enter a name under <strong>Field name</strong>.</p>
</li>
<li>
<p>Select the <strong>data type</strong> from the drop-down list.</p>
</li>
<li>
<p>Enter the maximum number of <strong>characters</strong> for the free text field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The free text fields will be available the next day in the editing window of the items in the <strong>Fields</strong> tab. Enter the actual text there.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">6.2. Linking free text fields</h3>
<div class="paragraph">
<p>Once you have configured the free text fields, link them with Amazon Seller Central export fields. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Linking free text fields with Amazon export fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Freely definable fields</strong>.</p>
</li>
<li>
<p>Open the submenu <strong>Freely definable fields in the Amazon export (Seller Central)</strong> (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Expand the category (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Select an <strong>Export field</strong> from the drop-down list.</p>
</li>
<li>
<p>Select the appropriate field from the <strong>Free text field</strong> drop-down list.<br>
→ You can only select fields that you have created.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">7. Setting up freely definable fields in the Amazon export (Marketplace)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link freely definable fields in the Amazon export (Marketplace) for the BMVD categories Books, Music, Video and DVD.</p>
</div>
<div class="paragraph instruction">
<p>Linking free text fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Freely definable fields</strong>.</p>
</li>
<li>
<p>Open the submenu <strong>Freely definable fields in the Amazon export (Marketplace)</strong>.</p>
</li>
<li>
<p>Select the free text fields from the drop-down lists.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Go to <strong>Setup » Item » Free text fields</strong>.</p>
</li>
<li>
<p>Enter a name under <strong>Field name</strong> for the free text fields that you have just selected.</p>
</li>
<li>
<p>Select a type from the drop-down list in the <strong>Data type</strong> column.</p>
</li>
<li>
<p>Enter the maximum number of <strong>characters</strong> for the free text field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The free text fields will be available the next day in the editing window of the items in the <strong>Fields</strong> tab. Then, enter the <strong>number</strong>. Pay attention to the explanations given in <a href="#options-item-condition">Table 5</a> and <a href="#options-will-ship-internationally">Table 6</a>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Limitations for free text fields</div>
<div class="paragraph">
<p>Only certain values can be used for the fields <strong>item-condition</strong> and <strong>will-ship-internationally</strong>. The field <strong>item-note</strong> can be used as a text field and formulated differently for every item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Entering the Amazon product type and item data</div>
<div class="paragraph">
<p>Open an item under <strong>Item » Edit item</strong> and click on the <strong>Multi-Channel</strong> tab. The <strong>Amazon product type</strong> must be selected in order for the export to work correctly: <strong>Marketplace - Books</strong>, <strong>Marketplace - Music</strong>, <strong>Marketplace - Video</strong>, <strong>Marketplace - DVD</strong>. Furthermore, the <strong>EAN</strong>, <strong>UPC</strong> or <strong>ISBN</strong> must be entered in the item data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following values are possible for the <strong>item-condition</strong> field:</p>
</div>
<table id="options-item-condition" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Options in the <strong>item-condition</strong> field</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Number</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Used, Like New</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Used, Very Good</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Used, Good</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>4</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Used, Acceptable</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>5</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Collectible, Like New</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>6</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Collectible, Very Good</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>7</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Collectible, Good</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>8</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Collectible, Acceptable</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>9</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Not used</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>10</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Refurbished (for computers, kitchen &amp; housewares, electronics, and camera &amp; photo only)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>11</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>New</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The following values are possible for the <strong>will-ship-internationally</strong> field:</p>
</div>
<table id="options-will-ship-internationally" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Options in the <strong>will-ship-internationally</strong> field</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Number</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>7</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shipping within Germany</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>8</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shipping within Europe (including non EU countries)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>9</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shipping within the EU, Switzerland and Liechtenstein</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>10</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shipping worldwide</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">8. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to save some information in your plentymarkets categories in order for your items to automatically be assigned to the existing categories when exporting them to Amazon. The so called Browse Tree Guides (BTG) from Amazon provide you with classification information. This information is provided in table format (MS Excel) and contains unique classification numbers, the so called Browse Node IDs, which you will have to assign to your plentymarkets categories. The lists are available in the help centre of the Seller Central or via this <a href="https://sellercentral-europe.amazon.com/gp/help/help-folder.html/?ie=UTF8&amp;itemID=1661" target="_blank" rel="noopener">link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p>Using the official Browse Tree Guides for the Amazon platform that you want to sell your products on ensures that your items can be found quickly and easily in the Amazon catalogue. The Browse Node IDs form the basis for the item/product assignment in the navigation as well as in the product search. Due to the large amount of items offered on Amazon, an explicit assignment of your items into these Browse Node IDs determines whether a customer will find your product in the corresponding category or not. Therefore, we recommend that you take some time when carrying out this next step and that you select the Browse Node IDs carefully.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Setup » Markets » Amazon » Category link</strong> to link categories. In plentymarkets, you can link each item category with up to two Amazon classification numbers from the Browse Tree Guides.</p>
</div>
<div class="paragraph">
<p>It is absolutely necessary that you link the entered values separately line by line.</p>
</div>
<div class="paragraph">
<p>The category links are only taken into consideration for the default categories, which were selected for an item under <strong>Item » Edit item » [Open item] » Tab: Categories</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Linking Amazon categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Use this <a href="https://sellercentral-europe.amazon.com/gp/help/help-folder.html/?ie=UTF8&amp;itemID=1661" target="_blank" rel="noopener">link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to access the help centre within Seller Central.</p>
</li>
<li>
<p>Select the desired classification list, e.g. apparel.</p>
</li>
<li>
<p>Look up the desired category name in the <strong>node path</strong> column (e.g. blouse).</p>
</li>
<li>
<p>Go to <strong>Setup » Markets » Amazon » Category link</strong> in your plentymarkets back end.</p>
</li>
<li>
<p>Enter the corresponding Browse Node ID from the list into the table.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> that corresponds to the category that you want to link.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Exporting the Browse Node ID</div>
<div class="paragraph">
<p>The Browse Node ID that was assigned when selecting the category is inserted into the <strong>RecommendedBrowseNode1</strong> field during the data export. The <strong>RecommendedBrowseNode2</strong> field is only used for categories that are linked multiple times.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1350">9. Linking attributes and attribute values</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/item/managing-items#390">Attributes</a> also have to be linked before your items can be transferred to Amazon. It is also possible to link attributes for several languages.</p>
</div>
<div class="paragraph instruction">
<p>Linking attributes and attribute values:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.<br>
→ The overview of all attributes used in your catalogue opens.</p>
</li>
<li>
<p>Open an attribute.</p>
</li>
<li>
<p>Click on the <strong>Attribute link</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Amazon</strong>. <br>
→ The Amazon area for the attribute link is displayed.</p>
</li>
<li>
<p>Select the corresponding Amazon category from the drop-down list.</p>
</li>
<li>
<p>Enter the Amazon attribute values that most closely match your own attribute values.<br>
<strong><em>Note:</em></strong> At the moment, the second column for <strong>Market attribute values</strong> is only used for the category <strong>Size</strong> in the <strong>Shoes</strong> flat file. The column <strong>footwear_size</strong> is filled with the value entered in the second column when the <strong>Shoes</strong> flat file is exported. If the second column is empty, <strong>footwear_size</strong> is filled with the value entered in the first column.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Repeat this process for all remaining attributes.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Deactivate main variation without an attribute link</div>
<div class="paragraph">
<p>If an item’s variations have attribute links but the main variation has none, then the main variation has to be set to inactive. Otherwise, the main variation will be exported as a single item. The main variation must be activated if it has an attribute link.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1390">10. Linking properties with Amazon</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use <a href="/en/item/settings/properties#500">properties</a> to define individual features of a variation. For example, you can use properties to highlight a variation’s technical features, such as Bluetooth or WLAN.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
If you already use the new catalogues for the export, you can skip the step <strong>Linking properties with Amazon</strong>. The assistant <strong>Create catalogues - Amazon</strong> can automatically create properties.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph">
<p>Link properties that you have created in the <strong>Setup » Settings » Properties » Configuration</strong> and added to a variation with Amazon in the <strong>Setup » Settings » Properties » Configuration » [Open the property] » Tab: Amazon</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Linking a property with Amazon:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Open the property.</p>
</li>
<li>
<p>Click on the <strong>Visibility</strong> tab.</p>
</li>
<li>
<p>Activate an <strong>Amazon referrer</strong> under <strong>Referrers</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Click on the <strong>Amazon</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add correlation</strong>.</p>
</li>
<li>
<p>Select the <strong>Amazon platform</strong>.</p>
</li>
<li>
<p>Select the Amazon <strong>category</strong>.</p>
</li>
<li>
<p>Select the Amazon <strong>field</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is linked with the Amazon field and exported during the next item export.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="1395">10.1. Linking properties with Amazon via import</h3>
<div class="paragraph">
<p>Properties can also be linked with Amazon via import.
 However, this is only possible when importing new data.</p>
</div>
<div class="paragraph instruction">
<p>Linking properties with Amazon via import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Import</strong>.</p>
</li>
<li>
<p>Click on <strong>Add import</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Create a new import of the type Property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>In the <strong>Matching</strong> tab, enter the value for the Property ID.</p>
</li>
<li>
<p>For the import options, either select <strong>Import new data, update existing</strong> or <strong>Only import new data</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>In the <strong>Mapping</strong> tab, map the category, the field and the platform.</p>
</li>
<li>
<p>Select <strong>Own value</strong> as source.</p>
</li>
<li>
<p>Enter the respective value for the category, the field or the platform.</p>
</li>
<li>
<p>Assign the respective plentymarkets data field as target.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
<li>
<p>Click on <strong>Run import</strong> (<span class="icon grey"><i class="fa fa-play-circle  "></i></span>) to import the properties.<br>
→ The linked properties will be visible under <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">One mapping per platform</div>
<div class="paragraph">
<p>In case your values are in a CSV file, you can link several platforms at once. However, if you use the own value, you need to create one mapping per link to a platform.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">11. Linking characteristics with Amazon</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In case you ever need to define the parameters or characteristics of items for Amazon which cannot directly be set up with plentymarkets, we have developed the solution that is described here: Parameters or values are integrated by means of the characteristics.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Characteristics are an old feature. We recommend that you do not create new characteristics. Use the <a href="#1390">properties</a> instead.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph">
<p>The item’s characteristic and the Amazon product type are linked in the <strong>Setup » Item » Characteristics</strong> menu. In plentymarkets, you can save a maximum of 16 links for one characteristic.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Properties are prioritised over characteristics</div>
<div class="paragraph">
<p>If you linked a characteristic and a property with the same Amazon field, then the property is prioritised over the characteristic. The characteristic is overwritten by the property during the item export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking characteristics with the Amazon product type:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>) the characteristic that you want to use for Amazon.<br>
→ The characteristic’s editing area opens.</p>
</li>
<li>
<p>Select the category from the <strong>Amazon link</strong> drop-down list.<br>
→ A drop-down list is shown.</p>
</li>
<li>
<p>Select the Amazon field from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The link is created.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Characteristic type “selection”</div>
<div class="paragraph">
<p>All characteristic types can be used for the Amazon link. Characteristics of the types <strong>Selection</strong> and <strong>Text</strong> can be used to transfer multilingual characteristics.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h5 id="_activating_a_characteristic_for_an_item" class="discrete">Activating a characteristic for an item</h5>
<div class="paragraph">
<p>In the last step, activate the <a href="/en/item/managing-items#80">characteristic</a> in the item settings and enter a value.</p>
</div>
<div class="paragraph instruction">
<p>Activating a characteristic for an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Activate the characteristic.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The field for entering the value is created.</p>
</li>
<li>
<p>Enter a value.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">EU compliance export</div>
<div class="paragraph">
<p>EU compliance notes are added by means of a characteristic. They are transferred to Amazon as a separate flatfile. To transfer EU compliance notes, select the <strong>EU Compliance</strong> Amazon field for the corresponding Amazon product type, then link the characteristic to the item and select the appropriate export category from the <strong>Item settings</strong> tab in the Amazon settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="6700">12. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_price_and_stock_synchronisation">12.1. Price and stock synchronisation</h3>
<div id="67001" class="openblock collapseBox">
<div class="title">Which settings do I have to activate so that prices are exported to Amazon?</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Activate the <strong>sales price</strong>: Make sure that the item’s sales price is activated for the Amazon account and the Amazon referrer. This is done in the <strong>Setup » Item » Sales prices</strong> menu. You also need to save a sales price name in the language of the platform that the item should be sold on. You can save sales price names for different languages in a sales price’s <strong>Language</strong> tab.</p>
</li>
<li>
<p>Activate the item in the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu. To do so, open the <strong>Settings</strong> tab and activate the <strong>Active</strong> option in the <strong>Availability</strong> area. Then click on the <strong>Availability</strong> tab and activate the options <strong>Web API</strong> and the desired <strong>Amazon referrer</strong> in the <strong>Markets</strong> drop-down list.</p>
</li>
<li>
<p><strong>Amazon product type</strong>: You have to select an <strong>Amazon product type</strong> in the item’s <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p><strong>SKU</strong>: Add an SKU with the referrer <strong>Amazon</strong>. This is done in the <strong>SKU</strong> area of the <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</li>
</ul>
</div>
</div>
</div>
<div id="67002" class="openblock collapseBox">
<div class="title">Which settings do I have to activate so that stock is exported to Amazon?</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Activate the item in the <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Availability</strong> menu. To do so, open the <strong>Settings</strong> tab and activate the <strong>Active</strong> option in the <strong>Availability</strong> area. Then click on the <strong>Availability</strong> tab and activate the options <strong>Web API</strong> and the desired <strong>Amazon referrer</strong> in the <strong>Markets</strong> drop-down list.</p>
</li>
<li>
<p><strong>Amazon product type</strong>: You have to select an <strong>Amazon product type</strong> in the item’s <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p><strong>SKU</strong>: Add an SKU with the referrer <strong>Amazon</strong>. This is done in the <strong>SKU</strong> area of the <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</li>
<li>
<p>Export filter <strong>Store items</strong>: If you have selected <strong>Only items visible in online store</strong> for the <strong>Store items</strong> export filter in the <strong>Setup » Markets » Amazon » Settings » Tab: Item settings</strong> menu, then make sure that the item is activated for the plentyShop. This is done in the item’s <strong>Settings</strong> tab.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_next_steps">13. Next steps</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have set up the interface to Amazon and have prepared your variations. Now, decide if you want to export your variations using catalogues (BETA) or the old item export.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/variation-data-export">Setting up catalogues for variation export to Amazon</a></p>
</li>
<li>
<p><a href="/en/markets/amazon/variation-export-old">Setting up variation export with old technology</a></p>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/amazon/amazon-setup"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Setting up Amazon in plentymarkets</a>
<a href="/en/markets/amazon/variation-data-export">Setting up catalogues for variation export to Amazon <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<div class="paragraph text-right">
<p><em>or</em></p>
</div>
<div class="paragraph next-navigation">
<p><a href="/en/markets/amazon/variation-export-old">Setting up variation export with old technology <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>