<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon: Setting up the variation export</h1><p>Welcome to the topic Amazon: Setting up the variation export. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/markets/amazon/variation-export-old">Amazon: Setting up old variation export</a></li><li><a href="/en/markets/amazon/variation-data-export">Amazon: Setting up catalogue export</a></li></ul>
</main>