<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 25. März 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 12. März 2020 bis zum 18. März 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_datenbereinigung" class="discrete">Datenbereinigung</h3>
<div class="ulist">
<ul>
<li>
<p>In der Bereinigungs-UI im Menü <strong>Einrichtung » Einstellungen » Daten » Bereinigung</strong> wurde das neue Eingabefeld <strong>Löschung von Newsletter-Registrierungen (nach Tagen)</strong> hinzugefügt. Hier wird die Löschung der abgelaufenen und nicht bestätigten Newsletter-Anmeldungen nach Tagen eingestellt. Täglich werden Newsletter-Einträge gelöscht, die älter sind als die konfigurierten Tage.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Für den Sync-Typ <strong>Gutschein-Code</strong> wurden die beiden Zuordnungsfelder <strong>Anzahl der Einlösungen</strong> und <strong>Eingelöster Betrag</strong> hinzugefügt.</p>
</li>
<li>
<p>Für den Sync-Typ <strong>Kontakte, Firmen und Adressen</strong> wurde das Zuordnungsfeld <strong>Ansprechpartner</strong> in den Kontaktoptionen hinzugefügt.</p>
</li>
<li>
<p>Wir haben in der Status-UI eine neue Datumsauswahl implementiert, so dass ihr die Importe einfacher und schneller filtern könnt.</p>
</li>
</ul>
</div>
<h3 id="_plentymarkets_status" class="discrete">plentymarkets Status</h3>
<div class="ulist">
<ul>
<li>
<p>plentymarkets Status benachrichtigt dich per E-Mail in Störungsfällen, bei wichtigen Änderungen wie z.B. der Beendigung der Softwarepflege eines Produkts oder auch bei internen sowie externen Wartungsarbeiten bei einem unserer Partner. Im Fall einer Störung wird in der E-Mail der voraussichtliche Zeitpunkt der Behebung bekannt gegeben.</p>
<div class="paragraph">
<p>Um Status-E-Mails zu abonnieren, zeige mit der Maus auf die dein Benutzerbild oben rechts im plentymarkets Backend, klicke auf plentymarkets Status und aktiviere die Umschaltfläche.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du im Handbuch auf der Seite <a href="/business-entscheidungen/systemadministration/plentymarkets-status">plentymarkets Status</a> oder im <a href="https://forum.plentymarkets.com/t/plentymarkets-status-wird-ausgerollt-plentymarkets-status-roll-out/583035" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_plugin_übersicht" class="discrete">Plugin-Übersicht</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt die Inhalte deiner Plugin-Sets in der neuen Plugin-UI einsehen. Öffne dazu das Menü <strong>Plugins » Plugin-Set-Übersicht (Alpha)</strong> und klicke auf die Schaltfläche Plugin-Set bearbeiten.</p>
<div class="paragraph">
<p>Du kannst momentan folgende Aktionen in der neuen UI ausführen:
<strong> Plugin-Set-Name ändern
</strong> Plugin-Set bereitstellen
<strong> Plugin aktivieren
</strong> Plugin deaktivieren
<strong> Konfigurationen aller Plugins in einem Plugin-Set gesammelt exportieren
</strong> Konfigurationen aller Plugins in einem Plugin-Set gesammelt importieren</p>
</div>
<div class="paragraph">
<p>Wir freuen uns bereits auf dein Feedback. Wenn du die neue UI erkundest und dir etwas auffällt, das gut, schlecht oder auch total unverständlich ist, freuen wir uns auf eine entsprechende Rückmeldung <a href="https://forum.plentymarkets.com/t/feedback-neue-plugin-ui-feedback-for-new-plugin-ui/579903" target="_blank" rel="noopener">im zugehörigen Thema in der Forumskategorie Plugin-Einrichtung</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aktionen" class="discrete">Aktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Aktionen (<strong>Einrichtung » Aufträge » Aktionen</strong>), kann nun auch eine tägliche Ausführung zwischen 24 und 7 Uhr gewählt werden.</p>
</li>
</ul>
</div>
<h3 id="_benutzerrechte" class="discrete">Benutzerrechte</h3>
<div class="ulist">
<ul>
<li>
<p>Die Benutzerrechte für das Menü <strong>Einrichtung » Mandant » Mandant wählen » E-Mail</strong> wurden angepasst. Bisher war es im Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> im Bereich <strong>Berechtigungen</strong> nur möglich, eine Berechtigung für den gesamten Bereich <strong>E-Mail</strong> zu setzen. Demnach wurden alle weitere Unterpunkte (Zugangsdaten, Signatur, Infodienst, Newsletter, Vorlagen, Automatischer Versand und HTML-Design) automatisch mit vergeben.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde angepasst, sodass du nun für jeden Backend-Benutzer die einzelnen Unterberechtigungen aktivieren bzw. deaktivieren kannst.</p>
</div>
<div class="paragraph">
<p>Benutzer, die bereits den Bereich <strong>E-Mail</strong> aktiviert hatten, haben diesen Bereich sowie alle dazugehörigen Unterpunkte immer noch aktiviert. Wenn diese Benutzer alle E-Mail-Bereiche bearbeiten können sollen, musst du nichts anpassen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Für Backend-Benutzer, die nicht alle Berechtigungen im Bereich <strong>E-Mail</strong> bearbeiten können sollen, musst du diese anpassen. Gehe dazu in das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> und öffne den zu bearbeitenden Benutzer und deaktiviere im Bereich <strong>Berechtigungen</strong> die Berechtigungen wie gewünscht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Auftragsanlage per REST oder ElasticSync ist es nun notwendig bei den Positionen einen Preis anzugeben.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::../_textblocks/otto-master-file.adoc[]</p>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Bei den Korrekturen von Amazon-Gutschriften auf Basis der Amazon-Berichte wurde nicht beachtet, dass Amazon negative Beträge übermittelt, weswegen Gutschriften in plenty auch zu negativen Beträgen korrigiert wurden. Dies wurde nun behoben. Die Beträge bereits fehlerhaft durch diesen Prozess korrigierte Gutschriften werden invertiert. Promotions werden wieder negativ, andere Beträge wieder positiv.</p>
<div class="paragraph">
<p>Dieser Fehler besteht seit der Einführung der Korrekturen Mitte Februar.</p>
</div>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Anlage/Speicherung neuer Aufträge mit Paket-Artikeln konnte es zu dem Verhalten kommen, dass die Bestände der Komponenten kurzzeitig nicht reserviert wurden. Kurzzeitig bedeutet in diesem Kontext, dass jede ausgelöste Bestandsberechnung die Reservierung der Paketartikel und der dazugehörigen Bestandteile korrigiert hat.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde behoben, so dass zukünftig bei der Neuanlage eines Auftrages die Bestände der Paketbestandteile korrekt reserviert werden.</p>
</div>
</li>
<li>
<p>Bei Anlage von Amazon FBA Aufträgen mit Bundle-Artikeln kam es dazu, dass die Aufträge nicht im korrekten Status angelegt werden. Dies wurde behoben.</p>
</li>
<li>
<p>Bei der Anlage von Aufträgen mit Bundle-Artikeln konnte es erneut dazu kommen, dass Bestände nicht direkt reserviert wurden. Jede nachfolgende Bestandsberechnung hat die Reservierung korrigiert.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde behoben, so dass zukünftig bei der Neuanlage eines Auftrages mit Bundle-Artikeln die Bestände korrekt reserviert werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_auftragsdokumente" class="discrete">Auftragsdokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Auftragsdokumenten ist es in seltenen Konstellation beim Verwenden von zwei oder mehr Mandanten und Dokumenten ohne oder mit gleichem Präfix dazu gekommen, das diese überschrieben wurden. Dieser Fall konnte aber nur eintreten, wenn Dokumente des gleichen Typs zur gleichen Zeit geschrieben wurden. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>In der Übersicht der Ereignisaktionen wurde bei einigen Aktionen und Filtern unnötigerweise <strong>not yet implemented</strong> angezeigt. Das wurde entfernt.</p>
</li>
</ul>
</div>
<h3 id="_elasticsearch_index" class="discrete">ElasticSearch-Index</h3>
<div class="ulist">
<ul>
<li>
<p>Es kam zu dem Fehler, dass der ElasticSearch-Index nicht aktualisiert wurde, wenn neue Facetten erstellt oder der Haken <strong>Gruppierbar in Artikellisten</strong> am Attribut gesetzt wurde. Hierfür wurde ein Fix erstellt, so dass die Aktualisierung automatisch durchgeführt wird.</p>
</li>
</ul>
</div>
<h3 id="_import_3" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers konnten keine Auftragsimporte durchgeführt werden. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Bei Aktualisierungen von Aufträgen via Import, kam es vereinzelt zu Problemen bei dem Laden der Auftragsdaten. Dies wurde behoben.</p>
</li>
<li>
<p>Aufgrund eines Fehlers wurden nicht alle Daten importiert wenn man das Format Item nutzte. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Beim Import von <strong>EbayItemSpecifics</strong> kam es zu einem Fehler, wenn der letzte Wert falsch formatiert war. Der Import wurde aufgrund eines fehlenden schließenden Hochkommas abgebrochen. Dieses Verhalten wird jetzt abgefangen, sodass der Import auch bei dieser Fehlkonfiguration funktioniert.</p>
</li>
<li>
<p>Aufgrund eines Fehlers konnten keine mathematischen Berechnungen beim Import durchgeführt werden.</p>
</li>
</ul>
</div>
<h3 id="_nachbestellungen" class="discrete">Nachbestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Innerhalb einer Nachbestellung oder Umbuchung gelangt man durch die Betätigung des Links der Artikel-ID in die jeweilige Artikel-Detailsansicht. Über den Tab <strong>Bestand</strong> des Artikels und die dortige Betätigung des Links des physischen Warenbestandes, öffnet die Warenbewegungen der jeweils ausgewählten Variante.</p>
<div class="paragraph">
<p>Dieses Verhalten führte bisher zu einem Fehler (Meldung: <code>Beim Öffnen der Warenbewegung ist ein Fehler aufgetreten.</code>), der in Zusammenhang mit dem beschriebenen Workflow steht. Es wurde eine Anpassung für beta7 zur Verfügung gestellt, die diesen Fehler behebt, so dass zukünftig die Warenbewegungen der Varianten problemlos geöffnet werden können.</p>
</div>
<div class="paragraph">
<p>Durch die Anpassung des Fehlverhaltens wird zukünftig bei der Betätigung des Links der Artikel-ID (in der Artikel-Liste der Nachbestellung) nicht mehr der Tab <strong>Global</strong> geöffnet, sondern stattdessen die jeweilige Detailsansicht der Variante.</p>
</div>
</li>
</ul>
</div>
<h3 id="_pdf" class="discrete">PDF</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Zusammenführen mehrerer PDFs zu einem PDF wurden die Seitendimensionen und die Seitenausrichtung nicht korrekt übernommen.</p>
<div class="paragraph">
<p>Nun werden sowohl die Dimensionen als auch die Ausrichtung jeder Seite von jedem PDF korrekt in das neue PDF übernommen.</p>
</div>
</li>
</ul>
</div>
<h3 id="_po_lieferschein" class="discrete">PO-Lieferschein</h3>
<div class="ulist">
<ul>
<li>
<p>Die PDF-Vorlage beim PO Lieferschein wird nun korrekt erkannt und benutzt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_elastischer_export" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort ist es möglich über den FormatDesigner einen Export der Eigenschaften vom Typ Kontakt mit Bezug zur Kontakt-ID zu konfigurieren:</p>
<div class="paragraph">
<p>ContactProperty wurde als Subtyp des Kontaktformats hinzugefügt und bietet als Filter die ID der Eigenschaft, den Wert der Eigenschaft, den Typ der Eigenschaft, die zur Eigenschaft verlinkte Kontakt-ID sowie die Option, alle zur Eigenschaft gespeicherten Daten zu exportieren.</p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort kann man Kataloge 1:1 kopieren.</p>
</li>
<li>
<p>Ab sofort kann man Kataloge für den Export deaktivieren und aktivieren.</p>
</li>
<li>
<p>Ab sofort kann man über einen Toggle die nicht obligatorischen Felder ein- und ausblenden. Standardmäßig werden immer nur die Pflichtfelder des jeweiligen Kataloges angezeigt.</p>
</li>
<li>
<p>Ab sofort kann man den Katalognamen ändern.</p>
</li>
<li>
<p>Ab sofort werden im Katalog bei den einzelnen Bereichen Überschriften ausgegeben.</p>
</li>
<li>
<p>Ab sofort können Datenquellen miteinander kombiniert werden. Des Weiteren könnt ihr das Trennzeichen, das zwischen den Quellen stehen soll, beliebig wählen.</p>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten#70">Kataloge verwalten</a>.</p>
</div>
</li>
<li>
<p>Ab sofort könnt ihr Eigene Werte exportieren.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/kataloge-eigene-werte-exportieren.png" alt="Eigene Werte exportieren." width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_mahnungsprozess" class="discrete">Mahnungsprozess</h3>
<div class="ulist">
<ul>
<li>
<p>Es gibt einen neuen Auftragsposition Typ <strong>dunning charge</strong> für die Mahngebühren (<code>typeId == 12</code>). Diese enthält keine Steuerinformationen (immer brutto).</p>
</li>
<li>
<p>Die neue Auftragsposition <strong>dunning charge</strong> hat eine Property (<code>typeId == 3</code>, Dokumentnummer) mit der Dokumentnummer der Mahnung, für die die Position hinzugefügt wurde.</p>
</li>
<li>
<p>Es gibt ein neues Dokument <strong>Mahnungstorno</strong> unter den Standortdokumenten (<strong>Einrichtung » Mandant » Standorte » Dokumente » Stornobeleg Mahnung</strong>), welches die letzte Mahnung storniert.</p>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente/mahnungen-erzeugen">Mahnungen</a>.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_elastischer_export_2" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Man konnte bislang nur seine ersten 50 Attribute im Attributs-Filter auswählen, dieses Limit wurde nun auf 350 hinauf gesetzt. Im Zuge der Änderung werden die Attribute nun auch alphabetisch sortiert.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben den Unterpunkt <strong>Bild</strong> in <strong>Alle verfügbaren Bilder</strong> umbenannt.</p>
</li>
</ul>
</div>
<h3 id="_mahnungsprozess_2" class="discrete">Mahnungsprozess</h3>
<div class="ulist">
<ul>
<li>
<p>Es können maximal 4 Mahnungen erzeugt werden.</p>
</li>
<li>
<p>Um eine Mahnung erzeugen zu können, muss eine nicht stornierte Rechnung existieren.</p>
</li>
<li>
<p>Solange eine nicht stornierte Mahnung existiert, kann kein Stornobeleg zur Rechnung erzeugt werden.
Die Anzeige der Mahngebühren am Auftrag erfolgt als steuerfreie Summe und nicht als Position in der Artikelliste.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Für die erfolgreiche Erzeugung eines Mahnungstornos muss zunächst die Dokument-Einstellung unter <strong>Einrichtung » Mandant » Standorte » Dokumente » Stornobeleg Mahnung</strong> konfiguriert werden</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/mahnauftrag.png" alt="Mahnauftrag." width="640"></span></p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/mahnstorno.png" alt="Mahnstorno." width="640"></span></p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente/mahnungen-erzeugen">Mahnungen</a>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort wird die Meldung <strong>Keine Aufträge gefunden</strong> nicht mehr als Fehlermeldung ausgegeben. Die Meldungen verschwinden nach kurzer Zeit wieder von allein.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_import_4" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man bei Anlage einer neuen Zuordnung nicht auf <strong>Speichern</strong> klickte und das Fenster erneut öffnete, so konnte man nicht auf <strong>Speichern</strong> klicken. Diesen Fehler haben wir nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_3" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Schaltfläche <strong>Quelle entfernen</strong> hatte keine Funktion. Dieses Fehlverhalten haben wir nun behoben.</p>
</li>
<li>
<p>Es gab einen Fehler bei der Paginierung. Wenn man z.B. auf Seite 2 klickte, gelangte man auf Seite 1 zurück. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>War der Sync-Name zu lang, so war kein Abstand zwischen den Buttons Status und Datei-Upload vorhanden. Diesen Fehler haben wir nun behoben.</p>
</li>
<li>
<p>Wurde in einem Sync nur eine Zuordnung angelegt und gespeichert, so erschien die Fehlermeldung <strong>Die Positionsnummer ist bereits vergeben</strong>. Diesen Fehler haben wir nun behoben.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_gelöscht" class="discrete">Gelöscht</h2>
<div class="paragraph">
<p>Folgende Funktionalität wurde in den letzten 7 Tagen auf <strong>early</strong> gelöscht.</p>
</div>
<h3 id="_facettensuche" class="discrete">Facettensuche</h3>
<div class="ulist">
<ul>
<li>
<p>Der Tab <strong>Such-Index</strong> in den Einstelungen der Facettensuche im Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong> wurde gelöscht, da er nicht mehr gebraucht wird. Einstellungen an der Facettensuche werden im Menü <strong>System » Artikel » Suche » Frontend » Sucheinstellungen</strong> vorgenommen.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment/payuponpickup_4757" target="_blank" rel="noopener">Barzahlung</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/notificationbar_6767" target="_blank" rel="noopener">Ceres Beautifier: Notification Bar</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cookieposition_6768" target="_blank" rel="noopener">Ceres Beautifier: Cookie Position</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourcontainerpopup_5932" target="_blank" rel="noopener">Container Popup</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourstructureddata_5114" target="_blank" rel="noopener">Erweiterte Strukturierte Daten</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">IngenicoZVT</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/marketing/wesiocatalog_6759" target="_blank" rel="noopener">Kataloggenerator</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourcategorytabswidget_5842" target="_blank" rel="noopener">Kategorie Reiter Widget</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourowlsliderwidget_6325" target="_blank" rel="noopener">Owl Carousel Pro</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment/posinvoice_5590" target="_blank" rel="noopener">plentyPOS Kauf auf Rechnung</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourseochecktool_5157" target="_blank" rel="noopener">SEO Check Frontend Tool</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/shopbuilder-widgets/d2gpmpluginshippingicons_6756" target="_blank" rel="noopener">Versand Icons Widget</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment/prepayment_4758" target="_blank" rel="noopener">Vorkasse</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>