<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Basic information about price calculation in plentymarkets</span></a></li>
<li><a href="#150"><span>2.</span><span> Setting up how prices are saved and rounded</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>2.1.</span><span> Example calculations</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Carrying out VAT settings</span></a>
<ul class="sectlevel2">
<li><a href="#350"><span>3.1.</span><span> Using the German small business owner regulation</span></a></li>
<li><a href="#400"><span>3.2.</span><span> Setting up how invoices are issued for deliveries within the EU</span></a>
<ul class="sectlevel3">
<li><a href="#450"><span>3.2.1.</span><span> Examples with the settings' effect</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.3.</span><span> Issuing an invoice for export shipments</span></a></li>
<li><a href="#550"><span>3.4.</span><span> Setting up VAT rates</span></a></li>
<li><a href="#600"><span>3.5.</span><span> VAT for digital items</span></a></li>
</ul>
</li>
<li><a href="#650"><span>4.</span><span> Setting up posting keys, revenue and debtor accounts</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>4.1.</span><span> Setting up posting keys</span></a></li>
<li><a href="#750"><span>4.2.</span><span> Setting up debtor accounts</span></a></li>
<li><a href="#800"><span>4.3.</span><span> Setting up revenue accounts</span></a></li>
<li><a href="#850"><span>4.4.</span><span> Copying settings to other locations</span></a></li>
</ul>
</li>
<li><a href="#900"><span>5.</span><span> Exporting accounting data</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Accounting</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Learn more about settings in plentymarkets that are relevant for your accounting. These settings include VAT rates, currencies, exchange rates, the calculation of your prices, booking keys, revenue accounts, debtor accounts and just as well your document templates. Most of the settings that are relevant for accounting purposes can be defined per accounting location. Only the setting that defines how your prices are calculated applies to your entire system.<br>
How to set up document templates is described on a different page of this manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Basic information about price calculation in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The calculation of prices is based on the gross prices of your variations. In other words, the net price of a variation in an order is calculated based on the gross price. To get the sum of an order item the individual price of one variation is multiplied with purchased number of the variation. This means, that the purchased number of a variation is multiplied with the individual gross price of an order item to get the order item’s gross sum. To get the net sum of an order item the previously calculated net price of a single variation is multiplied by the number of variations purchased. The number of decimal places of the single net price is defined by your accounting settings. To get the VAT amount for an order item the net sum must be substracted from the gross sum.<br>
Your settings define when the price will be rounded to decimal places. Calculations that are carried out after the prices are rounded will be carried out with 2 decimal places. The settings in plentymarkets can lead to the following results:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Rounded single variation price</p>
</li>
<li>
<p>Rounded order item sums</p>
</li>
<li>
<p>Rounded totals</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="150">2. Setting up how prices are saved and rounded</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The path to the menu that contains the settings plus explanations of the settings. The settings applied to an order are the settings that were active in the moment that the order was created. This means that if you change the settings the changes will not affect existing orders.</p>
</div>
<div class="paragraph instruction">
<p>Setting up how prices are saved and rounded:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>. <br>
The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Settings for saving and rounding prices</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Number of decimal places for prices</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select 2 or 4 decimal places <br>
<strong>2</strong> = The prices in an order will be saved with 2 decimal places The indirect result of this setting is that the price of a single variation will be rounded. The sums and totals of an order are then calculated based on the rounded price of a single variation. <br>
<strong>4</strong> = The prices in an order will be saved with 4 decimal places Selecting 4 decimal places has the effect that the sum of an order item will be rounded by default. The sums are saved with 4 decimal places, but further calculation will be carried out with sums that are rounded to two decimal places. If you do not want that the sums are rounded by default, you need to additionally activate the setting <strong>Round totals only</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Round totals only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate by placing a check mark if you want that only the totals of an order are rounded. The sums of order items are no longer rounded by default if the setting is active. Totals refers to the total value of an order. When you look at the settings of the document template for invoices the settings that will be affected are the ones that are listed unter the sums heading. <br>
If the option is not activated and 4 decimal places are selected, then the sum of each order item will be rounded. <br>
However, if 2 decimal places are selected, this setting has no influence on the rounding of prices.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="200">2.1. Example calculations</h3>
<div class="paragraph">
<p>The following section compares the different calculation methods and the results.<br>
In our example fabrics were sold. Several panels of the same fabric were bought, but with different widths. The widths are 50 cm and 30 cm. The 50 cm panel was boungt 8 times and the 30 cm panel 7 times. 30 centimetres cost 2.187 € and 50 centimetres cost 3.645 €. The prices are calculated based on the price for one metre of 7.29 €. The settings that must be carried out to get one of the results are also listed in the table.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/CalculationMethodsCompared.png" alt="Rounding prices" width="849" height="417">
</div>
</div>
<div class="paragraph">
<p>__Image 1: comparing price rounding methods</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Carrying out VAT settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The VAT settings are specifically for one location. You can have different settings for each location. Locations are required for your registered business addresses or countries that you ship from.<br>
Your system behaves a little different for countries that are members of the European Union and non-EU countries. For a location in an non-EU country every delivery to another country will be treated as export shipping. For a location in an EU country the system differs between intra-community shipping and export shipping.<br>
The basic VAT relevant settings include settings that define how the system reacts if the delivery is and export shipping and how the VAT amount for shipping costs will be displayed. For EU locations you can also define how the system reacts if a VAT ID is given in the order.</p>
</div>
<div class="sect2">
<h3 id="350">3.1. Using the German small business owner regulation</h3>
<div class="paragraph">
<p>If you are a small business owner in Germany and you do not want that VAT is applied to your invoices, then activating the setting in your location settings is all you need to do. However, even though you the VAT is not applied, you still need to save the correct VAT rates in your settings. They will not be applied.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Small business owner setting only for systems with Germany as system country</div>
<div class="paragraph">
<p>The small business owner setting is only available if your system was set up with Germany as system country. The system country is a setting that you have no access to and that is selected based on the information that you provided when you ordered your plentymarkets system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Using the German small business owner regulation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Small business owners (Germany only)</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Displaying small business owner information on invoices</div>
<div class="paragraph">
<p>As a small business owner you need to place information on your invoice why there was no VAT applied. You can use the note field on your invoice template for this information. The setting for small business owners does not automatically place a note on your invoice.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">3.2. Setting up how invoices are issued for deliveries within the EU</h3>
<div class="paragraph">
<p>You can choose whether customers that are within the European Union and that have a VAT number will receive a net invoice or a gross invoice. In many cases the information of the delivery’s recipient are of higher priority than the ones of the invoice’s recipient. The delivery address must be in another country within the EU if you want the invoice to be net. For deliveries within the same member state of the EU the setting will be ignored and VAT will always be applied. However, there is one option that will allow a different result. You need to add an entry certificate to your delivery and you need to choose the entry certificate option for the delivery address within the data set of an order. If the customer does not have a VAT number, this means that it is a private purchase and that VAT will be applied anyway. The only time VAT will not be applied for private purchases is if you are a small business owner as described above.</p>
</div>
<div class="paragraph instruction">
<p>Setting up gross or net invoices for deliveries within the EU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a location under <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Select one option from the <strong>VAT number</strong> drop-down menu. Pay attention to the information given in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Issuing invoices for deliveries within the EU</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Explanation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VAT number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only applies to deliveries within the EU.<br>
This setting does not have any effect for non-EU locations.<br>
<br>
<strong> Gross invoice</strong> = All invoices for inner European Union deliveries will be issued as gross.<br>
<strong> Net invoice</strong> = Invoices will be issued without VAT for customers who have a VAT number.<br>
However, if the customer’s delivery address is in the same country as the accounting location, then VAT will be calculated for the order. German law permits orders to be issued as net for customers from other European countries who have a valid VAT number and provide a German delivery address, but a certain paper must be provided in this case. This paper is an entry certificate and needs to be included with the order. The delivery address in an order as well as in the customer data includes the option <strong>Entry certificate</strong> for this reason. If you want to apply the entry certificate only once for a specific order, then  activate the option in the order settings. If you want to use the entry certificate repetitively for this delivery address of the customer, then you need to activate the option in the customer’s delivery address data. If you activate the <strong>Entry certificate</strong> option, then orders that are placed by customers in other European countries but shipped to a German delivery address will be treated like shipments to foreign EU countries. The settings <strong>VAT number</strong> and <strong>Export shipping</strong> in this menu then determine whether the invoice is issued as gross or net. If the <strong>Entry certificate</strong> is not active, then these orders will be issued as gross.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="450">3.2.1. Examples with the settings' effect</h4>
<div class="paragraph">
<p>In the following section 6 possible setting combinations and the effects are described.</p>
</div>
<div class="paragraph subhead">
<p>What is the result if the sender, the delivery’s recipient and the invoice recipient are in the same member state of the European Union and if the setting net invoice is selected?</p>
</div>
<div class="paragraph">
<p>The invoice will always be gross despite the selected setting.</p>
</div>
<div class="paragraph subhead">
<p>What is the result if the sender and the delivery’s recipient are in the same member state of the European Union, but the invoice recipient is in a different member state and if the setting net invoice is selected?</p>
</div>
<div class="paragraph">
<p>The invoice will be gross despite the selected setting. However, in this case a net invoice is actually allowed if the invoice recipient has a VAT number. An additional setting must be carried out to issue a net invoice. The entry certificate must be activated in the delivery adress data of the order. The invoice will be gross as long as the entry certificate setting is not activate. The entry certificate is an individual delivery address setting.</p>
</div>
<div class="paragraph subhead">
<p>What is the result if the sender and the invoice recipient are in the same member state of the European Union, but the delivery’s recipient is in a different member state and if the setting net invoice is selected?</p>
</div>
<div class="paragraph">
<p>The invoice will be net if the recipient of the delivery has a VAT number. The invoice recipient does not play a role in this scenario.</p>
</div>
<div class="paragraph subhead">
<p>What is the result if the sender is in one member state of the European Union, but the invoice recipient and the delivery’s recipient are in a different member state and if the setting net invoice is selected?</p>
</div>
<div class="paragraph">
<p>The invoice will be net as soon as either the recipient of the delivery or the recipient of the invoice has a VAT number. The invoice will be gross if neither the recipient of the delivery nor the recipient of the invoice has a VAT number.</p>
</div>
<div class="paragraph subhead">
<p>What is the result if the sender is in one member state of the European Union, but the delivery’s recipient is in a different member state and the invoice recipient is in a country outside of the EU and if the setting net invoice is selected?</p>
</div>
<div class="paragraph">
<p>The invoice will be net as soon as either the recipient of the delivery or the recipient of the invoice has a VAT number. The invoice will be gross if neither the recipient of the delivery nor the recipient of the invoice has a VAT number.</p>
</div>
<div class="paragraph subhead">
<p>What is the result if the sender is in one member state of the European Union, but the invoice recipient is in a different member state and the delivery’s recipient is in a country outside of the EU and if the setting net invoice is selected?</p>
</div>
<div class="paragraph">
<p>In this case the delivery is an export shipment and the setting setting for export shipping will be applied. The settings for export shippings will be explained in the next section on this page.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">3.3. Issuing an invoice for export shipments</h3>
<div class="paragraph">
<p>For each accounting location you can individually define, whether the invoice for export shipments will be net or gross. The core assumption is that your business is based in the European Union. The setting will be applied if the delivery is sent to a country outside the European Union. Your customers receive an invoice without VAT if the invoice is net.</p>
</div>
<div class="paragraph instruction">
<p>Setting up gross or net invoices for export shipping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>. Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Select one option from the <strong>export shipping</strong> drop-down menu. Pay attention to the information given in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Invoice settings for export shipping</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Explanation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export shipping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Net invoice</strong> = Invoices for export shipping will be issued without VAT.<br>
This setting will be ignored if VAT rates are saved for the export country. This means that the invoice will be gross.
<strong>Gross invoice</strong> = Invoices for export shipping will be issued with VAT.<br>
The VAT rate that will be applied to export shippings depends on your VAT configurations. If you have set up VAT rates for the country of delivery, then these VAT rates will be applied. If no VAT rates are set up for the country of delivery, then the VAT rates of the country that your location is at will be used.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="550">3.4. Setting up VAT rates</h3>
<div class="paragraph">
<p>You need to differ between your accounting locations and countries of deliveries that you need to pay tax to. An accounting location is a registered business address. 2 accounting locations exist per default in plentymarkets. The default locations are Germany and United Kingdom. You need one location at the very least and you can add further locations for each of your subsidiaries. The 2 default locations include default VAT configurations with VAT rates etc. However, do not use these configurations for the productive mode of your system. Add your own configurations and delete the default ones. You need to set up at least one configuration. You can use this configuration to ship worldwide. However, you need to add further configurations for other countries if you exceed the delivery theshold for a country. Otherwise the system can not calculate the correct VAT amounts. You need to set up a location for your registered business address and then you need to set up the country that the business is in with a VAT configuration. Once you become liable for taxation in other countries because you exceeded the delivery threshold, you need to add futher countries with VAT configurations within the same location.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/DefaultLocationsAndVATRates.png" alt="DefaultLocationsAndVATRates">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: Default VAT rates and locations</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Replacing the default VAT rates and locations</div>
<div class="paragraph">
<p>The VAT configurations shown in image 2 is a default configuration and contains a fantasy VAT number. This VAT number is not yours and is not correct and that is why you need to set up your own configuration with a correct VAT number. You can delete the default configuration.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up VAT rates:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a location under <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>VAT rates</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New configuration</strong>.</p>
</li>
<li>
<p>Please select a <strong>Country</strong>.</p>
</li>
<li>
<p>Enter the highest VAT rate as <strong>VAT rate A</strong>.
→ Enter furhter VAT rates in descending order.</p>
</li>
<li>
<p>Enter your VAT number.</p>
</li>
<li>
<p>Select a starting date when the rates will become valid.</p>
</li>
<li>
<p>Pay attention to the explanations on the settings given in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.
→ The new configuration will open and additionally a setting for margin scheme will be displayed.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Settings of a VAT configuration</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Explanation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Country</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the country that you have become liable for taxation in.<br>
<strong><em>Important</em></strong>: The country can not be changed later.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tax rate A in %</strong><br>
<strong>Tax rate B in %</strong><br>
<strong>Tax rate C in %</strong><br>
<strong>Tax rate D in %</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter tax rates. Start with the highest rate and continue in descending order.<br>
<strong><em>Important</em></strong>: You can only change the VAT rates as long as they are not valid. Once the rates are valid they can not be changed. The names are only relevant for the accounting software Xero.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Valid from</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the date in the calendar. The VAT rates will go into effect on this date.<br>
<strong><em>Important</em></strong>: When you enter the date manually instead of picking it from the calendar, make sure that you enter the year as a four digit value. Entering only two digits for the year may cause errors.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>For digital items only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate if the VAT rate should only apply to digital items. For further information, refer to chapter VAT for digital items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Margin scheme</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Specify which tax rate is to be used for stock units to which the margin scheme applies. If no tax rate is selected, then stock units that the margin scheme applies to can not be displayed on invoices (= basic setting).<br>
The margin scheme setting is not visible until you save a VAT configuration.<br>
<strong><em>Important</em></strong>: The margin scheme setting in plentymarkets is an older customized implementation. The tax rate will be applied to the entire amount of the stock units that the margin scheme applies to. In other words the tax rate will not be applied to the difference between sales price and purchase price.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">3.5. VAT for digital items</h3>
<div class="paragraph">
<p>The buyer’s VAT rate must be used for digital items. An EU regulation puts these VAT rates into effect starting January 1st, 2015. If a VAT rate is already available for a country of delivery, e.g. because the delivery threshold was exceeded, then it is not necessary to create an additional VAT rate for digital items only. The existing VAT rate will be used. If no VAT rate is set up for one or more countries of delivery, then set up your accounting procedures in plentymarkets as described below. The EU regulation applies to B2C revenues.<br>
This regulation applies to B2C revenues. B2B revenues without VAT are not affected.</p>
</div>
<div class="paragraph instruction">
<p>Identifying the VAT for digital items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>VAT rates</strong> tab.</p>
</li>
<li>
<p>Create a VAT configuration for every country of delivery where digital items are sold.</p>
</li>
<li>
<p>Open the VAT configuration and activate the option <strong>For digital items only</strong>.</p>
</li>
<li>
<p>Create a <a href="/en/item/managing-items#500"><strong>property</strong></a> for digital items and give it a name, e.g. <strong>Digital</strong>. The property may not be an order property.</p>
</li>
<li>
<p>Go to <strong>Settings » Item » Basic settings</strong> and select the property for the option <strong>Item property for identifying digital items</strong>.</p>
</li>
<li>
<p>Open every item that should be sold as digital media and save the property in the <a href="/en/item/managing-items#500"><strong>Properties</strong></a> tab.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="650">4. Setting up posting keys, revenue and debtor accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Posting keys are only relevant for DATEV exports. You can ignore the posting key settings if you do not work with DATEV. You can set up revenue accounts to book your revenues. You can set up debtor accounts to book your pending amounts.</p>
</div>
<div class="sect2">
<h3 id="700">4.1. Setting up posting keys</h3>
<div class="paragraph">
<p>Posting keys are relevant for DATEV exports. Continue with the next chapter on this page if you do not work with DATEV. Posting keys are called tax key in DATEV and are required for the correct transfer of posting information. There are some standard tax keys in DATEV. The standard tax key from the two standard charts of accounts 03 and 04 for 19 % VAT in Germany is 3. plentymarkets automatically determines whether it is dealing with a debit (D) or credit © posting. This information is included in the export. The information is displayed in a separate column in the export.</p>
</div>
<div class="paragraph instruction">
<p>Setting up posting keys:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Accounts</strong> tab.<br>
→ The <strong>Posting key</strong> tab will open.</p>
</li>
<li>
<p>Enter a posting key for each tax rate.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="750">4.2. Setting up debtor accounts</h3>
<div class="paragraph">
<p>You can set up debtor accounts to keep an overview on your pending amounts. You can choose a criteria that will be used to book pending amounts on debtor accounts. As a criteria you can e.g. use the names of the debtors or the country of delivery. Choose a criteria first and then enter the actual accounts.</p>
</div>
<div class="paragraph instruction">
<p>Setting up debtor accounts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Accounts</strong> tab.<br>
→ The <strong>Posting key</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Debtor accounts</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Settings of a VAT configuration</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Explanation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard debtor account</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a debtor account that will be used if no other debtor account is saved or no other account applies.<br>
<em><strong>Important:</strong></em> The debtor account in the customer’s data set will always be applied and exported if the customer’s data set contains an specific debtor account.<br>
The debtor account will be saved in the customer data as soon as it has been identified for the first time. The identification of debtor accounts is carried out if revenue information are exported. The DATEV or Collmex export are exports that will trigger the identification of debtor accounts.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Save debtor account in the customer master data record</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark to save a debtor account in the customer’s master data. This will only be carried out if no debtor account already exists in the customer data. The debtor account will be saved according to the option that is selected for the <strong>automatic assignment of debtor accounts</strong>.<br>
If no debtor account is saved for the selected process, then the standard debtor account will be used.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatic assignment of debtor accounts based on</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a criteria from the drop-down menu that will be used to assign the debtor accounts.<br>
The actual account information must be filled according to the selected criteria.<br>
<strong>Initial letter</strong> = Debtor accounts will be assigned based on the initial letters of customer information. Choose the customer information and the order of the information that will be used from the second drop-down menu.<br>
If you choose the order <strong>Company, surname, first name</strong>, the name of the company will have the highest priority. If no company name was entered, then the last name will be used and so on.<br>
<strong>Payment method</strong> = Debtor accounts will be assigned based on the payment method that is saved in an order.<br>
<strong>Country of delivery</strong> = Debtor accounts will be assigned based on the country of delivery that an order is shipped to.<br>
<strong>Country of delivery, but payment method for domestic</strong> = Debtor accounts will be assigned based on the country of delifery if the delivery goes to a country that is not the country of the location. If the shipment is a home country shipping, then the payment method will be used as criteria.<br>
<strong><em>Note:</em></strong> Consult with your financial accounting department or your tax office when deciding which process to use.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Initial letters (A - Z or 0 - 9 Debtor account)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter debtor accounts depending on the <strong>initial letter</strong>. Do not enter debtor accounts here if you have selected anhother criteria.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Countries of delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Save debtor accounts for the countries of delivery activated in your system. Do not enter debtor accounts here if you have selected anhother criteria.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment methods</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Save debtor accounts for the payment methods saved in your system. Do not enter debtor accounts here if you have selected anhother criteria.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">4.3. Setting up revenue accounts</h3>
<div class="paragraph">
<p>You can set up revenue accounts to book your revenues and to assign them to accounts. You can enter accounts for revenues that are liable to VAT and for revenues that are exempt from VAT.</p>
</div>
<div class="paragraph instruction">
<p>Setting up revenue accounts for revenues that are liable to VAT:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Accounts</strong> tab.<br>
→ The <strong>Posting key</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Revenue accounts</strong> tab.</p>
</li>
<li>
<p>Enter an account for each VAT rate that you use.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Setting up revenue accounts for revenues that are exempt from VAT:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.<br>
→ The <strong>Basic settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Accounts</strong> tab.<br>
→ The <strong>Posting key</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Revenue exempt from VAT</strong> tab.</p>
</li>
<li>
<p>Enter an account for revenues that are sold within the EU and that are exempt from VAT into the <strong>Revenue from EU</strong> field.</p>
</li>
<li>
<p>Enter an account for revenues that are sold to countries outside the EU and that are exempt from VAT into the <strong>Revenue from export</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="850">4.4. Copying settings to other locations</h3>
<div class="paragraph">
<p>Use the <strong>Copy settings</strong> function to copy the settings of the current location and apply these settings to one or more other locations. You can copy all of the settings or only specific settings.</p>
</div>
<div class="paragraph">
<p>The following settings can be copied:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Basic settings</strong></p>
</li>
<li>
<p><strong>VAT rates</strong></p>
</li>
<li>
<p><strong>Accounts</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to copy settings to one or more locations:</p>
</div>
<div class="paragraph instruction">
<p>Copying settings to one or more locations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Select store » Locations » Select location » Accounting</strong>.</p>
</li>
<li>
<p>Click on the <strong>Copy settings to another location</strong>.</p>
</li>
<li>
<p>Under <strong>Location</strong>, select one or more locations that the settings should be applied to.</p>
</li>
<li>
<p>Place check marks next to the <strong>Options</strong> that you wish to copy.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
→ The settings will be applied to the locations.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">5. Exporting accounting data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets allows you to export accounting data. You can use the export to transfer the data to your accounting software. When you export your accounting data the system will automatically assign debtor accounts, revenue accounts and posting keys according to the settings that you have set up prior to the export.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Data exchange » Data export</strong> and select the data format that you want to export. Set up the format and <a href="/en/basics/data-exchange/exporting-data#10"><strong>export the data</strong></a>.</p>
</div>
</div>
</div>
</main>