<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_coupons"><span>1.</span><span> General information about coupons</span></a></li>
<li><a href="#_backend_settings"><span>2.</span><span> Backend settings</span></a></li>
<li><a href="#10"><span>3.</span><span> Possible uses for coupons</span></a></li>
<li><a href="#15"><span>4.</span><span> Preparing items for purchase with coupons</span></a></li>
<li><a href="#20"><span>5.</span><span> Creating a campaign</span></a>
<ul class="sectlevel2">
<li><a href="#25"><span>5.1.</span><span> Example for calculating coupons for special offers and gift cards</span></a></li>
</ul>
</li>
<li><a href="#50"><span>6.</span><span> Searching for campaigns</span></a></li>
<li><a href="#60"><span>7.</span><span> Generating coupon codes</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>7.1.</span><span> Manually generating coupon codes</span></a></li>
<li><a href="#80"><span>7.2.</span><span> Manually entering external coupon codes or coming up with your own codes</span></a></li>
<li><a href="#90"><span>7.3.</span><span> Editing coupon codes with the data exchange</span></a></li>
</ul>
</li>
<li><a href="#100"><span>8.</span><span> Inserting coupon codes directly into emails</span></a></li>
<li><a href="#110"><span>9.</span><span> Selling coupons</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>9.1.</span><span> Creating items for coupons</span></a></li>
<li><a href="#130"><span>9.2.</span><span> Linking the coupon item to a campaign</span></a></li>
<li><a href="#140"><span>9.3.</span><span> Configuring coupon templates</span></a></li>
<li><a href="#150"><span>9.4.</span><span> Generating coupons</span></a></li>
<li><a href="#160"><span>9.5.</span><span> Automatically sending coupons as PDF attachments</span></a></li>
<li><a href="#170"><span>9.6.</span><span> Displaying the coupon total on invoices</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Coupons</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Orders » Coupons</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_coupons">1. General information about coupons</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Coupons</strong> (gift cards) are a popular way to increase sales and customers accept them gladly especially during the Christmas shopping season. plentymarkets has a comprehensive and sophisticated coupon module. Campaigns can be created with various possibilities for discounts. A coupon is a particular code (string of characters), which belongs to a campaign and which can either be redeemed once or multiple times. Coupons are redeemed during the order process. In doing so, the corresponding discount value will be displayed.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Comprehensive instructions</div>
<div class="paragraph">
<p>This page of the manual only relates to the <strong>System » Orders » Coupons</strong> menu. For comprehensive instructions on creating a coupon, refer to the <strong><a href="/en/order-processing/orders/coupons">Orders » Coupons</a></strong> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_backend_settings">2. Backend settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>System » Orders » Coupons</strong> and select the <strong>free text field</strong> that you want to use for <strong>coupon campaigns</strong> (image 1, red arrow). After you have saved the setting, the field <strong>Kampagne ID</strong> will be displayed in the item’s <strong>Fields</strong> tab (image 2, red arrow). Please note that the name of the field is automatically assigned and can not be changed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Coupons-01.png" alt="EN Settings Orders Coupons 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: selecting a <strong>free text field</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Selecting a free text field:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Coupons</strong>.</p>
</li>
<li>
<p>Select the desired <strong>campaign field</strong> from the drop-down menu.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.<br>
→ The <strong>Kampagne ID</strong> field will be displayed in the item’s <strong>Fields</strong> tab.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Settings-Orders-Coupons-02.png" alt="EN Settings Orders Coupons 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>Kampagne ID</strong> field in the editing window of an item</em></p>
</div>
<div class="paragraph">
<p>Coupons and gift cards are a great way to simultaneously attract new customers, increase loyalty and generate revenue. Gift cards are a very popular item, especially during the holiday shopping season. plentymarkets has a sophisticated coupon module in the menu <strong>Orders » Coupons</strong>. Use this menu to create coupon campaigns with various types of discounts.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">3. Possible uses for coupons</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Coupons all have codes which belong to a campaign and which can either be redeemed once or multiple times. Coupons are redeemed during the order process. The discount value is displayed at this time. Coupons can be sent to customers as special offer codes within emails or gift cards can be sold as items in your online store. The buyer then receives the coupon code as a PDF document.</p>
</div>
<div class="paragraph">
<p>The following overview shows various possibilities for using coupons:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Coupon</th>
<th class="tableblock halign-left valign-top">Usage</th>
<th class="tableblock halign-left valign-top">Via email</th>
<th class="tableblock halign-left valign-top">Online store</th>
<th class="tableblock halign-left valign-top">PDF</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Code</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Redemption</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yes</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yes</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>no</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Coupon</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sale and redemption</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yes</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yes</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Voucher</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sale</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yes</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>no</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>yes</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: possible uses</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="15">4. Preparing items for purchase with coupons</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you begin working with coupons, decide which of your items should be purchasable with a coupon or gift card.</p>
</div>
<div class="paragraph instruction">
<p>Allowing items to be purchased with a coupon:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item that should be purchasable with a coupon.</p>
</li>
<li>
<p>Click on the <a href="/en/item/managing-items#40"><strong>Global</strong></a> tab.</p>
</li>
<li>
<p>Set the <strong>Coupon</strong> option to <strong>Permitted</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ It will be possible for the customer to purchase this item with a coupon.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Set the <strong>Coupon</strong> option to <strong>Not permitted</strong> if you want to prevent the item from being paid with a coupon. If the customer places such an item in the shopping cart, then the coupon’s value will not be applied to this item. It makes sense to prevent some items from being paid for with a coupon, e.g. special offers or other items that should not be discounted further. If you want to make an item available for purchase with a coupon only, then select the setting <strong>Purchasable with coupon only</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">5. Creating a campaign</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Since every coupon belongs to a campaign, such a campaign has to be created first. You can create new campaigns by opening the menu <strong>Orders » Coupons</strong> and clicking on <strong>New campaign</strong>. First, configure the basic options for this campaign in the <strong>Settings</strong> tab and click on <strong>Save</strong>. The campaign will be created and <a href="/en/order-processing/orders/coupons#50"><strong>displayed in the overview</strong></a>. Previously created campaigns include two additional tabs: <a href="/en/order-processing/orders/coupons#60"><strong>Codes</strong></a> and <a href="/en/order-processing/orders/coupons#140"><strong>Templates</strong></a>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on <strong>New campaign</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The new campaign will be created and will appear in the overview.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Settings are automatically displayed and hidden</div>
<div class="paragraph">
<p>Settings in this menu will automatically be displayed or hidden depending on the coupon type that is selected. Different settings are required for the <a href="/en/order-processing/orders/coupons#22"><strong>coupon types "Coupon" and "Voucher"</strong></a>. Table 2 explains all of the settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Campaign[#21]</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <strong>title</strong> of the campaign.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A <strong>description</strong> of the campaign.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Concept: Code</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the number of codes from the first drop-down menu: <br>
<strong>One code</strong> = One coupon code will be generated per campaign which can be redeemed multiple times. <br>
<strong>Several codes</strong> = Individual coupon codes will be generated which can only be redeemed once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Concept: Redemptions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select how coupons should be redeemed from the second drop-down menu: <br>
<strong>Several redemptions per customer</strong> = A customer can redeem the entire coupon amount multiple times. <br>
<strong>Caution</strong>: If the coupon is sent to several customers, then they can all redeem the coupon as often as desired. This option can result in high costs to your business once all of the amounts are totaled! <br>
<strong>One redemption per customer</strong> = A customer can either redeem the entire coupon amount one time or partial amounts. If the coupon is sent to several customers, then they will all be able to redeem a partial amount as often as desired. However, as soon as one customer has redeemed the entire coupon amount, it will no longer be possible for any other customers to redeem the coupon. <br>
<strong>Note</strong>: If customers are not registered, but log in with a guest account, they will be treated as new customers in the system. If the coupon amount is not used up completely, then the coupon can be used several times because one redemption is possible per customer - i.e. new customer, new coupon. <br>
<strong>Caution</strong>: All of your customers can simultaneously redeem partial amounts that are below the entire coupon amount. However, once a customer has redeemed the entire coupon amount the coupon will no longer be redeemable. This option can result in high costs to your business once all of the amounts are totaled! <br>
<strong>Redemption until the value is depleted</strong> = The coupon can be used until its value has been depleted. If a customer redeems partial amounts, then all of the partial amounts put together may only be as high as the entire coupon amount itself. The coupon can not be redeemed by multiple customers. <br>
<strong>One single redemption</strong> = Only one redemption is possible. No further redemptions will be possible, even if only a small, partial amount was used.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Use</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>single orders</strong>, <a href="/en/order-processing/orders/scheduler"><strong>subscriptions</strong></a> or both.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Minimum order value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The minimum order value that needs to be reached in order for the coupon to be redeemed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Validity</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Starting date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The date when the campaign should be activated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ending date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The date when the campaign should be deactivated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Code validity in weeks</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Decide how many weeks the coupon codes should remain valid. For example, enter 12 if you want the coupon codes to be valid for 12 weeks. There is a difference between the validity selected here and the starting / ending dates selected above. For example, the validity can be one year (entry: 52) and the campaign can be started and ended as many times as desired throughout the year.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Coupon[#22]</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Coupon type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Coupon</strong> or <strong>Voucher</strong>. <br>
The difference here is that <strong>coupons</strong> are redeemed in the online store and <strong>vouchers</strong> are redeemed through third parties. Vouchers are especially popular in the hotel industry where they are simultaneously used as reservations. <br>
<strong>Note</strong>: Not all of the options will be displayed if <strong>Voucher</strong> is selected as the coupon type. You will only see the options that are relevant to vouchers.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Code assignment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only visible if you selected <strong>Voucher</strong> as the coupon type. <br>
Decide whether you would prefer to <strong>Generate new code(s)</strong> or <strong>Use existing code(s)</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Coupon variety</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Coupon for special offers</strong> or <strong>Gift card</strong>. This determines how coupons are redeemed and displayed in PDF documents. <br>
Select <strong>Gift card</strong> for campaigns with coupons that are sold in the online store. <br>
This setting also influences how the coupon is calculated in the online store. <a href="/en/order-processing/orders/coupons#25"><strong>An example demonstrates how coupons influence the calculation of the invoice total</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Code length</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the number of characters for the coupon code. Coupon codes can be <strong>6</strong>, <strong>16</strong> or <strong>24</strong> characters long.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Discount type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the type of discount. <br>
<strong>Fixed amount</strong> = Enter a fixed discount value. <br>
<strong>Percentage</strong> = Enter a percentage that should be deducted from the invoice amount. For example, enter 10 if a 10 percent discount should be given on the invoice. <br>
<strong>Piece</strong> = Enter a number of items, e.g. 3 items for the price of 2. <br>
<strong>Shipping</strong> = Free shipping is applied to the order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Discount value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the discount value for the coupon. If you enter a fixed discount value, then select whether the <strong>shipping costs</strong> should be included as well.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Filter</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Items coming from price comparison portals</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Permit</strong> = Coupons are also valid for items coming from <a href="/en/omni-channel/multi-channel"><strong>price comparison portals</strong></a>, i.e. items that are offered simultaneously on other markets. <br>
<strong>Do not permit</strong> = Coupons can not be used for items coming from price comparison portals (default).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Categories</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the categories that the coupon should be redeemable for. If a category is selected, then all of its sub-categories are selected as well.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add up to 20 items. This allows you to create coupon campaigns that can only be redeemed for specific items. Enter the item ID in the text field and click on the green plus icon. This creates a new entry in the item list. The list displays the item ID and a delete icon. Repeat these steps as many times as necessary until all of the items have been added. <br>
<strong>Link</strong> = Click on the item ID to open the item data record. <br>
<strong>Delete icon</strong> = Deletes the item from the list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Clients (stores)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <a href="/en/omni-channel/online-store/setting-up-clients"><strong>Clients (stores)</strong></a>. The coupon will be valid for the selected stores. You need to select at least one client.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer classes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <a href="/en/crm/managing-customer-data#100"><strong>Customer classes</strong></a>. The coupon will be valid for the selected classes. You need to select at least one customer class.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer types</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <a href="/en/crm/managing-customer-data#300"><strong>Customer types</strong></a>. The coupon will be valid for the selected types. You need to select at least one customer type.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Email template</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Variable</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a variable for <a href="/en/crm/sending-emails"><strong>email templates</strong></a> (see below). The option <strong>No variable</strong> is selected by default. Once a variable has been selected, it can no longer be used for other campaigns.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: settings for a new coupon campaign</em></p>
</div>
<div class="sect2">
<h3 id="25">5.1. Example for calculating coupons for special offers and gift cards</h3>
<div class="paragraph">
<p>The <strong>Coupon variety</strong> is selected in the <strong>Coupon</strong> area within the <strong>Settings</strong> tab. The coupon value will be calculated differently depending on which coupon variety is selected. For example, <strong>coupons for special offers</strong> are calculated similarly to discounts.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example</div>
<div class="paragraph">
<p>A customer receives a coupon for €15 and then purchases items in the online store totaling €25 excluding VAT. The customer purchases 2 items. One of the items costs €17.95 and is taxed at a rate of 19% VAT. The other item costs €7.05 and is taxed at a rate of 7% VAT. If the customer uses a <strong>gift card</strong>, then the coupon value will be subtracted from the total including taxes. If the customer uses a <strong>coupon for special offers</strong>, then the coupon value will be subtracted first and then the remaining amount will be taxed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Gift card</th>
<th class="tableblock halign-left valign-top">Coupon for special offers</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amount before subtracting the coupon value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>€28.91 including VAT</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>€25 excluding VAT</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amount after subtracting the coupon value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>€13.91 including VAT</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>€10 excluding VAT</p>
</div>
<div class="paragraph">
<p>€11.56 including VAT</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Remaining amount to be paid by the customer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>€13.91</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>€11.56</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: comparison of coupons for special offers and gift cards</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Searching for campaigns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Campaigns</strong> tab provides you with an overview of the most important information about existing campaigns.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>End</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the date when the campaign will be deactivated. This is not the same thing as the code validity, which is described in table 2 under <strong>Code validity in weeks</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Coupon variety</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Refer to the explanations in table 2 and to the example underneath table 2 for further information about the coupon varieties <strong>Coupon for special offers</strong> and <strong>Gift card</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Concept</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The concept specifies whether a coupon can only be redeemed once or multiple times. Pay attention to the information given in table 2.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Redemptions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The red number stands for the number of redeemed coupons. The green number stands for the number of coupons that have not yet been redeemed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on the green arrow on the right side of a line to export campaign data in a CSV file.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: important values in the campaign overview</em></p>
</div>
<div class="paragraph">
<p>Search for campaigns by selecting the desired search parameters in the <strong>Filter</strong> tab and clicking on <strong>Search</strong>. If you do not change the default filter settings, then all of the campaigns will be searched for and displayed. Use the search filters <strong>ID</strong> and <strong>Coupon code</strong> if you want to search for campaigns that have a specific ID or that contain specific coupon codes.</p>
</div>
<div class="paragraph">
<p>The menu <a href="/en/order-processing/orders/managing-sales-orders#order-search"><strong>Orders » Edit orders</strong></a> also includes a search filter for coupon codes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Generating coupon codes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The coupon generator is found in the <strong>Codes</strong> tab. There are two ways to generate coupon codes with the coupon generator. They are described below.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Valid characters for coupon codes</div>
<div class="paragraph">
<p>Coupon codes may contain any combination of lower and upper case letters, numbers and the special characters _ and -.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="70">7.1. Manually generating coupon codes</h3>
<div class="paragraph">
<p>Use this function to generate several coupon codes at the same time. The codes are automatically generated and added to the code list.</p>
</div>
<div class="paragraph instruction">
<p>Manually generating coupon codes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on the campaign for which you want to generate coupon codes.</p>
</li>
<li>
<p>Click on the <strong>Codes</strong> tab.</p>
</li>
<li>
<p>Use the left box to enter the <strong>quantity</strong> of coupon codes that you want to generate.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The coupon codes will be generated and added to the list of coupon codes further below.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">More codes than redemptions</div>
<div class="paragraph">
<p>The number of open coupons can exceed the maximum number of redemptions. As such, there may still be open coupon codes left over once the maximum number of redemptions has been reached. These codes can no longer be redeemed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="80">7.2. Manually entering external coupon codes or coming up with your own codes</h3>
<div class="paragraph">
<p>Here, you can add your own codes to the list of coupon codes. On the one hand, these can be codes that you received and that were not generated here. On the other hand, these can be individual codes that you came up with on your own.</p>
</div>
<div class="paragraph instruction">
<p>Manually entering coupon codes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on the campaign for which you want to enter a coupon code.</p>
</li>
<li>
<p>Click on the <strong>Codes</strong> tab.</p>
</li>
<li>
<p>Use the right box to enter a <strong>Code</strong> between 6 and 24 characters.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The coupon codes will be generated and added to the list of coupon codes further below.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">7.3. Editing coupon codes with the data exchange</h3>
<div class="paragraph">
<p>Use the data format <strong><a href="/en/basics/data-exchange/data-formats/campaigncoupon">CampaignCoupon</a></strong> to quickly <strong><a href="/en/basics/data-exchange/exporting-data">export</a></strong>, edit and <strong><a href="/en/basics/data-exchange/importing-data">import</a></strong> coupon codes.
The data exchange allows you to import large quantities of coupon codes at once rather than to enter them manually one after the other.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">8. Inserting coupon codes directly into emails</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Coupon codes can automatically be embedded in emails. When sending an email, a new coupon code will always be generated and sent.
As such, every customer can be sent an automatically generated coupon code with the newsletter as well. <br>
The particular campaign first has to be assigned a <a href="/en/omni-channel/online-store/cms-syntax#basics-template-variables"><strong>template variable</strong></a> for this purpose, e.g. <strong>CouponCode1</strong>.</p>
</div>
<div class="paragraph">
<p>Then, the template variable <strong>$CouponCode1</strong> can be entered into an <a href="/en/crm/sending-emails#1200"><strong>email template</strong></a>.
A new coupon will automatically be created for the selected campaign every time the email is sent.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">One variable per campaign</div>
<div class="paragraph">
<p>Each template variable can only be assigned to one campaign.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Assigning a template variable emplate fo a campaign.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on the campaign that you want to add a variable to. <br>
→ The <strong>settings</strong> tab of a campaign der Kampagne includes a small <strong>Email template</strong> section.</p>
</li>
<li>
<p>Select a <strong>variable</strong> from the drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110">9. Selling coupons</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you can sell coupons, for example as gift cards in your online store, you first need to create a <a href="/en/order-processing/orders/coupons#20"><strong>coupon campaign</strong></a> and set the coupon variety to <strong>Gift card</strong> (table 2).
Additional prerequisites are that you configure a free text field and a coupon template for the campaign.
Pay attention to the explanations given in this chapter and carry out the settings as desired.</p>
</div>
<div class="sect2">
<h3 id="120">9.1. Creating items for coupons</h3>
<div class="paragraph">
<p>Now create an <strong><a href="/en/item/managing-items">item for the coupon</a></strong> and give it the name <strong>Coupon1</strong>, for example. Enter a price and a short description. Link the coupon item to a category. If needed, create an individual category for coupons.<br>
These parameters will be displayed in the online store just like for any other item.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">9.2. Linking the coupon item to a campaign</h3>
<div class="paragraph">
<p><a href="/en/item/managing-items#70"><strong>Free text fields</strong></a> are used to link campaigns to coupon items.
Proceed as described below to link the coupon item to the free text field <strong>Kampagne ID</strong>.</p>
</div>
<div class="paragraph">
<p>First, define a free text field.</p>
</div>
<div class="paragraph instruction">
<p>Defining the free text fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Free text fields</strong>.</p>
</li>
<li>
<p>Enter <strong>Kampagne ID</strong> as field name.</p>
</li>
<li>
<p>Select the data type <strong>number</strong>.</p>
</li>
<li>
<p>Enter the character length.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Only Kampagne ID may be entered as name.</div>
<div class="paragraph">
<p>Pay attention to the exact writing of the name, including capital and small letters. The space between Kampagne and ID is also required. No other names or spellings are allowed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Next define the free text field as campaign field.</p>
</div>
<div class="paragraph instruction">
<p>Define campaign field:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Coupons</strong>.</p>
</li>
<li>
<p>Select <strong>Kampagne ID</strong> as <strong>campaing field</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Link your campaign to a coupon item.</p>
</div>
<div class="paragraph instruction">
<p>Linking the coupon item to a campaign:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the coupon item.</p>
</li>
<li>
<p>Click on the <strong>Fields</strong> tab.</p>
</li>
<li>
<p>Find the free text field that was created for coupon campaigns in the menu <a href="/en/order-processing/orders/coupons"><strong>System » Orders » Coupons</strong></a>. In this field, enter the ID of the campaign that you want to link to this item.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="140">9.3. Configuring coupon templates</h3>
<div class="paragraph">
<p>You can create a coupon template for a campaign within its <strong>Templates</strong> tab. In other words, you can save a different template for each campaign. The template is the background that is displayed on coupons that you create and save as PDF files. Use the <strong>Coupon layout</strong> submenu to specify which elements should be displayed on the coupon and where they should be positioned. To do so, proceed as follows.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">PDF version</div>
<div class="paragraph">
<p>plentymarkets currently supports PDF versions 1.4 and lower.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Saving a coupon template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Coupons</strong>.</p>
</li>
<li>
<p>Click on the campaign for which you want to edit the template.</p>
</li>
<li>
<p>Click on the <strong>Templates</strong> tab.</p>
</li>
<li>
<p>Open the <strong>Coupon template</strong> submenu.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong> next to the words <strong>Document template Upload</strong>.</p>
</li>
<li>
<p>Select the desired document.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
<strong>Tip:</strong> You will see a message confirming that the upload was successful. Please contact our support if you do not see a confirmation message and you receive an error message when clicking on <strong>Display template</strong>. In some cases, the module for selling coupons may not have been activated in your system.</p>
</li>
<li>
<p>Open the <strong>Coupon layout</strong> submenu.</p>
</li>
<li>
<p>Enter values for the <strong>X</strong> and <strong>Y coordinates</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
<strong>Tip:</strong> You will see a message confirming that the information was saved. Click on <strong>Display preview</strong> to get an idea of what the coupon will look like. Correct the values as needed until you are satisfied with the result.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Setting</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Explanation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Character set</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose between the character sets <strong>ISO-8859-1</strong> and <strong>Unicode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Coordinates and font sizes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the coordinates and select the font sizes for the coupon texts.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 5: options for configuring coupon templates</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Coordinates</div>
<div class="paragraph">
<p>The <strong>x coordinate</strong> defines the left page margin. The <strong>y coordinate</strong> defines the top margin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="150">9.4. Generating coupons</h3>
<div class="paragraph">
<p>Customers can buy coupons the same way that they buy normal items. As soon as your customer has purchased the coupon, he or she can enter the text for the coupon template.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Note</div>
<div class="paragraph">
<p>In order for a customer to save a personalized text for a coupon, he or she will have to click on the <strong>Change</strong> button within the <strong>My account</strong> area of the online store. Inform your customers of this procedure by saving instructions in the item description.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Once your customer has purchased the coupon, he or she can edit the coupon text as follows.</p>
</div>
<div class="paragraph instruction">
<p>Editing the coupon text in the My account area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the online store.</p>
</li>
<li>
<p>Open the <strong>My account</strong> area and then navigate to the <strong>Order history</strong> area.</p>
</li>
<li>
<p>Open the order containing the coupon.</p>
</li>
<li>
<p>Click on <strong>Change</strong> for the particular item.</p>
</li>
<li>
<p>Enter a <strong>Recipient</strong>, <strong>Sender</strong> and <strong>Text</strong> here. <br>
→ The information that is entered will be displayed on the coupon template.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Once the customer has paid for the coupon, the PDF template will be made available to download. This can be recognized by the PDF symbol.</p>
</div>
<div class="paragraph">
<p>After the PDF document was created by clicking on the <strong>Create a PDF</strong> button, the customer can directly print or save the coupon.</p>
</div>
</div>
<div class="sect2">
<h3 id="160">9.5. Automatically sending coupons as PDF attachments</h3>
<div class="paragraph">
<p>It is useful to send coupons in the form of PDF attachments, e.g. if you offer gift cards or travel vouchers in your online store.</p>
</div>
<div class="paragraph">
<p>If you sell coupons (gift cards) that you do not want to provide as PDF attachments in the My account area, but would rather send via email, then use an <strong>event procedure</strong> to generate and send the coupons. You need to have an <a href="/en/crm/sending-emails#1200"><strong>email template</strong></a> that you use for sending the email. Open the template and select the type <strong>Voucher</strong> from the <strong>PDF attachment</strong> drop-down menu. The coupon will automatically be attached to the email template as a PDF attachment.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Requirements for sending a coupon with an event procedure</div>
<div class="paragraph">
<p>You need a coupon campaign for this purpose. You have to save the campaign for the item in question using a free text field.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong><a href="/en/crm/sending-emails">System » Client » Select client » Email » Templates</a></strong>.</p>
</li>
<li>
<p>Click on <strong>New email template</strong>.</p>
</li>
<li>
<p>Enter a name for the template in the <strong>New email template</strong> window, e.g. <strong>Travel voucher</strong>.</p>
</li>
<li>
<p>Select an <strong>owner</strong> or select the setting <strong>All</strong> from the drop-down menu. <br>
→ The email template will be created, sorted in the list and opened.</p>
</li>
<li>
<p>Select <strong>Voucher</strong> as the PDF attachment.</p>
</li>
<li>
<p>Click on the <strong>email message</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>Subject</strong> and <strong>Content</strong>.</p>
</li>
<li>
<p>Use template variables to add information like the name of the customer. However, do not insert the coupon template variable <strong>CouponCode</strong>, as you wish to send the coupon as an attachment.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Sending coupons with an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong><a href="/en/basics/automation/event-procedures">Settings » Orders » Event procedures</a></strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> in the lower left corner to create a new event procedure.</p>
</li>
<li>
<p>Enter a <strong>name</strong>, e.g. <strong>Generate &amp; send coupon</strong>.</p>
</li>
<li>
<p>Select the option <strong>Payment &gt; Complete</strong> as the <strong>event</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The event procedure will be created.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to create a <strong>filter</strong> of the filter type <strong>Order &gt; Order type</strong>. <br>
→ The filter will be created.</p>
</li>
<li>
<p>Mark <strong>Order</strong> in the order type filter.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to create a <strong>filter</strong> of the filter type <strong>Item &gt; Item is included</strong>. <br>
→ The filter will be created.</p>
</li>
<li>
<p>Within the filter, click on <strong>Add</strong> and enter the ID of the item which the event procedure should take effect for.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to add a <strong>procedure</strong> of the procedure type <strong>Documents &gt; Generate gift card</strong>. <br>
→ This procedure will only be carried out for paid orders.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to add a <strong>procedure</strong> of the procedure type <strong>Order &gt; Change status</strong>.</p>
</li>
<li>
<p>Select the desired <strong>status</strong> in the procedure.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to add a <strong>procedure</strong> of the procedure type <strong>Customer &gt; Send email</strong>.</p>
</li>
<li>
<p>Within the procedure select your <strong>desired email template</strong> and select <strong>Customer</strong> as the recipient.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="170">9.6. Displaying the coupon total on invoices</h3>
<div class="paragraph">
<p>Each coupon that is sold will be displayed as an individual stock unit on the invoice. In order for the total value of redeemed coupons to be displayed on the invoices, you need to take a look at the invoice’s layout and make sure that you entered text into the field name next to the words <strong><a href="/en/order-processing/orders/settings/documents#1">Coupon value (net)</a></strong>.</p>
</div>
</div>
</div>
</div>
</main>