<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_basic_settings"><span>1.</span><span> Basic settings</span></a></li>
<li><a href="#_case_examples"><span>2.</span><span> Case examples</span></a>
<ul class="sectlevel2">
<li><a href="#_multi_order_per_customer"><span>2.1.</span><span> Multi-order per customer</span></a></li>
<li><a href="#_multi_order_per_customer_class"><span>2.2.</span><span> Multi-order per customer class</span></a></li>
</ul>
</li>
<li><a href="#_generating_a_multi_order"><span>3.</span><span> Generating a multi-order</span></a>
<ul class="sectlevel2">
<li><a href="#_generating_one_multi_order_per_customer_class"><span>3.1.</span><span> Generating one multi-order per customer class</span></a></li>
<li><a href="#_generating_one_multi_order_per_customer"><span>3.2.</span><span> Generating one multi-order per customer</span></a></li>
</ul>
</li>
<li><a href="#_generating_a_multi_invoice"><span>4.</span><span> Generating a multi-invoice</span></a>
<ul class="sectlevel2">
<li><a href="#_fulfillment_settings"><span>4.1.</span><span> Fulfillment settings</span></a></li>
<li><a href="#_generating_a_multi_invoice_2"><span>4.2.</span><span> Generating a multi-invoice</span></a></li>
<li><a href="#_automatically_generating_a_multi_invoice_with_an_event_procedure"><span>4.3.</span><span> Automatically generating a multi-invoice with an event procedure</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Multi-orders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>System » Orders » Order types » Multi-order</strong> to configure the basic settings for <strong><a href="/en/order-processing/orders/multi-orders">multi-orders</a></strong>. The settings in this menu are the basic settings for all multi-orders. For example, you can specify which order types and order statuses should be available for multi-orders.</p>
</div>
<div class="paragraph instruction">
<p>Configuring multi-orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order types » Multi-order</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order types</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which order types should be available for multi-orders (multiple selection possible). It is only possible to use the order types listed here for multi-orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which options you want to use for the <strong>item text</strong> column of the stock units that belong to a multi-order (multiple selection possible). The selected options will be listed separately for each individual order within the multi-order. This ensures that the options can easily be connected to the correct customers and orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sort orders by</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the individual orders should be sorted within the multi-order. These orders can be sorted by their order ID or the date when outgoing items were shipped. Each of these options can be chosen in ascending or descending order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status of orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which status of orders should be taken into consideration for multi-orders (multiple selection possible). We recommend creating an individual order status to specifically target orders that are intended for multi-orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status of credit notes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which status of credit notes should be taken into consideration for multi credit notes (multiple selection possible).</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: options for multi-orders</em></p>
</div>
<div class="paragraph">
<p>Use the menu <strong>Orders » Multi-orders</strong> to gather unpaid orders and compile them into one multi-order. It is possible to generate multi-orders for specific customers or for specific customer classes. You will be able to generate multi-invoices within the multi-orders.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_basic_settings">1. Basic settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <a href="/en/order-processing/orders/multi-orders"><strong>System » Orders » Order types » Multi-order</strong></a> and edit the basic settings for multi-orders before you begin working with this function. Furthermore, go to <a href="/en/order-processing/orders/_basic-settings"><strong>System » Orders » Settings</strong></a> and use the option <strong>Standard status for multi-order</strong> to specify which order status should be given to multi-orders when they are generated. The status <strong>[13] Multi-order</strong> is recommended. The following case examples illustrate how to work with this function.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_case_examples">2. Case examples</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following case examples are only a few possibilities for working with multi-orders.</p>
</div>
<div class="sect2">
<h3 id="_multi_order_per_customer">2.1. Multi-order per customer</h3>
<div class="paragraph">
<p>Some customers may not want to pay every invoice individually, but would rather pay one large invoice each month or each quarter. The orders are processed as normal and the items are sent. However, the orders remain unpaid for. When you are ready to generate a multi-order for the customer, open the customer data record and click on the <strong>Multi-order</strong> icon. A multi-invoice can then be generated within the multi-order’s <strong>Receipts</strong> tab.</p>
</div>
</div>
<div class="sect2">
<h3 id="_multi_order_per_customer_class">2.2. Multi-order per customer class</h3>
<div class="paragraph">
<p>Some companies may not want to receive an invoice every time one of their employees purchases something in your online store. Rather, the company may prefer one monthly invoice for all of its employees' purchases. Set up a special customer class for this situation. The invoice recipient is specified by saving a customer ID in the customer class. The multi-invoice is generated directly within the corresponding multi-order and sent to this invoice recipient.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_a_multi_order">3. Generating a multi-order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is only possible to create a multi-order for orders that have not been paid yet. Go to <strong>Orders » Edit orders</strong> or open a customer data record and click on the <strong>Orders</strong> tab. Then use the <strong>Order status</strong> filter to search for unpaid orders. For example, you can search for orders that are in status <strong>[3] Waiting for payment</strong>. There are two different ways to generate multi-orders. Both methods are explained below.</p>
</div>
<div class="sect2">
<h3 id="_generating_one_multi_order_per_customer_class">3.1. Generating one multi-order per customer class</h3>
<div class="paragraph">
<p>Go to <strong>Orders » Multi-orders</strong> to generate a multi-order for a particular customer class and time period. All of the unpaid orders will be collected for the customer class and put together in a multi-order. In the customer class settings, use the <strong>Customer ID</strong> option to specify which customer should be owner of this customer class. In other words, which customer should receive the multi-invoice. Depending on the workflow in your own company, it may be a good idea to create special <a href="/en/crm/managing-contacts#15">customer classes</a> for multi-orders.</p>
</div>
<div class="paragraph instruction">
<p>Generating a multi-order for a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Multi-orders</strong>.</p>
</li>
<li>
<p>Open the <strong>Generate multi-orders</strong> submenu.</p>
</li>
<li>
<p>Select the <strong>Customer class</strong> and a <strong>Period</strong> (optional).<br>
→ The time period refers to the date when the order was received.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to generate a multi-order.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Orders-Multi-Orders-01.png" alt="EN Orders Multi Orders 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: multi-order with multi-invoice</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_generating_one_multi_order_per_customer">3.2. Generating one multi-order per customer</h3>
<div class="paragraph">
<p>Open a specific customer data record to generate a multi-invoice for this customer.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Orders-Multi-Orders-02.png" alt="EN Orders Multi Orders 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: generating a multi-order</em></p>
</div>
<div class="paragraph">
<p>There you will find the function directly in the header of the <strong>Customer data</strong> tab. Click on the <strong>Multi-order</strong> icon to generate a multi-order that includes all of the currently unpaid orders.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Check orders</div>
<div class="paragraph">
<p>If you want to check whether a customer still has unpaid orders that could be included in a multi-order, then you can search for this customer’s unpaid orders in the <strong>Orders</strong> tab.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_generating_a_multi_invoice">4. Generating a multi-invoice</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, you will learn how to configure and generate multi-invoices. It is only possible to create multi-invoices within the corresponding multi-orders.</p>
</div>
<div class="sect2">
<h3 id="_fulfillment_settings">4.1. Fulfillment settings</h3>
<div class="paragraph">
<p>You can configure multi-invoices in the <strong><a href="/en/order-processing/orders/_basic-settings">System » Client » Select client » Locations » Select location » Documents » Multi-invoice</a></strong> menu. In this menu, you can specify detailed settings for the document and you can also save a <strong><a href="/en/order-processing/orders/order-documents">document template</a></strong> in the form of a PDF file. Customize the template as desired. For example, you may want to copy the values that are saved in the <strong>Invoice</strong> template and then make adjustments to these values as needed here.</p>
</div>
</div>
<div class="sect2">
<h3 id="_generating_a_multi_invoice_2">4.2. Generating a multi-invoice</h3>
<div class="paragraph">
<p>A multi-invoice can be generated within the multi-order’s <strong>Receipts</strong> tab.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/EN-Orders-Multi-Orders-03.png" alt="EN Orders Multi Orders 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: generating a multi-invoice</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_automatically_generating_a_multi_invoice_with_an_event_procedure">4.3. Automatically generating a multi-invoice with an event procedure</h3>
<div class="paragraph">
<p>The event procedures menu contains an event called <strong>Multi-order generated</strong> and a corresponding procedure called <strong>Generate multi-invoice</strong>. Proceed as described below to create an event procedure for automatically generating multi-invoices.</p>
</div>
<div class="paragraph instruction">
<p>Creating an event procedure for multi-invoices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> in the lower left corner to create a new event procedure.</p>
</li>
<li>
<p>Enter a name, e.g. <strong>Generate multi-invoices</strong>.</p>
</li>
<li>
<p>Select <strong>Order generation &gt; New multi-order</strong> as the <strong>event</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event procedure will be created.</p>
</li>
<li>
<p>Click on the green plus icon to add a procedure of the procedure type <strong>Documents &gt; Generate multi-invoice</strong>. Within this procedure, you can select when the payment is due and determine an early payment discount.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>