<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Kennzahlen in der plentymarkets App einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du willst wissen wie viele Aufträge du diesen Monat verkauft hast? Oder wie viele neue Kunden hinzugekommen sind? In PlentyPOS kannst du dir ganz einfach, die wichtigsten Kennzahlen auf der Startseite der App anzeigen lassen.
In der folgendenden Übersicht sollen einige der wichtigen Kennzahlen vorgestellt werden.</p>
</div>
<div class="paragraph">
<p>Als erstes musst du dir eine sogenannte <code>Seite</code> auf der Startseite einrichten und benennen. Du benötigst mindestens eine. Um diese anzulegen klickst du im Dashboard der PlentyPOS-App oben rechts auf den Stift und auf <strong>neue Seite hinzufügen</strong>. Benenne es z.B. in <code>Tagesübersicht</code>.
Anhand eines Beispiels mit Umsatz sollen hier die notwendigen Schritte gezeigt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiel_umsatz_anzeigen">Beispiel: Umsatz anzeigen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke rechts auf den Stift und auf <strong>neue Kennzahlen hinzufügen</strong></p>
</li>
<li>
<p>Das Kennzahlenmenü öffnet sich und wähle im Dropdown <strong>Umsatz</strong> aus</p>
</li>
<li>
<p>Klickst du auf das nun erstelle Feld, kannst du weitere Einstellungen vornehmen</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Standardmäßig ist eine Zeitspanne von 30 Tagen eingestellt. Du kannst auch eine andere Spanne wählen z.B. <code>Heute</code>.
Weitere Einstellmöglichkeiten sind u.a.: Namen, Farbe, Status, Mandant und Auftragsherkunft. Benötigst du diese Kennzahl nicht mehr, lässt es sich in den Einstellungen ebenfalls löschen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/assets/kennzahlen.jpg" alt="30-Tage Übersicht">
</div>
</div>
<div class="paragraph">
<p>Weitere Informationen welche von PlentyPOS unterstützt werden und nach dem gleichen Schema eingerichtet werden können sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>durchschnittliche Aufträge</p>
</li>
<li>
<p>Neue Kundentypen</p>
</li>
<li>
<p>Verkaufte Artikel</p>
</li>
<li>
<p>unzugeordnete Zahlungen</p>
</li>
<li>
<p>Aufträge</p>
</li>
<li>
<p>unbezahlte Aufträge</p>
</li>
<li>
<p>Neue Artikel</p>
</li>
<li>
<p>Durchschnittlicher Umsatz</p>
</li>
<li>
<p>Durchschnittlich Verkaufte Artikel</p>
</li>
<li>
<p>Artikel pro Auftrag</p>
</li>
<li>
<p>Aktive Listings</p>
</li>
<li>
<p>Gestartete Listings</p>
</li>
<li>
<p>Wareneingänge</p>
</li>
<li>
<p>Meldebestand</p>
</li>
</ul>
</div>
</div>
</div>
</main>