<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Kundenstatistiken</h1><p>Willkommen im Themenbereich Kundenstatistiken. Hier finden Sie folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/basics/statistik/kundenstatistiken/gesamtumsatz">Gesamtumsatz</a></li><li><a href="/basics/statistik/kundenstatistiken/umsatz-kategorie">Umsatz Kategorie</a></li><li><a href="/basics/statistik/kundenstatistiken/umsatz-herkunft-auftrag">Umsatz Herkunft Auftrag</a></li></ul>
</main>