<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 12. Januar 2022</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 06. Januar 2022 bis zum 12. Januar 2022 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort steht dir der Standardformat <strong>Lager</strong> als Katalog für den Export der Daten zur Verfügung. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/lagerdaten-exportieren">Lagerdaten exportieren</a>.</p>
</li>
<li>
<p>Du kannst ab jetzt nur eine bestimmte Ebene eines Lagers exportieren.</p>
</li>
</ul>
</div>
<h2 id="_änderungen" class="discrete">Änderungen</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In Vorbereitung auf eine künftige plentyWarehouse Version <a href="https://forum.plentymarkets.com/t/wagenkennung-fuer-picklisten-in-verbindung-mit-plentywarehouse-trolley-tag-for-pick-lists-in-combination-with-plentywarehouse/665426" target="_blank" rel="noopener">gab es eine Anpassung an den Picklisten</a>. Daher sind schon jetzt die folgenden Berechtigungen notwendig, wenn ihr die Aktion Picklisten-Suche nutzt:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Aufträge &gt; Fulfillment &gt; Picklisten &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Aufträge &gt; Fulfillment &gt; Picklisten &gt; Bearbeiten</strong></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Editieren von Auftragspositionen wurde bei Bestelleigenschaften vom Typ <strong>Auswahl</strong> unter Umständen der Name des ausgewählten Wertes auf den Namen der erste Auswahloption gesetzt (die ID wurde aber nicht verändert). Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_auftragsanlage_beta" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>In der Auftragsanlage (beta) kann die Option <strong>Nur Artikel mit gültigem Preis anzeigen</strong> nun als Fillter gespeichert werden.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Die Variable <strong>Retourenpaketnummer</strong> im EmailBuilder gab in der gesendeten E-Mail keinen Inhalt aus. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Upload von Vorlagen im Bereich der Dokumente konnten nicht die korrekten Zahlungsarten ausgewählt werden. Dies wurde angepasst, sodass dort nun alle aktiven Zahlungsarten angezeigt werden.</p>
</li>
<li>
<p>Wenn man einen Lieferschein für ein bestimmtes Lager erzeugt hat, dann fehlten die Bestelleigenschaften auf dem Dokument. Das wurde behoben.</p>
</li>
<li>
<p>Für Bestelleigenschaften vom Typ <strong>Zeichenkette</strong> wurde unter Umständen der Wert als Datum auf den Dokumenten ausgegeben. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Der Filter <strong>Anzahl Positionen</strong> hat die Bestelleigenschaften einer Variantenposition auch als Position gezählt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Wechsel zwischen unterschiedlichen Zahlungen in der UI wurden einige Inhalte nicht aktualisiert:</p>
<div class="ulist">
<ul>
<li>
<p>Angaben in <strong>Details</strong></p>
</li>
<li>
<p>Inhalt in <strong>Zuordnung</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Das Verhalten wurde behoben.</p>
</div>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Plugins können jetzt wieder gelöscht werden.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde für die Bestellung (Nachbestellungen / Umbuchungen) ein Benutzerrecht zum Löschen von Bestellungen hinzugefügt. Vorher wurde nur geprüft, ob Benutzer:innen das Recht zum Aktualisieren besitzen.</p>
</li>
<li>
<p>Es ist nun möglich im Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Aufträge</strong> zu konfigurieren, welche <strong>Standardnamen für Auftragspositionen bei Auftragsanlage</strong> genutzt werden. Diese Einstellung ist ein Fallback und wird genutzt, wenn bei der Anlage eines Auftrags kein Name für die Auftragspositionen übergeben wird.</p>
</li>
</ul>
</div>
<h3 id="_dashboard" class="discrete">Dashboard</h3>
<div class="ulist">
<ul>
<li>
<p>Für das plentyBI Dashboard wurde das neue Element <strong>Wichtige Ankündigungen aus dem Forum</strong> hinzugefügt. Wenn du dieses Element auf deinem Dashboard platzierst, werden dir Beiträge, die im Forum global oder in einer Kategorie angepinnt und mit dem Tag important versehen wurden, in einem eigenen Bereich auf dem Dashboard angezeigt. Per Klick auf den Eintrag wirst du direkt zum entsprechenden Beitrag im Forum weitergeleitet. Dort kannst du den kompletten Text des Beitrags lesen und bei Bedarf Rückfragen klären.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/dashboard-forum-ankuendigung.png" alt="Wichtige Ankündigungen aus dem Forum." width="640"></span></p>
</div>
<div class="paragraph">
<p>Weitere Informationen und eine Anleitung zum Hinzufügen des Elements auf deinem Dashboard findest du auf der Handbuchseite <a href="/business-entscheidungen/plenty-bi/myview-dashboard#1100">Dashboard</a>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Im Auftragsexport gibt es nun die Möglichkeit den Auftragsstatus zu ändern. Nach dem Export eines Auftrags wird dieser dann in den ausgewählten Auftragsstatus verschoben.</p>
</li>
<li>
<p>In den Katalogformate <strong>Aufträge</strong> und <strong>Bestellungen</strong> kann man jetzt das Gewicht einer Auftragsposition (zur Menge 1) exportieren.</p>
</li>
</ul>
</div>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_auftragsanlage_beta_2" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Auswahl der Zahlungsarten: Initial wurde nach einem Leerzeichen gefiltert, sodass nur Zahlungsarten gelistet wurden, die ein Leerzeichen im Namen haben. Jetzt werden alle verfügbaren Zahlungsarten gelistet.</p>
</li>
<li>
<p>Die Bestandswarnung wird jetzt nur noch angezeigt, wenn die Variante auf netto Bestand beschränkt ist.</p>
</li>
<li>
<p>Das Mengenfeld in der Artikelsuche wurde um 50% verbreitert.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen_2" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Wurden in der Ereignisaktion Filter wie <strong>Kundenklasse</strong> oder <strong>Kundentyp</strong> gesetzt, so hat bei Statusänderung in der Nachbestellung die Aktion <strong>E-Mail senden</strong> die E-Mail nicht versendet. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Wenn in der Ereignisaktion im Filter ein einzelner Lieferant eingestellt war, sendete die Aktion <strong>E-Mail senden</strong> die E-Mail nicht korrekt: Wenn die geschäftliche E-Mail-Adresse des Kontakts eingestellt war, wurde die E-Mail nicht an die geschäftliche E-Mail-Adresse des Kontakts gesendet. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn beim Import kein Format für Datumsangaben definiert ist, dann wurde ein zu importierendes Datum komplett ignoriert und stattdessen das aktuelle Datum genommen. Nun wird das zu importierende Datum auf das Standard-Format <code>Y-m-d H:i:s</code> umgestellt und korrekt importiert.</p>
</li>
</ul>
</div>
<h3 id="_plugins_2" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn die Installation eines Plugins fehlschlägt, wird die Schaltfläche zum Installieren jetzt wieder anklickbar. Das bedeutet, dass du nach einer fehlgeschlagenen Installation die Seite nicht neu laden musst.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In den Prozessen wurden Unter-Herkünfte in den Filtern nicht automatisch berücksichtigt, wenn nur die Haupt-Herkunft ausgewählt wurde. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Anlage der Lagerorte und Dimensionen haben die Kombinationen aus Buchstaben nicht richtig funktioniert. Der Fehler wurden nun behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/b2bshop_6574" target="_blank" rel="noopener">B2B Shop</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/conradextension_6948" target="_blank" rel="noopener">Conrad</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.19</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/deepl_5900" target="_blank" rel="noopener">DeepL - Für professionelle Übersetzungen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dotsliderwidget_54878" target="_blank" rel="noopener">Dot Slider - Präsentieren Sie mehrere Angebote auf Ihren Bannern</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaynba_6141" target="_blank" rel="noopener">eBay NBA</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das eBay OAuth2 Plugin ist für das eBay NBA Plugin nicht mehr erforderlich, da es in den Kern von plentymarkets umgezogen wurde. Es ist nun erforderlich, die OAuth2-Kontodaten im Menü <strong>Einrichtung » Märkte » eBay » Konten » OAuth2</strong> zu speichern, wenn noch nicht geschehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/etsy_4689" target="_blank" rel="noopener">Etsy</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.13</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wesiocatalog_6759" target="_blank" rel="noopener">Kataloggenerator - Kataloge schnell und einfach erstellen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/matrixvarianten_6620" target="_blank" rel="noopener">Mehrere Varianten gleichzeitig in den Warenkorb legen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plentybase_5053" target="_blank" rel="noopener">plentyBase</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.8.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wichtig:</strong> Diese Version beinhaltet die aktuellste Version der log4j-Abhängigkeit, sodass plentyBase nicht mehr anfällig für die im Dezember bekannt gewordenen Sicherheitslücken ist. Weitere Informationen zum Thema findet ihr unter anderem in der <a href="https://www.bsi.bund.de/DE/Service-Navi/Presse/Pressemitteilungen/Presse2021/211211_log4Shell_WarnstufeRot.html" target="_blank" rel="noopener">offiziellen Pressemitteilung des Bundesamtes für Sicherheit in der Informationstechnik</a>. <strong>Diese Version wird im Laufe des Januars zu einem Pflichtupdate.</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/takemore_6184" target="_blank" rel="noopener">Takemore.net</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/uniservaddresscleansing_6869" target="_blank" rel="noopener">Uniserv Address Cleansing</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div><div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab">
<div class="paragraph">
<p>Am Mittwoch, den 13.01.2022, wurde die Version 1.11.22 der plentymarkets App im PlayStore und AppStore veröffentlicht.</p>
</div>
<h2 id="_behoben_3" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in Version 1.11.22 der <strong>plentymarkets App</strong> behoben.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn am POS eine Zahlung mit SumUp abgewickelt wurde, wechselte die Ansicht mehrfach zwischen Hoch- und Querformat. Dieses Verhalten wird wird nun unterbunden.</p>
</li>
<li>
<p>Bei der Abwicklung einer Zahlung mit Zettle by PayPal am POS konnte es vorkommen, dass die Zahlung nicht korrekt angelegt wurde. Dieser Fehler wurde behoben.</p>
</li>
<li>
<p>Die Zahlungshistorie in der Auftragssuche konnte auf Grund eines Fehlers nicht geladen werden. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div></div>
</main>