<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 26. Januar 2022</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 20. Januar 2022 bis zum 26. Januar 2022 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_allgemein" class="discrete">Allgemein</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist nun möglich, einen Filter als Standard festzulegen. Dies ermöglicht Dir folgender Button im Menü der Filter-Bookmarks:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/filter-lesezeichen.png" alt="Sternsymbol bei geöffnetem Filter" width="640"></span></p>
</div>
<div class="paragraph">
<p>Hast Du einen Filter als Standard festgelegt, wird dieser auf die Suche angewendet, sobald die jeweilige Tabelle geöffnet wird. Beachte: Es kann nur ein Filter als Standard festgelegt werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Bezugskosten einer Nachbestellung lassen sich nun als <code>purchaseOrder.properties</code> mit den entsprechenden Typen exportieren.</p>
</li>
<li>
<p>Es wurde ein neuer Datumsfilter <strong>Zahlungsziel</strong> für die Formate <strong>Aufträge</strong> und <strong>Bestellungen</strong> eingeführt.</p>
</li>
<li>
<p>Bei Exporten mit dem Format Warenwirtschaft kannst du ab jetzt alles exportieren, das unterhalb einer bestimmten Dimensionsebene vorhanden ist.</p>
</li>
</ul>
</div>
<h3 id="_neckermann_at" class="discrete">Neckermann.at</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Artikel » Artikel Bearbeiten » Artikel öffnen » Tab: Multi-Channel » Bereich: Neckermann.at Enterprise</strong> wurden neue Provisionsmodelle ergänzt:</p>
<div class="ulist">
<ul>
<li>
<p>299A</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt in einer Übersicht sehen, welche Container-Verknüpfungen in einem Plugin gesetzt sind. Das bedeutet für dich, dass du nicht mehr durch einzelne Datenanbieter klicken musst, um die Verknüpfungen einzusehen. Es ist auch möglich, bestehende Verknüpfungen direkt in der Übersicht zu entfernen.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/aktive-container-verknuepfungen.png" alt="Separate Liste aller aktiven Container-Verknüpfungen" width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_zahlungen" class="discrete">Zahlungen</h3>
<div class="ulist">
<ul>
<li>
<p>In der Detailansicht einer Zahlung im Menü <strong>Aufträge » Zahlungsverkehr</strong> ist es nun möglich in der Zuordnungstabelle die Spalte <strong>Rechnungsnummer</strong> der gefundenen Aufträge anzeigen zu lassen.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Einstellen der eBay-Rahmenbedingungen in plentymarkets unter <strong>Einrichtung » Märkte » eBay » Rahmenbedingungen</strong> konnten früher die eBay-Plattformen <strong>BEFR</strong> (Belgien/Französisch), <strong>BENL</strong> (Belgien/Niederländisch) und <strong>CAFR</strong> (Kanada/Französisch) ausgewählt werden. Jetzt gibt es in den Einstellungen für die eBay-Rahmenbedingungen in plentymarkets nur noch zwei Optionen:</p>
<div class="ulist">
<ul>
<li>
<p><strong>BE</strong> für Belgien</p>
</li>
<li>
<p><strong>CA</strong> für Kanada</p>
<div class="paragraph">
<p><em>Hintergrund:</em> Aufgrund einer Umstellung bei eBay werden die Plattformen <strong>BEFR</strong>, <strong>BENL</strong> und <strong>CAFR</strong> in Zukunft nicht mehr unterstützt. Zurzeit können beim Erstellen von Rahmenbedingungen direkt auf eBay die Plattformen <strong>BEFR</strong>, <strong>BENL</strong> und <strong>CAFR</strong> aber noch gewählt werden.</p>
</div>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Wichtig!</div>
<div class="paragraph">
<p>Die neuen Rahmenbedingungen für <strong>BE</strong> sind identisch mit den alten Rahmenbedingungen für <strong>BENL</strong>. Deine bereits erstellten Rahmenbedingungen für <strong>BENL</strong> sind jetzt also unter den Rahmenbedingungen für <strong>BE</strong> gespeichert.
Rahmenbedingungen für <strong>BEFR</strong> werden in plentymarkets nicht mehr unterstützt.</p>
</div>
<div class="paragraph">
<p><em>Hinweis:</em> Beim Erstellen eines neuen Listings in plentymarkets können weiterhin die eBay-Plattformen <strong>Belgien (FR)</strong>, <strong>Belgien (NL)</strong> und <strong>Kanada (FR)</strong> ausgewählt werden. Im Versandprofil, das mit dem Listing verknüpft ist, sind jedoch die Rahmenbedingungen für die Plattformen <strong>BE</strong> und <strong>CA</strong> gespeichert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>plentyBase 1.8.2 ist ab sofort als Mindestversion notwendig, um die Prozesse zu nutzen.</p>
</li>
</ul>
</div>
<h3 id="_mercateo" class="discrete">Mercateo</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher war der Dateityp für Bilder auf JPG beschränkt. Dies wurde jetzt um PNG und GIF erweitert.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher wurden beim Aufruf des Assistenten für die Zalando Kontoeinstellungen über einen API-Abruf geprüft, welche Verkaufskanäle für den Händler verfügbar sind und für diese dann entsprechende Auswahlmöglichkeiten und Schritte im Assistenten angezeigt. Durch ein neues API Limit auf diesem Endpunkt, kann es durch mehrmaliges Aufrufen des Assistenten hintereinander zu Fehlern kommen, weil das API-Limit erreicht ist. Um diesem entgegenzuwirken, werden die verfügbaren Verkaufskanäle jetzt über einen stündlichen Prozess geprüft und aktualisiert, sodass der Assistent selber nur noch eine direkte Anfrage über die API von Zalando schickt, wenn dieser Prozess noch nicht gelaufen ist, nachdem das Konto durch uns mit dem zDirect-Konto verknüpft wurde.</p>
<div class="paragraph">
<p>Die einzige Auswirkung der Änderung ist, dass sollte ein neuer Verkaufskanal für euch freigeschaltet werden, kann es dann bis zu einer Stunde dauern, bis dieser in plenty eingestellt werden kann.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn die Artikeltabelle einer Nachbestellung mehr als eine Seite hatte, führte eine Mengenänderung oder das Erstellen einer Teillieferung auf einer anderen Tabellenseite als der ersten dazu, dass die Tabelle erneut geladen wurde und die Ansicht zur ersten Seite der Tabelle zurücksprang. Dies ist nun behoben.</p>
</li>
<li>
<p>Bei Gastbestellungen mit unterschiedlicher Rechnungs- und Lieferadresse hat das Ändern der Adressdaten bei nicht gesperrten Aufträgen keine Neuermittlung der Steuersätze geführt. Dies wurde behoben.</p>
</li>
<li>
<p>Bei Nachbestellung wurde im Bereich <strong>Warenbewegungen</strong> bei klicken auf eine Buchungs-ID nur in die UI von <strong>Wareneingänge</strong> verlinkt, jetzt wird der entsprechende Wareneingang direkt geöffnet.</p>
</li>
<li>
<p>Unter den Warenbewegungen in einer Nachbestellung wurden seit kurzem keine Vorschläge mehr für den Lagerort vorgeschlagen. Dies wurde behoben.</p>
</li>
<li>
<p>Beim Löschen eines Artikels in der Tabelle Warenbewegungen wurde zwar die Bestätigungsmeldung angezeigt, der Artikel wurde aber nicht gelöscht. Dies ist nun behoben.</p>
</li>
<li>
<p>Man konnte keine Lieferaufträge mit Mengen mit Dezimalwerten anlegen, die Menge wurde auf die nächst kleinere Zahl gerundet. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>In einigen CRM-Menüs war die Anzeige des Eignernamens nicht konsistent; einmal wurde der Benutzername angezeigt, in anderen UIs der reale Name. Wir haben die Anzeige des Eignernamens in den CRM-Menüs vereinheitlicht. Ab sofort wird in den folgenden Menüs der reale Name statt des Benutzernamens angezeigt:</p>
<div class="ulist">
<ul>
<li>
<p>im Filterbereich der Schnellsuche</p>
</li>
<li>
<p>im Filterbereich der Kontakt-UI</p>
</li>
<li>
<p>beim Anlegen eines neuen Kontakts</p>
</li>
<li>
<p>in der Detailansicht des Kontakts</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Die Namen der POS Zahlungsarten (Barzahlung (ID 4), Kartenzahlung (ID 11), Gutscheine (ID 1700)) die über das Plugin <strong>plentyPOS Zahlungsarten</strong> angepasst werden konnten wurden nicht auf Dokumenten (Rechnung) dargestellt. Dies wurde behoben.</p>
</li>
<li>
<p>In der Auswahl der Zahlungsarten für die PDF-Vorlagen wurden die inaktiven Zahlungsarten nicht mehr angezeigt, auch wenn in den Einstellungen <strong>Inaktive Plugin-Zahlungsarten anzeigen</strong> gesetzt war. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>OTTO beschränkt die Anzahl der Zeichen auf 180 je Aufzählungspunkt (Bullet Point). Um einen Status-Update-Fehler zu umgehen, kürzen wir zu lange Aufzählungspunkte bereits im Export für dich. Wenn Umlaute verwendet wurden, wurde die Kürzung bereits ab weniger Zeichen vorgenommen, da die Umlaute nicht korrekt gezählt wurden. Dieses Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_versand" class="discrete">Versand</h3>
<div class="ulist">
<ul>
<li>
<p>Bei mehr als einem Versandpaket im Auftrag wurden die Labels mehrfach in der PDF-Datei angezeigt, wenn man das Retourenlabel im Versand-Center 2.0 über die Übersicht heruntergeladen hat. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Zahlungszuordnung in der Detailansicht für Zahlungen ist es jetzt über ein Kontextmenü möglich, Zahlungen direkt einem Auftrag zuzuordnen und Aufträge zu suchen.</p>
</li>
</ul>
</div>
<h3 id="_plugins_2" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt in jedem Plugin-Set eine Beschreibung hinterlegen. Die Beschreibung wird zusätzlich in der Plugin-Set-Übersicht als Tooltip angezeigt. Das bedeutet für dich, dass du jetzt wichtige Notizen direkt am Plugin-Set hinterlegen kannst.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/plugin-set-beschreibung.png" alt="Textfeld für Beschreibungen" width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_versand_2" class="discrete">Versand</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Lieferländer</strong> wurde die Sprache Finnisch hinzugefügt.</p>
</li>
<li>
<p>Im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versanddienstleister</strong> wurden im Bereich Filter die Sprachen Finnisch und Schwedisch hinzugefügt.</p>
</li>
<li>
<p>Ab sofort wird das Gewicht der Artikel-Sets beim Erstellen des Pakets im Versand-Center berücksichtigt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_bol_com" class="discrete">bol.com</h3>
<div class="ulist">
<ul>
<li>
<p>Die von plenty verwendeten API Endpunkte von bol.com wurden auf die Version 6 angepasst. Davon ausgeschlossen sind alleine die API Endpunkte für die Produkterstellung und -aktualisierung (nicht zu verwechseln mit den Angeboten). Diese werden zu einem späteren Zeitpunkt von der Version 5 auf die Version 6 angehoben, da dort größere Anpassung durch eine Änderung in der Produktstruktur notwendig ist.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Verwendung der Filter Anzahl Auftragspositionen und Anzahl Gesamt-Artikelmenge im Arbeitsschritt Auftragsabwicklung kam es in Kombination mit Bestelleigenschaften zu falschen Zählergebnissen. Dieses Verhalten wurde behoben, sodass die Artikelpositionen bzw. deren Gesamtmenge wieder richtig gezählt werden.</p>
</li>
</ul>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Import von Kontaktdaten wurde für das Feld <strong>Externe Nummer</strong> der Wert immer in Kleinbuchstaben gespeichert und angezeigt. Dieses Verhalten wurde behoben, sodass nun auch Großbuchstaben gespeichert werden.</p>
</li>
</ul>
</div>
<h3 id="_pos" class="discrete">POS</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Laden eines Bestandskunden, an dem eine Adresse außerhalb Deutschlands hinterlegt war, wurde diese fälschlicherweise auch als Lieferadresse für den Auftrag übernommen. Dieses Verhalten wurde behoben. Nun wird korrekterweise die Adresse des für die Kasse hinterlegten Standardkunden für Kassenaufträge als Lieferadresse für solche Aufträge verwendet.</p>
</li>
</ul>
</div>
<h3 id="_prozesse_2" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Wurde die Subaktion Auftragsnotizen hinzufügen im Fehlerfall benutzt, wurden die Notizen an allen Aufträgen anstatt nur an fehlerhaften Aufträgen hinterlegt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/addressdoctor_6106" target="_blank" rel="noopener">AddressDoctor</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.21</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/itemgridwidget_55036" target="_blank" rel="noopener">Artikel-Listen Raster, Slider oder Einzeldarstellung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/d2gpmpluginchangeorderwarehouse_54968" target="_blank" rel="noopener">Auftragslagerwechsel Plugin</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytcookielesstracking_7059" target="_blank" rel="noopener">Ceres Google Tracking - 100% Datenqualität, DSGVO konform</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/deepl_5900" target="_blank" rel="noopener">DeepL - Für professionelle Übersetzungen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/infinityscroller_6660" target="_blank" rel="noopener">Endlos-Scrollen in Artikellisten</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/hermesshippinginterface_5437" target="_blank" rel="noopener">Hermes</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.22</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.61</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent Toolbox</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.6.14</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytcustomitemlistpages_54920" target="_blank" rel="noopener">Quick &amp; Easy Artikelliste für Newsletter Kampagnen, Aktionen, Direktvertrieb u.v.m.</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/woocommerce_5102" target="_blank" rel="noopener">woocommerce.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>