<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Accessing the domain assistant</span></a></li>
<li><a href="#100"><span>2.</span><span> Choosing the domain type</span></a></li>
<li><a href="#_naming_the_domain"><span>3.</span><span> Naming the domain</span></a></li>
<li><a href="#210a"><span>4.</span><span> Choosing the client</span></a></li>
<li><a href="#120"><span>5.</span><span> Saving the domain handle</span></a></li>
<li><a href="#160"><span>6.</span><span> Current DNS settings</span></a></li>
<li><a href="#domain-mailserver"><span>7.</span><span> Choosing additional settings</span></a></li>
<li><a href="#130"><span>8.</span><span> Deleting or cancelling domains</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Domains</h1><div id="preamble">
<div class="sectionbody">
<div id="domain" class="paragraph">
<p>plentymarkets includes an assistant that helps you manage your domains.
You can use the assistant for example to create new domains or sub-domains and to migrate existing domains.
Please note that such tasks are usually completed by a <em>system administrator</em>.
This page is quite technical since it serves as a reference for system administrators and helps them complete their administrative tasks in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Requirement: active contract</div>
<div class="paragraph">
<p>Before you can link a domain, you need to have an active <a href="/en/business-decisions/your-contract">contract with plentymarkets</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Service Centre was removed</div>
<div class="paragraph">
<p>Perhaps you can remember previously managing your domains in the menu <strong>plentymarkets Logo (Start) » Service centre</strong>. The Service Centre was phased out.
Domains are now managed with the help of an assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Availability after initial setup or changes</div>
<div class="paragraph">
<p>It can take up to 24 hours until all of the settings are available on all systems.
This is because the servers need to be restarted periodically and the data is not distributed in the cloud immediately.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="#table-example-domains">Table 1</a> includes explanations of the various domain types.</p>
</div>
<table id="table-example-domains" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Examples of domains</caption>
<colgroup>
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Addition</th>
<th class="tableblock halign-left valign-top">Example name</th>
<th class="tableblock halign-left valign-top">TLD</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Domain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yourstore</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.com</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The word "domain" refers to an Internet address in the form of a name and an extension, i.e. the top level domain. The name can be chosen freely. A domain is unique, i.e. the exact same domain may never be used twice. Therefore, when registering a desired domain, e.g. with a hosting service provider, it is necessary to check whether the domain has already been used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subdomain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">info.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yourstore</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.com</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can create as many subdomains as you want for a domain. Subdomains do not need to be registered. Subdomains use variations of the domain name. They are either placed in front of or behind the domain name and they are separated from it with a period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional domains</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">your-store<br>
your_store</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.com</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional domains are e.g. created with alternative names of the main domain. Additional domains redirect to the main domain. This ensures that the domain is also found if it is spelled differently. For example, the additional domain <strong>your-store.com</strong> would redirect customers to the main domain <strong>yourstore.com</strong>, even if they spelled it with a hyphen. The names and top level domains can be chosen freely for additional domains. Every additional domain receives the main domain’s IP address.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">1. Accessing the domain assistant</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Basic setup</strong>.</p>
</li>
<li>
<p>Click on the domain assistant.<br>
→ If you’ve already configured domains, then you’ll see them listed here.</p>
</li>
<li>
<p>Click on an existing domain to open its settings. Or click on <strong>New configuration</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>The domain settings will vary depending on which <a href="#70">type of domain</a> you work with. In other words, you might not see all of the settings described on this page while you configure the domain in your plentymarkets system.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Choosing the domain type</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#50">Open the domain assistant</a> and navigate to the step <strong>Domain type</strong>.</p>
</li>
<li>
<p>Choose the desired domain type. The steps and settings of the assistant will change depending on which domain type you choose. Expand the info box below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) if you need additional information about one of the options.</p>
</li>
<li>
<p>Ready to continue? Click on <strong>Next</strong> <span class="icon blue"><i class="fa fa-angle-right  "></i></span></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Additional information about the individual options</strong></div>
<div class="content">
<table id="table-assistant-domains" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">I want to…​</th>
<th class="tableblock halign-left valign-top">Additional information</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order a new domain, hosted by plentysystems</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You will receive an email when registering a .com domain. This email will ask you to confirm the WHOIS data that was entered. This email is sent to the email address that was entered under ADMIN-C in the handle data (WHOIS). If you do not receive an email, check that the email address is available and working.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add a new domain, hosted externally</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this option to link an existing, external domain with the plentymarkets system. The domain’s IP address will be displayed in the overview of domains. Then save the <a href="#160">DNS data</a> in your hosting service provider’s DNS zone area. If there is an IPv6 A Record in your externally managed domain, then remove this IPv6 A-Record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add a new subdomain to an existing domain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can create as many subdomains as you want for a domain. You do not need to register these subdomains. For example, if you have the domain <strong>yourstore.com</strong>, then you could create the subdomain <strong>info.yourstore.com</strong> to provide special information about your online store with this domain. Use the drop-down list to select which main domain you want to link with the subdomain. Select the corresponding plentymarkets system as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transfer an existing domain to plentysystems</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The processing times may vary depending on the Top Level Domain:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For <strong>.de</strong> domains: up to 24 hours</p>
</li>
<li>
<p>For <strong>.com</strong> and <strong>.net</strong> domains: 3 to 7 days</p>
</li>
<li>
<p>For <strong>.eu</strong> domains: up to 5 days</p>
</li>
<li>
<p>You will receive an email if you relocate a <strong>.com</strong> or <strong>.net</strong> domain. The email will ask you to confirm the relocation. This email is sent to the email address that was entered under ADMIN-C in the handle data (WHOIS). If you do not receive an email, check that the email address is available and working. If the email address no longer exists, then ask your current domain provider to change the email address.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_naming_the_domain">3. Naming the domain</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#50">Open the domain assistant</a> and navigate to the step <strong>Name the domain</strong>.</p>
</li>
<li>
<p>Enter the desired domain name.</p>
</li>
<li>
<p>Select the appropriate domain options. Expand the info box below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) if you need additional information about one of the options.</p>
</li>
<li>
<p>Ready to continue? Click on <strong>Next</strong> <span class="icon blue"><i class="fa fa-angle-right  "></i></span></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Additional information about the individual options</strong></div>
<div class="content">
<div class="paragraph">
<p>Which settings are displayed here depends on which <a href="#100">type of domain</a> you selected in the previous step.</p>
</div>
<table id="table-assistant-domains-names" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the desired domain name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Top Level Domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the top level domain (TLD) from the drop-down list, e.g. <strong>co.uk</strong> or <strong>com</strong>.
You will see information about how much this domain will cost per month.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Confirm purchase</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Toggle the button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) to purchase the domain for the price shown.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Main domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you are creating a new subdomain for an existing main domain, then select the main domain from this list here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Authcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the authcode from your previous provider.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="210a">4. Choosing the client</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Here you can link the domain to a plentymarkets system or change a system link. If you set up multiple domains, you can select which one should be used as the main domain for each plentymarkets client. The URL will then be displayed in the browser’s address line. This is also the case for the other domains. It can take up to 24 hours until all of the settings are available on all systems.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Switching the main domain</div>
<div class="paragraph">
<p>If you switch the main domain, then change the URL accordingly on all platforms and in the interface settings in your plentymarkets system, e.g. in the settings for payment providers.<br>
In addition, go to <a href="/en/payment/managing-bank-details#70">Setup » Orders » Payment » EBICS</a> and save the data there once again, in order to update the basic settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Linking an external system</div>
<div class="paragraph">
<p>You cannot link a plentymarkets system with an external server if the domain is your main domain. In this case, select a different main domain before proceeding.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking a plentymarkets system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#50">Open the domain assistant</a> and navigate to the step <strong>Choose the client</strong>.</p>
</li>
<li>
<p>Use the drop-down list to select which plentymarkets system you want to link the domain to. If you use your own server, select the setting <strong>External server</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter the IP address (A-Record) of the external server.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Toggle the button (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) if you want this to be the client’s primary domain.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="120">5. Saving the domain handle</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#50">Open the domain assistant</a> and navigate to the step <strong>Domain-Handle</strong>.<br>
<strong><em>Note:</em></strong> This step only appears if you selected <strong>Order a new domain, hosted by plentysystems</strong> in the step <a href="#100">Domain type</a>.</p>
</li>
<li>
<p>Enter the contact details of the domain owner.</p>
</li>
<li>
<p>Ready to continue? Click on <strong>Next</strong> <span class="icon blue"><i class="fa fa-angle-right  "></i></span></p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Telephone and fax number must be formatted correctly</div>
<div class="paragraph">
<p>Make sure you correctly format the telephone and fax number.
Otherwise it will not be possible to complete the domain assistant and you will receive an error message.</p>
</div>
<div class="paragraph">
<p>Use the following format for the telephone and fax number:<br>
<code>+(CountryCode)(AreaCode)(TelephoneNumber)</code><br>
Example: +4956198681100</p>
</div>
<div class="paragraph">
<p>If you don’t have a fax number, then enter the telephone number instead.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="160">6. Current DNS settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your domain’s DNS settings are displayed here.
DNS is short for Domain Name System. DNS allows people to access your website by entering its domain name instead of by entering its numerical IP address.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Practical example: Checking and modifying the DNS settings</div>
<div class="paragraph">
<p>You can find further information about DNS settings in <a href="/en/business-decisions/system-administration/dns-help">this practical example</a>. The page guides you step by step through the process of finding and modifying your current DNS entries.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Saving DNS settings with external domain providers</strong></div>
<div class="content">
<div class="paragraph">
<p>If your domain is hosted by an external provider, you need to save the DNS settings of your plentymarkets system with your external domain provider.</p>
</div>
<div class="paragraph">
<p>Here you can access the DNS settings and then save them with your external provider.</p>
</div>
<div class="paragraph instruction">
<p>Accessing the DNS settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#50">Open the domain assistant</a> and navigate to the step <strong>Current DNS Settings</strong>.<br>
<strong><em>Note:</em></strong> This step only appears if you selected <strong>Add a new domain, hosted externally</strong> in the step <a href="#100">Domain type</a>.</p>
</li>
<li>
<p>Take a look at the DNS settings. These settings are explained in the table.</p>
</li>
<li>
<p>Log into the service area of your domain provider.</p>
</li>
<li>
<p>Copy the DNS settings shown in plentymarkets into the relevant fields of the domain provider.<br>
→ Check the documentation of the domain provider on how to do this.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> It can take up to 72 hours to process these changes. plentymarkets cannot influence this duration.</p>
</div>
<table id="table-account-dns-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DNS source</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of DNS entry<br>
<strong>A</strong> =  Assigns an IPv4 address<br>
<strong>CNAME</strong> = Assigns a different host</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The target of the entry.<br>
IP address = The IP address of the plentymarkets system.<br>
CNAME = The address of the AWS load balancer endpoint that provides elastic load balancing, i.e. autoscaling.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>External domain: Updating DNS settings for autoscaling</strong></div>
<div class="content">
<div class="paragraph">
<p>If your domain is hosted by an external provider, you need to update the DNS settings of your plentymarkets system with your external domain provider to benefit from autoscaling. Proceed as described below to edit the DNS settings of the external domain.</p>
</div>
<div class="paragraph instruction">
<p>Modifying the DNS settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#50">Open the domain assistant</a> and navigate to the step <strong>Current DNS Settings</strong>.<br>
<strong><em>Note:</em></strong> This step only appears if you selected <strong>Add a new domain, hosted externally</strong> in the step <a href="#100">Domain type</a>.</p>
</li>
<li>
<p>Take a look at the DNS settings. These settings are explained in the table.</p>
</li>
<li>
<p>Check if there is a CNAME entry with the alias xxxx.eu-central-1.elb.amazonaws.com.<br>
→ If this CNAME entry exists, the system is ready for AutoScaling. Continue with the next step.</p>
</li>
<li>
<p>Log into the service area of your domain provider.</p>
</li>
<li>
<p>Copy the DNS settings shown in plentymarkets into the relevant fields of the domain provider.<br>
→ Check the documentation of the domain provider on how to do this.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> It can take up to 72 hours to process these changes. plentymarkets cannot influence this duration.</p>
</div>
<table id="table-account-dns-settings-2" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DNS source</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of DNS entry<br>
<strong>A</strong> =  Assigns an IPv4 address<br>
<strong>CNAME</strong> = Assigns a different host</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The target of the entry.<br>
IP address = The IP address of the plentymarkets system.<br>
CNAME = The address of the AWS load balancer endpoint that provides elastic load balancing, i.e. autoscaling.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="domain-mailserver">7. Choosing additional settings</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#50">Open the domain assistant</a> and navigate to the step <strong>Choose additional settings</strong>.<br>
<strong><em>Note:</em></strong> Which additional settings are displayed depends on how you configured the previous settings in the assistant.</p>
</li>
<li>
<p>Activate the additional settings as needed (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ An additional configuration step appears each time.</p>
</li>
<li>
<p>Expand the info boxes below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) if you need additional information about one of the options.</p>
</li>
<li>
<p>Ready to continue? Click on <strong>Next</strong> <span class="icon blue"><i class="fa fa-angle-right  "></i></span></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Settings for an external mail server</strong></div>
<div class="content">
<div class="paragraph">
<p>Here you’ll save information about the mail server that’s used to send and receive emails. No additional settings are required if you use the mailbox.org mail server. If you use your own server, then save the values for the IP address as well as MX10 through MX40 if available.</p>
</div>
<table id="table-account-parameter-mailserver" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>spf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <a href="https://forum.plentymarkets.com/t/how-to-verhindern-dass-eigene-mails-im-spam-landen-spf-record-anlegen/529178">SPF record</a> for your email provider.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ip</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the incoming mail server’s IP address. Access is provided with the address mail.[yourdomain].com.<br>
<strong><em>Note:</em></strong> Replace <em>[yourdomain].com</em> with your own domain.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>mx10</strong>;<br>
<strong>mx20</strong>;<br>
<strong>mx30</strong>;<br>
<strong>mx40</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the mail server for receiving emails. The server MX10 takes priority. In other words, emails are first sent to mail server MX10. If this mail server is not available, the emails will be sent to the mail server MX20. The lower the MX number, the higher the server’s priority.<br>
<strong><em>Tip:</em></strong> You should save at least two mail servers to ensure that the availability is never compromised. For example, if a server is down or needs to be maintained, emails can still be received with the other server.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Generate an AuthCode</strong></div>
<div class="content">
<div class="paragraph">
<p>You need to have an authentication code for your domain if you switch to a different provider. This auth code proves that you own the domain.</p>
</div>
<div class="paragraph">
<p>Click on <strong>Generate</strong>. The code is generated and displayed in the field <strong>Domain Authcode</strong>.<br>
<strong><em>Note:</em></strong> A domain auth code is valid for 30 days. If you do not use the code during this time, you will have to generate a new code when needed.</p>
</div>
<h3 id="_further_info" class="discrete">Further info</h3>
<div class="paragraph">
<p>If you want to switch to a different webhosting provider, then you will need to carry out a domain name transfer (also known as a KK or auth info procedure in Germany). You need to fill out a standardized form of authorization in order for the domain to be transferred. The German form is called a connectivity coordination application, abbreviated as a KK-Antrag. The connectivity coordination application regulates the switch from one provider to another. The auth info procedure is becoming more and more popular.</p>
</div>
<div class="paragraph">
<p>Please note the following points when switching to a different web hosting provider:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Generate an auth code.</p>
</li>
<li>
<p>Do not delete your previous domain name with your current provider.</p>
</li>
<li>
<p>Tell your current provider about your plans to transfer the domain and let them know that they will soon receive an authorization form.</p>
</li>
<li>
<p>Contact the new provider in regards to the transfer. Your new provider will ask you to sign a form and confirm that you want to transfer the domain.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>It is usually possible to transfer the domain without any problems. The process can be completed in a short amount of time. However, if you have any problems with the domain transfer because of incomplete or unclear data, then your old provider may initially reject the transfer. In such a case, contact the old provider as soon as possible. The current provider can only accept the transfer once there are no further uncertainties.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p><strong>IPS tag</strong>: If you want to transfer your <strong>.uk</strong> or <strong>.co.uk</strong> domain to plentymarkets from a different domain provider, you need to have your current domain provider adapt the IPS tag in advance. Our domain provider’s IPS tag is:</p>
</div>
<div class="paragraph">
<p><strong>UNITEDDOMAINS-DE</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div id="230" class="openblock collapseBox">
<div class="title"><strong>Configure CNAME Records</strong></div>
<div class="content">
<div class="paragraph">
<p>A Canonical Name or CNAME record is a type of DNS record that links an alias name to another canonical domain name. For example, you can use it along with the provider Shopgate to create a mobile version of your online store or you can use it to set up an external email service.</p>
</div>
<div class="paragraph">
<p>This is done by entering a source and a target.
In the example, the source <em>mobile.your-shop.com</em> is the mobile version of the domain <em>your-shop.com</em>. Use the Shopgate subdomain <em>cname.shopgate.com</em> as the target. This CNAME entry ensures that your store will have the correct resolution with Shopgate.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/CNAME-Configuration.png" alt="CNAME Configuration">
</div>
</div>
</div>
</div>
<div id="240" class="openblock collapseBox">
<div class="title"><strong>Configure TXT Records</strong></div>
<div class="content">
<div class="paragraph">
<p>Use the TXT Resource Record to save a user-definable text within a DNS zone. This can be done for your main domain as well as for all sub-domains of your online store. For example, email or newsletter service providers may require such entries. Your service provider will give you the data to be entered.</p>
</div>
<div class="paragraph">
<p>This is done by entering the data that you received from the service provider.</p>
</div>
</div>
</div>
<div id="200" class="openblock collapseBox">
<div class="title"><strong>Configure your own name servers for subdomains</strong></div>
<div class="content">
<div class="paragraph">
<p>Here you’ll enter one or more name servers for a sub-domain. This is done by entering the sub-domain and the domain name of the target server. Please note:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can only save name servers for sub-domains of a main domain.</p>
</li>
<li>
<p>You can enter multiple name servers for a sub-domain. Simply click on the plus symbol again.</p>
</li>
<li>
<p>Enter the name server’s domain name.</p>
</li>
</ul>
</div>
</div>
</div>
<div id="265" class="openblock collapseBox">
<div class="title"><strong>URL forwarding</strong></div>
<div class="content">
<div class="paragraph">
<p>Here you can set up forwarding for an extra charge.
This is done by entering redirect information into the designated field. You can define one redirect per line. Note the following syntax information while entering redirects.
Changes will be published on the web servers within 24 hours.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Redirects will not be used if they contain a file extension (e.g. <code>index.php</code>, <code>myFile.pdf</code>, etc.).</p>
</div>
<h3 id="_structure" class="discrete">Structure</h3>
<div class="paragraph">
<p>Redirects always consist of four parts that are separated by semicolons:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Source;Target;HTTP-code;Option</p>
</li>
</ul>
</div>
<table id="table-forwarding-structure" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Part</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The source path you want to forward from (e.g. <code>/contact/</code>). Use an asterisk <code>*</code> at the end of the source if you want all of the subpages to redirect to the target (e.g. <code>/contact/*</code>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The target path or target URL you want to forward to (e.g. <code>/company/contact/</code> or <code>http://www.external-domain.com/contact/</code>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HTTP code</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The following HTTP codes are supported and interpreted by search engines:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>301: The requested source is now available at the defined target (also called redirect). The old address (source) is no longer valid.</p>
</li>
<li>
<p>304: The contents of the requested resource have not been modified since the last client query. Therefore, the contents are not retransmitted.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You don’t always need to specify an option.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>L: If you specify this option, no additional RewriteRule is run after this one.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h3 id="_examples" class="discrete">Examples</h3>
<table id="table-forwarding-examples" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Redirect</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/mens/*;/fashion/mens/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All URLs that start with <code>/mens/</code> are forwarded to the URL <code>/fashion/mens/</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/mens/trousers/;/fashion/mens/trousers/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The URL <code>/mens/trousers/</code> is forwarded to the URL <code>/fashion/mens/trousers/</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/mens/basics-*;/fashion/mens/*;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All URLs that start with <code>/mens/basic</code> are forwarded to the URL <code>/fashion/mens/…</code>​.<br>
<strong><em>Note:</em></strong> In this example, the part of the source URL that starts with <code>basics-</code> is appended to the target URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/;https://www.external-blog.com/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The homepage is forwarded to the URL <code>https://www.external-blog.com/</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/*;https://www.external-blog.com/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All URLs, including the homepage, are forwarded to the URL <code>https://www.external-blog.com/</code>.<br>
<strong><em>Note:</em></strong> Never set this redirect for your main store. Otherwise the plentymarkets admin will no longer be accessible. However, you can use this redirect for additional clients (stores) without any problem.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>/blog/*;https://www.external-blog.com/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All URLs that start with <code>/blog/</code> are forwarded to the URL <code>https://www.external-blog.com/</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>^/fashion/trousers/$;/fashion/mens/trousers/;301;L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This rule only applies to the address <code>your-domain.com/fashion/mens/</code> without anything before or after. The circumflex <code>^</code> symbolises the beginning of the string and the dollar sign <code>$</code> symbolises the end of the string. Use this syntax if you have multiple lines of redirects that have e.g. <code>/fashion/trousers/</code> as the source URL and you want to avoid undesired redirects or endless redirects.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="130">8. Deleting or cancelling domains</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Basic setup</strong>.</p>
</li>
<li>
<p>Click on the domain assistant.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) in the upper right corner of the box.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling the main domain</div>
<div class="paragraph">
<p>Only cancel your main domain if you also want to cancel your plentymarkets system’s contract. Otherwise, save a new main domain.<br>
If you want to cancel your system contract, please note the cancellation deadlines. If you cancel your main domain too early, the domain’s contract might end earlier than the system’s contract. The system will no longer be available in this case, even though the contract has not ended yet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling a client</div>
<div class="paragraph">
<p>If you cancel a client, the domains associated with this client are also cancelled. To continue using these domains, link them to a different client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>