<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Upcoming EOL dates</span></a></li>
<li><a href="#20"><span>2.</span><span> Past EOL dates</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>EOL: End of software maintenance and provisioning</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page provides you with an overview of functions and areas within plentymarkets that have been slated for termination.
This overview does not replace the <a href="/en/changelog">changelog</a> or the forum thread within a particular category in the <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">plentymarkets Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Rather, this page provides a central overview to ensure that this kind of information does not get lost due to the large number of threads in the plentymarkets forum.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Upcoming EOL dates</h2>
<div class="sectionbody">
<table id="table-upcoming-eol-dates" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Upcoming EOL dates</caption>
<colgroup>
<col style="width: 42.8571%;">
<col style="width: 14.2857%;">
<col style="width: 14.2857%;">
<col style="width: 14.2857%;">
<col style="width: 14.2858%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Area/function</th>
<th class="tableblock halign-left valign-top">End of software maintenance</th>
<th class="tableblock halign-left valign-top">End of provisioning<sup class="footnote">[<a id="_footnoteref_1" class="footnote" href="#_footnotedef_1" title="View footnote.">1</a>]</sup></th>
<th class="tableblock halign-left valign-top">Further information</th>
<th class="tableblock halign-left valign-top">Announcement date</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopwareconnector PSC7 (Arvatis)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Jan-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">tba</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Jun-2021</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Non-Plugin payment methods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Jun-2021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Aug-2021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/end-of-life-non-plugin-zahlarten-end-of-life-non-plugin-payment-methods/640916" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Jun-2021</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ceres plugin versions below 5.0.0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">14-April-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31.-Oct-2021</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">22-Jul-2021</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Past EOL dates</h2>
<div class="sectionbody">
<table id="table-past-eol-dates" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Past EOL dates</caption>
<colgroup>
<col style="width: 42.8571%;">
<col style="width: 14.2857%;">
<col style="width: 14.2857%;">
<col style="width: 14.2857%;">
<col style="width: 14.2858%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Area/function</th>
<th class="tableblock halign-left valign-top">End of software maintenance</th>
<th class="tableblock halign-left valign-top">End of provisioning<sup class="footnote">[<a id="_footnoteref_2" class="footnote" href="#_footnotedef_2" title="View footnote.">2</a>]</sup></th>
<th class="tableblock halign-left valign-top">Further information</th>
<th class="tableblock halign-left valign-top">Announcement date</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hermes ProfiPaketService</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31-Mar-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">21-Feb-2021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-der-props-api-hermes-api-durch-hermes-im-februar-2021-deactivation-of-hermes-props-api-in-february-2021/623480" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">22-Jan-2021</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DHL Intraship/Versenden</strong> interface</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">March 2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">17-Feb-2021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-eol-der-dhl-intraship-versenden-schnittstelle-am-03-10-17-februar-2021-announcement-deactivation-eol-of-dhl-intraship-versenden-on-3-10-17-february-2021/602806" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">13-Aug-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data » API log » Shipping centre API log</strong> menu</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15-Jun-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">16-Sep-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-eol-abschaltung-des-bereichs-daten-api-log-versand-center-api-log/602476" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15-Sep-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Callisto (old online store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Sep-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Sep-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/verschiebung-der-abschaltung-vom-individuellen-bestellvorgang-und-vom-alten-webshop-callisto/574682" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07-Mar-2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CRM » Edit customer (deprecated)</strong> menu</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Q1 2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">03-Jun-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-menue-crm-kunden-bearbeiten-deprecated-wird-abgeschaltet/586869" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-Apr-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Callisto: individual order process</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Sep-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">03-Jun-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/verschiebung-der-abschaltung-vom-individuellen-bestellvorgang-und-vom-alten-webshop-callisto/574682" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07-Mar-2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic import (Multi-Channel formats)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31-July-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">06-May-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-dynamischer-import-deactivation-of-the-dynamic-import/576466" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-Mar-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic import (Stock formats)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31-July-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">06-May-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-dynamischer-import-deactivation-of-the-dynamic-import/576466" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-Mar-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DHL Retoure Online</strong> (old integration, not plugin)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">03-May-2020<sup class="footnote">[<a id="_footnoteref_3" class="footnote" href="#_footnotedef_3" title="View footnote.">3</a>]</sup></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/umstellung-dhl-retoure-online-auf-neues-verfahren-plugin-verfuegbar/575687" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">24-Jan-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic import (Order formats)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31-July-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">22-Apr-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-dynamischer-import-deactivation-of-the-dynamic-import/576466" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-Mar-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic import (Item formats)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31-July-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15-Apr-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-dynamischer-import-deactivation-of-the-dynamic-import/576466" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-Mar-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic import (CRM formats)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31-July-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">08-Apr-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-dynamischer-import-deactivation-of-the-dynamic-import/576466" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-Mar-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ElasticSync (legacy) &amp; FormatDesigner (legacy)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15-Nov-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04-March-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-formatdesigner-legacy/576363" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30-Jan-2020</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Solr faceted search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07-Oct-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15-Jan-2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-eol-solr-facettensuche/560769" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07-Oct-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSV import function in the <strong>Orders » Fulfilment » Import of package numbers</strong> menu</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09-May-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15-Nov-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-ersetzen-des-paketnummern-imports-im-bereich-fulfillment-durch-elasticsync-bis-zum-30-06-2019/540409" target="_blank" rel="noopener">Forum link 1</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-paketnummern-import-zum-15-11-2019/559443" target="_blank" rel="noopener">Forum link 2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09-May-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Callisto: standard order process</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Sep-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">13-Sep-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/callisto-deine-tage-sind-gezaehlt-das-eol-steht-fest/222767" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07-Mar-2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Old <strong>EBICS</strong> integration</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Oct-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30-June-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-ebics-schnittstelle-zum-30-06-2019/538653" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">26-Apr-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soap calls <strong>Item/Order/Stock</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>All calls relating to Item, Order and Stock</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Q2 2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ElasticSync plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Feb-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30-Apr-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/plugin-elasticsync-ende-softwarepflege-und-abschaltung/527705" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04-Feb-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP calls <strong>Customer</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>AddCustomerNote<br></p>
</li>
<li>
<p>GetCustomerClasses<br></p>
</li>
<li>
<p>GetCustomerDeliveryAddresses<br></p>
</li>
<li>
<p>GetCustomerOrderOverviewLink<br></p>
</li>
<li>
<p>GetCustomerOrders<br></p>
</li>
<li>
<p>GetCustomerScheduler<br></p>
</li>
<li>
<p>GetCustomers<br></p>
</li>
<li>
<p>GetCustomersNewsletterSubscriptions<br></p>
</li>
<li>
<p>SetCustomerDeliveryAddresses<br></p>
</li>
<li>
<p>SetCustomers<br></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">16-Apr-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31-Jan-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15-May-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/eol-dynamischer-import/525832" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">21-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP calls <strong>Payment</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>AddIncomingPayments<br></p>
</li>
<li>
<p>GetActiveMethodOfPaymentList<br></p>
</li>
<li>
<p>GetIncomingPayments<br></p>
</li>
<li>
<p>GetMethodOfPayments<br></p>
</li>
<li>
<p>SetBankCreditCardData</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">03-Apr-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP calls <strong>Marketplace</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>GetMarketAccounts<br></p>
</li>
<li>
<p>GetMarketDirectories<br></p>
</li>
<li>
<p>GetMarketItemNumbers<br></p>
</li>
<li>
<p>GetMarketListingItemVariants<br></p>
</li>
<li>
<p>GetMarketLogs<br></p>
</li>
<li>
<p>GetMarketShippingProfiles<br></p>
</li>
<li>
<p>GetMarketStoreCategories<br></p>
</li>
<li>
<p>GetMarketplaceTransactions<br></p>
</li>
<li>
<p>SetMarketItemNumbers<br></p>
</li>
<li>
<p>SetMarketListings</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>SOAP-Calls <strong>Dynamic Import/Export</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>SetDynamicExport<br></p>
</li>
<li>
<p>SetDynamicImport<br></p>
</li>
<li>
<p>GetDynamicExport<br></p>
</li>
<li>
<p>GetDynamicFormats<br></p>
</li>
<li>
<p>GetDynamicImportStack</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">27-Mar-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP calls <strong>Categories</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>DeleteCategories<br></p>
</li>
<li>
<p>GetCategories<br></p>
</li>
<li>
<p>GetCategoryBranchID<br></p>
</li>
<li>
<p>GetCategoryMappingForMarket<br></p>
</li>
<li>
<p>GetCategoryPreview<br></p>
</li>
<li>
<p>GetMarketStoreCategories<br></p>
</li>
<li>
<p>UpdateCategoriesBranches<br></p>
</li>
<li>
<p>SetStoreCategories</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-Mar-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP calls (miscellaneous)</p>
</div>
<div class="ulist">
<ul>
<li>
<p>GetRacksList<br></p>
</li>
<li>
<p>SetWarranties<br></p>
</li>
<li>
<p>GetTermsAndCancellation<br></p>
</li>
<li>
<p>GetLegalInformation<br></p>
</li>
<li>
<p>GetDeleteLog<br></p>
</li>
<li>
<p>GetPlentyMarketsVersion<br></p>
</li>
<li>
<p>GetCustomerNotes</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04-Mar-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP calls <strong>Listings</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>DeleteListingsLayoutTemplates<br></p>
</li>
<li>
<p>DeleteListingsProperties<br></p>
</li>
<li>
<p>DeleteListingsTemplates<br></p>
</li>
<li>
<p>GetListings<br></p>
</li>
<li>
<p>GetListingsLayoutTemplates<br></p>
</li>
<li>
<p>GetListingsProperties<br></p>
</li>
<li>
<p>GetListingsTemplates<br></p>
</li>
<li>
<p>GetPartsCompatibilityListings<br></p>
</li>
<li>
<p>SetListings<br></p>
</li>
<li>
<p>SetListingsLayoutTemplates<br></p>
</li>
<li>
<p>SetListingsTemplates<br></p>
</li>
<li>
<p>SetMarketListings<br></p>
</li>
<li>
<p>SetPartsCompatibilityListings<br></p>
</li>
<li>
<p>UpdateListingsRelist<br></p>
</li>
<li>
<p>UpdateListingsStart<br></p>
</li>
<li>
<p>UpdateListingsStop<br></p>
</li>
<li>
<p>UpdateListingsUpdate<br></p>
</li>
<li>
<p>UpdateListingsVerify</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">27.02.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP calls <strong>Email Template</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>DeleteEmailTemplates<br></p>
</li>
<li>
<p>GetEmailFolderList<br></p>
</li>
<li>
<p>GetEmailTemplate<br></p>
</li>
<li>
<p>GetEmailTemplates<br></p>
</li>
<li>
<p>GetFolderEmails<br></p>
</li>
<li>
<p>SetEmailTemplates</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-Feb-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP calls <strong>Ticket</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>AddTicket<br></p>
</li>
<li>
<p>AddTicketLeafe</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">13-Feb-2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Forum link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28-Jan-2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TLS 1.0-Protocol</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30-Sep-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30-Sep-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-des-tls-1-0-protokolls-zum-30-09-2018/500910" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">11-July-2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets version 6</strong><br>
(incl. <strong>plentyConnect</strong> and <strong>plentyShipping</strong>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Sep-2016 (extended until 01-Feb-2017)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Sep-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/plentymarkets-6-hat-eol-erreicht-wartung-fokussiert-sich-auf-plentymarkets-7/40845" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Sep-2016</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20-July-2018<sup class="footnote">[<a id="_footnoteref_4" class="footnote" href="#_footnotedef_4" title="View footnote.">4</a>]</sup></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/package-package-neuer-client-229-beta-package-package/42851" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04-Feb-2017</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">*Classic back end</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15-June-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">11-July-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/schrittweise-abschaltung-classic-backend/495411" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04-June-2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP API versions 112, 113, 114</strong><br>
(plentymarkets 6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">22-May-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-alten-soap-api-versionen/321185" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09-Apr-2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP API versions 105, 109, 110, 111</strong><br>
(plentymarkets 6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23-Apr-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-alten-soap-api-versionen/321185" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09-Apr-2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobile Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23-Apr-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/mobile-warehouse-stirb-langsam-teil-1/177744" target="_blank" rel="noopener">Announcement link 1</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<a href="https://forum.plentymarkets.com/t/mobile-warehouse-stirb-langsam-teil-2/321278" target="_blank" rel="noopener">Announcement link 2</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01-Feb-2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP API versions 105, 109, 110, 111, 112, 113, 114</strong><br>
(plentymarkets)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23-Apr-2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23-Apr-2018<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-alten-soap-api-versionen/321185" target="_blank" rel="noopener">Forum link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09-Apr-2018</p></td>
</tr>
</tbody>
</table>
</div>
</div><div id="footnotes">
<hr>
<div class="footnote" id="_footnotedef_1">
<a href="#_footnoteref_1">1</a>. Date from which the function is no longer available
</div>
<div class="footnote" id="_footnotedef_2">
<a href="#_footnoteref_2">2</a>. Date from which the function is no longer available
</div>
<div class="footnote" id="_footnotedef_3">
<a href="#_footnoteref_3">3</a>. Date specified by the partner
</div>
<div class="footnote" id="_footnotedef_4">
<a href="#_footnoteref_4">4</a>. Along with the end of provisioning of the Classic back end.
</div>
</div>
</main>