<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Hosting data</h1><div class="paragraph">
<p>How much data volume and traffic you have depends on your contract. You will be billed if you exceed the amount of memory available to you. As such, you can track the data volume your plentymarkets system uses at any time.</p>
</div><div class="paragraph">
<p>Usage data is displayed in the menu <strong>plentymarkets Logo (Start) » Hosting</strong>.
Click on one of the sub-menus on the left to access the corresponding data.</p>
</div><h3 id="_information_about_traffic" class="discrete">Information about traffic</h3><div class="paragraph">
<p>Traffic is generated every time a person visits your online store, clicks on various items, clicks on images to enlarge them, downloads files, etc.</p>
</div><div class="paragraph">
<p>Additional traffic is generated in the following cases:</p>
</div><div class="ulist">
<ul>
<li>
<p>When exchanging data with markets.</p>
</li>
<li>
<p>REST calls, since they create connections to the server.<br>
<strong><em>Tip:</em></strong> Depending on the type of call, they may generate a substantial amount of traffic. You should optimize your calls, e.g. so that you do not retrieve all of the information, but rather only the changes.</p>
</li>
<li>
<p>When your website is scanned by <a href="https://en.wikipedia.org/wiki/Web_crawler" target="_blank" rel="noopener">bots</a>. The bots save your pages, which results in traffic. For example, a Google bot does this so that Google can find items from your store along with their descriptions. Bots are controlled by proprietary algorithms, which makes it impossible to predict when such bots will visit your website.<br>
<strong><em>Tip:</em></strong> To take some control of bot behaviour, you can <a href="/en/online-store/setting-up-ceres#203">block bots</a> using the robots.txt file.</p>
</li>
<li>
<p>If your product portfolio has expanded, resulting in more data and images. This will cause more bots to crawl your site.</p>
</li>
</ul>
</div>
</main>