<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Which SSL certificates are available?</span></a></li>
<li><a href="#300"><span>2.</span><span> Prerequisites for booking an SSL certificate</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>2.1.</span><span> Domain</span></a></li>
<li><a href="#500"><span>2.2.</span><span> Active autoscaling</span></a></li>
<li><a href="#700"><span>2.3.</span><span> For subdomains: Existing parent domain</span></a></li>
<li><a href="#800"><span>2.4.</span><span> For external domains: DNS settings</span></a></li>
<li><a href="#900"><span>2.5.</span><span> Remove 301 redirects for '/'</span></a></li>
<li><a href="#1000"><span>2.6.</span><span> No manually created sub-domain for www.</span></a></li>
<li><a href="#1100"><span>2.7.</span><span> Check list</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.</span><span> Ordering an SSL certificate</span></a>
<ul class="sectlevel2">
<li><a href="#1220"><span>3.1.</span><span> With the assistant</span></a>
<ul class="sectlevel3">
<li><a href="#1240"><span>3.1.1.</span><span> Completing the assistant</span></a></li>
<li><a href="#1260"><span>3.1.2.</span><span> Validation process after ordering</span></a></li>
</ul>
</li>
<li><a href="#1280"><span>3.2.</span><span> In the setup menu</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>4.</span><span> Renewing an SSL certificate</span></a></li>
<li><a href="#1400"><span>5.</span><span> Frequently Asked Questions (FAQ)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>SSL certificates</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>An SSL certificate is used to encrypt your website. It provides a secure connection to your website and your online store. An SSL certificate is required for certain markets and for receiving the Trusted Shops certification. You know you’re using an SSL certificate if your website is accessed via <em>https</em>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Which SSL certificates are available?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SSL certificates are offered by independent certificate providers. plentymarkets offers different types of SSL certificates:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://www.websecurity.digicert.com/de/de/security-topics/always-on-ssl">AlwaysOn</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
(DV)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>cheapest SSL certification model</p>
</li>
<li>
<p>issued by DigiCert</p>
</li>
<li>
<p>Length of validity:</p>
<div class="ulist">
<ul>
<li>
<p>6 months</p>
</li>
</ul>
</div>
</li>
<li>
<p>Order it:</p>
<div class="ulist">
<ul>
<li>
<p>In the setup menu</p>
</li>
</ul>
</div>
</li>
<li>
<p>Renewal:</p>
<div class="ulist">
<ul>
<li>
<p>not automatically renewed</p>
</li>
<li>
<p><a href="/en/business-decisions/system-administration/ssl-certificate#1300">should be renewed</a> after 5 months.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://comodosslstore.com/">COMODO</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
(DV)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>globally recognised and trusted certification authority.</p>
</li>
<li>
<p>the certification authority is liable in the event of misuse or loss of data.</p>
</li>
<li>
<p>Length of validity:</p>
<div class="ulist">
<ul>
<li>
<p>1 year</p>
</li>
<li>
<p>for newly ordered certificates, the validity period begins when the certification authority confirms the order.</p>
</li>
<li>
<p>remaining validity cannot be transferred from the previous certificate.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Order it:</p>
<div class="ulist">
<ul>
<li>
<p>In the setup menu</p>
</li>
</ul>
</div>
</li>
<li>
<p>Renewal:</p>
<div class="ulist">
<ul>
<li>
<p>not automatically renewed</p>
</li>
<li>
<p><a href="/en/business-decisions/system-administration/ssl-certificate#1300">should be renewed</a> at the end of the validity period.</p>
</li>
<li>
<p>A reminder email is sent to the hostmaster address 14 days before the certificate officially expires.</p>
</li>
<li>
<p>It’s also possible to receive email reminders. The <a href="https://letsmonitor.org/">LetsMonitor.org</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> service is a free option.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sectigo.com/">Sectigo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
(OV/EV)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>OV and EV certificates entail a more comprehensive verification process, but they also provide more trust.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>OV = Organizational Validation</p>
<div class="ulist">
<ul>
<li>
<p>The certificate authority verifies the company.
In doing so, details such as the company name, location and address are compared with information from the commercial register.</p>
</li>
</ul>
</div>
</li>
<li>
<p>EV = Extended Validation</p>
<div class="ulist">
<ul>
<li>
<p>Considered to be the most secure and trustworthy solution.</p>
</li>
<li>
<p>The certificate authority completes a validation process specified by <a href="https://cabforum.org/extended-validation/">CA/Browser Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Length of validity:</p>
<div class="ulist">
<ul>
<li>
<p>1 year</p>
</li>
</ul>
</div>
</li>
<li>
<p>Order it:</p>
<div class="ulist">
<ul>
<li>
<p>With an assistant</p>
</li>
</ul>
</div>
</li>
<li>
<p>Renewal:</p>
<div class="ulist">
<ul>
<li>
<p>Renewal is not currently possible.
The certificate needs to be renewed in the assistant at the end of the validity period.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h3 id="200" class="discrete">Breakdown of prices</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 16.6666%;">
<col style="width: 16.6666%;">
<col style="width: 16.6666%;">
<col style="width: 16.6669%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-center valign-top">AlwaysOn<br>
DV</th>
<th class="tableblock halign-center valign-top">COMODO<br>
DV</th>
<th class="tableblock halign-center valign-top">Sectigo<br>
OV</th>
<th class="tableblock halign-center valign-top">Sectigo<br>
EV</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Validity period</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">6 months</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1 year</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1 year</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1 year</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Monthly fee</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€2</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€2</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€2</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cost of the SSL certificate</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€0</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€35.70</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€118.80</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€348</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">One-time setup fee</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€0</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€0</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€29</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">€99</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><span class="small">All prices are listed in net.</span></p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Prerequisites for booking an SSL certificate</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="400">2.1. Domain</h3>
<div class="paragraph">
<p>It’s only possible to order an SSL certificate for a primary domain.
In other words, the domain must be listed as a primary domain in the menu <strong>Setup » Assistants » Basic setup » Domain assistant</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Look at your domains with the table view. This will help you recognise which one is the primary domain.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/Primary-Domain.png" alt="Primary Domain">
</div>
<div class="title">Figure 1. Domain assistant with the table view</div>
</div>
<div class="paragraph">
<p>If you want to set up an SSL certificate for a different domain, you will have to <a href="/en/business-decisions/system-administration/domains#210a">set this domain as your main domain</a> first.</p>
</div>
<div class="paragraph">
<p>It’s not possible to order an SSL certificate if the corresponding domain is defined as external (i.e. it refers to an external IP address).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/external-domain.png" alt="external domain">
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">2.2. Active autoscaling</h3>
<div class="paragraph">
<p>A few systems have not been switched to <a href="https://aws.amazon.com/autoscaling/">autoscaling</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> (AS).
In most cases, this is because the domain is not hosted by plentymarkets. As such, the domain owner must adjust the DNS settings manually.
Another cause might be that the domain was added to a client for the first time. These clients are not automatically switched to autoscaling. The plentymarkets support team needs to manually activate autoscaling.</p>
</div>
<h4 id="600" class="discrete">How can I tell if AS is activated?</h4>
<div class="paragraph">
<p>Look at the DNS settings in the domain assistant to see whether AS is activated for the particular system.</p>
</div>
<div class="paragraph instruction">
<p>Checking the autoscaling status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/business-decisions/system-administration/domains#50">Open the domain assistant</a> and navigate to the step <strong>Current DNS Settings</strong>.<br>
<strong><em>Note:</em></strong> This step only appears if you selected <strong>Add a new domain, hosted externally</strong> in the step <a href="/en/business-decisions/system-administration/domains#100">Domain type</a>.</p>
</li>
<li>
<p>In the column <strong>DNS Record Type</strong>, check if a CNAME entry exists for the domain.<br>
→ If a CNAME entry exists, autoscaling is active. An SSL certificate can be ordered.<br>
→ If no CNAME entry exists, but rather two A records, autoscaling is not active.</p>
</li>
<li>
<p>If autoscaling is not active, contact the plentymarkets support via the <a href="https://forum.plentymarkets.com/t/46996/">plentymarkets Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and ask them to activate autoscaling. The thread is in German, but the support staff can also speak English.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Example of the DNS settings shown for a system on AS:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-decisions/system-administration/assets/current-dns-settings.png" alt="current dns settings">
</div>
</div>
</div>
<div class="sect2">
<h3 id="700">2.3. For subdomains: Existing parent domain</h3>
<div class="paragraph">
<p>If you want to order an SSL certificate for a subdomain, then the parent domain must also exist in the assistant. The relationship between the domain and subdomain must also be entered correctly in the assistant.
<a href="/en/business-decisions/system-administration/domains#50">Check the settings in the assistant</a>.</p>
</div>
<div class="paragraph">
<p>If the parent domain was deleted from the assistant, then create the parent domain again. If you do not want this parent domain to point to plentymarkets, but rather e.g. to Showare, then save an external A record for the parent domain by <a href="/en/business-decisions/system-administration/domains#210a">creating a system link</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">2.4. For external domains: DNS settings</h3>
<div class="paragraph">
<p>The SSL order is validated on a file level.
This means that the domain for which the certificate is to be ordered must be accessible correctly.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The <a href="/en/business-decisions/system-administration/domains#160">DNS settings saved for the external provider</a> must be identical to the DNS settings saved in the assistant.<br>
→ Check the settings in the service area of your domain provider.</p>
</li>
<li>
<p>The domain that the SSL certificate is being ordered for must not have an IPv6 entry (AAAA record).<br>
→ Check the settings in the service area of your domain provider.</p>
</li>
<li>
<p>Any existing <a href="https://en.wikipedia.org/wiki/DNS_Certification_Authority_Authorization">CAA records</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> must allow the certificate to be ordered for the chosen domain.<br>
→ Check the settings in the service area of your domain provider.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="900">2.5. Remove 301 redirects for '/'</h3>
<div class="paragraph">
<p>Open the domain assistant for the particular domain and make sure there is <a href="/en/business-decisions/system-administration/domains#domain-mailserver">no 301 redirect for the homepage</a>, as shown in the following example:</p>
</div>
<div class="paragraph">
<p><code>/;Target-URL;301;L</code></p>
</div>
<div class="paragraph">
<p><code>/*;Target-URL;301;L</code></p>
</div>
<div class="paragraph">
<p><code>^/*;Target-URL;301;L</code></p>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.6. No manually created sub-domain for www.</h3>
<div class="paragraph">
<p>A manually created sub-domain for <code>www.yourDomain.tld</code> prevents the SSL certificate from being issued, since it would create a duplicate DNS entry for <code>www</code>.
If you manually created such a sub-domain, you will need to delete it.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.7. Check list</h3>
<div class="paragraph">
<p>Ready to order an SSL certificate?
Work through this checklist to make sure that you’ve met all of the <a href="/en/business-decisions/system-administration/ssl-certificate#300">requirements</a>.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Domain has not been cancelled</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Domain is a primary domain</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Domain has been switched to AutoScaling (AS)</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> For sub-domains: there is an existing parent domain</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> The DNS settings match the entries in the domain assistant</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> There is no AAAA record for whichever domain the certificate should be ordered</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> There is no negative CAA record</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> There is no 301 redirect for the homepage</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> There is no manually created sub-domain for www.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">3. Ordering an SSL certificate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve met all of the <a href="/en/business-decisions/system-administration/ssl-certificate#300">requirements</a>, you can order an SSL certificate.
plentymarkets orders the SSL certificate on your behalf and bills you for the one-off purchase price and the monthly fee.</p>
</div>
<div class="paragraph">
<p>Depending on <a href="/en/business-decisions/system-administration/ssl-certificate#100">which type of certificate</a> you want to order, you’ll either complete the purchase in the Setup menu or in the assistant.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only one SSL certificate for the domain</div>
<div class="paragraph">
<p>A domain can only have one SSL certificate.
If your domain already has an SSL certificate in the Setup menu, and then e.g. you order a new certificate in the assistant, then the new certificate will overwrite the existing one.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1220">3.1. With the assistant</h3>
<div class="paragraph">
<p>OV and EV certificates (Sectigo) are ordered in the assistant.</p>
</div>
<div class="sect3">
<h4 id="1240">3.1.1. Completing the assistant</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Basic setup</strong>.</p>
</li>
<li>
<p>Click on the <strong>SSL management</strong> assistant.<br>
→ If you’ve already configured SSL certificates, then you’ll see them listed here.</p>
</li>
<li>
<p>Click on an existing SSL certificate to open its settings. Or click on <strong>New configuration</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Complete each step of the assistant. Note <a href="#table-setps-ssl-assistant">Table 1</a>.</p>
</li>
<li>
<p>Once you’ve placed the order in the assistant, you’ll still need to <a href="/en/business-decisions/system-administration/ssl-certificate#1260">complete the validation process with Sectigo</a>.</p>
</li>
</ol>
</div>
<table id="table-setps-ssl-assistant" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Steps of the SSL assistant</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Step</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SSL type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose <a href="/en/business-decisions/system-administration/ssl-certificate#100">the desired SSL certificate</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact data</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter information about your company and about a contact person.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Contact person</em></strong>: this person must be authorised to complete the validation process, e.g. CIO or CEO.</p>
</li>
<li>
<p><strong><em>Company contact</em></strong>: the company data must match the information in the commercial register.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Confirmation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Read a summary of the service options that you chose.
By completing the assistant, you confirm that you want to book these paid services.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Summary</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This step is purely informative.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1260">3.1.2. Validation process after ordering</h4>
<div class="paragraph">
<p>Once you’ve placed the order, you’ll receive a confirmation email (SSL Subscriber Agreement) from Sectigo.
Follow the instructions in the email to complete the validation process.</p>
</div>
<div class="paragraph">
<p>Generally speaking, there are two ways to proceed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Follow the link in the email.
You will be forwarded to the Sectigo website.
There, enter the "verification code" that you received in the email. Follow the rest of the steps on the screen.
During the validation process, you will receive a phone call from Sectigo.</p>
</li>
<li>
<p>Download the documents listed in the email (Certificate Request Form &amp; SSL Subscriber Agreement).
Print the documents, sign them and send them back to Sectigo.
During the validation process, you will receive a phone call from Sectigo.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>It can take some time to complete all of the steps.
Leave yourself enough time to sign the forms, send them back to Sectigo, receive a phone call from Sectigo and complete the validation process.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Are you authorised to complete the process?</div>
<div class="paragraph">
<p>The validation process must be completed by an authorised person, e.g. CIO or CEO.
During the process, legally binding documents need to be signed by someone with signatory rights.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1280">3.2. In the setup menu</h3>
<div class="paragraph">
<p>DV certificates (AlwaysOn and COMODO) are ordered in the Setup menu.</p>
</div>
<div class="paragraph instruction">
<p>Ordering an SSL certificate in the Setup menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Select client » SSL</strong>.<br>
→ The domain’s certificates are displayed.</p>
</li>
<li>
<p>In the row <strong>Order new SSL for domain: [domain name]</strong>, click on the down arrow to the right.<br>
→ The SSL certificates that are available for the domain are displayed.</p>
</li>
<li>
<p>Check the available SSL certificates.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-shopping-cart  "></i></span> <strong>Order SSL certificate</strong> in the line of the SSL certificate that you want to book.<br>
→ The SSL certificate is ordered.<br>
<strong><em>Note:</em></strong> It can take up to 2 hours for the SSL certificate to be activated.</p>
</li>
<li>
<p>Delete the browser cache.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Delete the DNS cache.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click the shortcut key <strong>Windows key + R</strong>.</p>
</li>
<li>
<p>Enter <code>CMD</code> and press <strong>Enter</strong>.</p>
</li>
<li>
<p>Enter the command <code>ipconfig /flushdns</code>.<br>
→ The DNS cache is cleared.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">When is the order complete?</div>
<div class="paragraph">
<p>The order process is only finished when the status in the backend says "Complete". Any messages that include the word "challenge…​" mean that the order is still being processed. <a href="/en/business-decisions/system-administration/ssl-certificate#1400">Refer to the FAQ</a> if the order status is stuck in "challengeSolved".</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">4. Renewing an SSL certificate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SSL certificates must be renewed, i.e. reordered, before they expire.
Even if you already have an SSL certificate, you will still need to order a new certificate before it expires.
You will need to select a certificate provider and duration every time you order an SSL certificate.</p>
</div>
<div class="paragraph instruction">
<p>Checking the expiration date of an AlwaysOn or COMODO SSL certificate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Select client » SSL</strong>.<br>
→ You will see a table with the domain’s certificates.<br></p>
</li>
<li>
<p>The column <strong>Valid until</strong> shows you when the certificate expires.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">5. Frequently Asked Questions (FAQ)</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em><strong>Which domain should I order the SSL certificate for?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>You order the SSL certificate for your main domain, i.e. the domain that is listed as the primary domain in the menu <strong>Setup » Assistants » Basic setup » Domain assistant</strong>.
If you want to set up an SSL certificate for a different domain, you will have to <a href="/en/business-decisions/system-administration/domains#210a">set this domain as your main domain</a> first.</p>
</li>
<li>
<p>You can continue to have a domain hosted externally and <a href="/en/business-decisions/system-administration/domains#160">save the DNS settings with this external provider</a>. However, the SSL certificate needs to be saved close to the system. This means that even if the domain is hosted externally, the actual encoding is done directly in the system after the domain forwarding via IP address is carried out. As such, it is not possible to use an external SSL certificate. The SSL certificate needs to be ordered from plentymarkets.</p>
</li>
<li>
<p>You cannot order SSL certificates for cancelled domains, start-up domains and test domains, i.e. domains with names that contain <em>plenty-testdrive.eu</em>, <em>plentymarkets-x1.com</em> etc.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>What will happen if I change the primary domain?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>SSL certificates are linked to a domain. This means, for example, that if the main domain is changed, then the current certificate will be deactivated, because there is a new main domain without a certificate.
Deactivated doesn’t mean deleted. If you switch the main domain back to whichever domain already had an SSL certificate, then it can be re-activated, assuming that the SSL certificate hasn’t expired.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Can I take the SSL certificate with me if I move my domain?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>You <strong>cannot</strong> take an SSL certificate with you when moving your domain to plentymarkets. Due to technical limitations, it’s only possible to order within our <a href="https://en.wikipedia.org/wiki/Public_key_infrastructure">public key infrastructure</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.
This applies to <strong><em>both directions</em></strong>. It’s true when moving from <strong><em>external to plentymarkets</em></strong> or from <strong><em>plentymarkets to external</em></strong>. An SSL certificate that you booked with plentymarkets needs to be saved <strong><em>close to the system</em></strong>. Therefore, you cannot take it with you when moving your domain. It is <strong>not</strong> possible to export the certificate data (secret private key). It is also not possible to “transfer” an SSL certificate from one domain (ID) to another.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Do I need a hostmaster mailbox?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>No, you do not need a <code>hostmaster@yourDomain.tld</code> mailbox to purchase an SSL certificate.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Can wildcard SSL certificates be issued?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>No, so-called wildcard SSL certificates cannot be issued in our infrastructure.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>How long does it take for the AlwaysOn or COMODO SSL certificate to be activated?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Once you’ve ordered a new certificate, it will need to be published during a regularly scheduled <strong>system process</strong>. <strong>This can take up to 120 minutes.</strong></p>
</li>
<li>
<p>In rare cases, the certification authority performs a quality control before they activate the SSL certificate. Therefore, check the confirmation message displayed on the screen. Normally, quality control takes up to 24 hours. If the status in the back end is not “Complete” after 24 hours, then contact the support team in the forum and specify which domain is affected.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>I ordered my AlwaysOn or COMODO certificate several hours ago, but my website still isn’t classified as secure. What can I do?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Option 1:</strong> Once the order has received the status “Complete” in the back end, the local browser cache must be deleted in order to update the certificate.</p>
</li>
<li>
<p><strong>Option 2:</strong> There might be a problem with your domain’s availability and therefore the certificate cannot be issued correctly. You can check whether it’s possible to install LetsEncrypt for your domain on the following page: <a href="https://letsdebug.net/">https://letsdebug.net/</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<strong>Validation method: HTTP-01</strong>. If an error message is displayed there, you can report it to us in the forum so that we can check the situation.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>I want to switch from COMODO to AlwaysOn. What should I keep in mind?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>If you order AlwaysOn while you already have an active SSL certificate from COMODO (aka RapidSSL), then the COMODO certificate will be replaced by the AlwaysOn certificate.
The “old” certificate will not be deleted, but rather deactivated.
The <a href="https://forum.plentymarkets.com/c/core">plenty-Core team</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> can re-activate the certificate, assuming it has not expired.
The domain might be classified as "not secure" for a maximum of one hour if the AlwaysOn certificate was just ordered, since it needs to be requested, generated and installed after the order is placed. Once the order has received the status “Complete” in the back end, the local browser cache must be deleted in order to update the certificate.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>The order status is stuck in “challengeSolved”. How can I fix this problem?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Check whether you’ve met <a href="/en/business-decisions/system-administration/ssl-certificate#300">all of the requirements</a> for successfully ordering an SSL certificate.
If you’ve met all of the requirements, but the status is still stuck in "challengeSolved", then contact <a href="https://forum.plentymarkets.com/c/core">the plenty-Core team in the forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div>
</main>