<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#510"><span>1.</span><span> System relocation requirements</span></a></li>
<li><a href="#520"><span>2.</span><span> Planning a relocation</span></a></li>
<li><a href="#530"><span>3.</span><span> Cancelling a planned relocation</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>System relocation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>plentymarkets Logo (Start) » Relocation</strong> to relocate your system to a different cloud free of charge. The <strong>Relocation</strong> menu also lists the status of any planned relocation projects and information about any previous relocation projects. Refer to our website for further information about the <a href="https://www.plentymarkets.co.uk/product/cloud-hosting/">cloud solutions provided by plentymarkets</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="510">1. System relocation requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Make sure that the following requirements are met before you begin planning to relocate your system to a different cloud:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You must have a current plentymarkets cloud contract. If you do not have a plentymarkets Cloud contract, then <a href="/en/business-decisions/your-contract">change your contract information</a>.</p>
</li>
<li>
<p>The system relocation must be scheduled to begin at least 2 days in the future.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Files on FTP server are not migrated</div>
<div class="paragraph">
<p>When your system is relocated to a different cloud, the FTP host address of the plentymarkets system also changes. The files stored on the old FTP host are not copied to the new FTP host address during relocation. You need to move the FTP files manually.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Change the IP address with your external domain provider</div>
<div class="paragraph">
<p>When you relocate your system, your IP address changes. If your domain is hosted by an external provider, then you will need to save the new IP address with your external domain provider. This ensures that your online store remains accessible. plentymarkets does not have access to the data of your external domain and cannot make these changes for you. Check your domain provider’s documentation for information about saving your new IP address there.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="520">2. Planning a relocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to plan the relocation of your system to a different cloud. Please note that it is not possible to simultaneously relocate more than one system per cloud. As such, the relocation start time may be delayed.</p>
</div>
<div class="paragraph instruction">
<p>Planning a relocation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Relocation</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br></p>
</li>
<li>
<p>Click on the <strong>Relocation</strong> tab.</p>
</li>
<li>
<p>Select the target cloud, i.e. the cloud where you want to relocate your system to.<br>
→ The costs for the target cloud are shown.</p>
</li>
<li>
<p>Select the date when the system relocation should begin.</p>
</li>
<li>
<p>Select the time when the system relocation should begin.<br>
<strong><em>Note:</em></strong> The system relocation must be scheduled to begin at least 2 days in the future.</p>
</li>
<li>
<p>Click on <strong>Start relocation</strong> to request the relocation.<br>
→ The planned relocation is shown in the <strong>Planned relocation</strong> tab and starts at the specified time.<br>
<strong><em>Note:</em></strong> It is not possible to simultaneously relocate more than one system per cloud. As such, the relocation start time may be delayed.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Store availability</div>
<div class="paragraph">
<p>For mid-sized systems, relocation takes approximately 20 minutes. However, the actual duration always depends on the volume of data that is to be relocated. Your plentymarkets system is available during this time. However, you cannot save any changes in the system. Your store’s order process is also deactivated while your system is being relocated. Therefore, choose a time when you do not anticipate a large amount of traffic. We recommend that you plan the relocation for the middle of the night.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="530">3. Cancelling a planned relocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can cancel a planned relocation any time before the processes in the menu <strong>plentymarkets Logo (Start) » Relocation » Tab: Planned relocation</strong> have been completed. The relocation will be cancelled as soon as possible. It may not be possible to cancel the relocation immediately. Proceed as described below to cancel a planned relocation.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling a relocation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Relocation</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Click on the <strong>Planned relocation</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel relocation</strong>.<br>
→ The relocation will be cancelled as soon as possible. Processes that were already completed will be relocated back to the source cloud.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If all of the processes have already been completed, i.e. if the system has been completely relocated, then you will need to request a new relocation to move your system back to the previous cloud.</p>
</div>
</div>
</div>
</main>