<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_content_of_this_chapter"><span>1.</span><span> Content of this chapter</span></a></li>
<li><a href="#_processing_orders_in_plentymarkets"><span>2.</span><span> Processing orders in plentymarkets</span></a></li>
<li><a href="#_links_to_other_menus"><span>3.</span><span> Links to other menus</span></a></li>
<li><a href="#_direct_access_to_important_pages_of_the_manual"><span>4.</span><span> Direct access to important pages of the manual</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Orders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Orders</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_content_of_this_chapter">1. Content of this chapter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order is created in plentymarkets for every new incoming order from a market or your online store. Orders can be generated from your <em><strong>online store</strong></em> or are imported from other <em><strong>markets</strong></em> such as eBay, Amazon or Yatego. All orders have the same format and are collected in the <strong>Orders</strong> menu. You can either list all of the orders or use various filter settings to only view specific orders. Each order receives an individual and unique <strong>order ID</strong>. Along with normal orders (the customer purchases items), plentymarkets can also handle various other <em><strong>types of orders</strong></em> that help you deal with typical e-commerce processes, e.g. credit notes, returns, etc.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_processing_orders_in_plentymarkets">2. Processing orders in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Orders</strong> menu to manage current orders, incoming payments and shipments. plentymarkets distinguishes between the following types of orders:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The <strong>order</strong> is the most common type (customer purchases item).</p>
</li>
<li>
<p>The customer receives an <strong>offer</strong>.</p>
</li>
<li>
<p>The customer orders items that are not available yet or that are currently not available with <strong><a href="/en/order-processing/orders/managing-sales-orders#advance-order">advance orders</a></strong>.</p>
</li>
<li>
<p>An order is split into <strong><a href="/en/order-processing/orders/managing-sales-orders#delivery-order">delivery orders</a></strong>.</p>
</li>
<li>
<p>A <strong><a href="/en/order-processing/orders/managing-sales-orders#warranty">warranty</a></strong> is created if the customer returns faulty items.</p>
</li>
<li>
<p>An order of the type <strong><a href="/en/order-processing/orders/managing-sales-orders#repair">repair</a></strong> is created when a return was received and the item has to be repaired and sent back to the customer.</p>
</li>
<li>
<p>With a <strong><a href="/en/order-processing/orders/managing-sales-orders#credit-note">credit note</a></strong>, part of the price or the full price of an order will be refunded to the customer.</p>
</li>
<li>
<p>A <strong><a href="/en/order-processing/orders/managing-sales-orders#return">return</a></strong> is created when the customer returns items.</p>
</li>
<li>
<p>Several orders are put together in a <strong><a href="/en/order-processing/orders/multi-orders">multi-order</a></strong> (Enterprise version only).</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_links_to_other_menus">3. Links to other menus</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Depending on which sales strategy you choose, orders from different <strong><a href="/en/omni-channel/order-referrer">Referrers</a></strong> will be transferred to your plentymarkets system once this has been set up. Apart from your own online store, these referrers&nbsp;will primarily be the different markets that you configured in the <strong><a href="/en/omni-channel/multi-channel">Settings » Markets</a></strong> menu of your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>plentymarkets e.g. provides a comprehensive interface to <strong><a href="/en/omni-channel/multi-channel/amazon">[Amazon]</a></strong> that does not only ensure the automated exchange with <strong><a href=":/">Seller Central</a></strong>, but also covers further offers by Amazon such as <strong><a href="/en/omni-channel/multi-channel/amazon">Fulfillment by Amazon</a></strong> and <strong><a href="/en/omni-channel/multi-channel/amazon">Amazon Multi-Channel</a></strong>.</p>
</div>
<div class="paragraph">
<p>Thanks to the full <strong><em>eBay interface</em></strong> in plentymarkets, you can e.g. start listings and display eBay shop items on eBay, retrieve orders, automatically post evaluations and dun purchasers. For detailed information about the eBay interface, refer to the pages of the manual in the <strong><a href="/en/omni-channel/multi-channel/ebay">eBay</a></strong> chapter.</p>
</div>
<div class="paragraph">
<p>Moreover, there are interfaces to many additional markets, such as <strong><a href="/en/omni-channel/multi-channel/amazon#yatego">Yatego</a></strong>, <strong>MeinPaket</strong> or <strong>Hitmeister</strong>, from which you can generate orders. The <strong><a href="/en/omni-channel/order-referrer">referrer</a></strong> of the order is easily recognizable by the Referrer ID in the order overview.</p>
</div>
<div class="paragraph">
<p>After receiving orders, you can let <strong><a href="/en/basics/automation/event-procedures">event procedures</a></strong> automatically create necessary documents such as <a href="/en/order-processing/orders/order-documents/generating-invoices"><strong>Invoices</strong></a> and <a href="/en/order-processing/orders/order-documents/generating-delivery-notes"><strong>Delivery notes</strong></a> and automatically inform your customers about the status of their orders using prepared <strong><a href="/en/crm/sending-emails">E-mail templates</a></strong>. plentymarkets also provides the necessary documents, e.g. <a href="/en/order-processing/orders/order-documents/pick-list"><strong>pick lists</strong></a> and <a href="/en/order-processing/orders/order-documents/packing-list"><strong>packing lists</strong></a>, to ensure that fulfillment is achieved as quickly as possible.</p>
</div>
<div class="paragraph">
<p>Afterwards, you register shipping orders, edit them if necessary or view special shipping orders in the <strong><a href="/en/order-processing/fulfilment/shipping-centre">Shipping center</a></strong>.</p>
</div>
<div class="paragraph">
<p>In order to process orders efficiently in your plentymarkets system, you can also create <strong><a href="/en/basics/automation/processes">Processes</a></strong> and have them run automatically. This way, you process one or several filtered orders as quickly as possible and in accordance with your company’s internal processes. For further details refer to the <strong><a href="/en/basics/automation/processes/work-steps#single-sales-order-processing">Single order processing</a></strong> and <strong><a href="/en/basics/automation/processes/work-steps#order-processing">Order processing</a></strong> pages of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_direct_access_to_important_pages_of_the_manual">4. Direct access to important pages of the manual</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/en/order-processing/payment">SEPA payments</a></strong></p>
</li>
<li>
<p><a href="/en/order-processing/orders/managing-sales-orders#order-search"><strong>Search orders</strong></a></p>
</li>
<li>
<p><a href="/en/order-processing/orders/managing-sales-orders#new-order"><strong>New order</strong></a></p>
</li>
<li>
<p><a href="/en/order-processing/orders/managing-sales-orders#changing-order"><strong>Changing an order</strong></a></p>
</li>
<li>
<p><strong><a href="/en/order-processing/payment">Incoming payments</a></strong></p>
</li>
<li>
<p><a href="/en/order-processing/orders/order-documents/generating-invoices"><strong>Generate invoices</strong></a></p>
</li>
<li>
<p><a href="/en/order-processing/orders/order-documents/generating-delivery-notes"><strong>Generate delivery notes</strong></a></p>
</li>
<li>
<p><a href="/en/order-processing/orders/order-documents/pick-list"><strong>Pick list</strong></a></p>
</li>
<li>
<p><a href="/en/order-processing/orders/order-documents/packing-list"><strong>Packing list</strong></a></p>
</li>
<li>
<p><strong><a href="/en/order-processing/fulfilment/shipping-centre">Shipping center</a></strong></p>
</li>
<li>
<p><a href="/en/order-processing/orders/coupons"><strong>Coupons</strong></a></p>
</li>
</ul>
</div>
</div>
</div>
</main>