<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei bol.com registrieren</span></a></li>
<li><a href="#210"><span>2.</span><span> Automatisierte Prozesse</span></a></li>
<li><a href="#200"><span>3.</span><span> bol.com in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#205"><span>3.1.</span><span> bol.com mit dem Assistenten einrichten</span></a></li>
<li><a href="#206"><span>3.2.</span><span> bol.com im Menü Einrichtung einrichten</span></a></li>
</ul>
</li>
<li><a href="#250"><span>4.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>5.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#400"><span>6.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#450"><span>7.</span><span> Merkmale erstellen und verknüpfen</span></a></li>
<li><a href="#500"><span>8.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#600"><span>9.</span><span> Artikelexport einrichten</span></a></li>
<li><a href="#211"><span>10.</span><span> Fulfillment by bol.com (FBB/LVB) einrichten</span></a></li>
<li><a href="#1200"><span>11.</span><span> Checkliste: Voraussetzungen für das Einstellen von Angeboten auf bol.com</span></a></li>
<li><a href="#650"><span>12.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#700"><span>13.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#900"><span>14.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#800"><span>15.</span><span> Retourenstatus automatisch senden</span></a></li>
<li><a href="#810"><span>16.</span><span> bol.com über direkte Retouren informieren</span></a></li>
<li><a href="#1000"><span>17.</span><span> Log-Einträge abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>bol.com</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Der niederländische Online-Marktplatz <a href="http://bol.com" target="_blank" rel="noopener">bol.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> hat sich zum führenden Online-Marktplatz der Benelux entwickelt und vertreibt eine breite Angebotspalette inklusive Elektronik, Multimedia, Spielzeug etc.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei bol.com registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du bol.com in plentymarkets einrichtest, musst du dich auf <a href="https://bol.com." target="_blank" rel="noopener">bol.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> als Händler:in registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="210">2. Automatisierte Prozesse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="paragraph">
<p>Angebote:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>viertelstündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Preisabgleich</p>
</li>
<li>
<p>stündliche Aktualisierung von Lieferzeiten, Sichtbarkeit der Angebote etc.</p>
</li>
<li>
<p>tägliche Löschung von Angeboten für gelöschte oder deaktivierte Varianten</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Aufträge:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>viertelstündlicher Auftragsimport</p>
</li>
<li>
<p>stündlicher Import von auf bol.com angemeldeten Retouren<br>
<strong><em>Hinweis:</em></strong> Retouren werden automatisch mit dem Status [9.00] importiert.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. bol.com in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Artikel auf dem Marktplatz bol.com anzubieten, richte bol.com in plentymarkets ein. Du hast zwei Möglichkeiten, die Schnittstelle zu bol.com einzurichten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Mit dem Assistenten <strong>Grundeinstellungen - bol.com</strong> (<a href="#205">So geht’s</a>)</p>
</li>
<li>
<p>Im Menü <strong>Einrichtung » Märkte » bol.com » Einstellungen</strong> (<a href="#206">So geht’s</a>)<br>
<strong><em>Hinweis:</em></strong> Im Einrichtungsmenü kannst du keine bol.com-Lieferzeiten verknüpfen. Lieferzeiten müssen im bol.com-Assistenten mit plentymarkets verknüpft werden.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="205">3.1. bol.com mit dem Assistenten einrichten</h3>
<div class="paragraph">
<p>Die Grundeinstellungen für bol.com nimmst du im Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong> mit dem Assistenten <strong>Grundeinstellungen - bol.com</strong> vor. Mit diesem Assistenten richtest du dein bol.com-Konto in plentymarkets ein. Außerdem nimmst du Einstellungen zu Lagern vor und verknüpfst plentymarkets Lieferzeiten mit Lieferzeiten von bol.com.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Assistenten vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Grundeinstellungen - bol.com</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unter dieser Beschreibung auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke im Schritt <strong>Zusammenfassung</strong> auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Die Einstellungen werden gespeichert.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Erläuterungen zu den Optionen des Assistenten</div>
<div class="content">
<table id="table-bol-basic-settings-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unter welchem Mandanten möchtest du deine Artikel verkaufen?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle aus der Dropdown-Liste <strong>Mandant</strong> den Mandanten, der genutzt werden soll, um die Artikel-URL im Katalog zu erzeugen und dem bol.com-Aufträge zugeordnet werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Möchtest du dein bol.com-Benutzerkonto aktivieren?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><em>Konto nicht aktiviert</em> = Die Einstellungen werden gespeichert, der Datenaustausch mit bol.com wird aber noch nicht gestartet.<br>
<em>Konto aktiviert</em> = Der Datenaustausch mit bol.com wird nach Abschluss des Assistenten gestartet.<br>
<strong><em>Empfehlung:</em></strong> Aktiviere das Benutzerkonto erst, nachdem du alle Einstellungen geprüft hast.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zugangsdaten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wie lauten die API-Zugangsdaten?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die API-Zugangsdaten erzeugst du im Händlerbereich bei bol.com.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Client-ID</strong> (Pflichtangabe) = Gib die Benutzer-ID für die API-Schnittstelle ein, die du von bol.com erhalten hast.</p>
</li>
<li>
<p><strong>Client Secret</strong> (Pflichtangabe) = Gib das Passwort für die API-Schnittstelle ein, das du von bol.com erhalten hast.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Lager</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wie sollen die Bestände berechnet werden, welche an bol.com übertragen werden?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bestandsmenge für den Angebotsexport wählen. Eine der folgenden Optionen wählen:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Summe der Bestandsmengen aller Vertriebslager verwenden</strong><br></p>
</li>
<li>
<p><strong>Hauptlager des Artikels verwenden</strong><br></p>
</li>
<li>
<p><strong>Lager auswählen</strong> = Ein oder mehrere Lager wählen.<br>
→ Die unter <strong>Lager</strong> aufgelisteten Lager können gewählt werden. Häkchen setzen, um ein Lager zu wählen.<br>
<strong><em>Wichtig:</em></strong> Die Option <strong>Lagerauswahl</strong> beeinflusst den Artikelexport. Wenn ein Artikel nicht mit den hier gewählten Lagern verknüpft ist, wird dieser Artikel nicht exportiert.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Lieferzeiten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>bol.com-Lieferzeiten verknüpfen</em></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Einer oder mehreren bol.com-Lieferzeiten in plentymarkets gespeicherte Lieferzeiten zuordnen. Die zugeordneten Lieferzeiten werden an deinen Artikeln auf bol.com angezeigt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="206">3.2. bol.com im Menü Einrichtung einrichten</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » bol.com » Einstellungen</strong> kannst du Grundeinstellungen für bol.com vornehmen. Beachte jedoch, dass du in diesem Menü keine bol.com-Lieferzeiten verknüpfen kannst. Lieferzeiten müssen im bol.com-Assistenten mit plentymarkets verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>bol.com in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » bol.com » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#grundeinstellungen-bol">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Einstellungen werden gespeichert.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Grundeinstellungen - bol.com</strong>.</p>
</li>
<li>
<p>Navigiere zum Schritt <strong>Lieferzeiten</strong>.</p>
</li>
<li>
<p>Ordne einer oder mehreren bol.com-Lieferzeiten in plentymarkets gespeicherte Lieferzeiten zu.</p>
</li>
<li>
<p>Schließe den Assistenten wie gewohnt ab.</p>
</li>
</ol>
</div>
<table id="grundeinstellungen-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen des Marktplatzes bol.com</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatischen Datenaustausch aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ist der Datenaustausch aktiviert, werden Daten zu Angeboten und Aufträgen mit bol.com ausgetauscht. Weitere Informationen findest du unter <a href="#prozesse">[prozesse]</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Client ID eingeben. Die Zugangsdaten erzeugst du bei bol.com im Händlerbereich.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Secret</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Cient Secret eingeben. Die Zugangsdaten erzeugst du bei bol.com im Händlerbereich.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mandanten wählen. Aufträge werden beim Auftragsimport mit diesem Mandanten verknüpft.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bestandsmenge für den Angebotsexport wählen. Eine der folgenden Optionen wählen:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Summe der Bestandsmengen aller Vertriebslager verwenden</strong><br></p>
</li>
<li>
<p><strong>Hauptlager des Artikels verwenden</strong><br></p>
</li>
<li>
<p><strong>Lager auswählen</strong> = Ein oder mehrere Lager wählen.<br>
→ Die unter <strong>Lager</strong> aufgelisteten Lager können ausgewählt werden. Häkchen setzen, um ein Lager zu wählen.<br>
<strong><em>Wichtig:</em></strong> Die Option <strong>Lagerauswahl</strong> beeinflusst den Artikelexport. Wenn ein Artikel nicht mit den hier gewählten Lagern verknüpft ist, wird dieser Artikel nicht exportiert.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">4. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit bol.com verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für bol.com aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>bol.com</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">5. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Welche Einstellungen an einer Variante gepflegt sein müssen, um sie auf bol.com verkaufen zu können, ist in den <a href="#Voraussetzungen für das Einstellen von Angeboten auf bol.com">FAQ</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Varianten, die du auf bol.com verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="f-r-eine-variante-tab" data-toggle="tab" href="#f-r-eine-variante" role="tab" aria-controls="f-r-eine-variante" aria-selected="true">Für eine Variante</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-varianten-gruppenfunktion-tab" data-toggle="tab" href="#per-varianten-gruppenfunktion" role="tab" aria-controls="per-varianten-gruppenfunktion" aria-selected="false">Per Varianten-Gruppenfunktion</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-stapelverarbeitung-tab" data-toggle="tab" href="#per-stapelverarbeitung" role="tab" aria-controls="per-stapelverarbeitung" aria-selected="false">Per Stapelverarbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="f-r-eine-variante" role="tabpanel" aria-labelledby="f-r-eine-variante-tab">
<div class="paragraph instruction">
<p>Eine Variante für bol.com verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf bol.com verkaufen möchtest.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf bol.com zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Variante ist für bol.com verfügbar.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-varianten-gruppenfunktion" role="tabpanel" aria-labelledby="per-varianten-gruppenfunktion-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> bearbeitest du mehrere Varianten gleichzeitig. Dabei wählst du die zu bearbeitenden Varianten direkt aus.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Varianten-Gruppenfunktion für bol.com verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen vorzunehmen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-stapelverarbeitung" role="tabpanel" aria-labelledby="per-stapelverarbeitung-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a> bearbeitest du mehrere Varianten gleichzeitig. Du verwendest Filter, um die zu bearbeitenden Varianten einzuschränken.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Stapelverarbeitung für bol.com verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
</div></div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Alle Artikeldaten müssen in niederländisch zu bol.com exportiert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verknüpfe deine plentymarkets Kategorien mit den Kategorien von bol.com, damit deine Artikel in diesen bol.com-Kategorien angezeigt werden. Weitere Artikel der verknüpften Kategorien werden automatisch zugewiesen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » bol.com » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Das Fenster <strong>Kategorie wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die bol.com-Kategorie, die am besten zu deiner plentymarkets Kategorie passt.</p>
</li>
<li>
<p>Klicke auf <strong>Übernehmen</strong>.<br>
→ Die Bezeichnung der bol.com-Kategorie und der Kategoriepfad werden angezeigt.</p>
</li>
<li>
<p>Wenn du die Bezeichnung der bol.com-Kategorie bereits kennst, gib sie in das Feld <strong>Marktplatzkategorie</strong> ein, um sie mit deiner plentymarkets Kategorie zu verknüpfen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Merkmale erstellen und verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nun erstellst du <a href="/artikel/einstellungen/eigenschaften#100">Merkmale</a> und verknüpfst diese Merkmale mit den bol.com-Merkmalen. Je nach bol.com-Kategorie benötigst du unterschiedliche Merkmale. Die passenden Merkmale zu einer bol.com-Kategorie entnimmst du der bol.com-Datei Datamodel. Die bol.com Datamodel-Datei kannst du <a href="https://developers.bol.com/datamodel/" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
<table id="table-bol-characs" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Hinweise zu wichtigen bol.com-Merkmalen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Merkmal</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol_used</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn du gebrauchte Artikel über bol.com verkaufen möchtest, gibst du den gebrauchten Zustand der Artikel über das Merkmal <strong>bol_used</strong> an.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><em>Merkmal ist nicht mit Artikel verknüpft</em> = Varianten des Artikels sind neu.</p>
</li>
<li>
<p><em>Merkmal ist mit Artikel verknüpft</em> = Varianten des Artikels sind gebraucht.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gib beim Erstellen des Merkmals in der Zeile <strong>bol.com-Merkmal</strong> das bol.com-Merkmal <strong>bol_used</strong> ein.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="openblock collapseBox">
<div class="title">Merkmal erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Name (intern)</strong> einen Namen für das Merkmal ein.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Sprache</strong> für Niederländisch <strong>nl</strong>.</p>
</li>
<li>
<p>Gib in das Feld <strong>Name</strong> den niederländischen Namen des Merkmals ein.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste im Feld <strong>Merkmaltyp</strong> die Option <strong>Text</strong>.</p>
</li>
<li>
<p>Gib in der Zeile <strong>bol.com-Merkmal</strong> das bol.com-Merkmal aus der Spalte <strong>Attribute name</strong> der Datamodel-Datei ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Merkmal mit Artikel verknüpfen</div>
<div class="content">
<div class="paragraph">
<p>Verknüpfe nun die bol.com-Merkmale mit den Artikeln, die du auf bol.com verkaufen möchtest.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Weitere Merkmale aktivieren</strong> das Merkmal.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Merkmal wird im Bereich <strong>Merkmale</strong> angezeigt.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Nimm weitere Einstellungen vor. Beachte dazu die Erläuterungen zu den <a href="/artikel/artikel-verwalten#80">Merkmalen</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Verkaufspreisen definierst du die Bedingungen, unter denen eine Variante zu einem bestimmten Preis und über einen bestimmten Verkaufskanal verkauft wird. Um Varianten auf bol.com zu verkaufen, benötigst du deshalb einen Verkaufspreis, bei dem die Auftragsherkunft bol.com aktiviert ist. Der Preis, den du für diesen Verkaufspreis an deinen Varianten speicherst, wird auf bol.com angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für bol.com festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen]</strong>.<br>
<strong><em>Tipp:</em></strong> Du hast noch keine Verkaufspreise? Dann erstelle zuerst einen <a href="/artikel/einstellungen/preise#100">neuen Verkaufspreis</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>bol.com</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben, wie du deine Artikel zu bol.com überträgst. Artikel werden über den elastischen Export zu bol.com übertragen. Zunächst legst du das Datenformat <strong>BolItemExport</strong> an und übermittelst im Anschluss die Datei zu bol.com.</p>
</div>
<div class="paragraph">
<p>Folgende Pflichtfelder müssen für den Artikelexport mitgegeben werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>EAN</p>
</li>
<li>
<p>SKU</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Artikelbeschreibung</p>
</li>
<li>
<p>Bild</p>
</li>
<li>
<p>Hersteller</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachte außerdem, dass alle Artikeldaten in niederländisch zu bol.com exportiert werden müssen.</p>
</div>
<div class="paragraph instruction">
<p>Artikelexport einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-artikelexport-bol">Tabelle 3</a>.</p>
</li>
<li>
<p>Nimm weitere Einstellungen für Artikelfilter und Formateinstellungen vor. Beachte dazu die Erläuterungen in Tabelle 2 auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export#300">Elastischer Export</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat wird vergeben und das Exportformat erscheint in der Übersicht <strong>Exporte</strong>.<br></p>
</li>
<li>
<p>Klicke im Menü <strong>Daten » Elastischer Export » Tab: Exporte</strong> auf <strong>Herunterladen</strong> (Pfeil-Symbol), um die eben erstellte Datei herunterzuladen.</p>
</li>
</ol>
</div>
<table id="einstellungen-artikelexport-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Einstellungen für Artikelexport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name eingeben. Unter diesem Namen erscheint das Exportformat in der Übersicht im Tab <strong>Exporte</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Format <strong>BolItemExport</strong> für den Artikelexport aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zahl eingeben. Wenn mehr als 10000 Artikel an bol.com übertragen werden sollen, wird die Ausgabedatei für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>FTPS</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong>,<br>
<strong>Server</strong>,<br>
<strong>Port</strong>,<br>
<strong>Benutzername</strong>,<br>
<strong>Passwort</strong>,<br>
<strong>Pfad</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Parameter eingeben. Die Zugangsdaten für den Server inklusive Passwort und Benutzername werden von bol.com zur Verfügung gestellt. Der Dateiname hat den Aufbau &lt;SellerID&gt;.txt. Die Datei muss im Ordner <strong>/SQUARE/feed</strong> gespeichert werden.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Übertragung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Täglich</strong> wählen, da bol.com nur maximal 4 Exporte pro Tag zulässt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="211">10. Fulfillment by bol.com (FBB/LVB) einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Fulfillment kann für Bestellungen auf bol.com auf zwei Arten abgewickelt werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Fullfilment by Retailer (FBR) = Du versendest deine Ware selbst.</p>
</li>
<li>
<p>Fullfilment by bol.com (FBB/LVB) = bol.com versendet deine Ware.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachte, dass plentymarkets Fullfilment by bol.com nur eingeschränkt unterstützt. Du kannst deine Varianten zwar für Fullfilment by bol.com zu bol.com exportieren. Allerdings werden FBB-Aufträge und -Retouren nicht in plentymarkets importiert. Auch ein Bestandsableich zwischen dem bol.com-Fulfillment-Lager und plentymarkets ist nicht möglich.</p>
</div>
<div class="paragraph">
<p>Um eine Variante über Fullfilment by bol.com (FBB oder LVB) zu verkaufen, muss die Marktplatzverfügbarkeit <strong>bol.com FBB</strong> an der Variante aktiviert sein:</p>
</div>
<div class="openblock collapseBox">
<div class="title">Marktplatzverfügbarkeit <strong>bol.com FBB</strong> an der Variante aktivieren</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du über Fullfilment by bol.com verkaufen möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>bol.com FBB</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">11. <em>Checkliste:</em> Voraussetzungen für das Einstellen von Angeboten auf bol.com</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit deine Varianten als Angebote auf bol.com gelistet werden können, musst du die folgenden Einstellungen an der Varianten pflegen:</p>
</div>
<table id="table-bol-variation-checklist" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Pflichtfelder an der Variante</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Pflichtdaten</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN oder ISBN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Für die Variante muss eine EAN oder eine ISBN gespeichert sein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Einrichtung » Artikel » Barcode</strong> muss eine EAN oder ISBN eingerichtet und mit der Herkunft bol.com verknüpft sein.</p>
</li>
<li>
<p>Die EAN muss im Tab <strong>Einstellungen</strong> der Variante im Bereich <strong>Barcode</strong> hinzugefügt und ein Barcode-Code eingegeben werden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Für die Variante muss ein Preis gespeichert sein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Verkaufspreis muss im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> für Herkunft die Herkunft bol.com aktiviert sein.</p>
</li>
<li>
<p>Der Verkaufspreis muss im Tab <strong>Einstellungen</strong> einer Variante im Bereich <strong>Verkaufspreise</strong> hinzugefügt werden.</p>
</li>
<li>
<p>Für den Verkaufspreis muss ein Preis gespeichert sein.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Variante muss für den Marktplatz verfügbar sein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Tab <strong>Verfügbarkeit</strong> der Variante muss im Bereich <strong>Märkte</strong> die Marktplatzverfügbarkeiten <strong>bol.com</strong> oder <strong>bol.com FBB</strong> aktiviert werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Herkunft <strong>bol.com</strong> = Du versendest deine Artikel selbst.<br></p>
</li>
<li>
<p>Herkunft <strong>bol.com FBB</strong> = Versand erfolgt durch bol.com.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="650">12. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Bol.com</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart Bol.com aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Bol.com</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-zahlungsart-aktivieren">Tabelle 5</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-zahlungsart-aktivieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer:innen im plentyShop die Sprache wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name eingeben, der im plentyShop und auf Rechnungen etc. angezeigt werden soll.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn unter <strong>Infoseite</strong> die Option <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem plentyShop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br></p>
</li>
<li>
<p><strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br></p>
</li>
<li>
<p><strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Priorität für die Anzeige der Zahlungsart im plentyShop wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben.<br>
<strong><em>Wichtig:</em></strong> Nicht in beide Felder einen Wert eingeben.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/business-entscheidungen/plenty-bi/statistiken">Statistiken verwalten</a>.<br>
Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in der die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Aktiviere für die Einstellung <strong>Erlaubte Zahlungsarten</strong> die Option <strong>Bol.com</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">13. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch an bol.com zu senden, nachdem ein Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-versandbestätigung-bol">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#ereignisaktion-versandbestätigung-bol">Tabelle 6</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-versandbestätigung-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion zum automatischen Senden von Versandbestätigungen an bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an bol.com senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">14. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um bol.com automatisch über Stornierungen zu informieren. Bei Stornierungen muss ein Grund für die Stornierung an bol.com übertragen werden. Erstelle im Menü <strong>Einrichtung » Aufträge » Auftragsstatus</strong> bei Bedarf zusätzliche Auftragsstatus. Folgende Stornierungsgründe können an bol.com übertragen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Nicht vorrätig</strong></p>
</li>
<li>
<p><strong>Stornierung von Kunde angefragt</strong></p>
</li>
<li>
<p><strong>Artikel in schlechtem Zustand</strong></p>
</li>
<li>
<p><strong>Höhere Versandkosten</strong></p>
</li>
<li>
<p><strong>Falscher Preis</strong></p>
</li>
<li>
<p><strong>Nicht rechtzeitig lieferbar</strong></p>
</li>
<li>
<p><strong>Keine Garantie durch bol.com</strong></p>
</li>
<li>
<p><strong>Artikel doppelt bestellt</strong></p>
</li>
<li>
<p><strong>Artikel züruckbehalten</strong></p>
</li>
<li>
<p><strong>Technisches Problem</strong></p>
</li>
<li>
<p><strong>Artikel nicht auffindbar</strong></p>
</li>
<li>
<p><strong>Sonstiges</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierungen-bol">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#ereignisaktion-stornierungen-bol">Tabelle 7</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierungen-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Ereignisaktion zum automatischen Senden von Stornierungen an bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: [8.1] Storniert durch Kunden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Stornierung an bol.com senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung durch Kunden</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">15. Retourenstatus automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um bol.com automatisch über den Status einer Retoure zu informieren. Bei Retouren muss ein Status an bol.com übertragen werden. Folgende Retourenstatus können an bol.com übertragen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Retoure erhalten</strong></p>
</li>
<li>
<p><strong>Artikel wird umgetauscht</strong></p>
</li>
<li>
<p><strong>Retoure entspricht nicht den Anforderungen</strong></p>
</li>
<li>
<p><strong>Artikel muss repariert werden</strong></p>
</li>
<li>
<p><strong>Kunde behält Ware</strong></p>
</li>
<li>
<p><strong>Retoure in Rücksprache mit Kunde angenommen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retourenstatus-bol">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#ereignisaktion-retourenstatus-bol">Tabelle 8</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retourenstatus-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Ereignisaktion zum automatischen Senden von Retourenstatus an bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Retourenstatus an bol.com senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="810">16. bol.com über direkte Retouren informieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte zusätzlich eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um bol.com automatisch über Retouren zu informieren, die Kund:innen direkt an dich zurückgesendet haben, ohne die Retoure vorher bei bol.com angemeldet zu haben. Bei Retouren muss ein Status an bol.com übertragen werden. Folgende Retourenstatus können an bol.com übertragen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Retoure erhalten</p>
</li>
<li>
<p>Artikel wird umgetauscht</p>
</li>
<li>
<p>Retoure entspricht nicht den Anforderungen</p>
</li>
<li>
<p>Artikel muss repariert werden</p>
</li>
<li>
<p>Kunde behält Ware</p>
</li>
<li>
<p>Retoure in Rücksprache mit Kunde angenommen</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retouren-bol">Tabelle 9</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#ereignisaktion-retouren-bol">Tabelle 9</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retouren-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Ereignisaktion, um bol.com über Retouren zu informieren</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: [9.5] Gutschrift angelegt</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Retoure bei bol.com anlegen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Status.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">17. Log-Einträge abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » Log</strong> findest du eine Historie über Vorgänge, die über die Schnittstelle zu bol.com ausgeführt wurden. Für bol.com eignen sich die folgenden Filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Identifikator</strong> » <strong>bol.com</strong></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Integrationen und Identifikatoren werden erst in den Dropdown-Listen angezeigt, wenn der Vorgang mindestens einmal ausgeführt wurde.
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Log-Einträge filtern und prüfen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Wähle in der Spalte links geeignete Filtereinstellungen aus den Dropdown-Listen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter für Datum und/oder Uhrzeit, um nur Einträge anzuzeigen, die in einem bestimmten Zeitraum erstellt wurden.<br>
<strong><em>Tipp:</em></strong> Weitere Informationen zu den Filtern findest du auf der Handbuchseite <a href="/daten/datenlog">Daten-Log</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Ergebnisse werden angezeigt.</p>
</li>
<li>
<p>Prüfe Einträge mit den Levels <strong>warning</strong> und <strong>error</strong>.<br>
<strong><em>Tipp:</em></strong> Klicke auf eine Meldung, um Details einzublenden.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>Nutze optional die in <a href="#tabelle-referenztypen">Tabelle 10</a> aufgeführten Referenztypen und Referenzwerte, um die Suchergebnisse weiter einzugrenzen:</p>
</div>
<table id="tabelle-referenztypen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Referenztypen und Referenzwerte für bol.com</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Referenztyp</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Referenzwerte</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>action</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach Ereignissen.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen Referenzwert, um nach bestimmten Ereignissen zu suchen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>orderImport</strong> = Auftragsimport<br></p>
</li>
<li>
<p><strong>CreateOffer</strong> = Angebotserstellung<br></p>
</li>
<li>
<p><strong>CheckOfferStatus</strong> = Prüfung des erfolgreichen Erstellens von Angeboten<br></p>
</li>
<li>
<p><strong>DeleteOffer</strong> = Löschung von Angeboten<br></p>
</li>
<li>
<p><strong>UpdateOffer</strong> = Aktualisierungen der Lieferzeit, des Liefertyps (FBB, FBR), der SKU und des Aktivitätsstatus von Angeboten<br></p>
</li>
<li>
<p><strong>UpdateOfferPrices</strong> = Aktualisierungen von Preisen der Angebote<br></p>
</li>
<li>
<p><strong>UpdateOfferStock</strong> = Aktualisierungen von Beständen der Angebote<br></p>
</li>
<li>
<p><strong>CancelOrder</strong> = Stornierung des Auftrags<br></p>
</li>
<li>
<p><strong>ShipOrder</strong> = Versand des Auftrags<br></p>
</li>
<li>
<p><strong>HandleReturn</strong> = Eingang einer auf bol.com gemeldeten Retoure bestätigen<br></p>
</li>
<li>
<p><strong>CreateReturn</strong> = Eingang einer nicht auf bol.com gemeldeten Retoure melden</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>orderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der Auftrags-ID des Auftrags in plentymarkets.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalOrderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der Auftragsnummer des Auftrags bei bol.com.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalOrderItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach der ID der Auftragsposition bei bol.com.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>