<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Cdiscount registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Cdiscount in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#400"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#450"><span>7.</span><span> Barcode festlegen</span></a></li>
<li><a href="#500"><span>8.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#600"><span>9.</span><span> Attribute verknüpfen</span></a></li>
<li><a href="#700"><span>10.</span><span> Merkmale erstellen</span></a></li>
<li><a href="#800"><span>11.</span><span> Hersteller verknüpfen</span></a></li>
<li><a href="#900"><span>12.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#950"><span>13.</span><span> Datenaustausch einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>13.1.</span><span> Artikelkatalog und Bestandsabgleich herunterladen</span></a></li>
<li><a href="#1100"><span>13.2.</span><span> Artikelkatalog über CSV-Datei exportieren</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>14.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#1300"><span>15.</span><span> Auftragsstatus automatisch aktualisieren</span></a></li>
<li><a href="#1400"><span>16.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cdiscount</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Cdiscount war der erste elektronische Marktplatz Frankreichs und ist noch heute einer der beliebtesten und am meisten genutzten französischen Online-Verkaufsplattformen. Um Artikel auf Cdiscount anzubieten, muss der Artikelkatalog komplett auf Französisch vorliegen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Cdiscount registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Cdiscount in plentymarkets einrichten kannst, musst du dich bei Cdiscount registrieren. Fülle das <a href="https://seller.cdiscount.com/Account_creation.html" target="_blank" rel="noopener">Registrierungsformular</a> aus und übermittele deine Daten an Cdiscount. Ein Support-Mitarbeiter des Marktplatzes wird dich kontaktieren, um die Registrierung zu verifizieren.</p>
</div>
<div class="paragraph">
<p>Bevor du die hier hinterlegten Daten in deinem plentymarkets System speicherst, ändere dein API-Passwort. Ein neues Passwort wird dir in der Mailbox deines Händler-Backends zugesandt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Cdiscount in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du dich bei Cdiscount registriert hast, verwende die dort hinterlegten Daten, um den Marktplatz in plentymarkets einzurichten. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zugangsdaten</div>
<div class="paragraph">
<p>Verwende für die Einrichtung die API-Zugangsdaten. Die API-Zugangsdaten entsprechen nicht deinen Zugangsdaten zum Händler-Backend von Cdiscount. Der Benutzername kann im Händler-Backend von Cdiscount eingesehen werden und das Passwort kann dort generiert oder angepasst werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Cdiscount in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#grundeinstellungen-cdiscount">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zugangsdaten</div>
<div class="paragraph">
<p>Verwende für die Einrichtung die API-Zugangsdaten (Benutzername und Passwort). Der Benutzername hat das Suffix api. Die Login-Zugangsdaten sind dagegen zum Login in das Backend bei Cdiscount bestimmt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="grundeinstellungen-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen des Marktplatzes Cdiscount</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkterstellung anfordern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den automatischen Bestandsabgleich und Auftragsimport über die API-Schnittstelle zu aktivieren. Wenn die Option <strong>Produkterstellung anfordern</strong> nicht aktiviert wurde, werden lediglich Angebote zu bereits bestehenden Artikeln auf Cdiscount generiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preise und Bestände aktualisieren und Auftragsimport aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Artikelkatalog über die CSV-Schnittstelle zu übertragen. Der Bestandsabgleich wird weiterhin automatisch über die API-Schnittstelle übertragen.<br>
Ist diese Einstellung zusammen mit der Einstellung <strong>Produkterstellung anfordern</strong> aktiviert, findet der automatische Datenaustausch nur über die API-Schnittstelle statt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Vertriebspartner-Information</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Firmenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firmenname eingeben, wie bei Cdiscount registriert (optional).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">API-Benutzername eingeben, wie von Cdiscount erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">API-Passwort eingeben, wie von Cdiscount erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Auftragseinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cdiscount C Logistique-Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für C Logistique-Aufträge. <strong>Status [7] Warenausgang gebucht</strong> ist hier standardmäßig voreingestellt. Dabei wird aber kein Bestand vom Lager abgezogen. Für zukünftige Auftragsimporte kann der Status nach Belieben geändert werden. Dabei ist jedoch zu beachten, dass sobald der Auftrag einmal in Status 7 war, der Auftrag dann nicht mehr in einen kleineren Status geschoben werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikeleinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welches Feld an Cdiscount als Artikelname übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelkurzbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welches Feld an Cdiscount als Artikelkurzbeschreibung übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welches Feld an Cdiscount als Artikelbeschreibung übertragen wird.<br>
HTML-Formatierung ist in der Artikelbeschreibung nicht erlaubt und wird beim Artikelexport entfernt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-Marketing-Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Text als Marketing-Beschreibung übertragen werden soll oder <strong>Nicht übertragen</strong> wählen.<br>
Die Artikel-Marketing-Beschreibung darf HTML-Formatierung enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantenmaße übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, wenn die Variantenmaße übertragen werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsmenge für Artikel ohne Bestandsbeschränkung und ohne positiven Nettowarenbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert eingeben. Die eingegebene Bestandsmenge wird übertragen, wenn der Artikel keine Bestandsbeschränkung und keinen positiven Nettowarenbestand hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welches Lager verwendet werden soll. Ein Lager, mehrere Lager oder <strong>Summe aus allen Lagern</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestpreis für einen Artikel wählen.<br>
<strong>Wichtig:</strong> Der Mindestpreis muss der am Artikel gespeicherte Aktionspreis sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Versandvorbereitungszeit (in Tagen)</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Versandvorbereitungszeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong><br>
Standard-Versandvorbereitungszeit in Tagen eingeben. Der hier eingegebene Wert wird zu Cdiscount übertragen und von Cdiscount um einen Wert auf Basis der Versandart erhöht.<br>
<strong>Wichtig:</strong> Nur Werte von 1-10 eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit 1-10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit von 1-10 eingeben. Die Verfügbarkeit entspricht der Variantenverfügbarkeit im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Bereich <strong>Verfügbarkeit</strong>. Der hier eingegebene Wert wird zu Cdiscount übertragen und von Cdiscount um einen Wert auf Basis der Versandart erhöht.<br>
Wenn hier kein Wert eingegeben wird, wird die <strong>Standard-Versandvorbereitungszeit</strong> zu Cdiscount übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Versandkosten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten aus der Versandkostenberechnung übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konfiguration 1</strong> oder <strong>Konfiguration 2</strong> sowie <strong>Zahlungsart</strong> wählen. Die Standardversandkosten werden mit dieser Konfiguration an Cdiscount übertragen. <br>
Die hier wählbaren Optionen sind die im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandkosten berechnen</strong> gewählten Einstellungen für Konfiguration 1 und Konfiguration 2.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten überschreiben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festpreis für den Versand eingeben. Die hier eingegebene Versandkosten werden anstatt der am Artikel hinterlegten Versandkosten an Cdiscount übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID für die Ratengebühr</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikels, über den Kund*innen ggf. die Gebühr für den Ratenkauf, die Cdiscount erhebt, in Rechnung gestellt wird. Dazu einen Artikel in plentymarkets erstellen und die ID hier eingeben.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierten Funktionen bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Täglicher Artikelexport</p>
</li>
<li>
<p>Stündlicher Bestandsabgleich</p>
</li>
<li>
<p>Stündlicher Auftragsimport</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beim stündlichen Auftragsimport werden zunächst keine Rechnungs- und Lieferdaten von Cdiscount übermittelt. Der Auftrag bleibt solange in Status [3]. Es kann bis zu 48 Stunden dauern, bis die Rechnungs- und Lieferdaten übermittelt werden, da Cdiscount in dieser Zeit eine Bonitätsprüfung für Endkund*innen durchführt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Cdiscount verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Cdiscount aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Cdiscount aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Cdiscount</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf Cdiscount verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Cdiscount einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Cdiscount</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf Cdiscount verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für mehrere Varianten kann entweder über die <a href="https://knowledge.plentymarkets.com/artikel/artikel-verwalten#330" target="_blank" rel="noopener">Varianten-Gruppenfunktion</a> oder die <a href="https://knowledge.plentymarkets.com/artikel/artikel-verwalten#330" target="_blank" rel="noopener">Stapelverarbeitung</a> bearbeitet werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Automatische SKU-Generierung</div>
<div class="paragraph">
<p>Wenn im Menü <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Einstellungen</strong> die Einstellung <strong>Produkterstellung anfordern</strong> aktiv ist, werden beim nächtlichen Übertragungsprozess für jede Variante, die exportiert wird automatisch eine SKU generiert, die der Varianten-ID entspricht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">SKUs von bereits existierenden Produkten</div>
<div class="paragraph">
<p>Wenn bereits Angebote/Produkte auf Cdiscount manuell oder über andere Softwaresysteme angelegt wurden, dann können diese Produkte mit Varianten in plentymarkets verknüpft werden. Dazu muss in plentymarkets die Kennzeichnung als SKU hinterlegt werden, die bei Cdiscount im Händler-Backend bei dem jeweiligen Angebot/Produkt als <strong>Your reference</strong> zu finden ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Cdiscount.com</strong>.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Cdiscout einen Verkaufspreis festzulegen. Dieser Preis wird auf Cdiscount angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Cdiscount festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Cdiscount</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/artikel/artikel-verwalten#240">Verknüpfe</a> den Verkaufspreis im Anschluss mit den gewünschten Varianten, falls noch nicht verknüpft.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Barcode festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Cdiscount einen Barcode festzulegen. Dieser Barcode wird für die Variante  zu Cdiscount übertragen. Der Barcode muss vom Typ GTIN 13 sein.</p>
</div>
<div class="paragraph instruction">
<p>Barcode für Cdiscount festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Barcode » Barcode öffnen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Cdiscount</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/artikel/artikel-verwalten#250">Verknüpfe</a> den Barcode im Anschluss mit den gewünschten Varianten, falls noch nicht verknüpft.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um deine Kategorien mit denen von Cdiscount zu verknüpfen, lade zunächst die Kategorieliste von Cdiscount herunter. Verknüpfe dann deine eigenen Kategorien mit den passenden Cdiscount-Kategorien.</p>
</div>
<div class="paragraph instruction">
<p>Kategorieliste herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Kategorieliste</strong>.</p>
</li>
<li>
<p>Klicke auf das Zahnrad <strong>Kategorieliste aktualisieren</strong>.<br>
→ Die Kategorieliste wird mit Code und Kategorienamen unten angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die hier angezeigten Codes benötigst du, um deine Kategorien mit denen von Cdiscount zu verknüpfen. Gehe dazu wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Kategorieverknüpfung</strong> den Code der zur Webshop-Kategorie passenden Cdiscount-Kategorie ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Attribute verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du <a href="/artikel/artikel-verwalten#390">Attribute</a> im plentymarkets System erstellt hast, müssen diese Attribute mit Cdiscount verknüpft werden. Nachfolgend wird beschrieben, wie du das Attribut Farbe mit Cdiscount verknüpfst. Verknüpfe weitere Attribute auf die gleiche Weise.</p>
</div>
<div class="paragraph instruction">
<p>Attribute verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.<br>
→ Eine Übersicht aller erstellten Attribute wird geöffnet.</p>
</li>
<li>
<p>Öffne das Attribut <strong>Farbe</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Marktplatzvariation</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Marktplatz</strong> die Option <strong>Cdiscount.com</strong>.<br>
→ Eine zusätzliche Dropdown-Liste <strong>Cdiscount</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Cdiscount.com</strong> das Attribut <strong>Farbe</strong>.</p>
</li>
<li>
<p>Gib die zu deinen Attributwerten passenden Cdiscount-Attributwerte im Bereich Marktplatzvariation ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Merkmale erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als nächstes erstellst du <a href="/artikel/artikel-verwalten#480">Merkmale</a> und verknüpfst die erstellten Merkmale mit den Cdiscount-Merkmalen. Beachte, dass deine Merkmale hierfür auf Französisch erstellt sein müssen.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne in das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Name (intern)</strong> einen Namen für das Merkmal ein.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Sprache</strong> für Französisch <strong>fr</strong>.</p>
</li>
<li>
<p>Gib in das Feld <strong>Name</strong> den französischen Namen des Merkmals ein.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste im Feld <strong>Merkmaltyp</strong> die Option <strong>Text</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste im Feld <strong>Cdiscount.com-Merkmal</strong> das Cdiscount-Merkmal.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">11. Hersteller verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erstelle nun Herstellerverknüpfungen, damit deine Artikel auf Cdiscount zum Verkauf angezeigt werden. Lade zunächst die Herstellerliste von Cdiscount herunter und verknüpfe dann deine eigenen Hersteller mit den passenden Cdiscount-Herstellern, indem du die Cdiscount-Hersteller-ID im System hinterlegst. Dabei entspricht die Cdiscount-Hersteller-ID dem Namen des Herstellers.</p>
</div>
<div class="paragraph instruction">
<p>Herstellerliste herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Herstellerliste</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Herstellerliste aktualisieren</strong>.<br>
→ Die Herstellerliste wird mit Code und Herstellernamen unten angezeigt.</p>
</li>
<li>
<p>Markiere und kopiere den Hersteller in die Zwischenablage.</p>
</li>
<li>
<p><strong>Tipp:</strong> Lade die Herstellerliste als CSV-Datei herunter. Diese Datei kannst du gezielt nach Herstellern durchsuchen.<br>
Klicke dazu im Menü <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Herstellerliste</strong> auf <strong>Herstellerliste als CSV Datei herunterladen</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Gehe nun wie folgt vor, um den Hersteller zu verknüpfen.</p>
</div>
<div class="paragraph instruction">
<p>Hersteller verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
<li>
<p>Öffne den Hersteller, den du mit Cdiscount verknüpfen möchtest.</p>
</li>
<li>
<p>Füge den Namen des Herstellers aus der Zwischenablage in das Feld <strong>Cdiscount.com-ID</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">12. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Cdiscount</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Cdiscount-Zahlungsarten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Cdiscount</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart-cdiscount">Tabelle 2</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer*innen im Webshop die Sprache wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="950">13. Datenaustausch einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle so einzurichten, dass der Artikelexport, der Bestandsabgleich und der Auftragsimport funktionieren, sind mindestens die Eingaben gemäß der folgenden Tabelle notwendig.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Produkterstellung auf Cdiscount</div>
<div class="paragraph">
<p>Die Produkterstellung dient zur Anfrage der Aufnahme eines neuen Produktes in die Produktdatenbank von Cdiscount. Sobald eines Ihrer Produkte durch Cdiscount freigegeben und in die Produktdatenbank aufgenommen wurde, kannst du die Produktdaten für gewöhnlich nicht mehr weiter bearbeiten. Prüfe deshalb vor der Übertragung des Produktes, dass du wirklich alle Daten gepflegt hast, die für den erfolgreichen Verkauf wichtig sind. Die Checkliste dient lediglich zur Auflistung der Mindestanforderungen für die Produkterstellung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Angebotserstellung auf Cdiscount</div>
<div class="paragraph">
<p>Auf Cdiscount wird jedes angelegte Produkt in einer Datenbank abgespeichert. Jedes Produkt kann anhand mindestens einer EAN identifiziert werden. Die Kennzeichnung der Produkte mit EANs ermöglicht es Händlern, Angebote zu diesen Produkten zur Verfügung zu stellen. Im Vergleich zur vorherigen Produkterstellung ist der Einrichtungsaufwand wesentlich geringer und erleichtert den Einstieg bei Cdiscount.<br>
Sowohl die Erstellung als auch die Aktualisierung (Bestandsabgleich) der Angebote werden über eine Datei gesteuert.<br>
Die folgenden Checkliste listet die mindestens notwendigen Einstellungen auf, damit ein Artikel in dieser Datei übertragen wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="pflichteinstellungen-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Pflichteinstellungen für Cdiscount</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungsbereich</th>
<th class="tableblock halign-left valign-top">Einstellungen</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Angebotserstellung / Bestandsabgleich</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundeinstellungen des Marktplatzes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Preise und Bestände aktualisieren und Auftragsimport aktivieren</strong> ist aktiviert.</p>
</li>
<li>
<p><strong>API-Benutzername</strong> ist eingetragen.</p>
</li>
<li>
<p><strong>API-Passwort</strong> ist eingetragen.</p>
</li>
<li>
<p><strong>Versandvorbereitungszeit (in Tagen)</strong> ist gesetzt.</p>
</li>
<li>
<p><strong>Versandkosten aus der Versandkostenberechnung übernehmen</strong> oder <strong>Versandkosten überschreiben</strong> ist eingerichtet.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen der Variante</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die Variante ist <strong>aktiv</strong></p>
</li>
<li>
<p>Die <strong>Verfügbarkeit</strong> der Variante wurde eingestellt.</p>
</li>
<li>
<p>Ein <strong>Verkaufspreis</strong> ist angelegt und verknüpft.</p>
</li>
<li>
<p>Ein <strong>Barcode</strong> ist angelegt und verknüpft.</p>
</li>
<li>
<p>Eine <strong>SKU</strong> ist festgelegt worden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Produkterstellung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundeinstellungen des Marktplatzes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Preise und Bestände aktualisieren und Auftragsimport aktivieren</strong> ist aktiviert.</p>
</li>
<li>
<p><strong>API-Benutzername</strong> ist eingetragen.</p>
</li>
<li>
<p><strong>API-Passwort</strong> ist eingetragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen des Artikels</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die <strong>Artikeltexte</strong> sind in Französisch gepflegt.</p>
</li>
<li>
<p>Ein <strong>Hersteller</strong> ist am Artikel hinterlegt und mit Cdiscount verknüpft worden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen der Variante bei Einzelartikeln</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die Variante ist <strong>aktiv</strong></p>
</li>
<li>
<p>Die <strong>Verfügbarkeit</strong> der Variante wurde eingestellt.</p>
</li>
<li>
<p>Ein <strong>Barcode</strong> ist angelegt und verknüpft.</p>
</li>
<li>
<p>Eine <strong>SKU</strong> ist festgelegt worden.</p>
</li>
<li>
<p>Mindestens eine mit Cdiscount verknüpfte <strong>Kategorie</strong> ist am Artikel hinterlegt.</p>
</li>
<li>
<p>Mindestens eine der <strong>Kategorien</strong>, die mit Cdiscount verknüpft ist, ist für den Standard-Mandanten freigegeben.</p>
</li>
<li>
<p>Mindestens ein <strong>Bild</strong> ist am Artikel hinterlegt und für Cdiscount freigegeben</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zusätzliche Einstellungen der Variante bei Variantenartikeln</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die <strong>Attribute</strong> der Variante sind mit Cdiscount verknüpft.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Auftragsimport</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundeinstellungen des Marktplatzes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Preise und Bestände aktualisieren und Auftragsimport aktivieren</strong> ist aktiviert.</p>
</li>
<li>
<p><strong>API-Benutzername</strong> ist eingetragen.</p>
</li>
<li>
<p><strong>API-Passwort</strong> ist eingetragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsarten</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die <strong>Zahlungsart Cdiscount</strong> ist aktiviert.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen der Variante</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Eine <strong>SKU</strong> ist festgelegt worden.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="1000">13.1. Artikelkatalog und Bestandsabgleich herunterladen</h3>
<div class="paragraph">
<p>Im Tab <strong>Archiv</strong> lädst du den Artikelkatalog oder den Bestandsabgleich als ZIP-Datei herunter. Das Herunterladen der ZIP-Dateien ist nötig, damit du die Dateien deinem Cdiscount-Ansprechspartner übermitteln kannst, wenn es z.B. zu Störungen beim Importieren kommt. So kann Cdiscount den Sachverhalt schneller prüfen und die Störungen beseitigen.</p>
</div>
<div class="paragraph instruction">
<p>Bestandsabgleich an Cdiscount übermitteln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Archiv</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Bestandsabgleich herunterladen</strong>.</p>
</li>
<li>
<p>Speichere die Datei auf deiner Festplatte, um sie ggf. an Cdiscount per E-Mail zu senden.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">13.2. Artikelkatalog über CSV-Datei exportieren</h3>
<div class="paragraph">
<p>Da es in seltenen Fällen zu Problemen beim automatischen Artikelexport kommen kann, kannst du deinen auf französisch hinterlegten Artikelkatalog unter <strong>Daten » Elastischer Export</strong> auch als CSV-Datei an Cdiscount exportieren. Nachdem du alle dafür notwendigen Einstellungen wie unten beschrieben gespeichert hast, musst du die komplette URL kopieren und an Cdiscount übermitteln. Bestände werden weiterhin stündlich automatisch abgeglichen.</p>
</div>
<div class="paragraph instruction">
<p>Export erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Preise und Bestände aktualisieren und Auftragsimport aktivieren</strong>.<br>
<strong>Wichtig:</strong> Die Option <strong>Produkterstellung anfordern</strong> darf nicht aktiviert sein, da Daten sonst automatisch über die API-Schnittstelle übertragen werden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wechsele in das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Wähle <strong>Cdiscount.com</strong> aus der Dropdown-Liste <strong>Datenformat</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Export ein.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export#300">Elastischer Export</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Export erscheint als Unterordner im Tab <strong>Exporte</strong> und die URL wird erstellt.</p>
</li>
<li>
<p>Öffne das Tab <strong>Exporte</strong> und dort den Unterordner <strong>Cdiscount.com</strong>.</p>
</li>
<li>
<p>Kopiere die <strong>URL</strong> und übermitteln Sie die URL an Cdiscount.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Merkmale für CSV-Datei verknüpfen</div>
<div class="paragraph">
<p>Wenn du deinen Artikelkatalog über eine CSV-Datei an Cdiscount übermittelst, müssen im Menü <strong>Einrichtung » Artikel » Merkmale</strong> die Merkmale <strong>Geschlecht</strong>, <strong>Hauptfarbe</strong>, <strong>Hinweis</strong>, <strong>Kommentar</strong>, <strong>Marketing-Beschreibung</strong>, <strong>Publikum</strong> und <strong>Sport</strong> verknüpft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">14. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an Cdiscount zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retouren-cdiscount">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-retouren-cdiscount">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retouren-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Retouren an Cdiscount</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CDiscount.fr</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Cdiscount senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">15. Auftragsstatus automatisch aktualisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um den Auftragsstatus bei Cdiscount automatisch zu aktualisieren, wenn bestimmte Ereignisse eintreten. Du hast die Möglichkeit, Aufträge bei Cdiscount per Ereignisaktion automatisch in die
folgenden Status zu setzen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Vom Händler abgelehnt</p>
</li>
<li>
<p>Vom Händler versendet</p>
</li>
<li>
<p>Versand vom Händler verweigert</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beispielhaft wird eine Ereignisaktion beschrieben, mit der du Cdiscount darüber informierst, dass du die bestellte Ware verschickt hast. Andere Ereignisaktionen richtest du auf die gleiche Weise ein.</p>
</div>
<div class="paragraph">
<p>Damit die Versandbestätigung erfolgreich übermittelt wird, müssen folgende Daten am Auftrag gepflegt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Versanddienstleister</p>
</li>
<li>
<p>Warenausgang muss gebucht sein</p>
</li>
<li>
<p>externe Auftragsnummer</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-auftragsstatus-cdiscount">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-auftragsstatus-cdiscount">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-auftragsstatus-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Aktualisieren von Auftragsstatus bei Cdiscount</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel &gt; Warenausgang gebucht</strong><br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> <strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CDiscount.fr</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragsänderung an Cdiscount melden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vom Händler versendet</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Status: Vom Händler akzeptiert</div>
<div class="paragraph">
<p>Der Status <strong>Vom Händler akzeptiert</strong> muss nicht per Ereignisaktion verschickt werden. Jeder Auftragseingang löst eine automatische Benachrichtigung über diesen Status an Cdiscount aus.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">16. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » API-Log</strong> findest du eine Historie über Vorgänge, die über die Cdiscount-Schnittstelle ausgeführt wurden. Das Format <strong>Cdiscount.com</strong> steht Ihnen für Cdiscount zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wähle das Format <strong>Cdiscount.com</strong> aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ggf. ein Datum, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Wähle die Anzahl der Ergebnisse pro Seite.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um die Ergebnisse anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</main>