<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Check24 registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Check24 in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#400"><span>5.</span><span> SKU festlegen</span></a></li>
<li><a href="#600"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#700"><span>7.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#500"><span>8.</span><span> Artikelexport einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#500-1"><span>8.1.</span><span> Exportformat Check24DE</span></a>
<ul class="sectlevel3">
<li><a href="#500-3"><span>8.1.1.</span><span> Exportformat Check24DE erstellen</span></a></li>
<li><a href="#500-2"><span>8.1.2.</span><span> Verfügbare Spalten der Exportdatei für Exportformat Check24DE</span></a></li>
</ul>
</li>
<li><a href="#650"><span>8.2.</span><span> Exportformat Check24DE Fashion</span></a>
<ul class="sectlevel3">
<li><a href="#650-1"><span>8.2.1.</span><span> Exportformat Check24DE Fashion erstellen</span></a></li>
<li><a href="#650-2"><span>8.2.2.</span><span> Verfügbare Spalten des Formats Check24DE Fashion</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#950"><span>9.</span><span> Auftragsimport</span></a></li>
<li><a href="#975"><span>10.</span><span> Versandbestätigungen senden</span></a></li>
<li><a href="#1000"><span>11.</span><span> Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Check24</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Check24.de ist ein Online-Vergleichsportal, das Verbraucher:innen bei der Suche nach dem für sie passenden Preis-/Leistungsumfang hilft. Auch du kannst auf dem Marktplatz Check24.de deine Artikel verkaufen.</p>
</div>
<div class="paragraph">
<p>Auf dieser Handbuchseite findest du Informationen zur Einrichtung des Marktplatzes Check24 in plentymarkets. Du erfährst, wie du die Schnittstelle einrichtest, deine Artikel zu Check24 exportierst und Verkaufspreise festlegst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Check24 registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Check24 in plentymarkets einrichtest, musst du dich bei <a href="https://merchantcenter.check24.de/landing/partner_info" target="_blank" rel="noopener">Check24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Check24 in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen in plentymarkets vor, um die Schnittstelle zu Check24 einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Check24 einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Check24</strong>.</p>
</li>
<li>
<p>Aktiviere den automatischen Datenaustausch.</p>
</li>
<li>
<p>Gib als Benutzernamen deinen Partnerlogin für den FTP-Zugang ein.</p>
</li>
<li>
<p>Gib dein Passwort für den FTP-Zugang ein.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Auftragsabgleich</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit Check24 verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Check24 aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Check24</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf Check24 verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="f-r-eine-variante-tab" data-toggle="tab" href="#f-r-eine-variante" role="tab" aria-controls="f-r-eine-variante" aria-selected="true">Für eine Variante</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-varianten-gruppenfunktion-tab" data-toggle="tab" href="#per-varianten-gruppenfunktion" role="tab" aria-controls="per-varianten-gruppenfunktion" aria-selected="false">Per Varianten-Gruppenfunktion</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-stapelverarbeitung-tab" data-toggle="tab" href="#per-stapelverarbeitung" role="tab" aria-controls="per-stapelverarbeitung" aria-selected="false">Per Stapelverarbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="f-r-eine-variante" role="tabpanel" aria-labelledby="f-r-eine-variante-tab">
<div class="paragraph instruction">
<p>Eine Variante für Check24 verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> der Variante wird geöffnet.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf Check24 zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Check24</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Variante ist für Check24 verfügbar.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-varianten-gruppenfunktion" role="tabpanel" aria-labelledby="per-varianten-gruppenfunktion-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> bearbeitest du mehrere Varianten gleichzeitig. Dabei wählst du die zu bearbeitenden Varianten direkt aus.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Varianten-Gruppenfunktion für Check24 verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Check24</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Check24</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen vorzunehmen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-stapelverarbeitung" role="tabpanel" aria-labelledby="per-stapelverarbeitung-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a> bearbeitest du mehrere Varianten gleichzeitig. Du verwendest Filter, um die zu bearbeitenden Varianten einzuschränken.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Stapelverarbeitung für Check24 verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Check24</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Check24</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="400">5. SKU festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Export der Varianten wird automatisch eine SKU generiert. Optional hast du aber auch die Möglichkeit, marktplatzspezifische SKUs an den Varianten zu speichern, die du auf dem Marktplatz verkaufen möchtest.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="sku-manuell-speichern-tab" data-toggle="tab" href="#sku-manuell-speichern" role="tab" aria-controls="sku-manuell-speichern" aria-selected="true">SKU manuell speichern</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="sku-importieren-tab" data-toggle="tab" href="#sku-importieren" role="tab" aria-controls="sku-importieren" aria-selected="false">SKU importieren</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="sku-manuell-speichern" role="tabpanel" aria-labelledby="sku-manuell-speichern-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Check24</strong>.<br></p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="sku-importieren" role="tabpanel" aria-labelledby="sku-importieren-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Hier werden nur die wichtigsten Einstellungen für den Import beschrieben. Du arbeitest zum ersten Mal mit dem Import-Tool? Dann mache dich zuerst <a href="/daten/daten-importieren/ElasticSync">mit dem Prinzip des Datenimports in plentymarkets vertraut</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Erstelle eine CSV-Datei mit mindestens den in <a href="#table-sku-import">Tabelle 1</a> beschriebenen Spalten.</p>
</li>
<li>
<p>Erstelle einen Import mit den folgenden Einstellungen:</p>
<div class="ulist">
<ul>
<li>
<p>Wähle den Typ <strong>Artikel</strong>.</p>
</li>
<li>
<p>Wähle als Abgleichfeld die <strong>Varianten-ID</strong>.</p>
</li>
<li>
<p>Ordne die plentymarkets Datenfelder wie in <a href="#table-sku-import">Tabelle 1</a> beschrieben zu.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Empfohlene Spalten der Importdatei</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spalte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">plentymarkets Datenfeld für die Zuordnung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Varianten-ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib in dieser Spalte die Varianten-ID ein.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Varianten-ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Marktplatz-ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib in dieser Spalte die Herkunft-ID <strong>150</strong> ein.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marktplatz-ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Account-ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Für diesen Marktplatz gibt es keine Marktplatzkonten. Gib deshalb in diese Spalte die Zahl <strong>0</strong> ein.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marktplatz-ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SKU</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib in dieser Spalte die SKU ein, die du für den Marktplatz an der Variante speichern möchtest.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>SKU</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="600">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Verkaufspreisen definierst du die Bedingungen, unter denen eine Variante zu einem bestimmten Preis und über einen bestimmten Verkaufskanal verkauft wird. Um Varianten auf Check24 zu verkaufen, benötigst du deshalb einen Verkaufspreis, bei dem die Auftragsherkunft Check24 aktiviert ist. Der Preis, den du für diesen Verkaufspreis an deinen Varianten speicherst, wird auf Check24 angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Check24 festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen]</strong>.<br>
<strong><em>Tipp:</em></strong> Du hast noch keine Verkaufspreise? Dann erstelle zuerst einen <a href="/artikel/einstellungen/preise#100">neuen Verkaufspreis</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>Check24</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald ein aktives Konto für check24 existiert, ist die Zahlungsart <strong>check24</strong> automatisch im System verfügbar. Es sind keine eigenen Konfigurationen dafür notwendig. Du muss nur noch die Zahlungsart in einer oder mehreren Kundenklassen erlauben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in der die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Aktiviere für die Einstellung <strong>Erlaubte Zahlungsarten</strong> die Option <strong>check24</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben, wie du deine Artikel zu Check24 überträgst. Artikel werden über den elastischen Export mit den Datenformaten Check24DE und Check24DE Fashion zu Check24 exportiert. Dafür müssen die Plugins <strong>ElasticExport</strong> und <strong>ElasticExportCheck24DE</strong> installiert sein. Erstelle zunächst das Datenformat Check24DE und übermittele im Anschluss die URL zu Check24.</p>
</div>
<div class="sect2">
<h3 id="500-1">8.1. Exportformat Check24DE</h3>
<div class="sect3">
<h4 id="500-3">8.1.1. Exportformat Check24DE erstellen</h4>
<div class="paragraph">
<p>Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-artikelexport-check24">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>Check24DE-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In der folgenden Tabelle findest du Hinweise zu den einzelnen Formateinstellungen und empfohlenen Artikelfiltern für das Format <strong>Check24DE-Plugin</strong>.</p>
</div>
<table id="einstellungen-artikelexport-check24" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für das Datenformat <strong>Check24DE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name eingeben. Unter diesem Namen erscheint das Exportformat in der Übersicht im Tab <strong>Exporte</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Check24DE-Plugin</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zahl eingeben. Wenn mehr als 9999 Datensätze an die Preissuchmaschine übertragen werden sollen, wird die Ausgabedatei wird für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen. Wenn mehr als 9999 Datensätze benötigt werden, muss die Option <strong>Cache-Datei generieren</strong> aktiv sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Häkchen setzen, wenn mehr als 9999 Datensätze an die Preissuchmaschine übertragen werden sollen. Um eine optimale Performance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>URL</strong> wählen. Mit dieser Option kann ein Token für die Authentifizierung generiert werden, damit ein externer Zugriff möglich ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn unter <strong>Bereitstellung</strong> die Option <strong>URL</strong> gewählt wurde, auf <strong>Token generieren</strong> klicken. Der Token wird dann automatisch eingetragen. Die URL wird automatisch eingetragen, wenn unter <strong>Token</strong> der Token generiert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit Check24.de die Datei erfolgreich importieren kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Einen oder mehrere der folgenden Artikelfilter aus der Dropdown-Liste wählen und auf <strong>Hinzufügen</strong> klicken. Standardmäßig sind keine Filter voreingestellt. Es ist möglich, alle unten aufgeführten Artikelfilter aus der Dropdown-Liste nacheinander hinzuzufügen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten</strong> = <strong>Alle übertragen</strong> oder <strong>Nur Hauptvarianten übertragen</strong> wählen.</p>
</li>
<li>
<p><strong>Märkte</strong> = Einen, mehrere oder <strong>ALLE</strong> Märkte wählen. Die Verfügbarkeit muss für alle hier gewählten Märkte am Artikel hinterlegt sein. Andernfalls findet kein Export statt.</p>
</li>
<li>
<p><strong>Währung</strong> = Währung wählen.</p>
</li>
<li>
<p><strong>Kategorie</strong> = Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie zugehören, übertragen.</p>
</li>
<li>
<p><strong>Bild</strong> = Aktivieren, damit der Artikel mit Bild übertragen wird. Es werden nur Artikel mit Bildern übertragen.</p>
</li>
<li>
<p><strong>Mandant</strong> = Mandant wählen.</p>
</li>
<li>
<p><strong>Bestand</strong> = Wählen, welche Bestände exportiert werden sollen.</p>
</li>
<li>
<p><strong>Markierung 1 - 2</strong> = Markierung wählen.</p>
</li>
<li>
<p><strong>Hersteller</strong> = Einen, mehrere oder <strong>ALLE</strong> Hersteller wählen.</p>
</li>
<li>
<p><strong>Aktiv</strong> = Nur aktive Varianten werden übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob die URL des Artikels oder der Variante an das Preisportal übertragen wird. Varianten URLs können nur in Kombination mit dem Ceres Webshop übertragen werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mandant wählen. Diese Einstellung wird für den URL-Aufbau und zum Filtern gültiger Verkaufspreise verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Suffix für die Produkt-URL eingeben, wenn dies für den Export erforderlich ist. Die Produkt-URL wird dann um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>übertragen</strong> für die Produkt-URL aktiviert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aus der Dropdown-Liste die Auftragsherkunft wählen, die beim Auftragsimport zugeordnet werden soll. Die Auftragsherkunft wird zum Filtern gültiger Verkaufspreise und Bilder verwendet. Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Marktplatzkonto aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sprache aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welcher Text als Beschreibungstext übertragen werden soll. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge der Beschreibung beim Export vorgibt. Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden. Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zielland aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ASIN, ISBN oder eine EAN aus der Dropdown-Liste wählen. Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Andernfalls wird der Barcode nicht exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Position 0</strong> oder <strong>Erstes Bild</strong> wählen, um dieses Bild zu exportieren.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Position 0</strong> = Ein Bild mit der Position 0 wird übertragen.</p>
</li>
<li>
<p><strong>Erstes Bild</strong> = Das erste Bild wird übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Bestandspuffer für Varianten mit der Beschränkung auf den Netto-Warenbestand.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Bestand für Varianten ohne Bestandsbeschränkung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Bestand für Varianten ohne Bestandsführung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung. Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Option <strong>überschreiben</strong> aktivieren und in die Felder <strong>1</strong> bis <strong>10</strong>, die die ID der Verfügbarkeit darstellen, Artikelverfügbarkeiten eintragen. Somit werden die Artikelverfügbarkeiten, die im Menü <strong>System » Artikel » Verfügbarkeit</strong> eingestellt wurden, überschrieben.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Exportinformationen</div>
<div class="paragraph">
<p>Wenn du eine oder mehrere Einstellungen änderst, musst du den neuen Link an Check24 übergeben.</p>
</div>
<div class="paragraph">
<p>Pro Export werden maximal 4000 Artikel exportiert. Wenn du mehr Artikel exportierst, wird automatisch ein zweiter Export ausgeführt. Um den zweiten Export anzuzeigen, setze den Parameter <strong>&amp;Page</strong> = im Export-Link auf <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technische Daten werden in der letzten Spalte der Exportdatei an Check24 übergeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="500-2">8.1.2. Verfügbare Spalten der Exportdatei für Exportformat Check24DE</h4>
<div class="paragraph">
<p>Öffne das Exportformat <strong>Check24DE-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und bei Bedarf anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>Check24DE-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-check24" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Spalten der Exportdatei für das Exportformat <strong>Check24DE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>SKU</strong> der Variante für Check24.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manufacturer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Name des Herstellers</strong> des Artikels. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mpnr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <strong>Modell</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ean<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Artikelname</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Beschreibung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category_path</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Kategoriepfad der Standardkategorie</strong> für den in den Formateinstellungen definierten <strong>Mandanten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Verkaufspreis</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price_per_unit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Grundpreisinformation</strong> im Format "Preis / Einheit".<br>
<strong><em>Beispiel:</em></strong> 10,00 EUR / Kilogramm</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">link<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>URL-Pfad</strong> des Artikels abhängig vom
gewählten Mandanten in den Formateinstellungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image_url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>URL-Pfad</strong> des ersten Artikelbilds entsprechend der Formateinstellung <strong>Bild</strong>. Variantenbilder werden vor Artikelbildern priorisiert.<br>
<strong><em>Erlaubte Dateitypen:</em></strong> jpg, gif, bmp, png</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delivery_time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Name der Artikelverfügbarkeit</strong> unter <strong>Einrichtung » Artikel » Verfügbarkeit</strong> oder die Übersetzung gemäß der Formateinstellung <strong>Artikelverfügbarkeit überschreiben</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delivery_cost</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Versandkosten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pzn</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Leer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Netto-Warenbestand</strong> der Variante. Bei Artikeln, die nicht auf den Netto-Warenbestand beschränkt sind, wird <strong>999</strong> übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <strong>Gewicht</strong> wie im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Einstellungen » Maße</strong> definiert.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="650">8.2. Exportformat Check24DE Fashion</h3>
<div class="paragraph">
<p>Mit der Installation dieses Plugins erhältst du das Exportformat <strong>Check24DE Fashion</strong>, mit dem du Daten über den elastischen Export zu Check24.de überträgst. Um dieses Format für den elastischen Export nutzen zu können, installiere zunächst das Plugin <strong>Elastic Export</strong> aus dem plentyMarketplace, wenn noch nicht geschehen.</p>
</div>
<div class="paragraph">
<p>Sobald beide Plugins in deinem System installiert sind, kann das <a href="/daten/daten-exportieren/elastischer-export">Exportformat</a> <strong>Check24DE Fashion</strong> erstellt werden.</p>
</div>
<div class="sect3">
<h4 id="650-1">8.2.1. Exportformat Check24DE Fashion erstellen</h4>
<div class="paragraph">
<p>Exportformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-artikelexport-check24-fashion">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Eine ID für das Exportformat <strong>Check24DE-Plugin</strong> wird vergeben.<br>
→ Das Exportformat wird in der Übersicht <strong>Exporte</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In der folgenden Tabelle findest du Hinweise zu den einzelnen Formateinstellungen und empfohlenen Artikelfiltern für das Format <strong>Check24DE Fashion</strong>.</p>
</div>
<table id="einstellungen-artikelexport-check24-fashion" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Einstellungen für das Datenformat <strong>Check24DE Fashion</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name eingeben. Unter diesem Namen erscheint das Exportformat in der Übersicht im Tab <strong>Exporte</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Check24DE Fashion</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zahl eingeben. Wenn mehr als 9999 Datensätze an die Preissuchmaschine übertragen werden sollen, wird die Ausgabedatei wird für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen. Wenn mehr mehr als 9999 Datensätze benötigt werden, muss die Option <strong>Cache-Datei generieren</strong> aktiv sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Häkchen setzen, wenn mehr als 9999 Datensätze an die Preissuchmaschine übertragen werden sollen. Um eine optimale Performance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>URL</strong> wählen. Mit dieser Option kann ein Token für die Authentifizierung generiert werden, damit ein externer Zugriff möglich ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn unter <strong>Bereitstellung</strong> die Option <strong>URL</strong> gewählt wurde, auf <strong>Token generieren</strong> klicken. Der Token wird dann automatisch eingetragen. Die URL wird automatisch eingetragen, wenn unter <strong>Token</strong> der Token generiert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Dateiname muss auf <strong>.csv</strong> oder <strong>.txt</strong> enden, damit Check24.de die Datei erfolgreich importieren kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Artikelfilter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfilter hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikelfilter aus der Dropdown-Liste wählen und auf <strong>Hinzufügen</strong> klicken. Standardmäßig sind keine Filter voreingestellt. Es ist möglich, alle Artikelfilter aus der Dropdown-Liste nacheinander hinzuzufügen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Varianten</strong> = <strong>Alle übertragen</strong> oder <strong>Nur Hauptvarianten übertragen</strong> wählen.</p>
</li>
<li>
<p><strong>Märkte</strong> = Einen, mehrere oder <strong>ALLE</strong> Märkte wählen. Die Verfügbarkeit muss für alle hier gewählten Märkte am Artikel hinterlegt sein. Andernfalls findet kein Export statt.</p>
</li>
<li>
<p><strong>Währung</strong> = Währung wählen.</p>
</li>
<li>
<p><strong>Kategorie</strong> = Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie zugehören, übertragen.</p>
</li>
<li>
<p><strong>Bild</strong> = Aktivieren, damit der Artikel mit Bild übertragen wird. Es werden nur Artikel mit Bildern übertragen.</p>
</li>
<li>
<p><strong>Mandant</strong> = Mandant wählen.</p>
</li>
<li>
<p><strong>Bestand</strong> = Wählen, welche Bestände exportiert werden sollen.</p>
</li>
<li>
<p><strong>Markierung 1 - 2</strong> = Markierung wählen.</p>
</li>
<li>
<p><strong>Hersteller</strong> = Einen, mehrere oder <strong>ALLE</strong> Hersteller wählen.</p>
</li>
<li>
<p><strong>Aktiv</strong> = Nur aktive Varianten werden übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Formateinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mandant wählen. Diese Einstellung wird zum Filtern gültiger Verkaufspreise verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Auftragsherkunft  aus der Dropdown-Liste wählen. Diese Einstellung wird zum Filtern gültiger Verkaufspreise verwendet. Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Marktplatzkonto aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sprache aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welcher Text als Vorschautext übertragen werden soll. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge der Beschreibung beim Export vorgibt. Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden. Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welcher Text als Beschreibungstext übertragen werden soll. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Preissuchmaschine eine Begrenzung der Länge der Beschreibung beim Export vorgibt. Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden. Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zielland aus der Dropdown-Liste wählen. Diese Einstellung wird zum herausfiltern gültiger Verkaufspreise verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine EAN aus der Dropdown-Liste wählen. Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Andernfalls wird der Barcode nicht exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Position 0</strong> oder <strong>Erstes Bild</strong> wählen, um dieses Bild zu exportieren.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Position 0</strong> = Ein Bild mit der Position 0 wird übertragen.</p>
</li>
<li>
<p><strong>Erstes Bild</strong> = Das erste Bild wird übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktivieren, wenn ein gültiger Verkaufspreis vom Typ <strong>UVP</strong> übertragen werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist für dieses Format nicht relevant.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="650-2">8.2.2. Verfügbare Spalten des Formats Check24DE Fashion</h4>
<div class="paragraph">
<p>Öffne das Exportformat <strong>Check24DE-Plugin</strong> im Menü <strong>Daten » Elastischer Export</strong>, um die Exportdatei herunterzuladen und bei Bedarf anzupassen.</p>
</div>
<div class="paragraph instruction">
<p>Exportdatei herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Formats <strong>Check24DE-Plugin</strong> auf <strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Die Datei wird heruntergeladen und auf deinem Rechner gespeichert.</p>
</li>
<li>
<p>Öffne die Exportdatei mit einem geeigneten Programm.</p>
</li>
</ol>
</div>
<table id="spalten-exportdatei-check24-fashion" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Verfügbare Spalten des Datenformats <strong>Check24DE Fashion</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spaltenbezeichnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktname<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Artikelname</strong> oder Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Produktname</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation-ID<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Parent-SKU</strong> der Variante für Check24 oder eine Zeichenkette gemäß "Parent-SKU"-"Attributswert-ID", wenn ein Farb-Attribut an der Variante hinterlegt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Model-ID<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Parent-SKU</strong> der Variante für Check24.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie-Pfad<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategoriepfad der Standard-Kategorie des Mandanten, der oben in den Einstellungen gewählt wurde oder Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong> Verknüpfung: <strong>Kategorie-Pfad</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kurzbeschreibung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Vorschautext</strong> oder Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Kurzbeschreibung</strong>. Merkmale werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ausführliche Beschreibung<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Beschreibung</strong> oder Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Ausführliche Beschreibung</strong>. Merkmale werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon Sales Rank</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Amazon Sales Rank</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unverbindliche Preisempfehlung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Verkaufspreis</strong> vom Typ <strong>UVP</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entsprechend der Formateinstellung <strong>Barcode</strong> oder ein Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>EAN</strong>. Merkmale werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>ASIN</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">MPNR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <strong>Modell</strong> der Variante oder Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>MPNR</strong>. Merkmale werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>SKU</strong> der Variante für Check24.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UPC</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode vom Typ <strong>UPC</strong> oder Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>UPC</strong>. Merkmale werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL #1 - #20<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>URL-Pfad</strong> der Artikelbilder entsprechend der Formateinstellung <strong>Bild</strong>. Wenn Farbvariationen vorliegen, werden nur die Bilder, die mit der jeweiligen Variante verknüpft sind, übertragen. Ansonsten werden alle Bilder exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Absatzform</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Absatzform</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schuhspitze</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Schuhspitze</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Geschlecht</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersgruppe<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Altersgruppe</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größe<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut mit der Attributverknüpfung <strong>Größe</strong> für Google Shopping oder ein Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Größe</strong>. Attribute werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größensystem<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Größensystem</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marke<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <strong>Name des Herstellers</strong> des Artikels oder ein Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Marke</strong>. Merkmale werden bevorzugt. Der <strong>Externe Name</strong> unter <strong>Einrichtung » Artikel » Hersteller</strong> wird bevorzugt, wenn vorhanden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Material<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut mit der Attributverknüpfung <strong>Material</strong> für Google Shopping oder Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Material</strong>. Attribute werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Innenfutter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Innenfutter</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Absatzhöhe</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Absatzhöhe</strong>. Am Artikel sowohl das Maß als auch die Maßeinheit als Merkmalwert eintragen. <strong><em>Beispiel:</em></strong> <code>2 cm</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sohlenmaterial</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Sohlenmaterial</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passform</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Passform</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verschluss</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Verschluss</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schafthöhe</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Schafthöhe</strong>. Am Artikel bitte sowohl das Maß als auch die Maßeinheit als Merkmalwert eintragen. <strong><em>Beispiel:</em></strong> <code>5 cm</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schaftweite</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Schaftweite</strong>. Am Artikel bitte sowohl das Maß als auch die Maßeinheit als Merkmalwert eintragen. <strong><em>Beispiel:</em></strong> <code>5 cm</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weite</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Weite</strong>. Bitte Am Artikel bitte sowohl das Maß als auch die Maßeinheit als Merkmalwert eintragen.<br>
<strong><em>Beispiel:</em></strong> <code>5 cm</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Muster</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut mit der Attributverknüpfung <strong>Muster</strong> für Google Shopping oder ein Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Muster</strong>. Attribute werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellerfarbe<br>
(Pflichtangabe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut mit der Attributverknüpfung <strong>Farbe</strong> für Google Shopping oder ein Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Herstellerfarbe</strong>. Attribute werden bevorzugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Innensohlenmaterial</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Innensohlenmaterial</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anlass</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Anlass</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saison</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Saison</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sonstige</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Sonstige</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Applikationen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Applikationen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modestil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal des Typs <strong>Text</strong> oder <strong>Auswahl</strong> mit der <strong>Check24 Fashion-Merkmal</strong>-Verknüpfung: <strong>Modestil</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="950">9. Auftragsimport</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim stündlichen Auftragsimport wird der Auftrag automatisch in <strong>Status [5] Freigabe Versand</strong> gesetzt. Als Rechnungsadresse wird immer Check24 übermittelt. Die Adresse von Kund:innen dient lediglich als Lieferadresse.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="975">10. Versandbestätigungen senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zurzeit ist es über die Schnittstelle noch nicht möglich, Versandbestätigungen automatisch zu senden. Kontaktiere Check24, um automatische Versandbestätigungen einzurichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » Log</strong> findest du eine Historie über Vorgänge, die über die Schnittstelle zu check24 ausgeführt wurden. Beachte, dass Integrationen und Identifikatoren erst in den Dropdown-Listen als Filter verfügbar sind, wenn der Vorgang mindestens einmal ausgeführt wurde.</p>
</div>
<div class="paragraph">
<p>Für check24 eignen sich die folgenden Filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Identifikator</strong> » <strong>Check24OrderImport</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Log-Einträge filtern und prüfen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Wähle in der Spalte links geeignete Filtereinstellungen aus den Dropdown-Listen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter für Datum und/oder Uhrzeit, um nur Einträge anzuzeigen, die in einem bestimmten Zeitraum erstellt wurden.<br>
<strong><em>Tipp:</em></strong> Weitere Informationen zu den Filtern findest du auf der Handbuchseite <a href="/daten/datenlog">Daten-Log</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Ergebnisse werden angezeigt.</p>
</li>
<li>
<p>Prüfe Einträge mit den Levels <strong>warning</strong> und <strong>error</strong>.<br>
<strong><em>Tipp:</em></strong> Klicke auf eine Meldung, um Details einzublenden.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>