<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Check24 registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Check24 in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#250"><span>2.1.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>2.2.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#400"><span>2.3.</span><span> SKU festlegen</span></a></li>
<li><a href="#500"><span>2.4.</span><span> Artikelexport einrichten</span></a></li>
<li><a href="#600"><span>2.5.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#700"><span>2.6.</span><span> Zahlungsart aktivieren</span></a></li>
</ul>
</li>
<li><a href="#950"><span>3.</span><span> Auftragsimport</span></a></li>
<li><a href="#975"><span>4.</span><span> Versandbestätigungen senden</span></a></li>
<li><a href="#1000"><span>5.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Check24</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite findest du Informationen zur Einrichtung des Marktplatzes Check24 in plentymarkets. Du erfährst, wie du die Schnittstelle einrichtest, deine Artikel zu Check24 exportierst und Verkaufspreise festlegst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Check24 registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Check24 in plentymarkets einrichtest, musst du dich bei <a href="https://merchantcenter.check24.de/landing/partner_info" target="_blank" rel="noopener">Check24</a> registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Check24 in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen in plentymarkets vor, um die Schnittstelle zu Check24 einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Check24 einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Check24</strong>.</p>
</li>
<li>
<p>Aktiviere den automatischen Datenaustausch.</p>
</li>
<li>
<p>Gib als Benutzernamen deinen Partnerlogin für den FTP-Zugang ein.</p>
</li>
<li>
<p>Gib dein Passwort für den FTP-Zugang ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Auftragsabgleich</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="250">2.1. Auftragsherkunft aktivieren</h3>
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Check24 verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Check24 aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Check24 aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Check24</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">2.2. Artikelverfügbarkeit einstellen</h3>
<div class="paragraph">
<p>Artikel, die du auf Check24 verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Check24 einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Check24</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">2.3. SKU festlegen</h3>
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Check24</strong>.</p>
</li>
<li>
<p>Wähle das dazugehörige Marktplatzkonto.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">2.4. Artikelexport einrichten</h3>
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben, wie du deine Artikel zu Check24 überträgst. Artikel werden über den elastischen Export mit dem Datenformat Check24DE zu Check24 exportiert. Dafür müssen zuvor die Plugins <strong>ElasticExport</strong> und <strong>ElasticExportCheck24DE</strong> installiert worden sein. Lege zunächst das Datenformat Check24DE an und übermittele im Anschluss die URL zu Check24.</p>
</div>
<div class="paragraph instruction">
<p>Artikelexport einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-artikelexport-check24">Tabelle 1</a>.</p>
</li>
<li>
<p>Nimm weitere Einstellungen für Artikelfilter und Formateinstellungen vor. Beachte dazu die Erläuterungen in Tabelle 2 auf der Handbuchseite <a href="/daten/daten-exportieren/elastischer-export#300">Elastischer Export</a>.<br>
<strong><em>Tipp:</em></strong> Damit nur Artikel zu Check24 übertragen werden, die für Check24 aktiviert und im Tab <strong>Verfügbarkeit</strong> eines Artikels für den Marktplatz verfügbar sind, wähle den Artikelfilter <strong>Aktiv</strong> und den Artikelfilter <strong>Märkte » Check24</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat wird vergeben und das Exportformat erscheint in der Übersicht <strong>Exporte</strong>.</p>
</li>
</ol>
</div>
<table id="einstellungen-artikelexport-check24" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für Artikelexport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben. Unter diesem Namen erscheint das Exportformat in der Übersicht im Tab <strong>Exporte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Format <strong>Check24DE</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl eingeben. Wenn mehr als 10000 Datensätze an Check24 übertragen werden sollen, wird die Ausgabedatei für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong>,<br>
<strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Bereitstellung</strong> die Option <strong>URL</strong> gewählt wurde, auf <strong>Token generieren</strong> klicken. Der Token wird dann automatisch eingetragen. Die URL wird automatisch eingetragen, wenn unter <strong>Token</strong> der Token generiert wurde. Diese URL an Check24 übergeben, damit die Artikel exportiert werden.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Exportinformationen</div>
<div class="paragraph">
<p>Wenn du eine oder mehrere Einstellungen änderst, musst du den neuen Link an Check24 übergeben.</p>
</div>
<div class="paragraph">
<p>Pro Export werden maximal 4000 Artikel exportiert. Wenn du mehr Artikel exportierst, wird automatisch ein zweiter Export ausgeführt. Um den zweiten Export anzuzeigen, setze den Parameter <strong>&amp;Page</strong> = im Export-Link auf <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technische Daten werden in der letzten Spalte der Exportdatei an Check24 übergeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="600">2.5. Verkaufspreis festlegen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Check24 einen Verkaufspreis festzulegen. Dieser Preis wird auf Check24 angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Check24 festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Check24</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">2.6. Zahlungsart aktivieren</h3>
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Check24</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart Check24 aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Systemeinstellungen » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive anzeigen</strong>.</p>
</li>
<li>
<p>Klicke auf den Ordner <strong>DE &gt; Check24</strong>. <br>
→ Die Einstellungen für die Check24-Zahlungsart werden angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart-check24">Tabelle 2</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart-check24" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer*innen im Webshop die Sprache wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig:</strong> Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="950">3. Auftragsimport</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim stündlichen Auftragsimport wird der Auftrag automatisch in <strong>Status [5] Freigabe Versand</strong> gesetzt. Als Rechnungsadresse wird immer Check24 übermittelt. Die Adresse vom Kunden dient lediglich als Lieferadresse.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="975">4. Versandbestätigungen senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zurzeit ist es über die Schnittstelle noch nicht möglich, Versandbestätigungen automatisch zu senden. Kontaktiere Check24, um automatische Versandbestätigungen einzurichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">5. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » API-Log</strong> findest du eine Historie über Vorgänge, die über die Check24-Schnittstelle ausgeführt wurden. Das Format <strong>Check24OrderImportAdapter</strong> steht dir für Check24 zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wähle das Format <strong>Check24OrderImportAdapter</strong> aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ggf. ein Datum, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Wähle die Anzahl der Ergebnisse pro Seite.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um die Ergebnisse anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</main>