<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> Übersicht des automatischen Datenaustauschs mit Etsy</span></a></li>
<li><a href="#100"><span>2.</span><span> Bei Etsy registrieren</span></a></li>
<li><a href="#200"><span>3.</span><span> Etsy-Plugin in plentymarkets installieren</span></a></li>
<li><a href="#250"><span>4.</span><span> Schnittstelle freischalten</span></a></li>
<li><a href="#300"><span>5.</span><span> Etsy in plentymarkets einrichten</span></a></li>
<li><a href="#301"><span>6.</span><span> Exportsprachen einstellen</span></a></li>
<li><a href="#400"><span>7.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#500"><span>8.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#550"><span>9.</span><span> Optional: Existierende Etsy Listing-ID speichern</span></a></li>
<li><a href="#600"><span>10.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#900"><span>11.</span><span> Rechtliche Hinweise speichern</span></a></li>
<li><a href="#900"><span>12.</span><span> Artikelexport einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>12.1.</span><span> Katalog erstellen</span></a></li>
<li><a href="#datenfelder-zuordnen"><span>12.2.</span><span> Datenfelder im Katalog zuordnen</span></a>
<ul class="sectlevel3">
<li><a href="#905"><span>12.2.1.</span><span> Besonderheiten bei der Zuordnung von Datenfeldern</span></a></li>
</ul>
</li>
<li><a href="#904"><span>12.3.</span><span> Katalog aktivieren</span></a></li>
</ul>
</li>
<li><a href="#2200"><span>13.</span><span> Checkliste: Voraussetzungen für den Variantenexport</span></a></li>
<li><a href="#10001"><span>14.</span><span> Auftragsabwicklung automatisieren</span></a></li>
<li><a href="#1000"><span>15.</span><span> Zahlungsbestätigungen automatisch senden</span></a></li>
<li><a href="#1100"><span>16.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#1200"><span>17.</span><span> Benutzerrechte vergeben</span></a></li>
<li><a href="#1300"><span>18.</span><span> Marken- und Lizenzhinweise</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Etsy</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.etsy.com/de/" target="_blank" rel="noopener">Etsy</a> ist ein amerikanischer Marktplatz für den Kauf und Verkauf von handgemachten Produkten, Vintage und Künstlerbedarf.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. Übersicht des automatischen Datenaustauschs mit Etsy</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du Etsy in plentymarkets eingerichtet hast, findet der Datenaustausch in den in <a href="#datenaustausch-etsy">Tabelle 1</a> beschriebenen Intervallen statt:</p>
</div>
<table id="datenaustausch-etsy" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Häufigkeit des Datenaustauschs</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Daten</th>
<th class="tableblock halign-left valign-top">Intervall</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelexport</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>einmal täglich</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandsabgleich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>stündlich</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preisabgleich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>einmal täglich</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsimport</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>stündlich</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">2. Bei Etsy registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Registriere dich zunächst bei Etsy als Händler:in, um das Etsy-Plugin in plentymarkets einrichten zu können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Etsy-Plugin in plentymarkets installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Schnittstelle zu Etsy wird über ein Plugin integriert. Um Etsy in plentymarkets nutzen zu können, installiere zunächst das <a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/etsy_4689" target="_blank" rel="noopener">Etsy-Plugin</a> in deinem plentymarkets System. Das Plugin findest du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>Etsy</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>Etsy</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Etsy</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="250">4. Schnittstelle freischalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Etsy » Authentifizierung</strong> muss zunächst die Schnittstelle freigeschaltet werden. Damit gewährst du plentymarkets Zugriff auf dein Etsy-Konto.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle freischalten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Etsy » Authentifizierung</strong>.</p>
</li>
<li>
<p>Klicke auf das Weltkugel-Symbol (<span class="icon green"><i class="fa fa-globe  "></i></span>).<br>
→ Ein neues Fenster wird geöffnet und du wirst zu Etsy weitergeleitet.<br>
<strong><em>Fehlerbehebung:</em></strong> Du wirst nicht weitergeleitet?
Dann deaktiviere deinen Popup-Blocker oder verwende einen anderen Browser.</p>
</li>
<li>
<p>Gib deine Etsy-Zugangsdaten ein.</p>
</li>
<li>
<p>Klicke auf <strong>Gestatte den Zugang</strong>.<br>
→ Die Schnittstelle zu Etsy ist freigeschaltet.<br>
→ Du kannst weitere Einstellungen vornehmen.<br>
<strong><em>Fehlerbehebung:</em></strong> Du wirst auf die Startseite deines plentyShops weitergeleitet? Dann ist dein plentyShop wahrscheinlich gesperrt.
Entsperre den plentyShop im Menü <strong>Einrichtung » Mandant » Standard » Webshop » Shop sperren</strong>. Sperre den Shop wieder, wenn die Authentifizierung abgeschlossen ist.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">5. Etsy in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einstellungen bei Etsy beachten</div>
<div class="paragraph">
<p>Bevor du das Etsy-Plugin in plentymarkets einrichtest, muss bei Etsy im Menü <strong>Shop-Manager » Artikel » [Artikel öffnen]</strong> die Einstellung <strong>Erneuerungsoptionen</strong> auf <strong>Manuell</strong> gestellt werden. Das Etsy-Plugin funktioniert sonst nicht korrekt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Etsy » Einstellungen</strong> aktivierst du den Datenaustausch.</p>
</div>
<div class="paragraph instruction">
<p>Datenaustausch aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Etsy » Einstellungen</strong></p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Prozesse</strong> den <strong>Artikelexport</strong>, <strong>Bestandsabgleich</strong> und <strong>Auftragsimport</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="301">6. Exportsprachen einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Bereich <strong>Exportsprachen</strong> nimmst du Einstellungen zu den Exportsprachen vor. Standardmäßig wird die <strong>Shop-Sprache</strong> exportiert. Andere Sprachen werden für Übersetzungen der Angebote verwendet.</p>
</div>
<div class="paragraph instruction">
<p>Exportsprachen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Etsy » Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Sprachen, in denen deine Angebote exportiert werden sollen. Die folgenden Sprachen sind verfügbar:</p>
<div class="ulist">
<ul>
<li>
<p>Englisch</p>
</li>
<li>
<p>Deutsch</p>
</li>
<li>
<p>Französisch</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
<strong><em>Hinweis:</em></strong> Unabhängig von den Einstellungen wird die eingestellte <strong>Shop-Sprache</strong> standardmäßig exportiert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">7. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit Etsy verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Etsy aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Etsy</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf Etsy verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="f-r-eine-variante-tab" data-toggle="tab" href="#f-r-eine-variante" role="tab" aria-controls="f-r-eine-variante" aria-selected="true">Für eine Variante</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-varianten-gruppenfunktion-tab" data-toggle="tab" href="#per-varianten-gruppenfunktion" role="tab" aria-controls="per-varianten-gruppenfunktion" aria-selected="false">Per Varianten-Gruppenfunktion</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-stapelverarbeitung-tab" data-toggle="tab" href="#per-stapelverarbeitung" role="tab" aria-controls="per-stapelverarbeitung" aria-selected="false">Per Stapelverarbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="f-r-eine-variante" role="tabpanel" aria-labelledby="f-r-eine-variante-tab">
<div class="paragraph instruction">
<p>Eine Variante für Etsy verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf Etsy verkaufen möchtest.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf Etsy zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Etsy</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Variante ist für Etsy verfügbar.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-varianten-gruppenfunktion" role="tabpanel" aria-labelledby="per-varianten-gruppenfunktion-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> bearbeitest du mehrere Varianten gleichzeitig. Dabei wählst du die zu bearbeitenden Varianten direkt aus.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Varianten-Gruppenfunktion für Etsy verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Etsy</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Etsy</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen vorzunehmen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-stapelverarbeitung" role="tabpanel" aria-labelledby="per-stapelverarbeitung-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a> bearbeitest du mehrere Varianten gleichzeitig. Du verwendest Filter, um die zu bearbeitenden Varianten einzuschränken.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Stapelverarbeitung für Etsy verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Etsy</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Etsy</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="550">9. <em>Optional:</em> Existierende Etsy Listing-ID speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du eine Variante bereits auf Etsy listest, speichere die Etsy Listing-ID als SKU für die Herkunft <strong>Etsy</strong>. So können Varianten beim Export den bereits auf Etsy gelisteten Varianten zugewiesen werden und Überverkäufe werden verhindert.<br></p>
</div>
<div class="paragraph instruction">
<p>Etsy Listing-ID speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Etsy</strong>.</p>
</li>
<li>
<p>Gib die <strong>SKU</strong> im folgenden Format ein:<br>
<em>[Etsy-Listing-ID]</em>-<em>[plentymarkets-Varianten-ID]</em><br>
<strong><em>Beispiel:</em></strong> 708093072-3467</p>
</li>
<li>
<p>Gib die <strong>Parent-SKU</strong> im folgenden Format ein:<br>
<em>[Etsy-Listing-ID]</em><br>
<strong><em>Beispiel:</em></strong> 708093072</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">10. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Verkaufspreisen definierst du die Bedingungen, unter denen eine Variante zu einem bestimmten Preis und über einen bestimmten Verkaufskanal verkauft wird. Um Varianten auf Etsy zu verkaufen, benötigst du deshalb einen Verkaufspreis, bei dem die Auftragsherkunft Etsy aktiviert ist. Der Preis, den du für diesen Verkaufspreis an deinen Varianten speicherst, wird auf Etsy angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Etsy festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen]</strong>.<br>
<strong><em>Tipp:</em></strong> Du hast noch keine Verkaufspreise? Dann erstelle zuerst einen <a href="/artikel/einstellungen/preise#100">neuen Verkaufspreis</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>Etsy</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Rechtliche Hinweise speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Artikeltext für Etsy-Angebote muss bestimmte rechtliche Hinweise enthalten, zum Beispiel Angaben zur Lieferzeit und zum Widerrufsrecht. Speichere diese Hinweise in jeder Sprache, in der du dein Sortiment anbietest. Die Hinweise werden beim Export automatisch zur Artikelbeschreibung hinzugefügt.</p>
</div>
<div class="paragraph instruction">
<p>Rechtliche Hinweise speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Etsy » Rechtliche Hinweise</strong>.<br>
→ Das Fenster <strong>Rechtliche Hinweise</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die Sprache aus, in der rechtliche Hinweise gespeichert werden sollen.</p>
</li>
<li>
<p>Gib den Text ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">12. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden über Kataloge zu Etsy übertragen. Mit dem Marktplatz-Format <strong>Listing - Etsy</strong> erstellst du einen Katalog, über den Daten für alle Etsy-Produktkategorien exportiert werden.</p>
</div>
<div class="sect2">
<h3 id="700">12.1. Katalog erstellen</h3>
<div class="paragraph">
<p>Artikeldaten werden über das Marktplatz-Format <strong>Listing - Etsy</strong> zu Etsy übertragen. Um deine Artikel zu Etsy zu übertragen, erstellst du im Menü <strong>Daten » Kataloge</strong> einen Katalog. Verknüpfe anschließend im Marktplatz-Format die von Etsy vorgegebenen Felder mit in plentymarkets gespeicherten Artikeldaten. Die Katalogdaten werden automatisch einmal täglich zu Etsy exportiert, wenn du unter <strong>Einrichtung » Märkte » Etsy » Einstellungen</strong> den <strong>Artikelexport</strong> aktiviert hast. Du arbeitest zum ersten Mal mit den Katalogen? Dann mache dich zuerst <a href="/daten/daten-exportieren/kataloge-verwalten">mit dem Prinzip der Kataloge vertraut</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Du kannst für Etsy nur einen Katalog erstellen. Mehrere Kataloge werden für Etsy aktuell nicht unterstützt.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Katalog erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Katalog erstellen</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Katalog ein.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Export-Typ</strong> die Option <strong>Listing - Etsy</strong>.<br></p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Format-Typ</strong> die Option <strong>Artikel</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Format</strong> die Option <strong>Listing - Etsy</strong>.<br>
<strong><em>Tipp:</em></strong> Für diesen Marktplatz kannst du nur einen Katalog erstellen. Deshalb ist als Format nur der Name des Marktplatzes wählbar.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Der Katalog wird erstellt.<br>
→ Der Katalog wird zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Weitere Katalogeinstellungen sind optional</div>
<div class="paragraph">
<p>In den Katalogeinstellungen findest du zusätzlich zu den Grundeinstellungen auch Optionen für <strong>Formateinstellungen</strong>, <strong>Exporteinstellungen</strong> und <strong>Download-Einstellungen</strong>. Mit diesen optionalen Einstellungen kannst du festlegen, dass in regelmäßigen Abständen eine Datei mit den Artikeldaten erstellt wird, die an den Marktplatz exportiert wurden. Wenn du das nicht möchtest, kannst du die Einstellungen ignorieren. Diese Einstellungen haben keine Auswirkungen auf den Export zum Marktplatz.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="datenfelder-zuordnen">12.2. Datenfelder im Katalog zuordnen</h3>
<div class="paragraph">
<p>Nachdem du einen Katalog erstellt hast, ordnest du die Datenfelder des Marktplatzes den in plentymarkets gespeicherten Artikeldaten zu. Informationen dazu, welche Daten für welches Datenfeld des Marktplatzes übertragen werden müssen, findest du in der Dokumentation des Marktplatzes.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eigenschaften verwenden</div>
<div class="paragraph">
<p>Verwende <a href="/artikel/artikel-verwalten#4800">Eigenschaften</a>, um Werte für Marktplatz-Datenfelder zu übergeben, für die es keine Entsprechung in plentymarkets gibt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Datenfelder im Katalog zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> mit den Marktplatz-Datenfeldern wird geöffnet.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (*) gekennzeichnet.</p>
</li>
<li>
<p>Klicke neben einem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Nimm die Zuordnung vor:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em> Ein oder mehrere plentymarkets Datenfelder zuordnen</strong></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Füge ein oder mehrere Ausweich-Datenfelder hinzu. Klicke dazu in der Liste der Datenfelder neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das Ausweich-Datenfeld wird exportiert, wenn das erste Datenfeld nicht vorhanden oder leer ist.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du einem Marktplatz-Datenfeld Ausweich-Datenfelder zuordnest, wird nur ein Wert übertragen. Die Felder werden in der Reihenfolge geprüft, in der sie zugeordnet werden. Wenn also das erste Datenfeld keinen Wert liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em> Für das Marktplatz-Datenfeld immer denselben Wert übergeben</strong></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke ganz oben neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.<br>
→ Dieser Wert wird für alle Varianten exportiert.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p>Ordne analog alle Datenfelder des Marktplatzes zu, für die du Produktinformationen übertragen möchtest.<br></p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Optional:</em></strong> Einem Marktplatz-Datenfeld mehrere plentymarkets Datenfelder zuordnen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein plentymarkets Datenfeld oder einen eigenen Wert zu.</p>
</li>
<li>
<p>Klicke rechts neben dem zugeordneten plentymarkets Datenfeld auf <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder wieder als Gruppen angezeigt.</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein oder mehrere weitere plentymarkets Datenfelder zu.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile des Marktplatz-Datenfelds auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.<br>
→ Beim Export wird der Inhalt der plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect3">
<h4 id="905">12.2.1. Besonderheiten bei der Zuordnung von Datenfeldern</h4>
<div class="paragraph">
<p>Jeder Marktplatz strukturiert Artikeldaten anders. Deshalb treten beim Zuordnen von Datenfeldern bestimmte Sonderfälle auf. In <a href="#catalogue-etsy-mappings">Tabelle 2</a> findest du Hinweise dazu, was du beim Zuordnen von Datenfeldern für Etsy beachten solltest.</p>
</div>
<table id="catalogue-etsy-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Besonderheiten bei der Katalogzuordnung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marktplatz-Datenfeld</th>
<th class="tableblock halign-left valign-top">plentymarkets Datenfeld</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Abteilung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Für dieses Marktplatz-Datenfeld stehen alle Shop-Abteilungen zur Verfügung, die du bei Etsy erstellt hast.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="904">12.3. Katalog aktivieren</h3>
<div class="paragraph">
<p>Du hast Etsy eingerichtet und den Katalog für den Export deiner Artikeldaten erstellt? Dann starte jetzt den Export deiner Artikeldaten.</p>
</div>
<div class="paragraph instruction">
<p>Katalogexport zu Etsy aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zu dem Etsy-Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Umschaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten des Katalogs werden einmal täglich nachts an Etsy übertragen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2200">13. <em>Checkliste:</em> Voraussetzungen für den Variantenexport</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit eine Variante zu Etsy exportiert werden kann, muss die Variante die folgenden Voraussetzungen erfüllen:</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ist die Marktplatzverfügbarkeit aktiviert?</div>
<div class="content">
<div class="paragraph">
<p>Die Variante muss für den Marktplatz verfügbar sein.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf Etsy verkaufen möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Etsy</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Ist die Variante aktiviert?</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf Etsy verkaufen möchtest.<br></p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Hat die Variante positiven Nettowarenbestand?</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf Etsy verkaufen möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Warenbestand</strong>.<br>
→ Der Nettowarenbestand pro Lager wird in der Spalte <strong>Netto</strong> angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Sind die Einstellungen für den Verkaufspreis korrekt?</div>
<div class="content">
<div class="paragraph instruction">
<p>Verkaufspreis prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Stelle den Filter <strong>Herkunft</strong> auf <strong>Etsy</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Der Verkaufspreis wird angezeigt, der für die Herkunft aktiviert ist.</p>
</li>
<li>
<p>Prüfe die Einstellungen des Verkaufspreises.</p>
</li>
<li>
<p>Nimm bei Bedarf Anpassungen vor.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Preis an Variante prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>.<br>
→ Im Tab <strong>Einstellungen</strong> werden die Verkaufspreise angezeigt.</p>
</li>
<li>
<p>Überprüfe die folgenden Einstellungen:</p>
<div class="ulist">
<ul>
<li>
<p>Ist der Verkaufspreis für die Herkunft verknüpft?</p>
</li>
<li>
<p>Ist ein Preis für die Herkunft gespeichert?</p>
</li>
</ul>
</div>
</li>
<li>
<p>Nimm bei Bedarf Anpassungen vor.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Verfügt die Variante über mindestens ein Bild?</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>.</p>
</li>
<li>
<p>Klicke in der unteren Leiste auf das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Überprüfe, dass mindestens ein Bild mit der Variante verknüpft ist.<br>
<strong><em>Tipp:</em></strong> Verknüpfte Bilder sind grün umrandet. Nicht verknüpfte Bilder sind ausgegraut.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke in der oberen Leiste auf das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Überprüfe, dass in der Dropdown-Liste <strong>Verfügbarkeit</strong> die Option <strong>Etsy</strong> aktiviert ist.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Hast du im Katalog alle Pflichtfelder des Marktplatzes zugeordnet?</div>
<div class="content">
<div class="paragraph">
<p>Mindestens alle Pflichtfelder des Marktplatzes müssen plentymarkets Datenfeldern zugeordnet sein. Im Katalog sind Pflichtfelder mit einem Sternchen (*) gekennzeichnet.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#datenfelder-zuordnen">So ordnest du Marktplatz-Datenfeldern ein oder mehrere plentymarkets Datenfelder zu.</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Ist der Katalog aktiviert?</div>
<div class="content">
<div class="paragraph">
<p>Der Katalog, dem die Variante zugeordnet ist, muss aktiviert sein.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zu dem Etsy-Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Toggle-Schaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Keine Fehler gefunden?</em></div>
<div class="content">
<div class="paragraph">
<p>Alles stimmt und die Variante wird trotzdem nicht exportiert? Dann prüfe das Daten-Log.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Verwende die folgenden Filter:<br></p>
<div class="ulist">
<ul>
<li>
<p><strong>Integration</strong> = <strong>Etsy</strong><br></p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Prüfe alle Einträge mit den Levels <strong>warning</strong> und <strong>error</strong>.</p>
</li>
<li>
<p>Öffne die Logs mit der Nachricht <strong>Variante ungültig</strong>.<br>
→ Die Varianten-ID und der Grund für die Ablehnung bzw. das fehlende Merkmal werden angezeigt.</p>
</li>
<li>
<p>Korrigiere die Variantendaten.<br></p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="10001">14. Auftragsabwicklung automatisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die automatische Auftragsabwicklung stehen die folgenden Ereignisaktionen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zahlungsbestätigungen automatisch senden (<a href="#1000">Wie?</a>)</p>
</li>
<li>
<p>Versandbestätigungen automatisch senden (<a href="#1100">Wie?</a>)</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">15. Zahlungsbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Zahlungsbestätigungen automatisch an Etsy zu senden, nachdem ein Zahlungseingang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#etsy-zahlungsbestaetigung">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#etsy-zahlungsbestaetigung">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="etsy-zahlungsbestaetigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Zahlungsbestätigungen automatisch an Etsy senden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung: Vollständig</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Etsy</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin &gt; Zahlungsbestätigung an Etsy senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">16. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch an Etsy zu senden, nachdem ein Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#etsy-versandbestaetigung">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#etsy-versandbestaetigung">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="etsy-versandbestaetigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Versandbestätigungen automatisch an Etsy senden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Etsy</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin &gt; Versandbestätigung an Etsy senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">17. Benutzerrechte vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Benutzer:innen mit dem Zugang <strong>Backend</strong> das Etsy-Plugin nutzen können, müssen Benutzerrechte vergeben werden. Benutzerrechte werden im Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> zugewiesen.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerrechte für Backend-Benutzer:innen vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion und öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Klappe das Menü <strong>Berechtigungen: Märkte</strong> auf.</p>
</li>
<li>
<p>Wähle die Option <strong>Zugangsdaten</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">18. Marken- und Lizenzhinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Begriff "Etsy" ist ein Markenzeichen von Etsy, Inc. Das Etsy-Plugin von plentymarkets verwendet die Etsy-API. Das Plugin wurde jedoch von Etsy weder befürwortet noch zertifiziert.</p>
</div>
<div class="paragraph">
<p>Das gesamte Projekt unterliegt der GNU AFFERO GENERAL PUBLIC LICENSE. Weitere Informationen findest du in der Datei <a href="https://github.com/plentymarkets/plugin-etsy/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>