<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Flubit registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Flubit in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#370"><span>6.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#400"><span>7.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#500"><span>8.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#600"><span>9.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#700"><span>10.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Flubit</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://flubit.com/" target="_blank" rel="noopener">Flubit</a> ist ein auf das Vereinigte Königreich beschränkter Online-Marktplatz, der keine Provision vom Händler verlangt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Flubit registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Registriere dich zunächst als Verkäufer bei <a href="https://sellers.skucloud.co.uk/start-selling" target="_blank" rel="noopener">WeFlubit</a>, der zentralen Flubit-Anlaufstelle für Verkäufer.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Flubit in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Artikel auf Flubit anzubieten, richte Flubit in plentymarkets ein. Du benötigst die Zugangsdaten bestehend aus API-Schlüssel und Sicherheits-Token. Diese Daten erhältst du von Flubit.</p>
</div>
<div class="paragraph instruction">
<p>Flubit in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Flubit</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#grundeinstellungen-flubit">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="grundeinstellungen-flubit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen des Marktplatzes Flubit</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatischen Datenaustausch aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist der Datenaustausch aktiviert, findet ein täglicher Artikelexport (nachts), ein stündlicher Bestandsabgleich und ein stündlicher Auftragsimport statt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Schlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">API-Schlüssel (Key) eintragen, wie von Flubit erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sicherheits-Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sicherheits-Token (Secret) eintragen, wie von Flubit erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umgebung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live</strong> oder <strong>Sandbox</strong> wählen.<br>
Ist die Option <strong>Live</strong> gewählt, werden die Artikel live gelistet. Die Option <strong>Sandbox</strong> ist ein Testmodus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Dieser Artikelname wird an Flubit übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardbeschreibung</strong>, <strong>Kurzbeschreibung</strong> oder <strong>Technische Daten</strong> wählen. <br>
Diese Artikelbeschreibung wird an Flubit übertragen. Die Artikelbeschreibung muss auf Englisch eingetragen sein, andernfalls wird der Artikel nicht exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandsmenge für den stündlichen Bestandsabgleich und täglichen Artikelexport wählen. Eine der folgenden Optionen wählen:<br>
<strong>Bestandsmenge des Vertriebslagers mit größtem Bestand</strong><br>
<strong>Bestandsmenge des Artikel-Hauptlagers</strong><br>
<strong>Bestandsmenge aller Vertriebslager</strong></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>täglicher Artikelexport</p>
</li>
<li>
<p>stündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Auftragsimport</p>
</li>
<li>
<p>automatisches Erstellen neuer Kund*innen beim Auftragsimport, wenn diese noch nicht in der Datenbank vorhanden sind</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sprache</div>
<div class="paragraph">
<p>Attribute müssen auf Englisch hinterlegt sein, damit Artikel zu Flubit exportiert werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Flubit verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Flubit aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Flubit aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Flubit</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf Flubit verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Flubit einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Flubit</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf Flubit verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Pflichtangaben für den Artikelexport</div>
<div class="paragraph">
<p>Für einen funktionierenden Artikelexport zu Flubit müssen die folgenden Kriterien erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelpreis ist größer als Null</p>
</li>
<li>
<p>Artikel hat positiven Bestand</p>
</li>
<li>
<p>Artikelbeschreibung ist auf Englisch eingegeben</p>
</li>
<li>
<p>Artikel ist sichtbar</p>
</li>
<li>
<p>Artikelbild ist vorhanden</p>
</li>
<li>
<p>Artikelnummer wird übertragen<br>
→ Wird als Artikelnummer die MPN übertragen, muss zusätzlich die Marke oder der Hersteller angegeben werden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Fehlen die oben aufgelisteten Angaben, werden die Artikel nicht exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Flubit einen Verkaufspreis festzulegen. Dieser Preis wird auf Flubit angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Flubit festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Flubit</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="370">6. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Flubit</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart Flubit aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive anzeigen</strong>.</p>
</li>
<li>
<p>Klicke auf den Ordner <strong>International &gt; Flubit</strong>. <br>
→ Die Einstellungen für die Flubit-Zahlungsart werden angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart-flubit">Tabelle 2</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart-flubit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer*innen im Webshop die Sprache wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig:</strong> Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">7. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch an Flubit zu senden, nachdem ein Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-versandbestätigung-flubit">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-versandbestätigung-flubit">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-versandbestätigung-flubit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Versandbestätigungen an Flubit</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Versandbestätigung an Flubit senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">8. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Flubit automatisch über Stornierungen zu informieren. Bei Stornierungen muss ein Grund für die Stornierung an Flubit übertragen werden. Erstelle im Menü <strong>Einrichtung » Aufträge » Auftragsstatus</strong> ggf. zusätzliche Auftragsstatus. Folgende Stornierungsgründe können an Flubit übertragen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel nicht vorrätig</p>
</li>
<li>
<p>Artikel nicht mehr im Sortiment</p>
</li>
<li>
<p>Ungültige Lieferadresse</p>
</li>
<li>
<p>Stornierung durch Kunden</p>
</li>
<li>
<p>Gesetzliche Beschränkung</p>
</li>
<li>
<p>Sonstiges</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierung-flubit">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-stornierung-flubit">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierung-flubit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Flubit</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: [8.1] Storniert durch Kunden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Stornierung an Flubit senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung durch Kunden</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">9. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Flubit automatisch über Retouren zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retouren-flubit">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-retouren-flubit">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retouren-flubit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Retouren an Flubit</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Retoure an Flubit senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">10. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » API-Log</strong> im Tab <strong>Flubit</strong> findest du eine Historie über Vorgänge, die über die Flubit-Schnittstelle ausgeführt wurden. Folgende Formate stehen dir für Flubit zur Auswahl:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>FlubitOrderImport</strong> (Auftragsimport)</p>
</li>
<li>
<p><strong>FlubitOrderCancel</strong> (Stornierungen)</p>
</li>
<li>
<p><strong>FlubitOrderDispatch</strong> (Versandbestätigung, Rückerstattung)</p>
</li>
<li>
<p><strong>FlubitProductsFeed</strong> (Datenexport)</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wähle ein Format aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ein <strong>Datum</strong>, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um die Suche auszuführen.<br>
→ Die Vorgänge werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Spalte <strong>Vorgang</strong> auf den Ordner. <br>
→ Das Tab <strong>Flubit</strong> wird geöffnet und Fehlermeldungen des Vorgangs werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>