<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Kauflux registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Kauflux in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#400"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>7.</span><span> Merkmale verknüpfen</span></a></li>
<li><a href="#600"><span>8.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#700"><span>9.</span><span> Artikel exportieren</span></a></li>
<li><a href="#800"><span>10.</span><span> Varianten exportieren</span></a></li>
<li><a href="#900"><span>11.</span><span> Aufträge importieren</span></a></li>
<li><a href="#1000"><span>12.</span><span> E-Mail bei Auftragsimport senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kauflux</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.kauflux.de/" target="_blank" rel="noopener">Kauflux.de</a> ist ein offener Marktplatz mit unabhängigen Anbietern aus verschiedenen Bereichen. Kauflux.de vermarktet deine Produkte und Dienstleistungen und stellt für dich den direkten Kontakt zum Käufer her.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Kauflux registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du musst dich zunächst bei <a href="http://www.kauflux.de/konto" target="_blank" rel="noopener">Kauflux</a> registrieren, um dein plentymarkets System für Kauflux einzurichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Kauflux in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nimm die folgenden Grundeinstellungen vor, um Artikeldaten an Kauflux zu übergeben.</p>
</div>
<div class="paragraph instruction">
<p>Kauflux in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Kauflux » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#grundeinstellungen-kauflux">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="grundeinstellungen-kauflux" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen für Kauflux</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umtauschfrist</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umtauschfrist der Artikel eingeben. Die Umtauschfrist wird in Tagen angeben. Für den Fall, dass ein Artikel vom Umtausch ausgeschlossen ist, den Wert <strong>0</strong> eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunft der Aufträge für Kauflux wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art der Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Warenbestand übermittelt werden soll und ob der Warenbestand in diesem Fall <strong>öffentlich</strong> sichtbar sein soll, oder nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-URL für den Auftragsimport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über diesen Link überträgt Kauflux die Aufträge zu plentymarkets. Dieser Link wird für den Auftragsimport von Kauflux benötigt und nicht für die Erstellung des Artikelkatalogs. Der Artikelkatalog wird über den elastischen Export im Menü <strong>Daten » Elastischer Export</strong> erstellt. Weitere Informationen findest du bei Kauflux unter <a href="http://www.kauflux.de/shop-anmelden/automatischer-auftragsdatenexport" target="_blank" rel="noopener">Auftragsdatenexport</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Kauflux verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft <strong>Kauflux</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Kauflux aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Kauflux</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf Kauflux verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Kauflux einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Kauflux</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf Kauflux verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Kauflux</strong>.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Kauflux einen Verkaufspreis festzulegen. Dieser Preis wird auf Kauflux angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Kauflux festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Merkmale verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Merkmale für den Marktplatz Kauflux nutzen zu können, müssen diese in den Einstellungen des jeweiligen Merkmals mit Kauflux verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Merkmale verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Klappe das Merkmal auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Aktiviere die Option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verknüpfe deine Webshop-Kategorien im Menü <strong>Einrichtung » Märkte » Kauflux » Kategorieverknüpfung</strong> mit den Kategorien von Kauflux. Zur Kategorieverknüpfung benötigst du die Kauflux-CSV-Datei. Die CSV-Datei von Kauflux enthält die <strong>Kategorie-IDs</strong> für diesen Marktplatz. Du erhältst die <a href="http://support.expeedo.de/f/kl/kauflux-Kategorien.xls" target="_blank" rel="noopener">Kauflux-CSV-Datei</a> im Verkäuferbereich der Kauflux-Website. In den nächsten Schritten werden die Kategorien deines Webshops exportiert, die Kategorien verknüpft und anschließend die verknüpften Kategorien importiert.</p>
</div>
<div class="paragraph instruction">
<p>Verknüpfung exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Kauflux » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Verknüpfung exportieren</strong>.<br>
<strong>→</strong> Eine CSV-Datei mit deinen Webshop-Kategorien wird erzeugt.</p>
</li>
<li>
<p>Öffne die Webshop-CSV-Datei.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Kategorie-IDs eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die CSV-Datei von Kauflux.</p>
</li>
<li>
<p>Suche die zu den Kategorien deinen Webshops passenden <strong>Kategorie-IDs</strong> in der Kauflux CSV-Datei.</p>
</li>
<li>
<p>Gib die Kategorie-IDs aus der Kauflux-CSV-Datei in die Webshop-CSV-Datei in die Spalte <strong>KaufluxCat</strong> ein.</p>
</li>
<li>
<p>Speichere die Webshop-CSV-Datei auf der Festplatte Ihres PCs.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Verknüpfung importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Kauflux » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicke bei <strong>Datei</strong> auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wähle die Webshop-CSV-Datei von der Festplatte deines Rechners.</p>
</li>
<li>
<p>Klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Verknüpfungen werden importiert und im Bereich <strong>Verknüpfungen</strong> angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Artikel exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du Kauflux eingerichtet hast, kannst du deine Artikel unter <strong>Daten » Elastischer Export</strong> exportieren.</p>
</div>
<div class="paragraph">
<p>Für einen automatischen Artikelexport musst du die komplette URL kopieren und bei Kauflux hinterlegen. Voraussetzung dafür ist, dass du mindestens einen Artikelexport manuell durchgeführt hast und die einzelnen Felder in Kauflux zugeordnet hast. Zudem muss der automatische Artikelexport von Kauflux aktiviert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Varianten exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten werden beim Exportieren als zusätzliche CSV-Felder exportiert. Wenn du diese CSV- bzw. ZIP-Datei bei Kauflux importieren möchtest, wirst du aufgefordert, das Mapping durchzuführen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>Die Variantenfelder <strong>Farbe</strong>, <strong>Größe</strong> und <strong>Länge</strong> werden im Mapping dargestellt. Bei allen Variantenfeldern musst du <strong>GroupParam</strong> als Mappingfeld wählen, damit diese Felder als Varianten bei Kauflux.de hinterlegt werden können. Das Feld <strong>GroupID</strong> dient ausschließlich zur Identifikation der zusammengehörenden Artikel einer Artikelgruppe.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Aufträge importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst deine Aufträge von Kauflux automatisch in dein plentymarkets System einpflegen lassen. Dazu musst du die API-URL, die du unter <strong>Einrichtung » Märkte » Kauflux » Einstellungen</strong> findest, bei Kauflux hinterlegen. Nach diesem Schritt werden Aufträge automatisch in dein plentymarkets System eingepflegt und im Menü <strong>Aufträge » Aufträge bearbeiten</strong> angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">12. E-Mail bei Auftragsimport senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere den automatischen E-Mail-Versand beim Importieren von Aufträgen. Dazu erstellst du im Menü <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Vorlagen</strong> eine E-Mail-Vorlage für Kauflux und aktivierst die Vorlage folgendermaßen.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail bei Auftragsimport senden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Automatischer Versand</strong>.</p>
</li>
<li>
<p>Wähle bei <strong>Neue Bestellung über Kauflux</strong> die zuvor erstellte E-Mail-Vorlage aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Über <strong>E-Mail-Vorlage bearbeiten</strong> wechselst du in das Menü <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Vorlagen</strong> und bearbeitest dort die E-Mail-Vorlage.</p>
</div>
</div>
</div>
</main>