<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mediamarkt</h1><p>Willkommen im Themenbereich Mediamarkt. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/maerkte/mediamarkt/automatischer-datenaustausch">Automatischer Austausch von Produkt- und Angebotsdaten</a></li><li><a href="/maerkte/mediamarkt/automatisierte-auftragsabwicklung">Automatisierte Auftragsabwicklung einrichten</a></li><li><a href="/maerkte/mediamarkt/erste-schritte">Erste Schritte</a></li><li><a href="/maerkte/mediamarkt/mediamarkt-einrichten">Mediamarkt einrichten</a></li></ul>
</main>