<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Mercateo registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Mercateo in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#400"><span>5.</span><span> Artikel und Artikelbilder exportieren</span></a></li>
<li><a href="#500"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#600"><span>7.</span><span> Exportverlauf anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mercateo</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.mercateo.com/" target="_blank" rel="noopener">Mercateo</a> ist einer der führenden Online-Händler für Geschäftskunden aller Branchen. Bei Mercateo finden Geschäftskunden in verschiedenen Produktkategorien ein umfangreiches B2B-Sortiment: von Büromaterial über Labor- und IT-Bedarf bis hin zur Betriebs- und Lagerausstattung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Mercateo registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.mercateo.com/login/register?client_id=extranet&amp;response_type=code&amp;redirect_uri=https://www.mercateo.com/extranet.web/&amp;registration=supplier&amp;state=/p/xn/invitationQUERYinvitationID%3D%282d%2926ca9f17%283a%2913f0f72dee5%283a%29459e&amp;regCtx=SUPPLIER_APPLICATION&amp;PageID=MD-140230" target="_blank" rel="noopener">Registriere</a> dich bei Mercateo, um deine Zugangsdaten zu erhalten. Du benötigst diese für die Einstellungen in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Mercateo in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Mercateo in plentymarkets einzurichten, benötigst du die Daten des FTP-Servers, auf den du die Daten für Mercateo hochlädst sowie ein E-Mail-Konto für den Auftragsimport.</p>
</div>
<div class="paragraph instruction">
<p>Mercateo in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Mercateo » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#grundeinstellungen-mercateo">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="grundeinstellungen-mercateo" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen des Marktplatzes Mercateo</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatischen Datenaustausch aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Daten automatisch mit Mercateo auszutauschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Allgemein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelkennung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die <strong>Varianten-ID</strong> oder die <strong>Variantennnummer</strong> für die Artikeldaten verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelnummer übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> wählen, wenn du auch der Hersteller der Artikel bist. Die Auswahl in der Dropdown-Liste <strong>Artikelkennung</strong> hat keinen Einfluss auf diese Option, d.h. wenn du der Hersteller bist und bereits eine Variantennummer gewählt hast, musst du hier trotzdem die Option <strong>Ja</strong> einstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong>, <strong>Name 2</strong>, <strong>Name 3</strong> oder <strong>Variantenname</strong> wählen. Dieser Name wird auf Mercateo angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributwert an Artikelname anhängen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> wählen, wenn der Attributwert hinter dem Artikelnamen auf Mercateo angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Artikelbeschreibung an Mercateo übergeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantenverknüpfung bei Bildexport beachten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Variantenbilder und allgemeine Artikelbilder (Bilder, die mit keiner Variante verknüpft sind) exportieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einspielen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP-Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL des FTP-Servers für den Datenupload zu Mercateo eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP-Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername des FTP-Servers eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP-Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort des FTP-Servers eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Abruf</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername für den Auftragsabruf eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort für den Auftragsabruf eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IMAP-Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Serveradresse für den Auftragsabruf eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Port eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verschlüsselung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verschlüsselung eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Weitere Kataloge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suffix-Abgleich Nr. 2 - 4</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suffixe</strong> für den zusätzlichen Artikelkatalog eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong> für den Import der Aufträge wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatischer Auftragsabruf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den automatischen Abruf von Aufträgen durchzuführen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Updates</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisches Preis-Update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Artikelpreise stündlich zu aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisches Lieferstatus-Update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Lieferstatus automatisch zu aktualisieren.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierten Funktionen bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Datenaustausch</p>
</li>
<li>
<p>Auftragsimport</p>
</li>
<li>
<p>Stündlicher Preisabgleich</p>
</li>
<li>
<p>Lieferstatusabgleich</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Mercateo verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Mercateo aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Mercateo aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Mercateo</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf Mercateo verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Mercateo einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Mercateo</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf Mercateo verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Artikel und Artikelbilder exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Mercateo » Daten-Export</strong> hast du die Möglichkeit, deine Artikel sowie deine Artikelbilder zu Mercateo zu exportieren.</p>
</div>
<div class="paragraph instruction">
<p>Artikel exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Mercateo » Daten-Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Artikeldaten exportieren</strong>.<br>
→ Die Artikeldaten werden zu Mercateo exportiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Außerdem exportierst du Artikelbilder zu Mercateo. Beim Bilderexport werden maximal 500 Bilder pro Aktion im JPEG-Format hochgeladen. Bilder werden nicht doppelt hochgeladen.</p>
</div>
<div class="paragraph instruction">
<p>Artikelbilder exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Mercateo » Daten-Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>500 Artikelbilder exportieren</strong>.<br>
→ Die Artikelbilder werden zu Mercateo exportiert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Mercateo einen Verkaufspreis festzulegen. Dieser Preis wird auf Mercateo angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Mercateo festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Mercateo</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Exportverlauf anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Mercateo » Export-Verlauf</strong> wird eine Übersicht der exportierten Bilder erstellt. Die Bilder werden seitenweise aufgelistet. Pro Seite werden 25 Bilder angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Seite aufrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Mercateo » Export-Verlauf</strong>.</p>
</li>
<li>
<p>Wähle eine <strong>Seite</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Seite anzuzeigen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Bilder werden mit der Artikel-ID und dem Exportzeitpunkt angezeigt. Ein Bild kann nicht mehrfach exportiert werden. Um ein Bild z.B. nach einer Änderung dennoch zu aktualisieren, klicke in der Spalte <strong>Artikelbild freigeben</strong> auf <strong>Löschen</strong>. Exportiere anschließend das Bild im Bereich <strong>Export-Artikelbilder</strong> des Menüs <strong>Einrichtung » Märkte » Mercateo » Daten-Export</strong> erneut.</p>
</div>
</div>
</div>
</main>