<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Über Mediamarkt</span></a></li>
<li><a href="#200"><span>2.</span><span> Bei Mediamarkt registrieren</span></a></li>
<li><a href="#_informationen_zum_automatischen_datenaustausch"><span>3.</span><span> Informationen zum automatischen Datenaustausch</span></a></li>
<li><a href="#600"><span>4.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#500"><span>5.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#1200"><span>6.</span><span> Eigenschaften erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#1210"><span>6.1.</span><span> Eigenschaft Logistikklasse erstellen</span></a></li>
<li><a href="#1220"><span>6.2.</span><span> Eigenschaft Versandvorlaufzeit erstellen</span></a></li>
<li><a href="#1230"><span>6.3.</span><span> Eigenschaft Reversecharge erstellen</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>7.</span><span> API-Schlüssel erzeugen</span></a></li>
<li><a href="#1400"><span>8.</span><span> Kontoeinstellungen im Assistenten vornehmen</span></a></li>
<li><a href="#900"><span>9.</span><span> Artikelexport einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#1240"><span>9.1.</span><span> Weitere Eigenschaften erstellen</span></a></li>
<li><a href="#902"><span>9.2.</span><span> Katalog im Assistenten erstellen</span></a></li>
<li><a href="#datenfelder-zuordnen"><span>9.3.</span><span> Datenfelder im Katalog zuordnen</span></a></li>
</ul>
</li>
<li><a href="#475"><span>10.</span><span> Varianten mit Mediamarkt Catalog-Kategorie verknüpfen</span></a>
<ul class="sectlevel2">
<li><a href="#_eigenschaften_mit_varianten_verknüpfen_und_werte_speichern"><span>10.1.</span><span> Eigenschaften mit Varianten verknüpfen und Werte speichern</span></a></li>
<li><a href="#Mediamarkt"><span>10.2.</span><span> Katalogexport aktivieren</span></a></li>
</ul>
</li>
<li><a href="#700"><span>11.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#480"><span>12.</span><span> Ereignisaktionen einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mediamarkt</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mediamarkt-Plugin herunterladen</div>
<div class="paragraph">
<p>Die Schnittstelle zu Mediamarkt wird über ein Plugin integriert. Um das Mediamarkt-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/Mediamarkt_Mediamarkt" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
<div class="paragraph">
<p>Um das Mediamarkt-Plugin nutzen zu können, benötigst du das Plugin Mirakl Connector. Du findest Mirakl ebenfalls auf plentyMarketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Mirakl Connector installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Neues Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Mirakl Connector</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>Mirakl Connector</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Mediamarkt installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest, indem du auf die Zeile in der Tabelle klickst.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Neues Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>Mediamarkt</strong> aus der Liste.<br>
→ Es werden Informationen zu <strong>Mediamarkt</strong> angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ Jetzt kannst du das Plugin konfigurieren. Gehe dazu wie unten beschrieben vor.</p>
</li>
<li>
<p>Öffne das Menü <strong>Prioritäten festlegen</strong>.</p>
</li>
<li>
<p>Setzte die Priorität von <strong>Mediamarkt</strong> auf 1.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Über Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p></p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Bei Mediamarkt registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_informationen_zum_automatischen_datenaustausch">3. Informationen zum automatischen Datenaustausch</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert und eingerichtet hast, stehen die in <a href="#datenaustausch-Mediamarkt">Tabelle 1</a> automatisierten Prozesse bereit:</p>
</div>
<table id="datenaustausch-Mediamarkt" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Häufigkeit des Datenaustauschs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Daten</th>
<th class="tableblock halign-left valign-top">Intervall</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Artikeldaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelexport</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Täglich</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandsabgleich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle 15 Minuten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preisabgleich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle 15 Minuten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragsdaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsimport</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle 15 Minuten</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">4. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit Mediamarkt verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Mediamarkt aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option Mediamarkt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Mediamarkt einen Verkaufspreis festzulegen. Dieser Preis wird auf Mediamarkt angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Mediamarkt festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise »</strong> <em>Verkaufspreis öffnen</em> <strong>» Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">6. Eigenschaften erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eigenschaften werden verwendet, um Felder an den Marktplatz zu übergeben, die in plentymarkets standardmäßig nicht definiert sind. Im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> erstellst du die Eigenschaften, die Mediamarkt vorgibt.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu Eigenschaften findest du auf der Seite <a href="/artikel/einstellungen/eigenschaften#500">Merkmale und Eigenschaften</a>.</p>
</div>
<div class="paragraph">
<p>Du benötigst die folgenden Eigenschaften für Mediamarkt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Logistikklasse (<a href="#1210">so geht’s</a>)</p>
</li>
<li>
<p>Versandvorlaufzeit (<a href="#1220">so geht’s</a>)</p>
</li>
<li>
<p>Reversecharge (<a href="#1230">so geht’s</a>)</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="1210">6.1. Eigenschaft Logistikklasse erstellen</h3>
<div class="paragraph">
<p>Für jede Variante muss ein Versandprofil-Code an Mediamarkt exportiert werden. Versandprofile konfigurierst du im Mirakl-Backend. Die Liste der Versandprofile wird im Mirakl-Backend im Bereich <strong>Informationen » Versandkosten</strong> angezeigt. Der Code wird in der Spalte <strong>Logistikklasse</strong> in Klammern hinter dem Namen der Logistikklasse angezeigt.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Eigenschaft Logistikklasse zu erstellen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Eigenschaft Logistikklasse erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.<br>
→ Die Übersicht der Eigenschaften wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaft hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#table-Mediamarkt-Logistikklasse">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Gib eine Positionsnummer für die Eigenschaft ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Eigenschaft wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-Mediamarkt-Logistikklasse">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Einstellungen werden gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-Mediamarkt-Logistikklasse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Eigenschaft Logistikklasse</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kurztext</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt Logistikklasse</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppe wählen.<br>
<strong><em>Tipp:</em></strong> Erstelle eine Eigenschaftsgruppe <strong>Mediamarkt</strong>, um die Eigenschaften für diesen Marktplatz übersichtlich einzusortieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1220">6.2. Eigenschaft Versandvorlaufzeit erstellen</h3>
<div class="paragraph">
<p>Für jede Variante muss eine Versandvorlaufzeit in Tagen an Mediamarkt exportiert werden. Damit informierst du Mediamarkt darüber, wie viele Tage du benötigst, um die Variante zu versenden. Mediamarkt akzeptiert die Werte 1-45.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Eigenschaft Versandvorlaufzeit zu erstellen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Eigenschaft Versandvorlaufzeit erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.<br>
→ Die Übersicht der Eigenschaften wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaft hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#table-Mediamarkt-Versandvorlaufzeit">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Gib eine Positionsnummer für die Eigenschaft ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Eigenschaft wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-Mediamarkt-Versandvorlaufzeit">Tabelle 3</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Einstellungen werden gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-Mediamarkt-Versandvorlaufzeit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Eigenschaft Versandvorlaufzeit</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kurztext</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt Versandvorlaufzeit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppe wählen.<br>
<strong><em>Tipp:</em></strong> Erstelle eine Eigenschaftsgruppe <strong>Mediamarkt</strong>, um die Eigenschaften für diesen Marktplatz übersichtlich einzusortieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1230">6.3. Eigenschaft Reversecharge erstellen</h3>
<div class="paragraph">
<p>Für jede Variante muss angegeben werden, ob für diese Variante bei grenzüberschreitenden Geschäftsvorgängen das Reverse-Charge-Verfahren Anwendung findet. Mediamarkt akzeptiert die Werte <strong>true</strong> und <strong>false</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>false = Das Reverse-Charge-Verfahren wird nicht angewendet.</p>
</li>
<li>
<p>true = Das Reverse-Charge-Verfahren wird angewendet. Nicht du als leistende Unternehmer:in führst also die Umsatzsteuer an das Finanzamt ab, sondern dein:e Kund:in.<br>
<strong><em>Hinweis:</em></strong> Beachte die gesetzlichen Vorgaben für das Reverse-Charge-Verfahren und kläre mit deinem Steuerbüro, was es zu beachten gibt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Eigenschaft Reversecharge zu erstellen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Eigenschaft Reversecharge erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.<br>
→ Die Übersicht der Eigenschaften wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Eigenschaft hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#table-Mediamarkt-Reversecharge">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Gib eine Positionsnummer für die Eigenschaft ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Eigenschaft wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-Mediamarkt-Reversecharge">Tabelle 4</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Einstellungen werden gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-Mediamarkt-Reversecharge" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Eigenschaft Reversecharge</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kurztext</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt Reversecharge</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppe wählen.<br>
<strong><em>Tipp:</em></strong> Erstelle eine Eigenschaftsgruppe <strong>Mediamarkt</strong>, um die Eigenschaften für diesen Marktplatz übersichtlich einzusortieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">7. API-Schlüssel erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Verbindung für Mediamarkt zwischen plentymarkets und Mirakl herzustellen, benötigst du einen API-Schlüssel. Um den API-Schlüssel zu erzeugen, gehe wie folgt vor:</p>
</div>
<div class="paragraph instruction">
<p>API-Schlüssel erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Backend von Mirakl.</p>
</li>
<li>
<p>Klicke auf das Benutzersymbol (<span class="icon "><i class="fa fa-user-circle  "></i></span>).</p>
</li>
<li>
<p>Öffne das Tab <strong>API-Schlüssel</strong>.</p>
</li>
<li>
<p>Generiere einen neuen API-Schlüssel für Mediamarkt.</p>
</li>
<li>
<p>Kopiere den API-Schlüssel in die Zwischenablage. Du benötigst den Schlüssel, um dein Mediamarkt-Konto in plentymarkets einzurichten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">8. Kontoeinstellungen im Assistenten vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Assistenten <strong>Mediamarkt - Wizard</strong> im Menü <strong>Einrichtungen » Assistenten » Plugins » <em>Plugin-Set wählen</em></strong> richtest du dein Mediamarkt-Konto in plentymarkets ein.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Assistenten vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtungen » Assistenten » Plugins » <em>Plugin-Set wählen</em></strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unten auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Die Einstellungen werden gespeichert.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Erläuterungen zu den Optionen des Assistenten</div>
<div class="content">
<div class="paragraph">
<p><a id="table-Mediamarkt-basic-settings-assistant"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Authentifizierung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">API Environment</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine API-Umgebung aus der Dropdown-Liste. Welche API-Umgebung du wählen solltest, erfährst du von deinen Ansprechpartner:innen bei Mediamarkt.<br>
<strong><em>Hinweis:</em></strong> Wenn du die API-Umgebung wechselst, also z.B. vom Test-Modus in den Produktiv-Modus, musst du einen neuen <a href="#1300">API-Schlüssel</a> erzeugen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">API Key</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage den <a href="#1300">API-Schlüssel</a> ein, den du erzeugt hast.<br>
<strong><em>Hinweis:</em></strong> Wenn du die API-Umgebung wechselst, also z.B. vom Test-Modus in den Produktiv-Modus wechselst, musst du einen neuen <a href="#1300">API-Schlüssel</a> erzeugen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Datenaustausch</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenaustausch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Prozesse, für die du den Datenaustausch zwischen plentymarkets und Mirakl einrichten möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zuordnung der Rückerstattung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung der Rückerstattung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier ordnest du den Rückerstattungsgründen von Mediamarkt plentymarkets Auftragsstatus zu.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Neuen Eintrag hinzufügen</strong>.<br>
→ Eine Zeile wird eingefügt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste links den plentymarkets Status.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste rechts einen Grund für die Rückerstattung von Mediamarkt.<br>
Die folgenden Gründe können an Mediamarkt übertragen werden:<br></p>
<div class="ulist">
<ul>
<li>
<p>15 = Artikel nicht mehr lieferbar</p>
</li>
<li>
<p>16 = Artikel vom Kunden storniert</p>
</li>
<li>
<p>17 = Artikel wurde zurückgeschickt</p>
</li>
<li>
<p>18 = Kunde hat Artikel nicht erhalten</p>
</li>
<li>
<p>19 = Sonstige Vereinbarung getroffen</p>
</li>
</ul>
</div>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zuordnung der Stornierung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung der Stornierung</p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Lagerauswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerauswahl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle das Lager, das für den Bestandsexport verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zuordnung des Versandprofils</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung des Versandprofils</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage für die Versandprofile in plentymarkets die entsprechenden Kürzel der Versanddienstleister ein. Die Kürzel findest du auf Mirakl im Menü <strong>Informationen » Transportunternehmen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Zuordnung der Angebots-Eigenschaften</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuordnung der Angebots-Eigenschaften</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste <strong>Abzugsverfahren</strong> die Eigenschaft <strong>Mediamarkt Reversecharge</strong>.<br>
Wähle aus der Dropdown-Liste <strong>Versandvorlaufzeit</strong> die Eigenschaft <strong>Mediamarkt Versandvorlaufzeit</strong>.<br>
Wähle aus der Dropdown-Liste <strong>Logistikklasse</strong> die Eigenschaft <strong>Mediamarkt Logistikklasse</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden über Marktplatz-Formate zu Mediamarkt übertragen. Kataloge erstellst du im Menü <strong>Daten » Kataloge</strong>. Du arbeitest zum ersten Mal mit den Katalogen? Dann solltest du dich zuerst mit dem grundlegenden Prinzip der <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge vertraut machen</a>.</p>
</div>
<div class="paragraph">
<p>Für jede Produktkategorie von Mediamarkt, in der du Produkte verkaufen möchtest, erstellst du einen eigenen Katalog. Verknüpfe anschließend im Marktplatz-Format die von Mediamarkt vorgegebenen Felder mit den in plentymarkets gespeicherten Artikeldaten. Die Katalog-Vorlagen werden automatisch täglich zu Mediamarkt exportiert, wenn du den Katalog aktivierst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Fehler-Log</div>
<div class="paragraph">
<p>Wenn es beim Export Probleme gibt, findest du die zugehörigen Log-Einträge auf Mirakl und nicht im Log von plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1240">9.1. Weitere Eigenschaften erstellen</h3>
<div class="paragraph">
<p>Zusätzlich zu den <a href="#1200">zuvor beschriebenen Eigenschaften</a> benötigst du Eigenschaften für alle Datenfelder des Marktplatzes, für die du Daten übergeben möchtest, die es standardmäßig in plentymarkets nicht gibt. Welche Eigenschaften du benötigst, erfährst du in der Dokumentation des Marktplatzes. Du arbeitest zum ersten Mal mit Eigenschaften? Weitere Informationen findest du auf der Handbuchseite zum Thema <a href="#willkommen/allgemeine-funktionen/eigenschaften">Eigenschaften</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="902">9.2. Katalog im Assistenten erstellen</h3>
<div class="paragraph instruction">
<p>Katalog mit dem Assistenten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins »</strong> <em>Plugin-Set wählen</em>..</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>Mediamarkt-Katalog</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unten auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Katalog wird erstellt.</p>
</li>
<li>
<p>Öffne den Katalog im Menü <strong>Daten » Kataloge</strong>, um die Felder zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Achte darauf, eine Kategorie der untersten Ebene zu wählen. Eine bessere Übersicht findest du auf Mirakl im Menü <strong>Mein Konto » Meine Produktdaten-Einstellungen</strong>.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Erläuterungen zu den Optionen des Assistenten</div>
<div class="content">
<div class="paragraph">
<p><a id="table-Mediamarkt-catalogue-assistant"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Kategorie, in der du deine Artikel auf Mediamarkt verkaufen möchtest. Gib dann einen Namen für die zugehörige Kategorie in plentymarkets ein.<br>
Achte darauf, eine Kategorie der untersten Ebene zu wählen. Eine bessere Übersicht findest du auf Mirakl im Menü <strong>Mein Konto » Meine Produktdaten-Einstellungen</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="datenfelder-zuordnen">9.3. Datenfelder im Katalog zuordnen</h3>
<div class="paragraph">
<p>Nachdem du einen Katalog erstellt hast, ordnest du die Datenfelder des Marktplatzes den in plentymarkets gespeicherten Artikeldaten zu. Informationen dazu, welche Daten für welches Datenfelder des Marktplatzes übertragen werden müssen, findest du in der Dokumentation des Marktplatzes.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eigenschaften verwenden</div>
<div class="paragraph">
<p>Verwende <a href="/artikel/artikel-verwalten#3000">Eigenschaften</a>, um Werte für Datenfelder zu übergeben, für die es keine Artikeldaten in plentymarkets gibt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Datenfelder im Katalog zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> mit den Marktplatz-Datenfeldern wird geöffnet.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (*) gekennzeichnet.</p>
</li>
<li>
<p>Klicke neben dem ersten Marktplatz-Datenfeld auf <strong>Datenfeld hinzufügen</strong>.<br>
→ Links werden die plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die Datenfelder anzuzeigen.<br>
→ Die Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten Datenfeld auf das Plus.<br>
→ Das Datenfeld wird in der Ansicht hinzugefügt.<br>
<strong><em>Tipp:</em></strong> Du möchtest für ein Marktplatz-Datenfeld immer denselben festen Wert übergeben? Dann klicke neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.</p>
</li>
<li>
<p>Klicke auf das X, um den Bearbeitungsmodus zu schließen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Klicke auf <strong>Ausweich-Datenfeld hinzufügen</strong>, um ein Datenfeld zu wählen, das exportiert wird, falls dieses Datenfeld nicht vorhanden oder leer ist. Du kannst auch mehrere Ausweich-Datenfelder angeben.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du einem Marktplatz-Datenfeld mehr als ein plentymarkets Datenfeld zuordnest, wird nur ein Wert übertragen. Die Felder werden in der Reihenfolge geprüft, in der sie zugeordnet werden. Wenn also das erste Datenfeld keinen Wert liefert, wird das zweite Datenfeld übertragen usw.</p>
</li>
<li>
<p>Wiederhole die Zuordnung für alle Datenfelder des Marktplatzes, für die du Produktinformationen übertragen möchtest.
<strong><em>Hinweis:</em></strong> Alle mit Sternchen (*) gekennzeichneten Felder sind Pflichtfelder und müssen einem plentymarkets Datenfeld zugeordnet werden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Beim Marktplatz Mediamarkt darf folgenden Marktplatz-Datenfeldern kein plentymarkets Datenfeld zugeordnet werden:</p>
</div>
<div class="paragraph">
<p><strong>SHOP_SKU</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="475">10. Varianten mit Mediamarkt Catalog-Kategorie verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du mit dem Assistenten <strong>Mediamarkt</strong> oder manuell ein Marktplatz-Format für Mediamarkt erstellt hast, wird in deinem plentymarkets System die Eigenschaft <strong>Mediamarkt</strong> erstellt. Für jede Kategorie, die du im ersten Schritt <strong>Einstellungen</strong> des Assistenten wählst, wird die gewählte Kategorie als neuer Auswahlwert zur Eigenschaft <strong>Mediamarkt Kategoriegruppe</strong> hinzugefügt. Damit deine Varianten im gewünschten Katalog exportiert werden, müssen sie im <strong>Tab: Eigenschaften</strong> einer Variante mit der Eigenschaft <strong>Mediamarkt Kategoriegruppe</strong> verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Variante mit Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em>.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Varianten</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du verknüpfen möchtest.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Varianteneigenschaften</strong> aus der Dropdown-Liste <strong>Eigenschaften</strong> die Eigenschaft <strong>Mediamarkt Kategoriegruppe</strong> und klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Eigenschaft wird hinzugefügt.</p>
</li>
<li>
<p>Wähle für die Eigenschaft <strong>Mediamarkt Kategoriegruppe</strong> aus der Dropdown-Liste <strong>Wert</strong> die gewünschte Kategorie.<br>
→ Die Variante wird im zugehörigen Katalog exportiert.<br>
<strong><em>Beispiel:</em></strong> Wählst du den Wert <strong>VIDEO CASSETTES</strong>, wird die Variante im Katalog für die Kategorie <strong>VIDEO CASSETTES</strong> exportiert.</p>
</li>
<li>
<p>Wiederhole die Schritte 5 und 6 für alle Kategorien, in denen du die Variante verkaufen willst.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_eigenschaften_mit_varianten_verknüpfen_und_werte_speichern">10.1. Eigenschaften mit Varianten verknüpfen und Werte speichern</h3>
<div class="paragraph">
<p>Alle Eigenschaften, Verkaufspreise und Barcodes, die du für die Katalogzuordnung dieses Marktplatzes neu erstellt hast, verknüpfst du nun mit den Varianten, die zu dem Marktplatz exportiert werden sollen. Wie das geht, ist im Bereich <strong>Artikel</strong> des Handbuchs beschrieben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wie du Eigenschaften mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#4900">Eigenschaft verknüpfen und Wert speichern</a>.</p>
</li>
<li>
<p>Wie du Verkaufspreise mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#240">Verkaufspreise verknüpfen</a>.</p>
</li>
<li>
<p>Wie du Barcodes mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#250">Barcodes verknüpfen</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="Mediamarkt">10.2. Katalogexport aktivieren</h3>
<div class="paragraph">
<p>Du hast Mediamarkt eingerichtet und den Katalog für den Export deiner Artikeldaten erstellt? Dann starte jetzt den Export deiner Artikeldaten.</p>
</div>
<div class="paragraph instruction">
<p>Katalogexport zu Mediamarkt aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zu dem Mediamarkt-Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Toggle-Schaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten des Katalogs werden Täglich an Mediamarkt übertragen
.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">11. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf Mediamarkt verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Gruppenfunktion oder Stapelverarbeitung nutzen</div>
<div class="paragraph">
<p>Die Verfügbarkeit für mehrere Varianten bearbeitest du entweder über die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> oder die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Variantenverfügbarkeit für Mediamarkt einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf Mediamarkt verkaufen möchtest.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf Mediamarkt zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Variante ist für Mediamarkt verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="480">12. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um den Auftragsstatus bei Mediamarkt automatisch zu aktualisieren, wenn bestimmte Ereignisse eintreten. Folgende Ereignisaktionen können eingerichtet werden:</p>
</div>
<div class="paragraph">
<p>In den folgenden Kapiteln wird beschrieben, wie du die Ereignisaktionen in plentymarkets einrichtest.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Weitere Aktionen vorhanden</div>
<div class="paragraph">
<p>Zusätzlich zu den oben genannten Ereignisaktionen werden durch das Mediamarkt-Plugin noch weitere Ereignisaktionen zu Verfügung gestellt. Es gibt diese Aktionen, da sich die Auftragsverarbeitung in plentymarkets und Mirakl voneinander unterscheiden.</p>
</div>
<div class="paragraph">
<p>Wir empfehlen allerdings, nur die Aktionen zu verwenden, die hier im Detail beschrieben sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>