<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Über myToys</span></a></li>
<li><a href="#150"><span>2.</span><span> Partner:in bei myToys werden</span></a></li>
<li><a href="#200"><span>3.</span><span> Übersicht des automatischen Datenaustauschs mit myToys</span></a></li>
<li><a href="#250"><span>4.</span><span> Ablauf einer Bestellung bei myToys</span></a></li>
<li><a href="#300"><span>5.</span><span> myToys-Plugin installieren</span></a></li>
<li><a href="#350"><span>6.</span><span> Datenaustausch mit myToys einrichten</span></a></li>
<li><a href="#400"><span>7.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#450"><span>8.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>9.</span><span> Herkunft in Versandprofilen aktivieren</span></a></li>
<li><a href="#550"><span>10.</span><span> Artikelexport einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>10.1.</span><span> Besonderheiten der myToys-Artikeldatenstruktur</span></a></li>
<li><a href="#650"><span>10.2.</span><span> Katalog mit dem Assistenten erstellen</span></a></li>
<li><a href="#700"><span>10.3.</span><span> Katalogzuordnungen vornehmen</span></a>
<ul class="sectlevel3">
<li><a href="#750"><span>10.3.1.</span><span> Datenfelder im Katalog zuordnen</span></a></li>
<li><a href="#800"><span>10.3.2.</span><span> Besonderheiten bei der Zuordnung von Datenfeldern</span></a></li>
</ul>
</li>
<li><a href="#850"><span>10.4.</span><span> Katalog aktivieren</span></a></li>
</ul>
</li>
<li><a href="#900"><span>11.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#950"><span>12.</span><span> Stornierungen automatisch an myToys melden</span></a></li>
<li><a href="#1000"><span>13.</span><span> Versandbestätigungen automatisch an myToys senden</span></a></li>
<li><a href="#1050"><span>14.</span><span> Retourenverwaltung einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>14.1.</span><span> Ablauf von Retouren</span></a></li>
<li><a href="#1150"><span>14.2.</span><span> PDF-Vorlage für Rücksendescheine hochladen</span></a></li>
<li><a href="#1200"><span>14.3.</span><span> Retoure automatisch an myToys melden</span></a></li>
</ul>
</li>
<li><a href="#1250"><span>15.</span><span> Lieferscheine für myToys vorbereiten</span></a>
<ul class="sectlevel2">
<li><a href="#1300"><span>15.1.</span><span> PDF-Vorlage für Lieferscheine hochladen</span></a></li>
</ul>
</li>
<li><a href="#1350"><span>16.</span><span> Fehlersuche: Log-Einträge abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>myToys</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">myToys-Plugin herunterladen</div>
<div class="paragraph">
<p>Die Schnittstelle zu myToys wird über ein Plugin integriert. Um das myToys-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/mytoys_54776" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Über myToys</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit mehr als 9 Millionen Bestellungen pro Jahr und über 4 Millionen aktiven Kund:innen ist myToys die führende Plattform für Family-Shopping in Deutschland. myToys bietet dir Verkaufsmöglichkeiten für die 3 Online-Shops myToys, mirapodo und yomonda mit nur einer technischen Integration.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="150">2. Partner:in bei myToys werden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Klicke <a href="https://partnerprogramaccess.mytoys.de/Registrierung/" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, um mehr über den myToys Marktplatz und das Partnerprogramm zu erfahren und deine Registrierungsanfrage abzusenden.</p>
</div>
<div class="paragraph">
<p>Wende dich zur Registrierung alternativ gern auch direkt an das Team des Partnermanagements unter mailto:partnerteam@mytoys.de. Ein:e Partnermanager:in wird sich bald mit dir in Verbindung setzen und mit dir gemeinsam das Potenzial auf <a href="https://www.mytoys.de/" target="_blank" rel="noopener">mytoys.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> evaluieren und die nächsten Schritte besprechen.</p>
</div>
<div class="paragraph">
<p>Nach der Registrierung erhältst du Zugangsdaten für myToys. Diese Zugangsdaten benötigst du, um das myToys-Plugin einzurichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Übersicht des automatischen Datenaustauschs mit myToys</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert und eingerichtet hast, stehen die in <a href="#datenaustausch-myToys">Tabelle 1</a> automatisierten Abläufe bereit:</p>
</div>
<table id="datenaustausch-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Häufigkeit des Datenaustauschs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Daten</th>
<th class="tableblock halign-left valign-top">Intervall</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Artikeldaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelexport</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>täglich</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandsabgleich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>alle 15 Minuten<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preisabgleich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>stündlich</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragsdaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsimport</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>alle 15 Minuten<br>
<strong><em>Hinweis:</em></strong> Kund:innen zahlen an myToys. Deshalb werden alle Aufträge mit dem Status <strong>[5] Bezahlt</strong> importiert. Sollte kein Bestand vorhanden sein oder die SKU-Zuordnung fehlen, verbleibt der Auftrag in Auftragsstatus <strong>[4] In Versandvorbereitung</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">4. Ablauf einer Bestellung bei myToys</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Deine Produkte werden im myToys Marktplatz gelistet.</p>
</li>
<li>
<p>Kund:innen geben eine Bestellung auf myToys auf.</p>
</li>
<li>
<p>Kund:innen zahlen an myToys.</p>
</li>
<li>
<p>Der Auftrag wird in plentymarkets importiert.<br>
<strong><em>Hinweis:</em></strong> Da Kund:innen an myToys zahlen, werden Aufträge mit dem Status <strong>[5] Bezahlt</strong> importiert.</p>
</li>
<li>
<p>Bei Eingang der Bestellung versendest du die Ware (Dropshipping).</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">5. myToys-Plugin installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um myToys in plentymarkets nutzen zu können, installiere zunächst das <a href="https://marketplace.plentymarkets.com/mytoys_54776" target="_blank" rel="noopener">myToys-Plugin</a> in deinem plentymarkets System.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Plugin <strong>myToys</strong> zum System hinzufügen und installieren</div>
<div class="content">
<div class="paragraph instruction">
<p>Plugin zum System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Navigiere zum Plugin <strong>myToys</strong>.<br>
<strong><em>Tipp:</em></strong> Nutze entweder die Suchfunktion oder öffne die Kategorie <strong>Plugins » Sales » Marktplätze</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins.</p>
</li>
<li>
<p>Klicke in der Spalte rechts auf <strong>Zur Kasse</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Lese und akzeptiere die AGB.</p>
</li>
<li>
<p>Klicke auf <strong>Kaufen</strong>.<br>
→ Warte einige Minuten, bevor du das Plugin installierst.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das Plugin installieren möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin <strong>myToys</strong> aus der Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Das Plugin-Set wird angezeigt.</p>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
<strong><em>Tipp:</em></strong> Probleme beim Speichern? Klicke auf <strong>Details öffnen</strong>, um weitere Informationen anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="350">6. Datenaustausch mit myToys einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Assistenten <strong>Grundeinstellungen - myToys</strong> im Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong> nimmst du nach der Installation des Plugins die Einstellungen zum Datenaustausch mit myToys vor. Halte dafür die Zugangsdaten bereit, die du von myToys erhalten hast.</p>
</div>
<div class="paragraph instruction">
<p>Datenaustausch mit myToys einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins</strong>.<br>
→ Die Liste der Plugin-Sets wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, in dem du das myToys-Plugin installiert hast.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>myToys - Grundeinstellungen</strong>.<br>
→ Der Assistent wird geöffnet.</p>
</li>
<li>
<p>Gib die Zugangsdaten ein, wie von myToys erhalten. Beachte die Hinweise in <a href="#mytoys-datenaustausch-setup">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke am Ende des Assistenten auf <strong>Abschließen</strong>, um deine Eingaben zu speichern und die Einrichtung abzuschließen.</p>
</li>
</ol>
</div>
<table id="mytoys-datenaustausch-setup" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenaustausch mit myToys einrichten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>API-Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Händlernummer</strong>,<br>
<strong>Benutzername</strong>,<br>
<strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Zugangsdaten erhältst du von myToys.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>SFTP-Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Host</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><code>sftp-trade-server.net</code> eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Port <code>22</code> eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong>,<br>
<strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Zugangsdaten erhältst du von myToys.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Schritt <strong>Cron-Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cron für Auftragsimport</strong>,<br>
<strong>Cron für Produktexport</strong>,<br>
<strong>Cron für Bestandsexport</strong>,<br>
<strong>Cron für Preisaktualisierung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviere hier die Crons, die für den automatischen Datenaustausch mit der myToys-Schnittstelle benötigt werden. Weitere Informationen zu den einzelnen Crons sind in <a href="#datenaustausch-myToys">Tabelle 1</a> verfügbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofilverknüpfung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Verknüpfe in diesem Schritt ein in plentymarkets vorhandenes Versandprofil mit dem Versanddienstleister myToys. Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span>, wähle das gesuchte Versandprofil aus der Dropdown-Liste aus und füge im zweiten Feld myToys als Versanddienstleister hinzu. Verknüpfe auf diese Weise alle Versandprofile, die mit myToys verknüpft werden sollen. Weitere Informationen zu Versandprofilen findest du auf der Handbuchseite <a href="/fulfillment/versand-vorbereiten#1000#">Versand vorbereiten</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle ein oder mehrere in plentymarkets vorhandene Lager aus, in denen sich die Artikel befinden, die du auf myToys verkaufen möchtest. Dadurch wird der Bestand mit myToys synchronisiert.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">7. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit myToys verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für myToys aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">8. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Verkaufspreisen definierst du die Bedingungen, unter denen eine Variante zu einem bestimmten Preis und über einen bestimmten Verkaufskanal verkauft wird. Um Varianten auf myToys zu verkaufen, benötigst du deshalb einen Verkaufspreis, bei dem die Auftragsherkunft myToys aktiviert ist. Der Preis, den du für diesen Verkaufspreis an deinen Varianten speicherst, wird auf myToys angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für myToys festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen]</strong>.<br>
<strong><em>Tipp:</em></strong> Du hast noch keine Verkaufspreise? Dann erstelle zuerst einen <a href="/artikel/einstellungen/preise#100">neuen Verkaufspreis</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>myToys</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">9. Herkunft in Versandprofilen aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere nun myToys in den Versandprofilen, die du für den Marktplatz anbieten möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Herkunft myToys im Versandprofil aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Klicke auf das Versandprofil.<br>
<strong><em>Tipp:</em></strong> Du hast noch keine Versandprofile? Wie du Versandprofile erstellst, erfährst du <a href="/fulfillment/versand-vorbereiten#1000">hier</a>.</p>
</li>
<li>
<p>Aktiviere für die Einstellung <strong>Auftragsherkunft</strong> die Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Das Versandprofil ist für Aufträge der Herkunft myToys verfügbar.</p>
</li>
<li>
<p>Aktiviere die Herkunft wenn nötig in weiteren Versandprofilen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="550">10. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden über Katalog-Formate zu myToys übertragen. Kataloge erstellst du im Menü <strong>Daten » Kataloge</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du arbeitest zum ersten Mal mit den Katalogen? Dann mach dich zuerst <a href="/daten/daten-exportieren/kataloge-verwalten">mit dem Prinzip der Kataloge vertraut</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Damit du deine Artikel zu myToys exportieren kannst, musst du Kataloge erstellen. Die Kataloge erstellst du spezifisch pro Kategorie. Je nach gewählter Kategorie variieren bei der Zuordnung sowohl die Pflichtfelder als auch die optionalen Felder. Verknüpfe anschließend im Marktplatz-Format die von myToys vorgegebenen Felder mit den in plentymarkets gespeicherten Artikeldaten. Die Katalogdaten werden automatisch in regelmäßigen Abständen zu myToys exportiert, wenn du einen Katalog aktivierst.</p>
</div>
<div class="sect2">
<h3 id="600">10.1. Besonderheiten der myToys-Artikeldatenstruktur</h3>
<div class="paragraph">
<p>Die Struktur der Artikeldaten von myToys gleicht der Struktur in plentymarkets. Nur die Benennungen sind unterschiedlich:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Produkt:</strong> Das <strong>Produkt</strong> bei myToys entspricht in plentymarkets dem <strong>Artikel</strong>.</p>
</li>
<li>
<p><strong>Artikel:</strong> Der <strong>Artikel</strong> bei myToys entspricht in plentymarkets der <strong>Variante</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>So wie in plentymarkets Varianten auf Artikeln basieren, basieren bei myToys Artikel auf den Produkten. Dementsprechend werden in myToys den Artikeln Attribute zugeordnet, wie z.B. Farbe und Größe. Diese Übereinstimmung in der Artikelstruktur erleichtert die Zuordnung der Datenfelder in den Katalogen.</p>
</div>
</div>
<div class="sect2">
<h3 id="650">10.2. Katalog mit dem Assistenten erstellen</h3>
<div class="paragraph instruction">
<p>Katalog mit dem Assistenten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » Plugin-Set wählen</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>myToys - Kataloge</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Box unter dieser Beschreibung auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke im Schritt <strong>Zusammenfassung</strong> auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Katalog wird erstellt.</p>
</li>
<li>
<p>Öffne den Katalog im Menü <strong>Daten » Kataloge</strong>, um weitere Felder zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Für jede myToys-Kategorie benötigst du einen eigenen Katalog.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">10.3. Katalogzuordnungen vornehmen</h3>
<div class="paragraph">
<p>Nachdem du einen Katalog erstellt hast, ordnest du die Datenfelder des Marktplatzes den in plentymarkets gespeicherten Artikeldaten zu. In diesem Kapitel erfährst du, wie du Datenfelder zuordnest und welche Besonderheiten es bei myToys gibt. Außerdem findest du hier Empfehlungen für eine korrekte Zuordnung. Die Informationen sind wie folgt aufgebaut:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#750">Datenfelder im Katalog zuordnen</a></p>
</li>
<li>
<p><a href="#800">Besonderheiten bei der Zuordnung von Datenfeldern</a></p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="750">10.3.1. Datenfelder im Katalog zuordnen</h4>
<div class="paragraph">
<p>Ordne nun die Datenfelder von myToys den in plentymarkets gespeicherten Artikeldaten zu. Beachte die Informationen zu Besonderheiten und Empfehlungen in diesem Kapitel.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einfache und komplexe Zuordnungen in Katalogen</div>
<div class="paragraph">
<p>Im Allgemeinen gibt es zwei Arten von Datenfeldzuordnungen in Katalogen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Einfache Zuordnung:</strong> Hierbei wird ein plentymarkets Datenfeld genau einem Datenfeld von myToys zugeordnet. Ein Beispiel hierfür ist die eindeutige Angabe der Marke oder der des Artikelgewichts. Wie du Zuordnungen dieser Art im Katalog anlegst, erfährst du weiter unten im Punkt <strong><em>Möglichkeit 1: Ein plentymarkets Datenfeld zuordnen</em></strong>.</p>
</li>
<li>
<p><strong>Komplexe Zuordnung:</strong> Hierbei werden mehrere plentymarkets Datenfelder einem Datenfeld von myToys zugeordnet. So kannst du beispielsweise mit dem Datenfeld für die Artikelfarbe <strong>Rot</strong> von myToys weitere in deinem plentymarkets System angelegte Eigenschaften wie <strong>Hellrot</strong>, <strong>Dunkelrot</strong> und <strong>Kirschrot</strong> verknüpfen. Der Artikel bzw. die Variante werden dann mit allen 3 Begriffen gefunden, wenn Kund:innen auf myToys Produkte nach <strong>Rot</strong> filtern. Beachte, dass du bei komplexen Zuordnungen den Typ <strong>Kein</strong> nicht verwenden darfst. Wie du Zuordnungen dieser Art im Katalog anlegst, erfährst du weiter unten im Punkt <strong><em>1:n Zuordnung - 1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder</em></strong>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Überblick für Einsteiger:innen: Katalogmenü</div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menüaufbau eines Katalogs mit Marktplatz-Format</em></p>
</div>
<div class="paragraph">
<p>Was hat es mit den einzelnen Bereichen auf sich?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong> Hier kannst du zwischen den verschiedenen Bereichen wechseln. Rufe die Katalogeinstellungen auf, ordne den Datenfeldern des Marktplatzes die entsprechenden plentymarkets Datenfelder sowie eigene Datenfelder zu, oder setze Filter, um nur bestimmte Daten zu exportieren.</p>
</li>
<li>
<p><strong>Toolbar</strong> Hier kannst du für den Katalog relevante Aktionen durchführen und zum Beispiel die Zuordnung der Datenfelder speichern.</p>
</li>
<li>
<p><strong>Marktplatz-Datenfelder</strong> Hier sind alle für den Marktplatz verfügbaren Datenfelder aufgelistet. Pflichtfelder sind mit einem Sternchen (*) gekennzeichnet.</p>
</li>
<li>
<p><strong>plentymarkets Datenfelder</strong> Hier ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu. Im Screenshot wurden schon einige Felder zugeordnet.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Katalogzuordnungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> wird geöffnet.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (*) gekennzeichnet.<br>
→ In der rechten Spalte ordnest du die plentymarkets Datenfelder zu. Bereits zugeordnete plentymarkets Datenfelder werden ebenfalls in der rechten Spalte angezeigt.</p>
</li>
<li>
<p>Nun ordnest du den Marktplatz-Datenfeldern passende plentymarkets Datenfelder zu.<br>
Du hast die folgenden Zuordnungsmöglichkeiten, die in <a href="#mapping-types">Tabelle 3</a> näher beschrieben werden:</p>
<div class="ulist">
<ul>
<li>
<p>1:1-Zuordnung = 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld</p>
</li>
<li>
<p>1:1-Zuordnung mit Ausweich-Datenfeld = 1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld mit Alternative</p>
</li>
<li>
<p>1:n-Zuordnung = 1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder</p>
</li>
<li>
<p>Eigener-Wert-Zuordnung = 1 Marktplatz-Datenfeld, für alle Varianten derselbe Wert</p>
</li>
</ul>
</div>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
<table id="mapping-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Zuordnungsmöglichkeiten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1:1-Zuordnung<br>
(1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="openblock collapseBox">
<div class="title">Was ist eine 1:1-Zuordnung?</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:1-Zuordnung ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer ist, wird kein Wert für die Variante exportiert.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie nimmst du eine 1:1-Zuordnung vor?</div>
<div class="content">
<div class="paragraph instruction">
<p>1:1-Zuordnung vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1:1-Zuordnung mit Ausweich-Datenfeld<br>
(1 Marktplatz-Datenfeld, 1 plentymarkets Datenfeld mit Alternative)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="openblock collapseBox">
<div class="title">Was ist eine 1:1-Zuordnung mit Ausweich-Datenfeld?</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:1-Zuordnung mit Ausweich-Datenfeld ordnest du dem Markplatz-Datenfeld eine Einstellung in plentymarkets zu. Zusätzlich gibst du ein oder mehrere Ausweich-Datenfelden an, damit das System weitersucht, wenn das erste plentymarkets-Datenfeld leer ist oder einen ungültigen Wert enthält.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass dieses Marktplatz-Datenfeld mit den Daten aus dieser plentymarkets Einstellung befüllt wird.</p>
</li>
<li>
<p>Wenn das Datenfeld für eine Variante leer oder ungültig ist, wird das erste Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert.</p>
</li>
<li>
<p>Wenn das erste Ausweich-Datenfeld für eine Variante ebenfalls leer oder ungültig ist, wird das zweite Ausweich-Datenfeld geprüft und stattdessen dieser Wert für die Variante exportiert usw.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie nimmst du eine 1:1-Zuordnung mit Ausweich-Datenfeld vor?</div>
<div class="content">
<div class="paragraph instruction">
<p>1:1-Zuordnung mit Ausweich-Datenfeld vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke in der Liste der plentymarkets Datenfelder neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das Ausweich-Datenfeld wird exportiert, wenn das erste Datenfeld nicht vorhanden oder leer ist.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du einem Marktplatz-Datenfeld zusätzlich zum ersten plentymarkets-Datenfeld auch noch ein oder mehrere Ausweich-Datenfelder zuordnest, wird für jede Variante nur ein Wert übertragen. Für jede Variante werden die Felder in der Reihenfolge geprüft, in der sie zugeordnet wurden. Wenn also das erste Datenfeld keinen Wert für die Variante liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1:n-Zuordnung<br>
(1 Marktplatz-Datenfeld, mehrere plentymarkets Datenfelder)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="openblock collapseBox">
<div class="title">Was ist eine 1:n-Zuordnung?</div>
<div class="content">
<div class="paragraph">
<p>Bei einer 1:n-Zuordnung ordnest du dem Markplatz-Datenfeld mehrere plentymarkets Datenfelder zu. Diese Datenfelder kannst du durch ein Trennzeichen miteinander verbinden.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass diese plentymarkets Datenfelder beim Export kombiniert werden und das Marktplatz-Datenfeld mit den Daten aus diesen zwei oder mehr plentymarkets Einstellungen befüllt wird.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie nimmst du eine 1:n-Zuordnung vor?</div>
<div class="content">
<div class="paragraph instruction">
<p>1:n-Zuordnung vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die plentymarkets Datenfelder anzuzeigen.<br>
→ Die plentymarkets Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten plentymarkets Datenfeld auf das Plus.<br>
→ Das plentymarkets Datenfeld wird in das Feld rechts eingefügt.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke rechts neben dem zugeordneten plentymarkets Datenfeld auf <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder wieder als Gruppen angezeigt.</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein oder mehrere weitere plentymarkets Datenfelder zu.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile des Marktplatz-Datenfelds auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) den Katalog.<br>
→ Die Zuordnungen werden gespeichert.<br>
→ Beim Export wird der Inhalt der plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener-Wert-Zuordnung<br>
(1 Marktplatz-Datenfeld, für alle Varianten derselbe Wert)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="openblock collapseBox">
<div class="title">Was ist eine Eigener-Wert-Zuordnung?</div>
<div class="content">
<div class="paragraph">
<p>Du bist dir sicher, dass du für ein Marktplatz-Datenfeld für alle Varianten des Katalogs denselben Wert übertragen möchtest? Dann kannst du einen eigenen Wert angeben. Dieser feste Wert wird dann für alle Varianten exportiert.</p>
</div>
<div class="paragraph">
<p>Du legst also fest:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ich möchte, dass für dieses Marktplatz-Datenfeld für <em>alle</em> Varianten dieses Katalogs der Wert exportiert wird, den ich in das Feld <strong>Eigener Wert</strong> eingeben habe.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie nimmst du eine Eigener-Wert-Zuordnung vor?</div>
<div class="content">
<div class="paragraph instruction">
<p>Eigener-Wert-Zuordnung vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke neben dem Marktplatz-Datenfeld auf <strong>+ Datenfeld hinzufügen</strong>.<br>
→ Links wird die Liste der verfügbaren plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke ganz oben neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.<br>
→ Dieser Wert wird für alle Varianten exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Beispiel:</em></strong> Durchmesserangaben</div>
<div class="content">
<div class="paragraph">
<p>Du möchtest für einige deiner Varianten den Durchmesser an Marktplätze exportieren. Den Durchmesser hast du für alle Varianten in Zentimetern gespeichert. Statt eine Eigenschaft für die Einheit zu erstellen und diese Eigenschaft mit allen Varianten zu verknüpfen, kannst du also als eigenen Wert <code>cm</code> eingeben.</p>
</div>
<div class="paragraph">
<p>Hier siehst du, wie du einen eigenen Wert für die Durchmesser-Einheit zuordnest:</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/durchmesser.png" alt="durchmesser"></span></p>
</div>
</div>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="800">10.3.2. Besonderheiten bei der Zuordnung von Datenfeldern</h4>
<div class="paragraph">
<p>Jeder Marktplatz strukturiert Artikeldaten anders. Deshalb treten beim Zuordnen von Datenfeldern bestimmte Sonderfälle auf. In <a href="#catalogue-myToys-mappings">Tabelle 4</a> findest du Hinweise dazu, was du beim Zuordnen von Datenfeldern für myToys beachten solltest.</p>
</div>
<div class="paragraph">
<p>Beachte außerdem, dass es für myToys einige <strong>Pflichtfelder</strong> gibt. Mindestens diese Pflichtfelder müssen in der Zuordnung ausgefüllt werden. Über die Umschaltfläche (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) <strong>Nur Pflichtfelder anzeigen</strong> kannst du dir auch ausschließlich die Pflichtfelder anzeigen lassen.</p>
</div>
<div class="paragraph">
<p>Für einige Zuordnungen ist es sinnvoll, vorher <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a> anzulegen. Diese sind erst nach dem Erstellen und Speichern in den Zuordnungen verfügbar. Stelle daher sicher, dass du alle benötigten Eigenschaften vorher erstellt hast.<br></p>
</div>
<div class="paragraph">
<p>Da myToys keine HTML-Tags verarbeiten kann, werden diese herausgefiltert. Achte darauf, besonders für <a href="#option-itemtext">Artikelbeschreibungen</a> und <a href="#option-bulletpoints">Aufzählungszeichen</a>.</p>
</div>
<table id="catalogue-myToys-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Besonderheiten bei der Katalogzuordnung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marktplatz-Datenfeld</th>
<th class="tableblock halign-left valign-top">Erklärung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produktname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Produktnamen auf Deutsch an. Die Zeichenzahl für Produktnamen ist technisch nicht limitiert. Achte dennoch darauf, nicht zu viele Zeichen zu verwenden, da der Produktname systemseitig von myToys sonst abgeschnitten wird. Der Produktname sollte daher so kurz wie möglich sein.<br>
Hersteller bzw. Eigenmarken müssen nicht im Produktnamen erwähnt werden, diese werden bei myToys gesondert darüber angezeigt. Des Weiteren dürfen Farben, Größen, Geschlechterangaben und Wiederholungen nicht im Produktnamen genannt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marke</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Entsprechung in plentymarkets ist der externe Hersteller.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong class="option-itemtext">Texte</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Verknüpfe das Datenfeld <strong>Artikeltext</strong>, um die Beschreibung des Artikels aus deinem plentymarkets System auf myToys anzuzeigen.<br>
Die Zeichenlimitierung für die Artikelbeschreibung beträgt 4000 Zeichen, danach wird der Text abgeschnitten und mit "…​" versehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe und Größe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Farbe und Größe sind sowohl in plentymarkets als auch bei myToys die variantenbildenenden Attribute.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der <a href="/artikel/einstellungen/preise">UVP</a> muss die Herkunft myToys haben.<br>
Wenn der Verkaufspreis größer oder genauso groß ist wie der UVP, wird der UVP auf der myToys Artikelseite nicht ausgegeben. Ist der Verkaufspreis kleiner als der UVP, wird er als durchgestrichener Preis ausgegeben.<br>
<strong><em>Hinweis:</em></strong> Wenn du keinen UVP hast, z.B., weil du Hersteller bist, ordne erneut den Verkaufspreis im Feld <strong>UVP</strong> zu. Bei myToys wird dann kein durchgestrichener Preis ausgegeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong class="option-bulletpoints">Aufzählungszeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Auf der myToys Artikelseite werden zusätzliche Informationen über den Artikel mit Aufzählungszeichen (bullet points) aufgeführt. Hierfür bietet es sich an, dies in plentymarkets über die Eigenschaft <strong>Text</strong> zu pflegen.<br>
Die Zeichenlimitierung für Bullet Points beträgt 255 Zeichen, danach wird der Text abgeschnitten und mit “…​” versehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Saison</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du einen saisonunabhängigen Artikel einstellen, wähle hier <strong>NOOS</strong> (never out of season) aus. Weitere Abkürzungen:<br>
- <strong>FS</strong> = Frühling / Sommer<br>
- <strong>HW</strong> = Herbst / Winter</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Muster</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du einen Artikel ohne Muster einstellen, wähle hier <strong>uni</strong> aus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN &amp; Intrastat-Nr.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese beiden Werte sind Pflichtwerte und müssen am Artikel gepflegt sein, da sie genau so an myToys übergeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Materialzusammensetzung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Einige Kategorien, z.B. Fashion, verlangen die Angabe der Materialzusammensetzung. Von den fünf zur Verfügung stehenden Feldern muss mindestens ein Feld verknüpft werden. Hierbei handelt es sich um ein mehrdimensionales Mapping:<br>
- Im 1. Schritt muss der Materialtyp (complex mapping) verknüpft werden, z.B. "Obermaterial".<br>
- Im 2. Schritt muss die Materialzusammensetzung von “Obermaterial” in folgendem Format eingebeben werden:<br>
{"material1": "prozentwert","material2": "prozentwert","material3": "prozentwert"}<br>
<strong><em>Beispiel:</em></strong> {"WO": "90","EL": "10"}<br>
<strong><em>Hinweis:</em></strong> Eine vollständige Liste aller von myToys erlaubten Materialtypen findest du <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys_Materialien_sortiert.pdf">in diesem Dokument</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelgewicht</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der eingegebene Wert wird in Gramm übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Altersempfehlung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Durch die Angabe der Altersempfehlung erfolgt durch myToys automatisch die Zuweisung, in welchem Shop der Artikel angeboten wird. Alles <strong>bis 16 Jahre</strong> wird in myToys eingestellt. Alles <strong>ab 18 Jahre</strong> wird bei mirapodo/yomonda eingestellt. Beachte dafür die folgende Kategorisierung:<br>
- <strong>new born</strong> = 0-9 Monate<br>
- <strong>baby</strong> = 9-24 Monate<br>
- <strong>mini</strong> = 2-8 Jahre<br>
- <strong>teen</strong> = 8-16 Jahre<br>
- <strong>adult</strong> = 18-99 Jahre</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Dir fehlen Marktplatz-Datenfelder für die korrekte Zuordnung deiner Artikel? Dann kontaktiere myToys, um diese ggf. hinzufügen zu lassen.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="850">10.4. Katalog aktivieren</h3>
<div class="paragraph">
<p>Du hast myToys eingerichtet und den Katalog für den Export deiner Artikeldaten erstellt? Dann starte jetzt den Export deiner Artikeldaten.</p>
</div>
<div class="paragraph instruction">
<p>Katalogexport zu myToys aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zu dem myToys-Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Umschaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten des Katalogs werden  an myToys übertragen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf myToys verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="f-r-eine-variante-tab" data-toggle="tab" href="#f-r-eine-variante" role="tab" aria-controls="f-r-eine-variante" aria-selected="true">Für eine Variante</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-varianten-gruppenfunktion-tab" data-toggle="tab" href="#per-varianten-gruppenfunktion" role="tab" aria-controls="per-varianten-gruppenfunktion" aria-selected="false">Per Varianten-Gruppenfunktion</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-stapelverarbeitung-tab" data-toggle="tab" href="#per-stapelverarbeitung" role="tab" aria-controls="per-stapelverarbeitung" aria-selected="false">Per Stapelverarbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="f-r-eine-variante" role="tabpanel" aria-labelledby="f-r-eine-variante-tab">
<div class="paragraph instruction">
<p>Eine Variante für myToys verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> der Variante wird geöffnet.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf myToys zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Variante ist für myToys verfügbar.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-varianten-gruppenfunktion" role="tabpanel" aria-labelledby="per-varianten-gruppenfunktion-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> bearbeitest du mehrere Varianten gleichzeitig. Dabei wählst du die zu bearbeitenden Varianten direkt aus.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Varianten-Gruppenfunktion für myToys verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen vorzunehmen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-stapelverarbeitung" role="tabpanel" aria-labelledby="per-stapelverarbeitung-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a> bearbeitest du mehrere Varianten gleichzeitig. Du verwendest Filter, um die zu bearbeitenden Varianten einzuschränken.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Stapelverarbeitung für myToys verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>myToys</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
</div></div>
<div class="paragraph">
<p>Beachte zudem, dass im <a href="/maerkte/mytoys#650">Assistenten</a> erstellte Kategorien den entsprechenden Varianten im Bereich <strong>Varianteneigenschaften</strong> im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Varianten-Tab: Eigenschaften</strong> zugeordnet werden müssen.</p>
</div>
<div class="paragraph instruction">
<p>Erstellte Kategorie einer Variante zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Varianten-Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Varianteneigenschaften</strong> in das Feld <strong>Eigenschaften</strong>.<br>
→ Eine Dropdown-Liste öffnet sich.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>myToys Kategoriegruppe</strong> aus.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ <strong>myToys Kategoriegruppe</strong> wird der Tabelle hinzugefügt.</p>
</li>
<li>
<p>Wähle in der Spalte <strong>Wert</strong> eine der im Assistenten angelegten Kategorien aus.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="950">12. Stornierungen automatisch an myToys melden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um myToys automatisch über Stornierungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierung-myToys">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-stornierung-myToys">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierung-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion, um Stornierungen an myToys zu melden</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis wählen, zum Beispiel <strong>[8] Storniert</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstornierung an myToys melden</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">13. Versandbestätigungen automatisch an myToys senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um myToys automatisch über Versandbestätigungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-versandinfo-myToys">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-versandinfo-myToys">Tabelle 6</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-versandinfo-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion für Versandbestätigungen</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis wählen, zum Beispiel <strong>[7] Warenausgang gebucht</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong><br>
<strong>Lieferauftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandinformation an myToys melden</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1050">14. Retourenverwaltung einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte nun die Verwaltung von Retouren für myToys ein.</p>
</div>
<div class="sect2">
<h3 id="1100">14.1. Ablauf von Retouren</h3>
<div class="paragraph">
<p>Eine Retoure läuft bei myToys wie folgt ab:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Kund:innen senden die Ware inklusive des ausgefüllten <a href="#1150">Rücksendescheins</a> an dich zurück.</p>
</li>
<li>
<p>Du führst die Retoure in plentymarkets aus.</p>
</li>
<li>
<p>Du informierst myToys darüber, dass du die Ware erhalten hast.</p>
</li>
<li>
<p>myToys erstattet Käufer:innen den Kaufpreis zurück.<br>
<strong><em>Hinweis:</em></strong> Wenn du myToys mitteilst, dass die Retoure abgeschlossen ist, wird bei myToys eine Gutschrift ausgelöst und Endkund:innen erhalten eine Rückerstattung. Achte deshalb darauf, dass du myToys erst über den Abschluss der Retoure informierst, nachdem du die Ware erhalten und geprüft hast.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1150">14.2. PDF-Vorlage für Rücksendescheine hochladen</h3>
<div class="paragraph">
<p>Auf Rücksendescheinen für myToys-Aufträge muss der myToys-Briefkopf erscheinen. Zusätzlich müssen Rücksendescheine für myToys-Aufträge mindestens die folgenden Informationen beinhalten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Kundennummer</p>
</li>
<li>
<p>Belegnummer</p>
</li>
<li>
<p>Auftragsnummer</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine <a href="/auftraege/auftragsdokumente#170">PDF-Vorlage</a> für Rücksendescheine für myToys in plentymarkets hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage für Rücksendescheine hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die PDF-Vorlage für Rücksendescheine von myToys herunter und speichere sie auf deinem Rechner:</p>
<div class="ulist">
<ul>
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys-Retourenschein.pdf">PDF-Vorlage herunterladen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » Standort: Deutschland » Dokumente » Rücksendescheinschein</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue PDF-Vorlage hochladen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Zahlungsart</strong> die Option <strong>Plugin: myToys Payment</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Die Zahlungsart <strong>Plugin: myToys Payment</strong> wird nicht in der Dropdown-Liste angezeigt?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Inaktive Plugin-Zahlungsarten anzeigen</strong> die Option <strong>Ja</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Sprache</strong> die Option <strong>de</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Vorlage</strong> auf <strong>Vorlage auswählen</strong>.</p>
</li>
<li>
<p>Wähle die PDF-Vorlage für Lieferscheine von myToys.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon "><i class="psicon-save"></i></span>).<br>
→ Die Vorlage wird hochgeladen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">14.3. Retoure automatisch an myToys melden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um myToys automatisch darüber zu informieren, dass eine Retoure abgeschlossen wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retouren-myToys">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-retouren-myToys">Tabelle 7</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retouren-myToys" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Ereignisaktion zum automatischen Melden von Retouren an myToys</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>myToys</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure an myToys melden</strong><br>
<strong><em>Hinweis:</em></strong> Durch die Aktion <strong>Retoure an myToys melden</strong> wird bei myToys eine Gutschrift ausgelöst. Endkund:innen erhalten also eine Rückerstattung. Achte deshalb darauf, dass die Ereignisaktion erst ausgelöst wird, nachdem du die retournierte Ware erhalten und geprüft hast.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1250">15. Lieferscheine für myToys vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf Lieferscheinen für myToys-Aufträge müssen der myToys-Briefkopf und ein von myToys vorgegebener Retourenhinweis erscheinen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#1300">So lädst du eine PDF-Vorlage für Lieferscheine hoch</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="1300">15.1. PDF-Vorlage für Lieferscheine hochladen</h3>
<div class="paragraph">
<p>myToys-Lieferscheine müssen das Logo von myToys verwenden. Gehe wie unten beschrieben vor, um eine <a href="/auftraege/auftragsdokumente#170">PDF-Vorlage</a> für Lieferscheine für myToys in plentymarkets hochzuladen.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage für Lieferscheine hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die PDF-Vorlage für Lieferscheine von myToys herunter und speichere sie auf deinem Rechner:</p>
<div class="ulist">
<ul>
<li>
<p><a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/myToys/myToys_delivery_note_return_note.pdf">PDF-Vorlage herunterladen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » Standort: Deutschland » Dokumente » Lieferschein</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue PDF-Vorlage hochladen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Zahlungsart</strong> die Option <strong>Plugin: myToys Payment</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Die Zahlungsart <strong>Plugin: myToys Payment</strong> wird nicht in der Dropdown-Liste angezeigt?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle für die Einstellung <strong>Inaktive Plugin-Zahlungsarten anzeigen</strong> die Option <strong>Ja</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Sprache</strong> die Option <strong>de</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Vorlage</strong> auf <strong>Vorlage auswählen</strong>.</p>
</li>
<li>
<p>Wähle die PDF-Vorlage für Lieferscheine von myToys.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon "><i class="psicon-save"></i></span>).<br>
→ Die Vorlage wird hochgeladen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1350">16. Fehlersuche: Log-Einträge abrufen</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Deine Varianten wurden nicht zu myToys exportiert? Wenn mindestens eine Variante die Anforderungen von myToys nicht erfüllt, werden keine Variantendaten exportiert. Deine Varianten werden also schon bei einer einzigen ungültigen Variante nicht zu myToys übertragen. Um den Fehler zu finden, prüfe die Einträge im Daten-Log.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Menü <strong>Daten » Log</strong> findest du eine Historie über Vorgänge, die über die Schnittstelle zu myToys ausgeführt wurden. Beachte, dass Integrationen und Identifikatoren erst in den Dropdown-Listen als Filter verfügbar sind, wenn der Vorgang mindestens einmal ausgeführt wurde.</p>
</div>
<div class="paragraph">
<p>Für myToys eignen sich die folgenden Filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Integration</strong> » <strong>myToys</strong></p>
</li>
<li>
<p><strong>Referenztyp</strong> » <strong>variationId</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Log-Einträge filtern und prüfen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Wähle in der Spalte links geeignete Filtereinstellungen aus den Dropdown-Listen.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wähle Filter für Datum und/oder Uhrzeit, um nur Einträge anzuzeigen, die in einem bestimmten Zeitraum erstellt wurden.<br>
<strong><em>Tipp:</em></strong> Weitere Informationen zu den Filtern findest du auf der Handbuchseite <a href="/daten/datenlog">Daten-Log</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Ergebnisse werden angezeigt.</p>
</li>
<li>
<p>Prüfe Einträge mit den Levels <strong>warning</strong> und <strong>error</strong>.<br>
<strong><em>Tipp:</em></strong> Klicke auf eine Meldung, um Details einzublenden.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>