<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei PIXmania registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> PIXmania in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#400"><span>5.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>6.</span><span> Brand-IDs importieren</span></a></li>
<li><a href="#600"><span>7.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#700"><span>8.</span><span> Attribute verknüpfen</span></a></li>
<li><a href="#800"><span>9.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#900"><span>10.</span><span> Exportverlauf abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>PIXmania</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.pixmania.de/index.html" target="_blank" rel="noopener">PIXmania</a> ist ein Online-Marktplatz mit einem breiten Angebot an Produkten der Bereiche Consumer-Eletronik, Haus und Garten, Spielzeug und mehr. Mit plentymarkets kannst du deine neuen oder auch gebrauchten Artikel bei PIXmania anbieten und damit deine Reichweite vergrößern und neue Kunden generieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei PIXmania registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu PIXmania einzurichten, registriere dich zunächst als Händler bei <a href="https://www.pixmania.de/edito/verkaufen-auf-pixmaniacom/584e6ffe3c446c7fc88fa40d" target="_blank" rel="noopener">PIXmania</a>. Du erhältst die nötigen Zugangsdaten, die du für die Einstellungen in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. PIXmania in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bedingungen für die Nutzung von PIXmania in deinem plentymarkets System:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel für PIXmania müssen den Hersteller und mindestens ein Artikelbild hinterlegt haben.</p>
</li>
<li>
<p>Du benötigst einen Händlerschlüssel von PIXmania, den du nach der Registrierung bei diesem Marktplatz erhältst.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Nachdem du deinen Händlerschlüssel gespeichert hast, erscheint die Auswahl der Länderplattformen.</p>
</div>
<div class="paragraph instruction">
<p>PIXmania in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » PIXmania » Einstellungen</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Grundeinstellungen</strong> auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#grundeinstellungen-pixmania">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="grundeinstellungen-pixmania" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen des Marktplatzes PIXmania</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatischen Datenaustausch aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Daten automatisch mit PIXmania auszutauschen.<br>
Zum Datenaustausch zählen der tägliche Artikelexport, der viertelstündliche Bestandsabgleich, der viertelstündliche Preisabgleich und der viertelstündliche Auftragsimport.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania-Händlerschlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Händlerschlüssel eingeben, wie von PIXmania erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufsländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länderplattformen aktivieren, auf denen du verkaufen möchtest. Die Länderauswahl wird erst sichtbar, nachdem du deinen Händlerschlüssel eingegeben und gespeichert hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Aufträge mit einem <strong>offenen</strong> Zahlungseingang oder mit <strong>gebuchtem</strong> Zahlungseingang in dein plentymarkets System übertragen werden sollen. Zahlungen von PIXmania werden gebündelt übertragen. Wird die Einstellung <strong>gebucht</strong> gewählt, werden Aufträge, für die noch keine Zahlung von PIXmania eingegangen ist, bereits als bezahlt ins System übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Lieferzeit in vollen Tagen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferzeit in Tagen eingeben. Diese Lieferzeit ist die Standardlieferzeit, die du für die meisten deiner Sendungen benötigst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit 1 - 5</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferzeit in Tagen bei jeder Option für <strong>Inland</strong> und <strong>Ausland</strong> eingeben. Nur die hier eingegebenen Tage werden als Lieferzeit an PIXmania übertragen. 0 als Anzahl von Tagen ist nicht erlaubt. Du musst eine natürliche Zahl eingeben. Die Optionen für Artikelverfügbarkeit werden im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> eingerichtet.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierten Funktionen bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Täglicher Artikelexport</p>
</li>
<li>
<p>Viertelstündlicher Bestandsabgleich</p>
</li>
<li>
<p>Viertelstündlicher Preisabgleich</p>
</li>
<li>
<p>Viertelstündlicher Auftragsimport</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit PIXmania verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft PIXmania aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für PIXmania aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>PIXmania</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf PIXmania verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden. Zusätzlich müssen Artikel für PIXmania den Hersteller und mindestens ein Artikelbild hinterlegt haben.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für PIXmania einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>PIXmania</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf PIXmania verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft PIXmania einen Verkaufspreis festzulegen. Dieser Preis wird auf PIXmania angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für PIXmania festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>PIXmania</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Brand-IDs importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du benötigst die Brand-IDs von PIXmania, die du folgendermaßen erhältst.</p>
</div>
<div class="paragraph instruction">
<p>Datenformat exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Export » Tab: Neues Datenformat</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Datenformat-Typ</strong> die Einstellung <strong>Producer</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Aktiviere die Felder <strong>ProducerID</strong>, <strong>ProducerName</strong> und <strong>ProducerPixmaniaID</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Tab <strong>Datenformat bearbeiten</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe das Datenformat auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Klicke auf das Zahnrad <strong>Daten exportieren</strong>.</p>
</li>
<li>
<p>Speichere die CSV-Datei auf deinem Rechner.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sende die CSV-Datei an den PIXmania-Kundenservice. Du erhältst darauf von PIXmania eine Excel-Datei, aus der du eine CSV-Datei erzeugst, die dem Datenformat <strong>Producer</strong> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Datenformat importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Wähle das Feldtrennzeichen.</p>
</li>
<li>
<p>Wähle unter <strong>Format</strong> dein Datenformat.</p>
</li>
<li>
<p>Klicke auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Öffne die CSV-Datei.</p>
</li>
<li>
<p>Klicke auf das Zahnrad <strong>Import</strong>.<br>
→ Nach dem Import der Brand-IDs findest du die PIXmania-ID eines Herstellers im Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um deine Kategorien mit denen von PIXmania zu verknüpfen, lade zunächst die Kategorieliste direkt von PIXmania herunter. Verknüpfe dann deine eigenen Kategorien mit den passenden PIXmania-Kategorien.</p>
</div>
<div class="paragraph instruction">
<p>PIXmania-Kategorien importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » PIXmania » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wähle das <strong>Feldtrennzeichen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Die Kategorieliste wird importiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Um deine Kategorien mit denen von PIXmania zu verknüpfen, gehe wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » PIXmania » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>PIXmania-Verknüpfung</strong> auf das <strong>Zahnrad</strong>.<br>
→ Die PIXmania-Kategorien werden im Bereich <strong>Kategorien</strong> angezeigt.</p>
</li>
<li>
<p>Klappe die Kategorie auf.</p>
</li>
<li>
<p>Wähle die Unterkategorie.<br>
→ Die verknüpfte Kategorie wird im Bereich <strong>Auswahl</strong> angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Neu laden</strong>.<br>
→ Die Verknüpfungen werden unter <strong>PIXmania-Verknüpfung</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Kategorieverknüpfung löschen</strong></div>
<div class="paragraph">
<p>Du kannst Kategorieverknüpfungen im Bereich <strong>Auswahl</strong> löschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nach der Verknüpfung deiner Kategorien mit den PIXmania-Kategorien exportierst du diese Daten zu PIXmania.</p>
</div>
<div class="paragraph instruction">
<p>Kategorieverknüpfungen exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » PIXmania » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf das Zahnrad <strong>Verknüpfung exportieren</strong>.<br>
→ Eine CSV-Datei wird erstellt.</p>
</li>
<li>
<p>Speichere die CSV-Datei auf deinem Rechner.</p>
</li>
<li>
<p>Sende die CSV-Datei an PIXmania.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Attribute verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du <a href="/artikel/artikel-verwalten#390">Attribute</a> in deinem plentymarkets System erstellt hast, müssen diese Attribute mit PIXmania verknüpft werden. Nachfolgend wird beschrieben, wie du das Attribut Farbe mit PIXmania verknüpfst. Verknüpfe weitere Attribute auf die gleiche Weise.</p>
</div>
<div class="paragraph instruction">
<p>Attribute verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.<br>
→ Eine Übersicht aller erstellten Attribute wird geöffnet.</p>
</li>
<li>
<p>Klappe das Attribut <strong>Farbe</strong> auf.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Marktplatzvariation</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Marktplatz</strong> die Option <strong>PIXmania</strong>.<br>
→ Eine zusätzliche Dropdown-Liste <strong>Pixmania</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>PIXmania</strong> das Attribut <strong>Farbe</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">9. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>PIXmania Payment</strong> wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>PIXmania-Zahlungsart aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>PIXmania Payment</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart-pixmania">Tabelle 2</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart-pixmania" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer*innen im Webshop die Sprache wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Exportverlauf abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » PIXmania » Exportverlauf</strong> wird dir eine Übersicht über den Exportverlauf deiner PIXmania-Artikel angezeigt. Sowohl Exportvorgänge <strong>in Bearbeitung</strong> als auch <strong>abgeschlossene</strong> Exportvorgänge werden angezeigt.</p>
</div>
</div>
</div>
</main>