<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Netto eStores registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Netto eStores in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#330"><span>5.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#350"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#365"><span>7.</span><span> Grundpreisanzeige einstellen</span></a></li>
<li><a href="#400"><span>8.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#500"><span>9.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#700"><span>10.</span><span> Merkmale erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#800"><span>10.1.</span><span> Provisionssätze auf Artikelebene einstellen</span></a></li>
<li><a href="#900"><span>10.2.</span><span> Energieeffizienz-Merkmale erstellen</span></a></li>
<li><a href="#950"><span>10.3.</span><span> Merkmal für Grundpreispflicht erstellen</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>11.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#1100"><span>12.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#1200"><span>13.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#1250"><span>14.</span><span> Unbezahlte Aufträge nach 30 Tagen automatisch stornieren</span></a></li>
<li><a href="#1350"><span>15.</span><span> Lieferscheine und Rücksendescheine erstellen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Netto Marken-Discount, GartenXXL.de und GartenXXL.at</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://shop.netto-online.de/">Netto Marken-Discount</a> bietet Produkte aus den Kategorien Lebensmittel, Drogerie, Wohnen, Haushalt, Garten und Freizeit an (Quelle: <a href="https://shop.netto-online.de" class="bare">https://shop.netto-online.de</a>).</p>
</div>
<div class="paragraph">
<p><a href="http://www.gartenxxl.de/" target="_blank" rel="noopener">GartenXXL</a> ist eine Marke der Tengelmann E-Stores GmbH. Auf GartenXXL werden Geräte bekannter Firmen und wissenswerte Informationen zur Gartenpflege angeboten (Quelle: www.gartenxxl.de).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Netto eStores registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Netto eStores in deinem plentymarkets System einrichtest, musst du dich zunächst bei Netto eStores registrieren. Ansprechpartner für die Registrierung:<br>
<a href="mailto:Katrin.Beer@netto-online.de">Katrin.Beer@netto-online.de</a><br>
<a href="mailto:Christian.Mertens@netto-online.de">Christian.Mertens@netto-online.de</a></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Artikelexport mit Produkt-XML 4.0</div>
<div class="paragraph">
<p>plentymarkets überträgt Artikeldaten mit der Produkt-XML 4.0 zu den Marktplätzen der Netto eStores GmbH. Informiere Netto eStores bei deiner Registrierung darüber, da ansonsten Artikel nicht exportiert werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Netto eStores in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Artikel auf Netto Marken-Discount, GartenXXL.de und GartenXXL.at verkaufen zu können, musst du die Marktplätze zunächst in plentymarkets einrichten. Gehe dazu wie im Folgenden beschrieben vor:</p>
</div>
<div class="paragraph instruction">
<p>Netto Marken-Discount/GartenXXL.de/GartenXXL.at in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Netto eStores</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-netto">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-netto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für die Marktplätze Netto Marken-Discount, GartenXXL.de und GartenXXL.at</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatischen Datenaustausch aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> wählen, um den automatischen Datenaustausch zu aktivieren oder <strong>Nein</strong>, um den Datenaustausch zu deaktivieren.<br>
Wenn du <strong>Ja</strong> wählst, werden der Bestandsabgleich, der Artikelexport und der Auftragsimport aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelexport aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> wählen, um den automatischen Artikelexport zu aktivieren oder <strong>Nein</strong>, um den automatischen Artikelexport zu deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsabgleich aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> wählen, um den automatischen Bestandsabgleich zu aktivieren oder <strong>Nein</strong>, um den automatischen Bestandsabgleich zu deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Vertriebspartner-Information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferantennummer eingeben, wie von Netto eStores erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Artikeleinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnamen wählen, der an Netto eStores übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennamen wählen, der an Netto eStores übertragen wird.<br>
<strong>Variantenname</strong> = Der Variantenname wird übertragen.<br>
<strong>Attributswerte der Variante anhängen</strong> = Die Attributswerte werden durch Leerzeichen getrennt an den Variantennamen angehängt (Beispiel: "T-Shirt rot XL").</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelkurzbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelkurzbeschreibung wählen, die an Netto eStores übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbeschreibung wählen, die an Netto eStores übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition für das Energieetikett</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ziffer der Bildposition des Artikelbildes eingeben, wenn das Energieetikett nicht als Merkmal, sondern als Artikelbild erstellt wurde. Weitere Informationen zum Energieetikett findest du im Kapitel <a href="#900">Energieeffizienz-Merkmale erstellen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge für Artikel ohne Bestandsbindung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Artikeln mit der Einstellung <strong>keine Beschränkung</strong> wird der Maximalwert aus realem Bestand und der hier definierten Menge übermittelt.<br>
<em>Beispiel:</em> Einstellung 0, Nettowarenbestand 8. plentymarkets übermittelt 8.<br>
Artikel mit der Einstellung <strong>Beschränkung auf Nettowarenbestand</strong> werden hier nicht berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge für Artikel ohne Bestandsbeschränkung, falls der Bestand 0 ist</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl eingeben, die als Bestand für Artikel ohne Bestandsbeschränkung, bei denen der Bestand 0 ist, übertragen werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardlieferzeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittliche Lieferzeit in Tagen eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-Lieferzeit 1 - 10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittliche Lieferzeiten in Tagen für die Artikelverfügbarkeiten 1 - 10 eingeben.<br>
<strong>Wichtig:</strong> Nur eindeutige Angaben sind möglich (d.h. keine Zeiträume wie 2-3).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardprovision in Prozent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provisionswert eingeben, der mit Netto eStores vereinbart wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardversandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten in Euro eingeben. Der eingegebene Wert wird als Standardversandkosten für alle Artikel übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis für EK/VK-Modell</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis für das EK/VK-Modell wählen. In der Dropdown-Liste können alle Preise gewählt werden, die für Plus freigegeben sind. Wenn der gewählte Preis an allen Varianten eines Artikels gespeichert ist, wird der Preis als Einkaufspreis für Plus übertragen. Andernfalls wird der unter <strong>Standardprovision in Prozent</strong> eingestellte Provisionssatz übertragen.<br>
<strong>Wichtig:</strong> Der hier gewählte Preis darf nicht der Verkaufspreis sein, sonst wird kein Preis für das EK/VK-Modell übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bestelleinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestbestellmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelanzahl eingeben, wenn eine Mindestbestellmenge gewünscht ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Bestellmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelanzahl eingeben, wenn eine maximale Bestellmenge gewünscht ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelnamen in Auftragspositionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Artikelname in den Auftragspositionen von Netto eStores oder aus dem Shop übernommen werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">SFTP-Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername eingeben, wie von Netto eStores erhalten.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">EK/VK nur nach Absprache mit Verkaufskanal ändern</div>
<div class="paragraph">
<p>Ändere die Einstellungen zur <strong>Standard-Provision in Prozent</strong> und zum <strong>Preis für EK/VK-Modell</strong> nur in Absprache mit dem Verkaufskanal. Netto eStores empfiehlt, als Standard ein Provisionsmodell mit dem Provisionswert einzustellen, der mit Netto eStores vereinbart wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>täglicher Artikelexport</p>
</li>
<li>
<p>täglicher Preisabgleich</p>
</li>
<li>
<p>stündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Auftragsimport</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>Voraussetzungen für Artikel bei Netto/GartenXXL.de/GartenXXL.at</p>
</div>
<div class="paragraph">
<p>Bevor du Artikel auf Netto/GartenXXL.de/GartenXXL.at einstellst, beachte die Checkliste zur Produktpflege von Netto eStores. Diese Checkliste wird von Netto eStores bereitgestellt und bezieht sich auf Produktdatenbezeichnungen von Netto.<br></p>
</div>
<div class="paragraph">
<p>Die Checkliste kannst du hier als PDF-Datei herunterladen: <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/ElasticSync_BestPractice/Checkliste_Produktpflege_Netto.pdf">Checkliste Produktpflege</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Netto Marken-Discount, GartenXXL.de und GartenXXL.at verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft aktiviert werden. Im Folgenden wird beispielhaft beschrieben, wie du die Auftragsherkunft für Netto aktivierst. Aktiviere die Auftragsherkünfte für GartenXXL.de und GartenXXL.at auf die gleiche Weise.<br></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Auftragsherkunft plus.de zusätzlich aktivieren</div>
<div class="paragraph">
<p>Um eine korrekte Funktionsweise zu gewährleisten, wird die Auftragsherkunft <strong>plus.de</strong> zurzeit noch benötigt. Aktiviere deshalb in jedem Fall zusätzlich die Auftragsherkunft <strong>plus.de</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Netto aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Netto</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf den Marktplätzen Netto Marken-Discount, GartenXXL.de und GartenXXL.at verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden. Stelle die Artikelverfügbarkeiten für die Marktplätze Netto Marken-Discount, GartenXXL.de und GartenXXL.at einzeln ein, je nachdem, auf welchen Marktplätzen du deine Artikel verkaufen willst.<br></p>
</div>
<div class="paragraph">
<p>Im Folgenden wird beispielhaft beschrieben, wie du die Artikelverfügbarkeit für Netto einstellst. Nimm die Einstellungen für die weiteren Marktplätze auf die gleiche Weise vor.<br></p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Netto einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Netto</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf Netto verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.<br></p>
</div>
</div>
</div><div class="sect1">
<h2 id="330">5. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, marktplatzspezifische SKUs hinzu.<br></p>
</div>
<div class="paragraph">
<p>Wenn du SKUs hinzufügst, gilt die Herkunft <strong>Plus.de</strong> für die Marktplätze Netto Marken-Discount, GartenXXL.de und GartenXXL.at.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Plus.de</strong>.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkünfte Netto, GartenXXL.de und GartenXXL.at einen Verkaufspreis festzulegen. Die Auftragsherkunft <strong>Plus.de</strong> muss am Verkaufspreis aktiviert sein, damit der Preis beim Artikelexport berücksichtigt wird.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mehrere Auftragsherkünfte aktivieren</div>
<div class="paragraph">
<p>Wir empfehlen, für die Marktplätze Netto, GartenXXL.de und GartenXXL.at einen Verkaufspreis festzulegen, an dem die Auftragsherkünfte <strong>Plus.de</strong>, <strong>Netto</strong>, <strong>GartenXXL.de</strong> und <strong>GartenXXL.at</strong> aktiviert sind, damit der Preis sowohl beim Artikelexport als auch beim Auftragsimport berücksichtigt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Netto Marken-Discount/GartenXXL.de/GartenXXL.at festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei den Herkünften <strong>Plus.de</strong>, <strong>Netto</strong>, <strong>GartenXXL.de</strong> und <strong>GartenXXL.at</strong>.<br></p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="365">7. Grundpreisanzeige einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für Artikel, die du auf den Marktplätzen Netto und GartenXXL verkaufst, muss verpflichtend angegeben werden, ob der Artikel einen Grundpreis hat. Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong> gibst du mit der Option <strong>Grundpreisanzeige</strong> an, ob ein Artikel einen Grundpreis benötigt.</p>
</div>
<div class="paragraph">
<p>Grundpreisanzeige aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze im Bereich <strong>Maße</strong> ein Häkchen bei der Option <strong>Grundpreisanzeige</strong><br>
→ Beim Export wird in der XML-Datei das Filterattribut <strong>Grundpreispflicht</strong> auf <strong>ja</strong> gesetzt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du die Option <strong>Grundpreisanzeige</strong> nicht aktivierst, wird <strong>nein</strong> übertragen und der Artikel wird als nicht grundpreispflichtig gekennzeichnet.</p>
</div>
<div class="paragraph">
<p><span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Als Alternative kannst du ein Merkmal für die Grundpreispflicht anlegen. Dieses Merkmal überschreibt die Einstellung für die Option <strong>Grundpreisanzeige</strong>. Weitere Informationen dazu findest du im Kapitel <a href="#950">Merkmal für Grundpreispflicht erstellen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">8. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Netto</strong> wie im Folgenden beschrieben. Nimm anschließend die Einstellungen für die Zahlungsarten <strong>GartenXXL.de</strong> und <strong>GartenXXL.at</strong> auf die gleiche Weise vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart Netto aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive anzeigen</strong>.</p>
</li>
<li>
<p>Klicke auf den Ordner <strong>DE &gt; Netto</strong>.<br>
→ Die Einstellungen für die Netto-Zahlungsart werden angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart-netto">Tabelle 2</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart-netto" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer*innen im Webshop die Sprache wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig:</strong> Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">9. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit deine Artikel auf den Marktplätzen Netto Marken-Discount, GartenXXL.de und GartenXXL.at zum Verkauf angezeigt werden, musst du Kategorieverknüpfungen erstellen. Die dafür erforderlichen Kategorie-IDs für Netto Marken-Discount, GartenXXL.de und GartenXXL.at erhältst du von Netto eStores. Erstelle wie im Folgenden beschrieben Verknüpfungen, damit deine Artikel in den <a href="/artikel/kategorien-verwalten">Kategorien</a> auf den Marktplätzen angezeigt werden.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Netto eStores</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Kategorien aktivieren</strong>.</p>
</li>
<li>
<p>Gib in den Spalten <strong>Netto-Kategorienverknüpfung</strong>/<strong>GartenXXL.de-Kategorienverknüpfung</strong>/<strong>GartenXXL.at-Kategorienverknüpfung</strong> die IDs der Kategorien ein, die am besten zu deinen Webshop-Kategorien passen.<br>
→ Die Kategorie-IDs der Marktplätze entnimmst du den Kategoriedateien, die du von Netto eStores erhalten hast.</p>
</li>
<li>
<p>Aktiviere die Kategorien.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Merkmale erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit <a href="/artikel/artikel-verwalten#480">Merkmalen</a> verknüpfst du bestimmte Eigenschaften, die du für die Einrichtung der Marktplätze Netto Marken-Discount, GartenXXL.de und GartenXXL.at benötigst, mit deinen Artikeln. Du trägst bei Bedarf von den Standardeinstellungen abweichende Provisionen und Kategorieverknüpfungen auf Artikelebene ein. Über Merkmalfilter übermittelst du außerdem Artikelinformationen und legst Filter für die Artikelsuche auf den Marktplätzen fest.</p>
</div>
<div class="paragraph">
<p>Wie im Kapitel <a href="#500">Kategorien verknüpfen</a> beschrieben, gibst du im Menü <strong>Einrichtung » Märkte » Netto eStores</strong> im  Tab <strong>Kategorien aktivieren</strong> die Standardkategorieverknüpfungen ein. Um bestimmten Artikeln bei Bedarf eine andere Kategorie zuzuweisen, verwende die <a href="/artikel/artikel-verwalten#480">Merkmale</a> <strong>Artikel-Kategorieverknüpfung für Netto</strong>, <strong>Artikel-Kategorieverknüpfung für GartenXXL.de</strong> oder <strong>Artikel-Kategorieverknüpfung für GartenXXL.at</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib einen Namen unter <strong>Name (intern)</strong> ein.</p>
</li>
<li>
<p>Wähle den Merkmaltyp <strong>Text</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Netto eStores-Merkmal</strong> das Merkmal <strong>Artikel-Kategorieverknüpfung für Netto</strong> / <strong>Artikel-Kategorieverknüpfung für GartenXXL.de</strong> / <strong>Artikel-Kategorieverknüpfung für GartenXXL.at</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="800">10.1. Provisionssätze auf Artikelebene einstellen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Netto eStores</strong> gibst du für die Marktplätze einen Standardprovisionssatz ein. Da für bestimmte Netto eStores-Warengruppen jedoch andere Provisionen gelten können, hast du die Möglichkeit, auf Artikelebene einen abweichenden Provisionssatz einzugeben. Einen abweichenden Provisionssatz gibst du mit dem <a href="/artikel/artikel-verwalten#480">Merkmal</a> <strong>Provision in Prozent</strong> an. Diese Einstellung hat Priorität gegenüber der eingegebenen Standardprovision. Beachte, dass du diesen Prozentsatz im Vorfeld mit Netto eStores abstimmen musst.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib einen Namen unter <strong>Name (intern)</strong> ein.</p>
</li>
<li>
<p>Wähle den Merkmaltyp <strong>Text</strong>.</p>
</li>
<li>
<p>Wähle das Netto eStores-Merkmal <strong>Provision in Prozent</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Merkmale: Filter</div>
<div class="paragraph">
<p>Filter haben bei Netto eStores zwei Funktionen: Du übermittelst damit Artikelinformationen an Netto eStores und kannst den Artikel bei Netto eStores über diesen Filter finden. Nach Auswahl eines Filters wird eine weitere Dropdown-Liste angezeigt. Wähle hier das Filtermerkmal, das einem Artikel zugeordnet werden soll.<br>
<strong>Hinweis:</strong> Das Merkmal <strong>Energieeffizienz</strong> ist nur für den Marktplatz Netto eStores verfügbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="900">10.2. Energieeffizienz-Merkmale erstellen</h3>
<div class="paragraph">
<p>Für die Auszeichnung deiner Artikel für die Marktplätze der Netto eStores GmbH gemäß der neuen Verordnung der EU zur Energieeffizienzrichtlinie sind ab 1.1.2015 Angaben zur Energieeffizienz sowie die Bereitstellung von Produktdatenblättern vorgeschrieben. Erstelle dazu die folgenden drei <a href="/artikel/artikel-verwalten#500">Merkmale</a>: <strong>Energieeffizienzklasse</strong>, <strong>Energieetikett</strong> und <strong>Produktdatenblatt</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal Energieeffizienzklasse erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib einen Namen unter <strong>Name (intern)</strong> ein.</p>
</li>
<li>
<p>Wähle den Merkmaltyp <strong>Kein</strong>.</p>
</li>
<li>
<p>Wähle die Option <strong>Energieeffizienz</strong> aus der Dropdown-Liste <strong>Netto eStores-Merkmal</strong>.<br>
→ Eine weitere Dropdown-Liste wird geöffnet.</p>
</li>
<li>
<p>Wähle die Energieeffizienzklasse.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für die Merkmale Energieetikett und Produktdatenblatt wählst du den Merkmaltyp <strong>Datei</strong>. In der Dropdown-Liste <strong>Netto eStores-Merkmal</strong> wählst du dann die Option <strong>Energieetikett</strong> bzw. <strong>Produktdatenblatt</strong>. Im Folgenden wird beispielhaft beschrieben, wie du das Merkmal Energieetikett erstellst. Erstelle anschließend das Merkmal Produktdatenblatt auf die gleiche Weise.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal Energieetikett erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib einen Namen unter <strong>Name (intern)</strong> ein.</p>
</li>
<li>
<p>Wähle den Merkmaltyp <strong>Datei</strong>.</p>
</li>
<li>
<p>Wähle die Option <strong>Energieetikett</strong> aus der Dropdown-Liste <strong>Netto eStores-Merkmal</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Merkmale verknüpfst du dann wie im Folgenden beschrieben im Tab <a href="/artikel/artikel-verwalten#80">Merkmale</a> eines Netto eStores-Artikels.</p>
</div>
<div class="paragraph instruction">
<p>Energieeffizienz-Merkmale mit Netto eStores-Artikel verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Aktiviere die soeben erstellten Merkmale <strong>Energieeffizienzklasse</strong>, <strong>Energieetikett</strong> und <strong>Produktdatenblatt</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Merkmale werden mit dem Artikel verknüpft und sind im Bereich <strong>Merkmale</strong> sichtbar.</p>
</li>
<li>
<p>Lade beim Merkmal <strong>Energieetikett</strong> die Bilddatei des Energieetiketts hoch.</p>
</li>
<li>
<p>Lade beim Merkmal <strong>Produktdatenblatt</strong> die PDF-Datei des Produktdatenblatts hoch.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Speichere das Energieetikett im Tab <a href="/artikel/artikel-verwalten#90">Bilder</a> des Artikels. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Energieetikett im Tab Bilder speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Füge die Bilddatei des Energieetiketts entweder über <strong>Dateien auswählen</strong> oder per Drag &amp; Drop-Funktion hinzu.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Netto eStores</strong>.</p>
</li>
<li>
<p>Gib die Positionsnummer des Bildes im Tab <strong>Einstellungen</strong> bei der Option <strong>Bildposition für das Energieetikett</strong> ein (Tabelle 1).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="950">10.3. Merkmal für Grundpreispflicht erstellen</h3>
<div class="paragraph">
<p>Wenn du grundpreispflichtige Artikel nicht über die Option <strong>Grundpreisanzeige</strong> kennzeichnest (siehe Kapitel <a href="#365">Grundpreisanzeige einstellen</a>), kannst du als Alternative die Grundpreispflicht mit einem Merkmal angeben. Das Merkmal überschreibt die Einstellung für die Option <strong>Grundpreisanzeige</strong>.<br></p>
</div>
<div class="paragraph">
<p>Ein Merkmal für die Grundpreisflicht erstellst du im Menü <strong>Einrichtung » Artikel »&nbsp;Merkmale</strong>.</p>
</div>
<div class="paragraph">
<p>Merkmal für Grundpreispflicht erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib einen Namen unter <strong>Name (intern)</strong> ein.</p>
</li>
<li>
<p>Wähle den Merkmaltyp <strong>Auswahl</strong>.</p>
</li>
<li>
<p>Wähle <strong>Freitext</strong> aus der Dropdown-Liste <strong>Netto eStores-Merkmal</strong>.<br>
→ Ein Eingabefeld erscheint.</p>
</li>
<li>
<p>Gib <strong>Grundpreispflicht</strong> im Eingabefeld ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Füge im Bereich Auswahl nacheinander die Auswahlwerte <strong>ja</strong> und <strong>nein</strong> hinzu und <strong>speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das Merkmal <strong>Grundpreispflicht</strong> verknüpfst du dann wie im Folgenden beschrieben im <strong>Tab: Merkmale</strong> eines Netto eStores-Artikels.</p>
</div>
<div class="paragraph">
<p>Grundpreispflicht-Merkmal mit Netto eStores-Artikel verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Aktiviere das eben erstellte Merkmal <strong>Grundpreispflicht</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Merkmal wird mit dem Artikel verknüpft und ist im Bereich <strong>Merkmale</strong> sichtbar.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Auswahl</strong> <strong>Ja</strong> oder <strong>Nein</strong>, je nachdem, ob der Artikel grundpreispflichtig ist.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch an Netto eStores zu senden, nachdem ein Warenausgang gebucht wurde. Die Versandbestätigung wird automatisch an Netto eStores gesendet, wenn der Auftrag in Status <strong>[7] Warenausgang gebucht</strong> wechselt. Käufer*innen werden durch Netto eStores über den Versand benachrichtigt.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-versandbestaetigung">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-versandbestaetigung">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-versandbestaetigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Versandbestätigungen an Netto eStores</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto</strong>, <strong>GartenXXL.de</strong> und <strong>GartenXXL.at</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an Netto eStores senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">12. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Stornierungen automatisch an Netto eStores zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierung">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-stornierung">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Netto eStores</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel &gt; [8] Storniert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto</strong>, <strong>GartenXXL.de</strong> und <strong>GartenXXL.at</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an Netto eStores senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">13. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an Netto eStores zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retouren">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-retouren">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retouren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Retouren an Netto eStores</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto</strong>, <strong>GartenXXL.de</strong> und <strong>GartenXXL.at</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Netto eStores senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1250">14. Unbezahlte Aufträge nach 30 Tagen automatisch stornieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aufträge, die vom Kunden nicht bezahlt wurden, werden bei Netto Marken-Discount/Garten XXL.de/GartenXXL.at automatisch nach 30 Tagen storniert. Richte eine Aktion im <a href="/automatisierung/aktionsmanager">Aktionsmanager</a> ein, um unbezahlte Aufträge von Netto Marken-Discount/GartenXXL.de/GartenXXL.at in deinem plentymarkets System nach 30 Tagen automatisch zu stonieren, damit die reservierten Bestände wieder freigegeben werden.</p>
</div>
<div class="paragraph instruction">
<p>Aktion einrichten</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Aktionen » Tab: Neue Aktion</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Täglich ausführen um</strong> eine Uhrzeit, zu der die Aktion ausgeführt werden soll. Wir empfehlen, für diese Aktion die Uhrzeit <strong>24:00 Uhr</strong> zu wählen.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Wähle die Filter gemäß <a href="#unbezahlte-aufträge">Tabelle 6</a>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Aktion</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Ändere Auftragsstatus</strong> einen Status, z.B. <strong>[8.1] Storniert durch Kunden</strong>. Weitere Informationen zur Statuswahl findest du in der Infobox.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.
→ Die Aktion wird erstellt und im Tab <strong>Aktionen</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Status wählen</div>
<div class="paragraph">
<p>Wähle für die Aktion <strong>Ändere Auftragsstatus</strong> einen Status, den du unter <strong>Einrichtung » Aufträge » Einstellungen</strong> für die Option <strong>Status stornierter Aufträge (Keine Reservierung von Beständen)</strong> gespeichert hast, um Reservierungen aufzuheben. Wähle hier außerdem keinen Status, der eine Ereignisaktion auslöst, die eine Stornierung an Netto eStores meldet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="unbezahlte-aufträge" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Filter für die Aktion zum automatischen Stornieren von unbezahlten Aufträgen nach 30 Tagen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>[3] Warten auf Zahlung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>vor 30 Tagen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto</strong>, <strong>GartenXXL.de</strong> und <strong>GartenXXL.at</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1350">15. Lieferscheine und Rücksendescheine erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Informationen gelten nur für Lieferscheine und Rücksendescheine bei Netto Marken-Discount, GartenXXL.de und GartenXXL.at. Sie sind für andere Marktplätze nicht gültig.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Rechnungen werden von den Marktplätzen versendet</div>
<div class="paragraph">
<p>Netto Marken-Discount/GartenXXL.de/GartenXXL.at versenden die Rechnung an den Kunden. Deshalb erhältst du von diesen Marktplätzen die Lieferadresse, aber nicht die Rechnungsadresse des Kunden. Die von Netto Marken-Discount/GartenXXL.de/GartenXXL.at übertragene Lieferadresse wird in plentymarkets als Liefer- und Rechnungsadresse hinterlegt. Du schickst die Ware an diese Adresse.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um <a href="/auftraege/auftragsdokumente#170">PDF-Vorlagen</a> für Lieferscheine und Rücksendescheine für Netto Marken-Discount, GartenXXL.de und GartenXXL.at zu erstellen. Im Folgenden wird das Anlegen eines Lieferscheins für Netto eStores beispielhaft beschrieben. Gehe anschließend auf die gleiche Weise vor, um einen Rücksendeschein für Netto eStores anzulegen. Alle PDF-Vorlagen, die du erstellst, müssen das Logo von Netto Marken-Discount oder GartenXXL.de bzw. GartenXXL.at enthalten. Fordere die Logos direkt bei Netto eStores an.<br></p>
</div>
<div class="paragraph">
<p>Hier lädst du Vorlagendateien für <a href="http://www.plentymarkets.eu/documents/category/3507/pdf-template-netto.pdf" target="_blank" rel="noopener">Netto Marken-Discount</a>, <a href="http://www.plentymarkets.eu/documents/category/3507/pdf-template-gartenXXL-de.pdf" target="_blank" rel="noopener">GartenXXL.de</a> und <a href="http://www.plentymarkets.eu/documents/category/3507/pdf-template-gartenXXL-at.pdf" target="_blank" rel="noopener">GartenXXL.at</a> als PDF-Datei herunter.</p>
</div>
<div class="paragraph instruction">
<p>Lieferschein für Netto eStores erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Deutschland (Standard) » Dokumente » Lieferschein</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue PDF-Vorlage hochladen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Zahlungsart</strong> die Option <strong>Netto</strong>/<strong>GartenXXL.de</strong>/<strong>GartenXXL.at</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Sprache</strong> eine Sprache aus.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Vorlage</strong> auf <strong>Vorlage auswählen</strong>. <br>
→ Lade die PDF-Vorlage hoch.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Pflichtangabe auf Dokumenten</div>
<div class="paragraph">
<p>Die externe Auftragsnummer und die externe Kundennummer sind Pflichtangaben auf Dokumenten, die zu einem Auftrag der Herkunft Netto, GartenXXL.de oder GartenXXL.at gehören. Normalerweise kannst du diese Angaben im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Germany (Standard) » Dokumente » Lieferschein</strong> bzw.<strong>Rücksendeschein</strong> im Tab <strong>Vorlage</strong> im Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong> ausblenden, indem du die Option <strong>NEIN</strong> wählst.<br>
Bei Netto Marken-Discount, GartenXXL.de und GartenXXL.at werden die externe Auftragsnummer und die externe Kundennummer jedoch auch eingeblendet, wenn hier die Option <strong>NEIN</strong> gewählt wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweistext wird ausgeblendet</div>
<div class="paragraph">
<p>Den Hinweistext, den du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Germany (Standard) » Dokumente » Lieferschein</strong> bzw. <strong>Rücksendeschein</strong> im Tab <strong>Vorlage</strong> im Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong> im Feld <strong>Hinweis</strong> eingeben kannst, wird auf Dokumenten mit der Auftragsherkunft Netto Marken-Discount, GartenXXL.de und GartenXXL.at ausgeblendet. Das Ausblenden des Hinweistextes ist von Netto eStores so gewünscht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>