<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Rakuten</h1><p>Willkommen im Themenbereich Rakuten. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/maerkte/rakuten/rakuten-einrichten">Rakuten einrichten</a></li><li><a href="/maerkte/rakuten/best-practices-rakuten-artikelexport">Best Practice: Rakuten</a></li></ul>
</main>