<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>real.de</h1><p>Willkommen im Themenbereich real.de. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/maerkte/real-de/real-de-einrichten">real.de einrichten</a></li><li><a href="/maerkte/real-de/best-practices-real-integration-versandgruppen">Best Practice: Integration der Versandgruppen</a></li><li><a href="/maerkte/real-de/best-practices-real-merkmalverknuepfung">Best Practice: Merkmale mit Attributen verknüpfen</a></li></ul>
</main>