<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei REWE registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> REWE in plentymarkets installieren</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Authentifizierung durchführen</span></a></li>
</ul>
</li>
<li><a href="#400"><span>3.</span><span> Automatischen Datenaustausch aktivieren</span></a></li>
<li><a href="#450"><span>4.</span><span> Bestandsübermittlung festlegen</span></a></li>
<li><a href="#500"><span>5.</span><span> Provision einstellen</span></a></li>
<li><a href="#600"><span>6.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#700"><span>7.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#800"><span>8.</span><span> Eigenschaft REWE-Produkttyp verknüpfen</span></a></li>
<li><a href="#900"><span>9.</span><span> Artikelexport einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_katalog_mit_dem_assistenten_erstellen"><span>9.1.</span><span> Katalog mit dem Assistenten erstellen</span></a></li>
<li><a href="#600"><span>9.2.</span><span> Weitere Datenfelder im Katalog zuordnen (nicht im Assistenten)</span></a></li>
<li><a href="#602"><span>9.3.</span><span> Beispiel: Datenfeld "Produktbeschreibung" zuordnen</span></a></li>
</ul>
</li>
<li><a href="#701"><span>10.</span><span> Im Assistenten erstellte Datenfelder mit Varianten verknüpfen</span></a></li>
<li><a href="#2000"><span>11.</span><span> Katalogexport zu REWE aktivieren</span></a></li>
<li><a href="#1000"><span>12.</span><span> Produktgruppen und Varianten bei REWE</span></a></li>
<li><a href="#1100"><span>13.</span><span> Versanddienstleister verknüpfen</span></a></li>
<li><a href="#1200"><span>14.</span><span> Retourengründe verknüpfen</span></a></li>
<li><a href="#1300"><span>15.</span><span> Steuerklassen synchronisieren</span></a></li>
<li><a href="#1400"><span>16.</span><span> Marken synchronisieren</span></a></li>
<li><a href="#1700"><span>17.</span><span> Kontakterstellung deaktivieren (ab Plugin-Version 1.24.0)</span></a></li>
<li><a href="#1500"><span>18.</span><span> Auftragsstatus bei REWE automatisch aktualisieren</span></a></li>
<li><a href="#1600"><span>19.</span><span> REWE-Lieferzeiten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>REWE</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Rewe-Plugin herunterladen</div>
<div class="paragraph">
<p>Die Schnittstelle zu Rewe wird über ein Plugin integriert. Um das REWE-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/rewe_5901" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei REWE registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der REWE-Marktplatz ist ein geschlossener Marktplatz. Damit du dich als Händler:in bei REWE registrieren kannst, ist eine Prüfung durch REWE erforderlich. Sende dazu eine E-Mail an <a href="mailto:partnersupport@rewe.de">partnersupport@rewe.de</a> und gib folgende Informationen an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name deines Unternehmens</p>
</li>
<li>
<p>Website deines Unternehmens bzw. Onlineshop</p>
</li>
<li>
<p>Auflistung deines Sortiments (Anzahl SKUs, Kategorien, verpflichtende Kennzeichnung)</p>
</li>
<li>
<p>Kontaktinformationen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Für weitere Informationen zur Prüfung und Registrierung kontaktiere REWE unter <a href="mailto:partnersupport@rewe.de">partnersupport@rewe.de</a>.</p>
</div>
<div class="paragraph">
<p>Nachdem du dich als Händler:in registriert hast, erhältst du Zugangsdaten von REWE.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Rechte vergeben</div>
<div class="paragraph">
<p>Achte bei der Erstellung deiner API-Client-Zugangsdaten bei REWE darauf, dass du genügend Rechte vergibst. Wähle die Vorlage <strong>Admin-Client</strong> oder erstelle einen neuen Client und vergib alle verfügbaren Rechte.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nach dem Installieren des REWE-Plugins stehen folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>täglicher Artikelexport</p>
</li>
<li>
<p>viertelstündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Preisabgleich</p>
</li>
<li>
<p>viertelstündlicher Auftragsimport</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. REWE in plentymarkets installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das REWE-Plugin im plentyMarketplace gekauft hast, installiere den Marktplatz im Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Authentifizierung durchführen</h3>
<div class="paragraph">
<p>Nachdem du das REWE-Plugin installiert hast, musst du zunächst eine Authentifizierung durchführen, um den Zugang zur Schnittstelle zu ermöglichen.</p>
</div>
<div class="paragraph instruction">
<p>Zugang zur Schnittstelle aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Konto-Einstellungen</strong>.</p>
</li>
<li>
<p>Gib in die Felder <strong>Benutzername</strong>, <strong>Passwort</strong> und <strong>Produktschlüssel</strong> die Zugangsdaten ein, die du von REWE erhalten hast.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Automatischen Datenaustausch aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte den Marktplatz REWE im Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong> ein. Aktiviere zunächst den Artikelexport, den Bestands- und Preisabgleich und den Auftragsimport in diesem Menü, damit die Daten automatisch mit REWE ausgetauscht werden.</p>
</div>
<div class="paragraph instruction">
<p>Automatischen Datenaustausch aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellungen <strong>Artikelexport</strong>, <strong>Bestands- und Preisabgleich</strong> und <strong>Auftragsimport</strong>, um den automatischen Datenaustausch mit REWE zu aktivieren.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">4. Bestandsübermittlung festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig werden für jede Variante die Bestandsinformationen übermittelt, die du über die Einstellung <strong>Beschränkung</strong> an der Variante festlegst. Ab Plugin-Version 1.18.0 kannst du diese Einstellung aber ignorieren und für alle Varianten den tatsächlichen Netto-Warenbestand an REWE übermitteln.</p>
</div>
<div class="paragraph instruction">
<p>Bestandsübermittlung festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wähle eine Option für <strong>Bestand übertragen</strong>. Beachte <a href="#rewe-bestand">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="rewe-bestand" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Bestandsübermittlung festlegen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand übertragen</strong><br>
(ab Plugin-Version 1.18.0)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Varianteneinstellung 'Beschränkung' berücksichtigen</strong> (Standardeinstellung) = Der Bestand wird für jede Variante so übermittelt, wie an der Variante eingestellt. Die Beschränkung des Bestands wird im Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID » Tab: Einstellungen » Bereich: Verfügbarkeit</strong> über die Einstellung <strong>Beschränkung</strong> gesteuert.<br>
<strong><em>Hinweis:</em></strong> Für Varianten, bei denen die Einstellung <strong>Beschränkung</strong> auf <strong>Keinen WB für diese Variante führen</strong> gestellt sind, wird ein Bestand von 1000 an REWE übertragen.<br></p>
</li>
<li>
<p><strong>Tatsächlichen Netto-Warenbestand übertragen</strong> = Die an der Variante eingestellte <strong>Beschränkung</strong> des Bestands wird für alle Varianten, die an REWE übertragenen werden, ignoriert. Stattdessen wird für jede Variante der tatsächliche Netto-Warenbestand an REWE übermittelt. Den tatsächlichen Netto-Warenbestand findest du im Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID » Tab: Bestand » Tab: Warenbestand</strong> in der Spalte <strong>Netto</strong>.<br>
<strong><em>Hinweis:</em></strong> Für Varianten, bei denen die Einstellung <strong>Beschränkung</strong> auf <strong>Keinen WB für diese Variante führen</strong> gestellt sind, wird ein Bestand von 0 an REWE übertragen. Die Variante ist also auf REWE nicht kaufbar.<br>
<strong><em>Tipp:</em></strong> Der Netto-Warenbestand ist die Menge der Varianten, die zum Verkauf zur Verfügung steht. Der Netto-Warenbestand ist eine Teilmenge des physischen Bestands. Wenn vom physischen Warenbestand alle Reservierungen abgezogen werden, ergibt sich der Netto-Bestand.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Provision einstellen</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Provisionseinstellungen sind optional</div>
<div class="paragraph">
<p>Die Einstellungen zur Provision bei REWE sind optional. Wenn du keine Provision einstellst, werden Aufträge mit den Verkaufspreisen, die auf REWE angezeigt werden, in dein plentymarkets System importiert.<br>
Wenn keine Provision eingestellt wird, werden die Preise auch auf dem Lieferschein ohne Provision angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong> legst du die Standardprovision fest. Mit der Provision werden provisionsfreie Aufträgsbeträge berechnet.</p>
</div>
<div class="paragraph">
<p>Provisionsfreie Auftragsbeträge werden folgendermaßen berechnet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verkaufspreis REWE = Verkaufspreis Endkund:in * (1 - Umrechnungsfaktor)</p>
</li>
<li>
<p>Umrechnungsfaktor = Provision * (1 + Mehrwertsteuersatz)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Für die Berechnung werden die Prozentsätze für Provision und Mehrwertsteuersatz in den entsprechenden Faktor umgerechnet, also durch 100 geteilt. Der Umrechnungsfaktor wird auf die 3. Nachkommastelle gerundet, wie auch bei REWE.</p>
</div>
<div class="paragraph instruction">
<p>Provision einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte »&nbsp;REWE » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Provision</strong> eine Zahl für die Provision in Prozent ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die eingestellte Provision ist die Standardprovision für alle Artikel, außer Varianten, für die eine separate Provision eingestellt wurde.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für Varianten kann mit der Eigenschaft <strong>REWE Provision</strong> eine separate Provision eingestellt werden. Die Eigenschaft <strong>REWE Provision</strong> wird beim Installieren des REWE-Plugins automatisch erstellt. Um eine separate Provision für eine Variante festzulegen, verknüpfe die Variante mit der Eigenschaft <strong>REWE Provision</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Separate Provision für Varianten einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Öffne die Variante, für die du eine separate Provision einstellen möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Eigenschaften</strong> der Variante.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Eigenschaften</strong> die Eigenschaft <strong>REWE Provision</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Eigenschaft wird mit der Variante verknüpft.</p>
</li>
<li>
<p>Gib in das Eingabefeld <strong>Wert</strong> eine Zahl oder Kommazahl für die Provision in Prozent ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit REWE verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für REWE aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Rewe</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf REWE verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Gruppenfunktion oder Stapelverarbeitung nutzen</div>
<div class="paragraph">
<p>Die Verfügbarkeit für mehrere Varianten bearbeitest du entweder über die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> oder die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Variantenverfügbarkeit für REWE einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf REWE verkaufen möchtest.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf REWE zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>REWE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Variante ist für REWE verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Eigenschaft REWE-Produkttyp verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf REWE verkaufen möchtest, müssen mit der Eigenschaft <strong>REWE-Produkttyp</strong> verknüpft werden. Diese Eigenschaft wird in deinem plentymarkets System erstellt, sobald du das REWE-Plugin installiert hast.</p>
</div>
<div class="paragraph instruction">
<p>Artikel mit Eigenschaft REWE-Produkttyp verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID » Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Varianteneigenschaften</strong> auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Wähle die Eigenschaft <strong>REWE-Produkttyp</strong>.</p>
</li>
<li>
<p>Wähle einen geeigneten <strong>Wert</strong> aus der Dropdown-Liste.<br>
→ Als Werte stehen die REWE-Produkttypen zur Auswahl.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden über Kataloge zu REWE übertragen. Mit dem Assistenten <strong>REWE-Katalog erstellen</strong> erstellst du einen Katalog pro Produktkategorie. Du arbeitest zum ersten Mal mit den Katalogen? Dann solltest du dich zuerst mit dem grundlegenden Prinzip der <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge vertraut machen</a>. Dort findest du auch weitere Informationen zu den plentymarkets <a href="/daten/daten-exportieren/kataloge-verwalten#_datenquellen_zuordnen">Datenfeldern</a>, die du zuordnen kannst.</p>
</div>
<div class="paragraph">
<p>Zurzeit kannst du mit dem REWE-Plugin Kataloge für die folgenden REWE-Produktkategorien erstellen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Haushalt</strong></p>
</li>
<li>
<p><strong>Multimedia</strong></p>
</li>
<li>
<p><strong>Drogerie</strong></p>
</li>
<li>
<p><strong>Fashion</strong></p>
</li>
<li>
<p><strong>Freizeit/Sport</strong></p>
</li>
<li>
<p><strong>Schreibwaren</strong></p>
</li>
<li>
<p><strong>Spielwaren</strong></p>
</li>
<li>
<p><strong>Garten</strong></p>
</li>
<li>
<p><strong>Lebensmittel</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweise zur Produktkategorie Lebensmittel:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Alle Lebensmittelangaben müssen pro 100g angegeben werden.</p>
</li>
<li>
<p>Energieangaben müssen in kcal angegeben werden.</p>
</li>
<li>
<p>Wenn dem Feld <strong>Nährwertangaben für zubereitete oder nicht zubereitete Lebensmittel</strong> kein Wert zugeordnet wurde, wird standardmäßig der Wert <strong>unbehandelt</strong> an REWE übertragen.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_katalog_mit_dem_assistenten_erstellen">9.1. Katalog mit dem Assistenten erstellen</h3>
<div class="paragraph instruction">
<p>Katalog mit dem Assistenten erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins »</strong> <em>Mandant öffnen</em>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>REWE-Katalog erstellen</strong>.</p>
</li>
<li>
<p>Folge den Anweisungen auf dem Bildschirm. Wenn du zusätzliche Informationen zu einer der Optionen benötigst, klappe die Info-Boxen unten auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>Prüfe im Schritt <strong>Zusammenfassung</strong> deine Einstellungen noch einmal auf mögliche Fehler.<br>
<strong><em>Tipp:</em></strong> Klicke auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um die Einstellungen auszuklappen.</p>
</li>
<li>
<p>Wenn alles passt, klicke auf <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Abschließen</strong>.<br>
→ Der Katalog wird erstellt.</p>
</li>
<li>
<p>Öffne den Katalog im Menü <strong>Daten » Kataloge</strong>, um weitere Felder zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Für jede Produktkategorie benötigst du einen eigenen Katalog.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Schritt <strong>Einstellungen</strong></div>
<div class="content">
<table id="table-rewe-catalogue-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für welche REWE-Produktkategorie möchtest du diesen Katalog erstellen?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Produktkategorie aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Für jede Produktkategorie benötigst du einen eigenen Katalog.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gib einen Namen für den REWE-Katalog ein.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name für den Katalog eingeben. Der Katalog wird unter diesem Namen im Menü <strong>Daten » Kataloge</strong> angezeigt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Schritt <strong>Basisfelder verknüpfen</strong></div>
<div class="content">
<div class="paragraph">
<p>In diesem Schritt des Assistenten legst du fest, welche in plentymarkets gespeicherten Variantendaten an den Marktplatz gesendet werden sollen. Dazu ordnest du jedes angezeigte Feld des Marktplatzes dem Datenfeld in plentymarkets zu, die die Daten enthält, die du an den Marktplatz exportieren möchtest. Statt ein vorhandenes Datenfeld zuzuordnen, kannst du für bestimmte Datenfelder auch ein neues Datenfeld erstellen.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>SKU</strong> = Wähle aus der Dropdown-Liste, welches Datenfeld als SKU übertragen werden soll.<br>
<strong><em>Tipp:</em></strong> Wir empfehlen, das Datenfeld <strong>SKU</strong> mit dem plentymarkets Datenfeld <strong>Varianten-ID</strong> zuzuordnen, da die Varianten-ID der Variante eindeutig zugeordnet ist.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Datenquelle wählen</strong> = Ein bereits in plentymarkets vorhandenes Datenfeld wird an REWE exportiert. Das Datenfeld aus der Dropdown-Liste <strong>Datenquelle</strong> wählen.<br>
<strong><em>Hinweis:</em></strong> Die Zuordnungen, die du vornimmst, werden nicht auf Sinnhaftigkeit geprüft. Prüfe deshalb die Zuordnungen sorgfältig, bevor du den Export startest.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Eigenschaft anlegen</strong> = Erstellt eine <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaft</a> und ordnet diese Eigenschaft dem Datenfeld zu. Mit Eigenschaften kannst du Werte für Datenfelder zu übergeben, für die es in plentymarkets keine entsprechenden Artikeldaten gibt, zum Beispiel <strong>Durchmesser</strong>.</p>
</div>
<div class="paragraph">
<p>Die automatisch erstellte Eigenschaft wird im Menü <a href="/willkommen/allgemeine-funktionen/eigenschaften#tabelle-eigenschaft-erstellen">Einrichtung » Einstellungen » Eigenschaften » Konfiguration</a> gespeichert.</p>
</div>
<div class="paragraph">
<p>Die automatisch erstellte Eigenschaft hat die folgenden Einstellungen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Bereich = Artikel</p>
</li>
<li>
<p>Eigenschaftstyp = <em>je nach Anforderung des Marktplatzes</em></p>
</li>
<li>
<p>Sprache = Deutsch</p>
</li>
<li>
<p>Name = Name der Produktkategorie</p>
</li>
<li>
<p>Gruppe = REWE</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><strong>Verkaufspreis anlegen</strong> = Erstellt einen neuen Verkaufspreis und ordnet diesen Verkaufspreis dem Datenfeld zu. Dieser automatisch erstellte Verkaufspreis kann im Menü <a href="/artikel/einstellungen/preise#400">Einrichtung » Artikel » Verkaufspreise</a> geprüft und bearbeitet werden.</p>
</div>
<div class="paragraph">
<p>Der automatisch erstellte Verkaufspreis hat die folgenden Einstellungen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Abo-Intervall = Keins</p>
</li>
<li>
<p>Interner Name = REWE</p>
</li>
<li>
<p>Externer Name = REWE</p>
</li>
<li>
<p>Ab Menge = 1</p>
</li>
<li>
<p>Live umrechnen = Nein</p>
</li>
<li>
<p>Währung = Euro</p>
</li>
<li>
<p>Darstellung = Bei neuem Artikel immer anzeigen</p>
</li>
<li>
<p>Mandant = ALLE</p>
</li>
<li>
<p>Klasse = ALLE</p>
</li>
<li>
<p>Land = Deutschland</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><strong>Barcode anlegen</strong> = Erstellt einen Barcode <strong>REWE</strong> und ordnet diesen Barcode dem Datenfeld zu. Ist bereits ein Barcode mit dem Namen <strong>REWE</strong> im System, wird stattdessen dieser Barcode zugeordnet. Der automatisch erstellte Barcode kann im Menü <a href="/artikel/einstellungen/barcodes#100">Einrichtung » Artikel » Barcodes</a> geprüft und bearbeitet werden.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">9.2. Weitere Datenfelder im Katalog zuordnen (nicht im Assistenten)</h3>
<div class="paragraph">
<p>Mit dem Assistenten hast du bereits wichtige Pflichtfelder für die gewählte Produktkategorie zugeordnet. Nachdem du den Assistenten abgeschlossen hast, musst du aber noch weitere Datenfelder zuordnen, um noch mehr Informationen zu deinen Produkten an REWE zu übermitteln.</p>
</div>
<div class="paragraph instruction">
<p>Weitere Datenfelder im Katalog zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Das Tab <strong>Zuordnung</strong> mit den Marktplatz-Datenfeldern wird geöffnet.<br>
→ In der linken Spalte werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp:</em></strong> Pflichtfelder sind mit Sternchen (*) gekennzeichnet.</p>
</li>
<li>
<p>Klicke neben dem ersten Marktplatz-Datenfeld auf <strong>Datenfeld hinzufügen</strong>.<br>
→ Links werden die plentymarkets Datenfelder als Gruppen angezeigt.</p>
</li>
<li>
<p>Klicke auf die gewünschte Gruppe, um die Datenfelder anzuzeigen.<br>
→ Die Datenfelder werden angezeigt.</p>
</li>
<li>
<p>Klicke neben dem gewünschten Datenfeld auf das Plus.<br>
→ Das Datenfeld wird in der Ansicht hinzugefügt.<br>
<strong><em>Tipp:</em></strong> Du möchtest für ein Marktplatz-Datenfeld immer denselben festen Wert übergeben? Dann klicke neben <strong>Eigener Wert</strong> auf das Plus.<br>
→ Das Feld für den eigenen Wert wird in der Ansicht hinzugefügt.</p>
</li>
<li>
<p>Gib einen Wert in das Eingabefeld darunter ein.</p>
</li>
<li>
<p>Klicke auf das X, um den Bearbeitungsmodus zu schließen.<br>
→ Das Datenfeld wird zugeordnet.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Du möchtest für ein Marktplatz-Datenfeld zwei oder mehr plentymarkets Felder übertragen?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke rechts neben dem zugeordneten Datenfeld auf die Schaltfläche <strong>Datenfeld hinzufügen</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).</p>
</li>
<li>
<p>Ordne dem Marktplatz-Datenfeld wie oben beschrieben ein weiteres plentymarkets Datenfeld zu.</p>
</li>
<li>
<p>Klicke ganz rechts in der Zeile auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Trennzeichen</strong> ein Trennzeichen oder bestimme ein eigenes Trennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Das zusätzliche Datenfeld wird zugeordnet. Beim Export wird der Inhalt der beiden plentymarkets Datenfelder kombiniert exportiert.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Klicke auf <strong>Ausweich-Datenfeld hinzufügen</strong>, um ein Datenfeld zu wählen, das exportiert wird, falls dieses Datenfeld nicht vorhanden oder leer ist. Du kannst auch mehrere Ausweich-Datenfelder angeben.<br>
<strong><em>Hinweis:</em></strong> Auch wenn du einem Marktplatz-Datenfeld Ausweich-Datenfelder zuordnest, wird nur ein Wert übertragen. Die Felder werden in der Reihenfolge geprüft, in der sie zugeordnet werden. Wenn also das erste Datenfeld keinen Wert liefert, wird das erste Ausweich-Datenfeld übertragen usw.</p>
</li>
<li>
<p>Wiederhole die Zuordnung für alle Datenfelder des Marktplatzes, für die du Produktinformationen übertragen möchtest.<br>
<strong><em>Hinweis:</em></strong> Alle mit Sternchen (*) gekennzeichneten Felder sind Pflichtfelder und müssen einem plentymarkets Datenfeld zugeordnet werden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Zuordnungen werden gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="602">9.3. <em>Beispiel:</em> Datenfeld "Produktbeschreibung" zuordnen</h3>
<div class="paragraph">
<p>Im Folgenden wird beispielhaft beschrieben, wie du das Pflichtfeld <strong>Produktbeschreibung</strong> den Artikeldaten aus plentymarkets zuordnest.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Wähle für das REWE-Datenfeld <strong>Produktbeschreibung</strong> ein plentymarkets Datenfeld aus der Dropdown-Liste, zum Beispiel <strong>Artikeltext &gt; Name 1, Name 2, Name 3</strong>, das auf REWE als Produktbeschreibung angezeigt werden soll.</p>
</li>
<li>
<p>Nimm die weiteren Zuordnungen analog vor. Ordne mindestens alle Pflichtfelder zu.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="701">10. Im Assistenten erstellte Datenfelder mit Varianten verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du im Assistenten die Optionen <strong>Verkaufspreis anlegen</strong>, <strong>Barcode anlegen</strong> und/oder <strong>Eigenschaft anlegen</strong> gewählt hast, erstellt der Assistent diese Eigenschaften, Verkaufspreise und/oder Barcodes automatisch. Diese neu erstellten Datenfelder musst du nun noch mit den Varianten verknüpfen, die zum Marktplatz exportiert werden sollen. Wie das geht, ist im Bereich <strong>Artikel</strong> des Handbuchs beschrieben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wie du Verkaufspreise mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#240">Verkaufspreise verknüpfen</a>.</p>
</li>
<li>
<p>Wie du Barcodes mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#250">Barcodes verknüpfen</a>.</p>
</li>
<li>
<p>Wie du Eigenschaften mit Varianten verknüpfst, erfährst du im Kapitel <a href="/artikel/artikel-verwalten#4900">Eigenschaft verknüpfen und Wert speichern</a>.<br>
<strong><em>Tipp:</em></strong> Eigenschaften, die du über den Assistenten erstellst, werden automatisch im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong> zu einer Gruppe <strong>REWE</strong> hinzugefügt. Öffne diese Gruppe um zu sehen, welche neuen Eigenschaften verknüpft werden müssen.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">11. Katalogexport zu REWE aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast REWE eingerichtet und den Katalog für den Export deiner Artikeldaten erstellt? Dann starte jetzt den Export deiner Artikeldaten.</p>
</div>
<div class="paragraph instruction">
<p>Katalogexport zu REWE aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.<br>
→ Eine Liste der Kataloge wird angezeigt.</p>
</li>
<li>
<p>Scrolle zu dem REWE-Katalog.</p>
</li>
<li>
<p>Schiebe in der Spalte <strong>Aktiv/Inaktiv</strong> die Toggle-Schaltfläche nach rechts (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ Der Katalog wird aktiviert.<br>
→ Die Daten des Katalogs werden einmal täglich an REWE übertragen
, wenn im Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong> die Option <strong>Artikelexport</strong> aktiviert ist
.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">12. Produktgruppen und Varianten bei REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei REWE wird zwischen <strong>Produktgruppen</strong> und <strong>Varianten</strong> unterschieden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Produktgruppen</strong> sind in plentymarkets Artikel, deren Varianten je nach Produkttyp mindestens ein REWE-Gruppenattribut besitzen.</p>
</li>
<li>
<p><strong>Varianten</strong> sind in plentymarkets Varianten eines Artikels, die je nach Produkttyp höchstens ein REWE-Variantenattribut besitzen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei REWE-Gruppenattributen können mehrere unterschiedliche Attribute gesetzt werden, zum Beispiel Farbe und Motiv. Bei REWE-Variantenattributen kann nur ein Variantenattribut gesetzt sein, zum Beispiel nur Größe oder nur Volumen.</p>
</div>
<div class="paragraph">
<p>Welche REWE-Gruppenattribute und REWE-Variantenattribute für einen Produkttyp zur Verfügung stehen, siehst du, wenn du einen Katalog mit Template erstellt hast. Öffne dazu im Marktplatz-Format die Dropdown-Listen <strong>Attribut für Variantengruppe</strong> und <strong>Attribut für Produktgruppe</strong>.</p>
</div>
<div class="paragraph">
<p>Artikel in plentymarkets können mehrere REWE-Gruppenattribute besitzen. Bei der Übertragung zu REWE kann nur ein REWE-Gruppenattribut verwendet werden, um Produktgruppen zu bilden. Deswegen muss im Katalog die Option <strong>Attribut für Produktgruppe</strong> so verknüpft werden, dass das erste Attribut immer das Attribut ist, über das du diese Gruppe bilden möchtest. Wenn zum Beispiel ein Artikel, z.B. ein T-Shirt, sich in Farbe und Motiv unterscheidet und das Motiv das REWE-Gruppenattribut sein soll, muss das Motiv für die Option <strong>Attribut für Produktgruppe</strong> als erstes verknüpft werden und erst dann die Farbe.</p>
</div>
<div class="paragraph">
<p>Ein Artikel sollte nicht mit mehr als einem Attribut verknüpft sein, das im Katalog als REWE-Variantenattribut zugeordnet wurde.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">13. Versanddienstleister verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » REWE » Versanddienstleister-Verknüpfung</strong> verknüpfst du die in plentymarkets gespeicherten Versanddienstleister mit den Versanddienstleistern von REWE. Wenn du keinen Versanddienstleister verknüpfst, wird automatisch der Versanddienstleister <strong>unknown</strong> zu REWE übertragen.</p>
</div>
<div class="paragraph instruction">
<p>Versanddienstleister verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Versanddienstleister-Verknüpfung</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den REWE-Versanddienstleister.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">14. Retourengründe verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » REWE » Retourengrund-Verknüpfung</strong> verknüpfst du die in plentymarkets gespeicherten Retourengründe mit den Retourengründen von REWE. Wenn du keinen Retourengrund verknüpfst, wird automatisch der Retourengrund <strong>Sonstiges</strong> zu REWE übertragen. Weitere Informationen zu REWE-Retourengründen findest du in der Händlerdokumentation, die du von REWE erhalten hast.</p>
</div>
<div class="paragraph instruction">
<p>Retourengründe verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Retourengrund-Verknüpfung</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den REWE-Retourengrund.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">15. Steuerklassen synchronisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn die Steuerklassen bei REWE geändert wurden, musst du die Steuerklassen in plentymarkets synchronisieren. Steuerklassen werden im Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong> im Bereich <strong>Steuerklassen</strong> mit REWE synchronisiert.</p>
</div>
<div class="paragraph instruction">
<p>Steuerklassen synchronisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Steuerklassen</strong> auf <strong>Synchronisieren</strong>.<br>
→ Die Steuerklassen werden mit REWE abgeglichen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Unter <strong>Letzte Aktualisierung</strong> wird angezeigt, wann die Steuerklassen zuletzt mit REWE abgeglichen wurden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Steuerklassen vor Wechsel auf REWE-Live-System synchronisieren</div>
<div class="paragraph">
<p>Bevor deine Artikel bei REWE von der Stage-Testumgebung auf das Live-System wechseln, musst du bei plentymarkets die Steuerklassen erneut synchronisieren, da dein Artikelkatalog sonst nicht übertragen wird. Gib für den Wechsel auf das Live-System zunächst deine Zugangsdaten und den Produktschlüssel für das Live-System ein und synchronisiere danach die Steuerklassen. Nachdem du die Steuerklassen synchronisiert hast, musst du sie in deinen REWE-Katalogen neu verknüpfen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">16. Marken synchronisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Marken werden einmal täglich automatisch mit REWE abgeglichen. Außerdem hast du die Möglichkeit, im Menü <strong>Einrichtung » Märkte »&nbsp;REWE » Grundeinstellungen</strong> Marken jederzeit manuell mit REWE abzugleichen.</p>
</div>
<div class="paragraph instruction">
<p>Marken manuell synchronisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE »&nbsp;Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Marken</strong> auf <strong>synchronisieren</strong>.<br>
→ Die Marken werden mit REWE abgeglichen.<br>
<strong><em>Tipp:</em></strong> Unter <strong>Letzte Aktualisierung</strong> wird angezeigt, wann die Marken zuletzt mit REWE abgeglichen wurden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">17. Kontakterstellung deaktivieren (ab Plugin-Version 1.24.0)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig werden REWE-Aufträge immer dem Kontakt und der Rechnungsadresse von REWE zugeordnet. Optional kannst du die Option <strong>Kontakterstellung deaktivieren</strong> aktivieren, um keinen Kontakt zu pflegen und stattdessen nur die Adressen zu speichern. <a href="#rewe-kontakterstellung-deaktiveren">Tabelle 2</a> beschreibt die Unterschiede zwischen den beiden Einstellungsmöglichkeiten.</p>
</div>
<table id="rewe-kontakterstellung-deaktiveren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Kontakterstellung deaktivieren</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakterstellung deaktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><em>Option deaktiviert</em> (Standardeinstellung) = Die Kontakterstellung ist deaktiviert. Beim Import des ersten REWE-Auftrags wird für REWE ein Kontakt erstellt. Alle weiteren REWE-Aufträge werden mit diesem Kontakt verknüpft. Alle Rechnungsadressen werden diesem Kontakt zugeordnet.</p>
<div class="ulist">
<ul>
<li>
<p>Im Auftrag ist das Tab <strong>Kontakt</strong> verfügbar.</p>
</li>
<li>
<p>Über das Menü <strong>CRM » Kontakte</strong> ist der Kund:innendatensatz auffindbar.</p>
</li>
<li>
<p>Über das Menü <strong>CRM » Schnellsuche</strong> können die Adresseinträge und der zugehörige Auftrag gefunden werden.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ablauf des Auftragsimports im Detail</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Es wird geprüft, ob REWE bereits als Firma im System gespeichert ist.</p>
</li>
<li>
<p>Wenn die Firma noch nicht im System gespeichert ist, wird die Firma erstellt.</p>
</li>
<li>
<p>Es wird geprüft, ob REWE bereits als Kontakt im System gespeichert ist.</p>
</li>
<li>
<p>Wenn der Kontakt noch nicht im System gespeichert ist, wird der Kontakt erstellt.</p>
</li>
<li>
<p>Wenn ein neuer Kontakt erstellt wird, wird der Kontakt mit der Firma verknüpft.</p>
</li>
<li>
<p>Es wird geprüft, ob die Rechnungsadresse bereits im System gespeichert ist.</p>
</li>
<li>
<p>Wenn die Rechnungsadresse noch nicht im System gespeichert ist, wird die Rechnungsadresse erstellt.</p>
</li>
<li>
<p>Die Rechnungsadresse wird mit dem Kontakt verknüpft.</p>
</li>
<li>
<p>Die Rechnungsadresse wird mit dem Auftrag verknüpft.</p>
</li>
<li>
<p>Eine Lieferadresse wird erstellt. Dabei wird nicht geprüft, ob die Lieferadresse bereits im System gespeichert ist. Die Lieferadresse wird außerdem nicht mit einem Kontakt verknüpft.</p>
</li>
<li>
<p>Die Lieferadresse wird mit dem Auftrag verknüpft.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><em>Option aktiviert</em> = Die Kontakterstellung ist deaktiviert. Beim Import von REWE-Aufträgen wird kein Kontakt erstellt. Rechnungsadresse und Lieferadresse werden erstellt und dem Auftrag zugeordnet.</p>
<div class="ulist">
<ul>
<li>
<p>Im Auftrag entfällt das Tab <strong>Kontakt</strong>.</p>
</li>
<li>
<p>Über das Menü <strong>CRM » Kontakte</strong> ist der Kund:innendatensatz nicht mehr auffindbar.</p>
</li>
<li>
<p>Über das Menü <strong>CRM » Schnellsuche</strong> können die Adresseinträge und der zugehörige Auftrag gefunden werden.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ablauf des Auftragsimports im Detail</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Es wird geprüft, ob die Rechnungsadresse bereits im System gespeichert ist.</p>
</li>
<li>
<p>Wenn die Rechnungsadresse noch nicht im System gespeichert ist, wird die Rechnungsadresse erstellt.</p>
</li>
<li>
<p>Die Rechnungsadresse wird mit dem Auftrag verknüpft.</p>
</li>
<li>
<p>Eine Lieferadresse wird erstellt. Dabei wird nicht geprüft, ob die Lieferadresse bereits im System gespeichert ist. Die Lieferadresse wird außerdem nicht mit einem Kontakt verknüpft.</p>
</li>
<li>
<p>Die Lieferadresse wird mit dem Auftrag verknüpft.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Kontakterstellung deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte »&nbsp;REWE » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Auftragsimport</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Kontakterstellung deaktivieren</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellung.<br>
→ Pro Auftrag werden nur Rechnungsadresse und Lieferadresse erstellt und dem Auftrag zugeordnet.<br>
→ Ein Kontakt wird nicht erstellt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">18. Auftragsstatus bei REWE automatisch aktualisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um den Auftragsstatus bei REWE automatisch zu aktualisieren, wenn bestimmte Ereignisse eintreten. Folgende Ereignisaktionen können eingerichtet werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsposition als nicht vorrätig an REWE melden</p>
</li>
<li>
<p>Stornierung durch Käufer an REWE melden</p>
</li>
<li>
<p>Stornierung durch Händler an REWE melden</p>
</li>
<li>
<p>Versandvorbereitung an REWE melden</p>
</li>
<li>
<p>Versandvorbereitungsabschluss an REWE melden</p>
</li>
<li>
<p>Versandbestätigung an REWE melden</p>
</li>
<li>
<p>Paketzustellung an REWE melden</p>
</li>
<li>
<p>Retourenabschluss an REWE melden</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beispielhaft wird hier eine Ereignisaktion beschrieben, mit der du die Versandbestätigung an REWE meldest. Richte weitere Ereignisaktionen analog dazu ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#rewe-ereignisaktion">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#rewe-ereignisaktion">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="rewe-ereignisaktion" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion, um Auftragsstatus an REWE zu melden</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rewe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandbestätigung an REWE melden</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Retourengründe verknüpfen</div>
<div class="paragraph">
<p>Für Retouren müssen plentymarkets Retourengründe mit von REWE vorgegebenen Retourengründen verknüpft sein. Wenn beispielsweise die Ereignisaktion <strong>Retourenabschluss an REWE melden</strong> ausgelöst wird, muss ein Retourengrund gespeichert sein. Weitere Informationen zur Retourengrund-Verknüpfung findest du im Kapitel <a href="#1200">Retourengründe verknüpfen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">19. REWE-Lieferzeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Variantenverfügbarkeiten in plentymarkets werden bei REWE Lieferzeiten zugeordnet. Eine Übersicht zu den Lieferzeiten bei REWE und den entsprechenden Verfügbarkeiten in plentymarkets erhältst du in <a href="#rewe-verfügbarkeit">Tabelle 4</a>.</p>
</div>
<table id="rewe-verfügbarkeit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. REWE-Lieferzeiten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferzeit bei REWE</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1-3 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 3-6 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 6-8 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 8-10 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 10-15 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 15-20 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 20-30 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 30-40 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 40-50 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 50-60 Werktage</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit bei Fehlern</div>
<div class="paragraph">
<p>Wenn beim Zuordnen der Verfügbarkeit ein Fehler auftritt, wird bei REWE die Verfügbarkeit <strong>länger als 3 Monate</strong> angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>