<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei REWE registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> REWE in plentymarkets installieren</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Authentifizierung durchführen</span></a></li>
</ul>
</li>
<li><a href="#400"><span>3.</span><span> REWE in plentymarkets einrichten</span></a></li>
<li><a href="#500"><span>4.</span><span> Provision einstellen</span></a></li>
<li><a href="#600"><span>5.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#700"><span>6.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#800"><span>7.</span><span> Eigenschaft REWE-Produkttyp verknüpfen</span></a></li>
<li><a href="#900"><span>8.</span><span> Artikelexport einrichten</span></a></li>
<li><a href="#1000"><span>9.</span><span> Produktgruppen und Varianten bei REWE</span></a></li>
<li><a href="#1100"><span>10.</span><span> Versanddienstleister verknüpfen</span></a></li>
<li><a href="#1200"><span>11.</span><span> Retourengründe verknüpfen</span></a></li>
<li><a href="#1300"><span>12.</span><span> Steuerklassen synchronisieren</span></a></li>
<li><a href="#1400"><span>13.</span><span> Marken synchronisieren</span></a></li>
<li><a href="#1500"><span>14.</span><span> Auftragsstatus bei REWE automatisch aktualisieren</span></a></li>
<li><a href="#1600"><span>15.</span><span> REWE-Lieferzeiten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>REWE</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Rewe-Plugin herunterladen</div>
<div class="paragraph">
<p>Die Schnittstelle zu Rewe wird über ein Plugin integriert. Um das REWE-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/rewe_5901" target="_blank" rel="noopener">plentyMarketplace</a> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei REWE registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der REWE-Marktplatz ist ein geschlossener Marktplatz. Damit du dich als Händler bei REWE registrieren kannst, ist eine Prüfung durch REWE erforderlich. Sende dazu eine E-Mail an <a href="mailto:partnersupport@rewe.de">partnersupport@rewe.de</a> und gib folgende Informationen an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name deines Unternehmens</p>
</li>
<li>
<p>Website deines Unternehmens bzw. Onlineshop</p>
</li>
<li>
<p>Auflistung deines Sortiments (Anzahl SKUs, Kategorien, verpflichtende Kennzeichnung)</p>
</li>
<li>
<p>Kontaktinformationen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Für weitere Informationen zur Prüfung und Registrierung kontaktiere REWE unter <a href="mailto:partnersupport@rewe.de">partnersupport@rewe.de</a>.</p>
</div>
<div class="paragraph">
<p>Nachdem du dich als Händler registriert hast, erhältst du Zugangsdaten von REWE.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Rechte vergeben</div>
<div class="paragraph">
<p>Achte bei der Erstellung deiner API-Client-Zugangsdaten bei REWE darauf, dass du genügend Rechte vergibst. Wähle die Vorlage <strong>Admin-Client</strong> oder erstelle einen neuen Client und vergib alle verfügbaren Rechte.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nach dem Installieren des REWE-Plugins stehen folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>täglicher Artikelexport</p>
</li>
<li>
<p>stündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Preisabgleich</p>
</li>
<li>
<p>viertelstündlicher Auftragsimport</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. REWE in plentymarkets installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das REWE-Plugin im plentyMarketplace gekauft hast, installiere den Marktplatz im Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Authentifizierung durchführen</h3>
<div class="paragraph">
<p>Nachdem du das REWE-Plugin installiert hast, musst du zunächst eine Authentifizierung durchführen, um den Zugang zur Schnittstelle zu ermöglichen.</p>
</div>
<div class="paragraph instruction">
<p>Zugang zur Schnittstelle aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Konto-Einstellungen</strong>.</p>
</li>
<li>
<p>Gib in die Felder <strong>Benutzername</strong>, <strong>Passwort</strong> und <strong>Produktschlüssel</strong> die Zugangsdaten ein, die du von REWE erhalten hast.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. REWE in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte den Marktplatz REWE im Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong> ein. Aktiviere den Artikelexport, den Bestands- und Preisabgleich und den Auftragsimport in diesem Menü.</p>
</div>
<div class="paragraph instruction">
<p>Automatischen Datenaustausch aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellungen <strong>Artikelexport</strong>, <strong>Bestands- und Preisabgleich</strong> und <strong>Auftragsimport</strong>, um den automatischen Datenaustausch mit REWE zu aktivieren.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">4. Provision einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong> legst du die Standardprovision fest. Mit der Provision werden provisionsfreie Aufträgsbeträge berechnet.</p>
</div>
<div class="paragraph">
<p>Provisionsfreie Auftragsbeträge werden folgendermaßen berechnet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verkaufspreis REWE = Verkaufspreis Endkunde * (1 - Umrechnungsfaktor)</p>
</li>
<li>
<p>Umrechnungsfaktor = Provision * (1 + Mehrwertsteuersatz)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Für die Berechnung werden die Prozentsätze für Provision und Mehrwertsteuersatz in den entsprechenden Faktor umgerechnet, also durch 100 geteilt. Der Umrechnungsfaktor wird auf die 3. Nachkommastelle gerundet, wie auch bei REWE.</p>
</div>
<div class="paragraph instruction">
<p>Provision einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte »&nbsp;REWE » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Provision</strong> eine Zahl für die Provision in Prozent ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die eingestellte Provision ist die Standardprovision für alle Artikel, außer Varianten, für die eine separate Provision eingestellt wurde.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für Varianten kann mit der Eigenschaft <strong>REWE Provision</strong> eine separate Provision eingestellt werden. Die Eigenschaft <strong>REWE Provision</strong> wird beim Installieren des REWE-Plugins automatisch angelegt. Um eine separate Provision für eine Variante festzulegen, verknüpfe die Variante mit der Eigenschaft <strong>REWE Provision</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Separate Provision für Varianten einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Öffne die Variante, für die du eine separate Provision einstellen möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Eigenschaften</strong> der Variante.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Eigenschaften</strong> die Eigenschaft <strong>REWE Provision</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Eigenschaft wird mit der Variante verknüpft.</p>
</li>
<li>
<p>Gib in das Eingabefeld <strong>Wert</strong> eine Zahl oder Kommazahl für die Provision in Prozent ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">5. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit REWE verknüpfen zu können. Aktviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für REWE aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Rewe</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">6. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf dem Marktplatz REWE verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alle Varianten eines Artikels auf REWE verkaufen</div>
<div class="paragraph">
<p>Wenn du alle Varianten eines Artikels auf REWE verkaufen möchtest, nimm die unten beschriebenen Einstellungen an der Hauptvariante vor. Die Einstellungen werden dann an alle Varianten des Artikels vererbt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Variantenverfügbarkeit für REWE einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf REWE verkaufen möchtest.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>REWE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Variante ist auf REWE verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">7. Eigenschaft REWE-Produkttyp verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf REWE verkaufen möchtest, müssen mit der Eigenschaft <strong>REWE-Produkttyp</strong> verknüpft werden. Diese Eigenschaft wird in deinem plentymarkets System angelegt, sobald du das REWE-Plugin installiert hast.</p>
</div>
<div class="paragraph instruction">
<p>Artikel mit Eigenschaft REWE-Produkttyp verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Varianteneigenschaften</strong> auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Wähle die Eigenschaft <strong>REWE-Produkttyp</strong>.</p>
</li>
<li>
<p>Wähle einen passenden <strong>Wert</strong> aus der Dropdown-Liste.<br>
→ Als Werte stehen die REWE-Produkttypen zur Auswahl.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">8. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikeldaten werden über Katalog-Templates zu REWE übertragen. Kataloge erstellst du im Menü <strong>Daten » Kataloge</strong>. Weitere Informationen zu Katalogen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten">Kataloge verwalten</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit des Menüs</div>
<div class="paragraph">
<p>Das Menü <strong>Daten » Kataloge</strong> ist erst sichtbar, wenn du ein Plugin installierst, das ein Katalog-Template verfügbar macht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Damit du deine Artikel zu REWE exportieren kannst, musst du für die verschiedenen REWE-Produktkategorien Kataloge erstellen. Verknüpfe anschließend im Katalog-Template die von REWE vorgegebenen Felder mit in plentymarkets hinterlegten Artikeldaten. Die Katalog-Vorlagen werden automatisch einmal täglich zu REWE exportiert, wenn du unter <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong> den <strong>Artikelexport</strong> aktiviert hast.</p>
</div>
<div class="paragraph">
<p>Momentan kannst du mit dem REWE-Plugin Kataloge für die folgenden REWE-Produktkategorien erstellen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Haushalt</strong></p>
</li>
<li>
<p><strong>Multimedia</strong></p>
</li>
<li>
<p><strong>Drogerie</strong></p>
</li>
<li>
<p><strong>Fashion</strong></p>
</li>
<li>
<p><strong>Freizeit/Sport</strong></p>
</li>
<li>
<p><strong>Schreibwaren</strong></p>
</li>
<li>
<p><strong>Spielwaren</strong></p>
</li>
<li>
<p><strong>Garten</strong></p>
</li>
<li>
<p><strong>Lebensmittel</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hinweise zur Produktkategorie Lebensmittel</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Alle Lebensmittelangaben müssen pro 100g angegeben werden.</p>
</li>
<li>
<p>Energieangaben müssen in kcal angegeben werden.</p>
</li>
<li>
<p>Wenn für das Feld <strong>Nährwertangaben für zubereitete oder nicht zubereitete Lebensmittel</strong> kein Wert verknüpft wurde, wird standardmäßig der Wert <strong>unbehandelt</strong> an REWE übertragen.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Katalog erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Katalog erstellen</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Katalog ein.</p>
</li>
<li>
<p>Wähle ein Katalog-Template aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem du einen Katalog erstellt hast, verknüpfst du die Datenfelder des Marktplatzes mit in plentymarkets hinterlegten Artikeldaten. Weitere Informationen zu den plentymarkets Datenquellen, die du zuordnen kannst, findest du im Kapitel <a href="/daten/daten-exportieren/kataloge-verwalten#_datenquellen_zuordnen">Datenquellen zuordnen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Datenfelder im Katalog verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.<br>
→ Links werden die Datenfelder des Marktplatzes angezeigt.<br>
<strong><em>Tipp</em></strong>: Pflichtfelder sind mit Sternchen gekennzeichnet.</p>
</li>
<li>
<p>Wähle für die Datenfelder des Marktplatzes eine plentymarkets Datenquelle aus der Dropdown-Liste.</p>
</li>
<li>
<p>Um einem Datenfeld eine weitere plentmarkets Datenquelle zuzuordnen, klicke auf <strong>Quelle hinzufügen</strong>.<br>
→ Eine neue Zeile wird eingeblendet.<br>
<strong><em>Hinweis</em></strong>: Auch wenn du einem Datenfeld mehr als eine Datenquelle zuordnest, wird nur ein Wert übertragen. Die Daten werden in der Reihenfolge der Zuordnung geprüft. Wenn also das erste Datenfeld keinen Wert liefert, wird das zweite Datenfeld übertragen usw.</p>
</li>
<li>
<p>Nimm alle gewünschten Zuordnungen vor.<br>
<strong><em>Hinweis:</em></strong> Alle mit * gekennzeichneten Pflichtfelder müssen mit einer plentymarkets Datenquelle verknüpft werden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Pflichtfelder beachten</div>
<div class="paragraph">
<p>Die Pflichtfelder der verschiedenen Templates sind mit * gekennzeichnet. Verknüpfe mindestens die Pflichtfelder, um sicherzustellen, dass REWE deine Artikel für den Verkauf freigibt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Werte verknüpfen</div>
<div class="paragraph">
<p>In den Feldern im unteren Bereich der Katalog-Templates verknüpfst du von REWE vorgegebene Werte mit plentymarktes Datenquellen. Für diese Felder werden die Bennenungen von REWE an den Marktplatz übermittelt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Folgenden wird beispielhaft beschrieben, wie du das Pflichtfeld <strong>Produktbeschreibung</strong> mit Artikeldaten aus plentymarkets verknüpfst.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Kataloge</strong>.</p>
</li>
<li>
<p>Klicke auf den Katalog.<br>
→ Der Katalog wird geöffnet.</p>
</li>
<li>
<p>Wähle für das REWE-Katalogfeld <strong>Produktbeschreibung</strong> eine plentymarkets Datenquelle aus der Dropdown-Liste, zum Beispiel <strong>Artikeltext &gt; Name 1, Name 2, Name 3</strong>, die auf REWE als Produktbeschreibung angezeigt werden soll.</p>
</li>
<li>
<p>Nimm die weiteren Zuordnungen analog vor. Verknüpfe mindestens alle Pflichtfelder.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">SKU verknüpfen</div>
<div class="paragraph">
<p>Wir empfehlen, das Datenfeld <strong>SKU</strong> mit der plentymarkets Datenquelle <strong>Varianten-ID</strong> zu verknüpfen, da die Varianten-ID der Variante eindeutig zugeordnet ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Eigenschaften verwenden</div>
<div class="paragraph">
<p>Verwende <a href="/artikel/artikel-verwalten#3000">Eigenschaften</a>, um Werte für Datenfelder zu übergeben, für die es keine entsprechenden Artikeldaten in plentymarkets gibt, zum Beispiel <strong>Durchmesser</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">9. Produktgruppen und Varianten bei REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei REWE wird zwischen <strong>Produktgruppen</strong> und <strong>Varianten</strong> unterschieden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Produktgruppen</strong> sind in plentymarkets Artikel, deren Varianten je nach Produkttyp mindestens ein REWE-Gruppenattribut besitzen.</p>
</li>
<li>
<p><strong>Varianten</strong> sind in plentymarkets Varianten eines Artikels, die je nach Produkttyp höchstens ein REWE-Variantenattribut besitzen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei REWE-Gruppenattributen können mehrere unterschiedliche Attribute gesetzt werden, zum Beispiel Farbe und Motiv. Bei REWE-Variantenattributen kann nur ein Variantenattribut gesetzt sein, zum Beispiel nur Größe oder nur Volumen.</p>
</div>
<div class="paragraph">
<p>Welche REWE-Gruppenattribute und REWE-Variantenattribute für einen Produkttyp zur Verfügung stehen, siehst du, wenn du einen Katalog mit Template angelegt hast. Öffne dazu im Katalog-Template die Dropdown-Listen <strong>Attribut für Variantengruppe</strong> und <strong>Attribut für Produktgruppe</strong>.</p>
</div>
<div class="paragraph">
<p>Artikel in plentymarkets können mehrere REWE-Gruppenattribute besitzen. Bei der Übertragung zu REWE kann nur ein REWE-Gruppenattribut verwendet werden, um Produktgruppen zu bilden. Deswegen muss im Katalog die Option <strong>Attribut für Produktgruppe</strong> so verknüpft werden, dass das erste Attribut immer das Attribut ist, über das du diese Gruppe bilden möchtest. Wenn zum Beispiel ein Artikel, z.B. ein T-Shirt, sich in Farbe und Motiv unterscheidet und das Motiv das REWE-Gruppenattribut sein soll, muss das Motiv für die Option <strong>Attribut für Produktgruppe</strong> als erstes verknüpft werden und erst dann die Farbe.</p>
</div>
<div class="paragraph">
<p>Ein Artikel sollte nicht mit mehr als einem Attribut verknüpft sein, das im Katalog als REWE-Variantenattribut zugeordnet wurde.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">10. Versanddienstleister verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » REWE » Versanddienstleister-Verknüpfung</strong> verknüpfst du die in plentymarkets gespeicherten Versanddienstleister mit den Versanddienstleistern von REWE. Wenn du keinen Versanddienstleister verknüpfst, wird automatisch der Versanddienstleister <strong>unknown</strong> zu REWE übertragen.</p>
</div>
<div class="paragraph instruction">
<p>Versanddienstleister verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Versanddienstleister-Verknüpfung</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den REWE-Versanddienstleister.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">11. Retourengründe verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » REWE » Retourengrund-Verknüpfung</strong> verknüpfst du die in plentymarkets gespeicherten Retourengründe mit den Retourengründen von REWE. Wenn du keinen Retourengrund verknüpfst, wird automatisch der Retourengrund <strong>Sonstiges</strong> zu REWE übertragen. Weitere Informationen zu REWE-Retourengründen findest du in der Händlerdokumentation, die du von REWE erhalten hast.</p>
</div>
<div class="paragraph instruction">
<p>Retourengründe verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Retourengrund-Verknüpfung</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den REWE-Retourengrund.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">12. Steuerklassen synchronisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn die Steuerklassen bei REWE geändert wurden, musst du die Steuerklassen in plentymarkets synchronisieren. Steuerklassen werden im Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong> im Bereich <strong>Steuerklassen</strong> mit REWE synchronisiert.</p>
</div>
<div class="paragraph instruction">
<p>Steuerklassen synchronisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Steuerklassen</strong> auf <strong>Synchronisieren</strong>.<br>
→ Die Steuerklassen werden mit REWE abgeglichen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Unter <strong>Letzte Aktualisierung</strong> wird angezeigt, wann die Steuerklassen zuletzt mit REWE abgeglichen wurden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Steuerklassen vor Wechsel auf REWE-Live-System synchronisieren</div>
<div class="paragraph">
<p>Bevor deine Artikel bei REWE von der Stage-Testumgebung auf das Live-System wechseln, musst du bei plentymarkets die Steuerklassen erneut synchronisieren, da dein Artikelkatalog sonst nicht übertragen wird. Gib für den Wechsel auf das Live-System zunächst deine Zugangsdaten und den Produktschlüssel für das Live-System ein und synchronisiere danach die Steuerklassen. Nachdem du die Steuerklassen synchronisiert hast, musst du sie in deinen REWE-Katalogen neu verknüpfen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">13. Marken synchronisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Marken werden einmal täglich automatisch mit REWE abgeglichen. Außerdem hast du die Möglichkeit, im Menü <strong>Einrichtung » Märkte »&nbsp;REWE » Grundeinstellungen</strong> Marken jederzeit manuell mit REWE abzugleichen.</p>
</div>
<div class="paragraph instruction">
<p>Marken manuell synchronisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » REWE »&nbsp;Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Marken</strong> auf <strong>synchronisieren</strong>.<br>
→ Die Marken werden mit REWE abgeglichen.<br>
<strong><em>Tipp:</em></strong> Unter <strong>Letzte Aktualisierung</strong> wird angezeigt, wann die Marken zuletzt mit REWE abgeglichen wurden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">14. Auftragsstatus bei REWE automatisch aktualisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um den Auftragsstatus bei REWE automatisch zu aktualisieren, wenn bestimmte Ereignisse eintreten. Folgende Ereignisaktionen können eingerichtet werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsposition als nicht vorrätig an REWE melden</p>
</li>
<li>
<p>Stornierung durch Käufer an REWE melden</p>
</li>
<li>
<p>Stornierung durch Händler an REWE melden</p>
</li>
<li>
<p>Versandvorbereitung an REWE melden</p>
</li>
<li>
<p>Versandvorbereitungsabschluss an REWE melden</p>
</li>
<li>
<p>Versandbestätigung an REWE melden</p>
</li>
<li>
<p>Paketzustellung an REWE melden</p>
</li>
<li>
<p>Retourenabschluss an REWE melden</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beispielhaft wird hier eine Ereignisaktion beschrieben, mit der du die Versandbestätigung an REWE meldest. Richte weitere Ereignisaktionen analog dazu ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das Ereignis gemäß <a href="#rewe-ereignisaktion">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#rewe-ereignisaktion">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="rewe-ereignisaktion" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion, um Auftragsstatus an REWE zu melden</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsänderung: Statuswechsel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Auftragstyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Herkunft</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rewe</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandbestätigung an REWE melden</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Retourengründe verknüpfen</div>
<div class="paragraph">
<p>Für Retouren müssen plentymarkets Retourengründe mit von REWE vorgegebenen Retourengründen verknüpft sein. Wenn beispielsweise die Ereignisaktion <strong>Retourenabschluss an REWE melden</strong> ausgelöst wird, muss ein Retourengrund gespeichert sein. Weitere Informationen zur Retourengrund-Verknüpfung findest du im Kapitel <a href="#1200">Retourengründe verknüpfen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">15. REWE-Lieferzeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Variantenverfügbarkeiten in plentymarkets werden bei REWE Lieferzeiten zugeordnet. Eine Übersicht zu den Lieferzeiten bei REWE und den entsprechenden Verfügbarkeiten in plentymarkets erhältst du in <a href="#rewe-verfügbarkeit">Tabelle 2</a>.</p>
</div>
<table id="rewe-verfügbarkeit" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. REWE-Lieferzeiten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferzeit bei REWE</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1-3 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 3-6 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 6-8 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 8-10 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 10-15 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 15-20 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 20-30 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 30-40 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 40-50 Werktage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 50-60 Werktage</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit bei Fehlern</div>
<div class="paragraph">
<p>Wenn beim Zuordnen der Verfügbarkeit ein Fehler auftritt, wird bei REWE die Verfügbarkeit <strong>länger als 3 Monate</strong> angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>