<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Shopgate registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Shopgate in plentymarkets einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Weiterleitung auf mobile Webseite aktivieren</span></a></li>
<li><a href="#350"><span>4.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#400"><span>5.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#900"><span>6.</span><span> Ausgewählte Artikel bei mehreren Mandanten übertragen</span></a></li>
<li><a href="#430"><span>7.</span><span> SKU für eine Herkunft festlegen</span></a></li>
<li><a href="#450"><span>8.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>9.</span><span> Merkmale für Marktplatz aktivieren</span></a></li>
<li><a href="#600"><span>10.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#700"><span>11.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#800"><span>12.</span><span> Retouren automatisch senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Shopgate</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Schnittstelle zu <a href="https://www.shopgate.com/de/" target="_blank" rel="noopener">Shopgate</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> hast du die Möglichkeit, schnell und kostengünstig am M-Commerce teilzunehmen und damit neue Absatzchancen zu erschließen. Du erfährst nun, welche Schritte zur Einrichtung der mobilen Ansicht deines plentyShop nötig sind und welche Einstellungen für die Anbindung des M-Commerce-Marktplatzes Shopgate Voraussetzung sind.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Shopgate registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu Shopgate in plentymarkets einzurichten, registriere dich zunächst bei <a href="https://www.shopgate.com/de/registrierung/" target="_blank" rel="noopener">Shopgate</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Nach der Registrierung erhältst du die Zugangsdaten von Shopgate.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Shopgate in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel findest du Informationen zu Einstellungen und Funktionen für den Markplatz Shopgate. Um Shopgate in plentymarkets einzurichten, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Shopgate in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Shopgate</strong>.</p>
</li>
<li>
<p>Klappe den <strong>Mandant (Shop)</strong> auf (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-shopgate">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen des Marktplatzes Shopgate</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Zugangsdaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebsmodus</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Betriebsmodus wählen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Live</strong> = Mit den gespeicherten Einstellungen online schalten.<br></p>
</li>
<li>
<p><strong>Shopgate-Testsystem</strong> = Testmodus aktivieren.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kundennummer eingeben, wie von Shopgate erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shop-Nummer eingeben, wie von Shopgate erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Key</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>API-Key eingeben, wie von Shopgate erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Grundkonfiguration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Deaktivieren</strong> = Schnittstelle ausschalten.<br></p>
</li>
<li>
<p><strong>Aktivieren</strong> = Schnittstelle einschalten.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exporttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandant (Shop)-Artikel</strong> oder <strong>Alle Artikel</strong> wählen.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Alle Artikel</strong> = Alle Artikel exportieren.<br></p>
</li>
<li>
<p><strong>Mandant (Shop)-Artikel</strong> = Nur Artikel exportieren, die für einen plentyShop <a href="#400">verfügbar</a> gestellt wurden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name wählen, der für Shopgate verwendet werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sprache wählen, die für Shopgate verwendet werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein Stückrabatt aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob <a href="/auftraege/gutscheine">Gutscheincodes</a> für Kampagnen mit der Rabattart <strong>Stückrabatt</strong> geprüft und akzeptiert werden sollen, wenn sie gültig sind.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Gutscheincodes prüfen und Rabatt abziehen, wenn der Code gültig ist.<br></p>
</li>
<li>
<p><strong>Nein</strong> = Gutscheincodes nicht prüfen. Gutscheincodes der Rabattart <strong>Stückrabatt</strong> werden grundsätzlich abgelehnt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Gutscheincodes für Kampagnen mit anderen Rabattarten werden automatisch geprüft und der Rabatt abgezogen, wenn der Code gültig ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Erweiterte Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Versandkosten an Shopgate übertragen.<br></p>
</li>
<li>
<p><strong>Nein</strong> = Versandkosten nicht an Shopgate übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Anzahl der Artikel eingeben, die als Bestandspuffer nicht an Shopgate übertragen werden sollen.<br>
Artikel werden nicht restlos über diesen Marktplatz abverkauft.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge für Artikel ohne Bestandsbindung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikelmenge eingeben, die für Artikel ohne Bestandsbindung bei Shopgate als Bestand geführt werden soll.<br>
<strong><em>Wichtig:</em></strong> Varianten-Artikel werden nur übertragen, wenn im Tab <strong>Bestand</strong> des Artikels für die <strong>Beschränkung</strong> entweder <strong>keine Beschränkung</strong> oder <strong>Beschränkung auf Netto-Warenbestand</strong> gewählt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grenzwert für Artikel-Upload</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Maximale Artikelmenge eingeben, die bei Shopgate hochgeladen werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Freitextfeld wählen, um die dort eingegebenen Texte als Artikelbeschreibung anzuzeigen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Technische Daten zur Artikelbeschreibung hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Im Tab <strong>Texte</strong> eines Artikels eingegebene technische Daten zu Shopgate zu übertragen.<br></p>
</li>
<li>
<p><strong>Nein</strong> = Technische Daten nicht übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelposition übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob die im Tab <strong>Kategorie</strong> einer Variante gespeicherte <strong>Position</strong> an Shopgate übertragen werden soll. Anhand dieser Position werden Artikel bei der Artikelauflistung im plentyShop sortiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CrossSelling</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mit der Cross-Selling-Funktion hast du die Möglichkeit, zu einem Artikel weitere geeigneten Artikel anzubieten.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Wenn <strong>Ja</strong> aktiviert ist, werden pro Artikel maximal 15 Cross-Selling-Artikel mit je maximal 3 Varianten übertragen.<br></p>
</li>
<li>
<p><strong>Nein</strong> = Cross-Selling-Artikel werden nicht übertragen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsprüfung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, ob Shopgate während des Bestellvorgangs automatisch den aktuellen Lagerbestand in plentymarkets prüfen soll.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Live-Lagerbestandsprüfung automatisch während des Bestellvorgangs durchführen.<br></p>
</li>
<li>
<p><strong>Nein</strong> = Bestand während des Bestellvorgangs anhand des zuletzt per CSV-Datei an Shopgate gemeldeten Lagerbestands prüfen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Framework-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL der Schnittstelle. Die URL wird automatisch gespeichert. Die Framework-URL wird nur angezeigt, wenn bei der Option <strong>Aktiv</strong> die Option <strong>Ja</strong> gewählt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mobile Weiterleitung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alias</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Alias eingeben, wie von Shopgate erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beim Provider kann eine persönliche Domain gespeichert werden. Um diese Domain zu nutzen, muss sie bei Shopgate gespeichert werden.<br>
Das Ziel <strong>cname.shopgate.com</strong> muss ebenfalls beim Provider gespeichert werden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Bestandsabgleich sowie jeweils Bestätigung bei Versand eines Artikels</p>
</li>
<li>
<p>täglicher Artikelexport</p>
</li>
<li>
<p>Übernahme der Artikelkategorien</p>
</li>
<li>
<p>Import der Aufträge, sobald die Aufträge bei Shopgate als bezahlt markiert sind</p>
</li>
<li>
<p>Erstellen eines Kundendatensatzes in plentymarkets, wenn Neukund:innen eine Bestellung über Shopgate aufgeben</p>
</li>
<li>
<p>automatische Prüfung von Gutschein-Codes während des Bestellvorgangs</p>
</li>
<li>
<p>optional automatische Live-Prüfung des Artikellagerbestands während des Bestellvorgangs (Option <strong>Bestandsprüfung</strong>)</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Weiterleitung auf mobile Webseite aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der <a href="/webshop/webshop-einrichten#weiterleitung">mobilen Weiterleitung</a> wählst du, ob beim Öffnen des Shops über einen mobilen Browser zu Shopgate umgeleitet werden soll. Ohne diese Einstellung erfolgt keine Weiterleitung.</p>
</div>
<div class="paragraph instruction">
<p>Weiterleitung aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Webshop » Weiterleitung</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#optionen-weiterleitung-shopgate">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="optionen-weiterleitung-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen für die Weiterleitung bei mobilen Endgeräten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weiterleitung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Optimierte Anzeige des plentyShop auf mobilen Endgeräten einrichten.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Aktiv</strong> = Weiterleitungen auf die eingefügten URLs aktivieren.<br></p>
</li>
<li>
<p><strong>Inaktiv</strong> = Weiterleitungen deaktivieren.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel-URL (Kategorie)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL der mobilen Variante des plentyShop eingeben, zum Beispiel <strong><a href="http://mobile.ihrplentyshop.de" class="bare">http://mobile.ihrplentyshop.de</a></strong>. Auf diese URL werden Kund:innen weitergeleitet, die mit einem mobilen Endgerät auf den plentyShop zugreifen.<br>
<strong><em>Tipp:</em></strong> Mit der Template-Variable <strong>$ReferrerID</strong> in der URL kann nachvollzogen werden, woher Kund:innen weitergeleitet wurden. Die URL sieht dann zum Beispiel so aus: <strong><a href="http://mobile.testshop.de/?referrerId=$referrerId" class="bare">http://mobile.testshop.de/?referrerId=$referrerId</a></strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel-URL (Artikelseite)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL eingeben, auf die Kund:innen weitergeleitet werden, die ein mobiles Endgerät nutzen, um zum Beispiel von einem Artikel in einem Preisportal direkt zum Artikel im plentyShop zu gelangen. Eine solche Artikel-URL kann wie folgt aussehen: <strong><a href="http://mobile.ihrplentyshop.de/?itemNumber=$itemId" class="bare">http://mobile.ihrplentyshop.de/?itemNumber=$itemId</a></strong>. Mit der Template-Variablen <strong>$ItemID</strong> in der URL ist jeder Artikel erreichbar.<br>
<strong><em>Tipp:</em></strong> Mit der Template-Variablen <strong>$ReferrerID</strong> in der URL kann nachvollzogen werden, woher Kund:innen weitergeleitet wurden. Die URL könnte wie folgt aussehen: <strong><a href="http://mobile.ihrplentyshop.de/?itemNumber=$itemId&amp;referrerId=$referrerId" class="bare">http://mobile.ihrplentyshop.de/?itemNumber=$itemId&amp;referrerId=$referrerId</a></strong><br>
<strong><em>Hinweis:</em></strong> Wenn hier keine URL eingegeben wird, erfolgt keine Weiterleitung von Preisportalen etc. zu den Artikeln im plentyShop.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="350">4. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit Shopgate verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Shopgate aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf Shopgate verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="f-r-eine-variante-tab" data-toggle="tab" href="#f-r-eine-variante" role="tab" aria-controls="f-r-eine-variante" aria-selected="true">Für eine Variante</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-varianten-gruppenfunktion-tab" data-toggle="tab" href="#per-varianten-gruppenfunktion" role="tab" aria-controls="per-varianten-gruppenfunktion" aria-selected="false">Per Varianten-Gruppenfunktion</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="per-stapelverarbeitung-tab" data-toggle="tab" href="#per-stapelverarbeitung" role="tab" aria-controls="per-stapelverarbeitung" aria-selected="false">Per Stapelverarbeitung</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="f-r-eine-variante" role="tabpanel" aria-labelledby="f-r-eine-variante-tab">
<div class="paragraph instruction">
<p>Eine Variante für Shopgate verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf Shopgate verkaufen möchtest.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf Shopgate zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Variante ist für Shopgate verfügbar.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-varianten-gruppenfunktion" role="tabpanel" aria-labelledby="per-varianten-gruppenfunktion-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> bearbeitest du mehrere Varianten gleichzeitig. Dabei wählst du die zu bearbeitenden Varianten direkt aus.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Varianten-Gruppenfunktion für Shopgate verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Setze links den Filter <strong>Tabellentyp</strong> auf <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle ggf. weitere <a href="/artikel/einleitung/suche#100">Filter in der Spalte links</a> und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die zu bearbeitenden Varianten in der Übersicht rechts.</p>
</li>
<li>
<p>Klicke auf <strong>Varianten-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Varianten-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Ausführen</strong>, um die Einstellungen vorzunehmen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="per-stapelverarbeitung" role="tabpanel" aria-labelledby="per-stapelverarbeitung-tab">
<div class="paragraph">
<p>Mit der <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a> bearbeitest du mehrere Varianten gleichzeitig. Du verwendest Filter, um die zu bearbeitenden Varianten einzuschränken.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Varianten per Stapelverarbeitung für Shopgate verfügbar machen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Stapelverarbeitung</strong>.</p>
</li>
<li>
<p>Klicke oben links auf das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Bestimme mit den <em>Filtern links</em>, welche Varianten verarbeitet werden sollen.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Marktplatz-Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Navigiere zum Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen links neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Aktiviere das Kontrollkästchen rechts neben der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-execute"></i></span> <strong>Anwenden</strong>, um die Einstellungen an den Varianten vorzunehmen.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="900">6. Ausgewählte Artikel bei mehreren Mandanten übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du mehrere Mandanten betreibst und nicht alle Artikel aller Mandanten an Shopgate übertragen möchtest, hast du die Möglichkeit, bei jedem Artikel die Übertragung pro Mandant festzulegen. Folgende Voraussetzungen müssen für den mandantenbezogenen Export erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Einrichtung » Märkte » Shopgate</strong> wählst du als <strong>Exporttyp</strong> die Option <strong>Mandant (Shop)-Artikel</strong>.</p>
</li>
<li>
<p>Im Tab <strong>Verfügbar</strong> des Artikels aktivierst du im Bereich <strong>Märkte</strong> mindestens einen Mandanten.<br>
<strong><em>Hinweis:</em></strong> Du darfst dort weder alle noch gar keine Mandanten gewählt haben. In beiden Fällen erfolgt kein mandantenbezogener Export.</p>
</li>
<li>
<p>Für jeden Mandanten, für den die Verfügbarkeit aktiviert wird, muss Shopgate eingerichtet sein.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="430">7. SKU für eine Herkunft festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Export der Varianten wird automatisch eine SKU generiert. Optional hast du aber auch die Möglichkeit, marktplatzspezifische SKUs an den Varianten zu speichern, die du auf dem Marktplatz verkaufen möchtest.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="sku-manuell-speichern-tab" data-toggle="tab" href="#sku-manuell-speichern" role="tab" aria-controls="sku-manuell-speichern" aria-selected="true">SKU manuell speichern</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="sku-importieren-tab" data-toggle="tab" href="#sku-importieren" role="tab" aria-controls="sku-importieren" aria-selected="false">SKU importieren</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="sku-manuell-speichern" role="tabpanel" aria-labelledby="sku-manuell-speichern-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Shopgate</strong>.<br></p>
</li>
<li>
<p>Wähle das dazugehörige Marktplatzkonto.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="sku-importieren" role="tabpanel" aria-labelledby="sku-importieren-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Hier werden nur die wichtigsten Einstellungen für den Import beschrieben. Du arbeitest zum ersten Mal mit dem Import-Tool? Dann mache dich zuerst <a href="/daten/daten-importieren/ElasticSync">mit dem Prinzip des Datenimports in plentymarkets vertraut</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Erstelle eine CSV-Datei mit mindestens den in <a href="#table-sku-import">Tabelle 3</a> beschriebenen Spalten.</p>
</li>
<li>
<p>Erstelle einen Import mit den folgenden Einstellungen:</p>
<div class="ulist">
<ul>
<li>
<p>Wähle den Typ <strong>Artikel</strong>.</p>
</li>
<li>
<p>Wähle als Abgleichfeld die <strong>Varianten-ID</strong>.</p>
</li>
<li>
<p>Ordne die plentymarkets Datenfelder wie in <a href="#table-sku-import">Tabelle 3</a> beschrieben zu.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Empfohlene Spalten der Importdatei</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spalte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">plentymarkets Datenfeld für die Zuordnung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Varianten-ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib in dieser Spalte die Varianten-ID ein.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Varianten-ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Marktplatz-ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib in dieser Spalte die Herkunft-ID <strong>109</strong> ein.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marktplatz-ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Account-ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib in dieser Spalte die plenty-ID des Mandanten ein.<br>
<strong><em>Tipp:</em></strong> Die plenty-ID findest du im Menü<br>
<strong>Einrichtung » Mandant » [Mandant wählen] » Einstellungen » Option: Plenty ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marktplatz-ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SKU</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib in dieser Spalte die SKU ein, die du für den Marktplatz an der Variante speichern möchtest.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>SKU</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="450">8. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Shopgate einen Verkaufspreis festzulegen. Dieser Preis wird auf Shopgate angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Shopgate festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen] » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Herkunft <strong>Shopgate</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/preise#100">Verkaufspreise</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">9. Merkmale für Marktplatz aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um <a href="/artikel/einstellungen/eigenschaften#100">Merkmale</a> für Shopgate nutzen zu können, muss jedes Merkmal für den Marktplatz aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal für Marktplatz aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Klappe das Merkmal auf (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Aktiviere die Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellung.</p>
</li>
<li>
<p>Wiederhole den Vorgang für alle Merkmale, die du für den Marktplatz benötigst.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">10. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Shopgate Payment</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart Shopgate Payment aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Shopgate Payment</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-zahlungsart-aktivieren">Tabelle 4</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-zahlungsart-aktivieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer:innen im plentyShop die Sprache wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name eingeben, der im plentyShop und auf Rechnungen etc. angezeigt werden soll.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn unter <strong>Infoseite</strong> die Option <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem plentyShop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br></p>
</li>
<li>
<p><strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br></p>
</li>
<li>
<p><strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Priorität für die Anzeige der Zahlungsart im plentyShop wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben.<br>
<strong><em>Wichtig:</em></strong> Nicht in beide Felder einen Wert eingeben.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/business-entscheidungen/plenty-bi/statistiken">Statistiken verwalten</a>.<br>
Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in der die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Aktiviere für die Einstellung <strong>Erlaubte Zahlungsarten</strong> die Option <strong>Shopgate Payment</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zahlungsart Amazon Pay</div>
<div class="paragraph">
<p>Wenn du die Zahlungsart <strong>Amazon Pay</strong> nutzen möchtest, richte für Shopgate kein separates Konto für Amazon Pay ein, sondern nutze das in plentymarkets eingerichtete Konto.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Je nach Zahlungsart erfolgen Rechnungserzeugung sowie Rechnungsversand bereits durch Shopgate, sodass du keine Rechnung mehr an Kund:innen schicken musst. Du kannst prüfen, ob die Rechnungserzeugung und der Rechnungsversand durch Shopgate erfolgen, indem du jeweils deine Aufträge von Shopgate prüfst oder eine <a href="/automatisierung/ereignisaktionen#neue-ereignisaktion">Ereignisaktion</a> einrichtest, um die Rechnungserzeugung und den Rechnungsversand zu automatisieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">11. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Stornierungen automatisch an Shopgate zu senden. Stornierungen zählen bei Shopgate auch als Retouren. Deshalb ist die Aktion <strong>Retoure an Shopgate senden</strong> auszuwählen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierungen-shopgate">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#ereignisaktion-stornierungen-shopgate">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierungen-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Stornierungen an Shopgate</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel &gt; Storniert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Shopgate senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">12. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an Shopgate zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retouren-shopgate">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#ereignisaktion-retouren-shopgate">Tabelle 6</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retouren-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion zum automatischen Senden von Retouren an Shopgate</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Shopgate senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>