<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Shopgate registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Shopgate in plentymarkets einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Weiterleitung auf mobile Webseite aktivieren</span></a></li>
<li><a href="#350"><span>4.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#400"><span>5.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#430"><span>6.</span><span> SKU für eine Herkunft festlegen</span></a></li>
<li><a href="#450"><span>7.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>8.</span><span> Merkmale verknüpfen</span></a></li>
<li><a href="#600"><span>9.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#700"><span>10.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#800"><span>11.</span><span> Retouren automatisch senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Shopgate</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Schnittstelle zu <a href="https://www.shopgate.com/de/" target="_blank" rel="noopener">Shopgate</a> hast du die Möglichkeit, schnell und kostengünstig am M-Commerce teilzunehmen und damit neue Kundengruppen zu erschließen. Du erfährst nun, welche Schritte zur Einrichtung der mobilen Ansicht Ihres Webshops nötig sind und welche Einstellungen für die Anbindung des M-Commerce-Marktplatzes Shopgate Voraussetzung sind.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Shopgate registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu Shopgate in plentymarkets einzurichten, registriere dich zunächst bei <a href="https://www.shopgate.com/de/registrierung/" target="_blank" rel="noopener">Shopgate</a>. Nach der Registrierung erhältst du die Zugangsdaten von Shopgate.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Shopgate in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel findest du Informationen zu Einstellungen und Funktionen für den Markplatz Shopgate. Um Shopgate in plentymarkets einzurichten, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Shopgate in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Shopgate</strong>.</p>
</li>
<li>
<p>Klappe den <strong>Mandant (Shop)</strong> auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-shopgate">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen des Marktplatzes Shopgate</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Zugangsdaten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebsmodus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betriebsmodus wählen.<br>
<strong>Live</strong> = Mit den gespeicherten Einstellungen online schalten.<br>
<strong>Shopgate-Testsystem</strong> = Testmodus aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundennummer eingeben, wie von Shopgate erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop-Nummer eingeben, wie von Shopgate erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">API-Key eingeben, wie von Shopgate erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Grundkonfiguration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deaktivieren</strong> = Schnittstelle ausschalten.<br>
<strong>Aktivieren</strong> = Schnittstelle einschalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exporttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)-Artikel</strong> oder <strong>Alle Artikel</strong> wählen.<br>
<strong>Alle Artikel</strong> = Alle Artikel exportieren.<br>
<strong>Mandant (Shop)-Artikel</strong> = Nur Artikel exportieren, die für einen Webshop <a href="#400">verfügbar</a> gestellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name wählen, der für Shopgate verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache wählen, die für Shopgate verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein Stückrabatt aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob <a href="/auftraege/gutscheine">Gutscheincodes</a> für Kampagnen mit der Rabattart <strong>Stückrabatt</strong> geprüft und ggf. akzeptiert werden sollen.<br>
<strong>Ja</strong> = Gutscheincodes prüfen und Rabatt abziehen, wenn der Code gültig ist.<br>
<strong>Nein</strong> = Gutscheincodes nicht prüfen. Gutscheincodes der Rabattart <strong>Stückrabatt</strong> werden grundsätzlich abgelehnt.<br>
<strong>Hinweis:</strong> Gutscheincodes für Kampagnen mit anderen Rabattarten werden automatisch geprüft und der Rabatt abgezogen, wenn der Code gültig ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Erweiterte Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Versandkosten an Shopgate übertragen.<br>
<strong>Nein</strong> = Versandkosten nicht an Shopgate übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Artikel eingeben, die als Bestandspuffer nicht an Shopgate übertragen werden sollen.<br>
Artikel werden nicht restlos über diesen Marktplatz abverkauft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge für Artikel ohne Bestandsbindung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelmenge eingeben, die für Artikel ohne Bestandsbindung bei Shopgate als Bestand geführt werden soll.<br>
<strong>Wichtig</strong>: Varianten-Artikel werden nur übertragen, wenn im Tab <strong>Bestand</strong> des Artikels für die <strong>Beschränkung</strong> entweder <strong>keine Beschränkung</strong> oder <strong>Beschränkung auf Netto-Warenbestand</strong> gewählt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grenzwert für Artikel-Upload</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximale Artikelmenge eingeben, die bei Shopgate hochgeladen werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Freitextfeld wählen, um die dort eingegebenen Texte als Artikelbeschreibung anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Technische Daten zur Artikelbeschreibung hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Im Tab <strong>Texte</strong> eines Artikels eingegebene technische Daten zu Shopgate zu übertragen.<br>
<strong>Nein</strong> = Technische Daten nicht übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelposition übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die im Tab <strong>Kategorie</strong> einer Variante hinterlegte <strong>Position</strong> an Shopgate übertragen werden soll. Anhand dieser Position werden Artikel bei der Artikelauflistung im Webshop sortiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CrossSelling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit der Cross-Selling-Funktion hast du die Möglichkeit, zu einem Artikel weitere passende Artikel anzubieten.<br>
<strong>Ja</strong> = Wenn <strong>Ja</strong> aktiviert ist, werden pro Artikel maximal 15 Cross-Selling-Artikel mit je maximal 3 Varianten übertragen.<br>
<strong>Nein</strong> = Cross-Selling-Artikel werden nicht übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsprüfung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Shopgate während des Bestellvorgangs automatisch den aktuellen Lagerbestand in plentymarkets prüfen soll.<br>
<strong>Ja</strong> = Live-Lagerbestandsprüfung automatisch während des Bestellvorgangs durchführen.<br>
<strong>Nein</strong> = Bestand während des Bestellvorgangs anhand des zuletzt per CSV-Datei an Shopgate gemeldeten Lagerbestands prüfen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Framework-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der Schnittstelle. Die URL wird automatisch hinterlegt. Die Framework-URL wird nur angezeigt, wenn bei der Option <strong>Aktiv</strong> die Einstellung <strong>Ja</strong> gewählt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mobile Weiterleitung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alias</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alias eingeben, wie von Shopgate erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Provider kann eine persönliche Domain hinterlegt werden. Um diese Domain zu nutzen, muss sie bei Shopgate hinterlegt werden.<br>
Das Ziel <strong>cname.shopgate.com</strong> muss ebenfalls beim Provider hinterlegt werden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Bestandsabgleich sowie jeweils Bestätigung bei Versand eines Artikels</p>
</li>
<li>
<p>täglicher Artikelexport</p>
</li>
<li>
<p>Übernahme der Artikelkategorien</p>
</li>
<li>
<p>Import der Aufträge, sobald die Aufträge bei Shopgate als bezahlt markiert sind</p>
</li>
<li>
<p>Erstellen eines Kundendatensatzes in plentymarkets, wenn ein Neukunde eine Bestellung über Shopgate aufgibt</p>
</li>
<li>
<p>automatische Prüfung von Gutschein-Codes während des Bestellvorgangs</p>
</li>
<li>
<p>optional automatische Live-Prüfung des Artikellagerbestands während des Bestellvorgangs (Option <strong>Bestandsprüfung</strong>)</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Weiterleitung auf mobile Webseite aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der <a href="/webshop/webshop-einrichten#weiterleitung">mobilen Weiterleitung</a> wählst du, ob beim Öffnen des Shops über einen mobilen Browser zu Shopgate umgeleitet werden soll. Ohne diese Einstellung erfolgt keine Weiterleitung.</p>
</div>
<div class="paragraph instruction">
<p>Weiterleitung aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Weiterleitung</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#optionen-weiterleitung-shopgate">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="optionen-weiterleitung-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen für die Weiterleitung bei mobilen Endgeräten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weiterleitung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optimierte Anzeige des Webshops auf mobilen Endgeräten einrichten.<br>
<strong>Aktiv</strong> = Weiterleitungen auf die eingefügten URLs aktivieren.<br>
<strong>Inaktiv</strong> = Weiterleitungen deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel-URL (Kategorie)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der mobilen Variante des Webshops eingeben, z.B. <strong><a href="http://mobile.ihrplentyshop.de" class="bare">http://mobile.ihrplentyshop.de</a></strong>. Auf diese URL werden Kunden weitergeleitet, die mit einem mobilen Endgerät auf den Webshop zugreifen.<br>
<strong>Tipp</strong>: Mit der Template-Variable <strong>$ReferrerID</strong> in der URL kann nachvollzogen werden, woher Kunden weitergeleitet wurden. Die URL sieht dann z.B. so aus: <strong><a href="http://mobile.testshop.de/?referrerId=$referrerId" class="bare">http://mobile.testshop.de/?referrerId=$referrerId</a></strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ziel-URL (Artikelseite)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL eingeben, auf die Kunden weitergeleitet werden, die ein mobiles Endgerät nutzen, um z.B. von einem Artikel in einem Preisportal direkt zum Artikel im Webshop zu gelangen. Eine solche Artikel-URL kann wie folgt aussehen: <strong><a href="http://mobile.ihrplentyshop.de/?itemNumber=$itemId" class="bare">http://mobile.ihrplentyshop.de/?itemNumber=$itemId</a></strong>. Mit der Template-Variablen <strong>$ItemID</strong> in der URL ist jeder Artikel erreichbar.<br>
<strong>Tipp</strong>: Mit der Template-Variablen <strong>$ReferrerID</strong> in der URL kann nachvollzogen werden, woher Kunden weitergeleitet wurden. Die URL könnte wie folgt aussehen: <strong><a href="http://mobile.ihrplentyshop.de/?itemNumber=$itemId&amp;referrerId=$referrerId" class="bare">http://mobile.ihrplentyshop.de/?itemNumber=$itemId&amp;referrerId=$referrerId</a></strong><br>
<strong>Hinweis</strong>: Wenn hier keine URL eingegeben wird, erfolgt keine Weiterleitung von Preisportalen etc. zu den Artikeln im Webshop.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="350">4. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Shopgate verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Shopgate aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Shopgate aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Shopgate</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf Shopgate verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden. Außerdem stellst du im Menü <strong>Einrichtung » Märkte » Shopgate</strong> ein, ob du alle Artikel oder nur ausgewählte Artikel übertragen möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Shopgate einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Shopgate</strong>.</p>
</li>
<li>
<p>Wähle als <strong>Exporttyp</strong> die Option <strong>Alle Artikel</strong>.</p>
</li>
<li>
<p>Nimm weitere Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-shopgate">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf Shopgate verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ausgewählte Artikel eines Mandanten übertragen</div>
<div class="paragraph">
<p>Wenn du mehrere Webshops (Mandanten) betreibst und nicht alle Artikel aller Mandanten an Shopgate übertragen möchtest, hast du die Möglichkeit, bei jedem Artikel die Übertragung pro Mandant festzulegen. Folgende Voraussetzungen müssen für den mandantenbezogenen Export erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Einrichtung » Märkte » Shopgate</strong> wählst du als <strong>Exporttyp</strong> die Option <strong>Mandant (Shop)-Artikel</strong>.</p>
</li>
<li>
<p>Im Tab <strong>Verfügbar</strong> des Artikels aktivierst du im Bereich <strong>Märkte</strong> mindestens einen Mandanten.</p>
</li>
<li>
<p>Du darfst dort weder alle noch gar keine Mandanten gewählt haben. In beiden Fällen erfolgt kein mandantenbezogener Export.</p>
</li>
<li>
<p>Für jeden Mandanten, für den die Verfügbarkeit aktiviert wird, muss Shopgate eingerichtet sein.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="430">6. SKU für eine Herkunft festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Wähle das dazugehörige Marktplatzkonto.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Shopgate einen Verkaufspreis festzulegen. Dieser Preis wird auf Shopgate angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Shopgate festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Shopgate</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Merkmale verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verknüpfe deine Merkmale mit den Shopgate-Merkmalen. Gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Merkmale verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Klappe das Merkmal auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Aktiviere die Option <strong>Shopgate</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Shopgate Payment</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Shopgate-Zahlungsart aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Shopgate Payment</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart-shopgate">Tabelle 3</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit haben Sie die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standard-Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zahlungsart Amazon Pay</div>
<div class="paragraph">
<p>Wenn du die Zahlungsart <strong>Amazon Pay</strong> nutzen möchtest, richte für Shopgate kein separates Konto für Amazon Pay ein, sondern nutze das in plentymarkets eingerichtete Konto.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Je nach Zahlungsart erfolgen Rechnungserzeugung sowie Rechnungsversand bereits durch Shopgate, sodass du keine Rechnung mehr an den Kunden schicken musst. Du kannst prüfen, ob die Rechnungserzeugung und der Rechnungsversand durch Shopgate erfolgen, indem du jeweils deine Aufträge von Shopgate prüfst oder eine <a href="/automatisierung/ereignisaktionen#neue-ereignisaktion">Ereignisaktion</a> einrichtest, um die Rechnungserzeugung und den Rechnungsversand zu automatisieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Stornierungen automatisch an Shopgate zu senden. Stornierungen zählen bei Shopgate auch als Retouren. Deshalb ist die Aktion <strong>Retoure an Shopgate senden</strong> auszuwählen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierungen-shopgate">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-stornierungen-shopgate">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierungen-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Shopgate</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel &gt; Storniert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Shopgate senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">11. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an Shopgate zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retouren-shopgate">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-retouren-shopgate">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retouren-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Retouren an Shopgate</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Shopgate senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>