<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ab_hier_geht_es_los"><span>1.</span><span> Ab hier geht es los!</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Spielwiese</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite ist nicht Teil des Handbuchs. Aber falls du trotzdem auf dieser Seite gelandet bist: Hallo und herzlich willkommen. Diese Seite ist nur eine Testseite, auf der wir Handbuch-Formatierungen ausprobieren - damit unser Handbuch immer besser wird.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ab_hier_geht_es_los">1. Ab hier geht es los!</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Code-Beispiel findest du <a href="https://raw.githubusercontent.com/plentymarkets/manual/master/de/maerkte/ebay/assets/Main.html" target="_blank" rel="noopener">unter diesem Link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Beispiel-Code für das Tab <strong>HTML-Struktur</strong></div>
<div class="content">
<div class="paragraph">
<p>Beispiel-Code für eine mögliche HTML-Struktur:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;$ListingTitle&lt;/title&gt;
    &#123;&#37; GetCSSFile() &#37;&#125;
&lt;/head&gt;
&lt;body&gt;
    $MainFrame
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>
</div>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/assets/test-gif.gif" alt="test gif">
</div>
</div>
</div>
</div>
</main>