<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ab_hier_geht_es_los"><span>1.</span><span> Ab hier geht es los!</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Spielwiese</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite ist nicht Teil des Handbuchs. Aber falls du trotzdem auf dieser Seite gelandet bist: Hallo und herzlich willkommen. Diese Seite ist nur eine Testseite, auf der wir Handbuch-Formatierungen ausprobieren - damit unser Handbuch immer besser wird.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ab_hier_geht_es_los">1. Ab hier geht es los!</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen]</strong>.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Varianten</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du verknüpfen möchtest.</p>
</li>
<li>
<p>Wechsele in das <strong>Tab: Eigenschaften</strong>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Varianteneigenschaften</strong> aus der Dropdown-Liste <strong>Eigenschaften</strong> die Eigenschaft <strong>bol.com-Kategorie</strong> und klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Eigenschaft wird hinzugefügt.</p>
</li>
<li>
<p>Wähle für die Eigenschaft <strong>bol.com-Kategorie</strong> aus der Dropdown-Liste <strong>Wert</strong> die gewünschte Kategorie.<br>
→ Die Variante wird im zugehörigen Katalog exportiert.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.
]</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><em>Keine Fehler gefunden?</em></div>
<div class="content">
<div class="paragraph">
<p>Alles stimmt und die Variante wird trotzdem nicht exportiert? Dann prüfe das Daten-Log.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Verwende die folgenden Filter:<br></p>
<div class="ulist">
<ul>
<li>
<p><strong>bol.com</strong><br></p>
</li>
<li>
<p>pass:quotes[</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Prüfe alle Einträge mit den Levels <strong>warning</strong> und <strong>error</strong>.</p>
</li>
<li>
<p>Öffne die Logs mit der Nachricht <strong>Variante ungültig</strong>.<br>
→ Die Varianten-ID und der Grund für die Ablehnung bzw. das fehlende Merkmal werden angezeigt.</p>
</li>
<li>
<p>Korrigiere die Variantendaten.<br></p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>