<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_ab_hier_geht_es_los"><span>1.</span><span> Ab hier geht es los!</span></a></li>
<li><a href="#primary-id"><span>2.</span><span>  Section title</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Spielwiese</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite ist nicht Teil des Handbuchs. Aber falls du trotzdem auf dieser Seite gelandet bist: Hallo und herzlich willkommen. Diese Seite ist nur eine Testseite, auf der wir Handbuch-Formatierungen ausprobieren - damit unser Handbuch immer besser wird.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ab_hier_geht_es_los">1. Ab hier geht es los!</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Code-Beispiel findest du <a href="https://raw.githubusercontent.com/plentymarkets/manual/master/de/maerkte/ebay/assets/Main.html" target="_blank" rel="noopener">unter diesem Link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Beispiel-Code für das Tab <strong>HTML-Struktur</strong></div>
<div class="content">
<div class="paragraph">
<p>Beispiel-Code für eine mögliche HTML-Struktur:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;$ListingTitle&lt;/title&gt;
    &#123;&#37; GetCSSFile() &#37;&#125;
&lt;/head&gt;
&lt;body&gt;
    $MainFrame
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>
</div>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/test-gif.gif" alt="test gif">
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Beispiel-Code für das Tab <strong>HTML-Struktur</strong></div>
<div class="content">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/test-gif.gif" alt="test gif">
</div>
</div>
</div>
</div>
<div class="paragraph">
<p>Ccccccccccccaaaaaaaaaaaaaaatttttttttttttttttssssssssssssssss scream at teh bath take a big fluffing crap 💩 so mmmmmmmmmeeeeeeeeooooooooowwwwwwww, for kitty time. It’s 3am, time to create some chaos . Eat all the power cords eat a rug and furry furry hairs everywhere oh no human coming lie on counter don’t get off counter. Plan your travel knock over christmas tree curl up and sleep on the freshly laundered towels. Eat the rubberband stares at human while pushing stuff off a table friends are not food but sit in a box for hours. Tweeting a baseball. Wack the mini furry mouse. Mewl for food at 4am hide from vacuum cleaner but meow but spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce toy mouse squeak roll over but bring your owner a dead bird. Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff love me!. Going to catch the red dot today going to catch the red dot today attack like a vicious monster. Check cat door for ambush 10 times before coming in blow up sofa in 3 seconds for play time, for brown cats with pink ears. Love mew for sees bird in air, breaks into cage and attacks creature inspect anything brought into the house, for bite plants but chase after silly colored fish toys around the house. Immediately regret falling into bathtub make it to the carpet before i vomit mmmmmm human is washing you why halp oh the horror flee scratch hiss bite nyan nyan goes the cat, scraaaaape scraaaape goes the walls when the cat murders them with its claws but russian blue. Morning beauty routine of licking self scream at teh bath. Sniff all the things found somthing move i bite it tail yet hell is other people. Stare at ceiling light meow meow mama paw at your fat belly weigh eight pounds but take up a full-</p>
</div>
</div>
</div><div class="sect1">
<h2 id="primary-id">2. <a id="secondary-id"></a> Section title</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier werden Anker geworfen!</p>
</div>
</div>
</div>
</main>