<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Zalando registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Zalando in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#330"><span>5.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#350"><span>6.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#400"><span>7.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#500"><span>8.</span><span> Silhouetten in Merkmale konvertieren</span></a></li>
<li><a href="#600"><span>9.</span><span> Zalando-Artikelmerkmale exportieren</span></a></li>
<li><a href="#700"><span>10.</span><span> Attribute verknüpfen</span></a></li>
<li><a href="#800"><span>11.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#900"><span>12.</span><span> Verarbeitungsberichte abrufen</span></a></li>
<li><a href="#1000"><span>13.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Zalando</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Durch das Zalando-Partnerprogramm können Online-Händler und Hersteller Zalando als zusätzlichen Absatzkanal für hochwertige Produkte nutzen und von der großen Markenbekanntheit von Zalando profitieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Zalando registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei Interesse am <a href="https://www.zalando.de/partner/" target="_blank" rel="noopener">Partnerprogramm</a> wende dich bitte zunächst direkt an Zalando.</p>
</div>
<table id="ansprechpartner" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ansprechpartner</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ansprechpartner</th>
<th class="tableblock halign-left valign-top">E-Mail-Adresse</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zalando-Partnerprogramm-Team</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:partner.programm@zalando.de" target="_blank" rel="noopener">partner.programm@zalando.de</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Zalando in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn die Aufnahme in das Partnerprogramm seitens Zalando abgeschlossen ist, stellt dir Zalando ein Handbuch sowie Hilfestellung bei der Einrichtung der Schnittstelle zur Verfügung. In plentymarkets nimmst du folgende Grundeinstellungen vor.</p>
</div>
<div class="paragraph instruction">
<p>Zalando in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Zalando » Einstellungen</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#grundeinstellungen-zalando">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="grundeinstellungen-zalando" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Grundeinstellungen des Marktplatzes Zalando</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Grundkonfiguration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">API-Benutzer wählen. Das Konto für den API-Benutzer wird bei der Ersteinrichtung erstellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisspalte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preisspalte wählen, die für Zalando-Artikel verwendet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zuordnung Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop) wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager wählen.<br>
<strong>Übertrage die Bestandsmenge des Vertriebslagers mit dem aktuell größten Bestand</strong> = Vertriebslager mit aktuell größtem Bestand des Artikels als Lager wählen.<br>
<strong>Verwende Hauptlager des Artikels</strong> = Hauptlager des Artikels als Lager wählen.<br>
<strong>Übertrage die Summe der Bestandsmenge aller Vertriebslager</strong> = Bestände aller Vertriebslager werden addiert und die Summe übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Erweiterte Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandspuffer in Stück eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge für Artikel ohne Bestandsbindung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge für Artikel ohne Bestandsbindung eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grenzwert für Artikel-Upload</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ziffer eingeben, um den Grenzwert für den Artikel-Upload in Stück pro Artikel festzulegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Regelsteuersatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>19 %</strong> oder <strong>7 %</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ermäßigter Steuersatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>19 %</strong> oder <strong>7 %</strong> wählen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierten Funktionen bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Täglicher Artikelexport</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Zalando verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Zalando aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Zalando aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Zalando</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf Zalando verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Zalando einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Zalando</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen neben der Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf Zalando verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="330">5. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Zalando</strong>.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">6. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Zalando einen Verkaufspreis festzulegen. Dieser Preis wird auf Zalando angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Zalando festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Zalando</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">7. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verknüpfe deine Webshop-Kategorien mit den Kategorien von Zalando, damit deine Artikel in diesen Zalando-Kategorien angezeigt werden. Weitere Artikel der verknüpften Kategorien werden dann automatisch zugewiesen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Zalando » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Zalando-Kategorie</strong> eine Kategorie.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Silhouetten in Merkmale konvertieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Zalando » Einstellungen » Tab: Silhouetten</strong> konvertierst du Zalando-Silhouetten in Artikel-Merkmale. Silhouetten werden bei der Ersteinrichtung von Zalando übertragen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Zalando » Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Silhouetten</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Gruppen</strong> für die Merkmale, die du konvertieren möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Merkmale werden im plentymarkets System erstellt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Zalando-Artikelmerkmale exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die von dir im Bereich <strong>Gruppen</strong> gespeicherten Silhouetten kannst du exportieren und für den dynamischen Datenimport verwenden.</p>
</div>
<div class="paragraph instruction">
<p>Zalando-Artikelmerkmale exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Zalando » Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Silhouetten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Zalando Artikel-Merkmale exportieren</strong>.<br>
→ Eine Datei mit den Parametern der Merkmale wird exportiert.</p>
</li>
<li>
<p>Öffne die Datei.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#zalando-merkmale">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="zalando-merkmale" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Werte für Zalando-Merkmale</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spalte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen der Merkmalgruppen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Silhouette</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Werte aller Silhouetten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merkmal-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Webshop-Merkmals eingeben. Die ID des Merkmals findest du im Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merkmal-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmaltyp eingeben. Folgende Eingaben sind möglich:<br>
<strong>empty</strong> = Wenn das Merkmal nicht verwendet wird, diesen Wert eingeben. Wird das Merkmal benötigt, muss <strong>empty</strong> durch <strong>1</strong> ersetzt werden.<br>
<strong>text</strong> = Wert in Textform eingeben, z.B. "Rot" für Farbe.<br>
<strong>int</strong> = Zahl eingeben, z.B. die Absatzhöhe.<br>
<strong>selection</strong> = Auswahl-ID der Option aus der Dropdown-Liste eingeben. Die Auswahl-ID für Merkmale vom Typ <strong>Auswahl</strong> findest du im Menü <strong>Einrichtung » Artikel » Merkmale</strong> unter <strong>Auswahl-ID</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtangabe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn in einer Zelle der Wert <strong>1</strong> steht, muss das Merkmal übertragen werden. Merkmale können auch in Abhängigkeit bereits gewählter Merkmale den Wert <strong>1</strong> erhalten. Beachte hierzu die von Zalando bereitgestellte Dokumentation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>de</strong> in die von dir verwendeten Zeilen eingeben. Bisher ist nur die deutsche Sprache verfügbar.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die exportierten Zalando-Merkmale kannst du mittels <a href="/daten/export-import/datenformate/_itemproperties">Datenformat</a> über den <strong>dynamischen Import</strong> mit den Artikeln in deinem plentymarkets System verknüpfen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Attribute verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du Attribute in deinem plentymarkets System erstellt hast, verknüpfst du diese Attribute mit Zalando. Im Folgenden wird beschrieben, wie du das Attribut Farbe mit Zalando verknüpfst. Verknüpfe anschließend weitere Attribute auf die gleiche Weise.</p>
</div>
<div class="paragraph instruction">
<p>Attribute "Farbe" verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.<br>
→ Eine Übersicht aller erstellten Attribute wird geöffnet.</p>
</li>
<li>
<p>Öffne das Attribut <strong>Farbe</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Marktplatzvariation</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Marktplatz</strong> die Option <strong>Zalando</strong>.<br>
→ Die Dropdown-Liste <strong>Zalando</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Zalando</strong> das Attribut <strong>Farbe</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">11. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Zalando Payment</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>bol.com-Zahlungsarten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Zalando Payment</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart-zalando">Tabelle 4</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart-zalando" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">12. Verarbeitungsberichte abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Zalando » Einstellungen » Tab: Verarbeitungsberichte</strong> stehen dir Verarbeitungsberichte sowie das Export-Log für Zalando zur Ansicht zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Verarbeitungsberichte abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Zalando » Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verarbeitungsberichte</strong>.</p>
</li>
<li>
<p>Klicke unter <strong>Aktionen</strong> in der Zeile eines Verabeitungsberichts auf <strong>Datei herunterladen</strong>.<br>
→ Eine CSV-Datei wird heruntergeladen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das Export-Log lädst du im Bereich <strong>Export-Log</strong> herunter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">13. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » API-Log</strong> findest du eine Historie über Vorgänge, die über die Zalando-Schnittstelle ausgeführt wurden. Das Format <strong>ZalandoController</strong> steht dir für Zalando zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wähle das Format <strong>ZalandoController</strong> aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ggf. ein Datum, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Wähle die Anzahl der Ergebnisse pro Seite.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um die Ergebnisse anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</main>