<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing MFN returns</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Someone bought your item on Amazon, but now they want to send it back. How’s that going to work? This video teaches MFN sellers how to manage their returns with plentymarkets.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/amazon/orders/mfn-returns-create-new-return#video">Creating a new return in plentymarkets (0:40)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/orders/mfn-returns-notify-amazon#video">Notifying Amazon of returns (1:40)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/orders/mfn-returns-statuses#video">Using statuses to understand Amazon’s reply (2:08)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/307436538#at=128" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Someone bought your giraffe t-shirt on Amazon! But they bought the wrong size and now they want to send it back.</p>
</div>
<div class="paragraph">
<p>How’s that going to work?</p>
</div>
<div class="paragraph">
<p>Once your customer has logged into Amazon and printed out a return label, she’s ready to send the item back.</p>
</div>
<div class="paragraph">
<p>It won’t be long until the package arrives at your business, and you’ll get down to work.</p>
</div>
<div class="paragraph">
<p>This video teaches you what to do when Amazon items are returned to your store. There are essentially just three steps.</p>
</div>
<div class="paragraph">
<p>First, you’ll create a new return in plentymarkets and second, you’ll notify Amazon of the return.</p>
</div>
<div class="paragraph">
<p>Third, you’ll find out whether Amazon received your notification.</p>
</div>
<div class="paragraph">
<p>OK, first things first. You’ll need to create a return, which corresponds to the original order in plentymarkets. Now there are two ways to do this.</p>
</div>
<div class="paragraph">
<p>On the one hand, you could open up with original order and manually create the return like so.</p>
</div>
<div class="paragraph">
<p>Or on the other hand, you may want to use a process, which automatically creates returns for you in your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>All your warehouse technician needs to do is find the order that’s being returned, select this order, and then scan the barcode or ID for any items that it includes.</p>
</div>
<div class="paragraph">
<p>At this point, your warehouse technician will inspect the item to see whether it’s in good condition or whether it was damaged by the customer.</p>
</div>
<div class="paragraph">
<p>Finally, your warehouse technician creates the return.</p>
</div>
<div class="paragraph">
<p>It will land in the order overview where you can continue processing it even further.</p>
</div>
<div class="paragraph">
<p>And where you’ll create a credit note to refund the customer.</p>
</div>
<div class="paragraph">
<p>At this point, you’ll want to automatically send Amazon some information about the return.</p>
</div>
<div class="paragraph">
<p>This is really easy to do by creating an event procedure which goes into effect as soon as you’ve created a credit note for Amazon returns.</p>
</div>
<div class="paragraph">
<p>Any time this happens, plentymarkets will automatically notify Amazon of the new return.</p>
</div>
<div class="paragraph">
<p>And then plentymarkets will tell you either that the return was successfully transmitted to Amazon, or that something went wrong along the way.</p>
</div>
<div class="paragraph">
<p>More specifically, plentymarkets will change the return’s status to one number if everything went well and a different number if there was a problem.</p>
</div>
<div class="paragraph">
<p>Essentially, you can pick whichever statuses you’d like but in practice, we recommend that you head on over to the order status menu and create two new Amazon return statuses with the next logical numbers, so in this example 9.6 and 9.7.</p>
</div>
<div class="paragraph">
<p>And that’s exactly what I’ll do.</p>
</div>
<div class="paragraph">
<p>I just enter a logical number, like 9.6</p>
</div>
<div class="paragraph">
<p>Then give it a name and save the settings.</p>
</div>
<div class="paragraph">
<p>Then one more time to create another status for returns that were not transmitted correctly.</p>
</div>
<div class="paragraph">
<p>Your next stop will be in the Amazon MFN settings where you’ll tell plentymarkets which statuses you’ve created for returns that were successfully sent to Amazon and returns that could not be sent to Amazon.</p>
</div>
<div class="paragraph">
<p>When plentymarkets switches the return’s status to 9.6, it will also close your customer’s return within her Amazon account.</p>
</div>
<div class="paragraph">
<p>Congratulations! You’ve done it! You’ve learned how to efficiently handle any Amazon items that are returned to your store.</p>
</div>
</div>
</div>
</main>