<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Having Amazon fulfil orders from any platform with multi-channel FBA</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon can fulfil orders placed on eBay in your online store or on any other sales channel. And you can keep track of it all with plentymarkets. Simply configure a subset of FBA options and you’ll be on your way.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/314727596" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Did you know that Amazon can fulfil orders on your behalf?</p>
</div>
<div class="paragraph">
<p>In other words, you can store your products in Amazon’s warehouse and then have them fulfil orders and ship packages for you with the Prime label.</p>
</div>
<div class="paragraph">
<p>But the best part? It doesn’t matter if your customer bought the item on Amazon, eBay, in your online store or on any other sales channel. Wherever you made the sale, Amazon can take care of it for you!</p>
</div>
<div class="paragraph">
<p>Once you’ve booked this so-called "Multi-Channel" service in your Amazon account you’ll need to watch our video on Amazon FBA and configure the settings in your plentymarkets system accordingly.</p>
</div>
<div class="paragraph">
<p>Afterwards, you’ll be ready to focus on the sub-set of options that apply specifically to multi-channel.</p>
</div>
<div class="paragraph">
<p>Okay, first off, the point of multi-channel is that you’re asking Amazon to not only fulfil those orders that were placed on Amazon but also to fulfil orders placed on eBay, your online store or any other sales channel.</p>
</div>
<div class="paragraph">
<p>So of course, it makes sense to pick this option here.</p>
</div>
<div class="paragraph">
<p>Now moving on to the status. Keep in mind that Multi-Channel FBA is a service which packs and ships orders on your behalf.</p>
</div>
<div class="paragraph">
<p>Here, you’ll specify which status the order should be given when it’s handed over to Amazon to be fulfilled.</p>
</div>
<div class="paragraph">
<p>Since Amazon will then fulfil the order and ship the item, this will be the order’s final status. And as such, we recommend picking a status that starts with the number 7.</p>
</div>
<div class="paragraph">
<p>So for example, 7.3.</p>
</div>
<div class="paragraph">
<p>But just FYI, if you don’t see an appropriate status in this drop-down menu, then you can create one in the order settings.</p>
</div>
<div class="paragraph">
<p>Next up, item bundles. Let me start out by saying, there’s no right or wrong choice here. Which option you choose depends on how you’ve set up your item bundles on Amazon.</p>
</div>
<div class="paragraph">
<p>Let me explain. Imagine you sell camping gear, like a compass, a flashlight and a Swiss army knife.</p>
</div>
<div class="paragraph">
<p>Okay, now the question is - do you only sell these items individually?</p>
</div>
<div class="paragraph">
<p>Or do you perhaps offer them all together in a survival kit? Or in other words, in an item bundle.</p>
</div>
<div class="paragraph">
<p>Or can customers choose between buying the survival kit or buying one or two of the items individually?</p>
</div>
<div class="paragraph">
<p>That’s the idea behind this drop-down menu here.</p>
</div>
<div class="paragraph">
<p>You’ll want to choose "Transmit without package position" if you only sell the items individually, and each individual item has its own SKU.</p>
</div>
<div class="paragraph">
<p>On the other hand, you’ll want to choose "Transmit package position only" if you only sell the items together in a bundle, and the bundle has its own SKU.</p>
</div>
<div class="paragraph">
<p>Or, you’ll want to choose "Transmit all order positions" if you sell the items in a bundle with a SKU, and you also sell the items individually, with their own SKUs.</p>
</div>
<div class="paragraph">
<p>Finally, use this option here to choose whatever type of shipping was stipulated in your contract with Amazon. If you’re not sure what type of shipping was agreed upon, then take a look in your Amazon contract or in the terms and conditions.</p>
</div>
<div class="paragraph">
<p>Congratulations! Amazon will now begin fulfilling orders on your behalf regardless whether they were placed on Amazon, in your online store, on eBay or on any other sales channel.</p>
</div>
</div>
</div>
</main>