<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Requirements</span></a></li>
<li><a href="#200"><span>2.</span><span> Creating a new item</span></a></li>
<li><a href="#300"><span>3.</span><span> Creating the necessary variations</span></a></li>
<li><a href="#400"><span>4.</span><span> Adding further product data</span></a></li>
<li><a href="#600"><span>5.</span><span> Putting products up for sale</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Manually creating items and variations</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ready to start entering item data into plentymarkets?
This page teaches you how to manually create items and variations.</p>
</div>
<h4 id="_procedure" class="discrete">Procedure</h4>
<div class="ulist">
<ul>
<li>
<p>Create the <a href="/en/item/new-ui/manually-create-item#200">item data record</a>.</p>
</li>
<li>
<p>Should the item be available e.g. in various sizes or colours? Then create <a href="/en/item/new-ui/manually-create-item#300">all of the necessary variations</a>.</p>
</li>
<li>
<p>Add <a href="/en/item/new-ui/manually-create-item#400">further product data</a> like images, texts and stock information.</p>
</li>
<li>
<p><a href="/en/item/new-ui/manually-create-item#600">Activate the item</a> once it’s ready to be sold.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Would you rather import items?</div>
<div class="paragraph">
<p>This page teaches you how to manually create items and variations.
This is useful, e.g. if you only want to add a few new products to your assortment.
But what if you want to add several hundred item data records?
It would take far too long to do this manually.
Take a look at the various <a href="/en/item/import-export-create">tools</a> for importing item information.
Choose the tool that is most appropriate for your situation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This page assumes that you already have basic knowledge of the item structure in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Do you know the <a href="/en/item/introduction/structure">difference between items and variations</a>?</p>
</li>
<li>
<p>Do you know how variations can <a href="/en/item/introduction/inheritance">inherit data</a>?</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Furthermore, make sure you’ve saved the following data in your system before you start manually creating items and variations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/attributes">Attributes and attribute values</a></p>
</li>
<li>
<p><a href="/en/item/settings/categories">Categories</a></p>
</li>
<li>
<p><a href="/en/item/settings/prices">Sales prices</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Creating a new item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create the item data record by entering some basic information about the product.
Don’t worry, the item will not be available for sale immediately.
After creating the item, you will add further product information and then activate the item when it is ready to be sold.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Item UI</strong>.</p>
</li>
<li>
<p>Click on <strong>Create a new item</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).<br>
→ A pop-up window opens. This window is divided into several steps.</p>
</li>
<li>
<p>Carry out the settings in each step.</p>
</li>
</ol>
</div>
<h4 id="_step_name" class="discrete">Step: Name</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the item.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
Once you’ve created the item, you can translate the name into other languages or save additional names, e.g. if you want the item to have a different name on marketplaces.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_step_categories" class="discrete">Step: Categories</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Choose categories</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which category should the item be sorted into?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Choose categories</strong>.<br>
→ A pop-up window opens.</p>
</li>
<li>
<p>Expand the entries (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) and select all of the categories (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this item should appear in.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The selected categories will be displayed as a table.
Click on <span class="icon "><i class="material-delete"></i></span> to remove a category from this list or click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Choose categories</strong> to add further categories.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This list only includes the <a href="/en/item/settings/categories">categories</a> that you’ve already created in plentymarkets.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_step_main_variation_optional" class="discrete">Step: Main variation (Optional)</h4>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s a main variation?</div>
<div class="paragraph">
<p>An item’s first variation is called its main variation.
If an item has multiple variations, then the main variation can either be a saleable product or it can be a virtual data record. A virtual main variation is used to manage the other variations of the item with inheritance.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number for the main variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong><br>
<strong>Unit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a numerical value for the main variation and choose a unit from the drop-down list, e.g. 500ml or 150g.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Choose attributes</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The main variation can either be a saleable product or it can be a virtual data record. A virtual main variation is used to manage the other variations of the item with inheritance.
That means, the main variation can have attributes, but it is not required to.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Choose attributes</strong>.<br>
→ A pop-up window opens.</p>
</li>
<li>
<p>Expand the attributes (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) and select the attribute values (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to use for the main variation, e.g. the size "small" and the colour "red".</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The selected attribute values will be displayed as a table.
Click on <span class="icon "><i class="material-delete"></i></span> to remove an attribute value from this list or click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Choose attributes</strong> to add further attribute values.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This list only includes the <a href="/en/item/settings/attributes">attributes and values</a> that you’ve already created in plentymarkets.</p>
</div>
<div class="paragraph">
<p><strong><em>Recommendation</em></strong>: It’s technically possible to select attributes here. However, we don’t recommend this.
Rather, we recommend that you first create the new item without any attributes. Afterwards, we recommend that you select attributes while you <a href="/en/item/new-ui/manually-create-item#300">create the necessary variations</a>.<br>
Why? If you link attributes with the main variation right now, then all of the following variations will have to be created from the same attributes too. This is not the case if you wait to link attributes while creating variations.
In other words, it makes you more flexible in the future.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_step_done" class="discrete">Step: Done</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Summary</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you can see a summary of the settings that you selected.
Click on <strong>Create item</strong> if you are satisfied with the settings.</p>
</div>
<div class="paragraph">
<p>Afterwards, you will have the following options:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To the item</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The pop-up window will close and the newly created item data record will open for further editing.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create another item</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The pop-up window will re-start for the next item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Close</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The pop-up window will close.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Creating the necessary variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some items like shoes and t-shirts are sold in various sizes and colours.
In other words: customers don’t simply buy a t-shirt, but rather a specific variation of a t-shirt, e.g. in the colour red and the size S.
First, create all of the necessary variations.</p>
</div>
<div class="paragraph instruction">
<p>Creating the necessary variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Item UI » [Open item] » Variation overview</strong>.</p>
</li>
<li>
<p>Click on <strong>Create variations</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).<br>
→ A pop-up window opens. This window is divided into several steps.</p>
</li>
<li>
<p>Carry out the settings in each step.</p>
</li>
</ol>
</div>
<h4 id="_step_settings" class="discrete">Step: Settings</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong><br>
<strong>Unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Use this area if the variations should differ in terms of quantity and/or unit.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: A bottle of soap that’s available in 100ml, 250ml and 500ml.</p>
</div>
<div class="paragraph">
<p><strong><em>Instructions</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Enter the quantity and unit for the first variation, e.g. 100ml.</p>
</li>
<li>
<p>Click on <strong>Create variations</strong>.</p>
</li>
<li>
<p>Repeat the procedure for 250ml and for 500ml.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select attributes</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Use this area if the variations should differ in terms of their attribute values.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: A t-shirt that’s available in the colours green or blue and in the sizes S, M or L.</p>
</div>
<div class="paragraph">
<p><strong><em>Instructions</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Select attributes</strong>.<br>
→ A pop-up window opens.</p>
</li>
<li>
<p>Expand the attributes (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) and select all of the attribute values (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to use, e.g. the sizes "S", "M", "L" and the colours "green" and "blue".</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The selected attribute values will be displayed as a table.
Click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Select attributes</strong> if you want to change your selection.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> and make sure that the combinations are correct.</p>
</li>
<li>
<p>Click on <strong>Create variations</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This list only includes the <a href="/en/item/settings/attributes">attributes and values</a> that you’ve already created in plentymarkets.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="_step_preview" class="discrete">Step: Preview</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this area if you want to make sure that the combinations are correct.</p>
<p class="tableblock"><strong><em>Example</em></strong>: If you combine the sizes "S", "M", "L" with the colours “green” and “blue”, then you will have 6 variations.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Above the table, you can see how many combinations will be created.
There is no limit to how many combinations are possible.</p></td>
</tr>
</tbody>
</table>
<h4 id="_step_summary" class="discrete">Step: Summary</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Summary</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you’ll see a confirmation that the variations were created.</p>
<p class="tableblock"><strong><em>Note</em></strong>:
It can take a few minutes for the new variations to appear in the overview.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Adding further product data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>While creating the item, you entered some basic information about the product.
Now you can add further information.
For example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Upload images</p>
</li>
<li>
<p>Write product texts</p>
</li>
<li>
<p>Save prices</p>
</li>
<li>
<p>Add stock information</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="600">5. Putting products up for sale</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Variations are not visible to customers in the plentyShop until they have been activated.
In other words, you can work on inactive variations without your customers noticing.
You activate the variation when you’re ready for it to be visible in your plentyShop.</p>
</div>
<div class="paragraph instruction">
<p>Activating a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Item UI » [Open variation] » Element: Availability and visibility</strong>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Complete checklist for item visibility</div>
<div class="paragraph">
<p>Not only do items need to be activated, but they also need to have a price, a category and positive net stock.
Otherwise customers wouldn’t be able to buy the item.
Work through <a href="/en/item/online-store/checklist-items-visibility">this checklist</a> and make sure your item meets all of the requirements for being visible in the plentyShop.
This checklist helps you find any possible errors that are preventing your items from being displayed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>