<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Manually creating returns</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to create and manage returns in plentymarkets! This video teaches you how to manually create returns, how to indicate whether returned items are fit for resale, and how to add returned items back to your stock.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/manual-returns-creation#video">Creating a return (0:09)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/manual-returns-slip#video">Generating a return slip (1:06)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/manual-returns-statuses#video">Selecting item statuses (1:50)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/manual-returns-stock#video">Adding items to your stock (2:19)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/238945973" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Finished configuring the basic settings for returns? Then let’s get down to it and learn how to manually create returns in your plentymarkets back end.</p>
</div>
<div class="paragraph">
<p>Simply open the customer’s order and look for the drop-down menu called "Return".
You may want to check whether one of your staff members have already created a return for this order. Just click on "search" to see any returns that have already been created.
Here you can see that I don’t have any returns yet so I can create one by clicking on "create" instead.
The settings in this pop-up window are all pretty straight forward. So just select the appropriate status and owner and then use check marks to indicate which items are being returned.
Finally, specify how many copies of the item are being returned and select the appropriate reason for return.</p>
</div>
<div class="paragraph">
<p>Alright, now the return has been created and it opens in a new tab.
Here you can see that the return is given its own ID and you can see which order it corresponds to.
OK, now at this point, it makes sense to generate a return slip and e-mail it to your customer.
So just switch back to the return that you created a moment ago click on the "Receipts" tab and create the return slip by selecting it from the drop-down menu. The return slip has now been created and can be e-mailed to the customer.
Of course, you can customize which exact information appears on your return slips and how these documents are designed. Just take a look at our video on that topic for further information.</p>
</div>
<div class="paragraph">
<p>Once you’re done, you may want to spend some time thinking about the items that are actually being returned. In other words, you may want to configure item statuses to indicate whether a returned item is fit for resale.
Simply navigate to the "Return" menu and enter item statuses into the fields here.
Then when you’re working with returns you’ll be able to select a status for every item that’s included in the return.
And again, note that the first status is pre-selected by default and that the statuses here are listed in the same order as they were saved in your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>Last but not least, once you’ve received the item and made note of its status, you’ll want to add the item back to your stock.
Simply open the return, click on the "Settings" tab and then click on the words "Add items to stock".
In the new window that appears, select the item quantity and specify which warehouse the item has been returned to.</p>
</div>
<div class="paragraph">
<p>And that’s all there is to manually creating and working with returns!
Once you’ve got the hang of it, you’re ready to move onto the next video in this series, where I’ll show you how to compensate customers.</p>
</div>
</div>
</div>
</main>