<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Return or cancellation? The path to great customer service</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn the difference between a return and a cancellation. If your need to, compensate your customer with a refund, replacement or repair.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/238950447" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>As business savvy as you are, you’ve set up your online store with contingencies in place for when things don’t go according to plan. But what do you do when things are off course after a sale and your customer isn’t 100% satisfied with their purchase? Are you dealing with a return or a cancellation? And what documents are necessary in each case?</p>
</div>
<div class="paragraph">
<p>Sometimes your customer wants to cancel an order directly after a purchase or they want to cancel their order, but have already paid.
So your customer will return the item in exchange for a refund or a new item if its damaged or broken.
But no worries, each of these scenarios are easy to deal with in plentymarkets.
Good thing you’ve got a few plan Bs to fall back on. The strategic words are cancellation, return, credit note, warranty and repair, so statuses 8 through 12. But be warned: not every situation calls for a status change.</p>
</div>
<div class="paragraph">
<p>Let’s start at the beginning. Today’s your lucky day and you’ve got the rare opportunity to read your customer’s mind.</p>
</div>
<div class="paragraph">
<p>Scenario 1:
Oh! I just bought an item, but I’ve changed my mind.
This one’s easy if you haven’t sent the item yet! All you need to do is cancel the order.
In this case, simply change the status in your system and your item is no longer reserved in your stock. And to revoke all existing documents, simply create a reversal document in your system.</p>
</div>
<div class="paragraph">
<p>Scenario 2:
I bought an item and the money has already been booked to your account. But I’ve changed my mind and want to cancel my order.
Similar scenario: your customer has already paid for the item and the money is in your account, but the item hasn’t been sent. So in addition to cancelling the order, you’ll also have to issue a credit note. This time, however - don’t. Just change the status. In order for your customer to get their money back, you’ll have to issue the refund by actually creating a credit note in your order instead.</p>
</div>
<div class="paragraph">
<p>Scenario 3:
I’ve received and paid for my item, but I don’t want it anymore. How do I get my money back?
As soon as the item leaves your warehouse, you’re no longer dealing with a cancellation, but a return.
And again, even though you might be tempted to simply change the status of your order to "Return" - don’t! You will again have to create a return in the order so that your returns can be taken into account in your statistics.</p>
</div>
<div class="paragraph">
<p>If your customer wants their money back, you’ll again issue a credit note - and since you’re dealing with a return, you’ll also create the credit note in the return.
Once the item is back in your warehouse, simply create the credit note to refund your customer.</p>
</div>
<div class="paragraph">
<p>Pretty simple, right? If you want to return money to your customer, you’ll have to first check whether the ordered item has already been sent - so if your dealing with a cancellation or a return. Depending on the situation, you’ll create a credit note in either the cancelled order or the return.</p>
</div>
<div class="paragraph">
<p>Scenario 4:
Hmph! I bought an item I like but it’s broken!
Well here you’ve got two options. You can either create a return with a warranty - so your customer is sent a new item and is not charged for the resulting shipping costs. Or you wait for your customer to return the defective item and ship it back to them as soon as it’s fixed.</p>
</div>
<div class="paragraph">
<p>There you go! Plan Bs you can work with. Just check out our various videos that go into each scenario in detail.
Even though this topic seems a little irritating at first, it’s just a small part of e-commerce. Plus plentymarkets provides you with an easy solution for each scenario. Time to shine with great customer service</p>
</div>
</div>
</div>
</main>