<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Documenting your cash on hand</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">It’s important to regularly check how much cash is in your till. Learn how to count your cash as a whole or record every bill and coin denomination individually. The result is saved in plentymarkets and you can view an electronic record.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/pos/working-with-app/cash-on-hand-counting#video">Counting your cash on hand (0:33)</a></p>
<p class="tableblock"><a href="/en/videos/pos/working-with-app/cash-on-hand-discrepancies#video">Dealing with discrepancies (1:37)</a></p>
<p class="tableblock"><a href="/en/videos/pos/working-with-app/cash-on-hand-receipt#video">Viewing the electronic record (2:13)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/209726347#at=133" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Dorothy’s hard at work counting the cash in her till. It’s time for a shift change in her store, and she wants to know just how much cash is on hand when the new shift takes over. Your plentymarkets point of sale system makes it easy to document the amount of cash in a drawer at any given time.</p>
</div>
<div class="paragraph">
<p>Simply open up your plentymarkets app and tap on the words "Till count". Your cash drawer will open and you can start counting away.
Just as a side note for anyone who’s following along on a smartphone. The information will be arranged slightly differently on your screen. But don’t worry, the functions are exactly the same.
OK, so on the left side of the screen, tap on a denomination to highlight it in blue. For example, 20 pence.
Then on the right side of the screen, enter how many 20p coins you’ve got in your drawer.
Up here, you can see how much money is expected to be in your drawer and a running tally of how much you’ve already counted.
Just proceed the same way until you’ve finished counting all the notes and coins.
If you ever accidentally enter the wrong amount, just tap on the "C" button to clear the entry.</p>
</div>
<div class="paragraph">
<p>Now that you’ve got the hang of it, let’s speed things up a bit by using the return arrow. This little arrow lets you jump to the next denomination.
So start by entering how many pennies are in your drawer and now tap on the arrow to jump down to 2p, then 5p and so on.
In some cases, you may prefer to count your cash as a whole, rather than to record every note and coin individually. In this case, simply tap on the word "Overwrite" and use the number pad to enter the total amount of money in your till drawer.</p>
</div>
<div class="paragraph">
<p>In some cases there may be a slight discrepancy between the expected cash on hand and the actual cash on hand.
Now normally, you can avoid such discrepancies by manually making deposits or withdrawals throughout the day. But if you still end up with a slight difference when you save your till count, then you’ll be given the opportunity to book the difference here too.</p>
</div>
<div class="paragraph">
<p>Your printer will spit out a receipt, which you can file away with your records. Depending on how you counted your cash, your receipt will either include one total lump sum, or it will break down every note and coin individually.
Along with this paper receipt, plentymarkets will keep an electronic record as well.
You can find it by opening the document archive and searching for the document called "Till count".
Or head on over to the cash journal if you’d like to see a record of the deposit that you made when booking the difference just a moment ago.
The booking text here indicates which deposits and withdrawals were the result of till count discrepancies.
You’re starting to balance your cash register like a pro! Once you’re ready, dive into the next video, which looks at X and Z reports for determining your end of day balance.</p>
</div>
</div>
</div>
</main>