<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating Z reports</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Z reports document how much revenue you accrued throughout the day. This video teaches you how to create Z reports and where you can access electronic copies of these documents in your plentymarkets system.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/pos/working-with-app/z-report-z#video">Creating a Z report (0:19)</a></p>
<p class="tableblock"><a href="/en/videos/pos/working-with-app/z-report-receipt#video">Viewing an electronic copy (0:55)</a></p>
<p class="tableblock"><a href="/en/videos/pos/working-with-app/z-report-x#video">Creating an X report (1:30)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/209726522#at=19" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>It’s the end of the day and Dorothy’s ready to close up shop. But before she heads home, she’ll make sure all of her papers are filed away correctly and she’s properly documented her end of day balance. In other words, she’ll generate a Z report, which shows how much revenue she’s generated and which she can use as a confirmation for her local tax authorities.</p>
</div>
<div class="paragraph">
<p>Dorothy just needs to open her trusty plentymarkets app and navigate to the Z reports. The cash drawer opens automatically and Dorothy sees how much cash is expected. This total is calculated by adding up all of Dorothy’s sales and any deposits or withdrawals she’s made, for example while counting the cash in her till.
Now Dorothy counts out her end of day balance and enters this amount here.
Dorothy creates the Z report and it’s printed automatically.
At this point, Dorothy is no longer able to cancel a sale that she made during the day. Rather, she’ll need to treat it as a return.</p>
</div>
<div class="paragraph">
<p>Dorothy can also find an electronic copy of the Z report filed away in her plentymarkets system.
Here, keep in mind that the electronic document specifies who created the Z report and what time it was created. This information is relevant for financial accounting purposes and you’ll want to make sure that your mobile device uses the same time settings as your plentymarkets back end.
Also note that Z reports list grand totals. If you would prefer to see each transaction broken down individually, then head on over to the cash journal. Here you’ll see detailed information about every single transaction that was made.</p>
</div>
<div class="paragraph">
<p>OK, so the Z report gives Dorothy a summary of the entire business day. But what if Dorothy wants a mid-day report too? Of course, plentymarkets has a solution for that too!
Dorothy can generate as many X reports as she wants throughout the day. These X reports give her a snapshot of what happened on the register up until this point.
Simply tap on this button to print an X report. And keep in mind that these reports are only printed. They’re not stored electronically in your plentymarkets system.
With the help of X and Z reports in the plentymarkets app, Dorothy can document her transactions like a pro.</p>
</div>
</div>
</div>
</main>