<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a></li>
<li><a href="#20"><span>2.</span><span> The 1:n problem</span></a></li>
<li><a href="#30"><span>3.</span><span> Overview of the data fields</span></a></li>
<li><a href="#40"><span>4.</span><span> Overview of the synchronisation fields</span></a></li>
<li><a href="#45"><span>5.</span><span> Overview of the procedures</span></a></li>
<li><a href="#50"><span>6.</span><span> amazon_product_type value table</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>Item</strong> contains all of the data fields for item data.
Create and export the data format in the <strong>Data » Dynamic export</strong> menu.
The <a href="/en/data/export-import/exporting-data">Exporting data</a> page of the manual describes how you export the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Each item is given a number (ID) and as such is also uniquely defined by the data field <strong>ItemID</strong>. The following three scenarios could occur for the export and import:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the field <strong>ItemID</strong> is neither exported along with the export of item fields nor imported later on, then new items will be created with available item IDs.</p>
</li>
<li>
<p>If the data record <strong>ItemID</strong> is exported and later imported again, then changes will be made to the corresponding items.</p>
</li>
<li>
<p>If item data is imported with item IDs that do not yet exist in plentymarkets, then new items will be created with these item IDs.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If the import procedure <strong>Synchronisation</strong> is selected in the data export settings, then the item data will be synchronised during the import.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. The 1:n problem</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The 1:n problem, i.e. one to n, occurs when several characteristics were defined for one item. The following characteristics can be allocated to an item multiple times in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Price lines</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Every price set is uniquely defined by the field <strong>PriceID</strong>. If this ID is not specified, then a new price set will always be added and the existing prices will be deleted. If available, the existing price will be changed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Categories</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>An item can be available in multiple categories at the same time. However, if category data fields (CategoryLevel) were entered during the import, then all of the previous category links for this item will be deleted.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Use the data format <strong>Category</strong> for new categories</div>
<div class="paragraph">
<p>It is not possible to use the data format <strong>Item</strong> for creating new categories. With the data format <strong>Item</strong>, you can only create new category links within the item. Use the data format <a href="/en/data/export-import/data-formats/category">Category</a> instead to create new categories.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item images</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>This data format allows you to import external images with the help of URLs. Existing item images will be replaced in the process. If multiple item images are imported, then these item images have to be separated by a comma without spaces when they are entered. If you do not want to replace the existing images, then import the <a href="/en/item/managing-items#680">images</a> via FTP upload.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>Item</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields of the data format <strong>Item</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLevel1Name - CategoryLevel6Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category name of the corresponding level 1 - 6. <br>
During the data import, only one category link will be imported per item. If an item has multiple category levels, then these levels may be deleted during the import or re-import. Therefore, do not use these data fields for the category import. <br>
The data format <strong>ItemCategories</strong> is available for categories.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the name of the category level from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryRakuten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rakuten category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryYatego</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">List of the Yatego categories for these items (separated by commas)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>True</strong> = Prices (ItemPrices) will be exported as net. <br>
<strong>False</strong> = Prices (ItemPrices) will be exported as gross.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales specials; special display mode <br>
<strong>1</strong> = Special offer <br>
<strong>2</strong> = New items <br>
<strong>3</strong> = Top items</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAgeRestriction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Age rating; numerical value <br>
<strong>0</strong> = None available <br>
<strong>3</strong> = Released for ages 3 and up <br>
<strong>6</strong> = Ages 6 and up <br>
<strong>12</strong> = Ages 12 and up <br>
<strong>16</strong> = Ages 16 and up <br>
<strong>18</strong> = Ages 18 and up <br>
<strong>50</strong> = Not marked <br>
<strong>88</strong> = Not required <br>
<strong>99</strong> = Still unknown</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAmazonFBA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fulfillment by Amazon (FBA) <br>
<strong>0</strong> = Do not use <br>
<strong>1</strong> = AMAZON EU <br>
<strong>2</strong> = AMAZON FE <br>
<strong>3</strong> = AMAZON NA <br>
<strong>-1</strong> = FBA and SellerCentral</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAmazonProductType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon product type; for possible values, see <a href="/en/data/export-import/data-formats/item#50">amazon_product_type value table</a>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the Amazon product type for the item from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAPICondition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item condition. This is transferred via the API to other markets<br>
<strong>0</strong> = New<br>
<strong>1</strong> = Used but as new<br>
<strong>2</strong> = Used but very good<br>
<strong>3</strong> = Used but good<br>
<strong>4</strong> = Used but acceptable<br>
<strong>5</strong> = Factory seconds</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCondition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item condition<br>
<strong>0</strong> = New<br>
<strong>1</strong> = Used<br>
<strong>2</strong> = New and in original packaging<br>
<strong>3</strong> = New with label<br>
<strong>4</strong> = Factory seconds</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCustomsTariffNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customs tariff number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemDeepLink</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s URL</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemDraft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item template ID. The ID of a category, which was defined as an item template</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayCategory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay category; used when a new listing is created.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayCategory2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay category 2; used when a new listing is created.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayPreset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the listing’s option template. The listing template settings are used when creating new listings.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayShopCategory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the first eBay shop category. This value is used for new listings.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayShopCategory2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the second eBay shop category. This value is used for new listings.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemFEDAS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">FEDAS product classification key. The setting is found under <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Multi-Channel</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemFreeTextField1 - ItemFreeTextField20</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Free text fields that can be displayed in the online store or on eBay. The setting is found under <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Fields</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unique item ID; maximum numerical value 2^31</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Image URL; format: JPG<br>
The image will be imported and saved on the plentymarkets server.<br>
Separate multiple URLs with a comma.<br>
<strong><em>Note</em></strong>: When importing item images, the new images will not be added to the already existing images. Rather, they will replace the existing images.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemInsertedTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when the item was created. Format: dd.mm.yyyy hh:mm<br>
<strong><em>Note</em></strong>: The field is available for the export only.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemLastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last change to an item; date and time. Format: dd.mm.yyyy hh:mm</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag 1 as ID (<strong>1-31</strong>), symbols.<br>
<strong>0</strong> = no flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and the flag from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag 2 as ID (<strong>1-11</strong>), personal icons<br>
<strong>0</strong> = no flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and the flag from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item model name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNoCoupon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coupon<br>
<strong>0</strong> = Possible<br>
<strong>1</strong> = Prohibited<br>
<strong>2</strong> = Purchasable with coupon only</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemOriginCountry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s manufacturing country</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s manufacturer<br>
A manufacturer is not created automatically in the system when using this data format. Rather, the manufacturer has to already be available in the system.<br>
Make sure that you spell the name of the manufacturer correctly when using this data field.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s manufacturer ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the manufacturer from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProductType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item type<br>
<strong>0</strong> = Stocked item<br>
<strong>1</strong> = Production item<br>
<strong>2</strong> = Colli<br>
<strong>3</strong> = Special order item</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemRevenueAccount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Revenue account</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSCOMinPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All of the Second Chance Offers and best offers that are above this minimum price will automatically be accepted.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSerialNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s serial number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemShippingWithAmazonFBA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/markets/amazon#370">Amazon Multi-Channel</a><br>
<strong>1</strong> = Yes<br>
<strong>0</strong> = No</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSubscription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Can the item be ordered as a subscription?<br>
<strong>0</strong> = No<br>
<strong>1</strong> = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item description</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextKeywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTML meta keywords (search terms); separated by commas (word1,word2,word3).</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Available languages: de / en / fr / it / es / tr / nl / pl / nn / da / se / cz (German, English, French, Italian, Spanish, Turkish, Dutch, Polish, Norwegian, Danish, Swedish, Czech)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextMeta</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item description in the source text; important for search machines</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextName2</strong> and <strong>ItemTextName3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional names of the item</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextShort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Short item description; preview text</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextTechnicalData</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s technical data</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextURLContent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s URL path</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NeckermannProductTypeEpAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neckermann product type; Enterprise version Austria</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NeckermannProductTypeCdAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neckermann product type; Cross-Docking version Austria</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationActive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Main variation is active, i.e. it is available in the online store and on markets.<br>
<strong>N</strong> = The main variation is not active.<br>
Setting <strong>Active</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAutoStockInvisible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Main variation becomes invisible automatically in the online store if no positive net stock is available.<br>
<strong>N</strong> = Main variation stay visible in the online store if no positive net stock is available.<br>
Setting <strong>Not available if net stock is 0 or negative</strong> in the <strong>Settings</strong> tab of the main variation<br></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAutoStockNoPositiveStockIcon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s availability icon<br>
<strong>0</strong> = Has to be deactivated manually.<br>
<strong>1</strong> = Hide when there is no net stock.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAutoStockPositiveStockIcon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s availability icon<br>
<strong>0</strong> = Main variation has to be activated manually.<br>
<strong>1</strong> = Main variation is displayed if net stock is positive.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAutoStockVisible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Main variation automatically is visible in the online store if stock is available.<br>
<strong>0</strong> = No<br>
<strong>1</strong> = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAvailability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the availability of the main variation; <strong>Setup » Item » Availability</strong> menu<br>
Setting <strong>Availability</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAvailableUntil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last date that the main variation is available.<br>
Setting <strong>Available until</strong> in the <strong>Settings</strong> tab of the main variation<br>
Format: DD.MM.YYYY</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the main variation<br>
Setting <strong>Variation No</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID of the main variation<br>
Setting <strong>External variation ID</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationExtraShippingCharge1</strong>;<br>
<strong>PrimaryVariationExtraShippingCharge2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Extra shipping charge of the main variation<br>
Settings <strong>Extra shipping charge 1</strong> and <strong>Extra shipping charge 2</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationHeightMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Height of the main variation in millimetres (mm)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationIntervalOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The quantity intervals the main variation can be ordered in. Decimal values are possible to allow for orders by weight or length.<br>
Setting <strong>Interval order quantity</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationLengthMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Length of the main variation in millimetres (mm)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationLimitOrderByStockSelect</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limit the main variation to stock<br>
<strong>0</strong> = No limitation<br>
<strong>1</strong> = Limited to net stock<br>
<strong>2</strong> = Do not administer stock for this item<br>
Setting <strong>Limitation</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationMainWarehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the main warehouse of the main variation<br>
Setting <strong>Main warehouse</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationMaximumOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum order quantity of the main variation<br>
Setting <strong>Max. order quantity</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationMinimumOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum order quantity of the main variation<br>
Setting <strong>Min. order quantity</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Model name of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the main variation<br>
Setting <strong>Variation name</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net purchase price of the main variation<br>
Setting <strong>Purchase price (net)</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationReleaseDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date on which the main variation becomes available.<br>
Setting <strong>Release date</strong> in the <strong>Settings</strong> tab of the main variation<br>
Format: YYYY-MM-DD hh:mm:ss</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationStorageCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage costs of the main variation<br>
Setting <strong>Storage costs (net)</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationTransportationCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net transportation costs of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationUnitCombinationContent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity contained within the unit<br>
Value of the <strong>Content</strong> filed in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationUnitContained</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Units contained<br>
Setting <strong>Units contained</strong> in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationUnitID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the unit of the main variation; list of IDs can be found in the <strong>Setup » Item » Availability</strong> menu<br>
Selection in the <strong>Content</strong> drop-down list in the <strong>Settings</strong> tab of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the main variation’s VAT code (Value added tax); menu <strong>Setup » Client » [Select client] » Locations » Select location » Accounting</strong><br>
<strong>0</strong> = Data record A<br>
<strong>1</strong> = Data record B<br>
<strong>2</strong> = Data record C<br>
<strong>3</strong> = Data record D</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationWeightG</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Main variation’s gross weight in grams (g)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationWeightNetG</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Main variation’s net weight in grams (g)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationWidthMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Width of the main variation in millimetres (mm)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationAttributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">List of the attributes and attribute values linked to the main variation.<br>
The internal attribute name is followed by a colon and then the internal name of the attribute value. More than one attribute values are separated by a semicolon.<br>
<strong><em>Example:</em></strong> colour:red;purple</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/data/export-import/importing-data#25">data synchronisation</a>. These data fields are compulsory synchronisation fields. At least one of the data fields from the following table must be selected for synchronisation. For the selected data field, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the main variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID of the main variation</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">ItemID field</div>
<div class="paragraph">
<p>The field <strong>ItemID</strong> is usually a mandatory synchronisation field. However, this field does not necessarily have to be used for this data format. You can use any of the fields listed. One field is sufficient for the synchronisation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="45">5. Overview of the procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Procedures</strong> tab, select which procedures you want to be carried out during the data export. Activate the <strong>ItemLastUpdateTimestamp</strong> procedure. Select the <strong>set the current date</strong> option from the drop-down list. A timestamp will be added to items during the import, indicating when the items were last changed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. amazon_product_type value table</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An overview of the Amazon product types is available <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plenty_article_amazon_type_view.csv" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. The table contains the ID, the name of the export format, the product type, and the names of the main categories and subcategories in plentymarkets.</p>
</div>
</div>
</div>
</main>