<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>2.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OrderItems</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>OrderItems</strong> allows you to export and to edit existing order item positions as well as to add new positions to an order. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. The <a href="/en/data/export-import/exporting-data">Exporting data</a> page of the manual describes how you export the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>OrderItems</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format. The data format may vary depending on your plentymarkets version.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>data fields of the data format <strong>OrderItems</strong></p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item manufacturer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariationNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderDoneTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date when outgoing items were booked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and date. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External order number, e.g. the external market’s item ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderInsertTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date when the order was created</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and date. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPaidTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of payment</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order referrer ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the order referrer from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the order referrer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the order status from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order timestamp; the date of the last change</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderUser</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Owner</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock">Row = Stock units within an order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowAttributeSelection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute selection</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock unit’s external order number, e.g. the eBay ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price per item The price will be taken from the variation data if the price column is not included in the import format. The price will be saved as 0 if either the price in the price column is 0 or no price is given in the price column. The price will also be saved as 0 if no quantity is imported.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the item</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowLastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date when the stock unit was last changed</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the operator and date. Use the operator <strong>Period</strong> to select a range of dates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order ID of the order that the item belongs to, that you wish to edit the item in or that you want to add the item to. Required when importing.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock unit’s position number; consecutive. An ID will be assigned automatically if the position ID is not imported.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock unit’s referrer ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the order referrer from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the stock unit’s referrer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net purchase price. Average net purchase price at the time of order generation. If no average purchase price could be calculated at this point, then the net purchase price which was saved in the item data at the time of the order generation will be displayed.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity purchased. Without quantity information the price that will be saved is 0.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowSize</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowVariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT rate</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowWarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock unit’s warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowWeight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weight</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export for customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Note</em></strong>: filter setting only</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the customer class. In order to export data for all customer classes, do not activate the filter. Go to <a href="/en/crm/managing-contacts#15">Setup » CRM » Classes</a> to set up customer classes.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">2. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following data field is available for <a href="/en/data/export-import/importing-data#25">data synchronisation</a> and is a mandatory if you carry out a data synchronization. For mandatory synchronisation fields, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>RowPositionID</strong> = The order item’s position number; consecutive</p>
</li>
</ul>
</div>
</div>
</div>
</main>