{% macro print( url ) %}
        {% set pages = pageService.getHierarchy( url ) %}
        <ol class="main-breadcrumb">
        	<li class="breadcrumb-item">
        		<a class="" href="/{% if lang == "en" %}en/{% endif %}><i class="fa fa-home" aria-hidden="true"></i><span class="sr-only">{{ trans("PlentyManual::Manual.home") }}</span></a>
        	</li>
            {% for page in pages %}
                <li class="breadcrumb-item">
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ol>
{% endmacro %}
