{% macro print( url ) %}
    {% set pages = pageService.getHierarchy( url ) %}
    <ol class="search-result-item-breadcrumb">
        {% for page in pages %}
            <li class="breadcrumb-item">
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ol>
{% endmacro %}