<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#general-information"><span>1.</span><span> About automatic data exchange</span></a></li>
<li><a href="#item-export-catalogue"><span>2.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-in-assistant"><span>2.1.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#map-data-fields"><span>2.2.</span><span> Mapping data fields in the catalogue</span></a></li>
<li><a href="#additional-properties"><span>2.3.</span><span> Creating additional properties</span></a></li>
</ul>
</li>
<li><a href="#link-variation-to-catalogue-category"><span>3.</span><span> Linking variations to a Voelkner catalogue category</span></a>
<ul class="sectlevel3">
<li><a href="#link-properties-with-variations"><span>3.1.</span><span> Linking properties with variations and saving values</span></a></li>
</ul>
</li>
<li><a href="#Voelkner"><span>4.</span><span> Activating the catalogue export</span></a>
<ul class="sectlevel2">
<li><a href="#marketplace-specific-values"><span>4.1.</span><span> Transferring marketplace-specific values</span></a></li>
</ul>
</li>
<li><a href="#_using_the_attribute_help_tool"><span>5.</span><span> Using the attribute help tool</span></a>
<ul class="sectlevel2">
<li><a href="#_mapping_and_transferring_valid_attribute_values"><span>5.1.</span><span> Mapping and transferring valid attribute values</span></a></li>
</ul>
</li>
<li><a href="#product-and-order-data"><span>6.</span><span> Transferring product and offer data</span></a>
<ul class="sectlevel2">
<li><a href="#transfer-product-data"><span>6.1.</span><span> Transferring product data</span></a></li>
<li><a href="#transfer-product-data"><span>6.2.</span><span> Transferring product data</span></a></li>
<li><a href="#_requirements_for_transferring_product_data"><span>6.3.</span><span> Requirements for transferring product data</span></a></li>
<li><a href="#_updating_product_data"><span>6.4.</span><span> Updating product data</span></a></li>
<li><a href="#matching-eans"><span>6.5.</span><span> Matching EANs</span></a></li>
<li><a href="#transfer-order-data"><span>6.6.</span><span> Transferring order data</span></a></li>
<li><a href="#_requirements_for_transferring_order_data"><span>6.7.</span><span> Requirements for transferring order data</span></a></li>
</ul>
</li>
<li><a href="#variation-availability"><span>7.</span><span> Setting the variation availability</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automatic product and offer data exchange</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/voelkner/voelkner-setup"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Setting up Voelkner</a>
<a href="/en/markets/voelkner/automated-order-processing">Setting up automated order processing <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>On this page, you will learn how to create a catalogue for exporting items with the help of an assistant. Furthermore, you will learn how to map data fields in the catalogue to be able to correctly transfer your product and offer data to the marketplace. Afterwards, you only have to set the variation availability and activate the catalogue export.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="general-information">1. About automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing and setting up the plugin, the automatic processes described in <a href="#data-exchange-Voelkner">Table 1</a> become available:</p>
</div>
<table id="data-exchange-Voelkner" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequency of data exchange</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>daily</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="item-export-catalogue">2. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to Voelkner via marketplace formats. Go to <strong>Data » Catalogues</strong> to create catalogues. Is this your first time working with catalogues? Then read up on the <a href="#en/data/exporting-data/managing-catalogues">principle of catalogues first</a>.</p>
</div>
<div class="paragraph">
<p>If you want to sell your products in multiple Voelkner product categories, create a separate catalogue for each of them. Link the Voelkner data fields with the item data saved in plentymarkets in the marketplace format afterwards. Once you’ve activated a catalogue, plentymarkets automatically exports the catalogue templates to Voelkner on a daily basis.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Error log</div>
<div class="paragraph">
<p>If there’s a problem during export, you can find the related log entries on Mirakl and not the plentymarkets log.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="catalogue-in-assistant">2.1. Creating a catalogue in the assistant</h3>
<div class="paragraph">
<p>Proceed as described below to create a catalogue in the assistant.</p>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Plugins » [select plugin set]</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Voelkner Catalogue</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the Info box below this description (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to make sure they are correct.<br>
<strong><em>Tip:</em></strong> In the <strong>Summary</strong> step, click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Open the catalogue in the <strong>Data » Catalogues</strong> menu to map the fields.<br>
<strong><em>Note:</em></strong> Only select bottom level categories. You can find a better overview of the category hierarchy on Miracle by going to <strong>My account » My product data settings</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="map-data-fields">2.2. Mapping data fields in the catalogue</h3>
<div class="paragraph">
<p>After you have created a catalogue, map the market’s data fields to item data saved in plentymarkets. Check the documentation of the sales channel to find out what data the market expects for the individual data fields.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using properties</div>
<div class="paragraph">
<p>Use <a href="/en/item/managing-items#4800">properties</a> to export values for marketplace data fields that have no corresponding field in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping data fields in the catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab with the market data fields opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).</p>
</li>
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Map the field:</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Alternative 1:</em> Map a plentymarkets data field + optional fallback data fields</strong></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add one or more fallback data fields. To do so, click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.<br>
<strong><em>Note:</em></strong> Even if you assign a fallback data field to a market data field, only one value is exported. The fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Alternative 2:</em> Always export the same value for a market data field</strong></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on the plus next to <strong>Own value</strong> at the top of the list.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.<br>
→ This value is exported for all variations.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
<li>
<p>Continue to map all data fields of the market for which you want to export product information.<br></p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the catalogue.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Optional:</em></strong> 1:n mappings - 1 marketplace data field, several plentymarkets data fields</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Map a plentymarkets data field or an own value to the marketplace data field as described above.</p>
</li>
<li>
<p>To the right of the mapped plentymarkets data field, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ To the left, the list of available plentymarkets data fields again are shown in groups.</p>
</li>
<li>
<p>Map one or several additional plentymarkets data fields to the marketplace data field as described above.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the very right of the row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the catalogue.<br>
→ The mappings are saved.<br>
→ During the export, the content of the plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Do not map plentymarkets data fields to the following marketplace data fields for the market Voelkner:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Product image 1 URL</p>
</li>
<li>
<p>Product image 2 URL</p>
</li>
<li>
<p>Product image 3 URL</p>
</li>
<li>
<p>Product image 4 URL</p>
</li>
<li>
<p>Product image 5 URL</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can ignore the warning shown when you save the mapping.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="catalogue-mirakl-mappings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Voelkner mappings</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Marketplace data field</th>
<th class="tableblock halign-left valign-top">plentymarkets data field</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Create a property of type <strong>Short text</strong> for this marketplace data field. Create a property value for each type of unit that you use for your products. Be sure to enter the code, not the label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Use the attribute help tool to find all possible values.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> For this marketplace data field, you <em>cannot</em> use properties of the type <strong>Multiple selection</strong>. Mapping a property of the type <strong>Multiple selection</strong> in the catalogue will cause an incorrect transfer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product title</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map one or more of the following plentymarkets data fields to this marketplace data field. Use at least 20 and not more than 100 characters.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 1</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name 3</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>or</em></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Property</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content unit of measurement</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Create a property for this marketplace data field. Create a property value for each type of unit that you use for your products. Be sure to enter the code, not the label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Use the attribute help tool to find all possible values.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If all your variations for this catalogue have the same content unit, you can export your own value instead of creating a property. For example, to export the unit <strong>pieces</strong> for every variation, enter <code>unece.unit.C62</code> in the field <strong>Own value</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales quantity unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Create a property for this marketplace data field. Create a property value for each type of unit that you use for your products. Be sure to enter the code, not the label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Use the attribute help tool to find all possible values.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If all your variations for this catalogue have the same sales unit, you can export your own value instead of creating a property. For example, to export the unit “pieces” for every variation, enter <code>ST</code> in the field <strong>Own value</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weight unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Create a property for this marketplace data field. Create a property value for each type of unit that you use for your products. Be sure to enter the code, not the label.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Use the attribute help tool to find all possible values.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If all your variations for this catalogue have the same weight unit, you can export your own value instead of creating a property. For example, to export the unit “gram” for every variation, enter <code>unece.unit.GRM</code> in the field <strong>Own value</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The data field <strong>Variantengruppe</strong> (variation group) is used to group products, i.e. to tell the market what a number of products have in common. As such, map the plentymarkets data field <strong>Item ID</strong> to this field.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The data field <strong>Variante</strong> (variation) is used to differentiate products. It tells the market in what ways a number of products are different from each other. That’s why you map this field to the property you <a href="#additional-properties">previously created for variations</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If you distinguish your variations only by a single attribute, you can also map the <strong>Attribute value name</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product-ID (of the seller)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the following plentymarkets data field to this marketplace data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>SKU</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Map the following plentymarkets data field as fallback data field:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variation ID</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Missing brands</div>
<div class="paragraph">
<p>If you notice any missing brands, contact <a href="mailto:stefanie.schlosser@re-in.de">stefanie.schlosser@re-in.de</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="additional-properties">2.3. Creating additional properties</h3>
<div class="paragraph">
<p>If you’ve defined more than one <a href="/en/item/settings/attributes">attribute</a> for any of your variations, create a property that combines these attributes. For example, if you distinguish a variation both by colour and by size, you can create a property called “Grey XL”. Then, <a href="/en/item/settings/properties#1400">link these properties</a> to the respective variations.</p>
</div>
<div class="paragraph">
<p>In addition to the <a href="/en/markets/conrad/first-steps#create-properties">properties described previously</a>, you need properties for all data fields of the marketplace whose data you want to export, but that don’t exist in plentymarkets by default. You can see by the data fields in the catalogue which properties you need. Is this your first time working with properties? For further information, refer to the item <a href="/en/item/settings/properties#500">Properties</a> page.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="link-variation-to-catalogue-category">3. Linking variations to a Voelkner catalogue category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you created a marketplace format for Voelkner with the <strong>VoelknerExtension Catalog</strong> assistant or manually, the property <strong>Voelkner</strong> is created in your plentymarkets system. A new selection value is added to the <strong>Voelkner category group</strong> property for each category selected in the <strong>Settings</strong> step of the assistant. In order for your variations to be exported in the appropriate catalogue, they have to be linked to the <strong>Voelkner category group</strong> property in the <strong>Properties</strong> tab of a variation.</p>
</div>
<div class="paragraph instruction">
<p>Linking a variation to a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item]</strong>.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that should be linked.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, select the property <strong>Voelkner category group</strong> from the <strong>Properties</strong> drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added.</p>
</li>
<li>
<p>Select the desired category group from the <strong>Value</strong> drop-down list for the <strong>Voelkner category group</strong> property.<br>
→ The variation will be exported in this catalogue.<br>
<strong><em>Example:</em></strong> If you pick the value <strong>VHS cassettes</strong>, the catalogue variation is exported for the <strong>VHS cassettes</strong> category.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for all categories where you want to offer the variation.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<h3 id="_further_possibilities_to_link_variations" class="discrete">Further possibilities to link variations</h3>
<div class="ulist">
<ul>
<li>
<p>via import: Go to <strong>Setup » Settings » Properties » Configuration</strong>, open the property <strong>VoelknerExtension category mapping</strong> and click on <strong>Values</strong>. You can find there the selection value IDs that are needed for the import.</p>
</li>
<li>
<p>via REST API: Use the REST routes from the areas <a href="https://developers.plentymarkets.com/en-gb/plentymarkets-rest-api/index.html#/Property" target="_blank" rel="noopener">Property</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and <a href="https://developers.plentymarkets.com/en-gb/plentymarkets-rest-api/index.html#/Item" target="_blank" rel="noopener">Item</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to link the catalogue with the variation.<br>
<strong><em>Note</em></strong>: If no marketplace category is available in the assistant <strong>VoelknerExtension Catalog</strong>, you might have entered the wrong API environment in the <strong>Authentication</strong> step of the assistant <strong>VoelknerExtension</strong>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="link-properties-with-variations">3.1. Linking properties with variations and saving values</h4>
<div class="paragraph">
<p>All properties, sales prices and barcodes that you have created for mapping them in the catalogue now need to be linked to the variations that you want to export to the market. This is described on the <strong>Item</strong> pages of the manual:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Learn how to link properties to variations in the <a href="/en/item/managing-items#4800">Linking properties and saving a value</a> chapter.</p>
</li>
<li>
<p>Learn how to link sales prices to variations in the <a href="/en/item/managing-items#240">Linking sales prices</a> chapter.</p>
</li>
<li>
<p>Learn how to link barcodes to variations in the <a href="/en/item/managing-items#250">Linking barcodes</a> chapter.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="Voelkner">4. Activating the catalogue export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have set up Voelkner and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to Voelkner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the Voelkner catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button to the right (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ The catalogue is active.<br>
→ The catalogue data is exported to Voelkner daily.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="marketplace-specific-values">4.1. Transferring marketplace-specific values</h3>
<div class="paragraph">
<p>The marketplace requires specific values for most of the attributes in order to be able to transfer product data. Currently, these values are, however, not yet saved at the variation.<br>
<strong><em>Example:</em></strong> For example, it is not allowed to enter <strong>test</strong> for the attribute <strong>Brand</strong>. You have to transfer the corresponding code in this case - in this example <strong>BRAND_12345678</strong>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_using_the_attribute_help_tool">5. Using the attribute help tool</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The so-called attribute help tool allows you to search for the different attributes. The tool then returns the values that are currently valid for the attributes. To use this tool, the assistant <strong>VoelknerExtension</strong> must have been completed.
You can find the tool under the following URL: <code>domain/Voelkner_extension/attribute_values</code>.
Replace <code>domain</code> with your plenty domain. For example, if your domain was called <code>https:://www.my-plenty-domain.com</code>, the URL would be set up as follows:<br>
<code><a href="https://www.my-plenty-domain.com/Voelkner_extension/attribute_values" class="bare">https://www.my-plenty-domain.com/Voelkner_extension/attribute_values</a></code>.</p>
</div>
<div class="paragraph">
<p>Go to the attribute help tool and enter <code>SAP.TaxIndicator</code> in the search field to find the valid values for <strong>VAT class</strong>. Enter <code>SAP.BaseUnits</code> to find the valid values for <strong>Sales unit</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Attribute values will be displayed on following day</div>
<div class="paragraph">
<p>The table of the valid attribute values is updated over night. Once the plugin has been installed for the first time, the valid values will not be displayed until the following day.<br>
In case you entered the wrong API environment and/or the wrong API key, the valid values cannot be loaded.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In the catalogue you will find the names of the marketplace attributes, such as <strong>Brand</strong>. To find out which values are valid for a specific attribute, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Using the attribute help tool:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Call the URL as described above.</p>
</li>
<li>
<p>Enter the name of the attribute into the search or use Strg+F or Cmd+F to browse the list of results.<br>
→ The attribute is shown in the <strong>Attribute label</strong> column.<br>
→ The column <strong>Value Code</strong> lists the valid values that have to be transferred for the attribute values listed in the <strong>Value Label</strong> column.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_mapping_and_transferring_valid_attribute_values">5.1. Mapping and transferring valid attribute values</h3>
<div class="paragraph">
<p>In case there are different attribute values that might be valid depending on the variation that you want to transfer, the first question is how you keep your item data up-to-date.
If you manage your item data manually, it is recommended to use a property of the type <strong>Selection</strong>. You can save a description for the selection here. This description will then be shown in the property overview at the variation.
Once the code was mapped to the property, you can use the real name of the variation in the field <strong>Description</strong>. This means the code is transferred via the catalogue and the real name is shown in brackets behind.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> If you always want to transfer only one single value for an attribute, e.g. you want to use always <strong>BRAND_12345678</strong> for the brand, you can use the option <strong>Own value</strong> in the catalogue.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="product-and-order-data">6. Transferring product and offer data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The listing process at Voelkner takes place in two steps: First, the products are created. Then, after the marketplace has approved the product data, offers for the created products can be activated. Both export processes, their requirements as well as transfer options are described in the following sub-chapters.</p>
</div>
<div class="sect2">
<h3 id="transfer-product-data">6.1. Transferring product data</h3>
<div class="paragraph">
<p>The listing process at Voelkner takes place in two steps: First, the products are created. Then, after the marketplace has approved the product data, offers for the created products can be activated. Both export processes, their requirements as well as transfer options are described in the following sub-chapters.</p>
</div>
</div>
<div class="sect2">
<h3 id="transfer-product-data">6.2. Transferring product data</h3>
<div class="paragraph">
<p>In this chapter, you will learn how to transfer product data to the marketplace and which requirements have to be met. This data comes from the catalogue <strong>VoelknerExtension Catalog</strong> that you created.</p>
</div>
</div>
<div class="sect2">
<h3 id="_requirements_for_transferring_product_data">6.3. Requirements for transferring product data</h3>
<div class="ulist">
<ul>
<li>
<p>The plugins <a href="https://marketplace.plentymarkets.com/en/voelknerextension_6949" target="_blank" rel="noopener">Voelkner</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and <strong>Mirakl Connector</strong> were purchased and downloaded from plentyMarketplace and installed in a plugin set.</p>
</li>
<li>
<p>The order referrers Voelkner and Mirakl were activated in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</li>
<li>
<p>The basic settings were carried out in the <strong>Setup » Assistants » Plugins » [select plugin set] » VoelknerExtension</strong> menu. In order to transfer product data, activate the option <strong>Export products</strong> in the step data exchange.</p>
</li>
<li>
<p>In the <strong>Setup » Item » Sales prices</strong> menu, the order referrers <strong>Mirakl</strong> and <strong>VoelknerExtension</strong> have been activated on an existing price <strong><em>or</em></strong> a new sales price has been created for which the order referrers <strong>Mirakl</strong> and <strong>VoelknerExtension</strong> were activated.</p>
</li>
<li>
<p>You already created a <a href="/en/data/exporting-data/managing-catalogues">catalogue</a> for the data transfer.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">What connection exists between the offer fields, the product export field and the marketplace SKU at the variation?</div>
<div class="paragraph">
<p>In general, the offer fields <strong>sku</strong> and <strong>product-id</strong> are always filled with the value that has been defined for the marketplace at the variation in the field <strong>Marketplace SKU</strong>.
The offer field <strong>product-id-type</strong> is transferred with the value <strong>SHOP_SKU</strong> by default, but can also be overwritten by another value, such as <strong>SKU</strong>. To do so, select the property for the Product ID Type <strong>SKU</strong> at the variation and in the assistant step <strong>Offer properties mapping</strong>, map the property to the respective data field.
The product export field <strong>Product-ID (of the seller)</strong> is filled depending on the mapping in the catalogue.</p>
</div>
<div class="paragraph">
<p>During the first data transfer which takes place overnight, in plentymarkets, the marketplace SKU at the variation is automatically created from the Variation ID. Alternatively, the marketplace SKU can be defined via import or manually.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> In the catalogue, map the Marketplace SKU to the data field <strong>Product-ID (of the seller)</strong>. Select the <strong>Variation ID</strong> as fallback data field.</p>
</div>
</div>
<div class="sect2">
<h3 id="_updating_product_data">6.4. Updating product data</h3>
<div class="paragraph">
<p>You can update the product data at any time. However, this does not apply to the following product data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Packaging units</p>
</li>
<li>
<p>Manufacturer Part Number</p>
</li>
<li>
<p>Seller’s item number (Variation ID)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you want to adjust one or several of the above-mentioned fields, you have to delete the product first and then transfer it again. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Updating product data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Create a property of the type <strong>Short text</strong>.</p>
</li>
<li>
<p>Enter a name, for example <strong>Delete marketplace product</strong>.</p>
</li>
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Open the corresponding catalogue.</p>
</li>
<li>
<p>Map the property that you just created for deleting the product to the data field <strong>Invalidation Marking</strong> or <strong>InvalidationFlag</strong>.</p>
</li>
<li>
<p>Open the assistant.</p>
</li>
<li>
<p>Go to the step <strong>Offer properties mapping</strong>.</p>
</li>
<li>
<p>Map the data field <strong>update-delete</strong> to the property <strong>Voelkner Update-Delete</strong>.</p>
</li>
<li>
<p>At the variation that you want to delete, select the selection value <strong>delete</strong>.<br>
<strong><em>Note:</em></strong> A change in stock or price at the variation may take some time. Alternatively, you can change it manually.</p>
</li>
<li>
<p>Wait until the next offer transfer.<br>
→ This can take up to 15 minutes.</p>
</li>
<li>
<p>Deactivate the market availability for the marketplace and Mirakl at the variation.</p>
</li>
<li>
<p>Remove the property for the catalogue link from the variation.</p>
</li>
<li>
<p>Manually delete the product’s offer in the back end of the marketplace.</p>
</li>
<li>
<p>At the respective variation, activate the property that you created for deleting the product and enter the value <strong>kill</strong>.</p>
</li>
<li>
<p>Activate the property for the catalogue link at the variation.</p>
</li>
<li>
<p>Wait until the next product transfer.<br>
→ This takes place over night.</p>
</li>
<li>
<p>Once you have deleted the product, you need to wait 24 to 48 hours until you can use the same Product ID again.</p>
</li>
<li>
<p>As soon as the waiting time is over, remove the property that was created for deleting the product from the variation.</p>
</li>
<li>
<p>Activate the market availability again for the marketplace and Mirakl.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="matching-eans">6.5. Matching EANs</h3>
<div class="paragraph">
<p>Voelkner offers an EAN matching. Ask your contact person of the marketplace to provide you with a list of your EANs. In case your EANs are already listed on Voelkner, you will receive a table with the EANs and the corresponding SKUs afterwards.
For these values, it is not necessary to transfer the product data. You can directly create an offer by using the provided SKUs. The SKU has to be imported as Marketplace SKU at the variation and <strong>sku</strong> has to be selected as <strong>product-id-type</strong> at the variation. Make sure that you do not define a property value for the property <strong>Voelkner category group</strong> at these variations.</p>
</div>
</div>
<div class="sect2">
<h3 id="transfer-order-data">6.6. Transferring order data</h3>
<div class="paragraph">
<p>In this chapter, you will learn how to transfer order data to the marketplace and which requirements have to be met. The data comes from the <strong>VoelknerExtension</strong> assistant which you already completed.</p>
</div>
</div>
<div class="sect2">
<h3 id="_requirements_for_transferring_order_data">6.7. Requirements for transferring order data</h3>
<div class="ulist">
<ul>
<li>
<p>The plugins <a href="https://marketplace.plentymarkets.com/en/voelknerextension_6949" target="_blank" rel="noopener">Voelkner</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and <strong>Mirakl Connector</strong> were purchased and downloaded from plentyMarketplace and installed in a plugin set.</p>
</li>
<li>
<p>The order referrers <strong>Voelkner</strong> and <strong>Mirakl</strong> were activated in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</li>
<li>
<p>The basic settings were carried out in the <strong>Setup » Assistants » Plugins » [Select plugin set] » VoelknerExtension</strong> menu.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Synchronise stock</strong> is activated in the step data exchange so that the offers are transferred correctly.</p>
</li>
</ul>
</div>
</li>
<li>
<p>In the <strong>Setup » Item » Sales prices</strong> menu, the order referrers <strong>Mirakl</strong> and <strong>Voelkner</strong> have been activated on an existing price <strong><em>or</em></strong> a new sales price has been created for which the order referrers <strong>Mirakl</strong> and <strong>Voelkner</strong> were activated.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Order data is transferred every 15 minutes. Only items that meet the following requirements are transferred:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The order referrers <strong>Mirakl</strong> and <strong>Voelkner</strong> are activated at the variation.</p>
</li>
<li>
<p>A price that was activated for <strong>Voelkner</strong>, <strong>Mirakl</strong> and <strong>WEB API</strong> is active at the variation.</p>
</li>
<li>
<p>A shipping profile that has been activated for <strong>Voelkner</strong>, <strong>Mirakl</strong> and <strong>WEB API</strong> is active at the variation.</p>
</li>
<li>
<p>A value is specified for <strong>Voelkner</strong> as marketplace SKU at the variation.</p>
</li>
<li>
<p>The stock or the price was changed at the variation within the last 15 minutes.</p>
<div class="ulist">
<ul>
<li>
<p>Setting a new time stamp via the group function or batch processing also results in a transfer of the variation. Thus, the stock limitation <strong>To net stock</strong> or <strong>None</strong> has to be selected at the variation and the variation needs to have positive stock.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">What connection exists between the offer fields, the product export field and the marketplace SKU at the variation?</div>
<div class="paragraph">
<p>In general, the offer fields <strong>sku</strong> and <strong>product-id</strong> are always filled with the value that has been defined for the marketplace at the variation in the field <strong>Marketplace SKU</strong>.
The offer field <strong>product-id-type</strong> is transferred with the value <strong>SHOP_SKU</strong> by default, but can also be overwritten by another value, such as <strong>SKU</strong>. To do so, select the property for the Product ID Type <strong>SKU</strong> at the variation and in the assistant step <strong>Offer properties mapping</strong>, map the property to the respective data field.
The product export field <strong>Product-ID (of the seller)</strong> is filled depending on the mapping in the catalogue.</p>
</div>
<div class="paragraph">
<p>During the first data transfer which takes place overnight, in plentymarkets, the marketplace SKU at the variation is automatically created from the Variation ID. Alternatively, the marketplace SKU can be defined via import or manually.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> In the catalogue, map the Marketplace SKU to the data field <strong>Product-ID (of the seller)</strong>. Select the <strong>Variation ID</strong> as fallback data field.</p>
</div>
<h3 id="_further_data_fields_that_are_transmitted_during_the_offer_transfer" class="discrete">Further data fields that are transmitted during the offer transfer</h3>
<div class="ulist">
<ul>
<li>
<p><strong>sku</strong> and <strong>product-id</strong>: These fields are automatically filled with the value that has been specified as marketplace SKU at the variation.</p>
</li>
<li>
<p><strong>product-id-type</strong>: This field is filled with the value <strong>SHOP_SKU</strong> by default.</p>
</li>
<li>
<p><strong>price</strong>: This field is automatically filled with the value hat has been defined at the variation for the price that was activated on the marketplace. In case several sales prices were defined at the variation that are also available for the marketplace, the price with the lowest ID will be exported.</p>
</li>
<li>
<p><strong>quantity</strong>: This field will be automatically filled with the net stock or the total net stock from the warehouses that have been selected in the <strong>VoelknerExtension</strong> assistant in the step <strong>Warehouse Selection</strong>.</p>
</li>
<li>
<p><strong>min-quantity-alert</strong>: This field will be automatically transferred with the value <strong>1</strong>.</p>
</li>
<li>
<p><strong>state</strong>: This field will be automatically transferred with the value <strong>11</strong>.</p>
</li>
<li>
<p><strong>available-start-date</strong>: This field will be automatically transferred with a timestamp.</p>
</li>
<li>
<p><strong>price-ranges</strong>: In this field, one or several <a href="/en/item/settings/prices#100">sales prices</a> will be transferred.</p>
</li>
<li>
<p><strong>allow-quote-requests</strong>: This field will be automatically transferred with the value <strong>false</strong>.</p>
</li>
<li>
<p><strong>logistic-class</strong>: This field is empty by default. If no value is transferred, the variation is linked to the free shipping profile <strong>Free Shipping (FS)</strong>. In the assistant step <strong>Offer properties mapping</strong> you can map a property in order to transfer a different value per variation. You can find the valid shipping profile codes in the Voelkner back end under <strong>Platform settings » Shipping</strong>. The codes are displayed in parentheses.</p>
</li>
<li>
<p><strong>leadtime-to-ship</strong>: This is a mandatory field, which is empty by default. In the assistant step <strong>Offer properties mapping</strong> you can map a property in order to transfer a different value per variation. Only integers between 1 and 45 are valid here.</p>
</li>
<li>
<p><strong>reversecharge</strong>: This is a mandatory field, which is empty by default. In the assistant step <strong>Offer properties mapping</strong> you can map a property in order to transfer either <code>true</code> or <code>false</code> per variation.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="variation-availability">7. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on Voelkner. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activating variation availability</div>
<div class="paragraph">
<p>Do not activate the availability on the variation until a marketplace SKU has been defined on the variation or the variation has been transferred via the product export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for Voelkner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Voelkner.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Voelkner, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Voelkner</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for Voelkner.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Voelkner using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Voelkner</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Voelkner</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Voelkner using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Voelkner</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Voelkner</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Mirakl</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/en/markets/voelkner/voelkner-setup"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Setting up Voelkner</a>
<a href="/en/markets/voelkner/automated-order-processing">Setting up automated order processing <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>