<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> Installing the plentymarkets app</span></a></li>
<li><a href="#10"><span>2.</span><span> Logging into plentymarkets POS</span></a></li>
<li><a href="#30"><span>3.</span><span> Selling items</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Adding items to the POS shopping cart</span></a>
<ul class="sectlevel3">
<li><a href="#50"><span>3.1.1.</span><span> Searching for items</span></a></li>
<li><a href="#60"><span>3.1.2.</span><span> Opening the list of favourites</span></a></li>
<li><a href="#70"><span>3.1.3.</span><span> Scanning labels</span></a></li>
</ul>
</li>
<li><a href="#80"><span>3.2.</span><span> Receiving a payment</span></a></li>
<li><a href="#250"><span>3.3.</span><span> Selling a gift card</span></a></li>
</ul>
</li>
<li><a href="#90"><span>4.</span><span> Optional POS operations</span></a>
<ul class="sectlevel2">
<li><a href="#135"><span>4.1.</span><span> Selecting an existing customer</span></a></li>
<li><a href="#100"><span>4.2.</span><span> Adding a note to the order</span></a></li>
<li><a href="#110"><span>4.3.</span><span> Pausing a checkout process</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>4.3.1.</span><span> Parking a receipt</span></a></li>
<li><a href="#130"><span>4.3.2.</span><span> Loading a parked receipt</span></a></li>
</ul>
</li>
<li><a href="#140"><span>4.4.</span><span> Editing an order item</span></a></li>
<li><a href="#150"><span>4.5.</span><span> Editing the shopping cart</span></a>
<ul class="sectlevel3">
<li><a href="#160"><span>4.5.1.</span><span> Redeeming a gift card</span></a></li>
<li><a href="#170"><span>4.5.2.</span><span> Applying discounts to the complete POS order</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#173"><span>5.</span><span> Cancelling an order</span></a></li>
<li><a href="#175"><span>6.</span><span> Booking a return</span></a></li>
<li><a href="#180"><span>7.</span><span> Booking deposits and withdrawals</span></a>
<ul class="sectlevel2">
<li><a href="#190"><span>7.1.</span><span> Booking a cash deposit</span></a></li>
<li><a href="#200"><span>7.2.</span><span> Booking a cash withdrawal</span></a></li>
</ul>
</li>
<li><a href="#210"><span>8.</span><span> Creating reports</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>8.1.</span><span> Creating an x report</span></a></li>
<li><a href="#230"><span>8.2.</span><span> Creating a Z report</span></a></li>
<li><a href="#_creating_a_till_count_report"><span>8.3.</span><span> Creating a till count report</span></a>
<ul class="sectlevel3">
<li><a href="#_saving_a_till_count_result"><span>8.3.1.</span><span> Saving a till count result</span></a></li>
<li><a href="#_booking_till_count_discrepancies"><span>8.3.2.</span><span> Booking till count discrepancies</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#240"><span>9.</span><span> Changing POS orders in the plentymarkets back end</span></a></li>
<li><a href="#_pos_in_austria"><span>10.</span><span> POS in Austria</span></a>
<ul class="sectlevel2">
<li><a href="#260"><span>10.1.</span><span> Creating a Z2 receipt (Austria)</span></a></li>
<li><a href="#_selling_items_with_a_faulty_signature_unit_austria_only"><span>10.2.</span><span> Selling items with a faulty signature unit (Austria only)</span></a></li>
<li><a href="#270"><span>10.3.</span><span> Creating a Kontrollbeleg (control receipt) for tax authorities (Austria only)</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>plentymarkets POS for POS users</h1><div class="sect1">
<h2 id="5">1. Installing the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To get started, install the plentymarkets App on your mobile device.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=en" target="_blank" rel="noopener">plentymarkets App in Google Play</a></strong></p>
</li>
<li>
<p><strong><a href="https://itunes.apple.com/en/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets App in iTunes</a></strong></p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Offline orders are deleted when you uninstall the app</div>
<div class="paragraph">
<p>If your internet connection is down, POS orders are saved on your device and uploaded to plentymarkets once connection returns. If you uninstall the app on your device before all orders were uploaded to plentymarkets, the orders saved on your device will be deleted permanently and cannot be recovered by you or the plentymarkets support team. As such, check that no offline orders exist on your device before uninstalling the app.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Logging into plentymarkets POS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to log into plentymarkets POS.</p>
</div>
<div class="paragraph instruction">
<p>Logging into plentymarkets POS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into your mobile device.</p>
</li>
<li>
<p>On the start screen, tap the plentymarkets App icon.<br>
→ The login screen is displayed.</p>
</li>
<li>
<p>Enter your login details. Note <a href="#table-POS-user-login">Table 1</a>.</p>
</li>
<li>
<p>Tap <strong>Log in</strong>.<br>
→ The start screen of the plentymarkets App is displayed.</p>
</li>
<li>
<p>Tap the menu symbol at the top left of the screen.<br>
→ The menu is displayed.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ plentymarkets POS opens.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Login details are saved</div>
<div class="paragraph">
<p>You will remain logged in to plentymarkets POS until you tap <strong>Log out</strong> in the app menu. That means that you can open and close the apps without having to log in again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-POS-user-login" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Login</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language in which you want to use plentymarkets POS. Currently, the user interface of plentymarkets POS is available in English or German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System (base URL)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the domain of the plentymarkets system without https:// or http://, e.g. <strong>your-shop.co.uk</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong>; <strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name and password for the plentymarkets system.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">3. Selling items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you open plentymarkets POS, the POS menu is displayed. Tap <strong>POS</strong> to open the POS shopping cart and add items.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. Adding items to the POS shopping cart</h3>
<div class="paragraph">
<p>You can add items to the current plentymarkets POS order by searching the items, opening the list of favourites or by scanning the label of an item.</p>
</div>
<div class="sect3">
<h4 id="50">3.1.1. Searching for items</h4>
<div class="paragraph">
<p>Use the item search to access all items of this client. You can search for items using the following item data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item ID</p>
</li>
<li>
<p>Variation number</p>
</li>
<li>
<p>Barcode</p>
</li>
<li>
<p>Item name</p>
</li>
<li>
<p>Variation ID</p>
</li>
<li>
<p>Supplier item No.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to add items to the POS shopping cart by using the item search.</p>
</div>
<div class="paragraph instruction">
<p>Adding items using the item search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the magnifying glass.<br>
→ The item search opens.</p>
</li>
<li>
<p>Enter a search criterion.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ A list of items matching the search criteria is displayed.</p>
</li>
<li>
<p>Tap the green check mark to add an item to the shopping cart.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart and the current order sum is updated.<br>
<strong><em>Tip:</em></strong> Items with no net stock are shown in red but can be sold.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="60">3.1.2. Opening the list of favourites</h4>
<div class="paragraph">
<p>Quickly add favourite items to the POS shopping basket by accessing them through the favourites list. plentymarkets administrators can create a list of favourite items for the POS. However, you can also mark frequently bought items as favourites yourself in order to speed up the checkout process. Proceed as described below to add items to the POS shopping cart by using the list of favourites.</p>
</div>
<div class="paragraph instruction">
<p>Adding items from the list of favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the star.<br>
→ The favourites list is displayed.</p>
</li>
<li>
<p>Tap the green check mark to add an item to the shopping cart.<br>
→ The <strong>Enter quantity</strong> window is displayed.<br></p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart and the current order sum is updated.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="70">3.1.3. Scanning labels</h4>
<div class="paragraph">
<p>If you have saved labels for your items in the plentymarkets system, you can also add items to the POS shopping cart by scanning these labels. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adding items by scanning the label:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the label symbol.<br>
→ The mobile device’s camera is activated.</p>
</li>
<li>
<p>Tap the camera icon to scan the label.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart and the current order sum is updated.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="80">3.2. Receiving a payment</h3>
<div class="paragraph">
<p>Once you have added all items of a customer to the POS shopping cart and applied gift cards and/or discounts, you complete the order by accepting payment. You can currently accept payments in cash or via a POS terminal.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Cancelling an order</div>
<div class="paragraph">
<p>You can cancel a POS order directly after you accepted and booked the payment. To do so, tap <strong>Cancel order</strong> in the <strong>Order created</strong> view. Go to <a href="/en/omni-channel/pos/plentymarkets-pos-for-pos-users#173">POS » Cancel order</a> to cancel orders created for this POS since the last Z report.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Booking cash payments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap in the amount you received from the customer.</p>
</li>
<li>
<p>Tap <strong>Payment received/Complete payment</strong>.<br>
→ The <strong>Order created</strong> view is displayed.<br>
→ The order is created.<br>
→ A receipt is printed. Alternatively, tap <strong>Print receipt</strong> to print the receipt.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to create a new POS order.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Booking card payments with an external payment terminal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap <strong>POS terminal</strong>.<br>
→ The order total to be payed is displayed.</p>
</li>
<li>
<p>Book the payment using the POS terminal.</p>
</li>
<li>
<p>Tap <strong>Payment received/Complete payment</strong> to complete the order.<br>
→ The <strong>Order created</strong> view is displayed.<br>
→ The order is created.<br>
→ A receipt is printed. Alternatively, tap <strong>Print receipt</strong> to print the receipt.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to create a new POS order.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Booking card payments with a linked payment terminal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap <strong>POS terminal</strong>.</p>
</li>
<li>
<p>Follow the instructions to complete payment on the terminal.
→ The view <strong>Order created</strong> is shown.<br>
→ The order is created.<br>
→ The receipts are printed. Alternatively, tap <strong>Print merchant receipt</strong> and/or <strong>Print customer receipt</strong> to start printing manually.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to create a new POS order.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">3.3. Selling a gift card</h3>
<div class="paragraph">
<p>Every gift card is equivalent to a unique coupon code. This coupon code is shown on the receipt when you sell a gift card. Customers can redeem a coupon code only if it exists in the system at the time the coupon is redeemed. Depending on the workflow in your store, you either generate an automatic code when you sell a gift card or you receive a list of coupon codes from your employer. These codes either exist in the system already or you save them during the transaction. Your employer will advise you on your store’s workflow for selling gift cards.</p>
</div>
<div class="paragraph instruction">
<p>Selling a gift card and generating a coupon code automatically:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the gift card to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity.
→ The <strong>Select coupon</strong> window is displayed.</p>
</li>
<li>
<p>Tap <strong>Generate</strong>.<br>
<strong><em>Tip:</em></strong> You are not prompted to enter a coupon code if you enter a quantity of more than one gift card.</p>
</li>
<li>
<p>If prompted, enter the gift card value.<br>
→ The gift card value is inserted automatically if the gift card item has a fixed price.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The coupon code is printed on the POS receipt.</p>
</li>
<li>
<p>Provide the customer with the receipt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Selling a gift card and entering an existing coupon code:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the gift card to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity 1.<br>
<strong><em>Tip:</em></strong> Coupon codes are generated automatically if you select a quantity of more than one gift card.
→ The <strong>Select coupon</strong> window opens.</p>
</li>
<li>
<p>Tap on the <strong>Coupon code</strong> field and enter the code.</p>
</li>
<li>
<p>Tap <strong>Existing</strong>.<br>
→ The gift card value is retrieved and inserted.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The coupon code is printed on the POS receipt.</p>
</li>
<li>
<p>Provide the customer with the receipt.</p>
</li>
<li>
<p>Document the coupon code you sold.<br>
<strong><em>Note:</em></strong> Because the value of a gift card can only be redeemed once, each coupon code must be sold once only.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Selling a gift card and saving a coupon code in the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the gift card to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity 1.<br>
<strong><em>Tip:</em></strong> Coupon codes are generated automatically if you select a quantity of more than one gift card.
→ The <strong>Select coupon</strong> window opens.</p>
</li>
<li>
<p>Tap on the <strong>Coupon code</strong> field and enter the code.</p>
</li>
<li>
<p>Tap <strong>Generate</strong>.<br>
→ The <strong>Enter coupon value</strong> window opens.</p>
</li>
<li>
<p>Enter the gift card value.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The coupon code is printed on the POS receipt.</p>
</li>
<li>
<p>Provide the customer with the receipt.</p>
</li>
<li>
<p>Document the coupon code you sold.<br>
<strong><em>Note:</em></strong> Because the value of a gift card can only be redeemed once, each coupon code must be sold once only.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="90">4. Optional POS operations</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="135">4.1. Selecting an existing customer</h3>
<div class="paragraph">
<p>By default, the default customer saved for the POS is used for POS orders. However, you can select a different customer record saved in plentymarkets to save with individual POS orders. Once a POS order is completed, the POS defaults back to the default customer for the next POS order.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to select an existing customer. You can search for customers using the following customer details:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Contact ID</strong> = The customer’s contact ID</p>
</li>
<li>
<p><strong>Customer data</strong> = First name, last name, company, contact person, eBay name, additional name, street, postcode, town, email address, customer number, external customer ID, search tags, PostIdent</p>
</li>
<li>
<p><strong>Postcode</strong> = The customer’s postcode</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Selecting an existing customer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap on the customer symbol at the bottom right.<br>
→ The customer record of the default customer is displayed.</p>
</li>
<li>
<p>Tap the <strong>magnifying glass</strong>.<br>
→ The <strong>Customer search</strong> view is displayed.</p>
</li>
<li>
<p>Enter the customer data you know to search the customer record.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The search results are displayed.</p>
</li>
<li>
<p>Tap a customer record.<br>
→ A list of the addresses saved for the customer is displayed.</p>
</li>
<li>
<p>Tap an address. If only one address exists for the customer record, this address is selected by default.</p>
</li>
<li>
<p>Tap <strong>Use address</strong>.<br>
→ The customer record is selected.</p>
</li>
<li>
<p>If you have already placed items in the POS shopping cart, you are asked if you want to <strong>Update prices?</strong>. If you select <strong>Yes</strong>, any discounts saved for the customer class of the selected customer are applied to all items of the order.<br>
→ The customer details are applied to the order.<br>
<strong><em>Tip:</em></strong> You can revert to the default customer by clicking on the <strong>Reset</strong> icon.</p>
</li>
<li>
<p>Tap the <strong>X</strong> to the top right or tap the screen outside the window to return to the POS shopping cart.<br>
→ The selected customer is shown in the POS shopping cart.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ Once you have completed this POS order, the system defaults back to the default customer.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Email receipts to customers</div>
<div class="paragraph">
<p>You can email receipts to customers automatically when a receipt is generated. To do so, you need to <a href="/en/omni-channel/pos/integrating-plentymarkets-pos#70">create an event procedure</a> in the plentymarkets back end. Note that for POS orders created in the offline mode, the event procedure will only take effect once the POS order is uploaded.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="100">4.2. Adding a note to the order</h3>
<div class="paragraph">
<p>To save additional information on the order, save a note before completing the order. Notes are imported to plentymarkets and saved with the order.</p>
</div>
<div class="paragraph instruction">
<p>Adding a note to the order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap <strong>Note</strong>.<br>
→ A list of the notes saved with the orders is displayed.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>Add note</strong> window is displayed.</p>
</li>
<li>
<p>Enter the note text.</p>
</li>
<li>
<p>Tap the check mark to save the note to the order.<br>
→ The note is displayed in the list of notes and is imported to plentymarkets.</p>
</li>
<li>
<p>Tap <strong>X</strong> to close the window and return to the shopping cart view.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="110">4.3. Pausing a checkout process</h3>
<div class="paragraph">
<p>If you need to interrupt a checkout process but have already added items to the POS shopping cart, you can save the current state of the shopping cart by parking the receipt. You can save several receipts at a time.</p>
</div>
<div class="sect3">
<h4 id="120">4.3.1. Parking a receipt</h4>
<div class="paragraph">
<p>Proceed as described below to park a receipt.</p>
</div>
<div class="paragraph instruction">
<p>Parking a receipt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the vertical ellipse at the top right of the screen.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Click on <strong>Park receipt</strong>.<br>
→ The <strong>Park receipt</strong> window is displayed.</p>
</li>
<li>
<p>Tap <strong>Yes</strong>.<br>
→ The receipt is saved and a new POS shopping cart is displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="130">4.3.2. Loading a parked receipt</h4>
<div class="paragraph">
<p>Proceed as described below to load a parked receipt and complete the order.</p>
</div>
<div class="paragraph instruction">
<p>Loading a parked receipt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the vertical ellipse at the top right of the screen.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Load receipt</strong>.<br>
→ A list of all parked receipts is displayed.</p>
</li>
<li>
<p>Tap the receipt to load.<br>
→ The parked items of this receipt are displayed in the POS shopping cart.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">4.4. Editing an order item</h3>
<div class="paragraph">
<p>You can edit items placed in the POS shopping cart. Any changes you make are applied only to this order. The item is not changed in the system.</p>
</div>
<div class="paragraph instruction">
<p>Editing order items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the order item.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap the preferred setting. Note <a href="#table-POS-user-order-items">Table 2</a>.</p>
</li>
</ol>
</div>
<table id="table-POS-user-order-items" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Editing order items</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Open the <strong>Change quantity</strong> window. Enter the new quantity and tap <strong>OK</strong> to edit the item quantity in the shopping cart.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rename order item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new name and tap <strong>OK</strong> to change the name of the order item. The name is changed only in this order. The item’s name in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change single price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new price and tap <strong>OK</strong> to change the price of only one of the items of an order item with a quantity above 1. The price is changed only in this order. The item’s price in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change total price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new price and tap <strong>OK</strong> to change the total price of all items of an order item. The price is changed only in this order. The item’s price in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset item price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets prices changed using the <strong>Change single price</strong> or the <strong>Change total price</strong> option to the original price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the discount in percent and tap <strong>OK</strong> to offer a discount on the order item. The price is changed only in this order. The item’s price in the system remains unchanged.<br>
<strong><em>Note:</em></strong> You cannot combine discounting individual order items with a discount on the complete POS shopping card.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remove discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets prices discounted using the <strong>Add discount</strong> option to the original price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes the item from the POS shopping cart.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="150">4.5. Editing the shopping cart</h3>
<div class="paragraph">
<p>Before completing the order, you can redeem coupon codes or grant a discount on the complete shopping cart amount.</p>
</div>
<div class="sect3">
<h4 id="160">4.5.1. Redeeming a gift card</h4>
<div class="paragraph instruction">
<p>Redeeming a gift card:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the green arrow at the bottom of the POS shopping cart.<br>
→ A summary of the order and the available payment methods are displayed.</p>
</li>
<li>
<p>Tap <strong>Coupon / discount</strong>.</p>
</li>
<li>
<p>Enter the coupon code in the <strong>Coupon code/discount</strong> field.</p>
</li>
<li>
<p>Tap <strong>Coupon</strong>.<br>
→ The coupon total is deducted from the order total and the remaining coupon balance is displayed.</p>
</li>
<li>
<p>Tap <strong>Back</strong>.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="170">4.5.2. Applying discounts to the complete POS order</h4>
<div class="paragraph">
<p>Instead of discounting individual order items, you can also apply a discount to all items in the POS shopping cart. However, you cannot apply a discount to the complete POS shopping card if a discount was applied to one or more order items. Proceed as described below to apply a discount to all items in the POS shopping cart.</p>
</div>
<div class="paragraph instruction">
<p>Applying discounts to the complete shopping cart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the green arrow at the bottom of the POS shopping cart.<br>
→ A summary of the order and the available payment methods are displayed.</p>
</li>
<li>
<p>Tap <strong>Coupon / discount</strong>.</p>
</li>
<li>
<p>Enter the discount percentage in the <strong>Coupon code/discount</strong> field.</p>
</li>
<li>
<p>Tap <strong>Discount</strong>.<br>
→ The discount total is deducted from the order total and the new order total is displayed.</p>
</li>
<li>
<p>Tap <strong>Back</strong>.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="173">5. Cancelling an order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>POS beta » Cancel order</strong> to cancel orders created for this POS since the last Z report. Proceed as described below to cancel a POS order.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Only cancel POS orders in the plentymarkets app</div>
<div class="paragraph">
<p>Only cancel POS orders in the plentymarkets app and not in the plentymarkets back end. Orders cancelled in the plentymarkets back end are not synchronised with the app. This means that the POS data used for reporting (z reports, cash on hand, etc.) are no longer correct when you cancel POS orders in the plentymarkets back end.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Cancelling an order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.</p>
</li>
<li>
<p>Tap <strong>Cancel order</strong>.<br>
<strong><em>Tip:</em></strong> You can only select this option if you have the right to cancel orders.<br>
→ A list of all orders created for this POS since the last Z report is displayed.</p>
</li>
<li>
<p>Tap the <strong>Cancellation</strong> icon.<br>
→ Alternatively, tap the order to open the order details. Tap the <strong>Cancellation</strong> icon in the detailed view.</p>
</li>
<li>
<p>Confirm the cancellation.<br></p>
</li>
<li>
<p><strong><em>On some card terminals:</em></strong> Select if the cancelled amount is to be returned in cash or booked back to the card account via the terminal.</p>
</li>
<li>
<p>Pay out the cancelled amount in cash or process the refund via the POS terminal/payment provider.<br>
→ The order is cancelled.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="175">6. Booking a return</h2>
<div class="sectionbody">
<div class="paragraph">
<p>POS returns are imported into the plentymarkets back end as returns without a main order. Proceed as described below to book a return.</p>
</div>
<div class="paragraph instruction">
<p>Book a return:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu. Tap on <strong>Return</strong>.<br>
→ The Returns view is displayed.</p>
</li>
<li>
<p>Add the items to be returned by scanning them or using the item search.<br>
→ If the price paid differs from the current price of the item, <a href="/en/omni-channel/pos/plentymarkets-pos-for-pos-users#140">adjust the price of the item</a>.</p>
</li>
<li>
<p>Optionally, add a note to the return:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tap the pin.<br>
→ A list of the notes saved with the return is displayed.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>Add note</strong> window is displayed.</p>
</li>
<li>
<p>Enter the note text.</p>
</li>
<li>
<p>Tap the check mark button to save the note to the return.<br>
→ The note is saved and will be imported to plentymarkets with the return.</p>
</li>
<li>
<p>Tap the list icon to return to the returns view.</p>
</li>
</ol>
</div>
</li>
<li>
<p>When you have added all items to be returned, tap the green check mark button.<br>
→ the total amount of the return is shown.</p>
</li>
<li>
<p>Tap <strong>Complete return</strong>.<br>
→ A return without main order is created in the plentymarkets back end.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="180">7. Booking deposits and withdrawals</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Any transfer of cash into or out of the POS that are not the result of orders also need to be booked and documented. Putting cash into the POS, e.g. to make sure you have sufficient change on hand, is called a deposit. If you take cash out of the POS, this is called a withdrawal. For example, you might take cash from the POS to pay it into a bank account. Proceed as described below to book deposits or withdrawals.</p>
</div>
<div class="sect2">
<h3 id="190">7.1. Booking a cash deposit</h3>
<div class="paragraph">
<p>Proceed as described below to book a deposit.</p>
</div>
<div class="paragraph instruction">
<p>Booking a cash deposit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Deposits and withdrawals</strong>.<br>
→ The <strong>Deposit / withdrawal</strong> menu is displayed.</p>
</li>
<li>
<p>Select a <strong>Reason</strong> for the deposit event from the drop-down list.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter additional information on the deposit in the <strong>Details</strong> field.</p>
</li>
<li>
<p>Enter the amount that is deposited in the POS.</p>
</li>
<li>
<p>Tap <strong>Deposit</strong> to save the deposit.<br>
→ The current cash on hand is updated.<br>
→ A receipt for the deposit is printed.<br>
→ The receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="200">7.2. Booking a cash withdrawal</h3>
<div class="paragraph">
<p>Proceed as described below to book a withdrawal.</p>
</div>
<div class="paragraph instruction">
<p>Booking a cash withdrawal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Deposits and withdrawals</strong>.<br>
→ The <strong>Deposit / withdrawal</strong> menu is displayed.</p>
</li>
<li>
<p>Select a <strong>Reason</strong> for the withdrawal event from the drop-down list.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter additional information on the withdrawal in the <strong>Details</strong> field.</p>
</li>
<li>
<p>Enter the amount that is withdrawn from the POS.</p>
</li>
<li>
<p>Tap <strong>Withdrawal</strong> to save the withdrawal.<br>
→ The current cash on hand is updated.<br>
→ A receipt for the withdrawal is printed.<br>
→ The receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="210">8. Creating reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can create X reports and Z reports in plentymarkets POS.</p>
</div>
<div class="sect2">
<h3 id="220">8.1. Creating an x report</h3>
<div class="paragraph">
<p>Use X reports to gain insights into the revenue generated for this POS since the last Z report during the day. You can create any number of X reports. X reports are not imported to plentymarkets, i.e. the creation of X reports is not documented.</p>
</div>
<div class="paragraph">
<p>X reports contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Cash on hand: Initial cash on hand, withdrawals, deposits, expected cash on hand</p>
</li>
<li>
<p>Revenue: since last Z report (sum) and since creation of POS (grand total)</p>
</li>
<li>
<p>VAT report: VAT rate, VAT amount and net revenue</p>
</li>
<li>
<p>Payment methods: Revenue by payment method</p>
</li>
<li>
<p>Returned items Quantity and total</p>
</li>
<li>
<p>Cancellations: Quantity and total</p>
</li>
<li>
<p>Discounted items: Quantity and total</p>
</li>
<li>
<p>Gift cards: Quantity and total for sold gift cards</p>
</li>
<li>
<p>User: Revenue, cancellations and returns by user</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an x report:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>X report</strong>.<br>
<strong><em>Note:</em></strong> If the option is greyed out, you need additional <a href="/en/omni-channel/pos/integrating-plentymarkets-pos#170">rights</a> to create X reports.
→ The X report is printed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">8.2. Creating a Z report</h3>
<div class="paragraph">
<p>A Z report documents the revenue accrued since the last Z report. By generating a Z report, the daily revenue is reset to 0. Z reports are assigned a sequential number and saved in plentymarkets. Depending on local law, the saving of Z reports may be required for fiscal purposes.</p>
</div>
<div class="paragraph">
<p>Z reports contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Cash on hand: Withdrawals, deposits, expected cash on hand, actual cash on hand</p>
</li>
<li>
<p>Revenue: since last Z report (sum) and since creation of POS (grand total)</p>
</li>
<li>
<p>VAT report: VAT rate, VAT amount and net revenue</p>
</li>
<li>
<p>Payment methods: Revenue by payment method</p>
</li>
<li>
<p>Returned items Quantity and total</p>
</li>
<li>
<p>Cancellations: Quantity and total</p>
</li>
<li>
<p>Discounted items: Quantity and total</p>
</li>
<li>
<p>Sold gift cards: Quantity and total</p>
</li>
<li>
<p>User: Revenue, cancellations and returns by user</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a Z report:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Z report</strong>.<br>
→ The expected amount of cash on hand is displayed.</p>
</li>
<li>
<p>Count the actual cash on hand and enter this amount.</p>
</li>
<li>
<p>Tap <strong>Create Z report</strong>.<br>
<strong><em>Note:</em></strong> If the option is greyed out, you need additional <a href="/en/omni-channel/pos/integrating-plentymarkets-pos#170">rights</a> to create Z reports.
→ The Z report is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.<br>
→ The Z report is printed.<br>
→ The daily revenue is reset to 0.<br>
→ For POS located in Austria, a zero receipt is created and saved in the cash journal.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Z report for card payments</div>
<div class="paragraph">
<p>For some card terminals linked to plentymarkets POS, you can create a z report for the card terminal revenue at the same time as you create the plentymarkets POS z report on some card terminals linked to plentymarkets POS. Answer <strong>Yes</strong> to the question <strong>Also create z report for terminal?</strong> to send the card revenue to the payment provider and reset it to 0.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_till_count_report">8.3. Creating a till count report</h3>
<div class="paragraph">
<p>A till count documents the cash on hand of a till, i.e. the amount of cash in coins and notes, at a specific point in time. For till counts, the cash on hand present in the till is physically counted. The result of this count is documented in a count log. Currently, you can only enter Euro denominations.</p>
</div>
<div class="sect3">
<h4 id="_saving_a_till_count_result">8.3.1. Saving a till count result</h4>
<div class="paragraph">
<p>When you carry out a till count and save the result in plentymarkets POS, you can enter either the quantity of each coin and note denominations or enter the total result of the till count. Document the result of a till count as described below.</p>
</div>
<div class="paragraph instruction">
<p>Saving a till count result:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The POS menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Till count</strong>.<br>
→ The <strong>Till count</strong> menu is displayed. The lowest coin denomination is preselected.</p>
</li>
<li>
<p>Use the keypad to enter the number of coins you counted for this denomination.</p>
</li>
<li>
<p>Tap the green return arrow to jump to the next denomination.</p>
</li>
<li>
<p>Repeat this process until you have entered the quantity of all coins and notes.<br>
<strong><em>Alternatively:</em></strong> To enter the total amount counted instead of the quantity per denomination, tap the <strong>Overwrite</strong> field and enter the total amount you counted.</p>
</li>
<li>
<p>Tap <strong>Save till count</strong>.<br>
→ A till count report is created and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Tab <strong>Print till count report</strong> to print the report.</p>
</li>
<li>
<p>If the actual cash on hand differs from the expected cash on hand, proceed as described below to book the difference.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_booking_till_count_discrepancies">8.3.2. Booking till count discrepancies</h4>
<div class="paragraph">
<p>If the actual cash on hand differs from the expected cash on hand after the count, you either need to balance the discrepancy or book the difference. When you book the difference, the actual cash on hand is saved as the new expected cash on hand. At the same time, either a deposit or a withdrawal is saved depending on whether the difference is positive or negative:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the actual cash on hand is larger than the expected cash on hand, a deposit is booked.</p>
</li>
<li>
<p>If less cash than expected is in the till, a withdrawal is booked.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>When you book a till count discrepancy, the reason <strong>Till count discrepancy</strong> is saved automatically for this booking.</p>
</div>
<div class="paragraph instruction">
<p>Booking a till count discrepancy:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>After saving the till count, tap <strong>Book difference</strong> to save the actual cash on hand as the new expected cash on hand.<br>
→ A deposit or withdrawal is created for the discrepancy with the reason <strong>Till count discrepancy</strong> and saved in the <strong>Orders » Document archive » POS receipt</strong> menu.<br>
→ The actual cash on hand is saved as the new expected cash on hand.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="240">9. Changing POS orders in the plentymarkets back end</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order is created for POS orders in the plentymarkets back end. The following order details can be modified after the POS order is imported to the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Language</p>
</li>
<li>
<p>Status</p>
</li>
<li>
<p>Amount paid</p>
</li>
<li>
<p>Payment status</p>
</li>
<li>
<p>Reasons for return</p>
</li>
<li>
<p>Assign order to a multi-order</p>
</li>
<li>
<p>Delivery address</p>
</li>
<li>
<p>Emailing</p>
</li>
<li>
<p>Order note</p>
</li>
<li>
<p>Shipped on</p>
</li>
<li>
<p>Return date</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_pos_in_austria">10. POS in Austria</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By law, Austrian POS need to be equipped with a signature unit. These legal requirements mean that you need to use a POS slightly differently if you are based in Austria. These differences are described below.</p>
</div>
<div class="sect2">
<h3 id="260">10.1. Creating a Z2 receipt (Austria)</h3>
<div class="paragraph">
<p>A Z2 receipt is a monthly signed control receipt with an amount of zero (0.00). The RKSV requires you to create a Z2 receipt at the end of each month. The Z2 report for the month of December also serves as an end of year report.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Z2 receipt (Austria):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The POS menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Z2 receipt (AT)</strong>.<br>
→ The Z2 receipt is printed.<br>
→ The Z2 receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_selling_items_with_a_faulty_signature_unit_austria_only">10.2. Selling items with a faulty signature unit (Austria only)</h3>
<div class="paragraph">
<p>The RKSV stipulates what you need to do if the POS’s signature unit fails temporarily or permanently.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Document the time the unit stops working.</p>
</li>
<li>
<p>If possible, move on to a POS with a functional signature unit.</p>
</li>
<li>
<p>If no other POS is available, you can use the POS with the defect signature unit. All receipts are marked <strong>Sicherheitseinrichtung ausgefallen</strong> (Security unit failed).</p>
</li>
<li>
<p>Once the signature unit is functional again, a collective receipt is created and printed in plentymarkets POS automatically.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>These are recommendations that can help you adhere to the RKSV. Check with your supervisor how to proceed if the signature unit fails.</p>
</div>
</div>
<div class="sect2">
<h3 id="270">10.3. Creating a Kontrollbeleg (control receipt) for tax authorities (Austria only)</h3>
<div class="paragraph">
<p>In the case of a POS inspection by Austrian tax authorities, you need to be able to generate a zero amount control receipt (Kontrollbeleg) on the spot. This control receipt allows tax inspectors to validate the signature on the POS receipts on site in your store using an app. You do not need any additional user rights to create a control receipt.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Kontrollbeleg (control receipt) on demand:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The POS menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Control receipt</strong>.<br>
→ Der control receipt is printed.<br>
→ The control receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.<br>
<strong><em>Note:</em></strong> The investigator can keep the control receipt as evidence.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>