<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> Installing the plentymarkets app</span></a></li>
<li><a href="#410"><span>2.</span><span> Logging in, logging out and locking</span></a>
<ul class="sectlevel2">
<li><a href="#10"><span>2.1.</span><span> Logging in</span></a></li>
<li><a href="#310"><span>2.2.</span><span> Switching to a different user account</span></a></li>
<li><a href="#400"><span>2.3.</span><span> Locking and unlocking access (version 1.8.3 and higher)</span></a></li>
<li><a href="#390"><span>2.4.</span><span> Logging out (version 1.8.3 and higher)</span></a></li>
<li><a href="#_logging_out_via_the_main_menu"><span>2.5.</span><span> Logging out via the main menu</span></a></li>
<li><a href="#_logging_out_via_the_list_of_users"><span>2.6.</span><span> Logging out via the list of users</span></a></li>
</ul>
</li>
<li><a href="#290"><span>3.</span><span> Personalising plentymarkets POS</span></a></li>
<li><a href="#30"><span>4.</span><span> Selling items</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>4.1.</span><span> Adding items to the POS shopping cart</span></a>
<ul class="sectlevel3">
<li><a href="#50"><span>4.1.1.</span><span> Searching for items</span></a></li>
<li><a href="#60"><span>4.1.2.</span><span> Opening the list of favourites</span></a></li>
<li><a href="#70"><span>4.1.3.</span><span> Scanning the item label</span></a></li>
</ul>
</li>
<li><a href="#80"><span>4.2.</span><span> Receiving a payment</span></a>
<ul class="sectlevel3">
<li><a href="#_receiving_a_cash_payment"><span>4.2.1.</span><span> Receiving a cash payment</span></a></li>
<li><a href="#_booking_card_payments_with_an_external_payment_terminal"><span>4.2.2.</span><span> Booking card payments with an external payment terminal</span></a></li>
<li><a href="#_booking_card_payments_with_a_linked_payment_terminal"><span>4.2.3.</span><span> Booking card payments with a linked payment terminal</span></a></li>
<li><a href="#160"><span>4.2.4.</span><span> Accepting gift cards</span></a></li>
<li><a href="#150"><span>4.2.5.</span><span> Selling items on account</span></a></li>
</ul>
</li>
<li><a href="#90"><span>4.3.</span><span> Optional POS operations</span></a>
<ul class="sectlevel3">
<li><a href="#250"><span>4.3.1.</span><span> Selling a gift card</span></a></li>
<li><a href="#135"><span>4.3.2.</span><span> Selecting an existing customer</span></a></li>
<li><a href="#100"><span>4.3.3.</span><span> Adding a note to the order</span></a></li>
<li><a href="#110"><span>4.3.4.</span><span> Pausing a checkout process/parking a receipt</span></a>
<ul class="sectlevel4">
<li><a href="#120"><span>Parking a receipt</span></a></li>
<li><a href="#130"><span>Loading a parked receipt</span></a></li>
</ul>
</li>
<li><a href="#140"><span>4.3.5.</span><span> Editing an order item</span></a></li>
<li><a href="#170"><span>4.3.6.</span><span> Applying discounts to the complete POS order</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#173"><span>5.</span><span> Cancelling an order</span></a></li>
<li><a href="#175"><span>6.</span><span> Booking a return</span></a>
<ul class="sectlevel2">
<li><a href="#370"><span>6.1.</span><span> Booking a return by linking it to the main order</span></a>
<ul class="sectlevel3">
<li><a href="#330"><span>6.1.1.</span><span> Scanning items for a return</span></a></li>
<li><a href="#340"><span>6.1.2.</span><span> Manually selecting items for return</span></a></li>
<li><a href="#_changing_the_price_of_return_items"><span>6.1.3.</span><span> Changing the price of return items</span></a></li>
<li><a href="#320"><span>6.1.4.</span><span> Return information for POS invoice orders</span></a></li>
</ul>
</li>
<li><a href="#380"><span>6.2.</span><span> Booking a return without linking it to the main order</span></a></li>
</ul>
</li>
<li><a href="#180"><span>7.</span><span> Booking deposits and withdrawals</span></a>
<ul class="sectlevel2">
<li><a href="#190"><span>7.1.</span><span> Booking a cash deposit</span></a></li>
<li><a href="#200"><span>7.2.</span><span> Booking a cash withdrawal</span></a></li>
</ul>
</li>
<li><a href="#300"><span>8.</span><span> Printing an item label</span></a></li>
<li><a href="#210"><span>9.</span><span> Creating reports</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>9.1.</span><span> Creating an x report</span></a></li>
<li><a href="#230"><span>9.2.</span><span> Creating a Z report</span></a></li>
<li><a href="#_creating_a_till_count_report"><span>9.3.</span><span> Creating a till count report</span></a>
<ul class="sectlevel3">
<li><a href="#_saving_a_till_count_result"><span>9.3.1.</span><span> Saving a till count result</span></a></li>
<li><a href="#_booking_till_count_discrepancies"><span>9.3.2.</span><span> Booking till count discrepancies</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#280"><span>10.</span><span> Additional information for Austria</span></a>
<ul class="sectlevel2">
<li><a href="#260"><span>10.1.</span><span> Creating a Z2 receipt (Austria)</span></a></li>
<li><a href="#_selling_items_with_a_faulty_signature_unit_austria_only"><span>10.2.</span><span> Selling items with a faulty signature unit (Austria only)</span></a></li>
<li><a href="#270"><span>10.3.</span><span> Creating a Kontrollbeleg (control receipt) for tax authorities (Austria only)</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>POS for POS users</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find detailed information about how to operate a plentymarkets POS.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="5">1. Installing the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, install the plentymarkets App on the mobile device.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=en" target="_blank" rel="noopener">plentymarkets App in Google Play</a></strong></p>
</li>
<li>
<p><strong><a href="https://itunes.apple.com/en/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets App in iTunes</a></strong></p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Offline orders are deleted when you uninstall the app</div>
<div class="paragraph">
<p>If your internet connection is down, POS orders are saved on your device and uploaded to plentymarkets once connection returns. If you uninstall the app on your device before all orders were uploaded to plentymarkets, the orders saved on your device are deleted permanently and cannot be recovered by you or the plentymarkets support team. As such, check that no offline orders exist on the device before you uninstall the app.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="410">2. Logging in, logging out and locking</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="10">2.1. Logging in</h3>
<div class="paragraph">
<p>Proceed as described below to log into the plentymarkets app.</p>
</div>
<div class="paragraph instruction">
<p>Logging into plentymarkets POS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into your mobile device.</p>
</li>
<li>
<p>On the start screen, tap the plentymarkets App icon.<br>
→ The login screen is displayed.</p>
</li>
<li>
<p>Enter the login details. Note <a href="#table-POS-users-login">Table 1</a>.</p>
</li>
<li>
<p>Tap <strong>Log in</strong>.<br>
→ The start screen of the plentymarkets App is displayed.</p>
</li>
<li>
<p>Tap the menu symbol at the top left of the screen.<br>
→ The menu is displayed.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ plentymarkets POS opens.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Login details are saved</div>
<div class="paragraph">
<p>You remain logged in until you tap <strong>Log out</strong> or <strong>Lock</strong> in the main menu or the list of users. That means that you can open and close the app without having to log in again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-POS-users-login" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Login</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language in which you want to use plentymarkets POS. Currently, the user interface of plentymarkets POS is available in English or German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System (base URL)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the domain of the plentymarkets system without https:// or http://, e.g. <strong>your-shop.co.uk</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong>; <strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name and password for the plentymarkets system.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="310">2.2. Switching to a different user account</h3>
<div class="paragraph">
<p>Logged in user do not need to log out before you can log in. Switching users is only possible if one user currently is logged in. The user symbol at the top right shows the user who currently is logged in. The user symbol shows the initials of the real name of the person that is logged in. The icon’s background colour is the one that was chosen for this user account in the plentymarkets back end. You can switch users in the main menu, the POS menu, when creating POS orders and when booking returns. Once you switch users, the same area of the app opens. If the new user does not have rights for this area of the app, the main menu of the app opens instead. Proceed as described below to switch the user account.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Order details are saved</div>
<div class="paragraph">
<p>If you change the user account whilst in the process of creating an order, the new user can finish this order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Switching to a different user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the user icon at the top right of the app.<br>
→ A list of the real names of the users with an app PIN is shown.<br>
<strong><em>Note:</em></strong> If your name is not listed, update the view by pulling the window down. If your name is still not shown, this means that no app PIN is saved for your user account in the plentymarkets back end.</p>
</li>
<li>
<p>Tap your user account.</p>
</li>
<li>
<p>If this is your first time logging into the app, enter your user password. For each subsequent login, you can enter your PIN.<br>
→ The user account is switched.<br>
→ The same area of the app opens.<br>
<strong><em>Tipp:</em></strong> If you do not have rights for this area, the main menu opens instead.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">2.3. Locking and unlocking access (version 1.8.3 and higher)</h3>
<div class="paragraph">
<p>If you leave the checkout area but want to remain logged in, you can lock access to the app. Proceed as described below to lock and unlock access to the app.</p>
</div>
<div class="paragraph instruction">
<p>Locking and unlocking access:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the user icon at the top right of the app.<br>
→ A list of the real names of the users with an app PIN is shown.</p>
</li>
<li>
<p>Tap the <strong>Lock</strong> icon at the bottom left of the window.<br>
→ Access to the app is locked.<br>
→ Your name is shown as the first item in the list of users.</p>
</li>
<li>
<p>To unlock access to the app, tap the user icon at the top right of the screen.</p>
</li>
<li>
<p>Tap your user account.</p>
</li>
<li>
<p>Enter your PIN or your password.<br>
<strong><em>Note:</em></strong> To access, a PIN or a password is required if you exit and reopen the app.<br>
→ Access to the app is unlocked.<br>
<strong><em>Tip:</em></strong> You can change users even if access to the app is locked. Tap a different user account in the list to change users.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="390">2.4. Logging out (version 1.8.3 and higher)</h3>
<div class="paragraph">
<p>Proceed as described below to log out from the plentymarkets app and close the app. The option <strong>Log current user back in automatically</strong> allows you to decide if the last user is logged in automatically when you open the app again.</p>
</div>
</div>
<div class="sect2">
<h3 id="_logging_out_via_the_main_menu">2.5. Logging out via the main menu</h3>
<div class="paragraph instruction">
<p>Logging out via the main menu and exiting the app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the menu icon at the top left corner of the app.<br>
→ The menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Log out</strong>.<br>
→ The <strong>Log out</strong> window is displayed.</p>
</li>
<li>
<p>Select a setting for the option <strong>Log current user back in automatically</strong>. Pay attention to the explanations given in <a href="#table-POS-session">Table 2</a>.</p>
</li>
<li>
<p>Tap <strong>Log out</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_logging_out_via_the_list_of_users">2.6. Logging out via the list of users</h3>
<div class="paragraph instruction">
<p>Logging out via the list of users and exiting the app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the user icon at the top right of the app.<br>
→ A list of the real names of the users with an app PIN is shown.</p>
</li>
<li>
<p>Tap the <strong>Log out</strong> icon at the bottom right of the window.<br>
→ The <strong>Log out</strong> window is displayed.</p>
</li>
<li>
<p>Select a setting for the option <strong>Log current user back in automatically</strong>. Pay attention to the explanations given in <a href="#table-POS-session">Table 2</a>.</p>
</li>
<li>
<p>Tap <strong>Log out</strong>.</p>
</li>
</ol>
</div>
<table id="table-POS-session" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Setting <strong>Log current user back in automatically</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Log current user back in automatically</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Not active (default) = The user is logged out completely and the login details are discarded. The login view is shown. To log in, language, base URL and user details must be entered.<br>
Active = The app is closed. The active user is logged out from the server. The same user automatically is logged in when the app is started next. No PIN or password is necessary to log in next time the app is started.<br>
<strong><em>Note:</em></strong> This setting is saved and applies to all users of the app.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="290">3. Personalising plentymarkets POS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the plentymarkets app settings, you can change the background image and activate the full screen mode for Android devices. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Customising the screen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Tap the menu symbol at the top left of the screen.<br>
→ The menu opens.</p>
</li>
<li>
<p>Tap <strong>View</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-POS-view">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-POS-view" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Customising the screen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Select background</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select background</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tap an image to use it as a POS background.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Use full screen mode</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Full screen mode</strong><br>
(Android devices only)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to hide the operating system’s soft keys.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">4. Selling items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you open plentymarkets POS, the POS menu is displayed. Tap <strong>POS</strong> to open the POS shopping cart and add items.</p>
</div>
<div class="sect2">
<h3 id="40">4.1. Adding items to the POS shopping cart</h3>
<div class="paragraph">
<p>Add items to the current POS basket by searching the items, opening the list of favourites or by scanning the label of an item.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Best before date and batches</div>
<div class="paragraph">
<p>Items with best before dates, batches or both are not found.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="50">4.1.1. Searching for items</h4>
<div class="paragraph">
<p>Use the item search to access all items of this client. You can search for items using the following item data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item ID</p>
</li>
<li>
<p>Variation number</p>
</li>
<li>
<p>Barcode</p>
</li>
<li>
<p>Item name</p>
</li>
<li>
<p>Variation ID</p>
</li>
<li>
<p>Supplier item No.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to add items to the POS shopping cart by using the item search.</p>
</div>
<div class="paragraph instruction">
<p>Adding items using the item search:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the magnifying glass.<br>
→ The item search opens.</p>
</li>
<li>
<p>Enter a search criterion.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ A list of items matching the search criteria is displayed.<br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.</p>
</li>
<li>
<p>Tap the green check mark to add an item to the shopping cart.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart and the current order sum is updated.<br>
<strong><em>Tip:</em></strong> Items with no net stock are shown in red but can be sold.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="60">4.1.2. Opening the list of favourites</h4>
<div class="paragraph">
<p>Quickly add favourite items to the POS shopping basket by accessing them through the favourites list. plentymarkets administrators can create a list of favourite items for the POS. However, you can also mark frequently bought items as favourites yourself in order to speed up the checkout process. Proceed as described below to add items to the POS shopping cart by using the list of favourites.</p>
</div>
<div class="paragraph instruction">
<p>Adding items from the list of favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the star.<br>
→ The favourites list is displayed.<br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.<br></p>
</li>
<li>
<p>Tap the green check mark to add an item to the shopping cart.<br>
→ The <strong>Enter quantity</strong> window is displayed.<br></p>
</li>
<li>
<p>Enter the quantity for the item that you want to add to the shopping cart.<br>
→ The item is added to the shopping cart and the current order sum is updated.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="70">4.1.3. Scanning the item label</h4>
<div class="paragraph">
<p>If you work with item labels, you can also scan an item’s label to add the item to the POS shopping cart. You can scan items using the camera of the mobile device or a connected Bluetooth scanner. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Scanning the item label with the camera of the device:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the label symbol.<br>
→ The mobile device’s camera is activated.</p>
</li>
<li>
<p>Tap the camera icon to scan the label.<br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.<br>
→ The item is added to the shopping cart with a quantity of 1.<br>
→ The total to be payed is updated.<br>
<strong><em>Tipp:</em></strong> If you can see the <strong>X</strong> button in the bottom row of the POS’s number pad, you can tap this button, enter the quantity and then scan the item or select a favourites item. The item is placed in the POS shopping cart with the quantity you entered. An admin user must activate this feature for the POS.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Scanning an item label with an external Bluetooth scanner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the POS shopping cart.<br></p>
</li>
<li>
<p>Scan the item label. <br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.<br>
→ The item is added to the shopping cart with a quantity of 1.<br>
→ The total to be payed is updated.<br>
<strong><em>Tipp:</em></strong> If you can see the <strong>X</strong> button in the bottom row of the POS’s number pad, you can tap this button, enter the quantity and then scan the item or select a favourites item. The item is placed in the POS shopping cart with the quantity you entered. An admin user must activate this feature for the POS.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="80">4.2. Receiving a payment</h3>
<div class="paragraph">
<p>After you have added all items of a customer to the POS shopping cart and applied any gift cards and/or discounts, you complete the order by booking the payment. Customers can pay cash. Depending on the setup in your store, they may also be able to pay by card using a POS terminal and/or a gift card.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Cancelling an order</div>
<div class="paragraph">
<p>You can cancel a POS order directly after you accepted and booked the payment. To do so, tap <strong>Cancel order</strong> in the <strong>Order created</strong> view. Go to <a href="/en/omni-channel/pos/plentymarkets-pos-for-pos-users#173">POS » Cancel order</a> to cancel any completed orders created for this POS since the last Z report.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_receiving_a_cash_payment">4.2.1. Receiving a cash payment</h4>
<div class="paragraph">
<p>Proceed as described below to receive cash payment.</p>
</div>
<div class="paragraph instruction">
<p>Receiving a cash payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap in the amount you received from the customer.<br>
<strong><em>Tip:</em></strong> If you can see the <strong>Exact cash amount</strong> button in the bottom row of the POS’s number pad, you can tap this button instead of entering the amount if a customer pays the exact amount in cash. The exact amount is then automatically inserted in the <strong>Received</strong> field. An admin user must activate this feature for the POS.</p>
</li>
<li>
<p>Tap <strong>Payment received</strong>.<br>
→ The <strong>Order created</strong> view opens.<br>
→ The order is created.<br>
→ A receipt is printed. Alternatively, tap <strong>Print receipt</strong> to print the receipt.<br>
<strong><em>Tipp:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to create a new POS order.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_booking_card_payments_with_an_external_payment_terminal">4.2.2. Booking card payments with an external payment terminal</h4>
<div class="paragraph instruction">
<p>Booking card payments with an external payment terminal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap <strong>POS terminal</strong>.<br>
→ The order total to be payed is displayed.</p>
</li>
<li>
<p>Book the payment using the POS terminal.</p>
</li>
<li>
<p>Tap <strong>Payment received/Complete payment</strong> to complete the order.<br>
→ The <strong>Order created</strong> view is displayed.<br>
→ The order is created.<br>
→ A receipt is printed. Alternatively, tap <strong>Print receipt</strong> to print the receipt.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to create a new POS order.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_booking_card_payments_with_a_linked_payment_terminal">4.2.3. Booking card payments with a linked payment terminal</h4>
<div class="paragraph instruction">
<p>Booking card payments with a linked payment terminal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap <strong>POS terminal</strong>.</p>
</li>
<li>
<p>Follow the instructions to complete payment on the terminal.<br>
→ The <strong>Order created</strong> view opens.<br>
→ The order is created.<br>
→ The receipts are printed. Alternatively, tap <strong>Print merchant receipt</strong> and/or <strong>Print customer receipt</strong> to start printing manually.<br>
<strong><em>Tip:</em></strong> Tap <strong>Show order</strong> to view the order details.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to create a new POS order.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="160">4.2.4. Accepting gift cards</h4>
<div class="paragraph">
<p>Each gift card has a unique gift card code. You enter this gift card code during the checkout process to apply the gift card to the items the customer wants to buy. Customers can redeem a gift card code only if the code exists in the plentymarkets system when a customer tries to redeem the gift card. In app versions 1.8.1 and higher, you can also redeem more than one gift card per order. When the order is created, the gift cards are redeemed in the order in which you entered the gift card codes. If you remove a gift card code before you create the order, the balance the customer needs to pay is recalculated.</p>
</div>
<div class="paragraph instruction">
<p>Redeeming gift cards:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Place the items that the customer wants to buy into the POS shopping cart.</p>
</li>
<li>
<p>Tap the green arrow at the bottom of the POS shopping cart.<br>
→ A summary of the order and the available payment methods are displayed.</p>
</li>
<li>
<p>Tap <strong>Gift card/discount</strong>.</p>
</li>
<li>
<p>Enter the gift card code in the <strong>Gift card code/discount</strong> field.</p>
</li>
<li>
<p>Tap <strong>Coupon</strong>.<br>
→ The gift card amount is deducted from the order total.<br>
→ The amount the customer still has to pay is displayed.</p>
</li>
<li>
<p>If the customer wants to redeem additional gift cards, enter these gift card codes in the same way.<br>
<strong><em>Note:</em></strong> The gift cards are redeemed in the order in which you entered the gift card codes. If you remove a gift card code, the order total is recalculated.</p>
</li>
<li>
<p>Tap <strong>Back</strong>.</p>
</li>
<li>
<p>Finish processing the POS order as usual.<br>
→ If you apply a discount to the complete order or individual order items after you have entered gift card codes, the order total is recalculated.</p>
</li>
<li>
<p>Finish processing the POS order as usual.<br>
→ If you work with gift card receipts, a gift card receipt is created if the value of the gift card is not redeemed in full. Hand out the gift card receipt together with the sales receipt to the customer.<br>
<strong><em>Tipp:</em></strong> Whether or not a gift card receipt is printed depends on the POS settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="150">4.2.5. Selling items on account</h4>
<div class="paragraph">
<p>If the plugin <strong>plentyPOS Invoice</strong> is provisioned in the plentymarkets back end, you can also sell items on account to existing customers. However, because you cannot save new customer data in plentyPOS, only existing customers can pay for items by invoice.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Returning items purchased on account</div>
<div class="paragraph">
<p>Orders with the payment method POS invoice can be cancelled until the next z report is generated. In plentymarkets app versions 1.8 and higher, you can also book returns for items that were bought on account. If customers have partially paid their invoice at the time of the return, plentymarkets POS automatically calculates the amount the customer is to be refunded.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Buying items on account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the items <a href="#40">to the POS basket</a>.</p>
</li>
<li>
<p>Open the <a href="#135">customer data of the customer</a>.<br>
<strong><em>Important:</em></strong> Ensure that the customer really is the person saved in the customer data.<br>
→ After a customer is selected, the <strong>Invoice</strong> icon can be selected.</p>
</li>
<li>
<p>Tap the <strong>Invoice</strong> icon.<br>
→ A window with the order details and customers details opens.</p>
</li>
<li>
<p>Check the order details.</p>
</li>
<li>
<p>Tap <strong>Invoice</strong>.<br>
→ The <strong>Order created</strong> view opens.<br>
→ The order is created.<br>
→ The invoice is printed. Alternatively, tap <strong>Print invoice</strong> to print the invoice.</p>
</li>
<li>
<p>Tap <strong>New order</strong> to create a new POS order.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="90">4.3. Optional POS operations</h3>
<div class="sect3">
<h4 id="250">4.3.1. Selling a gift card</h4>
<div class="paragraph">
<p>Each gift card has a unique gift card code. This gift card code is shown on the receipt when you sell a gift card. Customers can redeem a gift card code only if the code exists in the plentymarkets system when the customer tries to redeem the gift card. Depending on the workflow in your store, you either generate an automatic code when you sell a gift card or you receive a list of gift card codes from your employer. The codes of this list are either already saved in the system or you need to save them when you sell the gift card. Your employer will advise you on your store’s workflow for selling gift cards.</p>
</div>
<div class="paragraph instruction">
<p>Selling a gift card and generating a gift card code automatically:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the gift card to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity.<br>
→ The <strong>Select gift card</strong> window is displayed.</p>
</li>
<li>
<p>Tap <strong>Generate</strong>.<br>
<strong><em>Tip:</em></strong> You are not prompted to enter a gift card code if you enter a quantity of more than one gift card.</p>
</li>
<li>
<p>If prompted, enter the gift card value.<br>
→ The gift card value is inserted automatically if the gift card item has a fixed price.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The gift card code is printed on the POS receipt.</p>
</li>
<li>
<p>Provide the customer with the receipt.</p>
</li>
<li>
<p>If you also print gift card receipts, provide the customer with the gift card receipt as well.<br>
<strong><em>Note:</em></strong> The gift card code is printed both on the gift card receipt and the POS order receipt. As such, customers should keep both receipts to prevent others from redeeming the gift card.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Selling a gift card and entering an existing gift card code:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the gift card to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity 1.<br>
<strong><em>Tip:</em></strong> If you select a quantity of more than one gift card, the gift card codes are generated automatically.<br>
→ The <strong>Select gift card</strong> window is displayed.</p>
</li>
<li>
<p>Tap on the <strong>Gift card code</strong> field and enter the code.</p>
</li>
<li>
<p>Tap <strong>Existing</strong>.<br>
→ The gift card value is retrieved and inserted.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The gift card code is printed on the POS receipt.</p>
</li>
<li>
<p>Provide the customer with the receipt.</p>
</li>
<li>
<p>If you also print gift card receipts, provide the customer with the gift card receipt as well.<br>
<strong><em>Note:</em></strong> The gift card code is printed both on the gift card receipt and the POS order receipt. As such, customers should keep both receipts to prevent others from redeeming the gift card.</p>
</li>
<li>
<p>Document the gift card code you sold.<br>
<strong><em>Note:</em></strong> Because the value of a gift card can only be redeemed once, each gift card code must be sold once only.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Selling a gift card and saving a gift card code in the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add the gift card to the POS shopping cart.</p>
</li>
<li>
<p>Select the quantity 1.<br>
<strong><em>Tip:</em></strong> Gift card codes are generated automatically if you select a quantity of more than one gift card.<br>
→ The <strong>Select gift card</strong> window is displayed.</p>
</li>
<li>
<p>Tap on the <strong>Gift card code</strong> field and enter the code.</p>
</li>
<li>
<p>Tap <strong>Generate</strong>.<br>
→ The <strong>Enter gift card value</strong> window opens.</p>
</li>
<li>
<p>Enter the gift card value.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ The gift card code is printed on the POS receipt.</p>
</li>
<li>
<p>Provide the customer with the receipt.</p>
</li>
<li>
<p>If you also print gift card receipts, provide the customer with the gift card receipt as well.<br>
<strong><em>Note:</em></strong> The gift card code is printed both on the gift card receipt and the POS order receipt. As such, customers should keep both receipts to prevent others from redeeming the gift card.</p>
</li>
<li>
<p>Document the gift card code you sold.<br>
<strong><em>Note:</em></strong> Because the value of a gift card can only be redeemed once, each gift card code must be sold once only.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="135">4.3.2. Selecting an existing customer</h4>
<div class="paragraph">
<p>By default, the default customer saved for the POS is used for POS orders. However, you can select a different customer record saved in plentymarkets to save with individual POS orders. Once a POS order is completed, the POS defaults back to the default customer for the next POS order.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to select an existing customer. You can search for customers using the following customer details:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Contact ID</strong> = Contact ID of the customer</p>
</li>
<li>
<p><strong>Customer data</strong> = First name, Last name, Company, Contact person, eBay name, Additional name, Street, Postcode, Town, Email address, Customer number, External customer ID, Search tags, PostIdent</p>
</li>
<li>
<p><strong>Postcode</strong> = The customer’s postcode</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Selecting an existing customer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap on the customer symbol at the bottom right.<br>
→ The customer record of the default customer is displayed.</p>
</li>
<li>
<p>Tap the <strong>magnifying glass</strong>.<br>
→ The <strong>Customer search</strong> view is displayed.</p>
</li>
<li>
<p>Enter the customer data you know to search the customer record.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The search results are displayed.</p>
</li>
<li>
<p>Tap a customer record.<br>
→ A list of the addresses saved for the customer is displayed.</p>
</li>
<li>
<p>Tap an address.<br>
→ If only one address exists for the customer record, this address is selected by default.</p>
</li>
<li>
<p>Tap <strong>Use address</strong>.<br>
→ The customer record is selected.</p>
</li>
<li>
<p>If you have already placed items in the POS shopping cart, you are asked if you want to <strong>Update prices?</strong>. If you select <strong>Yes</strong>, any discounts saved for the customer class of the selected customer are applied to all items of the order.<br>
→ The customer details are applied to the order.<br>
<strong><em>Tip:</em></strong> You can revert to the default customer by clicking on the <strong>Reset</strong> icon.</p>
</li>
<li>
<p>Tap the <strong>X</strong> to the top right or tap the screen outside the window to return to the POS shopping cart.<br>
→ The selected customer is shown in the POS shopping cart.</p>
</li>
<li>
<p>Finish processing the order as usual.<br>
→ Once you have completed this POS order, the system defaults back to the default customer.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Email receipts to customers</div>
<div class="paragraph">
<p>You can email receipts to customers automatically when a receipt is generated. To do so, you need to <a href="/en/omni-channel/pos/integrating-plentymarkets-pos#70">create an event procedure</a> in the plentymarkets back end. Note that for POS orders completed in the offline mode, the receipt is only be sent once the POS order is uploaded.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="100">4.3.3. Adding a note to the order</h4>
<div class="paragraph">
<p>To save additional information on the order, save a note before completing the order. Notes are imported to the plentymarkets back end and saved with the order.</p>
</div>
<div class="paragraph instruction">
<p>Adding a note to the order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap <strong>Note</strong>.<br>
→ A list of the notes saved with the orders is displayed.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>Add note</strong> window is displayed.</p>
</li>
<li>
<p>Enter the note text.</p>
</li>
<li>
<p>Tap the check mark to save the note to the order.<br>
→ The note is displayed in the list of notes and is imported to plentymarkets.</p>
</li>
<li>
<p>Tap <strong>X</strong> to close the window and return to the shopping cart view.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="110">4.3.4. Pausing a checkout process/parking a receipt</h4>
<div class="paragraph">
<p>If you need to interrupt a checkout process but have already added items to the POS shopping cart, you can save the current state of the shopping cart by parking the receipt. You can save several receipts at a time.</p>
</div>
<div class="sect4">
<h5 id="120">Parking a receipt</h5>
<div class="paragraph">
<p>Proceed as described below to park a receipt.</p>
</div>
<div class="paragraph instruction">
<p>Parking a receipt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the vertical ellipse at the top right of the screen.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Click on <strong>Park receipt</strong>.<br>
→ The <strong>Park receipt</strong> window is displayed.</p>
</li>
<li>
<p>Tap <strong>Yes</strong>.<br>
→ The receipt is saved and a new POS shopping cart is displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect4">
<h5 id="130">Loading a parked receipt</h5>
<div class="paragraph">
<p>Proceed as described below to load a parked receipt and complete the order.</p>
</div>
<div class="paragraph instruction">
<p>Loading a parked receipt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the vertical ellipse at the top right of the screen.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Load receipt</strong>.<br>
→ A list of all parked receipts is displayed.</p>
</li>
<li>
<p>Tap the receipt to load.<br>
→ The parked items of this receipt are displayed in the POS shopping cart.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect3">
<h4 id="140">4.3.5. Editing an order item</h4>
<div class="paragraph">
<p>You can edit items placed in the POS shopping cart. Any changes you make are applied only to this order. The item is not changed in the system.</p>
</div>
<div class="paragraph instruction">
<p>Editing order items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the POS shopping cart, tap the order item.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap the preferred setting. Note <a href="#table-POS-user-edit-order-items">Table 4</a>.</p>
</li>
</ol>
</div>
<table id="table-POS-user-edit-order-items" class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Editing order items</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Open the <strong>Change quantity</strong> window. Enter the new quantity and tap <strong>OK</strong> to edit the item quantity in the shopping cart.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rename order item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new name and tap <strong>OK</strong> to change the name of the order item. The name is changed only in this order. The item’s name in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change single price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new price and tap <strong>OK</strong> to change the single price of all items of an order item. The price is changed only in this order. The item’s price in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change total price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new price and tap <strong>OK</strong> to change the total price of all items of an order item. The price is changed only in this order. The item’s price in the system remains unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset item price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets prices changed using the <strong>Change single price</strong> or the <strong>Change total price</strong> option to the original price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the discount in percent and tap <strong>OK</strong> to offer a discount on the order item. The price is changed only in this order. The item’s price in the system remains unchanged.<br>
<strong><em>Note:</em></strong> You cannot combine discounting individual order items with a discount on the complete POS shopping card.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remove discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets prices discounted using the <strong>Add discount</strong> option to the original price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes the item from the POS shopping cart.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="170">4.3.6. Applying discounts to the complete POS order</h4>
<div class="paragraph">
<p>Instead of discounting individual order items, you can also apply a discount to all items in the POS shopping cart. However, you cannot apply a discount to the complete POS shopping card if a discount was applied to one or more items that are already in the POS shopping cart. Proceed as described below to apply a discount to all items in the POS shopping cart.</p>
</div>
<div class="paragraph instruction">
<p>Applying discounts to the complete shopping cart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the green arrow at the bottom of the POS shopping cart.<br>
→ A summary of the order and the available payment methods are displayed.</p>
</li>
<li>
<p>Tap <strong>Gift card / discount</strong>.</p>
</li>
<li>
<p>Enter the discount percentage in the <strong>Gift card code/discount</strong> field.</p>
</li>
<li>
<p>Tap <strong>Discount</strong>.<br>
→ The discount total is deducted from the order total and the new order total is displayed.</p>
</li>
<li>
<p>Tap <strong>Back</strong>.</p>
</li>
<li>
<p>Finish processing the POS order as usual.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="173">5. Cancelling an order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>POS beta » Cancel order</strong> to cancel orders created for this POS since the last Z report. Proceed as described below to cancel a POS order.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Only cancel POS orders in the plentymarkets app</div>
<div class="paragraph">
<p>Only cancel POS orders in the plentymarkets app and not in the plentymarkets back end. Orders cancelled in the plentymarkets back end are not synchronised with the app. This means that the POS data used for reporting (z reports, cash on hand, etc.) are no longer correct when you cancel POS orders in the plentymarkets back end.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Cancelling an order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.</p>
</li>
<li>
<p>Tap <strong>Cancel order</strong>.<br>
<strong><em>Tip:</em></strong> You can only select this option if you have the right to cancel orders.<br>
→ A list of all orders created for this POS since the last Z report is displayed.</p>
</li>
<li>
<p>Tap the <strong>Cancellation</strong> icon.<br>
→ Alternatively, tap the order to open the order details. Tap the <strong>Cancellation</strong> icon in the detailed view.</p>
</li>
<li>
<p>Confirm the cancellation.<br></p>
</li>
<li>
<p><strong><em>On some card terminals:</em></strong> Select if the cancelled amount is to be returned in cash or booked back to the card account via the terminal.</p>
</li>
<li>
<p>Pay out the cancelled amount in cash or process the refund via the POS terminal/payment provider.<br>
→ The order is cancelled.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="175">6. Booking a return</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If customers want to return items, you have two options for booking a return:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#370">Open the main order and book the return to this original order</a>.</p>
</li>
<li>
<p><a href="#380">If the main order is unknown or cannot be opened, create a return without a main order</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Returns are cash only</div>
<div class="paragraph">
<p>For technical reasons, the return amount can only be paid out to customers in cash.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="370">6.1. Booking a return by linking it to the main order</h3>
<div class="paragraph">
<p>If you know the order ID or the receipt number (external order number) of the original main order, you can open this main order and book the return directly to this order. Proceed as described below to open the main order and to either <a href="#330">scan</a> or <a href="#340">manually select</a> the return items.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Gift cards cannot be returned</div>
<div class="paragraph">
<p>Customers cannot return gift cards. As such, gift cards are shown in grey in the return view.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="330">6.1.1. Scanning items for a return</h4>
<div class="paragraph">
<p>If you work with scanners, proceed as described below to scan return items.</p>
</div>
<div class="paragraph instruction">
<p>Scanning items for a return:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu. Tap on <strong>Return</strong>.<br>
→ The Returns view is displayed.</p>
</li>
<li>
<p>Tap <strong>Search order</strong>.<br>
→ The order search opens.</p>
</li>
<li>
<p>In the <strong>External order number</strong> field, enter the receipt number.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The order data is displayed.<br>
→ Depending on the POS settings, either all order items or no order items are selected for return.</p>
</li>
<li>
<p>Scan the barcode of the items that the customer wants to return.<br>
<strong><em>Note:</em></strong> The scanned item is added to the return with a quantity of <strong>1</strong>. As such, every item to be returned must be scanned individually.<br>
→ By default, the <strong>Default repair storage location</strong> of the POS is selected.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a different target storage location (version 1.8.2 and higher):<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tap the item.</p>
</li>
<li>
<p>Select the option <strong>Change target storage location</strong> from the drop-down list.<br>
→ The available storage location are shown.</p>
</li>
<li>
<p>Scan the barcode of the target storage location.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add a <a href="/en/omni-channel/pos/plentymarkets-pos-for-pos-users#100">note to the return</a>.</p>
</li>
<li>
<p>On the original receipt, cross out the items the customer is returning.</p>
</li>
<li>
<p>Tap <strong>Complete and pay out cash</strong> or (optional, version 1.8.3 and higher) <strong>Complete and create gift card</strong>.<br></p>
</li>
<li>
<p>If the main order contains shipping costs, select if these shipping costs are to be refunded.<br>
→ A return in created in the plentymarkets back end and linked to the main order.<br>
→ A credit note is created in the plentymarkets back end and linked to the return.<br>
→ If you opted for a gift card, a new order for the amount of the gift card is created.</p>
</li>
<li>
<p>Pay out the refund amount in cash or give out the gift card.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="340">6.1.2. Manually selecting items for return</h4>
<div class="paragraph">
<p>If you do not work with a scanner you can select return items manually. However, how you do this depends on the POS settings. Depending on the POS settings, when you open the order, either all order items are already selected for return or no items are selected. This means that the return shopping cart is either full or empty when the order opens:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>All order items are selected when you open the order.<br>
→ <a href="#350">Remove those items from the return that the customer does not want to return.</a><br>
<strong><em>Tipp:</em></strong> When you open the order, a recycling bin is shown on the right of the order item. Tap this recycling bin to remove those order items that the customer does not want to return.</p>
</li>
<li>
<p>No order items are selected when you open the order.<br>
→ <a href="#360">Add those items to the return that the customer wants to return.</a><br>
<strong><em>Tipp:</em></strong> All order items are greyed out when you open the order. A green plus is shown to the right of the order item. Tap this green plus to add those order items that the customer wants to return.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>When you open a main order to book a return, either all or no order items are selected for return. This depends on the option <strong>Return with main order: Manually select order items for return</strong> in basic settings of the POS in the plentymarkets back end.</p>
</div>
<div class="paragraph subhead">
<p>Booking return items if order items are preselected:</p>
</div>
<div class="paragraph">
<p>When you open an order in the <strong>Return</strong> menu, all order items of the order are selected for return. Proceed as described below to remove those order items from the return that the customer does not want to return.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Are the return items preselected?</div>
<div class="paragraph">
<p>How a return order is presented depends on the POS settings. You can tell that the return items are preselected by the small recycling bin shown to the right of the order item. This recycling bin means that the return cart is full. You need to remove those items that the customer does not want to return.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Book return items if all order items are preselected:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu. Tap on <strong>Return</strong>.<br>
→ The Returns view is displayed.</p>
</li>
<li>
<p>Tap <strong>Search order</strong>.<br>
→ The order search opens.</p>
</li>
<li>
<p>In the <strong>External order number</strong> field, enter the receipt number.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The order data is displayed.<br>
→ All order items are selected for return.<br>
<strong><em>Tipp:</em></strong> If the customer wants to return all order items of the order, just tap <strong>Create return</strong> straight away.</p>
</li>
<li>
<p>Remove those items from the return that the customer does not want to return.<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>To remove the complete quantity of an order item from the return:<br></p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the recycle bin next to the order item.<br></p>
</li>
</ol>
</div>
</li>
<li>
<p>To remove a subset of an order item from the return:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the order item.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Change quantity</strong>.<br>
→ The <strong>Change quantity</strong> window opens.</p>
</li>
<li>
<p>Enter the quantity for the item that is being returned.<br>
→ The quantity of the order item is updated.<br>
→ By default, the <strong>Default repair storage location</strong> of the POS is selected.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a different target storage location for the item (version 1.8.2 and higher):<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tap the item.</p>
</li>
<li>
<p>Select the option <strong>Change target storage location</strong> from the drop-down list.<br>
→ The available storage locations are shown in the following order:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Storage location from order = The storage location of the item at the time it was sold.</p>
</li>
<li>
<p>Default repair storage location = The <strong>Default repair storage location</strong> selected in the <strong>Basic settings</strong> tab of the POS.</p>
</li>
<li>
<p>Suggested storage locations = The storage location suggestions of the warehouses linked to the variation.</p>
</li>
<li>
<p>Used storage locations = The storage locations in which the variation is stored already.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Tap a target storage location.<br>
→ The storage location is changed.<br>
<strong><em>Tip:</em></strong> Tap on the menu to the top right and then on the <strong>Change target storage locations</strong> option to change the target storage locations of all returned items at once.</p>
</li>
</ol>
</div>
</li>
<li>
<p>If necessary, change the quantity and the storage locations of other order items.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add a <a href="/en/omni-channel/pos/plentymarkets-pos-for-pos-users#100">note to the return</a>.</p>
</li>
<li>
<p>On the original receipt, cross out the items the customer is returning.</p>
</li>
<li>
<p>Tap <strong>Complete and pay out cash</strong> or (optional, version 1.8.3 and higher) <strong>Complete and create gift card</strong>.<br></p>
</li>
<li>
<p>If the main order contains shipping costs, select if these shipping costs are to be refunded.<br>
→ A return in created in the plentymarkets back end and linked to the main order.<br>
→ A credit note is created in the plentymarkets back end and linked to the return.<br>
→ If you opted for a gift card, a new order for the amount of the gift card is created.</p>
</li>
<li>
<p>Pay out the refund amount in cash or give out the gift card.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Booking return items if order items are not preselected:</p>
</div>
<div class="paragraph">
<p>When you open an order in the <strong>Return</strong> menu, no order items of the order are selected for return. Proceed as described below to add those order items to the return that the customer wants to return.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Are the return items preselected?</div>
<div class="paragraph">
<p>How a return order is presented depends on the POS settings. You can tell that the return items are not preselected by the fact that the order items are greyed out and a small green plus is shown to the right of the order item. This green plus means that the return cart is empty. You need to add those items that the customer wants to return.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Book return items if no order items are preselected:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu. Tap on <strong>Return</strong>.<br>
→ The Returns view is displayed.</p>
</li>
<li>
<p>Tap <strong>Search order</strong>.<br>
→ The order search opens.</p>
</li>
<li>
<p>In the <strong>External order number</strong> field, enter the receipt number.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The order data is displayed.<br>
→ No order items are selected for return.</p>
</li>
<li>
<p>Add those items to the return that the customer wants to return.<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>To add the complete quantity of an order item to the return:<br></p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the green plus icon next to the order item.<br>
→ The full quantity is added to the return.<br>
→ By default, the <strong>Default repair storage location</strong> of the POS is selected.</p>
</li>
</ol>
</div>
</li>
<li>
<p>To add a subset of an order item to the return:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap the green plus icon next to the order item.<br>
→ The full quantity is added to the return.</p>
</li>
<li>
<p>Tap the order item.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Change quantity</strong>.<br>
→ The <strong>Change quantity</strong> window opens.</p>
</li>
<li>
<p>Enter the quantity for the item that is being returned.<br>
→ The quantity of the order item is updated.<br>
→ By default, the <strong>Default repair storage location</strong> of the POS is selected.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a different target storage location for the item (version 1.8.2 and higher):<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tap the item.</p>
</li>
<li>
<p>Select the option <strong>Change target storage location</strong> from the drop-down list.<br>
→ The available storage locations are shown in the following order:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Storage location from order = The storage location of the item at the time it was sold.</p>
</li>
<li>
<p>Default repair storage location = The <strong>Default repair storage location</strong> selected in the <strong>Basic settings</strong> tab of the POS.</p>
</li>
<li>
<p>Suggested storage locations = The storage location suggestions of the warehouses linked to the variation.</p>
</li>
<li>
<p>Used storage locations = The storage locations in which the variation is stored already.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Tap a target storage location.<br>
→ The storage location is changed.<br>
<strong><em>Tip:</em></strong> Tap on the menu to the top right and then on the <strong>Change target storage locations</strong> option to change the target storage locations of all returned items at once.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add a <a href="/en/omni-channel/pos/plentymarkets-pos-for-pos-users#100">note to the return</a>.</p>
</li>
<li>
<p>On the original receipt, cross out the items the customer is returning.</p>
</li>
<li>
<p>Tap <strong>Complete and pay out cash</strong> or (optional, version 1.8.3 and higher) <strong>Complete and create gift card</strong>.<br></p>
</li>
<li>
<p>If the main order contains shipping costs, select if these shipping costs are to be refunded.<br>
→ A return in created in the plentymarkets back end and linked to the main order.<br>
→ A credit note is created in the plentymarkets back end and linked to the return.<br>
→ If you opted for a gift card, a new order for the amount of the gift card is created.</p>
</li>
<li>
<p>Pay out the refund amount in cash or give out the gift card.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_changing_the_price_of_return_items">6.1.3. Changing the price of return items</h4>
<div class="paragraph">
<p>If you do not want to pay out the full amount that the customer paid, e.g. because an item is damaged, you can change the price of an order item.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the return, tap the order item.<br>
→ Additional options are displayed.</p>
</li>
<li>
<p>Tap <strong>Change single price</strong> to change the single price of the order item or <strong>Change total price</strong> to change the total price of the order item.<br>
→ The price of the order item is updated.</p>
</li>
<li>
<p>Finish processing the return as usual.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="320">6.1.4. Return information for POS invoice orders</h4>
<div class="paragraph">
<p>If customers can buy items on account, customers may want to return items that are part of a partially paid invoice order. In such cases, plentymarkets POS automatically calculates the amount to be paid out to customers. <a href="#table-POS-return-invoice">Table 5</a> shows the calculations that plentymarkets POS performs in the background so that you can explain it to customers if necessary.</p>
</div>
<table id="table-POS-return-invoice" class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. POS invoice returns</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Invoice status</th>
<th class="tableblock halign-left valign-top">Partial return</th>
<th class="tableblock halign-left valign-top">Full return</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Not paid</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer does not receive any money.<br>
A credit note for the returned items is created in the background.<br>
<strong><em>Tipp:</em></strong> The invoice amount the customer still needs to pay is shown on the credit note receipt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer does not receive any money.<br>
A credit note for the full invoice amount is created in the background.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partially paid</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The POS calculates any refund to the customer automatically. The formula is: Unpaid invoice amount minus the price of the returned items.</p>
</div>
<div class="paragraph">
<p>If the invoice only has been partially paid, the following cases can occur:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Returned items cost less than the unpaid invoice amount = The customer does not receive any money.<br>
The unpaid invoice amount is adjusted (Unpaid invoice amount minus price of the returned items).<br>
A credit note is created for the price of the returned items.<br></p>
</li>
<li>
<p>Returned items cost the same as the unpaid invoice amount = The customer does not receive any money.<br>
A credit note is created for the price of the returned items.<br></p>
</li>
<li>
<p>Returned items cost more than the unpaid invoice amount = The customer receives the balance of the unpaid invoice amount minus the price of the returned items. <br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>A credit note for the returned items is created in the background. Note that the credit note amount and the refunded amount are not always the same. If the refunded amount does not match the credit note amount, the refunded amount is shown on the credit note receipt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customers receives the amount they have already paid.<br>
The credit note amount is equal to the full invoice amount.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="380">6.2. Booking a return without linking it to the main order</h3>
<div class="paragraph">
<p>If you do not know the original main order for which the customer wants to return items or cannot open the order, plentymarkets POS also allows you to create a return without linking it to a main order. This means that there is no connection between the original order and the return. Proceed as described below to book a return without linking it to the main order.</p>
</div>
<div class="paragraph instruction">
<p>Booking a return without linking it to the main order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>POS</strong> menu. Tap on <strong>Return</strong>.<br>
→ The Returns view is displayed.</p>
</li>
<li>
<p>Add the items to be returned by scanning them or using the item search.<br>
<strong><em>Note:</em></strong> Items with best before dates, batches or both are not found.<br>
→ By default, the <strong>Default repair storage location</strong> of the POS is selected.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a different target storage location for the item (version 1.8.2 and higher):<br></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Tap the item.</p>
</li>
<li>
<p>Select the option <strong>Change target storage location</strong> from the drop-down list.<br>
→ The available storage locations are shown in the following order:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Storage location from order = The storage location of the item at the time it was sold.</p>
</li>
<li>
<p>Default repair storage location = The <strong>Default repair storage location</strong> selected in the <strong>Basic settings</strong> tab of the POS.</p>
</li>
<li>
<p>Suggested storage locations = The storage location suggestions of the warehouses linked to the variation.</p>
</li>
<li>
<p>Used storage locations = The storage locations in which the variation is stored already.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Tap a target storage location.<br>
→ The storage location is changed.<br>
<strong><em>Tip:</em></strong> Tap on the menu to the top right and then on the <strong>Change target storage locations</strong> option to change the target storage locations of all returned items at once.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Change <a href="/en/omni-channel/pos/plentymarkets-pos-for-pos-users#140">the price of the item</a>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Add a <a href="/en/omni-channel/pos/plentymarkets-pos-for-pos-users#100">note to the return</a>.</p>
</li>
<li>
<p>After you have added all returned items, tap the green arrow at the bottom of the POS shopping cart.<br>
→ the total amount of the return is shown.</p>
</li>
<li>
<p>Tap <strong>Complete and pay out cash</strong> or (optional, version 1.8.3 and higher) <strong>Complete and create gift card</strong>.<br>
→ A return without main order is created in the plentymarkets back end.<br>
→ A credit note without a main order is created in the plentymarkets back end.<br>
→ If you opted for a gift card, a new order for the amount of the gift card is created.</p>
</li>
<li>
<p>Pay out the refund amount in cash or give out the gift card.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">7. Booking deposits and withdrawals</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Any transfer of cash into or out of the POS that are not the result of orders also need to be booked and documented. Putting cash into the POS, e.g. to make sure you have sufficient change on hand, is called a deposit. If you take cash out of the POS, this is called a withdrawal. For example, you might take cash from the POS to pay the cash into a bank account. Proceed as described below to book deposits or withdrawals.</p>
</div>
<div class="sect2">
<h3 id="190">7.1. Booking a cash deposit</h3>
<div class="paragraph">
<p>Proceed as described below to book a deposit.</p>
</div>
<div class="paragraph instruction">
<p>Booking a cash deposit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Deposits and withdrawals</strong>.<br>
→ The <strong>Deposit / withdrawal</strong> menu is displayed.</p>
</li>
<li>
<p>Select a <strong>Reason</strong> for the deposit event from the drop-down list.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter additional information on the deposit in the <strong>Details</strong> field.</p>
</li>
<li>
<p>Enter the amount that is deposited in the POS.</p>
</li>
<li>
<p>Tap <strong>Deposit</strong> to save the deposit.<br>
→ The current cash on hand is updated.<br>
→ A receipt for the deposit is printed.<br>
→ The receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="200">7.2. Booking a cash withdrawal</h3>
<div class="paragraph">
<p>Proceed as described below to book a withdrawal.</p>
</div>
<div class="paragraph instruction">
<p>Booking a cash withdrawal:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Deposits and withdrawals</strong>.<br>
→ The <strong>Deposit / withdrawal</strong> menu is displayed.</p>
</li>
<li>
<p>Select a <strong>Reason</strong> for the withdrawal event from the drop-down list.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter additional information on the withdrawal in the <strong>Details</strong> field.</p>
</li>
<li>
<p>Enter the amount that is withdrawn from the POS.</p>
</li>
<li>
<p>Tap <strong>Withdrawal</strong> to save the withdrawal.<br>
→ The current cash on hand is updated.<br>
→ A receipt for the withdrawal is printed.<br>
→ The receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">8. Printing an item label</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you work with plentyBase and label printers, you can also print item labels in the item search of the plentymarkets app. Find out how to print labels in the <a href="/en/item/managing-items#3340">Printing a label in the item search of the plentymarkets app</a> chapter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="210">9. Creating reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can create X reports and Z reports in plentymarkets POS.</p>
</div>
<div class="sect2">
<h3 id="220">9.1. Creating an x report</h3>
<div class="paragraph">
<p>Use X reports to gain insights into the revenue generated for this POS since the last Z report during the day. You can create any number of X reports. X reports are not imported to plentymarkets. As such, the creation of X reports is not documented permanently.</p>
</div>
<div class="paragraph">
<p>X reports contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Cash on hand: Initial cash on hand, withdrawals, deposits, expected cash on hand</p>
</li>
<li>
<p>Revenue: since last Z report (sum) and since creation of POS (grand total)</p>
</li>
<li>
<p>VAT report: VAT rate, VAT amount and net revenue</p>
</li>
<li>
<p>Payment methods: Revenue by payment method</p>
</li>
<li>
<p>Returned items: Quantity and total</p>
</li>
<li>
<p>Cancellations: Quantity and total</p>
</li>
<li>
<p>Discounted items: Quantity and total</p>
</li>
<li>
<p>Gift cards: Quantity and total for sold gift cards</p>
</li>
<li>
<p>User: Revenue, cancellations and returns by user</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an x report:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>X report</strong>.<br>
<strong><em>Note:</em></strong> If the option is greyed out, you need additional <a href="/en/omni-channel/pos/integrating-plentymarkets-pos#170">rights</a> to create X reports.<br>
→ The X report is printed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">9.2. Creating a Z report</h3>
<div class="paragraph">
<p>A Z report documents the revenue accrued since the last Z report. By generating a Z report, the daily revenue is reset to 0. Z reports are assigned a sequential number and saved in plentymarkets. Depending on local law, the saving of Z reports may be required for fiscal purposes.</p>
</div>
<div class="paragraph">
<p>Z reports contain the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Cash on hand: Withdrawals, deposits, expected cash on hand, actual cash on hand</p>
</li>
<li>
<p>Revenue: since last Z report (sum) and since creation of POS (grand total)</p>
</li>
<li>
<p>VAT report: VAT rate, VAT amount and net revenue</p>
</li>
<li>
<p>Payment methods: Revenue by payment method</p>
</li>
<li>
<p>Returned items: Quantity and total</p>
</li>
<li>
<p>Cancellations: Quantity and total</p>
</li>
<li>
<p>Discounted items: Quantity and total</p>
</li>
<li>
<p>Sold gift cards: Quantity and total</p>
</li>
<li>
<p>User: Revenue, cancellations and returns by user</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a Z report:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The <strong>POS menu</strong> is displayed.</p>
</li>
<li>
<p>Tap <strong>Z report</strong>.<br>
→ The expected amount of cash on hand is displayed.</p>
</li>
<li>
<p>Count the actual cash on hand and enter this amount.</p>
</li>
<li>
<p>Tap <strong>Create Z report</strong>.<br>
<strong><em>Note:</em></strong> If the option is greyed out, you need additional <a href="/en/omni-channel/pos/integrating-plentymarkets-pos#170">rights</a> to create Z reports.<br>
→ The Z report is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.<br>
→ The Z report is printed.<br>
→ The daily revenue is reset to 0.<br>
→ For POS located in Austria, a zero receipt is created and saved in the cash journal.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Z report for card payments</div>
<div class="paragraph">
<p>For some card terminals linked to plentymarkets POS, you can create a z report for the card terminal revenue at the same time as you create the plentymarkets POS z report on some card terminals linked to plentymarkets POS. Answer <strong>Yes</strong> to the question <strong>Also create z report for terminal?</strong> to send the card revenue to the payment provider and reset it to 0.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_till_count_report">9.3. Creating a till count report</h3>
<div class="paragraph">
<p>A till count documents the cash on hand of a till, i.e. the amount of cash in coins and notes, at a specific point in time. For till counts, the cash on hand present in the till is physically counted. The result of this count is documented in a count log. Currently, you can enter Euro, Swiss Franc and Pound Sterling denominations.</p>
</div>
<div class="sect3">
<h4 id="_saving_a_till_count_result">9.3.1. Saving a till count result</h4>
<div class="paragraph">
<p>When you carry out a till count and save the result in plentymarkets POS, you can enter either the quantity of each coin and note denominations or enter the total result of the till count. Document the result of a till count as described below.</p>
</div>
<div class="paragraph instruction">
<p>Saving a till count result:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The POS menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Till count</strong>.<br>
→ The <strong>Till count</strong> menu is displayed. The lowest coin denomination is preselected.</p>
</li>
<li>
<p>Use the numpad to enter the number of coins you counted for this denomination.</p>
</li>
<li>
<p>Tap the green return arrow to jump to the next denomination.</p>
</li>
<li>
<p>Repeat this process until you have entered the quantity of all coins and notes.<br>
<strong><em>Alternatively:</em></strong> To enter the total amount counted instead of the quantity per denomination, tap the <strong>Overwrite</strong> field and enter the total amount you counted.</p>
</li>
<li>
<p>Tap <strong>Save till count</strong>.<br>
→ A till count report is created and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Tab <strong>Print till count report</strong> to print the report.</p>
</li>
<li>
<p>If the actual cash on hand differs from the expected cash on hand, proceed as described below to book the difference.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_booking_till_count_discrepancies">9.3.2. Booking till count discrepancies</h4>
<div class="paragraph">
<p>If after the count the actual cash on hand differs from the expected cash on hand, you either need to balance the discrepancy or book the difference. When you book the difference, the actual cash on hand is saved as the new expected cash on hand. At the same time, either a deposit or a withdrawal is saved depending on whether the difference is positive or negative:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the actual cash on hand is larger than the expected cash on hand, a deposit is booked.</p>
</li>
<li>
<p>If less cash than expected is in the till, a withdrawal is booked.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>When you book a till count discrepancy, the reason <strong>Till count discrepancy</strong> is saved automatically for this booking.</p>
</div>
<div class="paragraph instruction">
<p>Booking a till count discrepancy:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>After saving the till count, tap <strong>Book difference</strong> to save the actual cash on hand as the new expected cash on hand.<br>
→ A deposit or withdrawal is created for the discrepancy with the reason <strong>Till count discrepancy</strong> and saved in the <strong>Orders » Document archive » POS receipt</strong> menu.<br>
→ The actual cash on hand is saved as the new expected cash on hand.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="280">10. Additional information for Austria</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By law, Austrian POS need to be equipped with a signature unit. These legal requirements mean that you need to use a POS slightly differently if you are based in Austria. These differences are described below.</p>
</div>
<div class="sect2">
<h3 id="260">10.1. Creating a Z2 receipt (Austria)</h3>
<div class="paragraph">
<p>A Z2 receipt is a monthly signed control receipt with an amount of zero (0.00 Euro). The RKSV requires you to create a Z2 receipt at the end of each month. The Z2 report for the month of December also serves as an end of year report.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Z2 receipt (Austria):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The POS menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Z2 receipt (AT)</strong>.<br>
→ The Z2 receipt is printed.<br>
→ The Z2 receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_selling_items_with_a_faulty_signature_unit_austria_only">10.2. Selling items with a faulty signature unit (Austria only)</h3>
<div class="paragraph">
<p>The RKSV stipulates what you need to do if the POS’s signature unit fails temporarily or permanently.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Document the time the unit stops working.</p>
</li>
<li>
<p>If possible, move on to a POS with a functional signature unit.</p>
</li>
<li>
<p>If no other POS is available, you can use the POS with the defect signature unit. All receipts are marked <strong>Sicherheitseinrichtung ausgefallen</strong> (Security unit failed).</p>
</li>
<li>
<p>Once the signature unit is functional again, a collective receipt is created and printed in plentymarkets POS automatically.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>These steps are recommendations that can help you adhere to the RKSV. Check with your supervisor how to proceed if the signature unit fails.</p>
</div>
</div>
<div class="sect2">
<h3 id="270">10.3. Creating a Kontrollbeleg (control receipt) for tax authorities (Austria only)</h3>
<div class="paragraph">
<p>In the case of a POS inspection by Austrian tax authorities, you need to be able to generate a zero amount control receipt (Kontrollbeleg) on the spot. This control receipt allows tax inspectors to validate the signature on the POS receipts on site in your store using an app. You do not need any additional user rights to create a control receipt.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Kontrollbeleg (control receipt) on demand:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>POS</strong>.<br>
→ The POS menu is displayed.</p>
</li>
<li>
<p>Tap <strong>Control receipt</strong>.<br>
→ Der control receipt is printed.<br>
→ The control receipt is imported to plentymarkets and saved in the <strong>Orders » Document archive</strong> menu.<br>
<strong><em>Note:</em></strong> The investigators can keep the control receipt as evidence.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>