<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Fields for matching incoming items</span></a></li>
<li><a href="#200"><span>2.</span><span> Fields for mapping incoming items</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Incoming items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With syncs of the type <strong>Incoming items</strong>, you only import certain data records of incoming items and not the entire stock.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Fields for matching incoming items</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-incoming-items">Table 1</a> explains the fields that are available for matching incoming items. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-incoming-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for incoming items</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Fields for mapping incoming items</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-incoming-items">Table 2</a> explains the fields that are available for mapping incoming items. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-incoming-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mapping fields for incoming items</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock (mandatory field)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse ID (mandatory field)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location ID (mandatory field)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase price (mandatory field)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currency</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Expiration date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Expiration date</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Batch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Batch</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivered at (mandatory field)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Day of delivery</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Supplier of the items</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>