<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Fields for matching coupon code data</span></a></li>
<li><a href="#200"><span>2.</span><span> Fields for mapping coupon code data</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Coupon codes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With a sync of the type <strong>Coupon code</strong>, you import coupon codes.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Fields for matching coupon code data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following fields are available for matching coupon code data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Campaign ID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fields for mapping coupon code data</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-coupon-codes">Table 1</a> explains the fields that are available for matching coupon code data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-coupon-codes" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Mapping fields for importing coupon code data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Campaign ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the campaign</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coupon code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coupon code</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount value of the coupon</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>