<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Fields for matching properties</span></a></li>
<li><a href="#20"><span>2.</span><span> Fields for mapping properties</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Properties</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>A sync of the type <strong>Properties</strong> allows you to import property data.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Fields for matching properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following fields are available for matching properties. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Property ID</p>
</li>
<li>
<p>Property name</p>
</li>
<li>
<p>ID of the property group</p>
</li>
<li>
<p>Name of the property group</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Fields for mapping properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-properties">Table 1</a> explains the fields that are available for mapping properties. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Mapping fields for importing properties</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Property</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory field</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory field<br>
Internal name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Visibility</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">item<br>
contact</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory field</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none<br>
integer<br>
decimal number<br>
selection<br>
short text<br>
text<br>
date<br>
file<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory field</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deleting a property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Remove from groups</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assign to groups</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the group</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Property: Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deleting all values</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete one value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add value(s)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internal name of the value</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Property: Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name<br>
→ Select the language from the drop-down list on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description<br>
→ Select the language from the drop-down list on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Property group</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory field</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory field<br>
Internal name of the group</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete group</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add properties</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Property group: Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name<br>
→ Select the language from the drop-down list on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description<br>
→ Select the language from the drop-down list on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Property group: Options</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Group type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none = Properties are not grouped.<br>
select = One of the grouped properties can be selected from the drop-down list.<br>
multiselect = Multiple properties can be selected.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory field</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Surcharge type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none = no surcharge<br>
flat = Surcharge is a specific amount.<br>
percental = Surcharge is a percental value.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory field</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>