<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Fields for matching market listings</span></a></li>
<li><a href="#200"><span>2.</span><span> Fields for mapping market listings</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Listing</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Listing property</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Market listing</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Market listing property</span></a></li>
<li><a href="#700"><span>2.5.</span><span> Market listing text</span></a></li>
<li><a href="#800"><span>2.6.</span><span> Market listing property</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Market listing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Syncs of the type <strong>Market listing</strong> allow you to import listing data into plentymarkets. Go to <strong>Data » Import</strong> to create a new sync.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Fields for matching market listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The matching field <strong>Market listing ID</strong> is available for matching item data.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fields for mapping market listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains the fields that are available for mapping market listings.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Listing</h3>
<div class="paragraph">
<p><a href="#mapping-listings">Table 1</a> lists the fields that are available for importing listings. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-listings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Mapping fields for importing listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing type ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1<br>
2<br>
3</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The listing type ID.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 = auction<br></p>
</li>
<li>
<p>2 = fixed price<br></p>
</li>
<li>
<p>3 = shop item</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock dependence ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1<br>
2<br>
3</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock dependence ID.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = unlimited (with synchronisation)<br></p>
</li>
<li>
<p>1 = limited (with reservation)<br></p>
</li>
<li>
<p>2 = limited (without reservation)<br></p>
</li>
<li>
<p>3 = unlimited (without synchronisation)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Content ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The listing’s content ID.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Listing property</h3>
<div class="paragraph">
<p><a href="#mapping-listing-properties">Table 2</a> lists the fields that are available for importing listing properties. Select a value for the listing property from the drop-down list that appears when you select the mapping field <strong>Value</strong>.<br></p>
</div>
<div class="paragraph">
<p>During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-listing-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mapping fields for importing listing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tie to item price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Y = Tie fixed price to item<br></p>
</li>
<li>
<p>N = Use price from the listing settings</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number per lot</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transfer as item number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none<br>
EAN<br>
ISBN<br>
MPN<br>
EPID<br>
GTIN<br>
UPC<br>
no-name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Transfer of the item number type.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>none<br></p>
</li>
<li>
<p>EAN = EAN<br></p>
</li>
<li>
<p>ISBN = ISBN<br></p>
</li>
<li>
<p>MPN = manufacturer number<br></p>
</li>
<li>
<p>EPID = eBay product ID<br></p>
</li>
<li>
<p>GTIN = GTIN<br></p>
</li>
<li>
<p>UPC = UPC<br></p>
</li>
<li>
<p>no-name = custom-made item or no-name product</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Market listing</h3>
<div class="paragraph">
<p><a href="#mapping-market-listings">Table 3</a> lists the fields that are available for importing market listings. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-market-listings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Mapping fields for importing market listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Platform ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay:</strong><br>
1001<br>
1002<br>
1003<br>
1004<br>
1005<br>
1006<br>
1007<br>
1008<br>
1009<br>
1010<br>
1011<br>
1012<br>
1013<br>
1014<br>
1015<br>
1016<br>
1017<br>
1018<br>
1019<br>
1020<br>
1021<br>
1022<br></p>
<p class="tableblock"><strong>Hood:</strong><br></p>
<p class="tableblock">3001</p>
<p class="tableblock"><strong>Ricardo:</strong><br></p>
<p class="tableblock">2001</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ID of the platform.<br></p>
</div>
<div class="paragraph">
<p><strong>eBay:</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>1001 = US,<br></p>
</li>
<li>
<p>1002 = CA,<br></p>
</li>
<li>
<p>1003 = UK,<br></p>
</li>
<li>
<p>1004 = AU,<br></p>
</li>
<li>
<p>1005 = AT,<br></p>
</li>
<li>
<p>1006 = BEFR,<br></p>
</li>
<li>
<p>1007 = FR,<br></p>
</li>
<li>
<p>1008 = DE,<br></p>
</li>
<li>
<p>1009 = MOTOR,<br></p>
</li>
<li>
<p>1010 = IT,<br></p>
</li>
<li>
<p>1011 = BENL,<br></p>
</li>
<li>
<p>1012 = NL,<br></p>
</li>
<li>
<p>1013 = ES,<br></p>
</li>
<li>
<p>1014 = CH,<br></p>
</li>
<li>
<p>1015 = HK,<br></p>
</li>
<li>
<p>1016 = IN,<br></p>
</li>
<li>
<p>1017 = IE,<br></p>
</li>
<li>
<p>1018 = MY,<br></p>
</li>
<li>
<p>1019 = CAFR,<br></p>
</li>
<li>
<p>1020 = PH,<br></p>
</li>
<li>
<p>1021 = PL,<br></p>
</li>
<li>
<p>1022 = SG<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hood:</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>3001 = hood.de<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Ricardo:</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>2001 = ricardo.ch</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of your eBay account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Directory ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the directory.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether the listing is active.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Active<br></p>
</li>
<li>
<p>N = Not active</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Duration</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Duration in days or GTC.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum quantity for sale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of items to be sold on the market.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">List with all variations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Important:</strong> This value may only be activated for items with variations.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Yes<br></p>
</li>
<li>
<p>N = No<br></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Delete listing.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Do not delete listing ID for the corresponding market<br></p>
</li>
<li>
<p>1 = Delete listing ID for the corresponding market</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">2.4. Market listing property</h3>
<div class="paragraph">
<p><a href="#mapping-market-listing-properties">Table 4</a> lists the fields that are available for importing market listing properties. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-market-listing-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Mapping fields for importing market listing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay properties/name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay properties/values</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1<br>
0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Delete eBay property.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 = Delete eBay property<br></p>
</li>
<li>
<p>0 = Do not delete eBay property</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">2.5. Market listing text</h3>
<div class="paragraph">
<p><a href="#mapping-market-listing-texts">Table 5</a> lists the fields that are available for importing market listing texts. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-market-listing-texts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Mapping fields for importing market listing texts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The market listing’s title.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subtitle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The market listing’s subtitle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The market listing’s description text.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.6. Market listing property</h3>
<div class="paragraph">
<p><a href="#mapping-market-listing-properties">Table 4</a> lists the fields that are available for importing market listing properties. Select a value for the market listing property from the drop-down list that appears when you select the mapping field <strong>Value</strong>.<br></p>
</div>
<div class="paragraph">
<p>During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-market-listing-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Mapping fields for importing market listing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order status ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Layout template ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the layout template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of images</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric, 1-12</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The warehouse ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add unit price specification</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">YES<br>
NO<br>
TITLE_START<br>
TITLE_END<br>
SUBTITLE</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>YES = Add unit price specification<br></p>
</li>
<li>
<p>NO = Unit price is not specified<br></p>
</li>
<li>
<p>TITLE_START = Unit price at the beginning of the title<br></p>
</li>
<li>
<p>TITLE_END = Unit price at the end of the title<br></p>
</li>
<li>
<p>SUBTITLE = Unit price in the subtitle</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT rate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT rate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT country ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">de<br>
en<br>
etc.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>de = German<br></p>
</li>
<li>
<p>en = English<br>
etc.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number per lot</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The quantity of items offered in a single listing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Layout template ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the layout template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transfer as item number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none<br>
EAN<br>
ISBN<br>
MPN<br>
EPID<br>
GTIN<br>
UPC<br>
no-name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Transfer of the item number type.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>none = none<br></p>
</li>
<li>
<p>EAN = EAN<br></p>
</li>
<li>
<p>ISBN = ISBN<br></p>
</li>
<li>
<p>MPN = manufacturer number<br></p>
</li>
<li>
<p>EPID = eBay product ID<br></p>
</li>
<li>
<p>GTIN = GTIN<br></p>
</li>
<li>
<p>UPC = UPC<br></p>
</li>
<li>
<p>no-name =Custom-made item or no-name product</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Relisted external listing ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Offer number of the restarted listing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Second Chance Offer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N<br>
Created</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether a second chance offer is available.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Yes<br></p>
</li>
<li>
<p>N = No<br></p>
</li>
<li>
<p>Created = Created</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Promotion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether a special sale is available.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Special sale is available<br></p>
</li>
<li>
<p>N = No special sale is available</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UUID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing faulty</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Y = An error occurred while updating the listing<br></p>
</li>
<li>
<p>N = No error occurred</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">List with all variations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether variations are listed.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Listing with variations<br></p>
</li>
<li>
<p>N = Listing without variations</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Created by</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">start<br>
import<br>
sync<br>
order</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates how the listing was created in plentymarkets.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>start = Start listing<br></p>
</li>
<li>
<p>import = Import active listing<br></p>
</li>
<li>
<p>sync = Synchronisation between eBay and plentymarkets<br></p>
</li>
<li>
<p>order = Order</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment methods</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ricardo payment methods:</strong><br>
0<br>
8192<br>
262144<br>
1073741824<br></p>
<p class="tableblock"><strong>Hood payment methods:</strong><br>
cash<br>
cashOnDelivery<br>
payPal<br>
moneyBookers<br>
moneyBookersEscrow<br>
seeDescription<br>
escrow<br>
wireTransfer<br>
invoice<br>
Sofortueberweisung<br>
BillSAFE</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>ricardo payment methods</strong>:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Other<br></p>
</li>
<li>
<p>8192 = Wire transfer via bank / post<br></p>
</li>
<li>
<p>262144 = Credit card / PostFinance card<br></p>
</li>
<li>
<p>1073741824 = Cash payment<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Hood payment methods</strong>:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>cash = Cash payment upon pickup<br></p>
</li>
<li>
<p>cashOnDelivery = Cash on delivery<br></p>
</li>
<li>
<p>payPal = PayPal<br></p>
</li>
<li>
<p>moneyBookers = Skrill<br></p>
</li>
<li>
<p>moneyBookersEscrow = Skrill Escrow<br></p>
</li>
<li>
<p>seeDescription = Other - see item description<br></p>
</li>
<li>
<p>escrow = Escrow<br></p>
</li>
<li>
<p>wireTransfer = Cash in advance via bank transfer<br></p>
</li>
<li>
<p>invoice = Invoice<br></p>
</li>
<li>
<p>Sofortueberweisung = Sofortüberweisung<br></p>
</li>
<li>
<p>BillSAFE = BillSAFE</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop category ID 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop category ID 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop category ID 3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional options</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Additional options for eBay:</strong><br>
ProPackPlusBundle<br>
ValuePackBundle<br></p>
<p class="tableblock"><strong>Additional options for Hood:</strong><br>
auctionNameSubTitle<br>
featureBoldTitle<br>
featureBackGroundColor<br>
featureGallery<br>
featureCategory<br>
featureHomePage<br>
featureHomePageImage<br>
featureNoAds<br>
featureXXLImage</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Additional options for eBay and Hood.<br>
Separate multiple options with commas.</p>
</div>
<div class="paragraph">
<p><strong>Additional options for eBay:</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>ProPackPlusBundle = Feature pack<br></p>
</li>
<li>
<p>ValuePackBundle = Value pack bundle<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Additional options for Hood:</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>auctionNameSubTitle = Subtitle<br></p>
</li>
<li>
<p>featureBoldTitle = Bold font in item lists<br></p>
</li>
<li>
<p>featureBackGroundColor = Background colour in item lists<br></p>
</li>
<li>
<p>featureGallery = Premium gallery in item lists<br></p>
</li>
<li>
<p>featureCategory = Featured plus<br></p>
</li>
<li>
<p>featureHomePage = Home page feature<br></p>
</li>
<li>
<p>featureHomePageImage = Home page feature with an image<br></p>
</li>
<li>
<p>featureNoAds = Do not display advertisements<br></p>
</li>
<li>
<p>featureXXLImage = Supersize picture</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parts compatibility listing ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The parts compatibility listing ID for eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay market listings active at the same time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1-8</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The maximum number of active listings.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Endless lister deactivated<br></p>
</li>
<li>
<p>1-8 = Activated, number</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay private auction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether it is an eBay private auction.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Yes<br></p>
</li>
<li>
<p>N = No</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay gallery image</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none<br>
featured<br>
gallery<br>
plus</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The eBay gallery type.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>none = none<br></p>
</li>
<li>
<p>featured = Featured first<br></p>
</li>
<li>
<p>gallery = Normal display<br></p>
</li>
<li>
<p>plus = Enlarged display</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay featured first</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">days_7<br>
lifetime</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Featured first.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>days_7 = 7 days<br></p>
</li>
<li>
<p>lifetime = Permanent</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay transfer RRP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N<br>
D</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay, transfer RRP.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Transfer RRP to eBay<br></p>
</li>
<li>
<p>N = Do not transfer<br></p>
</li>
<li>
<p>D = Do not transfer, but display as discounted</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay hit counter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1<br>
3<br>
4<br>
0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>eBay, displays the number of page views for the listing.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 = Regular style<br></p>
</li>
<li>
<p>3 = Invisible<br></p>
</li>
<li>
<p>4 = Retro computer style<br></p>
</li>
<li>
<p>0 = Deactivated</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay condition ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The eBay item condition.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay description of the condition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The description of the item condition for eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay best offer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether the best offer is activated for eBay.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Activate eBay best offer.<br></p>
</li>
<li>
<p>N = Deactivate eBay best offer.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay reject minimum price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay price that should be rejected automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay accept minimum price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay price that should be accepted automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay Plus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Global<br>
No<br>
Yes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether eBay Plus is activated.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Global = Use basic settings<br></p>
</li>
<li>
<p>No = no eBay Plus<br></p>
</li>
<li>
<p>Yes = Activate eBay Plus</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay Click &amp; Collect</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">YES<br>
NO<br>
GLOBAL</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether Click &amp; Collect is used.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>YES = YES<br></p>
</li>
<li>
<p>NO = NO<br></p>
</li>
<li>
<p>GLOBAL = Use the basic setting</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use eBay image service</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether the eBay image service is used.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = The eBay image service is used<br></p>
</li>
<li>
<p>N = The eBay image service is not used</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display on Hood store homepage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P<br>
 Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Show on Hood shop start page.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>P = Visible with an image on the seller’s homepage<br></p>
</li>
<li>
<p>Y = Visible with text<br></p>
</li>
<li>
<p>N = Not visible</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood shipping discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood delivery time when in stock from (in days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum delivery time for Hood in days when stock is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood delivery time when in stock from (in days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum delivery time for Hood in days when stock is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood delivery time when out of stock from (in days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum delivery time for Hood in days when out of stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood delivery time when out of stock to (in days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum delivery time for Hood in days when out of stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo warranty ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ricardo warranty ID.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = According to the description<br></p>
</li>
<li>
<p>1 = No warranty</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo delivery conditions</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1<br>
2<br>
3<br>
4<br>
5<br>
6<br>
8<br>
9<br>
10<br>
11<br>
12<br>
0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ricardo shipping ID.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 = Letters, A Mail (Swiss Post)<br></p>
</li>
<li>
<p>2 = Letters, B Mail (Swiss Post)<br></p>
</li>
<li>
<p>3 = Packages, A Mail (Swiss Post)<br></p>
</li>
<li>
<p>4 = Packages, B Mail (Swiss Post)<br></p>
</li>
<li>
<p>5 = Registered mail<br></p>
</li>
<li>
<p>6 = Cash on delivery (only possible for companies)<br></p>
</li>
<li>
<p>8 = Pick-up by buyer<br></p>
</li>
<li>
<p>9 = Delivery by seller<br></p>
</li>
<li>
<p>10 = Shipping from a foreign country<br></p>
</li>
<li>
<p>11 = Freight forwarder<br></p>
</li>
<li>
<p>12 = Courier<br></p>
</li>
<li>
<p>0 = According to the description</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo availability ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1<br>
2<br>
3<br>
4<br>
5</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ricardo item availability ID.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Immediately deliverable<br></p>
</li>
<li>
<p>1 = Within 5 business days<br></p>
</li>
<li>
<p>2 = Within 10 business days<br></p>
</li>
<li>
<p>3 = Within 15 business days<br></p>
</li>
<li>
<p>4 = Within 30 business days<br></p>
</li>
<li>
<p>5 = Within 60 business days</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo payment condition ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1<br>
5</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ricardo payment condition ID.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = As described<br></p>
</li>
<li>
<p>1 = Payment upon pickup<br></p>
</li>
<li>
<p>5 = In advance<br></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo increment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amount by which customers must outbid the current offer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo condition ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1<br>
3<br>
4<br>
5</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ricardo item condition.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = New (according to the description)<br></p>
</li>
<li>
<p>1 = New and in original packaging<br></p>
</li>
<li>
<p>3 = Used<br></p>
</li>
<li>
<p>4 = Antique<br></p>
</li>
<li>
<p>5 = Defective</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo number of reactivations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates how often items should be reactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo individual shipping costs for each item</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether shipping costs should be calculated for each item that was sold.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Yes<br></p>
</li>
<li>
<p>N = No</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo package size</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo use secondary language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether an alternative language should be used.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Yes<br></p>
</li>
<li>
<p>N = No</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo template ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ricardo template ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo reactivate until sold out</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Indicates whether items should be reactivated until they are sold out.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Yes<br></p>
</li>
<li>
<p>N = No</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>