<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#2231"><span>1.</span><span> Fields for storage location matching</span></a></li>
<li><a href="#2232"><span>2.</span><span> Fields for the storage location mapping</span></a></li>
<li><a href="#2240"><span>3.</span><span> Adjusting the storage location</span></a></li>
<li><a href="#2250"><span>4.</span><span> Creating a storage location</span></a></li>
<li><a href="#2250"><span>5.</span><span> Deleting a storage location</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Warehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With syncs of the type <strong>Warehouse</strong>, you import new storage locations or update existing ones.</p>
</div>
<div class="paragraph">
<p>In order to create or update storage locations via ElasticSync, a storage location must be created.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2231">1. Fields for storage location matching</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-storage-locations">Table 1</a> explains the fields that are available for matching storage locations. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<div class="paragraph">
<p>For further information about the the terms dimensions, levels and storage locations, refer to the<a href="https://knowledge.plentymarkets.com/en/stock-management/setting-up-a-warehouse">Setting up a warehouse</a> page of the manual.</p>
</div>
<table id="table-matching-fields-storage-locations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for importing storage locations</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Matching field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the level, e.g. R01</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">WarehouseLocationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">WarehouseLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the storage location without path</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2232">2. Fields for the storage location mapping</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-storage-locations">Table 2</a> explains the fields that are available for mapping storage location data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<div class="paragraph">
<p>For further information about the the terms dimensions, levels and storage locations, refer to the<a href="https://knowledge.plentymarkets.com/en/stock-management/setting-up-a-warehouse">Setting up a warehouse</a> page of the manual.</p>
</div>
<table id="table-mapping-fields-storage-locations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mapping fields for importing storage locations</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Storage locations</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location Id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the storage location without path</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purpose</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purpose of the storage location, e.g. removal from storage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status of the storage location,, e.g. active, inactive</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position of the storage location (distance)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of the storage location, e.g. small, medium, large</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Levels of storage locations</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level Parent ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Partent ID of the level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dimension ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the dimension, e.g. rack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position of the level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Level name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the level, e.g. R01, R02 etc.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2240">3. Adjusting the storage location</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can adjust storage locations via ElasticSync such as changing the name or the position of the storage location.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting the storage location:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » ElasticSync</strong>.</p>
</li>
<li>
<p>Click on the sync within the sync overview.</p>
</li>
<li>
<p>Click on <strong>Matching</strong>.</p>
</li>
<li>
<p>Select the fields <strong>WarehouseID</strong> and <strong>Storage location ID</strong>.</p>
</li>
<li>
<p>Select <strong>Skip</strong> as import option.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Mapping</strong>.</p>
</li>
<li>
<p>Open the mapping from the overview.</p>
</li>
<li>
<p>Expand the area <strong>Storage locations</strong> on the right-hand side.</p>
</li>
<li>
<p>Select the fields <strong>Storage Location ID</strong>, <strong>Storage location name</strong> and <strong>Position</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2250">4. Creating a storage location</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can create new storage locations with ElasticSync.</p>
</div>
<div class="paragraph instruction">
<p>Creating a storage location:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » ElasticSync</strong>.</p>
</li>
<li>
<p>Click on the sync within the sync overview.</p>
</li>
<li>
<p>Click on <strong>Matching</strong>.</p>
</li>
<li>
<p>Select the fields <strong>WarehouseID</strong> and <strong>Storage location ID</strong>.</p>
</li>
<li>
<p>Select <strong>create</strong> as import option.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Mapping</strong>.</p>
</li>
<li>
<p>Open the mapping from the overview.</p>
</li>
<li>
<p>Expand the area <strong>Storage locations</strong> on the right-hand side.</p>
</li>
<li>
<p>Activate the fields <strong>Level ID</strong>, <strong>Storage Location ID</strong>, <strong>Storage location name</strong>, <strong>Purpose</strong>, <strong>Status</strong>, <strong>Position</strong> and <strong>Storage location type</strong>.</p>
</li>
<li>
<p>Expand the area <strong>Level of storage locations</strong> on the right-hand side.</p>
</li>
<li>
<p>Activate the fields <strong>Dimension ID</strong>, <strong>Level Position</strong> and <strong>Level name</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2250">5. Deleting a storage location</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can delete storage locations with ElasticSync.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a storage location:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » ElasticSync</strong>.</p>
</li>
<li>
<p>Click on the sync in the sync overview.</p>
</li>
<li>
<p>Click on <strong>Matching</strong>.</p>
</li>
<li>
<p>Select the field <strong>Storage location ID</strong>.</p>
</li>
<li>
<p>Select <strong>Only update existing data</strong> as import option.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Mapping</strong>.</p>
</li>
<li>
<p>Open the mapping in the overview.</p>
</li>
<li>
<p>Expand the area <strong>Storage locations</strong> on the right-hand side.</p>
</li>
<li>
<p>Activate the field <strong>Delete storage location</strong>.</p>
</li>
<li>
<p>You can either delete all storage locations or only specific ones. Carry out the respective settings. Pay attention to the information given in <a href="#table-deleting-storage-locations">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-deleting-storage-locations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. You can either delete all storage locations or only specific ones.</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deleting all storage locations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All storage location IDs that exist in the CSV file will be deleted.<br>
 For the Delete storage location value, select <strong>Own value</strong>.<br>
 Then select <strong>Yes</strong> or <strong>No</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deleting only specific storage locations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, the CSV file contains two values: on the one hand there are the storage location IDs and on the other hand there are the values <strong>Yes</strong> and <strong>No</strong> by which you can determine whether the value should be deleted.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>