<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#2110"><span>1.</span><span> Fields for matching categories</span></a></li>
<li><a href="#2120"><span>2.</span><span> Fields for mapping categories</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Categories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the matching and mapping fields that you can use while importing categories. This page serves purely as a reference and it assumes that you already have a basic understanding of the <a href="/en/data/importing-data/ElasticSync">ElasticSync tool</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Practical example: Importing new categories</div>
<div class="paragraph">
<p>Imagine you’re new to plentymarkets and you want to import all of your category data at once. How would that work? Take a look at <a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-categories">this practical example</a>, which guides you through the process step-by-step.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="2110">1. Fields for matching categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-categories">Table 1</a> explains the fields that are available for matching category data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-categories" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for importing categories</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the category IDs? Choose this column here.
This option is useful if you want to <em>update existing categories</em>.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: Every new category automatically receives an ID, which can not be changed.
The ID is used to uniquely identify the category.
Since the ID is unique, it’s a good way to check whether the imported data record already exists in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Combined category name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file contains the complete category path? Choose this column from the first drop-down list and choose the separator from the second drop-down list.
This option is useful if you want to <em>update existing categories</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category name level 1 - 6</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file contains the category name for this level? Choose this column here.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2120">2. Fields for mapping categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-categories">Table 2</a> explains the fields that are available for mapping category data.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No mapping field? Default value applies!</div>
<div class="paragraph">
<p>If you don’t include a certain piece of information in your CSV file, i.e. if you <em>don’t use</em> a certain mapping field, then your category will be given the default value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-mapping-fields-categories" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mapping fields for importing categories</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Default value</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="4"><p class="tableblock"><strong>Category</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Parent category ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">- n/a -</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Does a column of your CSV file list the ID of whichever category is directly above it? If so, then map the column to this data field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Parent category name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">- n/a -</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Does a column of your CSV file list the name of whichever category is directly above it? If so, then map the column to this data field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">item<br>
container<br>
content<br>
blog</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">item</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file. Which value you choose determines <a href="/en/item/settings/categories#700">which category type</a> will be assigned during the import.</p>
</div>
<div class="paragraph">
<p>In other words: If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that one of the following values was used for the <strong>Type</strong> setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>item = Item (default setting)</p>
</li>
<li>
<p>container = Container</p>
</li>
<li>
<p>content = Content</p>
</li>
<li>
<p>blog = Blog</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In link list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file. Which value you choose determines whether the <a href="/en/item/settings/categories#700">category will be displayed in the store navigation</a>.</p>
</div>
<div class="paragraph">
<p>In other words: If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that one of the following values was used for the <strong>In link list</strong> setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Do not display</p>
</li>
<li>
<p>1 = Display</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>right</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">all<br>
customer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file.
Which value you choose determines whether the <a href="/en/item/settings/categories#700">category will only be visible to users who have logged in</a>.</p>
</div>
<div class="paragraph">
<p>In other words: If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that one of the following values was used for the <strong>Visible</strong> setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>all = Public</p>
</li>
<li>
<p>customer = After login</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file.
Which value you choose determines whether the <a href="/en/item/settings/categories#700">category will be included in the sitemap</a>.</p>
</div>
<div class="paragraph">
<p>In other words: If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that one of the following values was used for the <strong>Sitemap</strong> setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Do not display</p>
</li>
<li>
<p>1 = Display</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to delete some categories and update others? Enter one of the permitted import values into your CSV file.
Which value you choose determines whether the category should be deleted.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = No</p>
</li>
<li>
<p>1 = Yes</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create parent category if not found</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to create the category directly above it, if this category doesn’t already exist?
Enter one of the permitted import values into your CSV file. Which value you choose determines whether the parent category should be created too.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = No</p>
</li>
<li>
<p>1 = Yes</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="4"><p class="tableblock"><strong>Category settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong><br>
<span class="red">(Required field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">- n/a -</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <a href="/en/item/settings/categories#700">category name</a> into the CSV file.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
<p class="tableblock">If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that this name was entered into the <strong>Name</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description 1</strong>;<br>
<strong>Description 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">- n/a -</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <a href="/en/item/settings/categories#800">category description</a> into the CSV file.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
<p class="tableblock">If you open the category after it was imported, then you’ll see that this text was entered into the <strong>Description 1</strong> or <strong>Description 2</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short description</strong>;<br>
<strong>Meta keywords</strong>;<br>
<strong>Meta description</strong>;<br>
<strong>Meta title</strong>;<br>
<strong>URL name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL name = Category name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the text into the CSV file.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
<p class="tableblock">If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that this text was <a href="/en/item/settings/categories#700">entered into the corresponding field</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <a href="/en/item/settings/categories#700">position number</a> into the CSV file.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
<p class="tableblock">If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that this number was entered into the <strong>Position</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template list</strong>;<br>
<strong>Template product</strong>;<br>
<strong>Template page</strong><br>
(only relevant for the old Callisto store)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ItemViewCategoriesList;<br>
ItemViewSingleItem;<br>
PageDesignContent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <a href="/en/item/settings/categories#700">name of the template</a> into the CSV file.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
<p class="tableblock">If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that this template was selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Full text search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file. Which value you choose determines whether the <a href="/en/item/settings/categories#700">category will be added to the search index in the store</a>.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
</div>
<div class="paragraph">
<p>If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that one of the following values was used for the <strong>Full text search</strong> setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = No</p>
</li>
<li>
<p>1 = Yes</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Robots</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">all<br>
index<br>
nofollow<br>
noindex<br>
nofollow_noindex</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file. Which value you choose determines how <a href="/en/item/settings/categories#700">search engine crawlers</a> will deal with the page and any links on the page.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
</div>
<div class="paragraph">
<p>If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that one of the following values was used for the <strong>Robots</strong> setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>all</strong> = Include the website of the category in search engine index and follow links on page.<br></p>
</li>
<li>
<p><strong>index</strong> = Include in search engine index.<br></p>
</li>
<li>
<p><strong>nofollow</strong> = Do not follow links on page.<br></p>
</li>
<li>
<p><strong>noindex</strong> = Do not include in search engine index.<br></p>
</li>
<li>
<p><strong>nofollow_noindex</strong> = Do not follow links and do not include webpage in search index.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Translate placeholder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y<br>
N<br>
L</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file. Which value you choose determines whether <a href="/en/item/settings/categories#700">template variables and functions will be translated</a>.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
</div>
<div class="paragraph">
<p>If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that one of the following values was used for the <strong>Translate template variables and template functions</strong> setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Y = Yes</p>
</li>
<li>
<p>N = No</p>
</li>
<li>
<p>L = Template variables and template functions for links only</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Canonical</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">- n/a -</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is there another category with the same content? If so, then enter <a href="/en/item/settings/categories#700">the URL for this category</a> into your CSV file.
The URL is limited to a maximum of 256 characters.
Make sure you also select the language and webstore within the <strong>Mapping</strong> area.</p>
<p class="tableblock">If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that this URL was entered into the <strong>Canonical</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="4"><p class="tableblock"><strong>Elmar</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Elmar-category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">- n/a -</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <a href="/en/item/settings/categories#700">name of the Elmar category</a> into the CSV file. Make sure you also select the webstore within the <strong>Mapping</strong> area.</p>
<p class="tableblock">If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that this Elmar category was selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete existing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file. Which value you choose determines whether the <a href="/en/item/settings/categories#700">Elmar category link</a> should be deleted.
Make sure you also select the webstore within the <strong>Mapping</strong> area.</p>
</div>
<div class="paragraph">
<p>If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that the <strong>Elmar category</strong> was deleted everywhere the number 1 was entered.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Do not delete</p>
</li>
<li>
<p>1 = Delete</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="4"><p class="tableblock"><strong>Client (store)</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0<br>
1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter one of the permitted import values into your CSV file. Which value you choose determines whether the <a href="/en/item/settings/categories#700">category will be activated for a particular store</a>.
Make sure you also select the webstore within the <strong>Mapping</strong> area.</p>
</div>
<div class="paragraph">
<p>If you open the category after it was imported and look at the <strong>Settings</strong> tab, then you’ll see that one of the following values was used for the <strong>Client (store)</strong> setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = <em>Not activated</em> for the specified client.</p>
</li>
<li>
<p>1 = <em>Activated</em> for the specified client.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>