<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Matching fields</span></a></li>
<li><a href="#200"><span>2.</span><span> Mapping fields</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Parts compatibility listing</span></a>
<ul class="sectlevel3">
<li><a href="#3000"><span>2.1.1.</span><span> Parts compatibility listing ID</span></a></li>
<li><a href="#3100"><span>2.1.2.</span><span> Referrer ID</span></a></li>
<li><a href="#3200"><span>2.1.3.</span><span> Name</span></a></li>
<li><a href="#3300"><span>2.1.4.</span><span> Category ID</span></a></li>
<li><a href="#3400"><span>2.1.5.</span><span> Delete</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.2.</span><span> Vehicle</span></a>
<ul class="sectlevel3">
<li><a href="#4000"><span>2.2.1.</span><span> Vehicle ID</span></a></li>
<li><a href="#4100"><span>2.2.2.</span><span> Parts compatibility listing ID</span></a></li>
<li><a href="#4200"><span>2.2.3.</span><span> Delete</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.3.</span><span> Vehicle property</span></a>
<ul class="sectlevel3">
<li><a href="#5000"><span>2.3.1.</span><span> K-Type-No.</span></a></li>
<li><a href="#5100"><span>2.3.2.</span><span> Make</span></a></li>
<li><a href="#5200"><span>2.3.3.</span><span> Model</span></a></li>
<li><a href="#5300"><span>2.3.4.</span><span> Platform</span></a></li>
<li><a href="#5400"><span>2.3.5.</span><span> Type</span></a></li>
<li><a href="#5500"><span>2.3.6.</span><span> Year</span></a></li>
<li><a href="#5600"><span>2.3.7.</span><span> Motor</span></a></li>
<li><a href="#5700"><span>2.3.8.</span><span> Compatibility notes</span></a></li>
<li><a href="#5800"><span>2.3.9.</span><span> Germany Motorcycle/scooter Make</span></a></li>
<li><a href="#5900"><span>2.3.10.</span><span> Germany Motorcycle/scooter Model</span></a></li>
<li><a href="#51000"><span>2.3.11.</span><span> Germany Motorcycle/scooter CCM</span></a></li>
<li><a href="#51100"><span>2.3.12.</span><span> Germany Motorcycle/scooter Submodel</span></a></li>
<li><a href="#51200"><span>2.3.13.</span><span> Germany Motorcycle/scooter Year</span></a></li>
<li><a href="#51300"><span>2.3.14.</span><span> Germany Motorcycle/scooter Name</span></a></li>
<li><a href="#51400"><span>2.3.15.</span><span> UK Car Make</span></a></li>
<li><a href="#51500"><span>2.3.16.</span><span> UK Car Variant</span></a></li>
<li><a href="#51600"><span>2.3.17.</span><span> UK Car Bodystyle</span></a></li>
<li><a href="#51700"><span>2.3.18.</span><span> UK Car Type</span></a></li>
<li><a href="#51800"><span>2.3.19.</span><span> UK Car Year</span></a></li>
<li><a href="#51900"><span>2.3.20.</span><span> UK Motorcycle/scooter Make</span></a></li>
<li><a href="#52000"><span>2.3.21.</span><span> UK Motorcycle/scooter Model</span></a></li>
<li><a href="#52100"><span>2.3.22.</span><span> UK Motorcycle/scooter CCM</span></a></li>
<li><a href="#52200"><span>2.3.23.</span><span> UK Motorcycle/scooter Submodel</span></a></li>
<li><a href="#52300"><span>2.3.24.</span><span> UK Motorcycle/scooter Year</span></a></li>
<li><a href="#52400"><span>2.3.25.</span><span> UK Motorcycle/scooter Name</span></a></li>
<li><a href="#52500"><span>2.3.26.</span><span> Motor</span></a></li>
<li><a href="#52600"><span>2.3.27.</span><span> Submodel</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Parts compatibility listing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::./_textblocks/einleitung-en_gb.adoc[]</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Best Practice: parts compatibility listings</div>
<div class="paragraph">
<p>Also read the best practice on creating and updating <a href="#data/importing-data/elasticsync-best-practices/best-practices-elasticsync-parts-compatibility-listing">parts compatibility listings</a> using the import.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Matching fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-parts">Table 1</a> explains the fields that are available for matching parts compatibility listings.
During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-parts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for importing parts compatibility listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Parts compatibility listing ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the parts compatibility listing IDs? Select this column.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Mapping fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains the fields that are available for mapping parts compatibility listings.
Use these fields to specify which <em>column of your file</em> corresponds to which <em>data field in your system</em>.</p>
</div>
<div class="paragraph instruction">
<p>Basic procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In your CSV file</em></strong>: Enter a valid import value into a column.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Assign this column to the appropriate mapping field.</p>
</li>
<li>
<p><strong><em>After the import</em></strong>: Check the result in the back end.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No mapping field? Default value applies!</div>
<div class="paragraph">
<p>If you don’t include a certain piece of information in your CSV file, i.e. if you <em>don’t use</em> a certain mapping field, then the parts compatibility listing will be given the default value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="300">2.1. Parts compatibility listing</h3>
<div class="paragraph">
<p>(markets/ebay/partsFitment/Fitment.fieldGroupLabel)</p>
</div>
<div class="paragraph">
<p>This chapter explains the fields that are available for importing parts compatibility listings.</p>
</div>
<hr>
<div class="sect3">
<h4 id="3000">2.1.1. Parts compatibility listing ID</h4>
<div class="paragraph">
<p>(markets/ebay/partsFitment/Fitment.id)</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for updating existing parts compatibility listings</p>
</div>
<div class="paragraph">
<p>Enter the ID of the parts compatibility listing that you want to update or delete in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric (internal ID of a parts compatibility listing)</p>
</div>
<div class="paragraph">
<p>You can find the IDs of existing parts compatibility listings in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » Column: ID</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="3100">2.1.2. Referrer ID</h4>
<div class="paragraph">
<p>(markets/ebay/partsFitment/Fitment.marketId)</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new parts compatibility listing</p>
</div>
<div class="paragraph">
<p>Enter the ID of an eBay referrer in the CSV file. This allows you to specify the eBay platform on which this parts compatibility listing is to be used.</p>
</div>
<table id="table-mapping-parts-referrer" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1003 / 2.03</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">United Kingdom</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1008 / 2.08</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Germany</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1009 / 2.09</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Motors</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: Basic settings » Setting: eBay platform</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="3200">2.1.3. Name</h4>
<div class="paragraph">
<p>(markets/ebay/partsFitment/Fitment.name)</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new parts compatibility listing</p>
</div>
<div class="paragraph">
<p>Enter the name of the parts compatibility listing in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: Basic settings » Setting: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="3300">2.1.4. Category ID</h4>
<div class="paragraph">
<p>(markets/ebay/partsFitment/Fitment.categoryId)</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new parts compatibility listing</p>
</div>
<div class="paragraph">
<p>In what eBay category do you want to use this parts compatibility listing?</p>
</div>
<table id="table-mapping-parts-category-id" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">61455</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Car Germany + United Kingdom</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">179753</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Motorcycle Germany + United Kingdom</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">65368</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Scooter United Kingdom</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">25640</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Scooter Germany + Motors</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">33565</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auto Motors</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">10064</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Motorcycle Motors</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: Basic settings » Setting: Type</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="3400">2.1.5. Delete</h4>
<div class="paragraph">
<p>(markets/ebay/partsFitment/Fitment.delete)</p>
</div>
<div class="paragraph">
<p>Do you want to delete the parts compatibility listing?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-parts-delete-list" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parts compatibility listing will not be deleted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parts compatibility listing will be deleted.</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Vehicle</h3>
<div class="paragraph">
<p>(markets/ebay/partsFitment/FitmentItem.fieldGroupLabel)</p>
</div>
<div class="paragraph">
<p>This chapter explains the fields that are available for importing vehicles. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<div class="sect3">
<h4 id="4000">2.2.1. Vehicle ID</h4>
<div class="paragraph">
<p>(markets/ebay/partsFitment/FitmentItem.id)</p>
</div>
<div class="paragraph">
<p>Enter the ID of the vehicle you want to update or delete in the CSV file. The vehicle ID is an internal ID that plentymarkets assigns to a vehicle. The vehicle ID is not shown in the plentymarkets back end. As such, export your parts compatibility listings to find out the vehicle IDs.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
If you are creating a new parts compatibility listing and do not specify a vehicle ID, no check is carried out to see if the vehicle already exists. Instead, the vehicle is created with a new ID. Note that this might lead to duplicates.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric (internal IDs of the vehicles)</p>
</div>
<div class="paragraph">
<p>The IDs of existing vehicles are not shown in the back end. Export your parts compatibility listings to find out the vehicle IDs.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="4100">2.2.2. Parts compatibility listing ID</h4>
<div class="paragraph">
<p>(markets/ebay/partsFitment/FitmentItem.fitmentId)</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for updating existing parts compatibility listings</p>
</div>
<div class="paragraph">
<p>Enter the IDs of the parts compatibility listings that you want to update or delete in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric (internal ID of a parts compatibility listing)</p>
</div>
<div class="paragraph">
<p>You can find the IDs of existing parts compatibility listings in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » Column: ID</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="4200">2.2.3. Delete</h4>
<div class="paragraph">
<p>(markets/ebay/partsFitment/FitmentItem.delete)</p>
</div>
<div class="paragraph">
<p>Do you want to delete the vehicle from the parts compatibility listing?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-parts-delete-vehicle" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vehicle will not be deleted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vehicle will be deleted.</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. Vehicle property</h3>
<div class="paragraph">
<p>(markets/ebay/partsFitment/FitmentItemProperty.fieldGroupLabel)</p>
</div>
<div class="paragraph">
<p>The fields listed in this chapter are available for importing listing properties. In the back end, first select the mapping field <strong>Value</strong>. Then, select a vehicle property from the drop-down list that is shown.</p>
</div>
<div class="paragraph">
<p>During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<hr>
<div class="sect3">
<h4 id="5000">2.3.1. K-Type-No.</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p>Enter the eBay K-Type number in the CSV file. eBay assigns a unique K-Type number to each version of a vehicle. The K-Type number gives eBay all necessary details regarding a vehicle, i.e. make, model, type, year and engine. You can find K-Type numbers in the <a href="https://www.ebay.co.uk/pages/help/sell/contextual/master-vehicle-list-manually.html" target="_blank" rel="noopener">eBay master vehicle list </a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric (K-Type-No. published by eBay)</p>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> The K-Type number 4760 stands for Fiat Barchetta models, Typ v1.8 16V,	platform 183, year	1995/04-2005/05, engine	1747 ccm, 96 KW, 130 PS</p>
</div>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> eBay counts each year of manufacture as an individual vehicle. For example, if you enter the K-Type number 4760, 11 vehicles are added to the parts compatibility listing. eBay sets a limit for the number of vehicles you can link to an item. If you link too many vehicles, your listing will be blocked. As such, check how many vehicles your parts compatibility listing contains before linking it to a listing.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>K-Type-No</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: K-Type-No.</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5100">2.3.2. Make</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p>Enter the name of the vehicle in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Make</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Make</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5200">2.3.3. Model</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p>Enter the model of the vehicle in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Model</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Model</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5300">2.3.4. Platform</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p>Enter the platform of the vehicle in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Platform</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Platform</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5400">2.3.5. Type</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p>Enter the type of the vehicle in your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Type</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Type</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5500">2.3.6. Year</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p>Enter the year of manufacture of the vehicle in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="paragraph">
<p><strong><em>Input format:</em></strong> YYYY/MM-YYYY/MM</p>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> 1995/04-2005/05</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Year</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Year</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5600">2.3.7. Motor</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p>Enter the engine of the vehicle in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="paragraph">
<p><strong><em>Input format:</em></strong> ccm, KW, PS</p>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> 1747 ccm, 96 KW, 130 PS</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Engine</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Engine</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5700">2.3.8. Compatibility notes</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p>If necessary, enter information regarding compatibility for this vehicle in the CSV file. These compatibility notes are published on eBay.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Only for models with air conditioning</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Compatibility notes</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Compatibility notes</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5800">2.3.9. Germany Motorcycle/scooter Make</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Germany Motorcycle/scooter Make</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Make</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="5900">2.3.10. Germany Motorcycle/scooter Model</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Germany Motorcycle/scooter Model</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Model</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51000">2.3.11. Germany Motorcycle/scooter CCM</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Germany Motorcycle/scooter CCM</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: CCM</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51100">2.3.12. Germany Motorcycle/scooter Submodel</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Germany Motorcycle/scooter Submodel</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Submodel</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51200">2.3.13. Germany Motorcycle/scooter Year</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Numeric</p>
</div>
<div class="paragraph">
<p><strong><em>Input format:</em></strong> <code>YYYY</code></p>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> 1995</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Germany Motorcycle/scooter Year</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Year</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51300">2.3.14. Germany Motorcycle/scooter Name</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>Germany</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Germany Motorcycle/scooter Name</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51400">2.3.15. UK Car Make</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>England</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Car Make</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Make</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51500">2.3.16. UK Car Variant</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>England</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Car Variant</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Variant</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51600">2.3.17. UK Car Bodystyle</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>England</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Car Bodystyle</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Bodystyle</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51700">2.3.18. UK Car Type</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>England</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Car Type</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Type</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51800">2.3.19. UK Car Year</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>England</strong>, type <strong>Car</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Car Year</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Year</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="51900">2.3.20. UK Motorcycle/scooter Make</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>UK</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Motorcycle/scooter Make</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Make</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="52000">2.3.21. UK Motorcycle/scooter Model</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>UK</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Motorcycle/scooter Model</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Model</a>
'''</p>
</div>
</div>
<div class="sect3">
<h4 id="52100">2.3.22. UK Motorcycle/scooter CCM</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>UK</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Motorcycle/scooter CCM</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: CCM</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="52200">2.3.23. UK Motorcycle/scooter Submodel</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>UK</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Motorcycle/scooter Submodel</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Submodel</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="52300">2.3.24. UK Motorcycle/scooter Year</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>UK</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Motorcycle/scooter Year</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Year</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="52400">2.3.25. UK Motorcycle/scooter Name</h4>
<div class="paragraph">
<p><span class="icon green"><i class="fa fa-info-circle  "></i></span> For eBay platform <strong>UK</strong>, types <strong>Motorcycle</strong> and <strong>Scooter</strong></p>
</div>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>UK Motorcycle/scooter Name</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="52500">2.3.26. Motor</h4>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Engine</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Engine</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="52600">2.3.27. Submodel</h4>
<div class="paragraph">
<p><strong><em>Default value:</em></strong> No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values:</em></strong> Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
When you set up the import in the plentymarkets back end, you need to select the option <strong>Value</strong> (markets/ebay/partsFitment/FitmentItemProperty.value) from the drop-down list in the <strong>Target</strong> column first. In the drop-down list that is displayed, now select the option <strong>Submodel</strong>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/markets/ebay/ebay-setup#1600">Setup » Markets » eBay » Parts compatibility listing » <em>Open parts compatibility listing</em> » Area: List » <em>Open list</em> » Column: Submodel</a></p>
</div>
<hr>
</div>
</div>
</div>
</div>
</main>