<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#2010"><span>1.</span><span> Fields for order matching</span></a></li>
<li><a href="#2020"><span>2.</span><span> Fields for order mapping</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Orders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With syncs of the type <strong>Order</strong>, you import order data.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2010">1. Fields for order matching</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Currently, there is only one matching field for identifying orders. The following matching field is available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="2020">2. Fields for order mapping</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-orders">Table 1</a> explains the fields that are available for mapping order data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.<br></p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Mandatory fields for order mapping</div>
<div class="paragraph">
<p>Note the fields flagged as <strong>mandatory</strong> listed in <a href="#table-mapping-fields-orders">Table 1</a>. If you do not activate these mandatory fields, orders are not mapped correctly.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-mapping-fields-orders" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Mapping fields for importing orders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the type<br>
<strong>Mandatory field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Order types represent different business events. The following types are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order = 1</p>
</li>
<li>
<p>Delivery order = 2</p>
</li>
<li>
<p>Return = 3</p>
</li>
<li>
<p>Credit note = 4</p>
</li>
<li>
<p>Warranty = 5</p>
</li>
<li>
<p>Repair = 6</p>
</li>
<li>
<p>Offer = 7</p>
</li>
<li>
<p>Advance order =8</p>
</li>
<li>
<p>Multi-order = 9</p>
</li>
<li>
<p>Multi credit note = 10</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the status. You determine the IDs in the range between 1.0000 and 18.9999. The statuses can be found in the <strong>System » System settings » Orders » Status</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the owner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the owner. An owner is a user who is assigned as owner. The ID of the owner thus corresponds to the ID of the user. The user ID can be found in the <strong>System » System settings » Settings » User » Accounts</strong> menu. Orders can be assigned to an owner. This is optional.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">PlentyID<br>
<strong>Mandatory field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the client. The plentyID can be found in the <strong>System » System settings » Client » Select client » Settings</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the location</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the location. The locations can be found in the <strong>System » System settings » Client » Select client » Locations</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Order item</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type<br>
<strong>Mandatory field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The order item types represent different cost positions of an order. The costs involved can be negative or positive. The ID of the order item type is expected by default. The types that are available, are listed with their type ID. If your column does not contain the IDs, carry out the mapping yourself.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variation = 1</p>
</li>
<li>
<p>Item bundle = 2</p>
</li>
<li>
<p>Bundle component = 3</p>
</li>
<li>
<p>Promotional coupon = 4</p>
</li>
<li>
<p>Gift card = 5</p>
</li>
<li>
<p>Shipping costs = 6</p>
</li>
<li>
<p>Payment surcharge = 7</p>
</li>
<li>
<p>Gift wrap = 8</p>
</li>
<li>
<p>Unassigned variation = 9</p>
</li>
<li>
<p>Deposit = 10</p>
</li>
<li>
<p>Order = 11</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The type <strong>Order</strong> is contained in multi-orders, for example.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referrer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the referrer is expected by default. The IDs can be found in the <strong>System » System settings » Orders » Order referrer</strong> menu. If your column does not contain the IDs, carry out the mapping yourself.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name<br>
<strong>Mandatory field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the name of the order item. It is expected that the names are saved in the language of the system by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the name of the attribute value. The name is expected in the language of the system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT rate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The percentage value of the VAT rate is expected by default. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT amount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the amount of tax. The VAT amount for quantity 1 of the order item is expected by default. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity<br>
<strong>Mandatory field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the number of an order item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the variation is expected by default. The IDs can be found in the <strong>Item » Edit item</strong> menu. If your column does not contain the IDs, carry out the mapping yourself.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the position of the order item. The position serves for the sorting within the order. It is, however, not taken into consideration yet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currency<br>
<strong>Mandatory field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ISO code of a currency, e.g. EUR for Euro, is expected by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exchange rate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the exchange rate. The exchange rate must contain the currency translation rate from the order currency to the system currency. The system currency is set in the <strong>System » System settings » Orders » Payment » Currencies</strong> menu. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the purchase price. The purchase price for quantity 1 of the order item is expected by default. The purchase price is not displayed in the order. However, it allows to calculate and display the return on sales. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the gross price. The gross price for quantity 1 of the order item is expected by default. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the net price. The net price for quantity 1 of the order item is expected by default. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Surcharge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the surcharge. The surcharge for quantity 1 of the order item is expected by default. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the discount. The discount for quantity 1 of the order item is expected by default. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount in percent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the column that contains the percentage value for the discount. Whether the number is expected to be separated by a comma or a dot depends on the selected import options. Set the import options in the <strong>Matching</strong> area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Order item properties</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a property type and select the column that contains the property. The following properties for order items are available by default:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Warehouse</p>
</li>
<li>
<p>Weight</p>
</li>
<li>
<p>Width</p>
</li>
<li>
<p>Length</p>
</li>
<li>
<p>Height</p>
</li>
<li>
<p>External token ID</p>
</li>
<li>
<p>External item ID</p>
</li>
<li>
<p>Coupon code</p>
</li>
<li>
<p>Coupon type</p>
</li>
<li>
<p>Unit</p>
</li>
<li>
<p>External item ID</p>
</li>
<li>
<p>Reason for return</p>
</li>
<li>
<p>Item status</p>
</li>
<li>
<p>External order item ID</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Individual property types for order items can be created via <a href="https://developers.plentymarkets.com/api-doc/Order#element_113" target="_blank" rel="noopener">Interface</a> or <a href="https://developers.plentymarkets.com/rest-doc#/Order/post_rest_orders_properties_types" target="_blank" rel="noopener">REST</a>. However, they are not displayed in the UI.<br>
To display the property warehouse in the UI, go to <strong>System » System settings » Orders » Settings</strong> and for the mapping of the warehouse, select option b). Alternatively, select option a) and click <strong>Edit</strong> on the items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Address relation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the address is the invoice address or the delivery address of the order. Afterwards, select the column that contains the ID of the address. The address ID can be used to map already existing addresses of contacts. If it is an address, use the address mapping fields.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Order property</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a property type and select the column that contains the property. The following properties for orders are available by default:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Warehouse</p>
</li>
<li>
<p>Shipping profile</p>
</li>
<li>
<p>Payment method</p>
</li>
<li>
<p>Payment status</p>
</li>
<li>
<p>External shipping profile</p>
</li>
<li>
<p>Language in documents</p>
</li>
<li>
<p>External order ID</p>
</li>
<li>
<p>Customer identification sign</p>
</li>
<li>
<p>Dunning level</p>
</li>
<li>
<p>Seller account</p>
</li>
<li>
<p>Flag</p>
</li>
<li>
<p>VAT number</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Individual property types for Orders can be created via <a href="https://developers.plentymarkets.com/api-doc/Order#element_113" target="_blank" rel="noopener">Interface</a> or <a href="https://developers.plentymarkets.com/rest-doc#/Order/post_rest_orders_properties_types" target="_blank" rel="noopener">REST</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Order date</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date type and the column that contains the date. The data format in the column must be of the same data format that you selected for the import options.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Order relation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reference ID</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an order relation and select the column that contains the reference ID. The following relations can be selected:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Contact - Sender: The reference ID is the ID of an existing contact and this contact is the sender of the order.</p>
</li>
<li>
<p>Contact - Recipient: The reference ID is the ID of an existing contact and this contact is the recipient of the order.</p>
</li>
<li>
<p>Account - Sender: The reference ID is the ID of an existing account and this account is the sender of the order.</p>
</li>
<li>
<p>Contact - Recipient: The reference ID is the ID of an existing account and this account is the recipient of the order.</p>
</li>
<li>
<p>Warehouse - Sender: The reference ID is the ID of an existing warehouse and this warehouse is the sender of the order.</p>
</li>
<li>
<p>Warehouse - Recipient: The reference ID is the ID of an existing warehouse and this warehouse is the recipient of the order.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Address</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Regardless of which address field is selected, it is important to first select whether this field belongs to a delivery address or to an invoice address.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1 (Company)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the company name.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 2 (First name)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the first name.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 3 (Last name)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the last name.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 4 (Additional information)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the additional name.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address 1 (Street)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the name of the street.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address 2 (House number)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the house number.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address 3 (additional information)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the additional address information.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address 4 (Free)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the address information that can be freely selected.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the postcode.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the name of the town.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the country ID. The IDs of the countries of delivery are expected by default. The IDs can be found in the <strong>System » System settings » Orders » Shipping » Settings</strong> menu.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of State/Province</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">List of all countries that have a state/province. The IDs of the states/provinces are also listed: link:<a href="https://www.plentymarkets.eu/documents/category/3507/Bundeslaender.pdf">PDF file with a list of states/provinces</a> (in German)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the VAT number of a contact</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the invoice address or delivery address and select the column that contains the telephone number.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>