<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Fields for matching market listings</span></a></li>
<li><a href="#200"><span>2.</span><span> Fields for mapping market listings</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Listing</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Listing property</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Market listing</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Market listing property</span></a></li>
<li><a href="#700"><span>2.5.</span><span> Market listing text</span></a></li>
<li><a href="#800"><span>2.6.</span><span> Market listing property</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Market listing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Syncs of the type <strong>Market listing</strong> allow you to import listing data into plentymarkets. Go to <strong>Data » ElasticSync</strong> to create a new sync.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Fields for matching market listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The matching field <strong>Market listing ID</strong> is available for matching item data.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fields for mapping market listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains the fields that are available for mapping market listings.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Listing</h3>
<div class="paragraph">
<p><a href="#mapping-listings">Table 1</a> lists the fields that are available for importing listings. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-listings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Mapping fields for importing listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing type ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = auction<br>
2 = fixed price<br>
3 = shop item</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The listing type ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock dependence ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = unlimited (with synchronisation)<br>
2 = limited (with reservation)<br>
3 = limited (without reservation)<br>
4 = unlimited (without synchronisation)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock dependence ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Content ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The listing’s content ID.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Listing property</h3>
<div class="paragraph">
<p><a href="#mapping-listing-properties">Table 2</a> lists the fields that are available for importing listing properties. Select a value for the listing property from the drop-down list that appears when you select the mapping field <strong>Value</strong>.<br></p>
</div>
<div class="paragraph">
<p>During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-listing-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mapping fields for importing listing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tie to item price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Tie fixed price to item<br>
N = Use price from the listing settings</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number per lot</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transfer as item number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none<br>
EAN = EAN<br>
ISBN = ISBN<br>
MPN = manufacturer number<br>
EPID = eBay product ID<br>
GTIN = GTIN<br>
UPC = UPC<br>
no-name = custom-made item or no-name product</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transfer of the item number type.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Market listing</h3>
<div class="paragraph">
<p><a href="#mapping-market-listings">Table 3</a> lists the fields that are available for importing market listings. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-market-listings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Mapping fields for importing market listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Platform ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay:</strong><br>
1001 = US,<br>
1002 = CA,<br>
1003 = UK,<br>
1004 = AU,<br>
1005 = AT,<br>
1006 = BEFR,<br>
1007 = FR,<br>
1008 = DE,<br>
1009 = MOTOR,<br>
1010 = IT,<br>
1011 = BENL,<br>
1012 = NL,<br>
1013 = ES,<br>
1014 = CH,<br>
1015 = HK,<br>
1016 = IN,<br>
1017 = IE,<br>
1018 = MY,<br>
1019 = CAFR,<br>
1020 = PH,<br>
1021 = PL,<br>
1022 = SG<br>
<strong>Hood:</strong> 3001 = hood.de<br>
<strong>Ricardo:</strong> 2001 = ricardo.ch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the platform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of your eBay account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Directory ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the directory.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Active<br>
N = Not active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the listing is active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Duration</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Duration in days or GTC.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum quantity for sale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of items to be sold on the market.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">List with all variations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Yes<br>
N = No<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Important:</strong> This value may only be activated for items with variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Do not delete listing ID for the corresponding market<br>
1 = Delete listing ID for the corresponding market</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete listing.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">2.4. Market listing property</h3>
<div class="paragraph">
<p><a href="#mapping-market-listing-properties">Table 4</a> lists the fields that are available for importing market listing properties. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-market-listing-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Mapping fields for importing market listing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay properties/name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay properties/values</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Delete eBay property<br>
0 = Do not delete eBay property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete eBay property.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">2.5. Market listing text</h3>
<div class="paragraph">
<p><a href="#mapping-market-listing-texts">Table 5</a> lists the fields that are available for importing market listing texts. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-market-listing-texts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Mapping fields for importing market listing texts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The market listing’s title.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subtitle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The market listing’s subtitle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The market listing’s description text.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.6. Market listing property</h3>
<div class="paragraph">
<p><a href="#mapping-market-listing-properties">Table 4</a> lists the fields that are available for importing market listing properties. Select a value for the market listing property from the drop-down list that appears when you select the mapping field <strong>Value</strong>.<br></p>
</div>
<div class="paragraph">
<p>During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="mapping-market-listing-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Mapping fields for importing market listing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Value</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order status ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Layout template ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the layout template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of images</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical, 1-12</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The warehouse ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Add unit price specification</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">NO = Unit price is not specified<br>
TITLE_START = Unit price at the beginning of the title<br>
TITLE_END = Unit price at the end of the title<br>
SUBTITLE = Unit price in the subtitle</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT rate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT rate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT country ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The country ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">de = German<br>
en = English etc.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number per lot</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The quantity of items offered in a single listing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Layout template ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID of the layout template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transfer as item number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none<br>
EAN = EAN<br>
ISBN = ISBN<br>
MPN = manufacturer number<br>
EPID = eBay product ID<br>
GTIN = GTIN<br>
UPC = UPC<br>
no-name =Custom-made item or no-name product</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transfer of the item number type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Relisted external listing ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Offer number of the restarted listing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Second Chance Offer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Yes<br>
N = No<br>
Created</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether a second chance offer is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Promotion</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Special sale is available<br>
N = No special sale is available</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether a special sale is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UUID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing faulty</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = An error occurred while updating the listing<br>
N = No error occurred</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">List with all variations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Listing with variations<br>
N = Listing without variations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether variations are listed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Created by</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">start = Start listing<br>
import = Import active listing<br>
sync =Synchronisation between eBay and plentymarkets<br>
order = Order</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates how the listing was created in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment methods</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop category ID 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop category ID 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shop category ID 3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional options</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">auctionNameSubTitle = Subtitle<br>
featureBoldTitle = Bold font in item lists<br>
featureBackGroundColor = Background colour in item lists<br>
featureGallery = Premium gallery in item lists<br>
featureCategory = Featured plus<br>
featureHomePage = Home page feature<br>
featureHomePageImage = Home page feature with an image<br>
featureNoAds = Do not display advertisements<br>
featureXXLImage = Supersize picture</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional options for Hood.<br>
Separate multiple options with commas.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parts compatibility listing ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The parts compatibility listing ID for eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay market listings active at the same time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Endless lister deactivated<br>
1-8 = Activated, number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum number of active listings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay private auction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Yes<br>
N = No</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether it is an eBay private auction.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay gallery image</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">none<br>
featured = Featured first<br>
gallery = Normal display<br>
plus = Enlarged display</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The eBay gallery type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay featured first</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">days_7 = 7 days<br>
lifetime = Permanent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Featured first.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay transfer RRP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Transfer RRP to eBay<br>
N = Do not transfer<br>
D = Do not transfer, but display as discounted</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay, transfer RRP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay hit counter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Regular style<br>
3 = Invisible<br>
4 = Retro computer style<br>
0 = Deactivated</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay, displays the number of page views for the listing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay condition ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The eBay item condition.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay description of the condition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The description of the item condition for eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay best offer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Activate eBay best offer.<br>
N = Deactivate eBay best offer.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the best offer is activated for eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay reject minimum price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay price that should be rejected automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay accept minimum price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay price that should be accepted automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay Plus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Global = Use basic settings<br>
No = no eBay Plus<br>
Yes = Activate eBay Plus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether eBay Plus is activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay Click &amp; Collect</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">YES<br>
NO<br>
GLOBAL = Use the basic setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether Click &amp; Collect is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use eBay image service</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = The eBay image service is used<br>
N = The eBay image service is not used</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the eBay image service is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display on Hood store homepage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P = Visible with an image on the seller’s homepage<br>
 Y = Visible with text<br>
N = Not visible</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Show on Hood shop start page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood shipping discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood delivery time when in stock from (in days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum delivery time for Hood in days when stock is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood delivery time when in stock from (in days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum delivery time for Hood in days when stock is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood delivery time when out of stock from (in days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum delivery time for Hood in days when out of stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood delivery time when out of stock to (in days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The maximum delivery time for Hood in days when out of stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo warranty ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = According to the description<br>
1 = No warranty</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ricardo warranty ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo delivery conditions</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Letters, A Mail (Swiss Post)<br>
2 = Letters, B Mail (Swiss Post)<br>
3 = Packages, A Mail (Swiss Post)<br>
4 = Packages, B Mail (Swiss Post)<br>
5 = Registered mail<br>
6 = Cash on delivery (only possible for companies)<br>
8 = Pick-up by buyer<br>
9 = Delivery by seller<br>
10 = Shipping from a foreign country<br>
11 = Freight forwarder<br>
12 = Courier<br>
0 = According to the description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ricardo shipping ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo availability ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = Immediately deliverable<br>
1 = Within 5 business days<br>
2 = Within 10 business days<br>
3 = Within 15 business days<br>
4 = Within 30 business days<br>
5 = Within 60 business days</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ricardo item availability ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo payment ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5 = Wire transfer via bank / post<br>
1 = Cash payment<br>
0 = Other</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ricardo payment ID. Only one can be selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo increment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amount by which customers must outbid the current offer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo condition ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = New (according to the description)<br>
1= New and in original packaging<br>
3 = Used<br>
4 = Antique<br>
5 = Defective</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ricardo item condition.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo number of reactivations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates how often items should be reactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo individual shipping costs for each item</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Yes<br>
N = No</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether shipping costs should be calculated for each item that was sold.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo package size</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo use secondary language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Yes<br>
N = No</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether an alternative language should be used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo template ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ricardo template ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ricardo reactivate until sold out</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Y = Yes<br>
N = No</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether items should be reactivated until they are sold out.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>