<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#2110"><span>1.</span><span> Fields for matching categories</span></a></li>
<li><a href="#2120"><span>2.</span><span> Fields for mapping categories</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Categories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>A sync of the type <strong>Categories</strong> allows you to import category data.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2110">1. Fields for matching categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-category">Table 1</a> explains the fields that are available for matching category data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-category" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for importing categories</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category name combined</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the separator from the second drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category name level 1 - 6</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2120">2. Fields for mapping categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-category">Table 2</a> explains the fields that are available for mapping order data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-category" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mapping fields for importing categories</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Category</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parent category ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parent category name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">item<br>
container<br>
content<br>
blog (not used)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Show in link list</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No<br>
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">right</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">all = Category and all sub-categories are visible to the public<br>
customer = Category and all sub-categories are only visible to online store visitors that are logged in<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complies with back end setting <strong>Visible</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Visible (sitemap)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No<br>
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complies with back end setting <strong>Sitemap</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No<br>
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Details (mapping per combination of language and client (store))</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandatory value</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Short description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta keywords</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template list</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template product</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template page</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Full text search</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No<br>
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Robots</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>all</strong> = Include the website of the category in search engine index and follow links on page.<br>
<strong>index</strong> = Include in search engine index.<br>
<strong>nofollow</strong> = Do not follow links on page.<br>
<strong>noindex</strong> = Do not include in search engine index.<br>
<strong>nofollow_noindex</strong> = Do not follow links and do not include webpage in search index.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Translate wildcard characters</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Yes<br>
<strong>N</strong> = No<br>
<strong>L</strong> = Only template variables and template functions for links are translated</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">canonical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of a category with the same content, max. 256 characters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock">Client (store) (mapping per client)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Active</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No<br>
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>