<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#2210"><span>1.</span><span> Field for synchronising contacts, companies and addresses</span></a>
<ul class="sectlevel2">
<li><a href="#2220"><span>1.1.</span><span> Mandatory values for sync procedures with contacts, companies and addresses</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Contacts, companies and addresses</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With syncs of the type <strong>Contacts, companies and addresses</strong>, you import new contact data or update existing data records. This data is for example the delivery address and invoice address, the date of birth of the contact, the customer type, contact options such as the private or business email address as well as company data.</p>
</div>
<div class="paragraph">
<p>Requirements:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In order that the newly imported or updated countries of delivery are displayed in a contact data record in the contact overview, these countries of delivery must be activated in the <strong>System » System settings » Orders » Shipping » Options » Tab: Countries of delivery</strong> menu.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In order to import contact data via ElasticSync, the following data records must be present in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Contacts (<strong>CRM » Contacts</strong> menu)</p>
</li>
<li>
<p>contact options such as telephone number and email address, if necessary</p>
</li>
<li>
<p>address data (invoice address, delivery address), if necessary</p>
</li>
<li>
<p>company data such as VAT number and payment due date, if necessary</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="2210">1. Field for synchronising contacts, companies and addresses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click on the following links to see the lists of the fields that are available for matching contact data, address data and company data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://developers.plentymarkets.com/rest-doc/account_contact/details#create-a-contact">Contact details^
</a></p>
</li>
<li>
<p><a href="https://developers.plentymarkets.com/rest-doc/account_contact_option/details#list-contact-options-by-the-contact-id">Contact options^
</a></p>
</li>
<li>
<p><a href="https://developers.plentymarkets.com/rest-doc/account_address/details#get-an-address">Address details^
</a></p>
</li>
<li>
<p><a href="https://developers.plentymarkets.com/rest-doc/account_address/details#get-an-address-option">Address options^
</a></p>
</li>
<li>
<p><a href="https://developers.plentymarkets.com/rest-doc/account/details#list-accounts" target="_blank" rel="noopener">Company details</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>By means of the identifiers <strong>Contact ID</strong>, <strong>Email</strong>, <strong>Invoice address ID</strong> and <strong>Delivery address ID</strong> in the <strong>Matching</strong> area, it is checked whether the imported data record is present in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="2220">1.1. Mandatory values for sync procedures with contacts, companies and addresses</h3>
<table id="table-mandatory-values-sync-procedures-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Mandatory values for sync procedures with contacts, companies and addresses</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Required values</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Contacts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creating a contact</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Referrer</p>
</li>
<li>
<p>Type</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Contact option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create contact option</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Value</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update contact option</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>fields to be changed</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Address</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create address</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Select at least one of the following options: Name1, Name2, Name3</p>
</li>
<li>
<p>Select at least one of the following options: Address1, Address2, Address3</p>
</li>
<li>
<p>Select at least one of the following options: Country ID or country ISO code</p>
</li>
<li>
<p>Town</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update address</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Select at least one of the following options: Name1, Name2, Name3</p>
</li>
<li>
<p>Contact ID</p>
</li>
<li>
<p>fields to be changed</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Address option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create address option</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Value</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update address option</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Address ID</p>
</li>
<li>
<p>Contact ID</p>
</li>
<li>
<p>fields to be changed</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Company</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creating a company</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Company name</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update company</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Company name</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Sales representative</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create country</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Company ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create postcode range</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Company ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update country</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Company ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update postcode range</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Company ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assign a contact to a sales representative</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>