<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#sync-facets-matching"><span>1.</span><span> Fields for matching facets</span></a></li>
<li><a href="#sync-facets-mapping"><span>2.</span><span> Fields for mapping facets</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Facets</h1><div id="preamble">
<div class="sectionbody">
<div class="literalblock">
<div class="content">
<pre>A sync of the type *Facets* allow you to import facet data.</pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="sync-facets-matching">1. Fields for matching facets</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-facets">Table 1</a> explains the fields that are available for matching facet data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-facets" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for importing facets</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facet value name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="sync-facets-mapping">2. Fields for mapping facets</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-facets">Table 2</a> explains the fields that are available for mapping facet data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-facets" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Mapping fields for importing facets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Facet</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSS class</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSS name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sorting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>rate</strong> = Relevance<br>
<strong>position</strong> = Position<br>
<strong>a_z</strong> = A-Z</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sorting search results</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>dynamic</strong> = Attribute/characteristic (old properties)<br>
<strong>producer</strong> = Manufacturer<br>
<strong>price</strong> = Price<br>
<strong>availability</strong> = Availability</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum number of hits</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum number of facet values shown</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Selection type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>restrict</strong> = Only one value can be selected<br>
<strong>multi</strong> = More than one value can be selected</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deleting facet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No<br>
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Facet name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create one mapping per language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Facet value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSS class</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position of a facet value in the online store</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete facet value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Facet value name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create one mapping per language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock"><strong>Link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">character = Characteristic (old properties)<br>
 property = Property (new)<br>
 attribute = Attribute<br>
 availability = Availability<br>
 producer = Manufacturer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0 = No
1 = Yes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>