<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kennzahlen</h1><p>Willkommen im Themenbereich Kennzahlen. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/absatz">Absatz</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/auftraege">Aufträge</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/auftraege-live">Aufträge (Live)</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/marktplatz-bestandsinformationen">Marktplatz-Warenbestandsinformationen</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/nachrichten">Nachrichten</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/retourenquote">Retourenquote</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/rohertrag">Rohertrag</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/umsatz">Umsatz</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/umsatzsteuer-gesamt">Umsatzsteuer gesamt</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/marktplatz-variantenvalidierung">Marktplatz-Variantenvalidierung</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/versandumsatz">Versandumsatz</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/durchschnittliche-anzahl-auftragspositionen">Durchschnittliche Anzahl der Auftragspositionen</a></li><li><a href="/business-entscheidungen/business-intelligence/plenty-bi/kennzahlen/durchschnittlicher-bestellwert">Durchschnittlicher Bestellwert</a></li></ul>
</main>