<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Reports</h1><p>Willkommen im Themenbereich Reports. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/business-entscheidungen/business-intelligence/reports/reports-verwalten">Reports verwalten</a></li><li><a href="/business-entscheidungen/business-intelligence/reports/datenformate">Datenformate</a></li></ul>
</main>