<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> Importing data with the dynamic import</span></a></li>
<li><a href="#10"><span>2.</span><span> Creating data formats</span></a></li>
<li><a href="#20"><span>3.</span><span> Carrying out the dynamic import</span></a></li>
<li><a href="#210"><span>4.</span><span> Importing eBay listings</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Importing data with the dynamic import</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes different ways of manually importing data using the dynamic import. Importing data is recommended if you want to add new items, customer data or stock etc. to your plentymarkets system and you already have this data available in digital format.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use the plugin ElasticSync</div>
<div class="paragraph">
<p>The import mechanisms described on this page are outdated. Use the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/integration/ElasticSync_4750" target="_blank" rel="noopener">ElasticSync</a> to import data into plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="5">1. Importing data with the dynamic import</h2>
<div class="sectionbody">

</div>
</div><div class="sect1">
<h2 id="10">2. Creating data formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data format that you want to import must correspond with the configuration of the data format in plentymarkets. This ensures that your data is assigned correctly. This also includes that the spelling of the data fields matches the spelling in plentymarkets. You find the names of the data fields on the sub-pages of the <a href="/en/basics/data-exchange/export-import/data-formats">Data formats</a> page of the manual. Pay attention to the information about mandatory fields and matching fields. You can create the import file with the help of a spreadsheet program.</p>
</div>
<div class="paragraph">
<p>You can facilitate this work step considerably by exporting the data format in a file in advance. Then you edit your data in the file and re-import it into your system. This procedure is only possible for data formats that are suitable for both import and export. For further information about handling export and import files, refer to the chapter <a href="/en/basics/data-exchange/export-import/exporting-data#05">Customising a file for data exchange</a> on the <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> page of the manual. Proceed as described below to export your data in a file:</p>
</div>
<div class="paragraph instruction">
<p>Creating a data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export</strong>.</p>
</li>
<li>
<p>Click on the <strong>New data format</strong> tab.</p>
</li>
<li>
<p>Select a <strong>Data format type</strong> from the drop-down list.</p>
</li>
<li>
<p>If needed, change the <strong>Data format name</strong> that is automatically created.</p>
</li>
<li>
<p>Activate the data fields that should be contained in the export file.</p>
</li>
<li>
<p>Select an <strong>import procedure</strong> per data field.<br>
→ Information about the matching fields can be found on the sub-pages of the <a href="/en/basics/data-exchange/export-import/data-formats">Data formats</a> page of the manual.</p>
</li>
<li>
<p>If needed, select <strong>Filters</strong> or <strong>Procedures</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the data format.<br>
→ The order of the data fields will change according to the values in the <strong>Position</strong> column.</p>
</li>
</ol>
</div>
<div id="25" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Matching and mapping</div>
<div class="paragraph">
<p>For the data fields of a data format, the import procedures <strong>Synchronisation</strong> and <strong>Import</strong> are available. <br>
With the setting <strong>Import</strong>, the data is imported regardless of whether data is already available in the system or not. This means that data might be overwritten during the import. With the setting <strong>Synchronisation</strong>, the data field is synchronised with the data that is already available in the system before the import is carried out. This means that data is only imported if no data is available in the system at all.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Carrying out the dynamic import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The dynamic data import takes place within the <strong>Data exchange » Import » Dynamic import</strong> menu. Here, you can import either data formats that you created in the <strong>Data exchange » Export » Dynamic export</strong> menu (so called customer formats) or data formats that you created yourself. In addition to the customer formats, two special import formats are available in the <strong>Data » Dynamic import</strong> menu in the drop-down menu <strong>Format</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>the <strong>ItemParcelServicePreset</strong> special format that you use to import shipping profiles</p>
</li>
<li>
<p>the <strong>IncomingItems</strong> special format that you use to import incoming items</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The special formats are import formats and are therefore only available in the <strong>Data exchange » Import » Dynamic import</strong> menu. You import the special formats exactly the same way as you import the other data formats. How to import data formats is described in the following.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Check and adjust names in the column headers</div>
<div class="paragraph">
<p>If you want to import data from an external system or a file that you created yourself, the column headers in the file must exactly match the spelling of the data fields (field names) in plentymarkets.<br>
If plentymarkets cannot assign the import to the selected export type, the import is cancelled and an error message is displayed. You find the error message in the <strong>Processing status</strong> area. Check the column headers that are listed in the file to be imported and make changes to these headers if necessary.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Importing data with the dynamic import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic import</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-settings-menu-data-dynamic-import">Table 1</a>.<br>
<strong><em>Note:</em></strong> A maximum of 6000 data records can be imported during a single import.</p>
</li>
<li>
<p>Click on <strong>Import</strong>.</p>
</li>
<li>
<p>Check whether the imported data was saved in the system.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">processing status</div>
<div class="paragraph">
<p>After you have imported the file, you receive a message in the <strong>Processing status</strong> area. In case the data lines were successfully imported, the number of the imported lines is displayed. If an error occurs, the entry <strong>0</strong> is displayed along with an error message. Check the field separator or encoding of the file. The file should always be UTF-8 encoded.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Note that the available settings depend on the data format you have selected for the import. For the data format <strong>Stock</strong> e.g., you select a <strong>warehouse</strong> and the <strong>barcode</strong> instead of a mapping option. The settings as they are described in <a href="#table-settings-menu-data-dynamic-import">Table 1</a> are displayed for most of the data formats.</p>
</div>
<table id="table-settings-menu-data-dynamic-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings in the <strong>Data » Dynamic import</strong> menu¤[cols="1,3"]</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the field separator that is set in the import file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the data format that you prepared for the data import.<br>
<strong><em>Note:</em></strong> Depending on which date format you select here, change the following settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>If there is no match during the synchronisation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options: <br>
<strong>Create a new data record</strong> = If the data that you want to import does not exist in the system yet.<br>
<strong>Skip data record</strong> = If existing data should not be overwritten during the synchronisation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the import file from your computer.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="210">4. Importing eBay listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You import eBay listing in the <strong>Data » eBay listings</strong> menu. Both a set of item master data and a listing are created in plentymarkets. The <strong>Processing status</strong> area gives you access to the current status of the process during import. How to import listings is described on the <a href="/en/omni-channel/multi-channel/ebay/ebay-setup">eBay</a> page of the manual in the <a href="/en/omni-channel/multi-channel/ebay/ebay-setup#11000">Importing eBay listings</a> chapter.</p>
</div>
</div>
</div>
</main>