<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_ItemViewLatestItemsMultiPagesList2ByDate</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gibt das Template ItemViewLatestItemsMultiPagesList2ByDate aus. Mit diesem Template wird eine mehrseitige Liste der neuesten Artikel nach Datum sortiert dargestellt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_ItemViewLatestItemsMultiPagesList2ByDate(
int $ItemViewLatestItemsMultiPagesList2_EachRow  ,
int $ItemViewLatestItemsMultiPagesList2_Limit  ,
int $ItemViewLatestItemsMultiPagesList2_OnlyOfCurrentCategory
) : string</code></pre>
</div>
</div>
</div>
</div>
</main>