<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_ItemViewFurtherItemsList2</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gibt das Template ItemViewFurtherItemsList2 aus. Dieses Template ermöglicht den Wechsel der Darstellung von Artikeln innerhalb einer Artikelliste, indem ein anderes Template darauf angewendet wird.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_ItemViewFurtherItemsList2( object $_item  , int $LoopPosition[1]  , int $LoopCount[1]  ) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_itemviewfurtheritemslist2">Template ItemViewFurtherItemsList2</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_variablen">Variablen</h3>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$EndRowCount</p>
</li>
<li>
<p>$StartRowCount</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_itemviewfurtheritemslist2item">ItemViewFurtherItemsList2Item</h3>
<div class="sect3">
<h4 id="_funktionen">Funktionen</h4>
<div class="paragraph">
<p>Diese Funktionen sind in diesem Container verfügbar.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">ButtonAddBasket1Small( string $_buttonValue  ) : string</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">ButtonAddBasketOverlay( string $_buttonValue  ) : string</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetBarcode( string $_barcodeName  ) : string</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetDocumentLinks( string '$_fileExtension'  ) :</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetItemViewStockList( int $ID  ) :</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Link_CurrentCategory() : string</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_variablen_2">Variablen</h4>
<div class="paragraph">
<p>Diese Variablen sind in diesem Container verfügbar.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$ASIN — Beinhaltet die 1. Amazon Standard Identification Number (ASIN) des Artikels.</p>
</li>
<li>
<p>$ActionId — Beinhaltet die ID der Webshop-Aktion.</p>
</li>
<li>
<p>$AttributeExist — Beinhaltet eine Abfrage, ob ein Artikel Attribute hat.</p>
</li>
<li>
<p>$AttributeMatrix — Beinhaltet alle Varianten eines Artikels. Die Varianten werden in einer Tabelle dargestellt, in der der Kunde auch die Bestellmenge eintragen kann. Die Variable im Bereich zwischen FormOpenOrder und FormCloseOrder einfügen, damit die Bestellmenge in den Warenkorb gelegt wird. Es empfiehlt sich, die Variable nur bei einer kleinen Anzahl an Attributen und Attibutwerten zu verwenden.</p>
</li>
<li>
<p>$AttributeSelect — Beinhaltet pro Attribut eine Dropdown-Liste mit den Attributwerten eines Artikels. Der Attributname wird oberhalb der Dropdown-Liste angezeigt. Die Attributwerte stehen in der Dropdown-Liste zur Auswahl.</p>
</li>
<li>
<p>$AttributeSelectWithoutAttributeName — Beinhaltet pro Attribut eine Dropdown-Liste mit den Attributwerten des Artikels.</p>
</li>
<li>
<p>$AvailabilityIcon — Beinhaltet das Verfügbarkeitssymbol der Artikelverfügbarkeit. Ein Symbol wird im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> hinterlegt.</p>
</li>
<li>
<p>$AvailabilityId — Beinhaltet die ID der Verfügbarkeit des Artikels (1-10).</p>
</li>
<li>
<p>$AvailabilityString — Beinhaltet den Namen der Artikelverfügbarkeit. Die Namen werden im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> hinterlegt.</p>
</li>
<li>
<p>$BasePrice — Beinhaltet den Grundpreis eines Artikels.</p>
</li>
<li>
<p>$BasePriceLot — Beinhaltet den Preis einer Verkaufseinheit des Artikels.</p>
</li>
<li>
<p>$BasePriceUnit — Beinhaltet die Einheit des Grundpreises.</p>
</li>
<li>
<p>$CategoryId[Level1] …​$CategoryId[Level6] — Beinhaltet die ID der Standard-Kategorie des Artikels.</p>
</li>
<li>
<p>$CategoryName[Level1] …​$CategoryName[Level6] — Beinhaltet den Namen der Kategorie.</p>
</li>
<li>
<p>$Condition — Beinhaltet den Artikelzustand.</p>
</li>
<li>
<p>$CreationDate — Beinhaltet das Erstellungsdatum eines Artikels.</p>
</li>
<li>
<p>$DefaultShippingCost</p>
</li>
<li>
<p>$Description — Beinhaltet den Artikeltext.</p>
</li>
<li>
<p>$DescriptionShort — Beinhaltet den Artikelvorschautext.</p>
</li>
<li>
<p>$EAN — Beinhaltet die EAN 1 eines Artikels.</p>
</li>
<li>
<p>$ExpirationDate — Beinhaltet das Auslaufdatum ("verfügbar bis") eines Artikels.</p>
</li>
<li>
<p>$FSK — Beinhaltet die FSK-Altersangabe eines Artikels.</p>
</li>
<li>
<p>$FlashHeight — Beinhaltet die Höhe der Flash-Datei eines Artikels.</p>
</li>
<li>
<p>$FlashURL — Beinhaltet die URL der Flash-Datei eines Artikels.</p>
</li>
<li>
<p>$FlashWidth — Beinhaltet die Breite der Flash-Datei eines Artikels.</p>
</li>
<li>
<p>$FormCloseOrder — Beinhaltet das schließende HTML-Formular für einen Artikel.</p>
</li>
<li>
<p>$FormOpenOrder — Beinhaltet das öffnende HTML-Formular für einen Artikel.</p>
</li>
<li>
<p>$Free[1] …​$Free[20] — Beinhaltet die Artikelfreitextfelder.</p>
</li>
<li>
<p>$Height — Beinhaltet die Höhe eines Artikels.</p>
</li>
<li>
<p>$ID — Beinhaltet die Artikel-ID.</p>
</li>
<li>
<p>$ISBN — Beinhaltet die International Standard Book Number (ISBN) des Artikels.</p>
</li>
<li>
<p>$Image[1] …​$Image[25] — HTML-Bild-Tag der Bilder mit höchster Auflösung.</p>
</li>
<li>
<p>$ImageAlt[1] …​$ImageAlt[25] — Beinhaltet den Alternativtext des Artikelbildes.</p>
</li>
<li>
<p>$ImageAttributeList — Beinhaltet die Attributwerte eines Artikels als Bilder. Die Bilder werden im Tab <a href="/artikel/artikel-verwalten#660">Bilder</a> eines Artikels mit den Attributwerten verknüpft.</p>
</li>
<li>
<p>$ImageName[1] …​$ImageName[25] — Beinhaltet den Namen des Artikelbildes.</p>
</li>
<li>
<p>$ImageURL[1] …​$ImageURL[25] — URL der Bilder mit höchster Auflösung.</p>
</li>
<li>
<p>$ItemAge — Beinhaltet das Alter eines Artikels in Tagen, gerechnet ab dem Erstellungsdatum in plentymarkets.</p>
</li>
<li>
<p>$ItemShipping[1] …​$ItemShipping[2] — Beinhaltet die Versandkosten für den Artikel.</p>
</li>
<li>
<p>$Length — Beinhaltet die Länge eines Artikels.</p>
</li>
<li>
<p>$LimitOrderByStock — Beinhaltet den Wert für die Bestandsbeschränkung eines Artikels, wobei <strong>0 = Keine Beschränkung, 1 = Beschränkung auf Netto-Warenbestand, 2 = Keinen Warenbestand für diesen Artikel führen</strong> entspricht.</p>
</li>
<li>
<p>$Lot — Beinhaltet den Inhalt der Verkaufseinheit eines Artikels.</p>
</li>
<li>
<p>$MiddleSizeImage[1] …​$MiddleSizeImage[25] — HTML-Bild-Tag der Bilder mit mittlerer Auflösung.</p>
</li>
<li>
<p>$MiddleSizeImageURL[1] …​$MiddleSizeImageURL[25] — URL der Bilder mit mittlerer Auflösung.</p>
</li>
<li>
<p>$Model — Model</p>
</li>
<li>
<p>$Name[1] …​$Name[3] — Beinhaltet den Artikelnamen.</p>
</li>
<li>
<p>$Name4URL — Beinhaltet den URL-konformen Artikelnamen.</p>
</li>
<li>
<p>$Number — Beinhaltet die Artikelnummer.</p>
</li>
<li>
<p>$OrderQuantityInterval</p>
</li>
<li>
<p>$OrderQuantityMax — Beinhaltet die maximale Bestellmenge des Artikels.</p>
</li>
<li>
<p>$OrderQuantityMin — Beinhaltet die Mindest-Bestellmenge des Artikels.</p>
</li>
<li>
<p>$PackagingUnit — Beinhaltet die Verpackungseinheit eines Artikels.</p>
</li>
<li>
<p>$Position</p>
</li>
<li>
<p>$PreviewImage[1] …​$PreviewImage[25] — Liefert das Vorschaubild des aktuellen Artikels.</p>
</li>
<li>
<p>$PreviewImageURL[1] …​$PreviewImageURL[25] — Liefert die URL des Vorschaubildes des aktuellen Artikels.</p>
</li>
<li>
<p>$Price — Beinhaltet den Preis eines Artikels.</p>
</li>
<li>
<p>$PriceCount — Beinhaltet die Anzahl der Preissets eines Artikels.</p>
</li>
<li>
<p>$PriceDecimalSeparatorDot — Beinhaltet den Preis eines Artikels mit Punkt als Dezimaltrennzeichen.</p>
</li>
<li>
<p>$PriceDynamic — Beinhaltet den Preis eines Artikels oder einer Variante inklusive Aufschlägen etc. Bei Verwendung dieser Variable wird der Artikelpreis z.B. je nach Variantenwahl automatisch angepasst.</p>
</li>
<li>
<p>$PriceID — Beinhaltet die ID des Preissets des Artikels.</p>
</li>
<li>
<p>$PriceRadioButton — Auswahl aller Preissets als Optionsfeld-Liste.</p>
</li>
<li>
<p>$PriceSelect — Auswahl aller Preissets als HTML-Select.</p>
</li>
<li>
<p>$Producer — Beinhaltet den Namen des Artikelherstellers.</p>
</li>
<li>
<p>$ProducerAddressCity</p>
</li>
<li>
<p>$ProducerAddressCountryID</p>
</li>
<li>
<p>$ProducerAddressCountryName</p>
</li>
<li>
<p>$ProducerAddressHouseNo</p>
</li>
<li>
<p>$ProducerAddressStreet</p>
</li>
<li>
<p>$ProducerAddressZip</p>
</li>
<li>
<p>$ProducerEmail</p>
</li>
<li>
<p>$ProducerExternalName</p>
</li>
<li>
<p>$ProducerFax</p>
</li>
<li>
<p>$ProducerLogo — Beinhaltet das Herstellerlogo.</p>
</li>
<li>
<p>$ProducerPhone</p>
</li>
<li>
<p>$ProducerURL — Beinhaltet die URL des Herstellers. Die URL wird direkt am <a href="/artikel/artikel-verwalten#560">Hersteller</a> hinterlegt.</p>
</li>
<li>
<p>$RRP — Beinhaltet die unverbindliche Preisempfehlung des Artikels.</p>
</li>
<li>
<p>$RRPDecimalSeparatorDot — Beinhaltet die unverbindliche Preisempfehlung mit Punkt als Dezimaltrennzeichen.</p>
</li>
<li>
<p>$Rating — Beinhaltet die Bewertungen.</p>
</li>
<li>
<p>$RatingCount — Beinhaltet die Anzahl der Bewertungen eines Artikels.</p>
</li>
<li>
<p>$RatingImage — Beinhaltet den Bewertungsdurchschnitt.</p>
</li>
<li>
<p>$RatingMax</p>
</li>
<li>
<p>$RebateAvailable — Beinhaltet eine Abfrage, ob für den Artikel ein rabattierter Preis besteht, der für den Kunden zutrifft.</p>
</li>
<li>
<p>$ReleaseDate — Beinhaltet das Erscheinungsdatum des Artikels.</p>
</li>
<li>
<p>$RowCount — Beinhaltet die Position der aktuellen Zeile.</p>
</li>
<li>
<p>$RowCountModulo2 — Beinhaltet einen Wert, der angibt, ob die aktuelle Zeile durch 2 teilbar ist oder nicht.</p>
</li>
<li>
<p>$Saving — Beinhaltet die Rabattsumme.</p>
</li>
<li>
<p>$SavingDecimalSeparatorDot — Beinhaltet die Rabattsumme mit Punkt als Dezimaltrennzeichen.</p>
</li>
<li>
<p>$SavingDynamic</p>
</li>
<li>
<p>$SavingDynamicDecimalSeparatorDot</p>
</li>
<li>
<p>$SavingDynamicPercent</p>
</li>
<li>
<p>$SavingPercent — Beinhaltet den Prozentsatz des Rabatts.</p>
</li>
<li>
<p>$SecondPreviewImage[1] …​$SecondPreviewImage[25] — Liefert das zweite Vorschaubild des aktuellen Artikels.</p>
</li>
<li>
<p>$SecondPreviewImageURL[1] …​$SecondPreviewImageURL[25] — Liefert die URL des zweiten Vorschaubildes des aktuellen Artikels.</p>
</li>
<li>
<p>$ShortName — Beinhaltet eine gekürzte Fassung des Artikelnamens. Nach einer bestimmten Anzahl an Zeichen wird der Artikelname abgeschnitten.</p>
</li>
<li>
<p>$Size — Beinhaltet die Angaben aus <strong>Einheit 1</strong> und <strong>Einheit 2</strong> im <strong>Tab Base</strong> eines Artikels.</p>
</li>
<li>
<p>$StockList — Beinhaltet den physischen Warenbestand eines Artikels.</p>
</li>
<li>
<p>$TechnicalData — Beinhaltet die technischen Daten des Artikels.</p>
</li>
<li>
<p>$UnitString/$UnitString[1] …​$UnitString[2] — Beinhaltet die Einheit eines Artikels.</p>
</li>
<li>
<p>$VAT — Beinhaltet den Prozentsatz der USt. des Artikels.</p>
</li>
<li>
<p>$VATHint — Beinhaltet den Hinweis zur Umsatzsteuer, z.B. "inkl. gesetzl. MwSt.".</p>
</li>
<li>
<p>$VariationID — Beinhaltet die ID der Variante.</p>
</li>
<li>
<p>$VolumePrice[1] …​$VolumePrice[10] — Beinhaltet den Preis der Mindestbestellmenge eines Artikels.</p>
</li>
<li>
<p>$VolumePriceStartingQuantity[1] …​$VolumePriceStartingQuantity[10] — Beinhaltet die Mindestbestellmenge, ab der ein reduzierter Preis für einen Artikel gilt.</p>
</li>
<li>
<p>$Volumen — Beinhaltet das Volumen eines Artikels.</p>
</li>
<li>
<p>$Weight — Beinhaltet das Gewicht eines Artikels.</p>
</li>
<li>
<p>$WeightNet — Beinhaltet das Netto-Gewicht eines Artikels.</p>
</li>
<li>
<p>$Width — Beinhaltet die Breite eines Artikels.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>