<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_YOOCHOOSE_Recommendations</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Entspricht dem Template Container_ItemViewCrossSellingItemsList bzw. Container_ItemViewCrossSellingItemsList2, nutzt jedoch statt der Cross-Selling-Artikel die von YOOCHOOSE empfohlenen Artikel. Yoochoose muss im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » YOOCHOOSE</strong> aktiviert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_YOOCHOOSE_Recommendations(
int $ItemViewCrossSellingItemsList_EachRow  ,
int $ItemViewCrossSellingItemsList_DefaultItemSorting  ,
int $ItemViewCrossSellingItemsList_Limit  ,
int $ItemViewCrossSellingItemsList_Minimum  ,
int $ItemViewCrossSellingItemsList_FromLastSeenItem  ,
int $ItemViewCrossSellingItemsList_FromBasket  ,
int $ItemViewCrossSellingItemsList_FromLastSeen
) : string</code></pre>
</div>
</div>
</div>
</div>
</main>