<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>GetItemViewCrossSellingItemsList2</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert ein Array mit allen Artikeldaten zurück, die als Cross-Selling-Artikel definiert wurden. Je nach Übergabeparameter werden hier die Cross-Selling-Artikel des aktuellen Artikels (SingleItem), der zuletzt angesehenen Artikel (LastSeenItem) oder der Artikel im Warenkorb zurückgegeben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetItemViewCrossSellingItemsList2(
int $ItemViewCrossSellingItemsList2_Limit  ,
int $ItemViewCrossSellingItemsList2_DefaultItemSorting  ,
int $ItemViewCrossSellingItemsList2_Minimum  ,
int $ItemViewCrossSellingItemsList2_FromLastSeenItem  ,
int $ItemViewCrossSellingItemsList2_FromBasket  ,
int $ItemViewCrossSellingItemsList2_FromLastSeen
) :</code></pre>
</div>
</div>
</div>
</div>
</main>