<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>GetItemViewSpecialOffersMultiPagesList</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert ein Array mit den Artikeln zurück, die als Angebotsartikel definiert wurden. Die Liste wird auf mehreren Seiten dargestellt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetItemViewSpecialOffersMultiPagesList(
int $ItemViewSpecialOffersMultiPagesList_ItemsPerPage  ,
int $ItemViewSpecialOffersMultiPagesList_DefaultItemSorting  ,
int $ItemViewSpecialOffersMultiPagesList_OnlyOfCurrentCategory
) :</code></pre>
</div>
</div>
</div>
</div>
</main>