<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>GetItemViewCategoriesList8</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">GetItemViewCategoriesList8(
int $ItemViewCategoriesList8_ItemsPerPage  ,
int $ItemViewCategoriesList8_CatLevel1DefaultItemSorting  ,
int $ItemViewCategoriesList8_GroupByVariation  ,
string $ItemViewCategoriesList8_BrowseNextButtonName  ,
string $ItemViewCategoriesList8_BrowsePreviousButtonName
) :</code></pre>
</div>
</div>
</div>
</div>
</main>