<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Versende E-Mails automatisch über das System</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne viel Zeitaufwand lassen sich deine E-Mails an Kunden automatisch versenden. Wie du alles wichtige einstellst, damit das funktioniert, erfährst du hier.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/grundeinstellungen/e-mail-vekehr/automatischer-versand-teil1#video">Automatischer Versand (0:35)</a></p>
<p class="tableblock"><a href="/videos/grundeinstellungen/e-mail-verkehr/automatischer-versand-ereignisaktionen#video">Ereignisaktionen (1:40)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/214839643#at=35" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Langsam läuft alles. Du hast dir erst vor Kurzem wunderschöne E-Mail-Vorlagen erstellt und jetzt bist du auch bereit diese in die Welt hinaus, also an deine Kunden zu schicken. Nur wie?</p>
</div>
<div class="paragraph">
<p>Mit Auftragsbestätigungen, Rechnungsversand, vergessenen Passwörtern und noch viel mehr wärst du ja die ganze Nacht beschäftigt, wenn du das alles per Hand verschicken würdest. Es wäre doch viel einfacher, wenn sich die E-Mails automatisch verschicken würden. Wäre das nicht toll, wenn bestimmte Ereignisse wie von Zauberhand andere auslösen würden? Tja, du hast Glück! Denn plentymarkets macht genau DAS!</p>
</div>
<div class="paragraph">
<p>Dieser Menüpunkt "Automatischer Versand" beinhaltet eine Liste voller Routine-Ereignissen, die dir und anderen Online-Händlern sehr wahrscheinlich im Daily Business über den Weg laufen werden. Beispiel dafür wären eine neue Bestellung über Amazon oder dass ein neuer Kunde sich in deinem Shop registriert hat.</p>
</div>
<div class="paragraph">
<p>Kein fauler Zauber - sag plentymarkets in diesem Menü hier einfach, welche deiner E-Mail-Vorlagen dann jeweils verschickt werden soll
…​und kannst diese auch direkt bearbeiten. Falls unter den Events etwas ist, das nicht zu deinem
Business passt…​.zum Beispiel verkaufst du vielleicht gar nicht über den Marktplatz Rakuten…​..dann wird auch kein automatischer Mailversand benötigt.</p>
</div>
<div class="paragraph">
<p>Und genau das ist hier im Dropdown ausgewählt. Simsalabim - damit hast du schon eine ganze Menge an
E-Mailversand automatisiert.</p>
</div>
<div class="paragraph">
<p>Was ist aber, wenn du einen Spezial-Trick planst? Wenn dein Kunde zum Beispiel einen ganz bestimmten Artikel gekauft hat, der eine Aufbauanleitung benötigt? Die willst du natürlich dann per Mail mitschicken. Oder wenn dein Kunde richtig viel Geld bei dir gelassen hat, dann willst du ihm vielleicht einen Rabattcode für den nächsten Einkauf senden.</p>
</div>
<div class="paragraph">
<p>Mit einem beherzten Griff in die plentymarkets-Trickkiste holst du die Ereignisaktionen hervor! Das Prinzip ist zwar das gleiche wie vorher: Auf ein Ereignis, folgt eine Aktion, in deinem Mail: Eine E-Mail! Aber hier kannst du noch viel spezifischer werden. Also wenn dein Kunde einen ganz bestimmten Artikel gekauft
hat, der eine Aufbauanleitung benötigt - dann schickst du ihm diese per Mail. Über den Filter bestimmst du, welcher Artikel gekauft werden muss, damit das passiert. Und über die Aktion, welche E-Mail dann verschickt werden soll - die mit der Anleitung.</p>
</div>
<div class="paragraph">
<p>Abra Kadabra - das ging doch richtig schnell. Wenn dir jetzt nach mehr Action ist und du noch vieles über Ereignisaktionen lernen möchtest, dann schau in unserem Automatisierungs-Modul vorbei.</p>
</div>
<div class="paragraph">
<p>Genieß die Show und hab viel Spaß mit deinem plentymarkets.</p>
</div>
</div>
</div>
</main>