<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Erstelle E-Mail-Vorlagen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deine E-Mails bestehen aus zwei Komponenten: Inhalt und Design. Mit diesem Video lernst du, wie du wunderschöne E-Mails erstellst und diese auf deine Kunde zuschneiderst.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/217455306" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Wenn sich der Vorhang öffnet erwartet der Zuschauer zwei Dinge. Erstens: Schauspieler, die der Handlung des Theaterstücks Leben einhauchen. Zweitens: Ein Bühnenbild, dass dem Theaterstück durch sein Aussehen einen einzigartigen Rahmen gibt. Diese beiden Elemente - Handlung und Aussehen - spielen auch eine entscheidende Rolle, wenn du deine E-Mails durch plentymarkets erstellen lässt.</p>
</div>
<div class="paragraph">
<p>In plentymarkets werden Handlung und Aussehen deiner E-Mails getrennt von einander angelegt. Wir ignorieren zunächst den Bühnenaufbau – also das Aussehen – und starten direkt mit dem Inhalt deiner E-Mails.</p>
</div>
<div class="paragraph">
<p>Bei den E-Mail-Vorlagen handelt es sich in unserem Beispiel um die Handlung – also den Inhalt – des Theaterstücks. Und das schauen wir uns nun gemeinsam an. Log dich in dein plentymarkets-System ein und navigiere zu den E-Mail-Vorlagen.</p>
</div>
<div class="paragraph">
<p>du wirst feststellen, dass deine Vorlagen in drei verschiedene Ordner sortiert werden. Um eine neue Vorlage anzulegen, klicke ganz einfach den entsprechenden Button hier unten.</p>
</div>
<div class="paragraph">
<p>Mit der Option Eigner legst du fest, in welchen der drei Ordner deine Vorlage einsortiert wird. Wenn du hier ALLE wählst, wird die Vorlage im Allgemeinen Ordner gespeichert. Wenn du dagegen den Eigner, mit dem du gerade eingeloggt bist, wählst, wird die Vorlage in Meine E-Mail-Vorlagen gespeichert.</p>
</div>
<div class="paragraph">
<p>Wählst du einen anderen Eigner, wird die Vorlage im Ordner für andere Benutzer gespeichert. Für mein Beispiel speichere ich eine Vorlage in Allgemeinen Ordner, die ich meinen Kunden drei Tage nach dem Versand ihres gekauften Artikels sende, um die Zufriedenheit abzufragen.</p>
</div>
<div class="paragraph">
<p>Zunächst solltest du immer bedenken, dass der Name der E-Mail-Vorlage nur zur Sortierung der Vorlagen in deinem System genutzt wird. Der Kunde, der die E-Mail erhält, sieht diesen Namen nicht.</p>
</div>
<div class="paragraph">
<p>Weiter geht’s: Mit der Einstellung Inhalt legst du fest, ob deine E-Mail nur als reiner Text oder im HTML-Format ausgeliefert wird. Hier kannst du dann übrigens den Text für deine E-Mail hinterlegen.
Eben entweder als reinen Text oder im HTML-Format.</p>
</div>
<div class="paragraph">
<p>Okay, weiter zu den nächsten wichtigen Einstellungen. Die Anhänge. Wie es der Name schon verrät, kannst du mit beiden Einstellungen Anhänge deinen E-Mails hinzufügen.</p>
</div>
<div class="paragraph">
<p>Der einzige Unterschied beider Einstellungen: PDF-Anhang hängt der E-Mail ein vom System erzeugtes PDF wie beispielsweise eine Rechnung an. Dagegen hast du mit der zweiten Einstellungen die Möglichkeit ein Dokument, dass du in deinem System unter <strong>CMS » Dokumente</strong> hochgeladen hast, anzuhängen.
du kannst also über diese Einstellung eine PDF-Kopie deiner Allgemeinen
Geschäftsbedingungen oder eine Bedienungsanleitung für einen Artikel anhängen.</p>
</div>
<div class="paragraph">
<p>Als nächstes haben wir das Feld Antwort an. Hier kannst du eine E-Mail-Adresse
eintragen, sodass beispielsweise eine Frage zur Rechnung durch den Kunden direkt an
deine Buchhaltung geleitet werden kann.</p>
</div>
<div class="paragraph">
<p>In meinem Beispiel, in dem ich ja die Kundenzufriedenheit abfrage, sollte eine Antwort des Kunden direkt an den Kundendienst geleitet werden. Trägst du hier keine E-Mail-Adresse ein, werden Antworten an die Adresse, die im Bereich Zugangsdaten hinterlegt ist, gesendet.</p>
</div>
<div class="paragraph">
<p>Einen Eindruck der Einstellungen für deine E-Mail-Vorlagen hast du nun. Zeit sich um die Nachricht selber zu kümmern.</p>
</div>
<div class="paragraph">
<p>Alle Einstellungen hier sind erstmal selbsterklärend. Gib in jedem Fall zunächst einen
Betreff ein.</p>
</div>
<div class="paragraph">
<p>Anschließend kannst du direkt den gewünschten Text der E-Mail im Tab Inhalt eingeben.
Hier in dieser Zeile kannst du auch schon eine Template-Variable erkennen. Eine
Template-Variable wird immer mit dem Dollarzeichen eingeleitet. du fragst dich sicher
Template…​was? Keine Angst, wir haben noch ein anderes Video für dich, in dem wir uns
dieses Thema genau anschauen werden. du brauchst dir aber keine Sorgen machen, für das Thema brauchst du kein Softwareentwickler sein.</p>
</div>
<div class="paragraph">
<p>Wie du den Inhalt für deine E-Mails anlegst, weißt du jetzt. Es wird Zeit, dass wir uns mit dem Aussehen deiner E-Mails beschäftigen. Wenn wir uns ein Theaterstück vorstellen, wird das Aussehen durch Bühnenbild, die Kostüme oder das Makeup erzeugt. Bei deinen E-Mails kannst du das Aussehen dagegen mit Hilfe des HTML-Designs so anpassen, dass du eine Art elektronischen Firmenbriefkopf in deinen E-Mails anzeigst.</p>
</div>
<div class="paragraph">
<p>Nachdem du dich in plentymarkets eingeloggt hast, navigierst du ganz einfach zu HTML-Design und gibst deinen E-Mails einen einzigartigen Look. Auf der rechten Seite kannst du den Editor festlegen, mit dem du arbeiten möchtest.</p>
</div>
<div class="paragraph">
<p>Wenn dir die Arbeit mit dem Syntax-Editor fremd ist, kannst du auch den WYSIWYG-Editor wählen. Dieser
gibt dir einen Eindruck, wie das Design deiner E-Mail aussehen wird. Um dir ein Beispiel zu zeigen, habe ich bereits HTML-Code erzeugt und füge diesen hier ein.</p>
</div>
<div class="paragraph">
<p>Ich wechsele nun zum Editor, um einen Eindruck vom Design zu erhalten. Hier begegnen dir auch wieder zwei Template-Variablen. Beide Temaplate-Variablen sorgen dafür, dass dein Inhalt in das Design eingebunden wird. du hast hier die E-Mail-Nachricht im HTML-Format sowie deine Signatur im selben
Format.</p>
</div>
<div class="paragraph">
<p>Und hier wird auch klar, was damit gemeint ist, wenn ich sage, dass Aussehen und Inhalt einer E-Mail an zwei verschiedenen Stellen hinterlegt wird. Warum ist das sinnvoll, fragst du dich sicher. Zum einen bedeutet dies, dass du nicht für jede einzelne E-Mail-Vorlage ein separates
Design hinterlegen musst. Zum anderen – sollte es Änderungen geben, sagen wir beispielsweise bei deiner
Telefonnummer – brauchst du diese nicht in jeder E-Mail-Vorlage zu ändern, sondern
du passt die Nummer zentral an. Dies nimmt dir nicht nur eine Menge Arbeit ab, es spart
dir auch viel Zeit. Auch das Design haben wir nun angelegt, wir müssen jetzt nur noch Design und Inhalt zusammenführen.</p>
</div>
<div class="paragraph">
<p>Alles, was du dafür tun musst, ist hier den Haken zu setzen und schon wird das angelegte Design für diese E-Mail-Vorlage verwendet.</p>
</div>
<div class="paragraph">
<p>Bedenke, dass bei der Verwendung von HTML-Designs ausschließlich HTML-basierter Text genutzt werden kann.
Die Grundlagen von Designs und Inhalt hast du nun erfahren. Zeit um deine Arbeit mit E-Mails weiter zu vereinfachen. Als nächstes solltest du dir das Video zu den Template-Variablen und IF-Bedingungen anschauen. Viel Spass dabei!</p>
</div>
</div>
</div>
</main>