<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lege ein neues mailbox.org E-Mail-Konto an</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deine Mitarbeiter brauchen Mailkonten? Nichts leichter als das! Schritt für Schritt erklären wir dir, wie du schnell zu einem mailbox-org-Konto kommst!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/grundeinstellungen/e-mail-verkehr/mailboxorg-neues-konto#video">Neues Mailkonto erstellen (0:30)</a></p>
<p class="tableblock"><a href="/videos/grundeinstellungen/e-mail-verkehr/mailboxorg-postfach-alias#video">Postfach oder Alias? (0:42)</a></p>
<p class="tableblock"><a href="/videos/grundeinstellungen/e-mail-verkehr/mailboxorg-alias-konto#video">Erstelle dein Alias-Konto (2:26)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/211643123" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Lampenfieber! Nur noch wenige Minuten und der Vorhang hebt sich. Dein großer Shop-Auftritt steht kurz bevor. Benutzerkonten hast du bereits angelegt. Aber wie kommunizierst du nun mit den Kunden? Schicken wir deine Akteure in die Maske und verpassen ihnen mit E-Mail-Konten den letzten Schliff.</p>
</div>
<div class="paragraph">
<p>Zuallererst: E-Mail-Konten anlegen ist ein Admin-Privileg. In Richtung Maske und Make-Up geht es nach Login unter <strong>Einstellungen » Grundeinstellungen » Benutzer</strong>. Jetzt jeden einzelnen Akteur durchklicken und ein Mailkonto anlegen? Das geht in plenty natürlich einfacher! Öffne dein eigenes Admin-Konto und schließlich den Tab "E-Mail". Von hier aus hast du all deine Schauspieler im Blick. Füllen wir diese leere Fläche hier also nun etwas auf! Das grüne Plus weist dir den Weg.</p>
</div>
<div class="paragraph">
<p>Jetzt darfst du dich vorerst zwischen einem Postfach und einem Alias entscheiden. Der Unterschied ist einfach erklärt. Das harte Showbiz verleitet so machen Künstler dazu, nicht seinen echten Namen zu verwenden. Stattdessen kommt ein Künstlername oder Alias zum Einsatz. Charlie Sheen kennst du oder? Was ist mit seinem realen Namen: Carlos Estevez? Nur ein prominentes Beispiel. In plentymarkets läuft das nicht anders. Neben einem direkten Postfach mit deinem echten Namen kannst du auch solche erstellen, die anders benannt sind aber dennoch auf die originale Adresse weiterleiten. Gang und Gebe sind hier beispielsweise info@ oder rechnung@-Adressen.</p>
</div>
<div class="paragraph">
<p>Viel komplizierter wird es jetzt nicht mehr! Deine Domain ist hier auch schon ausgewählt, für dich steht jetzt also nur noch der lokale Teil an. Vor- und Nachname sind dir sicher direkt klar. Dazu nur einen kleinen Hinweis: Was du hier eingibst, steht auch im Absender und ist für deine Kunden sichtbar. Und im Dropdown darunter findest du den von mir versprochenen Komfort, über dein Konto für jeden einzelnen Nutzer ein Mailkonto erstellen zu können.</p>
</div>
<div class="paragraph">
<p>Wähle hier also aus, welcher Schauspieler mit dem Mailkonto aufgehübscht werden soll oder schick dich selbst in die Maske. Falls du aber lieber deine Mails auf einem existierenden Konto empfangen willst, trägst du unter Weiterleitung ebendieses Konto ein beziehungsweise trennst du bei mehreren Konten ganz einfach mit einem Komma. Durch diesen Haken hier werden deine Mails aber trotzdem noch auf dem neuen Konto gespeichert - sicher ist sicher!</p>
</div>
<div class="paragraph">
<p>Zum Schluss kannst du noch einen passenden Postfachtarif auswählen. Das fällt unter die künstlerische Freiheit, such dir also den Tarif aus, der am besten zu dir passt. Und das war’s auch schon! Diese Schritte wiederholst du nun so oft du musst und magst!</p>
</div>
<div class="paragraph">
<p>Also gut, dann raus aus der Maske, schnell weiter…​ Moment! Unser Carlos Estevez braucht noch
einen Alias. Ok, das ist fix erledigt. Du wählst im Dropdown statt Postfach dann einfach Alias aus! Gib wieder den lokalen Teil der Alias-Adresse ein und wähle aus den angelegten E-Mail-Konten aus, wohin die Nachrichten weitergeleitet werden sollen.</p>
</div>
<div class="paragraph">
<p>Mit diesen Einstellungen kannst du deinem Auftritt ohne Lampenfieber begegnen. Wie versendest du nun Mails aus deinem plenty System? Schau’s dir im nächsten Video an!</p>
</div>
</div>
</div>
</main>