<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verknüpfe dein E-Mail-Konto mit plentymarkets</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie sich mit Template-Variablen und if-Konstrukten deine E-Mails auf den jeweiligen Auftrag anpassen lassen erfährst du in diesem Video. Es ist einfacher als du denkst!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/grundeinstellungen/e-mail-verkehr/template-variablen-if-konstrukte-teil1#video">Template-Variablen (0:51)</a></p>
<p class="tableblock"><a href="/videos/grundeinstellungen/e-mail-verkehr/template-variablen-if-konstrukte-teil2#video">if-Konstrukt (2:43)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/214836665#at=51" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Willkommen alle miteinander! Seid ihr alle bereit für eine kleine Tour durch die plentywood Studios? Fantastisch! Wieso schauen wir nicht mal hinter die Kulissen der Aufnahmen für Amaranth Straße?!?</p>
</div>
<div class="paragraph">
<p>Ein großes großes Hallo an euch alle! Heute bin ich mit meinem Freund Plelmo hier. Und wir möchten über etwas sprechen, das anfangs vielleicht etwas schwierig aussehen kann. In der letzten Woche haben wir einen spannenden Ausflug ins Theater gemacht und tolle Aufführungen angeschaut, wie zum Beispiel "Ein neues Mailkonto anlegen" und "E-Mail Vorlagen".</p>
</div>
<div class="paragraph">
<p><em>Ja, das hat Spaß gemacht!</em></p>
</div>
<div class="paragraph">
<p>Wir haben alles über die Grundlagen der E-Mails in eurem plentymarkets System gelernt.</p>
</div>
<div class="paragraph">
<p><em>Ja ja, richtig!</em></p>
</div>
<div class="paragraph">
<p>Und wir wissen wie man E-Mail-Vorlagen erstellt.</p>
</div>
<div class="paragraph">
<p><em>Ja, total einfach!</em></p>
</div>
<div class="paragraph">
<p>Oh ja absolut! Naja…​..meistens. Heute sprechen wir über Template-Variablen und if-Konstrukte, um eure
Mails noch individueller zu schneidern.</p>
</div>
<div class="paragraph">
<p>Ok, also als erstes Plelmo: Was sind Template Variablen?</p>
</div>
<div class="paragraph">
<p><em>Plentate vrrrbbbllls??</em></p>
</div>
<div class="paragraph">
<p>Hahaha. Nah dran. Naja, Template Variablen werden dafür genutzt, um Daten aus anderen Bereichen
herauszuziehen und in deiner E-Mail sichtbar zu machen. Es ist wie ein Platzhalter, der einen Platz für eine
spezifische Information freihält.</p>
</div>
<div class="paragraph">
<p>Also, lasst uns unser System öffnen und eine E-Mail Vorlage auswählen. Der Tab "Text in HTML-Format" beinhaltet schon eine E-Mail in HTML-Code. Hier hab ich meine Anrede, den Inhalt der Mail und meine Grußformel. Wahrscheinlich sind euch auch diese komischen Wörter mit den Dollar-Zeichen davor aufgefallen. Das sind Template-Variablen!</p>
</div>
<div class="paragraph">
<p><em>Ahhhh! Template Variablen!</em></p>
</div>
<div class="paragraph">
<p>Richtig Plelmo. Wenn ihr euch die Anrede mal anschaut, seht ihr die Template Variable "Dollar Customer Full Name". Wenn diese E-Mail also an euren Kunden geschickt wird, wird dieser Code hier sich in den Kunden-Vor-
und Nachnamen umwandeln. Das gleiche gilt für die Auftrags-ID-Variable. Dieser Code wird automatisch durch die relevanten Infos, in diesem Fall die Auftrags-ID, ausgetauscht.</p>
</div>
<div class="paragraph">
<p>Um zu den Template Variablen zu gelangen, klickt ihr einfach auf das Icon hier oben. Dann die benötigte
Variable aus der Liste kopieren und dort platzieren, wo die Info in eurer E-Mail auftauchen soll.</p>
</div>
<div class="paragraph">
<p><em>Hmm, das sieht total leicht aus, kinderleicht! Aber was ist ein if-Konstrukt?</em></p>
</div>
<div class="paragraph">
<p>Naja, Plelmo, if-Konstrukte erlauben dir bestimmte Infos anzuzeigen, FALLS ein bestimmter Fall eintritt.</p>
</div>
<div class="paragraph">
<p><em>Hmmm?</em></p>
</div>
<div class="paragraph">
<p>Ja, das ist jetzt nicht mehr ganz so einfach. Aber immer noch sehr schnell zu lernen. Also ein ganz
grundlegendes Beispiel: FALLS dein Kunde etwas bestellt, sagen wir mal PIZZA-</p>
</div>
<div class="paragraph">
<p><em>Ich mag Pizza!</em></p>
</div>
<div class="paragraph">
<p>Ja, ich weiß, dass du das tust. Also dein Kunde bestellt zum Beispiel eine große Pizza, dann bekommt er
automatisch einen großen Haufen Servietten dazu.</p>
</div>
<div class="paragraph">
<p>Das if-Konstrukt, das ich hier gerade platziert habe ist recht einfach gehalten und zeigt Bankdaten. Aber
nur, wenn euer Kunde seine Ware per Vorkasse bezahlen möchte. Hier oben haben wir also die tatsächliche if-Bedingung. FALLS der Kunde also mit der Zahlungsmethode der ID 0 bestellt hat, also per Vorkasse, dann wird der folgende Text angezeigt. Wie ihr seht, beinhaltet auch dieser Text einige Template Variablen, so wie OrderID und CustomerID. Wenn die if-Bedingung also erfüllt ist, erscheint dann auch dort eben Auftrags-ID und Kunden-ID. Und da es ein einzeiliger Code-Block ist, muss das if-Konstrukt mit dem Ausdruck endif abgeschlossen werden.</p>
</div>
<div class="paragraph">
<p>Kommst du noch mit Plelmo?</p>
</div>
<div class="paragraph">
<p><em>Oh ja, die Kondition wird also zu einem boolschen Wahrheitswert evaluiert.</em></p>
</div>
<div class="paragraph">
<p>Ähh…​..jaaaa…​ Ok, also jetzt müssen wir noch über ELSE sprechen. Oft ist es nötig eine Sache zu tun, wenn eine bestimmte Bedingung erfüllt ist und eine andere Sache, wenn diese Bedingung nicht erfüllt ist.
In unserem ersten Beispiel sagten wir, dass unser Kunde einen Haufen Servietten bekommt, wenn er eine
Pizza bestellt. Aber wenn er einen großen Teller Spaghetti bestellt, bekommt er einen
Spaghetti-Schutzanzug. ELSE kommt hier also ins Spiel, um die if-Bedingung um ein weiteres, unterschiedliches Ereignis zu erweitern, wenn sie nicht erfüllt wird.</p>
</div>
<div class="paragraph">
<p>Okay, jetzt fügen wir unser ELSE hinzu. Gehen wir mal davon aus unser Kunde möchte per PayPal
bezahlen. Das würde bedeuten, dass unsere if-Klausel, also Vorkasse, nicht zutrifft. Der Text mit den
Bankdaten würde nicht auftauchen. Stattdessen würde in deiner E-Mail dieser Text hier unten erscheinen.</p>
</div>
<div class="paragraph">
<p><em>Ha! Magic!</em></p>
</div>
<div class="paragraph">
<p>Naja, so in etwa. Eher Logik hinter einem Code.</p>
</div>
<div class="paragraph">
<p>Jetzt öffnen wir einen Auftrag und schauen uns die E-Mail-Vorschau in diesem Tab hier an.
Oben siehst du den Namen dieses Kunden und die entsprechende Auftrags-ID.</p>
</div>
<div class="paragraph">
<p><em>Ahhh, und dieser Kunde möchte per Vorkasse zahlen, also wurden die Bankdaten aus dem if-Konstrukt von vorhin hier dargestellt.</em></p>
</div>
<div class="paragraph">
<p>Wow, Plelmo! Das stimmt genau! Siehst du: Kin-der-leicht!</p>
</div>
<div class="paragraph">
<p><em>Ohja, ich mag Template Variablen und ich mag if-Pizza!!</em></p>
</div>
<div class="paragraph">
<p>Hahaha. Plelmo. Ja, ich auch, ich auch…​</p>
</div>
</div>
</div>
</main>