<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Benutzerkonto anpassen, Firmen-, Konto- und Bankdaten speichern</span></a></li>
<li><a href="#250"><span>2.</span><span> Kundenklasse erstellen</span></a></li>
<li><a href="#300"><span>3.</span><span> E-Mail-Versand einrichten</span></a></li>
<li><a href="#500"><span>4.</span><span> E-Mail-Vorlagen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>4.1.</span><span> Rechtliche Angaben speichern</span></a></li>
<li><a href="#600"><span>4.2.</span><span> Beispiel: E-Mail-Vorlage anpassen</span></a></li>
<li><a href="#700"><span>4.3.</span><span> Template-Variablen und Template-Funktionen einfügen</span></a></li>
<li><a href="#800"><span>4.4.</span><span> Dateien an E-Mail-Vorlagen anhängen</span></a>
<ul class="sectlevel3">
<li><a href="#900"><span>4.4.1.</span><span> PDF-Anhang erstellen und anhängen</span></a></li>
<li><a href="#1000"><span>4.4.2.</span><span> Dokumentenanhang erstellen und anhängen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1100"><span>5.</span><span> Domain bestellen</span></a></li>
<li><a href="#1200"><span>6.</span><span> SSL-Zertifikat bestellen</span></a></li>
<li><a href="#1300"><span>7.</span><span> Checkliste</span></a></li>
<li><a href="#1400"><span>8.</span><span> Mehr zum Thema Basiseinstellungen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Basiseinstellungen vornehmen</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Hast du schon Popups erlaubt, ein Lesezeichen für dein Backend-Login gesetzt und die Systemvoraussetzungen geprüft? Noch nicht? Dann geht’s hier zurück zum Thema <a href="/willkommen/schnelleinstieg">Schnell durchstarten</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In diesem Teil des Schnelleinstiegs findest du Erläuterungen zu allgemeinen Einstellungen wie dem Speichern von Firmen- und Bankdaten sowie zum Einrichten des E-Mail-Versands und E-Mail-Vorlagen. Außerdem erklären wir dir auf dieser Seite, wie du eine Domain und ein SSL-Zertifikat für deinen Webshop bestellst.</p>
</div>
<div class="paragraph">
<p>Für einige der genannten Einstellungen stehen dir unsere virtuellen Assistenten zur Verfügung. Diese helfen dir dabei, dein System Schritt für Schritt optimal einzurichten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Benutzerkonto anpassen, Firmen-, Konto- und Bankdaten speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Öffne das Menü <strong>Einrichtung » Assistenten</strong> und dort den Bereich <strong>Grundeinrichtung</strong>. Durchlaufe dann den Assistenten <strong>Basics</strong>, um die folgenden Einstellungen vorzunehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>eigenes Benutzerkonto anpassen</p>
</li>
<li>
<p>Firmendaten speichern</p>
</li>
<li>
<p>Kontaktdaten speichern</p>
</li>
<li>
<p>Bankdaten speichern</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Vertragsdaten ändern</div>
<div class="paragraph">
<p>Eine Änderung der Stammdaten in diesem Menü ändert nicht die Kundenstammdaten deines plentymarkets Vertrages z.B. für die Rechnungsstellung. Vertragsdaten passt du im Menü <strong>plentymarkets Logo (Start) » Mein Konto</strong> im Bereich <strong>Verträge</strong> an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Deine Bankdaten können über sogenannte Template-Variablen in E-Mail-Vorlagen ausgegeben werden. Das bedeutet, dass plentymarkets in den E-Mails selbst  die Variablen durch den jeweiligen Inhalt ersetzt. Die Template-Variable <strong>$BankOwner</strong> wird so durch den Namen des Kontoinhabers ersetzt und <strong>$BankName</strong> setzt den Namen der Bank ein. <strong>$BankIban</strong> wird durch die IBAN und <strong>$BankSwift</strong> durch den BIC ersetzt.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zu den Template-Variablen findest du weiter unten auf dieser Seite in den Kapiteln <a href="/willkommen/schnelleinstieg/schnelleinstieg-basiseinstellungen#600">Beispiel: E-Mail-Vorlage anpassen</a> und <a href="/willkommen/schnelleinstieg/schnelleinstieg-basiseinstellungen#700">Template-Variablen und Template-Funktionen einfügen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">2. Kundenklasse erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Kundenklassen unterteilst du deinen Kundenstamm nach unterschiedlichen Kriterien. Du kannst z.B. Mindestbestellmengen festlegen, Rabatte gewähren und entscheiden, ob die Preise in deinem Webshop in brutto oder netto angezeigt werden.</p>
</div>
<div class="paragraph">
<p>Für den Anfang empfehlen wir dir das Erstellen von 2 Kundenklassen: B2C für deine Endkunden und B2B für Händler. Du benötigst die Kundenklassen für eventuelle weitere Einstellungen, die du in deinem plentymarkets System vornehmen möchtest, wie z.B. das Speichern von Verkaufspreisen.</p>
</div>
<div class="paragraph instruction">
<p>Kundenklasse erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neue Kundenklasse</strong>.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnelleinstieg-kundenklasse-erstellen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnelleinstieg-kundenklasse-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Kundenklasse erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Kundenklasse eingeben, z.B. Standardkunde oder B2C.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabattart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ggf. Rabattart wählen. Weitere Informationen zu den Rabattarten findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten">Kontakte</a> im Kapitel <a href="/crm/kontakte-verwalten#25">Rabattsystem nutzen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlaubte Zahlungsarten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Zahlungsarten, die später in deinem Webshop verfügbar sind, für die Kundenklasse erlaubt sein sollen. Standardmäßig sind alle verfügbaren Zahlungsarten erlaubt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige der Preise im Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Preise im Webshop brutto oder netto angezeigt werden sollen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. E-Mail-Versand einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Öffne das Menü <strong>Einrichtung » Assistenten</strong> und dort den Bereich <strong>Grundeinrichtung</strong>. Durchlaufe dann den Assistenten <strong>E-Mail-Konten</strong>, um die folgenden Einstellungen vorzunehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zugangsdaten deines E-Mail-Kontos speichern, damit plentymarkets über dein E-Mail-Konto E-Mails für dich versenden kann. Beachte, dass es möglich sein kann, dass du dir eine Freigabe bei deinem E-Mail-Provider einholen musst, damit plentymarkets die E-Mails versenden darf.</p>
</li>
<li>
<p>Live-Modus aktivieren</p>
</li>
<li>
<p>Signatur für deine ausgehenden E-Mails speichern</p>
</li>
<li>
<p>Infodienst aktivieren, um eine Blindkopie aller ausgehenden E-Mails zu erhalten</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testmodus sendet E-Mails nur an deine E-Mail-Adresse</div>
<div class="paragraph">
<p>Es gibt einen Testmodus, der standardmäßig aktiviert ist. Im Testmodus werden alle E-Mails nur an die von dir eingegebene E-Mail-Adresse gesendet. So kannst du alle Einstellungen und Inhalte testen, bevor du live mit dem E-Mail-Versand arbeitest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">4. E-Mail-Vorlagen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets erzeugt alle E-Mails auf Basis von Vorlagen. <a href="#tabelle-e-mail-vorlagen">Tabelle 2</a> listet die E-Mail-Vorlagen auf, deren Einrichtung wir dir für den Anfang empfehlen. E-Mail-Vorlagen werden im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong> erstellt.</p>
</div>
<div class="paragraph">
<p>Du kannst alle E-Mail-Vorlagen an deine Erfordernisse anpassen. Weiter unten auf dieser Seite im Kapitel <a href="/willkommen/schnelleinstieg/schnelleinstieg-basiseinstellungen#600">Beispiel: E-Mail-Vorlage anpassen</a> findest du ein Beispiel, wie du die E-Mail-Vorlage <strong>Webshop: Eingangsbestätigung Bestellung</strong> anpasst.</p>
</div>
<table id="tabelle-e-mail-vorlagen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Bereits vorkonfigurierte E-Mail-Vorlagen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">E-Mail-Vorlage</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag: Rechnung PDF-Anhang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet die Rechnung als Dateianhang an den Kunden.<br>
<strong><em>Wichtig:</em></strong> Eine Rechnungsvorlage für den Standort <strong>Deutschland</strong> ist bereits vorkonfiguriert. Du kannst die Vorlage nach Bedarf im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente » Rechnung</strong> anpassen. Wenn eine Rechnung für den Auftrag existiert und du eine Ereignisaktion eingerichtet hast, wird die Rechnung automatisch an den Kunden versendet, weil in der Vorlage <strong>Auftrag: Rechnung PDF-Anhang</strong> der PDF-Anhang <strong>Rechnung</strong> bereits standardmäßig gewählt ist.<br>
 Weitere Informationen dazu findest du auf der Schnelleinstiegsseite <a href="/willkommen/schnelleinstieg/schnelleinstieg-automatisierung">Vorgänge automatisieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag: Versandbestätigung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird bei Versand der Ware verschickt.<br>
<strong><em>Tipp:</em></strong> Erstelle eine Ereignisaktion mit dem Ereignis <strong>Paketnummer</strong> und füge Filter und Aktionen hinzu, damit die am Auftrag gespeicherte Paketnummer über die Template-Variable <strong>$TrackingURL</strong> ausgegeben wird. Weitere Informationen findest du auf der Schnelleinstiegsseite <a href="/willkommen/schnelleinstieg/schnelleinstieg-automatisierung">Vorgänge automatisieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop: Eingangsbestätigung Bestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benachrichtigung an den Kunden, dass seine Bestellung eingegangen ist.<br>
<strong><em>Wichtig:</em></strong> In dieser E-Mail-Vorlage solltest du aus rechtlichen Gründen eine Widerrufsbelehrung sowie die AGB einfügen. Von großer Bedeutung in dieser E-Mail-Vorlage sind alle Formulierungen, die das vertragliche Verhältnis mit dem Kunden betreffen. Deine Texte solltest du daher von einem kundigen Fachanwalt prüfen lassen.<br>
Die Texte für die Widerrufsbelehrung und die AGB speicherst du im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Webshop » Rechtliches</strong>. Über die Template-Variablen <strong>$CancellationRightsText</strong> und <strong>$GeneralTermsConditionsText</strong> werden das Widerrufsrecht und die AGB dann automatisch in der E-Mail ausgegeben.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Es gibt zahlreiche weitere E-Mail-Vorlagen, die bereits in deinem plentymarkets System vorhanden sind. Diese E-Mail-Vorlagen musst du ggf. anpassen und mit einem Ereignis im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong> verknüpfen oder eine Ereignisaktion einrichten. Weitere Informationen findest du auf der Schnelleinstiegsseite <a href="/willkommen/schnelleinstieg/schnelleinstieg-automatisierung">Vorgänge automatisieren</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="550">4.1. Rechtliche Angaben speichern</h3>
<div class="paragraph">
<p>Es ist wichtig, dass du vorab die rechtlichen Angaben für deinen Webshop speicherst. Dazu zählen die AGB, das Widerrufsrecht, die Datenschutzerklärung, das Impressum sowie das Widerrufsformular. In der E-Mail-Vorlage selbst fügst du Template-Variablen ein, die den Text in der E-Mail-Vorlage dann ersetzen.</p>
</div>
<div class="paragraph">
<p>Wir empfehlen, die Texte im Vorfeld von einem kundigen Fachanwalt prüfen zu lassen, bevor du diese verwendest.</p>
</div>
<div class="paragraph instruction">
<p>Rechtliche Angaben speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Webshop » Rechtliches</strong>.</p>
</li>
<li>
<p>Klappe die Sprache <strong>Deutsch</strong> auf (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Füge die Texte in den jeweiligen Tabs <strong>AGB</strong>, <strong>Widerrufsrecht</strong>, <strong>Datenschutzerklärung</strong>, <strong>Impressum</strong> und <strong>Widerrufsformular</strong> im Tab <strong>Text</strong> ein.<br>
→ <strong><em>Tipp:</em></strong> Lasse die Texte zu den rechtlichen Angaben von einem kundigen Fachanwalt prüfen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">4.2. Beispiel: E-Mail-Vorlage anpassen</h3>
<div class="paragraph">
<p>Anhand des Beispiels der E-Mail-Vorlage <strong>Webshop: Eingangsbestätigung Bestellung</strong> beschreiben wir im Folgenden, wie du eine E-Mail-Vorlage an deine Erfordernisse anpasst.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Klicke bei <strong>Allgemeine E-Mail-Vorlagen</strong> auf <strong>Webshop: Eingangsbestätigung Bestellung</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> der Vorlage öffnet sich.</p>
</li>
<li>
<p>Ändere ggf. die Einstellungen. Beachte dazu die Erläuterungen in <a href="#tabelle-e-mail-vorlagen-einrichten">Tabelle 3</a>.</p>
</li>
<li>
<p>Wechsele ins Tab <strong>E-Mail-Nachricht » Tab: Inhalt » Tab: Reiner Text</strong>.<br>
→ Der Standardtext der Vorlage öffnet sich.</p>
</li>
<li>
<p>Ändere ggf. den Text.</p>
</li>
<li>
<p>Füge z.B. die Template-Variablen <strong>$CancellationRightsText</strong> und <strong>$GeneralTermsConditionText</strong> ein, damit in der versendeten E-Mail-Vorlage die Texte für die AGB und das Widerrufsrecht ausgegeben werden.<br>
→ <strong><em>Hinweis:</em></strong> Die Texte hast du vorab im System gespeichert wie in Kapitel <a href="/willkommen/schnelleinstieg/schnelleinstieg-basiseinstellungen#550">Rechtliche Angaben speichern</a> beschrieben.<br>
→ Die verfügbaren Template-Variablen öffnest du mit einem Klick auf <strong>Template-Variablen und -Funktionen</strong> (<span class="icon blue"><i class="fa fa-code  "></i></span>).</p>
</li>
<li>
<p>Weitere Informationen zu den Template-Variablen für rechtliche Angaben findest du in <a href="#tabelle-template-variablen-rechtliches">Tabelle 4</a> am Ende dieses Kapitels.</p>
</li>
<li>
<p>Ersetze die Musterkontaktdaten am Ende der Vorlage durch deine Kontaktdaten.<br>
→ Du kannst dafür die Template-Variable <strong>$SignatureText</strong> verwenden.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-e-mail-vorlagen-einrichten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. E-Mail-Vorlagen einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Kopfzeile</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert die E-Mail-Vorlage.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Variablen -und Funktionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Klick auf <span class="icon blue"><i class="fa fa-code  "></i></span> öffnet alle in plentymarkets verfügbaren Template-Variablen und Template-Funktionen, die du in deinen E-Mail-Vorlagen verwenden kannst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Einstellung <strong>Alle</strong> gewählt. Das bedeutet, dass alle Benutzer Zugriff auf diese Vorlage haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der E-Mail-Vorlage, die zur internen Unterscheidung verwendet wird. Dieser Name wird dem Empfänger nicht angezeigt. Du kannst diesen Namen anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inhalt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur reiner Text</strong> (Standardeinstellung) oder <strong>Nur HTML-formatierter Text</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle</strong> (Grundeinstellung) wählen, wenn die E-Mail-Vorlage für alle Bereiche verwendet werden soll, oder den Bereich in plentymarkets aus der Dropdown-Liste wählen, für den diese E-Mail-Vorlage ausschließlich zur Verfügung stehen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PDF-Anhang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Einstellung <strong>Kein PDF-Anhang</strong> gewählt.<br>
<strong><em>Hinweis:</em></strong> Wenn du später an eine deiner E-Mails z.B. die Rechnung als PDF-Datei anhängen willst, musst du die Rechnungsvorlage vorab einrichten. Außerdem muss eine Rechnung für den Auftrag existieren und am besten hast du eine Ereignisaktion für diese Ereignis eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumentenanhang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Einstellung <strong>Kein Dokumentenanhang</strong> gewählt.<br>
<strong><em>Hinweis:</em></strong> Wenn du einen Anhang wie z.B. einen Artikelprospekt versenden möchtest, musst du dieses Dokument im Menü <strong>CMS » Dokumente</strong> hochladen. In der Dropdown-Liste <strong>Dokumentenanhang</strong> werden nur Dateien angezeigt, die im Menü <strong>CMS » Dokumente</strong> hochgeladen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Antwort an</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse eingeben, an die die Antworten auf diese E-Mail-Vorlage gesendet werden sollen.<br>
<strong><em>Hinweis:</em></strong> Wenn keine E-Mail-Adresse eingegeben wird, werden Antworten auf diese E-Mail-Vorlage an die E-Mail-Adresse, die im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Zugangsdaten</strong> gespeichert ist, versendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Design verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option musst du nur aktivieren, wenn du ein HTML-Design mit der E-Mail-Vorlage verknüpfen möchtest. Weil wir im Schnelleinstieg reinen Text und keinen HTML-formatierten Text verwenden, ist diese Einstellung nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig sind alle Mandanten aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab: E-Mail-Nachricht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache wählen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist die Sprache <strong>de</strong> gewählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betreff</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ggf. den Standardtext des Betreffs anpassen. Den Betreff sorgfältig wählen, damit die E-Mail im Postfach des Kunden erkannt und nicht als Spam gefiltert wird.<br>
<strong><em>Hinweis:</em></strong> Du kannst in der Betreffzeile auch Template-Variablen einfügen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du die E-Mail-Vorlage <strong>Webshop: Eingangsbestätigung Bestellung</strong> nach deinen Erfordernissen angepasst und gespeichert hast, wird diese Vorlage auch automatisch an deine Kunden versendet, sobald sie in deinem Webshop bestellen, weil diese Vorlage im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Automatischer Versand</strong> bereits mit dem Ereignis <strong>Neue Bestellung über den Webshop</strong> verknüpft ist.</p>
</div>
<table id="tabelle-template-variablen-rechtliches" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Template-Variablen für die rechtlichen Angaben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Rechtliche Angabe</th>
<th class="tableblock halign-left valign-top">Template-Variable</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AGB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$GeneralTermsConditionsText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Widerrufsrecht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$CancellationRightsText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenschutzerklärung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$PrivacyPolicyText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Impressum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$LegalDisclosureText</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Widerrufsformular</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für reinen Text im Tab <strong>Text</strong>:<br>
<strong>$WithdrawalFormText</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">4.3. Template-Variablen und Template-Funktionen einfügen</h3>
<div class="paragraph">
<p>E-Mail-Vorlagen in plentymarkets bestehen immer aus Text sowie Template-Funktionen und Template-Variablen. In den E-Mails selbst ersetzt plentymarkets die Template-Variablen und -Funktionen durch den jeweiligen Inhalt. Die Template-Variable <strong>$CustomerFullName</strong> wird so z.B. durch den Kundennamen ersetzt, <strong>$CustomerEmail</strong> setzt die E-Mail-Adresse des Kunden ein, die Variable <strong>$OrderID</strong> setzt die Auftrags-ID ein.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Schreibweise der Template-Variablen beachten</div>
<div class="paragraph">
<p>Weil Template-Variablen und Template-Funktionen vorkonfigurierte Systembefehle auslösen, musst du die Schreibweise der Namen genau einhalten. Um Fehlfunktionen durch Schreibfehler zu vermeiden, kopierst du die Variablen und Funktionen und fügst sie an gewünschter Stelle in die E-Mail-Vorlage ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Template-Variablen und -Funktionen einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Öffne die E-Mail-Vorlage, in die du Template-Variablen einfügen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Template-Variablen und -Funktionen</strong> (<span class="icon blue"><i class="fa fa-code  "></i></span>).<br>
→ Das Fenster <strong>Template-Variablen und -Funktionen</strong> wird geöffnet.</p>
</li>
<li>
<p>Kopiere die Variable, die du in die E-Mail-Vorlage einfügen möchtest.<br>
→ Du kannst die Variable über Strg+f bzw. cmd+f suchen.</p>
</li>
<li>
<p>Füge die Variable in das Textfeld im Tab <strong>E-Mail-Nachricht » Tab: Inhalt » Tab: Reiner Text</strong> an der gewünschten Stelle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Template-Funktion <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong> einfügen</div>
<div class="paragraph">
<p>Alle E-Mails an deine Kunden sollten unbedingt die Template-Funktion <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong> enthalten. Diese Funktion gibt den Link zum Bereich <strong>Mein Konto</strong> deines Webshops aus. Mit einem Klick auf diesen Link können deine Kunden jederzeit ihre Daten aktualisieren, die Auftragshistorie einsehen, weitere Artikel zur Bestellung hinzufügen und den Status der Bestellung verfolgen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="800">4.4. Dateien an E-Mail-Vorlagen anhängen</h3>
<div class="paragraph">
<p>Du kannst 2 Arten von Dateien an deine E-Mail-Vorlagen anhängen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>einen PDF-Anhang<br></p>
</li>
<li>
<p>einen Dokumentenanhang</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Den Unterschied dieser beiden Anhänge beschreiben wir im Folgenden.</p>
</div>
<div class="paragraph">
<p>Die möglichen Typen eines PDF-Anhangs, z.B. Rechnung, sind in deinem plentymarkets System vorgegeben. Diese Dokumente richtest du im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente</strong> ein.</p>
</div>
<div class="paragraph">
<p>Ein Dokumentenanhang kann z.B. ein Artikelprospekt, eine Anleitung oder eine Fotodatei sein. Du lädst diese Dateien im Menü <strong>CMS » Dokumente</strong> hoch.</p>
</div>
<div class="sect3">
<h4 id="900">4.4.1. PDF-Anhang erstellen und anhängen</h4>
<div class="paragraph">
<p>Die Dokumente, die du als PDF-Anhang versenden kannst, werden automatisch von deinem plentymarkets System erzeugt. Ein Beispiel für ein solches Dokument ist die Rechnung.</p>
</div>
<div class="paragraph">
<p>Das Einrichten erfolgt in 3 Schritten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Dokumentenvorlage, z.B. eine Geschäftsbriefvorlage inklusive Logo, erstellen und auf deinem Rechner speichern</p>
</li>
<li>
<p>Dokumenteinstellungen anpassen (im Folgenden detaillierter beschrieben)</p>
</li>
<li>
<p>Dokument mit der E-Mail-Vorlage verknüpfen (im Folgenden detaillierter beschrieben)</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Dokumenteinstellung anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Standorte</strong> » <em>Standort wählen</em> » <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Wähle das Dokument, das du bearbeiten möchtest, z.B. <strong>Rechnung</strong>.<br>
→ Das Dokument <strong>Rechnung</strong> ist bereits voreingestellt. Passe die Rechnungsvorlage ggf. an.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Wähle ggf. eine <strong>Zahlungsart</strong>.<br>
→ Standardmäßig ist die Einstellung <strong>Standard</strong> gewählt.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage auswählen</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).</p>
</li>
<li>
<p>Öffne die zuvor erstellte PDF-Dokumentvorlage.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>), um eine Vorschau des Dokuments anzeigen zu lassen.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>), um das Dokument zu löschen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Dokument mit der E-Mail-Vorlage verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Öffne die E-Mail-Vorlage.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>PDF-Anhang</strong> die Datei, die du als Anhang versenden möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Dokument wird als Anhang mit versendet.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1000">4.4.2. Dokumentenanhang erstellen und anhängen</h4>
<div class="paragraph">
<p>Alle Dokumente, die du über eine E-Mail-Vorlage als Dokumentenanhang versenden möchtest, müssen vorher im System hochgeladen werden. Ein Beispiel für ein solches Dokument sind die AGB, weil dieses Dokument häufig als Anhang der Eingangsbestätigung einer Bestellung versendet wird – vorausgesetzt du hast die AGB nicht über die Template-Variable <strong>$GeneralTermsConditionsText</strong> direkt in der Vorlage eingefügt.</p>
</div>
<div class="paragraph">
<p>Das Einrichten erfolgt in 2 Schritten. Zunächst lädst du das Dokument im Menü <strong>CMS » Dokumente</strong> hoch. Dann verknüpfst du das Dokument mit einer E-Mail-Vorlage. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Dokument hochladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Dokumente</strong>.</p>
</li>
<li>
<p>Klicke im Tab <strong>Upload</strong> auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wähle die Datei, die du hochladen möchtest, und klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p>Wähle eine der Optionen unter <strong>Berechtigung</strong>.<br>
→ Mit der Berechtigung legst du fest, ob das Dokument nur für <strong>Mitarbeiter</strong>, nur für <strong>Kunden</strong> oder <strong>öffentlich</strong>, also für alle Besucher des Webshops, verfügbar sein soll.</p>
</li>
<li>
<p>Gib ggf. einen Namen für den Ordner ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Dokument mit einer E-Mail-Vorlage verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Öffne die E-Mail-Vorlage.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Dokumentenanhang</strong> die Datei, die du als Anhang versenden möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Datei wird als Anhang mit versendet.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">5. Domain bestellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Begriff "Domain" bezeichnet eine Internetadresse in Form eines Namens sowie einer Erweiterung, der Top-Level-Domain, z.B. <strong>.de</strong>. Du kannst den Namen frei wählen. Eine Domain ist einmalig und darf weltweit nicht doppelt vorkommen. Bei der Registrierung der Domain, zum Beispiel bei einem Hosting-Dienstleister, wird daher geprüft, ob deine gewünschte Domain noch nicht vergeben ist.</p>
</div>
<div class="paragraph">
<p>Willst du neue Domains oder Subdomains einrichten? Musst du ein neues SSL-Zertifikat bestellen? Soll der Cache vorübergehend deaktiviert werden? Solche Aufgaben werden normalerweise von einem <em>Systemadministrator</em> durchgeführt. Die Handbuchseite <a href="/business-entscheidungen/systemadministration/domains">Domains</a> dient als Referenz für Systemadministratoren und hilft ihnen, die Domains in plentymarkets mit Hilfe eines Assistenten zu verwalten.</p>
</div>
<div class="paragraph">
<p>Wenn du bereits eine Domain bei einem anderen Provider hast und den Provider wechseln möchtest, gehe wie auf der Handbuchseite <a href="/business-entscheidungen/systemadministration/system-umzug">Systemumzug</a> beschrieben vor.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">6. SSL-Zertifikat bestellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein SSL-Zertifikat dient dazu, deine Website zu verschlüsseln und gewährleistet eine sichere Verbindung zu deinem Webshop. Wenn du ein SSL-Zertifikat verwendest, ist deine Website über <em>https</em> erreichbar.</p>
</div>
<div class="paragraph">
<p>Wichtig ist, dass die Domain, für die du das SSL-Zertifikat bestellen möchtest, eine aktivierte Hauptdomain ist.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein kostenpflichtiges SSL-Zertifikat zu bestellen.</p>
</div>
<div class="paragraph instruction">
<p>SSL-Zertifikat bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>SSL</strong>.<br>
→ Das Zertifikat der Domain wird angezeigt.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Neues SSL bestellen für Domain:[Domain-Name]</strong> rechts auf den Pfeil nach unten.<br>
→ Die für die Domain buchbaren SSL-Zertifikate werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Zeile des SSL-Zertifikats, das du buchen möchtest, auf <strong>SSL bestellen</strong>.<br>
→ Das SSL-Zertifikat wird bestellt.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 2 Stunden dauern, bis das SSL-Zertifikat aktiviert ist.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">7. Checkliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Arbeite die Checkliste durch, um deine Einstellungen zum Thema Basiseinstellungen zu prüfen.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du den Assistenten <strong>Basics</strong> durchlaufen?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du den Assistenten <strong>E-Mail-Konten</strong> durchlaufen?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Template-Variable <strong>$SignatureText</strong> am Ende deiner E-Mail-Vorlagen hinzugefügt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du in allen E-Mail-Vorlagen die Musterdaten durch deinen eigenen Kontaktdaten ergänzt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Enthalten alle E-Mail-Vorlagen die Template-Funktion <strong>&#123;&#37;Link_Checkout()&#37;&#125;</strong>?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Domain für deinen Webshop bestellt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du ein SSL-Zertifikat gebucht?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du nach dem Testen den Testmodus deaktiviert, damit E-Mails ab sofort an deine Kunden und nicht mehr an dich selbst versendet werden?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">8. Mehr zum Thema Basiseinstellungen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/crm/e-mails-versenden#100">E-Mail-Server-Zugangsdaten speichern</a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#1200">E-Mail-Vorlage erstellen</a></p>
</li>
<li>
<p><a href="/webshop/ceres-einrichten#300">Rechtliche Angaben speichern</a></p>
</li>
<li>
<p><a href="/willkommen/schnelleinstieg/schnelleinstieg-automatisierung#10">Automatischer E-Mail-Versand</a></p>
</li>
<li>
<p><a href="/crm/newsletter-versenden">Newsletter</a></p>
</li>
<li>
<p><a href="/crm/ticketsystem-nutzen">Ticketsystem</a></p>
</li>
<li>
<p><a href="/business-entscheidungen/systemadministration/domains">Domains</a></p>
</li>
<li>
<p><a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen">SSL-Zertifikat</a></p>
</li>
<li>
<p><a href="/business-entscheidungen/dein-vertrag">Dein Vertrag mit plentymarkets</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/willkommen/schnelleinstieg/schnelleinstieg-warenwirtschaft">Lager und Lieferant einrichten</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>