<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_vcs_berichte_ansehen"><span>1.</span><span> VCS-Berichte ansehen</span></a></li>
<li><a href="#_einzelnen_vcs_auftrag_öffnen"><span>2.</span><span> Einzelnen VCS-Auftrag öffnen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>AmazonVCSDashboard</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Du verwendest VCS plentymarkets/VCS Lite? Dann kannst du mit dem Plugin <a href="https://marketplace.plentymarkets.com/amazonvcsdashboard_6279" target="_blank" rel="noopener"> AmazonVCSDashboard</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> deine VCS-Berichte für VCS plentymarkets/VCS Lite im plentymarkets Backend einsehen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Plugin AmazonVCSDashboard herunterladen</div>
<div class="paragraph">
<p>Um deine VCS-Berichte für VCS plentymarkets/VCS Lite im plentymarkets Backend ansehen zu können, benötigst du das Plugin <a href="https://marketplace.plentymarkets.com/amazonvcsdashboard_6279" target="_blank" rel="noopener"> AmazonVCSDashboard</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Dieses und viele andere Plugins kannst du im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das AmazonVCSDashboard-Plugin kann installiert werden, wenn du VCS plentymarkets nutzt. VCS ist ein Amazon-Rechnungsservice, der bei Amazon in der Seller Central und in plentymarkets aktiviert werden muss. Wenn du VCS nutzt, entscheidest du, ob deine Amazon-Rechnungen von Amazon erzeugt werden oder von plentymarkets erzeugt und automatisch zu Amazon übertragen werden. Mit dem Amazon VCS Dashboard-Plugin kannst du deine VCS-Berichte ansehen. Weitere Informationen zur Rechnungserzeugung für Amazon-Aufträge findest du auf der Handbuchseite <a href="/maerkte/amazon/amazon-einrichten#6800">Amazon einrichten</a>.</p>
</div>
<div class="paragraph">
<p>Wenn du das Plugin AmazonVCSDashboard installierst, wird im Menü <strong>Einrichtung » Märkte » Amazon</strong> der Menüpunkt <strong>VCS-Dashboard</strong> hinzugefügt. Dort erhältst du eine Übersicht über VCS-Berichte.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nur zur Verwendung mit VCS plentymarkets/VCS Lite</div>
<div class="paragraph">
<p>Installiere das Plugin AmazonVCSDashboard nur, wenn du:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>den Rechnungsservice Amazon VCS nutzt</p>
</li>
<li>
<p>Amazon-Rechnungen für VCS durch plentymarkets erzeugen lässt, d.h. im Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen » [Amazon-Konto wählen] » Tab: Einstellungen</strong> für die Einstellung <strong>Rechnung erzeugen</strong> die Option <strong>VCS plentymarkets</strong> aktiviert hast</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_vcs_berichte_ansehen">1. VCS-Berichte ansehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Übersicht über VCS-Berichte erhältst du im Menü <strong>Einrichtung » Märkte » Amazon » VCS-Dashboard</strong>.</p>
</div>
<div class="paragraph instruction">
<p>VCS-Berichte ansehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » VCS-Dashboard</strong>.<br>
→ Eine Übersicht der VCS-Berichte wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den gewünschten VCS-Bericht.<br>
→ Eine Übersicht der Aufträge, die in diesem Bericht enthalten sind, wird angezeigt.<br></p>
</li>
<li>
<p>Klicke auf <strong>Load differences</strong>, um die Aufträge in deinem plentymarkets System mit den Aufträgen im geöffneten VCS-Bericht zu vergleichen.<br></p>
</li>
<li>
<p>Klicke auf <strong>Correct all rejected orders</strong>, um den VCS-Prozess erneut anzustoßen. Dabei werden die Aufträge in deinem plentymarkets System mit den VCS-Aufträgen abgeglichen und Rechnungen werden für die Aufträge erzeugt und zu Amazon übertragen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_einzelnen_vcs_auftrag_öffnen">2. Einzelnen VCS-Auftrag öffnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Amazon » VCS-Dashboard</strong> findest du Details zu einzelnen VCS-Aufträgen. Öffne dazu zunächst einen VCS-Bericht.</p>
</div>
<div class="paragraph instruction">
<p>Einzelnen VCS-Auftrag öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » VCS-Dashboard</strong>.<br>
→ Eine Übersicht der VCS-Berichte wird angezeigt.</p>
</li>
<li>
<p>Öffne den gewünschten VCS-Bericht.<br>
→ Eine Übersicht der Aufträge, die in diesem VCS-Bericht enthalten sind, wird angezeigt.</p>
</li>
<li>
<p>Öffne den gewünschten Auftrag.<br>
→ Ein neues Fenster mit Details zu diesem Auftrag wird geöffnet.</p>
</li>
</ol>
</div>
</div>
</div>
</main>