<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 14. Oktober 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 15. Oktober 2020 bis zum 21. Oktober 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Kontakt » Konto</strong> wurde die Titelleiste um neue Summen erweitert. Es wird jetzt jeweils für Rechnungen und Gutschriften die Summe der ausstehenden und gezahlten Beträge angezeigt.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort können Kataloge auf SFTP und FTPS Servern exportiert werden.</p>
</li>
<li>
<p>Ab sofort könnt ihr euch die ersten 5 Datenzeilen des Exports in einer Vorschaufunktion ansehen.</p>
</li>
<li>
<p>Ab sofort gibt es einen Hover-Modus, wenn man mit der Maus über die Einstellungen fährt.</p>
</li>
<li>
<p>Ab sofort können benutzerdefinierte Formate als XML exportiert werden.</p>
</li>
<li>
<p>Ab sofort gibt es eine neue Seitennavigation in euren Katalogen.</p>
</li>
<li>
<p>Ab sofort ist das Menü für die Buttons beim Scrollen dauerhaft sichtbar.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Die Implementierung der neuen zDirect-Preis-Schnittstelle wurde abgeschlossen und entsprechende Anpassungen in der UI live genommen. Der Schritt <strong>Preise für X</strong> im Assistenten für die Zalando-Kontoeinstellungen unter <strong>Einrichtung » Assistenten » Omni-Channel</strong> wurde ergänzt. Dabei ist der zugehörige Cron noch ohne Funktion. Im Zuge der To-Dos können diese Einstellungen also aktiviert werden, ohne dass eine Übermittlung an Zalando erfolgt. Die endgültige Live-Schaltung erfolgt individuell durch uns.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Lies in Vorbereitung auf die Umstellung das Thema <a href="https://forum.plentymarkets.com/t/zalando-zdirect-umstellung-preis-schnittstelle-switch-price-interface/611627" target="_blank" rel="noopener">Zalando -zDirect - Umstellung Preis-Schnittstelle // Switch price interface</a> im Forum durch und setze die darin aufgelisteten To-Dos um. Der Zeitaufwand für die Umsetzung liegt bei etwa 15 Minuten. Da die Umstellung spätestens am 23.10.2020 abgeschlossen sein muss, solltest du diese To-Dos zeitnah abschließen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Wechseln von Menüs in der Plugin-Konfiguration werden die Einstellungen nicht mehr direkt auf den zuletzt gespeicherten Wert zurückgesetzt.</p>
</li>
<li>
<p>Die plentyShop-Vorschau hat nicht mehr unterschiedliche Funktionen, je nachdem von wo man sie aufruft. Es ist jetzt möglich, direkt in der Vorschau zwischen verschiedenen Ansichten zu wechseln. Dazu gehören beispielsweise das Wechseln des Plugin-Sets oder das Anzeigen von nicht verfügbaren Artikeln. Weitere Informationen findest du auf der Handbuchseite <a href="#webshop/plentyshop-vorschau">plentyShop-Vorschau</a>.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn unter <strong>Aufträge » Fulfillment » Rechnungen erzeugen</strong> im ausgewählten Status auch Aufträge enthalten sind, die keine Erzeugung einer Rechnung erlauben (z.B. Herkunft OTTO Market), dann wurde anstelle der OTTO Rechnung die zuletzt korrekt erzeugte Rechnung in das Sammel-PDF übernommen. Somit waren manche Rechnungen mehrfach enthalten. Das wurde behoben, das Sammel-PDF enthält nur noch die von plentymarkets generierte Rechnungen.</p>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Bilder, die nur für eine spezifische eBay Plattform freigeschaltet waren, konnten bisher nicht im Listing-Layout ausgegeben werden. Das Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_fulfillment" class="discrete">Fulfillment</h3>
<div class="ulist">
<ul>
<li>
<p>In der Ereignisaktion bei der Aktion <strong>Auftrag beim Versanddienstleister</strong> anmelden trat ein Fehler auf, der durch den Wechsel in den Status vollständiger Zahlungseingang ausgelöst wurde. Dadurch konnten die Aufträge nicht automatisch angemeldet werden. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>War der Name eines Datenfeldes zu lang, konnte dieses nicht hinzugefügt werden. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Wenn man einen bestehenden Katalog öffnete kam es vor, dass nicht hinterlegte Datenfelder in blau angezeigt wurden sind und man nur Ausweich-Datenfelder hinterlegen konnte. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_zahlungen" class="discrete">Zahlungen</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn in der neuen UI im Checkout eine Fremdwährung genutzt wird, wird der Betrag sowohl in der Fremdwährung als auch in der Systemwährung in der neuen Zahlungsverkehrs UI angezeigt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_kataloge_3" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort werden auch die Namen der gelöschten Kataloge angezeigt.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort könnt ihr einen Wert im Feld <strong>Quelle</strong> direkt eingeben oder diesen weiterhin im Dropdown auswählen.</p>
</li>
</ul>
</div>
<h3 id="_myview" class="discrete">MyView</h3>
<div class="ulist">
<ul>
<li>
<p>Für eine MyView könnt ihr ab sofort Benutzerrechte vergeben und verwalten. Das heißt, Admins können ihren Mitarbeitern über Rollen verschiedene Ansichten zuweisen. Nur Admins haben Zugriff auf den Bearbeitungsmodus der MyView und sind somit autorisiert, Ansichten zu erstellen oder zu löschen sowie neue Rollen anzulegen und Rechte zuzuweisen. Am Anfang ist immer die Standardansicht vorausgewählt. Existiert eine weitere Ansicht, kann die Standardansicht für eine Rolle deaktiviert und Rechte für eine andere Ansicht können zugewiesen werden. Beachte, dass immer mindestens eine Ansicht ausgewählt sein muss. Die Rechteverwaltung findest du im Menü unter <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Rollen » Rolle wählen » Tab: Ansichten</strong>. Dort werden alle rollendefinierten Ansichten angezeigt.</p>
</li>
<li>
<p>Nachdem die MyView schon länger die Möglichkeit bietet, Aktionen rückgängig zu machen, haben wir für euch jetzt auch das passende Gegenstück dazu! Mit Klick auf <strong>Wiederherstellen</strong> werden die zuvor rückgängig gemachten Änderungen ab sofort wiederhergestellt. Dies ist allerdings nur möglich, solange die Änderungen nicht gespeichert wurden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn die neue Auftragsanlage zum ersten Mal genutzt wurde, wurden die Standard-Tabellenheader nicht angezeigt. Dies wurde nun behoben.</p>
</li>
<li>
<p>Wenn die Versandkosten im letzten Schritt der neuen Auftragsanlage geändert wurden, wurden die Gesamtsummen nicht neu berechnet. Dies wurde nun behoben.</p>
</li>
<li>
<p>Wenn die Versandkosten im letzten Schritt der neuen Auftragsanlage manuell auf <code>0</code> gesetzt wurden, konnte der Auftrag nicht angelegt werden. Dies wurde behoben, diese Aufträge können nun angelegt werden.</p>
</li>
<li>
<p>Wurde bei der Auftragsanlage ein Coupon eingelöst, dann wurden unter Umständen die Auftragssummen nicht korrekt berechnet. Der Fehler ist nur in Beta aufgetreten.</p>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Importieren von Aufträgen wo kein Name der Auftragsposition (<code>Artikelname</code>) gesetzt wurde, konnte es zu einen Fehler kommen. Wenn an dem Artikel selbst ebenfalls kein Name hinterlegt wurde. Dies wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/santanderpaymentsolutions_6231" target="_blank" rel="noopener">Santander Payment Solutions</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>