<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelogs April 2020</h1><p>Willkommen im Themenbereich Changelogs April 2020. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/changelog/april-2020/2020-04-29">Changelog 29. April 2020</a></li><li><a href="/changelog/april-2020/2020-04-22">Changelog 22. April 2020</a></li><li><a href="/changelog/april-2020/2020-04-15">Changelog 15. April 2020</a></li><li><a href="/changelog/april-2020/2020-04-08">Changelog 08. April 2020</a></li><li><a href="/changelog/april-2020/2020-04-01">Changelog 01. April 2020</a></li></ul>
</main>