<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Archiv: 2020</h1><p>Willkommen im Themenbereich Archiv: 2020. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/changelog/archiv-2020/dezember-2020">Changelogs Dezember 2020</a></li><li><a href="/changelog/archiv-2020/november-2020">Changelogs November 2020</a></li><li><a href="/changelog/archiv-2020/oktober-2020">Changelogs Oktober 2020</a></li><li><a href="/changelog/archiv-2020/september-2020">Changelogs September 2020</a></li><li><a href="/changelog/archiv-2020/august-2020">Changelogs August 2020</a></li><li><a href="/changelog/archiv-2020/juli-2020">Changelogs Juli 2020</a></li><li><a href="/changelog/archiv-2020/juni-2020">Changelogs Juni 2020</a></li><li><a href="/changelog/archiv-2020/mai-2020">Changelogs Mai 2020</a></li><li><a href="/changelog/archiv-2020/april-2020">Changelogs April 2020</a></li><li><a href="/changelog/archiv-2020/maerz-2020">Changelogs März 2020</a></li><li><a href="/changelog/archiv-2020/februar-2020">Changelogs Februar 2020</a></li><li><a href="/changelog/archiv-2020/januar-2020">Changelogs Januar 2020</a></li></ul>
</main>