<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <!-- AUTO GENERATED --><ul><li><a href="/changelog/januar-2020/2020-01-29">Changelog 29. Januar 2020</a></li><li><a href="/changelog/changelog-2020-01-22">Changelog 22. Januar 2020</a></li></ul>
</main>