<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelogs Januar 2022</h1><p>Willkommen im Themenbereich Changelogs Januar 2022. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/changelog/januar-2022/2022-01-26">Changelog 26. Januar 2022</a></li><li><a href="/changelog/januar-2022/2022-01-19">Changelog 19. Januar 2022</a></li><li><a href="/changelog/januar-2022/2022-01-12">Changelog 12. Januar 2022</a></li><li><a href="/changelog/januar-2022/2022-01-05">Changelog 05. Januar 2022</a></li></ul>
</main>