<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelogs Mai 2020</h1><p>Willkommen im Themenbereich Changelogs Mai 2020. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/changelog/mai-2020/2020-05-27">Changelog 27. Mai 2020</a></li><li><a href="/changelog/mai-2020/2020-05-20">Changelog 20. Mai 2020</a></li><li><a href="/changelog/mai-2020/2020-05-13">Changelog 13. Mai 2020</a></li><li><a href="/changelog/mai-2020/2020-05-06">Changelog 06. Mai 2020</a></li></ul>
</main>