<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelogs November 2020</h1><p>Willkommen im Themenbereich Changelogs November 2020. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/changelog">plentymarkets Changelog</a></li><li><a href="/changelog/november-2020/2020-11-18">Changelog 18. November 2020</a></li><li><a href="/changelog/november-2020/2020-11-11">Changelog 11. November 2020</a></li><li><a href="/changelog/november-2020/2020-11-04">Changelog 04. November 2020</a></li></ul>
</main>