<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelogs November 2021</h1><p>Willkommen im Themenbereich Changelogs November 2021. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/changelog/november-2021/2021-11-17">plentymarkets Changelog</a></li><li><a href="/changelog/november-2021/2021-11-10">Changelog 10. November 2021</a></li><li><a href="/changelog/november-2021/2021-11-03">Changelog 03. November 2021</a></li></ul>
</main>