<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_1_info_pending_amounts_according_to_payment_methods"><span>1.</span><span> 1) Info: pending amounts according to payment methods</span></a></li>
<li><a href="#_2_details_about_the_statistic"><span>2.</span><span> 2) Details about the statistic</span></a></li>
<li><a href="#_3_settings"><span>3.</span><span> 3) Settings</span></a></li>
<li><a href="#_4_data_export"><span>4.</span><span> 4) Data export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Pending amounts</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistics</strong>→ Type of statistic:<strong><strong>*Processes /</strong><strong>Overview of pending amounts according to payment methods</strong></strong>*</p>
</div>
<div class="paragraph">
<p>**[IMPORTANT]
.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Topics or settings of this chapter:</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>1) <a href="/basics/statistics/general-statistics/processes/pending-amounts#1">Info: pending amounts according to payment methods </a></p>
</div>
<div class="paragraph">
<p>2) <a href="/basics/statistics/general-statistics/processes/pending-amounts#2">Details about the statistic </a></p>
</div>
<div class="paragraph">
<p>3) <a href="/basics/statistics/general-statistics/processes/pending-amounts#3">Settings </a></p>
</div>
<div class="paragraph">
<p>4) <a href="/basics/statistics/general-statistics/processes/pending-amounts#4">Data export </a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_1_info_pending_amounts_according_to_payment_methods">1. 1) Info: pending amounts according to payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Pending amounts are shown according to their <strong>payment method</strong> and <strong>dunning level (0 - 4)</strong>. You can precisely define which sales order statuses should be taken into account. Default setting of the <strong>status section</strong>: from <strong>status 1</strong> to <strong>status 7</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_2_details_about_the_statistic">2. 2) Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The total <strong>pending amount</strong> and <strong>dunning level</strong> will be displayed for each individual <strong>payment method</strong>. You can limit the information included in the statistic by selecting a specific <strong>status range</strong>. If no pending amounts are available for a particular payment method, then this payment method will not be displayed. The total pending amount that corresponds to each dunning level will be displayed as <strong>mouseover information</strong> for a particular payment method. Each dunning level is displayed in a different color (see image 1). In this statistic you can see, e.g. which <strong>payment methods</strong> currently have the largest <strong>pending amounts</strong> and the highest <strong>dunning levels</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title"><strong>Show details (mouseover)</strong></div>
<div class="paragraph">
<p>Point your <strong>cursor</strong> at one of the elements in the statistic in order to see <strong>details</strong> about that particular element.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>In image 1, you can see that the payment method <strong>Cash in advance</strong> has a pending amount of <strong>7,606.32 Euros</strong> for <strong>dunning level 0</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/processes/assets/EN-ENG-Statistik-OffeneZahlungen01-SI.png" alt="EN ENG Statistik OffeneZahlungen01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>pending amounts according to payment methods</strong> statistic</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_3_settings">3. 3) Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>settings</strong> described below are available for this statistic.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/processes/assets/EN-ENG-Statistik-OffeneZahlungen02-SI.png" alt="EN ENG Statistik OffeneZahlungen02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>pending amounts according to payment methods</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>Explanations of the options</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry/Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In this drop-down menu, you can choose how you want the statistics to be displayed.<br>
<strong>Stacked bar chart</strong> = Displays the values as bars. From <strong>left to right</strong>, you can see the pending amounts for dunning level <strong>0</strong> (blue), dunning level <strong>1</strong> (red), dunning level <strong>2</strong> (green), dunning level <strong>3</strong> (yellow) and dunning level <strong>4</strong> (light blue).<br>
<strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <strong>CSV file</strong>. The file contains the same parameters as are displayed with the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Raw data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The raw data export also generates a <strong>CSV file</strong>. However, the file contains a more detailed set of data. For example, instead of simply indicating the number of sales orders that were generated on a specific day, the CSV file includes relevant data fields for each individual sales order, such as the <strong>sales order ID</strong>, <strong>price</strong> etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the <strong>name</strong> of the statistic that was entered when the statistic was created. You can change the name here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>From status …​ To status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Make a selection in order to limit the range of <strong>statuses</strong> that are included in the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status options</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Depending on the type of statistic there are different options available to narrow down the <strong>status</strong>. There are <strong>standard values</strong> set by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Multishop</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>webshops</strong> or <strong>multishops</strong> that you would like to include into the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sales order referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can select one or more <strong>sales order referrers</strong>. You can also use the option <strong>All</strong> to select all of the available sales order referrers at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping profile</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Select</strong> which <strong>shipping profile</strong> should be included in the statistic or use the option <strong>All</strong> to include all of the shipping profiles.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Paid sales orders only</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select this option if you only want to include <strong>paid sales orders</strong> in the statistic.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>; <strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_4_data_export">4. 4) Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described in table 1, you can choose between a simple and a detailed export. An example of each is provided below.</p>
</div>
<div class="paragraph">
<p>Exporting the diagram data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>PaymentMethodName</strong> = Name of the payment method, <strong>QuantityOfOrders</strong> = Quantity of sales orders, <strong>Claim</strong> = Pending amount, <strong>DunningLevel</strong> = Dunning level, <strong>PaymentMethodID</strong> = Payment method ID</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/processes/assets/EN-ENG-Statistik-OffeneZahlungen03-SI.png" alt="EN ENG Statistik OffeneZahlungen03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>pending amounts according to payment methods</strong> statistic; simple export</em></p>
</div>
<div class="paragraph">
<p>Exporting the raw data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>Date</strong> = Date, <strong>OrderID</strong> = Sales order ID, <strong>Claim</strong> = Pending amount, <strong>PaymentMethodName</strong> = Name of the payment method, <strong>DunningLevel</strong> = Dunning level</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/processes/assets/EN-ENG-Statistik-OffeneZahlungen04-SI.png" alt="EN ENG Statistik OffeneZahlungen04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>pending amounts according to payment methods</strong> statistic; raw data export</em>**</p>
</div>
</div>
</div>
</main>