<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_1_info_sales_order_processing_times"><span>1.</span><span> 1) Info: sales order processing times</span></a></li>
<li><a href="#_2_details_about_the_statistic"><span>2.</span><span> 2) Details about the statistic</span></a></li>
<li><a href="#_3_settings"><span>3.</span><span> 3) Settings</span></a></li>
<li><a href="#_4_data_export"><span>4.</span><span> 4) Data export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Processing times</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistics</strong>→ Type of statistic:<strong><strong>*Processes /</strong><strong>Sales order processing times</strong></strong>*</p>
</div>
<div class="paragraph">
<p>**[IMPORTANT]
.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Topics or settings of this chapter:</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>1) <a href="/en/basics/statistics/general-statistics/processes/processing-times#1">Info: sales order processing times</a></p>
</div>
<div class="paragraph">
<p>2) <a href="/en/basics/statistics/general-statistics/processes/processing-times#2">Details about the statistic</a></p>
</div>
<div class="paragraph">
<p>3) <a href="/en/basics/statistics/general-statistics/processes/processing-times#3">Settings</a></p>
</div>
<div class="paragraph">
<p>4) <a href="/en/basics/statistics/general-statistics/processes/processing-times#4">Data export</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_1_info_sales_order_processing_times">1. 1) Info: sales order processing times</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This statistic shows different <strong>sales order processing times</strong> and the <strong>percentage</strong> of total time that was needed to process orders. The sales order process is timed to see how long it takes for each order to reach the status <strong>Paid</strong> and then how long it takes for the order to reach the status <strong>Shipped</strong>. This helps you to get a good idea of how efficiently you can process sales orders. The time spans reach from less than <strong>24 hours</strong> to more than <strong>120 hours</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_2_details_about_the_statistic">2. 2) Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You will see how long it typically took to <strong>process your sales orders</strong> during the particular <strong>time span</strong> that you selected. Furthermore, you will see whether the majority of the processing time was used in reaching the status <strong>paid</strong> or the status <strong>shipped</strong>. You will also see the <strong>percentage of total processing time</strong> that was needed. If no sales orders are available for the particular time period or status, then no column will be displayed. The <strong>percentage of total processing time</strong> that was needed for sales orders to be <strong>paid or shipped</strong> will be displayed as <strong>mouseover information</strong>. The statuses "paid" and "shipped" are in two different colors (see image 1). In this statistic you can see, e.g. how much time was typically needed to process sales orders and whether or not improvements need to be made.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title"><strong>Show details (mouseover)</strong></div>
<div class="paragraph">
<p>Point your <strong>cursor</strong> at one of the elements in the statistic in order to see <strong>details</strong> about that particular element.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>In image 1, you can see that <strong>67.27%</strong> of the total processing time was needed for sales orders in the <strong>more than 120 hours</strong> group to be <strong>shipped</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/processes/assets/EN-ENG-Statistik-Durchlaufzeiten01-SI.png" alt="EN ENG Statistik Durchlaufzeiten01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>sales order processing times</strong> statistic</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_3_settings">3. 3) Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>settings</strong> described below are available for this statistic.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/processes/assets/EN-ENG-Statistik-Durchlaufzeiten02-SI.png" alt="EN ENG Statistik Durchlaufzeiten02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>sales order processing times</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>Explanations of the options</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry/Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In this drop-down menu, you can choose how you want the statistics to be displayed.<br>
<strong>Stacked bar chart</strong> = Displays the values as bars. The percentage of total processing time needed for the sales order status to switch to <strong>paid</strong> (blue) is displayed on the left and the percentage of total processing time needed for the sales order status to then switch to <strong>paid and shipped</strong> (red) is shown on the right.<br>
<strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <strong>CSV file</strong>. The file contains the same parameters as are displayed with the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Raw data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The raw data export also generates a <strong>CSV file</strong>. However, the file contains a more detailed set of data. For example, instead of simply indicating the number of sales orders that were generated on a specific day, the CSV file includes relevant data fields for each individual sales order, such as the <strong>sales order ID</strong>, <strong>price</strong> etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the <strong>name</strong> of the statistic that was entered when the statistic was created. You can change the name here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Time span</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Each type of statistic has a default setting for <strong>time span</strong> that you can see in table 1 on the <a href="/en/basics/statistics"><strong>Statistics</strong></a> page of the manual. You can choose from a number of predefined time spans in a drop-down menu. In addition for some types of statistics you have the possibility to enter a time span by entering a <strong>start and end date</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change</strong> the <strong>time span</strong> if no or only very few data is shown and then click on the save icon to see the result. Choosing a <strong>larger time span</strong> will give you more information. If there is a lot of data, then a <strong>shorter time span</strong> may make more sense in order to be able to actually interpret the graphic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Starting date …​ Ending date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can enter a specific <strong>starting and ending date</strong> here instead of selecting a <strong>time span</strong> (optional).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status options</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Depending on the type of statistic there are different options available to narrow down the <strong>status</strong>. There are <strong>standard values</strong> set by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Exclude weekdays</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mark those <strong>days of the week</strong> that you want to exclude from the statistic. <strong>Saturday</strong> and <strong>Sunday</strong> are marked by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Multishop</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>webshops</strong> or <strong>multishops</strong> that you would like to include into the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sales order referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can select one or more <strong>sales order referrers</strong>. You can also use the option <strong>All</strong> to select all of the available sales order referrers at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Select</strong> which <strong>payment method</strong> should be included in the statistic or use the option <strong>All</strong> to include all of the payment methods.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping profile</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Select</strong> which <strong>shipping profile</strong> should be included in the statistic or use the option <strong>All</strong> to include all of the shipping profiles.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Partition</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can save the values that you want to use for the different <strong>time periods</strong>. Enter the highest value that you want to use for each time period. The lowest value will automatically be calculated by adding 1 to the highest value of the previous time period. You can save additional time periods by clicking on the <strong>plus icon</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>;</em><em><strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_4_data_export">4. 4) Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described in table 1, you can choose between a simple and a detailed export. An example of each is provided below.</p>
</div>
<div class="paragraph">
<p>Exporting the diagram data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>Division</strong> = Division number, <strong>DivisionDefinition</strong> = Division range, <strong>QuantityOfOrders</strong> = Quantity of sales orders, <strong>ToPaidPercentage</strong> = Percentage of total processing time needed for orders to be paid, <strong>ToPaidHoursAverage</strong> = Average number of hours needed for the sales order status to reach Paid, <strong>ToShippedPercentage</strong> = Percentage of total processing time needed for orders to be shipped, <strong>ToShippedHoursAverage</strong> = Average number of hours needed for the sales order status to reach Shipped, <strong>Percentage</strong> = Percentage of both sales order statuses</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/processes/assets/EN-Statistik-Durchlaufzeiten-03-SI.png" alt="EN Statistik Durchlaufzeiten 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>sales order processing times</strong> statistic; simple export</em></p>
</div>
<div class="paragraph">
<p>Exporting the raw data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>OrderID</strong> = Sales order ID, <strong>Timestamp</strong> = Timestamp, <strong>TimestampPaid</strong> = Timestamp when the status changed to Paid, <strong>TimestampShipping</strong> = Timestamp when the status changed to Shipped</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/processes/assets/EN-Statistik-Durchlaufzeiten-04-SI.png" alt="EN Statistik Durchlaufzeiten 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>sales order processing times</strong> statistic; raw data export</em>**</p>
</div>
</div>
</div>
</main>