<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei DaWanda registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> DaWanda in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> SKU für eine Herkunft festlegen</span></a></li>
<li><a href="#400"><span>6.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#500"><span>7.</span><span> Merkmale erstellen</span></a></li>
<li><a href="#600"><span>8.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#700"><span>9.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#800"><span>10.</span><span> Zahlungsbestätigungen automatisch senden</span></a></li>
<li><a href="#900"><span>11.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#1000"><span>12.</span><span> Aufträge automatisch in den Status "Abgeschlossen" setzen</span></a></li>
<li><a href="#1100"><span>13.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>DaWanda</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http://de.dawanda.com" target="_blank" rel="noopener">DaWanda</a></strong> ist ein Online-Marktplatz für Unikate, handgemachte, individualisierte und maßgeschneiderte Produkte und Kleinserien. Massenprodukte oder Importware dürfen auf DaWanda nicht verkauft werden. In den Spezialkategorien Material und Vintage können auch industriell hergestellte Produkte angeboten werden. Diese Produkte müssen den <strong><a href="http://de.dawanda.com/cms/c/de/Verkauferportal/42-Richtlinien/p430-DaWanda-Richtlinien#allowed_products" target="_blank" rel="noopener">Produktrichtlinien</a></strong> von DaWanda entsprechen. Momentan unterstützt plentymarkets nur die deutsche Sprache für DaWanda.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei DaWanda registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor Sie DaWanda in plentymarkets einrichten, müssen Sie sich auf <strong><a href="https://de.dawanda.com/account/register" target="_blank" rel="noopener">DaWanda</a></strong> registrieren und Ihr Sortiment zur Produktprüfung verlinken. Wenn Sie bereits bei DaWanda verkaufen, beantragen Sie Ihren API-Schlüssel, indem Sie DaWanda auf: <a href="mailto:feedback@dawanda.com">feedback@dawanda.com</a> kontaktieren. Bitte nutzen Sie dabei direkt die E-Mail-Adresse, die Sie bei DaWanda hinterlegt haben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. DaWanda in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Artikel auf DaWanda anzubieten, richten Sie DaWanda in plentymarkets ein. Gehen Sie dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>DaWanda in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Märkte » DaWanda » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Grundeinstellungen des Marktplatzes DaWanda</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatischen Datenaustausch aktivieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ist der Datenaustausch aktiviert, findet ein täglicher Artikelexport, ein stündlicher Bestandsabgleich und ein stündlicher Auftragsimport statt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>API-Schlüssel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>API- Schlüssel eingeben, wie von DaWanda erhalten. <br>
Nach dem Speichern wird der API-Schlüssel geprüft. Nach erfolgreicher Prüfung werden die Felder für die Optionen <strong>Shop-ID</strong> und <strong>Shop-Name</strong> automatisch ausgefüllt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shop-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID des DaWanda-Shops; wird nach erfolgreicher Prüfung des API-Schlüssels automatisch ausgefüllt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shop-Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name des DaWanda-Shops; wird nach erfolgreicher Prüfung des API-Schlüssels automatisch ausgefüllt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Dieser Artikelname wird an DaWanda übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelkurzbeschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorschautext</strong>, <strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Diese Artikelkurzbeschreibung wird an DaWanda übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelbeschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikeltext</strong> aus dem Tab <strong>Texte</strong> des Artikels wählen oder eine der Beschreibungen aus dem Tab <strong>Felder</strong> des Artikels wählen. Diese Artikelbeschreibung wird an DaWanda übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nur bestätigte Aufträge importieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ist diese Einstellung aktiviert, werden nur noch Aufträge importiert, die im DaWanda-Backend bestätigt wurden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Varianten werden als einzelne Artikel an DaWanda übertragen</div>
<div class="paragraph">
<p>Bei DaWanda können keine Varianten eingestellt werden. Für jede Variante wird daher bei DaWanda ein einzelner Artikel erstellt. Farbe und Größe werden dabei automatisch an den Titel angehängt.<br>
Tipp: Artikelnamen dürfen bei DaWanda höchstens 50 Zeichen lang sein. Längere Artikelnamen werden abgeschnitten. Wenn Ihre Artikelnamen mit Angabe von Farbe und Größe zu lang werden, nutzen Sie <strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> im Tab <strong>Texte</strong> des Artikels und übertragen Sie diese Artikelnamen an DaWanda.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>täglicher Artikelexport</p>
</li>
<li>
<p>stündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Auftragsimport</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikelbild</div>
<div class="paragraph">
<p>Zu DaWanda können maximal 4 Artikelbilder hochgeladen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Sie Artikel, Merkmale etc. mit DaWanda verknüpfen können, muss im Menü <strong>Einstellungen » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft DaWanda aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für DaWanda aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setzen Sie bei <strong>DaWanda</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die Sie auf DaWanda verkaufen möchten, müssen im Menü <a href="/artikel/artikel-verwalten#170"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für DaWanda einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>DaWanda</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Option Web-API.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Artikel ist auf DaWanda verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> individuell angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. SKU für eine Herkunft festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <a href="/artikel/artikel-verwalten#170"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> fügen Sie marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie die Herkunft <strong>DaWanda</strong>.</p>
</li>
<li>
<p>Geben Sie die SKU ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verknüpfen Sie Ihre Webshop-Kategorien mit den Kategorien von DaWanda, damit Ihre Artikel in diesen DaWanda-Kategorien angezeigt werden. Weitere Artikel der verknüpften Kategorien werden dann automatisch zugewiesen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Märkte » DaWanda » Kategorieverknüpfung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>. <br>
→ Das Fenster <strong>Kategorie wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie die DaWanda-Kategorie, die am besten zu Ihrer Webshop-Kategorie passt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Übernehmen</strong>.<br>
→ Die ID der DaWanda-Kategorie und der Kategoriepfad werden angezeigt.</p>
</li>
<li>
<p>Wenn Sie die ID der DaWanda-Kategorie bereits kennen, geben Sie die ID in das Feld <strong>Marktplatzkategorie</strong> ein, um sie mit Ihrer Webshop-Kategorie zu verknüpfen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Merkmale erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutzen Sie <a href="/artikel/artikel-verwalten#480"><strong>Merkmale</strong></a>, um Eigenschaften, die Sie für die Einrichtung des Marktplatzes DaWanda benötigen, mit Ihren Artikeln zu verknüpfen. Sie verknüpfen damit bei Bedarf Kategorien direkt am Artikel. Über Merkmalfilter übermitteln Sie außerdem Artikelinformationen an DaWanda und legen Filter für die Artikelsuche auf DaWanda fest.</p>
</div>
<div class="paragraph">
<p>Erstellen Sie die Merkmale zunächst und verknüpfen Sie diese dann mit den Artikeln. Gehen Sie dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Geben Sie unter <strong>Backendname</strong> einen Namen für das Merkmal ein.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Merkmaltyp</strong>.</p>
</li>
<li>
<p>Wählen Sie ein <strong>DaWanda-Merkmal</strong> aus dem Dropdown-Menü gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. DaWanda-Merkmale</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Merkmal</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Art des Produktes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen <strong>Physisches Produkt</strong>, <strong>Digitaler Inhalt</strong> oder <strong>Dienstleistung</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AutoRenewEnabled</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Automatische Angebotsverlängerung aktivieren oder deaktivieren. <br>
<strong>true</strong> oder <strong>ja</strong> eingeben = Angebot wird nach Ende der Laufzeit automatisch verlängert. <br>
<strong>false</strong> oder <strong>nein</strong> eingeben = Angebot wird nach Ende der Laufzeit nicht verlängert. <br>
<strong>Hinweis:</strong> Bei Artikeln, bei denen das Merkmal <strong>AutoRenewEnabled</strong> nicht eingestellt wurde, wird automatisch <strong>false</strong> übertragen. Das Angebot wird nicht automatisch verlängert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eigene Kategorie-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bei DaWanda können eigene Shop-Kategorien erstellt werden, die über Merkmale mit den Artikeln in plentymarkets verknüpft werden. Hier wird die ID der eigenen Dawanda-Shop-Kategorie eintragen. Die IDs der DaWanda-Shop-Kategorien werden direkt bei DaWanda als Datei heruntergeladen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Farbe1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hauptfarbe 1 des Artikels. Wird auch für die Artikelsuche bei DaWanda verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Farbe2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hauptfarbe 2 des Artikels. Wird auch für die Artikelsuche bei DaWanda verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Größe/Maße/Gewicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Detaillierte Angaben zu Größe, Maße oder Gewicht des Artikels eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Herstellungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Informationen zur Herstellungsart eingeben, z.B. handgefertigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Individualisierungsoptionen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beschreibung der Individualisierungsmöglichkeiten für den Artikel eingeben. Beispiele hierfür sind vom gezeigten Artikel abweichende Muster, Größen oder Farben. Zusätzlich eingeben, wie Kunden Individualisierungswünsche übermitteln und ob sich der Preis durch die Individualisierung ändert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kategorie-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kategorie-ID eingeben, die von den im Menü <strong>Einstellungen » Märkte » DaWanda » Kategorieverknüpfung</strong> verknüpften Kategorien abweicht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stichworte</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zusätzliche Informationen eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandprofil</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versandprofil wählen. Dabei muss <strong>Kein</strong> bei der Option <strong>Merkmaltyp</strong> eingestellt sein. Nur sichtbar, wenn bei DaWanda bereits Versandprofile eingegeben wurden. Aufgrund der Cache-Funktion wird das Merkmal erst ca. 1 Stunde, nachdem es erstellt wurde, am Artikel angezeigt.<br>
<strong>Wichtig:</strong> Das Merkmal <strong>Versandprofil</strong> ist bei DaWanda Pflicht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verwendete Materialien</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Alle für den Artikel verwendeten Materialien und ggf. Pflegehinweise eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wesentliche Merkmale</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong><a href="http://de.dawanda.com/cms/c/de/Verkauferportal/22-News/78-Verkaufernewsletter/p2337-News-fur-Verkaufer-Gesetzesanderung-seit-dem-1-August-2012" target="_blank" rel="noopener">Wesentliche Merkmale</a></strong> des Artikels gemäß dem Gesetz gegen Internetkostenfallen (sogenannte Button-Lösung) eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Widerrufsbelehrung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Widerrufsbelehrung wählen. Nur sichtbar, wenn bei DaWanda bereits Widerrufsbelehrungen eingegeben wurden. Aufgrund der Cache-Funktion wird das Merkmal erst ca. 1 Stunde, nachdem es erstellt wurde, am Artikel angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zweite Kategorie-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zweite Kategorie-ID eingeben, die von den im Menü <strong>Einstellungen » Märkte » DaWanda » Kategorieverknüpfung</strong> verknüpften Kategorien abweicht.<br>
<strong>Hinweis:</strong> Für das Einstellen von Artikeln in einer zweiten Kategorie erhebt DaWanda eine zusätzliche Gebühr.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">8. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um für die Auftragsherkunft DaWanda einen Verkaufspreis festzulegen. Dieser Preis wird auf DaWanda angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für DaWanda festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Herkunft <strong>DaWanda</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktivieren Sie die <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten">Zahlungsart</a></strong><strong>DaWanda Gutschein</strong>, um Kunden die Möglichkeit zu geben, auch mit DaWanda-Gutscheinen zu bezahlen. Aktivieren Sie anschließend die Zahlungsart <strong>DaWanda Payment</strong> analog.</p>
</div>
<div class="paragraph instruction">
<p>DaWanda-Zahlungsarten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den Ordner <strong>International</strong> &gt; <strong>DaWanda</strong>.</p>
</li>
<li>
<p>Wählen Sie die DaWanda-Zahlungsart <strong>DaWanda Gutschein</strong>.<br>
→ Die Einstellungen für die DaWanda-Zahlungsart werden angezeigt.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit ist es möglich, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite (Extern)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferländer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kein Lieferland wählen.<br>
Sie können die Zahlungsart nicht in Ihrem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig konfiguriert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logoansicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo hochladen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priorität</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kosten: Pauschal oder Prozentual</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen finden Sie auf den Handbuchseiten <strong><a href="/basics/statistik">Statistik</a></strong> und <strong><a href="/basics/statistik/allgemeine-statistiken/artikel/renner-und-penner">Renner und Penner</a></strong>. Ein Beispiel für pauschale und prozentuale Kosten finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#20">Grundeinstellungen</a></strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einstellungen » Kunden » Kundenklassen</strong> aktivieren oder deaktivieren Sie <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen finden Sie im Kapitel <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#30">Zahlungsarten und Kundenklassen</a></strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten">Zahlungsarten</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Zahlungsbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um Zahlungsbestätigungen automatisch an DaWanda zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Ereignisaktionen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Zahlungsbestätigungen an DaWanda</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlung: Vollständig</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DaWanda.com</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsarten &gt; Zahlungsbestätigung an DaWanda senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">11. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um Versandbestätigungen automatisch an DaWanda zu senden, nachdem ein Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Ereignisaktionen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 5.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 5 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Versandbestätigungen an DaWanda</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung: Warenausgang gebucht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DaWanda.com</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versand &gt; Versandbestätigung an DaWanda senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">12. Aufträge automatisch in den Status "Abgeschlossen" setzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um Aufträge automatisch in den DaWanda-Status "Abgeschlossen" zu setzen. Da dieser Status bei DaWanda nicht genau definiert ist, bestimmen Sie selbst, wann Sie Aufträge in den Status "Abgeschlossen" setzen. Sowohl Sie als auch Ihre Kunden können Aufträge in diesen Status setzen. Sie können den Auftrag z.B. zu dem Zeitpunkt in den Status "Abgeschlossen" setzen, zu dem Sie die Versandbestätigung an DaWanda senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Ereignisaktionen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 6.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 6 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 6. Ereignisaktion zum automatischen Setzen in den Status "Auftrag abgeschlossen" bei DaWanda</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung: Warenausgang gebucht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DaWanda.com</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versand &gt; Versandbestätigung an DaWanda senden</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; "Auftrag abgeschlossen" an DaWanda senden</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">13. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong><a href="/basics/datenaustausch/api-log">Datenaustausch » API-Log</a></strong> finden Sie eine Historie über Vorgänge, die über die DaWanda-Schnittstelle ausgeführt wurden.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Datenaustausch » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wählen Sie das Format <strong>DaWanda.de</strong> aus dem Dropdown-Menü <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wählen Sie ggf. ein <strong>Datum</strong>, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>, um die Suche auszuführen.<br>
→ Die Vorgänge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>