<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Flubit registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Flubit in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#370"><span>6.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#400"><span>7.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#500"><span>8.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#600"><span>9.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#700"><span>10.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Flubit</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="https://www.flubit.com/About" target="_blank" rel="noopener">Flubit</a></strong> ist ein auf das Vereinigte Königreich beschränkter Online-Marktplatz, der keine Provision vom Händler verlangt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Flubit registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Registrieren Sie sich zunächst als Verkäufer bei <strong><a href="https://www.weflubit.com/start-selling" target="_blank" rel="noopener">WeFlubit</a></strong>, der zentralen Flubit-Anlaufstelle für Verkäufer.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Flubit in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Artikel auf Flubit anzubieten, richten Sie Flubit in plentymarkets ein. Sie benötigen die Zugangsdaten bestehend aus API-Schlüssel und Sicherheits-Token. Diese Daten erhalten Sie von Flubit.</p>
</div>
<div class="paragraph instruction">
<p>Flubit in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Märkte » Flubit</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Grundeinstellungen des Marktplatzes Flubit</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatischen Datenaustausch aktivieren</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ist der Datenaustausch aktiviert, findet ein täglicher Artikelexport (nachts), ein stündlicher Bestandsabgleich und ein stündlicher Auftragsimport statt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>API-Schlüssel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>API-Schlüssel (Key) eintragen, wie von Flubit erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sicherheits-Token</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sicherheits-Token (Secret) eintragen, wie von Flubit erhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Umgebung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Live</strong> oder <strong>Sandbox</strong> wählen.<br>
Ist die Option <strong>Live</strong> gewählt, werden die Artikel live gelistet. Die Option <strong>Sandbox</strong> ist ein Testmodus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Dieser Artikelname wird an Flubit übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelbeschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standardbeschreibung</strong>, <strong>Kurzbeschreibung</strong> oder <strong>Technische Daten</strong> wählen. <br>
Diese Artikelbeschreibung wird an Flubit übertragen. Die Artikelbeschreibung muss auf <strong><a href="/omni-channel/online-shop/webshop-einrichten/mehrsprachiger-webshop">Englisch</a></strong> eingetragen sein, andernfalls wir der Artikel nicht exportiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerauswahl</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bestandsmenge für den stündlichen Bestandsabgleich und täglichen Artikelexport wählen. Eine der folgenden Optionen wählen:<br>
<strong>Bestandsmenge des Vertriebslagers mit größtem Bestand</strong><br>
<strong>Bestandsmenge des Artikel-Hauptlagers</strong><br>
<strong>Bestandsmenge aller Vertriebslager</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>täglicher Artikelexport</p>
</li>
<li>
<p>stündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Auftragsimport</p>
</li>
<li>
<p>automatisches Erstellen eines neuen Kunden beim Auftragsimport, wenn der Kunde noch nicht in der Datenbank vorhanden ist</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sprache</div>
<div class="paragraph">
<p>Attribute müssen auf Englisch hinterlegt sein, damit Artikel zu Flubit exportiert werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Sie Artikel, Merkmale etc. mit Flubit verknüpfen können, muss im Menü <strong>System » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Flubit aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Flubit aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setzen Sie bei <strong>Flubit</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die Sie auf Flubit verkaufen möchten, müssen im Menü <a href="/artikel/artikel-verwalten#170"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Flubit einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>Flubit</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Option Web-API.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Artikel ist auf Flubit verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> individuell angepasst werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Pflichtangaben für den Artikelexport</div>
<div class="paragraph">
<p>Für einen funktionierenden Artikelexport zu Flubit müssen die folgenden Kriterien erfüllt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelpreis ist größer als Null</p>
</li>
<li>
<p>Artikel hat positiven Bestand</p>
</li>
<li>
<p>Artikelbeschreibung ist auf <strong><a href="/omni-channel/online-shop/webshop-einrichten/mehrsprachiger-webshop">Englisch</a></strong> eingegeben</p>
</li>
<li>
<p>Artikel ist sichtbar</p>
</li>
<li>
<p>Artikelbild ist vorhanden</p>
</li>
<li>
<p>Artikelnummer wird übertragen<br>
→ Wird als Artikelnummer die MPN übertragen, muss zusätzlich die Marke oder der Hersteller angegeben werden.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Fehlen diese Angaben, werden die Artikel nicht exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um für die Auftragsherkunft Flubit einen Verkaufspreis festzulegen. Dieser Preis wird auf Flubit angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Flubit festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Herkunft <strong>Flubit</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="370">6. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktivieren Sie die <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten">Zahlungsart</a></strong><strong>Flubit</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart Flubit aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den Ordner <strong>International &gt; Flubit</strong>. <br>
→ Die Einstellungen für die Flubit-Zahlungsart werden angezeigt.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit ist es möglich, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite (Extern)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferländer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kein Lieferland wählen.<br>
Sie können die Zahlungsart nicht in Ihrem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig konfiguriert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logoansicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo hochladen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priorität</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kosten: Pauschal oder Prozentual</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. Wichtig: Nicht in beide Felder einen Wert eingeben. <br>
Weitere Informationen finden Sie auf den Handbuchseiten <strong><a href="/basics/statistik">Statistik</a></strong> und <strong><a href="/basics/statistik/allgemeine-statistiken/artikel/renner-und-penner">Renner und Penner</a></strong>. Ein Beispiel für pauschale und prozentuale Kosten finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#20">Grundeinstellungen</a></strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>System » CRM » Kundenklassen</strong> aktivieren oder deaktivieren Sie <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen finden Sie im Kapitel <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#30">Zahlungsarten und Kundenklassen</a></strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten">Zahlungsarten</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">7. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um Versandbestätigungen automatisch an Flubit zu senden, nachdem ein Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Versandbestätigungen an Flubit</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung: Warenausgang gebucht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Flubit</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Versandbestätigung an Flubit senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">8. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um Flubit automatisch über Stornierungen zu informieren. Bei Stornierungen muss ein Grund für die Stornierung an Flubit übertragen werden. Erstellen Sie im Menü <strong><a href="/auftragsabwicklung/auftraege/auftraege-verwalten">System » Aufträge » Auftragsstatus</a></strong> ggf. zusätzliche Auftragsstatus. Folgende Stornierungsgründe können an Flubit übertragen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel nicht vorrätig</p>
</li>
<li>
<p>Artikel nicht mehr im Sortiment</p>
</li>
<li>
<p>Ungültige Lieferadresse</p>
</li>
<li>
<p>Stornierung durch Kunden</p>
</li>
<li>
<p>Gesetzliche Beschränkung</p>
</li>
<li>
<p>Sonstiges</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Flubit</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Statuswechsel: [8.1] Storniert durch Kunden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Flubit</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Stornierung an Flubit senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stornierung durch Kunden</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">9. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um Flubit automatisch über Retouren zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 5.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 5 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Retouren an Flubit</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsanlage: Neue Retoure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retoure</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Flubit</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Retoure an Flubit senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">10. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong><a href="/basics/datenaustausch/api-log">Daten » API-Log</a></strong> im Tab <strong>Flubit</strong> finden Sie eine Historie über Vorgänge, die über die Flubit-Schnittstelle ausgeführt wurden. Folgende Formate stehen Ihnen für Flubit zur Auswahl:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>FlubitOrderImport</strong> (Auftragsimport)</p>
</li>
<li>
<p><strong>FlubitOrderCancel</strong> (Stornierungen)</p>
</li>
<li>
<p><strong>FlubitOrderDispatch</strong> (Versandbestätigung, Rückerstattung)</p>
</li>
<li>
<p><strong>FlubitProductsFeed</strong> (Datenexport)</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Daten » API-Log</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Format aus dem Dropdown-Menü <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wählen Sie ggf. ein <strong>Datum</strong>, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>, um die Suche auszuführen.<br>
→ Die Vorgänge werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie in der Spalte <strong>Vorgang</strong> auf den Ordner. <br>
→ Das Tab <strong>Flubit</strong> wird geöffnet und Fehlermeldungen des Vorgangs werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>