<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei idealo registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> idealo in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#400"><span>5.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>6.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#550"><span>7.</span><span> Spedition als Versandart einrichten</span></a></li>
<li><a href="#600"><span>8.</span><span> Artikelexport einrichten</span></a></li>
<li><a href="#650"><span>9.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#700"><span>10.</span><span> Auftragsbestätigungen automatisch senden</span></a></li>
<li><a href="#800"><span>11.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#850"><span>12.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#900"><span>13.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#1000"><span>14.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>idealo Direktkauf</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite finden Sie Informationen zur Einrichtung des Marktplatzes idealo Direktkauf in plentymarkets. Sie erfahren, wie Sie die Schnittstelle einrichten, Ihre Artikel zu idealo exportieren und Verkaufspreise festlegen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei idealo registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor Sie idealo in plentymarkets einrichten, müssen Sie sich bei <a href="http://www.Idealo.de/" target="_blank" rel="noopener"><strong>idealo</strong></a> registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. idealo in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nehmen Sie die folgenden Einstellungen in plentymarkets vor, um die Schnittstelle zu idealo einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>idealo einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Märkte » idealo » Einstellungen</strong>.</p>
</li>
<li>
<p>Aktivieren Sie den automatischen Datenaustausch.</p>
</li>
<li>
<p>Geben Sie den API-Schlüssel ein, wie von idealo erhalten.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Auftragsabgleich</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Sie Artikel, Merkmale etc. mit idealo Direktkauf verknüpfen können, muss im Menü <strong>System » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft idealo Direktkauf aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für idealo Direktkauf aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setzen Sie bei <strong>idealo Direktkauf</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die Sie auf mit idealo Direktkauf verkaufen möchten, müssen über das Merkmal <strong>CheckoutApproved</strong> freigeschalten und im Menü <a href="/artikel/artikel-verwalten"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> aktiviert werden. Legen Sie zunächst das Merkmal an und verknüpfen Sie es mit dem Artikel.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal CheckoutApproved anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <a href="/artikel/artikel-verwalten#480"><strong>System » Artikel » Merkmale » Tab: Neues Merkmal</strong></a>.</p>
</li>
<li>
<p>Geben Sie den <strong>Namen (Intern)</strong> ein.</p>
</li>
<li>
<p>Wählen Sie als Merkmaltyp <strong>Kein</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wählen Sie bei <strong>idealoDK-Merkmal</strong> das Merkmal <strong>CheckoutApproved</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Merkmale</strong> verknüpfen Sie anschließend das Merkmal mit dem Artikel. Stellen Sie als nächstes die Artikelverfügbarkeit ein, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für idealo einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>idealo</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> individuell angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um für die Auftragsherkunft idealo einen Verkaufspreis festzulegen. Dieser Preis wird auf idealo angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für idealo festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Herkunft <strong>idealo</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <a href="/artikel/artikel-verwalten#170"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> fügen Sie, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie die Herkunft <strong>idealo</strong>.</p>
</li>
<li>
<p>Geben Sie die SKU ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="550">7. Spedition als Versandart einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Handelt es sich bei der Versandart um eine Spedition, wird beim Verkauf des Artikels die Telefonnummer des Käufers zur Abstimmung eines Liefertermins mit dem beauftragten Speditionsunternehmen erfragt. In plentymarkets wird die Versandart Spedition als Merkmal zu idealo Dirketkauf übergeben. Gehen Sie wie im Folgenden beschrieben vor, um das Merkmal <strong>FulfillmentType</strong> anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal für Versandart Spedition einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <a href="/artikel/artikel-verwalten#480"><strong>System » Artikel » Merkmale » Tab: Neues Merkmal</strong></a>.</p>
</li>
<li>
<p>Geben Sie den <strong>Namen (Intern)</strong> ein.</p>
</li>
<li>
<p>Wählen Sie als Merkmaltyp <strong>Text</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wählen Sie bei <strong>idealoDK-Merkmal</strong> das Merkmal <strong>FulfillmentType</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Merkmale</strong> verknüpfen Sie anschließend das Merkmal mit dem Artikel. Richten Sie anschließend den Artikelexport ein, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph">
<p>Für Artikel mit der Versandart Spedition kann die zusätzliche Dienstleistung <strong>Zwei-Mann-Lieferung bis zum Aufstellort</strong> und <strong>Altgerätsabholung</strong> als Merkmal an idealo Direktkauf übergeben werden. Die Altgeräteabholung kann nur in Kombination mit der Zwei-Mann-Lieferung übergeben werden. Das heißt, Sie müssen sowohl das Merkmal <strong>Zwei-Mann-Lieferung</strong> als auch das Merkmal <strong>Altgerätabholung</strong> anlegen und beide mit dem Artikel verknüpfen. Wählen Sie in beiden Fällen als Markmaltyp <strong>Text</strong>. Geben Sie den Aufpreis am Artikel für die zusätzliche Dienstleistung mit zwei Dezimalstellen und mit Punkt als Dezimaltrenner (19.99) im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Merkmale</strong> ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Artikelexport einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Artikelexport für idealo erfolgt über den elastischen Export mit dem Datenformat IdealoDE. Dafür müssen zuvor die Plugins <strong>ElasticExport</strong> und <strong>ElasticExportIdealoDE</strong> installiert worden sein. Legen Sie zunächst das Datenformat IdealoDE an und übermitteln im Anschluss die URL zu idealo.</p>
</div>
<div class="paragraph instruction">
<p>Artikelexport einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1</p>
</li>
<li>
<p>Nehmen Sie weitere Einstellungen für Artikelfilter und Formateinstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 5 auf der Handbuchseite <a href="/basics/datenaustausch/daten-exportieren#60"><strong>Daten exportieren</strong></a></p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Eine ID für das Exportformat wird vergeben und das Exportformat erscheint in der Übersicht <strong>Exporte</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einstellungen für Artikelexport</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Einstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eingeben. Unter diesem Namen erscheint das Exportformat in der Übersicht im Tab <strong>Exporte</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ aus der Dropdown-Liste wählen. Aktuell ist nur die Auswahl <strong>Artikel</strong> verfügbar. Weitere Auswahlmöglichkeiten folgen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Format</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Format <strong>IdealoDE</strong> aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahl eingeben. Wenn mehr als 10000 Datensätze an idealo übertragen werden sollen, wird die Ausgabedatei für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bereitstellung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Token,<br>
URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Bereitstellung</strong> die Option <strong>URL</strong> gewählt wurde, auf <strong>Token generieren</strong> klicken. Der Token wird dann automatisch eingetragen. Die URL wird automatisch eingetragen, wenn unter <strong>Token</strong> der Token generiert wurde. Diese URL an idealo übergeben, damit die Artikel exportiert werden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Exportinformationen</div>
<div class="paragraph">
<p>Wenn Sie eine oder mehrere Einstellungen ändern, müssen Sie den neuen Link an idealo übergeben.</p>
</div>
<div class="paragraph">
<p>Pro Export werden maximal 4000 Artikel exportiert. Wenn Sie mehr Artikel exportieren, wird automatisch ein zweiter Export ausgeführt. Um den zweiten Export anzuzeigen, setzen Sie den Parameter <strong>&amp;Page</strong> = im Export-Link auf <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technische Daten werden in der letzten Spalte der Exportdatei an idealo übergeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="650">9. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Zahlungen für Aufträge von Idealo Direktkauf durchgeführt und in Ihrem plentymarkets System angezeigt werden, aktivieren Sie die Zahlungsarten <strong>Idealo Direktkauf</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Idealo-Zahlungsarten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Ordner <strong>DE</strong> &gt; <strong>Idealo</strong>.</p>
</li>
<li>
<p>Wählen Sie die Idealo-Zahlungsart.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit ist es möglich, die Werte für diese Optionen in mehreren Sprachen einzutragen. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eintragen, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eintragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoseite (Extern)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eintragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lieferländer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kein Lieferland wählen.<br>
Sie können die Zahlungsart nicht in Ihrem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig konfiguriert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standard-Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logoansicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logo hochladen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priorität</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kosten: Pauschal oder Prozentual</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eintragen. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eintragen.<br>
Weitere Informationen finden Sie auf den Handbuchseiten <strong><a href="/basics/statistik">Statistik</a></strong> und <strong><a href="/basics/statistik/allgemeine-statistiken/artikel/renner-und-penner">Renner und Penner</a></strong>. Ein Beispiel für pauschale und prozentuale Kosten finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#20">Grundeinstellungen</a></strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>System » CRM » Kundenklassen</strong> aktivieren oder deaktivieren Sie <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen finden Sie im Kapitel <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten#30">Zahlungsarten und Kundenklassen</a></strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie auf der Handbuchseite <strong><a href="/auftragsabwicklung/payment/zahlungsarten-verwalten">Zahlungsarten</a></strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zahlungsart PayPal</div>
<div class="paragraph">
<p>Wenn Sie PayPal als Zahlungsart anbieten, muss die Zahlungsart PayPal zwingend in Ihrem plentymarkets System hinterlegt und konfiguriert sein, damit die Zahlung korrekt importiert und dem Auftrag zugeordnet werden kann.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Auftragsbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um nach Eingang eines Auftrags automatisch eine Auftragsbestätigung an idealo zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Auftragsbestätigungen an idealo</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsanlage: Neuer Auftrag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>idealo</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragsbestätigung an idealo senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">11. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um automatisch eine Versandbestätigung an idealo zu senden, nachdem ein Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>Einstellung.Ereignisaktion zum automatischen Senden von Versandbestätigungen an idealo</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsänderung: Warenausgang gebucht</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>idealo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versand &gt; Versandbestätigung an idealo senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="850">12. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um idealo automatisch über Retouren zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 5.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 5 vor.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Retouren an idealo</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsanlage: Neue Retoure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retoure</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>idealo</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retoure &gt; Retoure an idealo senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">13. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie eine <strong><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a></strong> ein, um idealo automatisch über Stornierungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie das <strong>Ereignis</strong> gemäß Tabelle 6.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 6 vor.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Grund</strong> für die Stornierung.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Stornierungen an idealo</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Statuswechsel: [8] Storniert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>idealo</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrag &gt; Stornierung an idealo senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">14. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » API-Log » Tab: API-Log</strong> finden Sie eine Historie über Vorgänge, die über die idealo-Schnittstelle ausgeführt wurden. Das Format <strong>idealoDirektkauf</strong> steht Ihnen für idealo zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Daten » API-Log</strong>.</p>
</li>
<li>
<p>Wählen Sie das Format <strong>idealoDirektkauf</strong> aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wählen Sie ggf. ein Datum, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Wählen Sie die Anzahl der Ergebnisse pro Seite.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>, um die Ergebnisse anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</main>