<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>rakuten.de</h1><p>Willkommen im Themenbereich rakuten.de. Hier finden Sie folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/omni-channel/multi-channel/rakuten/rakuten-einrichten">Rakuten einrichten</a></li><li><a href="/omni-channel/multi-channel/rakuten/best-practices">Best Practices: Rakuten.de</a></li></ul>
</main>