<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Restposten.de registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Benutzerkonto erstellen</span></a></li>
<li><a href="#300"><span>3.</span><span> Daten bereitstellen</span></a></li>
<li><a href="#350"><span>4.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#400"><span>5.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#430"><span>6.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#450"><span>7.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#500"><span>8.</span><span> Merkmale erstellen</span></a></li>
<li><a href="#600"><span>9.</span><span> Kategorien verknüpfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Restposten.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.restposten.de/" target="_blank" rel="noopener"><strong>Restposten.de</strong></a> ist ein reines B2B-Portal, d.h. sowohl Anbieter als auch Nachfrager müssen im Besitz eines gültigen Gewerbenachweises sein (Quelle: Restposten.de). Auf dieser Seite erfahren Sie, wie Sie den Marktplatz Restposten.de an Ihr plentymarkets System anbinden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Restposten.de registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Ihr plentymarkets System für Restposten.de einzustellen, müssen Sie sich zuerst im <a href="https://www.restposten.de/register.php" target="_blank" rel="noopener"><strong>Händlerportal</strong></a> von Restposten.de registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Benutzerkonto erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ihr plentymarkets System wird über die SOAP-API mit Restposten.de verbunden. Für den Zugriff benötigt der Marktplatz ein eigenes Benutzerkonto mit Zugriffsrechten auf die API in Ihrem System. Erstellen Sie im Menü <strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Einstellungen » Grundeinstellungen » Benutzer » Konten</a></strong> ein neues Benutzerkonto der Benutzerklasse <strong>API</strong> für Restposten.de. Aktivieren Sie außerdem den Call <strong>GetCategoryMappingForMarket</strong>. Dieser Call sorgt dafür, dass der Marktplatz später Ihre Kategorieverknüpfungen auslesen kann.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto für Restposten.de erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neuen Benutzer erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie die Daten ein.</p>
</li>
<li>
<p>Wählen Sie als Benutzerklasse <strong>API</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Benutzer wird erstellt.</p>
</li>
<li>
<p>Wählen Sie den Benutzer aus der Liste.<br>
→ Das Bearbeitungsfenster wird geöffnet.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Berechtigung » API</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Item</strong> auf.</p>
</li>
<li>
<p>Aktivieren Sie den Call <strong>GetCategoryMappingForMarket</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie auf der Handbuchseite <strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Benutzer anlegen</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Daten bereitstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Anbindung an Ihr plentymarkets System benötigt Restposten.de die folgenden Daten von Ihnen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>URL der SOAP API WSDL.<br>
→ Sie finden die URL im Menü <strong><a href="/basics/datenaustausch/api-daten">Einstellungen » Grundeinstellungen » API » Daten</a></strong> unter <strong>SOAP WSDL</strong>.</p>
</li>
<li>
<p>Benutzername und Passwort für das von Ihnen erstellte Benutzerkonto für Restposten.de</p>
</li>
<li>
<p>Ihre Login-Daten für das Händlerportal von Restposten.de.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="350">4. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Sie Artikel, Merkmale etc. mit Restposten verknüpfen können, muss im Menü <strong>Einstellungen » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Restposten aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Restposten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setzen Sie bei <strong>Restposten</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die Sie auf Restposten.de verkaufen möchten, müssen im Menü <a href="/artikel/artikel-verwalten"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Restposten.de einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>Restposten.de</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Option Web-API.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Artikel ist auf Restposten.de verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> individuell angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="430">6. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <a href="/artikel/artikel-verwalten#170"><strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong></a> im Tab <strong>Verfügbarkeit</strong> fügen Sie, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie die Herkunft <strong>Restposten</strong>.</p>
</li>
<li>
<p>Geben Sie die SKU ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um für die Auftragsherkunft Restposten.de einen Verkaufspreis festzulegen. Dieser Preis wird auf Restposten.de angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Restposten.de festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Herkunft <strong>Restposten.de</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Merkmale erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit <a href="/artikel/artikel-verwalten#480"><strong>Merkmalen</strong></a> verknüpfen Sie bestimmte Eigenschaften, die Sie für die Konfiguration des Marktplatzes Restposten.de benötigen, mit Ihren Artikeln. Das Merkmal muss als <strong>Merkmaltyp</strong> mit der Option <strong>Auswahl</strong> erstellt sein, damit Restposten.de die nötigen Parameter abrufen kann. Stimmen Sie mit Restposten.de ab, welche Werte für das Merkmal benötigt werden.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal für Restposten.de erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Geben Sie den Namen unter <strong>Backendname</strong> ein.</p>
</li>
<li>
<p>Wählen Sie als <strong>Merkmaltyp</strong> die Option <strong>Auswahl</strong>.<br>
→ Ein Bereich wird geöffnet, in dem Sie Namen und Bezeichnung eingeben.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Das Merkmal wird erstellt.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Klappen Sie das Merkmal auf.</p>
</li>
<li>
<p>Geben Sie im Bereich <strong>Auswahl</strong> in das nächste Auswahlfeld einen weiteren Namen ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.</p>
</li>
<li>
<p>Wiederholen Sie Vorgang 8 und 9, bis alle benötigten Werte erstellt sind.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verknüpfen Sie Ihre Webshop-Kategorien mit den <strong><a href="/artikel/kategorien">Kategorien</a></strong> von Restposten.de, damit Ihre Artikel in diesen Kategorien angezeigt werden. Weitere Artikel der verknüpften Kategorien werden dann automatisch zugewiesen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Märkte » Restposten</strong>.<br>
→ Das Tab <strong>Kategorieverknüpfung</strong> wird angezeigt.</p>
</li>
<li>
<p>Klappen Sie die Kategorie auf, die Sie mit einer Restposten-Kategorie verknüpfen möchten.</p>
</li>
<li>
<p>Wählen Sie eine Restposten-Hauptkategorie aus dem Dropdown-Menü.<br>
→ Ein Fenster mit Unterkategorien wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie aus den weiteren Unterkategorien jeweils die passende Restposten-Kategorie.<br>
→ Der Kategoriepfad erscheint im Textfeld <strong>Kategorie</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Übernehmen</strong>.<br>
→ Das Kategoriefenster wird geschlossen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verknüpfung bis in die unterste Kategorieebene</div>
<div class="paragraph">
<p>Verknüpfen Sie Ihre Kategorien immer bis in die unterste Ebene. Andernfalls ist eine Verknüpfung nicht möglich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Retouren
Für Retouren müssen Sie einen Auftrag vom Typ Retoure erstellen und keine Gutschrift. Wichtig ist hierbei auch die Angabe des Artikelwertes in Prozent in den Artikelpositionen der Retoure.</p>
</div>
</div>
</div>
</main>