<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>A guide to inventory file templates (flat file)</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">When exporting your items to Amazon, inventory file templates (flat files) are your go-to reference for what item data Amazon requires.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/amazon/items/flat-files-structure#video">Flat file structure (1:14)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/items/flat-files-troubleshooting#video">Troubleshooting (2:31)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/200142703#at=74" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Every seasoned traveller knows that a good packing checklist is gold. Your 'inventory file template', or 'flat file' as some folks call it, is kind of like a pro packing checklist for the items you want to list on Amazon.</p>
</div>
<div class="paragraph">
<p>But just what does this analogy mean? Well, the templates on Seller Central come in pretty handy when you’re preparing your items to be exported to Amazon because they let you know what information is necessary for products of a specific category.</p>
</div>
<div class="paragraph">
<p>So what happens during an item export? Well your plentymarkets system creates these files behind the scenes with all the relevant product information. These files can then be transferred to Amazon either manually or automatically allowing you to both upload or update your listings.</p>
</div>
<div class="paragraph">
<p>And if something does go wrong, they’re a great reference guide for troubleshooting.</p>
</div>
<div class="paragraph">
<p>In this video, we’ll take a look at how flat files are structured and how you can use them when your item export DOESN’T go according to plan.</p>
</div>
<div class="paragraph">
<p>Now where do you find these so-called inventory file templates…​</p>
</div>
<div class="paragraph">
<p>Well, you can either google them. Or simply log into Amazon Seller Central and use the handy dandy search field.</p>
</div>
<div class="paragraph">
<p>Then scroll down to 'Category-specific inventory templates' and select the category in which you want your item to be listed.</p>
</div>
<div class="paragraph">
<p>The file that you’ve downloaded can now be opened with a spreadsheet program such as Excel.</p>
</div>
<div class="paragraph">
<p>So what’s behind all of these tabs?</p>
</div>
<div class="paragraph">
<p>Well, the 'Instructions' tab provides you with solid tips on using the file.</p>
</div>
<div class="paragraph">
<p>If you want to check how your item IMAGES must be displayed, you’ll find the technical details here as well as some example images so you can see what Amazon is looking for at a glance.</p>
</div>
<div class="paragraph">
<p>The file also includes an EXAMPLE that can later come in handy as a comparison for your own flat file.</p>
</div>
<div class="paragraph">
<p>And now we’re approaching the nitty gritty. 'Data definitions' give you an idea of what information is pertinent in your product category.</p>
</div>
<div class="paragraph">
<p>The first column includes Amazon’s field name and the last column lets you know whether that info is required or optional.</p>
</div>
<div class="paragraph">
<p>The thing that simplifies matters is that this information should be included in your item data from the get-go which means that most of the required info will automatically be sent to Amazon anyway.</p>
</div>
<div class="paragraph">
<p>And if you don’t really know what is meant by a certain field name or how you should enter that information, "Valid Values" and "Example" can lend a helping hand.</p>
</div>
<div class="paragraph">
<p>In the event that you want to fill out the flat file manually, Amazon provides you with a template including an overview of what goes where.</p>
</div>
<div class="paragraph">
<p>Alrighty, that was it for theory! And now for our troubleshooting example!</p>
</div>
<div class="paragraph">
<p>Your items have been sent to Amazon!</p>
</div>
<div class="paragraph">
<p>But whoopsie! One of your items didn’t make it!</p>
</div>
<div class="paragraph">
<p>Time to do some troubleshooting and consult your packing checklist.</p>
</div>
<div class="paragraph">
<p>Right, so as I mentioned earlier, plenty creates a flat file when it exports items to Amazon. If one of your items gets lost in the process, it’s often because one of the "required" fields is empty. Seller Central can help you find out what information is missing. Simply go to Inventory, Add Products via Upload, and open the Monitor Upload Status tab, which is where you’ll find the processing report.</p>
</div>
<div class="paragraph">
<p>In the Feed Processing Summary tab, you’ll instantly see what fields have not been included in your flat file - information like "batteries required".</p>
</div>
<div class="paragraph">
<p>All you have to do now is add that information to your item data in plentymarkets and your data export should work like a well greased wheel.</p>
</div>
<div class="paragraph">
<p>And if the field you need doesn’t exist yet, just create it yourself using item and variation property links.</p>
</div>
<div class="paragraph">
<p>Now that we’ve shone a light on how to use inventory file templates, you’re equipped to get your items to Amazon successfully!</p>
</div>
</div>
</div>
</main>