<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_logfiles_auffinden"><span>1.</span><span> Logfiles auffinden</span></a></li>
<li><a href="#_cache_ordner_leeren"><span>2.</span><span> Cache-Ordner leeren</span></a></li>
<li><a href="#_der_client_startet_nicht"><span>3.</span><span> Der Client startet nicht</span></a></li>
<li><a href="#_log_level_erhöhen"><span>4.</span><span> Log-Level erhöhen</span></a></li>
<li><a href="#_fehler_keine_dokumente_verfügbar"><span>5.</span><span> Fehler "Keine Dokumente verfügbar"</span></a></li>
<li><a href="#_anti_viren_programm"><span>6.</span><span> Anti-Viren-Programm</span></a></li>
<li><a href="#_der_client_ist_auf_englisch"><span>7.</span><span> Der Client ist auf Englisch</span></a></li>
<li><a href="#_pdf_dateien_werden_im_browser_geöffnet"><span>8.</span><span> PDF-Dateien werden im Browser geöffnet</span></a></li>
<li><a href="#_client_startet_unter_windows_mit_fehlermeldung"><span>9.</span><span> Client startet unter Windows mit Fehlermeldung</span></a></li>
<li><a href="#_client_startet_unter_macos_mit_fehlermeldung"><span>10.</span><span> Client startet unter MacOS mit Fehlermeldung</span></a></li>
<li><a href="#_der_client_stürzt_beim_öffnen_externer_fenster_unter_macos_ab"><span>11.</span><span> Der Client stürzt beim Öffnen externer Fenster unter MacOS ab</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Erste Hilfe für den plentymarkets Client</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Arbeit mit dem plentymarkets Client ausfindig zu machen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_logfiles_auffinden">1. Logfiles auffinden</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Logfiles auffinden</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Starte den plentymarkets Client.</p>
</li>
<li>
<p>Führe den Prozess aus, bis das Verhalten auftritt.</p>
</li>
<li>
<p>Öffne den Ordner der Logs:<br>
Windows: <code>C:\Benutzer\"DeinBenutzer"\plentymarkets\plentymarkets</code><br>
MacOS: <code>/Users/"DeinBenutzer"/Library/ApplicationSupport/plentymarkets</code></p>
</li>
<li>
<p>Zippe den kompletten Ordner <code>logs</code>.</p>
</li>
<li>
<p><strong><em>Nach Aufforderung</em></strong> durch ein Mitglied der plenty-Crew schicke ihm die Logs per privater Nachricht im plentymarkets Forum.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie versende ich private Nachrichten im Forum?</div>
<div class="paragraph">
<p>Wie du private Nachrichten im plentymarkets Forum versendest, erfährst du im <a href="https://forum.plentymarkets.com/t/wie-sende-ich-private-nachrichten/3024" target="_blank" rel="noopener">plentymarkets Forum</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_cache_ordner_leeren">2. Cache-Ordner leeren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst den Cache-Ordner leeren, indem du im Client auf <strong>Extras » Cache leeren</strong> klickst:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Client.</p>
</li>
<li>
<p>Klicke auf <strong>Extras</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Cache leeren</strong>.</p>
</li>
<li>
<p>Starte den Client neu.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn der Client nicht startet, kannst du den Cache-Ordner auch lokal leeren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den folgenden Ordner:<br>
Windows: <code>C:\Benutzer\"DeinBenutzer"\plentymarkets\plentymarkets\cache</code><br>
MacOS: <code>/Users/"DeinBenutzer"/Library/Application\ Support/plentymarkets/plentymarkets/cache</code></p>
</li>
<li>
<p>Lösche die Dateien, die sich in dem Cache-Ordner befinden.<br>
→ Der Client kann wieder gestartet werden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_der_client_startet_nicht">3. Der Client startet nicht</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn der Client nicht startet, kannst du wie folgt vorgehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den folgenden lokalen Ordner:<br>
Windows: <code>C:\Benutzer\"DeinBenutzer"\plentymarkets\plentymarkets</code><br>
MacOS: <code>/Users/"DeinBenutzer"/Library/Application\ Support/plentymarkets/plentymarkets/</code></p>
</li>
<li>
<p>Lösche die Datei <code>browser.conf</code>.<br>
→ Der Client kann wieder gestartet werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Alternativ kannst du in MacOS den Finder nutzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Finder.</p>
</li>
<li>
<p>Klicke in der Menüleiste auf <strong>Gehe zu</strong>.</p>
</li>
<li>
<p>Wähle <strong>Gehe zu Ordner</strong>.</p>
</li>
<li>
<p>Gib den folgenden Pfad ein:<br>
<code>~/Library/Application\ Support/plentymarkets/plentymarkets</code><br>
→ In diesem Ordner findest du die Datei <code>browser.conf</code>.</p>
</li>
<li>
<p>Lösche die Datei <code>browser.conf</code>.<br>
→ Der Client kann wieder gestartet werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn der Client auch nach Löschen der browser.conf-Datei nicht startet, solltest du die Client-Dateien löschen und den Client neu installieren.</p>
</div>
<div class="paragraph instruction">
<p>Unter Windows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lösche unter <code>C:\Programme\</code> den Ordner <code>plentymarkets</code>.</p>
</li>
<li>
<p>Lösche unter <code>C:\Program Files (x86)\Common Files</code> den Ordner <code>i4j_jres</code>.</p>
</li>
<li>
<p>Installiere den plentymarkets Client neu.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_log_level_erhöhen">4. Log-Level erhöhen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ab plentymarkets Client Version 222 werden die Logfiles standardmäßig im Loglevel <strong>DEBUG</strong> ausgegeben.</p>
</div>
<div class="paragraph">
<p>In einigen Fällen reichen die standardmäßig generierten Logfiles nicht aus, um ein Fehlverhalten zu analysieren. Daher kann es vorkommen, dass wir dich bitten, das Loglevel des Clients zu ändern. Das geht wie folgt:</p>
</div>
<div class="paragraph instruction">
<p>Unter Windows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Installationsordner des plentymarkets Clients.<br>
→ Standardmäßig ist dies der Ordner: <code>C:\Programme\Plentymarkets\</code></p>
</li>
<li>
<p>Öffne mit einem Texteditor die Datei <code>plentymarkets.config</code>.</p>
</li>
<li>
<p>Ersetze in <strong>LOG_LEVEL=WARN</strong> das <strong>WARN</strong> durch <strong>DEBUG</strong>.</p>
</li>
<li>
<p>Speichere die Datei.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Unter MacOS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Ordner <code>/Applications/plentymarkets.app/</code>.</p>
</li>
<li>
<p>Klicke mit der rechten Maustaste auf das Logo und wähle <strong>Paketinhalt anzeigen</strong>.</p>
</li>
<li>
<p>Öffne mit einen Texteditor die Datei <code>plentymarkets.config</code>.</p>
</li>
<li>
<p>Ersetze in <strong>LOG_LEVEL=WARN</strong> das <strong>WARN</strong> durch <strong>DEBUG</strong></p>
</li>
<li>
<p>Speichere die Datei.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_fehler_keine_dokumente_verfügbar">5. Fehler "Keine Dokumente verfügbar"</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In einigen Fällen kann es vorkommen, dass beim Speichern oder Drucken von Dokumenten der Fehler <strong>Keine Dokumente verfügbar</strong> erscheint. Hier liegt die Ursache meist bei einer Domain-Änderung. Konkret bedeutet das:<br>
Dein System wurde ursprünglich auf einer plentymarkets Test-Domain installiert. Test-Domains haben z.B. das Format <code>http://irgendwas.plentymarkets-x1.com/</code>. Wenn du nun eine vollständige Domain an deinem System hinterlegt hast, z.B. <code>\www.deineDomain.de</code>, ändert sich dadurch nicht automatisch der Login im Client.</p>
</div>
<div class="paragraph">
<p>Der Login ist dann zwar weiterhin über <code>http://irgendwas.plentymarkets-x1.com/</code> möglich, doch beim Abrufen von Dokumenten tritt der Fehler "Keine Dokumente verfügbar" auf.</p>
</div>
<div class="paragraph instruction">
<p>Lösung 1: URL/Domain aktualisieren</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Logge dich aus dem Client aus.</p>
</li>
<li>
<p>Lösche in der Login-Maske die Login-URL:<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/plentymarkets-client/assets/client-login-url.png" alt="client login url"></span></p>
</li>
<li>
<p>Wähle unter <strong>URL</strong> den Punkt <strong>Neue URL eingeben</strong>.</p>
</li>
<li>
<p>Gib dort die neue URL/Domain ein.<br>
<strong><em>Hinweis:</em></strong> Vergiss nicht, das Präfix <strong>www</strong> in der URL mit anzugeben.
<strong><em>Hinweis:</em></strong> Verwende keine URL, die noch einmal weitergeleitet wird.</p>
</li>
<li>
<p>Melde dich mit Benutzername und Passwort an.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn die URL korrekt ist, aber der Fehler "Keine Dokumente verfügbar" dennoch auftritt, gehe zu Lösung 2 über.</p>
</div>
<div class="paragraph instruction">
<p>Lösung 2: Temp- und Cache-Ordner erstellen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Folgenden Ordner:<br>
Windows: <code>C:\Benutzer\"DeinBenutzer"\plentymarkets\plentymarkets</code><br>
MacOS: <code>/Users/"DeinBenutzer"/Library/ApplicationSupport/plentymarkets/plentymarkets</code>.</p>
</li>
<li>
<p>Erstelle in diesem Ordner die Unterordner <code>temp</code> und <code>cache</code>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn das auch nicht hilft, prüfe dein SSL-Zertifikat.</p>
</div>
<div class="paragraph instruction">
<p>Lösung 3: Gültigkeit des SSL-Zertifikats prüfen</p>
</div>
<div class="paragraph">
<p>Eine weitere Möglichkeit ist, dass das SSL-Zertifikat deines Systems abgelaufen ist oder du gerade erst ein SSL-Zertifikat bestellt hast.
Dieses SSL-Zertifikat kannst Du über das Service-Center verlängern. Hier hilft temporär die Lösung 1.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_anti_viren_programm">6. Anti-Viren-Programm</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn dein plentymarkets Client plötzlich nicht mehr funktioniert, prüfe, ob dein Anti-Viren-Programm die Verbindung des Clients blockiert. Hierzu kannst du testweise den sogenannten "Echtzeitschutz" deines Anti-Viren-Programmes stoppen. Prüfe dann, ob der Client wieder ordnungsgemäß arbeitet.</p>
</div>
<div class="paragraph">
<p>Als Ausnahmeregeln solltest Du im Anti-Viren-Programm folgende Pfade unter Windows hinterlegen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>C:\Program Files (x86)\Common Files\i4j_jres</code></p>
</li>
<li>
<p><code>C:\Programme\plentymarkets</code></p>
</li>
<li>
<p><code>C:\Benutzer\[DeinBenutzername]\plentymarkets\plentymarkets\</code></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Derzeit werden uns vermehrt unerwünschte Effekte mit der Anti-Viren-Software <strong>Panda</strong> gemeldet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_der_client_ist_auf_englisch">7. Der Client ist auf Englisch</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn das Menü des Clients auf Englisch angezeigt wird, solltest du den Cache des Client leeren.</p>
</div>
<div class="paragraph instruction">
<p>Cache leeren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne den Client.</p>
</li>
<li>
<p>Klicke auf <strong>Extras</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Cache leeren</strong>.</p>
</li>
<li>
<p>Starte den Client neu.<br>
→ Das Menü des Clients ist wieder auf Deutsch verfügbar.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/plentymarkets-client/assets/client-englisch.png" alt="client englisch">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_pdf_dateien_werden_im_browser_geöffnet">8. PDF-Dateien werden im Browser geöffnet</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Verhalten kann bei verschiedenen Dokumenten (Artikel Etikett, Rechnung, Lieferschein, usw.) auftreten. Dies passiert, wenn an dem Rechner die Domain mit <code>http://</code> statt mit <code>https://</code> hinterlegt ist. Dadurch werden auch plentymarkets-interne Dokumente in einem neuen Fenster geöffnet.</p>
</div>
<div class="paragraph instruction">
<p>Lösung:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Logge dich aus dem Client aus.</p>
</li>
<li>
<p>Wähle unter <strong>URL</strong> den Punkt <strong>Neue URL eingeben</strong>.</p>
</li>
<li>
<p>Gib die neue URL/Domain mit <code>http://</code> statt mit <code>https://</code> ein.</p>
</li>
<li>
<p>Melde dich wie gewohnt mit Benutzername und Passwort an.<br>
<strong><em>Hinweis:</em></strong> Externe Links, also Links zu Amazon, eBay etc., werden immer im Browser geöffnet. Hierbei handelt es sich um gewünschtes Verhalten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_client_startet_unter_windows_mit_fehlermeldung">9. Client startet unter Windows mit Fehlermeldung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Starten des Clients kann der folgende Fehler auftreten:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">java.lang.NoClassDefFoundError: com/teamdev/jxbrowser/chromium/internal/Environment
at com.plentymarkets.host.main.PlentyMarkets.(PlentyMarkets.java:75)
at com.plentymarkets.host.main.PlentyMarkets.getInstance(PlentyMarkets.java:47)
at com.plentymarkets.host.main.PlentyMarkets.main(PlentyMarkets.java:54)
at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
at java.lang.reflect.Method.invoke(Unknown Source)
at com.exe4j.runtime.LauncherEngine.launch(Unknown Source)
at com.exe4j.runtime.WinLauncher.main(Unknown Source)
at com.install4j.runtime.launcher.WinLauncher.main(Unknown Source)
Caused by: java.lang.ClassNotFoundException: com.teamdev.jxbrowser.chromium.internal.Environment
at java.net.URLClassLoader.findClass(Unknown Source)
at java.lang.ClassLoader.loadClass(Unknown Source)
at sun.misc.Launcher$AppClassLoader.loadClass(Unknown Source)
at java.lang.ClassLoader.loadClass(Unknown Source)
… 10 more</code></pre>
</div>
</div>
<div class="paragraph">
<p>So gehst du vor, wenn dieser Fehler auftritt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Schließe den Client.</p>
</li>
<li>
<p>Lösche unter <code>C:\Program Files (x86)\Common Files</code> den Ordner <code>i4j_res</code>.</p>
</li>
<li>
<p>Lösche unter <code>C:\Users\\%Benutzer%\AppData\Local\Temp</code> alle Ordner, die mit <code>jxbrowser-chromium</code> beginnen.</p>
</li>
<li>
<p>Lösche unter <code>C:\Users\\%Benuzter%\plentymarkets\plentymarkets</code> die Ordner <code>cache</code>, <code>logs</code> und <code>temp</code>.</p>
</li>
<li>
<p>Deinstalliere den Client in der Systemsteuerung.</p>
</li>
<li>
<p>Lösche unter <code>C:\Programme</code> den Ordner <code>plentymarkets</code>.</p>
</li>
<li>
<p>Lade die neueste  <a href="https://forum.plentymarkets.com/t/package-package-neuer-client-229-5-package-package/50995" target="_blank" rel="noopener">Version des Clients</a> herunter.<br>
Oder noch besser: Steige auf <a href="#basics/automatisierung/plentybase-installieren">plentyBase</a> um.</p>
</li>
<li>
<p>Installiere die neueste Version des Clients.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_client_startet_unter_macos_mit_fehlermeldung">10. Client startet unter MacOS mit Fehlermeldung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Starten des Clients auf dem Mac kann der folgende Fehler auftreten:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/plentymarkets-client/assets/client_start_macos.png" alt="client start macos">
</div>
</div>
<div class="paragraph">
<p>So gehst du vor, wenn dieser Fehler auftritt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Schließe den Client.</p>
</li>
<li>
<p>Öffne das Terminal.<br>
<strong><em>Tipp:</em></strong> Öffne mit der Tastenkombination <strong>cmd</strong> + <strong>Leertaste</strong> die Spotlight-Suche.<br>
Gib den Begriff <strong>Terminal</strong> ein.<br>
Betätige die Return-Taste.<br>
→ Das Terminal wird geöffnet.</p>
</li>
<li>
<p>Gib den Befehl <code>open $TMPDIR</code> in das Terminal ein.<br>
→ Der Finder wird geöffnet und der Inhalt des Temp-Ordners wird angezeigt.</p>
</li>
<li>
<p>Lösche den Ordner, der mit <code>jxbrowser-chromium-</code> beginnt (z.B. <code>jxbrowser-chromium-51.0.2704.106.6.10</code>).</p>
</li>
<li>
<p>Starte den Client neu.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_der_client_stürzt_beim_öffnen_externer_fenster_unter_macos_ab">11. Der Client stürzt beim Öffnen externer Fenster unter MacOS ab</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Derzeit kann es vereinzelt vorkommen, dass der plentymarkets Client unter MacOS abstürzt. Das Verhalten tritt nur beim Öffnen von externen Fenstern (z.B. Rechnungsaufruf über <strong>Aufträge » Aufträge bearbeiten</strong>) auf.</p>
</div>
<div class="paragraph">
<p>Wir arbeiten an der Fehlerbeseitigung und haben hierzu bereits den Anbieter des Frameworks mit ins Boot geholt, da das Problem auf Seiten des Frameworks liegt.</p>
</div>
</div>
</div>
</main>