<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel2">
<li><a href="#_sichere_verbindung_zu_plentybase_einrichten"><span>1.</span><span> Sichere Verbindung zu plentyBase einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Wechsel zu plentyBase</h1><div id="preamble">
<div class="sectionbody">
<div id="wechsel_base" class="paragraph adoc">
<p>Mit dem Wegfall des Classic Backends verabschiedet sich auch der plentymarkets Client. Damit auch weiterhin Prozesse ausgeführt werden können, muss das Tool plentyBase auf dem Rechner installiert und gestartet sein.</p>
</div>
<div class="paragraph">
<p>Die Installationsdateien für plentyBase finden Sie im <a href="https://marketplace.plentymarkets.com/plugins/integration/plentybase_5053" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
<div class="paragraph">
<p>Seit August 2017 ist plentyBase der Nachfolger des plentymarkets Clients.
plentyBase übernimmt die Einstellungen für <em>Speichern / Drucken</em> des Clients, sofern diese auf dem installierten Rechner vorhanden sind.</p>
</div>
<div class="paragraph">
<p>Im Gegensatz zum Client können mit Hilfe von plentyBase die Prozesse im Browser ausgeführt werden.
Wir empfehlen hier den Chrome Browser zu nutzen.</p>
</div>
</div>
</div><div class="sect2">
<h3 id="_sichere_verbindung_zu_plentybase_einrichten">1. Sichere Verbindung zu plentyBase einrichten</h3>
<div class="paragraph">
<p>Bitte beachtet eine sichere Verbindung einzurichten.
Dafür muss im Terra Backend ein Access Token generiert und dieses in plentyBase hinterlegt werden.</p>
</div>
<div class="paragraph">
<p>Das geht wie folgt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>plentyBase starten</p>
</li>
<li>
<p>plentymarkets über den zentralen Login öffnen</p>
</li>
<li>
<p>Über <strong>P</strong> (plenty Logo) auf plentyBase gehen</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/MoCli/Prozesse/assets/plentybase_backend.png" alt="plentybase backend">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>im Reiter <strong>Einstellungen</strong> einen Token generieren, diesen in die Zwischenablage kopieren und oben speichern drücken</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/MoCli/Prozesse/assets/accesstoken.png" alt="accesstoken">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>auf das plentyBase Logo in der System Task-Leiste drücken und dort <strong>Konfiguration öffnen</strong> wählen:</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/MoCli/Prozesse/assets/baseMac.png" alt="baseMac">
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/MoCli/Prozesse/assets/baseWin.png" alt="baseWin">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p>Auf <strong>Access Tokens verwalten</strong> drücken</p>
</li>
<li>
<p>Auf <strong>Hinzufügen</strong> drücken</p>
</li>
<li>
<p>Den in die Zwischenablage kopierten Token links einfügen, rechts z.B. “plentymarkets” eingeben</p>
</li>
<li>
<p><strong>Ok</strong> drücken</p>
</li>
</ul>
</div>
</div>
</main>