<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_info_tickets_by_system_state"><span>1.</span><span> Info: tickets by system state</span></a></li>
<li><a href="#_details_about_the_statistic"><span>2.</span><span> Details about the statistic</span></a></li>
<li><a href="#_settings"><span>3.</span><span> Settings</span></a></li>
<li><a href="#_data_export"><span>4.</span><span> Data export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Tickets by system state</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistics → Type of statistic: Tickets by system state</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_info_tickets_by_system_state">1. Info: tickets by system state</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Displays the <strong>tickets according to their system state</strong> during a specific time span. The system states are displayed for the <strong>type of ticket</strong> that was selected. Default setting for the time span: <strong>The last 6 months</strong>. The particular system state is automatically assigned to a ticket and can not be changed. The system states are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Created</strong> = the ticket has been received.</p>
</li>
<li>
<p><strong>Pending</strong> = the ticket is currently being edited.</p>
</li>
<li>
<p><strong>Closed</strong> = the ticket is no longer being edited. It has been completed.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_details_about_the_statistic">2. Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>number of tickets</strong> will be displayed for the selected <strong>time period</strong>. The tickets are grouped according to <strong>system state</strong>. The number of tickets and the corresponding <strong>system state</strong> will be displayed as <strong>information in a mouseover</strong>. Furthermore, a second color displays the exact <strong>time period</strong>, during which the corresponding tickets were received or edited (see image 1). If no tickets are available for a specific system state, then this system state will be displayed along with the <strong>number 0</strong>. In this statistic, you can select a specific <strong>type of ticket</strong> and see how many of these tickets are in a particular system state.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title"><strong>Show details (mouseover)</strong></div>
<div class="paragraph">
<p>Point your <strong>cursor</strong> at one of the elements in the statistic in order to see <strong>details</strong> about that particular element.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>In image 1, you can see that <strong>366</strong> tickets had the system state <strong>pending</strong> in <strong>March, 2013</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/tickets/assets/EN-ENG-Statistik-Tickets-Zustand01-SI.png" alt="EN ENG Statistik Tickets Zustand01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>tickets by system state</strong> statistic</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_settings">3. Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>settings</strong> described below are available for this statistic.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/tickets/assets/EN-ENG-Statistik-Tickets-Zustand02-SI.png" alt="EN ENG Statistik Tickets Zustand02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>tickets by system state</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>Explanations of the options</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry/Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In this drop-down menu, you can choose how you want the statistics to be displayed.<br>
<strong>Multi line chart</strong> = Displays the values as lines<br>
<strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <strong>CSV file</strong>. The file contains the same parameters as are displayed with the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the <strong>name</strong> of the statistic that was entered when the statistic was created. You can change the name here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Time span</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Each type of statistic has a default setting for <strong>time span</strong> that you can see in table 1 on the <a href="/basics/statistics"><strong>Statistics</strong>  </a> page of the manual. You can choose from a number of predefined time spans in a drop-down menu. In addition for some types of statistics you have the possibility to enter a time span by entering a <strong>start and end date</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change</strong> the <strong>time span</strong> if no or only very few data is shown and then click on the save icon to see the result. Choosing a <strong>larger time span</strong> will give you more information. If there is a lot of data, then a <strong>shorter time span</strong> may make more sense in order to be able to actually interpret the graphic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ticket type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which <strong>type of ticket</strong> you would like to include into the statistic.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>; <strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_data_export">4. Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Below is an example of the export.</p>
</div>
<div class="paragraph">
<p>Exporting the diagram data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>StatusDone</strong> = Status <strong>closed</strong>, <strong>StatusCreated</strong> = Status <strong>created</strong>, <strong>StatusOpen</strong> = Status <strong>pending</strong>, <strong>Date</strong> = Date, Time span</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/tickets/assets/EN-ENG-Statistik-Tickets-Zustand03-SI.png" alt="EN ENG Statistik Tickets Zustand03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>tickets by system state</strong> statistic; simple export</em></p>
</div>
</div>
</div>
</main>