<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Voraussetzungen</span></a></li>
<li><a href="#200"><span>2.</span><span> Einen neuen Artikel erstellen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Neue Artikel anlegen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hast du die <a href="/artikel/einstellungen">vorbereitenden Einstellungen</a> schon abgeschlossen?
Hast du zum Beispiel eine Kategoriestruktur, Verkaufspreise und Attribute angelegt?
Dann bist du jetzt bereit, deine Artikeldaten in plentymarkets einzupflegen.
Auf dieser Seite lernst du, Artikel und Varianten <em>manuell</em> zu erstellen.</p>
</div>
<div class="paragraph">
<p>Der Ablauf ist wie folgt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zuerst erstellst du den <a href="/artikel/import-export-anlage/anlage/neue-artikel#200">Artikeldatensatz</a>.</p>
</li>
<li>
<p>Falls der Artikel z.B. in unterschiedlichen Größen oder Farben erhältlich ist, dann erstellst du im zweiten Schritt <a href="/artikel/import-export-anlage/anlage/neue-artikel#400">alle nötigen Varianten</a>.</p>
</li>
<li>
<p>Anschließend fügst du <a href="/artikel/import-export-anlage/anlage/neue-artikel#500">weitere Produktdaten</a> wie Bilder, Texte und Bestandsinformationen hinzu.</p>
</li>
<li>
<p>Schau dir regelmäßig eine <a href="/artikel/import-export-anlage/anlage/neue-artikel#600">Vorschau des Artikels</a> im plentyShop an und finde heraus, wo du noch weitere Produktdaten hinzufügen oder Einstellungen optimieren musst.</p>
</li>
<li>
<p><a href="/artikel/import-export-anlage/anlage/neue-artikel#700">Aktiviere den Artikel</a>, wenn er verkaufsfertig ist.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Andere Wege, Artikel zu erstellen</div>
<div class="paragraph">
<p>Diese Seite beschreibt die <em>manuelle Erstellung</em> von Artikeln und Varianten.
Dies ist z.B. sinnvoll, wenn du nur wenige neue Produkte zum Sortiment hinzufügen möchtest.</p>
</div>
<div class="paragraph">
<p>Was aber, wenn du mehrere hundert Artikeldatensätze hinzufügen möchtest? Es würde viel zu lange dauern, dies manuell zu tun.
Wirf einen Blick auf die <a href="/artikel/import-export-anlage">unterschiedlichen Tools zum Importieren von Artikelinformationen</a>.  Wähle das Tool, das für deine Situation am besten geeignet ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Voraussetzungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du bereits Grundkenntnisse über die Artikelstruktur in plentymarkets hast.
Zum Beispiel solltest du <a href="/artikel/einleitung/struktur">den Unterschied zwischen Artikeln und Varianten</a> kennen. Du solltest auch wissen, dass Artikeldaten <a href="/artikel/einleitung/vererbung">vererbt</a> werden können.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kurze Auffrischung zu diesen Themen:</div>
<div class="paragraph">
<p>Beim Erstellen eines Artikels wird auch automatisch die erste Variante mit erstellt.
Diese Variante ist die <a href="/artikel/einleitung/struktur#600">Hauptvariante</a> und sie ist fest mit dem Artikel verbunden.
Das Schöne an der Hauptvariante ist, dass ihre Daten weitergegeben, also vererbt werden können. Die Hauptvariante ist also eine Elternvariante, die bestimmte Daten an ihre Kinder vererbt.</p>
</div>
<div class="paragraph">
<p>Die <a href="/artikel/einleitung/vererbung">Vererbungsfunktion</a> ist standardmäßig aktiviert. Wenn eine neue Variante eines Artikels erstellt wird, erbt diese Variante Einstellungen der Hauptvariante, solange keine davon abweichenden Daten gespeichert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_folgende_daten_sollen_im_system_vorhanden_sein" class="discrete">Folgende Daten sollen im System vorhanden sein</h4>
<div class="paragraph">
<p>Zudem müssen folgende Daten im System vorhanden sein, um wie hier beschrieben Artikel und Varianten manuell zu erstellen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/einstellungen/attribute">Attribute und Attributwerte</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/kategorien">Kategorien</a></p>
</li>
<li>
<p><a href="/artikel/einstellungen/preise">Verkaufspreise</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Einen neuen Artikel erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erstelle den Artikeldatensatz, indem du einige grundlegende Produktinformationen eingibst.
Keine Sorge, die meisten Informationen können auch nach der Erstellung weiterhin bearbeitet werden.</p>
</div>
<div class="paragraph">
<p>Der Artikel wird auch nicht sofort zum Verkauf stehen.
Deine Kunden werden also keinen Artikel kaufen können, der gerade erst angelegt wurde und noch nicht verkaufsfertig ist.</p>
</div>
<div class="paragraph">
<p>Dieses Video zeigt spielerisch, wie Artikel manuell erstellt werden:</p>
</div>
<div class="videoblock">
<div class="title">Einen neuen Artikel erstellen</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/263297236#t=1m03s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph instruction">
<p>Einen neuen Artikel erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neu</strong>.<br>
→ Das Tab <strong>Neuer Artikel</strong> wird geöffnet. Dieses Tab ist in mehrere Bereiche unterteilt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Der Artikel wird zusammen mit der Hauptvariante erstellt und in einem neuen Tab geöffnet.</p>
</li>
</ol>
</div>
<h5 id="210" class="discrete">Bereich: Artikeldaten</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-typ">Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Artikel willst du erstellen? In den meisten Fällen wirst du wahrscheinlich einen "normalen Artikel" erstellen, d.h. einen Artikel vom Typ <strong>Standard</strong>.</p>
</div>
<div class="paragraph">
<p>Die anderen Optionen in der Dropdown-Liste sind für andere Anwendungsfälle vorgesehen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard</strong> = Erstellt einen normalen Artikel oder ein <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2000">Artikelpaket</a>.</p>
</li>
<li>
<p><strong>Set</strong> = Erstellt ein <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#3000">Artikelset</a>.</p>
</li>
<li>
<p><strong>Multipack</strong> = Erstellt einen <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#1000">Multipack-Artikel</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach der Artikelanlage nicht mehr geändert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-id">ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Artikel-ID ist eine eindeutige, fortlaufende Zahl, die plentymarkets zur exklusiven Zuordnung jedes Artikels benötigt.</p>
</div>
<div class="paragraph">
<p><strong><em>Empfehlung</em></strong>: Wir empfehlen, dieses Feld leer zu lassen. Dadurch wird plentymarkets automatisch die nächste freie ID vergeben.
Weiterhin empfehlen wir, die ID nach der Artikelanlage nicht zu ändern.
Da die ID mit vielen Parametern verknüpft ist, kann eine Änderung der ID zu Fehlern führen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wer stellt diesen Artikel her?
Wähle den passenden Hersteller aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Liste enthält nur die <a href="/artikel/einstellungen/hersteller">Herstellerdatensätze</a>, die du bereits in plentymarkets gespeichert hast.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>