<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_optimal_sizes_for_category_and_item_images"><span>1.</span><span> Optimal sizes for category and item images</span></a></li>
<li><a href="#_ideal_image_sizes_for_the_shopbuilder"><span>2.</span><span> Ideal image sizes for the ShopBuilder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Image sizes in Ceres</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This chapter lists the recommended image sizes for category and item images for plentyShops. All images displayed on the homepage of the store are currently integrated via <a href="/en/omni-channel/online-shop/shop-builder">ShopBuilder</a> widgets.<br>
In order to ensure scalability of images on many different end devices and for various screen sizes, the image sizes are variable and adapt in height to the corresponding screen sizes. Therefore, the number of pixels in the <strong>width</strong> column is described as a margin, within which the height of the image is set to the described number of pixels. Therefore, a category image with a width of 500px has a height of 350px.<br></p>
</div>
<div class="paragraph">
<p>Images are always centered. Depending on the particular screen size, it is possible that images are cut off on the left or the right side.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_optimal_sizes_for_category_and_item_images">1. Optimal sizes for category and item images</h2>
<div class="sectionbody">
<table id="tabelle-kategorie-bilder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Image sizes for categories</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Screen width</th>
<th class="tableblock halign-left valign-top">Height</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">larger than 0px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">300px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">larger than 544px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">350px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">larger than 768px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">400px</p></td>
</tr>
</tbody>
</table>
<table id="tabelle-artikel-bilder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Image sizes for items</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Screen width</th>
<th class="tableblock halign-left valign-top">Height</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">larger than 0px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">300px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">larger than 494px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">500px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">larger than 534px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">600px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">larger than 655px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">700px</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_ideal_image_sizes_for_the_shopbuilder">2. Ideal image sizes for the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are 4 different aspect ratios for images in the <strong>Image box</strong> and <strong>Image carousel</strong> widgets. These ratios are dependent on whether the widget is integrated as a standalone or in a grid with 2, 3 or 4 columns as well as which layout setting is selected for the grid.</p>
</div>
<div class="paragraph">
<p>For image widgets that are integrated <strong>without a grid</strong> or in a <strong>2 column grid</strong> with the layout setting <strong>50%:50%</strong>, the ideal image aspect ratio of width to height is <strong>3:1</strong>. If you change the layout settings, the aspect ratio changes to <strong>2:1</strong> (for 66.6% elements) and <strong>1:1</strong> (for 33.3% elements).</p>
</div>
<div class="paragraph">
<p>For image widgets in a <strong>3 column grid</strong> with the layout setting <strong>30%:30%:30%</strong>, the ideal image aspect ratio of width to height is <strong>1.5:1</strong>. Depending on the layout settings, the aspect ratio changes according to the table below.</p>
</div>
<div class="paragraph">
<p>For image widgets in a <strong>4 column grid</strong>, the ideal image aspect ratio of width to height is <strong>1:1</strong>. The layout for this type of grid cannot be changed.</p>
</div>
<table id="tabelle-bildergroesse-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ideal image sizes for ShopBuilder widgets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Number of grid columns</th>
<th class="tableblock halign-left valign-top">Layout setting (%)</th>
<th class="tableblock halign-left valign-top">Aspect ratio</th>
<th class="tableblock halign-left valign-top">Example size</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>No grid</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>-</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x400px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>50%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x400px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>66.6%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x600px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>50%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x600px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>25%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>66.6% (stacked)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3% (stacked)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>4</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>-</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>