<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ElasticSearch result fields</h1><div class="paragraph">
<p>This manual page provides an overview about which ElasticSearch <strong>result fields</strong> can be used to replace the former Callisto <a href="/en/en/omni-channel/online-store/setting-up-clients/cms-syntax#global">template variables</a>, via which certain information can be accessed.</p>
</div><table id="table-ES-result-fields" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. ES result fields and template variables</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 37.5%;">
<col style="width: 37.5%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">ElasticSearch result field</th>
<th class="tableblock halign-left valign-top">Template variable</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.default.<br>
customerClassDiscountPercent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$PriceColumnDiscountPercentage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the percentage of the graduated prices discount stored for the customer class of the customer that is currently logged in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.formatted.rrpPrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$RRP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the recommended sales price of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the item price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.priceNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ShowNetPrices</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the item price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.prices.<br>
default.price.value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the item price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculated.Prices.rrp.price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$RRPDecimalSeparatorDot</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the recommended sales price with a dot as the decimal separator.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">defaultCategories[0].id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ItemBranchID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of the default category of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">filter.hasAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$AttributeExist</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains a query whether an item has attributes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">filter.search.german.properties</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ItemParamsList</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains an array with characteristics belonging to the item. Note:</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].names.alternate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ImageAlt[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the alternative text of the item image.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].names.name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ImageName[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the name of the item image</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ImageURL[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the URL of the item image in its highest resolution.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].urlMiddle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$MiddleSizeImageURL[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the URL of the item image in medium resolution.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].urlPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$PreviewImageURL[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the preview image of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0]urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$SecondPreviewImageURL[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the URL of the second preview image of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.item.urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$SecondPreviewImageURL[25]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the URL of the second preview image of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.variation.urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$SecondPreviewImage[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the second preview image of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.ageRestriction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$FSK</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the age restriction of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.condition.names.name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Condition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the condition of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$CreationDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the date at which the item was created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.isSubscribable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$IsSubscriptionItem</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains a Boolean that returns true if the item can be purchased as a subscription.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.itemID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ID  / $CurrentItemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.manufacturer.externalName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ProducerExternalName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the external name of the item’s manufacturer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.manufacturer.logo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ProducerLogo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the URL of the manufacturer’s logo.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.manufacturer.name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Producer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the name of the item’s manufacturer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.storeSpecial.id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ActionID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of the store special.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.variation.packingUnits</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$PackagingUnit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the packaging unit of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.default.vatValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$VAT</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the percentage of the value-added tax of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesPrices[0].names.priceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$PriceID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of the price set of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stock.net</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$StockList</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the physical net stock of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the description text of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Name[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the first name stored for the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Name[2]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the second name stored for the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Name[3]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the third name stored for the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.shortDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$DescriptionShort</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the item text.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.technicalData</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$TechnicalData</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the technical data of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.urlPath</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Name4URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the item’s URL path in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit.content</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Lot</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the content of the item’s sales unit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.availableUntil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ExpirationDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the date until which the item is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.availability.id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$AvailabilityID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of the item’s availability.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.availability.names.name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$AvailabilityString</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the name of the item’s availability.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$CreationDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the date at which the variation was created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.defaultShippingCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$DefaultShippingCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the default shipping costs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.externalID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ExternalVariationID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the external ID of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.heightMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Height</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die height of the item in millimetre.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$VariationID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.intervalOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$OrderQuantityInterval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the interval quantity of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.lengthMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Length</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the length of the variation in millimetre.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.maximumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$OrderQuantityMax</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the maximum order quantity of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.minimumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$OrderQuantityMin</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the minimum order quantity of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.model</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Model</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the model name of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the variation number of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.releaseAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ReleaseDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the release date of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.stockLimitation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$LimitOrderByStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the value of the stock limitation of the item. 0 = No limitation, 1= Limit to net stock, 2 = Do not keep stock for this item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.weightG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Weight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the weight of the item in gram.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.weightNetG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$WeightNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the net weight of the item in gram.</p></td>
</tr>
</tbody>
</table>
</main>