<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Item</span></a>
<ul class="sectlevel2">
<li><a href="#10"><span>1.1.</span><span> ageRestriction</span></a></li>
<li><a href="#20"><span>1.2.</span><span> amazonFbaPlatform</span></a></li>
<li><a href="#30"><span>1.3.</span><span> amazonFedas</span></a></li>
<li><a href="#40"><span>1.4.</span><span> amazonProductType</span></a></li>
<li><a href="#50"><span>1.5.</span><span> conditionApiId</span></a></li>
<li><a href="#60"><span>1.6.</span><span> conditionApiName</span></a></li>
<li><a href="#70"><span>1.7.</span><span> conditionId</span></a></li>
<li><a href="#80"><span>1.8.</span><span> conditionName</span></a></li>
<li><a href="#90"><span>1.9.</span><span> couponRestriction</span></a></li>
<li><a href="#110"><span>1.10.</span><span> customsTariffNumber</span></a></li>
<li><a href="#120"><span>1.11.</span><span> ebayCategory</span></a></li>
<li><a href="#130"><span>1.12.</span><span> ebayCategory2</span></a></li>
<li><a href="#140"><span>1.13.</span><span> ebayPresetId</span></a></li>
<li><a href="#150"><span>1.14.</span><span> ebayStoreCategory</span></a></li>
<li><a href="#160"><span>1.15.</span><span> ebayStoreCategory2</span></a></li>
<li><a href="#170"><span>1.16.</span><span> feedback</span></a></li>
<li><a href="#180"><span>1.17.</span><span> flagOne</span></a></li>
<li><a href="#190"><span>1.18.</span><span> flagTwo</span></a></li>
<li><a href="#210"><span>1.19.</span><span> free1 - free20</span></a></li>
<li><a href="#220"><span>1.20.</span><span> id</span></a></li>
<li><a href="#230"><span>1.21.</span><span> isSerialNumber</span></a></li>
<li><a href="#240"><span>1.22.</span><span> isShippableByAmazon</span></a></li>
<li><a href="#250"><span>1.23.</span><span> isShippingPackage</span></a></li>
<li><a href="#260"><span>1.24.</span><span> isSubscribable</span></a></li>
<li><a href="#270"><span>1.25.</span><span> itemType</span></a></li>
<li><a href="#280"><span>1.26.</span><span> manufacturerId</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Datenfelder, die dir beim Exportieren von Artikel- und Variantendaten zur Verfügung stehen.
Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a> und den <a href="/daten/daten-exportieren/elastischer-export">elastischer Export</a> hast.</p>
</div>
<hr>
</div>
</div><div class="sect1">
<h2 id="100">1. Item</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="10">1.1. ageRestriction</h3>
<div class="paragraph">
<p>Die Altersfreigabe des Artikels.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe 0</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>6</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe 6</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>9</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe 9</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>12</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe 12</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>14</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe 14</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>16</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe 16</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>18</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe 18</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>50</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(50) nicht gekennzeichnet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>88</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(88) Nicht erforderlich</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>99</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(99) noch nicht bekannt</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Altersfreigabe</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Für den Versand von Artikeln mit <strong>Altersfreigabe 18</strong> muss ein <a href="/fulfillment/versand-vorbereiten#1000">Versandprofil</a> verknüpft sein, bei dem die Option <strong>PostIdent</strong> aktiviert ist.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="20">1.2. amazonFbaPlatform</h3>
<div class="paragraph">
<p>Gibt den Amazon-Marktplatz des Artikels an, sofern der Artikel über FBA vermarktet wird.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nicht verwenden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">AMAZON_EU</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">AMAZON_FE</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">AMAZON_NA</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>-1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">FBA und SellerCentral</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Amazon » Dropdown-Liste: FBA-Abwicklung</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="30">1.3. amazonFedas</h3>
<div class="paragraph">
<p>FEDAS-Warengruppenschlüssel.
Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Amazon » FEDAS</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="40">1.4. amazonProductType</h3>
<div class="paragraph">
<p>Der Amazon-Produkttyp, der für den Artikel gewählt wurde.
Wird durch die Produkttyp-ID angegeben.
Der Produkttyp ist sozusagen die Amazon-Kategorie, unter der dieser Artikel erscheinen soll.
<a href="/maerkte/amazon/amazon-variantenexport">Wenn du deine Artikel an Amazon überträgst</a>, wirst du immer nur einen Produkttyp, d.h. eine Kategorie, auf einmal übertragen.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Amazon » Dropdown-Liste: Produkttyp</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Eine Übersicht der Amazon-Produkttypen kannst du <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plenty_article_amazon_type.csv" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen.
Die Tabelle enthält die Produkttypen und ihre entsprechenden IDs.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="50">1.5. conditionApiId</h3>
<div class="paragraph">
<p>Der API-Zustand des Artikels.
Wird durch die Zustand-ID angegeben.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[0] Neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[1] Gebraucht wie neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[2] Gebraucht sehr gut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[3] Gebraucht gut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[4] Gebraucht annehmbar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>5</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[5] B-Ware</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Zustand API</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Der API-Zustand wird für den Marktplatz <a href="/maerkte/amazon/amazon-einrichten">Amazon</a> verwendet.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="60">1.6. conditionApiName</h3>
<div class="paragraph">
<p>Der API-Zustand des Artikels.
Wird durch den Zustand-Namen angegeben.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Neu</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[0] Neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Gebraucht wie neu</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[1] Gebraucht wie neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Gebraucht sehr gut</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[2] Gebraucht sehr gut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Gebraucht gut</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[3] Gebraucht gut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Gebraucht annehmbar</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[4] Gebraucht annehmbar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>B-Ware</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[5] B-Ware</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Zustand API</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Der API-Zustand wird für den Marktplatz <a href="/maerkte/amazon/amazon-einrichten">Amazon</a> verwendet.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="70">1.7. conditionId</h3>
<div class="paragraph">
<p>Der Zustand des Artikels.
Wird durch die Zustand-ID angegeben.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[0] Neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[1] Gebraucht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[2] Neu &amp; OVP</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[3] Neu mit Etikett</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[4] B-Ware</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Zustand</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="80">1.8. conditionName</h3>
<div class="paragraph">
<p>Der Zustand des Artikels.
Wird durch den Zustand-Namen angegeben.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Neu</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[0] Neu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Gebraucht</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[1] Gebraucht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Neu &amp; OVP</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[2] Neu &amp; OVP</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Neu mit Etikett</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[3] Neu mit Etikett</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>B-Ware</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">[4] B-Ware</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Zustand</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="90">1.9. couponRestriction</h3>
<div class="paragraph">
<p>Gibt an, ob <a href="/pos/pos-einrichten#2100">Aktionsgutscheine</a> für diesen Artikel eingelöst werden können.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möglich</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verboten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur mit Gutschein kaufbar</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Aktionsgutschein/POS-Rabatt</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="110">1.10. customsTariffNumber</h3>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> Dieses Feld hat keine Funktion.
Verwende stattdessen das Feld <a href="/daten/daten-exportieren/FormatDesigner/format-typen/artikel#1010">Variation.customsTariffNumber</a>.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="120">1.11. ebayCategory</h3>
<div class="paragraph">
<p>Die eBay-Kategorie-ID für diesen Artikel.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Listing-Voreinstellungen » Eingabefeld: Kategorie 1 &amp; 2</a></p>
</div>
<div class="paragraph">
<p><strong><em>Anwendungsfall</em></strong>: im ersten Schritt erstellst du Listing-Vorlagen, die für alle Kategorien gelten. Dann im zweiten Schritt legst du die Kategorie-ID für jeden Artikel einzeln fest.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="130">1.12. ebayCategory2</h3>
<div class="paragraph">
<p>Die eBay-Kategorie-ID für diesen Artikel.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Listing-Voreinstellungen » Eingabefeld: Kategorie 1 &amp; 2</a></p>
</div>
<div class="paragraph">
<p><strong><em>Anwendungsfall</em></strong>: im ersten Schritt erstellst du Listing-Vorlagen, die für alle Kategorien gelten. Dann im zweiten Schritt legst du die Kategorie-ID für jeden Artikel einzeln fest.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="140">1.13. ebayPresetId</h3>
<div class="paragraph">
<p>Die <a href="/maerkte/ebay/ebay-einrichten#5500">Listing-Vorlage</a>, die mit diesem Artikel verknüpft wurde.
Wird durch die Listing-Vorlage-ID angegeben.
Die Listing-Vorlage-IDs findest du im Menü <strong>Listings » Listings</strong>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Listing-Voreinstellungen » Dropdown-Liste: Listing-Vorlage</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="150">1.14. ebayStoreCategory</h3>
<div class="paragraph">
<p>Die eBay-Shop-Kategorie-ID für diesen Artikel.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Listing-Voreinstellungen » Eingabefeld: Shop-Kategorie 1 &amp; 2</a></p>
</div>
<div class="paragraph">
<p><strong><em>Anwendungsfall</em></strong>: im ersten Schritt erstellst du Listing-Vorlagen, die für alle Shop-Kategorien gelten. Dann im zweiten Schritt legst du die Shop-Kategorien für jeden Artikel einzeln fest.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="160">1.15. ebayStoreCategory2</h3>
<div class="paragraph">
<p>Die eBay-Shop-Kategorie-ID für diesen Artikel.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Listing-Voreinstellungen » Eingabefeld: Shop-Kategorie 1 &amp; 2</a></p>
</div>
<div class="paragraph">
<p><strong><em>Anwendungsfall</em></strong>: im ersten Schritt erstellst du Listing-Vorlagen, die für alle Shop-Kategorien gelten. Dann im zweiten Schritt legst du die Shop-Kategorien für jeden Artikel einzeln fest.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="170">1.16. feedback</h3>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> Dieses Feld hat keine Funktion.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="180">1.17. flagOne</h3>
<div class="paragraph">
<p>Die erste Markierung des Artikels.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Jeder Artikel kann mit einer oder zwei Markierungen versehen werden.
Solche visuellen Unterstützungen helfen dir, die richtigen Artikel auf den ersten Blick zu finden.
Du kannst z.B. auch <a href="/artikel/einleitung/suche#100">gezielt nach Artikeln suchen</a>, die eine bestimmte Markierung oder Kombination von Markierungen haben.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="190">1.18. flagTwo</h3>
<div class="paragraph">
<p>Die zweite Markierung des Artikels.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Jeder Artikel kann mit einer oder zwei Markierungen versehen werden.
Solche visuellen Unterstützungen helfen dir, die richtigen Artikel auf den ersten Blick zu finden.
Du kannst z.B. auch <a href="/artikel/einleitung/suche#100">gezielt nach Artikeln suchen</a>, die eine bestimmte Markierung oder Kombination von Markierungen haben.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="210">1.19. free1 - free20</h3>
<div class="paragraph">
<p>Freitextfelder 1 bis 20</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="220">1.20. id</h3>
<div class="paragraph">
<p>Die ID des Artikels.
Die Artikel-ID ist eine eindeutige, fortlaufende Zahl, die plentymarkets zur exklusiven Zuordnung jedes Artikels benötigt.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="230">1.21. isSerialNumber</h3>
<div class="paragraph">
<p>Gibt an, ob die <a href="/artikel/anwendungsfaelle/seriennummern#800">Seriennummer dieses Artikel während eines Prozesses</a> gescannt werden kann.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Seriennummer</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="240">1.22. isShippableByAmazon</h3>
<div class="paragraph">
<p>Gibt an, ob die FBA-Funktion für diesen Artikel genutzt wird.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein. Häkchen ist nicht gesetzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja. Häkchen ist gesetzt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#45">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Amazon » Checkbox: Amazon FBA</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Dadurch können für diesen Artikel FBA-Bestände in plentymarkets importiert werden und Amazon Multi-Channel-Aufträge, die mit FBA versendet werden, können angemeldet werden.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="250">1.23. isShippingPackage</h3>
<div class="paragraph">
<p>Gibt an, ob es sich bei dem Artikel um ein <a href="/fulfillment/versand-vorbereiten#1900">Versandpaket</a> handelt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Versandpaket</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Versandpakete haben festgelegte Maße.
Falls du <a href="/artikel/artikel-verwalten#270">Maßangaben für eine Variante</a> einträgst, dann wird das passende Versandpaket automatisch zugeordnet.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="260">1.24. isSubscribable</h3>
<div class="paragraph">
<p>Gibt an, ob ein <a href="/auftraege/scheduler">Abonnement</a> für den Artikel verfügbar ist.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Abonnement</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Abonnements werden mit dem Scheduler abgebildet.
Der Scheduler ist ein eigenes Modul in plentymarkets und ermöglicht das regelmäßige Zusenden von Artikeln.
Das Menü für den Scheduler wird erst in plentymarkets sichtbar, wenn du das <a href="http://www.plentymarkets.eu/preise/">Modul gebucht</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> hast.</p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="270">1.25. itemType</h3>
<div class="paragraph">
<p>Gibt die Art des Artikels an.
Diese Einstellung wurde beim Erstellen des Artikels gewählt und kann nicht mehr geändert werden.
In den meisten Fällen hast du wahrscheinlich einen "normalen Artikel" erstellt, d.h. einen Artikel vom Typ <strong>Standard</strong>.</p>
</div>
<div class="paragraph">
<p>Die anderen Optionen sind für andere Anwendungsfälle vorgesehen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard</strong> = Einen normalen Artikel oder ein <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2000">Artikelpaket</a>.</p>
</li>
<li>
<p><strong>Set</strong> = Ein <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#3000">Artikelset</a>.</p>
</li>
<li>
<p><strong>Multipack</strong> = Einen <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#1000">Multipack-Artikel</a>.</p>
</li>
</ul>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="280">1.26. manufacturerId</h3>
<div class="paragraph">
<p>Der Hersteller des Artikels.
Wird durch die Hersteller-ID angegeben.
Die Hersteller-IDs findest du im Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/artikel-verwalten#40">Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Global » Bereich: Grundeinstellungen » Dropdown-Liste: Hersteller</a></p>
</div>
</div>
</div>
</div>
</main>