<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Item</span></a></li>
<li><a href="#200"><span>2.</span><span> ItemCrossSelling</span></a></li>
<li><a href="#300"><span>3.</span><span> ItemDescription</span></a></li>
<li><a href="#400"><span>4.</span><span> ItemImage</span></a></li>
<li><a href="#500"><span>5.</span><span> ItemSerialNumber</span></a></li>
<li><a href="#600"><span>6.</span><span> ItemShippingProfile</span></a></li>
<li><a href="#700"><span>7.</span><span> StockStorageLocation</span></a></li>
<li><a href="#800"><span>8.</span><span> Variation</span></a></li>
<li><a href="#850"><span>9.</span><span> VariationAdditionalSku</span></a></li>
<li><a href="#900"><span>10.</span><span> VariationAttributeValues</span></a></li>
<li><a href="#1000"><span>11.</span><span> VariationBarcode</span></a></li>
<li><a href="#1100"><span>12.</span><span> VariationBundle</span></a></li>
<li><a href="#1200"><span>13.</span><span> VariationCategory</span></a></li>
<li><a href="#1300"><span>14.</span><span> VariationClient</span></a></li>
<li><a href="#1400"><span>15.</span><span> VariationComment</span></a></li>
<li><a href="#1500"><span>16.</span><span> VariationDefaultCategory</span></a></li>
<li><a href="#1600"><span>17.</span><span> VariationEigenschaften</span></a></li>
<li><a href="#1700"><span>18.</span><span> VariationMarket</span></a></li>
<li><a href="#1800"><span>19.</span><span> VariationMarketIdentNumber</span></a></li>
<li><a href="#1900"><span>20.</span><span> VariationProperty</span></a></li>
<li><a href="#2000"><span>21.</span><span> VariationSalesPrice</span></a></li>
<li><a href="#2100"><span>22.</span><span> VariationSku</span></a></li>
<li><a href="#2200"><span>23.</span><span> VariationStock</span></a></li>
<li><a href="#2300"><span>24.</span><span> VariationSupplier</span></a></li>
<li><a href="#2400"><span>25.</span><span> VariationTag</span></a></li>
<li><a href="#2500"><span>26.</span><span> VariationWarehouse</span></a></li>
<li><a href="#2600"><span>27.</span><span> custom_value</span></a></li>
<li><a href="#2700"><span>28.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>item</strong> exportierst du Artikel- und Variantendaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Artikelexport stehen die in <a href="#tabelle-felder-artikel">Tabelle 1</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-artikel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Artikelexport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ageRestriction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonFbaPlatform</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Abwicklung (FBA)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonFedas</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-FEDAS</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonProductType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Produkttyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">conditionApiId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Zustands API</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">conditionApiName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Zustands API</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">conditionId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Zustands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">conditionName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Zustands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">couponRestriction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktionsgutschein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">customsTariffNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zolltarifnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayCategory</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing Kategorie 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayCategory2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing Kategorie 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayPresetId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-Vorlage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayStoreCategory</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing Shop-Kategorie 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayStoreCategory2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing Shop-Kategorie 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">feedback</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbewertung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">flagOne</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">flagTwo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">free1;<br>
free2;<br>
free3;<br>
…​<br>
free20</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Freitextfelder 1 bis 20</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSerialNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seriennummer (Ja/Nein)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isShippableByAmazon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versand durch Amazon (FBA)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isShippingPackage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandpaket (Ja/Nein)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSubscribable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abonnement (Ja/Nein)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manufacturerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manufacturerLogo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Logo des Herstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manufacturerName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Herstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">maximumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Max. Artikelbestellmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ownerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelposition</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producingCountryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellungsland</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producingCountryName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Herstellungslands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rakutenCategoryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rakuten.de-Kategorien</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">revenueAccount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlöskonto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storeSpecialId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Shop-Aktion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storeSpecialName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Shop-Aktion</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. ItemCrossSelling</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Cross-Selling-Verknüpfungen stehen die in <a href="#tabelle-felder-crossselling">Tabelle 2</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-crossselling" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von Cross-Selling-Verknüpfungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpften Cross-Selling-Artikel</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. ItemDescription</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Artikelbeschreibungen stehen die in <a href="#tabelle-felder-beschreibungen">Tabelle 3</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-beschreibungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von Artikelbeschreibungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeltext</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemDeepLink</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vollständiger Link zum Artikel einschließlich Domain</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Beschreibung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaKeywords</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Keywords</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">previewDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorschautext</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">technicalData</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Technische Daten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlPath</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL-Pfad des Artikels im Webshop, bestehend aus Kategorien und Artikelnamen</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. ItemImage</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Artikelbildern stehen die in <a href="#tabelle-felder-bilder">Tabelle 4</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-bilder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von Artikelbildern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allImages</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URLs aller Artikelbilder mit Position im Format<br>
url;position,url;position,etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der Erstellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fileType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dateiformat des Bilds (JPG, JPEG, PNG, GIF oder SVG)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">height</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe des Bilds in Pixeln</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">md5Checksum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der MD5-Hashwert der Bilddatei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">md5ChecksumOriginal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der MD5-Hashwert der Originalbilddatei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">size</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größe des Bilds in Pixeln</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlMiddle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der mittelgroßen Version des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der Vorschaubildversion des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der zweiten Vorschaubildversion des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">width</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite des Bilds in Pixeln</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. ItemSerialNumber</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Seriennummern stehen die in <a href="#tabelle-felder-seriennummern">Tabelle 5</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-seriennummern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Felder für Export von Seriennummern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Seriennummern</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">available</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Freie Seriennummern</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">used</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vergebene Seriennummern</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. ItemShippingProfile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von mit Artikeln verknüpften Versandprofilen stehen die in <a href="#tabelle-felder-itemshippingprofile">Tabelle 6</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-itemshippingprofile" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Felder für den Export von Artikel-Versandprofilen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allShippingProfileNames</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt eine kommaseparierte Liste der Namen der verknüpften Versandprofie aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allShippingProfiles</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt eine kommaseparierte Liste der ID der verknüpften Versandprofile aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">profileIslinked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Im Format das Versandprofil zuordnen. <strong>0</strong> = Nicht verlinkt, <strong>1</strong> = Verlinkt</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. StockStorageLocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Lagerorten stehen die in <a href="#tabelle-felder-lagerorte">Tabelle 7</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lagerorte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Felder für Export von Lagerorten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allIds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpfte Lagerort-IDs werden kommasepariert in einem Feld exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allNames</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpfte Lagerort-Namen werden kommasepariert in einem Feld exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">batch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Charge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bestBeforeDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindesthaltbarkeitsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerorts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">8. Variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Variantendaten stehen die in <a href="#tabelle-felder-varianten">Tabelle 8</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-varianten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Felder für Export von Variantendaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">automaticClientVisibility</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob die Variante in einem Mandanten sichtbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">automaticListVisibility</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob die Variante in einer Artikelliste sichtbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availabilityAverageDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittliche Lieferzeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availabilityId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Verfügbarkeit (1-10)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availabilityName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Verfügbarkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availabilityUpdatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Änderung der Verfügbarkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availableUntil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbar bis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bundleType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketart</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">categoryVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entweder die ID der Variante oder die ID der Hauptvariante des Artikels.<br>
ID der Variante = Kategorien werden nicht von der Hauptvariante geerbt.<br>
ID der Hauptvariante des Artikels = Kategorien werden von der Hauptvariante geerbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">clientVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entweder die ID der Variante oder die ID der Hauptvariante des Artikels.<br>
ID der Variante = Mandanten werden nicht von der Hauptvariante geerbt.<br>
ID der Hauptvariante des Artikels = Mandanten werden von der Hauptvariante geerbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der Erstellung der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">customs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zoll in Prozent</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">defaultShippingCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Standardversandkosten der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">estimatedAvailableAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Voraussichtliches Versanddatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Varianten-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">extraShippingCharge1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Portoaufschlag 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">extraShippingCharge2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Portoaufschlag 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleMovingAveragePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob den gleitenden Nettoeinkaufspreis <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleNetWeight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Nettogewicht <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundlePurchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob den Nettoeinkaufspreis <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleWeight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Bruttogewicht <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">heightMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe in mm</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">intervalOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Intervallbestellmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist aktiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isAvailableIfNetStockIsPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbar wenn Netto-WB positiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isHiddenInCategoryList</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unsichtbar in Artikellisten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isInvisibleIfNetStockIsNotPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Webshop: unsichtbar wenn kein Netto-WB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isInvisibleInListIfNetStockIsNotPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unsichtbar in Artikelliste wenn kein Netto-WB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isMain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ist Hauptvariante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isUnavailableIfNetStockIsNotPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nicht verfügbar wenn kein Netto-WB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isVisibleIfNetStockIsPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Webshop: sichtbar wenn Netto-WB positiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isVisibleInListIfNetStockIsPositive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sichtbar in Artikelliste wenn Netto-WB positiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lengthMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länge in mm</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mainVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Hauptvariante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mainWarehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Hauptlagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entweder die ID der Variante oder die ID der Hauptvariante des Artikels.<br>
ID der Variante = Marktplätze werden nicht von der Hauptvariante geerbt.<br>
ID der Hauptvariante des Artikels = Marktplätze werden von der Hauptvariante geerbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">maximumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximale Bestellmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mayShowUnitPrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis anzeigen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">minimumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimale Bestellmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">model</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modell</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">movingAveragePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">GLD EK netto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">operatingCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betriebskosten in Prozent</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packingUnitTypeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einheit der Packstücke</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packingUnits</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Packstücke</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">palletTypeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lademittels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentVariationID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zurzeit nicht in Verwendung<br>
ID der übergeordneten Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentVariationQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zurzeit nicht in Verwendung<br>
Anzahl der übergeordneten Varianten, die diese Variante beinhaltet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">picking</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kommissionierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">priceCalculationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preiskalkulation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">propertyVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entweder die ID der Variante oder die ID der Hauptvariante des Artikels.<br>
ID der Variante = Merkmale werden nicht von der Hauptvariante geerbt.<br>
ID der Hauptvariante des Artikels = Merkmale werden von der Hauptvariante geerbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EK netto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">relatedUpdatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Änderung der verknüpften Daten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">releasedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erscheinungsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesPriceVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entweder die ID der Variante oder die ID der Hauptvariante des Artikels.<br>
ID der Variante = Verkaufspreise werden nicht von der Hauptvariante geerbt.<br>
ID der Hauptvariante des Artikels = Verkaufspreise werden von der Hauptvariante geerbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesRank</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Verkaufsrang der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">singleItemCount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zurzeit nicht in Verwendung<br>
Anzahl der Einzelartikel in der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockLimitation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">WB Beschränkung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerkosten netto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">supplierVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entweder die ID der Variante oder die ID der Hauptvariante des Artikels.<br>
ID der Variante = Lieferanten werden nicht von der Hauptvariante geerbt.<br>
ID der Hauptvariante des Artikels = Lieferanten werden von der Hauptvariante geerbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tagVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob die Tags vererbt werden oder nicht.<br>
Vererbt = Wert entspricht der mainVariationId<br>
Nicht vererbt = Wert entspricht der variationId</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">transportationCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transportkosten netto</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit.content</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge der Einheit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit.unitId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Einheit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit.unitName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Einheit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unitsContained</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VPE</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Änderung der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vatId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Steuersatzes<br>
A = 0<br>
B = 1<br>
C = 2<br>
D = 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entweder die ID der Variante oder die ID der Hauptvariante des Artikels.<br>
ID der Variante = Lager werden nicht von der Hauptvariante geerbt.<br>
ID der Hauptvariante des Artikels = Lager werden von der Hauptvariante geerbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weightG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht brutto g</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weightNetG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht netto g</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">widthMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite in mm</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="850">9. VariationAdditionalSku</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von zusätzlichen SKUs stehen die in <a href="#tabelle-felder-additional-sku">Tabelle 9</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-additional-sku" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Felder für Export von zusätzlichen SKUs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der Erstellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einzigartige ID der Verknüpfung zwischen der zusätzlichen SKU und der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketAccountId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Marktplatzkontos</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Marktplatzes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sku</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">10. VariationAttributeValues</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Attributwerten stehen die in <a href="#tabelle-felder-attributwerte">Tabelle 10</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-attributwerte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Felder für Export von Attributwerten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwerte</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">11. VariationBarcode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Barcodes stehen die in <a href="#tabelle-felder-barcodes">Tabelle 11</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-barcodes" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Felder für Export von Barcodes</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für den gewählten Barcode gespeicherter Code</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">12. VariationBundle</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Paketen stehen die in <a href="#tabelle-felder-pakete">Tabelle 12</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-pakete" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 12. Felder für Export von Paketen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">components</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketbestandteile im Format<br>
Komponente:Menge;Komponente:Menge</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">13. VariationCategory</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von mit Varianten verknüpften Kategorien stehen die in <a href="#tabelle-felder-kategoriedaten">Tabelle 13</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-kategoriedaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 13. Felder für Export von Kategoriedaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allCategories</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen der verknüpften Kategorien (kommasepariert)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allCategoryIds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IDs der verknüpften Kategorien (kommasepariert)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">14. VariationClient</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Mandantverfügbarkeiten stehen die in <a href="#tabelle-felder-mandanten">Tabelle 14</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-mandanten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 14. Felder für Export von Mandantverfügbarkeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit für den gewählten Mandanten</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1400">15. VariationComment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Notizen stehen die in <a href="#tabelle-felder-notizen">Tabelle 15</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-notizen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 15. Felder für Export von Notizen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notiztext</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1500">16. VariationDefaultCategory</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Standardkategorien stehen die in <a href="#tabelle-felder-standardkategorien">Tabelle 16</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-standardkategorien" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 16. Felder für Export von Standardkategorien</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">branchId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manually</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob die Standardkategorie automatisch vergeben wurde.<br>
1 = Ja, die Standardkategorie wurde automatisch vergeben.<br>
0 oder leeres Feld = Nein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1600">17. VariationEigenschaften</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Eigenschaften stehen die in <a href="#tabelle-felder-eigenschaften">Tabelle 17</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigenschaften" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 17. Felder für Export von Eigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Eigenschaften im Format<br>
name:wert:sprache;name:wert:sprache</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">cast</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ der Eigenschaft<br>
int = Ganze Zahl<br>
float = Kommazahl<br>
select = Auswahl<br>
date = Datum<br>
file = Datei<br>
empty = Kein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Eigenschaft</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">linked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IDs der verlinkten Eigenschaften</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaftenwert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1700">18. VariationMarket</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Marktplatzverfügbarkeiten stehen die in <a href="#tabelle-felder-maerkte">Tabelle 18</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-maerkte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 18. Felder für Export von Marktplatzverfügbarkeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit für den gewählten Marktplatz</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1800">19. VariationMarketIdentNumber</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von ASIN und ePID stehen die in <a href="#tabelle-felder-asin-epid">Tabelle 19</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-asin-epid" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 19. Felder für Export von ASIN und ePID</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Landes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ (ASIN oder ePID)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">20. VariationProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Merkmalen stehen die in <a href="#tabelle-felder-merkmale">Tabelle 20</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-merkmale" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 20. Felder für Export von Merkmale</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Werte aller Merkmale (semikolonsepariert), bei Merkmalen des Typs <strong>Auswahl</strong> und <strong>Text</strong> mit Sprache<br>
<em>Beispiel:</em> 512;"EinText":"de"</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allIds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Merkmal-IDs (semikolonsepariert)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmalwert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2000">21. VariationSalesPrice</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Preisen stehen die in <a href="#tabelle-felder-preise">Tabelle 21</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-preise" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 21. Felder für Export von Preisen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">netPrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für den gewählten Verkaufspreis gespeicherte netto Preise</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für den gewählten Verkaufspreis gespeicherte brutto Preise</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2100">22. VariationSku</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von SKUs stehen die in <a href="#tabelle-felder-sku">Tabelle 22</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-sku" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 22. Felder für Export von SKU</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accountId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Marktplatzkontos</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Marktplatzes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentSku</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Parent-SKU</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sku</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2200">23. VariationStock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Bestand stehen die in <a href="#tabelle-felder-bestand">Tabelle 23</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-bestand" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 23. Felder für Export von Bestand</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deltaReorderLevel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benötigte nachbestellte Menge, um den Meldebestand zu erreichen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">netStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">physicalStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Physischer Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reorderLevel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Warenbestand + nachbestellte Menge + Reorder Level Delta</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reservedBundles</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Artikelpakete reservierte Menge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reservedListing</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Listings reservierte Menge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reservedStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reservierter Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valueOfGoods</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenwert (Einkaufspreis * Physischer Warenbestand)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">virtualPhysicalStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesamter physischer Warenbestand; Warenbestand von allen Lagern mit dem Lager-Typ = 0 (Vertrieb)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2300">24. VariationSupplier</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Lieferantendaten stehen die in <a href="#tabelle-felder-lieferanten">Tabelle 24</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lieferanten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 24. Felder für Export von Lieferantendaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpfte Lieferanten-IDs, Namen, EKs und Verknüpfungs-IDs werden kommasepariert in einem Feld exportiert.<br>
ID, Name, EK und Verknüpfungs-ID eines einzigen Lieferantens werden mit Doppelpunkt getrennt. Unterschiedliche Lieferanten werden mit Semikolon getrennt. Beispiel:<br>
id:supplierId:supplierName:purchasePrice;…​</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allIds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpfte Lieferanten-IDs werden kommasepariert in einem Feld exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allNames</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpfte Lieferanten-Namen werden kommasepariert in einem Feld exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deliveryTimeInDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferzeit in Tagen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabatt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isDiscountable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattfähigkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanten-Artikel-Nr.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastPriceQuery</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzte Preisanfrage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastUpdateTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">minimumPurchase</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestabnahme</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packagingUnit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verpackungseinheit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis (EK)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">supplierId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lieferanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">supplierPriceList</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferantenpreisliste im Format<br>
SupplierID:SupplierRowID,PurchasePrice:MinimumPurchase;…​.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">supplierRowId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferantenverknüpfungs-ID</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2400">25. VariationTag</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von mit Varianten verknüpften Tags stehen die in <a href="#tabelle-felder-tags">Tabelle 25</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-tags" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 25. Felder für Export von Varianten-Tags</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tagId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tagIds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-IDs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tagName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tagNames</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-Namen</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2500">26. VariationWarehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Lagerdaten stehen die in <a href="#tabelle-felder-lager">Tabelle 26</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 26. Felder für Export von Lagerdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allIds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpfte Lager-IDs werden kommasepariert in einem Feld exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allNames</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle verknüpfte Lager-Namen werden kommasepariert in einem Feld exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isBatch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Chargen aktiviert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isBestBeforeDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindesthaltbarkeitsdatum aktiviert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastUpdateTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">maximumStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximalbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reorderLevel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldebestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockBuffer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandspuffer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockTurnoverInDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerreichweite in Tagen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort-Vorschlag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort-Typ</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseZoneId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Lagerzone</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2600">27. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigene-werte">Tabelle 27</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 27. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2700">28. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 28</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 28. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>