<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Item</span></a></li>
<li><a href="#200"><span>2.</span><span> ItemImage</span></a></li>
<li><a href="#300"><span>3.</span><span> ItemImageAvailability</span></a></li>
<li><a href="#400"><span>4.</span><span> ItemImageName</span></a></li>
<li><a href="#500"><span>5.</span><span> custom_value</span></a></li>
<li><a href="#600"><span>6.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelbilder</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>itemImage</strong> exportierst du Artikelbilder.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export stehen die in <a href="#tabelle-felder-artikelbilder-artikel">Tabelle 1</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-artikelbilder-artikel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Artikelexport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mainVariationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Hauptvariante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mainVariationNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Hauptvariante</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. ItemImage</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export stehen die in <a href="#tabelle-felder-artikelbilder-artikelbilder">Tabelle 2</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-artikelbilder-artikelbilder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von Artikelbildern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der Erstellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fileType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dateiformat des Bilds (JPG, JPEG, PNG, GIF oder SVG)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">height</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe des Bilds in Pixeln</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">linkedVariations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IDs der Varianten, die mit dem Bild verknüpft sind (kommasepariert)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">md5Checksum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der MD5-Hashwert der Bilddatei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">md5ChecksumOriginal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der MD5-Hashwert der Originalbilddatei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">path</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">size</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größe des Bilds in Pixeln</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlMiddle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der mittelgroßen Version des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der Vorschaubildversion des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der zweiten Vorschaubildversion des Bilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">width</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite des Bilds in Pixeln</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. ItemImageAvailability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export stehen die in <a href="#tabelle-felder-artikelbilder-artikelbilderverfuegbar">Tabelle 3</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-artikelbilder-artikelbilderverfuegbar" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von Artikelbilderverfügbarkeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. ItemImageName</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export stehen die in <a href="#tabelle-felder-artikelbilder-artikelbildnamen">Tabelle 4</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-artikelbilder-artikelbildnamen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von Artikelbildnamen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">alternate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternativtext des Artikelbilds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Artikelbilds</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-artikelbilder-eigene-werte">Tabelle 5</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-artikelbilder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert für den Export</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 6</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>