<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Facet</span></a></li>
<li><a href="#200"><span>2.</span><span> FacetName</span></a></li>
<li><a href="#300"><span>3.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>4.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>facet</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>facet</strong> exportierst du Facetten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Facet</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-fields-Facet">Tabelle 1</a> werden Felder erläutert, die für den Export von Facettendaten zur Verfügung stehen.</p>
</div>
<table id="table-fields-Facet" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Facettendaten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Feld</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>cssClass</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/frontend-artikelsuche-verwalten#120">CSS-Klasse</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>filterMethod</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/artikel/frontend-artikelsuche-verwalten#120">Auswahlart</a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bezeichnung in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Bezeichnung in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">restrict</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einschränkend</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">multi</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrfach</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>id</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Facette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>maxResultCount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/frontend-artikelsuche-verwalten#120">Maximal angezeigte Facettenwerte</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>minResultCount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/frontend-artikelsuche-verwalten#120">Minimale Trefferanzahl</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/frontend-artikelsuche-verwalten#120">Position</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>sort</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/artikel/frontend-artikelsuche-verwalten#120">Sortierung</a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bezeichnung in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Bezeichnung in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trefferquote</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">a_z</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A-Z</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/artikel/frontend-artikelsuche-verwalten#120">Typ</a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bezeichnung in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Bezeichnung in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dynamic</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut/Merkmal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. FacetName</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-fields-FacetName">Tabelle 2</a> werden Felder erläutert, die für den Export vom Namen der Facette zur Verfügung stehen.</p>
</div>
<table id="table-fields-FacetName" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für den Export vom Namen der Facette</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Feld</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Facettenname in der Systemsprache. Also der Name, der beim <a href="/artikel/frontend-artikelsuche-verwalten#100">Anlegen der Facette</a> eingetragen wurde.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-lager-eigene-werte">Tabelle 3</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 4</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>