<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Listing</span></a></li>
<li><a href="#200"><span>2.</span><span> ListingMarket</span></a></li>
<li><a href="#300"><span>3.</span><span> ListingMarketDate</span></a></li>
<li><a href="#400"><span>4.</span><span> ListingMarketInfo</span></a></li>
<li><a href="#500"><span>5.</span><span> ListingMarketPrice</span></a></li>
<li><a href="#600"><span>6.</span><span> ListingMarketProperty</span></a></li>
<li><a href="#700"><span>7.</span><span> ListingMarketSpecific</span></a></li>
<li><a href="#800"><span>8.</span><span> ListingMarketText</span></a></li>
<li><a href="#900"><span>9.</span><span> ListingProperty</span></a></li>
<li><a href="#1000"><span>10.</span><span> custom_value</span></a></li>
<li><a href="#1100"><span>11.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Listing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>Listing</strong> exportierst du Listings.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Listing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing">Tabelle 1</a> werden Felder erläutert, die für den Export von Listing-Daten zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Export von Listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eintrags in der Tabelle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockDependenceTypeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Bestandsabhängigkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-Typ-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unitCombinationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Listing-Inhalts</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. ListingMarket</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing-market">Tabelle 2</a> werden Felder erläutert, die für den Export von Market-Listing-Daten zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing-market" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von Market-Listings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allVariations</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit allen Varianten listen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem das Market-Listing erstellt wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">credentialsId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des eBay-Kontos</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directoryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Verzeichnisses</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">duration</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dauer in Tagen oder GTC</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">enabled</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob das Listing freigeschaltet ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eintrags in der Tabelle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">listingId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Auftragsherkunft</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem das Market-Listing aktualisiert wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-Nr.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">verified</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status der Listing-Prüfung</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. ListingMarketDate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing-market-date">Tabelle 3</a> werden Felder erläutert, die für den Export von Datumsinformationen zu Market-Listings zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing-market-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von Market-Listing-Daten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert für das Datum des Market-Listings. Mögliche Zuordnungen:<br>
Letzte Preisänderung<br>
Letzter Einstellversuch<br>
Startzeit<br>
Endzeit</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. ListingMarketInfo</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing-market-info">Tabelle 4</a> werden Felder erläutert, die für den Export von Fehlerinformationen zu Market-Listings zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing-market-info" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von Market-Listing-Daten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fehlercode, wenn es bei der Prüfung des Listings einen Fehler gab. Hier kann ein Fehlercode von plentymarkets oder eBay angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem die Fehlermeldung erstellt wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eintrags in der Tabelle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">listingMarketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">message</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fehlermeldung in Textform zum Fehlercode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ des Fehlers zum Fehlercode und Fehlermeldung</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. ListingMarketPrice</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing-market-price">Tabelle 5</a> werden Felder erläutert, die für den Export von Preisinformationen zu Market-Listings zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing-market-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Felder für Export von Market-Listing-Preisen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert für den Preis des Market-Listings. Mögliche Zuordnungen:<br>
Startpreis<br>
Festpreis<br>
Mindestpreis<br>
SCO-Mindestpreis</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. ListingMarketProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing-market-property">Tabelle 6</a> werden Felder erläutert, die für den Export von Eigenschaften von Market-Listings zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing-market-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Felder für Export von Market-Listing-Eigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-Eigenschaft. Mögliche Zuordnungen:<br>
Versandprofil-ID<br>
Auftragsstatus<br>
Layout-Vorlagen-ID<br>
Anzahl der Bilder<br>
Lager-ID<br>
Grundpreisangabe ergänzen<br>
Mehrwertsteuersatz<br>
MwSt.-Land<br>
Sprache<br>
Anzahl je Posten<br>
Als Artikelnummer übertragen<br>
Wiedereingestellte externe Listing-ID<br>
Second Chance Offer<br>
Sonderaktion<br>
UUID<br>
Listing fehlerhaft<br>
Mit allen Varianten listen<br>
Listing beenden<br>
Erstellt durch<br>
Zahlungsarten<br>
Kategorie-ID 1<br>
Kategorie-ID 2<br>
Shop-Kategorie-ID 1<br>
Shop-Kategorie-ID 2<br>
Shop-Kategorie-ID 3<br>
Zusatzoptionen<br>
Fahrzeugverwendungslisten-ID<br>
eBay parallel aktive Market-Listings<br>
eBay-Privat-Auktion<br>
eBay-Galerietyp<br>
eBay-Premium-Angebot<br>
eBay UVP übertragen<br>
eBay-Besucherzähler<br>
eBay-Zustands-ID<br>
eBay-Zustandsbeschreibung<br>
eBay-Preisvorschlag<br>
eBay-Preisvorschlag-Typ<br>
eBay-Mindestpreis ablehnen<br>
eBay-Mindestpreis annehmen<br>
eBay Plus<br>
eBay Click &amp; Collect<br>
eBay-Bilderservice verwenden<br>
Ansicht auf Hood-Shop-Startseite<br>
Hood-Versandrabatt<br>
Hood-Lieferzeit bei Bestand ab (in Tagen)<br>
Hood-Lieferzeit bei Bestand bis (in Tagen)<br>
Hood-Lieferzeit ohne Bestand ab (in Tagen)<br>
Hood-Lieferzeit ohne Bestand bis (in Tagen)<br>
ricardo-Garantie-ID<br>
ricardo-Lieferkonditionen<br>
ricardo-Verfügbarkeits-ID
ricardo-Lieferkosten<br>
ricardo-Zahlungskondition-ID<br>
ricardo-Erhöhungsschritt<br>
ricardo-Zustands-ID<br>
ricardo Anzahl Reaktivierungen<br>
ricardo Separate Lieferkosten für jeden einzelnen Artikel<br>
ricardo-Packungsgröße<br>
ricardo Alternative Sprache verwenden<br>
ricardo-Template-ID<br>
ricardo Reaktivierung bis Ausverkauf</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. ListingMarketSpecific</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing-market-specific">Tabelle 7</a> werden Felder erläutert, die für den Export von Merkmalen von Market-Listings zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing-market-specific" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Felder für Export von Market-Listing-Merkmalen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eintrags in der Tabelle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">listingMarketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">8. ListingMarketText</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing-market-text">Tabelle 8</a> werden Felder erläutert, die für den Export von Market-Listing-Texten zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing-market-text" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Felder für Export von Market-Listing-Texten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung des Market-Listings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eintrags in der Tabelle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">listingMarketId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">subtitle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Untertitel des Market-Listings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Market-Listings</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">9. ListingProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-listing-property">Tabelle 9</a> werden Felder erläutert, die für den Export von Listing-Eigenschaften zur Verfügung stehen.</p>
</div>
<table id="tabelle-listing-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Felder für Export von Listing-Eigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert für Listing-Eigenschaft. Mögliche Zuordnungen:<br>
An Artikelpreis binden<br>
Anzahl je Posten<br>
Als Artikelnummer übertragen</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">10. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-custom-value">Tabelle 10</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-custom-value" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">11. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-date">Tabelle 11</a> aufgeführte Feld zur Verfügung.</p>
</div>
<table id="tabelle-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>