<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Category</span></a></li>
<li><a href="#200"><span>2.</span><span> CategoryClient</span></a></li>
<li><a href="#300"><span>3.</span><span> CategoryDetail</span></a></li>
<li><a href="#400"><span>4.</span><span> custom_value</span></a></li>
<li><a href="#500"><span>5.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>category</strong> exportierst du Kategorien.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kategorien">Tabelle 1</a> werden Felder erläutert, die für den Export von Kategoriedaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kategorien" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Export von Kategorien</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die ID der Kategorie.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">level</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kategorieebene</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">linklist</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In Linkliste (Y/N)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentCategoryID</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ID der übergeordneten Kategorie</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentCategoryName</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name der übergeordneten Kategorie</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">right</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sichtbar<br>
all = Kategorie und alle Unterkategorien sind öffentlich sichtbar<br>
customer = Kategorie und alle Unterkategorien sind nur für eingeloggte Webshop-Besucher sichtbar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sitemap</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sitemap</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Kategorie-Typ, d.h. wofür die Kategorie verwendet wird.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>item</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel.
Warengruppen, die dazu dienen, Produkte übersichtlich zu gruppieren. <a href="/artikel/einstellungen/kategorien#200">Neu angelegte Kategorien</a> haben standardmäßig den Typ <strong>Artikel</strong>.<br>
Hast du <a href="/artikel/einstellungen/kategorien#1300">eine Kategorie bereits mit Artikeln verknüpft</a> und änderst du den Typ von <strong>Artikel</strong> zu <strong>Content</strong>, werden die Artikelverknüpfungen nicht automatisch gelöscht. Allerdings ist die Kategorie am Artikeldatensatz nicht mehr sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>container</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Container.
Dieser Kategorietyp ist ohne Funktion. Er galt nur für den inzwischen veralteten "Callisto" Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>content</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Content.
Content-Seiten für den plentyShop, z.B. Informationsseiten wie AGBs, Zahlungs- und Versandinformationen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>blog</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blog.
Schreibst du ein <a href="/webshop/ceres-einrichten#970">Blog für dein plentyShop</a>? Mit Blogkategorien kannst du deine Beiträge unter bestimmten Themen einordnen, beispielsweise "Neuigkeiten" oder "Über uns".</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/kategorien#700">Artikel » Kategorien » [Kategorie öffnen] » Tab: Einstellungen » Dropdown-Liste: Typ</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zeitstempel der letzten Aktualisierung</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. CategoryClient</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kategorie-mandant">Tabelle 2</a> werden Felder erläutert, die für den Export von Kategoriedaten eines Mandanten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kategorie-mandant" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von Kategorien eines Mandanten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiv für Mandaten?</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. CategoryDetail</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kategorien-detail">Tabelle 3</a> werden Felder erläutert, die für den Export von Kategoriedetails zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kategorien-detail" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von Kategoriedetails</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der im Tab <strong>Beschreibung 1</strong> gespeicherte Text und HTML-Formatierungen.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/kategorien#800">Artikel » Kategorien » [Kategorie öffnen] » Tab: Beschreibung 1</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description2</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der im Tab <strong>Beschreibung 2</strong> gespeicherte Text und HTML-Formatierungen.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/kategorien#800">Artikel » Kategorien » [Kategorie öffnen] » Tab: Beschreibung 2</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fullText</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Volltextsuche.
Diese Funktion ist veraltet. Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemListView</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Template-Liste.
Diese Funktion ist veraltet. Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaDescription</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Meta-Beschreibung der Kategorie.
Die Meta-Beschreibung wird von Suchmaschinen ausgewertet und ist daher besonders für die Startseite wichtig.
Die Meta-Beschreibung soll den wesentlichen Inhalt in einem Satz enthalten.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/kategorien#700">Artikel » Kategorien » [Kategorie öffnen] » Tab: Einstellungen » Eingabefeld: Meta-Beschreibung</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaKeywords</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Stichwörter der Kategorie.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/kategorien#700">Artikel » Kategorien » [Kategorie öffnen] » Tab: Einstellungen » Eingabefeld: Meta-Keywords</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaRobots</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Robots</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaTitle</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Meta-Titel der Kategorie.
Der Meta-Titel wird als Tab-Titel im Webbrowser und als Suchergebnis in Suchmaschinen angezeigt.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/kategorien#700">Artikel » Kategorien » [Kategorie öffnen] » Tab: Einstellungen » Eingabefeld: Meta-Titel</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Name der Kategorie.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/kategorien#700">Artikel » Kategorien » [Kategorie öffnen] » Tab: Einstellungen » Eingabefeld: Name</a></p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Der gleiche Kategoriename kann in unterschiedlichen Kategorien auf derselben Ebene verwendet werden.
Innerhalb einer Kategorie darf der Name jedoch pro Ebene nur einmal verwendet werden.</p>
</div>
<div class="paragraph">
<p><strong><em>SEO-Tipp</em></strong>: Hinterlege unterschiedliche Meta-Titel und Meta-Beschreibungen für Kategorien des gleichen Namens.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">nameUrl</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der URL-Name der Kategorie.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/kategorien#700">Artikel » Kategorien » [Kategorie öffnen] » Tab: Einstellungen » Eingabefeld: URL-Name</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pageView</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Template-Seite.
Diese Funktion ist veraltet. Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Position</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">previewUrl</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL der Kategorie</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shortDescription</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kurzbeschreibung</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">singleItemView</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Template-Produkt.
Diese Funktion ist veraltet. Sie galt nur für den inzwischen veralteten "Callisto" Webshop.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigene-werte">Tabelle 4</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 5</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>