<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Attribute</span></a></li>
<li><a href="#150"><span>2.</span><span> AttributeMap</span></a></li>
<li><a href="#200"><span>3.</span><span> AttributeName</span></a></li>
<li><a href="#300"><span>4.</span><span> AttributeValue</span></a></li>
<li><a href="#330"><span>5.</span><span> AttributeValueMap</span></a></li>
<li><a href="#360"><span>6.</span><span> AttributeValueMarketName</span></a></li>
<li><a href="#400"><span>7.</span><span> AttributeValueName</span></a></li>
<li><a href="#500"><span>8.</span><span> custom_value</span></a></li>
<li><a href="#600"><span>9.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>attribute</strong> exportierst du Attribute.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Attribute</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-attribute">Tabelle 1</a> werden Felder erläutert, die für den Export von Attributdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-attribute" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Export von Attributen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Backend-Namen aller Attributwerte werden kommasepariert exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">amazonAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Attribut des Marketplatzes Amazon, das mit diesem Attribut verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fruugoAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Attribut des Marketplatzes Fruugo, das mit diesem Attribut verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">googleShoppingAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Attribut des Marketplatzes Google Shopping, das mit diesem Attribut verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isGroupable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppierbar in Artikellisten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isLinkableToImage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bildverknüpfung möglich</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSurchargePercental</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob der Aufpreis ein Prozentwert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">laRedouteAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Attribut des Marketplatzes La Redoute, das mit diesem Attribut verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">neckermannAtEpAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Attribut des Marketplatzes Neckermann AT EP, das mit diesem Attribut verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ottoAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Attribut des Marketplatzes Otto, das mit diesem Attribut verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pixmaniaAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Attribut des Marketplatzes Pixmania, das mit diesem Attribut verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeOfSelectionInOnlineStore</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl im Webshop<br>
(dropdown, image oder box)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">2. AttributeMap</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-fields-attributemap">Tabelle 2</a> werden Felder erläutert, die für den Export von Informationen zur Verknüpfung zwischen Attribut und Marktplatz zur Verfügung stehen.</p>
</div>
<table id="table-fields-attributemap" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von Informationen zur Verknüpfung zwischen Attribut und Marktplatz</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketInformation1;<br>
marketInformation2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Informationen zur Verknüpfung zwischen Attribut und Marktplatz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Informationen zur Verknüpfung zwischen Attribut und Marktplatz</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">3. AttributeName</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-attributename">Tabelle 3</a> werden Felder erläutert, die für den Export von Attributnamen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-attributename" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von Attributnamen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributs</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">4. AttributeValue</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-attributwerte">Tabelle 4</a> werden Felder erläutert, die für den Export von Attributwerten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-attributwerte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von Attributwerte</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name des Attributwerts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">comment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Kommentar zum Attributwert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Bilds, das mit dem Attributwert verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">laRedouteValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert des Marktplatzes La Redoute, das mit diesem Attributwert verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">neckermannAtEpValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert des Marktplatzes Neckermann AT EP, das mit diesem Attributwert verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ottoValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert des Marktplatzes Otto, das mit diesem Attributwert verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">percentageDistribution</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentualer Anteil</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postition des Attributwerts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">tracdelightValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert des Marktplatzes tracdelight, das mit diesem Attributwert verknüpft ist</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="330">5. AttributeValueMap</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-fields-attributevaluemap">Tabelle 5</a> werden Felder erläutert, die für den Export von Informationen zur Verknüpfung zwischen Attributwert und Marktplatz zur Verfügung stehen.</p>
</div>
<table id="table-fields-attributevaluemap" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Felder für Export von Informationen zur Verknüpfung zwischen Attributwert und Marktplatz</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketInformation1;<br>
marketInformation2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Informationen zur Verknüpfung zwischen Attributwert und Marktplatz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Informationen zur Verknüpfung zwischen Attributwert und Marktplatz</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="360">6. AttributeValueMarketName</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-fields-attributevaluemarketname">Tabelle 6</a> werden Felder erläutert, die für den Export von Attributwertnamen von Märkten zur Verfügung stehen.</p>
</div>
<table id="table-fields-attributevaluemarketname" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Felder für Export von Attributwertnamen von Märkten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name;<br>
name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der gemappte Wert für Amazon</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">7. AttributeValueName</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-attributwertnamen">Tabelle 7</a> werden Felder erläutert, die für den Export von Attributwertnamen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-attributwertnamen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Felder für Export von Attributwertnamen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributwerts</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">8. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigene-werte">Tabelle 8</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">9. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 9</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>