<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> facetValueReference</span></a></li>
<li><a href="#300"><span>2.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>3.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>facetValueReference</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>facetValueReference</strong> exportierst du Facettenwert-Verknüpfungen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. facetValueReference</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-fields-facetValueReference">Tabelle 1</a> werden Felder erläutert, die für den Export von Facettenwert-Verknüpfungen zur Verfügung stehen.</p>
</div>
<table id="table-fields-facetValueReference" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Facettenwert-Verknüpfungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">facetId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Facette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">facetValueId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/frontend-artikelsuche-verwalten#140">ID des Facettenwertes</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">groupId</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interne ID der Facetten-Verknüpfung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/artikel/frontend-artikelsuche-verwalten#120">Typ</a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bezeichnung in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Bezeichnung in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property-selection</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/eigenschaften#600">Eigenschaft des Typs "Auswahl"</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">character</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkmal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valueId</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>ID hängt vom Facettentyp ab</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ in CSV-Datei</th>
<th class="tableblock halign-left valign-top">ID entspricht…​</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/attribute#200">Attributwert-ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/eigenschaften#600">Eigenschaft-ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">property-selection</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/eigenschaften#700">Eigenschaftwert-ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">character</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/eigenschaften#300">Merkmal-ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">producer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/hersteller#100">Hersteller-ID</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">availability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/verfuegbarkeiten#100">Verfügbarkeits-ID</a></p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">2. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-lager-eigene-werte">Tabelle 2</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">3. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 3</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>