<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Manufacturer</span></a></li>
<li><a href="#200"><span>2.</span><span> custom_value</span></a></li>
<li><a href="#300"><span>3.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Hersteller</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite beschreibt die Datenfelder, die dir beim Export von Herstellerdaten mit den Tools <strong>FormatDesigner</strong> und <strong>Elastischer Export</strong> zur Verfügung stehen.
Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über die Tools <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a> und <a href="/daten/daten-exportieren/elastischer-export">Elastischer Export</a> hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Manufacturer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Herstellerdaten stehen die in <a href="#tabelle-felder-hersteller">Tabelle 1</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-hersteller" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Export von Herstellerdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>comment</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ein Kommentar über den Hersteller.
Dies ist ein interner Kommentar, d.h. er ist nur in deinem plentymarkets System sichtbar.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Kommentar</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>countryId</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die <a href="/daten/interne-IDs#20">interne Länder-ID</a> des Herstellers.
Das heißt, die plentymarkets ID für das Land.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Land</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>email</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die E-Mail-Adresse des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: E-Mail</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalName</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der externe Name des Herstellers.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der externe Name ist für Kunden im plentyShop sichtbar.
Er ist auch <a href="/artikel/einstellungen/hersteller#450">für die Suchfunktion im plentyShop relevant</a>.</p>
</li>
<li>
<p>Wenn du deine Artikeldaten an Marktplätze überträgst, wird der externe Herstellername mitgeliefert.
Falls kein externer Herstellername existiert, wird stattdessen der interne Name verwendet.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Externer Name</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>faxNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Faxnummer des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Faxnummer</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>houseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Hausnummer des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Haus-Nr.</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>id</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die eindeutige ID des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>laRedouteBrandId</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Hersteller-ID des Marktplatzes.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: La Redoute-ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die URL zum Logo des Herstellers.
Die URL darf bis zu 2.000 Zeichen umfassen.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Logo-URL</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der interne Name des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Name</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>neckermannAtEpBrandId</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Hersteller-ID des Marktplatzes.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Neckermann.at Enterprise-ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>phoneNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Telefonnummer des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Telefonnummer</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>pixmaniaBrandId</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Hersteller-ID des Marktplatzes.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: PIXmania-ID</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Positionsnummer des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Position</a></p>
</div>
<div class="paragraph">
<p>Herstellerdatensätze können nach der Positionsnummer im Menü <strong>Einrichtung » Artikel » Hersteller</strong> sortiert werden.
Führe deinen Mauszeiger über die Spaltenüberschrift <strong>Position</strong>.
Klicke auf das kleine Dreieck (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>), um die Hersteller in aufsteigender oder absteigender Reihenfolge nach Positionsnummer darzustellen.
Bei gleicher Position wird innerhalb der Position nach dem Namen sortiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>postcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Postleitzahl des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: PLZ</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>street</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Straßenname des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Straße</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>town</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Stadt des Herstellers.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Ort</a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>updatedAt</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zeitstempel der letzten Aktualisierung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>url</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die URL zur Homepage des Herstellers.
Die URL darf bis zu 2.000 Zeichen umfassen.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/hersteller">Einrichtung » Artikel » Hersteller » [Hersteller öffnen] » Eingabefeld: Homepage</a></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigene-werte">Tabelle 2</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>custom_value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 3</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>