<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> AccountingLocation</span></a></li>
<li><a href="#200"><span>2.</span><span> BillingAddress</span></a></li>
<li><a href="#300"><span>3.</span><span> BillingAddressCountry</span></a></li>
<li><a href="#400"><span>4.</span><span> BillingAddressOption</span></a></li>
<li><a href="#500"><span>5.</span><span> BillingAddressState</span></a></li>
<li><a href="#600"><span>6.</span><span> Contact</span></a></li>
<li><a href="#700"><span>7.</span><span> DeliveryAddress</span></a></li>
<li><a href="#800"><span>8.</span><span> DeliveryAddressCountry</span></a></li>
<li><a href="#900"><span>9.</span><span> DeliveryAddressOption</span></a></li>
<li><a href="#1000"><span>10.</span><span> DeliveryAddressState</span></a></li>
<li><a href="#1100"><span>11.</span><span> Order</span></a></li>
<li><a href="#1200"><span>12.</span><span> OrderAmount</span></a></li>
<li><a href="#1300"><span>13.</span><span> OrderComment</span></a></li>
<li><a href="#1400"><span>14.</span><span> OrderDate</span></a></li>
<li><a href="#1500"><span>15.</span><span> OrderDocument</span></a></li>
<li><a href="#1600"><span>16.</span><span> OrderParcelService</span></a></li>
<li><a href="#1700"><span>17.</span><span> OrderParcelServiceName</span></a></li>
<li><a href="#1800"><span>18.</span><span> OrderParcelServicePreset</span></a></li>
<li><a href="#1900"><span>19.</span><span> OrderParcelServicePresetName</span></a></li>
<li><a href="#2000"><span>20.</span><span> OrderProperty</span></a></li>
<li><a href="#2100"><span>21.</span><span> OrderReference</span></a></li>
<li><a href="#2200"><span>22.</span><span> ShippingPackages</span></a></li>
<li><a href="#2300"><span>23.</span><span> custom_value</span></a></li>
<li><a href="#2400"><span>24.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aufträge</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>order</strong> exportierst du Aufträge.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Katalog für Export</div>
<div class="paragraph">
<p>Kennst du schon den Katalog zum Export der Datenformate? Kataloge lösen nach und nach die alten Format-Typen des Elastischen Exports ab und bieten dir mehr Gestaltungs- und Nutzungsmöglichkeiten. Auf der Handbuchseite <a href="/daten/daten-exportieren/dateiexport">Kataloge verwalten</a> erhältst du alle grundlegenden Informationen zur Funktionsweise von Katalogen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. AccountingLocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-accounting-location">Tabelle 1</a> werden Felder erläutert, die für den Export von Buchhaltungs-Standorten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-accounting-location" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Buchhaltungs-Standorten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">clientId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten-ID des Mandanten des Buchhaltungs-Standortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Landes, in dem sich der Buchhaltungs-Standort befindet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Buchhaltungs-Standortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Buchhaltungs-Standortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plenty ID des Mandanten</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. BillingAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-billing-address">Tabelle 2</a> werden Felder erläutert, die für den Export von Rechnungen und Rechnungsdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-billing-address" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für den Export von Rechnungsadressen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">additional</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresszusatz (zusätzliche Adressinformation)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 1 (Standard: Straße)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 2 (Standard: Hausnummer)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 3 (Standard: Adresszusatz)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 4 (frei verwendbar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">careOf</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">c/o</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitpunkt, an dem die Adresse geprüft wurde (Unix timestamp)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">companyName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firmenname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länder-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gelangensbestätigung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fsk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersprüfung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">houseNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hausnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPackstation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag, der definiert, ob es sich um eine Packstation handelt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostfiliale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag, der definiert, ob es sich um eine Postfiliale handelt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Firma)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Vorname)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Nachname)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (frei verwendbar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packstationNo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personalnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">phone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">readOnly</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Definiert read-only Felder</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session-ID, die beim Erstellen der Adresse genutzt wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">street</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">taxIdNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Steuernummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel, der in den Adressdaten enthalten ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stadt</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. BillingAddressCountry</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-billing-address-country">Tabelle 3</a> werden Felder erläutert, die für den Export von Länderinformationen auf Rechnungen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-billing-address-country" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von Länderinformationen auf Rechnungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Landes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code des Landes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code des Landes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Landes</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. BillingAddressOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-billing-address-option">Tabelle 4</a> werden die Typen erläutert, die für den Export von Rechnungsadressen-Optionen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-billing-address-option" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von Rechnungsadressen-Optionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert der Rechnungsadressen-Option</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>BillingAddressOption.value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vat_number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifikationsnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">external_address_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID der Rechnungsadresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entry_certificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gelangensbestätigung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">post_number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personal_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personal-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bbfc</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe (FSK)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Rechnungsempfängers</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. BillingAddressState</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-billing-address-state">Tabelle 5</a> werden Felder erläutert, die für den Export von Informationen zu Bundesländern auf Rechnungen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-billing-address-state" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Felder für Export von Informationen zu Bundesländern auf Rechnungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode3166</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Bundeslandes</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. Contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-orderitem-kontaktdaten">Tabelle 6</a> werden Felder erläutert, die für den Export von Kontaktdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-orderitem-kontaktdaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Felder für Export von Kontaktdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthdayAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">blocked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blockierter Status des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bookAccount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorenkonto des Kontakts. Das Debitorenkonto ist eine zusätzliche, separate Nummer, die in der Regel der Kundennummer oder der Debitorennummer in deiner Finanzbuchhaltung entspricht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">classid</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kundenklasse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontaktperson zum Kontakt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dhlPostIdent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DHL-PostIdent des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Skontofrist des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountPercent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Skontosatz des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebayName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ebay-Name des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private E-Mail-Adresse des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalid</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">externe ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">formOfAddress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anrede des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fullName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vollständiger Name des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">klarnaPersonalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klarna-ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastLoginAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzter Login des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastLoginAtTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzter Login des Kontakts (Unix timestamp)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastOrderAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzte Bestellung des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketplacePartner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marktplatzpartner-Status des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">newsletterAllowanceAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitpunkt, an dem der Kontakt die Einwilligung zum Empfang von Newslettern gegeben hat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer des Kontakts (vormals Kundennummer)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paypalEmail</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail Adresse zum PayPal-Konto des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paypalPayerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PayPal-ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client, der dem Kontakt zugewiesen ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">privateFax</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private Faxnummer des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">privateMobile</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private Mobilnummer des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">privatePhone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private Telefonnumer des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rating</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bewertung des Kontakts (intern)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunft des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesRepresentativeContactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID des Handelsvertreters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">secondaryEmail</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweite private E-Mail-Adresse des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">singleAccess</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugangstyp des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">timeForPaymentAllowedDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsziel des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Kontakttyps</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eigners, dem der Kontakt zugeordnet ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valuta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta des Kontakts</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. DeliveryAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-lieferadresse">Tabelle 7</a> werden Felder erläutert, die für den Export von Lieferadressen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-lieferadresse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Felder für Export von Lieferadressen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">additional</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresszusatz (zusätzliche Adressinformation)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 1 (Standard: Straße)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 2 (Standard: Hausnummer)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 3 (Standard: Adresszusatz)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 4 (frei verwendbar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">careOf</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">c/o</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitpunkt, an dem die Adresse geprüft wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">companyName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firmenname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länder-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gelangensbestätigung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">externe ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fsk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alterssichtprüfung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">houseNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hausnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPackstation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag, der definiert, ob es sich um eine Packstation handelt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostfiliale</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag, der definiert, ob es sich um eine Postfiliale handelt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Firma)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Vorname)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Nachname)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (frei verwendbar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packstationNo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Packstation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personalnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">phone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postident</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">readOnly</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Definiert read-only Felder</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session-ID, die beim Erstellen der Adresse genutzt wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">street</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">taxIdNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Steuernummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stadt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Empfängers</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">8. DeliveryAddressCountry</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-lieferland">Tabelle 8</a> werden Felder erläutert, die für den Export von Daten über Lieferländer zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-lieferland" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Felder für Export von Lieferländern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lieferlandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code des Lieferlandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code des Lieferlandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezeichnung des Lieferlandes</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">9. DeliveryAddressOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-delivery-address-option">Tabelle 9</a> werden die Typen erläutert, die für den Export von Lieferadressen-Optionen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-delivery-address-option" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Felder für Export von Lieferadressen-Optionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert der Lieferadressen-Option</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>DeliveryAddressOption.value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vat_number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifikationsnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">external_address_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der externen Lieferadresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entry_certificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gelangensbestätigung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">post_number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personal_id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personal-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bbfc</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe (FSK)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Empfängers</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">10. DeliveryAddressState</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-delivery-address-state">Tabelle 10</a> werden Felder erläutert, die für den Export von Informationen zu Bundesländern in Lieferadressen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-delivery-address-state" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Felder für Export von Informationen zu Bundesländern in Lieferadressen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isoCode3166</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO-Code des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Bundeslandes</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">11. Order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order">Tabelle 11</a> werden Felder erläutert, die für den Export von Auftragsdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Felder für Export von Auftragsdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Erstellung des Auftragsdatensatzes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">locationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des zugeordneten Standortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lockStatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status der Sperrung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">methodOfPaymentId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Zahlungsart wie auf der Handbuchseite <a href="/daten/interne-IDs#65">Interne IDs in plentymarkets</a> beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">numberOfDecimals</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl der Nachkommastellen bei Auftragssummen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ownerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eigners</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentStatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status des Zahlungseingangs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Mandanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Auftragsherkunft wie auf der Handbuchseite <a href="/daten/interne-IDs#90">Interne IDs in plentymarkets</a> beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">roundTotalsOnly</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur gerundete Auftragssummen ausgeben</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingProfileId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versandprofils</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">statusID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status-ID des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">statusName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezeichnung der aktuellen Status-ID des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp-ID wie auf der Handbuchseite <a href="/daten/interne-IDs#80">Interne IDs in plentymarkets</a> beschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitpunkt der letzten Auftragsaktualisierung</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">12. OrderAmount</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-amount">Tabelle 12</a> werden Felder erläutert, die für den Export der allgemein berechneten Beträge eines Auftrags zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-amount" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 12. Felder für Export der Auftragsbeträge</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">currency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">exchangeRate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselkurs der Währung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">giftCardAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eingelöster Gutscheinbetrag (Mehrzweckgutschein)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">grossTotal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesamtbetrag (brutto)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">invoiceTotal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsbetrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Definiert, ob der Auftrag in Netto- oder Bruttobetrag gespeichert wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isSystemCurrency</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Definiert, ob Beiträge in der Systemwährung angegeben sind</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">netTotal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gesamtbetrag (netto)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paidAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">bezahlter Betrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">prepaidAmount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">vorausgezahlter Betrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingCostsGross</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betrag der Versandkosten (brutto)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingCostsNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betrag der Versandkosten (netto)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vatTotal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuerbetrag</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">13. OrderComment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-comment">Tabelle 13</a> werden Felder erläutert, die für den Export von Auftragsnotizen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-comment" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 13. Felder für den Export von Auftragsnotizen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Textfeld, das die Auftragsnotiz enthält</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1400">14. OrderDate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-date">Tabelle 14</a> werden Felder erläutert, die für den Export des Auftragsdatums zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-date" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 14. Felder für Export des Auftragsdatums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>OrderDate.date</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gelöscht am</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem der Auftrag gelöscht wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstellt am</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem der Auftrag erstellt wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungseingang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des Zahlungseingangs für den Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">zuletzt aktualisiert</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der letzten Aktualisierung des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beendet am</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Beendigung des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenausgang am</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem der Warenausgang für den Auftrag gebucht wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retourniert am</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Retoure zum Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsziel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsziel des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">voraussichtliches Versanddatum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Voraussichtlies Versanddatum der Auftragspositionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Übertragungsdatum Marktplatz</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem der Auftrag von einem Marktplatz übertragen wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kündigungsdatum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Kündigung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzter Durchlauf</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des letzten Duchlaufs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nächster Durchlauf</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des nächsten Durchlaufs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestelldatum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem die Bestellung ausgelöst wurde (bei Aufträgen vom Typ Umbuchung und Nachbestellung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abschlussdatum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem die Bestellung abgeschlossen wurde (bei Aufträgen vom Typ Umbuchung und Nachbestellung)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1500">15. OrderDocument</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-document">Tabelle 15</a> werden Felder erläutert, die für den Export von Daten zu Auftragsdokumenten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-document" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 15. Felder für den Export von Auftragsdokumenten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">displayDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, das auf den Auftragsdokumenten angezeigt wird</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Auftragsdokuments</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer des Auftragsdokuments</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">numberWithPrefix</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer (mit Präfix) des Auftragsdokuments</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ des Auftragsdokuments</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Benutzers, der die Auftragsdokumente angelegt hat</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1600">16. OrderParcelService</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-orderparcelservice">Tabelle 16</a> werden Felder erläutert, die für den Export von Daten zum Versanddienstleister des Auftrags zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-orderparcelservice" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 16. Felder für den Export des Versanddienstleisters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Versanddienstleisters (im Backend)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingServiceProviderAddress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresse des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingServiceProviderId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">trackingUrl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tracking-URL des Versanddienstleisters</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1700">17. OrderParcelServiceName</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-orderparcelservicename">Tabelle 17</a> werden Felder erläutert, die für den Export der Bezeichnung des Versanddienstleisters des Auftrags zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-orderparcelservicename" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 17. Felder für den Export der Bezeichnung des Versanddienstleisters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parcelServiceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versanddienstleisters</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1800">18. OrderParcelServicePreset</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-orderparcelservicepreset">Tabelle 18</a> werden Felder erläutert, die für den Export von Daten zum Standard-Versanddienstleister zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-orderparcelservicepreset" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 18. Felder für den Export von Standard-Versanddienstleistern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">alternativeEmail</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative E-Mail Adresse des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">alternativePhone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative Telefonnummer des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">backendName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Versanddienstleisters (im Backend)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dispatchIdentifier</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Feld ist aktuell ohne Funktion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">flag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung des Versandprofils</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parcelServiceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isCod</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob es sich um eine Nachnahme-Lieferung handelt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isExpress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob es sich um Expressversand handelt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isInsured</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob es sich um versicherten Versand handelt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isParcelBox</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob an eine Packstation geliefert wird</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostOffice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob an eine Postfiliale geliefert wird</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isPostident</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob das Postident-Verfahren genutzt wird</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">islandFee</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob es einen Inselzuschlag gibt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parcelServiceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">priority</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shippingGroup</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugehörige Versandgruppe</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">showDataPrivacyAgreementHint</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenschutz-Hinweis einblenden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">transmitPrivacyRule</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">useArticlePorto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, ob es einen Artikel-Portoaufschlag gibt</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">19. OrderParcelServicePresetName</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-orderparcelservicepresetname">Tabelle 19</a> werden Felder erläutert, die für den Export der Bezeichnung des Standard-Versanddienstleisters zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-orderparcelservicepresetname" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 19. Felder für den Export der Bezeichnung des Standard-Versanddienstleisters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Standard-Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>OrderParcelServicePresetName.name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deutsch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Standard-Versanddienstleisters (deutsch)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Englisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Standard-Versanddienstleisters (englisch)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2000">20. OrderProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-property">Tabelle 20</a> werden Felder erläutert, die für den Export von verschiedenen Auftragseigenschaften zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 20. Felder für Export von Auftragseigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert der Auftragseigenschaft. Pro Eigenschaft können verschiedene Typen angegeben werden. Die folgenden Typen stehen zur Verfügung:<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>OrderProperty.value</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager, das dem Auftrag zugeordnet ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofil, das dem Auftrag zugeordnet ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsstatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsstatus des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externes Versandprofil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externes Versandprofil, das dem Auftrag zugeordnet ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache in Dokumenten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache der Auftragsdokumente</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenzeichen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeichen des Kunden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mahnstufe</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mahnstufe des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkäufer Konto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Konto des Verkäufers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung des Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifikationsnummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifikationsnummer des Kunden</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2100">21. OrderReference</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-order-reference">Tabelle 21</a> werden Felder erläutert, die für den Export von zusammenhängenden Aufträgen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-order-reference" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 21. Felder für Export von zusammenhängenden Aufträgen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">originOrderId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">übergeordneter Hauptauftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referenceOrderId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">direkt übergeordneter Auftrag</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2200">22. ShippingPackages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-shipping-packages">Tabelle 22</a> werden Felder erläutert, die für den Export von Versandpaketen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-shipping-packages" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 22. Felder für den Export von Versandpaketen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">exportLabelBase64</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Base64-codierte Version des Export-Labels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isClosed</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">packageNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer des Versandpakets</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">palletId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Palette</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2300">23. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-order-felder-eigene-werte">Tabelle 23</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-order-felder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 23. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2400">24. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 24</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 24. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>