<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Group</span></a>
<ul class="sectlevel2">
<li><a href="#_id"><span>1.1.</span><span> id</span></a></li>
<li><a href="#_position"><span>1.2.</span><span> position</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> GroupName</span></a>
<ul class="sectlevel2">
<li><a href="#_description"><span>2.1.</span><span> description</span></a></li>
<li><a href="#_name"><span>2.2.</span><span> name</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Property</span></a>
<ul class="sectlevel2">
<li><a href="#_allgroups"><span>3.1.</span><span> allGroups</span></a></li>
<li><a href="#_cast"><span>3.2.</span><span> cast</span></a></li>
<li><a href="#_id_2"><span>3.3.</span><span> id</span></a></li>
<li><a href="#_position_2"><span>3.4.</span><span> position</span></a></li>
<li><a href="#_typeidentifier"><span>3.5.</span><span> typeIdentifier</span></a></li>
</ul>
</li>
<li><a href="#400"><span>4.</span><span> PropertyName</span></a>
<ul class="sectlevel2">
<li><a href="#_description_2"><span>4.1.</span><span> description</span></a></li>
<li><a href="#_name_2"><span>4.2.</span><span> name</span></a></li>
</ul>
</li>
<li><a href="#500"><span>5.</span><span> custom_value</span></a></li>
<li><a href="#600"><span>6.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Eigenschaften</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Datenfelder, die für den Export von Eigenschaften und Eigenschaftsgruppen zur Verfügung stehen.
Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a> und den <a href="/daten/daten-exportieren/elastischer-export">elastischer Export</a> hast.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Verknüpfungen werden nicht mit exportiert</div>
<div class="paragraph">
<p>Dieser Format-Typ exportiert Informationen über Eigenschaften und Eigenschaftsgruppen.
Er exportiert <em>nicht</em> die Verknüpfungen zwischen Varianten und Eigenschaften, d.h. er gibt nicht an, welche Eigenschaften mit welchen Varianten verknüpft sind.
Wenn du solche Eigenschaftsverknüpfungen exportieren möchtest, dann verwende stattdessen den <a href="/daten/daten-exportieren/FormatDesigner/format-typen/artikel#1600">Format-Typ Artikel</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div><div class="sect1">
<h2 id="100">1. Group</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_id">1.1. id</h3>
<div class="paragraph">
<p>Die ID der Eigenschaftsgruppe.
Die Gruppen-ID ist eine fortlaufende und einzigartige Zahl, die zur eindeutigen Identifizierung jeder Eigenschaftsgruppe dient.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#1200">Einrichtung » Einstellungen » Eigenschaften » Gruppen » [Gruppe öffnen] » Option: ID</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Klicke auf <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> und entscheide, für welche Eigenschaftsgruppe die ID exportiert werden soll.
Füge dieses Feld mehrfach hinzu, wenn du die IDs mehrerer Gruppen exportieren willst.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_position">1.2. position</h3>
<div class="paragraph">
<p>Die Positionsnummer der Eigenschaftsgruppe.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#1200">Einrichtung » Einstellungen » Eigenschaften » Gruppen » [Gruppe öffnen] » Eingabefeld: Position</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Klicke auf <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> und entscheide, für welche Eigenschaftsgruppe die Positionsnummer exportiert werden soll.
Füge dieses Feld mehrfach hinzu, wenn du die Positionen mehrerer Gruppen exportieren willst.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. GroupName</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_description">2.1. description</h3>
<div class="paragraph">
<p>Die Beschreibung der Eigenschaftsgruppe.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#1200">Einrichtung » Einstellungen » Eigenschaften » Gruppen » [Gruppe öffnen] » Eingabefeld: Beschreibung</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Klicke auf <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> und entscheide, für welche Eigenschaftsgruppe und Sprache die Beschreibung exportiert werden soll.
Füge dieses Feld mehrfach hinzu, wenn du die Beschreibung für mehrere Gruppen oder in mehreren Sprachen exportieren willst.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_name">2.2. name</h3>
<div class="paragraph">
<p>Der Name der Eigenschaftsgruppe.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#1200">Einrichtung » Einstellungen » Eigenschaften » Gruppen » [Gruppe öffnen] » Eingabefeld: Name</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Klicke auf <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> und entscheide, für welche Eigenschaftsgruppe und Sprache der Name exportiert werden soll.
Füge dieses Feld mehrfach hinzu, wenn du den Namen für mehrere Gruppen oder in mehreren Sprachen exportieren willst.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Property</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_allgroups">3.1. allGroups</h3>
<div class="paragraph">
<p>Die Namen aller Gruppen, denen die Eigenschaft zugewiesen wurde.
Die Gruppennamen werden durch Kommata getrennt.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Bereich: Gruppen</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_cast">3.2. cast</h3>
<div class="paragraph">
<p>Der Typ der Eigenschaft.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>empty</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>date</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>file</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>int</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ganze Zahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>float</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kommazahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>string</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeichenkette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>html</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTML</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>text</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>selection</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>multiSelection</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrfachauswahl</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Option: Typ</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_id_2">3.3. id</h3>
<div class="paragraph">
<p>Die ID der Eigenschaft.
Die Eigenschaft-ID ist eine fortlaufende und einzigartige Zahl, die zur eindeutigen Identifizierung jeder Eigenschaft dient.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Option: ID</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_position_2">3.4. position</h3>
<div class="paragraph">
<p>Die Positionsnummer der Eigenschaft.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Eingabefeld: Position</a></p>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_typeidentifier">3.5. typeIdentifier</h3>
<div class="paragraph">
<p>Der Bereich der Eigenschaft.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>item</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>contact</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>stock</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Option: Bereich</a></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. PropertyName</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_description_2">4.1. description</h3>
<div class="paragraph">
<p>Die Beschreibung der Eigenschaft.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Eingabefeld: Beschreibung</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Klicke auf <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> und entscheide, für welche Sprache die Beschreibung exportiert werden soll.
Füge dieses Feld mehrfach hinzu, wenn du die Beschreibung in mehreren Sprachen exportieren willst.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
<div class="sect2">
<h3 id="_name_2">4.2. name</h3>
<div class="paragraph">
<p>Der Name der Eigenschaft.</p>
</div>
<div class="paragraph">
<p>Entspricht der Option im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Eingabefeld: Name</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Klicke auf <span class="icon darkGrey"><i class="fa fa-sign-in  "></i></span> und entscheide, für welche Sprache der Name exportiert werden soll.
Füge dieses Feld mehrfach hinzu, wenn du den Namen in mehreren Sprachen exportieren willst.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigenschaften-eigene-werte">Tabelle 1</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigenschaften-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 2</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>