<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> StockMovements</span></a></li>
<li><a href="#110"><span>2.</span><span> User</span></a></li>
<li><a href="#120"><span>3.</span><span> Variation</span></a></li>
<li><a href="#300"><span>4.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>5.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>stockMovement</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>stockMovement</strong> exportierst du Warenbewegungen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Katalog für Export</div>
<div class="paragraph">
<p>Kennst du schon den Katalog zum Export der Datenformate? Kataloge lösen nach und nach die alten Format-Typen des Elastischen Exports ab und bieten dir mehr Gestaltungs- und Nutzungsmöglichkeiten. Auf der Handbuchseite <a href="/daten/daten-exportieren/dateiexport">Kataloge verwalten</a> erhältst du alle grundlegenden Informationen zur Funktionsweise von Katalogen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. StockMovements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-StockMovements">Tabelle 1</a> werden Felder erläutert, die für den Export von Daten zur Warenbewegung zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-StockMovements" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Warenbewegungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwerte</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">batch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/wareneingaenge-verwalten#810">Charge</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bestBeforeDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/wareneingaenge-verwalten#810">Mindesthaltbarkeitsdatum</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/warenbestaende-verwalten#1100">Zeitstempel der Warenbewegung</a>, wie im Tab <strong>Warenbewegung</strong> der Variante angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorgangs-ID der Warenbewegung. Im Menü siehst du die Vorgangs-ID im Datensatz einer Variante im Tab <strong>Warenbewegung</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">processRowId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quell-ID der Warenbewegung. Die Quelle kann ein Auftrag oder ein Wareneingang sein. Die Quell-ID ist somit z.B. entweder eine Auftrags-ID oder die ID eines Wareneingangs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">processRowType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Quelltyps einer Warenbewegung. Quelltyp bezieht sich auf das Menü oder die Aktion, die die Warenbewegung ausgelöst hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl des bewegten Bestands. Anhand des Vorzeichens ist erkennbar, ob Bestand ein- oder ausgebucht wurde.<br>
-: Bestand wurde ausgebucht<br>
+: Bestand wurde eingebucht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reason</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Warenbeweggrundes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reasonString</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Warenbeweggrundes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers, aus dem die Ware ausgebucht oder in das die Ware eingebucht wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers, aus dem die Ware ausgebucht oder in das die Ware eingebucht wurde.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">2. User</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-User">Tabelle 2</a> werden Felder erläutert, die für den Export von Benutzerdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-User" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für den Export von Benutzerdaten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Benutzers, der die Warenbewegung gebucht hat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">user</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Benutzers, der die Warenbewegung gebucht hat</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">3. Variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-Variation">Tabelle 3</a> werden Felder erläutert, die für den Export von Variantendaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-Variation" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für den Export von Variantendaten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleMovingAveragePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob den gleitenden Nettoeinkaufspreis <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleNetWeight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Nettogewicht <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundlePurchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob den Nettoeinkaufspreis <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleWeight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Bruttogewicht <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante, die von der Warenbewegung betroffen war</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationTag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/markierungen#400">Tags der Variante</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">4. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-lager-eigene-werte">Tabelle 4</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">5. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 5</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>