<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Manufacturer</span></a></li>
<li><a href="#200"><span>2.</span><span> custom_value</span></a></li>
<li><a href="#300"><span>3.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Hersteller</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>manufacturer</strong> exportierst du Hersteller.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Manufacturer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Herstellerdaten stehen die in <a href="#tabelle-felder-hersteller">Tabelle 1</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-hersteller" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Export von Herstellerdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">comment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Kommentar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Landes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externer Name des Herstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">faxNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Faxnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">houseNo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hausnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Herstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">laRedouteBrandId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID des Marktplatzes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">logo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Logo-URL</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Herstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">neckermannAtEpBrandId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID des Marktplatzes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">phoneNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pixmaniaBrandId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID des Marktplatzes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">street</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Homepage</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigene-werte">Tabelle 2</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 3</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>