<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Category</span></a></li>
<li><a href="#200"><span>2.</span><span> CategoryClient</span></a></li>
<li><a href="#300"><span>3.</span><span> CategoryDetail</span></a></li>
<li><a href="#400"><span>4.</span><span> custom_value</span></a></li>
<li><a href="#500"><span>5.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kategorien</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>category</strong> exportierst du Kategorien.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kategorien">Tabelle 1</a> werden Felder erläutert, die für den Export von Kategoriedaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kategorien" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für Export von Kategorien</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">level</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorieebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">linklist</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In Linkliste (Y/N)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentCategoryID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der übergeordneten Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentCategoryName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der übergeordneten Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">right</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sichtbar<br>
all = Kategorie und alle Unterkategorien sind öffentlich sichtbar<br>
customer = Kategorie und alle Unterkategorien sind nur für eingeloggte Webshop-Besucher sichtbar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sitemap</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sitemap</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorietyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. CategoryClient</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kategorie-mandant">Tabelle 2</a> werden Felder erläutert, die für den Export von Kategoriedaten eines Mandanten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kategorie-mandant" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von Kategorien eines Mandanten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiv für Mandaten?</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. CategoryDetail</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kategorien-detail">Tabelle 3</a> werden Felder erläutert, die für den Export von Kategoriedetails zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kategorien-detail" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von Kategoriedetails</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fullText</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Volltextsuche</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemListView</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Liste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Beschreibung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaKeywords</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Keywords</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">metaTitle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Titel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">nameUrl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL-Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pageView</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Seite</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">previewUrl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shortDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kurzbeschreibung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">singleItemView</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Produkt</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigene-werte">Tabelle 4</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 5</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>