<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Account</span></a></li>
<li><a href="#200"><span>2.</span><span> BillingAddress</span></a></li>
<li><a href="#300"><span>3.</span><span> BillingAddressOption</span></a></li>
<li><a href="#400"><span>4.</span><span> Contact</span></a></li>
<li><a href="#500"><span>5.</span><span> contactAllowedMethodOfPayment</span></a></li>
<li><a href="#600"><span>6.</span><span> ContactBank</span></a></li>
<li><a href="#700"><span>7.</span><span> ContactOption</span></a></li>
<li><a href="#750"><span>8.</span><span> ContactProperty</span></a></li>
<li><a href="#800"><span>9.</span><span> DeliveryAddress</span></a></li>
<li><a href="#900"><span>10.</span><span> DeliveryAddressOption</span></a></li>
<li><a href="#1000"><span>11.</span><span> SalesRepresentativeRegion</span></a></li>
<li><a href="#1100"><span>12.</span><span> Eigener Wert</span></a></li>
<li><a href="#1200"><span>13.</span><span> Datum</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kontakte</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>contact</strong> exportierst du Kontaktdaten, Adressdaten und Firmendaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-firma">Tabelle 1</a> werden Felder erläutert, die für den Export von Firmendaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-firma" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Firmendaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">companyName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firmenname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dealerMinOrderValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellwert für den Lieferanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deliveryTime</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferzeit für den Lieferanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Skontofrist der Firma</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountPercent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Skontosatz der Firma</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Firma</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundennummer. Diese Nummer wird nicht automatisch vergeben und kann selbst vergeben werden. Die maximale Zeichensatzlänge beträgt 128.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesRepresentativeContactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID des Handelsvertreters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">taxIdNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifikationsnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">TimeForPaymentAllowedDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsziel des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eigners</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valuta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta der Firma</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. BillingAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-billing-address-kontakte">Tabelle 2</a> werden Felder erläutert, die für den Export von Rechnungsadressen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-billing-address-kontakte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für den Export von Rechnungsadressen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 1 (Standard: Straße)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 2 (Standard: Hausnummer)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 3 (Standard: Adresszusatz)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 4 (frei verwendbar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitpunkt, an dem die Adresse geprüft wurde (Unix timestamp)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länder-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Firma)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Vorname)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Nachname)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (frei verwendbar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stadt</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. BillingAddressOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-billing-address-option-kontakte">Tabelle 3</a> werden die Felder erläutert, die für den Export von Rechnungsadressoptionen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-billing-address-option-kontakte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von Rechnungsadressoptionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bBFC</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe (FSK)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ansprechpartner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gelangensbestätigung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalAddressID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID der Rechnungsadresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personal-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Rechnungsempfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vatNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifikationsnummer</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kontakte">Tabelle 4</a> werden Felder erläutert, die für den Export von Kontaktdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kontakte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für den Export von Kontaktdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthdayAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">blocked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status "Gesperrt". Es ist möglich, den Kontakt für einen bestimmten Mandanten zu sperren.<br>
Mögliche Werte: 0 = nicht gesperrt, 1 = gesperrt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bookAccount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorenkonto des Kontakts. Eine zusätzliche, separate Nummer, die generell der Kundennummer oder der Debitorennummer des Kontakts in deiner Buchhaltung entspricht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">classId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kundenklasse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dhlPostIdent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DHL PostIdent des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Skontofrist des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">discountPercent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Skontosatz des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastLoginAtTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des letzten Logins des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastOrderAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des letzten Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">newsletterAllowanceAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitpunkt, an dem der Kontakt sich für den Newsletter registriert hat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundennummer. Diese Nummer wird nicht automatisch vergeben und kann selbst vergeben werden. Die maximale Zeichensatzlänge beträgt 128.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentyId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant, der dem Kontakt zugeordnet ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rating</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bewertung des Kontakts. Diese Bewertung ist nur für die interne Verwendung vorgesehen. 5 rote Sterne sind die schlechtechste Bewertung und 5 gelbe Sterne sind die beste Bewertung. Mögliche Werte:<br>
-5 = 5 rote Sterne (schlechteste Bewertung)<br>
-4 = 4 rote Sterne<br>
-3 = 3 rote Sterne<br>
-2 = 2 rote Sterne<br>
-1 = 1 roter Stern<br>
0 = 5 graue Sterne, es wurde keine Bewertung für den Kontakt gespeichert.<br>
1 = 1 gelber Stern<br>
2 = 2 gelbe Sterne<br>
3 = 3 gelbe Sterne<br>
4 = 4 gelbe Sterne<br>
5 = 5 gelbe Sterne (beste Bewertung)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">referrerId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunfts-ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesRepresentativeContactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID des Handelsvertreters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">timeForPaymentAllowedDays</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsziel des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Kontakttyps</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner-ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">valuta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta des Kontakts</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. contactAllowedMethodOfPayment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-contactallowedmethodofpayment-kontakte">Tabelle 5</a> werden Felder erläutert, die für den Export von erlaubten Zahlungsarten im Kontaktdatensatz zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-contactallowedmethodofpayment-kontakte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Felder für den Export von erlaubten Zahlungsarten am Kontakt</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allowDebit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information, die angibt, ob der Kontakt die Erlaubnis hat, per Lastschrift zu zahlen.<br>
Mögliche Werte:<br>
0 = nicht erlauben<br>
1 = erlauben</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allowInvoice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information, die angibt, ob der Kontakt die Erlaubnis hat, auf Rechnung zu zahlen.<br>
Mögliche Werte:<br>
0 = nicht erlauben<br>
1 = erlauben</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. ContactBank</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-contact-bank">Tabelle 6</a> werden die Felder erläutert, die für den Export von Bankdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-contact-bank" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Felder für den Export von Bankdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accountNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontonummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accountOwner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Kontoinhabers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bankAddress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresse der Bank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bankCountry</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land der Bank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bankName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Bank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bankPostalCodeTown</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl und Ort der Bank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bic</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">BIC des Bankkontos</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directDebitMandateAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem das SEPA-Lastschriftmandat erteilt wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directDebiteMandateAvailable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung, die angibt, ob ein SEPA-Lastschriftmandat erteilt wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directDebitMethod</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Art des SEPA-Lastschriftmandats. Mögliche Werte:<br>
sepaDirectDebit<br>
sepaB2bDirectDebit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">directDebitType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information, die angibt, ob es sich um eine Erstlaschrift oder Folgelastschrift handelt. Mögliche Werte:<br>
first<br>
next</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">iban</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IBAN des Bankkontos</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bankkontos</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastUpdateBy</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quelle der letzten Aktualisierung. Mögliche Werte:<br>
customer<br>
backend<br>
import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentMethod</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ausführungsmodalität des SEPA-Lastschriftmandats. Mögliche Werte:<br>
recurrent<br>
onOff</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sortCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bankleitzahl</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">7. ContactOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-contact-option">Tabelle 7</a> werden Felder erläutert, die für den Export von Kontaktoptionen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-contact-option" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Felder für den Export von Kontaktoptionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accessGuest</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugangsart. Zeigt an, ob es sich um einen regulären Zugang oder einen Gastzugang handelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">accessMarketplacePartner</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugang zum Marketplace.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">additionalContactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zusätzlicher Ansprechpartner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">emailPayPal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PayPal-E-Mail-Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">emailPrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private E-Mail-Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">emailWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschäftliche E-Mail-Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">groupForum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse in einem verwendeten Forum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">identificationNumberDHL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identifikationsnummer bei DHL</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">identificationNumberKlarna</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identifikationsnummer bei Klarna</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketplaceAmazon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse bei Amazon</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">marketplaceEbay</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentKlarna</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identifikationsnummer bei Klarna</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentPayPal</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse bei PayPal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">paymentStandard</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardzahlungsart</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salutationPrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private Anrede</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salutationWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschäftliche Anrede</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telefaxPrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private Faxnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telefaxWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschäftliche Faxnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephoneMobilePrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private Mobilfunknummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephoneMobileWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschäftliche Mobilfunknummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephonePrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephoneWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschäftliche Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userNameForum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername in einem verwendeten Forum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userNamePrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Privater Benutzername</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userNameWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschäftlicher Benutzername</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">webPagePrivate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private Webseite</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">webPageWork</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschäftliche Webseite</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="750">8. ContactProperty</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-kontakteigenschaften-kontakte">Tabelle 8</a> werden Felder erläutert, die für den Export von Kontakteigenschaften zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-kontakteigenschaften-kontakte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Felder für den Export von Kontakteigenschaften</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle zu der Kontakteigenschaft gespeicherten Daten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ der Eigenschaft, z.B. <strong>Kommazahl</strong>, <strong>Mehrfachauswahl</strong>, <strong>Kurztext</strong> oder <strong>Datum</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Eigenschaft</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">linked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID, die mit der Eigenschaft verknüpft ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert der Eigenschaft</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">9. DeliveryAddress</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-lieferadresse-kontakte">Tabelle 9</a> werden Felder erläutert, die für den Export von Lieferadressen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-lieferadresse-kontakte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Felder für den Export von Lieferadressen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 1 (Standard: Straße)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 2 (Standard: Hausnummer)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 3 (Standard: Adresszusatz)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feld Adresse 4 (frei verwendbar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">checkedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitpunkt, an dem die Adresse geprüft wurde</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länder-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Firma)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Vorname)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (Standard: Nachname)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name (frei verwendbar)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stateID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Bundeslandes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">town</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stadt</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">10. DeliveryAddressOption</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-delivery-address-option-kontakte">Tabelle 10</a> werden die Felder erläutert, die für den Export von Lieferadressoptionen zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-delivery-address-option-kontakte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Felder für Export von Lieferadressoptionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bBFC</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersfreigabe (FSK)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactPerson</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ansprechpartner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryCertificate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gelangensbestätigung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">externalAddressID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der externen Lieferadresse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">personalId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personal-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sessionID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Session-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">telephone</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">vatNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifikationsnummer</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">11. SalesRepresentativeRegion</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-delivery-address-option-kontakte">Tabelle 10</a> werden die Felder erläutert, die für den Export von Handelsvertreterdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-handelsvertreter-region-kontakte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Felder für Export von Handelsvertreterdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">countryId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Landes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Handelsvertreters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">postalCodeArea</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahlenbereich, in dem der Handelsvertreter tätig ist</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">12. Eigener Wert</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-kontakte-eigene-werte">Tabelle 12</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-kontakte-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 12. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1200">13. Datum</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 13</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 13. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>