<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> WarehouseLocation</span></a></li>
<li><a href="#200"><span>2.</span><span> WarehouseLocationLevel</span></a></li>
<li><a href="#300"><span>3.</span><span> WarehouseLocationDimension</span></a></li>
<li><a href="#400"><span>4.</span><span> Warehouse</span></a></li>
<li><a href="#500"><span>5.</span><span> custom_value</span></a></li>
<li><a href="#600"><span>6.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>warehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>warehouse</strong> exportierst du Lagerdaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. WarehouseLocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Lagerorten stehen die in <a href="#tabelle-felder-lagerorte">Tabelle 1</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lagerorte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Lagerorten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">levelId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ebenen-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">label</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerortname (ohne Pfad)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purposekey</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwendungszweck</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">statuskey</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fulllabel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vollständiger Lagerortname (inklusive Pfad)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">notes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notizen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allIds</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Lagerort-IDs (kommasepariert)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">allNames</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Lagerortnamen (kommasepariert)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. WarehouseLocationLevel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Lagerortebenen stehen die in <a href="#tabelle-felder-lagerortebenen">Tabelle 2</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lagerortebenen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für den Export von Lagerortebenen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerortebenen-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eltern-ID der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dimensionID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">position</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pathName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerortpfad (ohne Lagerortname)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. WarehouseLocationDimension</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Lagerortdimensionen stehen die in <a href="#tabelle-felder-lagerortdimensionen">Tabelle 3</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lagerortdimensionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für den Export von Lagerortdimensionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">parentID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eltern-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">level</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shortcut</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kürzel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">separator</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trenner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">displayInName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Im Lagerortnamen anzeigen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActiveForPickupPath</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In Laufweg einfließen lassen</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Lagern stehen die in <a href="#tabelle-felder-lager">Tabelle 4</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für Export von Lagern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">note</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notiz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">typeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagertyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">onStockAvailability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit mit Bestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">outOfStockAvailability</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit ohne Bestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">splitByShippingProfile</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach Versandprofil splitten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">repairWarehouseID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugeordnetes Reparaturlager</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isInventoryModeActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inventur-Modus aktiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">logisticType</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugeordnetes Reparaturlager (eigene Lager, DHL Fulfillment, Amazon)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">updatedAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der letzten Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel der Erstellung</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-lager-eigene-werte">Tabelle 5</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 6</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>