<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> contactNewsletter</span></a></li>
<li><a href="#200"><span>2.</span><span> custom_value</span></a></li>
<li><a href="#300"><span>3.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>contactNewsletter</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>contactNewsletter</strong> exportierst du Newsletter-Daten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. contactNewsletter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von Newsletter-Daten stehen die in <a href="#tabelle-felder-newsletter">Tabelle 1</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-newsletter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Newsletter-Daten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">confirmAuthString</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatisch generierter Schlüssel. Dieser Schlüssel erkennt den Benutzer wieder, unabhängig davon, ob der Benutzer im System eingeloggt ist oder nicht. Dieser Schlüssel setzt dann den Zeitstempel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">confirmationURL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL, über die der Kontakt den Newsletter-Empfang bestätigt hat.<br>
<strong><em>Hinweis:</em></strong> Der Bestätigungs-Link kann in der E-Mail-Vorlage über die Template-Variable <strong>NewsletterConfirmURL</strong> ausgegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">confirmedTimestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel, wann der Empfänger die Newsletter-Anmeldung bestätigt hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">contactId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">firstName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">folderId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Ordners, in dem die E-Mail-Adresse des Newsletter-Empfängers gespeichert ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der E-Mail-Adresse, an die der Newsletter gesendet wird</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ipAddress</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IP-Adresse, über die der Kontakt den Newsletter-Empfang bestätigt hat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">lastName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">templateLang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache der Newsletter-Vorlage.<br>
<strong><em>Hinweis:</em></strong> Die Sprache wird in der E-Mail-Vorlage im Tab <strong>E-Mail-Nachricht</strong> eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">timestamp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel, wann die Newsletter-E-Mail an den Empfänger gesendet wurde</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-eigene-werte">Tabelle 2</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert für den Export</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 3</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>