<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Item</span></a></li>
<li><a href="#110"><span>2.</span><span> ItemDescription</span></a></li>
<li><a href="#120"><span>3.</span><span> Manufacturer</span></a></li>
<li><a href="#130"><span>4.</span><span> Stock</span></a></li>
<li><a href="#140"><span>5.</span><span> StockBatchBestBeforeDate</span></a></li>
<li><a href="#150"><span>6.</span><span> StockStorageLocation</span></a></li>
<li><a href="#160"><span>7.</span><span> Variation</span></a></li>
<li><a href="#170"><span>8.</span><span> VariationBarcode</span></a></li>
<li><a href="#180"><span>9.</span><span> Warehouse</span></a></li>
<li><a href="#300"><span>10.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>11.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>stock</strong> exportierst du Warenbestandsdaten.
Während des Imports findet eine Korrektur des Warenbestands statt, d.h. der Warenbestand wird geändert, um den importierten Wert widerzuspiegeln. Dies dient somit der Inventur.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-Item">Tabelle 1</a> werden Felder erläutert, die für den Export von Artikeldaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-Item" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Artikeldaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">flagOne</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/markierungen#100">ID der ersten Artikelmarkierung</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">flagTwo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/markierungen#100">ID der zweiten Artikelmarkierung</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/artikel-verwalten#20">ID des Artikels</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationTag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/markierungen#400">Tags der Variante</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">2. ItemDescription</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-ItemDescription">Tabelle 2</a> werden Felder erläutert, die für den Export von Artikeltexten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-ItemDescription" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für den Export von Artikeltexten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/artikel-verwalten#50">Name 1 des Artikels</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">3. Manufacturer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-Manufacturer">Tabelle 3</a> werden Felder erläutert, die für den Export von Herstellerdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-Manufacturer" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für den Export von Herstellerdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/hersteller#100">ID des Artikelherstellers</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/einstellungen/hersteller#100">Name des Artikelherstellers</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="130">4. Stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-Stock">Tabelle 4</a> werden Felder erläutert, die für den Export von Warenbestandsdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-Stock" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Felder für den Export von Warenbestandsdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">averagePurchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/warenbestaende-verwalten#400">Durchschnittlicher Einkaufspreis</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reordered</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/warenbestaende-verwalten#400">Nachbestellte Menge</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reservedStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/warenbestaende-verwalten#400">Reservierter Bestand</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/warenbestaende-verwalten#400">Netto-Bestand</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockPhysical</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/warenbestaende-verwalten#400">Physischer Bestand</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehousePriority</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/lager-einrichten#300">Priorität des Lagers</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="140">5. StockBatchBestBeforeDate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-StockBatchBestBeforeDate">Tabelle 5</a> werden Felder erläutert, die für den Export von Chargennummer und Mindesthaltbarkeitsdatum zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-StockBatchBestBeforeDate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Felder für den Export von Chargennummer und Mindesthaltbarkeitsdatum</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">batch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/wareneingaenge-verwalten#810">Charge</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bestBeforeDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/wareneingaenge-verwalten#810">Mindesthaltbarkeitsdatum</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">6. StockStorageLocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-StockStorageLocation">Tabelle 6</a> werden Felder erläutert, die für den Export von Lagerortdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-StockStorageLocation" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Felder für den Export von Lagerortdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/warenbestaende-verwalten#400">ID des Lagerortes</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/warenwirtschaft/warenbestaende-verwalten#400">Name des Lagerortes</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="160">7. Variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-Variation">Tabelle 7</a> werden Felder erläutert, die für den Export von Variantendaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-Variation" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Felder für den Export von Variantendaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleMovingAveragePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob den gleitenden Nettoeinkaufspreis <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleNetWeight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Nettogewicht <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundlePurchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob den Nettoeinkaufspreis <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hasCalculatedBundleWeight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Bruttogewicht <a href="/artikel/multipacks-pakete-sets-verwalten#2500">automatisch anhand der Bestandteile</a> berechnet wird.<br>
1 = Berechnungsautomatik ist aktiviert.<br>
Leeres Feld = Berechnungsautomatik ist nicht aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">isActive</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/artikel/artikel-verwalten#230">Variante ist aktiv</a><br>
1 = Ja</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">model</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modell der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">purchasePrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="170">8. VariationBarcode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-VariationBarcode">Tabelle 8</a> werden Felder erläutert, die für den Export von Barcodes zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-VariationBarcode" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Felder für den Export von Barcodes</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode der Variante</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="180">9. Warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-Warehouse">Tabelle 9</a> werden Felder erläutert, die für den Export von Lagerdaten zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-Warehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Felder für den Export von Lagerdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">10. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-lager-eigene-werte">Tabelle 10</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">11. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 11</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>