<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Stock</span></a></li>
<li><a href="#200"><span>2.</span><span> StockMovement</span></a></li>
<li><a href="#300"><span>3.</span><span> custom_value</span></a></li>
<li><a href="#400"><span>4.</span><span> date</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Warenbestand</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Formaten des Typs <strong>stock</strong> exportierst du Warenbestandsdaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-stock">Tabelle 1</a> werden Felder erläutert, die für den Export von Warenbestand zur Verfügung stehen.<br>
Während des Imports findet eine Korrektur des Warenbestands statt, d.h. der Warenbestand wird geändert, um den importierten Wert widerzuspiegeln. Dies dient somit der Inventur.</p>
</div>
<table id="tabelle-felder-stock" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Felder für den Export von Warenbestand</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>averagePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>batch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Charge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bestBefore</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindesthaltbarkeitsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bundle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paket</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemDescriptionName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Artikelbeschreibung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemFlagOne</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelmarkierung 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemFlagTwo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelmarkierung 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemManufacturerId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikelherstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemManufacturerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Artikelherstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>purchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>reordered</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachbestellt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>reservedStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reservierter Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>storageLocationId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>storageLocationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationBarcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationIsActive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variante ist aktiv</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modell der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>variationTags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>warehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. StockMovement</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-felder-stock-movement">Tabelle 2</a> werden Felder erläutert, die für den Export von Daten zur Warenbewegung zur Verfügung stehen.</p>
</div>
<table id="tabelle-felder-stock-movement" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für den Export von Warenbewegungen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Feld</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">attributeValues</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwerte</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">deliveryNoteNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferscheinnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">entryDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Warenbewegung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl des bewegten Bestands. Anhand des Vorzeichens ist erkennbar, ob Bestand ein- oder ausgebucht wurde.<br>
-: Bestand wurde ausgebucht<br>
+: Bestand wurde eingebucht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reasonId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Warenbeweggrundes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">reasonString</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Warenbeweggrundes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sourceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quell-ID der Warenbewegung. Die Quelle kann ein Auftrag oder ein Wareneingang sein. Die Quell-ID ist somit z.B. entweder eine Auftrags-ID oder die ID eines Wareneingangs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sourceTypeId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Quelltyps einer Warenbewegung. Quelltyp bezieht sich auf das Menü oder die Aktion, die die Warenbewegung ausgelöst hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stockProcessId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorgangs-ID der Warenbewegung. Im Menü siehst du die Vorgangs-ID im Datensatz einer Variante im Tab <strong>Warenbewegung</strong> der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">storageLocationName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Benutzers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">userName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Benutzers, der die Warenbewegung gebucht hat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante, die von der Warenbewegung betroffen war</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationNumber</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variationTags</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers, aus dem die Ware ausgebucht oder in das die Ware eingebucht wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">warehouseName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers, aus dem die Ware ausgebucht oder in das die Ware eingebucht wurde.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. custom_value</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export von eigenen Werten stehen die in <a href="#tabelle-felder-lager-eigene-werte">Tabelle 3</a> aufgelisteten Felder zur Verfügung.</p>
</div>
<table id="tabelle-felder-lager-eigene-werte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Felder für Export von eigenen Werten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">custom_value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigener Wert</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. date</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Export des aktuellen Datums steht das in <a href="#tabelle-feld-datum">Tabelle 4</a> aufgeführte Feld zur Verfügung. Für weitere Informationen siehe <a href="http://php.net/manual/de/function.date.php" target="_blank" rel="noopener">hier</a>.</p>
</div>
<table id="tabelle-feld-datum" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Feld für Export des aktuellen Datums</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>