<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>2.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat <strong>Attribute</strong> wird für Attribute und Attributwerte verwendet. Du kannst mit diesem Datenformat keine Varianten erstellen. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#tabelle-datenformat-attribute-datenfelder">Tabelle 1</a> erläutert die Datenfelder des Datenformats <strong>Attribute</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table id="tabelle-datenformat-attribute-datenfelder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>Attribute</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeBackendName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributs im System<br>
Beispiel: <strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeContentPage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfeld wird nicht mehr verwendet</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeFrontendName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributs im Webshop<br>
Beispiel: <strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Attributs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeImage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>Bildverknüpfung</strong> in den Attributeinstellungen. Legt fest, ob das Attribut mit Bildern verknüpft werden kann.<br>
<strong>1</strong> = Bildverknüpfung möglich<br>
<strong>2</strong> = Bildverknüpfung nicht möglich</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributePosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributposition in Listen, z.B. in der Attributübersicht</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueBackendName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributwertes im System<br>
Beispiel: <strong>rot</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueComment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eintrag im Textfeld <strong>Bemerkung</strong> des Attributwertes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueFrontendName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributwertes im Webshop<br>
Beispiel: <strong>Rot</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Attributwertes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValuePosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Attributwertes in der Wertetabelle</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache des Attributs<br>
Wird keine Sprache gewählt, wird <strong>de</strong> verwendet.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Sprache wählen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">2. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in <a href="#tabelle-datenformat-attribute-abgleich">Tabelle 2</a> aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei Pflichtabgleichfeldern (P) muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table id="tabelle-datenformat-attribute-abgleich" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeBackendName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative zu <strong>AttributeID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Attributs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueBackendName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Attributwertes im System</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative zu <strong>AttributeValueID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Attributwertes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Pflichtabgleichfelder</div>
<div class="paragraph">
<p>Das Feld <strong>AttributeID</strong> ist ein Pflichtabgleichfeld beim Abgleich, die übrigen Felder können zusätzlich zum Abgleich verwendet werden.<br></p>
</div>
<div class="paragraph">
<p>Das Feld <strong>AttributeValueID</strong> ist das Pflichtabgleichfeld für die Felder <strong>AttributeValueBackendName</strong>, <strong>AttributeValueComment</strong>, <strong>AttributeValueFrontendName</strong>, <strong>AttributeValuePosition</strong> und <strong>AttributeValueSurcharge</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>