<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>CampaignCoupon</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>CampaignCoupon</strong> exportieren, bearbeiten und importieren Sie die im Menü <a href="/auftraege/gutscheine">Aufträge » Gutscheine</a> gespeicherten Gutschein-Codes der dort erstellten Gutscheinkampagnen. Sie können dann per Importfunktion zeitsparend weitere eigene (nicht von plentymarkets erzeugte) Gutschein-Codes einer Kampagne hinterlegen, die Sie andernfalls einzeln im Menü anlegen müssten. Sie erstellen und exportieren das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importieren Sie das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie Sie das Datenformat exportieren und importieren, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>CampaignCoupon</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>CampaignCoupon</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CampaignID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kampagnen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und die Kampagne, deren Gutschein-Codes bearbeitet werden sollen, aus der Dropdown-Liste wählen.<br>
<strong><em>Wichtig</em></strong>: Wird hier kein Filter gewählt, werden die Daten der ersten Kampagne exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CouponCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschein-Code<br>
Um weitere <a href="/auftraege/gutscheine#5">Gutschein-Codes</a> zu hinterlegen, diese in diese Spalte eingeben und dazu die ID der Kampagne in der Spalte <strong>CampaignID</strong> eingeben.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse aus der Dropdown-Liste wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> erstellt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>CampaignCoupon</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CampaignID</strong></p>
</li>
<li>
<p><strong>CouponCode</strong></p>
</li>
</ul>
</div>
</div>
</div>
</main>