<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>3.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Category</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>Category</strong> legst du Artikelkategorien an oder bearbeitest sie. Das Datenformat ist besonders zum Übersetzen von Kategorien geeignet. Exportiere zur Übersetzung von Deutsch nach Englisch z.B. alle Kategorien in der Sprache <strong>de</strong>. Übersetze dann die Kategorienamen und ändere dabei den Wert in der Spalte <strong>lang</strong> in die gewünschte Sprache, z.B. <strong>en</strong>, bevor du die Datei wieder importierst. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Datenfelder beziehen sich auf die Optionen der Kategorien, die in den Einstellungen und den Beschreibungen enthalten sind. <a href="#tabelle-datenformat-category-datenfelder">Tabelle 1</a> erläutert die Datenfelder des Datenformats <strong>Category</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table id="tabelle-datenformat-category-datenfelder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>Category</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung 1 (Text/HTML) der Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryDescription 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung 2 (Text/HTML) der Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryElmar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Elmar-Kategorie der Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryFulltextSearch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Volltextsuche</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID-Kennung der Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert für die Kategorie-ID eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryItemListView</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Liste der Kategorie (nur für Typ <strong>Artikel</strong>)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache: de / en / fr / it / es / tr<br>
Wird hier z.B. der Wert <strong>en</strong> beim Import verwendet, wird die Kategoriebezeichnung in der Sprache Englisch geändert.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLevel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ebene der Kategorie (1-6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert für die Kategorie-ID eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLinkList</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Linklisten-Einstellung der Kategorie.<br>
<strong>Y</strong> = Die Kategorie wird in der Navigation im Webshop angezeigt.<br>
<strong>N</strong> = Die Kategorie wird in der Navigation im Webshop nicht angezeigt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryNameURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name für die Verwendung in der URL der Kategorie<br>
<strong><em>Wichtig</em></strong>: Ausschließlich ASCII-Code verwenden, da der URL-Name keine Sonderzeichen enthalten darf.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryPageView</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Seite der Kategorie für Typ <strong>Content</strong> und <strong>Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryParentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der übergeordneten Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryPlaceholder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Platzhalter der Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryPosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position (Zahl); Kategorien können entweder nach dem Namen oder der Position sortiert angezeigt werden.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert für die Kategorie-ID eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryRobots</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Robots-Einstellung der Kategorie.<br>
<strong>ALL</strong> = Webseite der Kategorie wird in Suchmaschinenindex aufgenommen und Links auf der Seite gefolgt.<br>
<strong>INDEX</strong> = In Suchmaschinenindex aufgenommen.<br>
<strong>NOFOLLOW</strong> = Links auf der Seite wird nicht gefolgt.<br>
<strong>NOINDEX</strong> = Nicht in den Suchmaschinenindex aufgenommen.<br>
<strong>NOINDEX_NOFOLLOW</strong> = Links wird nicht gefolgt und die Webseite der Kategorie nicht in Suchmaschinenindex aufgenommen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryShortDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kurzbeschreibung der Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySingleItemView</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Produkt einer Kategorie des Typs <strong>Artikel</strong>, Template für Artikeldetailansicht</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySiteDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Beschreibung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySiteKeywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Keywords</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySiteMap</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sitemap-Einstellung der Kategorie<br>
<strong>Y</strong> = Die Kategorie wird in die Sitemap aufgenommen.<br>
<strong>N</strong> = Die Kategorie wird nicht in die Sitemap aufgenommen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySiteTitle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta-Titel</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryStoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten-ID der Sprachversion der Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ der Kategorie.<br>
<strong>Item</strong> = Kategorie des Typs Artikel<br>
<strong>Content</strong> = Kategorie des Typs Content</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryVisibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sichtbarkeit der Kategorie.<br>
<strong>all</strong> = Die Kategorie ist sichtbar.<br>
<strong>customer</strong> = Die Kategorie samt aller Unterkategorien ist nur im plentymarkets Backend sichtbar.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>Category</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CategoryID</strong></p>
</li>
<li>
<p><strong>CategoryLang</strong></p>
</li>
<li>
<p><strong>CategoryStoreID</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">3. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in <a href="#tabelle-datenformat-category-abgleich">Tabelle 2</a> aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei Pflichtabgleichfeldern (P) muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table id="tabelle-datenformat-category-abgleich" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleich</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID-Kennung der Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache der Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryStoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>