<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>CustomerProperty</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>CustomerProperty</strong> exportieren Sie die im Menü <a href="/crm/kontakte-verwalten#4000">Einrichtung » CRM » Eigenschaften</a> gespeicherten Kundeneigenschaften. Sie erstellen und exportieren das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Wie Sie das Datenformat exportieren, ist auf der Handbuchseite <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>CustomerProperty</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>CustomerProperty</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyClient</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten (Shops), für die die Kundeneigenschaft aktiviert ist</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyCustomerRegistration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahl der Option <strong>Kundenregistrierung</strong> in der Kundeneigenschaft im Menü <strong>Einrichtung » CRM » Eigenschaften</strong>.<br>
<strong>Y</strong> = Die Eigenschaft wird in der Kundenregistrierung angezeigt.<br>
<strong>N</strong> = Die Eigenschaft wird nicht in der Kundenregistrierung angezeigt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyCustomerSearch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahl der Option <strong>Kundensuche</strong> in der Kundeneigenschaft im Menü <strong>Einrichtung » CRM » Eigenschaften</strong>.<br>
<strong>Y</strong> = Die Eigenschaft wird bei der Kundensuche angezeigt.<br>
<strong>N</strong> = Die Eigenschaft wird nicht bei der Kundensuche angezeigt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kundeneigenschaft</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyLabel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Kundeneigenschaft</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache der Kundeneigenschaft.<br>
<strong><em>Hinweis</em></strong>: Pro Export kann nur eine Sprache exportiert werden. Wenn der Filter <strong>CustomerPropertyLang</strong> nicht gesetzt ist, wird die Standardsprache exportiert.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyMandatory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahl der Option <strong>Pflichtfeld</strong> in der Kundeneigenschaft im Menü <strong>Einrichtung » CRM » Eigenschaften</strong>.<br>
<strong>Y</strong> = Die Eigenschaft ist als Pflichtfeld deklariert.<br>
<strong>N</strong> = Die Eigenschaft ist nicht als Pflichtfeld deklariert.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyOrderProcess</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahl der Option <strong>Bestellvorgang</strong> in der Kundeneigenschaft im Menü <strong>Einrichtung » CRM » Eigenschaften</strong>.<br>
<strong>Y</strong> = Die Eigenschaft wird im Bestellvorgang angezeigt.<br>
<strong>N</strong> = Die Eigenschaft wird nicht im Bestellvorgang angezeigt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyPosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position der Kundeneigenschaft</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ, der der Kundeneigenschaft zugewiesen wurde</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPropertyVisibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundentypen, für die die Kundeneigenschaft sichtbar ist</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse aus der Dropdown-Liste wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> erstellt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das folgende Pflichtfeld muss für das Datenformat <strong>CustomerProperty</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CustomerPropertyID</strong></p>
</li>
</ul>
</div>
</div>
</div>
</main>