<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>CustomerNewsletter</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>CustomerNewsletter</strong> exportieren Sie Daten von Kunden, die für den Bezug von Newslettern eingetragen sind. Sie erstellen und exportieren das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Wie Sie das Datenformat exportieren, ist auf der Handbuchseite <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>CustomerNewsletter</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>CustomerNewsletter</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Birthday</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ConfirmedTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Opt-In-Bestätigung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerNewsletterID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Datensatzes im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mails</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Directory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Ordner, der die E-Mail-Adresse des Kunden enthält; im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mails</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und E-Mail-Ordner aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse aus der Dropdown-Liste wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> erstellt.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Export von Daten</div>
<div class="paragraph">
<p>Daten werden nicht aus allen E-Mail-Ordnern exportiert. Wenn kein Filter in dem Datenformat aktiviert wurde, werden die Daten aus dem ersten gefundenen Ordner im Menü <strong>Einrichtung » CRM » Newsletter » plentymarkets » E-Mails</strong> exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das folgende Pflichtfeld muss für das Datenformat <strong>CustomerNewsletter</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CustomerID</strong></p>
</li>
</ul>
</div>
</div>
</div>
</main>