<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a>
<ul class="sectlevel2">
<li><a href="#_datenformat_ebaypartsfitmentde"><span>1.1.</span><span> Datenformat EbayPartsFitmentDE</span></a></li>
<li><a href="#_datenformat_ebaypartsfitmentuk"><span>1.2.</span><span> Datenformat EbayPartsFitmentUK</span></a></li>
<li><a href="#_datenformat_ebaypartsfitmentcom"><span>1.3.</span><span> Datenformat EbayPartsFitmentCOM</span></a></li>
</ul>
</li>
<li><a href="#_übersicht_der_abgleichfelder"><span>2.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>EbayPartsFitment</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>EbayPartsFitment</strong> verknüpfst du die Daten einer <a href="/maerkte/ebay/ebay-einrichten#1600">Fahrzeugverwendungsliste</a> mit einem eBay-Listing. Für jede drei eBay-Plattformen <strong>Deutschland</strong>, <strong>UK</strong> und <strong>USA</strong> gibt es ein eigenes Datenformat: <strong>EbayPartsFitmentDE</strong>, <strong>EbayPartsFitmentUK</strong> und <strong>EbayPartsFitmentCOM</strong>.</p>
</div>
<div class="paragraph">
<p>Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für jede der drei eBay-Plattformen <strong>Deutschland</strong>, <strong>UK</strong> und <strong>USA</strong> gibt es ein eigenes Datenformat. Diese Datenformate findest du in den folgenden Kapiteln in Tabellen aufgelistet.</p>
</div>
<div class="sect2">
<h3 id="_datenformat_ebaypartsfitmentde">1.1. Datenformat EbayPartsFitmentDE</h3>
<div class="paragraph">
<p>Mit dem Datenformat <strong>EbayPartsFitmentDE</strong> verknüpfst du die Daten einer <a href="/maerkte/ebay/ebay-einrichten#1600">Fahrzeugverwendungsliste</a> mit einem eBay-Listing für eBay Deutschland. Tabelle 1 erläutert die Datenfelder des Datenformats <a href="http://pages.ebay.de/help/sell/contextual/master-vehicle-list-manually.html" target="_blank" rel="noopener">EbayPartsFitmentDE</a> in alphabetischer Reihenfolge.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Feld eBay</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteOldPartsFitmentItems</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht alle vorherigen Einträge aus der Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeletePartsFitmentID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht die alte Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeletePartsFitmentItemID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht einzelne Zeilen aus der Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eines Eintrages innerhalb einer Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueEngine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Motor_Engine_EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Motors, z.B. 4395 ccm, 330 KW, 449 PS</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueFitmentComments</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe von Hinweisen zum Fahrzeugmodell, z.B. Einbau Hinterachse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueKType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>K-Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der TecDoc-/KType-Nummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueMake</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marke_Make_EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der Fahrzeugmarke, z.B. BMW</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Modell_Model_EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Fahrzeugmodells, z.B. X5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValuePlatform</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plattform_Platform_EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der Fahrzeugplattform, z.B. F15</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueProductionPeriod</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Baujahr_ProductionPeriod_EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Baujahres, z.B. 2012/11-2015/12</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ_Type_EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Modell-Typs, z.B. xDrive50i</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentName</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MLID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Datenfelder des Datenformats <strong>EbayPartsFitmentDE</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_datenformat_ebaypartsfitmentuk">1.2. Datenformat EbayPartsFitmentUK</h3>
<div class="paragraph">
<p>Mit dem Datenformat <strong>EbayPartsFitmentUK</strong> verknüpfst du die Daten einer <a href="/maerkte/ebay/ebay-einrichten#1600">Fahrzeugverwendungsliste</a> mit einem eBay-Listing für eBay UK. Tabelle 2 erläutert die Datenfelder des Datenformats <a href="http://pages.ebay.co.uk/help/sell/contextual/master-vehicle-list-manually.html" target="_blank" rel="noopener">EbayPartsFitmentUK</a> in alphabetischer Reihenfolge.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteOldPartsFitmentItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht alle vorherigen Einträge aus der Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeletePartsFitmentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht die alte Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeletePartsFitmentItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht einzelne Zeilen aus der Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eines Eintrages innerhalb einer Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueBodystyle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der Karosserie, z.B. SUV</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueCarMake</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der Fahrzeugmarke, z.B BMW</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueCarsType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eines Eintrages innerhalb einer Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueCarsYear</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Baujahres, z.B. 2015</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueEngine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Motors, z.B. 4395 ccm, 330 KW, 449 PS</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueFitmentComments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe von Hinweisen zum Fahrzeugmodell, z.B. Einbau Hinterachse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueKType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der TecDoc-/KType-Nummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Fahrzeugmodells, z.B. X5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueVariant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der Fahrzeugvariante, z.B. F15 [2013-2015] SUV</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MLID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Datenfelder Datenformats <strong>EbayPartsFitmentUK</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_datenformat_ebaypartsfitmentcom">1.3. Datenformat EbayPartsFitmentCOM</h3>
<div class="paragraph">
<p>Mit dem Datenformat <strong>EbayPartsFitmentCOM</strong> verknüpfst du die Daten einer <a href="/maerkte/ebay/ebay-einrichten#1600">Fahrzeugverwendungsliste</a> mit einem eBay-Listing für eBay USA. Tabelle 3 erläutert die Datenfelder des Datenformats <a href="http://pages.ebay.com/motors/compatibility/download.html" target="_blank" rel="noopener">EbayPartsFitmentCOM</a> in alphabetischer Reihenfolge.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteOldPartsFitmentItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht alle vorherigen Einträge aus der Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeletePartsFitmentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht die alte Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeletePartsFitmentItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1 = Löscht einzelne Zeilen aus der Fahrzeugverwendungsliste.<br>
<strong><em>Wichtig</em></strong>: Das Feld <strong>EbayPartsFitmentID</strong> muss als Abgleichfeld angegeben werden. Alternativ ist die Angabe der MLID möglich.<br>
Alle anderen Felder werden für diese Zeile beim Import ignoriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eines Eintrages innerhalb einer Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueEngine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Motors, z.B. 4.4L 4395CC V8 GAS DOHC Turbocharged</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueFitmentComments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe von Hinweisen zum Fahrzeugmodell, z.B. Einbau Hinterachse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueKType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der TecDoc-/KType-Nummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueMake</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der Fahrzeugmarke, z.B. BMW</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Fahrzeugmodells, z.B.X5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueTrim</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe der Fahrzeugkarosserie, z.B. xDrive50i Sport Utility 4-Door</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemValueYear</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angabe des Baujahres, z.B. 2015</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Fahrzeugverwendungsliste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MLID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 3: Datenfelder des Datenformats <strong>EbayPartsFitmentCOM</strong></em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">2. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 4 aufgelisteten Datenfelder stehen bei allen drei Datenformaten zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei Pflichtabgleichfeldern (P) muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Fahrzeugverwendungsliste</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayPartsFitmentItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eines Eintrags innerhalb der Fahrzeugverwendungsliste</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MLID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative zu <strong>EbayPartsFitmentID</strong></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 4: Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></em></p>
</div>
</div>
</div>
</main>