<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>IncomingItems</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Spezialformat <strong>IncomingItems</strong> importierst du Wareneingangsdaten. Dieses Datenformat steht dir im Menü <strong>Daten » Dynamischer Import</strong> ausschließlich zum Import zur Verfügung. Ein Import von aktuellen Warenbeständen kann interessant sein, wenn die Warenbestände über eine externe Warenwirtschaft geführt werden und nur mit plentymarkets abgeglichen werden sollen.</p>
</div>
<div class="paragraph">
<p>Verwende das Datenformat <strong>IncomingItems</strong>, um nur bestimmte Wareneingänge und keinen kompletten Warenbestand zu importieren. Wie du den kompletten Warenbestand importierst, ist im Kapitel <a href="/daten/export-import/daten-importieren#120">Warenbestand importieren</a> auf der Handbuchseite <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>IncomingItems</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueSetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Artikelvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN-Code eines Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID-Kennziffer; Zahlenwert, max. 2^31</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer. Buchstaben und Ziffern sind möglich.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerortes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis (EK)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Importierter Bestand eines Artikels (Wareneingang)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationEAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN der Artikelvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Artikelvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Artikelvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Lager aus der Dropdown-Liste wählen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Datenfelder des Datenformats <strong>IncomingItems</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>IncomingItems</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein.</p>
</div>
<div class="paragraph">
<p>Pflichtfelder für Einzelartikel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p>sowie ein <strong>Item</strong>-Format</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Pflichtfelder für Variantenartikel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p><strong>AttributeValueSetID</strong></p>
</li>
<li>
<p>sowie ein <strong>Item</strong>-Format</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>oder</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p>sowie ein <strong>Variation</strong>-Format (z.B. <strong>VariationID</strong>)</p>
</li>
</ul>
</div>
</div>
</div>
</main>