<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Das 1:n-Problem</span></a></li>
<li><a href="#30"><span>3.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#40"><span>4.</span><span> Übersicht der Abgleichfelder</span></a></li>
<li><a href="#45"><span>5.</span><span> Übersicht der Aktionen</span></a></li>
<li><a href="#50"><span>6.</span><span> Wertetabelle amazon_product_type</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat <strong>Item</strong> enthält alle Datenfelder für Artikeldaten, die du damit exportierst, bearbeitest und importierst. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jeder Artikel ist mit einer Zahl (ID) versehen und somit über das Datenfeld <strong>ItemID</strong> (Artikel-ID) eindeutig bestimmt. Die folgenden drei Szenarien sind für den Export und Import denkbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wird bei einem Export von Artikelfeldern das Feld <strong>ItemID</strong> nicht mit exportiert und später auch nicht importiert, werden neue Artikel mit einer freien Artikel-ID angelegt.</p>
</li>
<li>
<p>Wird der Datensatz <strong>ItemID</strong> mit exportiert und später wieder importiert, wird der entsprechende Artikel geändert.</p>
</li>
<li>
<p>Werden Artikeldaten mit noch nicht in plentymarkets vorhandenen Artikel-IDs importiert, werden neue Artikel mit diesen Artikel-IDs angelegt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wird beim Export die Importaktion <strong>Abgleich</strong> gewählt, werden die Artikeldaten beim Import abgeglichen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Das 1:n-Problem</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Problem 1:n bzw. eins zu n tritt auf, wenn zu einem Artikel mehrere Eigenschaften definiert wurden. Einem Artikel können in plentymarkets folgende Eigenschaften mehrfach zugeordnet werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Preiszeilen</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Jedes Preisset ist eindeutig durch das Feld <strong>PriceID</strong> bestimmt. Wird diese ID nicht angegeben, wird immer ein neues Preisset ergänzt und die vorhandenen Preise werden gelöscht. Ist die ID vorhanden, wird der existierende Preis geändert.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Kategorien</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Ein Artikel kann gleichzeitig in mehreren Kategorien verfügbar sein. Werden beim Import jedoch Kategoriedatenfelder (CategoryLevel) eingefügt, werden alle bisherigen Kategorieverknüpfungen dieses Artikels gelöscht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Für neue Kategorien Datenformat <strong>Category</strong> verwenden</div>
<div class="paragraph">
<p>Das Erstellen von neuen Kategorien ist mit dem Datenformat <strong>Item</strong> nicht möglich. Du kannst mit dem Datenformat <strong>Item</strong> lediglich neue Kategorieverknüpfungen am Artikel erstellen. Verwende daher das Datenformat <a href="/daten/export-import/datenformate/category">Category</a>, um neue Kategorien zu erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikelbilder</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mit diesem Datenformat können externe Bilder mittels URL importiert werden. Dabei werden vorhandene Artikelbilder ersetzt. Werden mehrere Artikelbilder importiert, müssen diese Artikelbilder kommagetrennt ohne Leerzeichen angegeben werden. Wenn du vorhandene Bilder nicht ersetzen möchtest, importierst du die <a href="/artikel/artikel-verwalten#680">Bilder</a> ggf. per FTP-Upload.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>Item</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>Item</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLevel1Name - CategoryLevel6Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategoriename der jeweiligen Ebene 1 - 6. <br>
Beim Datenimport wird pro Artikel nur eine Kategorieverknüpfung importiert. Bei Artikeln mit mehreren Kategorieebenen werden beim Import bzw. Re-Import ggf. Kategorieebenen gelöscht. Diese Datenfelder daher nicht für den Kategorie-Import verwenden. <br>
Für Kategorien steht das Datenformat <strong>ItemCategories</strong> zur Verfügung.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Name der Kategorieebene aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryRakuten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rakuten-Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryYatego</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Liste der Yatego-Kategorien für diesen Artikel (kommagetrennt)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>True</strong> = Preise (ItemPrice) werden netto exportiert. <br>
<strong>False</strong> = Preise (ItemPrice) werden brutto exportiert.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelaktion, besonderer Anzeigemodus <br>
<strong>1</strong> = Sonderangebot <br>
<strong>2</strong> = Neuheit <br>
<strong>3</strong> = Top-Artikel</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAgeRestriction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">FSK; Zahlenwerte <br>
<strong>0</strong> = Keine verfügbar <br>
<strong>3</strong> = FSK 3 <br>
<strong>6</strong> = FSK 6 <br>
<strong>12</strong> = FSK 12 <br>
<strong>16</strong> = FSK 16 <br>
<strong>18</strong> = FSK 18 <br>
<strong>50</strong> = Nicht gekennzeichnet <br>
<strong>88</strong> = Nicht erforderlich <br>
<strong>99</strong> = Noch nicht bekannt</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAmazonFBA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Abwicklung (FBA) <br>
<strong>0</strong> = Nicht verwenden <br>
<strong>1</strong> = AMAZON EU <br>
<strong>2</strong> = AMAZON FE <br>
<strong>3</strong> = AMAZON NA, <br>
<strong>-1</strong> = FBA und SellerCentral</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAmazonProductType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon-Produktgenre; mögliche Werte, siehe <a href="/daten/export-import/datenformate/item#50">Wertetabelle amazon_product_type</a>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Amazon-Produkttyp für den Artikel aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAPICondition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zustand des Artikels; Übertragung mittels API an andere Marktplätze<br>
<strong>0</strong> = Neu<br>
<strong>1</strong> = Gebraucht wie neu<br>
<strong>2</strong> = Gebraucht sehr gut<br>
<strong>3</strong> = Gebraucht gut<br>
<strong>4</strong> = Gebraucht annehmbar<br>
<strong>5</strong> = B-Ware</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCondition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelzustand<br>
<strong>0</strong> = Neu<br>
<strong>1</strong> = Gebraucht<br>
<strong>2</strong> = Neu und originalverpackt<br>
<strong>3</strong> = Neu mit Etikett<br>
<strong>4</strong> = B-Ware</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCustomsTariffNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zolltarifnummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemDeepLink</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemDraft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelvorlagen-ID; ID einer Kategorie, die als Artikelvorlage definiert wurde.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayCategory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Kategorie; wird beim Erstellen eines neuen Listings verwendet.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayCategory2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Kategorie 2; wird beim Erstellen eines neuen Listings verwendet.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayPreset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Listing-Optionen-Vorlage; Einstellungen der Listing-Vorlage werden beim Anlegen neuer Listings verwendet.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayShopCategory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der ersten eBay-Shopkategorie; Wert wird für neue Listings verwendet.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEbayShopCategory2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der zweiten eBay-Shopkategorie; Wert wird für neue Listings verwendet.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemFEDAS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">FEDAS-Warengruppenschlüssel; Einstellung im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Multi-Channel</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemFreeTextField1 - ItemFreeTextField20</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Freitextfelder, die im Webshop oder bei eBay angezeigt werden können; Einrichtung im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Felder</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eindeutige Artikel-Kennziffer (ID), Zahlwert, max. 2^31</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL eines Bildes; Format: JPG<br>
Bild wird importiert und auf dem plentymarkets Server gesichert.<br>
Mehrere URLs mit einem Komma getrennt angeben.<br>
<strong><em>Hinweis</em></strong>: Beim Import von Artikelbildern werden vorhandene Bilder nicht ergänzt, sondern ersetzt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemInsertedTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit, wann der Artikel angelegt wurde; Format: tt.mm.jjjj hh:mm<br>
<strong><em>Hinweis</em></strong>: Feld ist nur für den Export verfügbar.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemLastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzte Änderung am Artikel; Datum und Uhrzeit. Format: tt.mm.jjjj hh:mm</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 1 als ID (<strong>1-31</strong>), Symbole.<br>
<strong>0</strong> = keine Markierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Markierung aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 2 als ID (<strong>1-11</strong>), Personen-Icons.<br>
<strong>0</strong> = keine Markierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Markierung aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modellbezeichnung des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNoCoupon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschein<br>
<strong>0</strong> = Möglich<br>
<strong>1</strong> = Verboten<br>
<strong>2</strong> = Nur mit Gutschein kaufbar</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemOriginCountry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellerland des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller des Artikels.<br>
Ein Hersteller wird bei Verwendung dieses Datenformats nicht automatisch im System angelegt, sondern muss als Hersteller im System vorhanden sein.<br>
Bei Verwendung dieses Datenfelds ist auf die korrekte Schreibweise der Hersteller zu achten.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID des Artikels</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Hersteller aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProductType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produkttyp<br>
<strong>0</strong> = Lagerware<br>
<strong>1</strong> = Produktionsware<br>
<strong>2</strong> = Colli<br>
<strong>3</strong> = Bestellware</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemRevenueAccount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlöskonto</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSCOMinPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle über diesem Mindestpreis liegenden Second Chance Offers und Preisvorschläge werden automatisch akzeptiert.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSerialNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seriennummer des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemShippingWithAmazonFBA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/maerkte/amazon/amazon-einrichten#370">Amazon Multi-Channel</a><br>
<strong>1</strong> = Ja<br>
<strong>0</strong> = Nein</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSubscription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kann der Artikel als Abo bestellt werden?<br>
<strong>0</strong> = Nein<br>
<strong>1</strong> = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbeschreibung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextKeywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTML-Meta-Keywords (Suchwörter); getrennt durch Komma (Wort1,Wort2,Wort3).</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbare Sprachen: de / en / fr / it / es / tr / nl / pl / nn / da / se / cz (Deutsch, Englisch, Französisch, Italienisch, Spanisch, Türkisch, Niederländisch, Polnisch, Norwegisch, Dänisch, Schwedisch, Tschechisch)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextMeta</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbeschreibung im Quelltext; wichtig für Suchmaschinen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextName2</strong> bzw. <strong>ItemTextName3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weitere Namen des Artikels.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextShort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelkurzbeschreibung; Vorschautext</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextTechnicalData</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Technische Daten des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextURLContent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL-Pfad des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NeckermannProductTypeEpAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neckermann-Produkttyp; Enterprise-Version Österreich</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NeckermannProductTypeCdAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neckermann-Produkttyp; Cross-Docking-Version Österreich</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationActive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Hauptvariante ist aktiv, d.h. die Hauptvariante wird im Webshop und ggf. auf Marktplätzen angeboten.<br>
<strong>N</strong> = Hauptvariante ist nicht aktiv.<br>
Einstellung <strong>Aktiv</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAutoStockInvisible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Hauptvariante wird automatisch im Webshop unsichtbar gestellt, wenn kein positiver Nettowarenbestand vorhanden ist.<br>
<strong>N</strong> = Aktive Hauptvarianten bleiben im Webshop sichtbar, wenn kein positiver Nettowarenbestand vorhanden ist.<br>
Einstellung <strong>Nicht verfügbar wenn kein Netto-WB</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante<br></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAutoStockNoPositiveStockIcon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeitsbild des Artikels<br>
<strong>0</strong> = Muss manuell deaktiviert werden.<br>
<strong>1</strong> = Bei keinem Nettowarenbestand ausblenden.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAutoStockPositiveStockIcon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeitsbild des Artikels<br>
<strong>0</strong> = Hauptvariante muss manuell aktiviert werden.<br>
<strong>1</strong> = Hauptvariante wird bei positivem Nettowarenbestand anzeigen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAutoStockVisible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hauptvariante ist automatisch sichtbar im Webshop, wenn Warenbestand vorhanden ist.<br>
<strong>0</strong> = Nein<br>
<strong>1</strong> = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAvailability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Verfügbarkeitsstufe der Hauptvariante; Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong><br>
Einstellung <strong>Verfügbarkeit</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationAvailableUntil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des letzten Tages der Verfügbarkeit der Hauptvariante.<br>
Einstellung <strong>Verfügbar bis</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante<br>
Format: TT.MM.JJJJ</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Hauptvariante<br>
Einstellung <strong>Variantennr.</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID der Hauptvariante<br>
Einstellung <strong>Externe Varianten-ID</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationExtraShippingCharge1</strong>;<br>
<strong>PrimaryVariationExtraShippingCharge2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Portoaufschlag der Hauptvariante<br>
Einstellungen <strong>Portoaufschlag 1</strong> und <strong>Portoaufschlag 2</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationHeightMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe der Hauptvariante in Millimetern (mm)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationIntervalOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mengenintervalle, in denen die Hauptvariante bestellbar ist. Kommawerte sind möglich, um z.B. Bestellungen nach Gewicht oder Länge abzubilden.<br>
Einstellung <strong>Intervallbestellmenge</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationLengthMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länge der Hauptvariante in Millimetern (mm)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationLimitOrderByStockSelect</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränke Hauptvariante auf Warenbestand<br>
<strong>0</strong> = Keine Beschränkung<br>
<strong>1</strong> = Beschränkung auf Nettowarenbestand<br>
<strong>2</strong> = Keinen Warenbestand für diese Hauptvariante führen<br>
Einstellung <strong>Beschränkung</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationMainWarehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Hauptlagers der Hauptvariante<br>
Einstellung <strong>Hauptlager</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationMaximumOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximale Bestellmenge der Hauptvariante<br>
Einstellung <strong>Max. Bestellmenge</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationMinimumOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellmenge der Hauptvariante<br>
Einstellung <strong>Min.-Bestellmenge</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modellbezeichnung der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Hauptvariante<br>
Einstellung <strong>Variantenname</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis (EK netto) der Hauptvariante<br>
Einstellung <strong>EK netto</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationReleaseDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, ab dem die Hauptvariante verfügbar sein wird.<br>
Einstellung <strong>Erscheinungsdatum</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante<br>
Format: JJJJ-MM-TT hh:mm:ss</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationStorageCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerkosten der Hauptvariante<br>
Einstellung <strong>Lagerkosten netto</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationTransportationCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettotransportkosten der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationUnitCombinationContent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der Einheit enthaltene Anzahl<br>
Inhalt des Felds <strong>Inhalt</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationUnitContained</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verpackungseinheit (VPE)<br>
Einstellung <strong>VPE</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationUnitID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Einheit der Hauptvariante; Liste der IDs im Menü <strong>Einrichtung » Artikel » Einheiten</strong><br>
Auswahl Dropdown-Liste <strong>Inhalt</strong> im Tab <strong>Einstellungen</strong> der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Mehrwertsteuersatzes der Hauptvariatente; Menü <strong>Einrichtung » Mandant » Mandant wählen » Buchhaltung</strong><br>
<strong>0</strong> = Datensatz A<br>
<strong>1</strong> = Datensatz B<br>
<strong>2</strong> = Datensatz C<br>
<strong>3</strong> = Datensatz D</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationWeightG</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttogewicht der Hauptvariante in Gramm (g)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationWeightNetG</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogewicht der Hauptvariante in Gramm (g)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationWidthMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite der Hauptvariante in Millimetern (mm)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationAttributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Liste der Attribute und Attributwerte, die mit der Hauptvariante verknüpft sind.<br>
Der interne Attributname ist vorangestellt, nach einem Doppelpunkt folgt der interne Name des Attributwerts. Mehrere Attributwerte werden durch Semikolon voneinander getrennt.<br>
<strong><em>Beispiel:</em></strong> Farbe:lila;rot</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Es handelt sich um Wahlpflichtfelder. Es muss mindestens ein Datenfeld aus der folgenden Tabelle für den Abgleich gewählt werden. Beim gewählten Datenfeld muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Hauptvariante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe ID der Hauptvariante</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Feld ItemID</div>
<div class="paragraph">
<p>Das Feld <strong>ItemID</strong> ist standardmäßig ein Pflichtabgleichfeld, muss jedoch nicht zwingend verwendet werden. Du kannst jedes der Felder verwenden, wobei zum Abgleich eines der Felder ausreicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="45">5. Übersicht der Aktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Aktionen</strong> wählst du, was beim Datenexport ausgeführt werden soll. Aktiviere die Aktion <strong>ItemLastUpdateTimestamp</strong> und wähle die Option <strong>setze aktuelles Datum</strong>. Den Artikeln wird dann beim Import der Zeitstempel der letzten Änderung hinzugefügt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Wertetabelle amazon_product_type</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Übersicht zu den Amazon-Produkttypen erhältst du <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plenty_article_amazon_type_view.csv" target="_blank" rel="noopener">hier</a>. Die Tabelle enthält die ID, den Namen des Exportformats, den Produkttyp und die Namen der Hauptkategorien und Unterkategorien in plentymarkets.</p>
</div>
</div>
</div>
</main>