<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ItemListingMarketHistory</h1><div class="paragraph">
<p>Das Datenformat <strong>ItemListingMarketHistory</strong> wird verwendet, um aktive Listings zu exportieren. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div><div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div><div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>ItemListingMarketHistory</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EndTime</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Endzeit des Listings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen.<br>
Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angebotsnummer des Marktplatzes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalSKU</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerhaltungsnummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HasVariations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Listing mit Varianten<br>
<strong>N</strong> = Listing ohne Varianten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des aktiven Listings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastUpdate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzte Aktualisierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen.<br>
Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MLID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MarketID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markt-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktueller Angebotspreis (Festpreis)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Promotion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Sonderaktion vorhanden<br>
<strong>N</strong> = Keine Sonderaktion vorhanden</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zu verkaufende Stückzahl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityRemain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restmenge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantitySold</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufte Menge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RelistedExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angebotsnummer des wiedereingestellten Listings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SCOStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Es handelt sich um Second Chance Offer<br>
<strong>N</strong> = Kein Second Chance Offer<br>
<strong>CREATED</strong> = Second Chance Offers für Listing angelegt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StartTime</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Startzeit des Listings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen.<br>
Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status des Listings<br>
<strong>active</strong> = aktiviert<br>
<strong>ended</strong> = beendet<br>
<strong>relisted</strong> = wiedereingestellt<br>
<strong>hidden</strong> = ausgeblendet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Listings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UpdateError</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Fehler beim Aktualisieren des Listings<br>
<strong>N</strong> = Kein Fehler vorhanden</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UseEPS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = eBay-Bilderservice wird verwendet.<br>
<strong>N</strong> = eBay-Bilderservice wird nicht verwendet.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UUID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identifikationsnummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
</tbody>
</table><div class="paragraph">
<p><em>Tab. 1: Datenfelder des Datenformats *ItemListingMarketHistory*</em></p>
</div>
</main>