<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>2.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>ItemListingMarketHood</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat <strong>ItemListingMarketHood</strong> wird verwendet, um neue Hood-Listings zu erstellen oder bestehende Hood-Listings zu bearbeiten. Du kannst z.B. einzelne Parameter ändern oder löschen. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>ItemListingMarketHood</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueSetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BasicPriceInText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreisangabe<br>
<strong>NO</strong> = Keine Grundpreisangabe<br>
<strong>TITLE_START</strong> = Grundpreis am Titelanfang<br>
<strong>TITLE_END</strong> = Grundpreis am Titelende<br>
<strong>SUBTITLE</strong> = Grundpreis im Untertitel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteListingID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong> = Listing-ID löschen<br>
<strong>0</strong> = Listing-ID nicht löschen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteListingMarketID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong> = Listing-ID für entsprechenden Markt löschen<br>
<strong>0</strong> = Listing-ID für entsprechenden Markt nicht löschen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteSchedulerIDs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong> = Alle aktivierten Verkaufsplaner für das Listing löschen<br>
<strong>0</strong> = Nicht löschen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibungstext</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DirectoryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verzeichnis-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Duration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dauer, in Tagen oder GTC</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enabled</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Aktiv<br>
<strong>N</strong> = Nicht aktiv</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ErrorCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fehlercode</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ErrorText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fehlermeldung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ErrorType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>info</strong> = Information<br>
<strong>error</strong> = Fehler<br>
<strong>warning</strong> = Warnung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fee</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellgebühr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FixedPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festpreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HoodCategoryID1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood-Kategorie-ID 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HoodCategoryID2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood-Kategorie-ID 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HoodEnhancements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood-Zusatzoptionen, Mehrfachauswahl durch Komma getrennt<br>
<strong>auctionNameSubTitle</strong> = Untertitel<br>
<strong>featureBoldTitle</strong> = Fettschrift in Artikellisten<br>
<strong>featureBackGroundColor</strong> = Hintergrundfarbe in Artikellisten<br>
<strong>featureGallery</strong> = Galerie Premium in Artikellisten<br>
<strong>featureCategory</strong> = Top-Angebot in Kategorie und Suche<br>
<strong>featureHomePage</strong> = Top-Angebot auf der Startseite<br>
<strong>featureHomePageImage</strong> = Top-Angebot mit Bild auf der Startseite<br>
<strong>featureNoAds</strong> = Keine Werbung einblenden<br>
<strong>featureXXLImage</strong> = XXL-Foto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HoodPaymentMethods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood-Zahlungsart, Mehrfachauswahl durch Komma getrennt<br>
<strong>cash</strong> = Barzahlung bei Abholung<br>
<strong>clickAndBuy</strong> = ClickAndBuy<br>
<strong>cashOnDelivery</strong> = Nachnahme<br>
<strong>payPal</strong> = PayPal<br>
<strong>moneyBookers</strong> = Skrill<br>
<strong>moneyBookersEscrow</strong> = Skrill Treuhandservice<br>
<strong>seeDescription</strong> = Sonstige - siehe Artikelbeschreibung<br>
<strong>escrow</strong> = Treuhandservice<br>
<strong>wireTransfer</strong> = Vorkasse per Überweisung<br>
<strong>invoice</strong> = Kauf auf Rechnung<br>
<strong>Sofortueberweisung</strong> = Sofortüberweisung<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HoodShopCategoryID1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood-Shop-Kategorie-ID 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HoodShopCategoryID2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood-Shop-Kategorie-ID 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HoodShopCategoryID3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hood-Shop-Kategorie-ID 3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HoodShowOnShopStartpage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>P</strong> = auf Händlerstartseite mit Bild sichtbar<br>
<strong>Y</strong> = mit Text sichtbar<br>
<strong>N</strong> = nicht sichtbar</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikelpreises</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache<br>
<strong>de</strong> = Deutsch<br>
<strong>en</strong> = Englisch, etc.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastUpdate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzte Aktualisierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LayoutTemplateID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Layout-Templates</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ListAllVariations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit allen Varianten listen<br>
<strong>Y</strong> = Ja<br>
<strong>N</strong> = Nein<br>
Dieser Wert darf nur bei Artikeln mit Varianten aktiviert werden.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ListingType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-Typ<br>
<strong>auction</strong> = Auktion zum Bieten<br>
<strong>fixed</strong> = Festpreisangebot<br>
<strong>dutch</strong> = Rückwärtsauktion<br>
<strong>shop</strong> = Shop-Artikel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MarketID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markt-ID<br>
<strong>3001</strong> = hood.de</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MaxNumOfImages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximale Anzahl an Bildern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MaxOnlineListings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Endloslister<br>
Maximale Anzahl aktiver Listings:<br>
<strong>0</strong> = deaktiviert<br>
<strong>1</strong> - <strong>8</strong> = Anzahl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MaxQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximal zu verkaufende Stückzahl</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MLID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market Listing ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NumberPerLot</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl pro Posten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReservePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestpreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SchedulerIDs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufsplaner-IDs eintragen, die aktiviert werden sollen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProfileID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versandprofils</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StartPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis des Mindestgebots</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StockDependence</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Abhängigkeit vom Warenbestand<br>
<strong>0</strong> = Unbeschränkt, mit Abgleich<br>
<strong>1</strong> = Beschränkt, mit Reservierung<br>
<strong>2</strong> = Beschränkt, ohne Reservierung<br>
<strong>3</strong> = Unbeschränkt, ohne Abgleich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subtitle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Untertitel des Listings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel des Listings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TransmitItemNumberType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Übertragen des Artikelnummer-Typs<br>
<strong>none</strong> = Keine<br>
<strong>EAN</strong> = EAN<br>
<strong>ISBN</strong> = ISBN<br>
<strong>MPN</strong> = Hersteller-Nummer<br>
<strong>EPID</strong> = eBay-Produkt-ID<br>
<strong>GTIN</strong> = GTIN<br>
<strong>UPC</strong> = UPC<br>
<strong>no-name</strong> = Sonderanfertigung oder No-Name-Produkt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UseItemPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Festpreis an Artikelpreis binden<br>
<strong>N</strong> = Preis aus Listing-Einstellungen verwenden</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UserID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Konto-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrwertsteuersatz</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verified</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>succeeded</strong> = Prüfung des Listings erfolgreich<br>
<strong>unknown</strong> = nicht geprüft<br>
<strong>failed</strong> = Prüfung nicht erfolgreich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Datenfelder des Datenformats *ItemListingMarketHood*</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">2. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei Pflichtabgleichfeldern (P) muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden. Die anderen Datenfelder können zusätzlich zum Abgleich verwendet werden und sind mit einem <strong>A</strong> gekennzeichnet.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikelpreises</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Listing-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Market-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Marktplatzes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MLID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market-Listing-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UserID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Konto-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Datenfelder mit Einstellung auf die Option *Abgleich*</em></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Import: Vorgehen bei fehlender Übereinstimmung</div>
<div class="paragraph">
<p>Beim Datenimport muss für die Einstellung <strong>Wenn beim Abgleich keine Übereinstimmung</strong> die Option <strong>Neuen Datensatz anlegen</strong> gewählt werden. Bei Auswahl der Option <strong>Datensatz überspringen</strong> gehen Informationen bei nicht vorliegender Übereinstimmung sonst verloren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>