<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>2.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>ItemImageName</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>ItemImageName</strong> bearbeitest oder löschst du Artikelbildnamen und Alternativnamen von im Tab <strong>Bilder</strong> eines Artikels verknüpften Artikelbildern. Mit wenig Aufwand passt du so große Mengen an verknüpften Bildern bzw. deren Parameter an. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#tabelle-datenformat-itemimagename-datenfelder">Tabelle 1</a> erläutert die Datenfelder des Datenformats <strong>ItemImageName</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table id="tabelle-datenformat-itemimagename-datenfelder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>ItemImageName</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbild-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageLanguage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache des Artikelbildnamens</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Sprache wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Artikelbildes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageNameAlternate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternativname; verbessert die Indizierung durch Suchmaschinen für die Artikel.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageNameDelete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong> = Bildnamen löschen<br>
Löscht Artikelbildnamen unwiederbringlich, wenn der Wert 1 eingegeben wird. Weitere Informationen zu Filtern, siehe Handbuchseite <a href="/daten/export-import/daten-exportieren#20">Daten exportieren</a>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbild-URL</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">2. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in <a href="#tabelle-datenformat-itemimagename-abgleich">Tabelle 2</a> aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei Pflichtabgleichfeldern (P) muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table id="tabelle-datenformat-itemimagename-abgleich" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleich</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbild-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageLanguage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache des Artikelbildnamens</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>