<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>3.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>ItemImage</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>ItemImage</strong> bearbeitest du die Optionen von im Tab <strong>Bilder</strong> eines Artikels verknüpften Artikelbildern. Mit diesem Datenformat exportierst, bearbeitest, importierst und löschst du Artikelbilder. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>ItemImage</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>ItemImage</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbild-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bildtyp; nur beim Export relevant</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Bildtyp wählen.<br>
<strong>INTERNAL</strong> = Bilder, die am Artikel hinterlegt wurden.<br>
<strong>EXTERNAL</strong> = Bilder, deren Link über SOAP importiert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageFileType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dateiformat: jpg, jpeg, png, gif oder svg</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbild-URL</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImagePosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bildposition<br>
Wird keine Position gesetzt, wird beim Import die nächsthöchste Position verwendet.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageLastUpdate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzte Aktualisierung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageInserted</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem das Bild hochgeladen wurde</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Attributwertes, der das Artikelbild für Marktplätze mit diesem Attributwert verknüpft. Bild wird nur für Artikelvarianten mit diesem Attributwert an Marktplätze übertragen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageDelete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong> = Artikelbild löschen<br>
Löscht Artikelbild unwiederbringlich, wenn der Wert 1 eingegeben wird. Weitere Informationen zu Filtern, siehe Handbuchseite <a href="/daten/export-import/daten-exportieren#20">Daten exportieren</a>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationLink</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Import. Varianten-IDs eingeben, um ein Bild mit diesen Varianten zu verknüpfen. Mehrere Varianten-IDs durch Kommas trennen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>ItemImage</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>ItemImageItemID</strong></p>
</li>
<li>
<p><strong>PrimaryVariationCustomNumber</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">3. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei Pflichtabgleichfeldern (P) muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden. Die anderen Datenfelder können zusätzlich zum Abgleich verwendet werden.&nbsp;Alternative Abgleichfelder sind mit einem <strong>A</strong> gekennzeichnet.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbild-ID<br>
Beim Aktualisieren von Bildern ist dieses Datenfeld ein Pflichtabgleichfeld.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>