<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_aktionen"><span>2.</span><span> Übersicht der Aktionen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OrderComplete</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>OrderComplete</strong> exportieren Sie Aufträge. Dieses Datenformat steht ausschließlich für den Export zur Verfügung. Sie erstellen und exportieren das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Wie Sie das Datenformat exportieren, ist auf der Handbuchseite <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>OrderComplete</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>OrderComplete</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerAccountingID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorenkonto im Menü <a href="/auftraege/buchhaltung">Buchhaltung</a></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerAdditionalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresszusatz in den Kundendaten</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ort des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firma des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerCountry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land des Kunden. Hier muss die ID importiert werden.<br>
Die IDs der Länder werden im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</strong> angezeigt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerEbayName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Name des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Faxnummer des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerGroup</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundengruppe des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerHouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hausnummer des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kunden-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerMobile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Handynummer des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerSign</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenzeichen in den Auftragsdaten</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerState</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bundesland bzw. Bundesstaat oder Provinz des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerVATNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">USt-IdNr. des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerGender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht des Kunden<br>
<strong>male</strong> = männlich bzw. 1<br>
<strong>female</strong> = weiblich bzw. 2</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryAdditionalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresszusatz in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ort in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firma in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCountry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Faxnummer in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryHouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hausnummer in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryPostident</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PostNummer in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryState</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bundesland bzw. Bundesstaat oder Provinz in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl in der Lieferanschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCustomsTariffNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zolltarifnummer eines Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Herstellers</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderComments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenkommentare zum Auftrag</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderCurrency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung des Auftrags</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderDiscountDays</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitraum in Tagen, in dem der Kunde Skonto erhält</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderDiscountPercent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Skonto in Prozent</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderDoneTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit des Warenausgangs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderEbayGetItFast</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Schnellversand</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderEstimatedTimeOfShipment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Voraussichtliches Versanddatum, das nur ausgefüllt wird, wenn eine Nachbestellung zum Auftrag erstellt wurde und die Nachbestellung einen Liefertermin hat.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderExchangeRatio</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umrechnungskurs in Primärwährung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderExternalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderInvoiceNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsnummer des Auftrags</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderIsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettorechnung (Exportlieferung oder EU mit UStID)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderLastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit der letzten Änderung am Auftrag</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderMarking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsmarkierung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderMethodOfPaymentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderOwnerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Auftragseigners</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPackageNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketnummer<br>
Wurden mehrere Pakete versendet, werden die Paketnummern kommagetrennt ausgegeben.<br>
Im Auftrag können mehrere Paketnummern nur bei DHL angegeben werden.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezahlte Auftragssumme</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPaidTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit des Zahlungseingangs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderParcelServiceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versanddienstleisters</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderParcelServicePresetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versandprofils</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderParentOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Hauptauftrags, bei Gutschriften z.B. die ursprüngliche Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPaymentStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsstatus<br>
<strong>0</strong> = unbezahlt<br>
<strong>1</strong> = bezahlt<br>
<strong>2</strong> = Teilzahlung<br>
<strong>3</strong> = Überzahlung<br>
<strong>4</strong> = Zahlung in ausländischer Währung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Auftragsherkunft (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Auftragsherkunft aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Auftragsherkunft</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderSalesAgent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Handelsvertreters</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderSellerAccountID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Konto des Verkäufers</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten des Auftrags</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Status wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Webshops, aus dem der Auftrag stammt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und die Uhrzeit des Auftragseingangs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTotalGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto-Warenwert des Auftrags</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTotalInvoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsbetrag; ob dieser Betrag brutto oder netto ist, hängt vom Kunden ab.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettowarenwert des Auftrags</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTotalVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrwertsteuerbetrag der Auftragssumme</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTotalVATShipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrwertsteuerbetrag der Versandkosten</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp<br>
<strong>order</strong> = Auftrag<br>
<strong>delivery</strong> = Lieferauftrag<br>
<strong>credit_note</strong> = Gutschrift<br>
<strong>returns</strong> = Retoure<br>
<strong>warranty</strong> = Gewährleistung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderValuta</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta ist der Zeitraum ab Rechnungserstellung, bevor der Zeitraum Zahlungsziel beginnt. Siehe Handbuchseite <a href="/crm/kontakte-verwalten#100">Kundendaten verwalten</a>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderWarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen und ID des Lagers eintragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationExternalId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock">Row = Artikelpositionen eines Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowAttributeSelection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowBarcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode der Artikelposition<br>
Erst nachdem Sie das Datenformat gespeichert haben, können Sie einen Barcode wählen. Den Barcode müssen Sie vor jedem Export wählen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowBundleVariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eines Artikelpakets</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Artikel-ID der Artikelposition, z. B. die ID von eBay</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen und die Artikel-ID eintragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stückpreis des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezeichnung des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowLastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der letzten Änderung an einer Artikelposition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator und Datum aus dem Kalender wählen. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen und Auftrags-ID eintragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fortlaufende Positions-Nr. der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Herkunft der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Herkunft der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-EK</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittlicher Netto-EK zum Zeitpunkt der Auftragsanlage. Wenn zu diesem Zeitpunkt kein durchschnittlicher EK errechnet wurde, wird der zum Zeitpunkt der Auftragsanlage am Artikel hinterlegte Netto-EK ausgegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelmenge</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowSize</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mengeneinheit</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrwertsteuersatz</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowVariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID einer Variante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowWarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowWeight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> angelegt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachdem Sie ein Datenformat vom Typ <strong>OrderComplete</strong> gespeichert haben, können Sie wählen, ob Sie auch gelöschte Aufträge exportieren möchten oder nicht. Wenn Sie Barcode als Datenfeld exportieren, können Sie festlegen welcher Barcode exportiert wird.<br>
Außerdem können Sie die Zeilen angeben, die Sie exportieren möchten. Wenn Ihr Export mehr als 6000 Zeilen umfasst, exportieren Sie das Format erneut und geben dabei 6001 als Startwert ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_aktionen">2. Übersicht der Aktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Aktionen</strong> wählen Sie, was beim Datenexport ausgeführt werden soll. Aktivieren Sie die Aktion <strong>OrderStatus</strong> und wählen Sie einen Auftragsstatus aus der Dropdown-Liste. Den Aufträgen wird dann beim Export dieser Auftragsstatus hinzugefügt.</p>
</div>
</div>
</div>
</main>