<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>2.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OrderItems</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>OrderItems</strong> exportierst und bearbeitest du die Artikelpositionen eines Auftrags oder fügst neue Positionen zu einem Auftrag hinzu. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>OrderItems</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst. Das Datenformat kann je nach plentymarkets Version 6 oder 7 unterschiedliche
Datenfelder beinhalten.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Datenfelder des Datenformats <strong>OrderItems</strong></p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelhersteller</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Herstellers</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariationNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderDoneTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum des Warenausgangs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Auftragsnummer, z. B. Artikel-ID von einem externen Marktplatz</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderInsertTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem der Auftrag angelegt wurde</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderPaidTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsdatum</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Auftragsherkunft</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Auftragsherkunft aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Auftragsherkunft</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Auftragsstatus aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragszeitpunkt; Datum der letzten Änderung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderUser</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock">Row = Artikelpositionen eines Auftrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowAttributeSelection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Bestellnummer der Artikelposition, z.B. ID von eBay</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stückpreis des Artikels. Wenn beim Importieren im Datenformat keine Preisspalte enthalten ist, wird der Preis aus den Variantendaten ermittelt. Wenn der Preis 0 ist oder das Feld leer bleibt, wird 0 als Preis der Auftragsposition gespeichert. Wenn keine Menge im Feld RowQuantity angegeben wird, wird ebenfalls 0 als Preis gespeichert.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowItemText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezeichnung des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowLastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der letzten Änderung an der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Datum wählen. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID des Auftrages, zu dem die Artikelposition gehört, in dem die Artikelposition bearbeitet oder zu dem die Position hinzugefügt werden soll. Ist für den Import notwendig.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positionsnummer der Artikelposition; fortlaufend. Wenn beim Import keine Positions-ID angegeben wird, wird automatisch eine ID vergeben.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunfts-ID an einer Artikelposition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Auftragsherkunft aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPositionReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Herkunft der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Einkaufspreis. Durchschnittlicher Netto-EK zum Zeitpunkt der Auftragsanlage. Wurde zu diesem Zeitpunkt kein durchschnittlicher EK errechnet, wird der zum Zeitpunkt der Auftragsanlage am Artikel hinterlegte Netto-EK ausgegeben.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gekaufte Menge. Ohne Mengenangabe wird der Preis weder gespeichert noch ermittelt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowSize</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mengeneinheit</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowVariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrwertsteuersatz</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowWarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager-ID der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RowWeight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> angelegt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">2. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das folgende Datenfeld steht zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei diesem Pflichtabgleichfeld muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>RowPositionID</strong> = Positionsnummer der Auftragsposition; fortlaufend</p>
</li>
</ul>
</div>
</div>
</div>
</main>