<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>2.</span><span> Übersicht der Abgleichfelder</span></a></li>
<li><a href="#_übersicht_der_aktionen"><span>3.</span><span> Übersicht der Aktionen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Order</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>Order</strong> exportieren, bearbeiten und importieren Sie Aufträge. Sie erstellen und exportieren das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importieren Sie das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie Sie das Datenformat exportieren und importieren, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achten Sie auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>Order</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die Sie im Tab <strong>Filter</strong> des Datenformats vornehmen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Datenfelder des Datenformats <strong>Order</strong></p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AccountingID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorenkonto (Bereich Buchhaltung)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdditionalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adresszusatz</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>City</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ort des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firma des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land des Kunden. Hier muss die ID importiert werden.<br>
IDs der Länder: Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung des Auftrags</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerGroup</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenklasse</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator und Kundenklasse wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kunden-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerInfo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundeninformation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerSign</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenkennzeichen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryAdditionalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Adresszusatz</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryAddressID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Lieferadresse</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Ort</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Firma</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryEmail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: E-Mail-Adresse</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Faxnummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryFirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Vorname</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryHouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Hausnummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryLand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Land. Hier muss die ID importiert werden.<br>
IDs der Länder: Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Nachname</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryPhone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Telefonnummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryStreet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: Straße</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryVATNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-ID der Lieferadresse</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanschrift: PLZ</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DoneTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum Warenausgang</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayGetItFast</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Schnellversand</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EbayName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay-Name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExchangeRatio</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umrechnungskurs in Primärwährung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Auftrags-ID, z.B. von externem Marktplatz</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Faxnummer des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HouseNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hausnummer des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InvoiceNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsnummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Rechnung (Exportlieferung oder EU mit UStID)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum letzte Änderung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsmarkierung (0-6)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MethodOfPaymentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Zahlungsart aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Handy-Nr. des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Status aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestelldatum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp<br>
<strong>order</strong> = Auftrag<br>
<strong>delivery</strong> = Lieferauftrag<br>
<strong>credit_note</strong> = Gutschrift<br>
<strong>returns</strong> = Retoure<br>
<strong>warranty</strong> = Gewährleistung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OwnerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Eigners des Auftrags</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PackageNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketnummer<br>
Wurden mehrere Pakete versendet, können beim Anbieter DHL auch mehrere Paketnummern mit dem Trennzeichen Komma "," in dieses Feld geschrieben werden.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezahlter Betrag</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaidTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsdatum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben. Mit dem Operator <strong>Zeitraum</strong> ist ein Datumsbereich möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServiceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versanddienstleisters</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Versanddienstleister aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParcelServicePresetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Versandkonfiguration</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ParentOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des übergeordneten Auftrags, z.B. bei Gutschriften die ursprüngliche Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsstatus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Zahlungsstatus aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Phone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Auftragsherkunft (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Auftragsherkunft aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReferrerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Auftragsherkunft</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesAgent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Handelsvertreter</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SellerAccountID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marktplatz-Konto des Verkäufers</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Webshop-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Street</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttoauftragssumme</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalInvoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungssumme</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettoauftragssumme</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalVAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrwertsteuer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TotalVATShipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrwertsteuer Versandkosten</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valuta</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitraum ab Rechnungserstellung, bevor der Zeitraum für das Zahlungsziel beginnt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VATNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZIP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PLZ des Kunden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> angelegt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">2. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Eins dieser Pflichtabgleichfelder (P) genügt allerdings für den Abgleich. Wählen Sie daher mindestens eines der Datenfelder.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleich</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalOrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Auftrags-ID, z.B. von externem Marktplatz</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_aktionen">3. Übersicht der Aktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Aktionen</strong> wählen Sie, was beim Datenexport ausgeführt werden soll. Aktivieren Sie die Aktion <strong>LastUpdateTimestamp</strong> und wählen Sie die Option <strong>setze aktuelles Datum</strong>. Den Aufträgen wird dann beim Import der Zeitstempel der letzten Änderung hinzugefügt.</p>
</div>
</div>
</div>
</main>