<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>3.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>SerialKeys</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat <strong>SerialKeys</strong> wird verwendet, um Seriennummern zu exportieren, zu bearbeiten und zu importieren. Nutze dieses Datenformat, um mit geringem Aufwand eine Vielzahl an Seriennummern für einen Artikel in plentymarkets zu importieren. Du kannst die Seriennummern deiner Artikel auch exportieren, diese in der Datei bearbeiten und wieder importieren. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>SerialKeys</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>SerialKeys</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderRowID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID der Artikelposition</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SerialKey</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seriennummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Seriennummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das folgende Pflichtfeld muss für das Datenformat <strong>SerialKeys</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ItemID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">3. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das in Tabelle 2 aufgelistete Datenfeld steht zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei diesem Pflichtabgleichfeld&nbsp;muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Seriennummer</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>