<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>StockMovement</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat <strong>StockMovement</strong> wird verwendet, um Warenbewegungen zu exportieren. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>.
Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>StockMovement</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>StockMovement</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueSetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl-ID</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EntryDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Warenbewegung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl des bewegten Bestands. Anhand des Vorzeichen ist erkennbar, ob Bestand ein- oder ausgebucht wurde.<br>
<strong>-</strong>: Bestand wurde ausgebucht<br>
<strong>+</strong>: Bestand wurde eingebucht</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReasonID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Warenbeweggrundes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Warenbeweggrund wählen. Wenn du bei Warenbewegungen keinen Grund angibst, erhalten diese automatisch Warenkorrektur als Grund.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReasonString</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Warenbeweggrundes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SourceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quell-ID der Warenbewegung. Die Quelle kann ein Auftrag oder ein Wareneingang sein. Die Quell-ID ist somit z.B. entweder eine Auftrags-ID oder die ID eines Wareneingangs.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SourceTypeID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Quelltyps einer Warenbewegung. Quelltyp bezieht sich auf das Menü oder die Aktion, die die Warenbewegung ausgelöst hat. Folgende IDs sind möglich:<br>
<strong>1</strong>: Warenbewegung wurde im Artikel, im Menü Wareneingang, durch das Datenformat Stock etc. ausgelöst<br>
<strong>2</strong>: Warenbewegung wurde im Auftrag ausgelöst<br>
<strong>3</strong>: Wareneingang wurde gelöscht<br>
<strong>4</strong>: Warenbewegung wurde im Menü Neuer Wareneingang ausgelöst</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StockProcessID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorgangs-ID der Warenbewegung. Im Menü siehst du die Vorgangs-ID im Datensatz einer Variante im Tab <strong>Warenbewegung</strong> der Variante.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StorageLocationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerorts</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UserID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Benutzers, der die Warenbewegung gebucht hat.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UserName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Benutzers, der die Warenbewegung gebucht hat.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationAttributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute der Variante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante, die von der Warenbewegung betroffen war</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahl-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und die ID einer Variante eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers, aus dem die Ware ausgebucht oder in das die Ware eingebucht wurde.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers, aus dem die Ware ausgebucht oder in das die Ware eingebucht wurde.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <strong><a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a></strong> angelegt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachdem du ein Datenformat vom Typ <strong>StockMovement</strong> angelegt hast, kannst du noch den Monat und das Jahr wählen, für den du Warenbewegungen exportieren möchtest. Du kannst auch ein gesamtes Jahr wählen. Der aktuelle Monat ist immer vorausgewählt. Ändere die Einstellung, um andere Monate zu exportieren. Nach einem Export wird die Datumsauswahl wieder auf den aktuellen Monat gesetzt.<br>
Außerdem kannst du die Zeilen angeben, die du exportieren möchtest. Wenn dein Export mehr als 6000 Zeilen umfasst, exportierst du das Format erneut und gibst dabei 6001 als Startwert ein.</p>
</div>
</div>
</div>
</main>