<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder_für_einzelartikel"><span>2.</span><span> Übersicht der Pflichtfelder für Einzelartikel</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder_für_variantenartikel"><span>3.</span><span> Übersicht der Pflichtfelder für Variantenartikel</span></a></li>
<li><a href="#_exportoptionen"><span>4.</span><span> Exportoptionen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat <strong>Stock</strong> dient zum Austausch von Daten des <a href="/warenwirtschaft">Warenbestands</a>. Beim Export wird dein aktueller Warenbestand exportiert. Der Export deines Warenbestandes ist z.B. ein Schritt beim Durchführen einer Inventur. Beim Import wird eine Warenbestandskorrektur durchgeführt und der Warenbestand auf den importierten Wert angepasst. Beachte, dass Bundles keinen Warenbestand besitzen.</p>
</div>
<div class="paragraph">
<p>Detaillierte Informationen zur Vorgehensweise beim Datenaustausch mit dem Datenformat <strong>Stock</strong> findest du im Kapitel <a href="/daten/export-import/daten-exportieren#90">Warenbestände exportieren</a> auf der Handbuchseite <strong>Daten exportieren</strong>.</p>
</div>
<div class="paragraph">
<p>Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>Stock</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst. Das Datenformat kann je nach plentymarkets Version 6 oder 7 unterschiedliche Datenfelder beinhalten.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Datenfelder des Datenformats <strong>Stock</strong></p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AveragePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnitts-Einkaufspreis (EK), siehe Handbuchseite <a href="/warenwirtschaft/wareneingaenge-verwalten#2b">Wareneingang</a></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachdem Speichern des Formats wird im Tab <strong>Filter</strong> ein Barcodefilter hinzugefügt. Deshalb nach dem Speichern das Datenformat öffnen und einen Barcode für den Export wählen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IsBundle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenbestands-Artikel ist ein Artikelpaket.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer des Artikels; Buchstaben und Ziffern erlaubt</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 1 des Artikels</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 2 des Artikels</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID des Artikels</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemTextName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerortes <br>
Ist beim Import keine Lagerort-ID gesetzt, wird der Standardlagerort (Lagerort-ID = 0) verwendet.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerortes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eindeutige Preis-ID-Kennziffer; Zahlenwert <br>
Ist keine Price-ID gesetzt, wird jeweils die ID des ersten Preissets verwendet.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceUnit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardeinheit des Artikels; siehe Handbuchseite <a href="/daten/export-import/datenformate/item">Datenformat Item</a>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis (EK)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reordered</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der nachbestellten Artikel</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReservedStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reservierter Lagerbestand eines Artikels</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(Physischer) Lagerbestand eines Artikels <br>
Wird beim Export im Filter kein Lager gesetzt, wird das Lager mit der ersten Lager-ID verwendet.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationActive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiv oder inaktiv wird im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Einstellungen</strong> eingestellt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationEAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN der Artikelvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Artikelvariante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationModel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modellbenennung einer Variante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nummer der Artikelvariante; Buchstaben und Ziffern erlaubt</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationString</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Systemnamen-Hash der Attribute und Werte. Beispiel: "Farbe:Blau;Größe:XXL".</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Lager aus der Dropdown-Liste wählen. <br>
Wenn kein Lager gewählt wird, gilt die Standardeinstellung, also das Lager mit der niedrigsten ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> angelegt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder_für_einzelartikel">2. Übersicht der Pflichtfelder für Einzelartikel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>Stock</strong> für Einzelartikel vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p>ein <strong>Item</strong>-Format</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Pflichtfelder müssen auf <strong>Import</strong> gestellt sein. Wenn kein Lager gewählt wird, gilt die Standardeinstellung, also das Lager mit der niedrigsten ID.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder_für_variantenartikel">3. Übersicht der Pflichtfelder für Variantenartikel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>Stock</strong> für Variantenartikel vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock</strong></p>
</li>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p><strong>AttributeValueSetID</strong></p>
</li>
<li>
<p><strong>VariationID</strong></p>
</li>
<li>
<p>ein <strong>Item</strong>-Format</p>
</li>
<li>
<p>ein <strong>Price</strong>-Format</p>
</li>
<li>
<p>ein <strong>Variation</strong>-Format</p>
</li>
<li>
<p><strong>PriceID</strong>, wenn ein Artikel mehrere Preissets enthält</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Pflichtfelder müssen auf <strong>Import</strong> gestellt sein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_exportoptionen">4. Exportoptionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst den Datenexport auf einen bestimmten Artikelbestand eingrenzen. Verwende dazu im Menü <strong>Daten » Dynamischer Export</strong> im Tab <strong>Felder</strong> die Optionen <strong>Bestand</strong>, <strong>Artikelpaket</strong> und <strong>Lieferant</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Mit der Option <strong>Artikelpaket</strong> wählst du, ob Artikelpakete exportiert werden sollen.</p>
</li>
<li>
<p>Mit der Option <strong>Lieferant</strong> legst du fest, ob der Bestand aller oder nur eines bestimmten Lieferanten exportiert werden soll.</p>
</li>
<li>
<p>Mit der Option <strong>Bestand</strong> bestimmst du, welcher Bestand exportiert wird. Tabelle 2 erläutert die möglichen Einstellungen für die Option <strong>Bestand</strong>.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der gesamte Artikelbestand wird exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldebestand unterschritten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Bestandsdaten zu Artikeln, bei denen der Meldebestand unterschritten ist, werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldebestand erreicht / unterschritten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Bestandsdaten zu Artikeln, bei denen der Meldebestand erreicht oder unterschritten ist, werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Negativer Netto-Warenbestand oder Netto-Warenbestand gleich 0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Bestandsdaten zu Artikeln mit Netto-Warenbestand gleich oder kleiner 0 werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Negativer Netto-Warenbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Bestandsdaten zu Artikeln mit negativem Netto-Warenbestand werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Negativer physischer Warenbestand oder physischer Warenbestand gleich 0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Bestandsdaten zu Artikeln mit physischem Warenbestand gleich oder kleiner 0 werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Negativer physischer Warenbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Bestandsdaten zu Artikeln mit negativem physischem Warenbestand werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Positiver Netto-Warenbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Bestandsdaten zu Artikeln mit positivem Netto-Warenbestand werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Positiver physischer Warenbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Bestandsdaten zu Artikeln mit positivem physischem Warenbestand werden exportiert.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>