<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>3.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>VariationSalesPrice</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat <strong>VariationSalesPrice</strong> wird verwendet, um Verkaufspreise von Artikeln anzulegen, zu bearbeiten oder zu löschen. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>VariationSalesPrice</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>VariationSalesPrice</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteSalesPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis löschen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong> = Nettopreise<br>
<strong>0</strong> = Bruttopreise</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Wert aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 1 des Artikels; 0 = keine Markierung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 2 des Artikels; 0 = keine Markierung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPriceExternalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externer Name des Verkaufspreises</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPriceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Verkaufspreises</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Preis aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPriceInternalName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interner Name des Verkaufspreises</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPriceLiveConversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Live-Umrechnung des Verkaufspreises, wie im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> aktiviert</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPriceLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache des Verkaufspreises, wie im Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Sprache</strong> eingegeben</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPriceMinimumOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellmenge des Verkaufspreises</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPricePosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Verkaufspreises; Verkaufspreise werden im Bereich <strong>Verkaufspreise</strong> von Artikelvarianten aufsteigend sortiert</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPriceType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ des Verkaufspreises</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationAttributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributname und Attributwertname der Variante im Format <strong>Name:Wert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">(früher VariationCustomNumber) Variantennummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Variante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis der Variante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>VariationSalesPrice</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variation ID</strong> und <strong>SalesPriceID</strong> zum Bearbeiten eines Verkaufspreises</p>
</li>
<li>
<p><strong>VariationID</strong>, <strong>SalesPriceID</strong> und <strong>DeleteItemPrice</strong> zum Löschen eines Verkaufspreises</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">3. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Es handelt sich um Pflichtabgleichfelder. Bei Pflichtabgleichfeldern muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden. Wähle mindestens eines der Datenfelder aus der Tabelle zum Abgleich. Du kannst aber auch beide wählen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPriceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Verkaufspreises</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>