<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_wichtige_hinweise"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#_übersicht_der_datenfelder"><span>2.</span><span> Übersicht der Datenfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>VariationCategories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat <strong>VariationCategories</strong> wird verwendet, um Kategorieverknüpfungen von Varianten zu exportieren, zu bearbeiten und zu importieren. Du kannst auch mit dem Datenformat <a href="/daten/export-import/datenformate/variation">Variation</a> Kategorieverknüpfungen per Datenaustausch bearbeiten. Das Datenformat <strong>VariationCategories</strong> ist jedoch besonders geeignet, um Mehrfachverknüpfungen pro Variante vorzunehmen oder zu bearbeiten.<br>
Verwende das Format <strong>VariationCategories</strong> z.B. um neu importierte Varianten einfach und schnell mit Kategorieverknüpfungen zu versehen. Nachdem du die neuen Varianten importiert hast, exportierst du die Kategorieverknüpfungen deiner Varianten. Füge dann in der CSV-Datei bei den neuen Varianten die Werte für die Kategorieverknüpfungen für den Import hinzu.</p>
</div>
<div class="paragraph">
<p>Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_wichtige_hinweise">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Import ist es möglich, über das Feld <strong>DeleteOld</strong> mit dem Wert <strong>1</strong> alte Kategorieverknüpfungen zu löschen. Gib bei mehrzeiliger Eingabe der Verknüpfungen pro Variante nur in der ersten Zeile den Wert <strong>1</strong> ein (siehe Tabelle 1).</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Für neue Kategorien Datenformat Category verwenden</div>
<div class="paragraph">
<p>Das Erstellen von neuen Kategorien ist mit dem Datenformat <strong>VariationCategories</strong> nicht möglich. Du kannst mit dem Datenformat <strong>VariationCategories</strong> lediglich neue Kategorieverknüpfungen an der Variante erstellen. Verwende daher das Datenformat <a href="/daten/export-import/datenformate/category">Category</a>, um neue Kategorien zu erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">2. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>VariationCategories</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>VariationCategories</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorien<br>
Kategorie-IDs werden kommagetrennt, IDs der Kategoriepfade mit Bindestrich eingegeben.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryBranches</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IDs der Kategoriezweige<br>
Diese IDs werden kommagetrennt eingegeben. Alternativ zeilenweise pro Kategoriezweig.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryNameLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache der Kategorienamen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryNames</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorienamen<br>
Namen verschiedener Kategorien werden kommagetrennt. Pfadnamen werden mit einem Größer-als-Zeichen eingegeben.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteOld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alte Kategorieverknüpfungen löschen<br>
<strong>0</strong> = Nein<br>
<strong>1</strong> = Ja<br>
<strong><em>Wichtig</em></strong>: Wenn Kategorieverknüpfungen einer Variante zeilenweise eingegeben werden, darf nur die erste Zeile den Wert 1 enthalten.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position der Kategorie</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>