<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Das 1:n-Problem</span></a></li>
<li><a href="#30"><span>3.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#40"><span>4.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Variation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>Variation</strong> exportierst, bearbeitest und importierst du Variantendaten. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jede Variante ist mit einer ID versehen und somit über das Datenfeld <strong>VariationID</strong> eindeutig bestimmt. Die folgenden drei Szenarien sind für den Export und Import denkbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wird bei einem Export von Variantenfeldern das Feld <strong>VariationID</strong> nicht mit exportiert und später auch nicht importiert, werden neue Varianten mit einer freien Varianten-ID angelegt.</p>
</li>
<li>
<p>Wird der Datensatz <strong>VariationID</strong> mit exportiert und später wieder importiert, wird die Variante geändert.</p>
</li>
<li>
<p>Werden Variantendaten mit noch nicht in plentymarkets vorhandenen Varianten-IDs importiert, werden neue Varianten mit diesen Varianten-IDs angelegt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wird beim Export die Importaktion <strong>Abgleich</strong> gewählt, werden die Variantendaten beim Import abgeglichen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Das 1:n-Problem</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Problem 1:n bzw. eins zu n tritt auf, wenn zu einer Variante mehrere Eigenschaften definiert wurden. Einer Variante können in plentymarkets folgende Eigenschaften mehrfach zugeordnet werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Verkaufspreise</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Jeder Verkaufspreis ist eindeutig durch das Feld <strong>SalesPriceID</strong> bestimmt. Wird diese ID nicht angegeben, wird immer ein neuer Verkaufspreis ergänzt und die vorhandenen Preise werden gelöscht. Ist eine ID vorhanden, wird der existierende Preis geändert.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Kategorien</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eine Variante kann gleichzeitig in mehreren Kategorien verfügbar sein. Werden beim Import jedoch Kategoriedatenfelder (CategoryLevel) eingefügt, werden alle bisherigen Kategorieverknüpfungen dieser Variante gelöscht.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Für neue Kategorien Datenformat Category verwenden</div>
<div class="paragraph">
<p>Das Erstellen von neuen Kategorien ist mit dem Datenformat <strong>Variation</strong> nicht möglich. Du kannst mit dem Datenformat <strong>Variation</strong> lediglich neue Kategorieverknüpfungen an der Variante erstellen. Verwende daher das Datenformat <a href="/daten/export-import/datenformate/category">Category</a>, um neue Kategorien zu erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikelbilder</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mit diesem Datenformat können externe Bilder mittels URL importiert werden. Dabei werden vorhandene Artikelbilder ersetzt. Werden mehrere Artikelbilder importiert, müssen diese Artikelbilder kommagetrennt ohne Leerzeichen angegeben werden. Wenn du vorhandene Bilder nicht ersetzen möchtest, importiere die <a href="/artikel/artikel-verwalten#680">Bilder</a> ggf. per FTP-Upload.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>Variation</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> des Datenformats vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>Variation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivierte Variante<br>
<strong>N</strong> = Nein<br>
<strong>Y</strong> = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueSetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interne, systemweit gebildete ID; bestimmt die Ausprägung einer Variante<br>
<strong><em>Beispiel</em></strong>: ID 1 = Farbe rot, Größe XL; ID 2 = Farbe grün, Größe XL.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AutoStockInvisible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatisch unsichtbar im Webshop; Webshop auf 0, wenn Warenbestand fehlt.<br>
<strong>N</strong> = Nein<br>
<strong>Y</strong> = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AutoStockNoStockIcon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeitsbild des Artikels<br>
<strong>N</strong> = Muss manuell deaktiviert werden<br>
<strong>Y</strong> = Bei keinem Nettowarenbestand ausblenden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AutoStockPositiveStockIcon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeitsbild des Artikels<br>
<strong>N</strong> = Muss manuell aktiviert werden<br>
<strong>Y</strong> = Bei positivem Nettowarenbestand anzeigen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AutoStockVisible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatisch sichtbar im Webshop; Webshop auf 1, wenn Warenbestand vorhanden ist.<br>
<strong>N</strong> = Nein<br>
<strong>Y</strong> = Ja</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit der Variante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AvailableUntil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbar bis</strong><br>
Option im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Einstellungen</strong> im Bereich <strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreatedTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit, wann die Variante erstellt wurde; Format: tt.mm.jjjj hh:mm<br>
<strong><em>Hinweis</em></strong>: Feld ist nur für den Export verfügbar.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomsPercent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentualer Anteil der Zollgebühren</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteVariation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong> = Variante löschen<br>
Löscht die Variante, wenn der Wert 1 eingegeben wird.<br>
<strong><em>Hinweis:</em></strong> Hauptvarianten können nicht gelöscht werden.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EstimatedAvailability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit im Zulauf</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExtraShippingCharge1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Portoaufschlag 1</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExtraShippingCharge2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Portoaufschlag 2</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HeightMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe in mm</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IntervalOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Intervallbestellmenge</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>isHiddenInCategoryList</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Y</strong> = Variante ist in Artikelauflistung unsichtbar<br>
<strong>N</strong> = Variante ist in Artikelauflistung sichtbar</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eindeutige Artikel-Kennziffer (ID), Zahlwert, max. 2^31</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastUpdateTimestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Letzte Änderung; Datum und Uhrzeit. Format: tt.mm.jjjj hh:mm</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LengthMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Länge in mm</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LimitOrderByStockSelect</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränke Artikel auf Warenbestand<br>
<strong>0</strong> = Keine Beschränkung<br>
<strong>1</strong> = Beschränkung auf Nettowarenbestand<br>
<strong>2</strong> = Keinen Warenbestand für diesen Artikel führen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MainWarehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID-Kennziffer des Hauptlagers; Hauptlager wird im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Variante öffnen » Tab: Einstellungen</strong> im Bereich <strong>Versand</strong> hinterlegt.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MaximumOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximale Bestellmenge pro Bestellung<br>
Der Wert <strong>0</strong> ist voreingestellt; die maximale Bestellmenge ist bei dem Wert <strong>0</strong> unbegrenzt</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MinimumOrderQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellmenge pro Bestellung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Model</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modellbezeichnung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OperatingCostsPercent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentualer Anteil der Gesamtbetriebskosten</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PackingUnitType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Art der Verpackung für die Packstücke</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PackingUnits</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Packstücke; Zahlenwert</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Picking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kommissionierung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anhand dieser Position werden die Varianten in der Variantenauflistung im Webshop sortiert.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceCalculationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des errechneten Preises; Dezimalwert</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis (EK netto)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReleaseDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erscheinungsdatum im Format JJJJ-MM-TT HH:MM:SS</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StorageCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerkosten</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TransportationCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transportkosten</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UnitID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Einheit; ID-Liste im Menü <strong>Einrichtung » Artikel » Einheiten</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UnitContent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der Einheit enthaltene Anzahl</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UnitLoadDevice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lademittel</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UnitsContained</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verpackungseinheit (VPE)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VATID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Umsatzsteuersatzes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Variante</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationAttributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Liste der Attribute, die mit der Variante verknüpft sind; ID-Liste im Menü <strong>Einrichtung » Artikel » Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WeightG</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttogewicht (mit Verpackung) in Gramm; Zahlenwert</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WeightNetG</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogewicht (ohne Verpackung) in Gramm; Zahlenwert</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WidthMM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite in mm</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Es handelt sich um Wahlpflichtfelder. Es muss mindestens ein Datenfeld aus der folgenden Tabelle für den Abgleich gewählt werden. Beim gewählten Datenfeld muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Varianten-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Feld VariationID</div>
<div class="paragraph">
<p>Das Feld <strong>VariationID</strong> ist standardmäßig ein Pflichtabgleichfeld, muss jedoch nicht zwingend verwendet werden. Du kannst jedes der Felder verwenden, wobei zum Abgleich eines der Felder ausreicht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>