<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_übersicht_der_datenfelder"><span>1.</span><span> Übersicht der Datenfelder</span></a></li>
<li><a href="#_übersicht_der_pflichtfelder"><span>2.</span><span> Übersicht der Pflichtfelder</span></a></li>
<li><a href="#_übersicht_der_abgleichfelder"><span>3.</span><span> Übersicht der Abgleichfelder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>VariationWarehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Datenformat <strong>VariationWarehouse</strong> exportierst, bearbeitst und importierst du deine Lagerkonfiguration. Du erstellst und exportierst das Datenformat im Menü <strong>Daten » Dynamischer Export</strong>. Importiere das Datenformat wieder im Menü <strong>Daten » Dynamischer Import</strong>. Wie du das Datenformat exportierst und importierst, ist auf den Handbuchseiten <a href="/daten/export-import/daten-exportieren">Daten exportieren</a> und <a href="/daten/export-import/daten-importieren">Daten importieren</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Achte auf die exakte Schreibweise der Datenfelder, da die Daten sonst nicht verarbeitet werden können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_datenfelder">1. Übersicht der Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabelle 1 erläutert die Datenfelder des Datenformats <strong>VariationWarehouse</strong> in alphabetischer Reihenfolge sowie die Filteroptionen, die du im Tab <strong>Filter</strong> vornimmst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder des Datenformats <strong>VariationWarehouse</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Markierung aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weitere Markierung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Markierung aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MaximumStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximaler Warenbestand</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Hersteller aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReorderLevel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldebestand</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StockBuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestandspuffer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StockTurnoverInDays</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerumschlagzeit in Tagen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StorageLocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort-ID für Lagerortvorschlag+
<strong>-1</strong> = Standardlagerort lösen</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StorageLocationType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerorttyp</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Lager aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseZone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zone des Lagers</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode_xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode<br>
<strong><em>Hinweis</em></strong>: Die Anzeige der Barcode-Datenfelder richtet sich danach, welchen Barcode-Typ du im Menü <strong>Einrichtung » Artikel » Barcode</strong> gewählt hast. Verfügbare Barcode-Typen: <strong>EAN 8</strong>, <strong>EAN 13</strong>, <strong>EAN 14</strong>, <strong>EAN 128</strong>, <strong>ISBN</strong>, <strong>QR</strong>, <strong>CODE 128</strong> und <strong>UPC</strong>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren, Operator wählen und Wert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export für Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis</em></strong>: reine Filtereinstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter aktivieren und Kundenklasse wählen. Um Daten für alle Kundenklassen zu exportieren, Filter nicht aktivieren. Kundenklassen werden im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> angelegt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_pflichtfelder">2. Übersicht der Pflichtfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Pflichtfelder müssen für das Datenformat <strong>VariationWarehouse</strong> vorhanden sein und ein gültiger Wert muss eingegeben sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>WarehouseID</strong></p>
</li>
<li>
<p><strong>VariationID</strong></p>
</li>
<li>
<p>ggf. <strong>VariationCustomNumber</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_übersicht_der_abgleichfelder">3. Übersicht der Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in Tabelle 2 aufgelisteten Datenfelder stehen zum <a href="/daten/export-import/daten-importieren#25">Datenabgleich</a> zur Verfügung. Bei Pflichtabgleichfeldern muss für die <strong>Importaktion</strong> die Option <strong>Abgleich</strong> gewählt werden. Pflichtabgleichfelder sind mit einem <strong>P</strong> gekennzeichnet. Die Wahlfelder sind mit einem <strong>W</strong> gekennzeichnet. Das Pflichtabgleichfeld <strong>WarehouseID</strong> muss mit mindestens einem der Wahlfelder kombiniert werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Datenfelder mit Einstellung auf die Option <strong>Abgleich</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Feldname</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Abgleichfelder</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">W</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">W</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">P</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>