<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#preparatory-settings"><span>1.</span><span> Preparatory settings in the plentymarkets back end</span></a>
<ul class="sectlevel2">
<li><a href="#activate-order-referrer"><span>1.1.</span><span> Activating an order referrer</span></a></li>
<li><a href="#activate-countries-of-delivery"><span>1.2.</span><span> Activating countries of delivery</span></a></li>
<li><a href="#email-server-login-details"><span>1.3.</span><span> Saving the email server’s login details</span></a></li>
<li><a href="#user-rights-back-end-user"><span>1.4.</span><span> Assigning rights for back end users</span></a></li>
</ul>
</li>
<li><a href="#settings-assistant"><span>2.</span><span> Settings in the assistant</span></a>
<ul class="sectlevel2">
<li><a href="#register"><span>2.1.</span><span> Authentication</span></a></li>
<li><a href="#data-transfer-warehouse-settings"><span>2.2.</span><span> Data transfer and warehouse settings</span></a></li>
<li><a href="#order-status-send-cancel-orders"><span>2.3.</span><span> Statuses: Send/cancel outbound orders</span></a></li>
<li><a href="#order-status-order-change-ebay-fulfillment-orange-connex"><span>2.4.</span><span> Statuses: Order changes by eBay Fulfillment by Orange Connex</span></a></li>
<li><a href="#order-status-return-order-change-ebay-fulfillment-orange-connex"><span>2.5.</span><span> Statuses: Return order changes by eBay Fulfillment by Orange Connex</span></a></li>
<li><a href="#shipping-profile-mapping"><span>2.6.</span><span> Shipping profile mapping</span></a></li>
<li><a href="#summary"><span>2.7.</span><span> Summary</span></a></li>
</ul>
</li>
<li><a href="#set-up-item-obtain-sku"><span>3.</span><span> Setting up items and obtaining the SKU</span></a>
<ul class="sectlevel2">
<li><a href="#set-up-item-bundle"><span>3.1.</span><span> Setting up item packages (bundles)</span></a></li>
<li><a href="#bundle-several-items-as-unit"><span>3.2.</span><span> Bundle of several items as a unit</span></a>
<ul class="sectlevel3">
<li><a href="#bundle-several-individual-items"><span>3.2.1.</span><span> Bundle of several individual items</span></a></li>
</ul>
</li>
<li><a href="#use-group-function"><span>3.3.</span><span> Using the group function</span></a></li>
</ul>
</li>
<li><a href="#set-up-automatism"><span>4.</span><span> Setting up automation</span></a>
<ul class="sectlevel2">
<li><a href="#ep-move-outbound-order"><span>4.1.</span><span> Setting up an event procedure for moving the outbound order to the correct status</span></a></li>
<li><a href="#ep-move-outbound-order"><span>4.2.</span><span> Setting up an event procedure to send the outbound order to eBay Fulfillment by Orange Connex</span></a></li>
<li><a href="#ep-book-outgoing-items"><span>4.3.</span><span> Setting up an event procedure to book outgoing items</span></a></li>
<li><a href="#ep-automatic-tracking"><span>4.4.</span><span> Setting up an event procedure for automated shipment tracking (tracking URL)</span></a></li>
<li><a href="#_setting_up_an_event_procedure_to_send_a_cancellation_request"><span>4.5.</span><span> Setting up an event procedure to send a cancellation request</span></a></li>
</ul>
</li>
<li><a href="#send-first-item-split-orders"><span>5.</span><span> Sending the first item and splitting orders</span></a>
<ul class="sectlevel2">
<li><a href="#send-first-item"><span>5.1.</span><span> Sending the first item</span></a></li>
<li><a href="#split-orders"><span>5.2.</span><span> Order splitting</span></a></li>
</ul>
</li>
<li><a href="#faq"><span>6.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay Fulfillment by Orange Connex</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>eBay extends its fulfilment program with the logistics partner Orange Connex. eBay Fulfillment by Orange Connex offers eBay vendors easy, reliable and affordable fulfilment services that are specially tailored to eCommerce service standards.</p>
</div>
<h2 id="_join_now" class="discrete">Join now</h2>
<div class="paragraph">
<p>You want to use eBay Fulfillment by Orange Connex? Inform yourself and get started with <a href="https://cloud.forbusiness.ebay.com/fulfillment" target="_blank" rel="noopener">eBay Fulfillment by Orange Connex</a> now.</p>
</div>
<h2 id="_what_does_outbound_mean" class="discrete">What does outbound mean?</h2>
<div class="paragraph">
<p>The term <em>Outbound</em> describes the sales and distribution process that the fulfilment service provider takes over for you: It packs the items, stores them temporarily and then sends them to your customers. eBay Fulfillment by Orange Connex takes over the entire process for you.</p>
</div>
<h2 id="_notes_for_sellers_who_are_already_using_the_ebay_fulfillment_solution_with_fiege" class="discrete">Notes for sellers who are already using the eBay Fulfillment solution with Fiege</h2>
<div class="paragraph">
<p>If you are already using the eBay Fulfillment solution with Fiege and are thus currently operating “in parallel”, note the following points and check the settings in your plentymarkets system:</p>
</div>
<div class="paragraph">
<p><strong>Order referrer</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Check the <a href="/en/orders/order-referrer">order referrer</a>. The order referrer for <strong>eBay Fulfillment by Orange Connex</strong> has to be activated.</p>
</li>
<li>
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> The order referrer that you used previously for the eBay Fulfillment solution with Fiege should <em>not</em> be deactivated until the entire stock has been bought off in the Fiege warehouse or moved to the Orange Connex warehouse completely.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Market availability at the item or variation</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Add the <a href="/en/item/managing-items#340">market availability</a> <strong>eBay Fulfillment by Orange Connex</strong> in the variations.</p>
</li>
<li>
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> The availability that you used previously for the eBay Fulfillment solution with Fiege should <em>not</em> be removed until the entire stock has been bought off in the Fiege warehouse or moved to the Orange Connex warehouse completely.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Warehouse selection at the order</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Check the order settings and adjust - depending on your setting - the <a href="/en/stock-management/setting-up-a-warehouse#200">warehouse priority</a> or the <a href="/en/orders/basic-settings#200">main warehouse</a> at the variations.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Transfer of stock to the markets</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Check in the corresponding settings of the market which warehouses are taken into account for the stock transfer.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="preparatory-settings">1. Preparatory settings in the plentymarkets back end</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the settings in the plentymarkets back end described in the following sub-chapters.</p>
</div>
<div class="sect2">
<h3 id="activate-order-referrer">1.1. Activating an order referrer</h3>
<div class="paragraph">
<p>The order referrer <strong>eBay Fulfillment by Orange Connex</strong> is already available in the <strong>Setup » Orders » Order referrer</strong> menu. You only have to activate this order referrer.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Note for sellers who are already using the eBay Fulfillment solution with Fiege</div>
<div class="paragraph">
<p>If you are already using the eBay Fulfillment solution with Fiege, it is important that activate the correct order referrer <strong>eBay Fulfillment by Orange Connex</strong>. You should not deactivate the order referrer for eBay Fulfillment that you used previously until the stock has been completely moved.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating an order referrer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In your plentymarkets back end, go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Search for <strong>eBay Fulfillment by Orange Connex</strong>.</p>
</li>
<li>
<p>Select the option by placing a check mark.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="activate-countries-of-delivery">1.2. Activating countries of delivery</h3>
<div class="paragraph">
<p>eBay Fulfillment by Orange Connex offers shipment to the following countries:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Belgium</p>
</li>
<li>
<p>Bulgaria</p>
</li>
<li>
<p>Germany</p>
</li>
<li>
<p>France (except overseas territories)</p>
</li>
<li>
<p>Greece</p>
</li>
<li>
<p>Italy (except Campione d’Italia, Livigno, San Marino, Vatican City)</p>
</li>
<li>
<p>Croatia</p>
</li>
<li>
<p>Luxembourg</p>
</li>
<li>
<p>Malta</p>
</li>
<li>
<p>Netherlands (except overseas territories)</p>
</li>
<li>
<p>Austria</p>
</li>
<li>
<p>Portugal (except Azores, Madeira)</p>
</li>
<li>
<p>Romania</p>
</li>
<li>
<p>Slovakia</p>
</li>
<li>
<p>Slovenia</p>
</li>
<li>
<p>Spain (except Canary Islands, Ceuta, Melilla)</p>
</li>
<li>
<p>Czech Republic</p>
</li>
<li>
<p>Hungary</p>
</li>
<li>
<p>Cyprus</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To work correctly with these countries in plentymarkets, these countries of delivery have to be activated in your plentymarkets system.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Note</div>
<div class="paragraph">
<p>Due to the limited number of active countries of delivery, delivery restrictions via other markets might occur.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating countries of delivery:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.<br>
→ The <strong>Countries of delivery</strong> tab opens.</p>
</li>
<li>
<p>Use the drop-down list in the <strong>Active</strong> column to set countries of delivery to <strong>Active</strong> or <strong>Backoffice is active</strong>.<br>
→ <strong><em>Note:</em></strong> When selecting the option <strong>Active</strong>, the country of delivery is also visible in the online shop. When selecting the option <strong>Backoffice is active</strong>, the country of delivery is only visible in the plentymarkets system, but not in the online shop.</p>
</li>
<li>
<p>In the <strong>Language</strong> column, select the language you want to activate for the country of delivery.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="email-server-login-details">1.3. Saving the email server’s login details</h3>
<div class="paragraph">
<p>In order that you send emails to your customers from your plentymarkets system, it is required that the login details of the email inbox from which you want to send the emails are saved in the plentymarkets back end.</p>
</div>
<div class="paragraph instruction">
<p>Saving the email server’s login details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the plentymarkets back end, go to <strong>Setup » Client » [Select client] » Email » Login details</strong>.</p>
</li>
<li>
<p>Carry out the desired settings. Note <a href="#table-ebay-fulfillment-email-server-login-details">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-ebay-fulfillment-email-server-login-details" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Saving the login details of the email server</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong> = The test mode is activated. All emails are only sent to the saved email address. This allows you to test the settings before switching to the live mode.<br>
<strong>Inactive</strong> = The live mode is activated.<br>
<strong><em>Important:</em></strong> The test mode is only applied to this online shop. The settings for additional clients are carried out in the client’s menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name of sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter your name or the name of the online shop. This name is displayed to the recipient. Avoid using special characters in order to allow for correct display.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the email address as it is listed in the email programme.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing mail server/SMTP server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the outgoing mail server as specified by the provider (usually smtp.domain.co.uk or mail.domain.co.uk).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name that matches the email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the password that matches the user name and email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the value <strong>465</strong> if <strong>SSL</strong> is used as encryption method.<br>
Enter the value <strong>25</strong> if <strong>no encryption</strong> is used.<br>
<strong><em>Note:</em></strong> Otherwise, ask your provider about the correct port.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Encryption</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>SSL</strong>, <strong>TLS</strong> or <strong>No encryption</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="user-rights-back-end-user">1.4. Assigning rights for back end users</h3>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to work with eBay Fulfillment by Orange Connex, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Orders &gt; Show</strong></p>
</li>
<li>
<p><strong>Orders &gt; Order status &gt; Show</strong></p>
</li>
<li>
<p><strong>Orders &gt; Order status &gt; Update</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="settings-assistant">2. Settings in the assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following sub-chapters describe which settings you can carry out in the single steps of the <strong>eBay Fulfillment by Orange Connex</strong> assistant. You find the assistant in the <strong>Setup » Assistants</strong> menu in the <strong>Integration</strong> area.</p>
</div>
<div class="sect2">
<h3 id="register">2.1. Authentication</h3>
<div class="paragraph">
<p>In the first step of the assistant, you authenticate to be able to use eBay Fulfillment by Orange Connex. Open the website by clicking on the button <strong>Authenticate</strong>. Enter your login details that you received from Orange Connex.</p>
</div>
<div class="paragraph">
<p>If you then click on the button <strong>I agree</strong> on the authentication website, you receive a message that authentication was successful and you can close the browser tab and return to the assistant.</p>
</div>
<div class="paragraph">
<p>Once you are successfully authenticated and clicked on <strong>Next</strong> in the assistant, the step <strong>Authentication</strong> is no longer visible in the assistant.</p>
</div>
</div>
<div class="sect2">
<h3 id="data-transfer-warehouse-settings">2.2. Data transfer and warehouse settings</h3>
<div class="paragraph">
<p>In the step <strong>Data transfer and warehouse settings</strong>, you determine whether your items and the stock shall be transferred. If you activate these options:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>item data is automatically transferred from plentymarkets to Orange Connex at regular intervals</p>
</li>
<li>
<p>stock is automatically returned from Orange Connex to plentymarkets at regular intervals</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Furthermore, you can decide whether you want to create a new warehouse for eBay Fulfillment by Orange Connex or use an existing warehouse. If you create a new warehouse here, the type <strong>Sales</strong> is automatically selected and all order referrers are activated for this warehouse. The name of the warehouse is <em>eBay Fulfillment</em>. Creating a second warehouse is not necessary. If you select an existing warehouse, only warehouse of the type <strong>Sales</strong> are shown here.</p>
</div>
<div class="paragraph">
<p>Afterwards, you select the standard services for domestic shipment and international shipment. The services selected here are then transferred as standard service for all shipping profiles, unless you explicitly select another service in the shipping profile.</p>
</div>
<h4 id="letter-service" class="discrete">Letter service</h4>
<div class="paragraph">
<p>If you would like to use the letter service, select <strong>DE Economy</strong> as standard service. In the assistant step <a href="#shipping-profile-mapping"><strong>Shipping profile mapping</strong></a>, select the shipping service provider <strong>Orange Connex</strong>. Orange Connex will then provide a tracking number. The tracking number shows when the letter was sent. It is, however, not possible to track the progress of the letter.</p>
</div>
<h4 id="freight-forwarding-service" class="discrete">Freight-forwarding service</h4>
<div class="paragraph">
<p>If you would like to use the freight-forwarding service, select <strong>DE Freight</strong> as standard service. The freight-forwarding service allows you to send orders up to 2,5 tons via a freight-forwarding company. In the assistant step <a href="#shipping-profile-mapping"><strong>Shipping profile mapping</strong></a>, select the shipping service provider <strong>Orange Connex</strong>. Orange Connex will automatically route the tracking option regarding these tracking numbers to the correct freight-forwarding partner.</p>
</div>
</div>
<div class="sect2">
<h3 id="order-status-send-cancel-orders">2.3. Statuses: Send/cancel outbound orders</h3>
<div class="paragraph">
<p>In the step <strong>Statuses: Send/cancel outbound orders</strong>, you can save two statuses: one status for outbound orders that are ready to be sent to eBay Fulfillment by Orange Connex and one status for outbound orders that were successfully sent to eBay Fulfillment by Orange Connex, but that you would like to cancel again.</p>
</div>
<div class="paragraph">
<p>You can either select existing order statuses or create new statuses.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
If you select an existing order status, make sure that this status is not used in any other process nor in any other event procedure. Otherwise, this may cause problems.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Create an order status for the following two occasions:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Send outbound order</p>
</li>
<li>
<p>Send request to cancel outbound</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="order-status-order-change-ebay-fulfillment-orange-connex">2.4. Statuses: Order changes by eBay Fulfillment by Orange Connex</h3>
<div class="paragraph">
<p>In the step <strong>Statuses: order changes by eBay Fulfillment by Orange Connex</strong>, you can save the statuses for outbound orders that return to your plentymarkets system as reply from eBay Fulfillment by Orange Connex. The reaction from eBay Fulfillment by Orange Connex always refers to outbound orders that you have already sent before.</p>
</div>
<div class="paragraph">
<p>You can either select existing order statuses or create new statuses.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
If you select an existing order status, make sure that this status is not used in any other process nor in any other event procedure. Otherwise, this may cause problems.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Create a new order status or select an existing order status for the following order changes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Outbound order sent successfully</p>
</li>
<li>
<p>Outbound order rejected</p>
</li>
<li>
<p>Outbound order cancelled</p>
</li>
<li>
<p>Outbound order exception</p>
</li>
<li>
<p>Outbound order undeliverable</p>
</li>
<li>
<p>Auto-fulfilled order failed</p>
</li>
</ul>
</div>
<table id="table-order-statuses" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Order statuses for eBay Fulfillment by Orange Connex</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Outbound order sent successfully</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the outbound order with this status is in your plentymarkets system, the transfer to Orange Connex was successful.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Outbound order rejected</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the outbound order with this status is in your plentymarkets system, the outbound order was rejected by Orange Connex.<br>
A reason for that might be missing item data. The reason is saved as order note.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Outbound order cancelled</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the outbound order with this status is in your plentymarkets system, Orange Connex accepted the cancellation of this outbound order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Outbound order exception</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the outbound order with this status is in your plentymarkets system, the outbound order was rejected afterwards. This means that Orange Connex first accepted the outbound order and then rejected it afterwards.<br>
Reasons for that might be the wrong quantity in the warehouse or a damaged item. The reason is saved as order note.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Outbound order undeliverable</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If the outbound order with this status is in your plentymarkets system, the outbound order could not be delivered.<br>
Reasons for that might be the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>the address is wrong</p>
</li>
<li>
<p>the parcel was not picked up within the warehousing period</p>
</li>
<li>
<p>the delivery was refused</p>
</li>
<li>
<p>the recipient was not met multiple times in a row.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auto-fulfilled order failed</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If the auto-fulfilled order with status is in your plentymarkets system, the auto-fulfilled order could not be transmitted.<br>
A reason for that might be that the name of the street has too many characters. Log into the Orange Connex portal and correct the error to ensure that the order can be transmitted correctly.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Only use free, unused order statuses</div>
<div class="paragraph">
<p>Search for free, unused order statuses and use them. Do not overwrite in any case order statuses that are already in use because they might be used in other places in your plentymarkets system (e.g. in event procedures or processes). This might cause problems.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Select the statuses between 5 and 8.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="order-status-return-order-change-ebay-fulfillment-orange-connex">2.5. Statuses: Return order changes by eBay Fulfillment by Orange Connex</h3>
<div class="paragraph">
<p>In the step <strong>Statuses: return order changes by eBay Fulfillment by Orange Connex</strong>, you can save the statuses for return orders that return to your plentymarkets system as reply from eBay Fulfillment by Orange Connex. The reply from eBay Fulfillment by Orange Connex always refers to return orders that were created during a return provided that no return order exists.</p>
</div>
<div class="paragraph">
<p>You can either select existing order statuses or create new statuses.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
If you select an existing order status, make sure that this status is not used in any other process nor in any other event procedure. Otherwise, this may cause problems.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Create an order status for the following event:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order undeliverable</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="shipping-profile-mapping">2.6. Shipping profile mapping</h3>
<div class="paragraph">
<p>In the <strong>Shipping profile mapping</strong> step, you link the eBay Fulfillment by Orange Connex service providers with the plentymarkets shipping profiles.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">eBay Fulfillment by Orange Connex determines the service providers</div>
<div class="paragraph">
<p>The service providers are determined by eBay Fulfillment by Orange Connex. You cannot delete them or add new service providers. eBay Fulfillment by Orange Connex decides which service provider is used for the fulfilment process. Currently, DHL, DPD, GLS, Hermes, UPS and Deutsche Post are used.<br>
If you would like to use the <a href="#letter-service">letter service</a> or <a href="#freight-forwarding-service">freight-forwarding service</a>, select <strong>Orange Connex</strong> as shipping service provider.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In order that you can correctly track your shipments, you have to assign a plentymarkets shipping profile to each eBay Fulfillment by Orange Connex service provider. You can select an existing shipping profile or create a new shipping profile.</p>
</div>
<h4 id="_creating_a_new_shipping_profile" class="discrete">Creating a new shipping profile</h4>
<div class="paragraph">
<p>Click on the drop-down list <strong>Shipping profile</strong> and select the entry <strong>+ Create new shipping profile</strong>. plentymarkets will then automatically create a new shipping profile and a shipping service provider for you. The name of the shipping profile is composed of the name of the shipping service provider and the supplement <em>eBay Fulfillment by Orange Connex</em>, e.g. <strong>Hermes eBay Fulfillment by Orange Connex</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="summary">2.7. Summary</h3>
<div class="paragraph">
<p>In this step, a summary of all entries that you made in the single steps is listed. You can take a look at all the settings that you carried out, adjust setting within the steps, if needed and complete the assistant afterwards via the summary step.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-item-obtain-sku">3. Setting up items and obtaining the SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up the items respectively variations that you would like to send via eBay Fulfillment by Orange Connex. The variation is transferred to Orange Connex if the following requirements are met:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The market (order referrer) <strong>eBay Fulfillment by Orange Connex</strong> was activated in the variation’s <strong>Availability</strong> tab.</p>
</li>
<li>
<p>The sales price for which the order referrer <strong>eBay Fulfillment by Orange Connex</strong> is activated was saved in the variation’s <strong>Settings</strong> tab.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Orange Connex checks the variation. Once the check was successful, Orange Connex transfers the SKU automatically to plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Hourly check of the SKU</div>
<div class="paragraph">
<p>Note that after a positive check of the variation, it might take up to one hour until the SKU is visible at the item respectively the variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following describes how to set up sales prices and the availability manually. Refer to the <a href="#use-group-function">Using the group function</a> chapter to learn how to use the group function to carry out these settings for all variations.</p>
</div>
<div class="paragraph instruction">
<p>Setting up items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the plentymarkets back end, go to <strong>Item » Edit items</strong>.</p>
</li>
<li>
<p>Open the variation that you would like to send via eBay Fulfillment by Orange Connex.<br>
→ The main variation opens.</p>
</li>
<li>
<p>In the <strong>Sales prices</strong> area, enter the desired sales price.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, activate the options <strong>eBay</strong>, <strong>eBay Fulfillment by Orange Connex</strong> and <strong>WEB API</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Go back to the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, select the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the setting.<br>
→ The item is activated and the SKU is automatically transmitted to plentymarkets.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Availability and eBay sales price have to be saved</div>
<div class="paragraph">
<p>Item master data is only transmitted from plentymarkets to eBay Fulfillment by Orange Connex if the availability and the sales price for which the order referrer <strong>eBay Fulfillment by Orange Connex</strong> is activated are set.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="set-up-item-bundle">3.1. Setting up item packages (bundles)</h3>
<div class="paragraph">
<p>A bundle, a so-called item package, consists of several items. The bundle price may be lower than the sum of the individual prices.</p>
</div>
<div class="paragraph">
<p>If you have already set up item packages in your plentymarkets system, there are still 2 setting options for the items that you have to carry out so they can be processed by eBay Fulfillment by Orange Connex.</p>
</div>
</div>
<div class="sect2">
<h3 id="bundle-several-items-as-unit">3.2. Bundle of several items as a unit</h3>
<div class="paragraph">
<p>The bundle consists of several items that form a unit. This means that the bundle is offered as such a unit and is sent to eBay Fulfillment by Orange Connex in a single package. An SKU is assigned to the complete package.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Example of a bundle of several items as a unit</div>
<div class="content">
<div class="paragraph">
<p>A somewhat abstract example of a "fixed" bundle is a car. The car is sold as a unit and it is not planned, for example, to just remove the steering wheel and then sell it, although the steering wheel can still be a single items.</p>
</div>
</div>
</div>
<div class="sect3">
<h4 id="bundle-several-individual-items">3.2.1. Bundle of several individual items</h4>
<div class="paragraph">
<p>The bundle consists of several individual items. This means that you have to set the availability in each component of this package as described in chapter <a href="/en/fulfilment/ebay-fulfillment#set-up-item-obtain-sku">Setting up items and obtaining the SKU</a>. This means that each item in the package has its own SKU. When submitting an order to eBay Fulfillment by Orange Connex, each component of the item package is treated like an individual item order.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Example of a bundle of several individual items</div>
<div class="content">
<div class="paragraph">
<p>You sell dining room chairs and dining room tables. You also offer a combination of the items as a bundle (1 dining room table and 4 dining room chairs). In contrast to the individual prices, the bundle price is as follows:</p>
</div>
<table id="table-ebay-fulfillment-example-bundle" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Example calculation of a bundle</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total price</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dining room chair</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 59.99</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price x 4 = EUR 239.96</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dining room table</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 299.99</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 299.99</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EUR 539.95</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock">Bundle price = EUR 499.99</p></td>
</tr>
</tbody>
</table>
<div id="image-edit-item" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/eBay-Fulfillment-item-overview.png" alt="eBay Fulfillment item overview" width="640" height="360">
</div>
<div class="title">Figure 1. Overview in the <strong>Item » Edit items</strong> menu</div>
</div>
<div id="image-tab-stock" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/eBay-Fulfillment-bundle-tab-stock.png" alt="eBay Fulfillment bundle tab stock" width="640" height="360">
</div>
<div class="title">Figure 2. Variation in the <strong>Stock</strong> tab</div>
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="use-group-function">3.3. Using the group function</h3>
<div class="paragraph">
<p>In the <strong>Item » Edit item</strong> menu, you can use the variation group function to easily edit your variations. By doing so, you can quickly change the sales prices and activate the market availability <strong>eBay Fulfillment by Orange Connex</strong>.</p>
</div>
<div class="paragraph">
<p>To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Using the group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Select in the <strong>Market availability</strong> area the option <strong>eBay Fulfillment by Orange Connex</strong>.</p>
</li>
<li>
<p>Select the checkboxes on the left and right side.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Note for sellers who are already using the eBay Fulfillment solution with Fiege</div>
<div class="paragraph">
<p>If you are already using the eBay Fulfillment solution with Fiege, you can use the variation group function to add the market availability <strong>eBay Fulfillment by Orange Connex</strong>.<br>
<strong><em>Important:</em></strong> Add the new availability, but do <em>not</em> remove the previous eBay Fulfillment solution with Fiege. Otherwise, this could cause problems regarding the transition from old to new.</p>
</div>
<div class="paragraph">
<p>In the <strong>Item » Edit item</strong> menu, set the filter <strong>Table type</strong> to <strong>Variations</strong> and the filter <strong>eBay Fulfillment</strong> to <strong>Visible</strong>. By doing so, all variations that you processed with Fiege are shown.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information about the variation group function, refer to the <a href="/en/item/import-export-create/create/mass-processing#300">Mass processing</a> page of the manual.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-automatism">4. Setting up automation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, it is possible to have routine tasks automatically done by your system. These are, for example, moving orders to the correct status or booking outgoing items. Thus, you can automate the entire outbound process.</p>
</div>
<div class="paragraph">
<p>With the event procedures, plentymarkets provides you with an efficient tool for setting up such automatic processes that are reliably managed by your plentymarkets system. The basic principle of event procedures is simple: Certain events trigger specific procedures.</p>
</div>
<div class="sect2">
<h3 id="ep-move-outbound-order">4.1. Setting up an event procedure for moving the outbound order to the correct status</h3>
<div class="paragraph">
<p>Proceed as described in the following to set up the event procedure.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure for moving the outbound order to the correct status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In your plentymarkets back end, go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter the desired name for this event procedure, e.g. <code>Move outbound order</code>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Triggering event</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the <strong>Event</strong> drop-down list, select the option <strong>Order change &gt; Status change</strong>.</p>
</li>
<li>
<p>From the <strong>Status</strong> drop-down list, select the option <strong>Cleared for shipping status</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Filter criteria for orders</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order type</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Select the option <strong>Order</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Delivery order</strong>.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate the eBay Fulfillment by Orange Connex warehouse that you created in the assistant.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Payment method</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate all payment methods except <strong>Cash on delivery</strong>.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Shipping &gt; Country of delivery</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate those countries that you have also activated in the Orange Connex back end in the area <em>Registering for eBay Fulfillment</em>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Executing procedure</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the procedure <strong>Order &gt; Change status</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>From the <strong>Status</strong> drop-down list, select the status that you created in the assistant, e.g. <code>Send outbound order</code>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong> to activate the event procedure.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="ep-move-outbound-order">4.2. Setting up an event procedure to send the outbound order to eBay Fulfillment by Orange Connex</h3>
<div class="paragraph">
<p>Proceed as described in the following to set up the event procedure.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure to send the outbound order to eBay Fulfillment by Orange Connex:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In your plentymarkets back end, go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter the desired name for this event procedure, e.g. <code>Send eBay Fulfillment outbound</code>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Triggering event</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the <strong>Event</strong> drop-down list, select the option <strong>Order change &gt; Status change</strong>.</p>
</li>
<li>
<p>From the <strong>Status</strong> drop-down list, select the status that you created in the assistant, e.g. <code>Send outbound order</code>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Filter criteria for orders</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order type</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Select the option <strong>Order</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Delivery order</strong>.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate the eBay Fulfillment by Orange Connex warehouse that you created in the assistant.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Shipping &gt; Country of delivery</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate those countries that you have also activated in the Orange Connex back end in the area <em>Registering for eBay Fulfillment</em>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Executing procedure</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the procedure <strong>Plugins &gt; eBay Fulfillment by Orange Connex: Send outbound</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong> to activate the event procedure.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="ep-book-outgoing-items">4.3. Setting up an event procedure to book outgoing items</h3>
<div class="paragraph">
<p>If eBay Fulfillment by Orange Connex is able to process the order, the package number will automatically be saved in the outbound order. To then book the outgoing items and send the package number to eBay Fulfillment by Orange Connex so your customer can use the tracking service, set up another event procedure.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure to book outgoing items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In your plentymarkets back end, go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter the desired name for this event procedure, e.g. <code>eBay Fulfillment outgoing items</code>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Triggering event</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the <strong>Event</strong> drop-down list, select the option <strong>Order change &gt; Package number</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Filter criteria for orders</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order warehouse</strong>.</p>
</li>
<li>
<p>Activate the eBay Fulfillment by Orange Connex warehouse that you created in the assistant.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Executing procedure</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the procedure <strong>Order &gt; Book outgoing items</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong> to activate the event procedure.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="ep-automatic-tracking">4.4. Setting up an event procedure for automated shipment tracking (tracking URL)</h3>
<div class="paragraph">
<p>With your plentymarkets system, it is possible to send a shipping confirmation via email to your customers. This requires that you <a href="/en/fulfilment/ebay-fulfillment#email-server-login-details">saved the login details of your email server</a> and created a corresponding email template in your system.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure for automated shipment tracking (tracking URL):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the plentymarkets back end, go to <strong>Setup » Client » Standard » Email » Templates » General templates &gt; Order: Shipping confirmation</strong>.</p>
</li>
<li>
<p>Click on the <strong>Email message</strong> tab.<br>
→ Here, you find a text that is saved in your system by default. You may change this text.</p>
</li>
<li>
<p>Insert the variable <code>$TrackingURL</code> in the desired place of the text.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Overview of all template variables</div>
<div class="paragraph">
<p>Click in the tab <strong>Email templates</strong> right next to the <strong>Save</strong> button on the button <strong>Template variables and functions</strong> (<span class="icon blue"><i class="fa fa-code  "></i></span>) to get an overview of all template variables that you can insert in your email template.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following steps explain how you automatically send a shipping confirmation to your customers.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In your plentymarkets back end, go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter the desired name for this event procedure, e.g. <code>Automated tracking outbound</code>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Triggering event</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the <strong>Event</strong> drop-down list, select the option <strong>Order change &gt; Package number</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Filter criteria for orders</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order type</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Select the option <strong>Order</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Delivery order</strong>.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate the eBay Fulfillment by Orange Connex warehouse that you created in the assistant.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Referrer</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br></p>
</li>
<li>
<p>Activate all referrers except eBay.<br>
→ <strong><em>Important:</em></strong> eBay sends an individual confirmation mail with the corresponding tracking URL.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Executing procedure</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the procedure <strong>Customer &gt; Send email</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Within the procedure window, click on the arrow on the left-hand side so the procedure overview opens.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>In the first field, select the option <strong>Order: Shipping confirmation</strong>.</p>
</li>
<li>
<p>In the second field, select the option <strong>Customer</strong>.<br>
→ <a href="#image-procedure-send-email">Figure 3</a> shows the overview of a finalised procedure.</p>
</li>
<li>
<p>Select the option <strong>Active</strong> to activate the event procedure.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div id="image-procedure-send-email" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/eBay-Fulfillment-settings-procedure-send-email.png" alt="eBay Fulfillment settings procedure send email" width="640" height="360">
</div>
<div class="title">Figure 3. Settings within the procedure <strong>Send email</strong></div>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_an_event_procedure_to_send_a_cancellation_request">4.5. Setting up an event procedure to send a cancellation request</h3>
<div class="paragraph">
<p>You can send a cancellation request for an outbound order if the outbound order has already been transferred to and accepted by eBay Fulfillment by Orange Connex. Set up an event procedure to transmit this request.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Order note when cancellation was not successful</div>
<div class="paragraph">
<p>If it is still possible to cancel the outbound order on behalf of eBay Fulfillment by Orange Connex, your plentymarkets system moves the outbound order to status that you selected in the assistant.<br>
If it is not possible anymore to cancel the outbound order because the parcel has already been packed completely or has already been picked up, the outbound order remains in the status of the cancellation request and your plentymarkets system creates an order note saying that it was not possible to cancel the outbound order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Setting up an event procedure to send a cancellation request:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In your plentymarkets back end, go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter the desired name for this event procedure, e.g. <code>Send request to cancel outbound</code>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Triggering event</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the <strong>Event</strong> drop-down list, select the option <strong>Order change &gt; Status change</strong>.</p>
</li>
<li>
<p>Select from the drop-down list <strong>Status</strong> the status to send the cancellation request to Orange Connex that you created in the assistant.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Filter criteria for orders</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order type</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Select the option <strong>Order</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Delivery order</strong>.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate the eBay Fulfillment by Orange Connex warehouse that you created in the assistant.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Executing procedure</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the procedure <strong>Plugins &gt; eBay Fulfillment by Orange Connex: Cancel outbound</strong>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong> to activate the event procedure.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="send-first-item-split-orders">5. Sending the first item and splitting orders</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="send-first-item">5.1. Sending the first item</h3>
<div class="paragraph">
<p>As soon as stock was booked in the warehouse of eBay Fulfillment by Orange Connex, the stock in the eBay Fulfillment by Orange Connex warehouse will automatically be updated in your plentymarkets system. To do so, you have to go the <strong>eBay Fulfillment by Orange Connex</strong> assistant and <a href="#data-transfer-warehouse-settings">activate</a> the option <strong>Import stock</strong> in the step <strong>Data transfer and warehouse settings</strong>.
From this moment on and on condition that all settings in your plentymarkets system were carried out correctly, it is possible to transfer the first outbound order to eBay Fulfillment by Orange Connex.</p>
</div>
<div class="paragraph">
<p>If you have received orders for the same item that you sold from your own warehouse in the past, the plentymarkets system does not transfer an outbound order to eBay Fulfillment by Orange Connex. Only does the transmission take place when eBay Fulfillment by Orange Connex updates the stock for the corresponding warehouse.</p>
</div>
<div class="paragraph">
<p>If you have already decided to <a href="/en/fulfilment/ebay-fulfillment#ep-send-outbound-order">send the outbound orders automatically</a>, nothing stands in the way of processing eBay Fulfillment by Orange Connex orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="split-orders">5.2. Order splitting</h3>
<div class="paragraph">
<p>Example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>An order contains 2 items: A and B.</p>
</li>
<li>
<p>Item A is in your own warehouse.</p>
</li>
<li>
<p>Item B is in the eBay Fulfillment by Orange Connex warehouse.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Result:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The items are split into different delivery orders.</p>
</li>
</ul>
</div>
<h4 id="_splitting_the_delivery_orders_according_to_the_item_availability" class="discrete">Splitting the delivery orders according to the item availability</h4>
<div class="paragraph">
<p>Go to <strong>Setup » Orders » Settings</strong> and select from the line <strong>Assignment of warehouses</strong> the setting <strong>b) a warehouse can be assigned for each stock unit</strong> and in the line <strong>Automatic warehouse selection</strong> the setting <strong>d) depending on the warehouse priority and the highest stock level</strong>.</p>
</div>
<h4 id="_setting_up_an_event_procedure_to_generate_delivery_orders" class="discrete">Setting up an event procedure to generate delivery orders</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In your plentymarkets back end, go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter the desired name for the event procedure, e.g. <code>eBay Fulfillment splitting</code>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Triggering event</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>From the <strong>Event</strong> drop-down list, select the option <strong>Order change &gt; Status change (shipping preparation)</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Filter criteria for orders</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the filter <strong>Order &gt; Order type</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Select the option <strong>Order</strong>.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Order warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Several warehouses per order</strong> in the filter.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Executing procedure</em></strong></p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the procedure <strong>Order &gt; Generate delivery orders</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong> to activate the event procedure.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="faq">6. FAQ</h2>
<div class="sectionbody">
<div id="faq-error-message-validity-refresh-token" class="openblock collapseBox">
<div class="title">I get an error message with “invalid_grant” or “invalid refresh token”. What can I do?</div>
<div class="content">
<div class="paragraph">
<p>You get the following (or similar) error?</p>
</div>
<div class="paragraph">
<p><code>{„error“:„invalid_grant“,„error_description“:"Invalid refresh token:</code></p>
</div>
<div class="paragraph">
<p>This means that the refresh token from Orange Connex has expired. Now you have to do the following:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to the <strong>eBay Fulfillment by Orange Connex</strong> assistant in the <strong>Setup » Assistants</strong> menu in the <strong>Integration</strong> area.</p>
</li>
<li>
<p>Open the <strong>Authentication</strong> step and enter your login details again.<br>
→ Another hint that the Orange Connex refresh token has expired is that you can see the <strong>Authentication</strong> step again in the assistant (because this step is usually not visible any longer once you have entered your login details for the first time).</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>