<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Practical examples</h1><p>Welcome to the topic Practical examples. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/fulfilment/practical-examples/practical-example-dhl">Practical example: DHL Shipping (Versenden)</a></li></ul>
</main>