<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#search-order"><span>1.</span><span> Searching for an order in the shipping centre</span></a></li>
<li><a href="#group-function"><span>2.</span><span> Carrying out the group function</span></a></li>
<li><a href="#edit-single-order"><span>3.</span><span> Editing a single order</span></a>
<ul class="sectlevel2">
<li><a href="#register-order"><span>3.1.</span><span> Registering a single order</span></a></li>
<li><a href="#display-registered-order"><span>3.2.</span><span> Displaying a registered order</span></a>
<ul class="sectlevel3">
<li><a href="#overview"><span>3.2.1.</span><span> Overview</span></a></li>
<li><a href="#recipient"><span>3.2.2.</span><span> Recipient</span></a></li>
<li><a href="#packages"><span>3.2.3.</span><span> Bundle</span></a></li>
<li><a href="#returns"><span>3.2.4.</span><span> Returns</span></a></li>
</ul>
</li>
<li><a href="#retrieve-shipping-label"><span>3.3.</span><span> Retrieving a shipping label</span></a></li>
<li><a href="#reset-order"><span>3.4.</span><span> Resetting a single order</span></a></li>
<li><a href="#cancel-order"><span>3.5.</span><span> Cancelling a single order</span></a></li>
<li><a href="#polling"><span>3.6.</span><span> Creating a polling file for a single order</span></a></li>
<li><a href="#register-return"><span>3.7.</span><span> Registering a return for a single order</span></a></li>
<li><a href="#retrieve-return-label"><span>3.8.</span><span> Retrieving the return label</span></a></li>
<li><a href="#download-export-label"><span>3.9.</span><span> Downloading the export label</span></a></li>
</ul>
</li>
<li><a href="#edit-shipping-package"><span>4.</span><span> Editing a shipping package</span></a>
<ul class="sectlevel2">
<li><a href="#add-shipping-package"><span>4.1.</span><span> Adding a shipping package</span></a></li>
<li><a href="#delete-shipping-package"><span>4.2.</span><span> Deleting a shipping package</span></a></li>
</ul>
</li>
<li><a href="#split-delivery-orders"><span>5.</span><span> Splitting up orders into delivery orders</span></a></li>
<li><a href="#faq"><span>6.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Shipping centre 2.0 (closed beta)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page describes the new shipping centre 2.0 which was released as a closed beta phase in September 2021. Closed beta phase means that the shipping centre 2.0 will initially be tested by a small group of participants.<br>
Once the shipping centre 2.0 is sufficiently developed and possible bugs have been fixed, the open beta phase will begin.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
On this page, we will present you the functions of the new shipping centre 2.0. More functions are being continuously developed and added to this page.
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">New features compared to the “old” shipping centre</div>
<div class="content">
<div class="paragraph">
<p>You can find the following improvements in the shipping centre 2.0 that haven’t been available in the “old” shipping centre:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>When registering an order, select an order status in case of successful registration and in case of a failed registration.</p>
</li>
<li>
<p>Group function to reset orders</p>
</li>
<li>
<p>Group function to group return labels</p>
</li>
</ul>
</div>
</div>
</div>
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre 2.0</strong> menu, you can use the integrated interfaces to control all of the processes that are related to shipping your items. You cannot only search for and edit shipping orders but also register shipping orders directly with a shipping service provider or alternatively create a polling file or order summary to hand it over to a shipping service provider. By using the group function, you can, for example, register multiple orders or returns at the same time or reset multiple orders at the same time.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="search-order">1. Searching for an order in the shipping centre</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open all orders in a list or select filters to narrow down the search results in the overview of the shipping centre 2.0. By default, the date range of the last 4 weeks is set.</p>
</div>
<div class="paragraph instruction">
<p>Searching for an order in the shipping centre:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.<br>
<strong><em>Note:</em></strong> By default, the data range of the last 4 weeks is set. You can, of course, adjust the date range by using the filter.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Option 1</em></strong>\: Click on <span class="icon "><i class="material-search"></i></span> to see a list of all orders.</p>
</li>
<li>
<p><strong><em>Option 2</em></strong>\: Click on <span class="icon "><i class="material-more_vert"></i></span> to narrow down the search results with filters.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Note the explanations about the filters in <a href="#table-search-shipping-order">Table 1</a>.</p>
</li>
</ol>
</div>
<table id="table-search-shipping-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Filter options for searching in the shipping centre</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an ID to search for the order with this exact ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping service provider to only search for orders that use this shipping service provider.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more shipping profiles (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to search for orders with this shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an order status to search for orders in this status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an owner to search for orders with this owner.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more clients (shops) (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to search for orders with this client (shop).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more warehouses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to search for orders with this warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order date from / to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the dates from the calendars (<span class="icon "><i class="fa fa-calendar  "></i></span>) to search for orders within a certain time period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the selected filter criteria.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Starts the search. The orders found are listed in the overview.<br>
<strong><em>Tip:</em></strong> Don’t choose any filters if you want to see all of the orders in the overview.</p></td>
</tr>
</tbody>
</table>
<h2 id="adjust-overview" class="discrete">Adjusting the overview in the shipping centre 2.0</h2>
<div class="paragraph">
<p>The overview of the shipping centre 2.0 shows the following columns by default:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID</p>
</li>
<li>
<p>Order status</p>
</li>
<li>
<p>Registered with</p>
</li>
<li>
<p>Shipping profile</p>
</li>
<li>
<p>Packages</p>
</li>
<li>
<p>Recipient name</p>
</li>
<li>
<p>Recipient region</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Click on the button <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>) to deactivate the columns that are already shown.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="group-function">2. Carrying out the group function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have selected an order (<span class="icon "><i class="fa fa-check-square  "></i></span>), the different buttons of the group function become visible (see <a href="#image-group-function-overview">Figure 1</a>). Select at least 2 orders from the list to be able to use the group functions. <a href="#table-group-functions">Table 2</a> lists the elements from the group functions as well as their explanations.</p>
</div>
<div id="image-group-function-overview" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/shipping-centre-group-function.png" alt="shipping centre group function" width="640" height="360">
</div>
<div class="title">Figure 1. Group function in the overview</div>
</div>
<table id="table-group-functions" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Using the group function in the shipping centre</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Editing orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows all selected orders in a list on the left side.<br>
Click in the line of the order <span class="icon blue"><i class="fa fa-shopping-cart  "></i></span> <strong>Order ID</strong> to open the order in the detail view. Click on <span class="icon "><i class="fa fa-times  "></i></span> to remove the order from the list. Click on <span class="icon "><i class="fa fa-angle-left  "></i></span> in the line of an order to open a list with the areas of the order: overview, recipient, packages, returns. Click on one of the areas to open the order in the detail view. Click on <span class="icon "><i class="fa fa-angle-down  "></i></span> to close the areas of the order again. The order remains in the list, however.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Register orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-outgoing_items"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Registers all selected orders.<br>
After clicking on <strong>Register orders</strong>, a window opens. Select the shipping service provider that you want to register the selected orders with from the drop-down list. Two further drop-down lists are available from which you can select the order statuses that the orders should switch to in case of successful and failed registration.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Polling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-file_extension_csv"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a polling file in CSV format for all selected orders.<br>
After clicking on <strong>Polling</strong>, a window opens. Select the service provider and the order status from the drop-down lists.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Register returns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Registers a return for all selected orders.<br>
After clicking on <strong>Register returns</strong>, a window opens. Select the return service provider from the drop-down list.<br>
<strong><em>Note:</em></strong> If you installed and deployed the <strong>DHL Retoure Online</strong> plugin, different settings for generating the labels are visible: one label per order (one file), one label per package, one label per package (multiple files), international.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Summary</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_note"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a summary in PDF format of all selected orders.<br>
After clicking on <strong>Summary</strong>, a window opens. Select the service provider from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group shipping labels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_open"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Groups the shipping labels of orders that have already been registered in PDF format. The number of PDF files corresponds to the number of shipping service providers. This means: One PDF file is generated for each shipping service provider.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group return labels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return_slip"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Groups the return labels of orders that have already been registered as returns in PDF format. The number of PDF files corresponds to the number of return service providers. This means: One PDF file is generated for each return service provider.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-reset"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text<br>
Text<br>
<strong><em>Note:</em></strong> Cancelling an order is only possible in the detail view of an order, <em>not</em> in the group function of the overview.</p></td>
</tr>
</tbody>
</table>
<h3 id="_step_by_step_guide_for_the_group_functions" class="discrete">Step-by-step guide for the group functions</h3>
<div class="paragraph">
<p>Click on one of the following tabs to see a step-by-step guide of the individual group functions.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="editing-orders-tab" data-toggle="tab" href="#editing-orders" role="tab" aria-controls="editing-orders" aria-selected="true">Editing orders</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="registering-orders-tab" data-toggle="tab" href="#registering-orders" role="tab" aria-controls="registering-orders" aria-selected="false">Registering orders</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="generating-a-polling-file-tab" data-toggle="tab" href="#generating-a-polling-file" role="tab" aria-controls="generating-a-polling-file" aria-selected="false">Generating a polling file</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="registering-returns-tab" data-toggle="tab" href="#registering-returns" role="tab" aria-controls="registering-returns" aria-selected="false">Registering returns</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="creating-a-summary-tab" data-toggle="tab" href="#creating-a-summary" role="tab" aria-controls="creating-a-summary" aria-selected="false">Creating a summary</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="grouping-shipping-labels-tab" data-toggle="tab" href="#grouping-shipping-labels" role="tab" aria-controls="grouping-shipping-labels" aria-selected="false">Grouping shipping labels</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="grouping-return-labels-tab" data-toggle="tab" href="#grouping-return-labels" role="tab" aria-controls="grouping-return-labels" aria-selected="false">Grouping return labels</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="resetting-orders-tab" data-toggle="tab" href="#resetting-orders" role="tab" aria-controls="resetting-orders" aria-selected="false">Resetting orders</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="editing-orders" role="tabpanel" aria-labelledby="editing-orders-tab">
<div class="paragraph">
<p>Proceed as described below to edit multiple orders using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Editing multiple orders using the group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the orders by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the orders that you want to edit.</p>
</li>
<li>
<p>Click on <strong>Edit orders</strong> (<span class="icon "><i class="psicon-edit"></i></span>) in the toolbar on the top.<br>
→ The selected orders are shown on the left side.</p>
</li>
<li>
<p>Click in the line of the order <span class="icon blue"><i class="fa fa-shopping-cart  "></i></span> <strong>Order ID</strong> to open the order in the detail view.</p>
</li>
<li>
<p>Carry out the desired changes.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="fa fa-times  "></i></span> in the line of an order to remove the order from the list.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="fa fa-angle-left  "></i></span> in the line of an order to open a list with the order areas.<br>
→ Click on one of the areas to open the order in the detail view.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="fa fa-angle-down  "></i></span> to close the order areas again.<br>
→ The order remains in the list, however.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="registering-orders" role="tabpanel" aria-labelledby="registering-orders-tab">
<div class="paragraph">
<p>Proceed as described below to register multiple orders using the group function in the overview.</p>
</div>
<div class="paragraph instruction">
<p>Registering multiple orders using the group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the orders by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the orders that you want to register.</p>
</li>
<li>
<p>Select <strong>Register orders</strong> (<span class="icon "><i class="psicon-outgoing_items"></i></span>) in the toolbar on the top.<br>
→ The <strong>Register orders</strong> window opens.</p>
</li>
<li>
<p>Select the shipping service provider from the drop-down list which you want to register the orders with.<br>
<strong><em>Note:</em></strong> Depending on the selected shipping service provider, further drop-down lists with additional options are available. The additional options allow you to change the shipping profile for selected orders after they have been registered. They also allow you to change the shipping date so it is predated or postdated.</p>
</li>
<li>
<p>Select the order status from the drop-down list which the order should switch to after having it successfully registered with the shipping service provider.<br>
<strong><em>Note:</em></strong> You can link the switch to this order status with an <a href="/en/automation/event-procedures">event procedure</a> which, for example, automatically books outgoing items.</p>
</li>
<li>
<p>Select the order status from the drop-down list which the order should switch to when the registration with the shipping service provider failed.<br>
<strong><em>Note:</em></strong> You can link the switch to this order status with an <a href="/en/automation/event-procedures">event procedure</a>.</p>
</li>
<li>
<p>Click on <strong>Register orders</strong>.<br>
→ The orders are registered with the shipping service provider.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="generating-a-polling-file" role="tabpanel" aria-labelledby="generating-a-polling-file-tab">
<div class="paragraph">
<p>Proceed as described below to create a polling file for multiple orders using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Generating a polling file for multiple orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the orders by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the orders that you want to create a polling file for.</p>
</li>
<li>
<p>Click on <strong>Polling</strong> (<span class="icon "><i class="psicon-file_extension_csv"></i></span>) in the toolbar on the top.</p>
</li>
<li>
<p>Select the service provider from the drop-down list.<br>
<strong><em>Note:</em></strong> Based on the selected service provider, further settings are possible.</p>
</li>
<li>
<p>Select the order status that the orders should switch to.</p>
</li>
<li>
<p>Click on <strong>Create polling file</strong>.<br>
→ The polling file is generated.</p>
</li>
<li>
<p>Save the file to your computer and send it to the shipping service provider.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="registering-returns" role="tabpanel" aria-labelledby="registering-returns-tab">
<div class="paragraph">
<p>Proceed as described below to register returns for multiple orders using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Registering returns for multiple orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the orders by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the orders that you want to register a return for.</p>
</li>
<li>
<p>Click on <strong>Register returns</strong> (<span class="icon "><i class="psicon-order_return"></i></span>) in the toolbar on the top.<br>
→ The <strong>Register returns</strong> window opens.</p>
</li>
<li>
<p>Select the return service provider from the drop-down list which you want to register the orders with.</p>
</li>
<li>
<p>Click on <strong>Register returns</strong>.<br>
→ The orders will be registered with the return service provider and the package numbers are saved at the order.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="creating-a-summary" role="tabpanel" aria-labelledby="creating-a-summary-tab">
<div class="paragraph">
<p>Generate an order summary or a manifest for the shipping service providers that are set up in your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>Such a summary contains all orders that have been registered with the shipping service provider during one day and should be picked up by the shipping service provider. The person who picks up the parcels on behalf of the shipping service provider signs this list instead of each shipping label individually. Thus, the list serves as a pick-up receipt.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create a summary for multiple orders using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Creating an order summary for multiple orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the orders by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the orders that you want to create an order summary for.</p>
</li>
<li>
<p>Click on <strong>Summary</strong> (<span class="icon "><i class="psicon-order_note"></i></span>) in the toolbar on the top.</p>
</li>
<li>
<p>Select the service provider from the drop-down list.<br>
<strong><em>Note:</em></strong> Additional options for the shipping service provider are displayed, if available.</p>
</li>
<li>
<p>Carry out the setting for the options, if needed, such as selecting the shipping date.</p>
</li>
<li>
<p>Click on <strong>Create summary</strong>.<br>
→ The PDF file is created.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using the elastic export to export order summaries</div>
<div class="paragraph">
<p>As an alternative to the order summary of one day in the <strong>Orders » Shipping centre 2.0</strong> menu, you can also carry out an <a href="/en/data/exporting-data/elastic-export">elastic export</a>. To do so, create in advance an export format with the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> and use the format type <a href="/en/data/exporting-data/FormatDesigner/format-types/orders">Orders</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="grouping-shipping-labels" role="tabpanel" aria-labelledby="grouping-shipping-labels-tab">
<div class="paragraph">
<p>Proceed as described below to group shipping labels for multiple orders using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Grouping shipping labels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the orders by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the orders that you want to create shipping labels for.</p>
</li>
<li>
<p>Click on <strong>Group shipping labels</strong> (<span class="icon "><i class="psicon-order_open"></i></span>) in the toolbar on the top.<br>
→ The PDF file is generated and you can save it to your computer.<br>
<strong><em>Note:</em></strong> The number of PDF files corresponds to the number of shipping service providers. This means: One PDF file is generated for each shipping service provider.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="grouping-return-labels" role="tabpanel" aria-labelledby="grouping-return-labels-tab">
<div class="paragraph">
<p>Proceed as described below to group return labels for multiple orders using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Grouping return labels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the orders by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the orders that you want to create return labels for.</p>
</li>
<li>
<p>Click on <strong>Group return labels</strong> (<span class="icon "><i class="psicon-order_return_slip"></i></span>) in the toolbar on the top.<br>
→ The PDF file is generated and you can save it to your computer.<br>
<strong><em>Note:</em></strong> The number of PDF files corresponds to the number of return service providers. This means: One PDF file is generated for each return service provider.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Refer to the <a href="/en/fulfilment/shipping-service-provider-plugins/plugin-dhl-retoure-online#options-generate-return-labels">DHL Retoure Online</a> page to learn more about how to generate return labels with the <strong>DHL Retoure Online</strong> plugin automatically with an event procedure or a process.</p>
</div>
</div><div class="tab-pane fade" id="resetting-orders" role="tabpanel" aria-labelledby="resetting-orders-tab">
<div class="paragraph">
<p>Proceed as described below to reset multiple orders using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Resetting multiple orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the orders by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the orders that you want to reset.</p>
</li>
<li>
<p>Click on <strong>Reset orders</strong> (<span class="icon "><i class="psicon-reset"></i></span>) in the toolbar on the top.<br>
→ A window opens and you need to confirm your decision.</p>
</li>
<li>
<p>Confirm your decision by clicking on <strong>Reset orders</strong>.<br>
→ The orders are reset.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling an order vs. resetting an order</div>
<div class="paragraph">
<p>If you cancel an order in the shipping centre, the registration is cancelled in plentymarkets and also with the shipping service provider. This means that the order will <em>not</em> be picked up.</p>
</div>
<div class="paragraph">
<p>If you reset an order, it is available as a pending order in plentymarkets. However, it is still registered with the shipping service provider and you are billed for it. The <strong>Reset</strong> function simply resets the registrations. The order itself will <em>not</em> be cancelled with the service provider. Therefore, we recommend that you always cancel the order.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> It is only possible to use the cancelation function within a single order, <em>not</em> via the group function. For further information, refer to the <a href="#cancel-order">Cancelling a single order</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="edit-single-order">3. Editing a single order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following sub-chapters describe which options you have to edit a single order. The following sub-chapters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#register-order">Registering a single order</a></p>
</li>
<li>
<p><a href="#show-registered-order">Showing the registered order</a></p>
</li>
<li>
<p><a href="#retrieve-shipping-label">Retrieving a shipping label</a></p>
</li>
<li>
<p><a href="#reset-order">Resetting a single order</a></p>
</li>
<li>
<p><a href="#cancel-order">Cancelling a single order</a></p>
</li>
<li>
<p><a href="#polling">Creating a polling file for a single order</a></p>
</li>
<li>
<p><a href="#register-return">Registering a return</a></p>
</li>
<li>
<p><a href="#retrieve-return-label">Retrieving the return label</a></p>
</li>
<li>
<p><a href="#download-export-label">Downloading the export label</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="register-order">3.1. Registering a single order</h3>
<div class="paragraph">
<p>When you register your orders with a shipping service provider in the shipping centre, the orders are directly transmitted to the shipping service provider.</p>
</div>
<div class="paragraph">
<p>For example, use the <a href="#search-order">filter settings</a> in the search of the shipping centre to only show orders of a certain shipping service provider in a certain order status. During the registration process, you receive messages from the shipping service provider informing you of both success and errors.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to register a single order.</p>
</div>
<div class="paragraph instruction">
<p>Registering a single order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the order that you want to register by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Select <strong>Register order</strong> (<span class="icon "><i class="psicon-outgoing_items"></i></span>) at the top of the toolbar.<br>
→ The <strong>Register order</strong> window opens.</p>
</li>
<li>
<p>Select the shipping service provider which you want to register the order with from the drop-down list.<br>
<strong><em>Note:</em></strong> Depending on the selected shipping service provider, further drop-down lists with additional options are available. The additional options allow you to change the shipping profile for selected orders after they have been registered. They also allow you to change the shipping date so it is predated or postdated.</p>
</li>
<li>
<p>Select the order status from the drop-down list which the order should switch to after having it successfully registered with the shipping service provider.<br>
<strong><em>Note:</em></strong> You can link the switch to this order status with an <a href="/en/automation/event-procedures">event procedure</a> which, for example, automatically books outgoing items.</p>
</li>
<li>
<p>Select the order status from the drop-down list which the order should switch to when the registration with the shipping service provider failed.<br>
<strong><em>Note:</em></strong> You can link the switch to this order status with an <a href="/en/automation/event-procedures">event procedure</a>.</p>
</li>
<li>
<p>Click on <strong>Register</strong>.<br>
→ The order is registered with the shipping service provider.<br>
→ The registered order receives a package number in the <strong>Packages</strong> area.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="display-registered-order">3.2. Displaying a registered order</h3>
<div class="paragraph">
<p>If you open an order that has already been registered, you will see the following 4 areas in the detail view:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Overview</p>
</li>
<li>
<p>Recipient</p>
</li>
<li>
<p>Packages</p>
</li>
<li>
<p>Returns</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The different areas are described below.</p>
</div>
<div class="sect3">
<h4 id="overview">3.2.1. Overview</h4>
<div class="paragraph">
<p>In the <strong>Overview</strong> area, you can see general information regarding the order’s registration status:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID</p>
<div class="ulist">
<ul>
<li>
<p>By clicking on the ID, you will be redirected to the order in the <strong>Orders » Edit orders</strong> menu.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Registered with</p>
<div class="ulist">
<ul>
<li>
<p>In this column, you can see the name of the shipping service provider that you registered the order with.<br>
<strong><em>Note:</em></strong> If the order has not been registered yet, the note <em>Not registered</em> is shown here.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Number of packages</p>
</li>
<li>
<p>Registration time of the shipping label</p>
<div class="ulist">
<ul>
<li>
<p>Date and time when the order was registered</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="recipient">3.2.2. Recipient</h4>
<div class="paragraph">
<p>In the <strong>Recipient</strong> area, you can see some delivery details such as the shipping region and the recipient’s address. Click on the contact ID to open the contact data record in the <strong>CRM » Contacts</strong> menu.</p>
</div>
</div>
<div class="sect3">
<h4 id="packages">3.2.3. Bundle</h4>
<div class="paragraph">
<p>The <strong>Packages</strong> area shows the following columns by default:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Name</p>
<div class="ulist">
<ul>
<li>
<p>Here, the <em>Standard package</em> or the name of the shipping package that you created in the <strong>Setup » Orders » Shipping » Shipping packages</strong> menu is shown.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Weight</p>
</li>
<li>
<p>Dimensions</p>
</li>
<li>
<p>Volume</p>
</li>
<li>
<p>Number of items</p>
</li>
<li>
<p>Type</p>
<div class="ulist">
<ul>
<li>
<p>Here, the packing unit type is shown.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Package number</p>
<div class="ulist">
<ul>
<li>
<p>Here, the package number is shown that is returned by the shipping service provider after having successfully registered the order.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Click on the button <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>) to deactivate the columns that are already shown in the overview.</p>
</div>
<div class="paragraph">
<p>A detailed description about the shipping packages can be found further down on this page in the <a href="#edit-shipping-package">Editing a shipping package</a> chapter.</p>
</div>
</div>
<div class="sect3">
<h4 id="returns">3.2.4. Returns</h4>
<div class="paragraph">
<p>The <strong>Returns</strong> area shows the following columns by default:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Return ID</p>
<div class="ulist">
<ul>
<li>
<p>If the return was registered via the main order, <em>no</em> ID is visible in this field. If the return is an order of the type <strong>Return</strong>, the ID is visible in this field.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Return service provider</p>
</li>
<li>
<p>Registered on</p>
<div class="ulist">
<ul>
<li>
<p>Date and time when the return was registered</p>
</li>
</ul>
</div>
</li>
<li>
<p>Valid until</p>
<div class="ulist">
<ul>
<li>
<p>Validity how long the labels are available for download to your customers in your plentyShop.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Package number</p>
<div class="ulist">
<ul>
<li>
<p>Here, the package number is shown that is returned by the shipping service provider after having successfully registered the order.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Click on the button <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>) to deactivate the columns that are already shown in the overview.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="retrieve-shipping-label">3.3. Retrieving a shipping label</h3>
<div class="paragraph">
<p>If the order has been successfully registered, the shipping label is visible in the <strong>Packages</strong> area. Click on <strong>Shipping label</strong> (<span class="icon "><i class="psicon-order_open"></i></span>) to save the label to your computer and print it.</p>
</div>
<h4 id="_automatically_sending_shipping_labels_via_email" class="discrete">Automatically sending shipping labels via email</h4>
<div class="paragraph">
<p>You can automatically generate the shipping labels via an event procedure and send them via email. For this procedure, 2 event procedures are required.</p>
</div>
<div class="paragraph">
<p>First, set up an <a href="/en/automation/event-procedures">event procedure</a> that registers the order and returns the package number.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure to register the order</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> as listed in <a href="#table-event-procedure-register-order">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings as listed in <a href="#table-event-procedure-register-order">Table 3</a>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-event-procedure-register-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically registering orders</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: New order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cleared for shipping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Register order with shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Change status</strong> (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="paragraph">
<p>Now, set up another <a href="/en/automation/event-procedures">event procedure</a> that reacts to the successfully registered order and send the email with the shipping label to your customers.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure for the email despatch</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> as listed in <a href="#table-event-procedure-send-email-with-shipping-label">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings as listed in <a href="#table-event-procedure-send-email-with-shipping-label">Table 4</a>.</p>
</li>
<li>
<p>Select the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-event-procedure-send-email-with-shipping-label" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically generating return labels</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Package number</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the email template that contains the attachment <strong>Shipping label</strong> from the first drop-down list. Select as recipient the option <strong>Customer</strong> from the second drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Change status</strong> (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="reset-order">3.4. Resetting a single order</h3>
<div class="paragraph">
<p>Note the end of the shipping day that you defined with your shipping service provider. When the end of the shipping day is reached (this is often a point in time between 4:00 and 6:00 pm), you can only reset the order, but it is not possible to <a href="#cancel-order">cancel</a> it any longer.</p>
</div>
<div id="difference-reset-cancel" class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling an order vs. resetting an order</div>
<div class="paragraph">
<p>If you cancel an order in the shipping centre, the registration is cancelled in plentymarkets and also with the shipping service provider. This means that the order will <em>not</em> be picked up.</p>
</div>
<div class="paragraph">
<p>If you reset an order, it is available as a pending order in plentymarkets. However, it is still registered with the shipping service provider and you are billed for it. The <strong>Reset</strong> function simply resets the registrations. The order itself will <em>not</em> be cancelled with the service provider. Therefore, we recommend that you always cancel the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to reset a single order.</p>
</div>
<div class="paragraph instruction">
<p>Resetting a single order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the order that you want to reset by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Click on <strong>Reset order</strong> (<span class="icon "><i class="psicon-reset"></i></span>) in the toolbar on the top.<br>
→ A window opens and you need to confirm your decision. Note the reference in the box <a href="#difference-reset-cancel">Cancelling an order vs.  resetting an order</a> at the beginning of this chapter.</p>
</li>
<li>
<p>Confirm your decision by clicking on <strong>Reset order</strong>.<br>
→ The order is reset.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="cancel-order">3.5. Cancelling a single order</h3>
<div class="paragraph">
<p>Note the end of the shipping day that you defined with your shipping service provider. When the end of the shipping day is reached (this is often a point in time between 4:00 and 6:00 pm), you can no longer cancel the order, but only <a href="#reset-order">reset</a> it.</p>
</div>
<div id="difference-cancel-reset" class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling an order vs. resetting an order</div>
<div class="paragraph">
<p>If you cancel an order in the shipping centre, the registration is cancelled in plentymarkets and also with the shipping service provider. This means that the order will <em>not</em> be picked up.</p>
</div>
<div class="paragraph">
<p>If you reset an order, it is available as a pending order in plentymarkets. However, it is still registered with the shipping service provider and you are billed for it. The <strong>Reset</strong> function simply resets the registrations. The order itself will <em>not</em> be cancelled with the service provider. Therefore, we recommend that you always cancel the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to cancel a single order.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Note that you can only cancel an order in the detail view of a single order, but <em>not</em> in the group function.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Cancelling a single order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the order that you want to cancel by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>In the toolbar on the top, click on <strong>Cancel order</strong> (<span class="icon "><i class="fa fa-times  "></i></span>).<br>
→ A window opens and you need to confirm your decision. Note the reference in the box <a href="#difference-cancel-reset">Cancelling an order vs.  resetting an order</a> at the beginning of this chapter.</p>
</li>
<li>
<p>Confirm your decision by clicking on <strong>Reset order</strong>.<br>
→ The order is reset.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="polling">3.6. Creating a polling file for a single order</h3>
<div class="paragraph">
<p>Create a polling file for the shipping service provider’s software. A polling file is necessary if no direct interface to the shipping service provider’s software exists, i.e. if shipping orders cannot be registered in the shipping centre 2.0. The polling file generated in plentymarkets is usually a CSV file.</p>
</div>
<div class="paragraph instruction">
<p>Creating a polling file for a single order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the order by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Click on <strong>Polling</strong> (<span class="icon "><i class="psicon-file_extension_csv"></i></span>) in the toolbar on the top.</p>
</li>
<li>
<p>Select the service provider from the drop-down list.<br>
<strong><em>Note:</em></strong> Based on the selected service provider, further settings are possible.</p>
</li>
<li>
<p>Select the order status that you want the order to switch to.</p>
</li>
<li>
<p>Click on <strong>Create polling file</strong>.<br>
→ The polling file is generated.</p>
</li>
<li>
<p>Save the file to your computer and send it to the shipping service provider.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="register-return">3.7. Registering a return for a single order</h3>
<div class="paragraph">
<p>After you have registered the return, the return label is available for download as a PDF file. You can register a return via the main order or via the order type <strong>Return</strong>. For further information about the order type <strong>Return</strong>, refer to the <a href="/en/orders/managing-orders#400">Managing orders</a> page.</p>
</div>
<div class="paragraph instruction">
<p>Registering a return for a single order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the order that you want to register a return for by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Click in the toolbar on the top on <strong>Register return</strong> (<span class="icon "><i class="psicon-order_return"></i></span>).<br>
→ The <strong>Register return</strong> window opens.</p>
</li>
<li>
<p>Select the return service provider from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Register return</strong>.<br>
→ The return for the order is registered and the package number is saved at the order.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="retrieve-return-label">3.8. Retrieving the return label</h3>
<div class="paragraph">
<p>Once the return was successfully registered, the return label is available in the <strong>Returns</strong> area. Click on <strong>Return label</strong> (<span class="icon "><i class="psicon-order_open"></i></span>) to save the label on your computer and print it afterwards.</p>
</div>
<div class="paragraph">
<p><a href="#image-return-label">Figure 2</a> shows as an example a return that was registered with DHL Retoure Online with the setting that one label is generated per package. If multiple packages are available, one PDF file per return label is generated.</p>
</div>
<div id="image-return-label" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfilment/assets/shipping-centre-return-label.png" alt="shipping centre return label" width="640" height="360">
</div>
<div class="title">Figure 2. Printing the return label</div>
</div>
<div class="paragraph">
<p>Besides the manual option, you can, for example, use DHL Retoure Online to automatically generate the return labels via an event procedure or a process:</p>
</div>
<div class="paragraph">
<p>The following options are both available in the event procedures and in the processes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Plugins &gt; Generate DHL Retoure Online label</strong></p>
<div class="ulist">
<ul>
<li>
<p>Registers the return with DHL Retoure Online. One label per order is generated, regardless of the number of packages.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Plugins &gt; Generate DHL Retoure Online label (1 label per package / 1 file)</strong></p>
<div class="ulist">
<ul>
<li>
<p>Registers the return with DHL Retoure Online. One label per package is generated. If multiple packages are available, one PDF file with all return labels is generated.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Plugins &gt; Generate DHL Retoure Online label (1 label per package / multiple files)</strong></p>
<div class="ulist">
<ul>
<li>
<p>Registers the return with DHL Retoure Online. One label per package is generated. If multiple packages are available, one PDF file per return label is generated.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can select the options mentioned above in the following areas of the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the procedure group <strong>Plugins</strong> of the event procedures</p>
</li>
<li>
<p>as <strong>Return type</strong> in the procedure <strong>Return label</strong> in the processes</p>
</li>
<li>
<p>in the shipping centre when registering the return</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For further information about the <strong>DHL Retoure Online</strong> plugin, refer to the <a href="/en/fulfilment/shipping-service-provider-plugins/plugin-dhl-retoure-online">DHL Retoure Online</a> page.</p>
</div>
<h4 id="return-label-as-email-attachment" class="discrete">Sending return labels of all available shipping service providers as email attachment via an event procedure</h4>
<div class="paragraph">
<p>Go to <strong>CRM » EmailBuilder</strong> and select the setting <strong>Return label</strong> from the drop-down list of dynamic attachments in the email template. By doing so, the return labels of all shipping service providers available in plentymarkets - be it via a plugin or an integration in the back end- can be sent as email attachment. You only have to link the email template where you saved this setting with an event procedure to ensure that the email template will be sent automatically to your customers once the event occurs.</p>
</div>
</div>
<div class="sect2">
<h3 id="download-export-label">3.9. Downloading the export label</h3>
<div class="paragraph">
<p>You need a customs declaration for shipments that you send to countries outside the European Union, the so-called <em>CN23 form</em>. Once you successfully registered an order where the country of delivery is outside the European Union, the export label is automatically available in the <strong>Packages</strong> area.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the export label:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search the order that you want to download the export label from by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>In the <strong>Packages</strong> area, click on <strong>Download export label</strong> (<span class="icon "><i class="psicon-data_export"></i></span>).<br>
→ The PDF file is generated and you can save it to your computer.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="edit-shipping-package">4. Editing a shipping package</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If an order has not been registered yet, you can edit, add or delete the shipping packages at any time. The parameters such as weight and volume are calculated based on the item data. Therefore, check the shipping package information and correct it if necessary.</p>
</div>
<div class="paragraph">
<p>If you want to shipping packages from the shipping centre 2.0, the <a href="/en/orders/package-content-list">package content list</a> will open in a new tab.</p>
</div>
<div class="paragraph instruction">
<p>Editing a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the order by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Click in the <strong>Packages</strong> area on the package ID.<br>
→ The package content list opens in a new tab.</p>
</li>
<li>
<p>In the <strong>Packages</strong> area, click on <strong>Edit package</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).<br>
→ The *Edit package*window opens.</p>
</li>
<li>
<p>Carry out the desired changes. Note <a href="#table-edit-shipping-package">Table 5</a>.<br>
<strong><em>Note:</em></strong> Select the option at the bottom if you want that the settings are transferred to all packages in the pallet.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-shipping-package" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Editing the shipping package in the package content list</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping package</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping package to assign a package size to the order.<br>
<strong><em>Note:</em></strong> If you have not yet created a shipping package in the <strong>Setup » Orders » Shipping » Shipping packages</strong> menu, <em>standard packages</em> are assigned to the orders.<br>
<strong><em>Important:</em></strong> The number of shipping packages entered in the <strong>Orders » Edit orders » [Open order]</strong> menu in the <strong>Settings</strong> tab does not influence the packages saved here. This means that changes that you carry out in that menu are not updated here. This is why you should change the number of packages in the shipping centre 2.0 only.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weight (g)</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the weight of the shipping package.<br>
If you saved a weight for the item, this weight is carried over to the shipping order.<br>
If you did <em>not</em> save a weight for the item, a weight of <em>100 g</em> is entered automatically as standard.<br>
If the item consists of more than one packing unit, the weight is distributed between the number of packages it consists of.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packaging unit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a packaging unit.<br>
If you have selected a packing unit type at the item, this packing unit type is shown here.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="add-shipping-package">4.1. Adding a shipping package</h3>
<div class="paragraph">
<p>Proceed as described below to add a shipping package to the shipping order.</p>
</div>
<div class="paragraph instruction">
<p>Adding a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the order by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Click in the <strong>Packages</strong> area on <strong>Add package</strong> (<span class="icon "><i class="fa fa-plus  "></i></span>).<br>
→ The package content list opens in a new tab.</p>
</li>
<li>
<p>Click on the button <strong>Add package</strong>.<br>
→ The packages is added and you can edit it.</p>
</li>
<li>
<p>In the <strong>Packages</strong> area, click on <strong>Edit package</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).<br>
→ The *Edit package*window opens.</p>
</li>
<li>
<p>Carry out the desired changes. Note <a href="#table-edit-shipping-package">Table 5</a>.<br>
<strong><em>Note:</em></strong> Select the option at the bottom if you want that the settings are transferred to all packages in the pallet.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="delete-shipping-package">4.2. Deleting a shipping package</h3>
<div class="paragraph">
<p>Proceed as described below to delete a shipping package from the shipping order.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre 2.0</strong>.</p>
</li>
<li>
<p>Search for the order by using the filter settings as described in the <a href="#search-order">Searching for an order in the shipping centre</a> chapter.<br>
→ The orders that correspond to the search criteria entered are shown in the overview.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Click in the <strong>Packages</strong> area on the package ID.<br>
→ The package content list opens in a new tab.</p>
</li>
<li>
<p>In the <strong>Packages</strong> area, click on <strong>Delete package</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>) next to the package to be deleted.<br>
→ A window opens and you need to confirm your decision.</p>
</li>
<li>
<p>Confirm your decision by clicking on <strong>Yes</strong>.<br>
→ The shipping package is deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="split-delivery-orders">5. Splitting up orders into delivery orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Define which criteria is used to split orders into delivery orders. The following options are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Warehouse</p>
</li>
<li>
<p>Shipping profile</p>
</li>
<li>
<p>Warehouse and shipping profile</p>
</li>
<li>
<p>Warehouse stock and net stock</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Further information can be found in the <a href="#orders">Orders</a> section in the <a href="/en/orders/managing-orders#300">Working with delivery orders</a> chapter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="faq">6. FAQ</h2>
<div class="sectionbody">
<div id="faq-error-log" class="openblock collapseBox">
<div class="title">Where can I see error logs when registering the order failed?</div>
<div class="content">
<div class="paragraph">
<p>An error message is displayed if an order cannot be registered.</p>
</div>
<div class="paragraph">
<p>Refer to the <strong>Data » Log</strong> menu when searching for errors. Entries are saved in this menu for 4 weeks. For further information, refer to the <a href="/en/data/datalog">Data log</a> manual page.</p>
</div>
</div>
</div>
<div id="faq-forum-category" class="openblock collapseBox">
<div class="title">Note the FAQ thread in the forum</div>
<div class="content">
<div class="paragraph">
<p>If you get stuck at some point, it’s worth having a look at the comprehensive forum thread in our fulfilment category where the most common errors and the corresponding solutions are shown. You find the thread <a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Please note that this thread is currently available in German only.</p>
</div>
<div class="paragraph">
<p>The thread is divided into 4 big topics:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262/2" target="_blank" rel="noopener">DHL Shipping (Versenden): die häufigsten Fehlermeldungen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262/3" target="_blank" rel="noopener">DHL Retoure Online: die häufigsten Fehlermeldungen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262/4" target="_blank" rel="noopener">Versandeinstellungen werden nicht geladen oder Versanddienstleister wird nicht angezeigt, was muss geprüft werden?</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262/5" target="_blank" rel="noopener">Versandprofil wird nicht ermittelt / Bei der Versandkostenberechnung kam es zu einem Fehler. Was mache ich?</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>