<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#search-shipping-order"><span>1.</span><span> Searching for a shipping order</span></a></li>
<li><a href="#shipping-package-pending-shipping-order"><span>2.</span><span> Editing a shipping package in a pending shipping order</span></a>
<ul class="sectlevel2">
<li><a href="#edit-shipping-package"><span>2.1.</span><span> Editing a shipping package</span></a></li>
<li><a href="#add-shipping-package"><span>2.2.</span><span> Adding a shipping package</span></a></li>
<li><a href="#delete-shipping-package"><span>2.3.</span><span> Deleting a shipping package</span></a></li>
</ul>
</li>
<li><a href="#orders-delivery-orders"><span>3.</span><span> Splitting up orders into delivery orders</span></a></li>
<li><a href="#register-shipping-order"><span>4.</span><span> Registering a shipping order</span></a></li>
<li><a href="#edit-registered-shipping-order"><span>5.</span><span> Editing a registered shipping order</span></a>
<ul class="sectlevel2">
<li><a href="#display-registered-order"><span>5.1.</span><span> Displaying a registered order</span></a></li>
<li><a href="#edit-package-number"><span>5.2.</span><span> Editing the package number</span></a></li>
<li><a href="#cancel-shipping-order"><span>5.3.</span><span> Cancelling a shipping order</span></a></li>
<li><a href="#reset-shipping-order"><span>5.4.</span><span> Resetting a shipping order</span></a></li>
<li><a href="#print-shipping-label"><span>5.5.</span><span> Printing the shipping label</span></a></li>
</ul>
</li>
<li><a href="#generate-polling-file"><span>6.</span><span> Generating a polling file</span></a></li>
<li><a href="#generate-order-summary"><span>7.</span><span> Generating an order summary</span></a></li>
<li><a href="#retrieve-return-label"><span>8.</span><span> Retrieving a return label</span></a>
<ul class="sectlevel2">
<li><a href="#retrieve-return-label-main-order"><span>8.1.</span><span> Retrieving a return label via the main order</span></a></li>
<li><a href="#retrieve-return-label-via-return"><span>8.2.</span><span> Retrieving a return label via the return</span></a></li>
</ul>
</li>
<li><a href="#generate-label"><span>9.</span><span> Generating a label</span></a></li>
<li><a href="#errors-register-shipping-order"><span>10.</span><span> Possible errors when registering a shipping order</span></a>
<ul class="sectlevel2">
<li><a href="#character-set"><span>10.1.</span><span> Character set</span></a></li>
<li><a href="#additional-address-information"><span>10.2.</span><span> Additional address information</span></a></li>
<li><a href="#shipping-profile"><span>10.3.</span><span> Shipping profile</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Using the shipping centre</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre</strong> menu, you can use the integrated interfaces to control all of the processes that are related to shipping your items. You cannot only search for and edit shipping orders but also <a href="/en/fulfilment/shipping-centre#register-shipping-order">register shipping orders</a> directly with a shipping service provider or alternatively create a <a href="/en/fulfilment/shipping-centre#generate-polling-file">polling file</a> to hand over to a shipping service provider. The appropriate action depends on the shipping service provider and the software used by these providers.</p>
</div>
<div class="paragraph">
<p>On this page of the manual, you also learn how to generate an <a href="/en/fulfilment/shipping-centre#generate-order-summary">order summary</a> of the <a href="/en/fulfilment/preparing-the-shipment#2500">shipping service providers</a> set up in plentymarkets. Furthermore, it is also described how to <a href="/en/fulfilment/shipping-centre#retrieve-return-label">register returns</a> and <a href="/en/fulfilment/shipping-centre#generate-label">generate labels</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="search-shipping-order">1. Searching for a shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Search</strong> tab is automatically displayed when you open the shipping centre. Various search filters are available to help you search shipping orders.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a shipping order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select filters. Note the explanations in <a href="#table-search-shipping-order">Table 1</a>.</p>
</li>
<li>
<p>Click on Search (<span class="icon blue"><i class="fa fa-search  "></i></span>) to carry out the search.<br>
→ The results are listed depending on the selected filters.</p>
</li>
</ol>
</div>
<table id="table-search-shipping-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Filter options for searching in the shipping centre</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an order ID to search for shipping orders with this ID. Separate multiple IDs using commas.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the customer ID to search for shipping orders with this customer ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping status to search for shipping orders with this status only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping service provider to search for shipping orders of this shipping service provider only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping profile to search for shipping orders with this profile only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>per page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how many shipping orders should be displayed per page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an order status to search for orders with this status only.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an owner to search for orders that this owner is responsible for only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store) to search for shipping orders of this store only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse to search for shipping orders for this warehouse only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a payment method to search for shipping orders that were paid using this payment method only.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Once you have found the shipping orders you are looking for, you can edit these shipping orders or register them with the shipping service provider. Proceed as follows to edit shipping orders. Refer to the chapters <a href="/en/fulfilment/shipping-centre#register-shipping-order">Registering a shipping order</a> and <a href="/en/fulfilment/shipping-centre#generate-polling-file">Generating a polling file</a> on this page of the manual to learn how to register shipping orders.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="shipping-package-pending-shipping-order">2. Editing a shipping package in a pending shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to edit shipping packages in a pending shipping order. You can also add shipping packages to or delete them from a pending shipping order. You can change the <a href="/en/crm/managing-contacts#300">customer data of the recipient</a> in the <strong>CRM » Contacts</strong> menu. Open the contact data record by clicking on the contact ID in the shipping order.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Return labels in a shipping order</div>
<div class="paragraph">
<p>In the <strong>Return tab</strong> of a shipping order, return labels are displayed. You can also link orders of the type Return to the registered returns. A return is usually only created after the item was shipped. Therefore, the tab of any pending orders that are not yet registered is empty.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="edit-shipping-package">2.1. Editing a shipping package</h3>
<div class="paragraph">
<p>Proceed as described below to edit a shipping package. The parameters such as weight and volume are calculated based on the item data. Therefore, check the shipping package information and correct it if necessary.</p>
</div>
<div class="paragraph instruction">
<p>Editing a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the search criteria. Pay attention to the information given in the <a href="/en/fulfilment/shipping-centre#search-shipping-order">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The shipping orders that match the search criteria you selected are displayed.</p>
</li>
<li>
<p>Expand the shipping order (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>In the <strong>Shipping packages</strong> tab, click on the pencil (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) to edit the shipping order.</p>
</li>
<li>
<p>Carry out the settings. Note the explanations in <a href="#table-edit-shipping-package">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-shipping-package" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Editing a shipping package</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping package</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping package to assign a package size to the shipping order.<br>
If you have not yet configured shipping packages in the <strong>Orders » Shipping » Shipping packages</strong> menu, standard packages are assigned to the shipping order.<br>
<strong><em>Important:</em></strong> The number of shipping packages entered in the <strong>Orders » Edit orders</strong> » <em>Open order</em> menu in the <strong>Settings</strong> tab does not influence the packages saved here, i.e. changes you make in that menu are not updated here. This is why you should change the number of packages in the shipping centre only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the weight of the shipping package.<br>
If a weight was saved for the item, this weight is carried over to the shipping order. If no weight was saved for the item, a weight of 100 g is entered automatically as standard. If the item consists of more than one packing unit, the weight is distributed between the number of packages it consists of.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packing unit type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select or edit the packing unit type.<br>
If a packing unit type was saved for the item, this is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Volume</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter or edit the volume.<br>
If the length, width and height was saved for the item, the volume is calculated automatically based on these values.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="add-shipping-package">2.2. Adding a shipping package</h3>
<div class="paragraph">
<p>Proceed as described below to add a shipping package.</p>
</div>
<div class="paragraph instruction">
<p>Adding a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the search criteria. Pay attention to the information given in the <a href="/en/fulfilment/shipping-centre#search-shipping-order">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The shipping orders that match the search criteria you selected are displayed.</p>
</li>
<li>
<p>Expand the shipping order (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Click on the <strong>Add</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Note the explanations in <a href="#table-edit-shipping-package">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The shipping package is added and the <strong>Shipping package</strong> tab opens.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="delete-shipping-package">2.3. Deleting a shipping package</h3>
<div class="paragraph">
<p>Proceed as described below to create a shipping package.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the search criteria. Pay attention to the information given in the <a href="/en/fulfilment/shipping-centre#search-shipping-order">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The shipping orders that match the search criteria you selected are displayed.</p>
</li>
<li>
<p>Expand the shipping order (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>In the <strong>Shipping packages</strong> tab, click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ The shipping package is deleted.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="orders-delivery-orders">3. Splitting up orders into delivery orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Here you can define which criteria is used to split orders into delivery orders. <strong>Warehouse</strong>, <strong>shipping profile</strong>, <strong>warehouse and shipping profile</strong>, or <strong>stock and net stock</strong> can be selected.</p>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/orders">Orders</a> area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="register-shipping-order">4. Registering a shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre</strong> menu in the <strong>Register</strong> tab, you can register your orders with a shipping service provider and simultaneously transmit the orders to the service provider. You have to <a href="/en/fulfilment/shipping-centre#search-shipping-order">search for orders</a> in the <strong>Search</strong> tab before you can register them. The orders that were found are displayed here. You can use the search function’s filter settings in the shipping centre to display orders for a specific shipping service provider or for all shipping service providers. During the registration process, you receive messages from the shipping service provider informing you of both success and errors.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Transferring shipment numbers to Hermes ProfiPaketService</div>
<div class="paragraph">
<p>If you register shipping orders at Hermes ProfiPaketService and wish to transfer the shipment numbers, you have to activate the option <strong>Request labels</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following information gives an example of registering orders with the shipping service provider <strong>DHL Freight</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Registering a shipping order at DHL Freight:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the option <strong>open</strong> from the drop-down list <strong>Shipping status</strong>.</p>
</li>
<li>
<p>Select the option <strong>DHL</strong> from the drop-down list <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ You see a list of open shipping orders for DHL.</p>
</li>
<li>
<p>Click on the <strong>Register</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>DHL Freight</strong> from the drop-down list <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>Select the order status from the drop-down list <strong>Change order status</strong>. Select the status that you want the orders to receive after they are registered. <br>
→ You can combine this function using an <a href="/en/automation/event-procedures">event procedure</a> which, for example, automatically books outgoing items.</p>
</li>
<li>
<p>Select the orders that you want to register with DHL Freight.</p>
</li>
<li>
<p>Click on <strong>Register</strong> to transfer the orders.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Choosing the option <strong>Select all</strong> selects all of the orders on the current page.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Some shipping service providers have additional options</div>
<div class="paragraph">
<p>Depending on which service provider was selected, additional options are displayed on the right side in the <strong>Register</strong> tab. Most of the shipping service providers do not offer additional services, meaning that the right side usually remains blank. The additional options allow you to change the shipping profile for selected orders after they have been registered. They also allow you to change the shipping date so that it is predated or postdated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Also note the chapter <a href="/en/fulfilment/shipping-centre#errors-register-shipping-order">Possible errors when registering a shipping order</a> on this page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="edit-registered-shipping-order">5. Editing a registered shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have registered a shipping order with a shipping service provider, this shipping service provider is displayed behind the <strong>registered</strong> status, e.g. <strong>registered DHL Intraship/Versenden</strong>.</p>
</div>
<div class="paragraph">
<p>Registered shipping orders receive a package number and usually also a transaction number from the shipping service provider. Furthermore, they include a file that contains the shipping label for printing. The shipping costs are also displayed if the shipping service provider supports this function. The tabs that are displayed depend on the shipping service provider, e.g. the tabs <strong>Cancellation</strong> and <strong>Reset</strong> for DHL Intraship/Versenden. Different or additional tabs might be available for other shipping service providers.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling a shipping order vs. Resetting a shipping order</div>
<div class="paragraph">
<p>If you cancel a shipping order, the registration is cancelled in plentymarkets and with the shipping service provider. This means that the order is not collected.</p>
</div>
<div class="paragraph">
<p>If you reset an order, it is available as a pending order in plentymarkets. However, it is still registered with the shipping service provider and you are billed for it. The <strong>Reset</strong> function simply resets the registrations. The shipping order itself is not cancelled with the service provider. Therefore, we recommend that you always cancel the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="display-registered-order">5.1. Displaying a registered order</h3>
<div class="paragraph">
<p>The following example describes how to display registered orders with DHL Intraship/Versenden.</p>
</div>
<div class="paragraph instruction">
<p>Displaying a registered order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the option <strong>registered DHL Intraship/Versenden</strong> from the drop-down list <strong>Shipping status</strong>.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The orders that are registered with DHL Intraship/Versenden are displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="edit-package-number">5.2. Editing the package number</h3>
<div class="paragraph">
<p>This section teaches you how to edit the package number once you have found the order that was registered.</p>
</div>
<div class="paragraph instruction">
<p>Editing the package number:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Expand the registered order in the <strong>Orders » Shipping centre</strong> menu (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).<br>
→ <strong><em>Note:</em></strong> How to display the registered order is described in the <a href="/en/fulfilment/shipping-centre#display-registered-order">Displaying a registered order</a> chapter.</p>
</li>
<li>
<p>Click on the pencil in the <strong>Shipping packages</strong> tab (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>.<br>
→ The package number opens.</p>
</li>
<li>
<p>Enter a different package number.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about importing package numbers, refer to the <a href="/en/fulfilment/generating-documents#import-package-numbers">Importing package numbers</a> chapter on the <a href="/en/fulfilment/generating-documents">Generating documents</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="cancel-shipping-order">5.3. Cancelling a shipping order</h3>
<div class="paragraph">
<p>Cancel the shipping order if something about the shipment is incorrect or has been changed, e.g. if items were added or removed. Afterwards, the order can be re-registered for shipping.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling a shipping order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Search for the registered shipping order (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Expand the registered shipping order (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Click on the <strong>Cancellation</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel shipping</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="reset-shipping-order">5.4. Resetting a shipping order</h3>
<div class="paragraph">
<p>The <strong>Reset</strong> function simply resets the registration. The shipping order itself is not cancelled with the service provider. This is why we recommend cancelling the order as described in the <a href="/en/fulfilment/shipping-centre#cancel-shipping-order">Cancelling a shipping order</a> chapter.</p>
</div>
<div class="paragraph instruction">
<p>Resetting a shipping order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Search for the shipping order (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Expand the shipping order (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Click on the <strong>Reset</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Reset shipping</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="print-shipping-label">5.5. Printing the shipping label</h3>
<div class="paragraph">
<p>A shipping label is available in the <strong>Orders » Shipping centre</strong> menu in the registered shipping order. Alternatively, the <a href="/en/fulfilment/shipping-centre#generate-label">Label tab</a> in the shipping centre allows you to generate and print one PDF file that contains labels for all of the shipping orders registered with a certain service provider.</p>
</div>
<div class="paragraph instruction">
<p>Printing the shipping label in the shipping order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the search criteria. Pay attention to the information given in the <a href="/en/fulfilment/shipping-centre#search-shipping-order">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Expand the registered shipping order (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Click on the PDF symbol in the <strong>Overview</strong> tab.<br>
→ The shipping label opens in a separate window and can be printed.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="generate-polling-file">6. Generating a polling file</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre</strong> menu in the <strong>Polling</strong> tab, you can generate a polling file containing the selected orders. This file is generated for the software that is used by a shipping service provider. A polling file is necessary if no direct interface to the shipping service provider’s software exists, i.e. if shipping orders cannot be registered in the <strong>Register</strong> tab. The polling file generated in plentymarkets is usually a CSV file.</p>
</div>
<div class="paragraph instruction">
<p>Generating a polling file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the search criteria for the order. Pay attention to the information given in the <a href="/en/fulfilment/shipping-centre#search-shipping-order">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Activate the order.</p>
</li>
<li>
<p>Click on the <strong>Polling</strong> tab.</p>
</li>
<li>
<p>Select the <strong>shipping service provider</strong>.</p>
</li>
<li>
<p>Select the <strong>order status</strong> that you want the orders to switch to.</p>
</li>
<li>
<p>Activate all of the orders that you want to ship with the selected shipping service provider.</p>
</li>
<li>
<p>Click on <strong>Register</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to generate the polling file.<br>
→ The polling file is generated. Save this file on your computer.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">DHL Easylog header</div>
<div class="paragraph">
<p>You also see the option <strong>Header</strong> if you selected the shipping service provider <strong>DHL Easylog</strong>. Use this option to choose whether the header should be displayed in the CSV file. For further information, refer to the <a href="/en/fulfilment/preparing-the-shipment#2700">DHL Easylog</a> chapter on the <a href="/en/fulfilment/preparing-the-shipment">Preparing the shipment</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="generate-order-summary">7. Generating an order summary</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre</strong> menu in the <strong>Summary</strong> tab, you can generate an order summary or a manifest for the shipping service providers that are set up in your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Generating an order summary:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Click on the <strong>Summary</strong> tab.</p>
</li>
<li>
<p>Select the shipping service provider for the summary from the drop-down list.<br>
→ <strong><em>Note:</em></strong> Additional options for the shipping service provider are displayed, if available.</p>
</li>
<li>
<p>Carry out the settings for the options.</p>
</li>
<li>
<p>Click on <strong>Execute</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ A PDF file is generated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using the elastic export to export order summaries</div>
<div class="paragraph">
<p>As an alternative to the order summary of one day in the <strong>Orders » Shipping centre</strong> menu in the <strong>Summary</strong> tab, you can also carry out an <a href="/en/data/exporting-data/elastic-export">elastic export</a>. To do so, create an export format with the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="retrieve-return-label">8. Retrieving a return label</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre</strong> menu in the <strong>Return</strong> tab, you can register returns with a shipping service provider. After you registered a return, the return labels are available as PDF files. You can register a return via the main order or via the return.</p>
</div>
<div class="paragraph">
<p>To retrieve return labels, you register the return with a shipping service provider in the shipping centre.</p>
</div>
<div class="sect2">
<h3 id="retrieve-return-label-main-order">8.1. Retrieving a return label via the main order</h3>
<div class="paragraph">
<p>Proceed as described below to retrieve a return label in the main order. The process for assigning <strong>returns</strong> varies depending on whether you have already created a return for the order in the <strong>Orders</strong> menu. First retrieve the label and then assign it to the order of the type <strong>Return</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving a return label via the main order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the search criteria for the order. Pay attention to the information given in the <a href="/en/fulfilment/shipping-centre#search-shipping-order">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Click on the <strong>Return</strong> tab.</p>
</li>
<li>
<p>Activate the order.</p>
</li>
<li>
<p>Select the <strong>Return service provider</strong>.</p>
</li>
<li>
<p>Click on <strong>Register</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to transfer the orders.<br>
→ Click on the PDF icon to view the label as a PDF file.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you have already created a return order in the <strong>Orders</strong> menu, you can now assign this return to the label. This is done by selecting the <strong>Return ID</strong>.</p>
</div>
<div class="paragraph">
<p>If you have not created a return order in the <strong>Orders</strong> menu, do so now by opening the main order and creating a return. When creating an order of the type <strong>Return</strong> at this point, the return order is automatically assigned to the return label in the shipping order.</p>
</div>
</div>
<div class="sect2">
<h3 id="retrieve-return-label-via-return">8.2. Retrieving a return label via the return</h3>
<div class="paragraph">
<p>If you have already created a return order in the <strong>Orders</strong> menu, you can also retrieve the return label directly via this return order. You need the return ID to do so. Returns can only be found in the shipping centre by specifying the return ID.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving a return label via the return:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.<br></p>
</li>
<li>
<p>Enter the return ID into the <strong>Order ID</strong> field.</p>
</li>
<li>
<p>Click on the magnifying glass (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Click on the <strong>Return</strong> tab.</p>
</li>
<li>
<p>Activate the return.</p>
</li>
<li>
<p>Select the <strong>Return service provider</strong>.</p>
</li>
<li>
<p>Click on <strong>Register</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Expand the shipping order (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).<br>
→ In the <strong>Return labels</strong> tab, click on the PDF icon to view the label as a PDF file.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can provide the labels to end customers for download in the My account area of the online store. For further information, refer to the <a href="/en/fulfilment/preparing-the-shipment">Preparing the shipment</a> page of the manual. Specifically, refer to the <a href="/en/fulfilment/preparing-the-shipment#3200">DHL Retoure Online</a> chapter.</p>
</div>
<div class="paragraph">
<p>The returns that you register here in the <strong>Return</strong> tab of the shipping centre and then receive the return label for are orders that the customer has already received. For <a href="/en/fulfilment/preparing-the-shipment#3100">DHL Retoure with enclosed return label</a>, you already enclose return labels in packages before sending them to customers. These enclosed return labels are also displayed in the <strong>Return labels</strong> tab of the shipping order.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Send return labels of all available shipping service providers as email attachment via an event procedure</div>
<div class="paragraph">
<p>With the setting <strong>Return label</strong> in the drop-down list <strong>PDF attachment</strong> in the email template, the return labels of all shipping service providers available in plentymarkets - be it via a plugin or an integration in the back end- can be sent as email attachment. If you link the email template with this setting to an event procedure, the email template will be automatically sent once the event happens.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="generate-label">9. Generating a label</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre</strong> menu in the <strong>Label</strong> tab, you can generate address labels for your shipping orders based on the shipping service provider. These labels are made available as download files in PDF format. A PDF file is generated for each shipping service provider.</p>
</div>
<div class="paragraph instruction">
<p>Generating labels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>By selecting filters, search for the orders that you want to create a collection PDF of the labels for.</p>
</li>
<li>
<p>Activate the orders.</p>
</li>
<li>
<p>Click on the <strong>Label</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Generate</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ The labels are shown as PDF files and can be downloaded and printed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="errors-register-shipping-order">10. Possible errors when registering a shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this section, we describe possible errors that may result in data not being transferred to the shipping service provider. An error message is displayed if an order cannot be registered.</p>
</div>
<div class="paragraph">
<p>Refer to the menu <strong>Data » API log » Tab: Shipping centre API log</strong> when searching for errors. Entries are saved in this menu for 7 days.</p>
</div>
<div class="sect2">
<h3 id="character-set">10.1. Character set</h3>
<div class="paragraph">
<p>Some shipping interfaces (APIs) only allow Latin character sets (ISO-8859-X), but no Unicode. Therefore, delivery addresses should not contain Unicode signs. For example, you cannot register orders with DHL Intraship/Versenden if the address was saved in Greek letters.</p>
</div>
</div>
<div class="sect2">
<h3 id="additional-address-information">10.2. Additional address information</h3>
<div class="paragraph">
<p>Some shipping service providers do not process <strong>additional address information</strong> saved with the delivery address. Therefore, shipping service providers might in some rare cases be unable to deliver packages.<br>
Additional address information is not transmitted to the following shipping service providers at the moment:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DHL Freight</p>
</li>
<li>
<p>DHL Supply Chain</p>
</li>
<li>
<p>Swiss Post</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Check if the additional address information is transmitted to your shipping service provider correctly. If the additional address information is not transmitted, adjust your online store design so that the field for entering additional address information is shown or hidden depending on the shipping service provider selected. Alternatively, you can adjust your design so that a note is displayed to customers.</p>
</div>
</div>
<div class="sect2">
<h3 id="shipping-profile">10.3. Shipping profile</h3>
<div class="paragraph">
<p>Error message: <code>Code 1: The process could not be carried out correctly. Check data entered. Invalid parameter value passed: DHLFreightDataSet_ShippingInformation.</code></p>
</div>
<div class="paragraph">
<p><strong>Solution</strong>: The shipping profile was not correctly set up or a shipping service provider was selected that does not fit to the shipping profile.</p>
</div>
</div>
</div>
</div>
</main>