<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_buying_and_installing_the_plugin"><span>1.</span><span> Buying and installing the plugin</span></a></li>
<li><a href="#_buying_and_installing_the_plugin_2"><span>2.</span><span> Buying and installing the plugin</span></a></li>
<li><a href="#_creating_the_sku"><span>3.</span><span> Creating the SKU</span></a></li>
<li><a href="#_setting_up_the_warehouses"><span>4.</span><span> Setting up the warehouses</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Manual</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Introduction</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_buying_and_installing_the_plugin">1. Buying and installing the plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Download the plugin for free from the plentyMarketplace.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_buying_and_installing_the_plugin_2">2. Buying and installing the plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Download the plugin for free from the plentyMarketplace.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_the_sku">3. Creating the SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Barcodes are used to identify items in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_the_warehouses">4. Setting up the warehouses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up two warehouses.</p>
</div>
</div>
</div>
</main>