<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating parts compatibility listings</span></a></li>
<li><a href="#200"><span>2.</span><span> Updating parts compatibility listings</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating parts compatibility listings</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use the sync type <strong>Parts compatibility listing</strong> to create, update or delete parts compatibility listings or individual data sets from parts compatibility listings. This is done in the <strong>Data » Import</strong> menu.<br></p>
</div>
<div class="paragraph">
<p>This best practice provides you with useful tips on what to keep in mind when creating or updating parts compatibility listings with the sync type <strong>Parts compatibility listing</strong> with ElasticSync.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating parts compatibility listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Pay attention to the following if a new parts compatibility listing should be created:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Mandatory fields</strong> for the creation of parts compatibility listings with ElasticSync:</p>
<div class="ulist">
<ul>
<li>
<p>Name</p>
</li>
<li>
<p>Referrer ID</p>
</li>
<li>
<p>Category ID</p>
</li>
</ul>
</div>
</li>
<li>
<p>Name, referrer ID, and category ID must be identical for each data set/list entry to add all data sets in one parts compatibility listing.</p>
</li>
<li>
<p>If a data set/list entry already exists in this combination for name, referrer ID, and category ID, then no new parts compatibility listing will be created and there will be no update of an existing parts compatibility listing.</p>
</li>
<li>
<p>If no new parts compatibility listing should be created and no vehicle ID is given, then there will be no check whether the vehicle already exists. Instead, the vehicle is newly created. Note that this might lead to doublings.</p>
</li>
<li>
<p>If no vehicle ID is given, then a new vehicle is created.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Updating parts compatibility listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Pay attention to the following if an existing parts compatibility listing should be updated:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Mandatory field</strong> for updating an existing parts compatibility listing:</p>
<div class="ulist">
<ul>
<li>
<p>Parts compatibility listing ID</p>
</li>
</ul>
</div>
</li>
<li>
<p>All other values can be specified as desired.</p>
</li>
<li>
<p>When a list ID is given, the parts compatibility listing is updated.</p>
</li>
<li>
<p>If only list ID and vehicle properties are given, then the vehicle properties are added to the list as a new vehicle.</p>
</li>
<li>
<p>If vehicle properties should be updated, first all vehicle properties are deleted and the vehicle properties from the CSV file are added.</p>
</li>
<li>
<p>If a vehicle ID is given, the list is updated. Check therefore that the vehicle ID and the parts compatibility listing ID are correct. Otherwise, the wrong list will be updated.</p>
</li>
</ul>
</div>
</div>
</div>
</main>