<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_kategorietyp_artikel_bearbeiten"><span>1.</span><span> Kategorietyp Artikel bearbeiten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Kategorietyp Artikel bearbeiten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Artikelkategorien erstellen Sie für die Einteilung Ihrer Artikel im Webshop. Überlegen Sie zunächst, welche Produkte Ihr Portfolio beinhaltet und teilen Sie Ihr Portfolio in Kategorien und Unterkategorien ein. Sie können z.B. <strong>Damenbekleidung</strong> und <strong>Herrenbekleidung</strong> als oberste Kategorie anlegen und darunter jeweils <strong>Schuhe</strong> etc. – oder eben genau andersherum: Sie können auch <strong>Schuhe</strong> als Hauptkategorie anlegen und darunter die Kategorien <strong>Damen</strong> und <strong>Herren</strong> anführen. Die Einteilung hängt von Ihrem Portfolio ab.<br>
Wie Sie <strong>Haupt</strong>- und <strong>Unterkategorien</strong> anlegen erfahren Sie auf der Seite <strong><a href="/artikel/kategorien/kategorien-bearbeiten">Kategorien bearbeiten</a></strong>. Auf dieser Seite finden Sie auch alle anderen Einstellungen, die für alle Kategorietypen, d.h. Artikel, Content und Container, gelten.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kategorietyp Artikel</div>
<div class="paragraph">
<p>Kategorien des Typs Artikel erkennen Sie an den blau hinterlegten Ordner- und Seitensymbolen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_kategorietyp_artikel_bearbeiten">1. Kategorietyp Artikel bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der folgenden Konfiguration werden nur die Einstellungen hervorgehoben, die für eine Kategorie des Typs <strong>Artikel</strong> unbedingt vorgenommen werden müssen und die sich von Kategorieeinstellungen für den Typ <strong>Content</strong> unterscheiden. Die weiteren Einstellungen sind in Tabelle 2 auf der Seite <strong><a href="/artikel/kategorien/kategorien-bearbeiten">Kategorien bearbeiten</a></strong> erklärt.</p>
</div>
<div class="paragraph instruction">
<p>Kategorietyp Artikel bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie die Kategorie links im Kategorieverzeichnis.</p>
</li>
<li>
<p>Stellen Sie als Typ <strong>Artikel</strong> ein.<br>
→ Bei neuen Kategorien wird automatisch der Typ <strong>Artikel</strong> eingestellt (Standard).</p>
</li>
<li>
<p>Wählen Sie für <strong>Template-Liste</strong> ein Design.</p>
</li>
<li>
<p>Wählen Sie für <strong>Template-Produkt</strong> ein Design.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Elmar-Kategorie</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem Sie die Kategorie angelegt haben, müssen Sie nun Ihre Artikel mit ihr verknüpfen. Dies tun Sie im Tab <strong>Kategorien</strong> eines Artikels.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kategorietyp ändern</div>
<div class="paragraph">
<p>Wenn Sie den Typ einer Kategorie, die bereits mit Artikeln verknüpft ist, von <strong>Artikel</strong> zu <strong>Content</strong> ändern, werden die Verknüpfungen nicht automatisch gelöscht. Allerdings ist die Kategorie am Artikel nicht mehr sichtbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum Verknüpfen von Artikeln mit Kategorien im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/99419244" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
</main>