<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_kategorieebenen_festlegen"><span>1.</span><span> Kategorieebenen festlegen</span></a></li>
<li><a href="#_kategorie_erstellen"><span>2.</span><span> Kategorie erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#_hauptkategorie_erstellen"><span>2.1.</span><span> Hauptkategorie erstellen</span></a></li>
<li><a href="#_unterkategorie_erstellen"><span>2.2.</span><span> Unterkategorie erstellen</span></a></li>
</ul>
</li>
<li><a href="#_kategorie_bearbeiten"><span>3.</span><span> Kategorie bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#_tab_einstellungen"><span>3.1.</span><span> Tab: Einstellungen</span></a></li>
<li><a href="#_tabs_beschreibung_1_und_2"><span>3.2.</span><span> Tabs: Beschreibung 1 und 2</span></a></li>
<li><a href="#10"><span>3.3.</span><span> Tab: Dokumente</span></a></li>
<li><a href="#_tab_notiz"><span>3.4.</span><span> Tab: Notiz</span></a></li>
<li><a href="#_kategorien_filtern"><span>3.5.</span><span> Kategorien filtern</span></a></li>
<li><a href="#_kategorie_suchen"><span>3.6.</span><span> Kategorie suchen</span></a></li>
</ul>
</li>
<li><a href="#_kategorien_verschieben"><span>4.</span><span> Kategorien verschieben</span></a></li>
<li><a href="#_mehrere_kategorien_für_mandanten_gleichzeitig_aktivieren"><span>5.</span><span> Mehrere Kategorien für Mandanten gleichzeitig aktivieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Kategorien bearbeiten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Artikel » Kategorien</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_kategorieebenen_festlegen">1. Kategorieebenen festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Legen Sie zunächst fest, wie viele Kategorieebenen in Ihrem Webshop angezeigt werden sollen. Wenn Sie z.B. 4 einstellen, können keine Kategorien auf der 5. Ebene angelegt werden.</p>
</div>
<div class="paragraph instruction">
<p>Kategorieebenen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Kategorien » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wählen Sie die maximale Ebenentiefe in der Kategorienavigation.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellung.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_kategorie_erstellen">2. Kategorie erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine neue Kategorie erstellen Sie immer dann, wenn Sie entweder eine neue Artikelkategorie für Ihren Webshop oder eine Seite mit Informationen für Ihren Webshop erstellen möchten. Um eine Unterkategorie erstellen zu können, muss zuvor eine Hauptkategorie vorhanden sein. Einige Kategorien sind schon standardmäßig im System angelegt. Eine dieser Kategorien ist die Kategorie <strong>Content</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Standard-Kategorie "Content"</div>
<div class="paragraph">
<p>Der Name und der URL-Name der Kategorie <strong>Content</strong> sind nicht änderbar. Nicht namensbezogene Optionen, z.B. die Position, sind änderbar. Eigene Kategorien mit dem Namen <strong>Content</strong> können nicht angelegt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr zum Anlegen von Kategorien im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-3146/" target="_blank">Kategorie anlegen</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Struktur planen</div>
<div class="paragraph">
<p>Erarbeiten Sie eine sinnvolle Kategoriestruktur, bevor Sie mit dem Erstellen der Kategorien beginnen.<br>
Überlegen Sie vor dem Anlegen von Artikelkategorien, welche Produkte Ihr Portfolio beinhaltet und teilen Sie es in Kategorien und Unterkategorien ein.<br>
Sie können z.B. Damenbekleidung und Herrenbekleidung als oberste Kategorie anlegen und darunter jeweils Schuhe etc. – oder eben genau andersherum: Sie können auch Schuhe als Hauptkategorie anlegen und darunter die Kategorien Damen und Herren anführen. Die Einteilung hängt von Ihrem Portfolio ab.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_hauptkategorie_erstellen">2.1. Hauptkategorie erstellen</h3>
<div class="paragraph">
<p>Im Folgenden erfahren Sie, wie Sie neue Hauptkategorien erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Hauptkategorie erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicken Sie links unten auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Namen</strong> für die Kategorie ein.</p>
</li>
<li>
<p>Wählen Sie <strong>Hauptkategorie</strong> als Kategorieebene.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Erstellen</strong>, um die Kategorie anzulegen.<br>
→ Die Kategorie wird angelegt und im Verzeichnisbaum links angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kategorietyp</div>
<div class="paragraph">
<p>Neue Kategorie haben standardmäßig den Kategorietyp <strong>Artikel</strong> (Tabelle 2).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_unterkategorie_erstellen">2.2. Unterkategorie erstellen</h3>
<div class="paragraph">
<p>Es gibt zwei Möglichkeiten, Unterkategorien zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Unterkategorie über den Button erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicken Sie links unten auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Namen</strong> für die Kategorie ein.</p>
</li>
<li>
<p>Wählen Sie <strong>Unterkategorie</strong> als Kategorieebene.<br>
→ Die Kategorieebenen werden auswählbar.</p>
</li>
<li>
<p>Wählen Sie die Hauptkategorie, der die neue Kategorie untergeordnet werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Erstellen</strong>, um die Kategorie anzulegen.<br>
→ Die Kategorie wird angelegt und im Verzeichnisbaum links als Unterkategorie angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf die Hauptkategorie, um die Unterkategorien zu sehen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Unterkategorie über das Kontextmenü erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffnen Sie die Kategorie, zu der Sie eine Unterkategorie anlegen möchten.</p>
</li>
<li>
<p>Klicken Sie mit der rechten Maustaste auf die Kategorie.<br>
→ Das Kontextmenü wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Unterkategorie erstellen</strong>.<br>
→ Das Fenster <strong>Neue Unterkategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Namen</strong> für die Unterkategorie ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Erstellen</strong>, um die Kategorie anzulegen.<br>
→ Die Kategorie wird angelegt und erscheint im Verzeichnisbaum links als Unterkategorie.</p>
</li>
<li>
<p>Klicken Sie auf die Hauptkategorie, um die Unterkategorien anzuzeigen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Um eine Unterkategorie der 3. oder 4. Ebene zu erstellen, klicken Sie die Kategorien an, bis Sie die Kategorie erreicht haben, zu der Sie die Unterkategorie erstellen möchten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kategorien aktivieren</div>
<div class="paragraph">
<p>Damit eine Kategorie im Webshop sichtbar ist, müssen Sie die Kategorie noch aktivieren. Die Aktivierung nehmen Sie im Menü <strong>Einstellungen » Mandant (Shop) » Standard » Kategorien » Aktivieren</strong> vor.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_kategorie_bearbeiten">3. Kategorie bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die neu erstellte Kategorie finden Sie im Verzeichnisbaum links. Sie kann nun bearbeitet werden. Sie können die Kategorie öffnen, indem Sie sie anklicken oder indem Sie per rechter Maustaste das Kontextmenü öffnen. Dieses Menü ermöglicht Ihnen einen Schnellzugriff auf bestimmte Funktionen, um die Kategorie zu bearbeiten, zu verschieben, zu kopieren oder zu löschen. Sie können außerdem einen neuen Artikel oder eine Unterkategorie anlegen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kategorie kopieren</div>
<div class="paragraph">
<p>Die Option <strong>Kategorien kopieren</strong> bietet die Möglichkeit, die gleiche Kategorie als Unterkategorie zu verschiedenen übergeordneten Kategorien anzulegen. Dies ist beispielsweise sinnvoll, wenn Sie bei Bekleidung zwischen Damen, Herren, Kindern unterscheiden, aber bei allen dreien die Kategorie Hosen benötigen. Dazu die Kategorie mit sämtlichen Einstellungen kopieren und anschließend den Namen und die Beschreibung noch anpassen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Bearbeitungsfenster unterteilt sich in 5 Tabs. Diese Tabs sind: <strong>Einstellungen</strong>, <strong>Beschreibung 1</strong>, <strong>Beschreibung 2</strong>, <strong>Dokumente</strong> und <strong>Notiz</strong>. Oberhalb der Tabs befindet sich eine Symbolleiste, die in Tabelle 1 erläutert wird.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kategoriepfad</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Öffnet übergeordnete Kategorien direkt durch Klick auf den Link.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Speichern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Speichert die Einstellungen bzw. Änderungen an einer Kategorieseite.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wird automatisch vergeben und hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorschau</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Öffnet die Vorschau der Kategorie.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inline-Edit-Vorschau</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Öffnet eine Vorschau, die auch Bearbeitungsmöglichkeiten umfasst.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bilder-Galerie</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Öffnet die <strong><a href="/omni-channel/online-shop/cms#bilder-galerie">Bilder-Galerie</a></strong> in einem neuen Tab. Hier werden Bilder hochgeladen. Die URL eines Bildes kann dann kopiert werden, um sie über den Editor in der Kategorieseite zu verknüpfen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template-Variablen und -Funktionen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Öffnet eine nach Bereichen sortierte Sammlung von <a href="/omni-channel/online-shop/cms-syntax#grundlagen-template-variablen"><strong>Template-Variablen</strong></a> und <a href="/omni-channel/online-shop/cms-syntax#grundlagen-template-funktionen"><strong>Template-Funktionen</strong></a>, die kopiert und in die Seite eingefügt werden können.<br>
Beispiele für Funktionen:<br>
<strong>&#123;&#37; Link(xxx) &#37;&#125;</strong> = Verlinkung auf eine andere Kategorieseite (xxx = ID der Seite)<br>
<strong>&#123;&#37; Link_Help() &#37;&#125;</strong> = Verlinkung auf die Hilfeseite<br>
<strong>&#123;&#37; Link_ShippingCosts() &#37;&#125;</strong> = Verlinkung auf die Erläuterung der Versandkosten<br>
<em><strong>Wichtig</strong></em>: Diese Funktionen können nicht in Newslettern oder Artikelbeschreibungen verwendet werden. Dort muss die absolute URL angegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Multilingualität</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Öffnet eine zweisprachige Ansicht. Die dargestellten Sprachen sind wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kategorie-Einstellungen übertragen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier ggf. Optionen wählen, die von dieser Kategorie auf eine andere Kategorie mit der gleichen Kategorie-ID eines oder mehrerer Mandanten sowie einer oder mehrerer Sprachen übertragen werden sollen. Damit sind Kategorien mandanten- und sprachübergreifend einfacher und vor allem schneller zu bearbeiten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Link</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Template-Funktion der Kategorie. Diese enthält immer die Kategorie-ID zur eindeutigen Zuordnung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Timestamp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt den Zeitpunkt der letzten Bearbeitung sowie den Bearbeiter an.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Icons der Kategorie-Leiste</em></p>
</div>
<div class="sect2">
<h3 id="_tab_einstellungen">3.1. Tab: Einstellungen</h3>
<div class="paragraph">
<p>Das Tab <strong>Einstellungen</strong> wird automatisch geöffnet, wenn Sie eine Kategorie öffnen.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen <strong>Artikel</strong>, <strong>Content</strong> und <strong>Container</strong> wählen.<br>
In der Kategorieübersicht sind Kategorien des Typs <strong>Artikel</strong> blau hinterlegt. Kategorien des Typs <strong>Content</strong> sind gelb und Kategorien des Typs <strong>Container</strong> sind rot hinterlegt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Namen für die Kategorie eintragen.<br>
Der gleiche Kategoriename darf in unterschiedlichen Kategorien auch auf derselben Ebene verwendet werden. Innerhalb einer Kategorie darf der Name jedoch nur einmal pro Ebene verwendet werden. Dies ermöglicht es, unterschiedliche Meta-Beschreibungen etc. für Kategorien des gleichen Namens zu speichern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tags</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Tags, die zu der Kategorie passen, wählen. Beim Tippen werden direkt Vorschläge eingeblendet. Tags dienen dazu, der Kategorie Themengebiete zuzuordnen. Die Tags selbst werden unter <a href="/basics/arbeiten-mit-plentymarkets/tags"><strong>Einstellungen » Grundeinstellungen » Tags</strong></a> angelegt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL-Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Namen für die Verwendung in der URL eintragen.<br>
Der Name wird beim Anlegen einer neuen Kategorie automatisch als URL-Name verwendet und kann hier geändert werden. Da beim Anlegen noch kein Mandant gewählt wird, wird die automatische URL zunächst nicht indiziert.<br>
Der gleiche URL-Name darf in unterschiedlichen Kategorien auch auf derselben Ebene verwendet werden. Innerhalb einer Kategorie darf der URL-Name jedoch nur einmal pro Ebene verwendet werden.<br>
<em><strong>Wichtig:</strong></em> Verwenden Sie ausschließlich <strong>ASCII-Code</strong>, da der URL-Name keine Sonderzeichen enthalten darf. Folgende Zeichenfolgen dürfen zu Beginn eines URL-Namens nicht verwendet werden: a-, b-, c-, f-, fa-, p-, t-. Diese Anfangszeichen werden automatisch entfernt, falls sie eingetragen wurden. Aus a-klasse wird z.B. automatisch klasse. Der URL-Name aklasse wäre jedoch möglich für eine Kategorie mit dem Namen A-Klasse.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die URL der Kategorie wird angezeigt.<br>
Diese wird automatisch erstellt und eingetragen. Sie enthält den vollständigen Pfad, also die Domain, die Kategorieebenen sowie den URL-Namen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Canonical</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>URL der Kategorie eintragen, die den gleichen Content enthält. So wird <strong><a href="/omni-channel/online-shop/cms-syntax#fallbeispiele-seo-guide">Duplicate Content</a></strong> verhindert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kurzbeschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Kurzbeschreibung der Kategorie eintragen. Die Kurzbeschreibung wird über Template-Variablen in das Design des Webshops eingebunden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Position</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahl eintragen, um die Reihenfolge der Kategorien und Unterkategorien einer Kategorie auf gleicher Ebene festzulegen. Die Sortierungsreihenfolge wird im Menü <strong><a href="/omni-channel/online-shop/mandanten-einrichten/artikelansichten">Einstellungen » Mandant (Shop) » Standard » Artikelansichten » Grundeinstellungen</a></strong> festgelegt. Standardmäßig wird nach aufsteigender Position sortiert.<br>
<strong><em>Tipp:</em></strong> Positionsnummern in Zehnerschritten anlegen, damit neue Kategorien dazwischen eingefügt werden können.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen, mehrere oder alle Mandanten wählen, damit die Kategorie in diesen verfügbar ist.<br>
Wenn in einer Unterkategorie ein Mandant ausgewählt wird und dieser in den übergeordneten Kategorien nicht ausgewählt ist, wird die Auswahl auf die übergeordneten Kategorien übertragen. Wenn in übergeordneten Kategorien bereits andere Mandanten ausgewählt sind, wird der Mandant zusätzlich ausgewählt. Die Auswahl der anderen Mandanten bleibt somit erhalten.<br>
<strong>Sichtbarkeit auf Unterkategorien übertragen</strong><br>
Die Option wird nur angezeigt, wenn Unterkategorien vorhanden sind.<br>
Häkchen setzen, um die Mandantensichtbarkeit auf alle Unterkategorien der Kategorie zu übertragen. Die Funktion bezieht sich nur auf den aktuellen Speichervorgang, d.h., das Häkchen muss für jeden Vorgang neu gesetzt werden.<br>
Wenn eine Sichtbarkeit entfernt wird (Häkchen bei Mandanten entfernen und speichern), wird dies auch auf die Unterkategorien übertragen, wenn die Funktion nicht aktiviert ist.<br>
Bei Hinzufügen einer Sichtbarkeit wird diese Sichtbarkeit automatisch auch für die übergeordneten Kategorien gesetzt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meta-Titel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Namen eintragen. Dieser Name wird als Titel des Tabs im Webbrowser und als Suchergebnis in Suchmaschinen angezeigt.<br>
Wird das Feld leer gelassen, wird der Name als Titel verwendet.<br>
Auf die Länge des Titels achten. Kurze Titel sind besser für Tabs, da längere Titel abgekürzt werden. (Richtwert bis 50 Zeichen)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meta-Beschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Meta-Beschreibung eintragen. Diese wird von Suchmaschinen ausgewertet und ist daher besonders bei der Startseite wichtig. Die Meta-Beschreibung sollte den wesentlichen Inhalt in einem Satz enthalten. (Richtwert bis 140 Zeichen)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meta-Keywords</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Konkrete Stichwörter, wie sie von Personen in Suchmaschinen eingegeben werden, eintragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sitemap</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen <strong>Anzeigen</strong> und <strong>Nicht anzeigen</strong> wählen.<br>
<strong>Anzeigen</strong> = Kategorie wird in die Sitemap aufgenommen.<br>
<strong>Nicht anzeigen</strong> = Kategorie wird nicht in die Sitemap aufgenommen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Robots</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen <strong>all</strong>, <strong>index</strong>, <strong>nofollow</strong>, <strong>noindex</strong> und <strong>nofollow, noindex</strong> wählen. Werte des Meta-Elements Robots werden von Crawlern der Suchmaschinen ausgewertet. Dem Crawler wird mithilfe dieser Werte mitgeteilt, wie er mit der Seite und den Links auf dieser Seite verfahren soll.<br>
<strong>all</strong> = Webseite der Kategorie in den Suchmaschinenindex aufnehmen und Links auf der Seite folgen.<br>
<strong>index</strong> = In Suchmaschinenindex aufnehmen.<br>
<strong>nofollow</strong> = Links auf der Seite nicht folgen.<br>
<strong>noindex</strong> = Nicht in den Suchmaschinenindex aufnehmen.<br>
<strong>nofollow, noindex</strong> = Den Links nicht folgen und die Webseite der Kategorie nicht in den Suchmaschinenindex aufnehmen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template-Seite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein Template wählen. Das hier gewählte Template bildet den Rahmen für die Kategorie. Option steht für Kategorien des Typs <strong>Container</strong> nicht zur Verfügung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template-Liste</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein Template wählen. Das Template bestimmt, wie die Kategorieübersicht der aktuellen Kategorie aussieht. Die Option steht nur bei <strong>Artikelkategorien</strong> zur Verfügung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template-Produkt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein Template wählen. Das Template bestimmt die Einzelansicht der Artikel dieser Kategorie. Die Option steht nur bei <strong>Artikelkategorien</strong> zur Verfügung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Volltextsuche</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen <strong>Ja</strong> und <strong>Nein</strong> wählen.<br>
<strong>Ja</strong> = Vollständiger Text wird durchsucht.<br>
<strong>Nein</strong> = Text wird nicht vollständig durchsucht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>in Linkliste</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen <strong>Anzeigen</strong> und <strong>Nicht anzeigen</strong> wählen.<br>
<strong>Anzeigen</strong>= Kategorie wird in der Navigation im Webshop angezeigt.<br>
<strong>Nicht anzeigen</strong> = Kategorie wird nicht in der Navigation im Webshop angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sichtbar</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen <strong>Öffentlich</strong> und <strong>Nach Login</strong> wählen.<br>
<strong>Öffentlich</strong>= Kategorie ist für alle Besucher des Webshops sichtbar.<br>
<strong>Nach Login</strong> = Kategorie samt aller Unterkategorien ist nur für eingeloggte Besucher des Webshops sichtbar. Nicht eingeloggte Besucher werden auf Login-Seite umgeleitet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Elmar-Kategorie</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Elmar-Kategorie wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template-Variablen und -Funktionen übersetzen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zwischen <strong>Ja</strong>, <strong>Nur Link-Template-Variablen und -Funktionen</strong> und <strong>Nein</strong> wählen.<br>
<strong>Ja</strong>= Alle Template-Variablen und -Funktionen werden übersetzt.<br>
<strong>Nur Link-Template-Variablen und -Funktionen</strong> = Nur Link-Template-Variablen und -Funktionen werden übersetzt.<br>
<strong>Nein</strong>= Keine Template-Variablen und -Funktionen werden übersetzt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Erläuterung des Tabs <strong>Einstellungen</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_tabs_beschreibung_1_und_2">3.2. Tabs: Beschreibung 1 und 2</h3>
<div class="paragraph">
<p>In den Tabs <strong>Beschreibung 1</strong> und <strong>Beschreibung2</strong> fügen Sie Text ein und formatieren ihn. In das Webdesign Ihres Shops sowie an anderen Stellen fügen Sie diese Beschreibung über <a href="/omni-channel/online-shop/cms-syntax#grundlagen-template-variablen"><strong>Template-Variablen</strong></a> und <a href="/omni-channel/online-shop/cms-syntax#grundlagen-template-funktionen"><strong>Template-Funktionen</strong></a> ein. Mit <strong>Beschreibung 1</strong> und <strong>2</strong> haben Sie die Möglichkeit, zwei Texte zu einer Kategorie zu verfassen und an unterschiedlichen Stellen einer Webseite anzuzeigen. So können Sie <strong>Beschreibung 1</strong> z.B. oberhalb einer Artikelübersicht und <strong>Beschreibung 2</strong> darunter anzeigen.</p>
</div>
<div class="paragraph">
<p>Über das Dropdown-Menü rechts über dem Eingabefeld wählen Sie den Editor, mit dem Sie die Beschreibung bearbeiten möchten. Zur Verfügung stehen der <strong><a href="/omni-channel/online-shop/cms#webdesign-werkzeuge-editor">Editor</a></strong>, der HTML-Editor <strong>Textfeld</strong> und der <a href="/omni-channel/online-shop/cms#webdesign-werkzeuge-syntax-editor"><strong>Syntax-Editor</strong></a>. Für den Typ <strong>Container</strong> stehen nur der HTML-Editor <strong>Textfeld</strong> und der <strong>Syntax-Editor</strong> zur Verfügung.</p>
</div>
</div>
<div class="sect2">
<h3 id="10">3.3. Tab: Dokumente</h3>
<div class="paragraph">
<p>Im Tab <strong>Dokumente</strong> laden Sie Dokumente hoch. Alle Dateien, die zu der Kategorie gehören, speichern und finden Sie hier.</p>
</div>
<div class="paragraph">
<p>Zulässig sind Datenformate wie JPEG, PNG, GIF, TIFF, PDF, DOC, ODC, OTH, XLS, XML, HTML, HTM, CSS, JavaScript, ZIP, JSON und GZIP.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Dokumente hochladen</div>
<div class="paragraph">
<p>Dokumente fügen Sie entweder über <strong>Datei hochladen</strong> oder per Drag-and-Drop-Funktion zum Tab hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bei einer Kategorie vom Typ <strong>Artikel</strong> legen Sie bis zu zwei Kategoriebilder fest. Sie können weitere Dokumente und Bilder hochladen und so z.B. das Kategoriebild regelmäßig ändern, ohne das alte Bild zu löschen. Gehen Sie wie nachfolgend beschrieben vor, um Kategoriebilder festzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Kategoriebilder für Kategorie des Typs Artikel festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie die <strong>Kategorie</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf das gewünschte Bild.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen in der <strong>Auswahlbox</strong> des Bildes.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Bild 1</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Das Bild erhält einen roten Rahmen mit einer <strong>1</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Verfahren Sie für das 2. Kategoriebild genauso und klicken Sie in Schritt 5 auf <strong>Bild 2</strong>. Die Auswahl eines Kategoriebildes heben Sie auf, indem Sie ein Häkchen in der Auswahlbox des Bildes setzen und erneut auf <strong>Bild 1</strong> bzw. <strong>Bild 2</strong> klicken.</p>
</div>
<div class="paragraph">
<p>Die ausgegrauten Buttons der Symbolleiste werden wählbar, sobald ein oder mehrere Bilder durch Setzen eines Häkchens gewählt wurden. Dies ermöglicht es, die Vorschau für mehrere Bilder gleichzeitig zu öffnen, sie gleichzeitig herunterzuladen oder gemeinsam zu löschen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Anzeige der Kategoriebilder im Webshop</div>
<div class="paragraph">
<p>Standardmäßig wird nur Kategoriebild 1 im Webshop angezeigt. Hierfür wurde eine <a href="/omni-channel/online-shop/cms-syntax#grundlagen-if"><strong>if-Abfrage</strong></a> mit der Template-Variable <a href="/omni-channel/online-shop/cms-syntax#webdesign-navigation"><strong>$CurrentCategoryImageUrl</strong></a> in das Template <strong>ItemViewCategoriesList</strong> eingefügt. Damit auch Kategoriebild 2 angezeigt wird, fügen Sie eine zweite if-Abfrage in das Template ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_tab_notiz">3.4. Tab: Notiz</h3>
<div class="paragraph">
<p>Im Tab <strong>Notiz</strong> hinterlegen Sie Anmerkungen zu einer Kategorie. Hier können Sie z.B. festhalten, woher eine Information stammt, oder vermerken, dass bestimmte Abschnitte nicht geändert werden dürfen. Die in diesem Tab gespeicherten Informationen sind nur in plentymarkets sichtbar und werden nicht im Webshop ausgegeben. Notizen können nicht gelöscht werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="_kategorien_filtern">3.5. Kategorien filtern</h3>
<div class="paragraph">
<p>Kategorien können nach dem Mandanten, der Sprache und dem Typ gefiltert werden. Die Filter befinden sich oberhalb des Kategorieverzeichnisses. Ob eine Kategorie in der gewählten Kombination verfügbar ist, erkennen Sie anhand des Schriftschnitts. Normal dargestellte Kategorien sind in der Kombination verfügbar. Für kursiv dargestellte Kategorien ist für die gewählte Filterkombination aus Mandant, Sprache und Typ keine Konfiguration vorhanden.</p>
</div>
</div>
<div class="sect2">
<h3 id="_kategorie_suchen">3.6. Kategorie suchen</h3>
<div class="paragraph">
<p>Die Suchfunktion über dem Kategoriebaum hilft Ihnen, eine Kategorie schnell zu finden. Geben Sie die gesuchte Bezeichnung der Kategorie in das Textfeld ein. Bereits während der Eingabe werden die Suchergebnisse angezeigt.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_kategorien_verschieben">4. Kategorien verschieben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kategorien werden im Bereich <strong>Artikel » Kategorien</strong> in der gewählten Struktur dargestellt. Aus der Kategoriestruktur und den Kategorienamen ergibt sich das Navigationsmenü, das im Webshop dargestellt wird. Die Struktur ergibt sich einmal aus den Haupt- und Unterkategorien und der Zuordnung dieser Kategorien zueinander. Das sind die sogenannten Ebenen. Zum anderen ergibt sie sich aus den Positionen. Mit der Position einer Kategorie legen Sie die Reihenfolge innerhalb einer Kategorieebene fest. Um eine Kategorie nachträglich in der Ebene zu verschieben, gibt es die Funktion <strong>Kategorie verschieben</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie in Hauptkategorieebene verschieben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf eine Kategorie.</p>
</li>
<li>
<p>Klicken Sie rechts neben der Kategorie auf das Dreieck nach unten.<br>
→ Ein <strong>Kontextmenü</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Kategorie verschieben</strong>.<br>
→ Die Menüübersicht <strong>Kategorie verschieben</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie <strong>Hauptkategorie</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Verschieben</strong>.<br>
→ Die Kategorie wird links im Verzeichnisbaum in der obersten Ebene angezeigt.</p>
</li>
<li>
<p>Passen Sie ggf. die Position der Kategorie an, um sie korrekt einzuordnen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Kategorie in Unterkategorieebene verschieben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf eine Kategorie.</p>
</li>
<li>
<p>Klicken Sie rechts neben der Kategorie auf das Dreieck nach unten.<br>
→ Ein <strong>Kontextmenü</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Kategorie verschieben</strong>.<br>
→ Die Menüübersicht <strong>Kategorie verschieben</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie <strong>Unterkategorie</strong>.</p>
</li>
<li>
<p>Wählen Sie die Kategorie, unter der die Kategorie eingeordnet werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Verschieben</strong>.<br>
→ Die Kategorie wird links im Verzeichnisbaum unter der gewählten Kategorie angezeigt.</p>
</li>
<li>
<p>Passen Sie ggf. die Position der Kategorie an, um sie korrekt einzuordnen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_mehrere_kategorien_für_mandanten_gleichzeitig_aktivieren">5. Mehrere Kategorien für Mandanten gleichzeitig aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Kategorien » Aktivieren</strong> bietet Ihnen die Möglichkeit, Kategorien eines Mandanten zentral zu aktivieren bzw. zu deaktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Kategorien für Mandanten gleichzeitig aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Mandant (Shop) » Standard » Kategorien » Aktivieren</strong>.</p>
</li>
<li>
<p>Markieren Sie die Kategorien, die Sie aktivieren möchten.<br>
<strong><em>Tipp:</em></strong> Mit <strong>Alle auswählen</strong> markieren Sie alle Kategorien. Mit <strong>Alle abwählen</strong> heben Sie die Markierung aller markierten Kategorien auf.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Prüfen Sie die Anzeige der Kategorien und Artikel im Webshop.<br>
<strong><em>Tipp:</em></strong> Es kann etwas dauern, bis eine aktivierte Kategorie im Webshop sichtbar ist. Prüfen Sie bei Problemen alle Einstellungen und laden Sie die Anzeige Ihres Webshops neu.</p>
</li>
</ol>
</div>
</div>
</div>
</main>