<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_filling_the_csv_file"><span>1.</span><span> Filling the CSV file</span></a></li>
<li><a href="#_creating_listings_in_plentymarkets_with_elasticsync"><span>2.</span><span> Creating listings in plentymarkets with ElasticSync</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating listings</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice you will learn how to create listings for eBay with ElasticSync.<br></p>
</div>
<div class="paragraph">
<p>Note that the item must be activated as described in this <a href="/en/markets/ebay/best-practices-ebay-activate-listings">best practice</a>. Otherwise, listings cannot be created as described here.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_filling_the_csv_file">1. Filling the CSV file</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to create listings in plentymarkets with ElasticSync, a CSV file is required. In order to create a market listing and a listing, the CSV file must contain at least the following fields:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ItemID</p>
</li>
<li>
<p>MarketID</p>
</li>
<li>
<p>StockDependenceTypeID</p>
</li>
<li>
<p>UserID</p>
</li>
<li>
<p>UnitCombinationID</p>
</li>
<li>
<p>TypeID</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If the listing already exists and you only want to create a market listing, the following fields must at least be contained in the CSV file:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>MarketID</p>
</li>
<li>
<p>UserID</p>
</li>
<li>
<p>ListingID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_listings_in_plentymarkets_with_elasticsync">2. Creating listings in plentymarkets with ElasticSync</h2>
<div class="sectionbody">
<div class="paragraph">
<p>ElasticSync enables you to import the CSV file containing the new listings into plentymarkets. This is done in the <strong>Data » ElasticSync</strong> menu. To import the listings, create a sync of the type <strong>Market listing</strong>.</p>
</div>
<div class="paragraph">
<p>Creating a sync:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » ElasticSync</strong>.</p>
</li>
<li>
<p>Click on <strong>Add sync</strong>.<br>
→ A section in which the sync can be edited opens.</p>
</li>
<li>
<p>Enter a name for the sync.</p>
</li>
<li>
<p>Select <strong>Market listing</strong> from the <strong>Type</strong> drop-down list.</p>
</li>
<li>
<p>In the <strong>Import</strong> section, you can leave the settings as they are.</p>
</li>
<li>
<p>In the <strong>Separator</strong> section, select the separator that you used when the CSV file was saved.</p>
</li>
<li>
<p>In the <strong>Source</strong> section, select the option <strong>HTTP</strong>.<br>
→ Three further lines are displayed.</p>
</li>
<li>
<p>Select the option <strong>Data upload</strong> from the <strong>HTTP options</strong> drop-down list.</p>
</li>
<li>
<p>In the line <strong>URL</strong>, click on the button with the three dots (<strong>Select file</strong>).<br>
→ A new window opens.</p>
</li>
<li>
<p>Click on <strong>Upload file</strong>, select the CSV file with the listings that you have created, and click on <strong>Open</strong>.</p>
</li>
<li>
<p>Place a check mark in the line of the file and click once in the line of the file.<br>
→ <em>Important:</em> The line must be clicked a second time. Once the line is displayed in blue, you can upload it by clicking on <strong>Select</strong>.<br>
→ The URL – i.e. the path that you uploaded the CSV file from – is now displayed in grey in the field <strong>URL</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You have uploaded the CSV file successfully. Next, carry out the matching and mapping settings.</p>
</div>
<div class="paragraph">
<p>Carrying out the matching settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Matching</strong> on the left-hand side.</p>
</li>
<li>
<p>Leave the matching field empty.</p>
</li>
<li>
<p>In the <strong>Import options</strong> section, either select the option <strong>Import new, update existing data</strong> or the option <strong>Only import new data</strong>.</p>
</li>
<li>
<p>Select the decimal number and the data format, if required.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, carry out the settings for mapping.</p>
</div>
<div class="paragraph">
<p>Carrying out the mapping settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Mapping</strong> on the left-hand side.</p>
</li>
<li>
<p>Click on the plus symbol (<strong>Add mapping</strong>).</p>
</li>
<li>
<p>Enter a <strong>name</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>Import data / plentymarkets data fields</strong> section opens.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In this section, you assign the fields from your CSV file to the data fields in plentymarkets.</p>
</div>
<div class="paragraph">
<p>In the <strong>Import data</strong> section on the left-hand side, you can see the header names from your CSV file. plentymarkets has taken these names automatically from your CSV file. In the <strong>plentymarkets data fields</strong> section on the right-hand side, you have to select the corresponding counterpart from the list.<br></p>
</div>
<div class="paragraph">
<p>Example: Assigning sources for creating listings and market listings to the appropriate plentymarkets data fields</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>On the left-hand side, you can see the source <strong>MarketID</strong>. Click in the same line on the right-hand side and assign the <strong>Market listing / Platform ID</strong> field by placing a check mark.</p>
</li>
<li>
<p>Assign the data field <strong>Market listing / Account ID</strong> to the source <strong>UserID</strong> by placing a check mark.</p>
</li>
<li>
<p>Assign the data field <strong>Listing / Content ID</strong> to the source <strong>UnitCombinationID</strong> by placing a check mark.</p>
</li>
<li>
<p>Assign the data field <strong>Listing / Listing type ID</strong> to the source <strong>TypeID</strong> by placing a check mark.</p>
</li>
<li>
<p>Assign the data field <strong>Listing / Stock dependence type ID</strong> to the source <strong>StockDependenceTypeID</strong> by placing a check mark.</p>
</li>
<li>
<p>Assign the data field <strong>Listing / Item ID</strong> to the source <strong>ItemID</strong> by placing a check mark.</p>
</li>
<li>
<p>Activate all lines with the toggle button <strong>Activate row</strong> on the left-hand side.<br>
→ Wichtig: Die zu importierenden Datenfelder müssen alle aktiviert sein, damit die Zuordnung korrekt erfolgen kann.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> in order to display a preview of the file and to check the content.</p>
</li>
<li>
<p>Click on <strong>Run sync</strong> in order to import the listings into plentymarkets.</p>
</li>
</ol>
</div>
</div>
</div>
</main>