<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practice: Correcting / Redistributing/ Deleting stock ¤:lang: en ¤:description: Find out how to completely redistribute stock of one warehouse to another one. ¤:keywords: Stocktaking, manage stock, redistribute stock, correct stock, redistribute warehouse, delete stock ¤:position: 10</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With the data format <strong>Stock</strong> it is possible to change the stock of all variations at once. This is for example helpful, if you want to enter all current stocks into the system after a stocktaking.</p>
</div>
<div class="paragraph">
<p>Further application possibilities are the redistribution of stock to a new storage location in the same warehouse or into a new warehouse.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_which_steps_are_necessary_in_advance_for_redistributing_and_correcting_stock">Which steps are necessary in advance for redistributing and correcting stock?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>the warehouse has to be set up ¤* if you’re not only working with the standard storage location, the storage locations have to be set up</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For more information about setting up warehouses and storage locations, please refer to the manual page <a href="/en/stock-management/setting-up-a-warehouse">warehouse</a> and the subordinate pages. (Die Handbuchseiten sind noch nicht überarbeitet. Die grundsätzliche Vorgehensweise ist jedoch in plentymarkets 6 und 7 gleich.)</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples_of_use_in_order_to_better_understand_the_process_we_will_give_you_three_concrete_examples_the_first_example_shows_the_necessary_steps_for_correcting_the_stock_however_the_stock_remains_in_the_same_warehouse_as_before_in_the_second_example_the_whole_stock_is_redistributed_into_another_warehouse">Examples of use ¤In order to better understand the process, we will give you three concrete examples. The first example shows the necessary steps for correcting the stock. However, the stock remains in the same warehouse as before. ¤In the second example, the whole stock is redistributed into another warehouse.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data format Stock is used for all of the above mentioned examples and the following parameters must be included:</p>
</div>
<div class="paragraph">
<div class="title">Storage and rounding settings ¤[cols="1,1,2"] ¤|==== ¤|Parameter |Import settings |Explanation</div>
<p>|VariationID ¤|Import ¤|Contains the plenty ID of a variation and thus is obligatory for the mapping of the stock.</p>
</div>
<div class="paragraph">
<p>|Stock ¤|Import ¤|Contains the stock figure and the import procedure setting Import ensures that the previous stock figure will be overwritten when importing the file. Therefore, the parameter is obligatory.</p>
</div>
<div class="paragraph">
<p>|WarehouseID ¤|Import ¤|Contains the warehouse ID and is obligatory, so the stock can be assigned to a warehouse.</p>
</div>
<div class="paragraph">
<p>|LocationID ¤|Import ¤|Contains the storage location ID and is obligatory, so the the stock can be assigned to a storage location.</p>
</div>
<div class="paragraph">
<p>|VariationString ¤|Import ¤|Contains the full name of a variation. The parameter is optional, but often helps recognising the variation</p>
</div>
<div class="paragraph">
<p>[.instruction] ¤Correcting stock</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Export the data format <strong>Stock</strong>. ¤. Enter the current stock into the column <strong>Stock</strong>. ¤. Save the file. ¤. Upload the file in plentymarkets.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>[.instruction] ¤Booking whole stock in a new warehouse</p>
</div>
<div class="paragraph">
<p>In the described procedure, for a short period of time there is more stock booked in the system than there actually exists. You should especially pay attention to this when having a small stock in which the existing stock is already completely reserved and therefore there may currently be no listing active etc. Due to the additional stock, automated actions such as sending emails or starting listings could be triggered. Basically, the stock in the old warehouse can also be set to zero first, but in that case, listings or other offers that are connected with the stock automatism, may be closed.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Export the data format Stock. ¤. Save the file twice. ¤. Open one file. ¤. Enter the ID of the new warehouse into the column <strong>WarehouseID</strong>. ¤. Enter the ID of the new storage location into the column <strong>LocationID</strong> ¤. Save the file. ¤. Upload the file in plentymarkets. ¤. Carry out exemplary tests on two or three items in the stock movements and check, whether stock was booked for the new warehouse ¤. Open the second, still un unprocessed file. ¤. In the <strong>Stock</strong> column, enter 0 for all stocks. ¤. Upload the file in plentymarkets. ¤. Carry out exemplary tests on two or three items in the stock movements and check, whether the stock for the old warehouse was set to zero.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_where_can_i_find_my_warehouse_ids_and_storage_location_ids">Where can I find my warehouse IDs and storage location IDs?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You will find the IDs in the menu <strong>Settings » Stock » Warehouse</strong> in the submenus <strong>Settings</strong> and <strong>Racks</strong>. ¤Info: The ID of the standard storage location is 0.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_exporting_and_importing_data">Exporting and importing data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>How the general procedure of importing and exporting data works is explained in the manual under <a href="/en/basics/data-exchange/export-import/exporting-data">exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">importing data</a>. ¤The other available data formats are listed <a href="/en/basics/data-exchange/export-import/data-formats">here</a>. ¤</p>
</div>
</div>
</div>
</main>