<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Best Practices: Correcting / Redistributing/ Deleting stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With the data format <strong>Stock</strong> it is possible to change the stock of all variations at once. This is for example helpful, if you want to enter all current stocks into the system after a stocktaking.</p>
</div>
<div class="paragraph">
<p>Further application possibilities are the redistribution of stock to a new storage location in the same warehouse or into a new warehouse.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_which_steps_are_necessary_in_advance_for_redistributing_and_correcting_stock">Which steps are necessary in advance for redistributing and correcting stock?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The warehouse has to be set up.</p>
</li>
<li>
<p>If you’re not only working with the standard storage location, the storage locations have to be set up.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For more information about setting up warehouses and storage locations, please refer to the manual page <a href="/en/stock-management/setting-up-a-warehouse">warehouse</a> and the subordinate pages.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples_of_use">Examples of use</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to better understand the process, we will give you three concrete examples. The first example shows the necessary steps for correcting the stock. However, the stock remains in the same warehouse as before.
In the second example, the whole stock is redistributed into another warehouse. The third example shows how to delete stock and demonstrates what needs to be considered when doing so.
The data format Stock is used for all of the above mentioned examples and the following parameters must be included:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Storage and rounding settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Parameter</th>
<th class="tableblock halign-left valign-top">Import settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VariationID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the plenty ID of a variation and thus is obligatory for the mapping of the stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the stock figure and the import procedure setting Import ensures that the previous stock figure will be overwritten when importing the file. Therefore, the parameter is obligatory.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">WarehouseID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the warehouse ID and is obligatory, so the stock can be assigned to a warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">LocationID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the storage location ID and is obligatory, so the the stock can be assigned to a storage location.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VariationString</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the full name of a variation. The parameter is optional, but often helps recognising the variation.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Correcting stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Export the data format <strong>Stock</strong>.</p>
</li>
<li>
<p>Enter the current stock into the column <strong>Stock</strong>.</p>
</li>
<li>
<p>Save the file.</p>
</li>
<li>
<p>Upload the file in plentymarkets.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Transferring the entire stock into a new warehouse</p>
</div>
<div class="paragraph">
<p>In the described procedure, for a short period of time there is more stock booked in the system than there actually exists. You should especially pay attention to this when having a small stock in which the existing stock is already completely reserved and therefore there may currently be no listing active etc. Due to the additional stock, automated actions such as sending emails or starting listings could be triggered. Basically, the stock in the old warehouse can also be set to zero first, but in that case, listings or other offers that are connected with the stock automatism, may be closed.</p>
</div>
<div class="paragraph instruction">
<p>Transferring stock into a new warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Export the data format Stock.</p>
</li>
<li>
<p>Save the file twice.</p>
</li>
<li>
<p>Open one file.</p>
</li>
<li>
<p>Enter the ID of the new warehouse into the column <strong>WarehouseID</strong>.</p>
</li>
<li>
<p>Enter the ID of the new storage location into the column <strong>LocationID</strong></p>
</li>
<li>
<p>Save the file.</p>
</li>
<li>
<p>Upload the file in plentymarkets.</p>
</li>
<li>
<p>Carry out exemplary tests on two or three items in the stock movements and check, whether stock was booked for the new warehouse</p>
</li>
<li>
<p>Open the second, still un unprocessed file.</p>
</li>
<li>
<p>In the <strong>Stock</strong> column, enter 0 for all stocks.</p>
</li>
<li>
<p>Upload the file in plentymarkets.</p>
</li>
<li>
<p>Carry out exemplary tests on two or three items in the stock movements and check, whether the stock for the old warehouse was set to zero.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Deleting stock</p>
</div>
<div class="paragraph">
<p>When deleting stock you should ensure legally compliant working. Currently, it is possible to delete stock. As this leads to the loss of stock movements, this is not GoBD compliant (German regulation), which is why we advise against doing so. Instead, we recommend using the following procedure.</p>
</div>
<div class="paragraph instruction">
<p>Deleting stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Export the stock via dynamic export.</p>
</li>
<li>
<p>Adapt the CSV file by setting the stocks to zero.</p>
</li>
<li>
<p>Reimport them afterwards.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>By doing so, the stock movements aren’t lost and legally compliant working is guaranteed. Deleting a warehouse also leads to the deletion of stock movements, which can’t be recreated. Thus, this isn’t GoDB compliant either.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_where_can_i_find_my_warehouse_ids_and_storage_location_ids">Where can I find my warehouse IDs and storage location IDs?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You will find the IDs in the menu <strong>Settings » Stock » Warehouse</strong> in the submenus <strong>Settings</strong> and <strong>Racks</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
<div class="title">ID of the standard storage location</div>
<div class="paragraph">
<p>The ID of the standard storage location is 0. However, the standard storage location is only a kind of placeholder. It is sensible to create own storage locations in order to indicate the actual storage location.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_exporting_and_importing_data">Exporting and importing data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>How the general procedure of importing and exporting data works is explained in the manual under <a href="/en/basics/data-exchange/export-import/exporting-data">exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">importing data</a>.
The other available data formats are listed <a href="/en/basics/data-exchange/export-import/data-formats">here</a>.</p>
</div>
</div>
</div>
</main>