<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing reorders</h1><p>Welcome to the topic Managing reorders. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/en/stock-management/managing-reorders/working-with-reorders">Working with reorders</a></li><li><a href="/en/stock-management/managing-reorders/managing-backlog-lists">Managing backlog lists</a></li><li><a href="/en/stock-management/managing-reorders/best-practice-exporting-reorders">Best Practices: Exporting reorder data</a></li></ul>
</main>