<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Preparing the quantity suggestion for reorders, the sorting and more</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up the statuses for reorders</span></a></li>
<li><a href="#300"><span>3.</span><span> Setting up the reorder document</span></a></li>
<li><a href="#400"><span>4.</span><span> Preparing to send a reorder</span></a></li>
<li><a href="#500"><span>5.</span><span> Defining the reorder level of a variation</span></a></li>
<li><a href="#600"><span>6.</span><span> Defining the minimum order quantity of a variation</span></a></li>
<li><a href="#700"><span>7.</span><span> Identifying variations for the reorder</span></a></li>
<li><a href="#800"><span>8.</span><span> Creating a reorder</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>8.1.</span><span> Creating a reorder for variations that have reached or dropped below the reorder level</span></a></li>
<li><a href="#1000"><span>8.2.</span><span> Creating a reorder for order items</span></a></li>
<li><a href="#1100"><span>8.3.</span><span> Reorder an individual variation</span></a></li>
<li><a href="#1200"><span>8.4.</span><span> Creating a reorder for a supplier and a warehouse</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>9.</span><span> Automatically submitting a reorder</span></a></li>
<li><a href="#1400"><span>10.</span><span> Confirming a reorder</span></a></li>
<li><a href="#1500"><span>11.</span><span> Booking stock in</span></a>
<ul class="sectlevel2">
<li><a href="#1600"><span>11.1.</span><span> Booking stock completely and directly</span></a></li>
<li><a href="#1700"><span>11.2.</span><span> Booking partial deliveries</span></a></li>
</ul>
</li>
<li><a href="#1800"><span>12.</span><span> Canceling items</span></a></li>
<li><a href="#1900"><span>13.</span><span> Booking an incorrectly delivered item</span></a></li>
<li><a href="#2000"><span>14.</span><span> Searching reorders</span></a></li>
<li><a href="#2100"><span>15.</span><span> Deleting reorders</span></a></li>
<li><a href="#2200"><span>16.</span><span> Setting up work steps for reorders</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing reorders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The main tasks of within the reorder management are identifiying the variations that need to be reorder, ordering the variations from suppliers and keeping the overview of how far the reorder delivery has proceeded. We recommended that you do not begin working with this menu until you have first created warehouses for managing stock and until you have linked the variations to the corresponding suppliers. Once you have received your order you need to book the delivered variations into your system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Preparing the quantity suggestion for reorders, the sorting and more</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you create your first reorder you need to define settings like your period of time that will be used to calculate the suggested reorder quantity.</p>
</div>
<div class="paragraph instruction">
<p>Preparing a reorder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Reorder management » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Preparatory settings for reorders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a period. The sales period defines which period of time will be used to calculate the average consumption. The average consumption is relevant for suggesting a reorder quantity.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default value for reorder level/order amount</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This setting defines how to calculate the quantities suggested for reorders.<br>
You can select between the following options:<br>
<strong>Reorder level - net stock - ordered quantity</strong> or<br>
<strong>(Reorder level - net stock - ordered quantity) + (Average consumption * (Replacement time + stock turnover (in days)))</strong><br></p>
</div>
<div class="paragraph">
<p>+
Parameters used for suggesting a reorder quantity:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Reorder level</strong> = the quantity at which a reorder should be placed. The reorder level needs to be saved in <strong>warehouse</strong> tab of a variation.</p>
</li>
<li>
<p><strong>Net stock</strong> = the quantity of stock that can be sold.</p>
</li>
<li>
<p><strong>Ordered amount</strong> = the quantity that you already ordered from your supplier, but that is still to be delivered.</p>
</li>
<li>
<p><strong>Average consumption</strong> = the average quantity consumed or sold per day The sales period that you select defines the period of time that will be used to calculate the average consumption per day.</p>
</li>
<li>
<p><strong>Replacement time</strong> = the time needed by a supplier to deliver the ordered variations. The number of days required by the supplier to deliver a variation needs to be entered in the <strong>Supplier</strong> tab of a variation.</p>
</li>
<li>
<p><strong>Stock turnover (in days)</strong> = the stock turnover (in days) saved. The stock turnover (in days) represents the number of days that you want your stock to last. The stock turnover (in days) is saved for each variation per warehouse in the <strong>Warehouse</strong> tab of the variation.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item sorting in a reorder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a sorting criterion and whether to sort in ascending or descending order.<br>
<strong>ascending</strong> = starts with the lowest value<br>
<strong>descending</strong> = starts with the highest value</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default value for booking/partial amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select either <strong>0</strong> or the <strong>Total ordered amount</strong>. The selected option defines the value that will be suggested when you want to book a partial delivery.<br>
You will find mor information about booking a <strong>Partial delivery</strong> further down this page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item bundles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option specifies how an item bundle should be added to a reorder.<br>
If you select the option <strong>split</strong>, then the <strong>basic items included in an item bundle</strong> will be added to a reorder instead of the complete bundle. If you select the option <strong>do not split</strong>, then the complete <strong>item bundle</strong> will be added to a reorder.<br>
<strong>Important:</strong> Please note the following information for the option <strong>do not split</strong>. When you book the <strong>incoming items for an item bundle</strong>, you are actually booking the <strong>basic items included in the bundle</strong>. This is because it is not technically possible to book an item bundle.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>One more factor that influences the suggested reorder quantity is the minimum order quantity. The suggested reorder quantity will at least be as high as the minimum order quantity if you saved a minimum order quantity for the supplier. Where to enter the minimum order quantity is explained in the chapter <strong>Defining the minimum order quantity of a variation</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up the statuses for reorders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nine statuses are available for reorders. The status can have status names in German and English. For each status default names are saved in the system language. You can edit these names and customize them.</p>
</div>
<div class="paragraph instruction">
<p>Setting up reorder statuses:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Reorder management » Order status</strong>.</p>
</li>
<li>
<p>Click on the <strong>New language</strong> tab.</p>
</li>
<li>
<p>Select German or English from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The language will be added in the <strong>language</strong> tab and this tab will automatically be opened.</p>
</li>
<li>
<p>Open the language.</p>
</li>
<li>
<p>Enter customized names for the statuses.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Default status names and the editing options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Default names</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>0 - Open</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The reorder has not yet been sent and therefore you can still add variations, remove variations or change the quantity that you wisht to reorder of a variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1 - Ordered</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The reorder has been placed and therefore variations can no longer be changed. This status is set automatically when the order is placed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2 - Confirmed</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The supplier confirmed the reorder. The reorder needs to be confirmed if you wish to book in stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3 - Partially delivered</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only part of the reordered variations have been delivered. This status will be automatically set, if you book only part of the reordered variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>4 - Delivered</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All variations have been delivered as ordered. If the reorder comes in several separate deliveries and you are booking the reorder in several steps, the delivered status will be set automatically once the reorder is complete&nbsp;- see chapter <strong><a href="/en/stock-management/managing-reorders#1700">Booking a partial delivery</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>5 - Booked in</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This status will be set automatically if the entire reorder is delivered and booked in at once&nbsp;- refer also to the chapter <strong>Booking stock in</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>8 - Delivery not possible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Supplier can not deliver.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>9 - Delivery cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The delivery got cancelled either by your supplier or by you.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Restoring the default names</div>
<div class="paragraph">
<p>If you would like to restore the default name for an order status, then delete the entry under <strong>Customized name</strong> and click on the save icon.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Setting up the reorder document</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The reorder document can be send to your supplier as PDF if you are sending an reorder. You can define how and where information are displayed on the document or you are using the default settings to start with.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">A template with default settings for the reorder document is available</div>
<div class="paragraph">
<p>However, it does make sense to customise the document.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Customising a template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Documents » Reorder</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the template.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can set up the template in different languages if you are ordering from suppliers in other countries.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Preparing to send a reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can set up an event procedure that will send the reorder document to your supplier when you click on the reorder button. First you need to set up an email template that contains the reorder document attached as PDF. Next set up the event procedure. The event procedure will be triggered automatically when the reorder is placed and ensures that your supplier receives the document.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Click on <strong>New email template</strong>.</p>
</li>
<li>
<p>Enter a name.<br>
→
In our example, the name is Reorder to supplier.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Select the option <strong>Reorder (PDF)</strong> from the drop-down list <strong>PDF attachment</strong>.</p>
</li>
<li>
<p>Click on the <strong>Email message</strong> tab.</p>
</li>
<li>
<p>Enter a subject.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next set up the event procedure for automatic emailing.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Automating the emailing of the reorder document:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Reorder management » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>. <br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 3 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Event procedure for automated emailing of reorder documents</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Print reorder form</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All, one or several suppliers</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All, one or several warehouses</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send email &gt; Customized template e.g. "Reorder to supplier"</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Defining the reorder level of a variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The reorder level is the quantity of a variation at which you want to trigger a reorder for the variation. The <strong>Reorder level</strong> needs to be saved in <strong>Warehouse</strong> tab of a variation. The level is set to 0 as the default setting. This means that a message will first be triggered once the entire stock has been sold. When you leave the reorder level at 0 that means that every filter for reorder level and net stock 0 will give you the same result. To actually make use of the reorder level you need to enter a quantity of 1 or more.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">To enter a reorder level you need to have a warehouse</div>
<div class="paragraph">
<p>You can only enter a reorder level if you have assigned a warehouse to the variation. If you have not yet assigned a warehouse do so now.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Defining a reorder level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Edit variation » Tab: Warehouse</strong>.</p>
</li>
<li>
<p>Enter a quantity for the <strong>reorder level</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the setting.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying variation that are below the reorder level directly on the homepage of your system.</div>
<div class="paragraph">
<p>On the homepage of your system you can add an element that shows you variations that are below the reorder level. Add the <strong>Items below reorder level</strong> element. A click on the number will open the <strong>Stock</strong> menu with filter settings for variations that are below the reorder level.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You will not get suggestions for the reorder quantity if you do not enter a reorder level.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Defining the minimum order quantity of a variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The minimum order quantity is the quantity that you need to order as a minimum from your supplier. If you order a quantity below this minimum your supplier might not deliver or will apply an extra charge for small-volume purchases. The suggested reorder quantity will be at least as hight as the minimum entered here. However, you will only get a suggestion if the reorder level has been reached.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">You need a supplier to enter a minimum order quantity</div>
<div class="paragraph">
<p>You can only enter a minimum order quantity if you have assigned a supplier to the variation. If you have not yet assigned a supplier do so now.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Defining the minimum order quantity of a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Edit variation » Tab: Supplier</strong>.</p>
</li>
<li>
<p>Enter a minimum order quantity.</p>
</li>
<li>
<p><strong>Save</strong> the setting.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The reorder suggestion remains 0 if you do not enter a reorder level.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Identifying variations for the reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The easiest way to identify variations that need to be reordered is to define reorder levels and to save them in your plentymarkets system. The reorder level is the quantity of stock at which reordering is useful and necessary. You should reorder as soon as a variation reached or dropped below the reorder level.<br>
You define an individual level for each variation.</p>
</div>
<div class="paragraph">
<p>If you are not working with reorder levels, you can search by the net stock as an alternative. Enter a certain quantity and search all variations that reached or dropped below this net stock.</p>
</div>
<div class="paragraph instruction">
<p>Identifying variations for the reorder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Stocks</strong>.</p>
</li>
<li>
<p>Select the option <strong>Reorder level reached/below</strong> for the <strong>limitation</strong> filter.</p>
</li>
<li>
<p>Select the <strong>Item bundle</strong> filter to <strong>None</strong>.</p>
</li>
<li>
<p>Set the <strong>Inactive</strong> filter to <strong>No</strong>.</p>
</li>
<li>
<p>Select a warehouse.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you want to carry out an alternative search based on the <strong>net stock</strong> use the filter option <strong>&lt;=</strong> and enter a quantity.
Set the <strong>Limitation</strong> filter to <strong>ALL</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Creating a reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have 4 ways to create a reorder.<br>
The first is to check the stock and reorder the variations that have reached or dropped below the reorder level.
You can reorder the variations contained in an order.
This second way is especially useful if you are selling production items, because you can almost directly forward the reorder to your supplier.<br>
The third way is to individually reorder one variation only and to set uo this reorder in the variation’s data record. The fourth is to trigger a reorder without paying any attention to the quantity in stock or your current orders.</p>
</div>
<div class="paragraph">
<p>No matter which way you are using the following applies to all:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can only reorder variations that have a supplier and a warehouse.</p>
</li>
<li>
<p>Variations will only be put into one reorder if they have the same supplier and are stored in the same warehouse.</p>
</li>
<li>
<p>That you created a reorder does not mean that you have actually reordered anything. This allows you to create reorders and check them again before you actually send it to your supplier.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The data record of a reorder is split into two tabs - the <strong>Base</strong> tab and the <strong>Ticket</strong> tab. The <strong>Base</strong> tab of a reorder contains two sub-menus - the <strong>basic settings</strong> and <strong>item data</strong> menu. In the basic settings menu you receive information about the status, delivery deadline, supplier etc. at a glance. In the item data menu you can see the variations that you ordered, that were delivered or have been cancelled. The <strong>Ticket</strong> tab allows you to connect your ticket system with your reorder management. In particular this means that you can define work steps for your reorders.</p>
</div>
<div class="sect2">
<h3 id="900">8.1. Creating a reorder for variations that have reached or dropped below the reorder level</h3>
<div class="paragraph">
<p>This way you will only reorder variations that have reached a quantity that was individually defined for a variation. In the previous chapter the steps necessary to identify the variations were described. The following description continues at that point.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Create reorder is not visible</div>
<div class="paragraph">
<p>If you can not see the <strong>Create order</strong> button, than check that <strong>Yes</strong> is set for the <strong>order</strong> filter on the left. The filter has to be set to <strong>Yes</strong>. Otherwise reorders can not be carried out.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a reorder for variations that have reached or dropped below the reorder level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Stocks</strong>.</p>
</li>
<li>
<p>Carry out a search for variations that have reached or dropped below the reorder level. <br>
→ For the particular settings see chapter <strong>Identifiying variations for the reorder</strong>.</p>
</li>
<li>
<p>Click on <strong>Accept suggestion</strong> to use the suggested reorder quantity.<br>
→ You can also enter any other quantity.</p>
</li>
<li>
<p>Click on <strong>Create reorder</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Click on reorder before swithing pages</div>
<div class="paragraph">
<p>The quantities entered will be reset, when you switch a page. This is why you need to click on reorder before you switch the page. As long as the reorder is still open further variations will simply be added to the reorder.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If your search result with variations that need to reordered spreads among several pages, you need to retrigger the search and the you can continue adding variations to your reorder. As long as a variation for the same supplier and warehouse is still open the variations will be added to this reorder.</p>
</div>
</div>
<div class="sect2">
<h3 id="1000">8.2. Creating a reorder for order items</h3>
<div class="paragraph">
<p>You can reorder the variations contained in an order. If you open an order, you will have two options on how to proceed next. You can either reorder all order items or you can reorder only selected order items.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">The differences in the system’s behaviour between reordering all order items and reordering selected order items only</div>
<div class="paragraph">
<p><strong>Reordering all items</strong></p>
</div>
<div class="paragraph">
<p>A reorder will be generated for the order. It includes all of the order items. If you want to add further variations to the reorder, you need to open the reorder and add the variations directly in the reorder.</p>
</div>
<div class="paragraph">
<p><strong>Selecting individual order items for a reorder</strong></p>
</div>
<div class="paragraph">
<p>If you select order items a reorder will be generated for the order. However, in this case you can open other orders and add variations to the reorder or you can carry out a stock search and add variations or directly in the reorder.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Reordering all order items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order that you want to reorder items for.</p>
</li>
<li>
<p>Open the order’s <strong>Reorder</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Reorder all items</strong>.<br>
→ The reorder will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can also select order items and click on <strong>Reorder selected items</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">8.3. Reorder an individual variation</h3>
<div class="paragraph">
<p>The following steps make sense if you want to reorder one variation only.</p>
</div>
<div class="paragraph instruction">
<p>Reorder an individual variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item that the variation belongs to.</p>
</li>
<li>
<p>Open the variation that you wish to reorder.</p>
</li>
<li>
<p>Click on the <strong>Stock</strong> tab of the variation.</p>
</li>
<li>
<p>Open the <strong>Stock</strong> sub-tab.</p>
</li>
<li>
<p>Click on <strong>Accept suggestion</strong> or enter a <strong>Quantity</strong>.</p>
</li>
<li>
<p>Click on <strong>Create reorder</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">8.4. Creating a reorder for a supplier and a warehouse</h3>
<div class="paragraph">
<p>You also have the possiblity to create a reorder for a supplier per warehouse. The restriction that a reorder can only be for one supplier is based on the fact that you can only send it to one supplier and the restriction that the reorder is for one warehouse is made to have a clear delivery address. Select a supplier and a warehouse first and next add the variations. Once you have selected a supplier and a warehouse, you will only see variations that have this supplier and warehouse. The supplier and warehouse need to be assigned in the variation’s data record.</p>
</div>
<div class="paragraph instruction">
<p>Creating a reorder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>.</p>
</li>
<li>
<p>Click on <strong>New reorder</strong>.<br>
→ The <strong>New reorder</strong> tab will open.</p>
</li>
<li>
<p>Select a <strong>Supplier</strong>.</p>
</li>
<li>
<p>Select a <strong>Warehouse</strong>.</p>
</li>
<li>
<p>Select a <strong>Currency</strong>.<br>
→ The exchange rate from the <strong>System » Orders » Payment » Currencies</strong> menu will be applied automatically.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>Base</strong> tab of the reorder will open.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Keep the <strong>Base</strong> tab opened and add the variations that you wish to reorder.</p>
</div>
<div class="paragraph instruction">
<p>Adding variations to the reorder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>plus</strong> to open to the <strong>Item data</strong> area. <br>
→ The editing window will open.</p>
</li>
<li>
<p>Click on the <strong>Add item</strong> tab. <br>
→ The warehouse and the supplier are set as filters. You can select more filters.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to display the results.</p>
</li>
<li>
<p>Click on <strong>Add item</strong> (shopping cart) to add the variation to your reorder. <br>
→ Repeat this step with all variations that you wish to reorder.</p>
</li>
<li>
<p>Click on the <strong>item</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>Purchase price</strong> for each variation.</p>
</li>
<li>
<p>Enter the <strong>Quantity</strong> for each variation.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">9. Automatically submitting a reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Now that you have created a reorder, you still need to submit your reorder. However, if you have set up the document and the event procedure as described above, you have already prepared this step. You will now ensure that the event procedure automatically sends the reorder document to your supplier.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">How does the system select the language for the reorder document?</div>
<div class="paragraph">
<p>The language is based on the language saved for your supplier. The language is saved the <strong>Customer data</strong> tab of of a supplier’s data record. If you have not set up a template for the language of the suppler, the system will use your default system language as a fallback.</p>
</div>
<div class="paragraph">
<p>For further information, refer to the <strong><a href="/en/order-processing/orders/order-documents">Documents</a></strong> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Check the <strong>Basic data</strong> of your reorder and carry out any changes that are required before sending the reorder. When everything looks correct, submit your reorder.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Basic data of a reorder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery deadline</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on the <strong>gear-wheel</strong> in order to determine the <strong>delivery deadline</strong>.<br>
First, it will be checked whether a delivery deadline is saved for the variation. If the reorder includes several variations, then the latest delivery date will be set. If no delivery deadline has been saved for the variations, then the system will use the delivery time that was saved for the supplier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount in percent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The discount in percent that was saved for the supplier is displayed here.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Submitting a reorder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>.</p>
</li>
<li>
<p>Select the reorder that you wish to submit.</p>
</li>
<li>
<p>In the <strong>Order</strong> line, click on <strong>Send reorder</strong>.<br>
→ The status will change to <strong>Ordered</strong> and the event procedure will be triggered.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can take a look at the reorder document, if you click on the preview in the <strong>Order</strong> line.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">10. Confirming a reorder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have submitted your reorder and your supllier has confirmed the reorder, you can take the next editing steps. The first is to set the reorder status to confirmed and if the delivery is received to book the received quantity into your system.</p>
</div>
<div class="paragraph">
<p>The reorder must be confirmed to book stock. The function to book stock is only enabled if the status <strong>Confirmed</strong> is set.<br>
You can use the <a href="/en/stock-management/new-incoming-items"><strong>incoming items</strong></a> menu instead of booking stock in via a reorder. Then you only need to manually set the reorder status to <strong>Stock booked</strong>. No stock will be added to the stock data of a variation if you set the status manually.</p>
</div>
<div class="paragraph instruction">
<p>Confirming a reorder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>.</p>
</li>
<li>
<p>Open a reorder that has been submitted.</p>
</li>
<li>
<p>Set the status to <strong>confirmed</strong>.<br>
→ In the <strong>Basic data</strong> section the option <strong>Delivery</strong> becomes visible.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Enter the supplier’s reference for a reorder</div>
<div class="paragraph">
<p>You will generally receive an order number or a similar supplier reference along with the order confirmation. You can use this to make a note in the reorder and to carry out the assignment when the items arrive later.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Click on the preview <strong>eye</strong> to download the PDF document for the reorder any time. When making changes to the reorder’s template or PDF template, click on the reload icon to update the PDF document. <br>
If you have already made a reorder and you would now like to make changes to it, then you have the possibility of repeating the operation. You can also do so if the reorder recipient did not receive the order via email. Click on the <strong>reload icon</strong> to do so.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">11. Booking stock in</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have two possibilities to book stock in via reorders. You can either book the stock completely and directly or you can proceed in two seperate steps, where you first mark variations as delivered and then in the next step as booked. The direct booking makes sense if you are 100 % sure that all variations have been delivered in the exact quantity you ordered. The second possibility is useful if you only received a partial delivery or if you want to check the quantity of each variation.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Orders are automatically set to status 5 if you book in stock in a reorder that was generated in an order.</div>
<div class="paragraph">
<p>If you open a reorder that was created in an order and you book in stock in the reorder, then the status of this order will automatically change to status 5.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1600">11.1. Booking stock completely and directly</h3>
<div class="paragraph">
<p>Use this possibility only if you received the reorder completely. Once the variations are booked in, the status of the reorder will automatically swith to <strong>5 stock booked</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Booking stock completely and directly:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>.</p>
</li>
<li>
<p>Open a confirmed reorder.</p>
</li>
<li>
<p>Enter the number of the delivery in the <strong>Basic data</strong> section into the <strong>Delivery</strong> field.</p>
</li>
<li>
<p>Click on the <strong>Book</strong> button rifht behind the delivery number. <br>
→ All variations included in the reorder are booked in and the status of the reorder switches automatically to <strong>5 stock booked</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">11.2. Booking partial deliveries</h3>
<div class="paragraph">
<p>Next, you will learn how to book in a partial delivery. However, this workflow is not only useful for booking partial deliveries but also if you are actually checking the delivered quantity of each variation. When you check the quantity this workflow allows you to enter the delivered quantity individually per variation.</p>
</div>
<div class="paragraph instruction">
<p>Entering and booking partial amount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>.</p>
</li>
<li>
<p>Open a confirmed reorder.</p>
</li>
<li>
<p>Open the <strong>Base</strong> tab and here the <strong>item data</strong> section. <br>
→ The <strong>item</strong> tab will open.</p>
</li>
<li>
<p>Enter the quantity delivered for a variation into the <strong>partial amount</strong> field. <br>
→ You can also enter the entire quantity here.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The reorder will be updated. The variations and the quantities delivered are now listed in the <strong>Delivered items</strong> tab. Once variations have been delivered the status of the reorder will switch. The new status depends on the quantity delivered. The status will either switch to <strong>Partly delivered</strong> or <strong>Delivered</strong>.</p>
</li>
<li>
<p>Open the <strong>Item data</strong>.</p>
</li>
<li>
<p>Click on the <strong>Delivered item</strong> tab.</p>
</li>
<li>
<p>Select the items that you wish to book in.</p>
</li>
<li>
<p>Select a storage location for the variations.</p>
</li>
<li>
<p>Enter the number of the delivery note into the <strong>delivery note</strong> field.</p>
</li>
<li>
<p>Click on <strong>Book incoming items</strong>.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-managing-reorders-01.png" alt="EN managing reorders 01">
</div>
<div class="title">Figure 1. partial amount; entering the storage location and delivery note</div>
</div>
<div class="paragraph">
<p>Once you have received and booked all of the partial deliveries for a reorder, the status will change from <strong>Partially delivered</strong> or <strong>Delivered</strong> to status <strong>Booked</strong>. The booking event will be registered and receives an ID and by clicking on the ID you open the incoming items data record. If you book a quantity for a variation that is higher than the quantity that you reordered, the variation will be marked as overdelivered.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">12. Canceling items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As long as the reorder is in status <strong>Confirmed</strong> you can still cancel stock. As soon as you have entered that stock is delivered, you can no longer cancel stock.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-managing-reorders-02.png" alt="EN managing reorders 02">
</div>
<div class="title">Figure 2. canceling variations</div>
</div>
<div class="paragraph instruction">
<p>Canceling stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>.</p>
</li>
<li>
<p>Open a confirmed reorder.</p>
</li>
<li>
<p>Open the <strong>Base</strong> tab and here the <strong>item data</strong> section. <br>
→ The <strong>item</strong> tab will open.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> for the variation that you wish to cancel (see image 2, red arrow).<br>
→ The variation will be deleted form the list and you will receive a notification that the variation was canceled (see image 2, orange arrow).</p>
</li>
<li>
<p>Click on the <strong>Canceled items</strong> tab in order to display the cancellations and check that the correct cancelations are shown (image 3, arrow).</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-managing-reorders-03.png" alt="EN managing reorders 03">
</div>
<div class="title">Figure 3. reorder with canceled variations</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">13. Booking an incorrectly delivered item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Variations that you did not order but that have been delivered by mistake can be booked in the <strong>Wrong delivery</strong> tab. However, you can only book a variation as wrong delivery if the variation exists in your system. If the variation is not part of your portfolio but you still wish to book the wrong delivery, you first need to set up a data record for the variation. Wrong delivery is only a flag in the reorder. This flag will not be saved in any other menus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-managing-reorders-04.png" alt="EN managing reorders 04">
</div>
<div class="title">Figure 4. booking variation that have been delivered by mistake</div>
</div>
<div class="paragraph instruction">
<p>Booking variations delivered by mistake:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>.</p>
</li>
<li>
<p>Open a reorder.</p>
</li>
<li>
<p>Open the <strong>Base</strong> tab and here the <strong>Item data</strong> section. <br>
→ The <strong>item</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Wrong delivery</strong> tab.</p>
</li>
<li>
<p>Search for the variations that have been delivered by mistake.</p>
</li>
<li>
<p>Click on the <strong>shopping cart</strong> of the variation that has been delivered by mistake (see image 4, arrow).<br>
→ Next you need to opent the <strong>item</strong> tab and enter the quantity that was delivered by mistake. You can now proceed as you do with any other variation.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">14. Searching reorders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Whenever you open the menu an automatic search for pending reorders will be carried out. You can change the result by changing the filter settings. You can either choose to use more filters or to reset the filters and to get all reorders. The reorders are sorted by their reorder ID in descending order. This way they are indirectly also chronologically sorted because the IDs are assigned whenever a reorder is created.</p>
</div>
<div class="paragraph instruction">
<p>Searching reorders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Reorder management » Reorders</strong>. <br>
→ An initial search for all pending reorders will be carried out.</p>
</li>
<li>
<p>Select a <strong>filter</strong> for your search.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Reorder filter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Triggers a search that will list the reorders that match the filter criteria.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reseting previously set filters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reorder ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a reorder ID to search that reorder</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an item ID to search reorders that contain a variation from the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a variation ID to search reorders that contain the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a variation number to search reorders that contain the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier reference</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a reference from the supplier to search reorders that have that reference The supplier reference is found in the particular reorder’s <strong>Base</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier item number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an item number from your supplier to search reorders that contain the items with the number. The supplier item number is saved in a variation under <strong>Tab: Stock » Tab: Supplier</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a supplier to search reorders for this supplier</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a search term or a numeric value to search reorders that contain items with the term or number. The following data fields are browsed through: <strong>Item ID</strong>, <strong>Item number</strong> und <strong>Name</strong>. The descriptive texts such as the item text and the preview text will not be browsed.<br>
<em><strong>Important</strong></em>: When searching with item data, it is usually sufficient to only enter the word stem into the field. Search terms can be shortened as desired at the end of words, but they can not be shortened at the beginning. If you are searching for items with the name <strong>packages</strong>, you could also enter <strong>package</strong> or <strong>pack</strong>. However, searching for <strong>ages</strong> would not yield any results.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse to search reorders for this warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Searches for reorders by the owner saved. The owner is found in the particular reorder’s <strong>Base</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Searches for reorders by their current order status.<br>
The status names can be changed in the <strong>System » Stock » Reorder management » Order status</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a flag to search reorders that have the flag.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which date you want the search to be based on. The options are <strong>Delivery deadline</strong> (default), <strong>Calendar week as delivery deadline</strong> and <strong>Payment due</strong>. If you select <strong>Delivery deadline</strong> or <strong>Payment deadline</strong>, you need to select dates from the <strong>from</strong> and <strong>to</strong> date fields. If you select <strong>Calendar week as delivery deadline</strong>, then you need to enter the weeks in the <strong>from calendar week</strong> and in the <strong>to calendar week</strong> search fields.<br>
<em><strong>Example</strong></em>: If you select <strong>Delivery deadline</strong> as the date and you define a time period from June 15th, 2017 to June 17th, 2017, then the results would only list reorders that have a delivery deadline within this time period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>from</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the starting date from the calendar. The calendar date will start the period of time for the selected date sepcification.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the ending date from the calendar. The calendar date will end the period of time for the selected date sepcification.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>from calendar week</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a calendar week for the beginning of the desired time period. This option can only be used if you selected <strong>Calendar week as delivery deadline</strong> as the <strong>date</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>to calendar week</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a calendar week for the end of the desired time period. This option can only be used if you selected <strong>Calendar week as delivery deadline</strong> as the <strong>date</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a sorting criterion and a sorting order</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>A shopping cart symbol is displayed next to the reorder status for reorders that were specifically made for an order. This allows you to easily identify them.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2100">15. Deleting reorders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to delete orders.</p>
</div>
<div class="paragraph instruction">
<p>Deleting reorders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Reorder management » Delete orders</strong>.</p>
</li>
<li>
<p>Select a date from the <strong>Start time</strong> date picker. All orders will be deleted starting from this date.</p>
</li>
<li>
<p>Select a date from the <strong>End time</strong> date picker. All orders will be deleted until this date.</p>
</li>
<li>
<p>Select a <strong>Status</strong> if you only want to delete reorders that have this status.</p>
</li>
<li>
<p>Click on <strong>Execute</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2200">16. Setting up work steps for reorders</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Templates</strong> allow you to carry out specific steps whenever variations are reordered. You can create up to 30 <strong>work steps</strong> for each template. The work steps are attached to a reorder as <strong>tickets</strong>. The tickets allow you to track the work steps as they are completed and include other users in the process. How to set up a template and how to link the template with a reorder are explained unter <a href="/en/stock-management/managing-reorders/splitting-reorders-into-work-steps#8"><strong>Dividing reorders into work steps</strong></a>.</p>
</div>
</div>
</div>
</main>