<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Assigning suppliers to a variation</span></a></li>
<li><a href="#200"><span>2.</span><span> Linking a variation to a storage location</span></a></li>
<li><a href="#300"><span>3.</span><span> Preparing the data transfer</span></a></li>
<li><a href="#400"><span>4.</span><span> Assigning the RRP to a price</span></a></li>
<li><a href="#500"><span>5.</span><span> Recording incoming items</span></a>
<ul class="sectlevel2">
<li><a href="#_recording_general_incoming_items_information"><span>5.1.</span><span> Recording general incoming items information</span></a></li>
<li><a href="#600"><span>5.2.</span><span> Adding items to the incoming items data record</span></a>
<ul class="sectlevel3">
<li><a href="#700"><span>5.2.1.</span><span> Adding an individual variation</span></a></li>
<li><a href="#800"><span>5.2.2.</span><span> Adding several variations at once</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#900"><span>6.</span><span> Adding procurement costs</span></a></li>
<li><a href="#1000"><span>7.</span><span> Changing and understanding the status</span></a></li>
<li><a href="#1100"><span>8.</span><span> Adding stock to a variation</span></a></li>
<li><a href="#1200"><span>9.</span><span> Adding a note</span></a></li>
<li><a href="#1300"><span>10.</span><span> Changing and correcting an incoming items data record</span></a></li>
<li><a href="#1400"><span>11.</span><span> Exporting an incoming items data record</span></a></li>
<li><a href="#1500"><span>12.</span><span> Creating a PDF receipt</span></a></li>
<li><a href="#1600"><span>13.</span><span> Searching for an incoming items data record</span></a>
<ul class="sectlevel2">
<li><a href="#1700"><span>13.1.</span><span> Searching in the new incoming items menu</span></a></li>
<li><a href="#1800"><span>13.2.</span><span> Searching for incoming items in the Stock » incoming items menu</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing incoming items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>There are several ways to book stock into your system. However, to book variations in you need to have set up a complete warehouse and you need to have a warehouse, a storage location and a supplier assigned to a variation. On this page you will learn how to assign a storage location and a supplier to a variation. Furthermor you will read how to book stock in the <strong>Stock » New incoming items</strong> men. Your system will only be able to <strong><a href="/item/managing-items#230">adjust the display of variations in your store automatically </a></strong> as well as to start listings automatically if you book variations in and out and manage your stock correctly in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Assigning suppliers to a variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A supplier must be assigned to a variation before you can book incoming items and the supplier is also required to create reorders. Suppliers are customers that were assigned to the customer type supplier. So you need to create a supplier before you can assign a supplier to a variation. The steps for creating a supplier are the same as for creating other types of <strong><a href="/crm/managing-customer-data#800">customers </a></strong>. You just have to make sure that you select supplier as customer type.</p>
</div>
<div class="paragraph instruction">
<p>Assigning suppliers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Open the variation.</p>
</li>
<li>
<p>Click on the <strong>Supplier</strong> tab.</p>
</li>
<li>
<p>Select a supplier from the drop-down menu.</p>
</li>
<li>
<p>Click on <strong>Add</strong>. <br>
→ The supplier will be assigned to the variation and you can carry out further settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Supplier information of a variation</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Supplier item No.</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the item number that your supplier gave the variation. You can use this number to search for incoming items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Purchase price</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the purchase price of the variation. Depending on your incoming items settings the purchase price will be overwritten. You can define whether or not the purchase price that was entered during an incoming items operation will overwrite the purchase price saved for the supplier. The setting for overwritting the purchase price are defined in the <strong>Settings » Stock » stock » incoming items</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Minimum purchase</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the minimum quantity that you need to order from a supplier. The minimum purchase will be used for reorders. However, the minimum purchase will only be used and displayed if the variation has actually reached the reorder level and really needs to be reordered. In other words the minimum purchase will not be displayed if variations have sufficient stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delivery time in days</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the number of days that your supplier usually needs to deliver reordered variations. The delivery time can influence the quantity suggested for an reorder and the day that an reorder will be delivered. You can define whether or not the delivery time will influence the suggested quantity. The settings are in the <strong>Settings » Stock » Reorder management » Basic settings</strong> menu. The delivery time is here considered replacement time.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Last price query</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the date from the calendar when you lasted requested the current price from your supplier.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Discount</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the discount in percent if the supplier offers a discount on the variation. However, the discount will only be used in reorders if the check mark for discountable is placed as well.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Discountable</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Place a check mark to activate the discount entered. The discount entered will not be used in reorders if this check mark is not saved.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Packaging unit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the units contained. This is especially important if the units contained in the variation that the supplier offers differs from the regular number of units contained and that you saved in your variation data record. The units contained saved in the variation data record can be found in the <strong>Settings</strong> tab of a variation.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Linking a variation to a storage location</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A variation needs a warehouse and a storage location before you can book stock in. Without a warehouse and a storage location the system does not know where to book the stock and therefore does not book stock. The standard storage location is only a placeholder location and is used if you have not assigned an individual storage location yet. The best is to select one of your storage locations to begin with.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Edit variation</strong>.</p>
</li>
<li>
<p>Click on the <strong>Warehouse</strong> tab.</p>
</li>
<li>
<p>Select a warehouse from the drop-down menu.</p>
</li>
<li>
<p>Click on <strong>Add</strong>. <br>
→ The warehouse will be assigned to the variation and you can carry out further settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Warehouse settings of a variation</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Storage location type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the type according to the size of the variation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zone</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a zone if you have set up zones for this warehouse</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reorder level</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the quantity at which a variation should be reordered. A suggestion for a reorder quantity will be made when this reorder level is reached. Until the level is reached 0 will be displayed as suggestion, because the reorder level defines when you wish to make a reorder.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock turnover (in days)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the number of days that the stock of a specific variation should suffice until the next reorder. This value is relevant for calculating the reorder quantity. A standard value that could be used for the stock turnover is 14 days. Once the item has reached the reorder level, the value entered will be used for calculating the quantity of items that need to be reordered. In other words, the quantity suggested for reorder would be sufficient for the following 14 days.
If no value is entered here, the stock turnover (in days) is not taken into account for the calculation of the reorder date.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximum stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the maximum stock for the warehouse. The maximum stock influences the suggested reorder quantity by limiting the reorder quantity. Or in other words the reorder quantity will not exceed the quantity entered here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock buffer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a desired value as the stock buffer. The stock for particular markets will then be reduced by this value. <br>
<em>Example</em>: You have 50 items in stock and you want a stock buffer of 10 items so that the item can not be sold out completely on this market. In this case, enter <strong>10</strong> as the stock buffer. Now, 40 items are in stock on this market. <br>
The values entered here are considered for markets such as <a href="/omni-channel/multi-channel/neckermann-at"><strong>Neckermann</strong>  </a>, <a href="/omni-channel/multi-channel/otto"><strong>Otto</strong>  </a> and <a href="/omni-channel/multi-channel/plus-gartenxxl"><strong>Plus.de</strong>  </a>. The buffer entered here takes priority over the buffer values entered for the particular market.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Suggested storage location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a storage location for the particular warehouse. This storage location will automatically be suggested when a reorder is made. Or select the setting Default storage location if you don’t want a storage location to be assigned.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Preparing the data transfer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When you add items as incoming item, you can enter the purchase price, the recommended retail price and the storage location. The RRP will be applied to the variation data record once the incoming item data record is approved. When you add the same variation several times but with different RRPs, then the highest RRP will be saved in the variation data, once the incoming item data record is approved. You can specify if and in what way the purchase prices of incoming items are saved with the item. In addition, you can select if and how a specified storage location for incoming items is saved in the variation data.</p>
</div>
<div class="paragraph instruction">
<p>Choosing a transfer option:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Settings » Stock » Stock » Incoming items</strong>.</p>
</li>
<li>
<p>Select a setting. Pay attention to the information given in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Defining how prices and the storage location are transferred</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Purchase price</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose whether or not the purchase price will be transferred and if you choose to transfer the purchase price, select where the price will be saved. The storage location while be saved once the incoming items data record was approved. <br>
<strong>Do not save the purchase price</strong> = The purchase price will not be saved. <br>
<strong>Save purchase price in variation data</strong> = The purchase price will automatically be saved in the <strong>Settings</strong> tab of a variation. <br>
<strong>Save purchase price in variation and supplier data</strong> = The purchase price will automatically be saved in the <strong>Settings</strong> tab of a variation as well as in the <strong>Stock</strong> tab of a supplier. <br>
<strong>Save the average purchase price in the variation data</strong> = The average purchase price will be recalculated every time new incoming items are received. The purchase prices of all variations currently available in the warehouse are used for this calculation. The average purchase price will automatically be saved in the <strong>Settings</strong> tab of a variation. <br>
<strong>Save the highest purchase price</strong> = If several different purchase prices are available, then the highest purchase price of the current incoming items data record will be saved with the variation data. <br>
<strong>Save the lowest purchase price</strong> = If several different purchase prices are available, then the lowest purchase price of the current incoming items data record will be saved with the variation data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Storage location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose whether or not the storage location will be transferred and if you choose to transfer the purchase price, select where the price will be saved. The storage location while be saved once the incoming items data record was approved. <br>
<strong>Do not save the storage location</strong> = The storage location will not be saved. <br>
<strong>Save storage location in variation data</strong> = The storage location is automatically saved as suggested storage location in the <strong>Warehouse</strong> tab of a variation. The storage location will be newly transferred with each new incoming items data record that the variation is included in. <br>
<strong>Save the storage location for items and variations if no storage location was saved yet</strong> = The function only takes effect if no storage location was saved yet.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Assigning the RRP to a price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to enter a RRP while booking stock in, you need to define which sales price will be used as RRP. Furthermore you can select the sales price that will be displayed when booking incoming items.</p>
</div>
<div class="paragraph instruction">
<p>Assigning the RRP to a price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Select one of your sales prices from the drop-down menu for the <strong>RRP</strong>.</p>
</li>
<li>
<p>Select one of your sales prices from the drop-down menu for the <strong>price</strong>.</p>
</li>
<li>
<p>Save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>However, it is not enough to assign a price in the <strong>Settings » Stock » Neuer incoming items</strong> menu in order to display a sales price in a variation. You also need to assign a sales price to a variation. Sales prices are created in the <strong>Settings » Item » Sales prices</strong> menu. How to create sales prices and how to assign them to variations is described in detail on the <strong><a href="/item/managing-items">Managing items  </a></strong> page of the manual. On this page you will also learn how to calculate prices for customer classes and so on.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Recording incoming items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The recording on incoming items is carried out in 2 steps. At first you need to enter general information such as the supplier and the currency. In the second step the variations and the delivered quantities are registered.</p>
</div>
<div class="sect2">
<h3 id="_recording_general_incoming_items_information">5.1. Recording general incoming items information</h3>
<div class="paragraph">
<p>You need to have at least one warehouse and supplier before you can register incoming items.
Create a <strong><a href="/crm/managing-customer-data#800">customer data record </a></strong> for each supplier and select the customer type Supplier.
Furthermore, at least one user must be activated as an <strong><a href="/basics/working-with-plentymarkets/manage-users#40">owner of incoming items </a></strong>. This ensures that the incoming items can be assigned to a specific person.
It is not possible to record incoming items without an owner.
The owners are sorted by ID.
If the user who is currently logged in was also activated as an owner, then this user will be selected by default.</p>
</div>
<div class="paragraph instruction">
<p>Recording general incoming items information:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Click on <strong>New incoming items</strong>. <br>
→ A new tab will open.</p>
</li>
<li>
<p>Enter a <strong>supplier</strong>. <br>
→ Click on the down arrow to see a list of all suppliers or enter a supplier’s name to see matching results. The results will be displayed once 3 or more letters were entered.</p>
</li>
<li>
<p>Select a warehouse. <br>
→ If a main warehouse is defined for the variation, then this <strong><a href="/item/managing-items#290">main warehouse </a></strong> will be pre-selected.</p>
</li>
<li>
<p>Select an owner. <br>
→ If you were activated as an <strong><a href="/basics/working-with-plentymarkets/manage-users#40">owner of incoming items </a></strong>, then you will be cted by default since you are currently logged in.</p>
</li>
<li>
<p>Carry out further optional settings as desired.</p>
</li>
<li>
<p>Save the settings, to create an incoming items data record. <br>
→ The incoming items data record will open in a new tab. It will have an ID and will be given the status <strong>Created</strong>. Click on the small plus on the far left side of the header to see additional information about the incoming items data record.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you pay for the incoming items in a currency other than your <strong><a href="/order-processing/payment/currencies#30">standard currency </a></strong>, then the <strong><a href="/order-processing/payment/currencies#20">exchange rate </a></strong> will be entered automatically.</p>
</div>
<div class="paragraph">
<p>It is possible to change any of the entries that are made. Finalize the incoming items data record by adding items and procurement costs.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">5.2. Adding items to the incoming items data record</h3>
<div class="paragraph">
<p>You can add variations individually or several at once. It is only possible to add variations that already exist as data records in your system. First create a new item and the corresponding variations, if a completely new <strong><a href="/item/managing-items">item  </a></strong> is delivered.
When you first open the list of items and variations all variations from all suppliers are listed. Use the search to display items of a particular supplier.<br>
If you entered a purchase price for a variation, then it will automatically be displayed here and can be used. Click on the item ID to open and edit the item data record. Proceed as described below to add the delivered items to the incoming items data record.</p>
</div>
<div class="sect3">
<h4 id="700">5.2.1. Adding an individual variation</h4>
<div class="paragraph">
<p>Add an individual variation as described below. Entries such as the purchase price and the storage location are not mandatory. If you do not want to enter these entries, then simply skip the corresponding steps in the description.</p>
</div>
<div class="paragraph instruction">
<p>Adding an individual variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on <strong>Add item</strong>. <br>
→ A new window for searching and selecting items will open.</p>
</li>
<li>
<p>Enter the search terms and select the filter options. Pay attention to the information given in table 4.</p>
</li>
<li>
<p>Click on <strong>Search</strong>. <br>
→ The items that correspond to the search criteria entered will be listed.</p>
</li>
<li>
<p>Enter the <strong>Purchase price</strong> (optional).</p>
</li>
<li>
<p>Enter the <strong>quantity</strong> (mandatory entry). <br>
→ The variation is selected automatically when a quantity is entered.</p>
</li>
<li>
<p>Select a <strong>Storage location</strong> from the drop-down menu. <br>
→ If you have not yet assigned a storage location to a variation, then you can assign a storage location here as well. Click on <strong>Search</strong> to do so. The standard storage location is only a placeholder location and is used if you have not assigned an individual storage location yet.</p>
</li>
<li>
<p>Enter the <strong>RRP</strong> (optional). <br>
→ The RRP will be applied to the variation data record once the incoming items data record is approved.</p>
</li>
<li>
<p>Click on <strong>Add items</strong> within the <strong>procedure</strong> tab. <br>
→ The variation will be added to the data record.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. item filters</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item data</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Searches through item name 1 and the item’s meta keywords.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filters barcodes such as EAN, UPC or ISBN depending on the barcode type that you set up.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reset</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Resets all of the filter settings so that you see items that correspond to all suppliers. After the reset, click on search to update the list.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Click on <strong>Back to incoming items</strong> to return to the overview of incoming items data record.</p>
</div>
</div>
<div class="sect3">
<h4 id="800">5.2.2. Adding several variations at once</h4>
<div class="paragraph">
<p>If you want to add several variations at the same time, then enter the quantities and purchase prices. However, the purchase price is not a mandatory entry. You can also use the tab key to switch to the next entry field. You can only add variations that are displayed on the same page. If you switch to a new page, then your system will load the entries for the new page and discard the entries on the previous page.</p>
</div>
<div class="paragraph instruction">
<p>Adding several variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on <strong>Add item</strong>. <br>
→ A new window for searching and selecting items will open.</p>
</li>
<li>
<p>Enter the search terms and select the filter options. Pay attention to the information given in table 4.</p>
</li>
<li>
<p>Click on <strong>Search</strong>. <br>
→ The variations that match the search criteria will be listed.</p>
</li>
<li>
<p>Enter the <strong>Purchase price</strong> (optional).</p>
</li>
<li>
<p>Enter the <strong>quantity</strong> (mandatory entry). <br>
→ The variation is selected automatically when a quantity is entered.</p>
</li>
<li>
<p>Enter the <strong>RRP</strong> (optional).<br>
→ The RRP that you booked will be transferrd to the item data record.</p>
</li>
<li>
<p>Enter the <strong>Quantity</strong>, the <strong>Purchase price</strong> and the <strong>RRP</strong> for any additional variations.</p>
</li>
<li>
<p>Click on <strong>Add</strong> button that is displayed above the item list. <br>
→ The variations will be added to the incoming items data record.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Back to incoming items</strong> to return to the overview of incoming items data record.</p>
</div>
<div class="paragraph">
<p>If you add another quantity of the same variation and you do not change the purchase price or storage location, then this new quantity will simply be added to the existing quantity. If the purchase price or storage location are different, then the variation will be listed a second time.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">6. Adding procurement costs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add procurement costs, e.g. the freight, packaging and customs charges that are incurred when acquiring new items.</p>
</div>
<div class="paragraph instruction">
<p>Adding procurement costs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on the small plus icon to expand the header.</p>
</li>
<li>
<p>Click on the coins. <br>
→ A window will open.</p>
</li>
<li>
<p>Enter your costs.</p>
</li>
<li>
<p><strong>Save</strong> the settings to save costs.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">7. Changing and understanding the status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Incoming items data records receive the status <strong>Created</strong> as soon as they are created. Any status changes are saved in the <strong>Status history</strong>. Open the <strong>Status history</strong> by clicking on the symbol to the right of the drop-down menu. The history includes information about each status change. It lists the user, date and referrer, e.g. Client.</p>
</div>
<div class="paragraph instruction">
<p>Changing the status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Select a status from the drop-down menu. <br>
→ You can choose between the statuses <strong>In review</strong>, <strong>Error</strong>, <strong>Cancelled</strong> and <strong>Approved</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the status.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. possible statuses</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Status</strong></th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Created</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Incoming items data records automatically receive this status when they are created.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>In review</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>It makes sense to select this status once all of the delivered items have been recorded and the data record in plentymarkets is checked for accuracy against the delivery note.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Error</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Indicates that the data record includes an error.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Cancelled</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Indicates that the data record should no longer be used. It is not possible to delete incoming items data records. Therefore, it makes sense to use this status for faulty data records.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Approved</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Adds the incoming items to the stock. In other words, this status makes the new incoming items available for outstanding orders, new listings, etc. The incoming items data record will be locked and can no longer be edited.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Correction</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Unlocks certain entries such as the supplier, the delivery note number etc. for editing However, the purchase price remains locked and can not be edited.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">8. Adding stock to a variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Approve the incoming items data record to actually add the stock to a variation and to apply the RRP from the incoming items data record to the variation data. If there are several different RRPs for the same variation, then the highest RRP will be applied to the variation data.<br>
It is no longer possible to change a variation or add further variations once an incoming items data record is switched to the status <strong>Approved</strong>. Other data e.g. the supplier also remain locked when the incoming items data record is in <strong>Approved</strong> status.</p>
</div>
<div class="paragraph">
<p>You can see a variation’s stock under <strong>Tab: Stock » Tab: Stock</strong>. The tab <strong>Item movement</strong> lists all of the item movements. For example, this tab shows you when the purchase price was changed in the incoming items data record. All changes to the item quantity or purchase price are recorded as item movements regardless of which status the incoming item has.</p>
</div>
<div class="paragraph">
<p>Open the menu <strong><a href="/stock-management/managing-stocks">Stock » Stocks  </a></strong> to see the stock of all items and variations.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">9. Adding a note</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use notes to save additional information. For example, to save a message for other colleagues who will also edit the data record at a later time. Notes can neither be edited nor deleted.</p>
</div>
<div class="paragraph instruction">
<p>Adding a note:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on <strong>Notes</strong>, i.e. the small paper icon on the far right of the header. <br>
→ A window will open.</p>
</li>
<li>
<p>Enter a text.<br>
→ Format the note as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings to save the note. <br>
→ Previously saved notes are displayed on the left side of the window.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">10. Changing and correcting an incoming items data record</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Incoming items data records can only be changed if they have a certain status. Data records can be changed if they have the status <strong>Created</strong>, <strong>In review</strong>, <strong>Error</strong> or <strong>Cancelled</strong>. Information such as the supplier, the delivery note number and the quantity can be changed. A note is automatically saved when changing sensitive data such as the purchase price or the item quantity. The user who made this change is automatically saved as the author of the note. It is not possible to change data records that have already been approved. When using the status <strong>Correction</strong>, some data becomes editable again.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">11. Exporting an incoming items data record</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Data is exported in CSV format. Proceed as described below to export an incoming items data record.</p>
</div>
<div class="paragraph instruction">
<p>Exporting an incoming items data record:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on the small plus icon to expand the header.</p>
</li>
<li>
<p>Click on <strong>Export</strong>.<br>
→ The file will be downloaded.</p>
</li>
<li>
<p>Select semicolon as the separator when opening the file.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">12. Creating a PDF receipt</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is only possible to create a PDF receipt when the status <strong>Approved</strong> is selected.</p>
</div>
<div class="paragraph instruction">
<p>Creating a PDF receipt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on the small plus icon to expand the header.</p>
</li>
<li>
<p>Click on <strong>Create receipt</strong>.<br>
→ The PDF file will be downloaded.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">13. Searching for an incoming items data record</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two menus where you can search for incoming items data records. These menus are <strong>Stock » Incoming items</strong> and <strong>Stock » New incoming items</strong>. In the <strong>Stock&nbsp;» Incoming items</strong> menu all incoming items data records are listed regardless of whether they were created per SOAP, dynamic import or in the <strong>New incoming items</strong> menu. In the <strong>New incoming items</strong> menu you can only find incoming items data records that were booked in this menu.</p>
</div>
<div class="sect2">
<h3 id="1700">13.1. Searching in the new incoming items menu</h3>
<div class="paragraph">
<p>Use the search function in the incoming items menu to find specific data records. Many of the search filters refer to items and variations. In other words, you can use the filters to search for incoming item data records that include an item or variation with this ID, number or flag. When you open the menu, the last 2 months are automatically selected as the delivery period. If you want to find an incoming items data record that is older, then you will need to reset the filters first.</p>
</div>
<div class="paragraph instruction">
<p>Searching in the new incoming items menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Select the desired search settings. Pay attention to the information given in table 6.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. search settings for incoming items</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Searches variations that have the barcode. Barcodes can be EAN, UPC, ISBN etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reorder ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Searches for all data records that include an item from this reorder.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1800">13.2. Searching for incoming items in the <strong>Stock » incoming items</strong> menu</h3>
<div class="paragraph">
<p>The many ways to book stock into your system are e.g. SOAP, Rest, dynamic import, the variation menu or the <strong>Incoming items</strong> menu. However, no matter how the stock was booked into your system all incoming items data records are listed in the <strong>Stock » Incoming items</strong> menu. The search is by month.</p>
</div>
<div class="paragraph instruction">
<p>Searching for an incoming items data record:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Incoming items</strong>.</p>
</li>
<li>
<p>Select a filter.<br>
→ The current month is set by default.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Identifying archive entries</div>
<div class="paragraph">
<p>An entry will be archived after 3 months, but only if all stock that was booked in with this entry has either been booked out or has been redistributed in the meanwhile. Once an incoming items data record has been archived you will see an archive symbol in the <strong>Archive</strong> column.
Archive data can neither be edited nor deleted.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In this menu you can also do the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can export incoming items data records by month</p>
</li>
<li>
<p>You can open, edit and individually export incoming items data records</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can edit the <strong>Supplier</strong>, <strong>Delivery date</strong> and <strong>Delivery note number</strong> in the <strong>Base</strong> tab. You can edit the <strong>Purchase price</strong> in the <strong>Item</strong> tab.</p>
</div>
</div>
</div>
</div>
</main>