<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Assigning suppliers to a variation</span></a></li>
<li><a href="#200"><span>2.</span><span> Linking a variation to a storage location</span></a></li>
<li><a href="#250"><span>3.</span><span> Identifying the purchase price</span></a></li>
<li><a href="#300"><span>4.</span><span> Transferring the storage location and the purchase price</span></a></li>
<li><a href="#400"><span>5.</span><span> Assigning the RRP to a price</span></a></li>
<li><a href="#450"><span>6.</span><span> Booking in stock via the plentymarkets back end</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>6.1.</span><span> Recording incoming items</span></a>
<ul class="sectlevel3">
<li><a href="#_registering_general_incoming_items_information"><span>6.1.1.</span><span> Registering general incoming items information</span></a></li>
<li><a href="#600"><span>6.1.2.</span><span> Adding items to the incoming items data record</span></a>
<ul class="sectlevel4">
<li><a href="#700"><span>Adding an individual variation</span></a></li>
<li><a href="#800"><span>Adding several variations at once</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#810"><span>6.2.</span><span> Incoming items with a best before date and/or batch information</span></a></li>
<li><a href="#900"><span>6.3.</span><span> Adding procurement costs</span></a></li>
<li><a href="#1000"><span>6.4.</span><span> Changing and understanding the status</span></a></li>
<li><a href="#1100"><span>6.5.</span><span> Adding stock to a variation</span></a></li>
<li><a href="#1200"><span>6.6.</span><span> Adding a note</span></a></li>
<li><a href="#1300"><span>6.7.</span><span> Changing and correcting an incoming items data record</span></a></li>
<li><a href="#1400"><span>6.8.</span><span> Exporting an incoming items data record</span></a></li>
<li><a href="#1500"><span>6.9.</span><span> Creating a PDF receipt</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>7.</span><span> Booking in stock with the plentymarkets app</span></a></li>
<li><a href="#1600"><span>8.</span><span> Searching for an incoming items data record</span></a>
<ul class="sectlevel2">
<li><a href="#1700"><span>8.1.</span><span> Searching in the new incoming items menu</span></a></li>
<li><a href="#1800"><span>8.2.</span><span> Searching for incoming items in the Stock » Incoming items menu</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>9.</span><span> Deleting empty storage locations</span></a></li>
<li><a href="#2000"><span>10.</span><span> Hiding stock entries of 0</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing incoming items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>There are several ways to book stock into your system. However, to book variations in you need to have set up a complete warehouse and you need to have a warehouse, a storage location and a supplier assigned to a variation. On this page you will learn how to assign a storage location and a supplier to a variation. Furthermore you will read how to book stock in the <strong>Stock » New incoming items</strong> menu. Your system will only be able to <a href="/en/item/managing-items#230">adjust the display of variations in your store automatically</a> as well as to start listings automatically if you book variations in and out and manage your stock correctly in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Assigning suppliers to a variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Who supplies you with this item? Assign one or more suppliers to your items. By saving this data in plentymarkets, you will be able to <a href="/en/stock-management/new-incoming-items#450">keep track of the goods you receive </a>later. You will also be able to <a href="/en/stock-management/managing-reorders/working-with-reorders">reorder items directly from the supplier</a> when you start to run out of stock.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Have you saved the contact data?</div>
<div class="paragraph">
<p>In plentymarkets, suppliers are nothing more than contact details. So before you can link a supplier to an item, you’ll need to create the contact data record in plentymarkets.</p>
</div>
<div class="paragraph">
<p>The procedure is the same as when <a href="/en/crm/managing-contacts">creating a normal contact data record</a>. However, you’ll need to <a href="/en/crm/managing-contacts#20">choose “supplier” as the type</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding a supplier to a variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the <strong>Default</strong> item.<br>
→ The <strong>Settings</strong> tab of the main variation opens.</p>
</li>
<li>
<p>Open the <strong>Supplier</strong> tab of the variation.</p>
</li>
<li>
<p>Select a supplier from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The supplier is added and displayed in the list.</p>
</li>
<li>
<p>Enter the supplier data. Note <a href="#table-main-variation-supplier">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-main-variation-supplier" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Specifying the supplier data for a variation</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This column automatically displays the supplier’s company name as it was <a href="/en/crm/managing-contacts#100">saved in the contact data record</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This column automatically displays the supplier’s first and last name as they were <a href="/en/crm/managing-contacts#100">saved in the contact data record</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier item No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the item number under which your supplier manages the variation. You can use this number to search for incoming items in the menu <strong>Stock » New incoming items</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the item name under which your supplier manages the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase price system currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the purchase price <em>in your own currency</em>. Depending on how you configured the settings in the menu <strong>Setup » Stock » Stock » Incoming items</strong>, <a href="/en/stock-management/new-incoming-items#300">this price may be overwritten when goods are received</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase price from account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is your supplier located in a different country and uses a different currency? Enter the purchase price <em>in your supplier’s currency</em>. Which currency is displayed here depends on <a href="/en/crm/managing-contacts#100">which currency was saved in the contact data record</a>. This currency will be used for <a href="/en/stock-management/managing-reorders/working-with-reorders">reorders</a> if it’s available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum purchase</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The minimum quantity that you have to order from the supplier. This value also serves as the <a href="/en/stock-management/managing-reorders/working-with-reorders#170">minimum suggested reorder quantity</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery time in days</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of days that your supplier usually needs to deliver reordered variations. The delivery time can affect the <a href="/en/stock-management/managing-reorders/working-with-reorders#110">suggested reorder quantity</a> and the <a href="/en/stock-management/managing-reorders/working-with-reorders#600">delivery date for the reorder</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last price query</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date from the calendar when you lasted requested the current price from your supplier. This date helps you plan price negotiations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the discount in percent if the supplier offers a discount on the variation. When reordering items, the discount will only be taken into consideration if you selected the option <strong>Discountable</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discountable</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to activate the discount that was entered into the <strong>Discount</strong> column. The discount entered will not be used in reorders if this check mark is not saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packaging unit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you and your supplier use different packaging units? Enter the supplier’s packaging unit if it differs from <a href="/en/item/managing-items#270">the number of “units contained” in the item settings</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Linking a variation to a storage location</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A variation needs a warehouse and a storage location before you can book stock in. Without a warehouse and a storage location the system does not know where to book the stock and therefore does not book stock. The standard storage location is only a placeholder location and is used if you have not assigned an individual storage location yet. The best is to select one of your storage locations to begin with.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Booking in items to standard storage location not possible when using suggested storage location</div>
<div class="paragraph">
<p>If a variation has been connected to a suggested storage location, booking in items to the standard storage location is not possible anymore.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Inheriting the setting to variations</div>
<div class="paragraph">
<p>When you activate a warehouse for a main variation, this setting is inherited to all variations of the item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Open variation</strong>.</p>
</li>
<li>
<p>Click on the <strong>Warehouse</strong> tab.</p>
</li>
<li>
<p>Select a warehouse from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The warehouse is assigned to the variation and you can carry out further settings.</p>
</li>
</ol>
</div>
<table id="table-warehouse-settings-of-variation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Warehouse settings of a variation</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-storage-location-type">Storage location type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type according to the size of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a zone if you have set up zones for this warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reorder level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the quantity that you want to use to reorder a variation. A suggestion for a reorder quantity will be made when this reorder level is reached. Until the level is reached, 0 will be displayed as suggestion, because the reorder level defines when you wish to make a reorder.<br>
<em>Note</em>: If the <a href="/en/stock-management/setting-up-a-warehouse#reorder-value_variation_warehouse">difference between the current stock and the reorder level is calculated dynamically</a>, the only valid value is 0.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock turnover (in days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of days that the stock of a specific variation should suffice until the next reorder. This value is relevant for calculating the reorder quantity. A standard value that could be used for the stock turnover is 14 days. Once the item has reached the reorder level, the value entered will be used for calculating the quantity of items that need to be reordered. In other words, the quantity suggested for reorder would be sufficient for the following 14 days.
If no value is entered here, the stock turnover (in days) is not taken into account for the calculation of the reorder date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the maximum stock for the warehouse. The maximum stock influences the suggested reorder quantity by limiting the reorder quantity. Or in other words the reorder quantity will not exceed the quantity entered here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a desired value as stock buffer. The stock for particular markets will then be reduced by this value.<br>
<em>Example</em>: You have 50 items in stock and you want a stock buffer of 10 items so that the item cannot be sold out completely on this market. In this case, enter <strong>10</strong> as stock buffer. Now, <strong>40</strong> items are in stock on this market.<br>
The values entered here are considered for markets such as <a href="/en/markets/amazon/amazon-setup">Amazon</a> and <a href="/en/markets/shopgate">Shopgate</a>. The buffer entered here takes priority over the buffer values entered for the particular market.<br>
For markets which are not listed here, the stock buffer settings of the specific market take priority over this setting.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Best before date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if best before dates are to be saved for this variation and this warehouse.<br>
<strong><em>Note:</em></strong> Once stock is booked into the warehouse, you can no longer deactivate the option <strong>Best before date</strong>. If the stock level for this warehouse is 0, the option <strong>Best before date</strong> can be activated or deactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Batch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if batches are to be saved for this variation and this warehouse.<br>
<strong><em>Note:</em></strong> Once stock is booked into the warehouse, you can no longer deactivate the option <strong>Batch</strong>. If the stock level for this warehouse is 0, the option <strong>Batch</strong> can be activated or deactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suggested storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a storage location for the particular warehouse. This storage location will automatically be suggested when a reorder is made. The setting default storage location actually means that no storage location was assigned.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Identifying the purchase price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The range of settings that are connected to the purchase price is versatile. 2 different purchase prices can be shown in the variation’s data record. One purchase price is always the moving average price. The second purchase price that will be displayed depends on your settings. You can either enter a purchase price or you can transfer a purchase price from the latest incoming items data record. You also have the possibility to transfer a second average purchase price. This second average purchase price is a sort of live average purchase price. All different purchase price options that can be transferred are described in the <a href="#300">Transferring storage location and purchase price</a> chapter.<br>
How the two different average purchase prices are calculated is described in the following table.</p>
</div>
<table id="table-average-purchase-price-calculation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Formulas average purchase price</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Live average calculation</th>
<th class="tableblock halign-left valign-top">Moving average calculation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">\(LAPP_{new} = {LAAP_{old} \cdot Quantity_{old} + PurchasePrice_{new} \cdot Quantity_{new}\over Quantity_{old} + Quantity_{new}}\)<br>
<br>
LAPP<sub>new</sub> = New live average purchase price<br>
LAPP<sub>old</sub> = Old live average purchase price<br>
Quantity<sub>old</sub> = Previous stock quantity<br>
PurchasePrice<sub>new</sub> = Purchase price of incoming items<br>
Quantity<sub>new</sub> = Quantity of incoming items</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">\(MAAP_{new} = {MAAP_{old} \cdot Quantity_{old} + PurchasePrice_{new} \cdot Quantity_{new}\over Quantity_{old} + Quantity_{new}}\)<br>
<br>
MAAP<sub>new</sub> = New moving average purchase price<br>
MAAP<sub>old</sub> = Old moving average purchase price<br>
Quantity<sub>old</sub> = Previous stock quantity<br>
PurchasePrice<sub>new</sub> = Purchase price of incoming items<br>
Quantity<sub>new</sub> = Quantity of incoming items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A recalculation is carried out in the following cases:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Incoming items and</p>
</li>
<li>
<p>Outgoing items</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The current average is given in export formats or used for statistics. If you wish to see this purchase price in a variation’s data record, you need to select that the average purchase price is transferred.<br>
The <strong>purchase price</strong> setting can be found in the <strong>Setup » Stock » Stock » Incoming items</strong> menu. The option that you need to select is <strong>Save live average purchase price in the variation data</strong>. The other options available in the dropdown are explained in the <a href="#table-transfer-of-purchase-price-and-storage-location">Table 4</a>.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A recalculation is carried out in the following cases:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Incoming items</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>However, a recalculation will only be carried out if you defined that stock booked into this warehouse is used for the calculation of the moving average purchase price. Each variation has a separate field for showing the moving average price.<br>
Go to <strong>Setup » Stock » Stock » Incoming items</strong> to activate the warehouses that will be used for calculating the moving average purchase price.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">4. Transferring the storage location and the purchase price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When adding items to an incoming item data record, you can enter the purchase price, the recommended retail price and the storage location. The RRP will be applied to the variation data record once the incoming item data record is approved. When you add the same variation several times but with different RRPs, the highest RRP will be saved in the variation data, once the incoming item data record is approved. You can specify whether or not the purchase prices of incoming items are saved with the item. If you wish to transfer the purchase price you have several options to select from. In addition, you can also select whether or not a specified storage location for incoming items is saved in the variation data.</p>
</div>
<div class="paragraph instruction">
<p>Choosing a transfer option:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Stock » Incoming items</strong>.</p>
</li>
<li>
<p>Select a setting. Pay attention to the information given in <a href="#table-transfer-of-purchase-price-and-storage-location">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-transfer-of-purchase-price-and-storage-location" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Defining how prices and the storage location are transferred</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose whether or not the purchase price will be transferred and if you choose to transfer the purchase price, select where the price will be saved. The storage location will be saved once the incoming items data record was approved.<br>
<strong>Do not transfer the purchase price</strong> = The purchase price will not be transferred to other menus. Select this setting if you prefer to manually add and maintain the purchase price in the variation’s data.<br>
<strong>Save purchase price in variation data</strong> = The purchase price will automatically be saved in the <strong>Settings</strong> tab of a variation. The purchase price that is listed last in the incoming items data record will be transferred if you have the same variation with different purchase prices in one incoming items data record.<br>
<strong>Save purchase price in variation and supplier data</strong> = The purchase price will automatically be saved in the <strong>Settings</strong> tab of a variation as well as in the <strong>Stock</strong> tab of a supplier. The purchase price that is listed last in the incoming items data record will be transferred if you have the same variation with different purchase prices in one incoming items data record.<br>
<strong>Save live average purchase price in the variation data</strong> = The average purchase price will be recalculated every time new incoming items are received or items are booked out. The actual purchase prices of those variations currently available in the warehouse are used for this calculation. The average purchase price will automatically be saved in the <strong>Settings</strong> tab of a variation. <a href="#table-average-purchase-price-calculation">Table 3</a> shows the formula used in the calculation.<br>
<strong>Save the highest purchase price</strong> = If several different purchase prices are available, the highest purchase price of the current incoming items data record will be saved with the variation data.<br>
<strong>Save the lowest purchase price</strong> = If several different purchase prices are available, the lowest purchase price of the current incoming items data record will be saved with the variation data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose whether or not the storage location will be transferred and if you choose to transfer the purchase price, select where the price will be saved. The storage location will be saved once the incoming items data record was approved.<br>
<strong>Do not save the storage location</strong> = The storage location will not be saved.<br>
<strong>Save storage location in variation data</strong> = The storage location is automatically saved as suggested storage location in the <strong>Warehouse</strong> tab of a variation. The storage location will be newly transferred with each new incoming items data record that the variation is included in.<br>
<strong>Save the storage location for items and variations if no storage location was saved yet</strong> = The option only takes effect if no storage location was saved yet.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">5. Assigning the RRP to a price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to enter a RRP while booking stock in, you need to define which sales price will be used as RRP. Furthermore, you can select the sales price that will be displayed when booking incoming items.</p>
</div>
<div class="paragraph instruction">
<p>Assigning the RRP to a price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Select one of your sales prices from the drop-down list for the <strong>RRP</strong>.</p>
</li>
<li>
<p>Select one of your sales prices from the drop-down list for the <strong>price</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>However, it is not enough to assign a price in the <strong>Setup » Stock » New incoming items</strong> menu in order to display a sales price in a variation. You also need to assign a sales price to a variation. Sales prices are created in the <strong>Setup » Item » Sales prices</strong> menu. How to create sales prices and how to assign them to variations is described in detail on the <a href="/en/item/managing-items">Managing items</a> page of the manual. On this page you will also learn how to calculate prices for customer classes and so on.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="450">6. Booking in stock via the plentymarkets back end</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can book incoming items in several different ways, e.g. using the plentymarkets app, the data import, or the New incoming items menu. This menu offers you the most extensive options because in addition to booking in stock, you also can specify other data such as procurement costs.</p>
</div>
<h3 id="_assigning_rights_for_back_end_users" class="discrete">Assigning rights for back end users</h3>
<div class="paragraph">
<p><strong>Back end</strong> type users <a href="/en/business-decisions/user-accounts-access#105">can only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to see incoming items, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Stock &gt; Incoming items &gt; Show</strong></p>
</li>
<li>
<p><strong>Stock &gt; New incoming items &gt; Show</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Tip: How to grant rights</div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admin</strong> users can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Select a user.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">6.1. Recording incoming items</h3>
<div class="paragraph">
<p>The recording of incoming items is carried out in 2 steps. At first you need to enter general information such as the supplier and the currency. In the second step the variations and the delivered quantities are registered.</p>
</div>
<div class="sect3">
<h4 id="_registering_general_incoming_items_information">6.1.1. Registering general incoming items information</h4>
<div class="paragraph">
<p>You need to have at least one warehouse and supplier before you can register incoming items.
Suppliers are created in the same way as <a href="/en/crm/managing-contacts#100">customers</a> and then assigned to the customer type Supplier.
In addition, at least one user has to be activated as <a href="/en/business-decisions/user-accounts-access#40">owner of incoming items</a> so that the incoming items can be assigned to an owner.
It is not possible to record incoming items without an owner.
The owners are sorted by ID.
If the user that is currently logged in can be set as owner, this user is selected by default.</p>
</div>
<div class="paragraph instruction">
<p>Registering general incoming items information:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Click on <strong>New incoming items</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new tab will open.</p>
</li>
<li>
<p>Enter a <strong>supplier</strong>.<br>
→ Click on the down arrow to see a list of all suppliers or enter a supplier’s name to see matching results. The results are displayed once 3 or more letters have been entered.</p>
</li>
<li>
<p>Select a warehouse.<br>
→ If a main warehouse is defined for the variation, this <a href="/en/item/managing-items#290">main warehouse</a> will be pre-selected.</p>
</li>
<li>
<p>Select an owner.<br>
→ If you were activated as an <a href="/en/business-decisions/user-accounts-access#40">owner of incoming items</a>, you will be selected by default since you are currently logged in.</p>
</li>
<li>
<p>Carry out further optional settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to create an incoming items data record.<br>
→ The incoming items data record opens in a new tab. It will have an ID and will be given the status <strong>Created</strong>. Click on the small plus that is on the far left side of the header to see additional information about the incoming items data record.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you pay for the incoming items in a currency other than your <a href="/en/payment/currencies#30">standard currency</a>, the <a href="/en/payment/currencies#20">exchange rate</a> will be entered automatically.</p>
</div>
<div class="paragraph">
<p>All of the recorded information can be edited. Finalise the incoming items data record by adding items and procurement costs.</p>
</div>
</div>
<div class="sect3">
<h4 id="600">6.1.2. Adding items to the incoming items data record</h4>
<div class="paragraph">
<p>You can add variations individually or several at once. It is only possible to add variations that already exist as data records in your system. First create a new item and the corresponding variations, if a completely new <a href="/en/item/managing-items">item</a> is delivered.
When you first open the list of items and variations, all variations from all suppliers are listed. Use the search to display items of a particular supplier.<br>
If you entered a purchase price for a variation, it will automatically be displayed here and can be used. Click on the item ID to open and edit the item data record. Proceed as described below to add the delivered items to the incoming items data record.</p>
</div>
<div class="sect4">
<h5 id="700">Adding an individual variation</h5>
<div class="paragraph">
<p>Add an individual variation as described below. Information such as the purchase price and the storage location are not mandatory. If you do not want to enter these entries, skip the corresponding steps in the description.</p>
</div>
<div class="paragraph instruction">
<p>Adding an individual variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on <strong>Add item</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new window for searching and selecting items opens.</p>
</li>
<li>
<p>Enter search terms and select filter options. Pay attention to the information given in <a href="#table-variation-filters-for-incoming-items">Table 5</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The items that match the search criteria are listed.</p>
</li>
<li>
<p>Enter the <strong>Purchase price</strong> (optional).</p>
</li>
<li>
<p>Enter the <strong>Quantity</strong> (mandatory field).<br>
→ The variation is selected automatically when a quantity is entered.</p>
</li>
<li>
<p>Select a <strong>Storage location</strong> from the drop-down list.<br>
→ If you have not yet assigned a storage location to a variation, you can assign a storage location here as well. To do so, click on <strong>Search</strong>. The standard storage location is only a placeholder location and is used if you have not assigned an individual storage location yet.</p>
</li>
<li>
<p>Enter the <strong>RRP</strong> (optional).<br>
→ The RRP will be applied to the variation data record once the incoming items data record is approved.</p>
</li>
<li>
<p>In the <strong>Procedure</strong> tab, click on <strong>Add items</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The variation is added to the data record.</p>
</li>
</ol>
</div>
<table id="table-variation-filters-for-incoming-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Item filters</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Searches item name 1 and the item’s meta keywords.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters barcodes such as EAN, UPC or ISBN depending on the barcode type that you set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets all filter settings, so that all items are displayed regardless of supplier. After the reset, click on search to update the list.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Click on <strong>Back to incoming items</strong> to return to the overview of the incoming items data record.</p>
</div>
</div>
<div class="sect4">
<h5 id="800">Adding several variations at once</h5>
<div class="paragraph">
<p>If you want to add several variations at the same time, enter the quantities and purchase prices. However, the purchase price is not a mandatory field. You can also use the tab key to switch to the next entry field. You can only add variations that are displayed on the current page. If you switch to a new page, your system will load the entries for the new page and discard the entries on the previous page.</p>
</div>
<div class="paragraph instruction">
<p>Adding several variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on <strong>Add item</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new window for searching and selecting items opens.</p>
</li>
<li>
<p>Enter search terms and select filter options. Pay attention to the information given in <a href="#table-variation-filters-for-incoming-items">Table 5</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The variations that match the search criteria are listed.</p>
</li>
<li>
<p>Enter the <strong>Purchase price</strong> (optional).</p>
</li>
<li>
<p>Enter the <strong>Quantity</strong> (mandatory field).<br>
→ The variation is selected automatically when a quantity is entered.</p>
</li>
<li>
<p>Enter the <strong>RRP</strong> (optional).<br>
→ The RRP that you booked will be transferred to the item data record.</p>
</li>
<li>
<p>Enter the <strong>Quantity</strong>, the <strong>Purchase price</strong> and the <strong>RRP</strong> for any additional variations.</p>
</li>
<li>
<p>Click on the <strong>Add</strong> button that is displayed above the item list.<br>
→ The variations are added to the incoming items data record.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Back to incoming items</strong> to return to the overview of the incoming items data record.</p>
</div>
<div class="paragraph">
<p>If you add another quantity of the same variation and you do not change the purchase price or storage location, this new quantity will be added to the existing quantity. If the purchase price or storage location are different, the variation will be listed a second time.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="810">6.2. Incoming items with a best before date and/or batch information</h3>
<div class="paragraph">
<p>You can book in variations with best before dates and/or batch information. To save best before dates and/or batch information for a variation, the option <strong>Best before date</strong> and/or <strong>Batch</strong> has to be activated for the warehouse in the <strong>Warehouse</strong> tab of the variation. The chapter <a href="/en/stock-management/new-incoming-items#200">Linking a variation to a storage location</a> contains information on this setting.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Receiving variations with best before dates and batch information</div>
<div class="paragraph">
<p>By default, you can only book one best before date/batch per storage location and variation. We recommend that you do not change this setting. Booking more than one best before date/batch to the same storage location may result in problems during order picking. You can carry out this setting in the <strong>Setup » Stock » Stock » Incoming items</strong> menu via the option <strong>Limit storage location to batches/BBD when receiving incoming items</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding a variation with a best before date and/or batch information:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on <strong>Add item</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new window for searching and selecting items opens.</p>
</li>
<li>
<p>Enter search terms and select filter options. Pay attention to the information given in <a href="#table-variation-filters-for-incoming-items">Table 5</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The variations that match the search criteria are listed.</p>
</li>
<li>
<p>Enter the <strong>Purchase price</strong> (optional).</p>
</li>
<li>
<p>Enter the <strong>Quantity</strong> (mandatory field).<br>
→ The variation is selected automatically when a quantity is entered.</p>
</li>
<li>
<p>Enter a value for <strong>Best before date/batch</strong>.</p>
</li>
<li>
<p>Enter the <strong>RRP</strong> (optional).<br>
→ The RRP will be applied to the item data once the incoming items data record is approved.</p>
</li>
<li>
<p>Enter the <strong>Quantity</strong>, the <strong>Purchase price</strong> and the <strong>RRP</strong> for any additional variations.</p>
</li>
<li>
<p>Click on the <strong>Add</strong> button that is displayed above the item list.<br>
→ The variations are added to the incoming items data record.</p>
</li>
<li>
<p>Click on <strong>Back to incoming items</strong> to return to the overview of the incoming items data record.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="900">6.3. Adding procurement costs</h3>
<div class="paragraph">
<p>Add procurement costs, e.g. the freight, packaging and customs charges that are incurred when acquiring new items.</p>
</div>
<div class="paragraph instruction">
<p>Adding procurement costs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open the incoming items data record.</p>
</li>
<li>
<p>Click on the small plus icon to expand the header.</p>
</li>
<li>
<p>Click on the coins.<br>
→ A new window opens.</p>
</li>
<li>
<p>Enter your costs.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to save your costs.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">6.4. Changing and understanding the status</h3>
<div class="paragraph">
<p>Incoming items data records receive the status <strong>Created</strong> as soon as they are created. Any status changes are saved in the <strong>Status history</strong>. Open the <strong>Status history</strong> by clicking on the symbol to the right of the drop-down list. The history includes information about each status change. It lists the user, date and referrer, e.g. Client.</p>
</div>
<div class="paragraph instruction">
<p>Changing the status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Select a status from the drop-down list.<br>
→ You can choose between the statuses <strong>In review</strong>, <strong>Error</strong>, <strong>Cancelled</strong> and <strong>Approved</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the status.</p>
</li>
</ol>
</div>
<table id="table-statuses-of-incoming-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Possible statuses</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Status</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Created</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Incoming items data records automatically receive this status when they are created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In review</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It makes sense to select this status once all of the delivered items have been recorded and the data record in plentymarkets is checked for accuracy against the delivery note.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates that the data record includes an error.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates that the data record should no longer be used. It is not possible to delete incoming items data records. Therefore, it makes sense to use this status for faulty data records.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Approved</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adds the incoming items to the stock. In other words, this status makes the new incoming items available for outstanding orders, new listings, etc. The incoming items data record is locked and can no longer be edited.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Correction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unlocks certain entries such as the supplier, the delivery note number etc. for editing. However, the purchase price remains locked and cannot be edited.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1100">6.5. Adding stock to a variation</h3>
<div class="paragraph">
<p>Approve the incoming items data record to actually add the stock to a variation and to apply the RRP from the incoming items data record to the variation data. If there are several different RRPs for the same variation, the highest RRP will be applied to the variation data.<br>
It is no longer possible to change a variation or add further variations once an incoming items data record is switched to the status <strong>Approved</strong>. Other data e.g. the supplier also remain locked when the incoming items data record has the status <strong>Approved</strong>.</p>
</div>
<div class="paragraph">
<p>You can see a variation’s stock under <strong>tab: Stock » tab: Stock</strong>. The tab <strong>Item movement</strong> lists all of the item movements. For example, this tab shows you when the purchase price was changed in the incoming items data record. All changes that are made to the item quantity or purchase price are recorded as item movements. The changes are recorded regardless of which status the incoming item data record has.</p>
</div>
<div class="paragraph">
<p>Open the menu <a href="/en/stock-management/managing-stocks">Stock » Stocks</a> to see the stock of all items and variations.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">6.6. Adding a note</h3>
<div class="paragraph">
<p>Use notes to save additional information. For example, to save a message for other colleagues who will also edit the data record at a later time. Notes can neither be edited nor deleted.</p>
</div>
<div class="paragraph instruction">
<p>Adding a note:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open an incoming items data record.</p>
</li>
<li>
<p>Click on <strong>Notes</strong>, i.e. the small paper icon on the far right of the header.<br>
→ A new window opens.</p>
</li>
<li>
<p>Enter the text you want to display.<br>
→ Format the note as desired.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the note.<br>
→ Previously saved notes are displayed on the left side of the window.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1300">6.7. Changing and correcting an incoming items data record</h3>
<div class="paragraph">
<p>Incoming items data records can only be changed if they have a certain status. Data records can be changed if they have the status <strong>Created</strong>, <strong>In review</strong>, <strong>Error</strong> or <strong>Cancelled</strong>. Information such as the supplier, the delivery note number and the quantity can be changed. A note is automatically saved when changing sensitive data such as the purchase price or the item quantity. The user who made this change is automatically saved as the author of the note. It is not possible to change data records that have already been approved. When using the status <strong>Correction</strong>, some data becomes editable again.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">6.8. Exporting an incoming items data record</h3>
<div class="paragraph">
<p>Data is exported in CSV format. Proceed as described below to export an incoming items data record.</p>
</div>
<div class="paragraph instruction">
<p>Exporting an incoming items data record:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open the incoming items data record.</p>
</li>
<li>
<p>Click on the small plus icon to expand the header.</p>
</li>
<li>
<p>Click on Export (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The file is downloaded.</p>
</li>
<li>
<p>Select semicolon as separator when opening the file.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1500">6.9. Creating a PDF receipt</h3>
<div class="paragraph">
<p>It is only possible to create a PDF receipt when the status <strong>Approved</strong> is selected.</p>
</div>
<div class="paragraph instruction">
<p>Creating a PDF receipt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Open the incoming items data record.</p>
</li>
<li>
<p>Click on the small plus icon to expand the header.</p>
</li>
<li>
<p>Click on <strong>Create receipt</strong>.<br>
→ The PDF file is downloaded.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">7. Booking in stock with the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can also book in stock using the plentymarkets app. Refer to the <a href="/en/app/functions/warehouse-management/receiving-rebooking">Receiving goods and redistributing stock</a> page of the manual to learn how it’s done and which settings you’ll need to configure in advance.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">8. Searching for an incoming items data record</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two menus where you can search for incoming items data records. These menus are <strong>Stock » Incoming items</strong> and <strong>Stock » New incoming items</strong>. In the <strong>Stock » Incoming items</strong> menu all incoming items data records are listed regardless of whether they were created in the app, via the import tool or in the <strong>New incoming items</strong> menu. In the <strong>New incoming items</strong> menu you can only find incoming items data records that were booked in this menu.</p>
</div>
<div class="sect2">
<h3 id="1700">8.1. Searching in the new incoming items menu</h3>
<div class="paragraph">
<p>Use the search function in the incoming items menu to find specific data records. Many of the search filters refer to items and variations. In other words, you can use the filters to search for incoming item data records that include an item or variation with this ID, number or flag. When you open the menu, the last 2 months are automatically selected as delivery period. If you want to find an incoming items data record that is older, you will need to reset the filters first.</p>
</div>
<div class="paragraph instruction">
<p>Searching in the new incoming items menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Select the desired search settings. Pay attention to the information given in <a href="#table-incoming-items-search-in-app">Table 7</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
</ol>
</div>
<table id="table-incoming-items-search-in-app" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Search settings for incoming items</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Searches for variations that have the barcode. Barcodes can be EAN, UPC, ISBN etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reorder ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Searches for all data records that include an item from this reorder.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1800">8.2. Searching for incoming items in the <strong>Stock » Incoming items</strong> menu</h3>
<div class="paragraph">
<p>The many ways to book stock into your system are e.g. Rest, the import tool, the variation menu or the <strong>New incoming items</strong> menu. However, no matter how the stock was booked into your system, all incoming items data records are listed in the <strong>Stock » Incoming items</strong> menu. The search is carried out by month.</p>
</div>
<div class="paragraph instruction">
<p>Searching for an incoming items data record:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Incoming items</strong>.</p>
</li>
<li>
<p>Select a filter.<br>
→ The current month is set by default.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Identifying archive entries</div>
<div class="paragraph">
<p>An entry will be archived after 3 months, but only if all stock that was booked in with this entry has either been booked out or has been redistributed in the meanwhile. Once an incoming items data record has been archived you will see an archive symbol in the <strong>Archive</strong> column.
Archive data cannot be edited or deleted.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In this menu you can also do the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can export incoming items data records by month</p>
</li>
<li>
<p>You can open, edit and individually export incoming items data records</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can edit the <strong>Supplier</strong>, <strong>Delivery date</strong> and <strong>Delivery note number</strong> in the <strong>Base</strong> tab. You can edit the <strong>Purchase price</strong> in the <strong>Item</strong> tab.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">9. Deleting empty storage locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Setup » Stock » Stock » Incoming items</strong> menu, it is possible to determine a period of time after which empty storage locations are deleted. When activating the option <strong>Delete empty storage location after</strong>, the entry is removed from the table after expiration of the determined period and the linkage to the individual items is deleted. In the system, it is no longer considered that the item has ever existed on the storage location.</p>
</div>
<div class="paragraph">
<p><strong>Attention!</strong> This does not apply to the standard storage location (ID 0) of the main warehouse on the item or on the variation; this one is always visible.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">10. Hiding stock entries of 0</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Stock » Stock » Incoming items</strong> menu, it is possible to determine a period of time after which stock entries of 0 are hidden. In case an item is stored in a second warehouse, the stock is set to zero. By activating the option <strong>Hide stock entry of “0” after</strong>, the entry in the variation’s stock overview disappears after the determined period, but remains saved in the background. Thus, reversals or incoming items that have the setting “Used storage location” can still use or rather display this storage location.</p>
</div>
<div class="paragraph">
<p><strong>Attention!</strong> This does not apply to the standard storage location (ID 0) of the main warehouse on the item or on the variation; this one is always visible.</p>
</div>
</div>
</div>
</main>