<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_dependencies_when_booking_stock"><span>1.</span><span> Dependencies when booking stock</span></a></li>
<li><a href="#_booking_outgoing_items_automatically"><span>2.</span><span> Booking outgoing items automatically</span></a>
<ul class="sectlevel2">
<li><a href="#_using_the_package_number_to_book_the_outgoing_items_automatically"><span>2.1.</span><span> Using the package number to book the outgoing items automatically</span></a></li>
<li><a href="#_booking_outgoing_items_automatically_when_creating_an_invoice"><span>2.2.</span><span> Booking outgoing items automatically when creating an invoice</span></a></li>
</ul>
</li>
<li><a href="#_booking_outgoing_items_for_cancellations_returns_or_warranties"><span>3.</span><span> Booking outgoing items for cancellations, returns or warranties</span></a>
<ul class="sectlevel2">
<li><a href="#_cancellations"><span>3.1.</span><span> Cancellations</span></a></li>
<li><a href="#_returns"><span>3.2.</span><span> Returns</span></a></li>
<li><a href="#_warranties"><span>3.3.</span><span> Warranties</span></a></li>
</ul>
</li>
<li><a href="#_booking_outgoing_items_manually"><span>4.</span><span> Booking outgoing items manually</span></a>
<ul class="sectlevel2">
<li><a href="#_booking_outgoing_items_in_the_order_overview"><span>4.1.</span><span> Booking outgoing items in the order overview</span></a></li>
<li><a href="#_booking_outgoing_items_in_an_order"><span>4.2.</span><span> Booking outgoing items in an order</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Booking items out</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Booking stock out is the second event of central importance for your stock management. The stock calculated by the system only match the actual stock in your warehouses if your stock is correctly booked in and out. <br>
The main reason to book stock out is that the variations are delivered to customers, but other stock withdrawals - that occur for any reason - need to be registered correctly as well. Furthermore, special events such as cancellations, returns and warranties require special attention as these might cause systematic stock shortfall in your warehouses. <br>
You can book stock out manually or automatically. Manually booking each order requires extremely high individual effort and bears the risk that this important step will not be carried out systematically. However, if you wish to automate the outgoing items step, then you need to identify a trigger event that occurs directly before the variations should be booked out.
Maybe you enter the package number before you book stock out? Then you can use the fact that package numbers were entered as a trigger to book stock out. How to book stock out manually will be explained at the end of this page. The manual booking process may be necessary in rare individual cases. One case could be that a customer picks up their order directly and in such a case you will not enter any package number. This is one case that may require manual booking for individual orders.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_dependencies_when_booking_stock">1. Dependencies when booking stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Two points are particularly important when you want to understand how your system works:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Book outgoing items</strong> is a procedure that must be carried out and it is not just an order status.</p>
</li>
<li>
<p>Once an order set in status 7&nbsp;- <strong>Outgoing items booked</strong>, the order can not be set to a status lower than 7.</p>
</li>
</ul>
</div>
<div class="paragraph subhead">
<p>What is the difference between the procedure and the status for booking stock out</p>
</div>
<div class="paragraph">
<p>When delivering orders, you have to book the outgoing items in order for the stock to be correctly reduced.
Booking stock out is a procedure and not only a status change. The procedure called <strong>Book outgoing items</strong> causes the stock to be reduced and then changes the status of an order to status 7&nbsp;– <strong>Outgoing items booked</strong>. If only the status of an order changes to status 7&nbsp;– <strong>Outgoing items booked</strong>, then this does not actually cause the procedure to be carried out and this means that the stock will not be reduced. If the stock is not reduced, your entire stock management may become incorrect.</p>
</div>
<div class="paragraph subhead">
<p>Status range 7 is final</p>
</div>
<div class="paragraph">
<p>If an order has a status between 7.0 and 7.9 and its outgoing items have already been booked, then the order can not be reset to a status lower than 7.0.<br>
Reverse outgoing items: However, if you reverse the booking of outgoing items, then this will enable a status change below 7. At the same time, you will be given the option to delete the order, which would allow you to create a new or corrected order. If an invoice or any other document exists, you can not delete the order. You need to cancel the document first and then you can correct your information or cancel the entire order. The original document and the cancellation document are proof of conformity with financial regulations.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_booking_outgoing_items_automatically">2. Booking outgoing items automatically</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is best to execute routine tasks such as booking stock out automatically to ensure that the day-to-day routine of your online business runs smoothly and efficiently.
plentymarkets offers different ways to do so. Select the way that best suit your routine. Next, two ways to book stock out will be described. The first way books stock out, when an invoice is generated and the second when the package number is entered.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Do not execute manual booking if you set up automatic booking</div>
<div class="paragraph">
<p>The system processes orders in a specific order that is defined by different factors such as the time they were created and the time they were ready for packing etc.
These factors ensure that the customer that ordered first, will be served first.
If you start to book the outgoing items for an order that has not yet reached the status for shipping, status 5, or that you have set manually to status 5 or any higher status, then you are skipping the order that was defined automatically and your system can not continue correctly.
Depending on the number of orders that were in line in front of the order that you booked manually, the automatic booking may cause errors for weeks or even months.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_using_the_package_number_to_book_the_outgoing_items_automatically">2.1. Using the package number to book the outgoing items automatically</h3>
<div class="paragraph">
<p>The advantage of using the package number is that package numbers are usually generead with shipping labels at the end of the fulfilment process. This way it is sure that all orders that have a package number are actually about to be shipped.</p>
</div>
<div class="paragraph">
<p>You can use an event procedure to automate the booking of outgoing items. In addition you can use the same event procedure to send the shipping confirmation as email to your customer.
The email can also be send with a separate event procedure. Now set up the event procedure and then you will learn how to scan the package numbers.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Booking the outgoing items automatically when entering the package numbers</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>. <br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter the name.</p>
</li>
<li>
<p>Select the <strong>Event</strong> listed in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Event procedure for automatically booking outgoing items when entering the package numbers</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Package number</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Import your package numbers to save the package numbers automatically in the order data. This way you do not need to enter every package number manually in an order.
The fastest and easiest way to import newly created package numbers into your system on a daily basis is to go to <strong>Orders &gt; Fulfillment &gt; Tab: Import of package numbers</strong>.
Ideally, you created and printed a <strong><a href="/en/orders/order-documents/pick-list">pick list</a></strong> for the final order processing, you marked all of the orders that are already finished in this list and you stuck small barcode slips of the shipping labels next to the corresponding order.</p>
</div>
<div class="paragraph instruction">
<p>Scanning package numbers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders &gt; Fulfillment &gt; Tab: Import of package numbers</strong>.</p>
</li>
<li>
<p>Select the <strong>List import</strong>.</p>
</li>
<li>
<p>Click in the first line of the <strong>Order ID</strong> column.</p>
</li>
<li>
<p>Scan the order ID.</p>
</li>
<li>
<p>Click in the first line of the <strong>Package number</strong> column.</p>
</li>
<li>
<p>Scan the package number.</p>
</li>
<li>
<p>Continue with the next order.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>plentymarkets adds the package number to the order data. This will trigger the event procedure that will book the stock out and will send the order confirmation email to your customer.
The order status will automatically change when the stock is booked out. The new status will be <strong>Outgoing items booked</strong>.
This behaviour is implemented in the system and can not be disabled.
You can use this status to check whether or not the outgoing items have been booked after the import.</p>
</div>
<div class="paragraph">
<p>Another possibility to import the package numbers is to import a <a href="/en/fulfilment/generating-documents#package-numbers-csv-file">CSV file</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_booking_outgoing_items_automatically_when_creating_an_invoice">2.2. Booking outgoing items automatically when creating an invoice</h3>
<div class="paragraph">
<p>This solution will only work correctly if you are not sending any items before you have generated an invoice. However, the fact that an invoice was generated can not guarantee that outgoing items were booked and that a package was sent. When the payment method payment in advance was selected, then the invoice needs to be generated before the outgoing items are booked. Another possible case is that the variation was damaged and your employee saw the defect while picking orders. In this case the invoice may have been generated but the outgoing items will not be booked.
If you still want to use the generation of an invoice as trigger event, you should set a filter for payment methods and exclude payment in advance from the list.</p>
</div>
<div class="paragraph">
<p>An event procedure is used for automatically booking the items when an invoice is generated. Proceed as follows to create the event procedure:</p>
</div>
<div class="openblock collapseBox">
<div class="title">Booking outgoing items when generating an invoice:</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>. <br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter the name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Event procedures for booking outgoing items automatically when an invoice is generated</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents: Invoice generated</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_booking_outgoing_items_for_cancellations_returns_or_warranties">3. Booking outgoing items for cancellations, returns or warranties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This last section gives some information about special cases such as <strong>cancellations</strong>, <strong>returns</strong> and <strong>warranties</strong> as well as their influence on stock management.</p>
</div>
<div class="sect2">
<h3 id="_cancellations">3.1. Cancellations</h3>
<div class="paragraph">
<p>If an order is canceled before the outgoing items have been booked, then manually set it to status 8&nbsp;– <strong>canceled</strong>. If an order is cancelled, then the stock quantity reserved for that order will be cancelled as well. An order can be cancelled as long as no outgoing items have been booked. <br>
To find out more about stock reservations and when stock is reserved, read the <strong><a href="/en/stock-management/managing-stocks">Managing stock</a></strong> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="_returns">3.2. Returns</h3>
<div class="paragraph">
<p>You need a return if the outgoing items are already booked in your system and you still want to cancel the order or if the customer is not satisfied with the item and returns it. A return is created for an order. <br>
If you create a return, a window will open and in that window you need to enter a reason for the return and you can select the variations that were returned.
An order ID will assigned to the return.
The stock is not automatically booked back as the items may be damaged or incomplete.
This means that you will have to check the items and manually book them back into the system if they can be resold.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-booking-items-out-01.png" alt="EN booking items out 01">
</div>
<div class="title">Figure 1. Entering a reason for return and the returned items</div>
</div>
<div class="paragraph">
<p>How to create a return and how to book in returned variations is explained in detail on the <strong><a href="/en/orders/managing-orders#400">Return</a></strong> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="_warranties">3.3. Warranties</h3>
<div class="paragraph">
<p>The steps required for a warranty are very similar to the steps required for a return. In both cases variations that have been booked out from an order will be returned. The difference is that in case of a warranty the variations are usually damaged. In case of a warranty the customer may still want the item and that means you need to send a replacement item or you need to pay back the invoice amount for the returned items. Usually the variation returned in case of a warranty is not rebooked into stock because it is damaged. But a second delivery with an extra order ID and stock movement is often required.</p>
</div>
<div class="paragraph">
<p>How to create a warranty is explained more in detail on the <strong><a href="/en/orders/managing-orders#600">warranty</a></strong> page of the manual.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_booking_outgoing_items_manually">4. Booking outgoing items manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The manual booking of outgoing items must be carried out separately for every single order and therefore is very time-consuming. There are two ways to manually book outgoing items: Even though you can book outgoing items manually automating this process will save you a lot of time.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Do not execute manual booking if you set up automatic booking</div>
<div class="paragraph">
<p>The system processes orders in a specific order that is defined by different factors such as the the time they were created and the time they were ready for packing etc.
These factors ensure that the customer that ordered first, will be served first.
If you start to book the outgoing items for an order that has not yet reached the status for shipping, status 5, or that you have set manually to status 5 or any higher status, then you are skipping the order that was defined automatically and your system can not continue correctly.
Depending on the number of orders that were in line in front of the order that you booked manually, the automatic booking may cause errors for weeks or even months.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_booking_outgoing_items_in_the_order_overview">4.1. Booking outgoing items in the order overview</h3>
<div class="paragraph">
<p>As long as you have not yet booked the outgoing items you will see an icon for booking outgoing items for orders in the order overview. The icon is displayed separately for every order (image 4).
If the outgoing items were already booked, then a check mark will be added to the icon and the icon will be moved to the title line of the order.</p>
</div>
<div class="paragraph">
<p>Clicking on <strong>Book outgoing items</strong> will book the outgoing items with the current date.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-booking-items-out-02.png" alt="EN booking items out 02">
</div>
<div class="title">Figure 2. Booking outgoing items in the order overview</div>
</div>
</div>
<div class="sect2">
<h3 id="_booking_outgoing_items_in_an_order">4.2. Booking outgoing items in an order</h3>
<div class="paragraph">
<p>If you have opened an order, then you can see whether or not the outgoing items have been booked in the <strong>settings</strong> tab of that order.
If the outgoing items have not been booked yet, an icon for booking the items out is displayed (image 5).
Here you can also enter a date that differs from the current date for the booking process if you are booking the outgoing items at a later point in time.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-booking-items-out-03.png" alt="EN booking items out 03">
</div>
<div class="title">Figure 3. Manual booking of outgoing items in an open order</div>
</div>
</div>
</div>
</div>
</main>