<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Planning a warehouse</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up a warehouse</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Managing general warehouse data</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Creating dimensions</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Creating storage locations</span></a></li>
<li><a href="#520"><span>2.4.</span><span> Customising warehouse structures</span></a></li>
</ul>
</li>
<li><a href="#600"><span>3.</span><span> Deleting stocks and warehouses</span></a>
<ul class="sectlevel2">
<li><a href="#630"><span>3.1.</span><span> Deleting stocks</span></a></li>
<li><a href="#670"><span>3.2.</span><span> Deleting a warehouse</span></a></li>
</ul>
</li>
<li><a href="#700"><span>4.</span><span> Creating box storage racks for packing</span></a></li>
<li><a href="#800"><span>5.</span><span> Labelling storage locations</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Setting up a warehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides information about the different options for editing warehouses and other related settings.
Here, you learn how to create a new warehouse that replicates your real-life warehouse 1:1 in your plentymarkets system.
Furthermore, you learn how to set up box storage racks that can be used as interim storage for multi order picking.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Setting up your warehouse effectively is a crucial step for the shipping process and helps you save a lot of time.
Thus, take some time beforehand to consider how to replicate your warehouse effectively and establish optimal picking routes.</p>
</li>
<li>
<p>To make optimal use of all tools, such as <a href="https://marketplace.plentymarkets.com/en/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyBase</a>, assign a <strong>label</strong> with a barcode to each storage location.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">To register stock and book incoming orders, you need at least one warehouse.</div>
<div class="paragraph">
<p>Your plentymarkets system comes with 2 sample warehouses: one distribution warehouse and one repair warehouse. You can either rename and continue using these warehouses or delete them and set up your own ones. To register stock and book incoming items, your system must have at least one warehouse. Consequently, you cannot manage your stock without a warehouse. Incoming orders are assigned to a warehouse according to item availability.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Planning a warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Warehouses consist of dimensions. All dimensions together constitute the layout of your warehouse. These dimensions can be freely defined. When defining the dimensions, start with the smallest dimension and continue with all further dimensions in ascending order.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Applying sample dimensions</div>
<div class="paragraph">
<p>The layout of sample warehouses and newly-created warehouses alike always provides 2 sample dimensions. These dimensions are not saved. You can apply, rename or delete dimensions. However, you need at least one dimension to create a storage location.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-warehouse-structure" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Structuring a warehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dimensions are the basic structuring units of your warehouse. Later on, the dimensions function as a basis for the actual levels of a warehouse. Levels are the concrete applications of a dimension. For example, if you define a storage building as a dimension in your layout, storage buildings 1, 2 and 3 are its concrete applications.<br>
<strong><em>Note:</em></strong> At least one dimension is needed to create storage locations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In plentymarkets, storage locations are no dimensions. Storage locations are the actual places in which you keep your products. You need at least one dimension to create a storage location. Dimensions are superior to storage locations.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>A pick list with optimal picking routes depends on the position of the storage locations. Your settings determine if a dimension influences the position of storage locations. A pick list begins with the lowest position and is sorted in ascending order.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up a warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The process of setting up a warehouse consists of 3 basic steps. First, enter general information such as the name and the purpose of the warehouse. Then add further general information, such as the address of the warehouse. In step 2, you create dimensions that subdivide your warehouse. As a last step, you create storage locations.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Managing general warehouse data</h3>
<div class="paragraph">
<p>You have to manage the following data for each warehouse, no matter if you edit and continue working with sample warehouses or if you create new warehouses.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>New warehouse</strong>.</p>
</li>
<li>
<p>Enter the name.</p>
</li>
<li>
<p>Select a <strong>Warehouse type</strong>.</p>
</li>
<li>
<p>Select a <strong>Logistics type</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings to create a new warehouse.<br>
→ The settings of the warehouse, in which you manage further general data, are opened.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The new warehouse is added to the warehouse list in alphabetical order.</p>
</div>
<div class="paragraph instruction">
<p>Managing general warehouse data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-general-warehouse-settings">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-general-warehouse-settings" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. General warehouse data</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse. Is automatically assigned by the system and cannot be edited.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Selecting a warehouse type according to purpose:<br>
<strong>Sales</strong> = Standard warehouse. Warehouse for sales with automatic processes, such as stock reservation and status change for orders. <br>
<strong>Repair</strong> = Warehouse for returned items. This warehouse can be selected as an <strong>Assigned warehouse for repairs</strong> for <strong>Sales</strong> warehouses. <br>
<strong>Storage</strong> = Warehouse for items that are in stock.<br>
<strong>Transit</strong> = Temporary warehouse for assigning items to the destination address when transferring items from one means of transport to another. <br>
<strong>Distribution</strong> = Distribution warehouse<br>
<strong>Other</strong> = Special warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logistics type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information about the party managing the warehouse. <br>
<strong>Own warehouse</strong> = Logistics are managed in your own warehouse. <br>
<strong>Amazon</strong> = Items are distributed via Amazon FBA Multi-Channel. <br>
<strong>DHL Fulfilment</strong> = Items are distributed via DHL Fulfilment.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse assigned for repairs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you can select <strong>Repair</strong> warehouses. This selection links a warehouse to a repair warehouse, in which e.g. <strong>returned items</strong> can be stored for repairs. This way, faulty items are not mixed up with regular stock. Once the items have been repaired or replaced, re-assign them to the sales warehouse. <br>
The stock of a repair warehouse cannot be transferred to your online store or other platforms. The stock of a repair warehouse provides an overview on items that are currently being repaired. Thus, this stock cannot be sold.<br>
Create the desired repair warehouse so that it becomes available in this drop-down menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the priority of the warehouse. From <strong>+</strong> (lowest priority) to <strong>+++++</strong> (highest priority).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split up according to shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In case you are working with <a href="/en/order-processing/orders/managing-orders#delivery-order">Delivery orders</a>, select <strong>Yes</strong> here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Location of the warehouse. <br>
This is a selection of countries of delivery as defined in <a href="/en/order-processing/fulfilment/preparing-the-shipment#100">System » Orders » Shipping » Settings » Countries of delivery</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard storage location type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The standard storage location type which should be set as default for warehouse settings, e.g. in the <strong>Warehouse</strong> tab in the item settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic reorder level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between active and inactive.<br>
<strong>active</strong> = the difference between the actual order and the reorder level is calculated for variations stored in this warehouse on the basis of the dynamic reorder level. The dynamic reorder level itself is not yet displayed in your system.<br>
Note: To calculate the difference to the reorder level on the basis of the dynamic reorder level for a variation, the <a href="/en/stock management/managing-reorders/#500">reorder level of the variation</a> must be 0.<br>
<strong>inactive</strong> = the difference to the reorder level for variations in this warehouse is not calculated based on the dynamic reorder level, but based on the <a href="/en/stock management/managing-reorders/#500">manually defined reorder level</a>. Thus, you can enter a reorder level bigger than 0 for a variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Average price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose how the average price for the warehouse is calculated.<br>
<strong>Purchase price of stock quantities</strong> = the average purchase price for variations in this warehouse is calculated based on the purchase prices of the existing stock quantity. It is recalculated with all incoming items and outgoing items. This calculation method is called live average calculation.<br>
<strong>Purchase price of variations</strong> = the average purchase price for variations in this warehouse is calculated based on the purchase price saved in the variation data.<br>
<strong>Moving average price of a variation</strong> = the average purchase price for variations in this warehouse is flexibly calculated. In this case, the average purchase price is calculated with all incoming items, but not with outgoing items.<br>
The calculation methods are described in depth in the chapter <a href="/en/stock-management/new-incoming items#250">Identifying the purchase price</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability with stock</strong> and<br>
 <strong>Availability without stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These options determine which availability is displayed if stock exists or does not exist. This setting takes priority over the symbol selected to represent <strong>Availability</strong> in the <strong>Settings</strong> tab of a variation. However, it is important that the options <strong>Available, Not available</strong> have been selected as well in the <strong>Settings</strong> tab of a variation.<br>
The stock has to be recalculated after all changes. This recalculation is carried out in the menu <a href="/en/stock-management/managing-stock">Stock » Stocks</a> by clicking on <strong>Recalculate stocks</strong>.<br>
The availability symbols are displayed according to the settings made in the section <strong>Online store icon</strong> in the menu <strong>System » Item » Availability</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter your notes, i.e. all additional information about the warehouse that you wish to save.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stocktaking mode active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <a href="/en/stock-management/taking-stock#500">stocktaking mode</a> freezes the stock quantity of the warehouse while you are taking stock.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Creating dimensions</h3>
<div class="paragraph">
<p>Create dimensions in order to separate your warehouse into basic elements. At least one dimension is needed to create storage locations. For example, a dimension can be a storeroom. You can create up to 10 dimensions for each warehouse. The dimensions are the basis for the levels of a warehouse.<br>
Consider in advance which dimensions you want to create, and start with the smallest one. Create the dimensions in ascending order.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Applying or deleting sample dimensions</div>
<div class="paragraph">
<p>The layout of each warehouse contains 2 sample dimensions. These dimensions are not saved. You can apply, rename or delete them. However, you need at least one dimension to create a storage location.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a dimension:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Dimensions</strong>.</p>
</li>
<li>
<p>Enter a name for the dimension.</p>
</li>
<li>
<p>Carry out further optional settings. Pay attention to the information provided in <a href="#table-Settings-Dimensions">Table 3</a>.</p>
</li>
<li>
<p>Click on <strong>Add new dimension</strong>.<br>
→ You can now add another dimension. To do so, repeat steps 4 to 6.</p>
</li>
<li>
<p><strong>Save</strong> the settings in order to create the dimensions.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>New dimensions are automatically added as the biggest ones. If you add further dimensions, they take priority, i.e. they are bigger. Thus, you should begin with the smallest dimension.</p>
</div>
<table id="table-Settings-Dimensions" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Creating a dimension</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name is a mandatory field. The name can consist of 56 characters at most. You may use numbers, letters and special characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the prefix. Up to 3 characters are possible. You may use numbers, letters and special characters. The prefix is placed before the level numbering. If the dimension is included in the name of the storage location, the prefix is displayed in the name of the storage location as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose a separator that will be displayed after the dimension.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide if the dimension should be considered for the position of storage locations or not.<br>
<strong>Check mark</strong> = active, i.e. the dimension is considered for the position of storage locations.<br>
<strong>no check mark</strong> = inactive, i.e. the dimension is not considered for the position of storage locations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display in name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether or not the dimension should be included in storage location names.<br>
<strong>Check mark</strong> = active, i.e. the dimension is displayed in storage location names.<br>
<strong>no check mark</strong> = inactive, i.e. the dimension is not displayed in storage location names.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Creating storage locations</h3>
<div class="paragraph">
<p>Create storage locations to indicate the actual areas for storing your items. Variations can only be booked in actual storage locations, not in dimensions. In particular, creating multiple storage locations at once is very easy.</p>
</div>
<div class="paragraph instruction">
<p>Creating storage locations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Storage locations</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to <a href="#table-Creating-Storage_Locations">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→A preview containing sample storage location names is displayed.</p>
</li>
<li>
<p>Click on <strong>Generate</strong> to create storage locations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The storage locations are generated continuously in the background. Although the first storage locations are already displayed, the process is not finished yet. A notification is displayed once all storage locations have been created.</p>
</div>
<table id="table-Creating-Storage_Locations" class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Storage location settings</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Dimensions</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The prefix is assigned automatically on the basis of the settings and can be entered there. It is simply displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From</strong><br>
<strong>To</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the starting value and the end value. Letters, numbers and some combinations of letters and numbers are allowed.<br>
Examples for possible starting and end values:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 to 10</p>
</li>
<li>
<p>A to Z</p>
</li>
<li>
<p>A1 to A10</p>
</li>
<li>
<p>AA to AZ</p>
</li>
<li>
<p>AA to ZZ</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following combinations are not allowed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A1 to Z1: The first letter must remain the same</p>
</li>
<li>
<p>1A to 1Z: Letters cannot be combined with numbers preceding them</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting positions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">only visible if the dimension should be considered for the position of the storage locations.<br>
Enter starting position. Only numbers are allowed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display in name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, it is simply displayed whether the dimension is included in the storage location name or not. Whether the dimension is included in the storage location name is determined in the settings of the dimension.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Storage location</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the prefix for storage locations. The default setting is SL for storage location. Prefix is not a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create storage locations from</strong><br>
<strong>Create storage locations to</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter starting value and end value for storage locations. Letters, numbers and some combinations of letters and numbers are allowed.<br>
Examples for possible starting and end values:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 to 10</p>
</li>
<li>
<p>A to Z</p>
</li>
<li>
<p>A1 to A10</p>
</li>
<li>
<p>AA to AZ</p>
</li>
<li>
<p>AA to ZZ</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following combinations are not allowed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A1 to Z1: The first letter must remain the same</p>
</li>
<li>
<p>1A to 1Z: Letters cannot be combined with numbers preceding them</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting positions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter starting position. Only numbers are allowed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display in name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage locations are always displayed in the name.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purpose</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the purpose of the storage location.<br>
<strong><em>Note:</em></strong> The purpose does not impact on other menus yet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status. The default setting is Active.<br>
<strong><em>Note:</em></strong> The status does not yet impact other menus.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="520">2.4. Customising warehouse structures</h3>
<div class="paragraph">
<p>You can customise the structures of your warehouse, e.g. change the name of the level, modify the level position or simply add new levels and storage locations.</p>
</div>
<div class="paragraph instruction">
<p>Customise warehouse structure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Storage locations</strong>.</p>
</li>
<li>
<p>Click on <strong>Adjust setup</strong>.<br>
→ The structure of your warehouse is displayed.</p>
</li>
<li>
<p>Open a level by clicking on an entry.<br>
→ The level is opened and the next sub-level is displayed.</p>
</li>
<li>
<p>To the right, you can adjust the name and the position.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Deleting levels and storage locations</div>
<div class="paragraph">
<p>You can only delete a level if it does not contain storage locations. When deleting a storage location, make sure that it does not contain stocks.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Deleting stocks and warehouses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can either delete the stocks of a warehouse or a complete warehouse including all stocks. In both cases, the stock movements are deleted as well.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Stocks cannot be restored.</div>
<div class="paragraph">
<p>It does not matter whether you only delete stocks and corresponding stock movements or the warehouse including all stocks and stock movements. Stocks and stock movements cannot be restored. In any case, use the delete function carefully, since it is linked to a variety of other menus, such as Listings. Deleting stocks may deactivate your offers on marketplaces.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="630">3.1. Deleting stocks</h3>
<div class="paragraph">
<p>Deleting stocks completely empties a warehouse. Stock movements are deleted as well. However, dimensions and storage locations remain unchanged.</p>
</div>
<div class="paragraph instruction">
<p>Deleting stocks of a warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.</p>
</li>
<li>
<p>To transfer pending orders to another warehouse, select a new warehouse via <strong>Change warehouse to</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> once again.<br>
→ The warehouse and all its stocks are deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="670">3.2. Deleting a warehouse</h3>
<div class="paragraph">
<p>When deleting a warehouse, you remove all stocks, stock movements, storage locations and dimensions of the warehouse.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete stock completely</strong>.<br>
→ You will be asked to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>OK</strong> to delete the stocks and stock movements.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Creating box storage racks for packing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Box storage racks are used as interim storage for multi order picking. Box storage racks are only available in <a href="/en/basics/automation/processes">Processes</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Maximum number of box storage racks</div>
<div class="paragraph">
<p>You can set up a maximum of 100 boxes for each box storage rack.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up a box storage rack:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse » Select a warehouse » Submenu: Box storage racks</strong>.</p>
</li>
<li>
<p>Click on the <strong>New box rack</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as specified in <a href="#table-settings-box-storage-racks">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-box-storage-racks" class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Settings for box storage racks</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the box storage rack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start box</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the first box of the box storage rack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End box</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the last box of the box storage rack</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">5. Labelling storage locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Scanning your items and the storage location in which they should be stored helps you to book items in quickly. In order to scan storage locations, the storage locations need to be labelled. Image 1 shows example settings for a label that is as wide as the page:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Lager-einrichten-04.png" alt="DE Lager einrichten 04">
</div>
<div class="title">Figure 1. Setting up a label</div>
</div>
<div class="paragraph instruction">
<p>Setting up labels for storage locations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Stock » Warehouse » Select warehouse » Submenu: Settings Label</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information provided in <a href="#table-label-settings">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Zero point of the coordinate system</div>
<div class="paragraph">
<p>The zero point of the coordinate system is located in the top left corner. The x-axis runs from left to right and the y-axis from top to bottom.</p>
</div>
<div class="paragraph">
<p>Experiment with the settings until the label meets your requirements.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-label-settings" class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. Label settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Width and height of the paper used for printing in mm.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Margin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The margins define where the label will be placed on the page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Width and height of a storage location label in mm.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Draw frame</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The label is framed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lines per page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of lines to be printed per page. This number defines how many labels are printed one below the other on a page. The height of a single label also affects the number of labels that can be printed one below the other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line spacing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Line spacing defines the space in mm between two labels positioned one below the other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Columns per line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of columns to be printed per line. This number defines how many labels are printed side by side in a line. Make sure that the width of the labels allows for positioning the labels next to each other according to their number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Column spacing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Column spacing defines the space in mm between two labels that are next to each other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the storage location name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the storage location ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the storage location position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shelf name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the shelf name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rack name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the rack name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong> <strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the storage location barcode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The barcode can also be displayed as an alphanumerical sequence of characters.<br>
<strong>below</strong> = the characters are placed below the barcode<br>
<strong>within</strong> = the characters are placed within the barcode<br>
<strong>do not show</strong> = the characters are not displayed</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Once you have set up your warehouse, proceed with assigning variations to storage locations. Then, book the first incoming items of a variation so that stock is available in your system.</p>
</div>
</div>
</div>
</main>