<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Planning a warehouse</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up a warehouse</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Creating a warehouse</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Completing and editing warehouse settings</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Creating racks with shelves and storage locations</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Copying racks or shelves</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.</span><span> Creating box storage racks for packing</span></a></li>
<li><a href="#800"><span>4.</span><span> Laberling storage locations</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Setting up a warehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, you will be given detailed information about the different options for editing warehouses.
You will learn how to create a new warehouse that replicates your real-life warehouse 1:1 in your plentymarkets system.
Furthermore, you will learn how to set up box storage racks that can be used as interim storage for multi order picking.</p>
</div>
<div class="paragraph">
<p>You have the ability to replicate your warehouse 1:1 in your plentymarkets system. However, this may require some planning on your side.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Effectively setting up your warehouse is a crucial step for a well-functioning shipping process and can help save you a lot of time.
So take some time to get to know the settings and to think of optimal picking routes when replicating your warehouse.</p>
</li>
<li>
<p>Every storage location should be given a <strong>label</strong> with a barcode. This will ensure that you are able to make use of the <strong><a href="/basics/automation/plentymarkets-client">plentymarkets Client  </a></strong> tool.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Planning a warehouse</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Set up at least one warehouse</div>
<div class="paragraph">
<p>You need to set up at least one warehouse before you will be able to register stock and to book incoming items later on. Incoming orders will be assigned to a warehouse depending on the item availability.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You are provided with various units for arranging your warehouse. Below, you can see a list that starts with the largest unit and then continues with progressively smaller and more detailed units:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Dividing a warehouse into units</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Unit</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Explanation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The entire warehouse</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zone</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The warehouse is divided into different zones. Store items that are not ordered very often or seasonal items, in the zone that is the farthest away from your packing zone. In image 1 zone 3 is farthest away. If no items have to be retrieved or stored in this zone, then it can be omitted from the route through the warehouse. Items that are needed on a regular basis should be located in the zone closest to the packing table.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rack</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Each zone is comprised of one or more racks. For example, every zone in the illustration is comprised of four different racks (image 1, bottom).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Level</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Every rack is comprised of one or more levels.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shelf</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Each level is comprised of one or more shelves, depending on how your rack is structured. For example, the rack in the illustration is composed of two shelves per level (image 1, bottom).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Storage location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Your items are stored at specific storage locations. Every shelf has space for one or more storage locations. For example, each shelf in the illustration is composed of three storage locations (image 1, bottom).</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The parameters listed below are used in the given order to create a pick list that follows an optimal route through your warehouse:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Rack position</p>
</li>
<li>
<p>Position of the storage location<br>
→ starting with the lowest position</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You first need to define the number of zones that you divide your warehouse in. A warehouse can be divided into up to 20 zones</p>
</div>
<div class="paragraph">
<p>You can change the route that is taken through the warehouse without changing any name. You only need to change the positions.</p>
</div>
<div class="paragraph">
<p>Image 1 shows an example for planning an optimal route through a warehouse. However, you can arrange your warehouse differently.
A rack consists of several shelves. These shelves can be next to each other as well as above one another.
Assign levels to shelves to indicate that they lie above one another.
The upper part of image 1 shows a plan view of a warehouse so you can only see one level.
Further levels would result in additional shelves and storage locations (image 1, bottom).
The name of a rack and the rack’s position apply to all levels of a rack.</p>
</div>
<div class="paragraph">
<p>The storage location positions in image 1, which are displayed with white numbers, are identical to the actual names of the storage locations. Numbers were also used as names here. They were numbered in ascending order of the racks.
In some places, however, the route that should be taken through the warehouse does not conform to these numbers. Where this is the case, the position numbers were adjusted accordingly and differ from the names. The green numbers represent the storage location position numbers that were adjusted for an optimal route.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-warehouse-set-up-01.png" alt="EN warehouse set up 01">
</div>
<div class="title">Figure 1. Warehouse and route planning</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Plan your configuration with the help of a diagram</div>
<div class="paragraph">
<p>Configure your warehouse according to this illustration or create your own sketch based on the conditions in your warehouse. Set up the warehouse according to a system that is logical and easy to remember. Assign positions to the racks as well as to the storage locations according to the route that will be taken through the warehouse.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up a warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Setting up a warehouse starts with the warehouse itself, but also includes setting up racks, shelves and storage locations.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Creating a warehouse</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Naming warehouses</div>
<div class="paragraph">
<p>Warehouse names can be chosen freely and can also be changed after the warehouse has been created. However, keep in mind that warehouse names will also appear in other areas within your plentymarkets system, e.g. in the order overview or on a warehouse pick list.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a new warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Click on the small <strong>triangle</strong> on the right-hand side of the line (see image 2, number 1).<br>
→ The <strong>New warehouse</strong> button will appear (image 2, number 2).</p>
</li>
<li>
<p>Click on <strong>New Warehouse</strong>.<br>
→ The <strong>New warehouse</strong> window will open.</p>
</li>
<li>
<p>Enter the settings in the <strong>New warehouse</strong> window.</p>
</li>
<li>
<p><strong>Save</strong> the settings to create a new warehouse.<br>
→ The warehouse will now be listed under <strong>Settings » Stock » Warehouse</strong>. The warehouses are displayed in alphabetical order.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-warehouse-set-up-02.png" alt="EN warehouse set up 02">
</div>
<div class="title">Figure 2. creating a warehouse</div>
</div>
<div class="paragraph">
<p>Once you have created the warehouse, click on the small <strong>plus icon</strong> to see the submenus for this warehouse. Configure the remaining warehouse settings in the submenus <strong>Settings</strong>, <strong>Racks</strong>, <strong>Box storage racks</strong> and <strong>Label</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Completing and editing warehouse settings</h3>
<div class="paragraph">
<p>After you have created and named the warehouse complete the warehouse information.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Use the warehouse delete functions carefully</div>
<div class="paragraph">
<p>It is possible to delete previously created warehouses. The stock in this warehouse will also be deleted, if you have already booked stock into the warehouse. It is also possible to just delete the stock from a warehouse. In this case the warehouse will remain, but will be empty. The stock can not be restored in either case. Therefore use these delete functions carefully and beware that the warehouse and the stock may be linked to other menus such as listings etc.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Completing and editing warehouse settings</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Stock » Warehouse » Select warehouse » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. <strong>settings</strong> submenu</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delete stock completely</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Deletes all of the stock from a warehouse. Use this function carefully. How to procede best when you want to take stock is described on the <strong><a href="/stock-management/taking-stock">Carrying out stocktaking  </a></strong> page of this manuel.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Save</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Saves the settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delete</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Deletes the warehouse from the system. When you delete a warehouse, you will be asked to transfer this warehouse’s old reorders and orders in status &lt; 7 to another warehouse. If you do not select another warehouse for transfer, the old reorders will be deleted with the warehouse and orders will remain the same. When you do not select a transfer warehouse you will probably no longer be able to find orders and reorders that belong to the deleted warehouse. Reorders of a non-existing warehouse can not really exist either and that is the main problem here.<br>
<strong>Alternatively</strong>: If you are not sure whether you should really delete a warehouse, you could instead switch warehouses that are no longer needed to the warehouse type <strong>Repair warehouse</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID of a warehouse</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name of the warehouse</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the type depending on the function of the warehouse: <br>
<strong>Sales</strong> = Standard warehouse Warehouse for sales with automatic processes, such as stock reservation and status change for offers. <br>
<strong>Repair</strong> = Warehouse for returned items. You can assign this warehouse to a specific <strong>sales</strong> warehouse by using the option <strong>Warehouse assigned for repairs</strong>. <br>
<strong>Storage</strong> = Warehouse for items that are kept in reserve. <br>
<strong>Transit</strong> = Temporary warehouse for assigning items to the destination address when reloading items from one means of transport to another. <br>
<strong>Distribution</strong> = Distribution warehouse <br>
<strong>Other</strong> = Special warehouse</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logistics type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Information about who manages the warehouse. <br>
<strong>Own warehouse</strong> = The warehouse is managed by you and you take care of the logistics. <br>
<strong>Amazon</strong> = Items are distributed by Amazon FBA Multi-Channel. <br>
<strong>DHL Fulfillment</strong> = Items are distributed by DHL Fulfillment. <br>
<strong>Rhenus</strong> = Items are distributed by Rhenus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse assigned for repairs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can select one of the <strong>repair</strong> warehouses. The repair warehouse is where you want <strong>returned</strong> items to be sent that are in need of repairs. This will let you avoid defective items being mixed together with the normal stock. As soon as the items have been repaired or exchanged, assign them to the distribution warehouse. <br>
The stock of a repair warehouse can not be transmitted to the online store or other platforms. The stock of a repair warehouse provides an overview about whether or not items are still being repaired. Therefore, the stock can not be sold. <br>
Create the desired repair warehouse so that it is available in this drop-down menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Priority</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Set the priority of the warehouse. From <strong>** (lowest priority) to **</strong> (highest priority).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Split up according to shipping profile</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Yes</strong> if you are working with <strong><a href="/order-processing/orders/managing-sales-orders#delivery-order">delivery orders  </a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The location of the warehouse. <br>
Here, you can select the countries that were set up as countries of delivery under <strong><a href="/order-processing/fulfilment/preparing-the-shipment">Settings » Orders » Shipping » Shipping options » Tab: Countries of delivery</a></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard zone</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The standard zone that you want to have automatically set as default in the warehouse settings, e.g. in the <strong>Warehouse</strong> tab within the item editing window.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard storage location type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The standard storage location type that you want to have automatically set as default in the warehouse settings, e.g. in the <strong>Warehouse</strong> tab within the item editing window.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Availability with</strong> and <strong>without stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This option specifies which availability should be displayed when stock is available and when it is not available. This setting takes priority over the <strong>Availablility</strong> symbol selected in the <strong>Settings</strong> tab of a variation.  However the symbols only switch correctly if you activated the <strong>Available, Not available</strong> settings within the variation’s <strong>Settings</strong> tab. <br>
The stock needs to be recalculated after changes have been made. To recalculate stock go to <a href="/stock-management/managing-stocks"><strong>Stock » Stocks</strong>  </a> and click on the <strong>Recalculate stocks</strong> button. <br>
The symbols displayed directly depend on the symbols in <strong>Settings » Item » Item availability</strong> menu. Only symbols that you saved an <strong>Online store icon</strong> for will be available here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Note</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter notes about the warehouse. Notes can be anything you wish to save as additional information about a warehouse.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stocktaking mode active</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <strong><a href="/stock-management/setting-up-a-warehouse#3">stocktaking mode </a></strong> will freeze the stock of the warehouse while you are busy taking stock.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Creating racks with shelves and storage locations</h3>
<div class="paragraph">
<p>Racks are divided into shelves and storage locations. The shelves lie on different levels. Your items and variations are actually stored in the storage locations and the storage locations are on shelves. You need to set up all division of a warehouse down to the smallest division - the storage location - to define the exact spot that a variation is at.  To begin with a name is enough to save a rack. You can reopen the rack settings anytime to carry out further settings. However, you need a shelf and a storage location to book variants in and out. Without shelves and storage locations stock bookings are not possible.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Maximum position number</div>
<div class="paragraph">
<p>The highest number you can assign to a rack is 16349 and to a storage location 130999.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up a rack:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Stock » Warehouse » Select warehouse » Submenu: Racks</strong>.</p>
</li>
<li>
<p>Select the option <strong>New rack</strong> from the drop-down menu.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.<br>
→ An editing window will open (image 3).</p>
</li>
<li>
<p>Enter a <strong>rack name</strong>.</p>
</li>
<li>
<p>Enter a <strong>position</strong> for the rack.</p>
</li>
<li>
<p>Select a <strong>zone</strong>.</p>
</li>
<li>
<p>Enter a <strong>shelf name</strong>.</p>
</li>
<li>
<p>Select a <strong>level</strong> for the shelf.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the storage location.</p>
</li>
<li>
<p>Enter a <strong>position</strong> for the storage location.</p>
</li>
<li>
<p>Select a <strong>type</strong> for the storage location.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The rack will now be listed in the drop-down menu. The racks are sorted by ID.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Once you have saved a rack a tab for a <strong>new rack</strong> will be opened and you can directly add the next rack. 3 fields for storage locations are available per rack by default. You can add further storage locations to a rack by clicking on the green plus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-warehouse-set-up-03.png" alt="EN warehouse set up 03">
</div>
<div class="title">Figure 3. Dividing a rack into smaller storage locations</div>
</div>
</div>
<div class="sect2">
<h3 id="600">2.4. Copying racks or shelves</h3>
<div class="paragraph">
<p>You can either copy entire racks. This includes copying of all shelves and storage locations of the rack. Or you can copy a shelf. Copying a shelf includes copying all storage locations on the shelf. Copying shelves lets you add further shelves to a rack fast. Copying entire racks lets you easily equip a warehouse with further racks.</p>
</div>
<div class="paragraph instruction">
<p>Copying a rack:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Stock » Warehouse » Select warehouse » Submenu: Racks</strong>.</p>
</li>
<li>
<p>Select a rack from the drop-down menu.<br>
→ The rack that was selected will be used as a master.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.<br>
→ An editing window will open.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br></p>
</li>
<li>
<p>→ A window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p><strong>Save</strong> the settings to copy the rack.<br>
Reload the menu to display the rack in the list.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Copying a shelf:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Stock » Warehouse » Select warehouse » Submenu: Racks</strong>.</p>
</li>
<li>
<p>Select a rack from the drop-down menu.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.<br>
→ An editing window will open.</p>
</li>
<li>
<p>Select a shelf.<br>
→ The shelf that was selected will be used as a master.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br></p>
</li>
<li>
<p>→ A window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p><strong>Save</strong> the settings to copy the shelf.<br>
→ A tab will be added.</p>
</li>
<li>
<p>Close the editing window or copy the next shelf.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">3. Creating box storage racks for packing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Box storage racks can be used interims storage for multi order picking. Box storage racks can only be used when working with <strong><a href="/basics/automation/processes">processes</a></strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Maximum number of box storage racks:</div>
<div class="paragraph">
<p>You can set up a maximum of 100 boxes for each box storage rack.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up a box storage rack:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Stock » Warehouse » Select warehouse » Submenu: box storage racks</strong>.</p>
</li>
<li>
<p>Click on the <strong>New box storage rack</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as specified in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Settings for box storage racks</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name for the box storage rack</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Start box</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Number of the first box of the box storage rack</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>End box</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Number of the last box of the box storage rack</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">4. Laberling storage locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Scanning your items and the storage location that you will store them at is a fast way to book items in. In order to scan storage locations the locations need to be labelled. Image 4 shows example settings for a label that is as wide as the page.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-warehouse-set-up-04.png" alt="EN warehouse set up 04">
</div>
<div class="title">Figure 4. Setting up a label</div>
</div>
<div class="paragraph instruction">
<p>Setting up labels for storage locations</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Stock » Warehouse » Select warehouse » Submenu: Label</strong></p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Reference point of the coordinate system</div>
<div class="paragraph">
<p>The reference point of the coordinate system is in the top left corner. The x-axis goes from left to right and the y-axis from top to bottom.</p>
</div>
<div class="paragraph">
<p>Experiment with the settings until the label matches what you had in mind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Label settings</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Width and height of the paper that you will print on in mm.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Margin</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The margins define where the label will be placed on the page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Label</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Width and height of a storage location label in mm.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Draw frame</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The label will have a frame</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lines per page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Number of lines to print per page This number defines how many labels are printed one below the other on a page The height of a single label also affects the number of labels that can be printed one below the other.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Line spacing</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Line spacing defines the space between two labels that are below each other. The line spacing needs to be entered in mm.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Columns per line</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The number of columns to print per line This number defines how many labels are printed one besides the other in a line Make sure that the width of the labels and the number of columns do not conflict with oneanother and can be placed besides each other.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Column spacing</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Column spacing defines the space between two labels that are next to each other. The line spacing needs to be entered in mm.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Storage location name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Coordinates for printing the storage location name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Storage location ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Coordinates for printing the storage location ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Storage location position</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Coordinates for printing the storage location position.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shelf name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Coordinates for printing the shelf name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rack name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Coordinates for printing the rack name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode for storage location</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Coordinates for printing the storage location’s barcode.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Display code</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Additionally the barcode can be displayed as alphanumerical set of characters<br>
<strong>below</strong> = the characters are placed below the barcode<br>
<strong>within</strong> = the characters are placed within the barcode<br>
<strong>do not show</strong> = the characters are not displayed</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Once you have set up your warehouse you need to assign storage locations to variations. When you are done assigning the storage locations you can book your first variation stock into the system. We recommend using the incoming items menu.</p>
</div>
</div>
</div>
</main>