<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Assigning user rights for back end users</span></a></li>
<li><a href="#100"><span>2.</span><span> Planning a warehouse</span></a></li>
<li><a href="#200"><span>3.</span><span> Setting up a warehouse</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Managing general warehouse data</span></a></li>
<li><a href="#400"><span>3.2.</span><span> Creating dimensions</span></a></li>
<li><a href="#500"><span>3.3.</span><span> Creating storage locations</span></a></li>
<li><a href="#520"><span>3.4.</span><span> Customising warehouse structures</span></a></li>
<li><a href="#530"><span>3.5.</span><span> Limitations</span></a></li>
</ul>
</li>
<li><a href="#600"><span>4.</span><span> Deleting stocks and warehouses</span></a>
<ul class="sectlevel2">
<li><a href="#630"><span>4.1.</span><span> Deleting stocks</span></a></li>
<li><a href="#670"><span>4.2.</span><span> Deleting a warehouse</span></a></li>
</ul>
</li>
<li><a href="#700"><span>5.</span><span> Creating box storage racks for packing</span></a></li>
<li><a href="#800"><span>6.</span><span> Labelling storage locations</span></a></li>
<li><a href="#850"><span>7.</span><span> Managing properties</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>7.1.</span><span> Creating properties for storage locations</span></a></li>
<li><a href="#950"><span>7.2.</span><span> Linking properties with the storage location</span></a></li>
<li><a href="#search-property"><span>7.3.</span><span> Searching for properties</span></a></li>
<li><a href="#edit-property"><span>7.4.</span><span> Editing storage location properties</span></a></li>
<li><a href="#delete-property"><span>7.5.</span><span> Deleting properties</span></a>
<ul class="sectlevel3">
<li><a href="#1350"><span>7.5.1.</span><span> Deleting one property</span></a></li>
<li><a href="#1400"><span>7.5.2.</span><span> Deleting multiple properties</span></a></li>
</ul>
</li>
<li><a href="#group-properties"><span>7.6.</span><span> Grouping properties</span></a>
<ul class="sectlevel3">
<li><a href="#assign-property-group"><span>7.6.1.</span><span> Assigning a property to a group</span></a></li>
<li><a href="#multiple-languages-property-group"><span>7.6.2.</span><span> Adding multiple languages to the property group</span></a></li>
</ul>
</li>
<li><a href="#delete-property-groups"><span>7.7.</span><span> Deleting property groups</span></a>
<ul class="sectlevel3">
<li><a href="#delete-one-property-group"><span>7.7.1.</span><span> Deleting one property group</span></a></li>
<li><a href="#delete-multiple-property-groups"><span>7.7.2.</span><span> Deleting multiple property groups</span></a></li>
</ul>
</li>
<li><a href="#import-properties"><span>7.8.</span><span> Importing properties</span></a></li>
<li><a href="#export-properties"><span>7.9.</span><span> Exporting properties</span></a></li>
</ul>
</li>
<li><a href="#1500"><span>8.</span><span> Where can I find my warehouse IDs and storage location IDs?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up a warehouse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides information about the different options for editing warehouses and other related settings.
Here, you learn how to create a new warehouse that replicates your real-life warehouse 1:1 in your plentymarkets system.
Furthermore, you learn how to set up box storage racks that can be used as interim storage for multi order picking.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Setting up your warehouse effectively is a crucial step for the shipping process and helps you save a lot of time.
Thus, take some time beforehand to consider how to replicate your warehouse effectively and establish optimal picking routes.</p>
</li>
<li>
<p>To make optimal use of all tools, such as <a href="https://marketplace.plentymarkets.com/en/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyBase</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, assign a <strong>label</strong> with a barcode to each storage location.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">To register stock and book incoming orders, you need at least one warehouse.</div>
<div class="paragraph">
<p>Your plentymarkets system comes with 2 sample warehouses: one distribution warehouse (KS Sales) and one repair warehouse (KS Repair). You can either rename and continue using these warehouses or delete them and set up your own ones. To register stock and book incoming items, your system needs at least one warehouse. Consequently, you cannot manage your stock without a warehouse. Incoming orders are assigned to a warehouse according to item availability.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Assigning user rights for back end users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If users of the type <strong>Back end</strong> should be able to work with warehouses, a user of the type <strong>Admin</strong> has to assign the right listed in the following to users of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Assigning user rights for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the user account that should be edited.</p>
</li>
<li>
<p>In the <strong>Authorisations</strong> area, activate the option <strong>Stock &gt; Warehouses &gt; Edit</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Planning a warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Warehouses consist of dimensions. All dimensions together constitute the layout of your warehouse. These dimensions can be freely defined. When defining the dimensions, start with the smallest dimension and then continue with all further dimensions in ascending order.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Applying sample dimensions</div>
<div class="paragraph">
<p>The layout of sample warehouses and newly-created warehouses alike always provides 2 sample dimensions. These dimensions are not saved. You can apply, rename or delete dimensions. However, you need at least one dimension to create a storage location.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-structuring-a-warehouse" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Structuring a warehouse</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dimensions are the basic structuring units of your warehouse. Later on, the dimensions function as a basis for the actual levels of a warehouse. Levels are the concrete applications of a dimension. For example, if you define a storage building as a dimension in your layout, storage buildings 1, 2 and 3 are its concrete applications.<br>
<strong><em>Note:</em></strong> At least one dimension is needed to create storage locations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In plentymarkets, storage locations are no dimensions. Storage locations are the actual places in which you keep your products. You need at least one dimension to create a storage location. Dimensions are superior to storage locations.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>A pick list with optimal picking routes depends on the position of the storage locations. Your settings determine if a dimension influences the position of storage locations. A pick list begins with the lowest position and is sorted in ascending order.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Setting up a warehouse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The process of setting up a warehouse consists of 3 basic steps. First, enter general information such as the name and the purpose of the warehouse. Then add further general information, such as the address of the warehouse. In step 2, you create dimensions that subdivide your warehouse. As a last step, you create storage locations.</p>
</div>
<div class="sect2">
<h3 id="300">3.1. Managing general warehouse data</h3>
<div class="paragraph">
<p>You have to manage the following data for each warehouse, no matter if you edit and continue working with sample warehouses or if you create new warehouses.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>New warehouse</strong>.</p>
</li>
<li>
<p>Enter the name.</p>
</li>
<li>
<p>Select a <strong>Warehouse type</strong>.</p>
</li>
<li>
<p>Select a <strong>Logistics type</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to create the warehouse.<br>
→ The settings of the warehouse, in which you manage further general data, open.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The new warehouse is added to the warehouse list in alphabetical order.</p>
</div>
<div class="paragraph instruction">
<p>Managing general warehouse data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-general-warehouse-data">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-general-warehouse-data" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. General warehouse data</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse. Is automatically assigned by the system and cannot be edited.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Selecting a warehouse type according to purpose:<br>
<strong>Sales</strong> = Standard warehouse. Warehouse for sales with automatic processes, such as stock reservation and status change for orders. <br>
<strong>Repair</strong> = Warehouse for returned items. This warehouse can be selected as an <strong>Assigned warehouse for repairs</strong> for <strong>Sales</strong> warehouses. <br>
<strong>Storage</strong> = Warehouse for items that are in stock.<br>
<strong>Transit</strong> = Temporary warehouse for assigning items to the destination address when transferring items from one means of transport to another. <br>
<strong>Distribution</strong> = Distribution warehouse<br>
<strong>Other</strong> = Special warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logistics type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Information about the party managing the warehouse. <br>
<strong>Own warehouse</strong> = Logistics are managed in your own warehouse. <br>
<strong>Amazon</strong> = Items are distributed by Amazon FBA Multi-Channel. <br>
<strong>DHL Fulfilment</strong> = Items are distributed via DHL Fulfilment.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse assigned for repairs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you can select <strong>Repair</strong> warehouses. This selection links a warehouse to a repair warehouse, in which e.g. <strong>returned items</strong> can be stored for repairs. This way, faulty items are not mixed up with regular stock. Once the items have been repaired or replaced, re-assign them to the sales warehouse. <br>
The stock of a repair warehouse cannot be transferred to your online store or other platforms. The stock of a repair warehouse provides an overview of items that are currently being repaired. Thus, this stock cannot be sold.<br>
Create the desired repair warehouse so that it becomes available in this drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the priority of the warehouse. From <strong>+</strong> (lowest priority) to <strong>+++++</strong> (highest priority).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split up according to shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In case you are working with <a href="/en/orders/managing-orders#300">Delivery orders</a> select <strong>Yes</strong> here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Location of the warehouse. <br>
This is a selection of countries of delivery as defined in <a href="/en/fulfilment/preparing-the-shipment#100">Setup » Orders » Shipping » Settings » Countries of delivery</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard storage location type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The standard storage location type which should be set as default for warehouse settings, e.g. in the <strong>Warehouse</strong> tab in the item settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic reorder level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between active and inactive.<br>
<strong>active</strong> = the difference between the actual order and the reorder level is calculated for variations stored in this warehouse on the basis of the dynamic reorder level. The dynamic reorder level itself is not yet displayed in your system.<br>
<strong><em>Note:</em></strong> To calculate the difference to the reorder level on the basis of the dynamic reorder level for a variation, the reorder level of the variation has to be 0.<br>
<strong>inactive</strong> = the difference to the reorder level for variations in this warehouse is not calculated based on the dynamic reorder level, but based on the manually defined reorder level. Thus, you can enter a reorder level bigger than 0 for a variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Average price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose how the average price for the warehouse is calculated.<br>
<strong>Purchase price of stock quantities</strong> = the average purchase price for variations in this warehouse is calculated based on the purchase prices of the existing stock quantity. It is recalculated with all incoming items and outgoing items. This calculation method is called live average calculation.<br>
<strong>Purchase price of variations</strong> = the average purchase price for variations in this warehouse is calculated based on the purchase price saved in the variation data.<br>
<strong>Moving average price of a variation</strong> = the average purchase price for variations in this warehouse is flexibly calculated. In this case, the average purchase price is calculated with all incoming items, but not with outgoing items.<br>
The calculation methods are described in depth in the chapter <a href="/en/stock-management/new-incoming-items#250">Identifying the purchase price</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability with stock</strong> and<br>
 <strong>Availability without stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These options determine which availability is displayed if stock exists or does not exist. This setting takes priority over the symbol selected to represent <strong>Availability</strong> in the <strong>Settings</strong> tab of a variation. However, it is important that the options <strong>Available, Not available</strong> have been selected as well in the <strong>Settings</strong> tab of a variation.<br>
The stock needs to be recalculated after any changes. This recalculation is carried out in the menu <a href="/en/stock-management/managing-stocks">Stock » Stocks</a> by clicking on <strong>Recalculate stocks</strong>.<br>
The availability symbols are displayed according to the settings made in the section <strong>Online store icon</strong> in the menu <strong>Setup » Item » Availability</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Available for order referrers (with automatic warehouse selection)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, you select the order referrers for which the warehouse should be preferred. If an order comes in via one of the selected referrers, this warehouse is selected during the process of automatic warehouse assignment. <strong><em>Important:</em></strong> The settings carried out for the option <strong>Automatic warehouse selection</strong> in the <strong><a href="/en/orders/basic-settings">Setup » Orders » Settings</a></strong> menu are based on this setting. This means that the warehouse is assigned according to the activated order referrer first. The settings concerning the automatic warehouse selection are considered in the second step.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter your notes, i.e. all additional information about the warehouse that you wish to save.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stocktaking mode active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <a href="/en/stock-management/taking-stock#500">stocktaking mode</a> freezes the stock of the warehouse while you are taking stock.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">3.2. Creating dimensions</h3>
<div class="paragraph">
<p>Create dimensions in order to divide your warehouse into basic elements. At least one dimension is needed to create storage locations. For example, a dimension can be a storeroom. You can create up to 10 dimensions for each warehouse. The dimensions are the basis for the levels of a warehouse.<br>
Consider in advance which dimensions you want to create, and start with the smallest one. Create the dimensions in ascending order.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Applying or deleting sample dimensions</div>
<div class="paragraph">
<p>The layout of each warehouse contains 2 sample dimensions. These dimensions are not saved. You can apply, rename or delete them. However, you need at least one dimension to create a storage location.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a dimension:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Dimensions</strong>.</p>
</li>
<li>
<p>Enter a name for the dimension.</p>
</li>
<li>
<p>Carry out further optional settings. Pay attention to the information given in <a href="#table-settings-dimensions">Table 3</a>.</p>
</li>
<li>
<p>Click on <strong>Add new dimension</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ You can now add another dimension. To do so, repeat steps 4 to 6.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings in order to create the dimensions.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>New dimensions are automatically added as the biggest ones. If you add further dimensions, they take priority, i.e. they are bigger. Thus, you should begin with the smallest dimension.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> As long as there are no storage locations, it is possible to delete all dimensions. If storage locations exist, there has to be at least one dimension.</p>
</div>
<table id="table-settings-dimensions" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Creating a dimension</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name is a mandatory field. The name can consist of 56 characters at most. You may use numbers, letters and special characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the prefix. Up to 3 characters are possible. You may use numbers, letters and special characters. The prefix is placed before the level numbering. If the dimension is included in the name of the storage location, the prefix is displayed in the name of the storage location as well.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose a separator that will be displayed after the dimension.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide if the dimension should be considered for the position of storage locations or not.<br>
<strong>check mark</strong> = active, i.e. the dimension is considered for the position of storage locations.<br>
<strong>no check mark</strong> = inactive, i.e. the dimension is not considered for the position of storage locations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display in name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether or not the dimension should be included in storage location names.<br>
<strong>check mark</strong> = active, i.e. the dimension is displayed in storage location names.<br>
<strong>no check mark</strong> = inactive, i.e. the dimension is not displayed in storage location names.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">3.3. Creating storage locations</h3>
<div class="paragraph">
<p>Create storage locations to indicate the actual areas for storing your items. Variations can only be booked in actual storage locations, not in dimensions. In particular, creating multiple storage locations at once is very easy. Once storage locations are created, they are sorted by pick path.</p>
</div>
<h4 id="_assigning_user_rights_for_back_end_users" class="discrete">Assigning user rights for back end users</h4>
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If users of this type should be able to work with storage locations, a user of the type <strong>Admin</strong> has to assign at least the rights listed in <a href="#table-rights-storage-locations">Table 4</a> to users of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Assigning user rights for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the user account that should be edited.</p>
</li>
<li>
<p>In the <strong>Authorisations</strong> area, activate the rights as listed in <a href="#table-rights-storage-locations">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-rights-storage-locations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Assigning rights for storage locations</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock &gt; Warehouses &gt; Warehouse location &gt; Update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to update storage locations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock &gt; Warehouses &gt; Warehouse location &gt; Show</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to see storage locations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock &gt; Warehouses &gt; Warehouse location &gt; Create</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authorises the back end user to create storage locations.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Creating storage locations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Storage locations</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-creating-storage-locations">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ A preview containing sample storage location names is displayed.</p>
</li>
<li>
<p>Click on <strong>Generate</strong> to create storage locations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The storage locations are generated continuously in the background. Although the first storage locations are already displayed, the process is not finished yet. A notification is displayed once all storage locations have been created.</p>
</div>
<table id="table-creating-storage-locations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Storage location settings</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Dimensions</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The prefix is assigned automatically on the basis of the settings and can be entered there. It is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From</strong><br>
<strong>To</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the starting value and the end value. Letters, numbers and some combinations of letters and numbers are allowed.<br>
Examples for possible starting and end values:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 to 10</p>
</li>
<li>
<p>A to Z</p>
</li>
<li>
<p>A1 to A10</p>
</li>
<li>
<p>AA to AZ</p>
</li>
<li>
<p>AA to ZZ</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following combinations and values are not allowed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A1 to Z1: The first letter has to remain the same</p>
</li>
<li>
<p>1A to 1Z: Letters cannot be combined with numbers preceding them</p>
</li>
<li>
<p>Special characters</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting positions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">only visible if the dimension should be considered for the position of the storage locations.<br>
Enter a starting position. Only numbers are allowed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display in name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, it is displayed whether the dimension is included in the storage location name or not. Whether the dimension is included in the storage location name is determined in the settings of the dimension.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Storage location</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the prefix for storage locations. The default setting is SL for storage location. Prefix is not a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create storage locations from</strong><br>
<strong>Create storage locations to</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter starting value and end value for storage locations. Letters, numbers and some combinations of letters and numbers are allowed.<br>
Examples for possible starting and end values:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 to 10</p>
</li>
<li>
<p>A to Z</p>
</li>
<li>
<p>A1 to A10</p>
</li>
<li>
<p>AA to AZ</p>
</li>
<li>
<p>AA to ZZ</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following combinations are not allowed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A1 to Z1: The first letter has to remain the same</p>
</li>
<li>
<p>1A to 1Z: Letters cannot be combined with numbers preceding them</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting positions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a starting position. Only numbers are allowed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display in name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage locations are always displayed in the name.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-purpose">Purpose</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the purpose of the storage location.<br>
Use the purpose <strong>Box</strong> for <a href="https://knowledge.plentymarkets.com/automation/processes/mobile-picking">mobile picking</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br>
<strong><em>Note:</em></strong> The purpose does not impact on other menus yet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-status">Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status. The default setting is Active.<br>
<strong><em>Note:</em></strong> The status does not impact on other menus yet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-notes">Notes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you can take notes regarding the storage location.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of the storage location. Here you can decide, whether you want to select another storage location type than the one that has already been defined as standard storage location type in the warehouse settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Properties</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the property of the storage location.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the value. This field is only available, if the property is a selection property.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="520">3.4. Customising warehouse structures</h3>
<div class="paragraph">
<p>You can customise the structures of your warehouse, e.g. change the name of the level, modify the level position or add new levels and storage locations and directly place them at the desired location.
If an element has been moved, all positions are updated automatically.</p>
</div>
<div class="paragraph instruction">
<p>Moving an existing element:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Select a warehouse.</p>
</li>
<li>
<p>Click on <strong>Storage locations</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Click on <strong>Adjust setup</strong>.<br>
→ The warehouse structure opens.</p>
</li>
<li>
<p>Click on the element you want to move.</p>
</li>
<li>
<p>Click on <strong>Move</strong>.<br>
→ The settings open.</p>
</li>
<li>
<p>Select the placement.</p>
</li>
<li>
<p>Select the target and click on the check mark <strong>Select</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The element is moved.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Placing a new storage location in the warehouse structure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Select a warehouse.</p>
</li>
<li>
<p>Click on Storage locations.<br>
→ The overview opens.</p>
</li>
<li>
<p>Click on <strong>Adjust setup</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Click on <strong>New storage location</strong>.<br>
→ The settings open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-adjust-warehouse-structure">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The structure is updated accordingly.</p>
</li>
</ol>
</div>
<table id="table-adjust-warehouse-structure" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Adjusting warehouse structure</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the new storage location.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Placement</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you want to insert it in front of or behind an existing element.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purpose</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the purpose from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position of the element.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the target.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you can take notes regarding the storage location.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates, whether a storage location is available. Green means that the storage location does not contain any items; red signals that at least one item is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the property of the storage location.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Deleting levels and storage locations</div>
<div class="paragraph">
<p>You can only delete a level if it does not contain any storage locations. When deleting a storage location, make sure that it does not contain any stock.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="530">3.5. Limitations</h3>
<div class="paragraph">
<p>When creating dimensions or generating storage locations there are some limitations that need to be considered. Moreover, specific letter and number combinations should be used for inputs into the generator.</p>
</div>
<table id="table-limitations-for-dimensions" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Limitations for dimensions</caption>
<colgroup>
<col style="width: 75%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Limitation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum number of dimensions that can be created</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum number of dimensions required</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of characters for the name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">56</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of characters for the prefix (no numbers)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
</tr>
</tbody>
</table>
<table id="table-limitations-generating-storage-locations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Limitations for generating storage locations</caption>
<colgroup>
<col style="width: 75%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Limitation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum number of storage locations per dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">200</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum number of storage locations per generation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">100,000</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only use letters or numbers, but no special characters like *!%</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">No decimals</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">No letters for the start position</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum number of characters in the note box</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">500</p></td>
</tr>
</tbody>
</table>
<table id="table-limitations-letter-and-number-combinations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Letter and number combinations for inputs into the generator</caption>
<colgroup>
<col style="width: 75%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Can be used</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A to C<br>
A1 to A10<br>
A to AC<br>
AA to CC</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cannot be used</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A1 to B1<br>
1A to 1C</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. Deleting stocks and warehouses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can either delete the stocks of a warehouse or a complete warehouse including all stocks. In both cases, the stock movements are deleted as well.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Stocks cannot be restored.</div>
<div class="paragraph">
<p>It does not matter whether you only delete stocks and corresponding stock movements or the warehouse including all stocks and stock movements. Stocks and stock movements cannot be restored. In any case, use the delete function carefully, since it is linked to a variety of other menus, such as Listings. Deleting stocks may deactivate your offers on marketplaces.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="630">4.1. Deleting stocks</h3>
<div class="paragraph">
<p>Deleting stocks completely empties a warehouse. Stock movements are deleted as well. However, dimensions and storage locations remain unchanged.</p>
</div>
<div class="paragraph instruction">
<p>Deleting stocks of a warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).</p>
</li>
<li>
<p>To transfer pending orders to another warehouse, select a new warehouse via <strong>Change warehouse to</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>) once again.<br>
→ The warehouse and all its stocks are deleted.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> It is not recommended to delete stocks that way, as this is not GoBD compliant (German guidelines for bookkeeping). Instead, it is advised to export stocks per dynamic export, to adapt the CSV file by setting the stocks to zero and to reimport the zeroed stocks afterwards. Thus, the stock movements don’t get lost and legally compliant working is guaranteed.</p>
</div>
</div>
<div class="sect2">
<h3 id="670">4.2. Deleting a warehouse</h3>
<div class="paragraph">
<p>When deleting a warehouse, you remove all stocks, stock movements, storage locations and dimensions of the warehouse.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Open a warehouse.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete stock completely</strong>.<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>OK</strong> to delete the stocks and stock movements.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Deleting the stock also deletes the stock movements. Thus, they can’t be restored, which is not GoBD compliant.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">5. Creating box storage racks for packing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Box storage racks are used as interim storage for multi order picking. Box storage racks are only available in <a href="/en/automation/processes">Processes</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Maximum number of box storage racks</div>
<div class="paragraph">
<p>You can set up a maximum of 100 boxes for each box storage rack.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up a box storage rack:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse » [select warehouse] » submenu: Box storage racks</strong>.</p>
</li>
<li>
<p>Click on the <strong>New box rack</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-settings-box-storage-racks">Table 10</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-box-storage-racks" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Settings for box storage racks</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the box storage rack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start box</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the first box of the box storage rack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>End box</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the last box of the box storage rack</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">6. Labelling storage locations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Scanning your items and the storage location in which they should be stored helps you to book items in quickly. In order to scan storage locations the locations need to be labelled. Image 1 shows example settings for a label that is as wide as the page:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/warenwirtschaft/assets/DE-Lager-einrichten-04.png" alt="DE Lager einrichten 04">
</div>
<div class="title">Figure 1. Setting up a label</div>
</div>
<div class="paragraph instruction">
<p>Setting up labels for storage locations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse » [select warehouse] » submenu: Label</strong></p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-label-settings">Table 11</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Zero point of the coordinate system</div>
<div class="paragraph">
<p>The zero point of the coordinate system is located in the top left corner. The x-axis goes from left to right and the y-axis from top to bottom.</p>
</div>
<div class="paragraph">
<p>Experiment with the settings until the label meets your requirements.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-label-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 11. Label settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Width and height of the paper used for printing in mm.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Margin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The margins define where the label will be placed on the page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Width and height of a storage location label in mm.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Draw frame</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The label is framed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lines per page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of lines to be printed per page. This number defines how many labels are printed one below the other on a page. The height of a single label also affects the number of labels that can be printed one below the other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line spacing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Line spacing defines the space in mm between two labels positioned one below the other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Columns per line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of columns to be printed per line. This number defines how many labels are printed side by side in a line. Make sure that the width of the labels allows positioning the labels next to each other according to their number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Column spacing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Column spacing defines the space in mm between two labels that are next to each other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the storage location name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the storage location ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the storage location position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shelf name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the shelf name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rack name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the rack name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong> <strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coordinates for printing the storage location barcode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The barcode can also be displayed as an alphanumerical sequence of characters.<br>
<strong>below</strong> = the characters are placed below the barcode<br>
<strong>within</strong> = the characters are placed within the barcode<br>
<strong>do not show</strong> = the characters are not displayed</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Once you have set up your warehouse, proceed with assigning variations to storage locations. Then, book the first incoming items of a variation so that stock is available in your system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="850">7. Managing properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Properties are frequently occurring information that you can use to further characterise your contacts. For example, you can use properties to specify which storage locations are appropriate for items requiring refrigeration.</p>
</div>
<div class="paragraph">
<p>You can also create property groups to get a better overview in case you are working with a large number of properties.</p>
</div>
<div class="paragraph">
<p>The following sub-chapters describe how to <a href="/en/stock-management/setting-up-a-warehouse#900">create</a>, <a href="/en/stock-management/setting-up-a-warehouse#950">link</a>, <a href="#search-property">search</a>, <a href="#edit-property">edit</a> and <a href="#delete-property">delete</a> properties and how to <a href="#group-properties">group</a>, <a href="#import-properties">import</a> and <a href="#export-properties">export</a> them.</p>
</div>
<div class="sect2">
<h3 id="900">7.1. Creating properties for storage locations</h3>
<div class="paragraph">
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong> to create properties that you will later use for characterising your storage locations.
That way you can look for small, medium or large storage locations and all item IDs can be linked to it. Moreover, characterising your storage locations will hep you to directly place your items in the right spot.<br>
Proceed as described below to create a property.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>In the drop-down list <strong>Section</strong>, select the option <strong>Storage location</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Pay attention to the information given in <a href="#table-create-property">Table 12</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
</ol>
</div>
<table id="table-create-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 12. Creating properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the setting <strong>Storage location</strong> from the drop-drop-down list to make sure that the property can be used in this area.<br>
Additionally, the areas <a href="/en/item/settings/properties#500">Item</a> and <a href="/en/crm/managing-contacts#950">Contact</a> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the property type from the drop-down list.<br>
<strong>None</strong> = Select this option if properties are to be used in areas other than <strong>Item</strong>, <strong>Storage location</strong> and <strong>Contact</strong>, e.g. for the faceted search.<br>
<strong>Selection</strong> = This option allows to enter values and then select one of these values from a drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name for the property.<br>
<strong><em>Note:</em></strong> The name of the system language is displayed by default. After the property has been created, you can save the name in further languages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the description of the property.<br>
<strong><em>Note:</em></strong> The description of the system language is displayed by default. After the property has been created, you can save the description in further languages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a property group from the drop-down list to assign the property to this group. This is optional.<br>
<strong><em>Tip:</em></strong> Click on <strong>Add property group</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) on the right side of the line to create a group.<br>
For further information about property groups, refer to the <a href="#group-properties">Grouping properties</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number for the property. Properties are sorted by the position number in ascending order.<br>
<strong><em>Tip:</em></strong> Count by tens when creating position numbers. This allows you to easily add new properties in between.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="950">7.2. Linking properties with the storage location</h3>
<div class="paragraph">
<p>After you have created the property in the <strong>Setup » Settings » Properties » Configuration</strong> menu, you can link the property with the storage location. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Linking properties with the storage location:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse » [select warehouse] » Storage locations</strong>.</p>
</li>
<li>
<p>Use the search filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span> for the storage location.<br>
→ The storage locations that correspond to the entered search criteria are displayed.</p>
</li>
<li>
<p>Click in the line of the storage location.<br>
→ The detail view of the storage location opens.</p>
</li>
<li>
<p>Click on <strong>Properties</strong> on the left side in the context menu.<br>
→ All properties that are available for the storage location are displayed and you can add them there.<br>
*<em>Tip:</em>*If you want to link properties with several storage locations at the same time you can use the group function (<span class="icon green"><i class="fa fa-cogs  "></i></span>).<br></p>
</li>
<li>
<p>Select up to 3 properties and the corresponding values. The <strong>Value</strong> field is only available if the property is of the type Selection.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The properties are linked with the storage location.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="search-property">7.3. Searching for properties</h3>
<div class="paragraph">
<p>You can manage properties centrally in the <strong>Setup » Settings » Properties » Configuration</strong> menu. After opening the menu, start the search to display the properties. In order to search for specific properties, enter a search term in the search fields. The drop-down lists help you search for properties that share specific criteria. You can combine as many search filters as you like.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>In the <strong>Filter</strong> view, enter the search term in the search field or set the filter options in the drop-down lists. Pay attention to the information given in <a href="#table-filter-properties">Table 13</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The properties that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the property.<br>
→ The detail view of the property opens.</p>
</li>
</ol>
</div>
<table id="table-filter-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 13. Filters for the properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) without selecting any filter settings to display all properties.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Limit the search results by using filters and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The properties found are listed in the overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <span class="icon orange"><i class="fa fa-undo  "></i></span> to reset the filter criteria set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Each property automatically receives a consecutive and unique ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name to search for the property with this name. It is also possible to search only for parts of the name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language to only display properties for which a name has been saved in this language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the group to only display properties that are assigned to this group.<br>
Select <strong>Not grouped</strong> to only display properties that are not assigned to a group.<br>
Select <strong>Grouped</strong> to only display properties that are assigned to a group.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <strong>Storage location</strong> area to only display properties that are used in this area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a property type to only display properties of this type.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="edit-property">7.4. Editing storage location properties</h3>
<div class="paragraph">
<p>The <strong>Setup » Settings » Properties » Configuration</strong> menu contains all properties that you have created so far. Here you change the settings described in <a href="#table-create-properties">Table 14</a>.</p>
</div>
<div class="paragraph instruction">
<p>Editing a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display all properties or select filters to limit the search results. Pay attention to the information given in <a href="#table-filter-properties">Table 13</a>.</p>
</li>
<li>
<p>Click on the property that you want to edit.<br>
→ The <strong>General</strong> tab opens.</p>
</li>
<li>
<p>Edit the settings. Pay attention to the information given in <a href="#table-edit-property">[table-edit-property]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 14. Editing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>General</strong> &gt; Area <strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new position to change the order of the properties.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>General</strong> &gt; Area <strong>Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>;<br>
<strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For multilingualism, enter name and description for other languages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>General</strong> &gt; Area <strong>Group</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option to assign one or multiple groups to the property.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Tab <strong>Values</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible for the property types <strong>Selection</strong> and <strong>Multi-selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the values that are to be displayed for your customers in the drop-down list.<br>
Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to create a value.<br>
<strong>Name</strong> = Enter a name for the property value.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="delete-property">7.5. Deleting properties</h3>
<div class="paragraph">
<p>You can delete only one or multiple properties at the same time.</p>
</div>
<div class="sect3">
<h4 id="1350">7.5.1. Deleting one property</h4>
<div class="paragraph">
<p>Proceed as described below to irreversibly delete a property if it is no longer needed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting one property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display all properties or select filters to limit the search results.</p>
</li>
<li>
<p>Click on the property that you want to delete.<br>
→ The property opens.</p>
</li>
<li>
<p>Click on <strong>Delete property</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The property is deleted and removed from the overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1400">7.5.2. Deleting multiple properties</h4>
<div class="paragraph">
<p>Proceed as described below to irreversibly delete multiple properties if they are no longer needed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting multiple properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display all properties or select filters to limit the search results.</p>
</li>
<li>
<p>Activate the properties that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The selected properties are deleted and removed from the overview.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="group-properties">7.6. Grouping properties</h3>
<div class="paragraph">
<p>Create property groups to summarise multiple properties. Proceed as described below to create a property group.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p>Click on <strong>Add property group</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-create-property-group">Table 15</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property group is created.</p>
</li>
</ol>
</div>
<table id="table-create-property-group" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 15. Creating a new property group</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the property group in your plentymarkets system’s default language.<br>
<strong><em>Note:</em></strong> Once you’ve created the property group, you can save the name in further languages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a description of the property group in your plentymarkets system’s default language.<br>
<strong><em>Note:</em></strong> The description of the system language is displayed by default. Once you’ve created the property group, you can save the description in further languages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number for the property group. Properties are sorted by the position number in ascending order. When a storage location has properties from several groups, the groups are displayed in ascending order.<br>
<strong><em>Tip:</em></strong> Count by tens when creating position numbers. This allows you to easily add new property groups in between.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the group type from the drop-down list.<br>
<strong>None</strong> = Properties are not grouped by default.<br>
<strong>Select</strong> = One of the grouped properties can be selected from the drop-down list.<br>
<strong>Multiselect</strong> = Multiple properties can be selected.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharge type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you plan on offering extra services or options for an additional fee? If so, then decide whether the surcharge should be treated as a percentage or as a fixed price, e.g. 5% or 5 EUR.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="assign-property-group">7.6.1. Assigning a property to a group</h4>
<div class="paragraph">
<p>Proceed as described below to assign one or more properties to a property group.</p>
</div>
<div class="paragraph instruction">
<p>Assigning properties to a group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display all properties or select filters to limit the search results. Pay attention to the information given in <a href="#table-filter-properties">Table 13</a>.</p>
</li>
<li>
<p>Activate the properties that you want to assign to the group.</p>
</li>
<li>
<p>Click on <strong>Assign property group</strong> (<span class="icon "><i class="psicon-settings_transfer"></i></span>).<br>
→ A drop-down list of the available property groups appears.</p>
</li>
<li>
<p>Select the property group from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Group function</strong> (<span class="icon "><i class="psicon-excecute"></i></span>).<br>
→ The list is reloaded and the selected properties are assigned to the property group.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="multiple-languages-property-group">7.6.2. Adding multiple languages to the property group</h4>
<div class="paragraph">
<p>You can add multiple languages to property groups.</p>
</div>
<div class="paragraph instruction">
<p>Adding multiple languages to a property group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Select a property group.<br>
→ The overview opens and all available languages are displayed.</p>
</li>
<li>
<p>Select a language.</p>
</li>
<li>
<p>Enter the name in the selected language.</p>
</li>
<li>
<p>Enter the description for the language.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The language is added to the property group.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="delete-property-groups">7.7. Deleting property groups</h3>
<div class="paragraph">
<p>You can delete one or more property groups at the same time. Properties that are assigned to groups remain unaffected when deleting property groups.</p>
</div>
<div class="sect3">
<h4 id="delete-one-property-group">7.7.1. Deleting one property group</h4>
<div class="paragraph">
<p>Proceed as described below to irreversibly delete a property group if it is no longer needed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting one property group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display all property groups or select filters to limit the search results. Pay attention to the information given in <a href="#table-filter-properties">Table 13</a>.</p>
</li>
<li>
<p>Click on the property group that you want to delete.<br>
→ The detail view of the property group opens.</p>
</li>
<li>
<p>Click on <strong>Delete group</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The property group is deleted and removed from the overview.<br>
<strong><em>Note:</em></strong> When you delete a property group, the properties that are assigned to the group are <em>not</em> deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="delete-multiple-property-groups">7.7.2. Deleting multiple property groups</h4>
<div class="paragraph">
<p>Proceed as described below to irreversibly delete multiple property groups if they are no longer needed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting multiple property groups:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display all property groups or select filters to limit the search results. Pay attention to the information given in <a href="#table-filter-properties">Table 13</a>.</p>
</li>
<li>
<p>Activate the property groups that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The selected property groups are deleted and removed from the overview.<br>
<strong><em>Note:</em></strong> When you delete a property group, the properties that are assigned to the group are <em>not</em> deleted.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="import-properties">7.8. Importing properties</h3>
<div class="paragraph">
<p>Use the import tool and the import type <strong>Properties</strong> to import properties into your plentymarkets system. The fields that you can use for mapping and matching are described on the page of the manual of the import type <a href="/en/data/importing-data/sync-types/elasticSync-properties">Properties</a>.</p>
</div>
<div class="paragraph">
<p>For general information about importing data into your plentymarkets system, refer to the <a href="/en/data/importing-data/ElasticSync">Using the import tool</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="export-properties">7.9. Exporting properties</h3>
<div class="paragraph">
<p>Use the FormatDesigner and the format type <strong>property</strong> to export properties. For further information, refer to the page of the manual of the format type <a href="/en/data/exporting-data/FormatDesigner/format-types/properties">Properties</a>.</p>
</div>
<div class="paragraph">
<p>For general information about exporting data into your plentymarkets system, refer to the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> page of the manual.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">8. Where can I find my warehouse IDs and storage location IDs?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You will find the IDs of your warehouses in the menu <strong>Setup » Stock » Warehouse » [select warehouse] » Settings</strong> and the IDs of your storage locations in the menu <strong>Setup » Stock » Warehouse » [select warehouse] » Storage locations</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">ID of the standard storage location</div>
<div class="paragraph">
<p>The ID of the standard storage location is 0. However, the standard storage location is only a kind of placeholder. It is sensible to create own storage locations in order to indicate the actual storage location.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>