<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering stocktaking with the export and import functions</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Exporting stock</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Editing stock quantities</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Importing stocks</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Taking stock while stocktaking mode is active</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Activating the stocktaking mode</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Exporting stock</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Clearing stock while stocktaking mode is active</span></a></li>
<li><a href="#900"><span>2.4.</span><span> Booking stock</span></a></li>
<li><a href="#1000"><span>2.5.</span><span> Deactivating the stocktaking mode</span></a></li>
</ul>
</li>
<li><a href="#_taking_stock_with_the_plentymarkets_app"><span>3.</span><span> Taking stock with the plentymarkets app</span></a>
<ul class="sectlevel2">
<li><a href="#_preparing_app_stocktaking"><span>3.1.</span><span> Preparing app stocktaking</span></a>
<ul class="sectlevel3">
<li><a href="#_exporting_stock_with_the_data_format_stock"><span>3.1.1.</span><span> Exporting stock with the data format Stock</span></a></li>
<li><a href="#_assigning_rights_for_stocktaking"><span>3.1.2.</span><span> Assigning rights for stocktaking</span></a></li>
<li><a href="#_personalising_app_stocktaking"><span>3.1.3.</span><span> Personalising app stocktaking</span></a></li>
</ul>
</li>
<li><a href="#_stocktaking_with_the_plentymarkets_app"><span>3.2.</span><span> Stocktaking with the plentymarkets app</span></a>
<ul class="sectlevel3">
<li><a href="#_scanning_each_piece_of_an_item_individually"><span>3.2.1.</span><span> Scanning each piece of an item individually</span></a></li>
<li><a href="#_entering_the_counted_quantity"><span>3.2.2.</span><span> Entering the counted quantity</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Taking stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Taking stock, or taking inventory, is the process of checking how much stock is in a warehouse at a particular time. Both the target and the actual stock are analyzed in the process. This is done with the help of a stock index, which lists the stock of every item.</p>
</div>
<div class="paragraph">
<p>This page teaches you how to take stock. You will learn how to use the <strong>Data exchange</strong> menu to take stock. Then you will also learn how the <strong>stocktaking mode</strong> works and how to use this mode to completely delete and rebook your entire stock.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Stocktaking only with Dynamic import and Dynamic export</div>
<div class="paragraph">
<p>Stocktaking can only be performed using the <strong>Dynamic import</strong> and the <strong>Dynamic export</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering stocktaking with the export and import functions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The stocktaking via data exchange requires several steps. First you need to export the current stock quantities saved in your system. Next you need to edit the stock quantities so that they reflect the actual quantities available in your warehouse and then you need to reimport the corrected data into your system. You can either work in the file that you exported or you can make a copy of that file to ecit the actual quantities.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Getting to know the data format Stock and testing the data exchange</div>
<div class="paragraph">
<p>Please pay attention to the notes specified on the <a href="/en/data/export-import/data-formats/stock">Stock</a> data format page of the manual – especially before you start to overwrite the stock quantities in your system. To test the import use a test file that only contains one variation and overwrite the stock of that variation. This way you can easily check the result and see if it turned out as desired.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Exporting stock</h3>
<div class="paragraph">
<p>In the first step, go to <strong>Data » Dynamic export</strong> and use the data format <strong>Stock</strong> to export your current stock.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">The stock export is for one warehouse only</div>
<div class="paragraph">
<p>The data format <strong>Stock</strong> can only export the stock of one warehouse at a time. You can select the warehouse from the warehouseID filter. Click on the <strong>Filter</strong> tab of the data format. If you do not select any warehouse, then the warehouse with the lowest ID will be selected by default.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Carrying out the data export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="/en/data/export-import/exporting-data">Data » Dynamic export</a>.<br>
→ The overview opens.</p>
</li>
<li>
<p>Open the submenu for the data format <a href="/en/data/export-import/data-formats/stock">Stock</a> by clicking on the <strong>plus</strong>. If the submenu is not available yet, set up the  <a href="/en/data/export-import/data-formats">data format</a> Stock by clicking on <strong>New data format</strong>.</p>
</li>
<li>
<p>Place a check mark for the following data formats: VariationID, LocationID, Batch (optional), BestBeforeDate (optional), PurchasePrice, Stock, WarehouseID.</p>
</li>
<li>
<p>On the right, carry out further settings to limit the export to specific data.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on the <strong>Filter</strong> tab.</p>
</li>
<li>
<p>Select a warehouse from the <strong>WarehouseID</strong> drop-down list. <br>
→ The warehouse with the lowest warehouse ID is selected by default.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on the gear wheel <strong>Export data</strong> in order to export a CSV file.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">The difference between the data field <strong>WarehouseID</strong> and the filter <strong>Warehouse</strong></div>
<div class="paragraph">
<p>The <strong>WarehouseID</strong> filter lets you define from which warehouse the stock will be exported. The <strong>WarehouseID</strong> data field contains the ID of a warehouse. The <strong>WarehouseID</strong> data field does not influence the content of the export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You will receive a CSV file, which you will need to edit and then import again afterwards.</p>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Editing stock quantities</h3>
<div class="paragraph">
<p>Now you need to edit the file that you just exported. When taking stock you need to count the actual stock in your warehouse and compare it to the quantities saved as physical stock in your system. The quantities displayed in <strong>Stock</strong> column of your <strong>Stock</strong> data export are the physical stock saved in your system.</p>
</div>
<div class="paragraph instruction">
<p>Making changes to the stock file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Determine the actual stock.</p>
</li>
<li>
<p>Open the stock file that you exported.</p>
</li>
<li>
<p>Enter the actual stock into the <strong>Stock</strong> column.</p>
</li>
<li>
<p>Save the changes to the file.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Importing stocks</h3>
<div class="paragraph">
<p>The file now contains the corrected stock values and needs to be imported back into your plentymarkets system. A CSV file or text file is used for the import.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">The physical stock will be overwritten!</div>
<div class="paragraph">
<p>The import will overwrite the current physical stock and this means the stock that was overwritten can not be restored. Reserved stock quantities remain untouched and will not be imported. If you do not want to import your entire stock, because you only need to add incoming stock to correct your stock quantities, you can also add incoming stock via data import. Use the special format <a href="/en/data/export-import/data-formats/incomingitems">IncomingItems</a> to add incoming stock.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Carrying out the data import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="/en/data/export-import/importing-data">Data » Dynamic import</a>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and select the settings as desired.</p>
</li>
<li>
<p>Click on <strong>Import</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Import settings for dynamic import</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the separator.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the data format Stock.<br>
If you have set up several stock formats and the file contains the warehouse ID column then the import will only change the stock quantities for the warehouse specified by the ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the file that you want to import does not include a <strong>WarehouseID</strong> column, then the import will overwrite the stock of the warehouse that you have selected here. If the file includes a <strong>WarehouseID</strong> column and the ID in the column is 1 or higher, then your setting will not have an impact on the import. Instead the import will be carried out based on the ID. The ID allows you to import stock for several warehouses at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The barcode is an optional field for synchronisation. Select the barcode format that should be used to synchronise the variation included in your file with the variations in your system. If the information included in the file do not match a variation in your system, then the row in the file will be skipped. It is not necessary to select a barcode for data synchronisation if the variation ID is included in the file. The variation ID is unique and is therefore enough to match the data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the file that you wish to import.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can see detailed information about the data import in the <strong>Data » Dynamic import » Submenu: Processing status</strong> menu.</p>
</div>
<div class="paragraph">
<p>You can see the corrections that you made during the stocktaking process by opening the item and clicking on <strong>Tab: Stock » Tab: Item movement</strong>.
In addition the import will be listed as an entry in the <strong>Stock » Incoming items</strong> menu. You can open the entry to see a list of the item that were changed (image 1).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-taking-stock-01.png" alt="EN taking stock 01">
</div>
<div class="title">Figure 1. List of variations that received stock</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Taking stock while stocktaking mode is active</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There is an option in the warehouse settings called <strong>Active stocktaking mode</strong>. You can use it to freeze the stock of a warehouse while you are busy taking stock. While the stocktaking mode is active the physical stock remains the same and no item movements will be registered nor will stock be newly calculated. <br>
Taking stock while the stocktaking mode is active can be carried out in 4 steps. First you need to activate the stocktaking mode. Next you need to export the current stock. Then you need to clear all stock and book the new stock quantities in. While the stocktaking mode is active your system will not change the stock quantities saved in a variation’s data record. When you have booked in the new stock quantities and then you deactivate the stocktaking mode, your new stock quantities will be saved for variations. The old stock quantity will be overwritten. While stocktaking mode is active your reserved stock will still be calculated correctly. This means that stock will be reserved whenever you receive a new order. When you use the stocktaking mode, you need to know the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>While the stocktaking mode is active, the physical stock remains frozen and this may lead to overselling.</p>
</li>
<li>
<p>Nonetheless, you should not book out stock either if the stocktaking mode is active, because the stock will not be calculated.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Deactivate the stocktaking mode only if you have already booked in the new stock quantities</div>
<div class="paragraph">
<p>If you deactivate the stocktaking mode while your stock is cleared, listings and offers on markets may be deactivated. To avoid that offers are aborted you need to book in the new stock quantities first and then deactivate the stocktaking mode.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="600">2.1. Activating the stocktaking mode</h3>
<div class="paragraph">
<p>Activate the stocktaking mode for the warehouse that you want to carry out the stocktaking in. The stocktaking mode will freeze all stock quantities of the warehouse.</p>
</div>
<div class="paragraph instruction">
<p>Activating the stocktaking mode:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse » Select warehouse » Submenu: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>active stocktaking mode</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the setting.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-taking-stock-02.png" alt="EN taking stock 02">
</div>
<div class="title">Figure 2. Activating the stocktaking mode</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">A warehouse that is in stocktaking mode will be labeled</div>
<div class="paragraph">
<p>Additional information is added to the name of your warehouse. Depending on how long the warehouse’s name is, either <strong>(INVENTORY MOD)</strong>, <strong>(INVENTORY)</strong> or <strong>(I)</strong> is added to the end of the name. This way, you can tell that the warehouse is currently in stocktaking mode.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/stock-management/assets/EN-taking-stock-03.png" alt="EN taking stock 03">
</div>
<div class="title">Figure 3. Identifying a warehouse that is in stocktaking mode</div>
</div>
</div>
<div class="sect2">
<h3 id="700">2.2. Exporting stock</h3>
<div class="paragraph">
<p>Activate the stocktaking mode for the warehouse that you want to carry out the stocktaking in. To do so, use the data format <strong>Stock</strong>. You need one export per warehouse.</p>
</div>
<div class="paragraph instruction">
<p>Exporting stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <a href="/en/data/export-import/exporting-data">Data » Dynamic export</a>.</p>
</li>
<li>
<p>Click on the <strong>New data format</strong> tab.</p>
</li>
<li>
<p>Select the data format type <strong>Stock</strong>.</p>
</li>
<li>
<p>Enter a name for the data format.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and select the settings as desired. <br>
→ Further data fields and filters are optional.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data fields that are required for stocktaking</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Import procedure</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of a variation and is required for stock synchronisation.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the physical stock and the import procedure setting <strong>Import</strong> ensures that the physical stock will be overwritten if the file is imported.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of a warehouse and ensures that the stock can be assigned to a warehouse.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LocationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the ID of a storage location and ensures that the stock can be assigned to a storage location.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationString</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contains the name of a variation. This data field can often help to easily identify variations.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="3"><p class="tableblock">Filter tab of the data format</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Defines the warehouse that the stock is exported from. If you do not select any warehouse, then the stock of the warehouse with the lowest ID will be exported.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.3. Clearing stock while stocktaking mode is active</h3>
<div class="paragraph">
<p>As a first step you will now clear all your stocks and item movements. The reserved stock quantities are preserved. Make a copy of the file that you just exported.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Export serves as backup of your stock quantities before you clear them</div>
<div class="paragraph">
<p>This process deletes all of the stock and item movements! This means that the warehouse will be completly cleared of any digital stock. Therefore, be sure to copy your stock export and to leave the original without any changes until you have successfully completed the process (see section 2.1). This file can help you to restore your stock if an error occurs.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Clearing stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the copy of your stock export.</p>
</li>
<li>
<p>Enter 0 into the <strong>Stock</strong> data field of each variation.</p>
</li>
<li>
<p>Save the file.</p>
</li>
<li>
<p>Go to <strong>Data » Dynamic import</strong>.</p>
</li>
<li>
<p>Under <strong>format</strong>, select the data format Stock, which you used for your export.</p>
</li>
<li>
<p>Pay attention to the information given in table 3.</p>
</li>
<li>
<p>Select the <strong>file</strong> that is filled with 0 for the stock.</p>
</li>
<li>
<p>Click on <strong>Import</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Dynamic import of the format <strong>Stock</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a separator</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the data format Stock.<br>
If you have set up several stock formats and the file contains the warehouse ID column then the import will only change the stock quantities for the warehouse specified by the ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Can be left empty because the WarehouseID column should be included in the data export and therefore also in the import file. <br>
If the file that you want to import does not include a <strong>WarehouseID</strong> column, then the import will overwrite the stock of the warehouse that you have selected here. If the file includes a <strong>WarehouseID</strong> column and the ID in the column is 1 or higher, then your setting will not have an impact on the import. Instead the import will be carried out based on the ID. The ID allows you to import stock for several warehouses at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Can remain empty for this import. <br>
The barcode is an optional field for synchronisation. Select the barcode format that should be used to synchronise the variation included in your file with the variations in your system. If the information included in the file do not match a variation in your system, then the row in the file will be skipped. It is not necessary to select a barcode for data synchronisation if the variation ID is included in the file. The variation ID is unique and is therefore enough to match the data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the file that you wish to import.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.4. Booking stock</h3>
<div class="paragraph">
<p>Now you will import the stock quantities that you counted during the stocktaking into your system. To do so, use the data format Stock. Open the stock file that you filled in 0 for every stock. Enter the current physical stock of each variation into the stock column and save the file with the current stock quantities. The physical stock must be entered into the <strong>Stock</strong> column.</p>
</div>
<div class="paragraph instruction">
<p>Booking stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the copy of your stock export.</p>
</li>
<li>
<p>Enter the actual stock quantity into the <strong>Stock</strong> data field of each variation.</p>
</li>
<li>
<p>Save the file that now contains the current stock.</p>
</li>
<li>
<p>Go to <strong>Data » Dynamic import</strong>.</p>
</li>
<li>
<p>Select the same data format Stock that you have used for the export.</p>
</li>
<li>
<p>Pay attention to the information given in table 3.</p>
</li>
<li>
<p>Select the <strong>file</strong> that is filled with your current stock quantities.</p>
</li>
<li>
<p>Click on <strong>Import</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.5. Deactivating the stocktaking mode</h3>
<div class="paragraph">
<p>Last you need to deactivate the stocktaking mode and when you do this, the stock that you just imported will be saved for each variation.</p>
</div>
<div class="paragraph instruction">
<p>Deactivating the stocktaking mode:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse » Select warehouse » Submenu: Settings</strong>.</p>
</li>
<li>
<p>Remove the check mark next to the option <strong>Stocktaking mode active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the setting. <br>
→ Your physical stock will be recalculated.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Deactivate the stocktaking mode only if you have really completed all steps of the stocktaking process. If you deactivate the stocktaking mode early, stock may be calculated wrong and offers and markets may be ended without your intention to actually end them.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_taking_stock_with_the_plentymarkets_app">3. Taking stock with the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets you can also take stock using the plentymarkets app. Users must be assigned the right to take stock. In addition, <a href="#stock-management/setting-up-a-warehouse">barcodes must be saved for your storage locations</a>. You can activate the stocktaking mode to freeze stock during stocktaking. However, because the new stock data is saved to the variation automatically, you do not need to activate the stocktaking mode.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Hardware for plentymarkets app</div>
<div class="paragraph">
<p>Check the <a href="/en/quick-start/quick-start-system-requirements">system requirements</a> page of the manual to see current hardware recommendations for stocktaking using the plentymarkets app.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_preparing_app_stocktaking">3.1. Preparing app stocktaking</h3>
<div class="paragraph">
<p>Carry out the settings described below to prepare stocktaking using the plentymarkets app.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Label your storage locations</div>
<div class="paragraph">
<p>To take stock using the plentymarkets app, you must assign barcodes to your storage locations. You can speed up stocktaking by <a href="/en/stock-management/setting-up-a-warehouse#800">labelling your storage locations</a>. During stocktaking, you can just scan the storage location’s label.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_exporting_stock_with_the_data_format_stock">3.1.1. Exporting stock with the data format Stock</h4>
<div class="paragraph">
<p>To check all stock discrepancies resulting from stocktaking at once, export your stock data using the data format <a href="/en/data/export-import/data-formats/stock">Stock</a> before the stocktaking process. Export the data again after stocktaking is complete and compare the stock data.</p>
</div>
</div>
<div class="sect3">
<h4 id="_assigning_rights_for_stocktaking">3.1.2. Assigning rights for stocktaking</h4>
<div class="paragraph">
<p>Users with admin rights can take stock using the plentymarkets app by default. Users with the user classes <strong>Variable</strong> and <strong>Logistics</strong> must be assigned the necessary rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights for app stocktaking:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User</strong>.</p>
</li>
<li>
<p>Open the account.</p>
</li>
<li>
<p>Open the <strong>Mobile</strong> tab.</p>
</li>
<li>
<p>In the <strong>Visible functions</strong> area, activate the option <strong>Stocktaking</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Open the <strong>Richts</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Managing menu and REST API rights</strong>.<br>
→ The <strong>Rights</strong> view opens.</p>
</li>
<li>
<p>In the <strong>Authorization</strong> column, activate the right <strong>Stock » Warehouse » Storage location » Show storage location</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_personalising_app_stocktaking">3.1.3. Personalising app stocktaking</h4>
<div class="paragraph">
<p>Users can personalise the stocktaking process using the plentymarkets app settings.</p>
</div>
<div class="paragraph instruction">
<p>Personalising stocktaking with the plentymarkets app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>Settings</strong>.</p>
</li>
<li>
<p>Tap <strong>Stocktaking</strong>.<br>
→ The <strong>Stocktaking</strong> settings menu opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-stocktaking-app-settings">Table 4</a>.<br>
<strong><em>Tip:</em></strong> The settings are saved when you exit the menu.</p>
</li>
</ol>
</div>
<table id="table-stocktaking-app-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Stocktaking; app settings</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Storage location search</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set focus on barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to set the cursor in the <strong>Barcode</strong> field of the storage location search. If your storage locations are labelled, users can start scanning the storage location’s label straight away.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item search</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set focus on barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to set the cursor in the <strong>Barcode</strong> field of the item search. If your items are labelled, users can start scanning the item’s label straight away.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scan items individually</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the quantity is to be entered by scanning the individual items or by entering the count result manually.<br>
Activated = Each piece of an item must be scanned individually.<br>
<strong><em>Tip:</em></strong> The scanned quantity can be corrected manually. Tap the item and enter the correct quantity.<br>
Deactivated = After scanning an item’s label, users enter the counted amount using the keypad.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allow manual item search</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if items can be searched manually.<br>
Activated = Items can either be found by scanning the item label or by using the keypad to enter search criteria.<br>
Deactivated = Items cannot be searched for manually. Items can be opened by scanning the item label only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Main warehouse only</strong><br>
(version 1.9.3 and higher)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if the item suggestions are to be filtered.<br>
Deactivated (default setting) = Items are not filtered. If the same item is stored at more than one storage location, all storage locations are listed for selection.<br>
Activated = Only items are listed for selection where the main warehouse is identical to the current stocktaking warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Save stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show Save button</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deactivate to hide the <strong>Save stock</strong> button.<br>
Activated = The stock present at a storage location can be saved either by tapping the <strong>Save stock</strong> button or by scanning the storage location’s label.<br>
Deactivated = The stock present at a storage location can be saved by scanning the storage location’s label.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show confirmation dialog</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to show a confirmation dialog before the new stock quantity is saved.<br>
Activated = Users must confirm before the stock details are saved.<br>
Deactivated = Stock details are saved immediately.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_stocktaking_with_the_plentymarkets_app">3.2. Stocktaking with the plentymarkets app</h3>
<div class="paragraph">
<p>When you take stock with the plentymarkets app, you can either scan each piece of an item individually or enter the counted quantity using the keypad.  The option <strong>Scan items individually</strong> controls how the stock taking is performed.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Stock at a storage location is set to zero if not counted</div>
<div class="paragraph">
<p>Count or scan all items present at a storage location. If you store different items at the same storage location, any stock of items that you do not count or scan during stocktaking will be set to zero. Example:<br>
The stock information for storage location 1 in plentymarkets is 10 x item A, 10 x item B and 2 x item C. During stocktaking, 10 x item A and 10 x item B is scanned. Item C is not scanned.<br>
→ The app books item A x 10, item B x 10 and item C x 0. As such, stock for item C is set to zero.<br>
If you only start creating further storage locations during stocktaking, these storage locations are not set to zero. This applies only for storage locations that are edited.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_scanning_each_piece_of_an_item_individually">3.2.1. Scanning each piece of an item individually</h4>
<div class="paragraph">
<p>Users do not have to count the stock. Instead, they can scan the labels of each piece of an item individually until they have scanned all pieces of an item present at the storage location. The quantity is updated incrementally in the background. You need to activate the <strong>Scan items individually</strong> option to take stock by scanning each piece individually.</p>
</div>
<div class="paragraph instruction">
<p>Scanning each piece of an item individually:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>Stocktaking</strong>.<br>
→ The <strong>Stocktaking</strong> view opens.</p>
</li>
<li>
<p>Scan the label of the storage location.<br>
→ The storage location is selected. The quantity is booked to this storage location.</p>
</li>
<li>
<p>Scan the label of each piece until you have scanned all items of the storage location.<br>
<strong><em>Tip:</em></strong> If the storage location contains more than one type of item, the quantity of the correct item is increased automatically during scanning.<br>
<strong><em>Note:</em></strong> To correct the scanned quantity manually, tap the item and enter the correct quantity.<br>
→ If best before dates, batches or both are managed for the variation in the selected warehouse, you are asked to enter a date, a batch or both.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select the best before date and/or enter the batch and tap <strong>Add item</strong>.<br>
→ The stock is booked in.</p>
</li>
<li>
<p>To finish the count, scan the storage location’s label again or tap <strong>Save stock</strong> if the button is shown.<br>
→ The counted quantity is saved.<br>
→ The counted stock is imported to the <strong>Stock » Storage location management</strong> menu of the plentymarkets back end.<br>
→ The stock information is saved in the <strong>Item » Managing items</strong> menu of the variation.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_entering_the_counted_quantity">3.2.2. Entering the counted quantity</h4>
<div class="paragraph">
<p>Instead of scanning the levels of each piece stored at a storage location, users also can count how many pieces of an item are present at the storage location and enter the result manually. You need to deactivate the <strong>Scan items individually</strong> option to take stock by counting.</p>
</div>
<div class="paragraph instruction">
<p>Entering the counted quantity:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets App.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap <strong>Stocktaking</strong>.<br>
→ The <strong>Stocktaking</strong> view opens.</p>
</li>
<li>
<p>Scan the label of the storage location.<br>
→ The storage location is selected. The quantity is booked to this storage location.</p>
</li>
<li>
<p>Scan the label of an item or search the item manually.<br>
→ The <strong>Enter quantity</strong> window is displayed.</p>
</li>
<li>
<p>Enter the quantity that you counted for the item.</p>
</li>
<li>
<p>To finish the count, scan the storage location’s label again or tap <strong>Save stock</strong> if the button is shown.<br>
→ The counted quantity is saved.<br>
→ The counted stock is imported to the <strong>Stock » Storage location management</strong> menu of the plentymarkets back end.<br>
→ The stock information is saved in the <strong>Item » Managing items</strong> menu of the variation.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>