<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Dimension</span></a>
<ul class="sectlevel2">
<li><a href="#_creation_date"><span>1.1.</span><span> Creation date</span></a></li>
<li><a href="#_invoice_country_creation_date"><span>1.2.</span><span> Invoice country, creation date</span></a></li>
<li><a href="#_delivery_country_creation_date"><span>1.3.</span><span> Delivery country, creation date</span></a></li>
<li><a href="#_date_of_outgoing_items"><span>1.4.</span><span> Date of outgoing items</span></a></li>
<li><a href="#_order_referrer_creation_date"><span>1.5.</span><span> Order referrer, creation date</span></a></li>
<li><a href="#_item_category_creation_date"><span>1.6.</span><span> Item category, creation date</span></a></li>
<li><a href="#_warehouse_creation_date"><span>1.7.</span><span> Warehouse, creation date</span></a></li>
<li><a href="#_client_creation_date"><span>1.8.</span><span> Client, creation date</span></a></li>
<li><a href="#_manufacturer_creation_date"><span>1.9.</span><span> Manufacturer, creation date</span></a></li>
<li><a href="#_return_reason_creation_date"><span>1.10.</span><span> Return reason, creation date</span></a></li>
<li><a href="#_payment_method_creation_date"><span>1.11.</span><span> Payment method, creation date</span></a></li>
<li><a href="#_payment_date"><span>1.12.</span><span> Payment date</span></a></li>
<li><a href="#_order_referrer_payment_date"><span>1.13.</span><span> Order referrer, payment date</span></a></li>
<li><a href="#_warehouse_payment_date"><span>1.14.</span><span> Warehouse, payment date</span></a></li>
<li><a href="#_client_payment_date"><span>1.15.</span><span> Client, payment date</span></a></li>
<li><a href="#_order_referrer_date_of_outgoing_items"><span>1.16.</span><span> Order referrer, date of outgoing items</span></a></li>
<li><a href="#_warehouse_date_of_outgoing_items"><span>1.17.</span><span> Warehouse, date of outgoing items</span></a></li>
<li><a href="#_client_date_of_outgoing_items"><span>1.18.</span><span> Client, date of outgoing items</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Filter</span></a>
<ul class="sectlevel2">
<li><a href="#_client"><span>2.1.</span><span> Client</span></a></li>
<li><a href="#_order_referrer"><span>2.2.</span><span> Order referrer</span></a></li>
<li><a href="#_order_type"><span>2.3.</span><span> Order type</span></a></li>
<li><a href="#_order_status"><span>2.4.</span><span> Order status</span></a></li>
<li><a href="#_order_property_type"><span>2.5.</span><span> Order property type</span></a></li>
<li><a href="#_order_property_value"><span>2.6.</span><span> Order property value</span></a></li>
<li><a href="#_item_id"><span>2.7.</span><span> Item ID</span></a></li>
<li><a href="#_order_item_type"><span>2.8.</span><span> Order item type</span></a></li>
<li><a href="#_revenue_account"><span>2.9.</span><span> Revenue account</span></a></li>
<li><a href="#_invoice_country"><span>2.10.</span><span> Invoice country</span></a></li>
<li><a href="#_delivery_country"><span>2.11.</span><span> Delivery country</span></a></li>
<li><a href="#_outgoing_items_booked"><span>2.12.</span><span> Outgoing items booked</span></a></li>
<li><a href="#_payment_status"><span>2.13.</span><span> Payment status</span></a></li>
<li><a href="#_warehouse"><span>2.14.</span><span> Warehouse</span></a></li>
<li><a href="#_amazon_account"><span>2.15.</span><span> Amazon account</span></a></li>
<li><a href="#_ebay_account"><span>2.16.</span><span> eBay account</span></a></li>
<li><a href="#_shipping_profile"><span>2.17.</span><span> Shipping profile</span></a></li>
<li><a href="#_created_at"><span>2.18.</span><span> Created at</span></a></li>
<li><a href="#_paid_at"><span>2.19.</span><span> Paid at</span></a></li>
<li><a href="#_date_of_outgoing_items_2"><span>2.20.</span><span> Date of outgoing items</span></a></li>
<li><a href="#_payment_method"><span>2.21.</span><span> Payment method</span></a></li>
<li><a href="#_manufacturer"><span>2.22.</span><span> Manufacturer</span></a></li>
<li><a href="#_return_reason"><span>2.23.</span><span> Return reason</span></a></li>
<li><a href="#_contact_id"><span>2.24.</span><span> Contact ID</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Required raw data</span></a></li>
<li><a href="#400"><span>4.</span><span> Tariff</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Orders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the calculation types, dimensions and filters available to you for the key figure Orders.
This page is for reference purposes only and assumes that you already have basic knowledge about the <a href="/en/business-decisions/business-intelligence/plenty-bi/myview-dashboard">plentyBI tool</a>.</p>
</div>
<div class="paragraph">
<p>plentymarkets calculates the key figure <strong>Orders</strong> by summing up the orders:<br>
<em>∑ Orders = Quantity of orders</em><br>
In addition, select a <a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/orders#100">dimension</a> to determine how the result is grouped.
Set <a href="/en/business-decisions/business-intelligence/plenty-bi/key-figures/orders#200">filters</a> to specify the criteria for the calculation of the orders.
Note that those orders are counted that you define in the filter <strong>Order type</strong>. If you don’t set this filter, all orders of all order types are counted.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Dimension</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_creation_date">1.1. Creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by creation date. This means that the date on which the orders were created is considered in the calculation.</p>
</div>
</div>
<div class="sect2">
<h3 id="_invoice_country_creation_date">1.2. Invoice country, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by invoice country and creation date. This way, you can see at a glance how many orders are generated broken down by invoice country. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_delivery_country_creation_date">1.3. Delivery country, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/fulfilment/preparing-the-shipment100">delivery country</a> and creation date. This way, you can see at a glance how many orders are generated broken down by delivery country. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_date_of_outgoing_items">1.4. Date of outgoing items</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by date of outgoing items. This means that the date on which the order items were shipped is considered in the calculation.</p>
</div>
</div>
<div class="sect2">
<h3 id="_order_referrer_creation_date">1.5. Order referrer, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/orders/order-referrer">order referrer</a> and creation date. This way, you can see at a glance how many orders are generated broken down by order referrer. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_item_category_creation_date">1.6. Item category, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/item/settings/categories">item category</a> and creation date. This way, you can see at a glance how many orders are generated broken down by item category. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_warehouse_creation_date">1.7. Warehouse, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/stock-management/setting-up-a-warehouse">warehouse</a> and creation date. This way, you can see at a glance how many orders are generated broken down by warehouse. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_client_creation_date">1.8. Client, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/online-store/setting-up-clients">client</a> and creation date. This way, you can see at a glance how many orders are generated broken down by client. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_manufacturer_creation_date">1.9. Manufacturer, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/item/settings/manufacturers">manufacturer</a> and creation date. This way, you can see at a glance how many orders are generated broken down by manufacturer. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_return_reason_creation_date">1.10. Return reason, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/orders/managing-orders#400">return reason</a> and creation date. This way, you can see at a glance how many orders are generated broken down by return reasons. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_payment_method_creation_date">1.11. Payment method, creation date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/payment/managing-payment-methods">payment method</a> and creation date. This way, you can see at a glance how many orders are generated broken down by payment method. A further differentiation is made according to the creation date of the orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="_payment_date">1.12. Payment date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by payment date. This means that the date on which a payment was assigned to the order is considered in the calculation.</p>
</div>
</div>
<div class="sect2">
<h3 id="_order_referrer_payment_date">1.13. Order referrer, payment date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/orders/order-referrer">order referrer</a> and payment date. This way, you can see at a glance how many orders are generated broken down by order referrer. A further differentiation is made according to the date on which a payment was assigned to the order.</p>
</div>
</div>
<div class="sect2">
<h3 id="_warehouse_payment_date">1.14. Warehouse, payment date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/stock-management/setting-up-a-warehouse">warehouse</a> and payment date. This way, you can see at a glance how many orders are generated broken down by warehouse. A further differentiation is made according to the date on which a payment was assigned to the order.</p>
</div>
</div>
<div class="sect2">
<h3 id="_client_payment_date">1.15. Client, payment date</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/online-store/setting-up-clients">client</a> and payment date. This way, you can see at a glance how many orders are generated broken down by client. A further differentiation is made according to the date on which a payment was assigned to the order.</p>
</div>
</div>
<div class="sect2">
<h3 id="_order_referrer_date_of_outgoing_items">1.16. Order referrer, date of outgoing items</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/orders/order-referrer">order referrer</a> and date of outgoing items. This way, you can see at a glance how many orders are generated broken down by order referrer. A further differentiation is made according to the date on which the order items of an order were shipped.</p>
</div>
</div>
<div class="sect2">
<h3 id="_warehouse_date_of_outgoing_items">1.17. Warehouse, date of outgoing items</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/stock-management/setting-up-a-warehouse">warehouse</a> and date of outgoing items. This way, you can see at a glance how many orders are generated broken down by warehouse. A further differentiation is made according to the date on which the order items of an order were shipped.</p>
</div>
</div>
<div class="sect2">
<h3 id="_client_date_of_outgoing_items">1.18. Client, date of outgoing items</h3>
<div class="paragraph">
<p>The key figure Orders is displayed grouped by <a href="/en/online-store/setting-up-clients">client</a> and date of outgoing items. This way, you can see at a glance how many orders are generated broken down by client. A further differentiation is made according to the date on which the order items of an order were shipped.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Filter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filters allow you to narrow down the data calculated by the key figure.
How to add and combine filters is explained in the <a href="/en/business-decisions/business-intelligence/plenty-bi/myview-dashboard">Dashboard (Beta)</a> section of the manual.</p>
</div>
<div class="sect2">
<h3 id="_client">2.1. Client</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several clients.
For this filter you can select the <a href="/en/online-store/setting-up-clients">clients</a> that have been set up in your system.
Select one of the following comparison operators and then the desired clients (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-client" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected clients (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected clients (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_referrer">2.2. Order referrer</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several order referrers.
For this filter you can select the <a href="/en/orders/order-referrer">order referrers</a> that are available in your system.
Select one of the following comparison operators and then the desired order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-order-referrer" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected order referrers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_type">2.3. Order type</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several order types.
The available selection of order types depends on the selected key figure and dimension.
Select one of the following comparison operators and then the desired order types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-ordertype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected order types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected order types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected order types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_status">2.4. Order status</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several order statuses.
For this filter you can select the <a href="/en/orders/managing-orders#1200">order statuses</a> that have been setup in your system.
Select one of the following comparison operators and then the desired order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-orderstatus" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected order statuses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_property_type">2.5. Order property type</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by order property types.
Select one of the following comparison operators and then the desired order property type (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
If you want to narrow down the selected type even further, use the filter <strong>Order property value</strong>. By additionally setting this filter, you can define your own values, which are then applied to the type.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-order-property-type" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected order property types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected order property types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected order property types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected order property types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_property_value">2.6. Order property value</h3>
<div class="paragraph">
<p>Is used in combination with the filter <strong>Order property type</strong>. This combination filters the selected key figure and dimension additionally by order property values that you defined yourself.
Select one of the following comparison operators and enter the corresponding values for whichever order property type you selected. Use commas to separate multiple values.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-order-property-value" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact entered values on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the entered values on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the entered values on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the entered values on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_item_id">2.7. Item ID</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several item IDs.
Select one of the following comparison operators and enter the desired item IDs into the text field separated by comma.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-itemid" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact entered item IDs on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the entered item IDs on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the entered item IDs on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the entered item IDs on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_order_item_type">2.8. Order item type</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several order item types.
The available selection of order item types depends on the selected key figure and dimension.
Select one of the following comparison operators and then the desired order item types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-orderitemtype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected order item types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected order item types (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_revenue_account">2.9. Revenue account</h3>
<div class="paragraph">
<p>Filters the desired key figure and dimension additionally by revenue accounts.
For this filter you can select the <a href="/en/orders/accounting#800">revenue accounts</a> that have been set up in your system.
Select one of the following comparison operators and then enter the desired revenue account.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-revenue-account" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact entered revenue accounts on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the entered revenue accounts on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the entered revenue accounts on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the entered revenue accounts on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_invoice_country">2.10. Invoice country</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several invoice countries.
For this filter you can select the countries that are available in your system.
Select one of the following comparison operators and then the desired invoice countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-invoice-countries" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected invoice countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected invoice countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected invoice countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected invoice countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_delivery_country">2.11. Delivery country</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several countries of delivery.
For this filter you can select the <a href="/en/fulfilment/preparing-the-shipment#100">countries of delivery</a> that have been set up in your system.
Select one of the following comparison operators and then the desired countries of delivery (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-delivery-countries" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected delivery countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected delivery countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected delivery countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected delivery countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_outgoing_items_booked">2.12. Outgoing items booked</h3>
<div class="paragraph">
<p>Filters the selected key figures and dimensions additionally by whether <a href="/en/stock-management/outgoing-items">outgoing items</a> have been booked. Select one of the following comparison operators.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-outgoing-items-booked" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected values (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_payment_status">2.13. Payment status</h3>
<div class="paragraph">
<p>Filters the desired key figure and dimension additionally by the payment status.
Select one of the following comparison operators and then the desired status.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-payment-status" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected values (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_warehouse">2.14. Warehouse</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several warehouses.
For this filter you can select the <a href="/en/stock-management/setting-up-a-warehouse">warehouses</a> that have been set up in your system.
Select one of the following comparison operators and then the desired warehouses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-warehouse" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected warehouses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected warehouses (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_amazon_account">2.15. Amazon account</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several amazon accounts. For this filter you can select the amazon accounts that are saved in your system. Select one of the following comparison operators and then the desired accounts (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-amazon-account" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected Amazon accounts (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected Amazon accounts (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_ebay_account">2.16. eBay account</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several eBay accounts. For this filter you can select the eBay accounts that are saved in your system. Select one of the following comparison operators and then the desired accounts (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-ebay-account" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected eBay accounts (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected eBay accounts (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_shipping_profile">2.17. Shipping profile</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several shipping profiles.
For this filter you can select the <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a> that have been set up in your system.
Select one of the following comparison operators and then the desired shipping profiles (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-shipping-profile" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected shipping profiles (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected shipping profiles (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_created_at">2.18. Created at</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by the creation date der Aufträge. Select one of the following comparison operators and then select the desired date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-created-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_paid_at">2.19. Paid at</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by the date of receipt of payment. Select one of the following comparison operators and then select the desired date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-paid-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_date_of_outgoing_items_2">2.20. Date of outgoing items</h3>
<div class="paragraph">
<p>Filters the selected key figures and dimensions additionally by the date at which <a href="/en/stock-management/outgoing-items">outgoing items</a> have been booked. Select one of the following comparison operators and then select the desired date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-items-booked-at" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is between</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is between the values for the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than or equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">⇐</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than or equal to the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Greater than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is greater than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Less than</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data that is less than the selected dates (<span class="icon "><i class="fa fa-calendar  "></i></span>) on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_payment_method">2.21. Payment method</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several payment methods.
For this filter you can select the payment methods that have been set up in your system.
Select one of the following comparison operators and then the desired payment methods (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-payment-method" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected payment methods (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected payment methods (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected payment methods (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected payment methods (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_manufacturer">2.22. Manufacturer</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several manufacturers.
For this filter you can select the <a href="/en/item/settings/manufacturers">manufacturer data records</a> that have been set up in your system.
Select one of the following comparison operators and then the desired manufacturer data records (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-producer" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected manufacturers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected manufacturers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected manufacturers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected manufacturers (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_return_reason">2.23. Return reason</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several return reasons.
For this filter you can select the <a href="/en/orders/managing-orders#400">return reasons</a> that have been set up in your system.
Select one of the following comparison operators and then the desired return reasons (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-returnreason" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the selected return reasons (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the selected return reasons (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact selected return reasons (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the selected return reasons (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_contact_id">2.24. Contact ID</h3>
<div class="paragraph">
<p>Filters the selected key figure and dimension additionally by one or several contact IDs. For this filter you can select the <a href="/en/crm/managing-contacts#200">contact IDs</a> that are available in your system. Select one of the following comparison operators and enter the desired contact IDs into the text field separated by comma.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Comparison operators for this filter</div>
<div class="content">
<table id="table-key-figures-operators-contactid" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Relational operator</th>
<th class="tableblock halign-left valign-top">Sign</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is equal to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">==</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to the exact entered contact IDs on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is not equal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;, ~=, !=, ^=</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to the entered contact IDs on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to one of these values</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data corresponding to at least one of the entered contact IDs on the right. </p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Corresponds to none of these values</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">&lt;&gt;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The analysis includes data <em>not</em> corresponding to any of the entered contact IDs on the right. </p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Required raw data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the key figure Orders, the following raw data have to be activated in your system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/business-decisions/business-intelligence/reports/data-formats/orders">orders</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/reports/data-formats/orderitems">orderItems</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/reports/data-formats/orderitemamounts">orderItemAmounts</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/reports/data-formats/orderproperties">orderProperties</a></p>
</li>
<li>
<p><a href="/en/business-decisions/business-intelligence/reports/data-formats/itemvariations">itemVariations</a></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: This is how you activate raw data</strong></div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » plentyBI » Raw data</strong>.</p>
</li>
<li>
<p>Activate (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) all required data. This may result in costs.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Tariff</h2>
<div class="sectionbody">
<div class="paragraph">
<p>How many and which key figures and corresponding dimensions you can create depends on the tariff you have booked.
<a href="https://get.plentymarkets.com/en/" target="_blank" rel="noopener">Simply choose the right plentyBI-tariff</a> with the help of the plentymarkets configurator.</p>
</div>
</div>
</div>
</main>