<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Systemeinstellungen</span></a></li>
<li><a href="#200"><span>2.</span><span> Artikel und Varianten</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Woraus bestehen Artikel?</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Wie werden Varianten gebildet?</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Kann ich Artikel ohne Varianten erstellen?</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Was ist eine Hauptvariante?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelstruktur kennenlernen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Zu den Artikeldaten gehören diverse Angaben, wie z.B. Kategorien, Preise, Hersteller, Beschreibungstexte und Bilder. Um die Artikelverwaltung zu erleichtern, werden diese Daten auf drei Ebenen aufgeteilt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Systemeinstellungen</p>
</li>
<li>
<p>Artikel</p>
</li>
<li>
<p>Varianten</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><em>Systemeinstellungen</em> können als Angaben verstanden werden, die auf mehrere Artikel gleichzeitig zutreffen. Beispielsweise werden mehrere Artikel in einer Kategorie einsortiert oder vom selben Hersteller angefertigt. Systemeinstellungen werden einmalig in plentymarkets gespeichert und daraufhin auf alle zutreffenden Artikel und Varianten angewandt.</p>
</div>
<div class="paragraph">
<p><em>Artikel</em> können als Datencontainer verstanden werden. Sie beinhalten immer eine oder mehrere <em>Varianten</em>, d.h. eine oder mehrere verkaufbare Ausführungen eines Produkts. Wird zum Beispiel ein Hemd in den Größen 50, 52 und 54 angeboten, bilden alle Größen zusammen den Artikel. Jede einzelne Größe ist eine Variante dieses Artikels.</p>
</div>
<div class="paragraph">
<p>Zusammengefasst kann die Artikelstruktur in drei Datenebenen dargestellt werden:</p>
</div>
<table id="tabelle-artikelstruktur" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Die plentymarkets Artikelstruktur</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ebene</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Systemeinstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellungen, die mit mehreren Artikeln oder Varianten verknüpft werden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datencontainer zur Verwaltung von Varianten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufbare Ausführung eines Produkts</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">1. Systemeinstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Systemeinstellungen können als <a href="/artikel/artikel-verwalten">vorbereitende Einstellungen</a> verstanden werden. Sie werden zuerst im Menü <strong>Einrichtung</strong> verwaltet und anschließend mit Artikeln oder Varianten verknüpft.</p>
</div>
<div class="paragraph">
<p>Bevor du zum Beispiel einen Artikel in eine bestimmte Kategorie einsortieren kannst, muss die Kategorie erst einmal in plentymarkets existieren. Und bevor du den Hersteller eines Artikels auswählen kannst, müssen die Herstellerdaten in plentymarkets vorhanden sein.</p>
</div>
<div class="paragraph">
<p>Zu den wichtigsten Systemeinstellungen gehören:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/kategorien-verwalten">Kategorien</a>, die deine Produkte gruppieren.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#690">Einheiten</a>, die den Inhalt deiner Varianten definieren.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#390">Attribute</a>, die deine Produkte charakterisieren und dabei Varianten bilden.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#480">Merkmale und Eigenschaften</a>, die deine Produkte charakterisieren, <em>ohne</em> dabei Varianten zu bilden.</p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a>, die deine angebotenen Versandservices und Portokosten definieren.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#560">Hersteller</a>, die die Namen, Kontaktdaten, IDs und Provisionen deiner Hersteller beinhalten.</p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#870">Verkaufspreise</a>, die die Bedingungen definieren, unter denen eine Variante zu einem bestimmten Preis verkauft wird.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Artikel und Varianten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">2.1. Woraus bestehen Artikel?</h3>
<div class="paragraph">
<p>Ein Artikel ist ein vollständiger Datensatz, der immer eine oder mehrere Varianten beinhaltet. Ein Artikel besteht aus allgemeingültigen Daten, die für <em>alle</em> Varianten des Artikels gelten (Artikeldaten), und aus Daten, die pro Variante verwaltet werden (Variantendaten).</p>
</div>
<div class="paragraph">
<p>Im Artikeldatensatz sind Artikeldaten in der oberen Tab-Leiste und Variantendaten in der unteren Tab-Leiste zu finden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/einleitung/assets/Obere-Untere-Tab-Leiste.png" alt="Obere Untere Tab Leiste">
</div>
</div>
<div class="paragraph">
<p>Die Unterscheidung zwischen Artikel- und Variantendaten lässt sich wie folgt darstellen:</p>
</div>
<table id="tabelle-artikeldaten-variantendaten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Artikeldaten und Variantendaten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Art der Daten</th>
<th class="tableblock halign-left valign-top">Beispiele der Daten auf dieser Ebene</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong><br>
(obere Tab-Leiste)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Globale Einstellungen (Zustand, Hersteller, Altersfreigabe etc.)</p>
</li>
<li>
<p>Texte</p>
</li>
<li>
<p>Merkmale</p>
</li>
<li>
<p>Cross-Selling-Einstellungen</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantendaten</strong><br>
(untere Tab-Leiste)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Eigenschaften</p>
</li>
<li>
<p>Lieferanten</p>
</li>
<li>
<p>Bestand</p>
</li>
<li>
<p>Bilder</p>
</li>
<li>
<p>Verfügbarkeiten</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Wie werden Varianten gebildet?</h3>
<div class="paragraph">
<p>Varianten können entweder durch verschiedene Kombinationen aus <a href="/artikel/artikel-verwalten#690">Einheit und Inhalt</a> oder durch den Einsatz von <a href="/artikel/artikel-verwalten#390">Attributen</a> erstellt werden:</p>
</div>
<table id="tabelle-variantenerstellung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Variantenerstellung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Methode</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kombination aus Einheit/Inhalt</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Varianten unterscheiden sich durch die Menge und/oder Einheit, z.B.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Seife: 100ml, 250ml, 500ml</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kombination aus Attributwerten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Varianten unterscheiden sich durch die Attributwerte, z.B.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Dekokissen: Farbe (rot, schwarz, grau) = 1 Attribut</p>
</li>
<li>
<p>T-Shirt: Farbe (grün, blau), Größe (S, M, L, XL) = 2 Attribute</p>
</li>
<li>
<p>Schuhe: Farbe (schwarz, braun), Größe (38, 39, 40), Breite (schmal, normal) = 3 Attribute</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Kann ich Artikel ohne Varianten erstellen?</h3>
<div class="paragraph">
<p>Manche Produkte werden <em>nicht</em> in unterschiedlichen Ausführungen verkauft, d.h. sie haben keine unterschiedlichen Varianten. Da ein Artikel allein aber kein verkaufbares Produkt ist, muss jeder Artikel mindestens auch eine Variante besitzen. In plentymarkets ist es technisch nicht möglich, Artikel komplett ohne Varianten zu erstellen.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">2.4. Was ist eine Hauptvariante?</h3>
<div class="paragraph">
<p>Die erste Variante eines Artikels wird als <em>Hauptvariante</em> bezeichnet. Hat ein Artikel mehrere Varianten, kann die Hauptvariante entweder selbst ein verkaufbares Produkt sein oder ähnlich wie der Artikel rein virtuell bestehen, um die weiteren Untervarianten des Artikels anhand von <a href="/artikel/einleitung/vererbung">Vererbung</a> zu verwalten.</p>
</div>
</div>
</div>
</div>
</main>