<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Artikel und Varianten suchen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Artikel einer Kategorie suchen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Artikel eines Mandanten suchen</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Varianten im Artikeldatensatz suchen</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Standard-Suchverhalten anpassen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Mit Suchergebnissen arbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>2.1.</span><span> Spalten- und Sortierreihenfolge anpassen</span></a></li>
<li><a href="#800"><span>2.2.</span><span> Symbole in der Übersicht</span></a></li>
</ul>
</li>
<li><a href="#900"><span>3.</span><span> Beispielartikel</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>3.1.</span><span> Beispielartikel verstehen</span></a>
<ul class="sectlevel3">
<li><a href="#1100"><span>3.1.1.</span><span> Beispielartikel anzeigen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.2.</span><span> Beispielartikel löschen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Nutzerführung und Beispielartikel</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du deine ersten Artikeldaten ins System einpflegst, solltest du dich kurz mit der Artikelübersicht vertraut machen. Auf dieser Seite lernst du, wie du dich im Menü zurechtfindest und wo du die Beispielartikel findest, die in neuen Systemen gespeichert sind.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Artikel und Varianten suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü <strong>Artikel » Artikel bearbeiten</strong> bietet dir eine Übersicht deiner Artikel und Varianten. Verwende die Suchoptionen in der Spalte links, um gezielt nach Artikeln und Varianten zu suchen. Die <a href="/artikel/einleitung/suche#600">Suchergebnisse</a> werden dir in einer Übersicht rechts angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Artikel suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong> in der Spalte links. Beachte <a href="#tabelle-artikel-varianten-filtern">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die gefilterten Artikel werden in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum werden meine Artikel nicht gefunden?</div>
<div class="paragraph">
<p>Siehst du den Filter <a href="/artikel/einleitung/suche#aktiv">Aktiv</a> in der linken Spalte? Mit diesem Filter legst du fest, ob nur Artikel und Varianten angezeigt werden, die für einen Webshop aktiviert sind. Standardmäßig ist dieser Filter auf <strong>Ja</strong> eingestellt. Das wird dir später, wenn du viele Artikel und Varianten hast, helfen, deine Artikel schneller zu bearbeiten. Am Anfang kann es aber verwirrend sein, denn Artikel, die nicht aktiv sind, werden nicht gefunden. Setze den Filter auf <strong>Nein</strong> oder <strong>Alle</strong> und führe die Suche erneut aus.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-artikel-varianten-filtern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Filtereinstellungen für Artikel und Varianten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="tabellentyp">Tabellentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tabellentyp wählen.<br>
<strong>Artikel</strong> = Nur Hauptvarianten in der Übersicht anzeigen.<br>
<strong>Varianten</strong> = Alle Hauptvarianten und Varianten in der Übersicht anzeigen.<br>
<strong>Erweitert</strong> = Erweiterte Ansicht aller Artikel inklusive Varianten in der Übersicht anzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Artikel mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um nach der Variante mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eingeben, um nach der Variante mit diesem Code zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeldaten eingeben, um nach dem Artikel mit diesen Daten zu suchen. Welche Datenfelder durchsucht werden, legst du mit dem <a href="/artikel/artikel-verwalten#385">Suchindex</a> fest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seriennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seriennummer eingeben, um nach dem Artikel mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU oder <strong>ALLE</strong> wählen, um nach dem Artikel mit dieser SKU zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-Namen eingeben, um nach Varianten zu suchen, die mit diesen <a href="/basics/arbeiten-mit-plentymarkets/tags">Tags</a> verknüpft wurden. Tags werden im Menü <strong>Einrichtung » Einstellungen » Tags</strong> erstellt.<br>
Stelle im Tag-Filter den gewünschten Such-Modus ein. Der UND-Modus filtert Varianten, die alle gewählten Tags besitzen. Der ODER-Modus filtert alle Varianten, die mindestens eins der gewählten Tags besitzt.<br>
<strong><em>Tipp:</em></strong> Den ersten Buchstaben des Tags eingeben und dann die Autovervollständigung nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notiztext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text eingeben, um nach Artikeln mit Varianten zu suchen, deren Notizen diesen Text enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanten-Artikelnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer des Lieferanten eingeben, um nach dem Artikel mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> oder einen Artikeltyp wählen, um nach Artikeln dieses Typs zu suchen.<br>
<strong>Standard</strong> = Nach Artikeln des Typs <strong>Standard</strong> suchen.<br>
<strong>Set</strong> = Nach Artikeln des Typs <strong>Set</strong> suchen. Setartikel sind ein neues plentymarkets Feature. Setartikel können aktuell nicht im Webshop dargestellt werden. Daher wird das Erstellen von Setartikeln nicht empfohlen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um nach der Artikelbezeichnung oder einem Stichwort in der Beschreibung des Artikels zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelauflistung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> oder eine Option wählen, um die Artikel zu filtern.<br>
<strong>Sichtbar</strong> = Nach Varianten suchen, die in der Artikelauflistung sichtbar sind.<br>
<strong>Unsichtbar</strong> = Nach Varianten suchen, die in der Artikelauflistung unsichtbar sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> oder eine Option wählen, um die Artikel zu filtern.<br>
<strong>Ja</strong> = Nach Artikeln suchen, für die ein Bild gespeichert ist.<br>
<strong>Nein</strong> = Nach Artikeln suchen, für die kein Bild gespeichert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1;<br>
Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung oder <strong>ALLE</strong> wählen, um nach Artikeln mit dieser Markierung zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller oder <strong>ALLE</strong> wählen, um nach Artikeln mit diesem Hersteller zu suchen.<br>
<strong>Ohne</strong> wählen, um nach Artikeln ohne Hersteller zu suchen. Damit ein Hersteller als Filteroption verfügbar ist, muss mindestens ein Artikel mit dem Hersteller verknüpft sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der linken Dropdown-Liste ein Attribut oder <strong>ALLE</strong> wählen. In der rechten Dropdown-Liste einen Attributwert oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit diesem Attributwert zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="aktiv">Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong>, <strong>ALLE</strong> oder <strong>Nein</strong> wählen.<br>
<strong>Ja</strong> = Standardeinstellung. Nach allen aktiven Artikeln suchen. Aktive Artikel sind im Webshop verfügbar.<br>
<strong>ALLE</strong> = Nach allen Artikeln suchen. Aktive und inaktive Artikel werden angezeigt.<br>
<strong>Nein</strong> = Nach allen inaktiven Artikeln suchen. Inaktive Artikel sind nicht im Webshop verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop) oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten dieses Mandanten zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit dieser Verfügbarkeit zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit diesem Verkaufspreis zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofil oder <strong>ALLE</strong> wählen, um nach Artikeln mit diesem Versandprofil zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit diesem Lager zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WB-Beschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong>, <strong>Keine Beschränkung</strong>, <strong>Beschränkung auf Netto-Warenbestand</strong> oder <strong>Keinen Warenbestand führen</strong> wählen.<br>
<strong>Keine Beschränkung</strong> = Nach Artikeln ohne Beschränkung des Warenbestands suchen.<br>
<strong>Beschränkung auf Netto-Warenbestand</strong> = Nach Artikeln mit einer Beschränkung auf den Netto-Warenbestand suchen.<br>
<strong>Keinen Warenbestand führen</strong> = Nach Artikeln suchen, für die kein Warenbestand geführt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenbestand oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit diesem Warenbestand zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warentyp oder <strong>ALLE</strong> wählen, um nach Waren dieses Typs zu suchen.<br>
<strong>Ohne Colli</strong> wählen, um Artikel des Warentyps <strong>Colli</strong> von der Suche auszuschließen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong>, <strong>Ja</strong>, <strong>Nein</strong> oder <strong>Bestandteil</strong> wählen.<br>
<strong>Ja</strong> = Nach Artikeln und Varianten suchen, die Hauptartikel eines Artikelpakets sind.<br>
<strong>Nein</strong> = Nach Artikeln und Varianten suchen, die weder Hauptartikel noch Bestandteil eines Artikelpakets sind.<br>
<strong>Bestandteil</strong> = Nach Artikeln und Varianten suchen, die Bestandteil eines Artikelpakets sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong>, <strong>Ja</strong>, <strong>Nein</strong> oder Listing-Typ wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong>, <strong>Keine</strong> oder eine Shop-Aktion wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Altersfreigabe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong>, <strong>Keine</strong> oder eine Altersfreigabe wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update von;<br>
Update bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum im Kalender wählen, um nach allen Artikeln zu suchen, an denen in diesem Zeitraum Änderungen vorgenommen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong>, <strong>Unbekannt</strong> oder einen Amazon-Produkttyp wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplätze</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong>, <strong>Sichtbar</strong> oder <strong>Unsichtbar</strong> bei einer oder mehreren Marktplätzen wählen.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="200">1.1. Artikel einer Kategorie suchen</h3>
<div class="paragraph">
<p>Möchtest du nach Artikeln einer bestimmten Kategorie suchen? Gehe wie unten beschrieben vor, um die <a href="/artikel/artikel-verwalten#300">Artikel einer Kategorie</a> zu sehen.</p>
</div>
<div class="paragraph instruction">
<p>Artikel einer Kategorie suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Kategorie</strong> in der Spalte links.</p>
</li>
<li>
<p>Klicke auf eine Kategorie oder auf eine Unterkategorie.<br>
→ Die Artikel dieser Kategorie bzw. Unterkategorie werden in der Artikelübersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wo finde ich die Unterkategorien?</div>
<div class="paragraph">
<p>Klicke ganz links auf das Ordner-Symbol (<span class="icon"><i class="fa fa-folder" style="color:darkGrey"></i></span>) einer Kategorie, um die darin enthaltenen Unterkategorien zu sehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kategorien mit Filtern kombinieren</div>
<div class="paragraph">
<p>Verwende die Kategoriesuche zusammen mit den Filtereinstellungen aus <a href="#tabelle-artikel-varianten-filtern">Tabelle 1</a> und grenze damit deine Suchergebnisse noch näher ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wieder nach Artikeln in allen Kategorien suchen</div>
<div class="paragraph">
<p>Wechsele zurück in das Tab <strong>Filter</strong> und entferne das Häkchen neben <strong>Mit Kategorie</strong>. Die nächste Suche erfolgt in allen Kategorien.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Artikel eines Mandanten suchen</h3>
<div class="paragraph">
<p>Bist du für die Artikeldaten mehrerer Webshops zuständig? Gehe wie unten beschrieben vor, um gezielt die <a href="/artikel/artikel-verwalten#_verfügbarkeit_für_mandanten_einstellen">Artikel eines Mandanten</a> abzurufen.</p>
</div>
<div class="paragraph instruction">
<p>Artikel eines Mandanten suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Mandant</strong> in der Spalte links.</p>
</li>
<li>
<p>Klicke auf einen Mandanten.<br>
→ Die Artikel des Mandanten werden in der Artikelübersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mandant mit Kategorie und Filter kombinieren</div>
<div class="paragraph">
<p>Klicke ganz links auf das Ordner-Symbol (<span class="icon"><i class="fa fa-folder" style="color:darkGrey"></i></span>) eines Mandanten und dann auf eine darin enthaltene Kategorie. Die Suchergebnisse werden auf Artikel einer bestimmten Kategorie <em>und</em> eines bestimmten Mandanten eingegrenzt. Verwende die Mandantensuche auch zusammen mit den Filtereinstellungen aus <a href="#tabelle-artikel-varianten-filtern">Tabelle 1</a> und grenze damit deine Suchergebnisse noch näher ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Für einen Mandanten <em>nicht verfügbare</em> Artikel suchen</div>
<div class="paragraph">
<p>Setze ein Häkchen neben <strong>Nicht verfügbar</strong> und klicke auf einen Mandanten. Die für den Mandanten nicht verfügbaren Artikel werden in der Artikelübersicht angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Varianten im Artikeldatensatz suchen</h3>
<div class="paragraph">
<p>Artikel beinhalten immer eine oder mehrere Varianten. Beim Öffnen eines Artikels wird immer die erste Variante, d.h. die <a href="/artikel/einleitung/struktur#600">Hauptvariante</a>, automatisch mit geöffnet. Aber wie kommst du an die weiteren Untervarianten des Artikels ran? Gehe wie unten beschrieben vor, um die einzelnen Varianten eines Artikels zu suchen.</p>
</div>
<div class="paragraph instruction">
<p>Varianten im Artikel suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong>. Beachte <a href="#tabelle-varianten-filtern">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die gefilterten Varianten werden innerhalb des Artikeldatensatzes angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-varianten-filtern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Varianten im Artikeldatensatz suchen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um nach der Variante mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ext. Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser externen Varianten-ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eingeben, um nach der Variante mit diesem Code zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert oder <strong>ALLE</strong> wählen, um nach Varianten mit diesem Attributwert zu suchen. Attribute werden dynamisch geladen. Nur mit Varianten verknüpfte Attribute werden also angezeigt.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Varianten lieber direkt in der Hauptübersicht sehen?</div>
<div class="paragraph">
<p>Verwende die in <a href="#tabelle-artikel-varianten-filtern">Tabelle 1</a> beschriebenen Filter, um Varianten anstatt im Artikeldatensatz direkt in der Hauptübersicht zu sehen. Wähle beim Filter <a href="/artikel/einleitung/suche#tabellentyp">Tabellentyp</a> die Option <strong>Varianten</strong> oder <strong>Erweitert</strong>. Verwende zusätzlich die Filter <strong>Varianten-ID</strong> oder <strong>Variantennummer</strong>, um gezielt nach bestimmten Varianten zu suchen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">1.4. Standard-Suchverhalten anpassen</h3>
<div class="paragraph">
<p>Soll ein <a href="/artikel/artikel-verwalten#_in_artikelübersicht_angezeigte_preise_und_barcodes_anpassen">bestimmter Verkaufspreis oder Barcode</a> in der Artikelübersicht dargestellt werden? Möchtest du selbst definieren, <a href="/artikel/artikel-verwalten#385">welche Artikelparameter vom Suchindex erfasst</a> werden? Mit plentymarkets kannst du das Suchverhalten nach deinen Bedürfnissen anpassen!</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Mit Suchergebnissen arbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du die <a href="/artikel/einleitung/suche#100">Suchoptionen in der Spalte links</a> verwendet, werden dir die Suchergebnisse in einer Übersicht rechts angezeigt. Klicke direkt auf einen Artikel in der Übersicht, um den Artikeldatensatz zu öffnen und <a href="/artikel/artikel-verwalten#30">manuell zu bearbeiten</a>.</p>
</div>
<div class="sect2">
<h3 id="700">2.1. Spalten- und Sortierreihenfolge anpassen</h3>
<div class="paragraph">
<p>Wenn du mit dem Mauszeiger über die Spaltenüberschriften fährst, werden weitere Symbole eingeblendet. Nutze diese Symbole, um die Ansicht nach deinen Bedürfnissen anzupassen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Welche Spalten sollen in der Tabelle enthalten sein? Klicke auf <strong>Ansicht einrichten</strong> (<span class="icon"><i class="fa fa-gear" style="color:darkGrey"></i></span>) und wähle allen von dir gewünschten Spalten (<span class="icon"><i class="fa fa-check-square" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Sollen bestimmte Spalten weiter rechts oder links dargestellt werden? Sobald dein Mauszeiger seine Form verändert (<span class="icon"><i class="fa fa-arrows" style="color:darkGrey"></i></span>), kannst du die Spalten verschieben. Klicke einfach auf den Spaltenkopf und ziehe die Spalte in die gewünschte Position.</p>
</li>
<li>
<p>Sollen Nummern absteigend oder aufsteigend sortiert werden? Klicke auf das kleine Dreieck (<span class="icon"><i class="fa fa-caret-down" style="color:darkGrey"></i></span>), um die Sortierreihenfolge anzupassen.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="800">2.2. Symbole in der Übersicht</h3>
<div class="paragraph">
<p>Siehst du die Spalte <strong>Aktionen</strong> in der Tabelle? Darunter sind einige Symbole, die dir helfen, deine Artikel schnell und unkompliziert zu verwalten.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Klicke auf <strong>Artikel bearbeiten</strong> (<span class="icon"><i class="fa fa-pencil" style="background-color:yellow"></i></span>), um den Artikeldatensatz zu öffnen. Klicke alternativ direkt auf den Artikel in der Übersicht.</p>
</li>
<li>
<p>Klicke auf <strong>Sichtbar im Webshop</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>), um die Darstellung des Artikels im Webshop zu prüfen. Wird das Symbol durchgestrichen, ist der Artikel <strong>Unsichtbar im Webshop</strong> (<span class="fa-stack fa-lg"><i class="fa fa-eye fa-stack-2x" style="color:blue"></i><i class="fa fa-times fa-stack-1x lr" style="color: darkGrey"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Listing</strong> (<span class="fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x" style="background-color:yellow"></i><i class="fa fa-eye fa-stack-1x lr" style="color: yellow-background"></i></span>), um eine Übersicht aller Listings oder Auktionen mit dieser Artikel-ID zu sehen. Wird das Symbol ausgegraut, wurden noch keine Listings für den Artikel angelegt.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Listing</strong> (<span class="fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x" style="color:green"></i><i class="fa fa-plus fa-stack-1x lr" style="color: darkGrey"></i></span>), um diesen Artikel in einem <a href="/maerkte/ebay/ebay-einrichten#3400">Listing oder Auktion auf eBay</a>, <a href="/maerkte/hood#2300">Hood</a> oder <a href="/maerkte/ricardo-ch#1900">ricardo</a> zu verkaufen.</p>
</li>
<li>
<p>Klicke auf <strong>Notiz hinzufügen</strong> (<span class="fa-stack fa-lg"><i class="fa fa-calendar-minus-o fa-stack-2x" style="color:green"></i><i class="fa fa-plus fa-stack-1x lr" style="color: darkGrey"></i></span>), um eine <a href="/artikel/artikel-verwalten#2090">Notiz für die Variante</a> zu schreiben.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Weitere Symbole im Artikeldatensatz</div>
<div class="paragraph">
<p>Hast du einen Artikel bereits geöffnet, findest du weitere Symbole in der Tab-Leiste.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">3. Beispielartikel</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1000">3.1. Beispielartikel verstehen</h3>
<div class="paragraph">
<p>Dein plentymarkets System enthält einige Beispielartikel und Beispielvarianten. Diese Beispieldaten helfen dir, dich mit der Struktur von Artikeln und Varianten vertraut zu machen, bevor du eigene Daten einpflegst.</p>
</div>
<div class="paragraph">
<p>Anhand dieser Beispielartikel werden wir dir kurz die Artikelstruktur erklären.</p>
</div>
<div class="sect3">
<h4 id="1100">3.1.1. Beispielartikel anzeigen</h4>
<div class="paragraph instruction">
<p>Beispielartikel anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke in der Spalte links oben auf <strong>Suchen</strong>.<br>
→ Die Beispielartikel werden in der Artikelübersicht angezeigt.</p>
</li>
<li>
<p>Öffne die folgenden Artikel:</p>
<div class="ulist">
<ul>
<li>
<p>Den Einzelartikel "Sessel Floating Water", Artikel-ID 123</p>
</li>
<li>
<p>Den Variantenartikel "Zweisitzer Paradise Now", Artikel-ID 132</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke dich durch die Tabs des Artikels und der Varianten und mache dich mit den Einstellungsmöglichkeiten vertraut.<br>
→ <a href="#tabelle-beispielartikel">Tabelle 3</a> stellt die beiden Artikel gegenüber.</p>
</li>
<li>
<p>Teste die Funktionsweise der Vererbung:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Verknüpfe für die Variante 1065 des Artikels 132 im Tab <strong>Kategorien</strong> eine weitere Kategorie.<br>
→ Die bisher vererbte Kategorie wird direkt an der Variante gespeichert.<br>
→ Die Vererbung wird deaktiviert.</p>
</li>
<li>
<p>Klicke auf <strong>Vererbung aktivieren</strong>.<br>
→ Die Kategorie, die du verknüpft hast, wird entfernt.<br>
→ Die Kategorie der Hauptvariante wird übernommen.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<table id="tabelle-beispielartikel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Einzel- und Variantenartikel</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Einzelartikel</th>
<th class="tableblock halign-left valign-top">Variantenartikel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">123</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">132</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sessel Floating Water</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweisitzer Paradise Now</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1030</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hauptvariante kaufbar</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja<br>
<strong><em>Tipp:</em></strong> Bei Einzelartikeln sollte das Produkt der Hauptvariante entsprechen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein<br>
<strong><em>Tipp:</em></strong> Bei Variantenartikeln sollte die Hauptvariante kein verkaufbares Produkt sein. Die Hauptvariante sollte nur dazu dienen, die anderen Varianten des Artikels per Vererbung mit Daten zu versorgen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Varianten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - rot<br>
1066 - weiß</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A &amp; C Design</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exclusive Leather</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis<br>
UVP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis<br>
UVP<br>
<strong><em>Tipp:</em></strong> Die Preise werden nicht von der Hauptvariante an die Varianten vererbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wohnzimmer » Sessel &amp; Hocker</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wohnzimmer » Sofas<br>
<strong><em>Tipp:</em></strong> Die Kategorie wird von der Hauptvariante an die Varianten vererbt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahlkombination<br>
(Attribut:Attributwert)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">---</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - Couch color:rot<br>
1066 - Couch color:white<br>
<strong><em>Tipp:</em></strong> Mit der Hauptvariante ist kein Attribut verknüpft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop<br>
<strong><em>Tipp:</em></strong> Der Mandant wird von der Hauptvariante an die Varianten vererbt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="1200">3.2. Beispielartikel löschen</h3>
<div class="paragraph">
<p>Nachdem du dir die Beispielartikel angesehen hast, haben sie ihre Schuldigkeit getan und du kannst sie löschen. Damit stellst du sicher, dass du von Anfang an ein sauberes System ohne unnötige Daten hast. Am schnellsten löschst du die Beispielartikel mit der Gruppenfunktion.</p>
</div>
<div class="paragraph instruction">
<p>Beispielartikel per Gruppenfunktion löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Stelle den Filter <strong>Aktiv</strong> auf <strong>ALLE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Alle im System gespeicherten Artikel werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Spaltenüberschrift der Liste ganz oben links auf das Kontrollkästchen, um alle angezeigten Artikel zu markieren.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Artikel-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Artikel löschen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Alle Artikel werden aus dem System gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>