<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Artikel und Varianten suchen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Artikel einer Kategorie suchen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Artikel eines Mandanten suchen</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Varianten im Artikeldatensatz suchen</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Standard-Suchverhalten anpassen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Mit Suchergebnissen arbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>2.1.</span><span> Spalten- und Sortierreihenfolge anpassen</span></a></li>
<li><a href="#800"><span>2.2.</span><span> Symbole in der Übersicht</span></a></li>
</ul>
</li>
<li><a href="#900"><span>3.</span><span> Beispielartikel</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>3.1.</span><span> Beispielartikel verstehen</span></a>
<ul class="sectlevel3">
<li><a href="#1100"><span>3.1.1.</span><span> Beispielartikel anzeigen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.2.</span><span> Beispielartikel löschen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Nutzerführung und Beispielartikel</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du deine ersten Artikeldaten ins System einpflegst, solltest du dich kurz mit der Artikelübersicht vertraut machen. Auf dieser Seite lernst du, wie du dich im Menü zurechtfindest und wo du die Beispielartikel findest, die in neuen Systemen gespeichert sind.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Artikel und Varianten suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü <strong>Artikel » Artikel bearbeiten</strong> bietet dir eine Übersicht deiner Artikel und Varianten. Verwende die Suchoptionen in der Spalte links, um gezielt nach Artikeln und Varianten zu suchen. Die <a href="/artikel/einleitung/suche#600">Suchergebnisse</a> werden dir in einer Übersicht rechts angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Artikel suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong> in der Spalte links. Beachte <a href="#table-filter-item-variations">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search"></i></span>).<br>
→ Die gefilterten Artikel werden in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum werden meine Artikel nicht gefunden?</div>
<div class="paragraph">
<p>Siehst du den Filter <a href="/artikel/einleitung/suche#aktiv">Aktiv</a> in der linken Spalte? Mit diesem Filter legst du fest, ob nur Artikel und Varianten angezeigt werden, die für einen Webshop aktiviert sind. Standardmäßig ist dieser Filter auf <strong>Ja</strong> eingestellt. Das wird dir später, wenn du viele Artikel und Varianten hast, helfen, deine Artikel schneller zu bearbeiten. Am Anfang kann es aber verwirrend sein, denn Artikel, die nicht aktiv sind, werden nicht gefunden. Setze den Filter auf <strong>Nein</strong> oder <strong>Alle</strong> und führe die Suche erneut aus.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-filter-item-variations" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Filtereinstellungen für Artikel und Varianten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="tabellentyp">Tabellentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen <a href="/artikel/einleitung/struktur">Artikel und Varianten</a> in den Suchergebnissen zusammengefasst werden? Soll die Tabelle also alle denkbaren Varianten oder nur die Artikel als Ganzes auflisten?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel</strong> = In der Übersicht werden nur ganze Artikel aufgelistet. Du musst den Artikeldatensatz öffnen, wenn du <a href="/artikel/einleitung/suche#400">die darin enthaltenen Varianten sehen</a> möchtest. Dies ist die Standardeinstellung.<br></p>
</li>
<li>
<p><strong>Varianten</strong> = Jede einzelne Variante wird in der Übersicht aufgelistet.<br></p>
</li>
<li>
<p><strong>Erweitert</strong> = Pro Zeile wird ein Artikel angezeigt. Klappe den Artikel auf (<span class="icon darkGrey"><i class="fa fa-chevron-down"></i></span>), um die darin enthaltenen Varianten zu sehen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Artikel mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um nach der Variante mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eingeben, um nach der Variante mit diesem Code zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="artikeldaten">Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikeldaten eingeben, z.B. den Namen oder Modell eines Artikels oder ein passendes Stichwort. Artikel, die mit diesen Daten übereinstimmen, werden in der Übersicht angezeigt. Du kannst selbst entscheiden, <a href="/artikel/anwendungsfaelle/suchverhalten#200">welche Artikeldaten die Suche berücksichtigen soll</a>.<br>
<strong><em>Artikelbeschreibung durchsuchen</em></strong>: Möchtest du nach den Artikeln suchen, deren Beschreibung ein bestimmtes Stichwort enthält? Aktiviere ganz einfach die <a href="/artikel/einleitung/suche#beschreibung"><strong>In Beschreibung</strong> Option</a> (<span class="icon blue"><i class="fa fa-check-square"></i></span>) und gib den Suchbegriff in dieses Suchfeld ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seriennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Seriennummer eingeben, um nach dem Artikel mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU oder <strong>ALLE</strong> wählen, um nach dem Artikel mit dieser SKU zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="tags">Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-Namen eingeben, um nach Varianten zu suchen, die mit diesen <a href="/basics/arbeiten-mit-plentymarkets/tags">Tags</a> verknüpft wurden. Tags werden im Menü <strong>Einrichtung » Einstellungen » Tags</strong> erstellt.<br>
Stelle im Tag-Filter den gewünschten Such-Modus ein. Der UND-Modus filtert Varianten, die alle gewählten Tags besitzen. Der ODER-Modus filtert alle Varianten, die mindestens eins der gewählten Tags besitzt.<br>
<strong><em>Tipp:</em></strong> Den ersten Buchstaben des Tags eingeben und dann die Autovervollständigung nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notiztext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text eingeben, um nach Artikeln mit Varianten zu suchen, deren Notizen diesen Text enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanten-Artikelnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer des Lieferanten eingeben, um nach dem Artikel mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du nach einem bestimmten Artikeltyp suchen? Verwende diesen Filter und grenze deine Suche so ein, dass sie nur Standardartikel, <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Setartikel oder Multipacks</a> enthält.<br>
<strong><em>Wie sieht es mit Artikelpaketen aus?</em>:</strong> Es ist auch möglich, nach Artikelpaketen oder einzelnen Paketbestandteilen zu suchen. Verwende dazu den Filter <a href="/artikel/einleitung/suche#paket">Paket</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="beschreibung">In Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren (<span class="icon blue"><i class="fa fa-check-square"></i></span>), um nach einem Stichwort in der Artikelbeschreibung zu suchen. Gib den Stichwort in <a href="/artikel/einleitung/suche#artikeldaten">das Feld <strong>Artikeldaten</strong></a> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelauflistung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du nach Varianten suchen, deren <a href="/artikel/artikel-verwalten#230">Artikelauflistung-Einstellung</a> auf sichtbar oder unsichtbar gesetzt ist?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du nach Artikeln suchen, für die <a href="/artikel/artikel-verwalten#90">ein Bild gespeichert</a> ist?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1;<br>
Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung oder <strong>ALLE</strong> wählen, um nach <a href="/artikel/artikel-verwalten#810">Artikeln mit dieser Markierung</a> zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller oder <strong>ALLE</strong> wählen, um nach <a href="/artikel/artikel-verwalten#610">Artikeln mit diesem Hersteller</a> zu suchen.<br>
<strong>Ohne</strong> wählen, um nach Artikeln ohne Hersteller zu suchen. Damit ein Hersteller als Filteroption verfügbar ist, muss mindestens ein Artikel mit dem Hersteller verknüpft sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der linken Dropdown-Liste ein Attribut oder <strong>ALLE</strong> wählen. In der rechten Dropdown-Liste einen Attributwert oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit diesem Attributwert zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="aktiv">Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nur nach <a href="/artikel/artikel-verwalten#230">aktiven Artikeln</a> suchen, d.h. nach Artikeln, die im Webshop verfügbar sind?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Standardeinstellung. Nach allen aktiven Artikeln suchen.<br></p>
</li>
<li>
<p><strong>ALLE</strong> = Nach allen Artikeln suchen. In der Übersicht werden sowohl aktive als auch inaktive Artikel angezeigt.<br></p>
</li>
<li>
<p><strong>Nein</strong> = Nach allen inaktiven Artikeln suchen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop) oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten dieses Mandanten zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit dieser Verfügbarkeit zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit diesem Verkaufspreis zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofil oder <strong>ALLE</strong> wählen, um nach Artikeln mit diesem Versandprofil zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit diesem Lager zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WB-Beschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieser Filter schränkt die Suche so ein, dass sie nur Artikel mit einer bestimmten <a href="/artikel/artikel-verwalten#230">Bestandsbeschränkung</a> enthält.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>keine Beschränkung</strong> = Die Suchergebnisse enthalten nur Artikel, bei denen die <strong>Beschränkung</strong> Option auf <strong>Keine</strong> gesetzt wurde.</p>
</li>
<li>
<p><strong>Beschränkung auf Nettowarenbestand</strong> = Die Suchergebnisse enthalten nur Artikel, bei denen die <strong>Beschränkung</strong> Option auf <strong>Auf Netto-WB</strong> gesetzt wurde.</p>
</li>
<li>
<p><strong>Keinen Warenbestand führen</strong> = Die Suchergebnisse enthalten nur Artikel, bei denen die <strong>Beschränkung</strong> Option auf <strong>Keinen WB für diese Variante führen</strong> gesetzt wurde.</p>
</li>
<li>
<p><strong>ALLE</strong> = Die Suchergebnisse umfassen Artikel mit jeder Bestandsbeschränkung. Dies ist die Standardeinstellung</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenbestand oder <strong>ALLE</strong> wählen, um nach Artikeln und Varianten mit diesem Warenbestand zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warentyp oder <strong>ALLE</strong> wählen, um nach Waren dieses Typs zu suchen.<br>
<strong>Ohne Colli</strong> wählen, um Artikel des Warentyps <strong>Colli</strong> von der Suche auszuschließen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="paket">Paket</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nach <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Artikelpaketen</a> oder einzelnen Paketbestandteilen suchen?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Die Suchergebnisse umfassen nur Artikel und Varianten, die den <em>Hauptartikel eines Artikelpakets</em> darstellen.</p>
</li>
<li>
<p><strong>Nein</strong> = Die Suchergebnisse umfassen Artikel und Varianten, die weder der Hauptartikel noch Bestandteile eines Artikelpakets sind.</p>
</li>
<li>
<p><strong>Bestandteil</strong> = Die Suchergebnisse umfassen nur Artikel und Varianten, die <em>Bestandteile eines Artikelpakets</em> sind.</p>
</li>
<li>
<p><strong>ALLE</strong> = Die Suchergebnisse umfassen sowohl Artikelpakete als auch Artikel, die keine Pakete sind. Dies ist die Standardeinstellung.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nach Artikeln suchen, die Teil eines Listings oder einer Auktion sind?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ja</strong> = Die Suchergebnisse enthalten nur Artikel, die Teil eines Listings oder einer Auktion sind, d.h. Artikel mit einem <a href="/artikel/einleitung/suche#800">gelben Listing-Symbol</a> (<span class="icon yellow"><i class="fa fa-bars"></i></span>).</p>
</li>
<li>
<p><strong>Nein</strong> = Die Suchergebnisse enthalten nur Artikel, die <em>nicht</em> Teil eines Listings oder einer Auktion sind, d.h. Artikel mit einem <a href="/artikel/einleitung/suche#800">grauen Listing-Symbol</a> (<span class="icon darkGrey"><i class="fa fa-bars"></i></span>).</p>
</li>
<li>
<p><strong>Auktion (Ja)</strong> = Die Suchergebnisse enthalten nur Artikel, die Teil einer Auktion sind. Dies bedeutet, dass <a href="/maerkte/ebay/ebay-einrichten#3500">die Option <strong>Typ</strong> auf <strong>Auktion</strong> gesetzt wurde</a>.</p>
</li>
<li>
<p><strong>Shop-Artikel/Festpreis (Ja)</strong> = Die Suchergebnisse enthalten nur Artikel, die Teil eines Listings sind. Dies bedeutet, dass <a href="/maerkte/ebay/ebay-einrichten#3500">die Option <strong>Typ</strong> auf <strong>Festpreis</strong> oder <strong>Shop-Artikel</strong> gesetzt wurde</a>.</p>
</li>
<li>
<p><strong>ALLE</strong> = Die Suchergebnisse umfassen Artikel die Teil eines Listings und <em>nicht</em> Teil eines Listings sind. Dies ist die Standardeinstellung.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter schränkt die Suchergebnisse auf Artikel ein, die Teil einer <a href="/artikel/webshop/shop-aktionen#200">Callisto-Shop-Aktion</a> sind. Der Filter sucht nach Artikeln, die im Tab <strong>Global</strong> als <strong>Sonderangebot</strong>, <strong>Neuheit</strong> oder <strong>Top-Artikel</strong> markiert wurden.<br>
<strong><em>Wie sieht es mit Ceres-Shop-Aktionen aus?</em></strong>: <a href="/artikel/webshop/shop-aktionen#100">Ceres-Shop-Aktionen</a> werden mithilfe von Tags abgebildet. Verwende daher den <a href="/artikel/einleitung/suche#tags">Tags-Filter</a>, um nach Artikeln zu suchen, die Teil einer Ceres-Shop-Aktion sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Altersfreigabe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit diesem Filter kannst du die Suchergebnisse so eingrenzen, dass nur Artikel mit einer bestimmten <a href="/artikel/artikel-verwalten#40">Altersfreigabe im Tab <strong>Global</strong></a> angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update von;<br>
Update bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum im Kalender wählen, um nach allen Artikeln zu suchen, an denen in diesem Zeitraum Änderungen vorgenommen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter grenzt die Suchergebnisse so ein, dass nur Artikel mit einem bestimmten Amazon-Produkttyp im Tab <strong>Multi-Channel</strong> angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Canada</strong>;<br>
<strong>Amazon FBA</strong>;<br>
…​<br>
<strong>ShopShare</strong><br>
<strong>WEB-API</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Möchtest du nur nach Artikeln suchen, die auf einem bestimmten Marktplatz verfügbar sind?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Sichtbar</strong> = Dieser Markt wurde im Tab <strong>Verfügbarkeit</strong> der Variante ausgewählt.</p>
</li>
<li>
<p><strong>Unsichtbar</strong> = Dieser Markt wurde <em>nicht</em> im Tab <strong>Verfügbarkeit</strong> der Variante ausgewählt.</p>
</li>
<li>
<p><strong>ALLE</strong> = Die Suchergebnisse sollen sowohl Artikel enthalten, die auf diesem Markt erhältlich sind, als auch Artikel, die auf diesem Markt nicht erhältlich sind. Dies ist die Standardeinstellung.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="200">1.1. Artikel einer Kategorie suchen</h3>
<div class="paragraph">
<p>Möchtest du nach Artikeln einer bestimmten Kategorie suchen? Gehe wie unten beschrieben vor, um die <a href="/artikel/artikel-verwalten#300">Artikel einer Kategorie</a> zu sehen.</p>
</div>
<div class="paragraph instruction">
<p>Artikel einer Kategorie suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Kategorie</strong> in der Spalte links.</p>
</li>
<li>
<p>Klicke auf eine Kategorie oder auf eine Unterkategorie.<br>
→ Die Artikel dieser Kategorie bzw. Unterkategorie werden in der Artikelübersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wo finde ich die Unterkategorien?</div>
<div class="paragraph">
<p>Klicke ganz links auf das Ordner-Symbol (<span class="icon darkGrey"><i class="fa fa-folder"></i></span>) einer Kategorie, um die darin enthaltenen Unterkategorien zu sehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kategorien mit Filtern kombinieren</div>
<div class="paragraph">
<p>Verwende die Kategoriesuche zusammen mit den Filtereinstellungen aus <a href="#table-filter-item-variations">Tabelle 1</a> und grenze damit deine Suchergebnisse noch näher ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wieder nach Artikeln in allen Kategorien suchen</div>
<div class="paragraph">
<p>Wechsele zurück in das Tab <strong>Filter</strong> und entferne das Häkchen neben <strong>Mit Kategorie</strong>. Die nächste Suche erfolgt in allen Kategorien.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Artikel eines Mandanten suchen</h3>
<div class="paragraph">
<p>Bist du für die Artikeldaten mehrerer Webshops zuständig? Gehe wie unten beschrieben vor, um gezielt die <a href="/artikel/artikel-verwalten#_verfügbarkeit_für_mandanten_einstellen">Artikel eines Mandanten</a> abzurufen.</p>
</div>
<div class="paragraph instruction">
<p>Artikel eines Mandanten suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Mandant</strong> in der Spalte links.</p>
</li>
<li>
<p>Klicke auf einen Mandanten.<br>
→ Die Artikel des Mandanten werden in der Artikelübersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mandant mit Kategorie und Filter kombinieren</div>
<div class="paragraph">
<p>Klicke ganz links auf das Ordner-Symbol (<span class="icon darkGrey"><i class="fa fa-folder"></i></span>) eines Mandanten und dann auf eine darin enthaltene Kategorie. Die Suchergebnisse werden auf Artikel einer bestimmten Kategorie <em>und</em> eines bestimmten Mandanten eingegrenzt. Verwende die Mandantensuche auch zusammen mit den Filtereinstellungen aus <a href="#table-filter-item-variations">Tabelle 1</a> und grenze damit deine Suchergebnisse noch näher ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Für einen Mandanten <em>nicht verfügbare</em> Artikel suchen</div>
<div class="paragraph">
<p>Setze ein Häkchen neben <strong>Nicht verfügbar</strong> und klicke auf einen Mandanten. Die für den Mandanten nicht verfügbaren Artikel werden in der Artikelübersicht angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Varianten im Artikeldatensatz suchen</h3>
<div class="paragraph">
<p>Artikel beinhalten immer eine oder mehrere Varianten. Beim Öffnen eines Artikels wird immer die erste Variante, d.h. die <a href="/artikel/einleitung/struktur#600">Hauptvariante</a>, automatisch mit geöffnet. Aber wie kommst du an die weiteren Untervarianten des Artikels ran? Gehe wie unten beschrieben vor, um die einzelnen Varianten eines Artikels zu suchen.</p>
</div>
<div class="paragraph instruction">
<p>Varianten im Artikel suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Varianten</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong>. Beachte <a href="#table-filter-variations">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search"></i></span>).<br>
→ Die gefilterten Varianten werden innerhalb des Artikeldatensatzes angezeigt.</p>
</li>
</ol>
</div>
<table id="table-filter-variations" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Varianten im Artikeldatensatz suchen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um nach der Variante mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ext. Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser externen Varianten-ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eingeben, um nach der Variante mit diesem Code zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert oder <strong>ALLE</strong> wählen, um nach Varianten mit diesem Attributwert zu suchen. Attribute werden dynamisch geladen. Nur mit Varianten verknüpfte Attribute werden also angezeigt.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Varianten lieber direkt in der Hauptübersicht sehen?</div>
<div class="paragraph">
<p>Verwende die in <a href="#table-filter-item-variations">Tabelle 1</a> beschriebenen Filter, um Varianten anstatt im Artikeldatensatz direkt in der Hauptübersicht zu sehen. Wähle beim Filter <a href="/artikel/einleitung/suche#tabellentyp">Tabellentyp</a> die Option <strong>Varianten</strong> oder <strong>Erweitert</strong>. Verwende zusätzlich die Filter <strong>Varianten-ID</strong> oder <strong>Variantennummer</strong>, um gezielt nach bestimmten Varianten zu suchen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">1.4. Standard-Suchverhalten anpassen</h3>
<div class="paragraph">
<p>Soll ein <a href="/artikel/anwendungsfaelle/suchverhalten#100">bestimmter Verkaufspreis oder Barcode</a> in der Artikelübersicht dargestellt werden? Möchtest du selbst definieren, <a href="/artikel/anwendungsfaelle/suchverhalten#200">welche Artikelparameter vom Suchindex erfasst</a> werden? Mit plentymarkets kannst du das Suchverhalten nach deinen Bedürfnissen anpassen!</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Mit Suchergebnissen arbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hast du die <a href="/artikel/einleitung/suche#100">Suchoptionen in der Spalte links</a> verwendet, werden dir die Suchergebnisse in einer Übersicht rechts angezeigt. Klicke direkt auf einen Artikel in der Übersicht, um den Artikeldatensatz zu öffnen und <a href="/artikel/artikel-verwalten#30">manuell zu bearbeiten</a>.</p>
</div>
<div class="sect2">
<h3 id="700">2.1. Spalten- und Sortierreihenfolge anpassen</h3>
<div class="paragraph">
<p>Wenn du mit dem Mauszeiger über die Spaltenüberschriften fährst, werden weitere Symbole eingeblendet. Nutze diese Symbole, um die Ansicht nach deinen Bedürfnissen anzupassen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Welche Spalten sollen in der Tabelle enthalten sein? Klicke auf <strong>Ansicht einrichten</strong> (<span class="icon darkGrey"><i class="fa fa-gear"></i></span>) und wähle allen von dir gewünschten Spalten (<span class="icon blue"><i class="fa fa-check-square"></i></span>).</p>
</li>
<li>
<p>Sollen bestimmte Spalten weiter rechts oder links dargestellt werden? Sobald dein Mauszeiger seine Form verändert (<span class="icon darkGrey"><i class="fa fa-arrows"></i></span>), kannst du die Spalten verschieben. Klicke einfach auf den Spaltenkopf und ziehe die Spalte in die gewünschte Position.</p>
</li>
<li>
<p>Sollen Nummern absteigend oder aufsteigend sortiert werden? Klicke auf das kleine Dreieck (<span class="icon darkGrey"><i class="fa fa-caret-down"></i></span>), um die Sortierreihenfolge anzupassen.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="800">2.2. Symbole in der Übersicht</h3>
<div class="paragraph">
<p>Siehst du die Spalte <strong>Aktionen</strong> in der Tabelle? Darunter sind einige Symbole, die dir helfen, deine Artikel schnell und unkompliziert zu verwalten.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Klicke auf <strong>Artikel bearbeiten</strong> (<span class="icon yellow"><i class="fa fa-pencil"></i></span>), um den Artikeldatensatz zu öffnen. Klicke alternativ direkt auf den Artikel in der Übersicht.</p>
</li>
<li>
<p>Klicke auf <strong>Sichtbar im Webshop</strong> (<span class="icon blue"><i class="fa fa-eye"></i></span>), um die <a href="/artikel/webshop">Darstellung des Artikels im Webshop</a> zu prüfen. Wird das Symbol durchgestrichen, ist der Artikel <strong>Unsichtbar im Webshop</strong> (<span class="icon blue"><i class="fa fa-eye"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Listing</strong> (<span class="icon yellow"><i class="fa fa-bars"></i></span>), um eine Übersicht aller Listings oder Auktionen mit dieser Artikel-ID zu sehen. Wird das Symbol ausgegraut, wurden noch keine Listings für den Artikel angelegt.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Listing</strong> (<span class="icon green"><i class="fa fa-bars"></i></span>), um diesen Artikel in einem <a href="/maerkte/ebay/ebay-einrichten#3400">Listing oder Auktion auf eBay</a>, <a href="/maerkte/hood#2300">Hood</a> oder <a href="/maerkte/ricardo-ch#1900">ricardo</a> zu verkaufen.</p>
</li>
<li>
<p>Klicke auf <strong>Notiz hinzufügen</strong> (<span class="icon green"><i class="fa fa-calendar-minus-o"></i></span>), um eine <a href="/artikel/artikel-verwalten#2090">Notiz für die Variante</a> zu schreiben.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Weitere Symbole im Artikeldatensatz</div>
<div class="paragraph">
<p>Hast du einen Artikel bereits geöffnet, findest du weitere Symbole in der Tab-Leiste.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">3. Beispielartikel</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1000">3.1. Beispielartikel verstehen</h3>
<div class="paragraph">
<p>Dein plentymarkets System enthält einige Beispielartikel und Beispielvarianten. Diese Beispieldaten helfen dir, dich mit der Struktur von Artikeln und Varianten vertraut zu machen, bevor du eigene Daten einpflegst.</p>
</div>
<div class="paragraph">
<p>Anhand dieser Beispielartikel werden wir dir kurz die Artikelstruktur erklären.</p>
</div>
<div class="sect3">
<h4 id="1100">3.1.1. Beispielartikel anzeigen</h4>
<div class="paragraph instruction">
<p>Beispielartikel anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Klicke in der Spalte links oben auf <strong>Suchen</strong>.<br>
→ Die Beispielartikel werden in der Artikelübersicht angezeigt.</p>
</li>
<li>
<p>Öffne die folgenden Artikel:</p>
<div class="ulist">
<ul>
<li>
<p>Den Einzelartikel "Sessel Floating Water", Artikel-ID 123</p>
</li>
<li>
<p>Den Variantenartikel "Zweisitzer Paradise Now", Artikel-ID 132</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke dich durch die Tabs des Artikels und der Varianten und mache dich mit den Einstellungsmöglichkeiten vertraut.<br>
→ <a href="#tabelle-beispielartikel">Tabelle 3</a> stellt die beiden Artikel gegenüber.</p>
</li>
<li>
<p>Teste die Funktionsweise der Vererbung:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Verknüpfe für die Variante 1065 des Artikels 132 im Tab <strong>Kategorien</strong> eine weitere Kategorie.<br>
→ Die bisher vererbte Kategorie wird direkt an der Variante gespeichert.<br>
→ Die Vererbung wird deaktiviert.</p>
</li>
<li>
<p>Klicke auf <strong>Vererbung aktivieren</strong>.<br>
→ Die Kategorie, die du verknüpft hast, wird entfernt.<br>
→ Die Kategorie der Hauptvariante wird übernommen.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<table id="tabelle-beispielartikel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Einzel- und Variantenartikel</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Einzelartikel</th>
<th class="tableblock halign-left valign-top">Variantenartikel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">123</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">132</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sessel Floating Water</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zweisitzer Paradise Now</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1030</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hauptvariante kaufbar</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja<br>
<strong><em>Tipp:</em></strong> Bei Einzelartikeln sollte das Produkt der Hauptvariante entsprechen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein<br>
<strong><em>Tipp:</em></strong> Bei Variantenartikeln sollte die Hauptvariante kein verkaufbares Produkt sein. Die Hauptvariante sollte nur dazu dienen, die anderen Varianten des Artikels per Vererbung mit Daten zu versorgen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Varianten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - rot<br>
1066 - weiß</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A &amp; C Design</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exclusive Leather</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis<br>
UVP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis<br>
UVP<br>
<strong><em>Tipp:</em></strong> Die Preise werden nicht von der Hauptvariante an die Varianten vererbt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wohnzimmer » Sessel &amp; Hocker</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wohnzimmer » Sofas<br>
<strong><em>Tipp:</em></strong> Die Kategorie wird von der Hauptvariante an die Varianten vererbt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributauswahlkombination<br>
(Attribut:Attributwert)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">---</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - Couch color:rot<br>
1066 - Couch color:white<br>
<strong><em>Tipp:</em></strong> Mit der Hauptvariante ist kein Attribut verknüpft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop<br>
<strong><em>Tipp:</em></strong> Der Mandant wird von der Hauptvariante an die Varianten vererbt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="1200">3.2. Beispielartikel löschen</h3>
<div class="paragraph">
<p>Nachdem du dir die Beispielartikel angesehen hast, haben sie ihre Schuldigkeit getan und du kannst sie löschen. Damit stellst du sicher, dass du von Anfang an ein sauberes System ohne unnötige Daten hast. Am schnellsten löschst du die Beispielartikel mit der Gruppenfunktion.</p>
</div>
<div class="paragraph instruction">
<p>Beispielartikel per Gruppenfunktion löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Stelle den Filter <strong>Aktiv</strong> auf <strong>ALLE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Alle im System gespeicherten Artikel werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Spaltenüberschrift der Liste ganz oben links auf das Kontrollkästchen, um alle angezeigten Artikel zu markieren.</p>
</li>
<li>
<p>Klicke auf <strong>Artikel-Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Artikel-Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Artikel löschen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong>.<br>
→ Alle Artikel werden aus dem System gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>