<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Arten von Vererbung</span></a></li>
<li><a href="#200"><span>2.</span><span> Vererbungsverhalten steuern</span></a></li>
<li><a href="#300"><span>3.</span><span> Vererbung bei Wechsel der Hauptvariante</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Was ist Vererbung?</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Die <a href="/artikel/einleitung/struktur#600">Hauptvariante</a> eines Artikels unterscheidet sich von den Untervarianten dadurch, dass ihre Daten weitergegeben, also vererbt werden können. Die Hauptvariante ist also eine Elternvariante, die bestimmte Daten an ihre Kinder vererbt.</p>
</div>
<div class="paragraph">
<p>Die Vererbungsfunktion ist standardmäßig aktiviert. Wenn eine neue Variante eines Artikels erstellt wird, erbt diese Variante Einstellungen der Hauptvariante, solange keine davon abweichenden Daten gespeichert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Arten von Vererbung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es gibt zwei Arten von Vererbung in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Einzelvererbung</p>
</li>
<li>
<p>1-zu-N-Vererbung</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei der <em>Einzelvererbung</em> werden einzelne Einstellungen von der Hauptvariante an die Untervariante weitergegeben. Beispielsweise wird der Umsatzsteuersatz an der Hauptvariante gespeichert. Solange kein abweichender Umsatzsteuersatz an einer Untervariante gespeichert wird, wird diese Einstellung von der Hauptvariante geerbt.</p>
</div>
<div class="paragraph">
<p>Bei der <em>1-zu-N-Vererbung</em> werden vollständige Datensätze von der Hauptvariante an die Untervariante weitergegeben. Beispielsweise werden unterschiedliche <a href="/artikel/artikel-verwalten#240">Kombinationen aus Preisen und Bedingungen</a> an der Hauptvariante gespeichert. Solange keine abweichenden Preise an einer Untervariante gespeichert werden, werden alle Preise und Bedingungen von der Hauptvariante geerbt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Vererbungsverhalten steuern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Erstellen einer Variante werden die vererbbaren Einstellungen der Hauptvariante an die erstellte Variante vererbt. Sind für eine Variante andere Einstellungen erforderlich, muss die Vererbung an die Variante also deaktiviert und es müssen neue Einstellungen vorgenommen werden.</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-vererbungseinstellungen">Tabelle 1</a> stellt die verschiedenen Einstellungsarten von Vererbung dar. Die Tabelle beschreibt die Darstellung, das Verhalten und die Deaktivierung der Vererbung.</p>
</div>
<table id="tabelle-vererbungseinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Vererbungseinstellungen</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellungsart</th>
<th class="tableblock halign-left valign-top">Darstellung</th>
<th class="tableblock halign-left valign-top">Deaktivierung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dropdown-Liste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der erste Wert der Dropdown-Liste entspricht der Einstellung der Hauptvariante. Geerbte Werte werden in grauer Schrift angezeigt. Auch leere Felder werden vererbt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Vererbung wird deaktiviert, sobald ein anderer Wert gewählt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Checkbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vererbbare Checkboxen haben drei mögliche Zustände:<br>
<strong>Aktiviert</strong> = Häkchen<br>
<strong>Deaktiviert</strong> = Kein Häkchen<br>
<strong>Vererbt</strong> = Rot durchgestrichen, daneben Checkbox mit der Einstellung der Hauptvariante</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf durchgestrichenes Kästchen klicken, um die Vererbung zu deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Textfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geerbte Werte werden in grauer Schrift dargestellt. Auch ein leeres Feld wird vererbt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Vererbung wird automatisch deaktiviert, wenn ein Textfeld geleert, mit Text befüllt oder vererbter Inhalt geändert wird.<br>
Um einen leeren Wert in der Variante zu erzielen, muss der Wert in der Hauptvariante leer sein und stattdessen an den Varianten gepflegt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Textfelder mit 1:n-Verknüpfung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geerbte Werte werden in grauer Schrift dargestellt.<br>
Es werden entweder alle oder keine Daten vererbt. Eine Auswahl/Teilvererbung ist nicht möglich.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deaktivierung erfolgt über Schaltfläche im Header-Bereich.<br>
Die Vererbung wird außerdem automatisch deaktiviert, wenn ein Wert an der Variante geändert oder hinzugefügt wird. Nicht geänderte Werte werden aus der Vererbung übernommen und direkt an der Variante gespeichert. Wird die Vererbung wieder aktiviert, werden alle Werte gelöscht und wieder aus der Hauptvariante übernommen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Vererbung bei Wechsel der Hauptvariante</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast die Möglichkeit, eine andere Variante eines Artikels zur Hauptvariante zu machen. Dabei werden die vererbbaren Werte der Hauptvariante mit den Werten der weiteren Varianten abgeglichen. Bei einem Wechsel der Hauptvariante bleiben alle Werte erhalten und die folgende Vererbungslogik greift:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Für Werte der Varianten, die mit den Werten der neuen Hauptvariante identisch sind, wird die Vererbung automatisch aktiviert.</p>
</li>
<li>
<p>Werte, die nicht mit dem Wert der neuen Hauptvariante übereinstimmen, werden direkt an der Variante gespeichert, also nicht vererbt.</p>
</li>
</ul>
</div>
</div>
</div>
</main>