<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_optimale_größen_für_kategorie_und_artikelbilder"><span>1.</span><span> Optimale Größen für Kategorie- und Artikelbilder</span></a></li>
<li><a href="#_optimale_größen_für_den_shopbuilder"><span>2.</span><span> Optimale Größen für den ShopBuilder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Bildergrößen in Ceres</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Kapitel führt die empfohlenen Bildergrößen für Kategorie- und Artikelbilder im Ceres Webshop auf. Alle auf der Startseite dargestellten Bilder werden mittlerweile über Widgets des <a href="/webshop/shop-builder">ShopBuilders</a> bereitgestellt.<br>
Um eine Skalierbarkeit der Bilder auf vielen unterschiedlichen Endgeräten und Bildschirmgrößen sicherzustellen, sind die Bildergrößen variabel und passen sich, abhängig von der Bildschirmgröße des jeweiligen Endgeräts, in der Höhe an. Daher ist für die Anzahl der Pixel in der <strong>Breite</strong>-Spalte eine Spanne angegeben, innerhalb welcher die Höhe auf die angegebene Pixelzahl festgelegt ist. Ein Kategoriebild mit einer Breite von 500px hat demnach eine Höhe von 350px.<br></p>
</div>
<div class="paragraph">
<p>Die Bilder werden stets zentriert dargestellt. Abhängig von der jeweiligen Bildschirmgröße ist es also möglich, dass Bilder am linken und rechten Rand abgeschnitten werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_optimale_größen_für_kategorie_und_artikelbilder">1. Optimale Größen für Kategorie- und Artikelbilder</h2>
<div class="sectionbody">
<table id="tabelle-kategorie-bilder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Bildergröße für Kategorien</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bildschirmbreite</th>
<th class="tableblock halign-left valign-top">Höhe</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer als 0px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">300px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer als 544px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">350px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer als 768px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">400px</p></td>
</tr>
</tbody>
</table>
<table id="tabelle-artikel-bilder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Bildergröße für Artikel</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bildschirmbreite</th>
<th class="tableblock halign-left valign-top">Höhe</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer als 0px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">300px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer als 494px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">500px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer als 534px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">600px</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">größer als 655px</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">700px</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_optimale_größen_für_den_shopbuilder">2. Optimale Größen für den ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den ShopBuilder Widgets <strong>Bilderbox</strong> und <strong>Bilderkarussell</strong> werden 4 verschiedene Seitenverhältnisse für Bilder verwendet. Diese sind davon abhängig, ob das Widget in voller Größe oder in einem Raster mit 2, 3 oder 4 Spalten eingebunden ist und welche Layout-Einstellung für diese Raster gewählt wurde.</p>
</div>
<div class="paragraph">
<p>Für Bilder-Widgets, die <strong>ohne Raster</strong> oder in einem <strong>Raster mit 2 Spalten</strong> mit der Layout-Option <strong>50%:50%</strong> genutzt werden, ist das optimale Seitenverhältnis von Breite zu Höhe <strong>3:1</strong>. Bei Änderungen in den <a href="/webshop/shop-builder#_elemente_der_ceres_startseite_mit_dem_shop_builder_bearbeiten">Layout-Einstellungen</a> ändert sich das Seitenverhältnis auf <strong>2:1</strong> (für 66,6%) und <strong>1:1</strong> (bei 33,3%).</p>
</div>
<div class="paragraph">
<p>Bei der Einbindung in ein <strong>Raster mit 3 Spalten</strong> mit der Layout Option <strong>30%:30%:30%</strong> beträgt das optimale Seitenverhältnis von Breite zu Höhe <strong>1,5:1</strong>. Je nach <a href="/webshop/shop-builder#_elemente_der_ceres_startseite_mit_dem_shop_builder_bearbeiten">Layout-Einstellung</a> ändert sich das Seitenverhältnis wie in der unten aufgeführten <a href="#tabelle-bildergroesse-shop-builder">Tabelle</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Wenn Bilder in einem <strong>Raster mit 4 Spalten</strong> eingebunden werden sollen, ändert sich das optimale Seitenverhältnis von Breite zu Höhe auf <strong>1:1</strong>. Das Layout für dieses Raster kann nicht angepasst werden.</p>
</div>
<table id="tabelle-bildergroesse-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Optimale Bildergrößen für ShopBuilder Widgets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Anzahl der Rasterspalten</th>
<th class="tableblock halign-left valign-top">Layout-Einstellung (%)</th>
<th class="tableblock halign-left valign-top">Seitenverhältnis</th>
<th class="tableblock halign-left valign-top">Beispielgröße</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kein Raster</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>-</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x400px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>50%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x400px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>66,6%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x600px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33,3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33,3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1,5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>50%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x600px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>25%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>66,6% (gestapelt)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1,5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33,3% (gestapelt)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1,5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>4</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>-</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>