<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> Artikelseite anpassen</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>1.1.</span><span> Zusätzliche Artikeldaten in Coconut einbinden</span></a></li>
<li><a href="#55"><span>1.2.</span><span> Herstellerlogo in der Artikelansicht ausgeben</span></a></li>
<li><a href="#85"><span>1.3.</span><span> Wunschliste ausblenden</span></a></li>
</ul>
</li>
<li><a href="#100"><span>2.</span><span> Startseite überschreiben</span></a></li>
<li><a href="#200"><span>3.</span><span> Kategorieseite anpassen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Ceres Coconut Theme - Individualisiere deinen Webshop</h1><div id="preamble">
<div class="sectionbody">
<div id="10" class="paragraph">
<p>Ceres Coconut ist ein simples Theme-Plugin mit dessen Hilfe du das Standard-Design deines Ceres Webshops individualisieren kannst. Bei der Installation enthält Coconut noch keinerlei Anpassungen bezüglich Design oder Funktionalität. Coconut spiegelt die Dateistruktur des Plugins Ceres wieder und muss selbst angepasst werden, um Änderungen im Webshop anzeigen zu lassen. So kannst du beispielsweise eigenes CSS über Coconut einbinden oder einzelne Ceres-Templates anpassen. Dieses Theme ist der Nachfolger für <strong>Ceres Vanilla</strong> und ist mit Ceres ab <strong>Version 3.0</strong> und dem <strong>ShopBuilder</strong> kompatibel. Durch die Verwendung von Coconut bleibt dein angepasstes Design auch bei neuen Updates von Ceres erhalten.<br></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Ceres Coconut ist inzwischen nicht mehr auf dem Marketplace verfügbar. Weitere Informationen findest du <a href="https://forum.plentymarkets.com/t/ceres-coconut-wird-vom-marketplace-genommen-auf-github-weiterhin-verfuegbar/563502">hier im Forum</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn du Coconut bereits vom plentyMarketplace gekauft hast, musst du es danach in deinem plentymarkets Backend installieren. Wie das geht, erfährst du auf unseren <a href="/plugins/neue-plugins">Handbuchseiten zu Plugins</a>. Beachte bitte, dass du dem Plugin Ceres Coconut eine <a href="/plugins/plugin-sets#plugin-sets-erstellen">Positionsnummer</a> zuweisen musst, die zwischen der Positionsnummer von Ceres und IO liegt. Bitte lies auch die Plugin-Beschreibung auf dem Marketplace.<br></p>
</div>
<div class="paragraph">
<p>In dieser Anleitung zeigen wir dir ein paar Beispiele, wie du deinen Webshop mit Ceres Coconut individuell gestalten kannst. Nachdem du eigene Anpassungen gemacht hast, musst du das Plugin-Set, in dem Ceres Coconut liegt, erneut <strong>speichern und bereitstellen</strong> damit deine Änderungen im Webshop angezeigt werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Ceres Coconut beinhaltet lediglich die Ceres-Dateistruktur. Die einzelnen Dateien sind zunächst leer. Wenn du einzelne Bereiche anpassen möchtest, solltest du zunächst den Code aus der dazugehörigen Ceres-Datei in die jeweilige Coconut-Datei kopieren. Die folgenden Anwendungsfälle zeigen dir Schritt für Schritt wie das geht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. Artikelseite anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im ersten Schritt zeigen wir dir, wie du deine Artikelansicht anpassen kannst. Hier kannst du beispielsweise zusätzliche Artikeldaten anzeigen lassen, einzelne Komponenten ausblenden oder zusätzlichen Text einbinden. Es ist zwingend notwendig, dass du dabei alle hier aufgeführten Stellen anpasst. Am Ende jedes Kapitels gibt es eine Checkliste, die dir dabei hilft zu überprüfen, ob du die Änderungen an den richtigen Stellen eingepflegt hast.</p>
</div>
<div class="sect2">
<h3 id="30">1.1. Zusätzliche Artikeldaten in Coconut einbinden</h3>
<div class="paragraph">
<p>Um zusätzliche Artikeldaten in der Artikelansicht anzuzeigen, musst du zunächst überprüfen, ob diese Artikeldaten bereits in Ceres verfügbar sind, oder ob du diese erst hinzufügen musst. Die verfügbaren Artikeldaten findest du in JSON-Dateien, den sogenannten <strong>Result Fields</strong>, bzw. <strong>Ergebnisfelder</strong>. Unsere englischsprachige Entwicklerdokumentation enthält eine Liste der verfügbaren <a href="https://developers.plentymarkets.com/dev-doc/result-fields-ceres" target="_blank" rel="noopener">Ergebnisfelder</a>. Das Standard-Ceres verwendet nur einen Bruchteil der verfügbaren Artikeldaten. Mit Coconut kannst du aber fehlende Artikeldaten hinzufügen.<br>
Gehe wie folgt vor, um zusätzliche Artikeldaten in Ceres verfügbar zu machen:</p>
</div>
<div id="40" class="paragraph instruction">
<p>Ergebnisfelder für die Artikelansicht von Ceres nach Coconut kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Scrolle links im Konfigurationsbaum nach unten und klicke auf <strong>Dateien</strong>.<br>
→ Der Ceres-Dateibaum wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Ordnersymbol vor <strong>resources</strong>.<br>
→ Der resources-Order wird aufgeklappt.</p>
</li>
<li>
<p>Klicke auf das Ordnersymbol vor <strong>views</strong>.<br>
→ Der views-Order wird aufgeklappt.</p>
</li>
<li>
<p>Klicke auf das Ordnersymbol vor <strong>ResultFields</strong>.<br>
→ Der ResultFields-Order wird aufgeklappt.</p>
</li>
<li>
<p>Klicke auf <strong>SingleItem.fields.json</strong>.<br>
→ Die Datei wird geöffnet.</p>
</li>
<li>
<p>Kopiere den Inhalt der Datei in deine Zwischenablage.</p>
</li>
<li>
<p>Klicke in der Breadcrumb-Navigation auf <strong>Plugin-Sets</strong>, um zurück in die <strong>Plugin-Übersicht</strong> zu kommen.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Dateien</strong>.<br>
→ Der Coconut-Dateibaum wird geöffnet.</p>
</li>
<li>
<p>Wiederhole hier die Schritte 5-8, um die Datei <strong>SingleItem.fields.json</strong> in Coconut zu öffnen.<br>
→ Die leere Datei wird geöffnet.</p>
</li>
<li>
<p>Kopiere den Inhalt, den du in Schritt 9 in deine Zwischenablage kopiert hast, in die geöffnete Datei.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) deine Änderungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun hast du die in Ceres verfügbaren Artikeldaten 1:1 nach Ceres Coconut übertragen. Wie du siehst, ist diese Liste überschaubar. Im nächsten Schritt fügst du nun dieser Datei in Ceres Coconut weitere Ergebnisfelder hinzu, um später Zugriff darauf zu haben. Nimm dir einen Moment, um <a href="https://developers.plentymarkets.com/dev-doc/result-fields-ceres" target="_blank" rel="noopener">in dieser Liste</a> nach möglichen Ergänzungen für deine SingleItem.fields.json zu suchen. Im folgenden Beispiel werden wir das Ergebnisfeld <strong>item.manufacturer.logo</strong> hinzufügen, also das am Hersteller gepflegte <strong>Logo des Artikelherstellers</strong>. Damit wir später das Herstellerlogo ausgeben können, muss dieses unter <strong>Einrichtung » Artikel » Hersteller » Hersteller wählen » Logo-URL</strong> hinterlegt sein.</p>
</div>
<div id="50" class="paragraph instruction">
<p>Ergebnisfeld für die Artikelseite in Coconut hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke links auf <strong>Dateien</strong>.<br>
→ Der Coconut-Dateibaum wird geöffnet.</p>
</li>
<li>
<p>Navigiere zur oben beschriebenen Datei <strong>SingleItem.fields.json</strong>.
.Füge in dieser Datei im Bereich Item das Ergebnisfeld <strong>"item.manufacturer.logo",</strong> hinzu.<br>
 <em>Hinweis</em>: Das Komma ist erforderlich wenn das hinzugefügte Ergebnisfeld <strong>nicht</strong> an letzter Stelle in der Datei steht.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) deine Änderungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Damit hast du das Ergebnisfeld deiner Coconut-Datei hinzugefügt und du kannst darauf zugreifen. Damit du diese Artikelinformation in deinem Webshop anzeigen lassen kannst, musst du die folgenden Anpassungen vornehmen.</p>
</div>
</div>
<div class="sect2">
<h3 id="55">1.2. Herstellerlogo in der Artikelansicht ausgeben</h3>
<div class="paragraph">
<p>Im nächsten Schritt nimmst du zwei kleine Einstellungen in der Konfiguration von Coconut vor und passt danach einige Dateien in Coconut an, um die neue Artikelinformation in der Artikelansicht einzubinden.</p>
</div>
<div id="60" class="paragraph instruction">
<p>Konfig-Einstellungen für Artikeldaten in der Artikelansicht vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.<br>
→ Das Tab <strong>Templates</strong> ist bereits vorausgewählt.</p>
</li>
<li>
<p>Aktiviere in der Liste <strong>Partials und Templates überschreiben</strong> die Option <strong>Artikelansicht</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke im Navigationsbaum auf <strong>Datenfelder</strong>.<br>
→ Das Tab <strong>Datenfelder</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere in der Liste <strong>Datenfelder überschreiben</strong> die option <strong>Artikeldaten in der Artikelseite</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit diesen beiden Einstellungen hast du sichergestellt, dass dein Webshop beim Laden der Artikelansicht von nun an auf Dateien aus Coconut zurückgreift und die Artikeldaten für die Artikelansicht ebenfalls aus Coconut erhält. Die Artikeldaten haben wir <a href="#40">hier</a> bereits angepasst. Im nächsten Schritt möchten wir nun sichtbare Anpasungen an der Artikelansicht vornehmen. Welche Dateien dafür angepasst werden müssen, ist abhängig von der Stelle, an der wir das Logo des Artikelherstellers anzeigen lassen wollen.<br></p>
</div>
<div class="paragraph">
<p>Für dieses Beispiel lassen wir das Herstellerlogo an zwei Stellen ausgeben: In den <strong>Artikeldetails</strong> unterhalb des Variantennamens (1) und im Tab <strong>Weitere Details</strong> als Substitut für den Herstellernamen (2):</p>
</div>
<div id="bild-coconut-artikeldaten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/webshop/assets/coconut-hersteller-logo-stellen.png" alt="coconut hersteller logo stellen">
</div>
<div class="title">Bild 1. Stellen an denen das Herstellerlogo angezeigt werden soll</div>
</div>
<div id="70" class="paragraph">
<p>Um das Herstellerlogo in den Artikeldetails und den weiteren Details anzeigen zu lassen, müssen wir die Dateien <strong>SingleItem_Details.twig</strong> (Artikeldetails) und <strong>SingleItem_InformationTable.twig</strong> (Weitere Details) unter <strong>resources/views/Item/Components/SingleItem</strong> anpassen. Wie bei den Ergebnisfeldern <a href="#40">weiter oben</a>, musst du auch hier zunächst die Inhalte aus den Ceres-Dateien kopieren und an der gleichen Stelle im Coconut-Dateibaum einfügen.<br></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>In den leeren Coconut-Dateien ist jeweils der Hinweis <code>&lt;!-- Insert markup here -→</code>. Beim Kopieren der Inhalte aus Ceres solltest du diese Zeile überschreiben, damit die in dieser Anleitung aufgeführten Zeilenangaben zutreffend sind und nicht um eine Zeile verrutschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Zusätzlich müssen die Stellen angepasst werden, die die veränderten Artikeldetails und weiteren Details einbinden. Diese sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>resources/views/Item/SingleItemView.twig</strong></p>
</li>
<li>
<p><strong>resources/views/Item/SingleItemWrapper.twig</strong></p>
</li>
<li>
<p><strong>resources/views/Item/Components/SingleItem.twig</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Das klingt nach viel Aufwand, aber keine Panik: Wenn du dich an diese Anleitung hältst, kann nichts schiefgehen.
Bevor wir die Code-Anpassungen für die Artikeldetails und die weiteren Details einfügen, passen wir in den drei obengenannten Dateien die <strong>Namespaces</strong> an. <strong>Namespaces</strong> definieren, auf welche Code-Stellen zugegriffen werden soll; in den drei Dateien muss der Ceres-Namespace an bestimmten Stellen in Coconut geändert werden.</p>
</div>
<div class="paragraph instruction">
<p>Namespace in der Datei <strong>SingleItemView.twig</strong> ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Dateien</strong>.</p>
</li>
<li>
<p>Öffne die Datei <strong>resources/views/Item/SingleItemView.twig</strong>.</p>
</li>
<li>
<p>Ändere <code>"Ceres::Item.Components.SingleItem"</code> in Zeile 6 in: <code>"CeresCoconut::Item.Components.SingleItem"</code></p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Namespace in der Datei <strong>SingleItemWrapper.twig</strong> ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Dateien</strong>.</p>
</li>
<li>
<p>Öffne die Datei <strong>resources/views/Item/SingleItemWrapper.twig</strong>.</p>
</li>
<li>
<p>Ändere Zeile 22 in: <code>&#123;&#37; include [category_template( item.documents[0].data.item.add_cms_page, lang, webstoreConfig.webstoreId ), "CeresCoconut::Item.SingleItemView"] &#37;&#125;</code></p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Namespace in der Datei <strong>SingleItem.twig</strong> ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Dateien</strong>.</p>
</li>
<li>
<p>Öffne die Datei <strong>resources/views/Item/Components/SingleItem.twig</strong>.</p>
</li>
<li>
<p>Ändere Zeile 17 in: <code>&#123;&#37; include "CeresCoconut::Item.Components.SingleItem.SingleItem_Details" &#37;&#125;</code></p>
</li>
<li>
<p>Ändere Zeile 21 in: <code>&#123;&#37; include "CeresCoconut::Item.Components.SingleItem.SingleItem_InformationTable" &#37;&#125;</code></p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du den Ceres-Namespace an diesen vier Stellen angepasst hast, werden die betreffenden Stellen in Ceres von Coconut überschrieben und wir können die konkreten Änderungen für die Artikelansicht verbauen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Je nachdem, welche Anpassungen du in deinem Coconut-Theme vornimmst, ist es möglich, dass die obigen Zeilenangaben nicht mit dem Zeileninhalt deiner Dateien übereinstimmt. Die Anpassungen ersetzen hier lediglich "Ceres" durch "CeresCoconut"; falls die Zeilenangaben abweichen, kannst du die Zeilen dadurch trotzdem finden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Jetzt weiß Ceres, auf welche Dateien es zugreifen muss, um deine Änderungen im Webshop sichtbar zu machen. Im nächsten Schritt fügen wir das Herstellerlogo an den 2 Stellen auf der Artikelansicht hinzu.</p>
</div>
<div id="80" class="paragraph instruction">
<p>Herstellerlogo unterhalb des Variantennamens einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Navigiere zur Datei <strong>resources/views/Item/Components/SingleItem/SingleItem_Details.twig</strong>.
.Füge nach Zeile 8 unter <code>${ currentVariation.variation.name }</code> die folgende Zeile ein:<br>
<code>&lt;img :src="currentVariation.item.manufacturer.logo" alt="TEXT"&gt;</code></p>
</li>
<li>
<p>Speichere deine Änderungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit dieser Anpassung setzt du unter den Variantennamen (also unter der Variable <strong>${ currentVariation.variation.name }</strong>) ein <strong>&lt;img&gt;</strong>-Tag, über welches du ein Bild einbinden kannst. Das <strong>src</strong>-Attribut gibt die Quelle der Bilddatei an und holt sich in unserem Fall über die Variable <strong>currentVariation.item.manufacturer.logo</strong> die URL die unter <strong>Einrichtung » Artikel » Hersteller » Hersteller wählen » Logo-URL</strong> hinterlegt ist. Das <strong>alt</strong>-Attribut dient dazu, einen Text anzugeben, der ausgelesen wird, falls das Bild nicht angezeigt werden kann und hilft zudem deine Inhalte Menschen mit Sehbehinderungen zugänglich zu machen, wenn deine Website von einem Screenreader vorgelesen wird. Ersetze also den Platzhalter "TEXT" im <strong>alt</strong>-Attribut durch einen Text, der die angezeigte Bilddatei beschreibt.<br>
Du siehst vielleicht, dass das <strong>&lt;img&gt;</strong>-Tag hier etwas anders verwendet wird, als es üblicherweise der Fall ist: Zum einen muss dem <strong>src</strong>-Attribut ein Doppelpunkt vorangstellt werden; zum anderen wird die Variable, mit der auf die Logo-URL zugegriffen wird, nicht mit <strong>$</strong> und den geschwungenen Klammern verwendet. Diese Änderungen sind nötig, da es sich bei der Datei SingleItem_Details.twig um eine Vue.js-Komponente handelt, dessen Syntax etwas anders funktioniert als herkömmliches Twig. Du kannst die Bildgröße durch zusätzliche Attribute hinter <code>alt="TEXT"</code> beinflussen; füge hinter deinem <strong>alt</strong>-Attribut beispielsweise die beiden Attribute <code>width="40" height="40"</code> ein, um die Bildgröße auf 40x40 px zu setzen.<br>
Auf die gleiche Weise binden wir das Herstellerlogo nun auch im Tab <strong>Weitere Details</strong> ein:</p>
</div>
<div class="paragraph instruction">
<p>Herstellerlogo im Tab <strong>Weitere Details</strong> einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Navigiere zur Datei <strong>resources/views/Item/Components/SingleItem/SingleItem_InformationTable.twig</strong>.</p>
</li>
<li>
<p>Ersetze in Zeile 80 die Stelle <code>${ currentVariation.item.manufacturer.externalName }</code> durch <code>&lt;img :src="currentVariation.item.manufacturer.logo" alt="TEXT"&gt;</code></p>
</li>
<li>
<p>Speichere deine Änderungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Diese Anpassung ersetzt <strong>Externer Name</strong> des Herstellers (auf den mit der Variable <strong>${ currentVariation.item.manufacturer.externalName }</strong> zugegriffen wird) durch das Herstellerlogo, sodass im Tab <strong>Weitere Details</strong> das Logo in der Zeile <strong>Hersteller</strong> angezeigt wird.<br></p>
</div>
<div class="paragraph">
<p>Es ist notwendig, dass du das Plugin-Set, in dem du die Anpassungen vorgenommen hast, nochmal <strong>speicherst</strong> und <strong>bereitstellst</strong>. Nach dem Bereitstellungsprozess kannst du eine Artikelseite in deinem Webshop aufrufen und überprüfen, ob die beiden Anpassungen erfolgreich waren. Im Folgenden findest du eine Checkliste mit Schritten, die zwingend notwendig sind, um deine Anpassungen sichtbar zu machen. Bitte gehe diese Punkt für Punkt durch.</p>
</div>
<div class="paragraph">
<p>Checkliste für Änderungen an der Artikelansicht:</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du das Coconut-Plugin installiert und ihm eine <strong>Postitionsnummer</strong> zugewiesen, die zwischen den Positionen von Ceres und IO liegt?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Inhalte der <strong>SingleItem.fields.json</strong> aus Ceres in die Datei <strong>SingleItem.fields.json</strong> in Coconut kopiert?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du weitere Ergebnisfelder (z.B. <strong>item.manufacturer.logo</strong>) in der <strong>SingleItem.fields.json</strong> in Coconut hinzugefügt und die Datei gespeichert?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Option <strong>Artikelansicht</strong> im Tab <strong>Templates</strong> der Coconut-Configuration aktiviert?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die Option <strong>Artikeldaten in der Artikelseite</strong> im Tab <strong>Datenfelder</strong> der Coconut-Konfiguration aktiviert?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du die drei Dateien <strong>SingleItemView.twig</strong>, <strong>SingleItemWrapper.twig</strong> und <strong>SingleItem.twig</strong> hinsichtlich der Namespaces angepasst?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du deine eigenen Anpassungen in den Dateien <strong>SingleItem_Details.twig</strong> und <strong>SingleItem_InformationTable.twig</strong> eingebaut?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du alle Änderungen in Coconut gespeichert?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Hast du das Plugin-Set gespeichert und neu bereitgestellt?</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Solltest du Fragen oder Anregungen rund um Ceres Coconut haben, kannst du uns gerne deine Gedanken im <a href="https://forum.plentymarkets.com/c/ceres-webshop/ceres-vanilla">Forum</a> mitteilen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Für alle Anpassungen gilt:</div>
<div class="ulist">
<ul>
<li>
<p>Um Anpassungen in einer Coconut-Datei zu machen, solltest du zunächst den Inhalt der entsprechenden Datei aus Ceres nach Coconut kopieren.</p>
</li>
<li>
<p>Du musst die <strong>Namespaces</strong> in allen Dateien ändern, die von dir geänderte Dateien einbinden.</p>
</li>
<li>
<p>Das betreffende Plugin-Set muss <strong>gespeichert und bereitgestellt</strong> werden, damit Änderungen im Webshop sicht bar werden.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Änderungen in Coconut, die du im Laufe dieses Kapitels durchgeführt hast, sollen exemplarisch für Änderungsvorgänge sein. Neben dem <strong>Herstellerlogo</strong> kannst du natürlich <a href="https://developers.plentymarkets.com/dev-doc/result-fields-ceres" target="_blank" rel="noopener">jedes verfügbare Ergebnisfeld</a> in dein Design integrieren. Je nachdem an welcher Stelle du welches Ergebnisfeld verwenden willst, weichen einzelne Schritte von dieser Anleitung ab; im Großen und Ganzen sind die Vorgänge jedoch sehr ähnlich. Nimm dir etwas Zeit und vergleiche deine Artikelansicht im Webshop mit den Dateien <strong>SingleItem.Twig</strong>, <strong>SingleItem_Details.twig</strong> und <strong>SingleItem_InformationTable.twig</strong> und zieh dabei die Liste der Ergebnisfelder zu Rate - du wirst schnell lernen, welche Code-Stellen mit welchen Stellen im Webshop korrespondieren.</p>
</div>
</div>
<div class="sect2">
<h3 id="85">1.3. Wunschliste ausblenden</h3>
<div class="paragraph">
<p>In diesem Unterkapitel wollen wir exemplarisch ein Element in der Artikelansicht ausblenden, in unserem Beispiel die Schaltfläche <strong>Zur Wunschliste hinzufügen</strong>.
Die Änderungen, die du in <a href="#55">Kapitel 1.2</a> gemacht hast, werden hierfür vorausgesetzt, d.h. dass <a href="#70">die Namespaces</a> wie oben beschrieben auf <strong>CeresCoconut</strong> geändert sein müssen.<br>
Das Ausblenden von Elementen funktioniert in der Regel immer gleich: Suche die relevante Stelle im Code, entferne sie, speichere die Einstellungen und stelle dein Plugin-Set erneut bereit. Wir begleiten dich einmal durch den gesamten Prozess:</p>
</div>
<div class="paragraph instruction">
<p>Wunschliste in der Artikelansicht ausblenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.<br>
→ Die Plugin-Übersicht wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das gewünschte Plugin-Set.</p>
</li>
<li>
<p>Klicke auf <strong>Ceres Coconut</strong>.<br>
→ Das Plugin wird geöffnet.</p>
</li>
<li>
<p>Navigiere zur Datei <strong>resources/views/Item/Components/SingleItem/SingleItem_Details.twig</strong>.</p>
</li>
<li>
<p>Entferne die Zeilen 104-108. Die Code-Stelle beginnt mit <code>&#123;&#37; if "wish-list"</code> und endet mit <code>&#123;&#37; endif &#37;&#125;</code></p>
</li>
<li>
<p>Speichere deine Änderungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die entfernte Stelle beinhaltet eine <strong>if-Abfrage</strong>, die überprüft, ob die Route zur Wunschliste im Plugin <strong>IO</strong> aktiviert ist. Ist diese aktiviert, wird die Schaltfläche angezeigt und fügt die geöffnete Variante entlang ihrer Varianten-ID zur Wunschliste hinzu. Durch das Entfernen der Stelle, wird die Schaltfläche permanent ausgeblendet. Nach erneutem Bereitstellen deines Plugin-Sets wird die Schaltfläche <strong>Zur Wunschliste hinzufügen</strong> nicht mehr angezeigt.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Startseite überschreiben</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>coming soon</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Kategorieseite anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>coming soon</strong></p>
</div>
</div>
</div>
</main>