<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ElasticSearch Ergebnisfelder</h1><div class="paragraph">
<p>Diese Handbuchseite gibt einen Überblick darüber, welche Elasticsearch <strong>Ergebnisfelder</strong> genutzt werden können, um auf Informationen zuzugreifen, für die es im ehemaligen Webshop Callisto <a href="/webshop/webshop-einrichten/cms-syntax#_globale_template_variablen_2">Template-Variablen</a> gab.</p>
</div><div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Diese Handbuchseite befindet sich gegenwärtig im Aufbau. Die aufgeführte Liste ist zum jetzigen Zeitpunkt unvollständig und wird nach und nach erweitert.</p>
</div>
</td>
</tr>
</tbody></table>
</div><table id="tabelle-ES-Ergebnisfelder" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. ES-Ergebnisfelder und Template-Variablen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 37.5%;">
<col style="width: 37.5%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">ES Ergebnisfeld</th>
<th class="tableblock halign-left valign-top">Template-Variable</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.default.<br>
customerClassDiscountPercent</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$PriceColumnDiscountPercentage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Prozentsatz des an der Kundenklasse des derzeit eingeloggten Kunden hinterlegten Rabatts auf die Preisstaffelung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.formatted.rrpPrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$RRP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die unverbindliche Preisempfehlung des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Preis des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.priceNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ShowNetPrices</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Nettopreis des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.prices.<br>
default.price.value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Preis des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculated.Prices.rrp.price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$RRPDecimalSeparatorDot</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die unverbindliche Preisempfehlung mit Punkt als Dezimaltrennzeichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">defaultCategories[0].id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ItemBranchID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die ID der Standardkategorie des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">filter.hasAttribute</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$AttributeExist</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet eine Abfrage, ob ein Artikel Attribute hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">filter.search.german.properties</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ItemParamsList</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet ein Array mit Merkmalen, die zu einem Artikel gehören. Hinweis:</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].names.alternate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ImageAlt[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Alternativtext des Artikelbilds.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].names.name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ImageName[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Namen des Artikelbilds.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ImageURL[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die URL des Artikelbilds mit höchster Auflösung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].urlMiddle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$MiddleSizeImageURL[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die URL des Artikelbilds mit mittlerer Auflösung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0].urlPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$PreviewImageURL[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet das Vorschaubild des Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.all[0]urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$SecondPreviewImageURL[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die URL des zweiten Vorschaubilds eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.item.urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$SecondPreviewImageURL[25]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die URL des zweiten Vorschaubilds eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images.variation.urlSecondPreview</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$SecondPreviewImage[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet das zweite Vorschaubild eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.ageRestriction</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$FSK</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Altersfreigabe eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.condition.names.name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Condition</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Zustand eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$CreationDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet das Erstellungsdatum eines Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.isSubscribable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$IsSubscriptionItem</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Information, ob ein Artikel als Abonnement gekauft werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.itemID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ID  / $CurrentItemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Artikel-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.manufacturer.externalName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ProducerExternalName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den externen Namen des Artikelherstellers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.manufacturer.logo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ProducerLogo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die URL des Herstellerlogos</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.manufacturer.name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Producer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet der Namen des Artikelherstellers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.storeSpecial.id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ActionID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die ID der Shop-Aktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">item.variation.packingUnits</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$PackagingUnit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Verpackungseinheit eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">calculatedPrices.default.vatValue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$VAT</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Prozentsatz der Umsatzsteuer des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">salesPrices[0].names.priceId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$PriceID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die ID des Preissets des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stock.net</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$StockList</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den physischen Warenbestand des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Vorschautext eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.name1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Name[1]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den ersten hinterlegten Artikelnamen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.name2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Name[2]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den zweiten hinterlegten Artikelnamen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.name3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Name[3]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den dritten hinterlegten Artikelnamen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.shortDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$DescriptionShort</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Artikeltext.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.technicalData</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$TechnicalData</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die technischen Daten eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">texts.urlPath</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Name4URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL-Pfad des Artikels im Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">unit.content</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Lot</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Inhalt der Verkaufseinheit des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.availableUntil</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ExpirationDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet das "Verfügbar bis"-Datum eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.availability.id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$AvailabilityID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die ID der Verfügbarkeit des Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.availability.names.name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$AvailabilityString</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Namen der Artikelverfügbarkeit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.createdAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$CreationDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet das Erstellungsdatum eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.defaultShippingCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$DefaultShippingCosts</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Standardversandkosten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.externalID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ExternalVariationID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die externe ID der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.heightMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Height</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Höhe des Artikels in Millimeter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.id</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$VariationID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die ID der Variante.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.intervalOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$OrderQuantityInterval</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Intervallbestellmenge eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.itemId</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Artikel-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.lengthMM</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Length</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Länge des Artikels in Millimeter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.maximumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$OrderQuantityMax</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enthält die maximale Bestellmenge eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.minimumOrderQuantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$OrderQuantityMin</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enthält die Mindestbestellmenge eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.model</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Model</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet die Modell-Bezeichnung eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enthält die Variantennummer eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.releaseAt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$ReleaseDate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enthält das Erscheinungsdatum eines Artikels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.stockLimitation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$LimitOrderByStock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet den Wert für die Bestandsbeschränkung eines Artikels, wobei 0 = Keine Beschränkung, 1 = Beschränkung auf Netto-Warenbestand, 2 = Keinen Warenbestand für diesen Artikel führen entspricht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.weightG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$Weight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet das Artikelgewicht in Gramm.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">variation.weightNetG</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">$WeightNet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beinhaltet das Netto-Gewicht eines Artikels in Gramm.</p></td>
</tr>
</tbody>
</table>
</main>