<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> CSS-Anpassungen</span></a>
<ul class="sectlevel2">
<li><a href="#_hindergrundfarbe_der_top_bar_ändern"><span>1.1.</span><span> Hindergrundfarbe der Top-Bar ändern</span></a></li>
<li><a href="#_schriftart_des_titelleisten_widgets_ändern"><span>1.2.</span><span> Schriftart des Titelleisten-Widgets ändern</span></a></li>
<li><a href="#_schriftgröße_im_titelleisten_widgets_ändern"><span>1.3.</span><span> Schriftgröße im Titelleisten-Widgets ändern</span></a></li>
<li><a href="#_hintergrundbild_ändern"><span>1.4.</span><span> Hintergrundbild ändern</span></a></li>
<li><a href="#_transparenten_layer_über_hintergrundbild_legen"><span>1.5.</span><span> Transparenten Layer über Hintergrundbild legen</span></a></li>
<li><a href="#_parallax_effekt_von_kategoriebildern_entfernen"><span>1.6.</span><span> Parallax-Effekt von Kategoriebildern entfernen</span></a></li>
<li><a href="#_textfarbe_der_artikelnamen_in_artikellisten_ändern"><span>1.7.</span><span> Textfarbe der Artikelnamen in Artikellisten ändern</span></a></li>
<li><a href="#_rahmen_für_artikel_in_artikellisten"><span>1.8.</span><span> Rahmen für Artikel in Artikellisten</span></a></li>
<li><a href="#_abstände_der_artikellisten_ändern"><span>1.9.</span><span> Abstände der Artikellisten ändern</span></a></li>
<li><a href="#_zum_warenkorb_hinzufügen_symbol_entfernen"><span>1.10.</span><span> Zum Warenkorb hinzufügen-Symbol entfernen</span></a></li>
<li><a href="#_streichpreis_einfärben"><span>1.11.</span><span> Streichpreis einfärben</span></a></li>
<li><a href="#_den_hover_effekt_der_artikelliste_auf_der_artikelansicht_hinzufügen"><span>1.12.</span><span> Den Hover-Effekt der Artikelliste auf der Artikelansicht hinzufügen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Begleitmaterial zum Webinar "Das Einmaleins des Shop-Designs"</h1><div id="preamble">
<div class="sectionbody">
<div id="10" class="paragraph">
<p>In <a href="https://vimeo.com/335379273" target="_blank" rel="noopener">Das Einmaleins des Shop-Designs - mit eigenem CSS zum individuellen Webshop</a> haben wir dir gezeigt, wie man mit dem Plugin <strong>CustomCSS</strong> und einigen einfachen Handgriffen weitreichende Änderungen am Design des Ceres-Webshops erzielen kann. Da man im Eifer des Gefechts nicht immer durch ein fast einstündiges Video klicken muss, findest du hier alle Anpassungen, die wir dir im Webinar eingebaut haben.<br>
Das notwendige kostenlose Plugin findest du <a href="https://marketplace.plentymarkets.com/plugins/widgets/CfourCustomCssJs_5143" target="_blank" rel="noopener">hier</a>. Wie man das Plugin dem System hinzufügt, erfährst du auf unserer <a href="/plugins-neue-plugins">Handbuchseite zu Plugins</a>.<br></p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. CSS-Anpassungen</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_hindergrundfarbe_der_top_bar_ändern">1.1. Hindergrundfarbe der Top-Bar ändern</h3>
<div class="paragraph">
<p>Mit dem folgenden CSS-Snippet lässt sich die Hintergrundfarbe des Header-Widgets <strong>Top-Bar</strong> ändern. Gib hierfür einen eigenen Hex-Wert für die Hintergrundfarbe an.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.top-bar {
    background-color: #008ebd;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_schriftart_des_titelleisten_widgets_ändern">1.2. Schriftart des Titelleisten-Widgets ändern</h3>
<div class="paragraph">
<p>Das folgende CSS-Snippet ändert die Schriftart des ShopBuilder-Widgets <strong>Titelleiste</strong>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.widget-title-bar {
    font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_schriftgröße_im_titelleisten_widgets_ändern">1.3. Schriftgröße im Titelleisten-Widgets ändern</h3>
<div class="paragraph">
<p>Mit dem folgenden CSS-Snippet kannst du die Schriftgröße des Texts im Widget <strong>Titelleiste</strong> ändern. Gib dazu die Schriftgröße in px an.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.widget-title-bar h1 {
    font-size: 50px;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_hintergrundbild_ändern">1.4. Hintergrundbild ändern</h3>
<div class="paragraph">
<p>Das folgende CSS-Snippet zeigt ein Hintergrundbild in deinem plentyShop an, das du über eine URL einbindest.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.wrapper-main {
    background-image: url();
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_transparenten_layer_über_hintergrundbild_legen">1.5. Transparenten Layer über Hintergrundbild legen</h3>
<div class="paragraph">
<p>Mit dem folgenden CSS-Snippet kannst du einen transparenten Layer über dein Hintergrundbild legen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.main .container-max {
    background-color: rgba(255,255,255,0.8);
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_parallax_effekt_von_kategoriebildern_entfernen">1.6. Parallax-Effekt von Kategoriebildern entfernen</h3>
<div class="paragraph">
<p>Das folgende CSS-Snippet entfernt den Parallax-Effekt des Kategoriebilds.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.parallax-img-container-inner {
    background-attachment: scroll !important;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_textfarbe_der_artikelnamen_in_artikellisten_ändern">1.7. Textfarbe der Artikelnamen in Artikellisten ändern</h3>
<div class="paragraph">
<p>Mit dem folgenden CSS-Snippet änderst du die Farbe von Artikelnamen in Artikellisten. Gib dazu einen Hex-Wert für die Farbe des Texts an. Das Snippet beinhaltet auch die Schriftgröße.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.thumb-title {
    color: #008ebd !important;
    font-size: 18px;
    text-shadow:  1px 1px 1px lightblue;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_rahmen_für_artikel_in_artikellisten">1.8. Rahmen für Artikel in Artikellisten</h3>
<div class="paragraph">
<p>Das folgende CSS-Snippet zeigt einen Rahmen um Artikel in Artikellisten an.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.cmp-product-thumb {
    border: 1px solid lightgray;
    border-radius: 5px;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_abstände_der_artikellisten_ändern">1.9. Abstände der Artikellisten ändern</h3>
<div class="paragraph">
<p>Mit diesem CSS-Snippet kannst du die Abstände zwischen Artikellisten anpassen.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.product-list li {
    padding-left: 5px;
    padding-right: 5px;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_zum_warenkorb_hinzufügen_symbol_entfernen">1.10. Zum Warenkorb hinzufügen-Symbol entfernen</h3>
<div class="paragraph">
<p>Wenn du das <strong>Zum Warenkorb hinzufügen</strong>-Symbol auf Artikelkacheln entfernen willst, kannst du dafür das folgende CSS-Snippet verwenden.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.add-to-basket-lg-container {
    display: none;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_streichpreis_einfärben">1.11. Streichpreis einfärben</h3>
<div class="paragraph">
<p>Dieses CSS-Snippet bestimmt die Farbe des Streichpreises.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.crossprice {
    color: red !important;
}</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_den_hover_effekt_der_artikelliste_auf_der_artikelansicht_hinzufügen">1.12. Den Hover-Effekt der Artikelliste auf der Artikelansicht hinzufügen</h3>
<div class="paragraph">
<p>Wenn du den Hover-Effekt, also die Hervorhebung des Bilds wenn du mit der Maus darüber schwebst, auch auf der Artikeleinzelansicht einbinden willst, kannst du dafür folgendes CSS-Snippet verwenden.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">.owl-lazy {
    transition: transform 0.4s;
}
.owl-lazy:hover {
    transform: scale(1.05);
}</code></pre>
</div>
</div>
</div>
</div>
</div>
</main>