<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_1_info_estimated_stock_turnover_and_reorder_levels"><span>1.</span><span> 1) Info: estimated stock turnover and reorder levels</span></a></li>
<li><a href="#_2_details_about_the_statistic"><span>2.</span><span> 2) Details about the statistic</span></a></li>
<li><a href="#_3_settings"><span>3.</span><span> 3) Settings</span></a></li>
<li><a href="#_4_data_export"><span>4.</span><span> 4) Data export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Reorder levels</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistics</strong>→ Type of statistic:<strong><strong>*Warehouse /</strong><strong>Estimated stock turnover and reorder levels</strong></strong>*</p>
</div>
<div class="paragraph">
<p>**[IMPORTANT]
.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Topics or settings of this chapter:</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>1) <a href="/en/basics/statistics/general-statistics/warehouse/reorder-levels#1">Info: estimated stock turnover and reorder levels</a></p>
</div>
<div class="paragraph">
<p>2) <a href="/en/basics/statistics/general-statistics/warehouse/reorder-levels#2">Details about the statistic</a></p>
</div>
<div class="paragraph">
<p>3) <a href="/en/basics/statistics/general-statistics/warehouse/reorder-levels#3">Settings</a></p>
</div>
<div class="paragraph">
<p>4) <a href="/en/basics/statistics/general-statistics/warehouse/reorder-levels#4">Data export</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_1_info_estimated_stock_turnover_and_reorder_levels">1. 1) Info: estimated stock turnover and reorder levels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This statistic shows the <strong>stock turnover</strong> of your items sorted into categories according to their stock turnover in days. It also shows how many <strong>items</strong> were sold <strong>in one category</strong> during the selected <strong>time span</strong>. Default setting for the time span: the <strong>last 30 days</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_2_details_about_the_statistic">2. 2) Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>stock</strong> and the <strong>number of items that were sold</strong> within the selected <strong>time span</strong> will be displayed. This data will be used to calculate the stock turnover in days and group the data into categories. If no items fall into a particular stock turnover category, then the point <strong>0</strong> will be displayed on the line graph and no column will be displayed behind it. The <strong>number of items that were sold</strong> within the selected time period and the corresponding <strong>stock</strong> will be displayed as <strong>information in a mouseover</strong> (see image 1). In this statistic you can see, e.g. whether there are items that only have enough stock to last a few more days. If so, then you will know that there are certain items that need to be reordered.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title"><strong>Show details (mouseover)</strong></div>
<div class="paragraph">
<p>Point your <strong>cursor</strong> at one of the elements in the statistic in order to see <strong>details</strong> about that particular element.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>In image 1, you can see that a <strong>stock of 60 items</strong> has a <strong>stock turnover of 22 - 60 days</strong> and that <strong>2 of these items</strong> was sold during the selected time span.&nbsp;Furthermore, you can see that many items have a stock turnover that is listed as <strong>less than 7 days</strong> and that you need to <strong>reorder these items</strong> as soon as possible.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-ENG-Statistik-Meldebestaende01-SI.png" alt="EN ENG Statistik Meldebestaende01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>estimated stock turnover and reorder levels</strong> statistic</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: <strong>Save a reorder level</strong></div>
<div class="paragraph">
<p>Be sure to save a <strong>reorder level</strong> for your items. Make sure that the reorder level gives you enough time to actually receive the new items before you run out of stock. If the statistic shows you that several items need to be reordered (like in image 1), then you can use filter options to search for those items that have <strong>reached</strong> or are <strong>below the reorder level</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_3_settings">3. 3) Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>settings</strong> described below are available for this statistic.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-ENG-Statistik-Meldebestaende02-SI.png" alt="EN ENG Statistik Meldebestaende02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>estimated stock turnover and reorder levels</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>Explanations of the options</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry/Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In this drop-down menu, you can choose how you want the statistics to be displayed.<br>
<strong>Bar and line chart</strong> = Displays the values as bars and lines<br>
<strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <strong>CSV file</strong>. The file contains the same parameters as are displayed with the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Raw data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The raw data export also generates a <strong>CSV file</strong>. However, the file contains a more detailed set of data. For example, instead of simply indicating the number of sales orders that were generated on a specific day, the CSV file includes relevant data fields for each individual sales order, such as the <strong>sales order ID</strong>, <strong>price</strong> etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Displaying the values</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on the diagram legend in the lower left corner to make a specific set of values <strong>visible</strong> or <strong>invisible</strong> in the diagram. This allows you to display data separately, i.e. to look at some aspects of the data and hide others. This can help you recognize individual values more easily if your data set is very complicated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the <strong>name</strong> of the statistic that was entered when the statistic was created. You can change the name here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Time span</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Each type of statistic has a default setting for <strong>time span</strong> that you can see in table 1 on the <a href="/en/basics/statistics"><strong>Statistics</strong></a> page of the manual. You can choose from a number of predefined time spans in a drop-down menu. In addition for some types of statistics you have the possibility to enter a time span by entering a <strong>start and end date</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change</strong> the <strong>time span</strong> if no or only very few data is shown and then click on the save icon to see the result. Choosing a <strong>larger time span</strong> will give you more information. If there is a lot of data, then a <strong>shorter time span</strong> may make more sense in order to be able to actually interpret the graphic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Starting date …​ Ending date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can enter a specific <strong>starting and ending date</strong> here instead of selecting a <strong>time span</strong> (optional).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status options</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Depending on the type of statistic there are different options available to narrow down the <strong>status</strong>. There are <strong>standard values</strong> set by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>All types of sales orders</strong> are included in the statistical analysis except for <strong>cancellations</strong>. This means that <strong>status 8</strong> and <strong>8.1</strong> are excluded from the statistic. <strong>Returns</strong> are included.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Multishop</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>webshops</strong> or <strong>multishops</strong> that you would like to include into the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item referrer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can select one or more <strong>item referrers</strong>. You can also use the option <strong>All</strong> to select all of the available item referrers at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Partition</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Here you can save the values that you want to use for the different <strong>stock turnover</strong> ranges. Enter the highest value that you want to use for each stock turnover range. The lowest value will automatically be calculated by adding 1 to the highest value of the previous stock turnover range. You can save additional time periods by clicking on the <strong>plus icon</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>;</em><em><strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_4_data_export">4. 4) Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described in table 1, you can choose between a simple and a detailed export. An example of each is provided below.</p>
</div>
<div class="paragraph">
<p>Exporting the diagram data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>Division</strong> = Partition, <strong>DivisionDefinition</strong> = Stock turnover, <strong>Stock</strong> = Stock, <strong>SoldItems</strong> = Number of sold items</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-Statistik-Meldebestaende-03-SI.png" alt="EN Statistik Meldebestaende 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>estimated stock turnover and reorder levels</strong> statistic; simple export</em></p>
</div>
<div class="paragraph">
<p>Exporting the raw data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>OrderID</strong> = Sales order ID, <strong>OrderType</strong> = Type of sales order,<strong>Stock</strong> = Stock, <strong>ItemID</strong> = Item ID, <strong>AttributeValueSetID</strong> = Item variant ID, <strong>SoldItems</strong> = Number of sold items</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-Statistik-Meldebestaende-04-SI.png" alt="EN Statistik Meldebestaende 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>estimated stock turnover and reorder levels</strong> statistic; raw data export</em>**</p>
</div>
</div>
</div>
</main>