<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_info_stock"><span>1.</span><span> Info: stock</span></a></li>
<li><a href="#_details_about_the_statistic"><span>2.</span><span> Details about the statistic</span></a></li>
<li><a href="#_settings"><span>3.</span><span> Settings</span></a></li>
<li><a href="#_data_export"><span>4.</span><span> Data export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start &gt; Statistics → Type of statistic: Warehouse / Stock</strong></p>
</div>
<div class="paragraph">
<p>If you have carried out changes, entered data or changed settings, click on the save icon in order to save your configuration before leaving the area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_info_stock">1. Info: stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Shows the <strong>current stock</strong> by <strong>variant</strong>. Shows the <strong>value</strong> and the <strong>number of items</strong> of the <strong>available stock</strong> and of the <strong>reserved stock</strong>. It also shows many other parameters relating to the current stock.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_details_about_the_statistic">2. Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>value of items per variant</strong> and the <strong>stock</strong> will be displayed for the particular <strong>warehouse</strong> that was selected. If no stock is available for a variant, then no data will be displayed. In this statistic you can see, e.g. how much available and reserved stock is available for the different variants in each warehouse and what the value of this stock is.</p>
</div>
<div class="paragraph">
<p><strong>Show details (mouseover)</strong></p>
</div>
<div class="paragraph">
<p>Point your <strong>cursor</strong> at one of the elements in the statistic in order to see <strong>details</strong> about that particular element.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>In the first row of image 1, you can see that the variant’s value of net stock is <strong>38.00 Euro</strong>. The variant’s <strong>value of physical stock</strong> is <strong>41.80 Euro</strong>. The <strong>reserved stock</strong> is <strong>1 item</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-ENG-Statistik-Warenbestand-01.png" alt="EN ENG Statistik Warenbestand 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>stock</strong> statistic</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_settings">3. Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>settings</strong> described below are available for this statistic.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-ENG-Statistik-Warenbestand-02.png" alt="EN ENG Statistik Warenbestand 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>stock</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>Explanations of the options</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry/Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In this drop-down menu, you can choose how you want the statistics to be displayed.<br>
<strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <strong>CSV file</strong>. The file contains the same parameters as are displayed with the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Raw data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The raw data export also generates a <strong>CSV file</strong>. However, the file contains a more detailed set of data. For example, instead of simply indicating the number of sales orders that were generated on a specific day, the CSV file includes relevant data fields for each individual sales order, such as the <strong>sales order ID</strong>, <strong>price</strong> etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the <strong>name</strong> of the statistic that was entered when the statistic was created. You can change the name here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Select</strong> which <strong>warehouse</strong> should be included in the statistic or use the option <strong>All</strong> to include all of the warehouses.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Price selection</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select from the following options:<br>
<strong>Average purchase price</strong> = The <strong>average purchase price</strong> that was calculated by the system.<br>
<strong>Current purchase price</strong> = The <strong>current purchase price</strong> that is saved in the item data.<br>
<strong>Use average purchase price unless 0, then current purchase price</strong> = If <u>no average purchase price is saved</u>, then the <strong>current purchase price</strong> will be used instead.<br>
<strong>Retail price</strong> = The price that is saved in the item data. This is saved in the <strong>Price</strong> field.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Limitation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>You can select a particular <strong>status</strong> for your stock here, e.g. <strong>Below reorder level</strong>. Then only the stock with this status will be analyzed. The default setting is <strong>All</strong>, which means that the entire stock will be analyzed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Marking 1 / 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select markings from the drop-down menus <strong>Marking 1</strong> and <strong>Marking 2</strong> if you only want items that have the selected markings to be included in the statistic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inactive items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the option (place a check mark) if you want to include items in the statistic that are <strong>inactive</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <strong>Inactive</strong> setting can be found in the <strong>Available</strong> tab of each item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item bundle</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the option (place a check mark) if you want to include <strong>item bundles</strong> in the statistic.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>;</em><em><strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_data_export">4. Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described in table 1, you can choose between a simple and a detailed export. An example of each is provided below.</p>
</div>
<div class="paragraph">
<p>Exporting the diagram data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Data fields</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p><strong>ItemID</strong> = Item ID, <strong>PriceID</strong> = The item’s price ID, <strong>WarehouseID</strong> = Warehouse ID, <strong>AttributeValueSetID</strong> = Item variant ID, <strong>ItemName</strong> = Item name, <strong>VariationName</strong> = Name of the item variant, <strong>WarehouseName</strong> = Name of the warehouse, <strong>PhysicalStock</strong> = Available stock plus reserved stock, <strong>NetStock</strong> = Available stock, <strong>ReservedStock</strong> = Reserved stock, <strong>ValueOfNetStock</strong> = Value of available stock, <strong>ValueOfPhysicalStock</strong> = Value of available stock plus value of reserved stock, <strong>ValueOfReservedStock</strong> = Value of reserved stock</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-ENG-Statistik-Warenbestand-03.png" alt="EN ENG Statistik Warenbestand 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>stock</strong> statistic; simple export</em></p>
</div>
<div class="paragraph">
<p>Exporting the raw data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Data fields</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p><strong>ItemID</strong> = Item ID, <strong>PriceID</strong> = The item’s price ID, <strong>WarehouseID</strong> = Warehouse ID, <strong>AttributeValueSetID</strong> = Item variant ID, <strong>ItemName</strong> = Item name, <strong>VariationName</strong> = Name of the item variant, <strong>WarehouseName</strong> = Name of the warehouse, <strong>PhysicalStock</strong> = Available stock plus reserved stock, <strong>NetStock</strong> = Available stock, <strong>ReservedStock</strong> = Reserved stock, <strong>ValueOfNetStock</strong> = Value of available stock, <strong>ValueOfPhysicalStock</strong> = Value of available stock plus value of reserved stock, <strong>ValueOfReservedStock</strong> = Value of reserved stock</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-ENG-Statistik-Warenbestand-04.png" alt="EN ENG Statistik Warenbestand 04">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>stock</strong> statistic; raw data export</em></p>
</div>
</div>
</div>
</main>